[2018-03-20 22:11] sethmcleod commented on #430
Thank you both! Feeling much better today.

I finally have a chance to knock some of this out; just need some clarity on one of the acceptance criteria. What exactly is expected here @PixelantDesign?

[2018-03-20 22:39] scottydelta commented on #450
@owocki I am working on it, will try to give a demo soon.

[2018-03-20 23:43] sethmcleod commented on #430
Here is what the tip screen looks like with the Muli font. I updated some of the text weights and toned down the letter-spacing, which was a bit excessive.

![image](https://user-images.githubusercontent.com/7340187/37688496-d4c19146-2c76-11e8-9dca-f7a9a47bd6f9.png)

[2018-03-21 00:36] #478 closed

[2018-03-21 01:02] PixelantDesign commented on #543
@owocki is this done?

[2018-03-21 01:08] PixelantDesign commented on #508
This is being addressed in the updated start work flow

[2018-03-21 01:08] #508 closed

[2018-03-21 01:11] PixelantDesign commented on #494
Should we close this then? @owocki

[2018-03-21 01:21] PixelantDesign commented on #221
@owocki are we able to close this?

[2018-03-21 02:06] PixelantDesign commented on #380
looking good @kennethashley!

[2018-03-21 02:19] PixelantDesign commented on #430
@sethmcleod looking good!

- On both modals, could we use default button styles from the UI Kit?
- Could we make Send Tip a little smaller? Also looks off centered.
- On screen 3 could we use the same background (apply transparency if needed)?
- Could you also the apply UI Kit font color? It all looks a little light right now
- Remove : after I AM A

Thanks!

[2018-03-21 02:42] PixelantDesign commented on #575
we can adapt the heart framework.

[2018-03-21 05:46] KennethAshley commented on #380
![new](https://user-images.githubusercontent.com/1138619/37695960-8a3e663e-2ca9-11e8-9961-9d5912ffd821.png)

@owocki @PixelantDesign Pretty simple "new" page. Probably needs more love.

[2018-03-21 06:09] leonprou commented on #408
I'll try this today 😊
I should do submit work, right?

On Tue, Mar 20, 2018, 22:21 Kevin Owocki <notifications@github.com> wrote:

[2018-03-21 09:22] kziemianek commented on #666
I'll push changes in a couple of days.

[2018-03-21 09:56] thelostone-mc commented on #380
@KennethAshley I like it :D *woot* *woot*

[2018-03-21 12:44] michelgotta commented on #594
@owocki @mbeacom I think https://github.com/gitcoinco/web/issues/354 would be a great follow up for me. I think this issue could be closed for now. Will provide another minor update on this widget in a few days. (BTW: This is one fun project!)

[2018-03-21 14:07] owocki commented on #556
might be worth speccing this out next community call

[2018-03-21 14:12] diamondtrust66 commented on #561
I've started work on this issue. I'm doing manual exploration on Chrome for Windows, Safar for iPad and Chrome for Android.

I'll add other devices soon.

[2018-03-21 14:25] sethmcleod commented on #430
Thanks for the feedback @PixelantDesign, here are some comments:

- Sure, I'll update the button styles
- It is actually centered, I guess the emoji width is making it look off. I'll make that text a bit smaller
- I believe we can do that if we make _/get-started_ a separate page vs a modal. Even though the tip page is built to look like a modal, those fancy background styles are being applied to

[2018-03-21 14:35] sethmcleod commented on #430
Ahh that `--build` flag is what I was missing. Thanks @mbeacom!

[2018-03-21 14:41] kziemianek commented on #666
Prepared in #675

[2018-03-21 15:07] owocki commented on #543
no... the embed banners are repo-centric, not issue-centric

ex:
<img src='https://gitcoin.co/funding/embed?repo=https://github.com/gitcoinco/metamask' >

[2018-03-21 15:08] #494 closed

[2018-03-21 15:09] #221 closed

[2018-03-21 15:53] owocki commented on #221
https://github.com/gitcoinco/web/pull/673

[2018-03-21 15:54] michelgotta opened #676 "Links opening in new tab/window open in same target"
Throughout the platform links opening in new window have target set to "new". Opening several links override the open page. The right way to open links in a new window is:

`<a href="[…]" target="_blank" rel="noopener noreferrer">Foobar</a>`

Read:
https://stackoverflow.com/questions/4964130/target-blank-vs-target-new
https://mathiasbynens.github.io/rel-noopener/

Will provide a pull request.

[2018-03-21 17:06] itsN1X commented on #567
Call him GB - jeebee -GiB !

[2018-03-21 17:51] mbeacom commented on #477
@g33klord We'll be merging in Celery integration either today or tomorrow via:  https://github.com/gitcoinco/web/pull/668

[2018-03-21 17:52] mbeacom commented on #520
Fulfilled in: #668

[2018-03-21 17:54] maektwain commented on #354
Would like to work on this issue.

1. PULL data from gitcoin api to show current bounties and fulfilled on the given bounty_owner_address.

Let me know if this is what we want.

[2018-03-21 17:54] mbeacom commented on #594
@michelgotta Can you `submit work` for this bounty at: https://gitcoin.co/issue/gitcoinco/web/594

[2018-03-21 18:03] mbeacom opened #678 "TypeError: Object of type 'BountyFulfillment' is not JSON serializable"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/581/](https://rollbar.com/gitcoin/gitcoin/items/581/)

[code]

[2018-03-21 18:16] #678 closed

[2018-03-21 18:56] michelgotta commented on #594
I have done this before and did it again: https://github.com/gitcoinco/web/issues/594#issuecomment-374070277

[2018-03-21 18:58] mbeacom commented on #594
@michelgotta Whoops! My mistake.  Thanks!

[2018-03-21 19:01] michelgotta commented on #594
No problem! 😸

[2018-03-21 19:31] owocki commented on #594
paying out now

[2018-03-21 19:31] #594 closed

[2018-03-21 19:46] owocki opened #679 "gitcoin.co/new issue page not responsive"
not the whole page, just the three select boxes at the bottom

![unnamed](https://user-images.githubusercontent.com/513929/37733589-2a9f7c3a-2d0e-11e8-8577-7c804126a7d0.jpg)

[2018-03-21 19:46] owocki opened #680 "Identify Trust Wallet (instead of Metamask)"
https://github.com/TrustWallet/trust-web3-provider

If the user is using a non metamask wallet, we should be able to handle that in both name / imagery:

![unnamed](https://user-images.githubusercontent.com/513929/37733605-4543c8d4-2d0e-11e8-816f-9836058b28dc.jpg)

[2018-03-21 19:49] owocki opened #681 "better guide rails around what tasks are a good fit for gitcoin, how to price them"
https://github.com/SoftwareEngineeringDaily/sedaily-front-end/issues/244

just got off a podcast interview with teh host of SEDaily.  he tried a gitcoin bounty (above) but said he only paid $50 and that the code wasnt really usable… so he ended up having the bounty person refactor some code (a task that was better defined than the original) task and that was worth it..

i wonder if theres some lea

[2018-03-21 19:51] owocki commented on #197
this works!

[2018-03-21 19:52] owocki commented on #408
yep :)

[2018-03-21 21:04] mkosowsk commented on #681
This is from the perspective of a Funder?

This gets into ticket grooming and when a ticket is ready to be worked on (so-called "Definition of Ready"). A few sections that could be interesting as part of guardrails:

0. The "As a/I want/So That" user story template. Would recommend including this as part of the minimal guardrails, helps inform the rest of the issue.
1. **Background**: 1-3 sentence

[2018-03-21 21:15] Dan-Nolan commented on #631
Hey all, sounds like a great idea! The Blockstreet would be happy to collaborate on this.

We're currently working on releasing our first modules which will help teach writing Solidity/web3.js and injecting it into dapps. All the lessons laid out here sound like they would be excellent complimentary materials.

[2018-03-21 21:16] #593 closed

[2018-03-21 21:17] mkosowsk commented on #631
@Dan-Nolan Awesome, please keep us posted on when those first modules are live! 👍 👍 👍

[2018-03-21 22:07] KennethAshley commented on #432
@owocki this is finished with these two PRs. #571 and #553

[2018-03-21 22:07] cmac2454 commented on #540
Would you like this to be its own design or similar to the Issue Explorer style?

[2018-03-21 22:59] maektwain commented on #567
Would like to work on this issue.
As far as i understand have to write two methods

1. No Action
2. StartWork()

I am not convinced by the idea of taking action or posting comment on the issue when started working on the given issue.

[2018-03-22 00:19] PixelantDesign opened #682 "Add # of Bounties Completed Dynamic Counter"
Add # of bounties completed as a dynamic counter on the landing page  and maybe issue explorer.

![Screen Shot 2018-03-21 at 8.18.25 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206456f26b7191a370f113234f5d5a5ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864aee01ba24df4fd4b0

[2018-03-22 00:48] leonj3813 commented on #197
@owocki Yeah I tested this last night and it looks like the modified_on field is getting updated every 15 minutes on the live api https://gitcoin.co/api/v0.1/bounties/.
Maybe a cron job is running that runs refresh_bounties.py every 15 minutes to update the github comment count, then this saves the model which updates the modified_on field, I don't know for sure.

If this is the case then I guess

[2018-03-22 02:20] vs77bb commented on #448
@owocki sorry I missed some of your earlier questions on this flow. My thoughts:

We are 'experts’ in the following key areas:
- Open Source Software
- Blockchain and web3

Our audience pain points include:
- Finding work in Open Source
- Open Source Sustainability
- People looking to get into blockchain

Our content strategy (and by reference, our drip campaign) should aim to explain how open sou

[2018-03-22 02:27] PixelantDesign opened #683 "Notify Gitcoin/Funder that Developer is Starting Work"
### User Story

As a developer/contributor, I want to notifiy Gitcoin that I'm starting work in one place.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently users make a comment on the G

[2018-03-22 03:43] vs77bb commented on #567
@itsN1X JeeBee! I like it. I remember @owocki and I coming up with a name late one night but now I'm forgetting 😆

Also related: #683 / #197

@maektwain Given the introduction of #683, hunters are going to have to state a plan **while** clicking 'Start Work'. Thus, I agree with @owocki that a follow-up in 24 hours is aggressive and am questioning whether we should work this quite yet.

I recommend

[2018-03-22 03:51] vs77bb commented on #617
@mbeacom @owocki This one good to pay out?

[2018-03-22 10:50] thelostone-mc commented on #561
@diamondtrust66 would you happen to have doc / readme.md online where you've got all these audited ?
Also welcome to the gitcoin family :D

[2018-03-22 11:55] olafghanizadeh commented on #429
@mkosowsk I was able to solve it yeah :)

Still working on this. There are some design issues I'm taking up with @PixelantDesign directly.

Also I would like to refactor so that all of the different notification messages for web3.js (metamask) stays in one file instead of 3 different files. Input? @mkosowsk @mbeacom

[2018-03-22 11:59] diamondtrust66 commented on #561
@owocki I have finished and submitted the work.

[2018-03-22 11:59] diamondtrust66 commented on #561
@thelostone-mc Thanks.
Yeah, I do have an online doc where I've recorded the audited issues.

[2018-03-22 13:44] diamondtrust66 opened #684 "Responsive Design Issues On The Gitcoin Website"
#561

##### Description
There are several responsive design issues on the gitcoin.co website when viewed on mobile phones and tablets.
These issues cause certain page elements to be distorted from their intended positions or sometimes they are pushed off screen.
These issues are present at different screen resolutions i.e. mobile and tablet, and different orientations i.e. portrait and landscape.

[2018-03-22 14:08] owocki opened #685 "as a user, i want to ahve an 'in alpha' badge on alpha tools, so i can know which tools aren't yet GA"
we should have some sort of “in alpha” badge on alpha tools like the leaderboard, profiles, and offchain explorer.. that way we don’t lose credibility when something is not quite 100% on those pages

https://gitcoin.co/tools

[2018-03-22 14:22] mkosowsk commented on #429
@olafghanizadeh refactor into one file makes sense to me!

[2018-03-22 14:24] #447 closed

[2018-03-22 14:24] owocki commented on #447
hey @gsvitak im gonna close this bounty sicne i ended up coding it myself the last few dayys.  i did use some of your code, so sending a tip your way ASAP

[2018-03-22 14:34] owocki commented on #631
hey @Dan-Nolan -- is blockstreet planning on doing them open source or interested in whitelabeling them?

my email is kevin at gitcoin dot co or im on slack at gitcoin.co/slack if youd like to discuss off thread

[2018-03-22 15:59] gnujoow commented on #567
oops i miss clicked srry

[2018-03-22 16:11] mkosowsk commented on #608
@cassidypignatello Spoke with @mbeacom and @owocki and we think the TinyPNG approach is good for a first pass and for completing this bounty :)

Please open a PR with that approach at your earliest convenience 👍

[2018-03-22 16:26] gsvitak commented on #447
@owocki thanks for the tip. Sorry I was able to complete the bounty myself.

[2018-03-22 17:46] sethmcleod commented on #685
Here is an orange tinted version. In my opinion the pink version matches our theme better, but red tones are usually used for errors whereas orange is used for warnings.

![image](https://user-images.githubusercontent.com/7340187/37788279-640f9a6c-2dd7-11e8-9231-2ec4444ea0a6.png)

[2018-03-22 18:15] thelostone-mc commented on #684
This is nice!  :D
@KennethAshley @eswarasai @diamondtrust66  if you guys feel like it, throw in a fix ^_^

[2018-03-22 18:53] mbeacom opened #686 "refresh_bounties empty URL bug"
##### Description

[code]
##### Possible Implementation
Check if url is empty before proceeding.

[2018-03-22 18:54] #686 closed

[2018-03-22 19:00] owocki opened #687 "after sending tip, blue alert that should have had a success message in it said 'undefined'"
i suspect it was being generated here https://github.com/gitcoinco/web/blob/master/app/assets/yge/youvegoteth/send.js#L243

http://bits.owocki.com/3L2v393t2p1f/Screen%20Shot%202018-03-22%20at%201.00.45%20PM.png

[2018-03-22 19:50] mkosowsk commented on #684
Awesome work @diamondtrust66, very thorough!

@owocki This looks to me to be good for a payout via #561 👍

[2018-03-22 20:25] owocki commented on #684
yup paid out!

[2018-03-22 20:26] mkosowsk commented on #684
That turnaround time 😍😍😍

[2018-03-22 20:29] mkosowsk commented on #685
@sethmcleod Looks great to me! I like the orange for the reason you mentioned but I do not have a designer's eye 🤔

[2018-03-22 20:43] mkosowsk commented on #567
@vs77bb I agree with automating only when necessary, think building for scale is a common trap for projects getting off the ground. "We just added our 100th user, so let's make sure that our back-end can handle 1 million concurrent!" 😂🤣

[2018-03-22 21:40] owocki commented on #631
sounds like dan & co are going to launch in the next few weeks.. but we don't know if they'll want to partner yet.

personally i'd like to air on the side of action for this.. but i already have a few projects in the hopper and can't promise i'll be around to do a lot of product / architecture thinking for the next few weeks.  @eswarasai i'd be happy to fund this now if you feel like you could mov

[2018-03-22 21:52] e-n-l commented on #685
How about an icon, something less language dependent?

I'm thinking a hex shape, like the stickers, with a Greek Alpha character on it.

[2018-03-22 22:03] sethmcleod commented on #685
In my opinion text makes more sense here. Icons are great for concepts that most people are familiar with, like a heart for _like_ or hamburger for _menu_, but this concept isn't something you see often and I'm not sure most people would even relate this to the Greek character.

[2018-03-22 22:38] owocki commented on #685
i think text is fine for the tools page.  the users should maybe know already that the tools on the /tools page are in alpha bc they are listed under a heading that says 'tools in alpha'.

i should have been more clear when writing up this ticket.. i was looking for a badge i could put on each of these pages

https://gitcoin.co/profile/
https://gitcoin.co/faucet
https://gitcoin.co/offchain
https:/

[2018-03-22 22:43] sethmcleod commented on #685
Ahh that makes sense. In that case, my first thought would be to have a similar tag that fixes to the bottom left or right corner of the page as the user scrolls. When hovered over, you could add a tooltip that explains a bit more.

[2018-03-22 22:46] mbeacom commented on #685
How about something like the "fork me on github" ribbon..?
https://github.com/simonwhitaker/github-fork-ribbon-css

[2018-03-22 22:47] sethmcleod commented on #685
Yeah! I was thinking along the same lines, though I'm turned off by how much screen space those ribbons take up.

[2018-03-22 22:59] mbeacom commented on #685
@sethmcleod Yeah... I just tried this out and it looks kind of meh.

[2018-03-22 23:07] owocki commented on #685
![under_construction_graphic](https://user-images.githubusercontent.com/513929/37803285-8d2e1146-2df3-11e8-94fe-f69e5981b7e9.gif)
![giphy](https://user-images.githubusercontent.com/513929/37803287-8d42116e-2df3-11e8-891d-4cef6d9f2562.gif)
![200](https://user-images.githubusercontent.com/513929/37803288-8d52fe5c-2df3-11e8-9898-19013f225c2e.gif)

[2018-03-22 23:09] owocki commented on #354
@maektwain sorry im not sure i follow the question.  are you asking if we can use the gitcoin api for this?

[2018-03-22 23:09] mkosowsk commented on #685
Web 3.0 starting to look a lot like Web 1.0... time is a flat circle? 🤔

[2018-03-22 23:10] owocki commented on #617
commenting over on the PR now

[2018-03-22 23:12] mbeacom commented on #685
<img width="1022" alt="screenshot 2018-03-22 19 12 12" src="https://user-images.githubusercontent.com/7315957/37803408-f33710b2-2e04-11e8-8422-21e5f93b550a.png">

[2018-03-22 23:13] mbeacom commented on #685
@sethmcleod Yeah, I'm not a big fan either. 😂

[2018-03-22 23:13] owocki commented on #682
good idea

[2018-03-22 23:13] sethmcleod commented on #685
I think that's definitely a step in the right direct @mbeacom I just wish they wouldn't have gone with a 45 degree angle 🙄

[2018-03-22 23:13] elmarti commented on #683
Hi, regarding the above comment, I found Gitcoin through this job post https://angel.co/gitcoin/jobs/325636-front-end-developer and I was examining the platform as a first time user. This was triggered accidentally as it wasn't immediately clear to me what the implications of clicking it were, which I guess is the root issue here!

[2018-03-22 23:15] mkosowsk commented on #685
Honestly that looks like an arm band of mourning or protest to me...

[2018-03-22 23:20] mbeacom commented on #685
I feel like I need to don a band of mourning for github fork ribbon. 😢

[2018-03-22 23:21] owocki commented on #380
i could do without the giant robot on the right (i cant believe im saying this!).. maybe just remove it and center the form?

[2018-03-22 23:44] e-n-l commented on #685
![image](https://user-images.githubusercontent.com/487308/37804162-50f2196e-2df0-11e8-8715-ca7a1cc536f6.png)

[2018-03-22 23:55] mkosowsk commented on #685
![strong_branding 2](https://user-images.githubusercontent.com/7970539/37804485-e1d28b2a-2e0a-11e8-94a1-315d21222d89.png)

Think this might be the one guys... could be a real game changer. Thoughts? 🤔

[2018-03-23 00:05] elmarti commented on #683
Hi, further to the above comment, I thought i'd give the platform a spin!

**Assumptions**
- Accessibility has not been a big focus
- jQuery/jQuery modal are included and usable
- Front end project doesn't (yet) leverage a package manager

**Solution**
- jQuery modal is being used here in a lazy loading style https://github.com/gitcoinco/web/blob/7640a87bb3b4cf5475aa2196c5ffea6cedfd6afe/app/assets

[2018-03-23 00:14] e-n-l commented on #685
Maybe something along the top bar instead?

![image](https://user-images.githubusercontent.com/487308/37804959-632639fe-2df4-11e8-8577-5c30dfe5ed12.png)

[2018-03-23 00:37] owocki commented on #683
I believe we didn't include that for a reason.  @PixelantDesign what do you think?

Just within the timeline on the bounty.  Though we'd ask that if you decide not to work on this that you be mindful that you release it back to an 'open' state so that others can jump in!

[2018-03-23 00:40] owocki commented on #685
sorry guys, i was kidding when i suggested 'under construction' themed images

[2018-03-23 00:41] owocki commented on #432
word; can you submit work on gitcoin so i can pyaout?

[2018-03-23 00:45] jakerockland commented on #685
Coming at this from another angle, could have a modified "alpha" logo for pages that are in alpha or reflect alpha parts of the project.

I can see not wanting to due this due to it introducing some potential for branding inconsistency, but I think there are ways to do it that are subtle enough that mitigate that and it is something that seems to be consistently present across all pages.

Perhaps

[2018-03-23 00:47] owocki commented on #540
it shoudl be it's own design, but i think following our style guide would be a good thing

https://github.com/gitcoinco/creative is a good starting place

hey @PixelantDesign do we have a repository of information about site and form styles somewhere?  i see them littered around comments (like this one: https://github.com/gitcoinco/web/issues/498#issue-300223055 ) but it might be good to put them

[2018-03-23 00:49] e-n-l commented on #685
:shrug: TBH, I'd already made up that hex icon before your 90s flashback...

I was just playing with ideas that could visually convey "alpha." (those are actually GitCoin colors)

[2018-03-23 01:43] PixelantDesign commented on #683
@elmarti good catch. The user should definitely see a confirmation if they come back and click stop work. Ideally, the gitcoin bot would also post that on the github thread.

Thanks!

[2018-03-23 02:26] PixelantDesign commented on #685
Lots of fun ideas here! From a brand perspective, I recommend that we keep the label a healthy distance away from the Gitcoin logo to 1) avoid the confusion that the entire Gitcoin product is in the alpha stage and 2) avoid confusion that label is at all part of the logo.

[2018-03-23 07:39] zoek1 commented on #576
@owocki which count as reference? only issues or PR's also? this will support another type of reference in the future?

[2018-03-23 07:48] elmarti commented on #683
@PixelantDesign Thanks, so should that be done within the scope of this issue? If so, shall I await a mockup, design myself or use the native confirm dialog - I tend not to use them outside of Cordova development but they appear to be used in this application. Maybe a better issue would be to look at replacing them and use it here in the mean time?

[2018-03-23 08:04] elmarti commented on #683
Another thing, I'm just having a look at the backend code, I can't quite seem to see where gitcoinbot gets messaged https://github.com/gitcoinco/web/blob/2717d0d5192f79901d90d7ab8e3c373d57b81dc1/app/dashboard/views.py#L127, can anyone clarify? I'm assuming at this point that there's some sort of database hook at play, but I may be totally wrong..

Another thing, I'm planning on extending the `inte

[2018-03-23 12:41] mbeacom commented on #683
@elmarti You should be able to add the new fields to `Interest`.

[2018-03-23 13:39] owocki commented on #681
from @mkosowsk on slack:

[code]

also, some good info here: gitcoin.co/casestudies gitcoin.co/help/repo

[2018-03-23 13:50] owocki opened #689 "bounty explorer can be slow"
# repro steps

1. https://gitcoin.co/explorer
2. select 'any' on the left hand side, and clear all other filters
3. click search
4. for 180 results, it takes about 6 seconds.

# technical debugging notes

the API returns in a few hundred ms. its not a backend issue.
i think it might be a frontend rendering problem... because the HTML is passed to the `$('#bounties').append(html);` line of code and

[2018-03-23 14:03] mkosowsk commented on #681
Perhaps a bit off topic but I think this model lends itself very well to a RedHat type of model for Gitcoin... As they say, Linux is only free if you value your time at $0/hour 😂

Charging a fee for:

0. Onboarding projects/clients to the Gitcoin platform
1. Helping to groom existing tickets for the project/client and providing advice on appropriate pricing and scope
2. Reaching out to members of

[2018-03-23 14:06] owocki commented on #683
github bot gets messaged in maybe_market_to_github()

[2018-03-23 14:09] mkosowsk commented on #689
Possible approach altho I'm not familiar with how Gitcoin does rendering: do just-in-time rendering of only Issues that are in the viewport and only populate additional issues when they need to be rendered.

@owocki this might already be what you're talking about with a pagination approach, but I like to be explicit 👍

[2018-03-23 14:10] owocki commented on #689
wasnt what i was talking about with pagination.. but it is a good idea nonetheless!

[2018-03-23 14:13] owocki commented on #685
i wonder if it'd make sense for each tool to have it's own 'alpha' below under it's 'logo' (or subheader, if we dont want to have the overhead of making a logo for each tool)

[2018-03-23 14:14] owocki commented on #576
issues/pr

[2018-03-23 14:15] mkosowsk commented on #689
This was one of the first things I implemented as a software engineer and one that I'm proud of :) Took a view that was taking ~60 seconds to load for large clients and dropped that down to <1 second with the same behavior 😍

Did this with an AngularJS directive tho so doesn't have 1:1 to Gitcoin's situation, altho think taking a look at a similar approach could be interesting 👍

[2018-03-23 14:25] mkosowsk commented on #689
@mbeacom which approach(es) do you think is appropriate to try first (possibly the one that's easiest to implement)? Could be a fun bounty for the community 😍

[2018-03-23 14:25] Elaniobro commented on #689
This would be a really fun task to take on! If available, I will give it a whirl 📟

[2018-03-23 15:43] e-n-l commented on #651
Tag this on to profile, as a form field?

[2018-03-23 15:52] mbeacom commented on #651
User location data is now accessible via `app.utils.get_location_from_ip`.  We haven't added a location field anywhere other than `UserAction.location_data` at the moment.

Via #657 we can retrieve location data from the user's IP in any request: `loc = get_location_from_ip(get_real_ip(request))` and user language code via: `request.LANGUAGE_CODE`.

[2018-03-23 16:10] vs77bb opened #692 "Gitcoin KPI Additions"
## Gitcoin KPI Addition Suggestions

Using [Q2 OKR's](https://github.com/gitcoinco/GIPs/pull/8) as a source for what we need to track better.

### Work For Gitcoin Developers
- Lifetime 'Work Done', ideally static in USD (Blocker: #491)
- Current work 'Open' on the platform;  ideally static in USD (Blocker: #491)
- Current active work in the platform ('Work Started' + 'Work Submitted') ideally sta

[2018-03-23 16:12] joshmobley commented on #671
Taking a first pass at the index -- is this along the lines of what you're imagining?

![bounty-request-v1](https://user-images.githubusercontent.com/933565/37840444-78c78d54-2e93-11e8-9f6e-0985abb0cde5.png)

[2018-03-23 16:14] owocki commented on #692
measured in dollar vlaue, eth value, num issues?

[2018-03-23 16:19] mkosowsk commented on #506
Quick update, will address WIP PR feedback (thanks @owocki and @thelostone-mc 👍 ) this weekend and open the legit PR by end-of-day Sunday. Thanks!

[2018-03-23 16:24] vs77bb commented on #692
@owocki Updated to say 'ideally static in USD (Blocker: #491)'...

I think we should just go with the rolling / non-static USD value for now if #491 might take a while... it's a weird nuance where the fluctuations in ETH affect the amount people stake given their preconceived notions about it's inherent value... but the metric is too important to not track in some way 🤔

[2018-03-23 16:28] mkosowsk commented on #692
@vs77bb think this makes #491 come into the forefront even moreso... Would recommend taking some cycles to get #491 to "Definition of Ready" for community to take a swing at, think it would be a big value add 👍

[2018-03-23 17:43] mbeacom commented on #692
@vs77bb Honestly, #491 should be fairly simple to track `new bounty` value moving forward.  I'm not entirely sure how @owocki wants us to approach it, but storing the *current* value of a bounty when it's created shouldn't be a big deal.  We need to figure out how/what we want to display in the dashboard per entry and on the bounty details page.  Once we come up with that, the task shouldn't take

[2018-03-23 17:51] nitinrgupta commented on #620
@owocki I somewhat agree with @GaretWebster's comment on a general improvement to the current landing page rather than a specific landing page.

But, if we really need a targetted landing page then we could just come up with a templatized copy from the current one.
For eg: The current sub-text says
`Gitcoin is the easiest way to monetize or incentivize work in Open Source Software.`

We could temp

[2018-03-23 18:35] joshmobley commented on #671
Just looked closer at @KennethAshley work on the grant page. I do think that we can and likely should reuse his work on that for this feature as well. We can componentize those cards and their various meta to be used across the site.

I can work on the fieldset for the new bounty request, but otherwise I think we can reuse a lot of the same code we'll develop for that feature here. Thoughts @owock

[2018-03-23 18:36] owocki opened #693 "refactor bounty.value_in_usdt into two functions"
refactor bounty.value_in_usdt into two functions

* `value_in_usdt_now` - returns the value in usdt now
* `value_in_usdt` - return the value in usdt at the time of the created_on

you might also have to edit the data retention policy in the `cleanup_db_space` script.

as for the ui, and what function should be used when:

activity_report should show the latter
bounty explorer stats module should s

[2018-03-23 18:57] joshmobley commented on #560
I would love to help with this effort. Building component libraries is sadly one of my favorite things to do :)

[2018-03-23 19:06] cmac2454 commented on #540
[First (very) rough sketch](https://drive.google.com/open?id=1vtbW5J5wT4IZYI6h589f0h6WrYDCWeQx)

[2018-03-23 19:30] mkosowsk commented on #560
@joshmobley a pared down scope for this ticket is being worked on in https://github.com/gitcoinco/GIPs/issues/6

Please add any feedback you may have to that GIP (Gitcoin Improvement Plan 👍🏻). Once the community reaches a consensus we will put out a new and improved Issue :)

[2018-03-23 19:55] owocki commented on #671
i agree. lets reuse as much as possibel

[2018-03-23 19:55] PixelantDesign commented on #380
Looks good @KennethAshley, it's really coming along!
Could we try adjusting a few things?

Fonts - check that we are using Futura and Muli, also check type sizes and weights.

Title: Create a Grant
Subtext: We're excited to learn about your project. Complete the form below to get funding for your project.

Ordering on the form fields:
- Grant Title
- Elevator Pitch
- What Do You Need?
- Where Does

[2018-03-23 20:58] owocki opened #694 "collect information for US taxes"
for any bounty hunter / tipper in the US who makes $600 or more, we may legally be obligated to 1099 them.  that means:

1. collect name / address / SSN
2. issue a 1099 to them at the end of the year.

[2018-03-23 21:29] owocki commented on #380
@KennethAshley very excited about this.. looking forward to getting this finalized and into coding :)

[2018-03-23 22:29] #689 closed

[2018-03-23 22:30] owocki commented on #689
just put in stopgap fix to get us through the weekend: https://gitcoin.co/explorer

[2018-03-23 22:31] owocki commented on #689
tested on desktop / mobile in chrome

[2018-03-23 22:35] mkosowsk commented on #689
The old debounce... nice work!

[2018-03-23 23:12] owocki commented on #620
i think that we can't lose sign of this requirement.  this is really the only new module that is needed, everything else is, as you noted, copy changes.

[2018-03-23 23:15] owocki commented on #692
unfortunately many ConservationRate entries have been purged from the db by 'cleanup_db_space'  script

[2018-03-23 23:18] owocki commented on #540
neat-o.  seems like the layout is good.  im curious to see what it looks like when the aesthetics are fleshedo ut

[2018-03-23 23:41] owocki commented on #681
i spent 15 minutes today typing up a module that we could put before the 'new bounty' flow, which provides some expectation setting for the ender user:

i kind of made up the copy.  its probably too wordy to ever get into production

<img width="1440" alt="screen shot 2018-03-23 at 5 37 06 pm" src="https://user-images.githubusercontent.com/513929/37857469-dd3e205e-2ec0-11e8-9f86-2b3f39c98f1e.png">

[2018-03-23 23:52] owocki commented on #448
100% agree

i wish we could get started on this sooner rather than later.. maybe the first starting point should be defining a 7 day, once per day, FTUX email campaign on the above pain points?  maybe we start with copy, and then move into design, and then get them coded?

does that seem like a fair way to chunk up the work?

[2018-03-24 00:02] owocki commented on #197
@leonj3813 ed08a04a7a0e5730751fa196d8fb48355f5dba5c should give u what u need

[2018-03-24 05:17] nitinrgupta commented on #620
Got it. Will wait for @GaretWebster to respond since he called dibs on this first.

[2018-03-24 09:36] matthewlilley commented on #354
@owocki I've already done most of this, I'll try to finish it Today if possible. It just needs wiring up to the API and polish.

It works in the same way as the Facebook embeddable like button, you can pass a gitcoin profile name. For example: <div id="gc-root" data-profile="MetaMask"></div>

Sound good?

[2018-03-24 09:40] matthewlilley commented on #354
@owocki I've already done most of this, I'll try to finish it Today if possible, needs wiring up to the API and polish. It works in the same way as the Facebook embeddable like button, you can pass a gitcoin profile name. E.g.

`<div id="gc-root" data-profile="MetaMask"></div>`

Sound good?

[2018-03-24 10:15] thelostone-mc commented on #421
@vs77b So we've got three places from what I've seen where this needs to be updated :
- explorer (done)
- bounty page (PR is open https://github.com/gitcoinco/web/pull/691 )
- leaderboard ( I figured we'd update the tag when we code down the dashboard cause I believe that's the next page on the revamp list )

Your call ! If needed , I can update the last one now :P (But it'll be probably be re-wri

[2018-03-24 14:13] PixelantDesign commented on #560
yes! this is great!

[2018-03-24 15:46] mkosowsk commented on #692
Currently using CryptoCompare for another project and think it may work for our purposes here? I am using it for real-time data but looks like they have historical options.

I would prefer Python, but here's an NPM module that @owocki seems to prefer: https://www.npmjs.com/package/cryptocompare

[2018-03-24 16:54] ghthor commented on #450
I'm just going to chime in here. You should be able to do this without requiring that gitcoin pays the gas. You will need to implement a custom resolver and set that as the resolver for gitcoin.eth. Gitcoin owns the resolver, but the subdomains are "owned" by someone who has legit github oauth token for the given subdomain name. The source of truth in who owns the domain is a valid oauth token fro

[2018-03-24 17:23] zheli opened #695 "Gitcoin issue status changed back to Open from Work Started"
##### Description

https://gitcoin.co/funding/details?url=https://github.com/ethereum/web3.py/issues/666
The issue I was working on returned to Open status, even though there are 11 months left in expiration days. Is it a bug?

##### Possible Implementation

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-03-24 17:26] zheli opened #696 "Gitcoin should monitoring issue pull request as well"
##### Description
In addition to github issue page, gitcoin should also tracking the conversation on pull request. since the work discussion usually take place there, especially for larger issue.

Here is an example: https://github.com/ethereum/web3.py/issues/666#issuecomment-375901199

##### Possible Implementation

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-03-24 20:15] zoek1 commented on #576
@owocki we need to go deeper inside the pr/issue? in example, reading all comment inside of them or only the owner will be taken into account?

[2018-03-25 00:14] PixelantDesign opened #698 "Determine level of expertise"
*Not ready to be worked on*

Need a way to determine developer's level of expertise.

[2018-03-25 02:58] PixelantDesign commented on #421
Closing issue since the last place this needs to be updated is in the profile, and we'll be redesigning that soon.

[2018-03-25 02:58] #421 closed

[2018-03-25 03:24] PixelantDesign commented on #565
Hi @cmac2454 thanks for sharing the updates!
I think it might make sense to align the mentor form page with what @KennethAshley is doing with the grants submission page (form on the left and image on the right). Take a look [here](https://github.com/gitcoinco/web/issues/380).

[2018-03-25 06:07] scottydelta commented on #450
@ghthor your help is definitely welcome and if we can get away without Gitcoin having to pay for the gas then that's what should be done, do you think we discuss this further on slack channel?

[2018-03-25 09:01] zoek1 commented on #623
@mbeacom what do you think about this refactor? [Refactor using filters](https://github.com/gitcoinco/web/compare/master...zoek1:move-to-django-filter?expand=1)
It covers the specified in the description or i need to go more deep?

[2018-03-25 17:02] GaretWebster commented on #620
I didn't call dibs

On Mar 24, 2018 1:18 AM, "Nitin R Gupta" <notifications@github.com> wrote:

[2018-03-25 17:17] ghthor commented on #450
Yes, that's fine. I've sent you a message on gitcoin slack.

On Sun, Mar 25, 2018, 02:07 scottydelta <notifications@github.com> wrote:

[2018-03-25 19:05] kziemianek commented on #687
I'll take a look at it.

[2018-03-25 19:48] cmac2454 commented on #565
@PixelantDesign I took a look at @KennethAshley designs and I'll be looking at updating mine to be closer to his style. I may also create a new graphic like you suggested. I'll be interested in seeing the Sketch file and happy to help with the development of templates if needed.

[2018-03-26 01:20] mkosowsk commented on #506
@owocki and @thelostone-mc et al, thanks for your guidance but I'm stopping work on this issue. Unfortunately my work has super ramped up recently and I just don't have the dev cycles to see this ticket through to fruition in the coming weeks. In hindsight I should have picked up something easier to digest for my first ticket on the Gitcoin project! My apologies on the bait-and-switch :(

To whome

[2018-03-26 02:55] KennethAshley commented on #380
Updated New page
![new](https://user-images.githubusercontent.com/1138619/37884553-768f2762-307e-11e8-97ec-5eb8cef6eaa2.png)

- Updated the robot image on the right
- Made the forms bigger
- Added Image upload field

Updated show page
![show](https://user-images.githubusercontent.com/1138619/37884687-348e196c-307f-11e8-9a0d-127908c8daca.png)

Index
![index](https://user-images.githubusercontent.co

[2018-03-26 04:04] nitinrgupta commented on #620
Allrighty. I'll give it a shot in that case!

[2018-03-26 06:04] mbeacom opened #701 "FieldError: Invalid order_by arguments: ['-web3_created/']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/637/](https://rollbar.com/gitcoin/gitcoin/items/637/)

[code]

[2018-03-26 12:17] matthewlilley commented on #354
@owocki I didn't manage to get to it on the weekend, but it's mostly complete. Needs some final integration, and a responsive friendly logo, srcset or svg.

https://stackblitz.com/edit/js-nkwz7t

[2018-03-26 13:41] mbeacom commented on #692
If we're handling historical data during migrations, I think it maybe more sensible for us to use a python module like https://github.com/lagerfeuer/cryptocompare or the api directly https://www.cryptocompare.com/api/

[2018-03-26 13:57] owocki opened #702 "There is something wrong with links visibility in Gitcoin announcements mails. See screenshot."
![screenshot_2018-03-24-10-12-27](https://user-images.githubusercontent.com/513929/37910661-46c7a84a-30cb-11e8-8ac8-3f15dcb5bde0.png)

[2018-03-26 14:12] owocki opened #703 "This bounty was 'killed' but gitcoinbot commented on the thread saying it was approved / accepted."
https://github.com/gitcoinco/web/issues/421#issuecomment-375941600

This bounty was 'killed' by the submitter but gitcoinbot commented on the thread saying it was approved / accepted.

[2018-03-26 14:17] owocki opened #704 "new /community page"
inspiration: https://evernote.com/community

links to the archive, to slack, etc
formalized community member => leader funnel
list community leads

[2018-03-26 14:22] owocki opened #705 "/explorer on mobile needs some alignment fixes"
![photo 28](https://user-images.githubusercontent.com/513929/37912073-d15fdfba-30ce-11e8-86c9-b3ddfe48d7c0.jpg)

[2018-03-26 14:42] mdew192837 commented on #259
I'm interested in working on this, but am not sure where to start. I saw the beginner label, so I thought that I might be able to figure it out and learn about slack integration. Any pointers/steps y'all might recommend? @owocki @mkosowk

[2018-03-26 14:51] mkosowsk commented on #259
Low on cycles at the moment, paging the illustrious @mbeacom 👍

[2018-03-26 14:52] owocki opened #706 "as a user, i want upvotes / downvotes on tool page, so i can cast my vote on gitcoin's tool direction"
# Description
as a user, i want upvotes / downvotes on tool page, so i can cast my vote on gitcoin's tool direction

this could perhaps allow us to see which tools have the community's buy in and which do not.

# bounty

## backend

1. move the tools from hardcoded dict in the views to having its own model
2. create a new model called 'toolvote' which can be direction == ('up', 'down') and a fk to

[2018-03-26 15:01] mdew192837 commented on #682
Seems cool, is there already a variable that we have that keeps track of this? Or a column in a db row that states whether a bounty is completed? @owocki

[2018-03-26 15:12] mbeacom commented on #259
@mdew192837 You can check out the following tutorials to get started:

- https://api.slack.com/slack-apps
- https://code.tutsplus.com/articles/building-a-slack-bot-using-python--cms-29668
- https://github.com/slackapi/python-slackclient

[2018-03-26 15:21] owocki commented on #695
The system will remove you from the issue if you have not been active in several days.

Here is a screenshot of some of the warning emails we sent out about this: http://bits.owocki.com/3t3c061r2F1z/Screen%20Shot%202018-03-26%20at%209.20.17%20AM.png

Here is a screenshot of a final 'weve removed you' email we sent out on 3/16: http://bits.owocki.com/1O251V2T1h1O/Screen%20Shot%202018-03-26%20at%209

[2018-03-26 15:21] owocki commented on #695
cc @vs77bb since i think you commented on the github thread about this

[2018-03-26 15:24] owocki commented on #696
https://github.com/gitcoinco/web/pull/458

[2018-03-26 15:32] owocki commented on #682
yes the `idx_status` column of the bounty table is updated when a bounty is completed.

if were gonna put this information on the landing page we'd probably want to create a seperate (performant) place to store the data instead of querying the bounties table every landing page view.

[2018-03-26 16:04] zheli commented on #695
@owocki thanks for looking into this. Actually I have added two comments after I got the email, did I miss something in my comments?

[2018-03-26 16:23] #617 closed

[2018-03-26 16:54] willsputra commented on #685
@owocki it might work if each tool's 'logo'/'title' position is consistent 😄

![685_leaderboard](https://user-images.githubusercontent.com/19514207/37920130-a05bcba6-3158-11e8-9323-2899c65f15e6.png)
![685_bountiesuniverse](https://user-images.githubusercontent.com/19514207/37920178-bef7d6f4-3158-11e8-84af-ad352c09e8ec.png)

[2018-03-26 18:22] owocki commented on #685
i like what you did there.. @PixelantDesign what do you think?

[2018-03-26 18:27] owocki commented on #354
wow this looks really good.  thanks @matthewlilley !

1. could we make each issue title (or each issue row) clickable?
2. looks like the data is hard coded.  needs to integrate the gitcoin api

cc @PixelantDesign in case she has comments on the design

[2018-03-26 18:31] owocki commented on #115
yes pls!

[2018-03-26 18:32] owocki commented on #695
hey @zheli -- im sorry, maybe im just missing it, but i dont see any other comments from you on this thread?

[2018-03-26 18:35] #687 closed

[2018-03-26 18:37] owocki commented on #687
yay it works!  thanks @kziemianek

just tested by sending you a tip.  meta! http://bits.owocki.com/1g1N473F212g/Screen%20Shot%202018-03-26%20at%2012.36.45%20PM.png

[2018-03-26 18:39] owocki commented on #380
these look really good!

remind me, are you coding the frontend somewhere? would love to take a look at the code.

[2018-03-26 19:03] elmarti commented on #683
Hi, what is the expected behaviour of the radio buttons for "Do you have any questions"? are they there for showing/hiding the textarea below?

[2018-03-26 19:09] zheli commented on #695
I meant those comments in the thread https://ibb.co/eKNfVS.

[2018-03-26 19:40] jakerockland commented on #563
I would like to work on this, @owocki is that alright? First time using the issue explorer to start working on a funded issue so want to make sure I'm doing things right 😅

[2018-03-26 19:49] elmarti commented on #683
https://github.com/elmarti/web

[2018-03-26 19:57] owocki commented on #563
yes please!  glad to have you @jakerockland

[2018-03-26 20:06] owocki commented on #683
Good question: @PixelantDesign -- what do you think is the best practice here?

[2018-03-26 20:12] PixelantDesign commented on #683
@elmarti

The radio button is not meant to be progressive. A user could not have any questions but also have a concern/info/ or approach they want to share with the funder/project owner.

[2018-03-26 20:24] owocki opened #710 "in my settings, i should be able to disguise myself from the leaderboard/having a profile"
in my settings, i should be able to disguise myself from the leaderboard/having a profile

[2018-03-26 20:25] owocki commented on #681
another TODO on this page: on gitcoin.co/new, make it clear that this information is public

[2018-03-26 20:32] PixelantDesign commented on #410
@vs77bb agree on Kill Bounty.

[2018-03-26 20:32] #410 closed

[2018-03-26 21:30] owocki commented on #512
e1d3c57c08738ec8dbabe67c144123c938998659

[2018-03-26 22:01] owocki commented on #512
just sent the MVP cohort analysis to the team on slack

[2018-03-26 22:01] owocki commented on #575
just sent the MVP cohort analysis to the team on slack

[2018-03-26 23:29] mkosowsk commented on #608
Will be interesting to check out PageSpeed Insights once changes are live!

[2018-03-26 23:36] mbeacom commented on #608
<img width="394" alt="screenshot 2018-03-26 19 35 15" src="https://user-images.githubusercontent.com/7315957/37938626-d897d540-312c-11e8-95af-c6be9f3dbbbc.png">

<img width="372" alt="screenshot 2018-03-26 19 35 24" src="https://user-images.githubusercontent.com/7315957/37938640-e2caf77c-312c-11e8-9b4e-9d8d112b2077.png">

https://webpagetest.org/result/180326_KQ_4b50fee55bfaf252843c2d1f172ff439/
h

[2018-03-26 23:37] cassidypignatello commented on #608
Thanks @mkosowsk! As promised, here's a few images pair so everyone can check out the quality difference:

[2018-03-26 23:39] KennethAshley commented on #380
@owocki Yea! [Here](https://github.com/gitcoinco/web/pull/674) But i'm not an amazing python dev. So if you'd feel more comfortable with someone else tackling it thats fine!

[2018-03-26 23:42] cassidypignatello commented on #608
Thanks @mkosowsk! As promised, here's a few of the before and after image pairs so everyone can check out the quality difference:

grow_open_source.png (before) 1.3MB
![grow_open_source 5129c4417174](https://user-images.githubusercontent.com/6751725/37938723-45d34e1e-312d-11e8-8646-786981317cb2.png)

grow_open_source.png (after) 562KB
![grow_open_source](https://user-images.githubusercontent.com/6

[2018-03-27 00:34] mkosowsk commented on #608
From Medium to Good and Low to Medium... awesome!

[2018-03-27 01:27] mkosowsk commented on #710
Big 👍 to this, lots of folks value their privacy in the crypto community and this is especially important with the Facebook disaster currently happening in slow motion.

I think this should be opt-in, wouldn't want to expose someone who doesn't want to put their info out there

[2018-03-27 01:34] owocki commented on #685
81e04b710f8ff04ac1cdbb1d9145f67db8ba94f5 commits a simialr badge to what @willsputra suggested.  check it out => https://gitcoin.co/tools (and then click to each alpha tool)

[2018-03-27 03:01] PixelantDesign commented on #685
@willsputra I think the concept works if the headers are consistent across the board. The tags are little hard to read, could you try darkening the type color or go black type on yellow?

[2018-03-27 03:03] #432 closed

[2018-03-27 03:34] PixelantDesign commented on #380
Awesome @KennethAshley!

Overall we probably need a **Grants** header that is unified across all three pages.
Maybe call it Gitcoin Grants? Open to suggestions here.

**Form**
Looks great!

**Show Page**
- We probably don't need the social icons
- Body copy under the image looks tiny. Can you update?

**Index**
- I wonder if the cards are too small in size to be able to read anything about a speci

[2018-03-27 04:00] willsputra commented on #685
@PixelantDesign black type looks good too!

![685_bountiesuniverse](https://user-images.githubusercontent.com/19514207/37946117-58716bb2-31b6-11e8-92f0-5b05539da17d.png)
![685_leaderboard](https://user-images.githubusercontent.com/19514207/37946118-589d77de-31b6-11e8-8b53-397c23817e87.png)

[2018-03-27 04:03] PixelantDesign commented on #685
The Alpha tags are much easier to read @willsputra. Will you be helping us implement these changes (Headers and Alpha badge)?

[2018-03-27 04:13] PixelantDesign commented on #671
@joshmobley I am curious what the thinking is behind using tiles for a bounty index page.

@vs77bb I agree on reusing the forms.

[2018-03-27 04:30] willsputra commented on #685
@PixelantDesign I'm still new to this whole committing code to open source so it might take some time. If someone else would like to help implement it, please go ahead. 🙂

[2018-03-27 05:18] sunxivincent opened #713 "Using docker to setup and got "localhost refused to connect" error, and ReadMe file is outdated"
##### Description
I followed the readme to setup gitcoinco using docker approach however failed, there are multiple issues
1) after I tried to Navigate to http://0.0.0.0:8000/, it shows not able to connect, connection refused. Examined the log, found the following errors, I am not sure if I need to do something about the
PostgreSQL or docker yaml file update ?

pgweb_1    | Connecting to server...

[2018-03-27 13:49] owocki opened #714 "'accepted' time is wrong on bounty"
screenshot: http://bits.owocki.com/1Y1M2g333Y2a/Screen%20Shot%202018-03-27%20at%207.48.26%20AM.png
issue: https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/608

i just accepted the work now.  the submission was 15 hours ago.  the 'work accepted' activity on the timeline should show that it was done just now.

[2018-03-27 14:10] matthewlilley commented on #354
@owocki No problem!

1. & 2. Yes, it just needs plugging into your API, and a few minor details correcting. It'll probably be tomorrow now, it's been a long day.

M

[2018-03-27 14:15] mbeacom commented on #713
@sunxivincent Thanks for bringing this to our attention.

Can you please check the updated setup documentation for docker at:  https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md

Feel free to ping me directly on [Slack](https://gitcoin.co/slack) or comment back here with any questions.

[2018-03-27 14:15] owocki commented on #565
i like the cap. nice touch.

[2018-03-27 14:17] owocki commented on #565
@cmac2454 can you post the Sketch files for this?  I am going to open up a frontend coding ticket for this today.

[2018-03-27 14:26] mbeacom commented on #380
@KennethAshley Feel free to reach out to me if you need assistance with the BE for this PR.

[2018-03-27 14:31] mbeacom commented on #563
@jakerockland Feel free to reach out to me on [Slack](https://gitcoin.co/slack) if you have any questions!

[2018-03-27 14:36] cmac2454 commented on #565
They're Illustrator files, I hope that's okay.

[Email Template](https://drive.google.com/open?id=1ID5giDkUWhIK1lr9sh5tjsfFTccaZTP0)

[Onboarding](https://drive.google.com/open?id=1vaxIq1T7znaoJmA0ytf0i_LDzxPwuKaB)

[Mentor Browser](https://drive.google.com/open?id=1PnXcAwcKfNjWI_Dj-S2M59eaWAYWZdiV)

[2018-03-27 14:54] owocki opened #715 "As a user, I want a new error page, so I can feel okay when I hit an error condition"
Current error page:
![screencapture-gitcoin-co-sdfsdfds-2018-03-27-08_50_11](https://user-images.githubusercontent.com/513929/37975153-e7fc25b2-319b-11e8-85a7-78defec185ef.png)

This page is displayed for 404, 500, 403, but in general any 4** or 5** level page page

# Inspiration

* Airbnb - https://cdn.mos.cms.futurecdn.net/f3c74e859861f2d3b0fa34c31f862cf7-650-80.jpg
* Github - https://cdn.mos.cm

[2018-03-27 15:00] owocki opened #716 "Take the Gitcoin Product Video and make it into an HTML5 game"
# Reference Links

Video: https://www.youtube.com/watch?time_continue=28&v=DJartWzDn0E
Creative Vector Assets: https://github.com/gitcoinco/creative

# What

At 28 seconds into the [product video](https://www.youtube.com/watch?time_continue=28&v=DJartWzDn0E), there is a scene where the main character is busting rocks coming from outer space.  Here is what it looks like:

![screen recording 2018-03

[2018-03-27 15:01] owocki commented on #715
this could be an option if we don't want to just do a static landing page => https://github.com/gitcoinco/web/issues/716

[2018-03-27 15:08] mkosowsk commented on #685
@willsputra I've got some cycles so am ready to help if you want a hand making a Pull Request to Gitcoin :)

Main steps:

0. Fork Gitcoin to your own repo
1. Make your changes and commit them there
2. Create a pull request from your fork via https://help.github.com/articles/creating-a-pull-request-from-a-fork/
3. Address feedback as needed 👍

I defer to the excellent @thelostone-mc for guidance fo

[2018-03-27 15:22] PixelantDesign commented on #565
I think version B works @cmac2454

@owocki for the build ticket, I recommend we leverage the form that @KennethAshley is building on #380

[2018-03-27 15:30] owocki opened #717 "Design System"
*not ready to be worked on yet*

### User Story

As a developer, I'd like to be able to leverage a design system so that I can quickly and consistently build features or ideas and have access to existing components and patterns in one place.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

[comment]: # (Describe the problem and why this task is needed. Provide description of

[2018-03-27 15:31] owocki opened #718 "Grants Landing page"
*not ready to be worked on yet*

Why does Gitcoin have grants? What is the purpose? There are different parameters to the way grants are constructed. What is Gitcoin's? How does it work? How does one qualify? Is it everyone applies, gets one? Does the person need to pay it back? Just basic information.  Examples of grants that Gitcoin would approve/sponsor? Users need to be introduced to the grant

[2018-03-27 15:31] owocki commented on #718
https://github.com/gitcoinco/web/issues/380

[2018-03-27 16:25] owocki commented on #684
i'll create a bounty for the fix of these responsive design issues now

[2018-03-27 16:26] owocki opened #719 "reverse bounties"
*not ready to be worked on yet*

it'd be great if developers could bid on the fixing of a specific github issue.. and then get that amount contributed from the community

What this means is that a developer writes up a spec/requirements doc/idea for some development, and then also estimates how much time/money it would take to get it built. People then donate, and when the estimated money level is

[2018-03-27 16:27] owocki commented on #719
https://github.com/gitcoinco/web/issues/671

possible dupe

[2018-03-27 16:27] owocki opened #720 "test 123"
test

[2018-03-27 16:27] owocki commented on #720
@gitcoinbot hit

[2018-03-27 16:28] owocki commented on #720
@gitcoinbot help

[2018-03-27 16:28] #720 closed

[2018-03-27 16:33] PixelantDesign commented on #563
@jakerockland let me know if you have questions about the design.

[2018-03-27 16:42] owocki opened #721 "dock io style referral loop page"
*not an approved idea nor is it ready to be worked on*

dock io style referral loop page

If you invite someone you get schwag

https://medium.com/dock-io/earn-dock-tokens-ffcceacd3559
![screencapture-app-dock-io-earn-invite-2018-03-27-10_41_52](https://user-images.githubusercontent.com/513929/37981652-7eea8414-31ab-11e8-92da-4cd729cfdecc.png)

[2018-03-27 16:50] owocki opened #722 "test 123"

[2018-03-27 16:50] owocki commented on #722
hi @gitcoinbot

[2018-03-27 16:50] owocki commented on #722
@gitcoinbot help

[2018-03-27 16:50] owocki commented on #722
@gitcoinbot start work

[2018-03-27 16:51] owocki commented on #722
@gitcoinbot bounty 0.1 ETH

[2018-03-27 17:41] jakerockland commented on #563
Made some [initial progress](https://github.com/jakerockland/web/tree/email-designs) on this last night. However, I am having a problem previewing the following emails:

[code]

@owocki When I try to view them on my local Docker instance I get bad request responses from Django.

[2018-03-27 17:43] mbeacom commented on #563
@jakerockland Is there a stacktrace or just a 404?

[2018-03-27 17:45] mbeacom commented on #719
This is a wonderful idea!

[2018-03-27 17:46] mbeacom commented on #684
@owocki https://github.com/gitcoinco/web/pull/688

[2018-03-27 17:49] jakerockland commented on #563
Ah yes.

For /roundup:
[code]

For /new_tip:
[code]

For /bounty_expire_warning:
[code]

For /process_accesscode_request:
[code]

I am guessing it has something to do with me not correctly passing URL parameters to the page but am not _quite_ sure what the issue is. Apologies if this is a simple error on my part 😅 first time working directly with the repo here and haven't used Django before, only

[2018-03-27 18:08] kziemianek commented on #506
I can take it :raised_hand:

[2018-03-27 19:53] PixelantDesign commented on #448
@vs77bb could you take a first pass at the copy?

[2018-03-27 20:00] owocki commented on #182
https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md#optional-import-bounty-data-from-web3-to-your-database

i think this is a decent stopgap for now ^^

[2018-03-27 20:33] cmac2454 commented on #540
Commenting to keep gitcoinbot from removing me

[2018-03-27 20:50] PixelantDesign commented on #419
@thelostone-mc

User should not be able to submit work unless they have started work. Please hide submit button.

![Screen Shot 2018-03-27 at 4.48.10 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206456f46b7191a37cf116234f5e5f5ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864

[2018-03-27 21:04] owocki commented on #684
yee haw

[2018-03-27 21:04] owocki commented on #684
nvm then

[2018-03-27 21:05] owocki commented on #563
[code]

this is because your docker instance doesnt have any bounties loaded in it!

Try importing a few bounties.  See the instructions at https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md#optional-import-bounty-data-from-web3-to-your-database

[2018-03-27 22:06] #722 closed

[2018-03-27 22:08] elmarti commented on #683
Currently having some issues testing as I currently don't have any ETH, is there any way to bypass this for testing, or to fudge in some example bounties?

[2018-03-27 22:39] jakerockland commented on #563
@owocki hmm it seems that doing so only loads one bounty and my problem persists:

[code]

[2018-03-27 22:45] owocki commented on #721
another one that seems pretty effective: https://bounty.deco.network/login

[2018-03-27 23:05] owocki commented on #563
try running sync_geth with the following args instead of the ones in the readme

[code]

[2018-03-27 23:08] owocki commented on #683
yes you can import some bounties using the instructions here https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md#optional-import-bounty-data-from-web3-to-your-database

i also recommend getting some rinkeby eth and testing via rinkeby, which you can do here => https://faucet.rinkeby.io/

[2018-03-27 23:16] owocki opened #725 "coding - /mentors page"
ticket moved to https://github.com/gitcoinco/web/issues/963

[2018-03-27 23:16] owocki commented on #565
https://github.com/gitcoinco/web/issues/725 coding task

[2018-03-27 23:18] cmac2454 commented on #565
@owocki @PixelantDesign Any other design changes or desires?

[2018-03-27 23:58] willsputra commented on #685
@mkosowsk wow thanks a lot! I'll give it a try in this couple of days.

[2018-03-27 23:59] mkosowsk commented on #685
@willsputra let me know if you need a hand :) Pretty confusing to start but very powerful once you get the hang of 👍🏻

[2018-03-28 01:41] jakerockland commented on #563
@owocki that worked in syncing bounties but I am still getting the same exceptions for /roundup and /new_tip

Do I need to be passing URL parameters?

[2018-03-28 02:05] vs77bb commented on #719
Yusss this is the Gitcoin Requests idea. I am very curious on how this goes... it could allow for a completely new expression if executed properly!

[2018-03-28 03:16] jakerockland commented on #563
@owocki While I don't think this is ready for submission yet, I think we're pretty close. Should I open a PR as a work in progress or what is the best way to get some feedback as to whether this is moving in the right direction?

https://github.com/jakerockland/web/tree/email-designs

I have been trying to stick to only changing stylistic things and not changing much of the HTML outside of the tem

[2018-03-28 07:17] thelostone-mc commented on #719
@mbeacom API redesign for bounty. Let's do `POC` !  \m/
or maybe define it as a new sub-resource

[2018-03-28 09:03] mbeacom opened #726 "BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types ['bool', 'address', 'string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/636/](https://rollbar.com/gitcoin/gitcoin/items/636/)

[code]

[2018-03-28 09:36] karolinkas commented on #684
I managed to recreate the issues locally and will add a fix as soon as possible.

[2018-03-28 10:02] mbeacom opened #727 "BadFunctionCallOutput: Could not decode contract function call getBountyToken return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/440/](https://rollbar.com/gitcoin/gitcoin/items/440/)

[code]

[2018-03-28 13:30] joshmobley commented on #684
I believe my PR addressed all the issues in the audit.

[2018-03-28 13:35] karolinkas commented on #684
Oh, I thought it's partial fix, since the issue is still open.

[2018-03-28 14:56] kziemianek commented on #714
Looks like contract needs to be changed. `struct Fulfillment` lacks acceptance date, then this date can be displayed in a row.

[2018-03-28 15:18] willsputra commented on #685
@PixelantDesign I'm seeing 3 different font styles currently for the headers:
https://gitcoin.co/leaderboard (Muli)
https://gitcoin.co/gas (Futura)
https://gitcoin.co/universe (Futura - bolder)

Should we make these header fonts consistent? If so, which font should we use?

[2018-03-28 15:20] owocki commented on #714
we dont need to modify the smart contract.  only how were storing the information in the `Bounty` and `BountyFulfillment` objects

[2018-03-28 15:38] owocki commented on #714
https://github.com/gitcoinco/web/pull/729/

[2018-03-28 15:58] kziemianek commented on #714
Yes, seems like i've deleted my comment seconds before You wrote yours.

[2018-03-28 15:58] owocki opened #730 "gmail newsletter display issues"
user clicked a link from newsletter ([this one](https://consensys.us11.list-manage.com/track/click?u=947c9b18fc27e0b00fc2ad055&id=acf28028fe&e=3ed65f5886) , which leads to the faucet page) and its all jumbled on the gmail iphone app:

![screenshot_20180327-155759](https://user-images.githubusercontent.com/513929/38041221-70787382-326e-11e8-9cc0-5a2efe42662a.png)

[2018-03-28 16:05] sethmcleod commented on #430
Apologies guys it's been a busy past week for me with client work. I'll push out an update for this asap.

[2018-03-28 16:09] joshmobley commented on #671
@PixelantDesign from the requirements, it felt similar to a kickstarter type of proposition, where the community could fund a bounty to get it ready to work. That, in addition with the amount of data displayed led me to think that tiles might be good in terms of keeping information density in balance.

In conjunction with the filters, it felt like users would still be able to adequately navigate t

[2018-03-28 16:10] joshmobley commented on #717
Related to: https://github.com/gitcoinco/GIPs/issues/6

[2018-03-28 16:11] owocki commented on #563
i think you might want to take a look at these lines in the retail/emails.py file: [new_tip](https://github.com/gitcoinco/web/blob/master/app/retail/emails.py#L355), [roundup](https://github.com/gitcoinco/web/blob/master/app/retail/emails.py#L293-L313).  if you just generate a tip object in the DB (for the former), and adjust which bounties are passed into the roundup (for the latter), you should

[2018-03-28 16:15] owocki commented on #704
this is good inspiration too! https://colony.io/contribute/

[2018-03-28 16:27] owocki commented on #354
coolio -- the api is pretty easy to use.  docs are here =>

https://github.com/gitcoinco/web/blob/master/docs/API.md

feedback from a potential customer:

[code]

[2018-03-28 16:28] thelostone-mc opened #732 "bounty: increase timeline + request increase of funds"
### Why Is this Needed?

![0 jcx5uczfsmu8bdey](https://user-images.githubusercontent.com/5358146/38042827-031d5ea0-32d3-11e8-9555-5068552b7ec8.gif)

Feature/Scope creep happens in every project. It’s unavoidable.

Would be nice if gitcoin would let me :

- request for an increase in timeline as a bounty hunter  and provide the ability to ask for a raise of bounty to the owner with justification
-

[2018-03-28 16:29] owocki commented on #448
from vivek: https://docs.google.com/document/d/1XNrwQE17tRU82vAQcBvNy3ondcgcFDuIP7fbYCfEKA8/edit?ts=5abae9d1

[2018-03-28 16:37] mbeacom commented on #732
Scope creep...  or progressive elaboration?! 🤔

Jokes aside, a formal action for requesting the funder to "add contribution" to the bounty could make sense and our ability to reflect changes to the scope of a bounty could be a good idea if we plan to aggregate bounty turnaround data.

[2018-03-28 16:40] owocki commented on #448
@vs77bb i just took a few more passes at the copy doc

[2018-03-28 16:43] owocki commented on #732
We actually just released the ability for a funder to increase the amount of funds in an issue (the butotn will only appear if ur the funder though).  Theres no current way for the bounty hunter to formally request more funds though.

We put in a fix so that the expiration date isn't a hard stop anymore.. Now people can pay out after the expiration date.  Not sure if thats what you were looking fo

[2018-03-28 16:45] owocki opened #733 "erroneous gitcoinbot comment"
https://github.com/gitcoinco/web/issues/463#issuecomment-376714541

this funded issue was NOT killed by the submitter.. but for some reason gitcoinbot commented that it was.

[2018-03-28 16:45] elmarti commented on #683
Moving onto the styling now, just got one minor UX issue - there doesn't seem to be a clear way to asynchronously handle error responses when mutating the interest, it seems to rely on alerting the user via the alert dialog in `mutate_interest`. This makes it impossible to detect when the request has failed.

In its current form I managed to get the request to fail, but still update the client sid

[2018-03-28 17:55] owocki commented on #576
looks like @mbeacom is handling that

[2018-03-28 18:00] owocki opened #734 "test 123"
test123

[2018-03-28 18:01] owocki commented on #734
@gitcoinbot help

[2018-03-28 18:01] owocki commented on #734
@gitcoinbot bounty 10 DAI

[2018-03-28 18:13] elmarti commented on #683
I've noticed there are 2 different designs in the PDF and posted in the issue.. I've tried to find a middle ground in the mean time:
![image](https://user-images.githubusercontent.com/4789968/38047998-1266a1da-32bc-11e8-92c0-50d2ba74c37f.png)

[2018-03-28 19:04] mkosowsk commented on #685
@willsputra I believe Muli is the standard now but defer to @PixelantDesign 👍

[2018-03-28 19:24] thelostone-mc commented on #685
@willsputra Ah we've picked the Muli family  and we are migrating it slowly as the pages are getting updates

I believe we will still keep Futura but i doubt they pages where the tag will be used wont be one of those ! @PixelantDesign can answer this better

For the badges stick to Muli !!

Also since you are new to open source , me and @mkosowsk are at your service. Reach out to us on slack any t

[2018-03-28 21:46] #8 closed

[2018-03-28 22:40] #714 closed

[2018-03-28 22:44] owocki commented on #684
thx for submission.. will pay out when pr is merged!

[2018-03-29 01:42] PixelantDesign opened #737 "Issue Explorer Detail"
When issue is done, update time information as follows:

Update work started name list

[2018-03-29 05:54] mbeacom commented on #445
@ryco117 Thanks for your interest in working on this issue!
Feel free to let us know if you need assistance getting started or have any questions.

[2018-03-29 06:01] ryco117 commented on #445
@mbeacom Haha, thanks for reaching out! I've actually been fighting for a few hours to get gitcoin to build/launch in my local environment (Fedora, Linux), with both the docker and non-docker options being difficult in different ways

[2018-03-29 06:07] mbeacom commented on #445
@ryco117 Have you checked out https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md ?

At minimum, all that should be required is pulling the repo and from within the repo `web` directory: `docker-compose up -d --build` will pull necessary images and build the `web` image followed by launching the containers in detached mode.  It might take a little longer the first time (to

[2018-03-29 13:03] mbeacom opened #742 "BadFunctionCallOutput: Could not decode contract function call getBountyData return data b'' for output_types ['string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/503/](https://rollbar.com/gitcoin/gitcoin/items/503/)

[code]

[2018-03-29 13:04] mbeacom opened #743 "Static Maintenance / Failover page"
### User Story

As a user, I want to see a static Gitcoin page if the site is undergoing maintenance or not responsive.

### Why Is this Needed?

*Summary*:
We should implement a static page to be used for dns failover with gitcoin branding (use existing base template) and a message explaining the website is currently undergoing maintenance.

### Description

*Type*: Feature

### Current Behavior

[2018-03-29 13:55] mkosowsk commented on #445
@ryco117 I recommend running `docker-compose up` without the `-d` option to check out the logs and see how the compose is going :) process took a bit longer than what I expected and checking out the logs confirmed that.

[2018-03-29 15:30] AlekKras commented on #477
I am new to this issue, so I might be extremely wrong but could that be a solution?
[code]

[2018-03-29 15:47] cmac2454 commented on #565
Commenting to prevent gitcoinbot from removing me.

[2018-03-29 16:09] willsputra commented on #685
@mkosowsk @thelostone-mc thanks! I've added the badges in Muli without making changes to the header fonts. is this alright? screenshots:

![alphabadge](https://user-images.githubusercontent.com/19514207/38099862-43b43070-33ae-11e8-9764-a7250fd60a01.jpg)

[2018-03-29 16:18] beneschtech commented on #115
I'm not a python expert, more of a C++ guy.  I think most likely this is some kind of cartesian join in the database, but without the data or the schema, I cant tell.

[2018-03-29 17:30] owocki commented on #463
@mbeacom wanna accept the submission here?

[2018-03-29 17:31] owocki commented on #115
i had considered that, but had figured that [this set() call](https://github.com/gitcoinco/web/blob/master/app/marketing/management/commands/roundup.py#L67) was de-duping the email list

[2018-03-29 17:40] owocki commented on #685
i like this

[2018-03-29 17:49] mkosowsk commented on #685
@willsputra looking sharp! 👍

[2018-03-29 17:54] owocki commented on #640
@vs77bb @mbeacom next time we're back we shoudl discuss how to move this fwd

[2018-03-29 18:32] mbeacom commented on #550
@cd10012 Are you still actively pursuing this? If not, we can probably close this in favor of #656 (if you are, though, feel free to raise a PR with what you have and we can determine where to go from there).

[2018-03-29 20:53] PixelantDesign opened #744 "Issue Explorer Check-box Undone"
Issue Explorer checkbox has a different design than previously implemented.

[2018-03-29 20:53] PixelantDesign commented on #744
![Screen Shot 2018-03-29 at 4.48.42 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206456fa6b7191a37cf116234f5b5d5ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864aee01ba24df4fd4b0e9821ad2f42f67b6d5db1063474f4dcbed5727a19e41c95df449e24853ac103365e1722431.png)

[2018-03-29 22:02] owocki commented on #744
i think the top buttons are radio buttons, whereas the bottom ones are checkboxes.. do we have a design for checkboxes?

maybe we could just apply the color / line weights from the radio buttons to the checkboxes?

[2018-03-29 23:44] mkosowsk commented on #744
Believe per @KennethAshley checkbox design is at https://github.com/gitcoinco/web/blob/master/app/assets/v2/css/forms/checkbox.css

[2018-03-30 00:35] ryco117 commented on #445
@mkosowsk Thanks but @mbeacom already helped me solve the issue, and I worked long into the night! Should have a proper PR in a couple days at most.

[2018-03-30 00:42] mkosowsk commented on #445
@ryco117 awesome! What was the issue and the resolution? Might be interesting to share with others out there in the community 👍

[2018-03-30 00:46] ryco117 commented on #445
@mkosowsk The issue was that the Docker install was having trouble finding a Linux manifest file for node during the build. As for the solution, I believe @mbeacom pushed the fix but not sure what

[2018-03-30 00:49] mkosowsk commented on #445
@ryco117 thanks! Been diving a bit into Docker so I'm super interested in learning about using it in different environemts :)

[2018-03-30 00:58] mbeacom commented on #744
@PixelantDesign This doesn't appear to be a result of anything merged this week.  The styling for checkboxes in the sidebar broke in https://github.com/gitcoinco/web/commit/a54893649436abb0cb74c4a193d100bd3e3d4e65#diff-a41c12f25c9f7385c56d38812c1c69bc - 8 days ago.  The styles for the checkbox you're referring to reside in https://github.com/gitcoinco/web/blob/master/app/assets/v2/css/external_bou

[2018-03-30 01:06] mbeacom commented on #445
Comically enough, the reason for the `manifest` error last night was due to a long running Janky Jenkins CI build for the new nodejs `9.10` images.  Their build to deploy the new images to docker hub had already been running for over three and a half hours -_- If you attempt to pull the image before the deployment completes the push for any given tag/architecture, you'll be greeted with the manife

[2018-03-30 03:46] PixelantDesign commented on #710
@owocki What problem are we solving for?
A user doesn't want to be displayed on the leaderboard because they want privacy (rank & amount they've made)? Or a user doesn't want to have a Gitcoin profile at all?  How do you see this working?

[2018-03-30 04:43] nitinrgupta commented on #620
I've started work on this. Was bit busy lately with other work. But, will try to knock out the first draft over this weekend.

[2018-03-30 06:55] sunxivincent commented on #713
would be better to point out if using docker-machine,  the url for accessing gitcoin website is the [docker machine host ip]://8000
docker machine host ip could be retrieved through `docker-machine env`
in DOCKER_HOST

[2018-03-30 06:55] #713 closed

[2018-03-30 09:16] ryco117 commented on #445
@owocki Created PR which should cover all remaining boundaries on the kill/submit/accept/increase bounty operations #748 .

[2018-03-30 10:55] vs77bb commented on #115
@beneschtech Sounds great. Thanks for your support here!

[2018-03-30 11:57] elmarti commented on #683
Hi, pretty much done in terms of functionality, just hit an interesting snag in `dashboard/notifications.py`...

In `build_github_notification` it uses the `profile_pairs` object to build a list of users undertaking the project as it does here https://github.com/gitcoinco/web/issues/683#issuecomment-375489064.

It's a bit confusing that the "Start work" button triggers the creation of an `Interest

[2018-03-30 13:48] matthewlilley commented on #354
Looks like some minor changes are needed to the API, a filter field for the org_name, and a simple limit. Okay for me to do a pull request those changes? Or if you have another suggestion, let me know.

"The recently funded issues—it’d be nice to show all open issues instead of recent issues. (Or, what’s defined as a “recent” issue?)"

Those issues could possibly be shown in a carousel style, so t

[2018-03-30 13:49] matthewlilley commented on #354
We could also add an option to the widget which would allow you to select recently funded, recently active etc... For a bit more flexibility.

[2018-03-30 14:13] #734 closed

[2018-03-30 14:17] owocki commented on #445
thanks!  will check it out today

[2018-03-30 14:33] owocki commented on #354
you can just pass the org_name into the `q` field

eg https://gitcoin.co/explorer?q=Metamask_extension

[2018-03-30 14:34] owocki commented on #354
Love this idea!  yes pls

love this idea.. it could maybe be a javascript param in the widget definition?

[2018-03-30 14:42] dolebas opened #749 "Display github status on issues next to comment count?"
### User Story

As a user who wants to claim issues, I want to see which issues are open/closed on github so that I can assume closed issues on github are not likely "open".

### Solution

Add github open/closed status next to the github comment count?

[2018-03-30 14:45] owocki commented on #710
Right now, this is what I've coded up

I think that we could perhaps enable this option.  Or allow the user to just hide their bounties from their public profile too

[2018-03-30 14:48] owocki commented on #683
I believe that the `Interested` object is many to manage for a reason.  you should assume that there is between 0 and n interested parties for a Bounty.

[2018-03-30 14:49] owocki commented on #683
So the problem you are trying to solve is to figure out which/how to present each users' comments in the github notification after creation of the `Interested` object?

[2018-03-30 14:50] owocki commented on #749
We should also maybe have the github issue status affect the gitcoin issue status

[2018-03-30 15:06] mkosowsk commented on #744
@owocki that was quick 👍

[2018-03-30 15:47] dolebas commented on #749
Either of would be great!

[2018-03-30 19:12] elmarti commented on #683
Yeah, in the PDF the text shows as follows:
[code]
I guess it could just be modified to have some kind of comma separated list, but it depends on whether there are future plans for internationalization as this would hard code the grammar logic.

[2018-03-30 20:25] owocki commented on #354
!remind me when this is merged to respond back to colony => https://twitter.com/collinvine/status/979738374553591808

[2018-03-30 20:33] owocki commented on #683
i think a comma seperated list works for now.  we will handle the intl8zn later

[2018-03-30 20:44] mbeacom opened #750 "NameError: name 'time' is not defined"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/657/](https://rollbar.com/gitcoin/gitcoin/items/657/)

[code]

[2018-03-30 20:53] mbeacom opened #751 "NameError: name 'time' is not defined"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/657/](https://rollbar.com/gitcoin/gitcoin/items/657/)

[code]

[2018-03-30 20:56] #751 closed

[2018-03-30 21:06] owocki opened #752 "test 123"
test 123

[2018-03-30 21:06] owocki commented on #752
@gitcoinbot help

[2018-03-30 21:07] owocki commented on #752
@gitcoinbot bounty 1 ETH

[2018-03-30 21:15] #752 closed

[2018-03-31 00:07] owocki commented on #716
audio: http://bits.owocki.com/1J0j0c09443S/audiojungle-19473039-80s-synth-pop.zip

[2018-03-31 03:48] vs77bb commented on #671
@owocki @PixelantDesign I'm starting to think that a better approach is mimicking the [Issue Explorer](https://gitcoin.co/explorer) as opposed to the Grants Page.

Kevin referred to this as 'reverse bounties' and I agree with this (as the intention is to make requests *by the issue*). @joshmobley What do you think? Apologies if the initial requirements were unclear.

Given these bounties are likel

[2018-03-31 04:06] mbeacom opened #754 "Ratelimited"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/403/](https://rollbar.com/gitcoin/gitcoin/items/403/)

[code]

[2018-03-31 05:26] Sabihashaik opened #755 "Contributing Link in README.md doesn't work"
Contributing Link in README.md doesn't work
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
It is important to direct new users to the right CONTRIBUTING.md Link

### Description
On clicking the link provided in first bullet point (link for guidelin

[2018-03-31 08:41] thelostone-mc commented on #755
@Sabihashaik Ah can't believe we missed this! -.-
Thanks for this !
PS: welcome to the gitcoin family ^_^

[2018-03-31 09:05] thelostone-mc commented on #671
@vs77bb Ah we did use the grants page as an example , that's probably why @joshmobley went along those lines. ( I would end up doing the same )

Lemme know if I've got this right :
- I see an issue on the Angular repo
- Rather than filing it on their repo directly
- They'd report it on `gitcoin/request` and the the repo owners on accepting, a finders fee get's allocated and we create an issue on t

[2018-03-31 13:44] gunjan95 commented on #259
@owocki  my settings should be in the form of interactive message through slack bot ?

[2018-04-01 05:16] vs77bb commented on #671
@thelostone-mc Kinda... the focus wouldn't necessarily be on *new issues*, but any issues that a hunter might be willing to do / a hunter thinks should be bountied.

For example, on geth right now [here is an open issue](https://github.com/ethereum/go-ethereum/issues/16400) marked 'Help Wanted'. If I'm a dev who would be willing to work on this issue for .2ETH, I should be able to link to this in

[2018-04-01 05:45] thelostone-mc commented on #671
Yup that clears up stuff a bit !

I always associated the issue explorer as a place where only bounites issues are listed !

Usually it's the hunters looking for bounties who check out the explorer right ? Would it make sense to throw these into the mix ?
( Eventually once they get funded , it would land up here nevertheless :P  )

That said , we've already got external bounties and explorer ! Don

[2018-04-01 12:05] kziemianek commented on #706
Would You mind if I take care of it ?

[2018-04-01 13:48] thelostone-mc commented on #685
@willsputra looking solid \m/

[2018-04-01 13:49] thelostone-mc commented on #685
Oh you might wanna check up the alpha tag on the top earners page - mobile , seems out of place

[2018-04-01 17:06] kziemianek opened #759 "Bounty details screen on mobile not responsive"
Bug: bounty details page display problem on mobile, buttons are not placed correctly.

![image](https://user-images.githubusercontent.com/1838338/38175613-a02ae708-35df-11e8-8937-6e0047db2d33.png)

[2018-04-01 17:11] mkosowsk opened #760 "Paying Bounties for Finding and Creating Issues for Bugs on Gitcoin (Bug Bounties!)"
### User Story

As a **User** of Gitcoin
I want to have a user experience that is free of bugs
So that I can get the most out of the platform in a streamlined fashion.

### Why Is this Needed?

Currently there are a lot of great developers working on a lot of different issues on the https://github.com/gitcoinco/web project, which is awesome! However because there are so many different people worki

[2018-04-01 17:27] thelostone-mc commented on #760
Oh I like this ! :D
This would be easy to test out within gitcoin community. Would encourage the folks to join and give it a shot !

Being paid to report bugs is something which is done today in many companies and it works well !

( Thinking ahead : This would work even with other open source repo! Incentivizing bug reporting does encourage folks to find loopholes and repo owners would love being

[2018-04-01 17:46] kziemianek opened #761 "improper email about inactivity"
*Type*: bug

### Current Behavior
Recived email about inactivity, but commented github issue today.
![image](https://user-images.githubusercontent.com/1838338/38175928-44cb7840-35e5-11e8-816c-8aaecd65641c.png)

### Expected Behavior
Github activity should be detected.

[2018-04-01 19:28] cryptomental commented on #693
Hi @mbeacom , @owocki  I noticed that the issue was put back to open. @isaacadams if you are still working on this, I will leave it to you. Otherwise I will be happy to jump in.

[2018-04-01 20:07] thelostone-mc commented on #759
@kziemianek Thanks for pointing that out !  ^_^

[2018-04-02 02:09] joshmobley commented on #671
@thelostone-mc @vs77bb I do like the idea of consolidating these different data types into one view (the explorer). That said, it may be a non-trivial design and UI effort to rework it to make sense with the various types of issues (funded vs. proposed). I could put together a couple of concepts along a spectrum of effort?

[2018-04-02 11:49] kziemianek opened #765 "Hardcoded year in emails copyright section."
*Type*: Bug

### Current Behavior
Emails contain hardcoded 2017 year.

![image](https://user-images.githubusercontent.com/1838338/38195182-7c922f84-367c-11e8-879e-8bd57d179493.png)

### Expected Behavior
Should be rendered actual year.

[2018-04-02 13:04] #755 closed

[2018-04-02 13:29] #750 closed

[2018-04-02 13:39] #744 closed

[2018-04-02 14:31] #765 closed

[2018-04-02 14:35] owocki commented on #760
we did something similar to this [before](https://github.com/gitcoinco/web/issues/38), although we graded the bugs found via the OWASP model last time we did it.  i think that was effective to prevent people from just going for low hanging fruit and actually incentivizing them to look for critical bugs (as opposed to just finding a random Android variant layout issue)

[2018-04-02 14:50] mkosowsk commented on #760
@owocki Interesting, I hadn't seen this before! I will process later :)

I think things like OWASP vulnerabilities should definitely be front and center but even things like finding and documenting low-hanging fruit a la layout issues in different environments do add value to the platform and are worth a bounty of .05 ETH/~$20 USD. These issues do hurt the UX of Gitcoin for some users and document

[2018-04-02 14:57] #679 closed

[2018-04-02 15:24] willsputra commented on #685
thanks all for the feedback! lemme know if this one's alright :)
![alphabadge](https://user-images.githubusercontent.com/19514207/38202017-ddf71d34-36cc-11e8-97b5-e4e5b8accd82.jpg)

[2018-04-02 15:34] owocki opened #767 "post-bounty completion stats"
(not ready to be worked on)

after a bounty is completed, get feedback from both parties about how it went.

* how long did it take?
* were there any snags along the way?
* did you get what you wanted out of the relationship?

[2018-04-02 15:46] willsputra commented on #685
oops so sorry for the many commits.

[2018-04-02 15:57] owocki commented on #706
pls do!

edit: whoops. commented after the PR was submitted :P

[2018-04-02 16:11] owocki commented on #506
yes!

[2018-04-02 16:12] owocki commented on #761
🤔 i wonder if since this issue ( https://github.com/gitcoinco/web/issues/506 ) has so many comments, its not getting the most recent ones because of pagination...

[2018-04-02 16:27] rachana-prajapati commented on #259
Working on this.... will be able to complete it within given timeline.

[2018-04-02 17:40] owocki opened #769 "'my projects' tab should be greyed out if user is not logged in"
# Actual Functionality

[screenshot](http://bits.owocki.com/1C2j0B2F1E0x/Screen%20Shot%202018-04-02%20at%2011.38.37%20AM.png)

Clicking these radio buttons doesnt work when the user is not logged in, in that the search results are always empty.

# Expected Functionality

When I am not logged in, these radio buttons should be disabled and there should be a prompt for the user to login.

[2018-04-02 17:44] owocki commented on #448
@PixelantDesign got any comments on the copy?  i move that we take the google doc and make it into a spec for implementation this week

[2018-04-02 17:47] owocki commented on #693
@isaacadams did you want to work on this still?  please let us know today

[2018-04-02 17:54] isaacadams commented on #693
@owocki @cryptomental @mbeacom

Hey fellas, sorry that I haven't been communicating! I am new to the community and wanted to try to finish up what I was doing but haven't had the time to do it. Go ahead and work on it as I am no longer able to do so for the time being.

[2018-04-02 17:56] kziemianek commented on #761
My suggestion is to add request parameter `since`. If we are interested in comments from last 3 days, there is no need to fetch older.

https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue

[2018-04-02 17:58] owocki opened #770 "do we want to fold Gitcoin Universe into the Issue Explorer?"
gitcoin.co/universe
gitcoin.co/explorer

do we want to fold Gitcoin Universe into the Issue Explorer?

# pros
1. one interface to send bounty hunters to
2. we could add a radio dialogue to the left sidebar allowing users to toggle bounty type

# cons
1. does having the universe bounties on the same explorer as the on-chain bounties dillute the on-chain bounties?

[2018-04-02 17:58] owocki commented on #770
@PixelantDesign @mbeylin @vs77bb curious if you have any thoughts here

[2018-04-02 18:00] owocki commented on #693
thanks for letting us know @isaacadams -- hope to see you around again when things cool down for you

@cryptomental all you!

[2018-04-02 18:14] thelostone-mc commented on #770
A unified Issue Explorer with powerful filters would be soo much more easier !
Jumping between explorers is something which I did not enjoy as a user

As of now -> we've got the gitcoin/universe which looks very different from the issue explorer but at it's core does the exact same thing

This means  -> Less maintenance + new features don't need to be replicated on both pages

We could easily add

[2018-04-02 18:30] mbeacom commented on #770
I agree that external bounties should be handled in the same manner as internal bounties. The current state is a bit jarring.  A visual identifier associated with external bounties would probably make the most sense.  This would allow the user to discern between internal vs external.  I think it's a step towards making browsing bounties less cumbersome and might unify the experience a little bette

[2018-04-02 18:36] cryptomental commented on #693
Ok. Thanks a lot. I will pick it up tomorrow morning!

[2018-04-02 18:56] thelostone-mc commented on #769
Oh shoot @kziemianek did not see your PR 😅

[2018-04-02 18:57] thelostone-mc commented on #769
@PixelantDesign could you check out @kziemianek , if it looks solid, I'll shut mine down ^_^

[2018-04-02 19:10] cmac2454 commented on #540
Preventing gitcoinbot from removing me

[2018-04-02 19:10] Korridzy opened #773 "No unsupported network alert on bounty funding"
*Type*: Bug

### Current Behavior
In case metamask is switched on unsupported network (e. g. ropsten) user can see a red alert in upper-left corner of Issue Explorer page or Issue Details page. But on Tools -> Fund Issue there are no any tests if the network supported. When user fills NewBounty form and pushes "Fund Issue" button the page is just reloading without any messages. So for user it look

[2018-04-02 19:14] Korridzy commented on #538
Sorry for disappearance. Now I'm back and implementing thelostone-mc's idea. Cause it's definitely better.

[2018-04-02 19:18] thelostone-mc commented on #769
@kziemianek This one is yours! You did shoot out the PR before me. ^_^

[2018-04-02 19:47] elmarti commented on #683
Ok, should hopefully have a PR in for this tomorrow

[2018-04-02 19:53] cmac2454 commented on #565
@owocki Can I submit work for this or do you need anything else?

[2018-04-02 19:58] owocki commented on #565
looks okay to me.  cc @PixelantDesign in case she has any feedback.  go ahead and submit

[2018-04-02 19:59] cmac2454 commented on #565
@PixelantDesign Submitting work for this issue, please let me know if you have any further feedback.

[2018-04-02 20:00] owocki commented on #761
https://github.com/gitcoinco/web/pull/458

[2018-04-02 21:10] kziemianek commented on #769
@thelostone-mc  sorry, should have posted that I'm working on this.
Updated PR according to @PixelantDesign comment.

[2018-04-02 21:16] kziemianek commented on #666
@owocki submitted work in #675 but not referenced this issue directly.

[2018-04-02 21:19] jakerockland commented on #563
Just commenting here to satisfy the Gitcoin bot that I am still working on this issue. I don't think it noticed #746 😛😄

[2018-04-02 21:34] mbeacom commented on #445
__This issue now has a funding of 0.09 ETH (34.29 USD @ $381.04/ETH) attached to it.__

 * If you would like to work on this issue you can claim it [here](http://localhost:8000/issue/gitcoinco/web/445).
 * If you've completed this issue and want to claim the bounty you can do so [here](http://localhost:8000/issue/gitcoinco/web/445)
 * Questions? Get help on the <a href='https://gitcoin.co/slack'>G

[2018-04-02 21:34] mbeacom commented on #447
__This issue now has a funding of 0.2 ETH (76.21 USD @ $381.04/ETH) attached to it.__

 * If you would like to work on this issue you can claim it [here](http://localhost:8000/issue/gitcoinco/web/447).
 * If you've completed this issue and want to claim the bounty you can do so [here](http://localhost:8000/issue/gitcoinco/web/447)
 * Questions? Get help on the <a href='https://gitcoin.co/slack'>Gi

[2018-04-02 21:34] mbeacom commented on #439
__This issue now has a funding of 0.05 ETH (19.05 USD @ $381.04/ETH) attached to it.__

 * If you would like to work on this issue you can claim it [here](http://localhost:8000/issue/gitcoinco/web/439).
 * If you've completed this issue and want to claim the bounty you can do so [here](http://localhost:8000/issue/gitcoinco/web/439)
 * Questions? Get help on the <a href='https://gitcoin.co/slack'>G

[2018-04-02 21:34] mbeacom commented on #450
__This issue now has a funding of 0.5 ETH (190.52 USD @ $381.04/ETH) attached to it.__

 * If you would like to work on this issue you can claim it [here](http://localhost:8000/issue/gitcoinco/web/450).
 * If you've completed this issue and want to claim the bounty you can do so [here](http://localhost:8000/issue/gitcoinco/web/450)
 * Questions? Get help on the <a href='https://gitcoin.co/slack'>G

[2018-04-02 22:04] vs77bb commented on #760
I like this for a bug hunting spree, which helps us track down a lot of little things that add up to funny experiences. This could help us track down and fix issues related to the core platform, which continues to be a key focus area for us.

Thoughts @mbeacom @PixelantDesign?

[2018-04-02 22:39] scottydelta commented on #450
@ghthor and I have decided to work on this together to make it such that user pays for the gas by using a custom resolver and we plan on sharing the bounty.

[2018-04-02 22:45] owocki commented on #450
very exciting :)

[2018-04-02 23:10] owocki opened #774 "setup metabase or looker"
child of #1138

https://www.metabase.com/docs/latest/setting-up-metabase.html

seems like @coderberry is pretty happy with metabase for codefund.io's dashboards.  perhaps we should move to something similar instead of writing bespoke reports in the admin

[2018-04-03 00:47] vs77bb commented on #671
@joshmobley I like that approach, sounds good. It'd be nice to have one approach if it was integrated with the Issue Explorer + another which is more standalone (I'll yield creative control on what that looks like to you along the 'spectrum' you mentioned).

I updated the issue requirements slightly to reflect our convo. Happy to put in a bit more ETH as this has escalated in scope a bit since it

[2018-04-03 00:52] sethmcleod commented on #430
Made some good progress on this today; should have it ready for review before the end of the week.

During the process I spent some time cleaning up the CSS files since I was working with fonts and such. That work turned out to be a lot more than expected, so I've submitted that as a separate PR. The work I'm doing here will be based off of that, so it will need to be reviewed and merged first: ht

[2018-04-03 01:03] mkosowsk commented on #773
Interesting find, I attempted to fund this issue (fan of meta 😂) via Tools -> Fund Work while connected to the Rinkeby Test Net.

![gitcoin co_funding_new](https://user-images.githubusercontent.com/7970539/38223414-c1f7980c-36b8-11e8-9140-e7e58bee8ca9.png)

It looks like the transaction actually went through:

![gitcoin co_funding_details__url https___github com_gitcoinco_web_issues_773](https://u

[2018-04-03 02:33] willsputra commented on #671
Some thoughts...
1. Would it be possible to have multiple requests for the same issue? Say, if Dev A is willing to work on the issue for 0.5 ETH, Dev B is willing to work on the same issue for 0.2 ETH.
2. What happens if the Repo Maintainer decides not to fund the issue? If Gitcoin Core/external funders then fund the issue, do we still need an approval from Repo Maintainer before Dev can start wor

[2018-04-03 03:32] PixelantDesign commented on #565
Looks good. Thank you @cmac2454!

[2018-04-03 03:55] PixelantDesign commented on #770
As noted by above comments, I agree that the visual differences between the two products is an obvious one that needs to be reconciled.

My question would be, what does off chain bounties solve for our users (if they are here to build skills and develop on web3). I wonder of the two together would be distracting/competing?

[2018-04-03 05:37] thelostone-mc commented on #773
I don't think so! I've used it only in the dev environment !

[2018-04-03 11:05] vs77bb commented on #770
I also tend to agree... though integrating it with our explorer is probably non-trivial, eh? It doesn't seem easy to track external bounties through stages from 'Open' --> 'Work Done' in our same format.

Perhaps we start by including the external bounties **only** during the 'Open' state? That, plus @mbeacom's suggested visual identifier / perhaps a checkbox filter so people can choose to keep th

[2018-04-03 11:19] mkosowsk commented on #671
@willsputra

1. This is a very interesting point 👍🏻From the Repo Maintainer's perspective, you want as many Devs looking at your stuff as possible and also competing on price. From the Dev's perspective, you don't want to go out and do work to find issues that would be relevant and then be undercut by other Developers who leap frog what you're doing... For a first pass, I think it would be reasona

[2018-04-03 11:39] mkosowsk opened #776 "Getting an Error When Trying to Tip User"
### Pre-condition

0. Via Metamask, be connected to the Main Ethereum Network

### Steps to Reproduce
0. Navigate to someone's Github profile and click the Tip User Button.
1. Fill out the Amount of ETH. I am trying with 0.0001
2. Agree to ToS and sent tip (or fill out info in Advanced, seeing same error for both Simple and Advanced)

![gitcoin co_tip_send_2_](https://user-images.githubusercontent

[2018-04-03 14:27] owocki commented on #776
do you get the Accounts errror on pageload and the 'txParams' error upon click?  or are both errors upon click?

[2018-04-03 17:58] PixelantDesign commented on #420
Closing this for now since we have new functionality being built (start work form) that will address some of these concerns.

[2018-04-03 17:58] #420 closed

[2018-04-03 18:01] PixelantDesign commented on #774
nice, i like

[2018-04-03 18:03] PixelantDesign commented on #767
Similar to the idea on #660

[2018-04-03 18:13] cryptomental commented on #693
I have a lot of fun diving in, I suspect that the first issue will take me a few days as I need to dive in and look around at the codebase.

I have so far set up the workspace, built docker images, refactored value_in_usdt into value_in_usdt_now, locally changed data retention policy to days_back = 365*3 , managed to fetch historic bounties using `sync_geth mainnet 0 99999999999`  and I am current

[2018-04-03 18:51] PixelantDesign commented on #760
Great idea! I like!

[2018-04-03 19:03] PixelantDesign commented on #540
Hey @cmac2454 looking good, I wonder if we could leverage the work from dev grants here.

@cmac2454 @owocki the ui kit is on the creative repo, under *UI Kit* https://github.com/gitcoinco/creative

[2018-04-03 19:51] PixelantDesign opened #777 "Performance Updates"
Local and live performance metrics by view (Implement django-silk and debug toolbar)
We currently don't know how codebase changes are impacting performance at the view/endpoint level.

[2018-04-03 19:53] PixelantDesign opened #778 "Celery"
Celery: Bring this PR across the finish line.
This issue resolves the request to increase bounty syncing rate and introduces the ability to offload async tasks to celery works.

[2018-04-03 20:03] #554 closed

[2018-04-03 20:07] mbeacom commented on #454
@DMXSF1 Were you still interested in working on this issue?

[2018-04-03 20:14] #737 closed

[2018-04-03 20:16] #719 closed

[2018-04-03 20:17] PixelantDesign commented on #716
Are you thinking this would be used when a user is in a long waiting state?

[2018-04-03 21:49] mkosowsk commented on #777
Big 👍 for this :)

[2018-04-03 21:52] mkosowsk commented on #760
@mbeacom @vs77bb great! Will go live in a few hours :)

[2018-04-03 22:09] owocki commented on #776
51a4c529d2958a0be9bdb099fe8058d1e6a30232 should fix this. . wanna retry Mitch?

[2018-04-03 22:28] owocki opened #779 "avatar_url is wrong"
https://gitcoin.co/issue/MetaMask/metamask-extension/3621
![screencapture-gitcoin-co-issue-metamask-metamask-extension-3621-2018-04-03-16_26_17](https://user-images.githubusercontent.com/513929/38279042-ced852b6-375b-11e8-8a13-1c4a6937b289.png)

The avatar at the bottom is the avatar of the github repo of the bounty, not the avatar of the bounty.

I expect that the avatar_url for the funder is the

[2018-04-03 22:28] owocki commented on #779
cc @PixelantDesign and @eswarasai since i believe yall worked on the new bounty detail page... and @vs77bb since it's his smug mug that's getting replaced with the firefox fox

[2018-04-03 22:30] owocki commented on #776
10000000 ETH, send it to kevinowocki.eth

[2018-04-03 22:41] mkosowsk commented on #776
Unforunately still seeing the error :( looks like our old friend Vivek is gonna die penniless in the gutter 😭

I may be reading the error wrong but if it's complaining that gasLimit in txParams is not a string wouldn't we want to go the other way from `parseInt` and instead do something like

`var _gasLimit = String(_gas * 1.01);`

or

`var _gasLimit =(_gas * 1.01) + "";`

or whatever other BS tha

[2018-04-03 22:42] mkosowsk commented on #776
@owocki Let me know if you've got a bit of time to hop on a Zoom, would like to resolve this (either on my end or for Gitcoin at large) as it's blocking launch of my baby #760 👍🏻

[2018-04-03 22:47] owocki commented on #776
yeah its working on my end.. which is why its all the more strange im not seeing the same error as you

just deployed e82624d2a905109be30b722ff5116ff79c0dbc68 -- want to hard refresh and try one more time?

[2018-04-03 22:49] mkosowsk commented on #776
@owocki sure bet. I hard refreshed and even restarted to try to make sure 😂one possible confounding factor is that I was switching between networks on Metamask but I am most certainly on the Main Ethereum Network

[2018-04-03 22:51] mkosowsk commented on #776
Success! Thanks for taking a look. Our friend is now 0.0001 ETH richer

I swear I hard refreshed earlier, maybe I did it before the deploy went live? Or perhaps the classic PEBCAK (problem exists between chair and keyboard 😂)

Thanks!

[2018-04-03 22:52] #776 closed

[2018-04-03 22:53] mkosowsk commented on #760
This is now live, making a comment on the Slack 😍

[2018-04-03 22:56] owocki commented on #776
i made two seperate fixes.. looks like the second one is the one that worked

[2018-04-03 22:59] owocki commented on #716
@PixelantDesign i was thinking it would make a good error (404, 500) page https://github.com/gitcoinco/web/issues/715

[2018-04-03 23:00] owocki commented on #716
@PixelantDesign but only if you feel like we can bounty it and have someone in the crowd BUIDL it in a way that doesnt neglect our core UX

[2018-04-03 23:00] owocki commented on #716
@mbeacom xactly.

[2018-04-03 23:21] owocki opened #780 "messed up CSS on https://gitcoin.co/funding/process"
https://gitcoin.co/funding/process?source=https://github.com/gitcoinco/web/issues/565

![screencapture-gitcoin-co-funding-process-2018-04-03-17_20_26](https://user-images.githubusercontent.com/513929/38280571-64f8df98-3763-11e8-98e0-beab6ddb5f9b.png)

browser: latest chrome -- this just started today

[2018-04-04 00:31] KamesCG opened #781 "[DESIGN] - Bigger Text Area for Bounty Description"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want a bigger text area to describe my bounty. It's small and claustrophobic.

![](https://pbs.twimg.com/media/DZ5gNkjWkAAADF2.jpg)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what a

[2018-04-04 02:39] abitrolly opened #783 "Funded issues are shown up as expiring in search results"
On the screenshot below at least https://gitcoin.co/issue/jhoenicke/mempool/14 is completed/funded and should not be listed as expiring in search results.

![image](https://user-images.githubusercontent.com/8781107/38285606-a78e43fa-37c9-11e8-9e2c-c2ea5162b884.png)

### User Story

As a gitcoin user, I want to see the status for all issues that are funded by certain account in search results to se

[2018-04-04 02:40] owocki commented on #781
Is OSS a viable career path for thousands of software engineers yet?

On Tue, Apr 3, 2018 at 6:32 PM KamesCG <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://w

[2018-04-04 06:04] thelostone-mc commented on #781
@KamesCG you had to add that in, didn't you ? :P

[2018-04-04 06:11] thelostone-mc commented on #783
@PixelantDesign This makes sense! Shall we add this in ?

[2018-04-04 07:34] john-brunelle commented on #760
test

[2018-04-04 07:57] cryptomental commented on #693
I start to understand more and more. Just wanted to double check if ConversionRate object should point to 'web3_created' property, or 'created_on'.

[code]

Additionally, currently the cron job updates ConversionRate every three ours querying polo and etherdelta, and retention policy wipes data older than 7 days. If we are to access all old bounties data, the ConvertionRate should be preserved for

[2018-04-04 09:01] matthewlilley commented on #354
@owocki

Here's an updated version: https://stackblitz.com/edit/js-nkwz7t

With regards to the API usage, I'd expect to be able to do something like this:

https://gitcoin.co/api/v0.1/bounties/?org_name=MetaMask&limit=10

Right now that doesn't seem possible. I'll be happy to make a pull request.

Also, is there an SVG version of the logo available? If not, are the vector files available to export

[2018-04-04 09:55] thelostone-mc commented on #779
@owocki Did not understand this 😅

@mbeacom  we are using `avatar_url` from the API response which brings up the orgs avatar url, is this something we need in our API ? Thoughts?

[2018-04-04 11:46] olafghanizadeh commented on #781
I can add this in the bounty I'm working on

[2018-04-04 11:50] thelostone-mc commented on #781
@olafghanizadeh we'll also have to update the size of the other pages like submit and stuff ( so as to keep it uniform )

[2018-04-04 11:55] olafghanizadeh commented on #781
Yes, but I think it's better to hold off on that until we finish the styling refactor that is in progress so we can implement relative units across the board :)

[2018-04-04 13:00] PixelantDesign commented on #781
Totally agree @olafghanizadeh

[2018-04-04 13:37] kziemianek opened #786 "Really thin kill bounty screen"
### Description
*Type*: Bug

### Current Behavior
Kill bounty screen really thin on desktop

![image](https://user-images.githubusercontent.com/1838338/38310813-cddded0e-381d-11e8-8c6b-b25e54b46e58.png)

### Expected Behavior
To be little bit wider ...
![image](https://user-images.githubusercontent.com/1838338/38310899-01f78b72-381e-11e8-9c3a-b4ffec0e61b0.png)

### Solution
*Summary*: maybe remove

[2018-04-04 13:42] mkosowsk commented on #786
@kziemianek does this resolve? https://github.com/gitcoinco/web/pull/782 or is that a separate issue?

[2018-04-04 13:43] kziemianek commented on #786
Solution identical, but in kill_bounty.html, there might be more ...

[2018-04-04 13:44] mkosowsk commented on #786
Great! Want 0.05 ETH per #760? 👍

[2018-04-04 13:48] kziemianek commented on #786
w00t, sure :moneybag: !

[2018-04-04 13:54] mkosowsk commented on #760
First bug bounty claimed by @kziemianek per https://github.com/gitcoinco/web/issues/786 !!! Congrats :)

[2018-04-04 13:55] mkosowsk commented on #760
1/6, 5 more to go 😍

[2018-04-04 14:24] kziemianek opened #787 "Fixed heights in tips list"
### Description
*Type*: Bug

### Current Behavior
Makes comments overflow other elements.
![image](https://user-images.githubusercontent.com/1838338/38313531-91109a96-3824-11e8-91ff-87cef9b38872.png)

### Solution
Maybe remove fixed heights ?

[2018-04-04 14:26] kziemianek commented on #787
Sorry, didn't notice profile revamp #656, possible duplicate.

[2018-04-04 14:33] owocki commented on #448
as for what tech we use to build it, im not sure mailchimp is the right direction given that they’ve been removing crypto projects
we c ould build it with sendgrid templates maybe if its important that you and vivek can edit it

[2018-04-04 14:35] #780 closed

[2018-04-04 14:36] owocki commented on #786
just merged teh above %%

[2018-04-04 14:37] kziemianek commented on #786
fixed

[2018-04-04 14:37] #786 closed

[2018-04-04 15:02] owocki opened #788 "test 123"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-04-04 15:02] john-brunelle commented on #788
hi issue

[2018-04-04 15:44] #788 closed

[2018-04-04 16:20] owocki commented on #787
my 002 wei: its worth having this done as a stopgap in the meantime before #656 happens

[2018-04-04 16:21] owocki commented on #656
@PixelantDesign what do you think of the above design?  personally i think its a big step up aesthetically from the current profile

[2018-04-04 16:32] skip-carlson commented on #656
Is the section of the profile that has the - Level 1 Funder - Level 3 Worker - ultimately going to reflect the reputation a user builds up? When people look at this, are they thinking "oh this guy is 1/5 here and 3/5 there..." Or is it even on a scale of 5, of 10? Do users know the basis? I like the idea of a certain rating there so people know the quality of the user. I imagine once the reputatio

[2018-04-04 16:36] owocki commented on #656
maybe instead of levels we can just list the number of bounties youve worked on as a funder / worker

[2018-04-04 16:41] owocki commented on #779
[here is a visual mockup of what im talking about](http://bits.owocki.com/1N1001202W3q/Screen%20Shot%202018-04-04%20at%2010.41.10%20AM.png)

[2018-04-04 16:44] mkosowsk commented on #656
I like the approach proposed by @owocki... Really like a quote from @vs77bb's recent article from Charlie Munger:

At the end of the day, we want to incentivize people working on bounties. By giving people stuff like Level 1 Funder, Level 3 Worker, etc. we introduce complexity for us to maintain and also introduce an artificial mechanism for people to level up on. I think a fair amount of contribu

[2018-04-04 16:44] owocki commented on #354
there is a vector version of the logo availalbe at https://github.com/gitcoinco/creative -- but i dont know if it's SVG

I just implemented the 'limit' param.  Meantime, could you try using this? https://gitcoin.co/api/v0.1/bounties/?q=MetaMask&limit=10

[2018-04-04 16:45] vs77bb commented on #692
@mbeacom @owocki @PixelantDesign To follow up, here are the next steps as I see.

- Bounty #491 suggesting https://github.com/lagerfeuer/cryptocompare or https://www.cryptocompare.com/api/ as data sources
- Begin building out the views in admin for all suggested views where #491 (i.e. $ price) is not a blocker

I think we should raise priority here, as it affects how we track against [Q2 OKRs](htt

[2018-04-04 16:51] owocki commented on #692
we need to decide if were gonna use looker or metabase for this

[2018-04-04 16:52] owocki commented on #354
https://github.com/gitcoinco/web/commit/91530d7d37ade96c5fef5f38c6c9c7dcda05fa7b adds limit param

[2018-04-04 16:53] #666 closed

[2018-04-04 16:58] skip-carlson commented on #656
Also to reference @mbeylin in one of his past articles on Reputation Tracking:

Perhaps there should be a link to see written reviews of a contributor's reputation.

[2018-04-04 16:58] #769 closed

[2018-04-04 17:02] owocki commented on #783
while we're at it, should we consider adding the bounty status somewhere in each results row?  could be useful for 'any' searches

[2018-04-04 17:03] PixelantDesign commented on #354
Looking good @MadhuVaddi @matthewlilley!

Would it be possible to make a couple of updates?

- Use [Muli font](https://fonts.google.com/specimen/Muli)
- Sentence case on 'Recently funded issues'
- Move 'Expires In' under each project name

Thanks!

[2018-04-04 17:07] owocki commented on #693
web3_created pls!

[2018-04-04 17:07] owocki commented on #693
yes i think so

i think that the 3 hour window is a fine degree of granularity

[2018-04-04 17:12] owocki commented on #491
possible dupe with https://github.com/gitcoinco/web/issues/693#issuecomment-378514081

[2018-04-04 17:12] owocki commented on #692
note that #491 is in progress here => https://github.com/gitcoinco/web/issues/693#issuecomment-378514081

@cryptomental is on the case

[2018-04-04 17:27] owocki commented on #770
it gives them access to 100x more bounties than are available on the bounties network / standard bounties.

it makes gitcoin the one stop shop for searching for bounties.. like searching kayak.com instead of southwest.com and united.com and frontier.com, but for bounties instead of airlines.

its certainly a customer communication challenge

[2018-04-04 17:38] owocki commented on #783
i mean the [bounty status](http://bits.owocki.com/0v3m3X2e0k3R/Image%202018-04-04%20at%2011.38.35%20AM.png)

[2018-04-04 17:49] PixelantDesign commented on #783
Makes sense in the **Any** filter to see what each item is. We could add that info using the same treatment as  level and expired.

In other views, we can rely on the top header and left rail filter the user selected.

[2018-04-04 17:54] #685 closed

[2018-04-04 18:42] thelostone-mc commented on #779
Oh :P gotcha

[2018-04-04 18:52] owocki opened #792 "alpha tag confusion"
the `ALPHA` tag makes it seem like Colony is in alpha, not the profile feature. I wonder if the placement could be changed so it’s not confusing?
![screen_shot_2018-04-04_at_11 21 50_am](https://user-images.githubusercontent.com/513929/38328036-0dfa87f6-3807-11e8-8499-a7f9c3dace8c.png)

[2018-04-04 18:52] owocki commented on #685
follow up ticket => https://github.com/gitcoinco/web/issues/792

[2018-04-04 18:55] owocki opened #793 "as a community member who provides a lot of value to gitcoin, i want to be able to apply for moderator status, so i can help grow the community"
as a community member who provides a lot of value to gitcoin, i want to be able to apply for moderator status, so i can help grow the community

possible responsibilities:
* approving faucet requests  ?
* some amount of bounty budget ?

possible implementation
* django admin
* slack admin

[2018-04-04 19:28] owocki commented on #448
hey @PixelantDesign days 4 5 and 6 just seemed really rough so i went in and took a pass at writing full emails for those.  check them out [here](https://docs.google.com/document/d/1XNrwQE17tRU82vAQcBvNy3ondcgcFDuIP7fbYCfEKA8/edit?ts=5abae9d1)

[2018-04-04 19:33] owocki opened #794 "As a site admin, I want a Gitcoin Drip Marketing Campaign that explains our vision (and how to use Gitcoin) over time, so we can enable our users to be successful."
### User Story

As a site admin, I want a Gitcoin Drip Marketing Campaign that explains our vision (and how to use Gitcoin) over time, so we can enable our users to be successful.

### Why Is this Needed?

A drip campaign of emails will allow users to learn about blockchain and Gitcoin, but not totally overwhelm them.

### Description

Please take the 6 emails from [this document](https://docs.goo

[2018-04-04 19:50] owocki opened #795 "As a user, I want to break apart my email settings and my profile settings"
# Current Settings Page
![screencapture-localhost-8080-email-settings-2018-04-04-13_47_21](https://user-images.githubusercontent.com/513929/38330782-b6382192-380e-11e8-9393-be754f97d2f1.png)

Listed at `email/settings/`

# Proposed Changes

* Take the current email settings page, and move the 'Privacy Preferences' and 'Matching Preferences' and 'Feedback' to their own tab.
* These tabs should live

[2018-04-04 20:31] owocki commented on #792
yes i agree that could work

[2018-04-04 20:34] owocki commented on #743
https://github.com/gitcoinco/web/issues/715

[2018-04-04 20:36] owocki commented on #620
looking fwd to it

[2018-04-04 20:41] owocki opened #796 "As an admin, I want Trust Through Transparency best practices for *Reading Data* implemented at Gitcoin, so I can be sure that users can trust our site."
# Refers
[Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

# See Also
#796
#797
#798
#799
#800
#801

# How to Implement here:

I think that the following best practices can / should be implemented at Gitcoin:
* Clarify which data comes from the Blockchain and which doesn’t
* Clarify the address of the contract(s)

# Suggested implementation:

Perhap

[2018-04-04 20:43] owocki opened #797 "As an admin, I want Trust Through Transparency best practices for *Writing Data* implemented at Gitcoin, so I can be sure that users can trust our site."
# Refers
[Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

# See Also
#796
#797
#798
#799
#800
#801

# How to Implement here:

I think that the following best practices can / should be implemented at Gitcoin:

the most irreversable action on gitcoin is the bounty payout.. so we could maybe put some sort of UI element here that signifies that

This i

[2018-04-04 20:45] owocki opened #798 "As an admin, I want Trust Through Transparency best practices for *Pushed Data* implemented at Gitcoin, so I can be sure that users can trust our site."
# Refers
[Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

# See Also
#796
#797
#798
#799
#800
#801

# How to Implement here:

I think that the following best practices can / should be implemented at Gitcoin:

Perhaps we could link to the events on etherscan that the bountyindex contract implements in the activyt feed on the bounty detail page.

We'

[2018-04-04 20:49] owocki opened #799 "As an admin, I want Trust Through Transparency best practices for *Transparency of Code* implemented at Gitcoin, so I can be sure that users can trust our site."
# Refers
[Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

# See Also
#796
#797
#798
#799
#800
#801

# How to Implement here:

I think that the following best practices can / should be implemented at Gitcoin:

I feel like we already do that here.  yay! http://bits.owocki.com/1b2O161R2s2e/Screen%20Shot%202018-04-04%20at%202.46.53%20PM.png

already co

[2018-04-04 20:51] owocki opened #800 "As an admin, I want Trust Through Transparency best practices for *Permanent Newbie Mode* implemented at Gitcoin, so I can be sure that users can trust our site."
(not ready to be worked on)

# See Also
#796
#797
#798
#799
#800
#801

# Idea

From [Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

1. weave in educational information with normal interaction
1.  provide 2 or more levels of educational content: Blockchain basics and Dapp specific lingo
1.  minimize and increase progressively the amount of new thin

[2018-04-04 20:52] owocki opened #801 "As an admin, I want Trust Through Transparency best practices for *Sense of community* implemented at Gitcoin, so I can be sure that users can trust our site."
(not ready to be worked on)

# See Also
#796
#797
#798
#799
#800
#801

# Idea

From [Web3 Design Principles](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)

1.  clarify how many other members are there in the community
1.  clarify who are the other members (choose appropriate categories)
1.  clarify the composition of the community (i.e. sub-groups and their power over th

[2018-04-04 21:16] owocki commented on #441
@PixelantDesign i am bountying this now per our convo on slack.  @mbeacom feel free to add the tech details when u get a chance

[2018-04-04 21:25] owocki opened #802 "Allow the user to set different language for the Gitcoin app"
Now that [we've built internationalization into the app](https://github.com/gitcoinco/web/issues/642), I would like to allow users to select a different language!

# Scope of this task

I propose that we
* default the users language to be whatever language is closest to their geolocation
* allow them to override the IP to language feature in their settings.

# Open Questions

How good is lazy tran

[2018-04-04 21:27] mbeacom commented on #802
Agreed! We can use `request.LANGUAGE_CODE` - (example: `en-us`)

[2018-04-05 00:18] willsputra commented on #656
@owocki Yea will try out the desktop view soon.

Thanks all for the great feedback! For the levels, the thought was:
1. In addition to just the number of bounties, should solving more difficult bounties reflect differently on your profile? (example: 1 Advanced bounty vs 10 Beginner bounty)
2. If yes, do we need to compile those into a single reputation score/level?

To make it simple, we could als

[2018-04-05 00:32] abitrolly commented on #783
#785 looks good. Maybe it worth to color code the status, marking Done items as green and the rest as yellow?

[2018-04-05 01:22] owocki opened #804 "design - gitcoin.co/activity"
as an end user, i want to see an activity feed of whats going on on the site, so i can see the recent action.

design - a Venmo type feed of recently bounty actions.

this will be used during livestream and also potentially asynchronously somewhere else.. it could live at gitcoin.co/activity

please see #notif-gitcoin on slack for inspiriation

# bounty

- design delivered in sketch files
- design

[2018-04-05 02:17] vs77bb commented on #779
As cool as it would be for my head to be the MetaMask fox... I understand why we need to fix this 😆

[2018-04-05 02:28] vs77bb commented on #692
@cryptomental Appreciate the help here. This is huge for us tracking against our OKR's

[2018-04-05 02:42] vs77bb commented on #656
@willsputra Digging the mobile design. Love the bias for action. Couple thoughts, drawing upon the convo from above.

- My sense is a Reputation Score might be out-of-scope for this particular issue. This, as mentioned by multiple people, is something worth thinking critically about and I know the Bounties Network folks have some plans here that I'd be curious to see. If you all think it's critica

[2018-04-05 02:50] vs77bb commented on #671
Good questions!

I think this is reasonable and will eventually happen in a sustainable way. However, it's not our intention to make this a 'race to the bottom'. I'd be fine with starting at a limit of one per issue for the MVP.

Good question. The specific instructions here will be to find issues marked 'Good First Issue' / 'Help Wanted' so that it's clear that the repo maintainer is looking for

[2018-04-05 02:57] vs77bb commented on #760
@mkosowsk Is @kziemianek eligible for more? 🤔 Great bounty!

[2018-04-05 03:09] vs77bb commented on #770
I think the trickiest part isn't posting it, but having our brand associated with fulfillment. Ultimately, if we do this, I think it should be **only** at the end of the open section as an MVP... perhaps separated by a divider? And we don't follow the bounty through fulfillment, just send the hunter to the appropriate website. 👇🏼

![kapture 2018-04-04 at 22 07 25](https://user-images.githubusercon

[2018-04-05 03:33] PixelantDesign commented on #656
Looks good @willsputra!

I do agree with @vs77bb comments on the reputation piece being out of scope for this.

**Me Area**
I think we have the space to display the information, should we consider displaying?

**Activity Area**
I like the activity area. Would love to see how pending items could be displayed (if i've submitted work and it's pending a review by a funder or if i've funded an issue an

[2018-04-05 09:40] mkosowsk commented on #671
Agree with this and not just because I'm getting paid in the hypothetical 😂At its heart, #671 is incentivizing users for Discovery (bringing the work) not the actual Contribution (doing the work) so we should be clear to delineate that 👍🏻

Side note, been discussing some interesting things with @KamesCG w.r.t. #671 and #760 (my baby! 😍) Think fleshing out these concepts could provide some big time

[2018-04-05 09:45] mkosowsk commented on #804
A big 👍 to this, really would show off work in the community :)

[2018-04-05 09:49] mkosowsk commented on #671
@vs77bb quick clarifying point on this ticket: this is for finding issues that are already created and reporting back to Gitcoin, not for creating issues and then reporting back to Gitcoin?

Creation of issues beyond bugs (a la #760) and reporting back is a fair amount more work but think it could be a huge value add for a lot of projects that want to build out stuff and have the capital to deploy

[2018-04-05 12:42] vs77bb commented on #441
@thelostone-mc 🙌 🙌 🙌

[2018-04-05 13:34] gunjan95 commented on #259
hii @owocki,  the "settings" tab / page you mentioned in the description is some functionality  that has been there in slack or our bot should ask about this ?

[2018-04-05 13:47] #550 closed

[2018-04-05 13:49] PixelantDesign commented on #312
@mbeacom @owocki Not sure where things are on this task but wondering if we should should prioritize this higher now that a profile design is in the works?

[2018-04-05 13:50] PixelantDesign commented on #580
closing since this is now a duplicate.

[2018-04-05 13:50] #580 closed

[2018-04-05 13:51] PixelantDesign commented on #424
closing since this is now a duplicate

[2018-04-05 13:51] #424 closed

[2018-04-05 13:52] PixelantDesign commented on #795
great idea!

[2018-04-05 13:54] PixelantDesign commented on #710
@owocki Do we need to find a place for this in #656 or does it make sense for this to live in settings? maybe settings makes more sense.

[2018-04-05 13:57] owocki commented on #259
the settings page => http://gitcoin.co/email/settings

[2018-04-05 13:58] owocki commented on #603
we should start on this once https://github.com/gitcoinco/web/issues/312#issuecomment-378942385 is done

[2018-04-05 13:59] owocki commented on #710
@PixelantDesign https://github.com/gitcoinco/web/issues/795 breaks up settings into hte following tabs: /settings/email, /settings/privacy, /settings/matching, 'settings/feedback' -- which i think seperates concerns enough for the time being

[2018-04-05 14:08] gunjan95 commented on #259
Do I need to create similar kind of settings page for bot related fields ?

[2018-04-05 14:16] mbeacom commented on #603
We might want to make use of `user.email` following the merger of #574

[2018-04-05 15:00] owocki opened #805 "DESIGN - cleanup mission / values page"
# references
https://github.com/gitcoinco/web/issues/139#issuecomment-354139391
this is a stopgap before https://github.com/gitcoinco/web/issues/178

# what

we'd like to cleanup http://gitcoin.co/mission
* illustrations are too busy (colorwise, also, theres maybe just too many of them)
* text content is good.
* it should be easier to scroll through on mobile
* break the text out of each image and

[2018-04-05 15:36] thelostone-mc commented on #792
@willsputra wanna throw in the fix ? :D

[2018-04-05 15:41] thelostone-mc commented on #783
That would work.
Deferring the design to @PixelantDesign

[2018-04-05 15:44] ekos26 opened #806 ""ReferenceError: Accounts is not defined" Error printed to console when sending a tip"
#### Steps to Reproduce
0. Navigate to gitcoin.co/tip
1. Click `Send Ether` Button
2. Observe error in console (see screenshot below)
Note: Whether or not user is logged into Metamask, error is observed
#### Expected Behavior
0. No errors in console
#### Actual Behavior
0. "ReferenceError: Accounts is not defined" error observed in console
#### Screenshots

![capture](https://user-images.githubuse

[2018-04-05 15:45] ekos26 commented on #760
@mkosowsk please take a look at https://github.com/gitcoinco/web/issues/806 when you have some cycles

thanks!

[2018-04-05 15:51] willsputra commented on #671
Love the discussion going on here! Starting with one request per issue sounds good to me. 👍

[2018-04-05 15:53] mkosowsk commented on #760
@ekos26 will take a look in a little bit :) nice work!

Bounty 2/6 claimed by the excellent @eswarasai per https://github.com/gitcoinco/web/pull/807. Great work!

[2018-04-05 17:15] owocki commented on #259
i think the requirements specify "An area in my settings " -- so it could either be a page in one of the many settings tabs ( see https://github.com/gitcoinco/web/issues/795 ) or just a module on one of the settings pages

[2018-04-05 17:25] #806 closed

[2018-04-05 17:42] kziemianek commented on #802
Registered users will have the option to set preferred language. Based on that preference, language code will be stored in user's session and views will be translated.

For users without preferred language and guests language will be determined on `Accept-Language` request header.

Preferred language will be added to `Profile`, it will allow to:

1. translate emails
2. share preference across all

[2018-04-05 18:22] sethmcleod opened #808 "Logo width is incorrect"
### User Story

As a user I can view the logo in it's correct size.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: It looks like the logo is being squeezed into it's container, which is messing up the proportions. One way to fix this would be to r

[2018-04-05 19:45] owocki commented on #620
thanks for doing this! looks cleaner than our current landing page :)

any thoughts on working in this requirement?

hey @PixelantDesign  im curious what you think here

[2018-04-05 20:16] nitinrgupta commented on #620
Oops. I might have missed that!

Here's the updated one: https://invis.io/D8GPKB34P3B

- Added an "Explore Python issues" CTA button with the number of Python bounties as a notification bubble in the hero section which redirects to the issue explorer page with Python bounties pre-filtered
- I've added few Python bounties after the "Explaining how Gitcoin works section" which I felt is the relevant

[2018-04-05 20:47] owocki opened #811 "seperate repo owners / developers earlier in the landing page"
have a clear CLA on the landing page to browse site as a repo owner or a developer. this would break them up into seperate landing pages
1. for developers
2. for repo owners

per dean ramadan call

[2018-04-05 20:48] owocki opened #812 "as a repo owner, i want to be able to approve people who've started work, so i can filter those who i want to work with"
@dternyak is requesting a feature that allows the bounty issuer to approve requests for work instead of first-come.   This will allow them to filter out developers who aren't a fit skillset or timing-wise

[2018-04-05 20:48] owocki commented on #812
cc @PixelantDesign -- curious if you think this is a good idea or not

[2018-04-05 20:57] owocki commented on #811
cc @PixelantDesign -- this came up on the dean call today

[2018-04-05 21:09] owocki opened #813 "As a user, I want to build an Avatar, so I can show off my bad self."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to build an Avatar, so I can show off my bad self.

### Why Is this Needed?

To make profiles on Gitcoin unique and peronsable... without being creepy

### Description

In the new FTUX flow ( https://github.com/gitcoinco/web/issues/441 ) please add a page that is an avatar builder.  This avatar buil

[2018-04-05 21:36] mkosowsk commented on #760
Bounty 3/6 of pilot study claimed by my twin sister @ekos26 per https://github.com/gitcoinco/web/issues/806. Great work!

How much time will it take until you're a better dev than me? 🤔

[2018-04-05 21:39] mkosowsk commented on #808
@sethmcleod nice find! Want 0.05 ETH for your discovery and documentation of a bug on the platform per #760? Doing a pilot studying on incentivizing the community to bug hunt and improve the platform :)

[2018-04-05 21:44] sethmcleod commented on #808
Thanks @mkosowsk! I think your bug bounties model is spot-on, but save the ETH for the next someone who finds a _real_ bug. I feel like this is too simple to warrant a payout ;)

[2018-04-05 21:48] mkosowsk commented on #808
@sethmcleod sure bet, but the pilot study ends Tuesday at midnight... if not all bounties are claimed by then there's 0.05 ETH with your name on it :)

[2018-04-05 22:06] mkosowsk commented on #812
@owocki some discussion on this topic in this ticket: https://github.com/gitcoinco/web/issues/403

I'm partial to an "Interest Expressed" approach where Developers could express interest in a given ticket and then the Bounty Issuer could chat with developers and look at their profiles to find a good fit over a certain shorter timeframe.

Think it would be best to be pretty explicit against spec wo

[2018-04-05 22:27] Korridzy commented on #773
@mkosowsk There is no issue in explorer in your case because of auto 'mainnet' filter. It looks like good enough solution for real usage.

[2018-04-05 22:48] owocki opened #814 "test out autotranslate"
https://github.com/ankitpopli1891/django-autotranslate

after https://github.com/gitcoinco/web/pull/810 is merged, we should try testing out auto translate in a few target languages and see what end users think.

for each translation?
is it accurate?  is it usable?  is it helpful?

[2018-04-05 22:51] mbeacom commented on #814
One thing I noticed while testing is the formatting around `%(some_var)s` can come out spaced incorrectly, so after you run something like:
`python3 manage.py translate_messages -l 'pl'`
The subsequent `.po` will throw a few errors during: `python3 manage.py compilemessages` on specific lines that you need to manually go in and adjust which doesn't take a whole lot of time (I think there were 8 wh

[2018-04-05 23:03] owocki commented on #814
@mbeacom one workaround would be to move the pythonic vars out of the strings before we commit to a largetranslation..

[2018-04-06 00:04] abitrolly opened #815 "Link Killed status to actual transaction"
https://gitcoin.co/issue/btcsuite/btcd/1089

### User Story

As a person who created bounty, I want to find the transaction that killed the bounty so that I can see that the funds are actually returned.

### Solution

It will help to link the status Killed to the actual transaction that made it
![image](https://user-images.githubusercontent.com/8781107/38397572-13783566-3947-11e8-9105-a568afa703d1

[2018-04-06 01:51] abitrolly opened #816 "Document and check all possible status values"
### User Story

As a gitcoin developer, I'd like to know about all possible bounty statuses to make interfaces that don't miss any info.

### Why Is this Needed?

Because Killed status is still visible as Expiring after this commit https://github.com/gitcoinco/web/pull/785/files With a graph of possible statuses, it is easier to cover all cases.

[2018-04-06 05:43] thelostone-mc commented on #816
Ah that's a good catch!
Will throw in a fix for that

[2018-04-06 07:04] abitrolly opened #817 "Broken profile markup"
### User Story

As a gitcoin user, I want to see information on my profile clearly so that I can read/check/update my status.

https://gitcoin.co/profile/ on Firefox 59.0.2 (64-bit) looks like this:

![image](https://user-images.githubusercontent.com/8781107/38407361-cf0de282-3981-11e8-8343-d0bce4ad94e3.png)

[2018-04-06 07:06] thelostone-mc commented on #812
@owocki That would mean the bounty hunter would have to wait until the issuer okays the request ?

- might make it harder for folks who are good but just starting out on open source
- the hunters timelines get affected, you've got a week of free time but I approve it 3 days later

Both approaches have it's de-merits

Question : Gitcoin who is our primary customer:  the issuer / the hunter ?
If it

[2018-04-06 07:07] abitrolly commented on #817
Full picture https://screenshots.firefox.com/Fzz5QKlesaK66ZhQ/gitcoin.co

[2018-04-06 07:08] thelostone-mc commented on #817
@owocki Can we fix this up ?
The profile revamp is still in it's design phase , might take a while to get that rolled out
( + we wanna keep @abitrolly happy :D )

[2018-04-06 07:18] abitrolly commented on #760
Not many people know about this issue. It will be better to just monitor open bugs through GitHub API like  https://github.com/gitcoinco/web/pulse/halfweekly and add some labels/bot-commands like `triage` and `confirm-bounty` that project members can issue to award people.

[2018-04-06 07:33] thelostone-mc commented on #813
Are soul patches out of style ? :P

[2018-04-06 07:45] thelostone-mc commented on #811
Eventually it'd be something along the lines off

0. A default generic one to direct them to repo / dev ?
1. for repo owners
2. for devs
   a. for every tech stack

Feels a lil overwhelming!!
Has this been done in other products ?

[2018-04-06 08:12] thelostone-mc commented on #815
@pixelant this is needed !!

[2018-04-06 08:24] abitrolly commented on #611
@owocki indented list is okay for the start. For example

* https://github.com/ipld/js-cid/issues/38 (failure to build project)
  * https://github.com/ipfs/js-ipfs/issues/938#issuecomment-377945902 (real cause that needs to be fixed)
    * and on the issue above you will find the rest of the tree that needs to be be merged

[2018-04-06 11:50] PixelantDesign commented on #620
@owocki what is the one thing we would like users to do while they are here?

Looking good @nitinrgupta! I think there is room for a little bit more creative freedom while staying inline with the brand.

Would it be possible to try a version with the following changes?
- H1 font use Futura, Muli for body copy ( see creative repo under UI KIt or reach out to me!)
- Remove the top navigation
- Is th

[2018-04-06 11:57] abitrolly commented on #783
It appears there is also Killed status.

[2018-04-06 12:38] mkosowsk commented on #812
@thelostone-mc gonna have to respectfully disagree with you on this one. I think Gitcoin has two primary customers, the issuer and the hunter. I think that at any given time there could be a focus on improving the experience for one or the other but Gitcoin only succeeds in the long term if both have a good experience and a great two-sided market is developed.

I think to limit the de-merits that

[2018-04-06 13:39] mkosowsk commented on #760
Yeah, it doesn't seem that I did a super great job of getting the word out for this 🤔 All I did was share a LinkedIn post and make a post in the #community-general channel of the Gitcoin slack: https://gitcoincommunity.slack.com/

@owocki @vs77bb do you think something like this pilot study would warrant a bullet point in the Gitcoin newsletter later down the line?

One of the main ideas behind th

[2018-04-06 13:43] mkosowsk commented on #817
@abitrolly great find! Want a 0.05 ETH payout per #760? Also thanks for your feedback in that issue as well 👍🏻

[2018-04-06 13:45] PixelantDesign commented on #812
@owocki

I think this is a good idea as it allows the funder to select the best candidate for the job. The risk is the timeline which is set by the funder (it'll be up to them to actively keep up with the folks that express interest and spend the time filtering candidates). Another risk would be only the best folks would get selected and folks with less experience may not get chances at some proje

[2018-04-06 13:47] abitrolly commented on #817
That would be nice. I could then sponsor more issues. )

No problem. We are going for the same thing.

[2018-04-06 13:48] owocki commented on #811
yep thats the plan

[2018-04-06 13:48] mkosowsk commented on #817
Sending over!

[2018-04-06 13:49] mkosowsk commented on #811
@thelostone-mc looks like Upwork just goes for the finding of freelancers angle on their main page. For Gitcoin, that would be the repo owner perspective... not saying it's correct, just another data point 🤔

[2018-04-06 13:51] mkosowsk commented on #760
Bounty 4/6 of pilot study claimed by @abitrolly per https://github.com/gitcoinco/web/issues/817. Great work!

[2018-04-06 13:52] PixelantDesign commented on #423
closing since this is included in the profile task by Will

[2018-04-06 13:52] #423 closed

[2018-04-06 13:52] #312 closed

[2018-04-06 13:58] owocki commented on #817
oy the current profile the source of a bunch of different responsive alignment issues.  i agree a stopgap fix is worthwhile

[2018-04-06 13:59] owocki commented on #815
we should probably have txids logged to the database for *each* status mutation, not just killed bounties

[2018-04-06 14:06] owocki commented on #816
does this screenshot from the side bar ( http://bits.owocki.com/0F1W211g3a0N/Screen%20Shot%202018-04-06%20at%208.04.58%20AM.png ) help?

how about this visual one? http://bits.owocki.com/0k3S1n111v1c/Screen%20Shot%202018-04-06%20at%208.06.00%20AM.png

[2018-04-06 15:16] abitrolly commented on #815
I like that idea.

[2018-04-06 16:41] thelostone-mc commented on #812
@mkosowsk I'm keen to see how we come up with something which benefits both.
In my limited experience I start off with the same thought and end up leaning towards one side!
The feedback I had gotten from a few folks -> identify your most important customer and build it around them. (the others are important too, just not as important)

It is possible I'm wrong but I'd seen this in many places like

[2018-04-06 16:50] thelostone-mc commented on #783
@owocki aren't killed and cancelled the same ?

[2018-04-06 16:51] owocki commented on #783
yes

[2018-04-06 16:51] thelostone-mc commented on #620
@PixelantDesign Do Muli and Futura work well together ?

[2018-04-06 16:52] #779 closed

[2018-04-06 16:57] owocki commented on #812
if i had my druthers, we'd add a `bounty_work_scheme` param to the `Bounty` object, and that `bounty_work_scheme` could be one of

* original
* approved_workers_only
* (possibly more in the future)

The submitter of the issue could designate a `bounty_work_scheme` when they submit the issue, and the downstream application would handle either.

[2018-04-06 17:17] mbeacom opened #819 "AuthStateMissing: Session value state missing."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/718/](https://rollbar.com/gitcoin/gitcoin/items/718/)

[code]

[2018-04-06 17:40] mbeacom opened #820 "RelatedObjectDoesNotExist: User has no profile."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/723/](https://rollbar.com/gitcoin/gitcoin/items/723/)

[code]

[2018-04-06 18:42] #816 closed

[2018-04-06 20:02] abitrolly commented on #816
Visual one is better.

[2018-04-06 20:04] abitrolly commented on #816
Although Kill/Cancel action/status wants to be consistent. It is not always clear that it is the same.

[2018-04-06 20:49] mbeacom commented on #778
#520

[2018-04-06 20:52] mbeacom commented on #419
Is this completed? @PixelantDesign

[2018-04-06 20:53] mbeacom commented on #538
@Korridzy Thanks for the update! Anything I can do to help you with this?

[2018-04-06 20:54] mbeacom commented on #683
@elmarti Anything I can do to help you with this? Whenever you raise the PR, I'll be sure to take a look!

[2018-04-06 20:55] mbeacom commented on #576
@vs77bb Sure! Feel free to end the bounty.

[2018-04-06 21:07] owocki opened #823 "comment needs left padding"
https://gitcoin.co/issue/ethereum/web3.py/566

<img width="485" alt="screen shot 2018-04-06 at 3 06 35 pm" src="https://user-images.githubusercontent.com/513929/38444378-2fde5ba8-39ac-11e8-9d90-cc05f2d81cd6.png">

this is on chrome

[2018-04-06 21:33] owocki opened #824 "'done' bounties should not have the time left field visible"
http://bits.owocki.com/3Y1K160E2n44/Screen%20Shot%202018-04-06%20at%203.33.00%20PM.png
https://gitcoin.co/issue/MetaMask/metamask-extension/3621

[2018-04-06 21:34] owocki commented on #783
this seems related https://github.com/gitcoinco/web/issues/824

[2018-04-06 23:12] thelostone-mc commented on #419
Yup ! Just the payout is pending \m/

[2018-04-07 01:27] PixelantDesign opened #826 "If Github Issue Gets Closed, Notify Funder Gitcoin Bounty Still Open"
*Not ready to be started*

Notify funder that Gitcoin Bounty is still open * even if they have closed Github issue.

Need to communicate to the funder what their options are.

[2018-04-07 16:58] PixelantDesign commented on #824
https://github.com/gitcoinco/web/pull/828

[2018-04-07 17:52] elmarti commented on #683
Hi @mbeacom, just in the final stages, having a bit of trouble attaching to the docker container for debugging before a PR, any advice? I think I will have to run it without which may be difficult

[2018-04-07 18:07] thelostone-mc commented on #430
@sethmcleod Yup!! You've got it right

We start with the
- [index.html](https://github.com/gitcoinco/web/blob/master/app/retail/templates/index.html#L151) .
  This redirects to `/get` upon being clicked
- Next we have to define the route `/get` in [url.py](https://github.com/gitcoinco/web/blob/master/app/app/urls.py#L113) where we specify where to template linking would be done `retail.views.get_g

[2018-04-07 18:49] thelostone-mc commented on #683
@elmarti what's the error you get when your  run docker ?

[2018-04-07 22:03] vs77bb commented on #450
@scottydelta @ghthor Would one of you mind re-claiming the bounty? Somehow ended up in an 'open' status, probably due to 1 week inactivity somewhere down the line.

https://gitcoin.co/issue/gitcoinco/web/450

[2018-04-07 22:06] vs77bb commented on #477
@mbeacom I think question is in your court here...

@AlekKras Would you mind claiming work on Gitcoin [here](https://gitcoin.co/issue/gitcoinco/web/477) by clicking 'Start Work'? Probably removed on our end due to inactivity, apologies.

[2018-04-07 22:10] vs77bb commented on #576
CC @owocki who was the funder here

[2018-04-07 22:53] vs77bb commented on #813
Love this.... The real question, will @thelostone-mc finally get an avatar that looks like him? 🤔

[2018-04-07 23:10] vs77bb commented on #656
Thanks for the detailed response @willsputra. Excited to see where this goes!

[2018-04-07 23:12] vs77bb commented on #533
@saptaks! Excited to see what you come up with here 🙂

[2018-04-07 23:14] vs77bb commented on #794
@shahsanjay10 Excited to see this one come together! We'll probably be tweaking at the copy a bit while you're working. Let us know if you have any questions.

[2018-04-08 00:08] vs77bb commented on #197
@owocki Is this one with you for review?

[2018-04-08 00:10] KamesCG commented on #794
Would love to piggy-back of this issue! Looking to start the exact same thing next week. Any plan to use AWS lambda functions in the future? Would love to start sharing marketing infrastructure.

[2018-04-08 00:30] elmarti commented on #683
Hi @thelostone-mc there's no error when running the docker container, I can't seem to attach to the docker instance to breakpoint the code I've written in [Cloud9](https://aws.amazon.com/cloud9) and I don't feel comfortable submitting a PR without doing that first

[2018-04-08 00:40] vs77bb commented on #413
@PixelantDesign Bounty is still open. Can you 'Cancel Bounty' [here](https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/413)?

[2018-04-08 00:42] vs77bb commented on #115
@beneschtech Were you still planning on looking at this one? @hess3000 Haven't heard from you, are you also planning on looking?

[2018-04-08 03:25] jaredcaraway commented on #805
![image](https://user-images.githubusercontent.com/436100/38462822-76f01f66-3ab2-11e8-9962-7cda2ac93a1a.png)
Okay to simplify image colors to match this palette?

[2018-04-08 06:35] thelostone-mc commented on #683
@mbeacom help needed !!
Don't think I'd be of much help here

[2018-04-08 19:14] rickyplouis commented on #813
Sounds like a fun project that I would like to take on.

[2018-04-08 19:28] PixelantDesign commented on #683
@mbeacom, please assist! Thanks!

[2018-04-08 19:48] PixelantDesign commented on #516
Closing in favor of 633

[2018-04-09 00:51] abitrolly opened #830 "Can not kill the bounty"
@owocki Hi Kevin. I am trying to kill bounty as requested in https://github.com/btcsuite/btcd/issues/1089#issuecomment-372536109 using this interface https://gitcoin.co/funding/details?url=https://github.com/btcsuite/btcd/issues/1089

First, it showed me some Transaction error in Metamask
![image](https://user-images.githubusercontent.com/8781107/38474560-e32f996c-3ba8-11e8-81d0-cd8e905f5925.png)

[2018-04-09 00:58] abitrolly opened #831 "Revert gas price vs confirmation time"
https://gitcoin.co/gas right now looks like this:

![image](https://user-images.githubusercontent.com/8781107/38474641-fe901762-3ba9-11e8-8bb9-71258754f22a.png)

Which doesn't seem too informative to me. How about switching axis?

(as a bonus points)
* make graph scale
* use historical data to measure realistic max gas price on axis

[2018-04-09 01:04] abitrolly opened #832 "PR previews"
As a PR reviewer I want to see automative previews of PR so that I don't have to install everything and test locally.

For example, to click through links on https://github.com/gitcoinco/web/pull/829

[2018-04-09 09:17] matthewlilley commented on #354
@owocki Thanks!

@PixelantDesign Absolutely, I'll make those updates Today and get back to you.

[2018-04-09 09:34] mkosowsk commented on #760
Bounty 5/6 of pilot study claimed by @eswarasai per #819. Great work!

[2018-04-09 12:58] mbeacom opened #833 "AssertionError: Cannot filter a query once a slice has been taken."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/732/](https://rollbar.com/gitcoin/gitcoin/items/732/)

[code]

[2018-04-09 13:17] #823 closed

[2018-04-09 13:17] #824 closed

[2018-04-09 13:48] mbeacom commented on #760
#819 was an automated GH issue created by rollbar. 🤔

[2018-04-09 13:48] #820 closed

[2018-04-09 13:50] thelostone-mc commented on #760
@eswarasai well played :P

[2018-04-09 13:57] PixelantDesign commented on #813
Please let us know if you have any questions @rickyplouis!

[2018-04-09 14:02] #833 closed

[2018-04-09 14:30] owocki commented on #813
@rickyplouis glad to have you. 🙌

let us know your plan of attack soon pls!

[2018-04-09 14:42] owocki commented on #429
hows this going?  last comment i see was 18 days ago

[2018-04-09 15:16] abitrolly commented on #760
@mkosowsk yes, the process is to create a funnel in which all reported bugs are nominated for a bounty. This will incentivize to report even minor issues that people are lazy to report. Not sure about the quality - sooner or later people start to think about actual value in USD (because we are showing actual value in USD) - so there could be bonus points for quality reports.

Weekly fund that gets

[2018-04-09 15:34] #792 closed

[2018-04-09 15:46] mkosowsk commented on #760
@abitrolly makes sense to me! 👍 will keep that guidance in mind :)

@mbeacom @eswarasai @thelostone-mc I wrote up this issue and had part of the Acceptance Criteria be `Bounty Hunter makes a comment in this issue and links to their newly created issue.`

but was pretty lenient with this. I went out and funded bounties for issues for bugs that people created and didn't link back to this issue and e

[2018-04-09 15:48] owocki opened #834 "Support for Multi-payee bounties"
It'd be fairly easy for us to enable bounties that are paid to multiple payees

We'd just have to change [this line](https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L201) this line in standardbounties to `total_funding_amount/total_payees`... and probably update the bounty detail / funding_new forms to account for the fact that there can be several p

[2018-04-09 15:50] jpramassini commented on #429
I was going to work on this, but I might need a week or so before I can. For now, I'll take myself off of this issue and then when I'm able put myself back on it on Gitcoin.

[2018-04-09 15:50] owocki commented on #430
easiest example to copy would be the addition of the gitcoin.co/gas page ( https://github.com/gitcoinco/web/commit/a946f5c593ae534dc225c626a33c498363c5def0#diff-de5f9bc675b8fd88763d438d8a86b210 )

[2018-04-09 15:51] sethmcleod commented on #430
That's really helpful, thank you both 👍

[2018-04-09 15:54] owocki commented on #197
from [the pr](https://github.com/gitcoinco/web/pull/700) we are waiting on the turnaround of a few comments from @leonj3813 -- then we can pay it out

[2018-04-09 15:55] abitrolly commented on #830
At the very least https://gitcoin.co/legacy/funding/clawback?source=https://github.com/btcsuite/btcd/issues/1089 should not propose to kill the bounty if it is already killed,

[2018-04-09 16:00] mbeacom commented on #429
@olafghanizadeh Do you have a branch for this? Would you mind opening a PR?  Also, one file makes sense! Feel free to handle that now or we can open an issue for it afterwards.
Please let me know if you have any questions or concerns!

[2018-04-09 16:08] abitrolly commented on #760
I feel like I can almost write a whitepaper on that `Weekly value dashboard`. :)

[2018-04-09 16:26] owocki commented on #831
hehehe.. when the ethereum network is doing really really well (operating fast and effectively), then the gitcoin.co/gas graph looks bad..

i'd almost advocate for not showing the graph if conditions are such that you can confirm a tx for < 1 gwei in < 1 minute.  just say "the ethereum network is operating at peak performnance"  then a subtitle "there is no tradeoff between speed and price right n

[2018-04-09 16:31] mbeacom commented on #792
#827 has been merged - This issue should be good to close!

[2018-04-09 16:32] mbeacom commented on #808
Resolved via #807

[2018-04-09 16:32] #808 closed

[2018-04-09 16:35] mbeacom commented on #773
We've been discussing limiting the live environment to only allow the creation of `mainnet` bounties, but as it sits currently, that's not the case.

@owocki Think we should pull the trigger on this and limit bounty creation to environment specific networks?

[2018-04-09 16:37] owocki commented on #830
this for the feedback; we are working on this here https://github.com/gitcoinco/web/issues/445

[2018-04-09 16:37] mbeacom commented on #477
@vs77bb @AlekKras This is already implemented in #778 and tracked at #668

This issue will be a followup after the above is merged.

[2018-04-09 16:38] owocki commented on #830
hey @abitrolly - the reason for the error is that the [bounty has already been killed](https://gitcoin.co/issue/btcsuite/btcd/1089)

[2018-04-09 16:48] abitrolly commented on #831
Placing a button to rotate the axis would solve the problem for me. The price can also be < 1gwei, right?

[2018-04-09 17:25] mbeacom commented on #429
@olafghanizadeh Yeah, that's what I heard.  If you raise a PR associated with your branch, it'll be easier to know which files you're encountering conflicts with and allow us to try to accommodate those changes.  Without knowing where/what you're working on, it's fairly difficult to try to avoid the conflicts.

Once you raise the PR, I'll be sure to review it and attempt to avoid merge conflicts w

[2018-04-09 17:26] owocki commented on #773
its worth a conversation... I can't say I have a strong opinion one way or another.. maybe worth a convo in the architecture weekly or the priv-contributes channel?

[2018-04-09 17:36] mbeacom opened #835 "IndexError: list index out of range"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/578/](https://rollbar.com/gitcoin/gitcoin/items/578/)

[code]

Ideally, we should be validating the Github URL before it ever gets here.

[2018-04-09 17:38] #835 closed

[2018-04-09 17:40] PixelantDesign commented on #656
@willsputra I was just thinking that currently icons are being used to represent github name, email, etc. And since we have teh space, I wondered I thought we could display it. Up to your discretion of course.

[2018-04-09 17:50] #563 closed

[2018-04-09 17:55] PixelantDesign commented on #413
done @vs77bb

[2018-04-09 17:58] mkosowsk commented on #831
@abitrolly I don't think so, I thought 1 gwei was the atom that couldn't be split for a tx? 🤔

[2018-04-09 18:00] thelostone-mc commented on #831
We could use a charting library that renders the scale based on the values ! Might solve the problem

[2018-04-09 18:13] mkosowsk commented on #773
Per @mbeacom in the Slack

I give a 👍 to this... even Ethereum pros like @owocki have burned ETH on testnets, and I was confused why I could seemingly fund an issue Production via Rinkeby even tho it didn't go through. Think it's best to put the guardrails up in different environments to limit confusion for **Users** :)

[2018-04-09 19:04] owocki commented on #563
just got the above notification, and it was [in the new email design](http://bits.owocki.com/2a1F2O2z0t3r/Screen%20Shot%202018-04-09%20at%201.04.06%20PM.png).  how meta!  yay!

[2018-04-09 19:05] owocki opened #836 "bounty detail page - button padding is messed up at certain resolutions"
[screenshot](http://bits.owocki.com/1c3u0n0g3l3C/Screen%20Shot%202018-04-09%20at%201.04.45%20PM.png)

[2018-04-09 19:05] owocki commented on #836
this is latest chrome on a mac

[2018-04-09 19:16] jakerockland commented on #563
@owocki so meta--same!

<img width="922" alt="screenshot 2018-04-09 12 14 35" src="https://user-images.githubusercontent.com/8602661/38517744-c77c930e-3bef-11e8-9dba-bfc5329e781a.png">

side-note, this being my first completed Gitcoin bounty I can now say that the whole UX of using the Gitcoin system is super rad! 🙌

[2018-04-09 19:17] owocki commented on #563
if you're not careful.. you might become a testimonial :)

[2018-04-09 19:22] jakerockland opened #837 "Duplicate "Funds Paid" email being sent"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
I received two identical "Funds Paid" emails after having my completed bounty accepted.

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
I should only receive one of these emails.

### Reproduction
[comment]: # (Describe how we

[2018-04-09 19:23] owocki opened #838 "Canceled Bounty gitcoinbot github message was wrong"
https://github.com/gitcoinco/web/issues/413#issuecomment-379838705

This message should have said that the bounty was canceled.  not approved and issued

[2018-04-09 19:25] #838 closed

[2018-04-09 19:34] owocki commented on #831
you can def do 0.1 or 0.2 gwei gas in metamask.  not sure about other clients

the data is gathered from here https://ethgasstation.info/predictionTable.php

[2018-04-09 19:43] owocki commented on #831
would something like this help? 90ca798c19a58b2fb8b47176739c269b99d0b4b9

[screenshot](http://bits.owocki.com/3w352B3R0U0r/Screen%20Shot%202018-04-09%20at%201.42.53%20PM.png)

[2018-04-09 19:45] #817 closed

[2018-04-09 19:52] owocki commented on #115
https://github.com/gitcoinco/web/issues/837

[2018-04-09 20:32] kziemianek opened #839 "Expired bounty invalid days ago counter"
### Description
*Type*: Bug

### Current Behavior
Time left counter shows incorrect information.

### Expected Behavior
Maybe it should be orange and there should be information that bounty is expired. At least 'days ago' should be gone if there are no days left.

### Reproduction
Go to https://gitcoin.co/issue/gitcoinco/web/506

[2018-04-09 20:41] owocki commented on #839
https://github.com/gitcoinco/web/pull/840

[2018-04-09 20:43] olafghanizadeh commented on #805
I would like to work on this after I submit my current bounty. :)

[2018-04-09 23:21] owocki opened #843 "EthOS -- a SolidCoin Experiment"
# ethos

For [Ethereal Summit](https://etherealsummit.com) on May 11th, we will be distributing 50 ethos coins to the community.  Here's what they look like:

<img width="886" alt="screen shot 2018-04-09 at 4 59 46 pm" src="https://user-images.githubusercontent.com/513929/38527362-89be4dbe-3c17-11e8-8c78-b6d66a17e268.png">

# another solidcoin!

If you can't tell just by looking at them, these eth

[2018-04-09 23:33] eswarasai commented on #843
@thelostone-mc -- Team up again? 😉

[2018-04-09 23:35] eswarasai commented on #831
@owocki -- Any ideas about using this or working on top of it maybe? -- https://eswarasai.github.io/gasprice/

[2018-04-09 23:43] eswarasai commented on #773
@mkosowsk -- Is the reason behind you couldn't find the issue on the explorer is due to the `mainnet` filter already applied on top of your search text? Probably the created issue is attached to `rinkeby` network filter maybe?

Either way, definitely funding of an issue on production should be restricted to `mainnet`. It doesn't make sense to support testnets on production environment.

@mbeacom -

[2018-04-10 03:09] owocki commented on #843
coin back will have a QR code, a tag line that says "works with Trust Browser, BUIDLt with Gitcoin"

[2018-04-10 03:16] mbeacom opened #844 "TypeError: Object of type '__proxy__' is not JSON serializable"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/709/](https://rollbar.com/gitcoin/gitcoin/items/709/)

[code]

[2018-04-10 04:36] abitrolly commented on #831
![image](https://user-images.githubusercontent.com/8781107/38536427-d386a124-3c91-11e8-9418-f3e504ab487b.png)
I can read this graph much easier.

[2018-04-10 05:16] PixelantDesign commented on #831
@abitrolly I think that does help make it clearer. Would be great if the chart knew how to scale based on the data available. I do think it's helpful to have values on x and y axis for the points in between.

[2018-04-10 05:22] PixelantDesign opened #845 "Gitcoin Email Updates"
Mobile display needs updates.

[2018-04-10 05:25] PixelantDesign opened #846 "New Marketing Landing Page"
New marketing landing page for repo owners

refer to google doc

[2018-04-10 05:26] PixelantDesign opened #847 "Event Flier"
child of #1130

Create flier to match marketing landing page

[2018-04-10 05:41] PixelantDesign opened #848 "How to ensure funder payout?"

[2018-04-10 05:42] PixelantDesign opened #849 "Request Funding Increase"

[2018-04-10 05:51] PixelantDesign opened #850 "Funder FTUX"

[2018-04-10 06:01] PixelantDesign opened #851 "Relationship Between Toolbox Items and Core Product"

[2018-04-10 06:13] PixelantDesign commented on #534
do after understand customer research

[2018-04-10 06:44] thelostone-mc commented on #843
@eswarasai I'm in ^_^

[2018-04-10 06:50] PixelantDesign opened #852 "Funder Activities Task Flow"
Taskflow for series of steps the funder needs to take to get in the app and to fund a bounty.

Combines tasks for: #529, #681, #846, #850

[2018-04-10 07:04] PixelantDesign commented on #770
Another way to decide could be to create a quick survey to see if users want this in the explorer.

[2018-04-10 09:29] cryptomental commented on #607
Hi @owocki @vs77bb the bounty has been inactive for last three weeks. I would be able to jump in. Any chance to stake a bit more funding to the bounty? ;) The current level is ~40% below the original amount.

[2018-04-10 12:39] JDFind opened #854 "Cannot claim bounty on Rinkeby"
### Description
*Type*: Bug

### Current Behavior
Cannot submit work for a bounty posted on Rinkeby using Chrome and Metamask extension (4.5.5).
The submit work screen appears, all fields have the (apparently) correct data.
When I click _Submit_, Metamask opens but shows the wrong gas limit (6 mil) and _"Transaction Error. Exception thrown in contract code."_ message (see attached screenshots).

A

[2018-04-10 12:40] JDFind commented on #760
Hello @mkosowsk! Is issue #854 eligible for a tip?

[2018-04-10 13:26] mkosowsk commented on #843
Awesome! Colorado Coins were a big hit, looking forward to these as well 👍

And @thelostone-mc and @eswarasai working together? Dramatic re-enactment of that team-up:

http://digitalspyuk.cdnds.net/17/13/768x384/landscape-1457975259-armwrestle.gif

[2018-04-10 13:43] mkosowsk commented on #843
Awesome! Colorado Coins were a big hit, looking forward to these as well 👍

And @thelostone-mc and @eswarasai working together? Dramatic re-enactment of that team-up:

![EthOS team](http://digitalspyuk.cdnds.net/17/13/768x384/landscape-1457975259-armwrestle.gif)

[2018-04-10 13:56] owocki commented on #843
@eswarasai @thelostone-mc would love to work with ya again!

[2018-04-10 14:01] owocki commented on #831
we can do this!  in fact, its what https://github.com/gitcoinco/web/commit/90ca798c19a58b2fb8b47176739c269b99d0b4b9 was meant to do

[2018-04-10 14:03] #839 closed

[2018-04-10 14:03] owocki commented on #831
example of the above commit at work (gas chart scaling) https://gitcoin.co/gas

[2018-04-10 14:04] owocki commented on #854
cannot claim bounty bc its expired.  should be fixed when https://github.com/gitcoinco/web/issues/445 is merged

[2018-04-10 14:04] PixelantDesign commented on #843
@owocki One question I had - if this is being used on a mobile device, does it need to be in the tips modal?

[2018-04-10 14:06] owocki commented on #849
this is agood idea?

[2018-04-10 14:08] owocki commented on #607
yeah the ETH markets have been a little bit bearish recently...

happy to top off the bounty from 0.07 to 0.12 -- would that help @cryptomental ?

[2018-04-10 14:16] PixelantDesign commented on #849
Obviously for down the road. The use case is if a contributor feels the work is beyond what is scoped, they should be able to request a little more money. I realized this a dup anyway, let me move to the other ticket.

[2018-04-10 14:16] #849 closed

[2018-04-10 14:18] owocki commented on #854
https://github.com/gitcoinco/web/commit/0287e7734340233ec1f19a19629ea0e948e04c36#r28508476

normally you can submit work after the expiration date.. but it looks like that was accidentally reverted in the above commit.  i've put in a fix.

cc @mbeacom @vs77bb @PixelantDesign we should be prepared for questions about why submissions after expiration date aren't working.. looks like the reverted cod

[2018-04-10 14:19] owocki opened #855 "update can_submit_after_expiration_date"
https://github.com/gitcoinco/web/commit/0287e7734340233ec1f19a19629ea0e948e04c36#r28508476

normally you can submit work after the expiration date.. but it looks like that was accidentally reverted in the above commit.  i've put in a fix.

we will need to update the code in `bounty.can_submit_after_expiration_date()` in order to reflect the fact that we cannot rely on `bounty.payload.expire_date`

[2018-04-10 14:41] mkosowsk commented on #760
@JDFind you bet it is! Great find :) You are the 6th and final bounty for this pilot study... sending over now 👍🏻

[2018-04-10 14:51] mkosowsk commented on #760
Bounty 6/6 of pilot study claimed by @JDFind  per #854. Great work!

That wraps up the pilot study, thanks to all the participants!  @kziemianek @eswarasai @ekos26 @abitrolly @JDFind

Please provide any feedback you have for the study, both positive and constructive :)

I think this pilot study supports the concept of a continuous weekly bug hunt that is funded by an  ETH equivalent of something l

[2018-04-10 14:55] JDFind commented on #760
Thank you! Glad I could help.

[2018-04-10 15:04] cryptomental commented on #607
Hah, why not! ;)

[2018-04-10 15:04] cryptomental commented on #607
First 'cleanup' PR will land soon.

[2018-04-10 15:16] owocki commented on #843
doesnt need to be.. that view is already mobile optimized and works nicely on mobile tho, so i figured it'd save the contributor some cycles by providing that upfront

[2018-04-10 15:30] rickyplouis commented on #813
@owocki Finished getting the environment setup locally with docker and integrated github. I'm still looking through the codebase and trying to determine where it would be best to build out the avatar  builder page. I was thinking of making it accessible by the user clicking on "change avatar" or something like that on the View Profile Page. Then once the on-boarding process is complete this page c

[2018-04-10 15:33] owocki commented on #813
@rickyplouis we are building an onboarding flow ( https://github.com/gitcoinco/web/issues/441 ) where this will eventually live.

for now, lets keep the link to the page as lightweight as possible.  maybe just put it as a link [in the top nav](http://bits.owocki.com/0Q1d241p2f2i/Screen%20Shot%202018-04-10%20at%209.32.46%20AM.png)

[2018-04-10 15:38] rickyplouis commented on #813
@owocki got it. I was also wondering if Gitcoin had a style guide or contribution guidelines that I should follow as I proceed?

[2018-04-10 16:00] owocki commented on #813
style guide => https://github.com/gitcoinco/creative/tree/master/Brand
contribution guidelines => https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md

[2018-04-10 16:28] rickyplouis commented on #813
@owocki awww thank you. I think I have everything I need to succeed. I'll get started right away. Give me a week or two.

[2018-04-10 19:41] #777 closed

[2018-04-10 19:41] #491 closed

[2018-04-10 19:44] #448 closed

[2018-04-10 19:47] #565 closed

[2018-04-10 19:49] PixelantDesign opened #859 "FTUX Backend"

[2018-04-10 19:50] #506 closed

[2018-04-10 20:48] thelostone-mc commented on #859
@mbeacom before you start , gimme a heads up
I've written a bit of code , just wanna make sure we don't end up re-writing stuff ^_^

[2018-04-10 21:06] #855 closed

[2018-04-10 22:04] HectorZarate commented on #725
Hello just commenting that I am still working on this issue. Since good software development depends on good communication, I'll use this thread to communicate updates and any questions. Thanks!

[2018-04-10 22:27] owocki commented on #607
graet let us know when ready for review :)

[2018-04-10 23:55] owocki commented on #783
@PixelantDesign looks like @thelostone-mc handled this above!  thanks aditya!

[2018-04-10 23:55] #783 closed

[2018-04-11 01:45] mkosowsk commented on #773
@eswarasai I think that was probably the case, had the filter applied and didn't realize it 😂

[2018-04-11 04:28] Ddfulton commented on #805
@olafghanizadeh Hey man, if you think you will have your current bounty done by 6PM EST tomorrow then it's all yours. But if not, I can submit a clean design of it by that time tomorrow and then code it up within one day of whenever it gets approved.

I would normally love to collaborate but I'm not sure this project is big enough to warrant collaboration.

@owocki What do you think about that?

[2018-04-11 07:57] kziemianek commented on #787
![image](https://user-images.githubusercontent.com/1838338/38603698-a407af32-3d6e-11e8-9072-6e0c2ddf98ad.png)

Fixed in #825

[2018-04-11 07:57] #787 closed

[2018-04-11 12:07] cryptomental commented on #692
@owocki , @vs77bb I added CryptoCompare support. get_prices command iterates through bounties, if ConversionRate is not available for web3_created bounty timestamp it pulls data from CryptoCompare .
16876ce

[2018-04-11 13:30] olafghanizadeh commented on #805
If you're able to do it now that is fair.

Can we try to push for use of SVG in this iteration?

[2018-04-11 15:59] owocki commented on #491
hey @PixelantDesign @mkosowsk -- @cryptomental and i are wrapping up some changes on the code here. which prices do we want to show for each individual bounty on the explorer page?

for `open` (started, submitted) bounties,  im thinking we show the CURRENT value of the bounty.
for `closed` (done, expired, cancelled) bounties,  im thinking we show the historical value of the bounty.

does that work

[2018-04-11 16:16] PixelantDesign commented on #491
Makes sense to me!

[2018-04-11 16:24] rachana-prajapati commented on #259
Working on this... Stuck at one place.. hopefully ll b able to resolve it asap..

[2018-04-11 16:53] mkosowsk commented on #259
@rachana-prajapati what issue are you stuck on? Good to share with the Gitcoin community, it's a super friendly and helpful bunch! 👍🏻

[2018-04-11 16:58] mkosowsk commented on #491
@owocki sounds good! One minor clarifying question, for `closed` when you say historical value of the bounty does that mean when the bounty was first issued or when the bounty was done?

For expired and cancelled, think it might make sense to have the historical value be when the bounty was first issued. But for issues that are done, it might make sense to be the value in fiat that was paid out wh

[2018-04-11 17:06] rachana-prajapati commented on #259
Sending necessary JSON to slack requires **'https**' request. While sending **https** request, it's saying: "certificate verification failed".. Tried all possible ways but no luck.

[2018-04-11 17:25] owocki commented on #450
@scottydelta are you still working on this?  if not, let us know so we can ask for help from someone else

[2018-04-11 17:36] mkosowsk commented on #259
@eswarasai you seen this one before? A resolution is worth 0.025 ETH 👍🏻

[2018-04-11 17:38] owocki commented on #491
[stats with the requested changes -- local vs prod!](http://bits.owocki.com/1N0v0u2X430w/Screen%20Shot%202018-04-11%20at%2011.37.27%20AM.png)

last mutation of the bounty.. so for done, when it became done.. or for cancelled, when it was cancelled

[2018-04-11 17:50] mkosowsk commented on #491
Great work @owocki and @CryptoMental! Think is a pretty big QoL change for Gitcoin, quantifies the real value transfer on the platform and not daily fluctuations in the crypto market 💪🏻🤠👍🏻

[2018-04-11 17:55] owocki commented on #491
one thing i'm noticing from testing.. do we want to show the conv rate date on [this module](http://bits.owocki.com/2q1f1e0W0v2j/Screen%20Shot%202018-04-11%20at%2011.54.30%20AM.png) in addition to the conv rate ? if you look at old bounties, the user is kind of left guessing when the conv rate is pegged to.. or maybe i just am because im focused on this now

[2018-04-11 18:07] owocki commented on #640
@vs77bb i'm looking to bounty a few things today.. is this a good candidate? seems like we resolved the above conversation...

[2018-04-11 18:08] owocki opened #864 "clearly label rinkeby bounties as not real ETH"
From a community member:

I think you can just do 2 things to improve the clarity that rinkeby bounties are not real mainnet bounties
Firstly you can make a small description on the bottom of the page or on top saying that this is Rinkeby Eth and not real Eth
like when people tag it as Rinkeby or not main net it'll automatically display that description or warning on the page
secondly, maybe chang

[2018-04-11 18:09] owocki commented on #864
or we can just get rid of rinkeby bounties on prod => https://github.com/gitcoinco/web/issues/773#issuecomment-379814406

[2018-04-11 18:11] owocki opened #865 "Apply New ETHAvatar Design to ETHAvatar.com"
### References

* https://github.com/gitcoinco/ethavatar
* https://ethavatar.com
* interaction demo: http://bits.owocki.com/1N3u1b2T0s23/ethavatar.mp4
* designs: https://behance.net/gallery/63812815/ETH-Avatar-V3
* design assets: https://github.com/gitcoinco/creative/tree/master/Blockchain%20Projects/ETHAvatar

### Bounty

The Scope of this task is to apply the new design to the ETHAvatar.com site

[2018-04-11 18:21] owocki opened #866 "As a funder, I want an easy way to generate and send 1099s, so I can be sure my actions are compliant with tax law."
### User Story

As a funder, I want an easy way to generate and send 1099s, so I can be sure my actions are compliant with tax law.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
Compliance with the IRS

### Description

[comment]: # (Feature or Bug? i.e Typ

[2018-04-11 18:29] mkosowsk commented on #491
@owocki I would include the date, think it's good info that provides context

[2018-04-11 18:37] lucaguglielmi commented on #865
![1](https://user-images.githubusercontent.com/12232068/38636287-a890892e-3dbf-11e8-8c49-fd6909a28f33.jpg)
![2](https://user-images.githubusercontent.com/12232068/38636288-a8b34982-3dbf-11e8-8458-0e2b0fca5f13.jpg)
![3](https://user-images.githubusercontent.com/12232068/38636289-a8d32bda-3dbf-11e8-8c80-3bd0fcc0a6a4.jpg)
![4](https://user-images.githubusercontent.com/12232068/38636290-a8efae90-3dbf-

[2018-04-11 18:45] owocki commented on #865
@lucaguglielmi are there any sketch files or source files you could attach here?

[2018-04-11 18:45] owocki commented on #491
[screenshot](http://bits.owocki.com/323Q2z0Q3a0n/Screen%20Shot%202018-04-11%20at%2012.45.22%20PM.png)

[2018-04-11 18:47] eswarasai commented on #259
@mkosowsk -- Thanks for looping me in here. I really haven't faced such issue, not that I have experience with Slackbot integrations but the error sounds bit weird to me.

@rachana-prajapati -- I'd recommend creating a WIP PR, so that we can take a look at the code and also try to replicate the issue and see how to resolve the same. While you're at it, maybe you can also go through [this thread](h

[2018-04-11 19:46] owocki commented on #454
im going to wrap this up now

[2018-04-11 19:46] #454 closed

[2018-04-11 20:32] owocki opened #868 "This is a test bounty for demo purposes"
This is a test bounty for demo purposes

### User Story

This is a test bounty for demo purposes

### Why Is this Needed?

To show off bounties via Video

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Feature

### Current Behavior
No demo video

### Expected Behavior
Demo Video

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

### Soluti

[2018-04-11 20:39] mkosowsk commented on #868
This is a test comment for attention-seeking purposes 😂

[2018-04-11 20:57] mkosowsk commented on #864
I agree with @mbeacom and think it's best to limit bounty creation to environment specific networks per https://github.com/gitcoinco/web/issues/773#issuecomment-379844200

[2018-04-11 21:43] mbeacom opened #869 "AuthStateMissing: Session value state missing."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/718/](https://rollbar.com/gitcoin/gitcoin/items/718/)

[code]

[2018-04-11 21:45] owocki commented on #868
![download](https://user-images.githubusercontent.com/513929/38644886-5f898aa2-3d9f-11e8-8bfb-0fb0b4b41405.jpg)

[2018-04-11 21:45] #868 closed

[2018-04-11 21:57] gunjan95 commented on #259
@eswarasai we are trying to use slack api web hook to post the message and from postman we are able to send the message perfectly. But the only concern is there this web hooks are generated from
 slack api page. https://api.slack.com/apps/A9YNULSG7/incoming-webhooks and we are not able to find the way to automating the process. Do you know is there any exposed api which can help to generate this ?

[2018-04-11 23:44] willsputra commented on #656
checking in for gitcoin bot 😂

[2018-04-12 00:16] willsputra commented on #656
here's what I got so far. thoughts? 🙂

![profile](https://user-images.githubusercontent.com/19514207/38649504-965be8ec-3e29-11e8-9e89-571a9d808801.png)

[2018-04-12 03:41] vs77bb commented on #671
@joshmobley Think we might have lost 'Start Work' here for unresponsiveness. Mind clicking it to re-claim?

[2018-04-12 05:40] PixelantDesign commented on #656
Hi @willsputra looking good!

- What will my title be if I'm a funder and contributor?
- Would it be possible to use the format and styling from the activity feed from explorer detail?

[2018-04-12 05:58] owocki opened #871 "admin login broken in prod"
per my DM to mark

[2018-04-12 06:25] owocki commented on #656
very excited about this :)

[2018-04-12 06:26] owocki commented on #794
@shahsanjay10 hows this going?

[2018-04-12 08:51] thelostone-mc commented on #656
That design 😍
I'm tempted to take up the coding work ! Soo very tempted

[2018-04-12 09:29] eswarasai commented on #843
@owocki -- I have few questions w.r.t. the EthOS flow which are below :

How can we determine this?

On successful transaction page, we display the above message. But how are they going to do that?

We'll be generating this tweet which user can share or in the Backend we'll be posting this tweet on [GetGitcoin](https://twitter.com/getgitcoin) twitter handle?

@owocki @thelostone-mc -- Any suggesti

[2018-04-12 13:27] mbeacom opened #872 "AttributeError: 'NoneType' object has no attribute 'email'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/755/](https://rollbar.com/gitcoin/gitcoin/items/755/)

[code]

[2018-04-12 13:36] #872 closed

[2018-04-12 13:58] owocki commented on #656
@thelostone-mc lets get a finalized design done and lets talk then :)

[2018-04-12 14:00] owocki commented on #843
If theres a `web3` javascript instance. [see this](https://github.com/MetaMask/faq/blob/master/detecting_metamask.md)

not sure i understand the question.   we'll all be at a conference, so that's how they'll distirbute the coins

i'll make a seperate twitter handle for the production app (probably called EthOS or similar).. you'll probably need to craete a seperate twitter account for testing

i

[2018-04-12 14:31] willsputra commented on #656
Thanks all for the feedback! Will improve on it :)

[2018-04-12 14:35] kziemianek commented on #680
Seem's like gitcoin works well with trustwallet so this issue involves only icon/text modifcation.
What about changing metamask icon to 'wallet' or 'ethereum' and replacing metamask word with 'wallet' ?

[2018-04-12 15:40] eswarasai commented on #843
@owocki -- Thanks for the clarification.

I forgot for a moment that this is a solidcoin and will be passed on to the other person 😅

[2018-04-12 16:34] mbeacom commented on #871
Resolved at the CDN level.

[2018-04-12 16:34] #871 closed

[2018-04-12 16:52] owocki opened #873 "feedback crm just went a little haywire"
[screenshot](http://bits.owocki.com/0p2t160B1Q0u/Screen%20Shot%202018-04-12%20at%2010.52.40%20AM.png)

do not send if receiver == bounty hunter
do not send unless recently fulfilled
do not send dupe

[2018-04-12 16:57] owocki opened #874 "as a new user, i want a gitcoin slack intro bot, so i can know what i need to know to be a part of the community"
shoudl hang out in the community-intros channel and tell people hi as they join

the message we have been using so far:
[code]

[2018-04-12 17:13] owocki opened #875 "refactor ios backend code to use user model"
ref: https://github.com/gitcoinco/web/commit/22e693b9224e24dbd81276c545542de90a2aaa34#commitcomment-28547563

this piece of code for the ios app; needs to be refactored to use the django social core plugin

[2018-04-12 17:38] gunjan95 commented on #259
I have tried different approach now. using slack client I am able to send message.

[2018-04-12 17:39] owocki commented on #491
https://github.com/gitcoinco/web/pull/853 is live now

[2018-04-12 17:39] owocki commented on #693
https://github.com/gitcoinco/web/pull/853 is live now

[2018-04-12 17:40] gunjan95 commented on #259
Now we are fine with getting one hard coded message to channel whenever one issue is created on github.

[2018-04-12 17:42] gunjan95 commented on #259
@eswarasai can you help me with the existing source code. So that I can write some logic to add settings. Html pages I need to change and database which I am supposed to use. These all are now blockers for me.
the settings page => http://gitcoin.co/email/settings
where is the code for this page ?

[2018-04-12 18:12] eswarasai commented on #259
@gunjan95 -- Sure.
HTML -- [`email_settings.html`](https://github.com/gitcoinco/web/blob/master/app/retail/templates/email_settings.html)

W.r.t. technical implementation of the task in the Backend, it'd be better if you can discuss this with either @owocki or @mbeacom before actually jumping to the implementation.

[2018-04-12 18:17] gunjan95 commented on #259
thanks @eswarasai
@owocki is there any preferable db which we need to use and please guide us to existing DBModel .

[2018-04-12 19:47] owocki commented on #259
you can use the existing postgres DB.. i'd probably recommend creating a new model for this info

[2018-04-12 20:30] owocki opened #876 "timezone issues with opened date"
http://bits.owocki.com/2I460x3e1T0Z/Screen%20Shot%202018-04-12%20at%202.30.06%20PM.png

https://gitcoin.co/issue/gitcoinco/web/865

This bounty was really opened 3 hours ago but the 'opened' date says 10 hours ago

[2018-04-12 20:36] owocki opened #877 "`make fix` stylelint error"
[code]

yields
[code]

[2018-04-12 20:36] owocki commented on #877
@mbeacom is do you get this too?

[2018-04-12 20:38] owocki commented on #620
sign up, or do a bounty.

@nitinrgupta how are the pixelant changes coming along?

[2018-04-12 21:40] mbeacom commented on #877
Looks like you need `stylelint` - `npm install -g stylelint`

[2018-04-12 22:03] owocki commented on #877
oic.. i just figured that that was managed in the docker container... but i guess i was wrong

should that be added to some of the contributing / readme docs if it's local?

[2018-04-12 22:04] owocki commented on #631
hey @Dan-Nolan i'd love to touch base for an update when you have one!

[2018-04-12 23:26] jakerockland commented on #222
@owocki what is the intention of there being 2 definitions of work -- is it possible to just do those two things concurrently or do you want .sketch files for the designs before I start putting them together?

[2018-04-12 23:50] jakerockland commented on #222
@owocki ah it looks from the conversation above that this may not actually be ready to be worked on? is @PixelantDesign working on a design for this first?

[2018-04-13 00:47] pelsasser opened #879 "Incorrect dollar value shown for bounties"
Currently issues are showing the incorrect dollar amount based on the ETH staked.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
![image](https://user-images.githubusercontent.com/15096737/38711241-c2c1e9ec-3e81-11e8-9402-fd38773fc121.png)

[2018-04-13 01:34] owocki commented on #879
Which issue is this for

On Thu, Apr 12, 2018 at 6:47 PM Phil Elsasser <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http

[2018-04-13 03:28] #879 closed

[2018-04-13 03:28] owocki commented on #879
@pelsasser i just deployed a fix for this => https://gitcoin.co/issue/MARKETProtocol/dApp/98

[2018-04-13 05:09] owocki commented on #222
@jakerockland there is a coding and design specification.  im more than happy if you do them concurrently

i dont think @PixelantDesign has the cycles to do a design for this so i was hoping for a lightweight  design effort from the contributor

[2018-04-13 07:32] thelostone-mc commented on #222
@jakerockland If you need help with the coding bit, gimme a heads up!
I'd be be happy to help ^_^

If you need help with the design bit ,we've got @KennethAshley @sethmcleod who've got mad skills :D

[2018-04-13 07:35] thelostone-mc commented on #877
If we are doing that, might as well add `npm install -g eslint` too!

[2018-04-13 10:46] pelsasser commented on #879
@owocki - thanks for the quick turnaround!

[2018-04-13 13:30] kziemianek commented on #759
@owocki seems like this issue is fixed, shall we close ?

[2018-04-13 13:38] #759 closed

[2018-04-13 13:38] mbeacom commented on #759
Thanks everyone!

[2018-04-13 13:54] kziemianek opened #883 "Cannot submit work"
### Description
*Type*: Bug

### Current Behavior
I try to submit work but metamask shows information that contract code throws exception.

### Expected Behavior
User should be able to submit work.

### Reproduction
https://gitcoin.co/issue/gitcoinco/web/506

### Additional Information
![image](https://user-images.githubusercontent.com/1838338/38738463-8676426a-3f32-11e8-9298-c8bb235b967d.png)

Gi

[2018-04-13 14:04] kziemianek commented on #682
@owocki ready for this ?

[2018-04-13 16:40] jakerockland commented on #222
@owocki awesome, just wanted to verify. will likely just do concurrently then!

thank you @thelostone-mc ! 😅

[2018-04-13 17:13] owocki commented on #795
http://bits.owocki.com/2w38191c3i02/Screen%20Recording%202018-04-13%20at%2011.12%20AM.gif

[2018-04-13 17:16] owocki commented on #795
https://github.com/gitcoinco/web/pull/745

[2018-04-13 17:16] #795 closed

[2018-04-13 18:26] owocki commented on #883
this is likely because the bounty is expired

https://github.com/gitcoinco/web/pull/870

this issue will help with the UX

[2018-04-13 19:59] owocki commented on #222
@StareIntoTheBeard can you add your info here too?  @jakerockland justin just joined the team and we'd love to include him in this

[2018-04-13 20:09] StareIntoTheBeard commented on #222
yup

On Fri, Apr 13, 2018 at 1:59 PM, Kevin Owocki <notifications@github.com>
wrote:

--
—
*Justin Bean // Lead Elixir Engineer*
justin@codefund.io
codefund.io
@codefundio <https://twitter.com/codefundio>

[2018-04-13 20:28] StareIntoTheBeard commented on #222
Name: Justin Bean
Gitcoin Slack: justin-bean
Role: Engineering
Favorite Food: Sushi
Favorite Gitcoin Feature: The issue explorer

[2018-04-14 03:13] jakerockland commented on #222
So I've implemented an initial version of this and have attached screenshots here. If this is what you're looking for @owocki, I can create a PR (I believe current setup is basically ready for merge, with the one exception that currently I have the custom CSS at the top of the file in a `<style>` block as `base.css` doesn't seem to be being updated [I'm guessing there is a cache somewhere that I n

[2018-04-14 03:48] mbeacom commented on #222
@jakerockland Thanks for working on this! Feel free to raise a PR.  Regardless of the state, we can adjust from there.

[2018-04-14 04:14] jakerockland commented on #222
@mbeacom sure thing, will do!

[2018-04-14 08:13] nitinrgupta commented on #620
Hey @PixelantDesign
Here's the updated design: https://invis.io/E8GVXFGG9FR

Below are my thoughts on your feedback

Done

I'm not sure why you suggested this. But removed it.

Yes this will link to the issue explorer page with python tasks filtered. But we could do either way. Link it to the bottom section as well.

I did not use the same size as 'what is gitcoin' headers just to create the heira

[2018-04-14 13:09] thelostone-mc commented on #222
@eswarasai our names are there 😎 :P

[2018-04-15 05:47] zoek1 commented on #450
can i work on this @owocki? I love work an app that integrate with ENS :heart_eyes:

[2018-04-15 07:09] scottydelta commented on #450
@owocki This feature was completed in my last PR(testing required) but it requires Gitcoin to pay for the gas. @ghthor suggested that he could help with deploying a custom resolver which would allow users to pay gas for the subdomains but he has been unable to make any progress so far.

@zoek1 if you think you can help me with the custom resolver part then I would be more than happy to work on the

[2018-04-15 20:13] thelostone-mc commented on #843
p - this coin has been shared <num> times.  the top coin has been shared <num> times.
button -

@owocki  does this mean each time the same coin is shared -> since I was part of the chain -> I get EthOS coins  ?

[2018-04-15 22:04] owocki opened #891 "Figure out how to deal with renamed repos and orgs within the context of bounties"
pipermerriam => ethereum
Market Project => market protocol

[2018-04-15 22:07] owocki commented on #843
yes!

[2018-04-15 22:11] owocki opened #892 "quarterly 'my stats' email"
example:

<img width="733" alt="screen_shot_2018-04-14_at_7 29 50_pm" src="https://user-images.githubusercontent.com/513929/38783966-a32158a0-40c7-11e8-8ff8-64c86c23c0b8.png">

sent to people who were active on the platform in that 3 month period

[2018-04-15 22:11] owocki commented on #892
thanks for the suggestion @thelostone-mc

[2018-04-15 22:15] owocki opened #893 "as a submitter, i want to link my github PR when i submit work, so i can show off what i did"
### User Story

as a submitter, i want to link my github PR when i submit work, so i can show off what i did

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

helps us link the work that was done to the actual issue itself

### Description

[comment

[2018-04-15 22:16] owocki opened #894 "As a funder, I want to test the ability for a funder to be able to 'tip' Gitcoin, so I can see what kind of revenue would be gneerated."
### User Story

As a funder, I want to test the ability for a funder to be able to 'tip' Gitcoin, so I can see what kind of revenue would be gneerated.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Revenue Testing..

### Description

[comment]: #

[2018-04-15 22:18] owocki opened #895 "As a funder, I want to have a PM assigned to my Gitcoin account, so I can know that they have my authorization to manage my bounties."
### User Story

As a funder, I want to have a PM assigned to my Gitcoin account, so I can know that they have my authorization to manage my bounties.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

someone who is (0) knowledgeable about the Gitcoi

[2018-04-15 22:42] owocki commented on #450
@scottydelta are you talking about this PR? https://github.com/gitcoinco/web/pull/509  mind removing 'WIP' from the title?  also, the checklist on the bounty desc is not complete.. is `subdomain registration and deletion` coming in a 2nd PR?

[2018-04-16 00:44] scottydelta commented on #450
@owocki Sorry, I forgot to link the PR, #509 is the one. `subdomain registration and deletion` is not marked complete and still shows WIP because it is not tested properly and my implementation will require the ENS domain owner to bear the cost of gas which will be Gitcoin in this case.

If you want to go ahead with this implementation then I could use some help in testing. The tester needs to hav

[2018-04-16 02:44] owocki commented on #450
i dont mind having gitcoin pay the gas.  but i would like to get this fully tested

yes pls!  can you send me the wallet details on gitcoin.co/slack or via email (kevin@gitcoin.co)?

is there any way we can make it work with infura?  does it have to be a *local* synced node?

[2018-04-16 03:03] scottydelta commented on #450
@owocki If that's the case, each Github user will be limited to one transaction per lifetime. Once the subdomain is transferred to the user's Metamask wallet address, the user can change the new ENS subdomain resolution wallet address as well as the ownership(any wallet address) as long as the top-level ENS domain owner doesn't revoke the access by changing ownership of that subdomain.

AFAIK, thi

[2018-04-16 03:28] #576 closed

[2018-04-16 03:32] owocki opened #896 "as someone who has started work, i only want to be reminded to continue my work if i haven't been truly active, so i can filter signal from noise"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as someone who has started work, i only want to be reminded to continue my work if i haven't been truly active, so i can filter signal from noise

### Why Is this Needed?

lots of users complain about getting the `expiration_start_work` emails, which are designed to remind them if they've let  an issue slip, even if