[2021-07-26 17:56] GITCOINDEVELOPER commented on #5053
https://github.com/GITCOINDEVELOPER/security/tree/main

[2021-07-26 18:13] ririen commented on #8870
ping @Kweiss @owocki

[2021-07-31 10:52] Tranvanlap95 opened #9325 "https://github.com/ethereum-optimism/optimism/pull/1277"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-07-31 16:32] 0xM4r10 commented on #6229
Dear @owocki
Would you please mark my account as trusted too.

[2021-08-02 05:42] thelostone-mc commented on #9318
I've updated the txn ID! The checks should run through and it should show fulfilled in a bit

[2021-08-02 05:43] thelostone-mc commented on #9303
I'd say clear your local storage + cache and do a hard reload and it should work

![image](https://user-images.githubusercontent.com/5358146/127809880-c01c9264-b6e2-46ee-89f5-9961a4e163b9.png)

[2021-08-02 05:43] #9303 closed

[2021-08-02 07:09] #9325 closed

[2021-08-02 07:10] thelostone-mc commented on #9318
It's updated !

[2021-08-02 07:10] #9318 closed

[2021-08-03 08:14] 15226342722 opened #9329 "Able to tell users what the correct answer is after they make a mistake"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-08-03 20:05] piregler opened #9331 "Skip intro til prep link"
Hello Gitcoiner!

I love to use Gitcoin quests to learn more about the Ethereum ecosystem and other blockchains.

One nice thing to have would be a skip til quest rep function.
After doing several quests, I find the intro to long, even with the fast forward with space function.
If I use the skip intro function, I don't get the to the link with the informations needed to do the quest.

What do you

[2021-08-04 16:51] nuttycom opened #9337 "Provide functionality to search grants that have ended."
I'd love to be able to have our new developer relations guy check in with all the folks who were awarded Zcash grants, but I can't figure out how to find all the grants from the Zcash funding round we did; it seems like there isn't a way to search grants that are no longer available unless you have the direct links to each grant that was awarded.

Is there some functionality that I'm not finding,

[2021-08-05 05:39] thelostone-mc commented on #9337
Since the round ended ! The search had been disabled
You should be able to view all the grants via this URL
https://gitcoin.co/grants/explorer/ZCash?idle=true

We are working on a revamp to see make it easier to filter between chains and that should roll out next month making it easier to navigate and search

[2021-08-05 07:16] thelostone-mc opened #9338 "feat: 1/3 steward report card - model changes"
### Description

Refer: https://github.com/gitcoinco/web/issues/9290

#### Create Table WorkStream

- [ ] name // charfield
- [ ] gov_link //  textfield
- [ ] badge_lead //  Image
- [ ] badge_member //  Image
- [ ] leads // fk to GTCStewards
- [ ] members // one-to-many GTCStewards

####  Update Table GTCSteward

Currently we have [GTCSteward](https://github.com/gitcoinco/web/blob/master/app/quadr

[2021-08-05 07:25] thelostone-mc opened #9339 "feat: 2/3 steward report card - data population"
### Description

This task focuses on
 - setting up function which is a celery task that would populate certain fields by making API calls created on #9338
 - a cron job which would invoke the above function on a weekly basis
 - depends on completion on #9338

// TODO ADD MORE

[2021-08-05 07:32] thelostone-mc opened #9340 "feat: 3/3 steward report card - API"
### Description

Create a new API endpoint in https://github.com/gitcoinco/web/blob/master/app/quadraticlands/urls.py called `
/stewards` and `steward/<steward-id>`
which would fetch information

// TODO ADD

[2021-08-06 06:16] oneemo95 opened #9342 "******Bug Report Template*******"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-08-06 20:24] Bayramalikaplan opened #9343 "Request form walletconnect error"
the address part in the form cannot be filled in despite connecting to the site via walletconnect on the money request screen.

![Screenshot_2021-08-06-23-12-32-567_com android chrome](https://user-images.githubusercontent.com/88409193/128567221-6214c4e5-7f32-440e-8e6a-ec72e1637493.jpg)

[2021-08-07 12:43] oneemo95 commented on #9342
_Sent from my RMX2020 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2021-08-07 22:02] #9342 closed

[2021-08-09 02:25] stackaccount1 opened #9344 "Trust Verification Via SMS Not Working"
**Describe the bug**
Trust verification at https://gitcoin.co/profile/trust the send verification code button was not working for me

**To Reproduce**
go to https://gitcoin.co/profile/trust
click SMS verify
enter phone number
click send verification code

**Expected behavior**
no code sent or execution of code sent on page notification

**Screenshots**
![verifywith](https://user-images.githubuserc

[2021-08-09 20:13] nuttycom commented on #9337
@thelostone-mc This doesn't appear to include a number of the grants that were funded: for example, none of the grants that I contributed to or was involved with are there:
https://gitcoin.co/grants/1513/zcash-observatory-netsec-dashboard-api-and-resear
https://gitcoin.co/grants/1489/non-custodial-zcash-wallet-built-natively-for-ios
https://gitcoin.co/grants/1484/fast-sync-for-zecwallet-android-an

[2021-08-10 04:14] benpercifield commented on #5326
I want a set that is all gradients; all color no avatar, does there need to be a discernible thing or does a color scheme suffice for an avatar

[2021-08-10 18:16] nya-elimuai opened #9346 "More than 1 ETH requested in transaction fee during bounty payout"
**Describe the bug**
I'm requested to pay nearly $4,000 in transaction fee after pressing the "Payout" button on a bounty.

**To Reproduce**
Go to a bounty with the amount 50 DAI.

**Expected behavior**
The gas fee should be roughly 100 times lower.

**Screenshots**

<img width="479" alt="Screen Shot 2021-08-10 at 8 11 01 PM" src="https://user-images.githubusercontent.com/15718174/128913223-3afb5c

[2021-08-10 18:18] nya-elimuai commented on #9346
@octavioamu ☝️

[2021-08-11 13:38] thelostone-mc commented on #9346
@nya-elimuai i think we just default to what metamask suggest ! Could you check what are the values right now when you click Payout + compare them to Basic settings in Customize Gas to know what the slow/med/fast rates are ?

[2021-08-11 14:11] thelostone-mc commented on #9343
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__Work has been started__.

These users each claimed they can complete the work by 265 years, 3 months from now.
Please review their action plans below:

**1) [shitzu-mc](http://localhost:8000/shitzu-mc) has started work.**

Provide an action plan and any initial questions you have for this ticket.  Provide an action plan and any ini

[2021-08-11 14:11] thelostone-mc commented on #9343
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__Work for 0.001 ETH  has been submitted by__:

<hr>

* Learn more [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/9343/100023791)
* Want to chip in? Add your own contribution [here](http://localhost:8000/issue/gitcoinco/web/9343/100023791).
* Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin

[2021-08-11 22:10] Bayramalikaplan commented on #9343
When I tried again 1 day after writing to you, the problem was fixed, thank
you

11 Ağu 2021 Çar 16:39 tarihinde Aditya Anand M C ***@***.***>
şunu yazdı:

[2021-08-12 08:36] Morgan1010 commented on #7919
I redeemed my kudos to valora and trust wallet
Please help me get it back 😭😭😭😭

[2021-08-12 08:43] nya-elimuai commented on #9346
@thelostone-mc

<img width="472" alt="Screen Shot 2021-08-12 at 10 43 04 AM" src="https://user-images.githubusercontent.com/15718174/129166941-c69187ab-ebaf-4b9f-9f50-d44248550f15.png">

<img width="472" alt="Screen Shot 2021-08-12 at 10 43 12 AM" src="https://user-images.githubusercontent.com/15718174/129166948-3e565d19-4aeb-4d99-9198-af13e9cb5065.png">

[2021-08-13 15:28] TimDaub commented on #9125
HELLO IS THERE LIFE ON MARS?

[2021-08-13 15:28] #9125 closed

[2021-08-13 18:04] adamsoffer opened #9351 "Bug: "Sync Issue" call to action is unresponsive."
**Describe the bug**
"Sync Issue" call to action is unresponsive.

**To Reproduce**
1. Click "Bounty Options"
2. Try clicking "Sync Issue" in the dropdown

**Expected behavior**
The issue should sync upon clicking the "Sync Issue" call to action.

**Screenshots**
![gitcoin](https://user-images.githubusercontent.com/555740/129400861-8ab34fb1-8e53-411b-ae20-1e318b696b1e.gif)

**Desktop (please compl

[2021-08-13 20:38] Sirlupinwatson1 commented on #7919
Hi @hcchiu2030, I hope you are doing well!

I can see you have 21 Kudos on xDai Network. Here is the Link.
https://blockscout.com/xdai/mainnet/address/0xFdCE75F8129FA0D0aBF6e047F99B5bCFCDFf5c5e/token-transfers

[2021-08-13 20:38] Sirlupinwatson1 commented on #7919
Hey @Morgan1010, how are you :)

Can you post your Gitcoin Account name or your Wallet Address so I can have a look.

Thank you.

[2021-08-13 20:40] Sirlupinwatson1 commented on #7919
Hey @ether-btc,

Please post your Wallet Address or your Gitcoin account for further verification. Thank you!

[2021-08-13 20:51] Sirlupinwatson1 commented on #7919
Add the xDai Network in Metamask
Network Name: xDai
New RPC URL: https://rpc.xdaichain.com/
Chaid ID: 100
Currency Symbol (Optional): xDai
Block Explorer URL (Optional): https://blockscout.com/xdai/mainnet/

Add the Contract address for Kudo Tokens: 0x74e596525C63393f42C76987b6A66F4e52733efa
Decimal: Can you try to input 0
See if it's working now.

[2021-08-13 23:10] benjaminchodroff opened #9352 "Unable to verify Twitter of cryptodrinks247"
**Describe the bug**
Attempting to verify Twitter cryptodrinks247 for grant https://gitcoin.co/grants/3350/crypto-drinks-community is failing

**To Reproduce**
Click grant
Click verify
Sorry, we couldn't get the last tweet from @cryptodrinks247

**Expected behavior**
Either show more time is necessary or verify it

**Screenshots**
![image](https://user-images.githubusercontent.com/4411206/12942608

[2021-08-14 04:50] ether-btc commented on #7919
Sure, Gitcoin the same as here (ether-btc) and there's my xDAI wallet address: https://blockscout.com/xdai/mainnet/address/0x3f43a33Be58a84bfCa084d25328Af4Ae41678620

[2021-08-14 13:00] Sirlupinwatson1 commented on #7919
I can see on your Gitcoin profile that you have 3 Kudo. All of them are on the xDai Netork.
I need to verify something with the amount of Kudo that had been minted for this one in particular:
https://gitcoin.co/kudos/5359084/the_weekly_mint_issue_30 (Seems like there is -387 Kudo Available from this Kudo) We should not be able to send or receive this kudo because there is a limited amount.

While

[2021-08-16 14:16] abitrolly opened #9355 "How to apply for a grant?"
I want to resurrect https://github.com/Praqma/docker-linkchecker for checking links in CI. How to know if there is anybody interested in sponsoring this activity?

[2021-08-16 17:47] freddmannen opened #9358 "dGov Bounty: Request for Proposal: GitcoinDAO.com website"
Hello DAOfrens,

This is a request for someone to come up with a homepage for GitcoinDAO.com 15

An ideal candidate would be

-     aesthetically pleasing and on brand 1 for Gitcoin
-     would help a newcomer navigate GitcoinDAO, including the Gitcoin mission, how to get involved in governance, how to earn/use GTC, etc.
-     be decentralized in such a way that governance (or someone with delegat

[2021-08-16 17:50] freddmannen opened #9359 "dGov Bounty: Request for Proposal: Decentralize Gitcoin Quests"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for managing @quests | Gitcoin 2

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the Quests experience from our centralized codebase to a decentralized frontend.

An ideal candidate would be have the following principles:

1.     Simplicity - products

[2021-08-16 17:51] freddmannen opened #9360 "dGov Bounty: Request for Proposal: Decentralize Gitcoin Kudos"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for managing @kudos | Gitcoin 3

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the Kudos experience from our centralized codebase 3 to a decentralized frontend.

NOTE: Kudos is already a ERC-721-style NFT with a smart contract 1, so the bones are alre

[2021-08-16 17:51] freddmannen opened #9361 "dGov Bounty: Request for Proposal: Decentralized Gitcoin Avatar Builder"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for creating Gitcoin-style avatars 1.

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the avatar builder.

We build the avatar builder so that users could celebrate their uniqueness and have a cool way of showing off their individuality on the site. As

[2021-08-16 17:52] freddmannen opened #9362 "dGov Bounty: Request for Proposal: Decentralize Gitcoin Profiles"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for managing gitcoin profiles.

This includes The reputation information on Gitcoin profiles 7

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the data that we host on each end-user.

An ideal candidate would be have the following principles:

1.     S

[2021-08-16 17:58] freddmannen commented on #9362
@connoroday ping

[2021-08-16 21:29] #9358 closed

[2021-08-16 21:30] #9360 closed

[2021-08-16 21:30] #9359 closed

[2021-08-16 21:31] #9361 closed

[2021-08-16 21:31] #9362 closed

[2021-08-17 10:21] aquiladev opened #9363 "Verify Grant Issue `buidltxn`"
### Who
Grant https://gitcoin.co/grants/3357/buidltxn
Tweet https://twitter.com/buidltxn/status/1427377523705458689?s=20

### What
Receiving an error on verification `Sorry, we couldn't get the last tweet from @buidltxn`

### Why?

[2021-08-17 13:33] DSBUGAY2 opened #9364 "<!--"
### Who
Grant https://gitcoin.co/grants/3357/buidltxn
Tweet https://twitter.com/buidltxn/status/1427377523705458689?s=20

### What
Receiving an error on verification `Sorry, we couldn't get the last tweet from @buidltxn`

### Why?

__Originally posted by @aquiladev in https://github.com/gitcoinco/web/issues/9363__

[2021-08-17 16:47] andogro opened #9366 "Verify Grant Issue"
### Who

Grant https://gitcoin.co/grants/3364/blockscout
Tweet https://twitter.com/blockscoutcom/status/1427671538459938821

### What

Receiving an error on twitter verification

### Why

[2021-08-18 02:55] Tranvanlap95 commented on #5436
Subscribe

[2021-08-18 08:28] JeremiahKamama opened #9370 "Verify Grant Issue"
**Who**

Grant: https://gitcoin.co/grants/3363/kamama-a-blog-about-crypto
Tweet: https://twitter.com/JeremiahKamama/status/1427908451854848003

**What**

Receiving an error on twitter verification

 Why

[2021-08-19 13:47] AlphaSerpentis opened #9373 "Verify Grant Issue - Optional Finance"
### Who
[Optional Finance's Grant Page](https://gitcoin.co/grants/3358/optional)
[Proof of Verification](https://twitter.com/OptionalFinance/status/1427471093330325506)

### What
Unable to verify the grant's Twitter account despite waiting for several days.

### Why

[2021-08-20 10:13] porobov opened #9375 "Cannot claim matching for my grant."
**Describe the bug**
- Got the letter "ACTION REQUIRED - Your Grants Round 10 Distribution of 2282.8 DAI"
- Followed the instructions in the letter ([my grant page](https://gitcoin.co/grants/281/upala-price-of-forgery-digital-identity-panvala-l)).
- Couldn't find the Claim Match button.

**To Reproduce**
- Go to your grant page
- Login with the wallet specified as the Ethereum Payout Address (in p

[2021-08-20 11:56] robin-rrt opened #9376 "Verify Grant Issue"
### What
Verifying via twitter is not working. I uploaded the automated tweet on my profile but upon clicking verify, the Gitcoin grant page says that it cannot find the last tweet from my account.
twitter: https://twitter.com/uncryptd/status/1428686523046662146?s=20
![image](https://user-images.githubusercontent.com/66296664/130229469-a8ff2286-e603-4400-8832-c21de2ccbae5.png)
### Why
Not sure why

[2021-08-20 22:27] DSBUGAY2 commented on #9370
- [ ]

[2021-08-21 19:26] DSBUGAY2 opened #9378 "Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done"
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__The funding of 30.0 ETH  (89207.88 USD @ $2973.6/ETH) attached to this issue has been **cancelled** by the bounty submitter__

* Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://discord.gg/gitcoin/'>Gitcoin's Discord</a>
* $3,547,852.57 more funded OSS Work available on the [Gitcoin Iss

[2021-08-21 19:26] DSBUGAY2 commented on #9378
J

[2021-08-22 16:56] Zhevelt opened #9379 "Kudos/marketplace: misplaced link makes sorting option unusable"
**Describe the bug**

Clicking on "Sort by: Newest" redirects you to another page.

**To Reproduce**

Go to https://gitcoin.co/kudos/marketplace, click on "Newest" after "Sort by:".

**Screenshots**

![image](https://user-images.githubusercontent.com/89348738/130363171-803c5402-1a74-4de0-9af6-d1e5c2d066de.png)

**Desktop:**

- OS: Manjaro Linux
- Browser: Firefox 91.0 64bit

**Additional context**

[2021-08-23 07:04] Nilesh-Aditya commented on #9379
I want to work on this issue.

[2021-08-23 09:28] sdog1785 opened #9381 "can complete one quest"
I have tried the first two quest on beginner and the first one on intermediate.  I cannot get passed the first question.  I click the correct answer and that does not work.  I try hitting space bar or enter while correct answer is selected but timer just runs out.  This might be because I'm on chromebook Version 94.0.4606.12 (Official Build) dev (32-bit)

[2021-08-24 11:25] caojiulong commented on #5334
我喜欢这个想法，尤其是现在，整合有关心理/身体健康的学习会很棒。它是双赢的

[2021-08-24 11:25] caojiulong commented on #5334
我喜欢这个想法，尤其是现在，整合有关心理/身体健康的学习会很棒。它是双赢的

[2021-08-24 21:56] Tranvanlap95 opened #9383 "0xe4e834fc6808181668501E89a85F1cC40ad941d9"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-08-24 21:57] #9383 closed

[2021-08-24 21:57] Tranvanlap95 opened #9384 "Ripped"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [ ] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitco

[2021-08-25 00:46] Tranvanlap95 commented on #9384
0xe4e834fc6808181668501E89a85F1cC40ad941d9

[2021-08-25 03:29] izayl opened #9385 "Verify Grant Issue"
### Who

Grant: https://gitcoin.co/grants/3247/ethereum-translation-community-cn
Tweet: https://twitter.com/CnEthereum/status/1430346011893927937?s=20

### What

Receiving an error on twitter verification

### Why

[2021-08-25 16:08] Nemeswat commented on #9045
No response yet... Wow

[2021-08-25 16:32] Nemeswat opened #9387 "Reset my Bright ID UUID"
I accidentally pressed done in Brightid gitcoin verification, can I fix it,. i want to reconnect the QR code
Describe the bug

Reset my Bright ID UUID :

Screenshots
![Screenshot_2021-08-25-17-23-51-863_org brightid](https://user-images.githubusercontent.com/64239422/130828343-1e3a3857-1683-46cc-8f93-feea30f80870.jpg)

Smartphone (please complete the following information):

Device: Redmi Note 9 P

[2021-08-25 21:10] dylvaz opened #9389 "Town Square - Please Login module will appear everytime a user clicks the message box"
# User Story

* if the user is not logged in, the Please Login module will appear every time they click the message box, eventually filling up the screen
* instead of having this behavior I suggest that the module flashes a white outline around it when they click the message box more than once
* the please login module should also be clickable and send the user to the sign in page

I can help work

[2021-08-26 23:06] matiaszabal opened #9400 "Verify Grant Issue"
### Who
https://gitcoin.co/grants/3337/boske-web3-learning-free-relevant-and-high-qualit

### What
cant verify with twitter
### Why

[2021-08-27 20:29] Oluwacaleb opened #9405 "Uniswap sub-category."
### Discussion

[comment]: # (What conversation would you like to facilitate?)
Please help me add the Uniswap sub-category/tag to my Grant.

[2021-08-28 10:49] happiness4life commented on #9405
Please help me add the Uniswap sub-category/tag to my Grant.

[2021-08-28 15:22] davidwara opened #9406 "I dont know about this😭"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2021-08-28 20:21] vfat0 opened #9407 "Verify Grant Issue"
Hey guys I tried doing twitter verification on my grant after changing username on twitter but it didn't work, please see the tweet here https://twitter.com/vfat0/status/1427604115757142019?s=20

[2021-08-29 10:33] kayloc88 opened #9408 "I use gitcoin for new topics,ideas,a d and to earn"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [ ] Review pull requests
- [x] Blog about Gitcoin
- [ ] Give talks
- [x] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitco

[2021-08-30 11:16] ulyanas commented on #9366
Upd. Issue still persists. Grant is not verified
Ulyana S., Blockscout PM

[2021-08-30 11:58] porobov commented on #9375
Managed to withdraw directly from the GR10 Matching contract using Etherscan - https://etherscan.io/address/0x3ebaffe01513164e638480404c651e885cca0aa4

"Read contract" first to see which address is qualified - https://etherscan.io/readContract?m=normal&a=0x3ebaffe01513164e638480404c651e885cca0aa4&v=0x3ebaffe01513164e638480404c651e885cca0aa4#readCollapse4

Then "Write contract" from the address and

[2021-08-30 14:59] sadboithugnasty commented on #6229
@owocki do the brightid or other verification methods have any impact on this? I'm having trouble recieving my kudos.

[2021-08-30 15:20] zacheryschiller opened #9410 "Add Coinbase Wallet integration to wallet connection options"
### User Story
As a user who is new to crypto/defi and only has a Coinbase account, I want to be able to connect my Coinbase Wallet extension to Gitcoin inside my browser to use with all of the great products on the site.

### Description
Coinbase is one of the most used exchanges in the space. Adding compatibility to Gitcoin to work with Coinbase Wallet will allow more new users to get started ri

[2021-08-30 17:23] Kweiss commented on #9405
Thanks for the request - @Oluwacaleb and @happiness4life

Can you please include a link to your grant so we know which grant to add this to?

[2021-08-30 18:47] spreston8 opened #9412 "Verify Grant Issue"
### Who

Grant - https://gitcoin.co/grants/3384/crypteriat-inc
Tweet - https://twitter.com/realcrypteriat/status/1431756207438458881

### What

Gitcoin can't read the last tweet from the account, cannot verify.

### Why

[2021-08-30 18:56] Kweiss commented on #9412
Got this verified 🙌

[2021-08-30 18:56] #9412 closed

[2021-08-30 18:57] Kweiss commented on #9408
Thanks for the feedback! <3

[2021-08-30 18:57] #9408 closed

[2021-08-30 18:57] Kweiss commented on #9407
Got this verified 🙌

[2021-08-30 18:57] #9407 closed

[2021-08-30 18:58] Kweiss commented on #9406
Thanks ;)

[2021-08-30 18:58] #9406 closed

[2021-08-30 18:58] Kweiss commented on #9400
Got this verified 🙌

[2021-08-30 18:58] #9400 closed

[2021-08-30 19:01] Kweiss commented on #9385
Got this verified 🙌

[2021-08-30 19:01] #9385 closed

[2021-08-30 19:01] Kweiss commented on #9384
Thanks for the feedback <3

[2021-08-30 19:01] #9384 closed

[2021-08-30 19:03] Kweiss commented on #9381
Have details on the quest? We can look into it with this info.

[2021-08-30 19:50] nomebahi commented on #9375
0x64cc7ed01fa6b6d3e587e9c89da04ddbebe07580

[2021-08-30 20:12] zacheryschiller opened #9413 "Implement the funder's league pages with customizable testimonials"
### User Story
As a user interested in funding open source development, I would like a "Funder Hall of Fame" page with a breakdown of who are the top matching partners and individual donors on the Gitcoin platform, so that I can learn more about these partners/individuals.

### Description
Gitcoin has had a large number of partners and donors over time and it would be great to show them off in one

[2021-08-30 20:26] zacheryschiller opened #9414 "Implement an anonymous email solution for bounty funders and developers to communicate directly"
### User Story
As a funder of a Gitcoin bounty, I want a reliable way to contact bounty applicants and workers directly while still keeping both my and their email addresses anonymous so that we can discuss the bounty and progress easily.

### Description
Funders and developers who are posting/working on bounties often need a way to message privately (ie. not in Github issues). There is already an

[2021-08-30 22:07] pablo6116 opened #9415 "boyut61@hotmail.com"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
Android ~~~~

[2021-08-30 22:07] pablo6116 commented on #9415
boyut61@hotmail.com

[2021-08-30 22:08] pablo6116 commented on #9415
- [ ]

[2021-08-30 22:58] matiaszabal commented on #9400
thanks!
--
*Matías Zabaljáuregui*
https://ar.linkedin.com/in/zabaljauregui

El lun, 30 ago 2021 a las 15:58, Kyle Weiss ***@***.***>)
escribió:

[2021-08-31 03:58] #9415 closed

[2021-08-31 04:00] Kweiss commented on #9375
Glad to see you could claim these. Yes you are correct that when the two addresses do not match, we do not allow a user to claim. Interacting with the contract directly is a great solution here!

[2021-08-31 04:00] #9375 closed

[2021-08-31 14:45] AlphaSerpentis commented on #9373
Was able to verify after reattempting several days later

[2021-08-31 14:45] #9373 closed

[2021-09-01 18:49] octavioamu opened #9422 "GR11 Feedback"
**Internal feedback ticket**

still working on fixes for:
- [x] landing grants collections
- [x] filters styles
- [x] mobile filters
- [x]  and other general things

[2021-09-01 18:52] Copperhead76 commented on #5326
Would be great to see more feminine female parts/accessories. Color- Shape-Length options for all facial features & hair. Body and head are way to masculine! Makeup options would be great as well...

[2021-09-01 19:14] willsputra commented on #9422
Thanks for this! A few feedback, other than the filter styles that you're working on:

• The new Discover section on grants landing doesn't seem to work. When I clicked on Undiscovered Gems, it still brings me to Weighted Shuffle view. There seems to be two sorts in the url?
![Screenshot 2021-09-02 at 2 57 52 AM](https://user-images.githubusercontent.com/19514207/131728249-1bbc72b0-e167-45fd-999e-

[2021-09-01 19:59] abitrolly commented on #9422
https://gitcoin.co/hackathon/gr11/onboard the link to `wiki` page https://gitcoin.co/wiki/grants/ is 404.

![image](https://user-images.githubusercontent.com/8781107/131735964-e30a03b5-a401-4cdf-aed7-43fb9ad11db7.png)

[2021-09-01 20:01] abitrolly commented on #8619
I can't find a way to edit my just submitted grant (https://github.com/gitcoinco/web/issues/8876). How do you do it?

[2021-09-01 20:11] abitrolly commented on #9422
And it would be nice to get these implemented before GR11 starts. As I've messed up a Twitter handle in my submission.

* https://github.com/gitcoinco/web/issues/8876
* https://github.com/gitcoinco/web/issues/7222

[2021-09-01 20:56] abitrolly commented on #8484
Yes. it would be nice to know logo requirements.

[2021-09-02 00:42] frankchen07 commented on #9422
- looks like some of the filter menus pop up and some pop down, bug, or intended?

<img width="1170" alt="Screen Shot 2021-09-01 at 17 40 35" src="https://user-images.githubusercontent.com/7516920/131763527-d5c05a5a-a92d-4c8d-8287-b7f196dc1947.png">

<img width="1195" alt="Screen Shot 2021-09-01 at 17 40 43" src="https://user-images.githubusercontent.com/7516920/131763538-251ffd0a-7ab0-4bae-97bd-1

[2021-09-02 00:45] frankchen07 commented on #9422
- search bar functionality does seem to work?

I was looking for "kyle land" to see if it would single out the one grant currently in view, but it doesn't seem to do anything when I hit enter

<img width="1146" alt="Screen Shot 2021-09-01 at 17 43 55" src="https://user-images.githubusercontent.com/7516920/131763766-69ccfbf3-17ea-432a-abb8-a5eaf550d6c9.png">

[2021-09-02 01:18] PixelantDesign commented on #9422
Lookin' good! Feels smooth and fast.

Aside from some of the items mentioned above...

- [ ] When filtering term didn't match, there is no feedback on the page (this might still be wip still).

- [ ] New cart menu, it wasn't apparent that there were more grants to see, I saw 4 grants but the checkout button said 9 grants, consider displaying scrollbar by default)
<img width="373" alt="Screen Shot

[2021-09-02 03:39] octavioamu commented on #9422
wrong filter condition probably when empty https://stage.gitcoin.co/grants/cards_info?page=1&limit=6&sort_option=weighted_shuffle&network=mainnet&state=active&collections_page=1&grant_types=&grant_tags=&tenants=&idle=true&sub_round_slug=gr11-uniswap&round_num=1&customer_name=Uniswap&tab=grants

[2021-09-02 03:39] octavioamu commented on #9422
missing landing featured collections

[2021-09-02 03:49] octavioamu commented on #9422
filter my collections from menu doesn't work, query need to be changed to be parameters

[2021-09-02 03:53] octavioamu commented on #9422
not handling api server error messages

[2021-09-02 08:02] thelostone-mc commented on #9422
- [x] ensure page param is reset to 1 on applying any filter
- [x] enure URL param of types, tags, tenant is loaded as an array and not string when only 1 value is present
- [x] fix dropdown auto-flip

[2021-09-02 12:08] willsputra commented on #9422
Aditya: could you share design for this?

@thelostone-mc @octavioamu tagged you with the empty state designs on Figma!

[2021-09-02 15:06] willsputra commented on #9422
tried creating grants:
https://stage.gitcoin.co/grants/11/grant1-with-gaming-wallet-tags
https://stage.gitcoin.co/grants/12/grant2-with-daos-tag

- [ ] tags don't show up in grants detail page
- [ ] my grants don't show up on my profile (Grants tab is missing and there's nothing in the Activity)

[2021-09-02 15:22] octavioamu commented on #9422
change bg politicities to match new params patterns

[2021-09-02 15:50] willsputra commented on #9422
**UI / styles tweaks (will keep updating this post for UI/styles stuff):**

- [ ]  Desktop: When one or more filters are active, they go to the new line. Consider increasing the space for the filters to be more than 50% width. If needed, we could also make the search bar shorter (since it will expand anyway when people click on it).
![Screenshot 2021-09-02 at 11 44 15 PM](https://user-images.githu

[2021-09-02 16:13] frankchen07 commented on #9422
the round buttons look slightly cut off on the top and bottom

![Screen Shot 2021-09-02 at 09 13 10](https://user-images.githubusercontent.com/7516920/131879671-0596a3a7-3c4c-4e50-9b52-0a81fe81660d.png)

[2021-09-02 16:14] owocki commented on #9422
all testing done on chrome/osx with metamask

layout is funny on amount raised here => https://bits.owocki.com/04uxLNbb

when i click apply nothing happens https://bits.owocki.com/9ZuQD0GB

add all to cart button doesnt work => https://bits.owocki.com/Wnu0ql4R

sort by select box should have a hover cursor on it not a text curosr https://bits.owocki.com/lluo6n10

cannot test related grants or cont

[2021-09-02 16:47] octavioamu commented on #9422
@willsputra how did you created this 2 grants? seems are without tenant that the reason on showing up on the cart since not eth grants and not indication of other tenant
![image](https://user-images.githubusercontent.com/1358093/131884312-1d8710e3-4f45-47e6-ba14-2fcf5fbbba46.png)

[2021-09-02 16:51] octavioamu commented on #9422
grant address field on form accepting any random character

[2021-09-02 17:00] willsputra commented on #9422
hmm I chose ETH on the create grant form, although I think I put "0x0" on the recipient wallet address field

[2021-09-02 17:25] octavioamu commented on #9422
Lol that is the issue 0x0 is the "default" on our form so actually is taking as not ethereum grant, this land into my latest comment here we need to validate the address

[2021-09-02 17:43] Kweiss commented on #9370
This has been verified, thanks for pining us :)

[2021-09-02 17:43] #9370 closed

[2021-09-02 17:44] Kweiss commented on #9366
This has been verified, thanks for pinging us 🙏

[2021-09-02 17:44] #9366 closed

[2021-09-02 17:45] Kweiss commented on #9364
This looks to be resolved.

[2021-09-02 17:45] #9364 closed

[2021-09-02 18:09] Kweiss commented on #9337
Hey @nuttycom, great to see you :) - I think a lot of those grants aren't active right now (they have not been updated in over 90 days) so they will not show up on the default view. Let me look into why they are not showing up even when marked as "idle"

[2021-09-02 19:03] frankchen07 commented on #9422
didn't we change the language and functionality to be a % on top of their original contribution?

![Screen Shot 2021-09-02 at 12 03 20](https://user-images.githubusercontent.com/7516920/131901690-6ff98b46-c2cf-483e-bcfd-b93cb034a367.png)

[2021-09-02 19:38] PixelantDesign commented on #9422
Explorer List view
- [ ] $0 out of alignment on card
<img width="1181" alt="Screen Shot 2021-09-02 at 3 37 02 PM" src="https://user-images.githubusercontent.com/238235/131905704-cbd95b57-3444-47dc-9dc0-39d575281fc1.png">

[2021-09-02 19:44] octavioamu commented on #9422
that is due to the other bug on the form not having validation on address then not getting tenant, as there is not icon with the chain the template create that break

[2021-09-02 21:44] octavioamu commented on #9422
when on cart page if you decide to create a collection then you get redirected , this shouldn't happen as we don't even know if the user want to go to another place, maybe he just want to checkout next

[2021-09-02 21:53] octavioamu commented on #9422
Missing filtering parameters on collection tab to get my collections from the me menu on nav
query : https://stage.gitcoin.co/api/v0.1/grants_collections/?profile=35

[2021-09-03 13:19] PixelantDesign commented on #9422
agree @octavioamu, lets keep the user in the checkout page after collections creation is complete.

[2021-09-03 13:44] PixelantDesign commented on #9422
from @owocki comment

The intent was to denote what chain that grant accepted payment on. This is a confusion point for users as well.
We could add a tooltip to clarify that. Thoughts @octavioamu ?

[2021-09-03 15:05] mds1 opened #9426 "Fix checkout recommendation based on gas cost"
There are two issues with the current gas cost recommendations:

1. The [polygon gas estimation](https://github.com/gitcoinco/web/blob/gr11/app/assets/v2/js/cart-ethereum-polygon.js#L336-L384) is missing the cost of an L1 deposit the user doesn’t have sufficient balance. There should a section [like this](https://github.com/gitcoinco/web/blob/d41c1a6cb2abee0a23f5e9990bce2ebc6c9dcd72/app/assets/v2/

[2021-09-03 15:50] owocki commented on #9422
per the team call today, make sure we test the new endpoints with productionlike data pls.    if a grant with 10k contributions takes several seconds to load, that ll be a problem when the code hits prod

[2021-09-03 15:58] Kweiss commented on #9422
Looks like most of the "sort by" are not working:

- [ ] Selecting "Oldest Grants" and "Updated Recently" are two example, but its most of them not working.

[2021-09-03 17:21] octavioamu commented on #9422
- [ ]  Reverse Pagination
- [ ]  Remove add-all
- [ ]  Organise the filters/sort bar
- [ ]  Reset page to 1 for sorting (DONE)
- [ ]  Contributors email
- [ ]  Gas estimations
- [ ]  Cart page work
- [ ]  fix the collections image source
- [ ]  reintroduce collections to the landing
- [ ]  Replace CLR function with clr3.py
- [ ]  Ensure banner matches latest version of figma (with category bar abo

[2021-09-03 17:49] zach-is-my-name opened #9427 "Grants sort 'Amount Raised (All time)' top results $0"
![Screenshot from 2021-09-03 13-45-10](https://user-images.githubusercontent.com/16063092/132046956-7651ecba-9ee1-4cff-a0e7-46f95fd79513.png)

[2021-09-03 18:25] PixelantDesign commented on #9422
- [ ] Grants Home page - Clicking on the mini clr banner (uniswap) does not map to the filtered view (for uniswap) on the explorer.

[2021-09-04 17:58] Kweiss commented on #9422
- [] Grants checkout not working on Rinkeby during testing - https://cloudup.com/coh7mEglojT

[2021-09-04 18:49] Lerog1724 commented on #9422
Good day, should I return the old address or I'll be sticking with the
metamask?

Rogeljoanclitonkevin17242111$$$

On Fri, Sep 3, 2021, 9:44 PM Pixelant ***@***.***> wrote:

[2021-09-04 21:04] Kweiss commented on #9427
Thanks, we are working to resolve this one. Appreciate you letting us know.

[2021-09-04 21:04] #9427 closed

[2021-09-04 21:05] #9405 closed

[2021-09-04 21:05] Kweiss commented on #9376
Got you verified. Thanks!

[2021-09-04 21:05] #9376 closed

[2021-09-04 21:06] Kweiss commented on #9352
Looks like you got verified.

[2021-09-04 21:06] #9352 closed

[2021-09-04 21:07] Kweiss commented on #9355
You can make a Grant here and advertise to your community.
https://gitcoin.co/grants/new

[2021-09-04 21:07] #9355 closed

[2021-09-04 21:07] zach-is-my-name commented on #9427
Where can I track it if it's closed?

[2021-09-04 21:07] Kweiss commented on #9344
I believe we got this fixed. Let us know if you have any issues :)

[2021-09-04 21:07] #9344 closed

[2021-09-04 21:09] Kweiss commented on #9280
Closing this, let me know if we should reopen :)

[2021-09-04 21:09] #9280 closed

[2021-09-05 06:53] abitrolly commented on #9355
@Kweiss what do you mean? Usually you apply for a grant, and the grant is created by the party with money https://ec.europa.eu/international-partnerships/grants_en

[2021-09-05 17:03] nutrina commented on #9413
This is currently still WIP.
I have pushed my changes to a branch on a fork of the web repository: https://github.com/nutrina/web/commit/47e522b867da94e9723d5904d669f1517042347c

@zacheryschiller it is not clear to me, shall I submit a WIP PR?

[2021-09-05 19:14] naveedahm commented on #9414
Yes I am working on this issue.

On Sun, 5 Sep 2021, 21:16 Gitcoin.co Bot, ***@***.***> wrote:

[2021-09-06 13:15] ipaleka opened #9433 "Would a deletion of an account cascade all the way to the submitted work for a bounty?"
This should probably be a feature request for unsubmitting a work on a bounty, but I'm tight with time so I'm just asking this.

If I delete my Gitcoin account would my submitted (not yet paid) work be deleted from the bounty page?

[2021-09-06 20:46] ipaleka commented on #9433
Yes, it cascades all the way to submitted work.

[2021-09-06 20:46] #9433 closed

[2021-09-07 01:45] IronPaul opened #9435 "Verify Grant Issue"
### Who IronPaul

### What  Hello team, could you please verify my twitter account @paul_ironforce to join Gitcoin ?

### Why  Because it seems there is an issue with it.

[2021-09-07 01:47] IronPaul commented on #9435
it is solved. so sorry

[2021-09-07 02:22] Kweiss commented on #9435
👍

[2021-09-07 02:22] #9435 closed

[2021-09-07 13:07] LefterisJP commented on #9280
@Kweiss Why are you closing this? What has been done to solve this?

The issue is still there. You just need to click the link to perform the API call to confirm that.

This and a lot of other issues are still open and are blocking us and anyone who is trying to use rotki and the gitcoin API from actually calculating income gained from grants for tax purposes.

 I have talked with @thelostone-mc a

[2021-09-07 15:27] PixelantDesign commented on #9422
- [ ] In the cart dropdown, it felt unnatural to not be bale to click on each grant to go to the detail of the grant. Can we consider linking and opening those grants in a new window?

Cart dropdown - no link on each grant
<img width="397" alt="Screen Shot 2021-09-07 at 11 20 47 AM" src="https://user-images.githubusercontent.com/238235/132370905-aed0ba03-c84d-4f6d-83e5-23523effbfe0.png">

Checkout

[2021-09-07 15:46] PixelantDesign commented on #9422
- [ ] Need to set an image constraint here
<img width="1143" alt="Screen Shot 2021-09-07 at 11 41 15 AM" src="https://user-images.githubusercontent.com/238235/132373833-67d97e5e-24ca-409e-9502-347ec3ecc6d6.png">

- [ ] Create Form - If user is unable to freely create tags, we should update the Sorry message to say "Please select from the list of tags below".
<img width="1144" alt="Screen Shot 2021

[2021-09-07 15:54] octavioamu commented on #9422
Guys if you have something not related to the changes we did on the sprint and is not a blocker please create a separate ticket.

[2021-09-07 17:10] naveedahm commented on #9414
I am currently working on implementing the back-end API for sending email through SendGrid.

[2021-09-07 22:25] naveedahm commented on #9414
:) Had my first success today. Just tested a back-end send email API with Advanced Rest Client.

Have now to find some way for

- Mapping from user/nick names to emails
- Add buttons to front-end bounty page
- Prepare some email template for getting email input and call the back-end API

[2021-09-07 23:47] naveedahm commented on #9414
- Mapping from user/nick names to emails --- done
- Add buttons to front-end bounty page
- Prepare some email template for getting email input and call the back-end API

[2021-09-08 12:00] willsputra commented on #9422
testing on prod:

- [ ] tag filter: can't see the Clear and Apply button since the list is very long. maybe add either scroll or tag search?
- [ ] filters: checkmark is missing on checkboxes
<img width="1147" alt="Screenshot 2021-09-08 at 7 57 18 PM" src="https://user-images.githubusercontent.com/19514207/132505443-83f154f3-68b0-48ce-9899-c62ee2ecc8ec.png">

[2021-09-08 12:46] PixelantDesign commented on #9422
- [ ] when no filters are selected, the clear option is still present, when there is nothing to clear
<img width="422" alt="Screen Shot 2021-09-08 at 8 38 21 AM" src="https://user-images.githubusercontent.com/238235/132510796-5a00187a-1d37-4c1d-91dc-10afaa511ca4.png">

- [ ] alignment issues: buttons bumping into each other on mobile number of grants and sort by not properly aligned
<img width="38

[2021-09-08 16:31] PixelantDesign commented on #9422
- [ ] NFT category might not be hooked up to the right banner, showing explorer default banner
<img width="1217" alt="Screen Shot 2021-09-08 at 12 28 25 PM" src="https://user-images.githubusercontent.com/238235/132548696-f0b02a0b-edbb-44f0-9522-5ea1fb1b717a.png">

[2021-09-08 17:18] pglavin2 opened #9454 "Update Wallet Address for Gitcoin Grant"
For this Grant:  https://gitcoin.co/grants/899/1hive-gardens

Change recipient address to this wallet:  0x5b0f8d8f47e3fdf7ee1c337abca19dbba98524e6

From this current wallet:  0x0466e612137bca50e524f25ac9f7b6f826ee15b7

[2021-09-08 17:45] Kweiss commented on #9454
done

[2021-09-08 17:45] #9454 closed

[2021-09-08 17:59] octavioamu commented on #9422
Closing for bug reports create a new issue or use internal CS-L2

[2021-09-08 17:59] #9422 closed

[2021-09-08 22:07] lblackfpf opened #9456 "Verify Grant Issue"
I've dm'd Gitcoin from our main Twitter account @FreedomofPress in order to verify our grant. Please confim.

[2021-09-09 00:29] ciciaran opened #9457 "changing payout address"
### Who
I have a gitcoin grant that I'm updating. My account is ciciaran. The original grant was contributed to by myself and christina, with the account name aredehel. Christina has now left the project and I have two co-founders I'd like to do a grants round with.

### What
The payout address cannot be changed. We want to use a new, multisig address but we can't because there is no option to cha

[2021-09-09 09:27] abitrolly opened #9460 "Search doesn't work for certain projects"
**Describe the bug**

It is hard to find "Cyber Academy" (https://gitcoin.co/grants/3169/cyber-academy) from https://gitcoin.co/grants/explorer/

**To Reproduce**

1. Go to https://gitcoin.co/grants/explorer/
2. Enter "cyber a"
3. Wait 5 seconds
4. Add "c" to make "cyber ac"
5. Wait 5 seconds
6. See no results

Or

1. Go to https://gitcoin.co/grants/explorer/?page=1&limit=6&me=false&sort_option=we

[2021-09-09 13:57] octavioamu commented on #9460
Thanks for the detailed report, there are 2 things here, one is our search index full words and the other is the search box is with a lazy property.
For a quick fix I will change the lazy search to be just debounced, is not a full fix but at least will request the new query 100% of the times.

[2021-09-09 16:11] nutrina commented on #9413
I have update the PR earlier today. @thelostone-mc I would appreciate if you could give me some feedback.

Currently the Travis build is failing, I will look into that and fix this.
And the mobile version of the page is not yet implemented.

Another thing I have noticed is that there are other more 'static' pages that rely on data from a DB, like the ones in the "Whats Possible" menu.
These use da

[2021-09-09 16:24] LefterisJP commented on #9280
Adding insult to injury the api got worse today as you started rounding amounts again which creates an accumulated error in the hundreds of dollars for big grants: https://github.com/rotki/rotki/issues/3434

[2021-09-09 17:47] Mofehintolu-mumuni commented on #9410
Hello, I am still working on the issue.

[2021-09-09 20:10] Daft-Wullie opened #9462 "search seems to negatively affect visibility"
**Describe the bug**
if i type the word "fuzzing" in the search field the displayed result are not relevant
**To Reproduce**
go to https://gitcoin.co/grants/explorer?page=1&limit=6&me=false&sort_option=weighted_shuffle&network=mainnet&state=active&profile=false&sub_round_slug=false&collections_page=1&grant_regions=&grant_types=&grant_tags=&tenants=&idle=true&tab=grants
type "fuzzing"
results are n

[2021-09-10 06:07] nutrina commented on #9413
@zacheryschiller, @thelostone-mc  Travis seems to fail due to this:

Coverage.py warning: Couldn't parse Python file '/home/travis/build/gitcoinco/web/app/dashboard/apps.py' (couldnt-parse)

This error also exists on the master branch.
The error is:
[code]

But this seems to have been in the code for ages.
Do you know about this?

[2021-09-10 06:15] nutrina commented on #9413
@zacheryschiller, @thelostone-mc  Travis seems to fail due to this:

Coverage.py warning: Couldn't parse Python file '/home/travis/build/gitcoinco/web/app/dashboard/apps.py' (couldnt-parse)

This error also exists on the master branch.
The error is:
[code]

But this seems to have been in the code for ages.
Do you know about this?

[2021-09-10 06:47] abitrolly opened #9465 "A Twitter brag message requires Gitcoin account"
The tweer proposed after successful contribution generates a private link.

**Describe the bug**

The link https://gitcoin.co/grants/cart/bulk-add/3169;0.003;3,65;0.003;3,:abitrolly requires login to view.

**Expected behavior**

Expected to see the page without logging in, and with proposal "Login to Match". After login the new user is presented with the same page, the text is changed to "Match a

[2021-09-10 07:15] darrylyeo opened #9466 "Error editing grant tags - `TypeError: Cannot read property 'name' of undefined`"
**Describe the bug**

[code]

**To Reproduce**

While editing a grant, select a tag from the dropdown list. Nothing happens.

**Expected behavior**

Tag should be applied.

**Screenshots**

<img width="946" alt="Screen Shot 2021-09-09 at 11 52 38 PM" src="https://user-images.githubusercontent.com/13970789/132814581-aa2d6d46-1455-4459-9c9f-2213fe86511e.png">

**Desktop (please complete the followin

[2021-09-10 07:56] abitrolly commented on #8010
Which Outlook is this? Looks like supporting everything <= 2016 just doesn't worth the effort.

[2021-09-10 10:48] dakhung opened #9467 "Done Contribution to grant but gitcoinbot says "Transaction Failed""
I have done contributed to 45 grants, money already sent, I have received "thank you" mail from gitcoin but the gitcoinbot comment "transaction failed"
### Who: duck.hungvt@gmail.com
Wallet address to pay: 0x10506f888A45edaCd9B402d393dEbD733D3cC0af
![a](https://user-images.githubusercontent.com/90446696/132842449-a1fe7341-b0b2-4e11-9a4c-b1d319793930.png)

### What

### Why

[2021-09-10 11:07] sanztiva opened #9468 "I've donated to Gitcoin Grants using Matic Polygon but all "Transaction status: dropped""
I have donated 9,324 MATIC to 12 Gitcoin Grant Projects, donations have been sent, I have received a "thank you" email from gitcoin but gitcoinbot commented "Transaction status: dropped"

After donating then I check my Grants contribution there are 12 projects, and some time later the 12 projects that I have contributed disappeared to 0.

I attached some screenshot proof

My wallet : 0x3dd45646b84

[2021-09-10 14:49] DAOctor-1 opened #9469 "Verifying Twitter fails"
So, a few things:

I don't see a Twitter account listed? (and no way to set it)
Trying to verify the Twitter account we have (@OrayakiDa) fails.
Everything is done correctly but it seems the account can not be verified is there any solution for this kind of problem ?

The grant: https://gitcoin.co/grants/3356/daorayaki

The tweet: https://twitter.com/OrayakiDa

[2021-09-10 14:55] DAOctor-1 commented on #9469
Problem solved !

[2021-09-10 17:50] Nachobr opened #9470 "Verify Grant Issue"
### Who
https://gitcoin.co/grants/3478/yubiai-funding
Verify grant by twittter has not changed
https://twitter.com/NachoBritos12/status/1436361605453959193?s=20
### What
WARNING: THIS GRANT HAS NOT VERIFIED THEIR OWNERSHIP OF THE TWITTER ACCOUNT LISTED.
OR SUBMIT SUPPORT REQUEST.
### Why
I dont know

[2021-09-10 18:49] JHGrove3 opened #9471 "Checkout Process Asks to Switch to Rinkeby Test Network if you start on xDai or Goerli Network"
I ran into this problem while trying to check out. I had been on the xDai network, and Gitcoin asked to switch to the Rinkeby Network when I tried to check out my Gitcoin Grant shopping cart.

Steps to reproduce:

Start on a different network. Like the Goerli network, or the xDai network.
Put something in your Gitcoin Grants basket.
From the Shopping Cart menu, choose "Checkout"
The browser will g

[2021-09-11 02:15] naveedahm commented on #9414
Mapping from user/nick names to emails --- done
Add buttons to front-end bounty page
Prepare some email template for getting email input and call the back-end API --- done

I am trying to find some way to get the user names of funder and worker and pass them in API. Once this part is done, I would be submitting a pull request.

[2021-09-11 07:58] JitrZ commented on #8533
This is my problem too. I've changed my username about a year ago and now there are two accounts with old username and new username on gitcoin, both linked to my github account.

[2021-09-11 08:11] JitrZ commented on #8750
Hi, My problem too. Duplicated accounts. Changing github username lead to two accounts on gitcoin and I have all works I've done linked to old account and I can't submit any work.

[2021-09-11 08:12] JitrZ commented on #8750
@octavioamu you just mentioned avatars. There is a problem when change github username too.

[2021-09-11 13:08] nutrina commented on #9413
I have updated the request.

There is 1 minor open point:
- have left the background of the "share your story section" white, as the picture is not transparent (it has a white background). I can adjust this if you can provide a transparent picture.

I am looking forward for your feedback.

[2021-09-11 13:58] rhamidr169 opened #9472 "Cannot read properties of undefined (reading '0')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: windows 10
- Browser: chrome
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-09-13 10:01] onekill0503 opened #9474 "Successfull Contributes ETH at Grants but using Smartchain RPC"
**Describe the bug**

I yesterday thrust a few grants, when checkingout using standard checkout I forget that the RPC in Metamask is using an RPC SmartChain and I have confirmed the transaction, after that the Gitcoin website is a transaction that is not a transaction in ETH, the grants that I have contributed to The transaction is registered in my profile using ETH. But on the Gitcoin Bot of the

[2021-09-13 15:51] PixelantDesign commented on #9413
@nutrina could you post a video? Thank  you!

[2021-09-13 17:05] nutrina commented on #9413
@PixelantDesign sure,
Here it is: https://drive.google.com/file/d/1Timptsv1ZIwbQKl5GKfkyJfFWvdEu02C/view?usp=sharing
Please don't mind that the images for top matching partners and donors are of bad quality - these I have cut out from a screenshot of the design. Proper quality images will be uploaded in production.

[2021-09-15 10:42] eornzhdls opened #9487 "Twitter verification bug"
![화면 캡처 2021-09-15 192716](https://user-images.githubusercontent.com/88010685/133419365-83f9d802-2185-4eb0-9f20-9102524d6e1b.png)
![화면 캡처 2021-09-15 193132](https://user-images.githubusercontent.com/88010685/133419371-5dd57109-bea2-4941-b24e-8d157060f88c.png)

Before payment, Twitter verification was definitely completed and reached 150%, but after payment, the verification disappeared.

[2021-09-15 13:16] DeMo998 opened #9488 "Cannot read properties of undefined (reading '0')"
**Describe the bug**
I can’t complete the payment. No window pops up

**To Reproduce**

**Expected behavior**

**Screenshots**

<img width="1376" alt="截屏2021-09-15 下午2 06 37的副本" src="https://user-images.githubusercontent.com/90681375/133440675-92950bb0-bffd-4baf-8b1f-6916a452be30.png">

**Desktop (please complete the following information):**

- OS: MacOS big sur 11.6 & win10
- Browser:Chrome
- Br

[2021-09-16 06:22] CarpeCryptum commented on #5298
When I start a quest with the sound "on" it runs as if I have a really slow internet connection. The music does not play properly, the countdown (the time you have to answer the question) is running much slower than it should be, I click the "submit answer" but it takes too long to actually submit it and I am running out of time. When the sound is "off" everything is spot on. I am using Brave on M

[2021-09-17 06:26] cash14945 commented on #5326
Exactly what I was looking for.  Somethin that allowed me to take the hair off of my avatars head.
Some of us aren't as fortunate in regards to the amount of hair we're able to retain on the noggin.  Would be awesome of our avatars could represent that frustration in some way right eric lol...

[2021-09-18 06:53] naveedahm commented on #9414
I made a pull request a few days back. I am still waiting for response from Zack or Aditya.

[2021-09-18 09:49] nya-elimuai opened #9493 "Logout functionality does not work"
**Describe the bug**
When pressing "My Account" --> "Log Out", the user does not get logged out. The user session remains active.

**To Reproduce**
1. Go to https://gitcoin.co/settings/account
2. Press the user drop-down. Then try to log out.

**Expected behavior**
User should be logged out.

**Screenshots**
<img width="431" alt="Screen Shot 2021-09-18 at 1 47 45 PM" src="https://user-images.githu

[2021-09-18 10:05] guo967016 opened #9494 "哈哈大货车从帕克萨加的"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-09-18 10:05] guo967016 commented on #9494
不是 太好

[2021-09-18 10:06] guo967016 commented on #5337
6666666

[2021-09-18 10:06] guo967016 commented on #5337
6666

[2021-09-18 13:43] Giofarra opened #9495 "Git coin"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-09-19 02:31] LongLongBTC commented on #9488
OK , So i have come across the same problem.
![image](https://user-images.githubusercontent.com/90974477/133913455-5e518e98-847b-4a07-b812-5b269473bef2.png)

[2021-09-19 15:40] chibie commented on #9474
@onekill0503 i've been unable to reproduce this error.

here's what i did

* added a grant to cart
* ensured metamask is on smartchain rpc
* clicked "standard checkout"

the confirmation request didn't pop but rather it errored out.

am i missing something here?

[2021-09-19 16:30] onekill0503 commented on #9474
sorry if my explanation is convoluted.
The confirmation request is pop up, and i click confirm on metamask confirmation request and i forget if my metamask using smartchain rpc. After that,  not an error that appears but instead the message "contribution grants success". I'm confused because I use rpc smartchain but contribute using ETH. like the picture above that unreasonable contributions are a

[2021-09-19 19:33] Mofehintolu-mumuni commented on #9410
Yes I am still working on it

On Sun, Sep 19, 2021 at 5:16 PM Gitcoin.co Bot ***@***.***>
wrote:

[2021-09-20 05:24] bymoreee opened #9497 "Successfull donate with Zksync but not showing on my profile"
I made transaction with zksync and check it was susccesfull

Here my tx hash id

0xb321917679063beebab30fb2aa7193150511e9ce351e8104975b33981ac9a457

![Screenshot_20210920-031445](https://user-images.githubusercontent.com/85457633/133959657-fcf57ba4-1153-4cc9-aa7b-ac63c0a1fe3b.png)

But till now my contribution rank still 0 and my cart still full

Already tried this one too but seems not working

!

[2021-09-20 07:51] Samjii opened #9498 "Please reset my BrightID verify"
**Describe the bug**
BrightID verify display used by another user before.I didn't have a certified BrightID to work with before.Please reset BrightID verify.thank you.
![20210920155019](https://user-images.githubusercontent.com/30919626/133971030-ce6867c7-bfce-4a0d-b575-3001d9184dad.jpg)

[2021-09-20 13:39] sdog1785 commented on #9381
sorry took a bit for me to email you back but i just recently tried this
website again to see if it was working now and everything seem to be
working fine now.  i think i might of been because i recently was
installing python, jupyter notebook, pycharm, and couple other things.
From time to time its weird i wont be able to open applications such as
youtube or gmail but they will work fine on the w

[2021-09-20 19:15] Davejr81 commented on #8799
Yes Jarod, I’m in the same boat and am new yet ready to start my crypto journey.

[2021-09-21 04:13] deva1999 opened #9500 "Reset/cancel validation my Brightid"
### Who

### What

### Why
Please help me to cancel validation my Brightid

[2021-09-21 07:58] thelostone-mc commented on #9500
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.36 USD @ $362.6/ETH)  attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/9500/100023793).
* Want to chip in? Add your own contribution [here](http://localhost:8000/issue/gitcoinc

[2021-09-21 08:00] thelostone-mc commented on #9500
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__Workers have applied to start work__.

These users each claimed they can complete the work by 265 years, 2 months from now.
Please review their action plans below:

**1) [shitzu-mc](http://localhost:8000/shitzu-mc) has applied to start work _(Funders only: [approve worker](http://localhost:8000/issue/gitcoinco/web/9500/100023793?mu

[2021-09-21 08:01] thelostone-mc commented on #9500
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__Work for 0.001 ETH  has been submitted by__:

<hr>

* Learn more [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/9500/100023793)
* Want to chip in? Add your own contribution [here](http://localhost:8000/issue/gitcoinco/web/9500/100023793).
* Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin

[2021-09-21 09:14] Artimunor opened #9501 "Grant Edit reverted back to original state one day later"
**Describe the bug**
After my grant proposal got approved I made an edit, this edit was yesterday. (20 Sept)
Link: [https://gitcoin.co/grants/3655/compute-to-ssi-a-use-case-by-workpi](https://gitcoin.co/grants/3655/compute-to-ssi-a-use-case-by-workpi)
I had to because since i was getting console errors (unrelated) during creation I stripped the copy-pasted layout of the headings to make sure this

[2021-09-21 09:42] deva1999 commented on #9500
Please help me to cancel validation my Brightid
I made mistake

[2021-09-21 11:03] alialiwa2005 commented on #6168
Hi.

I've been thinking about this recently, so I decided to visit this issue again.

Yeah, I believe I've made a silly and childish mistake back then, and even lied about it before.

I'm sincerely sorry. It makes sense why I was removed from the CLR rounds.

I won't do this again, on any platform, even if I'm not re-added into future rounds, and I take this as a lesson.

If I discover a bug like

[2021-09-21 14:07] GGB6579 commented on #5541
@owocki ### ****

[2021-09-21 18:02] #9497 closed

[2021-09-21 19:40] h4x3rotab opened #9505 "Please upgrade polkadot libs"
**Describe the bug**

Cannot pay the bounty in Polkadot or Kusama. After clicking pay button it give out the follow error:

[code]

I think an upgrade of `@polkadot/api` dependencies can fix the problem. In PR #8269 the library was minimized and included in gitcoin. So I think a fix is to just redo the similar thing.

[2021-09-22 18:03] Lollerlol opened #9510 "Spelling error on website"
-->
### Who
On my profile, at "reliability: **medium**", when clicking the information button.
### What
When clicking on the information button, there is a spelling error. It says:
"For a good review**s**" instead of "For a good review"
### Why
This should be changed. I hope it helps you develop the website further, to make it look more professional.
My profile in Gitcoin is @lollerlol, my eth add

[2021-09-22 18:58] LefterisJP opened #9512 "Grants website does not load comments, takes too long to load and other problems."
Since the start of GR11 I have have been unable to load comments, website it too slow to load (minutes or timeout), stuff jumping around and completely unable to comment.

Clicking on stuff some times takes me to the top of the page instead of expanding, trying to click on the chat box to comment does nothing, I get lots of Warning sign images etc.

Opened an issue as [instructed in Twitter](https

[2021-09-23 00:46] frankchen07 commented on #9512
Thank you @LefterisJP - I've collated this ticket along with additional Twitter feedback into our internal JIRA as well, and will be talking to our engineering team to see what we can do immediately in the next sprint.

[2021-09-23 07:45] LefterisJP commented on #9512
It seems to depend on time. For example in Europe mornings (07:45 UTC), when I actually wanna do a round of comments/thanks on our contributors it's the worst.

The comments right now won't even load no matter how much time I wait.

https://user-images.githubusercontent.com/1658405/134471224-32ae78f2-38b9-4d28-939d-6b0cc013240d.mp4

[2021-09-23 08:15] wxf19890711 commented on #5298
太难了

[2021-09-23 22:06] youngkidwarrior opened #9519 "Shenanigan Grant Category Change"
Proof I am the owner of Shenanigan grant

https://gitcoin.co/grants/684/shenanigan-panvala-league

Please change the category from NFT -> Dapp 🙏

[2021-09-23 23:48] Apolloelephen opened #9520 "Grant not going through"
I keep getting execution reverted while trying to donate using polygon matic network please help me

[2021-09-24 06:46] hesterbruikman opened #9521 "Bounty not listed after successful tx"
**Describe the bug**
I'm trying to create a Featured bounty of 1 ETH. After a successful tx (2x) to pay a 10% fee, my bounty is not listed.

- [1st successful tx](https://etherscan.io/tx/0xd1faf43c49cacbf20f707072b44aad35d02a5917795f3b320163d000d9c53088)
- [2nd successful tx](https://etherscan.io/tx/0xf1b6118b1259d50069c54de69143f383a46a2a7e101853d341d0d7efc81af428)

I suspect I need to sign anoth

[2021-09-24 09:03] wakywu86 opened #9522 "About the 11th round of donations"
Hello administrator:
I participated in the 11th round of donation activities, but now there is no record of the donation on the website, and I have not received an email to complete the donation.
I filled in the link to the appeal, but it did not solve the problem. I didn’t find my wallet address in the published list of a project I donated this morning, so I was more worried.
Hope to help me chec

[2021-09-24 09:36] gududefengzhong commented on #9522
I have the same problem

[2021-09-24 09:39] gududefengzhong opened #9523 "login error 500"
hi, there:

       500 occurred when click login button, it shows 【Session value state missing】on the left top

![image](https://user-images.githubusercontent.com/7471735/134653654-6b792e3e-9922-4500-bad3-ab13b6c86680.png)

- OS: mac os
- Browser: chrome
- Browser Version: 93.0.4577.82

[2021-09-24 10:55] harryho612 opened #9524 "Error when donate G11"
Dear team
I already donate 2 times gitcoin, in first times, i received congratz mail successful but the notification on gitcoin comment failed. Tx: 0x620a3c1d12b280bb8a1aa3d071fa47fe38221096bcd1f6000356b67b83eb2d78
In second times, i donated, Transaction successful, but in next day, notification on gitcoin comment error. You can check by Tx here: 0x0723ce80948d734e902980dc4891d94d14fcf1a58650dd605

[2021-09-24 14:46] Kweiss commented on #9519
Done :)

[2021-09-24 14:46] #9519 closed

[2021-09-24 14:47] Kweiss commented on #9520
Polygon is not yet live. We will be turning that on after GR11 finished up.

[2021-09-24 14:47] #9520 closed

[2021-09-24 14:51] Kweiss commented on #9510
Thanks! Just got this fixed in the code, will update and deploy soon

[2021-09-24 14:51] #9510 closed

[2021-09-24 16:29] Kweiss commented on #9522
Hey there - can you add the contribution using this form?
https://gitcoin.co/grants/add-missing-contributions

[2021-09-24 16:29] #9522 closed

[2021-09-24 19:00] GuruInventor opened #9528 "My Twitter handle been blocked for long"
Hello
I've been sent that my Twitter handle been blocked for long so icing can't acces it to verify.

Thank you

[2021-09-25 00:03] wakywu86 commented on #9522
I have add the contribution using this form,but it did not solve the problem.

[2021-09-25 00:07] wakywu86 commented on #9522
I have add the contribution using this form,but it did not solve the problem.

[2021-09-25 07:20] wakywu86 opened #9529 "Hey there - can you add the contribution using this form?"
Hey there - can you add the contribution using this form?
https://gitcoin.co/grants/add-missing-contributions

I have add the contribution using this form,but it did not solve the problem.

[2021-09-25 10:19] wakywu86 commented on #9529
my adress is 0x21BC65637Dd6e7b171F2F78a1845F9807BbE3148

[2021-09-25 21:02] ianmcree commented on #5436
Absolutely needs more networks available

[2021-09-25 21:02] ianmcree commented on #5436
I agree it could use more networks

[2021-09-26 21:35] degenprivacy opened #9530 "Fee payment via Fortmatic failed"
**Describe the bug**
Tried to pay for a bounty during bounty setup.  I used Fortmatic but my transacation failed due to too low gas limit:
https://etherscan.io/tx/0x883e949726365001266463ead530376e5addac9a59f2bb61fc71e8120452f416

**To Reproduce**
Create new bounty, fund with Fortmatic.  Perform all steps during funding, watch for fee transaction.

**Expected behavior**
I expect the Fortmatic wall

[2021-09-26 21:42] degenprivacy opened #9531 "New Work Submission showing wrong amount"
**Describe the bug**
I received a `New Work Submission` email but it shows the wrong amount on top of the email.

**To Reproduce**
Create a bounty for 0.05 ETH, wait for work submission . Receive email for work submission.

**Expected behavior**
I expected to see the bounty amount of 0.05 ETH. Instead the email (at least on top, bottom shows right amount) shows wrong amount of 0.1 ETH.

**Screensh

[2021-09-26 21:58] degenprivacy opened #9532 "Cannot re-submit low gasprice tx from Fortmatic"
**Describe the bug**
I am trying to setup a privacy-respecting profile.  As such I am using TailsOS with the Tor browser.  That means I cannot use Metamask and most other wallets.  The only wallet that I seem to be able to use is Fortmatic.  Unfortunately, Formatic just created a tx with a super low gas price of 5GWei.
https://etherscan.io/tx/0x883e949726365001266463ead530376e5addac9a59f2bb61fc71e

[2021-09-28 03:15] thelostone-mc commented on #9528
I'd recommend hitting up support on the discord channel ^_^
https://discord.com/invite/gitcoin

[2021-09-28 03:15] #9528 closed

[2021-09-28 03:17] thelostone-mc commented on #9512
This should be resolved now ! We had a few issues with our servers which was what causing the failures / delay to happen

[2021-09-28 03:17] #9512 closed

[2021-09-28 03:24] thelostone-mc commented on #9529
Could you try it once more @wakywu86  ?

[2021-09-28 13:56] ughojor2007 commented on #5541
that nice one

[2021-09-28 13:57] ughojor2007 commented on #5436
we move

[2021-09-29 00:38] Oligbojulie commented on #5326
I want more animated characters

[2021-09-29 09:44] LefterisJP commented on #9512
Hehe yeah after the round ends the problem goes away. This problem was not new. Had it in a lesser extent in previous round too.

I will hold you to this for the next round.

[2021-09-29 17:17] owocki opened #9542 "are you a python engineer? earn 20 DAI by getting the gitcoinco/web repo running on your local machine."
hey all,

gitcoin has a few open positions (https://gitcoin.co/jobs), and we'd like to hire people who have found gitcoin via the community.

to participate:
1. get the gitcoinco/web repo running on your local machine.
2. submit work by posting
(a) a screenshot running locally with the site in frame, whilst logged in from your github username
(b) linking your resume
(c) writing a paragraph (3-4 se

[2021-09-29 19:21] Elias-95 commented on #5298
![image](https://user-images.githubusercontent.com/23196956/135334684-a30ea813-9dde-419f-85d7-79e82978971c.png)
Got the following message out of 2 quests.
Not sure if this is normal functionality.

[2021-09-29 19:55] joshtharakan commented on #9542
## what about the gitcoin mission inspires you.
Gitcoin has brought in a unique proposition of incentivising the community to create and manage public goods.  It take collaboration to the next level by connecting the needs of community. What  I like most is that it empowers everyone to be part of such a powerful ecosystem like a win-win situation for all who are involved.

## local running screens

[2021-09-29 20:19] Ankur19 commented on #9542
# gitcoinco-bounty
Submission for gitcoinco bounty

## Screenshot

![gitcoinco_local](https://github.com/Ankur19/gitcoinco-bounty/raw/main/gitcoinco_local.png)

## Resume

[Resume](https://drive.google.com/file/d/1E3pD4qSLQMztJ2lPtPqG3VDimUWelA0U/view?usp=sharing)

[2021-09-29 20:39] ahmadmoaaz2 commented on #9542
## What about the Gitcoin mission inspires you.

Gitcoin has provided an easy way for talent and talent seekers to team up. It has created a powerful ecosystem that has the potential to power the growth of technology. It inspires me because of how accessible and simple it is.

local running screenshot:
![image](https://user-images.githubusercontent.com/46950624/135345042-4bb670b6-8306-4e3d-874c-aa

[2021-09-29 20:52] multisme commented on #9542
(A)
![Capture d'écran Deepin_zone de sélection _20210929224801](https://user-images.githubusercontent.com/7862961/135346265-ee211ee0-c5a9-48fe-9439-a1220e238a86.png)
(B)
[Thierry_akiapo_cv.pdf](https://github.com/gitcoinco/web/files/7254974/Thierry_akiapo_cv.pdf)
(C)
I believe the current model of gitcoin, that allow people to participated to opensourceproject in a decentralised way while getting

[2021-09-29 22:02] ashikmeerankutty commented on #9542
![image](https://user-images.githubusercontent.com/10515204/135353937-ec50b3ef-d383-48c1-b032-ea4b5f444314.png)
- [Resume](https://drive.google.com/file/d/1DivPltjGEYE0BgsMfWNM1L9IiIVxBqk2/view?usp=sharing)
- I believe that web3 is the future and the mission that gitcoin took will introduce new developers to web3.  This benefits both open source projects and open source developers. For developers

[2021-09-29 22:57] mehmetsunkur commented on #9542
A) [Screenshot](https://github.com/mehmetsunkur/MehmetGitcoinApp/blob/mehmetsunkur-patch-1/Screenshot%20from%202021-09-29%2023-11-46.png)
B) [Resume](https://github.com/mehmetsunkur/MehmetGitcoinApp/files/7255357/Mehmet_Sunkur_Senior_Full_Stack_Developer.pdf)
C) Gitcoin provides the great flexibility I want. I can work whenever, wherever I want. This is the future of work. You can earn money, or y

[2021-09-29 23:08] davidpius95 commented on #9542
![Screenshot 2021-09-29 at 11 50 25 PM](https://user-images.githubusercontent.com/47521458/135360324-4d990c51-eae8-4a20-9e7c-344a61100111.png)
B) [Resume]([Uzochukwu_Resume.pdf](https://github.com/davidpius95/Gitcoin-bounty/files/7255475/Uzochukwu_Resume.pdf))
C) Gitcoin has made programmer better and because the more programmer get bounty to work on the more they get better in what they do and al

[2021-09-29 23:38] ArpitxGit commented on #9542
## Screenshot
![Screenshot from 2021-09-30 04-54-28](https://user-images.githubusercontent.com/75042859/135362796-ad564c4c-3fb0-4e8e-8c65-aa83635b9c88.png)

## Resume
[ArpitxResume.pdf](https://github.com/gitcoinco/web/files/7255592/ArpitxResume.pdf)

##  What inspires me ?
I learned a lot through Gitcoin Quest, There are no match of Gitcoin in terms of opportunity for developers. Web3 is right no

[2021-09-30 01:22] akfls100 commented on #9542
**Screenshot**

![screenshot](https://user-images.githubusercontent.com/48300143/135370094-04696faa-2436-4735-810b-18d0a3e57cab.jpg)

**Resume**
[resume_2021.pdf](https://github.com/gitcoinco/web/files/7255860/resume_2021.pdf)

**What inspires me ?**
Gitcoin has a lot of potentials and it provides great opportunities for developers. This is my first time contributing to open source, and how simple

[2021-09-30 01:47] CAMOBAP commented on #9542
I followed instructions in:
 - https://gitcoin.co/issue/gitcoinco/web/9542/100026692
 - https://docs.gitcoin.co/mk_setup/

Here are my screenshots:
<img width="320" alt="Screen Shot 2021-09-30 at 3 43 24 AM" src="https://user-images.githubusercontent.com/2169738/135371894-4f027471-3f0b-444e-85f3-9c8eb44f8a79.png">

<img width="320" alt="Screen Shot 2021-09-30 at 3 44 44 AM" src="https://user-image

[2021-09-30 02:34] owocki commented on #9542
sweet. lots of submissions . will pay out soon after i verify everyone is unique identities.

please email me your resume kevin@gitcoin.co if youre interested in one of our open positions. gitcoin.co/jobs

[2021-09-30 09:17] jonathanalvares9009 commented on #9542
Here are my screenshots:

<img src="https://user-images.githubusercontent.com/74007627/135423711-b64b5d58-5591-4d93-963e-576cc5938147.png" width="500" height="300">

<img src="https://user-images.githubusercontent.com/74007627/135423739-055fd21a-2984-4f4f-94a8-fc631519bfae.png" width="500" height="300">

Here's my resume:

[Jonathan-Alvares-Resume.pdf](https://github.com/gitcoinco/web/files/725830

[2021-09-30 09:47] MrKrautee commented on #9542
After setting up Github OAuth2 App Integration and User Integration, login finally works!  ;)

![image](https://user-images.githubusercontent.com/26251290/135429535-37b848ac-2c39-4c16-b077-ce625c150134.png)

Gitcoin is a great way to connect people, getting into new projects, learn and supporting the open source community!
Using contests and paying for selected solutions is a really great way to d

[2021-09-30 13:01] spiritbro1 commented on #9542
![image](https://user-images.githubusercontent.com/62529025/135459398-51e8706e-53b3-4cda-b17c-1eb348bbe2b3.png)
[resume.pdf](https://github.com/gitcoinco/web/files/7259655/resume.pdf)

Gitcoin help me learn a lot about the world of cryptocurrency, DAO, web3 and whatsoever, i recently win hackathon in gitcoin as well, so that also help me a lot to learn more about off-chain voting, i win snapshot p

[2021-09-30 13:03] spiritbro1 commented on #9542
![image](https://user-images.githubusercontent.com/62529025/135459398-51e8706e-53b3-4cda-b17c-1eb348bbe2b3.png)
[resume.pdf](https://github.com/gitcoinco/web/files/7259655/resume.pdf)

Gitcoin help me learn a lot about the world of cryptocurrency, DAO, web3 and whatsoever, i recently win hackathon in gitcoin as well, so that also help me a lot to learn more about off-chain voting, i win snapshot p

[2021-09-30 16:50] Nadeemc99 commented on #6229
Could anybody mark my account as trusted please

[2021-09-30 18:35] owocki commented on #9542
hey all pls hit me up on https://gitcoin.co/requestmoney for payouts.

closing this now!

[2021-09-30 18:35] #9542 closed

[2021-09-30 18:41] ArpitxGit commented on #9542
We need to request 20DAI , right?

On Fri, 1 Oct 2021 at 00:06, Gitcoin.co Bot ***@***.***>
wrote:

[2021-09-30 18:54] jd3pocp3poson commented on #6229
@TVT5Cfo2sYPcnX76wjWm787FYuLdfcwbTF

[2021-10-01 11:17] ulyanas opened #9545 "[Blockscout] Kudos NFT Metadata includes invalid links"
**Describe the bug**
There is an issue in Kudos ERC-721 metadata: "external_url" field gives 404.
For example, [this](https://blockscout.com/xdai/mainnet/token/0x74e596525C63393f42C76987b6A66F4e52733efa/instance/126461/metadata) NFT meta
gives url
https://gitcoin.co/kudos/0x74e596525C63393f42C76987b6A66F4e52733efa/126385  - 404

**To Reproduce**
1. Open any Kudos oken instance on BlockScout. For e

[2021-10-01 12:58] ulyanas opened #9552 "[Blockscout] Ability to automatically airdrop Kudos to Grant Round participants or to all contributors."
### User Story
US1. As a Grant organizer I want to mint a custom Kudos and be able to automatically send it to all Grant Round contributors.
US2. As a Grant organizer I want to mint a custom Kudos and be able to automatically send it to all Grant contributors.

### Why Is this Needed
Currently when custom Kudos is minted there is no capability to sent Kudos token to contributors privately.
Options

[2021-10-02 02:20] owocki opened #9554 "my local isnt running javascript"
<img width="1463" alt="Screen Shot 2021-10-01 at 8 20 03 PM" src="https://user-images.githubusercontent.com/513929/135700810-f39c62ad-21b1-4fbe-8e86-b1f6310b352d.png">
<img width="1773" alt="Screen Shot 2021-10-01 at 8 20 06 PM" src="https://user-images.githubusercontent.com/513929/135700813-379da83b-9925-4ceb-b86f-a9c1a868fa69.png">

been a while, trying to figure out why the frontend on my local

[2021-10-02 02:21] owocki commented on #9554
@thelostone-mc any ideas?

[2021-10-02 11:23] guglie99 commented on #6229
Hi, can someone verify my account please?

[2021-10-02 15:07] ksolo commented on #9554
@owocki Do you have the latest frontend dependencies? `yarn install`? Is webpack running? `yarn run webpack &` You can try those and then then try collect static again.

[2021-10-03 08:45] ahsanaftab3 commented on #9410
Hi, I have  a question I see we have "web3modal" integrated to show options to connect to wallet, for the new one how should I approach it option 1 is to add new menu below the current option "connect Wallet" or should I extend "web3modal" which will take more time.

[2021-10-03 10:04] guglie99 commented on #6229
Verify my account please!

[2021-10-03 23:57] ngocluan230297 commented on #5337
6666

[2021-10-03 23:57] ngocluan230297 commented on #5337
6165

[2021-10-05 14:01] BirinIhor commented on #5334
Great

[2021-10-05 17:05] owocki opened #9562 "activity feed performance debugging thoughts"
per https://app.datadoghq.com/apm/traces it looks like the activyt feed is among the slowest pages on the site
![Screen Shot 2021-10-05 at 10 54 37 AM](https://user-images.githubusercontent.com/513929/136068090-a59804e1-116d-461f-bd68-c62d4989782b.png)

this is a big deal because it locks up the app servers, but it is EXISTENTIAL to us in that it consumes 4s of DB/IO resources at the DB at a time

[2021-10-05 17:41] #9495 closed

[2021-10-05 20:19] owocki opened #9564 "DESIGN - Create a vector avatar for the Gitcoin avatar builder - Autumn 2021 Edition"
The [Gitcoin avatar builder](https://gitcoin.co/onboard/profile?steps=avatar) has the ability to have MANY different avatar types on it.   This is a bounty for the creation of design assets to go into the avatar builder:

Some example avatars on the avatar builder:

<img width="681" alt="Screen Shot 2021-10-05 at 2 15 39 PM" src="https://user-images.githubusercontent.com/513929/136096254-a1ae6e5b-

[2021-10-07 11:22] tonycocoman opened #9573 "TONY"
### Who

### What

### Why

[2021-10-07 16:29] zyf125197 commented on #5541
很不错

[2021-10-07 20:23] frankchen07 opened #9574 "The Official GR11 Feedback Thread"
Now that Gitcoin Grants Round 11 is over, the Gitcoin team would love your feedback on the round. This includes general thoughts on the round, bugs you've found, and improvements you would like to see!

Here's a couple of questions to help get your memory jogging:

1. Why did you come to the Gitcoin Grants application?

2. Were you successful in using Gitcoin Grants to complete your main goal?

3.

[2021-10-07 21:24] #9573 closed, assigned to nobody

[2021-10-08 00:17] ShowMeTheGita opened #9575 "Grammar syntax errors on status_tooltip.html"
### Who
[status_tooltip.html](https://github.com/gitcoinco/web/blob/63dd9c77c3814ab156a24580e0c86196c9e3b961/app/dashboard/templates/shared/status_tooltip.html)

### What
"Completed work has been submitted **by for review**"
"The project has been reserved for **an specific** hunter"

### Why
Incorrect English grammar syntax

[2021-10-10 03:35] eknobl commented on #9564
First draft, black and white. Still need to work colors, and start defining variations.

![Captura de Pantalla 2021-10-09 a la(s) 22 32 40](https://user-images.githubusercontent.com/51840990/136680686-b9f17eb6-4be1-4158-9836-fbbf86ef38a3.png)
.

[2021-10-10 19:55] petushka1 commented on #9564
Sketch
Robot #1

![AD52C40D-B9C9-4FCF-9C70-8C86A7BE6D04](https://user-images.githubusercontent.com/44860643/136711206-d35ae326-1ad8-40a4-98d8-83344975f162.jpeg)

[2021-10-11 20:16] lh327513598 opened #9583 "！"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2021-10-12 12:51] #9583 closed, assigned to nobody

[2021-10-13 05:55] thisispalash opened #9592 "Update grant team address"
Hello,

So, I had created some grants before when I could see some scope in the idea(s) and used my personal address. Now, the ideas have evolved tremendously and I got a little more organised, so created new addresses (for each project) before actually building the ideas. Moreover, they are going to be ENS domains for convenience.

I was trying to edit them, but I couldn't edit the address and on

[2021-10-13 17:58] amsos opened #9595 "Switch Grant Address"
### Who:
For this grant - https://gitcoin.co/grants/365/govrn

### What:
Change the recipient address to: 0xB8E52105A4B58943714dFfBf79F8aeE24B9f8D40

### Why:
From this address: 0x58f123BD4261EA25955B362Be57D89F4B6E7110a

[2021-10-14 15:09] petushka1 commented on #9564
Sketch#3
![Uploading 84197D50-BCD9-4225-AAF0-1765DFB09116.jpeg…]()

[2021-10-15 03:27] eknobl commented on #9564
Colors finished. Working on variations.

![Captura de Pantalla 2021-10-14 a la(s) 22 13 28](https://user-images.githubusercontent.com/51840990/137427622-f86c5d38-5c40-4988-90bf-318c49b0cd60.png)

[2021-10-16 06:10] Homz8 commented on #7426
...

[2021-10-16 15:12] jd3pocp3poson commented on #9410
My Coinbase account for ETH payment is. 0x774c8acd0f7b7b19c26a6f8dc5446d6c68b0a9a3

[2021-10-16 20:37] Unlimiter commented on #7426
The problem was fixed months and nobody closed the issue.

[2021-10-16 20:37] #7426 closed

[2021-10-18 06:43] Hunter4D opened #9598 "HAIR STYLES"
### User Story

[comment]: # (As a <user type>, I want to know if it will be possible to add dread loc hair styles? <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug

[2021-10-19 20:24] developerfred opened #9601 "Sybil Resistence on Gitcoin Bountys"
### Who
When a span enters the platform it is able to participate in the bountys and send the link to the repository itself as if the bounty ended.
### What
I suggest implementing a regex for org links and pull requests to prevent this from happening.
->https://gitcoin.co/issue/algorandfoundation/grow-algorand/112/100026902

It is also possible to use the github API to see if the pr is related to

[2021-10-20 05:03] rude69 opened #9602 "thx a lot"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2021-10-20 17:22] EibrielInv opened #9604 "Requesting change on grant's beneficiary address"
### Who
Hi! I'm the creator of this grant: https://gitcoin.co/grants/1511/soappunk-universe

### What
I would like to change the beneficiary address from `0x05C351382dB8D770207F319D96ac1184c3717edE` to `0xCF10CD8B5Dc2323B1eb6de6164647756BAd4dE4d`

### Why
The current address is not properly secured, and I could loose control of it at any time

Thanks!

[2021-10-21 16:41] joigno opened #9611 "Verify Grant Issue"
### Who

Me, the grant Creator.

### What

I want to change my Ethereum address for the Grant to

0xB6873d28915059e32A78A4632B984dBA15513bB6

### Why

The current address is not compatible with zkSync. This one will be:

0xB6873d28915059e32A78A4632B984dBA15513bB6

[2021-10-21 21:59] developerfred opened #9612 "Payment input open for all users"
<img width="1352" alt="Captura de Tela 2021-10-21 às 18 56 40" src="https://user-images.githubusercontent.com/57037080/138362815-dd37f656-22b1-4a7b-a260-87ab5765b0cb.png"
<img width="1111" alt="Captura de Tela 2021-10-21 às 18 56 46" src="https://user-images.githubusercontent.com/57037080/138362823-070d76f4-3600-4e67-b733-a21b07e4bb94.png">

[2021-10-22 07:58] JeremiahKamama opened #9613 "Lost claim funds button on grant page"
I tried to claim funds from GR11 but after my transaction failed, I lost the button to claim funds on my grant page.

**Expected behavior**

I expected to find the button again so that I could try out the transaction again when gas fees are lower.

**Desktop (please complete the following information):**

- OS: Mac
- Browser: Google Chrome
- Browser Version: Version 94.0.4606.81 (Official Build) (

[2021-10-22 10:23] gdixon opened #9614 "Feat: Collections on https://gitcoin.co/grants/ should be randomized"
### User Story

As a user browsing the Grant applications, the collections displayed on https://gitcoin.co/grants/ and https://gitcoin.co/grants/explore/?tab=collections should be randomized to remove any bias.

At the same time, the user would would like having well thought out collections shown as well.

### Notes:

Right now it looks like we're prioritizing our own collections because they are

[2021-10-22 10:37] gdixon opened #9615 "Bug: gas_price suggestions are too low causing transactions to fail"
**Describe the bug**

Bounty payout calls are being sent with a suggested `gas_price` which is too low (5gwei).

Since the adoption of EIP 1559, we should avoid suggesting a `gas_price` and let the users wallet discover this value itself.

This likely also means that any of our gas price aware contract calls site-wide are being sent with the wrong `gas_price` too, additionally, the fact that the p

[2021-10-22 10:40] gdixon opened #9616 "Feat: add infinite scroll explorer loading state"
### User Story

As a Gitcoin user using the Grants explorer, if the infinite scroll at the bottom of the page is loading results, I want a loading state that lets me know that my results will be here shortly.

Design Files:

[Active Keyword Design](https://www.figma.com/file/aLMVP9jCWAgpu4bjD65gJ0/GR11?node-id=5504%3A26575)
[Loading Animation Design](https://s.gitcoin.co/static/v2/images/loading_v

[2021-10-22 13:25] postpolar opened #9618 "Github name not changing on Gitcoin"
Hi guys,
so I changed my username on Github from agorismlabs to solarpunklabs
But then if I want to use Gitcoin the older username remains and does not update.
It was suggested in the Discord that I raise this as an issue.

[2021-10-23 08:57] Pfed-prog opened #9624 "Inability to edit Profile Interests and Bio"
**Describe the bug**
A gitcoin user can not edit the profile interests and profile-header bio

**To Reproduce**
Register on the website and enter interests and bio.

**Expected behavior**
Ability to change this information from My Account --> Settings

**Screenshots**
![image](https://user-images.githubusercontent.com/66903336/138550063-ad6ccc45-de52-4351-965d-0cbcee806922.png)

[2021-10-23 14:38] #9618 closed, assigned to nobody

[2021-10-28 12:44] thelostone-mc opened #9634 "feat: Implement new side rounds grants homepage"
#### Description

As a cGrants user, when I visit the grants homepage during a round, I want an understandable way to digest GR12 main rounds and what "side rounds" are.

**Notes:**

We are structuring the homepage as a running list with banner descriptions. We are overhauling the Grants homepage at a later date in order to provide a better user journey (perhaps as part of a Grants landing page).

[2021-10-28 12:48] thelostone-mc opened #9635 "Update backend to enable grouping of side-rounds + adding custom color"

[2021-10-28 12:48] thelostone-mc opened #9636 "Update frontend to use new fields to create"

[2021-10-28 23:00] cocomeron1598 opened #9640 "♥️ Thank you ❤️"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [⭐ ] Help out with issues
- [⭐ ] Review pull requests
- [ ⭐] Blog about Gitcoin
- [⭐ ] Give talks
- [ ⭐] Do a bounty
- [⭐ ] Support us on [Gitcoin Grants](https:/

[2021-10-29 21:16] writeprovidence commented on #9564
@owocki the sketch, what your thought? ![moloch avatar-01](https://user-images.githubusercontent.com/31359701/139502575-723b275e-3b0e-4fae-b1db-18ded3cbf20f.png)

[2021-10-29 21:31] petushka1 commented on #9564
Robot- 5

![5F9D07D3-346E-4F09-958D-AD312300A019](https://user-images.githubusercontent.com/44860643/139503992-1af54a86-7555-4358-9981-dd2add471f35.png)

[2021-10-30 07:56] wmitsuda opened #9646 "No response about GR11 KYC"
I got an email from kyc@gitcoin.co requesting KYC info, the title is "(ACTION REQUIRED) Grants Round 11 Match Distribution".

I answered it one week ago with the requested documents, still got no response (is it ok? is there something else missing?), and didn't notice any payout regarding the match distribution.

My grant is: https://gitcoin.co/grants/3224/otterscan

[2021-10-30 17:45] AvrilApril commented on #9564
Sketch robot, avatar builder
![Sketch](https://user-images.githubusercontent.com/65724764/139543594-5f693136-af15-409d-b8e2-4d282679ddac.png)

[2021-10-30 18:28] petushka1 commented on #9564
Just FYI. It’s unseen in dark mode (black outlines with no background). Would be better if saved with bgr.

[2021-10-30 19:48] #9646 closed

[2021-10-30 20:09] writeprovidence commented on #9564
Thanks @petushka1 for the correction

[2021-10-30 20:10] writeprovidence commented on #9564
sketches of different variation ![moloch avatar-17](https://user-images.githubusercontent.com/31359701/139557149-de0a49b6-b7a6-4c61-adf3-be20024cc5db.png)

[2021-10-31 09:29] L-KH commented on #9564
![GitcoinAvatarAutumn2021](https://user-images.githubusercontent.com/12660772/139576199-5464ce48-6f0f-456c-8264-da2cd4266f97.gif)

[2021-10-31 12:45] azizyano commented on #9564
![AVATAR1](https://user-images.githubusercontent.com/32180132/139583913-9292cccc-7def-4216-84ba-4ed101a359c1.png)
![AVATAR2](https://user-images.githubusercontent.com/32180132/139583917-e4777165-817b-47cc-b4f4-f0a75c33a2d2.png)
![AVATAR3](https://user-images.githubusercontent.com/32180132/139583919-adb8afec-683c-4613-90b2-03f03e5a9eac.png)

[2021-10-31 13:38] azizyano commented on #9564
hello @owocki can you plz look at my submission https://drive.google.com/file/d/1ERCEWoNOqrSimVdmi8W2-dZ3g_SzUQOZ/view?usp=sharing

[2021-10-31 14:51] owocki commented on #9564
Deadline is 11/1/2021!  pls submit your art by tomorrow!

[2021-10-31 14:54] owocki commented on #9564
@writeprovidence looks like a good start

@L-KH 👍

@azizyano i just glanced at it and lgtm!

[2021-10-31 16:03] Nanshulot commented on #9564
@owocki here are some animated sketches of my avatar variations; hope you like it
![animated avatar](https://user-images.githubusercontent.com/61803313/139592193-e65312d1-d968-4cc7-b371-3942f71ed64d.gif)

[2021-10-31 19:26] writeprovidence commented on #9564
finished ![moloch avatar-25](https://user-images.githubusercontent.com/31359701/139598406-ed1d08be-6cbf-4956-a0bd-95befc832a4a.png)

[2021-10-31 23:27] Hasssan04 commented on #9564
hello, here is my submission:
https://easyupload.io/dewhlz
https://imgur.com/x5FPKse

[2021-11-01 00:09] Hasssan04 commented on #9564
hello, here is my submission
[robot2 (5).zip](https://github.com/gitcoinco/web/files/7449966/robot2.5.zip)

[2021-11-01 00:42] Hasssan04 commented on #9564
hello, here is my submission:
![image_2021-11-01_014144](https://user-images.githubusercontent.com/90448054/139607289-15ca7de1-4063-47f5-8f0a-dc661fb4d800.png)
[robot2.5.zip](https://github.com/gitcoinco/web/files/7450084/robot2.5.zip)

[2021-11-01 12:05] AvrilApril commented on #9564
I tried something from the last sketch, what do you think @owocki
![Robot 2-1](https://user-images.githubusercontent.com/65724764/139668783-c7eb649a-36b3-4cbe-b746-90157819c956.png)
![Robot 1-1](https://user-images.githubusercontent.com/65724764/139668788-4bbf9cdb-bcd0-49fd-930d-71e448bc1910.png)

[2021-11-01 12:34] AvrilApril commented on #9564
here is a link to my submission
https://drive.google.com/file/d/100qjQBOebIKGlKhMV-PBAqkOR_WXc6v1/view?usp=sharing

[2021-11-01 17:55] zak102 commented on #9564
my submission  [click here ](https://imgur.com/rY1uPSq) sorry for being late  svg below
[AvatarRobots -Gitcoin.zip](https://github.com/gitcoinco/web/files/7455213/AvatarRobots.-Gitcoin.zip)

[2021-11-01 18:47] owocki commented on #9564
@avrilapril your submission has 2 robots in it, and only 1 permutation of arm/leg/head/etc per robot.  can you pls resubmit with 1 robot + multiple permutations for each?  please check the [sample svgs](https://bits.owocki.com/v1umkr1e) if you need a reference point

[2021-11-01 18:51] owocki commented on #9564
@eknobl can you pls adjust your avatar to use `_` instead of `-` as the dilimiter?

eg `Hair_4-Pink` instead of `Hair4-Pink`.  and `Mouth_3` instead of `Mouth_3`

[2021-11-01 18:55] AvrilApril commented on #9564
I will work on it and resend, thank you for the feedback

[2021-11-01 19:00] owocki commented on #9564
@nanshulot can you pease make sure your submission follows the format of the sample svgs?  the DOM of your SVG doesnt seem to follow this.

[2021-11-01 19:04] owocki commented on #9564
@riyasoganii can you pease make sure your submission follows the format of the sample svgs? the DOM of your SVG doesnt seem to follow this

[2021-11-01 19:07] owocki commented on #9564
@SSShiine can u pls update the DOM of your svg to have `_`s in each of the dom elements.  eg it should have the following structure `mouth_5` instead of `mouth5`.  `bg_9` instead of `bg9` etc

[2021-11-01 19:18] owocki commented on #9564
@writeprovidence same qiuestion for u- can u pls update the DOM of your svg to have _s in each of the dom elements. eg it should have the following structure mouth_5 instead of mouth5. bg_9 instead of bg9 etc

[2021-11-01 19:20] owocki commented on #9564
@zak102 can you pease make sure your submission follows the format of the sample svgs? the DOM of your SVG doesnt seem to follow this, it has elements in folders.

[2021-11-01 20:02] eknobl commented on #9564
@owocki fixed
https://github.com/eknobl/Gitcoin-Avatar/blob/54f4489cf625d9d8f7c02596bb165244a619177e/PunkHornedRobots2.svg

[2021-11-01 20:10] SSShiine commented on #9564
Fixed and updated on Github

On Mon, 1 Nov 2021, 1:08 pm Kevin Owocki, ***@***.***> wrote:

[2021-11-01 20:13] writeprovidence commented on #9564
@owocki I just made the update pls take a look https://drive.google.com/drive/folders/1h4nlZQnPlq-7uGkr-Mj962U82bUNQNji

[2021-11-01 20:39] Nanshulot commented on #9564
https://github.com/gitcoinco/web/issues/9564#issuecomment-955741322

[2021-11-01 21:10] riyasoganii commented on #9564
@owocki Fixed and updated https://github.com/riyasoganii/goofBot/blob/main/avatar_goofBot-01.svg

[2021-11-01 22:11] hamzaghz commented on #9564
Ive just took a glance at my mail @owocki ; if the update hasnt fix the issue feel free to request a new one     https://imgur.com/a/gK8ZGLC

[2021-11-01 22:16] AvrilApril commented on #9564
@owocki i updated my work please take a look https://drive.google.com/file/d/1vcmOYgIs8ZcGsl61SZQ8G6uGE6HI_pJR/view?usp=sharing

[2021-11-02 04:36] Merit-Tech commented on #9564
@owocki hello, just noticed you approved some of us that applied late. Do u plan on extending the deadline or should we ignore the approval notice?

[2021-11-02 05:32] thelostone-mc opened #9649 "feat: add matching pools metric and tooltip to grant details"
**Description**

As a Grant owner, I want to see how much matching I’ve received from the matching pool(s) my grant are a part of, and understand which matching pools my grant is in.

Design: GR11

**Acceptance Criteria or Definition of Done**

- [x] GIVEN I am on a grant detail page
WHEN I look at the metrics under "Active Matching Rounds"
THEN I see the total matching funds the grant has receive

[2021-11-02 05:47] thelostone-mc opened #9650 "revamp: grant owner ability to edit a grant"
#### Description

As a grant owner, when my grant is out of date (idle), I want a grant owner management call to action for me to update my grant.

Design: [GR11](https://www.figma.com/file/aLMVP9jCWAgpu4bjD65gJ0/GR11?node-id=5147%3A25053)

**Acceptance Criteria or Definition of Done**

- [x] GIVEN I am on the Grant Details page
WHEN I view the right-hand side grant owner management panel for MY g

[2021-11-02 05:49] thelostone-mc opened #9651 "feat: grant owner call to action to update idle grant"
#### Description

As a grant owner, when my grant is out of date (idle), I want a grant owner management call to action for me to update my grant.

Design:  [GR12](https://www.figma.com/file/aLMVP9jCWAgpu4bjD65gJ0/GR11)

- [x] GIVEN I am viewing the right-hand side grant owner management panel on the Grant Details page for MY grant
WHEN my grant has not been updated for 3 months
THEN I see a call

[2021-11-02 07:38] thelostone-mc opened #9652 "feat: grant owner information to extract L2 contributions"
### Description

As a grant owner, I want to better understand how to extract my L2 contributions, so I can get my hands on the funds that will help me complete my project.

**Acceptance Criteria or Definition of Done**

- [x] GIVEN I am viewing the right-hand side grant owner management panel on the Grant Details page for MY grant
WHEN grant is an ETH grant
THEN I see an information call to actio

[2021-11-02 07:46] thelostone-mc opened #9653 "I"
### Description

As a grant owner, when I have submitted my grant, I want an indicator on the grant details page so it's not a black box where I throw my application in and never hear back.

Designs:  https://www.figma.com/file/aLMVP9jCWAgpu4bjD65gJ0/GR11?node-id=6138%3A27681

**Acceptance Criteria or Definition of Done**

- [x] GIVEN I am viewing the right-hand side grant owner management panel o

[2021-11-02 12:12] zak102 commented on #9564
fixed and updated. thanks for accepting submission
[Avatar_Robot.zip](https://github.com/gitcoinco/web/files/7460484/Avatar_Robot.zip)

[2021-11-02 19:02] owocki commented on #9564
@Merit-Tech et all - happy to accept submissions until midnight tonight.

[2021-11-02 19:45] Merit-Tech commented on #9564
@owocki thanks, will submit soon.

[2021-11-02 20:21] petushka1 commented on #9564
Unfortunately, I still can't download .zip. IDK why. But also fixed my submission.
https://drive.google.com/file/d/1QskKg5212ng6_jx6ziYXL7p7pUIRffeq/view?usp=sharing

[2021-11-02 20:58] #9640 closed

[2021-11-02 21:02] #6395 closed

[2021-11-02 21:08] chibie commented on #9498
hey, kindly submit a ticket at https://support.gitcoin.co

[2021-11-02 21:08] #9498 closed

[2021-11-02 21:21] #9456 closed

[2021-11-02 21:25] #9460 closed

[2021-11-03 09:21] Merit-Tech commented on #9564
@owocki Here is the link to my submission, would appreciate feedbacks
https://drive.google.com/drive/folders/1lMxAq0S_4PsoJ5BuPNxgwunFMdEwCD7N

[2021-11-03 10:12] abitrolly commented on #9460
@chibie can we leave it open until it is fixed?

[2021-11-03 12:03] nelruk opened #9658 "Change the address to receive funding in Grants"
### What

I'm asking to change my address to receive fund in my grant.

The grant is https://gitcoin.co/grants/2491/la-hora-cripto-v2
The new address will be 0x794314b2A7Ed4B8336C7bB5EB66B5F78D5c50bc5

### Why

Change the address for several reasons, mostly convenience.

[2021-11-03 13:59] owocki opened #9659 "Gitcoin.co Security Bounty"
# Gitcoin Security Bounty Program

Gitcoin is an open-source marketplace with our code available for inspection and research. If you discover a severe bug affecting the privacy, data, or security of our users we ask that you disclose responsibly and privately. For security related vulnerabilities we reward researchers for private and professional disclosure.

Non-security issues (style issues, gas

[2021-11-03 13:59] owocki commented on #5053
moved to https://github.com/gitcoinco/web/issues/9659

[2021-11-03 13:59] #5053 closed

[2021-11-03 18:59] owocki commented on #9564
@petushka1 can you pease make sure your submission follows the format of the sample svgs? the DOM of your SVG doesnt seem to follow this.

[2021-11-03 19:07] owocki commented on #9564
@hamzaghz your file is about 16mb.  anyway u can compress it to be lower?  right now the avatar builder cant handle a file that big.

also can you pease make sure your submission follows the format of the sample svgs? the DOM of your SVG doesnt seem to follow this.

[2021-11-03 19:39] owocki commented on #9564
@bruno-tandon  your svg doesnt have the correct layers in it (wrong DOM format/naming, doesnt have multiple arms/legs/heads/bodies/etc)

[2021-11-03 19:42] owocki commented on #9564
@art-maniac can you pease make sure your submission follows the format of the sample svgs? the DOM of your SVG doesnt seem to follow this. (everything is inside of background 2 for example, layers named `head1` instead of `head_1`, etc)

[2021-11-03 19:43] owocki commented on #9564
@the-hack-god can you pls make sure your submission follows the format of the sample svgs? the DOM of your SVG should be groups, and they should be named like in the sample svg

[2021-11-03 19:45] owocki commented on #9564
@old-monger can you please update your submission to follow the DOM structure that is in the sample svg?  (eg not in nested folders, instead named as follows `head_1`,  `head_3`,  `head_2`,  etc)

[2021-11-03 19:47] owocki commented on #9564
@masket-bask can you please update your submission to follow the DOM structure that is in the sample svg??  (no nested folders, named with underscores a la `body_1`, `body_2`, etc)

[2021-11-03 19:47] owocki commented on #9564
@ridwan1995 could not find your submission, your submission just points to your github

[2021-11-03 19:50] owocki commented on #9564
@panigale120 can you please update your submission to follow the DOM structure that is in the sample svg?    right now there are a bunch of svgs, and i cant use them in that format ( https://github.com/panigale120/Avatar-Builder/tree/main/SVG )

[2021-11-03 19:51] owocki commented on #9564
@vinhbhn can you please update your submission to follow the DOM structure that is in the sample svg? right now its a bunch of seperate svgs and i cant use them in that format

[2021-11-03 19:52] owocki commented on #9564
posting prizes for this one now.

The original policy had budget for 5 rewards on it.  There were about 20 submissions, so I'll be issuing honorable mentions to people as well.

If you are selected pls send a gitcoin.co/requestmoney to me (owocki) with the amount designated and also leave a link to this bounty to point the request at this page.

TOP PRIZE (0.25 ETH)

@writeprovidence
@eknobl
@aziz

[2021-11-03 19:53] Solexplorer commented on #9658
Updated, issue can now be closed

[2021-11-03 19:54] petushka1 commented on #9564
@owocki can you seed the archive? I tried to download it multiple times but failed. Thanks in advance

[2021-11-03 20:11] the-hack-god commented on #9564
@owocki  I have made the necessary changes please reconsider my design.

[2021-11-03 20:12] owocki commented on #9564
@petushka1 here you go https://bits.owocki.com/WnukYO5O

[2021-11-03 20:16] owocki commented on #9564
@the-hack-god do you have a vector version of your avatar?  the bitmap version is 35mb and is quite slow to process

[2021-11-03 20:25] Art-Maniac commented on #9564
@owocki  i made the necessary changes

[2021-11-03 20:34] masket-bask commented on #9564
@owocki  i have made all the changes as you requested.

[2021-11-03 20:44] Art-Maniac commented on #9564
@owocki  can you have a look at my upload....

[2021-11-03 20:48] old-monger commented on #9564
@owocki  i have reuploaded my design. please reconsider

[2021-11-03 20:58] the-hack-god commented on #9564
@owocki  since its a very high quality file and its designed on photoshop (not a vector file) so the file size is a bit large. If i expand the file into vector then the quality of the file will be lost.

[2021-11-03 21:01] hamzaghz commented on #9564
@owocki i did update the svg as recommanded, apparently i didnt mention you on the commit https://github.com/hamzaghz/web/commit/93970e4012402487bf110b8f43826a92df0dab04#commitcomment-59123220

[2021-11-03 21:04] bruno-tandon commented on #9564
Sir i have uploaded my design.

[2021-11-03 21:04] bruno-tandon commented on #9564
@owocki  i have uploaded my svg file again

[2021-11-03 21:05] KayZou commented on #9564
Hi @owocki please review my work! https://github.com/gitcoinco/web/issues/9564#issuecomment-952947993

[2021-11-03 21:05] KayZou commented on #9564
Hi @owocki please review my work! https://github.com/gitcoinco/web/issues/9564#issuecomment-952947993

[2021-11-03 21:34] zatracking opened #9662 "Uniswap Tag"
# ❤️ I'm using Gitcoin
please add UNISWAP Tag to My Grant

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [x] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [x] Support u

[2021-11-03 21:52] panigale120 commented on #9564
Just updated SVG folder in my repo please check avatar builder.svg i think
now it’s work
On Wed, Nov 3, 2021 at 11:50 PM Kevin Owocki ***@***.***>
wrote:

[2021-11-03 23:39] Virtual-Face commented on #9564
Hi @owocki
Sorry, I forgot to submit a sketch.
Here are some variations of the robot avatar that I worked on, what do you think?

![image](https://user-images.githubusercontent.com/26789429/140233274-27db7ea9-144c-49f8-a078-68494b0b999e.png)
![image](https://user-images.githubusercontent.com/26789429/140233440-51adc8b2-6ee7-4547-b763-bf9f3738a767.png)

[2021-11-03 23:50] Virtual-Face commented on #9564
![image](https://user-images.githubusercontent.com/26789429/140234346-b0b34170-8045-4533-915c-f68ffda0e4fd.png)
![image](https://user-images.githubusercontent.com/26789429/140234433-2110907f-5cfe-433d-aa23-df551b2707a0.png)

[2021-11-04 02:28] vinhbhn commented on #9564
I uploaded the file in a DOM structure similar to the sample svg

[2021-11-04 09:57] Hasssan04 commented on #9564
![IMG-20211104-WA0013](https://user-images.githubusercontent.com/90448054/140294081-05b47013-f859-4bcf-8841-c1ac6df056ba.jpg)

[2021-11-04 10:21] #9602 closed

[2021-11-04 10:22] chibie commented on #9604
hey! please submit a ticket at https://support.gitcoin.co

[2021-11-04 10:22] #9604 closed

[2021-11-04 13:49] #9658 closed

[2021-11-04 14:20] owocki commented on #9564
@Virtual-Face the bounty is over :/ but if you can submit the final svg to me in the next couple days i can still consider you for a prize.

everyone else, ill be going through your submissions soon. thx for your patience as i work through these

[2021-11-04 15:22] petushka1 commented on #9564
I regret I didn’t asked for working link earlier. Had fun with it. It can be split more, and more accessories added

https://drive.google.com/file/d/1ritQgoXlySOWoPszYlyaM6upTh4-GawJ/view?usp=sharing

[2021-11-04 17:00] owocki commented on #9564
HONORABLE MENTION L1 (0.1 ETH)

@hamzaghz
@old-monger
@art-maniac
@hamzaghz

Please submit your payment request via gitcoin.co/requestmoney

DOES NOT FIT CRITERIA / COULD NOT TEST / REVISIONS REQUETSED

@petushka1 your svg only has 1 pair of legs, hands, accessories.  please add multiple different permutations of various body parts to your avatar.

@KayZou your DOM structure of your submission doe

[2021-11-04 17:00] owocki commented on #9564
note ill be afk until early next week + can test more then

[2021-11-04 17:08] Virtual-Face commented on #9564
Thanks, here is the SVG file:
https://github.com/Virtual-Face/Gitcoin-Avatar-Robot/

[2021-11-04 17:23] petushka1 commented on #9564
sorry, combined similar part in one folder.

@owocki can I rename folders? For example, legs? As far as the template you shared has static body elements? Mine is cut into more customizable

https://drive.google.com/file/d/1nBq4VRCoQ0c-_lB_XaofXi4hllQYMAie/view?usp=sharing

[2021-11-04 17:39] frankchen07 opened #9664 "Stop cross-site scripting on gitcoin.co"
## Stop cross-site scripting on gitcoin.co

**Technical details:**

Reflected Cross-site Scripting (XSS) occurs when an attacker injects browser executable code within a single HTTP response. When a web application is vulnerable to this type of attack, it will pass unvalidated input sent through requests back to the client. The value of request parameter is copied into the value of an HTML tag att

[2021-11-04 18:19] Virtual-Face commented on #9564
@owocki I'm unable to submit on bounty's page. I get this error:
Unable to fulfill bounty. Please try again later

[2021-11-04 19:13] petushka1 commented on #9564
@owocki can I rename folders? For example, legs? As far as the template you shared has static body elements? Mine is cut into more customizable
currently, adopted to the templet. Sorry, I groped the common elements in folder. Starting drawing other elements. Would appreciate your feedback.

 https://drive.google.com/file/d/1nBq4VRCoQ0c-_lB_XaofXi4hllQYMAie/view?usp=sharing

[2021-11-04 19:53] KayZou commented on #9564
@owocki this is the updated version, please let me know if there is something messing again, thank you!
https://github.com/KayZou/web/blob/1081a779855fffde6b259323b6c5a19663af9eec/AvatarRobot%20-%20Kayzou-Updated.svg
![AvatarKayzouWork](https://user-images.githubusercontent.com/82322986/140410245-1a75407a-b7f6-4d29-8caa-5917b4f3ea71.PNG)

[2021-11-05 13:41] AlphaSerpentis opened #9666 "Unable to Claim GR11 Matching"
**Describe the bug**
Unable to find and click the supposed 'Claim' button on the grant page

**To Reproduce**
1) Signed into Gitcoin under the appropriate account
2) Log into the Ethereum account via MetaMask. Said account is a **Trezor**.
3) Check the grant page for a claim button (in which there won't be one)

**Expected behavior**
The ability to see this Claim button

**Desktop (please complete

[2021-11-05 15:39] mariorz commented on #9666
I have the same issue. Gitcoin bot reports the CLR matching has been transferred but there is no "Claim" button when logged in with the correct account and wallet.

[2021-11-05 18:52] developerfred commented on #9659
@owocki
https://gitcoin.co/issue/6ug-test3/-svg-onload-prompt-0-/2/100027032

I can't estimate the problem level of this bug, but our client is accepting javascript inject in the creation of new bountys this is a problem when hunters start interacting with this bounty.

<img width="547" alt="Screenshot 2021-11-05 at 15 45 16" src="https://user-images.githubusercontent.com/57037080/140563504-6cae84

[2021-11-05 19:40] 6ug commented on #9659
@owocki @developerfred  hey, that is my test user. I discovered that issue and sent email to kevin and engineering with bug report. The email mentions from where it is coming.

So sorry for creating chaos, but this is critical issue, you should fix it asap. :)

[2021-11-05 20:35] gdixon commented on #9659
Thanks @developerfred - the fix is going out now - we will get back to you on the email thread asap!

[2021-11-05 20:46] developerfred commented on #9659
I open a proposal to rewrite explorer in a decentralized way
https://gov.gitcoin.co/t/proposal-dexplorer-bounty-fund-bounty/8960

[2021-11-06 11:17] masket-bask commented on #9564
@owocki  I have made all the changes you requested for. Kindly have a look.

[2021-11-06 15:25] the-hack-god commented on #9564
@owocki I have all the changes, converted my svg into vector and also corrected the names.
Check out my design here…….
https://github.com/the-hack-god/gitcoin-vector-avatar-2021/blob/main/gitcoin_avatar.svg

[2021-11-06 20:48] panigale120 commented on #9564
@owocki I also updated my svg i hope this time everything is cool

https://github.com/panigale120/Avatar-Builder/blob/main/Avatar%20builder%20v3.svg

[2021-11-06 20:49] panigale120 commented on #9564
@owocki  I also updated my svg i hope this time everything works
https://github.com/panigale120/Avatar-Builder/blob/main/Avatar%20builder%20v3.svg

[2021-11-07 12:41] vinhbhn commented on #9564
@owocki I have added color to the svg file, hope you will check it out: https://github.com/vinhbhn/gitcoin-avatar-builder-autumn-2021/blob/main/robot.svg

[2021-11-07 17:21] petushka1 commented on #9564
Added more. Used mostly “accessory” object. Will be editing once made everything I planned https://drive.google.com/file/d/1nBq4VRCoQ0c-_lB_XaofXi4hllQYMAie/view?usp=sharing

[2021-11-07 21:29] bruno-tandon commented on #9564
@owocki Sir, I updated my character as per your request.
Please check it out https://github.com/bruno-tandon/avatar_icon/blob/main/avatar_icon.svg

[2021-11-08 04:07] tarunvella commented on #9616
Hi,

I am interested to contribute for this feature to OSS by using my expertise in Vue using state management, so that we can re-use this feature across the app. I have a good experience building production grade web applications using vue at my profession as software development engineer . I am eagerly waiting for your acknowledgement to start implementing this feature

[2021-11-09 01:31] frankchen07 commented on #9664
closing and reopening on jira

[2021-11-09 01:31] #9664 closed

[2021-11-09 02:05] GriffGreen commented on #8728
@thelostone-mc :-D

Hey!

I need this data again... for round 10 i need these groups:

Commons Stack: Iteration 0
cadCAD
Crypto Commons Gathering 2021
Giveth.io - PAN League
Token Engineering Academy
Token Engineering Commons
Bloom Network
Trustlines Venezuela Community
NFT Education
A Hitchhiker's Guide to TE
Commons Swarm: ABC model
MyCrypto
GivethTrace
1hive
Commons Simulator: Level Up

For Rou

[2021-11-09 04:35] #9635 closed

[2021-11-09 04:35] #9636 closed

[2021-11-09 04:35] #9649 closed

[2021-11-09 12:39] thelostone-mc commented on #9662
If you are the owner of the grant -> you should be able to set it yourself

[2021-11-09 12:39] #9662 closed

[2021-11-09 13:30] damlagit opened #9669 "I want to change the public key address of the grant"
Hi,

We are the Circles UBI team and we would like to update our public key address to receive our grant from the following 2 accounts. Our current safe is an old one that has been discontinued.

https://gitcoin.co/grants/331/circles-ubi
https://gitcoin.co/grants/1780/circles-ubi

New Circles Coop safe: 0xd525fF26F45f3B7D20cfEf170E2cb9E601A0b4dA

Contact me here:
damla@joincircles.net

Thanks!

[2021-11-09 14:47] paulmreese opened #9670 "Unable to login with auto-generated username (GitHub OAuth)"
**Describe the bug**

When I attempt to login to GitCoin, I receive an error "Unable to save your profile. Please login again." at the top of the screen. This accompanies the inability to access any profile-related pages(500 error), with the exception of logging out. I have contacted GitHub to verify that my OAuth credentials are valid. Additionally, I have cleared my cache, restarted and updated

[2021-11-09 16:11] aeronye opened #9671 "Complaint: unable to connet wallet address"
hello, i was listed as one of the beneficiary  for the design of gitcoin autumn 2021 schwag, with the link sent to my email for requesting for fund i tried doing so, but i could not connect my wallet address the input field named Address is not allowing me to connect or event type, it's seems disable or inactive, please i need your support on this or should i go ahead to comment my wallet address

[2021-11-09 16:17] schultztimothy commented on #9614
Hello I have submitted a PR for review!

[2021-11-09 17:11] GrooChu commented on #9659
@owocki  I'm not sure if this could be classified as bug. Please take a look at it.
I was playing around with the funding url by hitting an invalid funded issue https://gitcoin.co/funding/details/?url=https://google.com
It loads for 10 to 15 seconds and results in below error.
<img width="610" alt="Screenshot 2021-11-09 at 10 08 06 PM" src="https://user-images.githubusercontent.com/20091277/140970

[2021-11-09 20:00] ilievski-david opened #9674 "Error 500"
**Describe the bug**

Few months ago i created a gitcoin account to explore the website, and since i didn't use it i deleted it as i usually do to non active accounts. This week i tried to login again with the same github account and the bug showed up. Every page shows error 500 and says to login again.

**To Reproduce**

- Sign in to gitcoin
- Delete the account by clicking "My account" -> "Setti

[2021-11-09 20:22] gdixon commented on #9674
Hey @ilievski-david,

Could you try again now please 👍

[2021-11-10 02:29] ethdaily opened #9675 "Username Not Updating To Match Github"
**Describe the bug**
When changing my username on Github, my username on Gitcoin remains the same. Additionally, Gitcoin does not pull the most-recent profile picture from Github.

**To Reproduce**
Sign up on Gitcoin with your Github account. Change your Github username.

**Expected behavior**
The expectation is that the username on Gitcoin would update to match Github.
I would like my Gitcoin URL

[2021-11-10 05:22] hsajkffse commented on #5334
很好

[2021-11-10 06:08] Mengqian-Zhang opened #9676 "Request for the coders' behavioral data on Bounty"
On Bounty, we could observe who and when participate a Bounty task. However, this kind of data is not available through the provided API (actually, the existing API is mainly from the perspective of **Bounty task**, not participants). So could you please share the coders' behavioral data on Bounty? In detail,
    1. **when** did a coder register on the platform?
    2. **when** did the coder parti

[2021-11-10 06:12] mingming18992169159 commented on #5334
我喜欢这个想法，这将是真棒整合学习的心理健康，以及特别是现在。

[2021-11-10 11:59] lin7880 commented on #5338
不错的建议难得！！！

[2021-11-11 09:22] nya-elimuai opened #9679 "Submitting work for Filecoin microgrant fails"
**Describe the bug**
Website bug: At https://gitcoin.co/issue/fulfill?pk=26624&network=mainnet, I get the error "Enter a valid FIL" address when trying to submit work.

**To Reproduce**
Go to https://gitcoin.co/issue/filecoin-project/devgrants/326/100026624, and submit the work. Type a valid FIL address, and submit the form.

**Expected behavior**

A valid FIL address should be accepted.

**Screen

[2021-11-11 12:14] thelostone-mc opened #9680 "feat: backend for multiclaim claim"
### Description

This checklist entails all the tasks which would be needed to be done to enable web repo to have multi-claim

- [x] #9681
- [ ] Cron task to track entries CLRMatch which haven't been claimed and update them
- [x] Writing custom script to backfill data for previous 3 rounds
- [x] Update payout_round_noncustodial to ensure CLR payout contract can work

Once these pieces are built ou

[2021-11-11 12:20] thelostone-mc opened #9681 "Data Model Changes to enable admin to create a save GrantPayout info"

[2021-11-11 20:25] Tranvanlap95 commented on #5541
0xe4e834fc6808181668501E89a85F1cC40ad941d9

[2021-11-11 23:25] owocki commented on #9564
testing these now

[2021-11-11 23:45] owocki commented on #9564
TOP PRIZE (0.25 ETH)

HONORABLE MENTION L1 (0.1 ETH)

@virtual-face
@petushka1
@the-hack-god

HONORABLE MENTION L2 (0.05 ETH)

@bruno-tandon
@vinhbhn
@KayZou

Please submit your payment request via gitcoin.co/requestmoney

DOES NOT FIT CRITERIA / COULD NOT TEST / REVISIONS REQUETSED

@panigale120 i still cant open yours.  it crashes sketch.  and it doenst load in the avatar builder.  is anyone out

[2021-11-12 00:43] masket-bask commented on #9564
I have corrected the mistakes @owocki ,kindly have a look https://github.com/masket-bask/gitcoin_avatar/blob/main/avatar_robot.svg

[2021-11-12 00:52] panigale120 commented on #9564
I don’t know what to do it’s working in my computer also tested with my
friends laptop and had no problem,i have no idea what to do i made designs
and it’s there seems like it’s technical issue. never used sketch or avatar
builder and idk why it crashed but if you help me to figure out what can i
do for next?

On Fri, Nov 12, 2021 at 4:43 AM masket-bask ***@***.***>
wrote:

[2021-11-12 07:27] petushka1 commented on #9564
@owocki it’s a big pleasure, thanks. I got looots of funny ideas for my piece and would like to finalise it. Can you pls specify how many accessories can we use and maybe to share a few more mockup svg? Maybe another would fit better

[2021-11-13 03:50] yolantis opened #9683 "Username changed on Github does not update on GitCoin"
Describe the bug
When changing my username on Github, my username on Gitcoin remains the same. I tried hard refresh. I tried restarting my laptop. I tried disconnecting my Github from GitCoin and re-connecting it.

To Reproduce
Sign up on Gitcoin with your Github account. Change your Github username.  https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/m

[2021-11-13 09:40] SanguineHum opened #9684 "1"
Hello. I made a transaction for donate to grant to "Rekt.news" and it was completed successfully, but the bot wrote in the comments below it that it failed. Can you check it? My money has already been sent.

Hash: 0x2126c7a6e18ad50434a2d0b171f416f0ff7021679637e6f84efb7591365c5d4b

[2021-11-13 20:00] abuchtela90 commented on #5334
Random questions/quests about everything. not just like 1 or 2 specific coins, or apps. Etc,

[2021-11-13 23:36] masket-bask commented on #9564
@owocki  kindly have a look, I iterated the design as per your suggestions https://github.com/masket-bask/gitcoin_avatar/blob/main/avatar_robot_300px.svg

[2021-11-15 08:46] ilievski-david commented on #9674
yes it works now

[2021-11-15 08:46] #9674 closed

[2021-11-16 02:34] yolantis opened #9690 "Kudos Quest bug in Mac Chrome; unable to play game at all"
**Describe the bug**
What the KCUF are Kudos game doesn't show the Q&A on Chrome, desktop, Mac OS Monterey.
**To Reproduce**
Play the game https://gitcoin.co/quests/229/what-the-kcuf-are-kudos and wait until the reading material has been provided. Click to start the game in Chrome, then the clickbot glitches green and the screen says I lost. I never saw any questions at all. Tried about four times

[2021-11-16 03:03] ethdaily opened #9691 "Duplicate Accounts Due To Github Username Change"
**Describe the bug**
There are duplicate Gitcoin accounts that have been created due to me changing my username on Github. Both duplicate Gitcoin accounts are linked to one Github (https://github.com/ethdaily), but I only have access to one Gitcoin account (https://gitcoin.co/inethereumpod). When I signed up for Gitcoin, my Github username was @inethereumpod. I recently changed my Github username

[2021-11-16 06:47] thelostone-mc commented on #9683
It's been updated! Could you try logging in and checking ?

[2021-11-16 06:50] thelostone-mc commented on #9691
Could you try clearing your cache and logging in once more ?

[2021-11-16 06:56] ethdaily commented on #9691
Awesome, account directs correctly now. Thanks for the prompt help!

[2021-11-16 06:56] #9691 closed

[2021-11-16 06:56] #9675 closed

[2021-11-16 19:33] gcc20 commented on #9457
you can submit a ticket @ https://support.gitcoin.co to have your payout address changed

[2021-11-16 19:34] chibie commented on #9457
you can submit a ticket @ https://support.gitcoin.co to have your payout address changed

[2021-11-16 19:34] #9457 closed

[2021-11-16 21:11] yolantis commented on #9683
Thank you, that worked and even my avatar and quest status is the same. Thanks. Now I have a match between URL and username. OK to close ticket.

[2021-11-17 01:07] developerfred commented on #9659
Should not show bounty canceled in explorer:

https://gitcoin.co/issue/sifchain/sifnode/2181/100027131
<img width="1187" alt="Screenshot 2021-11-17 at 01 05 54" src="https://user-images.githubusercontent.com/57037080/142090729-58c84687-2635-484c-ab8e-93067a23bc3f.png">

[2021-11-17 15:01] #9670 closed

[2021-11-17 15:54] JamesLawton opened #9697 "Local deployment jtbd landing pages don't work"
**Describe the bug**
AttributeError: 'NoneType' object has no attribute 'data'

**To Reproduce**
I run through the local deployment guide located here via docker: https://docs.gitcoin.co/mk_setup/.

Once it is done compiling, I can view the app at localhost:8000, however all the landing pages under the navigation What's possible fail with the above error. Looks like the particular line is this:

`

[2021-11-17 21:21] GreyPK opened #9698 "Polygon's donate thx failed if Gitcoin Contrubute set to 0%"
Bug report: Donate to projects with polygon don't work if Gitcoin Contrubute set to 0%. I think your polygon donation contract (0xb99080b9407436eBb2b8Fe56D45fFA47E9bb8877) has a bug. Txs failed if Gitcoin Contrubute set to 0%, with this error message: "Fail with error 'SafeERC20: low-level call failed'". Check your code of contract or check frontend that create tx to metamask

**Describe the bug**

[2021-11-17 23:42] Shaylaleemason commented on #5338
My apologies

[2021-11-18 11:36] PaigeEve commented on #9666
The claim button isn't responding, please help

[2021-11-18 12:01] MaestroBignose opened #9701 "Unable to connect metamask on Binance Smart Chain to pay bounty"
**Describe the bug**
I'm trying to pay the bounty for this issue https://gitcoin.co/issue/elyseos/btcbridge/1/100027037#.  I can connect metamask via Ethereum network but when I change to BSC metamask disconnects.

**To Reproduce**
Set-up metamask on BSC and tey to connect to gitcoin

**Expected behavior**
Metamask to cnnect and to be able to pay the bounty with the BNB I have in my wallet

**Scre

[2021-11-18 13:48] hollygrimm opened #9702 "Change the address to receive funding in Grants"
I'd like to change wallet address for:
https://gitcoin.co/grants/2292/nfdao-panvala-league

The new address is:
0x09203487A637b28D8D5CfDFE0BCE8F7A815a8c48

Thank you!

[2021-11-18 14:34] encKrish commented on #9701
This is most probably happening due to a method named `getDataChains` in [data-chains.js](https://github.com/gitcoinco/web/blob/cdd7b51e3cb33cad04ca48171fab6a12615d36eb/app/assets/v2/js/data-chains.js). The function is used whenever a wallet change occurs. It fetches data from a list in the same file but the list doesn't contain information for BSC, so it returns undefined and the wallet connectio

[2021-11-18 16:11] QYuQianchen opened #9704 "Include xDAI / Polygon / L2 as bounty chains"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a bounty creator, I want to payout bounty workers with tokens on xDAI and/or Polygon and/or L2 chains, so that small/medium size bounties can be created without suffering high gas price.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current stat

[2021-11-18 23:26] itsbadermn opened #9705 "thank"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2021-11-19 01:59] developerfred commented on #9704
Awesome!

[2021-11-19 02:00] developerfred commented on #9704
I have a proposal for this:
https://gov.gitcoin.co/t/proposal-dexplorer-bounty-fund-bounty/8960/2

[2021-11-19 06:10] Jackieyewang commented on #9247
Now, you can see our website https://btcu.tech/ is running. And you can check our github https://github.com/btcu-pro, I public my account.  Please help us solve this problem and we need to release our grants 3167.

[2021-11-19 06:10] Jackieyewang commented on #9247
@disruptionjoe

[2021-11-20 03:42] Combot80 commented on #9702
Hello apology for the delay has your issues been resolved yet

[2021-11-20 03:43] Combot80 commented on #9701
Hello apology for the delay has your issues been resolved yet

[2021-11-20 03:44] Combot80 commented on #9684
Hello apology for the delay has your issues been resolved yet

[2021-11-20 03:51] encKrish commented on #9701
Not yet

[2021-11-20 03:54] BillyJames1990 commented on #9701
it has not. however ive accepted my losses and the effort and time ive
invested into gitcoins comm was well worth it. hopefully it is gainful for
the community nonetheless. my money isnt worth my integrity. however my own
ignorance is what lost everything. thanks for checking but i just dont have
funds to go onward. the future is bright and unknown, perhaps i will work
with the git family of trail

[2021-11-20 03:56] Combot80 commented on #9701
What wallet do you use?

[2021-11-20 04:02] BillyJames1990 commented on #9701
metamask. ive created a new one because i may or may not have had a moment
of extreme sadness and i burned my wallets sec phrase info so even whats
recovered and stuck is in what is now my dead wallet. i have trst, cb, mm,
bus, myeth, blckchn for my .cex apps

On Fri, Nov 19, 2021 at 10:56 PM Combot80 ***@***.***> wrote:

[2021-11-20 04:02] BillyJames1990 commented on #9701
main is MM with imported rpc's

On Fri, Nov 19, 2021 at 11:01 PM Billy James ***@***.***>
wrote:

[2021-11-20 04:08] encKrish commented on #9701
Metamask

[2021-11-20 04:18] BillyJames1990 commented on #9701
im sorry, but i feel confused. did i miss something?
to clarify. Metamask is my wallet of choice for what was a journey but now
not much other than a digital relic, a binary paper weight.   Metamask

On Fri, Nov 19, 2021 at 11:08 PM Krishnendu Sengupta <
***@***.***> wrote:

[2021-11-20 07:13] flyq commented on #9247
good

[2021-11-20 07:43] papasabe opened #9709 "hola es el principio y el camino hace a los grandes."
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [x] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitco

[2021-11-20 07:54] papasabe commented on #9709
hola, desde mi humilde pensamiento creo que lo que significo vuestro excelente trabajo es el FUTURO de nuestros hijos/as.
Por ello yo divulgare todos los dias   fisica y virtualmente dentro de mis posibilidades.
GRACIAS DE NUEVO GITCOIN.
.

[2021-11-20 11:07] Combot80 commented on #9701
you will need to reauthenticate your wallet to the latest node system

[2021-11-20 11:07] Combot80 commented on #9701
you will need to reauthenticate your wallet to the latest node system

[2021-11-20 13:17] elyseos commented on #9701
I"m also very confused.  Is this an answer to resolving the BSC network issue?

[2021-11-20 15:36] Combot80 commented on #9701
You will need to create a support ticket number so I can look into it for you

[2021-11-20 21:19] snowdot opened #9710 "Duplicated account on Gitcoin - previously deleted"
**Describe the bug**

Deleted my Gitcoin account and created a new one and now I have multiple accounts under the same handle.
This creates a conflict that doesn't allow my current profile avatar to get updated.

**To Reproduce**
Delete Gitcoin account and create a new one.

**Expected behavior**
The old deleted Gitcoin account isn't actually deleted thus causing issues.

**Screenshots**
![image](

[2021-11-21 08:29] Hasssan04 commented on #9659
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 57,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
   ],
   "source": [
    "# BLS12-381 sage implementation"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 58,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
   ],
   "source": [
    "p = 0x1a0111ea397fe69a4b1ba7b6434bacd764774b84f38512bf6730d

[2021-11-21 08:35] Hasssan04 opened #9711 "{my up work"
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 57,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
   ],
   "source": [
    "# BLS12-381 sage implementation"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 58,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
   ],
   "source": [
    "p = 0x1a0111ea397fe69a4b1ba7b6434bacd764774b84f38512bf6730d

[2021-11-21 14:55] DAOctor-1 opened #9712 "Granting ETH address replacement"
### Hello there, this is DAOrayaki dMedia platform granted lately via Gitcoin Community.

### We would like to ask if it is possible to change the grant ETH address, which where recently used for Gitcoin GR-11.
### Due to the project latest updates and addresses managements we would like to replace DAOrayaki grant ETH address to a multi-sig gnosis safe address and that is for a proper management o

[2021-11-21 19:08] sirpy opened #9713 "Bounty not created after rejecting "promote fee" TX"
I've created a bounty with a "promote fee"
I did the token transfer fee but rejected the ETH promote fee
Now i'm unable to complete the bounty registration, if I press "fund bounty" it asks me to pay the token fee again
That's the TX hash: 0x5286a802dd1ca8f03ab10452b3b2ad9bfb7bd6ce396748cd4cd5437afc008420
Thanks

[2021-11-22 07:32] thelostone-mc commented on #9669
I'd recommend claiming the funds for this round before making this change!

[2021-11-22 13:53] luisblancoach commented on #9702
All set

[2021-11-23 00:03] frankchen07 opened #9718 "common issue to be moved"

[2021-11-23 16:46] #9650 closed

[2021-11-23 16:46] #9651 closed

[2021-11-23 16:46] #9652 closed

[2021-11-23 16:46] #9653 closed

[2021-11-26 01:56] davidphan090697 commented on #5436
Ok

[2021-11-27 00:10] annikalewis commented on #9712
Done!

[2021-11-27 02:08] thelostone-mc commented on #9666
Could you share more info regarding which grant you're talking about here?
Ideally if you're logged into your wallet , it should show the claim

- assuming the contract has funds allocated for the grant
- part of the team which owns the grant

The other option would be to head over to etherscan and claim the funds from the contract directly https://etherscan.io/address/0x0EbD2E2130b73107d0C45fF2E1

[2021-11-27 07:36] DAOctor-1 commented on #9712
Hello there, one more question
is the gnosis-safe multsig wallet supported by zksync and polygon?
if not is it possible to only change the polygon and the zksync address ?

[2021-11-27 08:26] DAOctor-1 commented on #9712
<img width="876" alt="Screen Shot 2021-11-27 at 4 23 00 PM" src="https://user-images.githubusercontent.com/82439794/143674127-f6cd9b06-8a46-414d-8502-7342341f9af3.png">
<img width="870" alt="Screen Shot 2021-11-27 at 4 23 08 PM" src="https://user-images.githubusercontent.com/82439794/143674129-67d0d571-d78d-46b8-9046-771cff005290.png">
<img width="881" alt="Screen Shot 2021-11-27 at 4 23 16 PM" sr

[2021-11-27 09:31] DAOctor-1 commented on #9712
QUICK UPDATE: creating a gnosis-safe multi-sig wallet with the same address as the ETH one is done so there is no problem with the Polygon funding option. However, when it comes to zkSync is not supported yet on gnosis safe. So, we would like to only change the zkSync if it is posisble

[2021-11-27 13:16] DAOctor-1 opened #9737 "Hello there, one more question"
Hello there, one more question
is the gnosis-safe multsig wallet supported by zksync and polygon?
if not is it possible to only change the polygon and the zksync address ?

_Originally posted by @DAOctor-1 in https://github.com/gitcoinco/web/issues/9712#issuecomment-980519177_

[2021-11-27 18:01] mariorz commented on #9666
Hi @thelostone-mc
This is my grant https://gitcoin.co/grants/2983/revert
The claim button has not appeared for two rounds now, had to claim directly from etherscan both times (including this one). Please let me know if I can help with anything else to debug the issue. Thanks.

[2021-11-28 00:56] Sifou13 opened #9738 "Individual Quests Intermittently Unable to Progress passed Intro - Browser's Console Error"
Describe the bug:
When landing on a Quest's landing page, at the end of the intro, or as soon as the user clicks "Skip Intro", the page stalls, and nothing more happens, therefore the button to start the quest is not rendered.

To Reproduce:
Start the quest https://gitcoin.co/quests/2/pitch-your-ethereum-killer-to-the-vc-bro, and if you are using a refreshed version of GitCoin's website (not cache

[2021-11-28 01:05] Sifou13 opened #9739 "Quest - User not prompted to claim rewards after the message announcing the user won the quest"
**Describe the bug**
When winning a quest, a number of controls get rendered so that the user can take actions such as claiming the reward for this quest (Kudos NFTs), however this seems to not be for some of the quests, so it could be intermittent but I believe there is an "obvious" and logical explanation to this (non defined javascript variable referenced).

**To Reproduce**
Win a quest - Howev

[2021-11-28 01:35] Sifou13 commented on #9739
Closed, in line with Pull Request (see above)

[2021-11-28 01:35] #9739 closed

[2021-11-28 01:35] Sifou13 commented on #9738
Closed, in line with Pull Request's comment (see above)

[2021-11-28 01:35] #9738 closed

[2021-11-28 02:00] gdixon commented on #9739
Thank you @Sifou13!!

[2021-11-29 00:31] frankchen07 opened #9741 "update funder's league page"

[2021-11-29 00:33] frankchen07 opened #9742 "[security] high: delete portfolio/project from profile of any Gitcoin user"
### Description

[code]

https://user-images.githubusercontent.com/7516920/143793002-b60d957c-4e0c-4339-abb0-2292382d80fa.mp4

### Acceptance Criteria

GIVEN a user has projects
WHEN an attacker makes a call to our API to delete that users projects
THEN the attacker should receive a 401 response.

[2021-11-29 00:33] frankchen07 opened #9743 "[security] high: Cross-site request forgery on logout leads to execution of malicious scripts"

[2021-11-29 00:53] frankchen07 opened #9744 "update gitcoin.co/grants unfurl to not show a github image"
### Description

When pasting the gitcoin.co/grants/new link for grant creators, the url image shows up as Github.

https://gyazo.com/5366301124a6c5394ded841dc707f65b

login_required would have to redirect to intermediate page from grant creation page

intermediate page would have to redirect to grant creation page

you'd have to preserve the redirect URI from the first redirect to ensure user end

[2021-11-29 00:53] frankchen07 opened #9745 "fix random DB calls that are taking 15s+"
### Description

https://app.datadoghq.com/apm/traces?query=env%3Aprod%20%40duration%3A%3E%3D5.5s%20service%3Adjango&cols=core_service%2Ccore_resource_name%2Clog_duration%2Clog_http.method%2Clog_http.status_code&historicalData=false&messageDisplay=inline&sort=desc&spanID=5753715442482864158&spanViewType=metadata&streamTraces=true&timeHint=1633104415420&trace=14756492944522259470680748010306150787&

[2021-11-29 00:53] frankchen07 opened #9746 "[spike] profile search performance profiling"
### Description

When I type something in the search bar in the top right, e.g ("the daily ape") it just spins forever. It should respond within 1s.

Graham states that latest performance fixes will help fix this. This ticket will become a profiling ticket to ensure that we’re hitting performance metrics.

### Acceptance Criteria

GIVEN the latest performance fixes
WHEN a user uses the search bar

[2021-11-29 00:53] frankchen07 opened #9747 "fix sms trust verification"
### Description

As a grant contributor who is gaining trust bonus by verifying by SMS, I want SMS verification options that work and are not broken.

### Notes

We’ve been receiving a lot of tickets for “offline verification”, which is an option in the SMS verification process.

The reason that we’re receiving a lot of these tickets is because the normal “online” SMS authentication seems to be do

[2021-11-29 00:53] frankchen07 opened #9748 "fix errors when clicking on standard checkout before gas estimation on checkout page"

[2021-11-29 00:53] frankchen07 opened #9749 "set "is payout ready" to default false if kyc required flag is true"
### Description

When the grants.models.clrmatch object is created, it should not have "is payout ready" true IF the KYC REQUIRED flag is true.

https://bits.owocki.com/ApuEGo4v

### Acceptance Criteria
GIVEN the creation of a grants.models.clrmatch object
WHEN the KYC required flag is true
THEN the default state for is payout ready is FALSE.

[2021-11-29 00:53] frankchen07 opened #9750 "cosmos bounties & hackathons frontend"

[2021-11-29 00:53] frankchen07 opened #9751 "cosmos bounties & hackathons backend"

[2021-11-29 00:53] frankchen07 opened #9752 "automate grant fagging information to notion for dispute handling"

[2021-11-29 00:53] frankchen07 opened #9753 "restrict bounties submission wallet addresses to the correct token (CSPR-specific)"

[2021-11-29 00:53] frankchen07 opened #9754 "refactor the payout address for the grant data model"

[2021-11-29 00:57] frankchen07 opened #9755 "add handling for grant approvals for deactivated and rejected grants"

[2021-11-29 00:57] frankchen07 opened #9756 "recover funds from MATIC donations using regular checkout, not the bulk checkout address on Ethereum"
### Description

There needs to be some recourse for the ~100 transactions that were "mis-donated".

Chibie plugged the hole with a check: https://github.com/gitcoinco/web/issues/9468

What has been happening is that contributors have been donating MATIC to an address on the Polygon network, when in actuality, they should've been donating to the bulkcheckout contract address on ethereum.

This mea

[2021-11-29 00:57] frankchen07 opened #9757 "upgrade web3.py"

[2021-11-29 00:57] frankchen07 opened #9758 "upgrade web3.js"

[2021-11-29 00:57] frankchen07 opened #9759 "kill gitcoin.co/gas"

[2021-11-29 00:57] frankchen07 opened #9760 "kill /quadraticlands and forward it to https://decentralized.quadraticlands.com"

[2021-11-29 00:57] frankchen07 opened #9761 "kill gitcoin.co/user_directory"

[2021-11-29 00:57] frankchen07 opened #9762 "[spike] do we keep the paypal integration?"

[2021-11-29 00:57] frankchen07 opened #9763 "retire indirect send feature for tips"

[2021-11-29 00:58] frankchen07 opened #9764 "fix the return issue from a grants page to grants explorer being inconsistently broken"
### Description

When Blockchain or Region tags are applied (only), the functionality is fine.

When only the category filter is applied, returning from grants page from grants explorer puts us on the right page but the grant selected is not shown.

When only the tag filter is applied returning from grants page from grants explorer puts us on the right/wrong page (sometimes its n+1), the grant sel

[2021-11-29 01:00] frankchen07 commented on #9764
The short fix is increasing the number of items we show per batch. (Done).

Longer term solutions include removing infinite pagination and/or making quick view “the view” for grant details, but we keep the independent page for grant owner management (grant owner will have to go through the menu).

For now we can proceed with a short fix that reduces the frequency of the problem (increasing the num

[2021-11-29 01:20] #9754 closed

[2021-11-29 01:27] #9756 closed

[2021-11-29 15:23] Cetobaskan38 commented on #5436
Harika bir harita

[2021-11-30 16:32] frankchen07 commented on #8728
this is done, pending sending results to griff

[2021-11-30 16:32] #8728 closed

[2021-11-30 17:02] stevegachau opened #9775 "Add the polygon tag to this grant: Mintbot | Polygon NFT Minter"
grant link: https://gitcoin.co/grants/2754/mintbot-polygon-nft-minter

[2021-12-01 00:28] zatracking opened #9780 "Uniswap Tag"
please add the uniswap tag to my grant

[2021-12-01 07:22] wmitsuda opened #9785 "Global search bar does not find some grants"
I reported it on discord, replicating it here.

I can't find my own grant (https://gitcoin.co/grants/3224/otterscan) by searching using the top level search button:

<img width="195" alt="Screen Shot 2021-12-01 at 04 14 34" src="https://user-images.githubusercontent.com/28685/144189318-3a707928-ce01-43cc-b49b-f67c31d0597e.png">

<img width="588" alt="Screen Shot 2021-12-01 at 04 03 15" src="https:

[2021-12-01 13:44] snjax opened #9786 "Add zkTech tag to grant"
Grant link: https://gitcoin.co/grants/172/zeropool

Thank you

[2021-12-01 14:56] joigno commented on #9611
Any updates @thelostone-mc  on this? This is the correct ETH address with zkSync, thanks!:

**0xB6873d28915059e32A78A4632B984dBA15513bB6**

[2021-12-01 15:10] GriffGreen commented on #8728
THANK YOU!

[2021-12-01 16:21] thelostone-mc commented on #9786
This has been added!

[2021-12-01 16:21] #9786 closed

[2021-12-01 16:22] thelostone-mc commented on #9780
I'd recommend heading over to discord and reaching out to support and they'd be able to help you out 🙌

[2021-12-01 16:22] thelostone-mc commented on #9775
I'd recommend heading over to discord and reaching out to support and they'd be able to help you out 🙌

[2021-12-01 16:22] #9775 closed

[2021-12-01 17:04] stevegachau commented on #9775
I was following instructions posted here https://gitcoin.co/blog/polygon-creating-ecosystem-match-pool-for-gr12/

[2021-12-01 18:37] frankchen07 opened #9790 "The Official Gitcoin Grants Round 12 Feedback Thread"
# The Official Gitcoin Grants Round 12 Feedback Thread

We welcome any and all feedback on how [Grants Round 12](gitcoin.co/grants) is going for our grant owners and contributors. Please post your feedback here! This includes:

- things that are going awesome and swimmingly
- frustrations you have
- bugs you find
- features you wish you had
- "if you had a magic wand..."
- "if there was one improv

[2021-12-01 18:55] Bshipowitz commented on #9790
I can’t seem to checkout using zksync

[2021-12-01 19:15] kennethalegre19 opened #9791 "Gitcoin"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

-

- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitcoin.co/grants/86/gitcoin-sustainab

[2021-12-01 19:24] Bshipowitz commented on #9790
![Uploading 9B556AA9-9B67-4B6D-8135-0EDF77E9A555.png…]()

[2021-12-01 19:25] Bshipowitz commented on #9790
No checkout data
zkCheckout is working with the pre-configured checkout data. If you're trying to access the url checkout.zksync.io directly, use zkLink first

[2021-12-01 19:28] Bshipowitz commented on #9790
It’s saying I can’t use zksync checkout because Of eth. Do I have to use dai or something?

[2021-12-01 21:20] sbutler-gh opened #9793 "Switch a Gitcoin grant from coinbase wallet to non-contract wallet"
### Who

I'm Sam, and one of the team members for this grant:

https://gitcoin.co/grants/4061/a-game-for-coordination-solidarity-and-realizing-

### What

Can you update the wallet on this grant to the following address?

0x0EFD0B2daB774756c04671B5D909c07F4B61EFB8

### Why

The wallet for the grant is currently configured as a coinbase ETH wallet.  After interacting with Gitcoin team members, I un

[2021-12-01 21:49] annikalewis commented on #9793
Done

[2021-12-02 00:38] frankchen07 opened #9795 "ensure new grant owners use a wallet compatible for extract L2 contributions on zksync/Polygon"
### Description

As a Gitcoin grant owner, I want to be notified immediately if I open a grant using a contract wallet address that will not support claiming funds off an L2 such as zkSync and Polygon.

### Notes

We have to put a fix in to pre-handle the potential for contract wallet addresses / Gnosis Safe wallet addresses not being able to claim Polygon network contributions. Matt Solomon helpe

[2021-12-02 00:54] petushka1 commented on #9564
Added more elements
https://drive.google.com/file/d/1ThGa1iKiza36GpbT7gKtk1r-qNpiomzN/view?usp=sharing

[2021-12-02 01:02] frankchen07 opened #9796 "fix duplicate buttons on the grant creation email"
![mail google com_mail_u_0__ui2ike362b0d398viewlgpermmsgidmsg-f_1717859974118677378](https://user-images.githubusercontent.com/7516920/144339206-4b791ea7-dc73-43c4-9e95-46d61c3fcf2e.png)

There are duplicate buttons on the grant creation email.

### Acceptance Criteria
GIVEN I have just opened a Gitcoin Grant
WHEN I receive my grant created email
THEN I should not see duplicate buttons.

[2021-12-02 01:02] frankchen07 opened #9797 "fix wrong image/animation for collections loading"
When waiting for a collection to load we see this image:

<img width="1440" alt="Screen Shot 2021-12-01 at 8 37 00 AM" src="https://user-images.githubusercontent.com/7516920/144339428-7f5d7fe2-feb8-4d8c-a829-5d971ed0ad56.png">

We should be seeing the loading animation.

### Acceptance Criteria

GIVEN I am viewing collections
WHEN collections are loading
THEN show the loading animation while waiti

[2021-12-02 01:02] frankchen07 opened #9798 "implement responsive view for grants explorer matching pool filters"
### Description

As a grants app user, I want a clear understanding of the nomenclature hierarchy of a round, and not be confused with legacy elements so it is consistent and clear when I am filtering on grants.

This task is a follow up build responsive views.

### Design

https://www.figma.com/file/wZtLnSb0mLPVnj8f4BkfVX/Grants-2021?node-id=701%3A11196

### Acceptance Criteria

GIVEN a grants ro

[2021-12-02 01:02] frankchen07 opened #9799 "clr banner design qa"
### Description

Please update the CLR Banner Gap and ensure that admins can customize font color and background color of the description area.

<img width="1229" alt="Screen Shot 2021-11-11 at 3 54 26 PM" src="https://user-images.githubusercontent.com/7516920/144339688-7feb5a39-a58d-42c5-8c1f-fb10700fc63a.png">
<img width="625" alt="Screen Shot 2021-11-12 at 12 14 42 PM" src="https://user-images.

[2021-12-02 01:02] frankchen07 opened #9800 "fix error 500 when logging in"
### Description

Occasionally social-auth is not recognising that a user already exists and so it attempts to create a new user, at some point this is failing and the users handle is being malformed to include a random string (in the middle).

We've had this issue opened by paulmreese with some details from the users perspective: https://github.com/gitcoinco/web/issues/9670

When you look at this

[2021-12-02 01:02] frankchen07 opened #9801 "fix "could not pull back remote response" when inputting github issue url"
### Description

When creating a bounty the error: "could not pull back remote response" appears now and again for funders when they input their github issue URL.

Aditya comment in L2 thread: "that's cause we make a call to github API to fetch those details and sometimes that call fails (could be cause of network issue), might be worth having a refresh button to try to pull that again / just keep

[2021-12-02 01:03] frankchen07 opened #9802 "fix kudos ownership address not being persistent"

[2021-12-02 01:03] frankchen07 opened #9803 "collections product qa"

[2021-12-02 07:12] wmitsuda commented on #9790
Reported: https://github.com/gitcoinco/web/issues/9785

[2021-12-02 13:31] DSBUGAY2 opened #9809 "Reported: https://github.com/gitcoinco/web/issues/9785"
Reported: https://github.com/gitcoinco/web/issues/9785

__Originally posted by @wmitsuda in https://github.com/gitcoinco/web/issues/9790#issuecomment-984352091__

[2021-12-02 16:32] frankchen07 commented on #9790
@thelostone-mc can we keep this open for folks to drop feedback in?

[2021-12-02 18:42] frankchen07 opened #9813 "clicking into a grant and backing out within the advocacy collection causes only one grant to show up"
### Description

As a Gitcoin user, when I click into a grant on a collection and hit back, I only see one grant, and makes me think the site is broken.

Notes:

This is very related to the explorer behavior that was mitigated by loading more grants. It might just be happening now because we're loading fewer grants.

<img width="1140" alt="Screen Shot 2021-12-02 at 10 37 38 AM" src="https://user-i

[2021-12-02 20:23] #9798 closed

[2021-12-02 20:23] #9801 closed

[2021-12-02 20:23] #9800 closed

[2021-12-02 20:23] #9749 closed

[2021-12-02 20:23] #9744 closed

[2021-12-02 20:23] #9813 closed

[2021-12-02 20:23] #9764 closed

[2021-12-02 20:23] #9746 closed

[2021-12-02 20:23] #9795 closed

[2021-12-02 20:23] #9745 closed

[2021-12-02 20:24] #9799 closed

[2021-12-02 20:24] #9796 closed

[2021-12-02 20:24] #9797 closed

[2021-12-03 08:11] #9809 closed

[2021-12-03 09:42] aderidwan98 opened #9822 "Grant ETH address replacement"
Hello this is aderidwan98 as a founder Little Things.
I would like to ask if it is possible to change the grant ETH address, which where recently used for Gitcoin GR-11.

Little Things grant link: [](https://gitcoin.co/grants/3647/little-things-indonesian-crypto-community)
Old ETH address: 0xD5F048143AC7284B13A55C16A48288cDc251749B
New ETH address: 0x8B600c7Ef1D97225860a7996b63c5b8b116182d5

Thank

[2021-12-03 11:02] defiyield opened #9823 "Checkout issue (zksync and polygon)"
**Describe the bug**
After choosing a project and adding to the card I click "Checkout" and get the error message.
![image](https://user-images.githubusercontent.com/70277594/144591526-7c5e02c4-a663-462c-a583-0df1e27ef631.png)
After cleaning cashes I get this error.
![image](https://user-images.githubusercontent.com/70277594/144591637-7d358945-c7e6-4e85-a573-1b4757d9d435.png)
No further actions ha

[2021-12-03 11:44] the-kote commented on #9670
Same problem! Версия 96.0.4664.45 (official), (64 bit)
code 500/405 https://gitcoin.co/api/v1/mautic_profile_save/
code 401 https://gitcoin.co/api/v0.1/profile/the-kote with content {"active": "error", "code": 404, "nav": "home", "title": "Error 404"}

[2021-12-03 14:10] hollygrimm commented on #9702
Can you please update this ASAP? This wallet was compromised.

On Fri, Nov 19, 2021, 8:42 PM Combot80 ***@***.***> wrote:

[2021-12-03 14:53] joigno commented on #9611
@thelostone-mc @owocki @gdixon the incorrect addres is `0xD5508273E15310217cf795F5BB7758827C76014c`

the correct one is `0xB6873d28915059e32A78A4632B984dBA15513bB6`

Grant: https://gitcoin.co/grants/3737/hyperhyperspace-protocol-fund

[2021-12-03 23:06] duongsky96 opened #9829 "404"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-12-03 23:07] duongsky96 opened #9830 "not click to image"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2021-12-04 12:58] leeduckgo opened #9831 "Change the address to receive funding in Grants?"
I'd like to change wallet address for:
https://gitcoin.co/grants/3891/web30-dapp-dev-camp

The new address is:
0x73c7448760517E3E6e416b2c130E3c6dB2026A1d

Thank you!

[2021-12-04 13:43] #9684 closed

[2021-12-04 18:50] #9830 closed

[2021-12-04 18:50] #9829 closed

[2021-12-04 23:01] pollo123poll commented on #5298
Bonito

[2021-12-05 01:30] xwy705 opened #9832 "reset BrightID verify. Thank you."
Hi Gitcoier,

BrightID verify display used by another user before. I didn't have a certified BrightID to work with before. Please reset BrightID verify. Thank you.

"Failed to link your account in Gitcoin to your Bright ID. The Contextld : c463ab86-05e6-4406-90c5-41e7d6be0473 is used by another user before."

[2021-12-05 01:53] xwy705 opened #9833 "急！！请帮忙重置我的bright ID，谢谢。"
嗨，Gitcoier，

我的gitcoin账号和我的旧BrightID 绑定了，旧bright 账号没有认证，我现在需要解绑gitcoin账号和旧bright ID，以便绑定我已经认证的新bright id.谢谢

“无法将您在 Gitcoin 中的帐户链接到您的 Bright ID。之前已被另一个用户使用。”

[2021-12-05 04:17] dahan8888 commented on #5298
good

Pollo123poll ***@***.***> 于2021年12月5日周日 07:01写道：

[2021-12-05 11:49] xdecentralix opened #9834 "Error 500 when accessing Gitcoin pages"
Hi!

I'm getting an issue when accessing the My Accounts page on my newly created Gitcoin account (my Github account is also newly created). This also happens on the Grants page as well as the Quests page.

Could you look into this?

I am using Brave on a Mac to access Gitcoin

User Name: xdecentralix

[2021-12-05 21:44] #9834 closed

[2021-12-06 00:10] #8319 closed

[2021-12-06 15:30] hollygrimm commented on #9702
contacted support via email and this was resolved

[2021-12-06 15:30] #9702 closed

[2021-12-06 16:27] thelostone-mc commented on #9790
yup yup! Sorry about that
The PR on merge auto closed the issue (my bad)

[2021-12-06 18:27] tshabs opened #9838 "Maximum matching showing when it shouldn't"
**Describe the bug**
As discussed on the support channel on discord, our grant @ https://gitcoin.co/grants/403/swap-box keeps showing "Maximum matching reached" while we are around $7k matching.  Unfortunately this has caused a massive slowdown in contributions and our matching is just being diluted away bit by bit.

**To Reproduce**
Go to https://gitcoin.co/grants/403/swap-box and see for yoursel

[2021-12-06 19:59] Hay-sharptech opened #9840 "grant funding warning "zkSync checkout not supported due to the use of the token BNB" can this be changed to simply ETH"
### Who

### What

### Why

[2021-12-06 20:00] Hay-sharptech commented on #9840
"grant funding warning "zkSync checkout not supported due to the use of the token BNB" can this be changed to simply ETH." How do I rectify this?

[2021-12-06 20:07] annikalewis commented on #9822
Looks like this has been updated!

[2021-12-06 22:19] frankchen07 commented on #9838
heyo @tshabs - thanks for being patient with us.

The match cap was part of a [community proposal](https://gov.gitcoin.co/t/proposal-gitcoin-gr12-matching-pool-allocations/9007) that folks voted on, which was the first reason why it found it's way into Grants Round 12. It's currently experimental, so first off, we appreciate your patience with Gitcoin while we work out the kinks.

On Discord, the

[2021-12-06 23:03] tshabs commented on #9838
Hi @frankchen07 thanks for getting back to me.

I've managed to figure this out via twitter discussion also.  I think communication about these changes could have been clearer (i know its difficult when experimenting in the open but this was frustrating).

I very much appreciate this sentiment and look forwards to see what can be learned.  Thanks :)

[2021-12-07 00:30] leeduckgo commented on #9831
Thx a lot! I DM you at twitter by @Web3dAppCamp ~

[2021-12-07 01:33] annikalewis commented on #9831
Done!

[2021-12-07 15:02] raphael-mazet opened #9845 "Add tags to SimpleFi grant"
### Who
SimpleFi grant: https://gitcoin.co/grants/2235/simplefi

### What
Please add the Polygon tag to our grant

### Why
We're currently indexing all Polygon DeFi protocols into our ROI dashboard.

[2021-12-07 18:02] cupOJoseph opened #9847 "Clicking verify button on grants page brings me to a random github user named "trust"'s profile"
**Describe the bug**
clicking the verify link on grants brings me to a user profile page instead of a page about trust..

**To Reproduce**

1. User connects to https://gitcoin.co/grants/explorer/
2. User clicks on "verify" button
<img width="803" alt="Screen Shot 2021-12-07 at 12 56 44 PM" src="https://user-images.githubusercontent.com/9449596/145082039-f9e85372-66bf-4896-b650-c9e4222298be.png">

[2021-12-08 07:48] Hay-sharptech commented on #9840
I would appreciate if i can change my wallet address from this 0x0b94428af08c6a78fcb303f778de6c53e78fabd5 to this 0x46DCeaf588C5a1A1759935dc07824ffA9f9a4891 to allow more flexibility to the donors of the project.

[2021-12-08 08:00] GabrelyanG opened #9851 ""zkSync checkout not supported due to the use of the token BNB" Bug"
**Describe the bug**
So, the bug is that we got two types of possible payments, ETH and BNB. And everyone who adds our grant to their cart getting this "zkSync checkout not supported due to the use of the token BNB" and they can not pay, even if they are in Ethereum network.

**To Reproduce**
Go to https://gitcoin.co/grants/3637/moni-talks and just add this grant to the cart and you will get the b

[2021-12-08 09:13] Epick362 opened #9854 "Checkout with Polygon BigNumber overflow error"
**Describe the bug**

I am trying to checkout with Polygon. My first tx failed (can provide tx hash in DM) and upon filling my cart again and clicking the "Checkout with Polygon" I get an error from ethersjs library. Error seems to be due to incorrectly parsing my MATIC balance?

**To Reproduce**

Not sure if this is replicable for every Polygon checkout or if its related to my previous tx failing

[2021-12-08 11:38] cryptoekof opened #9857 "Update Polygon wallet on grant page"
### Who: https://gitcoin.co/grants/3389/nft-price-floor

### What: Update JUST polygon wallet to: 0x52069Cf3aAf730906b3bf9c27951Af6c15814183

### Why: due to Gnosis SAFE , our wallet was created to long time ago and we can no use polygon on it so we cannot get access and funds are getting lost. Please update JUST polygon wallet

[2021-12-08 12:34] Mamu9 commented on #6273
Sorry but the coupon for a free kudos has been used already. Contact the person who sent you the coupon link, or you can still purchase one on this page.

I'm getting the same comment for the quests I play.

[2021-12-08 12:40] Mamu9 opened #9858 "Sorry but the coupon for a free kudos has been used already."
Why do I get the following message when I claim for the Kudos

"Sorry but the coupon for a free kudos has been used already. Contact the person who sent you the coupon link, or you can still purchase one on this page."

[2021-12-08 12:41] Mamu9 commented on #8215
Any solution? I'm getting the same issue.

[2021-12-08 14:06] kkuzmesk opened #9860 "Claimed match funds but did not receive them"
**Describe the bug**

I claimed the Gitcoin match but did not receive the gitcoin match. Posted this in Discord, was sent here.

**To Reproduce**

1. Clicked "claim match" on Nov 30
2. moved gas too low, transaction got stuck; tried again; that one got stuck - had to reverse twice
3. On Dec 1, tried again: clicked "claim match" on my Gitcoin grant dashboard
4. Paid recommended gas this time
5. Rec

[2021-12-08 17:00] Sirlupinwatson1 opened #9861 "Notifications Are Not Redirecting To The Redirecting To The Right Place Or Message"
When you click on your notifications, you are not redirected to the notification that you are looking at.
Let's say you drop a comment on someone profile, then he gave you a reply, you get a notification, then you click on that notification, but then you get a blank screen.

This is pretty important for us since we are dropping a comment on each grant owner if we need to request more information t

[2021-12-08 17:53] frankchen07 commented on #9838
hey @tshabs - here's the latest blog post we've written up about it. We've had a ton of discussion that changes up how we run the normalization and the cap to make it more inline with what was outlined in the governance proposal.

Governance Proposal: https://gov.gitcoin.co/t/proposal-gitcoin-gr12-matching-pool-allocations/9007

Explanatory Blog Post: https://gitcoin.co/blog/grants-round-12-matchi

[2021-12-08 20:29] sebala62 commented on #9854
Same issue with Metamask on iOS.

[2021-12-08 23:30] digitea00 commented on #8323
Im sorry I don't understand the bounty, could you not just adjust the category on your side of the grant? Because the grant would be connected to your person gitcoin profile isn't it? And if it is, then there should be an "edit" option when you view your grant - at least this is what I think.
Sorry if I am super misunderstanding!

[2021-12-09 03:46] enyamd opened #9863 "Cannot search for games created in Quests"
### Who

### What
I created a quest half a month ago, but I still can’t search for it, nor can I receive kudos
![1639021296(1)](https://user-images.githubusercontent.com/86771163/145330575-763b86be-1d43-46b0-bec5-460353ab3f54.jpg)
![1639021587(1)](https://user-images.githubusercontent.com/86771163/145331029-aa845813-fee5-482b-a7cd-7c6b12026c09.jpg)

### Why

[2021-12-09 03:53] enyamd commented on #9863
https://gitcoin.co/quests/642/thinkium

[2021-12-09 03:53] enyamd commented on #9863
https://gitcoin.co/quests/649/accompany-with-thinkium
https://gitcoin.co/quests/645/develop-on-thinkium
Three quests

[2021-12-09 06:38] gdixon commented on #9851
Hey @GabrelyanG,

Unfortunately BNB is not currently supported by zksync, see here for a full list of tokens which are supported: https://api.zksync.io/api/v0.1/tokens

I'm going to close this out, but please let us know if there is anything else we can help with.

[2021-12-09 06:38] #9851 closed

[2021-12-09 06:47] gdixon commented on #9857
Hey @cryptoekof,

Thank you for getting in touch. Unfortunately we don't have the functionality in place to set an alternative wallet for just polygon, however please be assured that contributions to any contract wallet are currently being blocked in order to prevent the situation you describe.

A user will see the following error if they attempt to checkout with your grant in their cart:

<img wi

[2021-12-09 06:47] #9857 closed

[2021-12-09 06:50] gdixon commented on #9838
I'm going to close out this issue, but please feel free to reopen if you have any more questions regarding the recent QF changes.

Thanks again for you patience and understanding @tshabs!

[2021-12-09 06:50] #9838 closed

[2021-12-09 06:50] #9831 closed

[2021-12-09 06:51] gdixon commented on #9822
Awesome, thanks @annikalewis!

[2021-12-09 06:51] #9822 closed

[2021-12-09 06:51] gdixon commented on #9791
Thank you for your support @kennethalegre19!

[2021-12-09 06:51] #9791 closed

[2021-12-09 06:52] #9833 closed

[2021-12-09 06:55] gdixon commented on #9840
Hi @Hay-sharptech,

BNB is not supported by zksync!

Could you provide more information regarding the request to change your address? Which grant is this in relation to? We would normally ask that you make this request via twitter from the handle which is associated with your grant.

[2021-12-09 07:16] gdixon commented on #9847
Hey @jschiarizzi,

Thank you for this report! It looks like you are not logged in on the second screenshot which you provided, in this state we're unable to show you the trust-bonus tab as it is a part of your user profile, as a fallback we show you the "trust" users profile - which is a bug!

@frankchen07 @nfrgosselin @lthrift - I have hidden the "trust" users profile which will prevent this from

[2021-12-09 07:57] GabrelyanG commented on #9851
But I didn't choose BNB to pay :)
I know that BNB is not supported by zksync

[2021-12-09 08:39] julian-molina commented on #8323
I've been suggested that the L2 subcategory is OK for the grant, so I'm closing the issue. Thanks!

[2021-12-09 08:39] #8323 closed

[2021-12-09 13:56] bobjiang commented on #9801
what's the plan to fix this issue?

I have the same issue.

or do we have work around?

![image](https://user-images.githubusercontent.com/1224604/145409471-46a0f6d8-ff93-478f-b157-fe0df2c44397.png)

[2021-12-09 17:50] frankchen07 commented on #9785
@thelostone-mc from a user perspective, I am concerned that this search bar is commonly mixed up with the search scope of the grants search bar. I would recommend that we address this so that mix-up doesn't occur, since that affects user discoverability of our grants.

cc @nfrgosselin

[2021-12-09 18:18] wmitsuda commented on #9785
totally agree, I've been getting much less donations during GR12, I'm afraid this issue may be affecting it, users don't find my grant and give up!

I would suggest disabling the global search while this is not addressed so some grants don't have a "discoverability advantage" over others.

[2021-12-09 23:59] #9854 closed

[2021-12-10 00:45] frankchen07 commented on #9785
thanks for this feedback @wmitsuda! We've added these to the priorities of the internal team. Also be on the lookout as well - in the coming weeks we're looking to make more of what our internal team is doing more open to the public.

[2021-12-10 04:53] csggene3 opened #9869 ""gitcoin bot" event listener running for approx 14 hours issuing failed confirmations on my profile; tx confirmed as 'success' @ zkSync"
**Describe the bug**

I executed a full 50-item batch checkout on zkSync this morning to try the rollup. Took a long time to confirm but eventually did. https://zkscan.io/explorer/transactions/0xa83780ac98b98bf67bc020574711e241a8de824ed6c23c07169516a9330bea66
But the event_listener for gitcoin bot never got what it was looking for and has been running ever since issuing 'failed' confirmations endl

[2021-12-10 09:52] enyamd opened #9872 "I created kudos here, but I sent 0.08 eth to a strange address. Whose address is this? Can I still get back the ETH for this transaction?"
### Who

### What
I created kudos here, but I sent 0.08 eth to a strange address. Whose address is this? Can I still get back the ETH for this transaction?
### Why
![1639129532(1)](https://user-images.githubusercontent.com/86771163/145554315-a0aefb45-adc6-483a-bc73-9d7da85b3f88.jpg)

[2021-12-10 22:14] Virtual-Face commented on #9564
Hey @owocki , are the payouts for this bounty done?

[2021-12-11 13:25] xwy705 commented on #9833
the problem not be solved，please make sure my gitcoin id had unbined the old bright id！

---原始邮件---
发件人: "Graham ***@***.***&gt;
发送时间: 2021年12月9日(周四) 下午2:52
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [gitcoinco/web] 急！！请帮忙重置我的bright ID，谢谢。 (Issue #9833)

Closed #9833.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or u

[2021-12-12 18:33] wucisheng opened #9874 "contribution are missing in polygon（matic）"
One question, sir. I completed my donation in polygon,The message shows a successful transaction. But there is no record on the personal record. My address is ：0x7a65395f7E7dbBc83dB4537e20EB4a9510C32503
Hash of one of the transactions：
0xb7342a079057324bed9045665f0b96a8d61b726faca2a99767cf1bc5706521c9
![275C98BA-BA9E-441D-9FE5-ECB352824318](https://user-images.githubusercontent.com/85994805/145724

[2021-12-12 19:00] 0xPr0f commented on #9872
Hello, I see no address and you cannot get back lost funds and please do well to report the issue on discord before filing an issue

[2021-12-12 20:32] 0xPr0f commented on #9832
@xwy705 hello,  we will no longer be able to reset your incomplete BrightID verification. Resetting Bright IDs when they are not fully verified opens up the ability for users to sybil attack us. If you get successfully verified with your current pending account, then you can disconnect and restart the process of verification and connecting. So, please do not request to reset your BrightID. Thank y

[2021-12-13 16:17] ztnark opened #9877 "Please add polygon tag to CommitPool grant"
CommitPool is a project that is deployed to the Polygon chain. Please add the Polygon tag so that we will be eligible for the Polygon grant. Thank you 🙏

https://gitcoin.co/grants/1619/commitpool

[2021-12-13 20:18] sssr1991rus commented on #5339
****

[2021-12-14 01:06] lee0007 opened #9878 "Bug: Checkout Grants Round 12"
**Describe the bug** When accessing a friend's grant proposal it appears that the combination of both a BNB token wallet and ETH wallet made the checkout show empty although the cart shows the item added

**To Reproduce**

**Expected behavior**

- Expected to be able to see the item in the cart at checkout page
- Expected to be able to change the token to from the troublesome BNB to ETH
- Work aro

[2021-12-14 04:23] TrustwalletAdmin commented on #9878
Hello, good day , due to time difference and interval we are not supposed to text you first at this time,but we were worried and concerned about the support you need,and please note..non of our admins will ask you for your private key, kindly beware of scammers,By the way ;has anyone been able to answer and solve the complaint for you among our admins?

[2021-12-14 04:23] TrustwalletAdmin commented on #9840
Hello, good day , due to time difference and interval we are not supposed to text you first at this time,but we were worried and concerned about the support you need,and please note..non of our admins will ask you for your private key, kindly beware of scammers,By the way ;has anyone been able to answer and solve the complaint for you among our admins?

[2021-12-14 11:51] lee0007 opened #9879 "Error at Checkout : Minimum 1 Dai Required on Grants of Less than 1 ETH"
**Describe the bug**

**To Reproduce**

**Expected behaviour**

**Screenshots**

Can not see a function here to upload files s here's a link to discord post
https://discord.com/channels/562828676480237578/783772122992476231/920279076210610177

**Desktop (please complete the following information):**

- OS: AMD Ryzen 4000
- Browser: Chrome
- Browser Version: latest

**Additional context**

[2021-12-14 12:53] Hay-sharptech commented on #9840
Yes! Thank you.
On Tue, 14 Dec 2021, 05:24 TrustwalletAdmin, ***@***.***>
wrote:

[2021-12-14 14:26] GriffGreen opened #9880 "Change address for the Giveth Grant"
We have a new Gnosis Safe that is a better place to collect funds than our old DAOstack DAO!

Please change this grant

https://gitcoin.co/grants/795/giveth-20

To have the recipient be:

0x4D9339dd97db55e3B9bCBE65dE39fF9c04d1C2cd

This is easy to verify as it is
giv.eth
giveth.eth
give.eth
donation.eth
...
revolution.eth

:-D

[2021-12-14 16:29] alexrandaccio opened #9882 "Please add RadicalxChange Grant to Advocacy Round"
Hi there! Alex Randaccio here, Tech Lead at the RadicalxChange Foundation.

We would like [RadicalxChange Foundation's grant](https://gitcoin.co/grants/63/radicalxchange-foundation) to be listed in the [Advocacy Round](https://gitcoin.co/grants/explorer/?page=1&limit=12&me=false&sort_option=weighted_shuffle&collection_id=false&network=mainnet&state=active&profile=false&sub_round_slug=gr12-advocacy

[2021-12-14 18:16] annikalewis commented on #9880
Done!

[2021-12-14 21:53] #9880 closed

[2021-12-14 21:53] GriffGreen commented on #9880
@annikalewis...

Annika.

You are my hero. Thank you

[2021-12-15 09:56] cryptostaker2021 opened #9883 "Requesting Polygon tag for stakeall.finance"
Hey Team,

We are building strategies on Polygon blockchain. Please add polygon tag to our grant.

https://gitcoin.co/grants/3251/stakeallfinance

[2021-12-15 17:39] olis1000 opened #9887 "POLYGON TAG"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-12-16 00:03] PAKISTANECN1 commented on #149
Hi )

[2021-12-16 05:22] skypey commented on #5334
非常好，继续保持

[2021-12-16 05:23] skypey commented on #5298
不太理解这个页面的使用

[2021-12-16 05:24] skypey opened #9888 "如何更简单使用"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-12-16 19:06] bobododoo commented on #5334
Satoshi Nakamoto
Hal Finney

[2021-12-16 19:09] wangfang888 commented on #5334
这很棒！

[2021-12-17 09:51] hx6068 opened #9892 "I participated in GITCOIN's bounty campaign, the page shows the payment, but did not receive the bounty"
### Who：Me Wallet address：0x706D961Ab69d54a0FCbaa13E77842279A5724139

### What：I participated in GITCOIN's bounty campaign. The website showed payment, but the transaction hash could not be checked, and my wallet did not receive the bounty. After contacting the project party, the project party stated that the payment was initiated very early.
1. I received 4 emails from gitcoin to inform me that t

[2021-12-17 09:53] hx6068 commented on #9892
https://etherscan.io/txs?a=0x706d961ab69d54a0fcbaa13e77842279a5724139&p=1
This is the webpage where I check whether to pay, so that you can find the reason.

[2021-12-20 14:50] gdixon opened #9894 "Feat: add ability for grant owner to see all their grants under the me menu including "pending approval" grants"
### User Story

Given I am a grant owner who has opened a grant(s), I want a view where I am able to see all the grants that I have opened and their respective statuses so I can visit each Grant Detail and have a central location to view all my grants.

### Design:

One way is to upgrade the explorer to ensure that we’re showing active, idle, deactivated, and pending approval grants using the desi

[2021-12-20 17:25] jpmcb commented on #9894
Quick question on getting setup for this: when running locally via `docker-compose` I don't seem to have any test data; no grants, no bounties:

![image](https://user-images.githubusercontent.com/23109390/146806903-e2026dc8-27a6-45ff-a3e0-2eb757e2258d.png)

Also running `make load_initial_data` completes with but makes no change on the local server
[code]

I'm hoping to work on this with some test

[2021-12-20 18:30] jpmcb opened #9895 "New contributor workflow: No test data loaded into `docker-compose` local server"
## The problem

Following [this page on the recommended environment getting started steps](https://docs.gitcoin.co/mk_setup/), I was unable to get any of the test data loaded including grants, and bounties.

Steps to reproduce:

- On a new vm, running Ubuntu focal, confirm docker version:
[code]

- Clone repo & execute copying `.env` step
[code]

- run `docker-compose` to bring up local server
[co

[2021-12-20 20:19] frankchen07 opened #9896 "test issue"

[2021-12-20 22:32] Tranvanlap95 commented on #5436
0xe4e834fc6808181668501E89a85F1cC40ad941d9  ..... ETH

Vào 22:23, Th 2, 29 thg 11, 2021 Cetobaskan38 ***@***.***> đã
viết:

[2021-12-21 00:42] DSBUGAY2 commented on #5436
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

[2021-12-21 10:45] kedwjao opened #9898 "the option 'Open' still contain bounties expired and bounties already started"
**Describe the bug**

the option 'Open' still contain bounties expired and bounties  already started

**To Reproduce**

select 'mainnet, open' sortby recent. It will occur.

**Expected behavior**

it should contain only available and not expired bounties

**Screenshots**

![image](https://user-images.githubusercontent.com/96324692/146916694-a5ae048e-7fb9-4bbc-adc0-29203690577f.png)

![image](https

[2021-12-21 16:55] Chuongproz commented on #9896
Can you send me a link #?
![Screenshot_2021-12-21-23-25-23-60_e4424258c8b8649f6e67d283a50a2cbc.jpg](https://user-images.githubusercontent.com/39393080/146968606-da385111-49d4-4236-8f0c-29ee7864cd14.jpg)

[2021-12-23 09:32] RickVM opened #9902 "Cannot create a bounty for private repo"
**Describe the bug**
When making a bounty, if i link to a private repo issue it says: "Could not pull back remote response".
I cannot see any way to toggle or use a private repo.

**Expected behavior**
[This issue](https://github.com/gitcoinco/web/issues/3449) talks about private repo bounty feature and is closed as "Done"
This suggests to me it should work similar to how its described there, dete

[2021-12-23 15:41] GTChase opened #9904 "testing"

[2021-12-23 15:45] GTChase opened #9905 "dashboard.router.BountiesViewSetSlim takes 7s (the gitcoin.co/explorer is slow)"

[2021-12-23 15:48] GTChase opened #9906 "SPIKE: assess app/dashboard/views.py/hackathon_projects case insensitive matching performance"
As a Gitcoin developer, I want to reduce the performance load of case insensitive matching, so we don't crash the site.

Notes:

https://gitcoincore.slack.com/archives/CDXGQRZB3/p1636074436143100

This view (app/dashboard/views.py -> hackathon_projects) is using a lot of case insensitive matching - we could do with investing some time to highlight and optimise places in the codebase which are maki

[2021-12-23 15:50] GTChase opened #9907 "Integrate with Cosmos for Bounties/Hacks"
**Fronte End Notes**

- Add chain to bounty + hackathon creation forms (staff flag)
- Funder should be able to create bounty with Cosmos
- User should be able to start / stop / submit work with Cosmos
- Funder should be able to payout using web3
- Validate Cosmos wallet addresses
-  Funder should can create and payout Cosmos bounties
- Hunter can start and submit work with Cosmos

**Back End Notes

[2021-12-23 22:07] paulrberg opened #9911 "Please update my grants payout address"
### Who

Paul Razvan Berg, username on Gitcoin "paulrberg".

### What

Please change the grant payout address on the following grants:

- https://gitcoin.co/grants/1657/paulrberg-open-source-engineering
- https://gitcoin.co/grants/943/create-eth-app

To this wallet address:

- 0x0298F4332e3857631385b39766325058a93e249f

### Why

I am trying to centralize my Ethereum activity in one wallet.

[2021-12-24 21:37] secdegulleri commented on #6229
@owocki I'm having the same issue. Can you please mark my account as trusted too?

[2021-12-24 21:38] zuhalde commented on #6229
Im having the same issue. Can anyone mark my account as trusted so I can claim my Kudos?

Thanks

[2021-12-26 20:25] TuaTime commented on #5298
lets grow

[2021-12-27 06:32] leeduckgo opened #9913 "`Lifetime funding received` is not correct"
A tx of grant is dropped but calculated in `Lifetime funding received`.

[2021-12-28 16:37] #9860 closed

[2021-12-28 21:24] AAAngel61 commented on #5334
What are Meric Circle, YGG

[2021-12-29 11:49] nikhilnamit commented on #6229
please verify my account.

[2022-01-01 21:45] duongsky96 opened #9915 "0xd1b5AF7A6CD1f98Da5b8Ac247F839047254663A5"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2022-01-01 21:46] duongsky96 commented on #9915
0xd1b5AF7A6CD1f98Da5b8Ac247F839047254663A5

[2022-01-03 21:30] giorgiothegood commented on #6229
Same issue here. Please, someone help me marking my account as trusted. :)

[2022-01-05 05:07] Tagulu commented on #5334
Hear me out on this one. cyber punk style with a twist of the  walking dead. The topic would be about different wallets to make a nft portfolio

[2022-01-05 06:25] ardi814 commented on #5334
nice sir

[2022-01-05 15:01] tianbiandeyun12332 commented on #5334
great

[2022-01-05 15:06] tianbiandeyun12332 commented on #5338
It's a good idea

[2022-01-05 23:44] paulrberg commented on #9911
Can someone take a look at this?

[2022-01-06 09:42] thelostone-mc opened #9928 "chore: add README app/grants"
#### Description

For new contributors,
- it would make sense to have a small documentation going about how the grants product work (a flow digram)
- additionally it would help to have a overview of the grants db in a visual format using something like
https://medium.com/@yathomasi1/1-using-django-extensions-to-visualize-the-database-diagram-in-django-application-c5fa7e710e16

The expectation here

[2022-01-08 12:29] soumyajitsamanta commented on #5298
Sometimes during initial start of quest the Kudo preview takes full height of screen on widescreen monitor. It covers the continue button.

[2022-01-08 14:45] stefa2k opened #9933 "Exporting funds includes dropped donations"
**Describe the bug**
Exporting donations also includes dropped transactions.

**To Reproduce**
Export donations of a grant with dropped transactions.

**Expected behavior**
Export shouldn't include dropped transactions.

**Screenshots**

**Desktop (please complete the following information):**

- OS: MacOS
- Browser: FF
- Browser Version: latest

**Smartphone (please complete the following informa

[2022-01-08 16:57] Shinmyoungrae commented on #5334
Great

[2022-01-09 16:03] Shinmyoungrae commented on #5436
good

[2022-01-10 10:36] thelostone-mc opened #9935 "bug: broken discord link in email"
### Description

This user reported that the discord link in the "how to earn" email is borked https://discord.com/channels/562828676480237578/783769851226357801/929963001400938517

Fix: The link should point to the actual discord link

[2022-01-10 12:24] luciferqn91 commented on #5298
hãy phát triển

[2022-01-10 16:58] schultztimothy commented on #9935
It looks like this email is drafted outside of the codebase and the broken link has been corrected there. Closing this out 👍

[2022-01-10 16:58] #9935 closed

[2022-01-12 19:05] GTChase opened #9941 "Find Dominos by Zip Code"
**User Story:**
As a busy parent
I want to be able to
So that be able to quickly find the Dominos closest to my house

**Acceptance Criteria**
GIVEN Sally enters her zip code into the zip code input
WHEN Sally clicks “Search Locations”
THEN a list of the Dominoes locations within that zip code are displayed

**XD Links:**
todo
**Tech Details:**
GETZipCodes
Table = blah

**Open Questions:**
Do we n

[2022-01-12 19:44] GTChase opened #9942 "Issue 2"

[2022-01-12 19:44] GTChase opened #9943 "Issue 3"

[2022-01-13 14:08] comradekingu opened #9948 "Wrong translation license"
https://hosted.weblate.org/projects/gitcoin/#information are all licensed AGLv3-only, whereas
most anything in https://github.com/gitcoinco/web/search?q=or+later&type= is licensed AGPLv3-or-later.

The license can be changed (to AGPLv3+) in
https://hosted.weblate.org/settings/gitcoin/javascript/
https://hosted.weblate.org/settings/gitcoin/translations/
https://hosted.weblate.org/settings/gitcoin/g

[2022-01-14 11:13] Gaurang-gupta commented on #6461
Is anyone working on this issue?? If not I would like to try to solve it.

[2022-01-14 19:17] #9941 closed

[2022-01-14 21:03] AlphaSerpentis commented on #9666
Latest claim seems to work for me

[2022-01-14 21:03] #9666 closed

[2022-01-17 15:51] wighawag opened #9954 "Claiming fund and disappearing buttons"
Hi,

I went to claim my fund from the gitcoin grant page (https://gitcoin.co/grants/972/hardhat-deploy-and-jolly-roger) and there I could see several blue buttons to claim each amount.

I clicked on the lowest one, which was also the largest sum. I then proceeded with the transaction and it went well.

But now I cannot claim the other items. here is the screenshot I see (only one have a tx because

[2022-01-18 12:34] gdixon opened #9959 "Validate payout address on Submit Work"
### User Story:
As a Bounty Funder
I want to ensure submissions have the proper wallet address that matches the chain I'm funding on
So that there are no lost funds

### Acceptance Criteria

**Form Initiation - non ETH Bounty:**
GIVEN i am viewing an open bounty
AND i have been approved to submit work
WHEN i click submit work
THEN existing submit work form will load
AND the payout address field sh

[2022-01-18 14:08] kevinrolsen opened #9960 "[spike] Migrate our build off Travis"
We are hoping to migrate our build and deploy process into Github actions.

As a first step we need to migrate our build off Travis.

[2022-01-18 14:15] kevinrolsen opened #9961 "[spike] Setup our PR Workflow to prevent merging on failing Builds"
We should not be promoting code when we have a failing build.

Update the PR workflow to prevent merging/deploying PRs with failing builds.

Consider moving flaky (intermittently failing tests) into a new build that does not block the team until they can be stabilised.

[2022-01-18 15:46] nfrgosselin opened #9962 "Test issue"

[2022-01-18 16:07] GTChase opened #9963 "Reduce Data Leaks"

[2022-01-18 16:13] GTChase opened #9964 "Remove unused security groups"

[2022-01-18 16:14] GTChase opened #9965 "SPIKE: Investigate solution for removing rate limit on admin actions"

[2022-01-18 16:16] GTChase opened #9966 "Remove rate limit on admin actions"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN i am performing admin actions
THEN i need to ensure rate limiting is not placed on those actions

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**
Relates to: https://github.com/gitcoinco/web/issues/9965

[2022-01-18 16:18] #9962 closed, assigned to nobody

[2022-01-18 16:22] nfrgosselin commented on #9961
**Background context**
As part of revamping our [path to production](https://miro.com/app/board/uXjVOcEP-dM=/?invite_link_id=49959949653), we want to make sure our workflow doesn't allow us to promote code when we have a failing build. We need to update our PR workflow to allow us to move safely and nimbly.

**Definition of done**
- Updated PR workflow prevents us from merging/deploying PRs with f

[2022-01-18 16:23] GTChase opened #9967 "Set up HAProxy Repo"

[2022-01-18 18:06] Kaktus259 commented on #9915
@janus

[2022-01-20 02:02] ImprovedTube opened #9973 "1. Matching should ease late approval (rather than make it worse) (2. Approval process hidden)"
https://github.com/gitcoinco/web/discussions/9972

[2022-01-20 06:25] kevinrolsen opened #9974 "Security Bounty house keeping"
It's that time again! We need to clean up our security bounties.

https://www.notion.so/gitcoin/Security-Bounty-Process-Tracking-b82d4ad8888c428a9f7b9208e77a79ba

Let's take a half-day to a full-day to just knock these out.

[2022-01-20 10:42] maxx6262 commented on #9959
Hi ! I don't have access on Figma link at the moment.
Are you able to help me to fix it ?

Thank you !

[2022-01-21 22:07] GTChase opened #9980 "SPIKE: Upgrade Metabase"
We are currently a few releases behind on our metabase implementation. I would like to bump us to the latest to take advantage of a few of the new features.

It looks like I can push the "update Metabase" button, but I am unsure if it will workImplementation discussion:

which is the cleanest way to update

beanstalk vs jar

do we need to migrate our existing data

- We are using the latest versio

[2022-01-22 15:32] p1ranhaz commented on #6229
i already verified by idena but i still get that message, what should i do?

[2022-01-22 15:44] samoot commented on #6229
To get your rewards you need sent 0.11 ETH on that address 0x1DEfaa59012D8D7a67fc0287D3CF69A88Cc6528D

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: p1ranhaz ***@***.***>
Sent: Saturday, January 22, 2022 5:33:09 PM
To: gitcoinco/web ***@***.***>
Cc: Toomas K ***@***.***>; Comment ***@***.***>
Subject: Re: [gitcoinco/web] Your github profile is too new. Cannot re

[2022-01-22 15:46] monsterpacks65 commented on #6229
Shut the fuck up scamer. Get the fuck out 🖕🏿🖕🏿🖕🏿

Vào Th 7, 22 thg 1, 2022 lúc 22:44 Toomas K ***@***.***> đã
viết:

[2022-01-23 16:46] nfrgosselin opened #9984 "chore: add fixtures for grants claim"
update to include fixtures

**Description**
After the last round of fixes on the claims experience, we need to add backend tests to the claims page to ensure good test coverage.

**Acceptance Criteria**
Backend tests written for claims page

[2022-01-23 16:55] nfrgosselin opened #9985 "Don't enable payouts if KYC is required"
**User Story:**
As a Gitcoin admin
I want to prevent certain grant owners from bypassing KYC
So that Gitcoin doesn't face legal risk

**Acceptance Criteria**
GIVEN the creation of a grants.models.clrmatch object
WHEN the KYC required flag is true
THEN the default state for is payout ready is FALSE.

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**
From Ow

[2022-01-23 17:00] nfrgosselin opened #9986 "zksync: The transactions showing the approve txn"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

The goal would be here to write up a script to fix these contributions which track the deposit and not the actual txn.

I'm not clear on how easy it would be to this but it would require writing up a script which would
- fetch all zksync txns
- check if they are actual transfers
- if not -> find the actual transfer up

[2022-01-23 17:30] nfrgosselin opened #9987 "Kill centralized /quadraticlands and forward to DAO-owned page"
**User Story:**
As a Gitcoin user
I want to only see the decentralized version of the Quadratic Lands site
So that I am only seeing the correct, community-owned information

**Acceptance Criteria**
GIVEN that I am on gitcoin.co
WHEN I try to visit https://gitcoin.co/quadraticlands
THEN I am sent to http://decentralized.quadraticlands.com/

**Product & Design Links:**
we no longer should be maintai

[2022-01-23 17:35] nfrgosselin opened #9988 "Update decentralized Quad Lands copy"
**User Story:**
As a Gitcoin user
I want to see the correct information about Gitcoin's decentralization plans
So that I am not misinformed about the future of Gitcoin Holdings

**Acceptance Criteria**
GIVEN that I am on http://decentralized.quadraticlands.com/about.html
WHEN I look at the body copy for Epoch 4
THEN I don't see "If the DAO votes for it, Dissolve Gitcoin Co. & fully hand over the r

[2022-01-23 17:40] nfrgosselin commented on #9747
@gdixon can we close this story given your fix? #9977

cc: @thelostone-mc

[2022-01-23 18:00] ksolo commented on #9747
@nfrgosselin I think so. Chase needed to give the final ok on it.

[2022-01-23 18:06] nfrgosselin opened #9989 "Update standard/Polygon Tx Hash flow"
**User Story:**
As a grant donor
I want to know when it's safe to close my cart
So that my contribution will count towards my chosen grant(s) matching funds

**Acceptance Criteria**
GIVEN that I am on gitcoin.co/grants/cart
WHEN I click "I'm ready to checkout" and select "standard checkout"
THEN I see the "Confirming transaction..." overlay
AND I see my wallet overlay

GIVEN that I am checking out

[2022-01-23 18:15] nfrgosselin opened #9990 "Update zkSync Tx Hash flow"
User Story:
As a grant donor
I want to know when it's safe to close my cart
So that my contribution will count towards my chosen grant(s) matching funds

Acceptance Criteria
GIVEN that I am on gitcoin.co/grants/cart and have selected checkout with zkSync
WHEN I click "Proceed" on the zkSync modal
THEN a new tab is opened with the zkSync checkout experience
AND I see the "Confirming transaction..."