[2018-11-14 15:00] PixelantDesign commented on #2668
@willsputra should we explore a handful of drop down options as well as provide a field for free writing?

Thoughts @frankchen07 ?

[2018-11-14 15:39] PixelantDesign opened #2819 "Display Which Worker Was Approved"
### User Story

As a contributor or funder looking at the activity list, it's hard to tell who has actually been approved for work.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: It's unclear right now

### Description

[comment]: # (Feature or Bug

[2018-11-14 15:48] usmanmuhd commented on #2819
Can I take this up?

[2018-11-14 15:53] owocki commented on #2819
1. link to bounty pls?
2. if you scroll up there is a 'work started' section that will list evgenius in it.

[2018-11-14 15:58] usmanmuhd opened #2820 "Bounties in progress shows stopped and completed bounties also"
It shows all the bounties that I started work on, irrespective of whether I stopped it later or completed them.
![screenshot from 2018-11-14 21-26-42](https://user-images.githubusercontent.com/26684281/48494528-16aaf680-e854-11e8-9139-793342a42352.png)

[2018-11-14 16:02] owocki opened #2821 "DESIGN - as a user, i'd like to have a gitcoin labs homepage, so i can understand the why/who/what easily, and have a portal to al of the interesting research"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i'd like to have a gitcoin labs homepage, so i can understand the why/who/what easily, and have a portal to al of the interesting research

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and wh

[2018-11-14 16:02] owocki commented on #2818
these animations are cool.. i'd love to see an idea or two of where/how they can be used

[2018-11-14 16:10] PixelantDesign commented on #2820
Thanks for the report @usmanmuhd !

[2018-11-14 16:17] owocki commented on #2816
there's too many nominations to list.. but off the top of my head; i always appreciate @kuhnchris commenting.. and @Anish-Agnihotri and @NedelescuVlad @jvmaia  for their persistence pushing PRs.

@pinkiebell rocks also.  as does @Dgilliams @jakerockland @usmanmuhd @nanspro

[2018-11-14 16:34] mbeacom commented on #2736
@kuhnchris It's a matter of:

- duplicate handles being created in the same test scope
- cleanup not being performed on profile objects that are actually `.created` throughout spanning tests

[2018-11-14 16:38] mbeacom commented on #2818
Last we spoke about this, @thelostone-mc, @SaptakS, and @octavioamu were opting to use svg and css sorcery to handle animations. 🤔 I'm not opposed to the idea, but we will probably want their input on this.

[2018-11-14 16:50] #2736 closed

[2018-11-14 17:02] frankchen07 commented on #2808
@usmanmuhd - since you were the first, I've approved you for work!

@kuhnchris - there are actually two tickets open to improve pricing:

https://github.com/gitcoinco/web/issues/2158
https://github.com/gitcoinco/web/issues/2117

[2018-11-14 17:21] 3ach opened #2823 "Tip not received after email sent"
**Describe the bug**
After I received an email about being sent a tip, I did not see the tip in Metamask and the transaction ID in the email was not found on Etherscan.

**To Reproduce**
For this tip: click link in email for txid 0x7254c4c347c74d418e545fbfe25cb26e6d891a602a2113fcaa4697f029500046, see nothing in Etherscan.

**Expected behavior**
Click link in email for txid, see a pending (or compl

[2018-11-14 17:51] mbeacom opened #2824 "GithubException: 502 {'message': 'Server Error'}"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2008/

[code]

[2018-11-14 17:52] #2824 closed

[2018-11-14 18:09] owocki opened #2825 "About Page Refresh -- 2019"
https://gitcoin.co/about

The about page could use a refresh to show the 2019 positioning.

2019 positioning => https://docs.google.com/presentation/d/1fIhBvF13IzKDLx_siX-NmfXilXJcFA9oeR7mILv8FyQ/edit#slide=id.g47fb3d8c3d_3_2642

[2018-11-14 18:12] frankchen07 commented on #2283
@Anish-Agnihotri

I'd say the 2 CTAs are higher priority right now, which I believe we're all on the same page.

With regards to the lower fund issue button, and to some degree, the how it works button as well, I may open a separate ticket to remove the lower fund an issue button and how it works button (also repetitive). This cleans up the right hand side and redirects the attention tothe nav bar

[2018-11-14 18:48] thelostone-mc commented on #2531
In case you didn't know @willsputra
we have this a similar version at gitcoin.co/onboard/contributor

<img width="782" alt="screen shot 2018-11-15 at 12 17 39 am" src="https://user-images.githubusercontent.com/5358146/48504942-f424d780-e86b-11e8-9673-97d288f4e6b0.png">

[2018-11-14 19:01] owocki opened #2830 "As a core team member, i want gitcoin-only kudos so they can be exclusively sent."
### User Story

As a core team member, i want gitcoin-only kudos so they can be exclusively sent to by us for different purposes than the peer to peer use case.

### Why Is this Needed

Current implementation exposes all kudos to the public.

### Definition of Done

- [ ] Explore whether it makes sense to mint them and hide them from the marketplace.
- [ ] Implement a way for core team members to

[2018-11-14 19:15] kuhnchris commented on #2830
Well, just thinking loud here:
Coins are being minted by the contract anyways from a central address, right? If so, we could have a flag on the kudos coin that set it like "unique to gitcoin", and check in the send function, if that flag is set, and the "sender" is not a special gitcoin address, then it cannot be sent. (e.a. it can only be transfered to a special gitcoin address that can only send

[2018-11-14 19:16] kuhnchris commented on #2825
![image](https://user-images.githubusercontent.com/761911/48506638-27566f00-e84a-11e8-8561-899d2a063385.png)

[2018-11-14 19:17] owocki commented on #2684
yesss @Dgilliams can we get those jam jams on the avatar builder?

[2018-11-14 20:07] owocki commented on #2814
@ceresstation  can you ask them to try again?  i just put in another fix 0823e65f5da310475ed451eaf931e4be52bf59c3 (among others)

[2018-11-14 20:19] owocki opened #2832 "bug - see more kudos doesnt work"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
see more kudos doesnt work

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
1. go to  https://gitcoin.co/profile/owocki
2. click ‘see more kudos’
3. can’t click on the kudos that were ajaxily loaded

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happ

[2018-11-14 20:35] #2832 closed

[2018-11-14 20:38] octavioamu commented on #2821
Yes I was thinking on this when I was working with the nav, also a place to capture some people ideas or to get in contact with Austin to talk about.

[2018-11-14 20:40] PixelantDesign commented on #2712
Updated with comments @kuhnchris
![received kudos_final](https://user-images.githubusercontent.com/238235/48511008-79d06500-e823-11e8-94e0-30090aeca13c.png)

My recommendation is in the responsive view, we center everything. Let me know if you have any questions!

[RecdKudosEmail1114.zip](https://github.com/gitcoinco/web/files/2582584/RecdKudosEmail1114.zip)

[2018-11-14 21:21] owocki commented on #2516
yes thank you @kuhnchris !

[2018-11-14 21:21] #2516 closed

[2018-11-14 21:44] PixelantDesign commented on #2830
@octavioamu what do you think?

[2018-11-14 21:46] #2795 closed

[2018-11-14 21:55] PixelantDesign commented on #2817
Thanks Chris! Great ideas! I'll update the ticket.

[2018-11-14 22:10] owocki opened #2834 "tip/kudos extension scope"
this is an extension of https://github.com/gitcoinco/web/pull/2673

Further things we want to do with txid data.

* show the 'tx complete date' and 'receive tx complete date' of a tip
* If a Tip/Kudos drops/fails, We should notify the sender
* Perhaps we only trigger 'you have a new X' emails after the tx clears?

[2018-11-14 22:31] kuhnchris commented on #2834
so basically you want to add a layer to monitor geth to see the transaction confirmed and THEN trigger an event that basically sends the mail?
Gotta check how we handle that currently.

[2018-11-14 22:37] kuhnchris opened #2835 "High-Level Documentation for GitcoinCo/Web"
### User Story
As a developer, I need very much time to understand the basic gist of the django application that is deployed here, and find the responsive positions to work at. This may be a result of a growing codebase. But at some point we either need to rebase the codebase and split the several projects (gitcoinbot, mail integration, eth-monitoring, slackintegration, github integration) into ph

[2018-11-14 22:39] mbeacom commented on #2835
Have you seen: https://docs.gitcoin.co ?

[2018-11-14 22:41] kuhnchris commented on #2819
@owocki this is fine for the "first" worker applied, yes, but if you have dozens of applied workers who start/stop and then get approved then you kind of lose track who got approved when and where. Hence the "enhancement".

@usmanmuhd sure, if you find your way around, give it a try!

[2018-11-14 22:42] kuhnchris commented on #2818
Sure, not going to try to overrun anyone with a decision on here, just throwing out possibilities since this seems to be a quick win. If you guys already investigated some other possibilities it's fine as well. Maybe we need a common place where we can put infos like that?

[2018-11-14 22:43] kuhnchris commented on #2835
Yes, for a "extreme" highlevel approach this may work, but as soon as you try to find, for example, kudos, or anything "more recent" you'll probably fall flat.

[2018-11-14 22:46] frankchen07 opened #2836 "As a contributor, I want to be able to search issues by organization."
### User Story

As a contributor, I want to be able to search issues by organization.

### Why Is this Needed

Let's say I'm stoked about Gitcoin and want to exclusively look for Gitcoin issues. Adding "Gitcoin" to the search bar returns more issues by organization beyond Gitcoin.

### Current Behavior

The current search function seems to only filter by tags, not necessarily by organization.

wit

[2018-11-14 22:54] owocki commented on #2746
@kuhnchris having any luck? or are you still blocked by docker stuff..

[2018-11-14 23:00] kuhnchris commented on #2746
yes and yes, I'll try to setup a local docker now if that works...

[2018-11-14 23:01] owocki commented on #2834
implementation is in a pending PR => https://github.com/gitcoinco/web/pull/2673

[2018-11-14 23:12] mbeacom commented on #2835
@kuhnchris
- **Current documentation is too high level**: Have you looked at the docstring generated documentation?  https://docs.gitcoin.co/kudos/admin/ and the like..?  We automatically generate documentation from all .md documentation and docstrings in python files.
If anything, we should be emphasizing proper python PEP-257 docstrings as specified in the contributor documentation to continue b

[2018-11-14 23:36] tcoulter commented on #2816
@gnidan with EthPM

[2018-11-14 23:47] owocki opened #2838 "possible gas heatmap bugs"
details are here https://twitter.com/makoto_inoue/status/1062279069650350081?s=21

[2018-11-15 02:11] anshumanv commented on #2816
Always there - (@vs77bb @ceresstation @mkosowsk @ryan-shea) :sparkles: :pray:

[2018-11-15 07:15] AugustoL opened #2840 "Asking for not needed value on multiple payout"
I created an to bounty with 25 ETH to be paid between multiple users. When I go to pay out the bounty it asks for more value but it shouldn't, gitcoin already has the 25 ETH that I sent, the value in the tx should be 0 but instead, it is the amount of ETH that I want to pay to the contributors.

Bounty creation tx: https://etherscan.io/tx/0x478cd20788099c05168363fa1bc55e28a707eb359a6d82579a5afee81

[2018-11-15 07:30] usmanmuhd commented on #2840
Currently Advanced payout pays directly from your wallet and not the amount already sent to the bounty. Once you payout the bounty, you can cancel it to get back your first paid amount.

[2018-11-15 07:36] AugustoL commented on #2840
@usmanmuhd thanks for the quick response! That's weird. It should use the ETH already held by gitcoin. I wonder why they are not doing it.. I'm going to try that.

I think I should leave the issue open anyways, for someone for the team to close it, having to use ETH from outside gitcoin to pay ETH that is already held by them makes no sense, I hope they change this soon.

[2018-11-15 07:41] usmanmuhd commented on #2840
It used to be that way. It was disabled for solving a potential bug in the flow. They are already working on fixing it.

[2018-11-15 07:50] SaptakS commented on #2816
@kushaldas for projects in freedomofpress, cpython and tor and helping the community.
@sayanchowdhury for his contribution to fedora and python community
@chkumar246 for his contribution to RDO and openstack
@nerdyvaishali for her contribution to Linux Kernel
@perfinion for his contribution to Gentoo, SELinux and tensorflow

[2018-11-15 10:54] PixelantDesign opened #2841 "Build - You've Received Kudos Email"
### Reserved for @kuhnchris

### User Story

As a Kudos user I'd like to have a feeling of surprise and delight when I open an email explaining I've received Kudos.

### Why Is this Needed

The current implementation is not as exciting and doesn't enhance the Kudos artwork as it could.

### Description

This is is to update the existing visual design. There are no functional changes to this email.

[2018-11-15 10:54] PixelantDesign commented on #2712
Build ticket is here https://github.com/gitcoinco/web/issues/2841 @kuhnchris, closing this design ticket.

[2018-11-15 10:54] #2712 closed

[2018-11-15 11:09] PixelantDesign commented on #2463
Closing this since we are tracking on a different ticket.

[2018-11-15 11:09] #2463 closed

[2018-11-15 11:12] PixelantDesign opened #2842 "Kudos Profile - Add Wallet Flyout Dissapears When trying to Add Wallet"
**Describe the bug**
Kudos Profile - Add Wallet Flyout Dissapears When trying to Add Wallet

**To Reproduce**
Go to Kudos Profile, try to add a wallet.

**Expected behavior**

- Flyout stays open and allows me to add a wallet
- It also defaults my current wallet address in there and doesn't allow me to input anything in the field
- The Add wallet button is also floating - we could move it up under

[2018-11-15 11:34] kuhnchris commented on #2842
Where to go to Kudos Profile? Cannot see it in Kudos and in Profile. :-(

[2018-11-15 11:37] PixelantDesign commented on #2840
Thanks for reporting this @AugustoL, yes we are currently working to fix this!
Thanks for helping out here @usmanmuhd!

We're hoping to have this fixed soon. There is work happening on this PR if yall are interested in following along! https://github.com/gitcoinco/web/pull/2675

[2018-11-15 12:32] #2718 closed

[2018-11-15 13:02] usmanmuhd commented on #1179
When I go to the urls defined, it redirects me to a google doc link.

[2018-11-15 13:19] ceresstation commented on #2814
Fixed now, thanks @owocki!

[2018-11-15 13:19] #2814 closed

[2018-11-15 13:30] octavioamu commented on #2842
The idea is you can't write the address, is taken from metamask. This is to avoid some issues.

I think we can see a better place to put the button, in my profile doesn't fit well behind the picture because the description.

The problem here I think is is not taking the address form metamask if metamask privacy is enabled.
![image](https://user-images.githubusercontent.com/1358093/48555739-34ff098

[2018-11-15 13:40] #2524 closed

[2018-11-15 13:50] octavioamu opened #2844 "Ugly faq styles in kudos"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
The current styles of the faq section in kudos is ugly we need to make a revamp.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
Go to https://gitcoin.co/kudos/ and scroll down.

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
Nice / clean st

[2018-11-15 15:43] PixelantDesign commented on #2719
**QA with @octavioamu @willsputra **

- Time stamp - we will not have 2 hrs ago time stamp @willsputra
- Applicants - show 0 Applicants when there are no applicants, also show when there is at least 1 applicant.
- Flyout - show one line of Title of Bounty with ellipses.

[2018-11-15 16:22] #89 closed

[2018-11-15 16:25] willsputra commented on #2403
@thelostone-mc @owocki thanks! guess we're going with these:

Issue Explorer
![1a](https://user-images.githubusercontent.com/19514207/48566510-ef2c5a80-e935-11e8-9cd8-4fd48d98bdda.png)

Issue Detail
![1b](https://user-images.githubusercontent.com/19514207/48566509-ee93c400-e935-11e8-8ce1-194fc7934d17.png)

I'll create two build tickets for these.

[2018-11-15 16:30] mbeacom opened #2845 "Increase test coverage by 5% - Ongoing"
If you're interested in contributing to the initiative to increase our percentage, you should familiarize yourself with `django` and `pytest` test writing.

## Useful documentation

- Django: https://docs.djangoproject.com/en/2.0/topics/testing/
- pytest: https://docs.pytest.org/en/latest/
- pytest-django: http://pytest-django.readthedocs.io/en/latest/tutorial.html

Additional information on testi

[2018-11-15 16:44] willsputra commented on #2668
@PixelantDesign a dropdown with a list of common abandonment reasons sounds good.

it could be something like:
*Stop Work*
( ) I no longer have time to do the work
( ) There was no response from the funder
( ) I mistakenly started work
( ) Others [Free text]

*Cancel Bounty*
( ) The scope of work changed
( ) It is actually done but not marked a so
( ) I found an alternative solution
( ) It has bee

[2018-11-15 16:59] captnseagraves commented on #2025
@PixelantDesign @thelostone-mc I'm all for it!

[2018-11-15 17:35] octavioamu commented on #2616
@PixelantDesign  bring this interesting slack integration https://www.heytaco.chat/

[2018-11-15 18:14] owocki commented on #2025
LGTM

[2018-11-15 18:52] owocki opened #2847 "idea - give kudos marketplace same treatment as kudos profile"
random idea..

what if the kudos in the marketplace ..
<img width="811" alt="screen shot 2018-11-15 at 11 27 32 am" src="https://user-images.githubusercontent.com/513929/48574632-e6ec0500-e8cc-11e8-9dc4-b27eaa2267c2.png">

had the same treaetment that the kudos cards in the profile have

<img width="812" alt="screen shot 2018-11-15 at 11 26 11 am" src="https://user-images.githubusercontent.com/513

[2018-11-15 19:23] mbeacom opened #2848 "TypeError in shared.js during bounty creation"
Error occurring while submitting a bounty on:  https://github.com/gitcoinco/web/issues/2845

- Numerous occurrences of this error in Sentry
- Doesn't occur *every time*, but frequently enough to dictate we handle this sooner rather than later.
- Transaction appears in metamask transaction history, but no tx hash populating on etherscan... `0x75a7d6936420a3b96bcf785d22b9ed9b3f967acd4cd15f949aa0ebdd

[2018-11-15 21:04] PixelantDesign opened #2850 "Build - Gitcoin should set my expectations of what is happening to my crowdfunding."
### User Problem

As a funder I’ve opened two bounties earlier today, both txs were confirmed, but only one bounty was actually created and i can see it on my profile page. How can I know what happened to the second one?

### Why Is this Needed

Crowdfund tips can take up to 8 hours to go out (see `send_tips_for_bounty_fulfiller` mgmt command)

### Description

Make the syncing time shorter and ma

[2018-11-15 21:10] #2627 closed

[2018-11-15 21:10] #2638 closed

[2018-11-15 21:11] #2612 closed

[2018-11-15 22:08] captnseagraves commented on #2803
@PixelantDesign Can you share the new default image you would like to use for grants?

[2018-11-15 22:30] captnseagraves opened #2851 "Fixture Data for Grants"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer, I want to have fixture data for grants so that I can more easily test my code as I work.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We need consi

[2018-11-16 02:17] owocki commented on #1179
[code]

you need to run migrations `./manage.py migrate`

[2018-11-16 02:37] Anish-Agnihotri commented on #2844
Here is a quick sample (with PR) that I just pushed out. I wasn't exactly sure what you meant by 'clean styles' so I just followed typical Gitcoin color schemes and styling guides.

Here is an image of it: ![cleaner](https://user-images.githubusercontent.com/4398624/48594454-9e5d3780-e91e-11e8-9a3c-ef393146971a.JPG)

Of course, if you're looking for a complete overhaul of the FAQ section though, o

[2018-11-16 02:50] itsN1X commented on #2816
@owocki for [...].

[2018-11-16 02:52] #2633 closed

[2018-11-16 07:42] ceresstation opened #2855 "As a funder, I'd like my contribution to a grants campaign to be proudly displayed on the campaign card"
### Why Is this Needed

Leaderboards and other public displays of charitable giving can create friendly competition that ultimately helps increase funding for good causes. Having a list of top contributors as one of the first things a potential contributor sees should help further drive this behaviour.

### Description

We already have a great example of what an unobtrusive version of this looks l

[2018-11-16 09:52] usmanmuhd commented on #1179
I am getting this error when I go to http://localhost:8000/_administration/email/quarterly_roundup. https://pastebin.com/anJFNsbW PS: When I comment the line 219 and assign it to zero it displays a page.

[2018-11-16 14:20] willsputra commented on #2531
@thelostone-mc @PixelantDesign hmm the problem with that one is still the same though:
1. the use of commas to separate keywords isn't very intuitive, and
2. it's also hard to fit in preset keywords there

Another option I thought of is to use an 'improved' version of the Search bar on the Issue Explorer. That way we can reuse components. (Note that the preset keywords feature might be useful on t

[2018-11-16 16:33] thelostone-mc commented on #2844
@willsputra this look alright to you ? ^_^

[2018-11-16 17:19] mbeacom commented on #1750
Resolved since CF removal.

[2018-11-16 17:19] #1750 closed

[2018-11-16 17:19] #1899 closed

[2018-11-16 17:21] willsputra opened #2857 "Weird "See All" and "X USD" buttons when switching status on the Issue Explorer"
**Describe the bug**
Weird "See All and "X USD" buttons appear on the top of Issue Explorer when switching status

![screenshot 2018-11-17 01 16 38](https://user-images.githubusercontent.com/19514207/48636736-b1e3cd80-ea06-11e8-9e6d-903c126f6457.png)

**To Reproduce**
Click on different statuses when you're on the Issue Explorer
Video showing behavior: https://drive.google.com/open?id=1BKxRIh1yLp-

[2018-11-16 17:36] willsputra commented on #2844
@Anish-Agnihotri @thelostone-mc Looks good to me! I'd just change the colors since this one's too... earthy lol. Could we try #F2F6F9 for the background and #0D0764 for the dropdown button?

Also, are we going to have hover states for the boxes?

Thanks for helping with this Anish! 🙂

[2018-11-16 18:38] Anish-Agnihotri commented on #2844
That sounds like a good idea to me! I'll replace the colors, add hover states, and maybe look into a bit of drop shadow/something to divide the response and the header of the faq-items.

I'll make another commit within the next few hours!

[2018-11-16 18:41] frankchen07 commented on #2668
Under cancelled bounties, the ones on the sheet came to be by data analysis and then individually checking cancelled bounties. I shuttled some under more broad categories to keep the analysis a bit simpler, but below is the wording and specificity that I would use.

I paid out the developer for his/her work and want to close the issue on Gitcoin.
The scope of work changed.
An alternative solution

[2018-11-16 19:21] frankchen07 commented on #2816
@PixelantDesign and @willsputra for great designs
@Anish-Agnihotri for making front-end killings
@kuhnchris for checking in on almost every issue in the past couple weeks
@ryan-shea for community mastery

[2018-11-16 19:30] octavioamu commented on #2844
Thanks @Anish-Agnihotri for helping with this!

[2018-11-16 21:36] PixelantDesign commented on #2773
Gotya. That makes sense.

@willsputra something to think about along with asking why contributor's stop work or funders cancel a bounty #2668. Perhaps there is a reusable pattern that can be applied here as well.

cc @frankchen07

[2018-11-16 23:13] captnseagraves opened #2862 "KS Grants QA - 11.16.18"
**Index**
- [x] Implement index revamp design
- [x] Need a link to ‘Your Grants’ in nav or in user dropdown
- [ ] Need paginator instead of infinite scroll
- [x] Change ETH in Card progress bar to be DAI
- [x] Short images shorten card length. We should enforce a certain height to maintain consistency.

**New**
- [x] It would be nice to spice up design
- [x] If goal value in DAI is 0 all views bre

[2018-11-17 00:43] captnseagraves commented on #2803
Another QA Issue here: https://github.com/gitcoinco/web/issues/2862#event-1972438367

[2018-11-17 03:29] willsputra commented on #2857
@kuhnchris okay I think it might be related to the crowdfunding labels

There's this issue with crowdfunding in 'Open'
![screenshot 2018-11-17 11 27 31](https://user-images.githubusercontent.com/19514207/48656139-e635a900-ea5b-11e8-9b57-adb64bd1f988.png)

When I switched to 'Work Started', the See All and 434.74 USD labels persisted and they're somehow on the top of Issue Explorer now
![screenshot

[2018-11-17 03:46] willsputra opened #2863 "Fix styling of crowdfunded issues on Issue Explorer"
**Describe the bug**
Issues with crowdfunding look weird on the Issue Explorer
![1](https://user-images.githubusercontent.com/19514207/48656270-c1dacc00-ea5d-11e8-8418-50122b808db9.jpg)

The labels go into a new line and "See All" is not clickable.

**To Reproduce**
Look at issues with crowdfunding on the Issue Explorer

**Expected behavior**
1. The ETH and USD labels should be on the same line, w

[2018-11-17 03:47] willsputra commented on #2857
added another ticket for the styling of crowdfunded issues #2863

[2018-11-17 07:38] willsputra commented on #2778
First draft. Separated stuff into tabs so we don't cram too much info in one page:

Our Mission: this page
Our Products: https://github.com/gitcoinco/Marketing/issues/8 (upcoming)
Our Values: existing mission page (https://gitcoin.co/mission)
Our Results: https://gitcoin.co/results

![storytelling](https://user-images.githubusercontent.com/19514207/48658522-50f7dc00-ea7e-11e8-8327-846574767684.jpg

[2018-11-17 12:56] octavioamu commented on #2863
Is already a fix in  #2861

[2018-11-17 13:36] owocki commented on #2821
I 😍 this.  this page is awesome! -- only two comments:

1. we should perhaps show the labs research roadmap (which right now is only a collection of buzzwords or one-line descriptions of scope) in the page desc
2.  is that the 'get in touch' options feel lopsided on the left hand side.

i've also gotten some feedback from the community that theydon't get how they're suppose to work with labs.

may

[2018-11-17 14:06] owocki opened #2864 "team page updates -- q3 2018"
TODO for gitcoin.co/about
:
- add @octavioamu
- add @austintgriffith
- add @frankchen07
- add @hopsoft
- remove Justin

[2018-11-17 14:06] owocki commented on #2864
@octavioamu @austintgriffith @frankchen07 @hopsoft can you please comment with the following info

name, as you'd like it displayed
favorite gitcoin feature
favorite food
any social links you'1d like included

[2018-11-17 14:19] owocki opened #2865 "bug - user can't view token list on settings/tokens"
<img width="395" alt="screen shot 2018-11-17 at 7 18 52 am" src="https://user-images.githubusercontent.com/513929/48662033-1029a400-ea39-11e8-9572-288809a70e1f.png">

[2018-11-17 14:33] owocki commented on #2865
fixed now

https://gitcoin.co/settings/tokens

[2018-11-17 14:33] owocki commented on #2865
still would like to see a root cause analysis /
fix tho

[2018-11-17 15:12] owocki opened #2866 "DESIGN - As a funder I want to have my expectations managed about contributor quality and how I need to manage them, so I have a good outcome on the platform"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder I want to have my expectations managed about contributor quality and how I need to manage them, so I have a good outcome on the platform.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and wh

[2018-11-17 15:15] owocki commented on #2866
hey @PixelantDesign @ceresstation

here is the ticket for the conversation we had on the BD sync the other day.  let me know any feedback (or feel free to just edit the ticket yourself)

@willsputra i'd love your feedback on the 'additional information' section.

@vs77bb @mkowoski i'd love your feedback too since you do a lot of funding of work on the platform

@pelsasser youre one of the top fund

[2018-11-17 15:44] owocki opened #2867 "Community discussion -- What should live on https://gitcoin.co/"
what does the community think of changing our landing page at https://gitcoin.co/ to be an index of products, like https://occipital.com/ has ?

reason: it’s misleading to put the bounty product front and center when the gitcoin brand is really a suite of products.

we  could namespace everything for bounties under a `/bounties` path.

i’d even go so far as to say that `https://github.com/gitcoinc

[2018-11-17 15:44] owocki commented on #2867
@pinkiebell  @kuhnchris @Anish-Agnihotri @nanspro would love ur feedback on this

[2018-11-17 16:04] kuhnchris commented on #2867
It depends. You want to separate the "project" from a specific product? Let's make it even better and give them their dedicated subdomain. So gitcoin.co and www.gitcoin.co redirect to the landing page you proposed (and the old links still forward to the new bounties.gitcoin.co subdomain, so we do not break existing links), and the other "products" get their own subdomain.
That'd currently be:
gran

[2018-11-17 18:06] milesmatthias commented on #2816
@chrislovecnm

[2018-11-17 18:10] Anish-Agnihotri commented on #2844
Just pushing out the PR with the new changes. Apologies for the delay, took a bit longer than expected since I'm away from my usual development environment.

I've changed the `background-color` and the color of the dropdown button. I also added a `#fefefe` hover with a `ease-in-out` animation, but this might be a bit light (I'm design-blind, haha). I tried drop-shadows, although decided to go agai

[2018-11-17 19:10] owocki opened #2869 "speed up collectstatic on gitcoin's codebase"
[code]

Collect static takes too long on our codebase in production.  I'm looking for someone who can help make it an order of magnitude, or two, faster.

[2018-11-17 21:20] lukaszGrynasz opened #2870 "Expose gas price/time data via API"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a system, i want to get gas price and execution time estimation from API call, so that will give a feed for other open source project.
### Why Is this Needed

Gitcoin current display gas price and execution time on https://gitcoin.co/gas, but do not provide this data via API. Exposing it, gives other open source p

[2018-11-17 22:16] pinkiebell commented on #2867
Hah, I actually waited for something like that.
So yes, a product overview as the landing page sounds good 👍

[2018-11-17 22:49] nanspro commented on #2158
@frankchen07  @owocki  could you please review ?
Also the [link](https://www.dropbox.com/s/vtoz1debutbqeyf/issue_2158.mp4?dl=0) for video showing tests running locally

[2018-11-17 23:06] kdenhartog commented on #2816
@ashcherbakov @vimmerru @jovfer and the rest of the team helping you all are doing an excellent job

[2018-11-17 23:12] jaymcgrath commented on #2684
@owocki - I've been working on some makeup assets. The avatar construction guide references an asset layering order:

Asset Layering Order
The asset SVG files are numbered 1 through
15. These numbers determine the layering of
the assets. 1 is on top and 15 is on the bottom.
1-glasses, 2-eyes, 3-nose, and so on.

I can't find an example of how this is implemented looking at the project, though.

I'

[2018-11-17 23:18] pinkiebell commented on #2370
What's the status on this one?
I and others hit errors because properties `web3.eth.coinbase = null` but the async `web3.eth.getCoinbase` works.

@owocki
Can we up this to high prio?

[2018-11-18 00:06] usmanmuhd commented on #2370
I'll do this now. Need a rebase so that I can get kudos and the other changes on.

[2018-11-18 06:44] Anish-Agnihotri commented on #2867
That certainly sounds like something I could see happening!

From a user perspective, the simplification of product-suite on one landing page, along with sub-domains if possible, as suggested by @kuhnchris, would be fantastic, and make the platform far more concise.

From a developers perspective, I already only focus on the Issue Explorer to begin with + the black bar at the top to switch to and

[2018-11-18 06:55] Anish-Agnihotri commented on #2616
I know this issue is a little old now, but it caught my eye as being something pretty cool possibly.

I don't know how exactly Kudos would tie into it (since Web3 can't be injected into Slack), but I could certainly upgrade the existing Slack Bot to have a special #kudos-appreciation notification channel possibly?

[2018-11-18 13:38] octavioamu commented on #2818
I like the idea, there are a few libs of svg manipulation/animation, right now we have a few animations with css only, I think we can do some fancy things in the receibe pages and some other places, but emails doesn't support js, even svg render or complex css.

[2018-11-18 14:54] owocki commented on #2818
![screen recording 2018-11-18 at 07 54 am](https://user-images.githubusercontent.com/513929/48674236-3158c600-eb07-11e8-8ac4-5395f364945f.gif)
playing with this today => https://github.com/gitcoinco/web/pull/2875

[2018-11-18 15:12] kuhnchris commented on #2818
sweet

[2018-11-18 15:16] owocki commented on #2818
i think it might be too much

[2018-11-18 15:50] owocki commented on #2818
spin upon form submit
![screen recording 2018-11-18 at 08 49 am](https://user-images.githubusercontent.com/513929/48674911-e2af2a00-eb0e-11e8-8809-f7dd19a66229.gif)
bounty details loading page

![screen recording 2018-11-18 at 08 14 am](https://user-images.githubusercontent.com/513929/48674912-e2af2a00-eb0e-11e8-94dc-db231fce0a6b.gif)

[2018-11-18 16:32] owocki commented on #2818
rotate on hover in marketplace
![screen recording 2018-11-18 at 09 31 am](https://user-images.githubusercontent.com/513929/48675331-cf9f5880-eb14-11e8-9343-ac3f677f661b.gif)

[2018-11-18 16:33] kuhnchris commented on #2818
You seem to enjoy playing with that... ;-)

[2018-11-18 20:38] owocki opened #2877 "we need to cull the objects in AWS_STORAGE_BUCKET_NAME every once in a while, because they cost $$ to store"
we need to cull the objects in AWS_STORAGE_BUCKET_NAME every once in a while, because they cost $$ to store

[2018-11-18 22:37] kuhnchris commented on #2870
[code]

Is that good enough, or you need it exactly in your format?
That is basically the data that the heatmap is being exposed to.
As a source for the data the sources use https://ethgasstation.info/json/predictTable.json so maybe this helps you aswell.

[2018-11-18 23:33] FrederikBolding commented on #2469
@mkosowsk Still available to do this almost as soon as given the go-ahead, if the current worker isn't available.

[2018-11-19 00:05] jakerockland commented on #2684
That is very rad @jaymcgrath 🙌

[2018-11-19 01:07] usmanmuhd commented on #2808
Will be sending in a WIP PR by today

[2018-11-19 01:32] thelostone-mc commented on #2841
@kuhnchris could we add some breathing space between the button and the text below it ?  else lgtm ^_^

[2018-11-19 01:57] #2719 closed

[2018-11-19 03:03] thelostone-mc commented on #2862
@captnseagraves title & link input both are set to width 100% but they are still input fields which prevents them from being broken up into multiple lines.

This is only when you the logged in user owns the grant. Any suggestions on how we go about this ?

[2018-11-19 04:43] frankchen07 commented on #2158
@nanspro - thanks for the video and the hard work! It looks really nice. I love the "infinity" touch when we're changing the hours and don't have input. I have a couple of comments.

My rudimentary code review skills says the code looks okay, but definitely will let @owocki or another Gitcoin engineer do a double check.

I have a couple comments:

1. Is it possible to change the "infinity" word to

[2018-11-19 04:52] frankchen07 commented on #2765
I think option 1 makes sense, since it leverages the existing marketplace for a "limited time" section. Adds a sense of urgency without the confusing free kudos in the profile section. However, if they access the Kudos Marketplace from their profile, it should still show free Kudos in the marketplace.
The email and cohorting active funders is most likely low lift, but I'm unsure on how much lift t

[2018-11-19 04:53] PixelantDesign commented on #2866
looks pretty good to me!

[2018-11-19 05:58] frankchen07 commented on #2864
Frank Chen
Kudos!
Crispy pork belly

Standard social media currently on the Gitcoin team page:
https://www.linkedin.com/in/frankchen07/
Gitcoin profile
https://github.com/frankchen07

[2018-11-19 08:45] kuhnchris opened #2882 "Fix mkdocs"
**Expected behavior**
mkdocs reports 2 or 3 issues regarding invalid links, we should check those.

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48695567-c62ef280-ebdf-11e8-97c1-63a963906ffd.png)

[2018-11-19 12:37] pelsasser commented on #2866
@owocki - I think it would be helpful for on boarding new funders to the platform.  I also think some more information about how to select an applicant would be useful.  It would help set up their expectations, that often the first person that applies, might not be the right person for the job.

In our experience, there are many great devs on the platform currently, and there are also several devs

[2018-11-19 12:40] octavioamu commented on #2864
Octavio Amuchástegui

The community

Homemade italian pasta

https://www.linkedin.com/in/octavioamu/
github.com/octavioamu
twitter.com/octavioamu

[2018-11-19 12:41] kuhnchris commented on #2877
Can you list what objects are getting AWS'd? Or do we have a overview over that?
Then we could discuss what we could reduce.

[2018-11-19 14:49] willsputra commented on #2866
@owocki this is a great idea!

at some point maybe it would also be helpful to revisit our [Help](https://gitcoin.co/help) page and consolidate all our guides/best practices (cool examples: [Patreon 101](https://blog.patreon.com/category/patreon-101), [Kickstarter Creator Handbook](https://www.kickstarter.com/help/handbook), [Etsy Seller Handbook](https://www.etsy.com/sg-en/seller-handbook/)).

re

[2018-11-19 14:55] willsputra commented on #2844
@Anish-Agnihotri @thelostone-mc looks good!

[2018-11-19 15:06] iamchrissmith opened #2883 "Dropped transaction"
**Describe the bug**
I received a tip and when I accepted it the transaction got reported in Etherscan as `dropped` and says I need to resubmit it, but I am not able to do so from the gitcoin website as the tip there is reported as claimed.

**To Reproduce**
To view transaction: https://etherscan.io/tx/0x9a48260e2fa5d38a18111a913ba4978326fb027f2a058ee42a7c396369bffbd6
To view the issue I was worki

[2018-11-19 15:41] willsputra commented on #2773
@kuhnchris @PixelantDesign Good point!

One question: for traditional bounties, applicants who are not approved are automatically rejected right? I'd love to have a rejection reason for each applicant but I wonder how we can make this scalable. For example, if there are 20 applicants or even hundreds (in the future), it might be overwhelming for the funder to give reasons for each one.

I'll explo

[2018-11-19 15:46] kuhnchris commented on #2773
Right now the same issue would be viable if we have 20 or more applicant already, right? Or is there a mass-canceling of bounty-applicants? If there is, it makes sense to have them *there* as dropdown field.

[2018-11-19 15:58] willsputra commented on #2773
If the funder clicks on 'Reject Worker', yes I agree the dropdown should be there.

I guess I'm just wondering for cases where the funder approves someone for a traditional bounty and the rest of the applicants are automatically rejected (or not approved).

[2018-11-19 16:35] nanspro commented on #2158
![screenshot from 2018-11-19 22-02-27](https://user-images.githubusercontent.com/24641089/48721081-2dcc5880-ec47-11e8-9e19-b3ffd24d4285.png)

@frankchen07  Done!!

[2018-11-19 16:54] frankchen07 commented on #2158
Awesome thanks! Let me ping a Gitcoin engineer to check out the code.

Also, what does the up and down button do in the estimated hours of work?

![screen shot 2018-11-19 at 08 52 45](https://user-images.githubusercontent.com/7516920/48722338-a0eab600-ebd8-11e8-9289-a556721924b8.png)

[2018-11-19 17:07] nanspro commented on #2158
Hours are natural numbers so this is a step icon to increase/decrease the hours by 1.

[2018-11-19 17:23] willsputra opened #2884 "Build - Sync with Blockchain button on the Issue Explorer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a way to manually sync with the blockchain so I can get the latest bounties on the Issue Explorer

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Som

[2018-11-19 17:27] willsputra opened #2885 "Build - Sync with Blockchain button on the Issue Details page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a way to manually sync with the blockchain so I can get the latest bounty activities on the Issue Details page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*

[2018-11-19 17:39] kuhnchris opened #2886 "email templates are not optimized for empty elements"
**Describe the bug**
Trying to preview kudos or tip mails without having kudos or tips in the system will result in 500

**To Reproduce**
deploy standard docker image, add superuser with docker-compose exec web app/manage.py createsuperuser, access:
- http://kuhnchris.eu:8000/_administration/email/new_tip
- http://kuhnchris.eu:8000/_administration/email/new_kudos

**Expected behavior**
e-mail prev

[2018-11-19 17:41] kuhnchris commented on #2886
Also, for the "working" ones there seem to be a hardcoded reference against "localhost" (nothing set up)

![image](https://user-images.githubusercontent.com/761911/48724865-b2f54480-ec2a-11e8-97dd-57d6572d5bb9.png)

[2018-11-19 17:51] kuhnchris commented on #2773
Then I'd send them a standard response ála "A different worker was approved for the task you applied", which is a valid reason to me.

[2018-11-19 18:22] willsputra commented on #2773
Thanks for the suggestion! Maybe we could put it in our email. Will create a ticket for it.

As for the explicit rejection reasons, here are some points I could think of:
• The applicant did not meet the desired qualifications.
• The applicant did not meet the desired timeline.
• The applicant did not provide sufficient information on the action plan.
• The applicant was not willing to work for th

[2018-11-19 18:57] kuhnchris commented on #2884
uh, from a backend perspective I'd say "no.". imagine 20 people pressing that button - chaos ensures!
if we need to make one, we need to create a trigger that executes the sync and blocks it AT LEAST until it's finished processing the sync job. else we gonna screw up the database hard.

any comments @mbeacom ?

[2018-11-19 19:15] thelostone-mc commented on #2884
@kuhnchris you are right!
@mbeacom had the same concern

@owocki / @frankchen07 / @PixelantDesign  would it make sense to just show when it was last synced to the db as opposed to letting the user to sync with the blockchain ?

[2018-11-19 19:15] thelostone-mc commented on #2885
concern with allowing user to force sync : [refer](https://github.com/gitcoinco/web/issues/2884#issuecomment-440009017)

[2018-11-19 19:16] #2335 closed

[2018-11-19 19:53] filips123 opened #2890 "Website is non designated for older monitors"
**Expected behavior;**

Items in menu bar should be smaller depending on window and monitor size, so they will fit into one row.

**Actual behavior;**

Website is non designated for older (4:3) PC monitors. Items in menu bar are too big and sometimes split into two files. This is specially noticeable in arrows of items.

**Reproducing:**

Open issue explorer on some old 4:3 monitor.

**Screenshots

[2018-11-19 20:08] #2746 closed

[2018-11-19 20:10] thelostone-mc commented on #2857
Fix is already in https://github.com/gitcoinco/web/pull/2861 ^_^

[2018-11-19 20:10] #2857 closed

[2018-11-19 20:10] #2863 closed

[2018-11-19 22:03] austintgriffith opened #2892 "Github Usernames should be auto populated"
This field should be auto populated with anyone that contributed so the funder doesn't have to go looking for github usernames:

![image](https://user-images.githubusercontent.com/2653167/48737717-05733880-ec0c-11e8-92f9-279fbb7cbdf0.png)

I know it's a small thing, but every little thing you can do to make the experience smoother for the user is important.

[2018-11-19 22:13] #2125 closed

[2018-11-19 23:00] kuhnchris commented on #2841
Hey there, templates implemented!
![image](https://user-images.githubusercontent.com/761911/48740284-2ad96400-ec57-11e8-8f5b-56a1a3981909.png)
but... as noted above, the lines left and right are "globally for all mails", if we want to change it we'd have 1 mail stand out against the other templates. I kept it to go with the flow, sadly I'm a bit too uneducated to generate rinkeby test kudos, so th

[2018-11-19 23:29] frankchen07 commented on #2884
I agree with @kuhnchris and @thelostone-mc - allowing a user unfettered access to refresh the entire Explorer with no limits is dangerous. To me, it also is another thing the user has to think about on the Issue Explorer. Ideally, I'd like that completely abstracted away.

I see two avenues, (not exhaustive, and definitely open to other ideas).

1. Allow the user to refresh, but cap re-syncing unt

[2018-11-19 23:31] frankchen07 commented on #2885
Same concerns exist on https://github.com/gitcoinco/web/issues/2884.

However, I believe this is not syncing with the blockchain, but with Github, since if the user is already on the issue details page, the activity is updated from Github

I can check on my end that that is the correct assumption / correct setup.

[2018-11-20 00:30] lukaszGrynasz commented on #2870
Hi thanks , could You describe fields in json ?

[2018-11-20 06:19] thelostone-mc commented on #2892
Ah yeah we've been meaning to that 😅
we can get that in post https://github.com/gitcoinco/web/pull/2675

[2018-11-20 06:21] thelostone-mc commented on #2864
Crispy pork belly! Damn I need to try that out

[2018-11-20 06:31] thelostone-mc commented on #2778
lol ❤️
this is gonna be fun to build out

[2018-11-20 06:34] frankchen07 commented on #2864
If you ever come to the Bay Area, I'll make it for you!

[2018-11-20 06:34] frankchen07 commented on #2864
If you ever come to the Bay Area, I'll make it for you. :D

It's awesome.

Frank Chen
LinkedIn <http://www.linkedin.com/in/frankchen07> | Website
<http://frank-chen.com> | Github <https://github.com/frankchen07>

On Mon, 19 Nov 2018 at 22:22, Saptak Sengupta <notifications@github.com>
wrote:

[2018-11-20 06:40] SaptakS commented on #2886
@kuhnchris I believe the link is not hardcoded but you need to update your `BASE_URL` environment variable. Else it defaults to `http://localhost:8000`. Hence the link.

[2018-11-20 06:59] kuhnchris commented on #2886
Yeah, saw it, closing this issue.

[2018-11-20 06:59] #2886 closed

[2018-11-20 07:02] kuhnchris commented on #2841
Sure. I managed, thanks to @mbeacom, to load kudos into my test environment and create test mails. I'll create a intermediate PR (WIP) so you guys can check it, OK? :-)

[2018-11-20 07:07] kuhnchris commented on #2884
Same, abstracting it does make more sense in the long run. Giving the user the possibility to complain/identify this as an issue they'll use it to complain, even if it's absolutely not connected at all to their issue. (at least that's the experience I had the last couple of years...)

For the "core" of this PR: actually the solution would be to not have a workaround. Can we identify the source of

[2018-11-20 07:23] #2618 closed, assigned to owocki

[2018-11-20 08:46] frankchen07 commented on #2668
Basically, the way I see it working is:

1. a bounty is cancelled:

![screen shot 2018-11-20 at 00 21 45](https://user-images.githubusercontent.com/7516920/48760423-c6200880-ec5a-11e8-9460-c9f1ea0e8643.png)

2. The radio buttons for cancellation reasons pops up, the answers selected end up triggering POST requests that populate the administration area (perhaps in json format) and updating the data

[2018-11-20 08:53] thelostone-mc commented on #2531
No no I'm all in for throwing out the old one !
I was just pointing out that we've got something like that at our end. :P

[2018-11-20 09:16] thelostone-mc commented on #2890
@filips123 Is it just the navbar ?

[2018-11-20 11:47] octavioamu commented on #2841
Looking nice @kuhnchris , just an important thing is to test is in real email, because the pain of emails is the clients change some code and things render a little different.

[2018-11-20 11:56] kuhnchris commented on #2841
thats why i implemented maildev, we can allow it to relay mails matching a certain domain (for example *@gitcoin.co) and see all other outgoing mails in the web interface. if you do not mind ill whitelist your mail and send you a rinkeby kudos so you can take a look (i would have attached the eml but its not allowed on github)

[2018-11-20 12:31] #2813 closed

[2018-11-20 13:01] filips123 commented on #2890
@thelostone-mc I find out this on navbar, but maybe some other similar elements also have this problem.

[2018-11-20 13:54] troggy opened #2893 "Contribution hasn't been payed out"
There is a bounty https://gitcoin.co/issue/parsec-labs/parsec-contracts/32/1606.
It was created with Ξ0.21 of funding. Then there was a Ξ1 contribution made via Gitcoin web page and Ξ0.1 contribution sent directly to the contract (see #2745).

Work on the bounty was completed and payment released. However, the worker received only Ξ0.21.

[2018-11-20 14:31] willsputra commented on #2531
I'm quite happy with the latest one I posted too haha.

That component could also potentially be reused on:
1. Issue Explorer
![screenshot 2018-11-20 22 24 46](https://user-images.githubusercontent.com/19514207/48779979-c203f180-ed13-11e8-947b-1514cc00f638.png)

2. Grants team member
![screenshot 2018-11-20 22 25 08](https://user-images.githubusercontent.com/19514207/48779991-c9c39600-ed13-11e8-83

[2018-11-20 14:47] willsputra commented on #2884
yeah these are legit concerns. if that's the case, a 'Sync with Blockchain' button might not be feasible.

@frankchen07 thanks for investigating! knowing the refresh rate and the actual source of the issue will be really helpful.

not sure if this helps, but here's another related issue regarding bounty syncing and Infura: #2394

[2018-11-20 14:50] kuhnchris commented on #2884
tbh I'm suprised that we do not have a callback on the GETH instance.
Usually we should be able to reply events and subscriptions on the geth side and "push them" into our database, if neccessary even resyncing them.
Right now, it looks to me that this is actually the other way around, we're basically polling geth to give us the latest information instead of event-reacting to it:
https://github.co

[2018-11-20 15:28] owocki opened #2894 "beylin can't send inline kudos"
from beylin:

Hey Bots, I'm seeing an error when I try to pay out a kudos to someone submitting for my bounty

The flow was: I got to this form, selected the kudos I wanted to pay him, and saw this error as the first txn I was prompted with (which I assume is the kudos contract)
cc @mark @Owocki @vivek (edited)

Owocki [12:19 PM]
Mind posting a link to the sender address account? And the bounty?

[2018-11-20 15:33] willsputra commented on #2419
@owocki any updates on this bounty? seems to be here for quite a while. thanks! :)

[2018-11-20 15:35] #2844 closed

[2018-11-20 15:43] owocki commented on #2894
Owocki [Today at 8:27 AM]
we’re on it..

i have a theory that its trying to send a rinkeby kudos on mainnet.  by any chance did you switch metamask networks while you were on the page?

4 replies
Owocki [1 minute ago]
@Beylin just tagging u here so the convo doesnt get lost with everything below it

Beylin [< 1 minute ago]
no I dont think so

Beylin [< 1 minute ago]
I was on mainnet

Beylin [< 1 m

[2018-11-20 15:49] willsputra commented on #2294
@PixelantDesign @octavioamu should we close the Gitcoin bounty for this?

[2018-11-20 16:03] owocki commented on #2894
UPDATE: i was able to repro locally..  it seems that the primary send on `/kudos/send` is *working* but inline send is not

[2018-11-20 16:20] #2894 closed

[2018-11-20 16:56] frankchen07 commented on #2531
^ I definitely like the new non-comma'ed improvement of the search bar. Let's avoid scope creep and first implement it in the funder form.

Once we see it in action, we can then figure out the timing and resources for upgrading the contributor onboarding tagging, and the issue explorer (although the new left hand bar implements most of the design and functionality here already, no?)

@willsputra -

[2018-11-20 17:00] frankchen07 opened #2895 "Build a cleaner tagging experience on the Gitcoin funder form"
### Background

Having keywords that are too generic or inaccurate may be problematic in a couple of ways:

1. It makes it harder for contributors to search for issues matching their skills on the Issue Explorer.

2. Mismatch of skills between the contributors and the bounty requirements, which could result in bounty abandonment or expectation mismatch.

### Current Behavior

When funding an issue

[2018-11-20 17:01] willsputra commented on #2531
@frankchen07 I agree with implementing it in the funder form first. yep this is essentially the left hand bar with added dropdown keywords functionality.

Thanks for creating the build ticket! :)

[2018-11-20 17:04] kuhnchris commented on #2531
👍 let's give it a go and try it.

[2018-11-20 17:51] owocki commented on #2520
per convo today on grants call, we're going to make this permissions-based, not is_staff based

[2018-11-20 18:08] nanspro commented on #2158
@frankchen07  i only received 0.17 ETH and i think this issue this has crowdfund contribution worth 75 DAI!!

[2018-11-20 18:34] owocki opened #2897 "Kevins Grants QA 20181120"
- [x] hover animation doesnt exist for grants logo (screencast: http://bits.owocki.com/fd6f3949ae6f/Screen%20Recording%202018-11-20%20at%2010.49%20AM.gif )

Fund page
- [x] 'please unlock metamask to continue' doesnt work with EIP 1102
( screenshot http://bits.owocki.com/ac9f6e29a840/Screen%20Shot%202018-11-20%20at%2010.47.05%20AM.png )
we'll need to integrate the 'connect to metamask' button that

[2018-11-20 18:53] willsputra commented on #2778
a bit of tidying up + added the videos

![storytelling](https://user-images.githubusercontent.com/19514207/48795602-64ce6700-ed38-11e8-81d9-21ec15beeb75.jpg)

[2018-11-20 19:05] captnseagraves commented on #2862
@thelostone-mc Sorry I didnt respond to this yesterday. I implemented a solution that has already been merged. I used a textarea for each to resolve the issue.

[2018-11-20 19:11] octavioamu commented on #2294
@willsputra yes I think is all done

[2018-11-20 19:19] captnseagraves commented on #2862
KO QA https://github.com/gitcoinco/web/issues/2897

[2018-11-20 19:21] mbeacom commented on #2897
This will be resolved once we resolve file conflicts/rebase.

This was set by @willsputra - `Grant.description`

Agreed.  I'll update it to automatically add the admin to the team list.

Yes.  Fixing it now.

This link directs to the `Grant.reference_url` that was provided during the creation process.
This [grant](https://grants.gitcoin.co/grants/5) has `http://github.com/` provided as the referen

[2018-11-20 20:11] austintgriffith commented on #2864
Whoops, sorry for the delay here.

Austin Griffith
The #BUIDL
Drunken Noodles
https://austingriffith.com
https://twitter.com/austingriffith
https://github.com/austintgriffith

[2018-11-20 20:36] owocki commented on #2893
@troggy you should have gotten an email to `m**************er@gmail.com` with instructions on how to claim this payment.. and if you login to gitcoin and click in the top right you will see a 'claim tip' option in there..

let me know if this helps.  did you get the original email?  if not, i can resend it

[2018-11-20 20:38] owocki commented on #2821
comments from @austintgriffith:

[code]

@willsputra let us know what you need from us to do another rev of the design..

[2018-11-20 21:05] frankchen07 opened #2898 "Gitcoin SEO Audit: Add Meta Tags"
### User Story

As a Gitcoin admin I'd like the Gitcoin site to have metatags (content descriptors that help tell search engines what a web page is about).

### Why Is this Needed

On the SEO side, this is high impact for Gitcoin.

### Description

[SEO Audit Clone Google Document, Meta Tag Recommendations Tab](https://docs.google.com/spreadsheets/d/1k8w8PX59XISYWaRLmUwQvdsLDCiDH0jBIY08qsKpruw/edi

[2018-11-20 21:05] frankchen07 opened #2899 "Gitcoin SEO Audit: Add Meta Tags to issue/bounty pages"
### User Story

As a Gitcoin admin I'd like the Gitcoin site `issue/bounty` pages to have metatags (content descriptors that help tell search engines what a web page is about).

### Why Is this Needed

On the SEO side, this is high impact for Gitcoin.

### Description

[SEO Audit Google Document, Issue Bounty Pages tab](https://docs.google.com/spreadsheets/d/1k8w8PX59XISYWaRLmUwQvdsLDCiDH0jBIY08qs

[2018-11-20 23:38] Anish-Agnihotri commented on #2294
Thanks @willsputra @octavioamu!

Bounty was actually supposed to be closed a while ago, but it's ironic that it wasn't since that feature was supposed to be implemented in this ticket, haha.

[2018-11-21 01:48] Anish-Agnihotri commented on #2892
Just saw this! Can take a look into it and get a PR pushed out within the next 24-48hrs if that sounds good.

[2018-11-21 02:33] Anish-Agnihotri commented on #1528
I've got a few long overdue tasks I'm getting knocked right at the moment and this week since I'm back from BlockHack. Will edit this task as I go, currently wrapping up #2283, after-which I'll knock this and #2404 out completely.

[2018-11-21 02:33] rmshea opened #2904 "Kudos Image Not Unfurling"
**Describe the bug**

When posting links to Twitter, Kudos thumbnails are not populating in the social description:

![image](https://user-images.githubusercontent.com/8948187/48815202-d7205680-ecfa-11e8-8b0d-a0ea2a118dfc.png)

**To Reproduce**

Tweet a link to a kudos URL (ex https://gitcoin.co/kudos/388/ipfs)
View

**Expected behavior**

The image would unfurl in social posts

**Screenshots**

S

[2018-11-21 07:30] ceresstation commented on #623
Hey @mbeacom looks like this dropped off, do we want to remarket this?

[2018-11-21 07:32] ceresstation commented on #951
Hey @owocki looks like this issue lost some steam, do we still want to find another contributor for it?

[2018-11-21 07:42] kuhnchris commented on #2904
Weird, the twitter card is provided multiple times in the head section, we may need to clean that up. the 'last' reference is a local /v2/... reference, assumingly that's why it's not working. Made a PR to solve this, cannot test it locally as twitter refuses to expand my port in the twitter card preview tools and I do not have the time to setup my redirect to a non-port address at this moment. ;-

[2018-11-21 07:44] kuhnchris opened #2906 "Kudos receiver should be uniquely displayed, not "each and every receiver""
**Describe the bug**
Weird description, I know. Currently every receiver of a kudos will be displayed on the details page. That also means, that if you got a kudos multiple times, you'll be displayed multiple times.

**To Reproduce**
Have the same kudos >1 times

**Expected behavior**
A list of people, in this example below, 1 person

**Screenshots**
![image](https://user-images.githubusercontent.

[2018-11-21 07:55] ceresstation commented on #1033
Hey @vs77b should we close this out?

[2018-11-21 08:04] kuhnchris opened #2909 "bounty creation / github issue field doesn't need to be a github issue"
**Describe the bug**
any url works

**To Reproduce**
enter a url

**Expected behavior**
check for ^http(s)://(www.)?github.com/.*/issue/[0-9]*$

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48826996-2fdc0780-ed6c-11e8-8691-ea217c0fa92a.png)

[2018-11-21 08:04] ceresstation commented on #1179
Hey @thelostone-mc bumping this based on @usmanmuhd's question, any thoughts here?

[2018-11-21 08:05] kuhnchris commented on #2899
I assume you refer to an internal "seo document"?
Currently meta information is set (pretty much globally) in the head already:
![image](https://user-images.githubusercontent.com/761911/48827118-8b0dfa00-ed6c-11e8-8074-35ddf9a2afd0.png)
So you want to have the specific issue data added?

[2018-11-21 08:06] ceresstation commented on #1316
Hey @thelostone-mc, looks like this issue got buried, what are our next steps here?

[2018-11-21 08:37] ceresstation commented on #1528
Thanks for letting us know @Anish-Agnihotri!

[2018-11-21 08:44] ceresstation commented on #1855
Hey @saketbairoliya2 do you have an update on this?

[2018-11-21 08:50] ceresstation commented on #1991
Hey @aerophile do you have an update on this?

[2018-11-21 09:16] PixelantDesign commented on #2735
Reminder! We had a thread on slack about the plus icons seeming like a select multiple feature. Could we build it so that if a user selects another kudos it unselevts the previous?

Also wondering if we should keep this to suggestion of 3 kudos. If there are too many recommendations it becomes choice overload. The payout flow already has a lot to think about. Let’s make this easy and as smart as w

[2018-11-21 10:19] kuhnchris commented on #2850
actually a clean way would be to spin up that mgmt command filtered on that bounty to issue previous tips and in the rare case some post-completion tips are executed, a mgmt run every x hour to issue outstanding solved and not distributed tips.

[2018-11-21 10:20] ceresstation commented on #2469
Hey @FrederikBolding it's all yours, I'll make sure you get set as the contributor.

[2018-11-21 13:12] octavioamu commented on #2904
This is something was working, I believe is related to this change https://github.com/gitcoinco/web/commit/f40fc2e4567e5398080bbd589cac3f33994c1861#diff-ce9247470f8bc69895af06c61a6bacec
that left the images very small and for social sharing there are some minimum sizes we need in the og metadata also I saw there was a change in the og metadata so twitter one is two times in the page one to https:/

[2018-11-21 13:18] octavioamu commented on #2904
about svg support https://twittercommunity.com/t/issue-with-an-svg-image-showing-up-in-a-card/57253/5

[2018-11-21 13:30] octavioamu commented on #2904
So in resume of what is happening I believe:
Twitter is sending robots to the page, there is 2 og metas with images one is a png and the other svg
In the past it was taking the png and that was working, looks like now png is too small to use it and svg is not supported resulting in twitter card without an image

[2018-11-21 14:45] willsputra commented on #2668
Adding Stop Work reasons from the community to the list

I reached the limit of open bounties and wanted to work on another bounty
The scope of work deviated from the initial bounty
There was no response from the funder
I no longer have time to do the work
Someone else was approved / reserved for the bounty
I had technical issues while doing the work (e.g. issues setting up env, incomplete docs, e

[2018-11-21 15:13] usmanmuhd commented on #2370
I am currently very busy with assessments so not being able to do this. I will stop work so that it will open up to other people. I hope that my work done till now will help the next bounty hunter.

[2018-11-21 15:31] kuhnchris commented on #2904
OK, throwing away my PR

[2018-11-21 15:32] owocki commented on #2897
oh so it's not dynamic?  nice!

let me know how this goes so i can continue QA :)

[2018-11-21 15:36] owocki commented on #2904
sorry @kuhnchris -- i didnt see that earlier

[2018-11-21 15:36] kuhnchris commented on #2904
Don't worry. If you guys got a "proper fix", then it's far better than my juggling around. ;-)

[2018-11-21 15:39] kuhnchris opened #2911 ">5 kudos recipients looks weird"
**Describe the bug**
If more than 5 people receive a kudos, the display gets wonky.

**To Reproduce**
Send kudos to more than 5 people

**Expected behavior**
proper alignment

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48851712-08a52a80-edac-11e8-9a60-0f885b112e06.png)

[2018-11-21 15:42] kuhnchris opened #2913 "confetti-rain is limited :-("
**Describe the bug**
The confetti rain when sending (or receiving) a Kudos is only partly partying.

**To Reproduce**
Send a kudos

**Expected behavior**
party all over the page

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48851895-77828380-edac-11e8-9a72-2722fe558540.png)

[2018-11-21 15:53] Anish-Agnihotri commented on #2913
Looks like the confetti rain is working for me across displays. Was there a specific resolution you used so I can test?

[2018-11-21 15:56] willsputra commented on #2778
@owocki Thanks for the feedback. Here's another pass!

![storytelling1](https://user-images.githubusercontent.com/19514207/48852773-07462300-ede9-11e8-95e2-e08198ea8b2b.jpg)

[2018-11-21 15:57] kuhnchris commented on #2913
1262x865 - latest chrome - mac os x

[2018-11-21 15:57] thelostone-mc commented on #2911
Fixed up over at https://github.com/gitcoinco/web/commit/1e393c613408cd77a918e0246d9f2f6071a35342#diff-f1b95d391d9b7bf1f3d062c3480d46c1

Thanks @kuhnchris for the report :D

[2018-11-21 15:57] #2911 closed

[2018-11-21 15:58] kuhnchris commented on #2906
@owocki since I saw it in your screenshot that you noticed the "multiple people" issue... ;-)

[2018-11-21 16:02] Anish-Agnihotri commented on #2913
Seems to be working for me at that resolution. I do see the confetti-rain. Is the issue that you can't see the confetti-rain, or did I misunderstand by chance?

[2018-11-21 16:05] kuhnchris commented on #2913
it's cut off if you scroll down

[2018-11-21 16:38] willsputra commented on #2821
@owocki @austintgriffith thanks for the feedback!

here's an updated draft:
1. added 'Roadmap' below 'Latest Research'
2. changed 'Get in Touch' to 'Community' since I think it would be clearer, and added more explanation on contributing as a community member.

![gitcoinlabs](https://user-images.githubusercontent.com/19514207/48855371-e1bc1800-edee-11e8-9fce-3ab8b88a4ae4.jpg)

[2018-11-21 16:42] jschiarizzi commented on #2816
@blockchainbuddha Patrick because he build one click dapp, OSS making ethereum development easier and more accessible. https://www.producthunt.com/posts/one-click-dapp

[2018-11-21 16:45] jschiarizzi commented on #2261
@santteegt Yes, looks like previous taker was unable to complete it. You can claim it at https://gitcoin.co/issue/gitcoinco/web/2261/1260

[2018-11-21 16:56] Anish-Agnihotri commented on #2913
Yikes, still can't see it. I'll test tonight when I get home and re-check. Should be an easy issue to fix.

[2018-11-21 17:03] willsputra commented on #2895
Design ticket: #2668

[2018-11-21 17:03] willsputra commented on #2668
Build ticket: #2895

[2018-11-21 17:21] Anish-Agnihotri commented on #2909
Should be an easy issue using regex.

Just a lint for `https://github.com`, so something along the lines of: `pattern="https?:\/\/(www\.)?[github.com]\[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"`. This wouldn't work in certain scenarios though, so I'll work on it tonight. Or, we simply check for instances of github.com in JQuery and only allow those inputs.

[2018-11-21 23:02] frankchen07 commented on #2158
@nanspro - sorry about that. Let me ping @vs77bb directly on Slack and make sure that gets to you. Hold tight, hopefully he gets back to us before Thanksgiving hits.

Alternatively, if you'd like me to tip you out $75 in ETH (if for some reason you need the funds now), ping me here and I'll do that too.

[2018-11-21 23:56] frankchen07 commented on #2283
Can you elaborate what the horizontal slider looks like / means?

[2018-11-22 00:43] octavioamu commented on #2841
@kuhnchris great, tell me if you need something on my side. my email is octavioamuchastegui@gmail.com

[2018-11-22 00:52] octavioamu commented on #2884
I didn't saw this comments I was going to start #2403 also there is this related discussion #2394 Maybe we need to discuss further and decide what way we want to go.
I also agree if you saw a button to sync you will click it each time you user to explorer hoping to get the lastest so I don't think it need to be an user action any case have to happens in the background (and is already a cron for th

[2018-11-22 10:50] nanspro commented on #2158
@vs77bb the transaction is still pending "https://etherscan.io/tx/0x8bd46dbecc3595121ea96bb555aae1c3cfef86a41c0a63279180848dd6cc42a2".

[2018-11-22 16:07] willsputra commented on #2544
@PixelantDesign @kuhnchris Two options:

Sorted by Status
![sorted by status](https://user-images.githubusercontent.com/19514207/48913556-b2bbaa00-eeb3-11e8-8333-ce2957339d08.jpg)

Sorted by Issue Number
![sorted by issue](https://user-images.githubusercontent.com/19514207/48913563-b6e7c780-eeb3-11e8-9995-267b02711b89.jpg)

Thoughts?

[2018-11-22 16:17] kuhnchris commented on #2544
For usablity sake i'd love to see the first one, but maybe, instead of having some long-ass list we could use some tiles? (like 128x128 square tiles)

[2018-11-22 17:13] kuhnchris opened #2919 "Invoice logo is broken"
**Describe the bug**
When trying to print an invoice, you see a missing image icon

**To Reproduce**
Be bounty starter, start bounty, check invoice

**Expected behavior**
Not sure tbh

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48916360-45dbec00-ee82-11e8-9f53-05ab1d5f1cc1.png)

[2018-11-22 17:21] octavioamu commented on #2885
I believe the sync blockchain and sync github issue details should be separated too but also I believe that any of that 2 actions shouldn't be hunters actions maybe the funder have a button inside edit to sync the issue data here:
![image](https://user-images.githubusercontent.com/1358093/48916561-f4276780-ee69-11e8-906c-15dbce7376c5.png)

But if every user have access to that button that will bec

[2018-11-22 17:26] kuhnchris opened #2920 "Avatar / still mismatching avatar images"
**Describe the bug**
After @owocki  and @mbeacom 's last fix we thought my avatar was unified. It wasn't.

**To Reproduce**
???

**Expected behavior**
Avatar-Builder Avatar == Gitcoin used avatar

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48916836-2ba30d80-ee84-11e8-9b56-c26bc4a6095e.png)

[2018-11-22 17:41] octavioamu commented on #2919
Couldn't reproduce in my local, I will check if I have some invoice online to check it

![image](https://user-images.githubusercontent.com/1358093/48917246-f0e1ab00-ee6c-11e8-9193-ee2b24f83ae8.png)

[2018-11-22 21:44] #2711 closed

[2018-11-22 21:48] kuhnchris commented on #2919
Thanks for checking @octavioamu !
Where does it redirect you locally?
I get this URL in the invoice: https://gitcoin.co/issue/v2/images/presskit/GitCoinLogoText.svg
This one doesn't exist. Maybe it's another one of those missing images that just need pulling from GIT?

[2018-11-22 21:56] kuhnchris opened #2922 "Activity "Approve Worker" is missing in the Activity Stream"
**Describe the bug**
Activity "Worker Approved" is missing in the activity stream on profile

**To Reproduce**
Approve worker, check profile

**Expected behavior**
See "Approved worker" or "Worker approved"

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48922858-d679f280-eea9-11e8-9e18-cd0337ebbaf0.png)

[2018-11-22 22:13] kuhnchris opened #2923 "Possibly multiple approve / reject as issue owner/staff"
**Describe the bug**
A common bug on the platform is the multiple "approve/reject" worker messages.
One issue now came into my fangs, and after some dissection was available to figure out the issue (mostly).

**To Reproduce**
After approve/reject reload/refresh the page (either automatically, or due to MetaMask or due to some auto-refresh whatever).
Broadly speaking, if you issue link is https://g

[2018-11-23 00:01] santteegt commented on #2261
@jschiarizzi cool! I'm already working on this issue. I'll try to send the PR as soon as possible

[2018-11-23 01:47] octavioamu commented on #2919
@kuhnchris thanks for that info was a problem with the name (we shouldn't be using camel case in images names)  correct link is https://s.gitcoin.co/static/v2/images/presskit/GitcoinLogoText.svg

[2018-11-23 11:13] kuhnchris opened #2927 "In Progress Tab on Profile shows "Done" bounties"
**Describe the bug**
There is a issue that is "done" in my "in progress" tab

**To Reproduce**
???
https://gitcoin.co/profile/kuhnchris

**Expected behavior**
Gitcoin Bounties done are in "done"

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48940716-f1d01680-ef18-11e8-8a37-a23a53b85bc3.png)
![image](https://user-images.githubusercontent.com/761911/48940737-03192300-ef1

[2018-11-23 11:20] #2919 closed

[2018-11-23 11:20] thelostone-mc commented on #2919
thanks @kuhnchris \m/

[2018-11-23 14:13] thelostone-mc commented on #1179
@usmanmuhd Ah sorry man ! I'm running on behing on my github notifications
Ideally since this just a FE task -> you can go ahead and hardcode the variables

updating the following should be enough to get the tempalte running.
`bounties_completion_percent = (num_completed_bounties / 1) * 100`
`largest_bounty_value = 0`

The end state would be that email shouldn't break on  phone / tablets / monitor

[2018-11-23 14:29] hopsoft commented on #2864
Nate Hopkins
Ability to connect with talented people through bounties
Chicken tikka masala (extra spicy)
https://twitter.com/hopsoft

[2018-11-23 16:41] #2609 closed

[2018-11-23 18:13] mbeacom opened #2928 "Multiple start work approvals for the same worker"
**Describe the bug**
Worker approvals can be made multiple times for the same worker.

**To Reproduce**
Submit approval for the same worker via:

`https://gitcoin.co/issue/<handle>/<repo>/<issue_id>/<standard_bounties_id>?mutate_worker_action=<action|start>&worker=<worker_handle>`

**Expected behavior**
First `start` activity logged, while subsequent attempts to `start` or `decline` should result

[2018-11-23 18:15] kuhnchris commented on #2928
See #2923

[2018-11-23 19:15] octavioamu commented on #2707
Yes as @Anish-Agnihotri said we don't have that association or even that wallet address belongs to a user.

[2018-11-23 19:19] #2923 closed

[2018-11-23 20:12] troggy commented on #2893
@eezcjkr is the one who didn't receive the payment. @eezcjkr can you check pls?

[2018-11-23 20:21] eezcjkr commented on #2893
So I have received the 1ETH bounty, but not the 0.1ETH that was send via the multisig.

[2018-11-24 05:36] thelostone-mc commented on #2741
So technically would just searching for Open Issues meet this?
If it's a traditional bounty -> it's open as long as no one has called dibs on it
If it's a permission bounty -> it's open until a bounty hunter has been approved by the funder
if it's a contest -> it's always open

So is number of applicant really needed ? 🤔

[2018-11-24 10:20] nanspro commented on #2158
@frankchen07  can you pay off in ether?

[2018-11-24 14:00] octavioamu commented on #2741
I agree maybe we need a pristine search checkbox, to solve this problem instead of sear by applicants

[2018-11-24 14:55] owocki commented on #2927
hmm.... it probably is picking up the activities from when they *were* in progress.  i guess the question is : is the activity feed a feed of historical reference? or only of current activities?

[2018-11-24 14:55] owocki opened #2932 "bug kudos card doesnt show the right images before flip"
on https://gitcoin.co/profile/owocki :

![screen recording 2018-11-24 at 07 53 am](https://user-images.githubusercontent.com/513929/48969627-54c7b900-efbe-11e8-8b51-b112ad6e3aa0.gif)

the images on the front (2x jakerockland) are not the images on the back (1 mbeacom 1 jakerockland).

[2018-11-24 14:56] owocki commented on #2932
@octavioamu any ideas on this?

[2018-11-24 15:00] owocki opened #2933 "as a user, i want gitcoin to re-enable ETH contribution on grants (but really enable WETH on Grants), so i can contribute in ETH"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want gitcoin to re-enable ETH contribution on grants (but really enable WETH on Grants), so i can contribute in ETH

### Why Is this Needed
eth is the number one token

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen,

[2018-11-24 15:02] kuhnchris commented on #2927
The basic activity feed? Yes that is a historical reference.
But "In Progress"? No.

[2018-11-24 15:32] owocki commented on #2913
i think the canvas (DOM element where the rain plays) just needs to be positioned absolutely

[2018-11-24 15:44] #2913 closed

[2018-11-24 16:32] nanspro commented on #2158
Got it in DAI!!
Thanks @vs77bb :)

[2018-11-24 16:50] #2932 closed

[2018-11-24 18:47] octavioamu commented on #2818
I was playing with [lottie](https://airbnb.design/lottie/) and is amazing you can convert after effects animations into svg animations checkout the result:
https://codepen.io/octavioamu/pen/WYJYrr

[2018-11-24 18:50] owocki commented on #2818
I like the codepen that @octavioamu submitted.

i think that the most plausible one that i coded up, to actually use, is this one:

<img src='https://user-images.githubusercontent.com/513929/48674912-e2af2a00-eb0e-11e8-94dc-db231fce0a6b.gif'>

[2018-11-24 18:59] Fi3 commented on #2754
@kuhnchris someone is working on that? Is the issue still on hold?

[2018-11-24 22:58] #2663 closed

[2018-11-24 23:03] owocki opened #2937 "as a user, i want to know when my tip/kudos fails, so i can take appropriate action"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to know when my tip/kudos fails, so i can take appropriate action

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

sometimes a tx fails on the ethereum network.

[2018-11-24 23:03] owocki commented on #2937
@vs77bb @PixelantDesign hopefully this will ward off some support requests.. any feedback?

[2018-11-25 05:06] Qhhorjon opened #2939 "Jintaem Rok"
Jintaem Rok

[2018-11-25 05:08] Qhhorjon commented on #2939
oUtsouRcE

[2018-11-25 15:33] #2939 closed

[2018-11-25 15:35] owocki commented on #2866
This is an interesting insight..  I wonder if having a two modes "quick and dirty" and "focus on following a styleguide / code standards" mode.

yes i agree. once wagtail is in it'd be really great to have this done.

[2018-11-25 15:37] owocki commented on #2866
ref: wagtail https://github.com/gitcoinco/web/pull/2130

[2018-11-26 02:06] owocki opened #2940 "small layout bugs on tips"
robbiebent [5:59 PM]
Noticed a small bug on Gitcoin Tips ...
https://www.dropbox.com/s/q1f26xg1884xftx/Screenshot%202018-11-19%2019.56.59.png?dl=0
When I hovered on "where are my tokens going" -- couldnt scroll up to read the box.
Using chrome
On a mac

[2018-11-26 02:36] owocki commented on #2893
@eezcjkr according to the bounty ,the amount of the tx was 0.21 not 0.1 ETH..  the TX was paid out 10 days ago, here is a link => https://etherscan.io/tx/0xab38922d3747022b522cb67f7620221a42dbbe05986a264f20dd0ef96f932671

[2018-11-26 02:38] owocki commented on #2893
and looks like the crowdfund was paid via 0x94b68921e2900c31f22d340246c723d5906149d0837daf0212b58e1279089b82

let me know if you are still having issues. ... if not i will close this issue

[2018-11-26 02:58] owocki commented on #2778
looking good

are there any other options for the funnel (the three green bars)?  im not super crazy about the way it looks aesthetically

[2018-11-26 03:05] owocki commented on #2404
@Anish-Agnihotri do you think youll be able to deliver this one?

[2018-11-26 03:10] owocki commented on #2821
@austintgriffith this looks good to me.. does it look okay to you?

anyone interested in coding this?

[2018-11-26 03:11] owocki commented on #2821
@willsputra can you post the designs?

[2018-11-26 03:20] owocki commented on #2884
im thinking we'll want to priroitize https://github.com/gitcoinco/web/issues/2885 to start

[2018-11-26 03:20] owocki commented on #2885
dev note: you'll want to call the backend route `/sync/web3`with the `url` GET param passed in

[2018-11-26 03:31] owocki commented on #2869
@the-rileyj looks like your PR was not accepted but that you submitted a doc PR that was related.. let me know what you think is fair here

[2018-11-26 03:38] owocki commented on #2419
can pay it out once the PR is merged

[2018-11-26 13:45] octavioamu commented on #2895
is this one ready to be coded?

[2018-11-26 13:56] thelostone-mc commented on #2892
@Anish-Agnihotri yeah go for it ^_^

[2018-11-26 16:59] willsputra commented on #2821
@owocki Sketch file here:
https://drive.google.com/open?id=1R3jBr4in1rLnw5UmRmlfyopVwct0hmIy

[2018-11-26 17:08] owocki commented on #2324
https://github.com/austintgriffith/tokensubscription.com/blob/master/backend/tokensubminer.js is austin's subminer

[2018-11-26 17:15] owocki commented on #2893
Let me ask Mark Beylin, who wrote standard bounties.. I've never seen a use of the system quite like this.

[2018-11-26 17:17] owocki commented on #2745
hey @mbeylin @villanuevawill see above -- its for standardbounty # 1606 .. do you know if theres a way to recover the 0.1 ETH?

looks like its sent directly from the gnosis multi sig to the standardbounties contract , but doesnt seem to be reflected on the bounty on gitcoin.

[2018-11-26 17:18] owocki commented on #2745
perhaps the funder needs to recover the funds directly at https://explorer.bounties.network/bounty/1606 ?

[2018-11-26 17:18] owocki commented on #2893
just commented over on #2745

[2018-11-26 17:39] troggy commented on #2745
@johannbarbie can you check if you are able to recover the funds here? https://explorer.bounties.network/bounty/1606 (I guess you need to login with 0x8db.. address)

[2018-11-26 17:42] owocki opened #2947 "As a user, I want gitcoin.co/labs so i can see all of the great works being done in Labs"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/labs so i can see all of the great works being done in Labs
### Why Is this Needed

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
feature

### Current Behavior
[comment]: # (Describe what actually happened.)
no labs homepage
### Expected Behavior
[comment]: # (Desc

[2018-11-26 17:42] owocki commented on #2821
code task => https://github.com/gitcoinco/web/issues/2947

[2018-11-26 17:42] #2821 closed

[2018-11-26 17:42] johannbarbie commented on #2745
i see 0.1, but no way to "recover" them.
<img width="271" alt="screen shot 2018-11-26 at 6 42 11 pm" src="https://user-images.githubusercontent.com/659301/49031707-062b4200-f1ab-11e8-9b1d-3b9c7911ccb2.png">

[2018-11-26 17:54] owocki commented on #2745
i think 'deactivate bounty' should do it

[2018-11-26 18:02] owocki commented on #2867
@Anish-Agnihotri @kuhnchris @pinkiebell checkout this gem from @willsputra https://github.com/gitcoinco/Marketing/issues/8#issuecomment-441078275

[2018-11-26 18:03] octavioamu commented on #2864
Maybe we need to submit a picture of each one of us too

[2018-11-26 18:08] owocki commented on #2616
yeah thats a good idea

[2018-11-26 18:15] #2381 closed

[2018-11-26 18:20] johannbarbie commented on #2745
done and received the 0.1 to my wallet.

[2018-11-26 18:22] frankchen07 opened #2948 "As an admin of Gitcoin, if one cancels a bounty as a funder, I want to know the reason why."
### User Story

As an admin of Gitcoin, if one cancels a bounty as a funder, I want to know the reason why.

### Why Is this Needed

We're always looking to improve the Gitcoin experience. We'd like to have data regarding why bounties were cancelled.

### Current Behavior

When a bounty is cancelled, an email is sent, but that doesn't offer a high probability of funders providing reasons for cance

[2018-11-26 18:22] frankchen07 commented on #2948
@octavioamu - if the data model portion is unclear, let me know, I'll see if I can dig up a clearer understanding of it, see if the community has someone who understands Django better than me.

[2018-11-26 18:35] PixelantDesign opened #2949 "Community QA - Grants -- Week of 11/26"
# Alisa QA 11/26/2019

**Must Have**
- [x] Homepage Summary - Correct spelling of dependancy ---> dependency
- [x] Homepage Summary - Once EIP1337 Link is clicked - it is not legible. Please use the light blue Gitcoin link color.

- [x] Cancel Grant - Need an interstitial modal to explain what is about to happen if they click cancel a grant. Ex: By clicking cancel, you will delete all of the infor

[2018-11-26 18:44] PixelantDesign commented on #2184
Hi @mul1sh how is this going?

[2018-11-26 18:52] hatgit commented on #2948
Perhaps add this reason for cancellation too (happened to me): "Bounty was posted twice in error (duplicate)."
(note: I didn't distinguish whether it was user error or system, that could be a sub-option if the above is selected.)

[2018-11-26 19:09] octavioamu commented on #2948
@frankchen07 I think the images need to be updated with the options layout right?

[2018-11-26 19:10] octavioamu commented on #2948
@hatgit in that case I think you will click the "other" and fill with that reason.

[2018-11-26 19:16] #2244 closed

[2018-11-26 20:01] kuhnchris commented on #2867
Looks sweet 💯. As commented there, maybe still a bit too much bounty-focused, but aside from that, nice.

[2018-11-26 20:48] PixelantDesign commented on #2668
Thanks @frankchen07 !

[2018-11-26 20:49] PixelantDesign commented on #2668
@willsputra will you add the source files on #2948?

[2018-11-26 20:54] PixelantDesign commented on #2884
Makes sense if there are performance concerns.
cc: @thelostone-mc

[2018-11-26 21:14] troggy commented on #2893
all good now. @owocki thanks a lot for your help!

[2018-11-26 21:14] #2893 closed

[2018-11-26 21:15] owocki commented on #951
im going to cancel this bounty

[2018-11-26 21:15] #951 closed

[2018-11-26 21:55] #2419 closed

[2018-11-26 22:43] owocki opened #2952 "EIP - 55 on Kudos"
customer feedback:

[code]

[2018-11-26 22:48] owocki opened #2953 "As a user, I want a gitcoin Tax Guide, so I know my tax liability associated with crypto for diffrent parts of the world."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a gitcoin Tax Guide, so I know my tax liability associated with crypto for diffrent parts of the world.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary

[2018-11-26 22:48] owocki commented on #2953
call me crazy, but i thikn that taxes are enough of a pain in the butt.. we might be able to charge for this @vs77bb @PixelantDesign

[2018-11-26 22:51] kuhnchris commented on #2952
Just on the frontend side?
Also EIP-55 is just for checksum validation, not for login?
😕

[2018-11-26 22:55] kuhnchris commented on #2953
Uh, tbh Gitcoin is a peer-to-peer service provider, if anyone needs to consult tax rules for his spendings he should contact an actual lawyer in his country for information. Imagine we need to provide rulesets for german bounty providers, accepting polish or russian workers and finally paying out into 3 different countries. I can hear every finance institution spinning in it's own grave already.

[2018-11-26 22:57] kuhnchris opened #2954 "Invalid users in the "Who got this kudos" section?!"
**Describe the bug**
Users on the "Kudos received" page do not exist or lead to 404.
May be connected to not accepting the kudos tho.
![image](https://user-images.githubusercontent.com/761911/49047184-e6117800-f1d6-11e8-881d-a298da50808d.png)

**To Reproduce**
Check Product Wizard Kudos, click receivers

**Expected behavior**
Get at least a screen that says "This Kudos has not been claimed by it's

[2018-11-26 23:06] kuhnchris commented on #2841
Sent you a mail @octavioamu .

[2018-11-26 23:21] owocki commented on #2920
just pushed up a fix i thikn shoudl help with this

[2018-11-26 23:47] owocki commented on #2746
hey @kuhnchris i'm seeing this on the new mask feature that was developed... see https://c.gitcoin.co/avatars/dc4a2fb8fee84af6492f66e068d192d7/owocki.svg

any chance your fix for wallpapers could apply to the mask feature?  will happily tip if so

[2018-11-27 02:00] octavioamu commented on #2948
@frankchen07 this works for the admin side?
![image](https://user-images.githubusercontent.com/1358093/49053493-718b0900-f1d7-11e8-8371-2d057a37660f.png)

[2018-11-27 02:13] willsputra commented on #2948
@octavioamu @frankchen07 Thanks for creating the build ticket!

Sketch file for Cancelled Bounty
https://drive.google.com/open?id=1oiJnHRyeQKGDPzylcLfu0u9stbRAWYk7

Will upload the one for Stop Work later today!

[2018-11-27 03:00] owocki commented on #2488
new pr https://github.com/gitcoinco/web/pull/2725

[2018-11-27 04:01] captnseagraves commented on #2424
@owocki `real_period_seconds` in the Subscription model is the value you are looking.

The `nonce` is stored in the Contribution model. It is not being saved yet, as all values in the Contribution model need to be populated by the `subminer` or by `sync_geth`. This can be found by calling `deployedSubscription.methods.extraNonce(accounts[0]).call(function(err, nonce)`. However, it may not actually

[2018-11-27 05:36] shalabhaggarwal commented on #2864
@owocki The current about page displays only linkedin as a social link for all the members. Do we want to add more social links or stick with linkedin only?

@octavioamu @austintgriffith @frankchen07 @hopsoft Guys its time to roll out your best pics or avatars. 🥇

[2018-11-27 06:51] kuhnchris commented on #2746
Most likely this should work. It depends on how the mask is sized. If the mask-feature is live I can take a look at the test instance if you want.

[2018-11-27 07:10] thelostone-mc commented on #2694
Closing this out as it the profile avatar matches the one in the activity aka it's fixed ^_^
https://gitcoin.co/issue/AlexHartford/AlexHartford.github.io/2/1686

[2018-11-27 07:10] #2694 closed

[2018-11-27 07:13] kuhnchris commented on #2746
Just tested - after a couple of adaption also I can be a kawaii anime girl
![image](https://user-images.githubusercontent.com/761911/49064718-16c7d080-f21c-11e8-8c66-91cb1777f7f9.png)
And regarding spongebob's starfish face man:
![image](https://user-images.githubusercontent.com/761911/49064742-2cd59100-f21c-11e8-92af-554602d87894.png)

[code]

[2018-11-27 07:15] kuhnchris commented on #2694
Can confirm, is fixed now. :-)

[2018-11-27 07:15] kuhnchris commented on #2920
Great, that got fixed! Thank you!

[2018-11-27 07:15] #2920 closed

[2018-11-27 07:41] thelostone-mc commented on #2947
@aashutoshrathi the sketch file is attached here
https://github.com/gitcoinco/web/issues/2821#issuecomment-441715027

[2018-11-27 08:55] aquiladev opened #2958 "starfall bug"
**Describe the bug**
When I open website screen with starfall and scroll to bottom while star is falling, screen size increases, then screen starts jumping

**To Reproduce**
see description

**Expected behavior**
Screen size should remains static, no jumping

**Screencast**
[(_..) Issue Details _ Gitcoin - Google Chrome 11_27_2018 9_33_38 AM.zip](https://github.com/gitcoinco/web/files/2619016/_.Is

[2018-11-27 12:46] PixelantDesign commented on #2958
Thanks for reporting @aquiladev!

[2018-11-27 12:48] PixelantDesign commented on #2954
Thanks for the report @kuhnchris !

[2018-11-27 13:01] aashutoshrathi commented on #2947
Thanks @thelostone-mc .
Will send a WIP ASAP.

[2018-11-27 13:04] #1982 closed

[2018-11-27 14:07] usmanmuhd commented on #2808
Will be freeing up the bounty for some other bounty hunter. Keeping very busy with assignments and assessments

[2018-11-27 14:31] mul1sh commented on #2184
@PixelantDesign also wrapping it up now, thanks

[2018-11-27 14:49] kuhnchris commented on #2808
Did you do any work or shall we create from scratch?

[2018-11-27 15:03] PixelantDesign commented on #2037
@thelostone-mc or @SaptakS could y'all review this? #2950

[2018-11-27 15:04] usmanmuhd commented on #2808
I did not do much except a very basic HTML page. So yeah, it should be from scratch.

[2018-11-27 15:05] kuhnchris commented on #2808
OK, thank you. Mind "Stop Work" on Github?

[2018-11-27 15:07] usmanmuhd commented on #2808
I did that already.

[2018-11-27 16:02] kuhnchris opened #2960 "Displaying "more" kudos on profile loads wrong/double/weird kudos"
**Describe the bug**
Kudos are displayed double or weirdly sorted when clicking on "more"

**To Reproduce**
Click "more" on a profile >10 Kudos

**Expected behavior**
Show other kudos than the 10 already displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49094273-2c61e800-f266-11e8-8737-7447efc33791.png)

@octavioamu

[2018-11-27 16:17] kuhnchris commented on #2867
One thing to point out tho is: how would we manage this software-side?
Does django work with vhost redirections?
Do we need to (and I can already hear @mbeacom sending space wizards in my neck) split the app to support a real split? Or would we just change the main page and leave everything else as-is?

[2018-11-27 16:49] #2593 closed

[2018-11-27 17:01] frankchen07 commented on #2948
split the ticket, this one is cancellation, the other will be for stop work.

@octavioamu - just a nit fix to change "Cancelation reason" -> "Cancellation reason" above for the admin side.

[2018-11-27 17:15] Anish-Agnihotri commented on #2404
Hey everyone,

Unfortunately fell out on this issue due to other work. Hope that someone can pick it up and knock it out :)!

Thank, my apologies.

Anish

[2018-11-27 17:20] willsputra opened #2961 "Nav: Change icon of 'Send Kudos' and 'My Grants' on nav dropdown"
### Current Behavior

Icons of 'Send Kudos' and 'My Grants' on nav dropdown do not represent the branding of the feature
<img width="270" alt="screenshot 2018-11-28 01 17 30" src="https://user-images.githubusercontent.com/19514207/49099129-a8325380-f2ab-11e8-9d6b-b23d4f60ba98.png">

### Expected Behavior
Change the icons of 'Send Kudos' and 'My Grants' following the screenshot below:
<img width="4

[2018-11-27 17:25] willsputra opened #2962 "Issue Explorer: Move Expiry Date to Flyout"
### Current Behavior

Issue Explorer looks a little busy with all the info below. It would be great to make it less busy and move less important info to the flyout
<img width="1337" alt="screenshot 2018-11-28 01 22 07" src="https://user-images.githubusercontent.com/19514207/49099288-0c551780-f2ac-11e8-83a7-1abced933410.png">

### Expected Behavior
1. Remove 'Expires in X days'
<img width="1325" al

[2018-11-27 17:31] Anish-Agnihotri commented on #2940
I'll check this out, since I rewrote the tooltip in the last PR.

[2018-11-27 17:31] frankchen07 opened #2963 "As an admin of Gitcoin, if one stops work as a contributor, I want to know the reason why."
### User Story

As an admin of Gitcoin, if one stops work as a contributor, I want to know the reason why.

### Why Is this Needed

We're always looking to improve the Gitcoin experience. We'd like to have data regarding why work was stopped.

### Current Behavior

Currently when work is stopped, no reasons are given, and the user is not prompted to tell Gitcoin why they stopped work.

### Expecte

[2018-11-27 19:45] #2403 closed

[2018-11-27 19:51] owocki commented on #2746
thanks @kuhnchris -- mind submitting a PR with that patch?

[2018-11-27 19:58] owocki commented on #2864
@shalabhaggarwal just linkedin, gitcoin, github

for photos, maybe you can use their gitcoin avatars at /dynamic/avatar/[username] ?

[2018-11-27 20:15] owocki opened #2964 "as a user who is paying out via advanced payout, i dont know what to do with crowdfund contributions upon advanced payout"
## As a user who is paying out via advanced payout, i dont know what to do with crowdfund contributions upon advanced payout

## Issue
https://gitcoin.co/issue/austintgriffith/burner-wallet/5/1715

@austintgriffith paid this out with advanced payout (50% of staked amount to one user).

some confusion arose when he didnt know how to access the crowdfund contributions on the bounty.  right now the s

[2018-11-27 20:42] austintgriffith commented on #2864
I usally use https://austingriffith.com/images/austingriffith.jpg for my avatar.
Also I try to avoid my linkedin at all costs. Let's just leave that out for me if that's okay? My portfolio is at https://austingriffith.com if we wanted to use that, but linkedin is full of lame recruiter noise for me.

[2018-11-27 21:11] PixelantDesign commented on #2885
Another reason why this is needed.
<img width="595" alt="screen shot 2018-11-27 at 4 10 47 pm" src="https://user-images.githubusercontent.com/238235/49111803-24eb1080-f25f-11e8-94e2-f5ecb92b8030.png">

[2018-11-27 23:42] owocki opened #2969 "wrong worker relations on activity feed"
From @pinkiebell on https://github.com/gitcoinco/web/pull/2409#issuecomment-442221230
Problem: the activity records of 'work_done' are having wrong profile relations.
I guess you paid out the worker in these cases, so..

The profile below here should probably the profile of the fulfiller, not the bounty funder.
Does that makes sense or do I have a wrong assumption?
[code]
![screenshot 2018-11-27 a

[2018-11-27 23:47] pinkiebell commented on #2969
My guess without looking at the codebase is a issue with advanced payout passing the wrong profile object to record_bounty_activity - or something

[2018-11-28 01:21] Anish-Agnihotri commented on #2962
Just pushed out a fix for this in the PR above.

Here is a screenshot of it in action:
![fixed](https://user-images.githubusercontent.com/4398624/49122323-f5013480-f281-11e8-9bf1-e59f25bba5cd.JPG)

I've used a temporary .svg file for the clock for the time being, since I was unable to export the one you had supplied in the .sketch file. If you provide me that, I'd be glad to update the PR.

Thanks

[2018-11-28 01:29] Anish-Agnihotri commented on #2961
Hey!

Couldn't access the icons from the sketch file (seems to be a recurring issue for me, which means my Sketch is probably broken, haha).

If you can export the two icons and share a link, I'd be glad to knock this out tomorrow.

Thanks,

Anish

[2018-11-28 01:44] usmanmuhd commented on #2961
@Anish-Agnihotri Shall I take this up if you are okay with that?

[2018-11-28 01:52] Anish-Agnihotri commented on #2961
@usmanmuhd

For sure!

[2018-11-28 02:13] willsputra commented on #2962
@Anish-Agnihotri Looking good! Here's the clock .svg file :)
https://drive.google.com/open?id=1MXVttTiigtR7l4OEEBmmi7FkeOhPC7o-

[2018-11-28 02:16] willsputra commented on #2961
@usmanmuhd @Anish-Agnihotri thank you! here are the two icons .svg
https://drive.google.com/open?id=1_z42vS_ri8sF3iVLDSfBXjTqIdcDkA98

[2018-11-28 02:43] usmanmuhd commented on #2961
I cannot see the grants option on master branch. So should I make the grants change on `grants` branch?

[2018-11-28 03:05] Anish-Agnihotri commented on #2962
Thanks @willsputra!

Just pushed out the revised and ready-to-merge PR (with that clock .svg file, and a small bug fix to remove bold font).

[2018-11-28 05:59] Lokraan commented on #2469
I am also willing to work on it if @FrederikBolding cannot get to it.

[2018-11-28 08:14] thelostone-mc commented on #2961
@usmanmuhd on `grantz` branch

[2018-11-28 08:18] kuhnchris commented on #2969
Hmm, the user determination looks a bit wonky.
https://github.com/gitcoinco/web/blob/ce295958d1e48b90fc85d97245633c472d540eed/app/dashboard/helpers.py#L598-L613
https://github.com/gitcoinco/web/blob/ce295958d1e48b90fc85d97245633c472d540eed/app/dashboard/views.py#L133-L148

Sadly I cannot really see where all those calls are coming from, maybe if someone got a bit of time and it's urgent you could

[2018-11-28 08:21] kuhnchris commented on #2963
https://github.com/gitcoinco/web/issues/2668

[2018-11-28 08:32] #2864 closed

[2018-11-28 08:34] thelostone-mc commented on #2864
@shalabhaggarwal go ahead and submit it and claim the bounty ^_^

[2018-11-28 09:30] FrederikBolding commented on #2469
I'm still available, just waiting for someone to get back to me (ping @ceresstation, @mkosowsk), will let you know if I'm not available @Lokraan  😄

[2018-11-28 12:42] PixelantDesign commented on #2885
What are the tradeoffs between 2 separate buttons vs. single button performance wise? @octavioamu @thelostone-mc

[2018-11-28 12:45] PixelantDesign commented on #2184
Thanks @mul1sh, would it be possible to try to get this merged in the next day or so?

cc @SaptakS for pr review when it's ready.

[2018-11-28 12:53] kuhnchris commented on #2885
Well it depends on what you want to do. Gitcoin<->Github sync (internally) is pretty much querying the API of Github (and run into a maximum call limit), Gitcoin<->gETH sync is a pretty heavy task since you need to grass the blockchain for changes in that bounty. (StandardBounty Contract for example)

Gitcoin<->Github: Easy on the system, but only syncs with descriptions and other "github" stuff (

[2018-11-28 13:14] thelostone-mc commented on #2961
Thanks @usmanmuhd  ^_^

[2018-11-28 13:18] octavioamu commented on #2885
So the last call we said the button will be sync in web3 + sync the description. I think also if in the answer we don't have it will be nice to have "Last use date" so if < than 2 hours or something the button is disabled or something like that.

[2018-11-28 14:22] PixelantDesign commented on #2885
Thanks @kuhnchris!

[2018-11-28 14:27] usmanmuhd opened #2975 "Option being hid on hover in /grants"
In the navbar option is being hidden on hover at https://gitcoin.co/grants/
![screencast from wednesday 28 november 2018 07_54_47 ist](https://user-images.githubusercontent.com/26684281/49158314-de251580-f347-11e8-9552-516d148b3f7f.gif)

[2018-11-28 14:41] PixelantDesign commented on #2962
Awesome! Thank @willsputra @Anish-Agnihotri !

[2018-11-28 14:43] PixelantDesign commented on #2975
Thanks for the report @usmanmuhd !

[2018-11-28 15:19] willsputra commented on #2962
Thank you @Anish-Agnihotri! 🙂

[2018-11-28 16:23] mbeacom opened #2977 "Fix failing tests"
The CI/CD pipeline is currently kaput due to failing test cases in `master`.

## Fix relevant tests

- `TestAssembleLeaderboards.test_command_handle`
- `TestExpirationTip.test_handle`

## Failure Output

### TestAssembleLeaderboards.test_command_handle

[code]

### TestExpirationTip.test_handle

[code]

### Additional information

- [TravisCI Failure](https://travis-ci.org/gitcoinco/web/jobs/46083

[2018-11-28 16:51] mul1sh commented on #2184
@PixelantDesign yes it is, I've made the required changes to the PR, so i'm basically re-basing it  with master and fixing the merge conflicts and  then  I push it for review

[2018-11-28 17:08] jvmaia commented on #2977
yes, I would like to figure out what is the root cause of the error and fix it

[2018-11-28 17:49] PixelantDesign opened #2978 "BUG - Update Advanced Payout Payments to Not Say Tips"
### BUG - Update Advanced Payout Payments to Not Say Tips

![image 24](https://user-images.githubusercontent.com/238235/49171164-e7908c80-f30b-11e8-8df8-418929de43bf.png)

## Definition of Done
- [ ] Update language on Gitcoin Bot or Notifications Gitcoin
Advanced Payout should be marked as a 'Payout' here, as opposed to 'Cancel / New Tip'

[2018-11-28 18:05] willsputra commented on #2963
![stop work](https://user-images.githubusercontent.com/19514207/49172101-1265f980-f37b-11e8-87c3-acd4edb17bc0.png)

Sketch file:
https://drive.google.com/open?id=1hCHT2vAsPJu9x6fZnnonSzZUcAcrZntL

[2018-11-28 18:09] mbeacom commented on #2977
I am pushing a stopgap for this, but this is merely changing the total counts.

Moving forward, we need to be more cognizant of merging changes that result in test failures, whether it's due to missing test updates or genuine failures due to introducing new logic or changing existing logic.  You can ensure your tests are passing before raising a PR via:  `make pytest`

[2018-11-28 18:13] willsputra commented on #2949
This should display prior to the metamask dialog box popping up.

![cancel grant](https://user-images.githubusercontent.com/19514207/49172522-45f55380-f37c-11e8-940b-90cc60be8168.png)

Sketch file:
https://drive.google.com/open?id=1uusR0LUUdCkvdRk2Qe5n7D1M5or3oluv

@thelostone-mc @PixelantDesign

[2018-11-28 18:23] nasehim7 commented on #2684
Hey! I have opened up one more PR  #2976 with new accessories but I am unable to add any more work on https://gitcoin.co/issue/gitcoinco/web/2684/1673. Please advice me on this :D

[2018-11-28 18:32] #2977 closed

[2018-11-28 18:40] owocki commented on #2684
@nasehim7 no worries.. ill just tip you directly if/when 2976 is accepted

[2018-11-28 18:43] frankchen07 commented on #2864
should we just upload them here? I usually use the standard helmet pic in my Github avatar <-

[2018-11-28 18:57] frankchen07 commented on #2283
Thanks @Anish-Agnihotri! Wow, it looks great!

It doesn't seem the dots are necessary, it looks really good, and I like how you've added the nice touch of the CTAs being side by side and then coalescing as we make the screen smaller.

Once the screen is small enough for the carousel, does the CTA rotate automatically at a set time period (couple seconds)? I'm not sure I saw that in the video.

[2018-11-28 18:58] frankchen07 commented on #2741
Good point on the type of bounty making this ask a little more complicated as it seems. It's not super high priority right now and currently is un-groomed so perhaps we can visit this later.

[2018-11-28 19:02] pinkiebell commented on #2969
meow..
Just took a look at that, the bug seems to be in `create_activities`
(management/commands/create_activity_records.py )

The bounty hunter submitted work:
[code]
@owocki Paid the bounty out via advanced payout and tipped the bounty hunter thereof.

Now the `create_activities_records.py` mgmt command runs and hits:
[code]
The fulfillment is not accepted we record the 'work_done' event without

[2018-11-28 19:08] kuhnchris commented on #2969
sounds reasonable. want me to check with a quick debugging msg? (I'm working around in a similar area)

[2018-11-28 19:09] dereksilva opened #2983 "ETH value entered for bounty is changed after hitting Tab button"
**Describe the bug**
When creating a new bounty, if you hit the `Tab` button on your keyboard after entering an ETH value to fund, the ETH value is automatically changed.

**To Reproduce**

1. Visit https://gitcoin.co/funding/new
2. Enter a GitHub issue URL
3. Completed the Project Type, Permissions, Issue Details, Expired In, GitHub Username, and Notification Email fields
4. Choose `ETH` for Deno

[2018-11-28 19:14] pinkiebell commented on #2969
@kuhnchris Go on! Catch that weirdo 😄

[2018-11-28 19:33] kuhnchris commented on #2969
Seems to check out. It says it's not fulfilled on the geth sync request and gets a "latest" fulfillment. Basically it runs that record_bounty_activity without a fulfillment and fetches one according to the logic shown in the source above.

web_1      | INFO:dashboard.helpers:record_bounty_activity > profile at start: kuhnchris
web_1      | INFO:dashboard.helpers:record_bounty_activity > not fulfil

[2018-11-28 19:37] pinkiebell commented on #2969
@kuhnchris In our case the fulfilment is not accepted. Yours too?

[2018-11-28 19:38] kuhnchris commented on #2969
[code]

checks out

[2018-11-28 19:43] pinkiebell commented on #2969
@kuhnchris
Assuming all submissions are not accepted and you do now an advanced payout via tip and then run ./manage.py create_activity_records should trigger the bug.

[2018-11-28 19:51] frankchen07 opened #2986 "As a funder paying out using Gitcoin Advanced Pay, it's unwieldy for "pay using bounty funds" to cancel the bounty."
### User Story

As a funder paying out using Gitcoin Advanced Pay, it's unwieldy for "pay using bounty funds" to cancel the bounty.

### Description

Derek from Bloom:

I will also add that cancelling the bounty entirely is a bit of a bummer. It means I either need to:

a) Wait for all submissions to come in and then pay them all out at once, or
b) Pay out one submission in a timely manner, and th

[2018-11-28 19:59] frankchen07 opened #2987 "As a funder of Gitcoin, make it clear that when I am using Gitcoin advanced pay to `pay using bounty funds` that return of the escrow amount is done asynchronously with payment."
### User Story

As a funder of Gitcoin, make it clear that when I am using Gitcoin advanced pay to `pay using bounty funds` that return of the escrow amount is done asynchronously with payment.

### Why Is this Needed

It helps make advanced pay easier to understand.

### Current behavior

Derek of Bloom did these steps:

1. Opened a contest bounty worth 5 ETH.

2. Derek wanted to use Gitcoin adva

[2018-11-28 20:04] pinkiebell commented on #2969
Solution: Handle tips in `record_bounty_activity` !

[2018-11-28 20:06] frankchen07 opened #2988 "As a funder, I should be prohibited from funding at an extremely low price because setting reasonable and fair hourly rates is one of many ways that OSS is sustained."
### User Story

As a funder, I should be prohibited from funding at an extremely low price because setting reasonable and fair hourly rates is one of many ways that OSS is sustained.

### Why Is this Needed

Contributors who are working hard on OSS should be paid, at the very least, a fair amount. No lowballing!

### Current Behavior

Currently there is no minimum payment or alert triggered if a f

[2018-11-28 20:07] nasehim7 commented on #2684
Thanks @owocki :D

[2018-11-28 21:16] PixelantDesign opened #2989 "Message posted was delayed."
## Message posted was not timely. Should have been sent when worker started work.

https://github.com/foxer666/node-stratum-pool/issues/32

**Notes**
In my case particularly I've offered a developer working environment with everything installed and configured to save him some time.
That's why I was thinking live chat would be good idea, to send him credentials.

However, if his message was posted

[2018-11-28 21:39] PixelantDesign commented on #2983
Thanks for the report @dereksilva !

[2018-11-28 22:04] owocki commented on #2841
i'm so excited for this!

[2018-11-29 00:31] WizardOfAus commented on #2816
@bokkypoobah does many great things for the community!

[2018-11-29 02:16] bobjiang commented on #1843
busy days, back to work on it.

[2018-11-29 02:33] jvmaia commented on #2977
sorry @mbeacom, thanks for the hints, I'll be more careful next time!

[2018-11-29 06:01] Anish-Agnihotri commented on #2283
I’m glad you like it!

And I had actually completely forgotten about carousel rotation on smaller displays. TYVM for reminding me, I’ll be pushing it out in the final PR tomorrow.

Thanks,

Anish

[2018-11-29 07:29] kuhnchris opened #2993 "fix docker default redis configuration to avoid error on bgsave"
**Describe the bug**
After a while of running the web docker redis starts to hang and take the instance with it

**To Reproduce**
run web docker for an hour or so

**Expected behavior**
website still worken

**Proposed solution**
disable stop-writes-on-bgsave-error

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49205884-a605ed00-f3b0-11e8-9798-8b82a572b5cc.png)

[2018-11-29 07:39] kuhnchris commented on #2989
I noticed a big number of github calls, maybe check sentry if there are any prod errors regarding github? (maybe exceed api call limit)

[2018-11-29 08:31] PixelantDesign commented on #2283
looking good!

[2018-11-29 08:42] PixelantDesign commented on #2184
Thanks!

[2018-11-29 13:14] octavioamu commented on #2841
@kuhnchris how is going?

[2018-11-29 13:33] mbeacom commented on #2993
How long was Redis running? I haven't encountered this running on the standard `docker-compose.yml` configuration spanning days. 🤔
Are you running with the standard compose configuration when this occurs or a modified environment? Have you modified any caching/redis settings?

[2018-11-29 13:37] kuhnchris commented on #2993
usually after an hour or two. Running the default docker-compose.

[2018-11-29 14:16] thelostone-mc commented on #2949
@owocki

Hmm got a number in mind ?

Looks like the animation svg has to be redone 😅to meet the grant logo size ?
It happens in live now too

[2018-11-29 14:18] thelostone-mc commented on #2961
@usmanmuhd So we've got a bug for both the logos on hover!
Could you throw in a PR to ensure on hover we show the white svg ?

<img width="268" alt="screen shot 2018-11-29 at 7 31 36 pm" src="https://user-images.githubusercontent.com/5358146/49226769-84871e80-f40d-11e8-9e23-02c4c9b47747.png">

I've already added the white svg file in `grantz` for grant !
The wiring + same for master (kudos) will h

[2018-11-29 14:42] SaptakS commented on #2949
This should display prior to the metamask dialog box popping up.

@thelostone-mc @willsputra https://github.com/gitcoinco/web/pull/2995

[2018-11-29 14:53] mbeacom opened #2999 "ProfileHiddenException raised and not handled"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2253/

[code]

[2018-11-29 15:19] kuhnchris commented on #2841
Hi there @octavioamu status is in the PR, mbeacon wants me to do some changes and then I think we are OK with this, except you want some more changes

[2018-11-29 15:22] kuhnchris commented on #2993
[code]

[2018-11-29 16:17] PixelantDesign commented on #2544
It's hard to see a chronological order with tiles which is why I think @willsputra went with a list @kuhnchris

[2018-11-29 16:49] #2999 closed

[2018-11-29 18:32] PixelantDesign opened #3005 "As a Gitcoin user I'd like the ability to find another Gitcoiner via search on Gitcoin and invite them to a bounty."
As a Gitcoin user I'd like the ability to find another Gitcoiner via search on Gitcoin and invite them to a bounty.

Say I see someone active in the community slack, I can look them up by name and invite them to a bounty. I suppose one could just reach out in slack and do it that way, but I still think that a search would be nice.

### Definition of Done

[2018-11-29 18:41] PixelantDesign commented on #2200
@mul1sh are you still interested in completing this issue? I'll need to open it back up to the community if I don't hear back in the next 48 hrs. Thanks!

[2018-11-29 18:47] mbeacom commented on #2184
Looks like the PR needs adjustments based on @pinkiebell's review comments and the merge conflicts resolved.

Then it should be ready for final review/merge.

[2018-11-29 18:47] #2021 closed

[2018-11-29 18:47] #2025 closed

[2018-11-29 18:56] mul1sh commented on #2184
@mbeacom yeah true 🙂, though i'm having a some issues sorting the conflicts after a rebase master, in fact thats the only thing holding me back now. So once i do a clean rebase i'll update this PR.

[2018-11-29 18:56] mul1sh commented on #2200
@PixelantDesign  almost done with this too, just doing one final round of testing

[2018-11-29 18:59] owocki opened #3007 "DESIGN - as a new gitcoin community member, i want gitcoin.co/contribute, so i know how i can contribute to the network"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a new gitcoin community member, i want gitcoin.co/contribute, so i know how i can contribute to the network

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
it's ove

[2018-11-29 19:00] owocki commented on #3007
hey @vs77bb @PixelantDesign @willsputra any feedback on this?

also @coderberry -- youre a pro at galvanizing OSS communities.. is this a good idea?

[2018-11-29 20:07] captnseagraves opened #3010 "Create Grant - Error: The contract code couldn't be stored, please check your gas limit."
**Describe the bug**
Creating new contract errors out with `Error: The contract code couldn't be stored, please check your gas limit.` . This is a known bug in web3js: https://github.com/ethereum/web3.js/issues/1477

**To Reproduce**
Behavior is intermittent

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
Contract should deploy

**Screenshots**

[2018-11-29 20:40] owocki opened #3011 "metarelayer transaction network"
metarelayer transaction network

we earn tokens for doing subminer stuff

[2018-11-29 20:40] owocki commented on #3011
https://github.com/gitcoinco/labs/issues/7

[2018-11-29 21:14] PixelantDesign commented on #2544
@willsputra could you share the sketch file here?
@kuhnchris is going to start on this ticket.

[2018-11-29 21:25] PixelantDesign opened #3013 "BUILD - As a Gitcoiner, I'd like to have a weekly recap on how my bounties are doing"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I'd like to have a weekly recap on how my bounties are doing.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: If a funder has multiple bounties being work

[2018-11-29 22:10] octavioamu opened #3014 "Kudos are not shown in the bounty activity"
**Describe the bug**

If a kudos is sent related to a bounty gitcoin is not handling the activity_event: new_kudos

![image](https://user-images.githubusercontent.com/1358093/49255055-12fd9f00-f412-11e8-88d3-68dba4f51b99.png)

[code]

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

https://gitcoin.co/issue/aragon/aragon-monthly/271/1770

**Expected behavior**
[comment]: # (A clear

[2018-11-29 22:20] pinkiebell commented on #2370
So, I need someone to test kudos :)
It seems syncing kudos easily locally is still on the roadmap 🤣

[2018-11-29 22:32] kuhnchris opened #3016 "Weird class names on new in-dapp purchasing objects on avatar builder"
**Describe the bug**
(asthetic bug)

**To Reproduce**
check source of avatar builder

**Expected behavior**
classes properly named

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49256345-fe7bcf80-f42e-11e8-9f14-9ceabd48b136.png)

[2018-11-29 22:42] owocki commented on #2370
theres some docs on how to get local kudos minted over at https://github.com/gitcoinco/web/blob/master/docs/KUDOS.md#how-do-i-gettest-kudos-on-my-local-rpc-node

[2018-11-29 23:19] kuhnchris opened #3017 "Receiver name / address on invoice"
### User Story
For easier filing and better overview print receiver address or id or txhash on invoice

### Why Is this Needed
Easier findable during issue analysis; maybe tax relevant?

### Description
Feature

### Current Behavior
No recipient

### Expected Behavior
Recipient shown on invoice

### Definition of Done
- [ ] recipient shown on invoice

[2018-11-29 23:24] kuhnchris opened #3018 "Payout->Advanced->naming issue (right hand side)"
**Describe the bug**
By entering different names into the box during advanced payouts you pay the tip to an amalgamation of names.

**To Reproduce**
enter different names

**Expected behavior**
the entered name should appear on the right

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49258433-bf04b180-f435-11e8-8a25-9170151617df.png)

[2018-11-29 23:32] Anish-Agnihotri commented on #2987
This could be something that is possibly added to the pay from bounty funds tooltip here:

![payfrombountyfunds](https://user-images.githubusercontent.com/4398624/49258898-150d3100-f405-11e8-9c89-33e1c71aaa5a.JPG)

Or, it could also be added as another alert? Something along the lines of:

![orangeerror](https://user-images.githubusercontent.com/4398624/49258918-25251080-f405-11e8-9704-c0fea06b6ba

[2018-11-30 05:34] PixelantDesign opened #3021 "As Gitcoiners I'd like to receive Kudos for being at the top of the leaderboard."
### User Story

As a **contributor**, I'd like to be recognized on Gitcoin for being in one of he top 5 spots on the leaderboard.

As a **funder**, when I browse a profile, I'd like to know who is at the top of the leaderboard, and for how long.

### What
Take these beautiful Kudos and code them up so that they're sent to our top 5 leaderboard members.

### Why
We want to send Kudos to our top lea

[2018-11-30 05:41] PixelantDesign commented on #2261
Thanks for the PR @santteegt!

[2018-11-30 05:57] PixelantDesign commented on #3016
Do you have any suggestions @kuhnchris ?

[2018-11-30 06:09] PixelantDesign commented on #3007
I like the idea, and it's definitely needed.
I was thinking #1672 and #1860 could house this type of info.

It's not as sexy but I wonder if we could add a section in the developer guide for now?
https://gitcoin.co/help  Could spruce up the guide with some images/formatting.

cc @pinkiebell

[2018-11-30 06:16] #2211 closed

[2018-11-30 06:32] PixelantDesign commented on #2184
The PR was closed, is there a new PR we should track @mul1sh?

[2018-11-30 06:33] PixelantDesign commented on #2200
Thanks for the update! Could you share a video? @mul1sh

[2018-11-30 06:40] pinkiebell commented on #3007
Yes, the funder/developer guides would be a good fit for this.
@owocki If you check the wagtail pull request again, you should be able to preview the pages.
If you want to publish them you to copy & paste the existing content to a new page. (Bug due to wagtail internals)

[2018-11-30 06:43] PixelantDesign commented on #1183
Closing since this design isnt relevant anymore.

[2018-11-30 06:43] #1183 closed

[2018-11-30 06:46] PixelantDesign opened #3022 "As a Gitcoin Admin, I'd like the issues I've re-marketed to surface to the top of the issue explorer as a newly opened issue."
**To be worked on after #2184 is completed**

### User Story

As a Gitcoin Admin, I'd like the issues I've re-marketed to surface to the top of the issue explorer as a newly opened issue.

As a Contributor, I'd like to see re-marketed issues at the top of the issue explorer so I'll know that it is open and available to be worked on.

### What
When an issue is remarketed, it should surface to the t

[2018-11-30 06:51] PixelantDesign commented on #1033
Hi @usmanmuhd let us know if you have any questions!

[2018-11-30 06:53] usmanmuhd commented on #1033
@PixelantDesign As I understand, currently we do not display the submitted bounty requests to gitcoin users(except admins). So I have to build that part right?

[2018-11-30 07:00] PixelantDesign commented on #2937
Good idea. The only thing I'm not sure about is 12 hrs to clear. It's a good starting point though. We can adjust after we see how it's working.

[2018-11-30 07:05] PixelantDesign commented on #2515
Yes it will when we push it out! Also the weekly bounties email might help.
https://github.com/gitcoinco/web/issues/3013

[2018-11-30 07:07] #2226 closed

[2018-11-30 07:14] PixelantDesign commented on #2510
So it's a button that admin's can press....
...and then the verified icon shows up on the users profile
...and they also receive a Kudos for being verified?

verified icon is nice for at a glance.

[2018-11-30 07:14] kuhnchris commented on #3016
Not really a suggestion (except for cleaning up the code, I guess), just making sure this is not something that breaks anything display-wise, especially the class "[]" and the many empty lines between the class options.

[2018-11-30 07:17] PixelantDesign commented on #2204
@oogetyboogety I'll need to re-market this if we don't hear back in 48 hrs.

[2018-11-30 07:34] PixelantDesign commented on #1179
@usmanmuhd does the ^ help?

[2018-11-30 07:35] PixelantDesign commented on #2651
hmmm we have kudos on the page already...not sure im following.

[2018-11-30 10:35] girards opened #3023 "code snippet in issue description overlaps"
### Who
As a user exploring the issues available on Google Chrome
### What
When 2 `code-snippet` are in a `<li> ` the padding overlapse and hide the snippet above like seen in[ this issue](https://gitcoin.co/issue/ethereum/py-ssz/1/1878)

![image](https://user-images.githubusercontent.com/6340743/49283901-4a606000-f493-11e8-8dad-a467aefe68ea.png)

### Why

The size of the `padding ` of the `code-s

[2018-11-30 12:21] mul1sh commented on #2200
@PixelantDesign will do in a bit once I submit my work

[2018-11-30 12:35] thelostone-mc commented on #1033
@usmanmuhd the submitted bounty requests should be visible to all users via a filter on the explorer. That bit has been built out [here](https://github.com/gitcoinco/web/pull/2371)

I believe it's
- the emails
- bounty request form
- fund issue button on the details  on a bounty request

@vs77bb / @PixelantDesign could we throw some clarity on

-  when a gitcoin request i filled out -> the potenti

[2018-11-30 12:54] PixelantDesign commented on #1033
@thelostone-mc

What we've talked about in the past was anyone can fund a Gitcoin Request.

If someone wants to fund a request, I imagine clicking Fund - taking the user to the fund issue form with some of the information pre-filled (if possible) since we already know the Github Issue information . The rest of the fields will need to be completed by the funder.

cc @willsputra since it looks like

[2018-11-30 12:56] PixelantDesign commented on #2184
Thanks for the update @mul1sh

[2018-11-30 12:58] PixelantDesign commented on #2184
Closing this since we're mostly working on the PR now.

[2018-11-30 13:00] mul1sh commented on #2184
@PixelantDesign sure I intend to actually get the conflicts fixed today

Ok cool, i'll alert you in the PR to test when its ready

[2018-11-30 15:38] owocki commented on #3021
very excited for this!

[2018-11-30 15:50] owocki commented on #3021
@PixelantDesign do we want to send these kudos both to the top funders AND top coders?  or just one or the other?

[2018-11-30 16:03] coderberry opened #3027 "Avatar Builder stacks warnings when choosing paid options"
**Describe the bug**
[comment]: When I am building my avatar and I select the green (paid only) options, the message does not go away, and instead stacks when I try again.

**To Reproduce**
[comment]: See video

**Expected behavior**
[comment]: I would expect the warning message to go away after a few seconds.

**Screenshots**

Video: https://v.usetapes.com/coixS7tWgf

**Desktop (please complete t

[2018-11-30 16:31] willsputra commented on #2867
Just an update (also related to https://github.com/gitcoinco/Marketing/issues/8 + #2778), we're currently mapping the flow of the pages to see how the pages and nav relate to each other.

Will probably also do some user tests before changing the homepage, so both new and repeat users can still access their usual stuff (issue explorer, fund bounties etc.) easily without being confused. 🙂

[2018-11-30 16:36] thelostone-mc commented on #2961
Yup I meant the very same ^_^

[2018-11-30 16:42] owocki commented on #3022
@PixelantDesign as were building the logic for this, i'd like us to also consider building a premium feature wheren ppl can pay to make their bounty 'promoted'.   i can write up a seperate ticket if need

[2018-11-30 17:30] frankchen07 commented on #2987
The alert design looks good. I think I would explain it like below, just for a little bit more clarity. Tell me what you think!

[2018-11-30 18:09] oogetyboogety commented on #2204
@PixelantDesign Please check my comments on my PR. There is a change to the requirements I tagged you on. Let me try to find the link now.

[2018-11-30 18:10] oogetyboogety commented on #2204
@PixelantDesign I needed to find out if you are okay with not greying out the button, but removing it completely, as suggested by @pinkiebell . Please let me know your input. We are close to being finished, so remarketing would be fine with me, but I can continue to help if desired. But please let me know your input on the design change.

[2018-11-30 18:12] oogetyboogety commented on #2204
@PixelantDesign https://github.com/gitcoinco/web/pull/2364#discussion_r234865004

[2018-11-30 18:31] owocki commented on #3021
just sent these kudos to the top contributors  on this weeks leaderboard to leanly test  https://github.com/gitcoinco/web/issues/3021

[2018-11-30 18:42] owocki opened #3028 "idea to be able to pay for bounties in fiat"
from @austintgriffith

[code]

[2018-11-30 19:06] thelostone-mc commented on #2803
Open issues are captured here https://github.com/gitcoinco/web/issues/2949

[2018-11-30 19:06] #2803 closed

[2018-11-30 19:06] thelostone-mc commented on #2862
Open issues are captured here #2949

[2018-11-30 19:06] #2862 closed

[2018-11-30 19:06] thelostone-mc commented on #2897
Open issues are captured here #2949

[2018-11-30 19:06] #2897 closed

[2018-11-30 19:38] frankchen07 commented on #2898
@jdorfman - apologies for the delay. Sharing is weird, so I've created a clone here: https://docs.google.com/spreadsheets/d/1k8w8PX59XISYWaRLmUwQvdsLDCiDH0jBIY08qsKpruw/edit?usp=sharing

[2018-11-30 19:41] PixelantDesign commented on #3021
If we did top Funders - I think the Kudos should be different, dont you?

Lean test is a great idea.

[2018-11-30 19:50] owocki commented on #3021
yeah they should be different prob

[2018-11-30 19:56] owocki opened #3032 "as a user, i want to show off my kudos in my avatar, so i can show off my skillz at a glance"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to show off my kudos in my avatar

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
kudos are a great way to show off what i've done / can do

### Desc

[2018-11-30 19:57] owocki commented on #3032
@PixelantDesign @kuhnchris @Anish-Agnihotri @nasehim7 any feedback on this?

its not a top priority for the core team.. just fleshing out the idea for now

[2018-11-30 20:01] owocki commented on #2651
hmm this seems related to https://github.com/gitcoinco/web/issues/3032

i like this => <img src='https://user-images.githubusercontent.com/1358093/48108293-b996bb80-e229-11e8-88b7-ac2bd0ccff4a.png'> -- it'd be interesting to have avatars across the site have their kudos shown in this capacity (so you can see ppls skills at a glance without having to click through).. but maybe its too much and we s

[2018-11-30 20:16] kuhnchris commented on #3032
we could have the possibility to add 1 or 2 kudos the user selects to show to appear beside his name. (for example when applying). Could be integrated into settings. You could also do something like a "show case" where user can pin the kudos they get and want to show off, for example if you want to show off a special kudos you pin it to you can have like 5 pinned kudos that will be shown on the to

[2018-11-30 20:20] kuhnchris commented on #3028
Is that basically fiat -> "meta token" -> meta tx (as shown by austin) -> contract -> bounty ?
basically we have a intermediate layer where we take the fiat tx, convert it to a equality (for example DAI), and upon finishing the bounty releasing it?

Basically it would mean to integrate a Stripe bridge to metatx which would result into the user having a "pseudo wallet" (or no wallet at all, just a

[2018-11-30 21:29] PixelantDesign commented on #2651
I like the idea behind it. I think I just saw this on another ticket.
What if we displayed a flyout on hover of any avatar? This could contain Kudos.

[2018-11-30 21:38] PixelantDesign commented on #2204
Sorry @oogetyboogety. If we are close, I won't re-market. I thought you may have been busy with something else.

 I looked at the screenshot you posted on the PR, what is the reasoning for removing the Send Payment Reminder button completely vs. graying out? In what instance would that happen?

[2018-11-30 21:44] PixelantDesign commented on #2987
Yes! I like @frankchen07's suggestion.

[2018-11-30 21:48] PixelantDesign commented on #3022
@owocki we have something like this in the back log #2390  and build ticket #2720. Open to other ideas though.

[2018-11-30 22:10] owocki commented on #2651
I really like this idea

[2018-11-30 22:30] captnseagraves commented on #3010
Addressed with PR https://github.com/gitcoinco/web/pull/3035. But need to eventually update with web3 fix when released.

[2018-11-30 22:30] #3010 closed

[2018-11-30 23:00] owocki opened #3037 "fix deep-extend security vuln"
pasted from github alerts:

1 deep-extend vulnerability found in package-lock.json on Oct 8
Remediation
Upgrade deep-extend to version 0.5.1 or later. For example:

"dependencies": {
  "deep-extend": ">=0.5.1"
}
or…
"devDependencies": {
  "deep-extend": ">=0.5.1"
}
Always verify the validity and compatibility of suggestions with your codebase.

Details
CVE-2018-3750 More information
high severity

[2018-11-30 23:24] owocki opened #3039 "once wagtail is merged, update /help page to be based upon wagtail"
once https://github.com/gitcoinco/web/pull/2130 is merged, we'll want to update `/help page` to be based upon wagtail

[2018-11-30 23:25] owocki opened #3040 "once wagtail is merged, migrate over medium.com/gitcoin content to gitcoin.co"
once wagtail is merged, migrate over medium.com/gitcoin content to gitcoin.co

https://github.com/gitcoinco/web/issues/3039

[2018-12-01 00:12] PixelantDesign commented on #2651
![kudosflyout](https://user-images.githubusercontent.com/238235/49321172-d1cdc380-f4d3-11e8-9441-2b2358ae08ce.png)

[2018-12-01 00:15] kingjacob opened #3041 "Improve the accessibility of Gitcoin.co"
### Why Is this Needed
To allow people with disabilities to access the site.
[https://www.w3.org/wiki/Accessibility_testing#The_importance_of_the_user_interface](https://www.w3.org/wiki/Accessibility_testing#The_importance_of_the_user_interface)

### Current Behavior
<img width="1278" alt="screen shot 2018-11-30 at 3 57 02 pm" src="https://user-images.githubusercontent.com/806312/49321101-53185c80

[2018-12-01 03:20] Anish-Agnihotri commented on #3028
I'm not the most familiarized with the concept of metatx, but I've used Stripe bridges for other virtual currencies (non-crypto) in the past and just wanted to chime in and add onto @kuhnchris by saying that a PoC on this would be super cool.

[2018-12-01 04:13] Anish-Agnihotri commented on #2987
Sounds good to me! Pushed out the PR above.

[2018-12-01 05:35] samthomson commented on #3041
This would require changing the color of foreground text and possibly the background color/graphic (to meet the contrast criteria). Is that permissible or is 100 to high a goal?

[2018-12-01 06:00] nasehim7 commented on #3032
It's great to have kudos indeed. Integrating the kudos inside the artboard will place so many elements in a small area which I think will decrease the beauty of avatar as it will look more crowded.  I was thinking of aligning top 3, 5 or maybe more kudos surrounding the thumbnail of the avatar, similar to this:
<img width="594" alt="1" src="https://user-images.githubusercontent.com/18035782/493247

[2018-12-01 06:36] kingjacob commented on #3041
@samthomson I'm not sure... but if it's not permissible, a 90 would be fine as well. The labels and descriptions on elements is the biggest one, so screen readers can parse it.

Checking manually there doesn't seem to be any huge issues with color.
- https://www.toptal.com/designers/colorfilter?orig_uri=https://gitcoin.co/&process_type=tritan
- https://www.toptal.com/designers/colorfilter?orig_uri

[2018-12-01 07:41] jdorfman commented on #2898
All good @frankchen07 I'll get started on this tomorrow.

[2018-12-01 10:09] austintgriffith opened #3043 "Tip button along with other issue buttons"
As a funder I want to have a button that takes me to the tips page so I can give a tip.

I stared at these options for a while and then I had to go google "How do I send a tip on Gitcoin":
![image](https://user-images.githubusercontent.com/2653167/49326896-40337580-f516-11e8-8905-c28be83e49b6.png)

I found https://gitcoin.co/tip/send/2 but it seems like that should but a button with the others?

[2018-12-01 10:35] austintgriffith opened #3044 "Broken Kudos Loader for Basic Payout"
I'm getting a weird broken loader for suggested Kudos on the basic payout page:

![image](https://user-images.githubusercontent.com/2653167/49327114-09f7f500-f51a-11e8-987a-017340537714.png)

[2018-12-01 11:03] thelostone-mc commented on #3043
Ah that makes a lot of sense! Why didn't I do that already 🤦‍♂️

@octavioamu @willsputra should we evaluate if we can evaluate them into a bunch of dropdowns as the list looks pretty huge :P

[2018-12-01 15:22] owocki opened #3046 "bug - kudos are repeated when you 'load more kudos on your profile"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

go to https://gitcoin.co/profile/owocki
note the kudos that are loaded
click 'see more kudos'
some of the kudos that were already loaded will be re-loaded

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

see above
**Expected behavior**
[comment]: # (A clear and concise description of what you

[2018-12-01 17:35] #2962 closed

[2018-12-01 17:37] octavioamu commented on #3043
Yes today that option is inside the advanced payment I think.

[2018-12-01 21:09] Anish-Agnihotri commented on #2283
Good Afternoon!

Just finished this up. Fixed the glitch that was occurring, added an 8 second auto-rotate on smaller display sizes, and added a 2s intro animation so that the auto-rotate doesn't look choppy.

Here is a video if it in action across the resolutions: https://streamable.com/3ks86

Let me know if you've got any other suggestions, concerns, ideas, and I'd be glad to incorporate those.

[2018-12-02 00:52] ceresstation opened #3049 "Gitcoin says transactions failed when they succeeded"
**Describe the bug**

From one of our funders: ```I accidentally submitted a bounty 4 times. Ledger & the most recent metamask extension somehow don't play well together and it kept saying the transaction failed when it apparently must have succeeded. The Gitcoin UI however doesn't let me cancel the bounties because I only see one active one.```

*Issue:*
https://github.com/centrifuge/precise-proo

[2018-12-02 06:12] ej-sanmartin commented on #3041
Hello!

So I notice that this is a Django app so in order to add an alt attribute to the images I would have to add variables for the alt attribute that would be expecting a string data.

An example of this, using this file (this is your repo and the directory leading to the file) `web/app/dashboard/templates/dashboard/index.html` on line 49:

[code]

This would require you to add to your database

[2018-12-02 18:29] jdorfman commented on #2898
@frankchen07 can you give me some feedback in the spreadsheet before I update the meta tags?

[2018-12-03 08:05] thelostone-mc commented on #3041
@ej-sanmartin hmm so for static images -> we could actually write up the alt tag as they are not stored in db.
For the images retrieved from db -> we could use a field from the model which best represents the image as opposed to creating a alt entry in db.
Would that make sense ?

[2018-12-03 14:21] owocki commented on #3049
@ceresstation let the user know they can cancel the other bounties on bounties.network with their metamask

https://explorer.bounties.network/bounty/1885
https://explorer.bounties.network/bounty/1886
https://explorer.bounties.network/bounty/1887
https://explorer.bounties.network/bounty/1888

if they wish to consolidate their bounties on gitcoin after they do this, ask them to please leave one of t

[2018-12-03 14:33] willsputra commented on #2283
@Anish-Agnihotri looking good! just curious, would people be able to swipe left/right on mobile? if not, we might want to make the arrows a tad bigger so they're easier to touch :)

@PixelantDesign what do you think?

[2018-12-03 14:34] mbeharry commented on #3040
Hi All,

A few SEO considerations to maximize this migration...

1. URL structure: if they will be changing from what they were on Medium, then we must 301 redirect them.  I can help define these redirects, taxonomy, and whatever else so please let me know.
2. Canonical tags can be added to the top 50 Medium articles so the pass SEO equity to our newly migrated pages.  I can help but we cant defin

[2018-12-03 14:39] willsputra commented on #3013
@PixelantDesign edited your original post to fix the link under 'References'.

Sketch file here!
https://drive.google.com/open?id=1aKejF0wEmBXk6ezjT6DpJBOB0j1sx9Wc

[2018-12-03 14:54] Anish-Agnihotri commented on #2283
@willsputra

That makes sense for sure.

Ideally, we should just use a premade library for these carousel functions, since they would integrate all of this automatically, but I don’t know what Gitcoins policy on adding scripts and dependencies is.

For the time being, I’ll add in touch swipe functionality on the elements for mobile devices directly into my carousel script.

Let me know if you’ve g

[2018-12-03 15:18] owocki commented on #3044
@octavioamu is this perhaps related to your work with the scrollable kudos?

[2018-12-03 15:22] octavioamu commented on #3044
🤔 is using `{% static '/v2/images/loading_v2.gif' %}` maybe the image was removed? Is loading in local.

![image](https://user-images.githubusercontent.com/1358093/49382774-6c114f80-f6fe-11e8-8eec-b583f552b7fb.png)

[2018-12-03 15:29] willsputra opened #3051 "Worker shows up in 'Work Started' even though he/she has only applied and has not been approved"
**Describe the bug**
Worker shows up in 'Work Started' even though he/she has only applied and has not yet been approved.
<img width="974" alt="screen shot 2018-12-03 at 10 18 04 am" src="https://user-images.githubusercontent.com/19514207/49383096-f2f01780-f752-11e8-9848-6ed7e7d4e66a.png">

**To Reproduce**
1. Funder creates a traditional, approval-required bounty
2. Worker applies for work
3. Wor

[2018-12-03 15:30] willsputra commented on #2542
@kuhnchris I wonder if this could be related to #3051?

[2018-12-03 15:30] thelostone-mc commented on #3051
@willsputra Could you throw in the bounty url?

[2018-12-03 15:30] willsputra commented on #2283
awesome thanks @Anish-Agnihotri !

[2018-12-03 17:13] octavioamu commented on #3046
We need to fix this one, looks like some kudos are filtered out also so some people think something in the tx fails.
https://gitcoin.co/profile/@pumpkingwok
https://gitcoin.co/kudos/131/gitcoin_bot

[2018-12-03 17:22] owocki commented on #2424
hey @captnseagraves is there a new contract? i know we've made some changes WRT to contract versioning at the very least

[2018-12-03 17:44] nasehim7 commented on #2496
Hey! I would like to take on this issue and fix it. Consider me as someone little new to the codebase but  a quick learner so yes - let's fix this thing. :D
I checked that this error is coming from the function helper_handle_approvals(request, bounty) in views.py.

[2018-12-03 18:50] jdorfman commented on #2898
I'm waiting for @frankchen07 to give me the next steps

[2018-12-03 20:47] PixelantDesign opened #3057 "Grants Email QA"
As a grants user, I'd like to be notified of major actions that I take on the Gitcoin grants platform (create grant, edit grant, fund grant, and the like).

This is a QA Ticket for the following links:
captnseagraves [12:53 PM]
https://grants.gitcoin.co/_administration/email/thank_you_for_supporting,
https://grants.gitcoin.co/_administration/email/new_supporter, https://grants.gitcoin.co/_administ

[2018-12-03 23:02] austintgriffith commented on #3044
not sure. I can get to that image now :) I wouldn't worry about it then

[2018-12-04 01:52] #2666 closed

[2018-12-04 07:06] aashutoshrathi opened #3059 "Dependency error in Build"
**Describe the bug**
Build suggests that few dependencies are not in order of what it should be.

**To Reproduce**
Check travis or install requirements locally.

**Screenshots**

[code]

[2018-12-04 07:48] lucasvo commented on #3049
I'll close them on bounties network. Let me know if you need any more details on how they were accidentally created.

[2018-12-04 13:33] octavioamu opened #3062 "crowdfunding showing 'ETH' instead of 'USD'"
**Describe the bug**

Should be USD not ETH

![image](https://user-images.githubusercontent.com/1358093/49445096-2e70fd00-f7b8-11e8-91c8-96fcaeea6296.png)

https://gitcoin.co/issue/gitcoinco/web/2404/1415

[2018-12-04 16:22] jdorfman commented on #2898
Doing now:

[2018-12-04 16:47] owocki commented on #3049
Thanks. I think I understand the OP how it happened ..

We are brainstorming ways internally to make the UI a little more anti-fragile here on a call on Thursday, but if you have any suggestions @lucasvo let us know!

[2018-12-04 18:36] owocki opened #3067 "grants - migrate from 4 gwei to dynamic gas prices"
grants - migrate from 4 gwei to dynamic gas prices (ideally, driven by the same logic as bounties, displayed below)

<img width="791" alt="screen shot 2018-12-04 at 11 36 29 am" src="https://user-images.githubusercontent.com/513929/49464697-dbe41080-f7b8-11e8-8807-947bc1327490.png">

[2018-12-04 18:47] thelostone-mc commented on #3062
@anshumanv looks like it worked ^_^
Looking forward to the PR :D

[2018-12-04 18:50] thelostone-mc commented on #2898
@jdorfman Do you have a PR with the updated meta tags for the HTML files ?

[2018-12-04 19:08] anshumanv commented on #3062
Awesome, first contribution to gitcoinco/web so setting up the local instance now 🎉
@thelostone-mc @owocki

[2018-12-04 20:17] owocki opened #3069 "grants - failed tx's because approve() amount is wrong"
see dteails on https://gitcoincore.slack.com/archives/CBDTKB59A/p1543950428135100

we need to account for the cost of the subminer in the `approve()` txs

[2018-12-04 20:19] owocki opened #3070 "as a gitcoin team member, i want to add support for a % subminer fee in grants, so i can keep the lights on"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a gitcoin team member, i want to add support for a % subminer fee in grants, so i can keep the lights on

see convo on chat https://gitcoincore.slack.com/archives/CBDTKB59A/p1543879674093100

discussion: https://gist.github.com/frankchen07/96cdcbc3b200a7213c9d918fecfc906e

### Description

[comment]: # (Feature or

[2018-12-04 20:20] owocki opened #3071 "add grants to activity_report.py"
report all the grant contributions in activity_report.py similar to tips/bounties/kudos

[2018-12-04 20:20] owocki opened #3072 "grants - dont hardcode tx history"
dont hardcode tx history, it should have dynamic tx history

[2018-12-04 20:20] owocki opened #3073 "grants - when you sign in metamsk, it looks all scrambled. we need to make it so you can see what youre signing"
when you sign in metamsk, it looks all scrambled.  we need to make it so you can see what youre signing

edit:

this is when you make a new contribution to an exsiting subscription, via metamask. Ideally we'd like the contributor to see the details of what they're signing.

@danlipert says it's most likely from the signature method within the contract, and and Kevin Seagraves said it would involve

[2018-12-04 20:21] owocki opened #3074 "grants - send fractions of a token"
we need to be able to send fractions of a coin in both grants/new and fund/new

[2018-12-04 20:21] owocki opened #3075 "grants - if you close browser it wont create a new grant or funding"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
 if you close browse it wont a new grant or funding

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
try to fund a grant and close browser before tx clears
no new funding will be recorded

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
try to

[2018-12-04 20:24] owocki opened #3076 "documentation on how to run the subminer and how grants technically works"

[2018-12-04 20:24] #2732 closed

[2018-12-04 20:24] #2520 closed

[2018-12-04 20:27] owocki opened #3077 "my created grants has dupes"
http://bits.owocki.com/3d9f4ea0cf0e/Screen%20Shot%202018-12-04%20at%201.26.58%20PM.png

[2018-12-04 20:27] owocki opened #3078 "how do i view canceled / inactive grants? there seems to be no way"

[2018-12-04 20:27] owocki opened #3079 "on index page, if i do a search, it'd be nice if the 'keyword' i input showed up in the searchbar so i remember what i searched for."

[2018-12-04 21:07] mkosowsk commented on #2037
Still interested in this one! :)

[2018-12-04 21:09] owocki opened #3080 "as a user, i want to get technical mentorship on demand, so i can solve whatever coding problem i'm having in the moment."
# story

as a user, i want to get technical mentorship on demand, so i can solve whatever coding problem i'm having in the moment.

# inspiration

1 of my pet theories is that to creative value in the internet of money, we’ll have to come up with core primitives that can be used to construct next-generation financial services.  each of these financial services will creative value by creating p2p f

[2018-12-04 21:21] mkosowsk commented on #2469
Hi @ceresstation, I can't seem to stop work for @arealdeadone and start work for @FrederikBolding. Could you please advise when you have a moment? Thanks!

[2018-12-04 21:51] #1860 closed

[2018-12-05 02:42] ceresstation commented on #2469
Hey @FrederikBolding you're good to go, glad to have you working on this :)

[2018-12-05 12:14] #3062 closed

[2018-12-05 12:17] octavioamu commented on #3062
@anshumanv merged, please submit work in the bounty page so you get paid. Thanks for the quick PR.

[2018-12-05 12:24] #2975 closed, assigned to nobody

[2018-12-05 12:38] PixelantDesign opened #3084 "Confirm Wallet Address When User Applies for Work"
**The Issue:**
Brief Summary: When submitting a request to Start Work on a bounty, the Gitcoin system does not indicate where the funds will be sent if your work is approved. Furthermore during this process, if you have an existing ETH address on file, the system A) fails to inform you that you do, B) does not specify what this address is, and C) does not inform you that funds will be automaticall

[2018-12-05 12:44] FrederikBolding commented on #2469
@mkosowsk @ceresstation arnibrewster Actually, I have a question, should it replace all Etherscan links etc or add different links for Blockscout everywhere?

[2018-12-05 13:06] PixelantDesign commented on #2404
@usmanmuhd looking forward to seeing a pr!

[2018-12-05 16:01] #2354 closed

[2018-12-05 16:32] thelostone-mc commented on #3078
As of now it can be viewed in Grant Profile!

cc @PixelantDesign / @willsputra to figure out where this would go in

[2018-12-05 17:36] PixelantDesign opened #3086 "Grants QA 12/5/18"
- [ ] Date box not working, user will expect to be able to click into it to edit mm-dd-yy.
<img width="801" alt="screen shot 2018-12-05 at 12 24 21 pm" src="https://user-images.githubusercontent.com/238235/49532318-3ac58a80-f88a-11e8-9f55-c97d39bc170c.png">
<img width="783" alt="screen shot 2018-12-05 at 12 24 29 pm" src="https://user-images.githubusercontent.com/238235/49532338-44e78900-f88a-11e8

[2018-12-05 17:37] anshumanv opened #3087 "`Fund Issue` button centred in mobile view?"
Hi there, I was just running some mobile view checks and saw the buttons on hamburger icon on unfolding has just the `Fund Issue` button centred while others are left aligned.

![image](https://user-images.githubusercontent.com/21009455/49532331-447adc80-f8e2-11e8-8944-c12474ccb226.png)

If this is intentional then I'll close this issue or I'll be more than happy to fix it and send a PR. 😄

cc @ow

[2018-12-05 17:39] owocki opened #3088 "email bug"
hey all.. good news.. i’ve got a new grant supporter!  bad news ==> bad copy / bad image

http://bits.owocki.com/19bdeb45da8e/Screen%20Shot%202018-12-05%20at%2010.37.57%20AM.png

[2018-12-05 17:39] frankchen07 opened #3089 "As a grants user, when I click into a grant, and there are no updates and milestones, the bottom of the page looks cut off"
### User Story

As a grants user, when I click into a grant, and there are no updates and milestones, the bottom of the page looks cut off

### Why Is this Needed

Looks ugly.

### Current Behavior

<img width="1674" alt="screen shot 2018-12-05 at 12 26 39" src="https://user-images.githubusercontent.com/7516920/49532517-aad41080-f88a-11e8-84b7-2fd454ae505c.png">

### Expected Behavior

Add some wh

[2018-12-05 17:42] owocki opened #3090 "add grants pages to sitemap"
add grants pages to sitemap

[2018-12-05 17:42] anshumanv commented on #3087
Woah, seems to be centered in pages other than the index page 🤔

![image](https://user-images.githubusercontent.com/21009455/49532762-45f8d480-f8e3-11e8-8889-f10e1801e1ec.png)

[2018-12-05 17:44] PixelantDesign commented on #3088
Suggestion:
2 [token name] every [time period]

[2018-12-05 17:46] frankchen07 opened #3091 "As a grants user, when I want to contribute to a grant, there's no searchable tokens"
### User Story

As a grants user, when I want to contribute to a grant, there's no searchable tokens.

### Why Is this Needed

What denomination should I contribute in? Let me select or type in thar.

### Current Behavior

<img width="918" alt="screen shot 2018-12-05 at 12 31 42" src="https://user-images.githubusercontent.com/7516920/49532923-9c3a2900-f88b-11e8-8834-e02361ea270e.png">

Unsure if t

[2018-12-05 17:58] FrederikBolding commented on #2808
Sorry, I wasn't aware that I had this issue. I've stopped work as I'm busy with another issue 😄

[2018-12-05 17:59] FrederikBolding commented on #2469
I've begun work here: https://github.com/FrederikBolding/web/tree/issue-2469 (and mostly finished 😆 ) - But just realized that I wasn't sure if it should replace Etherscan, still waiting for an answer on that.

[2018-12-05 21:36] owocki opened #3094 "add support for Contribution.tx_status field in update_tx_status management command"

[2018-12-05 21:51] owocki commented on #3044
this happened to me today.. i am at the office with high speed internet right now

the img points to `https://gitcoin.co/v2/images/loading_v2.gif` , not the missing `static/` part of the link

[2018-12-05 21:52] kuhnchris commented on #3090
So basically over here (app/app/sitemaps), or do you want something special (like with the Issues and Bounties, e.a. listing the grants)?
https://github.com/gitcoinco/web/blob/69fa1b5424f5f62f9ed04b38c4c87f41807d9714/app/app/sitemaps.py#L9-L23

[2018-12-05 21:54] kuhnchris commented on #3088
Well, 2 Token every second seems hardcore... must be a hell of a therapy you're getting.
Anyways, looks like someone got confused when trying to add 'token name' to the translation ;-)
https://github.com/gitcoinco/web/blob/b6a3f05b90278b5686ecf6819226f92f0de7bdc2/app/retail/templates/emails/grants/new_supporter.html#L82

[2018-12-05 21:56] kuhnchris commented on #3087
I assume some CSS style will prolly be overwritten in index.html compared to the other pages... since we want continuality, we should keep it left (or at least persistent centered).
@PixelantDesign any objections/decisions?

[2018-12-05 22:00] kuhnchris commented on #3084
Well, we could basically not store the eth address (or not use the on file one) until a user clicks on a link in an email.
For example: per default you get the "you got unclaimed funds" mail after finishing work.
Either, if you only use this once, you click on the claim link and get the funds (and confirm the used address is the receiver address), and if he does that he can use a checkbox "remembe

[2018-12-05 22:03] owocki commented on #3090
we need both -- the code you linked is good for static pages, but for the dyanmic ones we'll need something that looks like the `BountiesSitemap`

[2018-12-05 22:04] octavioamu commented on #3044
The call in the template is `{% static '/v2/images/loading_v2.gif' %}` how it should be to point to the right url?

[2018-12-05 22:09] owocki opened #3095 "grants - updates area could use some prettification"
<img width="1390" alt="screen shot 2018-12-05 at 3 08 23 pm" src="https://user-images.githubusercontent.com/513929/49547353-b251e480-f89f-11e8-9c78-b7ebf6aa09dc.png">

https://gitcoin.co/grants/2/new-soda-fountain

[2018-12-05 22:15] owocki commented on #3044
two theories

1. it should be `{% static 'v2/images/loading_v2.gif' %}` ( no preceding slash)
2. its a collectstatic issue

but im on a call and can't focus on testing it now

[2018-12-05 22:17] octavioamu commented on #3044
hummm that make sense, the slash should be going to root directory.

[2018-12-05 23:00] owocki commented on #2764
i posted about this on the gitcoin slack

pasting details now

[code]

[2018-12-05 23:07] kuhnchris commented on #2764
oh, interesting! didn't hear about that one, my bad for making assumptions.

[2018-12-05 23:52] owocki commented on #3007
wagtail is live https://gitcoin.co/cms/

[2018-12-05 23:52] owocki commented on #3040
wagtail is live so this is unblocked @PixelantDesign https://gitcoin.co/cms/

[2018-12-05 23:52] owocki commented on #3039
wag tail is live so this is unblocked https://gitcoin.co/cms/

[2018-12-05 23:53] owocki opened #3098 "bug - roundup email alignment issue"
<img width="1181" alt="screen shot 2018-12-05 at 6 45 35 pm" src="https://user-images.githubusercontent.com/513929/49551878-56db2300-f8ae-11e8-81f0-f9e8ba2d76e2.png">

[2018-12-05 23:54] captnseagraves opened #3099 "Clean up unused script tags in Grants html"
Clean up unused script tags in Grants html

[2018-12-05 23:56] captnseagraves opened #3100 "grant_detail CRSF issue"
Right now anyone can the grant_details POST route and manipulate data. We need to implement CRSF so this can't happen.

[2018-12-05 23:57] captnseagraves opened #3101 "Subscription Validation"
There is no validation on Subscription data in the backend when it is submitted. We need to implement validation before hard launch.

[2018-12-05 23:59] captnseagraves opened #3102 "All tokens must convert to USDT or not be supported by Grants"
All tokens must convert to USDT or not be supported by Grants. If not than the backend will throw an error and not save the contribution.

[2018-12-06 00:06] owocki commented on #3098
gmail on chrome

[2018-12-06 00:06] captnseagraves opened #3103 "Create JSON for amount_received"
![screen shot 2018-12-05 at 5 03 32 pm](https://user-images.githubusercontent.com/22862292/49552222-d74e5380-f8af-11e8-8259-cde2d3086b6d.png)

Related to https://github.com/gitcoinco/web/issues/3102

[2018-12-06 00:11] captnseagraves opened #3104 "Wire up Transaction data across app"
Right now contribution data is no propagating across app like it needs to. Need to check all progress bars, grants/profile, and emails.

[2018-12-06 00:13] captnseagraves opened #3105 "Refactor JavaScript to use Async/Await"
It would be rad to use async await in Grants. It would make the jas a lot cleaner and easier to follow.

[2018-12-06 00:15] owocki opened #3106 "grant fund bug -- you should prevent someone funding a grant on mainnet with a rinekby token"
grant fund bug -- you should prevent someone funding a grant on mainnet with a rinekby token

[2018-12-06 00:16] owocki commented on #3106
subscription 2 on mainnet had this problem

[2018-12-06 07:11] thelostone-mc commented on #3074
@owocki what's the smallest unit we support ?

[2018-12-06 07:39] kuhnchris opened #3108 "Kudos sitemap.xml is broken"
**Describe the bug**
Kudos URLs are broken in the sitemap
cc @octavioamu

**To Reproduce**
go to gitcoin.co/sitemap.xml

**Expected behavior**
correct URL

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49568820-68660e80-f932-11e8-87ab-4d5449c066e9.png)

[2018-12-06 07:41] kuhnchris commented on #3108
https://github.com/gitcoinco/web/blob/33288acac574ce14721a989cb15aee3b4c1b2acd/app/app/sitemaps.py#L39-L50

check if Kudos object(s) implement the get_relative_url( ). If yes, use that.
Example:
https://github.com/gitcoinco/web/blob/33288acac574ce14721a989cb15aee3b4c1b2acd/app/app/sitemaps.py#L36

[2018-12-06 07:44] kuhnchris commented on #3090
any specific restrictions? Like active = true?

[2018-12-06 13:16] thelostone-mc commented on #3057
@captnseagraves the etherscan link , is that wired right ?
I've taken care of the rest

[2018-12-06 13:58] vs77bb commented on #3040
@mbeharry @owocki Is the intention to wind down the Medium, or to support both simultaneously? Are there SEO implications in either scenario? Trying to determine whether it's worth supporting both as the Medium page has ~900 followers right now, too

Best,
V

[2018-12-06 14:16] vs77bb opened #3111 "Admin Approval / Hide Grants Option for Admin's?"
Should we have an 'Admin approval' for Grants to begin, to make sure that the quality of the initial grants is extremely high?

This could be associated with a loading screen down the road // for now, perhaps a pop-up modal stating:

"Thanks for submitting a Gitcoin Grant. Expect a review of your grant in 48 hours with a coinciding email on whether it meets the requirements."

Alternatively, could

[2018-12-06 14:21] vs77bb opened #3112 "Increase default gwei to 10"
For now, increase default gwei to 10 when creating a grant.

This isn't ideal (dynamic is always better, but gas prices are low around time of grants and it's better for tx's to go through quickly and the product to work)

[2018-12-06 14:24] mbeacom opened #3113 "AttributeError: 'Subscription' object has no attribute 'amount_goal'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2318/

[code]

[2018-12-06 14:35] #3113 closed

[2018-12-06 14:45] thelostone-mc commented on #3074
Isn't this a simple FE

[2018-12-06 14:45] #3074 closed

[2018-12-06 16:25] thelostone-mc commented on #3077
@owocki does this still happen? Mesa can't reproduce

[2018-12-06 16:40] thelostone-mc commented on #3089
Duplicate of #3095 ?

[2018-12-06 17:59] owocki commented on #3077
@thelostone-mc yes it does (screenshot: http://bits.owocki.com/3d4d9ac6b241/Screen%20Shot%202018-12-06%20at%2010.59.03%20AM.png ) -- you have to tab over to the 'created' tab.

also whats Mesa?

[2018-12-06 18:03] thelostone-mc commented on #3091
This works as expected over at https://gitcoin.co/grants/3/lets-check-if-the-subminer-works/fund

![untitled](https://user-images.githubusercontent.com/5358146/49602682-0dbec800-f9af-11e8-895b-0858806d2169.gif)

[2018-12-06 18:03] #3091 closed

[2018-12-06 18:14] thelostone-mc commented on #3077
mesa -> jar jar binks from star wars 😞

Oh damn it still looks alright at my end 😓
![untitled](https://user-images.githubusercontent.com/5358146/49603245-bf122d80-f9b0-11e8-84bb-c6d850f6bcaf.gif)

[2018-12-06 18:20] thelostone-mc commented on #3106
Do we just disable the page all together?

[2018-12-06 19:15] owocki opened #3114 "EPIC Signal looking for a Job (Contributor)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a 'im looking for a job' field in onboarding, so i can signal i want a job

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

gitcoin is a great place

[2018-12-06 19:30] owocki commented on #3106
maybe just disable the submit button and show an `_alert()`?

[2018-12-06 19:39] thelostone-mc commented on #3087
It's meant to be left aligned ! Will fix that up unless you wanna throw in a fix ^_^

[2018-12-06 19:40] anshumanv commented on #3087
Sure thing, always ready to jump in @thelostone-mc.
Will send a PR soon. ^^

[2018-12-06 19:40] owocki commented on #3077
i repro'd on my local and am committing a fix

[2018-12-06 19:41] #3077 closed

[2018-12-06 22:58] captnseagraves commented on #3106
Hmmm, how is a rinkeby token being used for mainnet? Doesn't tokens.js only show tokens for the browsers current network?

[2018-12-06 23:08] captnseagraves commented on #3106
Ohhhh, so this grant https://gitcoin.co/grants/2/new-soda-fountain was deployed on Rinkeby and accepts a rinkeby token. The problem is not with the tokens, but is in not displaying the network of the deployed grant. So we either make the network visible so people know they are using a test grant and test tokens, or we disallow the use of test grants.  @owocki @thelostone-mc Thoughts?

[2018-12-07 00:46] mkosowsk commented on #2469
@FrederikBolding I think being used in addition to Etherscan will provide a nice solution :)

[2018-12-07 02:14] owocki commented on #3102
increasing the number of tokens we support as convertable to ETH is out of scope.  i strongly prefer the latter approach

[2018-12-07 02:35] #3044 closed

[2018-12-07 02:39] owocki commented on #3111
the problem with the third option is that sort dropdown on /grants

second option has my vote.  this allows us to wait and see if ppl abuse the functionality and then take action then

[2018-12-07 02:40] owocki commented on #3090
nope. `.all()` should be fine

[2018-12-07 03:24] lucasvo opened #3118 "When submitting a transaction and letting my ledger time out the site doesn't recover"
I got distracted confirming the transaction on my ledger and thus the gitcoin page said there was an error and I need to retry. However metamask still let me retry signing transaction with my ledger which I did and submitted the tx successfully. However the gitcoin website didn't refresh when the second attempt went through and I am now unsure if the webapp even registered the fact that there is n

[2018-12-07 05:00] ceresstation opened #3120 "Funder unable to payout issue despite work being submitted"
**Describe the bug**

Only advanced payout is available despite work being submitted on the following issue:

https://gitcoin.co/issue/centrifuge/precise-proofs/29/1868

https://github.com/centrifuge/precise-proofs/issues/29

**Expected behavior**

Basic payout should be triggered upon work submission.

[2018-12-07 05:59] michaelsena opened #3121 "Feature: Save Gitcoin Avatar to 3Box Profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of Gitcoin who loves my Gitcoin Avatar, I would love to save my gitcoin avatar to my 3box profile so that I can use it in other dapps. It makes me look cool and digital.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what yo

[2018-12-07 09:42] FrederikBolding commented on #2469
Okay, sure thing! 😄

[2018-12-07 11:42] PixelantDesign commented on #3087
Thanks @anshumanv!

[2018-12-07 12:58] thelostone-mc commented on #3120
@ceresstation could we get more details on this

- Is he on mainnet + using the right metamask address ?
- can he see the payout button / or where does it fail ?
- screenshot of the issue

[2018-12-07 13:44] PixelantDesign opened #3122 "Developer & Funder Pages Not Displaying Properly on Safari"
**Describe the bug**
Developer & Funder Pages Not Displaying Properly on Safari

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

Go to these urls: https://gitcoin.co/funder-guide/  and https://gitcoin.co/developer-guide/
<img width="396" alt="screen shot 2018-12-07 at 8 39 12 am" src="https://user-images.githubusercontent.com/238235/49651040-1ee1f600-f9fc-11e8-84af-e62c0cbb03a0.pn

[2018-12-07 13:47] FrederikBolding commented on #2469
I've started work here: https://github.com/FrederikBolding/web/tree/blockscout-integration

@mkosowsk @ceresstation How would you prefer that it be implemented in cases such as this: https://github.com/gitcoinco/web/blob/639b0de163aa2a7d251efe6d605492264e9c9b6f/app/dashboard/templates/ens/ens_pending.html#L12 - Where it is just a single link on a hash.

For some of the already implemented function

[2018-12-07 13:48] pinkiebell commented on #3122
Checking....

[2018-12-07 13:48] #1672 closed

[2018-12-07 13:53] kuhnchris commented on #3122
#toc guide.css sticky needs to be changed to position: -webkit-sticky; position: sticky;

[2018-12-07 14:01] kuhnchris commented on #3122
hahaha guess we both had the same idea @pinkiebell  :-)

Sorry 'bout that.

[2018-12-07 14:01] pinkiebell commented on #3122
@kuhnchris 😆 . No problem. You are the first 👍

[2018-12-07 14:58] michaelsena commented on #3121
@owocki would love to fund this issue and get it going on the Gitcoin explorer, what would we need to do from here? Wanted to bump the thread around ETH Singapore, as maybe 3Box could do some online hackathon promo for it.

[2018-12-07 16:00] mkosowsk commented on #2469
@FrederikBolding Would you mind trying both approaches and sharing screen shots for each? I think this would best help inform the decision :)

[2018-12-07 16:36] captnseagraves commented on #3106
I see. It appears the transaction didn't go through, but an entry was still made in the db. I think we should have a sort method on `grants/index` to show by network. We should show not display the "fund this grant" button on `grants/details` if the user is on a different network, and we should do as KO suggests above for `grants/fund`

Perhaps we do KO's suggestion for hard launch and leave the r

[2018-12-07 17:08] #3122 closed

[2018-12-07 17:35] thelostone-mc commented on #3088
Addressed in https://github.com/gitcoinco/web/pull/3117

[2018-12-07 17:35] #3088 closed

[2018-12-07 17:36] #3057 closed

[2018-12-07 17:40] owocki commented on #2787
notes from chris slaughter / samsa call => https://docs.google.com/document/d/1XKCcUeIctQvrth1t8wrEC4eScUG-WWGctj8Y5aPJkQU/edit

[2018-12-07 17:41] thelostone-mc opened #3125 "grants/email walkthrough"
### Discussion

Visit all templates and ensure the data mapping is done right

- [x] `new_grant`
- [x] `thank_you_for_supporting`
- [x] `succesfull_contribution`
- [x] `grant-cancellation`
- [x] `new_supporter`
- [ ] `support-cancellation` // TODO: percentage_removed logic @captnseagraves
- [ ] `subscription-terminated` // TODO: percentage_removed logic @captnseagraves

The templates which are yet

[2018-12-07 17:54] owocki commented on #3080
https://repl.it/site/blog/multi

could be a useful tool to pair with this

[2018-12-07 18:52] owocki commented on #3121
related: https://github.com/gitcoinco/skunkworks/issues/82

@michaelsena this good to me.  i'm out of ETH right now and waiting for finance to send more.  otherwise i'd be down to post today.. how much do you think is warranted?  like 1.5 ETH?

@PixelantDesign @vs77bb any feedback on it?

[2018-12-07 18:56] PixelantDesign commented on #3078
Yes, It's under Profile > My Grants

- [ ] We do need an H1 that says **My Grants**
- [ ] Please add an Inactive Grants Tab

cc @thelostone-mc

**NOTE**
For this release, I don't think it makes sense to rejigger the Gitcoin profile. Once we see how users are using the Grants profile vs Gitcoin Profile, we can figure out ways to combine.

[2018-12-07 21:37] owocki commented on #3120
looks to me like this was paid out 8 hours ago.. did i miss something?

[2018-12-07 21:37] owocki commented on #3120
https://etherscan.io/tx/0x9bf9165e9a124d2457ec813b69f8da15e79930cfe622f13d4de81e4fb09dd225

[2018-12-07 21:38] owocki commented on #3106
works for me

[2018-12-07 21:59] oogetyboogety commented on #2204
@pixelantdesign ok so @pinkiebell acquiesced to the original requirements on the code review :-P I will let you guys hash out the details but for now I will assume the original requirements stand in order to get this one finished within the next few days.

[2018-12-07 22:05] owocki opened #3128 "grants enablement shoudl be based off of django permissions / groups, not based upon is_staff"
grants enablement shoudl be based off of django permissions / groups, not based upon is_staff

[2018-12-07 22:05] owocki commented on #3128
@mbeacom @captnseagraves im not sure if theres already a ticket for this, but given that we're going to do a gradual rollout i thought it was important to log

[2018-12-07 22:06] captnseagraves commented on #3102
This PR addresses the breaking portion of the issue. Tokens that are not convertible to usdt will no longer be added to grant.amont_goal.

We still need to implement either displaying only convertible tokens or saving all tokens in JSON blob and showing contributions in each token.

[2018-12-07 22:53] mbeacom commented on #3128
@owocki Permission based checks are live.

[2018-12-07 22:53] #3128 closed

[2018-12-07 23:01] mbeacom opened #3129 "Migrate Kudos details to use assets directly vs dynamic avatar endpoint"
#### Story

As a user, I want avatar images on the kudos details page to be loaded from the kudos owner's `Profile.avatar_url` to benefit from caching.

#### User Interaction

The user requests a kudos details page, for example:  https://gitcoin.co/kudos/588/ether_gun

#### Current Behavior

Avatar images are served from: `https://gitcoin.co/dynamic/avatar/@<github_handle>`

#### Expected Behavior

[2018-12-08 05:35] aashutoshrathi opened #3131 "Top-bar symbols not properly sized"
**Describe the bug**

The top bar symbols are not of adequate size.
Precisely, Gitcoin symbol and Codefund symbol are being cropped.

![image](https://user-images.githubusercontent.com/21199234/49682355-c5032e00-fad8-11e8-8d21-60acadee811d.png)

**To Reproduce**

Just open gitcoin.co on any mobile device.

**Expected behavior**

![image](https://user-images.githubusercontent.com/21199234/49682363-

[2018-12-08 05:37] aashutoshrathi commented on #3131
cc @owocki @PixelantDesign

[2018-12-08 05:39] willsputra commented on #2773
@kuhnchris @frankchen07 @PixelantDesign what do you all think?
![work rejected](https://user-images.githubusercontent.com/19514207/49682416-ac9e0e00-faee-11e8-91c9-13749ab28108.png)

[2018-12-08 05:49] GriffGreen opened #3132 "Transaction FAIL :-D Trying to make a bounty but no dice"
**Describe the bug**
Trying to post a bounty with DAI for 1250 DAI, and everything was cool but the transaction failed... I have tried it several times, tweaking things.

**Expected behavior**
The Transaction should succeed :-D

**Desktop (please complete the following information):**

- OS: Mac
- Browser Chrome
- Browser Version Newest

**Additional context**
Failed TX
https://etherscan.io/tx/0x4

[2018-12-08 05:51] GriffGreen commented on #3132
i'm using the main network via metamask, with address 0x839395e20bbB182fa440d08F850E6c7A8f6F0780

The issue i'm trying to do is:
https://github.com/ethglobal/ethsingapore-bounties/issues/3

<img width="1062" alt="screen shot 2018-12-08 at 6 50 29 am" src="https://user-images.githubusercontent.com/14945613/49682505-99bb1780-fab5-11e8-9a33-d327313aed02.png">

[2018-12-08 07:44] ceresstation commented on #3121
Hey @michaelsena happy to do this, I'm creating an issue for 1 ETH to start right now!

[2018-12-08 10:10] FrederikBolding commented on #2469
@ceresstation Seems that I wasn't assigned the issue on Gitcoin for some reason, so I have reapplied 😄

@mkosowsk I'm not sure exactly what the best way to represent it would be, but maybe something like this (top one is how it is currently, and bottom is with both Etherscan and Blockscout:

![example](https://user-images.githubusercontent.com/1561200/49684850-d3057e80-fad9-11e8-8434-9ea8f362293c.

[2018-12-08 13:33] kuhnchris commented on #3132
Ah there may be a maximum limit of how much money a contract may involve! I have to check back with @owocki  and @PixelantDesign . Maybe we need to raise that limit on your account on gitcoin. ;-)

[2018-12-08 14:40] kuhnchris commented on #3090
Added a PR.
![image](https://user-images.githubusercontent.com/761911/49687169-8e8cd980-faff-11e8-9ba7-aeea350cecfc.png)

[2018-12-08 14:41] kuhnchris commented on #3108
Hmm there is no real "easy" way to fix this as it is hardcoded in the model with path, and I do not know where else that is in use. added a PR that reconstruct the URL.
![image](https://user-images.githubusercontent.com/761911/49687177-baa85a80-faff-11e8-961e-e2602231a44d.png)

[2018-12-08 14:45] kuhnchris opened #3139 "Grants // Why is the grant owner a dropdown with no elements?"
**Describe the bug**
Owner is a dropdown

**To Reproduce**
Go to grants page

**Expected behavior**
Not a dropdown

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49687206-32768500-fb00-11e8-9b82-0dddb10e4927.png)

[2018-12-08 14:48] kuhnchris opened #3140 "Test Integration // Circle CI fails because of package dependencies"
**Describe the bug**
CircleCI currently fails because of a version mismatch

**To Reproduce**
look at any recent PR

**Expected behavior**
CircleCI doing it's stuff.

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49687235-af096380-fb00-11e8-8a87-93a953ca5ae1.png)

[2018-12-08 15:08] kuhnchris commented on #3129
![image](https://user-images.githubusercontent.com/761911/49687471-61dac100-fb03-11e8-9477-4e923427fe36.png)
:suspect:

[2018-12-08 15:10] kuhnchris commented on #3121
I guess we need to watch out abit about users actually opt-in for this, as we do not want to force the connection between box3 and gitcoin, correct?

[2018-12-08 15:16] kuhnchris opened #3141 "Grants // Creating a new grant on test instance results in non-error error."
When trying to create test grants on local instance I get the following message after etherscan confirmation:

![image](https://user-images.githubusercontent.com/761911/49687536-9bf89280-fb04-11e8-8d7a-6395de36e27d.png)

after a refresh the grant is available on the system.

[2018-12-09 09:52] kuhnchris commented on #3071
Mmmh, do you mean activity_report.py as in the dashboard/management/command one? If so, I do not see any references to tips or kudos there... (yes for activities there is something), is that missing aswell and included in this task?

[2018-12-09 10:19] kuhnchris opened #3143 "app/manage.py - sync_kudos has /kudos/kudos.json hardcoded"
**Describe the bug**
Executing app/manage.py sync_kudos via docker-compose exec fails due to a hardcoded path expecting you to be in the app directory to do this command.

**To Reproduce**
docker-compose exec app/manage.py sync_kudos rinkeby opensea --catchup

**Expected behavior**
Synchronization of Kudos

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49696039-42e03b80

[2018-12-09 10:40] kuhnchris opened #3145 "Avatar (purchase) // clicking the "buy all" link on rinkeby while on prod results in wrong msg"
**Describe the bug**
While on Rinkeby by accident i tried to click on the "buy all" link to see if I can highjack the price. Turns out that this is an "Premium Avatar Item". It is not. It's a link.

**To Reproduce**
Go to Rinkeby on Metamask
Click the "buy all" link

**Expected behavior**
"In order to buy this pack, please switch to mainnet first."

**Screenshots**
![image](https://user-images.git

[2018-12-09 10:51] kuhnchris opened #3146 "Avatar purchase can be tricked to use any price"
**Describe the bug**
You can change the "data-cost" tag to any number of costs

**To Reproduce**
Go to dev-tools, change "data-cost" to low number, send.

**Expected behavior**
Backend (and Frontend) check to see if the price is correct.

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49696236-9acc7180-fba7-11e8-8db4-0f1aeb0ab9f0.png)

[2018-12-09 10:54] kuhnchris opened #3147 "Settings / Token settings / Reject == success"
**Describe the bug**
When Rejecting a Token Usage, Gitcoin see that as acceptance and adds it to the list of accepted tokens

**To Reproduce**
Go to Settings, Token, Activate Dai, Reject Metamask request

**Expected behavior**
"Token request denied - no permission for this token"

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/49696349-22ff4680-fba9-11e8-92af-8e3d6991445

[2018-12-09 10:56] kuhnchris commented on #3129
@mbeacom could this be a general problem with avatar_url? Same happens on the profile page
![image](https://user-images.githubusercontent.com/761911/49696376-7ec9cf80-fba9-11e8-83db-ae571f45152a.png)

[2018-12-09 10:59] kuhnchris commented on #3129
Just checked, the avatar/templatetags/avatar_tags.py basically does this:

@register.simple_tag
def avatar_url(profile, use_svg=True):
    if isinstance(profile, Profile) and profile.avatar:
        return profile.avatar.get_avatar_url(use_svg)
    if isinstance(profile, str):
        return f'{settings.BASE_URL}dynamic/avatar/{profile}'
    return f'{settings.BASE_URL}dynamic/avatar/Self'

But si

[2018-12-09 11:30] kziemianek opened #3148 "Gitcoin page embedded inside profile page"
**Describe the bug**
Profile headers are unreadable in certain situations

**To Reproduce**
Go to https://gitcoin.co/profile/, scroll down and go back to top. Profile headers background is white.

**Expected behavior**
Profile headers background color is not changed.

**Screenshots**
![profile_headers_problem](https://user-images.githubusercontent.com/1838338/49696687-ed109100-fbad-11e8-9c9a-24f2b

[2018-12-09 11:57] kuhnchris opened #3150 "FTUX / doesn't care about network"
**Describe the bug**
When on Mainnet on a test instance, or on test on Mainnet FTUX doesn't care which network I'm on

**To Reproduce**
Go to mainnet (MetaMask) and switch to the FTUX (/onboard/contributor/)

**Expected behavior**
Message about wrong network

[2018-12-09 12:18] thelostone-mc commented on #3079
Fix is https://github.com/gitcoinco/web/issues/3079

[2018-12-09 12:19] thelostone-mc commented on #3089
@willsputra / @PixelantDesign  Can we get something going on here ?
I can throw it in

[2018-12-09 12:29] thelostone-mc opened #3151 "design: grants/index"
We'd need some artwork / image / content to show when there is no grants which pop on search

<img width="1338" alt="screen shot 2018-12-09 at 5 56 46 pm" src="https://user-images.githubusercontent.com/5358146/49697326-06c8cd00-fbdc-11e8-8aa1-a51bde12aeab.png">

[2018-12-09 12:29] thelostone-mc opened #3152 "design: grants/index"
We'd need some artwork / image / content to show when there is no grants which pop on search

<img width="1338" alt="screen shot 2018-12-09 at 5 56 46 pm" src="https://user-images.githubusercontent.com/5358146/49697326-06c8cd00-fbdc-11e8-8aa1-a51bde12aeab.png">

[2018-12-09 12:29] #3152 closed, assigned to nobody

[2018-12-09 13:35] kuhnchris commented on #3151
Like the "shrug robot" on the issue explorer?
![image](https://user-images.githubusercontent.com/761911/49698095-9ad86b80-fbbf-11e8-9bf3-25e377b54b4d.png)

[2018-12-09 13:36] kuhnchris commented on #3148
Are you mouse-over something specific?
What browser and OS does this occur on? (I can't reproduce it on Chrome/Mac OS)

[2018-12-09 13:50] kuhnchris commented on #3114
![image](https://user-images.githubusercontent.com/761911/49698259-8d23e580-fbc1-11e8-8174-bc284e55e7ed.png)
added the "settings" side of things.
Just a problem with FTUX, I cannot make this as the "last" step because the only "writing back" is done during a step that's called multiple times, and sadly, that's not always the proper value...
Either I separate this and do that save back in it's own

[2018-12-09 13:52] kuhnchris commented on #3114
Also, can someone (@mbeacom  ?) please explain to me why the "logic" for the Settings views is in app/marketing(/views.py), while the templates themselves live at app/retail ?

[2018-12-09 14:09] kuhnchris commented on #3089
Maybe the OSS tree?
![image](https://user-images.githubusercontent.com/761911/49698461-6d41f100-fbc4-11e8-9ebe-ab4daf3720d0.png)
![image](https://user-images.githubusercontent.com/761911/49698462-7a5ee000-fbc4-11e8-92de-73cec18b77fc.png)

[2018-12-09 14:41] kuhnchris commented on #3148
Hmm, tried to do this with https://gitcoin.co/profile/owocki . I need to grab myself a copy of Opera to check tho. Does opera have support for MetaMask (or a similar wallet)?

[2018-12-09 15:13] kziemianek commented on #3148
It seems like its gitcoin embedded inside profile page:

![opera](https://user-images.githubusercontent.com/1838338/49699108-59e75380-fbcd-11e8-918d-30b0223378e6.png)

[2018-12-09 15:30] kuhnchris commented on #3148
That looks really strange, I'll try to check and get back at you when I got a fix, OK?
Thanks for reporting.

[2018-12-09 15:55] kziemianek commented on #3148
I tried also with chromium 59.0.3071.109 and problem exists.

[2018-12-09 15:56] kziemianek commented on #3148
Also it's worth a note there is a difference between https://gitcoin.co/profile/kziemianek and https://gitcoin.co/profile while being logged as kziemianek.

The problem only occours on https://gitcoin.co/profile .

[2018-12-09 23:21] oogetyboogety commented on #2204
@pinkiebell , can you check the PR for the changes made in reference to your last review?

Thanks!

[2018-12-10 02:04] ryan-shea commented on #1727
Hey @nemaniarjun, any updates here? 😄

[2018-12-10 03:04] oogetyboogety commented on #2204
@vs77bb
I'm attaching a log from Part II and a saved copy of the email for you to check!
MHTML of email: https://0bin.net/paste/jkBv6kf13SnGi7lO#uRJvJoZPuSeo1rHKgl-TwPqDYuZItjebDBDqpQV8w3U
log of command:
https://0bin.net/paste/uv9fTtzMuV9rgjUW#-QwVbs5V5oxICvT77r3vuhm24G/7zY/Ixrn8dI+xoGI

Thanks,
oogety

[2018-12-10 05:16] #3147 closed

[2018-12-10 07:51] frankchen07 commented on #3114
Just a thought - here in Silicon Valley (or maybe everywhere), most people are "always on the market." So, even if I'm not actively looking for a job, I'm willing to click "I'm looking for a job," just because having more opportunities than not is better. They've got nothing to lose, right?

How we can separate the signal of people who are actually actively applying and looking from this crowd?

F

[2018-12-10 07:52] frankchen07 commented on #2773
^ They have the capability to X out of the modal though, which is the the equivalent of "cancel" or "no".

[2018-12-10 07:58] frankchen07 commented on #2898
Checking with our SEO consult to see if we can close this ticket out and get payment to @jdorfman.

[2018-12-10 08:37] kziemianek commented on #3148
profile?p=2&a=all returns response with redirect but I have no idea why.
![profile_302](https://user-images.githubusercontent.com/1838338/49719768-6962ad00-fc5e-11e8-8606-60f2dc4bd6d6.png)

[2018-12-10 10:20] PixelantDesign commented on #3089
Frank is referring to the fact that the box is cut off. I don’t recommend throwing in more art to solve the problem.

[2018-12-10 10:30] PixelantDesign commented on #3151
Robot image works for now with the same No Results Found copy.

Content below should say:

We couldn’t match ‘pop’ with any grants on Gitcoin. Please try another search term or browse for a grant.

display button ‘browse grants’

[2018-12-10 10:32] PixelantDesign commented on #3078
see my comment above Aditya

[2018-12-10 10:54] vikaskyadav opened #3157 "Cannot take new bounties because a number of issues"
I can't start work on new issues.
The plausible reasons are:

- If a bounty which was `Work Started` by someone has been canceled by the funder, the issue will be still counted as open in the profile of person who 'started working on it'.

- If a bounty was `Work Started` by somone and that account didn't submit the work and work got accepted because of some other account, the issue will be still

[2018-12-10 11:31] kuhnchris commented on #3114
Well, that may be a subset then.
I see it as a vent diagram. People who are looking for work and People who did Bounties .
We can evaluate that with a query if we have the data.
- If they are in the database => 'potential worker'
- If they mark lfw (looking for work) => 'strong potential interest'
- If they complete bounties => 'hunt range'

[2018-12-10 11:32] kuhnchris commented on #3089
The box isn't cut off, it's just directly docked to the blue border... thing with no space (which the above PR fixed).

[2018-12-10 11:46] thelostone-mc commented on #3078
@PixelantDesign hmm could you throw in design as I'm still not clear
Adding My grants heading would mean that it would show up when I visit your grant profile which is incorrect

Adding an inactive tab -> We've got Funded Grants / Created Grants
Does this mean we club all inactive grants (funded & created) and throw them into the new tab ?

[2018-12-10 11:48] thelostone-mc commented on #3151
well we are going with obiwan for grants as of now , so it would make sense to use that.
will check up with @willsputra on that

[2018-12-10 11:51] kuhnchris opened #3158 "Fine-tune 'marketing' settings / E-Mail settings / 'external operations'"
### User Story

As a gitcoin contributor, I'd like to test out the changes I make to mails or other subsystems that use APIs to access directly instead of using the /_administration/email path (which may work on browser but not on various mail clients) or activating the entire marketing path for an entire network, opening up the possibility to falsely send messages to issues (gitcoinbot), to slack

[2018-12-10 11:55] kuhnchris opened #3159 "docker-compose exposes public redis port with no auth"
**Describe the bug**
Docker-Compose exposes the port for redis, postgresql and others publically

**To Reproduce**
Start docker-compose, run netstat -nap (linux)

**Expected behavior**
Only port 8000 (web/python) exposed

**Additional context**
I received a abuse report on my public server regarding an open redis port:
[code]

[2018-12-10 11:58] kuhnchris commented on #3151
"Your grants are in a different place"?
Let me know, I can add the robot in the meantime if you want (as intermediate solution)

[2018-12-10 12:07] kuhnchris commented on #2773
As a dev that's intuitive yes, but, think about the regular user who is not really keen on using stuff like that (or apps in general).
It's your call, but I would "KISS" it.

[2018-12-10 12:09] kuhnchris commented on #3157
@frankchen07 would it make sense to add a new tab or some kind of page to show the user which bounties currently count towards the limit? Right now it's a bit of a fuzzy gray-zone (even to me).

[2018-12-10 12:24] vikaskyadav commented on #3157
I agree with @kuhnchris. Right now, this is very messy. Open bounties can be placed in a different tab. Actually, fine level segregation can be done by creating different tabs.

[2018-12-10 13:35] owocki opened #3160 "premium advertising (maybe using harbringer taxes)"
What if we sell advertising in the weekly newsletter via harbringer taxes https://twitter.com/vitalikbuterin/status/1071181945021710337?s=21

There are other interesting uses of a harberger tax at gitcoin
- premium spot on a job board
- premium bounties
- premium grants / kudos

[2018-12-10 13:36] owocki commented on #3160
That could be interesting. @Owocki if you want to pursue that have you seen Billy Rennekamp's ETHSF hack? Figure you probably have but just in case https://github.com/okwme/harberger-ads-contracts (edited)

[2018-12-10 13:37] owocki opened #3161 "services model"
these are two services I know there’s demand for, but require different staffing choices
1. Technical recruitment
2. Bespoke software builds ( for this, I wonder if we could convince David Sneider to join us, he and Chris are already doing this )

[2018-12-10 13:41] willsputra commented on #3089
agree with @PixelantDesign. I think the PR works. :)

[2018-12-10 14:03] willsputra commented on #3095
![grants updates](https://user-images.githubusercontent.com/19514207/49736752-ec6b1e00-fcc5-11e8-9c03-5417a6ac139e.png)

@owocki @thelostone-mc cc @PixelantDesign some improvements:
1. Put some padding between 'Updates' header and the actual content
2. Switch date and title around. Since this is a chronological list of updates, date would be important hence we make it more obvious. Same goes for M

[2018-12-10 14:22] willsputra commented on #3151
@thelostone-mc we can combine the obi-wan bot with @PixelantDesign's copy

![grants no results](https://user-images.githubusercontent.com/19514207/49738274-f7c04880-fcc9-11e8-9c8a-22d5c8227c4d.jpg)

[2018-12-10 14:44] willsputra commented on #2773
Thanks for the suggestion @kuhnchris! Yeah I think it would be better if we make it more obvious.

![work rejected](https://user-images.githubusercontent.com/19514207/49739534-1542e180-fccd-11e8-8a85-4395e38b2ac5.png)

[2018-12-10 15:11] #2668 closed

[2018-12-10 16:58] thelostone-mc commented on #3151
wired this up over at https://github.com/gitcoinco/web/pull/3137 ^_^

[2018-12-10 16:58] #3151 closed

[2018-12-10 17:00] owocki commented on #3071
yes thats the file i mean

here is the part that adds tips/kudos https://github.com/gitcoinco/web/blob/master/app/dashboard/management/commands/activity_report.py#L200-L208

[2018-12-10 17:11] frankchen07 commented on #2987
@Anish-Agnihotri - thanks! I'll ping someone for review.

[2018-12-10 17:16] thelostone-mc commented on #3086
Addressed in https://github.com/gitcoinco/web/pull/3137

[2018-12-10 17:16] #3086 closed

[2018-12-10 17:19] #3079 closed

[2018-12-10 17:24] kuhnchris commented on #3071
What fields shall be reported? anything special? or simply all we have available?
That's what the model currently offers:
[code]

[2018-12-10 17:42] #3069 closed

[2018-12-10 17:49] #3106 closed

[2018-12-10 17:52] thelostone-mc commented on #3089
Closing cause @kuhnchris PR took care of this ^_^

[2018-12-10 17:52] #3089 closed

[2018-12-10 18:11] PixelantDesign commented on #3121
Hey @michaelsena thanks for the suggestion! @kuhnchris great point, we'll don't want to force any relationships upon users.

But this is definitely interesting to explore. One thing we will need as part of the req is placement where users can find out what 3box is. Even if they've connected with Ethereum before, they might not understand 3box, so we'll need a link to what it is and some content to

[2018-12-10 18:20] willsputra commented on #3078
@PixelantDesign @thelostone-mc since inactive grants could either be Inactive-Supported or Inactive-Created, what if we put it under Sort (mockup below)?

another thing to note: I'm not sure if we're using the term 'Inactive' or 'Canceled', but just make sure they're consistent.
<img width="924" alt="screenshot 2018-12-11 02 12 33" src="https://user-images.githubusercontent.com/19514207/49752120-6

[2018-12-10 18:23] PixelantDesign commented on #3078
I like this approach @willsputra.

The only thing about cancelled is that a Grant could be a Cancelled Grant but started by someone else.

[2018-12-10 18:31] PixelantDesign commented on #2773
Hey @willsputra looking good! It might be possible that two reasons are the reason why the funder wants to reject. Will you put this in front of some funders to get feedback? I'm wondering if these should be check boxes?

@frankchen07 what do you think?

[2018-12-10 18:34] PumpkingWok commented on #2195
Hi there,
I have encountered the same issue few days ago, my gitcoin profile appears twice in leaderboard again.
 It has been caused by inserting wrong capital letters in my gitcoin username using advanced payout, i think.
Thanks in advance.

[2018-12-10 18:50] PumpkingWok opened #3164 "Kudos does not appear in profile"
**Describe the bug**

- I can't see one of my kudos (gitcoin_bot) in my profile. (https://gitcoin.co/profile/PumpkingWok).
- In Kudos MarketPlace (https://gitcoin.co/kudos/131/gitcoin_bot) i can see my avatar in `own` section.
- I have never seen this kudos as internal erc721 transaction to my address. (https://etherscan.io/address/0x4b3897e40749587ffbfb2732008d026db2c8d588#tokentxnsErc721)

**Exp

[2018-12-10 18:55] thelostone-mc opened #3165 "grant/monetisation : stopgap"
#### Description

Until we get the support for a % subminer fee integrated into the grant contract
Throw in a tip link to gitcoin until we add it gitcoin fee into the contract over to
grants/new + grants/fund which pre-fills with gitcoin address enables users to send a tip to gitcoin

Refs: https://github.com/gitcoinco/web/issues/3070

[2018-12-10 19:12] frankchen07 commented on #2898
@jdorfman - so I've updated the ticket. There's titles and descriptions that need to be updated on the HTML - the recommended things to be updated are all on the spreadsheet under "Meta Tag Recommendations" - hopefully that's more clear.

I'll tip you some ETH for the work you've already done, since requirements have changed. :)

[2018-12-10 19:19] mbeacom commented on #3129
Right.  We don't pass a string to this in *every* place.  I had to include that to accommodate the mounds of places we're using a view to serve an image...  It's been like this for quite a while.  I migrated some places, but not all since a good amount of refactor is necessary.

We *should* be using `Avatar.avatar_url` which defaults to the user media assets and only falls back to the "dynamic" (g

[2018-12-10 19:23] kuhnchris commented on #3129
That's weird cause the original post of yours reads like you want us to use avatar_url.
So the point of this issue is that we use Avatar.avatar_url everywhere?
Wouldn't it be easier to simply add that to the avatar_url templatetag and have the tag itself fallback to the other one?

Just an idea here, the alternative is to grep for that template in all the files and replace it with the correspondin

[2018-12-10 19:30] #3159 closed

[2018-12-10 19:30] PumpkingWok commented on #3164
Hi @owocki, thanks for the response.
Pixelant sent it to me but i have never received the email with the tx id, i was not worried to check my address erc721 transactions because i had seen it in my profile. Pixelant know it.

[2018-12-10 19:34] owocki commented on #3071
contributions pls !  i have it on my TODO list to map the fields later today