[2018-06-07 12:00] darkdarkdragon commented on #1380
@owocki  why it is blocked by #1379 ?

[2018-06-07 12:06] darkdarkdragon commented on #1379
looks like this will not solve original problem - to be able to pay to a random number of developers
so, what should we do with this task?

[2018-06-07 12:15] JDFind commented on #854
@thelostone-mc
I tried submitting work to the same bounty and still get the same "transaction failed in contract code" error and then the transaction fails.
Here is the txn: https://rinkeby.etherscan.io/tx/0x6be37d960da42c157f89c550f13c63d494ff8f2ae435b82a55d5849f64036461

At this point I will communicate with the author to post a new bounty, but the underling issue doesn't seem fixed.

[2018-06-07 14:30] sthorpe commented on #1179
@vs77bb Hey there! Yes, been distracted with other things lately. I'm back on today.

[2018-06-07 15:13] mbeacom commented on #1179
@sthorpe Thanks! Feel free to reach out to us on [Slack](https://slack.gitcoin.co) if you have any questions!

[2018-06-07 15:21] mbeacom opened #1393 "TypeError: Cannot read property 'getItem' of null"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1270/](https://rollbar.com/gitcoin/gitcoin/items/1270/)

[code]

[2018-06-07 15:21] mbeacom commented on #1393
Related to: https://github.com/gitcoinco/web/pull/1377

[2018-06-07 15:22] mbeacom opened #1394 "ReferenceError: moveWithScroll is not defined"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1267/](https://rollbar.com/gitcoin/gitcoin/items/1267/)
https://rollbar.com/gitcoin/gitcoin/items/1273/
https://rollbar.com/gitcoin/gitcoin/items/1268/

[code]

[2018-06-07 15:22] mbeacom commented on #1394
Related to: https://github.com/gitcoinco/web/pull/1377

[2018-06-07 15:24] mbeacom opened #1395 "SyntaxError: Unexpected token '>'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1097/](https://rollbar.com/gitcoin/gitcoin/items/1097/)

[code]

[2018-06-07 16:30] mbeacom opened #1398 "SyntaxError: illegal character"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1118/](https://rollbar.com/gitcoin/gitcoin/items/1118/)

[code]

[2018-06-07 16:30] mbeacom commented on #1398
Related to: https://github.com/gitcoinco/web/pull/1308

[2018-06-07 16:51] #1391 closed

[2018-06-07 16:56] mbeacom opened #1400 "BadFunctionCallOutput: Could not decode contract function call getBountyData return data b'' for output_types ['string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/277/](https://rollbar.com/gitcoin/gitcoin/items/277/)

[code]

[2018-06-07 18:44] owocki opened #1402 "Refresh KPI dashboard"
_administration/stats/?filter=Marketing&rollup=daily&filter=KPI

isnt really accurate any longer since it tracks a bunch of stuff that isnt KPIs.

Lets list out our KPIs and edit that dashboard to only show the actual KPIs

[2018-06-07 20:40] mbeacom commented on #1390
@ceresstation We have a PR out that should address this.  It needs a minor adjustment before it can go live, but: https://github.com/gitcoinco/web/pull/1309

Is that what you're looking for?

[2018-06-07 20:58] mbeacom opened #1404 "Gitcoin completion/funding counts on org icons are incorrect"
### User Story

As a user, I would like to see accurate counts on the hover states for organization icons on the profile page.

### Why Is this Needed?

*Summary*: We're displaying inaccurate numbers.

### Description

*Type*: Bug

### Current Behavior

<img width="190" alt="screenshot 2018-06-07 16 54 39" src="https://user-images.githubusercontent.com/7315957/41125885-c87fa216-6a73-11e8-81bb-fed8

[2018-06-08 13:43] #1104 closed

[2018-06-08 13:48] PixelantDesign opened #1407 "Gitcoin Landing Page V2.1"
1. Update first section so that there aren't two fund issue buttons in the same block.
2. Consider smaller custom pricing option or add questions cta at the bottom of pricing section.
3. Add icons above Funder/Contributor steps
4. Responsive Nav

[2018-06-08 14:07] PixelantDesign commented on #1387
We would probably show an anonymous icon, instead of Pixelant Name it would say Anonymous, and the funded trans hash.

[2018-06-08 14:28] thelostone-mc commented on #1387
@PixelantDesign could you gimme the icon ? I'll add in the code post that

[2018-06-08 14:32] owocki opened #1408 "As an admin I want to triage the Landing Page Conversion Rate, which is way down since the new LP launched."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an admin I want to triage the Landing Page Conversion Rate, which is way down since the new LP launched.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Conversion

[2018-06-08 14:32] owocki commented on #1407
here is my 2.1 ticket! https://github.com/gitcoinco/web/issues/1408

[2018-06-08 14:45] PixelantDesign commented on #1408
We've added the login back up top. What is *Sumome module*?

cc @owocki

[2018-06-08 15:19] owocki commented on #1408
its the little popup in the bottom right that captures emails

[2018-06-08 15:29] owocki commented on #1387
@thelostone-mc just use this one > https://gitcoin.co/static/avatar/Self/

[2018-06-08 15:43] owocki opened #1409 "Gitcoinbot should not do reminders on contest/cooperative bounties"
Gitcoinbot should not do reminders on contest/cooperative bounties
ex:
https://github.com/JoinColony/colonyContributions/issues/4#issuecomment-395760429

[2018-06-08 15:43] owocki commented on #1409
@PixelantDesign @mbeacom @vs77bb any objections if i disable the bot for these bounty types?

[2018-06-08 15:46] owocki opened #1410 "as a funder, i want feedback / commenting ability on the accept submission page, so i can give feedback"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
feedback / commenting ability
as a funder, i want feedback / commenting ability on the accept submission page, so i can give feedback

The modal suggests doing this, but its not in the UI anywhere!
http://bits.owocki.com/1F361J1J1Y2l/Screen%20Shot%202018-06-08%20at%209.45.30%20AM.png

### Why Is this Needed?

[commen

[2018-06-08 15:57] #1404 closed

[2018-06-08 16:35] owocki commented on #854
as i explained in https://github.com/gitcoinco/web/issues/854#issuecomment-380116048, the issue is expired and was not created after we fixed https://github.com/Bounties-Network/StandardBounties/issues/25 -- that is why you cannot submit the bounty.

there is no fix we can put in as the smart contract is immutable.  if this was a mainnet bounty id say we should cancel it and pay out via other mean

[2018-06-08 16:36] owocki commented on #854
@JDFind  i can send you two RETH if you want. DM me your address

[2018-06-08 16:38] owocki commented on #1341
we already have a scraper written that pulls gas prices from etherscan.  its the ` GasProfile` model

[2018-06-08 16:41] owocki commented on #1378
@SaveTheAles this is a good idea. maybe one that just says "bounties|n" where n is the number of bounties available?

[2018-06-08 16:43] shad-k commented on #1341
@owocki noted, on it.

[2018-06-08 16:45] owocki commented on #1330
you can cancel the bounty and reclaim your funds regardless of whether the bounty is excpired or not.  just look for the 'cancel bounty' button

i agree with the OP comments about updating the copy on the tooltip

[2018-06-08 16:49] owocki commented on #946
@CuriousLearner hit us up on slack and we can send you some more ETH for gas money

[2018-06-08 16:54] owocki commented on #1370
hey!

looks good.  two comments
1. what is the icon next to the new standard bounties item?
2. the 'we believe' item kind of looks lonely by itself.  what if we added (b) "We believe that an ICO and tokenization is not the best business model for our dapp. We dot not have a token". (c) "We believe that blockchain is a game-changer for funding of Open Source.  We believe that Open Source Funding an

[2018-06-08 17:07] #1409 closed

[2018-06-08 18:10] JDFind commented on #854
@owocki
Ah, I didn't thought of it that way, it makes sense now.
Thanks for the info. :)

[2018-06-08 18:44] owocki commented on #854
glad to makes sense now :)

[2018-06-08 18:44] #854 closed

[2018-06-08 19:32] austintgriffith commented on #1379
I'd like to keep my ears open for updates on this.

First of all, what is the progress with a new version of Standard Bounties? Is there anything I can do to help with that? There are a handful of things I'd like to see added to the standard.

Second, I'm thinking of building something that would leverage Colony.io to divide a large Standard Bounty into smaller domains and tasks. It would require

[2018-06-08 21:16] #1388 closed

[2018-06-08 22:00] CuriousLearner commented on #946
@owocki Done: https://etherscan.io/tx/0xe95d9c81247f82c0c324fa58df1676b07b5623ed851af0923e00eecc4c53b09e

[2018-06-09 02:38] knocte commented on #1330
I don't see that button. Where is it? Looking in https://gitcoin.co/issue/knocte/gwallet/2/529, even in the source of the page there's no "cancel" text, so it's not that the button is hidden or something.

[2018-06-09 12:50] #1226 closed

[2018-06-09 16:32] arun1595 commented on #1386
@gitcoinbot On it.

[2018-06-10 12:43] thelostone-mc commented on #1393
This corresponds to the line
[code]

I believe it isn't possible to get this error until `delete localStorage` is run
It's got only one occurrence

Will reopen if it occurs again :P

[2018-06-10 12:43] #1393 closed

[2018-06-10 12:57] thelostone-mc opened #1418 "Uncaught ReferenceError: Accounts is not defined"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1064/](https://rollbar.com/gitcoin/gitcoin/items/1064/)

[code]

[2018-06-10 12:59] thelostone-mc commented on #1418
@mbeacom  https://github.com/gitcoinco/web/blob/master/app/assets/yge/youvegoteth/pre.js#L50-L59

- Do we need the `console.log` ?
- Can we place `document.Accounts = Accounts;` inside
`if (typeof Accounts != 'undefined') ` ?

[2018-06-10 14:12] kelvintyb commented on #1015
@owocki btw if there's any additional work for this particular feature to bring it up to feature parity with the slack integration (e.g. a Test button for users to manually trigger the webhook, auto-setting of the gitcoin discord bot's profile pic on creation), I would be keen to work on those too. A really good experience with this platform so far! :)

[2018-06-10 15:17] knocte commented on #1330
Is it because the funder appears with an empty field "gitcoin profile" somehow? it maps to my email address properly (same email address as my gitcoin profile has). Please help me cancel this bounty.

[2018-06-10 20:34] NedelescuVlad commented on #1177
Just to double-check, we want all endpoints up and coded when we submit this right? I've just started working on the issues you guys pointed out so far in the pr but it's going smooth

[2018-06-10 21:06] owocki opened #1419 "can't run `docker-compose up -d --build `"
[code]

[2018-06-10 22:51] owocki commented on #1419
nevermind it seems to just have been an intermittent issue

[2018-06-10 22:52] #1419 closed

[2018-06-11 01:28] owocki commented on #1379
cc @mbeylin on this https://github.com/ethereum/EIPs/issues/1081 is where it lives

[2018-06-11 01:29] owocki commented on #1379
i'm canceling this bounty since it seems like the way its written is infeasible.  will post a follow up ticket shortly

[2018-06-11 01:42] owocki commented on #1380
sorry not blocked by 1379, its blocked by https://github.com/Bounties-Network/StandardBounties/issues/40

[2018-06-11 01:43] owocki commented on #1380
ur right, its not

[2018-06-11 01:44] owocki opened #1422 "As a funder of Cooperative/Contest Bounties, I want a Bulk Payout Feature, since Cooperative/Contest Bounties don't have that currently and it'd be way more convenient."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder of Cooperative/Contest, I want a Bulk Payout Feature, since Cooperative/Contest Bounties don't have that currently and it'd be way more convenient.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to hap

[2018-06-11 01:45] owocki commented on #1379
https://github.com/gitcoinco/web/issues/1422

[2018-06-11 01:45] #1379 closed

[2018-06-11 01:46] owocki commented on #1422
@PixelantDesign thoughts on this?

[2018-06-11 13:17] mbeacom commented on #1418
We should be able to remove the `console.log` and move that block.

[2018-06-11 13:38] owocki commented on #963
was listening to a [rich rollpodcast](https://soundcloud.com/richroll/rrp371) this weekend.  they enumerate the reasons ppl become mentors

1. They see some of them self in you
2. Help you be more like them
3. They wanna be more like you

[2018-06-11 14:00] j10sanders commented on #1370
happy to help with this!  Don't need the bounty (can still go to @justpixel if you like his icon image).

[2018-06-11 14:21] thelostone-mc opened #1423 "Uncaught SyntaxError: Unexpected token =>"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1175/](https://rollbar.com/gitcoin/gitcoin/items/1175/)

[code]

[2018-06-11 15:25] PixelantDesign opened #1425 "Gitcoin Bot and Project Status"
### User Story

As a user, I want Gitcoin bot to provide clearer way to show the status of a project and also clean up the copy for each state.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently, there is a lot of competing information in Gi

[2018-06-11 15:40] PixelantDesign commented on #1425
Here is a WIP on what some of the scenarios might look like...[see the full flow in this PDF](url
[Gitcoin Bot Flow.pdf](https://github.com/gitcoinco/web/files/2090701/Gitcoin.Bot.Flow.pdf)
)

<img width="804" alt="screen shot 2018-06-11 at 11 33 40 am" src="https://user-images.githubusercontent.com/238235/41241733-bed0fabc-6d6b-11e8-848d-1cb422895730.png">

<img width="838" alt="screen shot 2018-

[2018-06-11 15:59] PixelantDesign commented on #1422
This is **very** useful and could be applied to splitting bounties on non/co op project types.

The contributor would still click to submit the work correct?

When a funder clicks Payout Bounty - will he/she see the work submission (and note) that was provided by each co-op participant? Or is the funder only concerned about paying out at this point?

I think it's nice to see submissions from each

[2018-06-11 16:30] owocki opened #1426 "featured placements on the gitcoin issue explorer"
not ready to be worked on -- revenue idea

[2018-06-11 16:48] owocki opened #1427 "As a funder, id like the ability to extend the expiration date of a bounty, so i can keep it open"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, id like the ability to extend the expiration date of a bounty, so i can keep it open

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
So users can extend

[2018-06-11 16:48] owocki commented on #1427
@PixelantDesign got this feedback from @travisdmathis today!

[2018-06-11 16:55] owocki opened #1428 "as a worker, i'd like the ability to favorite certain funders, and get notifications when they post new work."
as a worker, i'd like the ability to favorite certain funders, and get notifications when they post new work.

(not ready t0 be worked on yet)

[2018-06-11 16:56] owocki commented on #1428
@travisdmathis 's idea!!

[2018-06-11 17:35] owocki commented on #1422
Interesting comment about this on the Gitcoin slack

I'm not sure they will... we can either (1) build this first and then iterate towards multi bulk payouts or (2) add that scope to this ticket

[2018-06-11 17:37] NukeManDan commented on #1422
I figure that as a bounty hunter this is a good thing - as I save gas if I wait to see if I have a chance at winning a competition. But in what cases is this an issue for funders? As I would need to get close to a full solution/ completion anyway to be in the running.

[2018-06-11 17:39] NukeManDan commented on #1422
More fundementally though - if I do the work on a funded issue - all I need to do is provide my address to a funder right? why does it need to be on a smart contract? Just have the funder plug that directly into the contract to payout so you never need to pay as a bounty hunter to submit work?

[2018-06-11 17:55] PixelantDesign opened #1429 "Funder Feature - Extend My Bounty Time Frame"
Not ready to be worked on

### User Story

[comment]: # As a funder, I should have the option to extend my bounty time frame.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

currently a funder can't do this.

### Description

[comment]: # (Feature

[2018-06-11 17:56] owocki opened #1430 "New footer messsed up on https://gitcoin.co/ios"
https://gitcoin.co/ios

Just needs a little TLC from a CSS perspective

<img width="1434" alt="screen shot 2018-06-11 at 11 55 42 am" src="https://user-images.githubusercontent.com/513929/41248462-63e611d4-6d6e-11e8-9978-16dc1c38a1f4.png">

[2018-06-11 20:19] PixelantDesign opened #1431 "Ability to Customize the Frequency of Gitcoin Bot"
Not Ready to be worked on

### User Story

As a funder, I'd like the ability to customize the frequency of gitcoin bot.
As a contributor, I don't want to keep being warned, when I'm diligently working through a project.

### Current Behavior
[comment]: # (Describe what actually happened.)

Gitcoin bot warns people too much.

### Solution
[comment]: # (Provide a summary of the solution and a task l

[2018-06-11 20:22] PixelantDesign commented on #1425
@owocki @thelostone-mc @SaptakS @vs77bb, thoughts?

[2018-06-11 20:26] PixelantDesign opened #1432 "Contributor Guidelines Around Coop and Contests - Best Practices"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a core team, we want to make sure that Coop and Contests Work Scheme is being used properly, and funders have an understanding of best practices.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and w

[2018-06-11 20:40] PixelantDesign opened #1433 "Relist/ Refresh Bounties Brainstorm"
*To solve for bounties with little or no movement....*

Idea I had end of last week:

Pixelant
What do you all think about the ability to REFRESH or RELIST a Bounty - just like you do with a house.

Owocki
thats a really good idea

Pixelant
How would that work though, we don't want funders to have to redo their blockchain transaction and pay more gas...

Owocki
we could maybe just override some of

[2018-06-11 20:48] PixelantDesign commented on #1427
Great! Seems to be a recurring theme!

[2018-06-11 20:49] #1429 closed

[2018-06-11 20:54] PixelantDesign commented on #957
@thelostone-mc The only things outstanding are coding up the email and adding in the avatar builder?

[2018-06-11 20:55] owocki opened #1434 "Bring Discord Bot to Parity with Slack Bot"
* Test button for users to manually trigger the webhook
* auto-setting of the gitcoin discord bot's profile pic on creation
* anything else?

[2018-06-11 20:56] owocki commented on #1015
PR looks good to me.  @mbeacom once you 👍 i will approve and lets merge it.

@kelvintyb heres a issue scope for the scope you suggested. look ok? https://github.com/gitcoinco/web/issues/1434

[2018-06-11 21:04] owocki commented on #1330
If you are logged into metamask on the mainnet with `0xdba22c88ed3a67328c56ac52dd606298393f2eed` as your coinbase, the cancel bounty button should appear.  could you please confirm you've tried that?

[2018-06-11 21:08] owocki opened #1435 "Bug: Broken Links in Footer"
screenshot: http://bits.owocki.com/1A2H1x2P3q34/Screen%20Shot%202018-06-11%20at%203.08.21%20PM.png

pricing link goes nowhere
English UK -- what is this link meant to do?

[2018-06-11 21:12] owocki commented on #1431
does the current 'snooze' functionality accomplish this?

[2018-06-11 21:20] owocki commented on #1370
thanks @j10sanders -- ill leave it to @justpixel to let you know if he needs help.. so far so good with his work!

[2018-06-11 21:39] owocki opened #1436 "As a user, I want a better 404 page for hidden profiles"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

https://gitcoin.co/profile/hughsie
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

As a user, I want a better 404 page for hidden profiles

Instead

### Description

[2018-06-11 21:50] owocki commented on #1329
success rate ==
[code]
???

or
success rate ==
[code]
???

Second excludes open + in progress bounties

[2018-06-11 22:45] owocki commented on #1422
@NukeManDan thanks for your comments.. i think mbeylin and you chatted about this on slack right?

@PixelantDesign any objections if i fund the creation of this form via a bounty?

[2018-06-11 22:52] owocki opened #1438 "more revenue ideas"
posted at https://github.com/gitcoinco/skunkworks/labels/revenue

[2018-06-11 22:59] NukeManDan commented on #1422
@owocki yes - https://gitcoincommunity.slack.com/archives/C7A4F4UHK/p1528738287000660
Ongoing there.  :grinning:

[2018-06-12 00:20] kelvintyb commented on #1434
Looks good! I was thinking about this integrations feature and eventually it might make sense to allow adding of multiple slack bots / discord webhooks. But since that enhancement would require refactoring, a data migration and users can work around the single bot/webhook restriction now with multiple accounts, I suggest we leave multiple bots/webhooks for a future issue.

Anyway, looking forward

[2018-06-12 01:17] PixelantDesign commented on #1422
@owocki

That is an interesting point, though having participated in coops myself, I think once the person has done the work, they've committed to entering, no? What's a little bit of gas if you've already put in the effort?Perhaps it depends on what the task is.

I think building the form out to pay out all at once to see if we get traction on it makes sense.

Let's bounty it!

[2018-06-12 02:08] PixelantDesign commented on #1431
Hmm...the snooze is sort of a response to the Gitcoin Bot commenting too much. I was thinking more along the lines of how the funder have a more proactive control over the Gitcoin Bot custom, per issue.

The 1st use case is:
I'm *Fanatic Funder Frank*, Project #1 I have a 14 day project, I know I'll be interacting with whomever takes the project a lot since its a shorter turn around time, I'll act

[2018-06-12 02:38] PixelantDesign commented on #1435
Pricing should go to the form.
English link we removed in a previous build I thought. That was from the mockup in case we had other languages down the road.

@thelostone-mc could you take a look at these?

[2018-06-12 03:29] owocki opened #1440 "DESIGN - As a user, I want gitcoin.co/vision to exist, so I can understand the core team's vision."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/vision to exist, so I can understand the core team's vision.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
The world is changing so fas

[2018-06-12 03:29] owocki commented on #1440
@justpixel are you interested in this one?

[2018-06-12 03:51] owocki opened #1441 "As a bounty hunter, I want a 'bounty as a glance' visual on the bounty page so I can score it easily in my brain as a 'go' or 'no -go'."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a bounty hunter, I want a 'bounty as a glance' visual on the bounty page so I can score it easily in my brain.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
So u

[2018-06-12 03:52] owocki commented on #1441
@PixelantDesign thoughts on this?  I think theres a few big wins for bounty hunters here.

[2018-06-12 03:55] owocki commented on #1434
@kelvintyb whats a fair price?

[2018-06-12 04:10] #1007 closed

[2018-06-12 04:12] owocki opened #1442 "On https://gitcoin.co/settings/tokens I'd like to be able to disable ERC20 tokens, so I can disable tokens."
### User Story

Follow up to https://github.com/gitcoinco/web/pull/1190

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
On https://gitcoin.co/settings/tokens I'd like to be able to disable tokens, so I can disable tokens.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happ

[2018-06-12 04:19] owocki opened #1443 "DESIGN - As a user, I want gitcoin.co/is_not_a_shitcoin to exist, so I can understand why Gitcoin did not do a token / token sale."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
DESIGN - As a user, I want gitcoin.co/is/not/a/shitcoin to exist, so I can understand why Gitcoin did not do a token.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2018-06-12 04:28] owocki commented on #1435
note that on this branch i've fixed the issues https://github.com/gitcoinco/web/pull/1439

[2018-06-12 06:16] knocte commented on #1330
Oh, being logged in with metamask I can see the button, indeed.
(Still, it seems in https://gitcoin.co/profile/ it still says "0 bounties funded" which seems to suggest that still my account is not linked properly, but this might be a different issue.)
I'm going to try to click on "Cancel bounty" now and I'll report back.

[2018-06-12 09:51] SaveTheAles commented on #1378
@owocki
Right! Honestly your widget is very informative. Probably you can to segment information from this widget to small badges.

For example "gitcoin tasks | n" where n is number of tasks available.
"gitcoin rewards | n" where n is total rewards.

[2018-06-12 10:56] thelostone-mc commented on #1430
Gonna have to redo the entire page 😓

[2018-06-12 11:29] #1423 closed

[2018-06-12 12:52] justpixel commented on #1370
@owocki  The first icon is the open source logo. Do you wan to try with something else?

![gitcoin-misson](https://user-images.githubusercontent.com/7627020/41291496-83f1c762-6e58-11e8-9c16-c791b4696332.png)

[2018-06-12 13:43] owocki commented on #1430
http://nooooooooooooooo.com/

[2018-06-12 14:28] PixelantDesign commented on #1440
@justpixel please reference the updated brand guide and [this landing page](https://github.com/gitcoinco/creative/tree/master/Marketing/DotCom/Main%20Landing%20Page) for typography and hierarchy. Looking forward to seeing what you come up with!

[2018-06-12 14:46] kelvintyb commented on #1434
@owocki I think 0.1 ETH for the test feature + auto-setting of profile pic would work for me.

[2018-06-12 15:42] owocki commented on #1443
@junagao excited to work with you! [here](https://medium.com/gitcoin/why-gitcoin-didnt-do-a-utility-token-ico-and-neither-should-you-ec942733dd6b) is the article upon which i'd like this page designed.

@Legitimate good to meet you.  i decided to approve the other bounty hunter since they were first and had a portfolio i can check out.  if you send me a message on the gitcoin slack, i'm sure i hav

[2018-06-12 16:21] #1395 closed

[2018-06-12 16:21] #1398 closed

[2018-06-12 16:21] #1394 closed

[2018-06-12 16:21] #1418 closed

[2018-06-12 16:37] ceresstation commented on #1390
@mbeacom Awesome, yep that's exactly what I was looking for.

[2018-06-12 16:37] #1390 closed

[2018-06-12 20:44] #1340 closed

[2018-06-13 14:27] owocki opened #1449 "user cannot submit work"
User Mike Morris on Slack

For some reason the "Submit Work" page is not doing anything for me. All fields filled in, but the Submit button results in only the "busy wait" animation endlessly. Any ideas what's going on here?

![screenshot_20180612_162547](https://user-images.githubusercontent.com/513929/41357491-86b4f736-6ee3-11e8-88d7-15ee064f6d4d.png)

Once the Submit is triggered:
[code]

[2018-06-13 14:33] mbeacom commented on #1449
Associated Gitcoin bounty: https://gitcoin.co/issue/ethereum/solidity/1213/502

[2018-06-13 14:41] mbeacom commented on #1449
@owocki I tested creating a bounty and fulfilling it on prod:  https://gitcoin.co/issue/mbeacom/test-repo/45/830 - Everything seems to be working.  I will say, it took an exceptionally long time (~10 seconds) for the metamask confirmation popup to open.  Once it did, everything seemed to work, though.

[2018-06-13 17:01] #1430 closed

[2018-06-13 17:18] owocki commented on #1425
some thoughts

1. i'm not sure that 'project type' and 'approval' is important enough to take this much real estate on the bot comment
2. i worry that having super visual colorful icons will make it look like we're trying to hijack the github thread.  but im willing to test it and see if we get pushback.
3. love the cleaned up copy
4. i think that having a link to the gitcoin issue page on each an

[2018-06-13 17:30] owocki opened #1451 "as a marketer, i want gitcoin.co/presskit so I can know Gitcoin's brand guidelines"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a marketer, i want gitcoin.co/presskit so I can know Gitcoin's brand guidelines
Inspired by https://infura.io/presskit

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summar

[2018-06-13 17:30] owocki commented on #1451
@PixelantDesign would this make your life easier?

i can bounty it if we both agree

[2018-06-13 17:34] owocki commented on #1422
@phyroxin just shot you over an approval.  looking forward to working with ya!

[2018-06-13 17:34] owocki commented on #1422
and to answer your questions.. no special requirments.. theres repo spin up instructions at https://github.com/gitcoinco/web/

[2018-06-13 17:53] #1436 closed

[2018-06-13 17:55] mbeacom opened #1453 "Error: Invalid number of arguments to Solidity function"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1311/](https://rollbar.com/gitcoin/gitcoin/items/1311/)

[code]

Occurrence:

URL: `https://gitcoin.co/funding/new`
Message: `Invalid number of arguments to Solidity function`
Browser: Firefox
OS: OSX 10.13

[2018-06-13 19:16] mikro2nd commented on #1449
Stack trace:
[code]

[2018-06-13 19:47] owocki commented on #1449
hmmm looks related to a chrome extension.. metamask maybe?

[2018-06-13 20:13] thelostone-mc commented on #957
and the API for keywords population!
I'll bug @mbeacom for that when I start wiring up the avatar

[2018-06-13 20:30] EmmaRamirez commented on #1370
Hey @justpixel, I just have a couple of nitpicks on language
- there's some inconsistency in periods throughout--I would either stick with always have periods in sentences, or not having them at all (I think the former is probably the best option)
- You'll want to use an em dash — (Alt + 0151)
- For we believe, second icon it says, "We _dot_ not have a token" I also believe it should be DApp, but

[2018-06-13 20:57] owocki commented on #1370
thanks for the feedback @EmmaRamirez :)

@justpixel this looks good.  wanna submit it and post the source files?  i will get it coded up!

[2018-06-13 21:21] owocki commented on #1390
@ceresstation this is live now.  here is a screenshot http://bits.owocki.com/091h2D3B1j1n/Screen%20Shot%202018-06-13%20at%203.20.43%20PM.png

[2018-06-13 21:31] mbeacom opened #1454 "SyntaxError: Expected an identifier but found 'navFollowState' instead"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1319/](https://rollbar.com/gitcoin/gitcoin/items/1319/)

[code]

[2018-06-13 21:35] owocki commented on #1431
thanks. this is useful. happy to brainstorm sometime.

taking a step back -- one thing i really struggle with is deciding between providing interfaces that optimize for *convention* and *configurability*

convention -- dont bother me with all the details, just do whats best
configurability -- im a power user who wants to fine tune everything

[2018-06-13 21:40] owocki commented on #1330
thanks @knocte !

so the reason gitcoin hasn't connected your bounty to your profile is that it looks like you werent logged in when you submitted the bounty.

sorry for all the confusion!

[2018-06-13 21:43] owocki commented on #556
@e-n-l i dont know how i missed this.. this is a good idea, i like how elegant it is technically :)

@PixelantDesign i'd love to just build this nights and weekends, but im afraid i dont have enough user input on exactly what the funder expectations are here.  could we maybe spend a couple hours over the next several weeks doing user research and informing the spec so we know the dev cycles are pu

[2018-06-13 21:46] owocki commented on #1434
@kelvintyb sounds good to me.  make it so and ill pay you out via tip!

[2018-06-13 22:01] mbeacom opened #1455 "Ratelimited"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1320/](https://rollbar.com/gitcoin/gitcoin/items/1320/)

[code]

[2018-06-13 22:04] owocki commented on #1455
hmmm this was me.. sending a bunch of tips.

where do i go to remove the rate limit?  django or nginx?

[2018-06-13 22:09] owocki commented on #1378
Adding a bounty for this now:

Scope:

Create a view in dashboard/embed.py that returns a badge that just says "bounties|n" where n is the number of bounties available on gitcoin

[2018-06-13 22:23] mbeacom opened #1456 "BadFunctionCallOutput: Could not decode contract function call getBountyToken return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/492/](https://rollbar.com/gitcoin/gitcoin/items/492/)

[code]

[2018-06-13 23:41] owocki commented on #1037
testing the PR now

[2018-06-14 02:00] owocki commented on #1353
@arun1595 this seems to be back

[2018-06-14 02:01] owocki opened #1457 "z-index issue on gitcoin.co/ens"
<img width="1439" alt="screen shot 2018-06-13 at 8 01 01 pm" src="https://user-images.githubusercontent.com/513929/41387519-8b08aa6a-6f44-11e8-8a17-f79cae7de576.png">

[2018-06-14 02:01] arun1595 commented on #1353
@owocki Can you share a screenshot?

[2018-06-14 02:02] owocki commented on #1353
<img width="873" alt="screen shot 2018-06-13 at 8 02 16 pm" src="https://user-images.githubusercontent.com/513929/41387546-ae423a00-6f44-11e8-8a79-c4f0487191c5.png">

[2018-06-14 02:03] arun1595 commented on #1353
@owocki Weird, let me check and get back to you.

[2018-06-14 02:08] arun1595 commented on #1353
@owocki The font awesome icon classnames are fine. I guess the font awesome css file isn't loaded in the ENS html page. Will confirm and submit a PR.

[2018-06-14 02:20] arun1595 commented on #1353
@owocki That was the case, the font awesome css file was loaded in a conditional for some reason. I've submitted a [PR](https://github.com/gitcoinco/web/pull/1458) with a quickfix of moving the `link` tag outside the conditional. Check it out and let me know if I missed something.

Thanks.

[2018-06-14 06:44] thelostone-mc commented on #1353
Looks like it's working

<img width="1440" alt="screen shot 2018-06-14 at 12 13 57 pm" src="https://user-images.githubusercontent.com/5358146/41395772-6fabe66e-6fcc-11e8-8281-4e7c42c1f199.png">

[2018-06-14 06:44] #1353 closed

[2018-06-14 08:20] SaveTheAles commented on #1378
@owocki Can I to enhance a bounty with ETH?

[2018-06-14 14:12] mikro2nd commented on #1449
Oooo -- my bad! I neglected to mention that this is in Firefox. Could well be (likely) some extension. I have NoScript (GC is whitelisted), uBlock-Origin, Privacy Badger (not blocking anything from GC that I can see) , Cookie Autodelete (GC whitelisted for cookies) and (obvs.) MetaMask 3.14.1.

hth

[2018-06-14 15:58] arun1595 commented on #1316
@mbeacom I hate to release this but I couldn't figure out the issue :disappointed:

Stopping work on Gitcoin so someone else can fix it.

[2018-06-14 16:25] phyroxin opened #1461 "Issue: Windows 7 with Docker | docker-compose -f docker-compose.bash up"
Hey,

I'm using windows 7 and docker-toolbox to spin up a local instance of gitcoinco/web. The setup of docker went without too much trouble. However when I attempt to docker-compose -f up ( using docker-compose.yml configuration ) I receive the following error:

![capture4](https://user-images.githubusercontent.com/4226730/41425625-36f88606-6ff9-11e8-9cfe-0a1bf3f95085.JPG)

I've isolated the issu

[2018-06-14 16:32] owocki opened #1462 "As a user, I want a beautiful svg animation for the Gitcoin Tree as I scroll down the landing page, so I can be enamoured with the mission to grow Open Source"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a beautiful svg animation for the Gitcoin Tree as I scroll down the landing page, so I can be enamoured with the mission to grow Open Source

[screenshot of the tree](http://bits.owocki.com/1b110j3l2m2F/Screen%20Shot%202018-06-14%20at%2010.30.02%20AM.png)

Link to landing page: https://gitcoin.co/

[2018-06-14 16:32] owocki commented on #1462
cc @PixelantDesign  -- im going to bounty this so the core team isnt spending cycles learning this new skillset

[2018-06-14 17:54] junagao commented on #1443
@owocki can you please explain me more in details the briefing of the project? I'm a bit confused. Is the article you sent - the text as it is - the actual content of the page? can I message you on slack?

[2018-06-14 18:28] owocki opened #1463 "Code - Update https://gitcoin.co/mission to show off that we use an open protocol"
Update https://gitcoin.co/mission to show off that we use an open protocol

Add the 'we believe' section from below, and adjust the color scheme of the two sections below it to match this design.

![41291496-83f1c762-6e58-11e8-9c16-c791b4696332](https://user-images.githubusercontent.com/513929/41430839-61668a3a-6fce-11e8-8082-32b6dd9e4105.png)

Must be responsive friendly

Source Files: https://gi

[2018-06-14 18:35] owocki commented on #1370
https://github.com/gitcoinco/web/issues/1463

[2018-06-14 18:35] #1370 closed

[2018-06-14 18:52] owocki commented on #1461
10 DAI bounty to anyone who can figure this out for @phyroxin !

[2018-06-14 20:04] PixelantDesign opened #1464 "As a user of Gitcoin, I'd like to know who I'm working with on the platform (reputation)"
### User Story

As a user of Gitcoin, I'd like to understand what kind of work other community members have done on the platform.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
we don't have one

### Description

[comment]: # (Feature or Bug? i.e

[2018-06-14 20:10] PixelantDesign opened #1465 "Admin Toggle - Clear Comments on Github Issue"
### User Story

As an admin I'd like the ability to clear comments from a Github issue.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently when multiple users start and stop an issue it create alot of activty on the github thread but no rea

[2018-06-14 20:20] PixelantDesign commented on #1451
it's essentially taking the brand guide and putting it online along with the assets, ya? That would be useful.

[2018-06-14 22:53] owocki commented on #1443
@junagao what questions do you have?  the article i sent you is a content piece that describes the major points about why we did not launch a token.  i'm counting on you to design a page that makes those points visually.

[2018-06-14 22:53] owocki commented on #1443
yes pls msg me on slack

[2018-06-15 02:47] owocki commented on #1378
unfortunately theres no way to add more ETH to a bounty unless ur the core contributor (yet). we are building this in soon!

[2018-06-15 04:47] PixelantDesign opened #1467 "DESIGN View by Org on Issue Explorer"
**Reserved for @willsputra**

### User Story

As a user I'd like to be able to find issues by browsing open source projects that have work on the Gitocin platform.

### Description

We would like bounty contributors to know all of the projects that are using Gitcoin and whether or not they are hiring.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
Feature - View Bounties by Organisation

##

[2018-06-15 05:05] PixelantDesign commented on #1177
Looking forward to seeing a PR @NedelescuVlad!

[2018-06-15 05:28] PixelantDesign opened #1468 "DESIGN Contributor Dashboard"
### User Story

As a user I'd ilke an easy way to view the tasks that I'v signed up for so that I know what I need to do next - in Gitcoin

We are solving for:
Seeing what projects are in flight
Seeing phases of the project
Easy views to manage multiple issues being worked on

**Please share a few links to recent work when applying for this task.**

### Why Is this Needed?
Feature doesnt exist.

#

[2018-06-15 05:28] #588 closed

[2018-06-15 05:42] willsputra commented on #1467
I'm on it :)

[2018-06-15 09:04] ninjasun commented on #1316
@mbeacom The user story in the description should be: As a bounty founder, I want to be able to add additional information .. I think is better specify the actor instead use the general word user.

[2018-06-15 11:01] ninjasun commented on #1316
@mbeacom mm it seems to test this form I need to submit a form and post a bounty (as is written above). There must be a simple way to do it.  Locally I got interval server error 500, probably I cannot reach GitHub API

[2018-06-15 14:22] owocki opened #1469 "The BIG Gitcoin Grants (powered by Staketree) Bounty"
# Why

There are some great projects in the ecosystem, that already have a spec and someone excited about working on them... But just need a little bit of recurring financial support.

# What

We would like for you, bounty hunter, to build Dev Grants.  Dev Grants == Recurring CrowdFunded Financial Support.

It is expected that

* muitilple funders can fund a grant
* the funds are held in a trustle

[2018-06-15 14:40] thelostone-mc commented on #1440
@justpixel I'm still on two minds about using the blue background ( and the green on blue text )

[2018-06-15 14:50] thelostone-mc commented on #1177
@PixelantDesign He' already opened up a PR at https://github.com/gitcoinco/web/pull/1351

@NedelescuVlad Yeah ! If there are any endpoints aren't available yet leave a TODO there and we'll take care of it 👍

[2018-06-15 15:08] thelostone-mc commented on #1425
I like it ! Might need to update the language a bit

@mbeacom @SaptakS can we add multiple shields / badges to comments on the same line ?
I assume shields are svg / images (from a bit of googling) and markdown language doesn't have an CSS equivalent to position them

Worst case:  we'd have to generate an svg strip for every combination

[2018-06-15 15:42] thelostone-mc commented on #1316
@ninja you can test it out on the rinkerby network (if that's what you were asking )

[ Open metamask -> change network from Main to Rinkerby and post a bounty on the local instance]

[2018-06-15 16:07] owocki commented on #1341
just commented back on the PR

[2018-06-15 16:10] owocki commented on #1440
thanks for the fast work @justpixel .. let me noodle on this for a few hours and get bcak to you soon

[2018-06-15 16:15] thelostone-mc commented on #1244
@darkdarkdragon any idea when we can expect a WIP PR ?
This issue has been open for a while and we'd like to get to wrap it quick ^_^

[2018-06-15 16:18] PixelantDesign commented on #1440
Thanks @justpixel thanks for the fast turnaround, will take a look as well.

[2018-06-15 16:24] owocki opened #1470 "Work on an ethereum/eth-utils 'good first issue'"
This is a bounty that may be claimed after one has done a PR on any of the 'Good first issue' issues on `ethereum/eth-utils`

https://github.com/ethereum/eth-utils/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22

[2018-06-15 16:31] owocki opened #1471 "Work on an ethereum/populus 'good first issue'"
This is a bounty that may be claimed after one has done a PR on any of the 'Good first issue' issues on `ethereum/populus`

https://github.com/ethereum/populus/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22

[2018-06-15 16:33] owocki opened #1472 "Work on an ethereum/web3py 'good first issue'"
This is a bounty that may be claimed after one has done a PR on any of the 'Good first issue' issues on `ethereum/web3py`

https://github.com/ethereum/web3.py/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22

[2018-06-15 16:36] owocki opened #1473 "Work on an ethereum/cpp-ethereum/issues 'help wanted'"
This is a bounty that may be claimed after one has done a PR on any of the 'help wanted' issues on `ethereum/cpp-ethereum/issues`

https://github.com/ethereum/cpp-ethereum/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2018-06-15 17:37] unrealkaii opened #1475 "Make ENS available for github organizations"
### User Story

[comment]: User can get an ENS for a github organization.

### Why Is this Needed?

[comment]: If developers can have an ENS, organizations need it more

### Description

[comment]:
*Type*:  Feature

### Current Behavior
[comment]: Only user account has access to ENS

### Expected Behavior
[comment]: Option for organization account ENS

### Solution
[comment]: Make ENS available fo

[2018-06-15 17:44] owocki commented on #1475
i was thinking a hack for this might be allowing useres who are members of an organization to 'impersonate' that organization through the current auth structure @mbeacom

[2018-06-15 17:47] owocki commented on #1465
@PixelantDesign a few pieces of feedback:

1. we will only be able to do this if the user making the request to the github API (probably either the authenticated user on gitcoin, or gitcoinbot itself) has permissions to delete comments on the github thread.  so i think this will work in cases in which the person clearing the comments is the issue submitter or owner of the repo, but in cases in whi

[2018-06-15 20:04] PixelantDesign opened #1478 "Make Icon on Issue Explorer Circular"
### User Story

As a user I want to see project icons in consistent shapes.

### Current Behavior
[comment]: # (Describe what actually happened.)

The Project Avatar icon on the issue Explorer list is Square.

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

Make Project Avatar icon on the issue explorer round to match issue details page.

### Definition of Done
[comment

[2018-06-15 20:32] supersammy7000 commented on #1470
Both Good First Issues have been completed but the issues weren't closed.

[2018-06-15 20:38] PixelantDesign commented on #1465
I didn't love the idea of deleting but was thinking that was the easiest way. I like 2 and 3 since it honors the open source mantra @owocki @thelostone-mc, which do you all prefer?

[2018-06-15 20:41] owocki commented on #1465
i think that 3 allows us to workaround the issues with number 1, and thats the reason i'd lean in that direction

[2018-06-15 20:42] #1341 closed

[2018-06-15 20:45] owocki commented on #1478
we should probably also do this on /leaderboard ([screenshot](http://bits.owocki.com/1n21201h1K08/Screen%20Shot%202018-06-15%20at%202.44.39%20PM.png) too.  its an easy one line css fix

[2018-06-15 20:45] owocki commented on #1470
ah ok. good to know.. ill cancel this issue then.  @supersammy7000 see any other issues on that repo that'd b e good to work on?

[2018-06-15 20:57] owocki commented on #1440
Finally had some time to think about this..

First off, its very cool!  Thanks for the quick turnaround and for the beautiful design.

# Blockchain is going to be the TCP IP of Money.

I think that this section could probably be just spent talking about how we're building an internet of money.  Its the framing for the entire rest of the page.  You could maybe use the distributed ledger vs central

[2018-06-15 21:00] PixelantDesign opened #1480 "Remove Extra Kerning on All Gitcoin Emails"
### User Story

As a user I'd like to receive emails that are easy to read.

### Current Behavior
[comment]: # (Describe what actually happened.)

Extra kerning exists in the emails.

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

Kerning is removed.

### Additional Information
[comment]: # (Any other information that would be useful, conten

[2018-06-15 21:17] darkdarkdragon commented on #1244
@thelostone-mc As I've told @PixelantDesign I'll be able to start working on it only tomorrow, so it will be tomorrow or at Sunday

[2018-06-15 21:32] supersammy7000 commented on #1470
There's only 5 open issues and I think there is only 2 real issues.

On Fri, Jun 15, 2018, 4:16 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-06-16 06:08] justpixel commented on #1462
@PixelantDesign @owocki Here is a codepen https://codepen.io/justpixel/full/vregXo
Please tell me if you want to make any tweaks on this.

[2018-06-16 08:50] thelostone-mc commented on #1462
@justpixel Oh this is nice :D

Noob question : For these , do you custom write the svg by hand / generate it using sketch + add relevant class and ID + add css on top of it ?

I've been trying my hand at stuff like this during my spare time and I usually end up writing the svg by hand (takes a lot of time 😅 )

[2018-06-16 09:06] yadia commented on #1451
Hey, quick question do you want the brand guide as an html page or what format?

[2018-06-16 09:58] phyroxin commented on #1461
Ok, I've finally managed to resolve the problem. Turns out the reason for the seeming missing "app" directory and subsequent "No such file in directory" errors were due to the docker-toolkit being installed on a drive other than the one containing my "User" directory ( C: ) where the git repository resided.
I uninstalled docker and reinstalled on my C: drive then performed a restart, after which "

[2018-06-16 17:26] arun1595 opened #1484 "Change login link hover color on ENS page"
### Description

On the [ens page](https://gitcoin.co/ens/), Login link on hover is colored blue making it hard to read as it is on a blue background.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Design bug

![image](https://user-images.githubusercontent.com/7039523/41500746-43f8b7da-715d-11e8-82e3-e05cdb922c73.png)

### Current Behavior
[comment]: # (Describe what actually happened.)
The

[2018-06-16 17:44] Jbry123 commented on #1451
^^^ I can code a wireframe mock up and check with you

[2018-06-16 17:53] #1484 closed

[2018-06-16 17:55] owocki commented on #1386
hows this going?  i think alisa said she wanted a 7 day turnaround time in the task desc right?

[2018-06-16 18:01] thelostone-mc commented on #1386
@owocki the first pass is done !
Alisa requested a fee changes. I left a few comments.

Overall decent progress

[2018-06-16 18:37] owocki opened #1489 "bounty with attached JD v2"
v2 of https://github.com/gitcoinco/web/pull/1488 :

we could also collect the following info:
* position type: contract, part time, full time
* compensation info (rate, equity, etc)
in a v2 we could also maybe use this information to populate a gitcoin job board

[2018-06-17 02:37] justpixel commented on #1462
@thelostone-mc Yes, I've built the svg on layers in Illustrator and then write the animation by hand. I think there are other tools like https://www.svgator.com/ to help you but for this case it seems easier to do it like this.

[2018-06-17 10:57] thelostone-mc commented on #1465
I would vote to keep the comments as and use it as is so that whoever is taking up the issue
knows the entire history

It could number of reasons why it didn't pick up:
- maybe issuer kept changing features
- maybe issuer/hunter wasn't responsive
- maybe the hunter didn't have the needed skillset

The options suggested by @owocki cannot be generalized as it would require asking fore delete permiss

[2018-06-17 12:34] PixelantDesign commented on #1244
I'm updating the ticket with some changes, @thelostone-mc @darkdarkdragon please see updated.

[2018-06-17 14:26] owocki opened #1492 "travis fails with 'The command "pytest -p no:ethereum" exited with 1.'"
The command "pytest -p no:ethereum" exited with 1.
example build

https://travis-ci.org/gitcoinco/web/builds/393249455?utm_source=github_status&utm_medium=notification

[2018-06-17 18:41] tschoffelen commented on #1378
Hi guys, sorry, wanted to have this completed before the end of the week, but was having some issues with getting the local dev environment up and running. Eventually got the Github login to work, but not sure how I can import some (example) bounties to test it, now every widget URL gives me `{"msg": "No user account"}`.

[2018-06-17 21:12] NedelescuVlad commented on #1177
I've updated the PR with 2 new endpoints for getting outgoing funds and bounties data. Also introduced variables in the views.py file for all data needed on GET. Still quite a bit to do in terms of UI (haven't fixed the issues you guys addressed yet).

[2018-06-18 04:18] thelostone-mc commented on #1378
@tschoffelen Is this what you were looking for  ?

https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md#optional-import-bounty-data-from-web3-to-your-database

[2018-06-18 04:54] thelostone-mc opened #1493 "design: new 404 page"
### User Story

This is a design ticket for the redesign of the gitcoin 404 page.

Feel free to browse through our current assets set up at: https://github.com/gitcoinco/creative/tree/master/Marketing/Art

##### Current 404 page:

Looks meh ! Could be improved.

<img width="1440" alt="screen shot 2018-06-18 at 10 16 09 am" src="https://user-images.githubusercontent.com/5358146/41518538-a821cc9a-72

[2018-06-18 09:22] phyroxin commented on #1422
Yes I'm still working on it. I had to resolve an issue with running a
version of the site locally on windows 7 using docker. I'm currently
seeking more information on the issue.

On 16 June 2018 at 17:15, Gitcoin.co Bot <notifications@github.com> wrote:

[2018-06-18 09:39] snezanasucurovic commented on #1422
I completed work on https://gitcoin.co/issue/gitcoinco/web/1422/606. I don't find out how to put my code. Please help.

[2018-06-18 10:16] justpixel commented on #1440
@owocki I've updated the screen. Please have a look.
![Uploading Gitcoin Vision.png…]()

[2018-06-18 10:31] snezanasucurovic commented on #1422
I put code on github, https://github.com/snezanasucurovic/snezanalounge1
I hope it is enough.

[2018-06-18 14:49] #1492 closed

[2018-06-18 15:10] willsputra commented on #1467
thoughts? :)

![org view](https://user-images.githubusercontent.com/19514207/41544959-a128751c-734c-11e8-99c8-87e317f81c53.jpg)
![org view - inside](https://user-images.githubusercontent.com/19514207/41544961-a16cd220-734c-11e8-98dd-d47adf7f570d.jpg)

[2018-06-18 16:17] arun1595 commented on #1386
@PixelantDesign @thelostone-mc Will try to get this done today, apology for the delay!

[2018-06-18 16:18] owocki commented on #1422
@snezanasucurovic this issue was claimed by @phyroxin -- thats why you can't claim the issue on gitcoin.

@phyroxin what do you want to do here? depending upon how far along you are... you could release the issue or continue working on it.  i'd also be happy to split the payout between both of ya

[2018-06-18 16:18] owocki commented on #1422
cc @PixelantDesign -- this is interesting.. its the first case of someone doing work while another person had claimed the bounty (since we launched the project types PR)

[2018-06-18 16:34] phyroxin commented on #1422
I'll let this go in this instance and let @snezanasucurovic
<https://github.com/snezanasucurovic> claim it. No point duplicating the
work already done. Obviously I don't want this to affect my record ( which
is essentially at 0 as this was my first bounty ). I can move onto another.

Kind Regards,

Lamin

On 18 June 2018 at 17:18, Kevin Owocki <notifications@github.com> wrote:

[2018-06-18 17:01] ninjasun commented on #1316
@thelostone-mc  is there any documentantion regarding the networks available?
I'm still on it, having problem running the platform.

[2018-06-18 17:48] snezanasucurovic commented on #1422
Dear Sir,
as you can see my English is not brilliant. I am not sure what should be my
next step.
Kind regards,
Snezana Suciurovic

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1

[2018-06-18 18:47] owocki commented on #1464
my gut says maybe we can default the star ratings to public and hide the specifics?  i dont want to preside over snickering about reviews... and we'll only have to do that if there is a dispute about someone's longform text review

[2018-06-18 18:53] owocki commented on #1465
@PixelantDesign whatcha think?

[2018-06-18 19:31] vs77bb opened #1498 "Disable Gitcoin Bot Responses"
### User Story

As a developer, I don't want to see Gitcoin Bot responses which state the inability to respond.

<img width="804" alt="screen shot 2018-06-18 at 2 28 11 pm" src="https://user-images.githubusercontent.com/23297747/41557679-0125ad48-7304-11e8-8359-43c2e02dced5.png">

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the cu

[2018-06-18 19:34] vs77bb commented on #1467
I love this! It's a first step to doing true profiles of our most prominent projects.

[2018-06-18 19:35] vs77bb commented on #1463
Hi @emmaRamirez, do you have any progress here? We may send this back out to 'Open' if we don't hear from you but are excited to see a WIP PR 🙂

[2018-06-18 19:36] arun1595 commented on #1498
@vs77bb I'm on it.

[2018-06-18 19:37] vs77bb commented on #1462
@justpixel this is awesome!

[2018-06-18 19:44] arun1595 commented on #1498
@vs77bb Submitted a [PR](https://github.com/gitcoinco/web/pull/1500) fixing this.

[2018-06-18 19:44] #1498 closed

[2018-06-18 20:00] PixelantDesign commented on #1462
@justpixel looks great!!!! Can't wait to see it on the site! No changes from me! Love it!

[2018-06-18 20:03] vs77bb commented on #1443
Hi @junagao do you have any questions or progress to share? Hope you're doing well. If you need additional inspiration, we have also drafted [this article](https://medium.com/p/f24af0b54ded/edit) along the same lines.

@owocki, perhaps we might consider a tamer URL once this goes live 🙂

[2018-06-18 20:14] vs77bb commented on #1422
Hi @snezanasucurovic, please go here to click ['Start Work'](https://gitcoin.co/issue/gitcoinco/web/1422/606) on the bounty. If you believe it's ready for submission, you may also 'Submit Work'. If you need a bit of ETH to do so, please reference the [Gitcoin Faucet](gitcoin.co/faucet)

@phyroxin Thank you for your understanding in this scenario and for being a team player. While we removed you fr

[2018-06-18 20:16] phyroxin commented on #1422
No worries, glad to be of help :)

On 18 June 2018 at 21:14, Vivek Singh <notifications@github.com> wrote:

[2018-06-18 21:22] owocki commented on #1451
yes as an HTML page

[2018-06-18 21:48] owocki commented on #1440
i like the direction this is going..   the copy isnt all there, but i think that the design is getting there.  i think we might be getting close to being able to code this up.  @PixelantDesign curious what you think.

[2018-06-18 23:20] owocki commented on #1467
looking good.

i wonder if the 'view repos' button makes sense buried in the left nav.  perhaps it could be labeled 'view as' and could be toggled in the search bar.  this UI pattern reminds me of the 'view as rows | tiles' pattern that is pretty common across the web

[2018-06-18 23:28] owocki commented on #1462
i love it!  @thelostone-mc  / @SaptakS is it an easy lift for you to put on the landing page?  if not, i can bounty it

[2018-06-18 23:29] owocki commented on #1462
@justpixel can you submit your work on gitcoin pls?

[2018-06-19 12:10] thelostone-mc commented on #1462
@owocki I'll add it in !

[2018-06-19 13:21] mbeacom opened #1502 "UnboundLocalError: local variable 'interest' referenced before assignment"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1377/](https://rollbar.com/gitcoin/gitcoin/items/1377/)

[code]

[2018-06-19 13:23] #1502 closed

[2018-06-19 13:29] mbeacom opened #1503 "TypeError: unsupported operand type(s) for *: 'float' and 'decimal.Decimal'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1366/](https://rollbar.com/gitcoin/gitcoin/items/1366/)

[code]

[2018-06-19 13:46] owocki commented on #1503
i dont get it.  this is pretty explicitly cast to a float

[2018-06-19 13:54] owocki commented on #115
i'td be great if we could figure out the root cause here..

[2018-06-19 15:43] PixelantDesign commented on #1464
Let's start with star ratings public.

[2018-06-19 15:44] PixelantDesign commented on #1464
Can we do the stars in Green? Orange has a warning connotation. @owocki

[2018-06-19 15:45] PixelantDesign commented on #1464
I think we should show reviews on profile.

[2018-06-19 15:48] owocki commented on #1464
@PixelantDesign if someone 'dings rep' by removing another from a bounty, what if we just represent that as a 1 star review in the UI

[2018-06-19 17:25] mbeacom opened #1504 "Outstanding avatar issues"
Onboard Flow Changes (copied from Aditya's list)

Across all pages -> track buttons / links / video clicks

Metamask
- [x] remove line breaks between first two para
- [x] hide video is user is logged in to metamsk
- [x] updated text to "Metamask is a wallet that enables your browser to be web3-enabled.  After you've installed Metamask, you can use web3 apps like Gitcoin!" - (from kevin)

Avatar Pa

[2018-06-19 18:16] bockp opened #1505 "Error in the Home link extracted from Github."
As a user who has registered using my Github account, I've encountered a small error in the link extraction for personal webpages from Github:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Error in the Home link extracted from Github.

### Current Behavior
[comment]: # (Describe what actually happened.)

The Gitcoin Profile webpage has 2 links on it.
One is the link t

[2018-06-19 18:55] owocki commented on #995
diff background colors
	keep my github username
	gitcoin watermark

[2018-06-19 19:29] bockp opened #1506 "Incorrect values (# bounties completed and $ rewarded) in the Leaderboards"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

After completing 0 bounties ( 2 started, 2 submitted, 0 "accepted"), my Leaderboard position is listed as having completed 3, and the amount listed as earned is in conflict with the Collaborative contest having been cancelled.

Technically, I participated and completed 2 bounties, but one of them was listed as traditional (

[2018-06-19 19:36] owocki commented on #1506
good detective work!  you are correct that this bug has it's roots in the recently launched contest bounties and how it was paid out.

im going to try and find some cycles later to put in a root cause fix

[2018-06-19 19:41] PixelantDesign opened #1507 "Update Notif-Gitcoin Message Format - Slack"
### User Story

As a user I'd like to quickly understand the Notification Gitcoin Updates.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently hard to parse.

Learning through interview that a lot of people follow that channel to stay up to

[2018-06-19 20:49] PixelantDesign commented on #1478
@mbeacom @thelostone-mc can we merge this?

[2018-06-19 20:50] PixelantDesign commented on #1467
Yea, I wonder if there is a way to make it a little more prominent.

[2018-06-19 20:51] owocki commented on #1505
@arun1595 any interst in this one?

[2018-06-19 20:54] owocki opened #1509 "States "please review questions" - but there are no questions"
pressed enter to early - wanted to upload this:

![selection_084](https://user-images.githubusercontent.com/111600/41623528-56ea647a-7413-11e8-9ea4-2ca03d59af8e.png)

here: https://github.com/walleth/walleth/issues/143#issuecomment-398536666

[2018-06-19 20:54] owocki commented on #1509
hat tip @ligi for the bug report

[2018-06-19 21:02] ligi commented on #1509
Had a good smile there - reminded me about this meme:

![](https://cdn.dopl3r.com/memes_files/gary-0-friends-wished-you-a-happy-birthday-want-to-look-back-on-past-birthday-see-birthday-memories-memories-VrNpr.jpg)

[2018-06-19 21:07] arun1595 commented on #1505
@owocki Let me fix it :slightly_smiling_face:

I also noticed a weird issue yesterday - the funder's profile link on a bounty page was linking to https://gitcoin.co/profile

Couldn't find the bounty, will open a new issue once I encounter the issue again.

[2018-06-19 21:07] owocki commented on #1509
olololol

[2018-06-19 21:11] owocki opened #1510 "CODE - As a user, I want gitcoin.co/vision to exist, so I can understand the core team's vision."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/vision to exist, so I can understand the core team's vision.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
The world is changing so fas

[2018-06-19 23:13] owocki commented on #716
@stevenwritescode are you still interested in this?

[2018-06-20 03:10] PixelantDesign opened #1511 "Put Admin Controls on one line"
### User Story

As an admin, id like to clearly see my controls in an organized manner.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently the buttons look messy.

### Definition of Done
[comment]: # (Any other information that would be use

[2018-06-20 03:19] PixelantDesign commented on #1464
That works, is it 1 star per Funder Feedback?
If I abandon two projects, the system will automatically give me one star for each task. This means, I have 1 star regardless of how many times? Since there isn't a concept of average star ratings yet. Is this correct understanding?

[2018-06-20 03:20] PixelantDesign commented on #1506
Thanks for the **extremely thorough** bug report @bockp!

[2018-06-20 03:46] PixelantDesign commented on #1465
I think @thelostone-mc brings up a good point. Is there a way to collapse/hide some of the old comments?

[2018-06-20 05:00] arun1595 commented on #1505
@owocki I've submitted a [PR](https://github.com/gitcoinco/web/pull/1512) which should fix this issue. Please take a look when you get a chance.

[2018-06-20 05:40] #1505 closed

[2018-06-20 08:28] stevenwritescode commented on #716
Its been in the back of my mind, unfortunately I just haven’t had the time to start coding it out yet. Work, school, and looking for a new job have kinda gotten in the way of my attempts to contribute to open source stuff. I still think it would be a fun project if I can find the time. Sorry for the radio silence.

[2018-06-20 10:58] Yara1990 commented on #1472
I can work on It.I have started work on Gitcoin Page.

[2018-06-20 11:18] thelostone-mc commented on #1478
@PixelantDesign nope! Comments are yet to be addressed on the PR

[2018-06-20 11:33] thelostone-mc commented on #1465
AFAIK it's not possible to do that!

[2018-06-20 13:47] PixelantDesign commented on #1504
When my metamask is unlocked, I click the unlock button, the button takes me to the metamaks website. Is there a way to prompt me to unlock my seed phrase in the chrome extension?

[2018-06-20 13:52] PixelantDesign commented on #1504
On the last screen can we update this text from  Getting Started Guide to Quickstart Guide -
<img width="1090" alt="screen shot 2018-06-20 at 9 50 55 am" src="https://user-images.githubusercontent.com/238235/41662661-987ea16a-746f-11e8-8594-70a276a9ca52.png">

[2018-06-20 13:55] junagao commented on #1443
Hi @owocki and @vs77bb, how can I submit a WIP PR? I'd like to send a preview so you can comment on. I'd like to have some feedback to whether or not I'm in the right direction.

Also, in which file format do you usually work for the design? .sketch or .ai?

Thank you,
Juliane

[2018-06-20 13:56] PixelantDesign commented on #1478
Where are the comments @thelostone-mc @arun1595

[2018-06-20 14:02] PixelantDesign commented on #1480
Thanks for the submission @sprusr, will take a look!

[2018-06-20 15:03] mbeacom commented on #1504
@PixelantDesign We don't have `#EEE3C1` in the palette.  Which hex do you want moved after `#F8D5C2` ?

[2018-06-20 15:19] PixelantDesign commented on #1504
Please Add #EEE3C1 AFTER  #F8D5C2

[2018-06-20 18:02] bartleyg commented on #1472
Worked on https://github.com/ethereum/web3.py/issues/797 and submitted PR https://github.com/ethereum/web3.py/pull/917 awaiting review.

[2018-06-20 18:41] ceresstation opened #1515 "As a funder, I would like the Gitcoin bot bounty amount to update when I add a contribution"
It would be great to either update the existing Gitcoin bot funding amount or to have the Gitcoin bot send a follow up message when new contributions are added.

### Why Is this Needed?

In case users come across the issue through Github they will see the correct available bounty.

### Current Behavior

No updates are made to Gitcoin bot amounts. See for example: https://github.com/paritytech/pari

[2018-06-20 18:50] KennethAshley commented on #1469
Awesome to see this progressing! I did some work on this from the beginning so if anyone has any questions on my work / designs I'll be happy to answer anything!

[2018-06-21 00:43] PixelantDesign commented on #1441
Yep, might be a good exercise to update and reprioritize the information on the top piece.

[2018-06-21 01:06] PixelantDesign opened #1516 "Contributor Ftux V1.1"
**First Screen**
- [x] Remove Previous Button on Github Screen: https://stage.gitcoin.co/onboard/contributor/github

**Github Connect**
- [x] Once a user connects to Github, their logged in avatar should show in the upper right hand corner of the Ftux flow.

**Avatar Builder**
- [ ] Ability to Reset
- [x] On Avatar Builder, move Do this later on the upper right hand corner.
- [x] Move Previous But

[2018-06-21 05:51] justpixel commented on #1451
@owocki Here is the first version. Please tell me if there are other sections you want me to include.
![gitcoin vision](https://user-images.githubusercontent.com/7627020/41700253-33d69c60-7530-11e8-946c-5abb928970ab.png)

[2018-06-21 13:08] #1504 closed

[2018-06-21 13:12] #813 closed

[2018-06-21 13:30] vs77bb opened #1518 "Update Gitcoin Bot Comment (on Github) When Funding Increased"
### User Story

[comment]: # (]As a <user type>, I want to <task> so that <goal>.)
As a funder / hunter, I want parity between the funding amount listed on Gitcoin and Github.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: When funders 'Add Contri

[2018-06-21 14:38] PixelantDesign opened #1519 "Outstanding Funder Form Updates"
- [ ] Bold these headers: About, Details, Deadlin, Contact, Pricing, Gas Settings
- [ ] Can we put in updated confirmation page as part of funder form update (I know this is also part of the funder ftux)?
- [ ] 1 hrs at $40/hr, 0 hrs at $80/hr, 0 hrs at $120/hr, increase to next font size.
- [ ]  Show Revisions on the issue details page, after permissions
<img width="1112" alt="screen shot 2018-06

[2018-06-21 15:08] PixelantDesign opened #1520 "Add Link to Access Avatar Builder"
Add a link above View Profile, link should say 'Build Avatar'

<img width="326" alt="screen shot 2018-06-21 at 11 12 02 am" src="https://user-images.githubusercontent.com/238235/41728240-513ee5dc-7544-11e8-9d83-ecec0ccc5898.png">

[2018-06-21 18:13] #1520 closed

[2018-06-21 19:52] PixelantDesign opened #1523 "Avatar Builder Visual Bugs"
- [ ] Hair

 doesn't reach shirt.
<img width="290" alt="screen shot 2018-06-21 at 3 34 22 pm" src="https://user-images.githubusercontent.com/238235/41742101-01cecb30-756b-11e8-8696-b576c96024b1.png">

- [ ] Earrings

 don't turn off (even thought unselected)
<img width="613" alt="screen shot 2018-06-21 at 3 39 13 pm" src="https://user-images.githubusercontent.com/238235/41742109-0565a534-756b-11e8

[2018-06-21 20:04] PixelantDesign commented on #1480
@thelostone-mc is this one good to go?

[2018-06-21 21:10] thelostone-mc commented on #1480
Yup! It's already merged it. Good for payout
Thanks @sprusr ^_^

[2018-06-21 21:10] #1480 closed

[2018-06-21 21:12] thelostone-mc commented on #1440
I like this better :D

@PixelantDesign can I go ahead and merge the assets ?

[2018-06-21 21:29] thelostone-mc commented on #1478
@PixelantDesign https://github.com/gitcoinco/web/pull/1479

[2018-06-21 22:31] #1224 closed

[2018-06-22 02:11] PixelantDesign opened #1527 "Avatar Bug on Mobile"
From SeironWP [4:13 PM]
Hi. But report: when I use the direct link to avatar maker from medium post, the menu is empty on mobile and I can't save avatar or log in.

![screenshot_20180621-221344](https://user-images.githubusercontent.com/238235/41754357-0c90fa90-75a0-11e8-93e1-d8bc6a95005a.png)

[2018-06-22 02:29] #859 closed

[2018-06-22 02:30] #1425 closed

[2018-06-22 02:33] PixelantDesign opened #1528 "Gitcoin Bot Copy Update and Add Project Status Visual"
**User Story**
As a user, I want Gitcoin bot to provide clearer way to show the status of a project and also clean up the copy for each state.

**Why Is this Needed?**
Summary: Currently, there is a lot of competing information in Gitcoin Bot comments.

**Definition of Done**

- [ ] Update Gitcoin Bot messaging - all relevant scenarios (refer to sketch file at the bottom of this ticket).
- [ ] Add

[2018-06-22 04:15] PixelantDesign commented on #1440
@justpixel I like the revision. Would it be possible to unify the weights of the icons? Looks like some are thicker stroke and some are thinner. Can we make them all on the thinner side? 1 or 2px max.
<img width="714" alt="screen shot 2018-06-22 at 12 14 07 am" src="https://user-images.githubusercontent.com/238235/41757643-47fb2b12-75b1-11e8-9576-e059ae7e3efa.png">
<img width="173" alt="screen sho

[2018-06-22 04:28] PixelantDesign commented on #1464
yes, that sounds good to me. Let's keep it simple.

[2018-06-22 04:32] PixelantDesign opened #1529 "Create Profile Flyout"
Profile Flyout could be useful for quick glimpse on a user.

Ideas on information that could live in a flyout:

- 1. User Name
- 2. Avatar
- 3. Rating
- 4. Projects Associated/Worked On

Example below...
<img width="482" alt="screen shot 2018-06-22 at 12 28 22 am" src="https://user-images.githubusercontent.com/238235/41757967-798e5652-75b3-11e8-881f-6c9b6413be02.png">

[2018-06-22 05:29] cryptomental commented on #1472
Hi. I picked up https://github.com/ethereum/web3.py/issues/867 and submitted  https://github.com/ethereum/web3.py/pull/921

[2018-06-22 14:20] snezanasucurovic commented on #1422
Dear Sir,
I corrected code for Add Row and Payout buttons.  Do I understand ? Am I expected  to correct other code ?
Kind regards,
Snezana

[2018-06-22 16:36] SaptakS opened #1532 "Tracking Module for Gitcoin"
### User Story
Create a tracking module to allow tracking of user actions throughout gitcoin platform.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
We would like to track the use

[2018-06-22 19:15] cryptomental commented on #1472
Great! My pr was merged ;) @owocki @vs77bb how to claim those bounties?

[2018-06-23 15:04] premachb commented on #1457
Hey! Just checking out this project and I have a fix for this. As well the page had a problem where the container would expand vertically because of the rain effect and I've fixed that too. I can include the fix for both in one PR or just make two separate PRs. Thoughts?

[2018-06-23 17:53] #1478 closed

[2018-06-23 19:50] thelostone-mc commented on #1478
@PixelantDesign Good for payout ^_^

Thanks @arun1595! Always a pleasure working with you :D

[2018-06-23 19:51] arun1595 commented on #1478
@thelostone-mc Thanks! Same here :slightly_smiling_face:

Btw, @PixelantDesign already [paid](https://github.com/gitcoinco/web/issues/1478#issuecomment-397744521) out the bounty!

[2018-06-24 07:12] snezanasucurovic commented on #1422
While I was submitting work I forgot to place link. Here it is https://github.com/snezanasucurovic/snezanalounge1 and file is HTMLVer2Sucurovic.html. I am not comfortable with version control systems.
Kind regards,
Snezana

[2018-06-24 12:43] thelostone-mc commented on #1478
Derp derp! Did not see that

[2018-06-25 02:43] #1244 closed

[2018-06-25 06:12] mbeacom opened #1534 "BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types ['bool', 'address', 'string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/636/](https://rollbar.com/gitcoin/gitcoin/items/636/)

[code]

[2018-06-25 06:14] vs77bb opened #1535 "Remove 'Dibs' from Gitcoin Bot comment on Github"
### User Story

As a funder, I'd like to remove all reference to 'dibs' in approve only bounties where work is started by approval.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
<img width="671" alt="screen shot 2018-06-24 at 10 43 49 pm" src="ht

[2018-06-25 06:32] raininja commented on #1177
I didn't realize that there were several types of bounties, sorry about that

On Mon, May 28, 2018, 12:18 PM Kevin Owocki <notifications@github.com>
wrote:

[2018-06-25 08:03] justpixel commented on #1440
@owocki @PixelantDesign Illustrations updated.![gitcoin vision](https://user-images.githubusercontent.com/7627020/41837834-53027f8e-7867-11e8-8890-fcc15263fcfc.png)

[2018-06-25 12:13] thelostone-mc commented on #1457
@premachb Nah just send it one PR with screenshots and referencing this issue ^_^

[2018-06-25 12:56] pelsasser opened #1537 "[Bug] As a funder, I cannot approve a bounty hunter for work."
### User Story
As a funder, I cannot approve a bounty hunter for work.

### Why Is this Needed?

*Summary*: To allow work to progress.

### Description

*Type*: Bug
Recently when trying to approve workers on permissioned bounties, I am getting the error shown in the below screenshot.  Notice the `cancel bounty` button appears, I am logged into metamask with the funding account selected.

![image](

[2018-06-25 13:00] mbeacom commented on #1532
We have `UserAction` on the BE.  Is that what you're looking for?

[2018-06-25 13:06] PixelantDesign commented on #1440
Thank you @justpixel ! Would you mind making the circles around the year the same thickness as the vertical time line? Otherwise looks great!

Icons in a separate .ai for a final PR to the creative repo would be awesome as well!

[2018-06-25 13:59] #1527 closed

[2018-06-25 14:02] thelostone-mc commented on #1440
@owocki good for merge + payout ?

[2018-06-25 14:18] thelostone-mc commented on #1316
@ninjasun Ah sorry I was travelling and didn't see this

I don't think we've got docs on using it but it just a matter switching the current network on metamask

Boot up your local -> navigate to fund issue -> ensure metamask network == rinkeby -> Proceed to fund your issue with dummy ether. You can get the dummy ether from https://faucet.rinkeby.io/

![x1](https://user-images.githubusercontent.co

[2018-06-25 14:21] thelostone-mc commented on #1443
@junagao Ah sorry about this ! Everyone got a lil busy this week 😅
You can submit a WIP PR to https://github.com/gitcoinco/creative
That's where all our design assets reside.

We are good with both `sketch` and `ai`

cc @PixelantDesign whos's our design lead on this ^_^

You can either attach screenshots here or in the PR whichever you prefer

[2018-06-25 14:22] thelostone-mc commented on #1177
@raininja no worries ^_^

[2018-06-25 15:15] thelostone-mc commented on #1422
@snezanasucurovic you would have to integrate this code into this repo! add your changes on top of that so that we can check it out

Check out https://git-scm.com/videos -> they've got decent how to use git
To set up the repo : https://github.com/gitcoinco/web#running-locally

[2018-06-25 17:30] #1511 closed

[2018-06-25 17:53] #1315 closed

[2018-06-25 20:55] chrishobcroft opened #1542 "Add the ability to attach *any* ERC20 token to a bug-bounty (starting with LPT - Livepeer Token)"
### User Story

As a _holder of a budget of ERC20 tokens_, I want to **attach any ERC20 token to a bug bounty**, so that more people can `share in the value we create together`.

### Why Is this Needed?

The current state, as I understand it, is that bug bounties on gitcoin can be paid out using ETH (Ethereum), or using a token chosen from a limited set of options on the website.

This is a proble

[2018-06-26 01:03] owocki commented on #1506
didn't forget about this one; just been AFK for a few days.. its on the TODO list

[2018-06-26 02:12] owocki opened #1543 "avatar bug -- wrong eye color"
http://bits.owocki.com/302n3W2o0Y0u/Screen%20Shot%202018-06-25%20at%208.12.03%20PM.png
https://gitcoin.co/profile/owocki

the eyes on this avatar are white, they should be dark if the users skin color is light and visa versa

[2018-06-26 02:16] owocki opened #1544 "avatar UX thing -- bust cache upon avatar change"
if i
1. go to my profile
2. go to avatar builder and update my avatar
3. go back to my profile

my avatar should update.

we should be busting the cloudfront cache upon updates to the avatar or the profile in general.

# implementation path

one important key we can update is the `last_github_auth_mutation` cookie.   we could also add a more generalized cookie that can be updated whenever we need

[2018-06-26 02:18] owocki commented on #1542
@PixelantDesign @SaptakS this seems like an oversight with respect to the new funder form.  i think we should probably remove the USD greater than 0.01 validator for the time being,

and after that, then think a little more strategically about the some of the (amazing, thank you @chrishobcroft ) suggestions provided above

[2018-06-26 03:02] mbeacom commented on #1544
@owocki Are you experiencing some issue viewing the latest avatar? The avatars are salted with a hash and shouldn't need busted.

[2018-06-26 06:46] snezanasucurovic commented on #1422
Thank you for email and possibility for me to work great things.
Kind regards,
Snezana

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, Jun 25, 2018 at 5

[2018-06-26 08:05] michelgotta opened #1545 "Scrolling on "home" lags or doesn't work with scroll wheel"
### Why Is this Needed?

User should have a natural scrolling experience of the "home" landingpage even with a scroll wheel mouse.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
Bug: Scrolling on home landingpage lags or hangs with scroll wheel mouse. Using a old but gold Logitec scroll wheel mouse on Chrome.

### Expected Behavior
Should scroll.

### Solution

I think there are so

[2018-06-26 10:04] chrishobcroft commented on #1542
It's a real pleasure to be able to provide feedback, and for it to be gladly received!

If any of you guys mentioned above would like some LPT, please drop me an email with your Eth address (preferably in some kind of Web 3.0 enabled browser) chris at livepeer dot org

[2018-06-26 10:06] chrishobcroft commented on #1542
And yes, I would be interested to see whether this works if you remove the $ value validator...

And then (fingers crossed) we can start sharing stakes in Livepeer with video-tech development community.

Hooray!

[2018-06-26 11:18] pinkiebell commented on #1378
![screenshot 2018-06-26 at 12 55 48](https://user-images.githubusercontent.com/40266861/41908162-5e4b86e2-7943-11e8-917b-6350100ea061.png)

[2018-06-26 11:18] owocki commented on #1469
hey @jvmaia @captnseagraves @AhsanFazal sorry for the radio silence.  was away all weekend. gonna confer with the team and get back to you all soon.

[2018-06-26 11:20] owocki commented on #1544
yes, the avatar stays the same if you follow repro steps 1-3 above.

i dont think we should invalidate the entire cache.   we should just update the `last_github_auth_mutation` cookie, which will invalidate the cache for just the currently logged in user.

[2018-06-26 11:32] owocki opened #1547 "As a funder, I want the funder form to flag anything that is months (or more) as a bad bounty that needs to be broken up, so I can know I need to breakdown my tasks."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want the funder form to flag anything that is months (or more) as a bad bounty that needs to be broken up, so I can know I need to breakdown my tasks.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2018-06-26 11:33] owocki opened #1548 "As a funder, I want to be able to put more granular estimates in my bounty size, so I can get more granular estimates of success rates right in the form."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to be able to put more granular estimates in my bounty size, so I can get more granular estimates of success rates.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2018-06-26 11:34] owocki opened #1549 "As a user of Avatars, I'd like a a Gitcoin watermark so I don't have to tell people where the avatar came from (they just know)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of Avatars, I'd like a a Gitcoin watermark so I don't have to tell people where the avatar came from (they just know)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*

[2018-06-26 11:34] owocki commented on #1549
@PixelantDesign any feedback on this?

[2018-06-26 11:35] #1051 closed

[2018-06-26 11:36] owocki commented on #1053
@Smona @CuriousLearner the avatar builder is in prod.  still interested in this ticket?

[2018-06-26 11:36] owocki commented on #1054
@justpixel any intereset in this?  if not i will bounty it !

[2018-06-26 11:36] owocki commented on #1052
@pixelantdesign any objetions if i bounty this?

[2018-06-26 11:42] justpixel commented on #1054
@owocki Sure. Where can I find the the files with the illustrations?

[2018-06-26 13:59] owocki opened #1550 "Request for new avatar attributes"
Is there a hair style, accessory, skin color, hair color, or something else you want to see on https://gitcoin.co/onboard/contributor/avatar?

Please describe the attribute you would like added in the comment thread below.

For the designers in the group, [here is a avatar creation guide](http://bits.owocki.com/1w3p2Q0w330u/gitcoin-avatarconstructionguide.pdf)

[2018-06-26 14:03] owocki commented on #1550
i'd like non unicolor backgrounds (stripes, polka dots, etc)

[2018-06-26 14:03] owocki commented on #1054
@mbeacom are the backgrounds stored as svgs somewhere?  any guidelines for designers to use as they create new backgrounds?

[2018-06-26 14:04] owocki commented on #1054
https://github.com/gitcoinco/web/pull/1551

[2018-06-26 14:54] PixelantDesign commented on #1510
@owocki, how will users get here? Are you thinking this would live under Why Gitcoin?

[2018-06-26 16:25] davidbanu commented on #1510
@owocki, can you please give me access to the document containing the content of the landing page? I've tried several times to ask for access but I didn't receive any response. (I've used my google account: banudavidcip@gmail.com)

[2018-06-26 17:10] owocki commented on #1510
yes

@davidbanu please just use the designs in the spec to code up the page.  you don't need access to the doc (which predates the existence of the designs).  for clarity, i've removed the reference to the gdoc with the (undesigned) copy in it.  (here is a link to the source files https://github.com/gitcoinco/creative/pull/12 )

[2018-06-26 17:12] davidbanu commented on #1510
@owocki, cool! Thanks for your fast response...

[2018-06-26 17:13] owocki commented on #1510
@davidbanu :) sorry for radio silence on the gdoc request.. was away on a long weekend

[2018-06-26 17:14] owocki commented on #1493
@junagao let us know what youre planning on doing here. thanks!

[2018-06-26 17:15] owocki commented on #1472
@Yara1990 no, you dont need the ABI to interact with anything.  if you did, you could have pulled them from the gitcoinco/web codebase though.

@cryptomental i'll remove @Yara1990 from the task.  please click 'start work' and then 'submit work' on the gitcoin issue ( https://gitcoin.co/issue/gitcoinco/web/1472/637 ) and ill pay you out

[2018-06-26 17:16] owocki commented on #1472
@Yara1990 take a look at gitcoin.co/explorer and let us know if theres another task youd like to work on though!

[2018-06-26 18:20] mbeacom opened #1552 "Exception: attempting to create a new bounty (689) when is_greater_than_x_days_old = True"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/463/](https://rollbar.com/gitcoin/gitcoin/items/463/)

[code]

[2018-06-26 18:23] mbeacom opened #1553 "Exception: attempting to create a new bounty (689) when is_greater_than_x_days_old = True"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/463/](https://rollbar.com/gitcoin/gitcoin/items/463/)

[code]

[2018-06-26 18:55] owocki commented on #1537
@SaptakS @mbeacom

this is not related to accepting work (which is baed on the users ETH address), it is based upon approving workers (which is based upon github login)

i believe this is related to this line of code https://github.com/gitcoinco/web/blob/master/app/dashboard/views.py#L777-L817

specifically

[code]

so the user must be logged into the system

[2018-06-26 19:08] owocki commented on #1537
@mbeacom @SaptakS i suggest the following two courses of action

IMMEDIATELY

1. Update the error message to tell the user to login.

SOON-ISH

2. If the user is not logged in, present them with a 'please login first' modal

[2018-06-26 19:09] mbeacom commented on #1054
@owocki The backgrounds are currently only hex codes at the moment.  That's why I was thinking we were going to use a color picker versus a limited palette for those.

[2018-06-26 19:11] mbeacom commented on #1550
We'll want to modify the existing background handling in order to accommodate this.  Right now, it's simply using `svgutils.Line` and filling the dimensions of the avatar with the provided hex code.

[2018-06-26 19:18] owocki opened #1554 "as a user, i want to be prompted to login when creating my avatar so i dont waste time building an avatar and can't save it"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to be prompted to login when creating my avatar so i dont waste time building an avatar and can't save it

screenshot -- http://bits.owocki.com/3g3D2P3c0S2Y/Screen%20Shot%202018-06-26%20at%2012.12.44%20PM.png

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. P

[2018-06-26 20:38] owocki commented on #1472
@bartleyg @cryptomental i will pay you both out.  pls submit the issue on gitcoin @bartleyg -- @cryptomental i will pay you out via a tip

[2018-06-26 21:36] mbeacom commented on #1537
@owocki Adding the message now.

[2018-06-27 05:56] PixelantDesign opened #1557 "Fund Issue button out of place on mobile"
![1f2b3ba2-bdb8-4111-a0b3-dbfe0be72c48](https://user-images.githubusercontent.com/238235/41955258-2ee822b0-7994-11e8-8aa3-427e84127515.png)

[2018-06-27 09:54] SaptakS commented on #1537
@owocki Okay. I will update the message. But if the user isn't logged it, how does it pass [this if condition](https://github.com/gitcoinco/web/blob/master/app/dashboard/views.py#L782-L784)?

[2018-06-27 12:08] SaptakS commented on #1527
I am unable to reproduce this. The menu does show me the entire nav bar. Also on scrolling, I get to see the avatar builder properly. @mbeacom @thelostone-mc can you reproduce?

[2018-06-27 15:58] PixelantDesign commented on #1451
@justpixel i like this!

Would you mind breaking out the swatches into tiles?

Under Illustrations, would it be possible to take all of the illustrations that exist and put them under this section in thumbnails, similar to what you did with the robot?

[2018-06-27 16:08] owocki commented on #1542
d991c86d54c40916398abeed04a008d5057fd84f should fix this issue.  @chrishobcroft pls try at http://gitcoin.co/new

@SaptakS let me know what you think of d991c86d54c40916398abeed04a008d5057fd84f

[2018-06-27 16:10] PixelantDesign commented on #1052
Sounds good. Is this a build task?

I have a watermarked avatar that I was testing, do you think we need Made with Gitcoin on it?

**Option 1**
![alisa_icons](https://user-images.githubusercontent.com/238235/41985600-a1c9be7a-79e8-11e8-9771-2f212d32a46e.png)

**Option 2**
![alisa_icon](https://user-images.githubusercontent.com/238235/41985610-aaf65e72-79e8-11e8-82ed-e15cf4b045af.png)

**Option 3**

[2018-06-27 17:34] junagao commented on #1443
Hi, I submitted a WIP PR yesterday. Please take a look.

Many thanks,
Juliane

[2018-06-27 17:41] PixelantDesign opened #1560 "Updates - Activate DAI"
Use different alert color for top banner - Orange
![screen shot 2018-06-27 at 11 26 38 am](https://user-images.githubusercontent.com/238235/41989985-00368f1c-79f6-11e8-8c40-07bf0699e30c.png)

Change 'Go' button to 'Submit'
<img width="1189" alt="screen shot 2018-06-27 at 10 34 04 am" src="https://user-images.githubusercontent.com/238235/41989997-064545c4-79f6-11e8-9fe4-e85bd2cf128d.png">

[2018-06-27 18:26] PixelantDesign opened #1561 "Update Buttons in Account Settings"
Update buttons to from 'Go' to 'Save'

<img width="1008" alt="screen shot 2018-06-27 at 11 23 10 am" src="https://user-images.githubusercontent.com/238235/41992225-b8e8f56c-79fc-11e8-9e53-4640039e28b0.png">

<img width="1125" alt="screen shot 2018-06-27 at 11 22 48 am" src="https://user-images.githubusercontent.com/238235/41992261-cc855426-79fc-11e8-9f8d-30f6a5a9cdbf.png">

Update button to say Se

[2018-06-27 18:31] mbeacom commented on #1422
@snezanasucurovic Thank you for your contribution!

Can you migrate this into our repository `gitcoinco/web`?  We'll need your existing implementation migrated from `.html` files to populate data from the Django backend and rendered via the Django templating engine.

You can take a look at:  https://github.com/gitcoinco/web/tree/master/app/dashboard/templates for more examples of how our model/vie

[2018-06-27 18:35] PixelantDesign opened #1562 "Build Waiting State"
As a user I'd like to see a cleaned up waiting state (the waiting state == the screen a user sees when they are waiting for their ethereum tx to clear)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- Above design is implemented and works on all scenarios that re

[2018-06-27 19:39] nemaniarjun commented on #1052
Came here to file this issue! @PixelantDesign I, for one would love the larger avatars. :grin:

[2018-06-27 19:40] nemaniarjun commented on #1052
Also, I feel it would be better UX if the user is taken to his profile page on clicking the avatar on the top right.

[2018-06-27 20:13] #1561 closed

[2018-06-27 23:14] mbeacom opened #1565 "IndexError: list index out of range"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1454/](https://rollbar.com/gitcoin/gitcoin/items/1454/)

[code]

[2018-06-27 23:15] #1565 closed

[2018-06-28 01:38] PixelantDesign commented on #1386
@arun1595 Let us know if you have any questions!

[2018-06-28 01:58] willsputra commented on #1468
on it

[2018-06-28 02:03] willsputra commented on #1467
changed to dropdown at the top :)

![orgview-dropdown](https://user-images.githubusercontent.com/19514207/42008895-78c275e4-7aba-11e8-9ee7-f231789f319f.jpg)

[2018-06-28 02:05] PixelantDesign commented on #1542
Thanks for the feedback and reporting this bug! @chrishobcroft

[2018-06-28 02:17] PixelantDesign opened #1566 "Show Just 1 Alert Banner for ERC20 Token"
Two alert banners show when i've looked at two ERC 20 tokens, and not activated it.

We should show just 1 alert banner.

<img width="1440" alt="screen shot 2018-06-27 at 7 14 17 pm" src="https://user-images.githubusercontent.com/238235/42009336-bc4ba988-7a3e-11e8-9f67-82a2effcd5a7.png">

[2018-06-28 02:19] #1462 closed

[2018-06-28 02:47] PixelantDesign opened #1567 "Make Button Updates to Avatar Builder"
**Previous** button and **Do this later** button should not show when a user has accessed the avatar builder via the Build Avatar link under the profile menu. Instead, user should have the option to cancel out.

<img width="1258" alt="screen shot 2018-06-27 at 7 43 25 pm" src="https://user-images.githubusercontent.com/238235/42010303-de5e13b8-7a42-11e8-88bd-b88fc314c0cc.png">

[2018-06-28 03:22] PixelantDesign opened #1568 "Update Fund Issue Icon"
- [x] - Update Fund Issue Icon in drop down menu to be Ethereum Icon
- [ ] - Make dropdown menu line up under user name and avatar icon

<img width="718" alt="screen shot 2018-06-27 at 8 20 14 pm" src="https://user-images.githubusercontent.com/238235/42011286-a1122f8a-7a47-11e8-81a0-4a52fa53a023.png">

[2018-06-28 04:32] PixelantDesign commented on #1548
yes! need to think through how to make this accurate!

[2018-06-28 04:37] #1408 closed

[2018-06-28 04:38] #1374 closed

[2018-06-28 04:40] #1407 closed

[2018-06-28 04:43] PixelantDesign commented on #1257
@SaptakS @thelostone-mc

[2018-06-28 05:55] snezanasucurovic commented on #1422
Dear Sir,
I am not in my workplace now. I will be there at 07.07.2018. Sorry about
that.
Kind regards,
Snezana

sre, 27. jun 2018. 20.31 Mark Beacom <notifications@github.com> је
написао/ла:

[2018-06-28 12:05] junagao commented on #1493
Hi @owocki :)

My plan is to make two layout options:
- One using an animated gif using the current 'clueless' robot illustration
- And the other, just use a static illustration of a tree with a robot launching in front of it (following the "growing open source" mantra)

Can I change the current text "Error 404. _Even the bots_ aren't sure what happened, but we'll look into it. Contact us if you t

[2018-06-28 14:02] SaptakS commented on #1542
@owocki I had a look into the commit. Seems good as a quick fix. As of fixing it twice, I think we can hide the USD field and the informations that are not relevant for the ERC20 tokens. Thanks @chrishobcroft so much for pointing this out.

[2018-06-28 14:32] thelostone-mc commented on #1493
@junagao Feel free to update the text to whatever thinks is better ^_^

[2018-06-28 14:33] #1378 closed

[2018-06-28 14:34] mbeacom commented on #1378
@pinkiebell Please submit work on https://gitcoin.co/issue/gitcoinco/web/1378/618 and we'll get you paid out!  Thanks again!

[2018-06-28 14:53] #1557 closed

[2018-06-28 15:23] #1516 closed

[2018-06-28 16:22] mbeacom commented on #1200
Living in another repo for the time being.  Will move following full transition.

[2018-06-28 16:22] #1200 closed

[2018-06-28 22:44] premachb commented on #1554
@mbeacom Question about the UX flow. Should it just redirect to GitHub to login our should there be some sort of UI before the user gets redirected to GitHub?

[2018-06-29 00:28] chrishobcroft opened #1579 "Updating the contents of a GitHub issue doesn't update the content of the Gitcoin issue :("
### User Story

As a funder of gitcoin bounties, I would like to be able to update the details / contents of a gitcoin issue.

### Why Is this Needed?

Because edits happen.

*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe what actually happened.)

### Expected Behavior
[comment]: # (Describe what you expected to happen

[2018-06-29 00:36] chrishobcroft commented on #1542
@owocki it worked!

https://forum.livepeer.org/t/transcoder-campaign-0x34555-livepeer-community-node-berlin/211/14

[2018-06-29 00:58] eayoungs commented on #1469
@KennethAshley Quick question: Looks like about ~200 / 315 test are being skipped from the first commit. Do you have any insight into why that its?

Thanks-in-advance!

Eric

[2018-06-29 01:35] KennethAshley commented on #1469
@eayoungs are you referring to [this](https://github.com/gitcoinco/web/pull/674/commits/79a2229a49d39efbaa508a268294534f12a9e1a1) commit?

[2018-06-29 08:38] justpixel commented on #1451
@PixelantDesign  I think there are too many illustrations. Maybe a small preview with "Download all" button will be more suitable?
 ![gitcoin press kit](https://user-images.githubusercontent.com/7627020/42082422-98291786-7b90-11e8-86c3-c632b094dff1.png)

[2018-06-29 09:16] junagao commented on #1493
Hello there,

I just submitted a PR to https://github.com/gitcoinco/creative with the design sketch and gif files.

I gave up on the tree approach. It was going to be very polluted with the robot in front. So I decided to go clean.

Let me know what you think.

Cheers,
Ju

[2018-06-29 09:20] junagao commented on #1493
Here you go:

Layout 1:

![404-layout-1](https://user-images.githubusercontent.com/615616/42084460-00e5a0c6-7b8e-11e8-9856-029ff774cedd.png)

Layout 2.1:

![404-layout-2 1](https://user-images.githubusercontent.com/615616/42084474-0cfa78be-7b8e-11e8-943b-cd1c179a8375.png)

Layout 2.2:

![404-layout-2 2](https://user-images.githubusercontent.com/615616/42084476-0ff1f97a-7b8e-11e8-8bd5-21a8a1983881.

[2018-06-29 14:31] owocki commented on #1469
spoke to a few of you about this yesterday.. hoping to have a final decision by EOW

[2018-06-29 16:33] owocki commented on #1562
@PixelantDesign the only thing i think this is missing from teh design is a link to the ethereum tx on etherscan

[2018-06-29 16:53] owocki commented on #1440
@thelostone-mc @justpixel yes i think so. paying out now.

@justpixel can you link to the final source files pls? thx

[2018-06-29 16:55] owocki commented on #1451
@justpixel this looks good to me.

@PixelantDesign what do you think?  would this make your life easier when telling people about our brand guides / press guides?

[2018-06-29 17:01] owocki opened #1580 "bug - issues on accept work page"
![screen shot 2018-06-29 at 9 59 22 am](https://user-images.githubusercontent.com/513929/42104879-2d28a238-7b83-11e8-913a-da1011f6ef7c.png)

1. there is bleed on the left side of the 'gas amount' module into the right amount
2. the rounding issue .. it says $0 but should be rounded to the cent (0.00) amount

[2018-06-29 17:07] SaptakS commented on #1580
I am on it.

[2018-06-29 17:19] owocki opened #1581 "As a user, I want a tophat on the Gitcoin nav, so I can easily navigate between the major products."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a tophat on the Gitcoin nav, so I can easily navigate between the major products.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Core products (Bou

[2018-06-29 17:20] owocki commented on #1581
@StareIntoTheBeard @PixelantDesign @coderberry per our convo in the car.  how does this ticket look?  i move that we get this designed first then code it

[2018-06-29 17:21] owocki opened #1582 "As a user, I want to be notified that there are 'no fees in beta', so I can know how long the product will be free"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be notified that there are 'no fees in beta', so I can know how long the product will be free

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
So

[2018-06-29 17:33] owocki commented on #1554
i think just a redirect is fine

[2018-06-29 17:53] eayoungs commented on #1469
@owocki @KennethAshley OK, after running pytest with the `-rs` flag, it looks like the skipped tests are due to **isort**.
`SKIP [200] /usr/local/lib/python3.6/site-packages/pytest_isort.py:152: file(s) previously passed isort checks`

[2018-06-29 17:59] eayoungs commented on #1469
@KennethAshley I think I figured out the issue but this is probably not the right place to discuss. I will repost on https://github.com/gitcoinco/web/pull/674

[2018-06-29 19:49] owocki opened #1584 "As a potential paying customer, I want to see the pricing on the landing page updated, so I can more accurately think about my options"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a potential paying customer, I want to see the pricing on the landing page updated, so I can more accurately think about my options

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually ha

[2018-06-29 19:50] owocki commented on #1584
cc @PixelantDesign @sprusr from the retreat

[2018-06-29 20:44] owocki commented on #958
@CuriousLearner can you complete the CSS in the next few days pls?  were anxious to launch this soon

[2018-06-29 20:47] owocki commented on #1386
very excited to play with this soon

[2018-06-29 20:49] owocki commented on #1462
@justpixel would you have any interest in doing some work on making the tree animate when you click on it (or otherwise, having some recurring animation after the tree fully grows)

[2018-06-30 06:51] PixelantDesign opened #1588 "Disable Editing of Issue Description on Funder Form"
Happening with multiple projects...

Fr Nico:
Our posting included an english description and then the same description translated to Chinese, however the posted offer only contains the English part
https://gitcoin.co/issue/decentraland/MANA-community-fund-learning-content/3/701
I addded three dashes --- separating both parts in the description...  maybe that unintentionally broke stuff?
Can we ed

[2018-06-30 08:55] justpixel commented on #1440
@owocki Here is the PR https://github.com/gitcoinco/creative/pull/12

[2018-06-30 12:47] #1456 closed

[2018-06-30 20:41] yjkimjunior commented on #115
Is this still open?

[2018-06-30 23:31] owocki commented on #115
yes

[2018-06-30 23:47] #1369 closed

[2018-07-01 00:31] owocki commented on #958
@CuriousLearner let us know when you can get to this

[2018-07-01 00:31] owocki commented on #958
@thelostone-mc i know youre passionate about this project.  want to take the lead on code review?

[2018-07-01 01:06] owocki commented on #1471
@aj07 sounds good to us.

[2018-07-01 01:11] owocki commented on #1588
this is a good idea.  easy fix too!

what if we also add a funder only 'sync title/desc from github' button?

[2018-07-01 01:12] owocki commented on #1440
thanks @justpixel

@PixelantDesign at the retreat you mentioned that 'learning' should be one of the corners of the triangle (square, now)?  do you think we should fold that into one of the existing corners (impact, maybe?) or should we exxpand it to a be a square?

[2018-07-01 01:13] owocki commented on #1510
@davidbanu do you think you can submit a PR for this soon?

source files => https://github.com/gitcoinco/creative/pull/12

[2018-07-01 01:16] owocki commented on #1469
i spoke to @captnseagraves on friday and we are going to have him PM the project.  he has web dev skills + solidity skills, but we're looking to add a few folks to the project that compliment his skillset.

im gonna cancel this bounty.  if anyone is interested in a part time (paid of course, probably by the hour)  role supporting this scope, pls say hi in the channel and join the weekly call

[2018-07-01 01:46] owocki commented on #1443
thanks for submitting the WIP PR.

i think the light green is def overused.   is it possible to do a page in the style of the /about or /mission or /results page?

[2018-07-01 04:47] #1045 closed

[2018-07-01 15:03] mbeacom opened #1589 "BadFunctionCallOutput: Could not decode contract function call getBountyData return data b'' for output_types ['string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/503/](https://rollbar.com/gitcoin/gitcoin/items/503/)

[code]

[2018-07-01 22:04] farfromunique commented on #1473
Current status: Pending requester (Need information). See referenced ticket.

[2018-07-02 02:22] jvmaia commented on #1380
I'm getting problem to identify what is the form that will be sent to the funder change the payout amount, it's the last part lacking to solve the issue, I guess. I need some Ether to test my code on the Rinkeby Network before sent the PR, my address => 0xccc5e9Df755E6141a7d8eca092DD4ac5C12B4A14.

[2018-07-02 03:32] owocki commented on #1380
hey @jvmaia -- https://faucet.rinkeby.io/ is a good place to get rinkeby ETH

youll want to call `changeBountyFulfillmentAmount()`

[2018-07-02 03:32] owocki commented on #1380
right @mbeylin ?

[2018-07-02 03:57] owocki commented on #1543
is it a bounty-able bug?

Related: Should we rip out the avatar builder frontend so we DRY (wrt the frontend vs backend implementation)?

[2018-07-02 04:05] owocki commented on #716
@stevenwritescode okie dokie.. let us know when priorities shift and you can work on it again!

[2018-07-02 04:11] PixelantDesign opened #1592 "Dai Value Bug Gitcoin Bot"
The USD value shows: 2e-17 but should be 20 USD

See last comment fr Gitcoin Bot

https://github.com/gitcoinco/web/issues/1472

[2018-07-02 04:36] owocki commented on #1511
👍 it might be worth putting admin controls in a modal eventually

[2018-07-02 04:49] SaptakS opened #1593 "Dropdowns on the topbar don't close when clicking on another dropdown"
### User Story

From a UX perspective, I as a user would expect an open dropdown to close when I click on another dropdown.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For better User Experience

### Description

[comment]: # (Feature or Bug? i

[2018-07-02 06:10] michelgotta commented on #1545
@owocki Current version of Chrome.

[2018-07-02 06:54] #1457 closed

[2018-07-02 11:00] writeprovidence commented on #1562
is this design a mockup?

On Sun, Jul 1, 2018 at 12:27 AM, Kevin Owocki <notifications@github.com>
wrote:

[2018-07-02 12:10] PixelantDesign opened #1594 "Contributor Landing Page QA"
- [x] All that's left is to do join Gitcoin ->  All that's left to do is to join Gitcoin

- [x] link to contributor page from landing page

- [x] **Update the green developer bar** to look like this (added learn more link that will take users to contributor landing page).
<img width="1432" alt="screen shot 2018-07-02 at 7 46 05 am" src="https://user-images.githubusercontent.com/238235/42163077-202

[2018-07-02 13:10] jvmaia commented on #1380
I found it, thanks =)

[2018-07-02 13:18] writeprovidence commented on #1562
should it be like a mockup

[2018-07-02 13:19] jvmaia commented on #1380
Is there a template to use in the email or I can just send a text?

Would the text be something like this?

[2018-07-02 15:56] owocki commented on #1380
yes!

[2018-07-02 16:05] #1554 closed

[2018-07-02 16:10] owocki commented on #1594
cc @arun1595 @SaptakS @thelostone-mc

[2018-07-02 16:22] #1580 closed

[2018-07-02 16:41] owocki commented on #1594
/contributor does not seem to be linked anywhere

what are these random avatars? http://bits.owocki.com/1D3f1l001M0t/Screen%20Shot%202018-07-02%20at%209.38.05%20AM.png

Should read All that's left to do is to join Gitcoin

I just started a testimonials channel on the gitcoin community.  Check there for testimonials!

[2018-07-02 16:53] owocki commented on #1594
[code]

[2018-07-02 17:39] owocki commented on #1562
i'm not sure i understand the question.  the design in the ticket is what we'd like to have applied to the site

[2018-07-02 18:05] writeprovidence commented on #1562
can i animate this page the way i design it? am i on the right track
![image1](https://user-images.githubusercontent.com/31359701/42179073-96e18588-7e2a-11e8-928c-24ea53bc2d28.jpg)

[2018-07-02 18:15] owocki commented on #1463
@vs77bb  im removing this person from the ticket and dinging their rep for abandonment.

[2018-07-02 18:17] owocki commented on #1515
this is a really good idea.

[2018-07-02 18:22] owocki commented on #1562
looks like your'e on the right track to me!

[2018-07-02 18:22] owocki commented on #1562
and yes pls to animating it as you build it!

[2018-07-02 18:22] owocki commented on #1378
once you submit work we will pay it out!

snoozing gitcoinbot reminders now

[2018-07-02 18:23] owocki commented on #1594
https://github.com/gitcoinco/web/pull/1459

[2018-07-02 18:33] writeprovidence commented on #1562
ok

[2018-07-02 18:41] owocki commented on #1528
@PixelantDesign is this ready for bounty?  if so ill throw some DAI at it

do we have copy for all gitcoinbot comments, or just for the start work one?

[2018-07-02 18:42] jvmaia commented on #1380
I'm thinking about use the increase_bounty form to the funder change the payout amount, just need to add a get variable like `issue/increase?pk=X&network=rinkeby&CHANGE_PAYOUT=true`, then I will just need to modify the do_bounty function in the increase_bounty.js. Is it correct?

[2018-07-02 18:44] owocki commented on #1177
@NedelescuVlad let us know if you need anything from us?!

[2018-07-02 18:54] owocki commented on #1052
@PixelantDesign  i like option 3

@mbeacom would it be easy to reequest diff size avatars from the system so @nemaniarjun can get a bigger avatar upon request?

[2018-07-02 18:55] owocki commented on #1257
whyd we close this? we still gotta add scott to team page

[2018-07-02 18:56] owocki commented on #115
@architahluwalia  we are not sure the root cause.  thats part of the task; to figure that out

[2018-07-02 18:56] owocki commented on #1545
@mbeacom @SaptakS @thelostone-mc does anyone have a scroll wheel mouse to repro with?  i ahve one at home, but am traveling right now so cant attempt a repro

[2018-07-02 18:58] owocki commented on #1380
seems smart to me

[2018-07-02 19:05] scottmoore commented on #1257
I’m not sure I need to be part of your GitHub team
Scott Moore
VP, Technical Services

Mobile	+1 (914) 844-3751
Email	scott.moore@orchestranetworks.com <mailto:scott.moore@orchestranetworks.com>
Website	www.orchestranetworks.com <http://www.orchestranetworks.com/>

Read <http://www.orchestranetworks.com/analysts/> the latest analyst research on Orchestra Networks

[2018-07-02 19:20] mbeacom commented on #1257
Updated original GH comment to ping our Scott xD - Apologies, scottmoore!

[2018-07-02 19:59] thelostone-mc commented on #1257
@owocki derp ! I thought he'd been added :P My bad 😂

[2018-07-02 20:13] thelostone-mc commented on #1493
@junagao I love layout 2.1

cc @mbeacom @SaptakS :D

[2018-07-02 21:43] jvmaia commented on #1380
submitting the work on gitcoin, eth network congested.

[2018-07-03 00:21] owocki opened #1599 "As a user on Contributor Landing Page v2 - insert landing page, I want programming language specific terms, so I can see bounties / opportunities relative to my skillset"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user on Contributor Landing Page v2 - insert landing page, I want programming language specific terms, so I can see bounties / opportunities relative to my skillset

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would l

[2018-07-03 00:40] ceresstation commented on #1257
Hey @scottmoore nice name. @thelostone-mc just sent over the information, not sure how I missed this issue!

[2018-07-03 05:48] #1047 closed

[2018-07-03 05:51] thelostone-mc commented on #1257
Added ^_^

[2018-07-03 05:51] #1257 closed

[2018-07-03 13:21] Abhay07 commented on #1463
Can i get the 3 images pushed to the repo for "We Believe" section ?

[2018-07-03 14:38] mbeacom opened #1603 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined"
Introduced since the contributor landing went live:

View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1490/](https://rollbar.com/gitcoin/gitcoin/items/1490/)

[code]

[2018-07-03 16:12] iamonuwa commented on #1562
@owocki @PixelantDesign please review #1604 PR.

[2018-07-03 16:26] premachb commented on #1554
PR got merged however I'm having trouble submitting the work as it's my first ticket on GitCoin.

[2018-07-03 16:54] #1400 closed

[2018-07-03 17:30] thelostone-mc commented on #1543
@mbeacom @SaptakS wanna get this done this week  ?

[2018-07-03 17:31] thelostone-mc commented on #1443
@junagao in case you missed the ping from @owocki ^

[2018-07-03 17:42] thelostone-mc commented on #958
@owocki i thought you'd never ask :')
@CuriousLearner anything I can help out with ?  I'll start a soft review in parallel

[2018-07-03 17:45] CuriousLearner commented on #958
I'll post an update till tomorrow. Sorry for not updating this, as I got stuck in some issues, which I'll let you know on chat. @thelostone-mc

[2018-07-03 18:20] aj07 commented on #1471
@gitcoinbot I have submitted my comment there

[2018-07-03 18:29] junagao commented on #1443
yes, sure. i will make the changes and submit a new PR later.

@thelostone-mc thanks :)

[2018-07-03 18:57] owocki opened #1605 "as a user, i want standard bounty tx's to be processed instantly by gitcoin, so i know my tx went through"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want standard bounty tx's to be processed instantly by gitcoin, so i know my tx went through

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
so that any

[2018-07-03 19:03] owocki commented on #1472
according to our admin you received the tx; here is the receive txid https://etherscan.io/tx/0x1c9f23c0b33fcbbf1a5413803844297dab111485578749aaa2c31a0bf894830d

[2018-07-03 19:47] #1507 closed

[2018-07-03 20:36] owocki opened #1606 "in tip flow, user should be notified if they are on the wrong network"
per https://github.com/gitcoinco/gitcoinco/issues/46#issuecomment-398208880

if the user is not on the network that the tip was sent to, on the receive page, the user should be notified they need to change their metamask settings

[2018-07-03 22:50] davidkaufman commented on #1156
Makes sense that you wouldn't want to cancel the bounty if someone is working on it, especially if they have submitted a pull request, and are maybe just waiting to et paid!

But... in a case such as this:
https://github.com/paritytech/parity/issues/8909

No one ever claimed the bounty, no PR was submitted (because the work was canceled), so I guess my wish is that:

As a developer looking for wor

[2018-07-03 22:53] davidkaufman commented on #1156
PS: if you put a bounty on THIS issue, I'd be happy to make this my first bounty: adding a checkbox to the gitcoin explorer filter-tweaker that says "Show Open Github Issue Only" and is pre-checked by default!

[2018-07-03 23:12] mbeacom opened #1608 "BadFunctionCallOutput: Could not decode contract function call getNumFulfillments return data b'' for output_types ['uint256']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/537/](https://rollbar.com/gitcoin/gitcoin/items/537/)

[code]

[2018-07-04 03:20] mbeacom opened #1612 "BadFunctionCallOutput: Could not decode contract function call getBountyArbiter return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/432/](https://rollbar.com/gitcoin/gitcoin/items/432/)

[code]

[2018-07-04 05:53] shad-k commented on #1179
@owocki Can you tell me how can I test the email? I want to make some changes and then test if they are working.

[2018-07-04 07:35] #1603 closed

[2018-07-04 08:00] thelostone-mc commented on #1451
@PixelantDesign Does this looks alright ?
Also should the font used also be listed on this page ?

Also @justpixel mind shooting out a PR to the creative repo once we get a thumbs up

Love the design btw :D

[2018-07-04 08:10] thelostone-mc commented on #1582
@owocki would we be looking for something along these lines ?
https://codepen.io/thelostone-mc/pen/OEGope

[2018-07-04 10:24] thelostone-mc commented on #1179
When you mean test -> you mean just rendering it / actually sending the mail ?
If it's the former - > create a super user (admin) in django and visit the email url defined [urls.py](https://github.com/gitcoinco/web/blob/master/app/app/urls.py#L224-L231) and login as the super user

[2018-07-04 10:33] Abhay07 commented on #1593
I have raised a PR for the fix
[PR Link](https://github.com/gitcoinco/web/pull/1615)

[2018-07-04 10:44] #1594 closed

[2018-07-04 10:56] #1593 closed

[2018-07-04 11:10] thelostone-mc opened #1616 "css: remove overflow hidden"
### User Story

Url : https://gitcoin.co/tip/send/2/
Click on `Advanced` -> Page isn't scrollable

<img width="1440" alt="screen shot 2018-07-04 at 4 37 11 pm" src="https://user-images.githubusercontent.com/5358146/42273963-9651fd80-7fa8-11e8-9b56-cd127eedb7fc.png">

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually

[2018-07-04 11:16] SaptakS commented on #1616
There's a problem bigger than just making `overflow: hidden` to `overflow-x: hidden`. This was introduced [here](https://github.com/gitcoinco/web/pull/1556). The problem is, with `overflow-y`, because of the rain animation in the background, the scroll is uneven and weird. Since the rain effect in background increases the height of page. We need to make a separate layer for the form and make that

[2018-07-04 12:56] IgorPerikov opened #1617 "Java/Javascript misunderstanding in Issue Explorer"
### User Story

As a JVM-world developer, I don't want to see the javascript issues in explorer when the only checked box is `Java`

### Why Is this Needed?

Right now I have to check manually every issue to see whether it's java-based task or js

### Description

*Type*: Bug

### Current Behavior

Issue explorer shows Javascript and Java issues when label `Java` is chosen

### Expected Behavior

[2018-07-04 17:57] owocki commented on #1616
this bug prevented me from putting in a tip so i put in a few stopgaps here

https://github.com/gitcoinco/web/commit/6082a802224508af211ab44eaddd75c67d1fe640
https://github.com/gitcoinco/web/commit/5e533c20702254d776f58413e724fbc859eaae00

[2018-07-05 00:22] mbeacom opened #1620 "Exception: attempting to create a new bounty (875) when is_greater_than_x_days_old = True"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/463/](https://rollbar.com/gitcoin/gitcoin/items/463/)

[code]

[2018-07-05 13:17] TimVanMourik commented on #1550
I really love that you implemented this 😄 Hooray for non-essential gimmicks!

I'm looking a for a bit milder bearded (between 5 and 14 days of not shaving). And more colours of sweater (bordeaux red please)!

[2018-07-05 14:02] bartleyg commented on #1473
As a backup bounty or tip, I resolved issue https://github.com/ethereum/cpp-ethereum/issues/4871 which does not have a PR associated but is a wiki page edit I made here: https://github.com/ethereum/wiki/wiki/JSON-RPC/85c24ddda45130a54c20d24f4012ecc6ec9ad1e1

[2018-07-05 14:35] PixelantDesign opened #1621 "On-demand QA environments by PR"
As a staff member, I want a CTA that deploys a QA/test environment for an available `gitcoinco/web` PR branch.

[2018-07-05 14:41] PixelantDesign commented on #380
Closing this since design is completed.

[2018-07-05 14:41] #380 closed

[2018-07-05 14:47] PixelantDesign opened #1622 "View by Orgs Discussion"
**To be defined**

<img width="913" alt="screen shot 2018-07-10 at 1 47 44 am" src="https://user-images.githubusercontent.com/238235/42491557-49199390-83e3-11e8-886d-3bf651186bc5.png">

**Other Possible Ideas**

Nav
- Update adding the current issue explorer nav with the ability to choose between viewing by bounties or view by project.

Screen 1
- Clicking on a thumbnail takes a user to the profil

[2018-07-05 14:50] PixelantDesign opened #1623 "Individual Market V1"
Placeholder for Individual Market landing pages and data - from retreat.

cc: @owocki

[2018-07-05 14:51] PixelantDesign opened #1624 "Django Pipeline SCSS Migration"
Placeholder for @mbeacom

[2018-07-05 15:31] PixelantDesign opened #1625 "V2 Metamask Connection State"
As a core team we'd like to clean up the UI for the metamask connection state to see if we can make it less obtrusive to the experience. This should clean up the screens and allow for more focus on core Gitcoin functionality.

https://github.com/gitcoinco/web/pull/1590

[2018-07-05 16:21] junagao commented on #1493
@thelostone-mc yes, of course. I used the color from the brand guide but I can change it. I could also change the blink timing as well if it's too fast. let me know what you decide.

[2018-07-05 17:23] mbeacom opened #1626 "BadFunctionCallOutput: Could not decode contract function call getBountyToken return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/440/](https://rollbar.com/gitcoin/gitcoin/items/440/)

[code]

[2018-07-05 18:40] justpixel commented on #1451
@thelostone-mc I'm waiting for this PR https://github.com/gitcoinco/creative/pull/12 to be approved so I can make another one

[2018-07-05 18:48] PixelantDesign commented on #781
Closing this since it was addressed in the latest funder form.

[2018-07-05 18:48] #781 closed

[2018-07-05 18:52] PixelantDesign commented on #1549
I provided feedback and options on this ticket....https://github.com/gitcoinco/web/issues/1052

[2018-07-05 18:54] owocki opened #1627 "BUG -- gitcoinbot not commenting on github thread for bountied issues"
https://github.com/TimVanMourik/GiraffeTools/issues/71
https://github.com/TimVanMourik/GiraffeTools/issues/72
https://github.com/TimVanMourik/GiraffeTools/issues/73

[2018-07-05 19:10] PixelantDesign commented on #1451
Looks good!

Comments:

- [ ] On the Gitcoin logo top right, could we use the version of the full logo without the Build Your Bounty lockup?

- [ ] Could you move Resources section to the bottom (below Illustrations)?

- [ ] Could we we provide a link to view the creative repo in addition to download the whole repo?

- [ ] Could you add a usage section - plain text is fine (refer to guide below)?

[2018-07-05 19:28] PixelantDesign commented on #1625
Seeing a bug here on the tooltip...
<img width="1739" alt="screen shot 2018-07-05 at 3 22 15 pm" src="https://user-images.githubusercontent.com/238235/42343744-0a155f04-8068-11e8-946b-c1a4ca507797.png">

cc: @thelostone-mc

[2018-07-05 19:44] mbeacom commented on #1506
@bockp Thanks for the detailed bug report! I just wanted to ping you here and let you know we haven't forgotten about this issue.  We'll try to have a fix out shortly!

Thanks again!

[2018-07-05 19:57] bockp commented on #1506
@mbeacom No worries, I trust you're doing all you can :)
From what I've seen, you've got an excellent team :+1:

[2018-07-05 20:17] vikaskyadav opened #1629 "Metamask Locked button not prominent on Navbar"
The metamask button on the navbar in gitcoin is not prominent. The tooltip on hovering on it is also small in size.
![gitcoin1](https://user-images.githubusercontent.com/12607959/42345924-8b5886b2-80be-11e8-99c4-9f34e0f36190.png)

[2018-07-05 20:48] owocki opened #1630 "As a user, I want the cookie popup to not show up until the sumo popup is dismissed, so they don't overlap with each other?"
**Describe the bug**
As a user, I want the cookie popup to not show up until the sumo popup is dismissed, so they don't overlap with each other?

**To Reproduce**
Go to homepage on mobile
1. wait for sumo popup and cookie popup to showup

**Expected behavior**
cookie popup shouldnt show up until after sumo popup comes up

**Screenshots**
[screenshot](http://bits.owocki.com/1D1i0v3B2k22/2018-07-05%

[2018-07-05 20:54] FaizanHaiider commented on #1605
Hello! I am an absolute beginner when it comes to gitcoin and this project but obviously its a very interesting project and I want to be involved in it. I'd like to start with this issue, if thats ok.

[2018-07-05 21:32] owocki commented on #1605
@FaizanHaiider yes pls.  let me know if you have any questions.  do you think you can turnaround by end of weekend?

[2018-07-05 23:14] FaizanHaiider commented on #1605
@owocki tough call. I can try but like i said, this is new for me so there may be a delay before any concrete work gets done

[2018-07-06 00:09] owocki commented on #1630
@SaptakS is this an easy lift?  its stopping our facebook ads from going live

[2018-07-06 00:36] owocki commented on #1605
take a look at the branch i started.. theres some code in there you can pick up where i left off

[2018-07-06 00:45] owocki commented on #1156
@PixelantDesign what do you think about the resolution that @davidkaufman proposed here?

[2018-07-06 00:45] owocki commented on #1156
id be fine bountying it if we can come to product direction that we all agree upon

[2018-07-06 00:53] owocki commented on #1582
@thelostone-mc either that or [this](https://pbs.twimg.com/media/DUte9WkVwAM0z6v.jpg)

@PixelantDesign what do you think

[2018-07-06 00:56] owocki commented on #1179
what @thelostone-mc said

[2018-07-06 03:52] owocki commented on #1617
Thanks for the bug report@  @mbeacom and i were just discussing the taxonomy of keywords and how were going to architect that on a go forward basis.  We'll make sure we solve this as part of that project

[2018-07-06 06:01] thelostone-mc commented on #1629
@vikaskyadav we could boldify the text!
We could increase the size but we've got the same info highlighted in red banner below it !

[2018-07-06 06:14] vikaskyadav commented on #1629
Yeah, I think increasing the font-size and font-weight a little will do.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>

On Fri, Jul 6, 2018 at 11:31 AM, Aditya Anand M C <notifications@github.com>
wrote:

[2018-07-06 06:14] thelostone-mc commented on #1625
Taken care of !

[2018-07-06 06:28] vs77bb opened #1636 "View Of Hidden Bounties"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an admin, I want to see all 'hidden bounties' so that I can pull any back which I accidentally 'Hide'.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: So that fat-f

[2018-07-06 06:37] vs77bb commented on #1493
Snoozing Gitcoin Bot for 10 days here. I like where you're headed here @junagao!

[2018-07-06 06:38] vs77bb commented on #1451
Snoozing Gitcoin bot for 10 days here 🙂

[2018-07-06 06:41] vs77bb commented on #1468
@willsputra You still working on this one? I'm gonna snooze Gitcoin Bot for 10 days here.

[2018-07-06 07:41] thelostone-mc commented on #1493
Blinking speed I leave it to you ! ^_^ If we could move away from the red to something more subtle
We should be good to go ^_^

[2018-07-06 09:37] vs77bb commented on #1473
Nice work here @bartleyg @farfromunique! We're monitoring closely and will pay out upon merge of successful PR's 🙂

[2018-07-06 13:38] #1434 closed

[2018-07-06 13:43] mbeacom commented on #1015
This should be good for payout! Thanks again @kelvintyb !

<img width="448" alt="screenshot 2018-07-06 09 42 13" src="https://user-images.githubusercontent.com/7315957/42382032-f9963a1a-8100-11e8-9c22-cc6a8676b4a2.png">

[2018-07-06 14:49] kelvintyb commented on #1015
Thanks @mbeacom, appreciate it!

[2018-07-06 16:50] PixelantDesign opened #1640 "Make GitcoinBot Recognize Closed Issues."
As a user I'd like to interact with a smarter GitcoinBot that knows when an issue is closed.

Gitcoin Bot still comments after the issue is closed. Let's make GitcoinBot smarter.

<img width="1039" alt="screen shot 2018-07-06 at 12 46 53 pm" src="https://user-images.githubusercontent.com/238235/42390765-064447ba-811b-11e8-8778-811ec3e72643.png">

https://github.com/gitcoinco/web/issues/1386#issuec

[2018-07-06 16:53] mbeacom commented on #1640
Related:

https://github.com/gitcoinco/web/issues/1156
https://github.com/gitcoinco/web/issues/994
https://github.com/gitcoinco/web/issues/826 < I think you opened this one previously

[2018-07-06 17:44] #1209 closed

[2018-07-06 17:44] #1210 closed

[2018-07-06 17:44] #1211 closed

[2018-07-06 17:45] mbeacom commented on #660
All set via Hotjar.  Dean Ramadan with marketing and the rest of the GC/CF team now have access to Hotjar.

[2018-07-06 17:46] mbeacom commented on #1152
We can add a poll or survey following bounty completion via Hotjar to address this if we're so inclined.

[2018-07-06 18:40] mbeacom opened #1641 "White paper page isn't responsive and rendering is off"
**Describe the bug**
The white paper request form page rendering is completely off.

**To Reproduce**
Visit https://gitcoin.co/whitepaper

**Expected behavior**
Full responsiveness

**Screenshots**
<img width="1243" alt="screenshot 2018-07-06 14 37 02" src="https://user-images.githubusercontent.com/7315957/42395037-466ce662-812a-11e8-85d3-3d043bfa56c9.png">

**Desktop (please complete the followin

[2018-07-06 19:30] owocki commented on #1630
^^ this is stopping our facebook ads from going live

[2018-07-06 19:43] owocki commented on #1630
^^ this is stopping our facebook ads from going live

[2018-07-06 19:53] PixelantDesign commented on #1599
@SaptakS @thelostone-mc
Here is a design with a specific language module in it. Kept the customization to one module. Let me know if you have questions!

![python_landing](https://user-images.githubusercontent.com/238235/42397631-b40b53b6-8134-11e8-854b-f5e6b6c91e7f.png)

[2018-07-06 20:28] owocki commented on #925
@darkdarkdragon im going to merge https://github.com/gitcoinco/web/pull/1420 on monday.. are you still interested in this bounty ? (925) is there a PR for it?

[2018-07-06 20:44] #1506 closed

[2018-07-06 20:44] owocki commented on #1506
e6c75aa4e0abbc15d2258bdc776347cccdb0ccb6 should fix this

[2018-07-06 20:45] darkdarkdragon commented on #925
@owocki I'm interested. I was not starting to do that one till #1420 is fully approved. Will start now, anyway it will be just page that shows data from Activity table

[2018-07-06 20:45] owocki commented on #1506
a7baae3c99e11c26991f973b0232560d5ba91752 too

[2018-07-06 21:00] junagao commented on #1493
Hello guys, I updated the layouts using semi-bold and bold font respectively:

Layout 2.5:

![404-layout-2 5](https://user-images.githubusercontent.com/615616/42399982-20739514-8170-11e8-8cdb-e3f7b9096550.png)

Layout 2.6:

![404-layout-2 6](https://user-images.githubusercontent.com/615616/42399990-23ca0d7e-8170-11e8-8bcb-c563c90854f2.png)

[2018-07-06 21:03] junagao commented on #1493
Also updated the gif using a more harmonic color combination.

@thelostone-mc let me know what you think.

Layout 2.5 gif:

![gif-2 5](https://user-images.githubusercontent.com/615616/42400057-6e204226-8170-11e8-845c-df284d1c7958.gif)

Layout 2.6 gif:

![gif-2 6](https://user-images.githubusercontent.com/615616/42400070-7d7db2da-8170-11e8-9b3d-6c2a9c8008fa.gif)

[2018-07-06 21:14] owocki commented on #925
Thanks i think #1420 is good to go; i just dont want to deploy on Friday

[2018-07-07 00:29] thelostone-mc commented on #1493
I love it @junagao ! Thanks a ton :D

@owocki this is good for payout

[2018-07-07 03:27] PixelantDesign opened #1642 "Expired Issue Should Still Take Funder to Issue Detail Page"
### User Story

As a funder, I'd like to still see the details of an issue even if it's expired.

### Current Behavior
Clicking on an issue from profile, takes a user to a no funded issues found page.

### Expected Behavior
As a funder I still expect to be able to see the details of the issue, even if it has expired.

### Definition of Done
Link to original issue but show expired where it shows ti

[2018-07-07 04:09] PixelantDesign opened #1643 "Organizations V1 Tech Approach"
Placeholder for @mbeacom

[2018-07-07 04:12] #1643 closed

[2018-07-07 04:51] PixelantDesign commented on #18
Closing to clean up GitHub.

[2018-07-07 04:51] #18 closed

[2018-07-07 04:54] PixelantDesign commented on #29
Good idea, maybe something we can work into accept submission form.

[2018-07-07 04:59] PixelantDesign commented on #34
Closing since we've done this!

[2018-07-07 04:59] #34 closed

[2018-07-07 05:00] PixelantDesign commented on #36
@mbeacom do we still need this issue?

[2018-07-07 05:03] #43 closed

[2018-07-07 05:04] PixelantDesign commented on #89
@mbeacom do we still need this issue?

[2018-07-07 05:06] PixelantDesign commented on #92
I think when implement views by org this will help!

[2018-07-07 05:06] #92 closed

[2018-07-07 05:09] PixelantDesign commented on #135
@thelostone-mc @SaptakS @mbeacom

Want to keep this issue open?

[2018-07-07 05:09] #136 closed

[2018-07-07 05:10] PixelantDesign commented on #145
Need this issue @mbeacom ?

[2018-07-07 05:10] PixelantDesign commented on #141
Already did this! Yay!

[2018-07-07 05:10] #141 closed

[2018-07-07 05:12] #132 closed

[2018-07-07 05:13] PixelantDesign commented on #310
@mbeacom ok to close?

[2018-07-07 05:20] PixelantDesign commented on #239
This is still a good idea. We could look at users who haven't been back on slack in the last 3 months and send a 'We've missed you" email.

[2018-07-07 05:43] PixelantDesign commented on #1582
Current users might want to learn how this changes from today.
New users might wonder when this will take effect. He/she might be hesitant to sign up for a service knowing that I'll have to pay.

From an implementation standpoint, something like this since we have the notifications built already?

![nofees](https://user-images.githubusercontent.com/238235/42407238-0859bae2-8186-11e8-8e2c-783111fdf

[2018-07-07 05:51] PixelantDesign commented on #1588
@owocki That is interesting if we could make this work from a technical stand point.

As a funder, I would expect to see the button right below the Issue Description field.
After I Edit my description on Gitcoin. Click the button to 'Sync to Github'. Get a checkmark next to the button I've just pressed. Continue completing the rest of the funder form.... Is this possible?

[2018-07-07 05:52] #273 closed

[2018-07-07 05:55] PixelantDesign commented on #1584
@sprusr when should we aim to update this?

[2018-07-07 05:57] PixelantDesign commented on #1581
I'll take a crack at this.

[2018-07-07 06:04] PixelantDesign commented on #1433
@thelostone-mc @SaptakS @mbeacom thoughts here?

[2018-07-07 06:14] PixelantDesign commented on #1382
@owocki Any good examples we might want to borrow?

What do you think about the way metamask handles attributions in their footer?
https://metamask.io/

cc: @mbeacom @thelostone-mc

[2018-07-07 06:23] PixelantDesign commented on #1410
@owocki do you already have a PR out for this?

[2018-07-07 11:48] #620 closed

[2018-07-07 12:03] snezanasucurovic commented on #1422
Hi Kevin, thank you for kind words, i will do my best.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, Jul 6, 2018 at 10:26 PM, Kevin Owocki <notificati

[2018-07-07 12:12] #1041 closed

[2018-07-07 12:16] PixelantDesign commented on #1152
yes! a survey would be great! Are you able to send me an example survey from hotjar @mbeacom? Want to see how much we can customize. One thing I wondered is, do people respond to the current emails because they feel personal.

[2018-07-07 13:57] thelostone-mc commented on #135
Nah ! We've sort of started on this already

[2018-07-07 13:57] #135 closed

[2018-07-07 14:19] junagao commented on #1493
I forgot to submit the updated .sketch file. I just did a PR.

Thank you! I had fun doing this. :)

[2018-07-07 14:53] #28 closed

[2018-07-07 17:50] pinkiebell commented on #1605
I can fix this today, but I don't want to steal work. @FaizanHaiider if you want to pass this on, let me know ;)

[2018-07-07 18:39] abitrolly commented on #234
@PixelantDesign and what is the resolution or common way to track identity accross multiple platforms?

[2018-07-07 19:18] abitrolly commented on #1037
This is called **event sourcing** http://microservices.io/patterns/data/event-sourcing.html

[2018-07-07 19:28] PixelantDesign commented on #1509
This will be adrressed in the Gitcoinbot update

[2018-07-07 19:28] #1509 closed

[2018-07-07 21:58] PixelantDesign commented on #1380
@owocki has this been paid out? ok to close this?

[2018-07-07 22:01] PixelantDesign commented on #1326
@mbeacom is this still an open issue?

[2018-07-07 22:17] lonehacker commented on #1605
Hello i'm also looking at this, I have a docker environment up and running. Can you help me with finding a suitable transaction block on some testnet (i'm using rinkeby for now). You have a block number hardcoded in your code, but it's not present now I guess

[2018-07-08 01:57] Thoughtscript commented on #1468
Hi @PixelantDesign - is this one still available? I'd love to work on this! Thanks!

[2018-07-08 01:58] willsputra commented on #1468
still going to fix the "0.7 ETH collected" part to accommodate other ERC-20 tokens, but here's a draft! thoughts? :)

![contributor dashboard](https://user-images.githubusercontent.com/19514207/42415991-535e73c4-8295-11e8-8dda-7333082c4217.jpg)

[2018-07-08 04:20] thelostone-mc commented on #1493
@junagao Haha welcome to the gitcoin family ^_^
Could you submit work so that we can trigger a payout for your work ?

[2018-07-08 04:47] pinkiebell opened #1646 "metamask/mascara support"
For users who can't/don't install the metamask extension,
we can point them to [1]; if the web browser has advanced service worker support.

See [2] for reference.

[1]https://wallet.metamask.io/
[2]https://github.com/MetaMask/mascara

[2018-07-08 06:03] Thoughtscript commented on #1468
@willsputra - Looks like you're on this. Sweet design. Thanks!

[2018-07-08 06:41] BKDaugherty commented on #1550
I'd love to see eye colors!

[2018-07-08 10:39] sprusr commented on #1584
Hey @owocki @PixelantDesign I’m not sure why I’ve been tagged in this, and don’t know what it’s about! Wish I could have been part of a Gitcoin retreat though 😅 keep up the great work 💖

[2018-07-08 10:54] ceresstation opened #1647 "Status of 'DoneOpened' on paid out issues that have had their statues manually changed prior to payout"
**Describe the bug**

When a Gitcoin issue is manually marked as open by a moderator and then completed, it is marked as DoneOpen as in the screencap below.

**To Reproduce**

Manually modify the status of any Gitcoin issue and then attempt to accept a submission, changing the status to 'done'.

**Expected behavior**

A warning should occur that the issue will be paid out and the manual status wil

[2018-07-08 11:38] PixelantDesign commented on #1584
@ceresstation

Apologies @sprusr!

[2018-07-08 11:41] #1124 closed

[2018-07-08 11:49] #952 closed

[2018-07-08 12:01] PixelantDesign commented on #906
We could prompt the funder if there are any details they’d like to update:

Extending time frame and learnings from the progress made.

Once updates are made we remarket as a new issue.

[2018-07-08 12:34] snezanasucurovic commented on #1422
Hi, i need a few days to start programming in Python(by use Microsoft
Visual Studio Code) and use Django. I hope that it is not problem.Snezana

On Sat, Jul 7, 2018 at 2:02 PM, Snezana Sucurovic <
snezanasucurovic@gmail.com> wrote:

[2018-07-08 14:07] #847 closed

[2018-07-08 14:15] #671 closed

[2018-07-08 14:22] PixelantDesign commented on #534
this will be adressed via funder dashboard

[2018-07-08 14:22] #534 closed

[2018-07-08 14:31] #438 closed

[2018-07-08 14:53] #343 closed

[2018-07-08 14:55] #1319 closed

[2018-07-08 21:35] owocki commented on #1380
paying out now

[2018-07-08 21:35] #1380 closed

[2018-07-09 00:11] owocki opened #1649 "as a hunter, i want a custom eth payout address"
### User Story

user feedback:

[code]

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a hunter, i want a custom eth payout address

### Why Is this Needed

so i can be sure about where my funds will go upon payout

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2018-07-09 00:12] owocki commented on #1647
thanks for the feedback.  this now seems to be fixed [screenshot](http://bits.owocki.com/203F0R1x3O3E/Screen%20Shot%202018-07-08%20at%206.11.55%20PM.png).  not sure if thats something you did @ceresstation ?

[2018-07-09 00:15] owocki commented on #1646
thanks @pinkiebell -- we are also looking into using portis (see https://github.com/gitcoinco/web/pull/985 ) as a provider

[2018-07-09 00:16] owocki commented on #1641
i am funding this now. . to whomever does the bounty, please make sure you fix whitepaper_new and whitepaper_accesscode too

[2018-07-09 00:18] owocki commented on #1599
@PixelantDesign i can bounty this if @SaptakS @thelostone-mc are busy with other stuff.. let me know !

[2018-07-09 00:21] owocki commented on #1493
@junagao if you submit your work over at https://gitcoin.co/issue/gitcoinco/web/1493/650 we will pay you out!

@thelostone-mc will do.  do you want to code this, or should we bounty the coding of it?

[2018-07-09 00:31] owocki commented on #1468
😍 so excited for this

[2018-07-09 00:32] #1326 closed

[2018-07-09 00:41] owocki commented on #1581
wooo looking forward to seeing a mock up.

[2018-07-09 01:05] mbeacom opened #1650 "ZeroDivisionError: float division by zero"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1504/](https://rollbar.com/gitcoin/gitcoin/items/1504/)

[code]

[2018-07-09 01:10] pinkiebell commented on #749
Another scenario: The funder closes the issue because some parts got merged into other issues but the bounty still applies.

Would it be better to introduce a 'only open issues on github' filter?

[2018-07-09 01:38] owocki commented on #906
yeah its probably worth sending the funder an email.  if someone gets me copy i can code it in

[2018-07-09 01:43] owocki commented on #1582
looks fine to me.  i'd maybe cut down the top and bottom padding though.

[2018-07-09 01:44] owocki commented on #1382
not that i'm aware of unfortunately.. i think just a standard footer link might be okay though

[2018-07-09 01:44] owocki commented on #1410
yes but it is WIP

[2018-07-09 01:48] owocki commented on #1605
looks like @pinkiebell has put in a PR for this @lonehacker https://github.com/gitcoinco/web/pull/1645

[2018-07-09 01:53] owocki commented on #1640
i already put in a fix for this https://github.com/gitcoinco/web/commit/f04969afc78f3f93e63314c03c53afa581bf9155

[2018-07-09 01:53] #1640 closed

[2018-07-09 02:04] thelostone-mc commented on #1493
@owocki I'll code it up! I've got a bit of refactoring to be done along the way

[2018-07-09 02:04] #1493 closed

[2018-07-09 02:16] #1605 closed

[2018-07-09 02:39] owocki opened #1652 "as a developer, i want the token list to be retrieved via API, for maintainability"
### User Story

as a developer, i want the token list to be retrieved via API, for maintainability

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

ref: https://github.com/gitcoinco/web/pull/1598#discussion_r200007866

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, a

[2018-07-09 02:41] #1037 closed

[2018-07-09 02:46] owocki commented on #1037
one immediate issue i see is that the wrong person is listed as having submitted work on teh activity page for this bounty

https://gitcoin.co/issue/gitcoinco/web/1037/394

screenshot http://bits.owocki.com/3Y072p0j2M2V/Screen%20Shot%202018-07-08%20at%208.45.39%20PM.png

[2018-07-09 05:13] vs77bb commented on #1468
😍

On Mon, Jul 9, 2018 at 6:01 AM, Kevin Owocki <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-07-09 06:21] vikaskyadav commented on #1606
where can I look for the relevant code for this?

[2018-07-09 10:40] pinkiebell opened #1659 "Wrong profile in activities / messed up activity log"
**Describe the bug**
Wrong profile on work_done, work_submitted activities.
Should be the 'fulfiller'.

For reference:
- https://gitcoin.co/issue/gitcoinco/web/1472/637
- https://gitcoin.co/issue/zeppelinos/zos-cli/122/622

I think the problem is in record_bounty_activity.

user_profile = Profile.objects.filter(handle__iexact=new_bounty.bounty_owner_github_username).first()
// if we have a fulfill

[2018-07-09 10:40] pinkiebell commented on #1659
Possible solution (Attention: not tested):

diff --git a/app/dashboard/helpers.py b/app/dashboard/helpers.py
index c1df6dab..beb14467 100644
--- a/app/dashboard/helpers.py
+++ b/app/dashboard/helpers.py
@@ -630,6 +630,10 @@ def record_bounty_activity(event_name, old_bounty, new_bounty, _fulfillment=None
             fulfillment = new_bounty.fulfillments.order_by('-pk').first()
             if even

[2018-07-09 12:53] justpixel commented on #1451
@owocki @PixelantDesign Please check the attached design
![gitcoin press kit](https://user-images.githubusercontent.com/7627020/42451540-3c71c03e-8390-11e8-9cc4-118356c4256b.png)

[2018-07-09 14:59] #1641 closed

[2018-07-09 15:20] owocki commented on #1659
looking at this now

[2018-07-09 16:05] #1659 closed

[2018-07-09 16:06] owocki commented on #1659
just ran migration in prod

[2018-07-09 16:11] owocki opened #1661 "dupe activities"
now i am seeing dupe ‘work started’ and an extra ‘new bounty’ event http://bits.owocki.com/2B2x3G1O0U3x/Screen%20Shot%202018-07-09%20at%2010.09.50%20AM.png

example issues:

1) https://gitcoin.co/issue/XLNT/gnarly/11/677
2) https://gitcoin.co/issue/raiden-network/raiden/1243/561
3) https://gitcoin.co/issue/zeppelinos/zos-cli/122/622

continuation of https://github.com/gitcoinco/web/issues/1659

[2018-07-09 16:11] owocki commented on #1661
@pinkiebell do you see any obvious place where in the mgmt command this could be caused?

[2018-07-09 16:12] #1562 closed

[2018-07-09 16:15] owocki commented on #1386
can pay this out once its submitted

[2018-07-09 16:16] owocki commented on #1443
hows it going?

[2018-07-09 16:20] owocki commented on #1661
here is the command i ran in prod

[code]

[2018-07-09 16:24] pinkiebell commented on #1661
if you run it with --force, it clears all activities.
Can you point me to a issue with duplicates?

[2018-07-09 16:25] thelostone-mc commented on #1463
@owocki work has been submitted ! Good for payout 👍

[2018-07-09 16:30] owocki commented on #1661
read the description of the ticket pls

[2018-07-09 16:31] owocki commented on #1661
if you set it with `@transaction.atomic()` it can be atomic, yes

[2018-07-09 16:32] pinkiebell commented on #1661
https://gitcoin.co/issue/zeppelinos/zos-cli/122/622
same here now.
But, API response is fine:
https://gitcoin.co/actions/api/v0.1/bounties/?github_url=https://github.com/zeppelinos/zos-cli/issues/122&network=mainnet&standard_bounties_id=622

[2018-07-09 16:34] owocki commented on #1661
i think i see the issue

one sec ill commit up a fix

[2018-07-09 16:35] owocki commented on #1661
looks like the frontend makes TWO API requests

http://bits.owocki.com/042q1G263q1i/Screen%20Shot%202018-07-09%20at%2010.34.37%20AM.png

one with `not_current=1` and one without that param.

what is the reason for making two API requests? i think we should only care about activites related to teh current bounty and we should migrate the actions to the `current_bounty=1` when we create a new curren

[2018-07-09 16:37] pinkiebell commented on #1661
[code]

[2018-07-09 16:38] mbeacom opened #1663 "New avatar assets"
### User Story

As a user, I want to new avatar assets to show off and express myself digitally.

### Description

*Type*:  New implementation

### Definition of Done

- [ ] Create an .svg asset and place it in `app/assets/v2/images/avatar/<category>`
- [ ] Add the SVG asset as a `.txt` Django template in `app/avatar/templates/<category>/<item|index>.txt` with variable fill.
- [ ] Add your asset t

[2018-07-09 16:39] owocki commented on #1661
here is my PR with a few fixes in it ( https://github.com/gitcoinco/web/pull/1662 ) and one outstanding question

[2018-07-09 16:43] pinkiebell commented on #1661
@owocki Nice catch!

[2018-07-09 16:50] pinkiebell commented on #1661
Next time I will give my network bar more room 😆

[2018-07-09 17:03] owocki commented on #1661
did some local testing.. merging soon

[2018-07-09 17:07] owocki opened #1665 "bug - misaligned css on the acceptance page"
misaligned css on the gas module on the acceptance page

screenshot: http://bits.owocki.com/400s0G3E0a2n/Screen%20Shot%202018-07-09%20at%2011.07.09%20AM.png

link: https://gitcoin.co/issue/accept?pk=4122&network=mainnet

[2018-07-09 17:11] #1661 closed

[2018-07-09 17:13] owocki commented on #1661
fix is in.. looks okay to me.  anyone else see an issue LMK

[2018-07-09 17:38] owocki commented on #1451
looks really good to me. @PixelantDesign ?

[2018-07-09 18:15] justpixel commented on #1467
@willsputra @PixelantDesign  just a couple of thoughts:
- I think it will be useful to see the number of open bounties like "View 3 bounties"
- Instead of a dropdown maybe use a toggle with both options visible "Repo view" and "Issues view"
- when in "Repo view" I think the filters should be different, maybe something like "Hiring/Not Hiring"
- also on the Repo detail I don't think you need filter

[2018-07-09 19:47] ligi opened #1667 "Bug: Code not visible on website"
When an issue contains code it is not displayed by the website:

![selection_085](https://user-images.githubusercontent.com/111600/42472407-783bfafe-83c1-11e8-8029-53beca08ea3f.png)

Here you see that there should be embedded code:

![selection_086](https://user-images.githubusercontent.com/111600/42472447-a2426d56-83c1-11e8-81d6-8fd121c282da.png)

see: https://gitcoin.co/issue/livepeer/tv/2/709

[2018-07-09 20:12] PixelantDesign commented on #1467
There might be a few different use cases which we should discuss prior to scoping.

The use case this design solves for is a user browsing for work via a repo. Based on user feedback so far, people are generally looking in the Issue Explorer for work, not in a profile page.

I could see users wanting to view team members on a repo on a company's profile page though.

[2018-07-09 20:19] pinkiebell commented on #1560
@PixelantDesign Do you really want the button to be labeled 'Submit' or (consistent with the description) 'Enable' ?

[2018-07-09 20:47] pinkiebell commented on #1550
Squirrels! I'm serious ;)

[2018-07-09 21:03] pinkiebell commented on #1550
Maybe we should ask the author of [1]. That would look nice.

[1] http://species-in-pieces.com/

[2018-07-09 22:45] PixelantDesign commented on #1560
Enable would work. Thanks for checking!

[2018-07-09 23:19] darkdarkdragon commented on #1037
@owocki my mistake (
was not able to look at it earlier, but now I see you're already fixed it

[2018-07-10 02:08] PixelantDesign commented on #1451
looks good! Thank you @justpixel

[2018-07-10 03:28] thelostone-mc commented on #660
Closing this cause we've got hotjar \m/

[2018-07-10 03:28] #660 closed

[2018-07-10 03:38] Jbry123 commented on #1451
Ready to code this up when you guys are if you want 😎

[2018-07-10 03:39] #1560 closed

[2018-07-10 03:40] thelostone-mc commented on #1560
@owocki good for payout !
Thanks @pinkiebell ^_^

[2018-07-10 03:55] vs77bb opened #1669 "Feature: Moderator Dashboard (Admin)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an admin, I'd like a moderator dashboard to help keep on top of issues which are open in the Gitcoin pipeline of work.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary

[2018-07-10 04:32] thelostone-mc commented on #1599
@owocki How soon do we want this out ?
Me and @SaptakS can pick this up

[2018-07-10 05:19] PixelantDesign opened #1670 "Work Schemes Help Article"
Create help article that explains the workflow of various work schemes.
per avive
1. what is the workflow for permissioned issues - is it explained somewhere?

[2018-07-10 05:30] #1627 closed

[2018-07-10 05:38] #1625 closed

[2018-07-10 05:40] #1529 closed

[2018-07-10 05:44] PixelantDesign opened #1671 "== BUG LIST - JULY 2018 =="
## **In Priority Order**

### Please link to the PR by adding the URL next to the issue or comment on this thread so that we can tip.

**Email**
- [ ] [Users Not Receiving Tips Email Notification or Profile drop down](https://github.com/gitcoinco/web/issues/1870)

**Work Schemes**
- [x] [Coop Bounty Work Started - 1 Worker Not Showing](https://github.com/gitcoinco/web/issues/1678)

**Funder Action

[2018-07-10 05:45] #652 closed

[2018-07-10 06:00] PixelantDesign opened #1672 "Design Contributor and Funder Guide Pages"
As a contributor/funder, I'd like to see an on brand developer and funder guide.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: It's in Google Docs

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

These pages will liv

[2018-07-10 06:17] mbeacom opened #1673 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/445/](https://rollbar.com/gitcoin/gitcoin/items/445/)

[code]

[2018-07-10 06:18] PixelantDesign commented on #1528
@owocki this is the primary use cases...feel free to fund.

[2018-07-10 06:34] PixelantDesign opened #1674 "BUILD Action Plan Example for Start Work Dialog"
As a contributor, I want an example of what is expected for an action plan.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # (Describe what actually happened.)
No Example

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*:

Provide an inline example for contributors to reference when wr

[2018-07-10 06:49] thelostone-mc commented on #567
Our bot does all this now ^_^
Should come up with a better name that gitcoin bot though :P

[2018-07-10 06:49] #567 closed

[2018-07-10 06:53] thelostone-mc commented on #1647
@ceresstation did you see this happen anywhere ?

[2018-07-10 08:59] SaptakS commented on #1427
@owocki As I understand, the data submitted in the blockchain will be the hard expiry(which is 99999 years) and then we update the soft expiry in the database, each time someone extends the data. But the data in the blockchain still says expiry as 9999 years. So will that be any problem for later? I understand that we are using something similar to soft delete and hard delete, just wanted to know

[2018-07-10 12:54] ceresstation opened #1675 "Implement Gitcoin internationalization / i18n support"
### User Story

As a non-English project / contributor, I'd like to be able to participate on the Gitcoin platform!

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: This is needed in order to allow Gitcoin fans internationally to participate on the p

[2018-07-10 14:13] PixelantDesign opened #1676 "Experiment - Refer Your Friends to Gitcoin"
Not ready to be worked on...

If we incentivize contributors to refer their friends/colleagues to Gitcoin, then the number of contributors will grow because word of mouth is powerful.

What are some ways we can incentivize contributors?

This is a reminder - not that we'd use prizes.
<img width="600" alt="screen shot 2018-07-10 at 10 07 33 am" src="https://user-images.githubusercontent.com/238235/

[2018-07-10 15:39] PixelantDesign opened #1678 "Coop Bounty - 1 Start Work Missing"
from Tim Vanmourik

https://github.com/TimVanMourik/GiraffeTools/issues/72

A coop bounty, and two applications. However, the second one (@Thoughtscript) doesn't show up in the list, and the first one twice.

![image 10](https://user-images.githubusercontent.com/238235/42521029-cb4ccc04-8435-11e8-886d-582d212b7f27.png)

[2018-07-10 16:11] owocki commented on #1678
@pinkiebell is this something we missed in the last PR?

happy to tip out something extra if you can find a fix

[2018-07-10 16:14] owocki opened #1679 "BUG - Exception when loading /explorer via API on local"
[code]

When I try to access http://localhost:8000/api/v0.1/bounties/?network=mainnet&idx_status=open&tech_stack=&&order_by=null

[2018-07-10 16:16] owocki commented on #1422
@snezanasucurovic i'm just going to use the code as is.  need this for the above PR and can't wait for you to get the repo spun up.  thanks!

[2018-07-10 16:18] #1679 closed

[2018-07-10 16:20] mbeacom commented on #1679
You're attempting to `order_by` a field (`null`) that doesn't exist.  `order_by=created_on` works.  We could restrict the fields that can be ordered by to avoid this.

[2018-07-10 16:20] mbeacom commented on #1679
https://github.com/gitcoinco/web/commit/054f16346f35a6229d4334979c7118b9348637ae will resolve it in the case of `null` but any other value not present on the model will result in the same error.

[2018-07-10 16:21] mbeacom commented on #1679
Where is it populating with a `null` ordered_by value? @owocki

[2018-07-10 16:24] owocki commented on #1670
https://medium.com/gitcoin/we-listened-announcing-project-types-965a02603559

does this come close?  what is meant by 'workflow' ?

[2018-07-10 16:45] pinkiebell commented on #1678
@owocki I will take a look

[2018-07-10 16:54] pinkiebell commented on #1678
@owocki can you trigger create_activity_records? Thanks

[2018-07-10 16:55] owocki commented on #1443
@junagao are you still interested in this issue?  please let me know if not so i can return it to an open state and have someone else work on it

[2018-07-10 16:58] owocki commented on #1679
somewhere in the frontend, presumably `dashboard.js`  this is a stopgap fix, i left some comments on the commit about ideas to iterate it forward

[2018-07-10 17:28] ceresstation opened #1680 "Confirm Auto-Translation of Gitcoin to Korean"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want to fulfill / fund bounties in my native language.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For maximal inclusion :)

### Description

[comment

[2018-07-10 18:15] octavioamu commented on #1510
Yes @gitcoinbot I had a hard weekend, still working on this :)

[2018-07-10 18:37] pinkiebell commented on #1678
My guess: User's network connection was reset/other error after clicking on start work - modal dialog.
After that we update the ui and display a green success banner instead of an error.

[2018-07-10 18:55] shojibur commented on #1665
The gas module - should i align it to center

[2018-07-10 19:56] owocki commented on #1678
the application to start work went through, but not the `Activity` object.. so I dont think it was a network issue

[2018-07-10 20:01] owocki opened #1682 "as a user, i want this module on /about to be clickable, so i can click it."
page link: https://gitcoin.co/about
heatmap screenshot:
<img width="1102" alt="screen shot 2018-07-10 at 1 58 22 pm" src="https://user-images.githubusercontent.com/513929/42534316-ac767dac-8449-11e8-9fb6-817dbe1d8d97.png">

we've learned from our heatmap screenshots (see above) that users expect this module on gitcoin.co/about to be clickable.

i would like you, bounty hunter, to take this image,

[2018-07-10 21:16] pinkiebell commented on #1678
@owocki

Hmm. Then the user should be in 'bounty.interests' ? (looking at create_new_interest_helper)

https://gitcoin.co/actions/api/v0.1/bounties/?github_url=https://github.com/TimVanMourik/GiraffeTools/issues/72&network=mainnet&standard_bounties_id=724

[2018-07-10 21:55] pinkiebell commented on #1678
Ohh wait. Maybe the second application @TimVanMourik means is a duplicate email from the first applicant?

[2018-07-10 22:15] pinkiebell commented on #1667
Issue not found and [1] has 0 bounties. Huh?

[1] https://gitcoin.co/profile/livepeer

[2018-07-10 22:21] ligi commented on #1667
hm very strange - it is gone for me now also - was seeing it yesterday as you see in the screenshots. Here the issue from the other side: https://github.com/livepeer/tv/issues/2

[2018-07-10 22:24] ligi commented on #1667
Perhaps it is a bug triggered by the warning? Now the 3 days are exactly met:
![selection_088](https://user-images.githubusercontent.com/111600/42540934-b91caf84-84a0-11e8-996a-e714d27a492e.png)

[2018-07-10 22:29] owocki commented on #1680
@ceresstation is there a specific need from korean coming from the market?

[2018-07-10 22:56] owocki commented on #1667
@ligi @pinkiebell just put in a fix for this -- thanks for bringing to our attention! https://gitcoin.co/issue/livepeer/tv/2/709

[2018-07-10 23:41] owocki commented on #1675
that feeling when we bounty something and it was already done by past - @mbeacom and co :)

[2018-07-10 23:42] kelvintyb commented on #1675
Haha no worries xD

[2018-07-10 23:44] owocki commented on #1427
@SaptakS i think that we shouldn't update the expiration date in the blockchain in this ticket, we should just update the `bounty.expires_date` in the DB

we will also have to make sure this line is updated; https://github.com/gitcoinco/web/blob/master/app/dashboard/helpers.py#L471-L473 such that when a new bounty is created from an old bounty, the updated expiration date transfers

[2018-07-10 23:45] owocki commented on #1674
i like this idea

[2018-07-10 23:47] owocki commented on #1672
i wonder if it'd be worth creating a lightweight django CMS so that anyone can create / edit content ... not just dev team

[2018-07-10 23:51] owocki commented on #1451
paying out now

[2018-07-10 23:52] owocki opened #1683 "CODE - as a marketer, i want gitcoin.co/presskit so I can know Gitcoin's brand guidelines"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a marketer, i want gitcoin.co/presskit so I can know Gitcoin's brand guidelines
Inspired by https://infura.io/presskit

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summar

[2018-07-10 23:52] owocki commented on #1451
@Jbry123 here ya go => https://github.com/gitcoinco/web/issues/1683

[2018-07-10 23:54] owocki commented on #1599
i know that dean is really hot on this.  thanks guys!

[2018-07-11 01:30] PixelantDesign opened #1685 "Back Button on Contributor Ftux Not Working"
Once a Contributor starts the flow, they should be able to click the back button to go back to the landing page that they came from.

https://gitcoin.co/onboard/contributor/

**To Reproduce**

1) Go to https://gitcoin.co/onboard/contributor/
2) Try to click the back button to get back to the landing page.

**Expected behavior**

User should be able to go back.

[2018-07-11 01:39] pinkiebell commented on #1606
@oogetyboogety I already submitted a pull request earlier.

[2018-07-11 01:44] PixelantDesign opened #1686 "Button Text Not Legible"
At the bottom of the contributor landing page...

https://gitcoin.co/contributor

Please make 'Get Started' button text white.

<img width="1296" alt="screen shot 2018-07-10 at 9 42 26 pm" src="https://user-images.githubusercontent.com/238235/42546207-631a9f80-848a-11e8-98a5-5bcca00c4f90.png">

[2018-07-11 01:49] olafghanizadeh commented on #1683
I want to take a stab at this!

[2018-07-11 02:00] olafghanizadeh commented on #1682
Is the click supposed to lead somewhere?

[2018-07-11 02:36] pinkiebell commented on #1683
@olafghanizadeh Sorry, I did not refresh my page. It's all yours ;).

[2018-07-11 02:51] olafghanizadeh commented on #1683
@pinkiebell we can cooperate on it if you want. Hit me up on the community Slack :)

[2018-07-11 03:39] PixelantDesign commented on #1672
Maybe in this case, it makes sense to install the CMS and see what templates are available and updating colors and design after. Thoughts?

@owocki

[2018-07-11 04:00] pinkiebell commented on #1674
What about contest & coop?
Should the behaviour be the same? (Additional checkboxes)

You can assign it to me, anytime, if you want ;)

[2018-07-11 04:32] olafghanizadeh commented on #1665
How can I reproduce this locally?

[2018-07-11 04:58] thelostone-mc commented on #1682
@owocki It doesn't make sense to make them clickable 🤔

[2018-07-11 05:03] thelostone-mc commented on #1665
I don't think this exists locally
<img width="1440" alt="screen shot 2018-07-11 at 10 32 33 am" src="https://user-images.githubusercontent.com/5358146/42551620-d053e8a2-84f5-11e8-8e01-f55410796c48.png">

[2018-07-11 05:06] #1686 closed

[2018-07-11 05:10] thelostone-mc commented on #1674
@PixelantDesign
We could pre-populate it with the template (like github issues template) instead of giving a placeholder

[2018-07-11 05:46] pinkiebell commented on #1674
Or a dynamic todo-style form. That would also allow for more easy options to optimize the gitcoinbot

[2018-07-11 06:36] thelostone-mc commented on #1582
Should it be dismissable? I made it as a ribbon so that it's subtle and always stays there

[2018-07-11 06:41] olafghanizadeh commented on #1683
Can @owocki upload the source files of the design to get the font information ++

[2018-07-11 06:45] thelostone-mc commented on #1683
@olafghanizadeh https://github.com/gitcoinco/creative/pull/17/files

[2018-07-11 07:08] TimVanMourik commented on #1678
Hi @pinkiebell, sorry, my bug report wasn’t very elaborate. The timeline of the problem was this:
1. @Weezyana07 applied, I received an email and I approved him
2. @Thoughtscript applied (“@TimVanMourik - Signed up! Thanks!”). I did not receive any email. I checked out the page and saw screenshot above: a duplicate of @Weezyana07, although I could not approve him.
3. You, @pinkiebell,  applied as

[2018-07-11 07:20] pinkiebell commented on #1678
@TimVanMourik

Thanks!  'Weezyana07 Applied' & 'Worker Weezyana07, Approved'  are two different events, so that is fine.

That means @Thoughtscript has not applied or he tried and had a network error and got no error message; which means he just has to hit 'Start Work' again ;).

I think the issue is closed then? @owocki

[2018-07-11 07:41] TimVanMourik commented on #1678
Ahhh, I was under the impression it was a ‘worker list’ instead of an ‘action list’! That in combination with @Thoughtscript not appearing lead me to this bug report. Problem resolved then! Thanks @pinkiebell

[2018-07-11 08:01] olafghanizadeh commented on #1683
Is it ok to hardcode the elements here, or should it be implemented programatically?

[2018-07-11 08:09] olafghanizadeh commented on #1672
@owocki We were talking about this a few months back in the Slack, to implement a static site generator to compile the content when the site builds instead of having content spread into different files and hardcoded.

[2018-07-11 10:21] pinkiebell commented on #1674
What I have on my mind:

'Submit a Plan'

'What are the tasks for this issue?'
(Implement xyx. Needed for abc, takes approx. 1.2 hours)
(Writing tests, takes approx. 0.7 hours)
(writing documentation, 0.5 hours)

'Fine, you have 3 tasks with a total approximation of 2.4 hours of work.'
'That is round about 64 USD per hour for this bounty'

'Do you have any open question?'
(What are your recommend

[2018-07-11 12:10] ceresstation commented on #1680
@owocki Just a starting point, waiting for Mark to make a few changes to #971 and then bountying this + adding similar issues for other translations in parallel.

[2018-07-11 13:52] owocki commented on #1683
@olafghanizadeh looking forward to working with you.  just approved your request

i'm not sure i understand the question.

[2018-07-11 14:23] owocki commented on #1680
my question was more 'why is korean strategically important / why should it be first?'

[2018-07-11 14:27] PixelantDesign opened #1692 "Error Alerts Should Convey a Problem"
**UX Bug**

Error alerts should use a red background color to denote a problem.

To reproduce:
Fund Rinkeby Issue - up the amount to more than what you have on rinkeby.

<img width="1438" alt="screen shot 2018-07-11 at 9 56 40 am" src="https://user-images.githubusercontent.com/238235/42578536-94628eb2-84f4-11e8-810f-dbc7a51d9837.png">

Definition of Done:
Change error banner from Blue to Red.

[2018-07-11 14:29] owocki commented on #925
@darkdarkdragon hows this going?  we are excited about this internally

@PixelantDesign i think this page could be a good fit to add some sort of 'issues im following' scope to

[2018-07-11 14:42] owocki commented on #925
i wonder if adding some activity modules to the landing page, or to the `/results` page would help show off how active the platform is

[2018-07-11 14:43] octavioamu commented on #1510
Just to inform I'm changing how some things were done because there is a lot of inline CSS styles and I I need to take out instead to overwrite the already overwritten code.
I think there is code out of the "good front end practices" (CSS inline, not re-utilizable styles, etc)  maybe we need some head ups in the contribution docs.

[2018-07-11 15:03] owocki opened #1693 "Marketing idea - “#1 contributor guarantee”. Basically the guarantee is that if you get to number one contributor on gitcoin we’ll find you a job full time in the blockchain space"
(not ready to be worked on)

Marketing  idea - “#1 contributor guarantee”. Basically the guarantee is that if you get to number one contributor on gitcoin we’ll find you a job full time in the blockchain space

[2018-07-11 15:23] owocki commented on #1510
@octavioamu ok -- i understand -- want to open up a WIP PR so we can comment in line?

feel free to suggest some contrib guidelines to https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md -- cc @SaptakS and @thelostone-mc  and @mbeacom

[2018-07-11 15:24] octavioamu commented on #1510
@owocki Perfect I will open a WIP PR today

[2018-07-11 15:59] frankchen07 commented on #1402
@owocki was exploring the KPI tickets - I believe this is the link you're looking for: https://github.com/gitcoinco/web/issues/692

[2018-07-11 16:00] frankchen07 commented on #692
@owocki & @vs77bb Late to the KPI discussion, but my suggestions for OKR improvement run along the lines of understanding user engagement.

I like active work, work open, and work done (denominated in USD), but it tells a different value story than something like a "work done per active Gitcoin developer" (basically breaking it down to a user-level). If I'm thinking from a user perspective, and I

[2018-07-11 16:02] owocki commented on #1402
thx

[2018-07-11 16:03] owocki commented on #1672
https://github.com/django-helpdesk/django-helpdesk

looks interesting and well supported by its community.  what would the group think about provisioning a small bounty to integrate it into our system?

cc @mbeacom

[2018-07-11 16:13] frankchen07 commented on #692
Lower priority for the gitcoin/results page:

Joe dominance index: This is a good opportunity to share who the the other funders are via a color banded graph over time. A graph like this: https://blog.unchained-capital.com/bitcoin-data-science-pt-1-hodl-waves-7f3501d53f63

Hourly rate of bounties: Love the viz, but circle area, according to Tufte :), is pretty tough to estimate. I see a comparison

[2018-07-11 16:19] owocki commented on #1685
i brought this up more than once during QA of the initial release.

[2018-07-11 16:37] owocki commented on #1665
this is def still happening http://bits.owocki.com/1o3j0Y2W2a0u/Screen%20Shot%202018-07-11%20at%2010.37.13%20AM.png

im on chrome Version 67.0.3396.99 (Official Build) (64-bit), zoom is at 100%

[2018-07-11 16:37] owocki commented on #1665
above screenshot is from https://gitcoin.co/issue/accept?pk=4144&network=mainnet

[2018-07-11 16:38] owocki commented on #1682
i just think it's a nice touch to show that we've built interactivity into the implementation (given we already know people are clicking, why not invest in a little animation to show our attention to detail?).  i agree there is no functional action to be taken upon click.

[2018-07-11 17:24] frankchen07 commented on #1464
@PixelantDesign Some additional metrics about reputation to be displayed in a user profile (perhaps in a v2?):

* median time to completion for a bounty hunter
* median income per hour for a bounty hunter (any $ = they've done something, high $ = high worth)
* in the Gitcoin network graph, how many degrees of connection does a user have?

This will require some centralization of data, and pipelini

[2018-07-11 17:53] KennethAshley opened #1694 "Frontend: Gitcoin Requests"
### User Story
As a funder i want to see available Gitcoin requests so that i can create Bounties

### Why Is this Needed
We want to enable developers to add Gitcoin requests for work. What if you were to see some work that needs to be done but there is not bounty for that work? You can create a bounty request.

### Description
*Type*: Feature

This task is solely for the FE. Backend work will be

[2018-07-11 17:54] owocki opened #1695 "IDEA -- Do we want to auto-translate visitors based upon IP addresses?"
(not ready to be worked on )

 Do we want to auto-translate visitors experience based upon IP addresses?

[2018-07-11 18:35] pinkiebell commented on #1364
I take care of that 👍

[2018-07-11 18:36] mbeacom opened #1696 "Instantiate contracts and point functions correctly"
https://trello.com/c/K1nPYyK7/4-instantiate-contracts-and-point-functions-correctly

[2018-07-11 18:36] mbeacom opened #1697 "Check web3 functionality. Is it implemented in Kenneth's code? Are the contracts being instantiated and made visible?"
https://trello.com/c/NQoBqIGW/3-check-web3-functionality-is-it-implemented-in-kenneths-code-are-the-contracts-being-instantiated-and-made-visible

[2018-07-11 18:36] mbeacom opened #1698 "Implement any needed functions"
https://trello.com/c/SkxD2fm0/14-implement-any-needed-functions

[2018-07-11 18:36] mbeacom opened #1699 "Figure out data flow and ensure actions are performed on blockchain, IPFS and postgres in correct order."
https://trello.com/c/7aaEJ9mj/9-figure-out-data-flow-and-ensure-actions-are-performed-on-blockchain-ipfs-and-postgres-in-correct-order

[2018-07-11 18:36] mbeacom opened #1700 "Ensure data is stored correctly in each location."
https://trello.com/c/zO7ualQR/10-ensure-data-is-stored-correctly-in-each-location

[2018-07-11 18:36] mbeacom opened #1701 "implement any needed routes"
https://trello.com/c/Dili0LNB/15-implement-any-needed-routes

[2018-07-11 18:37] mbeacom opened #1702 "Write tests for newly implemented frontend"
https://trello.com/c/uO2ZhZxL/11-write-tests-for-newly-implemented-frontend

[2018-07-11 18:37] mbeacom opened #1703 "Write tests for newly implemented backend"
https://trello.com/c/0SH6Oysz/12-write-tests-for-newly-implemented-backend

[2018-07-11 18:37] mbeacom opened #1704 "Write tests for newly implemented smart contracts"
https://trello.com/c/8abu6KSC/13-write-tests-for-newly-implemented-smart-contracts

[2018-07-11 18:37] mbeacom opened #1705 "Ensure Staketree contracts have all required functionality, linting, and tests"
https://trello.com/c/7MgepTWk/16-ensure-staketree-contracts-have-all-required-functionality-linting-and-tests

[2018-07-11 18:37] mbeacom opened #1706 "Should there be a view for a developer to check on the status of their grant(s)? /grants/yourgrants, /grants/grantstatus"
https://trello.com/c/uS3svbAD/5-should-there-be-a-view-for-a-developer-to-check-on-the-status-of-their-grants-grants-yourgrants-grants-grantstatus

[2018-07-11 18:37] mbeacom opened #1707 "Should there be a view for a patron to check on the status of their grant subscription(s)?"
https://trello.com/c/93ilxdME/6-should-there-be-a-view-for-a-patron-to-check-on-the-status-of-their-grant-subscriptions

[2018-07-11 18:37] mbeacom opened #1708 "Do the Staketree contracts need any tuning? Are we going to use contracts that are already deployed or deploy our own instances?"
https://trello.com/c/8E2L4vq4/7-do-the-staketree-contracts-need-any-tuning-are-we-going-to-use-contracts-that-are-already-deployed-or-deploy-our-own-instances

[2018-07-11 18:37] mbeacom opened #1709 "Have the Staketree contracts been audited?"
https://trello.com/c/WddnPmp7/17-have-the-staketree-contracts-been-audited

[2018-07-11 18:37] mbeacom opened #1710 "What is the data flow? Do you have a diagram? Is data written to IPFS or postgres first? And what is initiator of action?"
https://trello.com/c/8hwHTfNU/8-what-is-the-data-flow-do-you-have-a-diagram-is-data-written-to-ipfs-or-postgres-first-and-what-is-initiator-of-action

[2018-07-11 18:37] mbeacom opened #1711 "Determine whether 199 skipped tests is normal or not"
https://trello.com/c/cVBNjWG7/20-determine-whether-199-skipped-tests-is-normal-or-not

[2018-07-11 18:37] mbeacom opened #1712 "Set up project and run tests to ensure baseline"
https://trello.com/c/IqqInD4T/2-set-up-project-and-run-tests-to-ensure-baseline

Right now there are two tests that are not passing in the kennethAshley:grants branch.

[2018-07-11 18:37] mbeacom opened #1713 "Get project to stable point, rebase current KennethAshley:grants with gitcoin:master"
https://trello.com/c/DRUv8YXi/21-get-project-to-stable-point-rebase-current-kennethashleygrants-with-gitcoinmaster

[2018-07-11 18:37] mbeacom opened #1714 "Clone Repo from KennethAshley and work from grants branch."
https://trello.com/c/3MQ32Plh/1-clone-repo-from-kennethashley-and-work-from-grants-branch

[2018-07-11 18:37] mbeacom opened #1715 "Figure out why tests are not running. Perhaps python issue?"
https://trello.com/c/oW5h2Xn9/19-figure-out-why-tests-are-not-running-perhaps-python-issue

[2018-07-11 18:37] mbeacom opened #1716 "Receive grant from Gitcoin"
https://trello.com/c/8sbPnVto/18-receive-grant-from-gitcoin

[2018-07-11 19:10] PixelantDesign commented on #1672
Sounds good to me!

[2018-07-11 19:43] darkdarkdragon commented on #925
@owocki probably I'll be able to make pr tomorrow

[2018-07-11 20:20] owocki commented on #1364
note that the txhash isn't currently stored in the DB so theres some backend work associated with this.

[2018-07-11 20:39] pinkiebell commented on #1364
Should that be done with management/sync_listener or should I aim at other solutions?

[2018-07-11 22:14] owocki opened #1720 "Advanced Payout v2"
- support for ERC20 tokens on advanced payout form
- prettier form
- ability to send a comment to each bounty hunter
- save information on page for refresh?
- expiry date

[2018-07-11 22:21] owocki commented on #1364
i'm actually not sure what the best way is to connect a specific bounty's updates with a specific txid.  it can certainly be done in `sync_listener`, and via the `sync/web3`url route.. but I'm not sure the best way to string it through via `sync_geth`.  maybe @mbeacom  would have an idea?

[2018-07-11 23:36] pinkiebell commented on #1364
I could upgrade the sync_listener to use WebsocketProvider and event filters,
and then call web3_process_bounty(bounty, tx_hash)

[2018-07-11 23:44] pinkiebell commented on #1364
Btw, the above solution makes sync_geth unnecessary.

[2018-07-12 03:08] owocki opened #1723 "Advanced Payout / Tips Refactor Cleanup task for August"
Deprecation task 1 month after https://github.com/gitcoinco/web/pull/1666 is launched

after we are satisfied that all tips have been claimed -- delete `receive_legacy.html`, receive url route, and `onepager/js/quarantine`

[2018-07-12 04:07] owocki commented on #1364
sure, assuming that sync_listener catches everything (which we dont have confidence in right now) . sync_listener is about 1 week old

[2018-07-12 06:58] octavioamu commented on #1510
Sorry for the delay @owocki Is almost ready, I will deliver the final version as soon as I weak up.

[2018-07-12 09:05] vs77bb opened #1727 "Add "Tips Sent" To Gitcoin Profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I'd like to see a list of the tips I've sent listed in my Gitcoin Profile so that I can keep track of the tips which have been processed via Gitcoin.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to h

[2018-07-12 09:09] junagao commented on #1493
@owocki @thelostone-mc I tried several times to submit the work but it's not working. Could you please explain how to do it?

Many thanks!

[2018-07-12 09:25] junagao commented on #1443
@owocki yes, still interested! sorry my delay to answer. got caught up with other work.

Here's how it looks so far. Let me know what you think.

![gitcoin-03](https://user-images.githubusercontent.com/615616/42624603-08029e44-85c6-11e8-8733-56fb2a74b52f.png)

[2018-07-12 13:11] PixelantDesign commented on #1177
Hi @NedelescuVlad are you still interested in competing this ticket?

[2018-07-12 16:00] mttmartin opened #1728 "Add UI for work done by another party on a claimed bounty"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, it is currently not clear what to do if someone starts work on a bounty which you've already claimed. I believe it would be useful to have some UI on the website which can lead users through this.

I recently claimed a bounty which someone else had afterwards completed while I was sleeping. I was more than

[2018-07-12 17:22] owocki commented on #1473
looks like there are changes requested on the PR @farfromunique -- once that is merged i can pay it out

[2018-07-12 17:23] owocki commented on #1471
sorry, where?

[2018-07-12 19:48] octavioamu commented on #1622
Very nice @PixelantDesign

Some ideas:

**screen 1**
Maybe the link to view bounties show the number of open ones
"view bounties (14)"  That can be some kind of activity endorsement.

maybe screen 2 and 4 can be in some way the same or show the same tasks/filters since what I want is work for that organizations

Not sure, organizations and projects are different things, right? So a company can hav

[2018-07-12 19:59] PixelantDesign commented on #1622
Maybe the link to view bounties show the number of open ones "view bounties (14)" That can be some kind of activity endorsement.

Great Idea! I like that

Yea typically a profile page is just for viewing. Meant less for filtering, searching for work, etc.

Agree with this, need to align on taxonomy.

Yes! I've added it to the last screen, thanks!

[2018-07-12 22:20] octavioamu commented on #1510
I had made this a link "mail to founders@..." that's the waited behavior?

![image](https://user-images.githubusercontent.com/1358093/42662548-67ac4204-8608-11e8-96a4-3ffc51eda843.png)

[2018-07-12 22:28] owocki opened #1731 "https://gitcoin.co/gas/history cleanup"
https://gitcoin.co/gas/history
see also
https://twitter.com/owocki/status/1017535489274855424

known bugs:
- dumb ‘other options’ UI in the bottom
- right now we delete gas data > 1 week old.  i’ve updated the scraper to retain up to 4 weeks so the weekly view doesnt suck so much

from antoine:
- Mainly, this makes me wonder if you’re capturing enough data with hourly? If you can fix the axis, it

[2018-07-12 22:35] octavioamu commented on #1510
Also, I followed the layout and changed the title color to white, not the font because the layout is with Futura (I think was just an error).

![image](https://user-images.githubusercontent.com/1358093/42663016-38a1df08-860a-11e8-88dc-60a8f75fec32.png)

[2018-07-12 22:52] owocki commented on #1622
comments

1. how is [this view](http://bits.owocki.com/1b1S2l2Y0Y1H/Screen%20Shot%202018-07-12%20at%204.49.07%20PM.png) diff from the org leaderboard?  more specifically, how can we dedupe the views?
2. how is [this view](http://bits.owocki.com/2k1Q293d1F2g/Screen%20Shot%202018-07-12%20at%204.51.31%20PM.png) diff from the current org profile view?

ideas on this ticket, in order of excitement leve

[2018-07-12 22:52] owocki commented on #1622
@mbeacom id like your opinion here since youre doing the backend profile stuff

@pelsasser mind taking 3 minutes to look this over and let us know if any of it excites you?

[2018-07-12 23:36] darkdarkdragon commented on #925
@owocki please review my pr #1732
it doesn't have pagination, but now I'm not sure I've going in the right direction - if you want to embed it in other pages probably I've should put templates into js and receive data through api

[2018-07-12 23:56] PixelantDesign commented on #1622
Maybe there is a way to elegantly combine these two.

Screen 2 is an updated view of [this](https://gitcoin.co/profile/gitcoinco)

This should happen on Screen 2.
Hiring - easy to add an/on off toggle.
Org Bio - inline edit using pencil icon for those that have permission.
Org image and team member association - seems like these should be easy to pull in from GitHub.

Screen 3 and 4 are not exciti

[2018-07-13 00:13] PixelantDesign commented on #1622
Viewing organizations and viewing a leaderboard serve two different purposes...

When a user is searching for an organization to collaborate with, they're wanting to learn about the mission of the project, who works there, evaluating how it aligns with their personal goals,etc. I'm not sure if a user would select working with an organization just because they've funded the. most bounties on our pl

[2018-07-13 01:57] owocki commented on #1550
spaceey looking shirts ... like youre a space cadet of some sort

[2018-07-13 02:42] octavioamu commented on #1682
I think if people are clicking means they want some information about the "call" they clicked. I think is kind of identification
![image](https://user-images.githubusercontent.com/1358093/42669419-c3ca3f32-862b-11e8-9941-5630b38cd0b6.png)

If I'm a repo maintainer I will click expecting to understand how gitcoin specifically will give me value, how I will use it, is an opportunity to convince that

[2018-07-13 03:07] pinkiebell commented on #1364
@owocki
Ready for review ;)

[2018-07-13 03:42] oogetyboogety commented on #1528
@PixelantDesign For the following requirement:
 Add visual that captures each state the Gitcoin Bot

We may be confined by the Github markdown syntax to define this visual. Do you have a recommendation as to how to move forward with this one?

Thanks!

[2018-07-13 03:46] #925 closed

[2018-07-13 03:47] owocki commented on #925
added pagination and shiped... https://gitcoin.co/activity

[2018-07-13 03:47] owocki commented on #925
@jakerockland thanks for the design!

[2018-07-13 04:19] owocki opened #1733 "activity feed v2"
(not ready to start work )

https://github.com/gitcoinco/web/issues/925

ideas:
- my activity feed for bounties i'm paying attention to (issues im following)
- add activiyt to moderator dashboard
- put module on landing page to show how active the site is

[2018-07-13 04:55] owocki commented on #1493
what do you mean "its not working" ? what are you observing?

[2018-07-13 05:00] owocki commented on #1443
thanks! i think the light green is def overused. is it possible to do a page in the style of the /about or /mission or /results page?

[2018-07-13 05:02] owocki commented on #1728
thanks for the thoughtful ticket.  i agree this part of the experince could use some firming up

[2018-07-13 05:07] owocki commented on #1606
@pinkiebell submit and ill pay out

[2018-07-13 05:08] owocki commented on #1364
link me the PR?

[2018-07-13 05:08] owocki commented on #1528
i believe that the endgame here was to use svg images, not markdown syntax

[2018-07-13 05:34] PixelantDesign commented on #1440
You could say learning could be part of **Has an impact** (impact on the contributor + project having an impact).

cc @owocki

[2018-07-13 07:51] junagao commented on #1443
Sorry, I think I didn't understand the first time.
I was also doing another version meantime. This one is complete with all the content.

![is-not-a-shit-coin](https://user-images.githubusercontent.com/615616/42679390-11429a1a-8682-11e8-8f7a-483a9bb645b9.png)

[2018-07-13 09:30] thelostone-mc commented on #1493
@junagao so just go to the bounty -> click on submit -> give the PR link -> (make sure you are connected to mainnet ) and it should work

[2018-07-13 09:43] #1692 closed

[2018-07-13 12:31] thelostone-mc commented on #1582
I feel we've got too many alerts going on here and there which is I wrote up the ribbon thing!
That's my only concern :|

@SaptakS @mbeacom

[2018-07-13 12:45] thelostone-mc commented on #1364
@PixelantDesign do we need to display the txn hash on our page? Not sure if folks need to see the txn hash on this page.
Would it make sense to simply link it to etherscan and avoid the dropdown (aka more clicks)

@owocki @SaptakS @mbeacom

[2018-07-13 12:49] pelsasser commented on #1622
@owocki - looking good!

[2018-07-13 13:47] owocki commented on #1364
i defer to your and @PixelantDesign 's judgement on this

[2018-07-13 14:18] pinkiebell commented on #1364
@thelostone-mc We can limit the functionality of the dropdown to only to the same profile (/profile/).

[2018-07-13 14:24] owocki commented on #1443
thanks for taking another pass!

i wonder if we can eliminate a lot of the text and just focus on the core ideas (via titles / iconography), like we do on the gitcoin.co/mission page

[2018-07-13 14:32] junagao commented on #1443
Yes, when I first saw it I thought there were a lot of text. But what are the core ideas?
Could you help me with that? Please, let me know how you want the text to be.

[2018-07-13 14:40] owocki commented on #1582
@PixelantDesign do you think thats a good concern?

[2018-07-13 15:30] darkdarkdragon commented on #1622
@PixelantDesign last variant is better
just one question - is screen #4 is still present in the last version?

[2018-07-13 15:53] PixelantDesign commented on #1622
@darkdarkdragon we aren't sure about screen 4 to avoid duplication of efforts but it seems like a natural place for users to look for work, thoughts?

[2018-07-13 17:57] peterwilli commented on #1605
@owocki maybe a good idea to close the gitcoin issue too.

[2018-07-13 18:05] PixelantDesign opened #1738 "Inventory Current Gitcoin UI Styles"
Front End Clean Up Part 1: UI Inventory

### User Story

As a contributor I'd like to know what all of the existing styles are on the Gitcoin site, so that I can make sure I'm using the right elements when I'm building the front end.

### Description

**Inventory Current Gitcoin UI Styles**

### Definition of Done

- [ ] Review the css styles and patterns across the Gitcoin Repo.
- [ ] Create an h

[2018-07-13 18:38] arun1595 commented on #1727
@vs77bb @owocki This issue has been double-funded. Can you guys take a look and decide which one we should retain?

Thanks.

[2018-07-13 19:08] PixelantDesign opened #1739 "User Profile and Gitcoin Logo are not clickable"
<img width="1157" alt="screen shot 2018-07-13 at 3 06 13 pm" src="https://user-images.githubusercontent.com/238235/42709401-70c63da8-86ae-11e8-8104-dab83187da90.png">

Definition of Done

- [ ] Make the two actions clickable

[2018-07-13 19:10] pinkiebell commented on #1364
Here is a Screenshot of all transactions for this bounty.

![default](https://user-images.githubusercontent.com/40266861/42709443-d7e51c52-86e0-11e8-81d5-b470a80de261.png)

[2018-07-13 19:14] PixelantDesign commented on #1728
Great suggestions. Thanks for reporting this @mttmartin.

[2018-07-13 19:37] pinkiebell commented on #1738
Good idea! Taken care of.

[2018-07-13 20:31] PixelantDesign opened #1741 "Awaiting Decision Feature for Bounty Details Page"
Not ready to be worked on

### User Story

As a contributor I'd like to be able to notify the system that I'm waiting on a decision from the funder/repo owner on how to proceed.

https://github.com/balance-io/balance-manager/issues/318

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, an

[2018-07-13 20:38] owocki opened #1742 "Bug - gas page is not mobile friendly."
<img width="302" alt="screen shot 2018-07-13 at 2 37 20 pm" src="https://user-images.githubusercontent.com/513929/42712816-5434069c-86aa-11e8-8f5e-a452b13c337e.png">

https://gitcoin.co/gas
https://gitcoin.co/gas/history

Both of these pages, the graph is not mobile friendly (bleeds off the edge).  Please put in a fix for this.