[2019-01-08 16:49] octavioamu commented on #3382
we are going to link the file or upload?
is resume something more valuable than linkedin?

[2019-01-08 16:57] willsputra commented on #2390
@octavioamu nope we haven't designed the setup flow yet

[2019-01-08 19:40] vs77bb opened #3463 "Gitcoin Services Landing Page (TBD)"
# All Gitcoin Products
- Bounties, Grants, CodeFund, Kudos, Labs

# What Do We Offer In Advanced Packages?
- Technical Recruiting, Managed Bounties, More

# Testimonials
- From EF
- From Enterprises

[2019-01-09 01:53] Anish-Agnihotri commented on #3454
Oh, sweet, alright. Hopefully they reply back, otherwise I'll figure out some alternative form of communication.

[2019-01-09 02:45] owocki commented on #2117
@frankchen07 ^^

[2019-01-09 03:03] owocki commented on #3114
derp related to https://github.com/gitcoinco/web/issues/3382

[2019-01-09 03:04] owocki commented on #3370
just updated your limit to 6 instead of 3

[2019-01-09 03:11] owocki commented on #3222
anyone interested in doing more ? 🔨

[2019-01-09 03:36] mehul0698 commented on #3195
@owocki Thanks Kevin

[2019-01-09 03:40] octavioamu commented on #2819
Just a head up with this tasks I was discussing with @usmanmuhd and there are 2 ways at least to solve this issue, one is front end just using the data inside json metadata with `worker_handle`  but he bring me the idea of change the model and I believe is the right way to go, because we actually have the other actions related to the worker not the owner, example
this is from activity related to t

[2019-01-09 04:53] Nnooo commented on #3222
I’m up for doing some work. I just can’t start until my bloody computer arrives from Hong Kong!! Just moved into an apartment so should be good to go from 17th is that too late?

Would you be open to me taking a holistic view of all your avatars and building a style guide?

Would be a fair few hours or possibly days...

[2019-01-09 06:34] suhailvs commented on #3286
@usmanmuhd take a look at the [PR 3385](https://github.com/gitcoinco/web/pull/3385). that will be helpful

[2019-01-09 13:00] usmanmuhd commented on #3286
Thanks @suhailvs !

[2019-01-09 13:42] #3462 closed

[2019-01-09 15:48] PixelantDesign commented on #2964
@owocki I know you originally wanted to ask the funder what to do with the crowdfunding...what do you think of Will's proposal of just splitting the contributions?

[2019-01-09 17:33] PixelantDesign commented on #2390
Call Notes:

- Design to spec out where it shows on funder form.
- Show featured in chronological order and iterate v2 using impression clicks.
- Whats the best way to handle payment?
1  eth for found and 0.5 eth we can't do 1 tx for 1.5 eth and keep 0.5 ?

[2019-01-09 17:48] PixelantDesign commented on #3449
Engineers review Kevin's proposal and provide feedback. @SaptakS @octavioamu
Come up with a tech approach on how to address in the next sprint.

[2019-01-09 18:28] SaptakS opened #3466 "advanced filters not working"
http://bits.owocki.com/5d300bb30dcc/Screen%20Recording%202019-01-09%20at%2009.43%20AM.gif

[2019-01-09 18:54] #3466 closed

[2019-01-09 19:13] frankchen07 opened #3469 "DESIGN - As a funder, how can we best promote recurring funding (Gitcoin Grants) to contributors?"
### User Story

As a funder, how can we best promote recurring funding (Gitcoin Grants) to contributors?

### Why Is this Needed

With the release of Gitcoin Grants, how do we best expose funders to a recurrent source of funding that can help push forward open source? This directly impacts our 2019 Q1 OKRs wrt Gitcoin Grants.

### Problem Description

Getting recurring funding is good for all thre

[2019-01-09 19:30] davmey commented on #3222
@owocki Let's do more! Anything in particular that y'all are wanting? I saw a lot of star wars items, are you interested in anything related to Star Trek, Marvel/DC, Tron, Daft Punk or other geeky schtuff?

[2019-01-09 20:08] ceresstation opened #3470 "As a funder, I want to see the total monthly subscriptions a campaign is set to receive each month"
### Why Is this Needed

I want to know how close a project is to reaching its goal / know how much the community supports a given campaign to help me make a more informed decision about where my money will have the most impact.

### Current Behavior

The funding bar only displays subscriptions created in a given month.

### Expected Behavior

The funding bar displays all active ongoing subscriptio

[2019-01-09 20:17] frankchen07 opened #3471 "As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet."
### User Story

As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet.

### Why Is this Needed

As we test our revenue options, we would like an initial read on what funders think about a Gitcoin pricing scheme, and how that fits into their usage of Gitcoin.

### Description

1. Scott to provide 5-10 funders to interview.

2. Frank, Alisa, & Vivek to quickly

[2019-01-09 20:24] captnseagraves opened #3472 "Grants - Need validation that num_periods in grants/fund is not 0"
Currently a user can enter 0 num_periods in grants/fund, which results in a 0 approval and a revert. We need to add validatoin for this so that a user must enter at least one. Just add `min` to input. super easy fix.

[2019-01-09 20:28] frankchen07 opened #3473 "[Epic] - Pricing Sheet"
### User Stories

1. As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet. (https://github.com/gitcoinco/web/issues/3471)

    - gut check from funders
    - are subscriptions a path out of crypto winter?
    - analogous to "everyone having an Amazon" subscription - how does this compare to Gitcoin?

2. Design - As a user, I want a pricing sheet so I can se

[2019-01-09 20:43] owocki commented on #3470
https://twitter.com/GetGitcoin/status/1083099687001804800

[2019-01-09 21:22] vs77bb commented on #3450
I love this ticket and I'm all for it - I think it's very high priority to get live and see what it can do for us in practice.

I wonder if we should tell people they *will* get Kudos, or simply build in the functionality to invite friends, first. The levels to me are:

1) Just build the functionality to easily invite your friends (other Github users, or e-mail accounts).
2) Test how it works when

[2019-01-09 21:47] vs77bb opened #3476 "EPIC Move Metamask - Only Require Github to Auth"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide

[2019-01-09 22:42] owocki opened #3479 "grants - should the monthly progress bar track only monthly recurring donations, or should it track one off donations?"
should the monthly progress bar track only monthly recurring donations, or should it track one off donations?

options
1. it should track only recurrring donations
2. it should track any donations and reset every month
3. we can have two progress bars . one that shows (1) and one that shows (2)

additional discussion:

[2019-01-09 23:40] owocki commented on #3466
https://github.com/gitcoinco/web/pull/3467#issuecomment-452911252

[2019-01-09 23:48] owocki opened #3484 "grants -- we should make `monthly_amount_subscribed` dyanmic"
per convo with @captnseagraves today in office, the current implementation of monthly_amount_subscribed is totally stateful -- therethere it is prone to error if we forget to update it some where

we want to make it so that it tracks the `add_monthly_amount_subscribed` method in the grants.migrations.0005 file

[2019-01-09 23:50] owocki commented on #3222
star trek / marvel / daft punk all sound cool to me.

we've talked a lot internally recently how coders are basically superheroes.. so its fun to give all these a super hero / sci fi theme!

yes i think so.  heres some of hte current ones https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots

[2019-01-09 23:55] Nnooo commented on #3222
@owocki sounds great. Want to organise a Skype/FaceTime/slack call or similar to discuss creating a style guide and developing a more holistic design process?

[2019-01-10 00:19] cmditch commented on #3197
A few notes about functionality, from a conversation Kevin and I had over the weekend:

1.  *Provenance Check.* The kudos should only show up on the dashboard if the owner received it from it's original source (gitcoin owned contract). To prevent people from gaming the game by sending their kudos to people who didn't actually earn it.

2. *No Github Auth* The kudos should be redeemable if the brow

[2019-01-10 03:48] PixelantDesign opened #3485 "As a funder I'd like to see my bounty funded successfully when I'm trying to create an issue on Gitcoin."
### User Story
As a funder I'd like to see my bounty funded successfully when I'm trying to create an issue on Gitcoin.

**Describe the bug**
Funder tried to launch a bounty late last night and got a nonce error that said please contact support

**To Reproduce**
Filled out the fund issue form, entered my GitHub url, filled out rest of form, hit submit, had MM pop up, hit submit in MM

**Expected b

[2019-01-10 04:33] owocki opened #3487 "DESIGN - gitcoin crypto spring creatives"
I am giving a presentation at [ETHDenver](https://ethdenver.com) in 5 weeks.

As part of the presentation, I will be talking about financial sustainability of open source projects.  I will also be talking about crypto winter and crypto spring.

As part of this presentation, I would like some creatives that are evocative of crypto-spring and crypto winter.

Here are the things I'd like from the cry

[2019-01-10 04:36] owocki commented on #3485
Hmm I just funded a bounty on prod no problem.. We'll need to figure out repro steps.  nonce error sounds like a state issue in metamask to me.

[2019-01-10 04:39] PixelantDesign opened #3488 "CSS CLEANUP - As a receiver of the weekly email, I'd like to be able to easily read the email."
**Describe the bug**
CSS CLEANUP - As a receiver of the weekly email, I"d like to be able to easily read the email.

**Screenshots**
[comment]: # (If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the following information):**

- OS: MAC
- Browser Safari

**Additional context**

<img width="770" alt="screen shot 2019-01-09 at 11 37 23 pm" src="https://user-i

[2019-01-10 04:46] bmann commented on #3485
This was me. I’ll try it again, and attach a screenshot here.

[2019-01-10 05:58] Nnooo commented on #3222
@owocki and @pixelantdesign would be good to chat with you both to see how I can help out with this and any other design work you need.

If I do the above work how do you want to track hours so i get paid and don’t waste your money?

[2019-01-10 05:59] santteegt commented on #2261
Thanks for the Kudos @ceresstation! :). One question, my wallet isn't showing any received trx in DAI recently, is there a delay in the payment?

[2019-01-10 06:14] bmann commented on #3485
![screenshot 2019-01-09 at 22 12 59](https://user-images.githubusercontent.com/280420/50949631-d0d96b80-145b-11e9-8bf8-5ac37f517284.png)
Screenshot from MM of previous failed transactions.

It never actually got submitted.

[2019-01-10 06:18] bmann commented on #3485
OK, just tried again, same issue.

[code]

And here it is in screenshot mode:

![screenshot 2019-01-09 at 22 17 07](https://user-images.githubusercontent.com/280420/50949774-74c31700-145c-11e9-95ef-5b64c508518d.png)

I will try tomorrow from my Mac. This was from my Chromebook again.

[2019-01-10 06:58] #3401 closed

[2019-01-10 07:02] bmann commented on #3485
OK, let's just close this for now. I tried on my Mac (Chrome / MM) and it worked? I'm a weirdo with my ChromeOS machine :)

Thanks for looking into this for me!

[2019-01-10 07:12] frankchen07 commented on #3439
@owocki - thanks for being patient, slowly making my way through a bunch of issues.

I think the first two "panes" you have listed here would be an interesting data science tool and honestly, can be put together in Metabase right now with medium lift. I can probably say that there are aspects of those first two panes that already coded up here and there on our dashboards that can be repurposed and

[2019-01-10 10:20] kuhnchris commented on #3197
Hi Coury!

Thanks for chiming in, you can see the progress over at https://github.com/gitcoinco/web/issues/3427 or on-demand if you ask me I'll start a VM so you can take a look.

Regarding your points:
1.) Right now I check against the "original" kudos, which is the address that mints the kudos. So as long as it's sent from the original minter nobody should be able to by-pass the system (we can t

[2019-01-10 10:20] kuhnchris commented on #3427
I'd have to implement the kudos-transfer objects but that's trivial, so yes, possible.

[2019-01-10 14:35] owocki commented on #3485
`nonce too low` usually means that metamask has some internal state issue... and broadcasts a nonce thats.. well.. too low

[2019-01-10 15:00] Anish-Agnihotri commented on #3488
Knocking this out now. ETA tonight.

[2019-01-10 15:19] owocki opened #3489 "grants -- brand image is stretched on /fund page"
![screencapture-gitcoin-co-grants-24-prysm-by-prysmatic-labs-fund-2019-01-10-08_18_48](https://user-images.githubusercontent.com/513929/50977860-6272c880-14b0-11e9-84f7-8e9da6968ffe.png)

we probably dont want to screw up our funders logos :)

[2019-01-10 15:30] owocki opened #3490 "as a user, i want the values refresh to reflect our 2019 values, so i know what the cultural norms at gitcoin are"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want the values refresh to reflect our 2019 values, so i know what the cultural norms at gitcoin are

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
lets

[2019-01-10 15:30] owocki commented on #3490
cc @vs77bb @PixelantDesign

[2019-01-10 16:03] thelostone-mc commented on #3286
After syncing with @usmanmuhd.

The grant detail section. We'd have 2 tabs as opposed to 4 as we don't have screens for that yet.
The tabs are
- Summary (activity + milestones)
- Contributions ( this would be the same code )

The Contributions tab would reuse the template from the profile and the three sections
`new subscription`, `cancelled subscription`, `contribution made`

cc @captnseagraves w

[2019-01-10 16:12] captnseagraves commented on #3286
@thelostone-mc @usmanmuhd

 Can we make the tabs:
- Activity summary (activity + milestones)
- Transactions (new subscriptions, cancelled subscriptions, contributions)

I think reusing the code from grants/profile makes sense.

[2019-01-10 16:13] owocki commented on #3286
sounds good to me.  looking forward to seeing a PR!

@suhailvs thanks for your efforts thus far.. ill tip you out for the work you've done when we pay out @usmanmuhd too

[2019-01-10 16:24] owocki commented on #3164
a3ea448910eca3dc818794b8c591d695a1da8df6 is the fix it twice for this task.

i just went in and corrected any tx statuses that i found posted on this thread, and those kudos should now show on your profiles.  pls let me know if i missed any!

[2019-01-10 16:34] PumpkingWok commented on #3164
Hi @owocki,
Now i can see the level up twice, it has overwritten another kudos, it had had the same behavior when i redeemed it.
Also i can see the Sunburst but not the transaction related to it.
I miss other 2 kudos.

Thanks in advance

[2019-01-10 16:42] owocki commented on #3164
thanks will take a look.  which other 2 kudos are you missing?

[2019-01-10 16:43] #2483 closed

[2019-01-10 16:44] sangphilkim commented on #3164
Thank you so much! @owocki
However LevelUp is missing.

[2019-01-10 16:44] thelostone-mc commented on #3489
Hmm I can't seem to reproduce it :P

<img width="1440" alt="screen shot 2019-01-10 at 10 04 10 pm" src="https://user-images.githubusercontent.com/5358146/50982709-ca162b80-1523-11e9-9078-ad7ce0686cf6.png">

[2019-01-10 16:46] owocki commented on #3388
thanks @djosey -- what mobile device were you using? which web3 browser were you using?

[2019-01-10 16:50] owocki commented on #3329
Thanks Scott. Some comments below:

updates -- is it worth calling out the 'update' functionality which can be used to send updates to each of your grant funders?

milestones -- what is this feature useful for?  i think that setting specific milestones might be a good way to publicly committing to things that you're going to do with the capital.

i'd love to see some examples of ppl doing it well.

[2019-01-10 16:50] owocki commented on #3329
@austintgriffith any other best practices you can think of?

@vs77bb @PixelantDesign too!

[2019-01-10 16:51] PumpkingWok commented on #3164
Hi @owocki
The 2 kudos missing are:
- GitcoinBot (https://gitcoin.co/kudos/131/gitcoin_bot), sent to me by @PixelantDesign
- Christmas Creator (https://gitcoin.co/kudos/813/christmas_creator)

Also one of the two level up has overwritten Red Stapler (https://gitcoin.co/kudos/186/red_stapler)

Thanks

[2019-01-10 16:52] owocki commented on #3489
1800x1200 is my reso..

try going to the `/fund` page to repro it @thelostone-mc !

[2019-01-10 16:52] owocki commented on #3489
not page, not grant detail page

[2019-01-10 17:06] owocki commented on #3439
npnp. this is just an idea im articulating .. not necessarily a priority

agree.  i think that #3 might be public speaking.  having the data pron just kind of makes us look a little more thought-leader-ey

i need to do more research on graph databases and how they can be analyzed... but i think that the insights will be.

1. where is there clustering?  the most 'promiscious' nodes in the network a

[2019-01-10 17:46] frankchen07 opened #3491 "SOURCING - As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet, which requires 5-10 funders to interview."
Sub-task of: https://github.com/gitcoinco/web/issues/3471

### User Story

As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet, which requires 5-10 funders to interview.

### Why Is this Needed

As we test our revenue options, we would like an initial read on what funders think about a Gitcoin pricing scheme, and how that fits into their usage of Gitcoin.

[2019-01-10 17:59] captnseagraves commented on #3314
Part of this Issue was addressed with PR https://github.com/gitcoinco/web/pull/3313. A users subscription is now displayed immediately in the grant progress bar. The second part of this issue will be to manage user's expectations that their contributions will take 5-10 minutes to be reflected in the "Total Funding Received" ticker. Currently, the subminer runs every 5 min. We may want to adjust th

[2019-01-10 18:13] owocki opened #3492 "test 123"
test 123

[2019-01-10 18:17] frankchen07 opened #3493 "DESIGN - As a user, I want to push a big red button at Gitcoin.co/easybutton because I know I need coders, but I dont know how to navigate Gitcoin's product suite. This gives me an easy big button to push to help me figure it out."
Sub-task of https://github.com/gitcoinco/web/issues/3436

### User Story

As a user, I want to push a big red button at Gitcoin.co/easybutton because I know I need coders, but I dont know how to navigate Gitcoin's product suite.  This gives me an easy big button to push to help me figure it out. This value proposition should be tested using a landing page.

### Why Is this Needed

Data is the new

[2019-01-10 18:37] owocki opened #3494 "as a developer community team member, i would like to have feature A built into our Y platform, so I can Z"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
as a developer community team member, i would like to have feature A built into our Y platform, so I can Z

(test just a test ticket, please ignore)

[2019-01-10 18:50] kuhnchris commented on #3436
Well i'd like to investigate how you differenciate between "yes" and "fuck yes". Does it include any level of bodily fluids?

[2019-01-10 18:52] kuhnchris commented on #3427
![image](https://user-images.githubusercontent.com/761911/50989984-24f25780-1511-11e9-9c43-c0b6471502f0.png)
Done. Could you please address the other questions and points that the guys from ETHDenver brought up in the design ticket @owocki ? thanks. cc @PixelantDesign so you know what i'm doing 📦 :shipit:

[2019-01-10 18:55] kuhnchris commented on #3432
Throw up a bounty for that, I suck too much for this ,sorry.

[2019-01-10 19:05] owocki commented on #3197
@kuhnchris whats the action item for me on this?  sorry i missed it; didnt know u were waiting on me.  u need me to test / PR review?

[2019-01-10 19:06] vs77bb commented on #3453
CC @austingriffith would love your opinions / thoughts here!

[2019-01-10 19:10] kuhnchris commented on #3197
Your take on the web3 v.s. login thing, is that OK within this scope? And what browsers to support?

[2019-01-10 19:15] owocki commented on #3436
fuck yes == they are within the blockchain niche / are a HUGE brand name or partnership oppy / can pay a decent amount of $$$
yes == they can pay $$$
no == they can't pay

[2019-01-10 19:38] #3492 closed

[2019-01-10 19:56] thelostone-mc commented on #3485
@bmann reverting to the older metamask version and giving it a shot might actually fix that issue.
It just may

[2019-01-10 21:05] Nnooo commented on #3222
@owocki and @pixelantdesign how do I privately share my contact details with you?

[2019-01-10 21:09] owocki opened #3496 "As a funder who is posting a bounty, I would like to be upsold to CodeFund ads, so I can get a broader reach for my bounty."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder who is posting a bounty, I would like to be upsold to CodeFund ads, so I can get a broader reach for my bounty.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summa

[2019-01-10 21:10] owocki commented on #3496
@PixelantDesign @frankchen07 @coderberry - eric and i think this might be a path to revenue for both projects.

[2019-01-10 21:17] owocki commented on #3222
@Nnooo email us -- kevin@gitcoin.co and alisa.march@consensys.net

[2019-01-10 21:26] owocki opened #3497 "bug - reserved bounties should not show up in the daily new bounties email, unless they are reserved for me"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
this bounty ( https://gitcoin.co/issue/gitcoinco/web/3447/2098 ) showed up in my daily email ( http://bits.owocki.com/8591b5ad5be0/Screen%20Shot%202019-01-10%20at%202.25.46%20PM.png ) today.

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
reserved bounties s

[2019-01-10 21:41] owocki commented on #3197
the customer wants web3 and no logins.. i guess my question back to you is how much more complexity is there for doing the web3 way.

for browsers, lets just say latest chrome.. and it should work responsive design, which means that mobile / tablet are fine.

i can re-up the bounty-amount if the scope has changed too much.. can also chat on slack about this if  u want

[2019-01-10 21:45] hatgit commented on #3350
Could it be better to add the actual bounty url into the widget, where it can take up to a set maximum number of bounties urls to show at once in the preview (and the link would direct to the users profile rather than to the explorer?), that are either open or already closed? (i.e. if someone wanted to show not only the open ones but past ones, as a means of social-sharing/promo).

[2019-01-10 21:51] owocki commented on #3432
np, we'll have our internal designer owrk on this

[2019-01-10 21:52] owocki commented on #3427
just repsonded

[2019-01-10 21:59] owocki commented on #3222
still excited to have more bots done, for anyone else who wants to work on this!

[2019-01-10 22:11] writeprovidence commented on #3487
@owocki is this a cooperative task?

[2019-01-10 22:22] owocki commented on #3487
@writeprovidence ill basically pay out anyone who contributes and does a good job.   feel free to team up, or feel free to do it yourself!

[2019-01-10 22:34] writeprovidence commented on #3487
okay thanks

[2019-01-10 22:48] Nnooo commented on #3222
@owocki done :) I’ll also have a look at avatars from 20th once all my personal belongings arrive from the move back from Hong Kong ha ha.

Happy to chat before then!

[2019-01-10 23:02] owocki commented on #3377
has everyone seen @ceresstation 's response on https://github.com/gitcoinco/web/issues/3329 ?

I like this idea.. I just asked for artwork for this

I also like this idea.. When people sign up.. Maybe we can have a personalized message for them from the funder

TODO - write a ticket

this is a good idea.  @coderberry in addition to getting attnetion for each Gitcoin Bounty, we could perhaps do it

[2019-01-10 23:03] owocki opened #3498 "as a grants funder, i want different tiers of grant contributors, so we can set expectations about what funding levels are acceptable"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

this could drive more funders at higher levels

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

[2019-01-10 23:05] owocki opened #3499 "as a grants funder, i want to be able to have a personalized thank you for the people who fund me, so i can say thanks in my own way"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants funder, i want to be able to have a personalized thank you for the people who fund me, so i can say thanks in my own way

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happe

[2019-01-10 23:11] writeprovidence commented on #3222
@owocki would also like to make a contribution on this issue

[2019-01-11 00:01] kuhnchris commented on #3197
Well "web3 and no login" basically changes the task from "back-end check if user is logged in" (e.a. python) to "check via javascript if user is logged in and then blend in/out a div", e.a. redesigning the page. Not that it would be a hard task, mind you, it just is a entirely different technology and basis. also, the logic for reading the kudos has then to be changed, as it currently demands us t

[2019-01-11 00:06] owocki commented on #3222
@writeprovidence sweet would love to have you!

@Nnooo i saw your email.. gonna sync with @PixelantDesign on this

[2019-01-11 00:13] kuhnchris commented on #3350
Well, many things can be done, the django framework is very open in this respect. The only constraint we have is the database load/power such a query would result in. And naturally we need to keep this low. That may be something where @mbeacom may also have a say in, as if we'd implement some API call that destroys the performance of the app then we will prolly get shunned.

[2019-01-11 00:17] owocki commented on #3197
Got it.  The reason I scoped https://github.com/gitcoinco/web/issues/3427

to be :

[code]

Hopefully you didnt get too far into coding up the python side of this...

From https://github.com/gitcoinco/web/pull/3429 it looks like you might have.  I'm sorry I should have done a better job of calling this out.

Let me go back to the customer and ask if theres something we can do about this

[2019-01-11 03:44] PixelantDesign commented on #3289
Making a note here that @ceresstation has market validation for these features:
KYC/AML (fund and pay out bounties with fiat), featured bounties, the job board, support

[2019-01-11 07:31] thelostone-mc opened #3502 "discuss: reserve bounties"
##### Description

13 Jan 2k19

Steps:
- create a new state `reserved`
- update front end & email template to ensure reserved bounty show up only for the reserved user

-----
11 Jan 2k19
Reserve bounties are now live.
Testing it out with @vs77bb , the follow suggestions came up

My concerns:
Normally when a user starts work -> an email is triggered anyways, so would be need to build another email

[2019-01-11 07:32] thelostone-mc commented on #2037
Opening a discuss ticket over at  https://github.com/gitcoinco/web/issues/3502
@pinkiebell and @mul1sh thanks for getting this in ^_^

[2019-01-11 07:32] #2037 closed

[2019-01-11 07:43] mul1sh commented on #2037
@thelostone-mc @vs77bb glad this is now done 😄. I was also wondering for the payout how will it be done? Maybe i get like half and @pinkiebell gets half too since he did alot of work to get it to the finish line, what do you think,  about this? 🤔

[2019-01-11 07:48] thelostone-mc commented on #2037
Makes sense to be ^_^
Are you good with that @pinkiebell  ?

[2019-01-11 07:48] mul1sh commented on #3502
@thelostone-mc @vs77bb I think we should work on moving a bounty from the `open` state to `started` if a bounty is reserved and then after 72 hours, if the reserved for user hasn't started working on the bounty, then it can be moved back to the `open` state. We can do this by auto-starting the bounty once the web3 transaction has reflected so that the funder also gets a notification email about it

[2019-01-11 07:53] thelostone-mc commented on #3502
@mul1sh

[code]

The downside of this is that I can create three bounties and reserve them for you and you won't be able to start work on other bounties you want cause I've forced you to start work on this (cause of the bounty limit). You could go and click stop work but in the activity feed it would like you started an issue and backed out of it (aka creating a bad impression of a funder who happ

[2019-01-11 07:57] mul1sh commented on #3502
@thelostone-mc makes sense, how about if the reserved bounty is left in open but then hidden from other bounty hunters and anyone else who is not logged in the `issue explorer`. So that on logging into gitcoin only the `reserved for` user will be able to see it along with other bounties. But if they don't start work in 72 hours they are automatically removed from the bounty and then it's made open

[2019-01-11 08:02] thelostone-mc commented on #3502
Seems a lil hacky but that would work :P
cc @SaptakS / @octavioamu / @vs77bb

[2019-01-11 08:10] pinkiebell commented on #2037
@mul1sh @thelostone-mc
That's fine with me 👍

[2019-01-11 08:12] thelostone-mc commented on #3388
@djosey so the list of tokens gets updated based on the network you are in!
could you double check the network

I checked it on chrome browser on my laptop and trust wallet on mobile and it loaded fine

<img width="1403" alt="screen shot 2019-01-11 at 1 36 47 pm" src="https://user-images.githubusercontent.com/5358146/51021133-a942ea00-15a6-11e9-8dda-1a6fe650908e.png">

[2019-01-11 08:23] thelostone-mc opened #3503 "ReferenceError: web3 is not defined"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/1602/

[code]

[2019-01-11 08:42] kziemianek commented on #3196
new commits coming

[2019-01-11 10:00] #3489 closed

[2019-01-11 10:05] PumpkingWok commented on #3164
Hi @owocki,
Thank you very much for all support, yes now i can see the correct number of kudos in my profile, there are few overwritten but i think that it is correlated to #3046.

[2019-01-11 12:59] octavioamu commented on #3502
I also thought about the idea of just show the bounty to the one/ones is reserved for. This is good to private repos (future feature)
For other side maybe we need to add a state "reserved" and having an option to show to everyone or just for the reserved hunters. Anyway I think having the a new state "reserved" also to handle in the front end side will be the best.
What you guys think?

[2019-01-11 15:03] owocki commented on #3197
@kuhnchris @cmditch After sleeping on it, I'm really worried about what the web3 architecture of this is going to look like.

Upon page load, we're going to have to make 20 calls to the smart contract via web3 (one for each kudos).  for each kudos, we'll also have to hit up IPFS to get the metadata hash of each kudos. We may also have to make more calls to figure out the lineage of each Kudos (eac

[2019-01-11 15:09] kuhnchris commented on #3197
yes, very easily even: we provide this via gitcoin API. we need to make sure we are not getting bombed tho, but the same way we check right now, we simply provide "anonymous" api call functions for gitcoin api which provide the current data (kudostransfers, etc.) as we currently use them in the backend, simply in the frontend. shouldn't take longer than a couple of hours if you want me to try?

[2019-01-11 15:12] owocki commented on #3197
@kuhnchris as long as it's scoped in the ethdenver app and doesnt affect the other django apps in the gitcoin system, then fine by me.

since the original code ticket was scoped around just coding the html/css, do you want a new ticket?

lets set a target date of 1/14 to have a demo we can do internally for this?

[2019-01-11 15:13] kuhnchris commented on #3197
keep it in that ticket so we do not spread this stuff around. make a note that the target goal is 14th, i'll try to get it done today or tomorrow.

[2019-01-11 15:47] owocki commented on #3197
thanks man!

[2019-01-11 15:55] davmey commented on #3222
@owocki BTW how do you use this art? For marketing? Chat stickers? Just wondering so that the artwork can be optimized for its usage.

[2019-01-11 15:56] owocki commented on #3222
@davmey i've been putting them into a few gitcoin-related decks here and there.. maybe will make them into a Kudos or two down the line.. i think the art stands on its own!

[2019-01-11 15:58] PixelantDesign opened #3506 "SUBTASK #3114: UX A User Adding/Editing Job Related Information to Gitcoin"
### Subtask of 3114: UX A User Adding/Editing Job Related Information to Gitcoin

Please see original ticket.
https://github.com/gitcoinco/web/issues/3114
https://github.com/gitcoinco/web/issues/3382

### Definition of Done

- [ ] Designs are created for the necessary experience in the above linked tickets.
- [ ] Review with Green squad and finalize designs before sprint end.

[2019-01-11 16:30] PixelantDesign opened #3507 "SUBTASK #2200 BUILD Backend Inviting Specific Gitcoiners to Work"
Reference: https://github.com/gitcoinco/web/issues/2200

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder, I'd like the ability to invite specific Gitcoiners to work on my issue after it is funded so that I can foster continuing working relationships with people who I know and trust.

[comment]: # (Describe the problem and why this task is needed. Provi

[2019-01-11 16:32] owocki commented on #3507
I <3 this design.  fits so neatly into the current float.

one thing i'd ask to add to the ticket scope is that if someone is editing the form, and the tx clears, then the user is warned [before leaving the page](https://stackoverflow.com/questions/7317273/warn-user-before-leaving-web-page-with-unsaved-changes).

[2019-01-11 16:34] PixelantDesign opened #3508 "SUBTASK #2390 Build Front End of Feature Carousel"
### User Story

As a funder with a new bounty, I'd like a way to callout the issue that I've just posted so I can turn the project around using the best talent on Gitcoin.

Funders expect some interest on their github pages within the first 12-24 hrs and tasks to be picked up soon after that.

### Definition of Done

- [ ]
- [ ]

[2019-01-11 16:39] PixelantDesign opened #3509 "SUBTASK #2390 Design Opt In to Feature Carousel on Funder Form"
### User Story

As a funder with a new bounty, I'd like a way to callout the issue that I've just posted so I can turn the project around using the best talent on Gitcoin.

Funders expect some interest on their github pages within the first 12-24 hrs and tasks to be picked up soon after that.

### Definition of Done

- [ ] A design is created to show where on the funder form the funder can opt int

[2019-01-11 16:45] PixelantDesign opened #3510 "SUBTASK #2390 Build Backend of Feature Carousel"
### User Story

As a funder with a new bounty, I'd like a way to callout the issue that I've just posted so I can turn the project around using the best talent on Gitcoin.

Funders expect some interest on their github pages within the first 12-24 hrs and tasks to be picked up soon after that.

### Definition of Done

- [ ]
- [ ]

[2019-01-11 16:46] safaci2000 commented on #3447
I was going to try to tackle this but, where can I find the code for gitcoin.co/cms? is there a git repo i'm missing?

[2019-01-11 16:56] sangphilkim commented on #3164
Hi @owocki
missing again.
is this my problem?

* Rubber Ducky -> 0x5a6a43eacf78baa1e5047affdacaf65b96b728fa545b1abb388469e1652cc65c

[2019-01-11 18:07] frankchen07 opened #3511 "As a Gitcoin admin, Google Search Console is indexing gitcoin.co, but there are still some unresolved errors."
### User Story

As a Gitcoin admin, Google Search Console is indexing gitcoin.co, but there are still some unresolved errors.

### Why Is this Needed

This will improve Gitcoin's SEO and searchability.

### Description

https://search.google.com/search-console/index?resource_id=https%3A%2F%2Fgitcoin.co%2F&hl=en 

The Google Search Console (formerly Google Webmaster Tools) offers the best diagnosti

[2019-01-11 18:07] frankchen07 opened #3512 "As a Gitcoin user of gitcoin.co, I'm impatient, and I don't want to wait long for a page to load."
### User Story

As a Gitcoin user of gitcoin.co, I'm impatient, and I don't want to wait long for a page to load.

### Why Is this Needed

Impatience and long page load times do not mix. This leads to users abandoning pages after clicking, which is not good for gitcoin.co

### Description

https://gtmetrix.com/reports/gitcoin.co/C3WnhcJs

@frankchen07
Pagespeed and YSlow are two different forms of

[2019-01-11 18:18] frankchen07 opened #3513 "As a Gitcoin admin, we think Gitcoin can improve it's visibility on bug bounty lists."
### User Story

As a Gitcoin admin, we think Gitcoin can improve it's visibility on bug bounty lists.

### Why Is this Needed

This more "networking" and "pitching" to expand Gitcoin's reach into the bug bounty ecosystem, to establish a stronger reputation in the traditional Web 2.0 space by pursuing link prospects.

### Description

Todos:
1. Marc to update the ticket with a more curated list.
2.

[2019-01-11 18:19] cmditch commented on #3197
@kuhnchris Thank you!

This will be incredibly helpful for the non-techy, or non-github account folks at the event.

❤️

[2019-01-11 18:34] frankchen07 opened #3514 "As a Gitcoin admin, getting Gitcoin into a wiki would help SEO."
### User Story

As a Gitcoin admin, getting Gitcoin into a wiki would help SEO.

### Why Is this Needed

This will help improve Gitcoin's visibility.

### Description

We need copy to describe Gitcoin as a company, and fill a wiki page out with as much relevant profile information as possible. The article needs to be internally unbiased and formatted in a way that is wiki-friendly. The general lay

[2019-01-11 18:41] frankchen07 commented on #3372
seo tickets & roadmap
    https://github.com/gitcoinco/web/issues/3511 (green squad backlog)
    https://github.com/gitcoinco/web/issues/3512 (green squad backlog)
    https://github.com/gitcoinco/web/issues/3513 (green squad backlog)
    https://github.com/gitcoinco/web/issues/3514 (green squad backlog)
    https://github.com/gitcoinco/web/issues/2898 (bountied)
    https://github.com/gitcoinco/w

[2019-01-11 18:42] frankchen07 commented on #2899
@sgr0691 - I'm going to remove you on the bounty - if you see this message and it's open and you want to pick it up again, feel free to hit start work again!

[2019-01-11 18:46] scco commented on #3222
started with an xmen gitbot series today - first is wolverine :)

https://github.com/scco/gitcoin/tree/master/xmen

[2019-01-11 18:50] octavioamu commented on #2390
@willsputra can you upload the sketch files?

[2019-01-11 19:46] octavioamu commented on #2390
we need to add the option to the edit bounty details too

[2019-01-11 19:49] octavioamu commented on #2390
We need some legal notice for this feature?

[2019-01-11 20:00] octavioamu opened #3515 "Standardize headers"
Description

Standardize headers in the app
Fix cutting menus
Fix background animations
Fix rain animation
Fix load header menu in white background

_60% done inside notifications branch_

[2019-01-11 20:02] PixelantDesign commented on #3018
Names are there now
<img width="344" alt="screen shot 2019-01-11 at 3 02 33 pm" src="https://user-images.githubusercontent.com/238235/51056859-f5dff280-15b1-11e9-9945-f6642bebf905.png">

[2019-01-11 20:03] #3018 closed

[2019-01-11 20:05] #3120 closed

[2019-01-11 20:14] frankchen07 opened #3516 "DESIGN - As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet."
Sub-task of https://github.com/gitcoinco/web/issues/3471

### User Story

As a Gitcoin Core member, I want funder feedback and impressions on the Gitcoin pricing sheet. As it stands, the current pricing sheet is being updated by @PixelantDesign.

### Why Is this Needed

As we test our revenue options, we would like an initial read on what funders think about a Gitcoin pricing scheme, and how that

[2019-01-11 20:20] PixelantDesign opened #3517 "BUILD Front End Feature Bounties Edit Bounty Form"
Placeholder

Add ability to feature a bounty in the edit bounty form after a bounty has been funded.

![image 26](https://user-images.githubusercontent.com/238235/51057728-6e47b300-15b4-11e9-9869-f26ec5028dc8.png)

[2019-01-11 20:32] PixelantDesign commented on #3516
*Pricing Flow Prototype*
- Please note this is not final visual design. This will be used to accompany the pricing interview.
- There are two flows, a path where a funder uses form fields for payment and the other option has no form fields. Please click the big blue buttons to get started on each flow and follow the hot spots.
- Only the GREEN Middle path is wired up.
- There are a few tour points

[2019-01-11 20:35] owocki commented on #3164
i dont see that tx on etherscan... https://etherscan.io/tx/0x5a6a43eacf78baa1e5047affdacaf65b96b728fa545b1abb388469e1652cc65c

[2019-01-11 20:36] owocki commented on #3447
its in wagtail (one of our pip depandancies)

[2019-01-11 20:48] PixelantDesign opened #3518 "SUBTASK 3382 Build Front-End Adding/Editing Job Related Information"
### Subtask of 3382: Build Adding/Editing Job Related Information to Gitcoin on boarding

Please see original ticket.
https://github.com/gitcoinco/web/issues/3382

### Definition of Done

- [ ] Font end is impletented to add a resume uploading during on boarding.
- [ ] Review with Green squad and finalize before sprint end.

[2019-01-11 20:54] owocki commented on #3450
note that there is an existing 'share' button after you click the 'contribute' button on the issue explorer page

[2019-01-11 21:01] octavioamu commented on #2390
We need some legal notice for this feature?

[2019-01-11 21:43] sangphilkim commented on #3164
![image](https://user-images.githubusercontent.com/13456532/51060856-9119ac00-1634-11e9-9b34-8b0878f4d097.png)
It's definitely the right address.

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/13456532/51060983-fa012400-1634-11e9-80d7-16bca8e63a22.png">
moreover there's my profile avatar there.

[2019-01-11 21:49] owocki commented on #3164
do you have pending tx's in metamask?  if theres a tx with a lower nonce then metamask will not broadcast the new tx

heres our help article on this https://github.com/gitcoinco/gitcoinco/issues/50

[2019-01-11 21:55] PumpkingWok commented on #3164
Hi kevin,
I have two transactions that don’t exist too.
I can see the kudos related to them in my profile after your fix but for these kudos i have never seen the txid, appeared in redeem page, into network.
Thanks !!

[2019-01-11 22:05] writeprovidence commented on #3222
@owocki can a get a pass?  i get this message while trying to express interest----- (There is already someone working on this bounty. )

[2019-01-11 22:55] sangphilkim commented on #3164
1) Rubber Ducky is free kudos. there is no pending my tx.

2) plz visit my profile (https://gitcoin.co/profile/sangphilkim)
can you see the Bufficorn Bot?
I think it will be disappear soon because this kudos tx can't find in etherscan.
(https://etherscan.io/tx/0x9ba465c9d5609d5d227e23df8a49e3186ffda8e397eee876e1886121a61be873)

thanks!

[2019-01-11 23:20] octavioamu opened #3519 "Remove styles from dom elements"
Description
Dom elements like h1 - h6 are styled with diff sizes depending the page.
This styles need to have it own class if needed but not changing the tag style because affect all the elements in the page and future elements, also make difficult when creating new elements and reusing components.

Check dom elements for styles that are not styled by bootstrap and create custom classes / or reuse

[2019-01-12 00:02] PixelantDesign commented on #3231
@willsputra is there an email that goes along with this so the contributor is notified?

[2019-01-12 00:11] #2186 closed

[2019-01-12 00:13] austintgriffith commented on #2964
Yeah so my flow was this. We had like 100USD from my original bounty. Then we had another 200USD come in from community contributors making the total bounty 300USD.

The bounty was for designing the Burner Wallet 2.0 and it had two parts; design and implementation.

When the first part one done I wanted to pay the designer half of the bounty so I tried to send 50% to them and it ended up only send

[2019-01-12 01:15] owocki commented on #3487
@nive18 @mehul0698 @andresberejnoi how goes it?  still interested in working together?

[2019-01-12 01:16] nive18 commented on #3487
Yes I am interested in working for this project.

On Sat, 12 Jan 2019, 06:45 Kevin Owocki <notifications@github.com wrote:

[2019-01-12 01:17] owocki commented on #3487
@nive18 neat.  when do you think you can deliver a rough draft!? excited for this ❗️

[2019-01-12 01:19] nive18 commented on #3487
Yes really exciting. I can provide you with rough draft within 17 January
Thursday

On Sat, 12 Jan 2019, 06:47 Kevin Owocki <notifications@github.com wrote:

[2019-01-12 01:44] mehul0698 commented on #3487
@owocki Yes I am interested in working on this. Can you give an example image or a link to it? Don't want link to inspiration, I want an actual image that will get accepted.

[2019-01-12 02:14] owocki commented on #3487
@mehul0698 its up to you to make the image that will be accepted.  you can choose any of the inspiration images as a starting point, and then make it into line art that adheres to our brand guides.

@nive18 sounds great!

[2019-01-12 02:57] djosey commented on #3388
Oh I see... My assumption may have been that I would have to do whatever to sign up and do the web3 part next, but I wasn't thinking... I was just using chrome.

Retried with trust wallet and got past this issue, but the drop-down wouldn't show any of the tokens in my wallet, including eth(?). Marking on this page that you have to complete signup with a web3 browser probably wouldn't hurt!

Closin

[2019-01-12 03:53] owocki commented on #3164
1. free kudos definitely have txids.
2. just updated the db, try now.

[2019-01-12 06:08] willsputra commented on #3509
Sketch file here!
https://drive.google.com/open?id=1eNc02I8oKxlVCYIk7gq43Dpd6y2s10Wt

[2019-01-12 06:12] willsputra commented on #3231
@PixelantDesign yeah it was on the design ticket here
https://github.com/gitcoinco/web/issues/2773#issuecomment-447317386

[2019-01-12 06:16] aashutoshrathi commented on #2898
Shouldn't this[https://docs.google.com/spreadsheets/d/1k8w8PX59XISYWaRLmUwQvdsLDCiDH0jBIY08qsKpruw/edit#gid=1172444725&range=C1] be `Meta Title tag`?

[2019-01-12 06:17] willsputra commented on #2390
@octavioamu Sketch files here

featured bounties section on issue explorer:
https://drive.google.com/open?id=1U6myuZcaWr0ba2UMt_uJF6_IUg9cDlSv

opt-in in funders form (#3509):
https://drive.google.com/open?id=1eNc02I8oKxlVCYIk7gq43Dpd6y2s10Wt

[2019-01-12 06:20] willsputra commented on #3450
@owocki ah wasn't aware of that. noted thanks @owocki!

[2019-01-12 07:45] nanspro commented on #3195
@owocki  no issues :smile:

[2019-01-12 10:42] PixelantDesign commented on #3436
Ideas so far are :
1) Push a button get a coder
2) Rub a lamp get a genie
3) On the pricing page we have robot super heroes packages/tiers

I wonder if people might get confused with all of the metaphors.

If we can someway align on the metaphor and get it to work throughout it would be ideal. It’s a stronger messaging and less confusing if we can tie it all together.

Thoughts @vs77bb @ceresstati

[2019-01-12 10:44] PixelantDesign commented on #3490
Great idea. @vs77bb could you share the synthesis?

[2019-01-12 11:02] PixelantDesign commented on #3329
Great thoughts yall!

I had this convo with Meeka (Mekyle), pointed him to Austin’s example and he found it helpful.

I agree with all of @ceresstation comments above.

Have a really good plan. We can link to 1 example template to help get juices flowing.

To add to that - emphasis on why the idea is important.

Tooltips on each section to help understand what it does is a good idea too. More impo

[2019-01-12 11:03] PixelantDesign commented on #3372
great!

[2019-01-12 11:11] PixelantDesign opened #3520 "Gitcoin Grants Vetted by Gitcoin Badge"
As a grantee I want a cool badge that I can display on my site that says to potential contributors that my project ior idea is legit and has been vetted by the Gitcoin core team.

This will encourage funding of projects on the gitcoin grants site.

Badge will be displayed on the grant itself on gitcoin grants site.

Badge can also be displayed on the grant owners site —- driving traffic to gitcoin

[2019-01-12 11:18] thelostone-mc commented on #3520
I like this

[2019-01-12 11:31] PixelantDesign commented on #3496
like this idea. we could incorporate on the funder form. I’ll add to green board.

[2019-01-12 11:32] #2261 closed

[2019-01-12 11:43] PixelantDesign commented on #3177
yes after crowd funding

[2019-01-12 14:44] andresberejnoi commented on #3487
Yes, I will be working on some drafts and have them ready.

On Fri, Jan 11, 2019, 20:15 Kevin Owocki <notifications@github.com wrote:

[2019-01-12 15:51] owocki commented on #3195
my hero !

[2019-01-12 15:54] owocki commented on #3329
next step, i think we need to put this on the gitcoin CMS (gitcoin.co/cms if youre an admin) or into a google doc we can give to new grant creators

[2019-01-12 17:14] captnseagraves commented on #3520
@PixelantDesign I like this idea. It sounds like it will introduce a 'review' flow. Basically anyone can create a grant, but only they and the Gitcoin team will be able to see it until Gitcoin reviews and either approves, rejects, or asks for modifications. Was this part of what you were envisioning?

[2019-01-12 19:30] scco commented on #3222
xmen gitbot series - professor x
https://github.com/scco/gitcoin/tree/master/xmen

[2019-01-12 20:07] thelostone-mc commented on #3222
@scco Oh the wolverine looks prudy raad :D

[2019-01-12 20:18] thelostone-mc commented on #3497
@owocki this is being tracked here https://github.com/gitcoinco/web/issues/3502

[2019-01-12 20:19] thelostone-mc commented on #3502
@mul1sh / @pinkiebell  would you be up for, I'd be happy to set up a bounty

More info over at https://github.com/gitcoinco/web/issues/3497

Steps:
- create a new state reserved
- update front end and email template to show reserved bounty to the reserved user only

cc @owocki

[2019-01-12 20:21] #3497 closed

[2019-01-12 22:01] kuhnchris opened #3521 "[LOW][ADMIN][KUDOS] self.usernameusername"
**Describe the bug**
Within administration, checking a KudosTransfer you are prompted if that is for bounty fulfillment. It then references to self.usernameusername.
**To Reproduce**
Go to _administration/KudosTransfer/

**Expected behavior**
Not sure. At least not "usernameusername"

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/51078936-fc5b9080-16bd-11e9-8ec1-a03fdec

[2019-01-12 22:03] kuhnchris commented on #3436
"Button->Coder" prolly could work via ServiceDesk/HelpDesk as first level (e.a. evaluating Kevins Range from No to Fuck yes), and from there either branch to Slack/Discord (No-path), known devs directly (Yes) or Core-Team/selected high value members (Fuck yes).

[2019-01-12 23:13] kuhnchris commented on #3519
Actually, if we already propose changes to that: please unify all the css into a single directory (assets/css/ for example) and then give them matching names. Also, only load the matching CSS files that are neccessary. Use a {% block style %} where we put it into the proper style-place within <head> instead of just throwing them in at random points.
it's fine to have multiple css per module/app/<u

[2019-01-12 23:14] kuhnchris commented on #3514
That, and maybe a category like "Open-Source Bounty Platforms"

[2019-01-13 10:19] thelostone-mc commented on #3388
@djosey we've added the checks in & have a PR out for it ^_^

<img width="1440" alt="screen shot 2019-01-13 at 3 45 50 pm" src="https://user-images.githubusercontent.com/5358146/51084102-bbf62400-174a-11e9-8289-be78229c274d.png">

[2019-01-13 16:49] #3246 closed

[2019-01-13 16:49] #3247 closed

[2019-01-13 16:49] #3125 closed

[2019-01-13 19:13] frankchen07 commented on #3439
same I will also note that my response is limited by my knowledge of graph analysis as well - you're not far off with your three points above, but it can't hurt to learn more. I only have a passing familiarity.

 I think as we move forward with a bi-weekly data sync, the things you've shared with me (NFX articles, Andrew Chen network effects), could be a good summary knowledge and applicability sh

[2019-01-13 19:15] frankchen07 commented on #2898
@aashutoshrathi - yes, it shouldn't change the scope or nature of the ask though. Let me know if you need anything else!

[2019-01-13 19:17] frankchen07 commented on #3514
@jschiarizzi - yeah as far as I understood it - we want Gitcoin links on wikis similar to https://en.wikipedia.org/wiki/Open-source_bounty, not necessarily a wiki page for Gitcoin itself. These series of SEO tickets will be up for discussion with Marc Beharry to hash out specifics (although I'd say it's fairly specific, it just needs people to reach out to various wikis and form relationships).

[2019-01-13 22:43] owocki opened #3522 "As a user who wants a coder, I want to use a data science tool called "Cerebro" to find all the coders, so I can source the best ones."
See this document for specification https://docs.google.com/document/d/12-A8NabEJYzJqJtnHcG4ki1jAJ_K_OM8K_IAGbD8V7Y/edit#heading=h.2x51ln6zy92z

[2019-01-13 22:44] owocki commented on #3439
Just wrote up a new ticket that takes a more first principles approach to this  https://github.com/gitcoinco/web/issues/3522

[2019-01-13 23:08] owocki commented on #3197
Do you even need to hit web3py?  You should have everything u need from the KudosTransfer objects in our DB..

No it doesnt, we'll have to create a flag on `BulkTransferCoupon` to allow Kudos to be created which have no to_username.

Please no.. We could just add support for the above flag on the current one.

[2019-01-13 23:11] owocki opened #3523 "as a gitcoin marketer, i want to implement consensys email marketing best practices, so im sure im doing the best to reach our audience"
https://docs.google.com/document/u/1/d/1Qw2y9Xc67PmR43ChlKmM_sChQtuTMdCx8RAhtejhAmk/edit

[2019-01-13 23:12] ceresstation opened #3524 "Increasing gas cost causes grant submission to fail"
**Describe the bug**

A grantee opted to increase the gas price on their transaction, overriding the initial transaction, which caused the grant not to go through. The window was kept open until the transaction completed. Tx can be found below.

https://etherscan.io/tx/0x8686cd8a539cebd925d8776a4c7284fc71ed43a5bf32d9098361619ae7a5ae3a

**To Reproduce**

Submit a grant but opt to increase the gas c

[2019-01-13 23:24] owocki opened #3525 "As a user, I want to give Gitcoin basic information that will help me be hired, so Gitcoin can match me with hirer."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to give Gitcoin basic information that will help me be hired, so Gitcoin can match me with hirer.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Rig

[2019-01-14 01:11] kuhnchris commented on #3197
That's what I thought. But upon investigating and checking the KudosTransfers in my Rinkeby Test System we do not have a reference to the target eth address, just the "to profile". (the sender address is filled, but the receiver is always empty...) Hence I do not think we have any Kudos Object in the database that did not come from the gitcoin app. That also poses the problem if people would ever

[2019-01-14 06:18] SaptakS commented on #2200
@PixelantDesign @mul1sh As far as I can see you just created an html showing the UI given by @vs77bb . @mul1sh ideally, you needed to add this bit into the `waiting_state.html` file. Also a question for @PixelantDesign @vs77bb @willsputra. Would it be a better UX to put a share button on the bounty details page as well and putting this same UI on a modal? Given that the waiting state might not sta

[2019-01-14 10:13] PixelantDesign commented on #2200
That works for me....@willsputra?

[2019-01-14 11:12] SaptakS opened #3526 "Tech Debt: As a maintainer I would want all try blocks to have an accompanying except"
In the `try-except` block, the except ensures that we are catching the exception and logging it to the error.log file so we can later check for an error due to a particular request and debug accordingly. Without an except block, even with an error, the code runs perfectly, without logging any error.

So, as a maintainer I would except every `try` block to have an accompanying `except` block loggin

[2019-01-14 11:22] SaptakS opened #3527 "SUBTASK #3450 BUILD Inviting Specific Gitcoiner to Work"
### Description

Refs: #3450
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] Add ManyToMany field in Bounty model linking to the profiles invited for a particular bounty.
- [ ] Provide API to send request for saving invitees
- [ ] Creating unique shareable links for bounties

### Additional Information
[comment]: # (Any

[2019-01-14 11:31] aashutoshrathi commented on #2898
Sure.
I'll send PR for the same ASAP.

[2019-01-14 12:32] #3503 closed

[2019-01-14 14:39] willsputra commented on #2200
@PixelantDesign @SaptakS works for me too. isn't that part of #3450 though? sharing in bounty detail page.

[2019-01-14 14:42] PixelantDesign opened #3529 "As a contributor I'd like to be able to notified when a new issue is available from a specific project."
### User Story
It takes time to ramp up on a new project. I personally would like to be able to get notify when a new issue is available from a few specific projects that I've already worked on in the past.

[2019-01-14 16:19] austintgriffith opened #3530 "Private Grant Funding"
We should allow people to drop in private funding for a grant without their github or any other profile being publically visible.

I think if we could add a new button next to "Fund the Grant" that is "Privately Contribute" or something like that we could increase funding!

[2019-01-14 17:28] kuhnchris opened #3531 "Security alert - upgrade django to 2.1.5"
See attached:
![image](https://user-images.githubusercontent.com/761911/51129238-3c3f8680-182a-11e9-85fa-7750e6bc3fe0.png)

[2019-01-14 18:35] #3494 closed

[2019-01-14 18:37] frankchen07 commented on #3520
I think it's a great revenue test. It also may address an issue of "not enough documentation or guidance" that we've been hearing from contributors. The concept reminds me of LinkedIn examples of "100% profile complete = more people seeing your profile," so if you have Gitcoin vetting your projects, it gets more visibility.

My concerns is that this introduces us into a consulting / review (like s

[2019-01-14 19:03] owocki commented on #3530
@austintgriffith you said this customer would want to have their grant be anonymous right?  how much in funding is attached to this request? (this will help us prioritize)  would it be acceptable if they disclosed their identity to us, and we just hid the info?  or does it need to be actually anonymous to gitcoin?

cc @PixelantDesign @frankchen07

[2019-01-14 19:37] owocki commented on #3197
In the kudos airdrop, the user has to input their web3 address and submit it to `kudos.views.receive_bulk`.  why dont we just store it (either in a new field on KudosTransfer, or in the `kudostransfer.metadata` JSON blob?)

The nice thing about the spec for the set completion game is that only Kudos from Gitcoin itself actually count :)  No 3rd party trading / transfering of Kudos allowed!

Lets a

[2019-01-14 19:51] captnseagraves commented on #3337
@kuhnchris @thelostone-mc Still experiencing this issue.
![screen shot 2019-01-14 at 12 43 37 pm](https://user-images.githubusercontent.com/22862292/51137002-0f27af80-17fb-11e9-9845-af35644d909e.png)

[2019-01-14 20:38] vs77bb commented on #3472
Looking forward to what you come up with, @arku!

[2019-01-14 20:44] vs77bb opened #3533 "Gitcoin Applications"

[2019-01-14 20:45] vs77bb commented on #2895
Appreciate the interest everyone -- @iamonuwa has been chosen to work on this issue for now. Be on the lookout for more issues which we'll be posting shortly for work on Gitcoin!

[2019-01-14 20:55] vs77bb opened #3534 "E-Mail / Notification Stopping Malicious Gitcoiners"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I'd like a notification / email to remind me to 'Stop Work' on a hunter or otherwise check-in if I haven't heard from them within three days of starting the issue.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you w

[2019-01-14 21:06] vs77bb commented on #1179
@PixelantDesign are we still doing this task? Or should @owocki pull back the funds for it?

[2019-01-14 21:20] kuhnchris commented on #3197
Hmm, just checked - that seems possible.
I just checked the kudos.views.receive_bulk, we prolly need to copy that, as there are many checks in there that may hinder us. (especially all checks against request.user)
I'll copy that function into the ethdenver event app for now and we'll roll with that. The flag makes sense. Either I check against the customizing table if it's one of the "ethdenver" k

[2019-01-14 21:39] owocki opened #3535 "as a grant user, i would like to have the grant index have different tabs, so i can scale how grants are displayed on the homepage"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant user, i would like to have the grant index have different tabs, so i can scale how grants are displayed on the homepage

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2019-01-14 21:42] vs77bb commented on #2120
Still happening: https://github.com/status-im/status-react/issues/7076

[2019-01-14 23:55] owocki commented on #3327
this landing page looks great!

[2019-01-15 02:55] ryan-shea commented on #2808
Hey @frankchen07, looks like this one is ready to be reviewed!

[2019-01-15 02:56] ryan-shea commented on #2370
@owocki looks like this one is ready to be reviewed :)

[2019-01-15 02:57] ryan-shea commented on #2125
@vs77bb @owocki not sure what the status is on this one !

[2019-01-15 03:13] arku commented on #3472
@captnseagraves How do I go about importing grants to the database?

I looked at the contributor documentation but couldn't find it.

[2019-01-15 15:12] vs77bb commented on #3447
@safaci2000 Do you want to give this a go? The biggest dependency is stopping the server timeout for image uploading, per @ryan-shea's comment above. The Markdown support is a nice to have which we'd appreciate.

There's a timeline of **4 days** to get this done (EOW), for us to stay on pace for our current sprint. Let me know if that's an issue!

[2019-01-15 15:28] #3286 closed, assigned to thelostone-mc

[2019-01-15 15:31] owocki commented on #3388
we dont support ETH as it is not an ERC20 token and we need ERC20 support for EIP 1337.

the workaround is using WETH https://github.com/gitcoinco/web/issues/3412

[2019-01-15 16:03] owocki commented on #3472
just create your own grants on rinkeby, there is no import from the blockchain like there is for bounties.

[2019-01-15 17:01] michaelsena commented on #3121
Hey @kuhnchris just following up here to check in on the latest. Lmk 👍

[2019-01-15 17:42] owocki opened #3538 "as a grant funder, i want to only conditionally fund a successful grant, so i can be sure my money wont go to waste"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant funder, i want to only conditionally fund a successful grant, so i can be sure my money wont go to waste

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Sco

[2019-01-15 18:02] mbeharry commented on #3511
It may not be possible to eliminate all errors but should try to kill some of them.

[2019-01-15 18:33] kuhnchris commented on #3121
Hey there @michaelsena ! Thanks for checking in, we are currently land-under with the preparations for ETHDenver. As soon as I got that one out I will let you know! ;-)

- Chris

[2019-01-15 18:57] thelostone-mc opened #3539 "discuss: grant home page [ filtering ]"
#### Description

When we open grant to public, we may have individuals coming over and creating a grant for themselves. If we end up having a lot of grants being created , would the A grade grants be pushed down?

#### Potential solutions

- Create tagging experience for grants. This would make it easier to search
- Do we classify grants into buckets? ( Based on org/individual, verified/unverfied

[2019-01-15 20:06] owocki commented on #3539
i like the tagging direction

[2019-01-15 20:42] Nnooo commented on #3222
Hi @owocki I’ve sent you both an email. In the meantime is there anything you’d like me to get started with?

[2019-01-15 21:13] nanspro commented on #2899
@frankchen07
Meta tags such as title and description are already there in bounties page.
Ex: https://gitcoin.co/issue/Uniswap/uniswap-api/2/2125
![screenshot_2019-01-17 screenshot from 2019-01-17 02-35-42 png png image 1920 x 1080 pixels - scaled 86](https://user-images.githubusercontent.com/24641089/51210240-49e33200-1938-11e9-9504-aa91e5b8eeaf.png)
Are you suggesting to change the current format

[2019-01-15 21:40] owocki commented on #3222
im down to keep working on some bots; also https://github.com/gitcoinco/web/issues/3487 would be a good one to start on. i dont know if @PixelantDesign thinks we need design unification at this point at all; defer to her on that

[2019-01-15 22:18] djosey commented on #3388
Oh ok I see.

[2019-01-15 22:18] #3388 closed

[2019-01-15 22:40] kuhnchris commented on #3427
Hi there Kevin!

After much brain breakage and whirling around I got the following:
![screencast 2019-01-15 23-32-00](https://user-images.githubusercontent.com/761911/51214421-24e1c580-191e-11e9-8de4-949c4daa2fc1.gif)

❓ Now - this poses another problem - for the Set Challenges page we do not have a profile for that user, hence no name and no icon as requested in the mockup above. So... what to pu

[2019-01-15 23:06] owocki commented on #3487
adding a little more ETH to this.. excited to see what people come up with!

[2019-01-15 23:38] PixelantDesign commented on #3222
Unification is always good!

@Nnooo I replied to the email. Feel free to hit me up on slack and we can talk more about projects! Would love to see robot ideas you have!

[2019-01-16 00:19] arku commented on #3472
@owocki I have submitted a [PR](https://github.com/gitcoinco/web/pull/3542) fixing this issue. But I am unable to submit work on Gitcoin. Take a look when you get a chance.

![image](https://user-images.githubusercontent.com/7039523/51218417-53e64000-18fa-11e9-80c5-ee408dc89c48.png)

[2019-01-16 00:39] octavioamu opened #3543 "sitemaps upgrade"
**Describe the bug**

Add missing urls to sitemap
- grants (each) #3090
- labs each link
- wagtail #3268

[2019-01-16 01:17] willsputra commented on #3506
Adding job-related information on contributor onboarding:

Default:
![jobs_default](https://user-images.githubusercontent.com/19514207/51220223-4fa83a00-196f-11e9-977b-f9300214bc29.png)

Dropdown expanded:
![jobs_dropdownexpanded](https://user-images.githubusercontent.com/19514207/51220224-5171fd80-196f-11e9-8016-a9c930699498.png)

Thoughts? @PixelantDesign @octavioamu @SaptakS

I’ll explore where

[2019-01-16 01:41] owocki commented on #3472
that screenshot shows your old username... this was taken today?

[2019-01-16 01:57] owocki commented on #3427
lets just put a blockie there for now.

sounds great

❓ @owocki i cannot get for the life of me the Kudos Contract working on my own test net. I managed to deploy it, but the kudos receive page and pretty much any other page, plus deploying/minting kudos fails with the request to either use Rinkeby or (basically) GTFO. :-( Can we make a test-run on rinkeby, do you have a contract we could use to p

[2019-01-16 07:31] thelostone-mc opened #3544 "BUILD Reserve Bounties Improvements"
##### Description

As of now, a funder can come reserve a bounty for a user `X` while creating a bounty `/new`.
The created bounty is reserved for `X` for upto 72 hours during which only he can start work on it.
After that -> the issue is no longer reserved and is open to everyone to work on.

PR where it was built out: https://github.com/gitcoinco/web/pull/2950

###### Issues

- Right now, a rese

[2019-01-16 07:54] thelostone-mc commented on #3543
Fixed at https://github.com/gitcoinco/web/pull/3541

[2019-01-16 08:08] PixelantDesign commented on #3544
If the funder has reserved it for a contributor, we would undo the reserved feature after 72 hours?

[2019-01-16 08:12] thelostone-mc commented on #3544
@PixelantDesign Yes, the code snippet which does that is mentioned in the description ^_^

[2019-01-16 08:18] PixelantDesign commented on #3544
My recommendation is to add a checkbox and let the user opt into the 72 hour realse.... instead of make assumptions that users would want it undone when they’ve clearly set it to reserve.

[2019-01-16 08:35] thelostone-mc commented on #3544
@PixelantDesign Updated the ticket. Freezing the scope for this ticket. 🙌

[2019-01-16 09:50] PixelantDesign commented on #3327
@vs77bb please add info you'd like on Gitcoin Requests on this thread.
@thelostone-mc @SaptakS looking to you both on a recommendation on bounty vs building in house given this has some navigation changes. Please let me know by end of day Thursday 1/17 Thanks!

[2019-01-16 10:06] PixelantDesign opened #3545 "BUILD New Gitcoin.co Home Page"
### User Story
As a current or potential funder, I'd like to have an understanding of Gitcoin's product offerings and how it can help my workflow.

As a current or potential contributor, I'd like to have an understanding of Gitcoin's product offereings and see where I can contribute or find work on this platform.

### Problem to be Solved
Our current homepage isn't representative of our product of

[2019-01-16 10:15] PixelantDesign opened #3546 "BUILD Update Gitcoin.co Nav"
### User Story
As a funder I want to have simple navigation choices presented so that I can find what I'm looking for on Gitcoin.

As a contributor, I want to be able to navigate my way around the site without feeling overwhelmed at the options.

### Problem to be Solved
Currently there are a lot of nav items, wed like to group them and provide less choices for a user navigating their way through

[2019-01-16 10:23] SaptakS commented on #3327
I would be up for bountying since this has mostly frontend changes and doesn't affect other pages.

[2019-01-16 11:55] abitrolly commented on #3447
What does CPA means in this issue?

[2019-01-16 13:31] octavioamu commented on #3543
@thelostone-mc notice I just fixed somethings and created this task for the missings things we need to do in the sitemaps . I will reopen it maybe good for bounty.

[2019-01-16 14:10] thelostone-mc opened #3549 "bug: crowdfunded contribution not showing up"
#### Description

[code]

Looks like a crowd-funded contribution was added by @Anish-Agnihotri   + @vs77bb.
The one made my vivek is not accounted for on the bounty detail activity but does not reflect on the amount

Gitcoin Issue:  https://gitcoin.co/issue/gitcoinco/web/2404/1415

cc @usmanmuhd

[2019-01-16 14:48] thelostone-mc commented on #2404
Closing this out as we've got the base PR in

[2019-01-16 14:48] #2404 closed

[2019-01-16 15:00] SaptakS commented on #3506
@willsputra looks good to me.

[2019-01-16 16:05] owocki opened #3551 "test issue for demo purposes."
this is a test issue for demo purposes.

please disregard this scope.

[2019-01-16 16:38] #3551 closed

[2019-01-16 17:21] owocki commented on #3549
The reason the crowdfund doesnt show on the bounty is that the the txid for the crowdfund contribution dropped

https://etherscan.io/tx/0x1e3b70cca385e410671ae53f9c023d8e98aafa408c1ec45965084678dec3a53c

cc @vs77bb  since this was your crowdfund contribution

https://github.com/gitcoinco/web/issues/2404#issuecomment-428680871

[2019-01-16 17:23] owocki commented on #3449
Notes from call with Solutions:

    - Most NDAs would have to be client approved (so having the ability to manage / upload multiple NDAs is key).
    Two parties sign off any candidate before they have access. They’d need client sign off for each candidate.. Jon was saying we should use a multi-sig, but that sounds a little complicated to me..

[2019-01-16 17:40] owocki commented on #3447
cost per acquisition.  how much does gitcoin pay to get a new coder in the door?

[2019-01-16 17:52] octavioamu opened #3553 "Standardized forms elements"
Forms elements are different styled in some areas (example fund issue) We need to keep our ui components the same

[2019-01-16 17:53] octavioamu opened #3554 "Update bootstrap to the new version"
A few improvements were made in the new version, shouldn't bring any issue to update it. Read more in https://blog.getbootstrap.com/

[2019-01-16 18:16] octavioamu commented on #3449
could be a v1 just manual approval? so people just send the doc and when everything is ok the funder let the user access?

[2019-01-16 18:19] abitrolly commented on #3447
I don't understand how Medium increases the cost.

[2019-01-16 18:39] owocki commented on #3447
any of the SEO traffic from the content we write that goes to medium doesnt go to our site.  we'd rather capture the SEO traffic on our site, where we have an opportunity to upsell visitors to become users.

this is why the content migration will lower our CPA

[2019-01-16 18:55] kuhnchris commented on #3427
That... did not really work out the way I intended it to. Lemme rephrase my questions:
- Name/Icon => I'll put a (ethereum/blockie) there.
- Automatic redirect => Shall we stay until the user presses "Get Started"?
- KudosContract => No, does not help, as I need a private_key, so I need to deploy it myself. The problem is that I cannot test the redeem page as it 501 Internal Errors me because the

[2019-01-16 23:47] owocki commented on #2370
thanks.. looking now

[2019-01-17 01:31] octavioamu commented on #2390
For V1.1
We need to handle USD/DAYS from admin

"As a Gitcoin admin I want to have a place where I can change the days and value of featured bounties"
Also if the admin change the price / days this shouldn't affect the bounties already featured.

[2019-01-17 04:19] Anish-Agnihotri commented on #3546
Are we keeping the same design for the mobile menu (since responsiveness is important)? Just wondering since there wasn't a revised/attached design for that.

![mobile](https://user-images.githubusercontent.com/4398624/51295347-3346e480-19e5-11e9-9843-e6e2e01220b6.JPG)

[2019-01-17 05:54] thelostone-mc commented on #3549
Closing this out !

[2019-01-17 05:54] #3549 closed

[2019-01-17 05:58] thelostone-mc commented on #3543
Part of this is addressed https://github.com/gitcoinco/web/pull/3138
@kuhnchris would you up for adding the sitemap for labs + wagtail into your PR ?

[2019-01-17 05:59] thelostone-mc commented on #2534
It was probably a sync issue !

[2019-01-17 05:59] #2534 closed

[2019-01-17 07:39] thelostone-mc commented on #3531
Closed in https://github.com/gitcoinco/web/pull/3532

[2019-01-17 07:39] #3531 closed

[2019-01-17 14:22] willsputra commented on #3506
how it looks like in Manage Settings...

![jobs-edit](https://user-images.githubusercontent.com/19514207/51324648-39e96080-1aa6-11e9-8d49-d38c2671852d.png)

and in Profile

![job-profile](https://user-images.githubusercontent.com/19514207/51324646-3950ca00-1aa6-11e9-8b66-e71a09856140.png)

question: should we put type of work, region, and compensation in the onboarding flow too? @PixelantDesign

[2019-01-17 15:00] PixelantDesign commented on #3469
@frankchen07
@thelostone-mc and I looked at the description and this part is unclear:

At the end of a successful bounty completion, send an email or surface a modal asking if the funder would be interested in funding additional related work on the same project on Grants after paying out the contributor who most recently helped them with that project.

[2019-01-17 15:40] usmanmuhd opened #3556 "bug: crowdfund contribution not received"
There were 2 crowdfunding on the bounty. The error in first crowdfunding was pointed out in #3549 . @PixelantDesign paid out the bounty. I did not receive the 2nd crowdfunding as well.
Gitcoin Issue: https://gitcoin.co/issue/gitcoinco/web/2404/1415

[2019-01-17 15:50] PixelantDesign commented on #3508
**Team Review**
- Show  4.5 cards
- Make cards smaller
- Make fonts smaller
- max 2 lines
- decrease gutter between cards
- Octavio fix scrolling, scroll to top, moves horizontal
- Form - looks great!

[2019-01-17 16:03] PixelantDesign commented on #3450
Team Review
Will to look at Kudos Share.

[2019-01-17 16:06] owocki opened #3557 "As a founder, I'd like to fork StandardBoutnies and add revenue features, so I can make $$, so I can sustain Gitcoin"
### Outstanding Questions / Strategy

btw the fees involves 3 steps  -
1. enabling Gitcoin to support multiple contracts (Aditya)
2. getting the new contract
3. wiring it up (Aditya)

@frankchen07 to confirm strategic discussion.

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a founder, I'd like to fork StandardBoutnies and add revenue features, so I can make

[2019-01-17 16:06] owocki commented on #3557
Related to https://github.com/gitcoinco/web/issues/3510

[2019-01-17 16:16] owocki commented on #3556
looking at our backend, crowdfund distributions are sent out every 8 hours. let me run this job real quick

[2019-01-17 16:19] usmanmuhd commented on #3556
Yes, thanks for the payout. I did not know that crowdfunds were paid out every 8 hours. @PixelantDesign told me to open an issue, so I did :)

[2019-01-17 16:20] owocki opened #3558 "sentry not logging management command exceptions"
just ran the `send_tips_for_bounty_fulfiller` mgmt command in prod, and this exception was generated.

[code]

i should see something in the sentry (either the webhook or backend) when this happens

[2019-01-17 16:21] #3556 closed

[2019-01-17 17:26] owocki commented on #3506
Yes those requirements are captured in these tickets

https://github.com/gitcoinco/web/issues/3382
https://github.com/gitcoinco/web/issues/3525

Maybe we should fold them into one UI?

[2019-01-17 17:47] frankchen07 commented on #2899
hey @nanspro - I did a spot check on a couple and see what you mean.

Is there any kind of automation test that can be written to ensure that they are actually all there for each and every bounty/issue page (or perhaps you already did this in order to check).

If that is already done, then updating the audit sheet would be all that's left!

[2019-01-17 17:59] owocki commented on #3337
785bb1f949e4f6b1a482210a7b782a754049954c fixes this

http://bits.owocki.com/2aa4dd6993f2/Screen%20Shot%202019-01-17%20at%2010.58.34%20AM.png

[2019-01-17 18:00] #3337 closed

[2019-01-17 18:05] frankchen07 commented on #2898
@aashutoshrathi thanks for picking up this bounty. We're almost there!

I did some spot checks - I saw that https://gitcoin.co/gas/faq doesn't have a `meta title` entry.

Is there an automated way to ensure that each page does indeed have the title and meta description filled out?

[2019-01-17 18:12] owocki commented on #2469
code LGTM ;; @mkosowsk could you issue payment to @FrederikBolding pls?

[2019-01-17 19:04] owocki opened #3559 "as a user, i want to see who is lurking on my profile, so i can know who is interested in me, so i can build a professional relationship"
### User Story

As a user, i want to see who is lurking on my profile, so i can know who is interested in me, so i can build a professional relationship.

### Why Is this Needed

We've received feedback from funders about the quality of developers, and finding the right talent to work on issues. We can extrapolate this kind of "seeking" behavior into the future, as both funders and contributors al

[2019-01-17 19:18] PixelantDesign commented on #3559
Cool. This seems like it could apply to both sides of the market.

[2019-01-17 20:02] aashutoshrathi commented on #2898
Should I add meta tag to that page in another PR?

[2019-01-17 20:45] PixelantDesign opened #3560 "SUBTASK #3114 Build Checkboxes to Signal Job Hunting & Display on Profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a 'im looking for a job' field in onboarding, so i can signal i want a job

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

gitcoin is a great place

[2019-01-18 07:53] nanspro commented on #2899
`<meta name="title" content="{{ card_title }} Bug Bounty | Gitcoin">
 <meta name="description" content="{{ card_desc | truncatechars:200 }}">`
I guess you are suggesting a test where we check if they(meta tags) are present or not? This is hard-coded in `details.html` and hence every bounty page must have these tags.

There is no automation test particularly for checking if tags are present but the

[2019-01-18 17:17] nanspro commented on #2899
@frankchen07
Everyone doesn't need to go and check every bounty page because it is hard-coded so if it is rendered correctly on one page then it will render correctly for other bounties also (if the value of title is not same then there are test cases which will fail automatically).
We can easily write a test case by using beautiful soup and to check presence of tags but this kind of tests i have

[2019-01-18 17:22] owocki commented on #3222
request from the gitcoin team: a gitcoin robot unicorn

[2019-01-18 17:28] owocki commented on #1967
todos q1 2018:
- add latest Wyre API docs
- should this be a premium feature that we charge for?
- should we add to gitcoin grants CLR as sybil resistence?

[2019-01-18 17:31] vs77bb opened #3561 "S3 Image Loading Issue (Wagtail Integration)"
**Describe the bug**
Our Wagtail Integration (at gitcoin.co/cms) is functional, but is having issues with handling images. We believe this has to do with S3 bucketing on our production servers, which needs to be set up properly for Wagtail on prod.

**To Reproduce**
On https://gitcoin.co/cms/, attempt uploading an image. Will receive a timeout (502 Bad Gateway).

For Wagtail's code: Visit `wagtail

[2019-01-18 17:59] aashutoshrathi commented on #2898
Sure sending quick one.

[2019-01-18 19:32] PixelantDesign opened #3565 "Q1 Green Team Initiatives"
## [Notifications](https://github.com/gitcoinco/web/issues/2404)
Get on staging and release

## [Featured Bounties](https://github.com/gitcoinco/web/issues/2390)
Sprint 1   Build front end, build backend, design form, allow for editing on edit bounty.
Sprint 2  Add to funded issue email confirmation that the bounty has been featured.

## [Encourage Bounty Social Sharing](https://github.com/gitcoin

[2019-01-18 20:16] vs77bb commented on #3561
@mukulverm4 Glad to have you here. Please let me know if you have any questions as you debug. cc @SaptakS

[2019-01-18 23:04] #3243 closed

[2019-01-18 23:04] #3242 closed

[2019-01-18 23:06] captnseagraves commented on #3257
@thelostone-mc Good to close? I believe you PR got merged yeah?

[2019-01-18 23:07] captnseagraves commented on #3100
I have fixed this issue by passing through a csrf token

[2019-01-18 23:07] #3100 closed

[2019-01-18 23:09] captnseagraves commented on #3090
@kuhnchris @owocki What is the status of this issue?

[2019-01-18 23:11] #3248 closed

[2019-01-18 23:13] captnseagraves commented on #3275
@thelostone-mc This issue is addressed in your recent PR yeah?

[2019-01-18 23:13] captnseagraves commented on #3301
@thelostone-mc This issue is addressed in your recent PR as well yeah?

[2019-01-18 23:16] #3220 closed

[2019-01-19 00:51] NukeManDan opened #3568 "Issuing Kudos without unlocked metamask"
**Describe the bug**
I have a very soft warning on the top bar that indicates I need to unlock metamask. As a user I missed this and filled out all fields, then on unlocking I loose all entered data.

**To Reproduce**
https://gitcoin.co/kudos/send/
Just don't unlock metamask

**Expected behavior**
Before I can do anything, I should be strongly prompted to unlock metamask
OR
On unlock the fields po

[2019-01-19 00:51] NukeManDan commented on #3568
Other pages that need a submission might also have this? I have not tried yet.

[2019-01-19 01:17] NukeManDan opened #3569 "Sent Kudos to github user not on gitcoin, now it is not shown."
**Describe the bug**
Sent a kuos in tx: https://etherscan.io/tx/0xe4a93002937a30a905b00698fc7cc400caa31a2f750f0764f0a98f56120c7b09

**Screenshots**
Sent from me (https://gitcoin.co/profile/@nukemandan) to https://gitcoin.co/profile/@csillabrimer

![image](https://user-images.githubusercontent.com/35669742/51420123-e8e07780-1b4c-11e9-86fa-736d2e6f01d4.png)

But her profile does _not_ show the kudos

[2019-01-19 01:18] NukeManDan commented on #3569
She signed up on gitcoin after I set it.

[2019-01-19 09:02] PumpkingWok commented on #3164
Hi @owocki.
I have another example for you.
I have just redeemed the new `Moksha` kudos.
![screenshot 2019-01-19 at 09 56 48](https://user-images.githubusercontent.com/2848253/51424640-bd06d580-1bd0-11e9-8461-30ae0495685b.png)

Unfortunately the txid does not exist, I have not pending transaction in my address.
Right now i can see it only in my profile but i think that it will disappear shortly.
T

[2019-01-19 17:45] octavioamu commented on #3568
In general I would recommend just don't refresh the page, metamask have listener so when access is given check the eth address and all needed data without reload the page.

[2019-01-19 17:48] octavioamu commented on #3569
@csillabrimer please check if you got "claim kudos" button in the dropdown
![image](https://user-images.githubusercontent.com/1358093/51430373-b5abf000-1c01-11e9-86c9-d666d5db6375.png)

[2019-01-20 00:18] kuhnchris commented on #3427
Hi there,

some touch-ups:
![image](https://user-images.githubusercontent.com/761911/51433650-caaf7000-1c4f-11e9-9b7f-5ccae1e37160.png)
Error message now via _alert.

No auto-redirect, redirect now only via "Get started" - with blockie generated from the address.
![image](https://user-images.githubusercontent.com/761911/51433711-fed76080-1c50-11e9-890a-7bf55f3d59e1.png)

Regarding Kudos Contract:

[2019-01-20 17:46] ceresstation opened #3570 "Some images not uploading for Gitcoin Grants"
**Describe the bug**

In some cases image uploads are failing on Gitcoin Grants. For example, POA tried to upload an image for this grant https://gitcoin.co/grants/35/blockscout-blockchain-explorer-for-inspecting-and but the default image still displays.

**To Reproduce**

Create a grant and upload any jpg image, in the case above it was a ~450 x 350 image as shown below.

https://gyazo.com/9bf4c0

[2019-01-20 18:57] owocki commented on #3370
infura will start prioritizing keys on january 23rd per https://blog.infura.io/infura-dashboard-transition-update-c670945a922a -- @kuhnchris where does this fall on your priority list?  would love to get it moving, but i dont have visibility on what else is going on!

[2019-01-20 19:19] owocki commented on #3427
Yep

I dont think theres one big winner.  Just everyone who gets to the "collected all kudos" steps wins a keep key kudos and a keep key.

[2019-01-20 19:21] owocki commented on #3427
Any luck with the instructions I provided in https://github.com/gitcoinco/web/issues/3427#issuecomment-454983361 ? theres def a kudos contract on rinkeby.. so i'm pretty sure this could work.

otherwise, i can test myself on my local once there is a PR that's ready!

[2019-01-20 19:42] owocki commented on #3450
I like the idea of giving out the bot kudos.  Alternatively we could just make a special kudos for people who have invited friends.

I like this!  CTA buttons on the right makes intuitive sense to me :)

[2019-01-20 20:03] owocki commented on #3164
thanks @PumpkingWok c1c8819d5020e60476a90df2d31fc8eb8572d696 will fix this root cause.

meanwhile, ill make sure that kudos stays on ur profile

[2019-01-20 21:51] kuhnchris commented on #3370
If you are fine with the ETHDenver changes I can start right away. I'm currently setting up testing structure so gitcoin members can test the PRs that are pending, aside from that we can prioritze that ASAP so we do not halt! No previous work from mbeacom here, right?

[2019-01-20 22:50] NukeManDan commented on #3569
@csillabrimer Looks like it worked!

[2019-01-20 22:52] NukeManDan commented on #3569
I don't see it on your profile actually @csillabrimer

[2019-01-20 22:53] NukeManDan commented on #3568
The page automatically reloads. I am using Brave Version 0.57.18 Chromium: 71.0.3578.80 (Official Build) (64-bit) on Ubuntu.

[2019-01-20 22:54] kuhnchris commented on #3427
oh? I thought there was 1 keep key only for 1st place? my bad! Then I'll add a crontab job to the PR and let you know when it's ready to test. Should be by either end of monday GMT or later today.

Thanks!
Chris

[2019-01-20 22:55] kuhnchris commented on #3427
Haven't tried it yet as I focus on the other things TBH. But i'll test it very soon as I will try to pull up a testrpc on my new VM so we can test easily without having to resync again and again from infura.

[2019-01-20 23:51] Nnooo commented on #3449
Hey @owocki and @PixelantDesign I am about to start looking at this issue that ok?

[2019-01-21 01:04] Nnooo commented on #3222
Sorry if this is a dumb question. Is there an easy way to see which ones have been done?

[2019-01-21 03:18] owocki commented on #3427
yeah they're giving out a few hundred keep keys :)

cool keep me posted.

[2019-01-21 03:19] owocki commented on #3370
ETHDenver is getting there.. Would like to get feature complete soon.

Nothing we can use I'm afraid.  Let us know what this is shaping up to look like!

[2019-01-21 03:21] owocki commented on #3569
https://gitcoin.co/profile/csillabrimer

try now!

[2019-01-21 03:21] owocki commented on #3569
we should keep this issue open tho; need to fix the root cause

[2019-01-21 04:46] Nnooo commented on #3449
![gitcoin_3449_wireframes_fundissue_create_spacingissues](https://user-images.githubusercontent.com/3150525/51453315-a8197600-1d79-11e9-8894-31c14b154b60.png)

I have started mocking this up today.

Firstly I would like to recommend that I spend some time fixing up the spacing of the existing sign up page (see enclosed image). As you can see there are a lot of inconsistent spaces which makes the s

[2019-01-21 05:40] Nnooo commented on #3449
![gitcoin_3449_wireframes_fundissue_create_spacingcomparison_01](https://user-images.githubusercontent.com/3150525/51454849-c71c0600-1d81-11e9-8eea-a2602a46241e.png)
![gitcoin_3449_wireframes_fundissue_create_spacingcomparison_02](https://user-images.githubusercontent.com/3150525/51454850-c71c0600-1d81-11e9-99bb-a16a47fdc8f0.png)

These two images demonstrate the difference. You can see in the lef

[2019-01-21 09:54] PumpkingWok commented on #3164
Hi @owocki,
Great, thank you very much !!

[2019-01-21 09:59] aashutoshrathi commented on #2898
@frankchen07 Check #3564

[2019-01-21 10:56] thelostone-mc commented on #2895
Good for payout ! Thanks @iamonuwa

[2019-01-21 10:56] #2895 closed

[2019-01-21 10:57] #3257 closed

[2019-01-21 10:58] thelostone-mc commented on #3301
Yup :P

[2019-01-21 10:58] #3301 closed

[2019-01-21 10:58] thelostone-mc commented on #3275
Yup :P ( I'm just replying yup to a lot of your questions today 😂 )

[2019-01-21 10:58] #3275 closed

[2019-01-21 12:41] #2898 closed

[2019-01-21 14:57] kuhnchris commented on #3370
That's actually a good thing. I just wondered if you guys actually got something back from the infura people regarding our white-list workaround. Also, mbeacom said he's gonna make a lib out of it. If not I'll implement it into the ```utils.py``` class and roll with it. change should be rather central after I'm done.

[2019-01-21 17:11] ceresstation commented on #1967
New documentation:

https://wyre-beta.readme.io/docs/

And a basic demo:

https://s3-us-west-2.amazonaws.com/demo.sendwyre.com/index.html

[2019-01-21 18:04] #2480 closed

[2019-01-21 20:07] owocki commented on #3370
Given that Mark has left the team, I think we should assume he's not going to make a lib about it.

Your implmenetation path sounds good to me.

[2019-01-21 20:33] kuhnchris commented on #3370
Well, i refered to https://github.com/gitcoinco/web/issues/3370#issuecomment-450933237 and since 19 days ago he still was part of the team, I think my question is not that far off.

But, given your approval of the idea, i'll implement this now.

[2019-01-21 20:36] owocki commented on #3370
yep, your question was not far off at all :) makes sense to me

[2019-01-21 20:36] kuhnchris commented on #3370
Also, is IPFS.infura.io also affected by this change?

[2019-01-21 21:19] kuhnchris commented on #3370
One thing I cannot find out: what do we need to whitelist the contracts for?
(sorry, I haven't gotten that deep into the data model of the grants yet, but I haven't seen anything in a quick context search that I found to change, aside from web3 callbacks)

The place where I can add the white-list call would at least be here, where we store the contract address in the grant itself, but I'm not sure

[2019-01-21 22:07] kuhnchris commented on #1033
Hi there! Is there any progress on this topic?
Seems to be rather old already, and kind of similar to the Grants, except this may be a one-time thing?
Anyways, @usmanmuhd @vs77bb anything we can do here for you guys?

[2019-01-21 22:30] vs77bb commented on #959
Doing some ideation here below on how this might work. Open to any and all feedback. Keeping Kevin's guiding principles in mind.

## **Proposal**
- Build in a _x_% fee to the Gitcoin Issue Explorer, paid out to a Gitcoin Core wallet upon the *completion* of a bounty.
- When a bounty is funded, the UX clearly shows the amount in escrow represents a) the bounty amount the hunter will receive and b)

[2019-01-21 22:39] kuhnchris commented on #1528
@usmanmuhd @Anish-Agnihotri hey guys, everything's clear or do we need to jump in for you?

Thanks!
Chris

[2019-01-21 22:48] kuhnchris commented on #1727
Hello. @nemaniarjun are you still working on this or can we assume you stopped working on this? Please reply within the next couple of days, else we'll give the community another try with this!

Thanks!

[2019-01-21 22:50] kuhnchris commented on #1855
Hello @saketbairoliya2 ! Are you still working on this issue? I saw you got some great progress in the PR, would you mind fixing the last outstanding point(s)?

Thank you!
Chris

[2019-01-21 22:54] kuhnchris commented on #1769
As we need to reassign some of Mark's older topics, we'll need to have someone take this over. @ryan-shea who shall we assign this to?
Thanks @darkdarkdragon for being patient with us, as we are trying to figure this out!

[2019-01-21 22:59] kuhnchris commented on #1991
@aerophile can we assume that you discarded/abandoned this issue? If you still want to work on this, please reply within the next couple of days, else we'll return this topic back to the community!

Thanks!
Chris

[2019-01-22 00:42] ceresstation commented on #680
Hey @owocki wanted to bump this once more just since it came up in conversation today.

[2019-01-22 04:30] Nnooo commented on #3449
@PixelantDesign and @owocki I have now completed the wireframe design of this. Once you assign me the bounty and price it I can upload what I have done and provide a pdf detailing the logic.

Thanks and I look forward to completing this issue with you both.

[2019-01-22 04:52] octavioamu commented on #3449
@nnooo thanks for the work.
This is not a design task as I know, is just to discuss the technical approach we will do for handle privates repos. Not sure if you already discussed something with Alisa and Kevin and I'm not aware.
Anyway I recommend you to take a look for our issues tagged as "design"

[2019-01-22 05:38] saketbairoliya2 commented on #1855
Hi @kuhnchris, I'll fix the last bit and will get back with new PR in couple of days.

Thanks,
Saket

[2019-01-22 07:37] abitrolly commented on #3449
Doesn't that shift the focus from supporting open source to supporting gig economy?

[2019-01-22 07:44] kuhnchris commented on #1855
Thanks, keep us posted when you added the fix and we'll take a look! :-)

Chris

[2019-01-22 08:01] Nnooo commented on #3449
Is that in reply to me or @octavioamu ?

[2019-01-22 13:16] octavioamu commented on #3449
Some docs for technical approach
https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator
https://developer.github.com/v3/repos/invitations/#invite-a-user-to-a-repository

[2019-01-22 13:43] PixelantDesign opened #3578 "SUBTASK 3449 UX Fund Issue from Private Repo"
#3449

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started

[2019-01-22 14:35] octavioamu commented on #3449
@abitrolly to be able to support OSS we also need to be profitable as company, in this way we can do a better work with the open source community and also bring more bounties for contributors not only from open source projects.

[2019-01-22 14:55] PixelantDesign opened #3579 "SUBTASK #3449 Review Approach for Fund Issue from Private Repo"
#https://github.com/gitcoinco/web/issues/3449

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source s

[2019-01-22 15:00] CPSTL commented on #865
Hey @owocki, just here to monitor open issues and wanted to know if this issue has been closed or paid out?

[2019-01-22 15:08] owocki commented on #865
thx for the bump.. just submittted the payout

[2019-01-22 15:12] owocki commented on #3449
I'd add that we see the two as mutually reinforcing, not mutually exclusive.  Our mission is, and always will be, to Grow and sustain open source.

[2019-01-22 15:12] PixelantDesign commented on #3449
From @octavioamu
cc: @thelostone-mc @SaptakS @owocki

Private repos FLOW

FUNDER NEED TO HAVE ADMIN PERMISSIONS of the gh repo

Funder authorise gitcoin to be able to see issues,
Autocompleted issues search box
User pick the issue
We take the details of the issue
we can show in the explorer without issue link or just reserve for some user

Contributor applies
Funder receive an email and approves
A

[2019-01-22 15:47] PixelantDesign commented on #3476
- User should be able to create a Gitcoin profile simply via Github auth
- User can 'Skip This Step' for MetaMask account on user on-boarding (i.e) Step 2 is optional. (1pt)
- Perhaps, move MetaMask step to Step 3? (alternative 1pt)
- Ensure Gitcoin users can 'Start Work', even if they don't yet have MetaMask accounts (3pt)
- Ensure Gitcoin users are rerouted to add a MetaMask account, if they don

[2019-01-22 15:52] PixelantDesign commented on #3114
-  In the on boarding flow determine where it makes sense to display a checkbox to capture that user is looking for a job. (sprint 1)
-   Display in profile (sprint1)
-   In Settings display the same checkbox to indicate user is looking for a job. (2pts)
-   In every email that is sent, the system should remind me that i AM/AM NOT looking for a job, as of YYYY/MM/DD, so i remember to update it if

[2019-01-22 15:56] PixelantDesign commented on #3382
-   Ux this experience (sprint1)
-   Build Front End of resume upload (3pt)
-   Handle the S3 upload of resume (determine file limit, types, size, etc).
-   Decide on geographic region data set (google map api, city, country, etc). Octavio suggest use Google Map, rate limit is extensive.

[2019-01-22 16:01] frankchen07 opened #3580 "As a Gitcoin admin, there are parts of the Wyre documentation that need clarification in preparation for the integration workshopping session."
### User Story

As a Gitcoin admin, there are parts of the Wyre documentation that need clarification in preparation for the integration workshopping session.

### Why Is this Needed

Getting a deeper

Implementing Wyre forms the foundation for two things to happen on Gitcoin: KYC AML and connection to fiat.

1. Bounty hunters can get paid out in fiat.
2. Bounty funders can pay their bounties in f

[2019-01-22 16:15] thelostone-mc commented on #3578
First clarification here :

- Would we have would have to request for more permission from the user (aka access to private repo ) when the sign in for the first time. Since we don't differentiate btwn funder/contributor, asking for permissions from private repos might get some backlash.

- Is it possible for the bot to get a read-only access to the private repo or would the gitcoin-bot get the sta

[2019-01-22 16:23] owocki commented on #3469
damn i <3 dat line art

[2019-01-22 16:31] owocki commented on #3370
its part of infuras security model in the new api-key regime.  IIRC there are details in teh medium post about it.

mark and i chatted with infura team about this recenetly. i dont think there is API access for this yet.

<img width="692" alt="screen shot 2019-01-22 at 9 30 23 am" src="https://user-images.githubusercontent.com/513929/51549842-5e3b9900-1e28-11e9-8525-48b745060698.png">

maybe in th

[2019-01-22 16:48] PixelantDesign opened #3581 "SUBTASK #3476 Test Move Metamask"
https://github.com/gitcoinco/web/issues/3476

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.

### Why Is this Needed

[comment]: # (Describe the

[2019-01-22 16:50] PixelantDesign opened #3582 "SUBTASK #3476 Frontend Ensure Start Work on Move Metamask"
https://github.com/gitcoinco/web/issues/3476

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.

### Why Is this Needed

[comment]: # (Describe the

[2019-01-22 16:52] PixelantDesign opened #3583 "SUBTASK #3476 BUILD Front-End Metamask Reroute to Submit Work"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide

[2019-01-22 16:55] PixelantDesign opened #3584 "SUBTASK #3476 Move Metamask UX New Metamask Placement"
https://github.com/gitcoinco/web/issues/3476

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.

### Why Is this Needed

[comment]: # (Describe the

[2019-01-22 16:57] frankchen07 commented on #2898
thanks @thelostone-mc for jumping on this PR. @aashutoshrathi - completed payment, and added a small tip for appreciation on jumping on that last small PR. Let me know if payment goes through!

[2019-01-22 16:58] mukulverm4 commented on #3561
Hey @vs77bb, can you please provide credentials for wagtail testing?

[2019-01-22 17:30] frankchen07 commented on #3545
Two items of clarification needed on this ticket:

1. @PixelantDesign - what should go in place of the `Loreum Ipsum` on the beginning of the homepage?
2. Added some video collateral to be used in the build at the bottom.

[2019-01-22 17:33] PixelantDesign opened #3585 "SUBTASK #3382 Build Backend Signal Looking for Job"
#3382

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a 'im looking for a job' field in onboarding, so i can signal i want a job

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

gitcoin is a great

[2019-01-22 17:42] PixelantDesign opened #3586 "SUBTASK #3382 Build Front End Adding Job to Onboarding & Settings"
Related to #3114

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to upload my resume in the onboard flow, so that Gitcoin can match me with work that matches my profile

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what

[2019-01-22 17:45] PixelantDesign opened #3587 "SUBTASK #3382 Build Ability to Handle S3 Upload"
#3382

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to upload my resume in the onboard flow, so that Gitcoin can match me with work that matches my profile

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2019-01-22 17:46] frankchen07 commented on #959
Overarching question from @thelostone-mc:

1. Does this ticket necessitate a change in how the smart contract operates?

1. What would the UX and language of the pricing section look like? For example, if the funder funds a $100 issue, and they want the bounty hunter to be paid out $100 for quality work, and our fee is 5%, that means our pricing calculator has to take that math into account. So do

[2019-01-22 17:50] willsputra commented on #3382
Here's how it might look like on the onboarding step:

Default
![resume-default](https://user-images.githubusercontent.com/19514207/51554766-0a28c700-1eb1-11e9-9b81-85560763b37c.png)

Resume uploaded
![resume-uploaded](https://user-images.githubusercontent.com/19514207/51554773-0f861180-1eb1-11e9-8fe5-cfd149c540e9.png)

[2019-01-22 18:05] octavioamu opened #3588 "Currently working bounties in profile"
##### Description

As a funder I would like to know what the contributor is working on in this moment in his profile so I can make a better decision on approving workers in my bounty

##### Current Behavior

![image](https://user-images.githubusercontent.com/1358093/51555608-23a12300-1e5f-11e9-8431-b019e1757037.png)

##### Expected Behavior

Add a tab "currently working" with the ongoing tasks the

[2019-01-22 18:53] PixelantDesign commented on #3469
yes belongs on payout screen!

[2019-01-22 18:54] octavioamu opened #3589 "Contributor plan in the "request to work" email"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a founder I want to know the contributor plan in the request email so I don't need to go to the issue comments to find it

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summ

[2019-01-22 19:09] thelostone-mc commented on #3545
Clarifications from my side

1. Sketch file
2. Where does `Get in touch` lead to ?
3. Where does `Our Values` lead to ?
4. Where does `more about press` lead to ?
5. Where does `See how our products are growing open source` to?
6. Realign open source incentive: where does the link `Learn More` lead to ?
7. Link to gitcoin medium article

Preferably link to all the clickable elements on the screen

[2019-01-22 19:15] thelostone-mc commented on #3570
Unable to add Grant logos during creaation :

[code]

[2019-01-22 20:01] PixelantDesign opened #3590 "SUBTASK 3450 Build backend Encourage Bounty Sharing to generate URLs"
#3450

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to get paid to invite my friends to work on Gitcoin, so that I can get paid for referring people to bounties. Gitcoin pays $5 for each referral made.

### Why Is this Needed
This is needed to get more well-qualified hunters to the platform for issues which aren't being solved.

[comme

[2019-01-22 21:36] Nnooo commented on #3449
@pixelantdesign. Pretty much what I have mocked up ;)

[2019-01-22 22:20] owocki commented on #3469
i worry that the blue bar looks to visually similar to the 'payout bounty' button ... and the user might mistake it as a button

[2019-01-22 22:31] owocki commented on #680
its in the green team sprint backlog

[2019-01-22 23:06] frankchen07 commented on #3469
One more point of discussion @PixelantDesign & @thelostone-mc  - should the "suggest a grant" be a checkbox (where the second iteration of "I have read and understand the terms" area, or should it be a clickable link under the banner?

Depending on the decision above, the final flow will be different, and a additional confirmation screen might be necessary:

**Checkbox:** funder -> payout screen -

[2019-01-22 23:31] frankchen07 opened #3593 "BUILD - As a Gitcoin user, I want a pricing sheet, so I can see how to take full advantage of Gitcoin."
### User Story

As a Gitcoin user, I want a pricing sheet, so I can see how to take full advantage of Gitcoin.

### Why Is this Needed

This page explains all our revenue options in one place.

### Description

We can build the initial design right now as a skeleton start, and modify it in the future with incoming funder feedback. This way, we iterate proactively, and not wait until we have perfec

[2019-01-23 00:48] octavioamu commented on #3590
we can make this referral code used in any page and having a signup page something like `https://gitcoin.co/signup?referral=octavioamu` explaining the program but also can be `https://gitcoin.co/issueURL?referral=octavioamu` or any other, if the url contains a referral we will send it to the backend to an enpoint and if is a new user we will count it.
When this new user complete his first bounty w

[2019-01-23 01:01] octavioamu commented on #3590
Also this can be used in others places like on the onboard we can have an "invite friends" step like linkedin where we take the github followers and suggest them to invite to gitcoin
An email will be fired to the selected friends with a happy message

[2019-01-23 02:48] PixelantDesign commented on #3493
Thanks for the interest @nnooo. Please feel free to use some existing assets but also create new assets for this landing page.

Looking forward to seeing what you come up with!

[2019-01-23 04:12] PixelantDesign commented on #3590
@willsputra ^

[2019-01-23 04:13] PixelantDesign commented on #3593
Should we build just the one page or the entire experience?

[2019-01-23 04:42] PixelantDesign commented on #3382
@willsputra looking good! Could make the following updates?

- Smaller size drop down. It seems a little large.
- Update ordering of the fields:
   Are you looking for work?
   What type of work?
   Looking for companies in (location) (please remove...)
   Compensation expectation (please remove ...)
   Upload Resume

What happens if I don't complete a field?
I should also have the ability to skip

[2019-01-23 08:36] PierrickGT commented on #3014
Thank you @octavioamu! I'll start to work on it today.

[2019-01-23 12:21] PixelantDesign commented on #3476
![metamask flow](https://user-images.githubusercontent.com/238235/51606275-73bfca00-1edf-11e9-8d56-23e4ae2d3538.jpg)

[2019-01-23 13:00] kziemianek commented on #3588
I can take it if nobody works on it ;) @octavioamu what You think?

[2019-01-23 13:17] PixelantDesign commented on #3588
This is a good idea! It will help solve the problem of contributors not knowing which bounties are counting against their max open bounties count.

What do you think about labeling the tab **In Progress** @octavioamu?

[2019-01-23 13:43] octavioamu commented on #3588
Great @kziemianek I will create a bounty, should be a easy one.
Sure @PixelantDesign

[2019-01-23 14:25] PierrickGT commented on #3014
@octavioamu I've run `docker-compose exec web python3 app/manage.py sync_geth rinkeby 402 99999999999` in order to retrieve the bounty data but I can't access the issue [gitcoin.co/issue/aragon/aragon-monthly/271/1770](gitcoin.co/issue/aragon/aragon-monthly/271/1770) in development mode to reproduce the behavior.

Would it be possible to create this kind of issue on the Rinkeby testnet?

[2019-01-23 14:43] octavioamu commented on #3014
In order to create the scenario you will need two users one to be the funder another the hunter create a few issues in rinkeby with funder and apply / resolve / abandon the issues with the hunter
All in rinkeby network

[2019-01-23 15:05] PierrickGT commented on #3014
@octavioamu could you create the scenario for me please?
Cause I don't know how to create and login with a new user in development mode.

[2019-01-23 16:43] MannyCho commented on #3381
@kuhnchris I can help you with this issue. Contractors in the US are required to report income to the IRS and pay taxes on the reported income. Companies that engage contractors are required to complete and provide a [1099-Misc](https://www.irs.gov/forms-pubs/about-form-1099-misc) to each contractor it engaged during the year. Companies are also required to submit a copy of the 1099-Misc forms to

[2019-01-23 17:43] octavioamu commented on #3014
No I can't because need to be done in your localhost. You will need to create a GitHub fake account for that

[2019-01-23 17:48] thelostone-mc commented on #3593
@frankchen07 + @PixelantDesign moving forward could we ensure the sketch file is attached wherever applicable

[2019-01-23 18:12] PixelantDesign commented on #2204
Hi @oogetyboogety the image isn't showing up for me. Here is a screenshot
<img width="859" alt="screen shot 2019-01-23 at 1 11 14 pm" src="https://user-images.githubusercontent.com/238235/51627548-74248900-1f10-11e9-8cb3-bd79a81ad974.png">

[2019-01-23 18:36] frankchen07 commented on #3593
yes definitely - thanks for the callout!

yes, the task is to build the pages based on the sketches, but no deployment yet. Pricing is part of a larger epic, but having the foundation for the page laid out will reduce future cycles and holdups.

[2019-01-23 18:56] anshumanv opened #3600 "Bounty extension event is shown as unknown type in recent activity section"
**Describe the bug**
Bounty extension event is shown as unknown type in the recent activity on gitcoin section.

**To Reproduce**
Checkout recent activity section, if there's an event of bounty extension

**Expected behavior**
It should display bounty deadline extended.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/51629685-3e15f200-1f6e-11e9-8249-c5d7f6d671da.png)
!

[2019-01-23 19:00] dvdptr commented on #3487
I just submitted a work for crypto winter, sent via »submit work«.
looking forward to your review @owocki , thanks!

[2019-01-23 19:06] nanspro commented on #2899
@frankchen07  i have updated the docs and added canonical tags in `/gas` and `gas/history`

[2019-01-23 19:48] PixelantDesign commented on #3382
Team Estimates:
-  In the on boarding flow determine where it makes sense to display a checkbox to capture that user is looking for a job. (sprint 1)
-   Display in profile (sprint1)
-   In Settings display the same checkbox to indicate user is looking for a job. (2pts)
-   In every email that is sent, the system should remind me that i AM/AM NOT looking for a job, as of YYYY/MM/DD, so i remember

[2019-01-23 19:49] PixelantDesign commented on #3114
Combined job epics

[2019-01-23 19:49] #3114 closed

[2019-01-23 20:19] PixelantDesign commented on #3507
Duplicate Subtask

[2019-01-23 20:19] #3507 closed

[2019-01-23 20:23] PixelantDesign opened #3602 "SUBTASK #3450 Design Encourage Sharing to Grow Open Source"
### User Story

As a contributor, how can I encourage other great developers to join Gitcoin and help grow open source?

### Why Is this Needed
To grow the Gitcoin platform with qualified contributors/developers. how do we best do this?

### Problem Description

There are a lot of ways to tackle virality. How do we approach this so that we aren't having to pay as much as we would pay for google ad

[2019-01-23 20:37] PixelantDesign opened #3603 "SUBTASK #3449 UX Fund Issue From Private Repo"
Reference details of #3449

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Lik

[2019-01-23 20:42] octavioamu commented on #3014
I sent you an slack message if you need help to setup

[2019-01-23 20:59] PixelantDesign commented on #3469
I also prefer the CTA. It feels unnatural to have a checkbox at that point. Though I understand how it might be easier to use that as a trigger point from an engineering perspective.

Clean up Basic and Advanced Pay would be nice since it is a form that is used often. Would that be considered tech debt form clean up? Ultimately up to @frankchen07 though.

[2019-01-24 10:51] PixelantDesign commented on #3469
Updated below

**Payout Screens**
<img width="1032" alt="screen shot 2019-01-24 at 5 49 09 am" src="https://user-images.githubusercontent.com/238235/51673379-e5f5e480-1f9b-11e9-8f4c-525dfa064a06.png">

**Modal**
<img width="752" alt="screen shot 2019-01-24 at 5 49 24 am" src="https://user-images.githubusercontent.com/238235/51673402-f60dc400-1f9b-11e9-87d2-af26b5ac62d4.png">

**Email Confirmation*

[2019-01-24 11:24] dvdptr commented on #3487
@owocki
as you can see I submitted my design via »submit work«, but instead of a PR I chose to send you an imgur file so that you can check and review the design. I decided to do a crypto-winter graphic that shows bufficorn in a snowstorm (made of ether-symbols).
I appreciate your feedback and in case you like what you see, pls let me know what repo to choose for the final PR (in case it's needed)

[2019-01-24 11:39] PixelantDesign commented on #3450
<img width="997" alt="screen shot 2019-01-23 at 3 13 57 pm" src="https://user-images.githubusercontent.com/238235/51675806-c31afe80-1fa2-11e9-9435-04b33b9341fd.png">

[2019-01-24 12:45] #3527 closed

[2019-01-24 12:50] PixelantDesign commented on #3603
Closing because duplicate task

[2019-01-24 12:50] #3603 closed

[2019-01-24 12:58] octavioamu commented on #3588
@kziemianek are you still interested on this one?

[2019-01-24 15:17] owocki opened #3607 "as a founder, i want all digital good purchases to be captured in the `revenue.digitalgoodpurchase` table, so i can account for htem"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a founder, i want all digital good purchases to be captured in the `revenue.digitalgoodpurchase` table, so i can account for htem

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happe

[2019-01-24 15:59] mukulverm4 commented on #3561
Hey @vs77bb, I am waiting for the test credentials to work on this issue.

[2019-01-24 16:59] willsputra commented on #3450
Sprint 2 (without Kudos): https://sketch.cloud/s/RVRPz
Sprint 3 (with Kudos or other incentives): https://sketch.cloud/s/KnDKe

[2019-01-24 17:46] PixelantDesign commented on #3544
Yes and contributors who cannot apply to work on this should not get notifications of this new issue.

[2019-01-24 18:01] owocki opened #3610 "performance issue -- activity.view_props takes too long to load"
there is a performance issue in kudos/views.py -- activity.view_props takes too long to load.

cb762195ef6aa00213f074f88830c5241554aab8 is a stopgap.

but i propose that that we put in a long term fix in which `view_props` is stored in the DB as a `JSONField`.  and it should be loaded on save / update.  not on read.

[2019-01-24 18:02] owocki commented on #3610
anyone object if i bounty this?

[2019-01-24 19:04] CPSTL commented on #1473
Hey @owocki - for monitoring purposes, has this been paid out/completed yet?

[2019-01-24 19:09] owocki opened #3611 "if you do a gitcoin grant funding, it should warn you if you dont have enough tokens, so you dont create a failed grant"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
if you do a gitcoin grant funding, it should warn you if you dont have enough tokens, so you dont create a failed grant

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
fund a grant in a token that you don't have enough of

**Expected behavior**
[comment]: # (A clear and concise description of w

[2019-01-24 19:10] CPSTL commented on #1181
Hey @owocki ! I'm back and asking more questions. Have you had the chance to review @dilatebrave 's PR?

[2019-01-24 21:21] octavioamu opened #3613 "User web3.js instead of metamask version"

[2019-01-24 21:30] PierrickGT commented on #3014
Here is the branch I'm working on: https://github.com/PierrickGT/web/tree/features/show_kudos_activity_bounty

I've added a first version on this commit: https://github.com/PierrickGT/web/commit/d0456b2d95dd5b43048f19dfa9084666f53026b3

In order to make it look like the Gitcoin activity style, I would need to retrieve the kudos url and image.

[2019-01-24 21:43] PierrickGT commented on #3014
<img width="1004" alt="capture d ecran 2019-01-24 a 22 42 36" src="https://user-images.githubusercontent.com/2401738/51710415-6f072d00-2029-11e9-8d86-86d401c0042b.png">

[2019-01-24 21:46] octavioamu commented on #3014
Is it possible to send me those in the new_kudos activity_event?
Yes think the way should be add another field take a look into the general activity can give you a light

[2019-01-24 22:32] ceresstation opened #3614 "Gitcoin Grant images don't display properly"
**Describe the bug**

The image in most grants e.g. https://gitcoin.co/grants/36/molochdao displays as intended in the thumbnail but not in the main image.

**To Reproduce**

Upload an image of any size to a grant.

**Expected behavior**

Images are fit to the window size or users are given the option to adjust images on the fly within a grant edit view (as suggested by @austingriffith)

Note that

[2019-01-25 01:06] frankchen07 commented on #959
I see what you're saying, and agree with you. So you would suggest there be a separate "fee" section right before they hit the fund issue button, stating that an additional % is tacked on to the total amount, leading to $task + $fee total at the bottom before they hit submit.

we could do a mix of active funders, one-time funders, and new funders, and gauge the reaction from each cohort (preferabl

[2019-01-25 03:11] neutraladvocate commented on #556
Kevin and others, we have a platform that supports engagement conversations between repo maintainer and developer/team, opening and closing development agreements, also supporting ERC20 escrow (multi-step payment) on Ropsten, and CDN/USD (currently test networks) and want to contribute/integrate to GitCoin... I am not sure whether it solves some of your issues here but worth investigating. we also

[2019-01-25 03:41] owocki commented on #556
@neutraladvocate thatd be awesome!  want to email me to find a time to chat?

[2019-01-25 06:39] emiwatanabe422 commented on #3487
@owocki
I've taken some screenshots of what I have so far let me know what you think.

![image](https://user-images.githubusercontent.com/46271233/51729484-4299f200-20b7-11e9-9102-6ac2b9ca9963.png)

![image](https://user-images.githubusercontent.com/46271233/51729435-0ebecc80-20b7-11e9-9103-4c49e0a53039.png)

![image](https://user-images.githubusercontent.com/46271233/51729474-39108a00-20b7-11e9-8

[2019-01-25 07:12] thelostone-mc commented on #3580
###### Overview

Wyre  (what it can do )
- wire transfer
- mass international payout
- virtual banking service

###### Flow

- Gitcoin would register themselves on WYRE
- Gitcoin maintains USD float on Wyre (which is topped on a weekly basis based on txn )

<img width="605" alt="screen shot 2019-01-25 at 12 41 29 pm" src="https://user-images.githubusercontent.com/5358146/51730725-98ae6b80-209e-11e

[2019-01-25 07:18] frankchen07 commented on #3445
[Grants Virality Sketches.zip](https://github.com/gitcoinco/web/files/2795022/Grants.Virality.Sketches.zip)

[2019-01-25 08:59] PierrickGT commented on #3014
Ok thank you. I'll look into it this weekend.

[2019-01-25 10:31] thelostone-mc commented on #3545
Calling out steps I'd be taking while building this out iteratively which could span more than a sprint

- create base homepage (sketch needed)
- create nav bar (sketch needed)
- talk it out with core team + marketing on how SEO would take a hit if we were to shift the bounties URL to `gitcoin
- update the URLs

[2019-01-25 13:06] neutraladvocate commented on #556
Hi Kevin, I would love to chat. I removed my post as I needed to dig
deeper. I will repost probably as a separate topic as you have this one
covered really well.

Best Regards Martin

On Thu, Jan 24, 2019 at 10:41 PM Kevin Owocki <notifications@github.com>
wrote:

--
Regards

Martin

Martin West
Founder - Neutral Advocate

14164145882

[2019-01-25 13:33] owocki commented on #3381
for this; i've generated a list of 1099s for finance to send out for 2019..

[2019-01-25 13:40] owocki commented on #556
@neutraladvocate sounds great

[2019-01-25 13:42] #3509 closed

[2019-01-25 13:46] owocki commented on #3487
@dvdptr thanks -- i took a look .  it's def a little bit more 3d style than our existing line art, but will still will pay out today

@emiwatanabe422 i really like the line art direction you're taking this in!  this art looks really good for the 'crypto winter' portion of the task, i'd love to see some 'crypto spring' images too :)

[2019-01-25 13:47] willsputra commented on #3584
adding this here too from #3476
![move metamask flow](https://user-images.githubusercontent.com/238235/51606275-73bfca00-1edf-11e9-8d56-23e4ae2d3538.jpg)

todo: adjust the content of submit step to match flow

[2019-01-25 14:10] willsputra commented on #3584
If you click on 'Submit Work' without MetaMask installed, this would pop up.
@PixelantDesign thoughts?

![metamask on submit](https://user-images.githubusercontent.com/19514207/51750717-e0101880-20ed-11e9-9e92-8bafa5837541.jpg)

[2019-01-25 14:54] PixelantDesign commented on #3593
I'll be updating this design

[2019-01-25 14:57] PixelantDesign commented on #3445
The suggest a contributor screen Octavio hasn't built. Might be best to leverage what has been built after this sprint? Unless they can work together at the same time this sprint. Up to you all @octavioamu @thelostone-mc

[2019-01-25 15:30] owocki commented on #3593
excited for the next rev on this :) do you have any idea of what youre doing for the new pricing page?  my biggest asks for the next rev of the page:

1. it should be simpler to understand
2. it should be compelling (if i'm in the target user flow, it should be a no brainer, i should want to "pull out my credit card" )

 happy to jam.

[2019-01-25 16:17] frankchen07 commented on #3545
[Homepage_Revamp_012519.zip](https://github.com/gitcoinco/web/files/2796890/Homepage_Revamp_012519.zip)

[2019-01-25 16:20] PixelantDesign commented on #3545
@thelostone-mc

Where does Get in touch lead to ? Founders email
Where does Our Values lead to ? Current Mission Page
Where does more about press lead to?
a page with press info...you can remove the link for right now if you want since we dont have a design.
Where does See how our products are growing open source to? Products page
Realign open source incentive: where does the link Learn More lead

[2019-01-25 16:24] PixelantDesign commented on #3607
Is this still needed @SaptakS ?

[2019-01-25 17:46] owocki commented on #3614
three options i see.
1. make it so we only support images of a certain aspect ratio
2. build into the admin an ability to modify the CSS of the grant image such that background-size can be cover,contain, etc.
3. build in support for some sort of cropping mechanism

@thelostone-mc @PixelantDesign

[2019-01-25 17:55] owocki commented on #3611
@chaoweichiu are you serious about this task?  looks like you didnt really enter a plan in the desc.

[2019-01-25 17:59] owocki commented on #1181
thx 4 the bump. paying out now

[2019-01-25 20:17] matthewlilley commented on #623
Hey guys,

I was just clearing out my inbox and came across this one. I didn't realise I'd taken this on as a bounty, I'd thought it was just a friendly PR as a starting point for using Django functional filters over procedural filtering for the API. Sorry about that. If it's still of use, anyone is welcome to pick it up. If I remember correctly, it was functioning where I left it, but it was some

[2019-01-25 21:36] frankchen07 commented on #3514
@charlie4biz, since you were first, I've approved you for work. Looking forward to what you come up with!

[2019-01-25 21:44] mbeharry commented on #3040
We need to define Categories & Sub-Categories for each article and then include those in the URL Structure.  I highlighted an example in green in the first row here: https://docs.google.com/spreadsheets/d/1t6QN4wU8af3PjGXWEmftke2ex2gzS4L1joM6HvAaJl4/edit#gid=0

[2019-01-25 21:45] owocki commented on #3614
https://github.com/gitcoinco/web/commit/df3ccbf47db19f29f2e5667eabe5ffddf92ce6a8
https://github.com/gitcoinco/web/commit/c56844495a4ff61df41b4d0103531788d8597750
https://github.com/gitcoinco/web/commit/b0f6dab051273d5cb164f27c5356573e74139e37

should help

[2019-01-25 22:20] owocki commented on #3611
@bitmex-trader try now!

[2019-01-25 23:13] sangphilkim commented on #3164
hello @owocki
great work! I can see the Rockstar tx. thanks

However, as you can see my profile(https://gitcoin.co/profile/sangphilkim)
Sunburst and Rubber Ducky are disappear again. furthermore i have 2 Moksha kudos.

[2019-01-25 23:59] Dgilliams commented on #3487
I started with the fox from the list of cute spring animals. I took mental inspiration from corgis and buster the dachshund springy toy from toy story and ended up with this little guy.
![foxbot](https://user-images.githubusercontent.com/5957019/51779092-116ef100-20ba-11e9-9a75-b0f6ed998227.png)

[2019-01-26 00:15] bitmex-trader commented on #3611
- Description:

DESKTOP: macOS High Sierra 10.13.6
- Chrome version 71.0.3578.98 (64 bits)
- Brave version 0.58.21

First I click on the “Issue Explorer” button and the Developer Guide appears, as shown on the screenshot “Desktop_Chrome_1”.

I continue to create a new funding and it tells me to unlock Metamask, as shown on “Desktop_Chrome_2”.

After unlocking Metamask the page returns to the Devel

[2019-01-26 11:18] kziemianek commented on #3588
@octavioamu this is how it looks now:

![current_bounties](https://user-images.githubusercontent.com/1838338/51786425-55b6cb80-2164-11e9-8686-383d1dda8b7f.png)

[2019-01-26 11:39] kziemianek opened #3618 "Bug reserved bounty mail sent twice."
**Describe the bug**
After submiting work to the reserved bounty I received an email with information that bounty is reserved for me.

**To Reproduce**
Submit work to reserved bounty.

**Expected behavior**
No email?

**Screenshots**
![image](https://user-images.githubusercontent.com/1838338/51786616-0f16a080-2167-11e9-9780-94f21d077e5b.png)

As you can see bounty status is submitted.
Also submitt

[2019-01-26 15:12] owocki commented on #3164
@sangphilkim thanks for letting me know! the reason you have 2 moksha kudos (and those kudos dont show) is https://github.com/gitcoinco/web/issues/2960

[2019-01-26 15:38] owocki commented on #2960
79b19ea59a8a69a62dc07b960f28d5f837d74814 should fix this

[2019-01-26 15:40] owocki commented on #3164
try now https://gitcoin.co/profile/sangphilkim

[2019-01-26 15:59] sangphilkim commented on #3164
appreciate it!! Thanks again!

[2019-01-26 16:00] egormesyats commented on #3046
@owocki
The commit https://github.com/gitcoinco/web/commit/79b19ea59a8a69a62dc07b960f28d5f837d74814 actually fixes this issue?

I cannot add kudos on my local via instructions from [Kudos General Documentation](https://github.com/gitcoinco/web/blob/master/docs/KUDOS.md).

Doing `bash scripts/mint_test_kudos.bash` I get the following error:

`openzeppelin-solidity/contracts/introspection/ERC165.sol

[2019-01-26 16:02] octavioamu commented on #3046
@egormesyats try to follow my instructions here in this PR  https://github.com/gitcoinco/web/blob/6ce8414ab4d3e7a4a8e9c51ed88ba984b0901b08/docs/KUDOS.md

[2019-01-26 16:35] egormesyats commented on #3046
@octavioamu
Unfortunately after running this command:
`docker-compose exec web bash -c 'cd app && python manage.py sync_kudos rinkeby filter --start earliest'`

I get this err:
`ERROR: No container found for web_1` 😞

[2019-01-26 17:45] octavioamu commented on #3046
Before that you need to have docker running the project `docker-compose up` if you aren't running the project with docker you can run that same command without the docker part starting in `python manage.py...`

[2019-01-26 22:22] NukeManDan commented on #1991
This might be mostly what we are after here: https://ethstats.io/
But I have yet to explore the tool. Has anyone else used it yet?

[2019-01-27 02:49] owocki opened #3619 "DESIGN - As a job hunter, I want to have a Gitcoin /jobs page, so I can see what kind of jobs Gitcoin's network has to offer."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
DESIGN - As a job hunter, I want to have a Gitcoin /jobs page, so I can see what kind of jobs Gitcoin's network has to offer.

### Why Is this Needed

Right now our jobs page is fug.

Also, people come to us with an expectation that if they simply apply, that we're going to find time for them to have a half hour call

[2019-01-27 20:18] kuhnchris commented on #3121
Hey there, current status is that I should be able to work on AvatarV2 this week, so I'll keep you posted about the status. How is the implementation from your side?

[2019-01-27 22:27] SCBuergel opened #3621 "when funding issue and login to github, page reloads and data is gone"
**Describe the bug**
I started filling in the data for funding an issue (e.g. github link, level of developer, time, etc), then I log into github by clicking the login button. After the login is completed, I have to navigate to the `fund` section again, now the data that I previously entered is gone. It would be nice to persist that data and not make me enter it twice.

**To Reproduce**
1. make su

[2019-01-27 22:40] owocki commented on #3195
thanks for the submission. will pay out once those are merged!

[2019-01-27 23:00] owocki commented on #3222
sorry but what does that mean?

[2019-01-27 23:01] owocki commented on #3222
edit: i think you meant i should comment over at https://github.com/gitcoinco/creative/pull/29 , so taking the convo there

[2019-01-28 00:11] owocki commented on #3619
hey @g-r-a-n-t good to meet you.  got a design portfolio i could checkout?  note that i'm hoping this task to be primarily design-centric right now... and am going on the right 'aesthetic' for this bounty.  there will be a follow on task for front end dev.

[2019-01-28 00:34] g-r-a-n-t commented on #3619
Oh, guess I missed the point of this bounty. I unfortunately do not have a design portfolio nor do I have a ton of experience designing things as opposed to just making pages. I'll remove myself from this one.

[2019-01-28 00:37] owocki commented on #3046
yes https://github.com/gitcoinco/web/commit/79b19ea59a8a69a62dc07b960f28d5f837d74814 fixes this ! :)

[2019-01-28 00:38] #3046 closed

[2019-01-28 01:30] Dgilliams commented on #3487
@owocki Thanks!
Can you give more information about the presentation? I'd like to try to get inspiration out of the content.

[2019-01-28 01:38] owocki commented on #3487
@Dgilliams its just a presentation about what caused crypto winter / what could herald crypto spring.  there are 10 slides.

[2019-01-28 02:07] owocki commented on #3611
@bitmex-trader hey -- thanks for the thoughtful comment.  the task is designed to be for someone to fix the bug described in the description.  it looks like you simply QAed the site in chrome / brave?

[2019-01-28 02:15] owocki commented on #3600
thanks -- i may bounty this :)

[2019-01-28 02:54] owocki opened #3623 "General Gitcoin Bounty -- February 2018"
This is a "General Bounty" for Gitcoin, for the month of, February 2018

## Why

We get a handful of bug reports and improvement requests here and there from our community.  We <3 this ; feedback is a gift, and we're so thankful that the community cares enough about the mission, product, and use case.. to make it work.

There are three motivating factors behind the opening of this ticket:
1. we ge

[2019-01-28 08:13] SCBuergel opened #3624 "Show message from developer when getting started on gitcoin issue detail page"
### User Story

As a funder of an issue (BTW let's give this role a cool name!) - I want to see the comment of the developer that picked up the issue on the gitcoin issue detail page

### Why Is this Needed
For transparency and to make it easier to manage issues, it would be helpful to show messages not just on GitHub and in the email that the funder received but also on the gitcoin detail page.

[2019-01-28 08:51] charlie4biz commented on #3514
Hi @frankchen07, kindly take a look at this copy. Don't have much information though especially on the Founders except for Kelvin Owocki. https://github.com/charlie4biz/gitcoin-wiki/blob/master/README.md

[2019-01-28 09:36] dvdptr commented on #3619
@owocki
so this is design only, or to include it into the code as well? as you have written that there will be a follow on task for front end dev, I'm assuming so. pls let me know, I'm highly interested in this one.

[2019-01-28 10:11] dvdptr commented on #3487
@owocki
thanks a lot for your comment, but unlike you said I haven't received payment yet – are you going to send a tip or is a step by me required? thanks a lot

[2019-01-28 15:15] CPSTL commented on #1473
@owocki Hey - I don't think there is a need to pay it out it full but you could give them a small tip?

[2019-01-28 15:18] farfromunique commented on #1473
Honestly, at this point I don't care anymore. I did my best, but the bot
didn't like it. If you want to send me some/all of the bounty, I'll take
it; if you don't, I'll move on.

On Mon, Jan 28, 2019, 4:16 PM Charles Plant St.Louis <
notifications@github.com wrote:

[2019-01-28 15:54] owocki commented on #3619
@writeprovidence just approved u!

[2019-01-28 15:56] willsputra commented on #3382
@octavioamu made a PR on the creative repo for the sketch files
https://github.com/gitcoinco/creative/pull/32

[2019-01-28 16:09] SCBuergel opened #3625 "UX: when work has been submitted and I have reviewed the work on github there should be a big RELEASE FUNDS call-to-action button"
As a novice funder for an issue, it is currently easy to get lost in the UI. I recommend that you show me a big call-to-action button for the most relevant flow (happy path) of releasing the funds. There are currently about 6 or more buttons which I have to choose from.

[2019-01-28 17:04] PixelantDesign opened #3626 "SUBTASK #3450 Build Front-End Invite to Bounty Sharing"
#3450

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to get paid to invite my friends to work on Gitcoin, so that I can get paid for referring people to bounties. Gitcoin pays $5 for each referral made.

### Why Is this Needed
This is needed to get more well-qualified hunters to the platform for issues which aren't being solved.

[comme

[2019-01-28 17:10] PixelantDesign opened #3627 "SUBTASK #2390 Design Confirmation Email"
### Design Fund Issue Success Email

If user has selected featured bounty edited the issue to included feature bounty, we need to send a confirmation email.

### Definiton of Done

- [ ] Design an email that tells funders their bounties were funded sucessefuly.
- [ ] Add a section to highlight that they've also purchased featured bounty
- [ ] Email should be responsive
- [ ] Review with green squa

[2019-01-28 18:42] PixelantDesign commented on #3627
Looks great!
@iamonuwa are you interested in building this email?

[2019-01-28 19:49] krisc commented on #3420
Has this issue been resolved?

[2019-01-28 20:31] #3602 closed

[2019-01-28 20:32] #3506 closed

[2019-01-28 20:32] #3508 closed

[2019-01-28 20:33] #3510 closed

[2019-01-28 20:36] iamonuwa commented on #3627
Awesome! Let's do this!!!

[2019-01-28 20:56] PixelantDesign commented on #3545
Yes @thelostone-mc has the file.

So on the green funnel at the top it'll stay the same, when user scrolls towards the bottom we'd change up the numbers to show how Gitcoin addresses the funnel....did I miss a comment @owocki ?

[2019-01-28 21:46] owocki commented on #3611
im asking this question in order to learn, not to try to start an argument.. but the 'expected result' of the ticket description pretty clearly lays out what was expected.  do you disagree?

[2019-01-28 21:49] owocki opened #3628 "Profile the Gitcoin API and figure out why it's slow."
Right now the gitcoin API is unacceptably slow.

[code]

The above request returns 25 results and takes 4.5 seconds.  Ideally it should take 1/30th of that amount of time.

I would like, contributor, to profile our API, and to
1. Recommend changes that will take down the API response time for this request.  Note: These recommendations must be based in data, not just stabbed in the dark.
2. Impleme

[2019-01-28 21:58] owocki opened #3629 "bug - daily emails dont actually match keywords in profile"
https://gitcoin.co/profile/zherring

This user has reported that the daily emails he gets giving him bug bounties to work on do not actually fit his profile.

[2019-01-28 21:58] owocki commented on #3629
@zherring mind screencapping the email and describing whats wrong pls?

[2019-01-28 22:22] iamonuwa opened #3630 "Submit button still active for done task"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.) A task I submitted was marked as done but the task submit button is still available for me.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
See https://gitcoin.co/issue/ethsociety/learn-plasma/125/2099 and https://github.com/ethsociety/learn-plasma/issues/125#issuecomment-455521576

**Expected

[2019-01-28 22:22] Dgilliams commented on #3487
Thoughts on these?
![crypto_spring_flower-01](https://user-images.githubusercontent.com/5957019/51870335-1aed9880-2308-11e9-9c86-1cc754e648ab.png)

[2019-01-28 22:24] iamonuwa commented on #3623
@owocki
1. https://github.com/gitcoinco/web/issues/3630

[2019-01-28 23:02] nanspro opened #3631 "User's issueLimit is decreasing"
**Describe the bug**
[comment]: # (Funder marked the issue on gitcoin as done after paying worker but worker forgot to "Stop Work" so the issue will still be counted in ongoing issues for user. For contributors who have initial limit as 3 get affected hugely by this bug)

**To Reproduce**
[comment]: # (Do not click on "Stop Work" after submitting work and wait for the funder to mark as done, issue

[2019-01-28 23:09] iamonuwa opened #3632 "Gitcoin requests newsletter position"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.) Newletter form on Gitcoin Request is not positioned properly

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
See https://gitcoin.co/requests

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
The form should be centered

**Screenshots**
[commen

[2019-01-28 23:10] nanspro opened #3633 "Background wallpaper in avatar builder is not showing up even after paying"
**Describe the bug**
[comment]: # (Background wallpaper in avatar builder is not showing up even after paying)

**To Reproduce**
[comment]: # (Go to avatar builder and try to buy a wallpaper)

**Expected behavior**
[comment]: # (The wallpaper should show up there)

**Screenshots**
[comment]: #
![screenshot from 2019-01-29 04-05-23](https://user-images.githubusercontent.com/24641089/51872563-ef0df9

[2019-01-28 23:58] owocki commented on #3222
i *think* i've paid out everyone who i owe coins to for this bounty as of currently, but let me know if not!

[2019-01-28 23:59] writeprovidence commented on #3619
@owocki thanks, will do just that.

[2019-01-29 06:33] frankchen07 commented on #3514
Thanks for the start - I'll review with our SEO help and come back with some feedback for ya!

[2019-01-29 10:31] writeprovidence commented on #3222
@owocki I just sent a PR on the  gitcoin robot unicorn. waiting to be paid.

[2019-01-29 11:17] charlie4biz commented on #3514
Alright. Will be waiting.

[2019-01-29 15:59] FirefighterBlu3 commented on #3628
where is the API code in the repo?

[2019-01-29 16:03] owocki commented on #3493
i liek the direction this is heading!

some thoughts:

- we could maybe use a carousel module that shows off different developers on the platform, how many bounties they've done
- any way we can put something about this part of the spec "Before Gitcoin, I had to do a whole bunch of bullshit in order to find a coder. After Gitcoin, I don't anymore."  visually on the landing page.
- maybe it's worth

[2019-01-29 16:05] owocki commented on #3628
https://github.com/gitcoinco/web/blob/master/app/dashboard/router.py

[2019-01-29 18:38] owocki opened #3634 "after i fund a gitcoin grant, i want to tweet about it, so i can show off my support of OSS"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
after i fund (or create) a gitcoin grant, i want to tweet about it, so i can show off my support of OSS

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
virality, showi

[2019-01-29 20:14] Nnooo commented on #3493
Why does it keep doing that?

[2019-01-29 20:44] #1769 closed

[2019-01-29 20:56] owocki commented on #3493
it pesters you every 3 days if it doesnt see any activity on the thread. ill snooze it

[2019-01-29 21:43] kuhnchris commented on #3628
well that's easily explained: it loads ALL entries and then filters the RESULTSET. so there you go...

[2019-01-29 21:55] Nnooo commented on #3493
Great thanks!

Ok what are next steps? I’d like to get paid for the above before moving on ideally.

Ideally the process for me is this:
1) Read brief and accept bounty
2) Do mockups of design solution
3) Upload mockups and once approved submit work, timesheet and get paid
4) Brief amended and or expanded based on feedback
5) Do more work based on adjusted brief and feedback
6) Upload mockups and

[2019-01-29 22:00] kuhnchris commented on #3420
seems to be open, go wild.

[2019-01-29 22:03] kuhnchris commented on #3381
So is this task solved or did you create the 1099s by hand and want an automated solution?
In theory we could pre-fill a form with the required data, if available, and store those in a database table and upon executing a job (or a command or a cron, or whatevs) it fires out the "unprocessed" 1099s,fills in the PDF/DOC, prints the output into another PDF, maybe digitally signs it? not sure if that'

[2019-01-29 22:06] kuhnchris commented on #1991
@owocki @PixelantDesign your opinion about this?

[2019-01-29 22:18] owocki commented on #3493
Happy to pay out the bounty once you've completed the spec I originally posted and after that we've gone through the specified one round of revision.

As for the UX feedback, def open to fork it and chat about the UX of it, perhaps on another github issue?

[2019-01-29 22:19] owocki commented on #3381
i gave a list of names, addresses, + SSNs to consensys Finance.  they then generated the 1099s, and i emailed them to our customers.

i like the architecture u proposed for next year tho!

[2019-01-29 22:21] owocki commented on #1991
i think we should probably close the bounty as it's not getting any action.. unless @aerophile you disagree

[2019-01-29 22:22] Nnooo commented on #3493
Coolio so to be clear is this the spec you mean?

`- we could maybe use a carousel module that shows off different developers on the platform, how many bounties they've done
- any way we can put something about this part of the spec "Before Gitcoin, I had to do a whole bunch of bullshit in order to find a coder. After Gitcoin, I don't anymore." visually on the landing page.
- maybe it's worth taki

[2019-01-29 22:43] owocki commented on #3493
i dont know why that is; but if you look at the OP you can see the spec under "The landing page will contain the following"

[2019-01-29 23:56] kuhnchris commented on #3381
Well, if you could provide an example 1099 + what data you gave then we could see what's possible ;-)

[2019-01-30 02:04] MannyCho commented on #3381
Glad to see this is being addressed. Traditionally, a contractor in the US will provide a W-9 that has most of the relevant information to populate a 1099 with. You can automate this by having a standard template that's compiled and digitally signed by the contractor when a proposal is awarded. HR platforms like Gusto have contractor self-onboarding functionality.

Please do take caution when prov

[2019-01-30 03:05] ryan-shea commented on #2370
@owocki any thoughts here?

[2019-01-30 03:13] ryan-shea commented on #3121
@michaelsena have you had a chance to take a look at Chris's work?

[2019-01-30 05:07] #3618 closed

[2019-01-30 05:58] frankchen07 commented on #1727
hey @nemaniarjun, we're going to remove you from this bounty due to non-response. If the issue is still open later and you'd like to try again, feel free to!

[2019-01-30 08:48] emiwatanabe422 commented on #3487
Here are the spring images:

![image](https://user-images.githubusercontent.com/46271233/51969172-15828080-24b7-11e9-88f8-6d54f45b3bc8.png)

![image](https://user-images.githubusercontent.com/46271233/51969150-06033780-24b7-11e9-9b79-b2dabe818520.png)

![image](https://user-images.githubusercontent.com/46271233/51969199-2a5f1400-24b7-11e9-93b6-42ce20be01db.png)

![image](https://user-images.github

[2019-01-30 12:46] kziemianek commented on #1727
We got this already, is something left to be done here ?

![image](https://user-images.githubusercontent.com/1838338/51982114-5f5a6f00-2495-11e9-8d7f-da2ff7ac14ae.png)

[2019-01-30 13:30] kuhnchris commented on #1727
Do they also show up under "All Activity"?

[2019-01-30 13:36] kuhnchris commented on #1727
Then I guess this issue can be closed.
cc @owocki , @vs77bb

[2019-01-30 14:19] #761 closed

[2019-01-30 15:13] kziemianek commented on #3589
![image](https://user-images.githubusercontent.com/1838338/51990756-fe896180-24a9-11e9-9626-b5bb31186c38.png)

[2019-01-30 15:28] octavioamu commented on #3589
@kziemianek you rock!

[2019-01-30 16:19] kuhnchris commented on #2542
Command retóur, still fucked:
![image](https://user-images.githubusercontent.com/761911/51995561-377a0400-24b3-11e9-8092-a096d2938445.png)

[2019-01-30 16:34] kuhnchris commented on #2543
Shall we shelf this in favor of Discord Integration?
On that note: Do we need to migrate this bot to discord? I wrote a couple of bots already, so this could be done pretty quickly

[2019-01-30 16:36] kuhnchris commented on #2581
@PixelantDesign do we have a board for "Gitcoin Enterprise"? This would be one.

[2019-01-30 16:43] aerophile commented on #1991
@owocki yes, unifortunately I have not been able to contribute to this project as much as I hoped to do so, I agree that it should be given back to others who can take it up.

[2019-01-30 17:58] markusj1201 commented on #3628
Kuhnchris, although your observation is 100% accurate, the underlying issues are found across multiple areas, causing { 'x -micro.issues = mi (macro.issue -y(slow api performance')) }

[2019-01-30 18:38] kuhnchris commented on #3628
So, literally a [cock-up cascade](https://www.urbandictionary.com/define.php?term=Cock-up%20Cascade). Can you fix it or you need some more help with that?

[2019-01-30 18:40] zherring commented on #3629
1. Current profile
![screen shot 2019-01-30 at 11 38 43 am](https://user-images.githubusercontent.com/2172549/52004140-adff0d80-2483-11e9-8bcd-f9d4f08b0c84.png)

Most Recent Email re: Bounties that Match My Profile
![screen shot 2019-01-30 at 11 35 56 am](https://user-images.githubusercontent.com/2172549/52004164-b9523900-2483-11e9-98a7-ad1b964107a4.png)
![screen shot 2019-01-30 at 11 35 27 am](ht

[2019-01-30 21:32] FirefighterBlu3 commented on #3628
how about access to a SILK report covering a set of bounty requests?

[2019-01-30 21:34] kuhnchris commented on #3628
You mean SILK as in this? https://github.com/jazzband/django-silk @owocki is that feasable?

[2019-01-30 21:34] FirefighterBlu3 commented on #3628
yes. it's already in the app.settings config

[2019-01-30 22:20] #3447 closed

[2019-01-30 22:24] FirefighterBlu3 opened #3641 "Aesthetic for bounty hunter confirmations"
**Describe the bug**
During the starting work page on a bounty, the bounty hunter is asked to check off some things such as 'i understand that this bounty is ...' and 'i agree to keep the funder informed ...'. The current CSS style for checkboxes allows them to be functionally invisible under certain circumstances. This can lead to frustration from being unable to continue as there don't appear to

[2019-01-30 22:24] vs77bb opened #3642 "Awesome Wagtail Template Integration"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an admin, I want better templates at gitcoin.co/cms. Integrate xyz templates and port over some our initial content live at gitcoin.co/cms to the new Wagtail templates. Ensure that images load properly within the new template.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed.

[2019-01-30 22:52] owocki commented on #3487
hehe i love the robot bunnies and birds.. the flowers are also very cool!

[2019-01-30 23:01] owocki commented on #2370
i agree it needs to be reviewed / regression tested by the core team

[2019-01-30 23:03] owocki commented on #3487
mind PRing the SVGS to https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots and submitting work?

[2019-01-30 23:23] owocki commented on #3629
9db7c23f781e8d7adbd62908f7db9190efc1c9f2

[2019-01-30 23:23] #3629 closed

[2019-01-31 02:33] #3589 closed

[2019-01-31 02:37] owocki commented on #3285
this is an issue again http://bits.owocki.com/0623bd90e7bb/Screen%20Shot%202019-01-30%20at%207.37.37%20PM.png on https://gitcoin.co//_administrationgrants/subscription/93/change/

[2019-01-31 02:44] owocki commented on #3493
all on one page please.  i was thinking they'd be supporting modules to the module you designed.

[2019-01-31 02:51] owocki commented on #3628
silk looks interesting for figuring out which pages are slow.. for this use case, we've already identified the API responses are slow and now we need to profile why and figure out workarounds

[2019-01-31 02:52] Nnooo commented on #3493
Great thanks. I’ll get onto this tomorrow.

[2019-01-31 03:02] markusj1201 commented on #3628
Kevin,
Yes. The work up I did, the write up for performance issues I found cross
referencing with udemy, google, and our tech.lib at Purdue. (No need to
re-invent the wheel.) I have the workarounds proto'd, and if it's ok with
you I can start populating the repository.

Mark

On Wed, Jan 30, 2019 at 8:51 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-01-31 03:03] markusj1201 commented on #3628
Hey Chris! I always invite help, especially from astute programmers such as
yourself, Sir.

On Wed, Jan 30, 2019, 12:38 PM KuhnChris <notifications@github.com wrote:

[2019-01-31 03:04] owocki commented on #3628
here's a hint for all the bounty hunters out there.. this commit ( https://github.com/gitcoinco/web/commit/b47501d1dc8e4bfa4f662856a3ed7547c308beff ) gets the response time down by a factor of 4.  i think that (1) theres too many foreign keys being referenced (2) theres too much on-demand computation to return an API result.

[2019-01-31 03:38] markusj1201 commented on #3628
Kevin,

The amount of required resources need to be minimized or reduced to up
processing speed, that part is easy. Identifying which vectors to
re-mediate/reduce and how to properly code and implement said remediation
will take me a little more time. First thought is to reduce payloads,
possibly uglify.js to minimize the ES5...or possibly splitting up the code
to crit. noncrit?
If you like I can

[2019-01-31 04:52] #2899 closed

[2019-01-31 06:16] FirefighterBlu3 commented on #3628
@owocki there's a whole lot more to Silk. Silk is capable of doing python call profiling which will yield a call graph, how many times each function or method is called, and time spent in each function/method. you can configure it to only profile for the bounty view.

the on-demand computation is excessive, yes. there are many calculations done for all of the properties. this is why we need to emp

[2019-01-31 06:59] frankchen07 commented on #2899
@nanspro - paid out. Let me know if you received it!

[2019-01-31 08:38] nanspro opened #3643 "Bounty status is showing Unknown Type"
**Describe the bug**
[comment]: # (Bounty status is showing Unknown Type at various places )

**To Reproduce**
[comment]: # (Go to gitcoin.co and check recent activity)

**Expected behavior**
[comment]: # (Correct bounty status everywhere)

**Screenshots**
![screenshot_2019-01-31 gitcoin grow open source](https://user-images.githubusercontent.com/24641089/52041873-ac0b7c00-2561-11e9-9bd9-4acf895b0

[2019-01-31 09:03] emiwatanabe422 opened #3645 "As a designer making avatar contributions, I dont want to repeatedly resolve conflicts with app/avatar/utils.py"
### User Story

As a designer making avatar contributions, I dont want to repeatedly resolve conflicts with app/avatar/utils.py. The configuration in utils.py needs to be removed and cleaned up, so that there is one item per line, and submissions should conform to a consistent and predefined formatting.

### Why Is this Needed

Lower friction to avatar submissions means more high quality avatars

[2019-01-31 10:30] lucasvo opened #3646 "It's too easy to accidentally create two bounties for the same issue"
It's too easy to accidentally create two bounties with the same github issue. I don't remember the precise steps to reproduce as I wasn't even aware of this until I went to our gitcoin profile today to see that there suddenly were two. Unfortunately I have no other information but I am 100% certain that I only filled out the form once, I might have hit submit twice after an error occurred or I let

[2019-01-31 13:09] kuhnchris commented on #3642
Well, I checked those, they seem "OK". We can adapt the bakerydemo if you'd like to.
Else I tried my hands on this:
![image](https://user-images.githubusercontent.com/761911/52056094-96965200-2561-11e9-96c3-e026daf593a3.png)
You have a Title for the page and sections.
Sections contain a Header Text, the option to show in Table Of Content (if none are on the ToC the ToC is not being displayed), and

[2019-01-31 13:47] PierrickGT commented on #3014
Hi @octavioamu,
I can't progress on this task without some help from Saptak to retrieve `kudos_url` and `kudos_img`.
I've contacted him on Slack but he seems off these days.

[2019-01-31 14:01] octavioamu commented on #3014
Yes @SaptakS is in a conference, but he will help you as soon as he get some time.

[2019-01-31 14:14] PixelantDesign commented on #3289
Updated here
<img width="1187" alt="screen shot 2019-01-28 at 1 32 24 pm" src="https://user-images.githubusercontent.com/238235/52059744-9fbef900-2538-11e9-9110-d968206a2476.png">

[2019-01-31 14:15] PixelantDesign commented on #2720
Already built. Closing

[2019-01-31 14:15] #2720 closed

[2019-01-31 14:18] PierrickGT commented on #3014
Ok thank you. Just wanted to let you know in case you were wondering why this issue isn't progressing. :)

[2019-01-31 14:33] PixelantDesign opened #3647 "Bounty Fulfillment Suggestive Sell"
### User Story

As a funder, how might Gitcoin help me find quality contributors to fulfill the bounties I have funded?

### Why Is this Needed
- I want to be sure that my task will be completed by quality contributors.
- It's hard to suss out quality of contributors on the platform right now.

### Problem Description

As a funder sometimes my bounty gets stale if A) It doesn't get picked up by th

[2019-01-31 15:01] PixelantDesign commented on #3487
wow awesome! @emiwatanabe422! Are you on Gitcoin community slack? Would love to work with you on other illustrations!

[2019-01-31 16:20] owocki commented on #3289
looks really good.  can we have a skitch file?

[2019-01-31 18:01] hatgit commented on #1471
Quick update: there are currently 8 open issues on the Populus repo (see: https://github.com/ethereum/populus/issues?q=is%3Aissue+label%3A%22Good+First+Issue%22+is%3Aopen) with the tag 'good first issue' that can be worked on, be sure to check first with the bounty funder by posing a question here below on eligibility of payment for work that is accepted. Good luck to all applicants, on one of the

[2019-01-31 18:25] owocki commented on #3285
https://gitcoin.co/_administrationgrants/subscription/98/change/

just happened to this one too

[2019-01-31 18:46] owocki opened #3649 "what do we want to use for dispute resolution long term?"
https://kleros.io/
Delphi

[2019-01-31 18:48] owocki commented on #3649
@mbeylin do you think Delphi is on the roadmap still? were evaluating our options and obvi would prefer Delphi if it's going to beshipped soon.

cc @vs77bb

[2019-01-31 18:50] owocki commented on #3645
hmm maybe the solution here is moving the avatar builder to be DB-backed.

i know that @kuhnchris was excited about this for a bit.. but id ont know where we landed!

[2019-01-31 18:59] mbeylin commented on #3649
Yeah we're putting a bit of a pause on Delphi as it isn't something we're squarely focussed on for the immediate future. All of the code for Delphi is open source https://github.com/Bounties-Network/Delphi however we've come to realize the designs are not in a completed enough state to begin being deployed in production.

[2019-01-31 19:32] kuhnchris commented on #3645
hey there kevin! Actually I analyzed the current state and the avatar-history guy did a pretty good job regarding cleaning up all of the avatar stuff. The only thing we ought to change is add front/back colors and recoloring, then it should work. We could also then offer to create the avatars on db, which would also reduce the need to deploy every time we add new avatars.

[2019-01-31 19:46] kuhnchris commented on #3628
Well, actually there even should be a cache available, we could fill that once and then invalidate the cache every 5 minutes, it's even used at some other point in the django project already. aside from that, solving the source would be the "cleanest" solution, even if it's just directly limit the query with up to x rows. If it's just about the "calls" I can sync rinkeby on my server and output a

[2019-01-31 19:54] markusj1201 commented on #3628
Chris,

I would greatly appreciate that, thank you. I've included the chrome audit
URL here. >gitcoin_api.audit
<https://gitcoin.co/issue/gitcoinco/web/3628/2217><

Mark

On Thu, Jan 31, 2019 at 1:47 PM KuhnChris <notifications@github.com> wrote:

[2019-01-31 20:14] markusj1201 commented on #3628
I am going to start by:  minifying the number of critical resources:
eliminating them, deferring their download (lazy load), mark them as
asynchronous, etc, optimize the number of critical bytes to reduce the
download time , up and back, address the order in which the remaining
critical resources are loaded: download the critical assets as early as
possible which will shorten the critical path len

[2019-01-31 20:44] PixelantDesign commented on #3646
Thanks for letting us know @lucasvo. Any ideas you'd like to see to help prevent this?

[2019-01-31 20:49] PixelantDesign opened #3651 "Build Funder Email Confirmation with Feature Bounty"
When I found a bounty, I don't receive an email confirmation that my bounty was successfully funded.

### Description

Build the email so that funders know their bounty has been funded.

### Definition of Done

- [ ] This is a front-end and backend task, at completion this should be a working email.
- [ ] The email should look like the attached design
- [ ] The email should support be able to be d

[2019-01-31 20:59] PixelantDesign commented on #3630
thanks for the report @iamonuwa !

[2019-01-31 21:00] PixelantDesign commented on #3631
thanks for the report @nanspro !

[2019-01-31 21:00] #3627 closed

[2019-01-31 21:01] PixelantDesign commented on #3625
Thanks for reporting @SCBuergel ! We're in the process of cleaning up the buttons!

[2019-01-31 21:05] PixelantDesign commented on #3641
Thanks for the report @FirefighterBlu3 !

[2019-01-31 21:08] PixelantDesign commented on #3634
Could we reuse the sharing modal that @octavioamu built last sprint?

[2019-01-31 21:12] kuhnchris commented on #1855
Hi @saketbairoliya2 there are (at least) 2 unresolved conflicts. Can you fast-forward the changes to current master? Thanks!

[2019-01-31 22:16] owocki commented on #3628
of course! i only did it to demonstrate what performance would look like when this is all optimized.  its not a final solution by any means, just a demonstration of where the slow points in the API call are.

sounds useful to me!

when you say things like this, or submit a PR with a bunch of boilerplate about frontend optimizations, it makes me concerned you maybe haven't understood the task.  the

[2019-01-31 22:17] owocki commented on #3432
yes.  we sent the design over to the ETHDenver folks.  closing this task now

[2019-01-31 22:17] #3432 closed

[2019-01-31 22:42] markusj1201 commented on #3628
Roger that.

On Thu, Jan 31, 2019 at 4:16 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-01-31 23:06] FirefighterBlu3 commented on #3628
@owocki fyi, your previous comment is about two authors. i wrote the first half, @markusj1201 wrote the second half :)

[2019-01-31 23:10] markusj1201 commented on #3628
Thanks David.

On Thu, Jan 31, 2019, 5:07 PM David Ford <notifications@github.com wrote:

[2019-01-31 23:12] frankchen07 opened #3652 "WORKSHOP - As a funder, it's hard for me to see stats on a contributor, and having this type of information would greatly enhance a funder's ability to be selective about forming quality contributor relationships."
### User Story

As a funder, it is difficult for me to see stats on a contributor, and having this type of information would greatly enhance my ability to be selective about forming quality contributor relationships.

### Why Is this Needed

1. Market evidence:

On the bounties platform, we've received comments from funders that for contributors, skillsets vary and some applicants don't have the s

[2019-01-31 23:15] owocki opened #3653 "bug - grant cannot be billed because subscription is not active"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
this subscription should be active but it is not https://gitcoin.co//_administrationgrants/subscription/98/change/

according to correspondance with the subscriber, they have not canceled their grant.  but `subscriptoin.get_is_active_from_web3()` returns False even so

**To Reproduce**
[comment]: # (Steps to re

[2019-02-01 00:37] Nnooo commented on #3449
[PrivateRepos.zip](https://github.com/gitcoinco/web/files/2819607/PrivateRepos.zip)
![privaterepo_fundissue_noissueselected](https://user-images.githubusercontent.com/3150525/52095009-817afb00-2615-11e9-820a-37248dc9400a.png)
![privaterepo_fundissue_issueselected](https://user-images.githubusercontent.com/3150525/52095015-8475eb80-2615-11e9-9f47-14ad2fd7753e.png)
![privaterepo_bountyviewer](https:

[2019-02-01 01:51] Nnooo commented on #3493
Ok @owocki and @PixelantDesign here you go.

![getcoders_pink_withmodules](https://user-images.githubusercontent.com/3150525/52097614-e4718f80-261f-11e9-808d-c49cf3ec1c12.png)
![getcoders_yellow_withmodules](https://user-images.githubusercontent.com/3150525/52097619-e63b5300-261f-11e9-95e6-6e5ad3214d64.png)
![getcoders_blue_withmodules](https://user-images.githubusercontent.com/3150525/52097626-e8

[2019-02-01 01:52] Nnooo commented on #3493
This work so far is @3 days work (24hours).

[2019-02-01 02:02] willsputra commented on #3651
Sketch file in the PR here:
https://github.com/gitcoinco/creative/pull/34

[2019-02-01 13:01] ligi opened #3654 "Duplicate issue comment / mail notification"
Not sure if it is the correct repo for the bug - but as github now allows moving the issue it should not be a big deal. Somehow this post was triggered twice - there seems to be a bug in the pipeline:

![selection_008](https://user-images.githubusercontent.com/111600/52124518-bf821a00-2629-11e9-8944-4c0b3b02ee62.png)

[2019-02-01 13:35] kuhnchris commented on #3642
Sure, let's converse on Slack, I should be able to deploy it later today for you.

[2019-02-01 13:39] charlie4biz commented on #3514
@franchen07 still waiting for feedback

[2019-02-01 14:01] PixelantDesign commented on #3493
Thanks for the updates @Nnooo! Looks pretty good. Last thing I would say is we probably don't need the double Gitcoin logo at the top of the landing page and in the header as well. I'd suggest using other graphics in the header if possible.

[2019-02-01 15:05] octavioamu commented on #3627
Main issue #3651

[2019-02-01 15:06] octavioamu commented on #3651
@Sprimage I think @iamonuwa is already working on this one.

[2019-02-01 16:04] owocki commented on #3427
Thanks so much for your time today.  Here are notes / action items
- modals , instead of cronjob for when you get your (Chris)
- design little paper print outs. status logo (Kevin)
- first page, uport attestation module -- should  custom NFT in the 'uport Attestation' module on landing page. "non fungible totem -- Unique and custom to you for compelting the game will bring you wonderful good luck

[2019-02-01 16:04] owocki commented on #3427
oh and one more.. merge in the new bulk receive template changes into the ethdenver kudos airdrop

[2019-02-01 16:37] lrgeoemtry opened #3655 "29 Person Bounty Remittance Kinda just fell apart at person 18"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
I had this bounty <https://gitcoin.co/issue/HERCone/HIPR/6/2116>
29 people joined and i wanted to remit at the end of it
i had to type in all the names individually (no big deal but UX could be better)
and then calculate the split % of all of them (no big deal but UX could be better)

I got to about 15th person

[2019-02-01 17:34] owocki commented on #3655
thanks for letting us know @lrgeoemtry

i have noticed that metamask will stop serving popup windows after you create a couple, and you need to click in the top right to find the metamask confirmation window.  do you know if this is what happened, or if it just stopped sending confirmation windows altogether?

note: that issue is tracked here https://github.com/MetaMask/metamask-extension/issues/3

[2019-02-01 18:36] PixelantDesign commented on #3289
hey @frankchen07 @owocki @thelostone-mc here is and update and the general flow for opting into a pricing package.

![pricing flow 020119](https://user-images.githubusercontent.com/238235/52141787-db36f180-2624-11e9-93f5-e9a620e16035.png)

**Changes include:**

_Pricing Screen_
- updates to the pricing page design
- when user is on this page, nav is hidden so they aren't distracted to do other thi

[2019-02-01 18:40] danlipert opened #3656 "Grant detail pages return 500 error due to template tag formatting exception"
**Describe the bug**
[comment]: # Grant detail page returns 500 due to issue with template tag

**To Reproduce**
[comment]: # Unknown

**Expected behavior**
[comment]: # Grant detail page should appear

**Screenshots**
[comment]: # (If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the following information):**

- OS: Mac OS 10.13
- Browser Chrome
- Browser

[2019-02-01 18:54] lrgeoemtry commented on #3655
stopped sending confirmation windows all together
def tho the UX for 15+ bounty hunters needs to be worked on
like i said quick fix would to just not let more than 15 accept while the long term fix is tinkered with.

we're working on an ENS EIP for PGP style metadata privacy on chain at ethdenver but maybe this could be something to build out?

[2019-02-01 19:07] danlipert commented on #3656
Fixed by https://github.com/gitcoinco/web/commit/cb78a53b3591d696f8d20f841bac27c1883f3887

[2019-02-01 19:07] #3656 closed

[2019-02-01 19:21] PixelantDesign opened #3657 "Fix Gitcoin Navigation"
As a user I'd like to navigate a site that doesn't look like the nav is breaking on every page.

On a couple of screens the primary nav is breaking/wrapping inconsistently.

**On Issue Explorer**
<img width="1271" alt="screen shot 2019-02-01 at 2 14 07 pm" src="https://user-images.githubusercontent.com/238235/52144390-27d1fb00-262c-11e9-91eb-ba74218cd37a.png">

**On Fund Issue**
<img width="1255"

[2019-02-01 19:43] john-light opened #3658 "500 error when trying to fund vipnode grant"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

I am trying to fund the vipnode grant and get this error message:

[code]

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

1. Go to vipnode grant page https://gitcoin.co/grants/32/vipnode/fund
2. Try to fund grant, 5 DAI per 30 days repeating 6 times
3. Notice error message after clicking "Con

[2019-02-01 19:55] kuhnchris commented on #3655
Well, one possibility is that we make "5-confirmation-blocks", e.a. confirm 5 at a time and then have the user click "confirm next payouts", as a 'quick and dirty fix'

[2019-02-01 20:31] alex-coinfund opened #3659 "A bounty created by an ETH-only account is not associated with the Github+ETH profile."
**Describe the bug**
I have created bounty https://gitcoin.co/issue/adapt-toolkit/mufl-poc-cpp/17/2253 as an ETH-only account. I was not prompted to login with my GitHub account. Subsequently, a developer applied to work on the bounty. I have decided to reject the developer because of prior history not showing him to be particularly reliable. Clicking "Reject" caused a prompt that invited me to lo

[2019-02-01 21:38] john-light commented on #3658
Those exact values. I entered the exact same for a couple of other grants and it worked, it's only on the vipnode grant page that I had an issue.

[2019-02-01 21:42] frankchen07 commented on #3593
@thelostone-mc [Gitcoin.PRicing_02012019.zip](https://github.com/gitcoinco/web/files/2823447/Gitcoin.PRicing_02012019.zip)

Designs are also at: https://github.com/gitcoinco/web/issues/3289

[2019-02-01 21:49] PixelantDesign opened #3660 "Creative Ideas for Gitcoin Ads"
We're looking for some creative ideas to use for facebook ads.

### Description
Create graphics for the following languages in the Gitcoin style.
See illustrations across the site for ideas. Gitcoin style is typically line art with a few high light colors, mostly green.

See creative repo for brand guide.
Image dimensions: 1000x1000
Note: Text cannot take up more than 20% of the image.
Please use

[2019-02-01 22:32] oogetyboogety commented on #3628
@owocki The main issue appears to be each bounty's related interests being looped through and a roundtrip query for each one. I'll see if we can prefetch it somehow.

[2019-02-01 23:47] owocki commented on #3658
@john-light i just put in a fix.  pls try now!

for any future maintaineres who are interested in my spelunking.. what happened was that the grant deployment tx was dropped and replaced.. so the contract address that was in the database (which resulted from the deploy tx) was in valid.

[2019-02-01 23:47] #3658 closed

[2019-02-02 07:58] ceresstation opened #3663 "As a funder I want to see previous contributions to projects and what my expected CLR match is"
# User Story

As a donor I would be more incentivized to contribute money if I knew how much Gitcoin would approximately match

# Why
Funders want to know....If I donate to this grant - how much potential scale/match so i know their contribution is counted some how.

# Assumptions

Human - People will not exploit this. Hiding this info will make it less exploitable. People wont use this to create

[2019-02-02 15:57] SaptakS commented on #3014
@PierrickGT check the file `app/dashboard/router.py` and find the code snippet:
[code]
Here, add in the fields, `'kudos'` and you should get all the kudos related information in the response. You can then use it in a similar way as used in `gitcoin.co/activity` to show the image with the url for the kudos.

Hopefully this helps. :)

[2019-02-02 16:52] markusj1201 commented on #3628
Nice work.

On Fri, Feb 1, 2019, 6:22 PM oogetyboogety <notifications@github.com wrote:

[2019-02-02 17:13] octavioamu commented on #3014
@saptak I already do that test but looks like that only add kudos:1 is has kudos

[2019-02-02 17:40] kuhnchris commented on #3121
Update: We finished pretty much all of our tasks now I was assigned to, just some rework to do, then I can get the avatar stuff working. The new guy who redid the avatar stuff did a pretty good job on cleaning up so it should only be a short while left.

[2019-02-03 08:42] uivlis commented on #3561
Hi there @vs77bb, is this bounty still open?

[2019-02-03 10:18] danlipert commented on #3289
Looks great @PixelantDesign ! My only comment here is that the copy on the payment page is the copy from the grants page so that will need to be replaced.

[2019-02-03 13:55] danlipert commented on #3580
Looks like the `/v2/bankinfo/:country` is only for China and Brazil. US and AUS look like any bank is supported.

Note that some US states are not supported: [https://support.sendwyre.com/security/non-operational-states-in-us-and-countries](https://support.sendwyre.com/security/non-operational-states-in-us-and-countries).

All in all, the Wyre v2 API looks very nice and easy to work with. What sor

[2019-02-03 15:46] owocki opened #3665 "grants - if deploy tx is dropped and replaced, then the grants.contraact_address is null, and this causes funding of a grant to fail"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
grants - if deploy tx is dropped and replaced, then the grants.contraact_address is null, and this causes funding of a grant to fail

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
1. deploy a grant
2. tx that deploys it should be dropped and replaced
3. smart contract gets created, but the sys

[2019-02-03 23:04] Nnooo commented on #3493
Hi @PixelantDesign I include two versions below. I would recommend using the Gitcoin logo for a few reasons:

1) The likelihood is that the users are coming to this page as first time users of Gitcoin
2) It is therefore likely the know little, if anything about the site
3) I would therefore suggest you use every opportunity to reinforce the brand (Gitcoin) to the user
4) By attaching the logo to t

[2019-02-03 23:35] owocki commented on #3535
Category suggestion for the grants product https://twitter.com/selectacrypto/status/1091980434689409024?s=21

[2019-02-04 02:09] owocki commented on #3628
Awesome!  Can you submit a PR!?

What di you use to generate those stats?

On Fri, Feb 1, 2019 at 5:22 PM oogetyboogety <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitte

[2019-02-04 06:16] anshumanv opened #3667 "Featured bounties have wrong bounty value"
**Describe the bug**
Ether value of featured bounties is less.

**To Reproduce**
Goto explorer and see featured bounties

**Expected behavior**
Correct ether value as shown in the bounty page

**Screenshots**
Wrong value in ether
![image](https://user-images.githubusercontent.com/21009455/52192899-550fea80-2872-11e9-9533-97ddb0eb2088.png)

**Desktop (please complete the following information):**

[2019-02-04 06:17] anshumanv commented on #3667
Hardcoded here - https://github.com/gitcoinco/web/blob/127eee1adceddda0350e495f049bc756ffb83e68/app/retail/templates/shared/featured_bounty_cards.html#L9

I should be able to fix it. 🎉

[2019-02-04 10:11] iamonuwa commented on #3651
@gitcoinbot work in progress #3666

[2019-02-04 12:50] thelostone-mc commented on #3580
@danlipert
- Is the id returned from `/v2/transfers` the same as `transferId` ?
- I'm still unclear on how KYC fits into this picture. (as mentioned in the ticket )
Like would only gitcoin have to KYC verfied / every user on gitcoin using this service (would they would have to create an account ) ?

@frankchen07 @ceresstation
Not relevant but curious
- At any point would they also add changing tok

[2019-02-04 12:55] owocki commented on #3370
@kuhnchris do you think we can get a PR in for this soon? we're already starting to see degraded performance from the infura api, so this may get a bump in priority soon.

(related: is https://github.com/gitcoinco/web/pull/3575 still WIP? or ready for test?)

no pressure, i can always ask others in the community if ur too busy.

best,
kevin

[2019-02-04 13:09] danlipert commented on #3580
@thelostone-mc Yes, each person who wants to either use the onramp or offramp has to go through Wyre's KYC process. It's not too bad actually, probably the nicest I've seen in all the KYC products I've worked with in terms of UX, but it is still KYC so there are many steps (scanning IDs, entering sensitive social security info, etc.) Thankfully, the end result is that Wyre sends the user's address

[2019-02-04 13:41] danlipert opened #3668 "As a developer, I want to remove unused Javascript libraries so that software erosion and vulnerabilities don't slow down development"
### User Story

As a developer, I want to remove unused Javascript libraries so that software erosion and vulnerabilities don't slow down development.)

### Why Is this Needed

*Summary*: The current repo contains a large amount of Javascript libraries, which will trigger things like automated CVE alerts on github. These Javascript libraries are generally not used, as they were part of a previousl

[2019-02-04 14:33] PixelantDesign commented on #3667
Thanks for the report! I'll tip for the fix!

[2019-02-04 14:34] PixelantDesign commented on #3667
@octavioamu please review!

[2019-02-04 16:04] ceresstation commented on #3663
@owocki additional thoughts on if we can get this up and running? Do we have cycles for it?

[2019-02-04 16:11] anshumanv commented on #3667
Sending a fix for it!

[2019-02-04 16:18] octavioamu commented on #3667
Sorry @anshumanv I didn't know you were working on this.

[2019-02-04 16:18] anshumanv commented on #3667
Ah! No worries @octavioamu 😄

[2019-02-04 16:20] kuhnchris commented on #3370
Uh, there is a PR already for this on here?
We need to test it, yes, the #3575  one. Maybe @danlipert wants to take a look at it?

[2019-02-04 16:21] octavioamu commented on #3667
Anyway, good catch @anshumanv ! we missed that

[2019-02-04 16:23] kuhnchris commented on #3668
I think those dependencies are pretty much dead, also, they are just dev dependencies. I suspect these are due to minifying the javascript, but I have no idea if it is in the current workflow embedded.
Maybe check the Makefile?

[2019-02-04 16:54] owocki commented on #3659
@alex-coinfund thanks for your patience.

i just rejected the worker for you.    if another bounty hunter applies, i can accept them for you.

to your point, we product-wise, we should not have allowed you to post this bounty without auth'ing you with github.  we will make a ticket to track this, and i will also look into associating this bounty with your github username

[2019-02-04 17:07] writeprovidence commented on #3487
![snow house](https://user-images.githubusercontent.com/31359701/52224221-5f94a900-289f-11e9-975d-04b9f89c29b5.png)

[2019-02-04 17:08] writeprovidence commented on #3487
![spring](https://user-images.githubusercontent.com/31359701/52224252-74713c80-289f-11e9-8d10-f84e7a48c24b.png)

[2019-02-04 17:09] writeprovidence commented on #3487
@owocki just made some creative

[2019-02-04 17:17] ligi commented on #3654
FYI - it happened again:

![selection_011](https://user-images.githubusercontent.com/111600/52224783-26f9cd00-28a9-11e9-94c8-b3af90bd9079.png)

[2019-02-04 17:31] charlie4biz commented on #3514
Yes, I am still working on the issue. Just waiting for the Funder to
respond to the content I published on my repo before submitting as work
done.

On Mon, Feb 4, 2019 at 6:16 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-02-04 17:36] uivlis commented on #3660
Alright, here's one possible idea:

![js](https://user-images.githubusercontent.com/7414543/52225536-47c72000-28b3-11e9-86d4-eed4be753f1c.png)
![py](https://user-images.githubusercontent.com/7414543/52225538-48f84d00-28b3-11e9-9fd0-8c0da0717661.png)
![node](https://user-images.githubusercontent.com/7414543/52225539-4990e380-28b3-11e9-8b5c-bb1c63dce91f.png)

I'm thinking about other concepts, too,

[2019-02-04 17:40] frankchen07 opened #3670 "Schedule and conduct 3 more funder interviews"
### User Story

Schedule and conduct 3 more funder interviews

### Why Is this Needed

Understand the needs of our funders and get more insight on pricing.

### Description

Scott to help schedule.
Frank, Alisa, and Scott to run.

### Definition of Done
3 more funder interviews.

[2019-02-04 17:44] danlipert opened #3671 "Bounties can be created without a Github profile (ETH-only account), which causes issues managing the bounty"
**Describe the bug**
Users can create bounties without logging in to Github. Once the bounty is created with an ETH-only account, it has limited ability to manage the bounty.

**To Reproduce**
Create an account without syncing with Github, then create a bounty.

**Expected behavior**
ETH-only accounts should not be able to create bounties.

**Additional context**
From: https://github.com/gitcoinco

[2019-02-04 18:17] alex-coinfund commented on #3659
Thanks, Kevin!

[2019-02-04 18:36] oogetyboogety commented on #3628
@owocki I used the django silk profiler already built into gitcoin. The callgraph it generated also shows roundtrip db queries to get avatar urls for each profile in ProfileSerializer. It shows the prefetched queryset gets invalidated here:
https://github.com/gitcoinco/web/blob/master/app/dashboard/models.py#L2081

So prefetching active avatars is what i will wrap up today to finish work on this p

[2019-02-04 18:38] anshumanv commented on #3667
Fixed in https://github.com/gitcoinco/web/pull/3669 🎉

[2019-02-04 18:38] #3667 closed

[2019-02-04 18:53] frankchen07 commented on #3514
@charlie4biz - thanks for being patient. After some deliberation, we realize that there's alot of internal information on this article (e.g about employees, and Gitcoin team setup) that only an internal Gitcoin member knows about.

We'll be bringing in the issue internally to complete at least the body and writing portion, and then if it necessitates re-bountying out to to the public for wiki-spec

[2019-02-04 18:56] #3514 closed

[2019-02-04 19:05] abitrolly commented on #3623
It is not clear what this issue awards. Setting status on issues, reporting new issues or solving them?

[2019-02-04 22:03] owocki opened #3673 "as a grants user, i want an embedded way to transfer my ETH into DAI/WETH/other so i can easily donate to a grant"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants user, i want an embedded way to transfer my ETH into DAI/WETH/other so i can easily donate to a grant

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
beyli

[2019-02-04 22:33] octavioamu commented on #3668
The only time I found that we run `npm install` is in `.travis` and after that looks like only 2 of that list are used :
[code]
So I think we can just remove the others without issues.
extract from travis:
[code]

[2019-02-04 22:54] frankchen07 commented on #3647
I like this idea alot as well. I agree with Scott that it should be priced into a larger model rather than a issue by issue basis, however, we can test this idea by adding an option in the funder form, as a clickable event (perhaps that doesn't charge, or maybe it does and we find matches manually a la carte).

Question two for workshopping deals more with "how do we present this to the funder pop

[2019-02-04 23:14] frankchen07 commented on #2808
thanks - will try my best to build this into the next sprint, get it merged, and get @oddballbutler paid out. Thank for being patient, lots of moving pieces.

[2019-02-05 03:13] owocki commented on #3623
Solving issues.

[2019-02-05 03:51] oogetyboogety commented on #3628
@owocki Wrapped up prefetching of avatar urls. @kuhnchris got silk working as well, so he may be able to checkout these changes and time them for you. You can also just time the curl request like you were doing before.

Now there are dashboard tips that accumulate queries and on demand computation. These could also be condensed into one query. We should set the scope for this particular issue; IMO

[2019-02-05 06:32] danlipert commented on #3578
### General

 - Should there be an inactive state for the "express interest" button once the user has submitted their application for the bounty?
 - Whats the project type default? In these designs, its shown as "Cooperative", but there's no controls to set the project type in the bounty creation flow.
 - I like the Simple flow a lot! It seems like we could start there and then easily build out th

[2019-02-05 06:41] danlipert commented on #3479
I think the recent confusion regarding the bars supports #2 - I believe funders will expect to have a Patreon-like metric that counts any donations in a given month, regardless of if they are one-off or recurring.

[2019-02-05 06:46] danlipert opened #3674 "Grant Progress Bars will display incorrect information next month (March 2019)"
As a stopgap measure, we've changed the metric that drives the progress bar to the total amount of funding, instead of the funding given this month. While this is legit for this month, when the month changes, these numbers will not reset with the current codebase.

**Expected behavior**
We should ensure that the monthly numbers are calculated correctly and in a way funders understand before March.

[2019-02-05 09:21] kuhnchris commented on #3673
OasisDex is dead, I think you mean Eth2Dai?

https://medium.com/makerdao/a-new-oasis-5b9539a64adf

[2019-02-05 13:53] #3588 closed

[2019-02-05 13:59] PixelantDesign opened #3675 "SUBTASK #3449 Build Front End Private Repo"
#3449

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started

[2019-02-05 14:00] PixelantDesign opened #3676 "SUBTASK #3449 BUILD Backend Private Repo"
#3449

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started

[2019-02-05 14:05] octavioamu opened #3677 "Total in basic payout"
### Who

### What
As a funder with bad memory I want to know the amount I'm going to pay in this moment and also the final amount if I pick a kudos.

![image](https://user-images.githubusercontent.com/1358093/52278128-6bcf4380-293d-11e9-9f11-efe3a10d5bab.png)

### Why
There is no place showing me the total value I'm paying.

[2019-02-05 14:06] PixelantDesign commented on #3578
Adding the file here for reference:
[Private Repo UX.pdf](https://github.com/gitcoinco/web/files/2832365/Private.Repo.UX.pdf)

[2019-02-05 14:30] PixelantDesign opened #3678 "SUBTASK #2510 WORKSHOP Verified Contributor/Funder"
#2510

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who has either funded an issue on Gitcoin or completed several bounties successfully, i'd like a 'verified' image on my profile, so ppl know i'm legit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-02-05 14:31] danlipert commented on #3370
@kuhnchris Looks pretty good to me - I can test more once I have staging access. Do you think this is ready to go in your opinion? I have a feeling Infura whitelist requirements will take a little while longer so just switching to the API key version is probably good for the moment.

[2019-02-05 14:45] PixelantDesign opened #3679 "SUBTASK #3450 BUILD Frontend Sharing with Kudos"
#3450

### User Story

As a contributor, how can I encourage other great developers to join Gitcoin and help grow open source?

### Why Is this Needed
To grow the Gitcoin platform with qualified contributors/developers. how do we best do this?

### Problem Description

There are a lot of ways to tackle virality. How do we approach this so that we aren't having to pay as much as we would pay for go

[2019-02-05 14:50] kuhnchris commented on #3370
I can deploy it on my test system if you want to test.

[2019-02-05 14:54] kuhnchris commented on #3665
Well, do we get those informations when we have our own geth? I sadly have no idea how the "dropped & replace" workflow works within ethereum, so I cannot tell you if this helps in any ways. What I do know is that we use infura for all blockchain communications, so I assume there were some drawbacks like having to host your own geth, which wouldn't really be that bad tbh. especially if we write ou

[2019-02-05 15:11] danlipert commented on #3665
We might get that info from our own node - it depends on if the dropped transaction ever makes it to our node or not. If the replacement txn is issued quickly thereafter, other nodes may not pass it to us. I suppose even etherscan may have an incomplete history depending on how the replaced transaction propagates (I'm 80% confident thats how the txn replacement mechanism works). Definitely running

[2019-02-05 16:31] PixelantDesign opened #3681 "SUBTASK #3450 BUILD Backend Sharing with Kudos"
#3450

### User Story

As a contributor, how can I encourage other great developers to join Gitcoin and help grow open source?

### Why Is this Needed
To grow the Gitcoin platform with qualified contributors/developers. how do we best do this?

### Problem Description

There are a lot of ways to tackle virality. How do we approach this so that we aren't having to pay as much as we would pay for go

[2019-02-05 16:37] frankchen07 opened #3682 "Schedule 3 more funder interviews."
Schedule 3 more funder interviews.

[2019-02-05 18:12] danlipert commented on #3593
@frankchen07 @PixelantDesign Just wanted to drop a note here about our brief discussion in our sprint planning call regarding potential "per-seat" pricing for enterprise, and how that can tie into future development of organizations and having multiple employees from the same team manage a bounty together.

[2019-02-05 18:33] captnseagraves opened #3684 "Bug - Validation for Grants/new"
**Describe the bug**
User entered title that was too long and had issues creating a grant.

**To Reproduce**
Grants/new: Create grant with title longer than 200 characters.

**Expected behavior**
Frontend should gracefully give validation warning