[2019-11-06 01:58] #5321 closed

[2019-11-06 02:17] #2808 closed

[2019-11-06 04:48] #5448 closed

[2019-11-06 05:28] abitrolly commented on #5399
![image](https://user-images.githubusercontent.com/8781107/68270672-2330ec00-006f-11ea-8271-52909ca98126.png)

Why it still needs access to organization membership and the list of private projects??

[2019-11-06 10:38] Solexplorer commented on #5436
At the end of the quest, have the possibility to add more learning material to go deeper in the subject

[2019-11-06 13:51] octavioamu commented on #5399
@abitrolly we just need read orgs actually to be able to manage teams of organisations and github scopes are not very flexible https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/

[2019-11-06 13:52] #2978 closed

[2019-11-06 14:23] owocki commented on #5404
@molecula451 bounty link?

[2019-11-06 15:44] danlipert opened #5459 "Grant owners cannot self-fund grants via recurring subscription"
**Describe the bug**
If a grant owner attempts to self fund a grant, the subscriptions will fail in the subminer due to a check in the grant contract code that the origin and destination addresses are not the same: https://github.com/danlipert/grants1337/blob/specify-relayer/contracts/Subscription.sol#L186

**To Reproduce**
Create a grant and then with the same recipient address create a recurring

[2019-11-06 16:57] mul1sh commented on #5281
@frankchen07  no it's quite o.k i'm the one who got everything mixed up from the docs, sorry for this but @kuhnchris  explanation cleared up things. So will this ready & tested by Monday then 🙂

[2019-11-06 17:29] owocki commented on #5208
thanks! will payout upon merge

On Wed, Nov 6, 2019 at 9:45 AM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, faceboo

[2019-11-06 17:33] owocki commented on #5459
its not the grant owner that cant be the same, its the origin/destination addresses right?  owner is a seperate field

https://gitcoin.co/grants/151/codefund-part-time-software-engineer-2 for example ; my subs is going fine bc the destination addr != my address (though i am owner)

regardless, i think ur fix is a good one @danlipert !  shalli bounty away!?

[2019-11-06 19:10] abitrolly commented on #5399
@octavioamu why `public_repo` is not enough?

[2019-11-06 19:11] octavioamu commented on #5399
@abitrolly we are not currently asking for repo scope private or public, just the org. ['read:user', 'user:email', 'read:org']

[2019-11-06 19:19] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-06 20:16] owocki commented on #5317
my PR was merged and deployed today..  You will now no longer see complaints that 'metamask is unlocked' as you use Gitcoin in opera :)

Hat tip to the engineers for helping me get this across the finish line!

i still need to test across a few other browsers..  that might be somethign that i bounty soon

[2019-11-06 23:31] frankchen07 opened #5462 "As a Gitcoin operator, we need to migrate certain Metamask calls"
### User Story

As a Gitcoin operator, we need to migrate certain Metamask calls.

### Why Is this Needed

So Gitcoin doesn't break.

### Description

Summary: https://medium.com/metamask/deprecating-synchronous-provider-methods-82f0edbc874b

Starting Monday, December 16, 2019, all MetaMask provider send() calls will behave asynchronously, just as they do under the hood. They will return Promises,

[2019-11-06 23:45] owocki commented on #4943
anyone wanna jam on this? let me know ! i have eth to spend here

[2019-11-06 23:48] owocki commented on #3979
@Anish-Agnihotri r u still working on this

[2019-11-06 23:57] owocki commented on #5436
quests tracks - i can opt into certain learning trees and complete them

[2019-11-07 00:26] owocki commented on #5436
since its the most requested feature.. i just coded up quests feedback

herees what it looks like.. its live now:

<img width="801" alt="Screen Shot 2019-11-06 at 5 25 43 PM" src="https://user-images.githubusercontent.com/513929/68349463-85630e80-00ba-11ea-82a1-865244f77d90.png">
<img width="987" alt="Screen Shot 2019-11-06 at 5 25 13 PM" src="https://user-images.githubusercontent.com/513929/68349

[2019-11-07 02:30] Sirlupinwatson1 commented on #5339
@merwane  @owocki  ive made the first step. writing a brief road, maybe not good but wathever, and started up the project, where i should show you, i made it private just for now

[2019-11-07 02:33] Sirlupinwatson1 commented on #5339
@merwane  @owocki maybe it will be easyer than i tought lol.

https://github.com/Sirlupinwatson1/Adlez-A-Knil-Ot-Eht-Tsap

[2019-11-07 03:31] molecula451 commented on #5404
@owocki I have work submitted on this bounty https://gitcoin.co/issue/validitycrypto/vldy.org/2/3645

It shows I have submitted any work.

![gitcoin](https://user-images.githubusercontent.com/41552663/68358006-8d887180-00ed-11ea-864a-d511c17e5965.png)

![0](https://user-images.githubusercontent.com/41552663/68358024-94af7f80-00ed-11ea-9a93-09d4e1b864ad.png)

[2019-11-07 04:33] owocki commented on #5339
can u invite me to that repo

On Wed, Nov 6, 2019 at 7:33 PM SirLupinWatson <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook

[2019-11-07 04:39] Sirlupinwatson1 commented on #2808
Congrats @frankchen07

[2019-11-07 05:03] Sirlupinwatson1 commented on #5339
@owocki  i made it public now

[2019-11-07 05:04] Sirlupinwatson1 commented on #5339
but however @owocki   i don't do this for the ethereum, but for fun, and to learn because that is always the case with me, i start something to make money but at the end i do it to learn and because i like it. hahaha,i mean that is funny

[2019-11-07 05:07] Sirlupinwatson1 commented on #5339
you know i don't do this now i am concentrate on AI with microsoft deep learning, and a lot of other things ,stream chanel, customize it, also with intel dev zone on some stuff, crypto also. i might try want too much at the same time but they all came together , and i do renovations building house is my job. so i will do as much  i can but i like the AI and the lesson they give.

[2019-11-07 05:43] Sirlupinwatson1 commented on #5436
Great idea, to have like a advance phase

[2019-11-07 06:08] owocki commented on #5436
a 👍 and 👎 button on the quest so u can give feedback on whether a quest is good/worthwhile or not

[2019-11-07 11:45] molecula451 commented on #5418
Hi. I have added some new fixes so the user it's able to submit it's answer. More updates are coming a long the way. I will strive to keep the document updated. Aswell as support for the other mobile UI platforms.

[2019-11-07 16:18] frankchen07 commented on #5347
@willsputra

1. to think about whether or not to reveal extend expiration

2. are there changes to the contributor view for the github issue details? (shall we change the button layout to match the funder's view?)

3. clean up the three "states" of login and which buttons are shown

4. do we want another button type (greyed out payout?)

[2019-11-07 19:01] owocki opened #5465 "DESIGN - BOT Creatives - Winter 2019; 6th Edition"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="787" alt="Screen Shot 2019-08-28 at 11 34 24 AM" src="https://user-images.githubusercontent.com/513929/63878979-e5855800-c987-11e9-906f-699d27f6a144.png">

This is a bounty to create more Gitcoin Bots in new interesting scenes & styles.

# Pricing

i'll pay 35 DAI per artwork that looks as though some effort was put

[2019-11-07 19:01] owocki commented on #5089
@uivlis can u pls comment on the outstanding/unpaid PR?  thanks

[2019-11-07 19:01] owocki commented on #5089
heres a new bounty for 6th edition bots! https://github.com/gitcoinco/web/issues/5465

[2019-11-07 19:10] owocki opened #5466 "do a sweep of site on opera web3 and note (and fix) what pages do not work"
from our friend @yorkerhodes :

Using opera, there Still seems to be an issue on Funding here:

![unnamed](https://user-images.githubusercontent.com/513929/68419105-d4f71800-0156-11ea-9c2a-3086032ca51c.jpg)

but it works on other pages!

the scope of this bounty is to
1. install opera + opera crypto wallet
2. figure out what pages are working + what are not
3. submit a patch for those who arent wo

[2019-11-07 19:36] frankchen07 opened #5467 "Gitcoin Tribes v1 Designs"
### User Story

Gitcoin Tribes v1 Designs

### Why Is this Needed

As we improve on our hackathon offerings, Gitcoin Tribes is the offering that allows sponsor / hacker relationships to continue.

### Description / Positioning Statement

Gitcoin Tribes positioning statement:

1. Gitcoin Tribes offers a two-way broadcast for highly engaged hackers and funders to continue relationships and do high-l

[2019-11-08 05:58] zoek1 commented on #5466
hey @owocki, i can start working on this. I have full setup to test this and start to work. I can't apply at gitcoin because i just waiting this bounty being merge. But in the meantime i can start working on this. what do you think?

[2019-11-08 12:59] abitrolly commented on #5399
`public_repo` includes `collaborators` - is it not the same?

[2019-11-08 15:36] owocki commented on #5466
@zoek1 sure i just upped your work limit so u can apply

[2019-11-08 15:37] owocki commented on #5466
@theperfectpunk @jorropo - gitcoin shows your reliability ratings to be a bit low... do u think thats fair?  (asking as someone who build that reliability algorithm a while back.. i want feedback from someone whos actually affected by it!)

[2019-11-08 17:58] kdm5126 opened #5470 "ENS support for sending on gitcoin"
Add ens support in a shared.js function...

Use this function to add ens support for
- kudos withdrawals.
- tip sends
- kudos sends

on Gitcoin

[2019-11-08 19:51] thelostone-mc commented on #5399
@abitrolly
Permissions we are requesting : https://github.com/gitcoinco/web/blob/61bbb8de729dcedd7a27adbc1af38f526ab77ab2/app/app/settings.py#L535

What are you suggesting ?

[2019-11-09 06:02] abitrolly commented on #5399
I'd suggest documenting how gitcoin.co is managing teams of organisations and what is why collaborators returned by `public_repo` are not the same.

[2019-11-09 06:43] theperfectpunk commented on #5466
@owocki I don't think that's fair as I have completed only one other bounty on gitcoin and that too on time so that should give me a positive reliability. But if the number of bounty previously completed alone increases the reliability and you start from zero reliability, then it is fair.

[2019-11-09 15:04] owocki commented on #5466
thanks for the feedback.. we might need to smooth the curve from 'unproven' to actually joining the reliability rating system :)

[2019-11-09 17:29] alexvotofuture opened #5471 "Show payout breakdown in basic payout"
### User Story

As a funder I want to know how much I'm about to pay out to a contributor when using basic payout.

### Why Is this Needed
Prevent erroneous payments, promote confidence upon payout that everything is working correctly.

### Description
*Type*: Feature

### Current Behavior
No price breakdown. Advanced payout has this, which helps people understand bounty amount, fees, etc.

### Ex

[2019-11-09 17:36] alexvotofuture opened #5472 "Stop showing emails in bounty activity feed"
**Describe the bug**
Contributor emails show up publicly on the activity feed upon work being done. It is not clear to contributors when they create a profile that this email will be shared at all, let alone publicly in plaintext.

**To Reproduce**
Any time work is done.

**Expected behavior**
Hide the email, and let funders get in touch via Github or any voluntarily-listed contact info on their p

[2019-11-10 08:14] vince0656 commented on #5456
Thanks for approving me for this work - I’ll get started on this shortly

[2019-11-11 07:16] molecula451 commented on #5443
The realoding it's facing some issue. When you just submit a work. It still showing your 'update it's being posted on the ETH network' and it is an unstoppable loop

[2019-11-11 09:07] StatusSceptre commented on #5317
Can confirm our dashboard is now working :) Thanks you guys! This view is helpful.

[2019-11-11 09:09] StatusSceptre commented on #5259
Can confirm that our dashboard is now working. Sorry I missed your comments, but thanks for the fix, guys! This view is helpful.

[2019-11-11 10:44] vs77bb opened #5473 "Default Gas Settings Off"
**Describe the bug**

Sometimes, 'Slow', 'Medium', 'Fast' indicators are a bit off 😄

![image](https://user-images.githubusercontent.com/23297747/68581305-11d15080-0470-11ea-8ec9-fcc64101eec1.png)

**To Reproduce**

http://gitcoin.co/new or any page where a tx is required.

**Expected behavior**

'Fast' tx's to always be < 1 minute, regardless of price.

**Screenshots**

[2019-11-11 12:00] danlipert commented on #5467
From a backend standpoint I think this is pretty simple to implement - from a frontend/design standpoint I'd like to see the "invite to tribe" functionality have some more consistency. Within this ticket alone I think there are 3 different designs for inviting someone to a tribe. But otherwise I think its good - one additional note is that I think the "Email Tribe" functionality is somewhat danger

[2019-11-11 12:26] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-11 13:45] rasliche commented on #5338
I can't seem to choose an "enemy kudos". Am I not following the process correctly?

[2019-11-11 14:06] rasliche opened #5476 "Can't select an enemy Kudos when creating a new Quest"
**Describe the bug**

There are no options in the "Enemy Kudos" select form field.

**To Reproduce**

Visit: https://gitcoin.co/quests/new

Try to select an Enemy Kudos

**Expected behavior**

Should be able to select an Enemy Kudos

**Screenshots**

It's an empty select

**Desktop (please complete the following information):**

- OS: OS X 10.13.6
- Browser: Brave
- Browser Version: 0.70.121

**Ad

[2019-11-11 14:36] octavioamu commented on #5311
Is not the reason why we setup mailchimp? I think this need to be managed in the mailchimp side giving managers the ability to setup each layout.
We don't have currently a system to give managers the ability to visually create a template for an email.
Mailchimp have tools for this, also for the automation part, just need to setup the rules for each mailing list and people will receive this emails.

[2019-11-11 14:39] octavioamu commented on #4941
But the lawyers know we don't send personal data? I mean there is no identification of the analytic data.
I'm just bringing this because hunters on hour ecosystem are very cautious about sharing personal data and that message can easy scare them.

[2019-11-11 15:12] owocki commented on #5404
@octavioamu any update whats up here?

@molecula451 this is with your @molecula451 gitcoin account right?

[2019-11-11 16:08] molecula451 commented on #5404
@owocki Yes awesome Owocki!

[2019-11-11 16:16] owocki commented on #5338
@rasliche looks like theres a bug in that part of the form.. looking into it

[2019-11-11 16:27] androolloyd commented on #5352
https://github.com/gitcoinco/web/tree/chat/oauth

[2019-11-11 16:39] owocki commented on #5476
7220c813fa604614d03001b73674097fa3970c61 should fix this

[2019-11-11 16:40] owocki commented on #5476
try now! https://gitcoin.co/quests/new

[2019-11-11 16:40] #5476 closed

[2019-11-11 16:41] owocki commented on #5338
@rasliche just put in a fix.. try now https://gitcoin.co/quests/new

[2019-11-11 17:33] androolloyd commented on #5352
- this isn't entirely correct, more research needed, it does compile and give us a tar.gz, but what its running when it spins up is likely just mattermost and not its dependencies, which in the dev instances is run on docker.

- Mattermost uses minio, its a storage microservice that uses the amazon format as a standard and has connectors to underlying locations, amazon, google, otherwise.

- matte

[2019-11-11 17:39] androolloyd commented on #5352
https://forum.mattermost.org/t/how-to-change-the-default-theme/4965 found something its because the internal store has defaults now too, okay that will be easy to update.

[2019-11-11 18:38] owocki commented on #5466
c43a47c22b93d0e446d34aebde5b2eb5765d2417 fixes the reliability rating issue
!  thanks mohit for the feedback

On Fri, Nov 8, 2019 at 11:44 PM Mohit Tokas <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.

[2019-11-11 18:47] owocki commented on #5466
@zoek1 still want to work on this?

[2019-11-11 19:44] rasliche commented on #5338
Looks like it worked and my quest is not visible (at least to me).

Submitted a quest here: https://gitcoin.co/quests/64/save-your-public-key-from-obscurity-with-ens

[2019-11-11 23:27] thelostone-mc commented on #5467
@frankchen07  + @vs77bb
not to super keen on that functionality as it still does feel spammy.
Would it make more sense to simply show up the bounties posted by the tribe to it's memebers
Kinda like a bounty feed from the tribe

If i follow Gitcoin + Metamask -> All the open bounties in those would pop up under my dashboard under the tribes section

Agree with @danlipert on the `"invite to tribe" f

[2019-11-11 23:28] thelostone-mc commented on #5443
@molecula451 could you share the bounty where this happens?

[2019-11-11 23:29] notadamking commented on #5443
@thelostone-mc it has happened to me multiple times on multiple different issues. It resolves itself within an hour usually.

Possibly related to blockchain confirmations, though it definitely takes longer than the initial Metamask confirmation to resolve itself.

[2019-11-12 01:02] frankchen07 opened #5480 "As a Gitcoin funder, when I fund an issue, the "funding organization" entry is usually left empty, which doesn't provide any value."
### User Story

As a Gitcoin funder, when I fund an issue, the "funding organization" entry is usually left empty, which doesn't provide any value.

### Description

should we deprecate?

1. organization can be extracted from the github url
2. admin overrides are something separate, so "funding organization" doesn't seem too useful.

current pr here: https://github.com/gitcoinco/web/pull/5478 repl

[2019-11-12 04:13] willsputra commented on #5347
@thelostone-mc @frankchen07

three states:
![3states](https://user-images.githubusercontent.com/19514207/68641385-9fcb3b00-0545-11ea-8ae5-60ae648a16e6.jpg)

decided to make our button styles consistent too while we're at it:
![button](https://user-images.githubusercontent.com/19514207/68641400-b07bb100-0545-11ea-9dad-f2f394db6f8b.jpg)

[2019-11-12 08:03] zoek1 commented on #5466
Sure, I'll start in the morning after take a rest for this night after the Web3 World Hackathon :sweat_smile:

[2019-11-12 08:30] alexvotofuture commented on #5281
@mul1sh: Is the solution ready and tested? We really need this feature deployed in time for our next hackathon in December.

Let us know if you still think you're able to do it. Thanks!

[2019-11-12 10:54] raineorshine opened #5481 "Should not be able to send tip to self"
**Describe the bug**
The user can currently tip themselves, which shows up in the user profile summary under ContributorRank. I cannot think of a positive value of being able to tip oneself, and there are several negative side effects, particularly around tip metrics.

This was mentioned tangentially in a few issues, but I could not find a dedicated issue when I searched.

**To Reproduce**
See Act

[2019-11-12 11:45] vs77bb commented on #5467
@danlipert @thelostone-mc agree on potentially holding on 'E-mail Tribe' as a standalone thing... think its useful in the 'Invite Tribe' context, maybe less so as just a standalone email.

Pinged @willsputra on getting some of the "Invite to Tribe" functionality questions addressed...

What are Engineers thoughts on the usefulness of this new view? Does it strike you as helping the UX of a funder

[2019-11-12 13:57] danlipert commented on #5467
@vs77bb seems very useful to me - it will be very effective for an org to focus on growing their tribe and once they do they will pretty much live here

[2019-11-12 13:58] danlipert commented on #5459
@owocki ah yes - good catch there! Seems like a good one for a bounty 👍

[2019-11-12 14:21] willsputra commented on #5467
@danlipert @thelostone-mc @vs77bb thanks for the feedback! yes I agree the "Invite to Tribe" function could be more visually consistent - will work on that today.

noted on putting a hold on this for now. originally thought of this as a way for funders to announce cool new stuff outside the context of bounties (e.g. announcing new features, new version of contract etc.) as part of maintaining rela

[2019-11-12 14:31] danlipert commented on #4941
@octavioamu hmm yeah you might be right maybe we should close it - alternatively if you'd like to propose the text change I can direct you to the appropriate folks at consensys

[2019-11-12 14:37] ceresstation commented on #5467
So I'm still a bit concerned that this design allows you to interact with individual contributors but not to view your tribe and their interactions with your project on a holistic dashboard. Is this latter more integrated view (e.g. with an easy way to ask a Tribe member to become a project owner, a way to assign Tribe members to individual tasks, and so on) in the works?

[2019-11-12 15:34] willsputra commented on #5467
making the invite actions more consistent:
![invite](https://user-images.githubusercontent.com/19514207/68685310-e9973e00-05a4-11ea-83f1-85b49fad0b1c.jpg)

[2019-11-12 17:33] frankchen07 opened #5482 "EPIC - Gitcoin Simplified Redesign"
### User Story

EPIC - Gitcoin Simplified Redesign

### Why Is this Needed

simplifying the Gitcoin user experience

### Description

There are several larger initiatives that affect this redesign - will confer with @willsputra on timing and what we can do now vs later when we've nailed down said initiatives.

bounties landing page
bounties funder page

### Current Behavior
complicated ux

### Exp

[2019-11-12 18:56] frankchen07 opened #5483 "As a hackathon sponsor, when I market my Gitcoin hackathon bounties, I want to have links that lead directly to my bounties and submissions."
### User Story

As a hackathon sponsor, when I market my Gitcoin hackathon bounties, I want to have links that lead directly to my bounties and submissions.

### Why Is this Needed

1. Sponsors would like an easily accessible link that leads hackers to their set of bounties on our explorer.

2. On the same coin, sponsors would like filtering of the hackathon results page by their submissions/proje

[2019-11-12 18:56] frankchen07 opened #5484 "As a Gitcoin hacker & sponsor, there are some low hanging fruit Gitcoin hackathon experience improvements"
### User Story

As a Gitcoin hacker & sponsor, there are some low hanging fruit Gitcoin hackathon experience improvements

### Why Is this Needed

These are low hanging fruit improvements.

### Some of the problems:

1. The logo on the top of the prize explorer is quite large. For branding purposes, it may also be useful to add "Gitcoin Virtual Hackathon" branding, to indicate the niche & space we

[2019-11-12 19:06] octavioamu opened #5485 "Simplify menu"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to have a better and consolidated menu in all the site to help me find the areas of the site in any place.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summa

[2019-11-12 19:17] owocki commented on #5467
my thots below:

add to 'problems' - how do i engage new people after i've done one hackathon and reached the local maxima of the size of my tribe?

current designs
- in addition to existing designs... i'd love to see wireframes of all the stuff thats on the feature list for tribes all together (pitch a sponsor, keep up with my tribe, take a hackathon user and put them on a grant, what else??? )..

[2019-11-12 19:17] octavioamu commented on #5484
Just to be sure was understood, adding sponsors logos to the hackathon explorer is a feature already exist. But agree about the size of the informations are too big and takes a lot of space on the screen.

[2019-11-12 19:19] octavioamu commented on #5485
Design question, should be time to move our menu to vertical menu?
cc @willsputra

[2019-11-12 19:23] connoroday commented on #5467
I agree with some of the thoughts above, regarding the email feature potentially being spammy. Perhaps we only allow 1 email per month to the entire tribe, to make sure the messages are meaningful? Or rather than an email feature, a simple bulletin board that the sponsor can post to where hackers check in for updates.

I'm also not sure we need to "gatekeep" the tribe so much, with the vetting pro

[2019-11-12 20:34] Solexplorer opened #5486 "There is a bug when using the search function on the hackathon projects page"
**Describe the bug**

When I try to filter the projects on the hackathon project [page](https://gitcoin.co/hackathon/projects/web3-world/) using a keyword like `aave` and I try to switch to the next page, the filter I put earlier gets cancelled and redirects me to this [link](https://gitcoin.co/hackathon/projects/web3-world/?page=2&order_by=-created_on&filters=)

**To Reproduce**

Go to the hackat

[2019-11-12 20:47] #5347 closed

[2019-11-12 23:10] frankchen07 opened #5488 "As a Gitcoin operator, having the a project's team listed as a first step would help Gitcoin operations."
### User Story

As a Gitcoin operator, having the a project's team listed as a first step would help Gitcoin operations.

### Why Is this Needed

Having project teams, even unofficially, would help Gitcoin operations when running a hackathon

### Description

Octavio has brainstormed two possible solutions:

![image (1)](https://user-images.githubusercontent.com/7516920/68718460-2ee44d00-055e-11ea

[2019-11-12 23:28] frankchen07 opened #5489 "As a Gitcoin hacker, I'd like to be involved in the judging process, and help the community tide lift all boats"
### User Story

WORKSHOP - As a Gitcoin hacker, I'd like to have a voice in the project judging process, and help the community tide lift all boats by advocating for projects that I think are useful.

### Why Is this Needed

Gitcoin hackers are our community. Allowing them a democratic voice gives color and opinion to the hard work that is done on hackathon projects. This can be tested as form of

[2019-11-13 01:10] thelostone-mc commented on #5459
@danlipert just to add the UI flow does have a check in place to  prevent the owner from funding his own grant

[2019-11-13 07:15] zoek1 commented on #5466
Update: Fixing some error i found one problem, the code depends on web3.eth but at opera such attribute is set to null. What opera says about this:

We see this implicit dependency & injection as a bad practice that needs to disappear for the ecosystem to move forward. Developers should import the web3 convenience library of their choice and build their Dapp on top of that, just as they do for oth

[2019-11-13 11:21] vince0656 commented on #5456
Ok so I'll start on the drop downs now

[2019-11-13 11:22] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-13 14:36] danlipert commented on #5459
@thelostone-mc Kevin recently removed it

[2019-11-13 16:19] octavioamu opened #5492 "Grant teams members are not saved"
**Describe the bug**

On grant creation if you add a team member, that member doesn't get saved, just the admin shows as a member. Edition works fine
**To Reproduce**

Create a grant with a team member
**Expected behavior**

Team members get saved
**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the follow

[2019-11-13 16:59] owocki commented on #5459
Yes it’s true

On Wed, Nov 13, 2019 at 6:36 AM Dan Lipert <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebo

[2019-11-13 19:28] frankchen07 commented on #5467
just to organize some of these thoughts for you @willsputra, there's alot of great feedback above

1. invite to tribe consistency - I'd also add, let's make sure in a UX fashion, the actions that the sponsor can take in each location makes sense. The designs above tell me the dashboard is where inbound items are for my tribe and has pretty much all the actions necessary to completely manage my tri

[2019-11-13 19:56] thelostone-mc commented on #5459
@owocki  wouldn't that mess up CLR stuff if we allowed folks to fund their own grant ?

[2019-11-13 20:04] owocki commented on #5459
If it does, we can exclude self contributors from the CLR set.

The reason I reenabled it is so I can use the platform to pay contractors
and community members on a regular basis.

On Wed, Nov 13, 2019 at 11:56 AM Aditya Anand M C <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://

[2019-11-13 20:15] frankchen07 opened #5493 "On the Gitcoin Issue Details page, the popups sometimes don't go away."
**Describe the bug**

On the Gitcoin Issue Details page, the popups sometimes don't go away.

<img width="1235" alt="Screen Shot 2019-11-13 at 12 13 24" src="https://user-images.githubusercontent.com/7516920/68800477-0bc5a600-060f-11ea-9ff5-e9cd4b0cda2b.png">

<img width="1405" alt="Screen Shot 2019-11-13 at 12 13 37" src="https://user-images.githubusercontent.com/7516920/68800478-0bc5a600-060f-11

[2019-11-13 21:48] owocki commented on #5466
the web3 js library should already be included on each page

[2019-11-13 21:52] zoek1 commented on #5379
Hey @owocki, friendly question: The PR #5433 was merged. Actually, such MR was based on my PR #5393, at that moment my PR covered 3/4 points, after that @straumer accurately cover the point and enhance the work. So it is possible this bounty us cooperative and rewards each user according to his work. I'm ok if that is not possible, the important thing already happened, contributing to gitcoin!

[2019-11-13 21:54] straumer commented on #5379
I'm fine with that too if possible.

[2019-11-13 22:00] zoek1 commented on #5466
Ok, i missed that. :sweat_smile: Then i'll take care of that and start from there.

[2019-11-13 23:55] molecula451 commented on #5493
This is not only happening with the issue Details but aswell with the notifications and the 'User Panel'

![panel](https://user-images.githubusercontent.com/41552663/68814439-3afc0780-064f-11ea-8a4e-64aff66cb8be.png)

If I click on any other side of the app. It will still there.

The panel only fades out when you reload a new url.route . The same happens with the notifications. IMO, Responsiveness

[2019-11-14 01:14] octavioamu commented on #5486
Fixed on 5507fcd13f9730b263eb77b97c0488054a99cf93

[2019-11-14 01:14] #5486 closed

[2019-11-14 09:34] mul1sh commented on #5281
@alexvotofuture its almost there, sorry for the delay been a bit busy at work.

But i'll get this in latest over the weekend once i'm done testing on my end.

[2019-11-14 13:56] straumer commented on #5379
Oh yea. I should mention that point 1 and 2 were covered by @zoek1. I noticed in the end that 3 and 4 were not, so I covered those.

[2019-11-14 21:15] thelostone-mc commented on #5418
@owocki this is good for payout ^_^

[2019-11-14 21:15] #5418 closed

[2019-11-14 22:02] octavioamu commented on #5488
Fixed on f7f6a0c4a965b17ae13ba1b33a3d21ca65ea2b6e

[2019-11-14 22:45] octavioamu commented on #5483
We want to filter into the explorer or create a sponsor page with the bounties like cards to be more visually appealing ?

[2019-11-14 23:51] molecula451 commented on #5418
Buaaaaaalah. We keep Growing Open Source!!!

[2019-11-15 03:19] owocki commented on #5466
2f51829c2315258f29fc8b69bc32f519e86e2baf should help with the fund/submit/contribute pages!

[2019-11-15 03:24] owocki commented on #5379
happy to payout both. just ping me when urs is merged @zoek1

[2019-11-15 03:30] straumer commented on #5379
@owocki His are merged. I built upon his commits in my PR. :)

[2019-11-15 09:22] zoek1 commented on #5466
Sure, it helps thanks! Also i pushed a PR that cover Kudos, Tips and Bounties actions. The grants have a strange behavior, so i need to go deep.

[2019-11-15 14:37] owocki commented on #4976
@androolloyd whats left to get celery 100% live?

[2019-11-15 14:53] vs77bb commented on #5467
Have compiled lots of the discussion here into topics for convo in our call today. [Here they are, for reference.](https://www.notion.so/gitcoin/Tribes-V1-Sync-40dd19454f3a435d9e4d63ba8a3b87ef)

[2019-11-15 14:57] androolloyd commented on #4976
I started a review, there is one thing I would add before shipping this, and thats a fallback on the delaying of emails, should the queue append fail, send them normally.

[2019-11-15 17:18] iamonuwa commented on #5470
Yes @gitcoinbot this weekend

[2019-11-15 17:31] writeprovidence commented on #5465
Hello @owocki pls take a look https://www.figma.com/proto/vMR6RAbBKqHKwNpxNYm7Gq/Winter-Bots?node-id=72%3A5414&scaling=min-zoom

[2019-11-15 17:36] owocki commented on #5465
looking good! feel free to submit

On Fri, Nov 15, 2019 at 10:31 AM Emmanuel Jacobson <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>,

[2019-11-15 17:42] writeprovidence commented on #5465
@owocki okay, will do that

[2019-11-15 19:17] frankchen07 opened #5502 "As a Gitcoin operator, I don't want to be spammed with multiple bounty invite links."
### User Story

As a Gitcoin operator, I don't want to be spammed with multiple bounty invite links.

### Why Is this Needed

Several Gitcoin contributors have reached out to the core team, including Kevin Owocki himself, citing instances where people's emails are getting spammed due to receiving multiple bounty invite options.

### Description

Currently, the options to use invite to bounty are u

[2019-11-16 15:04] owocki commented on #5466
https://github.com/gitcoinco/web/pull/5503#pullrequestreview-317974403

[2019-11-17 08:05] vince0656 commented on #5456
Apologies, I’ve been having laptop troubles which should now be sorted. Will let you know if I have any more issues

[2019-11-17 08:06] vince0656 commented on #3876
Apologies, I’ve been having laptop troubles which should now be sorted. Will let you know if I have any more issues

[2019-11-17 11:21] zoek1 commented on #5459
I'll work on this tomorrow, i'm focusing on solve creation, funding and canceling grants #5466 :sweat_smile:

[2019-11-17 22:59] Sirlupinwatson1 commented on #5339
Hi all, hello @owocki and @merwane
Right now i dont have internet since yesterday, and thé time remaining Will not bé enough for me, i dont quit or say i abbandon, but as of today i only have m'y internet from m'y cellphone and its pretty Bad but i have very limited data.
I cant tell when i Will be able to have internet back in my appartement but i would love to finish this project.
Friday i did w

[2019-11-18 01:02] Sirlupinwatson1 commented on #5339
Here a preview, my idea was to use these bot for couple of project and make them a evolution over a year. and see where i will be in a year . Bot Sirlupin and Hackermanager are the one i created
![botproject 1 2](https://user-images.githubusercontent.com/55941045/69017457-27191400-0975-11ea-8ffa-6faf2a666f66.png)

[2019-11-18 11:51] zoek1 commented on #5466
@owocki can we split this, create a grant at opera its more difficult that the previous elements, specifically create grant. Two problems exists: The transaction is generated but never display notification at the wallet to deploy the contract and sometimes crash the browser on deploying the contract.
I'll open a new PR specifically for grants to don't block the other elements. funds and cancel gra

[2019-11-18 14:39] danlipert commented on #5057
<h2>Archived 11/18/19</h2>

<p>Hello from the Gitcoin team! Here’s what the core team and our community have been busy working on in the last few weeks.</p>

<p>We're going to rattle off the biggest changes machine gun style, and then we'll be talking a little more in depth about them!</p>

<ol type="1">
    <li>Gitcoin Grants CLR Round 3</li>
    <li>Gitcoin Quests</li>
    <li>Gitcoin Profiles v

[2019-11-18 17:25] owocki commented on #5339
@Sirlupinwatson1 got a github repo somewhere that describes the why/what/how of the bot?  its hard to tell the use case from the screenshot

[2019-11-18 18:42] frankchen07 opened #5507 "As a Gitcoin Grant operator, if you are the first one donating to a grant, message that getting a buddy & another supporter of the grant would make an LR contribution!"
### User Story

As a Gitcoin Grant operator, if you are the first one donating to a grant, message that getting a buddy & another supporter of the grant would make an LR contribution!

### Why Is this Needed

The current QV formula dictates that if a grant only has one contribution, no LR match is made. We would like to encourage the first supporter of the grant to reach out to his/her network to

[2019-11-18 18:59] frankchen07 commented on #5483
on the sponsor page, it looks like filtering is present and the url changes when you filter by sponsor, so that's the intended behavior.

on the explorer, we want the same thing. As an example the explorer url is:

https://gitcoin.co/hackathon/web3-world/

when we filter by rsksmart, the explorer should filter, and the url should change to something like https://gitcoin.co/hackathon/web3-world/rsk

[2019-11-18 20:21] owocki commented on #5436
- Daily challenges
- Streaks
- Skill trees (unlocking new quests which may or may not have bounties associated with them)
- Score tracking / competition (bot is another gitcoiner, could go as far as DAO v. DAO fights, Twitch plays pokemon style)
- Direct integration into Dapp flow (e.g. Cheesewizards)
- Partnerships with prominent communities (maker, metacartel, etc)
- quests for prominent communi

[2019-11-18 20:42] owocki commented on #4976
@danlipert @androolloyd lets do it!  if this and chat get into the release weds then it'll be like christmas for me

[2019-11-19 06:11] Sirlupinwatson1 commented on #5339
hello @owocki  , Well to be realist i did not do much, i did pass a lot of time to learn etc because i want a get over the coding and go to my next objective.

As of now, i would have like an image 2d so i could almost say i can implement my code that is already half done in the map area.

The bot are a special project that i want a do on the side, but keep one as a template for the entire quest,

[2019-11-19 07:11] PixelantDesign opened #5510 "As a Gitcoin Contributor I should be able to clearly read the CTA in the match email."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-11-19 09:46] vince0656 commented on #3876
Hi there,

I'm still working on this. I’ve had issues with my laptop which are fixed now.

Thanks,
Vincent

[2019-11-19 09:47] vince0656 commented on #5456
Finally have a laptop. Hopefully the install of the web repo goes smoothly and then I’ll be off!

[2019-11-19 14:30] danlipert opened #5512 "Resume uploads are broken - possibly due to overprotective security updates"
**Describe the bug**
Try to upload a resume PDF - eventually nginx will return a 504

**To Reproduce**
Upload a resume

**Expected behavior**
Resume uploads and saves

[2019-11-19 14:39] owocki opened #5513 "mobile bounty viewing error"
![Screenshot_20191118-220201_Samsung Internet (1)](https://user-images.githubusercontent.com/513929/69155796-a0ad2100-0a9f-11ea-8611-67e080d00bb9.jpg)

from email:

[code]

[2019-11-19 14:40] owocki commented on #5513
incidently i cannot reproduce on my iphone. will need someone with android pie to try

[2019-11-19 15:40] StatusSceptre commented on #5423
Just to upvote - I've migrated Status' bounty SAI to DAI and look forward to having the new token supported.

[2019-11-19 15:54] Solexplorer opened #5514 "Easy bug on the Hackathon page"
**Describe the bug**

When navigating in the Hackathon page and clicking on join Hackathon on the Open Climate Collabathon, it redirects to the [onboarding page](https://gitcoin.co/hackathon/onboard/open-climate-collabathon/) of that Hackathon, though when clicking on `Start Hacking` it redirects to the hackathon homepage. See the screenshot below.

**To Reproduce**

Go [here](https://gitcoin.co/h

[2019-11-19 15:58] Solexplorer commented on #5514
Hmm if I use this [link](https://gitcoin.co/hackathon/onboard/open-climate-collabathon/?referer=https://gitcoin.co/hackathon-list) it redirects to the correct page. I think it's missing the `referer` parameter

[2019-11-19 18:37] androolloyd commented on #5352
SMTP settings have been setup on the deployed server and emails are being sent correctly.

[2019-11-19 18:44] androolloyd commented on #5352
- [ ] GC Web
    - [x] lock behind is_staff
    -  [ ] Review and deploy the chat/oauth branch
    -  [ ] Create a new oAuth Application for Mattermost
- [ ] MatterMost Whats needed
    - [x] Linux binaries are building and able to be deployed and setup
    - [x] Proxy Config Nginx
        - [x] setup
        - [x] TLS
    - [x] Mattermost host Server setup and dependencies
    - [ ] Mattermost se

[2019-11-19 19:53] PumpkingWok commented on #4806
Hi @owocki,
I created the methods to fill the pdfs needed (4 files), during the week i will implement it into the code, i think that i will able to finish this at the end of the week.

So i have to fill payers name/address (the square at the top left), recipient name/address 3 and 18 ? How can i retrieve the payer (funder) and recipient address ?
Do i need to add a new field other than location fi

[2019-11-19 20:30] octavioamu commented on #5493
@molecula451  can you please submit another ticket? That issue is not actually related to the popover.

[2019-11-19 20:36] molecula451 commented on #5493
@octavioamu I will.

[2019-11-19 22:45] owocki commented on #4806
since we dont have their full address; just put in their location from the settings.

other income - put in the amount they earned.

yes

yes

[2019-11-19 23:12] frankchen07 opened #5516 "BUIDL - Tribes Organization Page"
### User Story

BUIDL - Tribes Organization Page

### Why Is this Needed

Gitcoin Tribes opens a two-way broadcast for highly engaged hackers and funders to continue relationships and do high-leverage work, together. We want to build out a MVP of Tribes to test with our favorite sponsors.

### Description

Funder View:
![Funder View](https://user-images.githubusercontent.com/7516920/69194632-6fa01

[2019-11-20 10:10] Solexplorer commented on #5307
Hey @owocki,

I was looking at why my script wasn't working and I found out that the api is not returining the details of the bounty even with the workaround you gave me. If I call it like this: `bounties/?pk=3538/`

[2019-11-20 10:25] Solexplorer commented on #5513
I get the same error on MI Browser and also on Mozilla, though Chrome works fine on mobile. I do have Android 9( pie )

[2019-11-20 10:29] dvdptr commented on #5465
@owocki
I'd like to pitch a style: as mentioned in my application I'm going to remix existing bots with gradients as fill color (brand related). I like this approach, could be used as some kind of special kudos for example. I'd like to do another one. let me know, thanks

![Bildschirmfoto 2019-11-20 um 11 27 59](https://user-images.githubusercontent.com/41017948/69231138-dbd74f00-0b88-11ea-9a98-58

[2019-11-20 13:04] danlipert commented on #5423
@StatusSceptre nice! we'll have the new token ready sitewide on Monday

[2019-11-20 13:54] #5493 closed

[2019-11-20 14:09] #5425 closed

[2019-11-20 14:11] #5466 closed

[2019-11-20 14:18] #5408 closed

[2019-11-20 16:20] willsputra commented on #5484
possible improvements to solve #1. thoughts?
![header](https://user-images.githubusercontent.com/19514207/69256590-a9633b80-0bf4-11ea-9dc3-82984dcab03e.jpg)

[2019-11-20 17:03] molecula451 commented on #5513
@owocki I am able to replicate this just when the user it's not having installed MetaMask or any other wallet. I will try to check on Android I may able to see something.

[2019-11-20 17:49] owocki opened #5521 "as a gitcoin user; i want to record my physical address, so that i can automatically be issued a 1099"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a gitcoin user; i want to record my physical address, so that i can automatically be issued a 1099

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
so we can issue 1

[2019-11-20 19:00] owocki opened #5522 "the big 'gitcoin chat' feedback thread"
post yer feedabck here

[2019-11-20 19:00] owocki commented on #5522
1. we should use the gitcoin nav; not the 'bounties' nav on this page https://p200.p0.n0.cdn.getcloudapp.com/items/WnuAgvrA/Screen+Shot+2019-11-20+at+11.07.06+AM.png?v=f78fc36e0125dbc583a4f9b609d704a3

2. on gitcoin.co/chat the gitcoin logo helmet's aspect ratio is messed up

3. we can transpose gitcoin profiles and gitcoin avatars into the chat?  it'd be great if my chat profile was connected to

[2019-11-20 19:06] androolloyd commented on #5522
will do

noted, will find one properly sized

https://p200.p0.n0.cdn.getcloudapp.com/items/Z4uzXR6R/Screen+Shot+2019-11-20+at+11.08.26+AM.png?v=260bdc2df737fc5d5ceb36fe71208d69
working on the best way to do this still.

yes you can, there is more work to be done on how gitcoin can control the flow of the chat state, gitcoin as a super user, can make channels, add users, make new teams, add users t

[2019-11-20 19:19] owocki commented on #5522
9. skin the DM messages

https://p200.p0.n0.cdn.getcloudapp.com/items/QwuQmg1L/Screen+Shot+2019-11-20+at+12.19.14+PM.png?v=bcb10ca3e846500ee9f618f5eb630343

[2019-11-20 19:24] owocki commented on #5513
oh great call; yep thats whats happening https://p200.p0.n0.cdn.getcloudapp.com/items/BluE8kLg/Screen+Shot+2019-11-20+at+12.24.16+PM.png?v=329a3e8b9d98be79c497d744bb76cfd6

[2019-11-20 19:32] owocki commented on #5307
got an example URL? looks like its working for me https://gitcoin.co/api/v0.1/bounties/?pk=3538

[2019-11-20 19:39] owocki commented on #5465
interesting idea! cool yeah i think this is right directionally

[2019-11-20 20:07] Solexplorer commented on #5307
Maybe I didn't explain myself.
I am trying to fetch the details of a certain bounty given an ID. If you test this: https://gitcoin.co/api/v0.1/bounties/?pk=3589&network=mainnet, you are giving me back the last 5 bounties and not the bounty `3589`

[2019-11-20 20:11] owocki commented on #5307
oh ur right; here this will help: cce953d1900918d7d4573a909b3460208bff604d

will go out in our next deploy..

[2019-11-20 20:12] Solexplorer commented on #5307
Thank you!

[2019-11-20 20:12] #5307 closed

[2019-11-20 20:32] molecula451 commented on #5513
IMO. The device OS doesn't have anything to be with the error. This is solely about Browser

[2019-11-20 20:53] androolloyd commented on #5522
the template is looking for a 288x48 png

[2019-11-20 20:55] owocki commented on #5522
https://github.com/gitcoinco/creative/tree/master/Brand/Wallpaper or https://docs.google.com/document/d/1BSo7eCVNnV41M8p1Aji2MKGg0RayjtbKfWHGFsLX9Yk/edit# shuld have what u need

[2019-11-20 20:57] dvdptr commented on #5465
@owocki
cool, thanks. will do another one and upload a preview asap

[2019-11-21 01:40] octavioamu opened #5523 "Bounty details non responsive"
**Describe the bug**

Buttons doesn't fit mobile size

![Screenshot_20191120-223415](https://user-images.githubusercontent.com/1358093/69293031-61d5b300-0be6-11ea-96c3-cee469cd48e4.png)

![Screenshot_20191120-223811](https://user-images.githubusercontent.com/1358093/69293066-8a5dad00-0be6-11ea-8a50-b4086b7dec22.png)

**To Reproduce**

Open bounty details on mobile
**Expected behavior**

Buttons fi

[2019-11-21 01:52] androolloyd commented on #5522
updated on the email logo, its cached by google, i think it expires every 24, the image has been updated, we will have to map out the templates currently available so they can be adjusted for copy/content.

Hopefully this header issue sorts itself out, otherwise we'll have to adjust the image name across all templates, so google can cache a new unique file.

this is using the logo_black_med image

[2019-11-21 02:41] zoek1 commented on #5466
@thelostone-mc could this be reopen this issue, the grant isn't working and #5500 is complementary to this issue and it's still no merged. Fixes cancel issue on opera and add conditionals when no metamask is installed.

[2019-11-21 04:16] androolloyd commented on #5522
Testing a subscribe to the project-chat channel in gitcoin chat.

[2019-11-21 04:29] androolloyd commented on #5522
test for github plugin webhook

[2019-11-21 04:31] androolloyd commented on #5522
one more.

[2019-11-21 04:32] androolloyd commented on #5522
i lied sorry

[2019-11-21 04:33] androolloyd commented on #5522
last time

[2019-11-21 08:05] #5523 closed

[2019-11-21 08:40] Pietro-G opened #5525 "Gitcoin implementation to projects"
### User Story

[comment]: # (As a potential gitcoin user, I want to implement GitCoin bounties for my project's users so that GitCoin's flow can be used to grow my product.)

### Why Is this Needed

[comment]:I've seen the API and browsed through the products, but I was wondering if there is someone who added Gitcoin to their organization or company and perhaps had some insight?
*Summary*:

I.e:

[2019-11-21 09:45] dvdptr commented on #5465
@owocki
this is bot #2, r2d2 in gradient fill. to make them fit I chose similar style of coloring. going to send PR for both of them, would like to do some more if you approve. thanks

![Bildschirmfoto 2019-11-21 um 10 44 07](https://user-images.githubusercontent.com/41017948/69326391-02aa8980-0c4c-11ea-9e46-f34a32a52fe6.png)

[2019-11-21 10:04] dvdptr commented on #5465
@owocki [PR for both bots sent](https://github.com/gitcoinco/creative/pull/161)

[2019-11-21 17:57] androolloyd commented on #5522
Able to sync profile photos, syncing the gitcoin profile is doable, and is where we should be looking at the mattermost plugin capabilities, and start building for that.

[2019-11-21 20:15] dvdptr commented on #5465
@owocki
thanks for accepting the PR. let me know how you are paying out, as a tip I guess? if you like the gradient ones I'm happy to do some more.

[2019-11-21 21:01] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-21 21:02] vince0656 commented on #5456
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-22 06:15] alexvotofuture opened #5528 "As a hackathon hacker I want invalid URLs to default to the hackathon list"
### User Story

As a hackathon hacker I want to be able to find the hackathon I'm trying to access myself using the hackathon list, even if I mis-type a hackathon URL or just want to find it at the root URL.

### Why Is this Needed

*Summary*:
Mis-typing a hackathon name or typing the root domain (https://gitcoin.co/hackathon) brings you to the latest hackathon, which is often not what a hacker is

[2019-11-22 06:24] alexvotofuture opened #5529 "As a hackathon hacker I want to receive updates about upcoming hackathons without registering for a specific hackathon"
### User Story

As a hackathon hacker I want to receive updates about upcoming hackathons without registering for a specific hackathon so that I can join one that suits my interests/timing.

### Why Is this Needed

*Summary*:
We want more registrants for the hackathon distribution list to boost hackathon participation, but shouldn't have to hacve someone register for a specific hackathon to get th

[2019-11-22 06:31] alexvotofuture opened #5530 "As a Gitcoin operator, I have no clue on what hackers thought about the most recent hackathon and where our hackathon UX was buggy or not streamlined"
### User Story

As a Gitcoin operator, I have no clue on what hackers thought about the most recent hackathon and where our hackathon UX was buggy or not streamlined

### Why Is this Needed

*Summary*:
Admins and funders want to know more about hackers' motivations for joining a hackathon, their experience participating, and other background info about them so that we can tune the hackathons to be

[2019-11-22 06:40] alexvotofuture opened #5531 "As a hackathon hacker I want an obvious way to register for a given hackathon"
### User Story
As a hackathon hacker I want an obvious way to register for a given hackathon, and know when I'm registered successfully directly on the hackathon page itself.

### Why Is this Needed
*Summary*:
We want to reduce drop-off from people who don't know what action to take when coming to a hackathon, and ensure anyone who comes to the hackathon page can be followed up with through email

[2019-11-22 06:51] Solexplorer commented on #5531
Not completely related to this issue but I think Gitcoin shouldn't allow users to start work if they didn't register for that Hackathon. What do you think @alexvotofuture ?

[2019-11-22 07:19] alexvotofuture opened #5532 "As a hackathon hacker I want to know what to do when the prize explorer has no/limited prizes"
### User Story

As a hackathon hacker I want to know what to do when the prize explorer has no/limited prizes.

### Why Is this Needed

*Summary*:
Before a hackathon hackers are faced with a blank prize explorer, which makes the hackathon appear dead and doesn't make it clear what should happen next (even when they know how the hackathon works through the hackathon guide).

After a hackathon it's

[2019-11-22 07:20] Solexplorer commented on #5307
It's not returning anything back after the deploy 😅 . I tested it like this: https://gitcoin.co/api/v0.1/bounties/?pk=3538

[2019-11-22 09:44] alexvotofuture opened #5533 "As a hackathon admin I want a upgraded onboard page that includes editable hackathon details"
### User Story

As a hackathon admin I want a upgraded onboard page that includes editable hackathon details.

### Why Is this Needed

Without seeing the prize explorer, hackers will want to know, beyond the hackathon instructions, the total amount of prizes, the technologies they might be able to use, and any other larger hackathon details.

### Description

The "prize explorer" currently does no

[2019-11-22 09:46] Solexplorer opened #5534 "The Gitcoin ENS subdomain is not working"
**Describe the bug**

The [Gitcoin ENS](https://gitcoin.co/ens/#) is not working. It looks like there is a problem with an undefined variable:

![gif ENS](https://user-images.githubusercontent.com/50027175/69415582-2c7bb300-0d15-11ea-8079-877a833a8c8c.gif)

**To Reproduce**

Head over to https://gitcoin.co/ens/# and try to create your own subdomain

**Expected behavior**

To be able to have your o

[2019-11-22 14:55] owocki commented on #5534
738ce4970f4a697c1a728d493c99f2cc267b4fe3 fixes this try now

[2019-11-22 15:07] owocki commented on #4806
shoot - was just talking to  our accountant and it looks like the proposed system is using Form-1099-S, but actually the Form is Form 1099-Misc

https://www.pdffiller.com/jsfiller-desk10/?projectId=359871477&expId=5896&expBranch=2#59e3ac74be458d41e4f52293da3aede4

And the dollar amounts would go into Box 3 "Other Income"

(sorry; when i said 1099s in the title i meant 1099 (plural) not 1099-S.. is

[2019-11-22 15:17] Solexplorer commented on #5534
Though it doesn't let me check the TOS checkbox, I don't know if I am the only one experiencing this issue

[2019-11-22 15:25] owocki commented on #5534
i cant reproduce the checkbox issue. do you have more details?

[2019-11-22 15:56] Solexplorer commented on #5534
I tried both on Mozilla and Chrome but I am getting the same error 🤔

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/50027175/69440366-ffe18e80-0d48-11ea-88b1-29f49a210ab6.gif)

[2019-11-22 16:32] owocki commented on #5534
24a2c3d870e17acb4e5770908d79812c4b5ab618 should fix it

[2019-11-22 16:41] serejandmyself commented on #5534
It seems that the checkbox is actually working - its the graphics side that's not. If you press `register`, it goes onto metamask and checks the box itself

[2019-11-22 17:30] owocki commented on #5522
... add chat to the nav somewhere

[2019-11-22 17:32] owocki commented on #5516
im excite for the char portion of this.. particularly if there is a ‘this user is online/offline’ indicator.  i dont see the online/offline indicator in the current spec tho..

is that something we can add to the UI?  seems like @androolloyd says that its queryable...

[2019-11-22 18:57] frankchen07 commented on #5533
I'm seeing the problem story here as when hackers are on the prize explorer page, they don't have access to generalized information about the hackathon(s). There is confusion as to where the centralized resources & details of a particular hack are held.

1. Does onboarding not take care of this? The onboard page for each hackathon outlines steps, and the registration button will be different depen

[2019-11-22 18:58] frankchen07 commented on #5531
1. You can't start work if you're not registered. If you try and start work, it will ask you to register before allowing you to start work. That was one of the flows we implemented when we built out the new hacker registration. @octavioamu to confirm.

2. I'd like to be more specific about the problem statement. The problem story above is "people coming to Gitcoin hackathons are confused about whi

[2019-11-22 19:40] owocki commented on #5307
@Solexplorer 3538 is not a current bounty.  try this instead http://gitcoin.co/api/v0.1/bounties/?pk=9781

[2019-11-22 19:42] owocki commented on #5307
we could change this by exempting the 'pk' key at https://github.com/gitcoinco/web/blob/master/app/dashboard/router.py#L235 if ppl feel strongly about that

[2019-11-22 20:12] kvndlgs commented on #5465
@owocki I've submitted my work but I copied the link to the SVG file instead of the pull request, will it cause a problem?

[2019-11-22 20:12] owocki commented on #5465
thats fine

On Fri, Nov 22, 2019 at 1:12 PM kvndlgs <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-11-22 20:22] Solexplorer commented on #5307
Opsie my bad. Thanks for checking in

[2019-11-22 22:08] biuxmaster commented on #5465
@owocki Hi, I have applied and here it's some drafts I made. I'm waiting for your feedback

![kudos](https://user-images.githubusercontent.com/49821444/69463799-96777500-0d74-11ea-9527-4e28abcff673.jpeg)

[2019-11-23 12:41] Solexplorer commented on #5534
It's working! Thanks

[2019-11-23 12:41] #5534 closed

[2019-11-23 14:16] PumpkingWok commented on #4806
Hi @owocki,
I'm already using 1099-Misc, if you meant it, instead of 1099-S.
I used https://www.irs.gov/pub/irs-pdf/f1099msc.pdf for download all forms, you posted it to me in an old comment here.
I'm working on it.
Thanks

[2019-11-23 17:39] Sirlupinwatson1 commented on #4806
There is à typo error in because @owocki

[2019-11-24 20:01] Solexplorer opened #5537 "When a Hackathon has come to an end, don't let users register or start work on those bounties"
**Describe the bug**

When a Hackathon ended, a user is still able to register for that one and start work. Gitcoin should not allow new users to register for expired Hackathons nor let the registered ones to start work on those bounties.

**To Reproduce**

If you never participated to `Road To Devcon`, go [here](https://gitcoin.co/hackathon/onboard/road-to-devcon/), register to the Hackathon and

[2019-11-24 20:50] Solexplorer opened #5538 "As a Hackathon hacker, I would like a better management of bounty limits"
### Discussion

[comment]: # (What conversation would you like to facilitate?)

I have seen many people in Discord asking to increase their bounty limit during a Hackathon because they weren't able to start work.

I was thinking that the bounty limit should not be applied to Hackathons as someone might be working on 3 different bounties but knows that will complete them during or after the Hackath

[2019-11-25 01:38] frankchen07 commented on #5484
@octavioamu - yes you are correct. Thank you @willsputra for the designs!

[2019-11-25 07:52] zoek1 commented on #5459
Yep, still working on this!

El vie., 22 de noviembre de 2019 11:16 a. m., Gitcoin.co Bot <
notifications@github.com> escribió:

[2019-11-25 13:43] danlipert commented on #5462
The MetaMask update was pushed back 2 weeks, so I'll move this to the next sprint

[2019-11-25 14:22] owocki commented on #5470
@iamonuwa whats up?

[2019-11-25 17:20] vince0656 commented on #5456
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-25 17:49] owocki commented on #5465
@biuxmaster thanks for doing that ! mind opening up a PR so i can give you feedback away from the main thread?  thanks again; pumped for this :)

[2019-11-25 19:30] biuxmaster commented on #5465
@owocki I already made the PR, you can check here https://github.com/gitcoinco/creative/pull/168

[2019-11-25 19:41] owocki opened #5541 "EPIC - As Joe Lubin, I want #onemilliondevs, because value compounds in the DEFI space + I want to increase the value being created on Ethereum."
# Stories in the One million devs epic

Check the below tickets to view Gitcoin's one million dev iniatitives

- Epic spec https://github.com/gitcoinco/web/issues/5541
- Gitcoin Quests Roadmap https://github.com/gitcoinco/web/issues/5436
- Gitcoin Pitches https://github.com/gitcoinco/web/issues/5543
- Decentralized Sense Making Thread to share Hypothesis & Observationss - https://github.com/gitcoi

[2019-11-25 19:54] owocki opened #5543 "As Gitcoin, I want to enable BUIDLers in the community to effectively drive towards #onemilliondevs with *Gitcoin Town Square*, so we can realize the #onemilliondevs vision."
# Stories in the One million devs epic

Check the below tickets to view Gitcoin's one million dev iniatitives

- Epic spec https://github.com/gitcoinco/web/issues/5541
- Gitcoin Quests Roadmap https://github.com/gitcoinco/web/issues/5436
- Gitcoin Pitches https://github.com/gitcoinco/web/issues/5543
- Decentralized Sense Making Thread to share Hypothesis & Observationss - https://github.com/gitcoi

[2019-11-25 19:55] owocki opened #5544 "One Million Devs - Hypothesis & Observations"
# Stories in the One million devs epic

Check the below tickets to view Gitcoin's one million dev iniatitives

- Epic spec https://github.com/gitcoinco/web/issues/5541
- Gitcoin Quests Roadmap https://github.com/gitcoinco/web/issues/5436
- Gitcoin Pitches https://github.com/gitcoinco/web/issues/5543
- Decentralized Sense Making Thread to share Hypothesis & Observationss - https://github.com/gitcoi

[2019-11-25 19:56] owocki commented on #5544
personally i think $ETH ecosystem is ceding the gambling apps to TRON/EOS until ETH 2.0 is usable. until we solve the scalability trilemna + usability on ETH gets much better, there's not enough of a driver to bring these dapps to ETH as they don't need the increased layer1 trust

https://twitter.com/owocki/status/1198661312466698240

[2019-11-25 19:56] owocki commented on #5544
Top answer thus far: “if we look at the top gas guzzlers it’d likely come from stablecoins, trading and gaming” from

https://twitter.com/owocki/status/1198628624171069440

[2019-11-25 19:56] owocki commented on #5544
there is no pent up demand for ETH https://twitter.com/owocki/status/1198373476790222849

[2019-11-25 19:57] owocki commented on #5544
value compounds over time in the DEFI space. build one layer out from what exists alreaedy (DAI, cDAI, rDAI etc) and gitcoin

[2019-11-25 19:57] owocki commented on #5544
get out of the house and test crypto outside of your bubble

[2019-11-25 20:02] owocki opened #5545 "One million Devs Product ideas"
# Stories in the One million devs epic

Check the below tickets to view Gitcoin's one million dev iniatitives

- Epic spec https://github.com/gitcoinco/web/issues/5541
- Gitcoin Quests Roadmap https://github.com/gitcoinco/web/issues/5436
- Gitcoin Pitches https://github.com/gitcoinco/web/issues/5543
- Decentralized Sense Making Thread to share Hypothesis & Observationss - https://github.com/gitcoi

[2019-11-25 20:09] owocki commented on #5545
redo the gitcoin drip marketing campaigns so that they are more consistently pumping our 30k (and 30 sign ups per day) down the funnel of decentralization...

[2019-11-25 20:09] owocki commented on #5545
next iteration of gitcoin quests: rewards of erc20 tokens

[2019-11-25 22:47] frankchen07 commented on #4806
bountied this and reserved for you @PumpkingWok - looking forward to seeing your results!

[2019-11-25 22:56] frankchen07 commented on #5521
is the physical address a 1099 requirement, or is it to send an actual 1099 to the address? if #4805 is completed to our satisfaction, we can just send a digital 1099 right? I know I've received digital ones over the years from my financial institutions.

[2019-11-25 23:49] alexvotofuture commented on #5533
@frankchen07 Agree with the problem story you provided.

1. "Onboarding" is currently just the "hackathon guide" page that is linked on each explorer. Both the prize explorer and hackathon guide have the hackathon title, logo, and dates on them, but don't have information about the hackathon as a whole. The hackathon guide explains the "how" and "when" for participating, but not the "why".

The is

[2019-11-25 23:51] alexvotofuture commented on #5531
@Solexplorer we've actually already implemented that feature (preventing "start work" instances without registering first).

[2019-11-26 02:52] alexvotofuture commented on #5281
@mul1sh Can you make the PR today? If not we need to have someone else start on this tomorrow to make it in time for our Dec 2nd launch. Thanks!

[2019-11-26 07:47] Fatima-yo opened #5549 "cannot run docker-compose up --build"
**Describe the bug**
While trying to get the local docker repo up and running, I get to the step when I must run " docker-compose up --build" and I get and error.

**To Reproduce**
1. follow the instructions here:
https://docs.gitcoin.co/mk_setup/
2. until you run the following:
docker-compose up --build

**Expected behavior**
The docker container should start up.

**Screenshots**
I get the follow

[2019-11-26 08:57] mul1sh commented on #5549
Same here running into the same issue @thelostone-mc @danlipert

[2019-11-26 11:43] mul1sh commented on #5281
Hey already made a WIP PR, but im blocked from submitting because I can't finish testing because of this bug #5549 which is crashing my docker container & also preventing me from spinning up a new one.

Soon as it is fixed, I'll wrap up testing and submit

[2019-11-26 14:46] Korridzy commented on #5549
There is a good solution for this issue. The vips package will be installed from community repo and libheif from main.

I'm preparing a PR with this solution. @mul1sh, you can use it to unblock your work meanwhile.

[code]

[2019-11-26 14:56] Fatima-yo commented on #5549
Thank you !
Waiting for it.

[2019-11-26 15:04] kvndlgs commented on #5465
@owocki I updated my PR with a more related bot, I'm reading with my ears by moment. Sorry about that.

[2019-11-26 15:25] mul1sh commented on #5549
@Korridzy thanks, this seems to work though now it's hanging at the installing vips command i.e. `Installing vips (8.8.3-r2)` i've restarted the installation severally with no luck :(

[2019-11-26 15:51] willsputra commented on #5485
Will need to do further research on this, but my concern with putting each product name as the main nav is that new users might not know what Bounties, Grants, Kudos, etc. is about. I agree that having a way to access the Issue Explorer easily will be beneficial for existing users, but I wonder how we can do it while also catering to new users.

I personally love a 'use case'-based approach ('what

[2019-11-26 16:02] Korridzy commented on #5549
Yes, it looks like problem is a bit more complex. Containers were created succesfully in my environment. But 'web', 'scheduler' and 'worker' now can't start with similar messages like:

[code]
Investigation is in process

[2019-11-26 19:15] mul1sh commented on #5281
Sorry let me stop working on this ,for now, so that it doesn't seem i'm blocking it. But still i'll push my changes once the docker issue is fixed and i'm able to test my changes locally. Thanks.

[2019-11-26 19:27] octavioamu commented on #5485
we can discuss in some call, I don't think shopify or plaid are good to compare since their have a product paid for use, is the normal landing. When we actually offer a set of diff products to help to an end goal but not necessary to use all. I don't see the actual menu is helping people to really get to places where they get interested to start  working on a bounty for example. And we are making

[2019-11-26 19:32] octavioamu commented on #5549
probably related https://github.com/alpinelinux/docker-alpine/issues/49

[2019-11-26 20:07] octavioamu commented on #5549
Our problem https://gitlab.alpinelinux.org/alpine/aports/issues/10962

[2019-11-26 22:12] octavioamu commented on #5549
the blame commit https://github.com/alpinelinux/aports/commit/2f6bc1cb9b406078ebc8e9621231a50159680dd9

[2019-11-26 22:41] octavioamu commented on #5549
ok seems this worked, https://github.com/gitcoinco/web/pull/5553 you can try that changes locally until we figure out a better solution

[2019-11-27 10:49] #5528 closed

[2019-11-27 12:44] mul1sh commented on #5549
@octavioamu thanks for the follow-up but still no luck in getting this work even with the command updates. I'm now getting the following error
[code]

[2019-11-27 12:46] mul1sh commented on #5549
@octavioamu thanks for the follow-up and the Dockerfile update, but still no luck in getting this work even with the command updates. I'm now getting the following error
[code]

I think its because of the alpine update.

[2019-11-27 13:26] octavioamu commented on #5549
@mul1sh I think you tested #5554 not #5553

[2019-11-27 13:32] mul1sh commented on #5549
@octavioamu Yes I did because #5554 was merged into the repo whereas #5553 was closed. Anyway thanks for the heads up, let test again with #5553

[2019-11-27 13:35] thelostone-mc commented on #5549
sorry about that @mul1sh ! goofup at my end

@Fatima-yo could you pull in master and try again ! Hopefully that should work

[2019-11-27 13:38] Fatima-yo commented on #5549
Yes, will do and let you know the results here.

[2019-11-27 14:43] mul1sh commented on #5549
@thelostone-mc no worries, thanks for the update 🙂 . I'll test later today then.

[2019-11-27 16:04] thelostone-mc commented on #5549
UPDATE: this still seems to be an issue ! mind giving us a day to figure it out ?
I've been trying to build my container all day 😅

[2019-11-27 16:24] Fatima-yo commented on #5549
OK waiting for your ready-steady-go signal

[2019-11-27 16:38] owocki commented on #5522
@androolloyd  from chat call 2019/11/27:

v1.2:
1. we should auto-register all the old users (that aren't email suprressed )
2. we should auto-register anyone who newly signs up .
3. lets make sure that they dont get a welcome email (or first email from welcome bot) esp when auto registered
4. /settings/email subscription prefs sync <> chat server
5. branding & compiling & fix auth - desktop/mobil

[2019-11-27 18:34] frankchen07 commented on #5528
this is done

[2019-11-27 19:34] frankchen07 opened #5559 "As a hackathon participant, if the date is before the start date of a hackathon, I am unable to see the prize explorer and instead will be redirected to the onboard page"
### User Story

As a hackathon participant, if the date is before the start date of a hackathon, I am unable to see the prize explorer and instead will be redirected to the onboard page.

### Why Is this Needed

If we restrict access to the prize explorer before the hackathon start date, this fixes a multitude of the onboarding issues that we had previously.

### Description

https://github.com/gi

[2019-11-27 22:10] frankchen07 opened #5560 "Cross Chain Foundations: New unpaid bounty state"
### User Story

Cross Chain Foundations: New unpaid bounty state

### Why Is this Needed

Because bounties will no longer be on-chain, bounties therefore will have a state that is tied to the generation of the payout QR code.

### Description

If a bounty has not yet been paid out yet, the state of the bounty should be "unpaid", and the bounty information & details should reflect that.

@danlipert

[2019-11-27 22:16] frankchen07 opened #5561 "Cross Chain Foundations: Chain scanner for transaction confirmation (ETC)"
### User Story

Cross Chain Foundations: Chain scanner for transaction confirmation (ETC)

### Why Is this Needed

In order to show messages confirming payment using a QR code, a chain scanner to detect transaction confirmations must be built for the proper chain (e.g Bisontrails).

@danlipert is this also the right time to think about:

1. gathering data on payments in order to generate 1099s / e

[2019-11-27 22:21] frankchen07 opened #5562 "Cross Chain Foundations: Notifications for verified fee payments"
### User Story

Cross Chain Foundations: Notifications for verified fee payments

### Why Is this Needed

We will need to design and build the backend for notifying that a QR code payment has passed and is confirmed. This is dependent on https://github.com/gitcoinco/web/issues/5561.

### Description

This ticket encompasses the design and build out of backend transaction notifications that confirm

[2019-11-27 22:22] frankchen07 opened #5563 "Cross Chain Foundations: As a Gitcoin developer, I want to decouple ETC bounties from Geth sync, so that they operate as expected from the enduser's perspective"
### User Story

As a Gitcoin developer, I want to decouple ETC bounties from Geth sync, so that they operate as expected from the enduser's perspective

### Why Is this Needed
Currently, a lot of the logic behind the standard bounties implementation syncs data from Web3 and IPFS to determine a bounty's metadata, state, fulfillments etc. Given that ETC does not have Standard Bounties, this logic wi

[2019-11-28 09:10] vince0656 commented on #5456
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-28 16:24] androolloyd commented on #5522
chat is currently in the URL as an icon next to notifications, it only shows if you ahve staff permissions.

[2019-11-28 16:37] androolloyd commented on #5522
@frankchen07 Something to think about.

If an Funder has a Tribe, and that Tribe has its own House.

Should all dealings in terms of chat for that Tribe/Org happen inside their own house.

Given the following use case:

New Bounty created -> so we want to create a channel for that bounty, should the channel appear in The "Gitcoin House", the Tribe house, both, or be a choice of the Funder, is this

[2019-11-28 18:23] octavioamu commented on #5485
Call with @willsputra :
Looking at out analytics we saw there is a problem with our navigation architecture. Will is going to create an architecture map of the current nav to demostrate all the step a user need to do to get to diff places and then propose a new one.

The solution we found is create a **mega menu** for products ex of companies with subproducts using mega menu:
https://azure.microso

[2019-11-28 19:58] thelostone-mc commented on #5549
@Fatima-yo + @mul1sh So I've got a working setup over at
https://github.com/gitcoinco/web/pull/5558. This has been merged in so pull in the latest and rebuild the container.

Figuring out the breaking dependencies was tricky so we ended up shifting to ubuntu image as opposed to alpine

[2019-11-28 20:02] Fatima-yo commented on #5549
Great!
And funny also, as Ubuntu is my favorite, I run Xubuntu and Ubuntu Studio currently (plus Lubuntu a while ago and now LinuxLite in a small machine I use for YouTube only)

[2019-11-28 20:03] thelostone-mc commented on #5549
When you do get the time , could you pull in the latest master branch and rebuild the container.
If it's good -> I'll go ahead and close this issue

Thanks for reporting it and being super patient ^_^

[2019-11-28 20:05] Fatima-yo commented on #5549
Yeah will do
Not sure if today (almost going to sleep and still got a few issues to close) but tomorrow early morning

[2019-11-28 20:51] thelostone-mc commented on #5484
@octavioamu / @frankchen07 / @willsputra -> I've updated the UI based on @willsputra design over at https://github.com/gitcoinco/web/pull/5565

[2019-11-29 15:58] Solexplorer opened #5566 "Email is showing a wrong leaderboard"
**Describe the bug**

I received the weekly email from Gitcoin but the leaderboard of Top Payers, Top Earners, and Top Orgs.
![image](https://user-images.githubusercontent.com/50027175/69879998-24011a80-12c9-11ea-9ad1-6dc40d019623.png)

**To Reproduce**

You should have received the email in your inbox

**Expected behavior**

To show the correct leaderboard

**Screenshots**

**Desktop (please comp

[2019-11-29 20:54] Fatima-yo commented on #5549
Looks like it is working now :-D
![Screenshot_2019-11-29_16-51-21](https://user-images.githubusercontent.com/3955081/69889699-2d8e8080-12d1-11ea-9089-a41bb6b68376.png)
![Screenshot_2019-11-29_17-34-07](https://user-images.githubusercontent.com/3955081/69889700-2e271700-12d1-11ea-9e9b-c798a985cc9a.png)
![Screenshot_2019-11-29_17-45-15](https://user-images.githubusercontent.com/3955081/69889701-2e27

[2019-11-29 21:00] owocki commented on #5470
@iamchrissmith im removing you from this task. @erib3 all yours

[2019-11-30 03:28] Sirlupinwatson1 commented on #5334
@owocki  Hi all,

Just a thumb up i am still alive.

I will be back in couple of days.

WIsh you all a Merry X-Mas coming up ! :)

[2019-11-30 09:25] zoek1 commented on #5459
yes, @gitcoinbot. I'll submit a PR the monday.

[2019-11-30 10:58] Solexplorer opened #5570 "Gitcoin Top Community Members is showing double entries"
**Describe the bug**

If you go [here](https://gitcoin.co/about#team) and go to the section: `Gitcoin's Top Community Members`, you see double entries. See screenshot below:
![image](https://user-images.githubusercontent.com/50027175/69899573-8fe69000-1368-11ea-815a-d598293f1919.png)

**To Reproduce**

Go to https://gitcoin.co/about#team and go down till you reach the `Community` section

**Expect

[2019-11-30 13:07] Fatima-yo commented on #5549
@thelostone-mc kindly check my last comment and tell me if I should test anything else.
Looks as everything is good now.

[2019-11-30 14:23] mul1sh commented on #5549
No luck for me 😭 , it always exits with an error as shown below. And this after trying to build the image more than 5 times
<img width="972" alt="Screenshot 2019-11-30 at 5 21 58 PM" src="https://user-images.githubusercontent.com/2150634/69901703-02ba3000-1396-11ea-90ed-7169a6348025.png">

[2019-11-30 14:45] Fatima-yo commented on #5549
@mul1sh are you sure about having the latest docker version?
I installed it following these instructions:
https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2019-11-30 15:00] octavioamu commented on #5549
@mul1sh be sure you run a fresh installation
`docker-compose down -v; docker-compose up -d --build;`

[2019-11-30 15:15] mul1sh commented on #5549
@Fatima-yo  Yep i'm using the latest docker version 2.10.5

@octavioamu  Yes i'm aslo running a fresh installation, infact i'm purging the old containers at every retry and clearing my cache just in case, but no luck it always fails at the above line.

[2019-11-30 15:52] octavioamu commented on #5549
As I see on the error seems you are under some vpn or something on your network is blocking the connection. If you have a vpn try using it. Or not sure if your up is fixed, try to reload your modem to see if with another up works

[2019-11-30 21:09] vince0656 commented on #5456
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-12-01 10:25] mul1sh commented on #5549
@octavioamu ok let me try switching ISP's and see if it helps, thanks

[2019-12-01 10:52] #5570 closed

[2019-12-01 10:52] owocki commented on #5570
5b1f583307687e34909f48e8d5d5b8ff72a781b9

[2019-12-01 10:52] owocki commented on #5570
will be deployed next deploy (prob weds)

[2019-12-01 11:11] #5566 closed

[2019-12-01 11:27] owocki commented on #5485
adding my comments from slack here for posterity https://bits.owocki.com/L1ukoy7b

[2019-12-02 00:45] Pietro-G commented on #5470
Update:

Started reading the contributing guide (https://docs.gitcoin.co/) and had a serious hard time getting docker-compose to run into WSL.

I believe that I can now deploy the website into my localhost and should be ready to start developing. I was wondering what existing js files are relevant to: "kudos withdrawals. tip sends and kudos sends"?

I was also wondering where I could collaborate w

[2019-12-02 13:16] Fatima-yo commented on #5549
@thelostone-mc kindly let me know when should I close this issue

[2019-12-02 14:48] owocki commented on #5470
feel free to provide specific feedback or submit a PR for what you think is broken in the docs.

follow the navigation around to find the 'send kudos' and 'send tip' functionality.  for kudos withdrawals its the `kudos.views.receive_bulk` route

slack (gitcoin.co/slack) is a good place.  or file a github issue

[2019-12-02 14:58] danlipert commented on #5562
I'm not sure if a separate email notification here is needed, as it will likely happen within seconds, if not just a few minutes from bounty creation.

[2019-12-02 15:00] danlipert commented on #5560
In my thinking, this is a separate state that becomes the new default state for newly created bounties - once the fee payment is detected via the backend, then it will be changed to open. Prior to the payment being detected, while the bounty is in the unpaid state it will be hidden from the explorer and elsewhere. If this would cause problems for hackathons, etc., a coupon code can be used to bypa

[2019-12-02 15:01] danlipert commented on #5561
In terms of invoices, etc. and supporting things, I do agree we'll need to build those in appropriately, but its probably a separate task (identifying the etherscan equivalent and adding that appropriately to the invoices, etc.)

[2019-12-02 15:28] thelostone-mc commented on #5549
@Fatima-yo SOLIDD :D  ❤️
Sorry I was with family and hence stayed away from github over the weekend
We are good to close it

@mul1sh I've gotten that error cause of network being blocked !
Use a VPN like @octavioamu and it should be a breeze

[2019-12-02 15:45] Fatima-yo commented on #5549
Closing issue as it was resolved

[2019-12-02 15:45] Fatima-yo commented on #5549
I am closing issue as it was resolved

[2019-12-02 15:45] #5549 closed

[2019-12-02 16:37] thelostone-mc commented on #5537
@Solexplorer thanks for the report
Fix ready over at https://github.com/gitcoinco/web/pull/5577

[2019-12-02 16:56] octavioamu commented on #5537
Not actually a bug (more a feature lol) , we are not pointing to the onboard when the hackathon is done, but as there some cases sponsors had continue with the task open we shouldn't be blocking the registration because that will block this users to work on that postponed issue.

[2019-12-02 17:04] octavioamu commented on #5537
the "start work" actually should be controlled by the "expire date" of the bounty if that is the case of that bounty, giving the founder flexibility to decide if they want or not block the user at the end of the hackathon

[2019-12-02 17:27] thelostone-mc commented on #5537
@Solexplorer so I have to close out my fix cause @octavioamu is redoing that page.
@octavioamu it might make sense though that once hackathon has ended , users can start work on the bounty just like a regular bounty (without having to register for the ended hackathon )

[2019-12-02 17:41] octavioamu commented on #5514
It redirect to the page you come from. after registering,  "start hacking" go to the issue explorer

[2019-12-02 18:13] frankchen07 commented on #5560
clarification: this is the bounty fee, not the bounty payout

still to be discussed and have a final decision on: is the fee viable as a cryptoeconomic incentive?

[2019-12-02 19:08] frankchen07 opened #5578 "CODE - As a Gitcoin user, there's a new chat? Where, why, and how can I get access?"
### User Story

As a Gitcoin user, there's a new chat? Where, why, and how can I get access? This is the design of the chat landing page.

### Why Is this Needed

With the upcoming release of Mattermost Gitcoin chat, we'll be migrating our hackathon Discord chats and also slowly closing out our Slack community chat in favor of our own hosted Gitcoin chat.

As we make the transition, there needs to

[2019-12-02 19:19] frankchen07 opened #5579 "DESIGN - As an ETC user, I'd like a user-friendly bounty process, since it will be different than ETH"
### User Story

As an ETC user, I'd like a user-friendly bounty process, since it will be different than ETH

### Why Is this Needed

Our current plans for cross-chain implementation with ETC involves a different experience when opening a bounty. We need to plan this flow out, iron out the kinks, and make sure the flow makes sense.

### Description

https://docs.google.com/document/d/1S8J4Q2FqwLk7

[2019-12-02 23:20] alexvotofuture opened #5581 ".svg sponsor logo crashing hackathon prize explorer"
**Describe the bug**
Adding some .svg files as sponsor logos to a hackathon prize explorer will crash the prize explorer, leading to a 500 error page.

**To Reproduce**
Add Ethereum Foundation with "Sponsors" admin tool", including this .svg logo (https://ethereum.org/assets/img/ethereum-icon-black.ea53fb22.svg).  Then try using "Hackathon Sponsors" admin tool to upload the logo to the prize explo

[2019-12-02 23:55] alexvotofuture commented on #5581
Issue wasn't the .svg: It was having multiples of the same sponsor entry. Closing this issue.

[2019-12-02 23:55] #5581 closed

[2019-12-03 00:12] alexvotofuture opened #5582 "Re-Using "Sponsor" name in admin causes 500 error with "Hackathon Sponsor" prize explorer logo upload tool"
Describe the bug
Adding a sponsor twice (using the exact same name) within the "Sponsors" admin tool will cause an error when trying to use either in a new prize explorer with the "Hackathon Sponsor" admin tool, causing the whole prize explorer to crash with a 500 error page.

To Reproduce
Use "Hackathon Sponsors" admin tool for a sponsor with two "Sponsors" entries of the same name.

Reproduced t

[2019-12-03 01:32] vs77bb opened #5583 "Hackathon Specific Quests! (MVP --> Global Communities)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hackathon organizer, I want hackathon specific quests to engage hackathon registrants to learn about new materials in an engaging way, without the lift of having to do a bounty.

As a funder, I want to know who has engaged meaningfully with my dApp as a 1) filtering mechanism and 2) a means to provide access to

[2019-12-03 06:34] thelostone-mc commented on #5582
Closing it out as it's fixed ^_^

[2019-12-03 06:34] #5582 closed

[2019-12-03 14:16] owocki commented on #5583
the 'unlocked' portion could be done pretty simply by adding a condition to `quest.is_unlocked_for`.. as for how to list the quests on the hackathon landing page.. i'd love to hear some ideas.

[2019-12-03 15:27] willsputra commented on #5578
@frankchen07 first draft

this could fit into the 'Why Gitcoin Chat' section. what do we want to highlight, and how should we elaborate 'advanced functionality' and 'future integrations'?

![chat landing](https://user-images.githubusercontent.com/19514207/70064281-3d38fc80-1624-11ea-8d61-2f4dddc626f3.jpg)

[2019-12-03 15:43] owocki commented on #5578
looks good to me! @androolloyd what do u think?

[2019-12-03 16:16] androolloyd commented on #5578
I think the "Join us" section is too dark, but the layout and feel is great.

[2019-12-03 16:17] androolloyd commented on #5578
Are we going back to the "Bounties" nav? Or are we going to use the "Gitcoin" one?

[2019-12-03 16:32] vs77bb commented on #5583
the basic MVP idea there is include a 'Explore Quests' Button next to 'Projects' / 'Hackathon Guide'

Projects goes to: https://gitcoin.co/hackathon/projects/global-communities/
Guide goes to: https://gitcoin.co/hackathon/onboard/global-communities/
Quests could go to: https://gitcoin.co/hackathon/global-communities/quests

with a specific view of the GC quests above (or any hackathon specific que

[2019-12-03 17:44] owocki commented on #5578
good call lets use the gitcoin nav

[2019-12-03 17:48] owocki commented on #5466
hey guys what is the recommended path here?  does @zoek1 's PR jibe well with @octavioamu 's ?

[2019-12-03 17:54] pcowgill opened #5584 "Run a script to get old Tasit Gitcoin Grants page history showing up for the new version"
### Who
Tasit / Paul Cowgill

### What
I had to make a new Gitcoin Grants page for the Tasit project because the old recipient was an Aragon DAO Vault and EIP-1884 broke legacy Aragon DAOs. Can you please run a script to pull the tx history, updates, and contributors list for the old grant from the db and add it to the new grant page? If you can do this before Grants Round 4 is announced, that wou

[2019-12-03 18:22] octavioamu commented on #5466
I don't see the propose of merging @zoek1 since the problem is solved on production already. But @zoek1 feel free to tell is if something is missing on production.

[2019-12-03 18:31] owocki commented on #5543
TOWN SQUARE
following/tribes
Commenting/tipping ability
Could mean that people could start doing q&a on comments
Work mini town square:
Homepage is /activity instead of homepage if logged in
Then nav up top toggles between all the diff explorers
Plus other town square features

town square - where you go to share + mingle
- activity feed
- dashboard
- forum - debate values and things
- manage invi

[2019-12-03 20:23] owocki commented on #5466
happy to still pay out the bounty zoek

On Tue, Dec 3, 2019 at 11:22 AM Octavio Amuchástegui <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-03 20:42] vince0656 commented on #5456
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-12-03 21:17] octavioamu commented on #5466
Actually I believe the missing part is grants, since is totally separated code from the other parts.  And of course test everything just to check if we didn't miss anything.

[2019-12-03 23:00] frankchen07 commented on #5484
is there anyway to make a fix for this?

[2019-12-03 23:01] frankchen07 commented on #4806
thanks @PumpkingWok - looking forward to seeing it!

[2019-12-04 13:34] #3143 closed

[2019-12-04 13:56] #5516 closed

[2019-12-04 14:45] androolloyd commented on #5516
Sorry I'm late to this, yes the status of a user is queryable, https://api.mattermost.com

[2019-12-04 14:46] owocki opened #5591 "Appearently incorrect gas cost by 10 times on Grant Submission page"
It appears that the gas fee presented on the GitCoin Grants submission page is reporting incorrect gas costs by a factor of ten as seen in this screen shot.

<img width="1747" alt="Screen Shot 2019-12-03 at 8 51 36 PM" src="https://user-images.githubusercontent.com/5417918/70105854-17096180-1610-11ea-8f86-4a13729e9fc9.png">

[2019-12-04 18:14] owocki commented on #5591
f2f9dfdc01def11fb6691f8ea693036bb3b2c210

[2019-12-04 18:53] owocki commented on #5459
@zoek1 how goes brah

[2019-12-04 19:58] owocki commented on #5583
@vs77bb here https://gitcoin.co/hackathon/global-communities

[2019-12-05 02:27] Sirlupinwatson1 commented on #5334
Hi all.
I Will be back soon, i got à broken leg today on a job site, a pile of wood did fall on my leg. So i am stuck home around 4 to 8 weeks.
See you soon

[2019-12-05 05:58] #5514 closed

[2019-12-05 09:13] zoek1 commented on #5459
Good, you can see the changes here @owocki #5599

[2019-12-05 09:16] zoek1 commented on #5466
I'll review to see if there are some pages with errors. I'll publish one update in a couple hours

[2019-12-05 19:12] owocki commented on #5522
v1.2 integration stuff
Kevin:
maybe lets just have a suite of commands that can
auto-add a user to chat (but not send them an email / inherit their email prefs)
auto-create channels for a bounty or ..
auto create channels for a an org.
add users to a channel when they start work

Frank:
add users to a channel with the funder when they start work > auto-create channels for a bounty. I feel like the

[2019-12-05 19:13] owocki commented on #5591
fixed on https://github.com/gitcoinco/gitcoinco/issues/67

[2019-12-05 19:13] #5591 closed

[2019-12-05 21:50] ItsMajestiX opened #5603 "Unable to claim bounty, transaction dropped"
I was told by email support to post my issue here. I am trying to claim a tip that has been sent to me, but the transaction is constantly mining. [I checked the transaction on etherscan, and it was dropped](https://etherscan.io/tx/0x64b1fe2831183bcfaaa6acf8583ff42558fbc39b05e51f6ef14d2230b264cd3e). The tip was for work on [this issue](https://gitcoin.co/issue/ArweaveTeam/Bounties/1/2929), if it's

[2019-12-05 21:57] owocki commented on #5603
hey @arweave-sophie it looks to me like the tip transaction was dropped by the ethereum mainnet.. any chance you'd be able to re-issue the tip?

[2019-12-05 21:58] owocki opened #5604 "security warning in firefox/linux"
**Describe the bug**

**To Reproduce**

security warning in firefox/linux

**Expected behavior**

**Screenshots**

![IMAGE 2019-12-05 14:58:04](https://user-images.githubusercontent.com/513929/70277461-ae38fb00-176f-11ea-80a9-993b2da939ff.jpg)

firefox / linux

[2019-12-05 22:06] owocki commented on #5578
putting up a bounty now.. the scope of the bounty is to code this up and put it at `/chat`.

coded up landing page should be:
1. responsive / work in mobile/tablet/sizes
2. pls have your first draft PR ready for review by Monday

[2019-12-05 22:07] owocki commented on #5578
@willsputra can u post the design file?

[2019-12-05 22:11] owocki commented on #5522
a few more v1.2 GA things @androolloyd
- for chat landing page ( https://github.com/gitcoinco/web/issues/5578 ) we need links to the mobile/desktop apps to download on major platforms
- can we get an automatically added link to a users gitcoin profile in their proifle hover cards? https://bits.owocki.com/7KuygQEX
- lets replace all the links to the community slack (`/slack`) to the chat experience

[2019-12-05 22:51] owocki commented on #5578
@kvndlgs we need someone to implement the design that @willsputra designed .. not design a new design.. see my last comment above https://github.com/gitcoinco/web/issues/5578#issuecomment-562340702

[2019-12-05 23:02] owocki commented on #4943
just paid everyone who had an accepted PR

[2019-12-05 23:04] androolloyd commented on #5522
This is way easier said than done timely, the implications would be something, desktop apps get served the client directly, so we'd have a gitcoin desktop app that would be broken, and yet semi functional as electron manages sessions correctly, the mobile apps don't use the web client so they would be un affected.

Doable yes, how doable, that remains to be certain.

The current iframe should be m

[2019-12-05 23:05] androolloyd commented on #5522
@thelostone-mc merged the 1.1-fixes today for chat, but im not sure if they made it into the release.

[2019-12-05 23:09] androolloyd commented on #5522
hey so thats annoying, just realized I edited your post @owocki. Sorry about that

[2019-12-05 23:15] androolloyd commented on #5522
will be a celery task to sync over settings that are relevant, starting with email

will be a celery task that can be delayed that will do the above, we'll wire it into the app lifecycles for this release

Ok, when the bounty has work started, the channel will be created, and join the funder, and the hunter, a good interview question would be who gets added to the communication stream when a bount

[2019-12-05 23:15] kuhnchris commented on #5604
On what subdomain? *.shmoop.com seems to be for a different page.

[2019-12-05 23:16] androolloyd commented on #5522
- [ ] auto-add a user to chat (but not send them an email / inherit their email prefs)
- [ ] auto-create channels for a bounty or ..
- [ ] auto create channels for a an org.
- [ ] add users to a channel when they start work
- [ ] add users to a channel with the funder when they start work > auto-create channels for a bounty.

[2019-12-05 23:27] biuxmaster commented on #5465
@owocki Hi, I made a few more kudos about hippie, Colorado mountain and road trip. Pls, tell me what you think?
![kudos1](https://user-images.githubusercontent.com/49821444/70282772-ced87380-17b6-11ea-87ff-764239ca016d.jpg)

[2019-12-05 23:34] Pietro-G opened #5605 "Setting up docker-compose (Win 10 with WSL)"
**Describe the bug**
Unable to set up web environment for WLS with working docker and docker-compose (i.e: https://docs.gitcoin.co/mk_setup/)

**To Reproduce**

Docker version 19.03.5, build 633a0ea838
docker-compose version 1.25.0, build 0a186604

I do get the following warnings before a spam of error messages:
"WARNING: The TEST_MNEMONIC variable is not set. Defaulting to a blank string.
WARNING

[2019-12-05 23:37] Pietro-G commented on #5470
Update:

https://github.com/gitcoinco/web/issues/5605

Not much luck after trying to ask for help in slack, i'll try a different set up tomorrow to see if I can at least advance in another way instead.

[2019-12-05 23:55] owocki commented on #5465
@biusmaster looks great - pls submit them

[2019-12-06 00:14] biuxmaster commented on #5465
@owocki Thanks, I already did the PR https://github.com/gitcoinco/creative/pull/178 and submitted them  on https://gitcoin.co/kudos/new

[2019-12-06 06:15] owocki commented on #5578
@kvndlgs do u still want this?

@iamonuwa r u interested in this still?

[2019-12-06 08:03] kvndlgs commented on #5578
@owocki Hi, yes, I can also code, no problem.

[2019-12-06 19:19] Solexplorer opened #5610 "GitcoinBot and website show different things in the activity log"
**Describe the bug**

The bounty is: https://gitcoin.co/issue/MyBitFoundation/MyBit-Go.app/512/3788
From the GitcoinBot I see that iamonuwa started work on this bounty but in the website, I don't see iamonuwa and I see that another user( pbteja1998 ) has started and stopped work. Though pbteja1998 is not referenced in the issuecomment: https://github.com/MyBitFoundation/MyBit-Go.app/issues/512#iss

[2019-12-06 19:20] owocki commented on #5578
onuwa is on it.. would love to give a diff bounty to toher applicants.  if
anyone is interested in another splicing task pls @ me

On Fri, Dec 6, 2019 at 1:03 AM kvndlgs <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.c

[2019-12-06 19:20] Solexplorer commented on #5610
CC: @octavioamu @thelostone-mc

[2019-12-06 19:42] crypto-guys opened #5611 "Submitted work to wrong bounty"
I accidentally submitted the wrong link to this bounty.
https://gitcoin.co/issue/ArweaveTeam/Bounties/19/3704

If you look at the time this happened and the time i submitted my project for ipfs+arweave they are very close because i was in the wrong bounty when i submitted.

Now I can not submit my actual work.
https://github.com/crypto-guys/arweaveNewsPermafeed/

Is there any way to fix this?

[2019-12-06 19:52] owocki commented on #5611
just updated the submission link on the bounty fulfillment object, which will show on the bounty newsfeed! thanks for letting us know!

[2019-12-06 19:59] frankchen07 opened #5612 "DESIGN & BUILD - As a Gitcoin operator in CLR Round 4, we need to build a separate view for media grants"
### User Story

DESIGN & BUILD - As a Gitcoin operator in CLR Round 4, we need to build a separate view for media grants

### Why Is this Needed

For CLR round 4, we need to refresh the Grants page and add an additional section for media grants.

### Description

Time for a Grants page refresh (gitcoin.co/grants)

1. We need a duplicate UI for media grants that runs parallel with the normal techni

[2019-12-06 20:07] iamonuwa commented on #5578
@willsputra please share the figma design for this

[2019-12-06 20:07] karansinghgit commented on #5334
@owocki Can more quests be made on a-ha moments not listed here?

[2019-12-06 20:08] crypto-guys commented on #5611
Its fixed thank you

[2019-12-06 20:08] #5611 closed

[2019-12-06 20:25] owocki opened #5613 "Make the metamask logo (a 3d fox) into a 3d robot fox"
The scope of this task is to take https://github.com/MetaMask/metamask-logo and fork it as follows:

- the metamask fox is now a metallic robotic fox in the style of our existing robot branding https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots/robot_kudos
- the robotic fox should clearly still be the metamask fox, but have distinctly robotic themes to it
- all 3d features of t

[2019-12-06 20:30] owocki commented on #5612
@frankchen07 we'll likely also need a wayto mark grants as "listed on the OSS marketplace" "listed on media marketplace" or "not listed" in the new grant form.

secondly, we'll need to update the clr code to only compare grants against those who are in the same category.

thirdly, what are the sub categories of media grants similar to the sub categories of OSS grants? https://bits.owocki.com/2NurR

[2019-12-06 20:31] owocki commented on #5456
how goes? gitcoin grants round 4 is coming up @vince0656 and we'll need to get this actually done soon!

[2019-12-06 20:31] owocki commented on #5612
also note that this is an ongoing thing https://github.com/gitcoinco/web/issues/5456

[2019-12-06 20:33] #5350 closed

[2019-12-06 20:34] #5355 closed

[2019-12-06 20:34] owocki commented on #5334
yes

On Fri, Dec 6, 2019 at 1:07 PM karansinghgit <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-06 20:34] #5370 closed

[2019-12-06 20:35] #5400 closed

[2019-12-06 20:36] #5406 closed

[2019-12-06 21:26] ItsMajestiX commented on #5603
The transaction seems to be back up again. I was able to redeem it, so I'm closing the issue.

[2019-12-06 21:26] #5603 closed

[2019-12-06 21:31] edsonayllon commented on #5578
@owocki I'd be interested

[2019-12-07 03:41] owocki commented on #5334
what is web3 https://www.youtube.com/watch?v=l44z35vabvA

[2019-12-07 11:31] iamonuwa commented on #5578
@owocki @willsputra waiting for the final design

[2019-12-07 11:40] vince0656 commented on #5456
Good thanks - I'm just wrapping things up and have brought in these categories (from the top of the grants page)
![image](https://user-images.githubusercontent.com/15893673/70374021-48bb4a80-18e6-11ea-9ca9-4a98c2829cd0.png)

[2019-12-07 11:40] vince0656 commented on #5456
Hope to have a better update to you tomorrow

[2019-12-08 05:14] thavilang commented on #5326
Pleeese more women options. And fantasy colored for skin (like blue ir green) can be cool.

[2019-12-08 11:05] vince0656 commented on #5456
Opened up a draft PR

[2019-12-08 23:28] owocki commented on #4806
@PumpkingWok how goes? im a little anxious its 20 days till the new year and we haven't seen a working PR yet.

[2019-12-09 04:38] walidmujahid commented on #5334
More "Week in Etherland ---" quests. For those who stay up to date via the Week in Ethereum Newsletter.

[2019-12-09 11:07] PumpkingWok commented on #4806
Hi @owocki,
No worries, i'm going to complete it in few days. Today i will complete the part about the csv and 1099 form creation so you could start to test it. I will conclude the last part (email and crontab task) in max 2/3 days.
I'm going to write here today just after the commit.
Thanks in advance and i'm so sorry for the delay to complete this issue.

[2019-12-09 12:54] PumpkingWok commented on #4806
Hi @owocki ,
last thing: I noticed that even name and surname miss.
Are there some db properties that i could use for them ?
Would you like that i add `name` and `surname` properties into profile model and add these field inside tax settings other than `location` and `address` ?
Thanks

[2019-12-09 13:40] pradeepgangwar commented on #4834
@owocki can i start working on this one? carrying on from where @iamonuwa  left? I see on gitcoin dashboard that @iamonuwa has stopped working.

[2019-12-09 14:21] danlipert commented on #5560
Since we are not using a bounty fee for ETC, this ticket is no longer needed

[2019-12-09 14:21] #5560 closed

[2019-12-09 14:22] danlipert commented on #5462
The MetaMask update has now been pushed back to "Q1 2020"

[2019-12-09 16:13] frankchen07 commented on #5562
no longer using bounty fee - ticket no longer needed

[2019-12-09 16:13] #5562 closed

[2019-12-09 18:56] frankchen07 commented on #5561
status update:

more work to be done on the payout page: browser keeps pinging the txn scanner on the payout page

more thinking about predicting transaction id (get nonce) or simply scan the blocks (using blockscout)

[2019-12-09 19:49] frankchen07 opened #5616 "BUILD - As a Gitcoin operator in CLR Round 4, we need to account for backend changes on media grants"
### User Story

BUILD - As a Gitcoin operator in CLR Round 4, we need to account for backend changes on media grants.

### Why Is this Needed

For CLR round 4, we need to refresh the Grants page and add an additional section for media grants. In order for this page to work, there is a backend component that needs to run smoothly.

### Description

1. We need a way to mark grants as "listed on the

[2019-12-09 19:51] frankchen07 commented on #5612
1. @thelostone-mc and I talked about this logic today - I've opened a ticket for it: https://github.com/gitcoinco/web/issues/5616. We'll be shifting priorities over to make sure this is ready for december 17th. It'll be tight though.

2. also talked about this with aditya

3. @ceresstation and I considered just ditching subcategories and just having a cleaner media or tech grants. @willsputra will

[2019-12-09 20:16] frankchen07 commented on #5532
closing - covered by:

https://github.com/gitcoinco/web/issues/5529
https://github.com/gitcoinco/web/issues/5559
https://github.com/gitcoinco/web/issues/5533

[2019-12-09 20:16] #5532 closed

[2019-12-09 20:16] frankchen07 commented on #5531
closing - covered by:

https://github.com/gitcoinco/web/issues/5529
https://github.com/gitcoinco/web/issues/5559
https://github.com/gitcoinco/web/issues/5533

[2019-12-09 20:16] #5531 closed

[2019-12-09 20:44] walidmujahid commented on #5298
I'm not sure if this is the place to ask, seeing as the main issue post is closed, but has anyone brought issues with colours and contrast in the quest UI? For instance, when clicking on an answer in the quest, if the background colour of the button is dark and the general background is also dark, we -or perhaps just me- cannot see in a quick manner if the answer was selected.

So, sometimes an an

[2019-12-09 21:44] frankchen07 opened #5617 "BUILD - As a Gitcoin operator, the current ETH bounty processes need to be updated to account for ETC"
### User Story

BUILD - As a Gitcoin operator, the current ETH bounty processes need to be updated to account for ETC

### Why Is this Needed

Certain flows on ETH will be deprecated due to the lack of metamask, lack of fees, and the bounty no longer being on the blockchain (no standard bounties contract).

### Description

Document tracking which elements of the ETH experience need updating:

htt

[2019-12-10 02:01] JanMooMoo commented on #5338
Made this as a learning tool for 500nigeria dev students.

https://gitcoin.co/quests/71/500-nigeria-developers-for-ethereum

[2019-12-10 02:24] think-in-universe commented on #4943
@owocki Hi Kevin, just a quick check whether my accepted PR https://github.com/gitcoinco/web/pull/5117 is valid to be paid or not.

[2019-12-10 03:09] molecula451 opened #5618 "Ratings Section [Work submmited"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-12-10 03:18] molecula451 opened #5619 "Ratings Section [Work submmited] issue"
**Describe the bug**

There is an issue I am seeing on the <code>gitcoin.co/username/ratings</code> section where I have applied to work/contribute on some bounties and I have actually submmited any work. And it does look like if I have actually worked and submmited one.

The two bounties that are in yellow are not expected to be there. The bounty that is in green it's was actually submmited so th

[2019-12-10 03:21] #5618 closed

[2019-12-10 12:10] walidmujahid commented on #5334
Quest or perhaps series of quests of varying difficulty about:

HD Wallets
Derivation Paths
Stellar Network
Dual-platform/chain applications

[2019-12-10 12:42] PumpkingWok commented on #4806
Hi @owocki,
News regard `name` and `surname` fields ? Thanks a lot

[2019-12-10 13:33] walidmujahid commented on #5338
Quest about HD Wallets and Derivation Paths:
https://gitcoin.co/quests/72/one-seed-to-find-them

[2019-12-10 17:00] octavioamu commented on #5619
Seems there is a problem with unrated_contributed_bounties on views.py
If you want to work on this one  I can bounty it @molecula451.

[2019-12-10 17:03] molecula451 commented on #5619
@octavioamu Go ahead. I will personally work on it

[2019-12-10 19:46] vince0656 commented on #5456
Currently working on edits

[2019-12-10 19:46] vince0656 commented on #5456
Edit grants I mean

[2019-12-10 20:56] Pietro-G commented on #5470
To whom it may concern,

Apologies, I have been away for the weekend. I'm still working on this and will dedicate time to it this upcoming weekend hopefully. I still haven't received any response from the issue that I opened, moreover I will first have to see how to get a dev environment set-up.

[2019-12-10 22:20] owocki commented on #5605
@androolloyd this (the warnings at least) looks related to the recent celery changes??

[2019-12-10 22:20] owocki commented on #5470
i just commented on that issue. i havent seen it before..  are you sure that the web environment doesnt spin up?  looks like the issues may be ecelery (not webapp) related

[2019-12-10 22:31] Pietro-G commented on #5470
I'm sure it doesn't spin up on http://localhost:8000/ and I also tried other ports that docker is exposing just in case, but no, I'm unsure if it's a gitcoin issue or the way I've set up my environment somehow

[2019-12-10 22:54] pcowgill commented on #5584
@owocki Is it looking possible that this will happen before the Round 4 announcement? Thanks!!

[2019-12-10 23:18] octavioamu commented on #5322
closing as solved

[2019-12-10 23:18] #5322 closed

[2019-12-10 23:20] #5488 closed

[2019-12-10 23:48] owocki commented on #5584
yea i should be able to get to it by then

On Tue, Dec 10, 2019 at 5:54 PM Paul Cowgill <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-10 23:49] owocki opened #5620 "info needed to list kudos purchases on etherscan"
[code]

[2019-12-10 23:50] owocki commented on #5620
@kvrnc does this look ok?

[2019-12-11 00:10] octavioamu commented on #5549
@mul1sh were you able to solve your problem?

[2019-12-11 00:11] owocki commented on #4806
user first name and user last name on the django user object

On Tue, Dec 10, 2019 at 7:42 AM andrea zuccarini <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-11 01:03] androolloyd commented on #5605
hmm, the bin directory is not being found it looks like, i wonder if this is only happening on windows.

[2019-12-11 01:47] walidmujahid commented on #5334
More quests about:

DeFi
Understanding problems (and potential/implemented solutions) in Open Finance

[2019-12-11 04:21] walidmujahid commented on #5334
SukukChain
Smart Contracts and Automation of Shariah/Islamic Laws

[2019-12-11 05:21] walidmujahid commented on #5334
More quests on Onboarding for developers -tools, design patterns, etc.

[2019-12-11 07:05] mul1sh commented on #5549
@octavioamu I was 🙂, thanks.

[2019-12-11 07:43] vince0656 commented on #5456
Fixed a bug where the category was not actually being persisted

[2019-12-11 08:03] walidmujahid commented on #5338
A beginner introduction to the Stellar Network:
https://gitcoin.co/quests/75/a-stellar-intro

[2019-12-11 08:18] kuhnchris commented on #5298
Hi there - best way to do this would be to open a new issue here on github so we can take a look at it and prioritize it.

Thanks

[2019-12-11 08:52] Elma-Landro commented on #5338
@owocki I still haven't received the gift (a Keepkey) for my position on the leaderboard at round 1. I've already reached you by mail but no response so i contact you on github for more information. Thank in advance for answering

[2019-12-11 12:25] Sirlupinwatson1 commented on #5338
Hi @Elma-Landro ,

Don't worry about that, @owocki  is pretty busy since its the Hackathons hapenning right now.

He will get in touch with you eventually.

Have a great day !

[2019-12-11 12:31] Sirlupinwatson1 commented on #5298
@walidmujahid  You are right about this, if you want you can create a issue about it and explain the bug.

I did realise it also, but was not sure if it was part of the plan lollll.

Thanks for your feedback

[2019-12-11 17:41] kuhnchris commented on #5620
I assume they will not be able to handle the IPFS hashes? I'd prolly suggest that we need to generate a API call for them (as the nft.com/id example) so they can fetch the data...

[2019-12-11 17:43] willsputra commented on #5612
Maybe we could have two-level categories?

![grantscategories](https://user-images.githubusercontent.com/19514207/70645824-a8b44700-1c80-11ea-9730-7bb2fea2ef18.jpg)

[2019-12-11 17:44] willsputra commented on #5612
@frankchen07 btw will the matching amounts and partners be different for tech and media grants? wondering if I should tweak this part too.
![Screenshot 2019-12-12 01 43 10](https://user-images.githubusercontent.com/19514207/70645909-d0a3aa80-1c80-11ea-8a3e-aaeab9fa2cf7.png)

[2019-12-11 17:55] owocki commented on #5338
sorry guys ; im deep in 2020 planning and a tad behind on my inbox.  ill get u paid. give me a few more days.

[2019-12-11 18:08] owocki commented on #5612
i like the tabs that @willsputra designed!  +1 on having the diff matching amounts listed up top.. would love to have a nice design for this.. but if push comes to shove we can just update the text

[2019-12-11 18:10] owocki commented on #5612
also note that right now we have two types of grants

- listed on marketplace
- not listed on marketplace

going forward there could be technically 3 categories

- tech public goods grants
- media public goods grants
- other grants

we would shove all the unlisted ones into 'other grants'..  then if the grant owner can convince me or @ceresstation that their grant is actually a public good; then t

[2019-12-11 18:29] willsputra commented on #5612
@owocki gotcha, will work towards that!

[2019-12-11 20:04] frankchen07 opened #5626 "Tribes v1.1 Placeholder"
### User Story

Gitcoin Tribes is currently in its 2nd iteration. We've received initial feedback on what the feature set might be for Tribes to be a success.

### Why Is this Needed

Tribes offers a recurring subscription for returning hackathon sponsors to take even greater advantage of the open source developers that they've worked with.

### Description

With our customer research, we're funne

[2019-12-11 21:20] kfichter commented on #5613
Helloooo. Decided to mess around with this today. [Here's a prototype version](https://gfycat.com/politesandybagworm) (without much shading). Feedback is very welcome.

I did have some issues trying to get the object to show up correctly when using the metamask library. Haven't resolved that yet.

[2019-12-12 03:02] owocki commented on #5613
word - looks purdy cool to me!  would be neat to get it working so it follows the cursor like the metamask one does..

for a v2 we could have it shoot lasers out of it's eyes or something when you click.

what issues did you have with the metamask library

[2019-12-12 04:02] kvrnc commented on #5620
@kuhnchris is right since the contract is not verified, we are unable to determine the function and field available to pair the token id with the ipfs hash. @owocki by any chance you have the ABI for the contract? Here is a sample of an un-verifiable contract with ABI, Read and Write function works.

[2019-12-12 04:16] kfichter commented on #5613
I'm using 3ds max to export the same type of .obj and .mat files that metamask uses. I can get it to follow the cursor but some of the polygons don't show up for whatever reason. Will leave a more detailed issue on the metamask repo.

[2019-12-12 10:15] agbilotia1998 commented on #4943
Hi @owocki could you please check my request for work on this issue?

[2019-12-12 16:01] kuhnchris commented on #5620
It's basically a ERC721, minimal ABI provided here: https://github.com/kuhnchris/KudosDisplayCards-dApp/blob/master/src/web3wrapper.ts

Alternative the 'official' ABI available but not matching up the contract(s) 1:1 is here: https://github.com/OpenKudos/python_client/blob/master/abi/kudos.json

[2019-12-12 16:11] owocki commented on #5620
i dont understand why this is so complicated.  we use ERC721 standards in the Kudos.  it should be easy to integrate the kudos data; verified or not (Kudos is not *verified* on OpenSea for example).

[2019-12-12 18:41] owocki commented on #5466
zoek you still want this?

On Thu, Dec 12, 2019 at 10:15 AM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-12 19:11] kuhnchris commented on #5620
well, the main issue is that you have deployed a contract that is simply not verifiable, and hence not trustworthy... since nobody can check what you actually got in the contract. for all purposes and for the history that had happened before, your token could have an exit scheme/exit function that allows you to empty the contract. that's the reason why some things require verified contracts.

...n

[2019-12-12 20:15] vince0656 commented on #5456
@owocki I believe I meet the definition of done but for some reason my grants are not appearing on the grant explorer. However, I think the display of the category will work so I've made the PR ready for review

[2019-12-12 20:18] vince0656 commented on #5456
I imagine it work work in regression

[2019-12-12 20:40] owocki commented on #4943
i am heads down on some 2020 planning.. will check in the  next few days.

On Thu, Dec 12, 2019 at 3:16 AM Ayush Gupta <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-12 20:48] PumpkingWok commented on #4806
Hi @owocki
I have just committed some changes, also it includes the creation of 1099 misc. Until now i tested with bounties and tips, i have to add the grants part. Today i ask some help to @thelostone-mc for understand properly how get all contributions between donation, contribution and subscription in grants.
Also i have added the task in crontab for the 15th of January, if i was not wrong.

Yo

[2019-12-12 22:29] owocki commented on #5456
@vince0656 flip the `hidden` bit on the grant + it should list. pls let me know when its tested.

[2019-12-12 22:33] owocki commented on #4806
hey @PumpkingWok instead of integrating tips/bounties/grants etc all seperate...  have you considered just using the dashboard.model.Earnings object to populate the 1099? probably much simpler..

[2019-12-13 00:30] willsputra commented on #5612
we could have the amount and sponsors in each tab. I've also added the Unlisted tab which is only visible for admin
![grants](https://user-images.githubusercontent.com/19514207/70759858-bf42c700-1d82-11ea-99a4-02ae07673b8d.jpg)

[2019-12-13 03:12] owocki commented on #4834
@pradeepgangwar thatd be great.

[2019-12-13 03:38] owocki commented on #5338
@Elma-Landro in leui of physically sending you a device i just sent you some tokens... enough to get a keepkey. enjoy!

[2019-12-13 04:44] pradeepgangwar commented on #4834
Thanks @owocki , will see and understand it. Hope to open a PR in a week. :D

[2019-12-13 05:00] molecula451 commented on #4943
@owocki I am expecting a merge on the recent approving changes #5607 #5594 since I was applied to contribute for the documentation bounty. I want to keep heads up on more bounties.

[2019-12-13 08:32] Elma-Landro commented on #5338
Hi @owocki thanks a lot, token received! Finishing 2019 and welcome to 2020!

[2019-12-13 08:51] elopez opened #5630 "Failed tip payment recorded as successful in GitCoin"
**Describe the bug**

While trying to debug failing payment due to "intrinsic gas too low" I managed to produce a failed transaction:
https://etherscan.io/tx/0x9b5af5c2b473954e53ef94b0c5ae7a92dd13d17b9d193c23e43f0664bbe887fd
However now GitCoin thinks that the tip was paid, even though the transaction has failed.
Associated issue with the tip: https://gitcoin.co/issue/crytic/eth-security-toolbox/5

[2019-12-13 12:15] zoek1 commented on #5466
Yes, please @owocki! Just give me the weekend and I'll publish the status and what not works on opera, I already detected some pages but I need to take time to seat and rank them in priority order and complexity. Also with changes to fix some of them. :sweat_smile:

[2019-12-13 13:33] molecula451 opened #5631 "Duplicate Work Submmited and 0 Expecting Payout"
**Describe the bug**

Somehow I was able to bug the app and submit a work twice.
![twice](https://user-images.githubusercontent.com/41552663/70803162-c91bf880-1d89-11ea-8625-d8ace0667d24.png)

I had to even pay fullfilment twice for work submission

![transactions](https://user-images.githubusercontent.com/41552663/70803304-22842780-1d8a-11ea-90d4-eb7279b0ee34.png)

[Fulfill1](https://etherscan.io

[2019-12-13 13:41] Solexplorer opened #5632 "Explorer doesn't show correct amount for a bounty"
**Describe the bug**

This [bounty](https://gitcoin.co/issue/MetaMask/metamask-extension/6649/3808) has a value of 30 DAI( 20 DAI from the funder and 10 DAI from crowdfunding ) but the explorer only shows the amount that the funder attached to the issue.

**To Reproduce**

Go to this [bounty](https://gitcoin.co/issue/MetaMask/metamask-extension/6649/3808) and see the amount, then go to explorer an

[2019-12-13 14:08] owocki commented on #4943
great hit me up when merged. i can also increase the number of active bounties u can work on if u want in meantime

[2019-12-13 14:21] molecula451 commented on #4943
@owocki Please do. And please call someone to re-review and merge those. I will strive keeping the documentation on a good fit.

[2019-12-13 14:29] owocki opened #5633 "new bounties email should not include bounties that i have posted"
new bounties email should not include bounties that i have posted.. only ones that others have posted

[2019-12-13 14:32] owocki commented on #4943
just upped your max number of active issues to 5 from 3.

feel free to tag maintainers if any of your prs stalls out (<3 business days). i can't be watching every PR on the repo unforfutunatley

[2019-12-13 15:13] coderberry opened #5634 "Gitcoin Weekly newsletter has poor formatting on mobile clients"
**Describe the bug**

Horizontal padding for newsletter emails on mobile appear too narrow on Gmail (mobile) and Front App (mobile).

**To Reproduce**

Open and view the Gitcoin Weekly newsletter in either client.

**Expected behavior**

There should probably be less horizontal padding so that the content takes up more of the screen space.

**Screenshots**

Front Client (iOS):

![IMG_D820C02B0293-

[2019-12-13 15:54] owocki commented on #4943
@think-in-universe paid u now
 @agbilotia1998 just approved u

[2019-12-13 18:17] molecula451 commented on #5634
<code> newsletter.css</code> Add responsiveness for different widths. @owocki Bountiying out?

![Screenshot_20191213-135835](https://user-images.githubusercontent.com/41552663/70822081-119bdc00-1db3-11ea-97e3-ec86ae59b8ea.png)
![Screenshot_20191213-135846](https://user-images.githubusercontent.com/41552663/70822087-13fe3600-1db3-11ea-9715-60135d4652c8.png)
![Screenshot_20191213-135857](https://use

[2019-12-13 18:57] owocki commented on #4806
let me know how goes

[2019-12-13 19:11] frankchen07 commented on #5612
oh, that looks nice...I like the clr round match up top as the banner.

I still am a proponent of removing the original filters, I think it'll be cleaner since we already have a sort by function.

does that mean anyone can see the unlisted? then people will ask why they're in unlisted, right? maybe unlisted should be renamed something else (like other) but that's more of a positioning thing.

[2019-12-13 19:53] biuxmaster commented on #5613
@owocki  Hi, I'd like to ask if when I submit the metamask logo , it should  be in svg or .obj  ?

[2019-12-13 20:20] owocki commented on #5613
this is the submission instructions on the bounty desc...

[2019-12-14 12:17] Solexplorer opened #5638 "Add filters to bounty explorer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would like to filter by date, amount and token.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

I usually go to the bounty explorer and

[2019-12-15 09:51] thelostone-mc commented on #5456
@vince0656 + @owocki  Left a bunch of comments

https://github.com/gitcoinco/web/pull/5615#pullrequestreview-332202251

https://github.com/gitcoinco/web/pull/5615#issuecomment-565793823

[2019-12-15 17:54] PumpkingWok commented on #4806
Hi @owocki,
I have just committed the last changes, it includes the email sending for all funders, I used the `Earning`  model as you recommended to me for retrieve `grants` info. Right now it retrieves `bounties` and `tips` infos in another way.

I can make changes to code without problems but in the meantime you can start to test it.
Be careful that the command at the end sends an email to all f

[2019-12-16 01:24] NukeManDan opened #5641 "Can't edit hackathon project"
**Describe the bug**

https://gitcoin.co/hackathon/projects/global-communities/?q=kickback+cor&sponsor=
I am the owner of the project, but hitting `edit` does nothing.

Button:
[code]

**To Reproduce**

Any page with this card has the same problem.

**Expected behavior**

I should go to the project edit page

**Screenshots**

![image](https://user-images.githubusercontent.com/35669742/70872878-10f

[2019-12-16 10:33] willsputra commented on #5612
hmm I guess it's still useful for people who want to look for or fund specific types of grants, since the sort by function is only by date and amount.

as a start we'll probably make the unlisted admin-only

[2019-12-16 16:12] vince0656 commented on #5456
Ok thanks let me have a look

[2019-12-16 17:34] octavioamu commented on #5641
Thanks for reporting this, I will take a look.

[2019-12-16 19:41] owocki commented on #5612
+1 to this

ok sounds good

[2019-12-16 20:53] owocki commented on #5470
@Pietro-G can you give us more details on the environment issues you've been having? we cant help with "it doesnt spin up" need to know the error youre hitting.

[2019-12-16 20:56] Pietro-G commented on #5470
@owocki Would you like me to send you full console logs of the terminal, or what exactly?

[2019-12-16 21:01] owocki commented on #5470
you can just submit a github issue and follow the template pls.. whatever
you think will help us debug the issue

On Mon, Dec 16, 2019 at 1:56 PM Pietro-G <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-16 21:30] octavioamu commented on #5641
@NukeManDan now should be fixed (https://github.com/gitcoinco/web/commit/0381c241f87b15b4db99f2f1e2e7b6e3d90e087d) can you please test and tell me if ok now?

[2019-12-16 22:16] owocki commented on #5641
hey @NukeManDan didnt you tell me at the app alliance thing that you were having perf issues on the gitcoin site? can u open a ticket for that too?

[2019-12-16 22:24] owocki commented on #4806
thanks @PumpkingWok i can start testing soon..

sendgrid can handle the email volume.. we send about 40k emails per week to them!

whats the rationale for doing this? seems like it'd be easier to just standardize on earnings

[2019-12-16 22:25] owocki commented on #4806
https://github.com/gitcoinco/web/pull/5072 is the WIP PR right?

[2019-12-16 23:02] frankchen07 opened #5643 "Hackathon Landing Page Refresh"
### User Story

Hackathon Landing Page Refresh

### Why Is this Needed

Refreshing the hackathon landing page.

### Description

A refresh of our current hackathon landing page.

Additional questions:

1. How do we motivate hackers to click on the CTA or participate?

### Current Behavior

Old landing pages.

### Expected Behavior

Designs:

![Sustain_web3-02](https://user-images.githubusercontent

[2019-12-16 23:13] frankchen07 opened #5644 "DESIGN & BUILD - Homepage Design Refresh"
### User Story

DESIGN & BUILD - Homepage Design Refresh

### Why Is this Needed

The homepage needs a design refresh in order to elucidate the problems Gitcoin addresses.

### Description

The main goal of the landing page is to give new users an immediate understanding of how our product suite works together, an opportunity to join our newsletter, and convince the user to sign up for an account

[2019-12-17 03:32] NukeManDan commented on #5641
@owocki - I did have this, for some reason without any change I can note on my end, the CPU and laggy form issues are not present on the same machine. I will inform if that changes again.

[2019-12-17 03:33] NukeManDan commented on #5641
@octavioamu yes! fixed now.

[2019-12-17 03:35] NukeManDan commented on #5641
but... project summary is now limited to 100 chars :cry:

[2019-12-17 14:47] #4292 closed

[2019-12-17 14:50] haikukoten opened #5645 "Airdrop transfer in progress"
**Describe the bug**

While I was trying to redeem my prize for IPFS Newbie Quest, I was repeatedly warned that an airdrop was in progress and try after 1 to 2 mins, so I tried later (approx 5 mins) for about 6 to 7 times but I was still greeted with the same warning. I checked my wallet to find that last airdrop was done about 25 mins earlier than my first request.

**To Reproduce**

Complete a Q

[2019-12-17 15:00] willsputra commented on #5644
tweaked based on yesterday's discussion
![landing](https://user-images.githubusercontent.com/19514207/71006850-fae1e600-2120-11ea-8a98-e6eabba59e79.jpg)

[2019-12-17 15:22] octavioamu commented on #5641
Yes is limited since that text is showed on the cards in a small space between others projects.
The idea is you write the complete summary on the PR / repo you provided, where people can read it and you as an owner have more space and options to provide the right explanation.

[2019-12-17 16:46] ninabreznik opened #5647 "Error after publishing the grant"
I published a grant but I am getting this error (which I can't click on)
![Screenshot_2019-12-17_16-03-07](https://user-images.githubusercontent.com/1076427/71016247-79da1d00-2127-11ea-9ef3-3a39ae3a8dfb.png)

[2019-12-17 16:59] biuxmaster commented on #5613
@owocki  hi I made this simple draft and I'd like to know what you think?
![metamask](https://user-images.githubusercontent.com/49821444/71017479-84c48b80-20ee-11ea-81b7-a8b70679f77a.jpg)

[2019-12-17 18:30] Korridzy opened #5648 "Wrong final redirection page after funding github issue that was previously funded and cancelled"
**Describe the bug**
If github issue was already funded and cancelled user will be redirected to wrong gitcoin issue page after funding this github issue again.

**To Reproduce**
Fund some github issue. Cancel it in gitcoin. Fund it again. It will lead you all through the normal funding sequence including etherium transactions. But finally you will come on gitcoin issue page  with **cancelled** ma

[2019-12-17 19:03] octavioamu commented on #5641
closing it for now since the issue seems fixed

[2019-12-17 19:03] #5641 closed

[2019-12-17 19:16] owocki commented on #5613
@biuxmaster looks super cool!!! excited for this

[2019-12-17 19:22] owocki commented on #5647
looks like the msg no longer pulls the grant admin address on the frontend anymore..

should be easy to fix this!  adding a bounty on this now

[2019-12-17 19:23] MysticRyuujin opened #5649 "Dropped & Replaced TX Stuck"
Gitcoin Grant stuck with `Transaction Processing` page when funding TX is Dropped and Replaced (Speed Up via MetaMask)

https://gitcoin.co/issue/NethermindEth/nethermind/32/3818

https://etherscan.io/tx/0x76dde8988e00b1e19c92e009670623f0880bb3cf92d3af209a5eedd5806edc28

Replaced By:
https://etherscan.io/tx/0x5c4ac721483ee06a785c13af9786edbf13b92ce4aa98b3d6b341cbd8f3608f12

[2019-12-17 19:47] MysticRyuujin commented on #5649
Working now. Not sure if something was done 😄

[2019-12-17 19:47] #5649 closed

[2019-12-17 21:58] owocki commented on #5645
note that airdrops are limited by sender not receiver..

in any case https://github.com/gitcoinco/web/pull/5606 fixes this.. should be into next release

[2019-12-18 02:13] kfichter commented on #5613
@biuxmaster were you able to get the fox to display correctly in-browser? I'm still getting texture issues in-browser, even when only changing polygon colors (without adding new polygons). File renders correctly in 3DS max, though.

See attached image:

![snip](https://user-images.githubusercontent.com/14298799/71049981-fcf07880-2111-11ea-82be-22fa72e970e7.jpg)

[2019-12-18 15:08] #5644 closed

[2019-12-18 15:24] biuxmaster commented on #5613
@kfichter  hi, I'm having the same issue. I can't load the textures on the web

[2019-12-18 15:46] molecula451 commented on #4943
@owocki take a look to the already merged issue for the bounty

[2019-12-18 19:14] owocki commented on #4943
@molecula451 what? looks like your PR is not merged yet. https://github.com/gitcoinco/web/pull/5607 it'd be helpful if you shared a link or contextualized what you are asking me to do

[2019-12-18 19:19] octavioamu commented on #5643
Done https://hackathons.gitcoin.co/sustain-web3/

[2019-12-18 19:19] #5643 closed

[2019-12-18 19:39] PixelantDesign commented on #5522
Looking great team! Feels very smooth and fast!

If I receive a message from someone on chat, is there a way to tie this to my notification bell in the upper right hand corner as well as receive an email or text that someone messaged me? Make it feel open and persistent to encourage communication?

As a new user logging in for the first time, chat should **prompt me** or **suggest paths** to eithe

[2019-12-18 20:10] molecula451 commented on #4943
@owocki that is awaiting. The other is merged #5594

[2019-12-18 20:13] owocki commented on #5522
make emails have gitcoin logo not mattermost https://bits.owocki.com/8LuwPYOY

[2019-12-18 20:33] owocki commented on #4943
hmm.. changing the logo size isnt really a big value add according to the letter or spirit of the spec. happy to pay out some tokens when https://github.com/gitcoinco/web/pull/5607 is merged as a show of good faith.

[2019-12-18 22:53] owocki commented on #5382
@vs77bb do u want ths prioritized soon

[2019-12-18 22:58] owocki opened #5654 "As a Gitcoin Grants contributor, I want my Ethereum address hidden, so that I dont unknowningly connect my identity to my bank account."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin Grants contributor, I want my Ethereum address hidden, so that I dont unknowningly connect my identity to my bank account.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually ha

[2019-12-19 06:57] zoek1 commented on #5466
Just reporting I'm free. I'm ready to continue on this! :muscle:

[2019-12-19 14:03] marsrobertson opened #5656 "XSS from GitHub <script>alert(1)</script>"
https://gitcoin.co/issue/kleros/hackathon/1/2824

![image](https://user-images.githubusercontent.com/44369284/71179517-40f59180-2268-11ea-8bb1-b02c1a205f4d.png)

It fetches content from GitHub issue, that has some XSS...

It only took me half a year to report.

[2019-12-19 15:08] biuxmaster commented on #5613
@kfichter  hi, did you have any idea to fix this issue?

[2019-12-19 15:26] owocki opened #5657 "restart celery upon deploy"
celery should restart when a deploy happens

[2019-12-19 18:35] owocki commented on #5466
sounds good! pls do

On Wed, Dec 18, 2019 at 11:57 PM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-19 19:16] marsrobertson commented on #5656
That is very kind, didn't expect a tip!

_(yeah, it took only **HALF YEAR** to report as a bug)_

[2019-12-20 00:16] Pietro-G commented on #5470
I will stop work until I can figure out the issue for now

[2019-12-20 05:58] molecula451 commented on #5619
I am indeed working on this issue. We are suppose to have here only available to rate those bounties we have actually submmited a work. However. I was also found that even though I hd rated this user after actually work submmited (see example below)

**1st Review:**

![feedback](https://user-images.githubusercontent.com/41552663/71233428-f0178480-22cb-11ea-8114-34bd71de154b.png)

**2nd Review:**

[2019-12-20 14:46] owocki commented on #5470
@iamonuwa any interest in this?

[2019-12-20 16:06] iamonuwa commented on #5470
@owocki, am currently purging and removing all docker images and containers on my machine. You'll have it this weekend

[2019-12-20 16:16] pradeepgangwar opened #5659 "Choose Persona (Are you Hunter or Funder) model gives Internal Server Error"
**Describe the bug**
I tried setting up gitcoin development environment. After creating superuser and logging in I tried going to http://localhost:8000 and found the model below. After clicking on the options in modal I received 500 Internal Server Error (Screenshot attached)

**To Reproduce**
- Setup Development environment.
- Create superuser
- Login as superuser
- Head back to http://localhost:

[2019-12-20 16:17] pradeepgangwar commented on #5659
Someone please confirm if this issue exists. Or let me know if I have to do anything regarding setting up my development environment.

[2019-12-20 17:27] agutsal commented on #5317
@owocki still getting that:
![image](https://user-images.githubusercontent.com/1643117/71277789-86948600-235e-11ea-9bb7-c37e4e1e919f.png)

Opera `v64.0.3417.92` running on Gentoo Linux.

Metamask connected. Can you confirm it been fixed for you, @rachelhamlin?

[2019-12-20 18:13] Sirlupinwatson1 commented on #5317
@owocki  @agutsal @rachelhamlin  I can confirm this. I am getting it to since 2-3 days.

There is an update available only for chrome. I wasn't sure if it was me again the problem, looks like not

[2019-12-20 19:59] vs77bb commented on #5382
yes plz

[2019-12-20 20:01] agutsal commented on #5317
Seems Opera support should be completely revised.

[2019-12-20 20:09] owocki commented on #5317
guys i appreciate wanting to help but please stop commenting on old tickets looking for new resolutions.

mind adding a new bug at https://github.com/gitcoinco/web/issues/new?assignees=&labels=&template=bug_report.md&title= ? we need to know things like your system specs in order to diagnose the issues

[2019-12-20 20:19] owocki opened #5660 "[3Box Integration] Add 'Upload to 3Box' button to Avatar Builder"
from: https://github.com/3box/3box/issues/839#issuecomment-567952717

the scope of this ticket is to have an 'upload to 3box' button on the gitcoin avatar builder at https://gitcoin.co/onboard/profile/?steps=avatar#section-title

button should handle the authentication to 3box and the uploading of the avatar; then post a success msg iff it's done.

[2019-12-20 20:29] owocki commented on #5659
@pradeepgangwar im almost sure u might have to auth via github ( not via django super user ) for the system to create a dashboard.Profile off ur user. can u try that?

[2019-12-20 20:51] #5346 closed

[2019-12-20 20:53] owocki opened #5661 "as a user who wants to send kudos to another user; i want to go to https://gitcoin.co/kudos?username=FOO so I can easily kudos that user"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who wants to send kudos to another user; i want to go to https://gitcoin.co/kudos?username=FOO so I can easily kudos that user

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2019-12-20 20:54] owocki commented on #5346
@zoek1 u want this ? https://github.com/gitcoinco/web/issues/5661

[2019-12-20 20:54] owocki commented on #5661
@zoek1 u want?

[2019-12-20 21:03] zoek1 commented on #5661
@owocki yes please!

[2019-12-20 21:20] owocki commented on #5661
@zoek1 pls apply and ill approve u

[2019-12-20 23:45] zoek1 commented on #5661
I already did @owocki :see_no_evil:

[2019-12-21 10:09] pradeepgangwar commented on #5659
@owocki No, it isn't working. This is what I followed today:
- Logged out from django admin
- Registered a new GitHUb OauthApp and token and added it to `app/app/.env` file.
- Restarted the server via docker
- Logged in via GitHub Oauth
- Still that modal appears after logging in and fives the error.

I am not sure why that is happening. Also to bypass that I tries manually setting hunter/funder s

[2019-12-21 10:19] pradeepgangwar commented on #5659
My supersuer username and github username were same while logging in via OAuth so it assigned random name to me after OAuth. Is that a problem?

[2019-12-21 12:00] pradeepgangwar commented on #5659
Works perfectly now. I did reset DB and tried again. 🎉

[2019-12-21 12:00] #5659 closed

[2019-12-21 12:01] pradeepgangwar commented on #5659
Will start working on custom theme issue.

[2019-12-21 14:36] Sirlupinwatson1 commented on #5317
Hi my friend. How are you doing today ? Sorry to post this here no to confuse anyone. Just passing by and been a while i haven't be in touch wit ya !

**Have a great day** @owocki

[2019-12-22 07:41] AnneConnelly opened #5664 ""Your grant failed to save""
Hello,

I created a grant and after I submitted it, I got a red notification saying "your grant failed to save". The transaction is on etherscan: https://etherscan.io/tx/0x16ffe0a035f7d5888128964453e538acfd9f34594c9a6c7205a767aff6f8474a

Did you receive the information for the grant?
<img width="944" alt="gitcoin" src="https://user-images.githubusercontent.com/16226861/71318864-88e10800-2464-11ea-

[2019-12-22 08:34] mul53 commented on #5656
@owocki, i want to create a bounty in the test environment. It says `Please enable this token to proceed.`. What steps should i take?

[2019-12-22 21:19] mul53 commented on #5656
Hey @owocki is there a reason this middleware was commented out, when its included the input entered by users is escaped which prevents a XSS attack.
https://github.com/gitcoinco/web/blob/ff1a890b044d507e06a6539482165ed3284793f5/app/app/settings.py#L131

[2019-12-23 11:00] aahutsal opened #5665 "MetaMask browser extension conflicts with Opera native CryptoWallet if enabled"
**Describe the bug**
If native Opera CryptoWallet is enabled on desktop Opera browser MetaMask chrome extension conflicts and user can't operate with MetaMask wallets.

**To Reproduce**
- Go to Settings -> Features -> CryptoWallet and enable it.
- Login to https://gitcoin.co/
- Navigate to https://gitcoin.co/explorer URL.

See this:
![image](https://user-images.githubusercontent.com/1643117/713542

[2019-12-23 11:03] agutsal commented on #5317
@owocki  thanks for clarification. You can close that issue, as I have created #5665
Inviting @rachelhamlin @owocki @Sirlupinwatson1  @kuhnchris and other who might be interested to keep discussing here: #5665

[2019-12-23 13:20] walidmujahid commented on #5334
Quest/s about Holochain

[2019-12-23 13:44] #5317 closed

[2019-12-23 13:46] kuhnchris commented on #5665
I see you have the Opera and Metamask combined in use - I also see Metamask complaining about that - sure that this is not connected somehow?
Can you try to disable Metamask if you enable the Opera Internal CryptoWallet?

Thanks

[2019-12-23 14:27] Sirlupinwatson1 commented on #5665
For me I still had this issue, i did not have the time to look why it was hapenning. Maybe i can have a look today after i am done with another one.

[2019-12-23 14:28] danlipert commented on #5664
@AnneConnelly Thanks for the bug report Anne - I don't think we did receive the grant information. If you can post that info I can set it up manually with the contract address you posted, or you can try creating the grant again.

[2019-12-23 15:01] walidmujahid commented on #5338
Consensus Algorithms: https://gitcoin.co/quests/82/consensus-algorithms

[2019-12-23 15:12] agutsal commented on #5665
Sorry for being not concrete enough. If I disable native wallet, it work smoothly with MetaMask. Haven't tried to work with native Opera Crypto wallet. I think coffee should be revised. I'll try to take that part myself if @owocki is ok with it.

[2019-12-23 15:42] molecula451 commented on #5665
This same thing it's happening with Brave Browser. If Native Brave Browser Crypto Wallet it's enabled and you have Metamask too,   it will throw web3 conflict and in some cases if you Disable the native Crypto wallet and you try to use the MetaMask it will redirect to a page where it showing you have your crypto wallet disabled.

I Believe pretty much it's MetaMask having conflict when recognized

[2019-12-23 15:51] Sirlupinwatson1 commented on #5665
@molecula451 HI, i just started to use Brave. Not sure about getting interference or not. I also use Metamask and Dapper, Arweave . Dapper always buggy the version i have anyway is still in beta but it did work still pretty good. Metamask, since a while there is many bug. It make me learn at least haha, learn to have other option

[2019-12-23 16:19] kuhnchris commented on #5665
Hello all,

thanks for clarifying the issue @agutsal . If you know where to lever the issue or could pin-point the issue I'm sure @owocki is fine with you opening a PR here. If you can give the engineering team a pointer or a hint where the issue may occour it will also help them finding the precise steps neccessary to reproduce it.

I assume there may be a conflict with the different providers tr

[2019-12-23 16:27] kuhnchris commented on #5660
@owocki is that one still around? I did a PR like a year or two ago that included the upload button to the Settings tab - did 3box finally figure out where to put the avatar so we can cross-nuture it? Last info I had was we should use our own namespace (gitcoin.*) and for the avatar thing they'd come back at us...

[2019-12-23 16:35] kuhnchris commented on #5656
I **think** it caused issues with other parts of the page, @thelostone-mc @danlipert you guys remember why we disabled that?

[2019-12-23 17:03] AnneConnelly commented on #5664
Hi Dan,

Looks like it went through this time - can you confirm? We'd love to have
it up before Christmas!

Thanks,
Anne

On Mon, Dec 23, 2019 at 9:28 AM Dan Lipert <notifications@github.com> wrote:

--
Learn a little bit more about me <http://anneconnelly.ca>!

[2019-12-23 18:53] think-in-universe commented on #5660
A solution for this feature has been implemented here: https://github.com/gitcoinco/web/pull/5667

[2019-12-23 18:57] frankchen07 opened #5668 "As a hackathon sponsor using the normal "fund a bounty" form for hackathon prizes introduces issues with expiration dates being wrong, bounty types chosen incorrectly (traditional rather than contest), and coupons not being applied"
### User Story

As a hackathon sponsor using the normal "fund a bounty" form for hackathon prizes introduces issues with expiration dates being wrong, bounty types chosen incorrectly (traditional rather than contest), and coupons not being applied.

### Why Is this Needed

These default mistakes from filling out the regular funder form cause unnecessary overhead for the Gitcoin internal team to ad

[2019-12-23 18:58] frankchen07 opened #5669 "Review Submitted Hackathon Projects"
### User Story

As a hackathon sponsor it is difficult to find project submissions to review for all of my prizes.

### Why Is this Needed

For a sponsor to payout a prize, they must go, one-by-one, to the prize page in order to individually payout each prize.

### Description

They may also alternatively take the flow of going to the prize explorer and using the prize explorer to get access to th

[2019-12-23 18:58] frankchen07 opened #5670 "As a hackathon sponsor it is difficult to review which users I’m paying out for a hackathon prize and ensure I’m paying out the right people"
### User Story

As a hackathon sponsor it is difficult to review which users I’m paying out for a hackathon prize and ensure I’m paying out the right people.

### Why Is this Needed

Hackathon sponsors are finding it difficult to review and keep track of all payments to hackathon prizes. The sponsors are using their own spreadsheets to track payments. The value from those spreadsheets should be th

[2019-12-23 19:08] frankchen07 opened #5671 "As a Gitcoin operator, there's alot of manual intervention with regards to Discord/Mattermost chat that takes up a good chunk of time"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:09] frankchen07 opened #5672 "As a hackathon sponsor I want to automatically send kudos to any hacker who successfully submits a project for a hackathon"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:09] frankchen07 opened #5673 "A pre-hack onboarding meeting with sponsors to make sure we know their goals"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:09] frankchen07 opened #5674 "A post-hack report which drives a discussion on whether goals were met / likelihood to sponsor again"
### User Story

A post-hack report which drives a discussion on whether goals were met / likelihood to sponsor again.

### Why Is this Needed

Sponsors want to see their hackathon performance over time so they know how to adjust their spending, marketing, and asks from Gitcoin

### Description

An example chart of a time series metric set:

![Screen Shot 2019-12-23 at 15 39 33](https://user-images

[2019-12-23 19:15] frankchen07 opened #5675 "As a prospective hacker, I don't know which and when hacks are happening"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:16] frankchen07 opened #5676 "As a Gitcoin operator, I have no clue on what hackers thought about the most recent hackathon and where our hackathon UX was buggy or not streamlined"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:26] #5676 closed

[2019-12-23 19:26] frankchen07 commented on #5676
duplicate of https://github.com/gitcoinco/web/issues/5530

[2019-12-23 19:31] frankchen07 opened #5677 "As a Gitcoin hacker, I want a referral system so I could get rewarded for bringing my friends on board"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

Referral program??? Get a referral kudos immediately upon a friend registering from a hackathon using

[2019-12-23 19:39] frankchen07 opened #5678 "As a Gitcoin hacker, I want something like "Gitcoin Events", a 15-20 person workshop for registrants who want to learn specific skills"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 19:39] Sirlupinwatson1 commented on #5671
### Well i guess i was thinking about the same. 1 Thing is sure is there is the time respond that i am sure could be way too short for a security breach.

### Like on Discord, there is no, but almost not at all, any security helper for these case. To me, this should be a major and a priosity work order to set in place. Anyone who is wise enough, or who is not.... could lead to we all know what.

#

[2019-12-23 19:46] frankchen07 opened #5679 "As a Gitcoin sponsor & hacker, I have the option of using a fiat on-ramp for hackathons"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-12-23 20:04] frankchen07 opened #5680 "As a Gitcoin operator, it is a legal requirement to have verified identities for our sponsors and hackers for hackathons, and across our platform"
### User Story

As a Gitcoin operator, it is a legal requirement to have verified identities for our sponsors and hackers for hackathons, and across our platform

### Why Is this Needed

Legal pre-requisite requirement for KYC/AML & comparison with OFAC lists before we can get help from companies who specialize in this

### Description

For those who are earning > $599 on our platform or submittin

[2019-12-23 20:07] frankchen07 commented on #4806
are we assuming for this 1099 to work we have the requisite information on someone who is using it?

name
address
email address
ssn
are we missing anything else?

[2019-12-23 23:36] frankchen07 opened #5681 "Gitcoin Hackathon Fixes"
### User Story

Gitcoin Hackathon Fixes

### Why Is this Needed

These are small scope hackathon fixes that are small in scope. The list below has not yet been discussed in full detail.

### Description

1. Filter the projects page by either “Start[ed] Work” or “Submitted” (and ideally make this obvious in each project box too).

2. Hackathon list view should link to landing pages, not to issue ex

[2019-12-24 07:10] Sirlupinwatson1 commented on #5665
On my side, i was using Metamask because it was the one who was mainly pointed at on web source.
I use other walltets to try them and see. I am a pretty conservative guy, but if you try nothing you are not living any experience.

My experience with Metamask, was bad.

[2019-12-24 09:32] edsonayllon commented on #5109
@owocki Hi. Is there an address I can return the 0.2 ETH to? I saw the PRs I made were merged, but produced an error due to typings. I left some instructions in the last PR, but I think that code is still commented out. I'd feel better returning the payment, as the code wasn't included in the end, and produced an error during its temporary deployment.

[2019-12-24 09:42] edsonayllon commented on #5109
So the price of Ether changed. I can return the market value at the time of transfer, which would be ~0.2558 ETH now.

[2019-12-24 09:51] zoek1 commented on #5466
The current status of gitcoin main actions on opera:
**Bounties**
  - :heavy_check_mark: Create Bounty
  - :heavy_check_mark: Payout
  - :heavy_check_mark: Contribute Funds
  - :white_check_mark: Extend Deadline
  - :white_check_mark:  Change bounty details
  - :negative_squared_cross_mark: Kill bounty  - Fixed on #5682

**Tip**
  - :heavy_check_mark: Send tip
  - :white_check_mark: Receive Tip

*

[2019-12-24 10:54] zoek1 commented on #5661
@owocki I think this icon match with kudos perfectly but is pro, do you have another suggested icon for kudos? https://fontawesome.com/icons/hexagon?style=duotone

[2019-12-24 15:56] kuhnchris commented on #5665
@Sirlupinwatson1 yeah, no doubt there - everything has it's own pros and cons. The question is: why using 2 different wallets at once within the same browser

[2019-12-24 16:34] Sirlupinwatson1 commented on #5665
@kuhnchris Good answer i guess. If you look it that way, we can then keep going on into this lol.

But only because right now there is many but many difference in the variations of cryptocurrency. Anybody can make his own and build up some stats and offer crypto to all of us. And they are not offering any alternative to work with either their web site or the way to get the crypto.

Metamask is jus

[2019-12-24 19:29] PumpkingWok commented on #4806
Hi @frankchen07,
How is doing ? @owocki told me to retrieve only name and address for both funder and worker to create 1099s template, and the total income during the year. @owocki correct me if i'm wrong.
Do you mean social security number for ssn ?
Thanks in advance.

[2019-12-26 15:49] danlipert commented on #5664
@AnneConnelly looks like the transaction went through successfully to deploy the grant contract 👍 we are doing some manual reviews before CLR round 4 starts and quite a few team members are out for the holidays - if its not live on the grants page by the 6th please ping @vs77bb or @ceresstation for a final approval.

[2019-12-26 15:49] #5664 closed

[2019-12-26 15:53] danlipert commented on #5656
@kuhnchris @mul53 yeah, it was causing issues in quite a few places so we ended up disabling it

[2019-12-26 16:25] octavioamu commented on #5323
Closing this as there is not nav today for general users as they just are able to see landing pages.

[2019-12-26 16:25] #5323 closed

[2019-12-26 17:31] frankchen07 commented on #5579
update 2019-12-26: https://github.com/gitcoinco/web/pull/5627

[2019-12-26 18:41] mul53 commented on #5656
Alright, i will just add pre_save callback to escape fields before save

[2019-12-27 17:12] frankchen07 commented on #5626
needs a ux discussion for sprint 26 between @vs77bb, @willsputra, @PixelantDesign, & @frankchen07

[2019-12-27 17:15] frankchen07 commented on #5680
2019-12-27 - needs light defining of the UX

[2019-12-27 17:19] frankchen07 commented on #5670
@PixelantDesign & @frankchen07 believe it's best to extend the dashboard, but let's discuss how we want to add to the dashboard (add a hackathon tab? extend the funder tab?)

[2019-12-27 18:05] iamonuwa commented on #5470
@gitcoinbot am on this

[2019-12-29 09:21] anataliocs opened #5692 "Completed Beat Metamask Dev Quiz and never received Out Of This World Programmer Kudos"
I completed the Beat Metamask Dev Quiz and never received the "Out Of This World Programmer Kudos".

I received an error that my "Coupon code expired"

https://gitcoin.co/anataliocs

Also, I completed 7 quests and it's only showing 6 quests/kudos on my profile.

[2019-12-29 17:14] androolloyd commented on #5522
they are 2 different ecosystems, not easy to consolidate them.

[2019-12-30 14:55] willsputra commented on #5668
we could surface this hackathon checkbox at the top and set defaults based on it.
<img width="1013" alt="Screenshot 2019-12-30 21 52 16" src="https://user-images.githubusercontent.com/19514207/71587038-cd4c6200-2b4e-11ea-99de-15fa83113b9f.png">

[2019-12-30 15:41] danlipert commented on #5680
I have concerns about this, but mostly its my personal feelings around KYC and such... that being said I understand why we have to do this - I only ask that we make sure that for non-US people we can handle whatever edge cases and make sure the UX there is not too onerous. I've used Jumio before and its pretty good but its expensive for sure... does ConsenSys have any kind of partners we can lever

[2019-12-30 15:44] danlipert commented on #5670
Interesting which data points ConsenSys Labs is tracking in their tool - maybe its worth doing some research into what sort of data points people would like to have. From what information CL has in that screenshot, we have that info readily available in our DB, plus a call to something like Etherscan for the on-chain metrics like block number

[2019-12-30 15:51] frankchen07 commented on #5680
@danlipert - I would say we start with U.S folks, and with our current volume, we find a non-hacky way to do KYC, and then as we scale and and get more user volume, consider other identity services.

Would love to hear your concerns in a separate conversation though, perhaps I'm less privvy on some of the details.

[2019-12-30 15:52] frankchen07 commented on #5668
@willsputra interesting solution, let's talk today about it in sync.

[2019-12-30 16:42] PixelantDesign commented on #5680
There has been some work started by a contributor on this... how does that impact this ticket?

[2019-12-30 16:48] frankchen07 commented on #5680
I believe the contributor ticket was generating a 1099, but it doesn't necessarily collect the KYC information for the number and category of people we want.

[2019-12-30 16:57] danlipert commented on #5669
We can probably come up with a simple solution that solves the most common use case, but I'd be wary of having lots of options if we put payout in the dashboard or similar

[2019-12-30 16:59] danlipert commented on #5668
Yes - I think selecting a hackathon event should automatically populate the coupon code, set the expiration date appropriately (although I'm not sure we have a good answer as to what the default expiration should be) and set the type (hackathon bounties are always contest, right?)

[2019-12-30 17:08] willsputra commented on #5680
what if people just claim that they're not in the US? how might we deal with that?

[2019-12-30 17:11] PixelantDesign commented on #5680
**Definition of Done:**

- Need to explore identity service so contributors trust this.
- Does Consensys have an account we can leverage.
- How much does this cost us if Consensys doens't have one.
- Which services would make sense?
- Outline recommended service ux into Gitcoin

[2019-12-30 17:16] PixelantDesign commented on #5670
Definition of Done:
How do I track the people I need to pay? How do we create a view like this in Gitcoin app? Where does it make sense? How do funders get to it? How do funders view it?

[2019-12-30 17:21] PixelantDesign commented on #5669
Is this a communication issue @alexvotofuture ?

[2019-12-30 17:23] PumpkingWok commented on #4806
Hi @frankchen07 @owocki ,
Any news ?
Thanks

[2019-12-30 17:24] owocki commented on #4806
we dont have the necessary PII requirements to store SSN so i left it out of this ticket scope

[2019-12-30 17:25] owocki commented on #5470
@iamonuwa got a WIP PR i can checkout?

[2019-12-30 17:28] PixelantDesign commented on #5668
How do we help set defaults?

[2019-12-30 17:30] PumpkingWok commented on #4806
Hi @owocki ,
ah ok, understood.
Did you test the PR code ?
Tomorrow i'm going to write a recap of main code features that i implemented in it.

[2019-12-30 17:45] owocki commented on #4806
@PumpkingWok no i didnt see it (but im still digging out from after the holidays).. can you tag me with testing instructions there?

[2019-12-30 20:09] owocki commented on #5660
@think-in-universe awesome; i'm pumped for this :)

[2019-12-30 20:33] owocki commented on #5109
@edsonayllon sure just send it back to the sender

[2019-12-30 21:21] owocki commented on #5661
that icon looks good

On Tue, Dec 24, 2019 at 3:54 AM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-30 22:31] octavioamu commented on #5665
I been using opera a lot on my test with gitcoin and is working fine. Of course any web3 browser + wallet enabled + metamask will fail as creating a big conflict.
About "opera touch"  that is not a web3 browser
opera + opera mobile is a web3 browser (note opera depends on opera mobile app to work as web3 browser)
- Brave if you setup your wallet works out of the box also (doesn't need mobile or ex

[2019-12-30 23:04] edsonayllon commented on #5109
@owocki Ok, sent at market value of transfer

[2019-12-31 03:42] mr-winson commented on #5326
I think shirts and background options would be cool!

[2019-12-31 09:56] walidmujahid commented on #5338
Week in Etherland - Dec 28, 2019: https://gitcoin.co/quests/86/week-in-etherland-dec-28-2019

[2019-12-31 10:54] Solexplorer opened #5694 "Grants are getting duplicated when scrolling down using a different sort option"
**Describe the bug**

In the Gitcoin grants page, if you choose a different sort option than the default one( `weighted_shuffle` ) for example: `sort_option=amount_received` and you scroll down, you see the entries getting duplicated. Here is a screen of what's happening:

![image](https://user-images.githubusercontent.com/50027175/71619218-9d8b7180-2bc3-11ea-90a8-db7077e4108c.png)
![image](https:

[2019-12-31 11:27] Solexplorer commented on #4900
Just putting my thoughts here.
So my idea is this: you can tell recruiters that they will have to pay X amount per month and can spam only a limited number of users and if they go over that limit they will have to pay X$ each new contact. You can also use the gitcoin chat to put them in contact.
After all Gitcoin is offering the possibility to hire quality engineers and you can also track their pe

[2019-12-31 14:22] 3esmit opened #5695 "Transaction out of gas"
Im trying to create a bounty but I am afraid of wasting more gas.

https://etherscan.io/tx/0xd460053dae302d19f601147b1143b25dacaeaa66c7eafcd8cda416bbe52d7cce

I did everything as usual, and the transaction failed.

[2019-12-31 14:22] 3esmit commented on #5695
Please send back the 2000 SNT, because the service was not provided.

[2019-12-31 14:59] owocki commented on #5695
does the SNT token use a different amount of gas than most ERC20 for a TransferFrom()? I tried to refund this via the metamask default params and also got an out of gas https://etherscan.io/tx/0x4b64db0adb31508cb9e91e3c403e6bf54a37fef7aeaa189a9b499579dde57ac1

[2019-12-31 15:01] owocki commented on #5695
trying another tx with higher gas now https://etherscan.io/tx/0x9444d206d1f57a236d4069ccf941ebeaaf177a4e3d641055a065c09f0dcb2070

[2019-12-31 15:02] owocki commented on #5695
looks like that worked!

[2019-12-31 15:03] owocki commented on #4900
thanks for the feedback @Solexplorer :)

[2019-12-31 15:15] 3esmit commented on #5695
Very strange. Thanks.  I will look forward opening the bounty again when this is solved.

[2019-12-31 15:27] owocki commented on #5584
9c2572028e265416469f74cf10d514c569f82746 is the migration script; i just ran it. let me know if it looks ok @pcowgill !

[2019-12-31 15:44] pcowgill commented on #5584
@owocki Looks pretty good! Thanks!

1) Why [`# do not transfer CLR match over`](https://github.com/gitcoinco/web/commit/9c2572028e265416469f74cf10d514c569f82746#diff-8a77bc93698070b658084179dd720cecR31)? It looks like the contribution from `vs77bb` representing the CLR match was transferred (and I think that's a good thing).

2) Why [`new_grant.hidden = True`](https://github.com/gitcoinco/web/comm

[2019-12-31 15:46] pcowgill commented on #5584
@owocki Actually this point is more nuanced than I thought. The update did make it through, but the total number to the upper right of the `Updates` tab is incorrect.

https://gitcoin.co/grants/183/tasit-native-mobile-ethereum-dapps?tab=updates

<img width="124" alt="Screenshot 2019-12-31 09 45 59" src="https://user-images.githubusercontent.com/2731712/71626369-652f6780-2bb2-11ea-89d8-bc779012a4a9

[2019-12-31 16:28] owocki commented on #5584
1. i was thinking we'd need it for historical purposes.. but actually im gonna xfer it over now
2. whoops my bad; fixing this now
3. yes thats right
4. oh weird; i wonder if thats a caching thing. will make a note to look into it.
5. SO LEET

[2020-01-01 06:15] ferittuncer commented on #3649
Happy new year!

Do you plan to implement dispute resolution anytime soon? I would like to help to integrate with Kleros.

[2020-01-01 10:35] abitrolly opened #5696 "Builds fail because GeoIP2 DB is no longer free"
**Describe the bug**
Travis builds are failing since yesterday.
https://travis-ci.org/gitcoinco/web/jobs/631340357#L274

**Additional context**
Because of various protection acts GeoLite2 DB is no longer in free access https://dev.maxmind.com/geoip/geoip2/geolite2/

[2020-01-02 02:11] AnneConnelly commented on #5326
It's impossible to make the avatars look even remotely female...

[2020-01-02 02:34] owocki opened #5697 "Send Payment Reminder error"
from customer
[code]

[2020-01-02 02:37] owocki commented on #5326
hey @AnneConnelly thanks for the feedback.

we did our best to add some feminine features to the avatar builder, but it seems like youre telling us we missed the mark.  thanks for letting us know - if you describe in a little more detail how we missed the mark and specifically how we can do better, i will be happy to have our illustrator make another iteration towards avatars that look more female

[2020-01-02 02:56] owocki commented on #3649
its something we'd love to integrate. there is an address in standard bounties for the arbiter address that we could plug a kleros (or similar) dispute resolution framework into.

[2020-01-02 03:41] molecula451 commented on #5697
I believe there is a max time available when to send reminds. I have tried after 3rd time you may get the above error

[2020-01-02 04:37] ferittuncer commented on #3649
@owocki Could you direct me to the source code please?

[2020-01-02 05:23] AnneConnelly commented on #5326
Hi Kevin - most of it relates to face shape. The head size is very large to begin with and all the head shapes have massive jaw lines and . The nose shape (of the bridge section) is very wide. There is only one long hair option and it doesn't fit with the heads because they are all so big. The male body type is wider, so the large head looks more acceptable, but the female body options are thin, s

[2020-01-02 09:34] #5656 closed

[2020-01-02 12:57] thelostone-mc commented on #5680
I've got the same concerns as @danlipert !
But if we have to do it

Building it ourselves would mean adding it onto our onboarding flow right ? ->
- would we explain why we this is being collected ?
- would it be as simple as doing it for all users

Ideally all this information would be collected upfront so that the user doesn't have to deal with it while working on a bounty (it creates friction)

[2020-01-02 13:01] thelostone-mc commented on #5670
Agree that this fits into the definition of dashboard but

- would adding another tab be an overkill ? (too many tabs)
- how would the UI gracefully handle when sponsors have bounties in multiple active hackathons
- could we explore adding a neat filter onto dashboard  ?
- would having a table view on the dashboard (like what consensys have) make it easier?
It's less pretty but feels more wholesom

[2020-01-02 13:03] thelostone-mc commented on #5669
https://github.com/gitcoinco/web/issues/5670#issuecomment-570200819

^ that could have the payout button included
The table would give them a consolidated view and link to the basic / advanced payout

[2020-01-02 13:11] thelostone-mc commented on #5668
We can ignore the coupon code for this step .

If a user selects hackathon event -> it automatically sets the fee to 0
But this could be easily misused , any funder could avoid paying fee by just selecting a hackathon event

Where are we on removing the fee all together ?
Did we decide not to go down that route @frankchen07 / @PixelantDesign  ?

======

Is the understanding that all hackathon boun

[2020-01-02 15:04] owocki commented on #3649
@ferittuncer `_arbiter` in https://github.com/Bounties-Network/StandardBounties/blob/master/docs/documentation_v1.md

[2020-01-02 15:05] owocki commented on #5326
@AnneConnelly let me see what we can do

[2020-01-02 16:02] owocki opened #5703 "idea - there sholud be a bounty that anyone can do within 15 minutes when they join the site"
there sholud be a bounty that anyone can do within 15 minutes when they join the site; that shouljd be surfaced to them when they join

[2020-01-02 17:38] owocki opened #5704 "grants/new should accept ENS names for the 'recipient wallet address'"
https://gitcoincommunity.slack.com/archives/C7A4F4UHK/p1577875233105200

Definition of done :

- Client-side validation to allow address / eth
- Ensure ens address gets saved in the DB
  ( check if ens can be used with the contract during funding if do a lookup to get the address )
- Ensure ENS is displayed instead of address in grant page
- Grant Creation + Grant Funding ( Normal / Recurring Paym

[2020-01-02 17:40] owocki commented on #5470
@iamonuwa is there a WIP PR for this somewhere?

[2020-01-02 20:18] GrahamMcBain opened #5705 "Ability to ask open ended questions when building a quest"
Hoping to use quests as a means of surveying dapp developers. It would help greatly to be able to ask open ended questions in addition to multiple-choice questions.

[2020-01-02 21:24] TripleSpeeder commented on #5704
Yep, that was me :) Some more details:
- I entered a valid ENS name which has an ETH address record set (ens-updater.eth)
- After clicking "create grant" I'm presented with a blank white page containing only this text: `{"success": false, "info": "no tx hash", "url": null}`
- The error comes up immediately, no transaction request was shown in metamask

After changing the recipient address from ENS

[2020-01-03 04:51] iamonuwa commented on #5470
Will send it in today for you to validate

[2020-01-03 09:57] ferittuncer commented on #3649
I think we can write an adapter contract to plug ERC 792 Arbitration Standard to Bounties Network API.

[2020-01-03 10:23] Solexplorer commented on #5298
#5705

[2020-01-03 10:24] walidmujahid commented on #5705
I disagree with this idea. As far as I understood, "Gitcoin Quests is designed to usher users through their *web3 a-ha moments* in a fun informative way" - /quests.

It is bad enough that I feel that some of the quests -perhaps one or two at the moment, and I have went through all the quests- that I have come across seemed to be geared towards advertisement or promotion of a product.

I do not thi

[2020-01-03 10:27] walidmujahid commented on #5298
@Sirlupinwatson1 Sorry, I just now noticed your reply. Has an issue been opened? If not, I will go ahead and open one.

[2020-01-03 10:28] Solexplorer commented on #5704
A thought, the `Recipient Wallet Address` field doesn't have any check associated with it. I can write `potato` and it gives me the same error specified by @TripleSpeeder .

[2020-01-03 10:28] walidmujahid commented on #5298
@Solexplorer

https://github.com/gitcoinco/web/issues/5705#issuecomment-570531465

[2020-01-03 14:58] owocki commented on #5704
hmmm first step; we should add some validation here

On Fri, Jan 3, 2020 at 3:28 AM Solexplorer <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-03 15:08] owocki commented on #5326
@AnneConnelly confirming we've started production on a new avatar that looks more female in head size/body type.. let me know if theres features or attributes u wanna see in there!

[2020-01-03 15:10] owocki commented on #5470
ok pls do  - i just got on the grid now

On Thu, Jan 2, 2020 at 9:51 PM Onuwa Nnachi Isaac <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-03 17:15] thelostone-mc commented on #5647
@owocki we are good for payout :)
The PR has been merged

Thanks @ninabreznik & @molecula451

[2020-01-03 17:15] #5647 closed

[2020-01-03 18:03] frankchen07 commented on #5668
octavio's solution: move date and event selection together / message them explaining the day they put, confirming the the date that they put / add the expiration date summary at the end

aditya's solution: move date and event selection together / block user to post expiration date before the hackathon date, until they change the expiration date, if we mess up the dates, it can be painful

longer f

[2020-01-03 18:17] frankchen07 commented on #5670
one person need or general need?

invoice issue or a payout issue? or to check complete payouts?

where should people go to see this (whatever "this" is?)

[2020-01-03 18:30] frankchen07 commented on #5680
not in the bounty flow, needs to be in the onboarding flow (profile settings)

how do we get this to existing users vs new users?

what's the scope of this problem? we can't discount the history we've generated, but moving to cross chain QR codes p2p payments would render us compliant in the future (to confirm)

[2020-01-03 19:26] AnneConnelly commented on #5326
Thanks Kevin! I appreciate your quick response on this!

On Fri, Jan 3, 2020 at 10:08 AM Kevin Owocki <notifications@github.com>
wrote:

--
Learn a little bit more about me <http://anneconnelly.ca>!

[2020-01-03 20:23] kuhnchris opened #5706 "Gitcoin Kudos receive message looks weird"
**Describe the bug**
![grafik](https://user-images.githubusercontent.com/761911/71747107-1530f900-2e6f-11ea-8cf4-958a16e313bc.png)
Huge space between the page header, for some reason a copy right link in the middle, and the kudos marketplace next to it?
...is that the actual footer?

**To Reproduce**
Receive Kudos successfully (for example by using the friday airdrop)

**Expected behavior**
UI des

[2020-01-03 20:25] kuhnchris commented on #5703
Like a special "entry bounty" that's worth basically nothing to just play with the platform?

[2020-01-03 21:27] emmaodia opened #5707 "Sub Menu Items do not show on /onboard/profile?steps=avatar"
**Describe the bug**

Sub Menu Items do not show on /onboard/profile?steps=avatar.
When a user redirects to the above page, navigation becomes cumbersome as the sub menu items do not appear.

**To Reproduce**

1. Go to your profile e.g https://gitcoin.co/emmaodia
2. Click on your image to update avatar
3. When you get to https://gitcoin.co/onboard/profile?steps=avatar
4. Sub menu navigation items

[2020-01-03 21:27] emmaodia commented on #5707
@owocki

[2020-01-03 21:51] alexvotofuture commented on #5668
Responses to Frank's clarifying questions:

Funders are putting in the wrong expiration date for a few reasons. Sometimes we change the hackathon start date, but they use the old start date. Sometimes they choose a longer end date, for fear they won't be able to judge beyond that date, or because they missed the granular end date calendar module (choosing a pre-set time like 1 month instead).

Yes

[2020-01-03 21:59] alexvotofuture commented on #5669
Responding to @frankchen07's summarized clarifying questions:

If "dashboard" is referring to the prize explorer this requires sponsors to keep track of all of their separate prize pages and review submissions within each prize page's activity feed (noting only "submitted work"). They then need to track which have been judged/paid out. Some sponsors have handled this using external spreadsheets th

[2020-01-03 22:22] alexvotofuture commented on #5670
Responding to @frankchen07 's summarized questions:

General need. A number of our sponsors have found the process of selecting the right people to pay out and keeping track of recent payouts painful and terrifying. This led to a mis-paid payout in the last hackathon, the creation of heavyweight spreadsheets like the one shown above, and delays in payouts that have caused immense hackathon hacker

[2020-01-04 04:10] ohsix1 opened #5708 "Integrating with the Stellar Network for Funding and Payments"
### Discussion

[comment]: I think the Stellar Network could facilitate the ability for bounties to be funded using any value source (e.g, if it is currency value, then funding can be and available of both fiat and crypto).

As a amazing as Ethereum is from a VM-standpoint and as amazing as Gitcoin is for being a DAPP, I think relying too heavily on a bloated system like Ethereum is a bit --- how

[2020-01-04 04:34] ohsix1 commented on #5298
The quests are nice. I'm a bit disappointed I can't get any NFTs due to my Github account's age, but no biggie. One thing that you guys should totally incorporate into quests is randomizing the answer order. That way, attempts beyond the 1st one have an equal chance of being as hard as the 1st attempt.

[2020-01-04 04:55] walidmujahid commented on #5298
@Sirlupinwatson1 I have gone through the quests and I have come to believe that if there is any reason for issue regarding UI then it would lay with my display settings and my usage of f.lux software.

[2020-01-04 05:02] walidmujahid commented on #5298
@ohsix1

Changing answer order for each attempt sounds interesting. Would that be a Quest Dynamic?

[2020-01-04 05:23] Sirlupinwatson1 commented on #5298
### @walidmujahid Hi,

**Did you go thru all of them ?**

**There was maybe just 1 but otherwise was not that bad. Maybe i need a new screen.**

[2020-01-04 05:34] walidmujahid commented on #5708
My level of familiarity with the Gitcoin backend and codebase is low. However, I sense there is a possibility that Gitcoin is rather integrated with Ethereum.

Bloated?

I had previously assumed that Gitcoin was already using IPFS, however, I may be thinking of bounties and issues I have seen regarding integrating profiles/avatars with 3Box.

I would label myself a fan of the Stellar Network yet I

[2020-01-04 05:59] walidmujahid commented on #5298
Yes, I had gone through all of them. I did encounter at least three quests where I sensed that they were the ones I remember having issue with regarding UI and botton colour contrast.

The three were:

- https://gitcoin.co/quests/5/battle-bottoshi (Or a background similar to that wallpaper. Perhaps the greninsh blue gradient version)
- https://gitcoin.co/quests/10/journey-to-ipfs (this one is also

[2020-01-04 12:23] kuhnchris commented on #5298
@walidmujahid please open a new issue with your error report- this one is closed. Thank you

[2020-01-04 21:55] biuxmaster commented on #5465
@owocki  Hey, I don't know if this still active or not, but I made these 2 more kudos. What do you think?
![kudos](https://user-images.githubusercontent.com/49821444/71772078-e5e8bd80-2f3c-11ea-90d8-c30d4307b265.jpg)

[2020-01-05 01:11] molecula451 commented on #5619
I am certainly near a fix to this issue. This is happening if I were an applied contributor to a bounty and if the bounty becomes [Work Done] to someone else. The Bug it's taking that applied contributor in this case was me and asking to provide feedback for a work that other user did. In fact the bug it's requesting feedback for applied contributors to the issue on a done bounty by someone else

[2020-01-06 14:34] owocki commented on #5298
after some discussion internally were going to keep this open

[2020-01-06 14:51] kuhnchris commented on #5708
Hi there - IPFS is already being used for Kudos, not sure if we also have a IPFS node in use for the bounties, but I doubt it since the data is purely transfered between the standard bounty contract (a eth VM contract). There may be some changes coming tho as we explore more options.

basically, I do not know what Stellar requires, but if it requires another side chain we need to take care about t

[2020-01-06 16:15] owocki commented on #5708
thanks @ohsix1 do u have any contacts at the stellar foundation we could talk about this with?

[2020-01-06 16:29] owocki commented on #5613
how goes yall? bounty expires soon.. anyone going to be submitting work soon?

[2020-01-06 16:30] owocki commented on #5465
@biuxmaster they both look great! pls submit

[2020-01-06 16:44] biuxmaster commented on #5465
@owocki I already did the PR https://github.com/gitcoinco/creative/pull/179  and submitted them on https://gitcoin.co/kudos/new

[2020-01-06 17:02] frankchen07 commented on #5668
should the expiration date always match the hackathon end date or not?

if the expiration date matches the hackathon end date, then sponsors should not be offered an extension on submissions, but if they want an extension then the expiration date cannot match the hackathon end date

people can still submit after the expiration date

do we want people submitting after the hackathon end date? (add m

[2020-01-06 17:12] frankchen07 commented on #5669
tracking which have been judged/paid out is a separate problem (https://github.com/gitcoinco/web/issues/5670)

when you say difficult to find project submissions to review, can you clarify?

[2020-01-06 20:16] AnneConnelly opened #5715 "Code showing in text"
Hi, In my grant description there's code language that's showing up. How can I remove this?

https://gitcoin.co/grants/211/trust-graphic-novel?fbclid=IwAR2zlVif72Zcwzd7UqAqc2IhURrLY4MY_gsZnacbD-r-XmRdq46elMldqq4

![image](https://user-images.githubusercontent.com/16226861/71845949-6ae7ea00-3097-11ea-8337-1a237b0cce11.png)

[2020-01-06 20:29] frankchen07 commented on #5668
latest update & conversation - creating a separate hackathon flow with coupon code applied and defaults applied, with the same expiration date functionality as it currently exists

[2020-01-06 20:41] frankchen07 commented on #5669
latest conversation: https://gitcoincore.slack.com/archives/CJTTHP53M/p1576608277011500

[2020-01-06 20:46] frankchen07 commented on #5670
@frankchen07 & @PixelantDesign to further define the problem

[2020-01-06 22:22] mul53 commented on #5656
Hey what’s the status on this, I’m kinda locked up on the number of bounties I can pick up.

[2020-01-06 23:53] octavioamu commented on #5619
Good to hear, submit a WIP PR a soon as you can.

[2020-01-07 00:07] octavioamu commented on #5704
I added support for ens domains, but just for the frontend. so it get converted to the eth address when you move the focus out of the input and then saving that, not the domain.
Is deployed and can be seen here https://gitcoin.co/grants/new

[2020-01-07 00:33] ohsix1 commented on #5708
@kuhnchris I don't think Stellar has an equivalent of Infura. Perhaps the closest thing might be this proposal draft: https://galactictalk.org/d/2213-public-node-nodes-funded-by-community

Perhaps more discussion form the Stellar community could shed more light: https://galactictalk.org/d/2263-integrating-stellar-into-ethereum-tron-dapps

@owocki Well, besides the community forum, maybe in touch w

[2020-01-07 01:44] kingjacob commented on #5694
This occurs with weighted shuffle as well.

[2020-01-07 08:44] PixelantDesign opened #5717 "Upon Joining a Hackathon, Two notifications displayed at the same time."
**Describe the bug**

Upon Joining a Hackathon, Two notifications displayed at the same time.
**To Reproduce**

Join a hackathon from the hackathon gallery.
Click Join from How it works page
See screenshot

**Expected behavior**

One notificatioin confirming that I've joined.

**Screenshots**

<img width="1788" alt="Screen Shot 2020-01-07 at 3 24 50 AM" src="https://user-images.githubusercontent.c

[2020-01-07 09:06] PixelantDesign opened #5718 "Unify Inconsistent UI elements - Tabs"
**Describe the bug**

Unify Inconsistent UI elements

**To Reproduce**
View tabs on Profile, Quests, Grants

**Expected behavior**

Look and behave the same.
Make Profile and Quests match Grants.

**Screenshots**

**Grants**
<img width="1005" alt="Screen Shot 2020-01-07 at 3 49 56 AM" src="https://user-images.githubusercontent.com/238235/71882382-5ee54200-3102-11ea-8385-9030a1d50473.png">
**Quests

[2020-01-07 09:41] PixelantDesign commented on #5707
Thanks for the report @emmaodia. Some menu items were hidden by design so that users aren't distracted and move out of the onboarding flow.

[2020-01-07 09:44] PixelantDesign commented on #5715
Thanks for the report @AnneConnelly. We will take a look!

[2020-01-07 09:47] PixelantDesign commented on #5706
Thanks @kuhnchris! Wanna help us fix it?

[2020-01-07 09:56] PixelantDesign commented on #5703
Like this idea. I know it has come up before. Something we generate as a get your feet wet exercise depending on the person's expertise?

One that Anyone can do might be tricky. Unless it doesn't necessarily involve coding. I could also see a simple bounty for different skills like design, front-end, back-end, etc?

Questions bounty/quest?

[2020-01-07 09:58] PixelantDesign commented on #5677
@frankchen07 check out the share feature that @octavioamu built.

[2020-01-07 10:51] walidmujahid commented on #5338
Week in Etherland - Jan 5th, 2020: https://gitcoin.co/quests/87/week-in-etherland-jan-5th-2020

[2020-01-07 11:27] elenadimitrova commented on #5338
@walidmujahid I'm not liking the idea of having quests based on a weekly newsletter. The primary idea behind Gitcoin quests is to teach developers more about working with Ethereum, not navigating the weekly news.

[2020-01-07 12:49] walidmujahid commented on #5338
@elenadimitrova I think I agree with you. I personally liked the original Etherland quest, so I created the two succeeding ones, but there was always something that seemed off.

I assume I did not fully think it through as I myself am also a regular reader, but for those who are not, I would imagine the quests would essentially become about "navigating the weekly news" as you put it or even remebe

[2020-01-07 13:59] danlipert commented on #5715
@AnneConnelly what are those query parameters in the URL? Those are causing the issue, just going to https://gitcoin.co/grants/211/trust-graphic-novel?tab=description works as expected

[2020-01-07 14:02] molecula451 commented on #5715
If unintentionally query was mistype. Clean browser history and re-enter to correct address

[2020-01-07 14:03] molecula451 commented on #5715
If unintentionally query was mistype. Clean browser history and cookies and re-enter to correct address

[2020-01-07 14:23] #5696 closed

[2020-01-07 15:23] owocki commented on #5718
woah; big bounty :) lucky you @iamonuwa

[2020-01-07 16:26] kuhnchris commented on #5706
do we have an official design how this should look? if yes I can try to adapt it to that.

[2020-01-07 16:28] kuhnchris opened #5721 "Quests break due to midijs certificates running out"
**Describe the bug**
Quests are broken because the certificate on https://midijs.net is out of validity again (2nd time it happened)

**To Reproduce**
goto https://midijs.net

**Expected behavior**
Gitcoin Quests not breaking

**Screenshots**
n/a

**Additional context**
Goal of this is to bring midijs into the project as external dependency. find and integrate the package.

[2020-01-07 18:03] owocki opened #5722 "error in grant creation"
from john kelleher on email

[code]

[2020-01-07 19:05] owocki commented on #5704
https://github.com/gitcoinco/web/pull/5716/files#diff-6976df00f5b8d7c3281538d9b3974f64R79-R99 handles this.. thanks @octavioamu !

[2020-01-07 19:05] owocki commented on #5470
note that @octavioamu was able to get this working on grants/new https://github.com/gitcoinco/web/pull/5716/files#diff-6976df00f5b8d7c3281538d9b3974f64R79-R99

[2020-01-07 19:05] owocki commented on #5470
@iamonuwa hows the PR coming?

[2020-01-07 19:09] markusbkoch opened #5723 "Grants "Total Funded" count is incorrect"
**Describe the bug**
The amount displayed in the "Total Funded" field of a grant page doesn't match the amount that was donated.

**To Reproduce**
See https://gitcoin.co/grants/233/ethereumetl?tab=activity
As of now, it shows total funded is 105 DAI, but that amount takes into account a 25 DAI donation by user rraina. However, that donation never went through. The [approve transaction](https://eth

[2020-01-07 19:11] owocki commented on #5723
internal comment -- suggested fix: we should index the activity tab on whether the `transferFrom()` was successful, not just the `approve()`

[2020-01-07 19:31] markusbkoch commented on #5723
Seems the same thing is affecting the leaderboard too?
![image](https://user-images.githubusercontent.com/34865315/71923012-d484f880-316a-11ea-98fd-2414bb765026.png)
https://gitcoin.co/timdaub
[Approve 1.337e+22 SAI](https://etherscan.io/tx/0x0bdeeb0b78f1c94a7dde2dfc074bc79252f0fe93b5dc714c70ee2d6e5a8888f7)
[Failed transfer](https://etherscan.io/tx/0x1229bf1fded77f3fb1b0d3050b31ee37cc081e4a0b4d4fe

[2020-01-07 19:33] sanchaymittal commented on #5704
Yes, I'm working on it. Just managing the addresses available at
different locations to be filtered correctly if ENS is mentioned.

On Tue, 7 Jan, 2020, 10:45 PM Gitcoin.co Bot, <notifications@github.com>
wrote:

[2020-01-07 20:34] kuhnchris commented on #5721
Hey there @iamonuwa  - please hold back a bit - the SSL domain got fixed, the implementing of that library into our system has a big red flag 🔴 - they only sell domain licenses, so we need to check that first with @owocki and probabbly legal.

[2020-01-07 20:38] owocki commented on #5722
from john on email: Hey Kevin.  I just realized that the address that is being displayed is from one of the accounts I have on my MetaMask.  I was probably connected to it before switching to the one I ended up using for the transaction.

[2020-01-07 21:08] molecula451 commented on #5722
I suppose this e-mail is coming from @jpkcambridge.

Lastest grant https://gitcoin.co/grants/249/open-raise

I can see that this user did not even got a [Created Grant] log on the Grant Activity tab

![onlyupdated](https://user-images.githubusercontent.com/41552663/71926631-1a8d8c80-316a-11ea-95d7-6e9ce4f9f6bc.png)

In fact the error it's outputing expected owner address

Which is the one he state

[2020-01-07 21:19] jpkcambridge commented on #5722
jpkcambridge here.  One other thing: the webpage crashed shortly after I submitted the grant.  Let me know if I can help.  I may create a new grant in the meanwhile.

[2020-01-07 21:22] jpkcambridge commented on #5722
@molecula451 And the recipient funding grant address is correct, and was intentionally entered.

`0x639C52b5475a44c5bb876A7e4E7Ee778A3E2d136` and `0x87C308B70AD9eacbef0Cb43514a104684eDB8A5D` are both under my metamask.  I suspect I was on the 0x87C one when I initially visiting the grant creation page and then switched to the 0x639 one to submit the application.

[2020-01-07 21:30] molecula451 commented on #5722
I am replicating and I also getting second account on the MetaMask address
![replicate](https://user-images.githubusercontent.com/41552663/71931096-68f35900-3173-11ea-9f00-ed0fbf20f265.png)

<code> 0xB44 </code>
![replicate1](https://user-images.githubusercontent.com/41552663/71931038-44977c80-3173-11ea-8e1a-cb3fb93ab0b6.png)

[2020-01-07 21:36] molecula451 commented on #5722
It seems to me that our web3 provider it's giving us conflict with our grant creations