[2020-06-27 00:59] #5158 closed

[2020-06-27 00:59] #5561 closed

[2020-06-27 00:59] #5563 closed

[2020-06-27 00:59] #5579 closed

[2020-06-27 00:59] #5617 closed

[2020-06-27 00:59] #5815 closed

[2020-06-27 00:59] #5816 closed

[2020-06-27 00:59] #5817 closed

[2020-06-27 01:00] #5341 closed

[2020-06-27 01:00] #5820 closed

[2020-06-27 01:00] #4960 closed

[2020-06-27 01:01] #4502 closed

[2020-06-27 01:01] #4850 closed

[2020-06-27 01:01] #5162 closed

[2020-06-27 01:01] #5462 closed

[2020-06-27 01:02] #4784 closed

[2020-06-27 01:02] #4964 closed

[2020-06-27 01:03] #5070 closed

[2020-06-27 01:03] #5315 closed

[2020-06-27 01:04] #5997 closed

[2020-06-27 01:07] #4577 closed

[2020-06-27 01:07] #4640 closed

[2020-06-27 01:07] #4710 closed

[2020-06-27 01:07] #4895 closed

[2020-06-27 01:07] #5057 closed

[2020-06-27 01:07] #5186 closed

[2020-06-27 01:07] #5196 closed

[2020-06-27 01:07] #5282 closed

[2020-06-27 01:07] #5318 closed

[2020-06-27 01:07] #5382 closed

[2020-06-27 01:10] #5533 closed

[2020-06-27 01:10] #5584 closed

[2020-06-27 01:10] #5616 closed

[2020-06-27 01:10] #5722 closed

[2020-06-27 01:10] #5723 closed

[2020-06-27 01:10] #5747 closed

[2020-06-27 01:10] #5762 closed

[2020-06-27 01:10] #5764 closed

[2020-06-27 01:10] #5773 closed

[2020-06-27 01:10] #5778 closed

[2020-06-27 01:10] #5779 closed

[2020-06-27 01:10] #5781 closed

[2020-06-27 01:10] #5784 closed

[2020-06-27 01:10] #5803 closed

[2020-06-27 01:10] #5810 closed

[2020-06-27 01:10] #5813 closed

[2020-06-27 01:10] #5818 closed

[2020-06-27 01:10] #5848 closed

[2020-06-27 01:10] #5854 closed

[2020-06-27 01:10] #5855 closed

[2020-06-27 01:10] #5856 closed

[2020-06-27 01:10] #5858 closed

[2020-06-27 05:33] owocki commented on #6860
loading indicator for long running grant contributions
long running txns emails
make sure dropped/replaced txns are being validated
prevent double clicking on grant/enw
grant status update; make command+enter submit, not regular enter
bulk hide grants
grant create - disable button when clicked
sort by last updated
let u add to cart on ur own grant
- no match
- save
- dont match it in grants/clr.py

[2020-06-27 13:37] Coinwalletfriend opened #7006 "How to leverage your referral link"
I wish I could tell you that there is a magic button that takes your Gitcoin referral link to the top of the rankings, without error.

But the truth is that it is necessary to have resourcefulness, dedication, persistence and creativity, combined with the mission of the Gitcoin platform. This is particularly true because of the constantly changing nature of the algorithm of social networks, Facebo

[2020-06-27 13:49] pcowgill commented on #5803
@thelostone-mc Hey, whenever you get a chance would you be up for sharing the thinking behind closing this? Thanks!

[2020-06-28 05:01] frankchen07 commented on #6642
I feel like the way the sponsor interacts with a hackathon should be by "workspace."

Sort of like going to each hackathon page allows them to see a bunch of elements related to that hackathon. In a hierarchy sense, I would think that is selected elsewhere, and then the tabs will be for hackathon A, B, C, etc for that sponsor.

[2020-06-28 16:44] Greg-Johns opened #7009 "BN is not a constructor"
**Bug**
After adding projects to fund in the current round of grants and clicking "Fund 7 Items" I receive the following error

_BN is not a constructor_

**To Reproduce**
Add projects to cart
Click "Fund _ Items"

**Desktop (please complete the following information):**

- OS: MacOS Catalina
- Browser: Brave
- Browser Version: 1..10.97

[2020-06-29 02:22] Greg-Johns commented on #7009
nm it was a MetaMask issue that resolved after reboot.

[2020-06-29 02:22] #7009 closed

[2020-06-29 06:40] sebastiantf commented on #6646
@owocki Would you mind paying out for this bounty? This has been completed: #6777

[2020-06-29 06:46] sebastiantf commented on #6677
@owocki Would you mind paying out for this bounty? This has been completed: #6708

[2020-06-29 06:47] sebastiantf commented on #6493
@owocki Would you mind paying out for this bounty? This has been completed: #6633 #6830

[2020-06-29 11:40] thesachinmittal commented on #6999
@thelostone-mc here is the issue page. :)

[2020-06-29 12:13] owocki commented on #6860
add more filters to index page https://twitter.com/BenduPeloux/status/1277164167301148673

[2020-06-29 12:14] owocki commented on #6860
credit card donations pls https://twitter.com/papa_raw/status/1276784507442659328?s=21

[2020-06-29 12:26] owocki commented on #6860
grants transactions page
- make it not slow
- enable csv export

[2020-06-29 12:50] owocki opened #7013 "suggested privacy setting: wallposts"
there should really be some sort of privacy setting for a gitcoin profile where only certain people can post on it 🙈

[2020-06-29 12:51] owocki commented on #7013
spurred by https://bits.owocki.com/nOue9Ajk

maybe we should give people the ability to delete ANYTHING on thier wall too

[2020-06-29 12:53] owocki commented on #6860
Hey Kevin! A minor piece of feedback on the UI/UX of the new cart feature (which is awesome!):

It'd be nice if the latest grant that I "Add to Cart" goes to the top of the list on the right-hand sidebar.

With multiple grants, you have to scroll a lot.

<img width="1263" alt="Screen Shot 2020-06-29 at 6 52 20 AM" src="https://user-images.githubusercontent.com/513929/86007793-23527300-b9d5-11ea-86

[2020-06-29 13:14] PixelantDesign commented on #6870
@developerfred how is this one going?

[2020-06-29 13:18] PixelantDesign commented on #6862
https://github.com/gitcoinco/web/issues/6870

[2020-06-29 14:10] PixelantDesign commented on #5669
<img width="1671" alt="Screen Shot 2020-06-29 at 10 09 01 AM" src="https://user-images.githubusercontent.com/238235/86016389-b77e0380-b9f0-11ea-8298-c3812b6954bb.png">

<img width="838" alt="Screen Shot 2020-06-29 at 10 09 57 AM" src="https://user-images.githubusercontent.com/238235/86016399-b9e05d80-b9f0-11ea-8cf9-9a2de549553b.png">

[2020-06-29 14:12] willsputra opened #7014 "As a developer, I'd like to know the latest happenings on Gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I'd like to know the latest happenings on Gitcoin

continued from https://github.com/gitcoinco/web/issues/6870

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Su

[2020-06-29 14:30] owocki opened #7015 "DESIGN - BOT Creatives - Summer 2020; 8th Edition - Paul Graham Essays/StartupIsms"
At Gitcoin, We <3 Kudos

Checkout all the fun bots we've done before: https://gitcoin.co/kudos/

This is a bounty to create more Gitcoin Kudos in new interesting scenes & styles.

# Pricing

i'll pay 30 DAI per artwork that looks as though some effort was put into it, up to 70 DAI if i really really love the piece (at my discretion).  if budget is a constraint for you, reach out to me here (or kev

[2020-06-29 14:30] owocki commented on #6982
antoehr one i might do https://github.com/gitcoinco/web/issues/7015

[2020-06-29 15:49] owocki opened #7016 "basic payout no longer redirects to pending page after transaction is submitted, causing a broken experience"
**Describe the bug**

basic payout no longer redirects to pending page after transaction is submitted, causing a broken experience

**To Reproduce**

payout basic payout

**Expected behavior**

the page should go to the tx loading page

**Screenshots**

https://bits.owocki.com/nOueRYWe

**Desktop (please complete the following information):**

- OS: Mac
- Browser: Chrome
- Browser Version: Latest

[2020-06-29 16:12] owocki commented on #6646
thx for the reminder. paying out now

On Mon, Jun 29, 2020 at 12:40 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-06-29 16:21] developerfred commented on #6870
@PixelantDesign The functionality is already in the master branch, I will make these design changes and add the events in the component.

[2020-06-29 16:31] Danibelle opened #7017 "Contributions through cart not appearing in Grants"
I made a bunch of PAN and DAI donations in Grant Round 6, twenty two donations through the cart for a total of:
You are contributing 1,710.00 PAN+ 0.01 ETH+ 12.35 DAI
You are additionally contributing 90.00 PAN+ 0.0008 ETH+ 0.65 DAI to the Gitcoin Mainainter Grant

But they don't show up in my profile or in the Grants themselves? https://gitcoin.co/danibelle

Here is the Transaction Hash!
https://

[2020-06-29 16:35] owocki commented on #6805
hey all, im going to start closing down this issue as the gitcoin grants round is almost over.

if you've been accepted to start work you may still continue + submit.

next up will be https://github.com/gitcoinco/web/issues/6982 so start thinking fo what you want to do for that one

[2020-06-29 16:36] owocki commented on #7016
same issue on cancel bounty https://bits.owocki.com/rRul1Ldj

[2020-06-29 16:43] owocki commented on #7017
[code]

ok just ingested these.

now we gotta figure out the root cause of why those transactions were not ingested originally 🤔

[2020-06-29 17:05] owocki commented on #6860
let business owners know when saturation has occured https://twitter.com/LefterisJP/status/1277149961914912768

[2020-06-29 17:12] developerfred commented on #6870
@octavioamu is there any model that returns me the next rounds of grants and workshops?

[2020-06-29 17:40] owocki commented on #6860
option to view newest grants https://twitter.com/vadimcojocaru/status/1276765118764847104?s=21

[2020-06-29 17:57] alfinal opened #7018 "Checkout for grants doesn't recorded in gitcoin.co (but transactions saved in blockchain)"
How to reproduce it:

1. Install [Metamask add-on in Firefox](https://addons.mozilla.org/es/firefox/addon/ether-metamask/) (we tested with Firefox 60.5.1esr, that maybe is a little bit old but is in our community library computers)
2. Create or connect an ETH & DAI account with some coins in both
3. Create a new user in [github.com](https://github.com)
4. Login with this user in [gitcoin.co](https

[2020-06-29 18:04] PixelantDesign commented on #6870
@developerfred could we split it up into two hrs so that we can get the first iteration deployed?

[2020-06-29 18:10] owocki commented on #7018
hmmmmm; i i need to figure out how to reproduce this issue.

meantime, what is the user who was logged in for this txn? i can ingest it from the backend.

[2020-06-29 18:17] alfinal commented on #7018
@grizlda (example is real and you can see her snapshot)

I realize that this issue maybe is related to #7017 , but in this case the transactions is not in the list you made it to ingest.

[2020-06-29 18:17] developerfred commented on #6870
Yes the first yes I just need the other data from the upcoming, workshops and future grant round.

[2020-06-29 18:59] mds1 commented on #6946
What's the proper config for the `.env` file to test sending emails? Do I just set `SENDGRID_API_KEY` to my API key and `CONTACT_EMAIL` to the email I want the test emails to be sent to?

[2020-06-29 19:02] mds1 commented on #6935
@Solexplorer Is there any additional info about this in that slack channel? I don't have access, so if there is more info there would you mind pasting it here?

[2020-06-29 19:14] Solexplorer commented on #6935
Actually, in that slack message, there are only links to duplicated grants that I've came around, there aren't infos on why this is happening, pasting here the content of that thread:

https://gitcoin.co/grants/840/ethereumdevio-from-deploying-your-first-smart-cont and https://gitcoin.co/grants/841/ethereumdevio-from-deploying-your-first-smart-co-2

https://gitcoin.co/grants/842/dao-governed-eips-

[2020-06-29 19:21] mds1 commented on #6911
A few questions on this:
1. I don't have access to those links, so could you send me screenshots of the relevant info / post them here?
2. The validation process is handled in `process_grant_contribution()` of `app/grants/tasks.py`—is that correct?
3. Just want to make sure I'm understanding this issue—this happens when one bulk donation has 2 or more transfers, whether ETH or tokens, to the same

[2020-06-29 19:25] owocki commented on #6946
https://docs.gitcoin.co/mk_third_party_integrations/#setup-sendgrid-to-send-emails-recommended

On Mon, Jun 29, 2020 at 12:59 PM Matt <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-06-29 19:25] owocki commented on #6935
i think this might fix the root cause acf01dedded3f9a874eafa693142eebb7f62a263

[2020-06-29 19:27] owocki commented on #6911
i've put in some fixes in for this using the live data. ill take this one.

[2020-06-29 20:38] hydr063n commented on #6621
Hi @frankchen07 @alexvotofuture @vs77bb @connoroday @owocki

I’m stuck at the crossroads with the following data requirement:
_Able to merge the subscribe/unsubscribe preference between the currrent hackathon list on mailchimp and sendgrid_

This whole issue requests that each hackathon event have its own separate email preferences from other hackathon events. So I’ve designed the following data m

[2020-06-29 21:08] owocki commented on #6726
hey all, it took me a few days (there were some REALLY good ideas in the submissions).. so i had to readd them then ponder them for a few days, but here is where i landed

top prize @ivanmolto for his ideas about quadratic voting & auctions
second prize @wadek2

honorable mentions
@coinwalletfriend
@matimaone1
 @robertovalenti
 @NickDGreg
 @twaldorf
 @tarcnux
 @keviinfoes

thank you again for part

[2020-06-29 21:26] NukeManDan commented on #6975
**17 I believe, 16x 2 DAI grants, and 1x ETH grant**

**Yes - I turned off the 5% automatic kick back, and funded the grant directly instead.**

---
@GriffGreen Wow that sucks that metamask is **censoring transactions** :vomiting_face: Their reason being what exactly?  AFAIK I see it on etherscan, so it is in mempools outside of infura :crossed_fingers:

https://etherscan.io/tx/0x270ede306f9d35455

[2020-06-29 21:41] octavioamu commented on #6931
Closing this as was deployed already, feel free to reopen or ping me here if still a bug for you

[2020-06-29 21:41] #6931 closed

[2020-06-29 21:41] octavioamu commented on #6876
We just deployed a fix for the Metamask popup, but depending on your local state you will need to hard refresh the page or just connect disconnect Metamask for the last time, after that the popup should be gone 🙌

[2020-06-29 21:43] octavioamu commented on #6932
@mds1 I just deployed a fix for this https://github.com/gitcoinco/web/commit/d0ecb6e4db857c30d6ebf8649de66c664d4bf764#diff-ebd56e657002d50efb25041944ee2d6eL559

[2020-06-29 21:45] octavioamu commented on #6932
also seems was a problem with the version of fortmatic sdk making the tx event to get into a loop sending emails for each event and failing. But now should be good

[2020-06-29 21:46] octavioamu commented on #6496
Thanks I just deployed a fix for this actually we not longer need that verification anymore as we are dealing everything with web3modal.

[2020-06-29 21:46] #6496 closed

[2020-06-29 21:46] #6932 closed

[2020-06-29 21:47] #6876 closed

[2020-06-29 23:17] matimaone1 commented on #6726
Nice Work   @ivanmolto And @ivanmolto  - Congratulations

Le lun. 29 juin 2020 à 22:09, Gitcoin.co Bot <notifications@github.com> a
écrit :

[2020-06-30 00:09] PixelantDesign commented on #6942
@sebastiantf @developerfred are either of y'all interested in this one?

[2020-06-30 00:18] developerfred commented on #7014
@willsputra The Latest Bounties feature, are the bounty that the user applies or the last bounty's that were added to the platform?

[2020-06-30 02:21] sebastiantf commented on #6942
@PixelantDesign I'm interested

[2020-06-30 03:11] mds1 commented on #6935
I was able to reproduce this on 6b94199ec3c17df96d83c5b80fc027e7c48705e0 (the commit immediately before acf01dedded3f9a874eafa693142eebb7f62a263), but was not able to reproduce after acf01dedded3f9a874eafa693142eebb7f62a263

So I agree you fixed it with that commit and this can be closed (which I don't have permission to do)

[2020-06-30 03:32] #6935 closed

[2020-06-30 03:45] PixelantDesign commented on #6942
**Email Details**

- This should populate using send grid
- Build email so that it works by manual population of information through the Gitcoin Admin
- Email body should be editable and have an editable title for each section.
-  An admin should be able to upload an image where the Hackathon image is displayed
- There should be a join button that allows users to join
- Must be responsive

Design

[2020-06-30 07:08] ivanmolto commented on #6726
Thank you!!

[2020-06-30 12:56] willsputra commented on #7014
@developerfred it will be the recent bounties that were added to the platform. the idea is for users to know what bounties are available!

[2020-06-30 12:59] willsputra opened #7020 "[BUILD] As a tribe member, I want to know when the tribe is participating in a hackathon"
### User Story
Design ticket: https://github.com/gitcoinco/web/issues/6942

As a tribe member, I want to know when the tribe is participating in a hackathon

As a sponsor, I want my tribe members to automatically be notified that that I'm sponsoring a hackathon so that they can participate.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description

[2020-06-30 13:05] willsputra opened #7021 "[BUILD] As a tribe member, I want to know the prizes from the tribe when participating in a hackathon"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a tribe member, I want to know the prizes from the tribe when participating in a hackathon

As a sponsor, I want my tribe members to automatically be notified the prizes available when I'm sponsoring a hackathon so that they are interested ot participate

### Why Is this Needed

[comment]: # (Describe the problem

[2020-06-30 13:05] willsputra commented on #7020
**Email Details**

- This should populate using send grid
- Build email so that it works by manual population of information through the Gitcoin Admin
- Email body should be editable and have an editable title for each section.
- An admin should be able to upload an image where the Hackathon image is displayed
- There should be a join button that allows users to join
- Must be responsive

[2020-06-30 13:06] willsputra commented on #7021
**Email Details**

- This should populate using send grid
- Build email so that it works by manual population of information through the Gitcoin Admin
- Email body should be editable and have an editable title for each section.
- An admin should be able to upload an image where the Hackathon image is displayed
- Prizes will be pulled in from that specific sponsor and that specific hackathon
- 'Joi

[2020-06-30 13:07] willsputra commented on #6942
Build ticket: https://github.com/gitcoinco/web/issues/7020

[2020-06-30 13:16] PixelantDesign commented on #7021
@sebastiantf ^

[2020-06-30 13:24] owocki commented on #6860
layer 2s suggested to me:
- xDAI
- loopring
- rollups

[2020-06-30 13:41] owocki commented on #6860
from the grants standup today:
- funding of DEFI cateogry, security category, auto-funding of the round

[2020-06-30 13:52] owocki commented on #6860
from reddit

Hey, love what you guys are doing and I thought the cart feature you added this round was super easy to use and helpful. It really made my experience a lot more positive than previous funding rounds.

However, I do have constructive criticism and I hope you don't take offense. I have never done this from my phone (not even sure that is possible) so all of this is from my laptop/deskto

[2020-06-30 14:37] ceresstation commented on #6860
Cart management:

We currently just add items to people's carts when they click on someone else's bulk checkout link. It might be worth showing them the other person's cart separately and asking whether they want to add these instead of doing it automatically.

[2020-06-30 14:59] owocki commented on #6860
- remove fund.js
- grants FAQ
- ability to close grant on frontend, also ability to edit new fields
- make offline SMS the default in russia/kazakstan
- help button on the top right

[2020-06-30 15:44] developerfred commented on #7014
Thanks!

[2020-06-30 20:03] molecula451 commented on #6870
Looks a lot great! it left some CSS properties, tho

![sidepanel](https://user-images.githubusercontent.com/41552663/86171726-30618600-baeb-11ea-9c27-fac5fd2f958a.gif)

[2020-06-30 20:04] molecula451 commented on #6870
Looks a lot great! there are left some CSS properties, tho

![sidepanel](https://user-images.githubusercontent.com/41552663/86171813-58e98000-baeb-11ea-8a18-da41b0b412c5.gif)

[2020-06-30 20:49] pcowgill commented on #6948
@thelostone-mc When editing my grant, I'm not able to select those categories yet. They show up as options.

<img width="654" alt="Screen Shot 2020-06-30 at 3 47 37 PM" src="https://user-images.githubusercontent.com/2731712/86175540-263e8800-bae9-11ea-946b-60041e8e20b3.png">

But when I click on it it doesn't populate in the `CATEGORIES` field.

<img width="650" alt="Screen Shot 2020-06-30 at 3 47

[2020-06-30 20:51] pcowgill commented on #6948
On a second attempt, those options were selectable, but the behavior of what gets saved vs. what is shown is pretty unpredictable. The state after saving doesn't always match what shows up after refreshing.

[2020-07-01 06:13] sebastiantf opened #7027 "New Hacker activity post tile in Townsquare feed overlaps top navbar"
**Describe the bug**
Every **New Hacker** activity post tile in the Townsquare feed seems to overlap the top navbar when scrolling downwards.

**To Reproduce**
Visit Townsquare. Scroll past **New Hacker** activity tiles.

**Expected behavior**
No activity tiles in the townsquare feed should overlap the top navbar

**Screenshots**

<img width="881" alt="Screenshot 2020-07-01 at 11 36 46 AM" src="ht

[2020-07-01 13:03] owocki commented on #6860
accept other crypto currencies, fiat currencies (paypal, stripe) https://twitter.com/owocki/status/1278313048336261122

[2020-07-01 13:04] owocki opened #7030 "new hackathon module doesnt support dark mode, cant be collapsed like the rest of the ts modules"
1. needs to support dark mode https://bits.owocki.com/qGuKx0B2
2. needs to be able to be collapsed when clicked https://bits.owocki.com/JruL8jZp

[2020-07-01 13:06] owocki commented on #7030
@developerfred up for a follow up PR?

[2020-07-01 13:33] willsputra commented on #6870
thanks for this! another feedback: each hackathon link and "Join Hackathon" should go to that hackathon, not the hackathon-list page

[2020-07-01 14:00] viktorbunin opened #7031 "Make it easy for a user doing a second donation pass to see which grants they already donated to"
### User Story

[comment]: # As a donor, I want to see which grants I already donated to on the Grants page so that when I go through it again to do a second round of donations, I don't have to check which ones I've already donated to.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, an

[2020-07-01 14:44] willsputra commented on #7030
@developerfred here's how the dark mode might look like:

also a few css fix requests if you're working on it:
1. "Join Hackathon >" button should be smaller (same size as date) since the visual hierarchy now looks a bit off
2. on dark mode, put a white stroke on the logo so dark logos don't blend to the background

thanks! :)

![1](https://user-images.githubusercontent.com/19514207/86257536-41de8

[2020-07-01 15:06] thelostone-mc commented on #6972
Pricing is over at https://passbase.com/pricing/

The solution we build out -> would be generic so that it can be wrapped around any feature (bounties being one of them)

Stuff to figure out within passbase

![image](https://user-images.githubusercontent.com/5358146/86260029-616cb400-bbda-11ea-8882-8708eed8f509.png)

[2020-07-01 15:08] willsputra opened #7033 "Improvements to hackathon view (left & right rail)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want the hackathon view to be more intuitive and useful.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

As we're adding more features like displaying sk

[2020-07-01 15:24] matimaone1 opened #7034 "Bug Donate not showing in the grant"
Hello,
I ask my brother to donate to my grant(Last night) . and he do but I don't know why it doesn't appear(show) in the grant. but the transaction was done in etherscan!
https://etherscan.io/tx/0xbd79f723f84439e80ec4bc1da89f5b1b5068d46f3c22f1c0e2870c5e8a198fc4

[2020-07-01 15:28] owocki commented on #7034
can you please fill out the template, what account, what browser, what web3 wallet,etc

[2020-07-01 15:49] matimaone1 commented on #7034
My account : https://gitcoin.co/matimaone1
Brother account: https://gitcoin.co/hakiminho
Grant link : https://gitcoin.co/grants/911/1-minute-learning
OS: Windows 10
Browser: Google chrome
Wallet :Metamask wallet
Transaction on etherscan :  https://etherscan.io/tx/0xbd79f723f84439e80ec4bc1da89f5b1b5068d46f3c22f1c0e2870c5e8a198fc4

[2020-07-01 16:41] sebastiantf commented on #6977
@owocki I have a PR up for this: #7035

[2020-07-01 17:49] owocki commented on #7034
hmm i can ingest this txn manually, would be great to figure out the root cause for this tho 🤔

[2020-07-01 17:53] owocki commented on #7034
hmm are you certain that this txn was broadcast from metamask?   the from address for the txn is diff from the txns

https://etherscan.io/tx/0xbd79f723f84439e80ec4bc1da89f5b1b5068d46f3c22f1c0e2870c5e8a198fc4

[2020-07-01 19:13] owocki commented on #7034
hmmm i dont think this a gitcoin checkout txn, https://etherscan.io/tx/0xbd79f723f84439e80ec4bc1da89f5b1b5068d46f3c22f1c0e2870c5e8a198fc4 goes to 0xbd79f723f84439e80ec4bc1da89f5b1b5068d46f3c22f1c0e2870c5e8a198fc4 which is not the splitter contract we use

[2020-07-01 20:51] mbeylin opened #7036 "Users Receive 2x Emails For Grants Funding"
**Describe the bug**
When I donate to 9 grants, I get a total of 18 emails. I get 2 emails for each of the grants I contribute to.

**To Reproduce**
Fund multiple grants.

**Expected behavior**
Should send ONE email with my entire cart's worth of grants which I funded.

[2020-07-01 21:02] vs77bb opened #7037 "Match Estimate Highest Is Wrong"
Brings up grants with no matching on [Gitcoin Grants](gitcoin.co/grants) when on the main explorer view.

![Screen Shot 2020-07-01 at 5 02 22 PM](https://user-images.githubusercontent.com/23297747/86292065-088f2280-bbbe-11ea-8698-156b42e62b42.png)

[2020-07-01 21:14] vs77bb opened #7038 "Run Multiple QF Rounds @ Once"
As an organization, I want the ability to run a protocol specific / platform specific QF round on Gitcoin outside of the main CLR rounds / simultaneously with other CLR rounds.

[2020-07-01 21:21] matimaone1 commented on #7034
Yeah sure it from metamask. here is the wallet of my brother:
https://etherscan.io/address/0x427215ee94f0e0ea312f007c421db1cda6b20a80
you can see an out transaction to the grant smart contract. but there is no
transaction in the gitcoin grant !!

Le mer. 1 juil. 2020 à 20:13, Kevin Owocki <notifications@github.com> a
écrit :

[2020-07-01 21:39] owocki commented on #7036
Thanks, we are on it

On Wed, Jul 1, 2020 at 2:51 PM Mark Beylin <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-01 23:40] svenrenhoek commented on #7034
Same issue here:

donor account: https://gitcoin.co/svenrenhoek
grant account: https://gitcoin.co/grants/835/octanolabs
OS: Win10
Browser: Chrome - Version 83.0.4103.116 (Official Build) (64-bit)
Wallet: MEW CX
Tx: https://etherscan.io/tx/0x7cfef210d0b61865024f1a3655326cb2eaa6adc0eba9e4d41f6aa6555e511061

Not showing up in https://gitcoin.co/grants/835/octanolabs?tab=transactions

[2020-07-02 04:22] AnneConnelly opened #7041 "You have to click twice on the "comment" button to comment on someone's transaction."
-->

**Describe the bug**
When someone makes a gift in grants, and I want to thank them, I go to make a comment on their transaction in the summary page. I type the comment, then hit the comment button. It sort of looks like it's worked... but you actually have to hit comment again for it to post.

**To Reproduce**
Go to a transaction on your grant, try to comment on it.

**Expected behavior**
You

[2020-07-02 06:27] sebastiantf commented on #7021
Hey @PixelantDesign, @willsputra I think I'm a bit confused rn. Which email should be built? Because the designs shown on #6942 and here #7021 are different but requires to be sent when an org signs up for a hackathon. Can you please clear this up?

**1 or 2 or Both**

**1.**
![](https://user-images.githubusercontent.com/19514207/85405022-64d8bd80-b592-11ea-8be3-10a687a482e5.png)

**2.**
![](https

[2020-07-02 10:56] myfrogger opened #7042 "My transaction from last week still shows pending"
I am a new user and I contributed in the gitcoin matching program.  My transaction is confirmed on the blockchain but it's being reported as pending on this page:

https://gitcoin.co/grants/271/jelly-swap-cross-chain-atomic-swap?tab=transactions#

Can you please advise how to resolve this issue because you can see on the blockchain it has been confirmed for about a week now.

[2020-07-02 12:56] octavioamu commented on #6977
Kudos marketplace already have an infinite scroll loading using the most performance way js "observers"

[2020-07-02 13:18] willsputra commented on #7021
@sebastiantf
https://github.com/gitcoinco/web/issues/7020 is sent when the hackathon is announced

https://github.com/gitcoinco/web/issues/7021 is sent when the hackathon starts (cos usually prizes are shown when the hackathon starts)

what do you think @PixelantDesign ?

[2020-07-02 13:54] owocki commented on #7042
ah the system thinks your split tx (
https://etherscan.io/tx/0x0175311945311bf8ed542d8daa15fc1e3cf90cab93522192dc384c1a3ba01b15
)
is still pending. :)  i will mark it as cleared bc of the replacement txn

On Thu, Jul 2, 2020 at 4:56 AM myfrogger <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generat

[2020-07-02 14:15] sebastiantf commented on #7021
Thanks @willsputra. If you don't mind, I would like some more clarifications:

1.
    * In #6942 @PixelantDesign says

    * In #7020 (here) @willsputra says

    Which one should be used? I've seen how sendgrid is being used to send the Daily and Weekly Emails, but I haven't figured how Mailchimp API is actually used to send emails, other than using it to keep a list of Hackers. Maybe someone fro

[2020-07-02 14:17] mul1sh opened #7043 "Cannot create grants in localhost"
**Describe the bug**
As noted, I can't create grants for a localhost docker gitcoin deployment.

**To Reproduce**
1. Deploy Gitcoin locally via docker as recommend in the docs
2. Go to http://localhost:8000/grants/new
3. Try to create a new grant from this URL and you'll notice nothing happens i.e. drag & drop for project Logo does nothing, can't search for users, can't search for preferred tokens

[2020-07-02 14:51] mul1sh commented on #7043
An update I actually can't seem to create grants in the main Gitcoin site, which is weird 🤪 😅

[2020-07-02 14:58] owocki commented on #7043
i cant reproduce this. i'd need reproduction steps to know whats going
wrong.

On Thu, Jul 2, 2020 at 8:52 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-02 15:11] mul1sh commented on #7043
@owocki i'm trying to create the grants through the normal flow and literally nothing is happening. Here is an attached vid that shows the steps I undertook

https://youtu.be/YsmpmIe0H_c

And this one shows no grant has create in my profile

https://youtu.be/qFVdd4Ksbvw

Same thing is happening in localhost

[2020-07-02 15:57] mul1sh commented on #7043
@owocki and this video shows what I explained in the above desc

https://youtu.be/Gyd4uamDCgM

Please let me know if I can assist further. Thanks.

[2020-07-02 16:23] developerfred commented on #7043
@mul1sh, @owocki and @octavioamu
possible solution https://github.com/gitcoinco/web/commit/897e1f6f8e749264b0322b2da93a3eb5ee2156e9

The behavior of metamask is the same as this issue.
https://github.com/gitcoinco/web/issues/6962

[2020-07-02 16:48] mul1sh commented on #7043
@developerfred Yeah so weird, I have tried again with a different account, different wallet address and browser and I still cant create grants in either localhost or gitcoin.co

[2020-07-02 17:56] vs77bb opened #7044 "“Prize explorer” link is broken on all hack pages"
Example: https://gitcoin.co/hackathon/unitize/onboard

![image](https://user-images.githubusercontent.com/23297747/86393987-d0deb400-bc6b-11ea-8f21-c2d5f7db89e6.png)

[2020-07-02 19:17] developerfred commented on #7043
@mul1sh did you try to switch to other networks besides Mainet?

[2020-07-02 20:09] developerfred commented on #7044
I fixed this issue @vs77bb

[2020-07-02 20:16] owocki opened #7046 "As a bounties funder, I'd like to crowdfund bounties again now that stdbounties is gone."
As a bounties funder, I'd like to crowdfund bounties again now that stdbounties is gone.

This means probably adding some flow where anyone can pledge money for a bounty.

[2020-07-02 20:22] developerfred commented on #7046
@owocki Today we have two fronts Github and Gitcoin platform, we can place a command by mentioning the bot as soon as the issue has been completed.

e.g.:
**@gitcoinbot pay me for this.** With this command the owner of the repo will be notified whether to accept sending a tip for the solution or not.

Or direct flow through Gitcoin, the user would copy the url of the issue and post it somewhere on

[2020-07-02 21:28] alfinal commented on #7018
Same: #7034

[2020-07-02 21:49] developerfred commented on #6870
@willsputra  I fixed now

[2020-07-02 22:49] developerfred commented on #6870
@molecula451
<img width="294" alt="Screen Shot 2020-07-02 at 19 47 45" src="https://user-images.githubusercontent.com/57037080/86415307-06e85c00-bc9d-11ea-80c2-718517e06a79.png">

[2020-07-02 22:55] developerfred commented on #7030
@owocki and @willsputra
Done  3995a306d...16b62c8ce
Pul request:  https://github.com/gitcoinco/web/pull/7047

[2020-07-02 23:02] developerfred commented on #7014
I have some doubts about where to get this data.

Endpoint status:
- [ ] module Upcoming
        - Workshop endpoint (Google calendar ?)
        - Next Round (calendar endpoint)
- [x] module Latest Bounties [ endpoint ok]

[2020-07-02 23:36] yacare555 opened #7048 "Dropped & Replaced TX Stuck (Bounty Submission)"
Hi, while submitting work for https://gitcoin.co/issue/blocklytics/spells-fyi/16/4464, the initial transaction was taking too long (>2h), so I dropped & replaced it with a new transaction but my work has not been submitted.

Transaction Hash:
0xd06a3823a4f99940a4aa670957d23c32af45f754f4546ad41fe7b13ab854ff6c

Status:
Dropped & Replaced

Replaced by Txn Hash:
0x29fa7b65d49a0522b514db73d133a2d2c94ac

[2020-07-03 00:05] yacare555 commented on #7048
Solved, thanks!

[2020-07-03 00:05] #7048 closed

[2020-07-03 01:09] mul1sh commented on #7043
@developerfred yes I did, I tried all of them, but still no luck

[2020-07-03 05:10] CrystalPony opened #7050 "I've redeemed a tip and the transaction was sent to me with 12.4 Gwei"
Hi, I've redeemed a tip and the transaction got sent to me with 12.4 Gwei gas price. The current standard fee is 40 Gwei, and safe fee is 30 Gwei according to https://ethgasstation.info/

https://etherscan.io/tx/0xc1043bc19e32aad9ea66f97125297d94739b7732e0ef70aa0200e2c70008e811

[2020-07-03 05:44] nanaluz commented on #6574
@

[2020-07-03 06:51] frankchen07 opened #7051 "Participants tab isn't showing the correct numbers."
**Describe the bug**

The participants tab on a hackathon's page is not displaying the correct number of participants

**To Reproduce**

1. go to any hackathon prize explorer view and look at the participants tab with the number after it

<img width="1267" alt="Screen Shot 2020-07-01 at 11 31 59" src="https://user-images.githubusercontent.com/7516920/86279524-006bbe80-bb8f-11ea-87ec-fb442a3719b8.p

[2020-07-03 08:09] mul1sh commented on #7043
I have [synced the initial test data](https://docs.gitcoin.co/mk_setup/#initial-test-data) from rinkeby and i'm able to create grants in localhost without an issue 😃

[2020-07-03 08:16] frankchen07 opened #7052 "test issue"
test issue

[2020-07-03 09:52] matimaone1 commented on #7034
Hey @owocki,
Did you find any solution to this issue?
Thanks

On Thu, Jul 2, 2020, 00:40 svenrenhoek <notifications@github.com> wrote:

[2020-07-03 11:25] mul1sh commented on #7043
Seems main site is working too, without any changes on my end. Not sure what was happening yesterday but this issue has disappeared and im closing it 🙂

[2020-07-03 11:25] #7043 closed

[2020-07-03 12:14] vs77bb opened #7053 "Bulk Create (Hackathon) Bounties"
### Who

As a hackathon funder with multiple bounties to post, I'd like the ability / experience to fund 2-10 bounties in one go.

Now, with no standard bounties, we'll be able to do so without any on chain tx's.

### What
Bulk Create bounty experience - Maybe test with Hackathon customers first.

### Why
Less time consuming for power users.

@willsputra @PixelantDesign curious your thoughts here

[2020-07-03 12:18] vs77bb opened #7054 "New Funders Stake $500 To Post Multiple Bounties Simultaneously"
### Who

As Gitcoin the platform, I want funders to stake $500 in order to post more than 2 bounties on the main explorer.

### What

Stake $500 if you want to post more than 2 bounties. This opens your account to many power tools and allows us to ensure you are a good actor in the system.

### Why
No more escrowing funds for every bounty. That's good but we need some recourse for folks who don't

[2020-07-03 13:03] owocki commented on #7034
no, i still need reproduction steps.

we can ingest those grant trasnactions before we calculate the final match amounts. but i need to pin down the repro steps to solve the root issue.

[2020-07-03 13:47] owocki opened #7055 "sybilscore suggestions from a user"
just come in my mind a strategy to figure out how to solve. and its like this
*if the contributor from japan (must know everyone IP) and he verify number using USA number. so that user is using vpn and he is not from japan or even USA.
*new github and no number verification should discount the user contribute to 25% or even less.
*new github and number verification with different IP of country ==>

[2020-07-03 14:21] chloethedev commented on #6860
This is my first time taking part in a Gitcoin Grant round, and I want to start off by saying that I appreciate all of the work done by the Gitcoin team. I have enjoyed the platform for quite a while, but mostly lurked around testing out new features as they came online (really love the Gitcoin Quests BTW).

As for my experience with Gitcoin Grants specifically, it has been wonderful. The communit

[2020-07-03 14:46] PixelantDesign commented on #5669
https://github.com/gitcoinco/web/issues/6829

[2020-07-03 16:15] owocki commented on #6860
filters:
- trending grants
- only new grants

[2020-07-03 16:32] MadeofTin opened #7056 "Gitcoin Grant Donation from cart didn't go through."
**Describe the bug**
The transaction isn't going through for Github grants. It is failed twice, but it shows it goes through in the UI.

**To Reproduce**
Authorization: 0x7f1b160f961a1ae1c0dfe288cdb98100c145df853770f6b15334bdb260d4a54a
TX ID for cart: 0x38c8042ad383c0a9151c4612ffc0d469c584eeee34344b167acb93538c61ace4

**Expected behavior**
For it to go through

**Screenshots**

**Desktop (please c

[2020-07-03 16:34] MadeofTin commented on #7056
The first attempt: 0xb1ade06488423776166612ba22c32d38d395ba4e8973ca13e637ed2cdeb6e7df

[2020-07-03 16:35] MadeofTin commented on #7056
Share Link for the cart. https://gitcoin.co/grants/cart/bulk-add/821;50;262,444;29;262,500;50;262,490;20;262,223;20;262,184;20;262,567;20;262,149;20;262,782;20;262,215;22;262,556;10;262,565;100;262,366;69;262,620;20;262,524;20;262,138;20;262,204;20;262,86;20;262,:madeoftin

[2020-07-03 16:38] MadeofTin commented on #7056
I used metamask, and selected the fast option for Gas.

[2020-07-03 16:39] owocki commented on #6860
we def need some sort of verified sticker for the grants, like the twitter verification checkmark

[2020-07-03 16:41] owocki commented on #6860
Vitalik Random advice: remove the "lowest first" from the sorting; I just don't see the usefulness of that option and it clutters and makes harder to find the more useful options

[2020-07-03 16:57] owocki commented on #6860
we need external validations of identity. we should DEF add twitter verifications next round

[2020-07-03 16:59] owocki commented on #7056
no worries, ill get it ingested to the system soon.

On Fri, Jul 3, 2020 at 10:38 AM James Hancock <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-03 19:02] owocki commented on #6860
niran: deputize grants identity
show saturation percentage to grant owners

[2020-07-03 19:16] niran commented on #6860
Since the matching estimates are currently very optimistic early in the round, one easy way to make them more accurate is to always calculate the matching estimate assuming the maximum capital constraint is equal to the donations raised so far. That is, for this round, the calculations always assumed there was $175,000 (or whatever was assigned to the category) available for matching. Instead, use

[2020-07-04 14:32] AbouSpeedAlCuber opened #7058 "Grants CLR Round 6 False accusations."
The 6th round of Gitcoin Grants ended on the 3rd July 2020, a few hours after that our grant [Arabic Web 3.0](https://gitcoin.co/grants/827/web-30-arabic) gets flagged:

![image](https://user-images.githubusercontent.com/66566169/86513639-25b93080-be0c-11ea-977f-7748190d575a.png)

We get an answer after that, a link to a screenshot of a Tweet that is not ours, made by some twitter account with a *

[2020-07-04 17:26] fly9886 opened #7059 "checking"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-05 03:32] thelostone-mc commented on #7044
This has already been fixed in live !
https://gitcoin.co/hackathon/unitize/onboard

[2020-07-05 03:32] #7044 closed

[2020-07-05 03:35] #5059 closed

[2020-07-05 03:35] #5338 closed

[2020-07-05 03:35] #5470 closed

[2020-07-05 03:35] #6053 closed

[2020-07-05 03:35] #6474 closed

[2020-07-05 03:35] #6850 closed

[2020-07-05 06:43] Florida407 opened #7061 "k"
i
j
k

[2020-07-05 08:22] fly9886 opened #7063 "thank you"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-07-06 12:42] #6968 closed

[2020-07-06 12:45] #7063 closed

[2020-07-06 12:45] #7061 closed

[2020-07-06 12:46] #7059 closed

[2020-07-06 14:16] walidmujahid commented on #7058
This does seem concerning, though, perhaps you should email support directly?

However, I am curious. Is this a case of the wrong grant being flagged @owocki?

[2020-07-06 14:58] owocki commented on #6676
things that i think we need to fully action this:
1. how does the UI organize multiple rounds?  how do we discover grants that are both matching and not matching? (for ex we hid the health grants during last round)
2. how does the backend know which grant is in which round?
3. for now i recomend a grant not being able to be in multiple match rounds at once.

@vs77bb @PixelantDesign

[2020-07-06 15:31] kvndlgs commented on #6805
@owocki hello guys, i've seen the work is marked as paid, did i missed something?

[2020-07-06 15:52] walidmujahid commented on #7051
Where is the metabase number coming from? Or perhaps: what do mean by 'metabase'?

Currently, the `hacker_count` for the page is the counting all `HackathonRegistration` instances. After tests in my local docker build, I believe I have identified a design oversight in the `hackathon_registration` endpoint connected to the onboarding page. When "Join Now" is pressed on the onboarding, a user can co

[2020-07-06 16:26] owocki commented on #6805
@kvndlgs hiya, i dont understand the question.    if you are asking where your payment is, did you submit the gitcoin.co/requestmoney form?

[2020-07-06 16:35] owocki commented on #7058
thanks for the detailed write up @AbouSpeedAlCuber .

excuse me, but this all happened late on a friday, and i feel that it is an unreasonable expectation that you would imply that our team is going to dig into this on the weekend.

given how many of the accounts that contributed to this grant were very high sybil risk, i dont think its a case of the wrong grant being flagged.   this is the highes

[2020-07-06 17:17] owocki commented on #7034
Just ingested those txns.  Stilll looking for a root cause, on the issue.. but we've rewritten the txn ingester for round 7 so im hopeful that it wont be an issue in the future.

[2020-07-06 17:21] owocki commented on #7056
hey @mds1  any idea why these two txids failed?   is this related to our gas price PR maybe?

@MadeofTin can you recontribute to these grants today? set the gas price to be higher pls so that ill go through; i will backdate the contributions so they are during the grants round.

[2020-07-06 18:17] kvndlgs commented on #6805
@owocki yes, i did about 2 weeks ago

[2020-07-06 18:40] owocki commented on #6805
@kvndlgs you sent it to 'owoki' . can you pls re-issue to 'owocki'? thanks

On Mon, Jul 6, 2020 at 12:17 PM kvndlgs <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-06 19:13] kvndlgs commented on #6805
@owocki oh ok, my bad, re-issuing now. thks.

[2020-07-06 19:40] mds1 commented on #7056
Hey @MadeofTin, did you manually adjust the gas limit in MetaMask at all? Based on the (1) number of contributions, and (2) that all donations are USDC, I'd expect it to populate with a gas limit of ~1.9M.

It seems both transactions only had a gas limit of about 600k, so they both ran out of gas

[2020-07-06 19:46] MadeofTin commented on #7056
I set the gas price to High, but I didn't adjust the limit.

[2020-07-06 19:56] mds1 commented on #7056
Ah you're right, I was able to reproduce it on my end with your cart link.

As for why this happening, I'll need to look into this a bit further. The gas limit of 600k matches up exactly with what should be used if your cart were all DAI, but it's only USDC so it should have used a more conservative limit of 1.9M.

When resubmitting, just set the gas limit to ~2M. That should give you plenty of ma

[2020-07-06 19:58] MadeofTin commented on #7056
I did it again (without changing) and got the same result. 0x080dfce16ee3e2f22c4d3d1401d50f9d4aedca011f963f4bc772f418717e25df

With 20 million Gas. It went through.

0x21ef3443f27aa618c05a74b86343771238ae99d39ad210e5bdb2ded9503e86de

[2020-07-06 20:01] mds1 commented on #7056
Thanks, glad you got it working!

@owocki Your suspicion that it's related to https://github.com/gitcoinco/web/pull/6961 seems correct, since the default gas limit was exactly what we'd expect if this cart were all DAI. I haven't yet looked into this to see why this is happening, but I can look into it tomorrow and submit a PR

[2020-07-06 20:23] ceresstation opened #7068 "Tribes Feature: Contest + Cooperative Bounties"
### User Story

As a Tribe maintainer, I want there to be no limits on how I interact with hackers that are part of my tribe.

### Why Is this Needed

Given that we are deprecating contest and cooperative bounties, we need a way to ensure that Tribes customers can still access these features in full.

### Description

@octavioamu has created a new bounty form, which is where sponsors/tribes paying

[2020-07-06 20:28] PixelantDesign commented on #7053
agree with this! I was just mentioning this to @octavioamu and @willsputra on Friday.

[2020-07-06 20:29] PixelantDesign commented on #7052
works!

[2020-07-07 00:24] frankchen07 commented on #7051
the metabase number is just counting distinct profile_ids that have completed the registration.

It could be that the participants number is just creating duplicate hackathon_registration instances, and that is being counted more than once. It seems to make sense because the participants number is higher than the metabase number.

in our case metabase = psql database that I'm working off of.

[2020-07-07 02:37] thelostone-mc commented on #7053
- Would it be applicable for just hackathon bounties
- Would it be wise to take this decision after letting hackathon sponsors use the new hackathon form as it's been rolled out
  AKA let them use the new flow and get comfortable with it before asking them these questions.

[2020-07-07 05:23] walidmujahid commented on #7058
All the best then @owocki. I know you have been working hard on the sybil problem and I did not intend to offend with my question. I look forward to seeing how things turn out.

[2020-07-07 07:44] walidmujahid opened #7070 "^register_hackathon/ endpoint should validate whether a user has already registered for a event"
**Describe the bug**

Duplicate `HackathonRegistration`  instances created when multiple requests are sent to the ^register_hackathon/ endpoint.

**To Reproduce**

In my local docker build, I create a hackathon event, then I go to the onboarding page and click "Join Now". I continue to click and each click sends new request.

**Expected behavior**

There should not be duplicate `HackathonRegistrat

[2020-07-07 07:50] walidmujahid commented on #7051
Okay. I believe then counting distinct registrants should solve this problem. PR opened: https://github.com/gitcoinco/web/pull/7071

I opened another issue for the duplicate `HackathonRegisteration` instances: https://github.com/gitcoinco/web/issues/7070

[2020-07-07 14:01] octavioamu commented on #7053
I believe even without std bounties limitations the process of creating a bounty involve a lot of data and attention form the sponsor side to understand, really I don't see a bulk create helping sponsors and actually complicating a lot the UI and validations needed on that page. IMO that will actually make the experience of creating a bounty hard again and not sure how much people need to create m

[2020-07-07 14:10] octavioamu opened #7076 "Orgs on profiles are being added 2 times because camelcase on names"
**Describe the bug**

Users orgs are being added 2 times if the org name is with camelcase
![image](https://user-images.githubusercontent.com/1358093/86793942-5a163200-c042-11ea-81e9-e646a7db516d.png)

![image](https://user-images.githubusercontent.com/1358093/86793819-3a7f0980-c042-11ea-8941-a74340475748.png)

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete th

[2020-07-07 14:21] owocki commented on #7058
no offense taken.  just setting expectations :)

im in meetings all day. will try to revert on this by today, if not, by tomorrow

[2020-07-07 17:26] frankchen07 commented on #6621
hey @hydr063n - first off, thank you for the comprehensive write up. Just wanted to let you know I'm sorting through it, and will respond in a bit after I confer with engineers. We're juggling alot, but want to make sure you're not ignored!

[2020-07-07 17:33] hydr063n commented on #6621
@frankchen07 thanks it's no worries. Plz excuse the length, I wanted to make sure my point was understood 😅

[2020-07-07 19:55] owocki commented on #7058
as no conclusive evidence of foul play on behalf of the grant owner was found, i am now marking this grant as eligible for CLR again.  it will have a match estimate again soon.

[2020-07-08 01:31] PixelantDesign commented on #7070
Thanks @walidmujahid! Are you interested in helping us with this one?

[2020-07-08 01:40] PixelantDesign commented on #7053
We do know that sponsors generally fund multiple bounties. It'd be nice to be able to fund it one time. Would require a very elegant ux given what @octavioamu mentioned above.

Agree with @thelostone-mc on lettiing the new hack form run for a bit.

[2020-07-08 02:45] strahd1982 opened #7078 "Thanks this project is fun but i cant receive any of my kudos"
I even attached my trust wallet but im poor as all heck ..... I cant afford the ether to change crypto from one to another let alone pay for the kudos to be shipped after winning them but thanks the project is fun...

[2020-07-08 09:04] #7051 closed

[2020-07-08 09:10] sebastiantf commented on #7027
Closing this as its already taken care of: #7023

[2020-07-08 09:10] #7027 closed

[2020-07-08 09:11] #7002 closed

[2020-07-08 09:19] sebastiantf commented on #6977
@octavioamu Did you have a look at the video?

https://www.loom.com/share/fcaf0296c43c43478bc74d7ac6591503

@owocki Would you please share your thoughts?

[2020-07-08 09:48] #4354 closed

[2020-07-08 09:48] #4369 closed

[2020-07-08 09:48] #4509 closed

[2020-07-08 09:48] #4536 closed

[2020-07-08 09:48] #4542 closed

[2020-07-08 09:48] #4545 closed

[2020-07-08 09:48] #4546 closed

[2020-07-08 09:48] #4561 closed

[2020-07-08 09:48] #4566 closed

[2020-07-08 09:48] #4567 closed

[2020-07-08 09:48] #4568 closed

[2020-07-08 09:48] #4572 closed

[2020-07-08 09:49] #5455 closed

[2020-07-08 09:49] #5471 closed

[2020-07-08 09:49] #5472 closed

[2020-07-08 09:49] #5529 closed

[2020-07-08 09:49] #5530 closed

[2020-07-08 09:49] #5843 closed

[2020-07-08 09:49] #5844 closed

[2020-07-08 09:49] #5894 closed

[2020-07-08 09:49] #6017 closed

[2020-07-08 09:50] #6595 closed

[2020-07-08 09:50] #6597 closed

[2020-07-08 09:50] #6612 closed

[2020-07-08 09:50] #6739 closed

[2020-07-08 09:51] #3231 closed

[2020-07-08 09:51] #4576 closed

[2020-07-08 09:51] #5217 closed

[2020-07-08 09:51] #5218 closed

[2020-07-08 09:51] #6009 closed

[2020-07-08 09:51] #6223 closed

[2020-07-08 09:51] #6354 closed

[2020-07-08 09:51] #6432 closed

[2020-07-08 09:53] #4306 closed

[2020-07-08 09:53] #4394 closed

[2020-07-08 09:53] #4593 closed

[2020-07-08 09:53] #4614 closed

[2020-07-08 09:53] #4641 closed

[2020-07-08 09:53] #4652 closed

[2020-07-08 09:54] #4823 closed

[2020-07-08 09:54] #4843 closed

[2020-07-08 09:54] #4883 closed

[2020-07-08 09:54] #4886 closed

[2020-07-08 09:54] #4887 closed

[2020-07-08 09:54] #4952 closed

[2020-07-08 09:54] #4954 closed

[2020-07-08 09:54] #4955 closed

[2020-07-08 09:54] #4956 closed

[2020-07-08 09:54] #4957 closed

[2020-07-08 09:54] #4958 closed

[2020-07-08 09:54] #4959 closed

[2020-07-08 09:54] #4961 closed

[2020-07-08 09:55] #5733 closed

[2020-07-08 09:55] #5734 closed

[2020-07-08 09:55] #5735 closed

[2020-07-08 09:55] #5736 closed

[2020-07-08 09:55] #5737 closed

[2020-07-08 09:55] #5738 closed

[2020-07-08 09:55] #6149 closed

[2020-07-08 09:55] #6211 closed

[2020-07-08 09:55] #6237 closed

[2020-07-08 09:56] #6445 closed

[2020-07-08 09:56] #6478 closed

[2020-07-08 09:56] #6479 closed

[2020-07-08 09:56] #6480 closed

[2020-07-08 09:56] #6481 closed

[2020-07-08 09:56] #6482 closed

[2020-07-08 09:57] #5668 closed

[2020-07-08 09:57] #6528 closed

[2020-07-08 09:57] #6374 closed

[2020-07-08 09:57] #6361 closed

[2020-07-08 09:57] #6365 closed

[2020-07-08 09:57] #6363 closed

[2020-07-08 09:57] #6373 closed

[2020-07-08 09:57] #6360 closed

[2020-07-08 09:59] #4910 closed

[2020-07-08 10:01] #7037 closed

[2020-07-08 10:01] #5473 closed

[2020-07-08 10:01] #5934 closed

[2020-07-08 10:01] #6072 closed

[2020-07-08 10:02] #7052 closed

[2020-07-08 10:03] #4275 closed

[2020-07-08 10:03] #4505 closed

[2020-07-08 10:04] #4714 closed

[2020-07-08 10:04] #4731 closed

[2020-07-08 10:04] #4748 closed

[2020-07-08 10:04] #4757 closed

[2020-07-08 10:04] #4776 closed

[2020-07-08 10:04] #4786 closed

[2020-07-08 10:04] #4797 closed

[2020-07-08 10:04] #4801 closed

[2020-07-08 10:04] #4814 closed

[2020-07-08 10:04] #4821 closed

[2020-07-08 10:04] #4829 closed

[2020-07-08 10:04] #4849 closed

[2020-07-08 10:04] #4851 closed

[2020-07-08 13:09] walidmujahid commented on #6211
This should not be closed @thelostone-mc

[2020-07-08 13:11] walidmujahid commented on #6009
This should not be closed @thelostone-mc. Work is still being done on the PR.

[2020-07-08 13:13] walidmujahid commented on #7070
Yes. I will be working on this unless someone had grabbed it. I should have posted yesterday my intention.

[2020-07-08 13:16] owocki commented on #7078
the system will issue the kudos on chain if/when the gas prices go down

[2020-07-08 13:18] owocki commented on #6977
video looks good to me; id like if it auto clicked the 'show more' button
as the user scrolled down the page pls

On Wed, Jul 8, 2020 at 3:19 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-08 14:25] sebastiantf commented on #6977
@owocki What do u think about this?

[2020-07-08 14:56] owocki commented on #6977
im not sure i understand the question. is it "should we just re-use the
infinite scroll that already exists?"

On Wed, Jul 8, 2020 at 8:25 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-08 15:56] owocki commented on #7058
ok the match estimate is updated

[2020-07-08 16:02] sebastiantf commented on #6977
@octavioamu Would you mind clearing this up a bit?

[2020-07-08 17:23] owocki commented on #6860
estimate_clr for the tech round takes 30 minutes to run now. can we make it faster ? 🤔

[2020-07-08 20:11] octavioamu commented on #6977
Yes, so what the point of putting a button that will work the same as infinite scroll?
Today is already using native image lazyload so I don't think there is anything more performatic than that.
If you guys open the network tab and scroll down in the marketplace you will notice the images are already loading on scroll, since the native way is pretty cool the user even notice there is a lazy, loadi

[2020-07-08 20:19] octavioamu commented on #6977
for other side what is getting the marketplace slow are the users profile and some kudos size with more than 2mb
like those one made with svg but each px is a block of code https://gitcoin-storage-fz4cb2.s3-us-west-2.amazonaws.com/media/uploads/d08f8ff3-3cf9-4e73-a683-1e206b0733ca_Iron%20Giant.svg
https://gitcoin-storage-fz4cb2.s3-us-west-2.amazonaws.com/media/uploads/bf87e282-b202-43ca-b557-18e1d

[2020-07-08 21:11] owocki commented on #6977
id be interested in a memory profile of the page with + without the changes. maybe images are only part of the equation?  all i know is right now people arecomplaining about the page slowing down their browser.  so maybe we just need work backwards from that.

perhaps pagination, where we only show one page of kudos at a time would help.  (ie you dont see page 0 of kudos when looking at page 9). i

[2020-07-09 02:50] sebastiantf commented on #6977
I think it's because all the 800+ Kudos images and Profile images are being loaded at the same time that's causing the lag right now.

Infinite scroll only after user scroll reaches the bottom, or maybe turning off the infinite scroll and only showing the button would cause only 12 images to load at once and may not cause much lag.

The lag may not get compounded getting to the bottom since all th

[2020-07-09 02:52] sebastiantf commented on #6977
@owocki @octavioamu why not pull the PR and test it with prod data?

[2020-07-09 05:23] #7056 closed

[2020-07-09 12:08] nightwolf3 commented on #6876
hey, the popup is gone but why are there two instances of the same address showing up any clue?
thank you

[2020-07-09 13:54] owocki commented on #6974
note that my PR ( https://github.com/gitcoinco/web/pull/7080/files ) makes this into a DB field. so u can check it off!

[2020-07-09 13:54] octavioamu commented on #6977
@sebastiantf check your network tab , images are lazy load not loaded at the same time

[2020-07-09 13:56] sebastiantf commented on #6977
Yes the images are loaded lazily using the native lazy loading functionality. But for the end user, the page do lag a bit.

[2020-07-09 13:57] octavioamu commented on #6977
https://share.vidyard.com/watch/wuaQKdhVoUD7axxQXTo1NE?
yes the problem is there are really big images there.

[2020-07-09 14:01] octavioamu commented on #6977
the problem is trying to render a 2mb +  svg is a lot of math and there are many like that  https://gitcoin-storage-fz4cb2.s3-us-west-2.amazonaws.com/media/uploads/d08f8ff3-3cf9-4e73-a683-1e206b0733ca_Iron%20Giant.svg

[2020-07-09 14:05] sebastiantf commented on #6977
So how do you think we should solve the issue? Would pagination be useful?

[2020-07-09 14:38] owocki commented on #6977
the problem with the lazy load is once you are down at page 8 you have 8 *
20 images (some of them might be 2mb+) on your screen.

i think pagination is the way to go here probably. unless we can find a way
to consistently get the images below 50kb each.

On Thu, Jul 9, 2020 at 8:07 AM Octavio Amuchástegui <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

___________

[2020-07-09 15:52] yangwao opened #7081 "Avatar is not updating after I've changed avatar at Github"
**Describe the bug**
Avatar is not updating after I've changed avatar at Github. I've updated avatar a while ago on Github and I can't see there latest one, i.e.

User profile
https://gitcoin.co/yangwao <-> https://github.com/yangwao

Project
https://gitcoin.co/issue/vue-polkadot/apps/82/4509 <-> https://github.com/vue-polkadot/

**To Reproduce**
Change Github avatar, wait a while, change your ava

[2020-07-09 17:19] L-KH commented on #6982
I get dizzy after watching this video: https://www.youtube.com/watch?v=_GAnWXegT_s
but I think it's a good way to brainstorm some illustrations for Kudos.
this one is a good one too: https://www.youtube.com/watch?v=kEB11PQ9Eo8

[2020-07-09 20:18] octavioamu opened #7082 "Bounties with job post are not showing that information in any place"
**Describe the bug**

Not mention about the job post url present on the API data.
https://gitcoin.co/explorer?network=mainnet&idx_status=open&misc=hiring&applicants=ALL&order_by=-web3_created
**To Reproduce**

**Expected behavior**

Post job link inside the description and on the explorer
**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

[2020-07-10 14:52] PixelantDesign commented on #6812
Closing  since Kevin put this in...
- Enables ANY profile to be a tribe
- makes tribes pages load in 0.3s instead of 2s
https://github.com/gitcoinco/web/pull/7080

[2020-07-10 14:53] #6769 closed

[2020-07-10 17:09] owocki commented on #6860
an option to donate money back to the matching round in checkout

[2020-07-10 17:29] PixelantDesign opened #7083 "Showcase fixes"
**Please fix now**
- [ ] Add ability to turn on showcase tab in admin.
- [ ] Don't populate old showcase for previous hackathons.

**Nice to have**
- [ ] If showcase is toggled on in admin, hide all tabs except Projects and  Showcase.
- [ ] Editor should be able to remove a spotlight (add a link  to remove)
<img width="1040" alt="Screen Shot 2020-07-10 at 1 47 00 PM" src="https://user-images.githu

[2020-07-10 18:01] PixelantDesign opened #7084 "Participants Experiment fixes"
- [ ] Put in a default message in the input field for users that don't enter a message during registration.
"I'm a new hacker! Great meet you all!"
- [ ] Remove #intro  button from prizes view
- [ ] Remove background image on the participant card - makes it difficult to read. Leave top bar design.
- [ ] Profile picture should be centered in the circle
<img width="1109" alt="Screen Shot 2020-07-10

[2020-07-10 18:02] PixelantDesign commented on #7084
@developerfred @sebastiantf ^ ?

[2020-07-10 18:04] sebastiantf commented on #7084
I can look into this @PixelantDesign 👍🏻

[2020-07-10 18:13] #6443 closed

[2020-07-10 18:15] PixelantDesign commented on #6870
looking good! who's working  on this one  @molecula451 or @developerfred ?

[2020-07-10 18:17] #6818 closed

[2020-07-10 18:18] #6559 closed

[2020-07-10 18:22] frankchen07 opened #7085 "As a hackathons operator, I want an application process that filters for the highest quality applicants weeks before an event starts because quality precedes quantity, and this increases the probability of meaningful engagement during the hackathon."
### User Story

As a hackathons operator, I want an application process that filters for the highest quality applicants weeks before an event starts because quality precedes quantity, and this increases the probability of meaningful engagement during the hackathon.

### Why Is this Needed

Taking after the way Kernel's hackers were found, creating a minimum standard for hacker quality (granting pr

[2020-07-10 18:27] PixelantDesign commented on #6622
@developerfred are you still working on this one?

[2020-07-10 20:30] developerfred commented on #7084
@PixelantDesign my WIP in https://github.com/gitcoinco/web/pull/7088

[2020-07-10 21:12] frankchen07 opened #7090 "As a Gitcoin hackathon operator, I want to consolidate comms and data collection so it's not a crazy scramble at the beginning of every hack."
### User Story

As a Gitcoin hackathon operator, I want to consolidate comms and data collection so it's not a crazy scramble at the beginning of every hack.

### Why Is this Needed

Let's reduce operations overhead.

### Description

1. hackathon order form
    - sign order form
2. data collection
    - fund & post prizes
    - add token & conversion rates if not present
    - promotional typefor

[2020-07-10 21:29] developerfred commented on #7082
I will work on this issue.

[2020-07-10 21:38] vporton opened #7091 "Wrong link in email footer"
**Describe the bug**
In the footer of the Weekly email, "New Wallet? Click here to update Payout Address." links to http://link.codefund.io/ls/click?... instead of https://gitcoin.co/settings/account

[2020-07-10 21:55] developerfred commented on #7082
<img width="1139" alt="Screen Shot 2020-07-10 at 18 52 46" src="https://user-images.githubusercontent.com/57037080/87205842-bac19b00-c2de-11ea-82ef-f210b2bc8bdc.png">
@PixelantDesign and @octavioamu

@willsputra Can you work on a cool visualization for this tag?

[2020-07-11 00:40] PixelantDesign commented on #7084
@developerfred thanks! I removed the second bullet from the ticket. No need to worry about that. Will you please share a video of all of the changes?

[2020-07-11 01:15] PixelantDesign commented on #7082
@developerfred lets use the briefcase icon and move it up in the header as attached.

- [ ] add a briefcase icon  from font awesome (we  have a pro account) https://fontawesome.com/icons/briefcase?style=light
- [ ] add a light gray pipe in front of the briefcase icon
- [ ] please use same amount of space as seen in mockup
- [ ] please update the radius of the front end tag to match radius of prici

[2020-07-11 01:27] PixelantDesign commented on #6974
nice!

[2020-07-11 01:27] #6974 closed

[2020-07-11 01:36] PixelantDesign commented on #6812
reopen because hackathon customers need to be able to see their kudos

[2020-07-11 01:39] PixelantDesign opened #7092 "Add Kudos Tab to Tribes Light"
### As a Hackathon Sponsor I'd like to see my kudos on tribes light since it was available in the old orgs page.

### What
- [ ] Port over Kudos tab from old org to tribes light
- [ ] Must be responsive

### Why
Our customers will not be able to see their Kudos

[2020-07-11 03:20] PixelantDesign opened #7093 "Refactor Integrated Hackathon Sidebars"
### User Story

As a hacker I'd like to see information on the side bar that is only relevant to the rest of the page.

### Refactor Integrated Hackathon Sidebars

### Why
Sidebar repeats and can't be turned off and on based on the page user is on.

[2020-07-11 03:23] PixelantDesign opened #7094 "Projects Tab Loads Slow on Tribes View"
### As a hackathon sponsor, I'd like the projects to load quickly so that builders can get to the information that they are looking for.

### Why
Loads slow

### Definition of Done
Make it load fast

[2020-07-11 03:34] PixelantDesign opened #7095 "Refactor Tribes Sidebars"
### User Story

As a hacker participating or potential hacker, when I browse a sponsors tribe page I want relevant information on the side bar in context of the page.

### Why Is this Needed
Same info on all tabs currently.
Refactor sidebars so that they can be dynamic and hold appropriate content depending on the tab user is on.

[2020-07-11 09:49] simeon4real commented on #7091
There are other links there that redirects to ethicalAds

[2020-07-11 15:13] developerfred commented on #7084
@PixelantDesign Sure!

[2020-07-11 17:31] developerfred commented on #7082
@PixelantDesign  I just need to add a task with an open work position to make the video.
<img width="599" alt="Screen Shot 2020-07-11 at 14 25 54" src="https://user-images.githubusercontent.com/57037080/87230014-2f4e1580-c383-11ea-8b3f-24dd4b367de9.png">

[2020-07-12 06:20] PixelantDesign commented on #7084
@developerfred adding one more thing to the list

some participants cards show which hackathon the person is participating in, and some cards don't. Could we fix so that all cards show which hackathon the registrants is part of?

<img width="821" alt="Screen Shot 2020-07-12 at 1 58 08 AM" src="https://user-images.githubusercontent.com/238235/87240280-378b6c80-c3e6-11ea-8e28-2d26f126d3f5.png">

[2020-07-13 03:52] developerfred commented on #7084
@PixelantDesign  yes! I'll investigate why is this happening?

[2020-07-13 16:15] owocki commented on #7092
is it easy to just port over all existing tabs? 🤔

[2020-07-13 16:16] owocki commented on #7091
this was something that got messed up when @coderberry shut down codefund on friday.  we have since fixed the issue in our sendgrid settings.. and should not be an issue go forward

[2020-07-14 00:37] PixelantDesign opened #7096 "Hackathon List Page Update"
### User Story

As a builder in a hackathon, I want an explanation of what Gitcoin hackathon is all about and info on why I should join.

As a hackathon sponsor, when I look at the hackathons landing page, I want to know how I can participate as a sponsor.

### Why Is this Needed

Hackathon List Page

https://gitcoin.co/hackathon-list/

- Add a few lines describing Gitcoin Hackathon’s (top)
- Add

[2020-07-14 06:29] PixelantDesign opened #7097 "Hackathon Sponsor Registration Flow"
### User Story

As a hackathon sponsor, I want an easy onboarding process that guides and tells me what I need to do next in order to have a successful hackathon.

### Why Is this Needed

If we do these things, then the sponsors experience will be better.

- Create seamless registration experience for sponsors
- Get sponsors using the app/doing things themselves.
- Reduce operations overhead.

###

[2020-07-14 07:01] PixelantDesign opened #7098 "Tribes V2 - Next Iteration 09/11"
### As a hackathon sponsor, I'd like additional features so that I can grow my tribe and show meaningful things happening with my org.

### Why

**For sponsors**, Tribes is a one stop shop where sponsors can manage their open source brand, stay connected with hackers, see all of the great hackathon projects that developers have created, understand the open grants associated with their company and

[2020-07-14 07:20] PixelantDesign opened #7099 "Hacker Profile Update - DRAFT"
### User Story

As a sponsor I'd like a simpler, more organized view of a hacker profile.

### Why Is this Needed

There is a lot of information on the profile currently that can be organized to focus on answering the core questions of a hackathon sponsor.

### Description

Enhancement

### Current Behavior
Old Orgs page

### Expected Behavior
Updated Orgs Page

### Definition of Done

- [ ] Re or

[2020-07-14 10:02] willsputra commented on #7098
Convert to grant flow WIP
![Slice 1](https://user-images.githubusercontent.com/19514207/87412921-2b78f800-c5fc-11ea-9509-91e40793edde.jpg)

[2020-07-14 15:09] owocki commented on #6676
@PixelantDesign @willsputra here is the 'multiple grants round' ticket.  happy to have a call on it this week

[2020-07-14 17:32] developerfred commented on #7099
Like Github Profile Awesome!

[2020-07-14 19:40] developerfred commented on #7084
@PixelantDesign
- [x] show hackathon tags a6b07088e...987a9abb3

[2020-07-15 00:51] developerfred commented on #6870
@PixelantDesign  I will make two pull requests one with the upcoming feature and the other with the latest bounties feature

[2020-07-15 12:33] PixelantDesign opened #7102 "KYC Epic"
### User Story

As a hackathon sponsor/funder on Gitcoin, I'd like to  have all of the necessary information about a developer so that I can feel good  about paying them out.

As a developer on Gitcoin, I'd like for Gitcoin to have all of my info so that there are no friction points to knowing who I am or getting paid  through the platform.

### Why Is this Needed

If we implemented KYC,  then our

[2020-07-15 12:41] willsputra commented on #7096
draft

![hackathon-list](https://user-images.githubusercontent.com/19514207/87546035-774e9e80-c6db-11ea-906d-ed45dbb2e30a.jpg)

[2020-07-15 14:16] PixelantDesign commented on #7096
Looking great! We probably don't need Explore Hackathons - since this is the page to explore! What do you think @connoroday @frankchen07 - changes based on our last discussion

[2020-07-15 14:20] owocki commented on #7096
0_o looks really good

On Wed, Jul 15, 2020 at 8:16 AM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-15 14:26] PixelantDesign commented on #7096
We will need to add a field in admin  to capture the one line description for each hackathon.

[2020-07-15 15:26] willsputra commented on #7096
Happening Now tab:
![happening](https://user-images.githubusercontent.com/19514207/87563960-68271b00-c6f2-11ea-9611-c503307875d7.jpg)

Completed tab:
![completed](https://user-images.githubusercontent.com/19514207/87564058-868d1680-c6f2-11ea-9753-78e934a724fb.jpg)

[2020-07-15 15:42] developerfred commented on #7096
@willsputra how would the mobile on this page look?

[2020-07-15 15:46] willsputra commented on #7096
what do you think of having the cards in one column? if we keep the image and text side by side, on mobile the image is super squished...

![responsive](https://user-images.githubusercontent.com/19514207/87566270-5b57f680-c6f5-11ea-97d6-4485686683a3.jpg)

[2020-07-15 15:58] willsputra commented on #7098
longform post
![longform](https://user-images.githubusercontent.com/19514207/87567607-0c12c580-c6f7-11ea-956d-5acc60959c77.jpg)

[2020-07-15 16:20] PixelantDesign opened #7104 "User Directory Improvements"
### User Story

~~Use Case 1: As a Gitcoin operator, I'd like to be able to send cohorted communications and DMs based on specific user characteristics.~~

Use Case(s) 2: As a hacker, I'd like an easy way to find hackers that have similar or relevant interests to me within a given hackathon. I'd also like sponsors to be able to find me and know what I'm all about.

As a sponsor, I'd like an easy w

[2020-07-15 16:24] owocki commented on #7104
what does @connoroday think of gitcoin.co/users ? 🤔

[2020-07-15 17:29] octavioamu commented on #7104
Why winners are more relevant for the one filtering?
I think need to be based on bounties en general, being that bounties from hackathons or not
Also a good opportunity to onboard contributors who never participated on a hackathon.

Originally also this list of users should show on the first rows the contributors who already worked with me (seems is broken).

[2020-07-15 18:34] vs77bb opened #7106 "Matic Grants Bug Report"
Bug Report for the Matic Grants Creation Page: https://gitcoin.co/grants/matic/new

- No confirmation when adding project logo (I didn't know [it was succcessful ](https://gitcoin.co/grants/994/test-project) until the grant was live.
- Adding team members was greyed out at first. Then, eventually worked once I connected my wallet. Might not want to tie those flows together.
- Listed as Grant Type

[2020-07-15 19:40] owocki commented on #7104
you could generalize this by saying "earners of X"  where X is
- all
- bounties
- hackathon
- grants
- tips
- kudos

easy to do with the dashboard.models.Earnigns model too

[2020-07-15 20:58] NukeManDan opened #7107 "Email already in use?"
I am trying to set a new email and get this:

![image](https://user-images.githubusercontent.com/35669742/87595247-7dc52200-c6ab-11ea-9d6d-17f7aaa00ce1.png)

Note I own and ca prove I am `nukemandan@protonmail.com` - what I want to set this to.
The email in use presently is still valid, but I am not sure who is attached to this email or how?

[2020-07-15 21:38] frankchen07 commented on #7104
ill add that we want the tool to be as useful as https://metabase.gitcoin.co/question/690

as a place where we're compiling all metrics for users

[2020-07-15 21:59] owocki commented on #7104
@frankchen07 how validated is the query results to that metabase?

i've been using complicated JOIN querys for my sybil protection work and  i like it a lot. i could see using a JOIN query as the basis of a future revamp of product oriented gitcoin.co/users ; but only if the juice is worth the squeeze (this is all the info that potential users want)

[2020-07-15 23:20] frankchen07 commented on #7104
I'd say pretty validated, it won't be horrendously wrong (>90%). It's quite a big query with joins because I'm pulling for a ton of tables from prod, and appending information to each user.

If you're going to use it, I think it's worth some QA time on my end to really give you a good answer in confidence.

[2020-07-16 03:06] walidmujahid commented on #7096
I would of course be interested taking this to the finish line. I assume that I just update the currently open PR for this page https://github.com/gitcoinco/web/pull/6297 ? And are the decided upon designs available in Figma?

[2020-07-16 03:59] thelostone-mc commented on #6676
^ Do rope me in on this call cause I'd need the entire picture in my head while planning out the architecture
cc @PixelantDesign / @owocki

[2020-07-16 08:24] ririen commented on #7107
At one time there was a vulnerability that I reported as part of the bug bounty related to the insecurity of the email address form. Namely, there was no good system to confirm that the email belongs to the user. No confirmation email or anything else was sent.

Several months have passed since then. The bug has probably been fixed, however, the database may have been the email addresses of people

[2020-07-16 09:16] Graeme-Code opened #7108 "Created Gitcoin Issue with No Funding"
**Describe the bug**

Hi there, I created Gitcoin issue:

https://gitcoin.co/issue/gnosis/conditional-tokens-docs/17/100023355

This page was generated without the transaction to fund the issue. I have an invoice asking me to pay the funding but I have no idea how as there is no links or instruction on how to do this once the issue has been created.

**To Reproduce**

1. Create an issue
2. I'm gon

[2020-07-16 12:16] willsputra commented on #7096
@walidmujahid thanks for doing this! figma file:
https://www.figma.com/file/5Fx1wNhOYCNUcqRWDyIBar/Gitcoin-Hackathon-List?node-id=0%3A1

[2020-07-16 13:48] octavioamu commented on #7108
@Graeme-Code Actually this is not a bug, we are moving out from standard bounties contract to make the things more flexible and more friendly for funders and contributors.

As a sponsor on a hackathon your bounty (prize)  is not required to be funded on creation anymore.
Once you get people submitting work (they also will not need to pay gas to submit), when you decide the winners then you will ge

[2020-07-16 13:54] Graeme-Code commented on #7108
Oh, its a feature!

Awesome, could do with a bit of info/context regarding new process would help, but sure you guys are on it.

[2020-07-16 13:59] octavioamu commented on #7107
@NukeManDan thanks for the report, first of all don't worry nobody is using your email.
The bug is on email the verification side.

[2020-07-16 14:01] octavioamu commented on #7108
Yes I already informed to the internal team about communicate this to hackathon Sponsors since some of you are already familiar with the old process of funding a bounty.
Thank you!!!

[2020-07-16 14:03] octavioamu commented on #7108
Also please feel free to give any feedback about the new process.
I hope the experience get a lot better from funding to payout.

[2020-07-16 14:24] owocki commented on #7104
i'd need to discuss with @gitcoinco/engineers if thats event the direction they want to go

[2020-07-16 15:18] owocki commented on #6676
FROM @PixelantDesign

[code]

[2020-07-16 15:23] owocki commented on #6676
@thelostone-mc can u bring your architecture doc?

thats up to the product/design team

yes

no white label at this time, although co-branding might be  needed.  @vs77bb can maybe add some context in terms of what happened with the matic deal.

not sure i understand the question, but there will be pools of funding that can be allocated to different categories or subcategories.  and there can be ma

[2020-07-16 16:38] octavioamu commented on #7098
can we show the open story on a modal?
something like that? kind of "zend mode" where you just focus on the story and also can like it everywhere out of gitcoin?
Something like a medium post, but also without taking all the towsquare space.
![image](https://user-images.githubusercontent.com/1358093/87698140-75cbb780-c769-11ea-9bed-4a5fd29891bc.png)

[2020-07-16 18:02] PixelantDesign commented on #7084
awesome!

[2020-07-16 21:50] frankchen07 commented on #7096
Does look real nice. I like it. Agree that "become a sponsor" up top is nice and clean, and it just feels organized, uses existing tab and card structures we already have 👍

[2020-07-16 22:31] NukeManDan commented on #7107
good to know :grin:

I would like to change my email on the platform whenever this is solved to be sure :pray:

[2020-07-17 01:37] PixelantDesign commented on #7096
yes! @walidmujahid let us know if you have any questions! Excited about this one!

[2020-07-17 01:40] PixelantDesign commented on #7092
can't do this just yet since we don't have a concept of shared kudos wallet.

[2020-07-17 03:31] octavioamu commented on #7096
Looking great @willsputra just one addition related to other PR, on the completed cards can we add the "showcase" link?

[2020-07-17 07:29] DreadKnight opened #7109 "DAI grant donation not showing up in wallet"
I've opened up a grant a while ago https://gitcoin.co/grants/916/ancient-beast
I've received a DAI donation (did added the cryptocoin type in my metamask before making the campaign), but never seen it in my wallet, thought I would getting after a while or campaign/round end.
Today I've received another ETH donation and it showed up in my wallet in no time, so what about the DAI?
The contributors n

[2020-07-17 13:40] NutToKul commented on #5334
✍️

[2020-07-17 14:23] PixelantDesign opened #7110 "Build Organization Permission on Gitcoin"
### User Story

As a sponsor of gitcoin hackathons, I'd like an easy way to mange my organization's permissions and people.

### Why Is this Needed

Org permissions is working in a funky way.
In order for the org to show on the profile, the org's people tab, user must be set to public

managing ownership of the people
even though we pull gh api info, we're not getting all of it because people are

[2020-07-17 14:42] PixelantDesign opened #7111 "Pre Hackathon Dev Experience Epic Week 0"
### User Story

As operators of Gitcoin hackathon, we'd like to get hackers excited in  preparation for the hackathon start.

### Why Is this Needed

Engage hackers

### Description

Feaeture

### Current Behavior
Not enough happening

### Expected Behavior
Engage hackers through ops or product

### Definition of Done

- [ ] Explore ideas on how to engage hackers
- [ ] [Idea board (sponsors)](http

[2020-07-17 19:29] PixelantDesign opened #7113 "System Onboarding"
### User Story

As a new developer to Gitcoin, I want to understand what the platform is all about so that I can decide which areas I'm interested and be directed to the right place.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: People are confuse

[2020-07-17 19:38] owocki commented on #7107
Dan can you PMme the to/from email and i will do it on the backend?

On Thu, Jul 16, 2020 at 4:31 PM Dan Shields <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-17 20:50] owocki commented on #7092
neither does the org model.. and that has a kudos tab

[2020-07-17 20:51] owocki commented on #7109
per the transactions tab it looks like the donation failed https://bits.owocki.com/X6uo1pjw

[2020-07-17 21:02] DreadKnight commented on #7109
@owocki I've noticed that. But don't really know what it means, as there's not a reason/error at all...
Hence questions: how does it actually get to fail? anything I did wrong? how can I fix? If the sender needs to do something, it's probably not going to happen, oh well...

[2020-07-17 21:04] owocki commented on #7109
looks like the txn ran out of gas https://etherscan.io/tx/0x0e32d726f32b84dd8e77b2eccbc8a65f9c7f031137372906d392344038b19015

maybe @hexpumptseth3 will recontribute

[2020-07-17 21:22] DreadKnight commented on #7109
Well, I doubt he will, guess I got unlucky. At least it wasn't way more xD
It's a tad strange to need ETH to be able to send DAI around. Would expect just to charge a bit more DAI instead to make sure the whole operation goes smoothly.

[2020-07-18 01:53] NukeManDan commented on #7107
@owocki  yup
PGP:
[code]

[2020-07-19 00:05] developerfred opened #7114 "TownSquare big Fonts on mobile"
**Describe the bug**

is there any way to write a post that leaves the text gigantic fonts

**To Reproduce**

access townsquare via mobile safari

**Expected behavior**

as a user I would like to have adequate visibility in the townsquare feed.

**Screenshots**

![6DF34FE5-58AF-44E8-8991-90C4F0D1F4BB](https://user-images.githubusercontent.com/57037080/87864068-e0335200-c939-11ea-8dc4-904133f9325b.

[2020-07-20 03:30] PixelantDesign opened #7115 "Basic Funder Form with Limited Features"
### User Story

As Gitcoin, we'd like to get the most out of our potential revenue for our hackathon offering.

### Why Is this Needed

There is a question about 10% fee removal given we are removing standard bounties.
We believe that If have a limited feature funder form, then our revenue will not be lost because hackathon customers will pay for these additional tribes features.

### Description

[2020-07-20 04:34] walidmujahid commented on #7096
@PixelantDesign Does this remove the featured hackathon section of https://github.com/gitcoinco/web/issues/6211 ?

[2020-07-20 04:35] walidmujahid commented on #7096
@PixelantDesign Just to confirm, this design replaces everything from https://github.com/gitcoinco/web/issues/6211 including the featured section?

[2020-07-20 04:37] walidmujahid commented on #7096
@PixelantDesign Just to confirm, this design removes onlly the featured section from https://github.com/gitcoinco/web/issues/6211, but keeps the tribes and workshops sections?

[2020-07-20 06:55] gkaissis opened #7117 "Removal of my content from the Gitcoin YouTube channel."
Dear Gitcoin team,

I'd kindly like to ask you to remove the following video from the GitCoin YouTube channel which features my person and name: https://www.youtube.com/watch?v=G8yhs1DSTkA.

As the hackathon has ended, I'm kindly asking for deletion of my personal data.

Thank you in advance,

Georgios Kaissis

[2020-07-20 10:44] danlipert commented on #7106
@vs77bb Can you tell me more about the project logo bug? When you add a logo it should update the place where you clicked to add it:
![Screen Shot 2020-07-20 at 7 43 57 PM](https://user-images.githubusercontent.com/869266/87929459-6d54e300-cac1-11ea-8624-48c61fe2b100.png)

It may be the file itself, can you upload the image you used?

[2020-07-20 10:46] danlipert commented on #7106
@vs77bb ah nevermind it only happens if your wallet is disconnected

[2020-07-20 13:00] PixelantDesign commented on #7113
WIP Fr @willsputra
![onboarding](https://user-images.githubusercontent.com/238235/87940310-68634580-ca67-11ea-93b6-b5a52280db3d.png)

[2020-07-20 13:13] PixelantDesign opened #7119 "Hackathon Onboarding Epic"
### User Story

As a Hacker I'd like an easy onboarding into the hackathon.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: If we update the onboarding page to be more exciting then more potential and interested hackers might register, the hackathon

[2020-07-20 13:55] #7115 closed

[2020-07-20 14:12] owocki commented on #7117
Hi Georgios I have removed this video from youtube. Thanks!

On Mon, Jul 20, 2020 at 12:55 AM Georgios Kaissis <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-07-20 14:17] owocki commented on #6860
an option for a grant funder to refund all txns in a round (say they abandon their grant, or amount raised wasnt enough or something)

[2020-07-20 14:22] danlipert commented on #7106
Fixed the issues - if you didn't use a web3 wallet to connect when creating a grant previously, then you'd see the issues @vs77bb described, including the grant being hidden as the network field was not set. It now defaults to mainnet

[2020-07-20 14:22] #7106 closed

[2020-07-20 15:49] #7108 closed

[2020-07-20 17:05] #7117 closed

[2020-07-20 17:35] owocki commented on #7068
from the slack convo about this ( https://gitcoincore.slack.com/archives/CNTH3RSF6/p1595010700182900 ) the path forward:

feature spec:
- make the main bounty form more feature limited / free (no contest bounties, no coop bounties).
- add an explainer that if you want PRO features (contest, cooperative, many applicants, featured bounties) to contact scott
- remove the fee from the main bounty form

[2020-07-20 19:52] owocki opened #7121 "as a user of gitcoin, i want an index of all the different community resources on gitcoin, so i can find where to engage with the community."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user of gitcoin, i want an index of all the different community resources on gitcoin, so i can find where to engage with the community.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actual

[2020-07-20 20:47] jdorfman opened #7122 "Top Orgs Leaderboard displaying non-orgs"
**Describe the bug**

When I was on Twitter I was excited to see this tweet: https://twitter.com/oceanprotocol/status/1285159529207013376

When I got to the leader board I saw 2 "orgs" that looked like spam accounts (first impression).

**To Reproduce**

Go here: https://gitcoin.co/leaderboard/orgs?cadence=monthly&keyword=all&product=all

See **@n4k3pj0t9iw & @blog**

**Expected behavior**

**Scre

[2020-07-20 21:29] owocki commented on #7104
hmmmmm actually this query is too slow (~ 10 seconds to load) to use as the user directory.  maybe we could build it & cache it once per night though..

[2020-07-21 05:53] PixelantDesign commented on #7104
**Messaging**
- Add ability to send custom freeform message in user directory
- Change invite to bounty button to contact
- Add guardrail for when user tries to contact twice in short period of time

**Filters**
- Fix leaderboard ranking numbers, why is it a comma? 1-5? Need to be able to select all.
- How do I filter top 25 ppl on Gitcoin on Leaderboard?
- Change tribe input and make it auto comp

[2020-07-21 06:06] PixelantDesign commented on #7096
Hi @walidmujahid This is the latest design

https://github.com/gitcoinco/web/issues/7096#issuecomment-658834303

[2020-07-21 13:28] owocki opened #7125 "As a Gitcoin Grants user, I would like to be able to verify my identity on BrightID, so that I can contribute to Sybil Resistence of the application, and be assured that Gitcoin Grants is not sybil attackable."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin Grants user, I would like to be able to verify my identity on BrightID, so that I can contribute to Sybil Resistence of the application, and be assured that Gitcoin Grants is not sybil attackable.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description

[2020-07-21 13:30] owocki commented on #6860
setup authy/2fa instead of SMS verification for phone verification

[2020-07-21 13:31] owocki commented on #6860
blind verification https://github.com/gitcoinco/web/issues/6851

[2020-07-21 13:33] owocki opened #7126 "As a grants user, I want verified grants, so I can be sure I am contributing to a legit (not fraud) grant."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a grants user, I want verified grants, so I can be sure I am contributing to a legit (not fraud) grant.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Round 6 Scam

[2020-07-21 13:35] owocki opened #7127 "As a user who is contributing to Gitcoin Grants, I want to do so via a L2, so I can avoid high gas costs."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user who is contributing to Gitcoin Grants, I want to do so via a L2, so I can avoid high gas costs.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Gas costs are

[2020-07-21 13:36] owocki opened #7128 "For round 7 calcs, make it so that we DONT re-use the Round 6 calcs anymore."
For round 7 calcs, make it so that we DONT re-use the Round 6 calcs anymore.

Per Vitaliks request.

[2020-07-21 13:39] owocki opened #7129 "DESIGN - As a round 7 admin, I want incentivized flagging system, so that I can be sure that users are incentivized to do the work of finding frauds."
From Vitaliks Round 6 wrap up post:

Spec:
[code]

[2020-07-21 13:41] owocki opened #7130 "As a Ethereum social media influencer, I want to curate & proudly show "collections" of grants, so that people can contribute to the grants I've put together."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Ethereum social media influencer, I want to curate & proudly show "collections" of grants, so that people can contribute to the grants I've put together.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happe

[2020-07-21 13:43] owocki opened #7131 "Batch up the "thanks for contributing" emails from 2 emails per grant to 1 email per whole checkout."
Batch up the "thanks for contributing" emails from 2 emails per grant to 1 email per whole checkout.

Need design for the checkout email.

[2020-07-21 13:44] owocki opened #7132 "Fixes for each grants transaction history page"
grants transactions page
- make it not slow (esp with many transactions)
- enable csv export of txns (grant admin only)

[2020-07-21 13:47] owocki opened #7133 "DESIGN - As a grant contributor, I want new & more powerful ways to select the amount I contribute to each grant, so I can express my preferences efficiently and accurately"
per vitalik, the whole idea of QF is to express varying degrees of preference.

so we need to add tools that easily allow them to express preference differently across diff grants

SOME options:
<img width="575" alt="Screen Shot 2020-06-23 at 9 54 22 AM" src="https://user-images.githubusercontent.com/513929/88062923-ab382280-cb26-11ea-84ac-2a921f6b7de0.png">
<img width="567" alt="Screen Shot 2020-

[2020-07-21 14:36] jdorfman commented on #7126
Twitter or add `meta` tag to grant owners website eg

`<meta name="gitcoin:verify" content="Grants Round 7"/>`

That way people without Twitter can participate.

[2020-07-21 15:16] owocki commented on #7121
@connoroday i built this to allow the chats to be configurable on a per hackathon basis, on the assumption that sponsors wont all want to commit to a gitcoin chat

@PixelantDesign i think the next step is to build a quickie design for this. it felt like after the staff we all agreed on the pluralistic approach.

[2020-07-21 15:21] owocki commented on #7104
i think if were going to do this way, we should start from here.  the `dashboard.views.users_fetch` code would need to be completely gutted to do this, and we could do the remaining of the work on top of this in the new architecture.

curious what @gitcoinco/engineers thinks tho

[2020-07-21 15:31] owocki opened #7135 "As a Connor O'Day, I want the ability to one-click set a bounty as "hypercharge mode" and the product will do the work of promoting it to the community."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Connor O'Day, I want the ability to one-click set a bounty as "hypercharge mode" and the product will do the work of promoting it to the community.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and

[2020-07-21 19:06] #7085 closed

[2020-07-21 19:11] frankchen07 commented on #7090
@connoroday - would this new typeform be of help to you? I've tried doing more data collection on it, but if it's not useful we'll have to revisit where the bottlenecks here would be for you: https://admin.typeform.com/form/NE7oDkwT

- added best 2 days for workshop dates so you don't have to back and forth as much
- added best 2 days for demo day
- added best 2 days for livestream
- fixed some im

[2020-07-21 19:18] connoroday commented on #7135
Looks good. One thought is there are often multiple bounties that need attention, so how can this work with say 3 bounties? Maybe they can alternate day by day, or maybe I can set a time range for how long and when each will be promoted?

Other ways to promote:
- Notify users who have worked with that org before
- Auto feature on hack explorer/normal prize explorer

[2020-07-21 21:36] owocki commented on #7135
thanks @connoroday

[2020-07-21 21:36] owocki commented on #7135
@zoek1 any interest in this one

[2020-07-21 21:56] zoek1 commented on #7135
Of course, happy to build something that helps Connor and also this looks pretty interesting! @owocki

[2020-07-22 02:36] walidmujahid commented on #7096
@PixelantDesign I will update https://github.com/gitcoinco/web/pull/6297 with these changes then. The Workshop models and templating from https://github.com/gitcoinco/web/pull/6297 can be used in another tab in the integrated view.

I could work on that after or someone more available can. For the templating of workshops section, perhaps it is viable to update to using vue-bootstrap components, sp

[2020-07-22 03:02] walidmujahid commented on #7102
Is this really a good option?

Personally, I do not understand why this is being suggested for hackathon sponsors as opposed to grants. Would this not solve a lot of sybil concerns @owocki ?

When it comes to hackathons, should not the best entry be the determinate? However, the hackathon sponsors decide judging, why woulud developer details be needed?

Furthermore, while I personally would not ha

[2020-07-22 13:23] PixelantDesign commented on #7096
Thanks @walidmujahid looking forward to the updates! would it be possible to have a PR by Friday for Monday deploy?

[2020-07-22 14:13] PixelantDesign commented on #6622
@developerfred could we have this by Friday please? otherwise I'll need to bring this in to  complete internally. Thank you!

[2020-07-22 15:22] owocki commented on #7127
loopring chat w @ceresstation and @Brechtpd :
- for grant owners/donors; 275k gwei to enter rollup environment
- for donors, they need to deposit assets into loopring environment, 100k gwei
- no (or negligible) gas cost to remove assets from loopring environment

API call docs https://docs.loopring.io/en/

@PixelantDesign we'll probably need to have two checkout payment options on grants checkout

[2020-07-22 15:36] coolcryptomaniac commented on #7127
Yes many L2 tech like Loopring, matic, celr can be tested also any Gitcoin Grants related to gas economics and reduction of gas can be funded.

My idea is very simple ---
Transactions must be categorized ,
A transaction must have some code or marker in it telling which type of transaction is it
A) monetary transactions like trading etc, sending payments
B) Non monetary transactions , playing games

[2020-07-22 16:13] danlipert commented on #7126
@jdorfman I'm not sure everyone will have a website, or bigger orgs may not want to mess with their own website. Cool idea though, or something like DNS verification. Fallback to Twitter DM manual verification or something like that

[2020-07-22 16:17] danlipert commented on #7127
I'm thinking XDAI is probably the lowest lift but im not too familiar with the others, but XDAI is pretty simple. Would we need to support 2 flows here? a) someone has all funds on L1, checkout process automates L1->L2 and then onto destination b) someone already has L2 funds and can skip the first portion.

[2020-07-22 16:22] danlipert commented on #7128
Something we should remove permanently or should we just "turn it off" for round 7?

[2020-07-22 16:23] danlipert commented on #7129
What happens to the other 50%?

[2020-07-22 16:24] danlipert commented on #7130
Would be dope to generate some kind of cool image people can share along with the link, or dynamically generate the Twitter preview for each collection link

[2020-07-22 16:52] PixelantDesign opened #7137 "Add ability to filter participants by mentors"
### User Story

As a Gitcoin  hacker, I'd like to be able to easily see who out of the participants are mentors that I can reach out to for questions.

### Why Is this Needed

If we make its easier for hackers to find mentors and quickly chat with with them, they'll be able to get questions answered resulting in higher quality projects.

### Description

- [ ] Add an option to sort by mentors  in

[2020-07-22 17:03] PixelantDesign opened #7138 "Add chat icon to sponsor area in hackathon view"
### User Story

As a hacker I'd like an easy way to chat with sponsors

### Why Is this Needed

If we make it easy to chat with sponsors, hackers will get their questions answered easily resulting in  high quality projects

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
no chat button

### Expected Behavior
add chat button

### Definition of Don

[2020-07-22 17:07] PixelantDesign opened #7139 "Design - Mentors area for onboarding page"
### User Story

As a potential hackathon participant I'd like to see who the list of mentors are that will be participating in this hackathon

### Why Is this Needed

If we display mentors then hackers will register because hackers want to learn from mentors they admire/want to work with.

### Description

feature

### Current Behavior
no mentor section

### Expected Behavior
mentor section design

[2020-07-22 17:18] PixelantDesign opened #7140 "Email tribe members about hackathon prizes"
### User Story

As a tribe member/follower, I'd like to know when an organization iii participating in a Hackathon

### Why Is this Needed

no email notification exists

If we build this email, developers will be notified and sign up, then sponsors will have more registrants and hackers working on their hackathon prizes.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: featur

[2020-07-22 17:19] PixelantDesign commented on #7140
@sebastiantf ^

[2020-07-22 17:21] sebastiantf commented on #7140
On it @PixelantDesign 👍🏻

[2020-07-22 17:29] jdorfman commented on #7126
@danlipert good call. TXT record might be best in this case.

[2020-07-22 17:53] PixelantDesign opened #7141 "Support Categories/ Interests in the system Epic"
### User Story

As an operator of Gitcoin, we'd like to know and collect developer interests so that we can surface relevant information and experience to support their interests.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:  no categorization

#

[2020-07-22 18:09] owocki commented on #7135
@zoek1 pls do. can we aim for a PR by sunday?  feel free to PM me how much you think it'll cost, im pretty easy as long as it's reasonable

[2020-07-22 18:10] owocki commented on #7126
i wuz thinking that we could also verify twitter accounts (ie post a "I'm verifying myself on @gitcoin grants" type tweet, like the one that keybase users post to connect their identities)

[2020-07-22 20:06] #7021 closed

[2020-07-22 21:39] owocki commented on #7128
i think just turn it off; then if vitalik doesnt want it again for round 8 i think we can deprecate it entirely

[2020-07-22 21:40] owocki commented on #7129
goes back to pool

[2020-07-22 21:40] owocki commented on #7130
who wants to build an image collage tool :) shouldnt be hard with PIL :) :) :) :)

[2020-07-23 00:07] vs77bb opened #7142 "Make A Gitcoin Grant On Behalf Of An Org"
Hey, [] from Aragon One here. Would it be possible to set up a Gitcoin account for the Aragon Association like the Aragon Project (https://gitcoin.co/aragon) that would allow it to participate in CLR matching?

[2020-07-23 03:19] PixelantDesign commented on #7140
Thanks @sebastiantf would it be possiible too have  before the weekend? our  next  deploy is monday.  Thanks!

[2020-07-23 03:39] sebastiantf commented on #7140
I shall complete it before the weekend @PixelantDesign

[2020-07-23 03:51] PixelantDesign commented on #7140
Thanks @sebastiantf. I just added a few more details around the email in the description. Let me know if you have any questions!

[2020-07-23 14:27] PixelantDesign commented on #7122
@developerfred ^?

[2020-07-23 14:37] owocki commented on #7126
matt comment: call it verified ownership + confirmed connections instead of calling it a verified grant.

[2020-07-23 14:45] adamstallard commented on #7125
Some UX thoughts.

To make the experience a joy rather than a hassle, we need to prep users to find BrightID-ready communities so they can be verified by the time they're ready to check out.  I'm not sure how much of this community finding can be encouraged through the gitcoin UI, but it could be a natural place.  Off the top of my head, project pages could display a link to a community gathering

[2020-07-23 14:45] owocki commented on #7131
@PixelantDesign is there a design for this somewhere

[2020-07-23 14:53] owocki commented on #7129
@apbendi idea: maybe grant owenrs could stake their own funds when they post a grant to show that its not fraudulent.

[2020-07-23 15:02] adamstallard commented on #7125
The API for BrightID has been improving a lot. The docs are not caught up, but I'm working on it. Expect some nice API docs and guides at api.brightid.org soon.

Here is a [somewhat outdated guide that outlines integration with BrightID](https://docs.google.com/document/d/16-gqjfJLz7WSYVDHVQSFKK3Mj0GFWetxdgE9nQuMS9o/edit#heading=h.lox0lkl8du42) and links to another [somewhat outdated API spec](htt

[2020-07-23 15:09] adamstallard commented on #7125
What we will need specifically from the API/SDK/BrightID nodes is:

1. A way to link users (link their BrightID to an ethereum address, so we can query their verification status using that address).  If you look at https://ethereum.brightid.org , you will see a way that was created by [BurnSignal](https://github.com/burnsignal/burnsignal). They are also working on a way to have that experience int

[2020-07-23 16:05] PixelantDesign opened #7143 "Tribes Light Housekeeping"
This is part of the [Tribes Light](https://github.com/gitcoinco/web/issues/6812) release ticket.

### User Story

As a hackathon sponsor, I'd like to have an updated version of the organization page and baseline functionality so that I can engage with my community.

### Why Is this Needed

We currently have an old orgs page and a tribes page with functionality that exists on one page and not the o

[2020-07-23 16:51] jdorfman commented on #7126
@owocki the Keybase method is brilliant. I still have my public key on my Hacker News account and I don't even use KBase anymore lol

[2020-07-24 02:14] nopslip opened #7144 "Unable to fund grants when using Argent via WalletConnect"
**Describe the bug**
When I click Fund Items button nothing happens in the UI and errors can be seen the dev console.

**To Reproduce**
1) Use WalletConnect to connect to an Argent wallet on phone
2) Add grants to your cart
3) Click `Fund Items`

**Expected behavior**
When clicking `Fund Items` your grants should be processed and tokens removed from your wallet.

**Screenshots**
<img width="1309"

[2020-07-24 03:22] developerfred commented on #7144
@nopslip I will open a pr with the Argent adapter

[2020-07-24 03:26] sebastiantf commented on #7140
@PixelantDesign is that header image already in the codebase? Has it been already used? If not, where can I get it?

<img width="652" alt="Screenshot 2020-07-24 at 8 55 53 AM" src="https://user-images.githubusercontent.com/36922376/88358157-7c6eb600-cd8b-11ea-87f3-c453e8363d3e.png">

[2020-07-24 04:30] PixelantDesign commented on #6622
@developerfred I'll payout for the work you've done. @zoek1 has agreed to finish it up. Thank you!

[2020-07-24 04:54] sebastiantf commented on #7140
@PixelantDesign It would be better if you could share the figma.

[2020-07-24 05:16] developerfred commented on #7127
I opened this issue [#6905 ]( https://github.com/gitcoinco/web/issues/6905  ) in a while to adopt the L2 looping protocol, my short term solution strategy and insert the gitcoin community into L2 seriously enabled or loopring  a TIP wheel from townsquare.

so we will have 80% of gitcoin users signed on the network to do loopring.

 When September comes, a curve for the use of L2 will be minimal.

[2020-07-24 05:36] PixelantDesign opened #7145 "Hackathon Onboard Page Housekeeping"
- [ ] Center sponsor logo when there is only one sponsor
- [ ] Shrink up height of sponsor logo container by 30% when there is only one sponsor
- [ ] Add ability  to change border color on the onboarding page...group with this section in the admin
<img width="535" alt="Screen Shot 2020-07-24 at 2 18 35 AM" src="https://user-images.githubusercontent.com/238235/88365490-35190300-cd54-11ea-92b6-62987

[2020-07-24 07:06] PixelantDesign commented on #7140
@willsputra could you link figma please? thank you!!

[2020-07-24 11:03] willsputra commented on #7140
@sebastiantf figma file https://www.figma.com/file/4loBptZh91m3r1S0WjXbSD/Gitcoin-Hackathon-Email?node-id=0%3A1

[2020-07-24 12:58] walidmujahid commented on #7096
Using @PixelantDesign checklist, currently task completion:

* [x]  make the top header span across the page
* [x]  Contact Sales section  that was on the right side, is now below and CTA is Become a Sponsor linking to the same form.
* [x]  Remove Tribes section
* [x]  Remove Workshops
* [x]  Update overall buttons so there is a primary and secondary focus
* [x]  on  the  hackathon card, add space

[2020-07-24 15:27] coolcryptomaniac commented on #7127
Yes experimenting with all the L2 solution and integrate with it would be good idea and recommending the best one according to user responses or testing , with time only very good L2 options can be shown and rest can be removed. MATIC,LOOPRING,OMISEGO,CELER and there are other fee L2 solutions to look up for... The important thing to remember is to integrate in such a way that if there comes any p

[2020-07-24 18:58] sebastiantf commented on #7140
@PixelantDesign I have a PR up at #7146

[2020-07-25 01:00] walidmujahid commented on #7096
PR awaiting review of recent changes https://github.com/gitcoinco/web/pull/6297
Demo Video: https://youtu.be/pYi6Ul-Uvc0
I forgot to show it in the video, however, when clicking on the small sponsor avatar in a hackathon card, the sponsor's profile is opened in a new tab.

[2020-07-26 21:59] vporton opened #7148 "Need a dedicated page listing dates and times of main hackathon events"
For each hackathon we need a dedicated page listing dates and times of main hackathon events (start, end, bounty submission times, meetings, presentation, etc.)

[2020-07-27 11:47] zoek1 commented on #7135
Almost done in https://github.com/gitcoinco/web/pull/7150
@connoroday can you provide me the texts to create the offers and also to create a pinned post? After that, i'll record a demo and will be done this feature

[2020-07-27 12:27] nya-elimuai opened #7151 "Adding team members does not work"
How to reproduce:
- Add new team member to existing team.
- Press "Submit".

"Error trying to save project"

[code]

Response:
[code]

<img width="812" alt="Screenshot 2020-07-27 at 14 27 02" src="https://user-images.githubusercontent.com/15718174/88541597-9a683f00-d047-11ea-909d-df9ddf97aee6.png">

[2020-07-27 13:01] PixelantDesign commented on #7148
Great suggestion! Where would you expect to see this @vporton?

[2020-07-27 13:09] vporton commented on #7148
@PixelantDesign

Prizes
Townsquare
Projects
Chat
Participants
Showcase
Guide
**Timeline**

[2020-07-27 15:22] owocki commented on #7135
@zoek1 Offers

[code]

Pinned Post from gitcoinbot
[code]

[2020-07-27 15:25] owocki opened #7153 "As a staff member, I want to make all staff_only modules on the site yellow background, so that I know which items are staff only."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a staff member, I want to make all staff_only modules on the site yellow background, so that I know which items are staff only.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2020-07-27 15:25] owocki commented on #7153
@willsputra @PixelantDesign is yellow the right color?

[2020-07-27 15:46] owocki opened #7154 "DESIGN - As a cross-chain ecosystem partner, I would like to have cross-chain grants, so that I can take advantage of the QF goodness + accelerate my ecosystem in a decentralized way."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a cross-chain ecosystem partner, I would like to have cross-chain grants, so that I can take advantage of the QF goodness + accelerate my ecosystem in a decentralized way.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you wou

[2020-07-27 15:47] owocki commented on #7154
@willsputra @PixelantDesign @vs77bb @danlipert @thelostone-mc heres the cross-chain grants ticket from this mornings call; any feedback welcome

[2020-07-27 16:50] PixelantDesign commented on #7143
**Orgs Rank**
What are the basis of the org  rankings? $ amount funded
Some tribes aren't ranked, what do we do here?  @androolloyd could you advise?
Org ranking doesn't make sense.

[2020-07-27 17:21] thelostone-mc commented on #7139
A couple of questions :
- Is this a new feature all together ?
- Could I get some documentation on how this flow works ? Does a team created first & then they get a mentor ?
- How does this flow work at this point ? Once teams are created -> do they reach out to mentors not via gitcoin ?
- Is the mentor the same as the sponsor team / someone else
- Does the mentor have a separate flow all together

[2020-07-27 17:47] owocki commented on #7143
its just a pagerank algoritthm run ( https://github.com/gitcoinco/web/blob/master/app/dashboard/management/commands/create_pagerank.py ) on which orgs are marked in the bounty/tip/grant.

i dont feel strongly that this is the way things need to be though; OrgRank may have outlived its usefulness

[2020-07-27 20:54] PixelantDesign commented on #7145
hooray!

[2020-07-27 20:54] #7145 closed

[2020-07-27 21:10] PixelantDesign commented on #7096
Amazing! Thanks @walidmujahid !

[2020-07-27 21:49] Kennydoneit opened #7155 "<!-- A clear and concise description of what you expected to happen. -->"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-07-27 21:50] Kennydoneit commented on #7155
iPhone

[2020-07-28 03:05] PixelantDesign commented on #7139
@thelostone-mc.  This is not a new feature. This is a design task that we'd create an image to upload in the Wisywig editor that @octavioamu built in the hack onboarding page. To answer your question in most cases sponsors are the mentors.

[2020-07-28 03:12] PixelantDesign commented on #7138
No designs needed per @androolloyd

[2020-07-28 03:17] PixelantDesign commented on #7137
These are the current options for filtering by persona (all, funder, coder).

To clarify --@androolloyd @vs77bb we would be filtering by additional mentors added via chat?
Something to think about is In many cases the sponsors are also mentors.

<img width="1395" alt="Screen Shot 2020-07-27 at 11 13 39 PM" src="https://user-images.githubusercontent.com/238235/88614944-dce94600-d05e-11ea-81e1-43386

[2020-07-28 05:00] conghieucntt opened #7156 "bounty"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2020-07-28 10:48] #7156 closed

[2020-07-28 10:48] thelostone-mc commented on #7155
Do reopen this more information

[2020-07-28 10:48] #7155 closed

[2020-07-28 12:42] willsputra commented on #7096
thank you @walidmujahid !

[2020-07-28 13:24] PixelantDesign opened #7157 "Error when click on prize button on hackathon list page"
**Describe the bug**

**To Reproduce**
Go to hackathon list page

**Expected behavior**
Get to prize explorer

**Screenshots**
<img width="1407" alt="Screen Shot 2020-07-28 at 9 22 01 AM" src="https://user-images.githubusercontent.com/238235/88671209-07b1b980-d0b4-11ea-8b66-7ee9e629fc88.png">
<img width="554" alt="Screen Shot 2020-07-28 at 9 20 01 AM" src="https://user-images.githubusercontent.com

[2020-07-28 13:39] PixelantDesign commented on #7104
For Filecoin:

- Updating the modeling using Franks engine
- updating the card display
- change invite to bounty to send a message

<img width="1470" alt="Screen Shot 2020-07-28 at 9 37 10 AM" src="https://user-images.githubusercontent.com/238235/88673008-1dc07980-d0b6-11ea-8ec2-fe29e9792fe4.png">

<img width="1461" alt="Screen Shot 2020-07-28 at 9 37 18 AM" src="https://user-images.githubusercont

[2020-07-28 14:25] PixelantDesign commented on #7140
create another email that is general without prizes.

[2020-07-28 14:58] thelostone-mc commented on #7154
Before we jump into design :

We should agree on the flow + requirements

**Question which we'd need to sync on**

- Can a grant accept payments in only one chain / multiple?
   if multiple -> showing CLR is available on a certain token might be tricky
- Would the cross chain grants payout happen via cart ? Do remember this is not a one-click process
- Is it alright to add ETH + cross chain Grants

[2020-07-28 15:20] owocki commented on #7125
https://ethereum.brightid.org/ ^^

[2020-07-28 15:21] thelostone-mc commented on #7143
^ Is there a clean message on which tells the user that if they follow the tribe and they'd be able to access more info.
If we are to hide them -> we oughta give them a sneak peak to encourage them to follow

Do we have enough information which is unique to every tab ?
Could we share some document with what + why for each tab. If not whitespace is always clean and neat

If this needs to be done ->

[2020-07-28 15:57] developerfred commented on #7157
@PixelantDesign I reproduced in opera and chrome but it worked normally.
https://share.getcloudapp.com/xQuLK6rb

[2020-07-28 16:04] sebastiantf commented on #7140
@PixelantDesign Can you comment on https://github.com/gitcoinco/web/pull/7146#issuecomment-664857341

[2020-07-28 16:29] thelostone-mc commented on #7141
Is there a document i can check out where we have things like

- User flow
- What kind of questions (I'm assuming we have this already)
- How would we leverage that info (aka a ticket + rough idea on what we'd do with this )

[2020-07-28 16:31] PixelantDesign opened #7158 "Submissions View Bugs"
**7/29/20 - Need to fix**

- [ ] As a hackathon sponsor when I view the spreadsheet - the expand/collapser arrow does not flip ( doesn't work properly). See implementation on townsquare modules.

- [x] As a hackathon sponsor when I click the name of my prize - the prize details should open in a new tab.
<img width="518" alt="Screen Shot 2020-07-29 at 9 45 11 PM" src="https://user-images.githubuser

[2020-07-28 17:23] walidmujahid commented on #7096
My pleasure @PixelantDesign @willsputra

Some minor updates have been pushed to the PR to solve som econflicts with recent changes and to introduce fixes based on feedback: https://github.com/gitcoinco/web/pull/6297#issuecomment-665164995

However, nothing has changed much on the front end. The only thing different is the showcase button does not appear automatically, rather, it has to be enabled

[2020-07-28 17:24] walidmujahid commented on #7096
My pleasure @PixelantDesign @willsputra

Some minor updates have been pushed to the PR to solve som econflicts with recent changes and to introduce fixes based on feedback: https://github.com/gitcoinco/web/pull/6297#issuecomment-665164995

However, nothing major has changed on the front end. After recent updates, the main thing different is that the showcase button does not appear automatically, r

[2020-07-28 17:36] PixelantDesign commented on #7098
Yes, when  we get to this feature @octavioamu

[2020-07-28 18:05] sanchaymittal commented on #7143
If we are to hide them -> we oughta give them a sneak peak to encourage them to follow

@thelostone-mc  For now, I have made the bounties tab default but I do agree we need some incentive to encourage them to follow the tribe.

I agree it's surely gonna take some time to create a new org rank logic. But the issue onhand is that some of the organisation are showing 0 rank which is strange. Here are

[2020-07-28 18:36] PixelantDesign commented on #7157
yes it was  fixed  this am! thanks for checking @developerfred

[2020-07-28 18:36] #7157 closed

[2020-07-28 18:43] PixelantDesign commented on #7141
Agreement:
-  Categories are being captured for hack registration
- Incorporate categories this into normal system onboarding  per conversation this morning @octavioamu
- UX - Figure  out where to display interests and update interests

[2020-07-28 18:43] octavioamu commented on #7151
seems there is a "uploading 0%" there can you check the network tab to see what the server is saying? could be some problem uploading the project image.

[2020-07-28 19:15] PixelantDesign commented on #7139
getting  list of mentors  from Vivek

[2020-07-28 19:16] PixelantDesign commented on #7137
need Andrews pr to get  through to do this.

[2020-07-28 19:20] PixelantDesign commented on #6622
Is it possible to get comments in  here for filecoin?

[2020-07-28 19:55] owocki commented on #6860
from GA, ideas for improving browse-ability

I think grant browsing could be improved long-term and that would help. not bad now, if you know what you're looking for
like check box selection from a big list, and then click "study" or "contribute" to go deeper into them

Anything to diminish the amount of time spent on the site. The kudos and gamification of elements of the process encourage a cert

[2020-07-29 00:13] octavioamu commented on #7158
I made 2 fixes on this one was the project logo serializer and the other tofixed() d8aeb8a5ac623f1b633a4dbf1a0c480c15879502

But seems there are some problems with the biz rules here. Since the query is_funder is checking only for the owner of a bounty. that means other org members are not going to be able to see the dashboard data.

Here are some of my suggestions on the rules
- is_founder need t

[2020-07-29 13:04] willsputra commented on #7154
Some thought: if the matching sponsors, CLR round timing, categories are different for each chain - maybe it'll be more intuitive if we have separate pages for each chain (for example: /grants/eth, /grants/zcash, /grants/celo) since putting all kinds of grants into one page might be confusing.

[2020-07-29 14:45] owocki commented on #7104
@PixelantDesign @danlipert @gitcoinco/engineers i spoke to @vs77bb yesterday + we decided that I can YOLO something out for user directory, but my ask for @gitcoinco/engineers and product is that they do the onboarding data ingestion.  ie i wont be building product features to ingest profile info, but i will be building the search/filter/contacting pipeline.

does that work for everyone?

[2020-07-29 15:01] jdorfman commented on #7090
LGTM, I would love to eventually have confirmed dates automatically create events in [AddEvent](https://www.addevent.com/documentation/events-api). We use them to create this:

![image](https://user-images.githubusercontent.com/398230/88816750-96384080-d171-11ea-8a02-ed57240eabc5.png)

[2020-07-29 15:34] owocki commented on #6860
TLDR
- list view
- collections
- my grants
- starred grants
- matching round intake form

[2020-07-29 21:35] owocki opened #7163 "As a grrants user, I want the ability to star/unstar a grant, so that I can have a shortlist of grants to checkout later."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a grrants user, I want the ability to star/unstar a grant, so that I can have a shortlist of grants to checkout later.

### Why Is this Needed
Users want better curation features.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happe

[2020-07-29 21:36] owocki opened #7164 "As a user of Gitcoin Grants, I want the ability to add all grants in a category/subcategory to cart, so I can checkout a whole category."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of Gitcoin Grants, I want the ability to add all grants in a category/subcategory to cart, so I can checkout a whole category.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2020-07-29 21:41] owocki opened #7165 "As a user of Gitcoin Grants, I want the ability to view my grants (that I'm a team member of) right in the grants nav, so I can easily maange them"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of Gitcoin Grants, I want the ability to view my grants (that I'm a team member of) right in the grants nav, so I can easily maange them

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what

[2020-07-29 21:43] owocki opened #7166 "As a user of Gitcoin Grants who is space aware, I want a list view of all the grants, so that I dont waste so much space with the cards."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of Gitcoin Grants who is space aware, I want a list view of all the grants, so that I dont waste so much space with the cards.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2020-07-29 21:45] owocki opened #7167 "As a user of Gitcoin Grants who has contributed to grants during past matching rounds, I would like to see those grants listed in the nav."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of  Gitcoin Grants who has contributed to grants during past matching rounds, I would like to see those grants listed in the nav.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actuall

[2020-07-29 21:48] owocki opened #7168 "As a user who wants to contribute to a matching pool for gitcoin grants, I have a way to do that on the product, so I can do it without emailing back and forth with Vivek."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user who wants to contribute to a matching pool for gitcoin grants, I have a way to do that on the product, so I can do it without emailing back and forth with Vivek.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would

[2020-07-29 22:50] owocki commented on #7125
ok @adamstallard @PixelantDesign @willsputra here is the lo fi prototype i promised

<img width="1257" alt="Screen Shot 2020-07-29 at 4 47 31 PM" src="https://user-images.githubusercontent.com/513929/88861462-3f575900-d1bb-11ea-92b0-8cfaa8203971.png">

basically i am proposing adding a `/trust` tab to the user profile, wherein users can connect various external services (brightID, twitter, SMS, et

[2020-07-29 23:56] adamstallard commented on #7125
From a standpoint of keeping out sybils, we need to make sure we don't
create a situation where someone can control multiple accounts to maximize
the bonus: for example, an either-or situation where either BrightID or SMS
gets you the bonus. Then you'd be able to split your fund between two
accounts and verify one with SMS and one with BrightID.

If you allow `m` of `n` methods to suffice, then sy

[2020-07-30 03:23] zoek1 commented on #6572
i can't reproduce this, on the last opera version and  opera mobile also with the last version. Seeems is working now

[2020-07-30 14:38] PixelantDesign commented on #7143
**Org rank ideas**; based around community management, communication with  devs, incentives for community, #of hackathons they've been doing, etc?

[2020-07-30 16:04] owocki commented on #7104
my suggestion was is having a download csv

[2020-07-30 23:38] molecula451 commented on #6572
yeah. I think this is fixed on recent web3 model wallet by @octavioamu

[2020-07-31 11:05] sanchaymittal commented on #7098
Setting up the ETA for time one 3-7 days.

[2020-07-31 12:29] PixelantDesign commented on #7153
sure or the light purple that we've been using in the system also works.
<img width="1434" alt="Screen Shot 2020-07-31 at 8 29 42 AM" src="https://user-images.githubusercontent.com/238235/89034956-01b41680-d308-11ea-8f0c-348ca4ec76c3.png">

[2020-07-31 15:27] PixelantDesign commented on #6870
@developerfred are you still working on this?

[2020-07-31 15:48] owocki opened #7172 "gitcoin bot playing cards"
https://www.printerstudio.com/personalized/custom-playing-cards-gifts.html is the vendor were using

i'd like  to take the gitcoin bots ( https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots/robot_kudos ) and make them into playing cards.

scope:
- custom box
- back of cards
- front: we'll need 4 suits x 2 => Kings/Aces

[2020-07-31 15:55] owocki commented on #7127
from @apbendi

@brechtpd do you know if this is true? is there any way we can avoid having to prompt the user for N transaction signatures to send N grant payments on the grants checkout page?

[2020-07-31 15:57] apbendi commented on #7127
To clarify, @owocki, I think we'd only need 1 signature, then we'd have the pk. But I'm not 100% on that, so I'd love your input @Brechtpd

[2020-07-31 16:01] Brechtpd commented on #7127
That's exactly right @apbendi @owocki, that's how we currently do things on loopring.io as well. Users "log in" by signing the message, and then they can create as many orders they want with us signing those transactions in the background with the generated private key.

In the future with MetaMask plugins we'll be able to do this even without needing this "log in" (and the pk used for signing the

[2020-07-31 16:03] owocki commented on #7154
https://docs.google.com/document/d/1xnLH1dnYWNICH2q4YNjpZo9hll5wD3H5Fzf4kV84xPs/edit

[2020-07-31 16:16] owocki commented on #7127
got it; so only 1 or 2 metamask confirmations per checkout?

thats huge. awesome!

[2020-07-31 16:18] aalberti333 commented on #6572
@zoek1 @molecula451 Yeah, this seems to be working now. I'll go ahead and close this.

[2020-07-31 16:18] #6572 closed

[2020-07-31 16:20] Brechtpd commented on #7127
Just 1, assuming the person already has the necessary funds on Loopring of course.

[2020-07-31 16:34] willsputra commented on #7127
Thinking about the rough flows from my understanding, assuming owners and donors don't have a Loopring account:

Grant owners
- There will be an option on https://gitcoin.co/grants/new to enable grant donations via Loopring
  - We need to inform them that not all tokens are available on Loopring
- If they select that option, upon creating a grant, they will be asked to sign a transaction (275k gwe

[2020-07-31 17:04] Brechtpd commented on #7127
Sound about right!

Step 1 and 2 or course only when necessary for the user. For step 2 the user will also have to approve our contract for the amount that's going to be deposited for everything except ETH.

If step 1 and 2 are both necessary then they can also be combined in a single Ethereum tx using `updateAccountAndDeposit`, with the total cost around the same as just creating a new account se

[2020-07-31 18:03] L-KH commented on #7172
Great Idea. I will work on it and I'll send prototype to let me know about modifications. THanks

[2020-07-31 18:30] owocki commented on #7172
just a light mock to start pls :)

[2020-07-31 21:15] owocki commented on #6813
@psudoanon how goes?  when will you have a PR?

[2020-08-01 10:10] NutToKul opened #7174 "🙏"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [x] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-08-01 10:13] NutToKul opened #7175 "Get your money."
### Discussion

[comment]: # (What conversation would you like to facilitate?)

[2020-08-02 03:34] molecula451 commented on #7172
Got a light mock of the card by here, but really unsure if this what you are looking as details are very short, maybe you want something simple :), eager to see @L-KH mock tho

![FD425DE0DD753A59C5657F487C9D67531NFRONT1](https://user-images.githubusercontent.com/41552663/89114927-8eb5b780-d44f-11ea-94d1-720ab4dcead7.jpg)

[2020-08-02 19:04] L-KH commented on #7172
Here what I made for now.
**front Ace:**
Please let me know which one you think looks good. left: all Ace; right: only Ace diamonds
![1](https://user-images.githubusercontent.com/12660772/89130199-dc3b2e80-d4fa-11ea-884d-9c5a2014a5e1.png)

**back of cards:**
![Untitled-1](https://user-images.githubusercontent.com/12660772/89130215-f248ef00-d4fa-11ea-82f0-e11d655624b1.png)

I still try to make the

[2020-08-03 10:14] L-KH commented on #7172
Ace from printerstudio:
![0B1FE09F002A57612EC7B4354816E5C61NFRONT6](https://user-images.githubusercontent.com/12660772/89172372-70000f80-d57a-11ea-9603-85c4899e89cc.jpg)

[2020-08-03 12:29] #7175 closed

[2020-08-03 12:29] #7174 closed

[2020-08-03 17:34] Anoof opened #7177 "Bug: Redeem Kudos button does not get enabled on timer end after quest completion"
Description:
"Claim Kudos" button stays disabled and text says (free in) without the timer

To Reproduce:
1. Complete a quest and claim Kudos
2. Wait for timer to end and try clicking on Clam Kudos

Expected behavior:
Timer countdown gets hidden and button gets enabled (disabled attribute is removed from input id ="recieve" class="btn btn-gc-purple")

**Screenshots**
![snap1](https://user-images.g

[2020-08-03 17:37] Anoof commented on #7177
Maybe there needs to be an undefined check on "kudosNumClonesAvailable" to fix this issue?
Or that might be an unrelated variable throwing reference error in the console

[2020-08-04 07:36] #7096 closed

[2020-08-04 13:21] owocki commented on #7172
for the backs, i tend towards 2-1 and 2-1, but i think the logo clashes with the green too much.  i like these iphone wallpapers did ( https://bits.owocki.com/eDuBvrpO ) , maybe theres an iopportunity to re-use that color pallette?

for the fronts, i like 1 over 2.  but for the spades and clubs, the color should be black not red.

before we move forward, can you be sure these are all in a format /

[2020-08-04 13:50] owocki opened #7178 "export grants data for anti sybil purpose"
write a script that exports all contributoin data for a privileged (nda'd) third party to do sybil analysis

must export all contribution/subscriptoin info, and also ip addresses, sms verfication data, on chain analysises, etc.

but NOT sensitive info like emails or SMS data (we dont store the latter anyway)

[2020-08-04 13:51] owocki opened #7179 "Re-skin the /mission page"
https://www.figma.com/proto/sqaqM0ebATZU48xUei5RVX/Gitcoin-Landing-Page-_Mission?node-id=179%3A3&scaling=min-zoom

This page is the beating heart of the "why" behind gitcoin. it should look up to date.

[2020-08-04 14:03] PixelantDesign commented on #6622
Here is the video  @vs77bb @connoroday please review https://www.loom.com/share/8ac34c03beec47e0ae18ae8e7e10aaa6

[2020-08-04 17:42] vs77bb opened #7180 "One Hacker, One Bounty, Multiple Submissions"
As a hacker, I want to make multiple submissions to a hackathon / to a specific bounty in certain cases ([like the Sia hackathon](https://gitcoin.co/issue/NebulousLabs/Skynet-Hive/5/100023460)).

[2020-08-04 19:26] frankchen07 opened #7181 "As a Gitcoin operator, hackathon registrants that actually take the time to fill out the registration form and doesn't just skip questions lead to higher quality applicants."
### User Story

As a Gitcoin operator, hackathon registrants that actually take the time to fill out the registration form and doesn't just skip questions lead to higher quality applicants.

### Why Is this Needed

We currently have too many null responses for open ended questions, which hurts not only our ability to evaluate applicants, but doesn't provide useful data for other registrants to dis

[2020-08-04 20:08] frankchen07 commented on #7090
@connoroday - should I be up to date with AddEvent or do you already have coverage there?

Is this a feature of AddEvent, or something we have to do?

[2020-08-04 20:59] jdorfman commented on #7090
@frankchen07 I think @connoroday got it working by syncing Google Cal with AddEvent so we are good there for now. @connoroday please correct me if I'm wrong.

[2020-08-05 06:42] NutToKul commented on #7174
Hi I need your help.

[2020-08-05 15:07] L-KH commented on #7172
@owocki

sorry can't figure out what exactly you mean about palette!! should I make like a rainbow? check the example image in the right and let me know if there is modifications color/shapes.
here are also King card. I made 3 different versions, check which one you think looks good. and for sure let me know about modifications.
![Untitled-3](https://user-images.githubusercontent.com/12660772/8942

[2020-08-05 15:26] owocki opened #7182 "hackathon index page is slow"
[code]

this should be no more than 0.5s

[2020-08-05 15:55] jdorfman opened #7183 "Daily Digest Email is Clipping"
**Describe the bug**

When Gitcoin sends out a Daily Digest Email, the message is over 102 KB which means Gmail (and other clients) clip the message.

**To Reproduce**

Subscribe the Daily Digest and or check out:

* https://gist.github.com/jdorfman/9135252a45775c7bef24940046043802 (HTML = `108 KB` - `6 KB` over)

**Expected behavior**

Show the whole message, **NOT** say `[Message Clipped] View e

[2020-08-05 16:00] owocki commented on #7183
i think a good first thing to do is removing 99% of the CSS in the file. right now it includes some rather large files, and factoring out whats relevant to the email is key..

[2020-08-05 18:19] owocki commented on #7172
i like what you've done with the back you posted below.

cool! i like what you've done here (though the red ones on the left seems a bit busy).

looks great!

[2020-08-05 18:20] owocki commented on #7172
next, would love to do a mock of the cards

[2020-08-05 18:38] octavioamu opened #7185 "General onboard"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to have an onboard where I can understand what is the products proposal
As a costumer user (org owner) I want to have an onboard where I can understand what is the products proposal

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the cur

[2020-08-05 19:08] jdorfman opened #7186 "Daily Digest Subject Cleanup"
**Describe the bug**

Currently, this is an example of a subject from the Daily Digest:

`💬 63 Chats, 📣 1 Announcement, 💰44 Bounties, 🛠📆5 Events, 🎯1 Quest, ⚡️ 1 New Action, 👤1 Trending Avatar`

**To Reproduce**

Subscribe to the Daily Digest and or check-in Sendgrid.

**Expected behavior**

**Best practices:**

* Subject line to be less than 9 words
* We suggest using no more than 1 Emoji
* Keep y

[2020-08-05 20:23] PixelantDesign commented on #6870
@molecula451 are you interested in helping us  on this?

[2020-08-05 21:01] owocki opened #7187 "As a user who wants to know what Gitcoin is, I want a new landing page so I can just see what I can do on Gitcoin in one place"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user who wants to know what Gitcoin is, I want a new landing page so I can just see what I can do on Gitcoin in one place

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Su

[2020-08-05 21:18] owocki opened #7188 "sybil score notes"
- hidden profiles
- who have only contributoed to one other user
- lagos
- based upon funding origination account

[2020-08-05 21:19] owocki commented on #7188
Is the CloseSXource Investigation.create()

[2020-08-05 21:20] owocki opened #7189 "Add avatars created to profile and creative stats"
avatar artists probably deserve to get credit for the avatars they've created.  could add this on a tab similar to kudos

[2020-08-05 21:21] owocki opened #7190 "Fix grant nav sort issue"
right now when u sort  or choose a category it resets the search/sort.

that code is junk +needs rewritten

[2020-08-05 21:29] owocki commented on #7188
do blockchain analysis of degrees of accounts owned by each profile + seperation between accounts

[2020-08-05 21:30] owocki opened #7191 "update update_tx_status to handle dropped/replaced txns"
dropped and replaced txns. why dont they auto update?  it should update the txid

https://gitcoin.co/_administrationgrants/contribution/25079/change/

[2020-08-05 21:34] owocki opened #7192 "make upcomingdates into a townsquare calendar widget"
the hackathons dates on the townsquare are not the only dates people should know about

anything in the townsquare.models.UpcomingDate objecvt should show there.

[2020-08-05 21:44] owocki opened #7193 "as a connor, i want a admin button to unban a profile who was removed from a bounty, so i can do customer support"
as a connor, i want a admin button to unban a profile who was removed from a bounty, so i can do customer support
just needs to remove the no_times_been_removed_by_staff user action

[2020-08-05 21:46] owocki opened #7194 "empower a group of moderators to study the anti sybil data"
for solexplorer i need to setup your ability to view the anti sybil dashboard.  and i need to automate the sybil ring detection so that it feeds into anywhere we pay users and gives u a warning “warning: this user is part of a sybil ring with person x,y,z”
give solexplorer staff, make REQUIRE_SUPERUSER = True, and hide admin for non superuser admins - for anti sybil

[2020-08-05 21:47] owocki opened #7195 "add a gitcoin.co/explorer stale bounty filter"
##### Description

Gitcoin.co/explorer lists out the all the bounties available at the moment
Many times there are bounties which get old and the funder loses track of them

The requirement is to add a filter similar to [THIS](https://user-images.githubusercontent.com/5358146/90024715-d00d5900-dcd2-11ea-96ec-92c5f8bd195f.png) in the [My bounties section](https://user-images.githubusercontent.com/5

[2020-08-05 23:13] L-KH commented on #7172
check this mock, **if** it's good then what cards should I use on this mock! (you didn't specify which king is good to use, 2 or 3?) and let me know about modifications. **else**(mock, not good) so I can create another version and send it asap
![Playing Cards Mockup](https://user-images.githubusercontent.com/12660772/89472682-e4080680-d778-11ea-9157-68de0a99f640.png)

hhh sorry about that. the rig

[2020-08-06 05:11] PixelantDesign opened #7196 "Profile Revamp WIP"
### User Story

As a hackathon/tribes sponsor I'd like to be able to get a good sense of a developer when I look at their Gitcoin Profile.

As a developer on Gitcoin I'd like to fully represent who I am so that potential sponsors and potential hackathon teammates can understand who I am.

### Why Is this Needed

Sponsors > Network
Network > Devs
Devs > Profile

Current Profile doesn't fully captur

[2020-08-06 09:39] thelostone-mc commented on #7192
I think we should show just upcoming hackathon as opposed to current + completed hackathons !
The goal is to get more users before the event starts -> once started i doubt folks would want to hop on (unless it's a really long hackathon)

RIght now logic is show 5 hackathons which hackathons team wanted was

- Any upcoming hackathons which start in. 10 days
- Running hackathons
- Hackathons which e

[2020-08-06 09:49] thesachinmittal opened #7197 "Community Hackathons Explorer - for communities intending to organise hackathons around the world"
## Discussion

Hi Fam,

Have been sitting on this idea for a while now. Here it goes:

Have a separate hackathon explorer for community hackathons where organisers can request us to create a hackathon and use Gitcoin as a platform. (No customise service)

### Who are these organisers?

We will run campaigns from BD side to invite different communities, and will host 3-5 community hackathons per mo

[2020-08-06 14:08] owocki commented on #7125
call notes:
- put everyone through BrightID for the bonus
- need a mock for the insterstitial ; @PixelantDesign will do that

[2020-08-06 14:10] owocki commented on #7125
Ed will work on this from a scopelift perspective.  Will sidebar with Adam on the tech stuff.

[2020-08-06 14:12] owocki commented on #7125
kevin/adam to sidebar on marketing for this

[2020-08-06 14:50] owocki commented on #7126
@PixelantDesign @willsputra on this

[2020-08-06 14:53] owocki commented on #7130
@PixelantDesign @willsputra

[2020-08-06 15:06] adamstallard commented on #7125
One other important note by @ubipromoter is that we can tell people at checkout that they still have 2(?) weeks to get verified after they've checked out to receive the brightid bonus match for their chosen projects.

[2020-08-06 16:02] owocki commented on #7187
should add stats to the lander too. makes us look legit

<img width="790" alt="Screen Shot 2020-08-06 at 10 01 44 AM" src="https://user-images.githubusercontent.com/513929/89554259-dc258200-d7cb-11ea-868a-ee788045a4ce.png">

[2020-08-06 16:11] owocki commented on #7192
why just hackathons though?  lets list all *upcoming* events?

[2020-08-06 17:12] owocki opened #7201 "daily email v2"
things to update:

- Save The Date” is way too long and confusing. I suggest remove “Start” and “End” and consolidate it into object
- justin needs a way to update Add Event Code ( https://bits.owocki.com/OAuqRYGX)
- avoid ways to show OPs multiple times ( https://bits.owocki.com/o0u8k5Zb )
- show only high engagement town square posts
 - Make the links blue in announcement section
- move up the '

[2020-08-06 17:31] jdorfman commented on #7201
@owocki don't forget #7183

[2020-08-06 18:08] frankchen07 opened #7202 "Discussion: How can we empower our users to be community curators?"
### Discussion

How can we empower our users to be community curators and leaders?

### Description

Gitcoin Tribes has the common unit of denomination where we aim to form communities around organizations. But what about communities around aligned interests and skills? For example, if there is a rich ecosystem of Filecoin developers on Gitcoin, why can't there be levels to it, with communities ar

[2020-08-07 10:01] scottie commented on #5326
we need dreadlocks ! and beards !!

[2020-08-07 10:09] scottie commented on #1550
Should be able to change colour of hair individually not linked to beard.

[2020-08-07 12:46] #7113 closed

[2020-08-07 15:06] PixelantDesign commented on #7197
Bringing offline communities online, not thread as an exclusive Hackathon. Allow the communities to manage themselves through a nested explorer.

[2020-08-07 18:31] L-KH commented on #6977
I like this show more button: https://github.com/gitcoinco/web/issues/6977#issuecomment-655399409
also, auto-load after scroll will be perfect.

[2020-08-08 02:10] PixelantDesign opened #7205 "As a developer on Gitcoin, I'd like to see the entire month's events in the right rail of the hackathon."
### What
Prev discussed with Aditya....on Townsquare change logic on Hackathon module right rail to 30 days out.

### Why
We want to promote hackathons in advance and get early hacker registration.

[2020-08-08 05:52] thelostone-mc commented on #7205
https://github.com/gitcoinco/web/pull/7199

[2020-08-08 05:52] #7205 closed

[2020-08-08 19:24] imtiaz101325 commented on #7190
Is this task up for grabs? I would like to have a go at this.

[2020-08-08 21:01] Anoof commented on #7177
$("#free_countdown").remove();
$(".btn-gc-purple").removeAttr('disabled');
these need to be called, possibly in app/assets/v2/js/pages/kudos_bulk_receive.js
when coupon.paid_until == 0
I can make the change, just need to know how should the function be triggered in kudos_bulk_receive.js
Maybe using a setTimeout function? But how to access coupon.paid_until in kudos_bulk_receive.js ?

[2020-08-08 21:12] Anoof commented on #7177
@owocki Looks like this functionality was added in #6520
The trigger for automatic enabling of redeem button is missing, causing users to be unable to click on redeem button indefinitely ( unless they pay the gas fees )

[2020-08-10 06:48] willsputra commented on #7130
brainstormed a bit on this. thoughts?

additional page that's not here yet:
• a section on someone's Profile that shows their grants collections
• a button in Cart that allows people to add "all grants in this cart to collection"

![grants collections](https://user-images.githubusercontent.com/19514207/89757579-4154dc80-db18-11ea-876d-4db4b88e7984.jpg)

[2020-08-10 13:09] #7139 closed

[2020-08-10 13:11] PixelantDesign commented on #6870
@thelostone-mc fixing hackathon  display to 28  days

[2020-08-10 13:20] PixelantDesign commented on #7141
Depends what happens with onboarding

<img width="1451" alt="Screen Shot 2020-08-10 at 9 19 38 AM" src="https://user-images.githubusercontent.com/238235/89786905-a98cc980-daea-11ea-93ad-9d0b48bae38f.png">

[2020-08-10 13:20] #5669 closed

[2020-08-10 13:31] PixelantDesign opened #7208 "Hack Registration Flow - skip questions & intro template"
### User Story

As hacker on Gitcoin I'd like to have a seamless experience joining Gitcoin hackathons.

### Why Is this Needed

We want to get more hackers in, finding teams, hacking  as quick as possible.

### Description

- [ ] If hacker has participated in previous hacks allow the person to skip certain questions.
- [ ] Provide a few template ideas as hint text to help hackers write great intr

[2020-08-10 13:39] PixelantDesign opened #7209 "Hackathon Registration Flow - Onboarding page update"
### User Story

As a hacker participating in Gitcoin hackathons, I'd like an improved hackathon onboarding page that makes me excited to participate in Gitcoin hackathons.

### Why Is this Needed

- [ ] Not applealing hackathon onboarding page
- [ ] Outdated how it works info
- [ ] Wisywig editor is broken
- [ ] Potentially adda Tour
- [ ] Potentially add skills needed section
- [ ] Share via soci

[2020-08-10 13:56] owocki commented on #7177
got it; good find  if anyone wants to bug fix i'm happy to tip them!

On Sat, Aug 8, 2020 at 3:12 PM Anoof Shaikh <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-10 14:06] Anoof commented on #7177
Will try fixing it on my own, I will raise a PR as soon as I have the fix in my local setup

[2020-08-10 16:01] owocki opened #7210 "product feedback email is not formatted as html as it should be"
https://bits.owocki.com/v1u2roxo

[2020-08-10 16:04] owocki commented on #6235
@danlipert mind paying this out?  @molecula451 pinged me on chat as a reminder about this

[2020-08-10 16:04] PixelantDesign commented on #7125
@adamstallard do you have the list of steps?  How many people are required to be considered as verified? I'm showing  3, will is showing 5, we are both unverified.

[2020-08-10 16:23] owocki opened #7211 "make sure txn validator is 100% working"
make sure txn validator is 100% working by checking latest grants txns to see that they worked

[2020-08-10 17:12] owocki commented on #7201
@zoek1 any interest in this one?

[2020-08-10 17:30] owocki commented on #7129
chatted with a few people about this; and we'd need a staking infrastructure/governance infrastructure to do this correctly. so pushing it back to round 8

[2020-08-10 18:35] owocki commented on #7130
thanks for taking a stab!

some thoughts:
1. on the grants index page, there should def be a 'see all collections' filter.
2. lets not bother with 'add grant to your collection'. i think the add to cart functionality + 'save cart as collection' functionality should give us all of the tools we need to create groups of grants; without duplicating space on the UI (or code on the backend)

[2020-08-10 18:35] owocki commented on #7166
@willsputra can i has a design for this one?  @zoek1 starting on it soon.

[2020-08-10 18:45] owocki opened #7213 "HackerScore"
The purpose of this ticket is to begin to define a metric called "HackerScore" on gitcoin, a programmatic measurement of quality for hackers.

We will follow the SybilRank pattern of:
1. give each user a hackerrank that is indexed and quantifiable
2. add a description to each users admin explaining how a hacker score was calculated

Without further adeau, hacker score will be the following:

1. Do

[2020-08-10 19:55] Anoof commented on #7177
#7214
@owocki this fix should work, I've tested on my local with test Kudos set with that paid_until variable.

[2020-08-10 21:38] vs77bb commented on #7185
Categories: Open Finance / DeFi,  Non-Fungibles & Gaming,  Marketplace, Token Economics, Infrastructure / Research, Community Building, DAO's & Governance

[2020-08-10 21:38] octavioamu commented on #7185
Agreements
- add short bio
- Add interests keywords

[2020-08-10 21:39] frankchen07 commented on #7185
+ possible third modal (at the suggestion of octavio)

[2020-08-10 21:52] vs77bb commented on #7185
Should we invite the avatar builder as optional in this flow as well?

[2020-08-10 22:39] adamstallard commented on #7125
We're working on finding a high-confidence method for getting verified. Our best so far is: find a community, make connections, if not yet verified find another community, make connections.

[2020-08-10 23:00] frankchen07 commented on #7185
What subsets of blockchain do you have experience in, or are you most interested in right now?
- Decentralized Finance
- Non-Fungibles & Gaming
- Marketplaces
- Token Economics
- Infrastructure & Research
- Community Building
- DAO's & Governance

2. The bio / introduction can take the format of something like this:

![Screen Shot 2020-08-10 at 15 54 51](https://user-images.githubusercontent.com/7

[2020-08-11 03:08] zoek1 commented on #6870
i'll work on this and #7014, i'll push some changes here asap.

[2020-08-11 04:25] PixelantDesign opened #7216 "Display participants for pre hack dev experience"
### User Story

As a user I 'dl ike to know who are the notable participants so that I can decide whether to participate in the hackathon.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Does not exist/can be improved

If we build this, then more ha

[2020-08-11 13:01] willsputra commented on #7166
@owocki @zoek1 what do you think? cc @PixelantDesign
![list view](https://user-images.githubusercontent.com/19514207/89900019-beb24700-dc15-11ea-8a32-8e43801ce85c.jpg)

[2020-08-11 14:02] PixelantDesign opened #7217 "Application Based Hackathon + Ability to Accept/Reject Hackers"
### User Story

As an operator of  Gitcoin, I'd like to have the ability to curate quality hackers  to ensure that our platform consists of only quality hackers.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:  To ensure quality developers are on th

[2020-08-11 14:09] PixelantDesign opened #7218 "Connect Devs with Similar Interests"
### User Story

As a developer on Gitcoin, I'd like to meet other developers that share the same interests so that I can form connections and build meaningful relationships on Gitcoin.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Not easy to meet

[2020-08-11 15:14] willsputra commented on #7130
@owocki noted! another stab:

'Save Cart as Collection' flow
![save collection](https://user-images.githubusercontent.com/19514207/89914851-35584000-dc28-11ea-9951-87216a8bf8f1.jpg)

'View Collections' filter on grants index
![filter](https://user-images.githubusercontent.com/19514207/89914989-60db2a80-dc28-11ea-8196-7f26bababc79.jpg)

On profile
![profile](https://user-images.githubusercontent.co

[2020-08-11 15:52] PixelantDesign commented on #7098
@sanchaymittal could we leverage the quality filter on tribe townsquare that @owocki has implemented on main townsquare?

[2020-08-11 16:30] SilentCicero commented on #7127
Hey Kevin, is this issue still open, Fuel would like to chat @owocki

[2020-08-11 16:37] owocki commented on #7127
Yes pls!  @SilentCicero wanna email me to set soemthing up? kevin@gitcoin.co

[2020-08-11 16:38] SilentCicero commented on #7127
On it @owocki

[2020-08-11 16:53] owocki commented on #7166
first glance: i wonder if we can save space by moving the green info (DAI + match info) under the Call to Action button.

otherwise, seems directionally correct.

[2020-08-11 16:56] owocki commented on #7172
@L-KH looks amazing! pls proceed.

[2020-08-11 16:57] owocki commented on #7172
@L-KH could we add the gitcoin.co url somewhere in a tactful place ont he card backs?

[2020-08-11 16:59] owocki commented on #7166
I think at some point a single-line list without anything except the link and a 1-line description might be worthwhile too.  maybe you could just only see the desc (and who posted the grant) on hover.  (or click to expand + unexpand)

just to exteremely save space, like a lot.

[2020-08-11 18:21] PixelantDesign commented on #7216
Idea: 48 verified hackers have registered - social proof

[2020-08-11 21:03] dancespiele opened #7222 "I don't see how can update the twitter in my grants"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
I want to update the link of the twitter of my Grants because I wrote wrongly however it looks that I cannot do it or I cannot find it

[2020-08-11 21:43] dancespiele opened #7223 "I cannot cancel my Grant"
**Describe the bug**

I try to cancel the grant to create a new one because I cannot see the way to update the twitter link but when I click in the button cancel this grant I get a Modal which I click in the confirm button but nothing happens
**To Reproduce**

* Go to your Grant profile
* Click in the button `Cancel this Grant`
* In the modal click again `Cancel this Grant`
* You will see that not

[2020-08-11 22:16] owocki commented on #7223
@zoek1 i think we need to migrate the gratns (which previously relied upon a contract to cancel) to be able to be canceled directly in the DB

[2020-08-12 00:44] frankchen07 opened #7224 "As a hackathon sponsor, it is difficult to chat technical project details with developers at the beginning and the middle of a hackathon."
### User Story

As a hackathon sponsor, it is difficult to chat about technical project details with developers at the beginning and the middle of a hackathon.

### Why Is this Needed

One of the key features of a successful _in-person_ hackathon is the ability for a sponsor to walk around, chat with developers, answer questions about their technology, and also facilitate knowledge sharing of exis

[2020-08-12 05:38] 3scava1i3r opened #7225 "add more badges to the readme file"
### What
add more badges and delete the end image
### Why
end image is not responsive and badges will add better visual feel and better social media reach

[2020-08-12 07:29] thelostone-mc commented on #7151
closing this out ! if it still happens -> please reopen with more information like what @octavioamu had asked

[2020-08-12 07:29] #7151 closed

[2020-08-12 07:30] #6804 closed

[2020-08-12 07:30] #6802 closed

[2020-08-12 11:10] #7181 closed

[2020-08-12 12:50] danlipert commented on #6235
My bad! closing it out now

[2020-08-12 12:58] willsputra commented on #7166
@owocki yeah that makes sense!

two alternatives:
1. More space
![Frame 5](https://user-images.githubusercontent.com/19514207/90017657-701caf80-dcde-11ea-8024-a7a3d4c63958.jpg)

2. More compact
![Frame 6](https://user-images.githubusercontent.com/19514207/90017668-7579fa00-dcde-11ea-9c1a-5b17d4904a5c.jpg)

[2020-08-12 13:04] #7177 closed

[2020-08-12 14:13] owocki commented on #7166
@willsputra strong prefernce for 'more compact' pls!

can i get a mock with a on-hover indicator that fills out the rest of the info when u hover on a grant?

[2020-08-12 16:02] willsputra commented on #7166
something like this for the hover state?
![grants](https://user-images.githubusercontent.com/19514207/90038618-348edf00-dcf8-11ea-9741-87d070a280b9.jpg)

[2020-08-12 16:38] owocki commented on #7166
i dont think we need the match info in two places.  i'd just move the description into the on-hover state coimpletely + remove the match info from the on-hover state.

[2020-08-12 17:17] owocki commented on #7130
this looks great to me!  👍 from me; @PixelantDesign ?

[2020-08-12 19:04] nya-elimuai commented on #7151
@octavioamu The bug is perhaps caused by the fact that you are trying to add GitHub usernames of people that have not created a Gitcoin account?

[2020-08-12 19:16] PixelantDesign commented on #7130
looks great! Does clicking on the title take the user to (grants profile) to see the list of  grants in the collection?

[2020-08-12 19:21] PixelantDesign commented on #7166
Can we use  less green @willsputra , that was one  of the pieces of feedback from Andre that I agreed with. Preserving color for very important  information.

[2020-08-13 14:34] owocki opened #7231 "Integrate AnySender also"
Integrate AnySender also

[2020-08-13 14:40] owocki opened #7232 "great gitcoin bakeoff - make integration of a L2 checkout self service."
we get approached here & tehre by L2s that want their tech in gitcoin grants.

the goal of this ticket is to make that self service.

scope - come up with a readme.md that
1. describes how to integrate your L2 checkout into gitcoin
2. inclusive of checout experience + validator
3. completely self serve

[2020-08-13 14:40] owocki commented on #7232
@mds1 how does this look?

[2020-08-13 15:01] owocki commented on #7133
@PixelantDesign is this ongoing?  should i back it out of the backlog for round 7 + reconsider for round 8?

[2020-08-13 15:06] owocki commented on #7128
@thelostone-mc @frankchen07 can i mark this as done :P ?

[2020-08-13 15:44] danlipert opened #7233 "Disable image embed for grants description (or limit it)"
Recently a grant was created with a rich_description that contained an encoded PNG file that was several hundred KB - this caused the markdown renderer to hang the browser as it attempted to decode it. We should limit or disable the ability to embed images in grants descriptions.

[2020-08-13 15:48] mds1 commented on #7232
Looks good. Some others things to cover:

- Account for what tokens are supported, e.g. all tokens, a whitelist, etc.
- If there's a delay between deposit to L2 and when you spend, consider what to do with that delay, such as email reminders when deposit is complete (if user has to re-visit site to finalize), or saving things in browser storage or DB

Will add more comments here as I think of thin

[2020-08-13 16:10] willsputra commented on #7130
hmm yea ideally we could have a "collection detail" page where you can see the list of grants and related stats. or we could also display the list of grants when you hover over the cards.

[2020-08-13 16:20] willsputra commented on #7166
this?
![list](https://user-images.githubusercontent.com/19514207/90160064-da5b5000-ddc3-11ea-81cc-d54baf09dc4e.jpg)

[2020-08-13 16:51] frankchen07 commented on #7128
@owocki, yes you may, aditya removed it when he was making data structure changes

[2020-08-13 16:52] frankchen07 opened #7235 "add self-reporting analytics to clr.py & estimate.py"
### User Story

add self-reporting analytics to clr.py & estimate.py

### Why Is this Needed

post-round analytics are helpful to determine how the round went

### Description

add self-reporting analytics to clr.py & estimate.py

### Current Behavior

jenky-hacky analytics

### Expected Behavior

use a module, fronk

### Definition of Done
- [ ] analytics module

[2020-08-13 20:53] PixelantDesign opened #7236 "After Choosing a Winner, payout doesn't recognize who I want to pay"
### User Story

As a sponsor of a Hackathon, after choosing a winner, payout doesn't recognize who I want to pay

### Why Is this Needed

Our system should be smart

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

### Current Behavior
[comment]: # (Describe what actually happened.)

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

### D

[2020-08-13 21:42] molecula451 opened #7237 "Issue on Timeline Vision page"
**Describe the bug**

The data attribute time on the div element is narrowing the vision and it's not showing actual text on https://gitcoin.co/vision

**To Reproduce**

Go to https://gitcoin.co/vision check the timeline

**Expected behavior**

Good data view

**Screenshots**

## Live site

![visionbreak](https://user-images.githubusercontent.com/41552663/90196787-c3543800-dd9a-11ea-9ed8-443609a5c

[2020-08-13 23:26] molecula451 commented on #7237
@thelostone-mc

[2020-08-14 12:18] #7237 closed

[2020-08-14 13:12] mds1 commented on #7231
Estimates from @stonecoldpat on potential gas savings and sample contract implementations: https://gist.github.com/stonecoldpat/b684db955220932f2354d79025e5de5b

Doc from @yahgwai on integration details (excluding Gitcoin-specific things like the transaction validator): https://docs.google.com/document/d/1g_uae5q-oJb7HYw73jVP5Ymm-qAV71rvwNenGBLMkRk/edit?usp=sharing

[2020-08-14 14:19] willsputra commented on #7126
thoughts?

grants index (with an explanation on hover, maybe we also need a wiki page on how to get verified):
![index](https://user-images.githubusercontent.com/19514207/90258946-d25ee700-de7b-11ea-8a2f-dd4580ae8ab0.jpg)

grant detail (verified)
![detail_verified](https://user-images.githubusercontent.com/19514207/90258974-dab72200-de7b-11ea-9a21-9e24e24dde2d.jpg)

grant detail (unverified)
![det

[2020-08-14 14:45] L-KH commented on #7172
Here I want to show my progress:

![image](https://user-images.githubusercontent.com/12660772/90261451-de7b8200-de44-11ea-8c27-108b6efa4897.png)
I am working now on Jack and Joker. let me know for modification about King and Queen.

noted.

[2020-08-14 15:11] #7158 closed

[2020-08-14 15:13] PixelantDesign commented on #7141
Where does this fit in, in general onboarding?

[2020-08-14 15:32] willsputra commented on #7130
@owocki @PixelantDesign when we have cross-chain, say if I have Eth grants and Zcash grants added to cart - should "Save as Collection" save only one chain (the active tab) or both chains? what do you think?

[2020-08-14 16:39] #6013 closed

[2020-08-14 21:53] faten990 opened #7239 "Thank you"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-08-16 05:10] owocki commented on #7166
amazing!

On Thu, Aug 13, 2020 at 10:20 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-17 12:55] PixelantDesign opened #7241 "Include Social Proof Info in Hack Onboarding"
### User Story

As a developer, I'd like to know out of the people I know are participating in a Gitcoin hackathon.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### C

[2020-08-17 13:17] owocki opened #7242 "CODE - new Mission page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
CODE the new mission page design

### Why Is this Needed
Mission page is outdated

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug

[2020-08-17 13:18] owocki commented on #7242
@zoek1 or @developerfred u want this?

@octavioamu @thelostone-mc anything to note before this gets assigned?

[2020-08-17 13:36] PixelantDesign commented on #6695
https://github.com/gitcoinco/web/issues/7148

[2020-08-17 13:42] willsputra commented on #7125
some design drafts cc @PixelantDesign

1. Info on Grants Cart
![cart](https://user-images.githubusercontent.com/19514207/90402518-25ca7280-e0d2-11ea-9f6b-5c921b2d90ee.jpg)

2. Trust Score tab on profile + BrightID verification step
![trustscore](https://user-images.githubusercontent.com/19514207/90402535-2d8a1700-e0d2-11ea-9f38-3312e121f653.jpg)

additional stuff that might be needed:
- an email t

[2020-08-17 13:48] willsputra commented on #7166
thanks!

figma file ("Grants List View" page) :
https://www.figma.com/file/GLvOGLbovtU8scAnIHochM/Grants-Round-7?node-id=43%3A2

[2020-08-17 13:48] willsputra commented on #7130
figma file ("Grants Collection" page):
https://www.figma.com/file/GLvOGLbovtU8scAnIHochM/Grants-Round-7?node-id=1%3A3

[2020-08-17 13:58] PixelantDesign commented on #7125
Awesome! Agree.  ....could be something like this:

Promo on Gitcoin Grants homepage > take users to do bright ID up front > once verified >get an email> checkout.

Hmm, wee really need to do bright ID upfront, even before then grants round starts if possible.

[2020-08-17 14:01] PixelantDesign commented on #7242
@sebastiantf ^?

[2020-08-17 14:21] sebastiantf commented on #7242
@PixelantDesign @owocki I can pick this up

[2020-08-17 14:28] octavioamu commented on #7242
@owocki left my comments on the design file.

[2020-08-17 14:32] owocki opened #7243 "grants - cant checkout on mobile"
the cart view doesnt load on mobile
![2020-08-15 13 53 04](https://user-images.githubusercontent.com/513929/90407791-22989d80-e064-11ea-8432-3775d5b296da.png)

[2020-08-17 14:32] owocki commented on #7243
@developerfred @zoek1 any interest in this one

[2020-08-17 16:09] adamstallard commented on #7125
@willsputra

The "additional stuff" you outlined sounds good.

There is one step I don't see: linking BrightID to Gitcoin. The way it works is user clicks somewhere (if viewing the site on mobile) or scans a QR with their phone (if viewing the site on desktop) and that opens up the BrightID app and asks them if they want to link their account. This step can be done any time after downloading the a

[2020-08-17 17:43] owocki commented on #7130
active tab makes most sense to me

[2020-08-17 17:44] owocki commented on #7166
@zoek1 go for it!

[2020-08-17 17:44] owocki commented on #7242
thanks; @sebastiantf go for it; can ya get a PR together this week!

[2020-08-17 17:48] owocki commented on #7125
These look really good! I dont have any immediate comments rn; but will fish around for more comments.

I agree we need these.

- an email to announce Trust Score feature to users
- an email to confirm a user's registration to a community call. it should have the Zoom link, date/time, and maybe an "add to calendar" button
- some way to inform users that they can verify within X weeks after funding

[2020-08-17 17:57] owocki commented on #7125
keep an eye on twitter ppl! https://twitter.com/owocki/status/1295419437806313472

[2020-08-17 18:37] PixelantDesign commented on #6622
Just viewed with @vs77bb and @frankchen07 , could we deploy @danlipert

[2020-08-17 18:52] owocki commented on #7125
from twitter: https://twitter.com/itspublu/status/1295422251710451713

[2020-08-17 18:55] PixelantDesign commented on #6695
Airmeet + Add Event
Having event prominent on the explorer.
How do we make events and airmeet the new normal?

[2020-08-17 18:57] frankchen07 commented on #7224
sort of making it a new social norm on getting in contact

new chat is left tabbed (is this going to work)
maybe events tab is a good place to surface
add event + airmeet?
calendly + airmeet?

[2020-08-17 20:29] adamstallard commented on #7125
So @owocki for round 7, are we stacking bonuses?  So you get the maximum bonus if you do both SMS and BrightID?

[2020-08-17 20:33] adamstallard commented on #7125
For our current meet calls, we have registration pages. (Check out one of the links on https://www.brightid.org/meet .) They will email you reminders and add it a calendar.  It's pretty ok.

[2020-08-17 20:52] owocki commented on #7172
looks good! (except the line heigh ton the crowdn fo rthe queen is inconsistent)

[2020-08-17 20:54] owocki commented on #7126
@willsputra this looks really good!

i think one thing that missing though will be a modal that takes the grant owner through the verification process.  ie, a wiki page will likely not be enough.   we'll probably need something on the yellow box here ( https://bits.owocki.com/v1u24Ewq ) that says "Click here to verify your grant" and it'll take the user through a process where they can

1. send a

[2020-08-17 21:57] owocki commented on #7125
I need to think this through first. Feedback welcome

On Mon, Aug 17, 2020 at 2:34 PM Adam Stallard <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-17 21:57] owocki commented on #7125
i need to think this through:

@frankchen07 can i just add a 'bonus multipler' on the contribution object, that you can feed into your grants/clr.py code?

[2020-08-18 03:20] PixelantDesign commented on #7126
Looking good. Yellow alert is a little hard to read @willsputra

[2020-08-18 03:26] PixelantDesign commented on #7133
![Match_Visual](https://user-images.githubusercontent.com/238235/90466751-8cef2380-e0e0-11ea-891d-a4364533fe8b.png)

In general a screen in between directly adding to cart will be another step in in the decision making. I'm thinking we should provide a few options that users can click without having to think too much as well as a diagram option for those who really want to play with it. It definit

[2020-08-18 08:11] zoek1 commented on #7166
Yeah, working on this! :+1:

[2020-08-18 11:32] willsputra commented on #7126
@PixelantDesign @owocki  I've made the text darker!

1. Grant owner flow
![owner](https://user-images.githubusercontent.com/19514207/90507936-4f92a080-e189-11ea-85e4-cdfc178c890a.jpg)

2. Contributor flow - what do you all think of making the warning stronger (funder needs to click "I understand" before they can add to cart? good suggestion here https://twitter.com/itspublu/status/1295467869480919

[2020-08-18 11:36] willsputra commented on #7125
@adamstallard  noted! will add this.

@owocki workin on it :)

[2020-08-18 11:47] thelostone-mc commented on #7243
![Screenshot_20200818-171613](https://user-images.githubusercontent.com/5358146/90509237-9f1ba100-e176-11ea-9a6b-19e475a04d17.jpg)

Seems to be loading for me!

Did you have items on the cart ?
Also which browser?

[2020-08-18 11:51] thelostone-mc commented on #7242
@sebastiantf when you take this up! delete the current mission HTML + css and start fresh as this is big change !
This would ensure we have no dead code ^_^ (and you know the rest -> use bootstrap + existing classes as much as possible )

[2020-08-18 13:31] owocki opened #7246 "Revisit the matching partner, matching funds sales,onboarding,escrow process"
Revisit the matching partner, matching funds escrow process
- The trust model (gitcoin founders hold the matching funds until they are distributed)
- Right now we have to slide into the DMs of anyone on the team in order to donate matching funds.

[2020-08-18 13:48] vs77bb opened #7247 "Quests [Other Things?] That Lead To Access To Different Communities"
As a user, if I do ____ quests or otherwise prove myself, I should get access to specific communities / for the work I do.

Same with kudos. The trust that I get allows me to build better relationships within my community.

[2020-08-18 13:50] vs77bb opened #7248 "Build A Townsquare Direction"

[2020-08-18 13:52] vs77bb commented on #7248
Help build trust between people in our community.

![image](https://user-images.githubusercontent.com/23297747/90521393-77a5e380-e138-11ea-8b04-2b9fe99dfea4.png)

[2020-08-18 13:53] vs77bb commented on #7248
**- Grants**
**- Hackathons**

--> Tagging ticket: Project, Grant.

[2020-08-18 13:56] vs77bb opened #7249 "Connect All Interests / Themes Across Gitcoin System"
- Gitcoin Grants Categories
- Project Subcategories
- Individual users and interests

So that we can tie them together.

[2020-08-18 14:20] willsputra commented on #7125
some email drafts:

![trust score intro](https://user-images.githubusercontent.com/19514207/90524619-df901480-e1a0-11ea-9776-3a7c80f3596e.jpg)

grants thank you email:
![contribution success email](https://user-images.githubusercontent.com/19514207/90524701-f9315c00-e1a0-11ea-8f9b-7fa83005cad6.jpg)

[2020-08-18 14:49] PixelantDesign commented on #7098
**Convert to Grant**

Who can create a grant? Winner, sponsor, Gitcoin admin

When project is converted to a grant - what happens to the project?
- Preserve activity
- Note on activity when the project was converted too a grant
- Note who converted to a grant

[2020-08-18 18:33] apbendi commented on #7126
A couple of questions:

First, which of these verification methods would you recommend prioritizing? I feel Twitter is actually harder to game, as the connected Twitter account will also carry some social proof weight.

Second, it seems the design has a binary "verified or not verified" status, and display a big check mark when either twitter or web is verified. It seems it would be very easy to m

[2020-08-18 18:41] owocki commented on #7126
Lets prioritize twitter over DNS.

@apbendi i agree; the verification check should be scoped to just say "this user has verified ownership of their twitter account" not that the whole grant is verified

[2020-08-18 18:44] owocki commented on #7125
Looks good!

On Tue, Aug 18, 2020 at 8:20 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-18 18:47] apbendi commented on #7133
Something to consider on this: the algorithm is going to return some pretty weird numbers early on in the round, here. Also, do these designs make it clear that this value will change (often drastically!) by the time the round en ds?

[2020-08-18 18:52] owocki commented on #7243
yes i have items in cart
browser is iphone XS +  opera

[2020-08-18 18:57] owocki commented on #7247
i like the idea of creating a "IFTTT" strucutre thatadmins can configure.  as an admin i should be able to say

If people do X and Y OR Z, then they get AZ.

[2020-08-18 18:58] owocki commented on #7247
such a pattern could be generalized to be completely configurable

[2020-08-18 18:58] owocki commented on #7247
configurable === no engineering work required to add a new IFTTT

[2020-08-18 19:00] owocki commented on #7249
i dont understand what this ticket is intended to mean (?)

I'd strongly recommend writing tickets in the "As a <user type>, I want to <task> so that <goal>" format, so that people can grok the who,what,why when writing tickets.  Cuts back on back/forth.

[2020-08-18 19:36] owocki commented on #7130
@zoek1 u wanna pick this one up?

[2020-08-18 21:38] apbendi commented on #7125
Hey @owocki @willsputra @PixelantDesign, do we want the "Trust Score" tab to be visible for users viewing someone else's profile, or only for your own profile?

[2020-08-18 22:31] owocki opened #7250 "normalize early"
@thelostone-mc @fronk is there an easy way to make the gitcoin grants round reach saturation later in the round?  we chatting with @vivek on our 1:1 today about how to make the grants round less zero sum for less time

rest of the convo is here https://gitcoincore.slack.com/archives/CBDTKB59A/p1597787033020200

[2020-08-18 23:01] owocki commented on #7125
just your own profile for now pls

[2020-08-19 02:58] jdorfman commented on #7122
This seems to have been resolved. Closing.

[2020-08-19 02:58] #7122 closed

[2020-08-19 07:43] rodgz1622 opened #7253 "Hello guys.. Hoping we are safe and kicking the pandemic COVID19."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-08-19 08:12] L-KH commented on #7172
THanks, noted.

Here is the Jack:

![image](https://user-images.githubusercontent.com/12660772/90609497-0a5b8680-e1fc-11ea-906d-aa7f3a5fc7e6.png)

[2020-08-19 11:22] #7195 closed

[2020-08-19 11:25] #6870 closed

[2020-08-19 13:34] willsputra commented on #7126
ah gotcha that's a good point! would something like this be better? @apbendi @owocki @PixelantDesign

<img width="1090" alt="Screenshot 2020-08-19 at 9 32 31 PM" src="https://user-images.githubusercontent.com/19514207/90641260-99e85000-e263-11ea-93ef-3d1b1f6904be.png">

[2020-08-19 13:39] owocki commented on #7126
This is $LEET

On Wed, Aug 19, 2020 at 7:35 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-19 13:41] owocki commented on #7172
LGTM

On Wed, Aug 19, 2020 at 2:12 AM Lahcen-KH <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-19 13:52] owocki opened #7256 "add xDAI as a L2 option for gitcoin grants."
what the title says :)

[2020-08-19 14:50] PixelantDesign commented on #7125
Here are the flows as we understand it from a product perspective - does this seem accurate to everyone?
Orange boxes are what we are missing on the design side.
Anything else we aren't thinking of?

We do need more clarification on **the steps** and **how many users are required to be considered verified**.

<img width="2010" alt="Screen Shot 2020-08-19 at 10 48 50 AM" src="https://user-images.gi

[2020-08-19 17:01] owocki commented on #7125
looks right to me; ill let @adamstallard comment on the "how many users required" bit

[2020-08-19 17:54] adamstallard commented on #7125
We can check to see if they linked BrightID (@wildmolasses and @apbendi know how to check this). If they already have linked their BrightID, we shouldn't send them back to the screen that asks them to download BrightID.

To me, the ideal experience for being verified will be
1. Find a community for a project you're donating to that has a meeting place for making connections.
  a. Go there and make

[2020-08-19 17:59] PixelantDesign opened #7257 "Chat showing offline & online at the same time"
**Describe the bug**
Chat showing offline & online at the same time
<img width="1590" alt="Screen Shot 2020-08-19 at 1 56 36 PM" src="https://user-images.githubusercontent.com/238235/90672321-f297f880-e223-11ea-8640-584f9ddef74e.png">

**To Reproduce**
Go to Gitcoin, logged in, checkout the nav.

**Expected behavior**
Profile chat icon displays online if chat Icon is showing online.

**Desktop (pl

[2020-08-19 18:23] PixelantDesign opened #7258 "Display # of Grants in Grant Cart"
### User Story

As a Gitcoin Grants user I'd like a more noticeable notification when I have something in my Grant cart.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: The original notification design was not designed to account for showing an item

[2020-08-19 19:58] developerfred commented on #7183
<img width="1196" alt="Screen Shot 2020-08-19 at 16 39 44" src="https://user-images.githubusercontent.com/57037080/90683598-2e8b8780-e23d-11ea-9834-6bda6a31acae.png">

[2020-08-19 21:49] owocki commented on #7258
i LOVE this!

[2020-08-19 22:48] owocki commented on #7242
@sebastiantf how goes? whats the ETA on a PR?

[2020-08-19 23:04] developerfred commented on #7243
Hey @owocki, I will check and correct, I can do the tests on an iphone.

[2020-08-20 02:12] sebastiantf commented on #7242
@owocki Given its a complete overhaul, it might take some time. I shall try to get a PR in this week

[2020-08-20 09:31] Jorropo commented on #6542
I'm not at home right now and I have a very bad intermitary connection, I have for about 7h just to download the repo (with a depth 1) (but I don't have 7h of internet time available). sorry, you will have to find someone else.

[2020-08-20 14:59] ceresstation opened #7261 "Hours worked field doesn't support decimal values"
**Describe the bug**

When posting a bounty the hours worked must be an integer, otherwise you get the error "unable to create bounty please try again later"
![image](https://user-images.githubusercontent.com/1358093/90818661-3d3d7180-e305-11ea-80c4-e068b1fdf090.png)

**To Reproduce**

Try creating a bounty with a non-integer value in that field.

**Expected behavior**

Either the field should hav

[2020-08-20 16:20] owocki commented on #7261
anyone want? @gitcoinco/engineers @zoek1 @developerfred

[2020-08-20 18:21] developerfred commented on #7261
@ceresstation I will change the model to accept float values

[2020-08-20 19:16] hellomalaysia opened #7263 "(Issue : Bug Report)"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-08-20 19:21] hellomalaysia opened #7264 "Provide Task"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2020-08-20 19:51] octavioamu commented on #7261
I feel the better solution will be just work with integers on that value since we don't want people submitting 1.05 hours.
So probably just a front end validation to avoid decimals.

[2020-08-20 20:19] L-KH commented on #7172
Here is the JOKER, I really would like to know what do you think about it.
let me know if there are any modifications. or if the design not good to create new one.

![image](https://user-images.githubusercontent.com/12660772/90821374-b4d1c780-e32a-11ea-872d-aa9b2bc82303.png)

[2020-08-20 20:44] owocki commented on #7172
looks great; pls proceed.

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Thu, Aug 20, 2020 at 2:20 PM Lahcen-KH <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

____________________

[2020-08-20 21:12] L-KH commented on #7172
this is just a prototype of mock to check how can looks.
![Playing Cards Mockup3](https://user-images.githubusercontent.com/12660772/90825568-04b38d00-e331-11ea-99b9-84a6e7039ad3.png)

for now, I made King, Queen, Jack, Joker. so should I create the entire 1 to 9? here what I think
1- I will make them like the usual poker card except the Spades will be like the Ethereum logo.
or
2- change all symb

[2020-08-21 03:12] owocki commented on #7172
like the Ethereum logo.

I like this idea!

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Thu, Aug 20, 2020 at 3:13 PM Lahcen-KH <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

___

[2020-08-21 14:07] hellomalaysia opened #7266 "Discussion 🧐"
### Discussion

[comment]: # (What conversation would you like to facilitate?)

[2020-08-21 19:58] owocki opened #7267 "grants - when we are between rounds, it should not show 'round' info"
https://bits.owocki.com/geuzApDk

it syould just show the total amount raised + contributor count.  no broken "round" info

[2020-08-21 21:11] owocki opened #7268 "grants - filter out abandoned projects by default"
grants - filter out abandoned projects by default

add a checkbox on the grants explorer, whcih is checked by default, that reads "filter out idle projects
if a project hasnt been udpated in 3 months, mark them as idle

[2020-08-21 21:12] owocki opened #7269 "- on town square; we should sepeate out the email impressions vs the web impressions"
- on town square; we should sepeate out the email impressions vs the web impressions

this allows you to actually see who is engaging on posts

[2020-08-21 21:13] owocki opened #7270 "grants - - there should be a github link to their repo on the grantdetail page"
there should be a github link to their repo on the grantdetail page
and on grants/new (an optional field)

[2020-08-21 21:15] owocki opened #7271 "as a grants new users, there are too many decisoin to make when posting a bounty. i want it slimmed down, so i dont have to make decisoins."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants new users, there are too many decisoin to make when posting a bounty.  i want it slimmed down, so i dont have to make decisoins.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actual

[2020-08-21 21:20] owocki opened #7272 "allow a grant to opt out of matching, so they dont partciipate in QF"
allow a grant to opt out of matching, so they dont partciipate in QF

this is a requirement i got from the YAM finance community; apparently they dont want any QF money since they hav ea business model for their project.. and dont want to be accused of trying to shill us a non public good on a public good platform.

doing htis would enable them to still use grants

[2020-08-21 21:21] owocki opened #7273 "BUIDL - the ability to twitter connect to your gitcoin profile"
per https://github.com/gitcoinco/web/issues/7125 we need the ability to connect a twitter account to a profile

scope: user can go to their trustbonus page + verify their ownership of a twitter account w. th etwitter API

[2020-08-23 23:43] EYOBANK opened #7274 "BBC AMERICA.. 🐴⭐⭐😘"
### Who

### What

### Why

[2020-08-23 23:44] #7274 closed

[2020-08-24 09:36] #7266 closed

[2020-08-24 09:36] #7263 closed

[2020-08-24 09:41] thelostone-mc commented on #7250
@frankchen07 + me synced up and we'll be implementing what we discussed the other day
which is

until the clr match doesn't exceed the actual pot.
we'll have a pseudo total pot which is x% higher than the clr match

This would give the feeling that that pot is growing slowly as contributions come in so that grant owners don't feel like each time another contribution comes in -> they end up losing

[2020-08-24 09:42] #7253 closed

[2020-08-24 09:43] thelostone-mc commented on #7223
@dancespiele
@owocki is right on that ! If you can tell us which grant of yours you'd like to be closed, we can close it up on our end

[2020-08-24 09:44] #7225 closed

[2020-08-24 09:45] thelostone-mc commented on #7222
This is something we'd need to build in !
If you can send over the grant details and link , I can get it updated from my end until we build this out

[2020-08-24 11:58] dancespiele commented on #7223
@thelostone-mc  thanks for your reply. Don't worry I preffer to update the twitter according with your answer for this issue https://github.com/gitcoinco/web/issues/7222 which you said that you can do. I will send to you the details there.

[2020-08-24 12:06] dancespiele commented on #7222
I will like to update the twitter link of this grant https://gitcoin.co/grants/1050/yew-parcel-template. I put the entire link when I should put only @spielrs . You can see a right example in another of my grant https://gitcoin.co/grants/1078/mailgun-api , I want the same twitter link for this grant and for this other https://gitcoin.co/grants/1048/yew-styles which directly doesn't show the twitte

[2020-08-24 12:14] zoek1 commented on #7223
I didn't see this. Added to my todolist 👍

[2020-08-24 14:30] owocki commented on #7132
@zoek1 any interest in this one?

[2020-08-24 14:54] PixelantDesign opened #7277 "Hackathon User Testing Bounty"
### Who
Are you a developer that has/has not participated in a Gitcoin hackathon?

### What
Be available for a 20 minute on a zoom call with me this week!
Please message me on Gitcoin Chat if you are interested in helping with the research!

Looking for 10 people who have registered for a hackathon and **not** participated in a hack
Looking for 10 people who have participated in a hackathon and **