[2018-05-10 15:19] vs77bb opened #1133 "INFRASTRUCTURE EPIC"
Parent of #901 Gitcion Gethnode
Parent of #1121
Parent of #1049
Parent of #440 New Front End Framework

[2018-05-10 15:27] vs77bb opened #1134 "UNIQUE GITCOINER EPIC"
Parent of #813 Build Avatar
Parent #1052 Save Avatar to Twitter and Github
Parent to #1051 Save Avatar to Gitcoin Profile
Parent #975 Resolve Github User Name
Parent of #1054 New Avatar Background Patterns
Parent of #1053 Generate Random Avatar
Parent of #588 Gitcoin Dashboard

[2018-05-10 16:19] eswarasai commented on #843
Yep. It's still WIP.

[2018-05-10 17:16] PixelantDesign opened #1135 "test"
test

child of #1131

[2018-05-10 17:17] #1135 closed

[2018-05-10 18:17] #1125 closed

[2018-05-10 18:49] PixelantDesign opened #1136 "TEST EPIC"

[2018-05-10 18:54] PixelantDesign opened #1137 "BLOCKCHAIN PROJECTS EPIC"
Parent of #718 Grants Landing Page
Parent of #1092 Job Board

[2018-05-10 19:00] #848 closed

[2018-05-10 19:00] #811 closed

[2018-05-10 19:03] PixelantDesign opened #1138 "RESEARCH & DATA EPIC"
Parent of #618 Competitive Analysis
Parent of #587 New Nav Structure Research

[2018-05-10 19:04] PixelantDesign opened #1139 "RESEARCH EPIC"
Anything we would like to understand

[2018-05-10 19:06] #1139 closed

[2018-05-10 19:09] PixelantDesign commented on #749
Would filtering by open/closed help here?

[2018-05-10 19:10] PixelantDesign commented on #676
Hi @michelgotta, great idea! Are you still working on this?cc:  @thelostone-mc

[2018-05-10 19:10] PixelantDesign opened #1140 "USABILITY/PERFORMANCE EPIC"
parent of #676 Open Links in New Tab

[2018-05-10 19:14] PixelantDesign commented on #1105
@thelostone-mc you're already working on this ya?

[2018-05-10 19:14] arun1595 commented on #676
@PixelantDesign We can close this as it is fixed by https://github.com/gitcoinco/web/pull/677

[2018-05-10 19:39] PixelantDesign commented on #749
Yes it'd be great if it was in sync with Github!

[2018-05-10 19:45] PixelantDesign commented on #652
Maybe this is something that could live on the developer landing page as well.

[2018-05-10 20:24] PixelantDesign opened #1142 "MOBILE EPIC"
Parent of #875 Refactor Backend to Support Mobile

[2018-05-10 20:26] thelostone-mc commented on #660
Since reputation would eventually be part of the system. We could us this as a means to decide the score (kinda like uber ratings which works for both the driver + rider)
In my head -> in most scenarios

Feedback form for Bounty Issuer
- Rating of Hunter
- (If rating is low -> show options like poor response , submitted work is incomplete / poor quality , others )
- Rating of Gitcoin experience  (

[2018-05-10 20:28] PixelantDesign commented on #660
@thelostone-mc should we build this?

[2018-05-11 00:36] PixelantDesign commented on #676
Thanks @arun1595

[2018-05-11 00:36] #676 closed

[2018-05-11 00:42] PixelantDesign opened #1143 "BUGS EPIC"

[2018-05-11 00:43] abitrolly commented on #1037
What if somebody could complete this earlier than in 4 weeks?

[2018-05-11 00:46] mkosowsk commented on #1124
Megalike this!!! 😍

[2018-05-11 00:49] PixelantDesign commented on #1123
Wouldn't the user go to the issue explorer? What would be the criteria of evaluating what a good first issue is?

[2018-05-11 00:51] abitrolly commented on #694
What does it mean - `legally be obigated to 1099`? Like paying taxes or not paying them is not a personal choice in US anymore and they are enforcing it by taking money that people earned even before can get hold on them? I thought that such systems should be strictly opt-in as we don't know the situation, and collecting too much data on people gives up their privacy.

[2018-05-11 01:25] PixelantDesign commented on #1119
I like *ticket jitter* and  @mkosowsk approach to trying to understand what happened through data.

* its the ones that get kicked back to open from started that i htink we need to remarket better *

How fast are they getting gobbled up?

When the issues get moved back to OPEN, we could surface them at the top of the issue explorer with a visual treatment to indicate that it's new/recent until som

[2018-05-11 01:42] PixelantDesign commented on #1021
This might belong in the Google doc guide - it's a little more edge case. We should probably adjust the gitcoin bot to me less aggressive, vs, creating fixes to solve for the agressiveness.

[2018-05-11 01:47] PixelantDesign opened #1144 "Move Gitcoinbot Snooze Actions Out of Activity Feed"
https://d3vv6lp55qjaqc.cloudfront.net/items/1r2P2M0E2C1Y3o2p3O2D/Screen%20Shot%202018-05-08%20at%206.00.11%20PM.png

[2018-05-11 02:06] PixelantDesign commented on #1003
It's too easy to start work. Wonder if we'll see improvement here when the work schemes are implemented. This is definitely an area where the reputation system can help!

[2018-05-11 02:07] PixelantDesign commented on #974
Yesss!!! Agree

[2018-05-11 02:14] PixelantDesign commented on #588
Copying comments from another ticket
@owocki

As a user, I want a "My Work' module so I can see what work is active / done for me on gitcoin

Should include:

Status
Amount
Next Step (if possible)
Ability for me to set / load comments.

[2018-05-11 02:14] #655 closed

[2018-05-11 02:14] #845 closed

[2018-05-11 02:16] PixelantDesign commented on #695
Is this still a bug? @mbeacom

[2018-05-11 02:27] #497 closed

[2018-05-11 02:28] #442 closed

[2018-05-11 02:33] #417 closed

[2018-05-11 02:33] #427 closed

[2018-05-11 02:33] #418 closed

[2018-05-11 02:37] #516 closed

[2018-05-11 02:40] PixelantDesign commented on #671
sounds good @willsputra

[2018-05-11 06:15] thelostone-mc commented on #660
We can build it out now ->  but it would be super effective once the reputation system is ready!
Any thoughts @SaptakS @mbeacom  ?

[2018-05-11 07:28] decentralion commented on #1009
I created an official [alpha interest post at the SourceCred spectrum](https://spectrum.chat/?t=cd7a9672-c7aa-49b6-afd5-9d8f34ce5e2c). Please post there, and we'll keep you posted. :slightly_smiling_face:

[2018-05-11 07:44] pfilippi24 commented on #1033
@vs77bb was getting comfortable with the project setup and code structure in the spare time of the last 2 days. Requirements for this ticket seem pretty clear, the intended flow is well described and makes sense. But I'll most certainly have some questions over the weekend when it comes to the details

[2018-05-11 07:51] thelostone-mc commented on #1105
@PixelantDesign yup

[2018-05-11 08:10] thelostone-mc commented on #1092
@PixelantDesign @owocki Is this expected to live as an independent page / encompassed as a tab within a common dashboard ?

[2018-05-11 10:13] PixelantDesign commented on #660
I kind of prefer plug and play but not sure what it would take to get something installed.

[2018-05-11 10:53] PixelantDesign commented on #432
@amitkumar991 This issue has been closed.

[2018-05-11 10:58] PixelantDesign commented on #1092
Do you envision this living in Toolbox @owocki?

I think this could live independently. Does not need to follow the explorer design or layout.

[2018-05-11 14:49] vs77bb commented on #1123
The "why" behind this (potential) feature is that the Issue Explorer is valuable not only because it shows tasks where someone can get paid, it also shows an aggregation of issues 'good for external contribution' across a variety of repo's.

If I'm an OSS software developer browsing projects, I don't have one view across Github from where I can see how many / what issues are tagged 'Good First Iss

[2018-05-11 15:48] calchulus commented on #843
Would love to do these for colleges/student-focused hackathons!
dm me on twitter! https://twitter.com/calchulus

[2018-05-11 15:57] owocki opened #1149 "post an ethereum themed gif"
post an ethereum / ethereal themed gif to this thread.  gif with most emoji upvotes get the bounty!

[2018-05-11 17:36] vs77bb commented on #1020
This could utilize the MetaBase imbedded dashboard functionality we saw yesterday with @coderberry  + also is related to #692 KPI Additions so the community can track OKR's alongside us easily

[2018-05-11 17:38] thelostone-mc commented on #432
@amitkumar991 Ah sorry about that ! This is taken care of already! Swing by slack and say hi
I'll give you a ping if something along your interests comes along and you work on it ^_^

[2018-05-11 18:43] jschiarizzi commented on #1149
![gif](https://media.giphy.com/media/5QW4g0HoyDZ1mmfIzF/giphy.gif)

[2018-05-11 19:04] jschiarizzi commented on #1149
Better one for real that isnt self promotion coming soon.

[2018-05-11 19:17] PixelantDesign commented on #1123
It sounds like you want to be able to search by 'Good First Issue/Help Wanted' across specific repos (which ever a contributor is interested in), correct?

Seems like the need is a more robust search feature?

'Good First Issue' are terms that we use and know internally. I'm not sure if users will know to search by such specific words in order to surface what you're trying to achieve. Does this al

[2018-05-11 19:24] vs77bb opened #1152 "[Design] Post-Bounty Completion Flow [Funder]"
_Needs Review (@PixelantDesign)_

### User Story

[comment]: # As a funder, I want to have a method to provide feedback on my experience so that Gitcoin's platform can improve and I can provide feedback (and potentially **tips** to Gitcoin developers.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would l

[2018-05-11 19:28] jschiarizzi commented on #1149
![giphy](https://user-images.githubusercontent.com/9449596/39943185-f8d99fba-552f-11e8-901b-3d46cf5e26b6.gif)

[2018-05-11 19:32] mbeacom opened #1153 "ValueError: The 'node_image' attribute has no file associated with it."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/998/](https://rollbar.com/gitcoin/gitcoin/items/998/)

[code]

[2018-05-11 19:34] mbeacom opened #1154 "ValueError: The 'node_image' attribute has no file associated with it."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/998/](https://rollbar.com/gitcoin/gitcoin/items/998/)

[code]

[2018-05-11 19:35] #1154 closed

[2018-05-11 19:40] #1153 closed

[2018-05-11 20:45] thelostone-mc commented on #1149
![graph](https://user-images.githubusercontent.com/5358146/39946034-455dadb8-558a-11e8-9e98-d87d0fe700fb.gif)

@mbeacom @eswarasai ! We win this right ? Hands down :P

[2018-05-11 21:27] thelostone-mc commented on #958
@vs77bb @PixelantDesign ^

[2018-05-11 21:31] thelostone-mc commented on #1003
Reminder to self: A % of the bounty put up as collateral when a bad actor attempts to start work on a bounty

[2018-05-12 00:57] michelgotta commented on #920
@gitcoinbot This is still in development.

@owocki I don't know if the "Recent Activities" part is achievable with the current data provided. Is there some "feed" provided for each user in the API or Python Controller?

[2018-05-12 03:18] vs77bb commented on #1033
@pfilippi24 Thanks for the heads up on where you're at. Excited to discuss further soon!

[2018-05-12 07:39] thelostone-mc commented on #923
As in watch repos ? or bouties specifically ?

[2018-05-12 07:44] thelostone-mc commented on #695
We've updated the stop working policy where the bot doesn't remove the user on its own !
I believe this has been taken care of ^_^

[2018-05-12 07:44] #695 closed

[2018-05-12 08:48] zoek1 commented on #1037
@owocki as i undestand this will add a event model for record the activity of interested  on each bounty right? I think the sunday send the PR with this functionality and one simple activity list on the bounty detail page

[2018-05-12 09:55] gvmoon commented on #1149
![ethereum6](https://user-images.githubusercontent.com/8785310/39956150-f3744998-558f-11e8-8cba-a8aa066d779e.gif)

[2018-05-12 16:47] keybro commented on #1149
![ethereum-cryptocurrency-homer-simpson](https://user-images.githubusercontent.com/10709944/39959639-47afab64-561d-11e8-9991-b3d743201bef.gif)

[2018-05-13 05:36] zoek1 commented on #1037
I just pushed a WIP PR using the Interested model instead of create a new model for events.

[2018-05-13 16:49] maryam21 commented on #749
Hi, I would like to work on this one.

[2018-05-14 01:15] bohendo commented on #1037
If two people show interest, should they both be shown under "Contributor" or only one at a time? I'm assuming we'll only display the first person to express interest who hasn't stopped working yet. Or maybe I don't need to touch that to solve this issue.

Also, why is there a many-to-many relationship between `dashboard_interest` and `dashboard_bounty`? Can one interest really be associated w mor

[2018-05-14 06:26] ConnorChristie opened #1156 "Bounty doesn't cancel when an issue is closed via Github"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want my bounty to be cancelled when the Github issue is closed

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: When an issue is closed via Github, the

[2018-05-14 09:58] dolebas commented on #1000
The steps to reproduce this issue would be:

1. Go to https://gitcoin.co/funding/new and fill out the form fields, in order
3. Edit the Title/Description field(s)
4. Take a screenshot and submit the form
5. Wait for ~24h
6. Compare the Gitcoin issue explorer with the screenshot (or the IPFS bounty contract data)

Feel free to reach out if anything is still unclear.

[2018-05-14 11:33] vs77bb opened #1157 "Emoji Not Showing On Issue Explorer"
### Current Behavior
[comment]: # (Describe what actually happened.)
<img width="1059" alt="screen shot 2018-05-14 at 6 31 29 am" src="https://user-images.githubusercontent.com/23297747/39995004-a0d8ba7c-5740-11e8-8e97-b8590c337223.png">

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
Issue Detail Page is working fine 👍

<img width="517" alt="screen shot 2018-05-14 at 6

[2018-05-14 12:47] mbeacom commented on #1133
🤔

[2018-05-14 16:18] vikaskyadav commented on #640
oh yeah. I am working exclusively on this issue for now.

On Mon, 14 May 2018, 21:46 Gitcoin.co Bot, <notifications@github.com> wrote:

[2018-05-14 16:19] photienao commented on #640
yes , i'm working it

[2018-05-14 16:41] CuriousLearner commented on #958
Yes, I'm working on this issue :)

Currently, jobs detail is working with static data and I'm working on css for list view.

[2018-05-14 16:57] mbeacom commented on #640
Feel free to open a PR with your progress.  Let me know if there is anything I can provide you with to get this across the finish line!

Thanks

[2018-05-14 16:58] mbeacom commented on #432
@PixelantDesign Can you please kill this bounty?  https://gitcoin.co/issue/gitcoinco/web/432/95

[2018-05-14 17:05] mbeacom commented on #805
@sambhav2612 I'm going to kick this bounty back to the community since we haven't heard from you or seen repo/pr activity.  Feel free to reclaim this issue, fork the repo, and raise a PR though!

Thanks again and hope to see you hop on bounties in the future!

[2018-05-14 18:13] CuriousLearner commented on #946
Addressed review comments, but unable to work on mobile view since media queries aren't working. Please check the PR for more details.

[2018-05-14 19:16] PixelantDesign commented on #957
Yes! This replaces green banner! @thelostone-mc

[2018-05-14 21:38] vs77bb commented on #640
@photienao for now, we have @vikaskyadav as working on this bounty. Just an FYI as I noticed you commented.

[2018-05-14 21:42] owocki commented on #1149
paying out now

[2018-05-14 21:42] #1149 closed

[2018-05-14 23:08] vs77bb commented on #671
@willsputra Thank you for all your work here!

[2018-05-14 23:30] vs77bb commented on #794
@kylewu Apologies for the delay here, is there a way you can fire off the 6 e-mails to me at vivek.singh@consensys.net? I'd like to review them in e-mail form and provide feedback

[2018-05-14 23:33] PixelantDesign commented on #794
@vs77bb could you fwd to me? Thanks!

[2018-05-14 23:42] vs77bb opened #1160 "Optimistic UI: Faster Bounty Confirmations"
### User Story

As a funder, I want to be able to fund a bounty quickly so that I can move on with the rest of my day.)

### Why Is this Needed?
*Summary*: To help funders move past the pending transaction screen, quickly.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
Bounties are confirmed on the [Issue Explorer](gitcoin.co/explorer) after si

[2018-05-14 23:59] ConnorChristie commented on #1156
Is there any reason why it doesn't close the bounty?

[2018-05-15 02:28] owocki commented on #1092
i was gonna probably put it in the top right nav IFF the user has funded > 1 issue

[2018-05-15 02:28] owocki commented on #1092
django

[2018-05-15 03:15] owocki commented on #1053
@CuriousLearner what more do you want to know

[2018-05-15 03:56] #733 closed

[2018-05-15 05:04] thelostone-mc commented on #1157
@vs77bb checked it out on chrome & firefox -> seems to be rendering fine!
Is it still persistent ?

![x1](https://user-images.githubusercontent.com/5358146/40037540-6e37c694-582b-11e8-8b1d-51d1926e0d95.gif)

[2018-05-15 07:44] PixelantDesign opened #1162 "Email notification to transfer funds back to funder"
Not ready to work on

if gitbub issue is closed, expired, or about to expire, i should get a few notification that my funds are still there and i should transfer the funds back. This could consist of new or modifying existing emails.

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is n

[2018-05-15 07:48] kylewu commented on #794
@vs77bb sent. I use my smtp credentials to send these emails (not mail sending logic from gitcoin) so you may not see images.
@PixelantDesign i do not have you email, could @vs77bb forward those emails. Thanks :)

[2018-05-15 12:59] #1088 closed

[2018-05-15 13:12] owocki commented on #946
just commented on the PR

[2018-05-15 13:18] owocki commented on #1037
seems like that'd be a good approach to me!  we could actually consolidate a lot of the events associated with bounties into this model!

[2018-05-15 13:34] owocki commented on #1021
we just merged 'snooze' functionality for the idle warnings.. does that suffice?

[2018-05-15 13:35] owocki commented on #694
no update.. i hadn't seen this becoming priority until next tax season

[2018-05-15 13:42] PixelantDesign commented on #1021
Works for me.

[2018-05-15 13:59] PixelantDesign commented on #1092
Hi @pkafei, Just a quick update that I've removed the design part of the ticket. Please proceed with development piece! Let us know if you have any questions!

[2018-05-15 15:08] mbeacom opened #1165 "As an anonymous user, I would like to unsubscribe from email notifications."
With the authentication flow changes introduced in the django auth PR, unauthenticated/anonymous users are unable to modify their email subscription settings until they authenticate with Github.
We should allow legacy ES users to update their email subscription settings.

[2018-05-15 15:09] #1165 closed

[2018-05-15 16:17] vs77bb commented on #925
@zoek1 Any update here?

[2018-05-15 16:36] owocki opened #1166 "Time to value KPIs"
some KPIs we should start tracking

* median time from open to started
* median time from started to submitted
* median time from submitted to done

[2018-05-15 17:59] Smona commented on #1104
@gitcoinbot hai

[2018-05-15 18:18] thelostone-mc commented on #1053
@mbeacom the avatar backend is still being wired up right ?

[2018-05-15 19:53] vs77bb commented on #1156
@ConnorChristie The closed status on Github may also be a sign that a PR is completed and should be paid out, as opposed to cancelled.

However, I agree with the ethos of this request. If a PR is closed, perhaps it should escalate to us in order to prompt the funder to take a look 🤔

[2018-05-15 20:14] owocki commented on #923
this.

[2018-05-15 20:33] owocki commented on #958
'date posted' and 'employment type' have them shown already..

1. lets add 'any' as an option under 'date posted'
2. lets just remove 'annual pay' and 'job category' for now

[2018-05-15 22:09] sace-the-programmer commented on #805
is this still open?  would love to work on it.

[2018-05-16 02:05] dmaddox commented on #1020
Hey, I put this together real quick. What do you think? I can tweak as necessary.
[Results_DesktopMock.png](https://user-images.githubusercontent.com/16856220/40092501-2f43a676-5883-11e8-9e2e-5d1245e11d0d.png)

[2018-05-16 02:32] bakaoh commented on #1007
@owocki --- I can't seem to do anything to progress in this issue since last comment https://github.com/gitcoinco/web/pull/1066#issuecomment-387936730 a week ago, so i hit `stop work` to make this bounty re-open.

I would love to learn more from other hunters

[2018-05-16 05:26] zoek1 commented on #1037
@owocki i've working on #925, this issue could take advantage of the activity model developed in such issue, we just need filtering the activity(start, work, stop work) on each given bounty. So I'll give priority to #925 and after i'll finish this, it's ok?

[2018-05-16 10:17] kziemianek commented on #963
PR submitted.

[2018-05-16 10:18] yosrahelal commented on #307
Did you resolved this problem ?

[2018-05-16 10:54] PixelantDesign commented on #794
@kylewu could you fire the emails to my address? alisa[dot]march@consensys[dot]net

all of the text looks blue when forwarded from vivek, just want to make sure that isnt the case.

we also seem to be losing space on mobile views.

thanks!

[2018-05-16 14:48] owocki commented on #556
we might want to make this into a goal for next quarter @PixelantDesign -- i keep seeing requests for it

[2018-05-16 14:53] owocki commented on #1007
sorry i am trying to find a time and an easy way to test https://github.com/gitcoinco/web/pull/1066#issuecomment-387936730 still

[2018-05-16 14:53] owocki commented on #1007
youve done a lot of work on this so lets keep you as the assignee here

[2018-05-16 14:55] owocki commented on #1020
amazing first pass :)

top section -- can we have some sort of icon or visual for each stat?
second section looks really good
as does the third/fourth

[2018-05-16 16:10] mbeacom opened #1172 "Failing pytest - test_tip"
Travis builds are failing on `test_tip`

[2018-05-16 16:11] #1172 closed

[2018-05-16 16:20] michelgotta opened #1173 "Code As a Front-End Developer I want consistent CSS classes for buttons"
### User Story

Code As a Front-End Developer I want consistent CSS classes for buttons while developing. There are different approaches throughout the code of the platform.

### Why Is this Needed?

The styling isn't very consistent and the classes can't be used universally.

### Solution

Bootstrap CSS is used. Transform all buttons to proper Bootstrap button classes and check if the styling cor

[2018-05-16 17:03] owocki commented on #920
just checked out the PR. its looking really good!

[2018-05-16 17:11] DaniGuardiola commented on #865
I might be interested in this. Quick question, I assume all the business logic is taken care of in a module I can just use to implement just the UX, right?

[2018-05-16 17:29] owocki commented on #1173
i know that @SaptakS  @eswarasai @thelostone-mc @olaf and a few others probably agree iwth ya :)

[2018-05-16 17:29] owocki commented on #1172
my bad -- thanks.

[2018-05-16 17:49] dmaddox commented on #1020
great, i'll go ahead and claim this and start work on that revision & any other feedback thrown my way. I also think I could add some clarity to the repo pie chart in the third section.

[2018-05-16 19:38] #1048 closed

[2018-05-16 20:12] pkafei commented on #1092
@owocki No, I didn't start the ticket yet. Are you going to create a new ticket?

[2018-05-16 20:17] kylewu commented on #794
@vs77bb @PixelantDesign i have sent you new emails.

@vs77bb broken images is because of the way I send email. I've check other mail method, and I could not see image neither.

@PixelantDesign what do you mean "losing space on mobile views"?

[2018-05-16 22:11] owocki commented on #1037
@bohendo for the purposes of this ticket you can show all of the active interests that are in the DB on the frontend.

you can assume that someone else will handle the constraints on the number of of ppl who can express interest in https://github.com/gitcoinco/web/pull/1098

[2018-05-16 22:25] owocki opened #1177 "Build Funder Dashboard - Working Prototype - As a funder, I want a place where I can track all my stuff, so I can manage it all"
## THIS TASK IS TO BUILD WORKING PROTOTYPE OF A FUNDER DASHBOARD

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, i want a place where i can track all of my stuff.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2018-05-16 22:27] owocki commented on #1092
https://github.com/gitcoinco/web/issues/1177

[2018-05-16 22:34] owocki commented on #588
could probably be a v2 to https://github.com/gitcoinco/web/issues/1177

[2018-05-16 22:35] owocki commented on #588
hey @PixelantDesign -- *crazy* idea -- we reuse the design from https://github.com/gitcoinco/web/issues/1177 but we just list the bounties one has worked on instead of the bounties that they've paid out.  and we change 'top contributors' to 'top projects'

[2018-05-16 22:54] vs77bb commented on #794
FWIW I don't see the blue text in mobile view! I sent back super minor feedback on the new batch, Kyle

[2018-05-16 22:56] owocki commented on #958
@CuriousLearner  @zoek1 hows this going?  is it still active? very excited to get it live soon

[2018-05-16 22:59] owocki commented on #1119
i LOVE this idea.

note that the daily 'there are xxx new bounties' emails include previously opened bounties below the newly opened ones.  i wonder if we'd give ppl email fatigue if we emailed them twice in the day.

[2018-05-16 23:00] owocki commented on #1119
one convo i had with @vs77bb at edcon:

supply/demand imbalance is different for each market.  so we might have an oversupply of python devs and an undersupply of c# devs

i built two new admin dashboards to show us how many bounties/users with each skill are avaialble:

https://gitcoin.co/_administration/stats/?filter=KPI&format=chart&rollup=daily&filter=user_skills
https://gitcoin.co/_administra

[2018-05-16 23:04] owocki commented on #1119
the only thing about this is we'd have to change the default sort on the /explorer page.  i think its worth rolling this into its own ticket

[2018-05-17 01:08] #1105 closed

[2018-05-17 01:15] mkosowsk commented on #1177
🔥🔥🔥

[2018-05-17 05:25] abitrolly commented on #1037
@owocki maybe just deploy https://github.com/fedora-infra/datanommer and `fedmsg` to avoid reinventing event flow?

[2018-05-17 05:36] kylewu commented on #794
@vs77bb sent you day 4 and 5 emails based on your feedback.

Regarding mobile view, how did you test it? I simply resize my browser but i could not reproduce it.

update:
the email I sent contains both plain/text and html version, maybe that's why you could not see blue text, which is url link. I check the code how gitcoin sends email, it sends either text or html, not both.
So this time i send on

[2018-05-17 10:32] dolebas commented on #986
Update: The "redeem your tip" link is now gone, as well as the ether I sent.

A simple warning message that says: you will loose your ether if you resubmit the tx, would be helpful.

[2018-05-17 12:44] #1030 closed

[2018-05-17 14:50] owocki commented on #986
did you claim your tip after our exchange 21 days ago?  DM me on slack and i can give you a link to claim your ether if not

[2018-05-17 16:43] CuriousLearner commented on #946
Yeah, I'm working on this issue. Will post more updates soon.

[2018-05-17 16:57] thelostone-mc opened #1179 "quarterly stats v2 - mobile first view"
#### Description

##### make email mobile first view

The base skeleton is already set up @ https://github.com/gitcoinco/web/pull/1016

Issue: Since the styles are being converted inline -> media queries don't get applied cause the mobile view breakdown

Solution : Rewrite the html skeleton to make the quarterly stats mobile first

##### must be compatible with

https://github.com/gitcoinco/web/is

[2018-05-17 17:06] owocki commented on #986
reaching out on slack now

[2018-05-17 17:29] dolebas commented on #986
got your link on slack, seems to be some problem with the gas price estimation

![image](https://user-images.githubusercontent.com/27515901/40193547-de2d5008-5a07-11e8-91d8-e58aa261a873.png)

![image](https://user-images.githubusercontent.com/27515901/40193601-062f0da8-5a08-11e8-8609-d5759af19dfb.png)

https://etherscan.io/tx/0x3847fc8094402c4fc5d59d4443b601c4ddad0894f5076c575d1b494d56898d4d

[2018-05-17 17:43] dolebas commented on #986
got lost again

![image](https://user-images.githubusercontent.com/27515901/40194351-6923760e-5a0a-11e8-8449-e3610eae276d.png)

[2018-05-17 17:43] calchulus commented on #843
What's the reason why no android? is the Trust wallet different in scanning. would be happy to try this without trust wallet

[2018-05-17 18:10] mkosowsk commented on #432
@mbeacom *to be killed. Let me know if you ever want any English tips, happy to provide them 😜

[2018-05-17 18:14] mbeacom commented on #432
@mkosowsk Thanks! I appreciate that.  Likewise, let me know if you want any development tips. 😛

[2018-05-17 18:17] mkosowsk commented on #432
@mbeacom 😂🤣😂🤣 🙏🏻

[2018-05-17 18:20] mbeacom opened #1180 "BadFunctionCallOutput: Could not decode contract function call getBountyArbiter return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/273/](https://rollbar.com/gitcoin/gitcoin/items/273/)

[code]

[2018-05-17 19:10] owocki commented on #1007
its interesting how radar relay does this.  they do one click `.approve()`s for each ERC20 token you use.. then you never need to go through that process again with that token

[2018-05-17 20:57] owocki commented on #946
just committed some fixes to the TODOs for this email

[2018-05-17 21:00] owocki commented on #1179
another v2 ticket, which ill bounty the scope of....

[2018-05-17 21:34] owocki commented on #450
snoozing the gitcoin bot warnings now

[2018-05-18 03:59] matthewlilley opened #1181 "Javascript Gitcoin API Client"
Add an API function to the Gitcoin Javascript SDK.

### Why Is this Needed?

Easier Gitcoin API consumption, both internally, and by third parties.

### Supported Features

* Ability to receive bounties from the gitcoin API
* Ability to filter by all of the [filters available in the API](https://github.com/gitcoinco/web/blob/master/app/dashboard/router.py#L113-L191)
* Support for sorting and pagin

[2018-05-18 04:00] matthewlilley commented on #1181
@owocki

[2018-05-18 04:41] bakaoh commented on #1007
@owocki --- do you mean https://radarrelay.com? i'll take a look

[2018-05-18 06:12] kylewu commented on #794
@vs77bb i've received your responses through email, thanks for your time

@PixelantDesign have you checked emails, what do you think 😄

[2018-05-18 10:59] thelostone-mc commented on #432
**brings a bucket full of cold water**

@mkosowsk

![38b](https://user-images.githubusercontent.com/5358146/40231357-81990452-5ab8-11e8-9a68-3f0dcd32c318.png)

[2018-05-18 11:09] thelostone-mc commented on #982
@SaptakS  Useless. Why you no comment ? :P

[2018-05-18 14:56] owocki commented on #1007
yeah, thats what i meant.

from a UX perspective it is kind of nice.. bc you never have to approve() again for that specific token

[2018-05-18 14:57] owocki commented on #1181
@mbeacom what do you think about this?

after seeing this, i'm actually thinking it could be really nice to bounty the production of a API client for both python and javascript.

[2018-05-18 15:01] mbeacom commented on #1181
@owocki I'm on board with this!  My only ask is that we use `requests` to build out the python client xD - That said, which python versions should the client support?

2.7.x, 3.3.x, 3.4.x, 3.5.x, and 3.6.x?  Should we only support 3.x?  🤔

[2018-05-18 15:04] owocki commented on #1181
lets start with 3.x and go from there

[2018-05-18 15:46] PixelantDesign commented on #588
@owocki we could definitely try that, but based on user conversations, contributors are more interested in seeing what projects are in flight, what phases of the project are they in, and how to manage multiple issues that they're juggling. Some things from the funder dashboard are relevant but might not have the same priority.

[2018-05-18 15:52] PixelantDesign commented on #794
Looks good @kylewu I sent you a note about one thing - to remove the tracking on the copy. Thanks!

[2018-05-18 19:29] PixelantDesign opened #1183 "Surface reopend issues to the top of the issue explorer"
Not ready to be worked on

From #1119 Discussion

Surfacing issues that get kicked back to open to the top of the issue explorer and denoting that it's new.

Something like this:

<img width="1700" alt="68747470733a2f2f776166666c65696f2d6469726563742d75706c6f6164732d70726f64756374696f6e2e73332e616d617a6f6e6177732e636f6d2f75706c6f6164732f3561383332393561613563633637303031333662346263382f31323535313

[2018-05-18 19:33] PixelantDesign commented on #556
Yes! I’ve heard it a few times as awell, on the list already.

[2018-05-18 22:40] owocki commented on #588
good to know! was just trying to get the convo going... ill let you take the first pass at the designs here.

[2018-05-18 22:43] owocki commented on #556
@PixelantDesign if i wrote up a spec and bounty-ed, would that be premature / against our focus?  i want to respect the process, but i also want to get this moving...

[2018-05-18 22:51] Graal46 opened #1184 "grl"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-05-18 22:54] mbeacom commented on #1184
@Graal46 Can I close this?

[2018-05-18 22:58] owocki opened #1185 "Python3 Gitcoin API Client"
Add an API function to the Gitcoin Python SDK.

### Why Is this Needed?

Easier Gitcoin API consumption, both internally, and by third parties.

### Supported Features

* Ability to receive bounties from the gitcoin API
* Ability to filter by all of the [filters available in the API](https://github.com/gitcoinco/web/blob/master/app/dashboard/router.py#L113-L191)
* Support for sorting and paginatio

[2018-05-18 22:59] owocki commented on #1185
@mbeacom look ok?

[2018-05-18 23:08] #1184 closed

[2018-05-18 23:09] mbeacom commented on #1185
Made a few minor adjustments to the proposed usage. lgtm!

[2018-05-18 23:36] bohendo commented on #1037
Oops, I expected to have more time to work on this during weekdays but that hasn't been the case. I'll ether dig into this & finish it over the weekend or hand it off to the next code monkey.

[2018-05-19 02:07] dmaddox commented on #1020
Here is a revision to include:
- top section now has icons associated with each stat
- switched 3rd section from pie graph to donut graph to hopefully add some clarity

[results_desktop_v2](https://user-images.githubusercontent.com/16856220/40263898-22e425a0-5adf-11e8-9b6b-9c7caf178632.png)

Thoughts?

Once all revisions are done, where in the repo should I put the sketch file for the PR?

[2018-05-19 08:18] CuriousLearner commented on #958
Yes, I'm trying to figure out the data needed in list view and matching that with the models. Figuring out how we can do this.

[2018-05-19 12:55] owocki commented on #1181
`options` is a dict of kwargs that match the [filters available in the API](https://github.com/gitcoinco/web/blob/master/app/dashboard/router.py#L113-L191)

[2018-05-19 12:56] owocki commented on #1185
1. yes thats right
2. the former seems simpler to me but i dont feel strongly about it.  @mbeacom any feedback?

[2018-05-19 12:57] owocki commented on #958
@CuriousLearner anything i can help with?  id really like to ship this next week.  is that do-able?

[2018-05-19 14:11] owocki opened #1186 "As an ENS user, I want Gitcoin's ENS subdomains to call the ENS SetOwner Function, so I can own my subdomain outright."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an ENS user, I want Gitcoin's ENS subdomains to call the ENS SetOwner Function, so I can own my subdomain outright.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2018-05-19 19:50] CuriousLearner commented on #958
@owocki I can try, but right now there are still changes to do.

List view is done. (Need CSS changes)
Detail view is done (Need to fix minor things like
Render the skill tags individually and fix the `posted: 2 days ago` text to be dynamically picked up.)

Bdw, where does the company image come from as shown in designs?

![gitcoin_job_details](https://user-images.githubusercontent.com/8039608/402

[2018-05-19 20:05] thelostone-mc opened #1188 "api : explorer api insane load time"
### User Story

<img width="1440" alt="screen shot 2018-05-19 at 10 22 37 pm" src="https://user-images.githubusercontent.com/5358146/40272601-ac8d4630-5bcd-11e8-9fa3-aaa9197eae83.png">

Occasionally the api load time gets ridiculously slow and firefox asks me if I want to kill the request as the page is taking too long to load

Browser: Firefox / Chrome
Firefox prompts to kill scripts
Occurance: E

[2018-05-20 00:29] mbeacom commented on #1185
@raphaelhuefner

Questions:
1. For the scope of this bounty, I think `bounties` is it.  Ultimately, we'll probably want to expand this to include `universe` as well.

2. I think `api.bounties` works best, so we can ultimately work in `universe` and other api operations.

Please see my proposed base example at:
https://github.com/gitcoinco/python-api-client/pull/1/files#diff-04c6e90faac2675aa89e217

[2018-05-20 07:07] michelgotta commented on #970
I could provide translation to German, or is that already done?

[2018-05-20 14:57] cryptoquick commented on #865
I've got some good progress available here:
https://github.com/cryptoquick/ethavatar/tree/new-design

Let me know if you have any further guidance. It's still a WIP.

[2018-05-20 16:36] vs77bb commented on #450
@owocki how long did you snooze for 🤔 just snoozed for 100 days so we shouldn't hear from GC Bot for a bit

[2018-05-20 18:11] Enilghtenment opened #1191 "怎样用JAVA语言编译一个时光沙漏。"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-05-20 19:48] yjkimjunior commented on #797
Would love to take this on. @ConnorChristie down to coordinate/cooperate?

[2018-05-20 19:56] bohendo commented on #1037
Apologies, I won't be able to give this issue the attention it deserves.

@zoek1 Sounds like you've got a solid battle plan though, rock on & best of luck. The gitcoin bounty is available now if you want to take it: https://gitcoin.co/issue/gitcoinco/web/1037/394

[2018-05-20 23:27] cryptoquick commented on #865
Getting back to this, taking stock of the work currently finished:

- [x] Added majority of UI styles and assets
- [x] Most "No MetaMask" states finished in App component
- [x] "Existing Avatar" styles mostly finished

Some remaining tasks:

- [ ] Merging / Refactoring the image upload components (Form & Image)
- [ ] About Screens
- [ ] Mobile Responsive media queries

[2018-05-20 23:59] mbeacom commented on #970
@michelgotta Feel free to update the automatically generated one in:  https://github.com/gitcoinco/web/pull/971

[2018-05-21 00:08] mbeacom commented on #1191
@Enilghtenment Was this opened intentionally?

This roughly translates to:  `How to compile a timeglass with JAVA language` via google translator.  I'm not sure what that would pertain to.  Please feel free to open a new issue with a detailed description for further assistance.

Thanks!

[2018-05-21 00:09] #1191 closed

[2018-05-21 00:33] abitrolly commented on #1037
This is why started/stopped is important. ;)

[2018-05-21 00:59] arku opened #1192 "Clicking on the organization icon in the bounty page throws a 404"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a gitcoiner, I would like to view the gitcoin profile of an organization.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

I am not sure if we have profiles for or

[2018-05-21 01:28] arun1595 commented on #1192
@mbeacom I also tried visiting the profile of a few other organizations, they all threw a 404 FYI.

[2018-05-21 06:11] thelostone-mc commented on #1192
Has this been fixed ? 😅

<img width="1440" alt="screen shot 2018-05-21 at 11 39 35 am" src="https://user-images.githubusercontent.com/5358146/40292906-a97e206c-5ceb-11e8-899f-7c9de3bec732.png">

[2018-05-21 12:17] raphaelhuefner commented on #1185
@mbeacom Thank you for your feedback!

I'll take your PR into account.

I have all of these 3 going:

- `order_by()` with an `_`
- `get_page(number, per_page)`
- using `requests` library

[2018-05-21 12:38] justpixel commented on #805
@thelostone-mc @owocki @PixelantDesign Here is an updated version based on your feedback.
I was thinking maybe we can animate the rocket on scrolling.

![gitcoin-misson2](https://user-images.githubusercontent.com/7627020/40307892-e3f9de9a-5d0c-11e8-829e-28454f7c7dd3.png)

[2018-05-21 13:07] mbeacom commented on #1192
@thelostone-mc I went in and changed the gitcoinco `Profile.hide_profile` to `False`.
One possible solution would be to prompt users hitting an organization profile page that is actively hidden or missing to notify the organization owner/members to approve the profile public listing.

Moving forward, it might be beneficial for us to introduce an organization management section to settings.

[2018-05-21 13:32] mbeacom opened #1193 "As a user, I want to consume Gitcoin events via a websocket connector."
# Gitcoin Websocket Service

## TLDR

This issue is currently not ready to be worked on.  Please feel free to comment with concerns, recommendations, and general notes.  Feedback on whether or not you would find this functionality useful is also welcome and encouraged!

### User Story

As a user, I want to consume Gitcoin events via a websocket (wss) connector.

### Why Is this Needed?

[comment]:

[2018-05-21 13:43] mbeacom commented on #1188
Thanks for raising this issue!

Current initiatives that will help reduce the latency:

- Django query/queryset caching in Redis
- General query optimizations (use of `prefetch_related` and `select_related` would go a long way).
- Bounty API refactor
- Serve API over it's own subdomain, i.e.: `api.gitcoin.co`

Beyond the current initiatives, we would probably benefit from researching/implementing

[2018-05-21 14:05] cryptoquick commented on #865
@owocki @lucaguglielmi I'm really close to having something close to complete. I'd like some feedback on what I've done so far, and the provision of any additional assets or copy you'd like to provide.

[2018-05-21 14:17] mbeacom commented on #865
@cryptoquick Great to hear that!  Would you mind raising a PR with your WIP changes?

Thanks for your contribution and welcome to the community!

[2018-05-21 14:50] mbeacom opened #1194 "Confusing placeholder text for issue URLs"
### User Story

As a user, I want to see a proper example of an issue URL when a Github issue url is expected.

### Why Is this Needed?

*Summary*:  A user reported experiencing confusion when directed by the `Fund Issue` form to provide an issue url like:  `https://github.com/user/repo/pull/n`

### Description

*Type*: Enhancement

### Current Behavior

User is currently displayed:  `https://gith

[2018-05-21 15:20] #1194 closed

[2018-05-21 15:29] thelostone-mc commented on #805
@PixelantDesign should be try this out with the background color `#F2F6F9` (the color used on the filter search / explorer ) ?

[2018-05-21 16:16] owocki commented on #1104
sorry.. im looking into why gitcoinbot is commenting on this erroneously

[2018-05-21 16:19] owocki commented on #1104
fixed in 95b25e9ec7726c909d51c83a676d04a57943c4d5

[2018-05-21 16:59] thelostone-mc opened #1196 "discuss: reduce work abandonment via reputation + penalty"
### Description

[code]

@vs77bb @owocki @PixelantDesign @mbeacom @SaptakS

[2018-05-21 17:14] mkosowsk commented on #1196
I like this `security deposit` approach but think a flat fee of something equivalent to $10-$20 in fiat could be an interesting way to cut down on a ton of spam but without too stiff of a penalty for normal users. 25% of a $2K bounty is $500!

I think it would be interesting to apply this to both users with a bad reputation and also to new users as that seems to be a major complaint from current f

[2018-05-21 17:43] owocki commented on #805
OMG i 😍 love this

[2018-05-21 17:45] owocki commented on #805
@justpixel in this version of the design, what would we do with all of the 'we value' and 'we interact' stuff on the current page?

[2018-05-21 17:54] owocki commented on #1193
semi related: i wonder if we should move the events into a DB model called `events` and then process the slack / github / twitter / whatever notifications outside of the request/response cycle.

celery would work too

[2018-05-21 18:01] owocki commented on #865
public folder is fine.

[2018-05-21 18:04] owocki commented on #1188
interestingly.... i can't seem to reproduce this locally or on prod right now

[screenshot](http://bits.owocki.com/0B1K3d3G3K1O/Screen%20Shot%202018-05-21%20at%2012.03.06%20PM.png)

i wonder if theres some job that introduces a performance block at the application at DB layer

[2018-05-21 18:04] mbeacom commented on #1193
@owocki I agree with the need for an intermediate model in the form of `Event` or `Notification`.

We could simply create the objects as necessary and queue them up for distribution/execution via celery worker.

[2018-05-21 18:06] owocki commented on #1193
oh man the opportunties to clean up `dashboard/notification.py` here 😍

[2018-05-21 18:06] mkosowsk commented on #805
overall 😍😍😍 minor quip, why is there a `<br>` between grow and open source in the title? think this could look a bit better on the same line 🤔

[2018-05-21 18:07] mkosowsk commented on #1188
Also confirmed on Production nice speed... Gitcoin Explorer taking the weekend off? 🤔

[2018-05-21 18:07] owocki commented on #1192
we're trying to figure out the best way to balance privacy / ux here.  itd be nice to be able to see each organization, but without a specific opt-in, we might run afoul of privacy best practices..

[2018-05-21 18:19] mbeacom commented on #1192
@owocki My initial idea to solve this is to:

- Add an `Organization` model to handle profiles that are an organization.
- Add `Profile` objects to `Organization.members` if they exist on gitcoin.
- Add an organization settings view where org owners can update members, perms, and general org details (description, website url, svn/gh profile url, avatar, keywords/tags, integration/notification sett

[2018-05-21 18:21] mbeacom commented on #1188
This might have occurred during a long running `sync` background job.

[2018-05-21 18:30] owocki commented on #1037
thanks for letting us know @bohendo :)

how meta that this ticket is about start/stop work :)

[2018-05-21 18:43] justpixel commented on #805
@thelostone-mc I can try that color also.
@owocki I will design those section to, if we are on the right track.
@mkosowsk thank you for noticing that, I will fix it.

[2018-05-21 18:47] owocki commented on #805
yes i think we are certainly on the right track!

perhaps we can just use very simple small icons (and text) for each of the 'interact' and 'value' pieces, just to keep it brief

[2018-05-21 18:51] owocki commented on #958
Company image comes from `https://gitcoin.co/static/avatar/<user>` where `<user>` is a github handle

sweet!  seems like were close.. let me know!

[2018-05-21 18:58] #450 closed

[2018-05-21 18:59] owocki commented on #450
@scottydelta can you submit work [here](https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/450) so we can pay you out?

[2018-05-21 19:59] PixelantDesign commented on #805
Looks great @justpixel!

I like the direction and your thoughts around animation.
Would love to see metaphors more focused around  'building a world that allows for financial leverage' vs. send mail icon. Same feedback for the fishing pole and carrot.

Will we be adding in additional values onto this page?

Can't wait to see the rest!

[2018-05-22 04:58] dilatebrave commented on #1181
@etnann --- i'm working on this, just don't want to waste your time

[2018-05-22 05:18] PixelantDesign commented on #556
If there are technical things approaches that we know we'll need to make this work and can make progress on through a bounty, I think that could be helpful. From an experience perspective, I can add to tackle in Q2. Thoughts @owocki ?

[2018-05-22 10:41] justpixel commented on #805
Here is an updated version with the changes you had suggested.

![gitcoin-misson2](https://user-images.githubusercontent.com/7627020/40357763-d6add1c4-5dc5-11e8-8e43-2d520fbc36b3.png)

[2018-05-22 11:19] PixelantDesign commented on #805
Looking good! Would you mind using the layout from the first section in the third section (no cards).

[2018-05-22 13:10] justpixel commented on #805
@PixelantDesign  Updated:
![gitcoin-misson3](https://user-images.githubusercontent.com/7627020/40364285-952da5e8-5dda-11e8-8057-efe9c0d5bf87.png)

[2018-05-22 13:47] PixelantDesign commented on #805
Looks great!

Would you mind updating the ' Gitcoin's Mission ' header to be white and not stacked?

Along with your final file submission to the creative repo, would it be possible to also get all of the icons in one .ai file as well?

Thanks!

[2018-05-22 15:55] mbeacom opened #1198 "Deploy Elasticache instances for staging and prod"
Deploy Redis instances via AWS ElastiCache for staging and production environments.

[2018-05-22 16:01] mbeacom opened #1199 "Add granular caching for Django querysets and template rendering"
As a developer, I want to be able to specify queries, querysets, and view data to be cached in Redis to achieve faster response times and reduce database load.

Implement a library such as: `django-cacheops` or `django-cachalot` to cache querysets for high traffic models/views/etc.

Configure the newly introduced cache to use the elasticache instances deployed in: #1198

[2018-05-22 16:05] mbeacom opened #1200 "Add the kubernetes base IaC to repo"
As a technical asset, I want to be able to deploy a complete replica of Gitcoin that is production ready with a simple series of commands.

Add base k8s IaC for general kubernetes cluster.

This is being handled internally.

[2018-05-22 16:11] mbeacom opened #1201 "Add all crontab jobs to job container"
As a technical asset, I would like the ability to run any legacy cron job as a single-run task via the job utility image.
Implement all crontab background tasks into the `job` docker image.

- BACKUPS
    - [x] gitcoin/coin; bash scripts/backup.bash >> /var/log/gitcoin/backup.log  2>&1
- GITCOIN WEB3 STUFF
    - [x] sync_geth mainnet 0 99999999999
    - [x] sync_geth rinkeby 0 99999999999
- TOOLIN

[2018-05-22 16:13] mbeacom opened #1202 "Migrate from Whitenoise to S3 for static"
Migrate static handling from `whitenoise` to `django-storages` using S3 and CloudFront.

[2018-05-22 16:14] mbeacom opened #1203 "Add S3 media storage"
Add S3 storage backend for user specific media assets, i.e. avatar or any other uploaded/pulled files.

- Implement using `django-storages`

[2018-05-22 16:16] mbeacom opened #1204 "Optimize DB queries throughout BE codebase"
Currently, we're not making use of `select_related` and `prefetch_related` everywhere that could benefit from it.

This would greatly decrease the number of queries hitting the database.

[2018-05-22 16:18] mbeacom opened #1205 "Django query refactor: Using update and bulk_create"
Currently, there are some instances where we could benefit greatly from using: `update()` and `bulk_create` where applicable.

[2018-05-22 16:20] mbeacom opened #1206 "Target api.gitcoin.co for API requests"
Modify all references to `gitcoin.co/api/` to use `api.gitcoin.co/`

[2018-05-22 16:24] mbeacom opened #1207 "Add Elastic APM to k8s stack"
Add Elastic APM server and Kibana to the kubernetes IaC deployment project and setup elastic apm agent to run as a daemonset on all masters and nodes.

[2018-05-22 16:25] mbeacom opened #1208 "Integrate with the Elastic APM library"
Add the Elastic APM python library and setup retention specs.

[2018-05-22 16:28] mbeacom opened #1209 "Add NPS feedback for the platform"
Implement `Hotjar` nps feedback for the main product and ensure it displays on the index page.

[2018-05-22 16:38] mbeacom opened #1210 "Add CSAT surveys for bounty interactions - BE"
Implement `delighted` CSAT to track all customer interactions following completion of a bounty on the backend.

[2018-05-22 16:39] mbeacom opened #1211 "Add CSAT surveys for bounty interactions - FE"
Implement `delighted` CSAT to track all customer interactions following completion of a bounty on the frontend.

[2018-05-22 16:44] mbeacom opened #1212 "Add Organization toplevel model for profile-eqsue handling and management by org members"
As a user, I would like to manage my organization's presence on Gitcoin.

The purpose for the new: `Organization` model is to allow owners and members of a github organization to customize what data is displayed, profile membership, etc.

The `Organization` model should be a subclass of `django.Group` and should carry:

- description
- website_url
- svn/github_url
- avatar
- members (exists in Gro

[2018-05-22 16:46] mbeacom opened #1213 "Add Integration model"
Add an `Integration` model subclassing `SuperModel` that will carry:

- config (json)
- integration_type (charfield)

Add `integrations` to `Profile` and `Organization`

The purpose for this new model is to act as a medium for *all* third-party integrations... i.e.: Slack, Disqus, Discord, Github, Twitter, Facebook, whatever.

Once we introduce this model, we'll be able to handle all integrations

[2018-05-22 16:48] mbeacom opened #1214 "Add integration settings view"
Add an integrations tab to the settings view to allow users to manage all of their integrations: slack, discord, discourse, etc.

[2018-05-22 16:51] mbeacom opened #1215 "Add organization approval and management view"
Add a view to display an approval invitation CTA to notify owners/members of a github organization to setup their gitcoin org or authenticate as the owner/member of the org to manage public display settings.

If the org already exists and has been approved, display the organization "profile".

[2018-05-22 16:57] mbeacom opened #1216 "Add a suspension view for moderators"
As a staff member, I want the ability to view all members that are near suspension or already suspended.

The view should allow for the actor to send notifications, lift/add suspensions on the list.

[2018-05-22 16:59] mbeacom opened #1217 "Add moderator functionality to gitcoin slackbot"
Add a `/slash` command to the gitcoin slack bot that allows staff members to receive a response displaying all suspended or nearly suspended members and take action against the suspended user.  There should be a mechanism in place to allow the staff member to opt-in to receive this list on some interval.

[2018-05-22 17:11] mbeacom opened #1218 "Gitcoin Bot Revamp v2"
Currently, there are still oddities and instances where our github bot will not properly detect interaction on GH issues or it responds incorrectly to pings (confused emoji, etc).

More scope to come...

[2018-05-22 17:15] #368 closed

[2018-05-22 17:30] CuriousLearner commented on #958
@owocki @mbeacom I can see that in detail view, there is a company image at the bottom. Where does it come from? Do we store that image in the jobs model, or is it to be fetched from somewhere else?

[2018-05-22 17:48] vikaskyadav commented on #640
still working. You can check on archive.gitcoin.co. Let me know feedback on it.

[2018-05-22 21:57] owocki commented on #1218
gitcoinbot is super verbose when there is more than one work who has gone MIA https://github.com/DataBrokerDAO/databrokerdao-dapp/issues/11

[2018-05-22 22:35] owocki commented on #958
Please read my comment directly above your question

[2018-05-22 23:04] owocki commented on #805
i <3 this ! @justpixel pls submit your work on gitcoin and i'll pay it out.

agree with @PixelantDesign 's suggestion on delivery method/format.

[2018-05-22 23:06] owocki opened #1220 "Code - cleanup mission / values page"
# references
https://github.com/gitcoinco/web/issues/805#issuecomment-391168626

# what

we'd like to cleanup http://gitcoin.co/mission  this is a bounty to apply the following design to the /mission page on gitcoin:

![40364285-952da5e8-5dda-11e8-8057-efe9c0d5bf87](https://user-images.githubusercontent.com/513929/40394820-60c39c7e-5de2-11e8-914f-1c1fd9f641e5.png)

final design source files posted

[2018-05-23 00:27] owocki commented on #1216
has this been a problem so far?

[2018-05-23 01:04] michael-alade commented on #1220
I would love to work on this, but the source files have not been submitted in the referenced issue #805.

[2018-05-23 02:28] owocki commented on #1220
@justpixel wanna submit the source files pls?

[2018-05-23 02:42] owocki commented on #556
@PixelantDesign I think we first need to figure out the optimal UX and then the technical things will be downstream from there.

For example, the following is needed
* How do we want to manage giving gitcoinbot access to the issue scope for the private repo?  Within that access, how do we manage private information vs public information?
* Do we need to facilitate NDAs for private repo owners?  Ho

[2018-05-23 02:45] owocki commented on #1181
https://gitcoin.co/api/v0.1/bounties/ is the base

yes the API should now be cross domain.

[2018-05-23 02:46] owocki commented on #1181
derp.. nvm.. looks like you got it in your PR

[2018-05-23 03:53] KennethAshley commented on #1220
I can work on this as well if need be.

[2018-05-23 04:12] justpixel commented on #1220
@owocki @michael-alade I've made commit with the new changes https://github.com/gitcoinco/creative/pull/6/commits/85438769d1df6f4d5e7d3a6a5b61265f0c9ad9eb

[2018-05-23 06:21] anshumanv commented on #1220
Where can we find the images which are to be used on the page? I don't find them in https://github.com/gitcoinco/web/tree/master/app/assets/v2/images/mission
I'll be happy to take this. :smile:

[2018-05-23 07:34] thelostone-mc commented on #1214
Would this live inside settings?

[2018-05-23 07:55] thelostone-mc commented on #1215
reside within settings ?
like https://github.com/gitcoinco/web/issues/1214

[2018-05-23 10:34] thelostone-mc opened #1221 "bounty: expired notification"
[code]

@PixelantDesign

[2018-05-23 12:01] vikaskyadav commented on #640
@vs77bb @owocki  have made changes to show latest post on the main page and the link to the recent posts on the Right sidebar. I think what was required in the task is done. Could anyone please check? gotta close this one now.

[2018-05-23 13:44] owocki commented on #805
@justpixel ill pay u via tip

[2018-05-23 14:16] owocki commented on #640
@vs77bb ^^

[2018-05-23 14:32] PixelantDesign opened #1223 "Design Developer Landing Page"
_Reserved for @willsputra_

### User Story

[comment]: # As a developer, I want to know what Gitcoin is about, how I can use it, and understand the benefits of the platform.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Since we're updating the G

[2018-05-23 14:41] SaptakS opened #1224 "Detailed Funder Flow with multiple issue support"
### Description

As a funder, I would like a funding experience where I can start editing funding information of multiple issues simultaneously and save them in draft form so as to work again later. Also, a well detailed, well separated form with proper UX helps a lot.
*Type*: feature.

### Definition of Done
- Designs and rearrangement of the forms and fields are done.
- User has option to add ne

[2018-05-23 16:28] dmaddox commented on #1020
@gitcoinbot I am. There is a PR in progress, I think slow b/c I didn't use enough gas.

[2018-05-23 16:49] thelostone-mc commented on #1216
It helps us tackle it quicker and reduce confusion !

[2018-05-23 17:01] mbeacom opened #1226 "ValueError: The ExternalBounty could not be created because the data didn't validate."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1082/](https://rollbar.com/gitcoin/gitcoin/items/1082/)

[code]

[2018-05-23 17:02] mbeacom opened #1227 "FieldError: Invalid order_by arguments: ['http://testasp.vulnweb.com/t/xss.html?%00.jpg']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/637/](https://rollbar.com/gitcoin/gitcoin/items/637/)

[code]

[2018-05-23 17:02] mbeacom opened #1228 "FieldError: Cannot resolve keyword 'github_issue_number' into field. Choices are: _val_usd_db, accepted, balance, bounty_owner_address, bounty_owner_email, bounty_owner_github_username, bounty_owner_name, bounty_type, canceled_on, contract_address, create"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/704/](https://rollbar.com/gitcoin/gitcoin/items/704/)

[code]

[2018-05-23 17:06] mbeacom opened #1229 "Ratelimited"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/403/](https://rollbar.com/gitcoin/gitcoin/items/403/)

[code]

[2018-05-23 17:06] mbeacom opened #1230 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/877/](https://rollbar.com/gitcoin/gitcoin/items/877/)

[code]

[2018-05-23 18:31] owocki opened #1231 "GDPR -- Add info to our contact forms"
Add the following to our contact ingestion forms:

* The name of the spoke relying on the consent (and the name of any third party with whom email addresses will be shared, if applicable)
* opt in to specific email types
* Spoke contact information
* Link to the spoke/circle’s Privacy Policy (to the extent you have one in place)
* The purposes for collecting the information and how it will be used

[2018-05-23 18:31] owocki opened #1232 "GDPR -- update privacy policy"
GDPR -- update privacy policy

Put Privacy Policy on a Gitcoin Page Template

[2018-05-23 18:31] owocki opened #1233 "GDPR -- Ask for re opt-in from all EU customers"
From Consensys Legal:

[code]

[2018-05-23 18:32] owocki commented on #1232
https://github.com/gitcoinco/web/pull/1222

[2018-05-23 18:34] owocki opened #1234 "GDPR - check about checkbox prefills"
<img width="631" alt="screen_shot_2018-05-23_at_1 36 31_pm" src="https://user-images.githubusercontent.com/513929/40444094-949d4fe2-5e85-11e8-8bd4-67b726dc38cc.png">

on the new funder form, this checkbox is not prefilled UNLESS the user has previously agreed.  then we just remember their agreement from last time

is this ok?

[2018-05-23 18:34] owocki commented on #1233
@mbeacom do we have any way of knowing which users are from the EU easily?

ideally i'd want a `profile.is_EU()` that i could call from a mgmt command

[2018-05-23 18:37] owocki opened #1235 "GDPR: Settings Content Updates"
<img width="1435" alt="screen shot 2018-05-23 at 12 35 18 pm" src="https://user-images.githubusercontent.com/513929/40444223-fecc7154-5e85-11e8-85fa-08c4116c1701.png">

* disclose The purposes for collecting the information and how it will be used (e.g., provide updates, marketing)
* add 'Notice that the user may withdraw consent at any time and instructions on how to do so (e.g., by clicking an u

[2018-05-23 18:40] owocki opened #1236 "GDPR -- Cookie Consent"
From Consensys legal:

We encourage each spoke/circle to implement a tool for obtaining consent for the cookies used on your website and recommend a third-party tool like TrustArc for now.

https://www.trustarc.com/products/consent-manager/

[2018-05-23 18:43] mkosowsk commented on #1233
I don't think it matters if someone is from the EU because GDPR applies to everyone even passing through the EU. From what I understand, best practices are just to assume everyone is EU

[2018-05-23 18:46] owocki commented on #1233
Hmm..

This is what Consensys Legal says about this:

[2018-05-23 18:48] owocki opened #1237 "GDPR -- Privacy Policy Updates Email"
We should send a privacy policy update email once the new PP is merged

[2018-05-23 18:56] PixelantDesign opened #1238 "GDPR: Remove remembering terms"
*Due: 5.25.18*

Make Unsticky.

Remove the ability to remember terms checkbox.

![Screen Shot 2018-05-23 at 1.36.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f06b7191a379f1112d4f5c5e5ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864aee01ba24df4fd4b0e9821ad2f42f67b6d

[2018-05-23 19:00] PixelantDesign opened #1239 "GDPR: Show Message in Modal"
*Due: 5.25.18*

Show message in modal that we're aware and care about users privacy.

Display to all authenticated users when they visit Gitcoin

Link to updated privacy policy.

Okay dismisses the modal and saves a localstorage setting such that it isnt shown again.

![Screen Shot 2018-05-23 at 3.00.27 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136

[2018-05-23 19:04] SaptakS commented on #1239
@PixelantDesign @owocki do we show this only to the countries complying to GDPR or to everyone? Also do we show the first time they open the website after this has been implemented?

[2018-05-23 19:08] PixelantDesign opened #1240 "GDPR: Update Privacy Tab"
*Due: 5.25.18*

Update Privacy Tab to display the following links:

Gitcoin Privacy
Gitcoin Terms

The following links will take user to Account Tab
Link to disconnect Github
Link to delete account

![Screen Shot 2018-05-23 at 3.06.19 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b7726

[2018-05-23 19:08] mkosowsk commented on #1233
Hmm I may have read an overly cautious report then

[2018-05-23 19:10] PixelantDesign opened #1241 "GDPR: Update Email Preferences"
*Due: 5.25.18*

Allow users to select or unselect which email they would like to receive

Examples in mockup are listed, please use full list available in database.

Add ability to save.

![Screen Shot 2018-05-23 at 3.09.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f06b719

[2018-05-23 19:14] PixelantDesign opened #1242 "GDPR: Write Email To Gitcoin Community"
Write email to gitcoin community

[2018-05-23 19:16] PixelantDesign opened #1243 "GDPR: DISCONNECT & DELETE"
Add ACCOUNT Tab to Settings Menu.

Add ability to Disconnect Github

Add ability to delete all user data

see mockup.

[2018-05-23 19:32] SaptakS commented on #1236
We can maybe use the [TrustArc Cookie Consent Product ](https://www.trustarc.com/products/consent-manager/)as mentioned

[2018-05-23 19:35] vs77bb commented on #1242
[See e-mail draft here](https://docs.google.com/document/d/1tr1W7LbrsQZ4SI5eH0anc9aAvRyrlan3wdRhfsiCgaE/edit)!

[2018-05-23 19:45] PixelantDesign commented on #1239
I've read mixed things, I think we should just show to everyone.

Yes, lets show on the first time after authenticated - after this is implemented.

[2018-05-23 19:53] vs77bb commented on #1239
+1 on showing to everyone 👍

[2018-05-23 19:54] vs77bb commented on #1237
[e-mail copy here](https://docs.google.com/document/d/1tr1W7LbrsQZ4SI5eH0anc9aAvRyrlan3wdRhfsiCgaE/edit) ...

dup of #1242

[2018-05-23 20:04] PixelantDesign commented on #1237
ok i'll close this. Thanks!

[2018-05-23 20:04] #1237 closed

[2018-05-23 20:44] PixelantDesign opened #1244 "BUILD: HOW IT WORKS"
### User Story

[comment]: # As a gitcoin community member and funder, when I'm unsure how the platform works, I want a place to quickly reference.

### Why Is this Needed?
*Summary*: A place to explain to users are what the steps are in the bounty process on the Gitcoin platform.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Expected Behavior
A user clicks on

[2018-05-23 20:49] owocki commented on #1232
this is done

[2018-05-23 20:50] owocki commented on #1243
i will take this one

[2018-05-23 20:51] owocki commented on #1236
who wants this one?

[2018-05-23 21:27] owocki commented on #1243
PR is in https://github.com/gitcoinco/web/pull/1246

[2018-05-23 21:27] mbeacom commented on #1233
@owocki We should be able to use the geoip data.  Looking into this now.

[2018-05-23 21:29] owocki commented on #1242
@SaptakS can you code this as a management command?

here's a nice example of an management command that sends an email to the entire userbase https://github.com/gitcoinco/web/blob/master/app/marketing/management/commands/roundup.py

[2018-05-23 21:30] owocki commented on #1239
@vs77bb @PixelantDesign do you have copy that you'd like to see in the modal?  the design just has Lorem ipsum in it.

[2018-05-23 21:33] SaptakS commented on #1235
I am taking this up.

[2018-05-23 21:35] owocki commented on #1235
our privacy contact info = privacy@gitcoin.co

@PixelantDesign what should we do for this?

Maybe something like.
* We collect your profile information to provide context on the bounties you submit to the gitcoin system, or to help bounty funders evaluate your fitness for performing their bounty.
* We collect your email address so that we can keep in touch about updates to bounties.
* We collect y

[2018-05-23 22:06] SaptakS commented on #1235
@owocki should I mention these below the checkboxes? Also I think merging of PR #1246 will help me hyperlink to gitcoin's privacy policy and mention the privacy email as well.

[2018-05-23 22:31] PixelantDesign commented on #1235
All sounds good!

For data collection...i would just add in there somewhere:

We aim to collect as little information from you as possible. Any information that you share is used to provide an experience that is relevant to you.

The bit about ‘bounty hunters and evaluation’, should we hold off on that? We dont have any features like that yet and when we do it might be best to try to frame it in a

[2018-05-23 22:34] vs77bb commented on #1239
Copy below (and at [bottom of this Google Doc](https://docs.google.com/document/d/1tr1W7LbrsQZ4SI5eH0anc9aAvRyrlan3wdRhfsiCgaE/edit))

**We Care About Your Privacy**

As a Web 3.0 company, we think carefully about user data and privacy and how the internet is evolving. We hope Web 3.0 will bring more control of data to users. With this ethos in mind, we are always careful about how we use your inf

[2018-05-23 22:35] PixelantDesign commented on #1235
Hmm where does the Go button take me?

[2018-05-23 22:38] SaptakS commented on #1235
It just saves the preference of the user and takes back to this very tab.

[2018-05-23 22:39] vs77bb commented on #1235
I made some slight copy edits to @owocki's initial pass. I'd also recommend that 'Go' is changed to 'Submit' or something more clear as to the fact that the changes are being processed on this page itself.

[2018-05-23 22:41] vs77bb commented on #1232
where is the link to it on the website @owocki? need it to close out the copy for the e-mail + modal

[2018-05-23 22:41] #1240 closed

[2018-05-23 22:43] PixelantDesign commented on #1239
great!

[2018-05-23 22:43] mbeacom commented on #1235
@vs77bb I agree with changing `Go` - We'll want to update this on all of our forms, though. I am fairly positive there are a few using that copy.

[2018-05-23 22:48] owocki commented on #1241
PR is in ^^

[2018-05-23 23:33] owocki commented on #1233
fix is in https://github.com/gitcoinco/web/pull/1249

[2018-05-23 23:34] owocki commented on #1232
@vs77bb https://gitcoin.co/legal/privacy

[2018-05-23 23:43] SaptakS commented on #1234
Should be fixed by #1245

[2018-05-23 23:45] owocki commented on #1231
this is done on https://github.com/gitcoinco/web/pull/1248

[2018-05-24 00:57] PixelantDesign commented on #1223
Hi @justpixel! I had this reserved for @willsputra since we had discussed ideas for this previously.

I have another design ticket if you are interested!

[2018-05-24 01:36] #1238 closed

[2018-05-24 01:59] #1231 closed

[2018-05-24 02:58] raphaelhuefner commented on #1185
@mbeacom @gitcoinbot Please use this PR to give some feedback for further direction: https://github.com/gitcoinco/python-api-client/pull/2

Thank you!
Raphael

[2018-05-24 04:27] justpixel commented on #1223
@PixelantDesign Sorry, I didn't see the first comment. Sure, I will be happy to work on other tickets.

[2018-05-24 06:55] #1234 closed

[2018-05-24 07:17] SaptakS commented on #1242
@owocki on it.

[2018-05-24 08:38] thelostone-mc commented on #1236
A few questions:

- Do we integrate gitcoin with trustarc to help manage cookie consent
- If yes, whom do we get in touch with to get it set up / do we request a demo for ourselves
- Meanwhile do we notify users that we are setting this up (to keep them in the loop ? )

- Also, Google sign on seems to be failing when I try signing into trustarc

@SaptakS @mbeacom

[2018-05-24 10:56] thelostone-mc commented on #1239
@vs77bb @PixelantDesign could you gimme the link for the updated privacy policy.
Need to add that !

This is taken care of #1251

[2018-05-24 13:20] vs77bb commented on #1033
@derozic Glad to see your interest! To confirm, are you interested in diving in and building Gitcoin Requests out or rather helping us look for potential issues to post on Gitcoin?

[2018-05-24 13:50] #1239 closed

[2018-05-24 13:55] SaptakS commented on #1232
This part still seems to have been not done. Does this need to be done?

[2018-05-24 14:13] mbeacom commented on #1236
I'm still waiting to hear back from TrustArc.

[2018-05-24 14:29] owocki commented on #1236
@PixelantDesign  @thelostone-mc @mbeacom maybe instead of integrating trustarc, we can just put the copy for this in https://github.com/gitcoinco/web/issues/1239 ?

[2018-05-24 14:30] mbeacom commented on #1236
@owocki That sounds like a solid solution for the time being!

[2018-05-24 14:37] PixelantDesign commented on #1236
Sounds good.

[2018-05-24 14:42] mbeacom commented on #1232
This is live. Closing.

[2018-05-24 14:42] #1232 closed

[2018-05-24 14:52] owocki commented on #1233
this copy is funny http://bits.owocki.com/1k0y411b2t2H/Screen%20Shot%202018-05-24%20at%208.52.30%20AM.png

maybe we could go in this direction?

[2018-05-24 14:53] thelostone-mc commented on #1233
My vote is yes

[2018-05-24 14:56] mbeacom commented on #1233
@owocki Are you thinking we would send this only when `emailsubscribers.is_eu` is `True` or *all* ES?

[2018-05-24 15:06] #1235 closed

[2018-05-24 15:07] owocki commented on #1236
<img width="1440" alt="40481293-9905186e-5f6e-11e8-9eef-32eab29464b9" src="https://user-images.githubusercontent.com/513929/40494309-c770d9fa-5f31-11e8-8277-55670327dc4a.png">

Proposed changes to this modal:

Add 'Would you like to consent to using cookies?' at the bottom of the modal.
Change 'OK' to 'Agree'
Add a 'No thanks' link which causes the user to leave.

@PixelantDesign does that soudn o

[2018-05-24 15:08] thelostone-mc commented on #1236
no thanks --> delete account or just logout ?

[2018-05-24 15:16] PixelantDesign commented on #1236
I think that would be okay.

We will need a brief summary on how we use cookies on the site or link to privacy to explain it there.
I've seen most sites explain it in context though.

[2018-05-24 15:40] owocki opened #1253 "As a funder, I want abandonments to be public so I can know if someone is going to abandon work on my repo."
# Why

chatted with FUNDERX tonight. He said he’s noticed a drop in quality on gitcoin for him. Mostly 1 people not following through or 2 enthusiastic ppl starting work but not having the skills.  He noted maybe he’s doing more bounties now and so that has led to a decrease in quality. But it could be something scaling related.

I shilled work schemes to him. But I think we need to take a serious

[2018-05-24 15:42] travisdmathis commented on #1220
@owocki this is my first project working on for you guys.. question, do you have any standards around char limits or opposition to be refactoring this as I touch it so it's a bit more readable and not so long? 80char

example:

Before:
[code]

After:
[code]

[2018-05-24 15:52] derozic commented on #1253
Point systems are great too, a function of work and also of general activity in the community.  Helps to carrot and stick involvement, and if the incentives are properly aligned it can both helpful to attract new contributors and reward loyalty and engagement.  Even better would be a token economy that does the same.

[2018-05-24 16:44] gopye commented on #1107
This issue should be automatically removed from https://gitcoin.co/explorer. Also doesn't look like these are updating correctly.
![monosnap 2018-05-24 09-43-25](https://user-images.githubusercontent.com/36561323/40499506-0171fc88-5f37-11e8-8327-15306d718fe4.png)

[2018-05-24 16:49] owocki commented on #1107
@mbeacom

did you open up a second bounty for this issue?

there seems to be two, and the second one is showing up on gitcoin -- thats why the gitcoin funded issue is showing as 'open'

https://beta.bounties.network/bounty/v1/383
https://beta.bounties.network/bounty/v1/483

[2018-05-24 16:52] owocki commented on #1181
just snoozed the above warnings since its on us to review this PR!

[2018-05-24 16:53] owocki commented on #1036
just snoozed the warnings

[2018-05-24 16:53] PixelantDesign commented on #1104
So excited to see this @Smona! The link isn't working :(

[2018-05-24 16:59] mbeacom commented on #1220
@travisdmathis We're trying to stick with the `120` character line limit and two space indentation.

The `After` provided above looks good, but if you're switching that around, would you mind flipping the file to 2-space indentation?

Thanks!

[2018-05-24 17:01] owocki commented on #1233
only EU

[2018-05-24 17:01] owocki commented on #1233
@mbeacom ^^

[2018-05-24 17:07] mbeacom commented on #1236
Once we're done with the GDPR items we're currently working on, we'll move into addressing this with:  https://github.com/TyMaszWeb/django-cookie-law

[2018-05-24 17:11] mbeacom commented on #1107
@owocki Not that I'm aware of.  The linked bounties seem to be for kennethashley and cryptotracker bounties?

[2018-05-24 17:26] owocki commented on #1107
is your metamask on the mainnet?  this is what i see when i view them on the mainnet http://bits.owocki.com/1I3s451e3n0i/Screen%20Shot%202018-05-24%20at%2011.26.15%20AM.png

[2018-05-24 17:26] owocki commented on #1107
maybe one of your tx's got rebroadcast?

[2018-05-24 17:27] PixelantDesign commented on #1253
I think this is good idea to track abandonment to see if we can understand patterns as we think about v1 of reputation.

What about a follow up email asking why they abandoned? We could provide an incentive like: decrease the time you have left, by providing us with honest answers...it could be multiple choice with an option to explain. That way we can learn why this happens?

 I'd like to see us

[2018-05-24 17:29] mbeacom commented on #1107
Whoops! Yeah...  - This must have been the transaction that popped back up in my metamask interface to confirm. Ew...

[2018-05-24 17:37] travisdmathis commented on #1220
@mbeacom thanks will do! appreciate the clarity and will use 2 space indents and clean up the file as I go through it.

[2018-05-24 17:46] owocki commented on #1244
@PixelantDesign looks great.. should we bounty this?

[2018-05-24 17:54] owocki commented on #1242
@mbeacom @SaptakS i think we need to send this today, right?

[2018-05-24 18:00] owocki commented on #1253
good idea! perhaps in the cooldown notification email we can do this.

[2018-05-24 19:26] Smona commented on #1104
yeah i just realized that wasn't the best way to preview the progress since ngrok limits the time your tunnel is alive.

Should I create a WIP PR?

[2018-05-24 20:22] owocki commented on #1104
WIP PR sounds great!

[2018-05-24 20:38] SaptakS commented on #1242
@owocki @mbeacom I have updated the content with the link and also added the suppression check. Please have a look.

[2018-05-24 20:55] #1242 closed

[2018-05-24 22:10] owocki opened #1257 "add saptak/aditya/scott to the team page on /about"
what the title says ^^

[2018-05-24 22:11] owocki commented on #1257
@scottmoore @SaptakS pls pass along

1. a headshot
2. your favorite gitcoin feature
3. favorite food
4. linkedin/twitter/github links (if you want them posted)

[2018-05-24 22:16] owocki opened #1258 "as a user, i want an easy 'send tip' link on ppls profiles so i can send a tip easily"
as a user, i want  an easy 'send tip' link on ppls profiles so i can send a tip easily

success criteria
1. add a button that says 'send tip' on it that if the user clicks it will take them to the tip flow with the username prefilled
2. must look good responsive and regular desktop

[2018-05-24 22:32] owocki opened #1259 "support for ENS within gitcoin proper"
bounty details page
tips send flow
where else?

[2018-05-25 00:28] #1236 closed

[2018-05-25 00:29] #1241 closed

[2018-05-25 01:58] PixelantDesign opened #1261 "Fix Settings Responsive View"
Hide marketing toaster if possible.

![7786516032](https://user-images.githubusercontent.com/238235/40522193-9e63a558-5f9d-11e8-8bda-21522ccaa40e.jpg)

[2018-05-25 02:08] mbeacom commented on #1261
Thanks for opening this - We'll definitely want to fix this.

I am not sure it's related to GDPR though - This is from 84babc30611c281c817582b4d677dda6366def83:

![screenshot_20180524-220143](https://user-images.githubusercontent.com/7315957/40522392-c1538ef6-5f9e-11e8-834b-a835e367d7ff.png)

[2018-05-25 02:08] PixelantDesign commented on #1258
Let's add once we merge the new profile

[2018-05-25 02:11] PixelantDesign commented on #1261
Ahh I thought it might have been because we added stuff to this section today. @mbeacom

[2018-05-25 03:09] oogetyboogety commented on #1036
@owocki

app/marketing/mails.py as well - I had to twist the quarterly_stats function to look a little like the new_bounty function in the way it loops through EmailSubscribers and gets their keywords and then passes these keywords to the render function.

I am testing these changes now, should be finished by tomorrow or day after.

Thanks!

[2018-05-25 04:45] PixelantDesign opened #1262 "ENS Input Looks Disabled"
Ens input makes it look like a user needs to input information and click update.

Clicking update button launches the register ens experience. We should change update copy to Get Started or Activate My ENS.

Would also be good to surface this feature on the profile page.

[2018-05-25 04:48] PixelantDesign opened #1263 "Profile V3"
* not ready to be worked on*

Add Avatar Icon
Add secret project stats

Surface ENS

Surface Matching

[2018-05-25 06:05] brentoneill opened #1264 "Bounty amounts not showing on /profile"
### User Story
As a user, I want to so see how much I made on each bounty on my gitcoin profile page so that I can keep records of my eth.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summ

[2018-05-25 07:55] SaptakS commented on #1233
PR already merged. Closing this.

[2018-05-25 07:55] #1233 closed

[2018-05-25 07:55] thelostone-mc commented on #1257
send it across and I'll add them ^_^

[2018-05-25 10:48] thelostone-mc commented on #1244
@jangmj

If it's for the modal -> you can reuse what we already have [here](https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/base.js#L212)
We use bootstrap gird + css, so yeah you can go ahead and use that ^_^

[2018-05-25 11:43] thelostone-mc commented on #1262
It's pretty evident that it's disabled -> but yeah you do have a point
we could change it to just text, if that makes it clearer 🤔

[2018-05-25 11:48] thelostone-mc commented on #1020
Closing this out as PR has been merged
@owocki could you trigger the payout  ?

Again thanks a ton @dmaddox for the contribution :D

[2018-05-25 11:48] #1020 closed

[2018-05-25 11:48] thelostone-mc commented on #1210
@mbeacom remind me to ask you a bit more on this

[2018-05-25 11:50] thelostone-mc commented on #1036
@oogetyboogety Give me a heads up and i'll check it out
PS: screenshots always help ^_^

[2018-05-25 12:04] thelostone-mc commented on #1177
@raininja are you still working on this ? ^_^

[2018-05-25 12:05] thelostone-mc commented on #1201
me helping out ! never done this before :P

[2018-05-25 12:08] thelostone-mc commented on #1188
Sat 10:22pm, the day the issue was opened :P
(Just saw the screenshot on the top )

I'll keep a lookout on this when it happens again

[2018-05-25 12:10] #805 closed

[2018-05-25 12:15] thelostone-mc commented on #1213
Purpose of `Integration` model  ?

[2018-05-25 12:16] thelostone-mc commented on #1258
I'll throw in the code for that once profile is in 👍

[2018-05-25 14:04] PixelantDesign opened #1267 "Modular FTUX"

[2018-05-25 14:42] #1261 closed

[2018-05-25 15:15] owocki commented on #1262
good idea

[2018-05-25 15:31] mbeacom commented on #1213
@thelostone-mc Please see the updated description.

[2018-05-25 15:48] mbeacom commented on #1262
Proposed spec:

- [ ] Update ENS settings page to no longer use a form.
- [ ] Modify input form fields to simple text
- [ ] Add CTA button/link to url reverse: `ens`

[2018-05-25 18:01] #1220 closed

[2018-05-25 18:23] vs77bb commented on #925
@zoek1 Is this one still in progress? cc @owocki I know a bounty on #1037 is also potentially available in relation to this one

[2018-05-25 18:46] vs77bb commented on #1177
@thelostone-mc Think we should send this back out to the crowd? No word from @raininja 🤔

[2018-05-25 18:54] owocki opened #1273 "Profile Page V3"
* performane / gzip updates  per https://github.com/gitcoinco/web/pull/1099#issuecomment-391618094
* what else?  feedback?

Add Avatar Icon
Add secret project stats

Add ability to Tip User

Surface ENS

Surface Matching

[2018-05-25 19:12] #1263 closed

[2018-05-25 19:30] mbeacom opened #1274 "AttributeError: 'NoneType' object has no attribute 'replace'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1142/](https://rollbar.com/gitcoin/gitcoin/items/1142/)

[code]

[2018-05-25 19:30] #1274 closed

[2018-05-25 20:31] michelgotta commented on #1273
Limitation/"Show more" for the activities per box
"Time passed since"/Date for activites

[2018-05-25 21:21] PixelantDesign commented on #1106
closing since we added this in the updated funder form

[2018-05-25 21:21] #1106 closed

[2018-05-25 21:25] owocki opened #1278 "prune DB size"
prod db is up to 800 MB

here is a profile of what the db footprint is

[code]

yields

[code]

we may want to prune down the
* marketing_stat table
* marketing_emailevent table
* marketing_githubevent tables
* economy_conversionrate table

[2018-05-25 22:39] owocki commented on #1177
im removing the worker from the task so someone else can take it this week

[2018-05-25 23:00] raininja commented on #1177
that's fine, I'm not really working on it.  kind of cold to remove someone outside of the alloted response time.  also not sure that removing me actually does anything concerning the crowd

[2018-05-26 00:35] derozic commented on #1033
@vs77bb I was interested first in help us look for potential issues to post on Gitcoin, but I can’t definitely build out Gitcoin requests once identified.  Let me know what we need the most at this point so that I can dive in....

[2018-05-26 02:16] willsputra commented on #1223
thoughts? 🙂

![developer landing copy 6](https://user-images.githubusercontent.com/19514207/40571571-ab0c98ba-60cd-11e8-8e9b-de2e4ed8db16.png)

[2018-05-26 02:26] PixelantDesign commented on #1223
Looking good!

Would it be posdible to darken the rain hashes on the hero banner?

Also on the top banner of hero, should we consider adding the shape of the nav into the laptop mockup?

[2018-05-26 04:37] #920 closed

[2018-05-26 08:29] weberV commented on #445
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.09 ETH (62.29 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/445/40).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:29] weberV commented on #447
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/447/43).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:29] weberV commented on #439
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/439/44).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:29] weberV commented on #450
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.5 ETH (346.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/450/45).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:30] weberV commented on #454
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/454/47).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:30] weberV commented on #455
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/455/56).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:30] weberV commented on #465
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.015 ETH (10.38 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/465/67).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:30] weberV commented on #463
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.04 ETH (27.68 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/463/68).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:30] weberV commented on #469
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.02 ETH (13.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/469/72).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:30] weberV commented on #477
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/477/75).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:31] weberV commented on #115
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/115/77).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:31] weberV commented on #479
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.02 ETH (13.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/479/78).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:31] weberV commented on #479
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.02 ETH (13.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/479/79).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:31] weberV commented on #411
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.065 ETH (44.99 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/411/80).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:31] weberV commented on #498
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/498/84).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://

[2018-05-26 08:31] weberV commented on #503
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.14 ETH (96.89 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/503/87).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:31] weberV commented on #412
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.11 ETH (76.13 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/412/88).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:31] weberV commented on #506
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.22 ETH (152.26 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/506/89).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>G

[2018-05-26 08:31] weberV commented on #413
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/413/91).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:31] weberV commented on #432
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/432/95).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gi

[2018-05-26 08:31] weberV commented on #421
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/421/102).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>G

[2018-05-26 08:31] weberV commented on #429
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.176 ETH (121.81 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/429/103).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'

[2018-05-26 08:31] weberV commented on #531
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/531/104).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'

[2018-05-26 08:32] weberV commented on #563
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/563/113).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:32] weberV commented on #565
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/565/116).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:32] weberV commented on #594
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/594/123).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:32] weberV commented on #596
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/596/125).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:32] weberV commented on #607
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.07 ETH (48.45 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/607/127).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>G

[2018-05-26 08:32] weberV commented on #601
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/601/131).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:32] weberV commented on #617
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/617/132).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:32] weberV commented on #608
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/608/135).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:32] weberV commented on #576
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/576/137).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:32] weberV commented on #576
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/576/138).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:32] weberV commented on #576
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/576/139).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'

[2018-05-26 08:32] weberV commented on #623
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/623/140).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:33] weberV commented on #430
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/430/148).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:33] weberV commented on #430
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/430/149).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:33] weberV commented on #620
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.17 ETH (117.66 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/620/160).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:33] weberV commented on #642
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.33 ETH (228.39 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/642/161).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:33] weberV commented on #561
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/561/162).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:33] weberV commented on #540
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.3 ETH (207.63 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/540/163).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:33] weberV commented on #259
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.3 ETH (207.63 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/259/164).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:33] weberV commented on #197
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/197/165).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:33] weberV commented on #354
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/354/166).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-05-26 08:33] weberV commented on #419
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.4 ETH (276.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/419/169).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:33] weberV commented on #666
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/666/170).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:33] weberV commented on #567
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/567/171).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:34] weberV commented on #671
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.3 ETH (207.63 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/671/174).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:34] weberV commented on #683
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.17 ETH (117.66 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/683/176).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:34] weberV commented on #693
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/693/189).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:34] weberV commented on #684
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.11 ETH (76.13 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/684/193).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:34] weberV commented on #744
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 10.0 DAI (10.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/744/198).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>Gitc

[2018-05-26 08:35] weberV commented on #794
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/794/206).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #222
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/222/207).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #796
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/796/208).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #797
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.251 ETH (173.72 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/797/209).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:35] weberV commented on #441
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.75 ETH (519.08 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/441/210).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #802
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/802/211).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:35] weberV commented on #802
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/802/212).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #533
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/533/213).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:35] weberV commented on #656
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.26 ETH (179.95 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/656/214).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #805
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/805/215).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>

[2018-05-26 08:35] weberV commented on #813
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.65 ETH (449.87 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/813/223).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:35] weberV commented on #843
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 1.4 ETH (968.95 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/843/225).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'>G

[2018-05-26 08:36] weberV commented on #865
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.21 ETH (145.34 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/865/253).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:36] weberV commented on #892
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/892/263).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:36] weberV commented on #804
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/804/264).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:36] weberV commented on #920
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.3 ETH (207.63 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/920/269).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:37] weberV commented on #925
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/925/281).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:37] weberV commented on #640
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/640/293).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:37] weberV commented on #946
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/946/296).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:37] weberV commented on #958
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.4 ETH (276.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/958/303).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:37] weberV commented on #963
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.32 ETH (221.47 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/963/304).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:37] weberV commented on #951
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/951/306).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:37] weberV commented on #969
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/969/307).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-05-26 08:38] weberV commented on #982
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/982/310).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-05-26 08:38] weberV commented on #1004
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 20.0 DAI (20.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1004/319).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://

[2018-05-26 08:38] weberV commented on #1013
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 17.0 DAI (17.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1013/320).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://

[2018-05-26 08:38] weberV commented on #1015
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1015/330).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:39] weberV commented on #1048
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1048/346).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-05-26 08:39] weberV commented on #1007
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.222 ETH (153.65 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1007/347).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='htt

[2018-05-26 08:39] weberV commented on #1104
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1104/380).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:40] weberV commented on #1107
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.028 ETH (19.38 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1107/383).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:40] weberV commented on #1033
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.35 ETH (242.24 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1033/385).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:40] weberV commented on #1092
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.222 ETH (153.65 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1092/393).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/sla

[2018-05-26 08:40] weberV commented on #1037
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.07 ETH (48.45 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1037/394).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-05-26 08:40] weberV commented on #1030
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.015 ETH (10.38 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1030/395).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:40] weberV commented on #1020
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.155 ETH (107.28 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1020/396).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='htt

[2018-05-26 09:04] vikaskyadav commented on #640
I hope this is because of running some bad script. @weberV

[2018-05-26 10:39] CuriousLearner commented on #958
Hey, I'm still working on this issue

[2018-05-26 10:39] CuriousLearner commented on #946
Hey, I'm still working on this issue

[2018-05-26 11:05] thelostone-mc commented on #1107
@weberV Looks like it's a script execution gone wrong  ?
It's spammed all over the place.
Would you be kind enough to undo the changes and remove the comments across all our issues ?

Thanks in advance!

[2018-05-26 16:12] thelostone-mc commented on #958
@CuriousLearner Ah random spam bot !

[2018-05-26 17:41] thelostone-mc commented on #1177
Hey @raininja

Ah as someone who posted the bounty , wevr got deadlines to meet ! So if we don't get a response , our default assumption would be the bounty hunter had abandoned the work :/

It had been 9 days since we got any update from your end , so we had to assume the worst

If you are willing to give it another shot , we'd be happy to have you help us grow :D

[2018-05-26 19:47] owocki opened #1282 "As a user, I want Gitcoinbot spam post mortem, so no one accidently spams the network"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want Gitcoinbot spam post mortem, so no one accidently spams the network

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
See [Post Mortem](https://medium

[2018-05-26 23:29] derozic commented on #1033
@vs77bb let me know? If I understand your question correctly it's the difference between researching web3 issues that land as potential Gitcoin bounties, versus specifying the product specifications and requests so that someone chasing the bounty can accomplish it with a clear path to the finish line.

[2018-05-27 04:45] zoek1 commented on #925
I'm currently stopped because my laptop dead. The new laptop arrives the tuesday so  until then i'll get progress here 😔

[2018-05-27 08:12] mbeacom opened #1286 "TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1157/](https://rollbar.com/gitcoin/gitcoin/items/1157/)

[code]

[2018-05-27 10:28] knocte opened #1287 "As a user, I want to be able to pledge to an already-pledged issue"
### User Story

As a user, I want to be able to pledge to an already-pledged issue, so that I can increase the chances of it being picked up and done.

### Description

*Type*: Feature

### Steps To Reproduce

1. Go to the issue explorer, and click on an issue (or, from github.com website, click on an issue that has a gitcoin bounty on it), e.g. https://gitcoin.co/issue/MARKETProtocol/MARKET.js/6/

[2018-05-27 15:58] vs77bb commented on #1033
@derozic Right now our focus with this Gitcoin bounty is finding someone who is interested in taking the design spec above and coding it up to merge into the Gitcoin app! The product spec's are pretty much finalized above.

However, if you are more interested in poking around and identifying web3 issues which are good for bounty, that'd be a great way to contribute as well. While the Gitcoin Reque

[2018-05-27 20:09] mbeacom opened #1288 "TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1146/](https://rollbar.com/gitcoin/gitcoin/items/1146/)

[code]

[2018-05-27 20:52] KennethAshley commented on #1037
Whats the latest on this? I'd love to knock it out.

[2018-05-27 21:09] mbeacom opened #1289 "ValueError: {'code': -32000, 'message': 'known transaction: cc3dd39aed568cef83849b8af36191ba49c3dbb0ba818c1b9e0f3462d0d9c9f0'}"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1111/](https://rollbar.com/gitcoin/gitcoin/items/1111/)

[code]

[2018-05-28 02:09] willsputra commented on #1223
here ya go!

![developer landing copy 6](https://user-images.githubusercontent.com/19514207/40594025-176786fe-625f-11e8-92d7-ad4c271cd017.png)

[2018-05-28 08:17] mbeacom opened #1290 "AuthStateMissing: Session value state missing."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/718/](https://rollbar.com/gitcoin/gitcoin/items/718/)

[code]

[2018-05-28 14:01] owocki commented on #1015
@farhaanbukhsh i am removing you from the task.  FYI - you will be blocked from claiming work on Gitcoin for a few weeks due to this abandonment.

[2018-05-28 15:21] #1286 closed

[2018-05-28 15:29] #1288 closed

[2018-05-28 16:18] owocki commented on #1177
@NedelescuVlad glad to have you :) looking fwd to working together

[2018-05-28 16:18] owocki commented on #1177
it does.  no one else is going to claim the issue if you're already working on it.

[2018-05-28 16:27] owocki opened #1291 "windows variable error when submiting work?"
from
https://github.com/TimVanMourik/GiraffeTools/issues/51#issuecomment-392291538

![40580661-ab70bff0-6160-11e8-89d6-c601d6619bdc](https://user-images.githubusercontent.com/513929/40623004-bef93a64-6261-11e8-9da8-1394dd3c03f2.png)

see below screenshot

[2018-05-28 16:28] owocki commented on #1291
tried repro-ing on my mac but no luck

[2018-05-28 16:29] owocki commented on #1287
blocked by https://github.com/Bounties-Network/StandardBounties/issues/40

[2018-05-28 16:34] raininja commented on #1177
@owocki um that's not my experience here, but "it's all good"

[2018-05-28 16:36] owocki commented on #1223
looking really good.. im excited.

my only feedback is that the neon green is a little harsh to have as a background above the fold.  is it against our brand guidelines to lighten it to a whiter-neon green?

[2018-05-28 17:01] owocki commented on #1291
from @thelostone-mc
[code]

[2018-05-28 17:03] owocki opened #1292 "organization profiles"
https://gitcoin.co/profile/JoinColony
https://gitcoin.co/profile/gitcoinco

# What

these should be representative of the organization, not individual users

# TODOs

* Remove 'tips' section
* add all bounties that have been posted on that organization
* remove contributor/funder section up top, and instead add org_stats

[2018-05-28 17:11] owocki opened #1293 "BUG - profile has inconsistent stats"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
BUG - profile has inconsistent stats
https://gitcoin.co/profile/KennethAshley

### Current Behavior
[comment]: # (Describe what actually happened.)
1 entry in the 'bounties completed' row up top
10 actual bounties completed

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
10 entry in the 'b

[2018-05-28 17:35] mbeacom commented on #1293
Considering this bug, what are everyone's thoughts on the utility of the additional bounty list at the top of page?
Since we're already displaying this data, could we do away with it entirely?

[2018-05-28 17:45] mbeacom commented on #1291
Checking this out on my windows machine now... Will report back!

[2018-05-28 17:47] #1227 closed

[2018-05-28 17:47] #1230 closed

[2018-05-28 17:47] mbeacom commented on #1293
Regardless, I'm adding a patch to fix this in the meantime.

[2018-05-28 18:56] mbeacom commented on #1291
I can't confirm this issue is related to Windows fulfillments.  @owocki [This bounty]( https://gitcoin.co/issue/mbeacom/test-repo/37/711) was fulfilled via the latest chrome stable release on windows 10 pro.

I'm leaning towards @thelostone-mc's recommendation.

[2018-05-28 19:00] owocki commented on #1293
defer to @PixelantDesign  on that question

[2018-05-28 19:59] thelostone-mc commented on #1244
@jangmj any update on this ?

[2018-05-28 20:04] thelostone-mc commented on #1223
Love the layout @willsputra  but the green is a lil harsh on the eye !
If we can make it more soothing!
It's good by me ^_^

[2018-05-28 20:09] thelostone-mc commented on #1291
@mbeacom @owocki  Close this as this cannot be reproduced?
If needed the next time I get the error -> I'll add more logs /  alert to make it clear that it's the IPFS connection which is failign ?

[2018-05-28 20:12] thelostone-mc commented on #1293
Could you explain

Didn't get it @mbeacom  😅

[2018-05-28 20:20] thelostone-mc commented on #1037
@zoek1 are you working on this ?

[2018-05-28 20:32] mbeacom commented on #1293
Essentially, we're displaying the same data twice on this page (at least that's how it appears to me).  It just seems redundant.  We could completely remove either the backend or api implementation and display pretty much the same data.  If we went all in on one or the other, we could simply page through the results for each bounty type and tips.

[2018-05-28 20:35] mbeacom opened #1298 "Pytest / Travis failing TestAssembleLeaderboards.test_handle_command"
https://travis-ci.org/gitcoinco/web/jobs/384899174
[code]

Commit:  https://github.com/gitcoinco/web/commit/b830d8ecd6a7c9cd106528f08bfcea16f977e77c

[2018-05-28 21:13] thelostone-mc commented on #1293
Ah got it ! Yup I'm onboard with this ^_^

[2018-05-28 21:43] owocki commented on #1036
@oogetyboogety sounds good to me. looking forward to testing this!

[2018-05-28 23:07] nemaniarjun commented on #1291
@owocki I am not on windows! I am on Ubuntu 16.04.
This issue still occurs for me. I will try the VPN solution and report back :)

[2018-05-28 23:11] nemaniarjun commented on #1291
I tried to do this with a VPN, (Using AWS EC2, Mumbai).
This could be an issue regarding Indian IPs, or it could be about Proxy, as I am behind my Uni's proxy, when I am not connected to a VPN.

[2018-05-29 00:19] willsputra commented on #1223
@owocki @thelostone-mc thanks for the feedback! 😄

@PixelantDesign what do you think? could we use a different shade of green?

![developer landing copy 6](https://user-images.githubusercontent.com/19514207/40632375-f0c025dc-6318-11e8-86bf-cf84e2e1b739.png)

[2018-05-29 00:31] jangmj commented on #1244
I'm sorry. I was off the work. It's my fault.
Modal works like below.
1. triggered by user's click at a link
2. base page is dimmed at modal displayed
3. hidden by user's click in three ways
   - outside modal
   - X mark on modal's top-right
   - [close] button

[2018-05-29 02:03] PixelantDesign commented on #1293
Hey @thelostone-mc @mbeacom, I realize some of the info listed is repetitive. This design is a big improvement from where we were, and we'll continue to improve this page as we create space for info from the secret project and as we start to build out reputation components. This page will probably change soon anyway, I think we should spend our energy on the next iteration. Happy to talk through i

[2018-05-29 02:17] #1298 closed

[2018-05-29 02:39] owocki opened #1300 "code - as a community member, i want a public gitcoin.co/results page, so I can show off that the system is working"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a community member, i want a gitcoin.co/results page, so I can show off that the system is working

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
https://twitter.

[2018-05-29 02:43] owocki commented on #1020
code task https://github.com/gitcoinco/web/issues/1300

[2018-05-29 04:02] owocki commented on #1036
@oogetyboogety do you think we'll see a PR this week/

[2018-05-29 06:31] mbeacom opened #1302 "ValueError: {'code': -32000, 'message': 'replacement transaction underpriced'}"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1174/](https://rollbar.com/gitcoin/gitcoin/items/1174/)
Additional: https://rollbar.com/gitcoin/gitcoin/items/1176/

[code]

Relevant post:  https://ethereum.stackexchange.com/a/44875/40012

[2018-05-29 07:58] thelostone-mc commented on #1244
@jangmj Ah you wouldn't have to worry about the modal behavior as that's already been implemented  as mentioned [here](https://github.com/gitcoinco/web/issues/1244#issuecomment-392016001) and used it a lot of places throughout the repo

[2018-05-29 14:02] mbeacom commented on #901
This is completed.

[2018-05-29 14:02] #901 closed

[2018-05-29 14:12] mbeacom commented on #1293
I only recommend moving out the additional list to avoid one of the two methods of gathering data.  We could eliminate the additional method for data gathering and still maintain the same UI we have now.

[2018-05-29 14:16] mbeacom commented on #726
Any thoughts on an approach to resolving this @owocki ? Is this due to latency? Would reinitiating the request resolve this issue if we backed off or queued this for async execution?

[2018-05-29 14:17] Elaniobro commented on #1179
@thelostone-mc  & @owocki Is this going to be a webpage that you can view in the browser, if unable to view on mobile/email client?

[2018-05-29 14:24] gokulkrishh commented on #1107
@mbeacom Is this issue still open?? I can see it was opened back in gitcoin but closed here

[2018-05-29 14:50] owocki commented on #1293
e2b17e228cd4b7041f59ef8b7c909d8bc1d5b52b too

[2018-05-29 14:51] owocki commented on #1293
still not all the way there tho.. `Bounties completed` does not match the `Bounties completed` section in `latest activities`

[2018-05-29 14:54] owocki commented on #1293
f84a38e5cbbc1bf7b87ed5db50b379f430b5021f fixes the mismatch described above

[2018-05-29 14:59] PixelantDesign opened #1305 "ENS Submission Completed?"
As a user, I'm unsure if my ENS domain went through. After confirmation dialog, I still see the Register and accept terms checkbox....we should tell the user what to expect next, tell them they are done, or take the user to do something else.

![Screen Shot 2018-05-29 at 10.57.14 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ac

[2018-05-29 17:25] e-n-l commented on #556
How about creating a sort of "gitcoin contributor relationship boilerplate"
(GCRB) repo, which could act as a mediator between private and public
repos? E.g., NDA, code of conduct, necessary documentation needed + how to
provide it, arbitration process, etc. Put a bounty on that public repo's
issues, and then when the issuing organization marks it complete, the
contributor gets a special tag (e.g,

[2018-05-29 18:54] PixelantDesign commented on #973
For approved workers - we should allow for approved by default but in two scenarios:
Passive Rejection and Intentional Rejection (48 hrs window).

Bc Open Source Project - Anyone can make a PR

Thoughts?

[2018-05-29 18:57] thelostone-mc commented on #1291
Haha it's annoying I know :P
Closing this ^_^

[2018-05-29 18:57] #1291 closed

[2018-05-29 20:48] owocki commented on #1305
is this page before or after you confirm the signature in metamask?

[2018-05-29 20:55] owocki commented on #1179
@Elaniobro i wasnt planning on doing that.. i was just planning on making it mobile compatible in email client

@sthorpe welcome!  glad to have you on this.  wanna submit a WIP PR when you get started?  hopefully in the next day or so

[2018-05-29 21:03] owocki commented on #901
now we just gotta have monitoring if it goes out of sync!

[2018-05-29 21:06] owocki commented on #726
i think so, yes

[2018-05-29 22:54] owocki commented on #1292
@thelostone-mc @mbeacom pls see PR at https://github.com/gitcoinco/web/pull/1310

[2018-05-30 01:44] travisdmathis commented on #1300
@owocki where shall this live in the nav? You're showing tools highlighted but no mention.

[2018-05-30 03:00] vs77bb commented on #1037
@KennethAshley This one is open on Gitcoin, feel free to snag whenever make sense 👍

[2018-05-30 03:13] vs77bb opened #1312 "Gitcoin $50K Creative :)"
Propose a creative to be used for Gitcoin's announcement of $50K worth of bounties processed through the platform!

[Gitcoin Creative Repo](https://github.com/gitcoinco/creative) for a starting place.

First place (by number of thumbs up) by 5PM on Thursday will be paid out for the bounty.

[2018-05-30 03:58] oogetyboogety commented on #1036
@owocki @thelostone-mc https://github.com/gitcoinco/web/pull/1311 this one has the WIP label for review reasons. Please let me know what you think.

[2018-05-30 10:08] knocte commented on #114
Amen to that. I just submitted my first bounty to an issue, and in my case it never confirms.

My metamask screenshot is slightly different to @alx's one:

<img width="351" alt="screen shot 2018-05-30 at 6 05 24 pm" src="https://user-images.githubusercontent.com/331303/40714070-313d87b4-6434-11e8-9696-4777f76717de.png">

The default gas proposed by gitcoin was 12 GWei:

https://etherscan.io/tx/0x7

[2018-05-30 10:22] thelostone-mc commented on #1244
This is what we use for the [responsive breakpoints](https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints)

[2018-05-30 10:55] knocte commented on #114
This worked, but didn't realize it would, of course, change the transaction ID, and now the issue is not signaled to be funded:
https://github.com/knocte/gwallet/issues/2

How to recover these funds manually?

[2018-05-30 10:55] knocte commented on #114
(New txID is https://etherscan.io/tx/0xd6878ee5f8883c5b68f9b796ef153aa0d07df63f803a8c8f16c3079ed0cc78bd )

[2018-05-30 11:20] knocte commented on #114
Oh, it got funded in the end! Did you guys do it manually?

[2018-05-30 13:45] sthorpe commented on #1179
Yup. Do you have a format for our WIPs? I'm gonna get started today.

[2018-05-30 15:09] PixelantDesign commented on #1312
What is the program content and where will the creative be used? What is the deliverable and format?

[2018-05-30 15:39] vs77bb commented on #1312
@PixelantDesign For Twitter + our Newsletter! A short GIF could be cool too 😄

Do you think we should have a pop-up modal on the site anywhere too?

[2018-05-30 15:52] #1302 closed

[2018-05-30 16:13] owocki commented on #1300
@travisdmathis lets put it on the main nav next to 'tools'

[2018-05-30 16:16] owocki commented on #1036
looks good so far

[2018-05-30 16:39] arun1595 opened #1313 "Back button invisible in Receive Tip success page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

In the 'Receive tip' success page, the 'Back to Gitcoin.co' button text is invisible.

### Description

[comment]: #

[2018-05-30 16:50] thelostone-mc commented on #114
Ah no ! It just a while to sync when you resubmit the transaction  ^_^

[2018-05-30 16:55] mbeacom opened #1315 "Tip form pre-populates with last sent tip information"
### User Story

As a user, I don't want the tip form to be pre-populated with my last sent tip field data

### Why Is this Needed?

*Summary*:  The current behavior can have undesired results since: to email, to github username, and comments are restored from the last sent tip.
If a user doesn't opt to expand the form to: advanced, they might submit the form with unwanted field entries from their

[2018-05-30 16:57] arun1595 commented on #1315
@mbeacom I would like to fix this!

[2018-05-30 16:58] mbeacom commented on #1313
Which browser was this on? I was unable to reproduce this on the latest stable chrome and macos.

`Chrome: Version 67.0.3396.62 (Official Build) beta (64-bit)`
`macos: 10.13.4 (17E202)`

[2018-05-30 17:07] mbeacom commented on #1315
@arun1595 Feel free to claim this bounty!  It's a bit low, since this should be quick win.

[2018-05-30 17:15] mbeacom opened #1316 "New bounty description pulls GH description and disregards the submitted description"
### User Story

As a user, I want to be able to add additional information in the description field for new bounties

### Why Is this Needed?

*Summary*:  Bounty funders should be able to add/remove/modify any bounty description before submitting the funding form.

### Description

*Type*: Bug

### Current Behavior

The bounty description reflects the github issue description, regardless of change

[2018-05-30 17:32] arun1595 commented on #1316
@mbeacom I'll take a stab at this one.

[2018-05-30 17:37] PixelantDesign opened #1319 "Notify me if a 2nd Person Starts Work"
As a funder, I should get notified via email that a second person has started work.
![Screen Shot 2018-05-30 at 1.36.16 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266457f36b7191a379f1112d4f5e595ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864aee01ba24df4fd4b0e9821ad2f42f6

[2018-05-30 17:38] arun1595 opened #1320 "'Email us' link in New funding page throws 404"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user, I want to fix the email link in the newsletter and mailchimp views.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently, the link is broken. So if

[2018-05-30 18:05] #1313 closed

[2018-05-30 18:09] thelostone-mc commented on #1313
@mbeacom  Had this issue when I checked it out in firefox !

[2018-05-30 18:15] SaptakS commented on #1313
I think it wasn't actually invisible. It was there, not proper UI maybe. That seems fair to happen given the change in the PR.

@mbeacom to me it seems like a different page or button given the code in the PR. Because the button label and almost the entire innerHTML is different to the above screenshot. @thelostone-mc ?

[2018-05-30 18:53] #1320 closed

[2018-05-31 01:40] PixelantDesign commented on #1104
Hi @Smona
Looking great! We're so excited about the landing page!
Here is the final copy. Let me know if you have any questions!

[Landing Page Feedback.pdf](https://github.com/gitcoinco/web/files/2056277/Landing.Page.Feedback.pdf)

[2018-05-31 02:52] St-Matthew commented on #498
I may be able to help with this

[2018-05-31 08:10] gomesalexandre commented on #1107
Issue still shows as open on Gitcoin currently

[2018-05-31 09:34] raphaelhuefner commented on #1185
Hello @mbeacom , @owocki (and @gitcoinbot  ;-) ,

Please review https://github.com/gitcoinco/python-api-client/pull/3 .

I will submit this now on the bounty page but would be happy about any kind of feedback!

Phew, my first bounty ever is shaping up to become an actual thing, wow! This was quite the revealing learning experience!

Thank you!
Raphael

[2018-05-31 09:48] raphaelhuefner commented on #1185
Alas, this is also my first (paid) interaction with Ethereum, so I had to apply for the Gitcoin faucet in order to go through with submitting this work on the bounty page. (Just in case you wondered why nothing is submitted there, yet.)

[2018-05-31 14:01] SaptakS opened #1323 "Support multiple issue editing and "Finish Later" functionality in funder form."
### Description

As a funder, I would like a funding experience where I can start editing funding information of multiple issues simultaneously and save them in draft form so as to work again later. Also, a well detailed, well separated form with proper UX helps a lot.
*Type*: feature.

### Definition of Done
- User has option to add new issue while editing current issue.
- User has the ability to

[2018-05-31 14:07] #946 closed

[2018-05-31 17:44] mbeacom opened #1324 "Visiting Tools continuously makes failed requests"
Example:

![screen recording 2018-05-31 at 11 24 am](https://user-images.githubusercontent.com/7315957/40798301-b0dba326-64d8-11e8-8e96-43415de8b02c.gif)

[2018-05-31 21:41] owocki opened #1326 "system thinks bounty is cancelled when it is not"
bounty pk 3400 in production
is the same as
https://beta.bounties.network/bounty/v1/536

but in our db it looks like its cancelled.. but it should not be

[2018-05-31 22:02] owocki commented on #1185
hehe... welcome to the other side!

thanks! im on calls all day today so can't review the PR today but i did just approve your faucet request

[2018-06-01 00:06] ceresstation opened #1329 "Add tool detailing breaking down success rates by type of bounty"
It would be great to have a simple admin tool that allows a user to search bounties by keyword / type and see their success rate.

[2018-06-01 02:41] knocte opened #1330 "As a funder, I want to be able to easily claim (or know when I can claim) the funds from an expired issue"
### User Story

As a funder, I want to be able to easily claim (or know when I can claim) the funds from an expired issue, so that they don't end up in limbo.

### Reproduction
1. Fund an issue with 0.01 ETH.
2. Set it to expire in 24 hours.
3. Publish bounty, wait 24 hours.
4. Go to issue.

### Current Behavior
The web UI says the issue is "Soft expired", and shows a tooltip with the text "This i

[2018-06-01 02:52] oogetyboogety commented on #1036
@owocki @thelostone-mc https://github.com/gitcoinco/web/pull/1311/files final PR for review

[2018-06-01 03:50] oogetyboogety commented on #1036
![inactive_email](https://user-images.githubusercontent.com/3319254/40820249-7202468c-652d-11e8-8c5c-e38d48fc8260.jpg)

[2018-06-01 06:02] thelostone-mc commented on #1300
Damn that was quick @travisdmathis  \m/

[2018-06-01 06:38] justpixel commented on #1312
@PixelantDesign @vs77bb I've tried to stick to current illustration style. What do you think?
![50k-01](https://user-images.githubusercontent.com/7627020/40825152-71a6a00a-657f-11e8-8a2e-c4ff8ddcab61.png)

[2018-06-01 07:41] thelostone-mc opened #1331 "fontawesome : Revert to css"
### User Story

Font awesome 5 js seems to be needing optimization.
Seeing lots of console warnings for violations where events take longer than expected.

<img width="1440" alt="screen shot 2018-06-01 at 1 07 51 pm" src="https://user-images.githubusercontent.com/5358146/40827950-df87a61a-659c-11e8-8de6-e55fee86467d.png">

Refs: https://github.com/chrisblakley/Nebula/issues/1582

Potential Fix: Re

[2018-06-01 09:27] thelostone-mc commented on #1331
@SaptakS @mbeacom could you guys tell me if this happens at your end ?

[2018-06-01 12:26] SaptakS commented on #1331
@thelostone-mc I know this problem exactly and have faced it in many other open source projects I worked in. The JS as you mentioned does a whole lotta complicated work which ain't needed. And they actually have a CSS only module as well in the version 5. So we can just use that. The font classes and everything remains same. I have had experience in doing this migration, so let me know in case you

[2018-06-01 13:29] oogetyboogety commented on #1036
![funder_email](https://user-images.githubusercontent.com/3319254/40843213-3fe3cba2-657e-11e8-937d-0e56a01f92fc.jpg)

[2018-06-01 13:36] mbeacom opened #1334 "Running sync_geth against Rinkeby results in all unknown schema errors"
### User Story

As a user, I want to be able to populate my database with bounties from Rinkeby via `sync_geth`.

### Why Is this Needed?

Users want the ability to populate their local environments with valid test data from Rinkeby.  Previously, users could `sync_geth mainnet`, but due to our new local dev restrictions, their only option is to run against rinkeby.

### Description

*Type*:  Bug

[2018-06-01 14:27] #1334 closed

[2018-06-01 15:13] PixelantDesign commented on #1223
@willsputra looks great! Please click submit work and PR to the creative repo! Thank you!

[2018-06-01 15:22] owocki commented on #1330
hi thanks for the ticket writeup!

there is a tooltip that explains what this means.... [screenshot](http://bits.owocki.com/2c3N0S3a3720/Screen%20Shot%202018-06-01%20at%209.22.11%20AM.png)

maybe we need a little info dialog and to adjust the copy to say what hard expired means too!  cc @PixelantDesign

[2018-06-01 15:25] owocki opened #1336 "empty user comments should be handled on gitcoinbot"
see https://github.com/gitcoinco/web/issues/797#issuecomment-393843833 -- its awkward when the user hasn't entered any text here (or if they used the ioS app)

[2018-06-01 15:37] owocki opened #1337 "Tell mobile users about Toshi (and other mobile clients)"
add the attached button for mobile users that visit Gitcoin from a normal browser. If you only display MetaMask (as is now) mobile users won't be able to use the service, so best to direct to Toshi's app store link. Should be pretty seamless but to detect when a user is coming from a mobile browser, check out slide 4 of this deck.

![gettoshi 2x](https://user-images.githubusercontent.com/513929/40

[2018-06-01 18:10] owocki commented on #1278
@mbeacom the DB size is growing at about a rate of 1 GB per day now!  it was 1 GB 2 days ago, 2.2 GB yeseterday, 3.5 GB today!  i'm pulling down a backup to profile on my local.  any ideas what could be new to the system this week that's adding that much space in the meantime!??

[2018-06-01 18:11] owocki commented on #1278
cc @thelostone-mc @SaptakS too.  kudos for anyone who guesses correctly

[2018-06-01 18:16] arun1595 commented on #1336
@owocki We've got a validation for the issue action plan but it isn't strict as it doesn't trim the whitespaces. I've submitted a [PR](https://github.com/gitcoinco/web/pull/1338) which will require a user to input a string for the action plan.

Let me know if it works.

Thanks!

[2018-06-01 18:32] owocki commented on #1278
email events!!!!

[code]

[2018-06-01 18:33] owocki commented on #1278
WOW email events went from 363880448 bytes to 4444061696 bytes!!!  @mbeacom didnt you say they were hammering our endpoint yesterday? that was causing the 503s?

[2018-06-01 18:38] mbeacom commented on #1278
That's insane!
Yes! It definitely wasn't helping. 😅

An additional thought regarding emails...  can we modify our methods that call `send_mail` to use a list versus iterating through each individual email? 🤔 I could be wrong, but they might attempt to `POST` results for each individual mail payload we send them which might be causing the extremely high POST'd results?  Obviously, this doesn't addr

[2018-06-01 18:38] owocki commented on #1278
looks like they are drops and deferrals

[code]

[2018-06-01 18:38] owocki commented on #1278
yes pls

[2018-06-01 19:03] mbeacom commented on #1278
Actions performed so far:

- [x] Snapshot live DB
- [x] Merge and deploy PR #1339 to disable emailevent creation in sendgrid webhook
- [x] Truncate and restart identity on `marketing_emailevent` table
- [x] Sigh of relief that @owocki caught this before the roundup email went out. 😅

[2018-06-01 19:44] #1278 closed

[2018-06-01 19:51] owocki commented on #1278
i just deployed the above PR

@mbeacom i just took a prod backup and its only 300 MB! yayyayyyyyy

[2018-06-01 20:18] vs77bb opened #1340 "Admin: Stop Work + Stop Work & Slash"
### User Story

[comment]: # (As an admin/funder, I want to differentiate between 'Stopping Work' on someone and 'Stop Work + Slash' to only block participants who are maliciously spamming the network.)

### Why Is this Needed?
Currently, slashing conditions are in place for all Gitcoiner's where an admin clicks 'Stop Work'.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Soluti

[2018-06-01 20:22] vs77bb commented on #1312
hi @justpixel mind removing the white outline? other than that it looks good!

[2018-06-01 20:23] owocki opened #1341 "As a user, i'd like faucet distributions to scale up and down with the eth network backlog so i can always have enough gas to submit a standard bounties tx"
# user story

As a user, i'd like faucet distributions to scale up and down with the eth network backlog so i can always have enough gas to submit a standard bounties tx

# what

spurred by feedback from a user http://bits.owocki.com/1m2f3p2q2B2f/Screen%20Shot%202018-06-01%20at%202.30.07%20PM.png

we've given out faucet distributions for 0.001(ish) for a bit.. it doesnt make sense to do the same f

[2018-06-01 20:30] owocki commented on #1341
feedback from a user http://bits.owocki.com/1m2f3p2q2B2f/Screen%20Shot%202018-06-01%20at%202.30.07%20PM.png

[2018-06-01 20:32] justpixel commented on #1312
Done.
![50k-01](https://user-images.githubusercontent.com/7627020/40862067-f6c98b02-65f3-11e8-993a-793ee005f58c.png)

[2018-06-01 20:38] PixelantDesign commented on #1312
Looks great! Could you PR to the creative repo?

Thanks!

[2018-06-01 20:45] justpixel commented on #1312
@PixelantDesign This is the link for the PR: https://github.com/gitcoinco/creative/pull/9

[2018-06-02 01:09] #1300 closed

[2018-06-02 01:12] owocki commented on #1300
https://gitcoin.co/results

[2018-06-02 01:29] kelvintyb commented on #1015
@owocki I'm new to Django, but would like to pick this up for learning purposes. Just checking how urgent this feature might be as I do not want to slow down the team while I'm implementing this.

[2018-06-02 01:49] jvmaia commented on #1340
can i use the issues in the 'rinkeby' network to test the feature i'm implementing?

[2018-06-02 05:00] knocte commented on #1330
@owocki : I had already mentioned that tooltip in this ticket, did you read the ticket entirely?

[2018-06-02 13:09] jvmaia commented on #1340
both the funder and the staff user have the right to slash, right? or only the staff user?

[2018-06-02 13:44] vs77bb commented on #1340
@jvmaia Hello! Yes - Rinkeby is great for testing.

That's a good question. Let's just give the slashing to the staff users for now. We'll have to consider doing some education for funders before then, IMO.

[2018-06-02 13:45] #1289 closed

[2018-06-02 14:49] jvmaia commented on #1340
Ook, i'm testing it now!

[2018-06-02 14:59] thelostone-mc commented on #1312
Merged ! Thanks @justpixel  ^_^

@vs77bb good for payout 👍

[2018-06-02 14:59] #1312 closed

[2018-06-02 15:06] #1336 closed

[2018-06-02 15:14] thelostone-mc commented on #1313
The screenshot posted was for receiving tips , the text is different from what @mbeacom put up!
Assuming they are from different flows

[2018-06-02 15:17] thelostone-mc commented on #1305
It must be before confirming 🤔
The UI updates once you confirm it on metamask

[2018-06-02 15:27] thelostone-mc commented on #1015
@mbeacom any idea on the deadline for this ?

@kelvintyb hey ^_^
`master` branch is the latest and greatest

[2018-06-02 15:31] #1292 closed

[2018-06-02 15:32] thelostone-mc commented on #1292
Updating UI for this section along in https://github.com/gitcoinco/web/pull/1342

[2018-06-02 16:06] owocki opened #1344 "As a funder, I want to know the hourly rates I'm paying out, so I can know if I'm following best practices"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to know the hourly rates I'm paying out, so I can know if I'm following best practices

Ref https://medium.com/gitcoin/tutorial-how-to-price-work-on-gitcoin-49bafcdd201e

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current sta

[2018-06-02 17:36] thelostone-mc commented on #1324
Fixed via https://github.com/gitcoinco/web/pull/1325

[2018-06-02 17:36] #1324 closed

[2018-06-02 17:56] jvmaia commented on #1340
I'm repairing the user's stop work button, and adding padding to the button the stop work buttons, commit in 5 minutes

[2018-06-03 12:35] willsputra commented on #1223
still workin on it!

[2018-06-03 12:41] kelvintyb commented on #1015
@owocki  @mbeacom

I was wondering if it would make sense to implement this feature for a webhook URL instead? This would be less fiddly for the user. Compare the process for [creating webhooks](https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks) vs [creating a bot](https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token). Users wouldn't ne

[2018-06-03 12:47] NedelescuVlad commented on #1177
Almost done with the front-end template, pr coming up today

[2018-06-03 14:07] kelvintyb commented on #1015
I have created a WIP PR for this with an implementation for the webhook integration. I would think a webhook is preferable for the use case of sending notifications, but if needed, can revert to a previous commit that's more aligned with a bot integration.

[2018-06-03 16:23] arku opened #1348 "Form input feedback icon overlaps with a long input field value"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer, I don't want the feedback icon inside the form input to overlap the field value.

### Description

The feedback icons overlap with the field values and the icons (valid and error) aren't vertically centered.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Design bug

### Current Behavior
[comme

[2018-06-03 17:24] #1348 closed, assigned to nobody

[2018-06-03 19:53] vs77bb commented on #1340
@jvmaia Thanks for the PR! We'll review and get back to you soon if we have any questions. CC @mbeacom @owocki

[2018-06-03 20:29] jvmaia commented on #1340
Ook, waiting! =)

[2018-06-03 23:09] owocki opened #1352 "As a user, I want auto payout when pr is accepted, so I can get my payout faster"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want auto payout when pr is accepted, so I can get my payout faster

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Its a top requested feature.

### Des

[2018-06-03 23:50] owocki opened #1353 "BUG - Black circle on ENS page"
http://bits.owocki.com/3I1C1603312N/Screen%20Shot%202018-06-03%20at%205.50.19%20PM.png

Waht is this thing?  looks like a regression

[2018-06-03 23:57] arun1595 commented on #1353
@owocki Let me fix it.

[2018-06-04 00:14] arun1595 commented on #1353
@owocki Submitted a [PR](https://github.com/gitcoinco/web/pull/1354/files). Check it out when you get a chance.

[2018-06-04 00:14] owocki commented on #1330
thanks i see it now

[2018-06-04 09:36] jangmj commented on #1244
I am sorry.
I have worked responsiveness.
Screen width boundary : 768px
case wider : like modal display sample
default (less than 768px): carousel applied
Thank you.

[2018-06-04 14:24] mbeacom opened #1358 "Require agreement on kill bounty"
### User Story

As a user, I want to ensure I can't submit a bounty cancelation request if I haven't agreed to the TOS.

### Why Is this Needed?

*Summary*: Legal

### Description

*Type*: Bug

### Current Behavior

<img width="1061" alt="screenshot 2018-06-04 10 20 11" src="https://user-images.githubusercontent.com/7315957/40922827-377d37e0-67e1-11e8-9f0f-9ccac533df6f.png">

### Expected Behavior

[2018-06-04 15:31] ceresstation opened #1359 "As a funder, I want to have a 'Powered by Gitcoin' button so that I can forward people to Gitcoin on my existing bounty page"
It would be great to have a simple 'Powered by Gitcoin' button using the assets from the existing logo. @PixelantDesign are you open to taking this?

[2018-06-04 15:55] owocki opened #1361 "on the new funder form, the design of the price estimation is wrong"
http://bits.owocki.com/2m0Q0J3h2Z0L/Screen%20Shot%202018-06-04%20at%209.54.44%20AM.png

this text should go across the entire length of the form.. not just the 2nd, rightmost div.

[2018-06-04 15:55] owocki commented on #1361
http://bits.owocki.com/1V3L2g0J1E1y/Screen%20Shot%202018-06-04%20at%209.55.46%20AM.png

[2018-06-04 16:14] arun1595 commented on #1361
@owocki On it.

[2018-06-04 16:34] arun1595 commented on #1361
@owocki Submitted a [PR](https://github.com/gitcoinco/web/pull/1362) fixing this issue. Take a look when you get a chance.

Thanks!

[2018-06-04 16:37] #1361 closed

[2018-06-04 16:57] owocki opened #1363 "BUG -- Profiles with no info on them look funny."
See screenshot => http://bits.owocki.com/161T0C003W3I/Screen%20Shot%202018-06-04%20at%2010.57.15%20AM.png

Maybe we should add a min-height css param and also have some copy about how this person has not done anything yet and what they _should_ do

[2018-06-04 17:07] PixelantDesign opened #1364 "Link to Etherscan from Bounties Funded/Completed List on Profile"
### User Story

[comment]: # (As a <user>, I want to <a link to etherscan> so that <i can easily have a reference to bounties i've funded or completed>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Currently its difficult to reference bountied

[2018-06-04 17:51] thelostone-mc commented on #1363
I'll take care of it post the profile changes get merged 👍

[2018-06-04 17:57] owocki opened #1366 "test 3443"
test 3443

[2018-06-04 18:15] PixelantDesign opened #1367 "BUG -- Cancelled Bounty on Gitcoin Did Not Return Funds"
### User Story

As a user I want to cancel a bounty and have the funds return to me.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Funds did not return

### Expected Behavior
Funds returned to funder

### Reproduction
Accidentally funded two boun

[2018-06-04 20:03] mbeacom opened #1369 "BadFunctionCallOutput: Could not decode contract function call getBountyArbiter return data b'' for output_types ['address']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/273/](https://rollbar.com/gitcoin/gitcoin/items/273/)

[code]

[2018-06-04 20:34] owocki opened #1370 "Update https://gitcoin.co/mission to show off that we use an open protocol"
Update https://gitcoin.co/mission to show off that we use an open protocol

The protocol is called Stanard Bounties.  https://github.com/Bounties-Network/StandardBounties
Here is a post about it https://medium.com/gitcoin/integrating-standard-bounties-dc4cf62bf814

This ticket is one part visual design and one part updating the site.

This art should fit in with the rest of the design and should i

[2018-06-04 20:38] owocki commented on #1367
looks like the funds returned to me https://etherscan.io/tx/0x68f0272a2079e3fa36bc6dc1afdf5ef60335deb7c3f6f8b77bda29f76186dc79

[2018-06-04 20:53] owocki commented on #1359
![built with gitcoin](https://user-images.githubusercontent.com/513929/40941059-edb51508-6806-11e8-89b1-e0bc362c97ca.jpg)
![gitcoinn](https://user-images.githubusercontent.com/513929/40941065-f0808970-6806-11e8-8d5a-4567e7dcc9b3.gif)

[.ai files](http://bits.owocki.com/3B3I3B2r0o3s/Archive%202018-06-04%20at%202.52.58%20PM.zip)

[2018-06-04 20:58] mbeacom opened #1371 "TypeError: object of type 'int' has no len()"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1238/](https://rollbar.com/gitcoin/gitcoin/items/1238/)

[code]

[2018-06-04 20:59] #1371 closed

[2018-06-04 21:54] owocki commented on #1370
cc @mbeylin @willvillanueva in case they have brand guidelines for stdbounties they want to attach

[2018-06-04 23:21] rtrunkhill commented on #1358
I'd like to take a swing at this one please

[2018-06-04 23:23] owocki commented on #1358
@rtrunkhill be our guest!

[2018-06-05 00:32] #1366 closed

[2018-06-05 00:47] owocki opened #1372 "List our app on https://github.com/marketplace"
List our app (specifically the bot) on https://github.com/marketplace -- this could be a new channel for devs to find us.

[2018-06-05 01:41] PixelantDesign opened #1373 "Build -- Show Submissions to Accept on Profile Dropdown and in Profile"
### User Story

[comment]: # (As a funder, I want to to see an Accept Submission Button if an issue i've funded is ready for me to review so that I can be on top of my tasks.)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
Enhancement

### Current Behavior
[comment]: # (Describe what actually happened.)

Only notifies via email

### Expected Behavior
[comment]: # (Describe

[2018-06-05 02:35] PixelantDesign commented on #1359
@ceresstation I made these a while back.... are you looking for the standard 88x31 size that lives in the footer? Let me know, happy to help.

<img width="1035" alt="screen shot 2018-06-04 at 10 32 21 pm" src="https://user-images.githubusercontent.com/238235/40951959-5a107090-6847-11e8-8c90-ec205fc09889.png">

@owocki we should align on which one of these to use (robot vs. logo) for consistency. P

[2018-06-05 02:38] PixelantDesign commented on #1367
yea one of them worked

[2018-06-05 02:38] #1367 closed

[2018-06-05 02:59] PixelantDesign commented on #1305
That screen showed after I submitted and After I received the confirmation dialog (which I thought was strange because I just went through that process).

[2018-06-05 03:15] PixelantDesign opened #1374 "Add Visual to Gitcoin Bot Status"
### User Story

# As a user I want visual cues so that I can see the status of Gitcoin Bot at a glance and immediately understand the current state.

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- Show visual on each Bot Status
- [Use this as a starting point ](https://github.com/ebidel/lighthouse-badge)
- This is applied for all bot messag

[2018-06-05 03:30] PixelantDesign opened #1375 "Update Soft & Hard Expired"
### User Story

# As a user I don't want guess what soft/hard expired on Gitcoin means.

### Current Behavior
[comment]: # (Describe what actually happened.)
An issue will show either soft expired or hard expired, with no definitions.

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
Change soft and hard expired to Expired.
Show persistent message on the issue for a user

[2018-06-05 03:31] PixelantDesign commented on #1330
Hi Knocte --

Thanks for bringing this to our attention. The soft vs. hard expire is a little confusing, we will be simplifying to just expired [on this ticket ](https://github.com/gitcoinco/web/issues/1375)and showing the additional messaging separately on the ui layer. The messaging will be persistent once the issue has expired.

Let me know if you have any questions!

[2018-06-05 03:34] knocte commented on #1330
@PixelantDesign that seems like a piece of work that would close this issue.
In the meantime, can you tell me how long is the period to have an issue transition from SoftExpired to HardExpired at the moment? Thanks

[2018-06-05 03:38] PixelantDesign commented on #1177
@NedelescuVlad Excited to see the progress you've made!

[2018-06-05 15:00] SaveTheAles opened #1378 "Gitcoin organization shield"
Hi there! Thank you for awesome service!

As organization we want to embedded badge to readme.md file with information how we use gitcoin.

Is it possible to create dynamic badge with amount of issues funded by gitcoin according to repo (organization) and amount of funded ETH?

### Why Is this Needed?

Where are a lot of github users who know nothing about gitcoin and don't use gitcoin browsers ex

[2018-06-05 15:59] owocki commented on #1216
note that right now in the system suspensions are called 'slash'ings or being 'slash'ed

[2018-06-05 16:16] arun1595 commented on #1316
@gitcoinbot On it.

[2018-06-05 16:20] rtrunkhill commented on #1358
So i can change the HTML but I have never used python before.  So set up may be a bit tricky, id you'd like to let someone else do this (sorry this issue came up in my JS issues search and i didnt double check it)

[2018-06-05 16:39] owocki commented on #973
v1 is shipped

[2018-06-05 16:39] #973 closed

[2018-06-05 16:49] owocki opened #1379 "As a funder, I want to changeBountyFulfillmentAmount() for contest/cooperative bounties, so I can pay out multiple submissions"
### User Story
As a funder, I want to changeBountyFulfillmentAmount() for contest/cooperative bounties, so I can pay out multiple submissions

See this method in standardbounties: https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L444-L452

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of t

[2018-06-05 16:56] owocki opened #1380 "As a funder, I want to allow the crowd to increase contributions to a bounty, so we can crowdfund issues."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to allow the crowd to increase contributions to a bounty, so we can crowdfund issues.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Crowdfunding

[2018-06-05 16:57] owocki commented on #1287
here is a workaround i just specced up https://github.com/gitcoinco/web/issues/1380

[2018-06-05 19:49] owocki commented on #1013
looks like this was closed a little while ago.  no idea why https://github.com/gitcoinco/web/pull/1062

i'd thought this was a fairly easy ask.. we just want the contracts linked in the footer of the site.

[2018-06-05 19:49] #1013 closed

[2018-06-05 19:55] dolebas commented on #1013
Not sure what you mean by "we"?

[2018-06-05 20:38] owocki opened #1382 "List used contracts in the footer"
# User Story
As a ETH enthusiast, I want to see what contracts belong to gitcoin or what contracts it uses, so that I can ensure that I am using right interface.

# Why Is this Needed?
This can serve as onboarding experience for new contributors. Also as an indicator that Gitcoin is DAPP, and also while site is visible, it is not clear what public code in blockchain this deployment uses.

# Descri

[2018-06-05 21:07] owocki commented on #1379
from @mbeylin

so this might torpedo the entire project

[2018-06-05 21:10] mbeacom commented on #1379
Yikes.  Any other details? Sounds like we'll have to wait for standard bounties 2.0 or modify this bounty to build out a batch "tipping" mechanism tracked as bounty fulfillments or something similar.

[2018-06-05 21:13] owocki commented on #1378
hey @SaveTheAles is this what youre looking for?

https://github.com/gitcoinco/web/blob/master/docs/WIDGET.md

[2018-06-05 21:17] owocki commented on #1379
[heres the convo with mark](http://bits.owocki.com/3G2H312A100z/Screen%20Shot%202018-06-05%20at%203.16.56%20PM.png)

sounds like the only action path available to us is to figure out the number of contributors in the new funder form and to insert that into the bounty upfront on gitcoin.co/new

[2018-06-05 21:19] owocki commented on #1330
centuries.. long enough for it to be a non-issue

[2018-06-05 21:20] owocki commented on #1370
yay @justpixel excited to work with you again

[2018-06-06 02:42] vs77bb commented on #623
@mbeacom Is this ready for pay out? 🤔

[2018-06-06 02:48] knocte commented on #1330
Not sure I understand; to me, being long is the issue, I want to get my ETH back.

[2018-06-06 07:49] SaveTheAles commented on #1378
@owocki
Sure I'm looking for something like this! 👍
But this badge is really huge
Will you planed create a shield like at https://shields.io/ ?

[2018-06-06 13:16] kyriediculous commented on #1379
This will need a completely new bounty implementation which I see as perpetual or batch bounties.

We're implementing this in a private setting so for us it's easy, perpetual bounties can only be issued by team managers who have the authority to mint tokens.

When implementing it in a public setting a issuer would have to approve a multiple of tokens that are rewarded for one completion. When subm

[2018-06-06 13:48] PixelantDesign opened #1386 "BUILD Contributor Landing Page"
## **Build a Landing Page**
## **Front End Task**
## **7 Day Turnaround**

### User Story

As a contributor, I'd like to understand what Gitcoin is about and how it works.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We don't currently have one

[2018-06-06 14:17] PixelantDesign opened #1387 "BUG Personal Information Display on Unselected Option"
### User Story

As a user I want my personal information to be hidden when i opt out.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: BUG

### Current Behavior
[comment]: # (Describe what actually happened.)
Personal info displays even if I unselect it during the funding process.

<img width="1290" alt="screen shot 2018-06-06 at 10 12 03 am" src="https://user-images.githubus

[2018-06-06 14:31] PixelantDesign opened #1388 "BUG Markdown Messed Up on Issue Detials View"
### User Story

[comment]: # As a user I want to see an issue details page that matches information displayed on github ticket and that i can properly read.

### Current Behavior
[comment]: # (Describe what actually happened.)
Issue Details Display looks broken, text overlapping images, info that should be hidden is displayed.

<img width="1959" alt="screen shot 2018-06-06 at 10 27 34 am" src="htt

[2018-06-06 15:21] mbeacom commented on #1015
👍 for the webhook integration.

[2018-06-06 16:27] shad-k commented on #1341
I am working. Have the code written out just have to test it out.

[2018-06-06 16:29] vs77bb commented on #1341
@shad-k It should scale up and down based on gas prices at the time of the request ([see current prices here](https://ethgasstation.info/)).

@owocki / @mbeacom Would you recommend @shad-k pull current gas prices from Etherscan or elsewhere to make this possible?

[2018-06-06 16:35] vs77bb commented on #1185
@raphaelhuefner @owocki @mbeacom Snoozed Gitcoin Bot here as this one is on our side to review 👍

[2018-06-06 16:43] vs77bb commented on #946
@CuriousLearner Mind submitting work on Gitcoin here? If you need a bit of ETH, use the [Gitcoin Faucet](gitcoin.co/faucet) or reach out to me [on Slack](gitcoin.co/slack) and I can send you some!

[2018-06-06 18:13] CuriousLearner commented on #946
Ah, I basically did a transaction a week ago for 1 GWEI

But it wasn't accepted, and then I rejected that. and made another one with 1.2 GWEI: https://etherscan.io/tx/0x3bb605b7b11c2af4a48d92754a16b6ad9b03ca5a74018803efd1b553f9339e4e

This is the maximum I had :P

So, now no idea what to do :rolling_on_the_floor_laughing:

[2018-06-06 18:18] vs77bb commented on #1179
Hi @sthorpe how is it going here?

[2018-06-06 19:03] vs77bb commented on #1177
@PixelantDesign @NedelescuVlad Me as well!

[2018-06-06 22:38] ceresstation opened #1390 "As a funder, I'd like to know how many times a developer has started a bounty but not finished it"
Ideally this would be added as a feature on a user's page https://gitcoin.co/profile/ceresstation.

### Why Is this Needed?

This will help projects make more informed decisions when starting work.

### Definition of Done

At the most basic level this could just be an additional field under 'contributor' that marks the number of bounties expired or abandoned.

[2018-06-06 22:39] ceresstation commented on #1359
Awesome, thanks guys!

[2018-06-06 22:39] #1359 closed

[2018-06-07 00:36] darkdarkdragon commented on #485
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/485/445).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:36] darkdarkdragon commented on #498
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 2.0 ETH (1384.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/498/453).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:36] darkdarkdragon commented on #463
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/463/456).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:41] darkdarkdragon commented on #693
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/693/525).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:42] darkdarkdragon commented on #693
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/693/541).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:42] darkdarkdragon commented on #706
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.17 ETH (117.66 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/706/553).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:42] darkdarkdragon commented on #725
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.35 ETH (242.24 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/725/554).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:42] darkdarkdragon commented on #445
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/445/560).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:43] darkdarkdragon commented on #773
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.01 ETH (6.92 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/773/565).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:43] darkdarkdragon commented on #776
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/776/568).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack'

[2018-06-07 00:45] darkdarkdragon commented on #868
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/868/589).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:45] darkdarkdragon commented on #715
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/715/594).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:45] darkdarkdragon commented on #915
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/915/597).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:45] darkdarkdragon commented on #804
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/804/599).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:46] darkdarkdragon commented on #949
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/949/608).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:46] darkdarkdragon commented on #996
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/996/621).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:47] darkdarkdragon commented on #1002
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1002/626).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:48] darkdarkdragon commented on #973
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/973/658).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:/

[2018-06-07 00:49] darkdarkdragon commented on #1166
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1166/681).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https:

[2018-06-07 00:49] darkdarkdragon commented on #1165
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1165/682).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:50] darkdarkdragon commented on #1036
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.002 ETH (1.38 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1036/714).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-06-07 00:52] darkdarkdragon commented on #1331
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1331/744).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-06-07 00:52] darkdarkdragon commented on #1366
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1366/750).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:53] darkdarkdragon commented on #1379
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1379/773).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:53] darkdarkdragon commented on #1379
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1379/774).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:53] darkdarkdragon commented on #1379
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1379/775).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1382
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1382/781).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1379
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1379/782).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1374
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1374/783).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1379
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1379/784).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1375
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1375/785).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 00:54] darkdarkdragon commented on #1386
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/web/1386/797).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https

[2018-06-07 03:01] PixelantDesign opened #1391 "BUG Image Not Displaying on Issue Details"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to see the image from the Github issue, display on the issue details page in Gitcoin

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
BUG

### Current Behavior
[comment]: # (Describe what actually happened.)
**Image Displays on Github Issue Page**
<img width="1430" alt="screen

[2018-06-07 08:46] thelostone-mc commented on #1387
@PixelantDesign Do we just show the FunderETH address  ?

[2018-06-07 08:49] #1331 closed

[2018-06-07 09:13] JDFind commented on #854
Hey @owocki, any update on this issue?

[2018-06-07 09:17] #1223 closed

[2018-06-07 09:19] thelostone-mc commented on #982
@SaptakS 💰 💰

[2018-06-07 09:42] thelostone-mc commented on #1244
@jangmj could you open up a PR ? if it looks alright
I'll issue you the bounty

[2018-06-07 09:49] thelostone-mc commented on #854
@JDFind this has been resolved ASAIK
Right now -> If as long the bounty hasn't expired , you should be able to submit it
We are yet to add a UI pop up that tells the hunter that it's expired and parallely send a notif to the funder to say someone has requested for the issue timeline to be extendede

[2018-06-07 11:57] justpixel commented on #1370
@owocki Please have a look and tell me what do you think.
![gitcoin-misson](https://user-images.githubusercontent.com/7627020/41098124-fe6d762a-6a62-11e8-8573-83deefc61719.png)