[2018-04-16 03:34] owocki commented on #896
https://github.com/gitcoinco/web/pull/458/files#diff-67c4c586930c07acfa9d8e35c487fff3R374

this might alraedy exist here

[2018-04-16 03:37] owocki commented on #883
@kziemianek -- once the PR is merged, @ me back and ill pay you out directly via your ETH address ( i will also mark the bounty as done so you get credit for it on your profile )

[2018-04-16 03:37] #883 closed

[2018-04-16 12:47] #844 closed

[2018-04-16 14:33] owocki commented on #556
from a friend who runs a private repo:

[code]

[2018-04-16 14:41] owocki commented on #873
fixed in c4249434c9cc7aa65f320fd9c8aafebacdbd8765 95d74fad86394edde702ef1dc15a511b3ce40b7d 5cb51fa2221d144fc95e74e046ac62a59c52d80f

[2018-04-16 14:41] #873 closed

[2018-04-16 14:50] mkosowsk commented on #556
Very compelling stuff! Would be interesting to have a discussion on the best way for Gitcoin to streamline the process of getting the the correct paperwork to the Contributor and getting them onboarded on a private repo with as little pain as possible.

OSS is huge but also a ton of opportunity in closed source 😍

[2018-04-16 14:52] owocki commented on #794
@shahsanjay10 should we put this back out there in 'open' state so others can take it?

[2018-04-16 15:31] shahsanjay10 commented on #794
Yes

On Mon, Apr 16, 2018, 7:52 AM Kevin Owocki <notifications@github.com> wrote:

[2018-04-16 17:17] owocki commented on #683
thanks for letting us know about your availability @elmarti

[2018-04-16 17:17] owocki commented on #683
for anyone who's picked up the task since then, [here](https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md#ipdb) are the docs about how to set a breakpoint inside docker

[2018-04-16 17:31] owocki commented on #620
@nitinrgupta would you mind clicking 'star work' on the [gitcoin issue](https://gitcoin.co/issue/gitcoinco/web/620) ?

[2018-04-16 17:46] nitinrgupta commented on #620
Done.

[2018-04-16 18:29] owocki commented on #445
reviewing PR now

[2018-04-16 19:11] justpixel commented on #540
@cmac2454 are you still working on this? I would like to finish what you started.

Thanks.

[2018-04-16 19:48] cmac2454 commented on #540
Hey @justpixel , feel free to go ahead and take a crack at it.

Sorry I haven't been on in a while folks! I took a vacation and now I've gotten busy otherwise so unfortunately this kind of fell by the wayside.

[2018-04-16 19:49] owocki commented on #683
good feedback from @villanuevawill -- perhaps this is a question we should be asking on the 'start work' modal?

[2018-04-16 20:02] owocki opened #901 "as an admin, i want to spin up a gitcoin geth node, so i can use it for gitcoin stuff"
for https://github.com/gitcoinco/web/pull/509#discussion_r181842114 , we will need a local `geth` node that's guaranteed to be up to date with the most recent version of the blockchain

[2018-04-16 20:11] mbeacom commented on #901
I can set this up on the k8s cluster, if that's cool with you.

The only downside is it's going to take a while to fully sync versus spinning up a ridiculous GPU instance, syncing, tearing it down, and attaching the volume to another instance.

If we can wait a bit, I can spin it up on k8s in the typical fashion and just wait for it to update **or** we can spin up a gigantic GPU instance, sync it,

[2018-04-16 20:35] thelostone-mc commented on #843
Checking out the functionality of tip / redeem colo coin
There we check if metmask is unlocked && installed -> and then show the forwarding address
If scanned without trust browser (have to figure this out too )  -> can I assume the above behavior doesn't change ?

[2018-04-16 20:36] owocki commented on #901
i dont think we want to spec this to be GPU-bound.  we only need our node to have nice GPU abilities if were going to be mining (which we are not).

yes pls.

i recall that last time i did this, i had a hard time keeping the node synced if i used micro/nano instances.  i believe that a medium/large instance was able to keep synced.  IIRC the node was mostly memory and disk bound.

make sure when y

[2018-04-16 20:42] mbeacom commented on #893
Addressed in #900

[2018-04-16 20:42] #893 closed

[2018-04-16 20:46] mbeacom commented on #901
@owocki Oh, no. I didn't mean we'd use the GPU instance indefinitely. It's much faster to fully sync a geth node with a beefy GPU instance.  Then you can drop the ec2 instance, keep the volume, and attach it to the normally sized node.

I'll see what's up with the kub helm recipe for geth and see if we can get this spun up.

[2018-04-16 21:48] owocki commented on #901
ah got it.. thx

[2018-04-16 21:53] owocki commented on #843
afaik.. the web3 object should be the same whether youre using metamask / trust

(not sure if thats what youre asking)

[2018-04-17 01:01] PixelantDesign commented on #874
This is a nice approach to slack onboarding. <img width="1366" alt="screen shot 2018-04-12 at 4 53 24 pm" src="https://user-images.githubusercontent.com/238235/38842658-36fc4e76-41b9-11e8-8918-75277c59851b.png">

[2018-04-17 01:11] owocki commented on #846
i wonder if calling this landing page something like ["do more faster"](https://medium.com/gitcoin/tutorial-leverage-gitcoins-firehose-of-talent-to-do-more-faster-dcd39650fc5) would orient it around what customers want to achieve, instead of just showing off our product and it's features?  put another way, how does this landing page elicit hope / action out of the end user.

@vs77bb i wonder if we

[2018-04-17 02:07] #222 closed

[2018-04-17 04:45] jakerockland commented on #222
@owocki @gitcoinbot wants me to tell you bounty completed via #887 👍

[2018-04-17 07:47] matthewlilley commented on #354
@PixelantDesign Sorry, I thought I'd already replied to this. Can you take a look again here https://stackblitz.com/edit/js-nkwz7t

[2018-04-17 09:17] kziemianek opened #903 "Navbar responsive issue"
### Description
*Type*: Bug

### Current Behavior
Login button in navbar exceeds window.

![image](https://user-images.githubusercontent.com/1838338/38860604-dbbc0e0c-4230-11e8-881c-7d745a2cf9f9.png)

[2018-04-17 13:23] kziemianek opened #905 "404 after logout at profile page"
### Description
*Type*: Bug

After logging out user is redirected to same page, which might result in 404 page.

### Expected Behavior
User should be redirected to home page ?
Also accessing https://gitcoin.co/profile/ without being authorized should result in 401 page, not 404.

### Reproduction
Logout at profile page or access https://gitcoin.co/profile/ being not logged in.

[2018-04-17 13:53] PixelantDesign commented on #620
Hi @nitinrgupta Thanks for all of the updates!
I tried a few changes with your sketch file, what do you think of these additions?

![python landing page 3 2x](https://user-images.githubusercontent.com/238235/38874034-22b9212a-4225-11e8-9fd3-abca87b727f6.png)

cc: @owocki @vs77bb would love your copy magic here.

[2018-04-17 13:54] joshmobley commented on #671
from slack:
[code]

[2018-04-17 14:05] PixelantDesign commented on #540
Thanks @cmac2454 would you mind clicking stop work? @justpixel please click start work on Gitcoin and let us know if you have any questions!

[2018-04-17 14:33] owocki opened #906 "UX when an issue is kicked back to open"
(not ready to be worked on)

From Seiron on chat:

[2018-04-17 14:37] PixelantDesign opened #907 "Test title"
sdfssdf

[2018-04-17 14:49] mbeacom commented on #905
@kziemianek This was my bad. I didn't modify the way we handle fetching profile information via `/profile` - Originally, we required a username to follow `profile` or default to the current user and 404ing if they don't exist or they don't have a profile... not so much an unauthorized situation.

Pushing in a fix for this now to redirect to home.

[2018-04-17 14:50] owocki commented on #620
i find the yellow in the middle slightly overwhelming..

happy to take a pass at copy -- maybe in a google doc?

[2018-04-17 14:54] #907 closed

[2018-04-17 15:34] HectorZarate commented on #725
https://github.com/HectorZarate/web/tree/mentor
Getting comfortable with the code base, its very high quality! So I forked and started a new branch for this issue, work has been started on it and anyone can check it out there for collaboration or comments.
Btw I am @hector_z on slack, ill shoot over some questions if necessary.

[2018-04-17 16:00] mbeacom commented on #725
Thanks @HectorZarate !

[2018-04-17 16:16] willsputra commented on #656
yes! @gitcoinbot

[2018-04-17 16:39] owocki commented on #656
hmm... gitcoinbot is weird.. thanks for baring with us @willsputra

[2018-04-17 16:41] nitinrgupta commented on #620
@PixelantDesign I agree with @owocki.
I think reducing the opacity of those backgrounds should do the trick. It's a good idea to differentiate and have colored sections.

Also, in the new blue section with the icons and having the text showing on hover states might not be a good idea. It creates a lot of abstraction.

[2018-04-17 17:01] #905 closed

[2018-04-17 17:04] owocki commented on #813
@rickyplouis the team is checking in on this project right now.. how is it going?

[2018-04-17 17:26] owocki commented on #115
@beneschtech are you still working on this?  would @jakerockland 's info help?

[2018-04-17 18:07] PixelantDesign opened #908 "Design Funder Landing Page"
*Placeholder - Not Ready to Be Worked On*

[2018-04-17 18:21] mbeacom opened #909 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/445/](https://rollbar.com/gitcoin/gitcoin/items/445/)

[code]

[2018-04-17 18:33] owocki commented on #767
a data point: right now.. we email folks asking for feedback.

[2018-04-17 18:44] jakerockland commented on #767
Yeah personally I didn’t mind providing feedback via email because I think this project is super rad, but I have a general disdain for email so having it be integrated into the UX of submitting a bounty is something that feels like an improvement to me.

On Apr 17, 2018, 12:34 PM -0600, Kevin Owocki <notifications@github.com>, wrote:

[2018-04-17 20:30] #908 closed

[2018-04-17 20:32] PixelantDesign commented on #846
@owocki The top part of the landing page (in the google doc) is set up to focus on the value delivered vs. features...lets collaborate in the Google Doc.

[2018-04-17 20:32] PixelantDesign commented on #846
https://docs.google.com/document/d/1xYxFyQQaRN8AUDNdsNIa9bTK3kmCcLc_eR3ECAOn7Jk/edit?usp=sharing

[2018-04-17 20:50] PixelantDesign commented on #683
hmmm...what if we asked the contributor to confirm whether they think they could complete the project by x date?

[2018-04-17 22:06] owocki opened #910 "Make automatic opt-in notifications easier to setup"
user feedback, not ready to be worked on

[2018-04-17 22:12] owocki opened #911 "at the end of the new FTUX, should we let users know about our social accounts?"
see [this example](http://bits.owocki.com/1o2o3o1S0j0A/Screen%20Shot%202018-04-17%20at%204.11.42%20PM.png) from dock.io

[2018-04-17 22:13] owocki commented on #911
@vs77bb this could feed into the viral loops we talked about with dean last week

[2018-04-17 22:45] mbeacom opened #912 "Migrate avatar storage and static to S3"
As a staff member, I want all avatars and static assets stored in S3, so we can reduce load against the web application and ensure asset availability/redundancy.

The current implementation of `avatar` uses local file storage.  If we proceed with k8s/dockerized workloads, we'll need to provide a persistent shared volume cross-pods to allow sharing of these avatar resources.

Likewise, static file

[2018-04-18 00:13] mkosowsk commented on #911
This makes a lot of sense to me!

[2018-04-18 00:47] PixelantDesign commented on #911
It is a possibility.

The contributor Ftux ends with a user on the issue explorer with recommended bounties filtered. @owocki where did you envision the social CTAs being shown?

 If I remember correctly, we do invite users to join our social media channels in the drip campaign that follows their initial onboarding.

[2018-04-18 03:08] owocki commented on #911
i suppose it could be an optional last step or 2nd to last step.  ideally we would a/b test this to figure out if it creates any friction (and if it creates any results)

[2018-04-18 04:07] villanuevawill commented on #683
@PixelantDesign my original intention behind this idea is it gives a good criteria to choose a candidate to work with.  For example, I may be loose on my timeline, because I realize code may take longer and shorter than I originally scoped. However, I may be more likely to team up with someone who has more availability in their schedule and can finish the task more quickly.

[2018-04-18 08:03] kziemianek commented on #876
@owocki, @mbeacom seems like switching to UTC timezone solves problem. I agree that dates should be stored in UTC format, rather than other timezone.

What do You think about changing timezone ? Seems to be fundamental change and i'm not aware of all django internals and problems it might rise with current implementation.

[2018-04-18 09:03] justpixel commented on #540
@owocki Here is the first draft for the Job Board.

If this is alright I will continue with the rest of the screens.
Should I make a pull request on the creative repo? Or how is this gonna work?

Thanks.

![job board](https://user-images.githubusercontent.com/7627020/38921998-cf26b38e-42ff-11e8-89c7-0ad112b607f9.png)

[2018-04-18 11:02] PixelantDesign commented on #540
Looks good @justpixel!

Could we try the job tiles in a list format? Might be a easier for scanning since we'd likely show these ordered newest at the top.

Here is an example list:
<img width="1188" alt="screen shot 2018-04-18 at 6 48 52 am" src="https://user-images.githubusercontent.com/238235/38928106-c6dff37c-42d5-11e8-8d68-bb09cfb2bb59.png">

Final design files can be posted here. I'm happy t

[2018-04-18 11:02] mkosowsk commented on #876
Time zone funkiness is why I changed my life to be running on UTC, just one less thing to worry about :)

- Mitch Kosowski, Posted at 11:02 AM UTC

[2018-04-18 12:17] PixelantDesign commented on #911
Agree on the testing piece. I think we should prioritize getting users through the flow of Ftux plus the new avatar builder. The more screens we inject into the sequence creates more opportunities for drop off.

[2018-04-18 12:17] PixelantDesign commented on #911
Hmm, I didnt close this issue. That is strange!

[2018-04-18 14:11] #405 closed

[2018-04-18 14:19] mbeacom opened #914 "AttributeError: 'LeaderboardRank' object has no attribute 'local_avatar_url'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/808/](https://rollbar.com/gitcoin/gitcoin/items/808/)

[code]

[2018-04-18 14:20] #914 closed, assigned to nobody

[2018-04-18 14:36] mbeacom commented on #876
@kziemianek Agreed.

We should ensure we're storing UTC and implement: https://docs.djangoproject.com/en/2.0/topics/i18n/timezones/

[2018-04-18 14:50] owocki commented on #876
@mbeacom what do you think about changing settings.py:163 to set the default as UTC as a means of solving the original issue?

[2018-04-18 15:01] owocki commented on #813
I just removed ricky from the bounty.  If anyone else wants it, please say hi and let us know what your plan of attack is.

[2018-04-18 15:08] owocki commented on #540
Index Page looks really good.  Looking forward to seeing the 'Post a job' and 'View Job' designs too!

[2018-04-18 15:34] owocki opened #915 "Gitcoinbot did not comment when bounty was posted"
It does show up the explorer, so no real harm done.
https://github.com/TimVanMourik/GiraffeTools/issues/16

[2018-04-18 15:46] owocki commented on #915
happened again at https://github.com/gitcoinco/web/issues/892

[2018-04-18 16:32] owocki commented on #915
fixed! https://github.com/gitcoinco/web/issues/804

[2018-04-18 16:59] willsputra commented on #656
Sorry to keep you all waiting... Here's the latest update, incorporating feedback from both @PixelantDesign and @mkosowsk. Curious to know what you all think 😁

![profile2](https://user-images.githubusercontent.com/19514207/38946578-7c7cd0e2-436c-11e8-8a86-bfc66c179442.png)

[2018-04-18 17:00] mbeacom opened #917 "AttributeError: 'JsonResponse' object has no attribute 'read'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/811/](https://rollbar.com/gitcoin/gitcoin/items/811/)

[code]

[2018-04-18 17:47] owocki commented on #656
I <3 it!  @PixelantDesign what do you think?  i'd love to start getting this coded

[2018-04-18 17:49] owocki commented on #656
hey @willsputra if a user has like 100 bounties [like i do](https://gitcoin.co/profile/owocki) could we only show like 10 of them at a time per section and have a '..... 85 bounties not shown, [click here to show more]' button at the end of each section?

[2018-04-18 17:54] mbeacom commented on #656
Agreed! - I'd like to work with the hunter that picks this up in an effort to modify some of the BE associated with `/profile` as it seems to be one of our least performant (which could be partially due to it's popularity) views according to Silk. I made a modification to the profile view previously that only utilizes the `profile_helper` in the event the user is viewing another person's profile,

[2018-04-18 17:55] owocki commented on #259
hey @gunjan95 -- are you still working on this?

[2018-04-18 17:56] owocki commented on #906
heres another one where (as of today 4/18) there was no good sign of whether it was abandoned or not https://gitcoin.co/issue/gitcoinco/web/259

[2018-04-18 18:01] owocki commented on #656
@mbeacom i think that the `stats` functionality of the old profile is the least performant part (esp for big spenders / hunters)..  since that's being removed in this design, that'll help performance too

[2018-04-18 18:06] #876 closed

[2018-04-18 18:06] owocki commented on #876
fixed in https://github.com/gitcoinco/web/pull/919#issuecomment-382477494

[2018-04-18 18:06] owocki commented on #876
thanks @kziemianek

[2018-04-18 18:10] owocki opened #920 "Code - Profile Frontend Refresh"
As a user I'd like my profile to be representative of my status in Gitcoin.

Profile Refresh of current gitcoin profiles ( https://gitcoin.co/profile/owocki )
See a link to more profiles at https://gitcoin.co/leaderboard

## Bounty
A new profile design coded with the following items addressed....

## Definition of Done
- Designs are based off of final designs from https://github.com/gitcoinco/web/

[2018-04-18 18:11] owocki commented on #920
Final design deliverables (hopefully in sketch  file or equivilent) to be added by  @willsputra

[2018-04-18 18:16] mbeacom commented on #920
Feel free to ping me as well, as I'd like to have eyes on the associated approach and PR for this bounty. https://github.com/gitcoinco/web/issues/656#issuecomment-382473831

[2018-04-18 19:10] owocki commented on #901
@mbeacom whats the effort level on this you think?  from chatting with @scottydelta it seems like its the thing standing in between us and testing / shipping

[2018-04-18 19:11] owocki commented on #901
https://github.com/gitcoinco/web/pull/509/files#r182538500

[2018-04-18 19:14] PixelantDesign commented on #656
@owocki saw this before it was posted :)

Looking great @willsputra!
Should we update the CONTRIBUTOR Header font to Navy (Green box)? The white on green is a little hard to read.

I agree with @owocki on the ability to show more bounties for very active funders. We could try showing 10 first with a link to expand to see more or go to a new page that lists them all.

[2018-04-18 19:40] mbeacom opened #921 "AttributeError: 'JsonResponse' object has no attribute 'read'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/811/](https://rollbar.com/gitcoin/gitcoin/items/811/)

[code]

[2018-04-18 20:08] thelostone-mc commented on #920
Whoever picks it up : Since the bounties styling on the `/profile` page are similar to that of the `/explorer`. Try and reuse as much of it as possible ^_^

[2018-04-18 20:26] #921 closed

[2018-04-18 21:32] jakerockland commented on #804
@owocki thoughts?

![full](https://user-images.githubusercontent.com/8602661/38959365-9381d9f8-431d-11e8-8658-96eb049d9558.png)
![mobile](https://user-images.githubusercontent.com/8602661/38959366-93977efc-431d-11e8-9eb6-d3fb597f5dcc.png)

[2018-04-18 21:35] owocki commented on #804
Looks purdy to me.

I wonder if we'll want to add icons for each discreet action (tipping vs funding a issue vs submitting work).

@PixelantDesign any comments?

[2018-04-18 21:56] jakerockland commented on #804
@owocki I was thinking about adding icons for each action but wasn't sure if you guys wanted to introduce an icon set/if that would just make things busier/noisy but if so maybe to the left of the @USERNAME of each activity item?

[2018-04-18 22:25] mbeacom commented on #901
@owocki Node currently performing a fast sync on our k8s cluster under the `gc-web-prod` namespace.

[2018-04-18 22:53] owocki commented on #901
neato . any quick and dirty way to get an ETA forecast for full sync?

[2018-04-19 00:57] willsputra commented on #656
• Added "Show X more bounties" button
• Changed CONTRIBUTOR Header font to Navy

![proflie](https://user-images.githubusercontent.com/19514207/38965477-982afa38-43af-11e8-8b42-5c962483c441.png)

...and here's the Sketch file: https://drive.google.com/open?id=1AYQMCiBo8N42zZWdDyXFiuRXKjgff3Me

[2018-04-19 02:12] PixelantDesign commented on #804
Looking good @jakerockland!

Would you mind updating the font to Muli. Here is a link to the [Gitcoin UI Toolkit](https://github.com/gitcoinco/creative/tree/master/Product/00_UI_Kit)

We have an activity feed on the Explorer details page and now the profile by @willsputra. The content is a little different but would be great if we could use the same style containers for the list. See screenshot be

[2018-04-19 02:56] jakerockland commented on #804
@PixelantDesign Thanks for the feedback, should be able to make these changes tomorrow evening and post an updated design here. 😄

Small note about the font, I think the [brand guide here](https://github.com/gitcoinco/creative/blob/master/Brand/Brand%20Guide/Gitcoin_Brand.pdf) needs to be updated, that's why I was using Futura 😓

[2018-04-19 02:57] jakerockland commented on #892
@owocki Just want to double verify since there aren't listed deliverables here -- this is a design task, ya?

[2018-04-19 03:03] PixelantDesign commented on #892
@jakerockland there is an email template on the creative repo under Marketing >Email. Feel free to use that as the foundation.

[2018-04-19 05:26] thelostone-mc commented on #656
@willsputra Thoughts on loosing the grey and keeping the background as pure white ? Any chance that might look neater ?

[2018-04-19 05:31] zoek1 commented on #920
@owocki the tablet/mobile design will be provided or will be designated to the consideration of the developer?

[2018-04-19 06:39] thelostone-mc commented on #920
@willsputra Do you have mobile / tablet designs also set up ?

[2018-04-19 08:13] #362 closed

[2018-04-19 13:05] owocki opened #923 "user request : 'follow' bounties"
from a user:

[code]

[2018-04-19 13:05] owocki commented on #923
what would you want this to do?  just make it easier to filter via explorer?  or would you want email updates too?

[2018-04-19 14:46] willsputra commented on #804
Looks good @jakerockland! 🎉

I'll just add in a tiny comment: maybe we could try using the blue/green color for displaying ETH/USD value (see https://gitcoin.co/explorer)?

[2018-04-19 15:12] willsputra commented on #671
hey @joshmobley I can help out with this too. let's bounce off ideas here! 😊

[2018-04-19 15:27] willsputra commented on #656
@thelostone-mc pure white looks good too! I like them both, don't have a strong opinion on this one. 😂 anyone else have any thoughts?

![desktop](https://user-images.githubusercontent.com/19514207/39001349-b0840b46-4428-11e8-9eb4-b84d937eef88.png)

btw I got the mobile view as well. slight change to the header font at the top since the original font was super huge on mobile.

![iphone 8](https://u

[2018-04-19 15:44] owocki commented on #892
confirmed

[2018-04-19 15:45] owocki commented on #920
IIRC @willsputra posted a mobile revision of the profile design on that thread.. but ill leave him to designate the level of suppport he can provide for this now

[2018-04-19 15:49] willsputra commented on #920
@thelostone-mc @owocki yeah I just posted the mobile layout on the other thread. also really excited about this so I'll help out till it's shipped 😎

[2018-04-19 16:08] owocki commented on #656
i'm pumped about this!!1!

[2018-04-19 16:08] HectorZarate commented on #725
I'd like to stop work on this due to time constraints on my side (classes/work), I'll follow along and help whoever takes up the task. Next time I'll be more mindful of time when taking on an issue ✌

[2018-04-19 16:26] kziemianek commented on #725
Well... got few spare evenings...

[2018-04-19 17:39] KamesCG opened #924 "[BUG] The User Menu is Covered on TX Confirmation Screen"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want to easily post multiple bounties. However, when I'm on the TX confirming screen my user menu has a lower value `z-index`, so I can't see the `Fund Issue` menu item.

![Menu Z-Index](https://pbs.twimg.com/media/DbKbV-gW0AIIat-.jpg)

[2018-04-19 20:38] cryptomental commented on #607
@gitcoinbot I have been waiting a week for my pull request to be merged.

[2018-04-19 21:44] owocki commented on #607
@cryptomental go ahead and submit your work on gitcoin and we'll pay it out

[2018-04-19 21:45] mmarinm commented on #656
anyone working on this?

[2018-04-19 21:49] owocki commented on #656
yes @willsputra is

[2018-04-19 23:54] PixelantDesign commented on #804
Very cool! Love it! Lets build!

[2018-04-19 23:58] PixelantDesign commented on #804
Hmm... ok don’t hate me... I’m wondering if a different icon than the Like thumbs up would make more sense for tips. Thoughts?

Also, should payment received be ETH?

[2018-04-20 00:31] mkosowsk commented on #892
@jakerockland looks amazing!

One quick thought, DAI is gaining a bit of traction on the platform and other cryptocurrencies are looking more interesting as well in addition to ETH. Was curious on your thoughts on the best way to represent 2 or more cryptocurrencies on the earnings portion 🤔

[2018-04-20 00:33] jakerockland commented on #804
@Pixelant Happy to update the design but the thumbs up seemed like the best choice to me 😅 I ideally would like a top hat icon but Font Awesome font doesn’t support that. When you say payment received should be ETH do you mean the ETH icon? I was a bit hesitant to use that as an icon representing payment as sometimes payment is in DAI, etc.

Also on a different but related note, how does one submi

[2018-04-20 00:56] jakerockland commented on #892
@mkosowsk I’m glad you think so! 😄

That’s a great consideration, my initial thinking was just that if a currency other than ETH is used we replace the info in the green box/text with that currency info but always have the correspond blue USD info on the left. Thoughts? Is this something that already has a standard UI elsewhere on the site?

On Apr 19, 2018, 6:31 PM -0600, mkosowsk <notifications@

[2018-04-20 01:02] mkosowsk commented on #892
Makes sense if only one cryptocurrency is used other than ETH, but let's say one person earned with ETH and DAI, would those both go in the blue bubble? What about ETH, DAI, and WYV?

[2018-04-20 01:42] PixelantDesign commented on #656
@willsputra @thelostone-mc I think the light gray background gave the center area some definition and focus. The all white makes your eyes wander off to the edges.

[2018-04-20 01:49] PixelantDesign commented on #804
@owocki what were all of the states of the activities you were hoping to highlight in the feed? As of right now looks like there are only four.

@jakerockland Here are some ideas about other metaphors that might work:

Start Work
Stopwatch - Empty State
https://fontawesome.com/icons/stopwatch?style=solid

Stop Work
Stop Watch - Filled State

Submit Work - code file
https://fontawesome.com/icons/fi

[2018-04-20 01:57] thelostone-mc commented on #656
@PixelantDesign makes sense !!

[2018-04-20 02:04] PixelantDesign commented on #892
Looking good @jakerockland!

I agree that the circle breaks when a user has earned income in various currencies. Might be best to simplify.

Platform wide stats could be cool in an infographic style like the top as well. I wonder how users might respond to this email being more about providing insights that users didn't know about themselves (more data, less text). Could be an interesting change f

[2018-04-20 02:52] PixelantDesign commented on #895
This came up in today's research session. Need to validate to what extent this would be helpful.

[2018-04-20 08:46] michelgotta commented on #920
@owocki Haven't done contributing here lately, but this is something I could implement/code in a realistic amount of time. Anyone else interested in this?

[2018-04-20 09:03] justpixel commented on #540
@PixelantDesign @owocki Here is the updated design for Job Board:
![job board](https://user-images.githubusercontent.com/7627020/39042184-e18189ac-4492-11e8-82ae-b973f16c9574.png)

[2018-04-20 14:12] owocki commented on #620
@PixelantDesign ok to payout?

[2018-04-20 14:24] owocki commented on #804
sorry, i should have put this in the original ticket

* opened issue
* started work
* stopped work
* submitted work
* accepted work
* increaed funding
* canceled bounty
* new tip
* tip received

in the future,
* new dev grant
* new dev grant contributor
* dev dev grant project update

for the 'future' ones, i dont think we need to worry about them now.. we will tackle those later

[2018-04-20 14:29] owocki commented on #540
another Pixel!  i think youre our third one @justpixel :)

i really like this design.  i wonder if we should chagne the background color between even/odd row items (or add a border) to allow my eyes to easily follow rows across the page.

@PixelantDesign what do you thikn?

[2018-04-20 14:33] owocki commented on #804
@PixelantDesign @jakerockland what should we do if the activity feed has 1000 items?  should we have pagination or a 'show more' button?

[2018-04-20 14:36] owocki opened #925 "code - gitcoin.co/activity"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/activity to show the recent activity on the platform, so I can see how active it is and follow the action.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
Feature

### Current Behavior
[comment]: # (Describe what actually happened.)
no activity feed

### Expected Be

[2018-04-20 14:37] owocki commented on #804
https://github.com/gitcoinco/web/issues/925

[2018-04-20 14:59] owocki commented on #892
+1 to mitches question.. maybe we just list the top 3 currencies used (or we just quote the amount in USD to make the UI cleaner)

i agree.  though im not sure the best UX direction to go here.. maybe we can leverage some of the recent dataviz work?

data viz work:
* https://twitter.com/owocki/status/987194261668970496
* https://twitter.com/owocki/status/986736905751429121
* https://github.com/git

[2018-04-20 15:03] owocki opened #927 "engagement idea -- trivia on slack"
not ready to be worked on

http://bits.owocki.com/1V0x1m0f1635/Screen%20Shot%202018-04-20%20at%209.02.51%20AM.png

[2018-04-20 15:04] owocki commented on #874
@vs77bb if you can hit me up with some copy i can probably code something up real quick

[2018-04-20 15:08] #924 closed

[2018-04-20 15:15] willsputra commented on #671
@vs77bb here's an idea if we're putting it in the Issue Explorer:

![desktop hd copy 2](https://user-images.githubusercontent.com/19514207/39059079-2dabd23a-44f0-11e8-8984-cf3bd6fc0f1b.png)

...and here's how I imagine the flow would be:

![web 1920 1](https://user-images.githubusercontent.com/19514207/39059186-68ef0326-44f0-11e8-978c-58f8b8d7b639.png)

thoughts? 🙂

[2018-04-20 15:16] owocki commented on #901
@mbeacom let me and @scottydelta know pls so we know when we can schedule the testing of https://github.com/gitcoinco/web/pull/509/files#r182538500

[2018-04-20 15:42] jakerockland opened #928 "As a user, I would should be informed when I no longer need to keep tip confirmation window open"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would should be informed when I no longer need to keep tip confirmation window open.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently after subm

[2018-04-20 15:46] jakerockland commented on #804
@owocki Yeah I think pagination for every 50 items to "show more" or something along those lines is best. Just to clarify on outstanding revisions to make for this issue, is it just assigning a Font Awesome icon for each of the items in the above list?

Also @PixelantDesign I'm a bit hesitant about the idea of using color to distinguish between things like funding and release of funds with the sam

[2018-04-20 15:46] jakerockland commented on #222
@owocki so rad, thank you 😄

[2018-04-20 16:05] owocki commented on #928
thanks for the suggestion.  woudl adding some paragraph text that says 'you can close your browser window' to the page help?

[2018-04-20 16:06] owocki commented on #804
defer to @PixelantDesign on the icon bit

[2018-04-20 16:17] jakerockland commented on #928
@owocki yeah I think that's just noting that in a tiny paragraph under "See your transaction on the blockchain here" would be ideal 👌

[2018-04-20 16:43] PixelantDesign commented on #892
That makes sense on the above stats. I was thinking this would all be procedurally generated - same format every month.

[2018-04-20 16:47] PixelantDesign commented on #354
Looks great @matthewlilley! Thank you!

[2018-04-20 17:35] PixelantDesign commented on #620
@owocki yep, lets pay out! I agree on prioritizing funder ftux work.

[2018-04-20 17:41] PixelantDesign commented on #874
I like that Bloom keeps it very short and sweet.

Now thinking about it, calling the FTUX isn't a good idea since we won't know yet whether the user is a funder or contributor.

[2018-04-20 17:52] PixelantDesign commented on #540
Light zebra stripes could work....maybe 50% of the left panel color. @justpixel could we try a top header like this? That way the job section is really distinguished from the rest of the app?

<img width="1532" alt="screen shot 2018-04-20 at 1 49 01 pm" src="https://user-images.githubusercontent.com/238235/39066116-010ef070-44a2-11e8-97c8-985489a5821c.png">

[2018-04-20 18:01] cryptomental commented on #607
Hi @owocki , I could not submit the work due to expired bounty https://etherscan.io/tx/0x6dcb180c4e775559333e29c0aa305cda931f722e8694b54c452306a120e1ba37
We could go around this with 0.12 eth tip and close the issue.

[2018-04-20 18:29] PixelantDesign commented on #620
Here is an updated, thanks for the great work @nitinrgupta

Copy suggestions from Vivek
vivek [6:05 PM]

- ‘Commit to an Issue’ → ‘Claim an Issue’
- ‘Claim the issue on Gitcoin... ‘ → ‘Commit to an issue on Gitcoin by clicking ‘Start Work’ on the Issue’s Detail page.’
- ‘Available bounties to level up your Python Skills’ ---> ‘Available bounties to grow your python skills’
- I really like the sect

[2018-04-20 19:05] thelostone-mc commented on #441
@gitcoinbot yes

[2018-04-20 20:38] owocki opened #929 "Test is a test issue"
Test is a test issue

[2018-04-20 22:53] Smona commented on #813
I have no experience with django specifically, but this seems like a really cool project and I'm happy to give it a shot.

I'm setting up my local environment at the moment and finding the relevant files, and I've only seen reference to jquery in terms of frontend frameworks. Is any modern framework being used for the frontend? If not, would the team be amenable to selecting one (Vue, React, Preac

[2018-04-20 23:34] owocki commented on #813
its using jquery right now.. if you had your druthers what would it use?

[2018-04-21 05:26] Smona commented on #813
I personally have extensive experience with Vue and love it. Vue is
currently on track to become the most used frontend framework iirc. If
download size is the highest priority, I've heard preact is the lightest,
and easy to work with if one knows react (which would also be a good
choice).

I don't want to be the person to entirely make the decision since I'm just
now getting involved. I think it'

[2018-04-21 07:02] mbeacom opened #932 "ConnectionError: HTTPSConnectionPool(host='ipfs.infura.io', port=5001): Max retries exceeded with url: /api/v0/cat/QmXxkBASF92QvFFwChwZAECSRsjoMstMHJ2A9bwXuchXbA (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f6791"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/826/](https://rollbar.com/gitcoin/gitcoin/items/826/)

[code]

[2018-04-21 14:14] Smona commented on #813
I've been making good progress on this:

![screen shot 2018-04-21 at 9 02 31 am](https://user-images.githubusercontent.com/7091399/39085013-c93015ca-4542-11e8-8acd-15851c63ab83.png)

Some questions & concerns:
- I can't find existing classes for the buttons matching the style in the mockup. Did I miss them, or should I write them?
- How will avatar configuration be persisted? As a configuration th

[2018-04-21 14:48] thelostone-mc commented on #813
@Smona

So I'm working on the ftux and I believe your work would go as one of the steps on the flow ( I'll leave an blank step for that )
PR : https://github.com/gitcoinco/web/pull/889

If you get the time, I'd like your feedback to see if anything needs to be changed !
If you need an extra pair oemf eyes to help review your code, just link the PR and I'd be happy to help :)

[2018-04-21 18:56] PixelantDesign commented on #813
@Smona It’s looking great!

@thelostone-mc could you help with the button classes?

On hair positioning, feel free to adjust to where it makes sense.

In terms of configuration, I’m thinking image but might be better for @owocki or @mbeacom to answer that question.

I agree on the hair color, we can definitely expand the palette to include more cool colors.

I also agree on being able to select ne

[2018-04-21 20:06] Smona commented on #813
@PixelantDesign good to hear :).

I feel it would make more sense to store avatar configuration as a collection of svg asset paths. These could be injected into an avatar element on the site and potentially cached. That solution seems to be the most efficient and simple.

I'll see what I can do for fixing the svgs. Should changes and new svgs be PR'd into https://github.com/gitcoinco/creative?

[2018-04-21 20:55] darkdarkdragon commented on #445
__The funding of this issue was increased to 0.09 ETH (52.06 USD @ $578.46/ETH).__

 * If you would like to work on this issue you can claim it [here](http://localhost:8000/issue/gitcoinco/web/445).
 * If you've completed this issue and want to claim the bounty you can do so [here](http://localhost:8000/issue/gitcoinco/web/445)
 * Questions? Get help on the <a href='https://gitcoin.co/slack'>Gitco

[2018-04-22 07:03] john-brunelle commented on #760
hi issue

[2018-04-22 07:05] john-brunelle commented on #760
hi issue

[2018-04-22 07:10] john-brunelle commented on #760
hi issue

[2018-04-22 07:34] john-brunelle commented on #760
hi issue

[2018-04-22 07:51] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 07:51] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 07:51] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 13:10] michelgotta commented on #656
@PixelantDesign @thelostone-mc I started to work on the code for the redesign of the profile page. Are the screens from https://github.com/gitcoinco/web/issues/656#issuecomment-382778547 the last iteration of the design process? Can you provide Sketch or PSD files? Not necessary but it would speed up the process.

[2018-04-22 13:58] thelostone-mc commented on #656
@michelgotta Ah sorry for the confusion !! The sketch files are attached along with the design
[This](https://github.com/gitcoinco/web/issues/656#issuecomment-382575122) is final design!

@willsputra quick question :  Does the sketch file also have mobile view ?

[2018-04-22 14:12] willsputra commented on #656
@thelostone-mc yep! added the mobile view in the sketch file too

[2018-04-22 15:16] abitrolly commented on #831
Graph is strange on Firefox.

![image](https://user-images.githubusercontent.com/8781107/39096465-1db01f98-4659-11e8-9ac2-5572b179447e.png)

[2018-04-22 16:30] jakerockland commented on #804
@PixelantDesign @owocki will update the design tonight to include examples of all types of activity of interest, I like the suggestions on icons, but will think about on this a bit more -- I agree that we can move from just the font awesome icon set if it is a better fit to do so.

[2018-04-22 20:17] abitrolly opened #937 "How much does Bounty Cancel cost?"
![image](https://user-images.githubusercontent.com/8781107/39099382-f7b25f3e-4682-11e8-8871-c133d69e9d08.png)

### User Story

As a funder, I want to check how much bounty cancel costs, so that I can ensure that I have sufficient funds to do it.

### Solution

*Summary*: Show total cost in ETH (maybe with USD recalculation) and my current balance.

[2018-04-22 20:32] abitrolly opened #938 "Add reason while killing bounties"
### User Story

As a funder, I want to notify people why I am killing bounty so that they won't hold grudge for me.

Current form doesn't provide such field.

[2018-04-22 21:12] abitrolly opened #939 "Duplicate entries for the same bounty on my profile"
This is a continuation of bogus https://github.com/gitcoinco/web/issues/366

![image](https://user-images.githubusercontent.com/8781107/39099919-b890b7ee-468a-11e8-8661-890fae3f84c2.png)

Both of these bounties on my [profile page](https://gitcoin.co/profile/abitrolly) lead to the same page, but they have different titles and one says `killed` and another `submitted`.

[2018-04-22 21:14] abitrolly commented on #760
Looking forward to get more funds to play with gitcoin.co bugs. :grinning:

[2018-04-22 21:25] mkosowsk commented on #760
@abitrolly stay tuned! In the meantime, if you want to flex your Project Management skillset and get paid to groom out tickets, this is the current pilot study I'm helping uPort with: https://github.com/uport-project/buidlbox/issues/5

uPort and @KamesCG has just launched and funded a bunch of interesting issues for their uport-project repo, check them out!

150 DAI ($150 USD): [Ideas] More Smart

[2018-04-22 22:25] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 22:25] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 22:25] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 22:26] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-22 22:26] john-brunelle commented on #760
This is a test comment and can be deleted

[2018-04-23 04:39] kziemianek commented on #725
Organization and skills offered fitlers are hardcoded or dynamically created based on existing mentors ?

If dynamically then these lists can get really long. Does 'More' only expands ? If yes, then searching thru long list might be problematic. Maybe replace these filters with search term? There would be only 'Experience' filter.

[2018-04-23 07:59] jakerockland commented on #892
@owocki @PixelantDesign @mkosowsk Thoughts on this revision?

![quarterly stats email](https://user-images.githubusercontent.com/8602661/39113748-82eb6218-4691-11e8-9e49-01ab522a42aa.png)

[2018-04-23 08:05] thelostone-mc commented on #892
@jakerockland This is soo much neater :D
Do the emojis make us come across a little too casual ? :P

[2018-04-23 08:12] jakerockland commented on #892
@thelostone-mc Glad you think so 😄

I feel like the emoji's are pretty consistent with other emoji use in various current email copy. I like emojis but I'm not sure what the desired casualness is 😅

[2018-04-23 09:40] michelgotta commented on #656
@willsputra @thelostone-mc Thanks! I skipped the over the link when reading the posts. ^^

[2018-04-23 10:46] mkosowsk commented on #892
@jakerockland looks amazing! I like the emojis, feel it's consistent with the the branding as well as use by the community 🤔

[2018-04-23 11:04] thelostone-mc commented on #892
@mkosowsk @jakerockland  Is this too long in height ? How much scroll is too much scroll on an email ?

[2018-04-23 11:13] mkosowsk commented on #892
@thelostone-mc I defer to @PixelantDesign but think the email length is appropriate. My trick is to open the image in a different tab and then scroll through it to see if it feels natural for an email, which this does for me 👍🏻

I actually just watched a super interesting video on the topic of "Designing for the Viewport" by `Layout Land`: https://www.youtube.com/watch?v=QY3lTBZnJmE

In the video,

[2018-04-23 11:32] thelostone-mc commented on #892
Ah I never open email in a new tab -> so a small chunk of the viewport is eaten up gmail and I've never liked scrolling a lot which is why I loved the swiggy mail  (the one owocki had posted, yes that's how much I ordered food in the last month :P  ) cause it was able to give me the essential info without too many distractions

I've heard this being done for websites , not for emails ! Might be wo

[2018-04-23 13:01] justpixel commented on #540
@owocki @PixelantDesign I've updated the "Job Board" and created the "Job Details" and "Post a job" pages. Please take a look.

![job board](https://user-images.githubusercontent.com/7627020/39128115-9b64b226-470f-11e8-81d5-1a2541a5d79f.png)
![job details](https://user-images.githubusercontent.com/7627020/39128116-9b7e07da-470f-11e8-9f17-0b2c621069b6.png)
![post a job](https://user-images.githubus

[2018-04-23 14:12] PixelantDesign commented on #540
Hi @justpixel looking good. Could we try all the form stacked in one column and centered on the Post a job screen? I like the Github profile on the description page, we will likely need a place to capture on the form page as well, ya?

[2018-04-23 14:35] mbeacom commented on #706
Moving forward, maybe we can implement a flow for populating tools for voting based on a GH issue label or something, so we can ping the community on different product ideas and get feedback regarding usefulness before we begin dev.

[2018-04-23 15:08] vs77bb commented on #671
@willsputra This looks fantastic to me! I agree with the flow in it's entirety. A couple points of feedback on nuances:

In my eyes, we want to encourage **anyone** to submit Gitcoin Requests, even if they themselves don't plan to do the work. It still makes sense to send the e-mail to them (and perhaps give them 'first-dibs' if they want to do the work by sending it to 'Start Work').

In a relate

[2018-04-23 15:12] joshmobley commented on #671
@willsputra keep running with this! I'm going to lay it down so you can pick it up!

[2018-04-23 15:13] owocki opened #940 "small first bounty"
question thats on my mind as i do the data exploration here… is there a tipping point in an end users relationship with gitcoin that will keep them coming back?  we get so many people signing up for the mailing list, but only like 1% of them actually follow through with doing a bounty.

facebook famously figured out that if they could get a user to have 20 friends on facebook, they’d keep coming b

[2018-04-23 15:35] stevenwritescode commented on #716
This looks like it would be fun to build, but I'm having a hard time finding the vector assets from the video in here: https://github.com/gitcoinco/creative

Is there a subfolder I should be looking in?

[2018-04-23 15:36] thelostone-mc opened #941 "discuss: aiding new issue funders on their first issue"
##### User Story

Just putting up the slack conversation to shed light on this

[code]

@vs77bb @owocki

[2018-04-23 15:39] willsputra commented on #671
@vs77bb Thanks for the feedback! I agree with giving first-dibs to the requester for some time. The flow would then probably be like this:

6. Requester receives a notification / email:
_'Your request has been funded by XX! Click Start Work below within 48 hours to start working on the issue. If not, the issue will be open for the taking.'_
--> At this point, what should the issue status be? 'Work

[2018-04-23 15:59] stevenwritescode commented on #716
That would be great, I think seeing how it's animated in keyframes will help me visualize what I need to do in code as well.

[2018-04-23 16:02] owocki commented on #716
here ya go https://github.com/gitcoinco/creative/tree/master/video/karot/karot_gitcoin_092917_deliver%20folder

[2018-04-23 16:13] owocki commented on #892
I <3 this @jakerockland !

[2018-04-23 16:45] owocki commented on #813
from emerson stone:

@Smona i'll add you to an email thread with nina (from emerson stone -- our design agency) in case you want to see any changes here

it'd be great to be able to store a json blob of the avatar configuration off of the `Profile` object.  @mbeacom let me know if you strongly disagree.

it would also be nice to be able to reference the image itself with `<img src=''>` tags.. are

[2018-04-23 16:49] owocki commented on #804
thats right!

lets not let perfect be the enemy of good. i say :shipit: and lets get it coded!

[2018-04-23 16:50] owocki commented on #925
@mikeymicrophone looking fwd to working with you!  design is being firmed up by @jakerockland on the other thread!

[2018-04-23 17:02] owocki commented on #454
im gonna close this issue now

[2018-04-23 17:09] stevenwritescode commented on #716
Awesome, thanks!

This will be a bit of a learning project for me, so I'm not sure on time frame yet. If someone else wants to do this and it seems like I'm taking a long time, don't let me get in your way.

[2018-04-23 17:38] owocki commented on #804
@jakerockland no need to open a PR.. just leave that field blank when you submit the issue

[2018-04-23 17:53] owocki commented on #540
this looks erally good to me

[2018-04-23 18:43] PixelantDesign commented on #804
Looks good @jakerockland, is the X for "Cancel"? It sort of looks like I can close out that activity feed item.

[2018-04-23 19:26] 21xhipster opened #945 "Issue explorer don't show issue in case gas price has been changed"
This is [transaction](https://etherscan.io/tx/0x0e3319ed25c5f3d38af828a0338b3136151ce0b6962301f2d44672e54e340e96) proof

[2018-04-23 19:36] owocki commented on #945
hey @21xhipster the system does a sweep of all actiev bounties in web3 every hour.  you'll see it show up within an hour :)

[2018-04-23 19:41] 21xhipster commented on #945
Thanks :-)

[2018-04-23 19:41] #945 closed

[2018-04-23 20:05] mkosowsk commented on #477
@gitcoinbot finally getting in the game and programming! @mbeacom might want to take a look at this one :)

Also can't help but notice that @gitcoinbot is confused by programming... I can relate 😅

[2018-04-23 20:13] owocki commented on #477
this was me testing.. whoops

[2018-04-23 20:18] owocki commented on #892
@jakerockland @PixelantDesign only about 2% of the network has actually built any thing.  do you think it's worth sending this email to ppl (maybe just the platform stats section) if they haven't built anything for the quarter?

related: should be a 'funder' version of this email that shows stats about ppl who have funded stuff?

[2018-04-23 20:20] owocki opened #946 "code - as a user, i want a quarterly 'my stats' email, so i can see my activity on the platform"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a quarterly 'my stats' email, so i can see my activity on the platform

### Designs
See https://github.com/gitcoinco/web/issues/892

and

https://github.com/gitcoinco/web/files/1939643/QuarterlyStatsEmail.zip

![39147801-7e83a222-46ef-11e8-866a-8270b1439506](https://user-images.githubusercontent.com

[2018-04-23 20:25] mkosowsk commented on #477
@owocki good to hear, means the bots haven't become sentient... yet 😳😳😳

[2018-04-23 20:32] mbeacom commented on #946
🙌  - 👍 for `TODOs`

[2018-04-23 20:34] vs77bb opened #947 "[Design] Funder Feature: Reach Out To Top Bounty Hunters"
*Not ready to be worked on*

### User Story

As a Funder, I want to easily reach out to bounty hunters who may be interested in my issue so that I can generate interest on my repo.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, an

[2018-04-23 20:36] mbeacom commented on #477
That won't be a problem until we onboard `Eklow Labs`.

[2018-04-23 20:37] jakerockland commented on #892
Yeah, I think maybe if they haven't built anything its best to send with just the platform stats. Also I think 'funder' version of the email is a good idea! 👍

[2018-04-23 20:49] mikeymicrophone commented on #925
I've got the web site running locally and I'll be working on the migration next.

[2018-04-23 20:50] #929 closed

[2018-04-23 20:53] owocki commented on #947
great minds think alike!   i just came up with this idea this weekend, i was going to call it 'Gitcoin Suggest'

[2018-04-23 21:00] jakerockland commented on #804
@owocki pinging you re: @gitcoinbot

[2018-04-23 21:02] owocki commented on #937
would could maybe round to an extra few digits on the [metamask gas preview module](http://bits.owocki.com/1r0B3U3L0b2j/Screen%20Shot%202018-04-23%20at%203.02.34%20PM.png)

[2018-04-23 21:02] jakerockland commented on #892
@owocki pinging you re: @gitcoinbot -- is it necessary to send a message like this after submitting? I'm not sure what the UX looks like from the funder's perspective 😅

[2018-04-23 21:04] owocki commented on #941
shouldnt the title be 'aiding new workers' not aiding issue funders?

[2018-04-23 21:06] owocki commented on #939
i can't seem to repro but i did put in a fix that might help ( https://github.com/gitcoinco/web/commit/1e17e9580e3b780c86550b9efc9dec59bd579633 ) -- mind trying now?

[2018-04-23 21:07] owocki commented on #892
message like what?

[2018-04-23 21:09] owocki commented on #804
this copy is probably a little superflous.. im going to change it

[2018-04-23 21:18] Smona commented on #813
@owocki some of the svg layers weren't lining up correctly. I've imported the existing svgs into sketch projects that made it easy to adjust all color variations of a layer in the same way or add new colors. They also export the resulting svgs with the correct filenames I've used in the implementation.

I imagine having these sketch files in the creative repo would make future updates to Avatar as

[2018-04-23 21:37] jakerockland commented on #892
@owocki ah I meant like it it necessary to comment when we've already been actively talking on the issue -- saw your other comment about it being superfluous though!

[2018-04-23 22:23] owocki opened #949 "test 123"
test 123

[2018-04-23 22:27] KamesCG commented on #949
good bot.

[2018-04-23 22:40] owocki commented on #813
@Smona -- it looks like @PixelantDesign added those assets to the creative repo [here](https://github.com/gitcoinco/creative/tree/master/Product/Avatar/SVG). feel free to PR back if anythings missing or changed!

great! can you please plan to do so!?

got it.. hmm...

i wonder if we could do this with https://github.com/astraw/svg_stack or https://github.com/btel/svg_utils

it'd be nice to only ha

[2018-04-23 22:49] owocki opened #950 "API Index Performance Improvements: Dynamic Calculated Information"
related to https://github.com/gitcoinco/web/pull/936#issuecomment-383610724 :

The API takes about 6s to return when 'any' is selected from https://gitcoin.co/explorer

Some quick profiling shows that when you disable the dynamic lookups in the API ( 6bd14d66b2cc3a61ff23dade68bded857a53da0c ), then the performance for the same query is down to 1.5s.

For this reason, I believe we should take each

[2018-04-23 22:50] owocki opened #951 "Gitcoin.co/explorer performance updates"
related to https://github.com/gitcoinco/web/pull/936#issuecomment-383610724 :

I would like to see pagination on the https://gitcoin.co/explorer page, such that when a query would return more than 100 bounties, that, another request would have to be sent with a `?offset=100` appended to it in order to return those next bounties

requested changes:
* only 100 bounties max can be returned from the A

[2018-04-23 22:57] #949 closed

[2018-04-23 22:58] owocki commented on #947
one way i was thinking we could do this would to build the ability to filter leaderboard by keyword.  that way the funders can reach out to those who are already active bounty hunters

[2018-04-24 01:15] owocki opened #952 "make gitcoinbot status indicator into an image"
change

![screen_shot_2018-04-23_at_5 15 30_pm](https://user-images.githubusercontent.com/513929/39160786-9a0e9840-472a-11e8-83d6-7413a3b9619b.png)
per  this image
<img width="611" alt="39156027-bb5891ae-4711-11e8-9856-8665e30213c0" src="https://user-images.githubusercontent.com/513929/39160793-9f66a5b2-472a-11e8-8ec6-2366c0c2964c.png">

makes it cleaner to see

followup to https://github.com/gitc

[2018-04-24 01:15] PixelantDesign commented on #892
I think it's worth having a no data case for **users that haven't completed a bounty**. Something along the lines of "hey you haven't tried out a bounty yet, there's a lot on the platform and they could boost their skills in a variety of ways, meet new people, etc" something better obviously, might want to hit up@vs77bb for this.

Platform stats also make sense for that use case.

Funder one could

[2018-04-24 01:33] owocki commented on #892
@jakerockland are you interested in a continuation of this ticket for the above two use cases (funder or someone who is inactive)?  if so, happy to do it with a tip.  if not, will create a new bounty / ticket

[2018-04-24 01:33] owocki commented on #952
at the top of gitcoinbot comments (like in the above screenshot)

[2018-04-24 01:35] jakerockland commented on #892
@owocki @PixelantDesign sure thing, I can jump on this this weekend. would be good to get a clearer scope of which stats we want to include in each, like the list above for the initial bounty.

[2018-04-24 01:53] PixelantDesign commented on #952
It's a little confusing that we're introduced another set of terms/flows into the mix. Specifically "You" and "Recipient" seem unclear  (looking at it from a funder's standpoint).

![Screen Shot 2018-04-23 at 9.41.17 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77276456f06b7191a371f1

[2018-04-24 01:55] mbeacom opened #953 "BE tests currently failing"
Backend tests are currently failing, resulting in build failures.

`master` began failing on:  https://travis-ci.org/gitcoinco/web/builds/368269520

[2018-04-24 01:56] #953 closed

[2018-04-24 02:41] thelostone-mc commented on #952
The terms used are confusing. I agree with @PixelantDesign on that

Also the graphics would be a lot cleaner if it did not have the color transition. It should be either green/ blue / solid color when completed and the rest should be grey / dull solid color

[2018-04-24 03:51] abitrolly commented on #939
Yes, looks better. What is the difference between cancelled and killed?

[2018-04-24 03:59] Smona commented on #813
@PixelantDesign thanks!

Couple questions:

Is the background color picker only displayed in the accessories section?

Should hair be a required option? Seems like bald should be a choice.

[2018-04-24 05:30] justpixel commented on #540
@PixelantDesign @owocki I've also created a version with single column.
![post a job single-column](https://user-images.githubusercontent.com/7627020/39167802-ab39f726-4799-11e8-92ae-d93007466c8f.png)

[2018-04-24 06:57] mbeacom opened #954 "AttributeError: 'NoneType' object has no attribute 'email'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/839/](https://rollbar.com/gitcoin/gitcoin/items/839/)

[code]

[2018-04-24 06:57] #954 closed

[2018-04-24 07:11] justpixel commented on #805
@owocki @PixelantDesign  I want to work on this. Where can I find the source files for this page?

Thanks.

[2018-04-24 08:40] justpixel commented on #805
@thelostone-mc I've only found the PNG files (https://github.com/gitcoinco/creative/tree/master/Marketing/Values/values).

The task requires to change the colors, so I will need them in an editable format. Also I think they need to be more consistent to appear less busy.

Thanks.

[2018-04-24 09:03] michelgotta commented on #920
Good it's only gitcoinbot and not gitcoinboss. Not the best motivator. :D

[2018-04-24 10:29] thelostone-mc commented on #805
@owocki ^

[2018-04-24 10:33] thelostone-mc commented on #941
I meant the issue funders ! I figured since they decided to use gitcoin to outsource their work
We help them initially by  asking the dev to provide an execution plan so that the issue funder is kept in loop

@owocki  Why `new worker` ? Would this apply there too ?

[2018-04-24 11:05] PixelantDesign commented on #805
hi @justpixel. checkout the last file in the folder @thelostone-mc shared. It’s called values.ai.

[2018-04-24 11:15] PixelantDesign commented on #813
Hi @Smona

The background is a separate option from the accessories (not nested under).

You are right that bald should be an option. At this point some of the head shapes are flat on top so we will need to fix that.

Could we set it up in a way so that hair isnt required?

[2018-04-24 11:18] PixelantDesign commented on #540
Looks great @justpixel!

[2018-04-24 14:25] owocki commented on #941
after re-reading, i think that it helps both sides of the market.  so i'm good iwht ticket as it stands

[2018-04-24 15:00] owocki commented on #952
i dont see where the terms 'you' and 'recipient' are being introduced?  on second glance, the first image in the issue desc was just meant to show the design (and compactness) of such an image, was not meant to be taken as new copy for our explorer.  sorry for not making that clear in the original ticket.

i can update the text in the latest PR to match this if you'd like

https://github.com/gitco

[2018-04-24 15:04] owocki commented on #920
thx for your patience folks.  were still trying to tune gitcoinbot to be assertive when a user has abandoned the issue (which happens sometimes unfortunately), not be less annoying when an issue is progressing as appropriate.  feel free to send me any feedback on slack or to kevin at gitcoin dot co

[2018-04-24 16:52] PixelantDesign opened #957 "Create Seamless Onboarding Experience - Contributor"
Stitch together Avatar Builder #813 and Build Onboarding Flow #441

[2018-04-24 18:00] owocki commented on #540
accepting bounty now

[2018-04-24 18:00] #540 closed

[2018-04-24 18:09] owocki opened #958 "CODE JOB BOARD - As a user, I want a Blockchain Job Board so I can find professional work in the space"
Gitcoin should host a Blockchain Job Board which allows anyone to post a blockchain job for free.

# What

Three pages

1. Index of Jobs
2. Job Detail Page
3. Post Job

# Attributes of Jobs

`Job` Database object, ideally in a new `job` django app

* Title,
* Desc (markdown formatted),
* where to apply (email or url)
* linked to a gitcoin/github profile
* active (bool - yes/n)
* skills (list of st

[2018-04-24 18:09] owocki commented on #540
coding task https://github.com/gitcoinco/web/issues/958

[2018-04-24 18:15] owocki opened #959 "WORKSHOP - As a network operator, I want to experiment with charging a % fee for a bounty that's been fulfilled"
ref: https://github.com/Bounties-Network/StandardBounties/issues/42

As a network operator, I want to experiment with Charging a % fee for a bounty that's been fulfilled

Ideally this could be configured on a contract by contract basis (1%, 2.5%, etc) and i would be able to specify a `network operator payout address` either when the bounty is posted or fulfilled.

It would also be handled in the g

[2018-04-24 18:16] owocki opened #960 "Jobs v2 - Experiment with charging for a job board premium placement"
https://github.com/gitcoinco/web/issues/958

this is a spec for a 'premium' job post for the above issue.

not ready to be worked on yet

[2018-04-24 18:18] owocki opened #961 "Supporting members of Gitcoin"
(not ready to be worked on yet)

idea: support gitcoin monthly with a subscription:

https://github.com/ethereum/EIPs/issues/948

or via a dev grant

https://github.com/gitcoinco/web/issues/380

[2018-04-24 18:20] owocki opened #962 "Revenue Idea: add premium schwag to your avatar"
https://github.com/gitcoinco/web/issues/813

We could perhaps monetize the sale / exchange of premium schwag to an avatar in the future

(not ready for working on yet -- just a stub)

[2018-04-24 18:25] owocki commented on #725
@kziemianek they are in the `Keyword` dataobject.. i can get you a DB dump if you need

I agree with replacing it with a search term

[2018-04-24 18:27] owocki opened #963 "coding - /mentors page"
# Why

Mentorship is a proven model for growing developers skills, careers, and networks

# What

# Data Object

## Mentor

See [this spreadsheet for example](https://docs.google.com/spreadsheets/d/1i5OIP6gLeoQ8AfjqlnFt09gqNG44rAlHfFID55Ek3hg/edit#gid=0)

* Github handle
* Name (optional)
* email
* Yrs programming experience
* Wants membership in (list of varchar)
* offering membership in (list of

[2018-04-24 18:28] owocki commented on #725
moving ticket to https://github.com/gitcoinco/web/issues/963

[2018-04-24 18:28] #725 closed

[2018-04-24 19:33] kziemianek commented on #951
Would just `offset` be sufficient? Maybe `page_idx` and `page_size`similar as implemented in pitch pages list.

[2018-04-24 19:34] kziemianek commented on #951
Also it would be good to have same pagination across the app. I have seen "Load more" buttons...

[2018-04-24 20:03] PixelantDesign commented on #952
@owocki Yes, the top image is what was confusing to me. Sounds good.

What happens in the cases where a person drops off, another person joins, or the issue is cancelled?

[2018-04-24 20:09] mbeacom commented on #951
Eh. I feel like it'd be an odd experience to use `Load more` for the explorer bounty list.
I agree with you that we should ensure it's unified across the app, though.

Any thoughts on this @PixelantDesign @owocki @thelostone-mc @saptaks ?

[2018-04-24 20:25] owocki commented on #950
yes. since i think this is (1) different scope (2) gonna be done in models.py not the api

[2018-04-24 20:26] owocki commented on #623
@mbeacom you good with @zoek1 's suggestion above?

[2018-04-24 20:27] mbeacom commented on #623
@zoek1 Overall, your solution lgtm! Would you mind rebasing and PRing it?

Thanks for the contribution!

[2018-04-24 20:29] owocki commented on #952
i was thikning that the boldness would just switch back and forth from "Started" and "Open.  I dont see a need to overly complicate the UX by doing something like

Do you?

[2018-04-24 20:45] mbeacom commented on #950
While I agree it's different scope, I just figured this applies to some degree.

I suppose my question was more about whether or not the scope of this issue might be defined differently.

If we're considering migrating those property methods over to actual fields or using some stored value, I don't think it pertains to the API specifically since it's more of a performance burden platform wide to a

[2018-04-24 20:49] thelostone-mc commented on #958
Whoever decides to pick this up!
I'd encourage you to reuse the code from `dashboard.html` and `dahboard.css` cause the interface is similarity with `/explorer`

Feel free to refactor it along the way :)
Any doubts -> reach out to me over slack

[2018-04-24 20:53] kziemianek commented on #963
I'm going to replace github handle with profile and allow only logged users to become mentors.

[2018-04-24 20:54] mbeacom commented on #963
That makes sense! 👍

[2018-04-24 20:57] owocki commented on #950
while i agree that the changes that need to be made are not API-centric, the only place where this issue manifests is within the API.

happy to have a convo about tradeoffs of the diff approaches next chance we get

[2018-04-24 22:36] SaptakS commented on #951
@mbeacom @owocki I feel infinite scroll makes more sense to me. @kziemianek if we are going with an infinite scroll based approach and not allowing users to select max number of items in a page, I think offset should be enough. However, we can keep that implemented to have a scope for having such a feature to mention the `page_size` in future maybe.

[2018-04-24 22:47] collinvine commented on #952
Sorry, probably my bad with the image confusion. That was actually a screenshot from the Transferwise payment flow, intended to be used as an example of how a visualization of the state of the workflow could be more helpful than simply copy and formatting.

[2018-04-24 23:14] kziemianek commented on #951
Ah, `offset` as total displayed items - that makes sense!

[2018-04-25 00:41] mbeacom commented on #802
This has been merged.

[2018-04-25 00:41] #802 closed

[2018-04-25 00:47] mbeacom opened #965 "Investigate extreme performance drop when sync_slack"
I noticed the production web app running poorly and extreme latency attempting to gain shell access.

This is a reminder to look into performance issues when running management commands: `sync_slack` (long running | 45+ minutes) while overlapping with `sync_profile`

[2018-04-25 03:26] abitrolly opened #966 "Opening links on profile page in a new window"
I want to open links to my bounties in a new tab, so that I can check each one more easily.

![image](https://user-images.githubusercontent.com/8781107/39165256-42da4238-478c-11e8-9c71-dc43498390e9.png)

For some reason I can not open entries on https://gitcoin.co/profile/ in a new tab/window with keyboard shortcuts in Firefox - it only follows a link in current tab, and the right click menu is em

[2018-04-25 03:52] abitrolly opened #968 "I've lost track of my bounty tip"
As a tip receiver, I want to see transaction for my tip, so that I can ensure I got it.

[Here](https://gitcoin.co/profile/) is the tip I got:

![image](https://user-images.githubusercontent.com/8781107/39225437-0b3b5b72-4855-11e8-82dd-ccc4542fd99a.png)

But I do not see incoming transaction on my gitcoin.co address:
https://etherscan.io/address/0x63b7608b7f47de1c0d1f94f85ffcb260fbcb4890

So did I

[2018-04-25 05:53] SaptakS commented on #951
@kziemianek yes. 😃

[2018-04-25 08:35] thelostone-mc commented on #911
@PixelantDesign Should I throw in a dummy screen along with the FTUX ? ^_^

[2018-04-25 08:46] thelostone-mc commented on #951
@mbeacom I'd lean towards Infinite scroll cause it feels more natural but if we are sticking to load more, let's ensure it's the same throughout as suggested ^_^

Where do we have the `load more` buttons ?
Have we dropped out pagination btw ? (cause folks on github are used to the pagination, it's comfortable )

[2018-04-25 09:03] thelostone-mc commented on #966
Ah it's probably Jquery click!
We are getting that page redone. Should turn out in a few weeks
@abitrolly Should we wait it out  / throw in a fix ?

Issue: https://github.com/gitcoinco/web/issues/920
New Design : https://github.com/gitcoinco/web/issues/656#issuecomment-380634796

[2018-04-25 09:13] thelostone-mc commented on #968
@willsputra,  @PixelantDesign thoughts on adding this to our new design  ?

[2018-04-25 09:57] kziemianek commented on #951
I've seen them in designs, for example #506

[2018-04-25 10:26] PixelantDesign commented on #952
@owocki I agree sinple is best.

[2018-04-25 10:28] PixelantDesign commented on #846
Hmmm... that could work, will try it out and see how the content flows.

[2018-04-25 10:31] PixelantDesign commented on #813
Hi @smona. I’m not sure I understand your question. Feel free to hit me up on slack!

[2018-04-25 10:37] PixelantDesign commented on #911
Currently the last step is the Issue explorer. I think we need to find a good place to introduce social. We can maybe beef up the mentions in the drip campaign that follows a user joining.

[2018-04-25 12:34] vs77bb commented on #671
Agree! And agree with 7a and 7b. I think we're aligned here.

@PixelantDesign Also mentioned some nuance we should consider. Alongside the possibility that:

We should send the funder an e-mail (if we know them) and Gitcoin Bot should add a comment to that thread when a request is made on their OSS repo. This increases the chances they see the request.

[2018-04-25 13:16] #706 closed

[2018-04-25 13:52] radotzki opened #969 "Integrate Portis as a web3.js provider"
### User Story

As a gitcoin user, I want to easily sign transactions (e.g. claim a bounty) from any device (mobile, desktop), without installing anything, so that I can focus on coding instead of on the complicated process of opening and safeguarding a wallet.

### Why Is this Needed?

Plenty of users are not blockchain-savvy, which means using MetaMask and acquiring Ethereum in order to sign tra

[2018-04-25 16:10] owocki commented on #968
@abitrolly i just sent you a link to the txid for this tip to your slack account.

i have misgivings about providing this information in a public place.. we need to think about the information privacy implications of this

[2018-04-25 16:16] darkdarkdragon commented on #683
Yes, I'll make pr today.

[2018-04-25 16:17] owocki opened #970 "what languages should we support next?"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-04-25 16:56] owocki commented on #21
just put together some WIP code for this http://bits.owocki.com/0U2C0M2h0G3j/Screen%20Recording%202018-04-25%20at%2010.52%20AM.mov

[2018-04-25 17:09] thelostone-mc commented on #970
Are we deciding on the language based on our current user base / potential user base ?

[2018-04-25 17:10] owocki commented on #970
thatd probably be smart :)

see also: https://github.com/gitcoinco/web/pull/971#event-1594558009

[2018-04-25 17:25] matthewlilley commented on #354
@owocki, Would you like this included into the web repo, or a new sdk repo?

[2018-04-25 18:04] owocki opened #973 "as a repo owner, i want different bounty work schemes, so i can choose the right bounty type for the job"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo owner, i want different bounty work schemes, so i can choose the right bounty type for the job

`approval_scheme` could be one of
* `approved_workers_only`
* `any_workers`

`num_workers` could be
* `1_workers`
* `2_workers`
* `n_submitters`

`bounty_type`
* `single` - only 1 worker
* `contest` - only 1 work

[2018-04-25 18:04] owocki commented on #812
moving the convo over here https://github.com/gitcoinco/web/issues/973

[2018-04-25 18:04] #812 closed

[2018-04-25 18:12] owocki opened #974 "to be defined - interoperability with https://kauri.io"
kauri is bounties for documentation.. theres probably an interoperability oppy there.

hopefully they build on standardbounties soon

[2018-04-25 18:32] mbeacom opened #975 "Investigate and resolve github username oddities"
Currently, there is an issue with some `User.username` associated with Github profiles coming from the `social-auth` app where the username is salted.  For example:

![image 1](https://user-images.githubusercontent.com/7315957/39265377-1cda5cd0-4895-11e8-855f-82e78cac77d2.png)

TODO:

- [x] Investigate causation of salted username/handle.
- [ ] Modify auth pipeline to properly handle these cases w

[2018-04-25 18:39] mbeacom opened #976 "TypeError: bad operand type for unary +: 'str'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/849/](https://rollbar.com/gitcoin/gitcoin/items/849/)

[code]

[2018-04-25 19:37] jakerockland commented on #892
@owocki Could I get a bit more specificity on the stats/data you want included in the funder and inactive user emails? Planning to jump on this tomorrow/Friday night.

[2018-04-25 19:40] owocki opened #979 "error when submitting faucet request"
[code]

[2018-04-25 19:53] PixelantDesign commented on #517
combining with 529

[2018-04-25 19:53] #517 closed

[2018-04-25 19:55] jakerockland commented on #969
@mbeacom is Portis readily integrate-able with Gitcoin, it seems that the Portis is meant to be used with an npm server and our Web3 bridge is built mostly in Django. I may be misunderstanding though?

[2018-04-25 19:55] PixelantDesign commented on #529
![Screen Shot 2018-04-25 at 3.50.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77276456f66b7191a37bf1172b4f5b5e5ecc3c4a4356bcbbd671f3e57862804e0ebcd73c5c22953910afb9864aee01ba24df4fd4b0e9821ad2f42f67b6d5db1063474f4dcbed5727a19041c95df44fe74553a5133761e77e2431.png)

Opening a new bu

[2018-04-25 19:55] #529 closed

[2018-04-25 19:56] PixelantDesign opened #982 "Build Funder Ftux Screen & Tidy Up Flow"

[2018-04-25 20:12] owocki commented on #892
sure!

funder:
num issues created
num issues fulfilled
success rate (percent)
your bounty hunters (names + profiles)
hours worked for you

inactive user:

two sections:

hey you haven't tried out a bounty yet, there's a lot on the platform and they could boost your skills in a variety of ways, meet new people

[list bounties that match their skillset]

have you considered augmenting your own team

[2018-04-25 20:28] Dan-Nolan commented on #631
Sure, we're testing it out on a beta. I'll send you an invite through Slack

[2018-04-25 20:34] PixelantDesign commented on #804
@jakerockland do you want to PR the creative repo?

[2018-04-25 20:35] #804 closed

[2018-04-25 20:35] SaptakS commented on #982
I would like to work on this issue.

[2018-04-25 21:15] #979 closed

[2018-04-25 22:28] owocki commented on #969
@radotzki see above ^^ i think there is a webified version.. no?

[2018-04-25 22:37] owocki commented on #968
what do you mean 'unable to trace it'? seems to be showing up okay for me

http://bits.owocki.com/23280p0s3A3d/Screen%20Shot%202018-04-25%20at%204.36.57%20PM.png

[2018-04-25 23:08] owocki commented on #354
@matthewlilley maybe write up a markdown document showing off how to create the JS widget and PR it into https://github.com/gitcoinco/web/tree/master/docs ?

[2018-04-25 23:32] abitrolly commented on #966
@thelostone-mc if there is simple fix for that, then I'll be happy not to wait some weeks for new design.

[2018-04-25 23:37] abitrolly commented on #968
![image](https://user-images.githubusercontent.com/8781107/39278218-add19824-48fa-11e8-9098-0cb84344c756.png)

There is no incoming transaction in Etherscan transaction list - https://etherscan.io/address/0x63b7608b7f47de1c0d1f94f85ffcb260fbcb4890

[2018-04-25 23:38] abitrolly commented on #974
https://kauri.io

[2018-04-26 01:06] owocki commented on #968
Check the “internal transactions” tab. It’s the second one IIRC . I don’t
know why etherscan made their interface like this

On Wed, Apr 25, 2018 at 5:37 PM Anatoli Babenia <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <

[2018-04-26 02:11] PixelantDesign commented on #968
I was just thinking this section is missing from our profile design. @willsputra?

[2018-04-26 06:22] abitrolly opened #984 "My fund/account management interface"
As a Gitcoin user, I need an interface for my Gitcoin ETH address, so that I can inspect what happened with my funds, which funds were sent to other people from bounty contract, which are returned, which are received as a tip, and which are don't come from Gitcoin.

### Why Is this Needed?

This is needed, because in Etherscan interface this information is not accessible for non-proficient users (

[2018-04-26 06:34] abitrolly commented on #968
I've documented what I'd like to see here - https://github.com/gitcoinco/web/issues/984

[2018-04-26 08:35] bakaoh commented on #969
I got some problems with the library while working on this issue. Portis does not support synchronous methods, but gitcoin use web3.eth.coinbase a lot. Even if we change all to the asynchronous version getCoinbase, it's seem like Portis not support getCoinbase neither (Portis api return error). I've made some change to work around these issues (https://github.com/gitcoinco/web/pull/985/files#diff-

[2018-04-26 09:53] radotzki commented on #969
@jakerockland portis-sdk is added to a web frontend project using npm install - it runs only in the browser as a Web3 provider. This means it is agnostic to the hosting web server platform (node, django, etc.).

[2018-04-26 09:53] radotzki commented on #969
@bakaoh thanks for the feedback, I opened an issue to fix it on Portis. We will handle it ASAP :
https://github.com/portis-project/portis-sdk/issues/1

[2018-04-26 12:00] dolebas opened #986 "Send tip tool fails to forward tip to github user"
### User Story

As a tip tool user, I want the receiver of my tips to get the tips.

### Description

Used the tip tool to send a tip to myself but didn't get notified about the tip after the ui confirmed that I had been notified. No instructions for how to collect the tip has been received.

Tx: 0xbf867647b43bbc03f9e26b61cf170417cb6a15e52bd4b62b8017fde0d206b056

### Reproduction

Use the tip tool

[2018-04-26 13:39] mbeacom opened #987 "Resolve pytest / travis failures"
BE tests are currently failing since the changes introduced in:

- https://github.com/gitcoinco/web/pull/931 (3 failures)
  - `test_assemble_leaderboards.py:128: AssertionError`
  - `test_assemble_leaderboards.py:111: AssertionError`
  - `test_expiration_start_work.py:114: AssertionError`

- https://github.com/gitcoinco/web/pull/948 (4 failure)
  - `test_notifications.py:75: AssertionError`
  - `t

[2018-04-26 13:59] owocki commented on #986
Thanks for the bug repoert @dolebas -- looks like we failed to pull your email address off of your github profile, and thats why you didn't get any notification.  maybe it has to do with your privacy settings!?

if you go to gitcoin.co and login, and click on the menu in the top right (by your avatar), you will see a link to redeem your tip

as for how we 'fix it twice', im open to suggestions her

[2018-04-26 14:14] dolebas commented on #986
Ok, will try that login then =) This is my current email preferences:

![image](https://user-images.githubusercontent.com/27515901/39310836-c125562e-496b-11e8-9e1f-30ee0dd2421f.png)

The "Keep my email address private" checkbox is not set so maybe there's a way to fetch the email, even if it is not publicly displayed on the profile.

![image](https://user-images.githubusercontent.com/27515901/3931

[2018-04-26 14:17] willsputra commented on #968
@PixelantDesign @thelostone-mc yea I think it is missing. I'll see how I can put it in!

[2018-04-26 14:31] dolebas commented on #986
It looks like the email visibility must be set to public in order to pull it without explicitly requesting permission for viewing it. Maybe @mentions can be used instead when there's no public email?

[2018-04-26 14:41] dolebas commented on #986
Regarding the claim tip tool, there seems to be some trouble with it too. After logging in and clicking the menu link for claiming, I am stuck at this box:

![image](https://user-images.githubusercontent.com/27515901/39312772-9cbcc6b4-4970-11e8-8dff-02101f1d0bb8.png)

[2018-04-26 14:53] dolebas opened #988 "Updating user notification preferences fails and returns (403) CSRF verification failed"
### User Story

As a gitcoin user logged in with github, changing notifications preference fails.

### Description

*Bug*:

![image](https://user-images.githubusercontent.com/27515901/39313046-4d2ef80a-4971-11e8-9b73-3da7103e6df3.png)

### Reproduction

Update "Send me" preference from "Regular" to "Lite 2".

![image](https://user-images.githubusercontent.com/27515901/39313150-968943d4-4971-11e8-9

[2018-04-26 14:54] mbeacom commented on #988
@dolebas Thanks for the heads up on this.  Looking into it now!

[2018-04-26 15:02] mbeacom commented on #988
Resolved. @dolebas Thanks for reporting this!

[2018-04-26 15:02] #988 closed

[2018-04-26 15:40] owocki commented on #986
hey @dolebas did you resubmit the tx in metamask by any chance?

the txid i see in our admin ( https://etherscan.io/tx/0x925dc4f27b3fea0e34d728d04fe08e159e8d207354b347e2b8db25ba8f9a55fe ) does not match the txid that you posted above ( 0xbf867647b43bbc03f9e26b61cf170417cb6a15e52bd4b62b8017fde0d206b056 )  -- which is why the system thinks its 'waiting for transaction to be mined'

[2018-04-26 15:45] dolebas commented on #986
Yes, I did, just to mess things up a little :)

But MetaMask suggested that I would, so I guess it could happen more times.

[2018-04-26 15:50] owocki opened #990 "Intermittent 503 errors on gitcoin.co"
![image 5](https://user-images.githubusercontent.com/513929/39316753-28d52af4-4937-11e8-8cd3-cce4aced9e15.png)

A few users have reported 503 errors on gitcoin.co.  It seems to go away when they delete their cookies.

@mike.seese @owocki have reported this

[2018-04-26 15:51] seesemichaelj commented on #990
I want to say I haven't visited the site on the machine that produced this error in several months; perhaps the cookie had an invalid value that was causing some path to a 503 error

[2018-04-26 15:52] mbeacom commented on #990
Do we have any information on the times the users are encountering this?  It could be a matter of the time it takes for them to clear their cookies and refresh for the service to respond again (or would it persist for an indefinite amount of time until they clear cookies?).

We're aware of an issue during deployments at the moment.

[2018-04-26 15:55] mbeacom commented on #988
@dolebas Sent you a tip to your protonmail address!

[2018-04-26 15:56] seesemichaelj commented on #990
I'm not quite sure what your scale of indefinite is, and I didn't wait several minutes to delete my cookies. I tried refreshing several times around 11:47AM EDT today. I tried refreshing by clearing the cache, still no response, took the above screenshot, cleared the cookies, refreshed, and it worked (while it was still 11:48AM EDT)

My gut feeling as it would occurred indefinitely until I cleared

[2018-04-26 15:58] mbeacom commented on #990
@seesemichaelj All good! I appreciate the information you've provided!

I'm going to look into this and try to spot possible issues in the logs.  If you had a stale session locally and haven't hit the site from that machine recently, it could be related to either session data or even the DNS/CDN flow changes we pushed out last week.

[2018-04-26 16:09] dolebas commented on #988
Thanks @mbeacom I just received it! Didn't expect that, prepare for me flooding your issues now =)

The work Gitcoin is doing in the bounties space is incredible. After receiving the first tip for a minor contribution I also think this project is onto something here. The simplicity of tipping could work really well for both repo owners, who needs more dev resources, as well as devs who wishes to t

[2018-04-26 17:05] mbeacom opened #991 "Gitcoin bot 2nd attempt doesn't render properly"
<img width="573" alt="screenshot 2018-04-26 13 05 09" src="https://user-images.githubusercontent.com/7315957/39320576-824707b8-4952-11e8-99e2-a006da1209af.png">

[2018-04-26 17:05] mikestonecodes commented on #951
I'm going to start work on this, if someone wants to claim it , no worries as this is my first time with this project and still learning where everything is :)

[2018-04-26 17:06] #991 closed

[2018-04-26 17:53] owocki opened #992 "submission on bounties.network for work on gitcoin"
looks like someone else submitted the bounty, i wonder if it was an accident or if they were trying to trick the funder into accepting a submission that wasn't theirs.

https://github.com/Bounties-Network/bounties.network/issues/2#issuecomment-384730845

[2018-04-26 17:53] owocki commented on #992
@PixelantDesign maybe we should only allow the person who has started work to submit work.

[2018-04-26 17:56] owocki commented on #992
from beylin

[code]

[2018-04-26 19:56] kylewu commented on #992
This is the submitter from bouties.network.
I've already commented in https://github.com/Bounties-Network/bounties.network/issues/2
Happy to discuss about it :)

[2018-04-26 20:52] kylewu opened #994 "bounty is open but github issue is closed"
https://gitcoin.co/issue/gitcoinco/web/429/103 is still open
but its github issue has been closed https://github.com/gitcoinco/web/issues/429

[2018-04-26 20:58] mbeacom commented on #994
@kylewu Thanks for the reminder!

The github issue was closed and moved to #982, but the original bounty hasn't been cancelled by the funder yet.
We don't automatically release funds when the GH issue is closed.

@PixelantDesign will need to cancel the bounty on:  https://gitcoin.co/issue/gitcoinco/web/429/103

[2018-04-26 21:05] owocki commented on #994
@PixelantDesign want to cancel this bounty?

[2018-04-26 21:05] owocki commented on #994
related

[2018-04-26 21:12] owocki commented on #986
you chaos monkey you! :)

let me noodle on a 'fix it twice' for the product here.  if we don't have the right txid, its hard to know that the tip is ready to be received.  not a big deal when gas prices are 1 gwei, but it is when the network is throttled at 20 gwei

[2018-04-26 21:51] Smona commented on #813
Progress update: all that's left to do for the frontend is add state styles for options and color picker. ETA tomorrow or the day after 🔨

[2018-04-26 22:06] owocki opened #995 "avatar v2 (not ready to be worked on yet)"
(not ready to be worked on yet)

things we want in avatar v2:
- reset avatar
-  ability to make it your gitcoin profile image
- ability to add a 'gitcoin' watermark
- ability to make it your twitter, github, profile picture,
- random avatar
- non unicolor backgrounds (stripes, polka dots, etc)
- For Avatar Characteristics with more than 9 options, show persistent scrollbar to denote to users
that

[2018-04-26 22:07] owocki commented on #995
@vs77bb @mbeacom @PixelantDesign i am starting to spec the v2 avatar stuff here.. pls feel free to comment

[2018-04-26 22:10] owocki opened #996 "testaroooooooo 123"
i am testing https://github.com/gitcoinco/web/pull/981#issuecomment-384700008

[2018-04-26 22:20] owocki opened #997 "docker fatal error when running web"
[screenshot](http://bits.owocki.com/160H3Q0m1a2O/Screen%20Shot%202018-04-26%20at%204.19.38%20PM.png)

Version 18.03.1-ce-mac64 (24245)

[2018-04-26 22:37] owocki commented on #354
per https://github.com/gitcoinco/web/issues/354 i assume this is sdk.js? https://stackblitz.com/edit/js-nkwz7t?file=sdk.js

[2018-04-26 22:43] #996 closed

[2018-04-26 22:46] #987 closed

[2018-04-26 22:53] owocki commented on #969
thanks @radotzki -- let us know!

[2018-04-26 22:53] jakerockland commented on #892
awesome thank you @owocki will have some designs for you to review soon

[2018-04-26 22:53] jakerockland commented on #804
@PixelantDesign I can if you'd like? Apologies I'm a bit unclear if that's wanted with the issue closing/opening?

[2018-04-26 22:57] maektwain commented on #533
If no one is working i can pick this up? @vs77bb all of my previous issues are closed. Looking for something new.

[2018-04-26 22:57] owocki commented on #804
@PixelantDesign just left for an international trip so i'll answer for her.  yes that 'd be graet jake! https://github.com/gitcoinco/creative

[2018-04-26 22:58] owocki commented on #533
hey maek, i think that we've got this one handled in the above PR.  thanks anyhow

[2018-04-26 22:58] #533 closed

[2018-04-26 23:00] darkdarkdragon commented on #996
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.1 ETH (65.94 USD @ $659.36/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://192.168.99.100:8000/issue/gitcoinco/web/996/621).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-04-26 23:02] maektwain commented on #533
Cool

[2018-04-27 10:45] eswarasai opened #999 "Add pre-commit hook handlers"
### Why Is this Needed?

*Summary*: Avoid Developer having to run the code linting command before committing the changes -- `npm run eslint:fix; npm run stylelint:fix; isort -rc --atomic .`

### Solution
*Summary*: We can leverage [lint-staged](https://github.com/okonet/lint-staged) to run the above command before adding the files to commit

[2018-04-27 11:30] mbeacom commented on #999
We intentionally opted to not automatically run the fixer functionality.  What if the linter results in undesired changes or adversely modifies the files and they're committed?  I don't think it's a huge ask to run `make fix` if you hit the `pre-commit` restrictions and inspect your code before committing it.

If the community wants the automatic fixer functionality to automatically run these, I d

[2018-04-27 12:22] dolebas opened #1000 "Gitcoin explorer overwrites original bounty description with other user's arbitrary GitHub data"
### User Story

As an issue funder, I expect input to the "Issue Description" form field to be displayed somewhere after funding an issue.

### Description

*Type*: Bug

### Current Behavior

Submitted the Fund Issue form funding the issue linked below but can't find the data I put in the "Issue Description" field displayed anywhere.

![image](https://user-images.githubusercontent.com/27515901/393

[2018-04-27 12:50] mbeacom commented on #1000
This description?
<img width="920" alt="screenshot 2018-04-27 08 50 07" src="https://user-images.githubusercontent.com/7315957/39363359-07dba172-49f8-11e8-93fd-3e35599e0142.png">

[2018-04-27 13:01] dolebas commented on #1000
No, that description was entered by the github issue creator, AlbertoElias, on Mar 12. I entered something like this below when funding the issue.

### Definition of Done

Any end-user of uport-project/demo should be able to login using with an android device, without the requirement of copy/pasting any url between browsers/tabs.

[2018-04-27 13:03] kylewu commented on #794
@owocki I just click start work, can I work on this now?

[2018-04-27 13:12] vs77bb commented on #794
@kylewu yes, this one is all yours! Please let us know if you have any questions 😄

[2018-04-27 13:25] mbeacom opened #1001 "Modify get_issue_timeline_events to use requests.links"
Github Timeline API responds to paged requests with an additional `Link` header specifying `rel="next"` if pages follow.  Python Requests automatically grabs this header data for you in `response.links`.  More information at:  http://docs.python-requests.org/en/master/user/advanced/#link-headers

You can access this via: `response.links['next']` and the url with all required params in `response.li

[2018-04-27 13:28] mbeacom commented on #1000
Was the issue already funded? I am confused as to what you were doing in order to produce this outcome.  What exactly were you funding? Do you see *your* bounty anywhere? Do you have a tx?
Apologies for the confusion.

[2018-04-27 13:33] dolebas commented on #1000
It wasn't previously funded. Simply followed the instructions. Can probably reproduce it by funding a new issue and take a screen shot of the exact form fields, if you are not able to reproduce it?

[2018-04-27 13:37] dolebas commented on #1000
Only thing I can think of is that I used markdown in the desc field.

[2018-04-27 13:45] vs77bb commented on #796
This issue has been returned to an 'Open' Status due to inactivity. Feel free to 'Start Work' if interested!

[2018-04-27 13:46] vs77bb commented on #623
I clicked start work here to hold the issue for @zoek1!

[2018-04-27 13:54] dolebas commented on #1000
Also, my github has no write access to the repo.

[2018-04-27 14:01] mbeacom commented on #1000
Can you link me to the bounty you opened where you encountered this? The bounty description is populated with the Github issue description, but it is editable before submitting the bounty.  I am not sure what you're question is.  Which bounty of yours isn't displaying your provided description?

[2018-04-27 14:04] dolebas commented on #1000
Submitted few hours ago, the uPort demo one.

Is it assumed that the bounty creator = github issue creator?

[2018-04-27 14:13] thelostone-mc commented on #1000
@dolebas Don't hate me for this, but let me just revisit the steps you took in the same order

- Went to the fund bounty page
- Entered the github issue
- It got auto populate with what `AlbertoElias` had written
- You over-wrote it with

- You clicked submit and the bounty on gitcoin still reflects what `AlbertoElias` had written

PS: Additionally I'm assuming since the description failed , you w

[2018-04-27 14:15] mbeacom commented on #1000
@dolebas Anyone can open a bounty for an issue. The bounty description *should* retain the description you enter.  Could the data from GH have populated after you entered your description?  The page makes a request against the GH api for the GH url associated description, title, etc.

<img width="420" alt="screenshot 2018-04-27 10 13 19" src="https://user-images.githubusercontent.com/7315957/39367

[2018-04-27 14:16] thelostone-mc commented on #1000
Nope !

Yeah this should still be fine ! If you were to fund an issue created by me -> you could do it via gitcoin
but the issue description section will be auto-filled from the github issue (and not from the comment posted by the bounty issuer )

[2018-04-27 14:24] thelostone-mc commented on #1000
@dolebas Ugh yeah !! You make a valid point ^_^
@PixelantDesign we need to give the description bigger. Everyone on github is used to a big box to list out the issue. This does seem cramped up

[2018-04-27 14:32] mbeacom commented on #1000
I agree we should probably expanding the size of the description text area.

[2018-04-27 14:34] thelostone-mc commented on #429
@owocki is this still open! I believe this issue is being worked on two folks now

[2018-04-27 14:37] mikestonecodes commented on #951
Hey I got this working nicely! I'm going to write some automated tests and try to break my code before submitting :)

[2018-04-27 14:40] owocki opened #1002 "how do we want to handle issues that are severly underfunded?"
https://gitcoin.co/issue/InfluenceIO/frontend/1/313

this is like $400-$500 worth of scope but is only funded to $50

i wonder if there was some sort of way to tactfully tell the submitter that if it would help

some sort of ‘needs more funding’ button

[2018-04-27 14:40] owocki commented on #1002
you know whats crazy? theres 2 devs who have started work already https://gitcoin.co/issue/InfluenceIO/frontend/1/313

[2018-04-27 14:41] owocki opened #1003 "the big "workers going MIA" thread"
once the new profile is done, i wonder if we want to have it show some sort of demerit on profiles of people who abandon tickets.

possibly even freeze their ability to start work on gitcoin for some amount of time.

maybe i have too high expectations but this is totally unacceptable
<img width="617" alt="screen shot 2018-04-27 at 8 38 24 am" src="https://user-images.githubusercontent.com/513929/3

[2018-04-27 14:41] owocki commented on #1003
@vs77bb per your comment on slack theres a lot more 'started work' issues on the platform.  i think that some of them are likely in the 'abandoned' status

[2018-04-27 14:42] owocki commented on #1003
also cc @PixelantDesign to see what she thinks.

[2018-04-27 14:46] radotzki commented on #969
@bakaoh @owocki I closed the issue and tried the integration on my local gitcoin env, and it looks good!

@bakaoh - There is one more thing you need to add, in the `shared.js` file add a function that will unlock Portis, something like this:

[code]
Then, in `trigger_sidebar_web3_locked` check if the user selected MetaMask or Portis, and show the relevant text and action in order to unlock the pro

[2018-04-27 14:51] thelostone-mc commented on #999
Makes things difficult for newbies but makes our life easier as code reviews becomes quicker !

[2018-04-27 14:52] mbeacom commented on #1003
I agree with this...  We need to convey to potential bounty hunters there is some sort of penalty for abandoning work.  The impact of a would-be contributor picking up an issue and sitting on it could be devastating for some tasks.
Obviously, things come up... but in a case like the one referenced, it's entirely avoidable with responsible and open communication.

It sounds like we need to explore

[2018-04-27 14:57] mbeacom commented on #999
I think they both have the same result, honestly.  If you commit something that doesn't meet the requirements, it's not going to pass tests, so it shouldn't be merged.  In any case, I'm fine with exploring this option.

[2018-04-27 15:00] mbeacom commented on #1002
Hopefully this doesn't become a trend.  Maybe we should explore being more suggestive with bounty funders as discussed in slack.  The last thing we want is for underfunded bounties to become the norm and ultimately the standard like many freelancing sites.

[2018-04-27 15:07] #259 closed

[2018-04-27 15:16] willsputra commented on #968
Added the Tips Received section. Thoughts?

![profile - withtips](https://user-images.githubusercontent.com/19514207/39370116-aec9e7c8-4a70-11e8-8c9b-f94c2fa6603b.png)

(btw is it better if I put this here, or should I put it in #656 ?)

[2018-04-27 15:36] dolebas commented on #1000
It seems like anything in the description field is automatically overwritten whenever the URL field is activated, regardless if the field is edited.

Maybe a prompt for a confirmation before edited fields automatically are overwritten would help? If the user has spent some time crafting a thought out description it could be a bummer if it is suddenly deleted because the URL field is mistakenly act

[2018-04-27 15:41] owocki commented on #1000
This is good feedback.  We should probably make it clear that entering a github issue URL overwrites the desc text (or, per @dolebas 's suggestion, maybe ask for confirmation before we prefill if there is edited text there)

[2018-04-27 15:44] owocki commented on #968
LGTM @willsputra thanks!  can you add it to #656 too

[2018-04-27 15:45] owocki commented on #1002
we recently merged a PR that anchors prices to hourly rates in the funding flow.. hopefully that helps normalize the hourly rates (can track this using the dataviz work I did)

[2018-04-27 16:16] owocki commented on #1003
i agree with this.. also, maybe making users stake some ETH that they lose if they go MIA would help

[2018-04-27 16:25] abitrolly commented on #968
For me there is no difference between a tip and a bounty. because both are
received as a result of some good work, so maybe a tip is just
unconditional bounty type among all bounty types that are supported.

On 27 April 2018 at 18:44, Kevin Owocki <notifications@github.com> wrote:

--
Anatoli Babenia

+1 (650) 605-3365
+375 (29) 320-4241

[2018-04-27 16:28] owocki opened #1004 "as a user, i want the ability to test slackbot integration so i can know it's working"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want the ability to test slackbot integration so i can know it's working

https://gitcoin.co/settings/slack

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary

[2018-04-27 17:05] mbeacom opened #1005 "AttributeError: 'AnonymousUser' object has no attribute 'profile'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/856/](https://rollbar.com/gitcoin/gitcoin/items/856/)

[code]

[2018-04-27 17:44] #1005 closed

[2018-04-27 17:49] #877 closed

[2018-04-27 18:04] owocki opened #1007 "as a user, i want one click approval of erc20 token bounties, because its faster and easier"
follow up from https://github.com/gitcoinco/web/pull/1006

as a user, i want one click approval of erc20 token bounties, because its faster and easier

right now, there are two confirmations (one for `.approval()` and AFTER THE BLOCK CONFIRMS FOR THE FIRST the next to issue the bounty).  Itd be an ideal if the user only had to do 1 tx in order to do an erc20 bounty

Possible implementation paths
1

[2018-04-27 18:07] mbeacom opened #1008 "DoesNotExist: Profile matching query does not exist."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/869/](https://rollbar.com/gitcoin/gitcoin/items/869/)

[code]

[2018-04-27 18:11] #1008 closed

[2018-04-27 18:38] owocki commented on #794
all sources..

[2018-04-27 19:01] owocki commented on #805
looks right direcditonally to me.  i'd actually prefer to move the text out of the images and onto the webpages..  thats one change i see from looking at this

@PixelantDesign is traveling right now, let me see if i can ping her

[2018-04-27 19:03] owocki commented on #773
i fixed this

[2018-04-27 19:03] #773 closed

[2018-04-27 19:03] owocki commented on #696
this is done!

[2018-04-27 19:03] #696 closed

[2018-04-27 19:04] owocki commented on #682
yes!

[2018-04-27 19:14] owocki opened #1009 "as a project administrator, i want to distribute tokens to people who has done work for my project in the past, so i can balance intrinsic motiviation and extrinsic motivations"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a project administrator, i want to distribute tokens to people who has done work for my project in the past, so i can balance intrinsic motiviation and extrinsic motivations

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you

[2018-04-27 19:17] owocki commented on #429
waiting for @PixelantDesign to close down the old bounty

[2018-04-27 19:54] PixelantDesign commented on #805
@justpixel I agree with @owocki about removing the text out of the image, and also might be good try it on a white background? I think simplifying the icons would also help! Something like the attached style wise (less lines and less detail, not metaphorically).

![cko_icons](https://user-images.githubusercontent.com/238235/39382350-d7c58c98-4a6d-11e8-9f65-b80255160147.png)

[2018-04-27 20:43] owocki commented on #1007
https://github.com/gitcoinco/web/pull/1006

[2018-04-27 22:48] owocki commented on #901
@mbeacom let us know !

[2018-04-27 22:50] joshmorel opened #1011 "Explorer multiselect "Any" option doesn't behave as expected"
### User Story

As an explorer, I want a multiselect "Any" control that selects all.

### Why Is this Needed?

This UI is confusing if intended, if not intended it's a bug
### Description

Bug

### Current Behavior

When clicking Any on the gitcoin explorer multiselect options, the only thing that happens is the page refresh.

### Expected Behavior

"Any" will be selected, page will refresh with a

[2018-04-27 23:31] owocki commented on #874
[code]

<img width="904" alt="screen shot 2018-04-27 at 5 29 36 pm" src="https://user-images.githubusercontent.com/513929/39388899-cdaea820-4a40-11e8-8dc7-f7542f5cd311.png">

[2018-04-27 23:31] owocki commented on #874
PR is open => https://github.com/gitcoinco/web/pull/1012

[2018-04-27 23:46] abitrolly opened #1013 "List used contracts under metamask icon in the footer"
### User Story

As a ETH enthusiast, I want to see what contracts belong to gitcoin or what contracts it uses, so that I can ensure that I am using right interface. I also want a quick way to see if Metamask is on or off in the footer.

### Why Is this Needed?

This can serve as onboarding experience for new contributors. Also as an indicator that Gitcoin is DAPP, and also while site is visible, i

[2018-04-28 01:08] PixelantDesign commented on #656
Thanks @willsputra!

[2018-04-28 01:29] willsputra commented on #656
updated the Sketch file too:
https://drive.google.com/open?id=1AYQMCiBo8N42zZWdDyXFiuRXKjgff3Me

[2018-04-28 04:34] abitrolly commented on #133
https://gitcoin.co/tools

[2018-04-28 04:42] abitrolly opened #1014 "Prefill fields on a Tips page"
### User Story

As a Github user, I want to leave a link to tip me on my Github page, so that people can tip me.

### Why Is this Needed?

Because people need tips.

### Current Behavior

Currently, to tip me, people need to fill out all details manually at https://gitcoin.co/tip They can make mistake.

### Expected Behavior

Process links like https://gitcoin.co/tip?user=abitrolly that make at le

[2018-04-28 04:45] abitrolly commented on #1014
I'd like also to prefill comment field to filter my project that people can tip for.

Also, nice if prefilled fields could be visible immediately even if hidden in `Advanced >>`

[2018-04-28 04:49] abitrolly commented on #1014
The goal is to track how much https://github.com/abitrolly/metamask-status generates, and which part it generates to meet a basic need from https://github.com/abitrolly/abitrolly.github.io/issues/4

[2018-04-28 05:04] jp8042 commented on #1004
@owocki I would like to work on this issue. Can you get me started?

[2018-04-28 08:14] Smona commented on #813
The frontend is finished! @thelostone-mc and I are going to link up soon and complete this issue 🙂

[2018-04-28 11:28] dolebas commented on #1000
If it helps, I noticed that there also seems to be some overwriting of the "Issue Title" field going on after the bounty is created as well.

Yesterday:
![image](https://user-images.githubusercontent.com/27515901/39396057-575f4d94-4ae7-11e8-9b65-6f318fc617c4.png)

Today:
![image](https://user-images.githubusercontent.com/27515901/39396063-71e2c484-4ae7-11e8-99cb-0894d16b7fda.png)

Maybe radio butt

[2018-04-28 12:36] vs77bb commented on #958
I manually removed the bounty hunter for inactivity and have returned this to an 'Open' status! Contributions welcome 😄

[2018-04-28 12:41] vs77bb commented on #946
We returned this issue to an open status due to inactivity. Open to contributions 😄

[2018-04-28 12:42] vs77bb commented on #640
I manually removed the bounty hunter for inactivity and have returned this to an 'Open' status! Contributions welcome 😄

[2018-04-28 13:12] vs77bb commented on #865
Hi @phungcorporation we'd like to see this one move forward quickly... could you let us know your plan here? Thank you for your interest!

[2018-04-28 13:16] vs77bb commented on #843
@eswarasai @thelostone-mc Cleaned up some Gitcoin Bot comments... reminder that Ethereal is [next weekend](https://etherealsummit.com/)!

[2018-04-28 14:09] vs77bb commented on #671
I love it! @owocki @PixelantDesign any final questions before we move it to [CODE] phase?

Very much appreciate your attention to detail here, @willsputra.

[2018-04-28 15:04] vs77bb commented on #429
FYI to @theoutsiders733 - this one is not open at this time. Thank you however, for your interest!

[2018-04-28 15:04] vs77bb commented on #432
@KennethAshley Howdy 🙂 waiting for your 'Submit Work' here so we can pay out!

[2018-04-28 15:06] vs77bb commented on #412
@mbeacom @owocki This one in review phase with us now, yeah?

[2018-04-28 15:11] vs77bb commented on #479
@lazaridiscom Would you mind cancelling this bounty on Github [here](https://gitcoin.co/issue/gitcoinco/web/479/79)? Hope you are doing well 🙂

[2018-04-28 16:25] eswarasai commented on #412
@vs77bb -- Yep. Here's the PR #790

[2018-04-28 17:15] KennethAshley commented on #432
@vs77bb so I tried to submit this awhile back but it wouldn't work. I believe me and @PixelantDesign  discussed this

[2018-04-28 18:34] kylewu commented on #794
In https://gitcoin.co/issue/gitcoinco/web/794/206, "Work Submitted" is still empty.

[2018-04-28 22:01] thelostone-mc commented on #1013
@abitrolly

Noob question:  Could you elaborate on this? You mean you'd like to see the contract (bounties network / gitcoin)? That's something which would be a set of generic ones which is what would be used by every bounty put on gitcoin. Should this be something if needed, we put in the `onboarding` flow rather than across the site? Or am I entirely wrong in my understanding  😂

#### Metamask s

[2018-04-28 22:05] thelostone-mc commented on #432
@KennethAshley Ah ! The submit doesn't work -> cause the issue has expired :/
I believe @owocki would have to use the tip functionality instead

@mbeacom, @owocki  should we add in the functionality to extend the end date for the issuer?
(It seems to be rising a few times -> bad user experience :/ )

[2018-04-28 22:09] thelostone-mc commented on #429
@Theoutsiders733 If you need other front end work -> Leave me a ping and I'll give you a heads-up over slack when something comes up! (Sorry about the confusion 😅)

[2018-04-28 22:10] thelostone-mc commented on #506
@kziemianek you mind leaving a comment here for the bot 😅

cc @mbeacom The inactivity period check -> as of now we check only if a comment has been posted by the hunter as a sign of activity right? (and not a referenced PR )

[2018-04-28 22:25] PixelantDesign commented on #813
Can’t wait to see it!

[2018-04-28 22:25] thelostone-mc commented on #968
@willsputra @PixelantDesign I believe @abitrolly wanted to the transaction address -> would it make sense to add that detail in the tips section too?

The usual bounties you can check the address via the bounty page, we don't have a tip page for every tip a user has recieved

[2018-04-28 22:35] thelostone-mc commented on #843
@vs77bb we'll shoot out the PR soon ^_^
Until then for reference this is where the code resides https://github.com/eswarasai/web/commits/ethos

[2018-04-28 22:40] thelostone-mc commented on #1000
Hmm when I had checked on this yesterday I'd seen the same Not Working In Mobile 🤔
need to check this out

[2018-04-28 22:42] dolebas commented on #1000
Check gitcoinbot on twitter

[2018-04-28 23:07] PixelantDesign commented on #968
We could probably add the eth address to the tips rows during build phase. Should probably do the same on the paid bounty transactions too @thelostone-mc

[2018-04-29 00:08] mkosowsk commented on #1002
I like using a notification email per @eswarasai 👍🏻

[2018-04-29 07:00] willsputra commented on #968
@thelostone-mc @PixelantDesign instead of putting the whole address, maybe we can just put a "View Transaction" link that brings you to Etherscan?

<img width="1175" alt="screenshot 2018-04-29 14 56 40" src="https://user-images.githubusercontent.com/19514207/39404064-8f6ac5ac-4bbd-11e8-8193-2e6a32312173.png">

although I'm still not really sure if this should show up on the profile, or if this sho

[2018-04-29 07:51] thelostone-mc commented on #968
Ideally we should show it , after the tip has been accepted ( that is if we need to show it in the first place )

Adding the view transaction / address sort of ruins the balance :P but it's still needs
Wish there was a subtle way to get it done

@abi

[2018-04-29 09:10] thelostone-mc commented on #1011
@joshmobley You mean you'd like a button where on click all the filters are removed?

We've got a reset  -> which selects `Any` aka removes all filters

<img width="244" alt="screen shot 2018-04-29 at 2 29 53 pm" src="https://user-images.githubusercontent.com/5358146/39404970-fd387330-4bb9-11e8-9848-911aae8ba22a.png">

[2018-04-29 09:14] thelostone-mc commented on #946
@CuriousLearner reach out to me / @mbeacom over slack if you get stuck ^_^

woohoo 🍾

[2018-04-29 09:49] thelostone-mc commented on #946
I don't think so! @owocki ?

[2018-04-29 10:25] PixelantDesign commented on #1002
I think notification email is a lightweight approach as well. Need to think through the parameters.

How would we know this?
Should it be based on # of people working on a task per bounty value? Maybe we look at the recommendes hourly and make sure it doesnt fall below a certain amount/ hr. But we might need to know how many hrs a funder thinks this will take. Just spit balling.

Also if the syste

[2018-04-29 10:29] PixelantDesign commented on #432
+1 on being able to extend the end date. @owocki @mbeacom @vs77bb

[2018-04-29 10:34] PixelantDesign commented on #968
@willsputra we would not show transaction type stuff on the public profile view but would be valuable for the private profile view.

[2018-04-29 10:37] PixelantDesign commented on #1011
Any should show all. Is this a bug @mbeacom?

[2018-04-29 10:45] radotzki commented on #969
@bakaoh no worries, have a great vacation and let me know if you need anything else when you get back

[2018-04-29 13:41] owocki opened #1015 "Add discord bot integration"
Continuation of https://github.com/gitcoinco/web/issues/259

##### Description
It would be nice to be able to have a discord integration that would notify our team when bounties have been posted to one of our repositories.

# What

* An area in my settings where I can specify a discord API key (or key pair)
* an area in the settings where I can define what repos I want discord updates on
* An area

[2018-04-29 13:59] CuriousLearner commented on #946
Just a heads up that I've started a PR. This is still a work in progress.

[2018-04-29 17:30] farhaanbukhsh commented on #1015
Hey I would like to take this up !

[2018-04-29 17:36] SaptakS commented on #1015
@farhaanbukhsh You can start work [here](https://gitcoin.co/issue/gitcoinco/web/1015/330)

[2018-04-29 17:54] farhaanbukhsh commented on #1015
So here is what I am thinking about, we can have a config file that stores all the information that you want, since we already have a end point that gets information to hit slack, we can just relay that information and be done with it.

Your thoughts @SaptakS  and @owocki

[2018-04-29 18:07] mkosowsk commented on #1002
@PixelantDesign I was thinking of basing it just on whether or not work has been started on an issue or not after a given timeframe of 3 days, which is a bit more reactive as opposed to proactive 🤔 Benefits of this approach are that it would be relatively easy to implement and would provide some feedback but downsides are that it wouldn't provide great guidelines for a Funder when first listing

[2018-04-29 18:16] KennethAshley commented on #432
I think that would be a great idea!

[2018-04-29 19:42] mbeacom commented on #1015
I think it might be a good idea for us to move the slack and discord integration types to an `Integration` model with a FK to `Profile`, `CharField` of type choices or integration type models (slack, discord, etc). This will allow us to add more integrations in the future without adding additional fields to `Profile` and we could just access them via `profile.integrations`.

[2018-04-29 20:13] PixelantDesign commented on #1002
@mkosowsk do you mean whether the contributor has posted any updates on the project since clicking 'start work'?

[2018-04-29 20:31] joshmorel commented on #1011
Well, really a new design isn't needed, to be honest. The multiselect options just need to work like "PROJECT STATUS"

For example in "EXPERIENCE LEVEL" clicking "Any" does nothing except refresh the search result with the exact same filter as before.

[2018-04-29 20:36] joshmorel commented on #1011
![peek 2018-04-29 16-35](https://user-images.githubusercontent.com/10546720/39410776-6c12ef7c-4bcb-11e8-82c8-8f3f4f05a6dc.gif)

[2018-04-29 20:49] PixelantDesign commented on #671
@willsputra @vs77bb I think its good.

For success confirmations, instead of:
Redirect back to Issue Explorer, with success notification.
It might be best to put the confirmation message on the screen where after you fund it, it mentions that the info is getting posted to the blockchain, otherwise, we will have two ux patterns of doing the same thing and can be confusing for users.

[2018-04-29 21:38] mkosowsk commented on #1002
I remember reading the stat that average issue was picked up within 6 hours, but that may be incorrect... @owocki did that stat fall out of the data viz stuff you've been up to? 🤔

[2018-04-30 00:15] michelgotta commented on #920
@gitcoinbot Still working on this.

[2018-04-30 01:15] michelgotta commented on #920
@owocki @mbeacom In the layouts, there are the two boxes in the header (Contributor, Funder). They have the "#1 contributor" info. Is there, at this moment way to get this "scoreboard info" from the api/profiledata? Can't find a "efficient" way at the moment. Any ideas? (Or was this just a "placeholder" in the layouts…)

[2018-04-30 01:15] owocki commented on #1002
yerp.

maybe we have a prominent 'give feedback' button on open issues which can accumulate feedback on the issue spec.

perhaps the button opens up a modal, and a user can  enter freeform text and maybe also in a radio button select "needs better spec", or "underfunded" or "other"

after 3 days, if no one has claimed it, we deliver that feedback to the bounty hunter via email.

[2018-04-30 01:27] owocki commented on #1004
yay @jp8042 good to be working with you.  let me know if you have questions about the bounty scope.  theres a wealth of information about spinning up the app in docker [here](https://github.com/gitcoinco/web)

[2018-04-30 01:28] owocki commented on #671
lgtm.  @vs77bb want to take the first pass at the 'code it' ticket and ill provide a second pass?

[2018-04-30 01:31] owocki commented on #1015
yes pls!

I agree with this in princdiple, but unfortunately I didn't fund the bounty to account for the refactor.  I vote we let @farhaanbukhsh complete the task as scoped and then update the model as you proposed in another ticket.

[2018-04-30 01:34] owocki commented on #432
[this is supported by standard bounties](https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L389) -- pls add a seperate titcket to track this idea!

@PixelantDesign could you cancel this issue and tip @KennethAshley the amount for the scope?  Ken, after this is done i'll make sure to set the status to 'done' in our DB so you get the rep for finishing it

[2018-04-30 01:38] owocki commented on #843
just got the first cut of the physical ethos coins :) they look sickkk

[2018-04-30 01:42] owocki commented on #946
yay!

 `should_suppress_notification_email(to_email, 'transactional')` should do the trick.  the second param is the email 'level'

[2018-04-30 01:43] owocki commented on #969
have a good vacay!

we have some product stuff to iron out.  we will have some more updates for you when yo uget back

[2018-04-30 01:58] owocki commented on #1000
yeah we sync the github title to the gitcoin title.  cc @PixelantDesign maybe its worth making this a configurable option...

[2018-04-30 02:02] owocki commented on #479
i just cancelled it

[2018-04-30 02:05] owocki commented on #1014
https://gitcoin.co/tip?username=abitrolly will do this for you :)

also check out the browser extension at http://gitcoin.co/extension !

[2018-04-30 02:30] abitrolly commented on #1014
At first I thought that it doesn't work, because it took about 3 seconds to fill my name after clicking the link to get to https://gitcoin.co/tip/send/2/ page.

I'd like to prefill comments also, like https://gitcoin.co/tip?username=abitrolly&comments_public=for:metamask-status or being able to specify GitHub project and donate to it. But I am not sure how to claim funds in this case.

[2018-04-30 02:38] jakerockland commented on #892
@owocki I finally got to jump on this! Is this aligned with what you had in mind? Included first is the original email for developers design as reference, then the one for funders, and finally inactive users.

Also will plan to PR this with the activity designs to the /creative repo all in one PR once we're done with this ticket.

![quarterly stats email - hunter](https://user-images.githubusercon

[2018-04-30 05:04] SaptakS commented on #982
I am working on it. The frontend has almost been completed. Need to integrate the flow along with it. Will create a WIP pull request soon.

[2018-04-30 06:27] vikaskyadav commented on #640
Can anybody tell me what this line implies?
["Ensure that the Newsletter section immediately links to the latest open newsletter (similar to how you know when you go to weekinethereum.com you'll get to the latest and greatest)"](url)

[2018-04-30 08:14] vikaskyadav commented on #958
I can take up the frontend part. Need someone who can do the django part.

[2018-04-30 08:18] vikaskyadav commented on #970
Are Hindi and Tamil being supported for now?

[2018-04-30 11:03] mkosowsk commented on #640
@vikaskyadav if you go to today http://www.weekinethereum.com/ you will see the April 26, 2018 edition of Week in Ethereum already opened.

All the way at the bottom are all the old editions which you still have access to, but when you go to the main page you automatically see the newest one 👍🏻

[2018-04-30 13:17] owocki opened #1020 "design - as a community member, i want a public gitcoin.co/results page, so I can show off that the system is working"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a community member, i want a gitcoin.co/results page, so I can show off that the system is working

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
https://twitter.

[2018-04-30 13:26] #683 closed

[2018-04-30 13:57] #412 closed

[2018-04-30 13:58] ghost opened #1021 "Allow funders to disable Gitcoin idle warnings for assigned tasks"
Long running tasks in which a team is collaborating and/or are somewhat open ended will drop the assigned task user off after a while. Funders should be able to tell Gitcoin Bot to not idle-drop the task users for these collaborative projects.

See https://github.com/ethgasstation/ethgasstation-api/issues/1#issuecomment-385300991 for more information per @owocki.

[2018-04-30 14:14] mbeacom opened #1022 "NoReverseMatch: Reverse for 'viz_index' not found. 'viz_index' is not a valid view function or pattern name."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/882/](https://rollbar.com/gitcoin/gitcoin/items/882/)

[code]

[2018-04-30 14:31] mbeacom commented on #412
The associated PR for this bounty has been merged.  Thanks @eswarasai !

[2018-04-30 14:37] dolebas opened #1023 "Crowdfunded bounties?"
### User Story

As a bounty funder, I may have shared interests with other projects that would be willing to fund parts of the same bounty.

### Context

Several projects, independent from each other, may be reliant on resolving the same issue in another project X.

Each party is willing to contribute funds to a bounty but only one project 'A' takes the initiative to do so. Projects BCD.. aggrees

[2018-04-30 15:01] dolebas commented on #1002
Not sure if my 0.01 eth bounty triggered this thread but to my surprise that micro funded issue got picked up really quick and have a really good outcome already.

Maybe a low entry level puts less pressure on starting/stoping work, and provides a relaxed opportunity for new developers on the platform to give it a shot? If the progression is healthy funds can be added incrementally and tips can be

[2018-04-30 15:14] KennethAshley commented on #432
@owocki I can't seem to find this in the explorer. I do believe it was around the ETH value of $50.

[2018-04-30 15:17] owocki commented on #973
@danieljoonlee is interested in working on this

[2018-04-30 15:55] justpixel commented on #805
@owocki @PixelantDesign I'll be away for two weeks, so if it's anybody that wants to continue the work from here feel free to jump in.

[2018-04-30 16:10] owocki commented on #805
@justpixel thanks for letting us know.. can you submit a WIP PR for the work you've done thus far?

@PixelantDesign -- any chance i could get the source SVGs / files for the files you just shared/

[2018-04-30 16:14] owocki commented on #1023
https://github.com/Bounties-Network/StandardBounties/issues/40

this is something that the standardbounties team ( @will.villanueva and @mbeylin ) are working on

[2018-04-30 16:14] owocki commented on #1021
@10a7 do you think 'disable' is the right thing to do.. or maybe 'snooze' for x days, weeks, months ?

[2018-04-30 16:16] owocki commented on #640
@vs77bb

[2018-04-30 16:17] owocki commented on #970
not yet... its a good idea tho given we have a fair amount of Hindi-speaking users

[2018-04-30 16:18] owocki commented on #958
@vikaskyadav that works for me. if i have some cycles can do the models.. just stub the data in the views.py file for now

[2018-04-30 16:23] owocki opened #1025 "Cannot read property 'split' of undefined"
possibly related to https://github.com/gitcoinco/web/pull/790

[code]

[2018-04-30 16:26] eswarasai commented on #1025
@owocki -- Sure. I don't have access to the Rollbar though. My guess is, there's a null check missing for already existing localStorage values.

[2018-04-30 16:27] danieljoonlee commented on #973
Work is in progress, if anyone wants to help / jump in let me know

[2018-04-30 16:33] mbeacom commented on #1025
@eswarasai I sent you an invitation to rollbar.

[2018-04-30 16:40] eswarasai commented on #1025
Thanks @mbeacom for the invitation. As I can see from the above logs, the error occurs in `bounty_detail.js` which is left untouched in #790 as you can see in this [commit](https://github.com/gitcoinco/web/commit/6b3b41641c44f519363886473cd0fe61aa8bf973).

I think I might know the root cause for this. There might be a GitHub Project for which we couldn't retrieve any `Keyword`. If it's easy, try l

[2018-04-30 18:28] CuriousLearner opened #1028 "Code-cleanup Flake8"
### User Story

As a developer, I want a clean code base where flake8 is followed.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Better code standard will promote readability and attract new contributors to the project.

### Description

[comment

[2018-04-30 18:32] CuriousLearner commented on #200
@owocki How do I get  total no of users?

[2018-04-30 18:37] owocki commented on #200
TBD.. hopefully itunes will expose an API we can use

[2018-04-30 18:37] owocki commented on #200
TBD.. hopefully itunes will expose an API we can use

[2018-04-30 18:39] CuriousLearner commented on #148
Hey @connorwarnock ! Are you still working on this?

[2018-04-30 18:59] vs77bb opened #1030 "Funder Dropdown Options"
### User Story

As a Funder, I want to know the top funding options (ETH, DAI) so that I can fund my bounties in the currency which is most easily consumed by the developer community.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen,

[2018-04-30 19:11] vs77bb opened #1031 "Oasis Direct Widget"
_Needs Review_

### User Story

As a Funder, I want to be aware of an option to quickly transfer my ETH into a price-stable cryptocurrency which will likely hold value over the term of my bounty.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would lik

[2018-04-30 19:35] mbeacom opened #1032 "Faucet translation isn't rendering properly"
<img width="399" alt="screenshot 2018-04-30 15 34 55" src="https://user-images.githubusercontent.com/7315957/39446301-0c305556-4c8c-11e8-8ef9-6adba3152713.png">

[2018-04-30 19:40] #1032 closed

[2018-04-30 19:48] vs77bb opened #1033 "[Code] Gitcoin Requests"
### User Story

As a developer, I want the best the open source work in web3 on Gitcoin so that I can contribute to great projects.

### Design Spec
[See 671](https://github.com/gitcoinco/web/issues/671) for Design details.

### Description

- Incentivize Gitcoin developers to look around open source repo's themselves for potential Gitcoin issues and report these back to Gitcoin (by either a) drop

[2018-04-30 20:38] kylewu commented on #958
@owocki if model and design do not match, which one should i follow? for example, employment type is in design, not in model

[2018-04-30 21:03] owocki commented on #958
@kylewu thanks for speaking up.  pls just use your best judgement.  if you throw a TODO in the code, i will take a look at and resolve the harder TODOs during code review.

[2018-04-30 21:12] #1025 closed

[2018-04-30 21:32] thelostone-mc commented on #671
@willsputra  would it make sense to add `0. Bounty Requested` cause it could be stated as step 0 in the filter ? (makes it a complete lifecycle )

[2018-04-30 21:58] owocki opened #1035 "work scheme v2 brainstorming"
follow up to https://github.com/gitcoinco/web/issues/973

convo with @pipermerriam today:  for the `approved` scheme, we might want to allow auto-approvals of ppl who've done bounties before.

we may also want to allow blacklisting

another idea: require users to stake some ETH in order to start work.  they lose it if they abandon it

from @kumavis: we may want to do some sort of “fractional reser

[2018-04-30 22:15] owocki commented on #892
this is perfect.. thanks jake!

[2018-04-30 22:18] owocki opened #1036 "quarterly stats v2 -- funder and "no action" views"
this is a v2 of https://github.com/gitcoinco/web/pull/1016/ , which contains the following sections

* view for funders
* view for people who haven't taken action yet

![39413797-8596c1f8-4be4-11e8-887c-9619dac6a7f8-1](https://user-images.githubusercontent.com/513929/39453146-08a2e36c-4c92-11e8-89e4-6b448e5527d0.png)
![39413799-85f2bdfa-4be4-11e8-8171-a76968155710](https://user-images.githubuserco

[2018-04-30 22:18] owocki commented on #1036
hat tip @jakerockland 4 the design

[2018-04-30 22:25] mbeacom commented on #1028
I agree with this, but due to the amount of open work on the platform, we're intentionally not linting the whole codebase to avoid unnecessary stress for fellow community contributors.

We plan to slowly lint each app as the opportunity presents itself and specifically enforce linting on apps that have already been migrated.

[2018-04-30 22:56] abitrolly opened #1037 "Started work / Stop Work History"
In https://github.com/ipld/js-cid/issues/38#issuecomment-378075363 I am pretty sure that the work was started by @dimkk 27 days ago, and I remember seeing it in gitcoin.co page too - https://gitcoin.co/issue/ipld/js-cid/38/121

But now @gitcoinbot edited its message to say that @rrandom is now working on the issue, although I don't see any activity from him. I also see that @gitcoinbot started to

[2018-04-30 23:10] abitrolly commented on #706
https://gitcoin.co/tools

[2018-04-30 23:15] abitrolly opened #1038 "Moving bounty with historical record"
### User Story

As a funder, I want to move my bounty when upstream problem is broken down into more specific issues, so that bounty can stay relevant.

### Current Behavior
I need to kill bounty and create new one with new funds.

### Expected Behavior
I want to move existing funds to new issue with @gitcoinbot making notice about the move, and with bounty page reflecting move in a history.

###

[2018-04-30 23:45] jakerockland commented on #892
@owocki thank you! 👍 😄

[2018-04-30 23:51] owocki commented on #1038
right now the bounty will sync the issue desc / title from github.  perhaps that can work for you as a stopgap until we provide edit functionality?

[2018-04-30 23:53] owocki commented on #1037
there is def a balance between providing the history of changes and clogging up the issue with a bunch of comments.  we opted to avoid clogging up the issue with a bunch of comments..

perhaps we could have the gitcoin bounty show the start/stop work history.. would that suffcie @abitrolly

cc @mbeacom and @PixelantDesign on this

[2018-04-30 23:56] abitrolly commented on #1037
start/stop history will help. I expected to see it on bounty page, but if it is exposed through API then there should be no problem for the bot to update its message like it does right now with some concise history format. It can also generate some d3.js pictures.

[2018-04-30 23:58] abitrolly commented on #1037
But my biggest concern is that probably @dimkk never cancelled his work and @rrandom never started, so there is a bug on our side.

[2018-04-30 23:58] owocki commented on #805
@olafghanizadeh any interest in picking this one one up

https://github.com/gitcoinco/creative/pull/6

[2018-05-01 00:01] abitrolly commented on #1038
Would be nice to see diffs when upstream issues change. Right now the bounty from https://github.com/ipld/js-cid/issues/38 needs to be moved to https://github.com/ipfs/js-ipfs/issues/1321

[2018-05-01 02:30] owocki commented on #1003
just put in a change to start logging abandoned work

[2018-05-01 02:57] vs77bb opened #1040 "Gitcoin Bot Enhancements"
### User Story

As a Gitcoin Funder / Developer, I want a helpful and positive Gitcoin Bot so that I have a good experience while accomplishing my bounty.

### Description

*Summary*: Change Gitcoin Bot's messaging to be one message which a) warns on Day 3 and b) boots on day 6. See below for sample text.

- Day 3: @bountyhunter Hello from Gitcoin Core - are you still working on this issue? Please

[2018-05-01 03:02] vs77bb opened #1041 "'Stop Work' Enhancements"
Needs UX

### User Story

As a funder, I want to 'Stop Work' quickly on developers who are a) not responsive or b) unable to truly take on the bounty posted. This is an enhancement to #666.

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*: Here are proposed enhancements.

- Notify a funder when work is started, and include a messag

[2018-05-01 03:49] owocki opened #1044 "as an admin, i want users who 'start work' to start a PR within 24 hours, so i can be sure they're serious"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as an admin, i want users who 'start work' to start a PR within 24 hours, so i can be sure they're serious

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

because to

[2018-05-01 05:01] SaptakS commented on #1044
@owocki I feel this might always not work since the user might actually start working but haven't done anything significant to create a WIP.
I mean we should give a warning (or maybe allow to extend) rather than kick off so as to allow for flexibility a little bit.
Maybe something like, give a warning, and if he/she doesn't comment with something reasonable within 4-5 hours kick the user off, or i

[2018-05-01 08:39] mbeacom opened #1045 "BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types ['bool', 'address', 'string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/271/](https://rollbar.com/gitcoin/gitcoin/items/271/)

[code]

[2018-05-01 08:48] zoek1 commented on #796
@vs77bb the deadline could be extended? i would like work on this in the weekend :smile:

[2018-05-01 10:06] dolebas commented on #1044
One way of following up on the progress maybe could be to encourage a discussion in the Gitcoin Slack?

After posting my first bounty on Gitcoin I referred to my Gitcoin Slack user and encourage a pm, which was a great way to start a healthy dialog.

In retrospect I think creating a dedicated slack channel for the bounty would have been even better as the discussions became quite fruitful with reg

[2018-05-01 10:28] kylewu commented on #623
@vs77bb is this open to start now?

[2018-05-01 11:06] dolebas commented on #1000
interesting, original title is back!

![image](https://user-images.githubusercontent.com/27515901/39470886-763775c4-4d40-11e8-8796-e554ccd5cdd9.png)

[2018-05-01 11:10] mkosowsk commented on #1044
Like this concept! Good to have tight feedback loops 👍🏻

I've thought previously about requiring contributors to submit a `Plan of Attack` or `Action Plan` within 24 hours after starting work, basically how they will go about about tackling the issue. This seems to be going pretty well with @KamesCG and some uPort bounties.

I'm unsure if it's best to have a WIP PR, an `Action Plan`, or both but a

[2018-05-01 11:13] dolebas commented on #1044
Detailing a draft plan would probably help the developer into a constructive work flow as well

[2018-05-01 11:42] mkosowsk commented on #1044
@dolebas I agree! 👍🏻

Here's an example on the uPort side of things where the Contributor started off with a draft plan that I think really focused the efforts: https://github.com/uport-project/buidlbox/issues/2

[2018-05-01 11:48] SaptakS commented on #1044
@mkosowsk Yes. I think the contributor can comment the draft plan as well in the github issue and we can consider that to be one of the criteria to check whether they have been active within the first 24 hours. That might actually work better than getting a WIP within 24 hours and will also promote discussion.

[2018-05-01 12:05] thelostone-mc commented on #1044
+1 for action plan by the hunter as against a WIP PR
This would make sense even for design issues where a PR need to be submitted

[2018-05-01 12:07] thelostone-mc commented on #623
@kylewu I believe this is already been worked on by @zoek1 !

[2018-05-01 13:15] #1040 closed

[2018-05-01 13:38] dolebas commented on #1044
Thinking out loud now but if a PR with an action plan would be submitted even before work is started, it could enable several candidates to compete and create an incentive for drafting a good action plan?

If the repo contains a template for an issue resolution action plan, it could simply be forked, edited and submitted by each candidate. Comments relating to each plan would be structured under e

[2018-05-01 13:51] owocki opened #1046 "can't search by freeform text anymore"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: bug

i can't search by freeform text anymore [screencap](http://bits.owocki.com/1D1F0j3D2w1P/Screen%20Recording%202018-05-01%20at%2007.50%20AM.mov)

i have to find a value via autocorrect and then select it.

expected belaviour:  i should be able to search by any text i enter into the the search field

probably related to https:

[2018-05-01 13:53] owocki commented on #1046
cc @eswarasai and @PixelantDesign

[2018-05-01 14:14] eswarasai commented on #1046
@owocki -- Oops! I've missed this scenario I guess. I can handle this by converting the text into filter `tag` upon clicking the `Search` button. Thanks for pointing this out :)

[2018-05-01 14:44] SaptakS commented on #1044
Sorry if I am taking this in a wrong way, but I think most open source organizations promote working on several different tasks instead of competing on the same task. If someone fails to deliver or the work is unsatisfying, surely we can consider someone else's solution. But in open source, I feel it is more about making both the developer and maintainer reaching a mutual understanding through whi

[2018-05-01 15:13] thelostone-mc commented on #671
Hmm true ! I just figured cause we'd labeled stuff like canceled/expired which not every issue goes through but alright 🤔

[2018-05-01 15:14] mbeacom opened #1047 "BadFunctionCallOutput: Could not decode contract function call getNumFulfillments return data b'' for output_types ['uint256']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/421/](https://rollbar.com/gitcoin/gitcoin/items/421/)

[code]

[2018-05-01 15:28] dolebas commented on #1044
Thanks for sharing your thoughts @SaptakS and I do agree with your view on the many benefits of the open source culture. Keeping focus on collaboration rather than competition is probably a good thing.

Maybe the action plan/PR template model could work in this context as well tho?

[2018-05-01 15:51] owocki opened #1048 "as a user, i want to know when my information is gonna be public, so i can manage my info privacy"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to know when my information is gonna be public, so i can manage my info privacy

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
privacy is important

[2018-05-01 16:32] mbeacom opened #1049 "Upgrade to the latest web3.py and dependencies"
We're currently using the `web3==4.0.0b10` beta release, while [`4.2.0`](http://web3py.readthedocs.io/en/stable/releases.html#v4-2-0) is available.
We should attempt upgrading this dependency and removing the pinned `eth-utils` entry from `base.txt`.
Special attention should be paid to all of our backend `sync_web3` related methods.

[2018-05-01 17:26] owocki opened #1050 "advertising"
this is a stubbed ticket -- do not work on yet

kevin search "We’re launching advertising and community management plans this month" to see what the scope would be

[2018-05-01 18:13] owocki commented on #973
great @danieljoonlee  -- hit us up with a WIP PR when you have a chance :)

[2018-05-01 18:28] danieljoonlee commented on #973
heyo i haven't started on the issue yet.  planning on starting it tomorrow if you're not in a rush

[2018-05-01 18:30] owocki commented on #973
no rush. its more important that its done well :0

[2018-05-01 18:41] owocki commented on #1044
re multiple ppl starting work on the same issue => https://github.com/gitcoinco/web/issues/973

[2018-05-01 18:44] eswarasai commented on #1049
@mbeacom -- You might wanna also add `COLO` + `EthOS` redemption to that list :)

[2018-05-01 18:44] owocki commented on #1046
thanks @eswarasai

[2018-05-01 18:48] owocki commented on #1021
my hope was that by giving the funder control over how aggressive gitcoin bot is... we could enable the best of both worlds (gitcoin bot still removes people who dont respond, but becomes less agressive if the funder wants them to be)

[2018-05-01 18:49] owocki commented on #1021
yes this is!  but i dont know how many funders are actually using it.  @vs77bb had a good idea to send the funders an email and let them know they could use it

[2018-05-01 19:00] eswarasai commented on #1021
@owocki -- Yeah. I'd agree on how aggressive the Gitcoin Bot is in making sure the bounty hunter is following through. I think a simple solution would be to allow the Funder to set the time period of non-responsive for each param like warning 1, warning 2 and auto-removal and also limit the number of days to be in between 3 - 30 days based on each param. We can have the default value as it is, thi

[2018-05-01 19:30] owocki commented on #963
i think its been 6 days since we heard from kziemianek on this issue or #964

[2018-05-01 19:54] thelostone-mc commented on #732
I believe we should
We've already encounters where folks weren't able to submit expired bounties.

And increase payout is not something which everyone would be comfortable asking , having a button => sort of makes the user understand it's okay to request for more if they have a valid justification

[2018-05-01 19:54] thelostone-mc commented on #732
I'll do a rough prototype via popup box ( like the start work ) to get things rolling ?

[2018-05-01 20:00] vs77bb commented on #623
Yes, @kylewu feel free to click 'Start Work' on Gitcoin!

[2018-05-01 20:02] vs77bb commented on #796
@zoek1 @owocki To be fair, looks like @john-brunelle has picked this up. John, can you please provide us with an approach?

@zoek1, please click 'Start Work' on the ticket as well. If John doesn't follow through, we'd love to have you work here.

[2018-05-01 20:05] mkosowsk commented on #732
@thelostone-mc I definitely agree with the increase in timeline but am unsure about a button to ask for more funds, think it may introduce some wonkiness into the platform. Think it may have introduce some moral hazard into having the Funders being okay without fulling scoping their tickets to start 🤔

Will be interested to see the data on use of the button if/when it's added! 👍🏻

[2018-05-01 20:06] owocki commented on #796
@john-brunelle was just testing the iOS app.  pls disregard his claim on the work

[2018-05-01 20:15] vs77bb commented on #1044
I like the Action Plan and/or WIP PR. I wonder if we ought to make this required *before* clicking 'Start Work'... i.e. when you click 'Start Work', you are prompted for an Action Plan (which is a required field). I know this is in @PixelantDesign's updated 'Start Work' flow but I can't find the ticket and don't know whether it's required

The *even more* heavy-handed approach is similar to Upwork

[2018-05-01 20:30] vs77bb commented on #671
@thelostone-mc @willsputra I tend to agree that it should be at the bottom because it's not necessarily something interesting to most bounty hunters (yet). it would be bad if bounty hunters went to 'bounty requests' thinking that these were already funded. keeping it at the bottom reduces that risk.

@willsputra feel free to 'Submit Work' here!

[2018-05-01 20:53] PixelantDesign commented on #1046
hmm yea, looks like a bug. Thanks @eswarasai

[2018-05-01 22:24] owocki opened #1051 "as a user, i want to be able to save my avatar to be my gitcoin profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to be able to save my avatar to be my gitcoin profile

follow up to https://github.com/gitcoinco/web/issues/813 and as a user, i want to be able to save my avatar to be my gitcoin profile

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of

[2018-05-01 22:27] owocki opened #1052 "as a user, i want to be able to save my avatar to be my twitter and github profiles"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to be able to save my avatar to be my gitcoin profile

follow up to https://github.com/gitcoinco/web/issues/813 and as a user, i want to be able to save my avatar to be my twitter / github profile

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide descr

[2018-05-01 22:28] owocki commented on #995
sub tasks

https://github.com/gitcoinco/web/issues/1051
https://github.com/gitcoinco/web/issues/1052

[2018-05-01 22:29] owocki opened #1053 "as a user, i want the ability to generate a random avatar, so i can generate random avatars to get inspiration"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want the ability to generate a random avatar, so i can generate random avatars to get inspiration

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
feature

### Current Behavior
[comment]: # (Describe what actually happened.)
avatar must be built manually

### Expected Behavior
[comm

[2018-05-01 22:30] owocki opened #1054 "as a user, i want different background images for my avatars, to give more variety"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want different background images for my avatars, to give more variety

non unicolor backgrounds (stripes, polka dots, etc)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
feature

### Current Behavior
[comment]: # (Describe what actually happened.)
only unicolor backgrounds

### Ex

[2018-05-01 22:30] owocki commented on #995
https://github.com/gitcoinco/web/issues/1053
https://github.com/gitcoinco/web/issues/1054

[2018-05-01 23:36] PixelantDesign commented on #1035
great idea!

[2018-05-02 09:06] dolebas commented on #1044
What if the 'Start Work' button would automatically connect to GitHub > fork > open PR referencing the issue > provide template for the action plan in the comment? All within the Gitcoin ui.

[2018-05-02 09:07] thelostone-mc commented on #1035
Blacklist as in a ban period where they can't work on bounties ?

Also what perks would have an approved candidate have over a new one ?

[2018-05-02 09:45] kziemianek commented on #506
I was waiting for second warning but i'm removed :)

[2018-05-02 09:50] dolebas commented on #940
Daily sponsored ~0.01 eth (or fun-coin) try-it-out-bounties could perhaps trigger more interaction in general?

I think the network effect is also an important factor. The 20 friends hurdle can account for different random events with low probability, expected to take place over a certain period of time. Enabling crowdfunding as outlined in gitcoinco/web#1023 could possibly leverage existing netwo

[2018-05-02 09:54] bakaoh commented on #969
@radotzki -- thank you for fixing portis, i've integrated it to the app
everything look simple and smooth, it's good to know this library

[2018-05-02 10:13] dolebas commented on #959
It would be great to have this as an option in a scheme, as described in gitcoinco/web#973

If the bounty creator can specify an optional reward to the network operator, it would be experimentally decided by the community what is a fair share.

[2018-05-02 10:57] dolebas commented on #1013
Have noticed several other dApps provide trusted info regarding their use of smart contracts, in the footer. This pattern makes sense, as traditional legal stuff is commonly listed in the footer. Smart contracts will probably replace more and more legal stuff and the goto place for finding out the details would be in the footer.

Does Gitcoin have an admin config area which could act as the canoni

[2018-05-02 10:58] kziemianek commented on #506
@owocki sorry, i cannot submit my work as described in #883

[2018-05-02 13:02] dolebas commented on #671
Love this thread 👍🏻 One related thought: would it make sense to include an optional finders/founders fee as part of a bounty work scheme (gitcoinco/web#973)? Such option combined with crowdsourced bounties (gitcoinco/web#1023) could in itself incentivise developers to identify and kick-start existing issues with high potential for reaching sufficient crowd funding on Gitcoin?

[2018-05-02 14:44] owocki commented on #1013
Right now the addresses are programmed into the code.. But we *could* refactor to make the admin the source of truth.

[2018-05-02 14:46] owocki commented on #506
ahh its bc the issue is expired. ill cancel the issue now and tip ya out when [the PR](https://github.com/gitcoinco/web/pull/753) is merged

[2018-05-02 14:55] owocki commented on #1035
yes, configurable by the funder at their discretion

this can be up to the repo maintainer, according to whatever their standards are for contributors to their repos

[2018-05-02 15:03] dolebas commented on #1013
After discovering what happened to MEW in their last phishing attack, maybe sticking to the ethereum nodes as the source of truth is not a bad idea tho..

Would putting the smart contract meta-source info in a simple .txt doc like this work?

web/app/dashboard/templates/legal/smartcontracts.txt

[2018-05-02 15:05] dolebas commented on #1013
Or did I misread you?

[2018-05-02 15:36] danieljoonlee opened #1056 "Misalignment with arrows on new page"
### Description
*bug*: Arrow misalignment on Experience level and Project length

### Current Behavior
See image below

### Expected Behavior
Aligned arrows

### Reproduction
https://gitcoin.co/new

<img width="430" alt="screen shot 2018-05-02 at 8 33 48 am" src="https://user-images.githubusercontent.com/13317855/39533452-f1dbcd4e-4de3-11e8-9e42-1a28fa173614.png">

[2018-05-02 16:01] mbeacom commented on #1044
@dolebas That would require additional GH permission scope that we're trying to avoid at the moment.  Also, I'm not sure requiring a PR before starting work is the right direction.  I think submitting an action plan on `Start Work` makes sense, though.

[2018-05-02 16:20] dolebas commented on #1044
Ok. Sorry for being stubborn... GH permission scope can't be isolated to the fresh fork? Was thinking something like Netlify does with their button. If a symbolic fork is required early in the process, collaboration would have a natural place to start at and following up on the process would be easy?

[![Deploy to Netlify](https://www.netlify.com/img/deploy/button.svg)](https://app.netlify.com/sta

[2018-05-02 18:00] dolebas commented on #1013
Or would the env variables doc be an even better source for listing and syncing contract addresses?

https://github.com/gitcoinco/web/blob/master/docs/ENVIRONMENT_VARIABLES.md

[2018-05-02 18:03] mbeacom opened #1057 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/441/](https://rollbar.com/gitcoin/gitcoin/items/441/)

[code]

[2018-05-02 19:15] owocki commented on #1021
this outta do the trick https://github.com/gitcoinco/web/pull/1059

[2018-05-02 19:17] CuriousLearner commented on #1053
Let me know when there is more info on this :)

[2018-05-02 19:18] CuriousLearner commented on #1028
Sure, that makes sense. I'd lint if I touch any files :)

[2018-05-02 19:32] owocki commented on #200
hopefully any day now!  apple has it in review

On Wed, May 2, 2018 at 1:19 PM, Sanyam Khurana <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com

[2018-05-02 22:16] mbeacom commented on #1028
I typically make minor adjustments as I'm changing things as well.  I just don't want to overwhelm would-be contributors if they have something they're working on in a PR/fork when they try to rebase with the linting changes.

[2018-05-03 06:06] thelostone-mc commented on #1056
Derp! Thanks for pointing this out @danieljoonlee ^_^

[2018-05-03 06:18] thelostone-mc commented on #200
I remember a few folks telling me , you can get the APP stats via something called ITunesConnect
but I googled it and it doesn't seem like they have an API 🤔

PS: @owocki are we looking at active users / just downloads / users who first join via the app ?

[2018-05-03 06:51] thelostone-mc commented on #1030
We could default the value to ETH so that that gets populated as the default value !

I agree that the ETH and DAI are the most popular -> but is it okay to mix up the order ?
(Our dropdown have a built in search filter so prevents them from aimlessly scrolling )

That said if users feels that they'd like to see the popular tokens on the top of the list -> we could do that ^_^

[2018-05-03 06:53] thelostone-mc commented on #1021
@PixelantDesign @Saptak7 should we maybe include this in our onboarding flow ?

[2018-05-03 07:04] thelostone-mc commented on #1020
I'm guessing a good mix of tables & graphs ?
I like this !

**Adding on :**
(Once these features are up )
- Jobs posted
- Mentors / Mentee
- Ideas
- Grants

Would it make sense to drill down one level further ?
- % of Community Funded Issues

[2018-05-03 08:11] thelostone-mc commented on #925
@mikeymicrophone If you are still working on this  -> could you leave a comment and open a WIP PR ^_^

[2018-05-03 08:12] thelostone-mc commented on #683
Thanks for this @darkdarkdragon  ^_^
Looking forward to working with you again

[2018-05-03 11:43] kziemianek commented on #963
Beep beep

[2018-05-03 16:19] mbeacom opened #1063 "Gitcoinbot work submitted message has weird formatting"
<img width="770" alt="screenshot 2018-05-03 12 17 23" src="https://user-images.githubusercontent.com/7315957/39589367-fb430f44-4ecb-11e8-9dc1-fa550782446b.png">

[2018-05-03 16:20] #1063 closed, assigned to nobody

[2018-05-03 16:51] farhaanbukhsh commented on #1015
Yeah I am working on it!

[2018-05-03 17:40] thelostone-mc commented on #813
@Smona could you leave a comment here telling gitcoin you are working on it ? ^_^

[2018-05-03 18:30] mbeacom commented on #1063
Looks like it xD

[2018-05-03 18:40] mikeymicrophone commented on #925
I'll create a PR if I can figure out the rest of the basic Django tools I need for this feature.

[2018-05-03 20:40] kylewu commented on #115
@owocki i received duplicated expiration email from this issue https://gitcoin.co/issue/gitcoinco/web/794/206

because I submitted three times, there are three fulfillments
https://gitcoin.co/actions/api/v0.1/bounties/?github_url=https://github.com/gitcoinco/web/issues/794&network=mainnet&standard_bounties_id=206

so simply apply `set` here should fix this problem
https://github.com/gitcoinco/web/

[2018-05-03 21:48] #1056 closed

[2018-05-03 22:00] #430 closed

[2018-05-03 22:13] PixelantDesign commented on #813
Hi Smona - thanks! sorry about the gitcoin bot.

[2018-05-03 23:03] joshmorel opened #1064 "Local storage of explorer filter does not consistently load"
### User Story

As a web bounty explorer using Chrome or Firefox, I want selected filters to persist *consistently* so that I can use my preferred searching method.

### Why Is this Needed?

*Summary*: Local storage of explorer filter is not consistent.

### Description

*Type*: Bug

### Current Behavior

1. Select 3 options in NETWORK group
2. Refresh browser
3. Only 2 options selected

### Expec

[2018-05-03 23:25] michelgotta commented on #920
@owocki @PixelantDesign @vs77bb @mbeacom Just want to give you an update and use the current state of my development for a first review. This is still WIP but the outlining structure is there for desktop and mobile view. I am a bit stuck with the exact definition of the displayed data (for example What exactly are the "Bounties in progress", the ones the user works on or the ones I funded and are

[2018-05-04 03:40] bakaoh commented on #1007
It looks like i picked the wrong path. Atomic contract will not work except the token implement approveAndCall (https://github.com/ethereum/EIPs/issues/827), which is not erc20 standard
I've made a WIP PR using web3 batch request. It makes the flow faster and easier but till need 2 click to accept 2 transactions. Also some issues like https://github.com/MetaMask/metamask-extension/issues/3425 and

[2018-05-04 12:36] joshmorel commented on #1064
Just an update looking into this more for all the different filters:

* Status (Radio): This is the only one that works as expected
* Experience Level, Project Length, Type, Network: Only once option is kept in localStorage, when refreshing however, sometimes two are selected
* Tech Stack: Multiple comma-delimited options are kept in localStorage, but on refresh the selected options are not popula

[2018-05-04 12:56] willsputra opened #1067 "'Stop Work' button appears on someone else's work."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user (not issue funder), I should not be able to see the 'Stop Work' button on someone else's work.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
1. Go to Issue Explorer
2. Click on any 'Work Started' issue by anyo

[2018-05-04 13:29] #1011 closed

[2018-05-04 15:01] willsputra commented on #671
As suggested by @PixelantDesign, we're moving Bounty Requests to the top + also adding a line to separate bounty requests and regular issues clearer.

![desktop hd copy 5](https://user-images.githubusercontent.com/19514207/39635042-ec9c413a-4fee-11e8-8b06-0f10b402b0a3.png)

[2018-05-04 15:42] TimVanMourik commented on #1067
Maybe you just found back my 'Stop Work' button! I just wanted to start an issue that I get an error when I try to stop someone's work because of a week long inactivity:
![untitled](https://user-images.githubusercontent.com/6152205/39637066-45c10c0a-4fc2-11e8-939c-d5114483ef90.png)

I suspect underlying faulty behaviour is related.

[2018-05-04 16:17] mbeacom commented on #1048
@brentoneill Feel free to reach out to me on slack if you have any questions or need assistance.

[2018-05-04 17:01] danieljoonlee commented on #973
@owocki hey sorry i think i need to pull off from this issue since i'm a blocker.  i've gotten a lot of requests for side gigs, so i'm pretty swamped right now

[2018-05-04 17:09] pelsasser opened #1069 "Transactions didn't post after adding higher gas price in meta mask"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

I have a batch of transactions that I increased the gas price of in meta mask this morning.  All of the new transactions seem to have been successful, but have not been picked up by gitcoin.

The tx's are

https://etherscan.io/tx/0xbe32ffe3b1c55480b47466020ad1b0bb505c11fe8295f504ec996f36e1cab1ef
https://etherscan.io/tx/0xc5

[2018-05-04 17:10] #1069 closed

[2018-05-04 17:13] sambhav2612 commented on #805
@owocki is this still up to be worked upon? I'm interested in doing this.

[2018-05-04 17:15] owocki commented on #805
Please do!!

On Fri, May 4, 2018 at 1:14 PM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.faceb

[2018-05-04 18:02] GaretWebster commented on #479
It seems to me work on this task has already been completed. Is this true? If not can we get some clarification on what still needs to be done?

[2018-05-04 18:14] sambhav2612 commented on #805
I'm new to this repo and it'd be really helpful if someone could provide a waypoint to do the necessary things. I am certain to some extent that this project used Django [to which I'm also new too]. My main concern is with the files I've discovered while inspecting the actual page like:

Image Assets: https://github.com/gitcoinco/web/tree/master/app/assets/v2/images/mission
Built mission.html: htt

[2018-05-04 20:27] #1046 closed

[2018-05-04 21:16] mbeacom opened #1072 "Profile editing fails due to required slack fields"
Currently, you can't edit `Profile` objects in the admin (likewise this might be causing issues else where) without specifying a slack token and channel.

<img width="346" alt="screenshot 2018-05-04 17 11 34" src="https://user-images.githubusercontent.com/7315957/39653326-9c797dc4-4fbe-11e8-9f90-cf0ce5389759.png">

<img width="509" alt="screenshot 2018-05-04 17 14 41" src="https://user-images.gith

[2018-05-04 21:17] #1072 closed

[2018-05-05 03:45] mbeacom opened #1075 "AuthStateMissing: Session value state missing."
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/718/](https://rollbar.com/gitcoin/gitcoin/items/718/)

[code]

[2018-05-05 04:51] #1004 closed

[2018-05-05 06:52] uluhonolulu opened #1078 "Unable to filter for C#"
In the issue eplorer, when I filter by techstack and select "C#", the following js error is thrown:
[code]

[2018-05-05 07:38] PixelantDesign commented on #1000
Thanks for reporting this @dolebas! Will take a look at some ways to handle this.

[2018-05-05 08:32] PixelantDesign commented on #1000
If I understand correctly seems like if a user starts editing content prior to the content fully populating, the additional information entered is lost.

Saptak and I discussed that a simple solution could be, we message that the information is loading and once that loads, we allow the user to edit the details (it’ll obviously need to get pushed back to Github along with the funded amount).

What

[2018-05-05 08:45] SaptakS commented on #1000
@PixelantDesign most probably we won't be able to update the github description because of lack permission. Max we can do is maybe make a comment with the updated description. But maybe that doesn't exactly solve the problem.

[2018-05-05 08:50] PixelantDesign commented on #1000
Gotya. Allowing alternative descriptions could be confusing. I’ll see if we can do some quick tests with users next week.

[2018-05-05 09:04] zoek1 commented on #796
@vs77bb i'm started with this but gitcoin doesn't allow to start the work when i clicked the button :man_shrugging:

[2018-05-05 09:39] dolebas commented on #1000
Thanks for picking up the discussion @PixelantDesign I believe the root cause for this issue is uncertain so any approach that simplifies synchronisation would help.

[2018-05-05 09:56] thelostone-mc commented on #1078
Thanks a ton for pointing it out @uluhonolulu :D

[2018-05-05 10:12] dolebas commented on #1000
If it helps, compare the description field on Bounties.network with the corresponding field on Gitcoin.

https://gitcoin.co/issue/uport-project/demo/42/314
https://beta.bounties.network/bounty/v1/314

[2018-05-05 12:50] CuriousLearner commented on #958
The filters mentioned in the design are not mentioned in the models. What do we need to do here?

[2018-05-05 14:12] #1078 closed

[2018-05-05 15:09] mbeacom commented on #796
It appears the bounty has expired.  We can tip you out and fix the bounty to display as if you completed it following submission of the PR until we decide on a course of action for expired bounties.  Thanks @zoek1 !

[2018-05-05 16:52] SaptakS commented on #982
I am still working. Already created a WIP. Should be ready for review soon.

[2018-05-05 16:57] uluhonolulu commented on #1078
Wow, that was quick!

[2018-05-05 19:37] thelostone-mc commented on #805
@sambhav2612 you can reach to me / @mbeacom over slack to get the repo up and running ^_^
@PixelantDesign would be there for any design related questions 👍

The first phase would be designing the mission page (which can be improved greatly )
Font : Muli for body and Futura for Heading. (Right @PixelantDesign  ? )

yeah it does but if you get stuck, all you've got to is reach out :P

[2018-05-06 08:51] thelostone-mc commented on #1064
@joshmorel Ah thanks for pointing that out! ^_^
Can't believe we didn't see that ! -.-

[2018-05-06 11:03] zoek1 commented on #958
@thelostone-mc yesterday i started working on this but bitcoin doesn't allow me push the button of the start work, so i sended a initial PR with the skeleton of the model. I'll push in a couple hours the posts Job view for desktops 'cause thats what i'm working right now

[2018-05-06 12:04] mkosowsk opened #1083 "Change Weekly Update Roundup Email from a Manual to a Scheduled Automatic Process"
### User Story

**As a** reader of Gitcoin weekly roundup emails
**I want to** have the emails comes at a regularly scheduled time before the Livestream time
**So that I** can plan to attend the livestream or not ahead of time 👍🏻

### Why Is this Needed?

I received the last weekly roundup email at 8:57 PM UTC which said that there was going to be no Gitcoin Livestream that week (scheduled weekly

[2018-05-06 12:18] CuriousLearner commented on #958
Oh! I'm also in mid-way with jobs app. What should we do?

[2018-05-06 13:01] ConnorChristie commented on #1007
I just looked at the contract and I am assuming you first started down the path of having the contract method call the approve function on the token but was stopped because now the contract is trying to approve on the user's behalf which wouldn't work.

Upon further investigation, there is this dandy little helper method that allows the sender to send an approval and have a callback be called on t

[2018-05-06 13:13] thelostone-mc commented on #958
Did we mess up at our end @mbeacom / @owocki ?

[2018-05-06 13:25] bakaoh commented on #1007
@owocki -- please let me know your opinion, do i need to wait for these issues fixed to finish the work?

[2018-05-06 17:12] mikestonecodes commented on #951
*trying to get removed from issue , committed to PR yesterday :)

[2018-05-06 18:26] voith commented on #450
@scottydelta  I'll just chime in here because the last time you posted your question on the `web3.py` channel if its possible  to  use `ens` without using a local node, I felt like I gave you an incomplete/wrong answer.

Yes its possible to use `ENS`  without using a local node. However, you'll need to plug [this middleware](https://github.com/ethereum/web3.py/pull/649) to sign transactions that n

[2018-05-06 21:15] abitrolly opened #1087 "Time spent with gitcoin"
### User Story

As a fund manager, I want to see how much time I spent managing bounties so that I can report to people who give me funds what it takes for me to continue with doing so.

### Why Is this Needed?

Managing bounties is not that easy. It is not only about dealing with Metamask to sign transactions, but there is a sheer level of English communication and expertise involved. You need to

[2018-05-06 22:52] zoek1 commented on #958
@owocki the style needs to be "pixel perfect"? because there are styles (i.e labels - size, weight) that differs from the image and the current implementation on `assets/v2`.

[2018-05-07 02:20] satoshi101 opened #1088 "e-mail should be optional"
### User Story

As a project funder I want to be able to fund an issue without giving away my e-mail.

### Why Is this Needed?

As you can see in the image below, highly likely this was a prior requirement - just not implemented correctly. I think it's reasonable to want to be able to fund a project without having to connect a github identity / ethereum account with a particular e-mail.
<img width

[2018-05-07 02:34] owocki commented on #1088
one other direction we coudl perhaps go.. give the user the ability to enter their information, but keep it private to everyone except the person who has started work.

[2018-05-07 02:35] owocki commented on #1088
@PixelantDesign any objections if i code/bought this up here?

[2018-05-07 02:58] satoshi101 commented on #1088
I think that it shouldn't give any weaker privacy than github. If I can do work on github under a pseudonym and it would never reveal my actual email + it would ensure all communication goes through it, I believe that gitcoin should give that option too. gitcoin takes the e-mail from github so it could facilitate behind the scenes messaging in the platform. But that would be a whole new epic :D Th

[2018-05-07 03:56] owocki commented on #973
thanks for letting us know @danieljoonlee !

[2018-05-07 05:12] #656 closed

[2018-05-07 05:14] owocki commented on #920
Please just stub this information into the `views.py` file with a `TODO` next to it and @mbeacom and i will handle finding the information and plugging it into the PR during code review..

hott! want to submit a WIP PR?

[2018-05-07 05:26] owocki commented on #479
issue is cancelled

[2018-05-07 05:55] owocki commented on #1020
yes i think so

[2018-05-07 05:58] owocki commented on #440
@mbeacom @saptaks @thelostone-mc its certainly worth having this convo on a team call soon :P

[2018-05-07 06:11] owocki commented on #200
@CuriousLearner @thelostone-mc release into the app store is imminent.

here is the app store link https://github.com/gitcoinco/web/blob/master/app/retail/views.py#L510 -- @CuriousLearner would you be interested in writing a script that can pull down the number of users from apples's API?

[2018-05-07 06:16] owocki commented on #1007
https://github.com/MetaMask/metamask-extension/issues/1666 looks like its closed but

https://github.com/MetaMask/metamask-extension/issues/3425 is kind of a dealbreaker for this... arghh

[2018-05-07 06:16] owocki commented on #1007
i honestly think the smart contract route might be a little more foolproof.. as much as i hate to say it bc its more overhead

[2018-05-07 08:32] thelostone-mc commented on #671
@willsputra this looks better ^_^ 👍

[2018-05-07 08:35] bakaoh commented on #1007
personally i think the smart contract route give better ux, the overhead should less than 10% gas, but DAI token (https://etherscan.io/address/0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359#code) which used in many bounties, not implement approveAndCall, so we have no way to go through with that route

https://github.com/MetaMask/metamask-extension/issues/3425 i till get this bug, using ubuntu 16.04,

[2018-05-07 13:07] CuriousLearner commented on #200
Sure, I'll see what I can do, after finish my work on current bounty :)

[2018-05-07 13:40] mbeacom commented on #813
@Smona Thanks for the update! Reaching out to you on slack!

[2018-05-07 13:54] mbeacom opened #1089 "SyntaxError: broken PNG file (chunk b'\x00\x00\x00\x00')"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/957/](https://rollbar.com/gitcoin/gitcoin/items/957/)

[code]

[2018-05-07 13:55] #1089 closed

[2018-05-07 14:14] #1064 closed

[2018-05-07 14:46] owocki commented on #958
what happens when you push 'start work'?

i'm afraid to say that 'start work' is the source of truth for who has dibs on the issue -- its meant to prevent duplicate work.  seems that the system failed us here.

official policy is that "first person to click start work gets the bounty", but we can be more pragmatic than that i hope!  @CuriousLearner can you and @zoek1 each submit WIP PR's for your

[2018-05-07 15:37] thelostone-mc commented on #671
@willsputra would you hate me if I asked for a minor update ? What are your thoughts on having an subtle way of hinting out that the issue is not funded (so that it makes easy to differentiate when one searches through everything)
Could be an icon, a subtle border, a solid shape , anything

[2018-05-07 15:40] owocki opened #1091 "As a member of the community, I want Profile Privacy Features, so I can be more private"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a member of the community, I want Profile Privacy Features, so I can be more private
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

1. provide the ability for us

[2018-05-07 16:35] owocki opened #1092 "as a recruiter, i want a recruiter dashboard, where i can track all my stuff"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a recruiter, i want a recruiter dashboard, where i can track all my stuff

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

A command center for anything / everythi

[2018-05-07 16:36] owocki commented on #1092
@pelsasser @TimVanMourik @vs77bbyou are probably each the most prolific users of Gitcoin from a funder perspective.

1. would this feature be useful for you?
2. what, if anything, else would you like to see here?

[2018-05-07 18:34] mbeacom commented on #1091
Just a note for those of you coming from into this for the first time...  We don't indiscriminately scrape Github data...  Currently, when you hit `https://gitcoin.co/profile/<github_user_handle>` you will be show a Gitcoin profile card for the corresponding Github user...  This does not automatically opt a user into Gitcoin.  It's rendering data you already have made publicly available and is alr

[2018-05-07 18:49] owocki commented on #1091
That said, we can respect and understand why people are discomforted by the card being presented as Gitcoin branded when they have not explicitly signed up before.

I just put in the first fix for this https://github.com/gitcoinco/web/pull/1095

[2018-05-07 20:36] owocki commented on #794
i just pinged vivek and alisa to sign off on the emails.  mostly they LGTM, just want to get final signoff.

don't worry about the expiration thing.  we'll still pay you out

[2018-05-07 20:39] #1067 closed

[2018-05-07 21:04] pelsasser commented on #1092
@owocki - I agree with @TimVanMourik.
It would be very nice to track spend (perhaps per repo even) as well as have some other analytics.

One other thing that we have been internally talking about, which may be out of scope here, is how to track first time contributors (from gitcoin or otherwise) and make sure we email them and thank them.  It is hard sometimes, because not everyone has an email a

[2018-05-07 21:26] owocki commented on #1088
PR is in https://github.com/gitcoinco/web/pull/1096

[2018-05-07 22:26] owocki commented on #1088
another PR https://github.com/gitcoinco/web/pull/1097

[2018-05-07 22:33] owocki commented on #1067
thanks for the bug report @TimVanMourik -- thisi s fixed now!

[2018-05-07 22:54] owocki commented on #973
heres the UI i came up with for the ‘work scheme’ stuff http://bits.owocki.com/08421t3J3m10/Screen%20Recording%202018-05-07%20at%2004.54%20PM.gif

[2018-05-07 23:36] owocki commented on #1035
https://github.com/gitcoinco/web/issues/973

[2018-05-07 23:50] zoek1 commented on #958
gitcoin shows me a messages that due prior abandoned bounty i can't start work. I abandoned the Bounty 'cause an advanced work of other hunter. @owocki
Also my WIP is at #1079.

[2018-05-08 00:51] ConnorChristie commented on #797
@owocki Are you still looking for someone to work on this?

[2018-05-08 03:29] michelgotta commented on #920
Opened a WIP Pull Request https://github.com/gitcoinco/web/pull/1099

If you merge this one with your changes into master it would be easy to rebase afterwards for me.

Open TODOs for the hard wired stats data in header are here: https://github.com/gitcoinco/web/pull/1099/commits/1c9b309b7e7840d319bbd96bd34390872aed235a#diff-3e886cd5b50df8f0cabc86d33ca734e6

API call for bounties "in progress" sho

[2018-05-08 03:59] vs77bb opened #1100 "Fund Bounty With Multiple Tokens"
### User Story

As a Funder, I want to use multiple tokens to fund bounties so I can incentivize people with a stable currency and a native cryptoasset (or potentially ETH + DAI)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and

[2018-05-08 04:03] vs77bb commented on #1048
Returned this issue to 'Open' status due to inactivity above!

[2018-05-08 04:06] vs77bb commented on #1015
@farhaanbukhsh Any chance you can submit a WIP PR here soon? We'd like to get this one moving ASAP 👍

[2018-05-08 04:07] vs77bb commented on #982
😄

[2018-05-08 04:14] vs77bb commented on #640
@jaswalt @photienao Are you planning on working this issue?

[2018-05-08 04:15] vs77bb commented on #640
If not, @vikaskyadav does this look interesting to you? @mkosowsk's response accurately conveys what I meant with:

[2018-05-08 04:30] vs77bb commented on #197
@owocki @mbeacom I think we don't need this filter anymore given our new plan for managing stale bounties elsewhere. @owocki you can probably claw back funds here

[2018-05-08 06:06] thelostone-mc opened #1101 "revisit expiry sending email to users for submitted issues"
##### Description

I had submmited work for an issue -> and I got a mail a few days back stating the issue is about to expire. Ideally the funder should recieve this this mail reminding him to payout + maybe a reminder to the bounty hunter to remind him that's he's yet to recieve payment for this

<img width="983" alt="screen shot 2018-05-03 at 1 16 05 pm" src="https://user-images.githubuserconten

[2018-05-08 06:30] vikaskyadav commented on #640
I can try this. Just need a little guideline.

On Tue, May 8, 2018 at 9:45 AM, Vivek Singh <notifications@github.com>
wrote:

[2018-05-08 08:13] bakaoh commented on #1048
I ended up add tooltip on fields and add check box on forms

[2018-05-08 09:22] PixelantDesign opened #1104 "Build New Gitcoin Landing Page"
**Extra 10% Tip for completion by May 18th!**

As potential funder or contributor, I want to know what Gitcoin is and understand the problems it can solve for my scenario.

# Description
The current Gitcoin.co landing page needs updating with new content and allow for more information to entice our funders.

# Assumptions
Build this page from scratch (please do not retrofit any styles or functiona

[2018-05-08 09:27] zoek1 commented on #958
@owocki** @CuriousLearner i reviewed the PR, i think we have the almost the same progress, and both PR's require delete unused code specially on the templates. :thinking:
As a note, i almost finish the detail view of jobs and the search view. :smile:

[2018-05-08 10:18] PixelantDesign commented on #671
@thelostone-mc

@vs77bb Let's create a new issue: Gitcoin Requests v2 to include:
- [ ]  Unfunded label

No Data State for Gitcoin Requests
- [ ] what the funder sees
- [ ] what the contributor sees

Email Communication
- [ ] Funder email
- [ ] Requester email confirmation
- [ ] Funder Confirmation (this is exists, maybe just type clean up)

Anything else that you think we need?

[2018-05-08 10:27] PixelantDesign opened #1105 "Make Image a Thumbnail for Long Descriptions"
Issue Explorer Detail View:

For long issue descriptions, make images a thumbnail that expands when clicked.

See this issue: https://gitcoin.co/issue/gitcoinco/web/1104/380

[2018-05-08 10:30] PixelantDesign commented on #846
bountied the build task. Closing

[2018-05-08 10:30] #846 closed

[2018-05-08 10:31] PixelantDesign commented on #660
@mbeacom are we still considering delighted?

[2018-05-08 10:33] PixelantDesign commented on #852
done

[2018-05-08 10:33] #852 closed

[2018-05-08 10:35] PixelantDesign commented on #805
@sambhav2612 I'm here if you have any questions!

[2018-05-08 10:36] #850 closed

[2018-05-08 10:41] PixelantDesign commented on #718
@owocki Is this still needed?

[2018-05-08 10:43] PixelantDesign commented on #692
@vs77bb should we keep this ticket?

[2018-05-08 10:50] PixelantDesign commented on #1088
@owocki I think this should be fine.

[2018-05-08 10:53] #354 closed

[2018-05-08 10:58] PixelantDesign commented on #970
What markets are we hoping to scale in?

[2018-05-08 11:09] PixelantDesign opened #1106 "How to surface work schemes to the community"
https://d3vv6lp55qjaqc.cloudfront.net/items/122s1j3S2T0e0T0X3f3v/Screen%20Recording%202018-05-07%20at%2004.54%20PM.gif

[2018-05-08 11:37] thelostone-mc commented on #441
@owocki work has been submitted 😅 Payout + close this issue ?

[2018-05-08 14:01] mbeacom opened #1107 "As a user, I want to be prompted to authenticate before seeing a start work modal"
Currently,  if a user is not logged into Gitcoin and they click on `Start Work`, they are still prompted with the start work modal.  Once they submit the modal, they receive the notification that they must authenticate with Github.

We need to alert them to authenticate and redirect them to the FTUX if necessary.

![start_work](https://user-images.githubusercontent.com/7315957/39761439-1d39ff12-52

[2018-05-08 14:55] owocki commented on #920
awesome!  poked around a little bit just now, looks good.  looking forward to reviewing :)  hit us back when its out of WIP

[2018-05-08 15:07] owocki commented on #441
paying out now

[2018-05-08 15:07] #441 closed

[2018-05-08 15:13] owocki commented on #970
i could see india being a big one for us sometime soon

[2018-05-08 15:18] owocki commented on #797
yessir

[2018-05-08 15:19] owocki commented on #1100
i believe that @mbeylin & co are working on this for standardbounties 2.0 https://github.com/Bounties-Network/StandardBounties/issues/43

[2018-05-08 15:42] PixelantDesign opened #1109 "Revisit Project Timing"
_*Not ready to be worked on*_

<img width="528" alt="screen shot 2018-05-08 at 11 40 54 am" src="https://user-images.githubusercontent.com/238235/39767525-fda9247a-52b4-11e8-9e8f-ea7892ce5e2d.png">

<img width="550" alt="screen shot 2018-05-08 at 11 39 13 am" src="https://user-images.githubusercontent.com/238235/39767543-057642e6-52b5-11e8-9849-303138582d2d.png">

[2018-05-08 15:47] thelostone-mc commented on #1107
@arun1595 when you get to it  -> could you update the alert to use our custom alert aka
` _alert({message: '....'}, 'error');`

[2018-05-08 15:49] arun1595 commented on #1107
@thelostone-mc Sure!

[2018-05-08 17:03] sambhav2612 commented on #805
sure @thelostone-mc.
okay @PixelantDesign

[2018-05-08 17:10] owocki opened #1111 "have a non-invasive 'tip' prompt after a bounty is complete kinda like uber does after a ride is complete"
child of #1131

(not ready to be worked on yet -- @vs77bb idea)

[2018-05-08 17:59] iamonuwa commented on #1104
Is this task still available?

[2018-05-08 18:42] mbeacom commented on #805
@sambhav2612 If you have any questions specific to the codebase or the local development setup, please feel free to ping me directly on slack!

[2018-05-08 20:39] PixelantDesign commented on #1104
@iamonuwa yes! It's available!

[2018-05-08 22:16] owocki commented on #1030
this happens already :)

we could make it so that they appear twice!

[2018-05-08 22:19] owocki commented on #1009
possible integration path with @dandelionmane / sourcecred here

[2018-05-08 22:35] owocki commented on #718
yes probably

inspiration https://staketree.com/

[2018-05-08 22:42] owocki commented on #958
@zoek1 i just cleared the record of that abandoned bounty

since @CuriousLearner has officially claimed the bounty on Gitcoin, my vote is that we move along with his PR.  @CuriousLearner you are welcome to invite him to collaborate at your discretion.

@zoek1 ill leave you a tip at the end if not.  and because we're still working out the kinks in claiming work on gitcoin!

[2018-05-08 23:12] iamonuwa commented on #1020
@owocki is there a mock up or UI already in place for this?

[2018-05-08 23:41] owocki commented on #1020
nope... totally greenfield

[2018-05-08 23:48] owocki opened #1112 "Paid courses"
(not ready to be worked on yet)

for learning blockchain.
could also be a feed into the bounty explorer

[2018-05-09 00:10] jschiarizzi commented on #1030
https://github.com/gitcoinco/web/blob/9d8b86ae2e054cd4570b75f37babea6c837f4510/app/assets/v2/js/pages/new_bounty.js <br>and <br> https://github.com/gitcoinco/web/blob/master/app/dashboard/tokens.py may help.

[2018-05-09 02:42] decentralion commented on #1009
Yep, that's a big part of the vision for [SourceCred](https://github.com/sourcecred/sourcecred) :+1:

[2018-05-09 08:08] scottydelta commented on #450
@voith thanks for giving more info on this. You had actually pointed me towards this [pull request](https://github.com/ethereum/web3.py/pull/649) but it was still in dev at that point and I never got around to updating that info here.

@owocki yes sure, I will look at it over the weekend. If we just test it on a local node, the code is ready but to use a remote node, I will have to look into the r

[2018-05-09 10:55] miguel550 commented on #115
I would like to re take this task if anyone is not working on it.

[2018-05-09 12:24] mbeacom opened #1117 "BadFunctionCallOutput: Could not decode contract function call getBountyData return data b'' for output_types ['string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/277/](https://rollbar.com/gitcoin/gitcoin/items/277/)

[code]

[2018-05-09 13:32] CuriousLearner commented on #958
Why not! @zoek1 You're most welcome to collaborate :)

[2018-05-09 16:04] owocki opened #1119 "The big "Supply / Demand" imbalance thread."
Gitcoin is a double sided market for ppl who have a supply of work to be done to be matched with talent.

For the last two months we've had more devs than supply work work.

That is changing due to some really great work that @vs77bb is doing.  It's possible that we will see the *total* amount of work available on the platform MORE THAN DOUBLE in the next month.  From 65k to 150k

This is a thread

[2018-05-09 16:04] owocki commented on #1119
without doing a ton of research, i think that the new issues get gobbled up quite quickly… its the ones that get kicked back to open from started that i htink we need to remarket better

[2018-05-09 16:05] owocki commented on #1119
cc @PixelantDesign @vs77bb @mbeacom for more ideas since you all know our product well :)

[2018-05-09 16:29] willsputra commented on #671
@PixelantDesign just wondering what are the requester email confirmations needed?
• Confirmation that the bounty has been posted successfully
• Confirmation that the bounty has been funded
• Confirmation that the requester has received 10% bounty bonus (if externally funded)

[2018-05-09 17:18] owocki opened #1120 "BUIDLT with gitcoin section"
we should have a built with gitcoin section somewhere on the website..

it should include the bounties dashboard

[2018-05-09 17:19] owocki commented on #1120
maybe we create a section in ‘tools’ called BUIDLT with gitcoin’?

[2018-05-09 17:42] owocki commented on #1009
@decentralion can i get on your alpha list?  purdy please!

[2018-05-09 18:37] thelostone-mc commented on #429
@PixelantDesign @vs77bb could we close the bounty out ?

[2018-05-09 19:55] mkosowsk commented on #1009
@decentralion ditto! My gmail is mitchkosowski 🤠👍🏻great chatting with you yesterday!

[2018-05-09 21:14] thelostone-mc commented on #197
Closing this!

[2018-05-09 21:14] #197 closed

[2018-05-09 22:25] vs77bb commented on #640
@vikaskyadav Hit me up on [Gitcoin Slack](gitcoin.co/slack) and we can discuss if you're down to try it out. Click 'Start Work' to claim, if so!

[2018-05-10 00:33] seesemichaelj opened #1122 "nginx Doesn't Seem to Recognize (or Direct Properly) www.gitcoin.co"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
User navigates to www.gitcoin.co because, for some archaic reason, they believe websites should still have the www subdomain.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
Use

[2018-05-10 00:48] mbeacom commented on #1122
@seesemichaelj Resolved!  Thanks!

[2018-05-10 00:48] #1122 closed

[2018-05-10 03:06] mkosowsk commented on #1119
Do we have metrics for when issues are kicked back from started back to open? Think it would be interesting to measure

0. How much time it took for the issue to be kicked back and how this relates to the timeline of the ticket
1. How many comments the Contributor made on the ticket
2. How many comments the Funder made on the ticket. Was there a lot of `ticket jitter` of the ticket changing in fli

[2018-05-10 03:46] vs77bb opened #1123 "[Design]: 'Good First Issue' Aggregator"
_Needs Review_

### User Story

As an open source developer interested in blockchain, I want to know all the options I have to contribute to top blockchain projects

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually

[2018-05-10 03:52] vs77bb opened #1124 "Abstract Away Gas Price / Gas Limit"
child of #1131

_Needs Review_

### User Story

As a Gitcoin funder / developer, I don't want to think about gas price and gas limit at all, I just want my transaction to process.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and

[2018-05-10 06:19] thelostone-mc commented on #25
Closing as this has been addressed ^_^

[2018-05-10 06:19] #25 closed

[2018-05-10 07:06] #1107 closed

[2018-05-10 07:34] thelostone-mc commented on #1123
This would mean every project having it's own dedicated view ?  (which I believe we don't have )
If that were the case -> we would have to add the `Good First issue` along with the issue on the issue explorer (need to make sure we don't overload it with data )

[2018-05-10 13:32] thelostone-mc commented on #957
@PixelantDesign  could you shed some light on :

Is this the green banner ?

Once the avatar is embedded into it -> it would by default use the same headers

Got the auto-populate bit working ! Need to figure out the save API as the `POST` ->  `/keywords` doesn't seem to be working. @mbeacom will help me once he's schedule frees up

Will figure out the when the user sees what (once I clear up the

[2018-05-10 13:41] PixelantDesign opened #1125 "Epic 1"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-05-10 13:59] vs77bb opened #1127 "Parent of #920"
Parent of #920

[2018-05-10 14:02] #1127 closed

[2018-05-10 14:03] PixelantDesign commented on #681
closing this since we created the quickstart guide

[2018-05-10 14:03] #681 closed

[2018-05-10 14:05] PixelantDesign commented on #604
Is this still important @mbeacom ?

[2018-05-10 14:05] #570 closed

[2018-05-10 14:09] vs77bb opened #1128 "ONBOARDING EPIC"
Parent of #957 Create Seamless Onboarding Experience - Contributor
Parent of #911 Surface Social Accounts During Onboarding
Parent of #633 How Does This Work Diagram (Ftux V2)

[2018-05-10 14:52] vs77bb commented on #947
Interesting. I think that could make sense... it's also like AngelList's Top Talent model where they intro the top 1% of dev's to paying customers

[2018-05-10 14:53] vs77bb commented on #694
@owocki Any update here? Might be worth upping priority if we need to handle this going backwards

[2018-05-10 15:06] vs77bb opened #1130 "MARKETING/ BD EPIC"
Parent of #1104 Build New Gitcoin Landing Page
Parent of #620 Python Landing Page
Parent of #1010 Marketing Campaign Email - Build
Parent of #640  Update Community Section to Wordpress
Parent of #1120 Built with Gitcoin Section
Parent of #704 New Community Page
Parent of #805 Update Mission and Values Page
Parent of #1120 Built with Gitcoin
Parent of #438 Clear and Concise Emails
Parent of #692 Ad

[2018-05-10 15:14] vs77bb commented on #1033
Hi @pfilippi24 do you have any questions on this ticket? How goes it?

[2018-05-10 15:14] vs77bb opened #1131 "CONTRIBUTOR WORKFLOW EPIC"
Parent of #1105 Make Image Thumbnail for long descriptions
Parent of #671    Gitcoin Requests - Design
Parent to #1033 Gicoin Requests - Build
Parent of #923 Follow/Favorite Bounties

[2018-05-10 15:19] vs77bb opened #1132 "Community Ideas Epic"