[2018-07-13 21:46] mbeacom opened #1743 "ValueError: not enough values to unpack (expected 2, got 1)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1612/](https://rollbar.com/gitcoin/gitcoin/items/1612/)

[code]

[2018-07-13 22:21] mbeacom opened #1744 "TemplateDoesNotExist: head/v2/images/avatar/head/1-f8d5c2.svg.txt"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1614/](https://rollbar.com/gitcoin/gitcoin/items/1614/)

[code]

[2018-07-13 22:38] mbeacom opened #1745 "JSONDecodeError: Expecting ',' delimiter: line 1 column 597 (char 596)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1613/](https://rollbar.com/gitcoin/gitcoin/items/1613/)

[code]

[2018-07-14 01:44] oogetyboogety commented on #1528
@owocki  How are users adding comments to the Accept Work copy in the sketch file?
Accept Work:
gitcoinbot commented 2 days ago
owocki has accepted work from omar408.
_Comments:
Looks great! Thanks for everything!_

Thanks!

[2018-07-14 01:45] PixelantDesign commented on #27
This email is in use and working. Closing this ticket.

[2018-07-14 01:45] #27 closed

[2018-07-14 01:54] abitrolly opened #1746 "api.gitcoin.co"
An API endpoint with incremental improvements, changelog, status, request limiting, audit log and tracking would be great.

https://api.gitcoin.co

[2018-07-14 01:55] abitrolly commented on #1206
There is no such site yet - #1746

[2018-07-14 01:56] PixelantDesign commented on #1581
Pending Tuesday's meeting.

[2018-07-14 02:01] PixelantDesign commented on #1528
@oogetyboogety open to hearing your recommendation based on what has been defined from a product perspective.

[2018-07-14 02:01] abitrolly commented on #1727
What should be the API (#1206)?
[code]
or
[code]

[code]

[2018-07-14 14:38] thelostone-mc commented on #1685
Could you describe when this happens ?
I can't seem to get it at my end

![screenshot_20180714-200649](https://user-images.githubusercontent.com/5358146/42725477-912038b2-87a1-11e8-87fc-8129d9609149.jpg)

[2018-07-14 15:22] #1739 closed

[2018-07-15 03:02] mttmartin commented on #1685
I just pushed a commit (https://github.com/mttmartin/web/commit/7453db96a741f99fce7b6e23d77ecea25a12556b) which might fix this specific bug depending its definition.

@PixelantDesign, here are my assumptions regarding the bug as I've understood you:

Current behavior:
1) User gets pointed to https://gitcoin.co/onboard/contributor/
2) When user clicks back button once: they are still on contributor

[2018-07-15 03:08] mbeacom opened #1748 "NameError: name 'tokens' is not defined"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1606/](https://rollbar.com/gitcoin/gitcoin/items/1606/)

[code]

[2018-07-15 08:47] #1748 closed

[2018-07-15 13:01] mbeacom opened #1750 "Dynamic token JS is cached"
### User Story

As a user, I want to be certain the dynamic token list isn't being served with an old, cached version.

### Why Is this Needed

*Summary*: The whole purpose of dynamic tokens was to ensure users can easily add tokens without being required to raise a PR.  We can't be certain tokens are up-to-date with the latest DB changes.

### Description

*Type*: Enhancement

### Current Behavio

[2018-07-15 13:20] owocki opened #1751 "Gas Price Analysis - 7/15/2018"
im realizing more and more that mainnet gas fees could be an existential threat to the ecosystem. if they are too expensive so soon as these dapps are laucnhing it could strangle growth.

i think the challenges for the community are
1. education
2. scaling (both by avoiding the mainnet, and protocol level stuff)
3. if above fails, maybe moving to something off-chain or on a permissioned chain

as

[2018-07-15 14:32] owocki commented on #1727
@mbeacom what do you think?

should probably go under the api route, no?

[2018-07-15 15:03] thelostone-mc commented on #1443
@vs77bb @scottydelta if in case you guys can help out  ^

@junagao thanks for being super accommodating with the changes 😅
You are awesome ❤️

[2018-07-15 16:05] kelvintyb commented on #1434
@owocki  please let me know once the tip has been paid out. Much appreciated!

[2018-07-15 16:11] mbeacom opened #1754 "BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types ['bool', 'address', 'string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/636/](https://rollbar.com/gitcoin/gitcoin/items/636/)

[code]

[2018-07-15 16:20] NedelescuVlad commented on #1177
Hi @PixelantDesign - definitely still interested in finishing this. Progress is slow as I'm working on this on the side of my full time job. Let me see how I progress today and I'll provide an updated list of TODOs. Hopefully it will be only back-end stuff that people can jump in on if needed. Please find updates on the PR I've opened here: https://github.com/gitcoinco/web/pull/1351

[2018-07-15 17:16] owocki commented on #1738
we have had a few failed attempts  by the community to refactor the css to scss / modular css.  i'd prefer we didnt increase the scope of tasks like this (if we did, were making perfect the enemy of good) and instead took an incremental approach to refactoring the css.

also @olafghanizadeh you should meet @SaptakS - he recently joined as one of our lead frontend devs

[2018-07-15 17:46] kielbarry commented on #1751
@owocki I'd like to participate though I'm engaged with another project between now and Monday 7/16 noon. If you're open to extending to say Wednesday 7/18 noon. I can work on this on Tuesday - that might actually work better, as contributions need to build on each other, I could write a sort of 'wrap-up' piece or fill in gaps - if (I am able && there are any)

[2018-07-15 22:30] owocki commented on #1751
@kielbarry quality writing is a more important thing than timely, so happy to revisit the convo in a couple days.  hit me up then

[2018-07-16 02:14] owocki commented on #1434
^^

[2018-07-16 02:50] owocki commented on #1528
right now they can't but we will be adding a comments field to the acceptance flow soon

[2018-07-16 02:54] PixelantDesign commented on #1738
Hey gang - this is not a refactoring task. This is an inventory task.

cc: @olafghanizadeh @owocki

[2018-07-16 03:09] owocki commented on #1364
Thanks @pinkiebell this seems like really exciting progress!  (I wonder why that one has been bountykilled several times!)

@PixelantDesign taking into account that tthere are several ethereum tx's per bounty, does the design still look okay?

[2018-07-16 03:09] owocki commented on #115
i am removing thte hunter from this task.

i will also cancel this bounty

[2018-07-16 03:32] PixelantDesign commented on #1674
@pinkiebell  I liked your ideas on making the fiels dynamic and progressive but thinking maybe we start with a simple update to see what the response is. Let me know if you're still interested in this one.

[2018-07-16 04:04] pinkiebell commented on #1674
@PixelantDesign Sure. You can attach mockups anytime ;)

[2018-07-16 04:40] thelostone-mc commented on #1364
@pinkiebell gimme a heads up once this is good for final review, I'll add some css (if needed ) and we'll get this in once @PixelantDesign gives us the 👍

[2018-07-16 04:57] thelostone-mc commented on #1695
Which means I would be served a hindi translated page cause my IP originates from India ? (if I'm a first time visitor )

[2018-07-16 04:57] pinkiebell commented on #1364
@thelostone-mc, @owocki
The Web3 Websocket part needs a mainnet battletest.
So far, I get sometimes a 'invalid event filter'- or something.
But that is infura related and handled by the code.

The other point is yours; I think we should display the dropdown only on our own profile.
But that is up to you guys ;)

Except for the points above, it is ready for review. 👍

[2018-07-16 05:05] #1665 closed

[2018-07-16 07:20] #1606 closed

[2018-07-16 10:46] olafghanizadeh commented on #1751
Where can one view current submissions? It doesn't seem to be any yet?

[2018-07-16 12:39] SaptakS commented on #1674
I personally feel a dynamic to-do style form would be an overkill since most developers won't like the idea of filling up an entire form and rather want to jump to work. But that is just my opinion. @thelostone-mc @mbeacom what do you think?

[2018-07-16 13:07] aerophile commented on #1751
@owocki  Any ideas on how much do we expect the readers to already know about gas usage and prices.

[2018-07-16 13:48] mbeacom commented on #1052
We can modify the view for that, yes. Ideally, we should migrate to the dynamic BE using templates before moving onto the other avatar issues.

In regards to bountying this... I'm fine with that.  However, I made adjustments to the original spec details for this issue due to technical requirements and restrictions:

- It will require building out authentication flows with Twitter
- GH doesn't supp

[2018-07-16 14:05] owocki opened #1758 "bug - faucet dispursement was 0 ETH"
https://etherscan.io/tx/0x83b8da895d116819700420c445beb35e93aae6c09c8e4759e3640e9d08dea9ad

this should have been at least 0.003 ETH, but it was 0 ETH

[2018-07-16 15:37] #1682 closed

[2018-07-16 15:56] mbeacom opened #1759 "Faucet distributions to wallets with less than enough eth to complete submission"
**Describe the bug**
Faucet requests validates whether or not the user has *any* ETH, but in some cases, the current balance of their wallet isn't enough to pay hefty gas prices.

**To Reproduce**
Request funds with a wallet that has fairly minimal amounts of ETH and a user account that's never requested funds.

**Expected behavior**
The faucet should validate the balance and issue only the necess

[2018-07-16 16:54] owocki opened #1760 "BUG - emails to email_logger@gitcoin.co are cheiwng up our sendgrid credits"
email_logger@gitcoin.co

tjere are about 20k emails to this email address last month, and its chewing up our sendgrid credits.  i can't for the life of me figure out where they are coming from; we removed all refernce to this email address and `BCC_EMAIL` from our codebase.. but they still seem to be going out

[2018-07-16 16:54] owocki commented on #1760
@mbeacom do you think maybe stage server is the culprit?

im thikning about revoking our sendgrid key and creating a new one for prod if we can't figure this out

[2018-07-16 17:01] mbeacom commented on #1760
I agree that we should split off the keys for production/staging, if we opt to include a sendgrid key on staging that is.

Regarding `email_logger@gitcoin.co` - This exists in the prod env file it seems.

That's definitely the cause.  Removing from other repo now.

[2018-07-16 17:21] owocki commented on #1760
well. the problem is.. it doesnt..  i removed it and deployed on 7/11 and theres still emails going to that email address

[2018-07-16 17:49] frankchen07 commented on #1751
@owocki @kielbarry @aerophile @olafghanizadeh

If it helps, I spent 20 minutes yesterday outlining what I might write for the above, but only have some incomplete thoughts in a Google Doc. For our purposes, I'd still give a ELI5 on what and how gas is used in the context of a bounty (e.g a $5 gas fee for a small bounty ($20) is concerning, versus a $5 bounty for a large bounty ($1000) is more acce

[2018-07-16 17:54] owocki commented on #1751
@olaf there are no submissions yet to my knoweldge.

@aerophile you can expect that they'll understand gas dynamics at a 101 level already;  we can link them off to some 101 content if not;  this content should be 201 or 301 level

[2018-07-16 17:54] owocki commented on #1751
cc https://github.com/balance-io/balance-manager/issues/343#issuecomment-405238523

[2018-07-16 18:05] PixelantDesign opened #1761 "Testing Fund an Issue"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-16 18:07] #1761 closed

[2018-07-16 18:20] mbeacom opened #1762 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1645/](https://rollbar.com/gitcoin/gitcoin/items/1645/)

[code]

[2018-07-16 18:38] mbeacom commented on #1760
🤔 I'll take a look through the logs and see if anything stands out.

[2018-07-16 18:54] shad-k commented on #1179
Sorry, i got distracted with some other things. Will continue working on this and put in a PR by the end of this week.

[2018-07-16 18:57] #1762 closed

[2018-07-16 18:57] owocki commented on #1760
i suspect that stage or some other environment is doing this.  i vote that we revoke the current sendgrid key and create a new production only one

[2018-07-16 19:00] owocki commented on #1751
@frankchen07 that outline seems really straightforward and powerful. awesome.

[2018-07-16 19:33] owocki opened #1763 "vision page v2 / cleanup"
https://github.com/gitcoinco/web/pull/1725#pullrequestreview-137297325

https://gitcoin.co/vision

[2018-07-16 19:55] owocki commented on #1695
upon further reflection, i think we would likely adhere to the users browser preferences

@mbeacom is that right? btw, when is this going live anyhow?

[2018-07-16 21:23] owocki commented on #1763
from slack channel feel back:
roadmaps are uncertai.
i guess one point we could/should drive home is ‘no matter what happens, people are gonna need OSS and need devs’

[2018-07-16 22:10] owocki commented on #1760
derp ; https://app.sendgrid.com/settings/mail_settings was set to auto BCC this email address

i just turned it off

[2018-07-16 22:10] #1760 closed

[2018-07-16 22:54] gitcoinbot opened #1764 "test issue"
test 123

[2018-07-17 03:49] PixelantDesign commented on #1364
Looks good, thank you @pinkiebell!

[2018-07-17 03:50] pinkiebell opened #1766 "Image alignment is wrong on /bounty/quickstart"
Please see attached screenshot.

![screenshot 2018-07-17 at 05 40 22](https://user-images.githubusercontent.com/40266861/42795563-4a62722e-8985-11e8-8abb-a4eab17c58fc.png)

[2018-07-17 04:16] pinkiebell commented on #1364
@PixelantDesign
It is (top)old to newest(down) for the same event (BountyKilled for example).

For example,

Event A: 0x... 2 minutes ago
Event A: 0x... 1 minute ago
Event B: 0x.. 6 minutes ago
Event B: 0x   5 minutes ago

[2018-07-17 04:20] pinkiebell commented on #1364
@PixelantDesign
Oh wait, if we do a sync from the latest block and then we sync from a older block,
we might end up with the case that the transaction links are not sorted at all.

[2018-07-17 05:40] pinkiebell commented on #1375
In progress

[2018-07-17 06:48] pinkiebell commented on #1375
![screenshot 2018-07-17 at 08 45 40](https://user-images.githubusercontent.com/40266861/42800979-1f8319aa-899e-11e8-92cc-4b71d49f2ada.png)

[2018-07-17 08:02] mbeacom commented on #1672
@owocki `django-helpdesk` looks alright.  If we're looking to add a CMS component, https://github.com/wagtail/wagtail is fairly popular and highly customizable (for a django cms).

[2018-07-17 09:35] thelostone-mc commented on #1672
+1 wigtail

[2018-07-17 09:45] #1766 closed

[2018-07-17 10:51] PixelantDesign opened #1769 "Associate PR to Existing Open Issue"
### User Story

As a Contributor I'd like for Gitcoin Bot to be smart and know that a PR I submit is related to an open issue that I've committed to.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: No detection now

### Description

[comment]: # (Fe

[2018-07-17 10:52] PixelantDesign commented on #1769
@darkdarkdragon any thoughts on this?

[2018-07-17 11:30] PixelantDesign commented on #1674
@pinkiebell zip is attached.

[2018-07-17 12:11] mbeacom commented on #1769
We have this coded up and it worked at one point:  https://github.com/gitcoinco/web/pull/458
Something seems to have broken it a while back.  It needs debugged and fixed.

[2018-07-17 13:22] PixelantDesign opened #1770 "Show Cancelled Bounties Latest Activity in Profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Not shown now

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[com

[2018-07-17 14:04] PixelantDesign opened #1771 "Gitcoin Bot Bounty Value Missing on Github Issue"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

From Tim Van Mourik - @Owocki, @PixelantDesign this bounty's got funding and an approved worker @hubris but no @gitcoinbot message. This happened earlier and a Gitcoin issues was made in gitcoinco/web#1627

https://gitcoin.co/issue/TimVanMourik/GiraffeTools/78/801

**To Reproduce**
[comment]: # (Steps to repro

[2018-07-17 14:09] PixelantDesign opened #1772 "Title & Descriptions not Displaying in Funder Form"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

Title & Descriptions not displaying when a Github issue url is entered into the funder form.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

Add a link into the funder form

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

- [ ] Title and D

[2018-07-17 14:17] PixelantDesign opened #1773 "Gas Price Showing as a Funded Issue?"
**Describe the bug**

Gas price showing in issue explorer as a separate funded issue.

![image 12 12](https://user-images.githubusercontent.com/238235/42823075-a3073ae8-89aa-11e8-9785-5a1bc34a45eb.png)

**Expected behavior**

- [ ] Make it not show

[2018-07-17 14:25] PixelantDesign opened #1774 "Incorrect Funding Time Period Shown on Issue Details"
**Describe the bug**
Funded Issue from last night shows wrong time for when the issue was opened.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

- Display time is wrong when an issue is posted

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

- [ ] Show the correct time listed on issue details

**Screenshots**

<img width="121

[2018-07-17 16:05] #1742 closed

[2018-07-17 16:10] owocki commented on #1592
https://github.com/gitcoinco/web/issues/1742#issuecomment-405637727

this seems to still be an issue

[2018-07-17 16:14] owocki commented on #1769
right now you can attach a PR when you submit work and that is linked in gitcoinbot's subsequent comments about the submission.  but i think this ticket is in regards to some other part of the flow?

[2018-07-17 16:19] owocki commented on #1771
was due to github suspending gitcoinbot.  we've since gotten it unsuspended

[2018-07-17 16:19] #1771 closed

[2018-07-17 16:21] owocki commented on #1672
i'm down to try wigtail. looks powerful

[2018-07-17 16:57] darkdarkdragon commented on #1769
@owocki after submitting pr discussion usually moves to the pr, but gitcoin bot doesn't pick that up and issues inactivity warnings to the issue thread

[2018-07-17 16:58] darkdarkdragon commented on #1769
@mbeacom from reading code in pr #458 looks like it doesn't pickup comments in the pr thread

[2018-07-17 17:31] pinkiebell commented on #1592
@owocki

Is this change really in prod?
Can you revert it and ping me here?
The displayed values should change if the fix was in.

Watch https://gitcoin.co/profile/yjkimjunior for changes

[2018-07-17 18:01] owocki commented on #1773
i think this has to do with the issue with gas prices over the last several weeks and the tx's getting resubmitted

[2018-07-17 18:01] owocki commented on #1773
i can't find these bounties on the explorer? have they been hidden?

[2018-07-17 21:18] owocki commented on #1592
oh my bad https://github.com/gitcoinco/web/pull/1656 is not merged yet; shipping now

[2018-07-17 21:18] #1592 closed

[2018-07-17 21:20] owocki commented on #1769
I thought that on #458 we were using the timeline API (which should pick up related PRs).

From the PR

In any case, I agree this shoudl be fixed.  It'd be helpful to have an example of a bounty (and associated PR) where it has not been working in prod to debug.

[2018-07-17 22:08] mbeacom opened #1777 "BadFunctionCallOutput: Could not decode contract function call getBountyData return data b'' for output_types ['string']"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/503/](https://rollbar.com/gitcoin/gitcoin/items/503/)

[code]

[2018-07-18 02:06] PixelantDesign commented on #1738
@pinkiebell will you click start work if you're still interested in this ticket?

[2018-07-18 02:22] PixelantDesign commented on #1375
@pinkiebell will you click start work on this page? https://gitcoin.co/issue/gitcoinco/web/1375/809

Thanks!

[2018-07-18 11:04] ceresstation commented on #1647
@owocki Did you manually mark the issue as open before marking it as complete? This only occurs due to a conflict with override status changes + automatic status changes.

[2018-07-18 11:33] SaptakS commented on #1772
This issue was because our bot was flagged by github. I think as of now, the issue has been solved. @owocki @mbeacom how are we thinking of solving it twice? If not, I will close this issue.

[2018-07-18 11:45] SaptakS commented on #1773
I can't reproduce it either.

[2018-07-18 12:12] pinkiebell commented on #1674
@PixelantDesign

What about the other bounty types?

Contest
"I understand that this bounty is a *contest* and that other bounty hunters may be working in parallel with me."

Co-op
"I understand that this bounty is a multi-worker *cooperative* bounty.  Other bounty hunters may be working in parallel with me, but the funder has indicated they will pay the bounty to multiple of us."

And regarding t

[2018-07-18 12:20] SaptakS commented on #1685
@mttmartin I think your commit looks good towards solving this issue. Can you please raise a PR?

[2018-07-18 16:46] owocki commented on #1647
i didnt make any edits to fix this.  it was fixed when i showed up in my comment 10 days ago

[2018-07-18 17:19] pinkiebell commented on #1738
@PixelantDesign PR link is wrong. Sorry.
https://github.com/gitcoinco/web/pull/1755

[2018-07-18 17:48] owocki opened #1783 "as a hirer, i want to be able to filter gitcoin.co/leaderboard by keyword, i can hire those who are relevant to me"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a hirer, i want to be able to filter gitcoin.co/leaderboard by keyword, i can hire those who are relevant to me

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

fro

[2018-07-18 19:33] tschoffelen commented on #1518
Ping @vs77bb

[2018-07-18 19:41] arun1595 commented on #1528
@oogetyboogety Let me know if you need any help with this task, would love to get this done!

[2018-07-19 01:29] oogetyboogety commented on #1528
Hi @arun1595, @PixelantDesign, @owocki,
Do you know if we should remove the existing copies that are blank in the rows and columns for the state and bounty type respectively in the sketch file? For example, there appears to be text for when a collaborative bounty is currently submitted in app/dashboard/notifications.py: build_github_notification(bounty, event_name)

[2018-07-19 01:43] PixelantDesign commented on #1685
Thank you @mttmartin!

where ever user comes from clicking back button should take the user back to the previous page (to avoid trapped feeling).

[2018-07-19 01:46] PixelantDesign commented on #1685
To receive a tip please update the [July bug list](https://github.com/gitcoinco/web/issues/1671) with your PR, once the task is complete. Thanks!

[2018-07-19 01:58] PixelantDesign commented on #1636
@mbeacom will you be building this into moderator dashboard v1? If not, I'll save for V2.

[2018-07-19 01:59] PixelantDesign commented on #1630
This seems to be working.

[2018-07-19 01:59] #1630 closed

[2018-07-19 03:54] owocki commented on #1683
@thelostone-mc @PixelantDesign let me know when to pay out

[2018-07-19 04:06] owocki opened #1786 "bug with docker restart"
everytime the web docker container has a minor syntax error (say im developing something and theres a bad indent or something), it restarts and when it comes back up the inotify reloader does not work anymore..

then i have to use `docker-compose restart web` to restart the web container.  unfortunately this breaks `inofity`, and then new changes to the web app aren't picked up by inotify.

has an

[2018-07-19 06:20] #1678 closed

[2018-07-19 06:22] thelostone-mc commented on #1773
Closing as unable to reproduce ! If it happens again -> we'll reopen it and dig into it

[2018-07-19 06:22] #1773 closed

[2018-07-19 06:31] #1685 closed

[2018-07-19 08:30] thelostone-mc commented on #1774
@PixelantDesign not able to reproduce this!
Can you check if this still happening  ?

[2018-07-19 10:54] mbeacom opened #1790 "Display GH login modal to an unauthenticated user when attempting a worker mutation"
### User Story

As a funder, I want to be prompted to login if I am not authenticated and attempting to perform a mutation against the worker status/state of a bounty.

### Why Is this Needed

*Summary*:  We currently display a message to the user directing them to login.  We should be displaying a modal to the user instructing them to login per: https://github.com/gitcoinco/web/issues/1537#issuec

[2018-07-19 10:58] mbeacom commented on #1537
We pushed a change to alert unauthenticated users to login when attempting a worker mutation.  I have created a follow up issue to implement a login modal in #1790

Thanks for reporting this!

[2018-07-19 10:58] #1537 closed

[2018-07-19 11:03] PixelantDesign opened #1791 "Add Deep Link to Explorer Search"
### User Story

As a user I'd like to know the URL of what I've just entered into the search field and have a deep link for reference.

**Example:** When a user searches infura. User should see infura in the url to be able to later reference this.

<img width="1431" alt="screen shot 2018-07-19 at 7 02 12 am" src="https://user-images.githubusercontent.com/238235/42938907-e2df3116-8b21-11e8-805a-69c

[2018-07-19 11:16] thelostone-mc commented on #1791
This was the intended behavior to prevent the urls from being super long (atleast how I remember it)
cc @owocki @mbeacom @SaptakS

- Should we not trim the URL ?
- If that happens -> should we also remove the localStorage filters so that when users share url , the ones who click on it don't get their  previous filters added on top of this ?

[2018-07-19 11:32] PixelantDesign commented on #1791
How big of a lift?

Perhaps getting back in the ability to reference what I've just searched is a first step. Then work towards the clean url in a later iteration.

Thoughts?

[2018-07-19 11:40] PixelantDesign opened #1792 "Too Many Alerts"
**Describe the bug**
3 Alert Messages are displaying.

**Screenshots**
[comment]: # (If applicable, add screenshots to help explain your problem.)

![pasted image at 2018_07_18 11_50 pm](https://user-images.githubusercontent.com/238235/42940142-6d7e26e8-8b26-11e8-9d7a-6b554cdedd0e.png)

**Definition of Done**
- [ ] Turn off very top banner

[2018-07-19 12:45] mbeacom commented on #1786
@owocki I can't seem to reproduce this:

![docker-inotify2](https://user-images.githubusercontent.com/7315957/42943054-c2ee1bfc-8b2f-11e8-9b1f-78bd9916bd59.gif)

Following the syntax error, the `web` container exits with a code of 1.  The container restarts itself and attempts to spin up as normal.  If the syntax error still exists, it will ultimately exit 1 again. Following fixing the offending f

[2018-07-19 12:55] PixelantDesign commented on #1774
I haven't had this issue since...  @mbeacom  has some context on when this happened, are there specific things that @thelostone-mc should be checking for @mbeacom?

[2018-07-19 13:36] bumanerdene commented on #1674
@PixelantDesign I'm interested! Send me the details.

[2018-07-19 17:11] vs77bb commented on #1636
Closing this issue; is being worked into #1669

[2018-07-19 17:11] #1636 closed

[2018-07-19 17:22] owocki commented on #1783
I dont have a strong preference here. @mbeacom what do u think

[2018-07-19 17:23] #1467 closed

[2018-07-19 17:23] vs77bb commented on #1422
@owocki can we close this one out or are you still looking for this to be done at some point?

[2018-07-19 17:36] owocki commented on #1786
really the only repro step is
1. run `docker-compose down; docker-compose up -d --build`
1. wait until container starts
1.  `docker-compose restart web`
1. inotify is broken, filesystem changes aren't picked up in inotify

[2018-07-19 17:42] owocki commented on #1791
My 002 wei is that the functionality of having shareable URLs greatly outweighs the marginal aesthetic add of having short urls.

[2018-07-19 17:45] bdresser opened #1794 "Include link to bounty in Gitcoin bot's post"
The gitcoin bot is super useful. It'd be even more useful if the initial post included a link to the bounty on gitcoin.co!

<img width="860" alt="screen shot 2018-07-19 at 10 44 58 am" src="https://user-images.githubusercontent.com/1016190/42960487-d2897726-8b40-11e8-8abf-58f504ab6f4d.png">

[2018-07-19 17:48] mbeacom commented on #1794
Updating this now - Thanks @bdresser

[2018-07-19 18:14] mbeacom commented on #1794
@bdresser Added in: #1795
Thanks!

[2018-07-19 19:09] pinkiebell commented on #1674
https://github.com/gitcoinco/web/pull/1781
Ready for review

[2018-07-19 20:48] mbeacom commented on #1786
Thanks.

When are you finding that you need to `docker-compose restart web` ? The container should continue to restart in the event of `exit 1` if you're running the stack in detached mode (`-d`).  I'll check with `restart` and attempt to figure out what might be occurring.

[2018-07-19 20:52] owocki commented on #1786
i've found that i need it if theres a syntax error (or other blockcing change) and the app doesn't seem to automatically restart.

i dont have a good handle on when i use it; but ill make a mental note to profile my usage for the next couple days and remember to report back.

[2018-07-19 21:32] owocki commented on #1786
heres a great example that just happened. i had merge conflict which caused a syntax error which has since been resolved, container restarted and inotify is broken:

http://bits.owocki.com/28232q3U1m3v/Screen%20Shot%202018-07-19%20at%203.27.02%20PM.png

[2018-07-19 21:33] #1794 closed

[2018-07-19 21:44] pinkiebell commented on #1792
Please review #1796

[2018-07-19 21:47] owocki commented on #1786
@mbeacom are you using iTerm Terminal.app or other?  I wonder if it has to do with me using iTerm

[2018-07-19 21:56] pinkiebell commented on #1786
@owocki
What is the output of $docker version ?

[2018-07-19 23:20] owocki opened #1797 "crowdfunding v2"
https://github.com/gitcoinco/web/pull/1737/

follow up to this ^

not ready to be worked on yet

TODOS
* [ ] deprecate old tips
* [ ] ability to do multipayout in more than one token
* [ ] ability to do multipayout AND crowdfund, together, in more than one token.  need to update send_tips_for_bounty_fulfiller mgmt command
* [ ] ability to bulk send tips all at once, instead of a bunch of seperate

[2018-07-19 23:25] owocki commented on #1786
[code]

[2018-07-19 23:30] pinkiebell commented on #1786
@owocki
Can you try with edge?
https://download.docker.com/mac/edge/appcast.xml

There are some changes in bleeding edge which may be related to this issue ;)

[2018-07-20 00:20] nanspro commented on #1375
@pinkiebell what is the status of this issue? It's showing "Open" on gitcoin,can i still do it?

[2018-07-20 01:03] pinkiebell commented on #1375
@nanspro
I already submitted a pull request. ;)

[2018-07-20 02:41] PixelantDesign opened #1798 "View By Orgs V1"
### User Story

![orgview- copy](https://user-images.githubusercontent.com/238235/42980723-a59d87fa-8ba6-11e8-9f50-f0e8d5253fec.jpg)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type

[2018-07-20 03:12] PixelantDesign opened #1799 "View by Org V2"
### User Story

As a contributor I'd like to be able to learn more about an organization when I specifically search for issues by a certain project.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- [ ] Add a section above filtered list of issues when user searche

[2018-07-20 05:02] vs77bb commented on #1727
@arun1595 this one should be good for you to work 👍any questions? Also cc @mbeacom on question from @owocki above!

[2018-07-20 06:42] vs77bb commented on #1443
Hi @junagao here's my take on core ideas:

- It is still early days in blockchain, including tokens / tokenization.
- Gitcoin didn't want to launch with a token before finding product-market fit, and doesn't think it's the morally right move. .
- There are a number of other options to explore in terms of capital in web3 (great job highlighting these!)
- Founders should consider these other options

[2018-07-20 14:16] owocki commented on #1799
where do we source the desc for eaach org?

[2018-07-20 14:23] owocki commented on #1786
@pinkiebell i can give it a try; but i doubt it will help considering @mbeacom is not on edge ( i dont think ) and he doenst experience the issue

[2018-07-20 14:31] owocki commented on #1443
Thank you vivek.  Yes, thats right.

@junagao sorry for the radio silence.  Vivek hopefully just unblocked you!

[2018-07-20 14:52] bdresser commented on #1794
Saw a bot post this morning, saw the link, thought maybe I had opened this without noticing it was already there.. but nah you're just on top of it!

thanks 😺

[2018-07-20 16:48] #1588 closed

[2018-07-20 17:00] pelsasser opened #1801 "Cannot fund issues"
**Describe the bug**
After clicking `Fund Issue`, not meta mask approval shows up and there are errors in the console.

**To Reproduce**
Create a newly funded issues (or attempt to)

**Expected behavior**
Meta mask approval pop up

**Screenshots**
[comment]: # (If applicable, add screenshots to help explain your problem.)
![image](https://user-images.githubusercontent.com/15096737/43015147-f0a05bc

[2018-07-20 17:14] owocki commented on #1801
IPFS / infura is down right now

heres our announcement about thte same: https://twitter.com/GetGitcoin/status/1020355857454780416

working with infura to get it back up

[2018-07-20 17:48] pinkiebell opened #1803 "Optimizing the docker setup"
Discussion for optimizing the docker setup.

We can start by using the python:-*alpine instead of stretch,
because it's way more lean and better maintained.

What do you think?

[2018-07-20 18:22] thelostone-mc commented on #1683
@owocki we are good for payout ^_^

[2018-07-20 18:22] #1683 closed

[2018-07-20 18:54] owocki opened #1804 "Add autotranslate base for Chinese"
Add autotranslate base for Chinese

to this PR https://github.com/gitcoinco/web/pull/971

This is requested by Decentraland and it'd be nice if we could ship it quickly

[2018-07-20 19:10] mbeacom commented on #1804
@owocki The autotranslate branch has `zh` translations added (https://github.com/gitcoinco/web/pull/971/files#diff-3f9737c05a00f8739afebff6239e18f4R147), but it was having problems so I disabled it.  I'll take a look at what was causing the error to throw.

[2018-07-20 19:52] mbeacom commented on #1804
Fixed. Traditional and simplified now added.

[2018-07-20 19:52] #1804 closed

[2018-07-20 21:15] frankchen07 commented on #1751
@phamdat721101, @nanspro

I've written a little bit of the introductory stuff here: https://docs.google.com/document/d/1ms8IWLqPs8J2U7m63TH56f61S61kVwY1gqj7AMnGTsc/edit#

Feel free to incorporate and add additional analysis.

[2018-07-20 22:38] mbeacom commented on #1803
We intentionally don't use alpine opting for sketch-slim (I love alpine, but I wouldn't claim alpine is better maintained than Deb) because alpine couldn't build `libsecp256k1` which was and is still required.

[2018-07-20 22:45] mbeacom opened #1806 "ZeroDivisionError: float division by zero"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1504/](https://rollbar.com/gitcoin/gitcoin/items/1504/)

[code]

[2018-07-20 22:51] arun1595 commented on #1806
@mbeacom This is a duplicate of #1650 and is fixed in #1805

Think we can close this. Thoughts?

[2018-07-20 23:25] pinkiebell commented on #1803
I actually use alpine as a local dev container and only applied one hackery for the python cryptography package, which is solved upstream to compile with libressl (v2.3).
I have no problems until now, but I also don't know what else you are using in your environment,
that's why I opened this issue.

I can push my dockerfile, if you want to try this out.

[2018-07-20 23:55] pinkiebell commented on #1803
https://github.com/pinkiebell/web/commit/7a571fffb875513f76513400e01bc3041daa48d3

[2018-07-21 00:02] pinkiebell commented on #1803
Sorry, my bad rebase.
This one is better ;)
https://github.com/gitcoinco/web/commit/ad2d4421faf500ad2ae1be045a1c08c5dff20555

[2018-07-21 00:07] mbeacom commented on #1803
Exciting! I'll check it out tomorrow on my way back to the states.  It looks like the issues have been resolved upstream for `libsecp256k1` on alpine! Honestly, I haven't had much time to revisit migrating the image to alpine, so this definitely helps.
Thanks!

[2018-07-21 00:57] nanspro commented on #1751
@frankchen07  I have added only 3-4 points for now and i will add more but can you tell me that "do i need to write an article on medium.com or working on the doc is also fine"?

[2018-07-21 02:41] PixelantDesign opened #1807 "BUILD: Allow Funder to Manage Auto Approvals"
### User Story

As a funder whois using work by approval, I'd like to manage Auto approval of start work on approval only bounties. This way users do not get auto approved after 72 hours.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently no

[2018-07-21 02:44] PixelantDesign commented on #1672
Are we able to do something like [this](url
https://mailchimp.com/resources/guides/email-marketing-field-guide/) with Wigtail?

[2018-07-21 02:50] olafghanizadeh commented on #1672
That should be just a matter of creating the layouts.

Perhaps there are some options to Wigtail? Wouldn't it be better to have a git-based system that uses markdown for content so people could contribute to the docs without having to be added as users.

[2018-07-21 03:03] olafghanizadeh commented on #1672
I would like to take on the challenge of integrating Hugo with this if I could some help with integrating it with the current Docker setup.

There is a docker image:
https://github.com/jojomi/docker-hugo

[2018-07-21 08:50] mbeacom commented on #1672
Honestly, I am a huge fan of Hugo, but I rather we keep the project aligned and we can simply integrate wagtail into the existing platform versus having multiple separate services. The templating would be handled in this same repo without adding the complexity to contributors to understand multiple templating engines. We should be able to reuse a decent amount of what we already have with minimal

[2018-07-21 14:54] #1743 closed

[2018-07-21 15:34] owocki opened #1808 "How It Works V2"
As a user I'd like an updated How it Works page to capture some of the new functionality that has been added.

### Definition of Done

**Funder Page**
- [ ] Update Screenshots (please review all screenshots)
- [ ] Update text (please update all text sections)
- [ ] Add light navigation up top so that when a user clicks an item, they are taken to the appropriate section.
- [ ] Update Things to Note

[2018-07-21 15:37] aerophile commented on #1751
@frankchen07 @nanspro @owocki  I'm working on a draft on medium and adding more content and analysis. I'll share the link here as soon as its done.

[2018-07-21 15:59] nanspro commented on #1751
@aerophile can you share your draft so that we can build upon each other's work

[2018-07-21 16:00] #1650 closed

[2018-07-21 16:11] mbeacom commented on #1806
These issues are automatically generated.  Closing.  Thanks!

[2018-07-21 16:11] #1806 closed

[2018-07-21 16:29] iamonuwa commented on #1808
@owocki @PixelantDesign can I get screenshots or revisions for this tasks? I would love to submit first revision this night?

[2018-07-21 16:41] arun1595 commented on #1806
@mbeacom Oh, good to know.

[2018-07-21 17:39] aerophile commented on #1751
sure @nanspro here is the link to the draft. https://medium.com/p/2d66ceba5285/ . I'll be adding sections on recent cause of high gas price and conclusions.

[2018-07-21 21:17] owocki commented on #1443
hey @junagao hows it going?!  let me know if you need further clarification and what your timeline is

[2018-07-21 23:01] aerophile commented on #1751
@frankchen07 any inputs/suggestions for the draft so far. Also could use some ideas for the Fcoin section.

[2018-07-22 00:35] nanspro commented on #1751
@owocki @frankchen07 @aerophile
https://medium.com/p/516fa82bfc2a/
Can you review this and tell me if any mistakes are there?

[2018-07-22 01:53] #1620 closed

[2018-07-22 10:57] aerophile commented on #1751
@nanspro  your title is "Ethereum gas price continue to rise putting Gitcoin at risk" .  i would suggest changing it as (1) Gas prices have returned to stable levels. (2) High gas prices affect all dapps and not just Gitcoin.

[2018-07-22 11:07] aerophile commented on #1751
@frankchen07 @nanspro one of You guys should submit to @owocki .  I do not have gas for doing a submit transaction and gitcoin's faucet could take a lot longer. Please include both links to both the drafts.

[2018-07-22 12:02] nanspro commented on #1751
@aerophile I am traveling right now so I don't have access to my laptop.I will submit it in 4hours.

[2018-07-22 12:36] rsercano commented on #1786
I was about to take this task from your website, but it's not reproducible on linux too, as @mbeacom mentioned

[2018-07-22 15:34] frankchen07 commented on #1751
I'll take a look tonight PST.

At first glance, there are some changes I would make in terms of voice - I'll take a closer look at content too.

[2018-07-22 16:51] #1057 closed

[2018-07-22 18:41] nanspro commented on #1751
@owocki
[Link to my Article](https://medium.com/@rahulbishnoi_5862/ethereum-gas-price-continue-to-rise-putting-gitcoin-at-risk-516fa82bfc2a)
[Link to @aerophile  article](https://medium.com/@aerophile/2d66ceba5285)

[2018-07-22 23:00] frankchen07 commented on #1751
@aerophile I left a couple of comments on Medium:

1. Overall, I would change a little bit of the syntax in the earlier portions, and I left minor changes to organization, structure, and content.

2.  I would be more consistent with the capitalization of words such as "Ethereum", just to be consistent.

3. Do a review of what words need to be quotations (""), and if they are in quotations, make th

[2018-07-22 23:14] frankchen07 commented on #1751
@nanspro I left a couple of comments on Medium:

1. Overall, I think breaking out the story by chronological timeline would work really well. As an example, you can see @aerophile in his [article](https://medium.com/p/2d66ceba5285/ ) did this pretty well. Depending on the situation, we may combine the best of both aerophile's article with yours.

2. There was a section where it was essentially pos

[2018-07-23 00:42] owocki commented on #1807
the auto approve timeline is currently set to be 72 hours, not 24.

[2018-07-23 07:17] justpixel commented on #1672
This is the contributor guide page. I'll get back with the funder guide soon.
 ![contributor](https://user-images.githubusercontent.com/7627020/43062430-7703bef6-8e61-11e8-85ff-51fcff394268.png)

[2018-07-23 08:00] mbeacom opened #1809 "StatisticsError: no median for empty data"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1712/](https://rollbar.com/gitcoin/gitcoin/items/1712/)

[code]

[2018-07-23 09:38] thelostone-mc commented on #1808
@owocki would it make sense to mention multiple payout for both funder & contributors ?

Funders: They can have multiple folks working on it and split the bounty
Contributors: They can rope more people from the community to help them get a task to completion for a share of the bounty

[2018-07-23 10:57] thelostone-mc commented on #1799
@PixelantDesign
- `Follow` button ? I don't believe this has been scoped out from the backend yet
- `View Contributing guidelines`. Where are we getting the input for this  ?

[2018-07-23 13:14] #1809 closed

[2018-07-23 13:53] #1801 closed

[2018-07-23 13:56] olafghanizadeh commented on #1672
Looks cool :)

[2018-07-23 16:30] aerophile commented on #1751
@frankchen07 here's the content in a[ google doc](https://docs.google.com/document/d/1dWosFjco2OakNaHWG9F8wxJ5AObtKQbqsTeMEIpZbFU/edit?usp=sharing) for further proof reading.
I've incorporated most of your suggestions from medium and have also made changes with respect to double quotes and capitalization.

[2018-07-23 16:39] PixelantDesign commented on #1528
@oogetyboogety let's leave those for now. Thanks!

[2018-07-23 16:46] jvmaia commented on #1783
I'll do it using the filters in the url, as it is now.

[2018-07-23 16:46] owocki opened #1811 "werkzug exceptions are wrapped in 10 layers of `reraise`"
example:

[code]

this makes it really really hard to figure out what is going wrong

[2018-07-23 16:47] owocki commented on #1811
@mbeacom is this an easy fix?  if not, ill probably bounty someone fixing it

[2018-07-23 17:14] mbeacom commented on #1811
In regards to the `six` call to `reraise`:

[code]
I am uncertain how we can mitigate this, but it seems there might be something wonky going on to the exception as it is passed by `django_extensions` in   `django_extensions/management/technical_response.py`

[2018-07-23 17:15] owocki commented on #1811
yes i know where to look if i don't mind scrolling through 4 pages of output.  sorry for not being more specific, but the reason i'm opening this issue is that its really superflous to have that much output for every exception.  its all noise; no signal

[2018-07-23 17:17] mbeacom commented on #1811
@owocki Related: https://github.com/django-extensions/django-extensions/issues/1201

[2018-07-23 17:40] coderberry opened #1812 "The sumo popup doesn't trigger for new visitors"
**Describe the bug**
When I visit gitcoin.co for the first time, I should see a newsletter signup form popup (sumo) but it does not.

**To Reproduce**
In a private browser (Chrome), visit https://gitcoin.co and see that the popup does not occur.

**Expected behavior**
When I visit gitcoin.co from a new browser or private browser, I should see the popup for newsletter signup.

**Desktop (please com

[2018-07-23 17:44] mbeacom commented on #1812
@coderberry The sumo popups are subdued by additional logic from sumo as far as I know.  @SaptakS  and I looked into this with the limited information we has available about the sumo libraries (no access and no public documentation), but it seems it may be driven by IP every 24 hours unless previously signed up and tracked in cookies.  This is all speculative though.

[2018-07-23 19:13] coderberry commented on #1812
@mbeacom I don't believe it's working that way. I visited the site with cleaned cookies and proxied IP through Denmark and it still didn't show anything. This is affecting the advertising spend.

[2018-07-23 19:19] #1812 closed

[2018-07-23 20:42] owocki commented on #1672
this looks really good :)

note-  i dont have any special attachment to having my face/avatar on this page.  though it is nice for developers to feel like there is a face / person behind the project

[2018-07-23 20:42] owocki commented on #1672
might be good to unify the icon set here => http://bits.owocki.com/121g0H0z3t07/Screen%20Shot%202018-07-23%20at%202.42.35%20PM.png

the issue explorer icon could certainly use an update

[2018-07-23 20:51] owocki commented on #1808
i think im looking for someone who can do some lightweight design and coding on this.  i dont know if its worth pulling in a designer here as most of the assets are already here.

@thelostone-mc yes i think that makes sense to me

[2018-07-23 21:18] owocki commented on #1727
@arun1595 are you still interested in doing this?

[2018-07-23 21:33] arun1595 commented on #1727
@owocki Apology for the absence. Yeah, I would like to take a stab at it.

[2018-07-23 21:39] dapperAuteur commented on #1751
I'm working on my article now. Are you still accepting work for this bounty?

[2018-07-23 22:07] owocki commented on #1807
@PixelantDesign should we bounty this?  seems like it should not be that hard of a lift

[2018-07-23 22:09] owocki commented on #1751
@dapperAuteur lets close applications at 12midnight tongiht :)

[2018-07-23 22:32] captnseagraves commented on #1713
Finished last week by Mark. I moved the grant's project into its own app and got it back to a stable point this morning. Closing issue.

[2018-07-23 22:32] #1713 closed

[2018-07-23 22:49] captnseagraves commented on #1712
Have baseline app running and all tests passing. Closing issue.

[2018-07-23 22:49] #1712 closed

[2018-07-23 23:57] #1455 closed

[2018-07-24 00:20] mbeacom opened #1815 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/445/](https://rollbar.com/gitcoin/gitcoin/items/445/)

[code]

[2018-07-24 02:51] #1375 closed

[2018-07-24 09:22] justpixel commented on #1672
@PixelantDesign @owocki I've made the changes to the "Tools" section and also added the funder page.
![funder](https://user-images.githubusercontent.com/7627020/43128981-ffe0327e-8f3b-11e8-9f77-66dd69b3a4a3.png)
![contributor](https://user-images.githubusercontent.com/7627020/43128980-ffc2b71c-8f3b-11e8-9398-4b8a184dd36b.png)

[2018-07-24 10:33] #1358 closed

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 12:39] dapperAuteur commented on #1751
Just saw this. I can get you my article today. I hope that’s not too late

[2018-07-24 14:20] owocki commented on #1811
bounty-ing that django-extensions issue

[2018-07-24 15:13] mbeacom opened #1819 "StatusError: HTTPError: 504 Server Error: GATEWAY_TIMEOUT for url: https://ipfs.gitcoin.co:443/api/v0/cat?stream-channels=true&arg=QmNk3CfMScMut3kcFKP7DMCV1y1ZF99D8N3hNZ1bmGqj2T"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1724/](https://rollbar.com/gitcoin/gitcoin/items/1724/)

[code]

[2018-07-24 15:17] oogetyboogety commented on #1528
@pixelantdesign @arun1595 can you tell me what font is being used in the status bars with the dots for each phase? Figma tells me it is Helvatica and I don't have it on my system, but i wanted to check before i use the FOSS alternative to helvatica in whatever format SVG prefers

[2018-07-24 15:21] mbeacom commented on #1819
I was messing with geth nodes on the same k8s cluster as ipfs which led to a spike before scaling out - Resolved now.

[2018-07-24 15:36] ceresstation commented on #1680
@owocki Each translation is just a separate task to be done in parallel, this was just a test issue spec'd out while Mark completed the autotranslate implementation.

[2018-07-24 16:14] mbeacom opened #1820 "AttributeError: 'NoneType' object has no attribute 'fulfillments'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/800/](https://rollbar.com/gitcoin/gitcoin/items/800/)

[code]

[2018-07-24 16:22] mbeacom opened #1821 "StatusError: HTTPError: 504 Server Error: GATEWAY_TIMEOUT for url: https://ipfs.gitcoin.co:443/api/v0/cat?stream-channels=true&arg=QmfC7iLEvAwe8xDqk8FmGaoGbB3QGRNL3EYzFUfVkde1vo"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1725/](https://rollbar.com/gitcoin/gitcoin/items/1725/)

[code]

[2018-07-24 16:34] #1821 closed

[2018-07-24 16:45] #1819 closed

[2018-07-24 16:52] owocki opened #1822 "bug - non-github links dont work in bounties"
Right now, links like the above don't work:
https://gitcoin.co/funding/details?url=https://opengift.io/task_detail/?number=1&project=1040
because the URL of the bounty is `https://opengift.io/task_detail/?number=1&project=1040`

The scope of this ticket is to allow
* Non Github Links to work (including ones with `?`)
* Links in the Bounty Details UI to say "View [Sitename] Link" instead of "View G

[2018-07-24 19:10] owocki commented on #1751
@dapperAuteur ok; pls send across ASAP

[2018-07-24 19:27] owocki opened #1823 "As a user, I want a demo of Gitcoin, using Fuel Web3 Provider, so that I don't have to pay the gas"
# What

Fuel web3 provider is a service that allows dapps to pay for gas on behalf of their users.

We would like you to integrate it with Gitcoin on the rinkeby network, so that users dont have to pay the gas costs.

## How

Please see the below email from Mokhtar Bacha, who built the tech we'll rely upon:

[code]

## Bounty Requirements

* Deploy the Gitcoinco/web repo on an Ubuntu server of you

[2018-07-24 20:46] nanspro commented on #1751
@frankchen07  I have edited my article by considering most of your suggestions.

@owocki  i have already submitted on gitcoin. This is my final [article](https://medium.com/@rahulbishnoi_5862/ethereum-gas-price-continue-to-rise-putting-gitcoin-at-risk-516fa82bfc2a)

[2018-07-24 20:53] frankchen-07 commented on #1751
Hey all, been busy with work stuff, but I'm happy to set aside some time tonight (PST) to proofread.

To my knowledge, there seems to be three submissions (by tonight PST)? @nanspro, @aerophile, and @dapperAuteur. Happy to review all three and make final suggestions.

[2018-07-24 20:55] frankchen07 commented on #1751
Hey all, been busy with work stuff, but I'm happy to set aside some time tonight (PST) to proofread.

To my knowledge, there will be three submissions by tonight PST? (@nanspro, @aerophile, and @dapperAuteur). Happy to review all three and make final suggestions.

[2018-07-24 20:55] dapperAuteur commented on #1751
here's the [article](http://bit.ly/2LGpZww). Thank you for your patience and the opportunity to contribute. Let me know if you have any recommend changes.

[2018-07-24 21:26] mbeacom opened #1824 "AttributeError: 'NoneType' object has no attribute 'fulfillments'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1730/](https://rollbar.com/gitcoin/gitcoin/items/1730/)

[code]

[2018-07-24 21:41] mbeacom opened #1825 "AttributeError: 'NoneType' object has no attribute 'fulfillments'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/1730/](https://rollbar.com/gitcoin/gitcoin/items/1730/)

[code]

[2018-07-24 22:35] owocki commented on #1822
pls do!

[2018-07-25 01:11] oogetyboogety commented on #1036
@owocki submitted! let me know if i should do anything else

[2018-07-25 01:13] mbeacom opened #1826 "AttributeError: 'NoneType' object has no attribute 'fulfillments'"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/800/](https://rollbar.com/gitcoin/gitcoin/items/800/)

[code]

[2018-07-25 08:40] #1792 closed

[2018-07-25 09:54] nanspro commented on #1751
@frankchen07  sure.
Here is the [google doc](https://docs.google.com/document/d/1JFaE20MHkMP7RDzntGzTxUMRoQBOG2jBtVF6xwIvr74/edit?usp=sharing)

[2018-07-25 10:21] dapperAuteur commented on #1751
@owocki @frankchen07 yes, what's the gmail account I should add to edit access?

[2018-07-25 14:50] owocki commented on #1826
my fault on this one d5a7f632a7ee97b7109fdd268e2c9124e3607b99

[2018-07-25 14:50] #1826 closed

[2018-07-25 14:50] owocki commented on #1825
my fault on this one d5a7f632a7ee97b7109fdd268e2c9124e3607b99

[2018-07-25 14:50] owocki commented on #1824
my fault on this one d5a7f632a7ee97b7109fdd268e2c9124e3607b99

[2018-07-25 14:50] #1824 closed

[2018-07-25 14:50] #1825 closed

[2018-07-25 14:53] #1820 closed

[2018-07-25 16:01] owocki commented on #1751
Hey all, I conferred with the team,

we're going to payout
1st. aerophile
2nd (both nanspro and dapperAuter)

thank you for your submissions.  we may publish some of this content to medium.com/gitcoin and if so will give you writer credits!

[2018-07-25 17:15] owocki opened #1830 "DAI FAQ"
FAQ we've seen from contributors when they receive a DAI bounty:

- how to add this token to metamask
- how to exchange it to ETH or USD.

TODOs:
- add a DAI FAQ helpdesk article.  link to it whenever someone receives a DAI bounty

[2018-07-25 20:44] PixelantDesign commented on #1528
Same font we are using there now. No change. Thanks!

[2018-07-25 21:13] #1667 closed

[2018-07-26 00:20] owocki opened #1832 "crowdfunding v2"
not ready to be worked on yet

- show crowdfunding amount in explorer view
- cleanup the unused imports in tip_views (ad reapply mbeacom's doc changes from https://github.com/gitcoinco/web/pull/1810 )
- anything else?

ref: #1597

[2018-07-26 03:53] dapperAuteur commented on #1751
thank you.

[2018-07-26 04:51] PixelantDesign commented on #1672
Looks good!

- What do the green dots on the left nav indicate?
- Can we try one header for this page instead of two? @justpixel
- Will you also mockup a developer guide?

<img width="1234" alt="screen shot 2018-07-26 at 12 44 58 pm" src="https://user-images.githubusercontent.com/238235/43242209-47d378ce-90d2-11e8-9ab3-df801fbb72c1.png">

[2018-07-26 10:54] mbeacom commented on #1672
@olafghanizadeh Why would a user need admin intervention to be able to submit content if we used something like wagtail? You would use the same gitcoin account and auth flow we have today, but you would submit content for review via a web ui.  Also, there are pre-existing django static site generators (if we're discussing SSGs...) that wouldn't require some content to be written in MD while others

[2018-07-26 11:42] mbeacom commented on #1823
- Integrate `fuel-server` into the `docker-compose` stack
- Make necessary modifications to the `gitcoinco/web` repository to utilize the `fuel-server` and ensure Gitcoin can pay gas on all `Bounty` specific transactions
- Bonus points for adding an AWS lambda entrypoint for `fuel-server`

[2018-07-26 15:14] owocki opened #1834 "For cooperative bounties, it is not clear if the bounty is to be split, or if each person gets the bounty"
We recently had a cooperative bounty which was $100 DAI, and there were 3 submissions for it.

I paid out $100 DAI to the first submission, and 35 each to the 2nd place submissions.

We got a complaint that the person though that their submissino should be paid out the full amount.

As a means of correcting this on a go forwad basis, I suggest asking bounty funders to make sure they are clear abou

[2018-07-26 17:25] mbeacom opened #1835 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/gitcoin/gitcoin/items/652/](https://rollbar.com/gitcoin/gitcoin/items/652/)

[code]

[2018-07-26 17:51] owocki opened #1836 "As a funder, I want to add the new funders video to the landing page, so I can see why gitcoin works for funding"
As a funder, I want to add the new funders video to the landing page, so I can see why gitcoin works for funding

Add https://youtu.be/bs4BmLNESaw to https://gitcoin.co/

(not ready to be worked on yet)

[2018-07-26 17:51] owocki commented on #1836
@PixelantDesign where should this go? funders landing page? funders guide?

[2018-07-26 19:31] owocki opened #1837 "t-architecture v4"
(not ready to be worked on yet)

# Tips

1. do not store any references to shards on servers
2. send emails about new T's shards in frontend, via javascript, perhaps via https://smtpjs.com/
3. instead of direct Tsends, use smart contract which has methods `transfer(to_address)` and modifier `onlyIntermediary()` and `refund() and modifier `onlySender()`
4. expose refund ability via gitcoin UI

# Cr

[2018-07-26 20:04] owocki commented on #1837
@mbeacom feedback?

[2018-07-27 03:19] alexZielonko commented on #1822
I found some time to spin up the local environment and explore this issue in greater detail. At this point, I see a couple of pathways to issue resolution ->

1. Minimize change - We can update the `/app/dashboard/views.py`'s `bounty_details` method to handle resolution of non-GitHub bounties. I believe this will, along with a few client side changes, satisfy the issue.
2. Increase future flexibil

[2018-07-27 14:55] #1290 closed

[2018-07-27 15:22] owocki commented on #1822
Thanks for the thoughtful comment @alexZielonko !

i think we'd prefer to start with 1, and then would breakout #2 into a seperate, long term ticket

i think we just need to make sure that the gitcoinbot notifications, which will probably throw exceptions, are turned off gracefully and don't affect any of the functionality of the rest of bounties.

[2018-07-27 15:52] #1674 closed

[2018-07-27 15:54] #1777 closed

[2018-07-27 16:26] owocki opened #1840 "bug - activities list is empty on profiles"
**Describe the bug**

activities list is empty on profiles
https://gitcoin.co/profile/pelsasser

**To Reproduce**

go to https://gitcoin.co/profile/pelsasser , look at latest activities

**Expected behavior**

go to https://gitcoin.co/profile/pelsasser , look at latest activities.  there should be activities there

**Screenshots**

screenshot: http://bits.owocki.com/3k190G0k1y1w/Screen%20Shot%2020

[2018-07-27 21:59] nanspro commented on #1808
![screenshot-2018-7-28 gitcoin grow open source](https://user-images.githubusercontent.com/24641089/43348159-5383517c-9216-11e8-9730-cea37cc4a4aa.png)
![screenshot-2018-7-28 gitcoin grow open source 1](https://user-images.githubusercontent.com/24641089/43348160-56def556-9216-11e8-8ac7-032b9ded4447.png)
![screenshot-2018-7-28 gitcoin grow open source 2](https://user-images.githubusercontent.com/246

[2018-07-27 22:09] nanspro commented on #1808
@owocki  any thoughts?

[2018-07-27 22:22] nanspro commented on #1808
For permission required issues i was thinking maybe we can add more steps such as "Apply for Work" and then if funder approves it will go to the next step "Start Work".

[2018-07-27 22:56] #1228 closed

[2018-07-27 23:03] nanspro commented on #1830
![screenshot-2018-7-28 help](https://user-images.githubusercontent.com/24641089/43349689-3400ea18-921f-11e8-88ae-c40edd63b752.png)
Is this ok?
I thought about moving it to the middle.

[2018-07-27 23:05] owocki commented on #1443
@junagao i am removing you from this issue.

@justpixel any interest in picking this up?  bounty is open again

[2018-07-28 03:52] octavioamu commented on #1443
Can I change the text from medium to be in plural to reflect the company instead of personal opinion, and also some sentences to be more direct to the point?
I already selected some paragraphs but I will try to go out from the article way and be more informative. What do you guys think?

[2018-07-28 05:33] octavioamu commented on #1443
First try, is not finish but I need some feedbacks about text and style.
What do you guys think about the text?
Need more text? less text? more text fragmentation?
I think since we are making arguments is hard to just put short texts like mission page I'm trying to balance between.

![desktop hd](https://user-images.githubusercontent.com/1358093/43353391-e417e774-920d-11e8-9145-c515b0781b20.jpg)

[2018-07-28 12:58] #1608 closed

[2018-07-28 18:54] owocki opened #1842 "bug - https://gitcoin.co/get 502's out"
https://gitcoin.co/get

502 response from prod

[2018-07-29 07:56] #1626 closed

[2018-07-29 23:53] #1612 closed

[2018-07-29 23:58] ceresstation opened #1843 "Confirm Auto-Translation of Gitcoin to Simplified Chinese"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want to fulfill / fund bounties in my native language.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For maximal inclusion :)

### Description

[comment

[2018-07-30 00:05] ceresstation opened #1844 "Confirm Auto-Translation of Gitcoin to Hindi"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want to fulfill / fund bounties in my native language.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For maximal inclusion :)

### Description

[comment

[2018-07-30 05:02] justpixel commented on #1672
@PixelantDesign
1. I've replaced the dots with a line that indicates the position in page
2. It's only one header now.
3. Developer Guide is already here.
![contributor](https://user-images.githubusercontent.com/7627020/43378323-d8f372a6-93ce-11e8-8067-28407a701168.png)
![funder](https://user-images.githubusercontent.com/7627020/43378324-d90d5ca2-93ce-11e8-9ad5-b3dc70aeedb5.png)

[2018-07-30 13:31] PixelantDesign commented on #1808
@nanspro thanks for taking a stab at this! I'll send you a tip for this work and built upon it!

@iamonuwa Apologies for the delay, are you still interested in helping us build this out?

[2018-07-30 14:11] iamonuwa commented on #1808
Yes @PixelantDesign am game for this

[2018-07-30 14:12] iamonuwa commented on #1808
Can't pick the task again because @nanspro is working on it

[2018-07-30 14:43] nanspro commented on #1808
@PixelantDesign  do you want me to do something else, i am ready to work with @iamonuwa  on this issue.

[2018-07-30 15:02] nanspro commented on #1844
How to complete this task?

I will check all the translation and then do i have to tell you mistakes(if any) here or change some code to correct those mistakes .
I accepted this issue because i know hindi but can you just give me some brief idea about what to do.

[2018-07-30 15:06] arun1595 commented on #1727
Unfortunately, something else came up and I couldn't give the attention this bounty. deserves. Going to stop work on gitcoin so we can let someone from the crowd get it done.

[2018-07-30 15:53] owocki commented on #1844
@ceresstation would it make sense to ask people who are confirming the translation to update the auto-translation file in a PR?

[2018-07-30 16:21] owocki opened #1847 "as a privacy concerned user, i want to ensure the entropy of the tips account generation"
https://github.com/gitcoinco/web/blob/master/app/assets/onepager/js/send.js#L16

we want to make ensure the entropy of this method is such that the tip account generation can never collide with another account

[2018-07-30 16:28] owocki opened #1848 "community submission: standard bounties RSS feed"
this is a placeholder issue to track the work being done to create http://paulbrower.codes/posts/permissionless-blockchain-programming/

[2018-07-30 16:54] thelostone-mc commented on #1808
Yo @nanspro ^_^

So just go ahead and click on stop work ->
- @iamonuwa will be able to start work once you do that
- meanwhile @PixelantDesign will issue a tip
- If you guys both are up for it  -> collaborate ^_^ ( @iamonuwa is veteran in the gitcoin community )

Finally welcome to the gitcoin family @nanspro :D

[2018-07-30 16:59] thelostone-mc commented on #1443
@octavioamu i like the amount of text you have right now on this :D
Can we loose the yellow buttons and stick to white /  blue (the ones we use / subtle color which matches the style on the buttons we already have ) ? :P

[2018-07-30 17:12] vs77bb opened #1850 "Repo Owner: Admin Privileges"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a repo owner, I'd like to have admin privileges over bounties which are funded on my behalf.
### Why Is this Needed
When a bounty is funded by the Gitcoin team / someone who is not the repo maintainer, the repo maintainer still should still share ownership over the bounty, if granted by the funder.

[comment]: # (

[2018-07-30 17:39] owocki commented on #1672
looking really good!

[2018-07-30 17:53] owocki commented on #1443
i think that we should blow away 90% of the text on this page; and aim for a text to image ratio like [this area of the page](http://bits.owocki.com/1X0s002C1E3Q/Screen%20Shot%202018-07-30%20at%2011.50.32%20AM.png) for the entire page.

you can take the content @vs77bb posted above

[code]

and maybe break it down into the following UI elements

# It is still early days in blockchain, including to

[2018-07-30 18:27] PixelantDesign opened #1852 "Bug: Clicking in the form should clear the plan template"
On the Start Work Form - when user clicks into the form, the plan template should immediately clear. User should not need to clear the text manually.

<img width="1182" alt="screen shot 2018-07-30 at 2 24 11 pm" src="https://user-images.githubusercontent.com/238235/43415813-91520f80-9404-11e8-88b2-f94be9b28d45.png">

Definition of Done:

- [ ] When user starts typing, all of the text in the form c

[2018-07-30 19:33] mbeacom opened #1854 "Stop Work displays on old Start Work activity feed entries"
**Describe the bug**

Previously stopped work in the bounty details page activity feed still displays admin buttons to stop work / ding users.  Additionally, the `stop work` activity entry doesn't seem to be present/visible.
The XHR response is:

`{errors: ["Party haven't expressed interest on this bounty."], success: false}`

**To Reproduce**
Hit https://gitcoin.co/issue/gitcoinco/web/1680/873 as

[2018-07-30 19:37] vs77bb opened #1855 "Gitcoin Requests [Backend]"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer, I want the best the open source work in web3 on Gitcoin so that I can contribute to great projects.

This is in tandem with #1694 (being worked by @KennethAshley), as a continuation to #1033.

### Description
Gitcoin Requests needs to be taken over the finish line. Currently there is a BountyRequest

[2018-07-30 20:29] vs77bb commented on #1179
@shad-k @thelostone-mc @owocki Should we send this one back out to the crowd?

[2018-07-30 20:32] vs77bb commented on #1443
Agree with @owocki's sentiments above! Less text is more here.

[2018-07-30 20:49] iamonuwa commented on #1808
@nanspro can i get the design assets please to fix this task?

[2018-07-30 21:15] owocki commented on #1854
45c4dff68353379c50ed0521b429916ab1c0378d

[2018-07-30 21:15] #1854 closed

[2018-07-30 22:17] shad-k commented on #1179
@vs77bb I guess it's already out in the open issues since I clicked on Stop Work on gitcoin 7 days ago.

[2018-07-30 22:36] nanspro commented on #1808
@iamonuwa  you can start working on this now

[2018-07-31 02:42] PixelantDesign commented on #1832
- Update crowdfunding amount treatment to use an icon since the word crowdfunding is so long.

- If I've just crowdfunded an expired issue, should I be able to extend the expiration date by doing so?
My instinct is yes. Thoughts?

@owocki @thelostone-mc @SaptakS @mbeacom

[2018-07-31 03:44] PixelantDesign opened #1858 "Design: Dedicated Moderator Actions"
### User Story

As a moderator, I'd like to have the actions in a dedicated space so that I can work in an organized dapp.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:Feature

[2018-07-31 03:47] PixelantDesign commented on #1468
@willsputra still interested in this?

[2018-07-31 04:05] PixelantDesign commented on #1672
yes! looks great! Thanks!

[2018-07-31 04:16] PixelantDesign opened #1859 "Single Payout Bounty Broken"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**

Tried to pay this bounty:
https://gitcoin.co/issue/gitcoinco/web/1672/811

Bounty Submission dropdown showed black.

I tried to accept submission anyway, and showed Fulfillment ID missing.

See screenshots

**Expected behavior**

Expected it to work.

**Screenshots**

<img width="701" alt="sc

[2018-07-31 04:27] PixelantDesign commented on #1464
@mbeacom could you tie your PR here?

[2018-07-31 04:37] thelostone-mc commented on #1859
Seems to be working at my end 🤔

That happens on hover. It's been like that. But the fulfillment id should have been listed !

<img width="1440" alt="screen shot 2018-07-31 at 10 05 35 am" src="https://user-images.githubusercontent.com/5358146/43437947-4a7b87a8-94a9-11e8-8d6d-a30843fbde86.png">

[2018-07-31 04:44] PixelantDesign opened #1860 "BUILD Funder & Developer Guides"
### User Story

As a funder or a contributor I'd like to be able to go to one place for help or if I have questions on something about the Gitcoin Platform.
This would be built out on the `/guide/*` page which would be CMS system build out by using wagtail enabling the owners to update content as when needed without touching the codebase

### Why Is this Needed
Currently we have help in a lot of p

[2018-07-31 04:53] #431 closed

[2018-07-31 04:57] thelostone-mc commented on #1860
@PixelantDesign Could we attach the sketch / illustrator files to make it easier for the folks who pick it up ?

[2018-07-31 05:05] PixelantDesign opened #1861 "Landing Page Update"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Needs to be more prominent

On the Gitcion.co landing page, switch the Tree section and the 1,2,3 section.  Add Icons t

[2018-07-31 05:17] PixelantDesign commented on #1464
https://github.com/gitcoinco/web/pull/1490

[2018-07-31 07:29] SaptakS commented on #1852
I wanted to keep it in the format which github uses for it's new issues and new PRs, so that the users still have a context while typing what kind of things they should write and remove the unnecessary parts rather than the text acting like yet another placeholder.
 So as discussed between me and @PixelantDesign over slack, we will let it be like this and see for the user response. If the users ar

[2018-07-31 07:44] thelostone-mc commented on #1808
@PixelantDesign we good to tip @nanspro  ? ^_^

[2018-07-31 08:24] ceresstation opened #1863 "Confirm Auto-Translation of Gitcoin to Japanese"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want to fulfill / fund bounties in my native language.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For maximal inclusion :)

### Description

[comment

[2018-07-31 08:27] ceresstation commented on #1843
Hi @imbeder thanks for starting work, just as a reminder you should submit a pull request with edits to the files noted above. We can then review on our end and pay out upon merge. Let me know if you have any questions!

[2018-07-31 12:19] pinkiebell opened #1864 "Initial API proposal"
This is an initial API proposal which I am most comfortable with.
I left out methods for interacting with bounties intentionally
because we need another form of authentication (API tokens) or we could accept Github's personal access tokens.

bounty status = open, closed, started, cancelled, expired

project types =
  traditional,
  contest,
  cooperative

permission types =
  permissionless,
  app

[2018-07-31 13:14] PixelantDesign commented on #1807
Note: We will add toggling change after the fact and displaying in activity feed on a separate ticket.

[2018-07-31 13:17] PixelantDesign commented on #1864
@mbeacom @owocki thoughts on this?

[2018-07-31 13:21] PixelantDesign opened #1865 "System Generated Awards V1 (Reputation)"
### User Story

As a funder/contributor, I would like the Gitcoin platform to know what I'm doing and reward me for good behavior.

### Description
- these would essentially be a set of badges issued to users by gitcoin on completing predefined tasks
- would be listed on the profile under new section called Achievement
- reason : Intrinsic motivation to go ahead and unlock more (pretty much like e

[2018-07-31 13:23] PixelantDesign opened #1866 "Manage Work Approval : Toggling After the Fact and Display on Activity - Part 2"
Not Ready to be Started

We will add toggling change after the fact and displaying in activity feed on a separate ticket.

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summar

[2018-07-31 13:26] PixelantDesign opened #1867 "== BUG LIST - AUGUST 2018 =="
## **In Priority Order**

**Priority Guide**
**P0**  - **Critical**
This issue puts funds at risk for either a) Gitcoin funders or b) Gitcoin developers.
_Timeline to fix: 24-48 hours_
**P1**   - **High**
A feature of Gitcoin fails to follow expected behavior. The issue creates panic around a core feature on the Gitcoin platform.
_Timeline to fix: 2-3 days_
**P2**  - **Medium**
A feature of Gitcoi

[2018-07-31 13:29] PixelantDesign opened #1868 "Front End Refactor List"
### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

All PRs have been referenced to this issue for tracking purpose

[2018-07-31 13:36] PixelantDesign commented on #1769
@mbeacom @owocki should we bounty this?

[2018-07-31 14:25] PixelantDesign opened #1870 "Tips Email and Notification in Profile Not Showing Up"
Users are not receiving tip notifications.

<img width="668" alt="screen shot 2018-07-31 at 10 20 27 am" src="https://user-images.githubusercontent.com/238235/43465742-f8347574-94ab-11e8-99b3-0b6b3b462550.png">

https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1533046671000500?thread_ts=1533033254.000356&cid=C8E45J5D0

[2018-07-31 14:32] evgeniuz commented on #435
Not sure what to do with coverage failing in PR: there's simple statement added in place that wasn't covered before that (a simple template rendered page) and there are no tests in similar pages, so I'm not sure if I need to add tests for that.

[2018-07-31 16:43] octavioamu commented on #1443
@gitcoinbot tomorrow/today night  I will have something

[2018-07-31 16:48] #1469 closed

[2018-07-31 17:01] davidbanu commented on #1840
@owocki, a question for you:
- What do we want to show on the Latest activities list? I'm thinking that we want to show when a user start work on a specific task and submitted work... For funders: started and submitted work? Cancel work should be included also? I am missing something?
I've observed this problem reproduce on several funder accounts...

[2018-07-31 17:41] owocki commented on #1870
emails for this tip were sent to `["rahul.bishnoi@students.iiit.ac.in", "rahulbishnoi3636@gmail.com"]`

looks like the tip was direct from PixelantDesign to nanspro directly, thats why they can't claim it in the top right.
https://etherscan.io/tx/0xb41d9e0f8d35829555c1cb27d08b2c1de6897a3e40cf08da6e1198c1ee12a761

[2018-07-31 17:42] owocki commented on #1870
hmm looks like the ETH tx failed => https://etherscan.io/tx/0xb41d9e0f8d35829555c1cb27d08b2c1de6897a3e40cf08da6e1198c1ee12a761

[2018-07-31 17:46] owocki commented on #1870
just resent the email

[2018-07-31 18:07] PixelantDesign opened #1871 "Gitcoin Bot Updates"
Taking the Gitcoin Bot updates task and bringing this work internally if the Contributor is not finished by 8/3/18

https://github.com/gitcoinco/web/issues/1528

[2018-07-31 18:08] PixelantDesign opened #1872 "Funder Habit Forming"
Placeholder

### User Story

As a core team we'd like to understand where it makes sense to include behaviorally driven tactics.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We want to be top of mind when bounty funders are in need of resource he

[2018-07-31 18:09] PixelantDesign opened #1873 "Infrastructure: APM and logging"
See #1207 #1208

[2018-07-31 18:11] PixelantDesign opened #1874 "Django Pipeline complete integration and transpiling"
Django Pipeline complete integration and transpiling

### User Story

Contributors - be able to write es6 Javascript and Sass instead of css with a much more modularization and DRY
Gitcoin Team - Helps in maintaining.

[2018-07-31 18:12] PixelantDesign opened #1875 "Wagtail CMS"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:12] #1707 closed

[2018-07-31 18:12] PixelantDesign opened #1876 "Send Funds To A Gitcoin Wallet"
_**Monetization Experiment**_

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a platform, I want to enable funders to send a fee/tip to a Gitcoin multi-sig so that Gitcoin can be a sustainable consumer platform.

This is still **experimental** for those who are interested in this ticket.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Fe

[2018-07-31 18:13] #1706 closed

[2018-07-31 18:13] PixelantDesign opened #1877 "Plan for Contributor Dashboard"
### User Story

As a core team we'd like to have an approach for the contributor dashboard.

### Description

We've bountied the funder dashboard which is being built. We have designs for a contributor dashboard. Once the funder dashboard rolls out, we should decide if the contributor dashboard should be standalone, or be part of the funder dashboard that houses different information.

### Definit

[2018-07-31 18:13] #1708 closed

[2018-07-31 18:13] #1709 closed

[2018-07-31 18:13] PixelantDesign opened #1878 "Funder Dashboard"
Bringing this in and getting it out the door

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

#

[2018-07-31 18:14] #1710 closed

[2018-07-31 18:14] PixelantDesign opened #1879 "Remove duplicate URI"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:14] PixelantDesign opened #1880 "Infrastructure: healhchecks and scalability"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:15] PixelantDesign opened #1881 "Infrastructure: Caching and response time optimizations"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:17] PixelantDesign opened #1882 "Converting CSS to SASS/SCSS and modularizing"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:19] PixelantDesign opened #1883 "API Refactoring / Standardization and code optimization/cleanup (queries, etc)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:20] PixelantDesign opened #1884 "Automated load and endpoint testing (locust, selenium, gatling?)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-07-31 18:20] PixelantDesign opened #1885 "Requests (WIP)"
Continuing previously opened Issues.

Reminding work: Finishing up the backend.

[2018-07-31 19:41] e-n-l commented on #556
That makes sense to me... a second pass at this might involve integrations
with GitLab and BitBucket, as they're widely used for closed-source.

On Tue, Jul 31, 2018 at 12:19 PM, Pixelant <notifications@github.com> wrote:

[2018-07-31 21:13] PixelantDesign opened #1888 "Add Project Length to the Issue Details Summary"
### User Story

As a user, I'd like to see the project length at the top of the issue details.

### Why Is this Needed

Does not exist

### Description

*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- [ ] Project length is displayed at the top of the issue details
- [ ] This addition of code is tested
- [ ] This addition of

[2018-07-31 21:22] captnseagraves opened #1889 "Create/modify "Grants Index" Page - Design"
### User Story

As a Grants user, I want to see and search all possible grants so that I can contribute to projects that matter to me, as well as click into the different user flows of the Grants project.

### Why Is this Needed

Users need a central place to find active grants and choose different interactions to have with the grants process.

### Description

*Type*: Feature

### Definition of D

[2018-07-31 21:30] captnseagraves commented on #1889
Assigning @justpixel as well

[2018-07-31 21:44] captnseagraves opened #1890 "Create/Modify "Create Grant" View - Design"
### User Story

As a Grants user, I want to fill out relevant information about my project so I can create a grant and attract funders

- As a grant creator, I want to submit my completed form so that I can create my grant

### Why Is this Needed

The "Create Grant" page is needed to allow a grant creator to describe their project and deploy a grant which grant funders can contribute to.

### Desc

[2018-07-31 21:45] captnseagraves commented on #1890
Assigning @justpixel

[2018-07-31 22:43] owocki commented on #1872
ideas, from slack:

- email funders who haven't posted in 30 days.  ask them for feedback.

[code]

[2018-07-31 22:46] owocki opened #1893 "as a funder, i want hunters to have to stake funds to 'start work' on an issue, so i know they're serious about it"
### User Story
as a funder, i want users to have to stake funds to 'start work' on an issue, so i know they're serious about it

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
- to reduce abandonment rate
- permissionless issues are preventing stale issues from being completed, because users who "take" the issue but don't actually do anything completely b

[2018-07-31 22:46] owocki commented on #1893
@PixelantDesign @vs77bb any feedback on this idea?

[2018-08-01 01:20] mkosowsk opened #1895 "Request for Adding Fund Branding to Gitcoin Pages and Gitcoinbot Messages"
### User Story

**As a** funder in the space (Ethereum Foundation, Ethereum Community Fund, ETHPrize, etc.)
**I want** to have my branding on Gitcoin issues that I fund for different projects in the space
**so that** Gitcoin users know where funds are being allocated from

### Why Is this Needed

Right now it's unclear where funds are being allocated from in the space on the Gitcoin platform, this

[2018-08-01 13:38] imbeder commented on #1843
Hi @ceresstation, thanks for your reminder. But seems like I can't make time for the translation, sorry for this.

[2018-08-01 13:50] mbeacom opened #1898 "ValueError: The API key that you have entered is not valid, did you enter a username by mistake?"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod/issues/9/

[code]

[2018-08-01 13:52] #1898 closed

[2018-08-01 15:05] owocki commented on #1443
this is <3 !

@PixelantDesign @vs77bb @thelostone-mc et all, any feedback?

[2018-08-01 15:06] owocki commented on #1860
@PixelantDesign should i bounty this? how much

[2018-08-01 15:08] owocki commented on #1895
@mkosowsk

this is really good feedback!  i think we can pull something together;

two questions:
- is there an ECF brand guide and/or any ECF visual assets we can leverage here?
- whats our timeline for this?

[2018-08-01 15:11] PixelantDesign commented on #1895
This is an interesting idea @mkosowsk . Could you share an EPS of the logo so that we can experiment?

[2018-08-01 15:24] mbeacom opened #1899 "Ensure all values passed from the issue url are cleaned or validated to be only str/int as required"
[code]

When a user hits an endpoint with something like: `https://gitcoin.co/issue/raiden-network/raiden/1408/559)`

The special characters should be cleaned from the associated value before attempting to query for the bounty or caught via regex in the `re_path` itself.

[2018-08-01 15:25] owocki commented on #1832
Sure, but only IFF You're the funder should you have permissions to do so

[2018-08-01 15:34] davidbanu commented on #1840
@owocki, cool! Thanks a lot!

[2018-08-01 16:25] PixelantDesign commented on #1860
@owocki Yes please, .55ETH seem right?

[2018-08-01 16:39] octavioamu opened #1901 "Custom error modal for limitations"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user dev, I want to be prompted with an explanation of api limitations so we can have less "tickets" of users trying to understand what is happening.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, a

[2018-08-01 16:43] PixelantDesign commented on #1443
Looks good!

[2018-08-01 16:45] mbeacom opened #1902 "Debug and resolve preferred_payout_address irregularities"
**Describe the bug**

We have encountered a possible bug with some users having contract addresses as their `Profile.preferred_payout_address`.  This leads to failures when attempting to claim/send tips and bounty payouts.

**To Reproduce**

Check:  https://etherscan.io/tx/0xb41d9e0f8d35829555c1cb27d08b2c1de6897a3e40cf08da6e1198c1ee12a761 for an example of a bugged transaction that was sent to the

[2018-08-01 16:55] #1754 closed

[2018-08-01 17:36] captnseagraves opened #1904 "Create "Grants Pending" Page - Design"
### User Story

As a Grants user, I want a screen to let me know when my transaction is pending on-chain so I know that I have submitted my grant but it has not been successfully written yet.

### Why Is this Needed

The "Grants Pending" page is needed to inform the user of the state of their transaction and to let them know that their grant is not active yet.

### Description

*Type*: Feature
###

[2018-08-01 17:36] captnseagraves commented on #1904
Assigning @justpixel

[2018-08-01 17:54] captnseagraves opened #1905 "Create/Modify "Grants Detail" Page - Design"
### User Story

As a Grants user, I want to view the details of a grant so that I can know if I want to fund the project, know what the status and recent updates for the project, or know how many funders I have.

### Why Is this Needed

The "Grant Detail" page is needed to display what the current state of a grant and its associated project is. It will display the information captured in the "Crea

[2018-08-01 17:55] captnseagraves commented on #1905
Assigning @justpixel

[2018-08-01 18:11] owocki commented on #1904
note: we *could* reuse the bounty pending page, so i think this is lower priority than the others

[2018-08-01 18:13] owocki commented on #1901
i actually just put a fix in for this this morning!

[2018-08-01 19:18] mkosowsk commented on #1895
@owocki and @PixelantDesign great to hear! I am poking ECF now to get their perspective :)

[2018-08-01 19:32] mkosowsk commented on #1895
Timeline would be a couple weeks as this is when funds will start being deployed via the ECF Web 3.0 Infrastructure Fund but is relatively flexible imo, it's not mission critical this branding is live right at the start as long as it's done in a reasonable timeframe 👍

From ECF's side, they would like the Gitcoin logo in a transparent background and would blend something together like what's shown

[2018-08-01 19:48] owocki commented on #1895
yes! https://gitcoin.co/presskit

[2018-08-01 19:48] mkosowsk commented on #1895
Thanks, passing along

[2018-08-01 19:53] captnseagraves opened #1907 "Create "Grants Withdrawal" Page - Design"
### User Story

As a Grant creator, I want to withdraw funds that have been given to the project on a monthly basis so that I can sustain myself and my team

### Why Is this Needed

The "Grants Withdrawal" page is needed to allow a grant creator to withdrawal funds that have been given to the project

### Description

*Type*: Feature

### Definition of Done

- [ ] Page displays the total funding t

[2018-08-01 19:53] captnseagraves commented on #1907
Assigning @justpixel

[2018-08-01 19:59] #1815 closed

[2018-08-01 19:59] #1835 closed

[2018-08-01 20:04] cassandrashi commented on #1895
Agreed with @mkosowsk that solution 0 and 1 would disrupt the flow of users and cause confusion. The logo on the issue explorer and issue detailed page view probably should remain as it is, displaying the project's logo.

My vote goes to solution 2.

In addition, I would kindly ask the issue requester for the future web3 + ECF fund supported issues to insert a blurb about ECF in the issue descript

[2018-08-01 20:10] captnseagraves opened #1908 "Create "Fund Grant" Page - Design"
### User Story

As a Grant funder, I want to contribute funds to a grant so I can support projects that are important to me.

### Why Is this Needed

The "Fund Grant" page is needed to allow users to contribute fund on a chosen recurring cycle

### Description

*Type*: Feature

### Definition of Done

- [ ] Page has an input field for the amount the user wishes to contribute per period.
- [x] Page

[2018-08-01 20:11] captnseagraves commented on #1908
Assigning @justpixel

[2018-08-01 20:31] captnseagraves opened #1909 "Create "My Grants" Page - Design"
### User Story

As a Grants user, I want to see all grants that I am contributing to or am an administrator of so that I can easily find grants I am involved in.

### Why Is this Needed

The "Fund Grant" page is needed to allow users easily find grants they are involved in.

### Description

*Type*: Feature

### Definition of Done

- [x] Page displays all grants a user has contributed to
- [x] Pag

[2018-08-01 20:35] captnseagraves opened #1910 "Create "Cancel Funding" Page - Design"
### User Story

As a Grant funder, I want to cancel my subscription to a grant project so I can end support whenever I want to.

### Why Is this Needed

The "Fund Grant" page is needed to allow users to cancel support for a given project.

### Description

*Type*: Feature

### Definition of Done

- [x] Page has "Are you sure you want to cancel your support of the 'project title' project?"
- [x] Pa

[2018-08-01 20:51] oogetyboogety commented on #1528
@PixelantDesign,
I will have to take a screenshot by uploading my container to a cloud instance or just getting access to a virtual domain to host the files. Right now they are static assets on my localhost instance, so the screenshots look like this:
![screenshot from 2018-08-01 16-51-01](https://user-images.githubusercontent.com/3319254/43548095-1ff6c576-95ab-11e8-9205-6f4cf78df9ff.png)

I'll ma

[2018-08-01 21:02] octavioamu commented on #1443
PR done with the code and also in /creative with the sketch file https://github.com/gitcoinco/creative/pull/21

[2018-08-01 21:48] owocki commented on #1836
@PixelantDesign any objection if i add this to the funder LP?  I'd probably add it near the other 'how it works' video, or even above the fold below the hero

[2018-08-01 22:27] oogetyboogety commented on #1528
@owocki hmmm which changes are you referring to in the footer, is it the font

[2018-08-01 22:29] oogetyboogety commented on #1528
@owocki should be able to get a screenshot working let me just sign up for a free host somewhere where i ca  use the same resulting static file path

[2018-08-02 00:56] #324 closed

[2018-08-02 05:02] PixelantDesign opened #1914 "User Feedback/ Feature Requests"
- For handling scenarios such as bounty increase due to scope inflation, I think it could make sense to start with a utility that allows me to "estimate time" at the start of the work. Once that timer is up, present a dialog to 'request for more funding' as the option with a write-up as rationale. Challenge here would be to tackle work that is spread out over days. Maybe a time-logger tool can wor

[2018-08-02 05:30] nanspro commented on #1844
@ceresstation I have made a PR which includes
- changing some hindi words to more common used words.
- some words which were not translated have been changed

[2018-08-02 05:36] PixelantDesign commented on #1893
I like the idea. Seems like staking is a layer that could apply to  permissionless and approval required.

I see it as a separate characteristic of a bounty. Not as a permission.

If I set a project to permissionless, because I don't want to have to approve a contributor, but still want to know they're serious about the task. A stake would make sense here.

If I set a project to approval required,

[2018-08-02 05:43] PixelantDesign commented on #1895
I think solution 2 makes sense as well.

[2018-08-02 06:35] PixelantDesign commented on #1872
@owocki I took a stab at defining the ticket, feel free to edit.

[2018-08-02 06:36] PixelantDesign commented on #1885
@vs77bb

[2018-08-02 06:39] PixelantDesign commented on #1875
@mbeacom @SaptakS @thelostone-mc I think yall were intersted in this during prioritization. Please define the ticket.

[2018-08-02 07:03] nanspro commented on #1861
![screenshot from 2018-08-02 12-25-39](https://user-images.githubusercontent.com/24641089/43567677-1bf9f9b6-9650-11e8-833f-40cb651ef802.png)
![screenshot from 2018-08-02 12-25-42](https://user-images.githubusercontent.com/24641089/43567683-1f7d3c38-9650-11e8-8a83-2efd35724416.png)
@PixelantDesign  where are these 6 icons you mentioned?

[2018-08-02 09:17] mridulnagpal commented on #1843
Hi @ceresstation, I would love to start if no one is working on this one.

[2018-08-02 09:31] kaushalvivek commented on #1680
Hey @ceresstation, I would like to work on this.

[2018-08-02 09:37] justpixel commented on #1889
Here is the wireframe, i've added some new elements besides what existed before.
![dev grants index](https://user-images.githubusercontent.com/7627020/43575910-ab3b2f96-9650-11e8-91ec-6a01b5204f38.png)

[2018-08-02 12:30] thelostone-mc commented on #1528
@oogetyboogety let us know when you are done with it! Hoping to get this in by this week !

[2018-08-02 12:31] thelostone-mc commented on #1861
@nanspro mind shooting a WIP PR ?

[2018-08-02 13:26] mbeacom opened #1919 "AttributeError: 'list' object has no attribute 'split'"
[code]

[2018-08-02 13:27] mbeacom opened #1920 "IndexError: list index out of range"
[code]

[2018-08-02 13:32] #1919 closed

[2018-08-02 13:58] octavioamu commented on #1443
I have summited work  https://etherscan.io/tx/0x9f2e2e0f3f681f6d453b2b088e5a655417bc091d6c28a6d95c7a72cb501f29e3
but looks like @gitcoinbot doesn't want to work

[2018-08-02 14:06] mkosowsk commented on #1895
@cassandrashi my current understanding is that the repo maintainer of each different repo would have to put the ECF blurb in as is for different issues. This introduced a bit of friction, think it would be best to have some type of option on the Details page to include this blurb as an Issue Funder? 🤔

[2018-08-02 14:07] mbeacom opened #1921 "Replace sync_gas_prices web scraping with json"
Replace `sync_gas_prices.py` web scraping with pulling down https://ethgasstation.info/json/predictTable.json and running over this file to populate `GasProfile` objects.

### Why Is this Needed

*Summary*:  The current `sync_gas_prices` management command uses BS4 to scrape the prediction table.  There isn't a huge need for this since ethgasstation.info provides:  https://ethgasstation.info/json/

[2018-08-02 16:35] owocki commented on #1864
do we want to increment the version number? if so, i think it should be v0.2, not v1

im onboard with the spec for the tip and activity APIs, i dont see a need to evolve the bounty API forward at this point though.  i also dont think that the profile API needs to have the network param in the URL

[2018-08-02 17:35] hrithik-jha commented on #743
Hi I'd like to work on this.

[2018-08-02 17:36] owocki commented on #743
got a portfolio you can show off?

@mbeacom is this a design ticket or a coding ticket?

[2018-08-02 17:38] hrithik-jha commented on #743
If this is a coding ticket, then I can make a front end on based on index.html

[2018-08-02 17:47] captnseagraves opened #1926 "Write script and create explainer video for Dev Grants"
It would be great to have a video the explains Dev Grants in 30 seconds. We need to contract the video production team and write a script as first steps.

@owocki said he could handle this.

[2018-08-02 17:52] owocki commented on #1926
Script draft

[code]

[2018-08-02 17:59] owocki commented on #1836
i like the 'what is gitcoin' video as a general overview of the system.. maybe that could be moved to the about page @PixelantDesign ?

[2018-08-02 18:05] PixelantDesign commented on #1926
Looks good. Short and sweet. I want to see a super hero in this video for some reason!
I'll put together a Gitcoin Grants logo.

[2018-08-02 18:11] mbeacom commented on #743
My original intent here was to replicate the `index.html` with the exception of dynamic navbar items and data.  Aligning with the existing design should be fine.

[2018-08-02 18:26] aj07 commented on #1860
@PixelantDesign Is that bounty still open. If yes, I would like to work on it.

[2018-08-02 20:42] oogetyboogety commented on #1528
@thelostone-mc @PixelantDesign @owocki
I think we should be good to go on this one after some final testing
![screenshot from 2018-08-02 16-38-39](https://user-images.githubusercontent.com/3319254/43609799-f40bb5f2-9672-11e8-9916-075d783ea876.png)
Would you like screenshots of the cooperative/contest workflow as well?

[2018-08-02 22:00] vs77bb opened #1928 "UX Add Project Type + Approval Settings to Issue Details"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I'd like the ability to toggle easily between 'Approval Only' / 'Permissionless' bounties and 'Contest' / 'Cooperative' / 'Traditional' bounties so that I am less prone to unrecoverable user error.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide descriptio

[2018-08-03 03:14] nanspro commented on #1861
@thelostone-mc  @PixelantDesign  done.

[2018-08-03 03:25] nemaniarjun commented on #1855
Is this reserved for @KennethAshley ? I would like to help out in some way atleast :grin: :rocket:

[2018-08-03 03:27] thelostone-mc commented on #1855
@nemaniarjun this is up for grabs ! @KennethAshley is working on the FE ^_^

[2018-08-03 03:33] nemaniarjun commented on #1273
![image](https://user-images.githubusercontent.com/15715894/43622850-d7d54e32-96fb-11e8-8013-7621d09ba737.png)
- Show total earned (including tips) so that the contributor ranks and eth collected doesnt seem weird
- Clicking on the rank of contributor should redirect to leader board.

[2018-08-03 03:35] nemaniarjun commented on #1273
- http://gitcoin.co/profile/nemaniarjun/ should not give 404 but redirect to http://gitcoin.co/profile/nemaniarjun

[2018-08-03 03:39] nemaniarjun commented on #1727
Hey!
I have set up the environment and figured out some changes to be made.

Some queries:
From https://github.com/gitcoinco/web/blob/5c4e999fbe6281145e694f21659b640a5ae70221/app/dashboard/models.py#L1469
[code]
 I plan on changing the name of this function to `received_tips`. Should I remove the `on_repo` part. As it should not be apart of `Tips Received` (Example: https://gitcoin.co/profile/TimV

[2018-08-03 10:33] thelostone-mc commented on #1861
@PixelantDesign could you please share the icons to @nanspro ? ^_^
Also other changes have been merged, so this is good for payout

[2018-08-03 15:04] #1844 closed

[2018-08-03 15:05] mbeacom commented on #1844
@ceresstation Thanks - This should be good for payout!  Thanks again @nanspro!

[2018-08-03 15:51] #435 closed

[2018-08-03 15:55] thelostone-mc commented on #435
@PixelantDesign good for payout !! ^_^
Thanks for your contribution  @evgeniuz

[2018-08-03 16:36] PixelantDesign commented on #1528
That would be great to see coop and contest workflows. This looks good so far though. What do you think @vs77bb

[2018-08-03 18:16] pinkiebell commented on #1864
I wanted to keep the api design consistent, so an uniform bounty(ies) endpoint included.
For the profile endpoint, what if I play with the rinkeby network and want to use the profile endpoint?

I'm good with v0.2 👍

[2018-08-03 18:23] #1443 closed

[2018-08-03 18:33] thelostone-mc commented on #1727
@nemaniarjun

Makes sense ! @mbeacom this look ok ?

- Check out [doc](https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY.md#optional-import-bounty-data-from-web3-to-your-database) to sync data with rinkey network
- we've got a bunch management commands which you can run to populate data
Eg : [sync_profile](https://github.com/gitcoinco/web/blob/master/app/dashboard/management/comman

[2018-08-03 18:37] PixelantDesign commented on #1904
I agree on reusing the bounty pending page here.

[2018-08-03 18:39] thelostone-mc commented on #1860
@aj07 Ah it looks like @dapperAuteur just submitted a request for it!
You could always lend a hand to @dapperAuteur if needed and collaborate  and split the bounty

Sorry about not being able to answer your query quicker 😅
PS: gitcoinbot is the source of truth ! So you can always check that to see if the bounty is up for grabs

[2018-08-03 18:49] PixelantDesign commented on #1671
Moving the remaining bugs to August Bug List

[2018-08-03 18:49] #1671 closed

[2018-08-03 19:19] #1566 closed

[2018-08-03 20:15] nemaniarjun commented on #1727
Thanks for the reply! :grin:
I will check out the doc and revert back with any questions.

Yes, I meant Off as in off it and on some other network. My bad, should have been more clear :sweat_smile:

[2018-08-03 20:20] PixelantDesign opened #1932 "UX for Follow an Org"
### User Story

As a contributor I'd like the ability to follow a repo that I care about.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
- [ ] Action to follow an Org
- [ ] Show confirmation that user has followed the org
- [ ] Identify where else this information should show up

[2018-08-03 20:24] PixelantDesign commented on #1928
Is this a ux or a build task?

[2018-08-03 22:34] nemaniarjun commented on #1727
![image](https://user-images.githubusercontent.com/15715894/43668458-b142bbf2-979a-11e8-852c-693af0adace7.png)
How does this look?

[2018-08-03 23:40] tjayrush opened #1934 "Small issue with display"
**Describe the bug**

On this page:

<img width="1255" alt="gitcoin website bug" src="https://user-images.githubusercontent.com/5417918/43669926-e0ea5540-9754-11e8-833b-c6d678d66c22.png">

You can see the entire bug. It's very simple. The report box says I funded two ethers worth of bounties, but the listing shows that one of the issues was canceled. It should only say I funded 1 Ether of bounties

[2018-08-04 04:50] nanspro commented on #1808
@PixelantDesign @owocki because no one was working on this issue i did some basic changes in /funder and /contributor.
I was not able to find some icons and screenshots so i have used duplicates.

[2018-08-04 05:07] nanspro commented on #1808
![screenshot-2018-8-4 gitcoin grow open source](https://user-images.githubusercontent.com/24641089/43672712-8ddc8792-97d1-11e8-836b-8d13fa07cc6d.png)
Navigation Bar:  when a user clicks an item, they are taken to the appropriate section
![screenshot-2018-8-4 gitcoin grow open source 1](https://user-images.githubusercontent.com/24641089/43672714-96882806-97d1-11e8-8acb-278d0dcf1bdb.png)
Things to N

[2018-08-04 07:45] thelostone-mc commented on #1727
lol we should probably disable showing tips to self :P not sure 😂

[2018-08-04 09:50] Rahul-Sagore opened #1938 "Better State Management: "No result found" and "Results" are getting displayed at the same time"
**Describe the bug**
Need to handle state in better way. If I randomly clicks on sidebar Radio button, without waiting for response then result of two API call gets displayed on page.
E.g if one radio button has no result for API call and second one had results, then I was able to see both things at same time:

**To Reproduce**
* Click "Fullfilled by me" under "My Projects", it will render "No res

[2018-08-04 09:56] Rahul-Sagore opened #1939 "CloudFront: 504 Gateway Timeout on Website onLoad"
**Describe the bug**
Website stopped working after sometime. Giving 504 gateway error, result view is empty.

**To Reproduce**
No idea, getting this error after using gitcoin web for sometime. Now continuously getting error.
Might happen if user frequently clicks on radio button on sidebar.

**Expected behavior**
Website should work. API call should be error free

**Screenshots**
<img width="1440"

[2018-08-04 10:01] Rahul-Sagore opened #1940 "Unable to see links on Footer, due to Lazy load of results"
**Describe the bug**
On https://gitcoin.co/explorer page, when I scroll I see footer, but as soon as I read links, it jumps to bottom, because you are lazy loading the results list. Not a good UX. Either there should be pagination or "Load more" button.

**To Reproduce**
* Go to https://gitcoin.co/explorer
* Scroll down to footer
* After 1 - 2 second, results gets loaded footer pushed down to bott

[2018-08-04 14:43] thelostone-mc commented on #1938
@Rahul-Sagore thanks for pointing that out ^_^

[2018-08-04 14:46] thelostone-mc commented on #1940
@PixelantDesign @SaptakS It's a valid point
Folks from the community did like it when we did like that

Hmm paginate / load ==  more clicks but a better UX !

[2018-08-04 14:48] #1888 closed

[2018-08-04 15:02] thelostone-mc opened #1942 "new bounty : make it evident that edits are possible only via github issue"
### User Story

Current flow ->
Funder creates an issue by pasting the github link on http://gitcoin.co/new which fetches and auto populates the form in a disabled text box
On hover -> a tooltip appears stating we sync up github
(So any update made there gets refelected when we sync on an hourly basis )

- Should we hide the details field on the issue creation page cause the user can't edit it any

[2018-08-04 15:18] thelostone-mc commented on #1808
@PixelantDesign / @owocki could you verify the change !
If UI / img needs to be changes  --> we need to let @nanspro know about it -> so that he can get it done and we can merge this in :)

[2018-08-04 18:00] jhselvik commented on #1471
I'm still waiting for a response on [281](https://github.com/ethereum/populus/issues/281), but it looks simple enough to just submit a PR. I'll do that early next week when I am back near my work computer.

[2018-08-04 23:27] Thoughtscript commented on #1860
Hi! Just checking to see if there's any work on this that still needs doing! Thanks!

[2018-08-05 01:11] PixelantDesign commented on #1928
@willsputra interested?

[2018-08-05 03:34] PixelantDesign commented on #1942
@thelostone-mc

- We can pull it in as a read only (not in a form field), displaying all of the content.

- We could add a note that says " Please edit the details on Github"

- Resync button after editing is a good idea.

[2018-08-05 04:02] PixelantDesign opened #1943 "Make Clear on Funder Form How Syncing and Editing Works"
### User Story
As a Funder, I'd like a way to know where to update the details of my Issue.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: It's unclear right now

### Description
*Type*: Feature

### Current Behavior
We pull in the issue details, b

[2018-08-05 04:03] PixelantDesign commented on #1942
https://github.com/gitcoinco/web/issues/1943

[2018-08-05 16:32] NedelescuVlad commented on #1177
@PixelantDesign @owocki @mbeacom @thelostone-mc have just updated the PR and I'm ready for reviews / feedback. Please have a look when you can: https://github.com/gitcoinco/web/pull/1351

[2018-08-05 17:00] darkdarkdragon commented on #1807
@gitcoinbot still working

[2018-08-05 18:16] dapperAuteur commented on #1860
Hey @aj07 & @Thoughtscript,
I'm working on this now and would like to do it on my own. Django and wagtail are new to me and I'll ask for help if I need it. I promise not to let my ego get in the way of the project being done correctly. I'll send y'all an update in a couple days. Check in with me on Tuesday if you don't hear from me. Cool?

[2018-08-05 18:43] PixelantDesign opened #1944 "Request to Increase Allowable # of Issues In Progress"
### Discussion

For the use case of - a contributor has submitted 2 PRs, is working on 1, and would like to pick up another issue...should we allow for the contributor to notify us that 2 PRs are pending maintainer approval and he has bandwidth?

<img width="665" alt="screen shot 2018-08-05 at 2 24 16 pm" src="https://user-images.githubusercontent.com/238235/43688679-50638d76-98bb-11e8-9cf3-cbed83

[2018-08-05 19:01] davidbanu commented on #1840
Activity appear for every profile, no matter if the latest activities will be populated or not (No data available).

[2018-08-06 00:13] darkdarkdragon commented on #1944
@PixelantDesign sounds good.
Some notes:
1. There is no point in asking for prs urls here. We have field for pr url in Submit form, but is optional. Probably we should check here if work was submitted with urls to prs
2. If contributor has to prs with urls I think it's ok to grant him 4th issue upon request automatically.

[2018-08-06 02:10] PixelantDesign commented on #1934
Thanks for reporting this @tjayrush!

[2018-08-06 02:14] PixelantDesign opened #1946 "User Receivin Twin Emails"
https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1533512218000023

[2018-08-06 08:57] justpixel commented on #1905
I've updated the page with the new elements.
![grant detail](https://user-images.githubusercontent.com/7627020/43707092-d3b4652e-996f-11e8-88ae-f4c466ac1383.png)

[2018-08-06 09:45] justpixel commented on #1907
Do you think a modal window is enough? Or it should have a separate page?
![withdraw funds](https://user-images.githubusercontent.com/7627020/43709811-7ef0c580-9976-11e8-804f-e0f8bd207a30.png)

[2018-08-06 10:32] PixelantDesign commented on #1944
@darkdarkdragon

Agreed on this.

I think this could work

[2018-08-06 10:44] PixelantDesign opened #1947 "Add Approve Worker on Issue Details"
### User Story

As a funder I should be able to approve a worker via the Issue Details Page.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We currently have many actions available to manage the task after a worker begins, but not an action to appr

[2018-08-06 11:48] mbeacom opened #1949 "RelatedObjectDoesNotExist: User has no profile."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/258/

[code]

[2018-08-06 11:49] #1949 closed

[2018-08-06 11:51] PixelantDesign commented on #1940
Is there a way to load and not hide the footer? Should we allow for more items by default and per load?

[2018-08-06 12:42] justpixel commented on #1909
I've attached the wireframe. Maybe we can display a link with "My grants" in the top right Account menu.
![my grants](https://user-images.githubusercontent.com/7627020/43717088-1da79bbe-998f-11e8-8448-16972bdbd8db.png)

[2018-08-06 12:51] justpixel commented on #1908
For the "frequency of their contribution" Do you think it will work better a select with day, week, month?
![fund grant](https://user-images.githubusercontent.com/7627020/43717494-6fe492b4-9990-11e8-96e5-ce1b75eee706.png)

[2018-08-06 13:45] nanspro commented on #1808
@PixelantDesign  @owocki  any changes required?

[2018-08-06 13:49] nanspro commented on #1861
@PixelantDesign  can you review my submitted work?

[2018-08-06 13:51] nanspro commented on #1844
@mbeacom  @ceresstation issue is closed and PR is merged.
Can you review my submitted work so that i can close this issue on gitcoin and apply for more bounties.

[2018-08-06 14:02] alexZielonko commented on #1822
I didn't realize rebasing my forked branch would update this, apologies for all unnecessary noise on this issue. As this bounty is expiring soon, is there anything else I can do to help move this along?

[2018-08-06 15:29] Luminessa commented on #1550
More hairstyles, girly type choices, and clothing. Cute idea just needs a few more options. :)

[2018-08-06 15:35] owocki commented on #1860
Just approved you @dapperAuteur !

@Thoughtscript we'll let you know if anything comes up and we need another contributor

[2018-08-06 15:54] owocki commented on #1808
Did you check https://github.com/gitcoinco/creative ?

I think @PixelantDesign might have a link to them.  I'd like to see this solved before we pay this out.

@nanspro can you click 'start work' on the bounty so that others dont claim it?

would you mind uploading a screenshot of the entire page?  its hard to review the disjointed images.

[2018-08-06 16:55] owocki commented on #1939
Happy Monday!  @Rahul-Sagore i'm not able to get this reproduced right now.  Are you experiencing the issue right now?

[2018-08-06 17:23] PixelantDesign opened #1950 "Make it Clear for Funders - How to Payout"
### User Story

As a funder, I want a reminder of the wallet address associated with an Issue and how to pay out the bounty. Make this clear for funders.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

Funders aren't sure how to pay

### Definition of Done
[c

[2018-08-06 17:41] PixelantDesign commented on #1808
Hello @nanspro All art files are included in the sketch file at the bottom of the description.

https://github.com/gitcoinco/web/files/2242578/How_It_Works_V2.zip

[2018-08-06 17:42] owocki commented on #837
just put in a fix for this https://github.com/gitcoinco/web/commit/9f209627a9ecfe2efa0e54679fa5a27bcb712ddd

[2018-08-06 17:42] owocki commented on #115
just put in a fix for this https://github.com/gitcoinco/web/commit/9f209627a9ecfe2efa0e54679fa5a27bcb712ddd

[2018-08-06 18:12] owocki commented on #1902
i found the issue.  writing up an issue report now

[2018-08-06 18:20] owocki commented on #1902
i found the issue

here is the fix: https://github.com/gitcoinco/web/commit/50113ab3e6d77fdde78d20d8f1a80b02c0e05ac3

as you can see in the above fix; the issue was that we were treating the receive tx's `to` param as a good default preferred profile address.  this was a safe assumption EXCEPT IN THE CASE OF AN ERC20 TRANSFER, in which the actual prferred payout address was a param to that tx. der

[2018-08-06 18:20] #1902 closed

[2018-08-06 19:50] vs77bb commented on #1528
@oogetyboogety I think it generally looks good. Some feedback below:

- Can we bold the **funding amount** and add a parenthesis. Example: **.10 ETH** (**$44.44 USD** @ $444.48/ETH)
- Can the funding amount persist throughout the stages? This ensures anyone who comes to the ticket, at any point, can see the funding amount for the issue.

@owocki also curious your thoughts here, but shaping up well

[2018-08-06 20:34] vs77bb opened #1951 "Submit Work Prior To Approval"
**Expected behavior**
Users should not be able to 'Submit Work' on a bounty until they have been approved to work on the bounty.

**Screenshots**
[Example here.](https://github.com/OriginProtocol/origin-dapp/issues/329)

Individuals were not yet 'approved' this task. However, 3 submitted work. This should have not been the case. You should only be able to submit work if you've been chosen to work

[2018-08-06 20:47] owocki opened #1952 "404s on gitcoin profiles"
hey @davecraige i have a note from you this weekend that there were some 404s on gitcoin profiles.  mind posting a little bit about that bug 🐛 so we can tackle it here?

[2018-08-06 20:51] dapperAuteur commented on #1860
@PixelantDesign @mbeacom @thelostone-mc
Where, in the repo, may I find graphics?
Are they all located here 'web/app/assets/v2/images/'?

[2018-08-06 21:14] vs77bb commented on #1928
This issue is reserved for @arun1595 🙂

[2018-08-06 21:16] owocki commented on #1528
looking good so far

[2018-08-06 21:59] vs77bb commented on #1867
Would it be fair to re-name this 'Bugs / Small Product Fixes'? Just added a few issues I think fit in that category which are important operationally, but don't make their way into priorities.

[2018-08-06 22:10] owocki opened #1953 "as a user, i want it to be clear that gitcoin was initially bootstrapped, so the not_a_token page doesnt come off as arrogant"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want it to be clear that gitcoin was initially bootstrapped, so the not_a_token page doesnt come off as arrogant
see reference convo:
http://bits.owocki.com/2e310R1z0C0O/Screen%20Shot%202018-08-06%20at%204.09.30%20PM.png

### Why Is this Needed

[comment]: # (Describe the problem and why this task is nee

[2018-08-06 22:17] owocki commented on #1946
i put a fix in for this this morning!

[2018-08-06 22:17] #1946 closed

[2018-08-07 04:10] PixelantDesign commented on #1528
I agree with bolding the amounts.

Funding amount on all of the stages adds too much noise. @vs77bb
Let's try to show **CHANGE** in the thread vs. everything (If everything is important, nothing is important).

If users are really confused, we can add it back.

[2018-08-07 04:28] PixelantDesign opened #1955 "August Cut Off ======================="
Work below this issue are if extra time allows.

[2018-08-07 04:52] PixelantDesign commented on #1808
Hi @nanspro Looks like you're making good progress. There's still quite a bit to hash through. Let us know if you have specific questions. We'd like to see the content and build as close to the design as possible.

[2018-08-07 04:58] PixelantDesign opened #1956 "Make it Easy for Funders to Reserve an Issue For or Tag a Contributor"
Not Ready to Be Worked On

### User Story

As a funder I'd like to be able to reserve an issue for a contributor.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

### Additional Information
[comment]: # (Any other information that would be useful, content, screenshots, etc

[2018-08-07 05:09] PixelantDesign commented on #1860
@Thoughtscript it's yours if you're interested! [Please click start work on this page](https://gitcoin.co/issue/gitcoinco/web/1860/892)....

[2018-08-07 05:17] justpixel commented on #1860
@PixelantDesign I've attached the .sketch files for these two pages.
[contributor-funder.zip](https://github.com/gitcoinco/web/files/2265066/contributor-funder.zip)

[2018-08-07 06:17] justpixel commented on #1890
I've added the new fields to the existing design.
![create grant](https://user-images.githubusercontent.com/7627020/43757789-a86e2c16-9a22-11e8-8e08-710d149cf0f1.png)

[2018-08-07 11:47] thelostone-mc commented on #1808
@nanspro Oi lemme know if you hit a roadblock ^_^
I wanna try and get this in by next week cause this page is super important to first time users

[2018-08-07 12:05] thelostone-mc commented on #1940
@PixelantDesign So cause of lazy loading -> we automatically fetch more issues and populate them giving the feeling of infinite scroll

While this is nice -> like @Rahul-Sagore pointed out it's impossible for the user to use the footer unless they've exhausted the scroll cause as they scroll to the footer -> infinite scroll kicks in -> more issues pop up and footer is pushed further down

[2018-08-07 13:10] #1616 closed

[2018-08-07 13:27] PixelantDesign opened #1958 "Gitcoin Notification Strategy"
### Discussion

As we scale the platform, we'll need to think through our notification strategy.

Current:
- Github notifications
- Email notifications
- Profile dropdown Notifications (tips sent)

We also have this, but let's focus convo on the 3 above.
- Attention/take action notifications (in the moment)

How much should we build vs. how much should we leverage Github?

Goal: Come up with a dec

[2018-08-07 13:35] vs77bb commented on #1895
I like the idea of starting with Solution 2 and then moving back into a potential Solution 1 down the road  👍

[2018-08-07 14:42] ceresstation commented on #1844
@nanspro Just paid out, sorry for the delay!

[2018-08-07 15:22] owocki commented on #1860
@mbeacom @SaptakS i think you have a better handle of the proposed architecuture here, but i dont think we want to add a dependancy upon Netflify here? cc @kannucool1421

[2018-08-07 15:37] vs77bb commented on #1855
Hi @nemaniarjun Thanks for your interest here - we went with @eswarasai as he's worked with @KennethAshley in the past. Please do reach out on Slack if there's anything you'd like to work on in the Gitcoin issues list, we'd love to work with you on it.

[2018-08-07 15:37] owocki commented on #1950
in the 'funded by 0x0000000000000000000000000000' could we collapse the address to be '0x000...000' ?

[2018-08-07 15:38] nemaniarjun commented on #1855
Cool, I'd look into it.

On Tue, 7 Aug 2018, 9:07 p.m. Vivek Singh, <notifications@github.com> wrote:

[2018-08-07 15:58] owocki commented on #1958
i think we should spend 1/2 hour on a call fleshing this out.

personally i think there is value in having all our notifications on all 3 channels and allowing the user to turn off the external (github / email) ones if they find them too noisy.

[2018-08-07 20:08] thelostone-mc commented on #1860
@dapperAuteur thanks for giving us the heads up :D
FYI in the future :  all our creative assets usually reside in https://github.com/gitcoinco/creative if it's not already not used in the `web` repo

[2018-08-07 21:32] pinkiebell commented on #1928
I missed one crucial thing: One can only the change the bounty data in the 'Draft' stage, not after bounty activation.

Either we implement a user friendly kill & re-issue flow.
or
We do it offchain.

Thoughts?

[2018-08-07 21:47] captnseagraves commented on #1908
@justpixel I think weekly or monthly would be best.

As addressed on the team call this morning, it probably makes more sense for this view to be a page instead of a modal. Could you iterate on this idea, please?

Also, I think it might more sense for the user to type in the amount they are will to contribute, instead of having the slider. @PixelantDesign thoughts?

[2018-08-07 21:49] captnseagraves commented on #1905
@justpixel I like where this one is. It might make more sense of the "All Updates" tab to be the leftmost option out of the four.

[2018-08-07 22:30] captnseagraves commented on #1908
Another thought, does this page need a withdrawal history. I'm sure it does, that might have been a copy/paste error from the withdraw page issue.

[2018-08-07 22:33] captnseagraves commented on #1909
@justpixel yes, we will need to think about the flow of how to get to this page. It could be via the account section, and/or could be through the "Grants Index" page.

[2018-08-07 22:36] captnseagraves commented on #1910
@justpixel Agreed, a modal does make more sense for this page and I like the nice illustration idea. I had a typo in the copy for the page though. I updated it in the original issue. Could you update it in the wireframe?

[2018-08-07 22:40] captnseagraves commented on #1890
@justpixel I like where this one is for the most part. Kevin O. mentioned in the call this morning that it doesn't need to be left aligned and would look better without all the extra white space to the right. Could you play around with that a little bit?

[2018-08-07 22:42] captnseagraves commented on #1904
Sounds like we are just to replicate and change a little bit of copy

[2018-08-07 22:46] captnseagraves commented on #1889
@justpixel I dont think we need the topic tabs. The search bar should be enough to search by project title or topic keyword.

@PixelantDesign Do we need a "My Grants" button on this page or should we add it to the account section in the top bar.

[2018-08-07 23:16] captnseagraves opened #1960 "Create "Grants Detail - Admin" Page - Design"
### User Story

As a Grant creator, I want to view and edit the details of my grant so that I can change details, withdraw funds, give updates, and know how many funders I have.

### Why Is this Needed

The "Grant Detail - Admin" page is needed to allow a grant creator to edit their grant, withdraw funds, and update their supporters.

### Description

*Type*: Feature

### Definition of Done

- [ ]

[2018-08-07 23:17] captnseagraves commented on #1960
Assigning @justpixel

[2018-08-08 00:11] owocki opened #1961 "DESIGN - As a user, I want the "Top 5 Guarantee" so I know that Gitcoin is worth my efforts."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want the "Top 5 Guarantee" so I know that Gitcoin is worth my efforts.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Right now, as a contributor to Gitc

[2018-08-08 07:29] #1934 closed

[2018-08-08 09:59] PixelantDesign opened #1962 "See More Than One PR on Staging at a Time"
### User Story

As a core team member, I'd like to be able to view more than one thing on staging at a time.

### Current Behavior
We have a lot of prs that need to get reviewed - work created from the internal team as well as the community. Currently we can only view one PR on staging at a time. This slows down and is sometimes a blocker in the workflow.

### Potential Solution

**Create a way to

[2018-08-08 15:06] PixelantDesign commented on #1950
Yep, we can try that. I initially had it that way since it's sort of a standard, but thought maybe best to not abstract anything.

[2018-08-08 16:22] owocki opened #1964 "Update Gitcoin for breaking MetaMask changes"
Please read this medium article before reading this desc.

https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

OCTOBER edit: heres a new post from metamask about how to do this: https://medium.com/metamask/eip-1102-preparing-your-dapp-5027b2c9ed76

The scope of this ticket is to update Gitcoin for the above breaking metamask changes.

Please submit a

[2018-08-08 17:11] owocki commented on #1840
thanks let me know!

[2018-08-08 17:15] owocki commented on #1908
per meeting yesterday, we decide to move this to a page instead of modal.  other than that, LGTM

[2018-08-08 17:15] owocki commented on #1905
this looks really good to me

[2018-08-08 17:19] owocki commented on #1907
i think we decided this should be a page not a modal right?

other than that LGTM

[2018-08-08 17:19] owocki commented on #1909
this LGTM.

[2018-08-08 17:32] owocki commented on #1928
@pinkiebell this is not a standard bounties change. its a gitcoin change

[2018-08-08 17:33] StevenJNPearce commented on #1961
As the No. 5 contributor on Gitcoin I've increased the funding on this issue, I see it as a small investment in my future career!

[2018-08-08 17:53] pinkiebell commented on #1928
@owocki
I just looked out for a good solution to reflect the changes via a new ipfs object.
However, this does not work :/.
So I will implement these changes in BountyModel now.

[2018-08-08 17:56] owocki commented on #1961
hehe :)

[2018-08-08 18:01] owocki commented on #1961
@marciogurka ok lets give this a shot. approving you now.  can you have a mockup by friday?

[2018-08-08 18:30] austintgriffith commented on #1823
Hey guys! I'm working on getting meta transactions going with only minor changes to your frontend (no contract changes). My live demo and info is up here: https://github.com/austintgriffith/bouncer-proxy Let me know if I can help with anything.

[2018-08-08 18:34] owocki commented on #1823
looking forward to playing with this 👆👆

[2018-08-08 19:02] owocki commented on #1860
Netflify: yay or nay?

[2018-08-08 19:12] austintgriffith commented on #1823
Awesome! I believe @cooganb is also hard at work getting some things changed over so it conforms better to @avsa's standards (ERC 1077 in particular).

[2018-08-08 19:27] owocki opened #1966 "as a user, i want to fund development work with bitcoin, because bitcoin is my preferred crypto currency"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to fund development work with bitcoin, because bitcoin is my preferred crypto currency

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
bitcoin is the

[2018-08-08 19:39] owocki opened #1967 "as a system administrator, i want KYC/AML on bounties, so that i know that no nefarious actors are using the system"
### User Story

as a system administrator, i want KYC/AML on bounties, so that i know that no nefarious actors are using the system

### Why Is this Needed

Implementing Wyre forms the foundation for two things to happen on Gitcoin: KYC AML and connection to fiat.

1. Bounty hunters can get paid out in fiat.
2. Bounty funders can pay their bounties in fiat and still end up with a bounty in DAI.
3.

[2018-08-08 19:40] owocki commented on #1864
curious what @mbeacom thinks here

[2018-08-08 21:38] pinkiebell commented on #1928
#1968 Ready for review (left 2 comments)

[2018-08-08 22:13] pinkiebell commented on #1928
@owocki
Btw, would be nice to have ipfs links in the future, so we can follow through 'revisions' of the gitcoin schema. 😄

[2018-08-08 22:18] owocki commented on #1928
we have the schemas specs listed at https://github.com/Bounties-Network/StandardBounties/blob/master/docs/gitcoinSchemas.md !

also if you look into your local DB, there IPFS hashes for thecontent blobs are stored in the `bounty` objects

[2018-08-08 22:32] pinkiebell commented on #1928
@owocki
I know, but I mean embedding ipfs object links in the bountyData, so that we can have a list of schemas (added later).

https://ipfs.io/docs/api/#api-v0-object-patch-add-link
https://ipfs.io/docs/api/#api-v0-object-links

[2018-08-08 22:45] owocki commented on #1872
LGTM

[2018-08-08 23:25] darkdarkdragon commented on #1769
@PixelantDesign @owocki ok, I've tested current code - created a bunch of issues, pull requests and comments. Current code works correctly, it pickups comments from pull requests.
It will not pickup activity related to issue only in case that no one will reference bounty's issue in pr/comment to pr. We can solve this by going trough submitted prs and picking activity from them too, but don't think

[2018-08-08 23:28] owocki commented on #1769
thanks for the investigatory work!

[2018-08-08 23:30] darkdarkdragon commented on #1769
@owocki np. good to see this working. I remember this was a problem for me back in the days

[2018-08-09 00:59] nemaniarjun commented on #1952
Yeah I noticed and made a commend somewhere about the trailing slashes. Maybe it was in `Profile V2` issue.

[2018-08-09 01:02] nemaniarjun commented on #1867
Found a Bug!
The feed on the landing page shows `0.1 DAI` (I am guessing that is because the bounty is in DAI)
But the Issue page says `0.1 ETH`
![image](https://user-images.githubusercontent.com/15715894/43872114-a8cd3982-9b9d-11e8-8d34-c675feccee1d.png)
![image](https://user-images.githubusercontent.com/15715894/43872131-c86f0432-9b9d-11e8-9737-979c0b384dff.png)

PS: Not creating a issue on gith

[2018-08-09 01:04] nemaniarjun commented on #1961
Love the idea! <3

[2018-08-09 01:12] marciogurka commented on #1961
Hey @owocki for sure I can do it by Friday, can I email you?? Just to clarify some doubts that I have about the issue before start working on them :)

[2018-08-09 01:16] bdresser opened #1970 "No values in "Denomination" input"
Trying to post a bounty, but the "denomination" / currency field is empty. Tried typing in `ETH` but no luck.

I'm used to it just pre-filling ETH and I think it usually has other options like DAI too. Works fine on Brave, which is odd (but good, bc I still posted my bounty 😄)

<img width="345" alt="screen shot 2018-08-08 at 6 04 43 pm" src="https://user-images.githubusercontent.com/1016190/438722

[2018-08-09 01:27] #637 closed

[2018-08-09 03:26] #1938 closed

[2018-08-09 07:49] mbeacom opened #1972 "invalid literal for int() with base 10: '926)'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/344/

[code]

[2018-08-09 07:53] mbeacom commented on #1972
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/345/

[2018-08-09 07:53] mbeacom commented on #1972
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/343/

[2018-08-09 10:09] zevaverbach commented on #1964
Okay, getting acclimated to the codebase.  @owocki any value in, as I do this, creating some documentation about `pending.js`, `bounty_details.js` and similar modules where crucial global vars are defined, for the next 10 spelunkers?  I'd propose putting it in the [docs](https://github.com/gitcoinco/web/tree/master/docs), possibly in its own document `GLOBAL_VAR_GLOSSARY.md` etc.

[2018-08-09 10:40] zevaverbach commented on #1964
@owocki as expected, the `web3` object is all over the place in the js files.  Are the five events described in the issue the only events ever facilitated on Gitcoin?

[2018-08-09 12:17] #1972 closed

[2018-08-09 12:59] mbeacom opened #1976 "get_notifications - TypeError: string indices must be integers"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/77/

[code]

[2018-08-09 15:19] owocki commented on #1860
@kannucool1421  i just approved you. still want the job?  if so, pls post your latest architecture / implementation plan here

[2018-08-09 15:50] owocki commented on #1964
Hey Zev, yes to documentation if you find it helpful to document what you learn!

I don't believe so, no.  But they are the five most major use cases right now.

I wonder if instead of trying to migrate away all the global variables, we instead use some of the code that proimps the user to 'unlock' their metamask when there is no web3 enabled, to instead 'enable Gitcoin on their Metamask?  This wo

[2018-08-09 16:04] owocki commented on #1867
Thanks @nemaniarjun -- good find.

[2018-08-09 16:06] owocki commented on #1970
@bdresser what metamask network are you on?  this should only happen if you're on an unsupported network like ropsten or a custom local network

[2018-08-09 16:06] owocki commented on #1961
pls post your doubts on the github issue.. thanks

[2018-08-09 18:11] owocki opened #1979 "test github issue for demo to token foundry"
test github issue for demo to token foundry

scope for the issue would go here

[2018-08-09 20:26] PixelantDesign commented on #1890
Agree let's reuse new bountyr form format here.

[2018-08-09 20:32] PixelantDesign commented on #1910
Yes lets make it a page.

We probably need the following info:

- Name of Grant to be cancelled
- Start date.
- Effective date of cancel (does this happen right away?)
- Describe to user what they need to do
- Terms checkbox if any @captnseagraves ?
- Message that team members of this grant will be notified (they should be).

What happens to the funds that are in that grant? Does it stay open unti

[2018-08-09 20:36] PixelantDesign commented on #1909
Idea looks good.

[2018-08-09 20:40] PixelantDesign commented on #1905
Looks good to me as well. Milestones looks like it could be V2.

[2018-08-09 20:45] PixelantDesign commented on #1908
Sliders are cool but it will be frustrating to move it around, trying to get an exact value. Standard input field would be best there.

[2018-08-09 20:46] #1979 closed

[2018-08-09 20:52] PixelantDesign commented on #1907
yes looks good! let's put on a page.

What happens after I click withdraw? Metamask?

[2018-08-09 20:52] gitcoinbot opened #1981 "Auto-Approvals: No Update of Gitcoin Activity (in Issue Details)"
**Describe the bug**
If an individual is ‘auto-approved’ (i.e. 24 hours has passed, thus they automatically ‘Start Work’), they show as ‘Applied’ in Issue Details but as ‘Work Started’ on the Issue Explorer. They should be listed as 'Work Started' in Issue Details when they are approved.

**Expected behavior**
Add the 'Work Started' note in the Issue Details once they 'Start Work'

**Screenshots**

[2018-08-09 21:00] vs77bb opened #1982 "Gitcoin Bot Prodding Of Applied (or Passively Rejected) Workers"
**Describe the bug**
Gitcoin Bot is currently prodding workers who have not yet been 'Approved' for issues / were not selected to work on a task. These workers should not be warned for abandonment.

For workers who are approved, their 3 day Gitcoin Bot nudge should start from the point of approval, not when they applied to work the bounty.

**To Reproduce**
See this issue.. I deleted the Gitcoin B

[2018-08-09 21:01] owocki commented on #1982
there is an open PR for this at https://github.com/gitcoinco/web/pull/1857 -- id like 👀 from @mbeacom @thelostone-mc or @SaptakS

[2018-08-09 21:33] octavioamu commented on #1543
A way to solve this could be just don't use the class '.st1' for the glasses so the eyes with the same class are not overwritten. That works?

[2018-08-09 22:13] vs77bb commented on #1982
Thanks for the heads up here... didn't realize you had put in a fix

[2018-08-09 22:14] vs77bb commented on #1982
Can we make sure the fix also makes sure that **only** accepted / approved workers are prodded, not applicants who are rejected / passively rejected (i.e. no action taken)?

[2018-08-09 22:17] vs77bb commented on #1970
@owocki @bdresser There definitely is a latency issue here sometimes... if you wait a bit, the tokens show up, but it sometimes doesn't load as fast as the rest of the page. Thanks for raising an issue here.

cc @mbeacom @SaptakS

[2018-08-09 22:51] owocki commented on #1982
yes the PR does that.. PR just needs to be reviewed / merged

[2018-08-10 01:43] bdresser commented on #1970
Was on mainnet. Tried a bunch, but very possible I was being impatient.

Worked for me today though, so feel free to close.

Keep up the good work y'all!

[2018-08-10 02:30] nanspro commented on #1861
@PixelantDesign  can you provide those 6 icons so that i can finish this.

[2018-08-10 03:59] vs77bb opened #1983 "Multi-Party Payout Recipients Not Showing in 'Work Done'"
**Describe the bug**
Bounties paid our via multi-party payout don't show up in Issue Details.

**To Reproduce**
[See this example](https://gitcoin.co/issue/Great-Hill-Corporation/quickBlocks/611/870) and [this one.](https://gitcoin.co/issue/OriginProtocol/origin-dapp/329/900)

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
System acknowledges t

[2018-08-10 05:58] Rahul-Sagore commented on #1939
Yes.

Just created a screencast for the issue.

https://drive.google.com/file/d/1X6H6qZD4_uhg1hQBGCxaq_mTLY-HMov3/view?usp=sharing

[2018-08-10 13:30] thelostone-mc commented on #1950
@octavioamu any chance this function you wrote up is modular so that we can reuse it here ?

[2018-08-10 13:36] PixelantDesign commented on #1861
Apologies for the delay @nanspro!

Please use the following font awesome icons (we already have these installed) and place icon below each number - with some space below the number. Icon size should be about 40 px in size.

### Funder - Use the Gitcoin Yellow color.
**Post a Bounty**  https://fontawesome.com/icons/ethereum?style=brands
**Work with a Gitcoiner**  https://fontawesome.com/icons/users

[2018-08-10 13:47] tjayrush commented on #1934
@owocki Too generous! Thanks.

[2018-08-10 13:53] octavioamu commented on #1950
@thelostone-mc yes you can pass the like an attr to an html element with the hash
[code]

[2018-08-10 13:55] mbeacom commented on #1860
I rather not introduce Netflify...  Can we please proceed with the outlined scope/spec with Wagtail ?

[2018-08-10 14:40] zevaverbach commented on #1964
@owocki sounds good, I'll take this approach

[2018-08-10 17:00] PixelantDesign opened #1985 "Funder Unable to Approve Worker"
## **Describe the bug**
Funder is unable to approve a worker (using metamask account that issue was funded with).
The workers who applied also do not show up for core team members with admin privileges.

**Link** https://github.com/Bounties-Network/bounties.network/issues/7

## **To Reproduce**

Create an issue without logging in.

## **Expected behavior**

Be able to pay out using correct MM acco

[2018-08-10 17:31] owocki commented on #1985
http://bits.owocki.com/2f3Q1h1P342w/Screen%20Shot%202018-08-10%20at%2011.28.41%20AM.png

per convo with @PixelantDesign on gitcoin slack, this was a problem with the bounty submitter not being logged in at the time, so we can't authenticate that they're the funder when they go to approve the bounty hunter!

@mbeylin we just updated the bounty such that your github handle is the handle on the bount

[2018-08-10 19:16] mbeylin commented on #1985
Great work 👍

[2018-08-10 20:17] thelostone-mc commented on #1774
Closing as this cannot be reproduced!

[2018-08-10 20:17] #1774 closed

[2018-08-10 20:24] owocki opened #1986 "API call is too slow"
https://gitcoin.co/api/v0.1/bounties/?moderation_filter=&network=mainnet&tech_stack=&misc=&&coinbase=unknown&order_by=-web3_created

This API call its too slow.

We should find a way to improve it's performance.

[2018-08-10 20:31] mbeacom commented on #1986
We just need to introduce real pagination of the queryset results.  Right now, the only thing passing limit and offset is doing is simply slicing the results of the QS and the payload that's returned from the call without offset/limit is returning an object with all results, but split into segments.  We need to page through those results instead of attempting to deliver the whole dataset at once a

[2018-08-10 20:33] mbeacom commented on #1986
Course of action here:

- Enable DRF OffsetLimitPagination
- Add `PAGE_SIZE` default of something like 50-100 results
- Modify the current infinite scroll functionality to check the existence of `next_page` in the payload and if it's present, request the next page.

[2018-08-10 22:13] owocki commented on #1986
here is a WIP PR https://github.com/gitcoinco/web/pull/1925

[2018-08-10 22:34] oogetyboogety commented on #1528
@PixelantDesign @vs77bb New screenshot:
![screenshot from 2018-08-10 18-31-43](https://user-images.githubusercontent.com/3319254/43984030-f2268cbc-9ccb-11e8-9d67-85e7e920ac50.png)

[2018-08-10 23:15] zevaverbach opened #1987 "add troubleshooting to RUNNING_LOCALLY_DOCKER.md for "port is already allocated" error"
### Additional Information
Would you accept a PR implementing this?  It would be something along the lines of "look for the already-allocated port number in the output of `sudo lsof -i -P -n`, then do `kill -9 <PORT_NUM>`.  The app should start without an error now."

[2018-08-11 00:49] hardlydifficult commented on #1966
**Gitcoin.co BTC Support Using BTC Relay**
Bounty funders deposit Bitcoin into escrow held by Gitcoin. Using BTC Relay, the deposit can be proven inside Ethereum using a smart contract call.  Once a bounty is complete, or if it expires and should be refunded, the smart contract can track Gitcoin’s commitment until the final payment is sent and proof provided to Ethereum by way of another smart con

[2018-08-11 06:30] abitrolly opened #1988 "Development Environment Checklist for issue funders"
### User Story

As a contributor I want issue projects to be easy to start, test and develop with CI support, autoreloading and coverage warnings so that I can concentrate on the specific problem that is being awarded and not on project development environment.

### Why Is this Needed

Project maintainers already know how to setup their development environment, but for other people it is unexplore

[2018-08-11 08:13] abitrolly opened #1989 "Torrent of dev flow?"
`Access Gitcoin's torrent of dev flow` is something worthy $10k but what's the price is for?

### Done

Show a tooltip next to menu item.

### Comments

It is been a while and I missed everything about monetization. ;) I would replace $10k with ETH flow though. It is more exciting to burn ETH than to deal with those ###.

[2018-08-11 14:28] writeprovidence commented on #1966
N ARCHITECTURE THAT DESCRIBE HOW AN INTEGRATION BETWEEN GITCOIN AND BTC-RELAY WOULD WORK.

What Is Gitcoin?

Gitcoin is a decentralized app for value creation and value capture. Gitcoin was created by the community found in Boulder Colorado that thrives on the tech scene. The goal of the project is to combine the give first mantra of the community with capitalistic incentives to come up with great

[2018-08-11 17:12] frankchen07 opened #1990 "as a bounty hunter, I want to be reminded to submit my work on Gitcoin once the ticket is closed on Github so I can get paid out for my work"
### User Story

As a bounty hunter, I want to be reminded to submit my work on Gitcoin once the ticket is closed on Github so I can get paid out for my work.

### Why Is this Needed

When a Github ticket is closed due to completion, but a user doesn't actually submit their work on Gitcoin, the issue remains open and the the bounty hunter doesn't get paid. Example [here](https://github.com/ethereum

[2018-08-11 19:03] zevaverbach commented on #1964
@owocki "some of the code that prompts the user...": By this do you mean some of Metamask's code?  I'm only seeing a static message "Please Unlock Metamask to Continue" in `web`, not a prompt.

[2018-08-11 19:25] zevaverbach commented on #1964
All right, this pending Metamask PR seems like it will provide the needed UI component. https://github.com/MetaMask/metamask-extension/pull/4703

[2018-08-11 19:41] oogetyboogety commented on #1528
@PixelantDesign,
Screenshots of your flow based on recent review by @mbeacom and yourself:
![screenshot from 2018-08-11 15-08-54](https://user-images.githubusercontent.com/3319254/43995521-c7991b84-9d7c-11e8-8575-beef9627211c.png)
![screenshot from 2018-08-11 15-09-41](https://user-images.githubusercontent.com/3319254/43995524-cd6695fa-9d7c-11e8-839f-85746b26c0c5.png)
![screenshot from 2018-08-11

[2018-08-11 20:52] davidbanu commented on #1840
Still working on it.

[2018-08-11 21:16] owocki opened #1991 "As an ethereum user, I want a gas guzzler explorer in gitcoin.co/gas, so I can VISUALLY explore the topology of the networks of gas explorers."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an ethereum user, I want a gas guzzler explorer in gitcoin.co/gas, so I can explore the topology of the networks of gas explorers.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happ

[2018-08-11 21:48] zevaverbach commented on #1964
@owocki one more comment here:  Without making sure `web3.js` is included in several pages in addition to tips + bounties -- such as faucet -- `web` will break with respect to Metamask because the `Web3` class won't be available.  Outside the scope of this issue, but FYI.

[2018-08-12 01:59] frankchen07 opened #1993 "as a funder, I want to be able to update a Gitcoin bounty post by assigning specific Gitcoin prefixed labels to bountied Github issues or by detecting if a Github issue's status has changed"
### User Story

As a funder, I want to be able to update a Gitcoin bounty post by assigning specific Gitcoin prefixed labels to bountied Github issues or by detecting if a Github issue's status has changed. The Github labels will be synced to change the status of the bounty on the Gitcoin issue explorer.

### Why Is this Needed

While exploring stale bounties on the Gitcoin issue explorer, I found

[2018-08-12 09:27] #1852 closed

[2018-08-12 10:15] mbeacom opened #1995 "Crowdfunding bounties results in bad activity stream entries"
**Describe the bug**

The activity stream of crowdfunded bounties display `Tip Received` *to* the crowdfunder.  Additionally, there seem to be unrecognized activity items (or rather, activity items that don't have mapped JS activity copy).

**To Reproduce**
Crowdfund a bounty, have someone submit work, accept and payout. 🔥 🚒

**Expected behavior**
Crowdfunding bounties results in new activity stre

[2018-08-12 10:52] adamdossa commented on #1991
I played with some blockchain visualisation a while back at:
http://vizor.enclaves.io/
happy to open source or contribute if useful.

[2018-08-12 15:26] tomasienrbc commented on #1991
This would be awesome - my $0.02 is that generally those "node visualizations" are really hard to us in reality. They could be really useful if they can be clicked into to get to something easier to understand.

If you start working on this we should try to get some data viz experts to weigh in!

[2018-08-12 18:45] mbeacom commented on #1970
Thanks for the heads up @bdresser !

[2018-08-12 18:45] #1970 closed

[2018-08-13 10:54] #1952 closed

[2018-08-13 10:55] #1985 closed

[2018-08-13 11:01] pinkiebell commented on #1951
Is this free to grab? 😄

[2018-08-13 13:02] justpixel commented on #1908
The slider has also an text input, but if you think is not necessary I've removed it.
Page updated:
![fund grant](https://user-images.githubusercontent.com/7627020/44033151-247b1104-9f12-11e8-8f94-267112572d32.png)

[2018-08-13 13:05] ziyangkoo commented on #1843
Hi @ceresstation , I can start working on this since the issue is currently opened on Gitcoin.

[2018-08-13 13:30] owocki commented on #1991
Yeah I agree. They have to be designed to be traversable instead of just looking pretty.

[2018-08-13 16:48] frankchen07 opened #1996 "Workers who are not approved to work on a task should not be warned for abandonment, the 3-day Gitcoin bot nudge should start from the point of approval, not the point of application"
### User Story

Workers who are not approved to work on a task should not be warned for abandonment. If they are approved, their 3-day Gitcoin bot nudge should start from the point of approval, not when they applied. If they are not approved, the 3-day Gitcoin bot nudge should not happen at all.

### Why Is this Needed

Gitcoin bot is overzealous in warning non-approved workers for 3-day abandonme

[2018-08-13 16:54] owocki commented on #1996
fixed via https://github.com/gitcoinco/web/pull/1857

[2018-08-13 17:58] pinkiebell commented on #1928
@gitcoinbot 👍

[2018-08-13 18:34] ziyangkoo commented on #1843
The auto-translation is not working currently.
The locale directory has to be renamed.
Do you want me to submit a pull request for this?

Reference: [https://github.com/django/django/tree/master/django/conf/locale](url)

[2018-08-13 21:50] writeprovidence commented on #1966
Hello@owocki this is the link to the research report about bitcoin funding on gitcoin.

https://medium.com/@writeprovidence/an-architecture-that-describe-how-an-integration-between-gitcoin-and-btc-relay-would-work-3e1e79e1e64a

[2018-08-13 22:17] owocki commented on #1966
tghanks! im very excited about this.  will review it soon

[2018-08-13 23:01] owocki commented on #1966
This is awesome... Thank you!

I wonder if there is a way to do this without Gitcoin holding the Bitcoin private keys.  There's legal considerations here as we are not a money transmitter.

This could be a possible scenario that'd be really exciting for us.  From what I undrestand, RSK allows solidity contracts to be deployed to it; so we could perhaps submit StandardBounties to their blockchain.

[2018-08-13 23:01] owocki commented on #1966
@writeprovidence any chance youre interested in implementing this ? :):)

[2018-08-13 23:17] owocki commented on #1950
hows thsi going?  who is working on it?

[2018-08-13 23:33] hardlydifficult commented on #1966
Under alternatives I mention you could have the funder pay the hunter directly.  This means you never hold onto funds.  We won't be able to prevent the funder from spending the funds on something else while the hunter is hard at work... but we could at least validate the funder's account holds enough BTC before the bounty is accepted.  Still... a risk to hunters.

[2018-08-14 05:56] #1996 closed

[2018-08-14 08:07] calchulus commented on #1991
Going to keep thinking about how to do this, will be kinda slow but this is super interesting.

[2018-08-14 09:31] deguvunor commented on #1966
@owocki yes.

[2018-08-14 10:02] thelostone-mc commented on #1950
@SaptakS is but he needed a function which @octavioamu had written up in the other repo !

[2018-08-14 10:51] pinkiebell commented on #1962
You could create a new branch, merge selected pull requests into that and use a continues integration platform.
I think codefresh has a github implementation and staging environments.

[2018-08-14 11:48] justpixel commented on #1889
I've done the design for this one, but I've inculded all the requested changes . Pixelant needed it for a presentation.
![dev grants index-design](https://user-images.githubusercontent.com/7627020/44089832-e09eef68-9fd0-11e8-9d7d-7df027559244.png)

[2018-08-14 11:49] justpixel commented on #1905
Updated.
![grant detail](https://user-images.githubusercontent.com/7627020/44089965-460c6812-9fd1-11e8-90b0-ebfd5eeae3a6.png)

[2018-08-14 11:51] justpixel commented on #1907
![withdraw funds](https://user-images.githubusercontent.com/7627020/44090028-748a4eca-9fd1-11e8-90e0-2ad0869d4324.png)

[2018-08-14 11:52] justpixel commented on #1910
![cancel funds](https://user-images.githubusercontent.com/7627020/44090074-9994c54c-9fd1-11e8-92bf-d388767cf089.png)

[2018-08-14 11:52] justpixel commented on #1890
Updated:
![create grant](https://user-images.githubusercontent.com/7627020/44090092-ab42aa02-9fd1-11e8-8c5c-a9927c4d3e21.png)

[2018-08-14 11:53] justpixel commented on #1960
I've tried to keep al the edits inline.
![grant detail admin](https://user-images.githubusercontent.com/7627020/44090119-c02fa636-9fd1-11e8-8ca5-eb77577e4138.png)

[2018-08-14 12:20] vyomshm opened #1999 "Submitted "start work" info-comment did not show up in the connected GitHub issue."
**Describe the bug**
I applied to "start work" on a traditional project - [here](https://gitcoin.co/issue/ikunetwork/alpha/102/945) and my info did not show up the connected github issue page. It updated the project on gitcoin's website but the @gitcoinbot did not post the same to the issue page.

**To Reproduce**
Github issue page - [here](https://github.com/ikunetwork/alpha/issues/102)

**Expect

[2018-08-14 14:26] ceresstation opened #2000 "As a contributor, I would like the Gitcoin bot to tell me whether a bounty is cooperative or not"
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Some contributors are not aware that larger issues they're viewing are cooperative, for example in https://github.com/duaraghav8/Solium/issues/94, and shy away from taking on the whole task.

### Soluti

[2018-08-14 14:46] PixelantDesign commented on #1528
Looking good! @owocki @vs77bb @thelostone-mc @mbeacom ?

[2018-08-14 14:49] #1878 closed

[2018-08-14 15:16] owocki commented on #1860
@kannucool1421 im removing you from the task.  please do not apply again if you don't plan on responding to our comments.

[2018-08-14 15:42] octavioamu commented on #1950
@SaptakS @thelostone-mc I will post the link to the code in our private channel.

[2018-08-14 16:12] PixelantDesign commented on #1950
@SaptakS @thelostone-mc
Let's proceed with just the banner as designed with the ability to dismiss.

[2018-08-14 17:31] #1999 closed

[2018-08-14 17:50] PixelantDesign commented on #2000
I actually had this in an earlier version of Gitcoin Bot updates.

[2018-08-14 18:28] PixelantDesign opened #2001 "Add Ability to Select a Contributor via autocomplete to Tip"
As a user I'd like to be able to not have to memorize GitHub usernames or spelling of a contributor so that I can send a tip.

**Estimate 3**

### Description

Add ability to select a user via autocomplete in a type down in tips dialog .

### Current Behavior
Type Name in input field

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- [ ] A us

[2018-08-14 18:40] PixelantDesign commented on #1993
IF Issue has been closed on Github for expiration reasons <-------- we should prompt funder and ask if they need it extended, right?

IF Issue closed on actual completion <----- we should close on issue explorer automatically.

@frankchen07  @thelostone-mc

[2018-08-14 19:09] thelostone-mc commented on #1993
I get the reason behind it but we can't close the bounty just cause the GitHub issue is closed !
We'd need the funder to perform the payout or cancel to be able to go ahead and close the issue on the explorer!

[2018-08-14 19:58] owocki opened #2004 "revive gitcoin explorer stats"
we used to have stats in the search results prior to https://github.com/gitcoinco/web/pull/1925

they looked like this:

<img width="1414" alt="screen shot 2018-08-14 at 1 56 50 pm" src="https://user-images.githubusercontent.com/513929/44114981-ea83b092-9fc9-11e8-9de0-101c9fdaf0b2.png">

they had to be removed because we were adding pagination to the search results, and therefore we wouldnt have s

[2018-08-14 19:58] owocki commented on #2004
@mbeacom @PixelantDesign cc

[2018-08-14 20:09] PixelantDesign commented on #1962
@mbeacom @owocki @SaptakS ?

[2018-08-14 20:11] PixelantDesign commented on #1951
Yes! @pinkiebell

cc: @thelostone-mc @SaptakS @mbeacom

[2018-08-14 22:18] bdresser commented on #1970
hey this is happening again

<img width="1437" alt="screen shot 2018-08-14 at 3 17 34 pm" src="https://user-images.githubusercontent.com/1016190/44121513-37ee1380-9fd5-11e8-9e56-439f47a3dab6.png">

[2018-08-14 22:26] owocki commented on #1876
i dont think this needs to be a multisig for MVP. i think it can just be the address that we use to dispurse funds (0x00de4b13153673bcae2616b67bf822500d325fc3).

this is a good idea to make optional, as long as it doesnt set a bad precedent for our ability to monetize down the line.

[2018-08-14 22:34] owocki commented on #1987
good idea!

@mbeacom what do you think?

[2018-08-14 22:35] owocki commented on #1988
this is an interesting idea....

@PixelantDesign @mbeacom @vs77bb what do yall think?

[2018-08-14 22:50] owocki commented on #1964
yea i agree this is an issue.  seems like it should be fairly trivial to just include web3.js 0.20.3 as a dependancy on gitcoin and set metamask to the provider if it exists.    i believe this PR ( https://github.com/gitcoinco/web/pull/985 ) does this already!

[2018-08-15 10:05] chungtuhung commented on #2001
50.000 token TREK được phát hành nó như là cổ phiếu changex.com của chúng tôi cho các giao dịch , mỗi TREK =10$ tối thiểu 100$
Địa chỉ hợp đồng
0x019e6ff5e03b2ed8336f83b7b3f2e09b55770635

[2018-08-15 12:16] PixelantDesign commented on #1910
looks good to me!

[2018-08-15 12:25] PixelantDesign commented on #1889
Looks good. I shared a file with you on slack just updating the search area, since it seems to stand out more than the rest of the page.

[2018-08-15 12:29] PixelantDesign commented on #1908
Looks good!

[2018-08-15 15:04] warezgibzzz commented on #1461
Hi there.
@phyroxin is this still an actual task?

[2018-08-15 15:21] owocki opened #2008 "as a user, i want to be able to approve/disapprove tokens on settings/tokens"
as a user, i want to be able to approve/disapprove tokens on gitcoin.co/settings/tokens (not just approve them)

Success criteria:
* for approved tokens, user may also disapprove them
* if they are disapproved, they are removed from the list

[2018-08-15 15:32] mbeacom opened #2010 "Disable Advanced Payout submission if required fields are empty/invalid"
**Describe the bug**
Users can submit the `Advanced Payout` form even if fields that should be required are empty or invalid.  For example, recipient address.

**To Reproduce**
Submit the advanced payout form without a recipient address.

**Expected behavior**
Display error opposed to allowing submission.

[2018-08-15 15:49] owocki commented on #1991
@aerophile looking forward to working with you.

[2018-08-15 16:09] frankchen07 commented on #1993
Thanks for the comments @PixelantDesign - I think the flow of expiring issues makes sense.

It makes sense what @thelostone-mc is saying - we can't just close the Github issue without making sure that the bounty hunter is paid out or if the issue was cancelled. It still requires manual sync on Gitcoin team's side since the funder/issuer has to @ one of us and say "hey, the status of the Github tic

[2018-08-15 16:44] nemaniarjun commented on #1727
@gitcoincobot I am still working on this. Will update my progress here soon

On Wed, 15 Aug 2018, 9:47 p.m. Gitcoin.co Bot, <notifications@github.com>
wrote:

[2018-08-15 17:04] owocki commented on #2001
Just listed TREK on gitcoin!

[2018-08-15 17:25] warezgibzzz commented on #1461
Anyway, i replicated it.
My steps:
1. Installed docker-toolbox to local drive Z:/
2. Cloned the clean repo to disk drive Z:/
3. Copied the env fie via `cp app/app/local.env app/app/.env`
4. Lanched docker-compose up
5. Got the same "Cannot stat directory app"

[2018-08-15 18:09] owocki commented on #1895
@mkosowsk how long do we have until the funding goes live?

@PixelantDesign @thelostone-mc @SaptakS this wasn't part of August priorities.. is it easy to knock out?  if so, might be worth spending 45 minutes on soon.  if not, we should bounty it

[2018-08-15 18:25] 0xbitcoin commented on #1966
@owocki Hey so I wish you ALL of the luck on this project!!  I went down this road and I tried so hard.  I tried so so hard and after all of my research I found the same thing.... somebody has to hold or manage some BTC private keys on the Ethereum side and a smart contract cannot do that.  Maybe BTCrelay is an option, I am not sure..

In any case, you CAN use a bitcoin-like token on Ethereum as a

[2018-08-15 18:48] pinkiebell commented on #1995
@owocki You may want to visit the url again. Looks fine except for the 'Tip Received' activity.
Which makes no sense to display it in the activity stream, because crowdfunding, or am I wrong here?

[2018-08-15 20:12] PixelantDesign commented on #1895
@thelostone-mc @SaptakS could we add in option 2 (updating Gitcoin Bot text)?

[2018-08-15 20:12] christopherlema commented on #1895
@mkosowsk Hopefully by the end of this week (next week at the latest). Maker has already started to disburse funds to the other grantees, but we are still waiting on the KYC check.

[2018-08-15 21:18] owocki commented on #1966
thanks @0xbitcoin --- checking out 0xBTC now

[2018-08-15 21:30] owocki opened #2011 "issue explorer keyword bug"
screencast: http://bits.owocki.com/0O1z39093m1V/Screen%20Recording%202018-08-15%20at%2003.30%20PM.gif

1. open up incognito window
2. go to gitcoin.co/explorer
3. type in python and press enter
4. search is for 'undefinedpython instead of python.

scope of bounty:
1. fix this so it searches python

[2018-08-15 21:49] tcrowe commented on #2011
Clue here: https://github.com/gitcoinco/web/blob/ba9203d74ab2cacd0b200c2a852d24f66ba09942/app/assets/v2/js/pages/dashboard.js#L142

[2018-08-15 23:05] frankchen07 commented on #1990
Specific parts of this issue are rolled up to #1993.

[2018-08-15 23:05] #1990 closed

[2018-08-15 23:46] pinkiebell commented on #1995
Zip, late brainwave. The link is wrong 😆

https://gitcoin.co/issue/gitcoinco/web/1921/894

[2018-08-15 23:51] nemaniarjun commented on #2011
@owocki @pinkiebell
Maybe we can also check if the entered keyword is already present and not add it if it is already there.

[2018-08-15 23:54] frankchen07 commented on #1791
hey @thelostone-mc - I'm helping Alisa manage some check-ins on August bountied milestones. How does this ticket fit into your current workload, and is there anything unclear that's blocking you?

[2018-08-16 00:04] frankchen07 commented on #1769
hey @darkdarkdragon, how it going on this issue? It looks like you said this issue can be closed after some exploratory work. Was there a code/bug fix or a PR that ensures that this problem is fixed?

[2018-08-16 00:14] frankchen07 commented on #1855
hey @eswarasai, I'm helping @vs77bb follow up on some August bounties. How is this issue coming along?

[2018-08-16 01:52] owocki commented on #2011
thx for PR!  will merge / payout if it looks good

[2018-08-16 02:08] owocki commented on #1983
This is a good one.

I'm bountying it.

For anyone who works on this in the future.  You want to attach the `tip.username for tip in bounty.tips.filter(is_for_bounty_fulfiller=False)` in the 'work done' column on the UI

[2018-08-16 03:01] davidbanu commented on #1840
@gitcoinbot,  still working...

[2018-08-16 08:07] #1947 closed

[2018-08-16 08:27] darkdarkdragon commented on #1769
@frankchen07 code that is already in repository already covers the problem raised in this issue

[2018-08-16 09:27] adamdossa commented on #1991
Agree on the utility vs. prettiness aspect. Being able to easily manipulate a viz. and drill through to see more detailed info (or switch views to highlight different aspects of the data) would be very cool.

I will put my code up and a link here, hopefully this weekend.

[2018-08-16 10:18] #2011 closed

[2018-08-16 14:17] mbeacom opened #2015 "Bad USDT conversion data"
**Describe the bug**
Conversion rates from `polonex` seem to be creating additional `ConversionRate` objects which result in bad values being displayed on `/explorer` and bounty details pages.

**To Reproduce**
Visit https://gitcoin.co/explorer or any bounty details page.

**Expected behavior**
Display correct converted values on the explorer and bounty details pages.

**Screenshots**

![screensho

[2018-08-16 15:53] frankchen07 commented on #1769
So it sounds like to me that the current code encompasses:

1. Gitcoin bot picks on a linked PR
2. Gitcoin bot picks up comments on PRs
3. Gitcoin bot does NOT pick up comments on PRs when the original issue is not referenced in the PR - and based on your exploration it's a high manual effort that isn't worth it.

Does this sound correct @darkdarkdragon?

@owocki & @PixelantDesign - if the conclus

[2018-08-16 16:18] #2015 closed

[2018-08-16 17:53] owocki commented on #1995
@pinkiebell you da best!

@mbeacom let me know when ok to payout

[2018-08-16 18:54] darkdarkdragon commented on #1769
@frankchen07 Yest, it's right. For 3 - we can make bot to go through all the submitted PRs, but don't think it worth it, because any mention of original issue in the comments thread of PR will allow bot to pick up activity from that thread.

[2018-08-16 19:55] NukeManDan commented on #1991
I like this as a basic visual block explorer : http://ethviewer.live
Not sure of the overlap with this bounty... Some components might transfer well?

[2018-08-16 19:56] PixelantDesign commented on #1808
@nanspro are you still interested in this project?

[2018-08-16 21:00] PixelantDesign commented on #1988
Great idea @abitrolly!

[2018-08-16 21:18] owocki commented on #1855
we could snooze gitcoinbot here if you want?  looks like from the slack channel there is some progress happening on this

[2018-08-17 02:30] eswarasai commented on #1855
@owocki -- Sure. Sounds good. Thanks!

[2018-08-17 12:55] justpixel commented on #1960
Design:
![grant detail admin](https://user-images.githubusercontent.com/7627020/44267184-f7410500-a235-11e8-9467-a2c8c01d212c.png)

[2018-08-17 12:56] justpixel commented on #1908
Design:
![fund grant](https://user-images.githubusercontent.com/7627020/44267212-0d4ec580-a236-11e8-8bb9-9ca1759f9412.png)

[2018-08-17 12:56] justpixel commented on #1905
Design:
![grant detail](https://user-images.githubusercontent.com/7627020/44267222-163f9700-a236-11e8-9fad-1f35993b13d1.png)

[2018-08-17 12:56] justpixel commented on #1907
Design:
![withdraw funds](https://user-images.githubusercontent.com/7627020/44267234-25264980-a236-11e8-987a-cc19187d35fc.png)

[2018-08-17 12:57] justpixel commented on #1909
Design:
![my grants](https://user-images.githubusercontent.com/7627020/44267243-2ce5ee00-a236-11e8-9d66-95c22fb8ab9c.png)

[2018-08-17 12:57] justpixel commented on #1910
Design:
![cancel funds](https://user-images.githubusercontent.com/7627020/44267259-366f5600-a236-11e8-9fc0-ccbf40ffaa99.png)

[2018-08-17 12:58] justpixel commented on #1890
@PixelantDesign you choose form a list of members. I think it should be an approve stage.

![create grant](https://user-images.githubusercontent.com/7627020/44267307-5dc62300-a236-11e8-8ae4-9886d7590fb6.png)

[2018-08-17 12:58] justpixel commented on #1889
Here is the updated file.
![dev grants index](https://user-images.githubusercontent.com/7627020/44267323-6ae31200-a236-11e8-862b-809c016ea25b.png)

[2018-08-17 14:28] nanspro commented on #1808
@PixelantDesign  yes i am.
I have already submitted an PR and i will update it by tomorrow.

[2018-08-17 21:10] captnseagraves opened #2019 "Implement "My Grants" Page - Frontend"
### User Story

As a Grants user, I want to see all grants that I am contributing to or am an administrator of so that I can easily find grants I am involved in.

### Why Is this Needed

The "Fund Grant" page is needed to allow users easily find grants they are involved in.

### Description

Type: Feature

### Definition of Done

- [ ] Frontend implements designs at https://github.com/gitcoinco/we

[2018-08-17 21:10] captnseagraves commented on #2019
Assigning @eswarasai

[2018-08-17 21:10] #1909 closed

[2018-08-17 21:22] captnseagraves opened #2020 "Implement "Fund Grant" Page"
### User Story

As a Grant funder, I want to contribute funds to a grant so I can support projects that are important to me.

### Why Is this Needed

The "Fund Grant" page is needed to allow users to contribute fund on a chosen recurring cycle

### Description

*Type*: Feature

### Definition of Done

- [ ] Frontend implements designs at https://github.com/gitcoinco/web/issues/1908 on the https://

[2018-08-17 21:29] owocki commented on #1663
bounty-ing this now.  i will pay 30 DAI per accepted avatar item, up to 4 per person.  please allow 1-3 iterations on your design from first submission

[2018-08-17 21:33] captnseagraves opened #2021 "Implement "Grants Detail" Design - Frontend"
### User Story

As a Grants user, I want to view the details of a grant so that I can know if I want to fund the project, know what the status and recent updates for the project, or know how many funders I have.

### Why Is this Needed

The "Grant Detail" page is needed to display what the current state of a grant and its associated project is. It will display the information captured in the "Crea

[2018-08-17 21:33] captnseagraves commented on #2021
Assigning @eswarasai

[2018-08-17 21:39] captnseagraves commented on #1907
Yes, I think having USD displayed would be nice! Could you add that to the design @justpixel ?

[2018-08-17 21:51] captnseagraves opened #2022 "Implement "Grants Withdrawal" Page - Frontend"
### User Story

As a Grant creator, I want to withdraw funds that have been given to the project on a monthly basis so that I can sustain myself and my team

### Why Is this Needed

The "Grants Withdrawal" page is needed to allow a grant creator to withdrawal funds that have been given to the project

### Description

*Type*: Feature

### Definition of Done

[ ] Frontend implements designs at http

[2018-08-17 21:51] captnseagraves commented on #2022
Assigning @eswarasai

[2018-08-17 22:05] captnseagraves commented on #1910
@PixelantDesign I don't know that we need a terms checkbox on this page, but we might want one on the "Fund Grant" Page. Also, yes the smart contract will probably send funds that haven't been claimed yet to the Service Provider. This will prevent users from canceling their subscriptions and getting free services.

[2018-08-17 22:14] captnseagraves opened #2023 "Implement "Cancel Funding" Page - Frontend"
### User Story

As a Grant funder, I want to cancel my subscription to a grant project so I can end support whenever I want to.

### Why Is this Needed

The "Fund Grant" page is needed to allow users to cancel support for a given project.

### Description

*Type*: Feature

### Definition of Done

- [ ] Frontend implements designs at https://github.com/gitcoinco/web/issues/1910 on the https://githu

[2018-08-17 22:15] captnseagraves commented on #2023
Assigning @eswarasai

[2018-08-17 22:35] captnseagraves opened #2024 "Implement "Create Grant" Page - Frontend"
### User Story

As a Grants user, I want to fill out relevant information about my project so I can create a grant and attract funders

- As a grant creator, I want to submit my completed form so that I can create my grant

### Why Is this Needed

The "Create Grant" page is needed to allow a grant creator to describe their project and deploy a grant which grant funders can contribute to.

### Desc

[2018-08-17 22:35] captnseagraves commented on #2024
Assigning @eswarasai

[2018-08-17 22:42] captnseagraves opened #2025 "Implement "Grants Index" Page - Frontend"
### User Story

As a Grants user, I want to see and search all possible grants so that I can contribute to projects that matter to me, as well as click into the different user flows of the Grants project.

### Why Is this Needed

Users need a central place to find active grants and choose different interactions to have with the grants process.

### Description

*Type*: Feature

### Definition of D

[2018-08-17 22:42] captnseagraves commented on #2025
Assigning @eswarasai

[2018-08-17 22:43] owocki commented on #1895
@SaptakS is on it!

[2018-08-17 22:45] captnseagraves opened #2026 "Implement "Grants Detail - Admin" Page - Frontend"
### User Story

As a Grant creator, I want to view and edit the details of my grant so that I can change details, withdraw funds, give updates, and know how many funders I have.

### Why Is this Needed

The "Grant Detail - Admin" page is needed to allow a grant creator to edit their grant, withdraw funds, and update their supporters.

### Description

*Type*: Feature

### Definition of Done

[ ] F

[2018-08-17 22:45] captnseagraves commented on #2026
Assigning @eswarasai

[2018-08-18 02:50] mkosowsk commented on #1895
Great! We're in good hands :)

[2018-08-18 18:52] vikaskyadav commented on #1550
@Luminessa  do check out #2028  :)

[2018-08-19 08:39] raphaelhuefner commented on #1185
@mbeacom Thank you for merging my PR https://github.com/gitcoinco/python-api-client/pull/3 !

@owocki Does [that merge](https://github.com/gitcoinco/python-api-client/commit/f639cad1d0b9f6631f618665ec7132d733de3701) mean that my work could get accepted on the [Gitcoin issue page](https://gitcoin.co/issue/gitcoinco/web/1185/467) ?

I wasn't even sure myself anymore, but I actually managed to submit

[2018-08-19 10:01] Anupam-dagar commented on #2001
@owocki is this issue free to take up?

[2018-08-19 22:27] aerophile commented on #1991
So Update 1 from my side, I have been going through gitcoin's web repo and setting up the recommended docker version.
@NukeManDan  While http://ethviewer.live is really cool but I don't think its code is open sourced yet, so I don't components could be directly transferred.
@adamdossa Looking forward to your code :+1:

@owocki  Some questions
(1) How would this new feature be accessed ? Will it be

[2018-08-19 22:39] cseelus opened #2029 "Gitcoin rain Animation Performance"
### Current Behavior
When opening certain pages of the website, like https://gitcoin.co/tip/send/2/, CPU utilization skyrockets (Safari MBP 2017 ~60%, Chrome MBP 2017 ~40%).

### Solution
Guess those `<i class="rain color" …></i>` have to go. The same effect can be implemented with SVG animations. This might be much more performant.

[2018-08-20 11:32] mbeacom commented on #1769
@darkdarkdragon I'm looking into the bot timeline activity checks a bit.  I think it's only worth checking associated PRs.  I think it's worthwhile to check PRs that are referenced in `submit work` step.  I think that's what we were looking for with the original issue.  `As a Contributor I'd like for Gitcoin Bot to be smart and know that a PR I submit is related to an open issue that I've committe

[2018-08-20 11:48] darkdarkdragon commented on #1769
@mbeacom Ok, if you think it's worthwhile, I'll do.
btw, I remember that I've pressed 'stop work' on this issue after bot warned me about inactivity. But now I see it didn't worked...

[2018-08-20 14:02] PixelantDesign commented on #1877
Approach - reuse funder dashboard shell, and plug in contributor components.

[2018-08-20 15:32] mbeacom opened #2031 "TypeError: unsupported operand type(s) for +: 'float' and 'NoneType'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/577/

[code]

[2018-08-20 15:37] #2031 closed

[2018-08-20 15:57] thelostone-mc commented on #1981
Is this still happening ?

[2018-08-20 16:01] PixelantDesign commented on #1769
Thanks @darkdarkdragon I'll document as a bug.

[2018-08-20 16:04] PixelantDesign opened #2032 "Clicking Stop Work Did Not Stop Work"
**Describe the bug**
@darkdarkdragon clicked stop work on an issue, and work was not stopped, or Gitcoin Bot did not log the stop action on the Github thread.

**This is the issue:**
https://github.com/gitcoinco/web/issues/1769#issuecomment-410490999

[2018-08-20 16:13] thelostone-mc commented on #1791
Hi @frankchen07 thanks for checking in :)
My only concern is that we've right now -> when a user applies a few filters and closes the browser and revisits the page -> the same filters remain applied (via localStorage) and the URI remains `gitcoin/explorer`

If I were to do this  -> i would have to remove localStorage which means we don't retain the selected filters.

Either
- add deep link -> to m

[2018-08-20 16:41] frankchen07 commented on #1528
Small use case thing I noticed: if it's a contest/cooperative flow, if a new users starts or stops work, does Gitcoin bot automatically state who else is working on the bounty (e.g. gitcoindev1 has **stopped** work, gitcoindev2 is **still working**) and could this potentially be noisy if we have multiple workers and churn?

^ other than that, it seems to be looking great - pinging @owocki @vs77bb

[2018-08-20 16:47] PixelantDesign commented on #1951
Update from @thelostone-mc
There are a few things that still need to be resolved from @pinkiebell from a PR perspective.

[2018-08-20 16:53] mbeacom commented on #2032
@PixelantDesign Can you start moving these bug issues into the `Triage Bugs` project and labeling them with the `bug` label?

[2018-08-20 16:55] frankchen07 commented on #2001
hey @Anupam-dagar - it looks like @brentoneill has started work on this issue. How is it going @brentoneill?

[2018-08-20 17:00] frankchen07 commented on #1808
@nanspro - sounds good. I've snoozed Gitcoin bot for you

[2018-08-20 17:27] darkdarkdragon commented on #2032
I've clicked 'stop work', got notification 'Thanks for letting us know', so I've assumed it was stopped.
But later I've found out that it wasn't stopped.

[2018-08-20 17:32] frankchen07 commented on #1791
From my understanding (from just the conversation above) it sounds like the tradeoff is keeping vs removing localStorage filters which results in:

keeping localStorage filters
1. shorter URLs, but unshareable
2. retains user history
3. may cause an issue with previous filters being applied on top of a shared URL

removing localStorage filters + add deep link
1. potentially long URLs
2. does not r

[2018-08-20 18:05] mbeacom opened #2034 "Optimize Activity query on index page"
Currently, `get_activity` is performing multiple queries to fetch `bounty` related objects to `Activity` and filter down to only `mainnet` bounty activity.

We should `select_related` on this relation to avoid multiple queries.

[2018-08-20 18:07] #2034 closed

[2018-08-20 18:12] PixelantDesign commented on #2032
@mbeacom done

[2018-08-20 19:28] owocki commented on #1991
yes!

etherscan pehraps?  and you could mirror it in the `gas.models` as a new table for easy queryability.

infura could be a good source too.. though id want to check and see if they can handle the massive amounts of data that (by definnition) these gas guzzlers consume

[2018-08-20 19:28] owocki commented on #2029
this is a good thing to fix.  bounyting it now!

[2018-08-20 19:49] oogetyboogety commented on #1528
@frankchen07 Gitcoinbot only displays the still working message if someone has stopped work!

I think @thelostone-mc mentioned that some merge conflicts such as multiparty payouts should be resolved. The big conflicts I see are these:
[code]
Should these multiparty messages be added in to the current copies?

Thanks @frankchen07 for your progress on this!

[2018-08-20 19:52] ajayns commented on #1663
Hey! I've been working on this for a bit now, I've studied the existing art for standards and guides followed, used the same specs and designed a couple of assets. But due to some docker build errors, I'm unable to run the repo locally and so I won't be able to post the screenshots of the avatar builder. In this situation, can I open a PR and can you guys check it out and judge instead?
Following

[2018-08-20 20:02] PixelantDesign commented on #1943
Closing since this is merged!

[2018-08-20 20:02] #1943 closed

[2018-08-20 20:02] PixelantDesign commented on #1950
Closing since this is merged
https://github.com/gitcoinco/web/pull/1853#issuecomment-413859256

[2018-08-20 20:02] #1950 closed

[2018-08-20 20:17] PixelantDesign commented on #1872
Closing since an email has been sent to inactive funders.

[2018-08-20 20:17] #1872 closed

[2018-08-20 20:40] owocki commented on #1663
mind opening up an issue for the docker errors youre seeing?  cc @mbeacom

sure go ahead and submit a PR for the avatars as you expect them.  this is our first time doing this so i'm unsure if it'll work or not though..

[2018-08-20 20:50] vs77bb opened #2036 "Gitcoin Requests (v0: Fork of Gitcoin Faucet)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a open source maintainer / developer / contributor, I want a place where I can drop Github links to projects which Gitcoin might be willing to support via their numerous grant partnerships.

I want this to be available sooner than later, in the lowest friction way possible.

### Description

[comment]: # (Feature

[2018-08-20 20:57] owocki commented on #1185
yes i'm accepting it today.. weee!

[2018-08-20 21:18] vs77bb opened #2037 "BUILD - Reserve Bounties"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to fund and send a bounty directly to a certain group of individuals (or perhaps, just one individual).

### Why Is this Needed
This is needed so that select group of individuals can work on a project.

[comment]: # (Describe the problem and why this task is needed. Provide description of the curr

[2018-08-20 21:30] vs77bb opened #2038 "[Design] Inviting Specific Gitcoiners To Work"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder, I'd like the ability to invite specific Gitcoiners to work on my issue after it is funded so that I can foster continuing working relationships with people who I know and trust.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2018-08-20 21:48] pinkiebell commented on #2036
What if we just could do:

@gitcoinbot
This issue here needs some help 👍 .
Please consider a 50$ bounty to raise awareness 🚀 .

We could extend gitcoinbot to sloppy parse mentions.

[2018-08-20 22:11] raphaelhuefner commented on #1185
Cool, thank you!

[2018-08-20 23:03] owocki commented on #1983
made a PR for this https://github.com/gitcoinco/web/pull/2040

[2018-08-20 23:52] owocki commented on #1872
i think there are other funder habit forming things we'll want to do... but the first item on the list has been done yes

[2018-08-21 00:39] PixelantDesign commented on #2038
I think the top part is the most important info on this page - let's leave this area alone since @thelostone-mc did a really good job on the animation here. We could modify the bottom to be about sharing and invitation, see example below.

<img width="695" alt="screen shot 2018-08-20 at 8 32 40 pm" src="https://user-images.githubusercontent.com/238235/44373664-5b72fb80-a4b8-11e8-8f68-98ea885f0a8f.

[2018-08-21 00:46] PixelantDesign commented on #1882
@SaptakS @thelostone-mc is this something you're still interested in doing this month?

[2018-08-21 01:13] PixelantDesign commented on #1877
Updated contributor dashboard @thelostone-mc @SaptakS, @owocki @mbeacom pls provide feedback.

This is largely what we discussed in last week's product sync, keeping the same modules as the funder dashboard (as much as possible) and providing a way at the top to select role (contributor/funder).

![gitcoin contributor dashboard](https://user-images.githubusercontent.com/238235/44374694-a0e5f780-a4

[2018-08-21 01:29] PixelantDesign commented on #1528
Good Catch @vs77bb , project status should not have an underline.

[2018-08-21 02:01] PixelantDesign opened #2041 "Contributor Landing Page CSS Bug"
<img width="1091" alt="screen shot 2018-08-20 at 10 00 27 pm" src="https://user-images.githubusercontent.com/238235/44376028-9a0eb300-a4c4-11e8-8c36-458da0438964.png">

[2018-08-21 02:22] PixelantDesign opened #2042 "Make Clearer How to Submit Work"
### Discussion

Feedback from ETH India

Users were struggling with the submit work and getting frustrated even though their metamask was locked and it clearly indicated on the screen.

Ideas: We could make this more guided.
@thelostone-mc are you able to provide anymore information on what you think they struggled with?

[2018-08-21 02:26] PixelantDesign opened #2043 "Smoother Funder Payout"
### Discussion

Eth India Feedback

4 Steps to make a payment is long - how do we make this shorter for the funder?
Should we evaluate connecting to other wallets besides metamask?

[2018-08-21 02:31] PixelantDesign opened #2044 "Convert from one ERC Token to Another"
### Discussion

Feedback from Eth India

integrate with atomic swap services to be able to convert from one ERC token to another aka if funded in DAI →  the  contributor can choose to receive payment in ETH instead

[2018-08-21 02:56] #1842 closed

[2018-08-21 04:00] vs77bb commented on #2036
@pinkiebell I like this a lot as well... this is a great idea for the roadmap for Gitcoin Requests. If you think it's something that you can get out in the scope of this ticket, I'd be up for it (and would tip for it).

However, trying to keep this as lean as possible while #1855 and #1033 are being worked for the broader ticket. Just starting by forking the Gitcoin Faucet seems like the easiest w

[2018-08-21 04:56] pinkiebell commented on #2036
@vs77bb I wanted to dig more into the inner workings of the gitcoinbot anyway,
so that's now on my todo list 👍

[2018-08-21 05:03] PixelantDesign opened #2045 "Move Moderator Controls out of main Work Area"
As a core team member, I'd like to see the moderator controls separated from the user controls...
(When I take screen shots, I have to photoshop out irrelevant buttons).

**CURRENT**

<img width="1432" alt="screen shot 2018-08-21 at 12 37 14 am" src="https://user-images.githubusercontent.com/238235/44381593-0c8c8c80-a4df-11e8-8164-03770588ecf5.png">

**UPDATE**

<img width="1427" alt="screen shot

[2018-08-21 05:49] #968 closed

[2018-08-21 05:55] PixelantDesign commented on #2000
bounty after Gitcoin Bot story is finished.

[2018-08-21 06:40] thelostone-mc commented on #1791
This does mean users would see bounties from testnet as well if they were to visit `gitcoin.co/explorer` forcing them to go update the filters

@mbeacom this could be the perfect opportunity to burn out a lot of code and ensuring only mainnet bounties appear on live 😁🔥

Is everyone okay with it  ?
@owocki @SaptakS @mbeacom

[2018-08-21 07:15] SaptakS commented on #1882
Yes. As soon as the django-pipeline PR gets merged, I am gonna start doing this.

[2018-08-21 08:00] ajayns commented on #1663
@owocki Sure! I'll also try figuring out what went wrong meanwhile.

[2018-08-21 08:30] ajayns commented on #1663
Spacesuit avatar (PR: #2046)
Taking @owocki 's space cadet idea from #1550

![screenshot from 2018-08-21 14-00-16](https://user-images.githubusercontent.com/20743219/44390292-8efe6600-a54a-11e8-8803-06177312fb40.png)

[2018-08-21 08:33] ajayns commented on #1663
Shirt-Sweater clothing asset (PR: #2046)
Couple of people asked for more female themed clothing/assets in #1550
This is  aimed to be unisex and fit both the genders easily.

![screenshot from 2018-08-21 13-57-05](https://user-images.githubusercontent.com/20743219/44390382-c705a900-a54a-11e8-9ba9-218603a7cf38.png)

[2018-08-21 09:27] thelostone-mc commented on #2041
@SaptakS we've taken care of this right ?

[2018-08-21 12:56] mbeacom commented on #1843
@ziyangkoo Now that the translation path is updated (thanks again!), are you interested in verifying the auto translations and making the necessary adjustments?

[2018-08-21 13:36] ziyangkoo commented on #1843
@mbeacom Hey sure, I can do that. There are some obvious wrong translations which I can help to rectify.

[2018-08-21 13:54] ziyangkoo commented on #1843
@mbeacom For the Gitcoin bounty shall I resubmit the work again afterward? I was using this issue to check out Gitcoin so I am actually not sure what is the correct workflow.

[2018-08-21 14:30] octavioamu commented on #2029
I already have done this, but I decided not use SVG since the focus is performance and another issue flickering the screen scroll.
With focus in performance, this are the changes I have done:
I am using css gpu animations that are more performatic than cpu ones also I used less nodes to make it
The other use 50 nodes + javascript loop and now is 10 nodes and not JS
This are some techniques used to

[2018-08-21 14:51] #1955 closed

[2018-08-21 15:10] PixelantDesign commented on #1874
mark saptak aditya to sync

[2018-08-21 15:16] PixelantDesign commented on #1850
Delegating starting work and approving work for the entire organization.

[2018-08-21 15:17] owocki commented on #1895
@mkosowsk were almost done with solution 2 and will ship that soon, are you still interested in solution 1?

cc @SaptakS

[2018-08-21 15:28] PixelantDesign commented on #556
Ideas: request additional perm

[2018-08-21 15:50] cseelus commented on #2029
@octavioamu Using CSS animations is indeed better imho. Nicer to implement/iterate on the status quo and good performance.

[2018-08-21 15:58] owocki opened #2050 "as a user, i want gitcoin.co/inbox, so i can manage my notifications (and action items)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want gitcoin.co/inbox (or gitcoin.co/notifications), so i can manage my notifications

### Why Is this Needed
its easy to lose track of your notifications

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what act

[2018-08-21 16:49] owocki commented on #1791
in my mind, we wouldnt blow out all the filters.. we would set them to default filters (probably just 'network = mainnet' )

i do think that its important to be able to browse rinkeby bounties on the dapp, unfrotunately.  it allows users to get familiar with our product without using any of their ETH

[2018-08-21 16:51] nemaniarjun commented on #1727
There is WIP PR pending review!

[2018-08-21 17:09] owocki commented on #2029
ended up rejecting both applicants bc of @octavioamu 's comment above... sorry for the confusion yall!

to the two rejected applicants, if you see any other issues on the issue board (hint: look for tag `good first issue`) and want to tackle them, i will honour the funding level for this issue (75 DAI) for prettymuch any of them that are arguably the same size in scope/complexity