[2018-08-21 17:12] owocki commented on #2045
oooooh i <3 <3 <3 this

@PixelantDesign can we bounty this? unless one of the core team members want sto build it

[2018-08-21 17:14] owocki opened #2052 "bug - cookie header doesnt work with other languages"
screenshot =? http://bits.owocki.com/2F182s212w13/Screen%20Shot%202018-08-21%20at%2011.12.44%20AM.png

repro steps:
1. set your browser to german (or other lang)
2. go to gitcoin.co incognito
3. see bug

scope for this is to
1. fix this issue
2. recommend any steps needed to prevent it from happeneing again (ie do we have to run auto translate once a day or something)?

[2018-08-21 17:14] owocki commented on #2052
@SaptakS this is the bug i was emailing u about

cc @PixelantDesign

[2018-08-21 17:15] SaptakS commented on #2052
Looking at it

[2018-08-21 17:18] PixelantDesign commented on #2050
Thanks for putting this ticket together @owocki @mbeacom

A central place for notifications is a good idea. I think it makes sense to surface maybe top 5 recent actions on the dashboard and then direct users to the Inbox to see all and manage their notifications.

Dropping users on a dashboard (your area) also makes sense, vs. starting on the landing page which is more for marketing.

[2018-08-21 18:31] owocki commented on #2050
yes

agree

agree

agree.

should we bounty this @PixelantDesign @mbeacom  or should we put it on the core contrib's radar for sept?  assuming its a priority.. that is

[2018-08-21 18:41] PixelantDesign commented on #2050
This seems like a big feature, let's build this in-house, thoughts?  @owocki @mbeacom Is there any ground work that we can lay while we figure out the ux of the front end? Curious for planning purposes.

[2018-08-21 18:56] owocki commented on #2050
yes having the frontend built already would be really useful

[2018-08-21 19:57] aashutoshrathi commented on #1680
@ceresstation This issue has been already solved the django. po and djangojs.po in folder `ko` are already made and populated.
What else is to be done in this issue.

[2018-08-21 20:12] mkosowsk commented on #1895
Great!

I'd defer to @cassandrashi @christopherlema @hughlang on Solution 1, I'd personally prefer it but it's up to them :)

Perhaps it might be interesting to do a quick mock-up to try to see how it would look? 🤔

[2018-08-21 20:15] #2029 closed

[2018-08-21 20:46] ceresstation commented on #1843
Hi @ziyangkoo that would be fantastic, thanks!

[2018-08-21 21:02] octavioamu opened #2053 "Watch issues and be notified"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a contributor, I want to be able to watch an issue that is being done by other contributor so if the contributor give up I will know it and I can click "start work".
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2018-08-21 21:40] akru opened #2054 "Replaced transaction tracking"
**Describe the bug**
I have issue with tracking of replaced transaction.

**To Reproduce**
I was send transaction with too low gasprice, after that I resend transaction with more high gasprice on this issue https://gitcoin.co/funding/details/?url=https://github.com/airalab/robonomics_comm/issues/19, and finally, page have no reaction for transaction (in processing forever).

**Expected behavior**

[2018-08-21 22:16] owocki opened #2055 "bug - https://gitcoin.co/profile/vs77bb should show all bounties they've funded"
https://gitcoin.co/profile/vs77bb doesnt show all bounties

probably due to offset/limit stuff

[2018-08-21 22:26] owocki commented on #2054
totally agree... i wish there was a way for metamask to tell a website it has resubmitted a tx

[2018-08-21 22:57] pinkiebell commented on #2036
@vs77bb
Do we want to allow bounty requests without a gitcoin profile / without a user has to be logged in? (ratelimited)

[2018-08-21 23:35] owocki commented on #2054
from metamask team:

[2018-08-22 02:09] pinkiebell commented on #2036
![screenshot 2018-08-22 at 04 05 18](https://user-images.githubusercontent.com/40266861/44438801-17b7e900-a5c1-11e8-9e62-976dbbf54807.png)
![screenshot 2018-08-22 at 04 06 41](https://user-images.githubusercontent.com/40266861/44438804-18e91600-a5c1-11e8-9d6d-311ed8330ed0.png)
![screenshot 2018-08-22 at 04 06 50](https://user-images.githubusercontent.com/40266861/44438806-1ab2d980-a5c1-11e8-957f-f

[2018-08-22 04:09] owocki opened #2057 "as a user who is bountying on behalf of my company, i want an invoice for a bounty, so i can expense it"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who is bountying on behalf of my company, i want an invoice for a bounty, so i can expense it
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
so user can expe

[2018-08-22 05:46] pinkiebell commented on #2032
Maybe we shouldn't show a success banner before we have the result from the api? 😄
We should show a 'please hold the line'/ visual feedback animation instead,
until we actually get the api results. 👍

[2018-08-22 07:15] pinkiebell commented on #2032
Something like that, maybe ? @PixelantDesign

![out](https://user-images.githubusercontent.com/40266861/44448516-c7a24c00-a5eb-11e8-86af-13fa7b392d26.gif)

[2018-08-22 13:34] PixelantDesign opened #2061 "Update Issue Expiring Email"
### User Story

As a funder I'd like to understand all of my options as it relates to an expired issue.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

### Current Behavior
[comment]: # (Describe what actually happened.)

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- [x] Design is updated to account for

[2018-08-22 14:45] octavioamu opened #2063 "Widget errors"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

The widget is with some errors
- Is not filtering the bounties as expected
- The gitcoin logo url is the old one (should change to https://s.gitcoin.co/static/v2/images/logo.png)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

https://jsfiddle.net/octavioamu/j73nqdg2/6/

**Expected behavior**

[2018-08-22 14:59] mbeacom commented on #2063
@octavioamu Thanks for reporting the issue.  I have fixed the logo issue and published a new release to address that (`1.0.3`)...  I will try to make time today to resolve the filtering issue, but I'm open to PRs 😛

[2018-08-22 15:00] octavioamu commented on #2063
I will try to make some time today and fix the malformed request

[2018-08-22 15:07] thelostone-mc commented on #2063
@octavioamu lemme know if you need help :D

[2018-08-22 15:52] frankchen07 opened #2065 "As a developer on Gitcoin developing for Gitcoin, I would like some direction on how to use the Rinkeby network to test out Gitcoin"
### User Story

As a developer on Gitcoin developing for Gitcoin, I would like some direction on how to use the Rinkeby network to test out Gitcoin.

### Why Is this Needed

If I'm a developer new to the space and don't actually have an issue to bounty or any ETH, I would still like to be able to see the the layout of the Gitcoin product and understand the bounty hunter / funder flow.

### Descrip

[2018-08-22 15:53] frankchen07 commented on #2065
@PixelantDesign - I can document some of the copy necessary to close this issue once we go through the process of getting me set up to use Rinkeby. :)

[2018-08-22 16:28] vs77bb commented on #2036
@pinkiebell Screenshots look great! @owocki @mbeacom could we review this and get it up this week if it looks good? I'm antsy 😄

[2018-08-22 16:56] mbeacom opened #2066 "ValueError: too many values to unpack (expected 2)"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/620/

[code]

[2018-08-22 16:57] #2066 closed

[2018-08-22 18:55] owocki commented on #2036
👀 ing now

[2018-08-22 19:15] vs77bb commented on #2036
@pinkiebell regarding the below:

I think we ought to make it like the Gitcoin Faucet where we want them to create an account in order to make a request. Thoughts @owocki?

[2018-08-22 19:29] owocki commented on #2032
i like this visually

[2018-08-22 20:29] srisankethu commented on #1471
@gitcoinbot I have few questions submitted on the issue I have taken. Waiting for reply.

[2018-08-22 20:44] ceresstation opened #2069 "Design - Replace the Gitcoin "Simple Pricing" section with a simple CTA to reach out for custom plans"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a funder I want to be able to arrange custom bug bounty and managed bounty plans instead of agreeing to fixed pricing.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summar

[2018-08-22 21:10] pinkiebell commented on #2036
@mbeacom
![out](https://user-images.githubusercontent.com/40266861/44491127-8b5d0300-a660-11e8-9df9-d8c616c6b9ee.gif)

[2018-08-22 21:36] pinkiebell commented on #2032
@darkdarkdragon
Did you immediately closed the window after reading the notification?
Or better q: Did you seen two of these ''Thanks for letting us know..'?

[2018-08-22 23:47] SaptakS opened #2071 "Fix how navbar background image is applied"
### User Story
As a user, I want to see the dropdown in all the pages and also don't want a weird overflow only because of showing dropdown in the rain pages.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Description
The navbar is inside a `header` class which has the background image applied to it. In the rain page, allowing `overflow` to the `header` class will cause we

[2018-08-23 00:47] darkdarkdragon commented on #2032
@pinkiebell I don't remember, it was some time ago. Probably yes, I've closed window right after seeing 'thanks...'

[2018-08-23 02:46] PixelantDesign commented on #2069
Let's bounty this @ceresstation ?

[2018-08-23 03:07] PixelantDesign commented on #2061
@SaptakS Here is the update for an expired bounty...
This design encourages extending of the expiration date since we don't want funders to cancel the issues. Would it be possible to take the user directly to the issue with the expiration dialog open once they click this bbutton?

If funders want to cancel the issue, they should go to the issue details page, as stated below the CTA.

Let me know i

[2018-08-23 03:50] PixelantDesign opened #2072 "As a contributor, I don't want to have to do math to understand the total amount of a funded bounty that has additional crowd funding."
### User Story

**Estimate 3**

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Don't Make Me Think.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Improvement

[2018-08-23 03:58] PixelantDesign commented on #2038
[Waiting State.zip](https://github.com/gitcoinco/web/files/2312837/Waiting.State.zip) @willsputra

[2018-08-23 04:53] octavioamu commented on #2072
not sure about the "initial" word, maybe is not needed and that box can be the without the need of hover.

[2018-08-23 05:37] PixelantDesign commented on #2032
@pinkiebell
If I remember correctly, Gitcoin Bot did not comment on the ticket when @darkdarkdragon clicked Stop Work.

I think the green confirmation works as a cute to let users know that work has been stopped...but I'm not sure we need the big glow.

[2018-08-23 05:46] pinkiebell commented on #2032
@PixelantDesign
The issue the way I see it is the following:
On start/stop work; (after submit) we display the green banner before we even make the API calls.
I think this is because of good faith and to have immediate UI feedback.
However, if the user now closes the tab/window it might happen that the request was still pending/not done.

This is a user experience issue, if I understand correctly.

[2018-08-23 06:23] PixelantDesign opened #2074 "SEO - Update Meta Tag"
### User Story

Meta Tag updated needed, see tab named "Pages needing Metas and H1's."  Top phrase we want should be in Title, secondary ones in the Desciption. On many pages we can pull the first part of the page copy into Meta Description tags.

How to Check
Crawl the site with ScreamingFrog, DeepCrawl or Website Auditor

### Definition of Done

- [ ] The above is implemented and reviewed with a

[2018-08-23 06:26] PixelantDesign opened #2075 "SEO - Fix Soft 404"
### User Story

Can we block /profiles/ in the robots.txt file since these pages are showing the user a 404 message but passing a 200 status code.  See "Soft 404's" Tab for examples.

### Definition of Done

- [ ] All of the spreadsheet recommendations are implemented
- [ ] This is reviewed with a Gitcoin Core Team Member

### Additional Information
[comment]: # (Any other information that would b

[2018-08-23 06:38] PixelantDesign commented on #2053
We've had requests to follow an issue for this reason.

[2018-08-23 06:41] frankchen07 commented on #2065
@mbeacom - can you post the link where you updated this in the FAQ (the location of the text below), and I can close out this ticket. I didn't see it on the help page: https://gitcoin.co/help

[code]

[2018-08-23 07:57] thelostone-mc commented on #2072
@PixelantDesign could we update the hover design to match the tooltips design we use currently ?
@octavioamu Yup I agree we should not keep the world initial.  Just the total bounty makes sense to me. If people wanna see who contributed -> they can just scroll down to the activity section

[2018-08-23 08:13] #1791 closed

[2018-08-23 08:48] SaptakS commented on #2061
Should we completely strip off all the details about the bounty that we showed previously? That might help one decide, right? Also, should we provide a button to go to the issue details page?

[2018-08-23 09:28] thelostone-mc commented on #2032
@pinkiebell Ah yeah that's on me!
The success banner should turn up only after getting a successful response from the API.
The waiting screen does seem to fix that

@PixelantDesign Could we help with the design of this ?

[2018-08-23 12:27] thelostone-mc commented on #2071
Closing this via https://github.com/gitcoinco/web/pull/2070

[2018-08-23 12:45] PixelantDesign commented on #2032
Thanks for looking at this @thelostone-mc @pinkiebell
Could we try this color #3E00FF with a 30% opacity behind the animated helmet?

[2018-08-23 13:25] SaptakS commented on #2071
@thelostone-mc This issue to fix it twice. That pull request was just an immediate solution given it was a critical bug.

[2018-08-23 13:31] thelostone-mc commented on #2032
Not sure which one you meant by this is how it would look

<img width="1440" alt="screen shot 2018-08-23 at 6 57 51 pm" src="https://user-images.githubusercontent.com/5358146/44528159-76d34600-a706-11e8-8393-2e8bd661cdc1.png">

<img width="1440" alt="screen shot 2018-08-23 at 6 59 25 pm" src="https://user-images.githubusercontent.com/5358146/44528317-dc273700-a706-11e8-8937-923a8a9a68e2.png">

[2018-08-23 13:41] PixelantDesign commented on #2032
Would it start with the top one and then fade out? Hopefully this doesn't stay up long, ya?

[2018-08-23 13:46] thelostone-mc commented on #2032
@PixelantDesign mind throwing in a design to make things cleaner ? / do you wanna have a follow up task created later ?

[2018-08-23 14:29] thelostone-mc commented on #2042
They had installed metamask but the user was logged out.
After a few seconds of confusion -> he opened metamask and then was confused when he still saw a alert box telling him he was on the wrong network.

The alert box was pretty clear. But i guess his focus was at the robot in the center of the page.

[2018-08-23 15:38] willsputra commented on #2038
@PixelantDesign thanks for this!

[2018-08-23 16:01] frankchen07 commented on #2001
hey @brentoneill, are you still working on this bounty? If not, we might let someone else take a shot at it. If you're working on it as we speak, let us know what your PR link is and we can also snooze Gitcoin bot!

[2018-08-23 16:11] owocki opened #2077 "suggestion: profiles should have the standard activity feed on them, instead of trying to parse everything out into 'completed bounties' and 'started bounties' etc"
example https://gitcoin.co/profile/PumpkingWok?foo=bar

suggestion: profiles should have the standard activity feed on them, instead of trying to parse everything out into 'completed bounties', tips received, and 'started bounties' etc

this would be much simpler from an implementation standpoint, and also more represents how users will visually look at the profile

[2018-08-23 16:12] owocki commented on #2077
cc @PixelantDesign @mbeacom for feedback

[2018-08-23 16:48] mbeacom opened #2078 "Raising "Exception" in view callable method"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/651/

We should modify this to use the logger when necessary, but fail silently on the FE and not `raise Exception` in the view thread.

[code]

[2018-08-23 16:57] frankchen07 commented on #1961
hey @marciogurka are you still working on this issue? If you are, can you post your mockup or PR? If not, please let us know and we'll reopen the bounty to the public!

[2018-08-23 17:09] marciogurka commented on #1961
Hey @frankchen07 sorry for the delay, I'll post the mockup as soon as I finish it!

[2018-08-23 17:10] frankchen07 commented on #1727
@nemaniarjun - snoozed Gitcoin bot for you. :) ZZZ

[2018-08-23 17:12] owocki commented on #2078
Looks like this user had a previously unclaimed tip.  I agree we should set the Tip to fail silently.

c08c516eac3c05329dcf44c2cd9fd66c3f454992 should help in the meantime

[2018-08-23 17:16] frankchen07 commented on #1988
I feel like this would simplify the FTUX and reduce mental overhead for the returning developer.

[2018-08-23 17:39] thelostone-mc commented on #1877
My concerns

- it feels like a lot of things in a cramped in
- the design is very off from what we already have -> like how amount is displayed + . dropdowns
- switching btwn the contributor & funder dashboard via the dropdown seems cryptic / hidden

[2018-08-23 17:43] pinkiebell commented on #2032
@thelostone-mc @PixelantDesign
please try with: rgb(11,220,230) as box-shadow color 👍
[code]
![screenshot 2018-08-23 at 19 42 08](https://user-images.githubusercontent.com/40266861/44542290-a7b67980-a70c-11e8-9e1b-5134c75e7eca.png)

[2018-08-23 17:58] owocki commented on #2061
issue details page button makes sense to me (though maybe its just below the fold under 'funded issue details' in the design)

@PixelantDesign i like how concise the design is for this!

[2018-08-23 18:04] davidbanu commented on #1840
I will finish soon...

[2018-08-23 19:53] hardlydifficult commented on #1966
@owocki Just came across [lddex](https://medium.com/lqdex/introducing-lqdex-bridge-c27a3f36f98c) which sounds promising.  It could allow for a trustless solution, and would be a much easier integration than using Rsk.

[2018-08-23 20:02] captnseagraves opened #2082 "Create Design - "Thank you for supporting "grant X" email"
### User Story

As a Grant Supporter, I want to receive an email when I begin funding a grant so that I know my transaction went through and where to find more information.

### Why Is this Needed

The "Thank you for supporting "grant X" email is needed to that users can be sure that their subscription transaction went through, they can confirm the amount they're are giving and on what time interv

[2018-08-23 20:08] #2036 closed

[2018-08-23 20:12] owocki commented on #1966
this is interesting; i wonder if theres a way to manage the ups / downs of ETH (vs BTC) after the exchange

[2018-08-23 20:15] hardlydifficult commented on #1966
I'm happy to dive deeper on this if you are interested in doing another bounty ;)

[2018-08-23 20:26] captnseagraves opened #2083 "Create Design - "New Supporter" email"
### User Story

As a Grant Creator, I want to know when a user has begun support of my project so that I know when more money is being contributed.

### Why Is this Needed

The "New Supporter" email is needed because grant creators need to know when they have more money coming and so can plan for their plan.

### Description

*Type*: Feature

### Definition of Done

[ ] Email uses the base.html fi

[2018-08-23 20:31] owocki commented on #1966
@hardlydifficult what do u think the deliverables would be there

[2018-08-23 20:46] captnseagraves opened #2084 "Create Design - "New Grant" Email"
### User Story

As a Grant Creator, I want to know that my grant has been created so that I can share out the links and attract supporters.

### Why Is this Needed

The "New Grant" Email is needed to that grant creator can have confirmation that their grant has been created to that they can share out the grant link and attract supporters.

### Description

*Type*: Feature

### Definition of Done

[2018-08-23 20:47] captnseagraves commented on #2084
It would be awesome to have some links to different articles like, "How to run a successful open source project", "How to attract supporters to your project", etc.

[2018-08-23 20:48] hardlydifficult commented on #1966
Same as above, outline the integration flow and point out any pros or cons that stand out.

[2018-08-23 20:53] captnseagraves opened #2085 "Create Design - "Support Ended" Email"
### User Story

As a Grant Supporter, I want to have confirmation that my subscription has been canceled so that I can live peacefully knowing I'm not getting charged for something I no longer want to pay for.

### Why Is this Needed

The "Support Ended" Email is needed so the grant supporters have confirmation that their subscription has been canceled.

### Description

*Type*: Feature

### Defin

[2018-08-23 21:18] PixelantDesign commented on #2061
@SaptakS  Funder needs the details to reference. I would leave it. You could shorten it up if you want to tidy up the email. I think we should prioritize extending the issue. In the text below we could LINK to issue details as a text link.

[2018-08-23 21:56] captnseagraves opened #2087 "Create Design - "Funds Withdrawn" Email"
### User Story

As a Grant Creator, I want confirmation when my withdraw transaction has gone through so I know when I have funds to distribute and spend.

### Why Is this Needed

The "Funds Withdrawn" Email is needed so that a grant creator knows when she has funds available to spend or distribute.

### Description

*Type*: Feature

### Definition of Done

[ ] Email uses the base.html file found

[2018-08-23 22:05] captnseagraves opened #2088 "Create Design - "Update Notification" Email"
### User Story

As a Grant Supporter, I want to know when updates for grants I support are posted so I can stay up to date with what is happening and feel good about how my money is being spent.

### Why Is this Needed

The "Update Notification" Email is needed because grants supporters should know when things happen in projects that they care about so that they can feel good about their contribut

[2018-08-23 22:12] captnseagraves opened #2089 "Create Design - "Granted Ended" Email"
### User Story

As a Grant Creator, I want to have confirmation that I have ended my grant so that I know there will be no more monetary transactions and nothing more expected of me from the community.

### Why Is this Needed

The "Grant Ended" Email is needed because a grant creator needs to know that their project has officially stopped seeking funding from the community and does not have an obl

[2018-08-23 22:21] captnseagraves opened #2090 "Create Design - "Subscription Terminated" Email"
### User Story

As a Grant Supporter, I want to know when a grant creator has ended a grant and that my subscription payments have been canceled so that I am aware that the project is no longer seeking funding from the community and I will no longer be charged.

### Why Is this Needed

The "Subscription Terminated" Email is needed

### Description

*Type*: Feature

### Definition of Done

[ ] Emai

[2018-08-24 00:51] darkdarkdragon commented on #1769
@mbeacom while writing the, I've found out that it doesn't issue warnings if bounty in 'submitted' state (previously it was doing so, but while ago submitted bounties was removed from check)
so all this conversions doesn't make sense - there is just no warnings for bounties that has submitted work
https://github.com/gitcoinco/web/blob/268f40b37efb6e08ed0b0a1a4efc6a3252bc278a/app/marketing/manageme

[2018-08-24 05:55] thelostone-mc commented on #749
@owocki @PixelantDesign do we still want this ?

[2018-08-24 06:30] thelostone-mc commented on #2032
Deferring it to @PixelantDesign ! closing this out for now ^_^

[2018-08-24 06:30] #2032 closed

[2018-08-24 06:41] thelostone-mc commented on #2044
@owocki did state that this might throw us off our mission! We'd have to get in along with the exchanges which may get messy 🤔

[2018-08-24 06:43] #837 closed

[2018-08-24 06:45] thelostone-mc commented on #1983
Closing this as

[2018-08-24 06:45] #1983 closed

[2018-08-24 06:47] #2057 closed

[2018-08-24 06:54] thelostone-mc commented on #1988
- We've got pre-commit hooks to which let you run checks before committing. Additionally when you raise a PR , stickler comments on the line which needs fix and travis lists out why the build failed
- The only thing you need to do to boot up the repo is docker and a few config settings
- defining command to run subset of tests for the issue may be a bit unrealistic -> we try and make the issue des

[2018-08-24 06:58] thelostone-mc commented on #2065
@frankchen07 we've got it in the readme files.
https://github.com/gitcoinco/web/blob/066f78ef4fb3d7a488a14e41f55c7c99faac4f41/docs/RUNNING_LOCALLY_DOCKER.md#on-chain-activities

^Folks who wanna test out gitcoin over rinkeby are the ones who are trying to set it up locally !
They go through the readme docs anyways which is why we left it on the `.md` files

[2018-08-24 06:59] thelostone-mc commented on #2069
@PixelantDesign If we've got a design ready -> I'd be happy to take care of it

[2018-08-24 09:09] srisankethu commented on #1471
@frankchen07 I am a beginner here. My [questions](https://github.com/ethereum/populus/issues/312#issuecomment-415039572) haven't been answered. Waiting!

[2018-08-24 11:53] mul1sh commented on #2037
Any feedback? I'm very eager to start and finish this issue by Sunday 🙂

[2018-08-24 12:47] PixelantDesign commented on #2037
@mul1sh I just approved you! Looking forward to seeing what you come up with!

[2018-08-24 12:58] PixelantDesign commented on #1860
@jamessandy looking forward to seeing what you come up with!

[2018-08-24 13:48] mul1sh commented on #2037
@PixelantDesign Awesome thanks, let me get cracking 👍 🙂

[2018-08-24 14:35] PixelantDesign commented on #1873
Going out today

[2018-08-24 15:39] jamessandy commented on #1860
@PixelantDesign thanks

[2018-08-24 15:43] jamessandy commented on #1860
@PixelantDesign pls how can i get access to the template ?

[2018-08-24 16:02] vs77bb commented on #1876
@lastmjs Sounds great, just approved you to start!

[2018-08-24 16:34] frankchen07 commented on #2065
@thelostone-mc thanks for the link! I can close the ticket out.

[2018-08-24 16:34] #2065 closed

[2018-08-24 16:42] owocki commented on #749
defer to alisa

[2018-08-24 18:40] mbeacom commented on #1873
@PixelantDesign Just waiting on someone from engineering to review my PR.

[2018-08-24 18:41] mbeacom commented on #1208
https://github.com/gitcoinco/web/pull/2092

[2018-08-24 18:41] #1208 closed

[2018-08-24 18:41] mbeacom commented on #1207
https://github.com/gitcoinco/web/pull/2092

[2018-08-24 18:41] #1207 closed

[2018-08-24 18:44] mbeacom commented on #1873
Also, this was previously scoped in #1207 #1208 - This is a duplicate issue.

[2018-08-24 18:54] #1873 closed

[2018-08-24 18:55] mbeacom commented on #1880
https://github.com/gitcoinco/web/pull/2060

[2018-08-24 18:55] #1880 closed

[2018-08-24 19:22] mbeacom opened #2094 "AttributeError: 'NoneType' object has no attribute 'interested'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/698/

[code]

[2018-08-24 19:23] #2094 closed, assigned to nobody

[2018-08-24 21:28] lastmjs commented on #1876
Where should this functionality be located in the Gitcoin flow? Should I add the fields I need to the Fund Issue screen? Should there be an entirely new page for Gitcoin fees/tips, with a link in the address bar next to Fund Issue? Or something else entirely?

[2018-08-24 21:30] lastmjs commented on #1876
I'm imagining putting it in the Fund Issue flow would be nice, perhaps below pricing section we could have a Gitcoin tip section, with a little explanation about what the tip means

[2018-08-24 21:45] frankchen07 commented on #1961
@PixelantDesign - @marciogurka is working on a mockup and had some trouble locating the triangle of work. I found it on the [vision page](https://github.com/gitcoinco/creative/blob/master/00_Submissions/VisionPage/Gitcoin%20Vision.png) but it's not a standalone png or adobe file.

[2018-08-24 21:51] marciogurka commented on #1961
Hey @owocki I finish the first version of the mockup, sorry about the late post, but here it is.

Just like @frankchen07 said here, I had some problems with the triangle image, but you can have some idea about the design anyway.

Please let me know what you think 😄

[gitcoin-guarantee.pdf](https://github.com/gitcoinco/web/files/2319988/gitcoin-guarantee.pdf)

[2018-08-24 23:45] lastmjs commented on #1876
I've got the UI done, linting passes fine, can someone point to me how to run the test suite?

[2018-08-24 23:49] lastmjs commented on #1876
And can I use es6 features? I'm using some `const` declarators, template literals, and arrow functions. I'm not sure there are tests for the JavaScript

[2018-08-25 02:16] lastmjs commented on #1876
I'm finished with the initial implementation. I just need to do everything to get a pull request up

[2018-08-25 02:28] PixelantDesign commented on #1860
@jamessandy the files are on the creative repo linked here! https://github.com/gitcoinco/creative/tree/master/00_Submissions/Contributor:Funder%20Page

[2018-08-25 02:32] PixelantDesign commented on #1876
Thanks for the update @lastmjs! Would you mind referencing this issue in the PR?

[2018-08-25 14:04] thelostone-mc commented on #1988
@PixelantDesign Oh derp!  I assumed it was was our project 😂
Thanks for pointing that out

I get what @abitrolly & @frankchen07 are saying
Usually, funders have a good readme `.md` file on their repo &
from what I've seen -> 1, 2, 4, 5 usually are covered there

3 is usually well defined in the issue

We could maybe add it aa `Tip Message` in the FTUX for a funder to remind them that more info + c

[2018-08-25 15:59] frankchen07 commented on #1808
I believe the PR that @nanspro is referencing is this one: https://github.com/gitcoinco/web/pull/1936

[2018-08-25 16:11] frankchen07 commented on #2045
@ayeshashabbir91, if you're still working on this issue, be sure to check out the discussion on https://github.com/gitcoinco/web/pull/1793 - let us know if you're still interested in working on this!

[2018-08-25 16:13] frankchen07 commented on #2037
looking forward to what you come up with @mul1sh! :)

[2018-08-25 17:54] ajayns opened #2098 "Unable to login when running local server"
**Describe the bug**
Can't login when I run the app locally. Clicking on the login button leads to a Github 404 page.
I'd mentioned this issue in #2047

**To Reproduce**
1. Use the commands to run locally using the docker setup
2. Go to localhost:8000
3. Try logging in

**Expected behavior**
Login with Github should happen

**Desktop (please complete the following information):**

- OS: Ubuntu 18.

[2018-08-25 18:36] nemaniarjun commented on #2001
Oh I would like a shot at this if @brentoneill is not working on it.

[2018-08-25 19:03] mul1sh commented on #2037
@PixelantDesign I have a  a few questions about the following issues,

- On the funder form under Permissions Field add the following: Reserved for _.
Will this be a text input field or a label or a checkbox?

- User should be able to type in a username in the input field Issue Details
Where is this input field Issue Details? Can't seem to find it or do I add it as well. Also does this search and

[2018-08-26 04:32] Naggertooth commented on #1461
Hi guys
I have manjaro and Windows 8.1
And I have the same problem on both of OS :)
@warezgibzzz Can you please tell me about your magic tricks?)

[2018-08-26 07:38] saricden commented on #1663
(PR: #2099)
Some concerned looking eyes (male & female versions):

![6 svg](https://user-images.githubusercontent.com/7004280/44625926-4affbe00-a8c8-11e8-8e83-b40b6dd70983.png)
![5 svg](https://user-images.githubusercontent.com/7004280/44625927-4affbe00-a8c8-11e8-9e5b-1b05e7fb12e9.png)

[2018-08-26 10:30] mul1sh commented on #2037
@vs77bb @PixelantDesign @frankchen07 any help with the above queries?  Thanks 🙂

[2018-08-27 07:52] thelostone-mc commented on #2098
@ajayns did you set the env variables as mentioned in the [guide](https://github.com/gitcoinco/web/blob/master/docs/THIRD_PARTY_SETUP.md) ?

[2018-08-27 07:59] ajayns commented on #2098
Oh I was unaware of this, I'll go through this, follow the steps mentioned and get back!

[2018-08-27 09:25] thelostone-mc commented on #2001
I may be wrong but I think @octavioamu has a solution out for this already !
@octavioamu  ?

[2018-08-27 09:26] thelostone-mc commented on #2045
It should be `bounty/details.html` and `bounty_details.js`

[2018-08-27 11:45] PixelantDesign commented on #2037
Hey @mul1sh

- [ ]  User should be able to type in a username in the input field.

Issue Details is a header (sorry if that was confusing.

Would you also be able to **group information and line the information up** like this (Will Tip Extra)?
<img width="1107" alt="screen shot 2018-08-27 at 7 43 16 am" src="https://user-images.githubusercontent.com/238235/44658000-f4c87300-a9cc-11e8-95d8-dba10699

[2018-08-27 11:51] mul1sh commented on #2037
@PixelantDesign thanks for the clarification, appreciate it. And yes I can group the information like that no worries. Let me continue  with the coding then, will do a PR in a few hours, thanks

[2018-08-27 13:46] PixelantDesign commented on #1928
@pinkiebell please submit work! Thanks!

[2018-08-27 16:06] PixelantDesign opened #2100 "Approval Required Issues: Make it Clear Who is Actually Working"
### User Story

As a contributor interested in working on an issue that is set to **Approval Only**, I would like to see who is really working on it, not who has applied.

I would also like to see the name of the person that has been approved to work on this issue.

It is confusing when a contributor sees that 4 people have started work, when in fact 4 people have applied to work on the bounty.

#

[2018-08-27 16:25] octavioamu commented on #2001
@thelostone-mc Yes we have done this for an other project, will make a PR asap with this code.

[2018-08-27 16:30] PixelantDesign commented on #2037
Awesome!

[2018-08-27 16:45] PixelantDesign commented on #2032
@pinkiebell could you click start work and submit work on this so that we can pay you?

[2018-08-27 16:47] mul1sh commented on #2037
@PixelantDesign as I type the reservedFor username, in the funder form, should it autosearch/autocomplete this field. If so what api endpoint should i use for this? thanks

[2018-08-27 16:51] PixelantDesign commented on #1860
Hi @jamessandy are you still interested in working on this task? If not, I'll put it back to Open for the community. Thanks.

[2018-08-27 17:02] PixelantDesign opened #2101 "Monthly Snapshot for Contributors"
### Discussion

Ideas for Monthly Update Email for contributors

Goal
Provide a monthly snapshop and encourage engagement...

Show
- Title: Monthly Snapshot August 2018
- Date Range
- All Tasks open
- Your progress
- Tasks Resolved

Behavioral Encouragement:
People with your skillset (show tags) are completing x bounties/month
or making X amount Eth/Dai per month by completing bounties on Gitcoin.

[2018-08-27 17:02] frankchen07 commented on #1528
@oogetyboogety how goes the updated changes? let us know if you need any additional input! :)

[2018-08-27 17:04] owocki opened #2102 "bug - avatar builder does not register new assetes"
https://github.com/gitcoinco/web/pull/2099

1. pull down this PR on your local
2. go to `http://localhost:8000/onboard/profile/`
3. assets arent registered

Ref: https://github.com/gitcoinco/web/pull/2099

[2018-08-27 17:04] owocki commented on #1663
@mbeacom @thelostone-mc   i still cannot get the avatar builder to register new assets in any of these PRs.

[2018-08-27 17:05] owocki commented on #2102
@thelostone-mc any way you can look into this while Mark is out?

[2018-08-27 17:12] mbeacom opened #2103 "Adjust cookie banner for iOS/Safari"
**Describe the bug**

The cookie banner displayed on https://gitcoin.co on a user's first visit doesn't render correctly on iOS / Safari mobile.  This causes the banner to take up 85% of the page and you can't accept the cookie agreement, rendering the site unusable for iOS Safari users.

users also reported not being able to click the 'i agree' button on iOS safari

**To Reproduce**
Visit https:/

[2018-08-27 17:21] owocki opened #2104 "bug - You must be authenticated via github to use this feature when using Faucet"
From user Sean F over email:

[code]

Looks like he is authenticated via github, but the system doesnt think he is?

[2018-08-27 17:48] owocki commented on #2054
right now we use infura @mandeman

[2018-08-27 18:01] owocki commented on #1961
Thanks for the draft design @marciogurka -- im reviewing with the internal team

[2018-08-27 18:10] owocki commented on #2102
another one https://github.com/gitcoinco/web/pull/2047/files

[2018-08-27 18:14] #1928 closed

[2018-08-27 18:14] thelostone-mc commented on #1928
@PixelantDesign good for payout 👍

[2018-08-27 18:39] PixelantDesign commented on #2072
@thelostone-mc lets use the current tooltip design (Since you already know what's in the code) - I was just showing a concept here.  :)

[2018-08-27 19:09] thelostone-mc commented on #2102
@owocki Did you update [utils.py](https://github.com/gitcoinco/web/blob/master/app/avatar/utils.py#L55) to pick up the assets ?

![x](https://user-images.githubusercontent.com/5358146/44680231-bed1d000-aa5a-11e8-9d03-1f9fc86b0226.gif)

[2018-08-27 19:29] thelostone-mc commented on #1680
Ah @aashutoshrathi ! Sorry about that
I'm snoozing the bot -> @ceresstation is traveling! Mind waiting for a few days ?

[2018-08-27 19:35] thelostone-mc commented on #2037
@mul1sh my man @octavioamu has got a PR out at https://github.com/gitcoinco/web/pull/2108
for this !
we'll be merging it in later today

[2018-08-27 19:38] mul1sh commented on #2037
@thelostone-mc perfect thanks, i'll wait for it then 👍

[2018-08-27 20:28] thelostone-mc commented on #2072
coolio

[2018-08-28 02:03] ajayns commented on #2098
@thelostone-mc Hey, I'm unable to find GITHUB_API_USER after getting the token, Github just shows me the secret token that's it. Is this field my username?

[2018-08-28 02:08] PixelantDesign commented on #2037
Thanks @thelostone-mc! @mul1sh you're in good hands! Let us know if you have any other questions.

[2018-08-28 02:09] ajayns commented on #2098
Is that config even required for the avatar builder? With the OAuth setup I'm able to login but I still can't access the avatar builder, it just keeps loading. No logged messages also

[2018-08-28 11:12] thelostone-mc commented on #2104
He would not have seen his profile in that case 🤔
Cause that's how it's wired up!

Can he / @owocki  reproduce it ? I'm not able it

[2018-08-28 11:26] thelostone-mc commented on #2098
That is your github user name

Yup cause the avatar builder is visible only to logged in user and we login via github.

Are you able to successfully login and see the Avatar builder options on the screen ?
If you are online  -> could you DM on slack ?

[2018-08-28 13:11] owocki commented on #2001
@prakharcipher, i think that @octavioamu has already taken care of this

[2018-08-28 14:00] vs77bb commented on #2037
Excited about this!

[2018-08-28 14:14] vs77bb commented on #1928
@pinkiebell Great work 🙂

[2018-08-28 14:35] PixelantDesign opened #2110 "September Priorities"

[2018-08-28 14:42] #587 closed

[2018-08-28 14:45] PixelantDesign opened #2112 "New Nav Structure"
### User Story

As a user I want an intuitive navigation so that I understand how Gitcoin's products fit together.

**Estimate:** 8

### Why Is this Needed

We are building more products into our platform, we need an interim solution for navigation.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
Primary Gitcoin Nav

### Expected Behavior
New Na

[2018-08-28 15:01] PixelantDesign opened #2113 "Front End Check List for Deploying Code"
Placeholder

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: #

[2018-08-28 15:18] PixelantDesign commented on #1410
Need @mbeacom  to scope

[2018-08-28 15:29] SaptakS opened #2114 "Discuss strategy to improvise i18nise contributions"
### User Story
As an user of the platform, if I see mistakes in the translation in the website and want to improve it, they shouldn't need to edit the `*.po` files. Weblate allows them to do the translation using a proper UI and then we can integrate the files from there.

**Estimate**: 5
[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
This will help in im

[2018-08-28 15:43] SaptakS opened #2115 "Page Layout Testing"
### User Story
Integrate Page Layout testings (or Screenshot Testings) to ensure that the frontends work in different resolutions and that any commit or pull request should critcally create screenshots for all the things that we think might be needed. (Might also be a step towards functional testing)

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
So that

[2018-08-28 15:46] frankchen07 commented on #1769
@darkdarkdragon - so it sounds like we previously removed checks from submitted bounties, and you're wondering on how to proceed.

One option, based on @mbeacom's comment is to add the checks back in for submitted work, and then proceed, although I don't have context for for why it was removed in the first place (maybe @mbeacom can give reasoning for that?)

[2018-08-28 16:06] PixelantDesign commented on #1798
Closing since front end is complete.

[2018-08-28 16:06] #1798 closed

[2018-08-28 17:26] PixelantDesign commented on #2084
Should we have basic info here? Name of grant, description, how much?

[2018-08-28 18:09] PixelantDesign commented on #2084
![new grants email](https://user-images.githubusercontent.com/238235/44741749-0775a180-aacc-11e8-8da9-b9a275c39ca5.png)

[2018-08-28 18:36] PixelantDesign opened #2116 "Build ERC-1337 Landing Page"
### User Story

As a user I would like to understand what ERC-1337 is about and who is behind this project.

### Definition of Done

- [x] Build the landing page in HTML & CSS as designed
- [x] Animation is a plus, but not a requirement
- [x] [Use DIN Font](https://www.fontsquirrel.com/fonts/d-din)
- [ ] Add photos of the team on Team members section
- [x] Assets should be optimized
- [x] The page

[2018-08-28 18:44] ajayns commented on #2098
I've used the config as suggested and I did login. But it shows reauth required and then it lead to this:
![screenshot from 2018-08-29 00-12-40](https://user-images.githubusercontent.com/20743219/44743522-65cc6f80-ab20-11e8-9341-21863db21ceb.png)

Once I did manage to get pass that, it just keeps loading in the avatar builder route, no logs no response

[2018-08-28 19:26] frankchen07 opened #2117 "Granular Pricing Engine"
### User Story

As a funder, I would like an updated variable pricing scheme on how to price my issue on Gitcoin based on hourly rates and its derived success rate.

### Why Is this Needed

Currently, funders can price the issue based on the total price, but that doesn't give any other data points on whether or not that hourly rate is sufficient for their issue to get picked up.

### Current Behav

[2018-08-29 03:40] warezgibzzz commented on #1461
@Naggertooth Hi! Still had'n got this up and running. (free time issues) The only way to fix it is to rebuild a Dockerfile for web which i do now, but i dont know when i finish it. I'll ping ya later, when it's done.

[2018-08-29 09:19] phyroxin commented on #1461
Hey @warezgibzzz apologies for the late response.

It not a task as such, the issue was really due to my User directory residing on a different drive to my docker install. I assume docker expects the User directory to contain the repository detail in my case, but was unable to locate it during the build command.

I see you installed both docker and the repository on the same drive though. Where do

[2018-08-29 09:34] thelostone-mc commented on #2098
Ugh i can't seem to recreate this 😓
cc @owocki / @SaptakS

[2018-08-29 10:00] thelostone-mc commented on #2116
@PixelantDesign Added in my name to help review ^_^

[2018-08-29 12:42] vs77bb opened #2118 "Submitting Work Twice"
**Describe the bug**
As a bounty hunter, I shouldn't see the Submit Work button if I've already submitted work.

**To Reproduce**
Have seen it in the past and as referenced by Arjun Nemani (Gitcoiner) here.

![image](https://user-images.githubusercontent.com/23297747/44788167-eca03d00-ab5e-11e8-8fe3-d6b0b7e6db41.png)

**Expected behavior**
[comment]: # (A clear and concise description of what you

[2018-08-29 14:11] thelostone-mc commented on #2041
@SaptakS already fixed this up

<img width="414" alt="screen shot 2018-08-29 at 7 41 11 pm" src="https://user-images.githubusercontent.com/5358146/44793280-826db380-abc3-11e8-9e8f-6d2c72c63c55.png">

[2018-08-29 14:11] #2041 closed

[2018-08-29 14:15] PixelantDesign commented on #2118
I think we should monitor to see if other users are confused by this. Technically it isn't broken or a bug. The activity list does let the user know that he has already submitted work.

[2018-08-29 14:51] vs77bb commented on #1961
My thoughts:

- can the 'Get Started' / 'View Leaderboard' options be a bit more emphasized in the top page?
- I wonder if we can pull in some of the top repos already using gitcoin like from [Gitcoin Results](gitcoin.co/results)

<img width="947" alt="screen shot 2018-08-29 at 9 51 27 am" src="https://user-images.githubusercontent.com/23297747/44795791-267a3f00-ab71-11e8-9023-c519f1f93412.png">

[2018-08-29 15:07] vs77bb opened #2120 "Double Gitcoin Bot Moderation Comments"
**Describe the bug**
Gitcoin Bot is sometimes commenting twice stating that an issue is 'Escalated to Moderation'. This should only happen once.

- After 3 days of non-response, warning.
- After 3 more days of non-response, escalated to moderation.

**To Reproduce**
[Example here.](https://github.com/parsec-labs/solevm-truffle/issues/2)

**Screenshots**
<img width="829" alt="screen shot 2018-08-29

[2018-08-29 17:01] thelostone-mc commented on #2118
This does ensure that newbies submit their work once!
Multiple submissions means I spend more gas which as a contributor I would not want to.
Users may get confused and may click on submit work if they don't scroll down to see the activity stream 🤔

cc @vs77bb @SaptakS

[2018-08-29 18:38] owocki commented on #2117
exciting stuff..

i wonder if there is an 80/20 way to implement this that doesnt have to do a ton of complicated regression-inline... @mbeacom might have some thoughts here.

cc @PixelantDesign for the UI design (for example, i'm not sure "num hours" should go inline with price on the form)

[2018-08-29 19:04] owocki commented on #1860
@pinkiebell looking fwd to working with you

[2018-08-29 19:18] PixelantDesign opened #2122 "Update Cookie Banner with Shorter Text"
Currently the cookie banner is having display issues depending upon which device or resolution you are on.

Let's try shortening the text and linking to our privacy, similar to this...

<img width="1104" alt="screen shot 2018-08-29 at 1 08 30 pm" src="https://user-images.githubusercontent.com/238235/44810133-cc906e00-ab9e-11e8-80a7-07ddf37156cf.png">

[2018-08-29 20:01] owocki commented on #1663
https://github.com/MetaMask/metamask-extension/issues/5161

having some upstream issues with metamask... will payout after that

[2018-08-29 20:03] owocki commented on #2116
shall we bounty this?

[2018-08-29 20:04] owocki commented on #2116
i think static html would be easiest.. dont see the need to overcompliace this!

[2018-08-29 20:33] thelostone-mc commented on #2116
@owocki sure !  When is the deadline btw?

[2018-08-29 20:36] owocki commented on #2116
a month from now

[2018-08-29 21:40] pinkiebell commented on #1860
I started tinkering with wagtail.
The current stable release does not support django 2.1, but the next wagtail LTS 2.3 does.
I will work with the wagtail master branch, the wagtail LTS release will likely be released in october.

See https://github.com/wagtail/wagtail/blob/master/docs/releases/upgrading.rst#compatible-django--python-versions

[2018-08-30 00:14] vs77bb opened #2125 "Advanced Payout --> Incorrect Stats / Gitcoin Bot Comments"
**Describe the bug**
When using the Advanced Payout feature, Gitcoin Bot does not recognize that a % of the bounty was paid out, as opposed to the whole bounty.

**To Reproduce**
[See here. ](https://gitcoin.co/issue/paritytech/parity/9075/741)I paid out 70% of the bounty, but Gitcoin Bot still shows as if I paid the whole thing. It also still shows 350 DAI as the 'Work Done' amount, though I paid

[2018-08-30 00:15] SaptakS opened #2126 "Deprecated eth_utils version"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
The eth_utils version that we are using breaks with eth-abi and some other packages as mentioned in the current travis breaking error. But upgrading eth_utils breaks web3.py and upgrading web3.py breaks gitcoin code. Web3 fails because web3 now seems to allow a [MAX_EXTRADATA of 32](https://github.com/ethereum/

[2018-08-30 00:16] vs77bb commented on #2118
If they've already submitted work, the user can only lose money by clicking submit work again. Thus, removing that button (and the possibility of user error) seems like a win!

[2018-08-30 00:17] SaptakS commented on #2126
I have made a [PR](https://github.com/gitcoinco/web/pull/2123) which upgrades both web3 and eth-utils but that breaks the code since you are then not able to fund an issue. After funding the issue, and completion of transaction, it gives an error that extraData cannot be more than 32 bits.

[2018-08-30 00:49] SaptakS commented on #2126
@owocki I have fixed it for the first go [as here](https://github.com/gitcoinco/web/pull/2123#issuecomment-417152864).

[2018-08-30 01:42] vs77bb commented on #1982
@owo

[2018-08-30 03:27] Naggertooth commented on #1461
Hi @warezgibzzz
I have 1 solution: install docker(not docker toolbox) on windows 10 x64 with virtualization in bios
Any other systems I tried (especially oss from docker capability matrix) except Mac oss - left me with the same issue:)

[2018-08-30 04:57] Manjilan commented on #2116
Do I wait to be approved or do I get approved after I submit my work. This is my first project on Gitcoin so please let me know.

[2018-08-30 07:52] #2001 closed

[2018-08-30 07:52] thelostone-mc commented on #2037
@mul1sh sorry about it ! Had to make a few minor tweaks but managed to get it in

[2018-08-30 08:51] mul1sh commented on #2037
@thelostone-mc Awesome thanks for alerting me, let me continue with this feature then 🙂

[2018-08-30 13:15] vs77bb commented on #2045
Stopped work for @ayeshashabbir91 as we haven't heard back in a bit... this is back [in 'Open' status](https://gitcoin.co/issue/gitcoinco/web/2045/997) if someone wants to tackle. @glazey132, perhaps?

[2018-08-30 13:41] owocki commented on #1860
sounds great!

[2018-08-30 13:42] #2122 closed

[2018-08-30 16:27] thelostone-mc commented on #2103
@mul1sh the cookie banner ideally should popup if you are in private tab! Could you check that?

[2018-08-30 16:46] JosephDunivan commented on #1663
This issue is closed for now? Were there here issues on the implementation?

[2018-08-30 16:48] pinkiebell commented on #1860
Can someone export those assets in the sketch files into a zip or something else?
😃

[2018-08-30 16:59] JosephDunivan commented on #2098
Im looking into this issue as well. Will report my findings and hopefully get approval for a Design Documentation Workflow in the docs. I think these issues and setup instructions are way too segregated .

[2018-08-30 17:04] mul1sh commented on #2103
@thelostone-mc  ahh thanks, I see it now 👍

[2018-08-30 17:19] owocki commented on #1961
Reviewed with the team internally... notes

# hero

1. can we add some sort of imagry about the guranatee in the hero?
2. can we center the text under 'get started today' and 'do work...''' it looks funny left aligned while the buttons below it are cneter aligned.

# how?

can we add icons to each step on this timeline?

# alumni

looks good

# it really works

1. i'm not crazy about this grey col

[2018-08-30 17:36] owocki commented on #1860
sketch has a free trial.. maybe try that? cc @justpixel who may be able to export them

[2018-08-30 17:47] PixelantDesign commented on #1860
Awesome Pinkiebell!

[2018-08-30 18:08] pinkiebell commented on #1860
@owocki
Already over 😆 . Just used it for a few minutes.
@PixelantDesign
Nice 👍

[2018-08-30 18:08] octavioamu commented on #2001
I think this one need to be closed in gitcoin

[2018-08-30 18:48] thelostone-mc commented on #1808
Ended up finishing it up cause @nanspro wasn't available ! Closed it out via #2121

[2018-08-30 18:48] #1808 closed

[2018-08-30 21:03] ggaabe commented on #2103
Not seeing this on iPhone 6s, iOS 12.

[2018-08-30 22:52] marciogurka commented on #1961
Hey @owocki I made some updates after reading your observations...

[guarantee_page_v2.pdf](https://github.com/gitcoinco/web/files/2338198/guarantee_page_v2.pdf)

About the 'triangle of work', I haven't found the standalone png or adobe file, as @frankchen07 mentioned before. Maybe @PixelantDesign could help about this???

[2018-08-30 23:28] pinkiebell commented on #1860
rev. 1e-4 😄
![out](https://user-images.githubusercontent.com/40266861/44884628-99dc9780-acbc-11e8-8ca0-8f5f3dee857e.gif)

[2018-08-31 00:47] vs77bb commented on #1961
I like the bigger buttons!

[2018-08-31 03:55] PixelantDesign commented on #1860
Awesome! This is sooooo exciting!!!!!

[2018-08-31 05:13] nanspro commented on #1861
@PixelantDesign  i have already submitted work for this issue and that PR got merged.
Do i have to "Submit Work" again? (mentioning this PR)

[2018-08-31 08:02] #1861 closed

[2018-08-31 08:13] thelostone-mc commented on #2103
@ggaabe could you try [this](https://github.com/gitcoinco/web/issues/2103#issuecomment-417381357) ?

[2018-08-31 08:52] thelostone-mc opened #2129 "profile: ability to enable users to update github username"
##### Discuss

When an existing user updates his github username `foo` -> `bar`.
He ends up losing his history on gitcoin.
Aka they'd be treated as a new user `bar` on Gitcoin and all their progress is lost

At the same time -> if a new user takes up the old username `foo`
They'd end up with the existing profile of `foo` on Gitcoin as opposed to getting a new one

Should we build out a feature ->

[2018-08-31 08:54] thelostone-mc commented on #2118
@vs77bb merged 👍

[2018-08-31 08:54] #2118 closed

[2018-08-31 11:39] pinkiebell commented on #1860
@PixelantDesign @owocki
PR: #2130
You can try that out locally.
The video urls and pictures must be fixed later on production, because fixture data doesn't play nicely with media uploads. I hope that is not a big problem, the spelling or some parentheses needs fixing anyway 😃 .

[2018-08-31 14:18] octavioamu commented on #2129
Interesting discussion, here is some important answer from github https://help.github.com/articles/what-happens-when-i-change-my-username/

[2018-08-31 14:51] vs77bb commented on #2118
@thelostone-mc Great work!

[2018-08-31 15:50] vs77bb commented on #1535
@thelostone-mc @SaptakS Just added this to triage, this would be a quick win if we can remove this language soon, still causes confusion to have 'dibs' written when it's really approval-only now (and the first person does not have dibs).

[2018-08-31 17:52] pmaojo commented on #2001
Is this opened to apply?

[2018-08-31 18:14] thelostone-mc commented on #2001
@pmaojo Ah nah we just closed this out ! @owocki can we cancel the bounty on this ?

[2018-08-31 18:58] arku opened #2137 "[Slack notifications] Bounty value to USD isn't right"
See the screenshot below:

![image](https://user-images.githubusercontent.com/7039523/44930827-2a4ec280-ad25-11e8-984e-2f8360c4139f.png)

The conversion from 0.15 ETH to USD is messed up.

Another weird issue is the second notification you see in the screenshot. Since the bounty has been delivered (the first notification), it doesn't make sense to find 'New Funded Issue' notification on the same b

[2018-08-31 18:59] #2045 closed

[2018-08-31 19:00] thelostone-mc commented on #2045
@PixelantDesign we are good for payout !
@arun1595 when's the treat? :D

[2018-08-31 19:01] PixelantDesign commented on #2137
Thanks for reporting @arun1595 !

[2018-08-31 21:45] owocki commented on #1961
thanks @marciogurka

@PixelantDesign any feedback here?

[2018-09-02 10:49] owocki opened #2139 "how it works page QA"
great to see [this](https://github.com/gitcoinco/web/pull/2121) is live!

some QA from looking at it today:

1.
the 'd' in paid is cut off on http://localhost:8000/how/funder#project-types

<img width="482" alt="screen shot 2018-09-02 at 4 39 11 am" src="https://user-images.githubusercontent.com/513929/44955054-29737900-ae6a-11e8-8f8c-7c4501a2951a.png">

2.
under cooperative project can we change

[2018-09-02 11:40] thelostone-mc commented on #2139
@owocki

Hmm the svg didn't get copied right! Fixed it

Done

Sorry about that ! Did this overnight and forgot to take into account half laptop screen-size while optimizing for mobile/ tablet

Review + merge ? ^_^

[2018-09-02 14:16] aerophile commented on #1991
So Updates
I had some difficulties in running the docker compose version of the build. The specific error I get when building in foreground is  `gitcoin web ModuleNotFoundError: No module named 'eth_utils.toolz` . I am still looking into this.

Meanwhile I also have been learning about d3's force directed graphs and have also nearly built a single web page which can display the graph based on an i

[2018-09-02 14:23] pmaojo opened #2141 "Text unreadable due to low contrast with background on subscription form"
**Describe the bug**
Text unreadable due to low contrast with background on subscription form

**To Reproduce**
Scroll on home

**Expected behavior**
Not transparent background

**Screenshots**
![ed4d0d36-7248-4928-9fe1-630ba51a067f](https://user-images.githubusercontent.com/411551/44956963-1097b180-aec4-11e8-8c2f-b1a01f8ff21f.jpg)

**Smartphone (please complete the following information):**

- De

[2018-09-02 16:34] thelostone-mc commented on #2116
@manjilan looking forward to it :D

[2018-09-02 16:35] pmaojo commented on #2141
`.landing__newsletter {
    background: #f9f9f9;
}`
could solve it

[2018-09-02 17:07] mul1sh commented on #2037
@gitcoinbot Yes i'm still working on this issue, in fact im just about to PR in a few hours 😃

[2018-09-03 12:05] PixelantDesign opened #2143 "Approved Worker Not Showing Approved"
Approved Worker Not Showing Approved and Submit button is not showing up.

See the thread here:\
https://github.com/MARKETProtocol/website/issues/244#issuecomment-417964571

[2018-09-03 12:27] PixelantDesign opened #2144 "Payout Problem"
**Describe the bug**
Payout Problem - the Bounty got Cancelled.

**To Reproduce**
https://gitcoin.co/issue/diadata-org/api-golang/22/1027

**Expected behavior**
User should be able to payout.

**Screenshots**
<img width="1320" alt="bildschirmfoto 2018-09-03 um 13 14 19" src="https://user-images.githubusercontent.com/238235/44986878-299b7380-af53-11e8-8f05-0e4937adc7a2.png">

[2018-09-03 12:31] #2144 closed

[2018-09-03 12:40] PixelantDesign opened #2145 "Make Cancel Bounty More Explicit"
Make Cancel Bounty a Red Button to show that it's a destructive action.

For use cases like this:

https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1535973390000100

https://gitcoin.co/issue/diadata-org/api-golang/22/1027

We could also think about whether we want to allow undo of a cancelled bounty within a certain time frame.

[2018-09-03 12:54] PixelantDesign commented on #2116
Looking forward to seeing this @Manjilan!

[2018-09-03 13:04] PixelantDesign commented on #1961
Looking good!

- Could we try matching the **existing font sizes** that exist on the current site?
- Could we try matching the **button sizes** to what currently exists on the site?
- Could we try matching the **stroke thickness** of the icons?
These in particular seem thicker than what we normally use.
<img width="425" alt="screen shot 2018-09-03 at 9 01 26 am" src="https://user-images.githubuser

[2018-09-03 13:05] PixelantDesign commented on #2045
awesome!

[2018-09-03 13:14] #2141 closed

[2018-09-03 15:20] SaptakS opened #2147 "Add meta tags to improve Gitcoin SEO"
### User Story
For better Seach optimization and discovery of Gitcoin, we need to improve on the meta tags and canonical links in the various different pages of gitcoin. The aim of this issue is to add/modify `<title>` tags and `<meta name="description">` tags to various different links to improve the SEO of those links and pages.

Following is a list of links with their expected title and meta de

[2018-09-03 16:05] owocki commented on #2147
One thing I'd add to the definition of done: The current `cards.html` and `cards_pic.html` shared templates should be re-used/updated

[2018-09-03 17:31] mul1sh commented on #2103
@gitcoinbot  about to PR this issue too in a few hours 😄

[2018-09-03 18:09] rahulpat commented on #1899
@mbeacom what's the status on this and what's the tip like ?

[2018-09-03 19:13] rahulpat commented on #1899
@mbeacom was unable to repro this locally. seems like it's been fixed ?

[2018-09-03 19:34] Manjilan commented on #2116
- [ ] Build the landing page in HTML & CSS as designed
- [ ]   Animation is a plus, but not a requirement
- [x]   Use DIN Font
- [ ]   Add photos of the team on Team members section
- [x]   Assets should be optimized
- [ ]   The page should be responsive
- [ ]   Test the page in major browsers
- [ ]   Review with @pixelandesign @owocki @thelostone-mc

[2018-09-03 20:06] rahulpat commented on #2010
@mbeacom there are some edge cases like sending 0 ETH that can be captured, which should prevent form submission. Do you want me to include those as well?

[2018-09-03 21:38] owocki opened #2150 "bug - avatar is wrong skin color"
[screenshot](http://bits.owocki.com/a3b86f8690f7/Screen%20Shot%202018-09-03%20at%203.37.17%20PM.png)
https://gitcoin.co/profile/owocki

Repro steps
1. make an avatar. save it
1. go to avatar builder
1. wrong skin color is shown

expected behaviour:
1. skin color is the same one as it is in my profile photo

[2018-09-03 22:18] #2139 closed

[2018-09-03 22:45] owocki opened #2151 "bug - quarterly roundup is broken"
http://localhost:8000/_administration/email/quarterly_roundup

will yield a

[code]

--

please put in a fix for this

[2018-09-03 22:51] owocki commented on #2151
161a25617a344f8a8079e9a1e195a5ca26d3d789

[2018-09-03 22:51] #2151 closed

[2018-09-04 00:53] owocki commented on #1991
yes this is fixed now @aerophile !

[2018-09-04 02:16] PixelantDesign commented on #2143
^ Very true, doesn't show that Arun applied for work on the activity stream, but shows on the Github thread.

[2018-09-04 03:51] PixelantDesign opened #2152 "Personal Email Shows When User Explicitly Uncheck's Display Email"
**Describe the bug**
I just created my first bounty and it shows my personal email in the profile, even though I explicitly said not to show it when I made the bounty post.

**To Reproduce**
Create Bounty - uncheck email

**Expected behavior**
Email should not show

**Screenshots**
![snip20180901_4](https://user-images.githubusercontent.com/238235/45009108-41670c00-afd4-11e8-979a-fb875d2ef4b6.png)

[2018-09-04 04:54] PixelantDesign commented on #1914
@thelostone-mc what do you think about the above? What happens when a contributor requests more money than the funder is willing to pay? We'll need a plan on how to resolve.

[2018-09-04 11:10] thelostone-mc commented on #1528
@oogetyboogety not too sure about it -> just set it to `SETTINGS.BASE_URL` for now ? I'll update it after checking with @mbeacom  if needed

[2018-09-04 11:43] justpixel commented on #2090
![grant canceled](https://user-images.githubusercontent.com/7627020/45029286-dad40380-b050-11e8-974b-cb66597de8d6.png)

[2018-09-04 11:44] justpixel commented on #2089
![grant ended](https://user-images.githubusercontent.com/7627020/45029329-fa6b2c00-b050-11e8-8a2f-552ea2c9ed27.png)

[2018-09-04 11:44] justpixel commented on #2088
![update notification](https://user-images.githubusercontent.com/7627020/45029346-05be5780-b051-11e8-99fb-f006979f519e.png)

[2018-09-04 11:44] justpixel commented on #2087
![funds withdrawn](https://user-images.githubusercontent.com/7627020/45029353-0c4ccf00-b051-11e8-82e8-5a341d15d369.png)

[2018-09-04 11:44] justpixel commented on #2085
![support ended](https://user-images.githubusercontent.com/7627020/45029363-1242b000-b051-11e8-8a27-d802d693e9e4.png)

[2018-09-04 11:45] justpixel commented on #2083
![new supporter](https://user-images.githubusercontent.com/7627020/45029388-2090cc00-b051-11e8-9757-8fe99bde9582.png)

[2018-09-04 11:45] justpixel commented on #2082
![thank you](https://user-images.githubusercontent.com/7627020/45029397-29819d80-b051-11e8-93be-757ee4208998.png)

[2018-09-04 12:08] PixelantDesign commented on #2090
looking good! Should the top line mention the subscription being terminated?

[2018-09-04 13:17] chiptus commented on #1770
Can I start with this issue?

[2018-09-04 13:19] rahulpat commented on #1387
@thelostone-mc any consensus on showing the FunderETH address?

[2018-09-04 13:37] chiptus commented on #1770
Would love to get some pointers on where to look (my first issue).
Will this be mostly changing the template, or also the `profile` endpoint? or class?

And how can I test this on my machine? I have the env running, I probably should enable the login (by adding the right values for a github app in the .env file, right?)

Can I make a fake profile with cancelled bounties and other types of bounties

[2018-09-04 13:43] mbeacom commented on #2152
Possible duplicate of #1387

[2018-09-04 13:44] mbeacom commented on #2010
@rahulpat That would be ideal, yes!

Thanks

[2018-09-04 13:58] rahulpat commented on #2152
I have a fix for this, taking the conversation to #1387.

[2018-09-04 14:49] PixelantDesign commented on #1877
Made updates based on user feedback. Awaiting completion of funder dashboard.

[2018-09-04 14:50] #1877 closed

[2018-09-04 14:52] PixelantDesign commented on #2147
Would it be possible to move this to the marketing board?

[2018-09-04 14:56] PixelantDesign commented on #2152
Thanks @mbeacom

[2018-09-04 14:59] thelostone-mc commented on #1523
<img width="1384" alt="screen shot 2018-09-04 at 8 26 08 pm" src="https://user-images.githubusercontent.com/5358146/45039274-ef2ff480-b080-11e8-8a0f-5dabe126bdbd.png">

![x](https://user-images.githubusercontent.com/5358146/45039349-14246780-b081-11e8-819a-9cf528d8eb58.gif)

[2018-09-04 15:39] thelostone-mc commented on #1543
<img width="1373" alt="screen shot 2018-09-04 at 9 05 58 pm" src="https://user-images.githubusercontent.com/5358146/45041763-be52be00-b086-11e8-8b6d-ee2ab1ad443b.png">

[2018-09-04 15:41] owocki opened #2155 "As a user, I want to be able to filter Bounties in a 'dangling' state, so I can salvage them (or avoid them)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to filter Bounties in a 'dangling' state, so I can salvage them (or avoid them)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Dangling

[2018-09-04 15:43] thelostone-mc commented on #1981
Closing since it doesn't seem like it's happening anymore!

[2018-09-04 15:43] #1981 closed

[2018-09-04 15:46] rahulpat commented on #1387
Keeping it simple and displaying both name and email as Anonymous for now.

[2018-09-04 16:56] PixelantDesign commented on #2117
Met with @frankchen07 today to sync on next steps!

[2018-09-04 19:36] frankchen07 opened #2158 "Granular Pricing Engine: Update the funding pricing section with an hours estimation input"
### User Story

As a funder, I would like an updated variable pricing scheme on how to price my issue on Gitcoin based on a calculation of hourly rates and its derived success rate. In order for this to work, we need to add an input field for hours estimation to the pricing section of the [funder page](https://gitcoin.co/funding/new).

### Why Is this Needed

Currently, funders can price the issue

[2018-09-04 20:05] owocki commented on #2083
should we make john doe's avatar circular to match other avatars in the system?

[2018-09-04 20:23] owocki opened #2159 "as a developer, i want the system to auto-generate new translation strings every night, so that any new translations are included in the dapp."
From the [docs](https://docs.djangoproject.com/en/2.1/topics/i18n/translation/)

(hat tip @thelostone-mc for the above info)

ANytime we add new trans tags to the db, we need to re-run auto translate.  Per haps we can automate this and have the server that runs it auto-commit back to create a PR or commit to the master branch?

[2018-09-04 20:59] owocki commented on #2125
recomend pivoting the 'work done' comment from gitcoin bot based upon whether it was an advanced payout or not... and customizing the message if so.

[2018-09-04 22:25] owocki opened #2160 "As a repo maintainer, I want SourceCred integrated into Gitcoin, so I can payout all of my contributors at once."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a repo maintainer, I want SourceCred integrated into Gitcoin, so I can payout all of my contributors at once.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
[Sourc

[2018-09-04 22:28] coderberry commented on #2160
@owocki Is there a way to limit sourcecred to a specific PR, or will it be distributed based on historical ranking?

[2018-09-04 22:29] owocki commented on #2160
i dont think so.. @decentralion would know for sure tho!

[2018-09-04 22:46] wchargin commented on #2160
This is a good question. There are various answers depending on what you
mean (but the short answer is probably “no”).

It’s important to note that the cred computation is fundamentally
holistic: each connection can have far-reaching effects. If an issue is
important, that makes its author more important, which makes other
issues by that author more important. This “transitivity” is critical;
it’s

[2018-09-04 23:02] wchargin commented on #2160
Another approach: Run SourceCred to get a base attribution `a0`. Then,
add a high prior on the pull request that you’re interested in—say, mark
it as 8× more important than other pull requests. Re-run SourceCred to
get an attribution `a1`. Compare the two attributions to see how they
differ: nodes that have higher cred in `a1` than `a0` are “more
important from the perspective” of the node granted

[2018-09-05 05:32] aerophile commented on #1991
@thelostone-mc @owocki thanks, can confirm, its resolved.

[2018-09-05 06:13] thelostone-mc commented on #2116
- The main banner has whitespace which needs to be removed as shown [here](https://user-images.githubusercontent.com/5358146/45074115-d286d180-b0ff-11e8-8608-de970af6ba41.png)
- The icons seem to be a lil [pixelated](https://user-images.githubusercontent.com/5358146/45074149-f9dd9e80-b0ff-11e8-9001-80ffd4a3c4a1.png). Would it make sense to use svgs instead ?
- The footer `Get Involved` section bre

[2018-09-05 06:18] Manjilan commented on #2116
@thelostone-mc Thank you for the review. I will work on it and fix these issues.

[2018-09-05 10:41] #2145 closed

[2018-09-05 15:42] SaptakS commented on #2072
Thanks to @thelostone-mc we already have the first draft. For further improvement I think the idea proposed by @PixelantDesign [here is really good.](https://github.com/gitcoinco/web/pull/2109#issuecomment-418775922)

[2018-09-05 19:33] rahulpat commented on #572
Hi @owocki Is there still a bounty on this ? If yes, is it up to date?

[2018-09-05 19:35] PixelantDesign opened #2164 "Make It Clear Issue Has Been Crowdfunded V2"
### User Story

As a user I'd like to easily see that an issue has been crowdfunded.

### Defintion of Done

- [ ] If an issue has been crowdfunded iwth addtional tokens, display the tokens icons and a + next to the initial value.
- [ ] Add See More Link and Carat to display additional tokens. This should collapse and expand.
- [ ]  Clicking on the entire row should still go to the issue details p

[2018-09-05 19:40] pinkiebell commented on #2164
Taken care of! 👍

[2018-09-05 19:42] pinkiebell commented on #1860
@gitcoinbot Stay calm, I know you don't see PR's right now, but we will improve you soon :)

[2018-09-05 19:52] rahulpat commented on #538
@mbeacom what's the update on this ? Interested in taking this on.

[2018-09-05 19:53] vs77bb commented on #2164
I was gonna bounty this, you beat me to it! 😄

[2018-09-05 19:53] vs77bb commented on #2164
Glad you're here @pinkiebell :+1:

[2018-09-05 20:12] PixelantDesign commented on #2164
LOL @pinkiebell

[2018-09-05 20:15] vs77bb opened #2165 "No 'Stop Work' / 'Stop Work & Ding Rep'"
## User Story
As an 'Admin', I'd like the ability to 'Stop Work' / 'Stop Work & Ding Rep' from the front-end. This was a feature available to me to easily remove stale workers from bounties.

This is no longer available. I'd like this feature back so I can ding rep appropriately when hunters disappear.

## Timeline
Triage - P2 (Minor Bug): A feature of Gitcoin fails to follow expected behavior. Th

[2018-09-05 20:44] vs77bb opened #2166 "[DESIGN] Building Gitcoin Requests Into App"
### User Story
As a funder, I want to know about [Gitcoin Requests](https://gitcoin.co/requests/) so that I can get support for my Web 3 repository.

As a developer, I want to know about Gitcoin Requests so that I can suggest 'good-first-issues' I'd work on for the right price.

### Why Is this Needed
*Summary*: To increase the usage of Gitcoin Requests; thereby increasing the amount of open work

[2018-09-05 21:09] owocki commented on #2165
@thelostone-mc  i wonder if this is related to https://github.com/gitcoinco/web/pull/2131 ?

[2018-09-05 21:14] PixelantDesign commented on #2166
I definitely see multiple tickets, but like that you're thinking about it as an experience.

Can we make this longer than a 5 second delay?
Let's specify how many times will this pop up?
Let's also specify the ability to **dismiss** or **don't show me again** (this could be annoying for users).
Recommend ux/design and then getting some feedback from users before building.

[2018-09-05 21:56] SaptakS commented on #2072
Closing this in reference to https://github.com/gitcoinco/web/issues/2164 and #2109

[2018-09-05 21:56] #2072 closed

[2018-09-05 22:18] SaptakS commented on #2159
@owocki would it be wise to put it into CI? So what I am thinking is mostly a new trans tag or a modification comes via a Pull Request. So everytime in CI, when we merge it to master, if we run `make autotranslate` which makes a commit to the master (or maybe a different branch if we want reviewing), then this problem should be solved. @mbeacom what do you think?

[2018-09-05 22:45] pmaojo commented on #2158
I consider this tasks for the work:
- Design the solution. Mockup mobile and desktop. Due date: 10th of September.
- If the design is approved, implement it and PR. Due date: 17th of September

If needed I could make it in fewer days.

[2018-09-06 01:53] lazaridiscom opened #2168 "[DATA] Profile gives wrong impression (false data)"
## Problem

My profile on gitcoin.co contains mostly false data:

https://gitcoin.co/profile/lazaridiscom

Most importantly, the following 3 bounties were completed, but they are listed as "started" or "submitted" or even both:

Fix bad EthPM test
https://gitcoin.co/issue/trufflesuite/truffle-core/87/0

MetaMask web3 instance doesn't return events/logs
https://gitcoin.co/issue/MetaMask/metamask-ex

[2018-09-06 02:31] ceresstation commented on #1680
Sorry about that @aashutoshrathi, paying out the bounty now!

[2018-09-06 02:32] #1387 closed

[2018-09-06 02:42] #2061 closed

[2018-09-06 04:14] thelostone-mc commented on #538
@rahulpat Ah this has been taken care of ^_^

[2018-09-06 04:14] #538 closed

[2018-09-06 04:51] thelostone-mc commented on #2158
@pmaojo yeah ! go ahead and submit out a PR
This issue does not need an approval from the funder as it's a [permissionless](https://gitcoin.co/how/contributor#permissions) bounty! Looking foward to the PR :D

[2018-09-06 05:27] aashutoshrathi commented on #1680
@ceresstation Also close that bounty as it is already completed.
And please take a look at #2003

[2018-09-06 06:16] knocte opened #2169 "GitLab support"
### User Story

as a repo maintainer, I want to be able to use GitCoin if I have a repository in GitLab instead of Github

as a user, I want to be able to fund issues in GitLab repositories, not only Github ones

### Why Is this Needed

*Summary*: It's important that Gitcoin stays agnostic to the git platform being used (otherwise it should be called githubcoin! :P ). Especially given that GitLab

[2018-09-06 07:15] eswarasai commented on #2025
Assigning this to @octavioamu

[2018-09-06 07:16] eswarasai commented on #2019
Assigning this to @octavioamu

[2018-09-06 10:07] owocki commented on #2168
@lazaridiscom  great to see you!   you're welcome to submit a PR with fixes, submit a bounty for someone else to look into it, or if you want we can disable your profile.

[2018-09-06 10:59] SaptakS commented on #2052
@owocki This should be resolved [here](https://github.com/gitcoinco/web/pull/2157) since translation based on language header is now removed. I think as a step two we can implement [this](https://github.com/gitcoinco/web/issues/2159) and maybe [weblate](https://github.com/gitcoinco/web/issues/2114)?

Closing this issue and taking the discussion forward in these 2 issues.

[2018-09-06 10:59] #2052 closed

[2018-09-06 11:47] #1863 closed

[2018-09-06 11:49] lazaridiscom commented on #2168
Are you aware that this translates to:

"Either you fix our fault yourself, pay someone to fix our fault or loose all your history, including all successfully completed bounties".

Is this your standard-procedure when gitcoin's database is corrupted?

[2018-09-06 12:15] aashutoshrathi commented on #1863
Tip for this @ceresstation

[2018-09-06 13:44] vs77bb commented on #1535
@thelostone-mc This is not the case... [here's a regular bounty](https://github.com/ethereum/solidity/issues/4891) where it's showing up.

![screen shot 2018-09-06 at 8 44 44 am](https://user-images.githubusercontent.com/23297747/45161292-1ede1a00-b1b1-11e8-9ab5-ccfc881d92a0.png)

[2018-09-06 13:45] vs77bb commented on #1535
Even for 'Co-op' bounties, I don't think 'dibs' makes much sense anymore... really think it can be removed everywhere

[2018-09-06 13:56] mbeacom opened #2170 "Gas history 3d video missing (Storage method change request)"
**Describe the bug**
The gas history video at:  https://gitcoin.co/gas?is_3d=1 doesn't exist.

**To Reproduce**
Visit the the above page - Video isn't available.

**Expected behavior**
Video is requested from c.gitcoin.co (media CF endpoint).  This includes the video being uploaded to S3 and probably stored on a historical snapshot model.

**Screenshots**

<img width="685" alt="screenshot 2018-09-

[2018-09-06 14:15] millnitzluan commented on #1840
The issue is still opened?

[2018-09-06 14:26] mbeacom commented on #1535
@vs77bb Do you want `dibs` removed from **ALL** gitcoin comments then (including project type `traditional` / permission type `permissionless` ?

[2018-09-06 15:56] PixelantDesign commented on #1427
Done!

[2018-09-06 15:56] #1427 closed

[2018-09-06 16:45] lazaridiscom commented on #1535
Possibly this helps you decide: I did not understood the `dibs` word/concept at all (still don't understand it).

[2018-09-06 17:12] #1535 closed

[2018-09-06 17:49] mbeacom commented on #2117
Introducing a new endpoint to consume estimated hours and denomination/amount performing the calculation should be enough.

If we're storing the estimated hourly rate on the Bounty model (`DoD #2` - `Valid inputs from USD and estimated hours are stored in the database once the issue is funded.`), is this something we intend to pin at the current ethereum market value or should we include a backgro

[2018-09-06 18:06] PixelantDesign opened #2171 "Build V0 - Hackathon Experience in Gitcoin"
### User Story

As a remote contributor I'd like to not see hackathon issues in the issue explorer since I cannot participate on these issues.

As a hackathon participant I'd like to be able to see all of the prizes that are available on Gitcoin.

### Description

### Current Behavior
[comment]: # All open issues are mixed in on the issue explorer.

### Expected Behavior
[comment]: # (Describe wha

[2018-09-06 18:26] #496 closed

[2018-09-06 18:27] thelostone-mc commented on #451
We state email can we hidden if funder clicks on the hide option in http://gitcoin.co/new !
So closing this one out

[2018-09-06 18:27] #451 closed

[2018-09-06 18:29] thelostone-mc commented on #542
Closing this out as the logged in user -> is who created the bounty

[2018-09-06 18:29] #542 closed

[2018-09-06 18:29] #561 closed

[2018-09-06 18:29] mbeacom commented on #2112
Any chance we could `test with users` using the hotjar user testing/validation integration so we can log and track the interactions and feedback?

[2018-09-06 18:29] #596 closed

[2018-09-06 18:30] #814 closed

[2018-09-06 18:31] #703 closed

[2018-09-06 18:32] thelostone-mc commented on #702
This seems to be have been taken care now ^_^

[2018-09-06 18:32] #702 closed

[2018-09-06 18:32] #843 closed

[2018-09-06 18:56] mbeacom commented on #444
I'm going to add this as a subtask to the multi-QA environment project.  Seems like it'd be easier to:

- Fetch the latest prod backup from S3
- Import DB dump into the QA db
- Run migrations
- Run job to update all media asset fields entries for staging (avatar assets are stored in a different bucket and subdomain on staging).

[2018-09-06 19:15] mbeacom commented on #1680
@ceresstation @aashutoshrathi were there any corrections to the Korean translations? The only thing I'm seeing is the PR for adding Japanese. 🤔

[2018-09-06 19:36] #1797 closed

[2018-09-06 19:40] #1832 closed

[2018-09-06 20:33] thelostone-mc commented on #2155
This might get confusing ! cause we need to ensure

- request bounties don't come into picture
- track activity + github comment + PR activity update to make it meaningful (else issues being actively worked falls under the list)
- `stale bounties` -> not too big fan of adding another filter -> But I'd be open to us giving it a shot and monitoring it's usage over hotjar

[2018-09-06 20:38] thelostone-mc commented on #2171
Opposed to that would it make sense to have another explorer endpoint for every hackathon
`/explorer/ethindia` , `/explorer/ethberllin` to show only those specific bounties

It would still need updating the schema and stuff but if it's really needed!

cc @SaptakS

[2018-09-06 20:39] #1881 closed

[2018-09-06 20:44] PixelantDesign commented on #2171
What's the effort for having a separate explorer? That experience would be ideal, but I was trying to think about easy ways to do this for Eth SF.

[2018-09-06 21:07] #1956 closed

[2018-09-06 21:11] #1623 closed

[2018-09-06 21:12] #1568 closed

[2018-09-06 21:12] #1510 closed

[2018-09-06 21:14] PixelantDesign commented on #1518
ok to close @vs77bb ?

[2018-09-06 21:18] #633 closed

[2018-09-06 21:18] #1128 closed

[2018-09-06 21:18] #1130 closed

[2018-09-06 21:19] #1131 closed

[2018-09-06 21:19] #1133 closed

[2018-09-06 21:19] #1134 closed

[2018-09-06 21:20] #1138 closed

[2018-09-06 21:20] #1140 closed

[2018-09-06 21:20] #1137 closed

[2018-09-06 21:26] #718 closed

[2018-09-06 22:19] frankchen07 commented on #1769
Following up on this ticket - will need @mbeacom's input. (@vs77bb to help follow up while I'm out).

[2018-09-06 22:42] pinkiebell opened #2174 "bounty details page: Don't use pk= as a reference to the bounty in requests."
**Describe the bug**
Let's say you are on the bounty details page, you take a look at the issue and decide to submitting a 'start work' request. In the meantime, the funder increased the bounty payout or any action which forces an old_bounty > new_bounty transition / (new pk) on the backend.

You hit submit, everything is fine - gitcoinbot comments go out and all other notifications.
Now you refre

[2018-09-06 22:47] pinkiebell commented on #2174
@PixelantDesign Knows what happened 😄 .

Issue with this specific bug in action:
https://github.com/gitcoinco/web/issues/2164

[2018-09-07 01:15] pinkiebell opened #2175 "Inventory - UX improvements"
We have good tips & guides on our retail pages, this [1] has also good paragraphs.
I want to propose that we incorporate these hints/tips directly into the UI where appropriate.
That also means what we should replace the tooltips on buttons with something like [2],
for better recognition/usability (just an example).

I don't want to clutter the interface but subtle hints at the right places helps

[2018-09-07 03:37] vs77bb commented on #2171
This is compelling to me if it's easy enough to do. Each explorer endpoint could have the branding @PixelantDesign mentioned and referenced above (which I like!)

[2018-09-07 03:40] vs77bb commented on #1100
I think this technically still is needed in the main flow. It can be done in a roundabout way by posting a bounty in one currency, then contributing with another... but that's not very elegant 🙂

Not a huge priority, but still 'Open' issue, maybe?

[2018-09-07 03:41] vs77bb commented on #403
:+1:

[2018-09-07 03:44] vs77bb commented on #2164
@pinkiebell "I follow the holy 'Definitions of Done' ;)"

😂

[2018-09-07 05:52] pinkiebell commented on #2175
@PixelantDesign Ack, the best thing we can do first is an inventory list of all goodies :)

[2018-09-07 05:54] anshumanv opened #2177 "UI issues with the nav on resizing"
**Describe the bug**
* user avatar squeezes, different sized buttons on nav on resizing, text inside nav not centred.

**To Reproduce**
Checkout the navbar after resizing the page.

**Expected behavior**
* User image/avatar should stay as is, buttons should be of equal size? text inside them should be centred.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/45200838-4f

[2018-09-07 05:59] pinkiebell commented on #2164
@vs77bb That's a good one 👍  😆

[2018-09-07 06:10] aashutoshrathi commented on #1680
Korean one was already done, I completed Japanese one.

[2018-09-07 08:11] thelostone-mc commented on #2171
@mbeacom  If we were to do this -> would it make sense to maintain this data in a separate table as opposed to adding an extra field at the existing schema to diff btwn normal bounties & event bounties ?

[2018-09-07 08:27] thelostone-mc commented on #2177
@PixelantDesign we should evaluate how to handle it! would it make sense using icons on smaller screens / do we ignore a few tabs and so on

cc @SaptakS

[2018-09-07 08:56] thelostone-mc commented on #2075
@PixelantDesign @deanramadan
Do you want all profiles to be blocked or just the ones mentioned in the `Soft 404's` document ?

[2018-09-07 09:02] thelostone-mc commented on #2074
@deanramadan Do we have an account with one of these services which I can use ?

[2018-09-07 10:51] mul1sh commented on #2037
@thelostone-mc @frankchen07  i've submitted the PR, though i'm getting code coverage errors and i'm not sure how to sort them, kindly advise. Thanks.

[2018-09-07 11:08] PixelantDesign commented on #2174
Hi @mul1sh and @Naggertooth....
Could you be more specific in your technical approach?

[2018-09-07 11:09] PixelantDesign commented on #2174
@mbeacom thoughts on this one?

[2018-09-07 11:15] mul1sh commented on #2174
@PixelantDesign sure.

My approach is this, after a user has expressed interest in a bounty by clicking [Start Work] then before updating the bounty with the users interest and enabling them to start work, i'll first check if another bounty exists in the database with the same issue url as the current bounty and if it does exist i'll then check the created timestamp to see which bounty is the newe

[2018-09-07 11:36] PixelantDesign opened #2179 "Bounty Crowdfunding USD Inaccurate"
**Describe the bug**

Bounty Crowdfunding USD Inaccurate

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

https://gitcoin.co/issue/ethberlin-hackathon/ETHBerlin-Bounties/7/1119

<img width="1121" alt="screen shot 2018-09-07 at 1 25 28 pm" src="https://user-images.githubusercontent.com/238235/45217037-a6d72900-b270-11e8-9f85-8011af5749ac.png">

[2018-09-07 12:03] mbeacom commented on #1680
@ceresstation @thelostone-mc  Sounds like we still need to verify the Korean translation.

[2018-09-07 12:40] Naggertooth commented on #2174
@PixelantDesign, ofcourse.

As I said, I'll choose best one from 2 provided ideas for keep code uniformity in project.

I belive that when you hit submit - there would be a request with all data for an issue, and all I have to do is choose the best solution.
If more effective would be - changing the data on backend, when funder increased the bounty payout or any action which forces an oldbounty >

[2018-09-07 14:42] deanramadan commented on #2074
@thelostone-mc we do have a ScreamingFrog account. i'll slack you my login details that you can use

[2018-09-07 14:44] deanramadan commented on #2075
@thelostone-mc all deactivated/deleted profiles that still have URL's now and profiles that are deactivated/deleted in the future

[2018-09-07 18:06] mbeacom commented on #1461
@warezgibzzz As @Naggertooth mentioned... If possible, I recommend installing Docker CE vs Docker Toolbox (if your hardware supports virtualization).

Regarding Docker Toolbox (if you're running Windows <= 8.x), please ensure you have went through the entire installation and setup process outlined in the Docker documentation:  https://docs.docker.com/toolbox/toolbox_install_windows/ - You need to

[2018-09-07 18:16] b3h3rkz commented on #1840
I think so!

[2018-09-07 23:26] pinkiebell commented on #2174
I suggest using standard_bounties_id and network for the api requests/endpoints.
Also, only modify bounty objects where .current_bounty == True

[2018-09-08 00:31] Naggertooth commented on #2174
@pinkiebell Thank you for suggestion :)
It'll help a lot!

[2018-09-08 07:01] thelostone-mc commented on #2074
@PixelantDesign closing this one out as we already have a bounty out at https://github.com/gitcoinco/web/issues/2147 on this one as discussed in the marketing channel.

[2018-09-08 07:01] #2074 closed

[2018-09-08 07:02] thelostone-mc commented on #2147
@aashutoshrathi could we get this in within the next few days ?

[2018-09-08 07:03] #475 closed

[2018-09-08 07:04] #1363 closed

[2018-09-08 07:05] #2152 closed

[2018-09-08 07:38] #1567 closed

[2018-09-08 19:41] tcrowe opened #2182 ""Submit Work" javascript error"
**Describe the bug**
There's a JavaScript error preventing me from submitting the form all the way.

pk: 3565

**To Reproduce**
<img width="540" alt="screen shot 2018-09-08 at 12 48 09 pm" src="https://user-images.githubusercontent.com/1634015/45257676-5f7f9400-b367-11e8-94b0-7b1e476d1e92.png">

I clicked submit.

<img width="1424" alt="screen shot 2018-09-07 at 5 53 14 pm" src="https://user-image

[2018-09-09 18:42] tcrowe commented on #2182
I tried again today and it went through all the way! 💪🏼

The problem could have been that my internet was censored where I was yesterday and then it couldn't connect to the remote third-party services.

Should we close it out?

[2018-09-09 18:55] SaptakS commented on #2182
I checked on my end. Doesn't seem to be anything breaking on our side.

[2018-09-09 19:12] pmaojo commented on #2158
Yes. I am working on the issue and will upload here the designs on the date I proposed, tomorrow 10th of september. 👍 @gitcoinbot

[2018-09-09 19:32] tcrowe commented on #2182
Thank you for taking a look, SaptakS

[2018-09-10 06:45] thelostone-mc commented on #1961
@PixelantDesign / @owocki if this looks good !
Could we create a code issue where we can wrap this up ?

My only feedback was I'm not a big fan of the dark background in the terms section but defer to @PixelantDesign on that

[2018-09-10 09:19] thelostone-mc commented on #2037
@mul1sh left some comments on the PR ^_^

[2018-09-10 12:10] mul1sh commented on #2037
@thelostone-mc  awesome thanks, let me act on it then 🙂

[2018-09-10 17:02] PixelantDesign opened #2184 "Build - Resurface Issue To the top when Expiration has been Extended"
## Description

As a user I want to see issues at the top If no one has started work and the expiration has been extended.

## Definiton of Done

- [ ] Build in logic to make an issue refresh and display at the top of the issue explorer if the issue time frame has been extended.

Please review with @pixelantdesign @vs77bb

[2018-09-10 17:08] PixelantDesign opened #2185 "Build - Sometimes, Issues in the 'Open' category are actually Expired"
**Describe the bug**
Sometimes, Issues in the 'Open' category are actually Expired

**To Reproduce**
Go to the issue explorer and find issues that are Open, but they are actually expired.

![screen shot 2018-09-10 at 11 53 37 am](https://user-images.githubusercontent.com/238235/45312610-87533100-b4fa-11e8-8be4-cf8c1241e965.png)

[2018-09-10 17:24] PixelantDesign opened #2186 "Design - Show Remarketed Issues on Issue Explorer"
### User Story

As a contributor I'd like to immediately know that an issue is **open** and **available** **for** **me to work on.**

### Why Is this Needed

Currently at a glance, in the Open Filter, it's unclear what is actually open.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bu

[2018-09-10 17:40] PixelantDesign commented on #2174
@Naggertooth please work with @pinkiebell to push to completion!

[2018-09-10 18:12] PixelantDesign commented on #2045
Thanks @arun1595 !

[2018-09-10 18:15] PixelantDesign commented on #1961
Thanks. How will this look in responsive views?

[2018-09-10 18:18] vs77bb opened #2187 "Wrong Message When Bounty Cancelled"
**Describe the bug**
Gitcoin Bot and Gitcoin's app did not capture cancelled status correctly when a funder went though 'Cancelled' flow.

**To Reproduce**
[See here](https://gitcoin.co/issue/ethberlin-hackathon/ETHBerlin-Bounties/32/1121).

**Expected behavior**
Cancelled issue should show as cancelled (not 'Work Done') and the Github comment should state cancelled, not 'issued and approved'.

**

[2018-09-10 18:26] PixelantDesign commented on #2038
@willsputra could you provide details on how you see the interactions working?

[2018-09-10 18:33] PixelantDesign commented on #1860
Checked in with @pinkiebell this am...waiting to see this on staging.

[2018-09-10 18:35] PixelantDesign commented on #2083
Agree with @owocki on making avatar circular.
Is the 1ETH Everyday clickable? It currently looks clickable.

Could we look at the vertical spacing on all the emails? Some things look tight, other things look fine.

[2018-09-10 18:38] PixelantDesign commented on #1770
@SaptakS are you handling this in the profile rework?

[2018-09-10 18:47] PixelantDesign commented on #749
#2184 and #2185 could help with this.

I could see using this (!) icon on the issue details, but hopefully our filters should work properly and show the issues that are open.

<img width="59" alt="screen shot 2018-09-10 at 2 43 32 pm" src="https://user-images.githubusercontent.com/238235/45317575-61cd2400-b508-11e8-9245-dcb7f32c70d9.png">

Otherwise, we might have too much clutter on the issue exp

[2018-09-10 18:48] PixelantDesign commented on #2085
Could we make the heart and circle red?

[2018-09-10 18:50] PixelantDesign commented on #2087
The H1 text seems long and wordy @captnseagraves any other ideas?

What about:
Your withdrawal has been approved or has processed.
Or
Your funds are ready to be withdrawn.

Something shorter/to the point?

[2018-09-10 18:51] PixelantDesign commented on #2088
looks good!

[2018-09-10 18:51] PixelantDesign commented on #2089
Can we do the x and circle in red?

[2018-09-10 18:52] PixelantDesign commented on #2089
Should we say why it has been cancelled? @captnseagraves

[2018-09-10 19:01] vs77bb commented on #2038
@PixelantDesign I was going to see if @arun1595 @anshumanv @pinkiebell were interested in this one!

[2018-09-10 19:07] vs77bb commented on #2158
CC @PixelantDesign on the above for her thoughts on design ^

[2018-09-10 19:08] vs77bb commented on #2125
@usmanmuhd is this still an issue on your side?

If so -- @SaptakS @thelostone-mc, would you be able to help out @usmanmuhd here?

[2018-09-10 19:13] vs77bb commented on #2171
@PixelantDesign The convo above also could have bearing on our conversation about breaking out bug bounties from the main issue explorer.

Hackathons // bug bounties are a very different experience than a core Gitcoin bounty (getting paid for making a PR which is merged to an active repo).

@owocki @ceresstation also curious your learnings from ETHBerlin / if you agree this is helpful, now. I thin

[2018-09-10 19:41] aerophile commented on #1991
Still working on this, Just got stuck with something. Should post the next update soon.

[2018-09-10 20:13] mbeacom opened #2188 "Migrate from UserAction to Activity"
### User Story

As a user, I want to retrieve a list of all of my activities in one place (and not need to include `UserAction` requests/queries).

### Why Is this Needed

*Summary*:  Developers and users should only require querying/requesting a list of activities from one model:  `Activity` versus `UserAction` **and** `Activity` to decrease overlap, confusion, and complexity of future modificati

[2018-09-10 22:14] #1738 closed

[2018-09-10 22:28] PixelantDesign commented on #2038
Sounds good.

[2018-09-10 22:32] owocki opened #2189 "bug - my profile shows my profile pic but it should show my avatar"
my profile shows my github picture but it should show my avatar

gitcoin.co/profile/owocki

http://bits.owocki.com/9dfbcae73986/Screen%20Shot%202018-09-10%20at%206.31.53%20PM.png

[2018-09-10 22:43] PixelantDesign commented on #749
Let's see how things are after we launch #2184 and #2185. Closing for now.

[2018-09-10 22:43] #749 closed

[2018-09-11 00:33] usmanmuhd commented on #2125
@vs77bb yes it is still an issue.

[2018-09-11 00:49] Manjilan commented on #2116
The final product is on github repo https://github.com/Manjilan/EIP1337 and just to check it is hosted on github pages at https://manjilan.github.io/EIP1337/ . Please let me know if anything else needs to be done.

[2018-09-11 02:31] PixelantDesign opened #2191 "Bug - Funded Issue Showing $0 USD"
**Describe the bug**
Funded Issue showing $0 but .17 ETH

**To Reproduce**
Fund an issue

**Expected behavior**
show correct usd amount

**Screenshots**
<img width="1062" alt="screen shot 2018-09-10 at 10 29 50 pm" src="https://user-images.githubusercontent.com/238235/45334550-37e82180-b549-11e8-9ca0-cab99de0dbd2.png">

https://gitcoin.co/issue/gitcoinco/web/2190/1184

Also not showing USD on Gitc

[2018-09-11 03:08] thelostone-mc commented on #2116
except the extra authors  ! Everything else LGTM ^_^

[2018-09-11 03:10] arun1595 commented on #2191
@PixelantDesign It shows up the right USD amount now. Weird

![image](https://user-images.githubusercontent.com/7039523/45335741-61537e00-b546-11e8-918d-9e415bf79b06.png)

[2018-09-11 03:34] PixelantDesign commented on #2191
yes very!

[2018-09-11 03:34] #2191 closed

[2018-09-11 03:40] PixelantDesign commented on #1940
So lets go back to click to load, and keep the footer at the bottom?

[2018-09-11 04:45] mbeacom commented on #2189
This was due to duplicate `Profile` objects 🤔 and has been resolved...  following up with an issue to investigate the duplicate `Profile` object occurrence.

[2018-09-11 04:45] #2189 closed

[2018-09-11 05:18] thelostone-mc commented on #2166
YAY

I would okay with this if it's a one-time thing cause it is very distracting.
I would, however, encourage adding it to `How it works section`

@vs77bb at some point -> I would love to discuss / debate whether we need short `how-to-videos` (a good professional) which folks may find a lot easier to understand as opposed to reading

@PixelantDesign could we bounty out the design / could you list

[2018-09-11 06:26] Naggertooth commented on #2174
@PixelantDesign okay, thank you!
I'm expecting to start work on Friday.

[2018-09-11 11:52] justpixel commented on #2082
Updated with a new illustration.
![thank you](https://user-images.githubusercontent.com/7627020/45358488-429ac900-b5d2-11e8-9921-d01c8fc851ca.png)

[2018-09-11 11:56] justpixel commented on #2083
Fixed.

![new supporter](https://user-images.githubusercontent.com/7627020/45358670-d371a480-b5d2-11e8-9655-751adbf8da57.png)

[2018-09-11 11:57] justpixel commented on #2085
Updated.

![support ended](https://user-images.githubusercontent.com/7627020/45358702-f13f0980-b5d2-11e8-842e-3ad9d9862961.png)

[2018-09-11 12:31] troggy opened #2193 "Clicking "Approve" multiple times leads to multiple "Worker Approved" records in history"
**Describe the bug**
When approving a worker, I clicked "Approve" button twice and it got reflected in history as two "Worker Approved" records. See: https://gitcoin.co/issue/parsec-labs/solevm-truffle/4/1186

**To Reproduce**
Click "Approve" button multiple times before the first request is finished.

**Expected behavior**
 I expected to see just one "Worker Approved" record.

**Screenshots**
![i

[2018-09-11 12:32] justpixel commented on #1890
Updated the milestone section.
![create grant](https://user-images.githubusercontent.com/7627020/45360224-94921d80-b5d7-11e8-89d1-17a039954aee.png)

[2018-09-11 12:56] PixelantDesign commented on #1890
Hey @captnseagraves @justpixel

If a someone is creating a grant, are they thinking about creating milestones or do they just want to get the project created and funded? Though, I guess I could see having milestones/a plan to help encourage funding.

Hard to know without getting some user feedback on this.

Could we use round circles instead of square for the avatars (we currently use round in the

[2018-09-11 12:59] PixelantDesign commented on #2085
What is the value of the red if the green bar is 10 Eth? Or am I reading it wrong?

[2018-09-11 13:00] PixelantDesign commented on #2083
looks good!

[2018-09-11 13:00] PixelantDesign commented on #2082
cute!

[2018-09-11 13:52] vs77bb commented on #1727
@thelostone-mc @SaptakS Is this one with us for review still?

[2018-09-11 13:54] vs77bb commented on #1518
@PixelantDesign Can we confirm increased contribution does reflect on Github?

[2018-09-11 14:01] PixelantDesign commented on #2038
@willsputra
How do they get the invitation via link or via github? What is the experience?

[2018-09-11 14:33] #1468 closed

[2018-09-11 14:37] PixelantDesign commented on #2166
I think we should wait for the real version before we do a video...what do u guys think?

[2018-09-11 14:42] PixelantDesign commented on #1769
@darkdarkdragon are you still working on this?

[2018-09-11 14:51] SaptakS opened #2194 "CSS Refactor to break into re-usable modules"
### User Story
As a frontend developer/contributor to gitcoin, I want the frontend to be written with re-usable modules and components for better readibility and maintainability.

- buttons (September B Sprint)
- forms (September B Sprint)
- colors
- typography
- carousel
- cards

- alert banners

[2018-09-11 15:06] SaptakS commented on #2114
In this issue, I and @mbeacom are checking out different options that can be used including weblate and how we can use and the tech behind.

[2018-09-11 15:54] PumpkingWok opened #2195 "My profile appears twice in the leaderboard"
**Describe the bug**
- My profile (PumpkingWok as my github username) appears twice in the leaderboard https://gitcoin.co/leaderboard , right now on position 59 (with seven bounties) and 147 (with one bounty). In position 147 the profile name is wrong, `pumpkingwok` instead of `PumpkingWok`

- In my profile page the position in the ranking reflects the last one, number 147, which one with wrong na

[2018-09-11 16:02] willsputra commented on #2038
@PixelantDesign
The 'invite a Gitcoiner by username' field will behave like Gmail's 'To:' field.

Type some letters, then recommendations will appear below the field (list of usernames containing the given letters). Click on a recommended username, and the username will appear inside the field. You could also remove a user by clicking the 'X' symbol.

For the invitation, as you mentioned there cou

[2018-09-11 17:01] vs77bb commented on #2166
Agree with this as well!

[2018-09-11 17:12] captnseagraves commented on #1890
Yes, the idea was to allow a user to create roadmap via milestones. This allows funders to measure progress, etc. I was just thinking this morning about the milestones though, I wouldn't want to recreate a Github feature. Seems like we could encourage users to manage their project through the github "milestones" and/or "projects" features.

We should use round circles for the avatars.

[2018-09-11 17:17] captnseagraves commented on #2089
The circle should be in red.

This email is meant to confirm to the grant creator that the grant has ended. So they would know why it is canceled. We should think about having the grant creator post an update on why they are canceling the grant so that supporters know.

Also, do you think "canceled" is the right term? "Ended", "terminated", "Discontinued" are other possible options.

[2018-09-11 17:22] Manjilan commented on #2116
I have added the new team member info as well.

[2018-09-11 17:39] #1714 closed

[2018-09-11 17:39] thelostone-mc commented on #2166
Coolio! @vs77bb / @PixelantDesign lemme know once we've got designs and we'll move ahead with execution :)

[2018-09-11 17:43] #2177 closed

[2018-09-11 17:43] owocki opened #2197 "Deploy Grants to a staging environment"
https://github.com/gitcoinco/web/tree/grants

Please deploy this to a new environment and link it in the #proj-grants

[2018-09-11 17:43] owocki commented on #2197
cc @mbeacom

[2018-09-11 17:46] thelostone-mc commented on #2116
@owocki should I port over the code into another repo within gitcoin?

[2018-09-11 17:58] thelostone-mc commented on #2116
As discussed offline with @PixelantDesign and @Manjilan looks like we can wrap this up
For now I've moved the code over to https://github.com/gitcoinco/ERC-1337/
and it's live at https://gitcoinco.github.io/ERC-1337/

@owocki @PixelantDesign @Manjilan

[2018-09-11 18:04] PixelantDesign commented on #2116
Thanks! @thelostone-mc
Thanks for the quick turn around @Manjilan !

[2018-09-11 18:12] #2116 closed

[2018-09-11 18:34] PixelantDesign commented on #2195
Thanks for reporting these @PumpkingWok!

[2018-09-11 18:45] vs77bb commented on #2177
@anshumanv just sent you 10 DAI for reporting the issue! Thanks for taking the time 😄

[2018-09-11 19:00] vs77bb opened #2198 "Add Gitcoin Requests Into E-Mail Drip Campaign"
Needs definition ... might be worth doing a mini-refresh of the drip campaign based on the data of how it's converting users.

[2018-09-11 19:14] owocki commented on #2125
@usmanmuhd did you go through the integration guide for github?  see https://docs.gitcoin.co/mk_third_party_integrations/

if so, and you're still having issues, can you open up a github issue for this bug report and please include the exception you're getting back?  we'd be happy to help ?

[2018-09-11 19:21] owocki opened #2199 "as a user, i want to request a funding limit increase via a webform, so i don't have to go through the information complexity of contacting support (and so anyone on gitcoin core team can to limit increases)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to request a funding limit increase via a webform, so i don't have to go through the information complexity of contacting support (and so anyone on gitcoin core team can to limit increases)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description o

[2018-09-11 19:22] vs77bb opened #2200 "[Code] Inviting Specific Gitcoiners To Work"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder, I'd like the ability to invite specific Gitcoiners to work on my issue after it is funded so that I can foster continuing working relationships with people who I know and trust.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2018-09-11 19:29] PixelantDesign commented on #2199
Looks good to me!

[2018-09-11 19:33] pinkiebell commented on #2199
Interested! I would use Django Forms, with the same flow like Gitcoin Requests V0 👍

[2018-09-11 19:35] owocki commented on #2195
probably makes sense to normalize the capitalization of the usernames when we run `assemble_leaderbords`

[2018-09-11 19:42] owocki commented on #2116
@PixelantDesign good to payout!?

[2018-09-11 20:37] PixelantDesign commented on #2199
This would be a good link to have in Tools

[2018-09-11 21:40] captnseagraves commented on #2082
Love the robot! Probably a v2/stretch goal, but perhaps we should create emotive robots for other uses?

[2018-09-11 21:53] owocki commented on #2082
I <3 the robot with a heart in it!  there's just something that strikes a chord with me to teach a robot to love!  i bet there are other places we could use this artwork too :)

[2018-09-11 21:57] owocki commented on #2199
@pinkiebell wanna do this and ill tip you out?  would save us from having to bounty it to just have you work on it ! :)  let me know what amount is fair

[2018-09-11 22:17] captnseagraves commented on #2087
Closing ticket as "withdrawal" user flow is deprecated due to metatx architecture.

[2018-09-11 22:17] #2087 closed

[2018-09-11 22:44] PixelantDesign commented on #2158
Looking good @pmaojo.

We probably don't need the header that says **Budget** since we aren't planning a budget here.
Could you show these in context of the rest of the funder form?

[2018-09-11 22:58] PixelantDesign commented on #2200
@vs77bb may want to provide email content.

[2018-09-11 22:59] PixelantDesign commented on #2193
Thanks for reporting this @troggy!

[2018-09-11 23:05] pinkiebell commented on #2199
@owocki Fine, added to my list. I expect a turnaround in two days if nothing unexpected jumps in between. 👍

[2018-09-11 23:06] pmaojo commented on #2158
![captura-de-pantalla-2018-09-11-23 58 12](https://user-images.githubusercontent.com/411551/45392532-ae575300-b61f-11e8-8a98-99a7206fcd55.jpg)

[2018-09-11 23:11] PixelantDesign commented on #2155
I also wonder if we should redefine Work Started and add an Expressed Interest or Apply to Work State. We have this in some cases.

Users that have Yet to Begin Work, technically haven't started. Right now they're just bucketed in the Start Work state with people who have actually started work.

@thelostone-mc @owocki ?

[2018-09-12 03:35] usmanmuhd commented on #2125
From the bot details, I am not able to get the following details
[code]
1. What is the app id? (I have attached a screenshot of the page, it shows no id as such)
2. Where is the gitcoin_bot_secret.pem file?
![screenshot from 2018-09-12 09-02-00](https://user-images.githubusercontent.com/26684281/45400717-e3d55e00-b66a-11e8-97d6-01245db96123.png)

[2018-09-12 09:26] pmaojo commented on #2158
I am not planning to change the texts. My sketches contain some ideas, but consider them dummy text.

[2018-09-12 09:46] thelostone-mc commented on #2125
@usmanmuhd until that gets resolved -> you can still log the response of the bot at `notifications.py` on the terminal when you recreate the scenario.
This is so that you aren't blocked by this issue

[2018-09-12 09:48] thelostone-mc commented on #1727
Yes but we'd end up merging this post orgs PR after discussing this with @mbeacom & @SaptakS.

[2018-09-12 11:36] PixelantDesign commented on #2184
@mul1sh let us know if you have questions!

[2018-09-12 11:37] PixelantDesign commented on #2184
@willsputra this is related to what you're designing!

[2018-09-12 11:47] mul1sh commented on #2184
@PixelantDesign will do, 🙂 thanks

[2018-09-12 13:06] darkdarkdragon commented on #1769
@PixelantDesign I was waiting on @mbeacom's response on this one, but probably there is just nothing to do here

[2018-09-12 13:36] PixelantDesign commented on #1769
@mbeacom ^

[2018-09-12 13:50] PixelantDesign commented on #2085
ohh gotya, I missed the 344 Eth. That makes sense now. I like the idea of displaying monthly vs total. @captnseagraves

[2018-09-12 13:53] PixelantDesign commented on #2089
@captnseagraves
Cancelled seems right to me. Having a reason why would be even better.
Ended could mean that it was completed/fullfilled but is over?

[2018-09-12 13:56] usmanmuhd commented on #2125
@thelostone-mc `get-notifications.py` seems to throw errors because the django.conf.settings is not getting set when I directly run the file. Changing it in one place does not seem to fix it. There are many other files that need a change. I think it's better for me to wait for this to resolve. @vs77bb @owocki @SaptakS Is there any way to directly just see the gitcoin bot notifications than this on

[2018-09-12 14:05] mul1sh commented on #2103
PR for this is coming up in less than 3 hours

[2018-09-12 15:01] vs77bb opened #2204 "[CODE] Funder Payout Reminders"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a Gitcoin User, I want to be sure that people are being paid promptly for the time they spend developing on the platform so other great developers trust the platform.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would l

[2018-09-12 15:43] vs77bb commented on #1727
:+1: Makes sense

[2018-09-12 15:44] vs77bb commented on #2158
"Enter the above values to estimate *success probability*"

[2018-09-12 16:35] thelostone-mc commented on #1173
Closing this out and following it up on https://github.com/gitcoinco/web/issues/2194

[2018-09-12 16:35] #1173 closed

[2018-09-12 16:35] #1868 closed

[2018-09-12 17:27] captnseagraves opened #2205 "Create Design - "Subscription Transaction" Email"
### User Story

As a Grant Supporter, I want to know when a  subscription transaction has been taken out of my account so that I know when I have paid value to a project.

### Why Is this Needed

The "Subscription Transaction" Email is needed so that grant supporters know when they have had value transferred from their account to the grant project.

### Description

*Type*: Feature

### Definition

[2018-09-12 17:27] captnseagraves commented on #2205
Assigning @justpixel

[2018-09-12 17:36] owocki commented on #1991
https://aleth.io/ just launched ... i wonder if we can leverage any of their tech for this

[2018-09-12 17:41] captnseagraves opened #2206 "Create Design - "Transaction Summary" Email"
### User Story

As a Grant Creator, I want a summary of all transactions on days that I receive funding so that I know when I have funds to allocate toward my project.

### Why Is this Needed

The "Transaction Summary" Email is needed so that grant creators know when they receive funding and how much funding they have received. If they have not received funding on a given day, they will not receiv

[2018-09-12 17:41] captnseagraves commented on #2206
Assigning @justpixel

[2018-09-12 18:56] pinkiebell commented on #2199
@owocki
Should the code go into `app/retail` or a new home like `app/request_increase` ?

[2018-09-12 19:43] owocki commented on #2199
defer to @thelostone-mc @SaptakS or @mbeacom on this

[2018-09-12 19:49] mbeacom commented on #2199
@pinkiebell You can toss it into `app/retail/`

[2018-09-12 22:26] owocki commented on #2171
i agree it would be helpful

[2018-09-12 22:29] owocki opened #2208 "500 error upon login"
from the contributor:

Step to reproduce:Followed by your link. Login with GitHub. - here it is. iOS 11. Safari.

![image1](https://user-images.githubusercontent.com/513929/45456680-f1113d80-b6a8-11e8-8090-561b72e99871.png)

[2018-09-12 22:30] owocki commented on #1961
hmmmm looking at the original scope, we did not specify responsiveness as a requirement.@marciogurka want to submit your work and i will payout?

[2018-09-12 22:42] owocki commented on #2187
i think this is likely because there are tips attached to the issue, so the bot thinks it was paid out via advanced payout

[2018-09-12 22:52] owocki commented on #2185
fwiw, you can still work on gitcoin issues after they expire.. so technically they *are* still open

[2018-09-12 23:08] owocki commented on #1840
yesss and id love some hel

[2018-09-13 03:58] vs77bb commented on #2198
Yeah wrote this before that... wonder if we should do a rev on it (and make it less text-y and more picture-y)

[2018-09-13 03:59] vs77bb commented on #1961
@owocki or you can payout using Advanced Payout 🙂

[2018-09-13 07:41] thelostone-mc commented on #2103
@owocki will do ! left some feedback for @mul1sh to fix up

[2018-09-13 08:34] lazaridiscom commented on #2168
"Free Gitcoin T-Shirt! Answer a few questions and help us improve our site.

We are looking for visitors to participate in a usability test. To qualify simply fill in the short form below. If you are selected, you will be contacted by a member of our team."

The usability was terrible, and it is still terrible.

Gitcoin is far to "centric" (as in non-trustless), and

[2018-09-13 08:38] alp82 commented on #1179
Is this still something that needs to be done? The issue is open but deadline is in the past. Not sure if this needs to be picked up.

[2018-09-13 08:38] thelostone-mc commented on #2185
@PixelantDesign They'd have to get in touch with the funder (so it would make sense to keep it open)
@owocki thanks for addressing that  ^_^

A few community folks have done that -> then the funder extends expiration and they start work on it

[2018-09-13 08:42] thelostone-mc commented on #2185
Though it is confusing to the end user but we do have a clear message on the bounty page

<img width="560" alt="screen shot 2018-09-13 at 2 11 47 pm" src="https://user-images.githubusercontent.com/5358146/45477340-02b51c80-b75f-11e8-8aeb-530af569c87b.png">

For clarity we could hide the `Expired` label on the explorer but a lot of folks find that useful

[2018-09-13 08:53] thelostone-mc commented on #2125
@usmanmuhd on the off chance you decide to give it a shot! you'd have to move [build_github_notification](https://github.com/gitcoinco/web/blob/master/app/dashboard/notifications.py#L542)  to `L532` to ensure the message build up happens first.

That's kinda what I did [here](https://github.com/gitcoinco/web/pull/2202)

[2018-09-13 09:04] #2103 closed

[2018-09-13 09:10] thelostone-mc commented on #2150
@owocki is this still a problem ?  was it some cache issue ?
Can't seem to recreate in on local

<img width="814" alt="screen shot 2018-09-13 at 2 39 24 pm" src="https://user-images.githubusercontent.com/5358146/45479017-f7fc8680-b762-11e8-80a4-3f2d2abb536a.png">

<img width="1385" alt="screen shot 2018-09-13 at 2 39 32 pm" src="https://user-images.githubusercontent.com/5358146/45479018-f7fc8680-b

[2018-09-13 09:15] thelostone-mc commented on #2104
Closing this out on account of unable to reproduce. will re-open if it happens again !

[2018-09-13 09:15] #2104 closed

[2018-09-13 09:38] #1647 closed

[2018-09-13 09:39] thelostone-mc commented on #1859
Closing this out and it seems to working fine ^_^

[2018-09-13 09:39] #1859 closed

[2018-09-13 09:45] thelostone-mc commented on #1179
@alp82 yeah have at it ! we'd be happy to tip you out / reopen the bounty if you can get it across the finish line

[2018-09-13 09:45] #1951 closed

[2018-09-13 09:50] usmanmuhd commented on #2125
Thanks @thelostone-mc ! It works!

[2018-09-13 10:08] alp82 commented on #1036
Shouldn't this be closed?

[2018-09-13 15:33] mul1sh commented on #2184
@PixelantDesign between newly created issues and issues where the expiration has been extended, which should take the highest precedent i.e. should newly created issues appear higher in the list than the extended expiration or vice versa?

[2018-09-13 15:47] marciogurka commented on #1961
Hey @owocki and @PixelantDesign I can do the mobile responsive view if you want! I'll share with you until the end of the day, ok?

[2018-09-13 16:06] aerophile commented on #1991
aleth.io definitely looks interesting. They do talk about transactions and accounts stats specifically as well but I don't think they are ready for use just yet. Most of their links lead to a signup to be notified when they are ready. I have signed up to be notified. It would be good if we can add them as an another source of transaction data as well.

[2018-09-13 18:01] pmaojo commented on #2158
I look forward a response to start coding

[2018-09-13 18:59] owocki commented on #1961
thanks!

[2018-09-13 19:03] owocki commented on #2159
that makes sense to me

[2018-09-13 19:11] owocki commented on #572
yes its an active ticket.. no, there is not currently a bounty on it.  you interested in working with us on this?

[2018-09-13 19:12] pinkiebell commented on #2175
### Hints

Keep an eye out for an
email with a Work Started
or Request to Work notice
Approve the request via
the email notification.

Once work has been completed
the contributor will
submit a PR for review.

Depending on the project
type, payment can be
made to one contributor
or to multiple contributors at one time.

Upon completion use the
accept submission button
on the issue details page to

[2018-09-13 19:12] #1036 closed

[2018-09-13 19:13] owocki commented on #2150
yes its still a problem in production for me.  can you repro in prod?

[2018-09-13 19:18] owocki commented on #2168
Excuse me, but have you done any sort of analysis to ascertain who is 'at fault' for the bug?  There are 100s of contributors to this project.

Laz, you are welcome to begin contributing value to your project at any time.

Please re-read the [contributor guide](https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md#code-of-conduct), and please stop voicing whatever negative thought pops

[2018-09-13 19:18] #2168 closed

[2018-09-13 19:42] owocki commented on #2170
This seems related to the transfer to cloudfront, as the video exists on the filesystem at `static/tmp/gas_price_viz.mp4`

I just put an entry into the nginx config that allows https://gitcoin.co/static/tmp/gas_price_viz.mp4 to be served directly from the filesystem in the time being

[2018-09-13 19:50] mbeacom commented on #2170
@owocki That makes sense.  We'll want to maintain this issue to track migrating this local FS to S3, though since this will become problematic when we're serving the app across `n` containers all requiring generation of the same file and potentially differing results.

[2018-09-13 19:56] vs77bb commented on #2158
@pmaojo What response are you looking for us to begin coding? I think it looks good, with the slight update in text above.

Please do make sure to re-use components / styling to match what's already in the funder form!

[2018-09-13 19:57] PixelantDesign opened #2210 "Add Coinbase Wallet on Mobile Detection"
Not Ready to be Worked On.

### User Story

As a user I'd like to be able to access my wallet given that metamask is not available on mobile.

### Why Is this Needed

Gitcoin's onboarding for mobile non-web3 users, you only recommend MetaMask users. That's likely causing incomplete signups as MetaMask isn't available on mobile. change it to Coinbase Wallet when you detect a mobile user.

### Descr

[2018-09-13 19:59] owocki opened #2211 "DESIGN - As a funder, I want example bounties that I can copy, so I know I'm scoping my bounty correctly."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want example bounties that I can copy, so I know I'm scoping my bounty correctly.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
People don't already r

[2018-09-13 20:22] owocki opened #2212 "as a data analysist, i want the utm* params of a login UserAction stored in the DB"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a data analysist, i want the utm* params of a login UserAction stored in the DB

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

`utm_*` params are the way we know

[2018-09-13 20:36] owocki opened #2213 "Create leaderboard by city/country/region"
The scope of this issue is to turnaround the remaining comments on this PR :
https://github.com/gitcoinco/web/pull/2091#discussion_r215738328 , such that we can ship this to production.

Some of the things that need done:
* New `Location` relation
* Optimizing `assemble_leaderboard` job
* Fixing tests failures

[2018-09-13 20:40] octavioamu opened #2214 "Bounty informations"
### Discussion

Today is hard to understand the state of the issue, and that is a big effort and also we need to understand the issue description so all that process is needed to decide to start working or not in a bounty is big.

I think some changes can help us to make a better process hunting issues:

### States
I see as a solution show the states in the explorer
1- Open : nobody has applied ye

[2018-09-13 21:39] owocki opened #2215 "Advanced Pay - Show preview of where my ETH is going, so i can have faith my ETH is safe"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a preview of where my ETH is going in the Advanced Pay flow, so i can have faith my ETH is safe

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

In t

[2018-09-13 21:39] owocki commented on #2215
@PixelantDesign @mbeacom look ok? i may bounty this if no objections

[2018-09-13 21:42] owocki commented on #1410
Is this blocked by organizations, or can it be done in parallel?

Since we're having a hard time finding bandwidth for it, should we just bounty it?

[2018-09-13 21:46] owocki commented on #1663
sorry for the slow response.. paying out now

[2018-09-13 21:50] owocki commented on #1982
what does 'passively rejected' mean?

from the above screenshot.. it doesnt look like jebek29 was rejected at the time of his warning... or am i missing something?

[2018-09-13 22:45] marciogurka commented on #1961
Hey @owocki and @PixelantDesign I added the mobile description in the file!

[guarantee_page_w_mobile.pdf](https://github.com/gitcoinco/web/files/2381247/guarantee_page_w_mobile.pdf)

Do you have someone to code it?? I would like to do it if it's possible :) (probably will have another issue for that)

[2018-09-13 22:49] owocki commented on #1961
mobile page looks good !  can you submit and we will payout?

need to figure out when we're going to code this up.. its not a TOP priority at the momentum, but would be happy to work with you again!

[2018-09-13 22:51] pmaojo commented on #2158
ok!

[2018-09-13 23:07] raboid commented on #2150
I was able to reproduce this in production. See attached GIF
![bug-avatarskin](https://user-images.githubusercontent.com/3892149/45520645-4d975a00-b788-11e8-8793-f5727deb06d0.gif)

[2018-09-13 23:08] owocki opened #2216 "for grants deliver information to tom linderman about what consensys diligence needs for audit"
they need

* specs
* full test coverage
* a date when contracts can be locked and hashed
* expected deliverable date of audit report

From tom:
we are basically looking for the specs and full test case coverage, a date when the contracts can be locked and hashed, and expected deliverable date of the audit report.  We need to do an assessment of the size and complexity in addition tot he readiness

[2018-09-13 23:09] owocki commented on #2216
@austintgriffith could use ur help on this too

[2018-09-13 23:25] john-light opened #2217 "Underscores in URLs results in italicized text"
**Describe the bug**

When a URL in the task description contains two underscores, the text between the underscores is italicized and the underscores disappear. See screenshot for example.

**To Reproduce**

Put a URL with two underscores in it in a task description

 e.g. `https://monthly.aragon.one/guides/guide_for_submitting_news/`

**Expected behavior**

I expect the URL to have all of the pro

[2018-09-14 00:34] PixelantDesign commented on #2215
Sounds good to me.

[2018-09-14 00:36] PixelantDesign commented on #1410
I’m okay with bountying.

[2018-09-14 00:37] owocki commented on #2215
per the issue that we saw in the triage channel today, i think we might also want to do this for the `advanced payout` view too..

[2018-09-14 00:38] owocki commented on #2215
@PixelantDesign i'm going to bounty the implementation of this.. can you or one of the designers you work with whip up a design for the card?

[2018-09-14 01:13] vs77bb commented on #2211
This is a good idea... my only question: how do we natively give them our 'bounty templates' on Github (the place where the issue is going to live)?

Somehow in markdown format?

[2018-09-14 01:34] vs77bb commented on #2103
@mul1sh Are you on [Gitcoin Slack](gitcoin.co/slack)? You've been doing great work around here and we'd love to add you to a channel we have where we talk about Gitcoin Bounties to come 🙂

[2018-09-14 01:38] vs77bb commented on #2011
@owocki looks like this one is good for payout?

[2018-09-14 02:54] PixelantDesign commented on #2211
Linking to good examples might just do the trick.

[2018-09-14 03:58] PixelantDesign commented on #2175
@pinkiebell This is great!

[2018-09-14 04:18] PixelantDesign opened #2219 "Notify Funder That a Task Has Issues"
##### User Story

As a contributor, I'd like to be able to notify the funder that an issue doesn't meet my bounty criteria for various reasons.

##### Definition of Done

**Step 1**
- [x] A user can click the **report** button on the issue details page and let the funder know that it's not up to their standard for various reasons.

<img width="1036" alt="screen shot 2018-09-14 at 7 16 11 am" src="

[2018-09-14 04:35] rahulpat commented on #572
@owocki yeah, sure.

[2018-09-14 04:42] thelostone-mc commented on #2211
@vs77bb if we host the examples -> it's easy (but it might be an overkill) but markdown languages are fairly common and easy to derive just looking at the text

[2018-09-14 10:31] PixelantDesign commented on #2184
@mul1sh Let's order it based on time.

**Example:**
If I create a new issue and then I extend an expiration on a different issue.
The extended expiration should go to the top.

[2018-09-14 10:38] pinkiebell commented on #2219
I'm not sure. If the funding is not right or the definitions not clear,
I either leave it alone or I give feedback on the Github issue.
For unethical- or spam things the same, I just leave it alone.
For myself I think a better solution might be improving the explorer/ searching experience.
Or a more personal 'bounty stream' maybe? So that I can follow orgs/funders/repos I like and maybe a subscrip

[2018-09-14 11:26] mul1sh commented on #2103
@vs77bb Yes i'm on gitcoin slack, my display name is Mulili. I would appreciate alot being in that channel and very much look forward to it, thanks 😃

[2018-09-14 11:27] mul1sh commented on #2103
btw @thelostone-mc  @owocki still haven't a payout for this issue, or is they something else i should do on my end? Thanks

[2018-09-14 14:30] thelostone-mc commented on #2219
A few folks would hesitate to do this in terms of increasing pricing  but this seems to be the right thing. I agree with @pinkiebell

[2018-09-14 15:37] owocki commented on #2211
@PixelantDesign i'm trying to decide if this is more of a design task or a coding task... probably we need to decide exactly where these example links are going to live?  at first i was thinking it should go on the 'before you post a bounty' interstitial, but now i'm thinking the form itself might be a good idea (since most people move past that interstitial).  what do you think?

I like the idea

[2018-09-14 16:30] thelostone-mc commented on #2103
@mul1sh Yeah we'll get it done later today. Thanks for helping us out man ^_^

[2018-09-14 16:37] usmanmuhd commented on #2125
How do we know in the `notifications.py` while triggering the bot that we have checked out using advanced payout option?

[2018-09-14 16:41] thelostone-mc commented on #2150
@SaptakS is checking it out ^_^

[2018-09-14 17:13] owocki commented on #2103
my bad! paying out now

[2018-09-14 17:13] owocki commented on #2125
i'm not sure i understand the question.

[2018-09-14 17:15] owocki commented on #2011
payin' out now

[2018-09-14 17:30] owocki opened #2223 "add grants video to landing page"
https://www.youtube.com/watch?v=Hx1iJ_K3D8k&feature=youtu.be

[2018-09-14 17:40] owocki commented on #2219
reasons i think an issue could be escalated

1) mark it as underfunded
2) mark it was underscoped
3) mark it as spam, unethical, etc
4) the bounty was taken from me
5) the bounty seems abanandoned

[2018-09-14 18:21] #2217 closed, assigned to nobody

[2018-09-14 18:27] mbeacom commented on #2217
<img width="841" alt="screenshot 2018-09-14 14 26 46" src="https://user-images.githubusercontent.com/7315957/45568304-46288d00-b82a-11e8-91e4-b6b3cdad7ef1.png">
Resolved.  Thanks for reporting this issue!

[2018-09-14 18:47] mul1sh commented on #2103
@owocki @thelostone-mc thanks alot, appreciate the feedback 😃

[2018-09-14 20:13] vs77bb commented on #2200
Hi @iamonuwa How is this one going?

[2018-09-14 20:16] vs77bb commented on #2184
@mul1sh Excited to see what you come up with here!

[2018-09-14 20:36] aashutoshrathi commented on #2147
On it. @thelostone-mc
Sorry for the delay.

[2018-09-14 20:56] pmaojo commented on #2158
https://github.com/gitcoinco/web/pull/2224

[2018-09-14 23:26] austintgriffith commented on #2216
I believe this is the contract that will be used for the dev grants:
https://github.com/austintgriffith/tokensubscription.com/blob/master/Subscription/Subscription.sol

There are a few demos around how this works here:
https://github.com/austintgriffith/token-subscription
and here:
https://github.com/austintgriffith/tokensubscription.com

It is on the mainnet supporting: https://tokensubscription.

[2018-09-14 23:51] #2165 closed

[2018-09-15 00:33] usmanmuhd commented on #2125
I mean when the bot is triggered when the payment is made. How does it know if we have checked out using the basic payout option or the advanced payout option?

[2018-09-15 17:36] iamonuwa commented on #2200
@gitcoinbot @vs77bb am having issue setting up the repo. Have been talking about it with @owocki @SaptakS et al.

[2018-09-16 06:57] Naggertooth commented on #2174
Hi, guys
I'm finally home and starting work on this
Sorry for delay
I was forced to go to Crimea

[2018-09-16 15:29] Naggertooth commented on #2174
@pinkiebell can you tell me: where should I find any action which forces an old_bounty > new_bounty transition / (new pk) on the backend.
I can't find it in the UI on issue editor page and any saving in administrator panel don't imitate new pk.
So I can't even repeat the problem :)

[2018-09-16 17:18] pinkiebell commented on #2174
@Naggertooth
For example in: https://github.com/gitcoinco/web/blob/master/app/dashboard/helpers.py#L653 .

Our endpoints in question are in app/dashboard/views.py.
Also check app/app/urls.py.

You could use `handle_bounty_views' to lookup the bounty.

In get_bounty_view_kwargs:
[code]

Instead of passing pk= in the requests to the backend, use that above ^ and change the endpoints to use `handle_b

[2018-09-16 17:32] pinkiebell commented on #1860
@gitcoinbot 👍

[2018-09-17 10:03] thelostone-mc commented on #2200
@iamonuwa could you try doing a fresh rebase & also try it via a VPN ?

[2018-09-17 10:26] PixelantDesign opened #2226 "As a Core Team We'd Like to Tidy Up Funder Dashboard to Get a V1 Out"
**Core Team Task
Estimate ?**

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Definition of Done

- [ ] - Tidy up Front End some boxes are larger than others…please reference design.
- [ ] - Reclaim Funds CTA currently links to the Expired List on the Issue Explorer.
- [ ] 	It should show me my expired issues filtered.
- [ ] - We should hide Budget box/Input

[2018-09-17 10:32] iamonuwa commented on #2200
Am going to do a fresh setup again. Am not using any VPN

[2018-09-17 10:32] PixelantDesign commented on #1177
Hey @NedelescuVlad Thanks for all of the hard work! We'd like to take this back in and push the V1 out. Please click submit work so that you can get paid!

[2018-09-17 12:01] troggy opened #2227 "Bounty is paid out, but still shown as submitted - Expired Issue"
**Describe the bug**
I've submitted the work and got paid for the bounty, but on the web bounty is still shown as "submitted". Link: https://gitcoin.co/issue/parsec-labs/solevm-truffle/2/793
Tx id: https://etherscan.io/tx/0x137a77466055686660b984ac3f839be62ba8aadfcbee345f62ee4f2a8da38571

**To Reproduce**
🤷‍♂️

**Expected behavior**
I expect the bounty to be marked as "Done" as usual

[2018-09-17 14:27] willsputra commented on #2186
thoughts?

![2186_1](https://user-images.githubusercontent.com/19514207/45629358-cd932c00-bac8-11e8-9cb4-6c7fd061ccce.jpg)

[2018-09-17 15:47] PixelantDesign commented on #2227
Thanks for reporting @troggy!

[2018-09-17 16:19] ceresstation opened #2228 "Crowdfund contributions not being included in some bounty totals on issue explorer"
**P3 - Low**
Gitcoin’s platform is following expected behavior, but the expected behavior is resulting in sub-par user experience.
Timeline to fix: 1-7 days

### Describe the bug
I added contributions to the following bounty such that the total funding is 1 ETH but the issue explorer still only shows the initial amount of ~0.02 ETH. The amount on the bounty itself is correct.

Issue:
https://gitco

[2018-09-17 16:26] owocki commented on #2228
https://github.com/gitcoinco/web/pull/2173

i think this should fix this

[2018-09-17 16:27] owocki opened #2229 "bug - i dont see a 'stop work' button on a bounty even though i am funder"
https://gitcoin.co/issue/gitcoinco/web/1964/924
screenshot: http://bits.owocki.com/a07bd7b28d96/Screen%20Shot%202018-09-17%20at%2010.25.32%20AM.png

[2018-09-17 16:27] ceresstation commented on #2228
@owocki Awesome, thanks.

[2018-09-17 16:56] #2229 closed

[2018-09-17 17:34] owocki commented on #2228
as long as by 'tips' you meant 'crowdfund contributions' ...

[2018-09-17 18:07] owocki commented on #2216
nice :)  now we just need test coverage and to spend a few cycles writing up actual formal specs !

[2018-09-17 18:45] owocki commented on #2215
@PixelantDesign is this something that is worth spending 15 minutes on to mockup?  if not, we can just do rote html for the first rev

[2018-09-17 18:47] owocki commented on #2125
the frontend tells th backend it has been paid via the `/sync/web3` url route

there are also management commands that will check for changes to the smart contracts:
- `sync_web3`
- `sync_listener`

[2018-09-17 18:48] owocki commented on #1410
@mkjekk hows it going?  any update!?

[2018-09-17 18:49] owocki commented on #1471
@aman935 i am removing you from this bounty due to lack of response..

[2018-09-17 18:49] mbeacom commented on #1410
🤔 Should I drop my branch for this? @owocki

[2018-09-17 18:52] owocki commented on #1410
@mbeacom i dont know.. would be good to get orgs up on staging so we can test/see whats in there

[2018-09-17 18:55] mbeacom commented on #1410
@owocki Roger that. I'll stop pursuing the reputation PR and the other bountied PRs that we're trying to wrap up needing core intervention and get orgs up there for ya.

[2018-09-17 20:36] mbeacom opened #2232 "IntegrityError: null value in column "txn_hash_3" violates not-null constraint"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1009/

[code]

[2018-09-17 21:43] mbeacom opened #2234 "Japanese translations throwing errors when executing makemessages"
**Describe the bug**

We're planning on migrating to have a bot handle running `makemessages` and `compilemessages` to ensure our i18n `*.po` files are always updated when copy changes occur.

It appears that the newly introduced `ja` (Japanese) translation .po files have an abundance of errors.

[code]

**To Reproduce**
Run: `docker-compose exec web bash -c "cd /code/app && python3 manage.py make

[2018-09-17 21:45] mbeacom commented on #2234
Ref #2003 #1863

[2018-09-17 22:05] mbeacom opened #2235 "TypeError: string indices must be integers"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/99/

[code]

[2018-09-18 01:11] vs77bb commented on #2211
Hi @anish-agnihotri - just approved you to work on this one! I think you're on the right track with the below.

MARKET Protocol does a phenomenal job with their template, I'd recommend checking out some of their bounties [here!](https://gitcoin.co/profile/MARKETProtocol)

[2018-09-18 01:13] vs77bb commented on #2186
I really like the 2 Applicants piece.

I have mentioned to @PixelantDesign that I think 'Open For Work' in the 'Open' category is a bit weird wording wise... maybe 'Ready For Work', specifically on the one's we toggle as 'remarket ready'?

[2018-09-18 01:14] vs77bb commented on #2158
Sounds good @pmaojo can you let us know when this is ready for review? cc @mbeacom @thelostone-mc @SaptakS @frankchen07

[2018-09-18 01:16] vs77bb commented on #1961
@owocki Think this one is good for payout? I don't see @marciogurka's submission but maybe we can use advanced payout 👍

[2018-09-18 01:18] vs77bb commented on #1982
by passively rejected, I mean:

The funder has chosen an accepted worker, but hasn't taken the effort to click 'Reject Worker' on the remaining applicants. Gitcoin bot shouldn't ping these workers who were never approved to work the task

[2018-09-18 01:47] marciogurka commented on #1961
@vs77bb really?? Maybe something wrong with the transaction?? I'm trying to resubmit, here is the transaction https://etherscan.io/tx/0x688c839ee2fc91f7173503a060cb1c53722fefe18a3c40efd66a6e9f57a5df16

[2018-09-18 01:49] marciogurka commented on #1961
the older submit transaction is here - https://etherscan.io/tx/0x1afecdbce7ca465d61035cc35623b37def1a7c9aaca7e536cb34cc032e3efd3b

[2018-09-18 01:58] #2234 closed

[2018-09-18 07:47] pmaojo commented on #2158
Hi! I will finish it today.

[2018-09-18 12:48] mul1sh commented on #2184
@gitcoinbot just finishing testing my changes and then I commit in less than 5 hours 😄

[2018-09-18 14:36] willsputra commented on #2186
@vs77bb thanks for the feedback! changed the wording to 'Ready for Work'

![2186_1](https://user-images.githubusercontent.com/19514207/45695063-3ba42580-bb93-11e8-979d-ab9c12b797d4.jpg)

[2018-09-18 14:42] PixelantDesign opened #2240 "Build - Advanced Pay - Add User Auto Complete"
**Core Team
Estimate 3**

Add Auto Complete that @octavioamu built to Advanced Pay

If user is already identified, we will show the user icon and eth address.
If user is unverified, we will show an icon with a question mark and the user's name with unverified.

The functionality should stay the same in that the info of the contributor that worked on the task is automatically displayed.

See mockup

[2018-09-18 14:45] PixelantDesign opened #2241 "Build - Advanced Pay - Amount Should Add to 100%"
Add message that user needs to keep the amount at 100%
Deactivate Submit Button

[2018-09-18 14:47] PixelantDesign opened #2242 "Design - Advanced Pay - Separate Tips from Advanced Pay"
**Feedback from Scott**
Tips should be separate from multi-party payout, or we should make it very explicit whether tips or multi-party is being used. You should never have the option after clicking payout bounty to not payout the bounty.

**Solution to payout full bounty and all participants (comes from the bounty).**
Update payout to automatically pay from bountied amount first. Any additional f

[2018-09-18 15:14] frankchen07 commented on #1471
@srisankethu - apologies for the delay, was on holiday. I've pinged Voith on the ticket to help you out. Once you feel you have enough to begin working, please start work!

[2018-09-18 16:26] willsputra commented on #2050
will help out on this cc @PixelantDesign 🙂

@owocki are we going to have different types of notifications?
for example:
• issue-specific notifications would look different from, say, a general announcement
• different types of notifications would have different icons (like Facebook)

these would help users to visually differentiate the notifications more easily.

if we're going to have different t

[2018-09-18 16:45] owocki commented on #2223
designs https://github.com/gitcoinco/web/issues/1889

[2018-09-18 16:49] octavioamu commented on #1889
how I "create a new grant"? The create button is "found an issue"?

[2018-09-18 17:03] mbeacom commented on #2197
### Grants QA Environment

#### Tasks

- [ ] Automated build/push of `grants` branch docker tags to docker hub.
- [ ] Automated rolling deployment for `grants` branch to segregated QA environment.
- [ ] Slack notification on deploy to `#proj-grants` channel in core slack community with status, env url, and revision hash.
- [ ] DB import on automated deployment completion.
- [ ] Documentation on in

[2018-09-18 17:35] ChrisCates opened #2243 "Unable to submit work without ETH in Metamask"
**Describe the bug**
Unable to submit work with an empty Metamask wallet.

**To Reproduce**
Use an empty metamask wallet.

**Expected behavior**
For both Brave and Chrome Browser. You will not be able to submit work unless there is ETH in your wallet. It will take you to the faucet.

**Screenshots**
![screen shot 2018-09-18 at 1 27 14 pm](https://user-images.githubusercontent.com/1561091/45705329-

[2018-09-18 18:17] owocki commented on #2197
@mbeacom this seems pretty exhaustive.. excited to see this build pipeline working!  donno if we need ALL of the above.. i'd settle for a more barebones deployment if push came to shove

[2018-09-18 18:45] ChrisCates commented on #2243
@owocki, is it possible I can write a pull request to refactor this?
Seems like a good opportunity to try it out!

[2018-09-18 19:14] mbeacom commented on #2243
@ChrisCates I think we'd still want the submitter to sign the transaction.  We're tracking a few options to handle this at:  https://github.com/gitcoinco/web/issues/1823

[2018-09-18 19:29] mbeacom commented on #2243
@ChrisCates I think this is all subject to change.  We're discussing the possibility of using meta transactions similarly to @austintgriffith's bouncer-proxy.  See use case 3 here:  https://github.com/austintgriffith/bouncer-proxy/blob/61926aa560ab83151952d6bd8304c1c4c7ea78b7/BouncerProxy/BouncerProxy.sol#L39

Don't let that discourage you from trying to implement a stopgap as outlined, though!

[2018-09-18 19:34] ChrisCates commented on #2243
I'll probably see if I can setup a call with Austin later.
My confusion is how do we identify an etherless account as a valid account used with Gitcoin.

Anyway, let me look through the some of the Zeppelin source code and Austin's and see what the best plan of action for this.

[2018-09-18 19:36] PumpkingWok commented on #1964
Hi @owocki,
I would like to ask you a question regard this issue.
From the article that you linked (https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8), edited on 9/13, there is follow code:

[code]

If i understood well in this way the code should be ready also for changing that will be introduce in November, but before that date it is impossible to

[2018-09-18 19:53] captnseagraves commented on #1890
@Owocki @PixelantDesign I'm seeing that we need to capture the grant creator's address somehow. It could be through their web3 instance, or we can ask them explicitly for an address. In which case we will need to add a field. My instinct is to ask them for an address in case they want funds sent somewhere other than their metamask. Do either of you have an opinion?

[2018-09-18 19:55] owocki commented on #1890
your suggestion makes sense to me

[2018-09-18 20:05] pmaojo commented on #2158
hi! @mbeacom @thelostone-mc @SaptakS @frankchen07 @vs77bb
I had a problem today with a project and could not not close this today. I will tomorrow,  it's almost finished. https://github.com/gitcoinco/web/pull/2224/commits

[2018-09-18 20:07] owocki commented on #2050
@PixelantDesign what do you think of this idea?  my instinct is to keep it simple for v1

[2018-09-18 20:15] PixelantDesign commented on #1890
The form should be centered, that might just be a sketch export issue cc: @justpixel.

Should we allow funds to be sent to an address other than their metamask?

If we provided an input, should we verify that it's the correct address?

What's the simplest/most secure implementation?

[2018-09-18 21:53] owocki opened #2244 "DESIGN - What does the navigation look like when Kudos/Grants launches?"
Open question: What does the navigation look like when Kudos/Grants launches?

[2018-09-18 22:41] vs77bb commented on #2050
Agree with keeping it simple and having them all in one place for now, imho. Some notifications that come to mind:

**For Funders**
- You have workers to approve on this issue.
- Your bounty hunters hasn't responded on this issue in a few days. Remove them if you haven't heard from them?
- There is a submission against your bounty.

**For Hunters**
- You haven't responded to this issue in _x_ days

[2018-09-18 23:35] lastmjs commented on #1453
I'm also getting this when trying to claim a tip.

[2018-09-19 01:06] Anish-Agnihotri commented on #2211
Hey there! Just wanted to chip in and drop an update (since it's been nearly a day since I was approved to work on this bounty, thanks again too).

I've started work for the bounty over at [gitcoin-exemplars](https://github.com/Anish-Agnihotri/Gitcoin-Exemplars). Feel free to check out the progress, provide feedback, or inform me of any concerns if you have input. .

Other than that, I've taken a

[2018-09-19 02:47] Anish-Agnihotri commented on #2211
Just finished off a complete section for bug bounties (one of the four required bounties for successful bounty completion). It has one general file regarding what makes a successful bug bounty, and three specific examples (in the form of a traditional, contest, and cooperative project type).

You can take a look at them here:
1. [Bug Bounty Exemplars](https://github.com/Anish-Agnihotri/Gitcoin-Exe

[2018-09-19 06:07] frankchen07 commented on #2158
back from holiday - thanks for picking this up @pmaojo!

The initial mockups look good. I would add the comment that we don't necessarily need the quote "estimating success probability" - the metric should pop up once all the fields are filled, and the fields must be mandatory for the user to continue. It's similar to how the funder form operates right now (metrics don't pop until they fill in the

[2018-09-19 06:47] mbeacom commented on #1453
I don't believe we were been able to reproduce this previously.
@lastmjs Can you provide me with your browser/os/metamask version info?

[2018-09-19 08:06] lastmjs commented on #1453
Browser: Chromium Version 68.0.3440.106 (Official Build) Arch Linux (64-bit)
OS: Arch Linux
Metamask: 4.9.3

[2018-09-19 08:41] Naggertooth commented on #2174
@pinkiebell thank you!
But do you think that I don't need to repeat the problem locally at all?

I mean you didn't answer my question.
If I can test it somehow - I need to know how.

[2018-09-19 10:01] pmaojo commented on #2158
Hello!

ok!

Right. I really won't change texts or number formatting. In Spanish, decimals are expressed with comma

Yes, its cool to make bindings, while you type, and it could be used in the form. It could be used just in the new funding form and each part of the form can be migrated to independent components.

[2018-09-19 13:44] thelostone-mc commented on #2219
@PixelantDesign

Thank You for notifying Gitcoin of this issue. Please expect 24-48 hrs for a Gitcoin core team member to respond.

- Is the email sent to gitcoin core also ?

- It should be a one time mail as opposed to everyday

- Would it be right to show the person's name who's notifying the funder ?
- The template attached does not accommodate scenarios where multiple folks select a common re

[2018-09-19 13:47] aman935 commented on #1471
Hi Frank,
Thanks for the response, I will let you know soon about the progress.

Thanks and regards,
Aman Singh

On Tue, Sep 18, 2018 at 8:46 PM Frank <notifications@github.com> wrote:

[2018-09-19 14:44] owocki opened #2246 "bug - livepeer profile isnt showing the bounties it should"
:large_blue_circle:  this profile looks hella weird bc there are no bounties on it https://gitcoin.co/profile/livepeer

http://bits.owocki.com/c91916df9ae7/Screen%20Shot%202018-09-19%20at%208.42.37%20AM.png

whats esp weird is that they’ve had 15 bounties/tips according to leaderbaord https://gitcoin.co/leaderboard/quarterly_orgs

expected result: it should show the 15 bounties that have been done

[2018-09-19 15:07] frankchen07 commented on #2117
Good questions @mbeacom. I do have a couple of clarification questions:

1. I expected the estimated hours and also the USD/token amount at the time of bounty creation to be stored in `dashboard_bounty`. If that is a possible route, I think setting it up as we have it currently in `dashboard_bounty` (`_val_in_db`, `val_in_usdt`, `val_in_usdt_now`) works just fine.

Can you explain a little further

[2018-09-19 16:09] mbeacom opened #2247 "As a user, I want to see a 'no bounties' placeholder on the profile page."
**Describe the bug**
The profile page currently has no placehold

**To Reproduce**
Visit a profile on gitcoin that has no associated bounties.  The page rendering is odd and there is no placeholder to tell a user there are no associated bounties.

**Expected behavior**
If no associated bounties are found, display a `No bounties found`

**Screenshots**

<img width="1403" alt="screen shot 2018-09-19

[2018-09-19 16:27] Anupam-dagar commented on #1840
@mbeacom I was setting up the project today. Internet was down for a long time today so wasn't able to work on the issue. I'll update on this tomorrow and I'll let you know if I face issues.

[2018-09-19 16:42] mbeacom commented on #2246
Checked the xhr occurring for this profile.  It appears https://gitcoin.co/api/v0.1/bounties/?network=mainnet&org=Livepeer is being hit and returning `[]` while https://gitcoin.co/api/v0.1/bounties/?network=mainnet&org=livepeer returns the appropriate results.

So, we should adjust the API handling for `org` param to be case insensitive.

[2018-09-19 16:47] #2246 closed

[2018-09-19 16:54] mbeacom commented on #2246
<img width="1097" alt="screenshot 2018-09-19 12 53 59" src="https://user-images.githubusercontent.com/7315957/45768514-1ce17580-bc0b-11e8-9f58-9aa60849030f.png">

[2018-09-19 16:57] owocki commented on #2246
my hero!

[2018-09-19 17:19] mbeacom opened #2248 "Error: Invalid number of arguments to Solidity function"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/1032/

[code]

We haven't been able to reproduce this on our end, but the error seems to be recurring.

@lastmjs is experiencing this issue with the following specs while attempting to claim a tip:

[code]

Original rollbar issue:  #1453:

[code]

Sentry issue encountered with:
[code]

[2018-09-19 17:20] mbeacom commented on #1453
Closing in favor of #2248 - Moving relevant information there.

[2018-09-19 17:20] #1453 closed

[2018-09-19 17:29] owocki commented on #2248
@lastmjs sorry about the issue!  rest assured your funds are safe and secure!

we unfortunately can't debug this as easily as other issues on the platform, because we don't have access to the private key associated with your github username, so i hope you'll tolerate some peer debugging with us!

whats strange about this is that tips receive doesnt even use solidity!

can you go to the tip claim p

[2018-09-19 17:33] PixelantDesign commented on #2215
@Muhammad Usman let me know if you have any questions!

[2018-09-19 18:05] mbeacom commented on #2219
@PixelantDesign
I think generating an email for every interaction regarding feedback might generate too much noise and ultimately lead funders to automatically disregard these emails.

If anything, maybe we implement this with a backend model to track bounty improvement requests and surface them in the funder dashboard and/or platform notifications (`/inbox`).  In the meantime, we could add the ba

[2018-09-19 18:50] PixelantDesign commented on #2219
Agree on a lot of what you're saying above.

The original idea was to generate one email daily /summary of feedback on each ticket.

Can we do what you're suggesting in the next two weeks? What kind of a lift would this be?

Also agree on bidirectional communication. @thelostone-mc suggested that for V2.

I'm open to suggestions on the best experience for V1. @mbeacom @thelostone-mc.

[2018-09-19 19:18] lastmjs commented on #2248
No problem. I just tried again, the same behavior occurs.

[code]

[2018-09-19 19:27] owocki commented on #2211
@Anish-Agnihotri reviewing now!

[2018-09-19 19:29] owocki commented on #2211
@Anish-Agnihotri this seems like a good start -- id love to see the design/feature/security bounty ones filled out!

[2018-09-19 19:30] owocki commented on #2248
@lastmjs two questions:

1. what version of metamask are you using?
2. the stacktrace you sent us looks like its within metamask (there is no inpage.js on gitcoin!) are you able to tell what line within receive.js this exception is generated?

[2018-09-19 19:31] owocki commented on #1964
@PumpkingWok from metamask team:

[code]

[2018-09-19 19:59] lastmjs commented on #2248
1. The version is 4.9.3
2. From receive.js

[code]

[2018-09-19 20:02] lastmjs commented on #2248
Is the `amount_in_wei` parameter sent to `getData` supposed to be an array? It looks like this:

[code]

[2018-09-19 20:05] owocki commented on #2248
@lastmjs looking into this now.. i think we might want to be passing `amount_in_wei.toString()` into the method

[2018-09-19 20:10] owocki commented on #2248
ahh yes that is it... @lastmjs i'm commititng a fix now!

[2018-09-19 20:17] owocki commented on #2248
@lastmjs i just put in a fix ( d63651338ef5934ca88ebd79f04210f15bb6e884 ) and am deploying it now.. can you pls hard-refresh and try again? 🙏

curious that this didnt show up before.. we've done dozens of erc20 transfers through tips in the last weeks.. maybe a new metamask version broke this..

[2018-09-19 20:51] lastmjs commented on #2248
Making progress I suppose, but now I've got this:

[code]

[2018-09-19 20:58] owocki commented on #2160
@wchargin these are really interesting thoughts... thank you for them!  i agree that the holistic view makes more sense.

im going to bounty this and see what the community comes up with

[2018-09-19 20:58] aerophile commented on #1991
link to the [single page app](https://codepen.io/anon/pen/eLbbLy?editors=1010). Display of the force directed graph is not working properly at the moment But data is being correctly fetched and formatted into nodes and links for the graph. Next steps would be fixing this, adding flyouts+additional information and then start integrating with site.

[2018-09-19 21:05] owocki commented on #1991
ahh neat!

[2018-09-19 21:39] owocki opened #2249 "as a funder whose bounty is not started, id like an email with tips about what to do after 3 days, so i can fix the issues, so i can fix it"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder whose bounty is not started, id like an email with tips about what to do after 3 days, so i can fix the issues, so i can fix it

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actuall

[2018-09-20 00:15] decentralion commented on #2160
Just to make this a little more concrete, here's [a prototype] instance of SourceCred running on Gitcoin.

[a prototype]: https://decentralion.github.io/sourcecred-demos/gitcoin/prototype/

[2018-09-20 01:06] owocki opened #2250 "bug (er... UX thing) -- tips flow should warn you when u dont ahve enough ERC20 tokens to send tip"
bug (er... UX thing) -- tips flow should warn you when u dont ahve enough ERC20 tokens to send tip

https://github.com/embark-framework/embark/issues/761#issuecomment-423005979

a fixer could perhaps copy how this works in the bounty flow https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/pages/new_bounty.js#L436-L446

[2018-09-20 02:01] john-light opened #2252 "Typo and missing period"
**Describe the bug**

The graphic in the screenshot has a typo ("pai") and is missing a period at the end of the "Good For" sentence (the rest of the sentences on this page end in a period).

**To Reproduce**

Check out the Cooperative Project section of this page:

https://gitcoin.co/how/funder

**Screenshots**

![paid2](https://user-images.githubusercontent.com/9424721/45791350-220be800-bc3e-11e

[2018-09-20 03:44] john-light opened #2253 "Authentication error"
**Describe the bug**
When I click "Start Work" on a bounty, I get an authentication error.

**To Reproduce**
- Log in with GitHub
- Click "Start Work" on a bounty
- See authentication error

**Expected behavior**
I expect to be able to start work on the bounty without an error.

**Screenshots**

![gitcoinerror](https://user-images.githubusercontent.com/9424721/45794693-ad8c7580-bc4c-11e8-8a94-390d

[2018-09-20 03:46] john-light opened #2254 "Profile "four oh four""
**Describe the bug**
When I click on my profile I get a "four oh four" error.

**To Reproduce**
- Log in with GitHub
- Click profile
- See error

**Expected behavior**
I expect to be able to see my profile without an error

**Screenshots**
![gitcoinfourohfour](https://user-images.githubusercontent.com/9424721/45794736-f2b0a780-bc4c-11e8-807e-deda587dc2b0.png)

**Desktop (please complete the follow

[2018-09-20 03:47] john-light opened #2255 "Account settings error"
**Describe the bug**
When I try to go to my account settings, the page does not load

**To Reproduce**
- Log in with GitHub
- Click on account settings in menu
- See that page does not load

**Expected behavior**
I expect to be able to go to my account settings page

**Screenshots**

![gitcoin_settings](https://user-images.githubusercontent.com/9424721/45794784-2ee40800-bc4d-11e8-975d-90cd0b55eff4

[2018-09-20 08:36] PumpkingWok commented on #1964
hi @owocki,
Thank you very much for the info.

How would you like to proceed ? while i'm waiting the update i can look again into your code.
I did not understand well all places in the code where i need to edit it.

I have seen `listen_to_web3_changes()` that calls `currentNetwork()` inside `v2/js/shared.js`. Is it the right place for check the network changes ?
Thanks

[2018-09-20 14:57] rahulpat opened #2257 "how/funder 502 bad gateway"
**Describe the bug**
Going to https://gitcoin.co/how/funder returns a 502 bad gateway error

**To Reproduce**
Go to any browser and hit https://gitcoin.co/how/funder

**Expected behavior**
Should show the right page

![screen shot 2018-09-20 at 8 23 54 pm](https://user-images.githubusercontent.com/848036/45827092-61583880-bd13-11e8-9346-9b3cb6e87228.png)

- OS: macOS Sierra
- Browser Chrome
- Brow

[2018-09-20 14:59] mbeacom commented on #2257
@rahulpat  Can you try a hard refresh on that page and see if that resolves it?  I can't seem to reproduce, but I will go through logs and see about getting to the bottom of these phantom 502s.

[2018-09-20 15:38] rahulpat commented on #2250
@owocki correct me if i'm wrong, right now you can only tip ETH in gitcoin right ?

[2018-09-20 15:45] rahulpat commented on #2257
Weird, works now. Perhaps something to do with your nginx config ? Might be worth looking there.

[2018-09-20 15:47] owocki commented on #2254
@john-light can you go to https://gitcoin.co/settings/privacy

and uncheck ' Hide my profile from the leaderboard '

and click 'Save'?

that should do the trick!

Fix it twice suggestion for the product team at Gitcoin: @SaptakS @thelostone-mc @PixelantDesign  -- if you are viewing your own profile and it's hidden, tell the user how to manage the privacy / visibility of their profile

[2018-09-20 15:49] SaptakS commented on #2254
@owocki makes sense. We can maybe also show the user their own profile but not show to others?

[2018-09-20 16:04] pinkiebell commented on #2174
@Naggertooth
If you mean the frontend part: On the issue detail page, the contribute button.
You can also just grep through the codebase for old_bounty

[2018-09-20 16:12] pinkiebell commented on #2219
What if we think from a tag/label point of view?
In a way that I can label a bounty underfunded and we dispatch notification emails if a new label was added to the bounty? Actually like Github Issues

[2018-09-20 16:21] john-light commented on #2254
@owocki I prefer to stay off the leaderboard ;) +1 to @SaptakS suggestion to show users their own profile but not show others with the hidden option selected

[2018-09-20 16:35] usmanmuhd commented on #2215
@PixelantDesign I will be submitting a html page tomorrow

[2018-09-20 16:38] SaptakS opened #2258 "Show hidden users their own profile page"
### User Story
We hide the profiles of users who chose to hide themselves in our platform and show a 404 page. Going ahead, I think as a user, I would want to still be able to see my own profile page and show anyone else a 404 page if they try to access

Refs: #2254

### Current Behavior
[comment]: # (Describe what actually happened.)
Shows 404 even if I try to visit my own profile when I have sel

[2018-09-20 16:42] owocki commented on #2171
@PixelantDesign

Maybe lets built it for Status Hackathon or ETHDenver, since those are upcoming (not in the past)!

I think it'd be nice to have small designs done for each of these!

[2018-09-20 17:01] mbeacom opened #2259 "Migrate EmailEvent categories to ArrayField"
### Migrate EmailEvent categories to ArrayField

#### Why this is needed

Recently, we introduced `EmailEvent.category` to track various email event types in: https://github.com/gitcoinco/web/pull/2148

Currently, the backend logic is storing these values as `CharField` while passing a list of strings, so the end result is:

<img width="1443" alt="screen shot 2018-09-19 at 2 54 30 pm" src="https:/

[2018-09-20 17:06] PixelantDesign commented on #2171
@owocki I don't think the logo matters that much? We can change it out. I'm more curious if there is enough definition here to bounty. I'll update the image if it helps.

[2018-09-20 17:27] pinkiebell commented on #2171
Neat idea. What's the thing with the 'prices' on the left?

[2018-09-20 18:29] Naggertooth commented on #2174
@pinkiebell
Oh
I finally can see the bug! :)
Thank you

[2018-09-20 18:36] oogetyboogety commented on #2204
@thelostone-mc @SaptakS @owocki  -
Quick question,
Should gitcoin use set up some endpoint for Github to push a Notification with `state_change` for merging a Pull Request https://developer.github.com/v3/activity/notifications/#notification-reasons  https://developer.github.com/v3/activity/watching/

Or should gitcoin use the built-in functionality here:
https://github.com/gitcoinco/web/blob/6d372

[2018-09-20 19:51] decentralion commented on #2160
@wchargin and I aren't sure if things are ready on SourceCred's side for work on this issue to progress. we haven't created an API yet for retrieving data from SourceCred (https://github.com/sourcecred/sourcecred/issues/704), so currently the data is only computed in the browser, which isn't the most convenient place to get it from.

@mul1sh can you elaborate about when you've integrated SourceCre

[2018-09-20 20:10] jonmarkgo opened #2261 "Sort Leaderboard by # of Bounties Solved"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2018-09-20 22:44] owocki commented on #2254
sure, but i think this becomes confusing because you might assume that since you can see your profile, that others can too.. perhaps we add a little red warning up top that warns the user of this situation IFF They visit their profile under this condition?

[2018-09-20 22:46] owocki commented on #2204
I dont see any reason to use a new github endpoit; we already the email sending / github notification examples in the codebase and AFAIK those are the only two channels covered in this PR

[2018-09-20 23:03] oogetyboogety commented on #2204
@owocki Gotcha I just reread the timing part that should be the trigger to store/change the PR's state as merged. Should these all happen at one time per day, like using a Django management command? Or should it be exactly 24 hours after submission through a threaded Python Timer?

[2018-09-20 23:07] owocki commented on #1964
you can download the new metamask and use that for testing.

i dont know enough about the new architecture of metamask to answer this question.

[2018-09-20 23:09] owocki commented on #2204
24 hours (ish) sounds good to me.  maybe run it once per hour?

[2018-09-20 23:12] oogetyboogety commented on #2204
@owocki Ohhhh I see so i'll make it management command to be run once every hour then. Thanks!!!

[2018-09-20 23:12] PumpkingWok commented on #1964
Hi,
Thank you for the reply,i’m going to download it. For another question i mean in your code not in metamask.i’m not sure to understood well in your code all places where it checks for metamask connection.thanks

[2018-09-20 23:17] owocki commented on #2250
no.. any erc20 token

[2018-09-21 00:28] john-light commented on #2254
@mbeacom that does seem to be the case. I can see on /profile but not /profile/john-light. You can re-open if you'd like to still track this issue.

[2018-09-21 00:28] john-light commented on #2254
@mbeacom that does seem to be the case. I can see on /profile but not /profile/john-light. You can re-open if you'd like to still track this issue.

[2018-09-21 03:45] mul1sh commented on #2160
@decentralion I came across the repo 2 months ago and just played around with it. Didn't do any serious integration really 😃 . Anyway i'll stop working on this issue and when SourceCred has an api  then someone else can start work.

[2018-09-21 07:12] mbeacom commented on #2257
@rahulpat Yeah, thanks. I'm checking out some nginx and cloudfront logs.  I'll report back once I make some adjustments.

[2018-09-21 07:45] mbeacom commented on #2160
@decentralion Nice project!  Agreed.  It might be a decent idea for us to hold off on this integration until there is a concrete mechanism for retrieving the results outside of attempting to scrape the UI.  Definitely looking forward to seeing how the project progresses!

[2018-09-21 07:49] aashutoshrathi commented on #2261
Is this issue on gitcoin?

[2018-09-21 18:19] Anish-Agnihotri commented on #2211
@owocki Perfect! That sounds good. I'm looking to get these knocked out in the next two days to three days after I write and review the content.

I'll keep you updated as I complete more.

[2018-09-21 18:38] jschiarizzi commented on #2261
@aashutoshrathi not yet.
## User Story
As a user, I want to have a leader board so I can see who is most involved with gitcoin and who does the most bounties.

### Why Is this Needed
But right now, hackathon winners with single large prizes are the leaderboard toppers. So I want to be able to sort by the number of bounties a gitcoiner has completed, instead of the total amount.

summary:
I would l

[2018-09-21 18:53] mbeacom commented on #2261
I don't think adding a new entry for each leaderboard type by bounty count to the dropdown makes much sense (as the current UI is setup and wouldn't quite allow for this).
It might be worth including design (@PixelantDesign) to discuss whether or not we want to add a filter (and sort?) option on the leaderboard to handle this in the same view/template.

[2018-09-21 18:58] owocki opened #2266 "bug - token approval emails not going out"
bug - token approval emails not going out

https://github.com/gitcoinco/web/blob/master/app/marketing/mails.py#L224

[2018-09-21 18:59] owocki commented on #2266
@mbeacom i wonder if this is related to the CSS prefetch we spoke about earlier stuff?

[2018-09-21 18:59] owocki commented on #2266
i havent gotten a token request email since 9/7

[2018-09-21 19:07] mbeacom commented on #2266
@owocki It shouldn't be since there isn't any templating going on.

[2018-09-21 21:49] pmaojo commented on #2261
https://github.com/gitcoinco/web/issues/2261#issuecomment-423633569

[2018-09-21 22:51] captnseagraves commented on #2025
@octavioamu can you handle this in the next week?

[2018-09-21 22:52] octavioamu commented on #2025
Yes!

[2018-09-21 22:52] captnseagraves commented on #2021
@eswarasai  do you have time to handle this over the weekend?

[2018-09-21 22:53] captnseagraves commented on #2019
@octavioamu can you handle this in the next week or over the weekend?

[2018-09-21 22:55] octavioamu commented on #2019
Yes I'm delayed, sorry for that but I will do it

[2018-09-21 22:55] captnseagraves commented on #2026
@eswarasai  can you handle this in the next week or over the weekend?

[2018-09-22 03:02] lastmjs commented on #2248
@owocki Any update on this? I'd love to get that DAI to ETH as soon as possible

[2018-09-22 03:12] lastmjs commented on #2248
Oh dear, I tried to hack it in my browser, have I lost my tip?

![screenshot from 2018-09-21 21-07-12](https://user-images.githubusercontent.com/7000719/45912702-0beb5c80-bde3-11e8-819f-0849d63bd0b4.png)

The transaction doesn't seem to show up on Etherscan

[2018-09-22 06:42] ChrisCates commented on #2243
Closing this issue, as discussion on the Standard Bounties repository shows that another user can submit work on someone else's behalf.

https://github.com/Bounties-Network/StandardBounties/issues/49

[2018-09-22 06:42] #2243 closed

[2018-09-22 11:43] PixelantDesign commented on #1528
@oogetyboogety are you still working on this ticket? I’ll need to open it back up to the community on Monday.

[2018-09-22 12:07] #1885 closed

[2018-09-22 15:41] mkosowsk commented on #1895
@owocki how do I go about implementing solution #2 when funding an issue for the ECF?

Wasn't immediately obvious to me (for instance, when funding https://github.com/ethereum-ts/TypeChain/issues/94)

Thanks!

[2018-09-22 16:16] frankchen07 commented on #2158
Ah yes, you are correct.

@PixelantDesign - what do you think of Vue and how does it currently incorporate with the frameworks we're using now ?

[2018-09-23 00:29] Anish-Agnihotri commented on #2211
Just finished another set of bounty write-ups. Here are the ReadME's for design request bounties:

1. [Design Request Bounty Exemplars](https://github.com/Anish-Agnihotri/Gitcoin-Exemplars/tree/master/Exemplars/Design%20Request%20Bounty)
   - [What makes a good design request bounty?](https://github.com/Anish-Agnihotri/Gitcoin-Exemplars/blob/master/Exemplars/Design%20Request%20Bounty/What%20makes%

[2018-09-23 12:52] #2257 closed

[2018-09-23 16:45] writeprovidence commented on #2212
still on it

[2018-09-23 18:52] pinkiebell commented on #2171
@PixelantDesign
Explorer urls are `/explorer/ETHBerlin`, so we reuse the explorer/dashboard code.
You can manage Hackathon events via `/_administrationdashboard/hackathonevent/`.

[2018-09-24 02:43] usmanmuhd commented on #2125
I am not able to get the docker to work. When I run `docker-compose up --build` I get the error https://pastebin.com/pSMc7sJz

[2018-09-24 04:48] Anish-Agnihotri commented on #2211
Hey there,

I've completed the work now over at [gitcoin-exemplars](https://github.com/Anish-Agnihotri/Gitcoin-Exemplars). Feel free to take a look and let me know. For some of these bounties, the live examples were very rudimentary, so I've designed my own appropriate descriptions.

I'd love to make this into an automated Gitcoin tool in the future, but for the meantime, please do let me know if

[2018-09-24 13:28] #1895 closed

[2018-09-24 13:44] PixelantDesign commented on #2211
The templates are great @Anish-Agnihotri ! Would we also link to real examples that were completed?

[2018-09-24 13:46] #2199 closed

[2018-09-24 13:48] PixelantDesign commented on #2186
What about **Available for Submission** or **Open for Submission**?

[2018-09-24 14:49] willsputra commented on #2186
'Available for Submission' or 'Open for Submission' to me personally sounds like someone's already working on it...

[2018-09-24 14:55] rossoskull opened #2269 "Username is misaligned in the Send tip page"
**Describe the bug**
The username field in the Send tip page (https://gitcoin.co/tip) is misaligned with the Avatar

**To Reproduce**
Go to https://gitcoin.co/tip

**Expected behaviour**
It should be aligned in the middle

**Screenshots**
![screenshot from 2018-09-24 20-20-08](https://user-images.githubusercontent.com/27884543/45959561-cd021480-c037-11e8-8fc2-e4e1f1fc40d0.png)

**Desktop (please c

[2018-09-24 15:14] Anish-Agnihotri commented on #2211
Perfect! Thanks @PixelantDesign . In that case, I'll submit the bounty as soon as my gas faucet request goes through.

[2018-09-24 15:54] owocki commented on #2125
per gitcoin slack, @mbeacom put a fix for this into the latest gitcoinco/master !

[2018-09-24 17:04] mbeacom commented on #1840
@jorgeluisrezende Feel free to let me know if you have any questions or need additional guidance to get started!

[2018-09-24 17:11] mbeacom commented on #2158
@frankchen07 As of right now, we have been discussing potentially moving forward with React, but don't plan on making the transition in the *near* future.

@pmaojo You should be able to achieve similar results by following the current form flow throughout the codebase without introducing Vue.  Feel free to ping me or @SaptakS if you have any questions.

[2018-09-24 17:58] owocki commented on #1410
@mbeacom since the contributor is MIA, and since you have a PR open for similar functionality... im caneling / closing this bounty

[2018-09-24 17:58] #1410 closed

[2018-09-24 17:59] owocki commented on #1410
@mbeacom let me know if i should move the issue details to another new issue?  i havent tested orgs yet so i dont know if this is really in scope / tackled by it

[2018-09-24 18:03] owocki commented on #2248
I wish I could see exactly where in the Gitcoin code it's erroring out (as opposed to the stack trace from the metamask plugin )... argh

@lastmjs i dont see the tx on ethereum mainnet either.  your funds are still *safely* in the temporary address.

i'm going on vacation this week so its unlikely i'll be able to get to root cause this week

DM me your ethereum address and a link to this issue on

[2018-09-24 21:11] owocki commented on #2248
36549d91714f20ba8cbe296ce0c512b5c7a06176

[2018-09-24 21:11] #2248 closed

[2018-09-24 21:54] vs77bb commented on #2186
Agree with @willsputra; I like 'Ready For Work' a bit better still 🤔

[2018-09-24 22:11] vs77bb commented on #2050
@willsputra Agree with these. Happy to provide feedback once you get something going here!

[2018-09-24 22:12] vs77bb commented on #2200
@iamonuwa Are you still working on this one?

[2018-09-24 22:15] vs77bb commented on #2120
Happening here as well: https://github.com/embark-framework/embark/issues/763#issuecomment-423755088

[2018-09-24 22:29] vs77bb commented on #1982
Seen again on [this issue](https://gitcoin.co/issue/f-o-a-m/chanterelle/85/1227).

[2018-09-24 23:16] owocki commented on #2160
ah i jumped the gun on this.. canceling the funded issue now!

[2018-09-24 23:18] owocki commented on #2211
paying out now!

[2018-09-24 23:19] owocki opened #2271 "as a user, i want linked live gitcoin exemplars in the bounty creation flow"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want linked live gitcoin exemplars in the bounty creation flow

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:  so people know what a good bounty example

[2018-09-25 02:12] PixelantDesign commented on #2186
@willsputra Let's share it in the Focus Dev General Gitcoin Slack to get some feedback.

[2018-09-25 02:57] PixelantDesign commented on #2219
@pinkiebell How would a contributor add a label to it?

[2018-09-25 03:09] PixelantDesign opened #2272 "Redefine Work Started"
### User Story

As a funder I'd like a simple and clear distinction between contributors that express interest and  contributors that have _actually_ started work.

As a contributor I'd like to show my interest in working on a project but not have it be counted as started until I actually begin the work.

### Why Is this Needed

- Improve issues in a dangling state
- Make the different states clea

[2018-09-25 03:15] mbeacom commented on #2272
`work started` is `expressed interested`, just renamed copy on the frontend.  The only action we have offchain is "work started" (express interest).
Are you thinking: `work started` would mean they have an open PR or an associated commit?  Oddly enough, this is exactly how `work started` began xD - That's why the BE all references `interest` vs `start work/work started`.

What do we want to consid

[2018-09-25 03:16] PixelantDesign commented on #1518
Yes it does! @vs77bb

[2018-09-25 03:16] PixelantDesign commented on #1518
@mbeacom?

[2018-09-25 03:32] vs77bb commented on #2212
Thanks @writeprovidence -- mind providing a WIP PR in the next few days?

[2018-09-25 03:36] #794 closed

[2018-09-25 03:38] vs77bb commented on #2215
@usmanmuhd How is this one going?

[2018-09-25 03:38] #994 closed

[2018-09-25 03:45] usmanmuhd commented on #2215
@vs77bb I have added the tooltip hover and need to get the address associated with the username. I need help with adding the username search. @thelostone-mc should be helping with this.

[2018-09-25 05:32] frankchen07 commented on #2261
After taking another look, I may have misunderstood - the original ask was to sort by bounty count for each of the current dropdown menu options (payers, earners, orgs, tokens, keywords), which currently is not setup for this, according to @mbeacom.

That being said, I'll keep my stance that being able to filter on bounty counts for each of the menu options is useful, but because of the limitation

[2018-09-25 05:53] frankchen07 commented on #1769
@mbeacom - check out darkdarkdragon's comment on August 23rd - it seems like the work that is meant to be done on checks for submitted bounties isn't possible if there isn't a check on submitted bounties.

Possible options:

1. Add the checks back in and have darkdarkdragon proceed.
2. Nothing else to do here.
3. Your recommendation.

[2018-09-25 06:02] thelostone-mc commented on #2272
@PixelantDesign seems to be you are asking for a `follow` issue button. Is that it ?

[2018-09-25 06:12] thelostone-mc commented on #2219
@pinkiebell which means we would have the labels displayed on the issue only for the funder to be seen!
which means
- view labels only for funder
- provision for funder to dismiss labels
- tracking the audit history

lol talk about feature creep :P

@PixelantDesign @mbeacom should I put this on hold until we are clear ?
the reporting bit is built out
next would be the mail which I have to code up

[2018-09-25 06:48] thelostone-mc opened #2273 "hide funder details when funder selects to be Anonymous"
#### Description

Funders have the ability to be Anonymous while funding an issue. This results in the follwing description on the bounty page.

<img width="1006" alt="screen shot 2018-09-25 at 12 12 22 pm" src="https://user-images.githubusercontent.com/5358146/45997245-899db980-c0bc-11e8-942c-214523debda7.png">

Sample : https://gitcoin.co/issue/GenieInPot/F3D/1/1041

Task would be to
- hide thes

[2018-09-25 06:54] thelostone-mc commented on #2269
@mbeacom should we evaluate unifying the navbar experience ?
I'm on two minds here

cc @PixelantDesign

[2018-09-25 09:08] iamonuwa commented on #2200
@vs77bb I can't seem to get this to work on my computer. Am going to stop work here.

[2018-09-25 09:29] pinkiebell commented on #2219
@PixelantDesign

Via the user interface, maybe a little +label button with choices.

@thelostone-mc

Ya, that might be a little bit too much for V0 😆

[2018-09-25 09:39] pmaojo commented on #2158
I just didn't get time to finish this but I want to. I have to do it in spare time and it's been impossible. You can run my fork to watch the state of this work.  https://github.com/pmaojo/web

@mbeacom yes, what I'm doing is editing the existing function, no problem on that. The same result (binding instead on blur or focus out) would have to be implemented, and that is out of the definition of d

[2018-09-25 09:45] justpixel commented on #1890
Yes, that was the problem. Here is the correct version.
![create grant](https://user-images.githubusercontent.com/7627020/46006689-c7044600-c0c0-11e8-8e09-62a54308b98e.png)

[2018-09-25 11:43] writeprovidence commented on #2212
ok@vs77bb

[2018-09-25 14:48] aerophile commented on #1991
I'll be posting the next update on Friday.

[2018-09-25 14:52] PixelantDesign commented on #2242
WIP Design

<img width="1203" alt="screen shot 2018-09-25 at 10 52 07 am" src="https://user-images.githubusercontent.com/238235/46022708-1c385b80-c0b1-11e8-8d8a-b3aa009d08be.png">

[2018-09-25 14:57] PixelantDesign commented on #2112
**WIP Design**

<img width="776" alt="screen shot 2018-09-25 at 10 56 24 am" src="https://user-images.githubusercontent.com/238235/46023016-b7c9cc00-c0b1-11e8-9ef5-a86ffb7ec594.png">

[2018-09-25 15:09] PumpkingWok commented on #1964
Hi @owocki,
I was testing a new `ethereum` command from web console but it seems disappear from today.
I have just seen that metamask released a new version (`4.11.0`) and it reverts to version `4.9.3`.
I think that the new command is disappear for this reason.
Thanks

[2018-09-25 15:34] vs77bb commented on #1982
@zachzundel Just approved you! @Anish-Agnihotri @irmacias Please be on the lookout for more issues soon - there will be more to come 🙂

[2018-09-25 16:44] vs77bb commented on #2200
@mul1sh Any chance you'd like to pick this one up as well? Similar to #2037, I think...

[2018-09-25 16:57] mul1sh commented on #2200
@vs77bb definitely would like to give it a try, thanks for asking 😃 . Though I don't know if I can manage to [Start Work] on this issue explorer because my current issue limit is 3 and I've already started work on 3 other issues.

[2018-09-25 17:00] vs77bb commented on #947
@PixelantDesign This is a dup of #2200... although another feature to consider for v1.1 might be:

Instead of you having to 'invite' yourself... there are some pre-populated people to invite (top bounty hunters, etc.). cc @willsputra for reference

[2018-09-25 17:00] #947 closed

[2018-09-25 17:02] vs77bb commented on #2166
@PixelantDesign Is this another one to add to Will's design backlog, potentially?

[2018-09-25 17:04] vs77bb commented on #1152
Dup of our #1490

[2018-09-25 17:04] #1152 closed

[2018-09-25 17:04] #1157 closed

[2018-09-25 17:06] #1518 closed

[2018-09-25 17:06] #1669 closed

[2018-09-25 17:10] vs77bb commented on #1123
Closing as @jschiarizzi showed us a Github native feature that does this 🙂

[2018-09-25 17:10] #1123 closed

[2018-09-25 17:21] vs77bb opened #2277 "Gitcoin Issue Details: Activity Tune-Ups"
**What Is The Problem**
Gitcoin's Activity Feed has a few bugs which could be worked out to make the experience cleaner for people who are looking to grok the history of a bounty.

_Severity:_ **P2 / P3 Bug**

**How can this be fixed?**
- [ ] Remove comma (",") in the 'Work Started' section, as it's only one name.
- [ ] For Auto-Approvals, add an 'Activity' stating someone was auto-approved.
- [ ]

[2018-09-25 18:50] #2241 closed

[2018-09-25 23:54] zachzundel commented on #1982
Looking at the code a little closer, it looks like only users that have been accepted, and not just shown interest, should be prodded. Is this issue as simple as deleting lines 63-67 from web/app/marketing/management/commands/expiration_start_work.py and only working on interests that have been accepted by a funder?

[2018-09-26 00:13] Anish-Agnihotri commented on #2271
Spoke with @PixelantDesign last night about this issue. I'll be making a PR implementing required changes within the next few hours:

1. Linking exemplars within the bounty creation workflow. I'll be adding the following: `3. Need some bounty ticket inspiration? Take a look at at some examples here.` underneath the existing tips section found on the page:
![tips](https://user-images.githubusercont

[2018-09-26 02:17] ryan-shea commented on #2184
Hey @PixelantDesign, looks like @mul1sh has submitted and is ready to be reviewed. :)

[2018-09-26 02:27] ryan-shea commented on #2037
Hey @thelostone-mc, looks like @mul1sh just added another pull request. Do you think you could review it? Thanks :)

[2018-09-26 02:32] ryan-shea commented on #1863
Hey @ceresstation, just wanted to bump this thread :)

[2018-09-26 02:33] ryan-shea commented on #1807
Hey @PixelantDesign, have you had a chance to check @darkdarkdragon's PR? :)

[2018-09-26 03:06] jorgeluisrezende commented on #1840
@mbeacom thank you, i'm reading the code first, any question i have i will ask you, ok?

[2018-09-26 04:00] Anish-Agnihotri commented on #2273
Hey!

I'd be glad to help out with getting this PR set out. Just to confirm, you're essentially looking for functionality that involves hiding the `Funder`, `Email`, and `Avatar` and `Gitcoin Profile` values within the container?

If so, I assume it would be as simple as a check to verify whether the owner of the bounty is Anonymous, and if so, hiding the fields/labels (either with some JS to add

[2018-09-26 04:37] wonderwomancode commented on #2261
@frankchen07 my two cents is in agreement with your assertion that the filter would be more useful overall but also that due to current limitations a sort on USD makes sense. I can get started on this and probably finish it up tomorrow if there are no other comments. Anyone else have two cents to add before I put code up tomorrow?

[2018-09-26 05:08] frankchen07 commented on #2158
Thanks for the heads up @pmaojo! Do you have an estimate on how many hours you might be able to work on this per week? That will help us estimate a reasonable check-in schedule.

[2018-09-26 11:57] pmaojo commented on #2158
Hi! @frankchen07 It will take me less than 3 hours and I would be able to do it this weekend. So next Monday this should be done and PR.

[2018-09-26 13:03] PixelantDesign commented on #2184
Thanks for the reminder @ryan-shea

@mbeacom good to pay this out?

[2018-09-26 13:51] chiptus commented on #1770
I'm not sure if I should continue (actually start, since I haven't done nothing but start the env)
I'm still trying to understand your codebase.
I see on `profile.html` that there are three sections - in-progress, funded, and completed.
Do you mean that we should have one section with ability to choose the right type of bounty? in-progress/funded/completed/cancelled?

[2018-09-26 14:01] jschiarizzi commented on #2261
Sounds good @wonderwomancode

[2018-09-26 16:15] frankchen07 opened #2280 "When on the /not_a_token page, text styling and size for the Gitcoin header toolbar is inconsistent."
**Description**

When on  https://gitcoin.co/not_a_token, the Gitcoin header toolbar text is in a different style and size.

**To Reproduce**

Compare the header toolbar text and size when on https://gitcoin.co/not_a_token and https://gitcoin.co by clicking on the dropdowns and checking the text of the header.

![screen shot 2018-09-26 at 09 11 29](https://user-images.githubusercontent.com/7516920

[2018-09-26 17:18] willsputra commented on #2277
My $0.02:

**Existing layout**
![screenshot 2018-09-27 01 04 35](https://user-images.githubusercontent.com/19514207/46096362-940d9f80-c1f1-11e8-9dca-0d6ad595b352.png)
vs77bb is the funder who approved the worker, correct? However, at first glance I thought vs77bb is the approved worker. I guess for me the 'Worker Approved' card isn't so clear.

**Suggested layout**
![worker applied](https://user-i

[2018-09-26 18:02] Naggertooth commented on #2174
Hi, @pinkiebell
While I was working on it I found that:

Gitcoin creates new issue and pk in database with the same id
after funder deside to give additional bounty to the issue.
And there is no field for performer in bounty database before submiting work,
so when he trying to submit work - he doesn't bound to new issue.

New issue refers to same standart_bounty_id and it has `current_bounty = tru

[2018-09-26 18:16] vs77bb commented on #2277
This is much better @willsputra! I would only recommend.

"Approved by @vs77bb on Sept 9" be one line, instead of two.

@PixelantDesign are you good for me to bounty this from here?

[2018-09-26 19:18] vs77bb commented on #1855
Awesome @saketbairoliya2 just approved you; please keep @eswarasai @mbeacom @SaptakS in the loop if you have any questions on approach!

[2018-09-26 21:21] jasonrhaas opened #2281 "Tips race condition"
**Describe the bug**
This is a race condition bug that exists in Tips.

Its this line:

https://github.com/gitcoinco/web/blob/master/app/dashboard/tip_views.py#L133

In the case where the TX has already been mined before the page reloads, this bug will occur.

Its checking an account that is already been emptied because the tx has already gone through. I think this bug only occurs on the local tes

[2018-09-26 21:28] jorgeluisrezende commented on #1840
@mbeacom  the PR realy solve this? must i continue this?

[2018-09-26 22:10] pinkiebell commented on #2174
@Naggertooth
The errors might be from a missing/wrong github access token (https://github.com/gitcoinco/web/blob/master/docs/ENVIRONMENT_VARIABLES.md).

Yes

Nope

Thats a task for another time 👍

[2018-09-26 22:40] Naggertooth commented on #2174
@pinkiebell
Thank you.

`The errors might be from a missing/wrong github access token `
I know. I was watching around this and I thought to make an exception for this call.
But there is a lot of similar errors and it can make errors afterwards. So I stopped.

I mean: When I fund an issue by a different account -
gitcoin tryes to access to performer account too. That's strange.

[2018-09-27 03:36] vs77bb commented on #2277
@willsputra can you provide the `.sketch` and `.ai` files for this? We can bounty from there 🎉

[2018-09-27 03:37] vs77bb commented on #2204
@oogetyboogety how goes it on this one?

[2018-09-27 03:37] #2198 closed

[2018-09-27 03:38] vs77bb commented on #2200
@mul1sh Accepted you here - please let us know if you have any questions as you get rolling 🙂

[2018-09-27 03:41] mul1sh commented on #2200
@vs77bb awesome thanks, will do

[2018-09-27 05:58] frankchen07 opened #2282 "As a new funder, there isn't a way to get to the funder landing page at /onboard/funder."
### User Story

As a new funder, there isn't a way to get to the funder landing page at /onboard/funder. The landing page to begin the funder FTUX is https://gitcoin.co/onboard/funder/, however, there is currently no way for an unregistered or registered user to land on `onboard/funder` except by directly typing the URL into the address bar.

### Why Is this Needed

It should be made more clear wh

[2018-09-27 05:58] frankchen07 opened #2283 "As a new user, I want it to be explicit where I click to get started as a contributor or funder."
### User Story

As a new user, I want it to be explicit on the homepage where I click to to get started as a contributor or funder.

### Why Is this Needed

It should be made more clear where a new funder or new contributor "begins" their journey. This tidies up our FTUX into two available funnels (contributor or funder) that is easy to see on the homepage.

### Current Behavior

1. One method is

[2018-09-27 05:59] frankchen07 opened #2284 "Unregistered users who have Metamask enabled and click on "Fund Issue" can see the funder form without logging into Gitcoin."
**Bug Details**

Unregistered users who have Metamask enabled and click on "Fund Issue" can see the funder form without logging into Gitcoin via Github.

**To Reproduce**

1. Open an incognito window in Chrome or clear your browser's cache and browsing history.
2. Ensure that Metamask is enabled, you are logged in, and on mainnet.
3. Go to gitcoin.co, and make sure you are a new user / not logged

[2018-09-27 06:48] PixelantDesign commented on #2277
The activity is based on time... oldest at the bottom—> newest at the top. I recommend adding *Who was approved* to Vs77bb block (otherwise we are adding new activity to old activity items).