[2020-02-20 15:25] TheDataDesigner commented on #5893
@owocki @danlipert Before I take the time to get all these assets formatted and organized, I'm hoping to get a signal as to which option I proposed you guys would prefer: using my original characters even though they don't fit into one of the suggested categories or creating some new assets within one of those categories. I just want to make sure my efforts are aligned with your goals.

Congrats o

[2020-02-20 15:51] willsputra commented on #6038
a quick fix would be to make the box white-on-black instead of white-on-white
<img width="589" alt="Screenshot 2020-02-20 23 51 05" src="https://user-images.githubusercontent.com/19514207/74952914-e9c49680-543b-11ea-8951-457051dfc21a.png">

[2020-02-20 18:27] walidmujahid commented on #6010
I am almost ready to open my PR for maintainer review for potential merging into master. I have uploaded a working demo: https://youtu.be/wibE0emPwBE

[2020-02-20 18:44] octavioamu commented on #5999
So just a help for you because I built that dashboard, in that time to make the query we needed to look at the state (open, work started ...) so to replicate that the bounty need to be cooperative or any where more than one person can work at the same time. That is when that query fails to fetch the group "work submitted" as the query is looking for bounties > closed

We changed now the model to h

[2020-02-20 18:46] octavioamu commented on #5999
Also I want to know more about how people is using the dashboard and what they expect to have there.

[2020-02-20 19:55] developerfred commented on #6003
Bug in mention  user with "-"
<img width="359" alt="Screen Shot 2020-02-20 at 16 52 20" src="https://user-images.githubusercontent.com/57037080/74973176-bc5af700-5401-11ea-9863-7d024cc72294.png">

[2020-02-20 22:51] octavioamu commented on #6003
Yes @developerfred the regex is wrong

[2020-02-21 00:02] Glitch-key opened #6043 "an issue recieving a tip"
Hello I had an issue receiving a tip from someone on gitcoin in ETH, I typed in my metamask address, accepted the terms and clicked claim ETH, now its giving me a message in a red box on the top of the screen saying "You are not on the right web3 network. Please switch to mainnet" even though i click on the metamask logo on the top right of my browser and see that i am on the main "ethereum networ

[2020-02-21 00:41] octavioamu commented on #6003
regex was solved will be on prod tomorrow

[2020-02-21 04:05] sebastiantf commented on #5865
@owocki My PR has been merged and this issue closed. I have submitted the work on Gitcoin. Please review my work as the bounty expires in 2 days.

[2020-02-21 04:13] developerfred commented on #183
What is the priority of this edition, can I send some work?

[2020-02-21 04:23] developerfred commented on #3876
Hi @vince0656, still working on this issue?

[2020-02-21 05:44] cervoneluca commented on #5999
Hi octavioamu! Thank you for your answer! I think that the dashboard should be a place to see all my activities in all sections of the site. Since now, this is allowed but I have to jump from the "Dashboard" page to the "My Profile" page to have everything under control. Maybe everything can be merged in a single summary (Dashboard) page (but it must be well organised, otherwise it could be confus

[2020-02-21 05:48] developerfred commented on #6003
![95B2F12A-ACB4-499D-AE1D-BCD9D7109CB6](https://user-images.githubusercontent.com/57037080/75007639-ab47cf80-546d-11ea-9b8e-849cd4a5b0a8.jpeg) tipping don’t work in mobile browser, we need other design feature for this on mobile.

[2020-02-21 06:13] sounak98 commented on #6012
@octavioamu updates to js files aren't getting updated. I am using the docker setup to run the host the app on localhost. I see that the static dir is present on `gitignore` too, is there any script to bundle the static files?

[2020-02-21 12:16] cervoneluca commented on #6038
I saw in the current upstream/master that the issue about the background coloro is already fixed. Is anyone working on  creating a tab (in the activity, resume and so on area) to display the list of followers?

If not, I should some free hours during this week-end and I can work on it.

Let me know!

[2020-02-21 14:22] walidmujahid opened #6046 "First click on the comment button does not post the comment"
When posting a new commit, hitting "Enter" to submit works perfectly, but clicking the "Comment" button does post on the first click but posts on the second click.

Here is a recording of the issue: https://youtu.be/kYtsck_GrxE

**Expected behaviour:**

It should post the comment on the first click.

[2020-02-21 14:27] cervoneluca opened #6047 "Countdown for weekly CLR matching"
### User Story

As a user I would like to see a countdown for the CLR weekly distribution

### Why Is this Needed

I think that a simple countdown on the right of the weekly CLR leaderboard's title would be serve to the scope. It would also be useful to insert the ending date and time in the tooltip shown when overing the mouse on the "i" on the right of the title.

### Description

*Type*: featur

[2020-02-21 14:45] willsputra commented on #6047
small tweaks that I think could make it clearer... thoughts?
![town_square_clr](https://user-images.githubusercontent.com/19514207/75044008-de38a480-54fb-11ea-943a-6dfb04fd0f4f.png)

[2020-02-21 14:50] cervoneluca commented on #6047
Great design!

What about inserting a countdown to?
I think that it would work as a simple gamified/engaging widget!

[2020-02-21 15:01] willsputra commented on #6047
something like this?
<img width="622" alt="Screenshot 2020-02-21 23 00 54" src="https://user-images.githubusercontent.com/19514207/75045349-17721400-54fe-11ea-858f-c2f13e5483ab.png">

[2020-02-21 15:04] cervoneluca commented on #6047
Great! Beautiful and effective!

Luca Cervone
Post Doctoral Research Fellow in student in Legal Informatics, Gamification, HCI, eParticipation and eDemocracy at CIRSFID, University of Bologna

CIRSFID - University of Bologna, Via Galliera 3, 40122, Bologna (Italy)
+39 051 277267 | +39 348 2627545 | luca.cervone@unibo.it <mailto:luca.cervone@unibo.it>  |cervoneluca@gmail.com <mailto:cervoneluca@gma

[2020-02-21 17:16] developerfred opened #6048 "Bug: Gitcoin Profile"
<img width="1011" alt="Screen Shot 2020-02-21 at 14 09 01" src="https://user-images.githubusercontent.com/57037080/75055854-862a7f80-54b4-11ea-989e-d69e1d73290a.png">

**Describe the bug**

go to https://gitcoin.co/profile/credissimonexo
go to https://gitcoin.co/credissimonexo
**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:

[2020-02-21 17:41] owocki commented on #5893
share access with kevin@gitcoin.co or public read and ill tell u

[2020-02-21 17:43] owocki commented on #5893
honestly i like all the stuff u posted in your post above..

if u already have a modular character system, and you are in a place in which u can liscense it to this repo under our liscense (GPV v3) then i say lets go in that direction.. why duplicate the effort yknow?

thx - ur in denver?  see u around colorado blockchain i suppose!

[2020-02-21 17:44] owocki commented on #5893
everyone else.. how goes? would love to start getting some SVGS i can plug into a PR!!!

[2020-02-21 17:54] octavioamu commented on #6048
not a bug, a feature, profile is hidden, you can choose that optin under your settings... not good for a community member of course.

[2020-02-21 18:34] Popeline5 commented on #5893
@owocki here’s my Jedi
![IMG_0885](https://user-images.githubusercontent.com/61253985/75061349-d7e8ff00-54e0-11ea-996a-41f404956740.png)
![IMG_0886](https://user-images.githubusercontent.com/61253985/75061456-0a92f780-54e1-11ea-94da-ea7c90c2d34f.png)

[2020-02-21 18:48] Solexplorer commented on #6048
@octavioamu Hmm, tho the follower box should be hidden in the 404 page

[2020-02-21 19:32] developerfred opened #6050 "Gitcoin Quests - Statistics for maker quests"
### User Story

As a quest creator, I would like to see the statistics of the participants.

### Why Is this Needed

- dashboard for view statics

[2020-02-21 20:00] walidmujahid opened #6051 "Calculate bounty payouts of bounties opened in response to actions taken in Townsquare"
<sup>I am "being meta" -does that make sense?- and making an official feature request based on my suggestions I posted under @owocki's townsquare announcement:  https://gitcoin.co/townsquare?tab=activity:137090</sup>

Because so far, a lot of bugs and feature suggestions have come into the townsquare, and I am sure some of them had bounties opened. Having the payout from those specific types of bo

[2020-02-21 20:05] walidmujahid commented on #6051
This can probably be generalised to grants somehow as well. Here is an example of a grant that seems to have come out of Townsuqare: https://gitcoin.co/grants/442/the-still-unnamed-and-still-inexistent

[2020-02-21 20:07] theCydonian commented on #5893
@owocki, I can create a metacartel svg avatar. Do you just want it to look like the image you attached but with deconstructed components, or something else?

[2020-02-21 20:48] PaulRBerg commented on #5914
I tried to build the Gitcoin codebase again but unfortunately it didn't work. I reported the errors I got on Slack.

@Man-Jain, @santteegt, can you please stream me 0.1 DAI to my Gitcoin account? I want to see how the notification email looks like and whether I can properly withdraw from Sablier. On mainnet.

Thanks!

[2020-02-21 21:24] cervoneluca opened #6052 "Incongruence in grant's funding summary"
**Describe the bug**

A user funded my grant with 1 DAI.  I received the DAI, but the interface shows two transactions (and a total funding of 2 DAI given by the same user). Also, both the transactions are still labeled as "pending".

I'm pretty sure that the intention of funder was to fund only one DAI.

**Screenshots**

<img width="1635" alt="Schermata 2020-02-21 alle 22 17 04" src="https://user

[2020-02-21 22:27] developerfred commented on #6003
Nice feature for Townsquare feed is block user, **I want to block a user and not see anything he posts, do you think this is possible? there is a similar feature on twitter, I can block it for time like I don't want to see anything from this user for a week ...**

[2020-02-21 22:31] TheDataDesigner commented on #5893
@owocki Sounds good. I have a bit of work to do to get my system in line with your format, but it should be too much of a hassle. I'll work through that as well as start looking into the GPV v3 licensing. Once I get at least one character variant in the correct format I'll post my svg code here so that you can verify it's done correctly, then I'll work on formatting the rest of the character varia

[2020-02-21 23:30] owocki commented on #5893
@Popeline5 looks cool :) pls continue

@theCydonian yeah deconstructed parts, and fitting the spec in the desc.  we can add more parts to it from there.

@TheDataDesigner great!  you can click 'start work' on the bounty if you want.

[2020-02-22 06:35] theCydonian commented on #5893
@owocki I finished reconstructing the metacartel logo in illustrator to separate the vector components out into parts. Here are some screenshots of my work:

![Screen Shot 2020-02-21 at 22 20 37](https://user-images.githubusercontent.com/31706764/75087696-8cdae600-54f8-11ea-8b19-14279fcbd544.png)
https://user-images.githubusercontent.com/31706764/75087697-8cdae600-54f8-11ea-8761-498783d017e7.png
h

[2020-02-22 14:14] oussema opened #6053 "Faied to get my own ens : oussema.gitcoin.eth"
Why I can't get my own ens ? I followed this blog https://gitcoin.co/blog/personalize-your-own-gitcoin-ens-name/ I sign with my metamsk wallet but it doesn't work. Any one face the same problem ?

[2020-02-22 17:49] walidmujahid commented on #6010
PR #6023 now changed from draft to open.

Editing a comment will not be as simple as clicking the edit button on a comment. All other comments of the user will have their edit buttons disabled when editing of a comment is active. Posting new comments for the user will also be disabled while they are editing a comment. If you try to submit an edit with zero characters, it will not submit. An edited

[2020-02-22 19:18] owocki commented on #5893
@theCydonian looks great!  let me ask some metacartel members what avatar accessories they want.  some thoughts from me:

- feel free to steal some accessories from https://github.com/gitcoinco/web/tree/master/app/assets/v2/images/avatar3d
- rainbows/ unicorns
- eth logos in fun places
- a picture of peter pan or vitalik
- a colorado flag

can you post the svg so we can be sure that the DOM is con

[2020-02-22 19:22] owocki commented on #5893
hey everyone on this thread; could you post your WIP svg sometime in the next 48 hours so i can validate it against the avatar builder code ? pretty pls

[2020-02-22 20:39] ekram-syed opened #6055 "Comment box gets stuck when you click any comment button with an empty input box"
**Describe the bug**

Comment input box gets stuck when you click the comment button with an empty input box. Also after inserting something for comment, first mouse click on the comment button will collapse the input box. to post the comment you need to click the button again. [issue 6046]
**To Reproduce**

1. https://gitcoin.co/townsquare
2. click any comment box underneath any post by keeping t

[2020-02-22 21:07] theCydonian commented on #5893
@owocki here is my svg so far:

[metacartel.svg.zip](https://github.com/gitcoinco/web/files/4239948/metacartel.svg.zip)

I'll start working on the variants today.

[2020-02-23 05:31] theCydonian commented on #5893
@owocki I made a bunch of variants and incoorperated assets from the bufficorn avatar.
Here is what I've got:

[spicyboi.svg.zip](https://github.com/gitcoinco/web/files/4240640/spicyboi.svg.zip)

Let me know if you need anything else.

[2020-02-23 09:15] willsputra opened #6056 "Town square link preview is showing all text and is super long"
**Describe the bug**

When pasting a link on the New Post box, the link preview shows all the text inside that link and ends up becoming super long.
<img width="823" alt="Screenshot 2020-02-23 17 11 55" src="https://user-images.githubusercontent.com/19514207/75109582-beba8c80-565f-11ea-9cf6-0a35dacc6026.png">

When you click Post, it shows up correctly.
<img width="794" alt="Screenshot 2020-02-23

[2020-02-23 13:35] PaulRBerg commented on #5914
Okay so after reviewing the videos, analysing the code contribution and confirming that the streams you created work on app.sablier.finance, I decided to split the bounty in two:

+ 400 DAI to @santteegt
+ 100 DAI to @Man-Jain

I have to admit this was very, very hard to judge because both submissions were good. I ultimately decided to choose @santteegt as the winner since he managed to implemente

[2020-02-23 15:58] kdm5126 opened #6057 "logged in user does not persist to 'Chat'"
Being logged in and clicking on the chat feature in header of the page bring me to a log in page. gives the option to log in via gitcoin (which I already am) clicking button does not load anything.

**Describe the bug**

**To Reproduce**
Log in
click chat in header

**Expected behavior**
Brings you to the chat page.
As a user, I expected this to take me to a comment that I just received an email a

[2020-02-23 17:46] crisgarner commented on #6004
Here is the WIP PR, https://github.com/gitcoinco/web/pull/6058

[2020-02-23 20:22] KushMd commented on #5893
JEDI
https://drive.google.com/open?id=1Vo4fLyMNEgSbl_DF_ZInAOco8rx0hw4B

[2020-02-23 20:23] KushMd commented on #5893
ORC
https://drive.google.com/open?id=1cJZk1J1c-eabwI898f0lGF3zgOEIPU8d

[2020-02-23 20:24] KushMd commented on #5893
JOKER(supervillian)
https://drive.google.com/open?id=19CNJzLg9XG4Z1cfNsvg6uWl9Y1mktMCw

[2020-02-23 23:21] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2020-02-24 04:50] krajarajan opened #6060 "No link provided to view Followers in myprofile page."
### Discussion

[comment]: #  In profile page (3 Followers) only label  shown  , no link provided to view followers , is't bug or a feature plan to add  ?

Version 1.3.115 Chromium: 80.0.3987.87 (Official Build) (64-bit)

[2020-02-24 07:41] thelostone-mc commented on #6056
@willsputra thanks for the report ^_^
it's fixed over at ff68427b61b372bf466765b9edbd460b81720964

<img width="815" alt="Screenshot 2020-02-24 at 1 08 15 PM" src="https://user-images.githubusercontent.com/5358146/75135298-237cf200-5707-11ea-9112-3b149f180c1f.png">

[2020-02-24 07:41] #6056 closed

[2020-02-24 08:32] zoek1 commented on #6018
I'm reviewing how works currently, i'll be back here  with a couple questions :smile:

[2020-02-24 12:28] torfbolt opened #6062 "Add WalletConnect support to gitcoin"
### User Story

As a gitcoin user, I want to select WalletConnect instead of Metamask so that I can use the Argent wallet on my phone to fund or receive bounties.

### Why Is this Needed

Smart phone wallets like Argent are a great way to onboard new users. Making it easy for new Ethereum users to support their favorite open source project or fund issues that are important to them should be a high

[2020-02-24 15:38] TheDataDesigner commented on #5893
Here's a sample of the first character along with a bunch of different bases to show the format for variations. Let me know if I need to tweak anything here before building out the other elements

[character.zip](https://github.com/gitcoinco/web/files/4245341/character.zip)

![Screen Shot 2020-02-24 at 8 37 25 AM](https://user-images.githubusercontent.com/1761801/75166431-13521c00-56e1-11ea-8972-8

[2020-02-24 16:56] coolcryptomaniac opened #6063 "UI fix"
**Describe the bug**
UI design the followers tab needs to be adjusted

**To Reproduce**

check the profile page

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device: redmi note 8pro
- OS: android
- Browser: brave

- Version:

**Additional context*

[2020-02-24 17:59] alexvotofuture opened #6065 "Wire up e-sign/order form invoicing solution"
Take the SF solution Joseph came up with and plug in single/multi-hack order forms so we can get e-signed sponsor docs automatically uploaded, separating TF for branding and other promotional details.

[2020-02-24 18:37] ekram-syed opened #6066 "Simplified user area in Nav Bar"
Gitcoin Townsquare

We can have a cleaner version of the user area in the top nav. Check the screenshot for details.

Because of little things matters. Make the design cleaner,

https://drive.google.com/file/d/1JfABaAWu-0I66G6FvZRmI6Ln0PzVl3mW/view?usp=sharing

Changes:
1. avatar size reduced to 32X32 from 40x40.
2. place the avatar before the username drop down.
3. remove the chat icon since we a

[2020-02-24 19:35] molecula451 opened #6069 "Buggy Heartache"
**Describe the bug**
Buggy heartache

![heartache](https://user-images.githubusercontent.com/41552663/75184695-2bdf2800-571b-11ea-81e9-990e50e6a3d4.png)

**To Reproduce**

Click Like many time as soon as page is refreshed

**Expected behavior**
One like per user?

[2020-02-24 19:38] molecula451 commented on #6069
@owocki

[2020-02-24 19:48] mainnebula opened #6071 "Unable to edit / cancel a Reserved Bounty"
**Describe the bug**
A [bounty](https://gitcoin.co/issue/consensys-space/trusat-backend/91/3926) was created and reserved for a specific Gitcoin user and it cannot be updated or edited. The user has not been online to accept or deny the bounty since its creation. The bounty cannot be cancelled and the funds remain in the contract.

**To Reproduce**
Create a reserved bounty for a non-active user.

[2020-02-24 19:57] owocki commented on #6011
on daily email recommend adding a "what you missed" section with notifications  and town square posts you've missed

also recommend having a 'quest of the day' that u can recommend to them.

[2020-02-24 20:00] vs77bb opened #6072 "CLR Matching From Vivek Is Confusing"
Right now, CLR matching is coming from Scott / Vivek's Gitcoin account. It isn't explicitly marked as CLR payout. This can be confusing to community members. Perhaps we add an admin checkbox where we can mark our own donation as CLR Match and it gets a simple banner to call it the match?

Also could be useful logic to extend once we move away from manual payouts towards a programmatic payout.

[2020-02-24 20:00] owocki commented on #6011
on daily email recommend adding a "what you missed" section with notifications and town square posts you've missed

also recommend having a 'quest of the day' that u can recommend to them.

also recommend having an 'upcoming dates' section that contains dates for upcoming hackathons + grants rounds.

for the 'were human too' thing, i think that part is a little awkward. id love to see a "prompt" e

[2020-02-24 20:43] walidmujahid commented on #6066
I will work on this.

[2020-02-24 21:09] owocki commented on #5893
just played with all of the above svgs.. were mostly on track!!

some comments for everyone:
- add backgrounds pls, even if its just a few color options
- pls make viewport 350px x 350px upon export

almost all of the samples only had one accessory/hair/clothing/etc type. will need at least 3 of each type before submission :)

and make sure you name your different dom elements as follows :) otherw

[2020-02-24 21:10] owocki commented on #5893
@TheDataDesigner that looks good.. but note that u wont have to do color variations for skin tones (so u can remove most of the Base's). our system can swap out any base skin color for a bunch of diffrent other ones just by doing a simple regex on the svg DOM :)

[2020-02-24 21:12] walidmujahid commented on #6009
I will start work on this. This is sorely needed for Gitcoin's Web repository, so I will focus on that first and then expand it to any Github repository. This feature is also relevant to #6051 idea which I would like to see -need more community input on that, though, and probably @owocki.

[2020-02-24 21:56] walidmujahid commented on #6009
Flow:

Simplified:

- User clicks on a button to turn a post into a Github issue - a post could be either a status post or comment, but should it be one or the other? A townsquare comment does not have a short character limit, so perhaps that may be the best?
- Link to the Github issue will be posted as a comment under the activity
- Link to the Github issue will also be posted as an activity on i

[2020-02-24 23:16] owocki commented on #5893
cant wait to add ur guys avatars to this list!!

<img width="627" alt="Screen Shot 2020-02-24 at 4 15 55 PM" src="https://user-images.githubusercontent.com/513929/75199708-02c19600-5721-11ea-9374-703f12bc29bc.png">

[2020-02-24 23:17] nebrelbug commented on #5810
@owocki do I need to use Docker to run the local dev server?

[2020-02-25 00:11] renatobenks commented on #5832
so it isn't done, right? are there missing these issues https://github.com/gitcoinco/web/issues/5832#issuecomment-578275823 to close it?

[2020-02-25 01:15] frankchen07 commented on #6011
updated new daily wireframes

[2020-02-25 04:33] theCydonian commented on #5893
@owocki I added two new backgrounds. Is there anything else you want me to do, or are you satisfied with this as the final submission? However I might have messed up naming as I'm not sure of how the naming scheme is specified.

[spicyboi.svg.zip](https://github.com/gitcoinco/web/files/4248067/spicyboi.svg.zip)

Let me know what you think.

[2020-02-25 08:22] #3753 closed

[2020-02-25 16:23] danlipert commented on #6071
@mainnebula I removed the reservation so you should now be able to cancel it - give it a try and let me know how it goes, thanks!

[2020-02-25 17:10] owocki commented on #5893
@theCydonian theres only one accessory (accessory_14) in the DOM... (similar for hat, mouth, eyebrows, etc)

can you resubmit with several of each category in the main level of the DOM? ie
accessory_14
accessory_13
accessory_12
accessory_11

feel free to use the sample svg ( https://bits.owocki.com/v1umkr1e ) as a example

[2020-02-25 17:10] owocki commented on #5893
@theCydonian theres only one accessory (accessory_14) in the DOM... (similar for hat, mouth, eyebrows, etc)

can you resubmit with several of each category in the main level of the DOM? ie
accessory_14
accessory_13
accessory_12
accessory_11

feel free to use the sample svg ( https://bits.owocki.com/v1umkr1e ) as a example

[2020-02-25 17:39] theCydonian commented on #5893
@owocki sorry about that. I messed up the export. This should be better:

[metacartel.svg.zip](https://github.com/gitcoinco/web/files/4251291/metacartel.svg.zip)

[2020-02-25 21:39] nasehim7 commented on #5893
@owocki Hi Kevin, I have been away because of work. Continuing on what I submitted earlier, I have converted the Mage into the relevant SVG. You can give your feedbacks and accordingly I will fix Mage as well as push out the Orc that I have made.

Here is Mage:
https://drive.google.com/file/d/1DGwPNk0iMUCnxJ7u_hTq0f9JFiPRp1F6/view?usp=sharing

[2020-02-26 05:33] #6012 closed

[2020-02-26 10:46] sounak98 commented on #6046
@owocki this happens to me too, would love to work on this.

[2020-02-26 14:16] walidmujahid commented on #6046
I do not think anyone is working on this. I am actually facing this issue locally when checked, but I did not actively work to debug this issue. You can ask on Townsquare, but I think you free to work on this if you want to @sounak98

[2020-02-26 16:49] x5engine opened #6081 "Sending Kudos to ETH Address Fails even if user owns it in etherscan"
Sending Kudos to ETH Address Fails even if the user owns it in etherscan

The profile for tenfinney on gitcoin shows only 3 kudso when he actually has 34!

https://etherscan.io/address/0x7b035331967075a168471dfbd23ed977f048f61e#tokentxnsErc721

See video here
https://share.vidyard.com/watch/Po7rku3guqZJpsGFnBTADi?

[2020-02-26 17:22] KushMd commented on #5893
JEDI             https://drive.google.com/open?id=1j3uHoh5GZi1ejmbqE1TeJpe7k_eoK_rV
ORC             https://drive.google.com/open?id=1aPTQvCMq_IIUp49598KABJDD63YprpfL
JOKER           https://drive.google.com/open?id=1K4ibwP7FoS5x201gNX4nEpNLEvexIwmh

(copied some backgrounds from bufficorn avatar)

Anything else I should add????

[2020-02-26 17:25] theCydonian opened #6082 "Quests play lose case when won"
**Describe the bug**
In the case of answering all questions correctly on a quest, a slow animation plays on the last question like a win condition, but it then marks it as a loss. On my activity feed, a message appears that I beat the quest, but the quest is still playable, and I don't get any kudos.

**To Reproduce**
To reproduce, play a quest and answer all questions correctly. I specifically ob

[2020-02-26 18:08] nasehim7 commented on #5893
@owocki Hi Kevin, here is the SVG form of the Orc which I sketched earlier for the task:

https://drive.google.com/file/d/1DVaphPS4ZiE-m-kZ9ZuQvSD0mrOksD5H/view?usp=sharing

Moreover, I would like to share a version of Harley Quinn which I made couple of days back for my social media page. You can have a look and lets see if we can make use of it in later version of this task or so or maybe someth

[2020-02-26 18:22] alexvotofuture opened #6083 "FTF Ops Improvements"
https://docs.google.com/spreadsheets/d/1YD5uvMm1BB_IOcwlX_9g15HcUb1lXxSCGVuHg9nWHmQ/edit?usp=sharing

[2020-02-26 19:34] simonweniger commented on #5893
**Burning Man**
![BurningMan](https://user-images.githubusercontent.com/43147663/75380143-cafc4f00-58d6-11ea-8231-61520f388812.jpg)

**Protoss/Barbarian**
![Protoss](https://user-images.githubusercontent.com/43147663/75380153-d0f23000-58d6-11ea-8e64-1fb414d7c14f.jpg)

We already have some ideas for different versions, types of the characters and accessories.

[2020-02-26 19:36] walidmujahid opened #6084 "Confirm before deleting Townsquare comments"
It would prudent , I believe, to confirm deletion of a Townsquare comment before going through with the event.

### Current Behavior
A comment is deleted immediately

### Expected Behavior
A confirmation should be shown.

Furthermore, it may also be wise to later on give the user the choice of how to handle comment deletion. Would they like to have a confirmation shown? Or would they like the dele

[2020-02-26 19:37] walidmujahid commented on #6084
I will be making a PR for this.

[2020-02-26 19:58] walidmujahid opened #6085 "Duplicate Activity Comments: Initial fix was incomplete"
The fix introduced in PR https://github.com/gitcoinco/web/pull/6008 is incomplete.

The issue of duplicate comments, as intially described in https://github.com/gitcoinco/web/issues/6007 still exists for the `.post_comment`  button itself.

This can be fixed by diasbling `.post_comment` button for every call of `post_comment` function.

[2020-02-26 20:04] Artistic18 commented on #6011
Well it wont take long time, I have some problems now so I can't start before Sunday. I would need like  less than 48 hours to complete it. But only beginning from Sunday.

[2020-02-26 20:30] walidmujahid commented on #6046
Having looked at the button's HTML recently, I am left wondering why the button is a link and not an actual button 🤔

[2020-02-26 21:46] TheDataDesigner commented on #5893
Here's an updated version of my characters with all the variations included. Added some background options as well, per your request. If this looks good to you, I'd be ready to throw it in a PR.

[gitcoin characters.svg.zip](https://github.com/gitcoinco/web/files/4258330/gitcoin.characters.svg.zip)

@owocki Perhaps this is just user error, but I can't find the "Start Work" button anywhere on the G

[2020-02-26 23:15] frankchen07 opened #6087 "Hackathon Embedded Registration Flow"
### User Story

As a Gitcoin admin, I want an embedded survey for each Gitcoin hackathon so I know the motivations of each hacker

### Why Is this Needed

In previous hackathons, we employed post and even pre hack surveys asking several open-ended questions. Response rates would usually be <50% and the surveys were too open-ended, prolonging the user experience.

### Description

During hackathon

[2020-02-26 23:19] writeprovidence commented on #5893
@owocki  my SVG . please take a look
[avatar.zip](https://github.com/gitcoinco/web/files/4258672/avatar.zip)

[2020-02-27 02:39] sounak98 commented on #6046
@walidmujahid in HTML links can be styled as buttons. This is commonly done because buttons don't have the href attribute.

[2020-02-27 11:04] acolytec3 commented on #5314
Sorry for slow response. It just happened again with an invite I got. I had the dev tools open on Brave and didn't see any obvious errors but I'm getting the same 404 on Brave desktop/mobile and Chrome on Android.  So, not sure I have an instinct on what the issue is exactly. Am I the only one who's reported it? Bounty invites always generate a 404 for me.

[2020-02-27 11:48] walidmujahid commented on #6046
Is it needed in this case @sounak98 ?

[2020-02-27 16:22] theCydonian commented on #5893
[avatar-01.svg.zip](https://github.com/gitcoinco/web/files/4262669/avatar-01.svg.zip)
@owocki I made one final tweak, but this should be good for a final submission.

[2020-02-27 21:33] developerfred commented on #6013
Hi @gitcoinbot I am still working!

[2020-02-27 22:52] owocki commented on #5893
@simonweniger the burning man one is cool but the SC2 player in me LOVEs the protoss!

[2020-02-27 22:55] owocki commented on #5893
testing all of these now.. notes soon

[2020-02-27 23:00] theCydonian commented on #5893
@owocki thanks. If there still are any issues, I can likely address them within 2 hours of you pointing it out.

[2020-02-27 23:19] frankchen07 commented on #6011
Hi @artistic18 - sounds good. Please submit a workplan ASAP, looking forward to seeing your work. Ask any questions you'd like as well and I'll be responsive if you need feedback!

I'd also like to make the note that I understand that you've communicated that you won't be able to start on this until Sunday, but we do encourage that our contributors only start work when they're able to actually sta

[2020-02-27 23:30] owocki commented on #5893
notes below

jedi.svgz
whats an svgz?  can u deliver as an svg?
DOM looks mostly good
could we add 2-3 clothing options, facial expressions?

orc.svg
looks good DOMwise
could we add 2-3 facial expressions, beards backgrounds, and maybe a body?
some hidden

Orc-01
These are all bitmaps not vector files, is that by design?  the system seems to be choking on the svg bc its so big (presumably bc its b

[2020-02-28 00:03] owocki commented on #5893
@TheDataDesigner i just set the bounty type to Cooperative so you should be able to start work now.

btw your avatar is behind a staff only on prod now :) nice work => https://gitcoin.co/onboard/profile?steps=avatar&theme=comic

do u have any more items ud like to integrate?

[2020-02-28 00:04] theCydonian commented on #5893
@owocki you said my latest avatar is good. How does this work with the bounty?

[2020-02-28 00:06] owocki commented on #5893
@theCydonian which avatar-01 ? im haviing a little bit of a hard time integrating it in the avatar builder.. will let u know if any changes are needed

[2020-02-28 00:09] theCydonian commented on #5893
The lastest is avatar-01.svg. What problems are you having? I can make fixes fairly quickly so you wont have to wait until tomorrow for a final version.

[2020-02-28 00:35] owocki commented on #5893
@theCydonian your export is 1000x1000; needs to be 350x350

also - having some trouble with the coloring of the items; screenshot => https://bits.owocki.com/Qwu7lWpo -- if u can export it straight from illustrator with explicit fill colors in the svg i think that'll really help

[2020-02-28 00:47] theCydonian commented on #5893
@owocki give me 30 minutes and I’ll fix it

[2020-02-28 00:55] owocki commented on #5893
can you make it in your export so that all of the accessory_ body_ features are only one layer deep in the DOM @theCydonian ?

[2020-02-28 01:31] theCydonian commented on #5893
@owocki do you know how I should fix the colors? I resized, but I'm not sure about the colors.

[2020-02-28 02:08] theCydonian commented on #5893
@owocki this should be good size and dom wise. Let me know if it works. Here is my ETH address if it works: 0x513407d8aa17dD03BA1d35F045ba80B05bBB98a1

[avatar-01.svg.zip](https://github.com/gitcoinco/web/files/4264962/avatar-01.svg.zip)

[2020-02-28 02:12] santteegt opened #6090 "Address isn't 100% private"
**Describe the bug**

Even if a user set the `Hide my wallet address` option to `true` under the profile privacy settings, the address can be easily unveiled through a GET request

**To Reproduce**

You can get any user ETH address by doing a GET request to `https://gitcoin.co/tip/address/<user>`

**Expected behavior**

Remove the `/tip/address/<user>` endpoint and change the logic for sending tip

[2020-02-28 05:40] calchulus opened #6092 "Hover over black box on tips + matching glitches on townsquare"
**Describe the bug**

I think it's b/c the box goes over the text box to post, and they are clashing, so it keeps closing it, but the hover logic opens it repeatedly each time b/c the mouse is still over the black box.

**To Reproduce**

just hover over the first one

**Expected behavior**

the tooltip should display
**Screenshots**

**Desktop (please complete the following information):**
mac
- O

[2020-02-28 05:43] calchulus opened #6093 "Negative bonuses on the matching bonuses tooltip"
**Describe the bug**

**To Reproduce**

**Expected behavior**

We should remove what happens if a user doesn't tip (just no amount 0 at all)
**Screenshots**

![image](https://user-images.githubusercontent.com/16035653/75513573-36a5ff80-5a30-11ea-9e03-c88c78e3ed87.png)

[2020-02-28 06:06] nasehim7 commented on #5893
@owocki Each layer is a png(bitmap) but the final export is a svg. I just checked the size of the image is nearly 40 MB, there are two ways to tackle:
1. I can run a svg optimizer on this and cut it down
2. Turn each layer to svg

What do you think should I try out?

[2020-02-28 07:45] KushMd commented on #5893
ORC(updated)           https://drive.google.com/open?id=1AKXI-mUcl_8zS3vloEB-qJcl6g34NG5a
JOKER(updated)        https://drive.google.com/open?id=1scizJf35ukObonTeVTC8BxiRw73cl2Cm

Working on jedi

[2020-02-28 11:07] KushMd commented on #5893
JEDI(updated)  https://drive.google.com/open?id=1h3yv1FFRcr9OeRxbD3uiIvNVaQys_oFu

[2020-02-28 11:19] PixelantDesign opened #6095 "As a funder/contributor I'd like to know who I'm following and who is following me on the Gitcoin platform."
### User Story

## As a funder/contributor I'd like to know who I'm following and who is following me on the Gitcoin platform.

### Why Is this Needed

On profile, a follower count is displayed but does not say who. It also doesn't show me who I'm following. _This is a front end and backend ticket._

### Description
*Type*: Feature

### Current Behavior
## Follower count is displayed but does not

[2020-02-28 14:10] zoek1 commented on #6053
Yep,  the moment.js library is missing. Today I'll submit a patch to solve this 🙂

[2020-02-28 14:14] developerfred commented on #6013
<img width="909" alt="Captura de Tela 2020-02-28 às 10 59 44" src="https://user-images.githubusercontent.com/57037080/75555676-6f87a980-5a1b-11ea-9030-e641dcaac7a5.png">

[2020-02-28 14:18] PixelantDesign commented on #6093
hmm good point! Thanks for bringing this up!

[2020-02-28 14:23] PixelantDesign commented on #6092
Do you have a screenshot?

[2020-02-28 14:31] zoek1 commented on #6095
In case the assigned user couldn't start this task, I'll happy to work on this. I think I could finish this weekend

[2020-02-28 14:49] kuhnchris commented on #5991
Was the fix sufficient? If yes please close. Thanks

[2020-02-28 14:50] developerfred commented on #6093
Hi @PixelantDesign, has this activity already been done?
<img width="480" alt="Captura de Tela 2020-02-28 às 11 48 59" src="https://user-images.githubusercontent.com/57037080/75558397-8977bb00-5a20-11ea-9b68-c06808d8f0d1.png">

[2020-02-28 14:51] kuhnchris commented on #5996
@owocki @octavioamu was this fixed with the deployment?

[2020-02-28 14:54] kuhnchris commented on #6004
@vs77bb @thelostone-mc  did you check the PR already?

[2020-02-28 14:58] ekram-syed commented on #5996
I believe it is. Should I close it or is there any process involved?

[2020-02-28 15:14] owocki commented on #5893
@nasehim7 i'd prefer each layer was an svg

[2020-02-28 15:18] owocki commented on #5893
@theCydonian it works! thanks

[2020-02-28 15:20] owocki commented on #5893
closing this bounty for new entrants. only accepting people were already working with now

[2020-02-28 15:20] kuhnchris commented on #5996
no, if it is solved you can close it, thanks. :-)

[2020-02-28 15:28] developerfred commented on #6090
add me on this issue?

[2020-02-28 15:29] ekram-syed commented on #5996
Issue fixed, thanks all contributors.

[2020-02-28 15:29] #5996 closed

[2020-02-28 15:32] TheDataDesigner commented on #5893
@owocki Wow, it's exciting seeing this functional! Seeing how backgrounds are done, I'd like to revise mine a bit. I left them grey because I incorrectly assumed the background color was editable. I'll take some time to create some more interesting background options and then submit the updated svg as a PR request.

[2020-02-28 15:33] owocki commented on #5893
@TheDataDesigner go for it!  you can play with it on gitcoin live to see how it works + iterate from there.   here is the svg thats in prod if u wanna crank from there https://bits.owocki.com/KouWBdBw

[2020-02-28 15:38] TheDataDesigner commented on #5893
@owocki Yeah I'm playing around with it and noticed a few things I need to fix. Do I have any control over which components are set as the default and the order in which each category/option is sorted?

To answer your other question, I don't have any more components ready right now, but if there is a process where I could continually create new options and submit pull requests in the future, I'll

[2020-02-28 15:42] owocki commented on #5893
the avatar bulider just makes the first element in the DOM default

[2020-02-28 15:55] danlipert commented on #6095
@jschiarizzi @PixelantDesign for this to have good performance we'll want to make sure to have pagination via a show more button at the bottom of the list, or infinite scroll. Also, would be nice to have a search bar that filters the results as you type so that you can look up a specific user

[2020-02-28 15:57] walidmujahid commented on #6090
Who is working on this?

[2020-02-28 16:11] kuhnchris commented on #6022
Maybe connected to #6005 ?

[2020-02-28 16:15] theCydonian commented on #5893
@owocki how will payment work?

[2020-02-28 16:17] kuhnchris commented on #6043
Please use the template for reporting bugs - what browser, what OS, etc.

Thanks.

[2020-02-28 16:24] developerfred commented on #6063
Hi! @coolcryptomaniac, can you send a print screen?

[2020-02-28 16:26] developerfred commented on #6090
@walidmujahid I am, but I haven't been approved yet

[2020-02-28 16:26] walidmujahid commented on #6090
Okay.

[2020-02-28 16:26] owocki commented on #5893
submit work on gitcoin then ill pay u

[2020-02-28 16:31] owocki commented on #5996
@kuhnchris two things

1. you could have tested this yourself instead of asking me.
2. please stop assigning/tagging me on github issues. youre just creating noise.  i dont mean to be harsh, but we do need to change course - the community needs to be able to solve little things like this without my involvement.

[2020-02-28 16:33] TheDataDesigner commented on #5893
@owocki It may have inverted mine on export then, everything is opposite. I'll try reversing the order in my next version and see if that has the desired effect.

[2020-02-28 16:37] walidmujahid commented on #6005
I will add this to my list. Updating my work plan:

 After asking about it in Townsquare, posting micro-tips as comments has their advantages. I suppose redesigning that would be irrelevant to this issue any way.

I will focus on closing issue by making sure the comment is posted only if confirmed.

[2020-02-28 16:39] theCydonian commented on #5893
@owocki I exxpressed interest on the bounty. can you approve so I can submit

[2020-02-28 16:43] owocki commented on #5893
new avatar builder is lookin DOPEEEEE AF

<img width="845" alt="Screen Shot 2020-02-28 at 9 42 43 AM" src="https://user-images.githubusercontent.com/513929/75567396-b28f5000-5a0e-11ea-83d9-5be786ddb435.png">

[2020-02-28 16:44] owocki commented on #5893
just approved everyone whos currently working!

[2020-02-28 16:45] owocki commented on #5893
@KushMd before u put much more work in... i may need to put a limit on payouts per person.. i wasnt expecting 3 of these for you. maybe we can meet in the middle here?  contact me on chat to discuss?

[2020-02-28 16:46] owocki commented on #5893
does anyone have an artist bio they want me to put on their work? @ me with it and ill make sure it makes it on the avatar builder

[2020-02-28 16:48] theCydonian commented on #5893
@owocki I submitted to gitcoin!

[2020-02-28 17:03] owocki commented on #5893
@theCydonian thanks - will pay u out soon.

one request from peter pan (metacartel leader) is that itd be great if we could have female chillis

[2020-02-28 17:04] owocki commented on #5893
does anyone on the thread want to cretea a moloch avatar? u can use this as a base https://bits.owocki.com/4gumjZPp

some things we'd love to add to it
Ameen, [Feb 28, 2020 at 10:02:43 AM]:
Blood

Fire

Tribute

Or like

Being a hero

Getting a cat out of a tree

Helping grandma with groceries

Cleaning litter

[2020-02-28 17:12] theCydonian commented on #5893
@owocki how exactly would you imply chilli gender?

[2020-02-28 17:28] owocki commented on #5893
maybe some feminine accesssories would help too..

[2020-02-28 17:30] theCydonian commented on #5893
I mean, without the stache, it is kinda feminine.

what do you mean by feminine accessories though?

![Screen Shot 2020-02-28 at 09 29 25](https://user-images.githubusercontent.com/31706764/75570828-d487d300-5a0c-11ea-9916-312c95794e97.png)

[2020-02-28 17:37] theCydonian commented on #5893
@owocki maybe a hat like this:

![FS-2017-Autumn-Winter-Women-French-Wool-Felt-Beret-Hat-Flat-Cap-Female-Caps-Chapeu-Feminino](https://user-images.githubusercontent.com/31706764/75571396-f6ce2080-5a0d-11ea-84ba-071eec398042.jpg)

[2020-02-28 17:55] jan-miksik commented on #5298
Extra points for completion the quest, is that ok?
![gitcoinQuests](https://user-images.githubusercontent.com/37242431/75572677-864df080-5a5b-11ea-949a-de545b6a8a55.png)

[2020-02-28 18:27] theCydonian commented on #5893
@owocki I made it feminine

![Screen Shot 2020-02-28 at 10 27 15](https://user-images.githubusercontent.com/31706764/75575822-e7060a80-5a14-11ea-9854-febf69f7f416.png)

[2020-02-28 19:09] KiChjang commented on #6090
@PixelantDesign Why was I approved and subsequently removed? Did you accidentally approved the wrong worker?

[2020-02-28 19:12] PixelantDesign opened #6098 "As a funder when I change my mind about who should work on my bounty and click stop work on a contributor. Their application information should not dissapear from the activity."
### User Story
As a funder when I change my mind about who should work on my bounty and click stop work on a contributor. Their application information should not dissapear from the activity.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Applicati

[2020-02-28 19:13] theCydonian commented on #5893
![Screen Shot 2020-02-28 at 11 11 20](https://user-images.githubusercontent.com/31706764/75579598-0ef86c80-5a1b-11ea-8cb2-4e824376b441.png)

@owocki here is my аттempt at making it female. I put it in the dropbox folder I submitted. When will you be sending the ETH?

[2020-02-28 19:14] owocki commented on #5893
that seems in the right direction!

[2020-02-28 19:14] owocki commented on #5893
anyone else have any stuff they wanna put in?!?! we'll probalby annou8nce this early next week

[2020-02-28 19:15] theCydonian commented on #5893
awesome! I can't wait to customize my avatar.

[2020-02-28 19:23] developerfred commented on #6090
@PixelantDesign Thanks!

[2020-02-28 19:45] frankchen07 commented on #6090
frank from gitcoin here - just as a note for next time.

While we understand that the workplan that we ask you to write can seem potentially long and daunting, we're not asking for a crazy paragraph, but we do wish for more than commenting how long it would take and the depth of difficulty the task is for you.

We'd like you to show us the broad steps that you would take to understand and complete

[2020-02-28 19:46] frankchen07 opened #6099 "Tribes Email Funnel / Content"
### User Story

Tribes Email Funnel / Content

### Why Is this Needed

When we release tribes, we'll want an email sales funnel that not only introduces useful content, but is persuasive and brings both funders and contributors onboard to the positioning of Tribes.

### Description

I was thinking we can have separate email funnels & content for funders and contributors.

**Funders**

1. email not

[2020-02-28 19:47] theCydonian commented on #5893
@owocki, wait so is the girl avatar good?

[2020-02-28 19:49] PixelantDesign commented on #6060
Thanks for bringing this up! I just funded the issue here https://gitcoin.co/issue/gitcoinco/web/6095/4067

[2020-02-28 19:51] PixelantDesign commented on #6055
I had this problem too! Thanks for the report.

[2020-02-28 19:52] androolloyd commented on #6057
Check your shield settings you likely have cookies blocked.

Chat needs access to cookies to maintain a session.

[2020-02-28 19:54] PixelantDesign commented on #6069
hmm maybe this is fixed. I can only like once.

[2020-02-28 19:56] molecula451 commented on #6069
@PixelantDesign try likes in "My Profile" Section

[2020-02-28 20:27] ekram-syed commented on #6055
This issue no longer visible in the latest release. I've tested it. thanks to all contributors.

[2020-02-28 20:27] #6055 closed

[2020-02-28 22:06] hamzaghz commented on #6005
we had a discussion about this.
https://imgur.com/WpU5tdd

[2020-02-28 22:09] developerfred commented on #6090
@frankchen07 thanks for feedback, what i'm doing on this issue is a simple modification to preserve the user's wallet.

[2020-02-28 22:14] nasehim7 commented on #5893
@owocki Hi Kevin, I have updated the SVG with each layer being a SVG. Hope this works well this time

Mage: https://drive.google.com/file/d/1xXGnkjc_Rl-xP-TmEivotylj_aaKKrwE/view?usp=sharing
Orc: https://drive.google.com/file/d/1npMrY32QGtHXG6apmJ_XLZ-reVsH69-Y/view?usp=sharing

Also, I can sketch out Moloch if you want

[2020-02-28 22:27] nasehim7 commented on #5893
At the moment, I only have an [instagram page](https://www.instagram.com/animesh.tewari/) where I constantly keep putting my artworks if that sounds something of interest :D

[2020-02-28 22:31] webarh opened #6100 "Fail transaction"
Looks like I won’t get this award, what's the problem?
https://etherscan.io/tx/0x675585f5948e8ac813cdb6c9dd0d37dc65a67efd4e0726bfa6c694580f68e53e

[2020-02-28 22:57] walidmujahid commented on #6005
Thank you for sharing hamzaghz

[2020-02-28 23:04] Popeline5 commented on #5893
I finished !

[2020-02-28 23:15] walidmujahid commented on #6005
After looking at the code, I think the best way to approach this is simply to:

- return null if MetaMask RPC Error 4001 is caught, otherwise the call to `send_tip_to_object` goes through as normal
- add a 'pending' tag to the "Just sent tip for" comment on the front end and change to 'confirm' once background process goes through or is confirmed on blockchain.
    - alternatively, if it is confir

[2020-02-28 23:16] Popeline5 commented on #5893
I finished !
[popeline5-jedi.svg.zip](https://github.com/gitcoinco/web/files/4269530/popeline5-jedi.svg.zip)

[2020-02-28 23:41] walidmujahid commented on #6005
After looking at the code, I think the way to approach this is probably to:

- catch MetaMask RPC Error 4001 before the tip is saved
- add a 'pending' tag to the "Just sent tip for" comment on the front end and change to 'confirm' once background process goes through or is confirmed on blockchain.
    - alternatively, if it is confirmed, we can simply remove the 'pending' tag and if it failed, we

[2020-02-29 00:31] walidmujahid commented on #6005
**Update:**

I suppose I had been squinting at the code instead of looking at it. Handling MetaMask RPC Error 4001 _before_ a tip is saved is not a good idea.

I could try to update the API so that the "Just sent a tip of" comment is either not created optimistically or simply deleting it on some condition -like a 4001 error.

Alternativly, I could simply do the 'tagging' idea from my previous pos

[2020-02-29 00:47] theCydonian commented on #5893
@owocki Would you mind answering a couple questions?
What will the timeframe be for the payment? I don't want to be a pest, but I'm trying to make an investment and the timeframe is a bit small, so I was just curious when I would have the ETH.
Also, do you want me to add anything else?  I'd be happy to add anything you want me to even after you pay me. This has been a really fun project, and it ha

[2020-02-29 00:56] zoek1 commented on #5885
Can i help on something? @owocki @x5engine

[2020-02-29 01:27] developerfred commented on #6011
**My work plan for issue:**

- [ ]   📌 - TownSquare comments, show trends for location (IPV6) and button show all messages redirect to townsquare board.

- [ ]  📌 - Copilation the best nano tips and bountys for 48h

- [ ] 📌 - # 5943

[2020-02-29 08:45] sebastiantf commented on #6098
@PixelantDesign,

The **`Work Plan`** submitted by a worker is stored in the `interested` array with the key `issue_message` as can be seen in the results of an API fetch of the bounty details:

[https://gitcoin.co/api/v0.1/bounties/?github_url=https://github.com/gitcoinco/web/issues/6090&not_current=1](https://gitcoin.co/api/v0.1/bounties/?github_url=https://github.com/gitcoinco/web/issues/6090&n

[2020-02-29 08:48] KiChjang commented on #6090
@frankchen07 Was that supposed to be a reply as to why I was removed? Because I actually left a work plan disagreeing with the approach of removing a backend API.

[2020-02-29 10:10] oussema commented on #6053
I'm not sure that the problem was fixed

[2020-02-29 10:10] loganbek opened #6101 "Double Tip Notification"
**Describe the bug**

Receiving received tip notification twice

**To Reproduce**

Receive tip.

**Expected behavior**

Should get 1 notification.

**Screenshots**

<img width="432" alt="Screen Shot 2020-02-29 at 2 07 59 AM" src="https://user-images.githubusercontent.com/9355004/75605509-5709a480-5a98-11ea-9ed7-5cf4b4e1eab6.png">

**Desktop (please complete the following information):**

- OS: Mac

[2020-02-29 12:33] #6015 closed

[2020-02-29 17:27] jschiarizzi commented on #6095
thanks for the input, @danlipert. search is probably not in this scope, but I was thinking infinite scroll after 50 users at time? not many people have much more than that for followers at the moment.

[2020-02-29 17:58] owocki commented on #5893
@theCydonian happy to pay out next week. am verifying your submission now  (  edit: looks good)

@nasehim7 both of your svgs just have bitmaps (not vector) in the DOM .... did u upload the wrong files?  heres what i see in sketch https://bits.owocki.com/9ZuAXvvB

@Popeline5 your jedi looks good - will be pushed to prod over the weekend

@writeprovidence  the artwork looks cool visually pls ensure

[2020-02-29 18:44] nasehim7 commented on #5893
@owock Kevin I sketched everything in PNG in procreate then using Illustrator I changed each part of the sketch to SVG. After that, I assembled each SVG to make each of the characters
Is it causing any issue in the avatar builder?

[2020-02-29 19:18] theCydonian commented on #5893
@owocki sounds good! Thanks! Can’t wait to see it on the website

[2020-02-29 19:32] arun0930 commented on #6048
0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f

[2020-02-29 19:33] arun0930 opened #6102 "0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-02-29 21:20] developerfred commented on #6102
@arun0930 ?

[2020-02-29 21:41] developerfred commented on #6048
Hi @octavioamu  @arun0930 is a spammer

[2020-02-29 22:40] owocki commented on #5893
@nasehim7 it loads into the avatar builder but these are the problems:

- bc the bitjmaps are big, its about 4MB per download, and user has to download a new avatar everytime they click a new permutation (we also have to load each permutation several times as they click around)
- we can't filter out the outfit colors / skin color without the vector parts
- (this is unrelated to the vector vs not)

[2020-02-29 23:01] arun0930 commented on #6048
ETH

[2020-02-29 23:05] arun0930 commented on #6048
How can i get it

[2020-03-01 00:03] loganbek commented on #6048
I think https://gitcoin.co/faucet, although I would encourage you to look
around in other places. There are plenty of ways to get ETH. Have you
checked out https://gitcoin.co/products?

On Sat, Feb 29, 2020 at 3:05 PM arun0930 <notifications@github.com> wrote:

--
Logan Bek
LinkedIn <http://www.linkedin.com/in/loganbek>
(510) 367-7159
loganbek@gmail.com

[2020-03-01 02:53] nasehim7 commented on #5893
@owocki The elements were inside the background when I tested. Something is fishy, I will have to check. Sure I will create a new version, this time will use sketch to create for consistency. Posting it out soon :)

[2020-03-01 03:35] owocki commented on #5893
one idea: if you can't find a way to make them into vector assets.. then maybe exporting the bitmaps into the svg at 350px x 350px will be a good way to keep filesize way down.  right now the files are 9MB, if we can cut that by a factor of 10 i think the performance issues will go away

[2020-03-01 04:32] nasehim7 commented on #5893
Thanks Kevin for the suggestion. I will try it out and lets see how it goes :)

[2020-03-01 06:35] developerfred commented on #6053
Hi @oussema the problem still persists.
<img width="1200" alt="Captura de Tela 2020-02-29 às 18 44 55" src="https://user-images.githubusercontent.com/57037080/75615545-ba8ce400-5b23-11ea-83eb-35ff1fdd27d4.png">

[2020-03-01 07:57] theCydonian commented on #5893
@owocki The new avatars are looking pretty sweet on the website! I noticed my pepper is a bit weirdly centered when put in the circle. I'll try to add a new patch tomorrow to fix this.

I have a question regarding this fix though. Is the circle crop just a simple circle incribed in the 350x350 square, or is there a margin. I want to be able to visualize this fix while I'm working on it so I do it

[2020-03-01 14:45] nasehim7 commented on #5893
@owocki Hi Kevin, I tried to change it. Can you test this and see if it works properly:
Mage: https://drive.google.com/file/d/1QhAXylmrWAQZZtSSd7kS3mrPbJR1owAd/view?usp=sharing

I tried cutting it down to 2.3 MB
I used Sketch to export my PNGs to SVG like this:

![image](https://user-images.githubusercontent.com/18035782/75627727-c72f3c00-5bf8-11ea-840b-85835c98772b.png)

Then stacked it up in the

[2020-03-01 16:23] KushMd commented on #5893
@owocki  left some messages on the chat.....

[2020-03-01 17:36] owocki commented on #5893
@theCydonian will do  (i dontthink theres any margin on there no)

@nasehim7 trying that now

@KushMd i have like 200 unread messages on chat rn bc i was on leave. can u just comment here?

[2020-03-01 17:47] owocki commented on #5893
@nasehim7 i got it to work by putting all the images in the bitmap into groups + cropping out the 'mage' element.  here is the edited svg https://bits.owocki.com/04uKq0jv

can u make those edits to the protoss/orc too and post those?

btw do u have a bio u want me to put by ur image?

[2020-03-01 18:22] nasehim7 commented on #5893
@owocki Thanks Kevin for helping me out. I have a question, in the updated SVG the elements like facial hair and accessories are a bit misaligned. Is it coming okay in the builder?
Example this is how the SVG looks:
![image](https://user-images.githubusercontent.com/18035782/75631287-885cae80-5c17-11ea-8e35-6aa66131d026.png)

Ideal Case:
![image](https://user-images.githubusercontent.com/18035782/

[2020-03-01 18:58] theCydonian commented on #5893
@owocki I fixed the centering and put in the folder I submitted as patch 7.

[2020-03-01 19:26] nasehim7 commented on #5893
@owocki Kevin, Orc as well is done. Here it is:

Orc: https://drive.google.com/file/d/1sqNFhhITFi2WoF_kVKcJkppbJVuEv7dX/view?usp=sharing

You can assess this and put out the feedbacks. I will work accordingly. :)

[2020-03-01 19:27] KushMd commented on #5893
@owocki  noted these changes in avatar builder..

JEDI  ( clothes(black texture on all of them) ,hands were supposed to be above accessories in dom structure)
![jedi2](https://user-images.githubusercontent.com/60012090/75632199-d70e4680-5c1f-11ea-800b-d552a61a81af.PNG)
![jedi1](https://user-images.githubusercontent.com/60012090/75632201-dd042780-5c1f-11ea-90c7-55378522ed0c.PNG)

ORC(accessory,hair

[2020-03-01 19:28] KushMd commented on #5893
ORC (facial also)

[2020-03-01 19:58] arun0930 commented on #6102
0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f

[2020-03-01 19:59] arun0930 opened #6105 "0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f"
0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

###

[2020-03-01 19:59] arun0930 commented on #6105
0x7F4B0fc7c8BD0fe9e472B9F66e89EEC1BE52089f

[2020-03-01 20:14] arun0930 commented on #6105
Yes

ในวันที่ จ. 2 มี.ค. 2020 02:59 น. arun0930 <notifications@github.com>
เขียนว่า:

[2020-03-01 20:55] owocki commented on #5893
@KushMd should i just remove the ability to edit hair color on the orc?  just give me an updated svg and i can put it in there.  heres the most recent jedi.svg i have in the codebase https://bits.owocki.com/nOuNkWbx

@nasehim7 i just loaded the mage/orc in and make the fix to the mage.  do u have an updated protoss svg too?

[2020-03-01 21:12] owocki commented on #5893
just pushed my latest live => https://gitcoin.co/onboard/profile?steps=avatar&theme=square_bot

[2020-03-01 21:22] theCydonian commented on #5893
@owocki, I think my name is actually supposed to be lowercase where you credit me because im getting a 404

[2020-03-01 23:41] tjayrush opened #6106 "Should addresses tied to two more more grants be noted?"
### Discussion

I've been reviewing the earlier rounds of grants as part of the testing for my work, and I've noticed something interesting. Of the 150-200 grants in round 4 of the CLR, at least 10-12 are for addresses that appear as the recipient of two or more grants.

I'm 100% not casting dispersions on anyone, I think whoever set these grants up had two legitimate projects, but as a donor to m

[2020-03-02 00:01] TheDataDesigner commented on #5893
Here's an updated version with the coloring issues fixed. I noticed there is now an option to change the background color, so I left that as is.

[gitcoin cartoon avatar.svg.zip](https://github.com/gitcoinco/web/files/4272800/gitcoin.cartoon.avatar.svg.zip)

Do I still need to submit a PR to complete the bounty? It looks like the directory linked in the instructions has the avatar broken out into

[2020-03-02 01:19] owocki commented on #5893
nah no PR needed. but submit work and leave the PR link empty

[2020-03-02 01:21] owocki commented on #5893
updated everyones stuff on stable branch. will deploy and start tweting about it tomorrow.

im ready to payout (i have the 25 ETH ready).. but i just want to know how many people are going to be submitting avatars before i do (from the spec: The prize for a getting a full avatar file on the site will be 5 ETH. I will fund up to 5 of these in Q1 2020. ).  if there are more submissions than 5 then i

[2020-03-02 04:03] thelostone-mc commented on #6093
Good for payout ^_^

[2020-03-02 04:03] #6093 closed

[2020-03-02 04:06] #6085 closed

[2020-03-02 05:44] frankchen07 commented on #6090
@KiChjang - hmm I didn't remove you...

@PixelantDesign, did you?

[2020-03-02 06:44] ekram-syed commented on #6101
verified using chrome (Version 80.0.3987.122 (Official Build) (64-bit) on windows. for each tip, we are getting duplicate notification.

[2020-03-02 07:41] KushMd commented on #5893
@owocki  ORC(updated)   : https://drive.google.com/open?id=1AKXI-mUcl_8zS3vloEB-qJcl6g34NG5a
                 JEDI(updated) :   https://drive.google.com/open?id=1h3yv1FFRcr9OeRxbD3uiIvNVaQys_oFu
    If something could be done for hair color perfect, otherwise remove it.

[2020-03-02 08:50] zoek1 commented on #6018
Hi @alexvotofuture, I'm working on change models before start the front. I have a couple of questions:
1. The Ui should be at the Django admin panel or should be implemented as new pages that only admins can access? There's another option but i disregard it because it will be difficult to manage. Such options consists implements the assign kudos at the current hackathon page, the difference is the

[2020-03-02 10:45] #6105 closed

[2020-03-02 10:45] #6102 closed

[2020-03-02 14:49] PixelantDesign commented on #6090
hey @KiChjang my bad. Are you still interested in working on it? @danlipert what do you think of the approaches?

[2020-03-02 14:50] PixelantDesign commented on #6093
Thanks @developerfred !

[2020-03-02 15:00] PixelantDesign commented on #6098
Thanks @sebastiantf

On the interface it would be great if it was shown that the worker has been approved....and the workplan still displays in the activity where the contributor orginially applied.

Looking forward to seeing a PR!

[2020-03-02 15:01] PixelantDesign commented on #6095
Sounds good @jschiarizzi! Looking forward to seeing a PR!

[2020-03-02 15:03] PixelantDesign commented on #6069
Just tried it in the profile, didn't have any issues with more than one <3

[2020-03-02 15:42] jschiarizzi commented on #6095
Monday update: went to west virginia to drink moonshine instead of work on this over the weekend. Will have a better update by tomorrow night.

[2020-03-02 15:58] nasehim7 commented on #5893
@owocki Hi Kevin, here is the updated link for Mage:
https://drive.google.com/file/d/1QfbqyZSJy7M67ODxbRD_VkEViU5i30K-/view?usp=sharing

Also, you can checkout protoss here:
https://drive.google.com/open?id=1eliPk-AWOG9G-779ID5kZ9uuthqZUNfB

Let me know your take on these and we will take it forward from there :)

[2020-03-02 16:29] owocki commented on #5893
thanks yall.

im going to start tweeting about these avatars very soon.  will payout as soon as i know the final submission numbers... def this week

[2020-03-02 16:59] walidmujahid commented on #6005
I will make a WIP PR later today for the MetaMask issue and upload a demo video for community input. I am just going to go with a combination of my ideas -update API and signals to delete comment on a 4001 error, then add just a 'pending' tag while keep the optimistic nature of the UX- then I will see what people think.

[2020-03-02 17:04] sebastiantf commented on #6098
@PixelantDesign I think implementing a solution for this issue would require consulting the maintainers/core members of the gitcoin/web repo.

For a solution for this issue, we'll have to find a way of keeping a copy of the `issue_message` (Work Plan) submitted by the worker even when he/she is removed from the bounty.

One way of implementing the solution is:

Add another boolean field to the Int

[2020-03-02 17:49] octavioamu commented on #6098
@sebastiantf sorry I didn't know this was bountied, good you noticed the needed change of rules, there is an ongoing discussion about this here https://github.com/gitcoinco/web/issues/5102
not sure if @danlipert or @thelostone-mc already started something related to this, but if not maybe we can discuss and get to an agreement of the best way to solve it.

[2020-03-02 18:01] octavioamu commented on #5102
Pasting here the original issue since some stuff related to the removal of the interest was deleted

[2020-03-02 18:16] owocki commented on #6011
pretty pumped for this .. @developerfred can we get a WIP PR this week?

[2020-03-02 18:40] vporton opened #6109 "`docker-compose up --build` fails with an error"
**Describe the bug**

Error building Docker:

[code]

**To Reproduce**

Download the latest master and run `docker-compose up --build`.

**Desktop (please complete the following information):**

- OS: Ubuntu 19.10

[2020-03-02 18:43] sebastiantf commented on #6098
Of course @octavioamu. We shall all discuss and reach an agreement about how we should proceed.

Happy to support.

[2020-03-02 18:54] vporton opened #6110 "Mint our own token on matching, in addition to ETH"
### User Story

As a contributor I want the following feature, to get more ETH.

Create an ERC-20 token SOFT.

When GitCoin does CLR (both grants CLR and Mini CLR), mint to the user considered the amount of SOFT tokens numerically equal to the summary value of contributions to the user and GitCoin's matching.

### Why Is this Needed

The philosophy is simple: We are giving not enough ETH to users

[2020-03-02 18:57] KiChjang commented on #6090
I commented that I disagreed with the approach as stated in the issue, because removing an API endpoint may cause some frontend code, test or services to misbehave. It is generally more acceptable to instead deprecate the endpoint and redirect frontend code to a new API endpoint in order to preserve backwards compatibility.

I'm not so affected by being rejected to work on an issue, but I'm more w

[2020-03-02 19:09] owocki commented on #6109
0c5b8fbdf05627045042cbc2315a7aba659deb9f should fix this

On Mon, Mar 2, 2020 at 11:40 AM Victor Porton <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-02 19:17] owocki commented on #5885
removing x5 from bounty now

[2020-03-02 19:18] Popeline5 commented on #5893
@owocki thank you for putting my cartoon Jedi on the avatar builder!

I noticed some errors:
1. the snake doesn’t have eyes anymore
2. the sword doesn’t have strokes anymore around the white reflection
3. the landscape with clouds have white line instead of black lines
4. the dress doesn’t have strokes anymore on chest
5. the black helmet doesn’t have strokes anymore on eyes and mouth
6. when you

[2020-03-02 19:40] ekram-syed opened #6111 "In Activity feeds (User or Global), Kudos links are missing"
In Activity feeds (User, Global), Kudos are rendered like a clickable element (using <a> tag) but the links don't point to the associate Kudos element (empty href value in the source)

**Describe the bug**

The links should point to the associate Kudos pages or render kudus as non-clickable elements on the activity feed.

**To Reproduce**

1. Go activity feed page from top nav or user profile.
2.

[2020-03-02 20:15] developerfred commented on #6111
I will fix this.

[2020-03-02 20:38] owocki commented on #5456
just left some comments here on the work thats been deployed so far https://github.com/gitcoinco/web/pull/5615#issuecomment-593605400

[2020-03-02 20:43] developerfred commented on #6111
@ekram-syed This is very strange the code is correct and is passing the url, I need to investigate further.

[2020-03-02 22:12] molecula451 commented on #6069
@PixelantDesign Just saw another user posting about this same issue

[2020-03-02 22:18] vporton opened #6113 "Feature: Truly social FREE ads"
### User Story

As a developer, I want to show ads for free so that good project become big immeditely without waiting years when they raise (if ever) through other means.

### Why Is this Needed

We have a good project without money. It has no donations/upvotes because its page is not visited. It is not visited because it has no donations/upvotes.

### Description

*Type*: Feature

### Expected B

[2020-03-02 23:12] molecula451 commented on #6098
@octavioamu scrolling through this. I realize this is very close to which we'd require tackling the issue #5618 since you guys are touching about re-modeling the "interest". When a bounty it becomes 'done' and thus it will require feedback for all "Interested" users in this case all the users that applied to the bounty. <code> [unrated_contributed_bounties]</code> it's taking the object parameter

[2020-03-03 00:19] walidmujahid commented on #6109
Can we get this in `master` @owocki?

[2020-03-03 00:27] nebrelbug commented on #5810
@owocki I'm going to have to give up this bounty because it looks like my computer isn't capable of building the website. Best of luck!

[2020-03-03 01:15] frankchen07 commented on #6087
@zoek1 - awesome, when can we expect a WIP PR? :)

[2020-03-03 01:34] theCydonian commented on #5893
@owocki would you mind updating the metacartel avatar to the latest version I put into the folder? Thanks

[2020-03-03 03:22] owocki commented on #5893
sure link me

On Mon, Mar 2, 2020 at 6:34 PM theCydonian <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-03 03:23] owocki commented on #5893
@popeline can you give me an updated svg?  the one in the repo matches the
one you last sent me (unless i missed the latest one) i think..

On Mon, Mar 2, 2020 at 12:18 PM Popeline5 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https

[2020-03-03 03:23] owocki commented on #5810
thx for heads up!

[2020-03-03 03:25] owocki commented on #6109
syure just cherry picked it over and pushed

‪On Mon, Mar 2, 2020 at 5:19 PM ‫Walid Mujahid وليد مجاهد‬‎ <
notifications@github.com> wrote:‬

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-03 03:38] theCydonian commented on #5893
@owocki https://www.dropbox.com/s/32gr1lqeaf9g7i8/avatar_patch_7.svg?dl=0

[2020-03-03 03:43] owocki commented on #6106
i think whats more suspioucuos is if two different *donors* are tied to the same address

both are probably worth noting in the UX tho

[2020-03-03 03:53] walidmujahid commented on #6109
Thank you. This solves this issue on my side, by the way. I am not sure if this closes the issue or not. @vporton ?

[2020-03-03 04:49] owocki commented on #6082
what quest did this happen on?

On Wed, Feb 26, 2020 at 10:25 AM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-03 05:04] owocki commented on #5914
thanks; catching up after parental leave this week. planning on paying out
this week

On Sun, Feb 23, 2020 at 6:35 AM Paul Razvan Berg <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-03 05:08] owocki commented on #6072
that or we actually build the auto payout script.. and make it come from
gitcoinbot

On Mon, Feb 24, 2020 at 1:00 PM Vivek Singh <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-03 05:46] owocki commented on #5865
just paid out

is there no way to detect the user is in brave and only display the message them? it seems really really clunky to get this warning on chrome

[2020-03-03 05:58] zoek1 commented on #6087
Between today or tomorrow @frankchen07 :wink:

[2020-03-03 06:54] ekram-syed commented on #6111
I'll update this when the changes roll out to the live system.

[2020-03-03 07:25] theCydonian commented on #6082
Both the battle on sprawl quest and the ipfs newbie quests. I just tried the ipfs newbie again, and it worked with the same answers, so I’m not sure if this is still a problem.

Sent from my iPhone

[2020-03-03 08:55] ekram-syed opened #6116 "Synchronization issue between "daily new action and bounties email" and the daily action block on Townsquare"
**Describe the bug**

I think there is a synchronization issue between "daily new action and bounties email" and the daily action block on Townsquare. I'm still getting the daily action available link email even when I already participated in that daily action. I'm from a completely opposite timezone, (GMT +6)

**To Reproduce**

1. Participate in the daily action block from Townsquare before getti

[2020-03-03 09:39] xiaods opened #6117 "can't reminder to bounty owner in chrome"
**Describe the bug**

i can't reminder to bounty owner in chrome

**To Reproduce**

![unnamed](https://user-images.githubusercontent.com/37678/75762499-c2dc5d80-5d75-11ea-8766-9b7beb971d36.png)

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:  macos
- Browser: chrome
- Browser Version: 80.0.3987.122

**Smartphone (please complete the followin

[2020-03-03 09:44] vporton commented on #6109
@walidmujahid Yes, solves, closing.

[2020-03-03 09:44] #6109 closed

[2020-03-03 10:24] cervoneluca opened #6118 "inconsistency between notifications on tips and actually received tips"
**Describe the bug**
The notify system tells that I received tips but actually I never received them. Also, there is inconsistency between the "tips" section in my profile system and the notify view.

**To Reproduce**

See the attached screenshot

**Screenshots**
<img width="1675" alt="Schermata 2020-03-03 alle 11 14 51" src="https://user-images.githubusercontent.com/3637606/75766398-61020080-5d41

[2020-03-03 13:57] danlipert commented on #6090
@PixelantDesign @kichjang @frankchen07 @santteegt I'm not sure this is even solvable without removing tip functionality as it stands now - we allow a user to directly send a tip to another user with the data collected on our platform for purposes of CLR matching, showing network activity, improving your profile, etc.. Without having the destination user's ETH address theres no way for the sender t

[2020-03-03 14:47] sebastiantf commented on #5865
Thanks for the payment @owocki.

It seems it isn't possible to detect Brave users using the UA as they've removed Brave-specific strings from it to reduce fingerprinting as specified in this [Changelog](https://github.com/brave/browser-laptop/blob/master/CHANGELOG.md#090)

Also see [#1052](https://github.com/brave/brave-browser/issues/1052)

If any alternative method is found, we shall use that to

[2020-03-03 15:11] owocki commented on #6090
i agree that we can't completely solve this, but i do think we can make incremental steps to not dox our users.  my vote would be to just make the tip address lookup 1:1 (one handle => one address) and then make that endpoint so that it can only be accessed while logged in + put it behind a rate limiter.

[2020-03-03 15:15] owocki commented on #6116
fix for this is pretty simple. if user has already clicked their daily action at thte time of the new bounty email send.. then dont show it in the new bounty email

[2020-03-03 18:16] 7ada opened #6120 "I can't see the time on comments in Mobile version"
###  users on smartphones can not see the time on comments, posts and on other issues

### it's essential to be informed about the time when every post, comment  and product on gitcoin had published.
https://www.dropbox.com/s/igwtapwkct3soee/IMG_20200301_233420.jpg?dl=0
### show the time when adding the issue would help other users to understand the logical succession of what's happening on gitcoi

[2020-03-03 19:32] PixelantDesign opened #6121 "Favorite a post on town square"
### User Story

As a user of Gitcoin townsquare I'd like to favorite a post so that I can easily come back to something that is important to me.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: no favoriting feature

### Description

[comment]: # (Fe

[2020-03-03 22:30] frankchen07 commented on #6011
@developerfred - I think fixing up the htmls to match the wireframe content is the main focus here. I'll need to get designs to you for that to happen though, working with a designer right now to make that happen!

[2020-03-03 23:14] #5893 closed

[2020-03-03 23:29] PaulRBerg commented on #5914
@owocki hope you enjoyed your family time! I've already paid out this bounty. The only thing left is to merge it into Gitcoin and announce it publicly.

[2020-03-04 04:59] walidmujahid commented on #6005
**WIP PR Update:**

I duplicated the `tip/send/4` end point and made '`tip/townsquare/send/4`. I moved the comments block of code generating the micro-tip comments from the post_save signal to `dashboard.tip_views.send_tip_townsquare_4`.

This moves the creation of the micro-tip comments ahead a step, which in turn means that if you cancel, then the comment is not generated in the first place.

I

[2020-03-04 05:26] Makondor2 opened #6125 "Metamask Cant Coneccted to Gitcoin in Mobile version"
**Describe the bug**

**To Reproduce**

**Expected behavior**
cant connected to gitcoin...i already open permission for metamask but result still same

**Screenshots**

![Screenshot_20200304-122033](https://user-images.githubusercontent.com/53736312/75847742-99254400-5e12-11ea-8eae-31365cceabe0.png)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**S

[2020-03-04 05:47] loganbek opened #6126 "https://gitcoin.co/quests/94/newtons-law-of-transaction-and-reaction - has a broken prep link (404)."
**Describe the bug**

https://gitcoin.co/quests/94/newtons-law-of-transaction-and-reaction - has a broken prep link (404).
**To Reproduce**

Play Quest, click prep link

**Expected behavior**

Should see quest prep but get a 404 error.

**Screenshots**

**Desktop (please complete the following information):**

- OS: Mac
- Browser: Brave
- Browser Version: Nightly Dev

**Smartphone (please complete

[2020-03-04 05:51] theCydonian commented on #5893
@owocki were you able to find my newest update alright?

[2020-03-04 05:52] jschiarizzi commented on #6095
update: took me longer than I care to admit to get oauth running locally this evening. A challenge is testing followers locally since no one else follows my local profile on my local machine haha

[update](https://github.com/jschiarizzi/web/commit/c8f149b59e3368f6fe0111fc551fa10ce091d3d8) adds new `FOLLOW tab`
It steals all the structure of the ACTIVITY feed, but we can just loop through followers

[2020-03-04 06:40] cervoneluca commented on #6118
Happened again.  See attached screenshot

<img width="1211" alt="Schermata 2020-03-04 alle 07 39 26" src="https://user-images.githubusercontent.com/3637606/75852008-52702380-5deb-11ea-8f4b-12cbfffa8697.png">

[2020-03-04 11:39] zoek1 commented on #6087
Hey @frankchen07, i pushed changes to build the survey from the admin panel. My next step is to implement the UI changes.

[2020-03-04 11:39] zoek1 commented on #6018
ping @alexvotofuture ^

[2020-03-04 12:07] danlipert commented on #6090
I'm down with improving this further - @owocki what did you mean by one handle -> one address?

[2020-03-04 12:09] danlipert commented on #6095
@jschiarizzi you should test by setting up multiple users in your local. I know Github limits users to one account so either create superusers through the django createsuperuser command or create one superuser first (you'll want to do this anyway to access the django admin) and then create them manually in the admin

[2020-03-04 12:24] #6084 closed

[2020-03-04 13:03] jschiarizzi commented on #6095
thanks for the tip @danlipert, thats very helpful

[2020-03-04 14:33] developerfred commented on #6125
I recently saw this bug in other projects, I believe it is an update of  metamask

[2020-03-04 14:39] developerfred commented on #6125
If you are using your metamask as a mirror of your ledgerwallet I advise you to make a native metamask wallet to interact with DAPPs

https://github.com/iearn-finance/iearn-finance/issues/41

[2020-03-04 15:11] developerfred opened #6129 "Quest - Save Links on distributed web"
### User Story

I as a user would like not to be held hostage by third party servers when I go to do my quests.

e.g: https://github.com/gitcoinco/web/issues/6126

### Why Is this Needed
Integration with skynet, ipfs or native permaweb, I think it would be a good idea to add to the distributed network any link mentioned in the quest form.

[comment]: # (Describe the problem and why this task is ne

[2020-03-04 15:15] developerfred commented on #6126
https://docs.dfuse.io/guides/ethereum/tutorials/lifecycle/

[2020-03-04 15:20] developerfred opened #6131 "Townsquare - add url shortener on message box"
### User Story

Adoraria ter um encurtador de links nativo na message box, toda vez que eu adiciono um link ele encurta automaticamente.

e.g: gitcoin.co/xhshash

### Additional Information
[PyShortners](https://pypi.org/project/pyshorteners/)

[2020-03-04 15:54] owocki opened #6132 "status update, attach youtube video doesnt work anymore."
**Describe the bug**

status update, attach youtube video doesnt work anymore.

**To Reproduce**

put a youtube video in status update form

**Expected behavior**

video preview should show before posting, andn then the video should display inline after posting

[2020-03-04 15:59] owocki commented on #6118
what does "actually received them" mean? its possible theyre still just pending on -chain but without txids its hard to say

[2020-03-04 16:02] cervoneluca commented on #6118
Sorry, commas are important.
I mean that the notify system says that I received tips. However I didn't received them.

[2020-03-04 16:26] cervoneluca commented on #6118
To be more clear, I mean that I never received tips at my ethereum address, and there seems that transactions for those tips were never created

[2020-03-04 16:56] hamzaghz opened #6135 "try to beat this quest https://gitcoin.co/quests/59/upgrade-or-dai"
if uu played the quest ''Upgrade or Dai'' , when it comes to the last question and selected the right answer, strangely the outcome showed will be that you failed to beat

**Describe the bug**
 if you take a look at your profile you will find that you beat the quest without obtaining the kudos

**To Reproduce**
just play the quest and see by yourslf
==> https://gitcoin.co/quests/59/upgrade-or-dai

[2020-03-04 17:04] pcowgill commented on #5803
@owocki What's the simplest way to find a user's ETH address from their profile page in order to refund past contributions? Thanks!

[2020-03-04 17:09] #5977 closed

[2020-03-04 17:09] #6117 closed

[2020-03-04 18:45] walidmujahid opened #6136 "Activity Tags are not working on page refresh - Local Docker"
Tested as of 18ab994a8f8f7464590d6489a242b69c31d5f358
Docker 2.2.0.3 (42716) Stable
Windows 10 Pro Version 1909
Chrome Version 80.0.3987.122 (Official Build) (64-bit)

**Bug Description:**

The `span.num` for comment counts does  not show the comment count and the comment section is automatically hidden.

Video: https://youtu.be/5S3W5OJzAMU

**Update:** This issue includes the tip amount and like

[2020-03-04 21:24] owocki commented on #6125
root cause : https://github.com/MetaMask/metamask-mobile/issues/1273

[2020-03-04 21:55] owocki commented on #6132
looks like the API key is over quote

we get this results:

[code]

[2020-03-04 21:56] owocki commented on #6132
@zoek1 any ideas of what to do here? is the API key in the code one u registered for us?  maybe its worth putting the key into settings.py (where we keep our secrets).

i wonder if someone has stolen the key out of our codebase and is using it for their own reasons..

[2020-03-04 22:24] owocki commented on #5914
ok ; which one did u want to merge? https://github.com/gitcoinco/web/pull/5976

can u comment there?

and can we close the other PR?

[2020-03-04 22:59] owocki commented on #6118
when i look at your ethereum address i see a few inbound tips.  the timestamp of this one, for example, matches a tx on chain. https://gitcoin.co/townsquare?tab=activity:151603

 mind singling out a couple activity posts where you didnt receive the tips and linking them here?

[2020-03-04 23:00] owocki commented on #5803
we purposefully hide this info so as to not dox our users.. can u just send
them backt o the addr they came from?

On Wed, Mar 4, 2020 at 10:04 AM Paul Cowgill <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-04 23:09] owocki commented on #6082
i just put a fix in for this . try now pls

619435764cd55243d9f229081035c426041e0d12

[2020-03-04 23:10] owocki commented on #6135
i just put a fix in for this . try now pls

619435764cd55243d9f229081035c426041e0d12

[2020-03-04 23:10] owocki commented on #6126
just fixed this

[2020-03-04 23:10] owocki commented on #6050
what should be on the dashboard?  gitcoin.co/quests/ already has win rates

[2020-03-04 23:10] owocki commented on #6032
i just put a fix in for this . try now pls

619435764cd55243d9f229081035c426041e0d12

[2020-03-04 23:29] #5089 closed

[2020-03-04 23:35] owocki opened #6139 "DESIGN - BOT Creatives - Spring 2020; 7th Edition - Cypherpunk themed"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="787" alt="Screen Shot 2019-08-28 at 11 34 24 AM" src="https://user-images.githubusercontent.com/513929/63878979-e5855800-c987-11e9-906f-699d27f6a144.png">

This is a bounty to create more Gitcoin Bots in new interesting scenes & styles.

# Pricing

i'll pay 35 DAI per artwork that looks as though some effort was put

[2020-03-04 23:35] owocki commented on #5465
here is the 7th edition bounty. give it a shot here https://github.com/gitcoinco/web/issues/6139

[2020-03-04 23:35] #5465 closed

[2020-03-04 23:37] owocki commented on #5893
@theCydonian havent gotten to it yet. ur welcome to submit a PR updating the bot if u want it updated faster

[2020-03-04 23:37] owocki commented on #5893
just launched this design bounty some of u might be into https://github.com/gitcoinco/web/issues/6139

[2020-03-05 00:10] theCydonian commented on #5893
@owocki, thanks for the info. I checked it out and applied. It seems like a fun project, so I’m definitely down. In terms of my updated avatar, I’ll probably just wait for you to have time to do it. I’m still trying to figure out the gitcoin code and it’s organization for another PR rn. Hopefully in the future I’ll be able to do these things more on the fly.

[2020-03-05 00:32] pcowgill commented on #5803
Ah interesting. I feel like they’re already dox’ed to a sufficiently motivated party based on the public nature of the transactions.

Yep, I can check Etherscan for the incoming transactions. Thanks for getting back to me.

[2020-03-05 00:58] zoek1 commented on #6132
I checked the dashboard but theres no strange behavior. For the moment i límited the usage to gitcoin.co domain. I'll make the PR to move this key to settings. @owocki

[2020-03-05 01:25] walidmujahid commented on #6136
Could the new `refresh_activities` task be causing this? Or a problem with an Activity instance's `cached_view_props`?

[2020-03-05 01:32] PixelantDesign opened #6140 "My Threads doesn't capture all of my town square activity."
**Describe the bug**
Clicked on My Threads on Townsquare to see if I got any responses to one of my posts.
That particular post wasn't in My Threads, but it showed on my profile activity.

**To Reproduce**
Post something in townsquare.
Go to My Threads in the left rail - see if it is there.
Go to your Profile, and likely you'll see it there.

**Expected behavior**
All of my Posts in townsquare sho

[2020-03-05 01:59] developerfred commented on #6140
@PixelantDesign Today the Townsquare Threads displays the threads from the last 24 hours, do you want to display them all? I think we can add more information to this filter

[2020-03-05 02:07] loganbek commented on #6126
Retested and the link now works correctly.

[2020-03-05 02:07] #6126 closed

[2020-03-05 02:20] loganbek commented on #6032
I just retested this quest and Q6 works correctly.

[2020-03-05 02:28] walidmujahid commented on #6005
I have refactored my code and the previous issues seemed to have been resolved by another commit.

Currently this change works as expected: If a user rejects signing the tip in MetaMask, then no comment is generated. If a user confirms, then things go on as before.

Working Demo - Video: https://youtu.be/TKlkK_iDj18

If if you are confused by the activity tags after the page refresh, see https://g

[2020-03-05 02:31] developerfred commented on #6090
I immediately thought of using cryptography to protect addresses, only gitcoin backend would be able to encrypt

Address request comes with a cryptographic key, goes to the backend that resolves the cryptography and sends the coins. I believe that the cost of this function is not monstrous.

[2020-03-05 03:01] walidmujahid commented on #6009
Sorry for not making an early PR. I will still be working on this and will try to open a WIP PR soon.

[2020-03-05 03:11] walidmujahid commented on #6046
@sounak98 Were you able to find a solution to this issue?

[2020-03-05 03:31] walidmujahid opened #6142 "Let 'Start Work' activities include the work plan and include link to submitted work in 'Submit Work' activities"
From: https://gitcoin.co/townsquare?tab=activity:156395

https://imgur.com/a/rZnkdYs

[2020-03-05 03:31] walidmujahid commented on #6142
I will make WIP PR for this soon.

[2020-03-05 05:14] developerfred opened #6145 "prevent users from sending tips to themselves"
**Describe the bug**

Currently a user can keep tipping himself all the time.

**Expected behavior**

**Screenshots**

<img width="634" alt="Screen Shot 2020-03-05 at 02 11 01" src="https://user-images.githubusercontent.com/57037080/75949993-ba277c80-5e86-11ea-8bd5-7b6e4ad5173e.png">

[2020-03-05 05:18] asmerella commented on #6145
Hi

[2020-03-05 05:32] Dino-79 commented on #6139
Iam stiil try to traning and iam newbie.
Thanks you.to make joint in app

[2020-03-05 05:48] developerfred commented on #6011
@frankchen07 Perfect, I will do the wireframe structure for now.

[2020-03-05 05:49] developerfred commented on #6011
yeah @owocki

[2020-03-05 07:36] zoek1 commented on #6132
@owocki the key is different from what i provided. @octavioamu could you check the api usage to see if someone stolen the key? One important thing is verify if the key is restricted to gitcoin domain:
![image](https://user-images.githubusercontent.com/660973/75958322-93b31280-5e81-11ea-8ec2-e75da0f808d4.png)

[2020-03-05 08:23] cervoneluca commented on #6118
Hi Kevin.
I can't link the posts where I didn't received tips because I'm not able to find them.

Look at this screenshoot:

<img width="1675" alt="Schermata 2020-03-03 alle 11 14 51" src="https://user-images.githubusercontent.com/3637606/75766398-61020080-5d41-11ea-9a7b-e535bddc31d0.png">

There are two tips, one from delevoperfred and one from L-KH.
So, as you can see, tips are reported by the n

[2020-03-05 08:46] PaulRBerg commented on #5914
I commented there. @Man-Jain sorry to tag you, any chance we could close #5982? Thank you!

[2020-03-05 09:51] ekram-syed commented on #6032
I just give this a try and it works smoothly. approach to closing this ticket. Thanks to all contributors. You guys rocks.

[2020-03-05 09:51] #6032 closed

[2020-03-05 09:52] PixelantDesign commented on #6140
Thanks for hopping on this @developerfred

Let’s display for the last week. And add a button at the bottom to see all- directing the user to profile.

[2020-03-05 09:57] PixelantDesign opened #6147 "New Comment Email is Busted"
**Describe the bug**
New comment email looks busted.
![22725F71-4F3D-496B-BE28-F382FC9EACC6](https://user-images.githubusercontent.com/238235/75969810-79872d80-5e9d-11ea-9fe6-46d3e2a3a48b.png)

**To Reproduce**
Open/view email on mobile
See missing Gitcoin logo
Fonts are not correct

**Expected Behavior**
See a nicely branded email

**Screenshots**

**Desktop (please complete the following informa

[2020-03-05 10:37] PixelantDesign commented on #6147
@developerfred @walidmujahid  interested?

[2020-03-05 10:38] PixelantDesign commented on #6121
@walidmujahid @developerfred interested?

[2020-03-05 10:45] PixelantDesign commented on #6131
@developerfred want to help us do this?

[2020-03-05 11:31] hamzaghz commented on #5893
HEY @owocki i've sent my submission. plzz take a look                https://www.dropbox.com/sh/ozcflsk7ogqczif/AABr-DYquA-3q2LviS-2BUxba?dl=0

[2020-03-05 11:45] ekram-syed commented on #6145
Should not be a problem I guess. that doesn't keep up with the matching algorithm.

[2020-03-05 12:01] abitrolly commented on #5923
@owocki the issue is still there. How often is gitcoin.co deployed?

[2020-03-05 12:06] abitrolly opened #6148 "https://stage.gitcoin.co is 502"
**Describe the bug**

I want to test if performance bug is fixed, but can not. :(

https://stage.gitcoin.co

![image](https://user-images.githubusercontent.com/8781107/75980087-e1b42e80-5ef2-11ea-89ac-98fc83c09e55.png)

[2020-03-05 13:14] PixelantDesign opened #6149 "One Click Fund Issue Link in Townsquare"
### User Story

When I have a developer ready to work on an issue, I'd like a one click fund issue link as an option in the townsquare thread because this helps to streamline my workflow.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: No one click

[2020-03-05 13:28] zoek1 commented on #6149
Hey @PixelantDesign, is this reserved for someone? I like to work on this! I'm not sure if it requires displays only the button or creates a bounty for such issue as well?

[2020-03-05 13:30] PixelantDesign commented on #6149
It's not reserved @zoek1!

If thread contains github link, display ability to fund that issue via menu
Open fund issue form in new tab with url pre-populated in the form
Once the issue has been funded, show the comment in the original townsquare thread

[2020-03-05 13:39] zoek1 commented on #6149
Ok, seem easy. What do you think if the post displays a bounty reference below the comment to easy visualization? so the users can see this post has associated a bounty. Like in this PR https://github.com/gitcoinco/web/pull/5884

[2020-03-05 13:40] developerfred commented on #6148
you can test in a local environment on the branch stage.

[2020-03-05 13:43] PixelantDesign commented on #6140
Also currently it says this:

<img width="467" alt="Screen Shot 2020-03-05 at 8 42 00 AM" src="https://user-images.githubusercontent.com/238235/75987066-40f74c00-5ebd-11ea-9609-c5350ad1c38f.png">

Would be great to update the tooltip based on the changes.

[2020-03-05 13:44] zoek1 commented on #6149
Already applied @PixelantDesign 😃

[2020-03-05 14:02] fluffays commented on #6099
1st draft has arrived => https://docs.google.com/document/d/1mk9MKlQHRc_9_x-CIwqGwB9q6wl6SfHTzq-gMGq-lWw/edit#

[2020-03-05 14:06] PixelantDesign opened #6151 "Applicants Not Loading on Dashboard"
**Describe the bug**
Applicants Not Loading on Dashboard

(octavio edit) https://sentry.io/organizations/gitcoin/issues/1248897468/?project=1398424&query=is%3Aunresolved

**To Reproduce**
Go to Gitcoin Dashboard, view issue with applicants. No applicants displayed

**Expected behavior**
Applicants are displayed

**Screenshots**

Bounty URL

https://gitcoin.co/issue/gitcoinco/web/6121/4085

<img wi

[2020-03-05 14:59] developerfred commented on #6151
Hey @PixelantDesign!
I believe it is because the staging server is down.
https://github.com/gitcoinco/web/issues/6148

[2020-03-05 15:48] PixelantDesign commented on #6142
Love this idea! Thanks @walidmujahid!

[2020-03-05 16:03] owocki commented on #6132
@octavioamu do u have the key dashboard? can u share with me?

[2020-03-05 16:17] walidmujahid commented on #6147
@PixelantDesign I will add this to my list of things to work on.

[2020-03-05 16:27] frankchen07 commented on #6099
awesome @fluffays - we'll take a look!

[2020-03-05 16:39] developerfred commented on #6147
hey @walidmujahid you still working on this issue?

[2020-03-05 16:45] walidmujahid commented on #6147
@developerfred Yes. I added to my list of thinngs to work on 👍

[2020-03-05 17:47] sizzthehedgehog opened #6154 "providing feedback by using upvote / downvote during Kudos quest"
**Describe the bug**
feedback during kudos quest is submitted although it hasn't been finished - cause: switching browser tabs will send the content of the feedback window instantly

**To Reproduce**
1. start any kudos quest
2. click on upvote or downvote
3. type some 'feedback' in the new window
4. switch to a new tab within the same browser
5. switch back to the kudos quest
6. feedback was sent

[2020-03-05 17:51] octavioamu commented on #6136
seems is a problem with cache

[2020-03-05 17:58] owocki commented on #6136
you just need to make sure the web_worker is running. thatll update the comment count

[2020-03-05 18:03] owocki commented on #5893
HEG@ - looks good - pls combine into one file + make sure it complies with
the spec in the OP and i'll review it again then

On Thu, Mar 5, 2020 at 4:31 AM HEG@ <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results

[2020-03-05 18:58] walidmujahid commented on #6136
@owocki @octavioamu I see.

The worker container is exiting  with code 2. Doing `docker-compose logs -f worker` gives me:

``worker_1     | ./bin/celery/worker/run.sh: line 2: $'\r': command not found
: invalid option namecelery/worker/run.sh: line 3: set: pipefail``

The scheduler also seems to be exiting with code 2. The foreground logs show:

``scheduler_1  | ./bin/celery/scheduler/run.sh: line

[2020-03-05 19:08] dadahaha2020 opened #6155 "User Account Maturity Indicator"
### User Story

As new user signs up in the platform they will always explore things then encounter restrictions for their account being too new. Such as unable to Receive Kudos. This is because security measures placed for accounts to be a week old before getting access to such feature and users dont know about it.

### Why Is this Needed
An account maturity should be visible alongside correspond

[2020-03-05 21:27] nasehim7 commented on #6139
@owocki Hi Kevin, few designs that I have made:
![6EDEF690-1D1B-440C-AAB8-8FCFB6766EF6](https://user-images.githubusercontent.com/18035782/76026878-a0089f80-5f55-11ea-9642-2b924f5a86c0.jpeg)

![FC8FE3C8-8750-4294-8144-9B03C10D23D5](https://user-images.githubusercontent.com/18035782/76026957-c7f80300-5f55-11ea-9b92-af80dd73dd53.jpeg)

![7884CBA9-8391-4CA0-9EC4-382BEC7E5AEA](https://user-images.gith

[2020-03-05 21:33] zoek1 commented on #6149
@PixelantDesign almost done, only the video demo is pending. In a couple hours i'll upload it

[2020-03-05 22:07] theCydonian commented on #6139
@owocki the link to the style guide gives me a 404. Could you post a new link?

Also, do you have specific dimensions for the SVG that you want?

[2020-03-05 22:21] owocki commented on #6139
@nasehim7 thanks ! which one is your favorite? how are they cypherpunk-ey?

[2020-03-05 23:31] owocki commented on #6136
hmmm.. @androolloyd built that container.. maybe he knows?

[2020-03-06 03:41] developerfred commented on #6121
hey @ zoek1 are you working on this issue?

[2020-03-06 03:59] theCydonian commented on #6139
@owocki what do you think about this sort of idea?

![Screen Shot 2020-03-05 at 19 58 44](https://user-images.githubusercontent.com/31706764/76050279-bb56b900-5f1b-11ea-8206-9da702e73ad7.png)

[2020-03-06 04:07] zoek1 commented on #6121
Yep, at this moment I only need to develop the last two points :sweat_smile:

[2020-03-06 04:18] nasehim7 commented on #6139
@owocki Hi Kevin, I think I digressed a little. I saw the related cellarius work and made couple of cellarius related artworks

As cellarius was a cartographer so first third are related to cartography and earth. Thirds interpretation can also be that Gitcoin is around the world and takes care of it

Second one is just a clean setup which I thought would look good like gitcoin logo on Ethereum wit

[2020-03-06 05:18] theCydonian commented on #6139
![Screen Shot 2020-03-05 at 21 15 41](https://user-images.githubusercontent.com/31706764/76054731-7be19a00-5f26-11ea-8070-31125a8858cb.png)
@owocki Here is the other idea I am working on. I am considering switching from a head to a full robo, but I feel like the simplicity might actually make it look better.

[2020-03-06 06:16] developerfred opened #6158 "codacy improvements on base code"
https://app.codacy.com/manual/codingsh/web/dashboard?bid=16864489
<img width="513" alt="Screen Shot 2020-03-06 at 03 15 25" src="https://user-images.githubusercontent.com/57037080/76057631-d398f900-5f58-11ea-9138-9a11d0075f73.png">

[2020-03-06 08:23] writeprovidence commented on #6139
@owocki would like to make contribution to this bounty, but i could not see the start work button on the page. how should i go about it?

[2020-03-06 10:38] abitrolly commented on #5923
@owocki then this bug is still not fixed.

[2020-03-06 11:19] cervoneluca opened #6160 "Bug in docker build (probably due to url shortener feature)"
**Describe the bug**
I'm not able to build the docker. The build stops with this error:

[code]
**To Reproduce**

1) Clone the web repository
2) fetch the upstream
3) run `docker-compose up --build`

**Screenshots**
<img width="1676" alt="Schermata 2020-03-06 alle 12 17 50" src="https://user-images.githubusercontent.com/3637606/76079232-880c3c80-5fa4-11ea-9012-e8f9234832e6.png">

**Desktop (please

[2020-03-06 11:49] molecula451 commented on #5923
@owocki I am giving a look to gitcoin on firefox too see this

[2020-03-06 12:47] ivanmolto opened #6161 "Sponsored posts"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an advertiser, I want to sponsor posts so that each member of the Gitcoin community gets tipped for reading and interacting with it.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually

[2020-03-06 15:24] molecula451 commented on #5923
Just tested out on an old buddy 2013 manufactured PC 2GB Ram and Intel Celeron 1.10 Ghz under Firefox and it's running smooth as f.....

[2020-03-06 15:31] ivanmolto opened #6162 "Sponsored Mini CLR"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an advertiser, I want to sponsor the Mini CLR so that I am visible as a brand/software product to members of the Gitcoin community.

### Why Is this Needed
Advertisers need new converting channels for their campaigns and the Mini CLR Round is very well appreciated by Gitcoin audience.
Codefund adds another channel

[2020-03-06 15:49] sebastiantf opened #6163 "Multiple Duplicate Notifications"
**Describe the bug**

Some of the recent notifications that I've received are showing two duplicate notifications.

**To Reproduce**

1. Login to Gitcoin
2. Click the bell icon to show notifications

**Expected behavior**

There shouldn't be duplicates of any notification.

**Screenshots**

![gitcoin_notifications](https://user-images.githubusercontent.com/36922376/76098663-df83ca00-5fef-11ea-858c

[2020-03-06 15:50] owocki commented on #6160
this is fixed in ebdb2201352d3956bd60fdb00025600528ef85f9

[2020-03-06 16:22] owocki commented on #6139
@writeprovidence derp i made it the wrong bounty type.. just updated. try now

@theCydonian i <3 ur latest piece!

@nasehim7 got it; makes sense

[2020-03-06 16:23] writeprovidence commented on #6139
@owocki okay thanks

[2020-03-06 16:34] owocki commented on #5923
reproduction steps would be nice.  failing that i still think we should add something in the settings that allows people to turn off the animations on their account

[2020-03-06 17:17] molecula451 commented on #5810
@gitcoinbot Working on it. This is kindly long task to accomplish

[2020-03-06 17:20] androolloyd commented on #6136
Hmm, are you on windows? Looks like an issue with linebreaks.

is your encoding set to UTF8?

[2020-03-06 17:21] androolloyd commented on #6136
We're removing the scheduler definition in a future update as we're not using it presently, you can comment it out for now.

[2020-03-06 17:27] sebastiantf commented on #6098
Yes @gitcoinbot. I shall need further directions from the Gitcoin Core team to move forward.

[2020-03-06 17:43] theCydonian commented on #6139
@owocki thanks! I definitely prefer that one as well. What do you think about the lock. Do you think I should continue with it too, or go in a completely different direction with the second submission?

[2020-03-06 18:01] owocki commented on #4943
yes its eliigible

[2020-03-06 18:19] owocki commented on #6139
i like the lock

[2020-03-06 18:23] dadahaha2020 opened #6164 "Add "Share" Post Option"
### User Story

As a user there will be posts by other people that can be of interest and is worth sharing across the platform.

### Why Is this Needed

Gitcoin currently don't have this function. Instead of copying the link of the post, if there is an ability to share posts, it will be more easier to share information with other users.

### Description:
Add a "Share" option in the posts/status

#

[2020-03-06 18:26] owocki commented on #6164
isnt that what 'copy link' is?

[2020-03-06 18:30] dadahaha2020 commented on #6164
A one click "share" is faster if one intends to share a post just within the platform. Maybe we can replace the "copy link" with "Share".

Once "Share" is clicked, ask two question 1. Share internal - sharing within the platform; 2. Share external - this is where copy link will be so it can be shared outside the platform.

Typically this is the same with Facebook.

[2020-03-06 19:09] theCydonian commented on #6139
@owocki any tweaks you want me to make to either of them before submission?

[2020-03-06 20:06] vporton opened #6166 "Reward issue reports with tips"
Please automatically send a matched tip (like as in Townsquare) to every bug/feature reporter here in issues.

The tip should not be sent if the issue is deleted during 12 hours after its publication (as an anti-spam feature).

[2020-03-06 20:48] alialiwa2005 commented on #6101
Verified using Trust Wallet on Android 9.0

[2020-03-06 20:50] alialiwa2005 commented on #6101
I am also getting tip notifications, although not all are duplicate ones, and I don't recieve the tips in my ETH wallet.

[2020-03-06 20:58] alialiwa2005 opened #6167 "Not receiveing tips as notified."
**Describe the bug**
I am getting notifications of tips, but recently, my tip notifications appear falsely. I am tipped 0.5 ether, for example. I go to my wallet, I do not have the balance of 0.5 or more ETH in my ETH wallet.

**To Reproduce**
Recieve a tip. (It may work correctly sonetimes, but in my case, many tips of my tips, but not all of them, are not going through as transactions.)

**Expec

[2020-03-06 21:01] alialiwa2005 opened #6168 "Account not in CLR."
### Who
Me, Ali Saleh.

### What

After the first CLR round, starting from the second CLR round, my account, @alialiwa2005, is not present on the leaderboard nor is it showing status of CLR on/near Gitcoin profile.

### Why

Unsure.

[2020-03-06 23:21] owocki opened #6169 "DESIGN - Create a ROBOT vector avatar for the Gitcoin avatar builder. (NO LONGER OPEN FOR NEW START WORKs)"
The Gitcoin avatar builder has the ability to have MANY different avatar types on it.

click here to see what i mean : https://gitcoin.co/onboard/profile/?steps=avatar#section-title

## How it works

[Checkout these two sample avatar svgs](https://bits.owocki.com/v1umkr1e).

If you open them up in your favorite SVG editor this is what youll see as the DOM structure

<img width="248" alt="Image+202

[2020-03-06 23:29] owocki commented on #6169
@roundtree-larry this isnt a kudos creation task

[2020-03-07 00:45] walidmujahid commented on #6136
is your encoding set to UTF8?

@androolloyd Yes, I am on Windows 10 Pro Version 1909.  Yes, I am using UTF8. My editor, Atom, is also set to UTF8.

[2020-03-07 04:24] theCydonian commented on #6169
I am going to try to create bender. I can think of a lot I can do with customization, and tbh I just love futurama. Expect something tonight or tomorrow.

[2020-03-07 06:51] theCydonian commented on #6169
@owocki what do you think of my bender bot so far? May I begin creating all necessary permutations?

![Screen Shot 2020-03-06 at 22 47 01](https://user-images.githubusercontent.com/31706764/76138403-8b331700-5ffc-11ea-97db-3a809a79e68e.png)

Some details are a bit rough, but this is not really supposed to be a final product or anything, so it should be fine. I tried to emulate the bender bot kudos

[2020-03-07 07:01] cervoneluca commented on #6160
ok solved! I'll close this issue. Anyway, if anyone else have the same problem, refer to https://gitcoin.co/townsquare?tab=activity:158890

The solution is in comments of the above thread.

[2020-03-07 07:01] #6160 closed

[2020-03-07 10:51] molecula451 opened #6171 "You received a new kudos from owocki' from about 6 hours"
**Describe the bug**

 Seen a notification of Owocki sending a kudos and the user being unable to see any transaction.

**To Reproduce**

@walidmujahid

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional

[2020-03-07 11:51] pRoy24 opened #6172 "Changes in Resume are not getting persisted."
To reproduce
1. Go to gitcoin profile eg. https://gitcoin.co/proy24

2. Click on Resume tab
![image](https://user-images.githubusercontent.com/4677914/76142872-68f4d400-60a4-11ea-8edb-2bee98033e0e.png)

3. Click on Edit this info.

4. Make requisite changes.

5. Click on Done.

6. Go back to resume tab. Resume information still shows the old information (changes are not getting persisted)

[2020-03-07 11:54] Blockchayne commented on #6171
Phantom Notification - User received phantom notification of ‘New Tip’ (from @owocki) but no transaction can be located in the activity feed nor in the transaction history. In addition, the notifications come in pairs. Two or more duplicates of the same notification.

Device: IPhone 7 Plus
iOS 13.3.1
Chrome Mobile

![Uploading A5223FCC-B5F2-4ACD-905E-EF075FDCC883.jpeg…]()

[2020-03-07 15:37] Makondor2 opened #6174 "Quest:pooltogether got some problem"
Check this

[2020-03-07 15:38] #6174 closed

[2020-03-07 16:42] walidmujahid commented on #6171
I should have taken screenshots and written down my observations the moment I noticed them, now I do not have screenshots. About a ago, and similarly a few days ago, two separate instances, I recieved a notification 'You received a new kudos from owocki' and I went to check and I saw nothing in the transactions feed.

Both times I think had gone through a quest, but I already recieved kudos from g

[2020-03-07 20:08] walidmujahid commented on #6136
@owocki @androolloyd I fixed this in https://github.com/gitcoinco/web/pull/6175

[2020-03-07 20:36] Blockchayne commented on #6171
@walidmujahid that is an excellent assessment of the issue I experienced. I also experienced the problem with the cancelled transaction/ optimistic UI. Usually I would be in agreement that this was likely the cause, however, I believe these two phantom tips are actually replayed from the previous day when i received two tips from @owocki of similar amounts. My suspicion is that something re-trigge

[2020-03-07 20:46] dadahaha2020 opened #6176 "Event / Calendar Tab"
### User Story
Current UI does not have an event or calendar space. Users only gets to see any events on the main wall / townsquare which most likely to be missed once a user scrolls.

### Why Is this Needed
*Summary*:
Having an Event / Calendar tab visible users can have a single reference to what are the ongoing or upcoming events that might be of interest to them. This will also help gather mor

[2020-03-07 20:55] owocki commented on #6169
Pls proceed. But note all avatar  items need to be original or liscensabls under GPL

[2020-03-07 21:14] asawee opened #6177 "Avatar Features Enhancement"
### User Story
Avatar customization limited to physical body attributes. It can be more interesting to add some layers for customizing.

### Why Is this Needed
It give more option for users to decided how the avatar should look and makes it even more personal and unique. An expression of their true self.

### Description
Add additional layer such as more accessories - glasses etc.
Add superhero cr

[2020-03-07 21:32] theCydonian commented on #6169
I’ll create the permutations today.

[2020-03-07 23:27] L-KH commented on #6139
03/08 is International Woman's Day(DAI). So this Kudos is about that event and also about what someone said in Livestream about women's hackathon. Hope you like it
![cypherpunk_woman_resultat](https://user-images.githubusercontent.com/12660772/76153839-74f78a80-60d2-11ea-94cc-3b2f57f69106.png)

[2020-03-07 23:35] hamzaghz commented on #6169
![2540  Converted](https://user-images.githubusercontent.com/60444350/76153958-52ff0780-60d4-11ea-9704-c774275eb868.jpg)

I did some permutations for this transformer

[2020-03-08 01:45] molecula451 commented on #6171
Oh yeah. It seems I realize today there was also a notification for a suppose Kudos he sent one but it was from February

![l](https://user-images.githubusercontent.com/41552663/76155021-a9604c00-60bc-11ea-9d1f-3d47617fdd25.png)

[2020-03-08 02:54] Blockchayne commented on #6171
Guys. I am happy to say that I have figured out exactly how to reproduce the error. I believe it’s actually quite simple. The phantom notifications that suddenly appear where there is no corresponding transaction, is actually just old notifications of transactions that have already been completed. The notification seems to be associated with the “Like” button whereas if someone taps the ❤️ Icon on

[2020-03-08 05:30] owocki commented on #6139
can you remove the cleavage from the woman? i dont want to objectify women on the kudos if possible.

submission instructions are on the OP

[2020-03-08 06:23] walidmujahid commented on #6171
Wow. Amazing effort in reproducing this. It feels like a post_save signal is causing this somewhere. Perhaps the post_save activity signal that is invoked when referesh_activity happens?

I do not know. I am about to start working with notifications more on another issue, so I will keep an eye out for anything relevant to this.

[2020-03-08 07:11] dadahaha2020 commented on #6171
The same case with email notifications. Everytime I tap Like on a post or a comment, I'd get a repeat email notifications that someone replied even though I have already seen it.

[2020-03-08 07:25] brent920 opened #6178 "Advertiser Sponsored Quests Monetization"
### User Story

Quests are created by anyone with Kudos rewards. If we can add quests coming from advertisers with monetization, it will help reach more people and engagements.

### Description

Allow advertisers to post quests with monetization other than kudos. Such quests can be posted for a limited number of days and/or limited respondents.

### Current Behavior
[comment]: # (Describe what act

[2020-03-08 08:15] theCydonian commented on #6169
@owocki here is what I have. Anything else you want?
![Screen Shot 2020-03-08 at 00 12 29](https://user-images.githubusercontent.com/31706764/76159103-cfdcb200-60d1-11ea-827d-a016cebcb0da.png)
[BenderBot.svg.zip](https://github.com/gitcoinco/web/files/4302985/BenderBot.svg.zip)

[2020-03-08 12:50] hamzaghz commented on #6139
Here is my drawings. Hope uu like them
![kkd](https://user-images.githubusercontent.com/60444350/76163107-bc6a2f00-6143-11ea-8b21-734c899758ba.png)
[kudos.zip](https://github.com/gitcoinco/web/files/4303212/kudos.zip)

[2020-03-08 12:56] L-KH commented on #6139
@owocki , hope this one is good now. please if Yes accept my express interest to submit the SVG format. thanks
![cry](https://user-images.githubusercontent.com/12660772/76163173-487c5680-6144-11ea-8914-03ea536ffecd.png)

[2020-03-08 18:33] hamzaghz commented on #6139
**you can join them in a zip file and upload it here**

[2020-03-08 18:57] developerfred commented on #6176
I like it.

[2020-03-08 18:59] dadahaha2020 commented on #6176
That's just a general concept. Once it is created more ideas will come that can be added to that tab

[2020-03-08 19:01] abitrolly commented on #5923
@owocki just open https://gitcoin.co/issue/alialiwa2005/Maple/1/3976 in anonymous tab in Forefox and wait 5 seconds for it to become sluggish.

[2020-03-08 21:12] oussema opened #6179 "CLR rule"
### User Story

I want to make a new CLR rule to restrict new recently github account to tip others.
### Why Is this Needed

Because in this way any one could make a new github account and tip himself

[2020-03-09 01:43] owocki commented on #6139
these look great ! pls submit them

im going to start minting these this week so will payout on a rolling basis.

[2020-03-09 01:59] owocki commented on #6169
the transformer has no permutations of different clothing/facial expressions/accessories, so it cant be used (yet)

benderbot
can you unhide all the different items that are hidden in the export?  also remove (or mask) anything thats outside of the 350x350 frame

[2020-03-09 02:10] owocki commented on #6176
@vs77bb this is the idea i was telling u about on the phone today

[2020-03-09 02:19] owocki commented on #6167
i dont see any notifications in your notifciations about a 0.5 ETH tip https://bits.owocki.com/ApurzAWE

[2020-03-09 02:24] molecula451 commented on #6179
Mmm Github is very handy when it comes about spamming... creating new accounts it could be a very waste of time

[2020-03-09 02:25] owocki commented on #6166
i think that github work should absolutely be rewarded.

donno how plausible sending these tips manually is tho.. maybe a solution like https://sourcecred.io/ can be the answer

[2020-03-09 02:31] owocki commented on #6168
In round 1, according to a community report we received, you sybil attacked on the townsquare CLR (donating to himself, making multiple accounts and all donating to each other).

[2020-03-09 02:33] theCydonian commented on #6169
@owocki, I’ll fix that tonight.

Sent from my iPhone

[2020-03-09 05:21] dadahaha2020 opened #6180 "Quests Enhancement : Add Topic Details"
### User Story

When new user signs up they'll explore the platform and most likely will try the Quests. These quests are of various topics that people has little to zero idea. Then the user would fail because they are not equiped with ideas to answer the questions in limited time.

### Why Is this Needed

An enhancement is needed to make the Quests more conducive for learning. If a small detail i

[2020-03-09 08:01] dadahaha2020 commented on #6180
Redundant. Already available.

[2020-03-09 08:01] #6180 closed

[2020-03-09 11:09] alialiwa2005 commented on #6167
That was just an example amount. I usually 'recieved' tips like 0.05 or 0.02 eth, from random accounts.

[2020-03-09 11:12] alialiwa2005 commented on #6168
I did not donate to myself, but I did see random accounts donating to mine. (I didn't recieve those tips from random accounts though. https://github.com/gitcoinco/web/issues/6167)

But I see why you may suspect I was donating to myself.

If there is a way to further prove I am innocent, please let me know and I will show it wasn't me who manipulated the system.

I don't think I am the only person

[2020-03-09 12:00] zoek1 commented on #6149
ready for review

[2020-03-09 12:24] sizzthehedgehog opened #6182 "Quest: The Journey to Solidity - Kudos on rinkeby"
**Describe the bug**
Just finished the Kudos quest "The Journey to Solidity". Kudos can't be redeemed as it says it is on rinkeby.

**To Reproduce**
complete quest and try to claim the prize

**Expected behavior**
kudos should be able to be claimed

**Screenshots**
![diamond kudos](https://user-images.githubusercontent.com/59723587/76212657-4203e280-6209-11ea-81bf-cecb7f3f1254.PNG)

**Desktop (ple

[2020-03-09 13:03] owocki commented on #6167
Can you give a specific tip that you didn’t receive and we can see what
happened

On Mon, Mar 9, 2020 at 5:09 AM Ali A. Saleh <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 13:12] kvndlgs commented on #6139
Here are my cypherpunk themed bots, hope you'll like it.

incognito bot
![incognitobot](https://user-images.githubusercontent.com/5797425/76215746-c3e21480-61e5-11ea-8aad-7accf25abad1.png)

all seing eye bot
![allseingeyebot](https://user-images.githubusercontent.com/5797425/76215759-c93f5f00-61e5-11ea-8a9b-165cca36b8d0.png)

[2020-03-09 14:06] owocki commented on #6168
@danlipert ali pleads not guilty

[2020-03-09 14:10] owocki commented on #6182
just changed the prize to a mainnet kudos

On Mon, Mar 9, 2020 at 6:24 AM sizzthehedgehog <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 14:10] owocki commented on #6139
they look great pls submit them!

On Mon, Mar 9, 2020 at 7:12 AM kvndlgs <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 14:13] loganbek commented on #6182
I hit this too. kudos link:
https://stage.gitcoin.co/kudos/0x4077aE95EeC529D924571d00e81ECdE104601AE8/130

On Mon, Mar 9, 2020 at 5:24 AM sizzthehedgehog <notifications@github.com>
wrote:

--
Logan Bek
LinkedIn <http://www.linkedin.com/in/loganbek>
(510) 367-7159
loganbek@gmail.com

[2020-03-09 14:13] owocki opened #6184 "kudos can be redeemed twice"
![TKNTmpzY](https://user-images.githubusercontent.com/513929/76220862-ce001500-61dd-11ea-823b-000e18895d5a.jpg)

I'm not advertising Floflis so this is from your interest
I found weird how I could submit the form twice
First, received the message I'd earned the badge
Then, the browser (Firefox) asked to re-submit the form
So I'd received dupliced badges
As it is a limited edition, it also means ex

[2020-03-09 14:16] owocki commented on #6184
89e56d93254bf08e1783b62fb6c459c074642d1b

[2020-03-09 14:23] loganbek commented on #6182
Retested and successfully received
<img width="487" alt="Screen Shot 2020-03-09 at 7 22 44 AM" src="https://user-images.githubusercontent.com/9355004/76221751-c6893d80-61d6-11ea-9556-da368c2c5780.png">
https://gitcoin.co/kudos/12188/future_city.

[2020-03-09 14:32] L-KH commented on #6139
@owocki , Please can you accept my request on Gitcoin to submit my work! thanks
![Sans titre](https://user-images.githubusercontent.com/12660772/76222490-f0645380-621a-11ea-8b56-1c56a195587f.png)

Here the SVG format.
[Kudos.zip](https://github.com/gitcoinco/web/files/4307121/Kudos.zip)

[2020-03-09 14:46] hamzaghz commented on #6182
**CONGRATS** you are the first one to get my new kudos

[2020-03-09 14:46] sebastiantf commented on #5923
As I mentioned in #5871,

Looking at the console, we see the message web3.eth.coinbase could not be loaded being continuously logged by raven.js. It must be trying to load web3.eth.coinbase every second and failing every time, causing some sort of loop that slows down the webpage and the browser.

[2020-03-09 14:54] jschiarizzi commented on #6095
Still here. Will have a bigger update tonight.

[2020-03-09 15:00] owocki commented on #6139
accepted.  go ahead and submit work and to https://gitcoin.co/kudos/new

[2020-03-09 15:01] loganbek commented on #6182
Thank you, it’s an honor and a privilege!

On Mon, Mar 9, 2020 at 7:46 AM HEG@ <notifications@github.com> wrote:

--
Logan Bek
LinkedIn <http://www.linkedin.com/in/loganbek>
(510) 367-7159
loganbek@gmail.com

[2020-03-09 15:10] hamzaghz commented on #6169
OK, i will fix that asap

[2020-03-09 18:44] PixelantDesign commented on #6095
Looking forward to it @jschiarizzi !

[2020-03-09 18:59] sebastiantf commented on #5923
@owocki Please take a look at the PR #6187

[2020-03-09 19:02] owocki commented on #5923
does it fix the issue? how did you test it?

note: the engineering team will be reviewing the PR, but from a quick
glance you removed the 'testing' section from the template.

On Mon, Mar 9, 2020 at 12:59 PM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open

[2020-03-09 19:08] owocki opened #6188 "tribes explore page issues"
https://bits.owocki.com/ApurzpBE

1. ETH amount should be rounded
2. there are multiple #8 tribes
3. any search just returns the main results over and over again.

[2020-03-09 19:12] sebastiantf commented on #5923
Sorry for removing the Testing section.

This commit would increase the delay of checking the web3 change from 1sec to 5secs. It would increase the performance of the website when MetaMask is disabled.

[2020-03-09 20:22] dadahaha2020 opened #6189 "Allow Sponsored Polls with Incentives"
### User Story

There are cases where organizations need data from people in a quick manner

### Why Is this Needed

Now that Poll function is up, it will be great to enable monetized / incentivize polling from sponsors / advertisers so that information gathering will be quick and respondents can be paid for their answers and the platform earns too.

*Summary*:

### Description
Give an option for

[2020-03-09 22:19] owocki commented on #5923
but did you reproduce the issue and test it locally?

On Mon, Mar 9, 2020 at 1:12 PM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 22:20] owocki commented on #6189
in this scenario, who pays for the poll?

On Mon, Mar 9, 2020 at 2:22 PM dadahaha2020 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 22:22] dadahaha2020 commented on #6189
The one who creates the poll should pay a minimal amount

[2020-03-09 22:23] owocki commented on #6189
and how are people paid? for answering the poll?

whats the demand for this feature?

On Mon, Mar 9, 2020 at 4:20 PM Kevin Owocki <kevin@gitcoin.co> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-09 22:25] dadahaha2020 commented on #6189
Respondents can be paid right after they respond. It is like giving a tip where payment is triggered once a user responds to the poll.

Demand wise from advertisers no data yet.

[2020-03-09 22:59] owocki opened #6190 "document gitcoin on https://gitcoin.co/wiki/"
This is a bounty for user-generated-content on https://gitcoin.co/wiki/

To participate, please choose one topic and write one page of documentation on it.  Make these edits live on the wiki.

Suggested topics:
- Any of the FAQ on https://gitcoin.co/wiki/
- Migrate https://gitcoin.co/help
- All about ANY_OF_OUR_PRODUCTS

Prize:
5 ETH total, 0.02 ETH to 0.3 ETH per article depending upon how much e

[2020-03-10 02:07] owocki opened #6191 "status updates input form autocomplete should be able to be keyed up and down with my keyboard"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want status updates input form autocompletes to be keyed up and down with my keyboard, so i dont have to use my dumb mouse.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually h

[2020-03-10 02:09] owocki opened #6192 "as a user, i want uniswap price integration so that all the greatest HOTT ETH coins are priced on gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want uniswap price integration so that all the greatest HOTT ETH coins are priced on gitcoin
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Descripti

[2020-03-10 03:37] theCydonian commented on #6169
@owocki sorry for the delay. Here is the update:
[BenderBot.svg.zip](https://github.com/gitcoinco/web/files/4310101/BenderBot.svg.zip)

[2020-03-10 03:40] owocki commented on #6169
looks really good!!! but the viewport is 500 x 500.  can you mask anything
thats outside of the 350px x 350px and resubmit it with only the 350px x
350px frame?

On Mon, Mar 9, 2020 at 9:37 PM theCydonian <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software -

[2020-03-10 03:57] owocki opened #6193 "As a user, I would like to be able to request money from someon, so I can get paid and remind a forgetful funder."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would like to be able to request money from someon, so I can get paid and remind a forgetful funder.

### Why Is this Needed
Requesting money is the natural inverse of sending money

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would l

[2020-03-10 04:05] owocki opened #6194 "As a user, I would like to be able to post colorful status updates, because it's fun and shows off my personality."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would like to be able to post colorful status updates, because it's fun and shows off my personality.
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
Feature

### Current Behavior
[comment]: # (Describe what actually happened.)
No Colorful status updates

### Expected Behavior
[comm

[2020-03-10 09:10] PixelantDesign opened #6195 "Make Townsquare Link Clickable"
### Who

### What
Make Townsquare Link Clickable

<img width="1140" alt="Screen Shot 2020-03-10 at 5 09 30 AM" src="https://user-images.githubusercontent.com/238235/76296979-76b97d80-628d-11ea-9e25-594e959f71da.png">

[2020-03-10 09:12] #6195 closed

[2020-03-10 09:43] KushMd commented on #6139
@owocki   How does this look?????

![bot](https://user-images.githubusercontent.com/60012090/76299811-b611b980-62e1-11ea-9111-a2588070fb4a.PNG)

[2020-03-10 10:17] KushMd commented on #6139
![bot1](https://user-images.githubusercontent.com/60012090/76302646-5cf85480-62e6-11ea-809f-7f4a75d85e64.PNG)

[2020-03-10 11:21] alialiwa2005 commented on #6167
Yes, @CredissimoNexo has been donating between 5 and 15 USD in ETH multiple times, without me actually recieving any one of his tips.

[2020-03-10 14:08] sebastiantf commented on #5923
Yes @owocki I tested the issue before and after changing the delay for `listen_for_web3_changes`.

There is great improvement in the performance. You could identify the drop in performance if you try scrolling the page up and down continuously. The scrolling of the site would hang for a second whenever the `listen_for_web3_changes` fires. When the delay is `1s`, the site hangs every second, making

[2020-03-10 14:10] theCydonian commented on #6169
@owocki I thought I already had it at 350x350. Sorry about that. I’ll resize today.

[2020-03-10 14:23] octavioamu commented on #6168
@alialiwa2005 you own at least these accounts and used to make tips to your main account
credissimonexo
mapleproject
gitcointranslator

[2020-03-10 14:33] hamzaghz commented on #5893
Hi @owocki sorry for being late, i did combine all drawings in 1 file. plzz let me know if it was submit-table i'd like to update my avatar,
[Barbarian.zip](https://github.com/gitcoinco/web/files/4312963/Barbarian.zip)

Thanks a lot

[2020-03-10 14:45] owocki commented on #6167
looks like  their txs are being dropped or not broadcast...
https://etherscan.io/tx/0xf1f03adee0b3a4d53aafc4d43e08138ed31603f4bc4f175e0b8b9f00c27f6ff9
https://etherscan.io/tx/0xf1f03adee0b3a4d53aafc4d43e08138ed31603f4bc4f175e0b8b9f00c27f6ff9

@credissimonexo what wallet are you using? are you having a hard time broadcasting txs?

[2020-03-10 14:48] owocki commented on #6193
i accidently approved two of u. unapproving one now

[2020-03-10 15:22] owocki commented on #5923
thnaks so much! sounds promising

[2020-03-10 15:22] owocki commented on #5923
thanks so much!

On Tue, Mar 10, 2020 at 8:08 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-10 15:45] theCydonian commented on #6169
@owocki It looked fine on my end. I resized a few things though. Let me know if this works:
[BenderBot.svg.zip](https://github.com/gitcoinco/web/files/4313343/BenderBot.svg.zip)

[2020-03-10 15:52] owocki commented on #5893
this is live at https://gitcoin.co/onboard/profile?steps=avatar&theme=barbarian - anything else i should add to ur bio ?

[2020-03-10 15:52] owocki commented on #5893
heres the file that went live in case there are any updates to make, pls make it off this https://bits.owocki.com/KouWJ1nz

[2020-03-10 16:12] #6135 closed

[2020-03-10 16:15] hamzaghz commented on #6169
Hey @owocki I submitted the updated version. let me know what you think

https://github.com/gitcoinco/web/issues/6169#issuecomment-596148432

[2020-03-10 17:33] owocki commented on #6169
https://bits.owocki.com/kpuYnZP9 is live at https://gitcoin.co/onboard/profile/?steps=avatar&theme=bender

does it look ok?  only thing is the mouth seem to be all the same.

[2020-03-10 17:33] frankchen07 commented on #6011
@developerfred - hows this coming along?

[2020-03-10 17:47] octavioamu opened #6197 "Hackathon / Org relations not dependent on bounty creation"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

_"As a Gitcoin admin I want to associate orgs to a hachathon"_

_"The only repo issues available on that hackathon need to be under that org repos so I can control who participate on a hackaton"_

_"As an org admin I want to be able to change my logo as the normal users but upload my own"_

_"As an Org admin I want

[2020-03-10 17:58] theCydonian commented on #6169
@owocki, half of the avatar displays black for me. Also, it seems like the clipping is not working properly. Does it show properly for you outside the avatar creator?

[2020-03-10 18:01] owocki commented on #6169
no thats what it looks like in sketch too

On Tue, Mar 10, 2020 at 11:58 AM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-10 18:02] theCydonian commented on #6169
@owocki this is what it looks like in firefox for me:
![Screen Shot 2020-03-10 at 11 02 15](https://user-images.githubusercontent.com/31706764/76344341-a5038100-62be-11ea-995e-3600af1d114f.png)

[2020-03-10 18:05] owocki commented on #6169
hmmm it looks like when i opened it up in sketch to correct all of
background elements that are outside of the 350x350 frame then thats when
it breaks

https://bits.owocki.com/RBudLRGp

can you correct your avatar so that its inside the 350x350 frame and i can
use that?

On Tue, Mar 10, 2020 at 12:02 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

___

[2020-03-10 18:06] owocki commented on #6169
wait nvm i got it. will push a fix

On Tue, Mar 10, 2020 at 12:05 PM Kevin Owocki <kevin@gitcoin.co> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-10 18:09] theCydonian commented on #6169
awesome. thanks

[2020-03-10 19:23] dadahaha2020 commented on #6190
Hi @owocki Done with this page : https://gitcoin.co/wiki/get_started/ . Just the first version. If anything needs to be added, please let me know. Thanks😁

[2020-03-10 21:10] frankchen07 opened #6198 "As a Gitcoin sponsor, having a conslidated location for payout of all my hackathon prizes vastly cuts down on the number of clicks it takes to close out my hackathon."
### User Story

As a Gitcoin sponsor, having a conslidated location for payout of all my hackathon prizes vastly cuts down on the number of clicks it takes to close out my hackathon.

### Why Is this Needed

[DO WE HAVE VALIDATION?]

### Description

<img width="1106" alt="payout" src="https://user-images.githubusercontent.com/7516920/76352283-ff570e80-62cb-11ea-80b6-d34236981738.png">

From the d

[2020-03-10 21:40] naszam opened #6199 "Multiple notification messages for the same tip or post mention"
**Describe the bug**
When someone tips on Connect post, I receive multiple notification messages.
Same regarding post where someone mentioned me, I receive multiple notification messages, usually 2.

**To Reproduce**
try to send tips and then check notifications of the tipped user.
try posting on Connect, mentioning someone and check notifications of the mentioned user.

**Expected behavior**
Tipp

[2020-03-10 22:15] naszam commented on #6199
Also, I've noticed just now another aspect of this bug.
When I like a post, I receive the notification regarding the post I've liked as it was sent just now.

[2020-03-10 22:27] owocki commented on #5339
gonna close the bounty here... if anyone who started while it was open submits a finalized submission we should jam then

[2020-03-11 02:32] Blockchayne commented on #6190
I completed a full revision of
“How Do I Use Gitcoin Kudos”

Improved the quality of writing from top to bottom.

Expanded the article significantly.
Added details to the use of Kudos.
Improved the flow.
Improved clarity.
Submitted corrections for grammar and spelling.
Reformatted the bottom half of the article. Added appropriate bullet points and reformatted the list in the last paragraph.

I thi

[2020-03-11 02:40] Blockchayne commented on #6190
Revised,
“I’m just browsing, How do I use Gitcoin”
Made significant improvements on this page as well. Increasing clarity, adding some details, improving flow, format improvements. The changes should be listed in the log. Will link the pages later on.

[2020-03-11 04:17] jschiarizzi commented on #6095
Still struggling to test this with users, i dont understand how the users i've created in django can interact. I followed the docs to make a superuser and then added some new test users and data. but when i look for their profile in `localhost:8080/profile/myTestUser` I just get 404s.

<img width="1059" alt="Screen Shot 2020-03-10 at 9 30 33 PM" src="https://user-images.githubusercontent.com/94495

[2020-03-11 04:45] theCydonian commented on #6194
Todays Progress:
I started work on this bounty today and was able to get gitcoin running locally with docker and github integration. I also looked a bit at the code organization. I did not have much time to dedicate to this today, and docker takes forever to start up on my laptop, so progress was fairly limited.

Plans for the coming days:
I'm planning to start actually writing the code for this t

[2020-03-11 06:58] thelostone-mc commented on #6046
Ah so i think it's to do with textbox animation bit !
The first time you click -> i guess there is an event listener for the animation which blocks the other event listener responsible for submitting the comment. Not sure though

[2020-03-11 08:38] abitrolly commented on #5923
@sebastiantf extending delay from 1 second to 5 just hides the problem without the fix. The check for a missing extension is not computation expensive and should not lead to 1 second block every 5 seconds.

[2020-03-11 08:47] sebastiantf commented on #5923
@abitrolly Should I implement a solution that checks whether the extension is installed/disabled only one time in the beginning when the page loads?

[2020-03-11 08:56] giovannidisiena commented on #6190
@owocki I have added to both https://gitcoin.co/wiki/get_started/get-started-hackathon/ and https://gitcoin.co/wiki/for_coders/, just waiting on the faucet so I can unlock Metamask and submit work via Gitcoin.

[2020-03-11 12:27] walidmujahid commented on #6009
Draft WIP PR opened: https://github.com/gitcoinco/web/pull/6201

[2020-03-11 12:29] walidmujahid commented on #6149
This could be interesting for activities created in response to converting a Townsquare post to an Issue: https://github.com/gitcoinco/web/pull/6201

[2020-03-11 13:55] giovannidisiena opened #6202 "Completed quest but not received kudos in wallet"
**Describe the bug**
I have received a couple of kudos for completing Gitcoin quests a little over 3 days ago. They have appeared on my Gitcoin profile however I cannot see any funds in my ETH wallet so was asked to create this issue.

- OS: mac
- Browser: safari
- Browser Version: latest

[2020-03-11 14:19] abitrolly commented on #5923
@sebastiantf the solution is to identify interface blocker. It maybe a race condition between different hooks or a loop with stack overflow. I don't remember pages that block interface and links on a page when waiting for server reply.

[2020-03-11 14:35] owocki commented on #6202
getting a kudos doesnt put funding your wallet.  it puts an NFT in your wallet

whats your wallet addr

[2020-03-11 14:40] giovannidisiena commented on #6202
Ah, I see, thank you for clarifying and like I said on the Slack channel - I am still very new to this!
My addr is: 0x51cEDe5Ba22619CeECBD3843040c771C6d091Ebd.

Also @owocki, while we're chatting here, do you know how long it will take for the faucet to send gas to my MetaMask wallet so that I can submit work on the wiki?

[2020-03-11 14:47] giovannidisiena commented on #6202
Thanks for the approval and clarifying my query, going to close this now 👍

[2020-03-11 14:54] giovannidisiena commented on #6202
@owocki Just thought of another question - should I still be able to see the NFT or any transaction relating to it? Am I able to send it to another wallet address? Thanks for your patience!

[2020-03-11 15:09] willsputra opened #6203 "Tribes Emails - Contributors #1: Hook & Value Email"
@iamonuwa @PixelantDesign

An email to introduce tribes to contributors.

![Contributors #1 - Hook   Value Email](https://user-images.githubusercontent.com/19514207/76431798-ac24af00-63e4-11ea-9af0-d5aa7a61a9a4.jpg)

[2020-03-11 15:10] willsputra opened #6204 "Tribes Emails - Contributors #2: Biweekly Update"
@iamonuwa @PixelantDesign

A bi-weekly email to show the latest highlights on tribes.

![Contributors #2 - Biweekly Updates](https://user-images.githubusercontent.com/19514207/76432066-0756a180-63e5-11ea-91bb-b4128071725b.jpg)

[2020-03-11 15:12] willsputra opened #6205 "Tribes Emails - Funders #1: Bounty Idea Notification"
@iamonuwa @PixelantDesign

An email to notify funders that they have a new idea from "Suggest a Bounty"

![Funders #1 - Bounty idea notification](https://user-images.githubusercontent.com/19514207/76432213-3ff67b00-63e5-11ea-9c0e-a91bb0d6ae3e.jpg)

[2020-03-11 15:13] willsputra opened #6206 "Tribes Emails - Funders #2: Weekly Email"
@iamonuwa @PixelantDesign

Weekly email to show the latest updates to a funder's tribe

![Funders #2 - Weekly Email](https://user-images.githubusercontent.com/19514207/76432343-6f0cec80-63e5-11ea-8cfa-10cf95bd31e5.jpg)

[2020-03-11 15:14] willsputra opened #6207 "Tribes Emails - Funders #3: Sales Funnel"
@iamonuwa @PixelantDesign

An email to introduce tribes features to funders.

![Funders #3 - Sales Funnel](https://user-images.githubusercontent.com/19514207/76432440-92d03280-63e5-11ea-965d-a0a86bd454d8.jpg)

[2020-03-11 15:50] owocki commented on #6202
npnp

yeah its there, just under a new tab :)
https://etherscan.io/address/0x51cEDe5Ba22619CeECBD3843040c771C6d091Ebd#tokentxnsErc721

these are good questions.  if u want to document them on gitcoin.co/wiki
for those who come after u could earn some ETH for it too!

On Wed, Mar 11, 2020 at 8:54 AM Giovanni Di Siena <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

__

[2020-03-11 15:58] willsputra opened #6208 "Update weekly email build"
@iamonuwa @PixelantDesign

OLD:
![weeklyemail-old](https://user-images.githubusercontent.com/19514207/76437173-bf874880-63eb-11ea-97bf-63bb1661a996.jpg)

NEW:
![weeklyemail-new](https://user-images.githubusercontent.com/19514207/76437182-c1e9a280-63eb-11ea-9321-3f6257d1058f.jpg)

[2020-03-11 16:00] iamonuwa commented on #6208
✊

[2020-03-11 16:00] owocki commented on #6208
wow this looks so much better!

youve been on a roll - any chance a new 'daily email' design is forth
coming too?  that one is frequently sent too

On Wed, Mar 11, 2020 at 9:59 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our r

[2020-03-11 16:02] willsputra commented on #6208
@owocki will work on it!

[2020-03-11 16:14] PixelantDesign opened #6210 "Add Comment Count to Show More Link in Town Square"
### What
Add Comment Count to Show More in Town Square

### Why
No Comment Count

<img width="1082" alt="Screen Shot 2020-03-11 at 12 14 18 PM" src="https://user-images.githubusercontent.com/238235/76438807-ddc05a80-6391-11ea-9163-e1724202dbcc.png">

[2020-03-11 16:16] PixelantDesign commented on #6210
@developerfred, interested in this one?

[2020-03-11 16:20] sebastiantf commented on #6098
Yes @gitcoinbot. I shall need further directions from the Gitcoin Core team to move forward.

[2020-03-11 16:33] PixelantDesign opened #6211 "Hackathon Projects Page"
![Hackathon Project Page-2](https://user-images.githubusercontent.com/238235/76440597-73f58000-6394-11ea-9edd-28f00e238d94.jpg)

[2020-03-11 17:01] PixelantDesign opened #6212 "Take User to Profile After Clicking See Kudos Notification"
### What
Received Kudos Notification doesn't take user anywhere.

### Expected Behavior
Take user to profile after clicking see Kudos notification

### Why
So user can see it

<img width="428" alt="Screen Shot 2020-03-11 at 12 58 34 PM" src="https://user-images.githubusercontent.com/238235/76443188-6e019e00-6398-11ea-80ef-c5fcc99c719a.png">

[2020-03-11 17:38] hamzaghz commented on #6169
Re :
[avatar.tronsformers-5.zip](https://github.com/gitcoinco/web/files/4319796/avatar.tronsformers-5.zip)
Hey @owocki I submitted the updated version. let me know what you think

[2020-03-11 18:34] Calvinoea commented on #6190
Hello @owocki . I have added an article https://gitcoin.co/wiki/user_information/ . Do you think I should add more information or change some information? I would love to work on more articles. Would I need to make another expression of interest on Gitcoin to do that?

[2020-03-11 19:00] Blockchayne commented on #6190
“How do I use the Gitcoin Social Tools?”

Is “social tools” a reference to: Gitcoin Chat, Avatar Builder, Tribes, etc. ?

[2020-03-11 19:09] dadahaha2020 commented on #6190
Working on my second page : https://gitcoin.co/wiki/for_employer/

[2020-03-11 19:16] Blockchayne commented on #6190
Glad I referred you to the community. I thought your first article was excellent. Nice work my friend! ✊🤓

[2020-03-11 19:20] dadahaha2020 commented on #6190
Happy to be here :) Thanks for the feedback. You're doing great too. Let's finish all the pages so we can have an awesome wiki :+1:

[2020-03-11 19:21] owocki commented on #6210
also add "see all" maybe if there are more than 10??

On Wed, Mar 11, 2020 at 10:16 AM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-11 19:21] owocki commented on #6211
wow!

On Wed, Mar 11, 2020 at 10:33 AM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-11 19:26] owocki commented on #6169
thanks - i see a few issues / potential issuesZ:
1. IP - are these original pieces? they look pretty similar to the official
ones, i dont want a lawsuit on our hands
2. can u mask the backgrounds so they fit inside 350x350 viewport?
3. this is a bit different than the other avatars (which dont have whole
items, they just have diff accessories/shirts/hair styles so u can combine
to create an avatar

[2020-03-11 19:28] owocki commented on #6190
keep the edits coming people!  ill be reviewing towards the end of the
week + early next week

On Wed, Mar 11, 2020 at 1:20 PM dadahaha2020 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-11 19:31] dadahaha2020 commented on #6190
We will. Btw, will just post all the links of the pages I finish once am all done. I already made a submission in the Bounty Page but only one page link was there. Thanks!

[2020-03-11 20:11] androolloyd commented on #6211
this is great.

[2020-03-11 20:17] frankchen07 commented on #6208
dope things are looking good! just wanted to link this ticket too since it's dependent on it: https://github.com/gitcoinco/web/issues/6011

[2020-03-11 20:19] loganbek commented on #6190
I would consider those all social tools. Townsquare's a big one too. Maybe tipping?

[2020-03-11 20:44] alialiwa2005 commented on #6168
No, these are fake accounts, impersonating me. I do not own any of them, but I have been falsely tipped by them before.

If there is a way for me to prove that I do not own the accounts above, please let me know and I shall prove I have no affiliation with the listed usernames.

[2020-03-11 20:47] alialiwa2005 commented on #6167
I think @credissimonexo turned out to be one of the fake accounts who trolled me on purpose.

https://github.com/gitcoinco/web/issues/6168#issuecomment-597113423

[2020-03-11 20:50] alialiwa2005 commented on #6167
I guess this issue (of false tips) is possible if someone does it on purpose, as @credissimonexo has, and other accounts including those that impersonate me (@mapleproject).

Otherwise, I haven't had this issue except once, which may have been a genuine issue, when @Solexplorer tipped me the first time ever.

[2020-03-11 20:56] L-KH commented on #6169
Hey @owocki ,I would like to know if you will accept that kind of avatar? (inspired by Roblox game) if yes I'll try to add items and background to complete the pack. please let me know asap
![git](https://user-images.githubusercontent.com/12660772/76463003-f1e07800-63e2-11ea-99c8-c6571b986d92.png)
btw for sure, I'll add some shadow effect.

[2020-03-11 21:18] octavioamu commented on #6168
Ok, so can you explain this?
https://etherscan.io/tx/0x62f5ec393c66f0f88785a15e1441455e95bca9177f68644cb3210cb848a53e98

[2020-03-12 01:03] walidmujahid commented on #6211
I will be working on this.

[2020-03-12 03:27] theCydonian commented on #6194
@owocki where would you like me to put the button to switch the background? Right now I'm debating whether it is better to put it next to the GIF button or the poll button.

[2020-03-12 04:34] owocki commented on #6194
Poll button!

On Wed, Mar 11, 2020 at 9:28 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-12 04:46] theCydonian commented on #6194
sounds good

[2020-03-12 08:14] #6202 closed

[2020-03-12 08:16] giovannidisiena commented on #6190
Added some more updates regarding kudos and NFT to these two pages: https://gitcoin.co/wiki/get_started/get-started-kudos/, https://gitcoin.co/wiki/for_coders/

[2020-03-12 09:38] zoek1 commented on #6087
Still working on this more updates in a couple of hours :smile:

[2020-03-12 09:41] zoek1 commented on #6018
@gitcoinbot working on this :P

[2020-03-12 14:21] PixelantDesign commented on #6211
@androolloyd we should jam on what's the next step after this if we want to explore shapr!

[2020-03-12 15:14] developerfred commented on #6211
Awesome!

[2020-03-12 15:16] developerfred commented on #6188
I would love to work on this issue.

[2020-03-12 17:18] owocki commented on #6203
@willsputra

is there a spec for this?  i wanna review it, but i'd rather have the spec in the back of my mind when i do.

same question for the other 4-5 emails u just posted

[2020-03-12 17:40] iamonuwa commented on #6208
On it guys

[2020-03-12 17:42] owocki commented on #6139
@KushMd they look a little amateurish in terms of illustration, but they're still fun

[2020-03-12 17:46] owocki commented on #6139
i *think* i've paid everyone out correctly.. if not contact me on gitcoin chat

note that the gas fees on the eth network are somewhat high rn. might take a couple of hours for the tx to clear

[2020-03-12 17:51] owocki commented on #6190
just paid out everyone who submitted work on gitcoin. seriously great submission so far everyone. keep them coming .

also any suggestions for discoverability of these pages would be welcome!

[2020-03-12 17:57] dadahaha2020 commented on #6190
Thank you for the payment. I also worked on another page : https://gitcoin.co/wiki/for_employer/. Can't submit it on the Bounty page.

Will be doing other pages and drop link here once done. 😁

[2020-03-12 18:19] VipRomarioAgro opened #6216 "Огромное Вам спасибо"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-03-12 19:58] dadahaha2020 commented on #6190
@owocki I was on writing process for the page about CodeFund but it looks like the Wiki Guide has changed and it is no longer available. Are we discarding the page? Thank you.

[2020-03-12 20:18] owocki commented on #6190
What wiki guide changed? Link me .. does the change history show who did it

On Thu, Mar 12, 2020 at 1:59 PM dadahaha2020 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-12 20:25] dadahaha2020 commented on #6190
Previous Page Links are no longer there -https://gitcoin.co/wiki  . Looks like it was re - organized. Only shows locked by you with recent change - https://gitcoin.co/wiki/_history/

[2020-03-12 20:30] owocki commented on #6190
Hmm I don’t know what happened. Give me the link and I can put it back

On Thu, Mar 12, 2020 at 2:26 PM dadahaha2020 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-12 20:35] dadahaha2020 commented on #6190
Here's the link that I have before https://gitcoin.co/wiki/get_started/_create/?slug=get-started-codefund

[2020-03-12 20:49] srisankethu commented on #6190
@owocki Thanks for the tip, but looks like I got paid twice.

[2020-03-12 21:19] PixelantDesign opened #6217 "Add Tribes promo graphic to town square"
### What
Add Tribes promo graphic to town square.
Display for all users
User should be able to dismiss this, once they've seen it.

### Why
We want contributors to join tribes
Link to this page:https://gitcoin.co/users?persona=tribe

### Assets
<img width="1652" alt="Screen Shot 2020-03-12 at 5 15 52 PM" src="https://user-images.githubusercontent.com/238235/76567602-84395800-6485-11ea-93d5-419c487

[2020-03-12 21:39] owocki commented on #6190
pay it forward to someone else in the community :)

@dad go go for it - and link me when it's rdy.

On Thu, Mar 12, 2020 at 2:49 PM Sri Sanketh Uppalapati <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-12 21:42] owocki commented on #6217
what do u guys think of consolidating promo graphics near the actions
module, such that they are kind of an 'action you can see before you click
it'?

On Thu, Mar 12, 2020 at 3:19 PM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our resu

[2020-03-12 21:56] hamzaghz commented on #6139
Hey @owocki , just wondering why tips someone with .8 and other 0.5 or 0.3. what was the criteria?? we've all done the same work (2 kudos).  thanks anyway

[2020-03-12 22:06] hamzaghz commented on #6169
hey @owocki many girls asked for a Curly hair avatar. may I fulfill that through this bounty, it will be very nice to achieve this on the occasion of women's day; isn't it??

[2020-03-12 22:07] Roundtree-Larry commented on #6169
hey @owocki , my submission is here give it a look and let me know if its good or if its need a modification
[RoboCop.zip](https://github.com/gitcoinco/web/files/4326827/RoboCop.zip)

[2020-03-12 22:20] kamal13afin commented on #6139
I don't think I've been paid.

[2020-03-12 22:22] writeprovidence commented on #6139
![cypherpunk-01](https://user-images.githubusercontent.com/31359701/76571536-093d6500-64b8-11ea-8cfe-99a55ff91ad2.png)
![cypherpunk-02](https://user-images.githubusercontent.com/31359701/76571561-16f2ea80-64b8-11ea-9cda-41966a3bc073.png)
![cypherpunk-03](https://user-images.githubusercontent.com/31359701/76571586-22deac80-64b8-11ea-9f79-308e290db011.png)
@owocki pls take a look at those creatives

[2020-03-12 22:23] Roundtree-Larry commented on #6139
those kudos are from the bounty of 2019 when you ask for robot kudos. unfortunately i didn't submit them because I was too late and bounty closed. please check them now

![001](https://user-images.githubusercontent.com/54907197/76571496-f62a9500-64b7-11ea-94b9-c98c4f7ead3a.jpg)
![photo_2020-03-06_19-39-54](https://user-images.githubusercontent.com/54907197/76571549-0e9aaf80-64b8-11ea-822a-373ebd75

[2020-03-12 22:30] owocki commented on #6169
hamza - go for it. donno how well price it.. but submit a PR to the repo
with the avatar3d files updated and ill merge it

larry can you
for each item in the dom,
- make sure it follows the naming convention type_permutation so ears_1
ears_2 ears_3 for type ears
- make sure no item that needs to be displayed in the DOM is more than 1
layer deep
- make sure each element in th eDOM is a g object (wh

[2020-03-12 22:31] owocki commented on #6169
added this to the spec since people dont seem to be getting it from the screenshot:

for each item in the dom, 
- make sure it follows the naming convention type_permutation so ears_1 ears_2 ears_3 for type ears
- make sure no item that needs to be displayed in the DOM is more than 1 layer deep
- make sure each element in th eDOM is a g object (which i think stands for group)

[2020-03-12 22:35] owocki commented on #6139
hamza, not everyone did the same work.  also the spec has the payment amount information

@writeprovidence i especially like the center one!

 @Roundtree-Larry looks like a kewl start.. could maybe use a background and perhaps more neutral colors

[2020-03-12 22:51] writeprovidence commented on #6139
@owocki thanks for your feedback, are there good enough to be submitted?

[2020-03-12 22:53] Roundtree-Larry commented on #6169
@owocki  sorry i am not sure if i understand the last two item of DOM but please can check now the svg and ai
[robocop.zip](https://github.com/gitcoinco/web/files/4326964/robocop.zip)

[2020-03-12 23:02] theCydonian commented on #6194
@owocki can you provide a bit more info on how you want the background to be displayed. Just a straight background image looks a bit strange. Maybe display like gifs underneath? Maybe add a white semitransparent island for the content to sit on and just have the background fully visible in the margins?

[2020-03-12 23:07] ATorbMain commented on #6139
Hey @owocki

I submitted a design with the kudo displayed below but I don't believe I've received payment? I'm rather new to this, so that might just be a misunderstanding

![GlitchGitBot](https://user-images.githubusercontent.com/61924140/76575101-a4bcde80-6494-11ea-97e2-f3be6ceead63.png)

[2020-03-12 23:12] b1dr commented on #6139
Same here, I submitted two designs "EthtE" and "SustainOSS", but I did not get paid.

[2020-03-13 00:10] frankchen07 commented on #6208
hi @iamonuwa - nice to see you here again! :)

[2020-03-13 00:11] frankchen07 commented on #6087
Awesome - thanks for the updates! When you're almost done, if it's not too hard, can you make a screen video of the changes so we can also see them?

[2020-03-13 00:16] iamonuwa commented on #6208
Thanks @frankchen07

[2020-03-13 02:12] x5engine commented on #6081
@owocki can you try this? I have 8 kudos too on my address but only 6 showing up on my profile

[2020-03-13 03:15] owocki commented on #6194
I defer to your judgment about what will look good

On Thu, Mar 12, 2020 at 5:02 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 03:18] theCydonian commented on #6194
ok I'll do what I think looks best

[2020-03-13 08:46] giovannidisiena commented on #6190
I just added https://gitcoin.co/wiki/what_does_gitcoin_do/ and made some minor formatting changes to https://gitcoin.co/wiki/wiki_faq/.  I think it would also be good to have a page on Web3 tech but can't seem to make a new page.

[2020-03-13 09:55] zoek1 commented on #6193
@owocki quick question: the `FundRequest` model isn't already implemented right?

[2020-03-13 12:08] Roundtree-Larry commented on #6139
@owocki I update the kudos can you check them?

[2020-03-13 13:20] x5engine opened #6222 "BUG To add comment you have to click two times on comment"
Hello guys,

here it the bug

https://share.vidyard.com/watch/Ew9N6v5WUAumgqyZaqVjC3?

**Describe the bug**
To add comment you have to click two times on comment otherwise it won't be submitted

**To Reproduce**
just go to town square and comment on any post

**Expected behavior**
One click and it should be live, like it used to be

**Screenshots**
https://share.vidyard.com/watch/Ew9N6v5WUAumgqyZa

[2020-03-13 14:30] willsputra commented on #6207
updated design based on Adina's feedback
![Funders #3 - Sales Funnel](https://user-images.githubusercontent.com/19514207/76629965-c8a22200-6571-11ea-9861-8d14c3d2bbf4.jpg)

[2020-03-13 14:31] willsputra commented on #6204
updated design based on Adina's feedback
![Contributors #2 - Biweekly Updates](https://user-images.githubusercontent.com/19514207/76630001-dc4d8880-6571-11ea-82cd-6492f8515975.jpg)

[2020-03-13 14:31] willsputra commented on #6203
updated design based on Adina's feedback
![Contributors #1 - Hook   Value Email](https://user-images.githubusercontent.com/19514207/76630029-e8d1e100-6571-11ea-8627-de221bd7f6a4.jpg)

[2020-03-13 14:51] owocki commented on #6139
@Roundtree-Larry updated where?

[2020-03-13 14:52] owocki commented on #6139
@Roundtree-Larry @writeprovidence sounds good pls submit

[2020-03-13 15:07] owocki commented on #6169
it works! will go out in next deploy + will pay then
https://bits.owocki.com/d5u091GR

On Thu, Mar 12, 2020 at 4:53 PM Roundtree-Larry <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 15:11] iamonuwa commented on #6203
Looks good. Is this the final copy?

[2020-03-13 15:11] iamonuwa commented on #6203
Please share sketch files as well so I can update assets

[2020-03-13 15:13] Roundtree-Larry commented on #6169
thank you & please if you think that need modification or specific item to add tell me and i will add

[2020-03-13 15:27] owocki commented on #6193
no it is not

On Fri, Mar 13, 2020 at 3:55 AM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 15:30] willsputra opened #6223 "As a user, I want to browse the town square in dark mode 🌙"
### User Story
As a user, I want to browse the town square in dark mode 🌙

### Description
Type:
Feature

### Current Behavior
No night mode

### Expected Behavior
User can browse the town square in dark mode
Put a toggle to switch from light to dark mode and vice versa

figma link: https://www.figma.com/file/pu7gNTLMDT6SIZABJHH0T9/Gitcoin-Town-Square-Dark-Mode?node-id=0%3A548

![darkmode](https:/

[2020-03-13 15:35] owocki commented on #6223
looks great - shall we bounty?

On Fri, Mar 13, 2020 at 9:30 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 15:36] Roundtree-Larry commented on #6139
@owocki i submit them thank you

[2020-03-13 15:37] willsputra commented on #6223
yea I think @molecula451 is interested to work on this!
https://gitcoin.co/townsquare?tab=activity:158979

[2020-03-13 15:39] owocki opened #6224 "redesign grants modules"
https://www.figma.com/file/OAwjMgNRZe16or6QLxIhWx/Grants-CLR-Matching-4?node-id=0%3A1

scope of this is to take the above figma design and apply it to the grants designs at gitcoin.co/grants

[2020-03-13 15:39] owocki commented on #6224
@zoek1 u want this?

[2020-03-13 16:07] zoek1 commented on #6224
Yes please @owocki 😁

[2020-03-13 16:34] walidmujahid commented on #6191
Sorry, I will try to publish a WIP PR soon.

[2020-03-13 16:37] owocki commented on #6224
go for it; what do u think is a fair  ETH price? i can bounty it formally or just tip u when PR is merged

[2020-03-13 16:38] owocki commented on #6192
@santteegt how goes?  are we on track for thsi?

[2020-03-13 16:56] azizyano commented on #6169
@owocki hello, i am confused what the best one to working on it can you help me.
![photo_2020-03-13_17-54-46](https://user-images.githubusercontent.com/32180132/76642640-e496cb00-6553-11ea-9dbf-8153c4268c92.jpg)
![photo_2020-03-13_17-54-59](https://user-images.githubusercontent.com/32180132/76642651-e9f41580-6553-11ea-9afe-c774249fd1c1.jpg)

[2020-03-13 18:13] KushMd commented on #6169
https://drive.google.com/open?id=1HVpFM0rcXLjaCkCW2wqCd96QNp93ITsR

@owocki  Anything else i should add??

[2020-03-13 19:21] biuxmaster commented on #6139
@owocki  Hi, I made a few kudos. Can you please tell me what you think?
![kudos](https://user-images.githubusercontent.com/49821444/76653025-c1721880-655f-11ea-96f5-e71f7672164b.png)

[2020-03-13 19:35] ATorbMain commented on #6223
I'm rather new to all this, if I wanted to help with this how would I get started?

[2020-03-13 19:48] owocki commented on #6223
lets figure out who wants to work on it then bounty it (or just make a handshake deal to tip afterwards)

new contributor docs are at https://github.com/gitcoinco

[2020-03-13 19:49] owocki commented on #6139
they look great! pls submit them

On Fri, Mar 13, 2020 at 1:21 PM biuxmaster <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 19:58] ATorbMain commented on #6223
Oh thank you! I'll get to reading those ^v^

[2020-03-13 20:10] owocki commented on #6169
@azizyano i think they are both cool but the 2nd is more orignal (and ETH-ey) so i vote that one

@KushMd i cant seem to open that svg in sketch for some reason.. but from the preview image it looks directionally right

[2020-03-13 20:16] hamzaghz commented on #6190
Hey @owocki , I've just added https://gitcoin.co/wiki/get-started-grants/       can I submit it ??

[2020-03-13 20:17] owocki commented on #6190
pls do!

On Fri, Mar 13, 2020 at 2:16 PM hamza <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-13 20:54] Calvinoea commented on #6190
Hello @owocki I just made another article https://gitcoin.co/wiki/for_community/ . I will work on more.

[2020-03-13 21:03] x5engine commented on #6223
I want to bounty on it :) Just hit me up with anything you need guys!

[2020-03-13 21:20] ATorbMain commented on #6223
I'd love to work on this!

[2020-03-13 21:25] x5engine commented on #6223
@ATorbMain let's work on this :)

[2020-03-13 22:23] nasehim7 commented on #6169
@owocki Hi Kevin, here is a MegaMan Sketch:

![image](https://user-images.githubusercontent.com/18035782/76663502-2ac94a00-65a7-11ea-9f9c-fd5255680c8d.png)

Here is the SVG to Megaman: https://drive.google.com/file/d/1ko-4ZZrBQ2dxoHkYWaYAHedSG2cjRiDW/view?usp=sharing

[2020-03-13 23:00] ATorbMain commented on #6169
@owocki Hey Kevin! My Works Complete! There's a bunch of Accents, Heads and Background to swamp around
![GitBotR2D2Sample1](https://user-images.githubusercontent.com/61924140/76665029-bec1f400-655c-11ea-937d-0756b07d2772.png)
![GitBotR2D2Sample2](https://user-images.githubusercontent.com/61924140/76665033-bff32100-655c-11ea-94b5-0dff92b73f2d.png)

The SVG is right here:
https://drive.google.com/fi

[2020-03-13 23:06] ATorbMain commented on #6223
It'd be a pleasure to!

[2020-03-13 23:42] azizyano commented on #6169
https://drive.google.com/file/d/1LyNBej9AKa76xABgyfLHeyDyPd01tiMW/view?usp=sharing
![image](https://user-images.githubusercontent.com/32180132/76669590-a669cd80-658c-11ea-8e74-eb6b115e6b72.png)

[2020-03-14 00:55] santteegt commented on #6192
HI @owocki,

Currently working on this. Will be sending a PR tomorrow for a review

[2020-03-14 02:01] x5engine commented on #6223
my pleasure too :)

[2020-03-14 03:22] jschiarizzi commented on #6095
The world was been a little crazy the last few days. I'm still here. Planning to spend some more time figuring out the django setup tomorrow.

[2020-03-14 04:28] theCydonian commented on #6194
Another Progress Update:

So work has been a bit slow. Gitcoin is a really large project so figuring out how everything is connected and functioning has been more than a bit time consuming. However, I think I'm getting the hang of it, and I can now move a bit faster. I sucsessfully added a dummy button in both townsquare and profile for backgrounds. I adjusted how everything is displayed so everyt

[2020-03-14 09:18] iamonuwa commented on #6208
@willsputra figma link for this as well to export assets

[2020-03-14 11:51] Nanshulot commented on #6139
I made a 3 kudos. May I SUBMIT ?
![image](https://user-images.githubusercontent.com/61803313/76681351-54f42980-65f2-11ea-9e6e-f6d05829e671.png)
![image](https://user-images.githubusercontent.com/61803313/76681357-66d5cc80-65f2-11ea-95d3-6819c37446f0.png)
![image](https://user-images.githubusercontent.com/61803313/76681372-80771400-65f2-11ea-9921-769ba2799dbe.png)

[2020-03-14 11:58] biuxmaster commented on #6139
@owocki Hi, I already did the PR https://github.com/gitcoinco/creative/pull/193  and submitted them on https://gitcoin.co/kudos/new

[2020-03-14 15:00] kencode7 commented on #6190
Hello @Calvinoea need some bit of help... created a new article below WELCOME
I can't find the article

[2020-03-14 15:05] kencode7 commented on #6190
Hello @owocki
I wrote this article [As an OSS contributor, what skills do I need to contribute to GITCOIN ](https://gitcoin.co/wiki/wiki_faq/oss-contributor-what-skills-do-i-need-contribute-g/).
Thanks, will do more, just need feedback

[2020-03-14 16:11] Cryptoblarabi opened #6229 "Your github profile is too new. Cannot receive kudos."
I'm finished a game and won , but when i tried to claim my prize this message appears to me '
Your github profile is too new. Cannot receive kudos '

How long should i wait to claim my prize ? I'm a new members .

[2020-03-14 17:05] Blockchayne commented on #6190
I reformatted and rewrote a substantial portion of both of these articles. The logs were updated with every correction made including a summary of why. The log will also reflect the extent of the differences.  One of them was rewritten altogether to improve the quality and clarity.

Please refer to the logs for verification.

Submitting work for the two articles linked below:

https://gitcoin.co/w

[2020-03-14 18:48] dadahaha2020 commented on #6190
@owocki Hello. My 2nd and 3rd Wiki Page Entries are ready for your review. Here are the links :

[2020-03-14 18:49] dadahaha2020 commented on #6190
@owocki  Hello. My 2nd and 3rd Wiki Page Entries are ready for your review. Thank you
Here are the links :

https://gitcoin.co/wiki/for_employer/

https://gitcoin.co/wiki/get_started/get-started-codefund/#

[2020-03-14 23:10] hamzaghz commented on #6169
https://github.com/gitcoinco/creative/pull/195

[2020-03-14 23:31] youssefs0102 commented on #6139
@owocki , here is the two Kudos i made, i hope you like them and i want to know if they are ready to be submitted if not pls tell me to modify them, Thanks
![ttt](https://user-images.githubusercontent.com/36574996/76692246-be545680-664b-11ea-88e1-e576da5c9ad4.png)

[2020-03-15 01:20] L-KH commented on #6169
Hey Kevin, sorry for my late submission. I just make some last moves and here an example of avatar:
![Sans titre](https://user-images.githubusercontent.com/12660772/76693289-d5eb0980-6662-11ea-9e29-f86be2b86113.png)
and here is the SVG format :
[terminator.zip](https://github.com/gitcoinco/web/files/4333674/terminator.zip)
Please if its good and u like it, let me know .. I will add some more backg

[2020-03-15 05:36] dadahaha2020 commented on #6229
Github account has to mature before you can claim kudos

[2020-03-15 07:42] zizouzzzzz commented on #6229
Thank you for you answering me . but how can i can mature my account ?

[2020-03-15 15:27] santteegt commented on #6192
Hi @owocki,

Quick question before sending my PR. Do you require `token->USD` price data only, or `ETH->token` prices also?

[2020-03-15 18:08] santteegt commented on #4122
Looks like my PR got finally merged 😃

[2020-03-15 23:48] vargaspeniel commented on #6190
Hello there, @owocki.

I have submitted my work for review: [I'm an OSS project, how do I use gitcoin?](https://gitcoin.co/wiki/for_oss/)
If I happen to work on another wiki page before the bounty ends, I will let you know.

P.S. Feel free to contact me, if you would like any content to be translated to Japanese. :smiley_cat:

[2020-03-16 00:28] wizzfile opened #6233 "thank you"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [x] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-03-16 00:29] wizzfile commented on #6233
Thank you!

[2020-03-16 02:15] PixelantDesign commented on #6095
Thanks for the update @jschiarizzi

[2020-03-16 12:26] danlipert opened #6235 "Write a wiki article explaining CLR how it is used on Gitcoin"
For this bounty, I'd like someone to write an article for the Gitcoin wiki how what CLR is, and how it is used on Gitcoin within the townsquare as well as in grants.

[2020-03-16 13:23] danlipert opened #6236 "Write a Wiki article explaining the difference between ETC and ETH, and how the two chains came from one"
To celebrate the integration of ETC into Gitcoin, please write an article that talks about the difference between the two, as well as the origin story behind the fork.

[2020-03-16 13:32] PixelantDesign opened #6237 "Build Integrated Hackathon View"
### User Story

As a Gitcoin we'd like to have a cleanly integrated hackathon experience so contributors can find what they need to participate and focus on building the best projects possible.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

- have

[2020-03-16 14:08] #4465 closed

[2020-03-16 14:11] PixelantDesign commented on #6217
users generally look at the upper left hand corner first and following/growing tribes is a top priority, which is why it's placed there. Putting on the right, I wonder if it'll get ignored.

[2020-03-16 14:13] owocki commented on #6229
just marked your accounts as trusted. pls proceed now

btw howd you find gitcoin?

On Sun, Mar 15, 2020 at 1:42 AM zizouzzzzz <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-16 14:20] owocki commented on #6192
both would be best. does that increase complexity a lot?

On Sun, Mar 15, 2020 at 9:27 AM Santiago Gonzalez Toral <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-16 14:33] santteegt commented on #6192
Not at all. So I'll update my PR to include both trading pairs

[2020-03-16 15:46] owocki commented on #6194
feel free to submit a WIP PR and tag us where you need help looking around
the app!

backgrounds to look. I now have two options. The first is that I just add
in the backgrounds raw and change text color to make it look right. The
second is that I have a translucent banner for the content to sit on. Right
now I prefer the second. @owocki <https://github.com/owocki> take a look.

hmm the problem is

[2020-03-16 15:50] owocki commented on #6139
these look great!  pls submit

[2020-03-16 15:53] owocki commented on #6169
@azizyano can you review the submission requirements pls?   looks good visually but doesnt follow the spec for the svg at all

[2020-03-16 15:54] owocki commented on #6169
many of you have contacted me on DM or PR regarding your submission and i think i responded to all those so far.

[2020-03-16 15:55] owocki commented on #6018
@alexvotofuture did you see the comments above

[2020-03-16 15:59] owocki commented on #6190
thanks everyone. aiming to review & payout another batch tues or weds

On Sun, Mar 15, 2020 at 5:49 PM Peniel Vargas <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-16 16:00] owocki commented on #6233
:)

On Sun, Mar 15, 2020 at 6:29 PM Alien <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-16 16:36] biuxmaster commented on #6139
@owocki  Hey, can you please accept me so that I can submit the work? The link of the PR is here https://github.com/gitcoinco/web/issues/6139#issuecomment-599047726

[2020-03-16 16:42] owocki commented on #6139
working on it. theres a rpdouction issue with accepting workers and im trying to figure it out

[2020-03-16 16:43] biuxmaster commented on #6139
No problem, thanks for the attention I'll wait

[2020-03-16 17:44] Nanshulot commented on #6139
[kudos hulot.zip](https://github.com/gitcoinco/web/files/4339571/kudos.hulot.zip)

My submission is modified

[2020-03-16 17:50] owocki commented on #6139
pls follow the submission instructions @Nanshulot

[2020-03-16 18:23] azizyano commented on #6169
hello @owocki this is my work

[photo_2020-03-13_17-54-59-Recovered.zip](https://github.com/gitcoinco/web/files/4339754/photo_2020-03-13_17-54-59-Recovered.zip)

[2020-03-16 19:42] theCydonian commented on #6194
@owocki how is the facebook one displayed once it is posted? Could you take a screenshot? I don't have a facebook account and am having some trouble with the burner phone number sites. The reason why I thought the stripe would be good is that it ensured contrast with any background and therefore allows for more choices.

[2020-03-16 20:25] theCydonian commented on #6194
@owocki also, is there any documentation or details on your static url system. I definitely want to be doing things the "right" way. I definitely want to make sure gitcoin's code continues to be clean and not too hacky.

[2020-03-16 21:21] owocki commented on #6194
<img width="491" alt="Screen Shot 2020-03-16 at 3 20 23 PM" src="https://user-images.githubusercontent.com/513929/76800627-b1457d80-6799-11ea-9b80-8994a24c72f1.png">
<img width="508" alt="Screen Shot 2020-03-16 at 3 20 19 PM" src="https://user-images.githubusercontent.com/513929/76800632-b4406e00-6799-11ea-9356-5ce244d2f36d.png">

 heres some fb screenshots.

just wrap things in the default `stati

[2020-03-16 21:29] theCydonian commented on #6194
Oh so kind of like how the gifs are now. Thanks!

Sent from my iPhone

[2020-03-16 21:31] Calvinoea commented on #6190
@owocki Hello. I just wrote a Wiki article on DAI. Are there any changes I should make? https://gitcoin.co/wiki/for_receivers_of_dai/

[2020-03-16 21:47] octavioamu commented on #6223
**To the person who do this one.**
Be aware you need to use css inheritance so one class at the top of the document should change all the components colors.

[2020-03-16 21:47] owocki opened #6241 "as a user i want gitcoin to warn me that it has no ability to recover standard bounty funds, so i dont lose my private key and expect gitcoin to bail me out"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user i want gitcoin to warn me that it has no ability to recover standard bounty funds, so i dont lose my private key and expect gitcoin to bail me out

### Why Is this Needed
feedback from a user who lost his pk: The way I would solve this is with the following approach: gitcoin knows your publickey/address bei

[2020-03-16 21:52] frankchen07 commented on #6208
@iamonuwa - I think this ticket rolls into https://github.com/gitcoinco/web/issues/6011 - do you agree?

[2020-03-16 21:57] octavioamu commented on #6237
looking nice, some questions:
- How users register?
- what data can I see for participants?
- Is projects a tab or will open the project page that already exist?
- What is inside about tab?

Seems there are some design changes on the prize but since that is shared with normal bounties please review what informations are showed there.

[2020-03-16 21:58] iamonuwa commented on #6208
@frankchen07 any design for that? @iamonuwa is available to disrupt ✊

[2020-03-16 22:02] frankchen07 commented on #6208
oh I thought this ticket was the specific design for that. @willsputra to confirm or deny

[2020-03-16 22:04] PixelantDesign commented on #6237
Thanks for the feedback @octavioamu - work in progress.

[2020-03-16 22:23] azizyano commented on #6169
hello @owocki, this is my work. I hope you will like it
[avatar.zip](https://github.com/gitcoinco/web/files/4340633/avatar.zip)

[2020-03-16 23:06] vporton opened #6243 "Please add 1. a catalog of free software; 2. a catalog of open books and (scientific) articles"
### User Story

It would be nice to add to GitCoin a catalog of software and (like arXiv but only open source and with less moderation restrictions) a catalog of free books/articles.

Each item should be accompanied with a prominent matching donation form. (This way we would probably build the first matched donations site for open products.)

We can mirror the entire GitHub using cached API reques

[2020-03-16 23:12] owocki commented on #6169
@azizyano your submission doesnt follow the spec for svgs.  also all the avatar items have diffenet styles (color scheme, line height)

[2020-03-16 23:12] owocki commented on #6169
closing this bounty for new submissions. if youve already started work + been approved pls continue ahead)

[2020-03-16 23:14] owocki commented on #6139
looks good pls submit

On Mon, Mar 16, 2020 at 11:44 AM Nans.hulot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-16 23:15] vporton commented on #6113
It may work even better if we add a button with "double thumb" meaning "like very much" or even better allow the user to select 1-5 stars.

Also clicking on ad link should count like a thumb up.

[2020-03-16 23:22] vporton opened #6244 "Add descrition tags to grant pages"
**Describe the bug**

Add description meta tags to grant pages. Otherwise, they look in Google like this:

https://gitcoin.co/grants/179/algebraic-general-topology
Next update : 23 minutes ago | Last updated : 4 hours ago. TEAM. vporton. 0x36A0356d43EE4168ED24EFA1CAe3198708667ac0. ACTIVITY DESCRIPTION

[2020-03-16 23:36] vporton commented on #6113
We also should support a search engine finding such ads, with the order of the results being determined by the number of thumbs up (or stars).

[2020-03-16 23:44] vporton commented on #6243
We should allow users to vote 1-5 stars for these products and search in the products by the same principles as https://github.com/gitcoinco/web/issues/6113 to show products by user interest not by the amount of money and time invested into product advertising (free advertising for free software).

[2020-03-17 00:01] vporton commented on #6113
A related math statistics problem: https://math.stackexchange.com/q/3583587/4876

[2020-03-17 00:14] vporton commented on #6113
To constrain abuse of the system by posting too many ads by a single user with the purpose to gain more exposure, we could allocate impressions per GitHub organization.

If there will be nevertheless too much spam, think later.

[2020-03-17 00:32] vporton commented on #6113
Ad links should open in a new tab, to be sure the user can rate the ad afterward.

[2020-03-17 01:03] molecula451 commented on #6223
@owocki I got half of the work done just need to finish all style as ocativou said

![record-20575216032020](https://user-images.githubusercontent.com/41552663/76811856-75c2a780-67c9-11ea-82d1-db08ba959059.gif)

[2020-03-17 11:29] zoek1 commented on #6237
Would be great to have easy access to prizes entries that the user already started. Many times the prize that i was looking for was at the end of the list. Also many times i look only for the Judging Criteria and the submission deadline.

[2020-03-17 13:51] Nanshulot commented on #6139
[kudos hulot.zip](https://github.com/gitcoinco/web/files/4343262/kudos.hulot.zip)

[2020-03-17 15:15] L-KH commented on #6169
Hey @owocki , I think here I finish my work adding some other backgrounds and items. I hope its good now to be deployed in Gitcoin. please can you check it and let me know for any remarks or feedbacks.
Here an example face:
![example](https://user-images.githubusercontent.com/12660772/76870564-26808380-686a-11ea-840b-63a27cc27e9a.png)
unfortunately, I can't come up with mouths design in my mind so

[2020-03-17 16:44] PixelantDesign commented on #6090
@developerfred any updates here?

[2020-03-17 16:55] brad-decker commented on #6223
@owocki are we supposed to start working on this before being approved through Gitcoin? Trying to figure this system out. I haven't yet started work.

[2020-03-17 20:00] alialiwa2005 commented on #6167
Just noticed some tips today which I have not received, tipped about a week ago.

I think a great advancement for the future of Gitcoin is to, include in the notifications, a link to the ether scan transactions.

![image](https://user-images.githubusercontent.com/27908087/76896475-3d25db00-6868-11ea-9010-7c982e4f8d1b.png)

[2020-03-17 20:17] octavioamu commented on #6237
@zoek1 totally a tab "My prizes" seems very relevant

[2020-03-17 20:27] owocki commented on #6223
@brad-decker @molecula451 no we are not supposed to :P

[2020-03-17 20:27] owocki commented on #6223
will look thru peoples profiles today

[2020-03-17 21:00] octavioamu commented on #6168
Any update @alialiwa2005 ? I was waiting some sincerity here to be true.
I believe you are a valuable community member but you strongly failed doing this.
Help me to help you man.

[2020-03-17 21:08] octavioamu commented on #6198
I don't understand this screen 100% why a separated screen for this and not handle it like ETC?

[2020-03-17 21:40] owocki commented on #6237
@connoroday @vs77bb @theperegrineco per the video planning call today, should we plan to integrate any video functionality into this design?

cc @vs77bb  @ceresstation who has a nerd-crush on jitsi and was talking about how it could improve hack experience  :)

[2020-03-17 22:24] ThePeregrineCo commented on #6237
I think so. When I look at this it seems like it needs a Home tab where a high energy promo video lives with a vision blurb and other details. Is that currently the About content? I could also see the Sponsor template pages with a 1-2 min overview video and their aggregated bounties below.
Integrating Jitsi could be really interesting with ideas like office hours in the evening and break out rooms

[2020-03-17 22:56] walidmujahid commented on #6191
@owocki Sorry for taking so long on this. I am making a point to get this done soon. Some changes to my initial work plan after look at things could be summed up as basically refactoring 58826bd62678ba1cd19007c2755b09243c5e2389

The main issue is that currently the dropdown is a div with link elements standing in for options. Initially, this did not make much sense to me, so when I saw your issue,

[2020-03-17 22:58] owocki commented on #6139
pls follow the submission instructions in the bounty details

On Tue, Mar 17, 2020 at 7:51 AM Nans.hulot <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-17 23:10] walidmujahid opened #6249 "Links in Grant or Profile Status Updates are not Clickable"
**Describe the bug**

Links in status activities posted from a Grant's page or a user's profile that is not their own profile page turn unclickable.

**Update:**

User handles after '@' also does not appear clickable. Nor do the link metadata cards show up in activities posted from Grants or Profiles.

**To Reproduce**

Post a link from someone's profile -not your own- or from a Grant. The resulti

[2020-03-17 23:12] walidmujahid commented on #6249
The solution is possibly to simply `urlify` the links in activities posted from Grants and Profiles.

[2020-03-18 00:09] willsputra commented on #6208
@frankchen07 #6011 is for daily ones right? this one's for the existing weekly emails.

[2020-03-18 00:27] JollyRogerz commented on #6169
Hello @owocki  I mistook an aproval mail to start working on the Spring 2020; 7th Edition - Cypherpunk Themed bountym thought it was for this one and started working on this one doing a MegaMan bot, this is what i have so far.... can i stil submit it ?
![image](https://user-images.githubusercontent.com/45979969/76913576-48502980-68af-11ea-99c3-bf08127ca775.png)

[2020-03-18 02:52] federicosan commented on #6169
I was working on this but it seems submissions have been closed? I don't understand. I was told to keep working on this...

[2020-03-18 04:17] inspireme6 commented on #6190
Wrote two wiki articles hopefully they're useful: https://gitcoin.co/wiki/quick_guide_gitcoin_bounties/ and https://gitcoin.co/wiki/gitcoin_actions/

[2020-03-18 04:45] theCydonian commented on #6194
Sorry for taking a little while with this one. Both the code and my COVID19 schedule has taken a bit of time to get used to. I will probably finish tomorrow or thursday. I'm still having issues linking files, but I decided to try to build the rest of it up.

In terms of progress, I have added functionality to the background button that opens up a row of potential backgrounds. When the user clicks

[2020-03-18 05:02] octavioamu commented on #6223
@brad-decker sometimes what happens is people already started to work when an issue wasn't a bounty. For example this issue born in a town square post time ago from a member who asked to get darkmode.
@molecula451 asked to work 12 days ago here https://gitcoin.co/townsquare?tab=activity:158979 and seems he already started before the bounty.
But yes "traditional" bounties is one person work in the

[2020-03-18 05:09] walidmujahid commented on #6191
Nevermind my Select2 idea. I will use jQueryUI's autocomplete instead.

[2020-03-18 05:15] walidmujahid commented on #6009
I still need to figure the tokens for users to enable the `public_repo` permission before I open up the draft WIP PR.

Beyond that, I recently took a look at the Select2 docs for https://github.com/gitcoinco/web/issues/6191#issuecomment-600339980 and I was surprised to find the example for remote data selection to be using GitHub repos. So, I think before I remove the WIP stats of my PR, I will ad

[2020-03-18 09:01] dadahaha2020 commented on #6190
@hamzaghz i think your page for grants should be this one : https://gitcoin.co/wiki/get_started/get-started-grants/ as it was in the original template which still remains empty. Please let me know if you're unable to paste the article here so I can update the link in my Get Started wiki page. Thank you 😉

[2020-03-18 12:33] Merit-Tech commented on #6139
@owocki Just made this design, pls make reviews or approve for submission![cypherpunk  git-01](https://user-images.githubusercontent.com/62035732/76959218-6aa96d80-68d6-11ea-8ad5-a6863c55a998.png)
![cypherpunk  key-02](https://user-images.githubusercontent.com/62035732/76959279-89a7ff80-68d6-11ea-96f5-2843c0444bee.png)