[2019-08-05 12:27] Solexplorer opened #4950 "When selecting a text in a code block, the line spacing is set at 1.5x"
**Describe the bug**

When I try to select text in a code block, it takes more space than needed, see the photo below:
![image](https://user-images.githubusercontent.com/50027175/62464450-e95cfa80-b78c-11e9-9b23-b8ebe14bcac6.png)

**To Reproduce**

Go [here](https://gitcoin.co/issue/bZxNetwork/Bounties/1/3295) and select some text in the code block
**Expected behavior**

I expected it to select th

[2019-08-05 13:41] octavioamu commented on #4695
@adamits The org email need to come from github api.

[2019-08-05 14:06] PixelantDesign opened #4952 "Dashboard V1 Feedback - Ideas & Comments"
**# Fix Now**

-  this bounty shows up twice
http://bits.owocki.com/d6a05870382e/Image%202019-08-02%20at%2011.17.50%20AM.png(184 kB) https://gitcoin.co/issue/gitcoinco/skunkworks/93/3185

- https://gitcoin.co/issue/gitcoinco/web/4112/2734
http://bits.owocki.com/5acc467cf49a/Image%202019-08-02%20at%2011.18.17%20AM.png(81 kB)
why does this bounty show 0 applicants when I have 4 people working on it?

[2019-08-05 14:16] willsputra commented on #4804
How about this for the modal? @PixelantDesign
![token activate modal](https://user-images.githubusercontent.com/19514207/62471169-acb1f300-b7ce-11e9-8261-d0b0d7170432.jpg)

[2019-08-05 14:19] owocki commented on #4804
😍

[2019-08-05 15:29] PixelantDesign commented on #1893
#4951

[2019-08-05 15:36] rash0 opened #4953 "Endless requests at the profile page `Currently Working` section"
Hello,

This issue happens on the profile page at the 'Currently Working' section...it just keeps loading forever and making endless requests to `https://gitcoin.co/profile/?p=2&a=currently_working`
![a](https://user-images.githubusercontent.com/40761345/62475989-c0625700-b7d8-11e9-943c-54b4172fe666.jpg)

and the requests

![aa](https://user-images.githubusercontent.com/40761345/62476369-69a94d00-

[2019-08-05 16:02] PixelantDesign opened #4954 "UX Team Management - Milestone 1 - How does this work for funders?"
# User Story

As a funder I'd like to be able to manage permissions with my team members.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience for funders.
Tech - Team members will n

[2019-08-05 16:05] PixelantDesign opened #4955 "Team Payout - Milestone II -"
### User Story

### What

- The Gitcoin platform displays the information from Milestone I synced from Github in the user's settings/profile. Optionally, the user may be able to manually override this data to either add or remove access to specific users and specific repos.

### Why

[2019-08-05 16:06] PixelantDesign opened #4956 "Team Payout - Milestone II - UX"
### User Story

As a funder I'd like to be abale to co manage payment and permission with my team.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience for funders.
Tech -

### What

[2019-08-05 16:07] PixelantDesign opened #4957 "Milestone III -"
### User Story

### What

- Adds the ability to create, edit, payout, etc. a StandardBounties V2 contract without any changes in UI or end-user experience. Simply put, the current functionality works as expected, except the underlying smart contract has been upgraded. The data synced from Github is used when the smart contract is created to add the funder's team members as either "Issuers" or "App

[2019-08-05 16:17] PixelantDesign opened #4958 "Shared Payment - Milestone IV -"
### User Story

### What

- Users with the appropriate permissions in our database can payout their team member's bounties.

No UX Required

### Why

[2019-08-05 16:18] PixelantDesign opened #4959 "Shared Payment - Milestone V"
### User Story

### What
- Users with the appropriate "Issuer" permissions within the smart contract can edit their team members bounties as if they were the initial funder.

### Why

[2019-08-05 16:22] PixelantDesign opened #4960 "Shared Payment - Milestone VI -"
### Who

### What

- Advanced payout is rewritten to utilize the new features in the V2 contract.

Story Points: 13+

UX/UI work: perhaps none, but is a good opportunity to tune the layout and experience here as the business logic will be rewritten from scratch.

### Why

[2019-08-05 16:23] PixelantDesign opened #4961 "Shared Payment - Milestone VII -"
### User Story

### What

- Gitcoin fees are integrated into the standard bounties V2 contract, allowing for only one metamask transaction to create a normal bounty. This can be done by adding the Gitcoin fee address as a payee when a normal or advanced payout is done, but calculations etc. are hidden from the user. Note that this changes when the fee is collected. Currently it is when the bounty

[2019-08-05 18:08] octavioamu commented on #4706
@kuhnchris as you are working now on this one, can you apply to work please?

[2019-08-05 19:04] vince0656 commented on #4744
Hi there,

I am still working on this but waiting on @PixelantDesign for more input

Thanks,
Vincent

[2019-08-05 21:37] PixelantDesign opened #4964 "Add Judges Section to the Hackathon Landing Page"
### User Story

Add Judges Section to the Hackathon Landing Page

### Why Is this Needed

Request from Labs team
Request from Contributor email feedback

### Assumptions
Human - Adding this feature or information will make it clear who the judges are for each hackathon.
Business - Satisfying this request will make our funders happy and they'll likely continue working on hackathons with us.
Tech -

[2019-08-05 21:43] frankchen07 opened #4965 "As a Gitcoin operator, when funding a hackathon experience issue, there should be a special link hackathon funder form link in order to separate regular issue explorer and hackathon explorer issues."
### User Story

As a Gitcoin operator, when funding a hackathon experience issue, there should be a special link hackathon funder form link in order to separate regular issue explorer and hackathon explorer issues.

### Why Is this Needed

Fix it twice, to ensure that regular explorer items don't end up on the hackathon explorer and vice versa.

### Assumptions

1. We are assuming we will have sep

[2019-08-05 21:45] PixelantDesign commented on #4755
@danlipert looks pretty much like the dashboard already.

[2019-08-05 23:17] Adamits commented on #4695
@octavioamu Roger that. What is the point of the email field in the form though?

[2019-08-05 23:20] octavioamu commented on #4695
oh is not a input field in the form is a db field in the request bounty model. Used to send the email to the org with the request. So for the user requesting that will be transparent.

[2019-08-05 23:21] octavioamu commented on #4695
- User see a interesting issue in gh
- User get into the request bounty form and paste the issue url
- Org receives an email with the request and a direct link to click and fund a new bounty with a invitation prefilled to the original requester.

[2019-08-06 01:21] Skyge commented on #4691
Yeah, working on.

[2019-08-06 02:48] PixelantDesign opened #4967 "As a funder, I'd like my bounty emails to direct me to the dashboard so that I can see exactly the actions pending on my bounties."
### User Story
As a funder, I'd like my bounty emails to direct me to the dashboard so that I can see exactly the actions pending on my bounties.

### Assumptions
Human - We are assuming that funders need a notification / email / messaging to direct them the new dashboard.

Business - Assuming that upon login they are directed to the new dashboard, we assume that retention for funders will increas

[2019-08-06 03:31] PixelantDesign commented on #4965
Is this a ux or build ticket @frankchen07 ?

[2019-08-06 03:42] PixelantDesign opened #4968 "UX - A Propper Hackathon Onboarding Flow for Contributors"
### User Story

As a contributor coming in to Gitcoin, I'd like to know what to do when I visit the Hackathon landing page.

### Why Is this Needed
- We've had feedback that contributors are confused and don't know how it works or how to get started, when they come to the hackathon landing page.
- Data: Drop off 1000 ppl —> 100 hackers participating.

### Assumptions
Human - we assume that contrib

[2019-08-06 04:07] PixelantDesign opened #4969 "Team Payout -Build - Milestone I - As a funder on Gitcoin - I'd like the ability to manage permissions and payouts with my team members."
### User Story
As a funder on Gitcion - I'd like the ability to manage permissions and payouts with my team members.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience for funders.

[2019-08-06 09:22] kuhnchris commented on #4806
Related: #866
@PumpkingWok any news - you already made progress on this? :-)

[2019-08-06 09:22] #866 closed

[2019-08-06 09:22] kuhnchris commented on #874
@owocki is this still relevant? I see the PR connected to this is merged...

[2019-08-06 09:24] kuhnchris commented on #906
Was there any design for his, that we could start implement? I'll tag it as ungroomed for now - let me know.

Thanks

[2019-08-06 09:26] kuhnchris commented on #910
There are buttons in the Profile for opt-in/opt-out - and feedback - closing.

[2019-08-06 09:26] #910 closed

[2019-08-06 09:27] kuhnchris commented on #911
@thelostone-mc did you ever get an answer to this?

[2019-08-06 09:27] #912 closed

[2019-08-06 09:28] kuhnchris commented on #912
@danlipert can you check if this is there? but as far as I know everything static is served from s.gitcoin.co - so I'm preemtively closing it.

[2019-08-06 09:29] #917 closed

[2019-08-06 09:30] kuhnchris commented on #923
Superseeded by #4706

[2019-08-06 09:30] #923 closed

[2019-08-06 09:30] kuhnchris commented on #927
Image is broken - please create a new ticket with details - thanks!

[2019-08-06 09:30] #927 closed

[2019-08-06 09:32] kuhnchris commented on #937
Is this still relevant? I think it's pretty easy to see the "real" value on MetaMask.

[2019-08-06 09:33] kuhnchris commented on #938
Are we sending a mail when the bounty is cancelled? I'll add this to the product idea board for now - may need a bigger definition.

For example:
How do we notify the participants? Do we send a mail? Do we offer them different bounties?

Thanks!

[2019-08-06 09:34] kuhnchris commented on #939
This seems to be fixed - if it still comes up let us know in a new ticket - thanks!

[2019-08-06 09:34] #939 closed

[2019-08-06 09:36] kuhnchris commented on #941
Is this something we fixed with the FTUX?

[2019-08-06 09:37] kuhnchris commented on #950
This was superseeded by (at least) #3628

[2019-08-06 09:37] #950 closed

[2019-08-06 09:38] kuhnchris commented on #832
Is this even possible @danlipert ? (from a backend view of things...)

[2019-08-06 09:39] kuhnchris commented on #960
I assume this is what we now have with the User Directory - maybe this is a premium within that? Like the "premium bounties"?

[2019-08-06 09:41] kuhnchris commented on #961
We have selected grants for selected people in the community now.

[2019-08-06 09:41] #961 closed

[2019-08-06 09:41] kuhnchris commented on #962
This was already implemented - the "premium" avatar items. - Closing this one. :-)

[2019-08-06 09:41] #962 closed

[2019-08-06 09:44] kuhnchris commented on #963
The corresponding PR was deleted (at least the branch was) - any idea what's going on with this @owocki? Also - this bounty is still open!

[2019-08-06 09:46] kuhnchris commented on #965
@danlipert can you follow up if this is still the case?

[2019-08-06 09:47] kuhnchris commented on #966
I think we re-created that page a couple of times now - so I'm closing this one - if the problem still shows up let us know in a new Issue - thanks!

[2019-08-06 09:47] #966 closed

[2019-08-06 09:49] kuhnchris commented on #969
Do we still want to re-attempt this, or is any integration with portis dead at this point?

[2019-08-06 09:49] PumpkingWok commented on #4806
Hi @kuhnchris ,
How is doing ? I'm starting it today at the end, unfortunately i have issue with my laptop and i'm changing it.

[2019-08-06 09:50] kuhnchris commented on #4806
Hi there - thanks, I'm doing fine. It's no problem, just wanted to make sure we have a current state - if you are starting today it's fine, take your time and let us know if you have any problems. :-)

Thanks,
Chris

[2019-08-06 09:51] kuhnchris commented on #974
Did anyone follow up on this? They seem to also have an ambassador program, so it may make sense to reach out to them to at least see if we can leverage some synergy.

[2019-08-06 09:52] #975 closed

[2019-08-06 09:53] kuhnchris commented on #984
I assume this was resolved with the "new" profile page. Closing this one in favor of that.

[2019-08-06 09:53] #984 closed

[2019-08-06 09:54] kuhnchris commented on #986
@dolebas did you happen to ever try that again to see if this still happens?

Let me know, thanks!

[2019-08-06 09:55] kuhnchris commented on #990
This has been solved by the new load balancer so this "should" not happen anymore. If it does please make a new issue! Thanks

[2019-08-06 09:55] #990 closed

[2019-08-06 09:56] kuhnchris commented on #992
I assume this is now the case? Closing it...

[2019-08-06 09:56] #992 closed

[2019-08-06 09:57] kuhnchris commented on #995
Prolly needs redefinition again. Closing this one as most of the tasks / points described above are resolved/done.

[2019-08-06 09:57] #995 closed

[2019-08-06 09:58] kuhnchris commented on #997
Too old to be relevant.

[2019-08-06 09:58] #997 closed

[2019-08-06 09:58] #999 closed

[2019-08-06 09:59] kuhnchris commented on #1000
@thelostone-mc / @dolebas can you still reproduce this bug?

[2019-08-06 10:01] kuhnchris commented on #1001
@thelostone-mc could you check this one if it is still relevant / kill it if it is not relevant anymore? Thanks!

[2019-08-06 10:01] kuhnchris commented on #1002
This is superseeded by the "low-ball-preventation pr".

[2019-08-06 10:01] #1002 closed

[2019-08-06 10:04] #1021 closed

[2019-08-06 10:05] kuhnchris commented on #1028
Did you ever send in a PR @CuriousLearner ?

[2019-08-06 10:06] kuhnchris commented on #1031
Oasis.direct is dead.

[2019-08-06 10:06] #1031 closed

[2019-08-06 10:08] radotzki commented on #969
@kuhnchris let me know if you need help with this integration.

[2019-08-06 10:11] CuriousLearner commented on #1028
@kuhnchris Nope. I feel maintainers are inclined towards incremental changes ( which makes sense) fixing these linting errors, so I do not wanted to work on a humongous PR which will be left hanging.

So, I'm not sure if a single PR fixing all this would help 🤷‍♂

[2019-08-06 10:17] kuhnchris commented on #1028
Well, I guess we'll have to ask @danlipert or @owocki for a decision on that.

[2019-08-06 11:36] CuriousLearner commented on #1028
Cool, let me know if you need a helping hand ;)

[2019-08-06 11:58] #1033 closed

[2019-08-06 11:59] kuhnchris commented on #1033
@owocki @PixelantDesign @vs77bb is this still relevant / active? The attached bounty was cancelled - so I closed this ticket. If this is still relevant please reclassify, thanks!

[2019-08-06 12:00] kuhnchris commented on #1033
@owocki @PixelantDesign @vs77bb is this still relevant / active? The attached bounty was cancelled - so I closed this ticket. If this is still relevant please reclassify, thanks!

[2019-08-06 12:01] #1035 closed

[2019-08-06 12:03] kuhnchris commented on #1038
superseeded by #4870; basic idea is still not fully covered (replace bounty by next bounty) but at least the description update should be covered - closing.

[2019-08-06 12:03] #1038 closed

[2019-08-06 12:05] kuhnchris commented on #1044
@owocki can you follow up on this?

[2019-08-06 12:05] #1049 closed

[2019-08-06 12:06] #1050 closed

[2019-08-06 12:06] kuhnchris commented on #1052
The bulk of this implementation is live - closing this ticket.

[2019-08-06 12:06] #1052 closed

[2019-08-06 12:09] kuhnchris commented on #1054
Since we have running tickets now for these topics (at least there were quarter tickets) I'll close this one.

[2019-08-06 12:09] #1054 closed

[2019-08-06 12:10] kuhnchris commented on #1083
@PixelantDesign you mind following up on this?

[2019-08-06 12:11] kuhnchris commented on #1101
Is this still the case?

[2019-08-06 12:12] kuhnchris commented on #1112
like ChainShot? Or what exactly is the idea here?

[2019-08-06 12:15] kuhnchris commented on #1120
Did that category die? I think it's still on the page, but did it ever get updated?

[2019-08-06 12:15] asphyx1a commented on #1083
sorry, now i'm here

[2019-08-06 12:16] kuhnchris commented on #1143
I'm closing this one, nothing seem to be connected to this (except for one issue that is Closed).

[2019-08-06 12:16] #1143 closed

[2019-08-06 12:17] kuhnchris commented on #1144
Where exactly do you want to put it then?

[2019-08-06 12:19] asphyx1a commented on #1144
I think you know better

[2019-08-06 12:21] kuhnchris commented on #1160
If it is already at 1 block, this ticket is moot, no? @owocki @vs77bb

[2019-08-06 12:21] #1160 closed

[2019-08-06 12:23] kuhnchris commented on #1162
Please specify a bit more @PixelantDesign  - this is also important for gitcoin itself since you guys keep having "old" bounties lying around which won't get any better over time ;-)

[2019-08-06 12:23] kuhnchris commented on #1166
are those KPIs already being tracked? I sadly have no idea about the KPI stuff here.

[2019-08-06 12:24] #1181 closed

[2019-08-06 12:25] #1185 closed

[2019-08-06 12:26] kuhnchris commented on #1186
This never got implemented, right?

[2019-08-06 12:30] #1188 closed

[2019-08-06 12:40] #1193 closed

[2019-08-06 12:40] kuhnchris commented on #1193
resolved with the Notification("Bell") PRs

[2019-08-06 12:42] kuhnchris commented on #1196
Well, seems like the idea is floating around for a while now - @owocki implemented a proof of concept regarding work-staking - to (litteraly) raise the stakes. Maybe this would help in a situation like this. Additionally we also go the bounty rating system in, but it's currently only admin-viewable as far as I remember...

[2019-08-06 12:43] kuhnchris commented on #1199
cacheops is at least in the requirements.txt file - so I assume it's already in. closing.

[2019-08-06 12:43] #1199 closed

[2019-08-06 12:44] kuhnchris commented on #1201
I think this idea is already on the brink of death since we also try to get this into the "on-demand execution" thing that you proposed, right @danlipert ? (e.a. the cronjobs being integrated to the admin side to be schedulable from there)

[2019-08-06 12:45] kuhnchris commented on #1202
Any idea if anything happened on that end @danlipert ?

[2019-08-06 12:45] #1204 closed

[2019-08-06 12:45] #1205 closed

[2019-08-06 12:46] #1206 closed

[2019-08-06 12:46] kuhnchris commented on #1206
Just as a quick reminder to me @danlipert - we killed the idea of moving to api.gitcoin.co, right?

[2019-08-06 12:50] danlipert commented on #1206
I don't know what the impetus was here

[2019-08-06 12:50] #1202 closed

[2019-08-06 12:51] #1203 closed

[2019-08-06 12:51] #1201 closed

[2019-08-06 12:52] #1028 closed

[2019-08-06 12:58] #1218 closed

[2019-08-06 12:59] kuhnchris commented on #1221
still relevant?

[2019-08-06 13:01] kuhnchris commented on #1028
Guess that's a no, thanks for offering your help tho @CuriousLearner !

[2019-08-06 13:01] kuhnchris commented on #1258
Did that get in?

[2019-08-06 13:02] #832 closed

[2019-08-06 13:03] #965 closed

[2019-08-06 13:03] #1198 closed

[2019-08-06 13:04] #1273 closed

[2019-08-06 13:04] #1282 closed

[2019-08-06 13:06] kuhnchris commented on #1305
Is this still the case or did we fix it in the meantime?

[2019-08-06 13:14] alexvotofuture commented on #4965
Not sure if we really want to have these end up in separate explorers. We've been exploring whether it would provide more value to show hackathon prizes within the normal explorer, to boost interest. May be better to architect this with an admin option to toggle whether it appears in the main explorer, and a separate option to select additional explorers it shows up in (for specific hackathons). S

[2019-08-06 13:15] kuhnchris commented on #1337
The Coinbase Wallet?

[2019-08-06 13:16] kuhnchris commented on #1344
Info is surfaced now - closing

[2019-08-06 13:16] #1344 closed

[2019-08-06 13:18] kuhnchris commented on #1364
@pinkiebell did you guys ever revisit this? Anyone got a state for me here? Seems to be progressed pretty far to simply die off...

[2019-08-06 13:22] kuhnchris commented on #1372
Hmm, wouldn't that just make sense for bots that are addable to github repositories? I mean OK - we could post the bot there, but wouldn't they throw it out /  disappear under the litteral floods of other random bots with 0 installs?

[2019-08-06 13:25] kuhnchris commented on #1426
Premium Bounties are in.

[2019-08-06 13:25] #1426 closed

[2019-08-06 13:26] kuhnchris commented on #1428
Basically the "Favorites" that @usmanmuhd and @octavioamu are currently implementing... :-) Closing this one as it's being superseeded

[2019-08-06 13:26] #1428 closed

[2019-08-06 13:27] kuhnchris commented on #1432
@PixelantDesign do you have any values regarding this? Is it more in use? is it properly in use? Can we close this?

[2019-08-06 13:28] kuhnchris commented on #1433
replaced sapstak and mbeacom with @octavioamu and @danlipert  - maybe you guys got some ideas regarding this?

[2019-08-06 13:30] #1438 closed

[2019-08-06 13:31] #1440 closed

[2019-08-06 13:33] kuhnchris commented on #1441
already got updated. a new version of this is also already in the floats - superseeded x2

[2019-08-06 13:33] #1441 closed

[2019-08-06 13:37] kuhnchris commented on #1449
If this still is a problem open up a new issue - thanks for reporting!

[2019-08-06 13:37] #1449 closed

[2019-08-06 13:38] #1454 closed

[2019-08-06 13:40] #1470 closed

[2019-08-06 13:41] #1471 closed

[2019-08-06 13:41] #1472 closed

[2019-08-06 13:41] #1473 closed

[2019-08-06 13:44] #1489 closed

[2019-08-06 13:44] PixelantDesign opened #4970 "Create Short Drip Campaign To Engage with Hackathon Participants"
### User Story
As Gitcoin, we'd like to share information/engage  with hackathon participants early so that they will understand what the hackathon is all about.

### What
Increase Hackathon Applications or Boutnies (Short drip before hackathon 1-3 emails sponsors, prizes)

### Assumptions
Human - Hackathon participants want this
Business - We assume that the number of hackers will increase,less d

[2019-08-06 13:44] kuhnchris commented on #1489
this is already implemented, right?

[2019-08-06 13:45] kuhnchris commented on #1515
The bot is verbitim regarding adding tips and other fundings, so I'm closing this one.

[2019-08-06 13:45] #1515 closed

[2019-08-06 13:48] kuhnchris commented on #1528
@oogetyboogety did you ever finish this one?`

[2019-08-06 13:58] #1680 closed

[2019-08-06 13:59] #1652 closed

[2019-08-06 14:02] kuhnchris commented on #1646
@owocki did you ever take a look at this or did we disregard this in favor of portis (which also went nowhere)?

[2019-08-06 14:02] #1642 closed

[2019-08-06 14:03] kuhnchris commented on #1622
@PixelantDesign I guess Q1/2019 didn't really work out - do you have any status on this? (I think it's on the roadmap tbh)

[2019-08-06 14:07] kuhnchris commented on #1584
@PixelantDesign I think we already updated this a couple of times on the front page - if this is still an open issue feel free to reopen this.

[2019-08-06 14:07] #1584 closed

[2019-08-06 14:08] #1582 closed

[2019-08-06 14:08] #1581 closed

[2019-08-06 14:08] #1579 closed

[2019-08-06 14:09] #1550 closed

[2019-08-06 14:09] #1548 closed

[2019-08-06 14:10] #1545 closed

[2019-08-06 14:10] #1544 closed

[2019-08-06 14:11] #1542 closed

[2019-08-06 14:11] #1532 closed

[2019-08-06 16:02] PixelantDesign commented on #4848
No recommendations from Engineer right now from engineering....

All options are high lift

Refactor javascript
Rewrite javascript. At least 2 sprints for 1 engineer

Third is lower lift for low results

Cannot bounty.

[2019-08-06 16:13] owocki commented on #4848
doesnt `sitemap.xml` handle this already? why does this have to be done via the issue explorer?

[2019-08-06 17:34] x5engine commented on #4757
hello guys, is this bounty really only 0.01 USD??

[2019-08-06 18:03] owocki commented on #4757
@alexvotofuture

[2019-08-06 18:08] owocki commented on #315
i think that integrating with standard bounties 2 is more of a priority than this.  i know that @danlipert has a ticket for that

[2019-08-06 18:08] owocki commented on #963
closing this now

[2019-08-06 18:08] #963 closed

[2019-08-06 18:09] owocki commented on #130
closing this now; any ideas that are active to be worked on need to be put into the agile story format.

[2019-08-06 18:09] #130 closed

[2019-08-06 18:10] owocki commented on #234
this task is stale..  i have an active task to rework reputatoin on the platform. closing now

[2019-08-06 18:10] #234 closed

[2019-08-06 18:17] x5engine commented on #4943
okay here are the notes:

This is the website that is live at gitcoin.co master branch - staging stable branch - live on gitcoin.co (this is the same domain as the prod? is there a stagging server? like stagging.gitcoin.co?)

[2019-08-06 19:32] x5engine commented on #4943
The Founder should not be able to cancel if he accepts the submission!
so it should say instead

[2019-08-06 19:56] x5engine commented on #4943
https://github.com/gitcoinco/web/pull/4973

[2019-08-06 20:19] pinkiebell commented on #1364
I think it stalled because of a problem with listening for events and infura.
Infura has done some work since then and it *maybe* should not be a problem anymore.

It's worth a try if anyone is up giving the PR a spin 🙂

[2019-08-07 04:11] speedyFixer commented on #4314
Hi, sorry because the date, I was busy, Is this still a valid issue? Iḿ able to start to work this week.

[2019-08-07 06:28] #4934 closed

[2019-08-07 10:21] #315 closed

[2019-08-07 10:23] danlipert commented on #4848
@owocki The issue is that google can't see much of the content on the issue details or explorer page because of the ES6 code

[2019-08-07 12:26] danlipert commented on #145
dupe of https://github.com/gitcoinco/web/issues/4411

[2019-08-07 12:26] #145 closed

[2019-08-07 12:31] #4522 closed

[2019-08-07 12:44] danlipert opened #4976 "[Celery Integration] As a Gitcoin user, I want invite-to-bounty requests to respond quickly, so I can work efficiently."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want invite-to-bounty requests to respond quickly, so I can work efficiently.
As a Gitcoin dev, I want to have a Celery task queue to use, so that asynchronous tasks can be performed outside the request-response cycle.

### Why Is this Needed

[comment]: # (Describe the problem and why this task

[2019-08-07 13:24] PixelantDesign opened #4978 "Build Dashboard Promotion Email in Mailchimp"
### User Story
As a Gitcoin operator, we'd like to promote the dashboard to funders and contributors so they'll know where their bounties stand on Gitcoin.

### Assumptions
Human -  We are assuming that funders need a notification / email / messaging to understand the new dashboard. We're also assuming that this messaging will direct them to the dashboard when in actuality, it should redirect them

[2019-08-07 14:02] owocki commented on #4314
yes

[2019-08-07 14:04] owocki commented on #4848
but why does it need to see the issue explorer?  it should be able to crawl all the bounties via `sitemap.xml`

i get why we need to update the `issue details` page, but not the explorer.

[2019-08-07 14:04] owocki commented on #4848
btw is there a task for the issue explorer page crawler?

[2019-08-07 14:31] #1695 closed

[2019-08-07 14:31] #1715 closed

[2019-08-07 14:31] #1716 closed

[2019-08-07 14:32] #1720 closed

[2019-08-07 14:32] kuhnchris commented on #1723
did we ever follow up on this and cleaned this up?

[2019-08-07 14:35] #1731 closed

[2019-08-07 14:36] #1733 closed

[2019-08-07 14:36] kuhnchris commented on #1741
Do we no already have something like this now?

[2019-08-07 14:37] #1746 closed

[2019-08-07 14:37] #1758 closed

[2019-08-07 14:37] Adamits commented on #4695
Yeah that sounds good! I am out of town for work until Friday though, so cannot work on it until then, is that ok?

[2019-08-07 14:38] #1759 closed

[2019-08-07 14:38] #1763 closed

[2019-08-07 14:38] #1764 closed

[2019-08-07 14:38] #1790 closed

[2019-08-07 14:39] kuhnchris commented on #1799
Superseeded by #4576

[2019-08-07 14:39] #1799 closed

[2019-08-07 14:40] kuhnchris commented on #1803
we switched to python3.8-alpine for some while now, apparently... thanks tho! :-)

[2019-08-07 14:40] #1803 closed

[2019-08-07 14:41] #1811 closed

[2019-08-07 14:47] #1822 closed

[2019-08-07 14:49] kuhnchris commented on #1823
@owocki did we ever catch up with the solution proposed in the PR regarding "other users paying for standard bounty transaction(s)"? If no - why not? Also Fuel died I guess? I'll close this for now since there was also AustinGriffin's solution, neither of those were added to gitcoin yet, no? Maybe add a new ticket if the idea is still relevant - Thanks!

[2019-08-07 14:49] #1823 closed

[2019-08-07 14:50] #1830 closed

[2019-08-07 14:50] kuhnchris commented on #1834
Did we add a modal/info? Cause I didn't see one yet...

[2019-08-07 14:52] kuhnchris commented on #1837
@owocki still relevant?

[2019-08-07 15:04] kuhnchris commented on #1848
@owocki what can we do with it?

[2019-08-07 15:08] kuhnchris commented on #1850
@PixelantDesign was this ever done in orgs v2?

[2019-08-07 15:15] #4839 closed

[2019-08-07 15:20] #1855 closed

[2019-08-07 15:20] PixelantDesign opened #4979 "Dashboard Clean Up Before Roll out V1"
### User Story
As Gitcoin core, we'd like to shore up the first version of the dashboard so that Funders will find this useful.

### Description

Solve the bugs below prior to launching V1 Dashboard

BUG - this bounty shows up twice
http://bits.owocki.com/d6a05870382e/Image%202019-08-02%20at%2011.17.50%20AM.png(184 kB) https://gitcoin.co/issue/gitcoinco/skunkworks/93/3185

BUG - https://gitcoin.co

[2019-08-07 15:24] kuhnchris commented on #1864
did we ever reitterate over the API, or did this just fell apart @pinkiebell ?

Thanks!

[2019-08-07 15:27] kuhnchris commented on #1865
Was this kind of an automated "Achivement System" via Kudos? Kind of like steam does it for games, just for bounties. May be a motivator to keep comming back!

[2019-08-07 15:28] #1866 closed

[2019-08-07 15:28] kuhnchris commented on #1866
No definition - closing this.

[2019-08-07 15:29] kuhnchris commented on #1867
I think all the bugs are closed - please reopen if in error!

[2019-08-07 15:29] #1867 closed

[2019-08-07 15:29] kuhnchris commented on #1874
Is this still in scope?

[2019-08-07 15:30] #1901 closed

[2019-08-07 15:31] kuhnchris commented on #1914
[X] hours can be entered
[X] Estimation for funders
[ ] Time logger

[2019-08-07 15:31] #1914 closed

[2019-08-07 15:32] #1920 closed

[2019-08-07 15:32] kuhnchris commented on #1932
Superseeded by Favorites PR

[2019-08-07 15:32] #1932 closed

[2019-08-07 15:33] #1939 closed

[2019-08-07 15:33] kuhnchris commented on #1940
apparently no.

[2019-08-07 15:33] #1940 closed

[2019-08-07 15:34] #1942 closed

[2019-08-07 15:34] #1944 closed

[2019-08-07 15:34] kuhnchris commented on #1953
uh...

[2019-08-07 15:34] #1953 closed

[2019-08-07 15:35] kuhnchris commented on #1958
Any news here?

[2019-08-07 15:37] kuhnchris commented on #1962
I think this should be combined with the "new" deployment strategy of @danlipert - rolling merge into master and (hourly or so) shove into staging for 6 days a week, on the 7th day (or on demand) we stop deployment and test the state that gets new "stable" and deployed. Closing this one as we open a new one for the new deployment strategy.

[2019-08-07 15:37] #1962 closed

[2019-08-07 15:38] #1966 closed

[2019-08-07 15:39] #4680 closed

[2019-08-07 15:39] #4845 closed

[2019-08-07 16:02] #4916 closed

[2019-08-07 16:30] #1986 closed

[2019-08-07 16:30] #1987 closed

[2019-08-07 16:31] #1988 closed

[2019-08-07 17:20] willsputra commented on #4954
@danlipert which github permission levels are we mirroring?
user (https://help.github.com/en/articles/permission-levels-for-a-user-account-repository), or
org (https://help.github.com/en/articles/repository-permission-levels-for-an-organization)?
or it could be either one depending on the github repo?

also, brainstorming more faqs:

how do I remove a team member?
how do I payout?
it's not working

[2019-08-07 17:28] willsputra commented on #4882
from a data perspective, maybe it would help to see at which part of the funnel contributors drop off?

like:
• do contributors not open our emails at all?
• do contributors open our emails, but don't click through?
• do contributors open the issue explorer, but don't click on any issue?
• do contributors open an issue detail, but don't apply for work?
etc.

[2019-08-07 18:03] willsputra commented on #4804
further outline of the experience:
• the modal should appear when a funder selects a token that has not been enabled yet.
• clicking 'Enable Token' should open the [Token Settings](https://gitcoin.co/settings/tokens) page in a new tab, so the funder doesn't lose all the data you've put on the funder form.
• clicking 'X' should dismiss the modal. however, if the token is still not enabled, the moda

[2019-08-07 18:04] PixelantDesign commented on #4804
Thanks @willsputra !

[2019-08-07 18:06] PixelantDesign opened #4984 "Build - As a funder with Dai in my wallet, I should be prompted - in a more prominent way - to turn on DAI or other currency when I select this option in the funder form."
### User Story

As a funder with Dai in my wallet, I should be prompted - in a more prominent way- to turn on DAI or other currency when I select this option in the funder form.

### Why Is this Needed

Need a prompt that is more visibile/prominent for on turning on DAI/any other currency that isn't activated.
10% fee is processed but bounty does not go through.

### Assumptions
Human -
Business -

[2019-08-07 18:07] willsputra commented on #4804
sketch file:
https://github.com/gitcoinco/creative/blob/96e0bc62bb22a7415124ca5cd2d234bf15c8c371/Product/Token%20Activate%20Modal/Token%20Activate%20Modal.sketch

[2019-08-07 18:08] #4804 closed

[2019-08-07 18:19] vince0656 commented on #4744
Hi there,

I am still working on this but waiting on @PixelantDesign for more input

Thanks,
Vincent

[2019-08-07 19:24] ceresstation commented on #1843
@bobjiang did this ever get completed? Would love to see this in the site if possible.

[2019-08-07 19:37] PixelantDesign commented on #4744
Hi @vince0656

I think I answered this on the PR?

We want to limit it to twice.
They'll get messages that say this is the last time you can remarket.
cc @thelostone-mc

[2019-08-07 20:22] vince0656 commented on #4744
Ok thanks for clarifying @PixelantDesign! Therefore, regardless of whether someone directly re-markets or whether a re-market is triggered by expiration extension, the total allowed is 2 re-markets where appropriate messaging is given to the user to warn them as per #4876. Cc @thelostone-mc

[2019-08-07 20:35] frankchen07 commented on #3663
<img width="1285" alt="Screen Shot 2019-08-07 at 2 47 12 PM" src="https://user-images.githubusercontent.com/7516920/62656055-3a4d2a00-b918-11e9-94c4-ba877ea8da1d.png">

<img width="1308" alt="Screen Shot 2019-08-07 at 2 47 03 PM" src="https://user-images.githubusercontent.com/7516920/62656060-3de0b100-b918-11e9-92e5-9f8d20ad71b4.png">

[2019-08-07 22:54] bobjiang commented on #1843
@ceresstation I just partially did the review, if needed, I could try to finish it by the end of Aug.

[2019-08-07 23:14] owocki commented on #3663
should we add some language to reflect that this is a best guess estimate?  esp since people can game CLR matching with sybill attacks, we need to retain ROFR on excluding people

[2019-08-08 08:14] abitrolly commented on #1206
@danlipert so why you did decide to kill the idea of moving to api.gitcoin.co?

[2019-08-08 08:18] abitrolly commented on #1988
@kuhnchris it would be nice if you could comment on why are you closing issues. Even if it just stale issue cleanup.

[2019-08-08 09:27] kuhnchris commented on #1988
Hey there @abitrolly - if you got questions regarding closed issues - or think that they should still be active - let me know - I'm just trying to clean up and since the connected PR to this is closed, I assumed the Issue is closed. - plus as far as I can remember we do have a checklist now for funders where we explicitly tell them to provide enough infos to get started. - if it's not sufficient f

[2019-08-08 10:37] pinkiebell commented on #1864
@kuhnchris This one never got fruits as far I remember 🙂

[2019-08-08 11:38] kuhnchris commented on #1864
You still interested in it, or is the usecase currently kind of moot?

[2019-08-08 13:08] #4571 closed

[2019-08-08 14:17] marc-at-consensys commented on #4848
The Web3 content within the individual issues are not viewable by Search Engines, they can see the meta data and url but not the issue description so they appear as empty pages to Google.

Explorer pages got less than 300 visits from Organic Search last month: https://analytics.google.com/analytics/web/#/report/acquisition-channels/a102304388w149870992p154797887/_u.date00=20190701&_u.date01=201907

[2019-08-08 14:18] thelostone-mc commented on #4870
Thanks @PierrickGT  ^_^

[2019-08-08 14:18] #4870 closed

[2019-08-08 14:25] marc-at-consensys commented on #4848
I used the "URL inspection" tool via Search Console to see how Google is rendering individual pages.  See screenshot or this link (https://search.google.com/search-console/inspect?resource_id=https%3A%2F%2Fgitcoin.co%2F&id=prJAtgF3AHJatRAdkEKYEA&alt_id=V-XV37Rxzhg06iJIdZOLfg&panel_tab=2)
![image](https://user-images.githubusercontent.com/49534637/62711197-9bcbd200-b9c6-11e9-94e6-f743e86112d1.png)

[2019-08-08 14:41] willsputra commented on #4822
sketch file:
https://github.com/gitcoinco/creative/blob/f1169a3cae17b23618c20f4b273b39de88f67003/Product/Activity%20List/Activity%20List%20with%20Submissions.sketch

[2019-08-08 16:40] PixelantDesign opened #4994 "Unable to Redeem Codefund Kudos"
**Describe the bug**
Unable to Redeem Eric's Kudos

**To Reproduce**
1) Went to this URL, logged in to Github (Metamask Activated)
2) https://gitcoin.co/kudos/redeem/codefund_influencer_v10
3) Clicked both checkboxes and Redeem
4) Got this screen

<img width="1643" alt="Screen Shot 2019-08-08 at 12 37 09 PM" src="https://user-images.githubusercontent.com/238235/62721093-7dbb9d00-b9d9-11e9-8fb1-cd6

[2019-08-08 16:46] PixelantDesign opened #4995 "How Might We Come Up with a More Democratic Way to Decide What We Work On?"
### Discussion

From Retro Today:
**How do we have a more democratic way to decide what we work on?**

[2019-08-08 17:24] owocki commented on #4994
https://sentry.io/organizations/gitcoin/issues/1134826924/?project=1398424&query=is%3Aunresolved&statsPeriod=14d&utc=true

"{'code': -32000, 'message': 'insufficient funds for gas * price + value'}"

[2019-08-08 17:28] owocki commented on #4994
this is because the bulk transfer coupon needs to pay the gas + purchase price of the kudos redemption.  we need to either:

1.  make https://etherscan.io/address/0x28e21609ca8542Ce5A363CBf339529204b043eDe (eric's account) the `sender_address` and `sender_pk` of the bulk transfer coupon ( https://gitcoin.co/_administrationkudos/bulktransfercoupon/20453/change/ )

or 1. remint the kudos to be owned

[2019-08-08 17:52] owocki commented on #4995
a couple thoughts:

1. what is the evidence that pure democracy yields better results towards our OKRs?  what if democracy results in gridlock or the tyranny of the structurelessness?  (i ask this not to "lead the witness", but just to make sure that we are deliberate about what were doing here).
2. katie johnson sent us some really good decision making framework info on august 1.  we should make

[2019-08-08 18:05] octavioamu commented on #4994
So sorry I accidentally delete your comment

[2019-08-08 18:34] octavioamu commented on #4994
Js problem solved, @danlipert is reminting the kudos right now

[2019-08-09 00:21] frankchen07 commented on #3663
update on this:

so from the call this morning, it sounds like:

1. there’s a little more thinking behind what will actually go up on the view grants page & the fund grant page, due to the dynamic nature of the CLR match
2. understanding the calculations is TBD, I’m talking to vitalik on telegram on the specifics of how that math works to see how we can simplify it down to something easily done (w

[2019-08-09 07:59] abitrolly commented on #1988
@kuhnchris I don't mind against cleaning up the tracker if if helps to see why the issue is closed, or what was the resolution. In a perfect world every resolution should come with a proof that people can validate. Being it a link to discussion decision or a screenshot of existing interface. The recipe to keep contributors happy.

[2019-08-09 08:52] abitrolly commented on #832
It is posssible, yes. https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/

[2019-08-09 11:51] kuhnchris commented on #1988
Yeah, but on the contrast: if nobody follows this up, and by that I also mean the contributor, then I cannot assume it's very important to anyone, since nobody apparently cared about it.

Anyways, as I said, if you still find that the Funder checklist or Funder information lacks this information in the current state of the platform, open an new issue, thanks.

[2019-08-09 14:20] octavioamu commented on #4695
cool Im approving you @adamits
I will add also an important note  about security in this task to avoid abuse.

[2019-08-10 21:05] thelostone-mc commented on #4994
Closing this out as it's been taken care 🙌

[2019-08-10 21:05] #4994 closed

[2019-08-10 21:21] #4395 closed

[2019-08-11 12:41] pinkiebell commented on #1864
As long no one has issues with the existing API endpoints, I think it's not needed.
Can be closed 🙂

[2019-08-11 16:57] vince0656 commented on #4744
Hi there,

I’m still working on this issue. Shouldn’t be much longer

Thanks,
Vincent

[2019-08-12 13:42] #1864 closed

[2019-08-12 14:13] owocki opened #5003 "bug report from twitter"
![2](https://user-images.githubusercontent.com/513929/62871617-d052cd00-bce9-11e9-9fd5-75822806a58c.jpg)

1. avatars dont show proper opacity
2. gitcoin display name dont update when github does

[2019-08-12 15:07] owocki commented on #4848
@marc-at-consensys  This ticket is not about the individual issues.  Its about the issue explorer.

so I repeat my question:

and this question

[2019-08-12 15:08] owocki commented on #4848
i can't access this report.  a screenshot would be helpful.

[2019-08-12 15:23] owocki commented on #4848
seems to me that just
1. adding a hidden div on the bounty_details page with some overview info
2. which is `display:none` unless the request useragent is googlebot

would sufficiently solve this task and would be pretty low lift.

[2019-08-12 16:42] writeprovidence commented on #4944
still working on it

On Sun, Aug 11, 2019 at 5:15 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-08-12 19:22] marc-at-consensys commented on #4848
@owocki The **display:none** option should be a viable quick solution.  Note, Google likes to give full credit to content that is completely visible.

The **screenshot** before was just showing that the issue explorer & related pages dont get much search traffic cause Google cant see the web3.  Pages with gibberish would likely get more.

The **Issue Explorer page** is a great asset for SEO and sh

[2019-08-13 01:44] Adamits commented on #4695
Sorry!! Meant to do this over the weekend then had to take care of other stuff. Will start on this after work tomorrow.

[2019-08-13 02:13] thelostone-mc commented on #3663
From what I understand  @ceresstation @vs77bb

The formula is the square of the sum of square root of all successful contributions on a grant till date from its creation date.
This would mean every contribution would be counted as unique even if they are recurring payments? // list of successful contributions should be available in our database but will have to double check if we've captured all.

[2019-08-13 02:19] thelostone-mc commented on #4976
Mark had done the initial setup over at https://github.com/gitcoinco/web/pull/668. Sadly we didn't get that in :| might be worth checking that PR out @androolloyd

[2019-08-13 02:32] PixelantDesign opened #5005 "As a funder of hackathon bounties, I'd like to see more contributors start work on my bounties to increase my chances of a quality submission."
### User Story
As a funder of hackathon bounties, I'd like to see more contributors start work on my bounties to increase my chances of a quality submission.

### Assumptions
Human - We assume funders equate more contributors in the pipeline to quality submissions
Business - We assume that if we did this, the bounty will likely have some quality developers picking it up.
Tech - No new tech archite

[2019-08-13 04:11] #4984 closed

[2019-08-13 09:09] kuhnchris commented on #4995
Asked a little bit more differently: What are the core goals? From there you can probabbly decide "what is important". If a low turn-over of devs is important (or a high turn-over on small tasks) it may make sense to priorities bugs with engineering - on the contrast if the core goal is to generate revenue/substainability then it may makes sense to priorities "features" that improve on that, e.a.

[2019-08-13 11:31] PixelantDesign opened #5008 "As a hackathon participant (funder & contributor), I want a curated flow on how to proceed successfully through the hackathon."
### User Story

As a hackathon participant (funder & contributor), I want a curated flow on how to proceed successfully through the hackathon.

### Why?

1. As a gitcoin funder, it's not easy to see which team(s) are working on your bounty / prize.

2. As a gitcoin contributor, it's not easy to form teams, express what they want to build, and build together.

3. As a gitcoin funder, I don't have a

[2019-08-13 12:45] PixelantDesign opened #5009 "Explore Tech Approach and UX for light weight subscriptions"
### User Story

### What
Explore Tech Approach and UX for light weight subscriptions

### Assumptions
Human - We assume funders want a subscription for hackathons.
Business - We assume that having subscriptions would bring in more revenue, and allow us to forecast.
Tech - We assume that we should look for the easiest way to build this.

### Definition of Done
- Explore lightweight ways to approach

[2019-08-13 12:48] PixelantDesign opened #5010 "Shared Payment Milestone II - As a funder I'd like to be able to co manage payment and permission with my team."
### User Story

As a funder I'd like to be abale to co manage payment and permission with my team.

# User Story

As a funder I'd like to be able to manage permissions with my team members.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - I

[2019-08-13 15:17] PixelantDesign commented on #4888
![discoverability_idea1](https://user-images.githubusercontent.com/238235/62953644-e335d200-bdbb-11e9-89e1-0ba1b28255cc.jpg)

[2019-08-13 15:41] PixelantDesign commented on #4888
Idea 1 - Funder Form
<img width="1347" alt="Screen Shot 2019-08-13 at 11 37 57 AM" src="https://user-images.githubusercontent.com/238235/62955477-2180c080-bdbf-11e9-86cf-241af7af0b74.png">

Idea 2 - Funder Form
<img width="1199" alt="Screen Shot 2019-08-13 at 11 38 11 AM" src="https://user-images.githubusercontent.com/238235/62955505-2d6c8280-bdbf-11e9-8424-06e39dc87830.png">

Idea 2 - Hover State

[2019-08-13 16:02] PixelantDesign commented on #4888
Details Page
<img width="1643" alt="Screen Shot 2019-08-13 at 12 00 14 PM" src="https://user-images.githubusercontent.com/238235/62957121-26933f00-bdc2-11e9-8d68-4e4947950180.png">

<img width="1638" alt="Screen Shot 2019-08-13 at 12 01 16 PM" src="https://user-images.githubusercontent.com/238235/62957129-285d0280-bdc2-11e9-839d-9e846ab56793.png">

[2019-08-13 16:14] PixelantDesign commented on #4848
If we were to explore option 1

Use babel and setup a pipeline to bundle our js in a proper way so the code will be "translated" to a way googlebot can understand (best solution)

- New architecture deploy
- Set up web pack

Need to discuss further with @danlipert

Estimated Effort: 2 people, 1 sprint

[2019-08-13 16:58] PixelantDesign commented on #4888
- How do we make sure all bounties get a lot of applicants? Mass apply? what are the rules?
- Move detailed info to vetting stage
- Fix matching

[2019-08-13 17:13] PixelantDesign commented on #5008
Ideas:
Require hackers for GitHub orgs and use as teams.

We have a concept of orgs for funders.
shared payment, shared permissions

Bring the concept of organization to funder groups
- Contributor orgs can:
- Apply to work as an org
- Submit work as an org
- Does that mean they will be able to get paid as an organization?

Flow
signup (with github) >
retrieve organizations you own >
pick the orga

[2019-08-13 17:34] willsputra commented on #4888
this is how it might look like
![discoverability](https://user-images.githubusercontent.com/19514207/62963510-b4f3d900-be33-11e9-87eb-8de57433d470.jpg)

[2019-08-13 17:43] vince0656 commented on #4744
Hi there,

I’m still working on this issue.

Thanks,
Vincent

[2019-08-13 18:02] willsputra commented on #4888
or inline
![discoverability](https://user-images.githubusercontent.com/19514207/62965407-8f68ce80-be37-11e9-87c7-db4703987d5d.jpg)

[2019-08-13 18:44] octavioamu commented on #4889
tracking tickets need to have the action and event name, for example

Track when "approve worker" is clicked in the dashboard with the event dashboard_approve_worker
Depending on what you want to discover tracking is what information we need to track,
keeping in mind events can have data but not personal data.

[2019-08-13 18:51] octavioamu commented on #4941
should't be "also share *anonymous* information about your ..." ?

[2019-08-13 19:17] octavioamu commented on #4822
Submissions area have an accept reject options but that is not how the system works

[2019-08-13 19:19] octavioamu commented on #4822
I think we need to invest some time thinking and researching on the diff type of bounties, because they have some diff
permissionless vs approval required
traditional, contest, compet
Another thing is if worst making this changes right now or waiting until teams are ready because I don't see teams contemplated in this new design.

[2019-08-13 20:02] octavioamu opened #5013 "Users directory stopped showing "worked with you" label and default order"
**Describe the bug**

Default order was "worked with you" first results and also with the label, something changed in the query and is not longer working at should
![image](https://user-images.githubusercontent.com/1358093/62973090-d03af600-bdeb-11e9-8d5b-20ad4aa8551d.png)

**To Reproduce**

go to user directory
**Expected behavior**

first show "worked with you" results, and show the tag.

**Scre

[2019-08-13 20:08] octavioamu opened #5014 "Open user directory with custom skill filters applied"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I what to click on a link and get into the user directory with a custom skills filter applied.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

 we can use t

[2019-08-13 22:39] octavioamu commented on #4979
Actually  the dashboard doesn't disappears what happens is each block have his own empty state, the design is kind of diff of the one proposed had 2 tabs. You can check this in https://gitcoin.co/dashboard

![image](https://user-images.githubusercontent.com/1358093/62981803-a04a1d80-be00-11e9-9933-90fcab4772bd.png)

![image](https://user-images.githubusercontent.com/1358093/62981529-d2a74b00-bdff-

[2019-08-14 01:50] speedyFixer commented on #4314
Hi @owocki , Is there some testing data for Kudos?

[2019-08-14 14:01] #4979 closed

[2019-08-14 14:02] #4844 closed

[2019-08-14 14:42] #4718 closed

[2019-08-14 17:22] thelostone-mc commented on #4745
@ceresstation Yo this is good for payout ^_^
This is now in live

[2019-08-15 02:24] owocki commented on #4314
yes. pls read the docs https://github.com/gitcoinco/web/blob/master/docs/KUDOS.md

`python manage.py sync_kudos rinkeby` should get you some rinkeby kudos

[2019-08-15 03:01] owocki commented on #4848
sorry, i meant 'is there a separate task for showing bounty-details to google?'  seems to me that getting the bounty-detail pages crawled by google is much higher ROI than issue explorer.

our organic search traffic is completely flat, so everything we've done thus-far on SEO has either not had an impact or it's impact is "yet to be seen". this makes me skeptical that the promised impact (pasted b

[2019-08-15 05:59] octavioamu commented on #4889
As didn't had the data yet I took the opportunity to setup tagmanager for us, I had a PR with the integration and created a GTM container with:
- diff environments for production and development
- Integrated GA, facebook pixel, Twitter tag
- Activated GA User-Id
- Setup all the basic flow for tracking
- Tomo I will track actions I believe are important on dashboard, because if we want to change an

[2019-08-15 06:11] octavioamu commented on #4889
Tags (not fired because I setup a rule to avoid sending localhost tracking)
![image](https://user-images.githubusercontent.com/1358093/63075682-d96db500-bf08-11e9-9ff0-c4055875676d.png)

User id set in GA, so now we will be able to group sessions of the same user, understand behaviour, etc
![image](https://user-images.githubusercontent.com/1358093/63075718-0621cc80-bf09-11e9-83a6-5dab4eadad79.png)

[2019-08-15 06:12] octavioamu commented on #4889
@owocki maybe this can interest you as you were working on #4435

[2019-08-15 19:17] vince0656 commented on #4744
Hi there,

I’m still working on this issue.

Thanks,
Vincent

[2019-08-15 20:50] PixelantDesign opened #5021 "Shared Payment Milestone III - As a funder I'd like to be able to co manage payment and permission with my team."
### User Story

As a funder I'd like to have a way to represent my organization and what it's all about.

### What

### Assumptions

### Why

Milestone III
- Adds the ability to create, edit, payout, etc. a StandardBounties V2 contract without any changes in UI or end-user experience. Simply put, the current functionality works as expected, except the underlying smart contract has been upgraded. T

[2019-08-15 21:12] PixelantDesign opened #5022 "Shared Payment - Milestone III - As a funder I'd like to be able to co manage payment and permission with my team."
# User Story

As a funder I'd like to be able to manage permissions with my team members.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience for funders.
Tech -

### What

Shared P

[2019-08-16 05:20] zoek1 commented on #4264
Sorry @frankchen07, picking this up again. I'll work this weekend  on this bounty and i'll publish my update here on august 20.

[2019-08-16 06:45] kuhnchris commented on #4806
@PumpkingWok got any updates on this for us? Thanks!

[2019-08-16 09:07] PumpkingWok commented on #4806
Hi @kuhnchris ,
How is doing ? Unfortunately in these days i was very busy, i'm going to open a WIP PR in max 2 days, so you can start to look into the code if you have time, and in max 5/6 days i will conclude the issue.Sorry again.

[2019-08-16 09:55] kuhnchris commented on #4806
Hey there - no problem I just need to know the status since I need to keep the team in the loop - tax time is coming soon, hence we are already excited about the change. If you happen to throw in a PR in 2 days that's absolutly OK, if you keep getting stuck let me know ;-)

Thanks,
Chris

[2019-08-16 12:33] thelostone-mc commented on #3663
UDPATE: will start on the frontend with mock data and will move this to blocked  until I get the questions above clarified ^_^

[2019-08-16 15:58] PixelantDesign commented on #5010
@danlipert would it be simpler to direct users to update this information on Github?

[2019-08-16 16:04] PixelantDesign commented on #4968
[c46e0d2d-c66f-425a-8e9b-a2a61aa11620 (1).pdf](https://github.com/gitcoinco/web/files/3510305/c46e0d2d-c66f-425a-8e9b-a2a61aa11620.1.pdf)

[2019-08-16 16:46] PixelantDesign commented on #4848
@danlipert @octavioamu is it worth trying what @owocki suggested to see what kind of improvements could be made?

[2019-08-16 18:18] octavioamu commented on #4965
the diff funder forms (or special hackathon form)  is not interfere in the decisions of having separate explorers or show hackathon bounties in normal explorer.

[2019-08-16 19:34] owocki opened #5026 "page fills up with erroneous error messages when any grant is shown"
log out and go to any grant, and this message shows up 100x.

its because `$('#grant-admin').text()` is falsy.

expected behaviour:
- should only show up if i'm the grant owner
- should only show up 1x

<img width="1427" alt="Screen Shot 2019-08-17 at 9 07 57 AM" src="https://user-images.githubusercontent.com/513929/63213865-8b0a1300-c0ce-11e9-883c-93758f9e5d1d.png">

[2019-08-16 21:12] owocki commented on #4834
@iamonuwa how goes

[2019-08-16 22:31] iamonuwa commented on #4834
Paused for the hackathon,  will get it done tomorrow

[2019-08-18 15:49] owocki opened #5028 "as a admin of gitcoin, i'd like to integrate blockstack app mining, so i can generate revenue for having users login"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a admin of gitcoin, i'd like to integrate blockstack app mining, so i can generate revenue for having users login

https://app.co/mining

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actuall

[2019-08-18 15:50] owocki commented on #5028
@PixelantDesign @vs77bb i think we could get to the top of blockstack's leaderboard (which is worth about $20k). probably worth a look.

[2019-08-18 16:33] owocki opened #5030 "502 bad gateways keep appearing on the blog"
**Describe the bug**

502 bad gateways keep appearing on the blog

**To Reproduce**

go to the blog
see 502 bad gateway; screenshot: http://bits.owocki.com/4135d837e6d1/Screen%20Shot%202019-08-18%20at%2010.32.07%20AM.png

**Expected behavior**

blog content appears.
502 only appears if i keep hammering the blog

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)
502

[2019-08-18 16:52] vince0656 commented on #3544
Hi there,

I'm still working on this.

Thanks very much,
Vincent

[2019-08-18 17:02] owocki commented on #3663
i dont know much about how the current CLR calcs are done.. so defer to @frankchen07  on this qusetion

[2019-08-18 18:38] vince0656 commented on #4744
Hi there,

I’m still working on this issue.

Thanks,
Vincent

[2019-08-18 20:40] PumpkingWok commented on #4806
Hi @kuhnchris,
I would like to ask you a question if you can help me.
I have created  a new `settings/tax`, would you like that it is populated with the last location saved in LOGIN action events, right ? but after that if i want edit my location i should create a new field  (`location`) in `Profile` model, is it ok for you ? In this way it would be prepopulated only until a user edits and saves a

[2019-08-19 02:29] adamgambrell commented on #3876
@octavioamu sorry, I just found your response to my questions. Upon trying to start this issue last week, I found that I needed Hyper-V in order to run Docker locally. I don't have this functionality on my personal computer. I'm going to stop the bounty for now. I apologies for the delayed response.

[2019-08-19 11:59] #5026 closed

[2019-08-19 13:36] willsputra commented on #4888
@PixelantDesign thoughts for the email?
![discoverability email](https://user-images.githubusercontent.com/19514207/63269777-60d07500-c2c9-11e9-87e3-0b23a22eb88b.jpg)

[2019-08-19 14:40] danlipert commented on #4848
We can definitely add the hidden content solution, although I think
previously we ruled that out since google will be pretty wise to that
trick. That being said I suppose it should help somewhat so lets start there

-Dan Lipert

On Sat, Aug 17, 2019 at 1:46 AM Pixelant <notifications@github.com> wrote:

[2019-08-19 14:41] danlipert commented on #5010
Yes definitely - I think adding manual override to this greatly increases the hours required

[2019-08-19 14:53] danlipert commented on #4941
@octavioamu the language came from the lawyers so I'm inclined to go with what they've written verbatim - if you think otherwise though I can put you in touch with them

[2019-08-19 16:01] danlipert commented on #4954
@willsputra We'll be doing both org and repo level permissions - since all of our bounties are public, we'll just use Write and Admin permissions to determine whether you have access. Syncing will happen automatically, and there will be no manual management for now. Adding and removing members just happens on Github. If you transfer ownership, it will still sync as normal I believe.

[2019-08-19 16:06] PixelantDesign commented on #4979
How do we display active bounties that are open...?

[2019-08-19 16:44] kuhnchris commented on #4806
That's be OK for me, you can continue working on this like that.

@owocki any complaints about that?

[2019-08-19 16:45] kuhnchris commented on #5030
As mentioned on core slack - only happens.. occationally. Please use this issue if you experience it again, thanks.

[2019-08-19 16:49] octavioamu commented on #4822
@willsputra @PixelantDesign ^

[2019-08-19 16:51] PixelantDesign opened #5034 "UX As a Contributor I'd like Gitcoin to Display Matches for new bounties after the submit work step"
### User Story

As a funder of a Gitcoin bounty or Hackathon, I'd like to have more contributors apply to my bounties.

As a Contributor I'd like Gitcoin to Display Matches for new bounties after the submit work step

### Assumptions
Human - We assume Contributors want this feature
Business - We assume that by adding this feature, more contributors will apply for work.
Tech -

### Definition of Do

[2019-08-19 17:07] kuhnchris commented on #1989
@abitrolly is this still on the current page?

[2019-08-19 17:09] kuhnchris commented on #1991
@owocki do we still want to do this? since we have ethgasstation for this...

[2019-08-19 17:10] kuhnchris commented on #1993
@frankchen07 the connected PR is closed - is this still open?

[2019-08-19 17:27] PixelantDesign opened #5035 "As a Funder, I'd like Gitcoin to tell me when I don't have contributors on my bounty, so that I can take action and invite contributors from the users directory"
### User Story

As a Funder, I'd like Gitcoin to tell me when I don't have contributors on my bounty, so that I can take action and invite contributors from the users directory

### Why

### Assumptions
Human - We assume that funders would want to be notified when there are no applicants on the email.
Business - We assume that building this would help funders be more active on their bounties, and

[2019-08-19 17:35] kuhnchris commented on #2008
didn't a topic like this pop up recently again?

[2019-08-19 17:41] PixelantDesign opened #5036 "As a Funder, I'd like to see the latest information on who has submitted or applied to work on my bounty."
# User Story
As a Funder,  I'd like Gitcoin to clearly surface information I need to decide who I should choose for my bounty.

As a Funder, I'd like to see the latest information on who has submitted work on my bounty.

# Why
It’s too hard for funder to vet quality applicants  because I don’t know who are good people to work on my bounties.

# Assumptions

1. We are assuming that funders want to

[2019-08-19 18:13] octavioamu commented on #4848
The concept name is "Cloaking". Is penalised by google as I understand.
https://support.google.com/webmasters/answer/66355?hl=en

[2019-08-19 18:53] thelostone-mc commented on #3663
mocked up UI + raised draft PR <img width="1514" alt="Screenshot 2019-08-20 at 12 19 01 AM" src="https://user-images.githubusercontent.com/5358146/63291221-c3813b00-c2e0-11e9-80fa-3a08f9f68c4f.png">

[2019-08-19 20:11] PixelantDesign opened #5038 "As a sponsor of a hackathon prize, I don't exactly know how hackers are approaching the work on my prize (v2)"
### User Story

As a funder of a hackathon bounty, I'd like to know how hackers are approaching the work on a prize bounty

### Business Problem

Solves tracking from funder perspective, and sets the stage for a better issue details that highlights projects teams

### What

Create a new customizable hackathon express interest from with the details outlined below.

Another problem that this address

[2019-08-19 20:39] PixelantDesign opened #5039 "As an operator of Gitcoin, we'd like to direct hackathon participants from registration right into the Gitcoin onboarding flow."
### User Story
As an operator of Gitcoin, we'd like to direct hackathon participants from registration right into the Gitcoin onboarding flow.

### What
We want people to register and then immediately see the prizes and get started.

### Why
Reduce friction. And provide better tracking, as having their Gitcoin profile and other associated info in a usable format (ie not separate from other platfor

[2019-08-19 21:35] octavioamu commented on #5039
- Where they should write about why they are participating? Are we going to create a form? where that data will be saved?
- How we will know from where they come from?
- How we know what is the current prize explorer?

As a suggestion is having a new url with just the login so we can use it as a diff link for hackers coming form the landing page ex:
Landing CTA
gitcoin.co/signup/Name-of-hackathon

[2019-08-19 21:36] octavioamu commented on #5039
About the "why they are participating" I think is out of scope unless we are thinking to point it to a form outside of gitcoin.

[2019-08-19 21:56] octavioamu commented on #5038
how the project submission address the problem? **How do we 3x the # of final submissions in a future hackathon?**

[2019-08-20 05:39] alexvotofuture commented on #5038
The idea is to show hackathon projects people are working on directly within the Gitcoin platform so other hackers can see the projects and get involved as they're browsing prizes, rather than having to go to Discord or a separate page. The form would include information to help people get involved and join the team (Discord channel name, Github repo link, Gitcoin usernames of the teammates, etc.)

[2019-08-20 07:38] qx133 commented on #4701
@owocki is not enough eth the only outstanding issue here? if that is the case, I can provide the eth. could you reset the tip redemptions status? it has been over a month waiting for this reward

[2019-08-20 09:20] alexvotofuture commented on #5039
This approach looks great to me, Octavio.

If creating a form and storing the info somewhere is difficult we can just do a hacker survey separately. @vs77bb is working on hacker surveys now, and can provide a second opinion on this.

[2019-08-20 11:42] danlipert commented on #5038
I'll rate this an 8 given we don't know much about the final spec and design

[2019-08-20 11:46] danlipert commented on #5039
Nice overview @octavioamu !! How many points do you think this will be?

[2019-08-20 11:47] danlipert commented on #4848
I think the above PR I submitted is good enough for now - if there are better HTML tags to use other than H2 and H3 then thats an easy fix but this should be enough for google to see the content

[2019-08-20 11:49] danlipert commented on #5036
Looks good - note that the "people in their org" mention of the first item in the Definition of Done will change based on Andrew's work with syncing the Github permissions for shared manangement

[2019-08-20 12:47] PixelantDesign commented on #5010
Great! Let's limit to updates on Github only cc @willsputra

[2019-08-20 12:49] PixelantDesign commented on #5036
Sounds good. Just to confirm - backend work will change in a future sprint once Andrews part is complete, correct?

[2019-08-20 12:52] PixelantDesign commented on #5035
@willsputra could you attach the source file please? Thanks!

[2019-08-20 15:04] #4889 closed

[2019-08-20 15:17] PixelantDesign opened #5045 "Bulk Invite on User Directory"
### User Story
As a funder of Gitcoin I'd like to be able to invite many contributors at once from the user directory.
As an operator of Gitcoin I'd like to be able to invite many contributors at once from the user directory.

### Assumptions
Human - Funders want this feature for instances where they have no applicants or applicants drop from their bounty.
Business - We assume that implementing th

[2019-08-20 15:28] PixelantDesign commented on #5039
@alexvotofuture to provide content:
- [ ] explaining about discord and hackathon guide (action button connect gh and goes back to the guide so they can join discord or what ever they need to do

[2019-08-20 15:48] PixelantDesign commented on #4424
settings matches automatic email - when changes are made, it's not reflected in the user directory.
Need to unify everything and fix filters in user directory.

[2019-08-20 15:55] PixelantDesign commented on #5035
Front End Sprint 17
Chron Job Sprint 18

[2019-08-20 16:09] PixelantDesign commented on #5036
https://github.com/gitcoinco/web/issues/4714

[2019-08-20 17:47] kuhnchris commented on #5028
I see two possible problems:
![grafik](https://user-images.githubusercontent.com/761911/63370757-288d6d00-c383-11e9-906f-d803442a6dc5.png)
* do we have active user DRM in place (as in, unsubscribing, the email exposure issue, etc)?
* and - most obviously - not "updating" the product for a month...

[2019-08-20 20:02] PixelantDesign opened #5048 "Invite Groups of Contributors Based on Skills"
### User Story
As a Gitcoin Funder I'd like to invite groups of contributors to my bounty so that I have a lot of candidates to choose from.

### What
Add form field to allow ability to invite groups of users based on skill required on this bounty

### Assumptions
Human - We assume that funders wnat to invite by groups/skills
Business- We assume that if we build this the number of contributor appl

[2019-08-21 07:19] zoek1 commented on #4264
One question @frankchen07, based on the current invoice template, there's the section "Item". I'm confusing about the format to show recurrent payments at such section.  "Contribution Type", "Number of Contribution Periods", "Payment Period" all this info is required at the invoice?
Also an invoice needs to genereted by period?

[2019-08-21 13:06] #5014 closed

[2019-08-21 14:54] writeprovidence commented on #4944
still in progress, done soon

On Tue, Aug 20, 2019 at 5:15 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2019-08-21 15:30] thelostone-mc commented on #4744
We are good for payout ^_^ thanks man @vince0656  🙌

[2019-08-21 15:30] #4744 closed

[2019-08-21 15:36] owocki commented on #4806
that makes sense to me

[2019-08-21 15:37] owocki commented on #1991
naw

[2019-08-21 15:37] #1991 closed

[2019-08-21 15:45] owocki opened #5053 "Gitcoin.co Security Bounty"
# Gitcoin Security Bounty Program

Gitcoin is an open-source marketplace with our code available for inspection and research. If you discover a severe bug affecting the privacy, data, or security of our users we ask that you disclose responsibly and privately. For security related vulnerabilities we reward researchers for private and professional disclosure.

Non-security issues (style issues, gas

[2019-08-21 15:59] vince0656 commented on #3544
Hi there,

I'm still working on this.

Thanks very much,
Vincent

[2019-08-21 16:27] willsputra commented on #4954
@danlipert so someone with Write or Admin permissions will be able to:
• Fund issues from that repo
• Modify bounty details (name, description, extend expiration etc.)
• Approve/reject contributors
• Payout contributors

is that correct? what else can they do?

[2019-08-21 17:00] willsputra commented on #5035
sketch file:
https://github.com/gitcoinco/creative/blob/188e4785587cbae36f47c6a1f3284724ad2bfa0d/Product/Discoverability%20Email/Discoverability%20Email.sketch

[2019-08-22 08:59] vince0656 commented on #4745
Hey @thelostone-mc @ceresstation any idea on when payment will take place?

[2019-08-22 14:22] Adamits commented on #4695
Had to be out of town again this week - sorry. Can submit WIP tonight, but had trouble with npm for the commit-checker suggested in contributor's guide.

[2019-08-22 17:40] PixelantDesign commented on #4978
@willsputra could you attach the final file?

[2019-08-22 17:43] PixelantDesign commented on #4822
@octavioamu please see build ticket in sprint 17 per discussion with @danlipert

[2019-08-22 17:43] #4822 closed

[2019-08-22 17:45] PixelantDesign commented on #4848
Just circled up with @danlipert we think we should still try this. Closing this research task since we have a PR open.

cc: @owocki @octavioamu @vs77bb @thelostone-mc

[2019-08-22 17:45] #4848 closed

[2019-08-22 17:45] PixelantDesign commented on #4896
This is waiting on a design, cc @willsputra

[2019-08-22 17:47] #4755 closed

[2019-08-22 17:47] willsputra commented on #4978
@PixelantDesign
https://github.com/gitcoinco/creative/blob/e085b9522c910fee56fc8c7c0fd9253a3c431a0f/Product/Dashboard/Intro%20Email/Dashboard%20Intro%20Email.sketch

[2019-08-22 17:47] #4888 closed

[2019-08-22 17:48] PixelantDesign commented on #4665
@octavioamu what is left to do on this task?

[2019-08-22 18:05] octavioamu commented on #4665
I think this was deployed time ago

[2019-08-22 18:05] #4665 closed

[2019-08-22 18:13] octavioamu commented on #4695
just need to run npm run eslint and npm run stylelint but anyway that will be run on the PR with travis so don't worry for now on that

[2019-08-22 19:10] octavioamu opened #5057 "Gitcoin Product Updates"
<h3>Multi-Collateral Dai Support is Live!</h3>
<p>Hello from the Gitcoin team - we are pleased to announce that support for the new Multi-Collateral Dai token is now live on our platform.</p>
<p>If you haven't heard, MakerDAO launched a new version of their Dai token recently, and you can now use it on Gitcoin. To use the new version of Dai here on Gitcoin, click <a href="https://gitcoin.co/settin

[2019-08-22 19:15] octavioamu commented on #5057
test

[2019-08-22 19:54] octavioamu commented on #4896
The content of this updates comes from this issue description, what ever we put there, will be the content of the modal
https://github.com/gitcoinco/web/issues/5057

[2019-08-23 03:49] abitrolly commented on #1989
I don't see anything. Don't even remember where it was. Will do screenshot next time.

[2019-08-23 03:49] #1989 closed

[2019-08-23 07:13] kuhnchris commented on #2053
Is this still a feature that is frequently asked?

[2019-08-23 07:19] kuhnchris commented on #2054
@akru seems like the submission was just some test, so, do you still want to re-open this issue, or cancel it? New Transactions will apparently be picked up now.

[2019-08-23 07:20] #2078 closed

[2019-08-23 07:21] kuhnchris commented on #2098
I assume you managed to fix this? Closing this.

[2019-08-23 07:21] #2098 closed

[2019-08-23 07:23] kuhnchris commented on #2101
Did this ever move forward?

[2019-08-23 07:24] kuhnchris commented on #2110
?

[2019-08-23 07:24] #2110 closed

[2019-08-23 07:24] #2112 closed

[2019-08-23 07:25] kuhnchris commented on #2113
I assume this is something for @danlipert and @octavioamu for deployments internally?

[2019-08-23 07:30] kuhnchris commented on #2114
So, is this still a thing that is in scope and / or maintained?

[2019-08-23 07:39] kuhnchris commented on #2115
@thelostone-mc anything decided here?

[2019-08-23 07:52] kuhnchris commented on #2120
Still open?

[2019-08-23 07:53] #2126 closed

[2019-08-23 07:57] kuhnchris commented on #2129
Did we do anything regarding this? The error keeps popping up

[2019-08-23 08:01] kuhnchris commented on #2137
Is this still wrong?

[2019-08-23 08:02] kuhnchris commented on #2143
Is this error still occouring? Else if we cannot reproduce it and it doesn't show up it may have been a one-time issue.

[2019-08-23 08:05] kuhnchris commented on #2155
Did we add this filter to the explorer?

[2019-08-23 08:25] #2235 closed

[2019-08-23 08:26] kuhnchris commented on #2227
Issue/Bounty is done now - I assume it was status-overwrtten?

[2019-08-23 08:26] #2227 closed

[2019-08-23 08:32] kuhnchris commented on #2252
Fixed

[2019-08-23 08:32] #2252 closed

[2019-08-23 08:40] kuhnchris commented on #2000
Is the story finished?

[2019-08-23 08:42] kuhnchris commented on #2159
Did we add this to CI?

[2019-08-23 08:47] kuhnchris commented on #2160
so @owocki did the talks go anywhere?

[2019-08-23 08:54] kuhnchris commented on #2166
Is this still a backlog item?

[2019-08-23 09:43] leela52452 opened #5059 "fixing failed checks for components "Translations & Javascript" on weblate"
i would like to fix issues of "Failed check: Starting spaces; Trailing question, space, exclamation, colon"

[source1](https://hosted.weblate.org/projects/gitcoin/translations/hi/) [source2](https://hosted.weblate.org/projects/gitcoin/javascript/hi/)

if it is OK to fix them
way 1
create issue for each failed check & pull request

way 2
pull request with commit message, for example:
removed traili

[2019-08-23 09:44] kuhnchris commented on #2249
@PixelantDesign did we create/finish this?

[2019-08-23 09:49] kuhnchris commented on #2169
This is one of the open heavy issues - good points in here.

[2019-08-23 09:51] #2170 closed

[2019-08-23 09:51] knocte commented on #2169
Assigned to me? I'm the backer not the dev :)

[2019-08-23 09:53] kuhnchris commented on #2174
@PixelantDesign can we pay out pinkie at least a bit? since he did much work on this and it never got merged. :-(

cc @thelostone-mc

[2019-08-23 09:54] kuhnchris commented on #2175
@PixelantDesign I think this was added to the page, right? Closing this, please reopen if I'm wrong!

[2019-08-23 09:54] #2175 closed

[2019-08-23 09:57] kuhnchris commented on #2184
@PixelantDesign did this got reopend on purpose?

[2019-08-23 10:00] kuhnchris commented on #2187
still an issue?

[2019-08-23 10:01] #2188 closed

[2019-08-23 10:01] #2194 closed

[2019-08-23 10:02] #2195 closed

[2019-08-23 10:20] kuhnchris commented on #2205
@willsputra and, any success?

[2019-08-23 10:21] kuhnchris commented on #2206
Anish finished this, no?

[2019-08-23 10:21] #2206 closed

[2019-08-23 10:22] kuhnchris commented on #2208
Still?

[2019-08-23 10:24] #2212 closed

[2019-08-23 10:25] kuhnchris commented on #2214
is this old, or did we change something here? @octavioamu

[2019-08-23 10:26] kuhnchris commented on #2216
So... did we do something with this?

[2019-08-23 10:43] thelostone-mc commented on #5035
@octavioamu I'll build out the email template and hand it off over the weekend  🙌

[2019-08-23 11:14] decentralion commented on #2160
From a technical perspective, SourceCred is ready for this integration (the CLI outputs scores, both total and time-scoped, so you could do all-time payouts or payouts for recent contributions). From an integration standpoint, right now depending on SourceCred is still a little cumbersome as we aren't yet published on npm--but that will change soon(tm). https://github.com/sourcecred/sourcecred/iss

[2019-08-23 11:37] kuhnchris commented on #2253
Is still still reproducable?

[2019-08-23 11:39] kuhnchris commented on #2259
@thelostone-mc @owocki please check the PR!

[2019-08-23 11:41] kuhnchris commented on #2266
@owocki still an active issue?

[2019-08-23 11:43] kuhnchris commented on #2269
![image](https://user-images.githubusercontent.com/761911/63590355-dda26e00-c5ab-11e9-8e69-2f78988e11f9.png)
The text seems realigned - the unification of the bar is it's own issue, please! 🗳

[2019-08-23 11:43] #2269 closed

[2019-08-23 11:45] kuhnchris commented on #2277
I think this is done - closing.

[2019-08-23 11:45] #2277 closed

[2019-08-23 11:48] kuhnchris commented on #2292
The appropriate "Worker Approved" lines is available - it's shown for the bounty creator. If you think this is a bug, please let us know in a new ticket with the change suggestion.

[2019-08-23 11:48] #2292 closed

[2019-08-23 11:48] kuhnchris commented on #2281
Could you open a PR for this if this is still relevant?

[2019-08-23 11:49] kuhnchris commented on #2297
Did you ever go forward with the referal programs?

[2019-08-23 11:53] kuhnchris commented on #2316
This was fixed.

[2019-08-23 11:53] #2316 closed

[2019-08-23 11:55] #2317 closed

[2019-08-23 14:18] danlipert commented on #5021
This is a duplicate of https://github.com/gitcoinco/web/issues/5022 right?

[2019-08-23 14:18] #5021 closed

[2019-08-23 14:57] danlipert commented on #5048
@thelostone-mc what do you think of this as a start for the backend https://github.com/gitcoinco/web/pull/5060

[2019-08-23 16:04] PumpkingWok commented on #4806
Hi there,
I'm going to open a WIP PR tomorrow, so we can look together into the code, just to understand if for you it makes sense.

[2019-08-23 17:03] willsputra opened #5061 "Build - As a funder, I want to see active bounties that don't fit the existing dashboard groups on the dashboard"
### User Story
As a funder, I want to see active bounties that don't fit the existing dashboard groups on the dashboard.

### What
The funder dashboard currently only shows three groups: Open Bounties, Work Submitted, Expired Bounties. However, there are cases where the bounties are still active but no actions are needed so they're not shown, for example:
• Bounties where people started work but h

[2019-08-23 17:25] think-in-universe commented on #4943
Can I know how the bounty is defined in GitCoin?

In the GitCoin issue https://gitcoin.co/issue/gitcoinco/web/4943/3314, we can see the bounty is 0.5 ETH,
![image](https://user-images.githubusercontent.com/46699230/63611120-c005f080-c60d-11e9-9ff9-11193b075657.png)

but in this GitHub issue https://github.com/gitcoinco/web/issues/4943, it's described as 15 DAI,

![image](https://user-images.github

[2019-08-23 17:51] zoek1 commented on #4264
any advice or comment?

[2019-08-23 18:09] think-in-universe commented on #4943
Is there any future plan to integrate with non-ERC20 tokens like STEEM? I actually want to bring a couple of STEEM developers to GitCoin, but I'm not sure what's the best practice to integrate.

[2019-08-23 18:39] #1212 closed

[2019-08-23 18:39] #3188 closed

[2019-08-23 18:39] #2553 closed

[2019-08-23 19:12] octavioamu commented on #5061
Adding also the invite button to go to user directory with the bounties skills filter

[2019-08-23 19:42] thelostone-mc commented on #5048
@danlipert I think we can actually use what we already have from the backend !
So if a funder selects skills as HTML + CSS
Ideally we can hit https://gitcoin.co/api/v0.1/users_fetch/?skills=html%2Ccss and get the results and populate the Invite Contributor field!

The logic to fetch all names from that field on funding an issue is already in place so I believe we can do away without it !

cc @octa

[2019-08-23 20:02] writeprovidence commented on #4944
@owocki pls take a look on this issue https://www.figma.com/proto/cXjqMhsRNSorFUxBCMyUMc/Result-page?scaling=min-zoom&node-id=0%3A4

[2019-08-23 21:07] octavioamu commented on #2214
Ohh yes very old and think all was done, in diff ways but not an issue anymore

[2019-08-23 21:07] #2214 closed

[2019-08-23 21:09] octavioamu commented on #2053
yes, is kind of the idea of having favorites . With that we can implement this feature for bounties and many others

[2019-08-24 00:25] androolloyd commented on #5036
While debugging the addition of Organizations, I noticed that there is a mention to the profile.organizations object, originally indicating it was apart of the profile table, it seems to be that the organizations object it references in user_popover.js is an array of interactions on the site, bounties, etc, and the concept is to showcase the logos(i think) of each org that they have worked with.

[2019-08-24 00:26] acolytec3 opened #5064 "Ethberlin reserved bounties available to all"
**Describe the bug**
Some bounties that were supposed to be reserved for Ethberlin attendees were open for anyone to participate on.  The page displayed an error message stating this bounty is reserved for someone else but still let me start work.  Seems like this should be a bug if it's reserved for someone else.

**To Reproduce**
Apply to work on [this bounty](https://gitcoin.co/issue/ethresearc

[2019-08-24 08:48] leela52452 commented on #5059
list 1

**Starting spaces**

`dashboard/templates/bounty_details.html:32`
 Looking to fund

`dashboard/templates/ens/ens_rate_limit.html:13`
 days. If you have

`marketing/mails.py:187`
 is out of gas

`retail/templates/presskit/logo.html:23`
 Gitcoin is a mission

`retail/templates/settings/ens.html:8`
 Gitcoin will issue

`retail/templates/settings/slack.html:8`
 Gitcoin can post

`retail/templa

[2019-08-24 09:30] thelostone-mc commented on #4744
@ceresstation / @PixelantDesign  could we pay this out ^_^

[2019-08-24 09:31] thelostone-mc commented on #2184
Ah @kuhnchris I guess this was opened on 21st July!
This has been fixed over at https://github.com/gitcoinco/web/pull/5012

This is duplicate issue https://github.com/gitcoinco/web/issues/4744  (well the other one is the duplicate but yeah )

[2019-08-24 09:31] #2184 closed

[2019-08-24 18:52] john-light commented on #2815
I am also getting this error when trying to use [Frame](https://frame.sh) 0.1.2

Normally I would expect Frame to pop up and ask for permission so Gitcoin can view my account. Instead I receive this error:

[2019-08-24 18:52] john-light commented on #2253
@kuhnchris I can't tell, I ran into a different issue when trying to use Gitcoin again:

https://github.com/gitcoinco/web/issues/2815#issuecomment-524572936

[2019-08-24 19:01] john-light commented on #2253
Switched to metamask, seems to work now.

[2019-08-24 19:01] #2253 closed

[2019-08-25 08:01] kuhnchris commented on #4264
I think the folks are out (at ETHBerlin) so it may take a bit to come back at you. I'll try to ping them on monday for you.

[2019-08-25 08:03] kuhnchris commented on #2053
OK, so I assume we can close this in favor of the favorites / issue.

[2019-08-25 08:03] #2053 closed

[2019-08-25 08:07] kuhnchris commented on #5064
Technically we currently do not have any way to tell if someone is part of an event.
We may be able to add a "requiring certain kudos to participate" which would require you to track down @owocki and shake him until he drops a kudos, but for now - no way to do so, sorry!

The bounty funder reacted correctly since he was able to determine if you were part of ethberlin or not. :-)

[2019-08-25 08:16] kuhnchris commented on #2320
Did we ever implement this?

[2019-08-25 08:17] kuhnchris commented on #2323
I hope we fixed this...

[2019-08-25 08:17] kuhnchris commented on #2332
Was there ever a build ticket for this?

[2019-08-25 08:18] #2333 closed

[2019-08-25 08:19] kuhnchris commented on #2352
Superseeded/Implemented by #2215

[2019-08-25 08:19] #2352 closed

[2019-08-25 08:21] kuhnchris commented on #2353
Is this still open?

[2019-08-25 08:24] kuhnchris commented on #2370
@owocki @ceresstation  can we still check this out or shall we kill it? Funds for @pinkiebell are also still floating around. Thanks

[2019-08-25 09:43] acolytec3 commented on #5064
That all makes sense and I'd definitely volunteer to test out that feature
of you ever deploy it. They said, why is the page displaying a "reserved
for someone else" error message but still letting me stay work on the
bounty. Standard rather issues don't even give you an option to start work.
Seems like something is amiss.

On Sun, Aug 25, 2019, 4:07 AM KuhnChris <notifications@github.com> wrote:

[2019-08-25 09:48] #2054 closed

[2019-08-25 13:45] owocki commented on #4834
@iamonuwa whats the new timeline?

[2019-08-25 13:48] owocki commented on #4944
@writeprovidence thanks for this!  a few questions:

1. the hackathon design is the same as the bounty design.. is this on purpose?
2. on the 'reviews' module, the item is on the left / offcenter.  is this by design?
3. can we reduce the whitespace on the 'recent bounties' module?

[2019-08-25 15:59] iamonuwa commented on #4834
Wednesday night this week

[2019-08-25 17:33] thelostone-mc commented on #2815
Hmm so I can't reproduce this
- incognito without metamask installed
- with metamask installed and permissions given

It could be cause of this 🤔

<img width="406" alt="Screenshot 2019-08-19 at 5 23 17 PM" src="https://user-images.githubusercontent.com/5358146/63653593-860f2880-c78c-11e9-9528-d0fb959fc89e.png">

[2019-08-26 06:59] kuhnchris opened #5070 "master branch merge travis fails to upload build to docker"
**Describe the bug**
docker push fails

**To Reproduce**
commit to master

**Expected behavior**
rc = 0

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/63671453-c77cf380-c7df-11e9-8509-b58e6c341179.png)

[2019-08-26 07:06] kuhnchris commented on #2069
@PixelantDesign that was what I was looking for a while ago.
@frankchen07 @willsputra did we add this in already or is this still dangling?

[2019-08-26 07:09] kuhnchris commented on #2394
@danlipert any idea if we ever moved forward with this idea or did we end up dropping it?

[2019-08-26 07:11] kuhnchris commented on #2420
Did this ever get in? We do have a button "Ready for Remarketing" - is that the result out of this?
![image](https://user-images.githubusercontent.com/761911/63672122-84238480-c7e1-11e9-942c-629d774ae32a.png)

[2019-08-26 07:12] kuhnchris commented on #2421
@Anish-Agnihotri @vs77bb  @owocki did we end up dropping the mails?

[2019-08-26 07:13] kuhnchris commented on #2422
Mind following up?

[2019-08-26 07:17] kuhnchris commented on #2425
is this still an issue to this day?

[2019-08-26 07:19] kuhnchris commented on #2426
should we create a build ticket for that @PixelantDesign ?

[2019-08-26 07:19] kuhnchris commented on #2427
do we even have a view counter in the database...?

[2019-08-26 07:21] kuhnchris commented on #2431
Since the connected PR is closed I'll close this issue aswell.

[2019-08-26 07:21] #2431 closed

[2019-08-26 07:21] #2437 closed

[2019-08-26 07:23] kuhnchris commented on #2446
You mean a counter that says "xyz$ have been raised for abc grants"?

[2019-08-26 07:24] #4544 closed

[2019-08-26 07:25] kuhnchris commented on #2458
hey there @davidkaufman - did anything ever work out regarding the api? :-)

[2019-08-26 07:28] #2469 closed

[2019-08-26 07:29] kuhnchris commented on #2479
@danlipert do MemoryError still pop up?

[2019-08-26 07:30] kuhnchris commented on #2481
Nowadays we're locked on github issues and that box is grayed out, i think?

[2019-08-26 07:31] kuhnchris commented on #2488
Should be fixed at this point - if it keeps coming back please reopen a new issue so we can track it

[2019-08-26 07:31] #2488 closed

[2019-08-26 07:32] kuhnchris commented on #2491
Did we... ever define that in more detail? Is it still something you need?

[2019-08-26 07:35] kuhnchris commented on #2496
@nasehim7 you ever came around to fix this?

[2019-08-26 07:35] #2505 closed

[2019-08-26 07:36] kuhnchris commented on #2515
superseeded by dashboard

[2019-08-26 07:36] #2515 closed

[2019-08-26 07:36] kuhnchris commented on #2523
did you guys ever figure out the drop off points or reasons?

[2019-08-26 07:37] kuhnchris commented on #2528
This is related to what issues are being counted as "being worked on". Does this error still occour to you @Destiner ?

[2019-08-26 07:40] kuhnchris commented on #2535
just checked - this is still the same.
![image](https://user-images.githubusercontent.com/761911/63673828-7b34b200-c7e5-11e9-8b23-9d4784d2c573.png)

[2019-08-26 07:41] kuhnchris commented on #2536
This still happens, but they have different standard bounty IDs.
![image](https://user-images.githubusercontent.com/761911/63673930-b46d2200-c7e5-11e9-84d2-052c06858249.png)
So this is as expected.

[2019-08-26 07:44] kuhnchris commented on #2539
Seems fixed
![image](https://user-images.githubusercontent.com/761911/63674115-1f1e5d80-c7e6-11e9-8837-b3d5c56e4a0a.png)

[2019-08-26 07:44] #2539 closed

[2019-08-26 10:15] writeprovidence commented on #4944
@owocki
1. Yes the hackathon design is on purpose, but i will make some changes if you don't like it that way.
2. yes its by design.
3. i have just reduce the whitespace

[2019-08-26 13:50] writeprovidence commented on #4944
@owocki pls take a look https://www.figma.com/file/cXjqMhsRNSorFUxBCMyUMc/Result-page?node-id=0%3A4

[2019-08-26 13:54] writeprovidence commented on #4944
@owocki pls take a look the reviewed version https://www.figma.com/proto/cXjqMhsRNSorFUxBCMyUMc/Result-page?scaling=min-zoom&node-id=0%3A4

[2019-08-26 14:07] Destiner commented on #2528
@kuhnchris can't tell you for sure because I haven't used GitCoin in a while, but it seems like the [issue](https://gitcoin.co/issue/ethereum-ts/TypeChain/94/1262) mentioned above is marked as "done" now and also it says that I don't have open issues anymore.

[2019-08-26 14:27] danlipert commented on #2394
Infura works pretty good for now I think, esp. since we are on the paid tier

[2019-08-26 14:27] #2394 closed

[2019-08-26 14:27] #2479 closed

[2019-08-26 14:38] kuhnchris commented on #2528
Then I'll close this one for now and if it resurfaces please open a new ticket, okay? :-) Thanks!

[2019-08-26 14:38] #2528 closed

[2019-08-26 14:41] danlipert commented on #4954
@willsputra I think that sums it up correctly 👍

[2019-08-26 14:46] #2113 closed

[2019-08-26 14:48] danlipert commented on #5048
@thelostone-mc Thats good but then won't we need to do a ton of requests to actually send each invite? I think its better to submit the skills to the backend to fire the email rather than submit each user_id to fire each email.

[2019-08-26 15:01] PumpkingWok commented on #4806
Hi @owocki,
I would like to ask you few questions regard the part of csv creation and email sending.
1) Does the csv file has to be created for every funder with at least one work funded in the last year, right ? with the info for every counter-party that the funder has worked in. Other than the columns that you proposed on issue description i could add a `worker_type` column for instance to ident

[2019-08-26 16:03] #2672 closed, assigned to nobody

[2019-08-26 16:03] #2591 closed, assigned to nobody

[2019-08-27 06:00] filips123 commented on #2536
@kuhnchris @frankchen07 Why are thay same bounties but with different IDs?

[2019-08-27 10:51] kuhnchris commented on #2536
@filips123 if someone created multiple "postings" (for example on the standardbounty network or double submitting) - then there are multiple bounties with different IDs. the IDs represent the standardbounty network ID for the contract. nothing we can really do about this. :-(

[2019-08-27 12:26] filips123 commented on #2536
@kuhnchris If same user creates bounty for same issue with same price, could you detect that and prevent it before submitting? Also, if multiple users create bounty for same issue, or same user creates bounties with different values, you should notify them and ask if that is what they want.

[2019-08-27 12:57] kuhnchris commented on #2536
If, by the time we have the info, it's not yet on the block chain, we could. But most of the time we cannot, as they may be double entries and by the time the tx is confirmed there are already possibly multiple other bounties for this created. :-(

[2019-08-27 13:34] willsputra commented on #4843
![shared_management](https://user-images.githubusercontent.com/19514207/63775590-db247900-c909-11e9-9b8e-1667bcac5731.jpg)

[2019-08-27 14:00] PixelantDesign opened #5075 "DESIGN - Display Match on Contributor Dashboard"
### User Story

DESIGN - Build Display Match on Contributor Dashboard

As a Gitcoin Contributor I'd like my matched bounties to be displayed on the dashboard to surface interesting projects that I could potentially work on.

As a funder I'd like contributors to see my bounties that match their skills on the dashboard so that I can automatically have developer flow into my bounties.

### Assumption

[2019-08-27 14:12] PixelantDesign opened #5076 "As a Gitcoin User I'd like Notificationos to be more prominent so that I know there is something I need to act on."
### User Story
As a Gitcoin User I'd like Notificationos to be more prominent so that I know there is something I need to act on.

### What
- Add a count to notificationos
- make the bell larger
- display notifications on landing pages/anywhere user is authenticated.

### Assumptions
Human - We assume that making these adjustments are things that users want and will help surface notifications more

[2019-08-27 15:03] L-KH commented on #5053
After looking site https://gitcoin.co/  I get a low severity bug.
Name : Absence of Anti-CSRF Tokens
Impacts : integrity, confidentiality, availability, access_control, non_repudiation
Serevity : Low
Method : GET
**Sample :**
**_Request_**
    GET https://gitcoin.co/ HTTP/1.1
    Content-Length : 0
    User-Agent : Mozilla/5.0 (Windows NT 6.3; WOW64; rv:39.0) Gecko/20100101 Firefox/39.0
    Host :

[2019-08-27 16:26] vince0656 commented on #3544
Hi there,

I'm still working on this. Coming to the end now

Thanks very much,
Vincent

[2019-08-27 16:39] owocki opened #5077 "as a funder, i'd like the ability to filter verified only users on gitcoin.co/users, so i can easily find verfied useres."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i'd like the ability to filter verified only users on gitcoin.co/users, so i can easily find verfied useres.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary

[2019-08-27 16:42] owocki opened #5078 "as a funder, i want to see some stats on the top of gitcoin.co/users so i can easily know what the stats are for each query i wrote."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want to see some stats on the top of gitcoin.co/users so i can easily know what the stats are for each query i wrote.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happe

[2019-08-27 16:44] owocki opened #5079 "as a funder, i want my user search history for gitcoin.co/users loggged into SearchHistory objects, so that the platform can know what my criteria are for users."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want my user search history for gitcoin.co/users loggged into SearchHistory objects, so that the platform can know what my criteria are for users.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to ha

[2019-08-27 21:49] frankchen07 opened #5080 "As a Gitcoin funder, I can't see bounty submissions for contest bounties because they remain in open status despite having work started or submitted."
### User Story

As a Gitcoin funder, I can't see bounty submissions for contest bounties because they remain in open status despite having work started or submitted.

### Why Is this Needed

Contest bounties will not show up correctly on the dashboard when submissions arise, which makes it confusing for funders.

### Description

On the dashboard, there are groups for open, submitted, and expired

[2019-08-28 08:56] writeprovidence commented on #4944
okay

[2019-08-28 12:41] qx133 commented on #4701
thanks, it works

[2019-08-28 13:56] danlipert commented on #4369
As an 80/20 type solution I think we'll just go with Github account age and have a cutoff for CLR matching of either 3 or 6 months or so

[2019-08-28 13:57] danlipert commented on #5045
We will probably need to make the "select all" admin only at first, and then have some sort of UX that prevents spam from happening (why wouldn't a funder select all for every bounty they create and invite everyone). Maybe we limit that as a potential paid feature, limit how many uses per month, etc.

[2019-08-28 16:56] kuhnchris commented on #4369
are we syncing this information already on the login process? if yes you could filter on the database for that attribute, else we may need to fetch the account creation date from the github api.
According to the github api @ https://developer.github.com/v3/users/ that would be "created_at"

[2019-08-28 17:27] willsputra commented on #5045
If it's admin only, based on yesterday's discussion, we might not need the checkboxes. We can also build the 'Description' part on the modal at a later stage to make things simpler for now.

![bulk](https://user-images.githubusercontent.com/19514207/63878326-96750c80-c9f3-11e9-8cc2-533e9bf0f892.jpg)

[2019-08-28 17:31] willsputra commented on #4843
added repo view. @danlipert @PixelantDesign let me know if I missed anything or if you all have any feedback!
![shared](https://user-images.githubusercontent.com/19514207/63878618-2a46d880-c9f4-11e9-806b-e3b27af58af8.jpg)

[2019-08-28 17:43] owocki opened #5089 "DESIGN - BOT Creatives - Fall 2019; 5th Edition"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="787" alt="Screen Shot 2019-08-28 at 11 34 24 AM" src="https://user-images.githubusercontent.com/513929/63878979-e5855800-c987-11e9-906f-699d27f6a144.png">

This is a bounty to create more Gitcoin Bots in new interesting scenes & styles.

# Pricing

i'll pay 35 DAI per artwork that looks as though some effort was put

[2019-08-28 17:52] owocki opened #5090 "invite contributors not working"
**Describe the bug**

invite contributors not working on /new bounty

**To Reproduce**

go to new bounty
try to invite a contributor

**Expected behavior**

contributors show up when u search

**Screenshots**

http://bits.owocki.com/7dfe3fd0994c/Screen%20Recording%202019-08-28%20at%2011.50%20AM.gif

**Desktop (please complete the following information):**

Mac OS , Chrome

[2019-08-28 18:29] filips123 commented on #2536
@kuhnchris Would it be possible to get pending transactions from network or store them in some kind temporary database?

[2019-08-28 18:38] GuistF commented on #5089
Sure, I'm already excited for this new task

[2019-08-28 18:47] kuhnchris commented on #2536
Depends, I guess that's something of a data amount question, so that'd be question for @frankchen07 or @danlipert tbh.

[2019-08-28 19:02] owocki opened #5091 "as a user of gitcoin, i want all of the js/css tags wrapped in compress tags, so that gitcoin loads fast"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user of gitcoin, i want all of the js/css tags wrapped in compress tags, so that gitcoin loads fast

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
itll make the

[2019-08-28 22:47] octavioamu commented on #5090
Now fixed on https://github.com/gitcoinco/web/issues/5048

[2019-08-28 23:42] octavioamu commented on #5036
@danlipert @thelostone-mc I have some technical questions about the data on that popover. Right now the data is not right because is using activity data:

![image](https://user-images.githubusercontent.com/1358093/63899311-ccee5f80-c9d2-11e9-86f4-bad5f47edb1a.png)

So the problem with activity data is that data is not at state of an application, if you apply to work, stop to work, submit work in t

[2019-08-29 10:48] writeprovidence commented on #4944
@owocki thanks for the kudos

[2019-08-29 12:31] danlipert commented on #5036
I think what we'll have to do is to go through each Profile's bounties they've interacted with, and check for different types of activity in priority order, then go to the next bounty once the highest priority activity for each bounty has been found. Example:

[code]

Performance will probably suck but it might be the best we can do because of the logic behind activities being a series of actions

[2019-08-29 13:02] danlipert commented on #5053
@L-KH Thanks for submitting your report - can you share with us a screenshot of the affected form? Thanks!

[2019-08-29 13:14] #5048 closed

[2019-08-29 14:09] octavioamu commented on #5036
in that case is not better to just fetch bounties + interest? instead of activity? since also we need to filter the ones related to skills of the current bounty.
something like Bounty.objects.filter(profile=profile)

[2019-08-29 14:29] danlipert commented on #5036
From our engineering chat:
Dan will add a cronjob to calculate success rate and store in user profile daily
Other data will be loaded directly on mouseover

[2019-08-29 15:38] PixelantDesign commented on #4369
@danlipert  to add admin override in case of a complaint.

[2019-08-29 15:41] PixelantDesign commented on #5045
- Allow Gitcoin Admins to do use this feature.
- Do not include the description field (for mvp).

[2019-08-29 15:50] PixelantDesign commented on #5061
Need to look at how we calculate when actions need to be taken...

[2019-08-29 17:36] owocki opened #5097 "bug - 'currently working' on activity tab is not working"
go to https://gitcoin.co/profile/writeprovidence
it doesnt work
[screenshot](http://bits.owocki.com/75a190573789/Image%202019-08-29%20at%2011.35.56%20AM.png)

expected - it works

[2019-08-29 17:57] willsputra commented on #5034
@PixelantDesign @frankchen07 maybe we can surface this on an email once a contributor submits work? also combined with https://github.com/gitcoinco/web/issues/4308

![submitworkmatching](https://user-images.githubusercontent.com/19514207/63964313-03a2a380-cac1-11e9-88fa-8f3373f68c6c.jpg)

[2019-08-29 18:54] octavioamu commented on #5097
@sergejmueller you are right is a backend task, maybe will need some changes in the front end side depending on the approach.

[2019-08-29 19:19] octavioamu opened #5098 "Already rated bounties come back again after reloading profile page"
**Describe the bug**

As a funder when you rate someone and reload the page, that need rating card still on the screen and can submit again.

**To Reproduce**

Go to your profile and rate someone worked on any of your bounties, reload the page.
**Expected behavior**

When reload the page the rating card should be there again.
**Screenshots**
<!-- If applicable, add screenshots to help explain your

[2019-08-29 21:03] frankchen07 commented on #5034
@willsputra

I see several pros doing it on the gitcoin site instead of email

1. the way you have it above, it's actually quite interesting with the (non-relevant / view) - this allows us to collect even more information on a hunter's preferences, which will loop back into a positive cycle for matching (whenever we have a matching algo)

2. waiting for email = another point which they can drop of

[2019-08-29 21:34] acolytec3 commented on #5097
@owocki @octavioamu  Who's approved to work on this?

[2019-08-29 22:11] owocki commented on #5097
oh shoot i approved u both.  @acolytec3 applied first, so i think they should have dibs.  sorry @sergejmueller

[2019-08-30 03:50] octavioamu opened #5102 "As a Gitcoin core developer, I want to change the logic around bounty states and expressing interest, so the data model is easier to work with and there are less bugs introduced."
### User Story

As a Gitcoin core developer, I want to change the logic around bounty states and expressing interest, so the data model is easier to work with and there are less bugs introduced.

### Description

Today we have some primary components of the system that manage the logic of the application, like:

**Bounty states**
- Open (bounty with anyone working, can have applicants)
- Work star

[2019-08-30 09:04] danlipert commented on #5036
@octavioamu @thelostone-mc So I ended up with something similar and quick to calculate in #5104 - Its the same calculation that we show in the quarterly stats so I figure we can start there and adjust with a more sophisticated algorithm that we can cache if we need to in the future

[2019-08-30 12:44] #5098 closed

[2019-08-30 13:33] octavioamu commented on #5102
@danlipert @thelostone-mc Guys feel free to edit/add/change informations

[2019-08-30 14:11] danlipert commented on #5102
Looks great! I think - `interest need to have the current action "work plan" and we can stop using the activity to manage the logic in the UI.` is the best solution as well.

[2019-08-30 19:16] owocki opened #5107 "architecture -- how can we generate new-style avatars on gitcoin"
there seems to be quite a bit of demand for 'new-style' avatars on gitcoin.

<a href="https://twitter.com/owocki/status/1167441032579092481"><img width="460" alt="Screen Shot 2019-08-30 at 1 12 59 PM" src="https://user-images.githubusercontent.com/513929/64046008-f5d43900-cb27-11e9-932a-bd00242098bb.png"></a>

we already have an avatar builder ( https://gitcoin.co/onboard/profile/?steps=avatar#sec

[2019-08-31 00:44] edsonayllon opened #5109 "Receiving Tip does not show as ETH Contributed or Bounty Completed"
**Describe the bug**

Received tip amount from a completed bounty does not show as bounty completed or ETH rewarded on a profile.

**To Reproduce**

1. Go to https://gitcoin.co/profile/edsonayllon

**Expected behavior**

Should show tip received from https://gitcoin.co/issue/bZxNetwork/Bounties/2/3297. Transaction found here: https://etherscan.io/tx/0x6f537357dd8d38e701d5427789899d74fcecda61da4987

[2019-08-31 02:47] willsputra commented on #5034
@frankchen07 thanks for the feedback! will explore how we can put the matches on the site

For reference, the existing submit work flow:
![flow](https://user-images.githubusercontent.com/19514207/64058355-1eb20800-cbd4-11e9-8c0c-d3bb59b616f2.jpg)

We most likely won't be able to put stuff on the Transaction Processing page, maybe we display matches when contributors are redirected back to the Issu

[2019-08-31 03:10] willsputra commented on #5034
another idea we can explore
![submit](https://user-images.githubusercontent.com/19514207/64058588-83229680-cbd7-11e9-8d8b-6d8b0ad0a67f.jpg)

[2019-08-31 13:05] vince0656 commented on #4745
Hey @thelostone-mc @ceresstation. Sorry to bug again but any idea on when payment will take place?

[2019-08-31 13:09] vince0656 commented on #4744
Hey @ceresstation / @PixelantDesign / @thelostone-mc. Sorry to bug, but any idea on when this will be paid out? Thanks :)

[2019-08-31 13:54] kuhnchris commented on #5107
well, we probabbly split them into common pieces, e.a. head form, earform, eyes, hair, beard (side, bottom, lip), cloths and accessories. (+ skintone).

Probabbly we should have mladen design multiple things, 8-directional maniquins (or at least 2 directional as the template is). we need to be aware that this doubles (or octuples) the effort for new items and accessories as they need to be drawn i

[2019-08-31 15:26] owocki opened #5111 "DESIGN - BOT Creatives - Devcon V Edition ⚔️🕍"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="787" alt="Screen Shot 2019-08-28 at 11 34 24 AM" src="https://user-images.githubusercontent.com/513929/63878979-e5855800-c987-11e9-906f-699d27f6a144.png">

This is a bounty to create more Gitcoin Bots in new interesting scenes & styles for Devcon V.

# Pricing

i'll pay 35 DAI per artwork that looks as though some e

[2019-08-31 19:25] zoek1 commented on #4264
Sure @frankchen07, that help! 👍

[2019-09-01 07:31] mehul0698 commented on #5111
@owocki The start work button is not available on the website.

[2019-09-02 02:13] think-in-universe opened #5115 "support non-ERC20 token such as STEEM"
### User Story

As a GitCoin issue funder, I want to support more non-ERC20 tokens such as STEEM, so that I can work with developers who accepts only non-ERC20 tokens.

### Why Is this Needed

*Summary*: I would like to work with quite a few developers from Steem community who mainly accepts STEEM, rather than ETH or ERC20 tokens.

### Description

*Type*: Feature

### Current Behavior

[Token Req

[2019-09-02 02:19] think-in-universe opened #5116 "GitCoinBot document is missing in GitCoin doc"
The GitCoinBot link https://docs.gitcoin.co/app/gitcoinbot/README.md in https://docs.gitcoin.co/#integrating-gitcoin is 404.

![image](https://user-images.githubusercontent.com/46699230/64086468-1809c900-cd6b-11e9-93a8-1cfa8169dc5f.png)

[2019-09-02 03:09] x5engine commented on #4943
Can you guys please accept my PR since you've liked it :) and get paid too, for it

[2019-09-02 03:28] think-in-universe commented on #5116
Fixed in https://github.com/gitcoinco/web/pull/5117

[2019-09-02 03:32] think-in-universe commented on #4943
I think the GitCoin issue is already closed.

However, I have found an issue of the GitCoin bot's doc, and would like to submit here: https://github.com/gitcoinco/web/pull/5117

I don't expect to be paid. just to fix the issue https://github.com/gitcoinco/web/issues/5116 that I have reported earlier.

[2019-09-02 14:24] owocki commented on #5115
STEEM as in the steem.it native token right?

[2019-09-02 15:36] ririen commented on #5053
I submitted the report to: engineering@gitcoin.co

[2019-09-02 15:58] think-in-universe commented on #5115
@owocki I mean the STEEM token and ecosystem (https://steem.com/).  Steemit is one of it's social media community that you may know: https://steemit.com/

[2019-09-02 17:20] owocki opened #5119 "code up the new profile tab designs"
code up the new profile tab designs to the `kevin/profile-v2` branch

![profile_coder](https://user-images.githubusercontent.com/513929/64128391-9b2f1d00-cd73-11e9-8e54-79a9c153ebf0.jpg)
![profile_coder_ratings](https://user-images.githubusercontent.com/513929/64128392-9b2f1d00-cd73-11e9-8b9f-d99930f6a35e.jpg)

[2019-09-02 17:20] owocki commented on #5119
@iamonuwa u want?

[2019-09-02 17:55] aokisok opened #5120 "Unable to see or receive tip after github username change."
### Who

aokisok, just a new gitcoin.co user who messed up his account

### What

@owocki on slack asked me to open an issue here to get this resolved.

1. Registered on gitcoin.co when my github username was `therealaok` , so I got the profile `gitcoin.co/therealaok`
2. Changed my github username to `aokisok`
3. Received tip to `@aokisok` on gitcoin.co
4. Could not collect tip, not showing in the

[2019-09-02 19:13] owocki commented on #5109
note to whomever works on this; `profile.get_eth_sum` is the method

@edsonayllon you want to take a stab at this? if not ill probably bounty it

[2019-09-02 19:18] owocki commented on #5120
hey man, thanks for your patience.

i just merged your profile to the new username with `migrate_dupe_profile.py` helhper script.

please logout / log back in;you should now see the claim tip button in the top right when you login as @aokisok ( screenshot http://bits.owocki.com/208cb1dc215d/Image%202019-09-02%20at%201.16.48%20PM.png )

[2019-09-02 19:25] aokisok commented on #5120
That did the trick, tip recieved and claimed ok. Thanks for your help !  Will close this.

[2019-09-02 19:25] #5120 closed

[2019-09-02 22:04] owocki commented on #5107
approving @evgeniuz since we've worked together on avatar stuff before :)

thats fine. u can expect any avatar components will come from our designer, we just need you to code them.

perhaps we can just have 1-3 head orientations (maybe we should pick one)?  given the need to keep complexity down, i'd almost err towards picking a head orientaion so we dont have to manage multiple.

yes pls do! cur

[2019-09-02 22:20] iamonuwa commented on #5119
@iamonuwa is very much interested

[2019-09-02 22:21] owocki commented on #5119
cool @iamonuwa can you turnaround by tuesday or weds?  how much ETH is it worth to ya?

[2019-09-03 04:29] edsonayllon commented on #5109
@owocki possibly. Would I receive the award that would go to the bounty?  `get_eth_sum` in `./app/dashboard/models.py` correct?

[2019-09-03 09:55] iamonuwa commented on #5119
Thursday

[2019-09-03 10:40] acolytec3 opened #5121 "Site asks for feedback on bounty I did not complete"
**Describe the bug**
I am being asked to provide feedback on a bounty I did not complete work on.

**To Reproduce**
I am being asked to provide feedback on this bounty even though I did not submit work on it.
https://gitcoin.co/issue/dap-ps/discover/19/3340

Use root user to impersonate user acolytec3, go to profile page, and view feedback section.

**Expected behavior**
I shouldn't be asked to su

[2019-09-03 15:15] owocki commented on #5119
@willsputra can u post sketch files?

[2019-09-03 15:20] #3546 closed

[2019-09-03 15:25] PixelantDesign opened #5124 "Build Profile Navigation Update"
### User Story
As a Gitcoin User I'd like to easily find what I need to in the profile nav so that I can focus on doing the most important things related to me.

### Assumptions
Human - We assume that users want an easier more concise way to navigate and get to the appropriate items in their profile. Easy ux will result in retention/ improved experience.
Business -We assume that if we make this up

[2019-09-03 15:30] PixelantDesign commented on #5034
Interesting putting it on a bar like that @willsputra! Is there a way to take the bar and put it in a modal that overlays the issue explorer? Or it could be on a screen?

I know there are issues of putting this type of stuff after the submit work step because of the transaction processing screen.

Thoughts @octavioamu @frankchen07 @vs77bb

[2019-09-03 15:32] PixelantDesign commented on #5034
I like having the email that leads into the app - perhaps the email could be more generic (applies to everyone) and lead to the contributor dashboard @willsputra what do you think?

https://github.com/gitcoinco/web/issues/5034#issuecomment-526295293

[2019-09-03 15:40] octavioamu commented on #5034
As our email open rate is low I was thinking we can create the dashboard area with matching bounties and point them with a link or even a redirect.

Another point, after submitting work I believe the redirect is to the bounty detail not the explorer.

[2019-09-03 15:55] danlipert opened #5125 "Gitcoin CWE-282-0"

[2019-09-03 16:28] octavioamu commented on #5102
@PixelantDesign @frankchen07 @willsputra

[2019-09-03 17:51] #5035 closed

[2019-09-03 18:45] owocki commented on #5119
ok

[2019-09-03 19:14] owocki commented on #5109
yes you would.

yes thats right

[2019-09-03 22:31] pinkiebell commented on #2125
@ryan-shea @kuhnchris

I got an email that the issue is expiring, care to close thing on gitcoin? :)
PR: https://github.com/gitcoinco/web/issues/2125
Gitcoin: https://gitcoin.co/issue/gitcoinco/web/2125/1095

[2019-09-04 03:43] edsonayllon commented on #5109
Ok. Will start work on it

[2019-09-04 13:03] PixelantDesign commented on #5034
I think the main point of this task is to have the bounties display after submit work step.

We have another task that displays bounties on contributor dashboard, see here: https://github.com/gitcoinco/web/issues/5075

[2019-09-04 13:10] PixelantDesign commented on #4843
@willsputra could we show updated nav here?

[2019-09-04 13:14] PixelantDesign opened #5130 "DESIGN - As a funder, I'd like to be know how to co manage **payment** of a bounty with my team members."
### User Story

As a funder, I'd like to be know how to co manage **payment** of a bounty with my team members.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happen)
*Summary*: Market validated customer need. Currently there is no ability to co manage the payout o

[2019-09-04 13:40] #5097 closed

[2019-09-04 14:35] #5039 closed

[2019-09-04 15:24] vs77bb commented on #4369
Recommend a lowest tier for CLR matching: If the Github account was created after March 2019, likely cannot contribute to the round (unless they meet other parameters which makes us think they are real people).

[2019-09-04 15:56] willsputra commented on #4843
updated nav as discussed. should we surface Organizations here?

![newnav](https://user-images.githubusercontent.com/19514207/64271269-3dfbbd00-cf67-11e9-85f8-59de0abdd86c.jpg)

[2019-09-04 16:14] owocki commented on #5075
a few Qs:
- what is 'express interest'? why not make the CTA into something that our platform does? how about 'start bounty'??
- when do we want to actually link the dashboard in  the nav and start showing it off?
- is there a funder dashboard version of this, such that funders can view contributors for their bounties?
- how often do the bounties on this list cycle through? as a coder ill stop pay

[2019-09-04 16:16] owocki commented on #3663
is this still blocked?  @frankchen07 is back from vacay right?

[2019-09-04 16:19] owocki commented on #5008
following this closely... team formation is a pretty high order bit for hackathons

[2019-09-04 16:21] owocki commented on #5119
![profile-ratings](https://user-images.githubusercontent.com/513929/64272951-9d24e780-cefd-11e9-9695-8e1222815fcd.jpg)

@iamonuwa heads up; new new tab design / ratings tab design... looks like you havent started on this yet, so hopefully im not too late..

[2019-09-04 16:35] willsputra commented on #5119
@owocki @iamonuwa sketch file:
https://github.com/gitcoinco/creative/blob/master/Product/Profile%20v2/Profile%20v2%20-%20Rating%20and%20Portfolio.sketch

[2019-09-04 16:36] iamonuwa commented on #5119
This looks good. I'll jump on it once I send in code fixes for this https://github.com/gitcoinco/web/pull/4653 in 20 minutes.

[2019-09-04 16:37] iamonuwa commented on #5119
@willsputra thanks, will work on it this night

[2019-09-04 17:16] frankchen07 commented on #3663
chatted with @thelostone-mc yesterday, I believe it's unblocked, but will check again, since he's digesting how the formula works

[2019-09-04 18:37] PumpkingWok commented on #4806
Hi there,

@owocki Do you know any template for create a 1099s form and save it in pdf for instance ?
I have take a look in it but i did not find nothing interesting.
Thanks in advance.

[2019-09-04 19:14] owocki commented on #4806
https://www.irs.gov/pub/irs-pdf/f1099msc.pdf

id use this.

for how to create a pdf; id poke around at python libararies... im sure theres one that does this already

[2019-09-04 19:28] owocki commented on #5111
i think that having a few more kudos that are of Robots and Kaiju (monsters) fighting over the skyline of Tokyo/Osaka would be cool...

cc @GuistF @excerebrose

[2019-09-04 19:34] owocki commented on #5090
hmmm still not working for  me...  i wonder why... http://bits.owocki.com/fe0af4bfd8a4/Screen%20Shot%202019-09-04%20at%201.33.53%20PM.png

[2019-09-04 19:46] excerebrose commented on #5111
on it! any specification for the kudos? @owocki ?

[2019-09-04 19:48] iamonuwa commented on #5119
Am building this inside the `kevin/profile-v2-refactor` branch

[2019-09-04 19:54] octavioamu commented on #5090
looks like there is a js error, but just saying about jquery not the actual code, weird.
![image](https://user-images.githubusercontent.com/1358093/64286620-4555a300-cf34-11e9-918e-3f634331231b.png)

[2019-09-04 19:54] owocki commented on #5111
if you google "kaiju fighting over japan" that ll yield plenty of inspiration... i think your work has been really good so far so im sure youll crush it! i guess my only ask is "make the bot thats fighting look like the gitcoin bot"

[2019-09-04 19:56] octavioamu commented on #5090
seems that doesn't happens on local

[2019-09-04 19:58] owocki commented on #5090
maybe if you impersonate my account ? i have a lot more work history on the platform than anyone else..

[2019-09-04 20:10] octavioamu commented on #5090
Ohh no no I have the same problem my print is from localhost, My point is working perfect on local but failing on production (also with my user). Trying to guess what is happening.

[2019-09-04 20:21] owocki commented on #5107
from the illustrator:

cool, i think it would work best if the front head and body orientation is used
like hte ones with aditya and connor

[2019-09-04 20:22] octavioamu commented on #5090
sentry ref https://sentry.io/organizations/gitcoin/issues/1068107871/?project=1398424&referrer=slack

[2019-09-04 20:57] octavioamu commented on #5090
![image](https://user-images.githubusercontent.com/1358093/64290935-6f5f9300-cf3d-11e9-8463-9239bc74ffce.png)
Ok looking at the internet I found the possible reason, related at some data being null, and as I see there is one user null

[2019-09-04 20:58] owocki opened #5133 "Pitch & Code - Help us increase Gitcoin's SEO."
Hey you..

Yes, you.

You've been looking around Gitcoin for a while now for a task that suits your skills and interests.

Well I might just have something that is broad & deep enough to interest you..

# What

Due to some internal reshuffling at Consensys with respect to how the marketing group is organized, Gitcoin is looking for a new leader to increase our ability to do effective SEO marketing

[2019-09-04 21:35] GuistF commented on #5111
ok, I'll try to make a "kaiju fighting" too.

[2019-09-04 22:01] frankchen07 commented on #5130
@willsputra - did you say you had a design for this, and would add it to this ticket?

[2019-09-04 22:08] frankchen07 commented on #5061
marking this as done, as 5080 continues the issues discussed today in estimation

[2019-09-05 05:37] #4424 closed

[2019-09-05 11:45] kuhnchris commented on #4806
This would look pretty promissing:
https://bostata.com/how-to-populate-fillable-pdfs-with-python/

[2019-09-05 12:49] androolloyd commented on #4868
Fixed the test issue

[2019-09-05 13:18] owocki commented on #3663
reminder to include phantom funds in this calculation https://github.com/gitcoinco/web/pull/5054

[2019-09-05 16:11] frankchen07 opened #5138 "As a Gitcoin funder, there are some dashboard improvements to be made."
### User Story

As a Gitcoin funder, there are some dashboard improvements to be made.

### Why Is this Needed

Discussion / bug hunt between Alisa, Octavio, & Frank.

### Description

1. Messaging on open bounties should be changed to something more general ("You don't have any open issues right now!")

![Screen Shot 2019-09-05 at 12 31 24](https://user-images.githubusercontent.com/7516920/643746

[2019-09-05 16:11] frankchen07 commented on #5061
this issue is closed, the original issue we've discussed is here: https://github.com/gitcoinco/web/issues/5138

[2019-09-05 16:11] #5061 closed

[2019-09-05 16:41] owocki commented on #5102
@octavioamu asked for my input here... so here goes..

i tend to think in terms of end user stories; could someone articulate why the current state is sub-optimal for end-users?   do we have evidence of complaints from users here?

to me it makes sense that contest/coop bounties skip start work / submitted states (because... welll... they are open even if someone else is working on them).  but i w

[2019-09-05 16:46] octavioamu commented on #5102
Oh don't feel as "the decisions were bad taken" Actually the point is the system has grow a lot on services and needs, and when adding new features like Dashboard, hackathons, etc feels that some updates on the general logic are needed.

[2019-09-05 16:49] owocki commented on #5102
maybe breaking `status` into two states `internal_status` and `ui_status` would help... that way we can manage a consistent flow on the former and the user one seperately

[2019-09-05 16:49] octavioamu commented on #4695
@pbteja1998  are you working on this?

[2019-09-05 16:50] octavioamu commented on #5102
yes, maybe that can be more easy to implement also.

[2019-09-05 17:02] pbteja1998 commented on #4695
@octavioamu I am really sorry. I have been busy with some personal work these past few days. I will stop working on this from gitcoin and reapply(if the issue is still up for grabs) after I get free. Sorry for the inconvenience.

[2019-09-05 17:25] owocki opened #5140 "as a user who forgot his preferred payout address private key, i want a way to avoid having this happen again"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as  a user who forgot his preferred payout address private key, i want a way to avoid having this happen again

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
someone

[2019-09-05 17:58] octavioamu commented on #5138
I don't understand this, someone can put a print of what is happening?

[2019-09-05 18:22] octavioamu commented on #3782
@danlipert we need some help thinking on the architecture of this so we can estimate.

[2019-09-05 18:24] androolloyd commented on #5140
A flag in the system that allows for users to be "reminded" after a period about their wallet and to confirm they have access to it before processing a payout, if the user can't verify it, they are prompted to add a new wallet.

[2019-09-05 19:56] owocki opened #5142 "as a gitcoin partner; id like codefunds blockchain ad business referred to as 'gitcoin ads' to avoid confusion about the relationship between gitcoin and codefund"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a gitcoin partner; id like codefunds blockchain ad business referred to as 'gitcoin ads' to avoid confusion about the relationship between gitcoin and codefund

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to h

[2019-09-05 20:01] octavioamu opened #5143 "As a funder I will like to know who already was invited to my bounty"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder I will like to have a list of people already invited to a bounty in bounty detail page so I can avoid reinviting the same people.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-09-05 20:57] aashutoshrathi commented on #3207
What're plans for this @owocki?

[2019-09-05 21:20] owocki commented on #5008
the funnel as i see it (each step is probably its own ticket)

1. team formation
2. team management & updates
3. submission
4. judging
5. payout

[2019-09-05 22:22] owocki commented on #3207
i think the plan was to create a bunch of landing pages around various terms that freelancers would serach.  its not defined much beyond that

[2019-09-05 22:22] owocki commented on #3207
@mbeharry might have more details tho

[2019-09-06 02:22] #3912 closed

[2019-09-06 02:23] owocki opened #5145 "DESIGN - As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2019-09-06 02:23] owocki commented on #3912
opening this up for a few more subbmisions https://github.com/gitcoinco/web/issues/5145

[2019-09-06 15:09] sergejmueller opened #5147 "Data Protection & Privacy on Gitcoin"
Gitcoin promises privacy and says: "We will never share your email with anyone else". Now I'm surprised that our email addresses are transferred to a third party provider (in this case [Sentry](https://sentry.io/)). Gitcoin uses Sentry to log JavaScript errors.

Would it be possible to track errors anonymously? Just using the user ID?

https://github.com/gitcoinco/web/blob/dd077ec64bb09f53590eb10b

[2019-09-06 15:14] #5116 closed

[2019-09-06 15:23] danlipert opened #5148 "BUILD - As a grant donator, I want custom messaging if I am not eligible for CLR due to account age, so I can take action if I think this is in error"
### User Story

As a grant donator, I want custom messaging if I am not eligible for CLR due to account age, so I can take action if I think this is in error.

### Why Is this Needed

In CLR round 2, a simple method of collusion resistance was to investigate the account age of the contributors towards particular CLR grants. If the account was created day of or only has been open for less than a we

[2019-09-06 15:58] afmsavage commented on #631
I'd be extremely interested in helping write whatever I can help with. Another good project I don't see referenced here is the OpenZeppelin EtherNaut program. It's more about learning smart contract security and such. All community generated. https://ethernaut.openzeppelin.com/

[2019-09-06 17:27] frankchen07 commented on #5075
a few Qs:

if the bounty is approval only - express interest is the way the contributor would submit a work plan and apply. if it's non-approval, then it's "start bounty" - we could just make the CTA "start work".

it's live already

yes its part of the funder dashboard

the dashboard should have three sections (bounties in progress, applied, work submitted), so depending on the status it should s

[2019-09-06 18:46] owocki commented on #4576
there are some ideas posted on https://github.com/gitcoinco/web/issues/4832 that may be worth folding in ...

@willsputra are we going to create a completely new design for this, or re-use the profile design?  id strongly strongly prefer that the individual profile and org profile use the same general design / architecture (although i think we can explore what to put in the tabs and top hero)

the

[2019-09-06 18:55] frankchen07 commented on #5008
@PixelantDesign - your comment above I believe is for **organizations**, which is different than team formation for hackathons.

@willsputra

agree with owocki here that this is somewhat of a loaded ticket. let's focus on the first two steps for this ticket:

1. the page that the contributor visits in order to create, see, and join a hackathon team, and how that ties into the available projects.

[2019-09-06 19:36] owocki commented on #5147
yes i agree; just sharing user id upon error would be better

[2019-09-06 20:16] marc-at-consensys commented on #3207
@kuhnchris Yes! We did create some landing pages to target the top relevant freelancer terms like "freelance python jobs / bounties" but incorporating the term "freelancer" throughout the copy where relevant will help.  Especially on templated pages like the bounties.  On top of that, the messaging on the core pages can be revisited to include this and other terms that are relevant now.  Here are

[2019-09-06 20:27] frankchen07 commented on #5034
I made the call here to do https://github.com/gitcoinco/web/issues/5075 first, before we pursue it after submit work, since the logistics of where it would pop up doesn't lend us very good options, as it'll either be on issue details or the issue explorer, neither of which are ideal.

[2019-09-06 21:24] owocki commented on #5145
@charlie4biz @cryptonautica @MaxStalker up to do a few more?

@guistf @virtual-face wanna try your hand at this?

[2019-09-06 21:34] owocki opened #5151 "DESIGN - BOT Creatives - Devcon V Edition - Kaiju vs Bots 🤖⚔️👹🕍"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="787" alt="Screen Shot 2019-08-28 at 11 34 24 AM" src="https://user-images.githubusercontent.com/513929/63878979-e5855800-c987-11e9-906f-699d27f6a144.png">

This is a bounty to create more Gitcoin Bots in new interesting scenes & styles for Devcon V.

# Pricing

i'll pay 35 DAI per artwork that looks as though some e

[2019-09-06 21:38] owocki commented on #5151
@guistf wanna do more in this style?

[2019-09-06 21:38] owocki commented on #5111
another one => https://github.com/gitcoinco/web/issues/5151

[2019-09-06 21:38] owocki commented on #5089
another one => https://github.com/gitcoinco/web/issues/5151

[2019-09-06 22:35] GuistF commented on #5151
yeah, count with me :)

[2019-09-06 22:49] GuistF commented on #5145
I'm in! I'm already having some ideas.

[2019-09-07 04:43] charlie4biz commented on #5145
Alright, let's do more. I'm in.

[2019-09-07 05:38] Virtual-Face commented on #5145
Sure, I'll start today

[2019-09-07 07:47] thelostone-mc commented on #4576
@willsputra would it make sense to combine a few of those tabs ? Core team + job stats etc don't take much space and the same probably for contributors. Would be want waste that much space ?

+1 of unifying the design for new profile + org page

I know we have activity data but is this something we would want to show? If so, why ? Me curious

[2019-09-07 07:54] danlipert commented on #4576
Are there any crossovers into the other products we offer that would be worth adding here? This seems very bounty focused, but I think it would definitely be worth adding Hackathons and kudos as well. Also, how will this change with the GC concept?

[2019-09-07 16:07] hungbui20384 opened #5153 "Xong"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-09-07 16:07] hungbui20384 commented on #5153
Xong

[2019-09-07 17:25] hungbui20384 commented on #5153
ok

[2019-09-07 17:25] #5153 closed

[2019-09-07 17:51] aashutoshrathi commented on #3207
@marc-at-consensys @owocki So, should I proceed with all the templates which are missing relevant meta tags?

[2019-09-07 22:31] hungbui20384 commented on #5153
La<hungbui20384 >. <toi muon task> sao cho<Goal>

[2019-09-08 20:48] owocki opened #5154 "Why do I keep getting the 'day 2' email?"
Why do I keep getting the 'day 2' email for `kevin@gitcoin.co`... ?

i've gotten it few times now:

<img width="1120" alt="Screen Shot 2019-09-08 at 2 46 45 PM" src="https://user-images.githubusercontent.com/513929/64494229-91ac2600-d247-11e9-9911-05eb64414cac.png">

seems like the `EmailSubscriber` for this email keeps getting recreated, fooling the system into thinking that its a new user when i

[2019-09-08 20:57] owocki commented on #3207
@aashutoshrathi i guess that depends on @marc-at-consensys - do we feel we have t his fully scoped out enough to actually move forward?  maybe if we cfan get a list of the keywords; places they need changed that would be an MVP for @aashutoshrathi to work on

[2019-09-09 02:41] thelostone-mc commented on #5124
Clarifications :
- This would show up only when the user is logged in
- would need access to mural (unless the task is nothing more than updating the list  )
- Why would My Profile redirect to my Avatar. That is just confusing, isn't it?
- Dashboard right now doesn't contain info related to Grants. Are we okay on removing it?

Currently what we have

<img width="278" alt="Screenshot 2019-09-09 at

[2019-09-09 03:01] willsputra commented on #4576
@owocki @thelostone-mc @danlipert thanks for the feedback! will give this a first pass today :)

[2019-09-09 03:44] willsputra commented on #5124
Yep! Same behavior as the current dropdown.

I can't seem to share the mural. @frankchen07 could you help?

nope My Profile would still redirect to the profile. since there's now an Edit Avatar button in the profile, we might not need an extra button for avatar in the dropdown.

@frankchen07 @PixelantDesign I think we discussed this. should we keep My Grants until we integrate it to the dashboard?

[2019-09-09 15:39] owocki commented on #5107
@evgeniuz how goes? still wanna do this?  i know @iamonuwa @samparsky and i were jamming on this on twitter the other day and are excite for this

[2019-09-09 15:50] willsputra commented on #5130
@PixelantDesign @frankchen07
![shared payout](https://user-images.githubusercontent.com/19514207/64546036-11271b80-d354-11e9-9ab4-5b33e6c26c30.jpg)

[2019-09-09 15:53] danlipert opened #5158 "ETC Cross-chain Integration Doc + Planning"
### Who
Dan

### What
Writeup Cross-chain Integration doc similar to previous doc

### Why
So the wider team can understand the cross-chain roadmap

[2019-09-09 16:26] #5124 closed

[2019-09-09 16:51] owocki commented on #4576
hey @willsputra heads up that i did an interview with a funder/org owner that said he'd be willing to pay us to shill his OSS rep ... notes here; there might be some ideas for the profile https://github.com/gitcoinco/web/issues/4832

[2019-09-09 21:50] frankchen07 commented on #5130
lookin' good - some quick feedback:

we can remove the side bar rockets, I think it's kind of distracting.
![Screen Shot 2019-09-09 at 14 46 44](https://user-images.githubusercontent.com/7516920/64568888-c801a800-d310-11e9-849c-8c43fbec5401.png)

this copy is okay for now, I'd add an indent for the bullets.
![Screen Shot 2019-09-09 at 14 47 03](https://user-images.githubusercontent.com/7516920/645

[2019-09-09 22:06] GuistF commented on #5151
here is a fighting sketch on Osaka castle
![Kaiju vs Bot](https://user-images.githubusercontent.com/48440062/64569763-551b2000-d356-11e9-9cd1-bc23e08b396c.jpg)

[2019-09-09 23:18] vs77bb commented on #4463
@santteegt Sad I'm just seeing this... got lost in my inbox. Here's [Gitcoin Requests](https://gitcoin.co/requests/)

[2019-09-10 02:04] GuistF commented on #5151
Here is another model for evaluation,  tell me if you like any of them I will make some improvements and do the PR.
Thanks!
![Kaiju vs Bot2](https://user-images.githubusercontent.com/48440062/64578555-a8519a80-d377-11e9-8507-033ce69dc76e.jpg)

[2019-09-10 13:10] PixelantDesign opened #5160 "BUILD - Front End of Shared Payment Team Management List on Gitcoin"
### User Story

As a funder I'd like to be abale to co manage payment and permission with my team.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience for funders.
Tech -

### What

[2019-09-10 13:26] marc-at-consensys commented on #3207
No, we should paste the template for the "[Open Bounties pages](https://gitcoin.co/issue/knocte/NLightning/1/3448)" into a Word doc so we can recommend keywords and variables (like bounty type, cost) to populate certain parts of the page.

Even if its just a paragraph at the bottom of the page it will help Google and users.  Another example, instead of the sub-title "Description", we can replace w

[2019-09-10 13:30] GuistF commented on #5151
V2
![v2](https://user-images.githubusercontent.com/48440062/64618038-6e17e580-d3d7-11e9-8d9a-b109155205bf.jpg)

[2019-09-10 13:30] owocki commented on #5151
@GuistF i like them both! submit a PR pls :)

[2019-09-10 13:39] evgeniuz commented on #5107
@owocki Sorry, got caught up at work. I think it would be better if someone else takes this. Sorry again for delay :(

[2019-09-10 13:59] vince0656 commented on #4745
Hey @thelostone-mc @ceresstation. Sorry to bug again but any idea on when payment will take place?

[2019-09-10 14:05] owocki commented on #4745
is there a merged PR somewhere? typically payment happens after a PR is merged

[2019-09-10 14:12] vince0656 commented on #4745
Hey @owocki, here's the PR that was merged into master: https://github.com/gitcoinco/web/pull/4876

[2019-09-10 14:13] androolloyd opened #5162 "Site-Wide Email Verification (Security Enhancement)"
### Who
Any user of the Gitcoin platform

### What
When a user creates or updates their profile, their email needs to be verified.

### Why
The current system has no verification check in place to ensure the user making this change has access to the submitted email. This change will prevent users from being able to impersonate another users/or non users email.

In the case of email delivery, for n

[2019-09-10 14:20] owocki commented on #4745
thanks vincent; @ceresstation looks like this should be good to be paid

[2019-09-10 14:38] owocki commented on #5162
in the case of emails weve received from the github API, are those not already verified?

[2019-09-10 15:14] androolloyd commented on #5162
They are, however, for newsletters a double opt in is still required, when users are updating their email preferences, they will have to verify that email change as well.

I raised this exact question when talking to @danlipert about this functionality, as you have to verify the email to create a GitHub account(but note, I believe you can create a gitcoin account with a non verified GitHub account

[2019-09-10 16:05] androolloyd commented on #5162
Minimum Viable Approach: Size 8

Banner displaying at the top of the page when a new email is pending verification
Create and Store a verification token with a 12-24 hour expiration

Validate the token via a new route: => /user/email/verify/:token

Double opt solution for any emails that leverage user data to generate, newsletters, even if email is verified
- first consent is opting inside the app

[2019-09-10 16:07] androolloyd commented on #5162
Transaction Emails vs Marketing Emails:
Transactional emails as long as they are limited in scope and don't contain any marketing content are exempt from double opt in

An example of what **CAN NOT** be done:

Hi, thanks and welcome to Gitcoin, based on your preferences ..........

The above could however be sent after garnering double-opt in for providing users network updates based on their prof

[2019-09-10 17:51] writeprovidence commented on #5111
Hello @owocki, i made 3 creative bot, pls take a look
 https://www.figma.com/proto/vMR6RAbBKqHKwNpxNYm7Gq/Devcon?node-id=1%3A8&scaling=min-zoom

[2019-09-10 19:09] vince0656 commented on #4744
Hey @ceresstation / @PixelantDesign / @thelostone-mc. Sorry to bug, but any idea on when this will be paid out? PR that was merged into master: https://github.com/gitcoinco/web/pull/5012 Thanks :)

[2019-09-10 19:47] BrentAllsop commented on #4362
If it isn't a get coin fee.  Where is the money going?

[2019-09-10 20:33] owocki commented on #4362
talking to @BrentAllsop on twitter today; we need to figure out why the  3% difference in the numbers.

[2019-09-10 20:55] charlie4biz commented on #5145
Hi @owocki I'm done with it. Did much with variation of colors for different designs which would be much if I attached it here for you to pick alongside images of how it looks on the profile dashboard. Uploaded it to Google drive. Here's the link https://drive.google.com/folderview?id=1IyGoH-Y3k_32U35KDTUKvQRi-U3l1OHb

[2019-09-10 20:57] owocki commented on #5111
very cool; i especially like the fish!  what kind of bot is that in the top left?

[2019-09-10 20:59] owocki commented on #5145
@charlie4biz cool!  i likely cant do all of them; but may pick one color of each variation...

all artwork is original/liscened for our use; right?

[2019-09-10 21:18] GuistF commented on #5151
sorry for the delay to answer, just now I had availability to do the PR: https://github.com/gitcoinco/creative/pull/141

[2019-09-10 21:51] writeprovidence commented on #5111
@owocki pls check back, i just made some iterations to it
https://www.figma.com/proto/vMR6RAbBKqHKwNpxNYm7Gq/Devcon?node-id=1%3A8&scaling=min-zoom

[2019-09-10 21:52] writeprovidence commented on #5111
there are much more beautiful now

[2019-09-10 22:06] writeprovidence commented on #5111
i did three bot 1.koi fish 2.samurai 3. origami

[2019-09-10 22:09] writeprovidence commented on #5111
i also have two more designs i want to work on, if you allow me.

[2019-09-10 23:25] octavioamu commented on #5138
2. is a server issue not actually related to the development, related to some devops @danlipert fixed this in the past not sure why is this back.
![image](https://user-images.githubusercontent.com/1358093/64657254-f82c7200-d408-11e9-8a43-3786f24dee06.png)

3. Not related to dashboard actually but seems Alisa was able to press the extend since now is no more expired. https://gitcoin.co/issue/gitcoi

[2019-09-11 00:03] owocki commented on #5111
woah cool! yeah go ahead and submit work for those..

[2019-09-11 02:09] owocki commented on #4362
hmm ; looking at the calcs... i wonder if the ZRX/LPT contributions (both of which have had some price fluctuations) have something to do with the 3% discrepancy..

maybe if  i add a USD equivilent column to the 'activity' tab on the grants activity page; that will help us reconcile this.. having both the gitcoin DB values and your values on one spreadsheet will make it easier to zero in on the ro

[2019-09-11 03:35] BrentAllsop commented on #4362
I don't know what you mean by "USD" equivalent.  My understanding is that Dai are Dai.  If X + Y + Z dai are donated, you should have a total balance of dai contributed which equals X+Y+Z DAI, not 3% less than that total amount of DAI?

[2019-09-11 04:01] charlie4biz commented on #5145
@owocki they are all exclusively made for this. You can't see it elsewhere ☺

Why not maybe pick two of each so that users can have a wider choice and you just pay for one of each.

[2019-09-11 09:59] danlipert commented on #5162
@androolloyd this is a really great writeup, glad to have you help us to navigate GDPR and such - @frankchen07 what do you think about getting this in the roadmap in the next couple of sprints?

[2019-09-11 10:14] willsputra commented on #5057
@frankchen07 @PixelantDesign
I can adapt this content below for the modal. Take a quick look below and see if we want to add/remove anything?
https://docs.google.com/document/d/1Loya0ZvM_IRNuPqIZDaU5och_SCP-mrHpD_pepwVy-4/edit?usp=sharing

@octavioamu if the content is long, would the modal get really tall or is it scrollable?

[2019-09-11 10:55] #5138 closed

[2019-09-11 11:04] danlipert opened #5166 "Github account reconnects after disconnection if user presses back button"
First attempt at fix was https://github.com/gitcoinco/web/pull/5043

**Describe the bug**
If the user presses the back button after disconnecting their github account in their settings, the github account reconnects.

**To Reproduce**
Disconnect your github account, then press back.

**Expected behavior**
Github account should stay disconnected.

[2019-09-11 11:05] sergejmueller commented on #5147
Merged.

[2019-09-11 11:05] #5147 closed

[2019-09-11 11:12] acolytec3 commented on #5097
@owocki, just checking in on this. My PR was merged a week ago and this issue closed so wanted to make sure the bounty gets paid out.

[2019-09-11 12:54] owocki commented on #4362
Not all of the contributions were in DAI.

On Tue, Sep 10, 2019 at 9:35 PM Brent Allsop <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki

[2019-09-11 13:22] owocki commented on #4362
here i wrote a script that will show everyone exactly how the contributions we've got tracked add up to the total reported on the grant page (the original intent of the ticket).. hopefully this clears things up; i wish i had just done this in the beginning:

[code]

[2019-09-11 13:46] owocki commented on #5097
thx for the bump; paying out now

[2019-09-11 14:00] owocki commented on #5145
cool cool - submit a PR to the creative repo pls! https://github.com/gitcoinco/creative/tree/master/Brand/Wallpaper

[2019-09-11 14:13] acolytec3 commented on #5097
Thanks!

On Wed, Sep 11, 2019, 9:46 AM Kevin Owocki <notifications@github.com> wrote:

[2019-09-11 14:19] octavioamu opened #5168 "As a funder I want my popover informations to be related to my fund activity not the contributed activity"
**Describe the bug**

If Im a funder doesn't make sense to you my informations as a contributor, I want to see relevant information about funding on that card so hunters can understand my reputation on the platform before apply to work.

**To Reproduce**

Go to a bounty hover mouse on the funder picture / name

**Expected behavior**

having informations relevant to the funding activity of the fund

[2019-09-11 14:59] #4896 closed

[2019-09-11 16:29] PixelantDesign commented on #5038
Will Github allow us to edit the workplans?

[2019-09-11 16:57] charlie4biz commented on #5145
@owocki done https://github.com/gitcoinco/creative/compare/master...charlie4biz:master

[2019-09-11 17:17] frankchen07 opened #5170 "DESIGN - As a hackathon participant, I want a simple, easy "how to" for how hackathons work"
### User Story

DESIGN - As a hackathon participant, I want a simple, easy "how to" for how hackathons work

### Why Is this Needed

There needs to be an easy instructions page that informs how people "get started" on a hackathon.

### Description

The new onboard page will be a simple, intuitive design that is modeled off of a version of @alexvotofuture's onboarding blog post, with words simplifi

[2019-09-11 17:33] frankchen07 opened #5171 "As a Gitcoin operator, I want to move the "how to participate" link on the prize explorer"
### User Story

As a Gitcoin operator, I want to move the "how to participate" link on the prize explorer.

### Why Is this Needed

We want the hackathon participant to easily proceed to the prize page and performing the critical "start work" action without first getting distracted elsewhere. The "how to participate" is quite front and center, despite coming from that link.

### Description

Curre

[2019-09-11 18:31] BrentAllsop commented on #4362
Hi Kevin @owocki,
Thanks for the continued help so we can understand what is going on.

You did provide some data in the Untitled.csv file, above, as of Jun 25.  As I indicated, that data matched the individual amounts donated, as listed on the activity tab on the grants page.

When I remove the non DAI entries from this list you just provided, and then total only the DAI, I get 28,003.41 total DA

[2019-09-11 18:37] owocki commented on #4362
hmmm... let me restore a backup on my local from june 25 (when i posted that csv) so ican look at the diff

[2019-09-11 18:38] BrentAllsop commented on #4362
@owocki,
Oh wait, sorry.  I had those last numbers backwards.  The total listed on the grant page is 192 more DAI than the total in this list.  So, this increase could be accounted for by the non DAI contributions.  So it appears that there may not be a problem now.  But that I can see, I didn't make any mistakes when doing these only DAI summations back on  Jun 25.

[2019-09-11 18:41] BrentAllsop commented on #4362
I provided the totals, with the errors, in my August 3rd post, above.

[2019-09-11 22:20] frankchen07 opened #5173 "As a Gitcoin operator, I want the issue activity log to be as accurate as possible in accordance to the actions that have been taken."
### User Story

As a Gitcoin operator, I want the issue activity log to be as accurate as possible in accordance to the actions that have been taken.

### Why Is this Needed

An issue activity log should be an accurate display of history, not a confusing, incorrect, and misleading history.

### Description

There have been multiple bugs and issues reported for the activity log on the issue details

[2019-09-11 22:26] frankchen07 opened #5174 "As a Gitcoin operator, when filtering issue explorer and hackathon issues, the relevant contest and cooperative issues should show up"
### User Story

As a Gitcoin operator, when filtering issue explorer and hackathon issues, the relevant contest and cooperative issues should show up.

### Why Is this Needed

The filters, despite their overhaul, are still not accurate enough.

### Description

"Open" bounty states are translated to "ready to work" on the issue explorer, however this doesn't necessarily ring true for contest and c

[2019-09-11 22:53] frankchen07 opened #5175 "As a Gitcoin funder, the bounty states for contest bounties don't appear in the correct dashboard section for the given state."
### User Story

As a Gitcoin funder, the bounty states for contest bounties don't appear in the correct dashboard section for the given state.

### Why Is this Needed

Inaccurate information (information showing up in the wrong section) on the dashboard for cooperative and contest bounties

### Description

Current bounty states logic makes contest or cooperative dashboard bounties inaccurate.

##

[2019-09-11 23:50] frankchen07 commented on #5075
@willsputra how is this progressing? if the design is complete feel free to post it here so the build can proceed!

[2019-09-12 00:01] frankchen07 commented on #5175
duplicate issue with #5080, will re-link #5080.

[2019-09-12 00:01] #5175 closed

[2019-09-12 02:42] willsputra commented on #5075
@octavioamu updated with the same design as the other sections as you recommended, since it would be simpler to build and we don't really have space for the sidebar.

could we make it look slightly different though (see the blue background on the header and the tags)? we want to make it easy for users to distinguish between their own bounties (in progress, applied, submitted) and matching bounties

[2019-09-12 02:44] willsputra commented on #5130
@frankchen07 the rockets already exist in the current Manage Settings page. do we want to remove them?

(i kinda agree that removing the rockets would make the whole page cleaner!)

<img width="1660" alt="Screenshot 2019-09-12 10 43 07" src="https://user-images.githubusercontent.com/19514207/64749973-28c7f500-d54a-11e9-9eb8-00b02cb316be.png">

[2019-09-12 14:21] danlipert opened #5183 "Find and fix XSS and GET parameter vulnerabilities"
This bounty is to find and fix issues related to XSS and use of GET parameters instead of POST, bypassing CSRF

[2019-09-12 16:39] frankchen07 opened #5186 "DESIGN - Gitcoin Grants live CLR calculations"
### User Story

DESIGN - Gitcoin Grants live CLR calculations

### Why Is this Needed

Funders want to know....If I donate to this grant - how much potential scale/match so i know their contribution is counted some how.

### Description

<img width="1308" alt="Screen Shot 2019-08-07 at 2 47 03 PM" src="https://user-images.githubusercontent.com/238235/62652650-d7fd2500-b929-11e9-9d55-7ae9ebc7f34f.p

[2019-09-12 16:49] frankchen07 opened #5187 "DESIGN - As a grant donator, I want custom messaging if I am not eligible for CLR due to account age, so I can take action if I think this is in error"
### User Story

As a grant donator, I want custom messaging if I am not eligible for CLR due to account age, so I can take action if I think this is in error.

### Why Is this Needed

In CLR round 2, a simple method of collusion resistance was to investigate the account age of the contributors towards particular CLR grants. If the account was created day of or only has been open for less than a we

[2019-09-12 18:18] owocki opened #5188 "As a hackathon sponsor, I don't know exactly how my performance in the past hack was, so I don't know how to improve"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a hackathon funder; i want a beautiful/informative "report card" after each hackathon that tells me about engagement for my tasks, so i can be informed about how much value gitcoin has given me and learn how to do even better nextt time

### Why Is this Needed

[comment]: # (Describe the problem and why this task

[2019-09-12 18:47] frankchen07 opened #5189 "As a Funder of a Gitcoin Hackathon Bounty, I'd like to know how hackers are approaching the prize bounty I've listed using the workplan (v2)"
### User Story

As a Funder of a Gitcoin Hackathon Bounty, I'd like to know how hackers are approaching the prize bounty I've listed using the workplan (v2)

### Business Problem

Solves tracking from funder perspective.
How do we 3x the # of final submissions in a future hackathon?

### What

Create a v2 customizable hackathon express interest from with the details outlined below

### Assumptions

[2019-09-12 19:25] octavioamu opened #5190 "Django admin permission not working"
**Describe the bug**

User permission are not working only the last one is saved, also happening on group permissions

**To Reproduce**

Go to /_administration/user select a user and try to add more than one permission
Go to http://localhost:8000/_administrationauth/group create a new group with many permissions
![image](https://user-images.githubusercontent.com/1358093/64814436-d8688b80-d579-11e9

[2019-09-13 11:34] thelostone-mc commented on #5190
Duplicate issue : https://github.com/gitcoinco/web/issues/4893

[2019-09-13 12:12] GuistF commented on #5145
@owocki is done it!  I sent some color variations too. https://github.com/gitcoinco/creative/pull/147

[2019-09-13 12:59] owocki commented on #5190
iirc this was a django upstream issue? maybe we find/create an issue there?

[2019-09-13 12:59] owocki commented on #5109
awesome!

[2019-09-13 13:23] johannbarbie opened #5193 "can't change grant owner"
**Describe the bug**

I want to transfer [a grant](https://gitcoin.co/grants/129/deora-decentralized-voting-system) to [another gitcoin user](https://gitcoin.co/profile/maxkuck).

**To Reproduce**

- create a grant
- click edit info
- no option to change owner

**Expected behavior**

- ability to select new owner

**Screenshots**

<img width="410" alt="Screen Shot 2019-09-13 at 3 13 04 PM" src="ht

[2019-09-13 15:14] frankchen07 commented on #5162
@danlipert  & @androolloyd, thanks for bringing this up. I've added it to the sprint page, and will be discussing shortly where it fits in on the roadmap.

Seeing as it's GDPR related, I'm thinking the consequences are high if we're not doing it right?

[2019-09-13 15:17] frankchen07 commented on #5130
@willsputra  agree with removing the rockets on the settings page too to clean it up

[2019-09-13 15:20] octavioamu commented on #5075
@willsputra I like visually but I see some designs problems going in this way. Originally we started with some dashboard design with separated areas, then we planned a minimal version for first release. The problem I see is going without separate areas and just section doesn't escalate very well.
Elements fight for hierarchy and sometimes what is on the first section is not what the user want to s

[2019-09-13 15:24] frankchen07 commented on #5173
added some of the previous old tickets that outlined issues

[2019-09-13 15:39] frankchen07 commented on #4576
@willsputra - don't forget to check slack for additional comments and make sure the fonts are the right weights, and the spacing is top notch!

@frankchen07 and @PixelantDesign to lock down what's exactly in the first version of the organizations page

[2019-09-13 15:43] octavioamu commented on #5075
Architecture proposal:

![Desktop HD](https://user-images.githubusercontent.com/1358093/64875748-1621ee80-d624-11e9-92cc-4f7f6b55f5f1.jpg)

[2019-09-13 15:46] frankchen07 commented on #5075
@octavioamu - appreciate the thinking ahead. the idea for this ticket was as an iterative test to see how seeing your matched bounties works on the dashboard. We want to avoid scope creep in this case, since we're now running additional elements (tabs, etc) into the dashboard. The dashboard is supposed to be the clear, easy place for actions, and we don't want to muddle that.

@willsputra - is it

[2019-09-13 15:51] octavioamu commented on #5075
@frankchen07 exactly because need to be clear I believe having an easy architecture is fundamental to help the users understand, Adding a new section mixed with the bounties you are working is not going to be clear, also will be on the deep bottom of that page scroll and very heavy to fetch (we already having issue fetching the last request on the dashboard "explorer")  So I don't see how we can a

[2019-09-13 16:03] frankchen07 commented on #5168
@octavioamu does this popover override any of the other popovers currently present on the site?

[2019-09-13 16:14] octavioamu commented on #5168
I don't understand the question, what Im showing is a capture of a funder of a bounty but showing the new implementation of the popover with information of success rate related to how many bounties he solved / abandoned and trying to fetch resolved bounties related by skills, that parameters doesn't fit a funder, so the propose is in case I over the mouse in a funder of a bounty I need to see fund

[2019-09-13 17:05] frankchen07 commented on #5038
the tradeoff here: better user experience (no onboarding disruptions) versus more of a headache for gitcoin core to later match up discord usernames with github usernames and projects.

from a product perspective, we're more inclined to make the user experience a smooth one, which means we make the discord handle field non-required and find a workaround solution to ask folks to join discord and ma

[2019-09-13 17:12] frankchen07 opened #5194 "DESIGN - on the Gitcoin hackathon prizes page, create a get started design logo"
### User Story

DESIGN - on the Gitcoin hackathon prizes page, create a get started design logo

### Why Is this Needed

designs for onboarding

### Description

https://github.com/gitcoinco/web/issues/5171 - onboarding changes to make the prize explorer page less distracting

### Mockup

<img width="1674" alt="prizes 2" src="https://user-images.githubusercontent.com/7516920/64881168-e9afa780-d60e

[2019-09-13 19:19] octavioamu commented on #5173
User having hard time to get what happened with his "work plan" https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1568354747094400

[2019-09-13 19:26] octavioamu commented on #3782
Just capturing here a funder complains about current behaviour https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1568389456098900

[2019-09-13 20:46] GuistF commented on #5145
Hi! I am posting these headers so you can rate it too. Here is the profile view [ header](https://drive.google.com/drive/folders/1mF-p_y19geC6ttWj9tdoD2UWpyr5u9lF)

h7
![h7](https://user-images.githubusercontent.com/48440062/64893491-1b585b00-d66f-11e9-8464-fe0929556374.png)
h8
![h8](https://user-images.githubusercontent.com/48440062/64893487-1abfc480-d66f-11e9-8a93-92cf03cb737a.png)
h9
![h9](http

[2019-09-14 01:53] owocki commented on #5145
oooh one thing; we dont use the tagline "bounty your bounty" anymore.  it shoudl be removed or change it to 'grow open source' a la gitcoin.co/mission

[2019-09-14 09:22] GuistF commented on #5145
oh! ok, I'll do that!

[2019-09-14 11:59] SCBuergel opened #5195 "special characters messed up in title of grant updates"
The title in the grant updates don't render simple special characters such as `&` correctly.
Example:
https://gitcoin.co/grants/89/hopr-decentralized-privacy-preserving-messaging-2?tab=updates
On that page you see the title of a an update that is rendered as:

**Describe the bug**
Special characters such as `&` should not be rendered in escaped form `&amp;`.

**To Reproduce**
1. Navigate to your g

[2019-09-14 12:40] GuistF commented on #5145
I made the tagline change as you requested, can you check below if everything is ok, please?
This change gave me inspiration for a new design too. *h11
Thanks :)

**Update Header h7**
![h7](https://user-images.githubusercontent.com/48440062/64908208-f4446c80-d6f4-11e9-99d0-b5d305fcb2e3.png)

**Update Header h8**
![h8](https://user-images.githubusercontent.com/48440062/64908194-d971f800-d6f4-11e9-8

[2019-09-14 12:46] owocki commented on #5145
They look great. Pls submit a PR if you haven’t already and will accept
when I’m back from afk

On Sat, Sep 14, 2019 at 6:40 AM Guist F <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or f

[2019-09-14 13:23] GuistF commented on #5145
Sure, please take your time. [ PR it's done!](https://github.com/gitcoinco/creative/pull/149)
Thanks for your attention and have a nice weekend!

[2019-09-14 13:56] writeprovidence commented on #5111
@owocki i have made some significant changes to the flower . pls take a look
https://www.figma.com/proto/vMR6RAbBKqHKwNpxNYm7Gq/Devcon?node-id=1%3A8&scaling=min-zoom

[2019-09-14 20:51] writeprovidence commented on #5145
Hello @owocki i made some profile headers, pls take a look
![banner-01](https://user-images.githubusercontent.com/31359701/64913536-bc134d00-d739-11e9-8d60-4eeff4b556b6.png)
![banner-02](https://user-images.githubusercontent.com/31359701/64913537-bcabe380-d739-11e9-96ed-9ec05be4badf.png)
![Uploading banner-03.png…]()
![Uploading banner-04.png…]()
![Uploading banner-05.png…]()

[2019-09-14 20:59] writeprovidence commented on #5145
@owocki , i made some header profile, pls take a look
![header 1](https://user-images.githubusercontent.com/31359701/64913596-d6015f80-d73a-11e9-9117-4d84a20415eb.png)
![header 2](https://user-images.githubusercontent.com/31359701/64913597-d6015f80-d73a-11e9-8f7e-6927f0e31ae2.png)
![header 3](https://user-images.githubusercontent.com/31359701/64913598-d6015f80-d73a-11e9-9aa0-27fdf2d0d253.png)
![he

[2019-09-14 21:18] owocki commented on #5145
i really like the second one and the last one :) @writeprovidence ... the tree feels a little bit pasted on both otherwise cool!

@GuistF those are all cool! pls PR them

[2019-09-14 22:11] GuistF commented on #5145
@owocki PR is already done, you can[ check here](https://github.com/gitcoinco/creative/pull/149) , pls!

[2019-09-15 09:29] writeprovidence commented on #5145
@owocki I have made changes. pls take a look
![banner-03](https://user-images.githubusercontent.com/31359701/64919512-9a4eb000-d7a3-11e9-860e-1925233405e2.png)
![banner-04](https://user-images.githubusercontent.com/31359701/64919513-9a4eb000-d7a3-11e9-8ea1-da8dcdd23367.png)

[2019-09-15 09:36] writeprovidence commented on #5145
or this
![banner-04](https://user-images.githubusercontent.com/31359701/64919571-91121300-d7a4-11e9-8cc9-d6863030e14b.png)

[2019-09-15 11:23] owocki commented on #5145
heart bot is pixelated/los res compared with the rest of the image

[2019-09-15 11:26] owocki commented on #5145
heart bot is pixelated/los res compared with the rest of the image http://bits.owocki.com/2081947f4d3c/Screen%20Shot%202019-09-15%20at%205.22.58%20AM.png  use the svg one http://bits.owocki.com/58001009ac69/heart_bot.svg

the tree kind of looks pasted on still.. and the line weights for all 3 artworks (and the logo) are all different.. .but other than that i dig it!

other than above... looks like

[2019-09-15 16:38] sypha999 commented on #5151
was actually on this

[2019-09-15 18:14] writeprovidence commented on #5145
@owocki i made two design as a replacement. pls take a look, at all of them as i will be sending a PR too.
![header 2](https://user-images.githubusercontent.com/31359701/64925704-c5112680-d7ec-11e9-8dda-cc7f56570f03.png)
![header 3](https://user-images.githubusercontent.com/31359701/64925705-c5a9bd00-d7ec-11e9-8916-fec0f3e0c9d5.png)
![header 4](https://user-images.githubusercontent.com/31359701/64

[2019-09-15 18:35] owocki commented on #5145
sweet! i LOVE the top 3.  i think four could be neat if we added a few more complimentary colours...  wanna PR em?

[2019-09-15 18:37] owocki commented on #5151
go for it! just submit sometime this week..

On Sun, Sep 15, 2019 at 10:38 AM Daton <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, f

[2019-09-15 19:32] writeprovidence commented on #5145
@owocki i have added some few more colors pls take a look
![profile header](https://user-images.githubusercontent.com/31359701/64926652-d14eb100-d7f7-11e9-986c-7ed5afe78562.png)

[2019-09-16 02:37] owocki commented on #5145
looks great!

[2019-09-16 02:41] owocki commented on #5145
hey all; weve gotten some really good submissions + i've paid out almost twice what i tended :P  closing the bounty now.. if anyone else has work in progress, consider it time to submit soon!

[2019-09-16 05:28] writeprovidence commented on #5145
@owocki haven't been paid on this yet.

[2019-09-16 06:17] agutsal commented on #5107
@owocki started. how can I communicate in real-time? Slack, Discord, Telegram anything?

[2019-09-16 08:25] SCBuergel opened #5196 "As a Grant owner would like to change my Grant address"
There is currently no way to change a grant address. This would be important especially if grants runs for a longer period of time and wallets should be updated. I'm fine if this is a manual support process but I'd like to update the wallet of [my grant](https://gitcoin.co/grants/89/hopr-decentralized-privacy-preserving-messaging-2?tab=updates) "somehow".

[2019-09-16 10:07] thelostone-mc commented on #5196
@SCBuergel
An update on this is that the contract itself doesn't support updating address change at the moment!
This feature is needed but would require an update on the contract itself

[2019-09-16 10:14] SCBuergel commented on #5196
Makes sense - I would suggest to add this change for future versions as it's important from an OpSec perspective to not be forced to use one wallet (that might become insecure at some point in the future) for all eternity.

[2019-09-16 12:26] willsputra commented on #5194
@frankchen07 @PixelantDesign something like this?
![getstarted](https://user-images.githubusercontent.com/19514207/64957778-3a99f700-d8c0-11e9-8655-464b319cfcc6.jpg)

[2019-09-16 13:09] willsputra commented on #5186
@frankchen07 @PixelantDesign thoughts?
![Artboard Copy](https://user-images.githubusercontent.com/19514207/64960597-2c4ed980-d8c6-11e9-9826-e0aeabb6de92.jpg)
![Artboard](https://user-images.githubusercontent.com/19514207/64960598-2ce77000-d8c6-11e9-97f1-ac1eff9bf436.jpg)

[2019-09-16 13:09] owocki commented on #5186
this is purdy cool!

[2019-09-16 13:19] owocki commented on #5145
this might interest you guys https://github.com/gitcoinco/creative/issues/150

[2019-09-16 13:19] owocki commented on #5151
https://github.com/gitcoinco/creative/issues/150

this might interest some of u

[2019-09-16 13:23] owocki commented on #5145
@writeprovidence isnt this the PR? https://github.com/gitcoinco/creative/pull/146#issuecomment-531625643  i sent you a tip last night

[2019-09-16 14:20] androolloyd commented on #5162
They can be difficult to deal with yes: https://www.gdpreu.org/compliance/fines-and-penalties/

[2019-09-16 15:42] SCBuergel opened #5198 "As a corporate bounty funder I need an invoice which also shows the GitCoin fee (10%) and Kudos"
### User Story

As a corporate bounty funder I need an invoice which also shows the GitCoin fee (10%) so that I can correctly add the crypto asset movement to our corporate accounting.

### Why Is this Needed

A company needs to account for all assets coming in and going out. It is fantastic that GitCoin has an invoice tool but currently it is missing the 10% that I pay to GitCoin as a fee and Kud

[2019-09-16 15:53] SCBuergel commented on #4178
I didnt see this issue that's why I created [this](https://github.com/gitcoinco/web/issues/5198) partially overlapping one (also Kudos is in there) but as I provided a fairly detailed but hopefully easy solution I will leave mine up for now.

[2019-09-16 16:10] frankchen07 commented on #5075
issues that still exist - constraints to design around:

1. regardless of design, the request is heavy, too many requests on that page
2. not over-tabulate and preemptively  overhaul the dashboard

[2019-09-16 16:39] willsputra commented on #4576
another pass based on feedback

@owocki @PixelantDesign

which parts of the profile can be edited on gitcoin, and which parts are synced with github? not too sure.

definitely could be in v2.

![orgs](https://user-images.githubusercontent.com/19514207/64976141-303d2480-d8e3-11e9-9775-c172c659005a.jpg)

[2019-09-16 17:18] agutsal opened #5200 "Making dinosaur-baby SVG for avatar builder MVP"
### User Story

As a developer, I want to be able dynamically show/hide some groups (layers) on SVG using javascript.

### Why Is this Needed
For new 3D avatar builder

*Summary*:
Just create 2nd layer contains another type of object for every of these objects
- head shape
- eyes
- nose
- mouth
- ears
- clothing
- hair style
- facial hair
- accessories
- background
### Description
Once you do it f

[2019-09-16 17:47] owocki commented on #5200
@mladenpetronijevic

[2019-09-16 17:50] owocki commented on #5186
coding this up since CLR starts today

[2019-09-16 18:11] frankchen07 commented on #5186
I'm into it - nice work. @PixelantDesign any last thoughts?

the only change that there might be is the copy and what that might say given the output. I recall Dan talking about a potential "range" (or perhaps it was cached in the backend) for the match number since doing a 100% accurate exact match every time we enter a number might not be great for performance.

[2019-09-16 18:23] frankchen07 commented on #5194
My gut instinct is

1. I feel like it's a little big, and the CTA seems out of place (comments below)

2. the CTA feels wrong (they've already "gotten started") the CTA should be the "hackathon guide" or "guide" or something indicates they can go back to the article / onboarding to re-read instructions

3. ideally it's not necessarily a CTA but it's an action / reference point they understand that

[2019-09-16 18:31] owocki commented on #5186
i just coded this up; i moved the location of it on the phantom fund screen so that it looks like the little bot is telling you the match amount http://bits.owocki.com/ca9ef5ac45fe/Screen%20Shot%202019-09-16%20at%2012.31.15%20PM.png

[2019-09-16 18:35] owocki commented on #5186
on normal funding pane its where will designed it tho http://bits.owocki.com/b34405c90c42/Screen%20Shot%202019-09-16%20at%2012.34.54%20PM.png

[2019-09-16 18:42] owocki commented on #5186
note that i didnt code the grant index module.. just the fund estimate module

[2019-09-16 19:18] owocki commented on #4576
lets maybe kick editing to a v2

[2019-09-16 19:49] writeprovidence commented on #5145
@owocki that was the PR for the BOT Creatives - Devcon V Edition. and i made 5 bot, which you paid.

[2019-09-16 19:56] writeprovidence commented on #5145
but i haven;t been paid on this (DESIGN - As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'. #5145) although i think the mistake was from my side. i have just raised another PR on the profile header bounty. pls take a look

[2019-09-16 19:57] writeprovidence commented on #5145
https://github.com/gitcoinco/creative/pull/151

[2019-09-16 22:35] frankchen07 opened #5203 "BUILD - As a Gitcoin funder, I want an organizations view page"
### User Story

BUILD - As a Gitcoin funder, I want an organizations view page.

### Why Is this Needed

funder-requested need

### Description

view organizations like I can view someone's profile

### Current Behavior

no organizations view

### Expected Behavior

build out the front-end view of organizations

### Definition of Done
- [ ] front end built out to design specifications

### Design

[2019-09-16 22:46] octavioamu commented on #5190
Im working in the bulk invite by skills and I think this bug is also there trying to use request.POST.getlist I just get the last one

[2019-09-16 23:00] frankchen07 opened #5204 "DESIGN & BUILD - As a Gitcoin operator, add hackathons to the homepage nav bar"
### User Story

DESIGN & BUILD - As a Gitcoin operator, add hackathons to the homepage nav bar

### Why Is this Needed

As Gitcoin has grown, hackathons have proven to be a well of value and revenue. It's a product. Let's add it to the top nav bar.

### Description

Design icon could be a trophy.

### Current Behavior

hackathons is not currently in the nav bar

### Expected Behavior

hackathons i

[2019-09-16 23:39] octavioamu commented on #5190
maybe django bug related https://code.djangoproject.com/ticket/30381

[2019-09-17 07:15] danlipert commented on #5130
I've got some notes here based on the technical implementation:
- First off, I wonder if we need to have the role information and popover shown at all? Its my understanding that the permissions are binary, in that people who have write access to your org/repo can control the bounties, and those who don't cannot. We have the role information in our database but I'd like to see more consideration of

[2019-09-17 14:06] willsputra commented on #5130
@danlipert thanks for the feedback! :)

Gotcha, will explore more on how to display the info effectively.

Just to clarify, so the permissions will be asked during the initial Gitcoin login right? Which means we don't need to ask them again on orgs onboarding?

[2019-09-17 14:25] willsputra commented on #5194
@frankchen07 thanks for the feedback! made it look less like a button:

![hackathonguide](https://user-images.githubusercontent.com/19514207/65050483-08f55e80-d99a-11e9-94cc-ab1703c019a7.png)

[2019-09-17 14:27] willsputra commented on #5130
@danlipert if the permissions are binary, should we just show the people who have write access?

[2019-09-17 15:26] owocki commented on #5173
looks good

[2019-09-17 15:26] owocki commented on #3782
lgtm

[2019-09-17 15:28] owocki commented on #5174
solutions look good to me...i think the key will be making sure the UI is easy to understand for the user.

[2019-09-17 16:40] owocki opened #5208 "discord gitcoin robots sticker pack"
the goal of this task is to take the gitcoin bots ( https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots/robot_kudos ) and make them into stickers/emojis for discord.

please start work with an action plan for how to do this.. and work with us to get the appropriate permissions

[2019-09-17 16:40] owocki opened #5209 "telegram gitcoin robots sticker pack"
the goal of this task is to take the gitcoin bots ( https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots/robot_kudos ) and make them into stickers/emojis for telegram.

please start work with an action plan for how to do this.. and work with us to get the appropriate permissions

[2019-09-17 16:58] willsputra commented on #5130
@frankchen07 @danlipert updated based on today's discussion
![sharedpayout](https://user-images.githubusercontent.com/19514207/65062783-621bbd00-d9af-11e9-9c83-396a00b9cfcb.jpg)

[2019-09-17 17:09] agutsal commented on #5200
Good job!

[2019-09-17 17:09] #5200 closed

[2019-09-17 17:44] willsputra commented on #5170
@frankchen07 @PixelantDesign first pass of the guide
![hackathonguide](https://user-images.githubusercontent.com/19514207/65065814-be81db00-d9b5-11e9-99bb-370680d5936f.jpg)

[2019-09-17 17:47] owocki commented on #5170
love this

On Tue, Sep 17, 2019 at 11:44 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.faceb

[2019-09-17 18:08] mul1sh commented on #5208
@owocki should focus on the `gitcoin_bots` folder alone or also work with the `kudos` folder as well?

[2019-09-17 18:09] mul1sh commented on #5209
@owocki same here, should I focus on the `gitcoin_bots` folder alone or also work with the `kudos` folder as well? thanks

[2019-09-17 18:19] PixelantDesign commented on #5170
Visually looks good....It says Register and Join Discord....do I register on Gitcoin or Discord?

[2019-09-17 18:22] sarawut8128 opened #5212 "รายงานข้อผิดภาษ"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-09-17 18:22] #5212 closed

[2019-09-17 18:24] sarawut8128 opened #5213 "รายงานข้อผิดภาษ"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-09-17 19:04] octavioamu commented on #5038
Now I realised there is a security problem @frankchen07 only users owners of the profile can add the discord username because we can let others edit profile informations.
Since this will open the option to people change personal data from others, example:
 I can go to apply just say pixelant is on my team and with that change your discord username on the db

My suggestion is:

Sent an email for th

[2019-09-17 19:07] octavioamu commented on #5038
Also we need a rule "if someone is already on a team application that someone can't be in another team or alone"
Because that can be dangerous, again User A alone applies and won,  then User B create a Team with A inside. Then the sponsor will payout and can get confuse and payout B

[2019-09-17 19:20] #5213 closed

[2019-09-17 19:22] owocki commented on #5208
bots are good to start. but ideally i can just point this tool at a directory and end to end upload them.

[2019-09-17 19:22] owocki commented on #5209
same answer :) bots are good to start. but ideally i can just point this tool at a directory and end to end upload them.

[2019-09-17 19:46] owocki commented on #5075
what was the performance issue that came up for this during estimation?

[2019-09-17 20:12] frankchen07 opened #5215 "WORKSHOP - As a hackathon participant, it’s not easy right now to form teams, express what I want to build, and build together"
### User Story

WORKSHOP - As a hackathon participant, it’s not easy right now to form teams, express what I want to build, and build together.

### Assumptions

#### human
* hackathon participants are waiting until seeing a hackathon issue before realizing that that is the place they can see current projects, create a new project, and think about forming a team.

#### business
* hackathon partici

[2019-09-17 20:13] sarawut8128 commented on #5075
ช่วยแก้ไขและแนะนำถึงวิธีใช้งานที่ถูกต้องแก่ผม

[2019-09-17 20:24] sarawut8128 commented on #5080
ผมจะแก้ไขกับปัญหานี้ไดอย่างไร

[2019-09-17 21:40] octavioamu commented on #5075
Blocked that user since is making random comments in our issues in Thai

[2019-09-17 22:09] frankchen07 commented on #5075
@owocki

octavio mentioned in the comment above that having new section mixed with bounties won't be clear, and it would be heavy to fetch and would cause a deep scroll on the dashboard.

there is octavio's mentioned constraint above, balanced with his suggestion that we can consider tabs, but my thinking was the addition of tabs will defeat the purpose of a simplified dashboard, and would largely

[2019-09-18 03:49] octavioamu commented on #4695
@zbarahal Thanks for your interest I had approved @vince0656 this time but please keep an eye on the explorer I will be creating new bounties soon.

[2019-09-18 04:04] willsputra commented on #5170
@PixelantDesign where do you think DIscord should fit in? Discord still seems to be important since all the conversation is going on there... maybe after check out prizes or after register/connect github?

[2019-09-18 04:12] willsputra commented on #5187
would be great to know how the account age is calculated!

[2019-09-18 05:33] frankchen07 commented on #5187
@willsputra - for this ticket, we're holding off on making a design. We were thinking in order to get it out by the the deadline (since CLR has already been released), we can use your current CLR pop up design and change the copy.

We'll do a build right away and do a visual scrub afterwards.

[2019-09-18 10:02] willsputra commented on #5075
@frankchen07 @octavioamu

throwing another rough idea here, based on these considerations:
1. if possible, we don't want to hide matching bounties in another page since we want it to be easily accessible.
2. related to point 1, it might take some time for us to plan the structure of the tabs/sections (out of this ticket's scope), depending on what additional stuff we want to add to the dashboard i

[2019-09-18 13:16] androolloyd commented on #4943
There needs to be documentation added for the celery worker setup, i'll create a ticket for this and get the work out.

As for what was missing, setup was pretty streamlined through the docs, which was great to see.

[2019-09-18 13:55] willsputra commented on #5170
![onboarding](https://user-images.githubusercontent.com/19514207/65154963-fc870980-da5e-11e9-80bc-2663bc2b5ac8.jpg)

[2019-09-18 14:33] willsputra opened #5217 "As a potential user of Gitcoin, I want to see Gitcoin blog posts on the homepage."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a potential user of Gitcoin, I want to see Gitcoin blog posts on the homepage.

### Current Behavior
[comment]: # (Describe what actually happened.)
[gitcoin.co](https://gitcoin.co/) homepage still shows 'Gitcoin on Medium'
![Screenshot 2019-09-18 at 10 31 15 PM](https://user-images.githubusercontent.com/19514207/

[2019-09-18 14:37] willsputra opened #5218 "As a potential user of Gitcoin, I want to see Hackathons as a product offering"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a potential user of Gitcoin, I want to see Hackathons as a product offering

### Current Behavior
[comment]: # (Describe what actually happened.)
No 'Hackathons' on 'Our Products' section in gitcoin.co homepage.
![Screenshot 2019-09-18 at 10 34 37 PM](https://user-images.githubusercontent.com/19514207/65158345-bdf

[2019-09-18 16:39] frankchen07 commented on #5038
kevin made a PR to work off of here: https://github.com/gitcoinco/web/pull/5210

[2019-09-18 16:43] frankchen07 opened #5219 "As a Gitcoin operator, hook up the grants CLR round 3 calculations with the frontend UI"
### User Story

As a Gitcoin operator, hook up the grants CLR round 3 calculations with the frontend UI

### Why Is this Needed

vitalik product asks & experiments!

### Description

frank worked on the calculation with dan and aditya
aditya and dan implemented it in the backend to run live calculations
adtiya and will designed the front end live display on the grants product
putting it all togeth

[2019-09-18 17:09] owocki commented on #5170
i think this might be my favorite gfx ever http://bits.owocki.com/1480607646e8/Screen%20Shot%202019-09-18%20at%2011.08.33%20AM.png

[2019-09-18 17:59] frankchen07 commented on #5075
@PixelantDesign to finalize designs with @willsputra (spacing & copy of the bar & link to settings page)

@frankchen07 to keep tabs on how this is performing via google tag manager

[2019-09-18 18:07] willsputra commented on #5075
TODO:
• change button label from 'Express Interest' -> 'View Details'
• show skills on the blue bar - 'Here are some bounties matching your skills: Javascript, HTML..."
• add link to settings for people to change skills
• add link to view more bounties on the issue explorer
• on each bounty row, indicate if the bounty belongs to a hackathon

@octavioamu maybe order bounties by event first? (priori

[2019-09-18 18:16] mul1sh commented on #5209
Cool thanks @owocki  almost done with both bots and then I submit them.

[2019-09-18 21:13] frankchen07 commented on #4576
@willsputra

means the "action" of editing an organizations profile

with our current priorities I see this being built out in sprint 20

[2019-09-18 21:27] frankchen07 commented on #5008
closing, multiple smaller tickets to chunk down

[2019-09-18 21:27] #5008 closed

[2019-09-18 21:31] frankchen07 opened #5220 "BUILD - Display Match on Contributor Dashboard"
### User Story

BUILD - Display Match on Contributor Dashboard

As a Gitcoin Contributor I'd like my matched bounties to be displayed on the dashboard to surface interesting projects that I could potentially work on.

As a funder I'd like contributors to see my bounties that match their skills on the dashboard so that I can automatically have developer flow into my bounties.

### Assumptions
Human

[2019-09-18 21:36] frankchen07 opened #5221 "BUILD - As a hackathon participant, I want a simple, easy "how to" for how hackathons work"
### User Story

Build - As a hackathon participant, I want a simple, easy "how to" for how hackathons work

### Why Is this Needed

There needs to be an easy instructions page that informs how people "get started" on a hackathon.

### Description

The new onboard page will be a simple, intuitive design that is modeled off of a version of @alexvotofuture's onboarding blog post, with words simplifie

[2019-09-18 21:49] owocki commented on #4576
coded up
![screencapture-localhost-8000-profile-consensys-people-2019-09-18-15_49_01](https://user-images.githubusercontent.com/513929/65188536-e3189a00-da2b-11e9-8d4e-4f1ed2d33a10.png)

[2019-09-18 21:55] frankchen07 commented on #5038
building on top of related PR: https://github.com/gitcoinco/web/pull/5210

[2019-09-19 00:28] willsputra commented on #5075
@frankchen07 @octavioamu updated based on yesterday's discussion
![matching](https://user-images.githubusercontent.com/19514207/65198900-7519b480-dab7-11e9-9db8-a5b562e94aea.jpg)

[2019-09-19 00:57] octavioamu commented on #5075
Great, how do you want the empty state to look?

[2019-09-19 09:57] willsputra commented on #5075
@octavioamu how about this?
cc @frankchen07 @PixelantDesign
![matching](https://user-images.githubusercontent.com/19514207/65234337-f5b3d180-db06-11e9-911e-16d28ef116d6.jpg)

[2019-09-19 14:52] #5166 closed

[2019-09-19 17:01] sergejmueller commented on #5053
The Gitcoin reminder says, i should enter my reported issues here ;)
* TSL issues [LOW] communicated to @danlipert
* ENS issue [LOW]  communicated to @danlipert

[2019-09-19 18:39] octavioamu commented on #5204
But we are linking to the hackathon list already
![image](https://user-images.githubusercontent.com/1358093/65271480-a0ba9000-daf3-11e9-8318-3b4de29cc9d5.png)

[2019-09-19 20:00] octavioamu commented on #5221
@willsputra can I have the sketch file?

[2019-09-19 20:03] frankchen07 opened #5223 "Gitcoin Grants CLR Round 3 v2 Improvements"
### User Story

Gitcoin Grants CLR Round 3 v2 Improvements

### Why Is this Needed

Product experiment asks from Vitalik, v2 improvements post v1 launch.

### Description

1. CLR live pop-up design update (@willsputra / @PixelantDesign stated that using a navy colored background would be better)

<img width="610" alt="Screen Shot 2019-09-19 at 11 25 35 AM" src="https://user-images.githubuserconten

[2019-09-19 20:24] vince0656 commented on #4695
@octavioamu Thanks. I’ll get started with this shortly

[2019-09-19 23:48] octavioamu commented on #5220
@willsputra Im almost ready with this task but I have some questions
Should we show just open bounties, or we can show others also and add the status?
Do we want to show the number of applicants as the explorer?
Im using the same endpoint of explorer for this, so this is de data I have:

[code]

[2019-09-20 01:04] octavioamu commented on #5220
No skills:
![image](https://user-images.githubusercontent.com/1358093/65291115-57386800-db28-11e9-88c7-6658443b54df.png)

No bounties with my skills
![image](https://user-images.githubusercontent.com/1358093/65291151-7505cd00-db28-11e9-8df6-d1c79b999841.png)

With match
![image](https://user-images.githubusercontent.com/1358093/65291374-77b4f200-db29-11e9-98c6-7efd2550657f.png)

[2019-09-20 04:12] #5171 closed

[2019-09-20 04:14] #5220 closed

[2019-09-20 11:08] mul1sh commented on #5208
@owocki for this, i'm getting 2 massive dependencies that will need to be installed along with the script for the svg to png conversion to happen i.e. headless chromium which is around 170mb in size if I decide to use the canvas for the conversion or imagemagick which is around 200mb.

So my question is which one would you prefer between headless chromium or imagemagick because this svg to png ste

[2019-09-20 11:58] owocki commented on #5208
imagemagick pls.

also is this tool a standalone tool or are you making it an artifact of this repo?  if the latter, wanna throw up ur repo on GH so we can watch the progress?

[2019-09-20 12:21] mul1sh commented on #5208
Ok cool.

The script will be an artifact in this repo and yes of course PR is coming up shortly 🙂

[2019-09-20 13:49] #5036 closed

[2019-09-20 13:49] #4676 closed

[2019-09-20 13:50] #3663 closed

[2019-09-20 13:51] #5219 closed

[2019-09-20 13:53] thelostone-mc commented on #3544
@PixelantDesign we are good for payout !

[2019-09-20 13:56] #3544 closed

[2019-09-20 13:56] #4893 closed

[2019-09-20 13:56] #5190 closed

[2019-09-20 16:30] danlipert opened #5230 "Gitcoin Weekly Newsletter has formatting issues on some mail clients (iOS, Mac Desktop)"
**Describe the bug**
The Gitcoin Weekly newsletter has a malformed layout on some devices and email clients.

**To Reproduce**
Open the weekly newsletter in iOS Mail or Mac desktop Mail apps.

**Expected behavior**
Layout should be correct

**Screenshots**
![image (3)](https://user-images.githubusercontent.com/869266/65343192-5fb79e00-dc0f-11e9-93de-b0a23ddf177b.png)
![Image from iOS (1)](https://

[2019-09-20 16:31] danlipert commented on #5230
@owocki Eric pointed out this has been happening in the last two newsletters - works fine in Gmail however.

[2019-09-20 16:43] frankchen07 commented on #5102
discussion between dan / octavio / frank

1. setting up the bounty model in the models.py (to be discussed and hashed out)

2. write to the new model in all places where the old model exists

3. implementations move over in chunks (not all in sprint 19)