[2018-12-10 19:35] kuhnchris commented on #3071
Aight, I'll make you a intermediate PR and we can refine the fields as needed, mkay?

[2018-12-10 19:37] owocki opened #3166 "Update Terms of Service to Reflect the Presence of Grants"
https://docs.google.com/document/d/18BIa6RG0Ry15QPMuzg4bM2UU3JbcLGpumy_Vi1T652w/edit#

[2018-12-10 19:38] owocki commented on #3166
From Wee Ming (laywer):

Here's an updated Gitcoin Terms of Service that incorporates Grants. The main changes are in a new Section 7, but we've made a couple of tweaks throughout as well (all in suggestion mode). Let us know of any comments once you've had a chance to take a look. Thanks.

[2018-12-10 19:39] owocki commented on #3071
Awesome!  Thank you so much

[2018-12-10 19:41] mbeacom commented on #3129
`avatar_url` template tag **already** uses `Avatar.avatar_url`

The whole point of this github issue is:

[code]

[2018-12-10 19:47] owocki commented on #3132
Just seeing this now.

On our slack @SaptakS said "Seems like Griff had 5 dai as his funding limit."

I'm going to look into why you only had 5 dai approved as your funding limit.  https://gitcoin.co/settings/tokens should request more than that.

[2018-12-10 19:57] owocki opened #3167 "bug - normalize kudos images size"
https://github.com/gitcoinco/web/pull/3136#issuecomment-445950140

the kudos image sizes should be set on the gitcoinbot comments to be no more than 250x250

[2018-12-10 20:19] kuhnchris commented on #3129
OK, let me rephrase it, since either i'm deaf or we have some communication issues:
- Currently some views use avatar_url
- Some do not
- Those avatar_url (and Avatar.get_avatar_url()) point to the wrong destination (dynamic/avatar).
- Those occourences need to be replaced by Profile.avatar_url which should point to the S3

Do I get you right now?

[2018-12-10 21:32] jdorfman commented on #2898
@frankchen07

Cool, I will update the HTML and make a PR asap.

[Got it](https://etherscan.io/tx/0x84b0f3fb6423df0e226b3747f351825be073599ca5bdefd89093735987bf3f5a)!

Only weird this is it doesn't show up on my profile or MetaMask History (yet).

![image](https://user-images.githubusercontent.com/398230/49762536-e271fc80-fc7e-11e8-97fb-144667f998fc.png)

![image](https://user-images.githubusercont

[2018-12-10 21:48] FrederikBolding commented on #2469
Good stuff, I'll get going on implementing the links that look like that then 😄

[2018-12-10 22:02] FrederikBolding commented on #2469
Added PR #3170 - Still WIP, but for tracking progress 😄

[2018-12-10 22:03] owocki commented on #3071
that seems sane to me - commenting on PR now

[2018-12-10 22:03] owocki commented on #3071
@kuhnchris woah cool graphic -- howd you make it

[2018-12-10 22:05] kuhnchris commented on #3071
that's a django_extension default thing. you need to install graphviz and a font and then can run
[code]

that maps your data model into a picture

[2018-12-10 22:12] ej-sanmartin commented on #3041
@thelostone-mc that makes sense! I'm still not sure where everything is tbh so I do not know where to look to find those static images. And from the db we could probably use the title field as the alt entry.

[2018-12-10 23:44] owocki opened #3171 "Kevins Grants QA 2018/12/10"
Show Stoppers

- [x] When I try to fund [a grant](https://grants.gitcoin.co/grants/9/foo-the-bar-now-2/fund) with a bunch of OWOCKIcoin, I get this BN.js error [screenshot](http://bits.owocki.com/5dfebf171b26/Screen%20Shot%202018-12-10%20at%204.29.00%20PM.png) *note: it works if i use 1/100th of the amount)
- [x] when i try to cancel a grant, i submit two tx's.  the first goes through fine, but th

[2018-12-10 23:45] owocki commented on #3171
@captnseagraves @mbeacom @thelostone-mc i just prioritized this in the grants kanban board

[2018-12-10 23:55] owocki opened #3172 "decentralized oracle that approves bounties (premium feature)"
details here https://docs.google.com/document/d/1b7VKjooW93kdGy6-y8BxgrB13Vknskmt5idTTWQ8ud4/edit

[2018-12-11 03:53] CPSTL commented on #2171
Hey @PixelantDesign @pinkiebell ! Gitcoin Ambassador here checking to see if the PR has been reviewed or ready to be closed?

[2018-12-11 04:18] PixelantDesign commented on #3095
Thanks for the visual @willsputra! I thinking making headers consistent will do the trick!

I also like the idea of switching the date around along with some of the other recommendations on Will's list - time permitting.

cc @thelostone-mc

[2018-12-11 04:20] PixelantDesign commented on #3013
@kuhnchris as we chatted earlier lets focus on bounties first and then if we have some time at the end add in kudos sent/received below that.

[2018-12-11 04:35] PixelantDesign commented on #3146
Thanks for the report @kuhnchris! Any recommendations on how to resolve this?

[2018-12-11 04:37] PixelantDesign commented on #3157
Great idea @kuhnchris on the need to display which issues count towards the 3!

[2018-12-11 04:56] PixelantDesign commented on #3032
I really like your suggestion @nasehim7. I appreciate that it doesn't overlap with the avatar.

Think it would be cool if I clicked on a person's avatar an got a light box that shows all of the person's top Kudos either by rarity or if the user has marked them as _display on Gitcoin Circle_. Could be an interesting interactive element to a user's profile.

[2018-12-11 05:03] PixelantDesign opened #3173 "As a Contributor of Gitcoin, I'd like to know Which how/where my issue counts are allocated."
### User Story

As a Contributor of Gitcoin, I'd like to know Which how/where my issue counts are allocated.
https://github.com/gitcoinco/web/issues/3157

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

- [ ] Document what counts to

[2018-12-11 10:08] FrederikBolding commented on #2469
I believe most of the use-cases should be covered now 😄 , but there is still some things with regards to grants: https://github.com/gitcoinco/web/search?q=transaction.link&unscoped_q=transaction.link

With grants, transaction.link is used for transactions, but I can't find any code where these are assigned. I'm not sure if it is currently in use, and whether or not I should look at integrating Blo

[2018-12-11 11:45] PixelantDesign commented on #3132
Taken care on site! Go team!

[2018-12-11 11:45] #3132 closed

[2018-12-11 11:51] PixelantDesign commented on #3125
On the terminated grant - the header says cancellation, could we be more clear and say that it has been terminated?

[2018-12-11 14:00] PixelantDesign commented on #3157
I created a ticket @kuhnchris https://github.com/gitcoinco/web/issues/3173

[2018-12-11 15:40] willsputra opened #3175 "What does the 'Add Account' button on profile do?"
**Describe the bug**
What does this 'Add Account' button do? Tried clicking it, clicking add, clicking on the text field but nothing happens.

![addaccount](https://user-images.githubusercontent.com/19514207/49811343-0d06a700-fd9e-11e8-9691-5ab0ade43fa1.gif)

**To Reproduce**
Go to your profile and click on the 'Add Account' button

[2018-12-11 15:51] willsputra commented on #3157
@PixelantDesign what kinds of issues are currently counted?

- Work started
- Work applied, but not yet approved by the funder <== does this count?
- Work submitted, but not yet approved/paid out by the funder <== does this count?

[2018-12-11 15:56] kuhnchris commented on #3157
in THEORY: open and started, but I do not dare to say if all the status are always correct... + interest is a bad filter, isn't it? what if you apply twice? or get multiple tips? aren't those Interest objects as well?

dashboard/views.py
[code]

[2018-12-11 16:50] octavioamu commented on #3175
So this one was part of Kudos v1, Kudos was shown only if the owner address was added there. So if you change your address in metamask you will able to change you account address.
Then we changed the logic of kudos and they are also attached to your profile, so changing address will keep showing the kudos even is that not the kudos owner address.

[2018-12-11 17:14] willsputra commented on #3175
@octavioamu ah okay got it. didn't realise I need to (1) switch to my new address on MetaMask, (2) click Add, (3) new address is reflected under the profile picture.

at first glance I thought I could just click Add and paste the new address to the text field 😛

I'll see how we can make this clearer. not urgent though.

[2018-12-11 17:17] octavioamu commented on #3175
Yes this really doesn't need to be there anymore I think, we plan to have multiple address (that module there is prepared to that also)
The idea of not letting people write their addresses is to avoid any error.

[2018-12-11 18:19] CPSTL commented on #2261
Hey @jonmarkgo @PixelantDesign and @santteegt ! Just checking in to see if the PR has been reviewed and/or merged? If not, what needs to get done in order for it to be merged and thus get Gitcoin issue paid out?

[2018-12-11 18:39] PixelantDesign opened #3177 "As a Gitcoin Grants User, I'd like the ability to share a grant via email or social media."
### User Story

As a user who just created a Grant, I'd like the ability to share a grant via email or social media to get some funding.

As someone who just funded a Grant, I'd like the ability to share a grant via email or social media to encourage others to fund the project.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the curre

[2018-12-11 18:45] mbeacom commented on #3129
It's not so much that they're pointing to the **wrong** place.  It's a matter of pointing to a view that requires an additional request being placed against **our** web app versus cloudfront -> s3 bucket.

We shouldn't be proxying an image if we could simply serve it from CF/S3 over the separate uri: `c.gitcoin.co`

The point here is to eliminate the additional requests against `https://gitcoin.co

[2018-12-11 18:58] mbeacom opened #3178 "UnsupportedSchemaException: Unknown Schema: Unknown - Version: bounties-network"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2416/

[code]

[2018-12-11 18:58] santteegt commented on #2261
Hi @CPSTL,

I've updated the PR including requested changes and conflict resolution, so I think it only needs a final review prior to merge

[2018-12-11 19:02] thelostone-mc commented on #3067
Todo - add dynamic gas widget on cancel grant popup

[2018-12-11 19:09] thelostone-mc commented on #3078
@willsputra yup you've got that right

[2018-12-11 19:33] kuhnchris commented on #3129
ok, we still seem to talk past each other - ill try once more else someone else has to take this:
I am aware that we currently serve from "our" server (gitcoin.co) by using the /dynamic/ path.
Your goal is that we serve it from S3/CF/whever, which is where c.gitcoin.co points to.
This URL, along with the salt, is getting generated (or stored) in Profile.avatar_url right?
Hence tl;dr of the task:
-

[2018-12-11 19:41] mbeacom commented on #3129
There is no need to replace `Avatar.get_avatar_url()` - This method **handles** the above case.  We need to update all of the frontend/django templates to use the avatar media asset urls (provided by `avatar_url` if `Profile` is passed versus a string).

So, the django template needs to be updated to use MTV versus making numerous requests against a proxy view.  Realistically, we should simply be

[2018-12-11 19:42] CPSTL commented on #2261
@jonmarkgo @PixelantDesign Can you both proceed to give @santteegt a final review? Thanks!

[2018-12-11 22:21] oddballbutler commented on #2808
So I'm thinking the change should go in dashboard.helpers.process_bounty_changes(). Did you have any idea about how the low bounty threshold value should be generated?

[2018-12-11 22:33] kuhnchris commented on #3013
Hi there @owocki @mbeacom helped me fixed everything up, so I already managed to get enough bounties in:

![image](https://user-images.githubusercontent.com/761911/49834479-c8c6d700-fd9c-11e8-9a90-99019f18e646.png)

So those are already live data, (rinkeby), Links work, titles work, the / new_bounty is for me, since I am currently categorizing them.

One more thing: the picture on the left, do you

[2018-12-11 22:43] owocki commented on #3146
thanks for the bug report.  im aware of this from when i was BUIDLing it, but it was just a lean test.   if someone figures out how to hack it during this lean test, then i understand.. im just happy people are playing with the avatar builder!

i have a vision for how we'll be evolving digital goods purchases which ill share at some point in the future.

[2018-12-11 23:48] kuhnchris commented on #3146
OK, shall I close this issue then with "will not fix" and "bug as intended"?

[2018-12-11 23:52] owocki commented on #3146
lets keep it open.  i intend to fix it when i PR up my digital goods purchases evolution stuff.

[2018-12-12 00:33] oddballbutler commented on #2808
Also, should I send the email to founders@gitcoin.co? Or something else?

[2018-12-12 02:07] xiaods commented on #1786
inotify feature is part of the Linux kernel subsystem and publishes changes to subscribed applications rather than having to scan the files for changes. it depends on os host kernel.  please check it again.
@owocki

[2018-12-12 02:33] #3095 closed

[2018-12-12 06:34] xiaods commented on #1786
Is this bounty still open ?

[2018-12-12 07:34] aashutoshrathi commented on #3131
cc: @owocki @PixelantDesign @thelostone-mc @mbeacom
Please check this.

[2018-12-12 07:36] aashutoshrathi opened #3184 "Optimize all SVGs"
There are too much of SVGs in our codebase and only a few of them are optimized.
I think all of them should be optimized.

cc: @thelostone-mc

[2018-12-12 10:04] #3178 closed

[2018-12-12 13:02] PixelantDesign commented on #3013
Wow looking great @kuhnchris!

I know it currently shows the project icon, but what seems the most useful is the person's image, Github user name, and Github issue number and part of the description which you already have.

What do you think @willsputra ?

[2018-12-12 13:32] willsputra commented on #3013
@PixelantDesign @kuhnchris yeah if we could put the activity person's image and username that would be great!

[2018-12-12 13:52] octavioamu commented on #3146
This one is really with anything from the front end, because we have metamask in the middle and metamask doesn't connect to our server to know what the front end is sending is right or not. So the validation occurs in the backend, I think you can do this with others things like kudos for example.
The thing is any front end code can be changed for that reason we validate forms in the front and end.

[2018-12-12 14:56] mbeacom opened #3186 "UnboundLocalError: local variable 'Profile' referenced before assignment"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2422/

[code]

[2018-12-12 15:07] #3186 closed

[2018-12-12 15:16] thelostone-mc commented on #3184
Yeah I've been meaning to tak care of that next week ! We've got few big changes coming in , so will get in post that ^_^

[2018-12-12 16:58] mbeacom opened #3188 "Grants: IntegrityError: insert or update on table "grants_grant_team_members" violates foreign key constraint"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2418/

[code]

[2018-12-12 17:09] owocki opened #3189 "if you put a gitcoin link in a tip github url, gitcoin should be smart enough to"
this happened here
https://gitcoin.co/_administrationdashboard/tip/883/change/

see https://gitcoincore.slack.com/archives/CD93M06BG/p1544625940001100 for root cause analysis

[2018-12-12 18:12] kuhnchris commented on #2808
@PixelantDesign @frankchen07 any infos for oddballbutler?

[2018-12-12 18:12] octavioamu commented on #3189
Maybe an easy solution could be to validate the url looking for a github url

[2018-12-12 18:58] captnseagraves opened #3194 "Subminer user account balance check"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to know when my subscription payment has failed because I do not have a sufficient balance of the proper token.

As a developer, I want to know when a user's subscription might bounce so that I dont waste gas in submitting the transaction.

### Why Is this Needed

[comment]: # (Describe the problem

[2018-12-12 20:16] owocki commented on #1786
thanks @xiaods -- i am on OS X 10.12.6 (16G1618)

and yes it is still open

[2018-12-12 20:16] owocki commented on #1786
i think @captnseagraves said he has this problem too (maybe im misremembering tho)

[2018-12-12 23:22] frankchen07 commented on #2898
^ huh interesting. Check back again later, and if it still doesn't show, perhaps that's something to put into a ticket.

[2018-12-13 03:09] owocki commented on #3076
as long as i've met the documentation needs for running the subminer in docs/GRANTS.md  .. i think @thelostone-mc initially made the ask, so i defer to hi

[2018-12-13 03:17] owocki commented on #2684
hey all, im canceling this bounty as it's now december .. if you submitted a PR thats merged and i've not paid you yet please let me know.

[2018-12-13 03:17] #2684 closed

[2018-12-13 03:20] owocki opened #3195 "New Avatar Assets -- Winter 2019"
### User Story

As a user, I want to new avatar assets to show off and express myself digitally.

### Description

*Type*:  New implementation

### Definition of Done

- [ ] Create an .svg asset and place it in `app/assets/v2/images/avatar/<category>`
- [ ] Add the SVG asset as a `.txt` Django template in `app/avatar/templates/<category>/<item|index>.txt` with variable fill.
- [ ] Add your asset t

[2018-12-13 03:20] owocki commented on #2684
new ticket https://github.com/gitcoinco/web/issues/3195

[2018-12-13 03:35] owocki opened #3196 "As a user, I want an avatar history, so I can quickly toggle back and forth between different avatars."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want an avatar history, so I can quickly toggle back and forth between different avatars.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Right now it's n

[2018-12-13 03:46] owocki opened #3197 "as a user attending ethdenver, i want to play the 'set completion' game at ETHDenver, so I can engage with sponsors and win a keep key"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user attending ethdenver, i want to play the 'set completion' game at ETHDenver, so I can engage with sponsors and win a keep key

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2018-12-13 03:47] Anish-Agnihotri commented on #3189
Seems similar to #2909 where validation needs to be introduced to the inputs?

[2018-12-13 08:44] kziemianek commented on #3148
Seems like request is missing few important cookies.
![missing_cookies](https://user-images.githubusercontent.com/1838338/49926147-336e3480-febb-11e8-9398-3b015e4ababd.png)

Redirect to home happens when I'm logged out so it might be the reason.

I have no idea why request is missing cookies but I suggest checking that response with additional data has status code 200 and only then insert html, ot

[2018-12-13 10:47] #3167 closed

[2018-12-13 11:06] thelostone-mc commented on #3171
@owocki

  I should probably be sent an email when someone makes me an owner / team member for a grant. And I should have permissions to edit the grant.

So ideally the grant owner would have the ability to edit the grant !
An email makes sense. That should be ideally sent out to all contributors + new admin + team members 🤔 cc @PixelantDesign  @willsputra

The 'Supported By' / Team Members sectio

[2018-12-13 12:22] thelostone-mc commented on #3041
@ej-sanmartin
static images:  https://github.com/gitcoinco/web/tree/master/app/assets/v2/images

[2018-12-13 12:38] thelostone-mc commented on #3165
@owocki do we
- redirect to `/tip` with prefilled address ( simpler but force the user to go to a new tab )
- trigger a direct metamask popup within the page
- simply display our address with text leave us a tip at ... to help keep our lights running

This is just a stop-gap solution so the 2nd / 3rd aren't too bad an option

[2018-12-13 12:44] kuhnchris commented on #3197
I'd be up for the coding side.
- Check KudosTransfer for Profile of logged in user
- Iterate if the 12 mentioned kudos ids are within the kudosTransfer Object
- If yes -> initiate KudosTransfer for special kudos
- -> checking uPort API if we can attest those via API

[2018-12-13 13:15] kuhnchris commented on #3013
Hey there @willsputra  and @PixelantDesign
What you guys think about this?

![image](https://user-images.githubusercontent.com/761911/49940965-780cc680-fee1-11e8-9e8c-2c4da8751d33.png)

[2018-12-13 14:04] PixelantDesign opened #3203 "Basic Pay Taking longer than 6 minutes to Load Recommended Kudos"
### BUG
URL I'm trying to pay is tagged html, css:
https://github.com/gitcoinco/web/issues/2841

This is what I see:
<img width="697" alt="screen shot 2018-12-13 at 9 01 03 am" src="https://user-images.githubusercontent.com/238235/49943468-f5224680-feb5-11e8-93aa-29e8f0f2e663.png">

Can we investigate? @octavioamu

[2018-12-13 14:12] PixelantDesign commented on #3196
yes! this would be nice!

[2018-12-13 16:55] willsputra commented on #3197
This sounds exciting! I'll give this a shot.

Not logged in:
A landing page that explains how the game works and what users can get. Clicking 'Get Started' should ask the users to log in.
![not logged in](https://user-images.githubusercontent.com/19514207/49953624-7a9b0a80-ff39-11e8-8fad-9062a05ec7dc.jpg)

Logged in:
We can reuse the Kudos component from the marketplace. Clicking on each Kudos (Ku

[2018-12-13 17:20] oddballbutler commented on #2808
So I'm seeing that danlipert already has a pull request for this... I wasn't aware that someone else was working on this when I applied for the issue on gitcoin. Is there a way around this kind of problem?

[2018-12-13 17:30] willsputra commented on #3157
Yeah I personally think applying for work shouldn't count...

Also addressing @vikaskyadav's cases:

In this case, the status should be 'Closed' and shouldn't count.

In this case, the status should be 'Work Done' and shouldn't count.

... right?

[2018-12-13 17:31] willsputra commented on #3157
(well except for some cases where the funders forgot to press 'Closed' or 'Work Done')

[2018-12-13 17:47] #2735 closed

[2018-12-13 17:59] frankchen07 commented on #2773
My thought was that the reasons were different enough that even if there were two responses, one would be the dominating one.

Would love to see the outcome of user testing though. If it's something we leave for now and find out later that many people are selecting "other" and writing multiple reasons, that would be evidence to re-take a look.

[2018-12-13 18:11] willsputra commented on #3125
@thelostone-mc just got my thank_you_for_supporting email. it says 2 'token name' per seconds which is weird 😅

<img width="843" alt="screenshot 2018-12-14 02 08 33" src="https://user-images.githubusercontent.com/19514207/49958257-33b31200-ff45-11e8-8deb-9d711dfbeabb.png">

[2018-12-13 18:36] frankchen07 commented on #2808
I'd say the low bounty threshold can be hardcoded @ $10 for now, given if something is priced at that, the highest going hourly rate would be $10/hr, which is quite low.

[2018-12-13 18:46] kuhnchris commented on #3157
Well the question is: is the status always properly set? There currently is no way aside from checking in the backend if a status is in a certain status, as far as I know. Since all of those things are activities (please correct me if I'm wrong) then it will be counted as long as the bounty is still open (because Interest.objects.filter(profile_id=xxx,...) should at least return the first request

[2018-12-13 18:48] kuhnchris commented on #2773
Agreed, usually there's a "main reason" and the other reasons usually only contribute to the factor that causes the main reason to trigger. I'd also go ahead with @frankchen07 's suggestion - implement it with radiobuttons and if the real-life environment shows that users are using it differently we can always revamp it (changing this is not really a big hassle)

[2018-12-13 18:50] kuhnchris commented on #2808
@frankchen07 that depends tho! what if the bounty was made at a time when ETH was at a all time high (300$+), a bounty with .3 eth = 30$, with today's price that'd be less than 8$. Would that notification run daily and consider the current prices or shall that be a one time run?

[2018-12-13 20:06] kuhnchris commented on #3173
How about here:
![image](https://user-images.githubusercontent.com/761911/49964468-ddc97480-ff1a-11e8-86c5-a219f2ad810a.png)

And for the listing of the one that count we could add a new tab "Bounties in Work" here:
![image](https://user-images.githubusercontent.com/761911/49964523-005b8d80-ff1b-11e8-91ec-cb6910da60ef.png)

[2018-12-13 20:19] PixelantDesign commented on #2773
yes sounds good!

[2018-12-13 20:56] captnseagraves commented on #3171
Should we limit new admin to previous team members who have been team members for at least a day? So we can email people when they have become team members and notify them?

[2018-12-13 21:07] owocki commented on #3040
@mbeharry said he wants to do a call before this happens to make sure it goes okay.

some things to do:
- taxonomy of articles
- canonical urls
- ???

@vs77bb volunteered to play a part in migrating this over.

[2018-12-13 21:11] owocki opened #3207 "capture 'freelancer' keyword terms"
per @mbeharry if we could capture 'freelancer' keyword terms, it would BE HUGE for us

[2018-12-13 22:07] owocki commented on #3040
doc on seo best practices https://docs.google.com/presentation/d/1J3rg6dAd8PFdjQPbY0TY8zBRkjTR9ks6ODudIUFjaug/edit#slide=id.p

[2018-12-13 22:17] octavioamu commented on #3203
Solved by #3205

[2018-12-13 22:17] #3203 closed

[2018-12-13 23:09] thelostone-mc commented on #3165
Wokiee

[2018-12-13 23:18] thelostone-mc commented on #3125
@willsputra looks like this is from live ! The image has weird rounded corners and stuff.
Our changes are now not merged into `master` yet. It's in `gitcoin-grantz`

Tagging you on the grant channel to get you some context
This issue along with a bunch of others have been addressed ^_^

[2018-12-13 23:22] #3166 closed

[2018-12-13 23:43] #3165 closed

[2018-12-14 00:07] kuhnchris commented on #3013
Another nightly update:
![image](https://user-images.githubusercontent.com/761911/49975080-6d334f80-ff3c-11e8-83bf-10564a90ec49.png)

@willsputra is there a reason why you added such a big margin/border to the entire page? we have a standard size in the base template, which I used, If you need it really that small let me know!

[2018-12-14 00:14] kuhnchris commented on #3177
Twitter:
https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview.html
Facebook:
https://developers.facebook.com/docs/plugins/share-button/

Which channels do we want?
I can add those buttons in really quickly. It depends on what message we want to default there tho.

[2018-12-14 02:36] owocki commented on #3171
an email that allows the funder to renounce being owner of the grant makes sense to me.

makes sense to me.

maybe this should be v1.1.... not sure how many ppl will abuse this upfront

[2018-12-14 02:50] owocki commented on #3171
any luck on the two showstoppers on this thread

[2018-12-14 03:00] owocki commented on #3197
wow, looks pretty cool. passing to john paller for feedback now @willsputra

[2018-12-14 03:04] owocki opened #3208 "pursue enterprise relationships"
prospect 10 customers who would want to buy managed bounties / recruitment in the enterprise space and pitch them

[2018-12-14 03:05] owocki opened #3209 "experiment with updating the price of all kudos to be 5x more expensive. figure out how elastic the price is of kudos"

[2018-12-14 03:08] owocki commented on #3196
@kziemianek you were first to apply so i'll give it a shot for a few days.  approving u now; pls let me know when i can expect a WIP PR

[2018-12-14 03:12] captnseagraves commented on #3171
@owocki Havent started on them yet. First thing on the agenda tomorrow is getting recurring payments to actually work. I smoothed out most things in the miner, but now getting a revert from the contract. I suspect the nonce or timestamp. Then I will tackle the remaining showstoppers.

[2018-12-14 07:09] NukeManDan opened #3210 "Grants landing page links stale"
**Describe the bug**
stale page:
- links
- "Gitcoin Grants are coming in November of 2018."

**To Reproduce**
https://gitcoin.co/grants/

**Expected behavior**
links to active / completed grants link to info page

[2018-12-14 09:56] kziemianek commented on #3196
@owocki great, WIP PR by wednesday.

[2018-12-14 12:12] xiaods commented on #1786
@owocki  i have testing your issue with my macos env, it can't reproduce this bug.

[code]
## MacOS version
[code]

my docker desktop version:
<img width="584" alt="2018-12-14 8 12 07" src="https://user-images.githubusercontent.com/37678/50002869-90154080-ffdc-11e8-963b-23f4f44579bd.png">

[2018-12-14 12:56] willsputra commented on #2773
Yeah I agree. The funders I've asked have given me mostly one main reason so I think we can start with this :)

@PixelantDesign as for the email, maybe we can use our regular template?

![application declined](https://user-images.githubusercontent.com/19514207/50004623-b50cb200-ffe2-11e8-994f-c716c446a4f8.jpg)

[2018-12-14 13:06] willsputra commented on #3013
Looking good @kuhnchris! I like that you've added the timestamp too 👍

Yeah I think we can stick with the standard base template. Just a couple of little tweaks:
1. Since the timestamp is less important compared to the bounty title, I'd separate them and also make the timestamp gray
2. Add a bit more padding between each bounty

<img width="933" alt="screenshot 2018-12-14 21 02 13" src="https://us

[2018-12-14 14:17] kuhnchris commented on #3197
Also, I assume the Dead Line is Feb 2019, as ETHDenver starts then?

[2018-12-14 14:30] kuhnchris commented on #3013
Better?
![image](https://user-images.githubusercontent.com/761911/50008661-30576f00-ffb5-11e8-8370-e001f8cba21b.png)

[2018-12-14 14:40] willsputra commented on #3013
@kuhnchris Yesss that looks great!

Good idea. Maybe we can put it with opening text (would be great if we can make the timestamp format consistent too):

"Hi mbeacom,
Here are the latest activities on your bounties
(Dec 1, 2018 - Dec 12, 2018)"

What do you think?

[2018-12-14 15:57] willsputra commented on #2964
@owocki A couple of questions:
1. Right now, what happen to the crowdfund contributions if the sum of percentages is >100%?
2. Are we going to allow different percentages for bounty fund and crowdfund contributions? (example: 50% 50% for bounty fund, 30% 70% for crowdfund). I guess it is simpler to just make them the same but curious what you think.

[2018-12-14 16:17] mbeacom opened #3213 "ReferenceError: getUSDEstimate is not defined"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2479/

[code]

[2018-12-14 16:55] xiaods commented on #1786
hi @owocki, i suggest upgrade your docker desktop version will resolve your issues. it doesn't matter to handle and resolve the docker bugs. please consider my suggest and close the bounty, it will let me release the max bounty work count for 3 MAX limit. thanks a lot.

[2018-12-14 17:34] willsputra commented on #3157
I think whether the bounty status is correct or not depends on whose point of view.

For example:
I'm a contributor and I submitted work on a **contest** bounty X.
• Bounty X status remains Open since from the funder's pov, they're still accepting submissions (since it's a contest bounty).
• However, from my pov, I've submitted work on Bounty X and I'm no longer interested in it.

[2018-12-14 17:34] willsputra commented on #3157
What if, regardless of the bounty status, I'm deemed as not interested if:
• I was rejected for a bounty, or
• I stopped work on a bounty, or
• I submitted work on a bounty?

(which means deleting the interest object for my profile_id if any of the cases above happens? not 100% sure how this works so correct me if I'm wrong too 😂)

[2018-12-14 18:13] michaelsena commented on #3121
Hey all, sorry catching up on this thread. @ceresstation thanks for funding and managing here! @PixelantDesign we can definitely just send users to the 3box.io landing page which provides an overview of 3Box (and is also where they can create a profile if they'd like). Also happy to create a simple about page for users that we can link to as well.

And thanks @owocki for bumping and supporting thi

[2018-12-14 18:14] mbeacom opened #3215 "Rebuild migrations throughout the app"
Currently, our migrations are mushrooming - we should start with a clean slate and drop all migrations down to 001_ for each app.

cc @thelostone-mc

[2018-12-14 18:33] kuhnchris commented on #3121
@ceresstation you heard anything from Jorropo ? If no, I'd like to take over. :-)

Thanks,
Chris

[2018-12-14 18:33] kuhnchris commented on #3215
Yeah, I wondered. There are like about 100 migrations now if I'm not wrong.
You guys want to do it yourself or want me to try to figure this out?

Thanks,
Chris

[2018-12-14 18:34] kuhnchris commented on #3210
@PixelantDesign *cough*

[2018-12-14 18:35] kuhnchris commented on #3207
Did you do a page-wide SEO check already? We could definitly throw the "freelancer" keyword into some page template so it shows up on pretty much every page (for example in the footer), depends on if you already did some other SEO optimizations so we know if we are not punish-rated.

[2018-12-14 18:49] kuhnchris commented on #2773
That looks great.
Do you split it into 2 BUILD tickets or just 1 entailing the UI + the mail part?

[2018-12-14 18:54] kuhnchris commented on #3157
Same here, not entirely sure yet how this works - would have to test it out.
But I think the main catch, for me, is that we actually should check:
- User has interest? -> +1 In-Work count
- User got accepted? If type = required_approval: -1 +1 (= stays +1), else +1 In-Work Count
- User submitted PR? -1 In-Work count
- PR got rejected? => What does the system do? Are you still assigned? if yes -> +

[2018-12-14 18:54] thelostone-mc commented on #3215
@kuhnchris Ah this I'd like us to take it in if it's alright cause we need to ensure this gets done right even if it's simple.
A lil paranoid about these kinda things. 😅

Would love your help in reviewing it though 🙌

[2018-12-14 19:00] kuhnchris commented on #3215
sure no probs, hence my question.

[2018-12-14 19:01] thelostone-mc opened #3218 "component : unify tooltip experience"
##### Description

- Capture tooltips used across pages through the gitcoin site
- Migrate them to bootstrap tooltips and mark them as complete across the checklist
- Update the docs on how to use them
- Ensure tooltips are generic enough to support custom styling ( as one products tooltips experience may be diff than the other )

[2018-12-14 19:07] ceresstation commented on #3121
Hey @kuhnchris I haven't been able to get a hold of them unfortunately, I'd say go ahead on this one :)

[2018-12-14 19:09] michaelsena commented on #3121
Thanks for taking this on @kuhnchris 💯

[2018-12-14 19:11] kuhnchris commented on #3160
did...you just @ yourself...?

[2018-12-14 19:14] kuhnchris commented on #3121
Sure, tho I wonder if we really have to put it into the Avatar Builder, or if we should throw it into the same spot where we can also connect to github?
![image](https://user-images.githubusercontent.com/761911/50022556-dff40780-ffdc-11e8-8996-918a891650b9.png)
That would at least keep all these things at one place, what you think @michaelsena ?

[2018-12-14 19:40] kuhnchris commented on #3121
OK, i started playing around, sadly the lib seems to be broken? @michaelsena
![image](https://user-images.githubusercontent.com/761911/50023746-6eb65380-ffe0-11e8-8f97-6c769469957a.png)

[2018-12-14 20:11] zachferland commented on #3121
@kuhnchris wasn't able to recreate same issue on first go, with my own profile at least. If you don't mind could you try the example in https://github.com/3box/3box-js. Basically clone the repo, npm install, and then then run 'npm run example:start'. Then there is a open box and get profile example there to try, we can narrow down if code, lib issue or server/network issue.

[2018-12-14 22:44] captnseagraves opened #3220 "Create a "kill transaction" command for the subminer"
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We need to a way kill a hanging transaction on the subminer wallet. Akin to the metamask command that allows you to cancel a pending transactoin.

[2018-12-15 03:46] thelostone-mc commented on #3210
@NukeManDan we haven't made it public yet cause we doing a slow rollout.
what you see at the moment is a stub page which would be retired pretty soon

[2018-12-15 04:01] #3210 closed

[2018-12-15 05:21] owocki opened #3222 "DESIGN - gitcoin bot creatives"
<img width="543" alt="screen shot 2018-12-14 at 10 19 39 pm" src="https://user-images.githubusercontent.com/513929/50039348-5fd69d80-ffee-11e8-97c0-e97d55f182ec.png">

:obiwan: and :heart_gitcoin: are two of our most popular artworks.  itd be cool to create other thematic stuff, which like these two are inspired by geek culture, to use throughout our messaging.

- santa bot (for xmas :) )
- yoda
-

[2018-12-15 15:32] owocki commented on #3220
should be fairly easy to send a noop transaction with the same nonce as the existing tx you want to kill

[2018-12-15 16:19] owocki opened #3224 "data ask - track our unit economics (LTV & CPA)"
data ask - track our unit economics (LTV & CPA) on metabase

LTV == lifetime value in revenue
LTV == lifetime value in platform value

CPA = cost per acquisition of a lead (dean currently says its $6),

[2018-12-16 11:40] #2947 closed

[2018-12-16 13:14] FrederikBolding commented on #2469
Could someone confirm whether or not the grant thing should be implemented yet? @mkosowsk @ceresstation @owocki ^

[2018-12-16 17:08] owocki opened #3226 "value-add services for labs"
we could/should sell training from the gitcoin labs brand
we could/should sell custom research reports from the gitcoin labs brand, a la what miaden labs is doing

first step would be to put a CTA on this page
https://gitcoin.co/labs

[2018-12-16 17:08] owocki commented on #3226
@austintgriffith something to discuss this week in the context of C2.0

[2018-12-16 18:33] #3059 closed

[2018-12-17 08:07] frankchen07 commented on #3157
Not sure what having interest means here - just commenting on a Github ticket or starting work on a permissionless bounty? I could be working on multiple tickets and commenting and helping out on others, in order to maximize my work, but "helping" doesn't necessarily entail taking up an entire work slot.

Not sure what you mean here. If the bounty requires approval, it should still be +1, if it do

[2018-12-17 08:10] frankchen07 commented on #2808
@kuhnchris - that's an excellent point. Thanks for bringing it up.

I'd trend towards not over-engineering this for now, and use the USD value _at the time the bounty was created._

Your point about the volatility of ETH is spot on, but I'm more concerned with lowballers at the onset of bounty creation, rather than normal bounties that "turn into" lowballs simply due to market volatility. The form

[2018-12-17 14:28] mbeacom opened #3229 "Grants: ValidationError: ["'' value must be a decimal number."]"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2510/

[code]

[2018-12-17 14:35] kuhnchris commented on #2808
That's true. The first one can be actively influenced, the second one is whale-pending on the price.
So it makes sense to inform the user during creation/relatively early in the process about the low-balls price.

[2018-12-17 14:38] kuhnchris commented on #3157
Interest as in: It's a approval-required bounty and he applied for work (that's backend-side called a Interest Object, sorry for the confusion)

User got accepted => It's a approval-required bounty and the user was accepted for work from the pool of applied/interested workers.

I think that's already happening, hence I listed it above. If my assumption is incorrect, then you are right, nothing sho

[2018-12-17 14:41] kuhnchris commented on #3226
Trainings in term of what subject?
As in a learning platform (ala BitDegree or Chainshot?), or as in "how to use Gitcoin" (áka tutorial/mentorship) or even lower as in "how to setup your own gitcoin"?

-Chris

[2018-12-17 14:43] willsputra commented on #3013
@kuhnchris @PixelantDesign here ya go!
<img width="699" alt="screenshot 2018-12-17 22 43 20" src="https://user-images.githubusercontent.com/19514207/50094044-32d3f600-024d-11e9-84e8-474efb2a9a01.png">

[2018-12-17 15:11] willsputra commented on #3157
@frankchen07 @kuhnchris Looks like you guys covered most of the cases!

^ I agree with all this. Just one edge case I could think of:

10. If someone applies for 4 permissioned bounties and gets approved for all of them, he'll exceed the max. (I personally think this is alright.)

[2018-12-17 15:13] willsputra commented on #2773
@kuhnchris I think I'll split into 2

[2018-12-17 16:13] willsputra opened #3231 "BUILD - As an admin of Gitcoin, if a funder rejects an applicant, I want to know the reason why."
### User Story

As an admin of Gitcoin, if a funder rejects an applicant, I want to know the reason why.
### Why Is this Needed

We're always looking to improve the Gitcoin experience. We'd like to have data regarding why an applicant is rejected. The data will be useful for the rejected applicant too so they can improve.

### Current Behavior
Currently when an applicant is rejected, no reasons ar

[2018-12-17 16:14] willsputra commented on #3231
@frankchen07 Could you advise on how we should store the responses? Thanks!

[2018-12-17 16:26] willsputra opened #3232 "BUILD - As a potential worker, I would like to know the reason why I was rejected for a bounty, so I can improve myself"
### User Story

As a potential worker, I would like to know the reason why I was rejected for a bounty, so I can improve myself
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: I want to know why I was rejected

### Description

[comment]: # (Feature

[2018-12-17 16:55] nasehim7 commented on #3195
Hey Team! I am not getting a "Start Work" option for this issue. However, I have submitted my first PR for this here: https://github.com/gitcoinco/web/pull/3233 :D

[2018-12-17 21:56] Nnooo commented on #3222
You can see more about my work here: https://nicwatt.nnooo.com

[2018-12-18 07:04] frankchen07 commented on #3224
Linking a data-ops ticket: https://github.com/gitcoinco/data-ops/issues/20

We do have LTVs up for bounties platform value. Revenue is mock calculated by a percentage cut, and I think we'll have to add Kudos LTV value either in the full calculation or separately.

[2018-12-18 08:30] LiorRabin opened #3236 "Cancelled issue on Gitcoin not updated status and GitHub issue"
**Describe the bug**
I've cancelled this bounty https://gitcoin.co/issue/ColuLocalNetwork/inventory-manager/29/1766

My transaction was confirmed as can be seen here: https://etherscan.io/tx/0x62e14fdc661e74ec7bc60a128ce1cfe3e11c472fcac183cee2cea5e90932c158.

I also got the CLN back to my account, but for some reason the bounty itself still looks like it is on `WORK STARTED` status and also didn't

[2018-12-18 10:46] abitrolly opened #3237 "Session hijacking"
Eventuall Hello there. ) For some reason I am logged in as this guy.

![image](https://user-images.githubusercontent.com/8781107/50149053-28f0d800-02cb-11e9-8114-64660baf35de.png)

What's going on? It is on https://gitcoin.co/about and then I can go to and edit his profile https://gitcoin.co/settings/email/c5188e7cd0fa086a7b724897d278a  - add +1 to the -1 hash digit. Since PHP it is a bad idea to

[2018-12-18 10:57] kuhnchris commented on #3232
If nobody wants, I can design that mail. Could you please export the Sketch file as HTML, PDF, PNG, PSD, or any other format? My trial for Sketch expired so I cannot open your file @willsputra  :-(

Thanks,
Chris

[2018-12-18 11:00] kuhnchris opened #3238 "CodeCov dangerously low (<=30%)"
**Describe the bug**
CodeCov coverage report below 30%

**To Reproduce**
Commit

**Expected behavior**
Have good CodeCov (>=50%)

[2018-12-18 14:39] mbeacom commented on #3238
We have numerous code coverage bug bounty issues at the moment.  Please follow up on one of those or feel free to fulfill one! 😄

[2018-12-18 14:39] #3238 closed

[2018-12-18 16:09] willsputra commented on #3232
@kuhnchris would this .png work? if you prefer other format, lemme know :)

![work rejected email](https://user-images.githubusercontent.com/19514207/50166533-3c7b5d80-0322-11e9-9dca-a1196a81c31a.png)

[2018-12-18 18:18] frankchen07 commented on #2764
@kuhnchris - are you still working on this? checked out the PR, it looks like you were looking for some feedback?

[2018-12-18 18:52] frankchen07 opened #3240 "As a Gitcoin admin, there is an over usage of override statuses, which lead to incorrect statuses that leave funders confused about the true status of their bounties"
### User Story

As a Gitcoin admin, there is an over usage of override statuses, which lead to incorrect statuses that leave funders confused about the true status of their bounties. There have been an increasing number of support requests from people whose bounties have an override status on them.

Example: https://github.com/gitcoinco/web/issues/2764
Example (fixed): https://github.com/prysmatic

[2018-12-18 19:01] mbeacom commented on #3240
I voiced concerns about introducing the override mechanism from the jump, so going back to those... I think we should definitely eliminate this option all together and focus on making the status updates more meaningful and accurate.

[2018-12-18 22:06] #3104 closed

[2018-12-18 22:11] captnseagraves opened #3241 "Add WETH to Grants token drop down"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to be able to pay grants in WETH so that I can payout in ETH with minimal effort

[2018-12-18 22:13] captnseagraves opened #3242 "Refactor Grants amount_received"
Refactor Grant amount received to address this comment: https://gitcoincore.slack.com/archives/CBDTKB59A/p1544642804120400

[2018-12-18 22:14] kuhnchris commented on #2764
@frankchen07 as stated in the PR i'm waiting for mbeacom if I should do the backend side aswell, or if that's a own ticket.

[2018-12-18 22:16] captnseagraves opened #3243 "Save number of approved and successful tx in Grants"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As the Grants maintainer, I want to keep track of the number of transactions a subscription has approved, so that I can the number of transactions that have occurred and know when all scheduled transactoins have been fires so that the subminer is not trying to fire transactoins that will fail and waste gas.

### Why

[2018-12-18 22:16] kuhnchris commented on #3238
Ah, pardon, I was under the impression that the latest ones were already "improved", and hence closed.

[2018-12-18 22:17] kuhnchris commented on #3232
Ah that works fine. The only thing(s) I'd need are art/resources, like the bell, the rest should be in the assets/v2/images already.

[2018-12-18 22:19] frankchen07 commented on #2898
@jdorfman - hows this issue coming along?

[2018-12-18 22:19] kuhnchris commented on #3242
Just as a note here, in general for all links to gitcoincore:
You artifactually (or on purpose) limit the people who can contribute on those bounties to the core team only, as nobody else who's not registered there cannot open this link. Not sure if you are aware of that.

Thanks

[2018-12-18 22:27] captnseagraves opened #3244 "Refactor progress bars to show red when losing funding"
We need to refactor progress bars to show red when losing funding so that the user can see the impact they are having by taking away their funding.

Dependant on completion of https://github.com/gitcoinco/web/issues/3242

[2018-12-18 22:29] captnseagraves opened #3245 "Add Gas plug-in to `change_contract_owner`"
Add Gas plug-in to `change_contract_owner` in detail.js.

[2018-12-18 22:31] captnseagraves opened #3246 "Add ability to change `amount_goal`"
As a user I want to be able to change the amount I have set for my monthly `amount_goal` so that I can adjust my grant based on the needs of my project.

This funtionality should be added to the `grant/detail - edit` functionality. We will need to add an input `grant/detail.html - admin/edit`, hide/show functionality to `grants/detail.js`, and make sure the data is being passed to the correct func

[2018-12-18 22:34] captnseagraves opened #3247 "Add Address Warning - Grants"
As a user, I want to know when my metamask is set to a different address than the one I used to create a grant or subscription so that I dont try and submit a transaction that will fail.

This error keeps happening in testing and we need to check what wallet a user is using, create a warning to let the user know, as well as disable any necessary buttons so that a user can't process any transaction

[2018-12-18 22:37] captnseagraves opened #3248 "Disable link in Grants enableWaitState"
We need to disable the link in the grants enableWaitState(). Or perhaps better would be to have the link open a new tab instead of navigating away from the waitScreen which we need the user to stay on to complete saving of the data.  We probably need to ask the user to stay on the page as well. Right now we tell them that they can leave the page.

[2018-12-19 07:09] kuhnchris opened #3250 "Kudos - Carousel broken on https://gitcoin.co/kudos/"
**Describe the bug**
Kudos images are not being loaded in carousel

**To Reproduce**
go to https://gitcoin.co/kudos/, wait a couple of seconds until the carousel auto-forwards, see broken images

**Expected behavior**
see kudos images

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/50204488-58542300-0365-11e9-9ee6-43df5aa32cd8.png)

[2018-12-19 07:18] kuhnchris commented on #3240
I agree with @mbeacom - we should fix the source of the problem, not just use a work-around.
Can we check to see who is using this function mostly? if so, ask the core member what the issue is and let's try to work from there to improve the process to get a clean solution going.

Also, as an intermediate solution, only allow bounty status overrides with a reference to a issue here on github? at le

[2018-12-19 13:23] willsputra commented on #3013
@kuhnchris how's it goin? :)

[2018-12-19 14:12] SaptakS commented on #3237
@abitrolly thanks for the issue. Can you please help me understand it better?

Are you seeing the website logged in to someone else's profile in your personal computer? How exactly did you log in to someone else's profile or was it already logged?

Can you please elaborate where you are doing this and what exactly is the outcome?

We don't use PHP, so I am not sure what you mean here.

[2018-12-19 14:44] kuhnchris commented on #3013
My bad, currently in a bit of a transistion period. I'll add the changes tonight or tomorrow.

[2018-12-19 15:07] willsputra opened #3253 "Should the bounties list on Profile shows only the latest status? or a feed of historical reference?"
### Discussion

Currently, on Profile, the same bounty can appear in multiple tabs: Work Started • Work Submitted • Bounties Completed.

Example:
https://gitcoin.co/profile/willsputra

![profile](https://user-images.githubusercontent.com/19514207/50227910-d1915b80-03e1-11e9-927a-3eac74ab54b2.jpg)

The bounty DESIGN: Contributor Dashboard is actually **Completed**,
but it also appears under **Work

[2018-12-19 15:14] willsputra commented on #3157
On another note, in all these +1 cases, the status would be 'Work Started' from the contributor's point of view, right?

Which means regarding the design (#3173), if they want to know which issues are counted, they can simply see how many 'Work Started' bounties they have?

[2018-12-19 15:54] kuhnchris commented on #3157
Sadly not. Work Started doesn't correspond with the real "work started" amount.

[2018-12-19 16:12] willsputra commented on #3157
@kuhnchris yeah I know... (which sometimes  I find confusing too, looking to start a discussion on #3253)

I'm personally leaning towards fixing the profile (so it corresponds with real "work started" amount) and have issue count = work started.

but if we're keeping the current profile implementation, having the new tab like you suggested on #3173 could work too!

[2018-12-19 17:30] frankchen07 opened #3254 "I want a better understanding of funder performance and contributor performance, beyond what the leaderboard offers."
### User Story

I want a better understanding of funder performance and contributor performance, beyond what the leaderboard offers.

### Why Is this Needed

With the onset of C2.0, "performance" will be an increasingly important metric from our funders and contributors. This is a ticket for a deeper "leaderboard" style exploration questions. Thanks @PixelantDesign for the initial idea and some re

[2018-12-19 17:31] frankchen07 commented on #3254
closing and moving to data-ops

[2018-12-19 17:31] #3254 closed

[2018-12-19 18:48] captnseagraves opened #3256 "Grants ENS support"
Users are already wanting to use ENS addresses. We need to support this in Grants.

[2018-12-19 18:50] captnseagraves opened #3257 "Create opt-in experience for changing Grant owner"
Right now, I can change the Grant owner to be any existing Gitcoin/GitHub user. There should be an opt-in process for the new potential Owner.

[2018-12-19 18:56] abitrolly commented on #3237
My computer. It was already logged.

Just follow the link https://gitcoin.co/settings/email/c5188e7cd0fa086a7b724897d279a to edit another user.

In PHP you can hijack another user session by knowing session id, and developers quite often was leakin it in URL. Looks like Gitcoin not only allows to hijack session, but its generation / check is logic is very weak. @owocki

[2018-12-19 19:36] captnseagraves opened #3259 "Grants - Fund page refreshes instead of redirecting to detaills"
Sometimes when I fund a grant the page reloads instead of redirects to details. Not sure what the cause is, but need to iron out the bug.
![screen shot 2018-12-19 at 12 10 46 pm](https://user-images.githubusercontent.com/22862292/50243572-ba734f00-038a-11e9-94a9-26cff2e4c994.png)

[2018-12-19 20:37] octavioamu commented on #2948
Updated design by @willsputra
![image](https://user-images.githubusercontent.com/1358093/50246630-0e972700-03bd-11e9-918e-5d5b30c3dcab.png)

[2018-12-19 20:52] #3067 closed

[2018-12-20 07:43] thelostone-mc commented on #2782
Revenue Idea :
- Each Job Posting requires a fee to gitcoin. (Also prevents spamming )
- Job posting are linked to bounties ( gitcoin team manages those bounties to help secure potential candidates )
- We charge x% of an employee's salary from the recruiter

[2018-12-20 07:51] thelostone-mc commented on #2779
Revenue:

A lil wacky and this might need an update in the contract but evaluate returning kudos / sending those to others.
Can I send a kudos rewarded to me back into the market / send it to someone else for an additional fee  to gitcoin.
Creates a history of who all owned a kudos -> which makes every individual kudo have a diff value.
Me sending `Django-God` kudo which was sent to from @mbeacom

[2018-12-20 07:55] thelostone-mc commented on #961
Aka Creating a grant for gitcoin ?

[2018-12-20 07:56] thelostone-mc commented on #3209
not sure if this relates but :
https://github.com/gitcoinco/web/issues/2779#issuecomment-448905360

[2018-12-20 08:07] thelostone-mc commented on #3177
@willsputra any ideas on the message and where we add them ?
@kuhnchris if you are taking this up -> the shareable link (ensure the default image is granted image )

[2018-12-20 08:14] thelostone-mc commented on #2948
Is this up for grabs? :P Mesa like the design. Mesa want to code
@frankchen07 @willsputra @octavioamu

[2018-12-20 08:31] kuhnchris commented on #3177
Sorry, I didn't get that, "the shareable link" as in?
I assume the shareable link will be e.x. "https://gitcoin.co/grants/1/sitemap-grant-to-test-sitemapxml" and the graphMQ/tags/... should provide either a short description of that grant + the grant picture if available. If not available it should probably display the gitcoin image or one of the gitcoin bots.
Anything special requested regarding

[2018-12-20 09:56] aashutoshrathi opened #3263 "CircleCI environment setup fails"
**Describe the bug**
CircleCI fails to set up the env, which leads to an error in every PR's check.
Logs:
[code]

**To Reproduce**
Check any PR's CircleCI build.

This happened after version upgrade in https://github.com/gitcoinco/web/commit/8896a0c4608b948efe6065b57cf9071f83f6f275

[2018-12-20 11:15] troggy opened #3264 "Increase funding tx failed with out of gas"
**Describe the bug**
I've tried to increase funding for existing bounty and tx failed with "out gas" error. Seems like that gasLimit wasn't accurately estimated.
Tx: https://etherscan.io/tx/0xab34b4520b658876d62155a3f63208489db616899b2a5279e4cd060a78a0545c
Bounty: https://gitcoin.co/issue/leapdao/solEVM-enforcer/21/1961

[2018-12-20 11:20] troggy commented on #3264
I've increased gasLimit manually and it went through just fine: https://etherscan.io/tx/0xcddf0c4779a8eb0ced3a0861eef513f77e3f2f50b8ffaeed215b2df452d9e7da

Estimated gas limit: ~56k
Real gas usage: ~65k

[2018-12-20 11:49] octavioamu commented on #2948
@thelostone-mc this one is ready, just making some small things and submitting a PR today but #2895 is free and I think is ready to code.

[2018-12-20 14:21] willsputra commented on #3232
@kuhnchris here's the bell
https://drive.google.com/open?id=1THSiPKO0ucMNaTAY43vgIENOPW4YuJWP

[2018-12-20 16:10] kuhnchris commented on #3232
Thanks @willsputra i'll get to it ASAP. Is just designing the mail itself OK or you want me to include the backend works for this aswell?

Thanks

[2018-12-20 16:15] willsputra commented on #3232
@kuhnchris awesome thanks!
regarding the backend, @octavioamu what do you think? since it's also kinda related to #3231

[2018-12-20 16:15] kuhnchris commented on #3256
Any ideas? Want to create a custom ENS subdomain? kind of like <normalized-grant-name>.grants.gitcoin.ens ?

[2018-12-20 17:15] owocki opened #3268 "add wagtail content entries to sitemap.xml"
add wagtail content entries to sitemap.xml, so they are intdexed by search engines

[2018-12-20 19:31] frankchen07 commented on #3240
I'll add some market context here:

I've used the override bounty status for:

- marking issues as done when people just tip out and leave the bounty hanging
- marking issues as cancelled if the issue had expired and the funder explicitly wanted it cancelled.
- marking issues as open when an abandoned contributor was taking up the issue (should be remove the contributor via admin)
- marking issues

[2018-12-20 21:29] thelostone-mc opened #3271 "component: checkbox (gc-checkbox)"
#### Description

Unify the behaviour and document the component usage for a checkbox.

- [ ] remove `external_bounties/checkbox.css`
- [ ] update references to that file to use our default checkbox throughtout the site
- [ ] naming convention -> checkbox to use class name `gc-checkbox`
- [ ] update document on how to use the component

[2018-12-20 21:31] austintgriffith opened #3272 "Form Persistence through reloads and no reloading on MetaMask updates"
### User Story

As a user filling out a form I often have the page refresh because of metamask or other interactions and I lose all of the content I had typed up.

### Why Is this Needed

It makes me want to rage quit when I lose content

### Expected Behavior

The page reloads and my form content is still there.

[2018-12-20 22:43] santteegt commented on #2261
Hi,

I updated my PR a week ago. Let me know if you need any further modification from me to complete this bounty :)

[2018-12-20 23:32] owocki opened #3273 "bounties - charge per amount in escrow"
you *could* charge 0.5% fee per month of the funds in escrow.    (as opposed to just charging x% per done bounty)

[2018-12-21 04:47] captnseagraves commented on #3256
@kuhnchris Thanks for checking in on this. Sorry I haven't been very descriptive in the issues I've posted recently. It's been more of a way to save ideas as we move to an alpha+ launch than anything else.

For this issue though, someone wants to use an ENS address that they already have (e.g. kevinseagraves.ens) and our system does not support this functionality. At least, that's my understanding

[2018-12-21 09:54] kuhnchris commented on #3272
well - wouldn't that basically mean that we need to change the ENTIRE system to ajax and/or either load the form data back in django/the view or reload a separate included frame for metamask?
How do other tools handle metamask changes like that? (radar, 3box, ...)

[2018-12-21 09:59] kuhnchris commented on #3268
as in? all the blog posts?

[2018-12-21 13:12] kuhnchris commented on #3197
Any news on this @owocki ?

[2018-12-21 13:16] xiaods commented on #1786
any update @owocki

[2018-12-21 13:35] michaelsena commented on #3121
Hey @kuhnchris just a friendly ping here to check in on the status of this and to see if you need anything from us! Hope all is well!

[2018-12-21 13:37] kuhnchris commented on #3121
Hi there @michaelsena . As we discussed on the 3box chat already - basically the functionality is implemented, we are checking from our side if the user avatars are stored on IPFS, I think we are still missing some functionality to actually use the avatar on your side.
![image](https://user-images.githubusercontent.com/761911/50345046-e5e26f00-052d-11e9-81f0-80725eb43a50.png)
If you guys are ready

[2018-12-21 13:43] michaelsena commented on #3121
Makes sense @kuhnchris, thanks for the info. Would you want to work on a small story on 3box-dapp that would implement a button on the image list item to make image profile photo. I can make a quick mock up if you'd be interested.

[2018-12-21 13:48] kuhnchris commented on #3121
Sure, open up an issue over at your repository and link me, then we can take a look.

[2018-12-21 15:55] #3250 closed

[2018-12-21 16:46] michaelsena commented on #3121
Okay @kuhnchris so thinking more about this, I may have a simple solution here.

This is the UI mockup you provided:
![unknown](https://user-images.githubusercontent.com/5216274/50353053-08b45980-0515-11e9-97fc-47d2df0163f6.png)

Instead of "Upload avatar to 3Box", we could make that button say, "Save as 3Box Avatar". When the user clicks this, we could make two writes to the DB.

1. gitcoin.avata

[2018-12-21 17:12] owocki commented on #3268
yes

[2018-12-21 17:32] michaelsena commented on #3121
Amazing @kuhnchris :+1:

[2018-12-21 17:36] kuhnchris commented on #3121
The only thing we should watch out for is, that if we want to remove the hardcoded profile: overwrite we need either to implement a flag on our side or you guys will have to live with the fact that pressing that button will override the avatar hard.
Background: I was asked to only interact with our dApp space "gitcoin.*", hence my question that we do not violate any of your rules.
I'll msg back as

[2018-12-21 17:38] owocki commented on #3236
i know im like 3 days late to the party but looks like its updated now

@frankchen07 i think adding the 'sync from blockchain' button would really help here

[2018-12-21 17:44] captnseagraves opened #3275 "Grants - Add Contribution History to `grants/details - admin` view"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Grant Admin/team-member, I want to see my grant's contribution history on the `grants/details - admin` view so that I have an easy way to see who has contributed, how much, and when.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state,

[2018-12-21 17:44] #3171 closed

[2018-12-21 17:56] kuhnchris commented on #3121
Ho ho ho @michaelsena .
Sadly, this does not work.
![image](https://user-images.githubusercontent.com/761911/50356313-cb21f180-0551-11e9-9911-fb011d0c2c50.png)
I did upload a avatar via the dapp/the web interface. There I noticed that actually the "image" tag is being used and it's an array with a certain type:
[code]
Do you want me to emulate the same logic as the 3box dapp? Also, I see that we d

[2018-12-21 18:05] owocki commented on #3197
Multiple-  The winner has to earn eeach of the kudos.

Guys I have some bad news.  I shared the designs with John Paller of ETHDenver and he said he wants it to be ETHDenver branded not Gitcoin branded.

I'll own the miscommunication.  It's my fault; sorry.  I'll def pay for the work done thus far.

The website collateral for ETHDenver is http://ethdenver.com and here
 => http://bits.owocki.com/72

[2018-12-21 18:07] kuhnchris commented on #3197
So you'd rather have it the other way around, e.a. use the ethdenver template as a base and go from there, right?

[2018-12-21 18:08] owocki commented on #3197
yea thats what john asked for.  luckily i think much of the content is the same

[2018-12-21 18:10] owocki commented on #3237
i dont seem to be able to reproduce by doing this

Yes this link is a secret link thats only exposed to users who have access. IF you share it, then people will be able to access your private info.

We do this so that people don't have to login, when they click an email, to edit their email settings.

[2018-12-21 18:10] owocki commented on #3237
This is what i'm most baffled about.. its like there was a session ID collision or something.

[2018-12-21 18:15] kuhnchris commented on #3197
Well, easy enough, that's mainly a loss for @willsputra then, sorry.
For me it stays mostly the same.
Just let me know if you got an approved design. 👍

[2018-12-21 18:45] captnseagraves commented on #3125
Sorry for the depay on this issue. I wired up the email with transaction data last week. I believe in this PR https://github.com/gitcoinco/web/pull/3192

@thelostone-mc I know you took a look and added some commits to that PR. How much of this issue was addressed?

I left to percentage removed logic unchecked since it is dependent on https://github.com/gitcoinco/web/issues/3242.

[2018-12-21 18:48] captnseagraves commented on #3257
@thelostone-mc I know you have a PR out for this, and I think the current status is that @mbeacom is looking to wire up the data and emails.

Can you link to the PR or other open issue here and confirm status?

Thanks!

[2018-12-21 18:56] #3076 closed

[2018-12-21 19:12] captnseagraves commented on #3259
@thelostone-mc Yeah, it doesnt seem to be consistent. Not sure what causes it. I'll keep an eye out and will use this issue to provide any insight.

[2018-12-21 19:13] captnseagraves commented on #3248
@SaptakS Is there a PR out for this yet? I know you were working on it.

[2018-12-21 19:17] captnseagraves commented on #3247
@thelostone-mc @SaptakS Can you add this to your todo list? Thank you!

[2018-12-21 19:44] thelostone-mc commented on #3257
emails are already wired up!

The PR is good to go! The only thing I need help is [here](https://github.com/gitcoinco/web/pull/3252/files#diff-9c83a1892e5b433bc22483a941276b94R135) which is used by the html page to show an alert to user saying their request for change has been sent

[2018-12-21 19:58] owocki commented on #3250
try now?

[2018-12-21 20:00] owocki opened #3277 "aesthetic bug -- blue text on blue"
http://bits.owocki.com/a614fd70a55b/Screen%20Shot%202018-12-21%20at%2012.59.21%20PM.png
http://bits.owocki.com/55f5b563e072/Screen%20Shot%202018-12-21%20at%2012.59.42%20PM.png

https://gitcoin.co/contributor
IMHO this text on /contributor looks funny

is this by design?  if not, it should be a quick fix

[2018-12-21 20:00] owocki commented on #3277
@PixelantDesign would know if its by design or not

[2018-12-21 20:08] xiaods commented on #1461
Is this bounty still open ? I'd love to help with it

[2018-12-21 20:18] kuhnchris commented on #3250
Far better, if you use it "normally" it doesn't break now. only if you really fast click on the right button for a couple of times you see it jumping as it's loading the next images.
So, for me it's OK! thanks. :-)

[2018-12-21 22:09] oed commented on #3121
@kuhnchris Right yeah, the format for `'image'` is a bit strange. We should change that in the future. For now you can save it by doing something like this:
[code]

Hope that helps!

[2018-12-21 22:12] kuhnchris commented on #3121
Hey there, thanks for the quick tip.
Since you said it's OK, i'll try to emulate that URL-structure and will see what happens, reporting back shortly... :-)

[2018-12-21 22:45] owocki commented on #3209
just doubled the prices of  these kudos

[code]

lets keep an eye on what sales look like in the future for these

[2018-12-21 22:56] thelostone-mc commented on #3125
@captnseagraves I believe that and `transaction_summary` & `update_notification` are left.
wasn't able to get the latter two as it was missing data.
Are we using those two mail templates ?
If so what would I need to do be able to populate that data to view it

[2018-12-21 22:59] thelostone-mc commented on #3275
Can't we reuse what I had hardcoded way back and update that design or did we weed out that code ?

[2018-12-21 23:11] octavioamu commented on #2963
Where in the admin we should show the reason? Im trying to figure out that because can be more than 1 work stopped.

[2018-12-21 23:30] willsputra commented on #3197
@owocki @kuhnchris no problem at all! 😄

so are they going to send us a design? or do I just change the ones we have with ethdenver color/fonts/layout?

[2018-12-22 00:33] kuhnchris commented on #3121
![image](https://user-images.githubusercontent.com/761911/50368459-3a670800-0589-11e9-87d0-148b70294635.png)
![image](https://user-images.githubusercontent.com/761911/50368461-45219d00-0589-11e9-97fd-6022bb668ce2.png)
for some reason it makes a node called /gitcoin/ and it doesn't show up on 3box...

quick update: after 5 min it showed up! nice. weird warning tho.

[2018-12-22 08:09] oed commented on #3121
@kuhnchris That's odd that you get `/gitcoin/`! What is the code you are using to set that property?

It results in `undefined` because it tries to do `(await box.public.get('image'))[0].contentUrl["/"]` however it looks like the way you saved it you'd need to do `(await box.public.get('image'))[0].contentUrl["/gitcoin/"]` in order to get the correct content hash.

[2018-12-22 09:16] kuhnchris commented on #3121
Here's the code:
![image](https://user-images.githubusercontent.com/761911/50372644-87230100-05d2-11e9-839c-ba33a8201d4f.png)
I actually try to force "/", but it seems that "something" either remembers the gitcoin.avatar => /gitcoin/ space before, or because I call it from xxx.eu/gitcoin/account/settings/... , but then it should have the other url parts aswell, so, not entirely sure where this is

[2018-12-22 10:05] oed commented on #3121
Well that's strange. I don't really see how the contents of the json object could be modified like that. What happens if you log the `imgObj` right after it's created?

[2018-12-22 10:18] kuhnchris commented on #3121
Ahhh dammit that was my fault.
I had to use a rewrite for the IPFS issue that only works via HTTPS, that one f'ed me right up.
![image](https://user-images.githubusercontent.com/761911/50373182-2fd55e80-05db-11e9-8655-61aa5920cca2.png)
It basically rewrote "/" to "/gitcoin" everywhere, also in the script... my bad, sorry.
I changed it now manually, let's see what happens if the cache expires on 3b

[2018-12-22 16:18] owocki opened #3278 "CODE - As a funder I'd like to understand all of the offerings that Gitcoin has to help me develop, grow, and maintain my open source project."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder I'd like to understand all of the offerings that Gitcoin has to help me develop, grow, and maintain my open source project.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually ha

[2018-12-22 17:58] kuhnchris commented on #3278
Oh, guess someone was quicker than me, hahaha, no probs.
@mukulverm4 keep us posted, if you got a PR i'll be glad to review it ;-)

[2018-12-22 23:32] xiaods commented on #1461
please use Docker-ce version, docker-toolbox is deprecated tools in my remembers.

[2018-12-23 01:58] ethers opened #3279 "Trailing %20 leads to unfound profile"
Steps
https://gitcoin.co/profile/owocki
Click on "Sent Kudos"
Click "See More Kudos"
Click lower right of "Out of this World Programmer" to flip the card over
Click on "@SaptakS"

EXPECTED
Go to https://gitcoin.co/profile/@SaptakS and see Saptak's profile

ACTUAL
Goes to https://gitcoin.co/profile/@SaptakS%20  (extra %20) and profile is not found

[2018-12-23 12:39] mukulverm4 commented on #3278
Okay, sure @kuhnchris. :)

@owocki, the get started buttons should lead to respective products, right?

[2018-12-23 12:40] mukulverm4 commented on #3278
Okay, sure @kuhnchris. :)

@owocki, the get started buttons should lead to respective products, right?

[2018-12-23 16:22] JeremiGendron opened #3281 ""Stop Work" showing even if "Start Work" request returns an error"
**Describe the bug**
Annoying visual bug where an error breaks normal behaviour.

**To Reproduce**
1. Go on any issue for which you can apply
2. Click start work
3. Fill in the details, press submit
4. Get notified of an error for max number of jobs
5. See that the "Stop Work" button is clickable, as if the application was auto-accepted

**Expected behavior**
Ideally, for "Start Work" to be greyed

[2018-12-23 17:17] kuhnchris commented on #3121
@michaelsena mind kicking jorropo from that? I still need to figure out if we can upload our avatars to IPFS (cc @mbeacom), aside from that we should be ready so far. 👍

[2018-12-23 20:34] ceresstation commented on #3121
Hey @kuhnchris just removed @jorropo, you should be good to apply :)

[2018-12-23 23:18] owocki opened #3285 "grants showstopper - grant subscription has no 'token_address'"
https://gitcoin.co/_administrationgrants/subscription/8/change/
https://gitcoin.co/_administrationgrants/subscription/7/change/
https://gitcoin.co/_administrationgrants/subscription/5/change/
https://gitcoin.co/_administrationgrants/subscription/6/change/

each of these are DAI but they have no token_address on them

[2018-12-23 23:20] owocki commented on #3285
i will workaround this by setting them each a token address manually in the admin.  but a root cause fix is needed

[2018-12-23 23:23] owocki opened #3286 "as a user, i want to see history of a grant contributions on its public face, so i can know who's funded it"
as a user, i want to see history of a grant contributions on its public face, so i can know who's funded it

https://gitcoin.co/grants/20/burner-wallet

there should be a way to view the contribution history of this grant.  maybe we make 'updates' and 'milestones' as tabs, and add a third tab 'contributions'

# acceptance criteria

new set of tabs on the grants page as follows

![50522773-3c881400

[2018-12-24 00:16] owocki opened #3287 "auto email funder of a grant if it failed"
if a grant contribution fails, send an email letting the funder know.

# and its because theres insufficient balance

send them this email
[code]

# and its because theres insufficient allowance

send them this email

[code]

# and we don't know why

just send an email to admins (this already happens)

# after 4 days

if we haven't fixed the issue after 4 days, send this email

[code]

# after 7 d

[2018-12-24 00:41] owocki opened #3288 "sell branded kudos"
cobranded kudos could be a revenue idea.

[2018-12-24 01:14] owocki commented on #3278
@mukulverm4 yes thats right.

let me know when we can excpect a WIP PR :)

[2018-12-24 01:34] owocki opened #3289 "DESIGN - as a user, i want a pricing sheet, so i can see how to take full advantage of gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a pricing sheet, so i can see how to take full advantage of gitcoin
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
explains all our revenue options i

[2018-12-24 01:35] owocki commented on #3289
cc @vs77bb @PixelantDesign

[2018-12-24 08:59] mukulverm4 commented on #3278
But I cannot commit without the stylelinter fix because of pre-commit. Should I remove stylelinter from pre-commit config for now?

[2018-12-24 15:44] thelostone-mc commented on #3259
If it happens again ! we'll reopen this and dig into it. Closing it out for now ^_^

[2018-12-24 15:44] #3259 closed

[2018-12-24 15:45] thelostone-mc commented on #2328
Moving this

[2018-12-24 15:45] #2328 closed

[2018-12-24 15:46] #2402 closed

[2018-12-24 15:46] #2019 closed

[2018-12-24 15:47] #2470 closed

[2018-12-24 15:47] #2350 closed

[2018-12-24 15:48] #2026 closed

[2018-12-24 15:48] #2450 closed

[2018-12-24 15:48] #2449 closed

[2018-12-24 15:49] #2439 closed

[2018-12-24 15:49] #2443 closed

[2018-12-24 15:49] #2324 closed

[2018-12-24 15:49] #2442 closed

[2018-12-24 15:49] #2435 closed

[2018-12-24 15:49] #2325 closed

[2018-12-24 15:49] #2440 closed

[2018-12-24 15:49] #2434 closed

[2018-12-24 15:52] #2327 closed

[2018-12-24 15:52] #2424 closed

[2018-12-24 15:52] #2451 closed

[2018-12-24 15:53] #3099 closed

[2018-12-24 15:54] #2855 closed

[2018-12-24 15:56] #2197 closed

[2018-12-24 16:06] thelostone-mc commented on #3247
I'll check this out.
This means on the detail page
If i'm the grant admin -> the grant cancel will be disabled
and if I'm a contributor -> the cancel contribution at the cancel contribution page will be disabled

[2018-12-24 16:10] usmanmuhd commented on #1316
Hey @ninjasun are you still working on it, or do you need some help from our side?

[2018-12-24 16:13] usmanmuhd commented on #623
Hey @matthewlilley are you still working on it and need some help?
@mbeacom as @ceresstation has stated do we need to remarket this?

[2018-12-24 16:15] usmanmuhd commented on #2864
@shalabhaggarwal could you please submit the work so that it can be paid out?

[2018-12-24 16:40] usmanmuhd commented on #1991
Hey @aerophile any help you need from our side?

[2018-12-24 17:45] owocki commented on #3278
what @kuhnchris said..

that sounds good to me.  as long as your code is linted and your PR does not contain linting errors it should be fine

can we get a PR in soon?

[2018-12-24 17:46] owocki commented on #3278
Hey @mukulverm4 did you see the updated design at https://github.com/gitcoinco/Marketing/issues/8#issuecomment-449618913 ?  Any way you could include that last modeule in your PR? will tip ya extra for the scope creep.

heres the source image for the bottom module http://bits.owocki.com/90982046e51d/oss_cycle%20with%20gitcoin%20(1)%20(1).svg

[2018-12-24 18:34] mukulverm4 commented on #3278
@owocki, here's the [PR](https://github.com/gitcoinco/web/pull/3292).

 Also, I will include  the last module too, no problem.

[2018-12-24 18:39] mehul0698 commented on #3195
How to test the svg file you have made?

[2018-12-24 18:59] captnseagraves commented on #3242
To address this issue I plan to:
- create `monthly_amount_subscribed` in the Grant model
    - this will represent the sum of all `amount_per_period` values in subscriptions
- do conversion math for periods other than 30 days
- point progress bars `current` value to `monthly_amount_subscribed`
- display `total amount received` in grant details
- when a subscription is canceled or when `num_tx_proc

[2018-12-24 19:12] mukulverm4 commented on #3278
Hey @owocki, where should the `Get in touch ` button in the last module lead to?

[2018-12-24 19:35] owocki commented on #3278
mailto:founders@gitcoin.co

pls just throw TODOs in the PR and we'll handle anything else that comes up like this.. no need to go back and forth on comments

[2018-12-24 19:46] owocki commented on #3195
@nasehim7 i just edited the gitcoin issue type to be cooperative so you can start work now

@mehul0698 theres a bunch of info about how to spin up docker container at https://docs.gitcoin.co ; you can also use the example PRs in the issue desc

[2018-12-24 20:10] kuhnchris commented on #3289
*raises hand* please provide the assets in a non-sketch format, thanks

[2018-12-24 21:04] owocki commented on #3275
yesterday, i added a bunch of fields to the admin so you can eyeball the contribution status in the admin.

checkout the admin grants index, and then the list of subscriptions / grants for each at the bottom of each grant in detail view

[2018-12-24 21:05] owocki commented on #3285
@captnseagraves any leads on this one?

looks like it happeend again with this sub https://gitcoin.co/_administrationgrants/subscription/10/change/

[2018-12-24 23:45] mehul0698 commented on #3195
Hairstyle added - girly #3298

[2018-12-24 23:46] owocki opened #3299 "bug - new tip email is misaligned"
this is on google apps / gmail on chrome

![screencapture-mail-google-mail-u-0-2018-12-24-16_45_41](https://user-images.githubusercontent.com/513929/50407789-6c4fb880-079b-11e9-9d4c-6849e6361f11.png)

[2018-12-24 23:46] owocki commented on #3299
this is from prod; fyi @kuhnchris idk if you saw this when testing at all

[2018-12-25 02:01] captnseagraves commented on #3285
@owocki Just now aware of this. Will look into it.

[2018-12-25 02:06] captnseagraves commented on #3285
@owocki Where is this error breaking functionality? The subscription looks like it has valid contributions happening. If the Grant has a `token_address` selected then the Subscription will not have one, which is the case for the Burner Wallet grant.

[2018-12-25 05:41] nasehim7 commented on #3195
@owocki Thanks Kevin :)

[2018-12-25 07:30] shalabhaggarwal commented on #2864
@usmanmuhd I already submitted but my transaction is pending from last 26 days. :(

[2018-12-25 07:53] usmanmuhd commented on #2864
@shalabhaggarwal could you please increase the gas or provide the txid so that I can take a look?

[2018-12-25 12:49] thelostone-mc commented on #3246
@willsputra mind helping figuring out how to add this neatly into the UI ? If you design it -> we can code it up. I know if I add it in randomly -> it will ruin the look and feel :P

[2018-12-25 14:36] owocki commented on #3285
This breaks the subminer.

It’s working on the existing subscriptions because I went in and set a
token address for the subscriptions manually, as described in my comments
above.

I don’t get why the subscription doesn’t have a token address if the grant
object has one. What’s the design reason for that?

On Mon, Dec 24, 2018 at 7:06 PM Kevin Seagraves <notifications@github.com>
wrote:

--

@owock

[2018-12-25 15:43] shalabhaggarwal commented on #2864
@usmanmuhd I would have increased the gas if I had enough ether to do so.
Here is the transaction link - https://etherscan.io/tx/0x0597d934eadfc5c48d8a6090c1b234cf3354e6cc748691c71806caaf7a153cbc

[2018-12-26 02:14] usmanmuhd commented on #2864
I guess @owocki can help by paying out through advanced payout option.

[2018-12-26 05:33] mehul0698 commented on #3195
@owocki Please review my pull request #3298 as I have some more hairstyles I'll put pull request for them also.

[2018-12-26 13:14] PixelantDesign commented on #3289
Cool! I'll take up this one @willsputra

[2018-12-26 13:43] PixelantDesign commented on #3013
Looks good! Excited to see this!

[2018-12-26 13:49] nasehim7 commented on #3195
Kevin it still says traditional to me. I don't find the start work.

[2018-12-26 14:04] owocki commented on #3195
@nasehim7 sorry!  try now.  it seems updated now

[2018-12-26 14:10] nasehim7 commented on #3195
Thanks Kevin! Works fine now :D

[2018-12-26 14:12] PixelantDesign commented on #3281
Thanks for reporting this bug @JeremiGendron!

[2018-12-26 14:24] owocki opened #3301 "as a user of grants, i want to see past contributors to my grant, so i can know who has contributored to my grant in the past"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user of grants, i want to see past contributors to my grant, so i can know who has contributored to my grant in the past

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2018-12-26 14:32] owocki commented on #3289
when this is ready for coding, will do.

thanks @PixelantDesign !

[2018-12-26 14:34] owocki commented on #2864
yeah that 0.5 gwei tx is not gonna confirm anytime soon :)

paying out via advanced payout

[2018-12-26 14:40] shalabhaggarwal commented on #2864
@owocki You just paid the tip to @usmanmuhd
It was to come to me. :)

[2018-12-26 14:41] usmanmuhd commented on #2864
Yeah @owocki , it was meant for @shalabhaggarwal . I'll transfer it @shalabhaggarwal .

[2018-12-26 14:45] owocki commented on #3278
@mukulverm4 looks great-- merging now.. thanks for the work!

[2018-12-26 14:47] owocki commented on #3278
pls submit your work on gitcoin and ill pay u out

[2018-12-26 14:50] filips123 opened #3302 "Can't create grant"
**Describe the bug**
I can't create Grant. When I click "Create a Grant" button, the page refreshes and shows "You do not have permission to add a grant." How can I create grant?

**To Reproduce**
Visit https://gitcoin.co/grants/ and click Create a Grant" button.

**Expected behavior**
I should be able to add the Grant. If there are some restrictions about adding and I am not eligible for creating

[2018-12-26 14:56] kuhnchris commented on #3121
Yes sir, working on it, still missing the IPFS link to finally implement this.
also cc @ceresstation and @PixelantDesign and @owocki (and @thelostone-mc  for code review)

[2018-12-26 15:04] #3278 closed

[2018-12-26 15:05] owocki commented on #2867
I just submitted what I think the brand architecture / navigation structure should be https://github.com/gitcoinco/web/pull/3303

[2018-12-26 15:19] mbeacom opened #3304 "DRY up the products.html template"
Currently, the new `products.html` template isn't very DRY

Update the products view and template to iterate over a list of products and write the relevant HTML block for an individual product once versus each time by passing the products data from the view.

Relevant section:

[code]

[2018-12-26 15:51] captnseagraves commented on #3285
The design reason was that the subscription could just inherit the token_address from the grant if it had one. No problem though, the subminer might not have been written to account for this. I'll add in saving the token_address to the subscription. PR to come in a bit.

[2018-12-26 15:53] owocki opened #3305 "grant email avatar images still broken"
http://bits.owocki.com/4ac54af8512d/Screen%20Shot%202018-12-26%20at%208.53.34%20AM.png

[2018-12-26 16:00] owocki opened #3306 "bug - suggested kudos not loading on payout view"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
suggested kudos not loading on payout view

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

be the funder
go to https://gitcoin.co/issue/accept?pk=7895&network=mainnet

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
suggested kudos load

**S

[2018-12-26 16:21] owocki commented on #3302
we'll be opening up perms for creating new grants in the next week or two!  i agree that error message could be better at explaining that

[2018-12-26 16:43] owocki commented on #3299
okie dokie... let me know.. fwiw i think its something gmail related bc it renders fine in my browser just not gmail

[2018-12-26 16:46] kuhnchris commented on #3299
I think it may be releated with some width setting, I had a similar issue with Spark (mac OS mail client).
I'll test around to see if I can get something to work

[2018-12-26 17:20] captnseagraves commented on #3285
@owocki PR here: https://github.com/gitcoinco/web/pull/3308. Accidentally merged to `grantz-cleanup without allowing for review. Should be fine though I just merged in master to fix the avatar bug I had the other day and save the sub_token_adress

[2018-12-26 18:48] frankchen07 commented on #3224
Currently, our LTV revenue metrics are calculated using several standard formulas that I've researched, specifically for Gitcoin Bounties. I'll summarize the results, and then provide the definitions below, and the caveats that I'm aware of. LTV platform value can be found on various product vertical dashboards.

Bounties OKR: https://metabase.gitcoin.co/dashboard/13
Kudos: https://metabase.gitcoi

[2018-12-26 19:21] owocki commented on #3197
yeah lets just use the ethdenver colors / fonts / layout

heres the art for the ETHdenver site https://www.dropbox.com/sh/tzf83jcpbqxtmxy/AAAqRwP_G1aPZ1M3GVvgkPeVa?dl=0

its all from ethdenver.com -- thats all that he sent me.

[2018-12-26 19:43] mbeacom opened #3312 "Gitcoin Labs tools page with 404 assets"
The Gitcoin Labs landing currently has broken assets

Live:
<img width="261" alt="screenshot 2018-12-26 14 41 27" src="https://user-images.githubusercontent.com/7315957/50455523-7fd65d00-091c-11e9-9b2f-df423dc70eee.png">

Local:

<img width="265" alt="screenshot 2018-12-26 14 43 03" src="https://user-images.githubusercontent.com/7315957/50455530-967cb400-091c-11e9-8851-c382205b6a5c.png">

[2018-12-26 19:51] kuhnchris commented on #3013
Hey there @willsputra and @PixelantDesign
sorry for the long delay!
![image](https://user-images.githubusercontent.com/761911/50455654-c5f8e400-094f-11e9-9d5e-4a2feae109ba.png)
does that look like it would fit?

Header change:
![image](https://user-images.githubusercontent.com/761911/50455666-ea54c080-094f-11e9-91d4-1dd1b9e75d7d.png)

@PixelantDesign as we discussed, "Review" when there's a action

[2018-12-26 20:02] michaelsena commented on #3121
Thanks @kuhnchris. Anything you need from me here?

[2018-12-26 20:02] owocki commented on #3275
point us to what you hardcoded aditya?

[2018-12-26 20:03] kuhnchris commented on #3121
I guess currently not, I will have to figure out if I upgrade the avatar system on gitcoin to the new system and implement IPFS or find someone who can tell me if we already store IPFS hashes somewhere from the core team, I'll notify you as soon as I got more informations, OK? :-)

[2018-12-26 20:06] owocki commented on #3241
we might also want an easy way to convert ETH to WETH in the UI

[2018-12-26 20:19] owocki commented on #3289
another thing we could add to premium featureset only
- funder dashboard
- notifications
- weekly roundups
- instant new issue notifications
- ENS subdomains
- browser extension

@vs77bb @PixelantDesign thoughts on this?  basically anything that's not a basic feature could / should be premium only

[2018-12-26 20:32] owocki commented on #3222
oops .. sorry i went on xmas vacay after posting this.. approving a coupole of you now :)

[2018-12-26 20:35] owocki opened #3314 "as a grant funder, i want to see my contribution immediately, so i dont wonder where it is"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant funder, i want to see my contribution immediately, so i dont wonder where it is

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
people subscribe to grants,

[2018-12-26 20:36] captnseagraves commented on #3275
@thelostone-mc yes, we are using that code in grants/profile.html. @owocki we can reuse this code in grants/detail.html. Does that describe where it is well enough?

[2018-12-26 20:36] michaelsena commented on #3121
Sounds great, thanks @kuhnchris!

Also ccing @oed here too in case he has anything to weigh in on relating to IPFS

[2018-12-26 20:41] owocki commented on #3275
yes that makes sense for me to re-use.

one question.. why are we only showing the contribution history to grant admins (btw i dislike the term admin, since admin == django admin already.. can we call them grant owners?)...  on https://github.com/gitcoinco/web/issues/3301 i was hoping that we could show it for all users

[2018-12-26 20:42] owocki commented on #3301
dupe with https://github.com/gitcoinco/web/issues/3286 ?

[2018-12-26 20:42] owocki commented on #3301
also related to https://github.com/gitcoinco/web/issues/3275

[2018-12-26 20:43] mbeacom commented on #3196
I know I'm a tad late to this conversation, but if we're taking the time to make this adjustment and allow the user to hold onto many avatar assets, would it make more sense to modify the `Avatar` schema to also no longer track *both* custom and github avatars, since **each** `Avatar` object can be associated with a GH and GC avatar. 🤔 Given that we're now duplicating a lot of this, it'd make the

[2018-12-26 20:46] owocki commented on #3314
per convo with @captnseagraves on slack.. thers two elements to this

1. contribution should show up immediately on grant profile
2. tx being debitted immediately from ethernets

[2018-12-26 20:47] captnseagraves commented on #3275
There isnt a good reason. We can show publicly.

We can call them Grant Owners. The only reason admin was used was because they could control and edit the grant, much like a django admin with a website. But we dont have to keep that naming convention.

[2018-12-26 20:52] owocki commented on #3314
maybe we could run the subminer on an HTTP request, AFTER the response is sent to the user, but before the gunicorn thread closes

the only thing is we’d have to harden that endpoint against abuse

[2018-12-26 20:58] owocki opened #3315 "as a grants user, i'd like a grants FAQ, so i can have my FAQ answered"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants user, i'd like a grants FAQ, so i can have my FAQ answered

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
not all this shizz is self explanatory

### Desc

[2018-12-26 21:07] owocki commented on #3196
@mbeacom thats a great suggestion!  i think that having a `GithubProfilePic` and a `GitcoinAvatarProfilePic` both inherited from an `ProfilePic` class would make sense.  Then profile could have a generic foreign key to themm.

i dont know that i can hold the bounty hunter to that though.. given the timing.

another alternative would be to keep the avatar object containing of a bunch of diff profil

[2018-12-26 21:36] owocki opened #3316 "as a gitcoin user, i want my grant contributions to show up on my gitcoin profile, becauze i want credit"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a gitcoin user, i want my grant contributions to show up on my gitcoin profile, becauze i want credit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
because the pr

[2018-12-26 21:38] owocki opened #3317 "as a user, i want chain abstraction layer on gitcoin, so i can pay in bitcoin/EOS, etc"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want  chain abstraction layer on gitcoin, so i can pay in bitcoin/EOS, etc

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
ethereum is great but its not t

[2018-12-26 21:39] owocki commented on #3317
we could perhaps use https://arkane.network/ or the chain abstraction layer that joe chow is working on ( btcrelay )

[2018-12-26 21:43] owocki commented on #3226
we'll have to do customer development to know for sure, but im thinking that theres a market for basic 'what is ethereum and how do i use it' type of stuff... leading to more specialized stuff like 'counter factuals for fund and profit'

[2018-12-26 22:48] Anish-Agnihotri opened #3321 "Expose an endpoint for providing Kudo claim links."
### User Story

As a user that wants to give a Kudo, I want there to be a way to generate a claim link through which a recipient can claim the kudo.

### Why Is this Needed

Currently, as far as I understand, there are three ways to send a Kudo:
1. Sending a Kudo by sending it to a Github user.
2. Sending a Kudo by sending it to a Gitcoin user.
3. An admin generating an airdrop link that anyone ca

[2018-12-26 22:54] owocki commented on #3321
IMHO the easiest way for this to work would be to have the user purchase the kudos from gitcoin, and then gitcoin's server generates an airdrop link for you to just put on the card.

basically we could expose an endpoint where you POST a txid and we validate that it is correct and give you a claim link.

validations to perform:
* tx is successful
* tx has not been used to create a BulkTransferCoup

[2018-12-26 23:00] owocki commented on #2964
the funds are proportionally allocated

i'd err on the side of simpler at this point

[2018-12-26 23:05] owocki commented on #3215
does https://github.com/gitcoinco/web/pull/3309/ solve this?  what do i have to do on my local to become compliant?

[2018-12-26 23:12] owocki commented on #2469
they are assigned in the subminer (subminer.py)

yes pls!

[2018-12-27 01:28] owocki opened #3322 "as a content marketer, i want to create quizzes that entertainingly engage our audience, to reduce CPA & learn about our audience"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a content marketer, i want to create quizzes that entertainingly engage our audience, to reduce CPA

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
* easy way to ac

[2018-12-27 02:13] owocki commented on #3224
this is for bounty hunters, funders, or both?  is the LTV of a funder the same as the LTV of a bounty hunter?

one thing i'd be interested in knowing is the LTV of ALL users, not just active users.. im assuming it's going to be about 1/100th to 1/1000th of the active user number.

the reason it's important to know this number is that thats how we frame the CPA numbers.  it costs us $6 to acquire a

[2018-12-27 02:33] willsputra commented on #3013
@kuhnchris looks good to me!

[2018-12-27 05:13] mehul0698 commented on #3195
@owocki @mbeacom I have added 2 more hairstyles. Please review them.
#3323
#3311

[2018-12-27 06:40] shalabhaggarwal commented on #2864
Thanks @owocki @usmanmuhd

[2018-12-27 09:50] #3131 closed

[2018-12-27 09:51] thelostone-mc commented on #3131
@aashutoshrathi  was this addressed in the PR you had open ?

[2018-12-27 09:56] aashutoshrathi commented on #3131
No, but I can send quick one.

[2018-12-27 12:35] oed commented on #3121
@kuhnchris You can have a look at how we upload the image to ipfs here: https://github.com/3box/3box-dapp/blob/d1bf7142e8e144ce5c53ae59ce39376a025858dc/src/views/EditProfile.jsx#L276

[2018-12-27 12:41] kuhnchris commented on #3121
ah - maybe it's a bit of miscommunication from my side here: I am basically aware of IPFS and know how to interact with it - we just do not seem to store our avatars on IPFS right now, so I basically need to implement a spot in our system to upload (new) avatars to IPFS (and migrate existing ones).
Hence my back-and-forth. ;-)
The basic system is implemented, we just need to figure out the rest of

[2018-12-27 12:44] oed commented on #3121
Thanks for the clarification!

[2018-12-27 14:45] PixelantDesign commented on #3322
I like the spirit of getting to know our users and entertaining them...also think the following could be useful for marketing campaigns.

A quiz to help someone determine whether they'd be best as a contributor vs. OSS maintainer that eventually guides them to respective products?

A quiz to help us learn about funders pain points and provide combination of solutions that might help their business

[2018-12-27 15:40] kuhnchris commented on #3289
One aspect to think about tho: especially things that are already in use (like ENS subdomains) are already used because of the fact that they are "free". you'd have to revoke all existing domains (or keep them but make them unchangable) or give those early adaptors a free pass, else you might run into problems in the long run (trust me, I had done this before, people are going to be confused and h

[2018-12-27 15:45] kuhnchris commented on #3196
@mbeacom and @owocki please do not scope creep. the current scope only involves the history, and we should keep it at that.

background (and sort of disclaimer) - i'm working on mbeacom's new implementation of the avatar and restructured the Avatar Models already, especially from the background that the avatars should be loadable from not just github but also other services we decide to include (f

[2018-12-27 15:45] thelostone-mc commented on #3315
@willsputra could we re-use a design of what we already have / do we make a cleaner design?

[2018-12-27 15:55] PixelantDesign opened #3327 "Gitcoin.co Homepage 2019 Revamp"
Capturing Ideas Here
![new home page010419](https://user-images.githubusercontent.com/238235/50675138-1c9e9780-0fba-11e9-8c9f-f568e188b4f2.jpg)

![nav changes](https://user-images.githubusercontent.com/238235/50486043-f11e1a80-09c5-11e9-9fe3-01b363542fa9.jpg)

[2018-12-27 15:56] #3302 closed

[2018-12-27 16:05] owocki commented on #3327
some video collateral we c ould leverage

https://youtu.be/i2JKN_6iuiw
https://youtu.be/Y5Ef-fse23Y
https://youtu.be/b6LSf-zQnlI
https://youtu.be/oe7oD8ThKx8

[2018-12-27 16:24] owocki opened #3328 "grants - new supporter email should say how long the support is for"
https://gitcoin.co/_administration/email/new_supporter

this email should tell the funder how many periods into the future this grant is for

[2018-12-27 16:26] owocki opened #3329 "as a grant owner, i'd like to be given a set of best practices that i can use to promote my grant and make it successful"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant owner, i'd like to be given a set of best practices that i can use to promote my grant

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
success / failure of

[2018-12-27 16:28] owocki opened #3330 "as a grant owner, i'd like a forecast of how much funding i can expect, so i know how much runway i have"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant owner, i'd like a forecast of how much funding i can expect, so i know how much runway i have

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
see https://gi

[2018-12-27 16:30] owocki opened #3331 "grants - meta-ticket, how do we engage funders?"
one thing we really need to figure out is how we get funders involved / excited.  if we can get enough funders to want to contribute to grants in enough volume, then that makes the whole grants project spin much faster

some ideas
- we lean heavily on the grant poster to promote their grant (like how patreon works).  @Austin Griffith kind of validated this w. the burner wallet, it works if the pos

[2018-12-27 16:30] owocki commented on #3329
related to https://github.com/gitcoinco/web/issues/3331

[2018-12-27 17:12] owocki commented on #3196
excited about the 'skin_tone' stuff in the URl above :) thatll make maintaining the assets way easier

as for the 'scope creep' stuff, i guess a major question in my mind is does each of the individual parts we want to do (combine the frontend / backend, make avatar history available, divide github/gitcoin avatars, etc) earn value towards each other incrementally?  or does it make more sense to th

[2018-12-27 17:39] mukulverm4 commented on #3278
Hey @owocki, it would be great if you could tip me as well like you said.  😄

[2018-12-27 18:44] owocki commented on #3289
@kuhnchris thanks.. good point; we'll have to figure out how we grandfather ppl in

[2018-12-27 18:44] owocki commented on #3289
One idea I shared with @vs77bb today was maybe making the third plan an 'enteprise' plan.  Heres what that looks like

![group 3](https://user-images.githubusercontent.com/513929/50490898-c3889f80-09cc-11e9-8cb1-c4d43cbe2f1e.png)

[2018-12-27 21:30] kuhnchris commented on #3196
it depends, i think right now avatar is entirely in the hands of one person (you?), even as it's own app (/app/avatar).
So it's a closed package as of itself.
If you'd really push me, I could imagine splitting it like:
- Frontend (/dashboard/avatar_builder.js, javascript side)
- Backend & DB Stuff (/avatar_dynamic or /avatar)
So basically 2-fold split it, if you have anyone who'd be willing to rew

[2018-12-27 21:33] kuhnchris commented on #3013
Thanks for checking in @willsputra!
@PixelantDesign the only thing I am not entirely sure is: is the "email sending" part of the BUILD ticket?

Or, differently asked:
- is creating the mail sending job (= administrative task) also part of the ticket?

Thanks
Chris

[2018-12-27 21:37] kuhnchris commented on #3215
As that one is referenced in the PR/commit message and the migration dir looks extremly cleaned up...
![image](https://user-images.githubusercontent.com/761911/50495154-a3d29500-0a27-11e9-9044-97526801a341.png)

I assume: yes, #3309 should at least clean migrations up, not sure if it's entirely done (or if this should be a reoccouring issue/ticket every 1/2 year or so).

To be compliant I assume y

[2018-12-27 21:40] kuhnchris commented on #3226
So more like market economics and ethereum classes? Fair enough.

[2018-12-27 22:58] PixelantDesign commented on #3013
Checking on this for you @kuhnchris, could I give you an image to add to the top of the email? I know I'm scope creeping here....

[2018-12-27 23:02] kuhnchris commented on #3013
sure, no probs

[2018-12-28 01:56] willsputra commented on #3315
@thelostone-mc I think we can reuse the one we have on https://gitcoin.co/kudos/

[2018-12-28 02:04] owocki commented on #3315
That sounds good to me

On Thu, Dec 27, 2018 at 6:56 PM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http

[2018-12-28 02:19] kuhnchris commented on #3305
For easier debugging: is it just the "/..." path for the img? as in: is the gitcoin.co part missing?
if yes you may need to use the avatar_url templatetag.
https://github.com/gitcoinco/web/blob/1a42ae0553753f047243423f5860f9cef58f1017/app/retail/templates/emails/grants/new_supporter.html#L58

[2018-12-28 03:00] michaelsena commented on #3121
@kuhnchris happy to remove Jorropo, but not sure how. I didn't fund the issue, the Gitcoin team did. Any ideas?

[2018-12-28 06:44] frankchen07 commented on #3327
some thoughts:

1. user -> contribute -> maintain, should it be user -> contributor -> maintainer, if we want to keep a noun the whole way through?
2. under the “company” dropdown, “career” should be “careers”
3. can we center the our products / our mission to line up with the top header?
4. Do we want any new copy for the “do more work faster” portion?

also added some copy to the Google doc.

[2018-12-28 11:21] FrederikBolding commented on #2469
@owocki Should be all there now! (Unless I've missed something). It probably needs some more testing to make sure everything is working as intended and that it looks as it should.

[2018-12-28 14:53] thelostone-mc commented on #3287
@owocki Should these reuse the layout or are they simple txt mails  ?

[2018-12-28 15:04] thelostone-mc commented on #3305
It works in a few situations like [here](https://gitcoin.co/_administration/email/new_supporter)

@SaptakS  / @mbeacom any idea on why this happens ?

[2018-12-28 15:06] kuhnchris commented on #3305
@thelostone-mc could you check on some of those where it's broken in /admin what avatar_url is pointing at?

[2018-12-28 15:52] PixelantDesign commented on #3013
Hey @kuhnchris please use this image above the Weekly Bounties Recap H1

![weekly_robot](https://user-images.githubusercontent.com/238235/50520497-b633e980-0a8e-11e9-8934-ce1d4423ee35.png)

[2018-12-28 15:55] owocki commented on #3287
simple text emails are fine.. i think they look more intimate and therefore are more respondable

[2018-12-28 16:04] PixelantDesign commented on #3277
Yep should be white. Blue on blue is hard to read.

[2018-12-28 16:05] PixelantDesign commented on #3279
Thanks for reporting @ethers!

[2018-12-28 16:09] PixelantDesign commented on #3272
Yes, that would be great if we could temporarily save on the page so the user doesn't lose information already entered.

[2018-12-28 16:17] owocki commented on #3264
e77f670fa2cb2e22ad36428fc47e58ee5850ab0b

[2018-12-28 16:18] austintgriffith commented on #3272
I'm not sure which one I was using at the time but all Gitcoin forms do this. I would start with the most popular ones and work backwards. There have been multiple times where I'm creating a bounty, sending a kudos, or sending a tip where I got it all filled out and then MetaMask reloaded the page and I lost everything. Normally when that happens using a product in the wild I rage quit. I honestly

[2018-12-28 16:38] kuhnchris commented on #3013
Above the H1? Well, sure, here you go:
![image](https://user-images.githubusercontent.com/761911/50521746-6de4ed80-0ac7-11e9-8026-f67582dd91d3.png)

[2018-12-28 16:43] owocki commented on #3286
can we just reuse the existing https://gitcoin.co/grants/profile design and/or the activity feed design for this?   i know @willsputra is out sick now too

[2018-12-28 17:03] owocki opened #3337 "bug - new kudos email misalignment"
see below.  this is on gmail in chrome

<img width="1680" alt="screen shot 2018-12-28 at 10 00 07 am" src="https://user-images.githubusercontent.com/513929/50522352-c6949600-0a87-11e9-968e-342ec22a5a7d.png">

[2018-12-28 17:07] owocki commented on #2469
ok @FrederikBolding - awesome.. over on the PR https://github.com/gitcoinco/web/pull/3170 can you remove from WIP and also complete the checklist on the PR template?  that'll kick it over to review on our end.

[2018-12-28 17:20] willsputra commented on #3286
@owocki yeah I think we can reuse the existing design on Grants Profile

Nice to have: group by month and display the monthly total amount in USD/DAI so it's easy to see how much you've got each month.

![grants detail](https://user-images.githubusercontent.com/19514207/50522773-3c881400-0aff-11e9-8a87-218a022fdcda.png)

[2018-12-28 17:21] owocki commented on #3224
can we seperate out funder LTV / CPA and coder LTV / CPA?  those are probably two separate options

[2018-12-28 17:51] willsputra commented on #3246
We can probably add another field when you click on Edit Grant. Just make sure the title is consistent with what we have on the create grant form ('Monthly sought amount in DAI')

![monthlyamount](https://user-images.githubusercontent.com/19514207/50523361-5545f900-0b02-11e9-8074-d118d7973581.jpg)

[2018-12-28 17:53] FrederikBolding commented on #2469
@owocki Sure, will do!

[2018-12-28 18:20] owocki commented on #3286
@willsputra looks good!  cc @thelostone-mc @PixelantDesign

[2018-12-28 18:46] mehul0698 commented on #3195
@owocki @mbeacom For #3311 I have resolved the merge conflict. Please review it.

[2018-12-28 19:05] mehul0698 commented on #3195
@owocki @mbeacom I have added a suit with bowtie. Please review it.
#3338

[2018-12-28 19:19] owocki commented on #3196
@kuhnchris your WIP direction sounds good to me.

[2018-12-28 19:39] owocki opened #3340 "cleanup prod db size"
prod db is up to about 800 MB. well need a way to prune the DB size.. starting with these tables

<img width="359" alt="screen shot 2018-12-28 at 12 39 06 pm" src="https://user-images.githubusercontent.com/513929/50526189-a2dc4a80-0a9d-11e9-9c89-779d0b2f3a0d.png">

not listed is the emailevent table, which clocked in at 1 GB..

[2018-12-28 20:05] mbeacom commented on #3340
The first four could probably use some rework - should we evaluate something more time series specific for these kinds of datasets?  We could probably truncate some of these tables 🤔

[2018-12-28 20:08] owocki commented on #3340
not listed is the emailevent table, which clocked in at 1 GB..

agree with all of the above..  we'll have to revisit at some point in the future.   4382808351a45d098fb81747db8f3fd48ecf79d7 is a stopgap that makes restoring to our locals less painful in the meantime.

[2018-12-28 20:13] owocki opened #3342 "AWS Cost Management"
Our AWS Bill is currently $1.3k / mo.  We should schedule some time to analyze where the spend is and try to get it down closer to $500.

[2018-12-28 20:15] mehul0698 commented on #3195
@owocki @mbeacom I have added a pair of sun glasses. Please review it.
#3341

[2018-12-28 20:31] mbeacom commented on #3342
This is definitely something I've wanted to focus on...  Now that I have billing access, running billing and cost analysis reports is possible and I can start to hammer on this.

To move this forward, would you mind adding the secrets for the other instances hosted on our account that aren't gitcoin related to the company shared 1password or some other medium, so I can start migrating them to k8s/

[2018-12-28 20:31] PixelantDesign commented on #2773
Thanks @willsputra!

[2018-12-28 21:00] owocki commented on #3342
i was just listing this ticket so we can track it; i'm not certain its a Q1 2019 priority.  lets get aligned on that before we start thinking about operationalizing it!

[2018-12-28 21:32] kziemianek commented on #3196
@owocki so what are we doing with #3249 now ?? i see there are many doubts...
I can redesign it, here is sneak peak: https://github.com/kziemianek/web/commit/37799d49ad2ecd254dc673bb00c704687c8711c7#diff-738401a334a2e5d9d7cbf5cb688976c0

[2018-12-28 21:33] owocki opened #3343 "put up sustain summit videos somewhere on our site"
https://discourse.sustainoss.org/t/sustain-summit-2018-videos/79

we made these as a collaboration with the sustain summit.  it'd be good to find them a home somewhere on the gitcoin site, as being involved in the global sustain summit community is a big value add for the gitcoin community

[2018-12-28 21:54] owocki commented on #3196
@kziemianek i like the direction you're going with #3249 and would like to earn value towards the long term architecture in the short term if possible..

perhaps its worth the four of us syncing up next week on a call to hammer out a direction.

[2018-12-28 22:32] kuhnchris commented on #3342
well, there has been a previous ticket that the s3 costs were exploding, so it would be a rather short term cost saving solution?

[2018-12-28 22:44] owocki commented on #3157
@vikaskyadav meantime i can increase your limit on the # of bounties in flight if you want

[2018-12-28 22:48] owocki commented on #2779
I like this idea from a UX standpoint; donno if ppl would be willing to pay for it tho

[2018-12-29 02:02] JeremiGendron commented on #3281
I might be able to fix this, I have the repo clone and ready to work on. I'm by no means an experienced python developer though. Might give it a shot, since this is in the backlog.

[2018-12-29 02:05] JeremiGendron commented on #3342
Is there some reference with the basic outline of the current infrastructure? Would like to think about this.

[2018-12-29 03:00] NukeManDan opened #3344 "login ToU popup tense"
**Describe the bug**
Just wording: changes *are in effect* now for the new ToU

**To Reproduce**
fresh login

**Expected behavior**
correct tense

**Screenshots**
![screenshot at 2018-12-28 19-54-16](https://user-images.githubusercontent.com/35669742/50532751-25372f80-0adb-11e9-9d56-89e9605b2cfd.png)

[2018-12-29 10:33] thelostone-mc commented on #3305
It just points at `https://gitcoin.co/` 😓

[2018-12-29 10:36] thelostone-mc commented on #3286
This does look cleaner 🙌
Have we wired up the activity on profile already ? @captnseagraves / @owocki

[2018-12-29 10:40] thelostone-mc commented on #3075
@owocki / @SaptakS  how do we handle this for current bounties ?

[2018-12-29 10:41] thelostone-mc commented on #3102
@captnseagraves This is taken care of right ?

[2018-12-29 10:47] kziemianek opened #3346 "Incorrect api endpoints"
**Describe the bug**
According to https://docs.gitcoin.co/mk_rest_api/ bounties are exposed under https://gitcoin.co/api/v0.1/bounties but getting this url results in 301 to `/api/v0.1/bounties/`, same for single bounty endpoint.

**To Reproduce**
`curl -v https://gitcoin.co/api/v0.1/bounties`

**Expected behavior**
listed endpoints should response with http 200

[2018-12-29 10:58] kziemianek opened #3348 "Bounty API 500 response"
**Describe the bug**
Week or two ago there was no problem with accessing single bounty through endpoint `https://gitcoin.co/api/v0.1/bounties/<bounty_pk>/`, today I noticed that api returns http code 500 for every request.

`{"active": "error", "code": 500, "title": "Error 500"}`

**To Reproduce**
curl -v https://gitcoin.co/api/v0.1/bounties/9/

**Expected behavior**
response 200 with bounty json

[2018-12-29 11:19] thelostone-mc commented on #3246
Coooolio! will code it up

[2018-12-29 15:19] JeremiGendron commented on #3348
I will check the logs

[2018-12-29 15:38] owocki commented on #3286
No it’s not wired up yet

On Sat, Dec 29, 2018 at 3:36 AM Aditya Anand M C <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<

[2018-12-29 15:39] owocki commented on #3075
There is a sync listener management command that listens for new standard
bounties . Not sure it apples for grants though, as each grant is its own
contract address, as opposed to standard bounties which is just one
contract

On Sat, Dec 29, 2018 at 3:40 AM Aditya Anand M C <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

ch

[2018-12-29 20:17] abitrolly opened #3350 "Need a way to find bounties for specific repository"
Some @cybercongress repos try to refer to open bounties for their repositories -  https://github.com/cybercongress/cyb/blob/master/README.md#gitcoin-tasks - but that's impossible without backed support which was not implemented in (closed) #232.

**Expected behavior**
The proposal is to extend `Organization name` in search form to accept `org/repo` hash or full repo or org URL.

**Screenshots**
![

[2018-12-29 21:32] kuhnchris commented on #3305
that... seems wrong, at best. and how does it look for someone who's "working"? is it something special, just a URL or the same? (e.a. compare broken to un-broken)

[2018-12-29 21:34] kuhnchris commented on #3342
I assume the following ones are connected:
#2877
#329
So some really old ones there...

[2018-12-29 22:38] kuhnchris commented on #3350
Hmm, you could also go via your profile/org profile. It shows all bounties there.
But, yes, I agree, there should be a way to filter for repositories.

[2018-12-29 22:40] kuhnchris commented on #3348
Guess that's an issue with the router string, I'll check for you in a bit.

[2018-12-29 22:41] kuhnchris opened #3353 "Incompatible version when installing via pip"
**Describe the bug**
Installing packages via PIP raises warnings/errors about incompatible versions being installed.
cc @mbeacom

**To Reproduce**
pip install -r requirements/base.txt

**Expected behavior**
No warnings/errors

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/50542661-378c9880-0bc3-11e9-8ce0-9ede6ba653e0.png)

[2018-12-30 03:32] abitrolly commented on #3350
@kuhnchris no repo filter and no "open" filter on profile pages https://gitcoin.co/profile/cybercongress

[2018-12-30 04:58] suhailvs opened #3354 "There is bug while run ./manage.py migrate locally."
**Describe the bug**
when i try to run the project locally, when i run `./manage.py migrate` i got error:

    django.db.utils.ProgrammingError: relation "bounty_requests_bountyrequestmeta" does not exist

[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**
Follow the tutorial in `gitcoin/docs/RUNNING_LOCALLY.md`. while i run migrate command ie. `./manage.py migrat

[2018-12-30 18:39] iamchrissmith commented on #2883
@frankchen07 I was wondering if you had a suggestion about how I might manually re-initiate this claim. I'm happy to load things up in remix if that is possible since the gitcoin website seems to think it was already claimed. Thanks!

[2018-12-30 19:06] Anish-Agnihotri opened #3355 "Add Discourse to Gitcoin Toolbox, fix xdai.io typo, move Grants."
**Describe the bug**
The Gitcoin Toolbox doesn't have the community Discourse under the `Community` header. There is also a typo under the `Tools in Alpha` header where the xdai.io is incorrectly spelled.

**To Reproduce**
Visit https://gitcoin.co/tools.

**Expected behavior**
Community discourse should be added, and typo corrected.

**Screenshots**
Lack of community discourse:
![nodiscourse](http

[2018-12-30 19:08] ceresstation opened #3356 "Grant cards show multiple subscriptions from the same account"
**Describe the bug**

Looks like my avatar is still showing up twice in the ethersjs grant card, a similar issue was fixed recently on the grant itself.

https://gyazo.com/bdaac3296314e3288c85fdd4638bd26b

**To Reproduce**

Make two payments to a given grant, even if one is cancelled it should show up on the card.

**Expected behavior**

Any specific funder only shows up once on a given card.

[2018-12-30 19:10] Anish-Agnihotri commented on #3355
Might be a good idea to move Grants from `Tools Coming Soon` to `Tools in Alpha` or `Basics`.

[2018-12-31 01:51] JeremiGendron commented on #267
I'm not able to get select2 to perform a default ajax search for the passed username in `user-search.js`. Currently, the setup is to send requests to `/tip` containing `?username=something` to `send2.html` (with optional param `&amount`. I haven't found a clean way to get the select2 element to natively fetch the `username` value, which would be passed via DOM querying.

[2018-12-31 03:17] owocki commented on #3306
cd3734e877f5e84beb7fe5998d427723f2f7852c

[2018-12-31 03:38] SaptakS opened #3357 "Grants: The gas price is different from what is set in UI"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
Fom what I can see, the gas price is one decimal place lesser (or 10 times) the gas price that is set using the UI that we see in the metamask transaction. I did try and debug it in the gas settings UI, but seems the data going from UI is correct. @captnseagraves can you maybe see if there is something hardcode

[2018-12-31 04:35] #3281 closed

[2018-12-31 05:56] #3315 closed

[2018-12-31 08:13] frankchen07 commented on #2883
hey @iamchrissmith - sorry for the delay.

Just to be clear, the problem is while claiming the tip, it says "dropped" on Etherscan, but Gitcoin seems to have thought it was a legit claim, despite you not receiving anything.

I've surfaced this bug to our triage bug list, and will ping an engineer once we're past the new year.

I thought it was something we could do in the admin overrides, but I'm

[2018-12-31 14:14] iamchrissmith commented on #2883
Hi @frankchen07, no worries!
You are correct:
I claimed the tip, it submitted to the chain and was pending for a period of time, then Etherscan said it was "Dropped".  Now when I visit the etherscan link for that TX it says it could not be found. However, Gitcoin remembers that it was claimed (and does not appear to be checking that that claim was confirmed on-chain).

Let me know if it would help

[2018-12-31 15:49] captnseagraves commented on #3248
@SaptakS Any progress on this? Users are having issues with this.

[2018-12-31 17:17] owocki commented on #2883
@iamchrissmith can you try claiming it now? i  just set it as unclaimed in our DB

[2018-12-31 17:32] owocki commented on #3075
reference convo from slack https://gitcoincore.slack.com/archives/CAXQ7PT60/p1546229942008300

[2018-12-31 19:10] kuhnchris commented on #3355
This has to be changed on the database, read @owocki @mbeacom or @PixelantDesign .
The objects in question is "Tool", the "actors", as the template calls them, are hardcoded.
See app/dashboard/views.py method toolbox:
![image](https://user-images.githubusercontent.com/761911/50566284-17cab100-0d38-11e9-8599-4badad8c5871.png)

[2018-12-31 19:19] kuhnchris commented on #3357
Prices are pulled from the GasProfile database table values. Can you check those on prod, and, if those are weird aswell, check https://ethgasstation.info/json/predictTable.json ?
It'd be easy to implement "*10" if it affects everything, since the method is central in ```gas/utils.py```, just wanting to make sure the source is correct and maybe something special in grants, and not everywhere else.

[2018-12-31 20:12] kuhnchris commented on #3337
Hmm can you forward me the mail please?
Thanks

[2018-12-31 21:20] owocki commented on #3337
Yes what email address

On Mon, Dec 31, 2018 at 1:12 PM KuhnChris <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://ww

[2018-12-31 22:20] kuhnchris commented on #3322
Maybe combine it as a little task. "Hey, I saw you did X on our platform - want to earn a special kudos? Help us improve gitcoin and answer a couple of questions and at the end you'll receive a kudos. Let us know if you got any questions, won't take more than 10 min, promise!"

[2018-12-31 22:33] kuhnchris commented on #3317
Well, not entirely sure about the BTC environment (Bitcoin, Bitcoin Cash, AltCoins, etc.) but as far as I remember there are no real "VMs" with contracts as in our little eth world. hence if we would use intermediate addresses to store the <insert coin name here> then we would be the intermediate trader and would need to charge "double tx fees" to start with. (once for receiving, once for sending,

[2018-12-31 23:35] kuhnchris commented on #3337
Answering my own email: yes there are restrictions.
https://stackoverflow.com/questions/19970348/django-html-e-mail-template-doesnt-load-css-in-the-e-mail

[2019-01-01 00:09] owocki commented on #3337
we use the `premailer` package to turn the CSS into inline CSS.

i dont know why, but gmail has some weird render rules too.

i hate to say it.. but rewriting this email using tables might do the trick...  IIRC thats an easy way to get alignment in email across all major supporting browsers

[2019-01-01 00:13] owocki commented on #3317
oooh this is an idea i hadn't thought of!

[2019-01-01 00:15] kuhnchris commented on #3337
ah, that may explain a bit.
Guess I'll rewrite it to tables then (fear me!).
Will open a PR and put it in here as soon as I got something to show, it's very... errr... stupid to test tho. Maybe we should try it on stage first when we go it ready?

[2019-01-01 14:10] jvluso commented on #680
I'd like to also be able to use the frame provider. https://github.com/floating/frame . Some of the hardcoded references to metamask appear to have been added back in when privacy mode was introduced.

[2019-01-01 16:38] #3277 closed

[2019-01-01 16:43] thelostone-mc commented on #3344
Thanks for the report @NukeManDan ! Would you be up for submitting a PR ?

[2019-01-01 16:48] #3356 closed

[2019-01-01 16:55] thelostone-mc commented on #3327
feel a lil crowded. White space can be a good thing.
Would it make sense to push the cards a lil down ?

<img width="746" alt="screen shot 2019-01-01 at 10 23 09 pm" src="https://user-images.githubusercontent.com/5358146/50574710-e58e8180-0e13-11e9-8eb4-c6f4bdb915f7.png">

[2019-01-01 17:04] thelostone-mc commented on #3312
Has been taken care ^_^

[2019-01-01 17:04] #3312 closed

[2019-01-01 17:08] nanspro commented on #3195
@owocki i have added three girly-styles!!
Do check them out :smile:

[2019-01-01 19:01] kuhnchris commented on #2532
This has been solved somewhere last year.

[2019-01-01 19:01] #2532 closed

[2019-01-01 19:02] kuhnchris commented on #3051
Did this ever get solved?

[2019-01-01 23:21] kuhnchris commented on #3321
well, we have to secure that link, so we need to have the API also provide a "key" that needs to be added. Else someone can just go and grab all TXIDs and get the BulkCoupons from there.

Basically we'd want it to have the Gitcoin-Kudos-Pay route, with an extra flag that generates an link (as mentioned by owocki).
As soon as the TX comes back as successful (sync) and the flag is set in the ipfs js

[2019-01-01 23:41] owocki commented on #3209
hey @frankchen07 i went to figure out if this experiment was successful or not, but turns out i'm blocked by https://github.com/gitcoinco/data-ops/issues/27 -- is that an easy update to the dashboard?

[2019-01-02 00:36] owocki commented on #3195
@nanspro awesome :) keep up the good work; just hit me up whenever u want me to settle up.

best,
kevin

[2019-01-02 00:39] owocki commented on #3327
i agree with @thelostone-mc -- it does seem a little bit crowded.

also i realize now that the user > contribute > maintain funnel doesnt make a lot of sense the way it is now.  we need a way to show the funnel 'before gitcoin' and 'after gitcoin'.  otherwise its just a funnel without context

would it make sense to have a testimonial module under 'what people are saying'? maybe even the video? ht

[2019-01-02 01:02] owocki commented on #3305
seems fixed at https://gitcoin.co/_administration/email/new_supporter now

[2019-01-02 03:31] owocki commented on #3197
@willsputra i have a meeting with john paller on thursday/friday.  any chance we can have a skinned mock by then? ( i dont know what your other priorities are.. but feel free to say no if there are more pressing things, we can always kick to next week)

[2019-01-02 03:33] owocki opened #3367 "investigate continuous organizations"
https://hackernoon.com/introducing-continuous-organizations-22ad9d1f63b7

[2019-01-02 05:53] #3346 closed

[2019-01-02 12:27] octavioamu opened #3368 "Bounty deliver date"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a funder I want to know what date the hunter applicant plans to deliver the work done

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

With a calendar input to sel

[2019-01-02 13:07] mbeacom opened #3369 "ValueError: max() arg is an empty sequence"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2744/

[code]

[2019-01-02 13:12] owocki commented on #3222
@davmey i see you submitted your work but i dont see a link to your work.  where can i see it?

[2019-01-02 13:41] mbeacom commented on #623
@usmanmuhd Yeah - I'm fairly positive any issue with funding that has either: been picked up and dropped **or** never pursued should be remarketed to the community if the original funder hasn't canceled the bounty.  We should consider investing the time to improve marketing and promoting abandoned bounties at scale 🤔I don't see manually tracking all of these making much sense as the platform scale

[2019-01-02 13:51] willsputra commented on #3197
@owocki planning to finish it today!

[2019-01-02 14:05] usmanmuhd commented on #623
@mbeacom Can we not integrate it into the gitcoin bot?

[2019-01-02 14:52] mbeacom commented on #3215
The migrations have been reset, yes.  This issue can be closed.

@kuhnchris I did not use that, however, it *can* be used.
I think it'd be ideal for us to keep a pulse on the number of migrations and raise squashing PRs every so often to keep the migrations ideally below `n` across all apps. 🤔

[2019-01-02 14:52] #3215 closed

[2019-01-02 14:55] davmey commented on #3222
@owocki That's weird, I definitely added it in the submit -> https://github.com/davmey/gitcoin

Had a few more ideas of a fun pieces to do, but thought I would verify these two first.

[2019-01-02 15:38] kuhnchris commented on #3215
No problem, sure, may I still ask tho: how did you manage the migration on live after the squash?
I had to throw away our local db to be "on par" with the migrations again, is there a way to migrate?
Especially if we intend to do the "radical" way later on continuesly (instead of the official squashing).

Thanks

[2019-01-02 15:49] owocki commented on #3222
maybe make him more bot-like and/or make him have two eyes instead of one?

[2019-01-02 16:11] owocki commented on #3304
can we please wait to build the tech debt board and align on resourcing before assigning / working on these items?  i appreciate that this is one of the first tickets on the board, but that doesnt confer that ist a priority

[2019-01-02 16:21] owocki opened #3370 "As a user, I want Gitcoin migrated over to new the new Infura Dashboard, so that Gitcoin continues to work after they deprecate public access"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want Gitcoin migrated over to new the new Infura Dashboard, so that Gitcoin continues to work after they deprecate public access

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-01-02 16:35] kuhnchris commented on #3370
Webscrap:
curl 'https://infura.io/api/project/<projectid>/contract' -H 'content-type: application/json' -H 'accept: */*' -H 'cache-control: no-cache' -H 'authority: infura.io' -H 'referer: https://infura.io/dashboard' --data-binary '{"contract":"<42-char contract>"}' --compressed

Make sure to first login and use -b cookie.jar -c cookie.jar on both curl calls (login and the one to add the contract

[2019-01-02 16:41] willsputra commented on #3197
Not logged in:
![not logged in copy](https://user-images.githubusercontent.com/19514207/50601723-ff9d9200-0eef-11e9-9d7c-5671aab6e8ec.jpg)

Logged in:
![logged in](https://user-images.githubusercontent.com/19514207/50601804-3673a800-0ef0-11e9-8c2d-614bc3bcfbbc.jpg)

Completed:
![completed](https://user-images.githubusercontent.com/19514207/50601806-396e9880-0ef0-11e9-95fa-7c21d9099c69.jpg)

@owock

[2019-01-02 17:15] thelostone-mc opened #3371 "purge: retire outdated newsletter"
#### Description

Back in the day we had an older newsletter template which was partially replaced by a new-er one.
Up until now -> we've had two versions.
Now that we've migrated -> it's time to purge the old one.

[2019-01-02 17:45] owocki opened #3372 "As a founder, I want to execute Marc Beharrys' SEO roadmap, so I can lower CAC"

[2019-01-02 17:45] owocki commented on #3372
TODO: get the roadmap from marc

[2019-01-02 17:48] owocki commented on #960
i think that codefund is working on this.. so it might subsume gitcoins work here

[2019-01-02 17:48] owocki opened #3373 "As a founder, I want to increase virality of the dapp, so I can reduce CPA."
need to schedule brainstorm:

notes from a16z podcast.

where can we hook this in the real world? example: opentable grew organically because restaruarsnts markete for them
where can we incentivize people to share grants/bounties with their friends?

[2019-01-02 17:50] owocki opened #3374 "as a user, i want to be able to purchase premium avatars, so i can instantly be a superhero"
blocked by https://github.com/gitcoinco/web/issues/3196 , but when thats done, we can very easily start charging for premium avatars

[2019-01-02 17:50] owocki opened #3375 "As a founder, I want to a/b test the positioning and messaging of Gitcoin's brand promise, so I can reduce CPA"

[2019-01-02 17:51] owocki commented on #3375
test different landing page messages.. if and when we restart PPC campaigns

[2019-01-02 17:51] mbeacom commented on #3370
Just verified, this works:

[code]

I'm going to wrap this into a client.

[2019-01-02 17:51] owocki opened #3376 "experiment with increasing the prices of kudos across the board by 5x, to see if demand is elastic"

[2019-01-02 17:52] owocki commented on #3376
this is in progress now at https://github.com/gitcoinco/web/issues/3209

[2019-01-02 17:52] mbeacom commented on #3370
Just verified, this works:

[code]

I'm going to wrap this into a client.

[2019-01-02 17:53] owocki commented on #3373
related https://github.com/gitcoinco/web/issues/2796

[2019-01-02 17:55] kuhnchris commented on #3370
Nice! Thanks for being so quick on this! Maybe @owocki you can talk to them (or show them this) as a "intermediate solution" while they work on their proper solution?
(Only asking because usually using frontend API could be a violation of their ToS)

[2019-01-02 17:57] owocki opened #3377 "placeholder ticket -- how do we make sure that individual gitcoin grants are successful?"
this is a ticket for reserving engineering/product attention on the question "how do we make sure that individual gitcoin grants are successful?".  by enabling grants to be succeessfuly, we enable grant posters to be successful, we improve our positioning in the ecosystem

[2019-01-02 18:10] davmey commented on #3222
Check it out - https://github.com/davmey/gitcoin/blob/master/pika.jpg

[2019-01-02 18:10] kuhnchris commented on #3377
Hmm, just thinking loud:
- Give the supporters a special kudos for "First grant funded", "Participated in a succeesful grant" or "I GRANTed"-sticker when the grant finishes.
- Maybe a personalized mail with a personalized "thank you" message for the grant participants
- Incencitives, like posting it via gitcoinbot, maybe add a little "ad" footer on the gitcoin github messages where we select rando

[2019-01-02 18:11] kuhnchris commented on #3196
@owocki did you ever sync up?

[2019-01-02 18:11] kuhnchris commented on #3374
"premium avatars" as in premium items, or as in preconfigured avatars?

[2019-01-02 18:30] captnseagraves opened #3378 "Clean up Grants1337 and subscription contracts"
Clean up Grants1337 and subscription contracts to make sure versions in different repos are consistent and all external references point to a single source of truth.

[2019-01-02 18:37] owocki commented on #3197
i love it.. asking john for feedback now

[2019-01-02 19:52] owocki commented on #3286
@willsputra can u share the skitch / design file for this

[2019-01-02 19:59] owocki commented on #3075
another thing we need to do is save all the info about a grant before the tx clears

[2019-01-02 20:11] thelostone-mc commented on #3304
@owocki Oh shoot ! I sort of may have coded it up 😅

[2019-01-02 20:20] owocki commented on #3304
no worries.  i would like to get aligned tomo tho.

[2019-01-02 20:46] scco commented on #3222
pika looks cool davmey ^^

[2019-01-02 21:03] frankchen07 commented on #3224
Updating our conversations in Slack here so we can easily track it. I made some updates on the LTV dashboard: https://metabase.gitcoin.co/dashboard/12

1. I've simplified the LTV definition to:

[code]

Value per user per month was calculated using a sum of bounty value and MAUs. Retention rate is rolling, calculated by month.

In my definition of LTV, `gross margin` is the potential 10% cut of re

[2019-01-02 21:12] frankchen07 commented on #2898
@jdorfman - any luck in figuring out the docker issue?

[2019-01-02 21:22] ceresstation opened #3380 "Implement CLR for Gitcoin Grants"
### User Story

As a donor, I'd like to use ['Capital Constrained Liberal Radicalism'](https://poseidon01.ssrn.com/delivery.php?ID=769100067111075029007089027005092101005063061035027036094120112100091090095069000078024006023047020040034098070099104086002101008086008054041105127070086117000078030068062031022106006089002110015004020070112091022028099024000070104007022070090096106112&EXT=pdf) (CLR) t

[2019-01-02 21:36] owocki commented on #3380
@ceresstation @PixelantDesign i'd love to see a mock of how this could/should be displayed on the grant page.  if we have a design, we could probably 'fake it' on the backend, so to speak, for the first week or two

@vs77bb when do we want to promo this feature?

[2019-01-02 21:56] owocki commented on #3222
i like it!

heres the response we got from our slack => http://bits.owocki.com/c506d2b519cc/Screen%20Shot%202019-01-02%20at%202.55.40%20PM.png

i agree with octavio.. @octavioamu maybe u can share your ai file

[2019-01-02 21:57] owocki opened #3381 "as a user, i want a 1099 from gitcoin, if i am in the US, so i can pay my taxes"
as a user, i want a 1099 from gitcoin, if i am in the US, so i can pay my taxes

[2019-01-02 21:59] owocki commented on #3196
no not yet.. @kziemianek wanna book some time with me here? calendly.com/owocki  @kuhnchris @mbeacom i can add you in if interested after we get scheduled

[2019-01-02 21:59] owocki commented on #3374
the latter; "dont make me think"

[2019-01-02 22:05] owocki commented on #3224
mind sharing each of these values in your formula?  how many MAUs are you counting?

it'd be nice on this dashboard ( https://metabase.gitcoin.co/dashboard/12 ) to be able to see at least the MAU size

[2019-01-02 22:14] kuhnchris commented on #3370
Mmmh i'd be willing to take this up (i love api stuff), but just a couple of quick questions: We should probabbly try this with the rinkeby API keys, correct? You also said to replace "frontend API calls to the infura interface" - since we are now using a authed version I do not think we want to transmit the credentials, or do you mean our wrapped API calls?

Thanks!

[2019-01-02 22:37] Nnooo commented on #3222
Sorry I haven’t done any work on this yet. Just moved back to Sydney and have been running around sorting out apartments and spending time with friends and family over the holidays.

How do I know if/when there is no more work required?

[2019-01-02 22:37] owocki opened #3382 "EPIC Looking for a Job on Gitcoin"
Related to #3114

### User Story 1
[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to upload my resume in the onboard flow, so that Gitcoin can match me with work that matches my profile

### Why Is this Needed
[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what

[2019-01-02 22:45] owocki commented on #3222
@Nnooo theres still work available.. do you have aportfolio online somewhere?

[2019-01-02 23:01] owocki commented on #3370
probably the wrapped API calls :) thanks for the great question !

[2019-01-02 23:10] davmey commented on #3222
@owocki all of the ai files are in the repo I shared. Can you access them?

[2019-01-03 00:05] Nnooo commented on #3222
@owocki yep check out https://nicwatt.nnooo.com for my portfolio and https://www.nnooo.com

[2019-01-03 00:40] owocki commented on #3222
@Nnooo awesome; just approved u to work on the task

[2019-01-03 01:57] owocki commented on #3286
All u

On Wed, Jan 2, 2019 at 6:56 PM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook.co

[2019-01-03 02:02] suhailvs commented on #3286
@owocki on gitcoin it show work started. i didn't get you. can i start working on this issue?

[2019-01-03 02:50] NukeManDan commented on #3344
searching through the repo:
`~/web/app/dashboard/templates/legal/privacy.html` has `May 23rd` time stamp.
`app/locale/de/LC_MESSAGES/django.po` and `app/locale/es/LC_MESSAGES/django.po` as the 24th

I don't know anything but english :sweat_smile:  - thus a native speaker will need to update:
`app/locale/<region>/LC_MESSAGES/djangojs.po`

[2019-01-03 02:56] suhailvs commented on #3286
@willsputra while adding the tab on [grand detail page](https://gitcoin.co/grants/20/burner-wallet) the click function on tabs doesn't seems working. are you using bootstrap tabs?

[2019-01-03 03:04] suhailvs commented on #3286
adding these lines solves the problem:

[code]

[2019-01-03 03:53] suhailvs commented on #3286
I finished creating the tabs([see commit](https://github.com/suhailvs/web/commit/b651ad411a0)). need to work on contributions tab.
where I can found the design of **contributions table view**?
Little busy now, i hopes to resume work after 11:30am gmt.

[2019-01-03 04:03] owocki commented on #3286
the tabs are here => https://github.com/gitcoinco/web/issues/3286#issuecomment-450395174

can you sumbit a WIP PR @suhailvs ?

[2019-01-03 05:10] SaptakS opened #3386 "component: unify modal experience"
Description
Unify the behaviour and document the component usage for a modal throughout different products and pages in gitcoin.

[2019-01-03 05:13] SaptakS opened #3387 "component: refactor buttons"
Description
Unify the behaviour and document the component usage for different buttons with proper colors and styles throughout.

- [ ] Define different colors that are there for different buttons
- [ ] Unify the buttons which are close to each other
- [ ] Document different buttons with their proper classes
- [ ] Refactor actions of different buttons.

[2019-01-03 05:14] SaptakS commented on #3387
WIP: #2349

[2019-01-03 06:22] djosey opened #3388 "bug - create recurring payment currency drop-down"
##### 12 Jan 2k19

@djosey I'm gonna reopen cause you have a valid point here

This is needed on the fund & cancel page.

I personally haven't funded a grant it over trust wallet. I'll double check on this

------

##### 2 Jan 2k19

Attempted to create subscription payment on prysmatic labs subscription object in mobile. Input monthly payment period, amount per period, number of recurring payments

[2019-01-03 14:12] mehul0698 commented on #3195
@owocki I have submitted my work on gitcoin. I made 3 hairstyles 2 accessories and 1 piece of clothing.

[2019-01-03 14:16] owocki opened #3389 "in grants flow, it should be clear how to get WETH with ETH"
per user feedback at https://docs.google.com/document/d/1acaxboTHVqo4rM7BJ5e2laZpxe45qJs3oCNnp9tAlEo/edit#

in grants flow, it should be clear how to get WETH with ETH

[2019-01-03 15:03] owocki opened #3390 "get everyone onboarded to 1Password"

[2019-01-03 15:09] troggy opened #3391 "Work submitted, but issue is still in "Work started" state"
**Describe the bug**
Worker submitted the work, but it's not reflected on Gitcoin page in full (see screenshot). Also "Basic payout" is not available like there is no submission.

https://gitcoin.co/issue/leapdao/solEVM-enforcer/29/1918

![image](https://user-images.githubusercontent.com/163447/50644678-93b83980-0f82-11e9-8492-b8c4b21959f4.png)

[2019-01-03 15:11] PixelantDesign commented on #3197
Love this! Looking great!

[2019-01-03 15:12] PixelantDesign commented on #3197
Are we able to say Nifty Kudos? Will there be confusion with Nifty?

[2019-01-03 18:20] owocki commented on #3391
looks to me like your advanced payout of peara didnt go through, thats why the issue is marked as canceled.  ( i dont see it on your ETH address => https://etherscan.io/address/0x6cb117a635dc7633b42089c607fdfc5c60b7d679#tokentxns )

this is because advanced payout first cancels the bounty to get the funds back, then sends tips to each recipient you specify.  in this case, since the tip didnt go th

[2019-01-03 18:20] owocki commented on #3391
also the work submitted shows up here => http://bits.owocki.com/cdec34c2093d/Screen%20Shot%202019-01-03%20at%2011.20.26%20AM.png

[2019-01-03 18:22] owocki opened #3393 "as a user, i want teh system to know my user type when i onboard, so it can customize my experience"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want teh system to know my user type when i onboard, so it can customize my experience
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Because we should kn

[2019-01-03 18:25] mbeacom opened #3394 "Grants - Error: This contract object doesn't have address set yet, please set an address first."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2784/

[code]

[2019-01-03 18:26] mbeacom opened #3395 "Grants - TypeError: web3 is undefined"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2443/

[code]

https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2735/

[code]

[2019-01-03 18:27] owocki opened #3396 "bug - tooltip not showing on basic payout"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
bug - tooltip not showing on basic payout

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
go to https://gitcoin.co/issue/accept?pk=7882&network=mainnet or any basic payout
hover over the tooltip ( http://bits.owocki.com/3541b5ba8bde/Screen%20Shot%202019-01-03%20at%2011.26.43%20AM.png )
it wont

[2019-01-03 18:27] mbeacom opened #3397 "Grants - SyntaxError: Unexpected token *"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/222/

[code]

[2019-01-03 18:28] mbeacom opened #3398 "Grants - TypeError: currentNetwork is not a function"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2767/

[code]

[2019-01-03 18:39] kuhnchris commented on #3197
"Neat"? "Special"? "Bufficorn-Approved"?

[2019-01-03 18:43] owocki opened #3399 "as a grant user, i want rewards for funding a grant, because quid pro quo"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grant user, i want rewards for funding a grant, because quid pro quo

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
user are asking for it ( https://twitter.com/

[2019-01-03 18:47] owocki opened #3400 "as a grants creator, i want my grants updates to go out to users inboxes, so my updates have the widest possible reach"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants creator, i want my grants updates to go out to users inboxes, so my updates have the widest possible reach

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2019-01-03 18:57] thelostone-mc opened #3401 "remove mixpanel; it is not used any longer."
#### Description

- remove mixpanel intergation

cc @owocki made it into an issue to keep tracking easier

[2019-01-03 21:07] owocki commented on #3372
From Marc
[code]

[2019-01-03 22:43] pinkiebell commented on #2193
@frankchen07 This issue got resolved upstream 👍

[2019-01-03 23:57] JeremiGendron opened #3402 "Bug: gravatar glasses are black on issue page"
**Describe the bug**
On my profile page, the glasses are nice, glossy and transparent. On any issue page, the glasses are black, void, empty.

**To Reproduce**
See me on my profile page
https://gitcoin.co/profile/jeremigendron

See me in the list of All Activity
https://gitcoin.co/issue/ethereum/remix-ide/1198/2071

**Expected behavior**
Glasses don't spazz out

**Screenshots**
Me...
![image](http

[2019-01-04 04:19] owocki commented on #3197
From the ethdenver folks:

Any special requirements on the redemption side? We were planning on having a link that each sponsor can use to give away their specific kudos.  Or maybe a spreadsheet of links, each of them one-time-use - so that way people can’t save the link address and pass it to their friends.

Then if they get all sponsor kudos they’ll get a modal overlay and/or an email telling th

[2019-01-04 04:19] owocki commented on #3197
will make a code ticket after i finalize with them.. this is def on the right track

[2019-01-04 05:18] PixelantDesign commented on #3289
Here is an updated price sheet design. The content of it might be a good candidate for workshopping.

![pricing_am](https://user-images.githubusercontent.com/238235/50674652-481f8300-0fb6-11e9-865f-32bbedb87c3e.png)

[2019-01-04 05:48] PixelantDesign commented on #3327
Updated design at the top @owocki @vs77bb @frankchen07

I addressed most of the feedback, but think it's too much to show all of the products on the home page. there are number of sections where a user can click to go to the product section that has been built.

[2019-01-04 05:53] davmey commented on #3222
So, when I get tipped?

[2019-01-04 06:00] PixelantDesign commented on #3327
Great questions/concerns.....

One thing to note is that this isn't meant to replace the mission page, but give a high level overview.

Crowding - I gave it some more space....maybe removing a tree or two might make it look less busy.

Big green funnel - I was thinking that as the user scrolls, we could do a parallax animation where the funnel scrolls down but displays the 10x info above the blue

[2019-01-04 08:45] thelostone-mc opened #3403 "purge: get_gitcoin"
#### Description

- purge the get_gitcoin modal (JS + PY + CSS )

[2019-01-04 11:35] troggy commented on #3391
what did I make wrong then? After the bounty got cancelled I  received funds back to my address. I used them then to fund the same issue again.

I was surprised that gitcoin allows to cancel the bounty once the work is submitted. What's the point in using the platform to hold the funds, would be much easier to just pay people directly and use the platform only for bounty discovery?

it started to

[2019-01-04 12:16] kuhnchris commented on #3395
Wait, why are there javascript errors reported at sentry? Isn't that a frontend issue on the user side (for example no meta mask installed)?

[2019-01-04 12:43] kuhnchris commented on #3390
https://github.com/1Password/1password-teams-open-source *hint hint*

[2019-01-04 12:45] kuhnchris commented on #3381
Soooooooo, which one?
https://en.wikipedia.org/wiki/Form_1099

[2019-01-04 13:57] willsputra commented on #3197
@PixelantDesign @kuhnchris Good point. I like "Bufficorn-Approved". I think it'd be great if we could also highlight that they're NFTs too. Would "Bufficorn-approved, non-fungible Kudos" be too long? 😂

@owocki What will the users see when they go to the unique links? Something like our current Redeem Kudos page?

<img width="599" alt="screenshot 2019-01-04 21 56 29" src="https://user-images.githu

[2019-01-04 14:05] thelostone-mc opened #3405 "purge: ios code (dead) + images"
### Description

- remove unused ios code + images
- remove route

[2019-01-04 14:10] mbeacom opened #3406 "Grants - ReferenceError: Can't find variable: getURLParams"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2802/

[code]

[2019-01-04 14:11] mbeacom opened #3407 "Grants - SecurityError: The operation is insecure."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2804/

[code]

[2019-01-04 14:11] mbeacom opened #3408 "Tooltips - TypeError: Cannot read property 'value' of undefined"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/418/

[code]

[2019-01-04 14:12] mbeacom opened #3409 "Grants - Error: connection not open"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/2421/

[code]

[2019-01-04 14:12] mbeacom opened #3410 "Grants - SyntaxError: Invalid character: '`'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/166/

[code]

[2019-01-04 14:15] mbeacom opened #3411 "IntegrityError: duplicate key value violates unique constraint "dashboard_profile_user_id_key""
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/2782/

[code]

[2019-01-04 14:22] owocki commented on #3197
is thats the plan.

maybe we just keep it the same page that as is now, but add an ethdenver logo next to the gitcoin logo in the top left

[2019-01-04 14:32] owocki commented on #3197
Gameplay: I'm keeping it simple.

STEP 1: Player visits 12 sponsors and 7 ecosystem locations.

Ecosystem KUDOS
Maker Space
Art Gallery
Food Trucks
Shill Colorado (No Draft Completed)
Relaxation Room (No Draft Completed)
DJ Chill Room
BUIDL a Friend
Sponsor KUDOS:
ConsenSys
Opolis
Shapeshift
KeepKey (No Draft Completed)
Clearmatics
Skale Labs
Maker
Status
NCC
POA
The Graph
OPEN (will sell before J

[2019-01-04 14:44] kuhnchris commented on #3197
Well, can we assume everyone has a cellphone? and if so, can we assume that those people have a gitcoin/eth addr on hand? even if uPort can't hold the kudos, if they are a eth addr they can receive the kudos, they just need a extra page (which we can provide) to check that address's kudos. (it's actually a widget I planned to implement, maybe we can use it directly there)

For the simulation I thi

[2019-01-04 15:48] #3304 closed

[2019-01-04 15:48] #3344 closed

[2019-01-04 15:48] #3371 closed

[2019-01-04 15:48] #3403 closed

[2019-01-04 15:48] #3405 closed

[2019-01-04 16:13] owocki commented on #3197
Thanks for the feedback Chris! Yes we can assume 95% will have a smartphone.  We've found that 60% will have an ETH address on hand (its an Ethereum focused event)

Agree with your order of operations

[2019-01-04 17:04] kuhnchris commented on #3197
You want to schedule a pre-test internally so you guys can test it out?
In my earlier job as demand manager I usually suggested 2 test phases before the live phase, to say a "dev pre test" where we play the entire process ourselves and a "customer test" where we have the customer test with us shadowing them, before we set everything live.
But that depends on your strategy of work and how much time

[2019-01-04 17:13] frankchen07 opened #3412 "As a user setting up a Gitcoin Grant, I couldn't find a wrapped Ether (WETH) option out of the many supported tokens, so I ended up going for DAI"
### User Story

As a user setting up a Gitcoin Grant, I couldn't find a wrapped Ether (WETH) option out of the many supported tokens, so I ended up going for DAI.

### Why Is this Needed

DAI is a stable-coin aiming to track the US dollar, which is great, but the user didn't have any. He had to look up an exchange to find a cost-effective way to exchange Ether for DAI.

### Description

The reason

[2019-01-04 17:18] frankchen07 opened #3414 "As a user setting up a Gitcoin Grant, the lag time between hitting "contribute to grant" and the first payment is confusing."
### User Story

As a user setting up a Gitcoin Grant, the lag time between hitting "contribute to grant" and the first payment is confusing.

### Why Is this Needed

As a user, seeing the effect of contributing to a grant makes sense when they've received confirmation in two ways - the money is taken, and the progress bar shows progress.

### Description

The instructions say that, "The first paym

[2019-01-04 17:33] frankchen07 opened #3415 "As a user setting up a Gitcoin Grant, I'm stuck in no man's land - on the second try my grant went through, but I have no subscribers and no contributions in the Grants UI, and I can't cancel to redo the subscription."
### User Story

As a user setting up a Gitcoin Grant, I'm stuck in no man's land - on the second try my grant went through, but I have no subscribers and no contributions in the Grants UI, and I can't cancel to redo the subscription.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and

[2019-01-04 17:52] kuhnchris commented on #3412
could we simply "pin" a couple of options that are popular? maybe customizable via _admin so it can be changed later

[2019-01-04 17:53] PixelantDesign opened #3417 "As a user I'd like to understand what I can do to increase my chances of getting a Grant."
### User Story
As a user I'd like to understand what I can do to increase my chances of getting a Grant.

The confusion comes from the understanding of how a typical grant work vs how our grants program works.

This is the information we have now: https://gitcoin.co/grants/quickstart

Definition of Done:
Add more info to this page mentioning that anyone can fund your grant.
Add ideas around having

[2019-01-04 17:55] jdorfman commented on #2898
I'm stopping this. I'm not getting anywhere with the dev env and holding up the task. If I owe any eth please LMK.

[2019-01-04 18:15] PixelantDesign commented on #3013
Great work!

[2019-01-04 18:37] Anish-Agnihotri commented on #3400
This is a good idea to make sure outreach is maximized. I believe there already is an update notification email, correct?

https://github.com/gitcoinco/web/blob/master/app/retail/templates/emails/grants/update_notification.html

[2019-01-04 18:37] owocki commented on #3289
some thoughts:

1. id love to see plan names that denote what will cause the user to be excited about. eg 'devflow' and 'devflow plus'; since people engage with us because they want canddiate flow.
2. i'd love to see a view where a plan is 'selected' and that is visually shown.  and the user can unsubscribe on this page.
3. i think we need a background color on one or more of the 3 columns.
4. i'd

[2019-01-04 18:49] captnseagraves opened #3419 "Grants - decimal_places in Subscription Model need to be raised"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Grants User I want to be able to submit a Subscription amount to 18 decimals since the ecosystem uses this as its standard, so that I can always submit values that are processed by the subminer.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the cu

[2019-01-04 18:50] captnseagraves commented on #3415
Just created this issue https://github.com/gitcoinco/web/issues/3419 which I believe will address the root of the users problem in this case.

[2019-01-04 18:55] Anish-Agnihotri commented on #3389
Would it be a good idea to have a tool-tip popup above the token selection drop-down that says something like `Why cant I use Ether?` and then on hover it reveals something like:

`Ether doesn't comply with ERC-20 standards, which means in order to keep your funds secure, you can't use it to fund a grant. You can though, use WETH (or Wrapped Ether):` Followed by maybe a short blurb on how to get W

[2019-01-04 20:32] owocki opened #3420 "bug - 500 error / session value state missing"
from @futrn on twitter:

[code]
![foo](https://user-images.githubusercontent.com/513929/50709422-fcf08900-1024-11e9-9a1f-bf2a6bd78bda.jpg)

from the context of his message, i'm assuming he's talking about him clicking the link on https://twitter.com/GetGitcoin/status/1081227999855337472

[2019-01-04 20:36] owocki commented on #3411
looks like @RomanSimSalabim is the use this happened for

[2019-01-04 20:49] owocki commented on #3420
more debug info https://twitter.com/marioathiel/status/1081287665893412865

[2019-01-04 21:40] kuhnchris commented on #3013
As I said, it's still not done, but thanks for the tip, we'll finish it up as soon as we have some test data on stage and/or live, depending on where we can use it to work with. ;-)

[2019-01-04 21:42] kuhnchris opened #3421 "Followup #3013 / Weekly Recap Mail - Fine-tuning, settings, bounty types, kudos, etc."
**Describe the bug**
This is an improvement collective issue to add features to the recap mail and/or to extend/finish the work started on it

**How to use**
Post ideas and/or requests in here for the change of the weekly mail, we'll consider it and, if it's bigger, turn it into a separate issue. To work on a request/idea here please get the approval from core-team first to avoid cross-overs. cc @

[2019-01-04 21:45] kuhnchris commented on #3421
Currently we define following activities as important/report-worthy:
[code]
Also, currently only bounties (technically 'activities' to bounties) are counted/reported.
We can extend that later.
@PixelantDesign requested to maybe add received Kudos/sent Kudos, Grants new subscribers etc. to that mail.
This can all be done in `app/retail/emails.py` - look for "`def render_weekly_recap`"

[2019-01-04 21:47] kuhnchris commented on #3420
@owocki did we actually test the whole deployment from a different web3 provider, like "Trust" he's using? Because maybe it's connected to that.
For the 500 error I suggest check on sentry! There should be something. Maybe it's one of the things @mbeacom posted a while ago?

[2019-01-04 21:50] kuhnchris commented on #3419
So you want to subscribe in WEI-range? Wouldn't... that be eaten by the gas costs?
Or do you mean non-ETH tokens, like some random token that works in a reaaaaaaaaly low fractional range?
Anyways, should be rather trival, app/grants/models.py --> go to amount_per_period, raise decimal_places, python app/manage.py makemigrations && python app/manage.py migrate

![image](https://user-images.githubus

[2019-01-04 21:55] lrgeoemtry commented on #3420
hey hey, this is my issue.
yes
Android Oreo 8.1 Trust App Broswer.

i saw someone else post about it on a Toshi wallet same issue.

If you're targeting the metamask web3 the configuration is a little different than trust's provider engine or even coinbase's engine

there should be some sembelence of uniformity but everyone's just been devving in their own direction.

[2019-01-04 22:04] kuhnchris commented on #3420
Well, I did see a couple of problems on mobile anyways so we gotta have to take some turns anyways, makes sense to take a look what people are using for mobile currently.
So you say Toshi wallet and Trust App Browser are having issues currently? I have an android phone around so I can check them out locally, I will report back as soon as I know a bit more, OK? :-)

Thanks for reporting!
Chris

[2019-01-04 22:20] owocki commented on #3420
shoot i dont have an android hardware device to test with ...

[2019-01-04 23:07] Hibero commented on #3377
I'm a nobody in all of this but getting a version of kudos and having tiers with easy and highly visible buttons such as "Join this Tier for $2" would make funding a lot easier and more rewarding. I know it sounds silly but it does help.
 [Example](https://www.patreon.com/Kurzgesagt)

Also, having pooled grants would be much easier. Such as, I want to fund all ETH 2.0 Client Implementations, so ha

[2019-01-05 12:53] kuhnchris commented on #3377
Oooh I love that Kurzgesagt guy, he makes awesome ELI5 videos on Youtube :-)
But yeah, what you mean would actually be "Name your tiers". I'm not entirely sure the current data model supports this, but maybe that's an idea if the demand is high enough. Basically loop over tiers, display buttons which (very basically) pre-fill the subscription amount in the subscribe form.

Regarding pooled grants

[2019-01-05 12:56] kuhnchris commented on #3377
Do you think it makes sense to make a meeting with Austin (either within the community live stream, talking about his experience, or privately so we can discuss improvements)?

[2019-01-05 16:43] kziemianek commented on #3196
@owocki I already did, I hope You received it.

[2019-01-05 18:46] owocki opened #3425 "DAICO"
https://ethresear.ch/t/explanation-of-daicos/465

[2019-01-05 18:47] owocki commented on #3197
@willsputra can you share skitch files?

@kuhnchris i think its a good idea.  first things first, we'll need to get this spliced up tho.. im gonna make a code ticket

[2019-01-05 18:51] owocki opened #3426 "charge for KYC"

[2019-01-05 18:56] owocki opened #3427 "CODE - as a user attending ethdenver, i want to play the 'set completion' game at ETHDenver, so I can engage with sponsors and win a keep key"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user attending ethdenver, i want to play the 'set completion' game at ETHDenver, so I can engage with sponsors and win a keep key

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2019-01-05 18:56] owocki commented on #3197
coding task https://github.com/gitcoinco/web/issues/3427

[2019-01-05 19:16] kuhnchris commented on #3427
uhm?

[2019-01-05 19:18] kuhnchris commented on #3197
@owocki great! I'll jump right on it as soon as I can fizzle it apart.

[2019-01-05 21:14] lucasvo opened #3428 "Gas incorrectly calculated for adding funds via "Contribute" - tx results in out of gas"
When increasing the bounty for https://github.com/centrifuge/precise-proofs-js/issues/7 by clicking on the button "Contribute" I get an out of gas error after submitting my transaction: https://etherscan.io/tx/0x60be6ad8e737fa4ac031817606a9b8cac59bea40c4408c847c5d0ee0f13192e6

[2019-01-05 21:19] lucasvo commented on #3428
Doing so on bounties.network worked well.

[2019-01-05 23:44] pbteja1998 commented on #2261
Is this issue still open?

[2019-01-05 23:46] pbteja1998 commented on #2259
Is this issue still open? If so, I want to work on this issue.
Thanks !

[2019-01-05 23:47] pbteja1998 commented on #2819
Can I work on this issue ?

[2019-01-05 23:49] kuhnchris commented on #2819
No idea, @usmanmuhd is this still open?

[2019-01-05 23:49] kuhnchris commented on #2259
@owocki  @PixelantDesign  @mbeacom  any infos?

[2019-01-06 04:36] usmanmuhd commented on #2819
Yeah sure, @pbteja1998 please take this up. I actually needed this for #2404 .

[2019-01-06 05:50] willsputra commented on #3197
@owocki @kuhnchris Sketch file:
https://drive.google.com/open?id=1zwPL6rX5O263q7haS9R41boFKHTDuKj9

[2019-01-06 06:05] willsputra commented on #2964
Small improvements that can be made to the existing Advanced Payout screen:
1. Display the crowdfunded amount under the bounty amount
2. For each user's payout, we could display clearly how much they're getting from bounty funds and how much from crowdfunded funds.
![advanced payout](https://user-images.githubusercontent.com/19514207/50732744-c305bb00-11bb-11e9-85f2-fb9bddcad74b.jpg)

One more que

[2019-01-06 06:09] willsputra commented on #3316
@owocki is this for My Grants (https://gitcoin.co/grants/profile), or should we put it in the main Gitcoin http://gitcoin.co/profile)?

[2019-01-06 06:45] thelostone-mc commented on #3316
@willsputra should we evaluate making all the products as diff tabs on the profile page ?

I feel the profile is get overloaded.
We could show over all updates of a user across our products .. and to get more details they could scroll down and click on the tabs

Would that make sense?

[2019-01-06 10:52] kuhnchris commented on #3197
ha! i found https://www.photopea.com/ which lets us open these sketchy (pun intended) sketch files without any problems, and export and layers I need, wheee! Starting on it right now! Thanks @willsputra !

[2019-01-06 11:40] pbteja1998 commented on #2819
I am trying to setup this repo locally. Everthing is fine except that I was unable to create funded issue. I am using Rinkeby test network. It has 18+ ether in it.
When I am trying to set the gas, it is showing `unknown min confirmation`.
Even if we ignore that time, when I clicked on fund issue, it is loading forever.
Can someone tell me what am I missing here? ( @usmanmuhd )

![screenshot from 2

[2019-01-06 12:19] kuhnchris commented on #2819
please check the gas price DIRECTLY in metamask, for some reason my gas was reset to 1 GWEI, which was way too low. The unknown confirmation time is due to the missing gas cronjob that's running to determine the time (normal).
Can you check the logs (docker-compose logs --tail=100 web) ?

Thanks!

[2019-01-06 12:50] pbteja1998 commented on #2819
How to start that cronjob?

[2019-01-06 12:52] usmanmuhd commented on #2819
I don't think you need to start the cronjob. You can just increase the gas from within metamask payment.

[2019-01-06 12:54] pbteja1998 commented on #2819
The thing is it is not asking for payment in metamask. when I click on Fund Issue it is just loading. No prompt for payment in metamask !

[2019-01-06 12:56] usmanmuhd commented on #2819
Have you connected Gitcoin to metamask?

[2019-01-06 12:56] pbteja1998 commented on #2819
yes

[2019-01-06 12:57] pbteja1998 commented on #2819
I will try to rebuild again. Will see if it works.

[2019-01-06 12:59] pbteja1998 commented on #2819
Is there anything else that I can do?

[2019-01-06 13:31] pbteja1998 commented on #2819
- Cloned the repo
- `cp app/app/local.env app/app/.env`
    - `BASE_URL=http://localhost:8000/`
    - `GITHUB_CLIENT_ID=xxxx`
    - `GITHUB_CLIENT_SECRET=xxxx`
    - `GITHUB_APP_NAME=xxxx`
- `sudo docker-compose up --build`

These are the steps that I followed for rebuilding. Still no luck !

[2019-01-06 13:43] usmanmuhd commented on #2819
DM on slack, we can try figuring out.

[2019-01-06 16:35] thelostone-mc commented on #3410
@octavioamu can't seem to figure this out ! [This is ](https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/shared.js#L218) legit usage -.-

[2019-01-06 16:42] kuhnchris commented on #3427
Do we want to show the gitcoin header on /ethdenver ? Because of the "login" thing... Or should login simply redirect to gitcoin login?

cc @owocki

[2019-01-06 16:55] kuhnchris opened #3430 "tech-debt - remove Wallet from Kudos' datamodel"
**Describe the bug**
```class Wallet(SuperModel):```
marked as DEPRECATED.
Please clean up.
cc @octavioamu

[2019-01-06 17:52] owocki opened #3431 "as a user, i want to get a notification when my subscription expires"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to get a notification when my subscription expires

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
to increase retention rates

### Description

[com

[2019-01-06 17:53] owocki commented on #3287
https://github.com/gitcoinco/web/issues/3431 might be a dupe.. idk

[2019-01-06 17:55] owocki commented on #3420
thelostone-mc [1 day ago]
I just checked it out on trust.
So when you visit the redeem page it's good. When you login via GitHub,  it redirects to

https://gitcoin.co/complete/github/?redirect_state=<rdacted&code=<rdacted

[2019-01-06 17:56] owocki commented on #3420
i think its a github and/or sessions issue.. not a web3 issue.  i wonder if cookies are default turned off on these browers

[2019-01-06 18:14] owocki commented on #3427
just updated the date.. to not be in the past.

i dont think we want to show the login no

[2019-01-06 18:53] PumpkingWok commented on #3164
Hi @owocki,
Right now i can see 8 kudos in my profile but i should see 12 of them.
In my wallet i have 10 kudos but i have never seen here the two remain, i saw these only in my profile for few days.
The 2 kudos are LevelUp and Sunburst. (I saw them only for few days in my profile)
- LevelUp -> Unfortunately i can't recover the txid because this kudos has expired, but you can verify that i redeeme

[2019-01-06 19:45] kuhnchris commented on #2819
How about the environment?
Linux? Mac? Windows?
What Browser?
Old Metamask? Incognito Mode?
Some more infos then we can help, else pm me on Slack/Discord

[2019-01-06 19:47] kuhnchris commented on #3121
Yes this issue is being worked on but right now stashed until I finish up the avatar rework. Status in @kuhnchris/web/dynamic_avatar branch.

[2019-01-06 20:00] thelostone-mc commented on #3344
Thanks @NukeManDan ! Left a comment on PR ^_^

[2019-01-06 20:00] thelostone-mc commented on #3396
Closing this out as @owocki already pushed in the fix !

[2019-01-06 20:00] #3396 closed

[2019-01-06 20:07] thelostone-mc commented on #2898
Ah shucks sorry man ! i got flooded with messages and your ping just got lost in the mess !

I made the same change you made -> and it worked alright after a refresh.
I'm not able to reproduce this :|
<img width="1440" alt="screen shot 2019-01-07 at 1 31 59 am" src="https://user-images.githubusercontent.com/5358146/50740923-5c64b980-121c-11e9-8084-c5cd652a6355.png">

I'd be happy to validate the c

[2019-01-06 20:43] thelostone-mc commented on #1316
@usmanmuhd / @ceresstation Ah the behaviour we ended up going with was to not allow funder to add more data on the gitcoin ticket -> we sync with github to get the latest description
The periodic sync ensures we are always in sync with the data in github.

Aka github issue description serves as the source of truth

[2019-01-06 20:43] #1316 closed

[2019-01-06 20:44] thelostone-mc commented on #3051
I could not reproduce it 😅

[2019-01-06 20:45] #3051 closed

[2019-01-06 20:46] thelostone-mc commented on #3305
This is very weird :P
Closing this out and it's magically resolved 🤷‍♂️ (did @SaptakS / @captnseagraves unless throw in a fix I'm not aware of :P )

[2019-01-06 20:46] #3305 closed

[2019-01-06 20:56] kuhnchris commented on #3427
Error message trying to redeem if you haven't got all kudos:
![image](https://user-images.githubusercontent.com/761911/50741440-6925e500-11fd-11e9-9488-72712108ae4d.png)

May I ask - shall we add some tick/checkmark (✅ ) to Kudos that have been collected? Right now it's a bit hard to see...
![image](https://user-images.githubusercontent.com/761911/50741452-91154880-11fd-11e9-97a9-ae7483b2ee7e.png)

[2019-01-06 21:00] kuhnchris commented on #3305
![image](http://www.reactiongifs.com/r/mgc.gif)

[2019-01-07 04:34] #3419 closed

[2019-01-07 06:00] #2682 closed

[2019-01-07 09:06] owocki commented on #3164
There is absolutely a txid for free kudos. I know because I wrote the kudos
airdrop feature :-)

I’m mobile now but can look at these txids when I’m at a computer. If the
tx was not successful or dropped, then that could be one cause

On Sun, Jan 6, 2019 at 10:27 PM Sangphil Kim <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

________________________________________

[2019-01-07 09:17] PumpkingWok commented on #3164
Hi @owocki,
I checked the txid posted by @sangphilkim and for Christmas Creator the txid exists but not for Sunburst. It is my identical situation, Christmas Creator is a kudos that i don't see in my profile but i redeemed it and the txid exist but for Sunburst i reedemed it too but the txid does not exist and i see it only for few days in my profile.
Thank you very much in advance.

[2019-01-07 13:16] owocki commented on #3427
yes lets add a checkmark to them.

+1 on the flip card thing.. esp if it's easy to reuse on this page

[2019-01-07 14:51] owocki opened #3432 "as a user playing the ETHDenver set completion game, I want this nalgene water bottom design, so I can show off my kudos while i drink fresh colorado water"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user playing the ETHDenver set completion game, I want this nalgene water bottom design, so I can show off my kudos while i  drink fresh colorado wateras a user playing the ETHDenver set completion game, I want this nalgene water bottom design, so I can show off my kudos while i  drink fresh colorado water

###

[2019-01-07 14:51] owocki commented on #3432
this ticket is the physical component of digital one => https://github.com/gitcoinco/web/issues/3197

[2019-01-07 14:52] owocki commented on #3432
cc @PixelantDesign @kuhnchris @vs77bb @ceresstation  for review .  should i bounty this or assign it internally?

i view ETHDenver as a time when we can introduce some new messaging / marketing.  it fits into the OKRs in that it will reduce our CAC

[2019-01-07 14:58] owocki opened #3433 "shwag"
- t shirt
- hackey sacks.
- something with our 'easy button' branding on it?
- physical kudos stickers
- maybe make some of those robots we've recently made into stickers?

[2019-01-07 14:59] owocki opened #3434 "Logistics"
Finalize Budget
Airbnb Booking
VIP Tickets
Plane Tickets

[2019-01-07 15:01] owocki opened #3435 "Make video for John Paller"
see https://docs.google.com/document/d/1wRhj4ppzBrh8TuD4uFSvZgZkOBbi7wjykFSdvV1PRU4/edit

[2019-01-07 15:04] owocki opened #3436 "As a user, I want to push a big red button at Gitcoin.co/easybutton because I know I need coders, but I dont know how to navigate Gitcoin's product suite. This gives me an easy big button to push to help me figure it out."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to push a big red button at Gitcoin.co/easybutton because I know I need coders, but I dont know how to navigate Gitcoin's product suite.  This gives me an easy big button to push to help me figure it out.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provid

[2019-01-07 15:43] willsputra commented on #3316
@thelostone-mc yea that makes sense! don't want to make the profile too overloaded

[2019-01-07 15:54] owocki commented on #3436
@PixelantDesign @vs77bb @ceresstation @alexvotofuture take a look at the above and lmk if nay feedback

[2019-01-07 15:57] owocki opened #3437 "Prepare Kevin Owocki Talk"
i could talk about
- open source sustainability
- cerebro
- mesh network of human beings

[2019-01-07 15:57] owocki opened #3438 "Austin Griffith ETHDenver Talk"

[2019-01-07 15:58] owocki commented on #3438
@austintgriffith whats your talk at ETHDen gonna be about ?

i am trakcing our prep for ETHDen at https://github.com/gitcoinco/web/projects/27#card-16251197

[2019-01-07 16:38] owocki opened #3439 "As a user who wants a coder, I want to use a data science tool called "Cerebro" to find all the coders, so I can source the best ones."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user who wants a coder, I want to use a data science tool called "Cerebro" to find all the coders, so I can source the best ones

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happ

[2019-01-07 16:45] willsputra commented on #2964
@PixelantDesign yes!

[2019-01-07 16:45] owocki commented on #3372
TODO: make child tickets for this

[2019-01-07 17:49] owocki commented on #1426
https://github.com/gitcoinco/web/issues/2390

[2019-01-07 18:07] owocki opened #3440 "bug - sentry slack hook not working"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/ is working, but the #gitcoin-sentry channel on slack is not

[2019-01-07 19:04] kuhnchris commented on #3432
they wrote they sent a mock-up with that? (...the dimensions of the bufficorn are included in the mock-up)
If they got something, please provide, else I'll throw up something real quick. Do we have the sponsor logos etc. availble?

[2019-01-07 19:32] owocki commented on #3432
sponsor logos => http://bits.owocki.com/065be8437a0e/ethdenver%20sponsor%20logos.zip

bufficorn => http://bits.owocki.com/985a7024057f/Archive%202019-01-07%20at%2012.32.00%20PM.zip

ethdenver logo => https://www.ethdenver.com/wp-content/themes/understrap/img/logo-large.svg

[2019-01-07 19:44] owocki commented on #3316
The main gitcoin.co/profile -- I was just thinking it'd be an activity feed item under 'all activity'

I like this direction.

[2019-01-07 20:08] owocki commented on #2259
yes it is still open

[2019-01-07 20:10] owocki commented on #2261
@ceresstation i think you can pay out hte bounty.

no plans to merge this PR soon.. but after Q1 we can take another look.

[2019-01-07 20:10] owocki commented on #3196
looking forward to chatting :)

[2019-01-07 20:14] owocki commented on #3420
i tried it on iphone

[2019-01-07 20:34] owocki opened #3442 "as a contributor, i think that the new pull request template is too bureacratic, and i'd like to have it simplified"
as a contributor, i think that the new pull request template is too bureacratic, and i'd like to have it simplified

fast iteration is the new moat, its what keeps us alive.  why are we making users fill out 20 checkboxes to submit a single PR?  this will massively slow down the amount of contributions we get.

i expressed this here too => https://github.com/gitcoinco/web/commit/088d209fe3230379fe

[2019-01-07 20:35] owocki commented on #3442
@octavioamu @thelostone-mc @SaptakS i'm willing to be outnumbered on this and stand down... tell me what you really think pls.

[2019-01-07 20:35] owocki commented on #3442
cc @kuhnchris too since he's made a few edits to this file

[2019-01-07 20:39] owocki commented on #3440
confirmed it actually is working

[2019-01-07 20:39] #3440 closed

[2019-01-07 20:46] kuhnchris commented on #3442
Well it's very broadly very generic.
It also assumes you only do a PR if it's payed (payee section).
Maybe cut down on some sections, or relay them to the docs.gitcoin.co for certain sections?

[2019-01-07 20:47] owocki opened #3443 "bug - reserved bounties does not work"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
reserved bounties does not work

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
1. post a new bounty on rinkeby on your local
2. set a 'reserved for'
3. when the issue is posted, anyone can start work on it
4. when the issue is posted, no one can see its resrved on the UI

**Expected behavior**

[2019-01-07 20:48] owocki commented on #3443
https://github.com/gitcoinco/web/commit/3fdcf5ae9850fb70c958c425bf9d7a4da6f394bc

hides this on master.. pls remove this line when its fixed

[2019-01-07 20:50] austintgriffith commented on #3438
I think I moved myself to a panel and pulled in a couple other meta tx people. I'll talk with Coury a little more this afternoon. Is there something specifically you'd like me to hit?

[2019-01-07 21:12] owocki commented on #3438
nope; just wrote this up to track everything were doing for ethden

[2019-01-07 21:12] austintgriffith commented on #3438
Meta Transactions Panel! You know I'll shill colorado, 1337, and the burner passively, but I think this one is for meta tx UX etc.

[2019-01-07 21:31] owocki commented on #3389
thatd certainly be a nice workaround in leiu of actually transfer the useres ETH into WETH

[2019-01-07 21:35] frankchen07 opened #3444 "As a contributor, how can we best get exposed to recurring funding opportunities (Gitcoin Grants)?"
### User Story

As a contributor, how can we best get exposed to recurring funding (Gitcoin Grants)?

### Why Is this Needed

With the release of Gitcoin Grants, how do we expose bounty hunters to the fact that they can work with a funder and be part of a Gitcoin Grant (a recurrent source of funding) that may directly help them get paid on a regular basis to do more? This directly impacts our 2019

[2019-01-07 21:36] owocki commented on #3400
it doesnt seem to be wired into anything

[code]

[2019-01-07 21:44] owocki commented on #3412
related to https://github.com/gitcoinco/web/issues/3389

[2019-01-07 21:46] frankchen07 opened #3445 "BUILD - As a funder, how can we best promote recurring funding (Gitcoin Grants) to contributors?"
### User Story

As a funder, how can we best promote recurring funding (Gitcoin Grants) to contributors?

### Why Is this Needed

With the release of Gitcoin Grants, how do we best expose funders to a recurrent source of funding that can help push forward open source? This directly impacts our 2019 Q1 OKRs wrt Gitcoin Grants.

### Problem Description

Getting recurring funding is good for all thre

[2019-01-07 21:50] owocki commented on #3445
seems like an upsell of a gitcoin bounty.. after you've done a successful bounty with someone, maybe ull want to set them up on a grant

[2019-01-07 21:51] owocki commented on #3414
https://github.com/gitcoinco/web/issues/3314

[2019-01-07 22:09] kuhnchris commented on #3427
Mmmh, the backside of the kudos contains usually the sender and/or a message. want to put a hint there?
![image](https://user-images.githubusercontent.com/761911/50796248-3ea55c00-12d1-11e9-848f-d81e18361473.png)

[2019-01-07 22:14] Anish-Agnihotri commented on #3389
For sure. For the latter we'd have to actually call the contract and wrap the ETH ourselves if the user chooses to deposit ETH.

Till that gets implemented or figured out, I'd be more than happy to implement the tool-tip in a few minutes. Lmk.

[2019-01-07 22:43] captnseagraves opened #3446 "User either sees a 500 error or is redirected to the Bounties explorer when funding a Grant"
**Describe the bug**
User either gets 500 error or is redirected to bounties explorer when funding grant

**To Reproduce**
Unknown

**Expected behavior**
User should be able to easily navigate to the `grants/fund` page

**Screenshots**
![chrome_2019-01-07_17-15-57](https://user-images.githubusercontent.com/22862292/50797624-9e304700-1292-11e9-8b39-257def71652a.png)

**Desktop (please complete the

[2019-01-07 22:49] captnseagraves commented on #3446
it was a user <> profile fk issue. Not Grants specific. http://bits.owocki.com/594e7f0139bd/Screen%20Shot%202019-01-07%20at%203.46.42%20PM.png

[2019-01-07 22:49] #3446 closed

[2019-01-07 23:02] vs77bb opened #3447 "Wagtail Image Issues [Content Migration] (Bountied)"
To reduce our CPA, we'd like to migrate our content from  medium.com/gitcoin to gitcoin.co/cms.

[2019-01-07 23:15] frankchen07 commented on #2899
@sgr0691, are you still working on this bounty? If not, then I can remove you and re-open the issue to the public. Thanks!

[2019-01-07 23:16] vs77bb commented on #3370
@kuhnchris just checking, you still planning on taking this one? Throw up an application on Gitcoin and we can approve you, if so.

[2019-01-07 23:28] vs77bb opened #3448 "EPIC Virality: Referring Bounty Hunters To Gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to get paid to invite my friends to work on Gitcoin, so that I can get paid for referring people to bounties. Gitcoin pays $5 for each referral made.

### Why Is this Needed
This is needed to get more well-qualified hunters to the platform for issues which aren't being solved.

[comment]: #

[2019-01-07 23:51] owocki opened #3449 "EPIC Fund an Issue from a Private Repo"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started with D

[2019-01-07 23:53] owocki commented on #556
now hosted at https://github.com/gitcoinco/web/issues/3449

[2019-01-07 23:53] #556 closed

[2019-01-07 23:55] owocki commented on #3114
related to https://github.com/gitcoinco/web/issues/3114

[2019-01-07 23:56] captnseagraves commented on #3073
![screen shot 2019-01-07 at 4 56 22 pm](https://user-images.githubusercontent.com/22862292/50800378-33d0d400-129d-11e9-98df-d6bdca6eb2b3.png)

[2019-01-08 00:31] PixelantDesign opened #3450 "EPIC Encourage Sharing and Joining Gitcoin"
### User Story

As a contributor, how can I encourage other great developers to join Gitcoin and help grow open source?

### Why Is this Needed
To grow the Gitcoin platform with qualified contributors/developers. how do we best do this?

### Problem Description

There are a lot of ways to tackle virality. How do we approach this so that we aren't having to pay as much as we would pay for google ad

[2019-01-08 00:47] #2531 closed

[2019-01-08 00:49] vs77bb opened #3451 "[Design] Virality: Continue Working With Great Gitcoiners"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin Funder / Gitcoin Hunter, I want to keep a good Gitcoin relationship going so that I can keep growing my open source project / keep getting paid for working on open source.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, wh

[2019-01-08 01:12] vs77bb opened #3452 "[Epic] Reputation"
In this ticket, I'll outline a few different things I think we could prioritize on the reputation front (I think some shorter term, some longer term).

### User Stories

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

1. As a Gitcoin Funder, I want system generated Kudos so I can use it to assess the quality of Gitcoin hunters off of an unbiased metric system.
2. As a Gitcoin Fu

[2019-01-08 01:15] owocki commented on #3437
ticket for cerebro https://github.com/gitcoinco/web/issues/3439

[2019-01-08 01:16] owocki commented on #3439
@frankchen07 i'd be curious to get your feedback on this ticket.  we should ask ourselves hard quetsions about whether or not this will help us visualize/explore/understand our dataset more, or if we're just creating more complex data porn. I'm thinking it'll probably be bountied, not core team.

[2019-01-08 01:19] vs77bb opened #3453 "[Epic] Gasless Gitcoin"
### User Stories (In Increasing Difficulty)

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

1) As a Gitcoin user, I'd like to authorize with Github (only) and provide a MetaMask account / ETH address when I 'Submit Work', so I don't have an extra barrier to creating an account until I'm ready to complete a bounty.
2) As a Gitcoin user, I'd like to have a native Gitcoin Wallet w

[2019-01-08 03:17] owocki commented on #3427
i think that if there is no sender, then we don't let the card flip.  if there is a sender/receiver, then we do, and we reuse the elements.  does that work?

[2019-01-08 03:54] Anish-Agnihotri commented on #3453
1. Seems doable? Maybe we can integrate this with the on-boarding flow mentioned in #3393. So basically, post-signup, a user is given options on a few screens:
[code]
Based on this we funnel them into their appropriate on-boarding, with an additional screen that says:
[code]
2. ✔️ would be super cool.
3. ✔️ a bridge was previously discussed in #3028. A PoC might be cool to see.
4. ✔️ think this mi

[2019-01-08 04:01] vs77bb commented on #3447
Notes from @ryan-shea on the migration to-date.

**Notes from Post Migration**

* Can't create a section w/o a header -- what to do for the beginning of article? Temporary workaround: "Intro"
* Can't upload images -- server times out
* What to do with images that are wrapped? Need to figure that out once uploading is fixed (e.x. https://medium.com/gitcoin/tutorial-leverage-gitcoins-firehose-of-tal

[2019-01-08 04:02] vs77bb commented on #3447
@owocki @SaptakS Could you help with the issue regarding posting images on the Wagtail CMS? For debugging: gitcoin.co/cms

[2019-01-08 04:06] Anish-Agnihotri opened #3454 "As a Gitcoin Ambassador, I want Gitcoin to be listed on the Opera DApp Store."
### User Story

As a Gitcoin Ambassador, I want Gitcoin to be listed on the [Opera DApp Store](https://www.opera.com/dapps-store).

### Why Is this Needed

Opera just recently launched their [Opera DApp Store](https://www.opera.com/dapps-store) and have various DApps listed. Under the Earn section, there is mention of Cent and Bounties Network, but no mentions of Gitcoin. As an Ambassador, I feel

[2019-01-08 04:41] PixelantDesign opened #3455 "As a funder, how can Gitcoin reengage with me and possibly suggestive sell Grants?"
### User Story

As a funder, how can Gitcoin reengage with me and possibly suggestive sell Grants?

### Why Is this Needed

We need reengagement campaigns to encourage funding of larger amounts to increase the amount of open source work on our platform as well as increase value.

### Problem Description

Getting recurring funding is good for all three sides. Contributors get steady payment, funder

[2019-01-08 04:51] PixelantDesign opened #3456 "As a bounty hunter, how can we encourage funders to fund more bounties?"
### User Story

As a bounty hunter, how can we encourage funders to fund bounties?

### Why Is this Needed

With the release of Gitcoin Grants, how do we best expose valuable bounty hunters to a recurrent source of funding that can help push forward open source? This directly impacts our 2019 Q1 OKRs wrt Gitcoin Grants.

### Problem Description

Getting recurring funding is good for all three side

[2019-01-08 05:13] SaptakS opened #3457 "Tech Debt: Replace .click() by .on('click')"
.click() has been deprecated by jQuery, so replace all of them by .on('click'

[2019-01-08 06:03] kn commented on #2117
FYI: The change has been merged into the master branch https://github.com/gitcoinco/web/pull/2956. Please let me know if there's anything else I can do for the issue. Thanks!

[2019-01-08 09:59] #3457 closed

[2019-01-08 13:40] SaptakS opened #3459 "Technical Debt: Replace All alert() by _alert()"
In gitcoin frontend framework, we have defined a function `_alert()` which is a better way of showing the alert message and also unified style over browsers rather than the browser default `alert()`. In most places we already use `_alert()`. Refactoring the rest.

[2019-01-08 14:44] mehul0698 commented on #3195
@owocki Please review the work that I have done.

[2019-01-08 14:49] owocki commented on #3443
hmm.m.. i wonder why it wasnt working in my testing...

maybe my docker inotify didnt register?

if you feel confident in it, please go ahead and commit your change to master and i can redeploy

[2019-01-08 15:01] #3443 closed

[2019-01-08 16:46] captnseagraves opened #3462 "Grants - Emails displaying too many Decimals"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
Emails are displaying too many decimals

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
Definitely happening on the successful contribution email. Not sure about others. Need to check them all. Should also check other pages.

**Expected behavior**
[comment]: # (A clear and concise description o