[2019-04-30 16:30] frankchen07 opened #4327 "[WORKSHOP] - As a Gitcoin operator, let's move forward with Wyre integration for fiat on-ramps."
### User Story

As a Gitcoin operator, let's move forward with Wyre integration for fiat on-ramps.

### Why Is this Needed

Multiple market asks for this type of feature - @ceresstation beating the drum for quite some time now.

### Description

Earliest ticket: https://github.com/gitcoinco/web/issues/1967
Documentation ticket: https://github.com/gitcoinco/web/issues/3580

There may be some custom

[2019-04-30 16:34] frankchen07 opened #4328 "As a Gitcoin operator, let's completely get off Kubes."
### User Story

As a Gitcoin operator, let's completely get off Kubes.

### Why Is this Needed

Backend migration off Kubes, however, the servers are still up. Let's finish de-commissioning them.

### Description

Dan will have to pull the Kubes plugs and ensure that we still have full functionality (electricity, running water, hot water, food, snacks) for Gitcoin so we can fully de-commission Kub

[2019-04-30 16:48] frankchen07 commented on #4264
additional question - is this the invoice for the person who receives the grant, or the person who has made a contribution/donation?

If we're reusing the bounty template, it looks like it can be repurposed to give an invoice to someone who has contributed. The person who receives the grant shouldn't need an invoice.

[2019-04-30 17:34] frankchen07 opened #4329 "As a Gitcoin operator, Grant details UI refactor."
### User Story

As a Gitcoin operator, prettify the Grant details page.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

Web view:
![Grants Detail](https://user-images.githubusercontent.com/7516920/56980559-f7432400-6b7c-11e9-834e-a

[2019-04-30 17:44] danlipert opened #4330 "As a Gitcoin admin, I want to be able to suggest related grants to users when they make a contribution, so we can make contributors aware of the different projects on Gitcoin grants"
### User Story

As a Gitcoin admin, I want to be able to suggest related grants to users when they make a contribution, so we can make contributors aware of the different projects on Gitcoin grants

### Why Is this Needed

We'd like to increase the variety and number of contributions that contributors make to Gitcoin grants programs, based on a suggestion that the greater the number of contributio

[2019-04-30 17:44] danlipert commented on #4330
@frankchen07 @PixelantDesign shall I bounty this out? Looks pretty simple and we have some community members with good experience working with our emails.

[2019-04-30 18:02] PixelantDesign commented on #4223
![fund issue (1) (1)](https://user-images.githubusercontent.com/238235/56983031-a584a480-6b50-11e9-844d-6d764d194bd0.png)

[2019-04-30 18:07] PixelantDesign opened #4331 "Build Funder Form Refresh + Quick Fund"
# User Story
As a funder, I'd like to be able to fund an issue without completing the lengthy form fields.

As a contributor, I'd like to see a description of a project so that I have enough information to work from to complete this bounty.

**Goal**: Quickfund an issue, thereby increasing conversion rate 	PR: https://github.com/gitcoinco/web/pull/2387

**Problem to Solve:**
Going to thh form > su

[2019-04-30 18:10] octavioamu commented on #4331
Love that design @willsputra
I have some questions
Do we have the version with open collapsibles ?
Do we have the version when private repo is selected?
How I open the issue details as the second image?

[2019-04-30 18:12] PixelantDesign commented on #4330
Thanks for the write up! What fields will be displayed in the admin that I can pull from? Should we make it more clear that the contributor is not expected to make the email (expected behavior and definition of done are kinda confusing)?

[2019-04-30 18:13] PixelantDesign commented on #4329
@willsputra could you attach the sketch?

[2019-04-30 18:17] PixelantDesign opened #4332 "Build Front End - add "worked with you""
# User Story

As a funder I'd like to be asked to work with a contributor again.

As a contributor I'd like to be notified if a funder has other issues I can work on, on his repo.

# Why is this important?
- We want to make it easier for funder to continue to find value in the system. Suggest interactions that are timely and relevant.
- When good working relationships happen, we want those relatio

[2019-04-30 18:26] PixelantDesign commented on #4332
@willsputra please post sketch file

[2019-04-30 18:28] PixelantDesign opened #4333 "Build - Backend Working Together Again"
# User Story

As a funder I'd like to be asked to work with a contributor again.

As a contributor I'd like to be notified if a funder has other issues I can work on, on his repo.

# Why is this important?
- We want to make it easier for funder to continue to find value in the system. Suggest interactions that are timely and relevant.
- When good working relationships happen, we want those relatio

[2019-04-30 18:30] PixelantDesign commented on #4318
Thanks for the report! want to help us fix this?

[2019-04-30 18:35] mbeharry commented on #4321
Replace this paragraph;
"There are open issues in our Issues Explorer for all Python, JavaScript, Rust, Go, Solidity, Node.js, and many more developers."

With this one;
There are open issues & bug bounties in our <a href="https://gitcoin.co/explorer">Issue Explorer</a> for <a href="https://gitcoin.co/contributor/python">Python</a>, <a href="https://gitcoin.co/contributor/javascript">JavaScript</a

[2019-04-30 18:38] PixelantDesign opened #4334 "Add to Nav Gitcoin.co/blog"
- [x] Install wordpress theme
- [ ] Remove components we dont need
- [ ] Add Blog to Nav

[2019-04-30 18:43] PixelantDesign opened #4335 "Include Abandoned Bounties in daily bounty email -"
Dean Ramadan [1:30 PM]
would be great if we can set up an automatic email to go out to the active contributors segment every time a bounty is abandoned letting them know that there is a new open bounty ready to claim

- [ ] include those bounties in the daily “new bounties” email

[2019-04-30 18:47] #4019 closed

[2019-04-30 18:48] PixelantDesign commented on #4323
invite by clicking invite to bounty (big blue button) @owocki

[2019-04-30 18:49] PixelantDesign commented on #4323
@octavioamu this is a good idea if we think it might be slow...I haven't felt any slowness when I tested.

[2019-04-30 18:52] PixelantDesign opened #4336 "Design - No Results for User Directory"
Create design for user directory when no results are found.

- [ ] Check to see how we do this on kudos
- [ ] Check to see how other products do this
- [ ] When no results return then display message that says "Looks like you searched for the for these criteria xyzzy and nothing was found"
- [ ] Show fun illustration, maybe (borrow from one of our other pages that show no results).
- [ ] Review wi

[2019-04-30 18:55] PixelantDesign opened #4338 "Build - Filter by Org in User Directory"
**Subtask of User Directory**

- [ ] Build front end and backend of Filter organizations
- [ ] Post screenshot or video, or staging link
- [ ] Review with team

[2019-04-30 20:51] owocki commented on #4310
we tried to migrate to wagtail, but didn't have a lot of luck.  ill take a look at dokuwiki

[2019-04-30 22:59] owocki commented on #4322
before we put the user directory public, should we give people a way to opt out of being serachable?

[2019-04-30 23:03] owocki commented on #4323
hmmm i dont see any big blue button on the results.. screenshot: http://bits.owocki.com/c265912549bd/Image%202019-04-30%20at%205.03.03%20PM.png

[2019-04-30 23:27] KirkBallou commented on #3080
@owocki  latest build here:  https://kirkballou.github.io/reactongit/

[2019-05-01 04:15] octavioamu commented on #4323
Ok now I think everything from the list was addressed, can be tested in my staging.

- To be able to see the modal you need to have at least one bounty funded, so them you can invite someone to work on your bounty.
- There is not much data so there is not leaderboard ( I think Saptak only)
- rating is not filtering yet I believe later saptak will update the backend part.

[2019-05-01 08:46] willsputra commented on #4329
@PixelantDesign sketch file
https://github.com/gitcoinco/creative/pull/79/commits/69842a9e521a1a95006d8dfaf2526242fd59672e#diff-c0a171beed1c22d08b37fd55467e16bd

[2019-05-01 08:51] willsputra commented on #4332
@PixelantDesign sketch file
https://github.com/gitcoinco/creative/pull/79/commits/42e935d29bcab632e9b7e50b673a74ed7ad4f4a5#diff-84c795cede00ffa77569e7ca2cf04765

[2019-05-01 12:19] danlipert commented on #4330
@PixelantDesign the fields in the admin should be a multiselect drop which lists each grant and allows you to select multiple items. For each grant, lets show the title of the grant. Also I'll update the issue to better explain the email - should we get a design going for this?

[2019-05-01 13:09] kuhnchris commented on #4321
[Easy enough.](https://github.com/gitcoinco/web/pull/4341)

[2019-05-01 13:10] kuhnchris commented on #4310
Wagtail was the Python integrated one, correct? I remember we had issues with the templates and stuff like that, but it would have been 1 integrated system. With Wordpress and/or Dokuwiki you'd need a separate stack (or at least a PHP stack) for it.
Also, do you guys still run on a SQLite database or did you migrate? Since else we'd also need a database (MariaDB, MySQL, PGSQL, ...) for those. This

[2019-05-01 13:32] kuhnchris commented on #4328
The question is: getting away from kubes to where? Do you have a scalable orchestration system?
I believe you are now in a size category where you would prolly need at least 2 or 3 frontend servers running to handle the load, so how is that managed? Manually? Docker Swarms?

[2019-05-01 13:34] kuhnchris commented on #4310
Well, according to the other tickets wordpress is already kicking, so, disregarding me/this issue then, i guess. (#4334)

[2019-05-01 13:35] kuhnchris commented on #4318
Well, the question is - how should it work, is it working as intended or is it broken? If it is as the follow-up indicated it may aswell work as intended if the reservation time is up.

[2019-05-01 14:01] PixelantDesign opened #4342 "BUG - After Completing Ratings - Next set of cards don't appear."
**Describe the bug**
BUG - After Completing Ratings - Next set of cards don't appear.

**To Reproduce**
Rate 5 cards, save them, click refresh page. The same 5 cards stay (without my ratings saved!).

**Expected behavior**
New set of unrated cards appear

**Screenshots**
<img width="1158" alt="Screen Shot 2019-05-01 at 9 57 42 AM" src="https://user-images.githubusercontent.com/238235/57020669-0025

[2019-05-01 14:02] kuhnchris commented on #4342
Taking a look.

[2019-05-01 14:04] kuhnchris opened #4343 "BUG - After Completion Ratings - Rinkeby Bounties are counted in."
**Describe the bug**
I didn't fund more than 1 bounty on mainnet, dispite my profile showing 13.
![grafik](https://user-images.githubusercontent.com/761911/57020768-a2f67d80-6c2a-11e9-86d6-ff18a4e15728.png)
After checking, this shows some rinkeby bounties.
![grafik](https://user-images.githubusercontent.com/761911/57020795-c3bed300-6c2a-11e9-821f-d7e7d6c94ac7.png)
That's... probabbly not correct.

[2019-05-01 14:04] kuhnchris commented on #4343
Checking with #4342 since it seems to be on the same corner.

[2019-05-01 15:40] kuhnchris commented on #4327
AFAIK there was also Shapeshifter in the talks - did you guys decide on Wyre? Also, any API documentation or rather, do you have any python interface using this? (e.a. you want to use it fore-ground only so people have to figure out problems with the vendor, or want to do it on the backend side and possible have people complaining your ears off whenever there are fund-issues?)

[2019-05-01 15:43] willsputra commented on #4331
@octavioamu

Here ya go! let me know if I missed anything.
![fund issue](https://user-images.githubusercontent.com/19514207/57025809-cd682b00-6c6a-11e9-928d-bfacd07d9d4f.jpg)

On public repo, it should show up when you insert your GitHub URL

[2019-05-01 15:54] octavioamu commented on #4331
This look amazing

Some points about the private
- I believe can't be permissionless
- Can't be hackathon
- Can be cooperative or contest in private repos?
- Auto approve needs to be disabled
- contact area need to be true by default, I think disabled also so private bounties have the email of the funder.
- I will suggest moving "funding from diff org" to the bounty settings.

[2019-05-01 16:17] willsputra commented on #4226
@PixelantDesign thoughts?

![profile](https://user-images.githubusercontent.com/19514207/57027670-9e07ed00-6c6f-11e9-867e-e42177b2ec8b.png)

[2019-05-01 17:11] PixelantDesign opened #4345 "Update Day 2 Email to mention permissionless projects"
**User Feedback** - Day 2 email doesn't mention project types.

**Suggestion:**
Changing the "Day 2: Using Gitcoin's Issue Explorer" automated email to mention permissionless projects. As I received on the 12th, it reads:

Click ‘Express Interest’ to provide a brief message to the repo-maintainer that you’re interested in the issue.

From here, you’ll receive an email and a notification when the i

[2019-05-01 17:56] owocki opened #4346 "gitcoin.co/explorer should allow you to serach by funder username"
gitcoin.co/explorer should allow you to serach by funder username

if you search statussceptre you will not see bounties funded by @statussceptre ; this should be fixed

[2019-05-01 20:56] owocki opened #4347 "bug - when i want to cancel a grant subscription, the 2nd transaction fails"
**Describe the bug**

bug - when i want to cancel a grant subscription, the 2nd transaction fails

**To Reproduce**

1. fudn a grant
2. try to cancel your funding
3. the 2nd transaction will fail

**Expected behavior**

the 2nd transaction in the funding cancellation will NOT fail

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the fo

[2019-05-02 00:03] georgiemathews commented on #2200
How's the progress on this @vs77bb, looks like it's been abandoned, more than happy to help out

[2019-05-02 06:32] frankchen07 opened #4348 "As a Gitcoin operator, fix XSS vulnerabilities and sanitize all of our user-inputs and GET-inputs"
### User Story

As a Gitcoin operator, fix XSS vulnerabilities and sanitize all of our user-inputs and GET-inputs

### Why Is this Needed

security

### Description

re: XSS vulnerabilities

### Current Behavior

XSS vulnerabilities

### Expected Behavior

sanitized user-inputs and GET-inputs

### Definition of Done
- [ ] @danlipert can you help fill this out?

[2019-05-02 06:37] frankchen07 commented on #4328
@danlipert is best suited to answer this question. On the edge of my seat too to learn a little bit.

[2019-05-02 06:38] frankchen07 commented on #4330
Yes, let's workshop this quickly in the upcoming week, see if can get some designs out and bounty this.

[2019-05-02 13:25] owocki commented on #4189
@Skyge the PR link you submitted doesnt point to anyting.  do you have a fix ready?

[2019-05-02 15:38] willsputra commented on #4331
@octavioamu something like this?
![quickfund-private](https://user-images.githubusercontent.com/19514207/57087741-5185e580-6d33-11e9-89f8-7a18f29e0e4c.png)

[2019-05-02 18:30] octavioamu opened #4352 "Bounties complete wrong data"
**Describe the bug**

There are some places where complete bounties is shown but in some places that data is took from activity
- activity in profiles
- user flyover
- users directory
We should start showing only the fulfilment bounties as the profile top to be the real completed bounties by that person.

**To Reproduce**

**Expected behavior**

**Screenshots**
<!-- If applicable, add screenshots

[2019-05-02 18:32] octavioamu opened #4353 "users directory filters with issues"
**Describe the bug**

Bounties completed is showing wrong results
![image](https://user-images.githubusercontent.com/1358093/57097972-5de84f00-6cef-11e9-8119-b2c32f65a79c.png)

Leaderboard data is creating dupes and showing wrong data
![image](https://user-images.githubusercontent.com/1358093/57098006-76586980-6cef-11e9-83b2-b20e763bda08.png)

**To Reproduce**

**Expected behavior**

**Screenshots

[2019-05-02 18:36] octavioamu opened #4354 "rate your bounties in profile showing rinkeby and repeated bounties"
**Describe the bug**

**To Reproduce**

Query in profile "rate your bounties" is showing repeated bounties and rinkeby bounties

#4343 #4342

**Expected behavior**

filters should be .distrinct(pk) to show one time per bounty and should show only mainnet bounties in production

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the follow

[2019-05-02 18:48] owocki commented on #4353
i can bounty it if u guys want

[2019-05-02 23:55] frankchen07 commented on #4232
@PixelantDesign

I think right now there was enough traction to experiment with relesaing a subscription that has the sole purpose of reducing the bounty platform fee as an option for those who don't want to pay it.

Down the line we can think about advanced features to package and paywall, but currently, those who fund alot of bounties would most benefit from a subscription option.

From a techni

[2019-05-03 02:25] Skyge commented on #4189
@owocki @thelostone-mc As I described above, I have tested  many times, but I can not reproduce it, so please provide a screenshot of this bug, cause I have no idea about this now.

[2019-05-03 03:51] frankchen07 commented on #3763
I have not - @ceresstation - have you?

[2019-05-03 09:34] kuhnchris commented on #4354
see #4344 for WIP pull request, cannot test so WIP. :-(

[2019-05-03 13:03] kuhnchris commented on #4345
You mean this one?
https://github.com/gitcoinco/web/blob/b1eeee921dcaf1d1f217e04fa0095cb26ab922b0/app/retail/templates/emails/campaigns/email_campaign_day_2.txt

[2019-05-03 14:20] PixelantDesign commented on #4223
@willsputra could you put the sketch file on this ticket please? thanks!

[2019-05-03 15:17] lychees commented on #4111
Friendly remind.
Anyone could review the code?

[2019-05-03 16:44] owocki commented on #4111
i left some comments last week; doesnt look like they've been turned around yet?

[2019-05-03 17:10] owocki opened #4359 "fix up gitcoin.co/ens"
- fix any obvious UI issues (like this footer http://bits.owocki.com/ef598bbe1162/Image%202019-05-03%20at%2011.09.51%20AM.png)
- update for any ENS changes that are live right now as ENS updates ( see https://medium.com/the-ethereum-name-service/upcoming-changes-to-the-ens-root-a1b78fd52b38 )

[2019-05-03 18:32] owocki commented on #4336
for inspiration, checkout the kudos 'none found' page https://gitcoin.co/kudos/marketplace/?q=dsfdsdsfds

[2019-05-03 18:43] PixelantDesign commented on #4322
Good point... maybe a new tab in settings with a simple check box to opt out?

[2019-05-03 18:45] PixelantDesign commented on #4322
Sketch file here @owocki
[Bounties_Nav_Update.zip](https://github.com/gitcoinco/web/files/3143176/Bounties_Nav_Update.zip)

[2019-05-03 18:58] kuhnchris commented on #4322
Short shared/nav.html edit for Option 3:
![grafik](https://user-images.githubusercontent.com/761911/57159457-3d4ef080-6de6-11e9-9e14-b60864ccf747.png)

[2019-05-03 19:15] owocki commented on #4322
https://github.com/gitcoinco/web/pull/4360 implements #2

[2019-05-03 20:19] kuhnchris commented on #4322
Either is fine by me, but #2 seemed the most less intuitive for me. We can always try and see how people react to it.

[2019-05-03 20:25] PixelantDesign opened #4361 "User Directory V2"
## **User Story**
As a funder, I want the user directory to be as smart as possible so that I can easily navigate and find the right contributor for my bounty.

## **Discussion Ideas**
- Add Location
- U.S. Only Toggle
- Tooltip to explaining verified - linking to verified page
- Make the tags/match smarter
- Display up top what has been searched (criteria)
- Add recently viewed contributors
- Sav

[2019-05-03 20:48] ceresstation commented on #4361
I think the more information we can filter for people on this page the better, if it was possible for me to 'star' a few favourite candidates just based on information on the user screen and view them all that would be ideal (though I recognize this might be kind of high lift).

What I care about as a funder is matching people to a particular bounty I have and to do that effectively I need to know

[2019-05-03 20:50] ceresstation commented on #4361
One other potential (higher lift) idea: Maybe we could implement a similar system to Stack Overflow where a funder can input an issue they're trying to solve and automatically receive similar issues / in this case hunters that have solved those issues.

[2019-05-03 20:51] owocki commented on #4189
i don't seem to be able to reproduce either.  @danlipert mabye we can hook @Skyge up with some intel from the original reporter?  (was it yorke from MSFT)?

[2019-05-03 20:57] owocki commented on #4359
more docs here https://twitter.com/nicksdjohnson/status/1124401192304439296

[2019-05-03 21:04] vs77bb commented on #4361
Some ideas

- When inviting a Gitcoiner to work, ensure they get a notification alongside an email
- Work user directory into the fund issue flow in some capacity
- Provide users ability to set an hourly rate as a part of their directory entry, once they are verified

[2019-05-03 21:40] iamonuwa commented on #4359
@owocki what is the expectation for the footer?

[2019-05-03 22:15] owocki commented on #4359
Just make it look not bad and broken on desktop and mobile . I think
there’s a missing css file or something right now.

On Fri, May 3, 2019 at 3:40 PM Onuwa Nnachi Isaac <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <ht

[2019-05-03 22:23] iamonuwa commented on #4359
The second issue, can you explain what is expected as well?

[2019-05-03 22:39] lrettig opened #4362 "Total tokens received do not match amount reported on grant page"
Hello,

Our grant page (https://gitcoin.co/grants/82/official-progpow-technical-audit-funding) says we received 15,799.70 DAI but we didn't actually receive that many (https://etherscan.io/address/0x68085e7f88e90fa9247489c83fab30b177ebccb3#tokentxns). We are short by a few hundred DAI. How was this 15,799.70 DAI figure calculated? Does it include the CLR match amount? Maybe this hasn't actually be

[2019-05-04 00:08] Skyge commented on #4189
yeah, so it is really a little weird!

[2019-05-04 00:48] Skyge commented on #4335
It seems like what have been doing in our slack channel `#notif-gitcoin`, maybe we can provide a choice for them, if they would like to be notified when there is a new bounty.

[2019-05-04 02:04] Skyge commented on #4346
Does that mean when we search for everything, we should make it to be case sensitive?

[2019-05-04 02:08] Skyge commented on #4346
I would like to fix this issue, if possible, please keep this for me.

[2019-05-04 08:10] PumpkingWok commented on #2195
Hi there,
Unfortunately my leaderboard position is getting wrong again, i think it was caused by a tip sent to me using a wrong gitcoin profile name (caused by capital letters), and my profile appears twice in leaderboard.
https://gitcoin.co/profile/PumpkingWok -> it reflects the position # 352 but i think i'm in position # 30 more or less.
I think that the issue is back when the leaderboard has s

[2019-05-05 15:01] ceresstation commented on #4362
Hey @lrettig I believe this is related to an ongoing issue with the current API we're using as discussed in #4186, sorry about the issue with conversion. The thing is, because all projects were affected the same way by the conversion issues we'll likely leave it this way for Round 2 (feel free to chime in if we want to change this policy @owocki) and make sure we have the proper price conversions

[2019-05-05 15:15] lrettig commented on #4362
@ceresstation thanks for weighing in, and just to be clear, you're suggesting that we didn't actually raise as much as we thought we did? But as I indicated in the original message here, nearly all of the funds were raised in DAI itself, so it doesn't seem to be a conversion issue and I'm pretty sure the math still does not work out!

[2019-05-05 15:19] ceresstation opened #4364 "Creating Sub-Pools in Gitcoin Grants"
### User Story

As a funder I want to fund only a select pool of projects.

### Description

To date there has been one single CLR matching pool. It could be helpful (especially as we seek to work with projects that do not benefit one particular chain and funders who wish to only fund projects that benefit one particular chain) to split our CLR matching into sub-pools (i.e. pools where only a subs

[2019-05-06 01:06] owocki commented on #4364
what are the product impilcations of this @ceresstation @vs77bb @PixelantDesign ?

here's what i think it should be

1. the tabs on the /grants explorer should reflect which grant is in which sub-pool.  (we need a list of which grants are in which pool upfront)
2. the banner on the /grants explorer and grants detail page should show which sub pool each is in.
3. when you agree to contribute to mat

[2019-05-06 08:56] usmanmuhd commented on #3876
Getting this error when I run `docker-compose up`:
[code]
python-slackclient 2.0 is now imported as `import slack`. Maybe pin on an older version or update it to use the new version?

[2019-05-06 12:52] kuhnchris opened #4365 ""Submit" Button in modals allow double commits, causing GitcoinBot to double-post."
**Example**
https://github.com/polkadot-js/apps/issues/940#issuecomment-489439253

**Describe the bug**
gitcoinbot double posts on github

**To Reproduce**
Pressing the "Submit" button in "Express Interest" twice, according to @kshitij98

[2019-05-06 13:47] #4315 closed

[2019-05-06 17:37] ceresstation commented on #4362
@lrettig so after talking with @danlipert in this case I think it was actually due to the fluctuation of DAI's value over the contribution period, not due to the API conversion issue. We use the values of assets at the time they're committed to calculate the CLR matching amount which is why the amount on etherscan now is different. The reason for doing it this way is that the value the donor inten

[2019-05-06 18:46] shad-k commented on #4209
@owocki i have a question. I see that there is a web3.min.js file in the repo already. Has that been made use of anywhere? Also that file is v1.0 beta.

[2019-05-06 19:56] owocki commented on #4209
It’s used only on /grants. The rest of the site runs on 0.2.x

On Mon, May 6, 2019 at 11:46 AM Shadab Khan <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www

[2019-05-06 23:38] Skyge commented on #932
@mbeacom I meet a similar question now, so I come here for some tips, but I can not view that website, `Access not allowed`.

[2019-05-06 23:50] owocki commented on #932
hey @Skyge heads up Mark left the team.  Ill reopen this for you now tho

[2019-05-07 00:09] Skyge commented on #932
@owocki OK, thanks for your help.

[2019-05-07 00:12] Skyge commented on #932
I am trying run commond `docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999` to import data, but it throws out an error: `ipfsapi.exceptions.ConnectionError: ConnectionError: HTTPSConnectionPool(host='ipfs.infura.io', port=5001): Max retries exceeded with url: /api/v0/version?stream-channels=true (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnectio

[2019-05-07 00:30] Skyge opened #4367 "ModuleNotFoundError: No module named 'slackclient'"
**Describe the bug**
`ModuleNotFoundError: No module named 'slackclient'`

**To Reproduce**
pull the newest code, and run
[code]
 to run the code, it throws out an error:
[code]

**Expected behavior**
it should not throw out this error.

[2019-05-07 00:51] Skyge commented on #932
I use the newest version: e5525f1d316cefcd9834f7d30f72fd063b21316f(05/04)

[2019-05-07 06:35] Skyge commented on #4186
When I tested to fund this grant by token 1st, as a matter of fact, I have no 1st token, but you can see I have became a contributor, that's not my original purpos, so how to remove me from contributors?

[2019-05-07 13:39] Skyge commented on #932
@owocki I really need to quickly solve this problem, so any idea?

[2019-05-07 17:20] lrettig commented on #4362
Okay. Is there a way to know how much DAI we actually raised? Thanks!

[2019-05-07 17:26] lrettig commented on #4362
Actually is there a way to get a dump of the raw data for the transactions?

[2019-05-07 17:53] ceresstation commented on #3663
@owocki @vs77bb This is one of the higher priority tickets based on Vitalik's comments over the last week.

[2019-05-07 18:01] ceresstation opened #4369 "Collusion Resistance: Capping Contributions by Gitcoin Grants Security Rating Tiers"
### User Story

Related to #3520, as a grantee I would like to ensure the system isn't being gamed and I have a fair shot of receiving a reasonable amount of matching funding.

### Assumption
Human - Without a collusion resistance mechanism, the probability of someone gaming the system is higher.
Business - If we did this, CLR contributions should be much more fair.
Tech - We can find and obtain a

[2019-05-07 19:34] kuhnchris commented on #4282
Oh, I got assigned - well, did not see that. my bad. will get to work on it

[2019-05-08 06:14] kshitij98 commented on #4365
The reason why gitcoinbot is posting twice in this case is because the Submit button inside `Express Interest` modal was clicked twice before the page being reloaded and the user was able to apply twice on the same bounty.

[2019-05-08 15:13] Skyge commented on #4189
@danlipert OK, if this is a bug indeed, it must can be reproduced, so could you please test some times for me? cause I have tested many times and I can not reproduce it, so maybe there is something I ignore. thanks for any help!

[2019-05-08 20:35] #4329 closed

[2019-05-08 20:39] #4345 closed

[2019-05-09 02:16] frankchen07 commented on #3762
@speedyFixer - been traveling, will take a look and do payout soon! :)

[2019-05-09 02:22] speedyFixer commented on #3762
No problem :)

[2019-05-09 19:11] kuhnchris commented on #4264
@zoek1 let us know if you got any issues or you need any pointers where that stuff lives, looking forward to your PR! :-)

[2019-05-09 19:12] kuhnchris commented on #4365
Oh, thanks for tuning in, I guess in this case I'll need to rework this issue to avoid multiple modal handlings.

[2019-05-09 19:16] kuhnchris commented on #4328
@danlipert there seem to be a couple of issues now, Derek (Bloom) got some issue now with new Bounties to show up, the Bounties are stuck at "Draft" on StandardBounties, seems like the processing step is now broken. Can you please reevaluate?
Also, I hate to be "that" person, but would you mind (either in some internal devop repository or in the devops dir) creating some chart(s) that show how the

[2019-05-10 02:22] Abrahamh08 commented on #4186
@Skyge I'm not sure I understand what you are saying. If you're talking about ending your work, you can do that from the gitcoin website

[2019-05-10 05:51] Skyge commented on #932
According to `@SaptakS` advice, there are some cases for this phenomenon:
[code]

[2019-05-10 06:05] Skyge commented on #932
@owocki Although I have not solved it yet, you can close this issue now, maybe this only happens on  my PC. Thanks!

[2019-05-10 06:06] #4367 closed

[2019-05-10 22:53] oddballbutler commented on #2808
@frankchen07 Just got an email saying that the gitcoin issue expires in two days? Was this ever taken care of? I would like to be paid for my work...

[2019-05-11 00:40] PixelantDesign opened #4374 "Make it clear that there is a $500 bounty limit"
### User Story

As a funder I want to know that that there is a $500 bounty limit. I also want to know how much over the limot my bounty will be, and what I can do about it. Otherwise the transaction fails.

### What
Fix this issue

### Why
It’s not intuitive UX

[2019-05-11 03:50] PixelantDesign commented on #2808
We will get this reviewed. Sorry for the delay.

[2019-05-11 15:46] Skyge commented on #932
@owocki ,I have solved this problem, I update the newest code 2bdfa63c8c1634831d9376c1cb9dd955aab0a5ed

[2019-05-12 09:19] #932 closed

[2019-05-12 09:38] #4321 closed

[2019-05-12 16:10] kuhnchris commented on #4321
👍  thanks for the pull!

[2019-05-13 06:25] #4322 closed

[2019-05-13 08:36] Skyge commented on #4186
emm, just like this:
![image](https://user-images.githubusercontent.com/27282380/57606697-f9a17700-759b-11e9-943e-1e9c0497d242.png)
I do not think I have the token 1st and the token VEN, but it shows at here, but if I try other token, it will fail,  so maybe there is some thing unexpected. but this is not what we need to discuss here.

[2019-05-13 08:50] Skyge commented on #4186
@ceresstation  where does it display `2625 DAI`, I found its total funds is `5000DAI`.

[2019-05-13 09:54] #4191 closed

[2019-05-13 12:09] kuhnchris commented on #4374
Define "500$ bounty limit".
Per Bounty?
Per User?
Per Day?
And Limit as in: receiving or sending or providing?

Should it read: "Please be aware that you cannot fund your issue past $500.00 due to security reasons and technical limits." ?

[2019-05-13 13:35] owocki commented on #3628
http://bits.owocki.com/dd903ddf4103/Image%202019-05-13%20at%209.34.17%20AM.png

API on the gitcoin explorer is regularly taking 5s - 20s to return.  it didnt used to be this slow. i wonder if it’s a performance regression.

[2019-05-13 13:39] octavioamu commented on #4321
Thanks for the work @kuhnchris

[2019-05-13 13:40] octavioamu commented on #4321
Your pr got merged is that why it got it closed here, not that we are ungrateful

[2019-05-13 14:01] willsputra commented on #4153
@PixelantDesign thoughts?
![Dashboard2](https://user-images.githubusercontent.com/19514207/57627483-a98dd900-75ca-11e9-9191-2cad5fb5523b.png)

[2019-05-13 14:07] danlipert commented on #4181
@pandyamarut Uppercase P in the command - but basically I'm trying to figure out whats bound on your system to 6379

[2019-05-13 14:09] kuhnchris commented on #3628
Hey there @owocki - did you turn on the SILK Profiling, e.a. can you check where the bottle neck is (database, API, Django, ...)

[2019-05-13 14:10] kuhnchris commented on #4321
I know, i'm doing this long enough now with you guys. ;-)

[2019-05-13 14:13] kuhnchris commented on #4369
Hmm, isn't that basically similar to that the 3Box guys are doing with their verification project?
We need to make it clear that this doesn't turn into a KYC-type of deal, that scares away people faster than anything else in the ETH community.

Maybe make a short meeting with the 3box guys regarding their verification process, I think they basically started with similar ideas to yours.

[2019-05-13 14:16] MikaelLazarev opened #4377 "Can't claim my bouty"
### Can't claim my prize
Hi, I participated in Ethereum hackahthon and get a prize of 7.44ETH. I received an email with instructions, but for this moment I could not withdraw it. Please check this video: https://youtu.be/6VRVfkCdOJQ

[2019-05-13 15:09] thelostone-mc commented on #4377
Hey @MikaelLazarev !
Ah, that's cause the transaction has not been written to the blockchain yet! (cause of low gas fees).
Check the red alert at the end of the recording
Once the transaction goes through , you should be able to redeem it

@alexvotofuture / @willsputra/  @PixelantDesign
We could make the message a lot more clearer ?

[2019-05-13 15:10] owocki commented on #4377
The error message reads "You must wait until the senders transaction confirm before claiming this tip."

Looks like the tx just cleared ( https://etherscan.io/address/0x6faf06c29ece06579597842c80e2c39326e2e3e5 )

Can you try again @MikaelLazarev ?

Also can you paste the address you were trying to use to transfer funds?  If you can't get it, I'd be happy to try it for you, but I need your payout a

[2019-05-13 15:21] MikaelLazarev commented on #4377
I tried, the same result

[2019-05-13 15:27] MikaelLazarev commented on #4377
Should I have gas to do this transaction? It seems that I have 0.008ETH on this account

[2019-05-13 16:29] thelostone-mc commented on #4377
You don't need to ! It should work 🤔
Could you provide your payout  address (public address ) and we can try to process it for you  ? ^_^

[2019-05-13 16:32] octavioamu commented on #4332
Scope changed, add "worked with you" in user directory cards.
![image](https://user-images.githubusercontent.com/1358093/57638124-7a07ae00-7583-11e9-8cd4-aacd56ddd3b3.png)

[2019-05-13 16:49] octavioamu commented on #4153
nice!
I have some points to discuss/ask are we going to do a call about this feature?

[2019-05-13 16:52] willsputra commented on #4153
yeah I think we can discuss this tomorrow!

[2019-05-13 16:54] kuhnchris commented on #2808
Hey there @oddballbutler - seems like the team is currently in event-travel mode. I added a couple of question and one review point in the PR, please check them and get back to us, if that's fine I think we can go ahead and merge that change in.

Thanks!
Chris

[2019-05-13 17:50] frankchen07 commented on #4264
Thanks for helping to follow up @kuhnchris - looking forward to your work @zoek1!

[2019-05-13 19:03] speedyFixer commented on #3762
@frankchen07 any update? :)

[2019-05-13 19:20] frankchen07 commented on #3762
@speedyFixer - just got to it. Just paid out. Let me know if you've received it!

[2019-05-13 19:25] MikaelLazarev commented on #4377
0x9BB3e5788a7786da32F2575e171CC412f83A9b64
Please!

[2019-05-13 19:44] vs77bb opened #4378 "Action's Required"
### User Story
[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder / contributor, I want a section dedicated to 'actions required' of me. This could be the following.

- You need to approve someone for bounty.
- You need to pay out a bounty
- You may want to cancel a bounty

### Why Is this Needed
Notifications are nice, but they get lost in the shuffle. So do e-mails. If

[2019-05-13 20:30] speedyFixer commented on #3762
@frankchen07 thanks!

[2019-05-13 20:31] speedyFixer commented on #3763
Hi @ceresstation , any update?

[2019-05-13 20:35] octavioamu opened #4379 "Better Matching"
### Why
- better matching of funders and contributors
- easy to find bounties
- make it easy to do automatic crossing between users
- more accurate recommendations

### User Stories
1) Funder Form - Create categories of bounties to do  a better matching:
- Add categories checkboxes to fund form
[ ] FE
[ ] BE
[ ] DESIGN
[ ] DOC
[ ] OTHER

- make keywords and category should be "required"

_Task Bre

[2019-05-13 20:49] owocki commented on #4377
hmm i can't reproduce the issue.  what browser are you on?

I was able to get the funds over to you to your desired payout address ( 0x9BB3e5788a7786da32F2575e171CC412f83A9b64 ) via https://etherscan.io/tx/0x5824da1386670e9de2e92de36f940df88f618ea319224e3f5671bc666201f7c6

[2019-05-13 21:06] owocki opened #4380 "add http request response time chart to datadog"
this will help to see when the site is getting slow

[2019-05-13 21:53] kuhnchris commented on #4379
Wouldn't that be just a "tag" tho?
Or you really want something separate for that?

[2019-05-13 21:55] octavioamu commented on #4379
we want it separate because we already have keywords that can be anything but we want categories to better matching between the interest from hunters and the issue category.

[2019-05-13 21:57] octavioamu commented on #4379
Also there is a lot of bounties with keywords that doesn't reflect for real what skills the worked need, for example is a backend task? is a front end?  if the keyword css and html are there can be confusing.

[2019-05-13 21:59] MikaelLazarev commented on #4377
Thanks, guys! My browser is Google Chrome Version 74.0.3729.131 (Official Build) (64-bit)

[2019-05-13 22:26] frankchen07 opened #4382 "As a Gitcoin user, my avatar is still showing up as random in certain areas of the Gitcoin site."
**Describe the bug**
As a Gitcoin user, my avatar is still showing up as random in certain areas of the Gitcoin site.

**To Reproduce**

Scott Moore [12:24]
Correct yeah
Go to the explorer and scroll you'll see like 20 that pop up that way

Scott Moore [21:30]
I feel like it’s probably not a huge deal but at the same time it kind of violates the consent of the user (I’m not sure how many users act

[2019-05-14 05:03] TheBlockchainDeveloper opened #4384 "Unable to claim bounty"
**Describe the bug**

I received "New Tip Alert", however when I try to redeem I receive the following error message "You must wait until the senders transaction confirm before claiming this tip."

Appears to be the same or similar to this bug: https://github.com/gitcoinco/web/issues/4377

**To Reproduce**

1) click on link on New Tip Alert email "Redeem Tip" button.
2) MetaMask fill automatically

[2019-05-14 06:50] #4377 closed

[2019-05-14 08:23] kuhnchris commented on #4379
OK but do you want to reference those categories from tags or keywords, or is it yet another thing a funder has to fill in order to submit his bounty?
I just wonder if it makes sense to have the funder basically fill out a tax returns' paper amount worth of data to submit a bounty.

[2019-05-14 13:46] vs77bb opened #4386 "Applications On Gitcoin"
To see a worker application, I have to 'View on Github'.

Should there be a place on the Issue Details page (maybe a rollover) where I can see all the applications and make a decision without the extra click?

https://imgur.com/a/G0Ex5Um

Furthermore, once I get to Github, if I want to know how many Github contributions an applicant has, I have to click 1) *back* into their Gitcoin profile and the

[2019-05-14 14:48] willsputra commented on #4336
@PixelantDesign we can do something like this. have a cute, simple animation and give 4 random users when someone clicks on the lever. sounds like a fun thing to do.
![Users Directory No Results](https://user-images.githubusercontent.com/19514207/57707450-3f446980-769a-11e9-81be-48795b1cc978.png)

animation example: https://dribbble.com/shots/5802142-Your-Data-Your-Way

[2019-05-14 16:09] owocki commented on #4384
Thanks @TheBlockchainDeveloper -- what address would you like your tip to go to?

you are using Chrome right?  What version?

[2019-05-14 16:20] Skyge opened #4389 "As a gitcoin user, when I create a grant, I do not want to see duplicate contributors"
### User Story

As a gitcoin user, I want to get the correct number of a grant contributors.

### Why Is this Needed

There are some duplications in the grant contributors, so sometimes it misleads me.

*Summary*:

### Description

*Type*:Feature

### Current Behavior

![image](https://user-images.githubusercontent.com/27282380/57713920-fabecb00-76a5-11e9-97c1-026b773c8f40.png)

As you can above,

[2019-05-14 16:29] Skyge commented on #4389
What a pity! when I have done this, I find I am too naive, there are some more problem about this.
![image](https://user-images.githubusercontent.com/27282380/57714706-a9174000-76a7-11e9-9f53-39adcfc23779.png)
these donations are pending, so we should not count these contributors until the status becomes completed, it should also be corrected at here:
![image](https://user-images.githubusercontent

[2019-05-14 16:32] Skyge commented on #4389
So if there is a necessary, I will continue doing it.

[2019-05-14 16:48] octavioamu opened #4390 "Display Star Ratings on Profile"
As a funder on the Gitcoin platform, I'd like to see how contributors have been rated by other funders.

As a contributor on the Gitcoin platform, I'd like to see how funders have been rated by other contributors.

### What

#4226
![image](https://user-images.githubusercontent.com/1358093/57716175-c53ac300-764e-11e9-8678-7c7c9ab13579.png)

### Why
Increase in quality on the platform

[2019-05-14 17:32] TheBlockchainDeveloper commented on #4384
Yes, I am using chrome version 74.0.3729.131. Thank you. 0x9D329842b5c5eECe3b094E7B4643a081cC6525CC

[2019-05-14 18:23] kuhnchris commented on #4382
Could we simply... clean up this entire mess regarding avatars? We already did some start proposals, but stuff like the 3box.io integration and others are depending on a final decision on the avatars. It kind of died after Mark left, who did some incredible work previously to rework the avatar system (+ color wheel to individualize every part of your avatar) and to unify the avatar system. Right n

[2019-05-14 18:25] kuhnchris opened #4391 "User List - CV links go into the void"
![grafik](https://user-images.githubusercontent.com/761911/57722275-55482f00-7686-11e9-8dab-48412245d192.png)

For some reason, alltho I checked I'm not looking for work, my CV would be displayed, and since I have none provided, it goes into the void (c.gitcoin.co)

## Fix:
Check for content, do not display href if not available.

[2019-05-14 18:57] michaelsena commented on #4369
Thanks for the ping @kuhnchris. @ceresstation and @owocki, at [3Box](https://github.com/3box/3box) we built a way to publicly verify user's github and twitter accounts, as well as privately verify their email address. It can be found here at [3box-verifications](https://github.com/3box/3box-verifications). @kamescg from ConsenSys has implemented our APIs for this into the MeshHub DAO he's working

[2019-05-14 19:20] owocki commented on #4384
i was able to get it claimed and sent directly to you https://etherscan.io/tx/0xe0434f46075c0ba1775405a830700d9db7377134e006f34728cd4d76fecc2df7

hmmm i wonder why ican't seem to repro it tho.   i'm using chrome Version 74.0.3729.131 (Official Build) (64-bit)
Automatically update Chrome for all users Learn more

[2019-05-14 20:59] PixelantDesign commented on #4389
Great ideas! Thanks for the suggestions! Want to help us build it out?

[2019-05-15 00:02] Skyge commented on #4389
@PixelantDesign Yeah, of course. I am doing on it.

[2019-05-15 07:13] mehul0698 commented on #3713
@owocki Hey Kevin, when will you reopen the avatar assets issue?

[2019-05-15 08:30] PixelantDesign opened #4394 "Update SEO Meta Tags"
### User Story
As Gitcoin, we'd like to improve our SEO by updating the meta tags on our site.

### Definition of Done

- Implement recommended meta tags - please reference this spreadsheet - Tab 2
https://docs.google.com/spreadsheets/d/1JklC0fG6U8gF0Nbhoh9otvxpopn26NobXujxLvRUxnQ/edit?usp=sharing
- check after implementation with a SEO tool like the google tools to verify
- Review with @PixelantD

[2019-05-15 08:41] PixelantDesign opened #4395 "Reserve Bounty Should Not Require Approval"
### User Story
As a funder of a bounty, when selecting reserve bounty I'd like to not have to approve a bounty for a contributor I trust and have worked with before.

### Definition of Done
- Implement a fix to this so that when a funder selects reserve approval is not required.
- Uncheck auto approve after 72 hours when reserve bounty is selected.

### Why
- This will make the experience more int

[2019-05-15 08:50] #4169 closed

[2019-05-15 08:57] PixelantDesign opened #4396 "Funder Form - UX Display Contributor Details in Invite to Bounty"
### User Story
As a funder, I'd like more reminders on the recommended contributors I've worked with before.

### Current Implementation
<img width="850" alt="Screen Shot 2019-05-15 at 4 55 09 AM" src="https://user-images.githubusercontent.com/238235/57762538-ab8c9080-76cd-11e9-9a7c-f3ed30239be4.png">

When a contributor is selected, the contributor should be removed from the list
<img width="859"

[2019-05-15 09:01] PixelantDesign commented on #4395
A funder should not need to do this if it's reserved for the contributor:
![image (42)](https://user-images.githubusercontent.com/238235/57762949-75034580-76ce-11e9-8872-0ced50064177.png)

[2019-05-15 09:03] kuhnchris commented on #4396
Maybe add some data, as you mentioned already, either in the list add the stars rating and "last time active".
For the selected one you could use the Profile-Card/Flyout.

Maybe also rename it from "Invite" to something else, it gives a facebook-y game invite-y kind of vibe, so people may not use it in fear to anger contributors.
Maybe "Suggest your bounty to hunters directly:"

[2019-05-15 09:03] PixelantDesign commented on #4396
@vs77bb @ceresstation ?

[2019-05-15 09:10] #4323 closed

[2019-05-15 09:19] PixelantDesign opened #4397 "User Directory - UX Add Ability for Funders to Favorite Contributors"
### User Story
As a funder, I'd like to be able to favorite/save a list of go to contributors in the User Directory.

Idea
https://github.com/gitcoinco/web/issues/4361

### Definition of Done
- Ux what this would look like
- Consider happy and failure paths
- Share with funders and core team for feedback
- Provide final design and final source file on this ticket

### Why
- Help funders find /reme

[2019-05-15 09:23] PixelantDesign commented on #4361
I think the more information we can filter for people on this page the better, if it was possible for me to 'star' a few favourite candidates just based on information on the user screen and view them all that would be ideal (though I recognize this might be kind of high lift).

Good Ideas:

This would be useful on a python search result ( so that the funder doesn't have to search through the cont

[2019-05-15 09:26] PixelantDesign commented on #4361
Agree

Good idea, we need to be careful how we do this, it could divert funders and distract them from completing the fund issue form.

As mentioned I've had a lot of contributors say they wouldn't use this feature. If we can get validation from funders that an hourly rate would solve the problem, we could dig in more on this.

[2019-05-15 09:31] PixelantDesign opened #4398 "User Directory - Sort "Default view" by Contributor number"
### User Story
As a funder I'd like to see the only relevant contributors to fulfill my bounty

### Definition of Done
- Display recently worked on your bounties first.
- Update default view (prior to entering a search) sorting to show contributors by leaderboard number
- Review with core team
- Post screenshot of implementation

- BE sort queries based on above
- add conditions when filtering

##

[2019-05-15 09:36] kuhnchris commented on #4397
Wouldn't it be sufficient to provide a "Star" symbol ☆ --> ★ in the User Directory and/or the Bounty page, so the funder can 'bookmark' those people? And after that, simply pre-sort them on /users by applying an additional filter (for example: is_favorite__eq=true)

... basically you'd create User Favorite Directories with that.

[2019-05-15 09:36] PixelantDesign opened #4400 "User Directory - UX Specific Search Term"
### User Story
As a funder when I search a specific search term or keyword in the user directory, I'd like to see the most relevant information to my search term.

Use Example: Python

### Definition of Done
- Ux and experience where when a search team like Python is inputed. How do we display relevant information on the user's cards.
- Consult with engineering team for tech approach/data availabl

[2019-05-15 09:46] PixelantDesign opened #4401 "User Directory - Email - Design Remind Funder to Use User Directory if Contributor has not been selected"
### User Story
As a Funder I'd like a reminded to checkout the user directory if a  contributor has not been accepted to work on my Bounty after 24 hours.

### Definition of Done
- Design an email that reminds funders to search for a user after 24 hours.
- Consider interesting subject line - Increase your chances of success!
- Consider including this in other emails that Funder's currently get.
-

[2019-05-15 09:51] kuhnchris commented on #4401
* Add an option to opt-out in the user settings
* Add an option to the signal there isn't anyone with the required skill-set i'd like to suggest
[X] I did not see/want anyone suggested in this list with the skill set I need.
* Report to see which tagged bounties have that flag set the most (skill-based analysis)

[2019-05-15 09:52] kuhnchris commented on #4398
* Isn't Leaderboard a weekly measurement? Maybe we should take some long-term measurement into account, like bounties completed, participated, payed, etc.

[2019-05-15 09:53] #4216 closed

[2019-05-15 09:56] PixelantDesign commented on #4379
I chatted iwth Bounties network - this is something they're considering as well.

[2019-05-15 11:02] danlipert commented on #4332
I think adding the prompt that is shown in the designs on the transaction page as the first step of the modal will be easier to implement. I think the question then becomes, do we want to have the user land on the users directory after payout to show this modal, or does the modal appear somewhere else? (maybe on the completed bounty page?) Landing back on the completed bounty page with the modal p

[2019-05-15 12:01] PixelantDesign opened #4402 "Improve Contributor Search Results - Build - Categories"
### User Story
As a funder I'd like to have the right contributors apply for my bounty.

**Hypothesis:** If we add high level categories to all of the bounties, then workers with the correct skills will apply, because contributors will more accurately understand the skills needed to complete the task.

**new categories on the bounty (as it makes them searchable) and the user one (since it makes th

[2019-05-15 12:03] PixelantDesign opened #4403 "Improve Contributor Search Results - Build - Edit Categories in Issue Details"
### User Story
As a funder I'd like to have the right contributors apply for my bounty.

**Hypothesis:** If we add a high level categories to all of the bounties, then workers with the correct skills will apply, because contributors will more accurately understand the skills needed to complete the task.

**new categories on the bounty (as it makes them searchable) and the user one (since it makes

[2019-05-15 12:07] PixelantDesign opened #4404 "Improve Contributor Search Results - Build - Edit Categories in Settings"
### User Story
As a funder I'd like to have the right contributors apply for my bounty.

**Hypothesis:** If we add a high level categories to all of the bounties, then workers with the correct skills will apply, because contributors will more accurately understand the skills needed to complete the task.

**new categories on the bounty (as it makes them searchable) and the user one (since it makes

[2019-05-15 12:17] PixelantDesign opened #4405 "Improve Contributor Search Results - Build - Categories in Onboarding Flow"
### User Story
As a funder I'd like to have the right contributors apply for my bounty.

**Hypothesis:** If we add a high level categories to all of the bounties, then workers with the correct skills will apply, because contributors will more accurately understand the skills needed to complete the task.

**new categories on the bounty (as it makes them searchable) and the user one (since it makes

[2019-05-15 12:20] PixelantDesign opened #4406 "Improve Contributor Search Results - Build - Add Categories to Flyout"
### User Story
As a funder I'd like to have the right contributors apply for my bounty.

**Hypothesis:** If we add a high level categories to all of the bounties, then workers with the correct skills will apply, because contributors will more accurately understand the skills needed to complete the task.

**new categories on the bounty (as it makes them searchable) and the user one (since it makes

[2019-05-15 12:48] #4226 closed

[2019-05-15 12:49] #4390 closed

[2019-05-15 12:49] #4336 closed

[2019-05-15 12:52] PixelantDesign opened #4407 "User Directory - Build No Results Page"
#### User Story

As a user of the user directory, I'd like to have recommendations on what to do when there are no relevant results.

#### Definition of Done

- Build a delightful experience to decrease frustration when a user doesn't find the result they're looking for.
- Build simple animation and give 4 random users when someone clicks on the lever. sounds like a fun thing to do.
- Leverage boo

[2019-05-15 13:16] vs77bb commented on #4396
Some things that would help me (as a funder):

- Job Completion % on Gitcoin (Bounties Done / Bounties Started)
- # of Github Contributions This Year
- Eventually, star ratings (right now, as a funder, I don't know how much to trust these)

As @kuhnchris mentioned, it'd also be nice to organize these by 'active' hunters -- i.e. folks who have contributed to bounties in the last 3 months -- as this

[2019-05-15 13:17] PixelantDesign opened #4408 "Add H1 to Gitcoin.co Blog"
### User Story
As Gitcoin, we'd like to improve our SEO by adding an H1 to our new blog

### Definition of Done
- Add H1 Titled: Open Source News

[2019-05-15 13:21] #4176 closed

[2019-05-15 13:24] vs77bb commented on #4397
I like the star idea! We could also use this information to help surface these contributors to *other* funders.

I.e. Onuwa has 7 stars -- so he gets recommended to more funders, as a result.

[2019-05-15 13:29] vs77bb commented on #4398
@kuhnchris Leaderboard is a [persistent here](gitcoin.go/leaderboard) -- but agree that it'd be nice to include other things.

@frankchen07 I wonder how difficult it'd be to come up with a weighted average of a few things to see what it does.

- number of Github contributions [20%]
- number of bounties completed [40%]
- leaderboard position ($$$ amount made) [40%]

The reason number of Github cont

[2019-05-15 13:31] #4305 closed

[2019-05-15 14:40] PixelantDesign commented on #4401
Include in current funded bounty email.

[2019-05-15 14:41] Skyge commented on #4389
@PixelantDesign I have done, so the result may be look like this:

![image](https://user-images.githubusercontent.com/27282380/57783820-64e87600-7761-11e9-95bd-0f6abf130db7.png)

![image](https://user-images.githubusercontent.com/27282380/57783831-6a45c080-7761-11e9-84aa-6fbfab0250ed.png)

![image](https://user-images.githubusercontent.com/27282380/57783839-6e71de00-7761-11e9-8f96-c2cf3fabc2cd.png

[2019-05-15 14:49] cryptomental opened #4409 "Duplicate users in https://gitcoin.co/users view"
**Describe the bug**
Users are sometimes duplicated in the users view.

**To Reproduce**
Scroll down the page.

**Expected behavior**
No duplicate entries.

**Screenshots**
![duplicate](https://user-images.githubusercontent.com/20819151/57784988-2a66e500-7731-11e9-8f63-d625374e1bb0.png)
![duplicate2](https://user-images.githubusercontent.com/20819151/57784995-2c30a880-7731-11e9-85a3-b6eb15e2d14c.p

[2019-05-15 14:58] PixelantDesign commented on #4408
@octavioamu to investigate

[2019-05-15 15:13] PixelantDesign commented on #4397
Follow on ticket - add opt in on submit work to follow/favorite this funder and stay up to date on their bounties.

[2019-05-15 15:44] PixelantDesign commented on #4409
Thanks for the report @cryptomental!

[2019-05-15 16:03] octavioamu commented on #4409
duplicate of #4353

[2019-05-15 16:11] PixelantDesign opened #4410 "User Directory Build - Backend - Previously Worked With You label"
# User Story

As a funder I'd like to be asked to work with a contributor again.

As a contributor I'd like to be notified if a funder has other issues I can work on, on his repo.

# Why is this important?
- We want to make it easier for funder to continue to find value in the system.
- Show that a contributor has worked with you before

# Definition of Done
- [ ] Build backend of this to show tha

[2019-05-15 16:32] frankchen07 opened #4411 "As a Gitcoin operator, I want to pin all the dependencies and set them to the correct version so that when we deploy, automated tests don't fail."
### User Story

As a Gitcoin operator, I want to pin all the dependencies and set them to the correct version so that when we deploy, automated tests don't fail.

### Why Is this Needed

Lots of things break when dependencies aren't pinned whilst deploying.

### Current Behavior

unpinned dependencies = will try and update

### Expected Behavior

pinned dependencies = won't try and update

### Def

[2019-05-15 16:36] nadirlaskar opened #4412 "can't run docker-compose start web, docker-command.bash is crashing"
**Describe the bug**
 Docker container web is crashing and restarting indefinitely,

**To Reproduce**
Clone the repository [gitcoinco/web](https://github.com/gitcoinco/web)
In the master branch,
Execute `docker-compose up -d --build`
After build,
doing an `docker-compose logs -f web` prints the following error
[code]

**Expected behavior**

- OS: Windows 10

**Additional context**
I am following t

[2019-05-15 16:44] iamonuwa commented on #3760
@emiwatanabe422 can you share the sketch file for this design?

[2019-05-15 16:47] PixelantDesign opened #4413 "Add Email Capture to Gitcoin.co Landing Page"
### User Story
As Gitcoin we'd like to capture emails from contributors and funders and send relevant emails so that they immediately get value out of Gitcoin.

### Definition of Done
- Build Front end of email capture with toggle
- Add this below the Before and After Graphic on the Gitcoin.co homepage
- Build backend to capture emails (these email lists should be able to export to Mailchimp)
- Re

[2019-05-15 16:52] frankchen07 opened #4414 "As a Gitcoin operator, I want to finish up and release the Wyre on-ramp."
### User Story

As a Gitcoin operator, I want to finish up discussion and options around Wyre and release the on-ramp.

### Why Is this Needed

Fiat on-ramp has the potential to lower onboarding blockers and potentially reach out to a new market.

### Description

https://gist.github.com/thelostone-mc/506d2e3aae997ebdf5f5226df7d1fb2e

1. ACH vs debit, additional quick discussion on which would be

[2019-05-15 17:14] thelostone-mc commented on #4407
@PixelantDesign / @octavioamu I don't think this would be an easy task
Would it make more sense to do the same without the animation
On clicking lever -> the list just refreshes?
It's a no results page so probably keeping it simple makes more sense in my head

[2019-05-15 17:20] thelostone-mc commented on #4414
^ I'll give a walkthrough tom. I just got some basic integration 'wyred' up

[2019-05-15 18:03] frankchen07 commented on #4414
ba-dum-ching

[2019-05-15 18:30] PixelantDesign opened #4415 "BE - Divide Gitcoin Users List into two separate personas for designation"
### User Story

As Gitcoin, we'd like to be able to divide our users list into two separate personas: funders & contributors.

### Why Is this Needed
We want to be able to be more targeted about our experiences and messaging.

### Definition of Done

- Work with Frank - figure out the logic - what defines bounty hunger, funder active/inactive
- Translate into Django code
- Write migration to set t

[2019-05-15 18:37] kuhnchris commented on #4398
The question is: do we have github contributions in access? Since this would be a rather big burden on the github API that'd be something that needs to be stored on-site if we need to evaluate it.
Regarding the other measurements:
SUM(GitHub Contrib) * 0.2 + (1 + (25 / Leaderboard Position)) * (Number of Bounties Started / Number of Bounties Completed).
Reason why I add the number of bounties star

[2019-05-15 20:03] SaptakS commented on #4409
So we would need to ensure that no duplicate results appear for all the following queries:

1. For general user directory response
2. With leaderboard filter
3. With skills filter
4. With bounties completed filter
5. With star rating filter.

Each of them has separate filtering in the queryset and need to ensure that the response to none of the filters return duplicate.

[2019-05-15 21:33] vs77bb opened #4416 "Propose Project: Gitcoin Users"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to propose working with top Gitcoin contributors on projects on my Github issue board.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Right now, I

[2019-05-15 22:07] #4408 closed

[2019-05-16 07:30] thelostone-mc commented on #4333
Questions / Asks

- Could I get the sketch file?
- Why is the funder being redirected to the user directory page ?
- Why does the invite button on the loading screen ?  The loading screen is while our transaction gets submitted in the blockchain. It could be take anywhere between 3 - 60 second
Could I get some clarification on that on why we have this here as opposed to on the payout page ?

[2019-05-16 14:01] octavioamu commented on #4413
I believe mailchimp needs name and surname fields
https://mailchimp.com/help/add-a-signup-form-to-your-website/

[2019-05-16 15:27] ceresstation commented on #4189
Could this in part be because DAI is the default currency in the form but ETH is the default currency on checkout? When you load a new issue, the form shows DAI but is filling in ‘ETH’ to the final total
So when you change the denomination to anything else (or even back) it works fine because it triggers a change in the total section.

[2019-05-16 16:38] #4280 closed

[2019-05-16 16:52] willsputra opened #4424 "Matching - Keyword not updated on Users Profile and Directory"
**Describe the bug**

I've updated my skills keywords on Manage Settings > Matching, but it's not updated on Users Directory

**To Reproduce**

1. Go to Manage Settings > Matching and update keyword (e.g. 'design')
![Screenshot 2019-05-17 00 48 07](https://user-images.githubusercontent.com/19514207/57872160-a8b0ad80-783d-11e9-980f-672e5af131a1.png)

2. Search for the keyword on Users Directory(e.g

[2019-05-16 17:39] ceresstation opened #4425 "Add Bounty Fee Refund Permissions to Admin"
### User Story

As an admin I want to be able to refund users who have accidentally or due to platform error paid fees twice.

### Why Is this Needed

We need more people to be filing and distributing refunds so that the turn around time is significantly faster.

### Current Behavior

Currently the solution for refunds relies on Kevin.

### Expected Behavior

The solution for refunds relies on who

[2019-05-16 17:50] frankchen07 commented on #4333
@PixelantDesign or @willsputra

From what I understood on Alisa's explanation, the modal load is currently set up with the user directory page in the back, so naturally, after submission, the modal disappears and the user is left on the user directory page.

Could I get some clarification on that on why we have this here as opposed to on the payout page?

To me, it's logical to pop the question wh

[2019-05-16 23:40] Skyge commented on #4189
@ceresstation I think the default currency is always ETH no matter where you choose, so maybe only you change the denomination, you can use DAI, BTW, I find there is a new style page for `Funds Issue`, maybe it can make a difference.

[2019-05-17 00:14] Skyge commented on #4412
Yeah, `docker-compose up -d --build` and `docker-compose logs -f web` just are equal to `docker-compose up --build`, maybe you have a wrong directory location, you should be at `web`

[2019-05-17 03:30] nadirlaskar commented on #4412
I am running docker-compose from the web directory,

### I am running from root directory, of the following directory structure

[code]
### If I look at the docker-command.bash
[code]

this where the bash is exiting, its not able to `cd` to `app` directory.
the bash script re
[code]

[2019-05-17 08:09] PixelantDesign opened #4427 "Funder Form - When Workers Are Selected - Contributors should be removed from the list"
### User Story
As a funder when I'm selecting workers to invite, I expect the workers to be removed from the list.

<img width="916" alt="Screen Shot 2019-05-17 at 4 06 27 AM" src="https://user-images.githubusercontent.com/238235/57912936-82990680-7859-11e9-9032-f0109f496388.png">

## Definition of Done
- Remove selected workers from the list

[2019-05-17 08:44] PixelantDesign opened #4428 "Design - Contributor Spotlight Page"
### User Story
As a funder I'd like to see who the top contributors on the platform are so that I can engage with them on my projects

### Definition of Done
- Design a page that highlights great contributors
- Decide on number of contributors to show
- Get permission from a few contributors
- Decide where in the nav this should go
- Review funder research notes on what to include
- Potentially in

[2019-05-17 14:02] willsputra commented on #4407
@thelostone-mc I think we can start even without the animation :)
@PixelantDesign what do you think?

[2019-05-17 14:48] willsputra commented on #4427
just to make it clear to anyone who's doing this ticket, here's the expected behavior:
1. if a worker is selected, they should be removed from the list and added to the input box
2. if a worker is de-selected, they should be removed from the input box and added back to the list
![remove](https://user-images.githubusercontent.com/19514207/57936037-457e5400-78ed-11e9-9e26-f7615f3985c2.gif)

cc @octa

[2019-05-17 14:57] octavioamu commented on #4416
So I see some problems with this task:

1. If Im a contributor and see a funder I use to work I will think I can propose that funder to fund an issue for me, so I can work on it and get paid.

2. "invite to bounty" only appears for funders with open issues.

3 . "propose a project" is using terms that are not intuitive, what is "project"?

4. we can do the button inside the modal, flow:  "Invite t

[2019-05-17 15:01] octavioamu commented on #4427
I like it, but for other side I don't see a problem also how is today without removing on click, personally I prefer it static so it don't keep my attention in elements moving and lose the point.
Anyway Im ok with both ways

[2019-05-17 16:01] frankchen07 opened #4430 "As a user who paid for a featured bounty, I wanted it prominently displayed for a set period of time, despite status"
### User Story

As a user who paid for a featured bounty, I wanted it prominently displayed for a set period of time, despite status.

### Why Is this Needed

If someone picks up a featured bounty but abandons it, it no longer shows up as featured, and the funder has to kick the abandoned user off, at which point, the bounty is no longer featured.

### Description

featured bounty gets "overridden

[2019-05-17 16:02] willsputra commented on #4386
Maybe we can display each user's application detail in the flyout? The flyout shouldn't cover the Accept/Reject buttons though.
![Application](https://user-images.githubusercontent.com/19514207/57940843-8da27400-78f7-11e9-844b-64811aa38fab.jpg)

[2019-05-17 16:02] ceresstation commented on #4189
Right but so in the dropdown menu DAI is the first option for me, despite the default currency at the bottom being ETH. Again, not sure if this is the root cause though.

[2019-05-17 16:07] willsputra commented on #4333
@thelostone-mc sketch file
https://github.com/gitcoinco/creative/blob/master/Product/Prompt%20Working%20Together%20Again/Prompt%20Working%20Together%20Again.sketch

[2019-05-17 16:11] frankchen07 opened #4431 "As a Gitcoin funder, having two/three Metamask transactions (Gitcoin fee and bounty amount and potentially featured bounty fee) is causing double payments if any payment in the chain of transactions fails."
### User Story

As a Gitcoin funder, having two/three Metamask transactions (Gitcoin fee and bounty amount and potentially featured bounty fee) is causing double payments if any payment in the chain of transactions fails.

### Why Is this Needed

This is pretty bad UX, and can cause alot of double fee charges.

### Description

- "I had some friction with Gitcoin because it needs to make 2 blockch

[2019-05-17 16:41] frankchen07 opened #4432 "As a Gitcoin operator, I want to patch up security issues related to uploading."
### User Story

As a Gitcoin operator, I want to patch up security issues related to uploading.

### Why Is this Needed

Unrestricted file uploads are a security risk.

### Current Behavior

Unrestricted file uploads
### Expected Behavior

Restricted file uploads using `libmagic`

### Definition of Done
- [ ] restricted file uploads

[2019-05-17 16:42] willsputra opened #4433 "Grants monthly recurring showing negative amount"
**Describe the bug**
https://gitcoin.co/grants/12/gitcoin-open-source-support-fund shows negative amount in Monthly Recurring

<img width="368" alt="Screenshot 2019-05-17 23 39 52" src="https://user-images.githubusercontent.com/19514207/57943024-2ab3db80-78fd-11e9-90e9-63883f6f2abd.png">
<img width="1500" alt="Screenshot 2019-05-17 23 41 45" src="https://user-images.githubusercontent.com/19514207/

[2019-05-17 17:02] lazaridiscom opened #4434 "Gitcoin Bot still spams"
(this is possibly the 3rd time i report this, first time nearly a year ago)

Gitcoin bot keeps spamming issues, distracting again and again with irrelevant pings, see as an example this issue:

https://github.com/TrustWallet/wallet-core/issues/260#issuecomment-492129593

The bugs:

* Bot logic does not detect PRs / PR comments
* Bot logic does not detect issue comments

The Flaws:

* The default-r

[2019-05-17 18:16] octavioamu commented on #4386
@willsputra can we put next to the username? since this other label change depending on the state

[2019-05-17 19:37] PixelantDesign commented on #4433
Thanks @willsputra !

[2019-05-17 20:55] kuhnchris commented on #4434
Well, the description asks for commenting ON the issue, not on a PR, asking us to traverse PRs would probably kill our github api quota once and for all.

That being said, for requests like yours, please ping @PixelantDesign @danlipert @vs77bb or any other of the gitcoin team members, they can set the reminders to about 100 days, which should help for your case.

[2019-05-17 21:12] kuhnchris commented on #4433
uuuuuuh, how does one have negative fundings? is it a contract bug?

[2019-05-17 21:12] kuhnchris commented on #4432
Uh, differently asked: where the F are files uploaded and reused? Avatar? CV?

[2019-05-17 21:20] kuhnchris commented on #4431
Actually - this all seems to inhert the issue that people can cancel parts of contract interactions.
Wouldn't it be better to simply conduct 1 transaction to a "gitcoin proxy contract", which does all the other contracts (in delegation mode, for example the standardbounty one), so there's just a simple point of contact?

[2019-05-17 22:33] frankchen07 commented on #3314
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:33] #3314 closed

[2019-05-17 22:33] frankchen07 commented on #3890
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:33] #3890 closed

[2019-05-17 22:33] frankchen07 commented on #3479
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:33] #3479 closed

[2019-05-17 22:33] frankchen07 commented on #4062
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:33] #4062 closed

[2019-05-17 22:34] frankchen07 commented on #3470
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:34] #3470 closed

[2019-05-17 22:34] frankchen07 commented on #3484
closed via https://github.com/gitcoinco/web/issues/4169

[2019-05-17 22:34] #3484 closed

[2019-05-17 22:56] frankchen07 opened #4436 "Funder FTUX Enhancements"
### User Story

Funder FTUX Enhancements

### Why Is this Needed

Gitcoin is looking at areas to improve in terms of user activation on the funder (supply side) side of the marketplace. We've noticed through user journey mapping that our FTUX onboarding experience can be improved.

### Description

This ticket encompasses several changes:

<img width="1673" alt="Screen Shot 2019-05-17 at 15 52 05"

[2019-05-18 04:00] lazaridiscom commented on #4434
???

The bot spams, just fix it.

[2019-05-18 06:36] fredericksilva commented on #4394
I needd permision for acess the [docs](https://docs.google.com/spreadsheets/d/1JklC0fG6U8gF0Nbhoh9otvxpopn26NobXujxLvRUxnQ/edit?usp=sharing)

[2019-05-18 07:00] Skyge commented on #4189
@ceresstation  Could you please show me a screenshot?

[2019-05-18 10:34] Skyge commented on #4424
It seems like they use different ways to show, that is, you use this way to change keywords, but the code does not use that to show, it uses another way, so no matter what you change, it will not display.

[2019-05-18 12:25] Skyge commented on #4186
@ceresstation Could you please help me to make this bug clear? where does it display `2625 DAI`, I found its total funds is `5000DAI`.

[2019-05-18 12:37] Skyge opened #4437 "Can not click a grant project card."
I am not sure whether this is right. when we look through at the page: https://gitcoin.co/grants/  we can see some open source projects, like this:

![image](https://user-images.githubusercontent.com/27282380/57969617-93599180-79ab-11e9-9b94-1d7c0cbd3c92.png)

As before, we can click a project card, and it will reverse, like this:

![image](https://user-images.githubusercontent.com/27282380/579697

[2019-05-18 15:13] #4348 closed

[2019-05-18 15:28] thelostone-mc commented on #4437
Fixed over at https://github.com/gitcoinco/web/pull/4438 ^_^

[2019-05-18 15:42] Skyge commented on #4437
@thelostone-mc So I can close this issue now?

[2019-05-18 17:40] oogetyboogety commented on #3628
@kuhnchris @owocki FYI I'm sure I made this clear enough but again I had trouble running the Silk profiler until i used these two commits:
https://github.com/gitcoinco/web/pull/3781/files#diff-3f9737c05a00f8739afebff6239e18f4
https://github.com/gitcoinco/web/pull/3781/files#diff-3dc4970f50a896f3b3911da07a463c47

Should I make a separate PR so that these might be merged? What do you guys think?

Th

[2019-05-18 17:52] thelostone-mc commented on #4437
Ah you can't leave it open ! It'll get closed when we merge and deploy
Thanks for the raising the issue mate 🙌

[2019-05-18 18:14] thelostone-mc commented on #4431
@frankchen07 If we decide to do this -> one possible could be updating the std bounties contract / modifying it. We've got some basic code over at https://github.com/gitcoinco/web/pull/3841

Also @kuhnchris is it possible for the proxy contract to invoke the std bounties contract functions which involve transferring tokens on behalf of the user? ( Is that what you were getting at? )
I assumed thos

[2019-05-18 18:19] #4338 closed

[2019-05-18 18:46] thelostone-mc commented on #4181
Btw this issue of rounding the numbers has been resolved ! It was popping up and folks were reporting it so had to throw in the fix a while back 😓

[2019-05-18 21:24] kuhnchris commented on #3628
Hey there @oogetyboogety - thanks for checking in. At this point it looks like your code is commenting out a bit too much, so we prolly have to re-check it. But the idea to add the render functions and other apps to the dynamic SILK profiling makes sense, we just have to extend it to the other apps aswell.
Since @owocki didn't come back at us yet I don't think anything happened up to this point.

[2019-05-18 21:31] kuhnchris commented on #4431
Well, as far as I understand the standard bounty contract, the one who creates the bounty is the only person responsible and able to interact with it (naturally, to avoid random people releasing/adding/rejecting/... the bounty itself). So one thing that needs to be possible, or checked, is, that we can provide the standard bounty contract with the proper owner (the sender of the tx to the proxy co

[2019-05-19 02:36] Skyge commented on #4407
Maybe we can return some similar users, such as when I search user: `skyg`, maybe it could return `The user you were looking for isn't here, do you mean you want to look for user named skyge?`, but there will be another question, if I just input `s`, it will return many users whose name contains `s`, so maybe we can use a drop list.

Yeah, this is really fun enough.

[2019-05-19 08:30] thelostone-mc commented on #4333
Ah that makes sense. Payout page is not a smart idea. derp derp

@frankchen07 coolio! I can roll with it but just saying that since this is a loading page -> there are chances that the button would vanish before the user can click on them. It may be frustrating as there is no other way to access the modal. ( or is there ? )
Also right now this loading screen is used throughout the app. (grants / k

[2019-05-19 10:20] thelostone-mc commented on #4431
@kuhnchris yeah that's what I'd thought ! the bounties contract does have the means to switch owner.
The only thing on my mind is

- create a proxy contract and do what you said OR
- std bounties has a v2 version and if we were to update that we'd be able to address all these issues

will have to check it out

[2019-05-19 14:01] kuhnchris commented on #4431
Does Std. Bounties Contract have a road map? Not sure if they have "include fees for services" on their road map, so it may be a futile attempt to wait...

[2019-05-19 14:31] kuhnchris opened #4440 "[Profile/Flyover/Card] Allow pinning of kudos"
### User Story
As a gitcoin contributor and user I want to show off my swag and pin a number of kudos I received to show that I'm a big catch around here.

### Why Is this Needed
Currently there is no way to show my swag.

### Description
*Type*: Feature

### Current Behavior
Cannot swag

### Expected Behavior
Swag

### Definition of Done
Showing (small) Kudos icons on the profile flyout.

### Add

[2019-05-19 14:49] kuhnchris opened #4441 "[Kudos] Ambo Launch Kudos' Lambo SVG is broken"
Seems like the SVG bolted.

![grafik](https://user-images.githubusercontent.com/761911/57983786-0ae3fb00-7a56-11e9-8f55-3ab5e4b1c2bd.png)

https://gitcoin.co/kudos/2619/ambo_launch_kudos

[2019-05-19 14:52] kuhnchris opened #4442 "[Kudos/Contract] ipfs(.gitcoin.co) is retired, breaks contract URIs"
**Describe the bug**
According to @danlipert the ipfs.gitcoin.co server is retired in favor of ipfs-2.gitcoin.co
If you query the kudos contract and ask for the TokenURI you still get ipfs.gitcoin.co.
This could cause external applications to lose functionality for the ERC721 Token!

**To Reproduce**
Query Kudos Contract, for example Token 364, try to open resulting URL

**Expected behavior**
Not

[2019-05-19 16:44] kuhnchris commented on #4434
@PixelantDesign @vs77bb @danlipert the bot keeps spamming althou we suspended it for 100d.
Please check.

[2019-05-20 02:18] frankchen07 commented on #4432
@kuhnchris - this ticket was deliberately left vague as to not explicitly let the public know of the vulnerability itself (maybe overly cautious, but better safe than sorry). It's a core ticket that has been brought to @danlipert - feel free to reach out to him directly on Slack if you'd like to the lowdown!

[2019-05-20 07:34] PixelantDesign opened #4443 "Grants Error When Trying to Edit"
**Describe the bug**

I have started this grant:  https://gitcoin.co/grants/103/tradescope-investigating-market-manipulation

When I visit the grant page and try to edit, I get this message: "Looks like your grant has been created with 0xFE222247735B3C7Ef099BA761F9477450f5256fE. Switch to take action on your grant."

However, this is the address I'm currently logged in with metamask.

**Desktop (p

[2019-05-20 07:40] PixelantDesign commented on #4442
Thanks for the report @kuhnchris!

[2019-05-20 07:44] PixelantDesign commented on #4441
Thanks @kuhnchris !

[2019-05-20 07:54] PixelantDesign commented on #4440
Cool idea @kuhnchris ! Want to help us mockup where this could go?

[2019-05-20 09:06] madayerweb commented on #4394
Hey @PixelantDesign would you grant permission for the [docs](https://docs.google.com/spreadsheets/d/1JklC0fG6U8gF0Nbhoh9otvxpopn26NobXujxLvRUxnQ/edit?usp=sharing) requested by josgayr@gmail.com? Thank you

[2019-05-20 10:37] kuhnchris commented on #4434
After short discussion with @PixelantDesign here are some ideas for @vs77bb / @owocki  / @danlipert / whoever is on the team right now to check:
- Check if this issue is maybe multiple times in the database
- Check if maybe my authorisations are not sufficient anymore for snoozing 100d
- Set the gitcoinbot check date for this issue to next year
- try to blacklist the issue for now if nothing else

[2019-05-20 13:18] lazaridiscom commented on #4434
17 contributors...

https://github.com/gitcoinco/web/blob/5fe0b5a90d876e0ba9ff83769143927059e966ba/app/dashboard/notifications.py

The code needs to be refactored a little bit, mainly moving the state-machine related code to an own file, so maintenance becomes easier.

I noticed that the issue-count is >1K, still, the bot defect is of high-severity, simply because it makes gitcoin look unprofessio

[2019-05-20 13:23] danlipert commented on #4442
Should be an easy fix, just need to add an ipfs.gitcoin.co DNS entry and update the nginx config on ipfs-2. Quick question on this though, what is the tokenURI used for, and why does it point to a specific domain rather than just the IPFS CID? @owocki

[2019-05-20 13:29] octavioamu commented on #4441
What browser is? Seems to me that is working fine in chrome.
![image](https://user-images.githubusercontent.com/1358093/58025089-0d903000-7aea-11e9-953b-c4e8a5eb03c3.png)

[2019-05-20 13:37] octavioamu commented on #4413
We need to decide where (which account) are we going to host the lists so I can put the right codes in the forms

[2019-05-20 13:43] kuhnchris commented on #4442
From the EIP:
    /// @notice A distinct Uniform Resource Identifier (URI) for a given asset.
    /// @dev Throws if `_tokenId` is not a valid NFT. URIs are defined in RFC
    ///  3986. The URI may point to a JSON file that conforms to the "ERC721
    ///  Metadata JSON Schema".
    function tokenURI(uint256 _tokenId) external view returns (string);

The RFC in question:
https://tools.ietf.org/ht

[2019-05-20 13:43] kuhnchris commented on #4441
Firefox

[2019-05-20 13:51] kuhnchris opened #4444 "[Kudos, Profile] Broken "Sent Kudos" page (Firefox)"
**Describe the bug**
Various problems, see attached screenshot

**To Reproduce**
go to my profile (gitcoin.co/profile/kuhnchris)

**Expected behavior**
not broken

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/58026574-0e8b8680-7b17-11e9-8613-864ab0f10935.png)

**Desktop (please complete the following information):**
- OS: Win10
- Browser: Firefox
- Browser Version: La

[2019-05-20 13:53] kuhnchris commented on #4443
I'll try to contact him to get this fixed ASAP

[2019-05-20 13:56] kuhnchris commented on #4443
FYI I also get the same issue (albeit without the address) on my grant:
![grafik](https://user-images.githubusercontent.com/761911/58026907-d8023b80-7b17-11e9-9fd5-5befdf0553e7.png)

[2019-05-20 14:23] owocki commented on #4434
hoping to have time to look into the root fix for this soon, in leiu of that - i just set the snooze_days to 10000000 instead of 100

[2019-05-20 14:57] kuhnchris commented on #4282
Proposal:
![grafik](https://user-images.githubusercontent.com/761911/58031038-eb190980-7b1f-11e9-8713-997902884067.png)
![grafik](https://user-images.githubusercontent.com/761911/58031102-071cab00-7b20-11e9-8054-c63c56adbdf6.png)

-- tabs 2:
![grafik](https://user-images.githubusercontent.com/761911/58031147-1dc30200-7b20-11e9-8ce8-f4b07fa2646f.png)

-- tabs 3:
![grafik](https://user-images.github

[2019-05-20 16:14] kuhnchris opened #4445 "[Grants] Cannot reown own grant"
**Describe the bug**
Got a contract/grant created on a different eth account, want to have my main account having control over it. trying to change owner addr.

**To Reproduce**
not sure.

**Expected behavior**
tx to change owner, esto presto working fine.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/58036289-09d0cd80-7b2b-11e9-99db-3bc7442f1b83.png)

**Desktop (plea

[2019-05-20 16:35] frankchen07 commented on #4333
which flow exactly is this? just the normal one? (I think that's what you're talking about)

so you're suggesting after the waiting / confirmation page, it deposits the user back to the bounty page with the status 'done', which is where we pop the modal or question for re-interaction with the user.

I think the problem with that currently is the modal can only pop up with the user directory in the

[2019-05-20 16:40] kuhnchris commented on #4434
negative @owocki
![grafik](https://user-images.githubusercontent.com/761911/58037851-b3658e00-7b2e-11e9-8a13-3ffcbd4b8794.png)

[2019-05-20 17:11] frankchen07 opened #4446 "As a Gitcoin operator, create a more pleasant experience for requesting Gitcoin refunds."
### User Story

As a Gitcoin operator, create a more pleasant experience for requesting Gitcoin refunds.

### Why Is this Needed

We're experiencing additional volume on users who are requesting refunds, and we want to ensure a good experience for funders. Expecting users to mail us and ping Scott for refunds is not a pleasant experience.

### Description

Additional changes:

1. ensure that the r

[2019-05-20 18:15] owocki commented on #4424
Matching SEttings updates the `EmailSubscriber` object not the `Profile` object.  It should probably update both, and we should perhaps have some other way of making sure that those two objects keywrods are kept in sync.

[2019-05-20 18:34] owocki commented on #4111
@Kumo-YZX can you apply for, and submit work on, the gitcoin bounty so i can pay you?

[2019-05-20 18:50] owocki commented on #4434
5dea572fde5fe090f7a9b3537c9b248aabdc48a0 should help; still testing to make sure it fixes root cause

[2019-05-20 19:37] nadirlaskar commented on #4409
The issue seems to be [here](https://github.com/gitcoinco/web/blob/86ae6ce39cdce252df96ca332f485f81e4bd54f8/app/dashboard/views.py#L773),
Here,
`Profile.objects.prefetch_related('fulfilled', 'leaderboard_ranks', 'feedbacks_got')`
`prefetch_related` is returning duplicate users after joining is the issue for repeating users

I can work on a fix for that,
Currently waiting for approval in gitcoin

[2019-05-20 20:39] ceresstation commented on #4189
https://gyazo.com/677609cd7ed8b39c575f5fd8e82f8253

[2019-05-20 20:43] owocki commented on #3628
no i didnt turn on django silk profiler.  my assumption was that whomever was going to do this ticket was going to do that.  after all the scope is "Profile the Gitcoin API and figure out why it's slow"

it's fairly easy to do after running `sync_geth` to pull the bounties from the mainnet.

i tried multiple times to get #3781 to work but never was able to.  i posted notes on that PR

[2019-05-20 21:17] kuhnchris commented on #3628
So you are saying the issue is bad enough that you actually want to merge in productive slowing-down profiling code instead of just doing a profiling session?
I mean, fair enough, it's just that you shouldn't really ever do this on prod...

We can send in a PR to activate SILK, no problemo...
but please be aware of the security risks of exposing those things to the public, we need to ensure it's a

[2019-05-20 21:48] owocki commented on #3628
i did not say that at all, no.

[2019-05-21 02:08] owocki commented on #4178
@mul1sh hows it going?

[2019-05-21 02:15] owocki commented on #4415
@willsputra has done some great work on a dashboard design that allows uesrs to toggle between funder mode and coder mode..

[2019-05-21 09:19] thelostone-mc commented on #4333
Ah that gives me enough to start off ^_^ thanks @frankchen07

Also

^ is this already built out ?

[2019-05-21 09:48] thelostone-mc commented on #4436
@frankchen07 what qualifies as a new user / returning user ?

Is a new user one who's never
- never visited the site OR
- who's never created a bounty OR
- who's never created a bounty but has worked on bounties ?

Is a returning user one who's never
- created / worked on a bounty OR
- created a bounty?

[2019-05-21 10:07] kuhnchris commented on #4434
@owocki did you block the original poster?
![grafik](https://user-images.githubusercontent.com/761911/58087550-0e47c580-7bc1-11e9-8b86-c43019ad9161.png)

[2019-05-21 11:35] mul1sh commented on #4178
@owocki i'm on track to finishing this by tomorrow, thanks

[2019-05-21 14:09] Skyge commented on #4189
I think ETH is always the default currency, but it look like a little weird, cause some token are duplicate, like  this:
![image](https://user-images.githubusercontent.com/27282380/58103018-d8ccc780-7c14-11e9-9cf3-8f0c7a4da493.png)

[2019-05-21 15:28] oogetyboogety commented on #3628
Hmmm i was thinking there is the ENABLE_SILK option in the code for dev, environment. The two commits I referencex fix thst option for the dev environment, and for prod i sugvest we sit down for a ssssion as suggested. I at least got it working ad well as a call graph with metrics if you guys want to take a look at that

Get Outlook for Android<https://aka.ms/ghei36>

_____________________________

[2019-05-21 15:46] willsputra commented on #4401
@kuhnchris @PixelantDesign thoughts?

I'd love to show a list of suggested users right inside the email, but I think asking funders to check out the Users Directory should be enough for the first version.

![Weekly Recap](https://user-images.githubusercontent.com/19514207/58110414-0d934b80-7c22-11e9-9da5-54f1cde701a9.jpg)

[2019-05-21 16:00] willsputra commented on #4397
How about a heart? We're already using stars for the ratings, might confuse people if it shows up for two different use cases.

I agree with @kuhnchris' idea of having an additional filter! We can display it on the sidebar as 'Favorites' filter.

![heart](https://user-images.githubusercontent.com/19514207/58111506-269cfc00-7c24-11e9-9805-5311155ea98d.png)

[2019-05-21 16:01] kuhnchris commented on #4401
Maybe throw in 2 or 3 suggestions in the "Seems like you haven't picked an applicant" block, not sure if I want to have it above or below the entries. I think above would make the most sense to me.

Aside from that, LG2M

[2019-05-21 16:56] owocki commented on #4434
@kuhnchris yes, Lazaridis has been warned repeatedly about our code of conduct after repeatedly violating it and has refused to change his behaviour.

I'm still committed to fixing the root issue.

[2019-05-21 17:07] Kumo-YZX commented on #4111
Thanks.. You can connect me if there are further problems.

[2019-05-21 17:44] acolytec3 commented on #4292
Is this still an open bounty?  I'd like to work on it if so as it was a pain point for me when working on another PR and would love to take a stab at resolving.  :-)

@danlipert, any input what direction you are looking to take regarding where test data/contracts should live (localnet vs rinkeby) given @kuhnchris's comment?

[2019-05-21 17:57] owocki commented on #3907
@iamonuwa whats good?  you think you can complete this soon?

[2019-05-21 18:20] vs77bb opened #4450 "Send Payout Reminder: Notify Admins, Too"
'Send Payout Reminder' should send a persistent reminder to admin's / the funder until the issue is paid out / resolved.

[2019-05-21 18:20] vs77bb commented on #4450
![image](https://user-images.githubusercontent.com/23297747/58120610-95059e00-7bd3-11e9-8364-8130ab07a77f.png)

[2019-05-21 18:21] octavioamu commented on #4416
@vs77bb should be reserved or invite the one to autofill?

[2019-05-21 19:31] owocki commented on #4395
cc @pinkiebell who worked on the original scope

[2019-05-21 19:38] owocki commented on #4382
@frankchen07 which users avatar is random and can i have a link to their profile?

[2019-05-21 19:38] owocki commented on #4085
@PixelantDesign ^^

[2019-05-21 19:48] vs77bb opened #4451 "Group Approvals On Bounty Details"
Should we group these, instead of having 3 lines? https://imgur.com/a/jhXuKFb

[2019-05-21 19:53] vs77bb opened #4452 "Prompt To Remarket When Removing Workers"
Remarketing a bounty: when I 'Stop Work' on a hunter, can I be redirected to the 'Share Model to allows me to invite 5 new people? so its not sitting in a bad place forever?

- When using the 'Share' button, the invite action does not prepopulate with top hunters.
- Should we prompt funders who lose their worker to invite 5 people?

https://imgur.com/a/FE4EV23

[2019-05-21 20:09] owocki commented on #2808
@danlipert @PixelantDesign can we pls get this reviewed?  thanks

[2019-05-21 20:17] owocki commented on #4264
how goes?

[2019-05-21 20:38] owocki commented on #4365
we could also de-dupe it in the expiration_start_work mgmt command

[2019-05-21 20:59] kuhnchris commented on #4397
help me out - aren't we using the heart already somewhere on the bounties?
If no - fine by me
If yes - no, confusing.

[2019-05-22 05:38] Skyge commented on #4189
@ceresstation Can we make a brief video discussion? you can contact me with this Email (1506186404li@gmail.com)
 to decide a suitable time.

[2019-05-22 05:44] Skyge commented on #4186
@ceresstation Could you please help me to make this bug clear? where does it display 2625 DAI, I found its total funds is 5000DAI.

[2019-05-22 05:49] Skyge commented on #4389
@PixelantDesign What do you think about this change? should it behave like this? or is there something else to modify?

[2019-05-22 14:36] #4410 closed

[2019-05-22 16:11] frankchen07 commented on #4436
someone who does not have a gitcoin/github profile hooked up

a user that does have a gitcoin/github profile hooked up - if they're using an incognito window, they should experience the new user ftux flow.

does that answer your qq?

[2019-05-22 16:50] owocki commented on #4346
case insensitive pls

[2019-05-22 17:46] #4232 closed

[2019-05-22 17:46] #4245 closed

[2019-05-22 17:46] #4328 closed

[2019-05-22 17:47] #4327 closed

[2019-05-22 17:47] #4326 closed

[2019-05-22 18:42] owocki opened #4458 "grants that have a lot of contributors are slow"
[code]

scope of this is to optimize the initial load of this page so it's not super slow

[2019-05-22 20:47] vs77bb opened #4463 "Make A Gitcoin Request!"
### Who
I want **you** to make a [Gitcoin Request](https://gitcoin.co/requests/) for a Github issue on a Web 3 / Ethereum repo.

### What
- [Request a bounty](https://gitcoin.co/requests/) be added to a 'Good First Issue' / 'Help Wanted' on a Web 3 repo
- Create an issue yourself for an interesting integration, like integrating ENS into a Web 3 project or suggesting a project integrate Bloom, Augu

[2019-05-22 21:32] owocki opened #4465 "As a user who is annoyed by Gitcoin's emails, I want a 'surgical unsubscribe' button so I can unsubscribe from one email in one click."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user who is annoyed by Gitcoin's emails, I want a 'surgical unsubscribe' button so I can unsubscribe from one email in one click.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2019-05-22 22:12] owocki opened #4468 "as a funder, if a bounty doesn’t work then frame it as ”lessons learned” not “the product doesn’t work” - give lessons learned to funders at this moment so i can learn how to do better bounties"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, if a bounty doesn’t work then frame it as”lessons learned” not “the product doesn’t work” - give lessons learned to funders at this moment so i can learn how to do better bounties

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current s

[2019-05-22 22:38] owocki opened #4469 "after a tip is sent, delete any private information about that tip from the useres local browser"
after a tip is sent, delete any private information about that tip from the useres local browser

1. Remove the “ethereumAccounts” entry from localStorage for each user/guest who visits your pla orm from now on. It will prevent the use of keys from previous  ps if someone has already discovered vulnerability.
2. Startng from now, when sending Tps, do not save any data about the “secure proxy addre

[2019-05-22 23:12] lychees commented on #4111
Well done indeed! @Kumo-YZX
And thanks all.

[2019-05-22 23:18] speedyFixer opened #4470 "Currently Working (4) tab under profile is showing wrong information"
**Describe the bug**

1. I go to https://gitcoin.co/profile/
2. I see repeated records for a no approved bounty (I'm not working in it, only Work Applied)
3. I got to the bounty for check the info and I see another gitcoiner was approved and I have enable the stop button and disable the submit work button

**To Reproduce**

I only apply to the bounty.

**Expected behavior**

No records showed abou

[2019-05-23 00:11] oddballbutler commented on #2808
@kuhnchris ok thanks. I won't be able to work on it for a few weeks though.

[2019-05-23 07:43] nanspro opened #4471 "Hovering on my own profile on any bounty gives TypeError"
**Describe the bug**
When i go to any bounty page, i can hover on other users profile picture to see their stats,their profile but when i move over my own picture it shows **`TypeError: Cannot convert undefined or null to object`**

**To Reproduce**
Go to any bounty on which you have applied or started work, hover on your profile picture.

**Expected behavior**
It should show my profile stats just

[2019-05-23 07:47] nanspro commented on #4471
I think this is user dependent, i noticed hovering on some other users profile also gives weird error like these
On @iamonuwa
![Screenshot from 2019-05-23 13-14-05](https://user-images.githubusercontent.com/24641089/58234801-06248d00-7d5d-11e9-8b73-b79577d6abe1.png)

On @janus
![Screenshot from 2019-05-23 13-14-23](https://user-images.githubusercontent.com/24641089/58234804-07ee5080-7d5d-11e9-9491

[2019-05-23 08:13] Skyge commented on #4424
@owocki  Is it necessary to keep both same fields at the same time? Since they represent the same meaning, why not just keep one? If keeping one, which one? `Profile` or `EmailSubscriber`?

[2019-05-23 09:19] janus commented on #4471
It is a random event, and I have witnessed it these days. It happened to me
not when hovering mouse but at odd times.

On Thu, May 23, 2019 at 8:47 AM Rahul Bishnoi <notifications@github.com>
wrote:

--
P.S Please join our groups*:  *nigeriaarduinogroup@googlegroups.com
* or *jifunze-kufikiria@googlegroups.com  These are platforms for learning
and sharing  of knowledge.

[2019-05-23 11:13] PixelantDesign opened #4473 "Front-End Support Work Together Again"
### User Story
As a Funder of Gitcoin I'd like to work with a contributor again post payout of a bounty.

### What
Front End Support  for @thelostone-mc

[2019-05-23 11:30] kuhnchris commented on #2808
It depends on how fast @owocki and co needs it, if it's just regarding the settings move we can do it was well, if it's suddently urgent. else, we'd wait, i guess. :-)

[2019-05-23 13:50] owocki commented on #4424
not every emailsubscriber has a profile, but other than that.. thats a valid fix path too IMHO

[2019-05-23 14:59] frankchen07 commented on #4382
@owocki I don't see it too often, but there are still some purple avatars (unless they're able to make a purple avatar on their own). Two examples:

@axelios
@trinhvv

They're also duplicated in the user directory, but that's a different story.

[2019-05-23 15:33] owocki commented on #4382
i'd happily clean them up, i was waiting to hear back on https://github.com/gitcoinco/web/issues/4085#issuecomment-483099985 tho -- should i just go for it?

[2019-05-23 19:02] frankchen07 commented on #4382
yeah go for it, I think the decision to remove randomly generated avatars has at least 3 backers.

[2019-05-23 19:18] owocki commented on #4382
ok deleting them now.  should take < 15 minutes to delete them all

[2019-05-23 20:37] filips123 commented on #4463
@vs77bb There is some problem with your comment. You didn't put `https://` before URLs so they are now relative and unexisting.

[2019-05-23 20:40] owocki commented on #4424
just submitted a PR to fix this ^^

[2019-05-23 20:52] filips123 commented on #2536
This is still an issue, also with other browsers.

This is some example URL which currently has this bug:
https://gitcoin.co/explorer?experience_level=beginner&network=mainnet&idx_status=open&permission_type=permissionless&order_by=-web3_created

![slika](https://user-images.githubusercontent.com/16626308/58285649-74913b80-7dad-11e9-94b7-c99c978e05d5.png)

[2019-05-24 04:22] willsputra commented on #4306
something like this? ![application email](https://user-images.githubusercontent.com/19514207/58302571-76471780-7e1e-11e9-8815-e2e18c972a58.jpg)

[2019-05-24 10:42] kuhnchris commented on #4306
5 is already pretty long... also write somewhere what the sorting criteria is, else people will get offended because "I want to me at the top" and stuff like that. (Like, Applicatants ordered by avg. rating of the community)

[2019-05-24 11:10] PixelantDesign opened #4480 "Funder Form - Display Default settings in collapsed accordian"
### User Story
As a funder of a Gitcoin bounty, I'd like to know what the defaults are of the collapsed fields - specifically the Project type. Or we should have a link to prompt completing the field if we need this to complete funding an issue.

### Why
Collapsed fields are unclear

### Definition of Done

- Consider how information would display
- Provide mockup with updated text
- Review with c

[2019-05-24 13:24] willsputra commented on #4306
@kuhnchris good points! thanks for the feedback. :) how about limiting it to 3? I've also added some explanation about the sorting criteria.

![applications](https://user-images.githubusercontent.com/19514207/58330754-2b52f180-7e6a-11e9-9a91-5d1b8e802533.jpg)

[2019-05-24 13:35] danlipert commented on #4292
Hi @acolytec3 - I'd love for you to work on this bounty, I just sent you an invite via email as well. And yes, lets put all the blockchain data on rinkeby please 👍

[2019-05-24 13:36] owocki commented on #4434
looks like my fix for the gitcoinbot issue worked!  closing this issue now

[2019-05-24 13:36] #4434 closed

[2019-05-24 13:41] danlipert commented on #4333
@thelostone-mc The modal is already built, click invite to bounty on a user tile in the users directory when you have active bounties funded

[2019-05-24 17:03] octavioamu commented on #4480
a good solution could be to add near the bottom a summarize data of the bounty. In that way we can keep the sections collapsed but inform the user what is being to be created.

[2019-05-24 21:46] Swader opened #4482 "Grant description formatted while logged in, lacking newlines when logged out."
**Describe the bug**

When I'm logged in:

![image](https://user-images.githubusercontent.com/1430603/58358145-f781c700-7e7d-11e9-92c1-d0d7ea3b47e9.png)

When I'm logged out:

![image](https://user-images.githubusercontent.com/1430603/58358162-07011000-7e7e-11e9-8393-c522e6a6a922.png)

**To Reproduce**

Visit https://gitcoin.co/grants/102/nimbus when logged in vs logged out

**Expected behavior**

[2019-05-25 01:29] owocki opened #4483 "DESIGN - gitcoin bot creatives -- Summer 2019 / 4th Edition"
At Gitcoin, We <3 Bots.

Checkout all the fun bots we've done before:

<img width="951" alt="Screen Shot 2019-05-25 at 2 45 47 PM" src="https://user-images.githubusercontent.com/513929/58374477-0313d300-7efc-11e9-916f-279547e464bd.png">

This is a bounty to create more Gitcoin Bots.

# Pricing

i'll pay 35 DAI per artwork that looks good, 45 DAI if i really really love the piece.

i'll pay for 2 b

[2019-05-25 01:35] owocki commented on #3712
new bot ticket!

@nasehim7 @Virtual-Face @mehul0698 @emiwatanabe422 https://github.com/gitcoinco/web/issues/4483

[2019-05-25 01:35] #3712 closed

[2019-05-25 08:32] kuhnchris commented on #4306
perfect, that looks really nice to me, any other comments @PixelantDesign  ?

[2019-05-25 08:36] kuhnchris commented on #4292
Hey @danlipert  - great, thanks for the info!
@acolytec3 - most of the stuff should be syncable via opensea/rinkeby (kudos, bounties), the contracts should be available in the settings.py for rinkeby, if you are done, the easiest would prolly be to dump the data via django dumpdata and django loaddata as you mentioned (https://docs.djangoproject.com/en/2.2/howto/initial-data/), that can easily be

[2019-05-25 18:42] kuhnchris commented on #4282
@PixelantDesign any infos here?

[2019-05-25 20:39] owocki commented on #4483
hey all, just so people have this bit of information. the most popular gitcoin bots at Ethereal were
- heart bot
- genie bot
- star wars inspired bots

if you want to figure out how to make a 'legendary' 4th edition bot, maybe take this list as inspiration :)

[2019-05-25 23:13] kuhnchris opened #4484 "waffle.io is gone - remove references"
**Describe the bug**
Waffle badge on repository

**To Reproduce**
Check repository

**Expected behavior**
-

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/58375444-7ac11c80-7f53-11e9-95cb-fd1699322386.png)

[2019-05-26 03:27] owocki opened #4485 "as a user who is contributing to gitcoin grants and wants to tip gitcoin, i wnat to be able to do it on old grants too, so i can tip on the grants that accomodate 99% of the platform"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who is contributing to gitcoin grants and wants to tip gitcoin, i wnat to be able to do it on old grants too, so i can tip on the grants that accomodate 99% of the platform

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what

[2019-05-26 09:33] troggy opened #4486 "cannot approve worker"
**Describe the bug**
I've created a bounty here: https://gitcoin.co/issue/leapdao/bridge-ui/214/3040. Several people applied, but I cannot approve worker — when I click approve, page is refreshed with warning message on top.

Page URL: https://gitcoin.co/issue/leapdao/bridge-ui/214/3040?mutate_worker_action=approve&worker=pbteja1998
Message: "This worker does not exist or is not in a pending state

[2019-05-26 09:35] troggy commented on #4486
well, for some reason it worked for other worker 🤔No idea what is going on

[2019-05-26 09:48] troggy commented on #4486
it appears to be related to that duplication on the list: I couldn't approve workers applied to one of them, while I could approve workers applied to "other". Yet both entries on the list link to the same bounty page 🤯

[2019-05-26 09:58] kuhnchris commented on #4484
see #4487 .

[2019-05-26 10:01] kuhnchris commented on #4482
Can confirm on firefox aswell.

[2019-05-26 10:08] kuhnchris commented on #4482
The reason for this is that the description field for admins and people who are owner of the grant is displayed as "textfield", which makes correct use of the "\n" in the text, but for everyone else it's just a <p> container that cannot handle the line breaks, they must be converted to <BR>s, or everyone gets a textbox that is disabled, as you do with the "you are not owner" message.

https://gith

[2019-05-26 18:23] danlipert commented on #4485
@owocki I discussed this with some folks on the Friday war room but we could pretty easily add the optional tips to one-time donations on old grants. I didn't add it because I thought it would be odd to have the tip interface appear and disappear depending on if you select recurring or one-time, and I think optimally we'd like recurring donations as per our sustainability mission. That being said,

[2019-05-26 18:50] #4484 closed

[2019-05-26 18:51] #4473 closed

[2019-05-26 19:00] thelostone-mc commented on #4486
I believe it's cause your type of bounty allows you to approve only one bounty hunter at a given point of time and travis has already been approved.
Changing the bounty type to co-operative bounty would probably fix it if you have multiple workers working on it. If not you'd have to reject the previous worker and approve the new worker.

<img width="1116" alt="Screenshot 2019-05-27 at 12 26 47 AM"

[2019-05-26 19:44] #4060 closed

[2019-05-26 19:45] thelostone-mc commented on #4471
@iamonuwa

[2019-05-26 20:48] fincrypchain001 opened #4489 "STOP ISSUE"

[2019-05-26 20:48] #4489 closed

[2019-05-26 23:20] owocki commented on #4486
just approved that worker on your behalf.  thte dev team is working on root cause addressment on our slack channel now

screenshot confirmation: http://bits.owocki.com/cb1b78a3dddf/Image%202019-05-26%20at%205.20.24%20PM.png

[2019-05-26 23:51] owocki commented on #4486
root cause fix is at https://github.com/gitcoinco/web/pull/4490

[2019-05-27 05:00] owocki commented on #4485
yea, i think this is the least worst option.  short of redeploying everyones grant contracts, i think this is the way we have to go.

[2019-05-27 05:02] nanspro commented on #4471
@thelostone-mc  https://gitcoin.co/issue/ethereum/remix-ide/1951/2977 try to view mine or @iamonuwa 's preview cards and you'll get some error.

[2019-05-27 05:17] owocki opened #4491 "double check the burner grant -- is the amount exactly correct?"
https://twitter.com/odyssyautomaton/status/1132030669465350145?s=12

i think the amounts need to be compared to the amounts onf hte blockchain.

ideally we can compute them deterministically via looking at the blockchain (at any time), instead of having to add / subtract in a non deterministic way (when a new contribution is saved).

[2019-05-27 06:07] pinkiebell commented on #4395
@owocki
Sorry for the late answer. I'm loaded with things, feel free to bounty this 😊

[2019-05-27 07:24] santteegt commented on #4122
This might be improved by using The Graph. I've been working on something [here](https://github.com/santteegt/gitcoin-subgraph)  during a hackathon

[2019-05-27 10:23] troggy commented on #4486
I've approved Travis only after my initial failure with pbteja1998

[2019-05-27 12:42] willsputra commented on #4480
I like @octavioamu 's idea! Will mock this up :)

[2019-05-27 13:04] danlipert commented on #4469
I spent some time looking at this issue and can confirm we'd need a serious, targeted XSS for an attacker to gain access to the secure proxy address. That being said I've put together a very small PR that I will get tested and ready to deploy soon.

[2019-05-27 13:54] ririen commented on #4469
When I reported it to @owocki  privately, I found this to be something critical, although in practice it is difficult to consider it as a bug of such a high category because access to the victim's computer / browser is required.

However, approaching this from a different perspective, the threat is very real, especially if attacker manages to find XSS in the platform. Then he can access the keys r

[2019-05-27 15:52] willsputra commented on #4396
Maybe we could also put how many relevant bounties (bounties containing the same skill tags) that they've done?

![recommend](https://user-images.githubusercontent.com/19514207/58429950-18465880-80da-11e9-85b9-cad8547938b5.jpg)

[2019-05-27 16:49] owocki commented on #4469
sweet @danlipert -- link me the PR?  what approach did you take?

@ririen the XSS vector is a great point.  we also have an active bounty for anyone to find / close XSS vulnerabilities on the site.

[2019-05-27 18:19] mmn254 opened #4493 "bbos"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2019-05-27 18:20] mmn254 commented on #4493
mais ou menos de um minuto pode alcançar

[2019-05-27 23:00] octavioamu commented on #4409
@PixelantDesign I went ahead and approved @nadirlaskar since he already looked at the problem and seems to have a fix.

[2019-05-28 03:21] Anish-Agnihotri commented on #4491
It looks like 371 DAI was sent to the recipient funding address in the last month, which is no where near the 4,276 monthly recurring amount that shows in the front-end. I can definitely understand why that looks confusing to a user just looking at the interface at a glance.

We could potentially just add up the internal DAI transactions received to the recipient funding address from the Gitcoin G

[2019-05-28 08:09] alexvotofuture opened #4496 "Consolidate "Basic Payout" and "Advanced Payout""
### User Story
As a funder, I would like to pay out bounties using a consolidated form so that "advanced" payouts aren't treated as "tips" and paying a bounty to multiple people is simpler.

### Why Is this Needed
*Summary*: A single form for paying one or more contributors will be more streamlined than two form options. Funders are experiencing bugs with advanced payout due to "tip" limits, when

[2019-05-28 08:18] alexvotofuture opened #4497 "Fee Discount Codes"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin team member I want send a code to funders that will reduce or eliminate their 10% fee when necessary.

### Why Is this Needed
For special events like hackathons where sponsorship is paid upfront in full, we want to waive the cost of posting bounties so funders aren't double-charged. For business developm

[2019-05-28 08:28] alexvotofuture opened #4498 "Random issue sorting option"
### User Story
As a special events/hackathon prize funder I want to see issues randomized in the prize explorer so that I feel my prizes have equal visibility to other prizes no matter when i posted them.

### Why Is this Needed
Special events are currently sorted by "created: recent", putting early funders at a disadvantage since their prizes only show up after scrolling to the bottom of the list

[2019-05-28 09:41] PixelantDesign commented on #4306
Looks good. The Bounty with few applicants are placeholders right? IT should probably say the name of the bounty and value? @willsputra

cc: @vs77bb @frankchen07 for feedback

[2019-05-28 09:42] PixelantDesign commented on #4306
@willsputra could you break this up into 3 emails so we can see how it'll really look?

[2019-05-28 09:43] PixelantDesign commented on #4397
We aren't using the heart anywhere else in the system.

[2019-05-28 09:48] PixelantDesign commented on #4212
Plain text or designed? @frankchen07 what were you thinking?

[2019-05-28 09:56] #4493 closed

[2019-05-28 11:56] troggy commented on #4486
@owocki

Could you please help me to get @travisdmathis approved for the bounty in question? It looks like he is already approved, but I'm not longer sure — there is no clear statement about that anywhere except gitcoinbot's message

![image](https://user-images.githubusercontent.com/163447/58476195-bf69d500-8158-11e9-9d90-95678d5af011.png)

[2019-05-28 12:56] PixelantDesign opened #4499 "Gitcoin Funder Loyalty Program"
### User Story
As an operator of Gitcoin, we'd like to find meaningful ways to engage through a loyalty program to get funders to come back to work with us.

### Inspiration
https://blog.hubspot.com/service/customer-loyalty-program

### Why
Increase Retention & Activation of Bounty Usage

### Reach

### Impact

### Confidence

[2019-05-28 13:22] travisdmathis commented on #4486
@owocki i also never received typical notifications that i was approved either in relation to this so was never able to respond.. @troggy pinged me on github, it's the only way i knew.

[2019-05-28 13:55] alexvotofuture opened #4500 "Admin override for organization's logo and name"
### User Story

As a Gitcoin team member I want to be able to change a funder's logo and organization name as it appears on their Gitcoin bounty, so that they don't have to change these on their Github repository itself.

### Why Is this Needed

Branding is crucial for sponsors during special events. For legal reasons, enterprises sometimes cannot change their repository org name or logo. We still

[2019-05-28 13:57] #4333 closed

[2019-05-28 14:19] owocki commented on #4486
he is listed as 'work started' [here](http://bits.owocki.com/5acb4b5d4858/Image%202019-05-28%20at%208.16.16%20AM.png).  that means he is approved :)  ill have to file another ticket to look at why there is no activity item for him

@travisdmathis according [to sendgrid](http://bits.owocki.com/739cb774e3b9/Image%202019-05-28%20at%208.17.59%20AM.png) a message was delivered to your primary email inb

[2019-05-28 14:31] PixelantDesign commented on #4498
Should we rethink/research a proper hackathon experience vs. adding this feature?

[2019-05-28 14:39] danlipert opened #4501 "As a hackathon sponsor, I'd like a helpful error message when doing a payout where I've hit my transaction limit, so that I can better understand what is happening"
### User Story

As a hackathon sponsor, I'd like a helpful error message when doing a payout where I've hit my transaction limit, so that I can better understand what is happening.

### Why Is this Needed

During the hackathon, some sponsors/hackathon bounty creators had issues paying out their hackathon prizes because the value was so large. We have internal checks that add a limit to each payout

[2019-05-28 14:44] danlipert opened #4502 "As a grant contributor, I'd like clear messaging on whether my cancellation has worked, so I can be confident when contributing to a grant"
**Describe the bug**
When cancelling a grant, a error alert pops up in metamask when even though the cancellation effectively works because of the previous change to the approval for the ERC20 token. Note that this issue occurs today, as well as prior to the recent "v1" contract deployment.

**To Reproduce**
Cancel a grant subscription, and observe the 2nd metamask popup.

**Expected behavior**
Th

[2019-05-28 14:48] danlipert opened #4503 "As a marketer, I'd like each bounty URL to have a canonical URL included, so that our SEO is improved and we are not penalized for duplicate content on bounties."
### User Story

As a marketer, I'd like each bounty URL to have a canonical URL included, so that our SEO is improved and we are not penalized for duplicate content on bounties.

### Why Is this Needed

Currently, each version of each bounty gets a unique URL - often 3 or 4 versions per bounty. Search engines will penalize us for the duplicate content, but adding a canonical URL to each version th

[2019-05-28 15:07] travisdmathis commented on #4486
:man_shrugging: no idea, nothing on my end.. could have been just a fluke,  don't usually have issues.

[2019-05-28 15:15] owocki commented on #4486
is it maybe in your spam box?  is that email in the screenshot the right
one?

On Tue, May 28, 2019 at 9:07 AM Travis Mathis <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on t

[2019-05-28 15:38] travisdmathis commented on #4486
no its not kevin, that would be why, so weird, i updated that.  That's not
what's showing under my account settings in gitcoin.

On Tue, May 28, 2019 at 11:16 AM Kevin Owocki <notifications@github.com>
wrote:

--

Thank you,
Travis Mathis

[2019-05-28 15:54] willsputra commented on #4306
@PixelantDesign yep those are just placeholders, should be the title of the bounty. good point maybe the bounty value should be there too.

are we going to have one email for each bounty? so if you have 3 bounties you'll have 3 emails?

[2019-05-28 17:56] frankchen07 opened #4504 "Django security and dependencies tests"
### User Story

Django security / dependencies tests

### Why Is this Needed

Patch up security vulnerabilities and tests related to Django.

### Definition of Done
- [ ] django dependency tests
- [ ] @danlipert to add any other relevant details

### Data Measurements

### Reach
All users of the Gitcoin platform

### Impact
High Impact

### Confidence
100%

[2019-05-28 18:28] owocki opened #4505 "staking to increase maintainers for a project"
staking to increase maintainers for a project
idea from @danlipert
- if someone reviews a PR, then they have to stake 1 ETH
- if the person running the PR thinks it's good, then they get their stake + some return
- if the person runnings the PR thinkgs its bad, they loose their stake.

[2019-05-28 18:36] PixelantDesign commented on #4497
No exposing the field

[2019-05-28 18:38] frankchen07 commented on #4497
Related PR: https://github.com/gitcoinco/web/pull/4074

[2019-05-28 18:54] PixelantDesign commented on #4501
Dup of this https://github.com/gitcoinco/web/issues/4374

[2019-05-28 18:57] PixelantDesign commented on #4374
- Make memo required (note on why)
- Make linking to bounty issue required
- Only allow tips to users of Gitcoin Bounties platform

[2019-05-28 18:57] PixelantDesign commented on #4374
@ceresstation anything else we're missing from the legal call?

[2019-05-28 19:29] frankchen07 opened #4506 "Gitcoin Mailchimp current email data migration."
### User Story

Gitcoin Mailchimp email <> data migration for campaign drip emails.

### Why Is this Needed

Dean Ramadan has email drip campaigns ready in the Consensys Mailchimp account. However, our current email list exists in the Gitcoin (free) Mailchimp account.

### Description

Discussion between Octavio, Alisa & Frank:

Right now, our email drip campaigns are ready in the Consensys Mailch

[2019-05-28 19:29] frankchen07 opened #4507 "Mailchimp API and DNS migration for campaign drip emails"
### User Story

Mailchimp API and DNS migration for campaign drip emails.

### Why Is this Needed

Dean Ramadan has email drip campaigns ready in the Consensys Mailchimp account. However, our current email list exists in the Gitcoin (free) Mailchimp account.

### Description

Discussion between Octavio, Alisa & Frank:

Right now, our email drip campaigns are ready in the Consensys Mailchimp accoun

[2019-05-28 19:36] frankchen07 opened #4508 "As a Gitcoin operator, we want reusable hackathon services resources, so let's create a hackathon template landing page."
### User Story

As a Gitcoin operator, we want reusable hackathon services resources, so let's create a hackathon template landing page.

### Why Is this Needed

Repurpose our previous hackathon pages to create a template hackathon landing page.

### Description

Remove Microsoft branding on https://gitcoin.co/hackathon/ethhack2019 and create a generalizable hackathon landing page format.

### Cur

[2019-05-28 20:19] owocki commented on #4496
If the funders want to just pay with funds in escrow, why not just use Basic Payout?

I like the elegance of having just one form.. but I worry a bit about all the stuff we'll have to pile into one page to make this work.

1. Bounty Pay out
2. Additional Tips
3. Kudos

The UI might get quite complicated.

[2019-05-28 22:34] acolytec3 commented on #4292
Thanks!  I'm starting to delve into the details today.

My intent for starters is just start constructing test data for each of the
major areas of the site and then filling in specific use cases as I
navigate around the site.

Starting with:
* Users - I'm starting here since it's probably the easiest since it's all
local data.  Have ~10 test user profiles set up so far.  Do you have an
instinct on

[2019-05-28 23:12] kuhnchris commented on #4292
Regarding your Kudos/Grants - if you are just seeing the "signing up form" then you are missing the permission in the backend to create grants - this may be a legacy issue due to them joining later.from there you can create grants via the grant-creation modal within the gitcoin app. hope that helps, else let me know in slack/here!

[2019-05-29 05:45] Anupam-dagar commented on #4482
@swader @owocki can I take this issue to work on?

[2019-05-29 06:02] PixelantDesign opened #4509 "As a Funder, I'd like a more guided/targeted and seamless on boarding, so that I can quickly understand the value of Gitcoin."
### User Story

As a Funder, I'd like a more guided/targeted and seamless on boarding, so that I can quickly understand the value of Gitcoin.

### Why Is this Needed

We want to increase conversion/retention.

### Description

funder guide onboarding
1. funder guide video tutorial
2. auto detect github issues from github profile on the funder and pre-fill form entirely
3. make the issue on gitcoin

[2019-05-29 06:57] charlie4biz commented on #4483
Hi, @owocki seems there is high-cost fee currently. Submitted but yet to be submitted or is it compulsory that I have to submit using the same eth account I have in my gitcoin profile. Here is my PR https://github.com/gitcoinco/creative/pull/85

[2019-05-29 09:30] thelostone-mc commented on #4414
update:  won't be pursuing integrating wyre given the friction.
We'd be exploring cross-chain availabilities.
Will explore fiat -> non-fiat exchanges when the ecosystem matures

[2019-05-29 09:30] #4414 closed

[2019-05-29 10:10] danlipert commented on #4292
@acolytec3 I'd like to see more users, maybe 20 or more so that we can test the user directory pagination effectively, along with applying filters, etc. For bounties, lets have at least two different accounts with two different addresses funding them. For kudos and grants, you just need to be a superuser to access those pages directly.

[2019-05-29 10:14] #3839 closed

[2019-05-29 10:14] #4482 closed

[2019-05-29 11:22] #4391 closed

[2019-05-29 11:38] danlipert commented on #4505
Would love to dogfood this for our own project as well :)

[2019-05-29 12:12] danlipert commented on #4469
@owocki PR is linked above right under the issue description :) #4492 closed it until I have time to test the fix

[2019-05-29 12:14] PixelantDesign opened #4511 "As a Gitcoin operator, our FTUX flows are a bit leaky and unclear."
### User Story

As a Gitcoin operator, our FTUX flows are a bit leaky and unclear.

### Why Is this Needed

Our FTUX funnels are a bit leaky, and we want to shore them up.

### Description

related ticket: https://github.com/gitcoinco/web/issues/4665

1. homepage ("fund an issue")

clicking on "fund an issue" as a new user should lead you to the Github connect gate ->
data check to see if designat

[2019-05-29 12:56] PixelantDesign commented on #4409
Thanks @octavioamu !

[2019-05-29 13:57] owocki commented on #4511
id love to see a 'funder / coder' toggle in the nav bar.  so that way we can (1) know who is who and (2) make the entire UI opinionated about who it is talking to

[2019-05-29 13:59] owocki commented on #4469
we could maybe bounty the testing of the fix?  maybe this is a good example
of asking someone to stake to review a PR :)

On Wed, May 29, 2019 at 6:12 AM Dan Lipert <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://p

[2019-05-29 14:01] PixelantDesign commented on #4444
Thanks @kuhnchris !

[2019-05-29 14:05] owocki commented on #4505
whats a lightweight way to test this?  maybe just have ppl apply to be PR reviewers via typeform?  then do a manual stake / return / profit process, which we can then automate?

[2019-05-29 14:14] willsputra commented on #4480
@octavioamu @PixelantDesign what do you think? if you click 'Change Settings', the page should be scrolled to the expanded 'Project Settings' section
![summary](https://user-images.githubusercontent.com/19514207/58564121-f5917c80-825e-11e9-8549-7f86d0db98c5.jpg)

[2019-05-29 14:18] willsputra commented on #4396
@vs77bb @ceresstation what do you think of the mockup above? is it enough to make a decision on who to pick?

@octavioamu what do you think of having an 'Active' status? maybe something like 'Last active 3d ago'?

[2019-05-29 19:17] frankchen07 commented on #4306
Questions from @thelostone-mc

@PixelantDesign, I believe this is one summary email sent to the funder instructing them that they have applicants waiting their review.

The sketch looks like it's for multiple bounties that a funder opened, and the email has the capacity to show at most three bounties and applicant options, however, let's confirm this? @willsputra

I'll add my note here that there

[2019-05-29 19:20] frankchen07 commented on #4508
@thelostone-mc

is https://gitcoin.co/hackathon/ethhack2019 as the template enough, or did you need a sketch file?

I think we're still sponsor-searching. We can leave space for them, but the purpose of template is so we can easily add sponsor logos in later. I'll leave that up to you on how you think it's best to keep an open space to easily add them in.

[2019-05-29 19:29] frankchen07 commented on #4497
Do we also want a time lock on the generated URL, so that the funder link generated expires after the hackathon dates? Otherwise in the future we'll have generated tons of links that could increase holes in our revenue nets.

[2019-05-29 19:30] frankchen07 commented on #4497
Alternative solution, perhaps. this would make use of the dynamic fee system in the PR above @PixelantDesign

Commented here: https://github.com/gitcoinco/web/issues/4497#issuecomment-496637817 it makes sense that it would be an admin tool that generates a URL for the funder. I think hooking it up to an email would be alot of additional lift.

Hm, let me sync with @PixelantDesign

[2019-05-29 19:45] PixelantDesign commented on #4396
We dont have data for success rate and we can't do languages because it's not that accurate. @willsputra

[2019-05-29 19:46] PixelantDesign commented on #4396
@octavioamu to look at what makes sense from user directory

[2019-05-29 20:23] MaxStalker commented on #3623
Some more closed PRs and updates:
https://github.com/gitcoinco/web/pull/4167
https://github.com/gitcoinco/web/pull/4205
https://github.com/gitcoinco/web/pull/4192 (fixed in https://github.com/gitcoinco/web/pull/4419)

I would appreciate if any of them is tippable :)

[2019-05-29 23:43] kuhnchris commented on #4396
Well, if we rank by languages it actually enforces and encourages users to interact with the platform to get ranked higher if they fill out their profile... which in turn helps for the user directory.

Regarding "success rate" - you do have that data. Completed Bounties divided by accepted bounties.

[2019-05-30 01:59] dconroy commented on #3316
@owocki is this still considered done? I dont see grant contributions on profiles currently.

[2019-05-30 02:05] dconroy opened #4515 "Activity on Grants Pages not sorted by Date"
**Describe the bug**
On gitcoin grants pages, under the activity page, there is no discernable order to how contributions are sorted. Not by amount, date, seems random.

**To Reproduce**
https://gitcoin.co/grants/20/burner-wallet?tab=activity

**Expected behavior**
I'd expect these to arrive in date order, or atleast by amount.

**Screenshots**
https://dconroy.keybase.pub/gitcoin.png

**Desktop (p

[2019-05-30 10:49] PixelantDesign commented on #4515
Thanks for the report @dconroy!

[2019-05-30 11:34] PixelantDesign commented on #4501
We will increase the limit per discussion with legal. Closing for now.

[2019-05-30 11:34] #4501 closed

[2019-05-30 12:36] PixelantDesign commented on #4480
Looks good, I think this will be helpful. What do you think about also displaying it at the top as a hint under each of those accordion sections. @willsputra

cc @frankchen07 @thelostone-mc thoughts?

[2019-05-30 14:23] owocki commented on #3316
@e18r could advise.. but i think we need to merge and run https://github.com/gitcoinco/web/pull/4317 to get legacy grant contribs showing on the profile

[2019-05-30 14:47] willsputra commented on #4153
Different tabs:

Bounties/Contributor
![Artboard Copy 5](https://user-images.githubusercontent.com/19514207/58640933-b9c4e880-832c-11e9-83ea-d923544211d4.png)

Bounties/Funder
![Artboard Copy 6](https://user-images.githubusercontent.com/19514207/58640940-bf223300-832c-11e9-9beb-27f26dfe7338.png)

Kudos
![Artboard Copy 7](https://user-images.githubusercontent.com/19514207/58640950-c8ab9b00-832c-11e

[2019-05-30 14:54] willsputra commented on #4306
The idea was to show all open bounties and at most three applicant options. Open to suggestions too.

My only concern is that if you have a lot of bounties, you'll receive a lot of emails which could feel kinda spammy. @PixelantDesign what do you think?

If we decide to have one email per bounty I'll modify the mockup :)

I agree.

Agree with adding bounty title and value.

[2019-05-30 15:34] thelostone-mc commented on #4508
I'll update it same design and clean it up a bit ^_^

[2019-05-30 15:45] thelostone-mc commented on #4497
@octavioamu

- Creating a model to create code + discount % + invalid
- Admin can view + add + edit  + delete entry
- Navigating to bounty new page with the link should update the fee accordingly
- On funding we set the invalid field to true

This would be the flow @frankchen07

- Admin creates a code + entry with discount %
- Admins physically copies codes & sends out mail to the funder
- Funder

[2019-05-30 16:06] frankchen07 commented on #4306
Another question, is the email sent immediately or after several days? What happens if the email is sent on day 1 (as an example), and two applicants applied on day 0 and another two applicants applied on day 2? Will the email send again?

Or, will an email be sent every time an applicant applies? That would be clutter-esque for the funder.

[2019-05-30 16:15] frankchen07 commented on #4497
@thelostone-mc

three things to set:

coupon code name
manual % discount
expiry date

[2019-05-30 16:25] e18r commented on #3316
@dconroy @owocki That's exactly right. Grant-related activity (when you create, update, cancel, contribute to, subscribe to, or unsubscribe from a grant) that has taken place after 2019-04-24 shows up immediately on your profile. Older grant-related activity will show up as soon as the data migration of PR #4317 is executed against the production database.

[2019-05-30 16:51] frankchen07 commented on #4504
@thelostone-mc, there was some overtasking of @danlipert - so he suggested that you would be able to take this up.

Let us know if there are any additional details necessary here!

[2019-05-30 17:28] willsputra commented on #4306
cc @PixelantDesign

It'll be something like this:
• 1st applicant - I get an email right away
• at end of day 1: if I get more applicants, I get an email. if I didn’t get more applicants, no email.
• at end of day 2: if I get more applicants, I get an email. if I didn’t get more applicants, no email.
• repeat daily

**Example**
As a funder, I have two open bounties with 0 applicant: 'Implement WYS

[2019-05-30 20:36] debragail opened #4521 "Remove dead and expired bounties from profile"
Ongoing issue:

Whenever a bounty expires or is completed is not removed from the #started tag and counts towards active bounties.  I have a few that need to be manually removed.  I've always had to request that this be done manually.  Maybe create a bounty to fix this bug?

[2019-05-30 21:16] frankchen07 commented on #4186
@ceresstation - is this still an issue?

[2019-05-30 21:17] frankchen07 commented on #4264
@zoek1 checking in on this issue - how does it?

[2019-05-30 21:29] frankchen07 commented on #4314
@chuckgreenman - frank from gitcoin here - we're removing you from this bounty since it's been two months with no follow up. If you want to work on it again, please submit a detailed plan and re-apply for it!

[2019-05-30 21:32] frankchen07 commented on #4209
@shad-k - frank from gitcoin - are you still working on this bounty? if not we will release it back to the public.

[2019-05-30 23:38] Skyge commented on #4186
I am not sure, so I have got to wait for the further message.

[2019-05-31 07:50] kuhnchris opened #4522 "ipfsapi library is deprecated"
**Describe the bug**
web_1      | /code/app/dashboard/utils.py:27: FutureWarning: The `ipfsapi` library is deprecated and will stop receiving updates on the 31.12.2019! If you are on Python 3.5+ please enable and fix all Python deprecation warnings (CPython flag `-Wd`) and switch to the new `ipfshttpclient` library name. Python 2.7 and 3.4 will not be supported by the new library, so please upgrad

[2019-05-31 07:50] acolytec3 commented on #4292
Thanks! I've got users set up in a local environment with profiles so will
work on the other items tomorrow. Will try to get a first pass at the
complete set of fixtures by the weekend.

On Wed, May 29, 2019, 6:10 AM Dan Lipert <notifications@github.com> wrote:

[2019-05-31 09:40] PixelantDesign commented on #1471
@owocki is this still active?

[2019-05-31 09:57] #2200 closed

[2019-05-31 09:58] kuhnchris opened #4523 "[low prio] Grants - you contribute... 0k?"
**Describe the bug**
The OSS contribution value is prefilled with 0

**To Reproduce**
Deploy docker

**Expected behavior**
Some... value.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/58698303-532ae380-839b-11e9-9a31-31e151b52dd5.png)

[2019-05-31 10:08] PixelantDesign opened #4524 "Should our system regularly check issues that dont have a working GitHub link?"
https://gitcoin.co/issue/xhipster/tfattack/2/602

[2019-05-31 10:08] PixelantDesign opened #4525 "We need a single weekly notification email that lists all of the expired bounties that a funder has."

[2019-05-31 10:08] PixelantDesign opened #4526 "This issue is closed on Github, but we did not detect that it was closed."
https://gitcoin.co/issue/exthereum/ethereumex/25/668

[2019-05-31 10:08] PixelantDesign opened #4527 "Gitcoin bot is not showing that this issue was funded, but it shows funded on our platform"
https://gitcoin.co/issue/paritytech/polkadot/202/690

[2019-05-31 10:08] PixelantDesign opened #4528 "If we know that a funder or an org isn't active anymore, it'd be great to do a one click cancel all of their bounties at once whether through admin override feature or from issue explorer check-in tool"

[2019-05-31 10:09] PixelantDesign opened #4529 "Should we come up with a rule of thumb and explicitly put it into our terms for funding an issue that, if your bounty isn't completed /actively being worked on within 6 months, we reserve the right to close it and put the funds in the purse to donate to grant projects? Can we do this?"

[2019-05-31 10:09] PixelantDesign opened #4530 "Is funding on behalf of an org bad? Does it make the org feel like they don't need to be hands on?"
https://gitcoin.co/issue/ConsenSys/Linnia-Smart-Contracts/35/599

[2019-05-31 10:09] PixelantDesign opened #4531 "What should we do with issues that are 6 months old? Separate it out from the Open into a different filteR?"
Example: https://gitcoin.co/issue/webtorrent/webtorrent/168/598

[2019-05-31 10:09] PixelantDesign opened #4532 "This issue is closed on GitHub, paid out on gitcoin, why is it open state on Gitcoin?"
https://gitcoin.co/issue/ethereum/solidity/1802/474

[2019-05-31 10:09] PixelantDesign opened #4533 "How do we reach funders and make sure they are active on their bounties?"

[2019-05-31 10:10] PixelantDesign opened #4534 "See comment from Huazang on this thread https://github.com/ethereum/web3.js/issues/2080"
Should we hide anytime core team is funding for an org?

[2019-05-31 10:10] PixelantDesign opened #4535 "Basic Payout Not Working & Should Tell User How Much Is Being Paid"
### What
Basic Payout Not Paying Out Bounty AND Should Tell User How Much Is Being Paid Out

Paid out a bounty a few days ago and the payment didn't go through but the Kudos was sent.

<img width="955" alt="Screen Shot 2019-06-01 at 6 18 35 AM" src="https://user-images.githubusercontent.com/238235/58747348-0e08bf00-8438-11e9-8cef-25f9651d9437.png">

### To Reproduce
Pay out a Bounty via Basic Payo

[2019-05-31 10:10] PixelantDesign opened #4536 "When I'm browsing an issue on the issue explorer, and click into an issue details to view it...when I click back, the browser should remember my place, and not make me scroll and wait and scroll. This can be very frustrating for the user. It makes me feel murderous."

[2019-05-31 10:10] PixelantDesign opened #4537 "If an issue is Closed on Github and has a Paid Eth address, we should automatically close it on the Gitcoin side."
https://gitcoin.co/issue/MetaMask/metamask-extension/4074/865

[2019-05-31 10:10] PixelantDesign opened #4538 "lazy loading on issue explorer is slow and frustrating to wait for"

[2019-05-31 10:11] PixelantDesign opened #4539 "Activity feed is a hot mess when a lot of workers apply."
https://gitcoin.co/issue/kauri-io/Content/31/2666

[2019-05-31 10:11] PixelantDesign opened #4540 "Work plan should show on issue details as part of application"

[2019-05-31 10:11] PixelantDesign opened #4541 "To denote new work for contributors Add marker in issue explorer for new since last login"

[2019-05-31 10:12] PixelantDesign opened #4542 "In the funding block on GitHub - Gitcoin bot should note what the project type/permissions are on the issue."

[2019-05-31 10:12] PixelantDesign opened #4543 "Issue Details should display total amount that has been funded for the issue if the currency is the same."
Don't make me do math!

[2019-05-31 10:13] PixelantDesign opened #4544 "There are people already working on bounties in 'Open'. How do we move this to another state?"
### User Story
As a Gitcoin contributor I'd like to be able to filter/ see/ work on bounties which no one has worked on yet.

### Defintion of Done
Add a dropdown on the left rail filters .....that allows user to filter by # of applicants.
0 Applicants
1-5 Applicants

- [ ] Please Implement this drop down

![image (4)](https://user-images.githubusercontent.com/238235/59164970-6d269d80-8ae2-11e9-85

[2019-05-31 10:13] PixelantDesign opened #4545 "I used the ‘Share’ feature on Issue Details but the email never made it to the bounty hunter."
They are flagged as 'dangerous emails' and are not making it through to hunters.

[2019-05-31 10:14] PixelantDesign opened #4546 "Am I looking at the MetaMask profile properly?"
https://gitcoin.co/profile/MetaMask

it’s hard to see all their bounties, which is what a contributor was looking to do

[2019-05-31 10:14] PixelantDesign commented on #4546
It should show their funded bounties at the top - separate from all activities

[2019-05-31 10:16] PixelantDesign opened #4547 "What happens right now if a bounty is 'pending approval'? Do we wait for 3 days and accept the first applicant?"
Or have we iterated on that system?

[2019-05-31 10:35] kuhnchris commented on #4528
any ways to avoid abuse? also, we need a guideline of how to define funder/org isn't "active anymore" - 1 month post bounty expire date? 3 months? 6 months?

[2019-05-31 10:46] kuhnchris commented on #4527
this issue is 6 month overdue and opened 11 months ago - and by vivek. So I assume this may be one of those 'really old' issues. Also it links to a Pull Request - So I assume that may cause issues for the bot.

@vs77bb any input?

[2019-05-31 11:06] danlipert commented on #4505
Sounds good to me - we just need to be very explicit on what the process
is, how it works, terms and conditions, etc.

On Wed, May 29, 2019 at 11:05 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-05-31 11:07] kuhnchris commented on #4526
assumingly because the issue is in the wrong state. I do not think we expect to go from funded->work applied -> work start to ->cancelled.
+ even if the github issue is closed, it doesn't mean that the bounty is closed, as the money is still in escrow (think about it like some repo doing auto-close on pull request finishing, that would kick the guys on the bounty off when it merges)

[2019-05-31 11:36] kuhnchris commented on #4524
No it should not. It explicitly does not require you to use github, it only provides support (e.a. the gitcoinbot) if you enter a github url. At least that's what the original draft said (as far as I remember) @owocki may tell you more

[2019-05-31 11:37] kuhnchris commented on #4525
Preferably one that tell the funder "hey, the following bounties will expire in (expire date - 1 week)" and then "hey, the following bounties have expired, please consider canceling them if nobody is working on them".

[2019-05-31 11:37] kuhnchris commented on #4525
maybe @willsputra can come up with a quick design for that? should be implementable easily enough.

[2019-05-31 11:40] kuhnchris commented on #4529
check with legal first, sounds fishy. Also put it kind of a "last effort" thing in there, that you first try to contact the holder, and, if by some time limit, nobody reacts, it goes into a kind of "lost & found" state and will be redistributeable, or, at the very least, cancelable.

Also, check with the standardbounty contract - I doubt we can interact with it as we do not implement the "intermed

[2019-05-31 11:43] kuhnchris commented on #4530
"Funding on behalf of an org" depends. If you are from condensys and fund an issue in the name of condensys it's fine IMHO, it provides insight in the working of a company if they agree to hire freelancers to work on topics, and seem like integrating into communities.

If "Condensys" funds an issue "for a different company" things could go hairy pretty quickly, check with legal, this sheds a bad l

[2019-05-31 14:10] octavioamu commented on #4153
@willsputra can you post the document?

[2019-05-31 15:00] willsputra commented on #4153
@octavioamu here you go!
https://github.com/gitcoinco/creative/blob/de2c62e75331f3f2bfe1191226abc056b7e9ad63/Product/Dashboard/Dashboard%20v2.sketch

[2019-05-31 15:33] owocki commented on #4529
i don't believe standard bounties works this way, unless we start making the 'arbiter address' our own .  but even then we sort of lose the whole "we will never have custody of your bounty funds" argument.

[2019-05-31 15:39] #4515 closed

[2019-05-31 15:52] owocki commented on #1471
most of the active issues on the populus repo are old, so i'm going to close this down.  thanks for the bump.

[2019-05-31 15:52] ceresstation commented on #4189
@Skyge are you not able to reproduce still?

[2019-05-31 15:54] owocki commented on #4523
looks ok in prod http://bits.owocki.com/d32e52d944fd/Image%202019-05-31%20at%209.53.57%20AM.png

[2019-05-31 15:56] owocki commented on #4538
connected to https://github.com/gitcoinco/web/issues/3628

[2019-05-31 16:49] willsputra commented on #4308
Thoughts? @PixelantDesign

Email with new buttons
![email](https://user-images.githubusercontent.com/19514207/58721214-88b4e880-83fe-11e9-9e50-b496e919e55b.jpg)

Matching settings
![matching](https://user-images.githubusercontent.com/19514207/58721231-98ccc800-83fe-11e9-82aa-05ab61ba7e7e.png)

[2019-05-31 16:51] owocki commented on #4501
https://github.com/gitcoinco/web/pull/4551 updates tip limits

[2019-05-31 16:51] owocki commented on #4374
https://github.com/gitcoinco/web/pull/4551 updates tip limits

[2019-05-31 17:45] PixelantDesign opened #4553 "UI Should warn you if you don't have enough tokens to fund a bounty"
### What
UI Should warn you if you don't have enough tokens to fund a bounty

[2019-05-31 17:55] kuhnchris opened #4554 "[Bounty Explorer/Issue Explorer] Description only accepts double line breaks as line breaks"
**Describe the bug**
Converting the github issue into description is bugged. single new lines are misinterpreted and should be ```\n\n```s

**To Reproduce**
![grafik](https://user-images.githubusercontent.com/761911/58724844-eab12600-83dd-11e9-9fd5-9e84e85f7613.png)
Create a bounty with that (https://github.com/gitcoinco/web/issues/4522) issue

**Expected behavior**
Correct display as on github

*

[2019-05-31 21:29] frankchen07 commented on #4212
I was thinking designed, but nothing crazy, simple is better, with minimal but effective wording.

[2019-05-31 21:59] frankchen07 commented on #4480
Maybe the bulletpoints aren't needed? Kind of looks like a Word document - otherwise I think the concept is helpful!

[2019-05-31 22:03] frankchen07 commented on #4306
Hm, I feel like this is ALOT of emails per bounty - it has the frequency of "live" updates, which could be somewhat disruptive.

I wonder if sending with the first applicant, and then another one 1-2 days later with an update with new or without new applicants (and that's it) would be beter?

@PixelantDesign what do you think?

[2019-06-01 00:54] PixelantDesign opened #4556 "Duplicate Contributors on Default View of User Directory"
**Describe the bug**
Duplicate Contributors on Default View of User Directory

**To Reproduce**
Go to user directory, dont put in a search term

**Expected behavior**
Show contributors in leaderboard ranked order

**Screenshots**

<img width="1010" alt="Screen Shot 2019-05-31 at 8 51 09 PM" src="https://user-images.githubusercontent.com/238235/58741391-24862a80-83e6-11e9-9106-320d2831942f.png">

E

[2019-06-01 02:23] owocki commented on #4556
66218a3a0c81347983e05616750b6062f06349d5

[2019-06-01 02:23] #4556 closed

[2019-06-01 10:07] #4547 closed

[2019-06-01 10:52] PixelantDesign commented on #4545
@octavioamu any thoughts here?

[2019-06-01 10:52] #4538 closed

[2019-06-01 11:00] kuhnchris commented on #4306
alternatively - you do know how google uses those desktop notifications?
Maybe we should go into that direction and reduce the number of mails?
But for this task, I think it's OK, since those are applicants and the user/bounty creator wants to get his bounty solved ASAP.

[2019-06-01 11:03] kuhnchris commented on #4306
alternatively - you do know how google uses those desktop notifications?
Maybe we should go into that direction and reduce the number of mails?
But for this task, I think it's OK, since those are applicants and the user/bounty creator wants to get his bounty solved ASAP.

[2019-06-01 11:46] Ali8668 commented on #2211
Oky

[2019-06-01 11:46] thelostone-mc commented on #4497
@frankchen07 re-estimating this as 3 cause a few things had already been built out from my earlier PR

[2019-06-01 12:31] kuhnchris commented on #4535
Displayed from my side:

![grafik](https://user-images.githubusercontent.com/761911/58748488-d91d5c00-8479-11e9-8e72-27f09224e632.png)

According to etherscan I received the Kudos, but nothing else.

![grafik](https://user-images.githubusercontent.com/761911/58748491-ec302c00-8479-11e9-9adb-60939ce4f24d.png)

https://etherscan.io/address/0x28f4a17f8a99ab90c1a401b85d694b2c0ea40c4b

[2019-06-01 12:57] thedavidmeister opened #4558 "submit work hangs, never opens metamask"
trying to submit work for https://gitcoin.co/issue/NixOS/nixpkgs/59100/2813

using metamask + ledger nano s

have tried on 2 computers, mac and linux

have tried chrome and brave

have tried different GWEI values and other things in the form

have connected metamask to gitcoin through the web popup

have asked for help in slack

submit button always hangs/spins, metamask never opens

[2019-06-01 14:07] shad-k commented on #4209
@frankchen07 i am. Just got stuck at something else.

[2019-06-01 14:41] owocki commented on #4558
hmmmm.. i cannot reproduce using to just metamask on chrome.  will have to dig up a ledger nano + get it connected.

meantime @thedavidmeister do you see anything in your chrome console (right click anywhere on the page, click 'inspect', then go to 'console + try to submit work).  if there are any javascript errors that will helps us figure this out.

[2019-06-01 14:43] owocki commented on #4535
looks like the payment tx is still pending  https://etherscan.io/tx/0x951c0b8b9401d395b416bf2052d6fd6fb976c563ce9a60b12b488a9ed21bbb09

[2019-06-01 21:06] debragail commented on #4521
<img width="1324" alt="Screen Shot 2019-06-01 at 13 47 53" src="https://user-images.githubusercontent.com/552529/58753598-7d050880-8476-11e9-9dc8-c709f201c692.png">

[2019-06-01 22:17] kuhnchris commented on #4535
OK, your assumtion was correct - it was a pending tx:
![grafik](https://user-images.githubusercontent.com/761911/58754200-a439f500-84cb-11e9-8563-7fd7631cbbaa.png)

Still, it does not show any payment in the activity pane.
I do show up on "Work paid" tho.
![grafik](https://user-images.githubusercontent.com/761911/58754204-b61b9800-84cb-11e9-83e1-7925e8812280.png)

An indicator that there is a pend

[2019-06-01 22:19] kuhnchris commented on #4535
Also, what does "Accepted: 4 hours ago" mean in that context?
is this prehaps the date the tx got confirmed?
Accepted as in "the solution was accepted"?

[2019-06-01 22:34] kuhnchris opened #4559 "[Profile / Dashboard / Feedback] Multiple broken feedback items"
**Describe the bug**
Evaluated/rated my bounty interactions, got the same bounty 4 times, can only interact with the first

**To Reproduce**
```unknown```

**Expected behavior**
Correct amount of bounties to rate

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/58754338-21ff0000-84ce-11e9-860d-8f61dd4391dc.png)

[2019-06-02 12:41] PixelantDesign commented on #4559
Thanks for the report!

[2019-06-02 13:22] PixelantDesign opened #4561 "As a Contributor I'd like to know how long it'll take for me to get a faucet request fulfilled."
### User Story
As a Contributor I'd like to know how long it'll take for me to get a faucet request fulfilled.

**To Reproduce**
Currently there isn't a public statistic for the user to know when they'll get it fulfilled

**Expected behavior**
User expects to be notified of how long it'll take to get a faucet

**Additional context**

From product feedback email

 It took a while using a faucet, so

[2019-06-02 14:01] PixelantDesign commented on #2741
What about something like this to surface open issues
![No Applicants](https://user-images.githubusercontent.com/238235/58762352-5817a080-851d-11e9-8008-5576085943d8.png)

[2019-06-02 14:04] PixelantDesign commented on #4544
Are contributors just starting work without being accepted? What do you mean @vs77bb ?

We could try something like this?

![No Applicants](https://user-images.githubusercontent.com/238235/58762403-c9575380-851d-11e9-9776-798af7b3561a.png)

[2019-06-02 17:53] frankchen07 opened #4562 "As a funder my greatest fear is spending time and money on Gitcoin, and not receiving a positive relationship or result. Is there a remediation process?"
### User Story

As a funder my greatest fear is spending time and money on Gitcoin, and not receiving a positive relationship or result. Is there a remediation process?

### Why Is this Needed

The greatest risk for a funder is spending time to go through the flow and not coming out with a positive relationship or result. For re-engagement purposes, is there a remediation process?

### Description

[2019-06-02 17:59] frankchen07 opened #4563 "as a new funder, have a ultra-fast one click fund (gitcoin quick fund + gitcoin requests) and a followup email stating we'll get you matched in no time"
### User Story

as a new funder, have a ultra-fast one click fund (gitcoin quick fund + gitcoin requests) and a followup email stating we'll get you matched in no time

### Why Is this Needed

first time funding, gitcoin does it for you - one click link to github, we'll put it up, and find a reliable contributor, and send you an email when work has been started

### Description

### Current Behavi

[2019-06-02 18:07] frankchen07 opened #4564 "as a new funder, if I visit the funder page but don't fund an issue, I'll get a product shill email"
### User Story

as a new funder, if I visit the funder page but don't fund an issue, I'll get a product shill email

### Why Is this Needed

if we can detect a session visit and identify an email, having a friendly, well worded funder product followup as a gentle reminder on how to extract the most value out of gitcoin would be useful.

### Description

### Current Behavior
no product shill email

[2019-06-02 18:10] frankchen07 opened #4565 "as a funder, hearing stories of other successful funders in a testimonial email drip campaign will communicate that gitcoin has and will provide value to funders"
### User Story

as a funder, hearing stories of other successful funders in a testimonial email drip campaign will communicate that gitcoin has successfully provided value to funders

### Why Is this Needed

storytelling for funders to communicate gitcoin value

### Description

### Current Behavior
no email drip campaigns with testimonials

### Expected Behavior
email drip campaigns with funder t

[2019-06-03 03:48] owocki commented on #4409
i submitted a patch for this =>  gitcoin.co/users

[2019-06-03 03:48] #4409 closed

[2019-06-03 03:51] owocki commented on #2741
why make it a special tab on the explorer?  why not just add it to the filters on the side?

[2019-06-03 03:51] owocki commented on #4562
i think an oz of prevention is worth a lb of cure.  what are the funders expectations going in?

[2019-06-03 03:52] owocki commented on #4561
24 hours on weekdays, next business day on weekends

[2019-06-03 03:54] owocki commented on #4563
also; if we DONT match you.. the product should save face and send you tips / lessons learned about how they could approach the product better (better scope, more verifiability, better pricing, better scoping, etc)

[2019-06-03 04:11] owocki opened #4566 "as a user, i want to see a funder rank / coder rank everywhere... so i know how to find someone who's active."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to see a funder rank / coder rank everywhere... so i know how to find someone who's active.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

its hard

[2019-06-03 05:07] thedavidmeister commented on #4558
ok it worked now? weird...

[2019-06-03 05:11] thedavidmeister commented on #4558
it didn't totally work, the txn for work submitted has confirmations but the gitcoin UI doesn't update to show this:

https://gitcoin.co/issue/NixOS/nixpkgs/59100/2813
https://etherscan.io/tx/0x8cf34cda301a05d13851e5d72ca93ce5ee8afefdd253210e23a4dabbbea21e83

[2019-06-03 08:37] kuhnchris commented on #4559
Just a quick heads up: may this be connected to the Rinkeby issue? (just a heads up @uivlis, so we are not doing double work)

[2019-06-03 09:58] proofoftom commented on #4503
Quick update, will be able to tackle this today!

[2019-06-03 12:12] #4436 closed

[2019-06-03 12:22] PixelantDesign opened #4567 "As Gitcoin we'd like to create a series of webinars to help Funders get the most out of the Gitcoin platform so that they can have successful bounty experiences"
### User Story

As Gitcoin we'd like to create a series of webinars to help Funders get the most out of the Gitcoin platform so that they can have successful bounty experiences.

### Why Is this Needed

*Summary*: To retain funders

### Description

Create a Gitcoin webinar similar to this:

https://pages.consensys.net/block-11-improve-the-ux-of-your-dapp?utm_campaign=BlockTO&utm_medium=email&_hse

[2019-06-03 12:40] PixelantDesign opened #4568 "Make it clear where contributors can update tags for accuracy"
### What
Make it clear where contributors can update tags for accuracy:
- Onboarding - maybe note that we will provide a match if at least 3 tags are matching, and make this changeable?
- Settings
- Note in the match emails
- Allow contributors to notify us that the issue is not accurate (this is in progress)

### Why
- So that contributors don't get randomly matched emails for skills that they do

[2019-06-03 13:42] octavioamu opened #4569 "Filters failing in user directory"
**Describe the bug**

Filter by "bounties completed" "stars rating" are giving error 500

**To Reproduce**

https://gitcoin.co/users

**Expected behavior**

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- D

[2019-06-03 14:51] ceresstation commented on #3539
+1 on the tagging direction, can the idea of categorizing grants by 'grant manager' (e.g. consensys grants) live here?

[2019-06-03 15:44] owocki opened #4570 "as a funder, i want expectations set for bounty funding so i have reasonable expectations for what the bounty product can do"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder,  i want expectations set for bounty funding so i have reasonable expectations for what the bounty product can do

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-06-03 15:49] owocki opened #4571 "as a funder who posted a bounty that has no action for 3 days, i want an email telling me what to do so i can salvage the bounty."
# User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder who posted a bounty that has no action for 3 days, i want an email telling me what to do so i can salvage the bounty.

# Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-06-03 15:53] octavioamu opened #4572 "Autocomplete issues in funder form"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder I want to be able to write the issue name and autocomplete from the repo Im a owner.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

With this Im don't ne

[2019-06-03 15:57] thelostone-mc opened #4573 "bounty: re-write update bounty flow"
##### Description

##### Current Flow

Funder funds a bounty -> new entry in the db
Any time the funder interacts with the blockchain with the associated bounty
a duplicate entry is created in the db with the flag set to Latest Bounty and un-setting the flag in the older entry.
Occasionally the flag setting doesn't work as expected and we end up with duplicates which confuse users

#### Updated Fl

[2019-06-03 15:58] owocki commented on #4573
note that `cleanup_dupe_bounties` is the duct-tape fix for this

[2019-06-03 16:00] owocki commented on #4558
thanks thats useful to know.  i wonder if theres some callback issue when using a ledger via metamask

looks like the [bounty is now marked as submitted on gitcoin](https://gitcoin.co/issue/NixOS/nixpkgs/59100/2813)

[2019-06-03 17:50] kuhnchris commented on #4573
How about we generally rewrite this logic to be bounty based?
e.a. we sync standardbounties, if they confirm to our format => entry in DB, the entry keeps getting updated, changes will be recorded, and can be evaluated via, for example, simple-history.
https://django-simple-history.readthedocs.io/en/2.7.2/admin.html
So we only keep 1 entry per standardbounty entry. (which is consistently written i

[2019-06-03 17:56] kuhnchris commented on #4562
I think that the expectation needs to be explored first.
Is the expectation to find a long-term worker?
Is the expectation to solve an issue that has been pushed around due to low priority and high yield that'd be nice to have added by some third party?
Is the expectation to find short term staff upgrades?

If you know where they are comming from, you can build focus on those user groups

[2019-06-03 18:13] kuhnchris commented on #4572
Excuse me what?
Do you want to auto-sync the github repos of the users and store them in DB? what if the user creates a new repo?
Also, isn't the main use-case that the funder copies the issue link into the url bar and the rest gets fetched automatically?

[2019-06-03 18:15] kuhnchris commented on #4571
so basically you want a retail/marketing mail that gets triggered after the following requirement:
- bounty age > 3d
- bounty.activities.filter(created_on=today-3d).count <= 0
and send out an email with a link to gitcoin.co/help, or you want to provide a mail template?

[2019-06-03 18:17] kuhnchris commented on #4570
So basically what you want is a "slide-show flyer" (slideshare?) that you could send to a potential client/funder, that show-cases what Gitcoin.co can do?

[2019-06-03 18:18] kuhnchris commented on #4568
an additional possibility would be to extend that mail a bit:
- Add the tags of the bounty
- Mark the tags of the bounty that match your tags
- Display your tags at the top somewhere
- Put a link in there to the preferences where they could change their tags.

[2019-06-03 18:23] kuhnchris commented on #4569
Do you have a sentry log for that?

[2019-06-03 18:28] kuhnchris commented on #4569
FYI: It works on a local test instance:

![image](https://user-images.githubusercontent.com/761911/58825155-14688800-863e-11e9-861f-b2b38c730aee.png)

[2019-06-03 18:29] octavioamu opened #4574 "Reject contributors in a bounty"
### User Story
As a funder I want to be able to reject contributors interested in my bounty so non of us got stuck.
[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
So the problem is I create a bounty, 3 people start working, but I don't want them. New people don't apply because the bounty has appliers already and then the people also get into the limit to

[2019-06-03 18:29] kuhnchris commented on #4567
Wouldn't that basically be one of those "gitcoin talks" that are held weekly, just about gitcoin itself?
Or would it rather be something like an actual show and tell with accompanied Q&A session?

[2019-06-03 18:31] kuhnchris commented on #4566
so basically you want to turn this into an RPG or "steam for bounties" with achivements?

[2019-06-03 18:32] kuhnchris commented on #4565
IF we got more testimonials than the 10 endless ones scrolling during bounty processing, then yes. Else we send them the same testimonials every couple weeks...

[2019-06-03 18:35] kuhnchris commented on #4564
wouldn't it be easier if we basically check if he ticked that funder intro... thing (splash page? info page) that we show on the first time he wants to fund a bounty, and the amount of founded bounties <= 0 and we did not already send a mail --> send mail / incensitise to post a bounty

[2019-06-03 18:38] kuhnchris commented on #4574
isn't there already a "Reject worker" button? As far as I remember there's an "Approve Worker" and "Reject worker" button. @PixelantDesign could you check to make sure?

[2019-06-03 18:52] octavioamu commented on #4574
You are right @kuhnchris my mistake, Did you ever used the reject button ? What do you think about it?

[2019-06-03 19:21] octavioamu commented on #4572
Kind of. Is not only about autocomplete when you start writing, also you will be able to copy paste if you want. but the thing is having a list of open issues from a repo can be nice to contributors request to an issue be bountied. "suggest bounties from an organisation repo"

[2019-06-03 19:27] kuhnchris commented on #4574
it's even on the gitcoinbot... ;-)
![image](https://user-images.githubusercontent.com/761911/58828679-441b8e00-8646-11e9-860a-6f644528fa0b.png)

I think I used it before once for testing, not sure if there already is a modal, but maybe ask "hey there, we saw you rejected a worker, would you mind telling us why?"

[2019-06-03 19:28] octavioamu commented on #4569
@kuhnchris https://sentry.io/share/issue/95f8060799de461dbe540688fbd6ba8d/

[2019-06-03 19:28] kuhnchris commented on #4572
Hmm do we need to watch out for the github api restrictions then? Do you want to have it client-side (e.a. user quota) or server-side? (e.a. gitcoin.co API quota)

[2019-06-03 19:32] octavioamu commented on #4572
For now is just an idea to brainstorm, but anyway in that point the user api keys can be used instead. But only if is done in backend way to don't expose the user keys.
Anyway is not a very big request (will depend in the number of repositories)  maybe we need to determine in one way just with repository we want to fetch the issues.
Really will be nice the funder have the ability to setup this in

[2019-06-03 19:35] octavioamu commented on #4574
yep, I will check the usage data I want to find  a way to avoid issues with a lot of contributors waiting to work forever.

[2019-06-03 20:20] kuhnchris commented on #4569
Page not found. :-(

[2019-06-03 21:39] octavioamu commented on #4569
@kuhnchris try again, don't know why was unshared

[2019-06-03 21:45] octavioamu commented on #4308
@owocki what should be the action when you click "not interested" ? Because can be the user is not interested in some particular keywords, or organization/repo bounties.

[2019-06-03 23:34] Skyge commented on #4189
@ceresstation Yeap!

[2019-06-03 23:38] Skyge commented on #4186
@ceresstation Could you please help me to understand this bug clearly? where does it display 2625 DAI, I found its total funds is 5000DAI.

[2019-06-03 23:41] kuhnchris commented on #4569
@owocki @danlipert did you guys move the rating stuff somewhere? according to sentry and the log it seems like the "average_rating" field disappeared. Any ideas?

[2019-06-04 02:16] thedavidmeister commented on #4558
ah yes i see, it took almost a whole day to show up >.<

[2019-06-04 02:23] PixelantDesign commented on #4505
It think staking would help with contributors ghosting on tasks too.

[2019-06-04 03:48] uivlis commented on #4559
If a bounty was first posted on Rinkeby and then moved to Mainnet, shouldn't it appear only twice, or, at most, a few times? I have hundreds of duplicates on my profile, I can't see how this bug would be connected with that issue.

[2019-06-04 10:06] PixelantDesign commented on #4306
General flow from Will seems right. I might not send multiple emails in one day though.

It’s hard to know the exact frequency without user feedback.

In this day and age people do expect not to be notified within a certain time time frame. If we notify too late the contributor may not be interested or may have picked up other tasks. If we notify the funder too late, this issue is not as top of mi

[2019-06-04 11:28] kuhnchris commented on #4559
Hello,

well, if they use the same ID, or IDs only valid on rinkeby, it may cause issues like that, but please, do investigate, it was only a lead, just to make sure you're not double-investigating. ;-)

[2019-06-04 13:02] willsputra opened #4576 "DESIGN - As a contributor, I want an easy way to view all info about an organization"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a contributor, I want an easy way to view all about an organization

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
There's currently no central place where I can f

[2019-06-04 13:02] willsputra commented on #4576
@octavioamu we can brainstorm org page here! :)

[2019-06-04 13:13] willsputra commented on #4465
Maybe we could also add a 'reasons why you unsubscribe' page? Example:
![unsubscribe-survey](https://user-images.githubusercontent.com/19514207/58881851-9b386600-870d-11e9-89f0-83c2d7a84068.gif)

[2019-06-04 15:53] vs77bb commented on #4463
@filips123 @furious-tv @shadowweaver616 @lychees did any of you make a [Gitcoin Request](gitcoin.co/requests)?

[2019-06-04 16:25] willsputra commented on #4306
I’m guessing we can still follow the general flow, but limit each day to only max one email?

[2019-06-04 16:53] ceresstation opened #4577 "Gitcoin Grants not summing individual contributions"
### User Story

As a contributor I want to see my individual contribution listed in the Total Funded section of the Gitcoin Grant I funded.

### Current Behavior

Individual contributions are not counted.

### Expected Behavior

They are counted.

### Definition of Done

- [ ] Method to check whether individual contributions went through
- [ ] Interface change to display this count

[2019-06-04 17:00] willsputra commented on #4465
Something like this?
![Surgical Unsubscribe](https://user-images.githubusercontent.com/19514207/58898463-37be3080-872d-11e9-9b1c-4de98cf42109.jpg)

[2019-06-04 17:20] thelostone-mc commented on #4508
update: synced up with @willsputra to establish a skeleton.
will use this as base 🙌

[2019-06-04 17:44] kuhnchris commented on #4306
Or track the reading of the mail (1x1 graphic include)? If he reads the mail => reset email sent flag, if he doesnt => he only get up to 1 mail

[2019-06-04 18:41] owocki commented on #4465
this page LGTM

[2019-06-04 20:11] octavioamu commented on #4153
@willsputra oh I mean the document with the ideas we discussed.

[2019-06-04 20:53] owocki commented on #4559
how was a bounty moved from rinkeby to mainnet?

[2019-06-04 21:21] owocki commented on #3907
@iamonuwa bump.  can you take this?  if not, id like to give it to someone else.

[2019-06-04 21:39] owocki commented on #3912
@charlie4biz your image is kind of pixelated.. got a high res?

[2019-06-04 21:42] owocki commented on #3912
@iamonuwa
[header_images.zip](https://github.com/gitcoinco/web/files/3254580/header_images.zip)

[2019-06-04 21:58] iamonuwa commented on #3912
Cool

[2019-06-04 21:58] kuhnchris commented on #4559
Not sure, I just assumed he meant that if the ids from rinkeby bounty match (some other) mainnet bounty...

[2019-06-04 21:58] iamonuwa commented on #3907
Still working on it.

[2019-06-04 21:59] kuhnchris commented on #4577
You mean one-time contributions (e.a. without subscription)?

[2019-06-04 23:31] ligi opened #4578 "duplicated contributor mention"
this text:

![image](https://user-images.githubusercontent.com/111600/58920295-c92fa180-8731-11e9-8a5a-c067b087a2d8.png)

see: https://github.com/spadebuilders/community/issues/30

[2019-06-05 02:16] owocki commented on #4577
i dont seem to be able to reproduce this.  are you saying it's not counted IMMEDIATELY after you sign the signature?  there is an info message that pops up and says "itll take 5 minutes"

[2019-06-05 02:16] owocki commented on #4577
https://github.com/gitcoinco/web/pull/4580 may help also

[2019-06-05 03:38] willsputra commented on #4153
@octavioamu here you go!
https://docs.google.com/spreadsheets/d/107RHPexhs33DiV3SV3KubaX68wTG2LDaWUA3CJ12ftE/edit?usp=sharing

[2019-06-05 04:44] speedyFixer commented on #3763
I'm going to stop in Gitcoin while I wait for more info for fix this issue.

[2019-06-05 10:53] charlie4biz commented on #3912
Ok.@owocki done. Having some technical issues attaching. Will send before the day runs out.

[2019-06-05 11:00] uivlis commented on #4559
No, yeah, well I thought... anyway, nevermind.
I barely managed to build the docker image and play with the admin dashboard. I'm not sure where lays the bug (yet), however, I can't reproduce the issue locally (yet).

[2019-06-05 12:46] danlipert commented on #4569
@kuhnchris @octavioamu Average rating isn't a model field, its a property - I think this has always been the case. Do you have a average rating field in your database?

[2019-06-05 13:50] willsputra commented on #4465
@PixelantDesign what do you think?

[2019-06-05 14:09] acolytec3 commented on #4292
Just to confirm I am still working on this.  I've got fixtures for grants and then basic user profiles that seem to load consistently across a DB refresh but getting bounty activity to stay in sync is proving tricky.  Since only certain parts of the process get stored on Rinkeby, things tend to get out of sync when I refresh.  I'll get a WIP PR up today or tomorrow with the fixtures that seem to w

[2019-06-05 14:10] owocki commented on #4465
i wonder if theres not an opportunity to do something simple / elegant / new here (  a la https://dad6pq311uj47.cloudfront.net/items/3I403r1F1r2E0M0l2m06/Image%202019-05-22%20at%203.31.48%20PM.png?X-CloudApp-Visitor-Id=1478655 ).. we could maybe even leverage this https://github.com/gitcoinco/creative/tree/master/Marketing/header_images

[2019-06-05 16:07] proofoftom commented on #4463
@vs77bb Arweave has an issue in its PHP SDK that has a Help Wanted tag on it that I'd love to tackle with a bit of funding: https://github.com/ArweaveTeam/arweave-php/issues/1

[2019-06-05 21:36] frankchen07 commented on #4574
is this if the bounty is permissionless?

[2019-06-05 22:18] frankchen07 opened #4586 "As a Gitcoin operator, for future hackathons, I want adequate data tracking so we can cohort and get baseline metrics on how the hackathon is doing"
### User Story

As a Gitcoin operator, for future hackathons, I want adequate data tracking during the onboarding phase so we can cohort and get baseline metrics on who is participating in the hackathon, as well as which bounties were funded for the hackathon.

### Why Is this Needed

For the MSFT hackathon, onboarding and applicant tracking was done with Typeform, which isn't a scalable way to cr

[2019-06-06 00:58] charlie4biz commented on #3912
![banner-sample-6](https://user-images.githubusercontent.com/10086785/58998689-03647600-87fa-11e9-965a-eab39d8f0fd1.png)

![polkadot-banner](https://user-images.githubusercontent.com/10086785/58998693-06f7fd00-87fa-11e9-80a0-50fc82b9e380.png)

[2019-06-06 01:47] charlie4biz commented on #3912
![rocket-banner](https://user-images.githubusercontent.com/10086785/59000616-2cd5cf80-8803-11e9-9fbe-0dcb72b7109c.png)

[2019-06-06 13:53] proofoftom commented on #4503
Ready for review

[2019-06-06 14:28] PixelantDesign commented on #4465
- Update mock to show confirmation
- Octavio to research how to implement

[2019-06-06 14:35] PixelantDesign commented on #4306
- Need to build task scheduler to do it right.

[2019-06-06 17:26] ririen opened #4589 "As a person having their own programming/hacking company, I would like to be able to have my own organization for contribution"
### User Story
As a person having their own programming / hacking company, I would like to be able to have my own organization on the gitcoin website that would have its own payment addresses. Also the ability to choose by the user whether he works on his own behalf or on behalf of the organization to which he belongs.  The organization would include employees of my company and if any of them woul

[2019-06-06 17:44] owocki commented on #4569
54b572360522b07d9f1a645a5f639cd09fcb0de1

[2019-06-07 06:43] uivlis commented on #4559
Right, I've been able to reproduce the issue locally. Does that rule out the possibility of mismatching mainnet and rinkeby ID's, since there are no mainnet bounties locally?

[2019-06-07 10:55] mkosowsk opened #4590 "Gitcoin Profile Detail Page Does Not Include Coins Other than ETH"
![Screen Shot 2019-06-07 at 6 45 42 AM](https://user-images.githubusercontent.com/7970539/59099124-4c96f180-88f0-11e9-8c50-4f1b82e6e08d.png)

I'm the #17 funder on Gitcoin but it shows my contributions as 0.00 ETH! That's because I use DAI to fund and this PR will fix that and protect my fragile ego!

### User Story

**As a** Gitcoin _funder_
**I want to** have my coins in addition to _ETH_ repres

[2019-06-07 17:11] PixelantDesign opened #4593 "As a funder I'd like to provide a reason to the contributor who applies for my tasks on why they were rejected for my project."
### User Story
As a funder I'd like to provide a reason to the contributor who applies for my tasks on why they were rejected for my project.

As a contributor, I'd like a definitive answer on whether or not my application has been accepted to work on a bounty.

### What
When a funder rejects a worker there should be a dropdown asking for reason. The contributor that applies should also receive an

[2019-06-07 18:01] PixelantDesign commented on #4574
anything that requires approval @frankchen07

[2019-06-07 18:05] PixelantDesign commented on #4570
Combine with faux task

[2019-06-07 18:14] willsputra commented on #4465
@octavioamu @PixelantDesign something like this, if we can only put the confirmation?
![unsubscribe](https://user-images.githubusercontent.com/19514207/59124751-b49a1600-898a-11e9-856a-b3830a564b03.jpg)

[2019-06-07 18:58] owocki commented on #4483
just added some more requests to da list
[code]

[2019-06-07 19:12] #4569 closed

[2019-06-07 20:26] charlie4biz commented on #4483
Let me do rick and morty

[2019-06-07 20:27] PixelantDesign commented on #4306
Maybe schedule for everyone at 9am on Mondays? @danlipert
cc @vs77bb

[2019-06-07 23:40] charlie4biz commented on #4483
![rick](https://user-images.githubusercontent.com/10086785/59138590-e3fa5400-8985-11e9-88d8-b8663ec785ae.png)
crazy stupid careless grandpa named rick

[2019-06-08 00:09] charlie4biz commented on #4483
![rick](https://user-images.githubusercontent.com/10086785/59139273-fc6c6d80-8989-11e9-806c-d58b49ef3028.png)
crazy stupid careless grandpa named Rick

[2019-06-08 01:04] charlie4biz commented on #4483
![morty](https://user-images.githubusercontent.com/10086785/59140106-6d635380-8991-11e9-9125-e94a54ba7948.png)
Morty the yes-man. I have done a PR. Can try my hands on tech company logos but seems like I might be bad at it.

[2019-06-08 02:38] #4574 closed

[2019-06-08 02:53] PixelantDesign commented on #4525
or something to put on the dashboard @willsputra

[2019-06-08 03:07] PixelantDesign commented on #4382
was this completed @owocki ?

[2019-06-08 03:09] #4223 closed

[2019-06-08 06:00] frankchen07 commented on #4153
some comments as they come:

for the notifications section, I think should be a mark as read option, so they don't necessarily have to click through all of them in order to "mark all as read"

clicking anything on the dashboard should open a new window

the notifications area should be larger

the "bounties in progress" section in different looking sections looks a little bit awkward

users matchi

[2019-06-08 11:41] PixelantDesign commented on #4590
Hey yall! Thanks for your interest in helping to solve this one! I had already talked to Rafal about this task prior to bounty. I do have another bounty here if yall are interested!  https://gitcoin.co/issue/gitcoinco/web/4398/3097

Also feel free to hit me up if any of the good first issue/easy pickings from our github web backlog seem interesting to you!

[2019-06-08 11:52] PixelantDesign opened #4595 "Add Gitcoin Footer to Gitcoin.co/blog"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: no foot

[2019-06-08 11:54] PixelantDesign opened #4596 "Add Sumo to All Blog Pages"
### User Story

Add Sumo (like on gitcoin.co) to All Blog Pages

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: No sumo to capture email addresses

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[

[2019-06-08 12:16] PixelantDesign commented on #4465
@owocki ^^

[2019-06-08 12:18] PixelantDesign commented on #4308
@thelostone-mc thoughts on this? ^^

[2019-06-08 16:21] speedyFixer commented on #4398
Is this issue really opened? I mean because PR #4475 closed it previously.

[2019-06-08 20:07] kuhnchris commented on #4593
Hmm wasn't there already a modal for that? I thought it was since this idea keeps popping up every new moon or so.
Anyways, since last time this idea was revisited we actually got that "rate your bounties" thing in, maybe we can recycle that for this?

[2019-06-08 22:01] rafalkowalski commented on #4544
I can work on this issue.

[2019-06-09 14:14] PixelantDesign opened #4599 "As a funder of Gitcoin bounties, It would be helpful when went to my created bounties it showed which PRs have been submitted against the bounties i've funded instead of having to go back and forth on Github"
### User Story

As a funder of Gitcoin bounties, It would be helpful when went to my created bounties it showed which PRs have been submitted against the bounties i've funded instead of having to go back and forth on Github

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-06-09 14:15] kuhnchris commented on #4599
Do you want to have it in the issue explorer as little icon? like [PR] ?

[2019-06-09 14:42] kuhnchris commented on #4599
As per Slack discussion - taking this over, letting you know when the PR is ready

[2019-06-09 19:27] agutsal commented on #3981
@owocki since noone is going to test it tomorrow I'll make the video showing it works well with Opera.

[2019-06-09 23:44] davidkaufman commented on #4544
I started work on a similar issue #2458 (hiding open bounties from the gitcoin explorer page if the underlying github issue gets closed - there were a lot of those at the time, so annoying) back in October, but i never finished it, the problem became less severe, and the issue was never bountied+funded :-(

I did submit a documentation fix PR that was accepted as a result tho! :-)

[2019-06-10 00:21] PixelantDesign commented on #4593
No modal. Just rate your bounties.

We were going to send an email why the contributor was rejected but we need a place to capture why the person was rejected.

cc @willsputra

[2019-06-10 02:47] santteegt commented on #4463
Hi @vs77bb,

Is there a specific webpage to send a bounty request proposal?  I'm getting a 404 message when clicking to your [Gitcoin Request](https://github.com/gitcoinco/web/issues/gitcoin.co/requests) link. I think there was a `Bounty Request` option on the Gitcoin website long ago, but I cannot find it under the new site navigation design

[2019-06-10 04:55] miguelmota opened #4603 "Dark patterns"
As a user, requiring to enable a checkbox for an action to not occur is misleading and is considered a [dark pattern](https://en.wikipedia.org/wiki/Dark_pattern) (it has confused me a number of times)

<img width="619" alt="Screen Shot 2019-06-09 at 9 48 48 PM" src="https://user-images.githubusercontent.com/168240/59173159-732b7700-8b00-11e9-8195-21cbd8c9c99f.png">

proposing that the checkboxes b

[2019-06-10 05:59] uivlis commented on #4559
Apparently, I was wrong. The duplicates I saw were not so duplicates (they were in the 'Funded' section, just multiple fulfillments). I cannot, however, reproduce anything in the 'Contributed' pan.

It allocated a bit too much time on this bounty, so if I cannot move forward in the following days, I will have to backtrack, unfortunately.

[2019-06-10 10:52] PixelantDesign commented on #4153
![Bounties-Funder](https://user-images.githubusercontent.com/238235/59191007-469d4c80-8b4c-11e9-9edc-3be940548d44.jpg)

![Bounties-Contributor](https://user-images.githubusercontent.com/238235/59191011-48ffa680-8b4c-11e9-8aab-95ae616157ac.jpg)

[2019-06-10 12:33] danlipert opened #4606 "As a Gitcoin contributor, I'd like to have a task scheduler integrated into the backend, so that I can precisely schedule tasks into the future for purposes like email drips, email digests, etc."
### User Story

As a Gitcoin contributor, I'd like to have a task scheduler integrated into the backend, so that I can precisely schedule tasks into the future for purposes like email drips, email digests, etc.

### Why Is this Needed

The current codebase for Gitcoin makes use of cronjobs for scheduling and while this generally works for async processing, batch jobs, etc. It does not give contrib

[2019-06-10 14:09] willsputra commented on #4496
first draft
![Artboard](https://user-images.githubusercontent.com/19514207/59201157-fbbf1b80-8bc3-11e9-9d3e-ac3b914e1a08.png)
![Artboard Copy](https://user-images.githubusercontent.com/19514207/59201161-fcf04880-8bc3-11e9-9830-3a46b4eb1bbd.png)

[2019-06-10 14:10] kuhnchris opened #4607 "DateTimeField HackathonEvent.end_date received a naive datetime while time zone support is active."
**Describe the bug**
See title.
DateTimeField HackathonEvent.end_date received a naive datetime while time zone support is active.
[code]

**To Reproduce**
Check logs
I assume it's popping up in /funding/new.

**Expected behavior**
No warning

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/59201169-17adc780-8b9a-11e9-8c35-f4cf17baa0f3.png)

[2019-06-10 14:13] kuhnchris opened #4608 "Cannot create bounties without Github API Key"
**Describe the bug**
If you do not enter a github account as noted in the local.env...
[code]
...you cannot create/fund bounties on your local instance

**To Reproduce**
Use docker, do not enter Github API, try to create a new bounty

**Expected behavior**
Allow bounty creation

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/59201372-94d93c80-8b9a-11e9-97ca-bb7a2d45e673

[2019-06-10 14:27] PixelantDesign commented on #4544
hi @davidkaufman thanks for your interest on this one. Looks like the one you started working on in October is related. Would you still be interested in helping us solve that if I bountied it? I'd likely write up a clean ticket for you. Let me know!

[2019-06-10 14:31] PixelantDesign commented on #4608
Thanks for the report @kuhnchris !

[2019-06-10 15:01] thelostone-mc commented on #4608
Ah I believe we forgot to update the documentation -> fund bounty needs the github API key to fetch github info.

[2019-06-10 15:12] kuhnchris commented on #4608
OK, that explains it.
Want me to add the changes to the doc?

[2019-06-10 15:14] kuhnchris commented on #4606
As far as I remember right now this is solved via crontabs/cronjobs which run at fixed periods and/or times defined in the crontab file.
Is the request that we simply schedule a certain django command every minute or so that triggers jobs like mail blasts, sending of mails etc. from the django backend (+ also controllable from there)?

[2019-06-10 15:18] kuhnchris commented on #4603
So basically "[ ] Send me Weclome Mails"  ?
Sound easy enough for me, shouldn't be *that* hard to change.
https://github.com/gitcoinco/web/blob/master/app/retail/templates/settings/email.html
Sadly it looks like this was created within the settings table of gitcoin like that, so they'd have to change those in the database and migrate the existing entries.
@danlipert your opinion?

[2019-06-10 15:30] thelostone-mc commented on #4608
@kuhnchris ah i didn't see your comment :P

[2019-06-10 16:01] PixelantDesign commented on #4306
Come back after v1 of dashboard.

[2019-06-10 16:29] miguelmota commented on #4603
-[ ] Send me Welcome Mails
?

yea that's perfect, basically how most other sites have it

dang thought it would of just been a fix on the frontend but seems like more work

[2019-06-10 16:42] davidkaufman commented on #4544
Absolutely!

thanks,

-dave

[2019-06-10 16:49] davidkaufman commented on #4544
and yes, you're right: iirc, the original discussion for the "hiding bounties with closed github issues" feature in Issue #2458 had centered around adding a drop-down to hide them *optionally*, but as I looked into it, it didn't seem to make sense to do any ui work at all, just to hide them unconditionally.  I think this became apparent as i tried to imagine what to label the dropdown ..."SHOW bou

[2019-06-10 16:54] kuhnchris opened #4611 "Bounties and Grants are mixed in menu with same icons!"
**Describe the bug**
I'm confused about the icon and placements of the My created Bounties v.s. My Grants.

**To Reproduce**
Check user menu top right

**Expected behavior**
Clear indication and separation between bounties, grants, and other things

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/59211669-af1e1500-8bb0-11e9-8c87-cc9086edd3b8.png)

**Proposal**
Add anothe

[2019-06-10 18:00] frankchen07 commented on #2741
I like the idea of having the filters stay in the section on the left. Without over engineering another status, perhaps there's a way to "mark" a bounty like an "unread" message if no applicants have currently applied to it yet, and for that signal to not be there if there are already applicants who have applied.

[2019-06-10 18:49] PixelantDesign commented on #4511
If you're a hackathon participant , we want everyone to click start work.

[2019-06-11 10:27] PixelantDesign commented on #2692
Current Edit Issue Details does not allow me to edit tags.
<img width="1029" alt="Screen Shot 2019-06-11 at 6 25 44 AM" src="https://user-images.githubusercontent.com/238235/59264763-d3f6a480-8c11-11e9-96e9-7ac2e3686d2a.png">

Solution - Add tags field from the fund issue form
<img width="1024" alt="Screen Shot 2019-06-11 at 6 27 18 AM" src="https://user-images.githubusercontent.com/238235/5926483

[2019-06-11 10:35] PixelantDesign opened #4614 "As a hackathon prize funder I'd like to see the prizes sorted in highest at the top and lowest at the bottom."
### User Story

As a hackathon prize funder I'd like to see the prizes sorted in highest at the top and lowest at the bottom.

Incentivize high amounts.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
- Default sorting should be highest prizes first
- Should we allow sorting the other way if particpants/sponsors want to see this?

### Data Req

[2019-06-11 14:16] owocki commented on #4500
‘branding override’ is already in the product i thought. . is the ‘funding organization’ field on the new bounty form 

[2019-06-11 14:28] willsputra commented on #4308
![not relevant](https://user-images.githubusercontent.com/19514207/59280454-d0a1fe00-8c8f-11e9-9aec-48899df1a664.jpg)

[2019-06-11 14:52] rafalkowalski commented on #2692
@PixelantDesign I can work on it

[2019-06-11 15:02] PixelantDesign opened #4615 "Sort Hackathon Bounties by Highest Value First"
### User Story

Sort Hackathon Bounties by Highest Value First

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Doesn't exist

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
- Sort bounties by hi

[2019-06-11 15:08] PixelantDesign commented on #4500
Per Alex - we don't want org or image override to be accessible by everyone. Admin would be best.

[2019-06-11 15:16] PixelantDesign commented on #4500
Approach 1 in Admin - create new field to override for each bounty.

[2019-06-11 15:28] PixelantDesign opened #4616 "Set up ZenDesk for Support"
### User Story

As operators of Gitcoin, we'd like to have a place to direct hackathon funders/contributors when there are bugs to report and easily track issues when working towards a resolution.

As operators of Gitcoin, we'd like to have a seamless way to capture feedback/track support tickets from funders and contributors that currently roll into our triage channel.

### What
- [ ] Set up Zend

[2019-06-11 15:45] PixelantDesign commented on #4596
Maybe newsletter module on the right side of all the blog pages?

[2019-06-11 15:49] PixelantDesign opened #4617 "Hackathon Featured Bounties - Hackathon Explorer - Via Admin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Gold Package

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[co