[2018-02-25 04:19] lazaridiscom commented on #439
@owocki , I think @PixelantDesign silently got my point that this bounty is far too low for this huge task of producing a Gitcoin Voice Guide (even a limited scope one). So, was my result here worth the small bounty? Or will this drive down once more my success-rate-% ?

[2018-02-25 06:32] #460 closed

[2018-02-25 14:50] PixelantDesign opened #493 "As a user I'd like a cleaned up explorer page."
As a user I want a less overwhelming way to find what I need on the explorer page.

# Description
- Clean up search
- Remove unnecessary filter options
- clean up type
- explore alternate treatment to web 3 connection

# Definition of Done
All of the above are addressed.

# Reviewers
Gitcoin Core

[2018-02-25 15:11] lazaridiscom commented on #462
@owocki , bad news;

Despite this issue having "work submitted" status, I got

"You started work upon a funded issue 6 days, 15 hours ago. But we haven't heard from you on the github thread in 9 days. "

with a title:

"We've removed you from the task: 'Optional compatibility with geth PoA dev chain, to fix: Error could not format value <long hex string> as field 'extraData'' ?"

So it look the st

[2018-02-25 16:15] sethmcleod commented on #433
@mbeacom Will a new bounty be issued for this? Since this one has already been submitted (due to testing). I'm going to take care of this today.

[2018-02-25 16:31] PixelantDesign commented on #433
I’ll post a bounty fir it @sethmcleod.

[2018-02-25 17:36] sethmcleod commented on #479
@lazaridiscom here is a draft of what this page might look like with the updated styles:

![issue-view](https://user-images.githubusercontent.com/7340187/36644431-79e92b40-1a28-11e8-91a8-14f2cae42274.png)

[2018-02-25 18:29] lazaridiscom commented on #479
@sethmcleod , well done.

@owocki

I am now sure, that the right 2 people can fix the site-design within 48h.

Numbers of filed issues needed: 0 (zero)

They just start, and do.

[2018-02-26 01:35] sethmcleod commented on #433
I won't be able to complete this for the next week; someone else is welcome to in the mean time!

[2018-02-26 01:53] PixelantDesign commented on #439
@lazaridiscom sorry for the confusion. This task was actually still in our ungroomed backlog and meant for a core team member. Thanks for the effort.

[2018-02-26 02:02] tra38 commented on #239
Just wanted to post to state that I'm still working on this issue. Since #182 isn't completed yet, I  created a test Slack chat and generated a legacy API key so that I could connect it over to my gitcoin web-app on localhost. I'm currently experimenting with the Slack API and generating realistic-looking test data on my end before I could start writing the code to send out the remarketing emails.

[2018-02-26 03:14] owocki opened #494 "Issue explorer on mobile needs a quick cleanup"
As a user I want to be able to access and use Gitcoin via mobile regardless of device.

# Description
Show breakpoints in updated issue explorer design.

# Reference
![2018-02-25 20 13 36](https://user-images.githubusercontent.com/513929/36651892-710e66e4-1a68-11e8-96fd-4872de4a91c4.png)

[2018-02-26 03:16] thelostone-mc commented on #494
I was getting to that :P

[2018-02-26 03:38] owocki commented on #494
hi @thelostone-mc :)

@PixelantDesign has some new issue explorer designs in the works.  we may want to prioritize those soon.. i will let you know

[2018-02-26 03:39] owocki commented on #239
thanks for hte update @tra38 -- your testing methodology soudns good to me.  would be happy to take a look at a WIP PR too :)

[2018-02-26 03:50] owocki commented on #439
my mistake on the bounty of this issue.  @lazaridiscom thanks for your submission.  im going to pay this out as a show of goodwill, because there was an internal miscommunication on the bounty being posted that should not affect you!

[2018-02-26 03:51] owocki commented on #439
funds paid :)

[2018-02-26 03:53] owocki opened #495 "gitcoinbot did not comment on github when `work_done` event fired"
https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/439
https://gitcoincommunity.slack.com/archives/C8DCUQU91/p1519617040000057

# expected behaviour
when this bounty was marked as done, gitcoin bot should have updated the thread to tell everyone about it.

# actual behaviour
an email was received, but no github comment appeared

[2018-02-26 03:56] owocki opened #496 "galaxy s8 chrome mobile display issues"
see below screenshot: the text / images are hidden

![28167798_10105850502532830_4708886012293553881_n](https://user-images.githubusercontent.com/513929/36652816-5d34074a-1a6e-11e8-8ed8-250a72914425.jpg)
![28279349_10105850502258380_7393935402445898340_n](https://user-images.githubusercontent.com/513929/36652817-5d48950c-1a6e-11e8-886e-ba582bfe49a3.jpg)

[2018-02-26 04:03] owocki commented on #479
i think that the page looks pretty good. it sure is a little easier on the eyes than the current bounty explorer page.   also like that we got rid of the sidebar on the left hand side, since it wasnt serving any purpose for this page

[2018-02-26 04:04] owocki commented on #462
Are you suggesting that the email notifier should not warn users who have started AND submitted work?

[2018-02-26 04:11] owocki commented on #411
@caseykey check the 'mute the thread' option in your github email pls :)

@PixelantDesign did you want to see this coded, or just designed?

[2018-02-26 04:15] owocki commented on #491
sry @mkosowsk i should have given you credit.  brain fart

[2018-02-26 04:16] owocki commented on #115
@abdullahalbyati 👋

[2018-02-26 04:16] owocki commented on #320
yes that helmet works.

you can point it at 0x2af47a65da8cd66729b4209c22017d6a5c2d2400 on the mainnet

[2018-02-26 04:18] owocki commented on #343
@D3RPZ1LLA mind submitting your work on gitcoin @ https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/343 and i will pay you out?  or just DM me your ETH address on slackl

[2018-02-26 04:33] owocki opened #497 "as a user, i want tooltips on gitcoin.co/new to tell me what each field does"
# task status

still being specced -- please do not start work on it yet

# acceptance criteria
* tooltips on each field label at gitcoin.co/new which describe what the field is/does.
* work in progress - please do not start work on this task yet

[2018-02-26 04:45] owocki commented on #474
i ended up fixing the above issue.. but for future endeavours, youll want to look in `/var/log/gitcoin`

[2018-02-26 05:29] owocki commented on #420
i strongly agree that this is a high priority to figure out.

two comments about implementation:

1. i think that 48 hours might be a little aggressive.  should we let the user know that we expect a comment from them?  where?   if another 48 hours passes after their first comment and we don't hear from them after that, do we take action then too?  or only for the first comment
2. https://github.co

[2018-02-26 07:01] NukeManDan commented on #320
PR is in: https://github.com/MetaMask/eth-contract-metadata/pull/65

[2018-02-26 07:09] NukeManDan commented on #320
https://circleci.com/gh/MetaMask/eth-contract-metadata/163#tests/containers/0

looks like that address fails their npm test. ^

double checked - that is good on etherscan for standard contracts:
https://etherscan.io/address/0x2af47a65da8cd66729b4209c22017d6a5c2d2400

[2018-02-26 07:14] lazaridiscom commented on #439
@PixelantDesign , no problem.

@owocki , the most important thing first:

* my result. Take this stuff in account, when you produce guides, otherwise they'll remain theory-work which no one reads.

the less important thing:

* I seem to attract bugs: no ETH flew into my accout

but most importantly:

* gitcoin indicates: "Status: done" and "Accepted", which indicates "Payment done"

So, it seems t

[2018-02-26 07:31] lazaridiscom commented on #462
@owocki , yes.

But first, the simple bug:

* a)  How can i have 9 days delay, when I have started 6 days before?

So, there is a "plausibility" check missing there.

Now to the:

## State-Machine:

* State "WorkSubmitted" means "This Worker does not need to be notified"

At this state, no delay notifications should go out to the worker.

Instead, the delay-notification should go to the issuer:

B

[2018-02-26 07:34] lazaridiscom commented on #439
@owocki , just noticed that I got the ETH. MetaMask still confuses me. It does not show the incoming transactions (yes, ok, the tab says "SENT", my fault)

[2018-02-26 07:39] lazaridiscom commented on #433
right below: https://github.com/gitcoinco/web/issues/433#issuecomment-367764711

@PixelantDesign , what was this about? I tend to delete some comments of me now and then, but what was this one? Don't even remember to had this issue here on my radar.

[2018-02-26 07:56] lazaridiscom commented on #479
@owocki , the thing is, that you should not leave the current page like this in public. Its more or less draft state, really difficult to read:

(a designer can fix this quickly with a few style changes, until a final design flies in...)

![screenshot-gitcoin co-2018-02-24-10-08-50](https://user-images.githubusercontent.com/35095758/36658857-095c48e0-1adb-11e8-9bcd-78b6d6e78672.png)

[2018-02-26 08:47] leonprou commented on #408
@owocki Sure it solved the issue.

 I'm working to on this, thats my [repo](https://github.com/leonprou/web/tree/increase_code_coverage). I don't have much time during the weeks, so I think I'll finish at the weekend.

[2018-02-26 11:47] mkosowsk commented on #420
@owocki at the risk of being bold, I think 48 hours is not aggressive enough and would recommend 24 hours or having a plan to move to 24 hours.

If a developer starts work I think posting a quick comment talking about their approach/plan of attack in the first 24 hours will (1) provide a focus to their work if they have to put their thoughts down on paper, (2) allow them to receive feedback on the

[2018-02-26 11:52] mkosowsk commented on #491
No worries! You'll never have need to promote me because I'll always make sure to do it myself haha 😂🤣

[2018-02-26 12:08] PixelantDesign commented on #420
I think 48 hrs seems reasonable and also agree with the points @mkosowsk has outlined.

[2018-02-26 12:32] PixelantDesign commented on #494
@owocki @thelostone-mc Should we hold off on this or work on it at the same time as the new issue explorer? I should have that ready in a day or so, Just finalizing one more thing.

[2018-02-26 12:36] PixelantDesign commented on #433
Closing this ticket for clean commenting thread and opening a new one with a more accurate bounty amount.

[2018-02-26 12:36] #433 closed

[2018-02-26 12:42] PixelantDesign opened #498 "Consistent Form Styles Across the Gitcoin"
As a user, I want to see legible and consistent form styles across the app so that I know where to input information, get things done, and build trust with the Gitcoin brand.

# Description
Unify form styles on the following pages:
- Anywhere forms exist in the app portion of the site.
- Anywhere forms exist on marketing pages: slack sign up, email settings, etc.

# Assumptions
Keep current functi

[2018-02-26 12:56] PixelantDesign opened #499 "Update Gitcoin Brand Guide"
*Placeholder - Not Ready to be worked on*

[2018-02-26 13:13] lazaridiscom commented on #208
Just for the case that you vote negative (don't dare!!!), I summarize what was asked for in context of the **existent** tools.

Because if you vote negative, then I still claim this bounty, by providing the result for the task below:

(@owocki wrote in the above discussion: )

# design bounty

for each tool, what would a tool detail page look like that

    shows off the tools' "brand"
    articul

[2018-02-26 13:14] thelostone-mc commented on #494
@owocki how many % folks use this on mobile ? If it's negligible , we can put it off for now

Then again first impression matters , new users who open this via mobile would not be impressed :/

[2018-02-26 13:57] lazaridiscom opened #500 "[SEVERE] "Closed" Bounties are listed under "Expired""
## Issue

### Expired Mainnet Funded Issues (101 worth 18826.31 USD, 21.93 ETH)

### Done Mainnet Funded Issues (60 worth 8309.92 USD, 9.68 ETH)

This is really a not-so-well metric / success-rate.

But!

The gitcoin metrics are currently out of order. Look here:

As an example, this issue ethereum/web3.py/issues/430 is listed as "expired" instead of "closed".

So, you should verify each and every

[2018-02-26 14:22] gsvitak commented on #454
Status update. I was blocked by a 404 error when I clicked on the Email Settings link. The slack thread https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1519619010000007 helped me get past the block.

[2018-02-26 15:02] KennethAshley commented on #498
I will be working on this

[2018-02-26 15:16] KennethAshley commented on #498
It might be worth updating all styling at some point

[2018-02-26 15:28] mkosowsk commented on #454
Documenting this now with screen shots as eventual that Slack thread will disappear down the Slack hole 👍

<img width="861" alt="screen shot 2018-02-26 at 10 27 55 am" src="https://user-images.githubusercontent.com/7970539/36678820-c380c134-1adf-11e8-984e-6887c2a76c5b.png">

<img width="849" alt="screen shot 2018-02-26 at 10 28 06 am" src="https://user-images.githubusercontent.com/7970539/36678823

[2018-02-26 16:07] owocki commented on #439
glad you got it!

i know that metamask is releasing a new UI sometime soon.. which im pretty excited about

[2018-02-26 16:19] lazaridiscom commented on #439
it's a nice tool, I'm now used to it.

[2018-02-26 16:24] owocki commented on #498
@KennethAshley im posting a bounty for this now :)

[2018-02-26 16:39] owocki commented on #494
i think so, yes. cc @thelostone-mc in case he wants to work on the new issue explorer :)

[2018-02-26 16:53] owocki commented on #420
ok; i see your point.  but how do we communicate to them that they MUST comment back and start work that quickly?   note: that the current 'start work' gitcoinbot comment asks them to do this, but many don't follow this instruction

[2018-02-26 18:59] KennethAshley opened #501 "Longer titles are profile page overflow their bounds"
##### Description
Per title, issues with longer titles overflow their bounds into the next title.

##### Possible Implementation
Possible fixes are truncating text, or just making sure the title bounds expand.

##### Example
![image 1](https://user-images.githubusercontent.com/1138619/36689379-d1f28d3c-1af4-11e8-80f0-189951e8d9e5.png)

##### Environment
* **Chrome**:
* **64**:
* **Mac**:

[2018-02-26 20:41] owocki commented on #462
thx for the report!  just put in a fix for this; 2f005f366b10f8173e5a31621b7fc25210ebcc84

[2018-02-26 21:29] vs77bb commented on #445
@owocki Should I pub this one out?

[2018-02-26 21:32] owocki commented on #445
@vs77bb yes pls

[2018-02-26 21:38] vs77bb commented on #380
@iliketobuildstuff Issues should be resolved on the Gitcoin site now... cc @PixelantDesign I think the last question is directed to you!

[2018-02-26 21:46] vs77bb commented on #165
@bhenze @scottydelta Poking in here, who is working this one right now? It seems like this might be in need of feedback from @owocki  but I can't tell for sure.

Apologies for Gitcoin Bot coming in and trying to take over 😛 (Which I can see is a topic of conversation itself).

@owocki @PixelantDesign Any thoughts to add on the approach suggestions?

[2018-02-26 22:07] bhenze commented on #165
Yeah, this one kinda got a little confusing. I have changes #387 but there is a bit of drift now and I will need to do some manual merging. Just wanted to wait till I had the go-ahead before I did that.

[2018-02-26 22:11] owocki commented on #165
id be happy to move over to a clean thread if that'd help make this neater :)

@bhenze let me know if you need anything from me! lets we left things i think we were on the same page

[2018-02-26 22:23] scottydelta commented on #165
are we still adding live rates using [shields.io](https://shields.io) API?

@bhenze if the answer is yes to the above question then I can work on adding that if you haven't worked on it already. thanks

[2018-02-26 22:24] owocki commented on #165
id prefer to complete the original scope here and then consider adding that later..

[2018-02-26 22:53] bhenze commented on #165
@owocki yup, we are on the same page. I was just waiting for a review on #387 but while I was waiting,  some of those strings got updated a bit. So I just need to go back, rebase and fix those strings. I will go ahead and do that in a few and let you know when it is ready to look at.

[2018-02-26 23:17] bhenze commented on #165
@owocki, okay. My branch is up to date with all my updates from previous reviews and all the latest code from master. Cheers!

[2018-02-26 23:30] owocki commented on #165
commenting over at https://github.com/gitcoinco/web/pull/387 now

[2018-02-26 23:46] owocki commented on #447
just responded to your queries on slack.. hit me back there if any questions outstanding!

[2018-02-27 00:10] bhenze commented on #165
@owocki responded to your questions.

[2018-02-27 00:19] owocki commented on #462
i put in a bunch of fixes for these issues over at https://github.com/gitcoinco/web/issues/474 and tehre is a post mortem medium post coming tomorrow to acknowledge / reflect on the issues.  lmk if you think its okay to close this issue

[2018-02-27 00:27] owocki commented on #198
@sethmcleod just send me your ETH address on slack and ill get you paid out that way.  we are going to close down all the legacy bounties within a week or two

[2018-02-27 00:28] owocki commented on #198
@sethmcleod could you attach your Sketch files to this issue?  i'm going to create a new ticket for coding this all up and want the developer to have as much resources to work with as possible

[2018-02-27 00:33] vs77bb commented on #420
Recommended restructure of initial Gitcoin Bot comment to something like the below:

[2018-02-27 00:37] sethmcleod commented on #198
Here are the source files:

[gitcoin-ideas.zip](https://github.com/gitcoinco/web/files/1760774/gitcoin-ideas.zip)

[2018-02-27 00:38] owocki commented on #450
sorry, ETHDenver destroyed my inbox

<3 it.  lets do it

how about <username>.getgitcoin.ETH

ens.setSubnodeOwner(namehash('somename.eth'), web3.sha3('foo'), someAccount, {from: eth.accounts[0]});

i... dont know the answer here... this is part of why i bountied it! :) im hopeful theres some open source implementation of an ENS subdomain smart contract that we can repurpose and use for this

[2018-02-27 00:47] owocki commented on #221
@nitinrgupta no i dont think so.. DM me a link to this convo and your ETH address and ill get you paid out..

looks like the work expired on gitcoin so i can't pay you out via the actual site

[2018-02-27 00:49] owocki commented on #448
one way to get past the impasse here might be to set up the backend rails for the drip campaign (crontabs, data layer, email templates)... and then i can pick up the content once all that stuff is in place...

[2018-02-27 01:03] PixelantDesign commented on #380
@iliketobuildstuff
Futura and Open Sans is correct.
We're in the process of updating form styles to follow the design on this ticket.
https://github.com/gitcoinco/web/issues/498.

[2018-02-27 02:54] scottydelta commented on #450
@owocki ok let me research about it and update you. thanks

[2018-02-27 03:59] scottydelta commented on #450
@owocki do you own the domain `getgitcoin.eth` since it's unavailable for registration. Do you own `gitcoin.eth`, it would be better to have `gitcoin.eth` than `getgitcoin.eth`?

[2018-02-27 05:06] PixelantDesign commented on #493
![Gitcoin_Explorer.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46cf9d8e208d8aa7b0cca753a852e2913b046b313916ac217586f76ae5002e00590e4dfa125c5e47fdfddc7aa6b638248a0d0db8d93b4d68d47f40f2ecdd42e64bef62994597b7b4804dc5e93422e78c8848391f04199bb2.png)

[Gitcoin_Explorer Page.zip](https://waffleio-direct-uploads-production.s3.am

[2018-02-27 05:07] #493 closed

[2018-02-27 05:10] PixelantDesign commented on #437
![Screen Shot 2018-02-27 at 12.07.44 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77216456f46b7191a379ed0c2b56415b4abc30254d58eeb9cb74fce36f34985619e8806b0e77906e15adbb831bea50ba208f1b85e7badf4496fa2137a5dad11b61435c52dcbd4f3fb29842c259f34ae84a55ac123460ee7f356e0a.png)
[Gitcoin Stick

[2018-02-27 05:10] #437 closed

[2018-02-27 05:12] PixelantDesign commented on #411
@owocki I believe @thelostone-mc has already coded it?

[2018-02-27 05:15] PixelantDesign commented on #498
[Gitcoin Sticker Sheet.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46cf9d8e208d8aa7cfdaab4aa756f58669752f762c10e1673295f127b54778154d555ca9105e0e47aaaa8d2aa5b73825db5c0be9856d0e72933547bea4905dee5fee7fd616cfe3fe9846d2e93a2fe68e8e46391e0d1c81f85835a18b06.zip)

[2018-02-27 05:24] PixelantDesign commented on #421
@KamesCG  Let me know if you have any questions!

[Gitcoin Sticker Sheet.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46cf9d8e208d8aa7cfdaab4aa756f58669752f762c10e1673295f127b54778154d555ca9105e0e47aaaa8d2aa5b73825db5c0be9856d0e72933547bea4905dee5fee7fd616cfe3fe9846d2e9342fe68e8e46391e0c188df85f33a98b06.zip)
![Screen Shot

[2018-02-27 05:33] PixelantDesign commented on #425
Closing this since @KennethAshley is working on global forms.

[2018-02-27 05:33] #425 closed

[2018-02-27 05:36] PixelantDesign opened #502 "Consistent fonts across the Gitcoin site"
As a user I'd like to see consistent fonts across the Gitcoin site.

# Description
Unify font styles across the site.
- Apply new H1-H6, Muli google font
- Test

# Assumptions
No change to content

# Definition of Done
New type strategy is applied and is consistent once coded.

# Reviewers
@PixelantDesign

# Reference Material
https://fonts.google.com/specimen/Muli
[Gitcoin Sticker Sheet.zip](http

[2018-02-27 05:46] PixelantDesign opened #503 "Update Issue Explorer Front End"
As a user I want an updated explorer ui.

*Part 1 of 2 Part Task*

# Description
- Update new explorer design (type, color, spacing, etc)
- Update Graphic to Web3 states
- Apply new ETH USD across Gitcoin site

# Definition of Done

* All of the above are addressed.
* Mobile / Tablet Responsiveness is done.

# Reviewers
@PixelantDesign

![Gitcoin_Explorer.png](https://waffleio-direct-uploads-produ

[2018-02-27 06:08] eswarasai commented on #412
@PixelantDesign @owocki @thelostone-mc -- I'll be working on this task

[2018-02-27 06:19] PixelantDesign opened #504 "Remove Subscribe to Funded Issues at top of Issue Detail Page"
As a user, I don't need a persistent area for subscribing to new funded issues.

# Description
- Remove new funded issues box, since we will now have a popup to capture email at the bottom right hand corner of the site.

# Done Means
- Widget is removed

# Reviewers
@pixelantdesign @owocki

# Reference
![Screen Shot 2018-02-27 at 1.14.42 AM.png](https://waffleio-direct-uploads-production.s3.amazon

[2018-02-27 06:19] thelostone-mc commented on #502
Just tagging myself as a reminder to help with the review!

[2018-02-27 06:19] thelostone-mc commented on #502
@PixelantDesign Give me heads up once this done, I'll help with the review

[2018-02-27 06:23] thelostone-mc commented on #504
@PixelantDesign I've sort of handled this in https://github.com/gitcoinco/web/pull/323#issuecomment-367690843
This is pending merge but yeah just bringing it to your attention :)

[2018-02-27 06:27] #411 closed

[2018-02-27 06:30] thelostone-mc commented on #503
Calling dibs on this ^_^
/cc: @eswarasai

[2018-02-27 06:35] PixelantDesign commented on #498
[Uploading Gitcoin Sticker Sheet.zip...]

[2018-02-27 06:44] g33klord commented on #477
@vs77bb Hi! I am planning to do it using celery. Setting up celery will be beneficial for other part of projects too.

[2018-02-27 07:00] scottydelta commented on #450
@owocki I think I figured it out, I just started auction for a dummy `ens` domain to play around with. Once I have access to the domain, I think it shouldn't take time.

[2018-02-27 12:04] lazaridiscom commented on #462
@owocki , it sound like you think that the issue at hand is fixed. I still believe that to test this 100%, an "Accept Work" is needed. But closing for now.

The issue brought Follow-up issues:

=> "State-Machine, Draft" (super-important work, annoyingly difficult to produce)

=> Conflict Resolution, Draft (its something that must be done sooner or later)

(I possibly file the issues in a few days)

[2018-02-27 12:04] #462 closed

[2018-02-27 12:22] lazaridiscom commented on #222
Name: Lazaridis
Gitcoin Slack: Slack? No way!
Role: Simulating an itchy customer.
Favorite Food: chicken wings
Favorite Gitcoin Feature: ??? The Bugs & Flaws of course...

Shocked??? Don't be afraid, just joking!

Two things:

* I would like to see the roles **clearly**, so @owocki , you should place a clear "Team Lead" (or similar), which shows that you are the final on to yell at when things go

[2018-02-27 12:27] PixelantDesign commented on #454
Is design needed?

[2018-02-27 15:23] owocki commented on #503
@thelostone-mc @eswarasai ^^

[2018-02-27 15:29] owocki commented on #198
@sethmcleod per our DM convo, i have sent you the ETH for this  :)

[2018-02-27 15:29] #198 closed

[2018-02-27 15:31] owocki opened #506 "Code - /pitch pages"
# Why

Because there's good ideas out there, and the community needs to know about them.

Because there's *bad* ideas out there, and the community needs to help the pitcher evolve them.

#  What

## First page

Page that lives at `ideas/new`.  Page has a web form
* Email
* Name
* Github username
* Summarize your idea (short text input)
* Tell us more (long markdown input)
* What are you looking fo

[2018-02-27 15:33] owocki commented on #198
coding task => https://github.com/gitcoinco/web/issues/506

[2018-02-27 15:33] mkosowsk commented on #506
This could be very interesting... I would like to throw my hat in the ring for working on this tentatively 👌

@owocki what is your timeframe when you would like to have this done by?

[2018-02-27 15:35] owocki commented on #506
@mkosowsk i just put '1 month' as the expiration for the bounty... so ideally we'd be aiming for a merge into master within the next 3 weeks.  i think that having a bounty hunter who is commited to seeing it across the finish line is more important than someone who is gonna start RIGHT NOW

[2018-02-27 15:35] owocki commented on #412
@eswarasai can you click 'start work' on gitcoin?

[2018-02-27 15:37] mkosowsk commented on #506
@owocki I will see this through, I bet @vs77bb's life on it 👍 👍 👍

[2018-02-27 15:38] mkosowsk commented on #506
Will post a plan of attack by EOD Saturday, very excited to take this one on!

[2018-02-27 15:50] owocki commented on #454
i think we could stand to redesign almost all of our emails... as most of them were coded during my "im getting up at 3am to work on gitcoin while i have a full time job" phase of the project..

but that aside... if you could spend 1/2 hour mocking up what this should look like... it might be worthwhile.  here are two templates to jumpstart the visual conversation http://bits.owocki.com/0j0B2z0M0m

[2018-02-27 15:55] owocki commented on #222
busted!

I'd prefer the title 'Founder' if this is the direction we go.. Team Lead is too hierarchical (though being flat might not last forever)

Also, no yelling pls!  Its against our [code of conduct](https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md) [and here too](https://github.com/gitcoinco/gitcoinco/blob/master/CODE_OF_CONDUCT.md).. Instead, buy me a whiskey on the rocks to

[2018-02-27 15:55] owocki commented on #222
@vs77bb send us your infos!

[2018-02-27 15:59] owocki commented on #462
is this what you were looking for? http://bits.owocki.com/1b372N34143l/Screen%20Shot%202018-02-27%20at%208.59.10%20AM.png

[2018-02-27 15:59] owocki commented on #462
this is something that @mbeylin is working on and has put a TON of thought in... should be live in Q2

[2018-02-27 16:02] PixelantDesign opened #507 "Sync Github and Gitcoin Issue Details"
As a user I want to see the most updated issue details from Github on Gitcoin.co

# Description
Once a funder completes the bounty creation flow. Any edits made to the details of the task on the Github issue page do not sync back to the issue page on Gitcoin.co. It would be great if this was synced at some interval of time.

# Definition of Done
- From a technical perspective explore improvement a

[2018-02-27 16:03] owocki commented on #413
hey @PixelantDesign did you have a desired design to use here?

[2018-02-27 16:13] lazaridiscom commented on #222
Founder is ok. Yet your role is to lead this project, and essentially you report to someone, too. Flat or not, the reality should be visible, for credibility reasons. You move money, so provide some transparency. The relation / organization of the consensys bounty.network should be visible, too.

E.g.:

"Gitcoin belongs to the ConsenSys family. The whole organization has a quite flat hierarchy. Gi

[2018-02-27 16:21] SampsonCrowley commented on #503
If this isn't claimed/gone tonight, I'm on it

[2018-02-27 16:21] SampsonCrowley commented on #503
The site is in need of a up update

[2018-02-27 16:25] lazaridiscom commented on #462
You don't suggest that I wait till Q2?

The thing is: what do yo do now(!) in cases like this.

I may organize a UNION and call a STRIKE !!!

[2018-02-27 16:30] lazaridiscom commented on #413
Web3 is an implementation detail, which should be hidden from the user

Relevant Info:

* Ethereum Main

And then the relevant status (possibly a screamy symbol, when something is wrong)

[2018-02-27 16:32] lazaridiscom commented on #503
Wise words...

[2018-02-27 16:39] mkosowsk commented on #462
Haha

@lazaridiscom I recommend you use emoji in your messages 👍

I work with an international team and find it helps get the emotions across better, a friendly 😂🤣after a joke helps people get the message

Happy posting! 💪🏻🤠👍🏻

[2018-02-27 16:47] lazaridiscom commented on #462
Well, I usually block emoticons!

And positive people, will always see the emoticon within the words...

[2018-02-27 16:50] lazaridiscom commented on #462
@owocki , wait, don't run! Just saw this:

No, this is very basic design.

Producing state-machine related stuff is kind of a x.0 bounty (so you get the effort). Its about combining the graphical/logical design with code, eliminating (or highly reducing) the possibility of failure.

[2018-02-27 16:54] mkosowsk commented on #462
http://journals.sagepub.com/doi/abs/10.1177/0894439307311611?journalCode=ssce

Would recommend you consider using emojis, they really can help remove message ambiguity over text based messaging 👍🏻

[2018-02-27 17:03] lazaridiscom commented on #462
Nope. I'm a sadist. I want people to loose their last mental juice in asking themselves: "How does he mean that? Was this actually a joke? "

Additionally: github emos look really really kitchy!!!

[2018-02-27 17:04] mkosowsk commented on #462
Guess we'll have to agree to disagree! 👍

[2018-02-27 18:16] owocki commented on #507
this is a good idea 👌

[2018-02-27 18:27] owocki commented on #421
hey @PixelantDesign a few notes on the above

1. can we scrub 'build your bounty' from this?  it was the original designers recmomendation for a tagline..  can slack if you disagree
2. the github link is https://github.com/gitcoinco/creative (note the 'co' in the username gitcoinco)
3. are you able to commit this up to https://github.com/gitcoinco/creative and maintain it there?

[2018-02-27 18:33] owocki commented on #437
just added a few comments about this over at https://github.com/gitcoinco/web/issues/421#issuecomment-368977775 ( which was the first time i saw the artifact)

[2018-02-27 18:34] owocki commented on #477
neat-o.  @g33klord id love to see some basic celery setup instructions included with your submission so we can implement in production the same way you did.

[2018-02-27 18:35] owocki commented on #450
i own getgitcoin.eth but not gitcoin.eth -- i know the owner of gitcoin.eth if we really really feel its important

[2018-02-27 18:57] PixelantDesign commented on #421
@owocki yes, will remove.

[2018-02-27 20:13] PixelantDesign opened #508 "Clear and concise message about work started from Gitcoin Bot"
As a user, I would like clear and concise messagining from the gitcoinbot about starting work.

# Description:
Update copy and shorten messaging so that there isn't a lot of content to parse through.

# Definition of Done:
Copy is revised

# Reviewers
@vs77bb @pixelantdesign

![Screen Shot 2018-02-27 at 3.12.14 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5c

[2018-02-27 20:54] owocki commented on #233
just closed down the bounty here; @KamesCG i also sent you a tip -- thanks for working with me on this!

[2018-02-27 22:18] owocki commented on #222
<img src='https://d3vv6lp55qjaqc.cloudfront.net/items/342f3a3f0I3q3G1s0I2d/Screen%20Recording%202018-02-27%20at%2003.17%20PM.gif'>

This is neat.  [Its from this page](https://www.dailydrip.com/pages/about)

[2018-02-28 02:10] owocki commented on #501
lets do this after https://github.com/gitcoinco/web/issues/503

[2018-02-28 02:36] KennethAshley commented on #503
This looks great!

[2018-02-28 04:47] scottydelta commented on #450
@owocki It's not really required but would have been nice to use `gitcoin.eth` as the ENS tld. Is it fine to reuse the frontend form at `/tip/send/2/`?

[2018-02-28 06:00] vikaskyadav opened #510 "The Join Community modal not rendering properly."
##### Description
The modal window for joining community is not rendering properly, may be the issue with image on it.
![issue_gitcoin1](https://user-images.githubusercontent.com/12607959/36772272-8ddd5c12-1c7a-11e8-90dc-9a9efd7381da.png)

##### Environment
Linux- Ubuntu 17.10 64 bit

* **Browser**: Firefox Quantum
* **Version**: 58.0.2
* **Subsystem**:

[2018-02-28 10:03] lazaridiscom commented on #500
Great, it seems nobody cares.

[2018-02-28 10:19] lazaridiscom opened #511 "Please remove the pop-up"
pops up at each and every page I try to read:

![image](https://user-images.githubusercontent.com/35095758/36782363-64a6bd1e-1c81-11e8-854d-a883320929f9.png)

how can someone focus this way?

[2018-02-28 12:07] thelostone-mc commented on #500
@vs77bb @owocki this looks like a valid concern !!

[2018-02-28 15:58] owocki commented on #511
if you dismiss it does it show up again on the next page you browse?

i think we may just want to show this on the landing page

[2018-02-28 16:02] owocki commented on #500
I think you'd be better served if you did not climb [the ladder of inference](https://www.mindtools.com/pages/article/newTMC_91.htm) so quickly.

Additionally, I'll remind you that this project is open source, and if the issue is SEVERE as you tagged it, you are welcome to put in a code fix yourself or bounty it.

I am putting this in our `to do` column.

[2018-02-28 16:03] owocki commented on #511
Chatting with a member of the consensys growth team now:

[2018-02-28 16:06] lazaridiscom commented on #511
Would I write **[SEVERE]** if it was just one time thing?

Popups are bad, this is a work site, you come back again and again.

Additionally, I have an account.

If I decide to want notifications, I go there (standard behavior of sites).

Don't treat me like I have no brain.

(writing as a user here... and smileys are out of stock)

[2018-02-28 16:32] owocki commented on #500
just coded up a fix on my local..  here are the status before and after migration

[code]

[2018-02-28 16:36] owocki commented on #500
just applied the fix in prod.  here are the scripts i used => http://bits.owocki.com/0F0z143O2N3l/Archive%202018-02-28%20at%209.36.02%20AM.zip

here is a prod commit 9cf610f28f6fe6b33ea2db54930c533d9c832c71

[2018-02-28 16:36] #500 closed

[2018-02-28 16:43] owocki commented on #450
i'm working on it

yes!

[2018-02-28 16:43] lazaridiscom commented on #500
No "sarcasm", but "disappointment".

I guess I simply stop filing issues in this project.

Feeling unwelcome and my individuality rejected.

Just fix the database, please.

In its current state one cannot look for issues in peace.

[2018-02-28 16:46] owocki commented on #511
let me know what you think of the fix i posted above @lazaridiscom ^^

[2018-02-28 16:47] owocki commented on #510
thanks @vikaskyadav we are looking into this

[2018-02-28 16:49] lazaridiscom commented on #511
fine for me, @owocki . I usually don't visit landing page (and i guess others users, too).

[2018-02-28 16:53] owocki commented on #500
"Great" is pretty sarcastic in this context.  As is the inference that no one cares because there was no response in 24 hours.   A better way to word this would be "This seems severe to me.  Anyone else?"

I'd love to have you stick around because I think you care a lot and have good ideas .  But if you can't take constructive feedback about your tone, then I agree - it's better that you stop fill

[2018-02-28 16:57] lazaridiscom commented on #500
Yeaii!!! @owocki, just saw it:

* Done Mainnet Funded Issues (144 worth 25118.22 USD, 28.90 ETH)
* Expired Mainnet Funded Issues (25 worth 4915.39 USD, 5.66 ETH)

Looks much much better, and you're so fast... Me not good in fast solutions, I usually have to think much. So I guess we would be "complementing skills" or so.

You don't give up, teacher, e???

All fine here!!!

(Promise: will work on m

[2018-02-28 17:04] owocki commented on #500
Amen brother!

❤️ alls well that ends well.. thanks for the bug report + the tough convo :)

[2018-02-28 17:04] lazaridiscom commented on #511
All good (popup disappeared even in landing page)

[2018-02-28 17:04] #511 closed

[2018-02-28 17:10] owocki commented on #221
spoke to @nitinrgupta on slack and turns out he was already paid out :) https://etherscan.io/tx/0x3401c305284e9da6b55520d26ecf05afd22905dd3990caccf1ebadef849c5347

[2018-02-28 21:42] owocki opened #512 "cohort analysis"
blockers: https://github.com/gitcoinco/web/issues/234

once the identity piece is solved, i'd love to build a reusable cohort analysis that starts with email capture, and shows every involvement with the system over time for a specific cohort (day, week, month)

example cohort analysis
<img width="1393" alt="screen shot 2018-02-28 at 2 42 24 pm" src="https://user-images.githubusercontent.com/51392

[2018-03-01 06:08] NukeManDan commented on #320
PR merged as StandardBounties closes #320

[2018-03-01 06:08] NukeManDan commented on #320
PR merged as StandardBounties closes #320

[2018-03-01 11:22] lazaridiscom commented on #469
closing in favor of #503.

[2018-03-01 11:22] #469 closed

[2018-03-01 11:28] lazaridiscom commented on #479
closing in favor of #503.

[2018-03-01 11:28] #479 closed

[2018-03-01 15:25] KennethAshley commented on #432
Ill will be working on this!

[2018-03-01 17:21] lazaridiscom commented on #464
@owocki , oversaw this i guess. Its 2 parallel steps:

* bounty for a design
* bounty for a coder (research libraries which generate such stuff)

See my original message ^^ (although i suggest no logo, and a very thin banner

![image](https://user-images.githubusercontent.com/35095758/36858960-b0d000d8-1d85-11e8-986f-bc70e882afc6.png)

[2018-03-01 17:24] owocki commented on #464
@lazaridiscom awesome!  great to see an MVP

cc @coderberry who has some experience with dynamically updating banners on github markdown.

what do you think the easiest way to get issue submitters to insert this code at the top of their issues would be?

[2018-03-01 17:29] lazaridiscom commented on #464
Actually that it would be:

* faster to get people to the bounty
* possibly: a simple way to reduce bot noise (as the updates appear on the banner)

There is no automated way i guess, to edit issues? (e.g. access right? but its would be quite a big access right...)

[2018-03-01 18:44] owocki commented on #464
i wonder if we used the gitcoin github app that @jesusroman created (which is installed on a per repo basis).. .we would have edit permissions sufficient to insert into the issue description

[2018-03-01 20:48] lazaridiscom opened #515 "Gas Limit Set Dangerously High"
Transaction Error. Exception thrown in contract code.
![image](https://user-images.githubusercontent.com/35095758/36868807-2870474e-1da2-11e8-98ee-9b9b9c316f9e.png)

When i manually correct this gas limit price, and send tx, after a few seconds page is there again (as usual), but the submission is not gone through.

One went through, it seems:

https://etherscan.io/tx/0x2fcf942120b13a3607a04d5a585

[2018-03-01 20:50] gsvitak commented on #447
updating comments/requirements from slack

Basically the ask is, using BeautifulSoup + requests to scrape the github page, scrape get as much information as possible from the page. The data wont be in geth, as these are not bounties that are in smart contracts already

[2018-03-01 21:49] owocki commented on #515
related to https://github.com/ConsenSys/StandardBounties/issues/25
https://github.com/gitcoinco/web/issues/445

for https://github.com/GridPlus/cryptobridge-contracts/issues/11 you cannot do a submission bc the bounty has expired.. will need to have the submitter kill the bounty and then pay out your ETH address directly if they agree that the submission is ready to accepted and they don't mind th

[2018-03-01 21:57] lazaridiscom commented on #515
possibly a quick workaround would be to set default expiration to 1 month ( I mean for new bounties).

Thanks for the quick reply.

[2018-03-02 01:42] #492 closed

[2018-03-02 02:00] #483 closed

[2018-03-02 02:52] #409 closed

[2018-03-02 02:54] PixelantDesign opened #516 "How to Get Started (Developer)"
*This ticket is not fully defined, or ready to be started*

As a first time user, I want a quick overview on how to get started.

Description:
Get started button takes user to a lightbox and drops them on explorer page with no continuation of the flow.

[2018-03-02 02:56] PixelantDesign opened #517 "How to Get Started (Repo Maintainer)"
*This ticket is not fully defined, or ready to be started*

As a first time user, I want a quick overview on how to get started.

Description:
Get started button takes user to a lightbox with options to fund issue and send tips.

[2018-03-02 04:40] tra38 commented on #239
Just finished generating some test data. I notice that we're only querying the presence data once every day, for performance reasons. If a user does not interact with a client for 30 minutes, Slack will mark them as inactive. As a result, I am concerned we may accidentally mark certain active users as being inactive because they are "away" from Slack during the time period when we execute that que

[2018-03-02 05:12] #332 closed

[2018-03-02 05:59] #98 closed

[2018-03-02 06:07] mbeacom commented on #191
Can this be closed? @owocki ? Since the addition of the profile in the navbar, leaderboard, and  https://github.com/gitcoinco/web/commit/4db158518ffed9068d401956b68a9adf27ae682e, seems the profile isn't as hidden as it was previously.

[2018-03-02 08:10] lazaridiscom commented on #515
and if possible, a descriptive error-message should be shown.

[2018-03-02 11:31] mkosowsk commented on #515
@lazaridiscom have anything in mind for what the error message should be?

If I'm understanding this right, something like:

"Error: Cannot submit bounty as it has expired. Please contact bounty submitter directly to resolve."

[2018-03-02 12:21] lazaridiscom commented on #515
perfect!

[2018-03-02 14:41] thelostone-mc commented on #411
@vs77bb merged ! ^_^

[2018-03-02 15:37] PixelantDesign opened #518 "Latest News Updates"
*To be defined, not ready to start work*

As a Gitcoin member, I'd like to see the most recent news updates at the top of the screen.

Add ability to dismiss.
Task dependent upon #432

![Screen Shot 2018-03-02 at 10.34.52 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206454f16b7191a

[2018-03-02 16:26] owocki commented on #515
i just updated https://github.com/gitcoinco/web/issues/445 with this information.. cc @KennethAshley who i think mentioned he was gonna tackle it at some point

[2018-03-02 16:52] owocki commented on #503
i am SO excited about this new page.  the issue explorer is the ❤️ of the bounty system and this new one looks SO good.

@thelostone-mc let us know when to expect a WIP PR

[2018-03-02 17:06] razordaze commented on #404
Hm... Negotiation of compensation after the work is done = recipe for exploitation.

There's definitely a Big Problem here, probably outside scope of GitCoin, more in the realm of something like integrating a 3rd party like Colony.io?

[2018-03-02 17:18] owocki commented on #239
OMG if you can figure this out you will be my hero @tra38 - this would MASSIVELY increase the system's performance

I am more than happy to do a rewrite of the query / storage of this information on the heels of the above ☝️

I think at the rate we're scaling right now, it actually might be a blocker.. It takes a 1/2 hour to run through each user 1 by 1 and will only get worse as the community gro

[2018-03-02 17:33] #480 closed

[2018-03-02 17:33] #453 closed

[2018-03-02 17:33] owocki commented on #453
solved this by introducing `override_status` field and populating it on a bunch of legcy issues

[2018-03-02 17:34] #474 closed

[2018-03-02 17:35] mbeylin commented on #404
What we're working on with the new version of standardbounties is to be able to submit a fulfillment (work) with multiple individuals, where a fraction of the payout would go to different people.

It seems to me like the splitting ratios should be determined before the collaboration begins, which we're going to be supporting in the front-end.

[2018-03-02 17:36] owocki opened #519 "Is there still a problem with 'start work' carrying over from bounty to bounty?"
https://github.com/TrustWallet/trust-wallet-ios/issues/367
https://gitcoin.co/funding/details?url=https://github.com/TrustWallet/trust-wallet-ios/issues/367

This user started work 3 days ago (and i presume they didnt stop work because the comment is still there) and then submitted 17 hours ago

<img width="854" alt="screen shot 2018-03-02 at 10 35 50 am" src="https://user-images.githubusercontent

[2018-03-02 17:37] mbeacom opened #520 "As an admin, I want to be able to queue background tasks to execute outside of the Django app"
##### Description
The gitcoin service currently doesn't utilize a messaging queue to be schedule jobs in the background or via workers.  For example:  `maybe_market_to_email` at https://github.com/gitcoinco/web/blob/master/app/dashboard/notifications.py#L406

##### Possible Implementation
Implement something like Celery or Tasker making use of SQS, AMQP, etc.

This would allow us to designate meth

[2018-03-02 17:42] owocki commented on #404
💯

also @thelostone-mc @eswarasai i just gave the original chat a re-read. hopefully the scope didn't expand too much on that COLO issue.. perhaps its worth a 3 day chat on slack about it if it did

[2018-03-02 17:47] owocki commented on #520
this is a great idea.

cc @g33klord who is maybe working on a celery implementation as part of https://github.com/gitcoinco/web/issues/477

[2018-03-02 17:52] owocki commented on #447
@gsvitak thats right :)

[2018-03-02 17:54] mbeacom commented on #477
@g33klord Thanks for starting on this.  If you need any assistance setting up Celery, please let me know.  If possible, I'd like to limit our need for self-hosted services as much as possible (making use of managed services like SQS or elasticache-based Redis would be ideal for the broker), but I'm not opposed to self-hosted Rabbitmq... however, I'm trying to avoid adding more hosted solutions whe

[2018-03-02 17:56] eswarasai commented on #404
@owocki -- No, not really. It never did go out of the scope.
The issue was we couldn't really collaborate well together as I didn't have much clarity w.r.t. the implementation part. So @thelostone-mc helped with the initial setup for Frontend and later once the Backend is in place, I refactored the Frontend to meet the requirements. Hence we couldn't really come up with the division of bounty befo

[2018-03-02 17:56] mbeacom commented on #447
@gsvitak @owocki Is there data on the github related pages that we can't fetch from the GH API?

[2018-03-02 18:04] owocki commented on #191
yes i think so

[2018-03-02 18:04] #191 closed

[2018-03-02 18:06] owocki commented on #447
ooh good idea.. its always a good idea to use a RESTful API instead of BeautifulSoup when possible

[2018-03-02 18:45] gsvitak commented on #447
What I have working is the following

I am using the Github API to retrieve the list of issues. I am then grabbing the issue description from the json response from the API. I am then formatting the markdown into HTML and passing to beautiful soup. this way I am focusing the scraping of the information to the body and not other data on the page that does not matter. I have this working currently o

[2018-03-02 19:12] mbeacom commented on #463
@thelostone-mc For this particular bounty, you'd only need to remove the specific user's `Interest` from the bounty and update the `Started Work` list in the current view.  So, the funder could `Stop Work` for the specified user in the `Started Work` section of the bounty details page.  Interest impressions aren't relayed to the actual bounty, but uses a relation to `Interest` from `Bounty` in our

[2018-03-02 20:02] mkosowsk commented on #506
@PixelantDesign I am very excited to start work on this ticket by tonight 👍

Please let me know if there's some additional direction you'd like to provide. Thanks!

[2018-03-02 21:23] owocki opened #521 "As a user, I want to show off those who are on the top of the leaderboard so I can celebrate my wins."
In order to recognize those who are contributing to the community...

At end of month
* Send "Medals" to top 10 earners
* Email them on first on month to tell them where they landed
* Send something about them in the roundup email.

[2018-03-02 22:38] #519 closed

[2018-03-02 22:50] PixelantDesign commented on #506
hey @mkosowsk can you sync with @KennethAshley on the form styles he has been implementing?

[2018-03-02 22:57] mbeacom commented on #519
Tested on https://stage.gitcoin.co/funding/details/?url=https://github.com/mbeacom/test-repo/issues/19

[2018-03-02 23:05] #165 closed

[2018-03-02 23:11] mkosowsk commented on #506
Will do! 👍

[2018-03-02 23:40] owocki commented on #165
😍

@bhenze send me your ETH address and ill pay you out the bounty

[2018-03-03 00:07] KennethAshley commented on #506
Yea ive been working on the forms. let me know what you need.

@PixelantDesign these designs are bomb. Would of loved to be the one working on this ahaha.

[2018-03-03 01:15] bhenze commented on #165
0x0370feF36074ccd141fb3BfFee17824021dc0417

Thanks! Look forward to helping out in the future.

[2018-03-03 01:40] PixelantDesign commented on #506
@KennethAshley I actually didn't design these! Seth did!

[2018-03-03 02:00] mkosowsk commented on #506
I've blocked out a lot of my weekend to work on this, so hope to deliver on these great designs!

@KennethAshley does https://github.com/gitcoinco/web/pull/514 have the latest and greatest on forms for Gitcoin?

[2018-03-03 03:02] mkosowsk commented on #506
@KennethAshley I am forking from your repo to do work on this guy for forms. As I will be building extensively off your work, it's only right I send over part of the bounty if/when my PR is accepted.

Does .1 ETH sound like a fair amount to you considering this bounty is .22 ETH? Thanks! 👍

[2018-03-03 06:02] KennethAshley commented on #506
@mkosowsk Dude yea! Whatever you want to send over! Thanks!

[2018-03-03 06:03] KennethAshley commented on #506
@mkosowsk also yes, #514 has the latest and greatest!

[2018-03-03 12:51] lazaridiscom commented on #515
Follow-up: #445

[2018-03-03 12:51] #515 closed

[2018-03-03 13:03] lazaridiscom commented on #455
@JakeStoeffler , what's the status here? (don't want to push, just trying to cleanup the issues i've filed)

[2018-03-03 13:09] JakeStoeffler commented on #455
@lazaridiscom Awaiting feedback/merge on my PR

[2018-03-03 14:14] lazaridiscom commented on #455
Follow-up: PR #458

[2018-03-03 21:10] mkosowsk commented on #506
@KennethAshley I walked through your commits and learned a thing or two... including status code 204 which I had never used before!

Just sent over that .1 ETH because talk is cheap 😂 thanks for your help! 👍🏻

[2018-03-04 03:55] mkosowsk commented on #506
First pass on the idea-modal.png design!

![0 0 0 0_8000_ideas_new](https://user-images.githubusercontent.com/7970539/36941833-41a7abd0-1f32-11e8-8489-b408281357d3.png)

This image is from a 1336x768 resolution, will work on making it responsive for tablet and mobile at a later time 👍🏻

@sethmcleod and @PixelantDesign, here are some thoughts I had as I was building this out.

0. My first thought w

[2018-03-04 04:59] GrahamMcBain commented on #445
@vs77bb have you started on this yet? I may give it a go if not. Thanks!

[2018-03-04 05:44] tra38 opened #522 "Display Tips on Leaderboard"
It appears that the leaderboard part of the site only displays "bounties" that individuals fulfilled. For example, [my profile](https://gitcoin.co/profile/tra38) shows that I worked on a single bounty.

However, tips have been used frequently on gitcoin.co as well, for many reasons, such as:
 - To divide up a large bounty across a "team" of programmers
 - To incentivize work for lower-priority iss

[2018-03-04 07:17] lazaridiscom commented on #464
please open a new issue for this, I'm closing down.

[2018-03-04 07:17] #464 closed

[2018-03-04 12:50] mkosowsk commented on #522
@tra38 a big 👍 from me on this idea, I think including tips better shows the whole picture

[2018-03-04 14:09] lazaridiscom commented on #439
https://etherscan.io/tx/0x9a4be552d366fad85694612822dcd7cb06a7b3e97ee1ab9977e1ac9fb8f500ea

[2018-03-04 15:53] vs77bb commented on #445
@GrahamMcBain All you man!

[2018-03-05 03:26] PixelantDesign commented on #421
![Screen Shot 2018-03-04 at 10.25.14 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77206454f76b7191a379ef0c2954415e4abc21254d58eeb9cb74fce36f34985619e8806b0e77906e15adbb831bea50ba208f1b85e7badf4496fa2137a5dad11b61435c52dcbd4f3fb2984cc259f349e14f57a4103062e772376e0a.png)

[2018-03-05 04:30] #436 closed

[2018-03-05 04:35] PixelantDesign commented on #434
closing since we're solving this a different way as part of the forms clean up ticket.

[2018-03-05 04:35] #434 closed

[2018-03-05 04:44] PixelantDesign commented on #429
[FundIssue.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46ce819427ab90ba9aecfd0fe64de29b234324676b5ee17e71d3e27bb9412f505c5e4af910585f40a8f9d82df3be6a62964e49bc8f3900299f7744eeaa880dbe06b0218e4d85b4be8f4cc5e03e24e199c2.pdf)

[2018-03-05 06:52] g33klord commented on #477
@mbeacom I understand. I am proceeding in direction  to provision celery worker as a docker image.

[2018-03-05 08:44] dolebas opened #526 "Closed issues (on github) seems to be listed as open (on gitcoin)"
##### Description

Closed issues appears in the list when status "open" is selected, see screenshots.

![image](https://user-images.githubusercontent.com/27515901/36965256-702abb46-2059-11e8-8087-f6a51d30fd2b.png)

![image](https://user-images.githubusercontent.com/27515901/36965298-8a54d380-2059-11e8-9e38-9940e134707b.png)

[2018-03-05 09:33] thelostone-mc commented on #421
@PixelantDesign I'm a lil confused here 😓
I've already addressed this in the explorer page cause I assumed this wasn't built in https://github.com/gitcoinco/web/pull/523

[2018-03-05 10:14] olafghanizadeh commented on #421
I think the goal is to unify this throughout all pages, such as in the bounty creation flow. :)

[2018-03-05 10:26] thelostone-mc commented on #421
@olafghanizadeh Haha yeah ! I know but I went ahead and wrote the css bit , so that it can be reused throughout.
Didn't wanna end up in a situation where we have implementations :P

[2018-03-05 10:30] thelostone-mc opened #527 "discuss: tip for code review"
##### Description

I've seen @mbeacom single handedly review stuff (sort of makes me debate if he's human / machine )
Would we consider offering mini tips to folks to do code review right ?
More eyes looking at code == less chances of bugs + better code quality
and it eases the pressure when we've got too many PRs

(We could create a label -> will tip for review )

@vs77bb @coderberry @mkosowsk

[2018-03-05 12:09] mkosowsk commented on #527
I give a super duper 👍 to this idea! At my work, we instituted a policy where even the smallest PR's must have two reviewers (even one-liners!) and larger PRs must have at least 3 reviewers. I think this has been really beneficial in (1) spreading knowledge across the team and (2) upping code quality. Think having multiple reviewers has a lot of positive effects :)

My team at ETHDenver explored s

[2018-03-05 12:26] PixelantDesign commented on #527
@thelostone-mc
I like this idea a lot! it is also how we talk about one of the ways Gitcoin can be used to augment workflow. It’ll help us build up case studies! Great suggestion.

@mkosowsk
Hmmm...I think explorer is the right place to show this not sure how different it should be from other tickets, as mvp anyway. I think thete is value in diffetentiating down the road.

[2018-03-05 17:06] mbeacom commented on #507
@PixelantDesign @owocki We update all current bounties at an interval of: `1 */5 * * *` being `:01` of every fifth hour.
We execute `refresh_bounties` Django management command which updates comment counts and issue description.  We can add `bounty.fetch_issue_item('title') to additionally update the title, if that's what you're referring to not being updated.

[2018-03-05 17:17] olafghanizadeh commented on #429
I'll gladly take a look at this :)

[2018-03-05 17:47] owocki commented on #507
i think @pixelantdesign is referring to the issue desc, not the title

[2018-03-05 17:48] owocki commented on #507
i just worry that if we increase this amount… then once we have enough bounties in the system the jobs will start to overlap with each other and crash the server..
this is somewhere it’d be great to have a message queue to manage these tasks..

[2018-03-05 17:57] mbeacom commented on #507
Agreed.  I'd love to frontload the `celery` integration, but I think https://github.com/gitcoinco/web/issues/477 is fairly close.  I don't want to overlap on @g33klord's efforts.  I only brought up `title`, because that's the only thing we're not already syncing on interval.  So, how'd you all like to proceed with this open issue?  Syncing of bounty details is being performed already, but not quit

[2018-03-05 18:24] owocki commented on #507
i think syncing title is the right move.. and well need to come up with a larger gameplan to make it sync more often on another ticket (probably this one https://github.com/gitcoinco/web/issues/520 )

[2018-03-05 19:36] PixelantDesign opened #528 "Tips Should Not Remember Last Tipped Person"
*not ready to be worked on*

As a user I want a clear form when I want to send a tip to a user.

[2018-03-05 19:52] PixelantDesign opened #529 "Fund an Issue Suggestion/FTUX"
As a funder when funding an issues, I'd like to be prompted and educated on the types of issues I can fund in Gitcoin.

I would also like to see only relevant information/fields based on the option that I select.

Ideas:
New Feature, feature improvement, bug, testing, design, or code review.

[2018-03-05 19:56] PixelantDesign opened #530 "Create Demo Account for Gitcoin"
* not ready to be worked on*

As a Biz Dev I would like a curated Gitcoin Demo Account to present to prospects

[2018-03-05 20:02] vs77bb opened #531 "Test"
##### Description

##### Possible Implementation

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-03-05 20:52] owocki opened #533 "Handle multiple bounties per github issue URL"
Whether its

* multiple bounties per github issue on one web3 network (mainnet)
or
* multiple bounties per github issue across web3 networks (rinkeby <> mainnet)

we need to figure out how to handle multiple bounties per github issue URL.

especially in
* bounty details
* kill bounty
* fulfill bounty
* submit bounty
* increase funding
* gitcoin.co/explorer

I've started a WIP PR at https://github.

[2018-03-05 20:52] owocki commented on #533
cc @mbeacom @vs77bb

[2018-03-05 21:13] owocki commented on #530
i wonder if having a github account / some rinikeby ETH would be enough to get 90% of the way there...

[2018-03-05 21:14] PixelantDesign opened #534 "Consolidate Funder Actions Into a Dedicated Area"
*not ready to be worked on*

As a funder, I want to know where to go to follow up on funding activitie; be notified in Gitcoin that work has been submitted for my acceptance.

### Description
The current implementation relies on a funder receiving a github email that work has been submitted by a contributor. The funder then has to know to go to work submitted filter via radio button to see the iss

[2018-03-05 21:39] owocki opened #535 "dont call `approve()` for every ERC20 used"
In the funding/new flow, we call ERC20 `approve` every time an ERC20 token is used - presuming StandardBounties contracts have been audited / are well-designed, it should be safe to call approve once with a larger value (or at least offer that option to the user), so it won't be necessary to repeat for future bounties funded with the same token

[2018-03-05 21:39] owocki opened #536 "gitcoincobot doesnt work for ERC20 issues"
the Gitcoin Github bot doesn't work for tokens, issues show up on the web UI (and the transactions succeeded), but no comment was posted on the Github issues
e.g. https://gitcoin.co/funding/details?url=https://github.com/ProjectWyvern/wyvern-ethereum/issues/11
https://github.com/ProjectWyvern/wyvern-ethereum/issues/11

[2018-03-05 21:40] PixelantDesign commented on #530
That would work but I was also thinking of creating an outline of scenarios and features that should be covered during a demo to really showcase what Gitcoin can do, having  good data,  examples of different types of bounties, etc. A package that tells a full story.

[2018-03-05 21:47] #498 closed

[2018-03-05 21:49] owocki opened #537 "Store txid's off of the bounty object"
On the bounty object, please add a json blob called `txids`, and in it, record all txids associated with the bounty, and what action that txid performed on it.. example blob:

[code]

[2018-03-05 21:57] mbeacom opened #538 "As a user, I don't want to see github comment blocks in the bounty detail/description"
##### Description
The bounty details page currently displays comment blocks in the rendered github issue description.  We should be parsing these out.

##### Possible Implementation
On bounty detail fetching and syncing, we should be cleaning the response to not carry over github comments.  Example:

[code]

[2018-03-05 21:59] #536 closed

[2018-03-05 22:32] owocki commented on #527
agree RE: your comments about @mbeacom.  he's reviewing a lot of stuff!

one alternative way we could work through this is giving a pct of the bounty (if there is a bounty) to the reviewer.. or otherwise giving the fulfiller the option to divide up their bounty at the time they submit it.

[2018-03-05 23:02] mbeacom commented on #527
I'm always up to have an extra set of eyes to help review PRs.  I like the idea of allocating some amount of the bounty to the community reviewer.  I've been looking at: https://stickler-ci.com/ to help catch linter and pattern specific issues against submitted PRs as well.  Considering it's a free service for OSS, I think it might be worth exploring in addition to peer reviews.

[2018-03-06 01:05] owocki opened #540 "(DESIGN) As a user, I want a Blockchain Job Board so I can find professional work in the space"
Gitcoin should host a Blockchain Job Board which allows anyone to post a blockchain job for free.

# What

Three pages

1. Index of Jobs
2. Job Detail Page
3. Post Job

# Attributes of Jobs

Title,
Desc (markdown formatted),
where to apply (email or url)
linked to a gitcoin/github profile

# Bounty

I would like to see mockups of what the above 3 pages look like.  Sketch or PSD files are fine.

Fe

[2018-03-06 01:08] owocki commented on #526
(I acknowledge this is confusing) The gitcoin.co explorer shows the **Gitcoin status** (top), which is open... but the Github status (bottom) is closed.

I just closed the Gitcoin issue in question ( https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/165 ) so that there's no further confusion

[2018-03-06 01:53] vs77bb commented on #507
@owocki @PixelantDesign @mbeacom A countercase to consider... if a repo maintainer is lazy with their titles / we'd like it to be a bit more descriptive, would we want it to be tightly coupled?

IMHO the functionality should be that Gitcoin syncs with Github, but a manual override is possible on Gitcoin (for cases where issue titles aren't visually appealing).

[2018-03-06 01:54] owocki opened #542 "as a new user, how do i update my github username on the funding/new page?"
http://bits.owocki.com/003g3m2P3j2s/Screen%20Shot%202018-03-05%20at%206.53.33%20PM.png

the field is disabled... how do i update it?

(owocki here: i know the answer is to login with github.. but how would a new user know this?)

[2018-03-06 01:54] owocki commented on #542
cc @PixelantDesign @KennethAshley

[2018-03-06 02:05] owocki commented on #439
hey @lazaridiscom you really didnt have to do that. im more than happy to have you keep the 0.05 ETH

[2018-03-06 02:07] mbeacom commented on #507
@vs77bb That makes sense!  With the previous and current flows, we're changing the bounty details regardless of the description entered during initial creation of the bounty during syncs and now with titles.  We should probably rework the way we handle these fields following initial creation. With the mentioned changes, we could consider mutable title/description fields for bounty funders on the d

[2018-03-06 02:07] owocki commented on #507
perhaps this is too engineer-ey... but could we just have a checkbox that dictates whether or not the issue metadata is synced with github or not?

[2018-03-06 02:10] owocki opened #543 "UI Idea: Provide a banner at the top of a Github Issue to show the current state of the Gitcoin issue (without all the bots commetns)"
This would be a dynamic image banner at the top of a github issue which details the current state of the gitcoin bounty

OG conversation was held here, before the original submitter deleted the idea for some reason https://github.com/gitcoinco/web/issues/464

[2018-03-06 02:10] owocki commented on #543
Original issue text:

[code]

[2018-03-06 02:12] owocki commented on #522
This is a really really good idea..

I wonder if its appropriate to display who the tip was from or not and for how much.. Is there an expectation of privacy associated with tipping?

[2018-03-06 02:23] mkosowsk commented on #522
I think it would be best to have it be opt-in for both tipper and tippee

[2018-03-06 02:32] owocki commented on #522
how dis? https://github.com/gitcoinco/web/pull/544

[2018-03-06 02:36] owocki commented on #238
still looking to get this turned around.. anyone wanna bite?

[2018-03-06 02:37] owocki commented on #165
here ya go @bhenze -- thanks again! http://etherscan.io/tx/0x7c23844fb3eb7d58eb17411ece2364679e53310831c5ff135edd3eea68096e19

[2018-03-06 02:57] PixelantDesign commented on #542
@owocki Great point.
A user would not know how to update this field in the current implementation. My recommendation would be to solve for this with light messaging via tooltip as part of Issue #429. https://github.com/gitcoinco/web/issues/429

[2018-03-06 06:57] thelostone-mc commented on #421
@KennethAshley The styling is already set [here](https://github.com/gitcoinco/web/pull/523/files#diff-34b43a37031b72d7a5f74b9fb24e3d12)
I haven't imported this style into all the pages, just `dashboard`
Could you take care of that and update the tag where ever they are being used ?

Usage :
- [tag1](https://github.com/gitcoinco/web/pull/523/files#diff-ea6e08d6b055c5edded85bacc50a2381R102)
- [tag2]

[2018-03-06 08:39] dolebas commented on #526
Have been browsing the issues on Gitcoin from time to time and it's great to see all the development.

Would be sweet if there was a filter for issues that no one has started working on, and a filter for all issues that are still open on Github. Manually finding these is a little time consuming at the moment.

[2018-03-06 09:34] owocki commented on #531
the github issue shows that 'no one has started work on this issue'... but the comment above shows @mbeacom has... i wonder if there is still an issue with work starting being sticky?

[2018-03-06 09:37] owocki commented on #526
Thanks @dolebas -- great to have you !

[theres a filter on the left hand side](http://bits.owocki.com/360A2d1e0s43/Screen%20Shot%202018-03-06%20at%202.37.02%20AM.png) of https://gitcoin.co/explorer that you can use to see work that no one has started on... but to your point, we need to figure out a way to represent the openness of an issue on github on Gitcoin.co

[2018-03-06 09:56] dolebas commented on #526
Can't figure out which option is for filtering out issues that no one has started on.. Which is it?

It also looks like the "Started work" status on gitcoin.co is not consistent with the gitcoinbot on Github.

[2018-03-06 09:58] owocki commented on #531
just put in a fix for this e05fb20c92fa2f02adff38044846f9ab969405fb

[2018-03-06 10:04] owocki commented on #526
is the `1. open`. status, just before `2. work started`!

thanks for the bug report.. just put in a root cause fix here =>
 https://github.com/gitcoinco/web/commit/e05fb20c92fa2f02adff38044846f9ab969405fb -- i am going to go through the current issues and make sure they're all updated now.

[2018-03-06 10:13] owocki commented on #526
updated!

[2018-03-06 10:16] owocki commented on #506
so excited for this to get into PR stage :)

[2018-03-06 10:17] owocki commented on #38
pls disregard aboev comment from gitcoinbot ^^

[2018-03-06 10:30] dolebas commented on #526
Yes, that was what I assumed from the beginning, and the order is intuitive :P

But "1. open" doesn't seem to do what it is supposed to.

![image](https://user-images.githubusercontent.com/27515901/37027470-a4fb86d8-2131-11e8-9d85-a87ea885128e.png)

[2018-03-06 10:31] owocki commented on #455
id love to keep this open if you don't mind

[2018-03-06 10:37] owocki commented on #526
hmmm.. strangely [i'm not able to reproduce the above](http://bits.owocki.com/0C0O1n0l1540/Screen%20Shot%202018-03-06%20at%203.36.42%20AM.png).. im guessing there is a caching issue afoot.. let me noodle on this

[2018-03-06 10:47] dolebas commented on #526
Super, feel free to reach out if there's anything I can assist with!

[2018-03-06 11:56] mkosowsk commented on #506
@owocki great! Will have another update by end of this Sunday (3/11) where I will have some major damage done.

I will have PR out before the following Sunday (3/18) come hell or high water 💪🏻would like to have PR out before the 18th but been getting slammed at work 😤

[2018-03-06 14:42] mbeacom commented on #531
@owocki Yeah, that was an odd one 🤔 Not sure where this crept back in, but nice catch!

[2018-03-06 14:42] #531 closed

[2018-03-06 16:38] PixelantDesign opened #546 "Add more prominent notification that I've been tipped"
As a user, I'd like to be notified via the app that i've been tip

Claim your tips with total amount...

[2018-03-06 17:24] cd10012 commented on #238
@owocki sorry for the radio silence on this, let me know if there are more changes you'd like to see made.

[2018-03-06 17:55] owocki commented on #238
yay, looking now.. thanks!

[2018-03-06 18:17] mbeacom opened #548 "As a user, I want the navigation bar to be consistent"
##### Description
If you navigate to/from various views like: `Tools` and `Explorer, the navigation bar doesn't include `About` and some nav tabs don't display as selected (i.e. `Slack`).

##### Possible Implementation
Remove the `nav_internal.html` template and modify the `nav.html` template to handle all nav cases so we're not maintaining two nav templates.

[2018-03-06 18:27] #548 closed

[2018-03-06 19:12] mbeacom commented on #454
@owocki @PixelantDesign I spoke with @gsvitak regarding this issue and tried to provide him with some clarification on this bounty.  Will we want to redesign the new bounty template before moving forward with this?

[2018-03-06 19:41] sethmcleod commented on #506
This is looking great @mkosowsk! So much fun to see these designs come to life :)

[2018-03-06 19:51] mbeacom opened #550 "As a user, I would like to view profile bounties, repos, etc in a paginated fashion"
##### Description
Currently, all bounties and repositories listed on the profile page aren't paginated.  This could get wonky and lead to performance and rendering oddities.

##### Possible Implementation
Add a django template pagination method to step through queryset/list results.

[2018-03-06 20:27] owocki opened #552 "Investigate "Accepting payments for bounties via EIP67""
https://github.com/ethereum/EIPs/issues/67

This would allow a user to pay for bounties even if they don't  have metamask installed.  Instead, they'd be displayed a QR code which they could use to send the funds to fund a bounty.

Likely this would mean some sort of removal of metamask as a core dependancy from the codebase also.

[2018-03-06 22:00] owocki commented on #454
i wonder if we couldnt get away with just modifying the following template

![screencapture-localhost-8080-_administration-email-new_bounty-1520373574894](https://user-images.githubusercontent.com/513929/37060969-20450bf8-214f-11e8-933b-539d8e03a786.png)

as follows:

![screencapture-localhost-8080-_administration-email-new_bounty-1520373619507](https://user-images.githubusercontent.com/513929/370

[2018-03-06 22:01] owocki commented on #448
@PixelantDesign i wonder if we'll want to slot this in with the new onboarding flow that you showed us today on the wireframe review call

[2018-03-06 23:11] vs77bb commented on #380
@iliketobuildstuff Are you still interested in this bounty? @PixelantDesign might be time to pub this out in #creative, if no!

[2018-03-06 23:16] owocki commented on #494
![2018-03-06 14 58 04](https://user-images.githubusercontent.com/513929/37064308-b2644198-2159-11e8-8cee-3d36c17c4a78.jpg)

anotther report that the issue explorer doesnt work on mobile (this is using the trust app browser)

[2018-03-07 02:04] owocki commented on #546
just an FYI -- when a tip is received one will receive an email letting them know how to redeem their tip

[2018-03-07 02:11] mkosowsk commented on #506
@sethmcleod thanks for the feedback and also for providing the excellent designs, really a pleasure to work with! 👍

To point #1, I'm not married to having Full Name vs. First Name and Last Name but if we do decided to keep Full Name I think we could split the full name on the first space to have a bit of personality.

So 'Mitch Kosowski' would become 'Hi Mitch, welcome back to Gitcoin!'

Names li

[2018-03-07 02:19] gsvitak commented on #454
k I will move forward with the design above unless @PixelantDesign has some ideas.

[2018-03-07 02:20] owocki opened #554 "inline validations"
design: http://bits.owocki.com/1n350K0E3w1G/Screen%20Shot%202018-03-06%20at%207.19.14%20PM.png (referenced from https://user-images.githubusercontent.com/238235/36852925-0e56140e-1d3b-11e8-9cb3-31eafafa5538.png )

implement jquery.validator (or similar)... in order to do inline validation of the following forms:

* new tip
* new funded issue
* submit work
* accept work
* kill bounty

[2018-03-07 02:39] owocki commented on #420
ok.. this makes sense to me.  though i'm not going to have time to start developing it.. might make sense to bounty it?  or we can continue to wait for internal resources to clear up.

figure its worth having the above conversation since this issue is one of the most persistence pieces of feedback we get.

[2018-03-07 02:52] KennethAshley commented on #554
I'll be taking this

[2018-03-07 04:04] PixelantDesign commented on #554
this work is already part of another ticket that @kennethaahley is working on.

[2018-03-07 04:35] PixelantDesign commented on #554
nvm i saw your note om the other ticket @kennethashley

[2018-03-07 04:39] PixelantDesign commented on #546
@owocki, Yep- I was thinking notification could be more prominent in app.

[2018-03-07 05:31] PixelantDesign commented on #448
@owocki all great ideas!

I love the idea of educating and helping people understand the features available to them within Gitcoin.

As far as the series, a background on eopen source and ethereum is great (we could also recycle content vivek writes and link to medium depending on the topic.

I could also see... a combo of read x and do y...  sone ideas could be a series of emails around getting s

[2018-03-07 07:38] thelostone-mc commented on #494
@owocki All this is taken care of in #523 ^_^

[2018-03-07 16:22] owocki commented on #494
related https://github.com/gitcoinco/web/issues/496

[2018-03-07 16:39] mbeacom opened #555 "Explorer changes followup"
##### Description
This issue is to discuss the changes introduced via: #523

Please add relevant issues pertaining to the explorer changes live at:  https://stage.gitcoin.co/explorer

[2018-03-07 16:42] owocki commented on #555
Looks like we need comments added on explorer

[2018-03-07 16:42] owocki commented on #555
the ’x’s on the buttons up top dont work http://bits.owocki.com/3G203D3p3U3z/Screen%20Shot%202018-03-07%20at%209.34.35%20AM.png

[2018-03-07 16:42] owocki commented on #555
hey @thelostone-mc -- any chance you could help us worth through these issues?  not sure if they are in scope for the OG bounty or not.. but happy to tip if not

[2018-03-07 16:46] owocki commented on #555
also cc @eswarasai -- whom i think is working on some frontend stuff

[2018-03-07 16:51] vs77bb commented on #555
### Issue counts by category do not match

- In Stage, we have 50 issues in 'Open' and 4 issues in 'Work Started'.
- In Prod, we have 21 issues in 'Open' and 29 issues 'Work Started'.

Not sure where the additional four issues are coming from in Stage (could be examples in stage?)

[2018-03-07 16:53] mbeacom commented on #555
@vs77bb When I migrated the DB yesterday, I kept the original staging DB data which has numerous test bounties from me.  That might be it.

[2018-03-07 16:53] owocki commented on #555
thanks, i think thats a database issue.. (we need to write a script that auto-restores prod to stage soon)

[2018-03-07 16:59] eswarasai commented on #555
@owocki -- Yes. I'll be taking care of the `Search` functionality. I was waiting for the PR to be merged in order to get started.

@mbeacom @owocki -- Is there any easy way to keep track of all the issues at a single place with the status fixed or not? It'd be very difficult to scroll through all the comments and keeping track of them for me as well as @thelostone-mc. Thanks.

[2018-03-07 17:00] mbeacom commented on #555
We could move the actionable items into a github project, if that'd be easier.

[2018-03-07 17:04] eswarasai commented on #555
@mbeacom -- Makes sense to me. Maybe we can hold off on creating GitHub Project right away as there's still Dev work pending. For now, I'll try to follow the comments and keep a track of them. Once I create a PR, then we can move everything to GitHub Project. Sounds good?

[2018-03-07 17:10] owocki commented on #448
strongly agree here.. i think one of the challenges is peoples different learning velocities.  some will want to consume the content all at once.. others will want a day or two breather in between

[2018-03-07 17:12] owocki commented on #555
@eswarasai afaik the only two live issues are

* the ’x’s on the buttons up top dont work
* comment counts on the explorer page

[2018-03-07 17:29] thelostone-mc commented on #555
@owocki @eswarasai
I've got the comment count covered

[2018-03-07 17:29] owocki opened #556 "as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff"
(not ready to be worked on.. just tracking it here)

[2018-03-07 17:30] e-n-l opened #557 "Abstracting Content Primatives from Logic / Code"
##### Problem: Content workflow interferes with Development workflow
Currently, GitCoin.co content lives in html files in the same repo as the codebase. Whenever the content needs an update, a content creator / editor has to go through the same process as a developer to make changes, and they share a common commit history. This creates unnecessary noise, conflicts and problems, due to the inherent

[2018-03-07 17:33] mbeacom commented on #555
@eswarasai Is there anything I can do to help you out with filter `x` buttons?

[2018-03-07 18:17] mkosowsk commented on #557
Per discussion with @olafghanizadeh, this ticket might be broken out into 2 separate sub-tickets 👍

0. Front-end using SCSS compiling and linting via current webpack set-up. Unify variables such as colors, button styles, etc. across site to maintain consistency.

1. Separate out marketing into static site generator, managed with markdown or other method. This way you don't have to commit to source

[2018-03-07 18:47] PixelantDesign commented on #454
@gsvitak Here is an update email template. Let me know if you think any of this is not doable, I tried to keep it pretty simple. I've removed a few fields to clean it up a bit @owocki.

![gitcoin_newissues_email](https://user-images.githubusercontent.com/238235/37111464-bcfacece-220d-11e8-8b53-66a73e949e59.png)

Fonts I used are Futura which is already in the system and Muli Regular and Semibold w

[2018-03-07 18:52] e-n-l opened #560 "Implement SCSS Compiling"
Per @olafghanizadeh and @razordaze and @mkosowsk:

As I GitCoin developer, I would like to have have consolidated styling, so that I can quickly make global styling changes across the app and have reuseable components, variables etc.

### Background

Current styling in the site is “[is messy and a hassle to edit](https://github.com/gitcoinco/web/issues/135)”

0. Templates that aren’t reusable acro

[2018-03-07 18:57] razordaze commented on #557
Sub-ticket 0.) is now [up here](https://github.com/gitcoinco/web/issues/560)

Sub-ticket 1.) may  be further split into 2 sub-tickets:
1. Move the "view" (SCSS, HTML, content, creative assets, etc.) into a separate repo to be pulled into the ```web``` docker as a sub-module on build.
2. Consider using an SSG like Hugo as part of the creative build process.

Personally, I think 1.) may be an elegan

[2018-03-07 18:58] KennethAshley commented on #380
I can work on this once designed.

[2018-03-07 19:00] owocki commented on #454
this email template is 👌 !  we should consider moving all emails to this template

[2018-03-07 19:12] owocki commented on #380
hey @iliketobuildstuff are you still interested in completing the design bounty?

[2018-03-07 19:13] owocki commented on #454
(thinking out loud here) is the gitcoin logo too big / billboardey on this?

[2018-03-07 19:18] owocki commented on #222
@vs77bb ^^

@PixelantDesign id love to sneak this one in at some point.. right now the project just looks like a 1 person team if you go to the /about page!

[2018-03-07 19:19] owocki opened #561 "Mobile Audit of Gitcoin.co"
I would like someone to go through gitcoin.co

* at desktop
* tablet
* mobile

resolutions and please note any responsive design issues

* on any pages linked in the nav bar
* on the bounty detail page
* on the submit  bounty / accept bounty pages
* on any pages linked in the footer

[2018-03-07 19:20] owocki commented on #494
https://github.com/gitcoinco/web/issues/561

[2018-03-07 19:20] KennethAshley commented on #560
Im all for this!

[2018-03-07 19:31] mkosowsk commented on #561
Device mode on Chrome provides a good first pass on this:

https://developers.google.com/web/tools/chrome-devtools/device-mode/

Might be interesting for a beginner bounty!

[2018-03-07 19:37] PixelantDesign commented on #454
@owocki That's modern email design! :P Might be the combination of knocked out logo and high contrast. We could shrink it about 25%.

[2018-03-07 19:37] thelostone-mc commented on #561
@mkosowsk Def a good start ! But within those we've got a huge list
Would we have to go through every one of those models ?
Reason : What looks kickass in Samsung S7 might break in Samsung S8

Not sure how folks usually do this evaluation

Ugh why don't all the phones come in the same size -.-

[2018-03-07 19:40] mkosowsk commented on #561
Think this is what people do when testing out in the wild for the ultimate truth:

![image17 2](https://user-images.githubusercontent.com/7970539/37114110-69198dce-2215-11e8-95b1-336b7109cf91.jpg)

This is probably prohibitive to start with, think Device Mode or equivalent would provide a decent first pass 👍

[2018-03-07 19:44] owocki commented on #561
ive used https://www.browserstack.com/ in the past and its pretty good

[2018-03-07 20:05] thelostone-mc commented on #555
@owocki Both issues have been take care of! ^_^

[2018-03-07 20:10] mkosowsk commented on #561
Nice, thanks for heads-up!

[2018-03-07 20:25] owocki commented on #503
@eswarasai @thelostone-mc submit work at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/503 so we can pay this out!

[2018-03-07 20:37] owocki opened #563 "Update Gitcoin Email Designs"
Designs https://github.com/gitcoinco/web/issues/454#issuecomment-371242271

![Issues Email.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a83295aa5cc6700136b4bc8/125516c66e82c728ace21e0d46c18789368790e9aae4be4aa81fbcd6395428792c07b7692ac7b629e94328070c5b4faf405c0a15fcf98d7fa6e73a25820a19f1c32f0e2a92624cf5f2d75dad0ba821834584b3be8b49c1ee3c2ce68c8b4a2c53.png)

![Newsletter

[2018-03-07 20:44] mbeacom opened #564 "IndexError: list index out of range"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/413/](https://rollbar.com/mbeacom/gitcoin/items/413/)

[code]

[2018-03-07 20:45] #564 closed

[2018-03-07 21:04] eswarasai commented on #503
@owocki -- This is completely owned by @thelostone-mc.
@thelostone-mc -- Please do the honour 😄

[2018-03-07 21:39] olafghanizadeh commented on #563
I'm gonna try to come up with something here before the weekend is over!

Will @PixelantDesign prepare the design for the rest of the emails?

[2018-03-07 21:49] #503 closed

[2018-03-07 22:47] owocki commented on #563
I think that updating the general email template (and the design of the email/bounty.html module) should suffice.. but it definitely wouldnt hurt to eyeball each of the individual emails (this can easily be done in the admin via the routes i posted) to make sure theres nothing glaringly broken in them

@PixelantDesign does that sound okay to you?

[2018-03-07 23:00] owocki commented on #340
we should close the bounty on this since its so insignificant https://gitcoin.co/issue/gitcoinco/web/340

[2018-03-07 23:13] owocki commented on #447
@gsvitak mind opening a WIP PR??

seems fine to me.

thinking further.. maybe we should decouple the backend of this tool from the individual scrapers... this way we can launch / test posting external bounties manually before investing a bunchy of time in scrapers (where the complexity is notably higher)

[2018-03-07 23:47] owocki opened #565 "design - /mentors page"
# Why

Mentorship is a proven model for growing developers skills, careers, and networks

# What

# Data Object

## Mentor

See [this spreadsheet for example](https://docs.google.com/spreadsheets/d/1i5OIP6gLeoQ8AfjqlnFt09gqNG44rAlHfFID55Ek3hg/edit#gid=0)

* Github handle
* Name (optional)
* email
* Yrs programming experience
* Wants membership in (list of varchar)
* offering membership in (list of

[2018-03-08 01:19] PixelantDesign commented on #432
@kennethashley let me know if you have any questions on this ticket!

[2018-03-08 02:02] PixelantDesign commented on #563
I'm good with using this task as a general template update. We'll need evaluate which of the emails require more TLC and scope designing those out.

[2018-03-08 02:56] gnujoow commented on #563
@hipzoep

[2018-03-08 03:54] vs77bb commented on #565
@owocki Is Gitcoin Bot on vacation or did @mkosowsk scare it/her/him away? 🙄

[2018-03-08 03:54] vs77bb commented on #565
🙂

[2018-03-08 04:26] vs77bb commented on #563
@PixelantDesign @owocki @olafghanizadeh Super pumped for this... I'm going to up my personal priority for #448 to align on timing here to get something cool together!

[2018-03-08 04:27] vs77bb commented on #448
@owocki @PixelantDesign I'm going to up the priority on getting a draft GDoc of a plan together...ideally before SXSW, for review. Think it's crucial for us to make sure those who hop on the Slack are giving us feedback in the early days....

[2018-03-08 04:45] vs77bb opened #567 "Gitcoin Bot Updates"
# Why
As Gitcoin scales, Gitcoin Bot will have to be smarter about notifying / nudging people in situations where action is likely needed.

# What
## No-Brainers
- Gitcoin Bot should comment if no action (comments, pull requests, other issues referencing) has been taken in 4 days (is this timeline right?)
- If someone 'Starts Work', but does not take action for 24 hours, Gitcoin Bot should remove

[2018-03-08 04:49] PixelantDesign commented on #413
We actually took care of this in the explorer redesign. I will close.

[2018-03-08 04:49] #413 closed

[2018-03-08 04:50] vs77bb commented on #506
@mkosowsk 😍🙂

[2018-03-08 04:51] vs77bb commented on #503
@thelostone-mc This is 🔥❗️

[2018-03-08 04:52] owocki commented on #512
this could be useful => https://github.com/gitcoinco/web/pull/568/

[2018-03-08 04:52] owocki opened #569 "do something with EmailEvent data"
a few weeks after this is deployed, we should revisit and see what the data looks like

https://github.com/gitcoinco/web/pull/568/

[2018-03-08 04:52] owocki commented on #569
maybe this https://github.com/gitcoinco/web/issues/512

[2018-03-08 04:58] vs77bb commented on #115
@owocki Might be time to release this back on the crowd...this is +1 for #567

[2018-03-08 05:27] #555 closed

[2018-03-08 05:28] owocki opened #570 "add sorting functionality back to the gitcoin explorer"
https://github.com/gitcoinco/web/pull/523

this was functionality that existed in the old design. you could sort by difficulty, creation time, and value

[2018-03-08 05:28] owocki commented on #570
@thelostone-mc would you be up to take this?  happy to tip you

[2018-03-08 05:33] PixelantDesign commented on #570
@thelostone-mc for reference:
<img width="888" alt="screen shot 2018-03-08 at 12 32 25 am" src="https://user-images.githubusercontent.com/238235/37134837-4cd489a4-2268-11e8-8072-01becce487af.png">

[2018-03-08 05:35] thelostone-mc commented on #570
Consider it done ^_^

[2018-03-08 05:41] vs77bb commented on #450
howdy @scottydelta I know you're working on this... any update as of now? Hope you're doing well 🙂

[2018-03-08 05:46] owocki commented on #567
note that right now if someone doesnt respond after starting work for 7 days we _send them an email_.. we should unify the email / bot warning timing across channels.

i think 24 hours is a little tight, but am onboard with the scope otherwise :)

[2018-03-08 05:47] PixelantDesign commented on #567
48 hrs?

[2018-03-08 05:49] thelostone-mc commented on #570
@PixelantDesign  Do we wanna add Tech Stack too ? cause this list could be super long as more and more bounties come in

[2018-03-08 05:58] owocki commented on #570
we have a list of tech stacks in the `Keyword` model... to adityas point, i dont know if checkboxes are the right input for that though..

[2018-03-08 06:01] owocki commented on #565
just the designs.. in the past we've seen Sketch files or PSDs..

not sure; looking into it.  meantime, heres the gitcoin link for this => https://gitcoin.co/issue/gitcoinco/web/565

[2018-03-08 06:33] owocki commented on #239
@tra38 i just refactored the way we pull slack presence.. d9255ff254209d8d5b839a1a12c24ac60f76ee7c hopefully this doesnt step on the toes of the work youve done already!

I'd LOVE to see the ability to do this.. itd make the querys much faster

[2018-03-08 06:33] owocki commented on #512
https://github.com/gitcoinco/web/commit/d9255ff254209d8d5b839a1a12c24ac60f76ee7c could help too

[2018-03-08 07:20] owocki commented on #512
7893833a761c3a1fc528680639522a19fc82725f will help with github cohort analysis

[2018-03-08 07:23] owocki opened #572 "update sync_github management command to sync comments on bounties we care about"
https://github.com/gitcoinco/web/blob/master/app/marketing/management/commands/sync_github.py#L93-L94

these should be stored as `GithubEvent`s

depends upon https://github.com/gitcoinco/web/pull/458

[2018-03-08 09:35] thelostone-mc commented on #570
Also wouldn't sort boxes be radio buttons?
And would the sort function be in descending  / ascending ? Ideally it should provide both
cause it's a sort filter

@PixelantDesign @owocki

[2018-03-08 12:11] PixelantDesign commented on #570
Yeah, not sure why I put that there, since checks suggest ability to select multiple. i’ll move it back where it was.

The tech stack however I intended to have on the left side connecting it with the search. This was the main driver behind this task since it effects the content that changes on the page.

[2018-03-08 12:45] PixelantDesign commented on #555
For context, this is the outstanding work that exists to complete the explorere https://github.com/gitcoinco/web/issues/412

[2018-03-08 12:51] mkosowsk commented on #565
@vs77bb I'm surprised you'd say something like that, as you know I have a great relationship with the robot community 🙄As a matter of fact, just ordered a Roomba 980, can't wait to give her a test run 👍🏻

@owocki I'm not familiar with the nuts and bolts of Gitcoin Bot, but here are some actions I took on this ticket that may have tripped the poor robot up

1. Posted _very_ clickly after your initi

[2018-03-08 13:32] thelostone-mc commented on #570
Moving it back. Any input on how to make it look nicer ?

![help](https://user-images.githubusercontent.com/5358146/37153170-d70d6c6e-2301-11e8-9927-5c27bf6269d9.gif)

not much of a difference but meh

![help](https://user-images.githubusercontent.com/5358146/37153541-097702ea-2303-11e8-8331-d957af80c880.gif)

cc @eswarasai @KennethAshley

[2018-03-08 14:39] mkosowsk commented on #567
I think 24 hours is appropriate if one way of taking action is making a comment in the Issue. I feel it's appropriate for the Work Starter to make a 'plan of attack' comment in this timeframe 🤔

[2018-03-08 15:23] tra38 commented on #239
Cool. Think that will probably make the code much easier to understand. I haven't written any code yet (as most of my work was just understanding how the system works).

I would definitely want to work on it, but I'm busy at the moment and thus cannot promise that I can work on it. If you need to hand this project off to someone else (so that it can be finished ASAP), that'll be fine.

[2018-03-08 16:50] owocki opened #575 "Measure Engagement"
Main channels

* Email
* Slack
* Github

Right now we have lists of people on each of these channels, but how do we measure engagement?

Ideas
* [Issue by Issue github management](https://github.com/gitcoinco/web/issues/567)
* [Cohort Analysis](https://github.com/gitcoinco/web/issues/512)

[2018-03-08 17:27] owocki commented on #575
kind of related to https://github.com/gitcoinco/web/issues/234

[2018-03-08 18:39] owocki commented on #239
RTM documentation! https://slackapi.github.io/python-slackclient/real_time_messaging.html

[2018-03-08 18:50] #455 closed

[2018-03-08 18:55] owocki opened #576 "Detect "Referencing" as "Work""
From the original submitter:

I'm working on this funded issue:

ethereum/web3.py#549

I got an email from gitcoin (similar to: #394), but it should have detected the references (to other, related issues) that I made. (splitting the main issue into sub-tasks/issues).

Expected:
Gitcoin detects references, and resets its work-inactivity-counter.

[2018-03-08 18:55] owocki commented on #576
this is a dupe of https://github.com/gitcoinco/web/issues/455#event-1511800697

[2018-03-08 19:37] thelostone-mc commented on #503
@owocki Submitted ^_^

[2018-03-08 19:40] owocki commented on #495
this just happened again on https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/2562

stacktrace i found in the logs
[code]

[2018-03-08 19:43] mbeacom commented on #495
@owocki Do you think it's worth it to raise an issue on `eth-abi` or `web3.py` ?

[2018-03-08 19:56] owocki commented on #495
@mbeacom Looks like there is an ongoing issue being discussed at https://github.com/ethereum/web3.py/issues/185 that looks similar

Some workaround thoughts / ideas:
1. Is this an Infura RPC issue?  I dont see any issues on status.infura.io
2. Piper states "This is what happens when you try to read data from an empty address (an address that has no code associated with it).".  Is it possible that

[2018-03-08 19:58] owocki commented on #495
one other data point: i seem to be able to sync this bounty just fine on my local:

[code]

[2018-03-08 21:20] scottydelta commented on #450
@vs77bb hey, I have been adding comments at the PR #509. To give you an update, I am trying to setup a local eth node since I cannot execute write functions on remote node(like infura). Also, since `web3.ens` doesn't support ENS registry hosted on testnet(didn't realize this until I registered a domain on testnet and setup a local testnet node), I cannot test in on testnet.

[2018-03-08 22:43] owocki commented on #503
payout is here! https://etherscan.io/tx/0xb3b1b5f63210b15566d98cd1f9e1da722eeea20d35ed6cfcb1d273ebf1018d62

[2018-03-08 22:46] owocki commented on #495
@mbeacom

weird. it looks like the system is now editing old gitcoinbot comments with the payout comment, instead of submitting a new comment ?

https://github.com/MetaMask/metamask-extension/issues/2562#issuecomment-368907037
https://github.com/gitcoinco/web/issues/503#issuecomment-371598894

i was not aware of this!

looks like this was your work https://github.com/gitcoinco/web/blame/master/app

[2018-03-08 22:55] mbeacom commented on #495
@owocki I'll split off `work_done` and `work_submitted`

[2018-03-08 23:02] owocki commented on #495
@mbeacom i'm not saying anything has to change.... just thinking out loud here...  i was not aware of this.. maybe its better? im not sure

[2018-03-08 23:22] owocki commented on #495
looks like there is indeed no email when the comment is updated http://bits.owocki.com/3J3x1J0K2K0r/Screen%20Shot%202018-03-08%20at%204.22.24%20PM.png

idk, im kind of leaning towards making approved/issue comment a new comment.  what does everyone else think? @mbeacom @PixelantDesign ?

[2018-03-09 02:23] owocki opened #580 "the big 'profile might need a redesign or some bugfixes' thread."
alignment of profile is messed up at certain resolutions

![image](https://user-images.githubusercontent.com/513929/37187165-3ecd77d2-2306-11e8-8629-072992f9f6c4.png)
https://gitcoin.co/profile/razordaze

[2018-03-09 06:12] NukeManDan commented on #320
@owocki - done?

[2018-03-09 08:04] thelostone-mc commented on #580
Two questions :
- This page requires a re-design anyways which would also involve code clean up. Do you wanna fix this given that this would be thrown away soon. If this page is on the todo list (like within 2 weeks, I would side with holding off, else this should be fixed asap )
- The profile image alignment is cause of [this](https://github.com/gitcoinco/web/blob/master/app/assets/v2/css/base.cs

[2018-03-09 13:15] owocki commented on #580
Believe it or not the original design actually has the avatars overlapping purposefully.

cc @PixelantDesign id be curious if she agrees

[2018-03-09 13:20] owocki commented on #320
yes.  thank you!

[2018-03-09 13:28] owocki commented on #580
(on tips) The repos section seems to having extra margin/padding (it's probably a 2 line fix )

From: https://github.com/gitcoinco/web/pull/544

[2018-03-09 13:30] owocki commented on #580
<img width="1680" alt="screen_shot_2018-03-08_at_10 32 26_pm" src="https://user-images.githubusercontent.com/513929/37209648-36ac0822-2363-11e8-92d6-2574ad5e0121.png">

this is off center

<img width="1436" alt="screen_shot_2018-03-08_at_11 16 38_pm" src="https://user-images.githubusercontent.com/513929/37209654-3a96c724-2363-11e8-82c6-f6d719333450.png">

those are the people you’ve worked with (y

[2018-03-09 13:48] cmac2454 commented on #565
![gitcoin_mentors_1](https://user-images.githubusercontent.com/12107773/37210375-294ad310-236e-11e8-87d7-fe74de99fa20.png)

Here's what the page is looking like so far. I'm mimicking the Issue Explorer list design for consistency but I'm open to other ideas. I've also added some filters to the side similar to an online store so that you can filter mentors for something you're specifically looking

[2018-03-09 14:23] mkosowsk commented on #565
Looks awesome! 👍

Some thoughts:

0. Probably worth it to put some thought into Email Address Obfuscation to trip up spambots. I've seen things like "Click here" for email address that obscures the email and when clicked shows the email address, would this work for our purposes?

1. I think it's probably worth it to have Experience (Years) in the Mentors table... open to discussion on this tho 🤔

[2018-03-09 14:33] cmac2454 commented on #565
Would it be better if we only showed the email in the details page through the obfuscation? I could use that real estate for some of the other parts you mentioned then.

[2018-03-09 14:48] mkosowsk commented on #565
That makes sense to me! But I would defer to @PixelantDesign 👍

[2018-03-09 15:12] owocki commented on #565
great start! excited for this :)

i agree.

agree here too :)

[2018-03-09 15:34] cmac2454 commented on #565
Is this part necessary? The original design statement said this:

So we shouldn't have to display it because that should be assumed. Am I getting that right?

[2018-03-09 15:36] owocki commented on #565
yes

[2018-03-09 15:44] cmac2454 commented on #565
![gitcoin_mentors_index](https://user-images.githubusercontent.com/12107773/37215747-769ccece-237e-11e8-80cb-e6171201101e.png)
Latest rendition with some of the requested changes and some new formatting to handle real estate

[2018-03-09 16:40] owocki commented on #565
some thoughts:

1. can we add the user's github avatars on the left hand size to humaize this list a little bit?
2. i advocate for alternating each row's `background-color` a little bit so it's easier to follow the data left <> right across the screen

[2018-03-09 16:44] cmac2454 commented on #565
@owocki I'm glad you mentioned those because those were my next ideas for the design!

[2018-03-09 17:03] owocki commented on #115
@eswarasai

[2018-03-09 17:03] owocki commented on #115
@vs77bb i think ill bounty this.. 0.1 ETH sound like enough?

[2018-03-09 17:33] eswarasai commented on #115
@owocki  -- I got Gitcoin Weekly emails 3 times. I’ve recently changed my primary email address on GitHub from `eswar.vankayalapati@gmail.com` to `eswarasai.v@gmail.com`. So I’ve received 1 email to the updated one (`eswarasai.v@gmail.com`) and 2 emails on the old one (`eswar.vankayalapati@gmail.com`)

[2018-03-09 17:33] owocki commented on #115
i get it a few times too

http://bits.owocki.com/1f0G2Z0n032G/Screen%20Shot%202018-03-09%20at%2010.33.02%20AM.png

[2018-03-09 17:54] owocki commented on #115
@abdullahalbyati are you still looking at this?

[2018-03-09 17:55] vs77bb commented on #152
@romanjesus @owocki Bump :D

[2018-03-09 17:55] cmac2454 commented on #565
![screen shot 2018-03-09 at 11 54 20 am](https://user-images.githubusercontent.com/12107773/37221777-ab444fe6-2390-11e8-93d0-31ab63d53c45.png)
Avatars added, row background colors alternated for easier readability

[2018-03-09 17:57] romanjesus commented on #152
@vs77bb PR is ready to go. Awaiting @mbeacom 's approval

https://github.com/gitcoinco/web/pull/236

[2018-03-09 17:58] vs77bb commented on #75
@owocki @mbeacom Still listed in 'Work Submitted'

[2018-03-09 18:12] PixelantDesign commented on #565
Looking good @cmac2454!
Have you considered putting skills at the top of the left column? When thinking about finding a mentor, a user is likely to be interested in what they're trying to learn vs. where their teacher works.

[2018-03-09 18:14] cmac2454 commented on #565
@PixelantDesign I was thinking about that. Maybe skills first, experience second, org third?

[2018-03-09 18:29] mbeacom commented on #75
@vs77bb This was fixed with the Github integration PR.  I "submitted" the work before I officially started with Gitcoin, I think 🤔

Kevin can just clawback the funds and we can close this.

[2018-03-09 18:29] #75 closed

[2018-03-09 18:45] abdullahalbyati commented on #115
I am still looking at it. I am new to this get coin thing

On Fri, Mar 9, 2018, 7:54 AM Kevin Owocki <notifications@github.com> wrote:

[2018-03-09 19:08] #238 closed

[2018-03-09 19:32] #320 closed

[2018-03-09 19:33] mbeacom commented on #340
@PixelantDesign Can you kill the bounty on this?

[2018-03-09 19:33] #340 closed

[2018-03-09 19:40] mbeacom commented on #454
👍 for MJML 😁

[2018-03-09 19:54] mbeacom opened #583 "Upgrade to the latest Django revision"
##### Description
We're currently running on `Django==2.0` while the latest version is: `2.0.3`.
So, we're missing the updates for the following:

- [2.0.1](https://docs.djangoproject.com/en/2.0/releases/2.0.1/)
- [2.0.2](https://docs.djangoproject.com/en/2.0/releases/2.0.2/)
- [2.0.3](https://docs.djangoproject.com/en/2.0/releases/2.0.3/)

##### Possible Implementation
Pin `2.0.3`

[2018-03-09 19:55] #583 closed

[2018-03-09 19:59] vs77bb opened #584 "Add Gitcoin Newsletter Page"
## Task
To grow the Gitcoin community more effectively, we'd like to house a Gitcoin Newsletter page on the Gitcoin website which we can link our Twitter + Slack audiences to, weekly, in case they are not subscribed to our weekly newsletter.

## Description
- Build an HTML webpage at gitcoin.co/newsletter which shows the most recent version of the newsletter
- Use [weekinethereum.com](http://www.w

[2018-03-09 20:37] vs77bb commented on #478
Yes. Additional feedback from Phil last week on one of his bounties:

There is a part of me that remembers that in our 'future of work' example, a developer should be able to pick and choose the projects that are interesting to him and that might be a few at a time. Maybe we set the limit at 4 or 5 to be more conservative about rolling this into the platform?

[2018-03-09 20:39] vs77bb commented on #478
I don't think it'd need to sync on Github @PixelantDesign. If a user tried to click 'Start Work' on Gitcoin, but had three already open, an error message should come up on Gitcoin / Gitcoin Bot should never comment on Github saying that user 'Started Work'.

[2018-03-09 20:40] vs77bb commented on #380
Might want to pull this one back into an open state... this is a prerequisite for something a repo-maintainer yearned for this week quietly...

[2018-03-09 23:05] owocki commented on #584
does gitcoin.co/community come close enough to this already? PDF not HTML, and based upon github, not gitcoin.co... but still

[2018-03-10 00:11] PixelantDesign commented on #340
Not sure where this came from. I didnt create this.

[2018-03-10 13:43] PixelantDesign opened #587 "New Navigation Structure Research"
*Not ready to be worked on* We have a lot of items potentially being added to the top Navigation. Need to understand how users look at these nav items

[2018-03-10 13:46] PixelantDesign opened #588 "Gitcoin Bounty Hunter Explorer Dashboard"
*Not ready to be worked on"

As a user I'd ilke an easy way to view the tasks that I'v signed up for so that I know what I need to do next - in Gitcoin"

[2018-03-10 13:47] PixelantDesign commented on #580
@owocki totally agree! Would love to redesign the profile!

[2018-03-10 13:48] PixelantDesign commented on #588
@kennethashley let me know if you have ideas!

[2018-03-10 14:12] mkosowsk commented on #588
Would it make sense to have something like a "My Issues" link in the navbar, perhaps to the right of "Issue Explorer"?

Then this view could show the user's issues in their various states 🤔

[2018-03-10 14:35] thelostone-mc commented on #588
@mkosowsk won't that be flooding the navbar ? Not sure if this makes sense but if we redesign the entire profile page, we could accommodate this ( call it a profile dashboard ) into it
Meh , just random thoughts

[2018-03-10 14:42] mkosowsk commented on #588
@thelostone-mc hmm good point, makes sense to me for this to live on the Profile page 👍

[2018-03-10 15:24] owocki commented on #380
poo.. no resopnse

ok its back in an open state.. we should maybe do some social media promotion of this oppy next week unless we hear back from @iliketobuildstuff,  @vs77bb

[2018-03-10 15:57] KennethAshley commented on #588
It would be nice if "My Issues" had a low barrier to entry. Maybe the the user drop-down. But if the profile page is going to be redesigned, that might be a good place to put it.

[2018-03-10 17:52] gsvitak commented on #447
ok cool. still working on it.

[2018-03-10 18:02] flysonic10 commented on #450
👋 I have gitcoin.eth

Happy to transfer it over. Glad to see this project being built!

[2018-03-10 20:36] owocki opened #590 "grants v2: compliance edition"
(this ticket is not ready to be worked on yet)

@Ian L. @owocki I know an important part of grant work is financial compliance that funds are spent in accordance with the with budget provided in an application... would there be a way to write that logic into the tip and bounty smart contracts.

5 replies
Ian L. [24 minutes ago]
I'm sure there is, but GitCoin is still in an MVP stage, so that kind

[2018-03-10 20:36] owocki commented on #590
v2 of https://github.com/gitcoinco/web/issues/380

[2018-03-10 20:54] owocki commented on #380
I am willing to throw in another 0.1 ETH to someone who 'starts works' in the next 12 hours and delivers within 1 week!

[2018-03-10 21:45] owocki commented on #590
whoops @razordaze not @ian :P

[2018-03-10 22:30] skip-carlson commented on #590
I have held active roles in non-profits and humanitarian groups. I have also written successful grant proposals before.

[2018-03-10 22:34] e-n-l commented on #590
@owocki I blame my poor branding in slack. I'm going for homonymical redemption with a change in username to @e-n-l, and claiming @razordaze as my organization. So either will work henceforth.

[2018-03-10 22:51] e-n-l commented on #556
Seems like this might eventually want integrations with other private repo hubs, like GitLab and BitBucket.

It would also probably escalate the need for one-time, pre-work agreements to be settled prior to claiming an issue--things like NDAs, contribution guidelines, style / linting guides, perhaps an overview / orientation of the organization or repo, etc.

I would LOVE to see that kind of thing

[2018-03-11 01:22] mkosowsk commented on #506
@PixelantDesign, @sethmcleod, @owocki, et al.,

The idea-view.png view uses Disqus for commenting which I am on board with but wanted to confirm that jived with the vision for Gitcoin 👍

If we use Disqus, looks like there's an npm package at https://github.com/rcurrier666/node-disqus but it seems to more popular route is just using a Universal Embed Code via https://help.disqus.com/customer/portal

[2018-03-11 15:46] mkosowsk commented on #450
@flysonic10 dziękuję my Polish brother 🇵🇱🇵🇱🇵🇱👍🏻👍🏻👍🏻

[2018-03-12 08:55] mkosowsk commented on #506
Quick update, was working on list view over the weekend but don't quite have this at a ready state to show off with a screen shot. I am following the design but also using a bit of inspiration from the Explorer page 👍

I am taking Friday off to do some errands but also to take this to a PR (or at least WIP PR) :)

[2018-03-12 09:18] vikaskyadav commented on #432
@PixelantDesign  Is anybody working on this issue or can I get started?

[2018-03-12 09:27] thelostone-mc commented on #432
@vikaskyadav I believe @KennethAshley is already on it. You could reach out to him

[2018-03-12 09:54] mkosowsk commented on #506
@thelostone-mc I think Disqus looks somewhat out of place but I'm not sure of a better alternative 🤔

[2018-03-12 10:41] thelostone-mc commented on #506
I've heard decent things about https://posativ.org/isso/
It's lightweight and got a shitty UI -> cause they expect you to customize it for your own site (that's exactly how it was pitched to me :P

[2018-03-12 10:42] thelostone-mc commented on #506
I've heard decent things about https://posativ.org/isso/
It's lightweight and got a shitty UI -> cause they expect you to customize it for your own site (that's exactly how it was pitched to me :P
( let's stick to Disqus to avoid any confusion, but yeah just wanted to check )

[2018-03-12 10:53] mkosowsk opened #592 "Better Optimize Gitcoin for Both Mobile/Desktop"
Note: this is possibly blocked by work on https://github.com/gitcoinco/web/issues/557 and/or https://github.com/gitcoinco/web/issues/560

It might make sense to revisit this once one or both of those issues are addressed.

Per Google PageSpeed: https://developers.google.com/speed/pagespeed/insights/

<img width="490" alt="screen shot 2018-03-11 at 7 40 03 am" src="https://user-images.githubusercon

[2018-03-12 13:14] thelostone-mc opened #593 "upgrade: font-awesome 5"
##### Description

Reasons to upgrade to font-awesome 5

**Upside:**
- Lighter in size
- More icons
- Supports tree shaking

Source : [Blog Blog](https://blog.fontawesome.com/the-quest-for-a-lean-and-mean-font-awesome-5-3427a518940d)

**Downside**
- Syntax sort of changes but they've got a way to manage that until we've completely onboarded to v5 [here](https://fontawesome.com/how-to-use/upgrading

[2018-03-12 13:23] mkosowsk commented on #593
👍 to this :)

[2018-03-12 14:06] owocki commented on #592
thanks for logging this issue..

i wonder if we want to bounty 'increase the pagespeed ranking by 10 points' or if we want to figure out what needs to be done and just bounty each of those individual tasks

[2018-03-12 14:21] mkosowsk commented on #592
@owocki at your discretion, but think it's always interesting to get new folks into the project so think it might be interesting to

0. Bounty individual tasks with the tasks relatively laid out for a beginner looking to make an impact on the project
1. Require that the task is completed by a NEW contributor to gitcoin/web (sorry @thelostone-mc but you need to take break 😂)

What do you think?

[2018-03-12 14:29] owocki commented on #565
makes sense to me

this is the page i intended `Second page alt -- edit detail page` from the spec to be.. i can't speak for @PixelantDesign , but i too am excited to see what this looks like!

[2018-03-12 14:31] owocki commented on #75
ok on it

[2018-03-12 14:43] KennethAshley commented on #380
![desktop](https://user-images.githubusercontent.com/1138619/37290198-f33187b2-25e1-11e8-9901-e6a90ab23171.png)

@PixelantDesign @owocki Decided to go back to my designs roots and try to mock something up. Totally don't have to go with this. Just was playing around while I was trying to solve a BE issue.

[2018-03-12 14:45] cmac2454 commented on #565
Questions about the flow of becoming a mentor:

Will it be available under the drop menu next to the username in the top right? (e.g. "Mentoring settings" options)

Would we like the mentoring onboarding/details to be treated more like a personal settings page (e.g. "turn on" mentoring and alter settings) or like a Tools page?

On a different note, I can't upload screenshots to this comment thread

[2018-03-12 14:52] owocki commented on #115
okie dokie... let me know if you have any trouble reproducing!

[2018-03-12 14:59] owocki commented on #584
another thought over the weekend about making the community content more accessible
[code]

[2018-03-12 15:00] owocki commented on #584
@vs77bb i dont believe i'll hae the time to put in the legwork on your original task.. maybe we can ask someone to do this via a bounty?

[2018-03-12 15:05] mkosowsk commented on #584
I can act as moderator if needed. Here are my qualifications:

0. Deadlift: 600 lbs
1. Squat: 500 lbs
2. Bench: 365 lbs (soon 405 lbs)

[2018-03-12 15:38] owocki commented on #340
just killed the bounty => https://gitcoin.co/issue/gitcoinco/web/340

[2018-03-12 15:43] PixelantDesign commented on #565
@cmac2454

I think that works.

I was initially thinking for a user looking for mentor. I do think an ftux for the mentor is important as well but probably out of scope for this ticket.

One question I had was the time commitment column, is that instructor's committment or my time commitment as someone seeking a mentor?

Thinking about commitment and time, a statement is a good way to get users co

[2018-03-12 15:52] PixelantDesign commented on #575
https://www.dtelepathy.com/ux-metrics/#intro

[2018-03-12 15:59] #152 closed

[2018-03-12 16:04] owocki opened #594 "redesign embeddable widget for github reops"
https://gitcoin.co/funding/embed?repo=https://github.com/gitcoinco&v=2

<img src='https://gitcoin.co/funding/embed?repo=https://github.com/gitcoinco&v=2'>

i coded this up hackily a few months ago.  its intent was to represent the available open issues on a github repo.

id like a redesigned embeddable image that looks good on github repos and is on brand.

[2018-03-12 16:18] owocki opened #595 "test 123"

[2018-03-12 16:18] owocki commented on #595
@gitcoinbot hi

[2018-03-12 16:19] cd10012 commented on #550
Hi started working on this here going to try to get this done by tonight: [branch](https://github.com/cd10012/web/commit/cdc0fbf2a68b3aeb531ba97bcb0a5189b91ac5e0)

Right now I have a function for paginating only the bounties but I'm going to create a paginator helper function that'll return an object for any queryset /list given. Screenshots to come soon

[2018-03-12 16:23] owocki commented on #595
@gitcoinbot hi

[2018-03-12 16:24] owocki commented on #595
@gitcoinbot hi

[2018-03-12 16:24] owocki commented on #595
@gitcoinbot help

[2018-03-12 16:32] #595 closed

[2018-03-12 16:44] owocki commented on #595
@gitcoinbot test 123

[2018-03-12 16:45] mbeacom commented on #595
@gitcoinbot help

[2018-03-12 16:49] owocki opened #596 "gitcoinbot tune up"
please read this before responding to this issue => https://github.com/gitcoinco/web/tree/master/app/gitcoinbot

- add start work functionality
- claim - rename to submit work
- claim [if there is no active bounty] tell the user there is no active bounty and instruct them where to start a bounty
- claim -- use the new gitcoin url format (`https://gitcoin.co/issue/org/repo/num` instead of `https://

[2018-03-12 17:25] alysonpaige commented on #593
I'd like to take this upgrade on if it's still open.

[2018-03-12 17:39] owocki commented on #596
ok finished up the first requiremnt http://bits.owocki.com/2r1n3c0V2G0Z/Screen%20Shot%202018-03-12%20at%2011.38.59%20AM.png

removing this from the list now

[2018-03-12 17:50] johan718 commented on #506
Keep up the good work @mkosowsk!

[2018-03-12 18:05] PixelantDesign commented on #507
@owocki @vs77bb If we can't sync it, we should at least make it clear to users when it was last synced, so they are aware that it's outdated information.

[2018-03-12 18:06] PixelantDesign commented on #507
I also think a lazy repo maintainer is a random edge case.

[2018-03-12 18:15] owocki opened #597 "when a tip is redeemed, gitcoinbot should comment back on the thread and let everyone know"
or shouldnt it?

example 'create' comment : https://github.com/gitcoinco/web/pull/236#issuecomment-372386125

but there is no 'receive' comment

[2018-03-12 18:19] owocki commented on #380
i dont think its likely that most projects will have a video associated with them.. this isnt kickstarter.

@PixelantDesign what do you think?

cc @vs77bb we have a big deal potential grantee in the funnel!! very excited for this

[2018-03-12 18:19] mbeacom opened #598 "KeyError: 'comment'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/478/](https://rollbar.com/mbeacom/gitcoin/items/478/)

[code]

[2018-03-12 18:40] owocki opened #600 "as an administrator, id like to add faucet distributions to activity_report, so i can track them"
https://github.com/gitcoinco/web/blob/master/app/dashboard/management/commands/activity_report.py

FaucetRequest object should go in there if processed == yes

[2018-03-12 18:47] #598 closed

[2018-03-12 18:47] owocki commented on #592
id be down to do that but i dont have the time today (or likely until much later in the week) to breakdown the tasks..  any chance you want to lay a few out?  happy to tip ya fer yer time

[2018-03-12 18:49] mkosowsk commented on #592
Sure, will do before EOD

[2018-03-12 19:00] PixelantDesign opened #601 "Tidy Up Issue Explorer"
Update left rail with My Projects area combining "created by me" and "claimed by me".
<img width="268" alt="screen shot 2018-03-12 at 3 03 57 pm" src="https://user-images.githubusercontent.com/238235/37304029-c6b69ffe-2606-11e8-9133-538beabe6dff.png">

Updating rows to show in this order:
comments, level, and number of days till expired.
Remove: When the issue was posted and hours.

![Screen Shot

[2018-03-12 19:00] owocki commented on #584
those numbers are no good here

[2018-03-12 19:28] owocki opened #602 "as a user, i want the bounties to be indexed by standardbounties id instead of github url, to prevent more edge cases"
we should drop the indexing of bounties by github url (edited)
and just use standardbounty id just like the bounties network

there have two or three times we’ve had dupe bounties for the same github url and its just a pain because the whole system was desired around the old contracts (indexed by github url)… while the new smart contracts are indexed by id

[2018-03-12 19:29] owocki commented on #602
@mbeacom @jasonrhaas either of you have intersted in taking this on?

[2018-03-12 19:34] mbeacom commented on #602
@owocki I can snag this one, unless @jasonrhaas is eager to jump on it.

[2018-03-12 19:50] cmac2454 commented on #565
@PixelantDesign Thanks for the feedback! I'm definitely utilizing the UI Kit as I design this and I went and got the Muli font so I'll keep an eye out for it on the site and work on integrating it into designs.

That number comes from the number of hours that that individual is willing to commit to **being a mentor** per week. I do like the idea you put in the header as well, with a sort of statem

[2018-03-12 19:59] cmac2454 commented on #584
I'm interested in this because I think it'd be great to see a summary of Gitcoin-related news on the site. I looked at the Week in Ethereum example, and I'm curious:

Are we looking to essentially do what they have, or do we want additional features/viewing options?

Would we consider pulling news from other sites? (e.g. Twitter, Week in Ethereum, etc.)

Do we want to make the newsletters download

[2018-03-12 19:59] eswarasai opened #603 "Use Profile Email across everywhere"
##### Description

Currently, in the system, the email address field is not associated everywhere with that of the `Profile.email`. This breaks having the association between Gitcoin User and Tips/Subscriptions etc.

For example, I've recently updated my primary email address of the GitHub from `eswar.vankayalapati@gmail.com` to `eswarasai.v@gmail.com` and removed the old one completely from my Gi

[2018-03-12 20:01] owocki commented on #603
this is a good idea

[2018-03-12 20:01] mbeacom opened #604 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/445/](https://rollbar.com/mbeacom/gitcoin/items/445/)

[code]

[2018-03-12 20:16] owocki commented on #584
fyi -- this kind of already exists over at gitcoin.co/community

[2018-03-12 20:17] owocki commented on #584
i wonder how we could narrow the scope here.. i mean the content already exists... its just a matter of finding a way to display it in a purdy way on the site

[2018-03-12 20:23] owocki commented on #447
@gsvitak if you want to just PR the backend models for now... id be happy to create a seperate task for the scraperes

[2018-03-12 20:34] owocki commented on #556
yup!

yup.. NDAs and onboarding are at the top of this list fto me

[2018-03-12 20:59] owocki commented on #588
i think this is a great idea!

+1

[2018-03-12 21:33] owocki commented on #506
thanks for the update @mkosowsk

[2018-03-12 22:18] owocki commented on #575
task success more important than 'engagement' ?

[2018-03-12 22:20] owocki commented on #408
@leonprou wanna submit the issue on the gitcoin link and i will pay ya out ASAP?

[2018-03-12 22:20] #408 closed

[2018-03-12 22:20] owocki opened #607 "Increase Code Coverage by 4%"
This bounty will be paid out to anyone who meaningfully increases the code coverage of the repository by 4%.

Criteria:
* You must increase the code coverage (as measured by codecov) of this repo by 5%.
* You must put (show) some thought into success / failure criteria for each method tested.
* Please coordinate with other bounty hunters who are working on this bounty so you don't overlap work.

[2018-03-12 22:59] owocki commented on #450
yay.... thanks for the domain @flysonic10 !

[2018-03-12 23:00] owocki commented on #450
@scottydelta how goes the local geth node?

cc @mbeacom -- weve talked a little bit about setting up a local geth node at gitcoin

[2018-03-12 23:04] owocki commented on #450
this seems like it might be useful.. theres a whole section on setting up subdomains https://www.reddit.com/r/ethereum/comments/6clvs6/a_quick_guide_on_getting_an_ens_name_and_setting/

[2018-03-12 23:09] scottydelta commented on #450
@owocki I have made some progress on this, will update commits after running tests and cleaning it up. To be able to set up sub domain for users, it will require a local node AFAIK.

[2018-03-13 01:43] mkosowsk opened #608 "Investigate Image Compression Across Gitcoin for Performance Improvements"
Note: this issue is meant for beginners as a first contribution to Gitcoin. As such, if you have previously made contributions to the gitcoinco/web repo please do not work on this issue... that means you can look but please don't touch @thelostone-mc 👀

From #592:

Images on Gitcoin could possibly be optimized by compressing the file size without sacrificing too much quality. A good place to start

[2018-03-13 01:44] mkosowsk opened #609 "Investigate Browser-Caching Across Gitcoin for Performance Improvements"
Note: this issue is meant for beginners as a first contribution to Gitcoin. As such, if you have previously made contributions to the gitcoinco/web repo please do not work on this issue... don't even try it, @owocki! 💇‍♂️

From #592:

Browser-caching is asking visitors to save and reuse the files included in your website. It can dramatically reduce page load times for repeat visitors.

A good plac

[2018-03-13 01:55] owocki commented on #609
i wonder if we could do anything about far-futures expires headers straight away in django or cloudfront

[2018-03-13 04:48] scottydelta commented on #450
Added the forms for registration and deletion along with verification using Metamask signature and github handle validation. I will work in next few days to see how we can handle un-mined transactions for ENS contract interaction.

[2018-03-13 04:49] scottydelta commented on #450
@owocki We should also limit them on how many times they can register/update an address(probably allow one registration and one address change per github account) to a subdomain since it will cost gas to interact with the contract.

[2018-03-13 05:45] nitinrgupta commented on #594
@owocki - Are we showing all the funded issues for that repo or top 4/6 issues in the embeddable image?

[2018-03-13 08:25] PixelantDesign commented on #597
It is useful for the sender to be notified that the tip has been redeemed (which we already do via email). Probably not something everyone needs to know.

[2018-03-13 10:47] mkosowsk commented on #597
Perhaps the comment could be opt-in via email? Think some users would want people to know they have been tipped (like yours truly 😂) but others would want to retain their privacy.

"User @owocki has tipped you 0.1 ETH. Want to let the world know? Click 'Add Comment' and Gitcoinbot will make a public comment showing the tip in thread."

or something like that.

[2018-03-13 11:29] mkosowsk commented on #592
@owocki created https://github.com/gitcoinco/web/issues/608 and https://github.com/gitcoinco/web/issues/609

Let me know what you think 👍🏻

[2018-03-13 12:00] gsvitak commented on #447
No problem. I am busy with work stuff for next couple of days but will do send soon.

[2018-03-13 12:33] abitrolly opened #611 "Issues Tree"
I would like to link see my funded issues as a tree.

First, other people could see the main issue that I am trying to solve. Many issues are interconnected, so it is useful to see the root cause or how deep is the rabbit hole.

Second, other people can co-fund the issues. Not only the one on the surface, but also the one that are below. People should be able to pour additional tokens into the tre

[2018-03-13 13:45] cmac2454 commented on #565
@owocki @PixelantDesign Do we want the mentoring page to live on its own or do we want those details to live on the Profile page and be edited and displayed there?

[2018-03-13 15:15] owocki commented on #611
thanks for the feedback @abitrolly !

when you say "see as a tree", im having a hard time visualizing it.  i'm also curious if all the information one would need to generate this information is available straight away on github.  would you be able to take 3 minutes in draw.io and mock up what you're talking about ?

[2018-03-13 15:50] mbeacom opened #612 "profile_details.html references nonexistent profile.js resulting in Http404"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/394/](https://rollbar.com/mbeacom/gitcoin/items/394/)

[code]

[2018-03-13 15:53] #612 closed

[2018-03-13 16:20] owocki commented on #565
i was thinking it'd be it's own page that would link off to the profile detail page.. cc @PixelantDesign

[2018-03-13 16:23] owocki commented on #597
agree with pixelant (and also with you mitch)

[2018-03-13 16:27] owocki commented on #594
currently the top 4/6 but i leave it to the discretion of the designer to decide how many we should support in this new revision

[2018-03-13 16:29] owocki commented on #450
does this mean that you expect gitcoin to pay the gas for the tx?  the standard way of doing this in the dapp thus far has been to expose the tx signing to the user in metamask, so that they have to sign it with their own private key (and thus pay their own gas)

[2018-03-13 16:32] owocki commented on #463
i'd love to get this one started.. can add a few more 0.0x ETH to the bounty if it does anything for anyone on thread :)

[2018-03-13 16:47] mbeacom opened #613 "IndexError: list index out of range"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/479/](https://rollbar.com/mbeacom/gitcoin/items/479/)

[code]

[2018-03-13 16:48] #613 closed

[2018-03-13 17:15] mbeacom opened #614 "As a funder, I want to hide submissions and downgrade the status of a bounty"
##### Description

There is no current way for bounty funders to hide unwanted/unaccepted submissions to update the `gitcoinbot` comments on the Github issue or revert the bounty status out of `work submitted` if all current submissions are invalid.

##### Possible Implementation

- Add attribute to `BountyFulfillment` of something like: `rejected`, `hidden`, 'inactive', `ignored`, or `invalid` an

[2018-03-13 17:25] owocki commented on #614
@mbeacom your suggested implementation makes sense to me.  the only thing about doing it off chain though is that @mbeylin and the Bounties.Network won't know that the submission has been rejected.

related https://github.com/Bounties-Network/StandardBounties/issues/27

[2018-03-13 17:27] mbeylin commented on #614
I think at this junction it's OK for the rejection to only live on Gitcoin.

In terms of implementing this though, I'd advise you guys to make sure you get the issuer to actually sign a rejection message or something, otherwise people could spoof their address (through the web3 object), and reject other people's submissions off-chain without the issuer even knowing.

[2018-03-13 17:34] mbeacom commented on #614
@mbeylin That makes sense 👍
I'm fine with doing proceeding in that direct.  Just as an additional discussion point, we could check whether or not the user is authenticated as the bounty owner via the GH integration as well (not as nice as signing a rejection message), but it would offer some validation.

[2018-03-13 17:43] PixelantDesign commented on #565
Thanks for the clarification @cmac2454
I think the blue and green works for the tags...btw are those tags clickable? If not, I'd suggest looking at the ETH/USD tags i've defined in the UI Kit and define newer informational tags in a similar style.

I also think mentor details should be it's own page.

Thank you!

[2018-03-13 17:57] cmac2454 commented on #565
@PixelantDesign Those tags are meant to be clickable, yes. I was thinking they could serve as an alternate way to add skill filters (by clicking on the skills you were interested in on a profile). I can still redesign them if you want them to be a little more on-brand.

I'll make a separate page for the mentor details!

[2018-03-13 18:05] PixelantDesign commented on #380
@KennethAshley design looks nice but probably not something we need at the moment. Adding in here what we discussed yesterday on slack -- the three pages we need here are:

1) a landing page that describes the grant initiative
2) an index of all of the grants
3) grants/new the ability to create a new grant.

Feel free to slack me if you want to talk through ideas.

Thanks!

[2018-03-13 18:21] mbeacom opened #615 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/445/](https://rollbar.com/mbeacom/gitcoin/items/445/)

[code]

[2018-03-13 20:01] PixelantDesign commented on #593
Is there a cost associated?

[2018-03-13 20:40] mbeacom opened #616 "AttributeError: 'NoneType' object has no attribute 'strip'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/489/](https://rollbar.com/mbeacom/gitcoin/items/489/)

[code]

[2018-03-13 20:42] #616 closed

[2018-03-13 20:52] owocki opened #617 "as a user, i want gitcoin to integrate standardbounties contribute() method, so i can contribute more funds to a bounty"
# what

1. integrate the [contribute() function from StandardBounties](https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L248) to gitcoin.
2. integrate the [increasePayout() function from standard bounties](https://github.com/Bounties-Network/StandardBounties/blob/master/contracts/StandardBounties.sol#L477)

# ui for funders

1. this will be a new meth

[2018-03-13 21:01] owocki opened #618 "as a community member, i want a competitive analysis, so i can know who's who in the OSS funding space"
do a competitive analysis across any leading crypto project in the OSS / knowledge work space

[2018-03-13 21:11] owocki opened #619 "as a user, i want zero downtime deploys, so i dont get downtime during deploys"
dont show the 502 bad gateway page during deploys

[2018-03-13 21:16] mbeacom commented on #619
Ref #329

[2018-03-13 21:21] sethmcleod commented on #430
I'll take this one on @PixelantDesign

[2018-03-13 21:31] zoek1 commented on #596
@owocki any particular text message for `start work` functionality?

[2018-03-13 21:34] owocki commented on #596
@zoek1 just stub in copy that you think makes sense and ill update it before deploying to prod if i dislike it :)

[2018-03-13 21:41] thelostone-mc commented on #593
Nope! They have a free version which was what I was planning on using!
They've got a paid version with a few extra fancy icons which we really don't need unless @mkosowsk decided be super generous and buy it for us (even though we wouldn't end up using any of those ) :P

[2018-03-13 21:42] owocki opened #620 "as a marketer, i want a specific landing page for python, so i can better target consumers"
as a marketer, i want a specific landing page for python, so i can better target consumers

this landing page should show recent python-related issues on it and talk about how many issues are available for python

# bounty

submit a design showing a landing page, but with an emphasis on python
you may work off of the current landing page at https://gitcoin.co/ (in fact, this is preferred.. you may

[2018-03-13 23:52] scottydelta commented on #450
ok makes sense, I didn't realize that we could just get the signed transaction from the user, I had assumed we were using metamask to validate the wallet and github handle ownership. I will make necessary changes. thanks, appreciate the guidance 👍

[2018-03-14 00:35] mkosowsk commented on #593
@thelostone-mc spend your own money, not mine 😜

Lord knows my baby needs too much money anyway... 10 months old and cries all the time but doesn't pay rent 😤

[2018-03-14 01:15] msuess commented on #617
Taking a crack at this. I'l start with the UI parts, I will let you guys know how it goes and if I need help with the ethereum stuff.

[2018-03-14 02:23] vs77bb commented on #594
@owocki +1 on this as an idea... This is a great growth strategy as we bring more repo's online and a good way for them to gauge their community contributions

[2018-03-14 02:30] vs77bb commented on #432
@KennethAshley Can you claim, assuming you are working this ticket? 🙂

[2018-03-14 02:39] vs77bb commented on #455
@owocki Bounty is still active on this issue, needs to be killed and moved to #576

[2018-03-14 03:02] johan718 commented on #608
This is getting interesting ;).

[2018-03-14 03:19] msuess commented on #617
I added a button. Yay! I know it's not much, I'm still trying to grok the rest of the codebase. Signing off for today, as it is getting late where I'm located. You can track my progress at msuess/web@stdbounties-increasepayout

[2018-03-14 03:31] cassidypignatello commented on #608
Just wanted to confirm that I'll be working on this and will comment with screenshots once it's ready!

[2018-03-14 03:52] vs77bb commented on #408
Shown as 'Open' rn, FYI @owocki ... looks like you have it handled tho 👍

[2018-03-14 04:00] msuess commented on #617
BTW, what is the intended UX for asking the user how much ETH to send?

[2018-03-14 06:16] vikaskyadav commented on #594
@owocki . Could you send the link to the code whatever you did? I can work on extending it to make it look better.

[2018-03-14 09:55] zoek1 commented on #596
@owocki, this way to handle bounds it's ok for you? [Handle bounds](https://github.com/gitcoinco/web/compare/master...zoek1:gitcoin-bounds#diff-907a2ecd1aac9e19169253802721bd4fR90)

Also, the start work command should call the new_interest function in dashboard/views or show the link to call such method?

Last, what criteria will be used to store the requests onto GitcoinBotResponses? This feature

[2018-03-14 11:00] mkosowsk commented on #608
@cassidypignatello looking forward to this, should be able to get some nice performance improvements! 👍

[2018-03-14 15:01] owocki commented on #455
killing / bountying the otehr issue now

[2018-03-14 15:05] owocki opened #623 "Refactor the Gitcoin API"
##### Description
router.py

We need to refactor quite a bit of the API using more functionality in `django-filter. DjangoFilterBackend` and the `OrderingFilter`

##### Possible Implementation
See above ^^

[2018-03-14 17:07] msuess commented on #617
I'm going to model the UX after the one for  funding a new issue. User presses 'add contribution' -> user will be taken to a new page with a form for amount and currency and the transaction time estimation -> user clicks submit -> metamask tx confirmation etc. Is that ok with you?

[2018-03-14 17:37] owocki commented on #617
seems right to me.

btw, i like the avatar :)

[2018-03-14 17:44] owocki commented on #596
cool! very elegant!

seems more elegant to pull up the bounty detail page and automatically click the link... but i could also see 'highlight'ing the link being okay too

i'm not sure i follow the question... no this feature is not meant to cache all requests.  i intended it such that an admin could build functionality into the bot over time.  for example, i as an admin could enter a `GitcoinBotRe

[2018-03-14 19:40] msuess commented on #617
I have created a PR for tracking purposes.

[2018-03-14 20:08] owocki commented on #601
we dont have the concept of 'claim'ing anymore.. should we change the copy to 'started by me' instead @PixelantDesign @thelostone-mc ?

[2018-03-14 20:13] thelostone-mc commented on #601
@owocki Ideally shouldn't it be Fulfilled By Me or would it be overcomplicating the name  ?
(Just like our API params )

[2018-03-14 20:23] mbeacom commented on #601
@thelostone-mc "Submitted" and "Started work" are separate states.  I'm thinking `Started by me` and `Fulfilled by me` would be good.

[2018-03-14 20:51] PixelantDesign commented on #601
What about...
Started by Me = Work that I've started/ in the process of working on
Submitted by Me = Work I've submitted for review
Completed by Me = Work I've completed and have been paid for

@owocki @mbeacom @thelostone-mc

Do these structures work?

[2018-03-14 20:53] thelostone-mc commented on #601
Wouldn't we need one for issues created by me?

[2018-03-14 21:02] thelostone-mc commented on #601
@mbeacom how would the API call look for this ?
If I were to select two options in this section , since all belong to different states. We can't send them across as comma separated values.

Should we fire those as multiple API request and club them together ? ( Ugh )

Would it be right to make it to a radio button instead ? Cause these states shouldn't cannot coexist right ?

[2018-03-14 23:21] owocki commented on #618
https://docs.google.com/document/d/1aCbbCGz7L0KOJoDGcnHu0L66TUzdqtVT__pgztGfc94/edit

[2018-03-14 23:47] mkosowsk commented on #618
@owocki requested access 👍

[2018-03-15 00:37] PixelantDesign commented on #601
@thelostone-mc you've already implemented created by me.
Also these should probably be radio buttons if we're only allowing the user to see one of these filter options at time.

[2018-03-15 01:16] cassidypignatello commented on #608
@mkosowsk thanks! Just wanted to leave a comment here showing some of the changes in file size / performance improvements. I only included a few screenshots of the file size reduction for redundancy's sake, but please let me know if you'd like to see more of those.

# **Before and After File Size Reduction**

<img width="978" alt="image-reduction-1" src="https://user-images.githubusercontent.com/6

[2018-03-15 01:34] PixelantDesign opened #627 "Update Hours Dropdown in Funder Form"
### User Story

As a developer, I want to know how long a task will take so that I can determine whether I have bandwidth to work the bounty.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement to Bounty Creation screen

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what ac

[2018-03-15 02:21] vs77bb commented on #617
Great start, @msuess. Appreciate your contribution and looking forward to seeing your progress!

[2018-03-15 02:37] vs77bb commented on #601
My 2 cents: I like it better as 'Created By Me' /  'Worked By Me' and for the default to be unchecked radio boxes.

If I click 'Worked By Me' / 'Created By Me', 'Project Status' should automatically filter to 'Any'. From there, if I want to only look at 'Work Started By Me', I can use 'Project Status' to do so. Does this make sense?

@PixelantDesign feel free to veto if it doesn't make sense. 🙂If

[2018-03-15 02:44] vs77bb commented on #607
@niallgcm Howdy! Are you giving this a go? Glad to have you here 🙂

[2018-03-15 03:03] scottydelta commented on #450
@owocki I remember now why I assumed gitcoin would be the txn fee. Please refer to this conversation on [ethereum/web3.py](https://gitter.im/ethereum/web3.py?at=5aa89468458cbde5573071ff), since the transaction needs to be signed by the domain owner, it would be tricky to make the user pay for the gas for registering sub-domains.

[2018-03-15 06:58] thelostone-mc commented on #601
@vs77bb Yeah radio buttons == a default option must be available but :
-  would it make sense to  have it labelled under `My Gitcoin`
-  could rename it to `All` but that still doesn't fit into the bracket
- could keep it as checkboxes -> does let users see the issues they've bountied and fulfilled themselves ( i doubt anyone would use it :P )

So do I hold off on this until this is decided ?  If

[2018-03-15 10:42] mkosowsk commented on #608
@cassidypignatello amazing work! What technique(s) did you employ to get your results?

Could you share 2-3 before-and-after image pairs that are representative of the change? @PixelantDesign might be a good to get a designer's eye to make sure that the compression doesn't go too far

I'm not sure about the random string png files or the regular duplicate png files. @owocki @mbeacom do we need to

[2018-03-15 10:52] thelostone-mc commented on #608
@cassidypignatello @mkosowsk
Thoughts on swapping out a few of those images for svgs ?
That oughta increase performance

[2018-03-15 11:07] mkosowsk commented on #608
@thelostone-mc do we have SVG's handy? Creating SVG's probably outside scope of this ticket, no?

[2018-03-15 11:37] thelostone-mc commented on #608
@owocki would you have the sketch files for these ? If yes exporting it as an svg is easy
Else we'll take care of it when we redesign the page :)

[2018-03-15 13:10] cmac2454 commented on #565
Here's a [link](https://drive.google.com/file/d/1zhUJhrEHrHqmpOUEiOs1VMS5xQ-p5EQ-/view?usp=sharing) to view the email template as it is so far.

[2018-03-15 13:11] mkosowsk commented on #565
@cmac2454  Looks slick!!!

[2018-03-15 13:15] cmac2454 commented on #565
@mkosowsk Thanks! Any feedback/features you think I should have?

[2018-03-15 13:47] mkosowsk commented on #565
May be overloaded but think it might be good to include their Slack name if they are active on the Gitcoin Slack? Slack is nice for communication and if they are active on Gitcoin Slack this might kill two birds with one stone

I defer to @PixelantDesign tho, my designs tend to get super overloaded with crap 😂

[2018-03-15 14:50] owocki commented on #380
@PixelantDesign wouldnt we need a grant display page too? (in the vein of [this](https://github.com/gitcoinco/web/issues/380#issuecomment-365151507) or [this](https://github.com/gitcoinco/web/issues/380#issuecomment-372333693)?)

it would seem to me that a user (whether grantee or potential contributor) would need to be able to view the details of a specific grant.

or maybe this page can/should b

[2018-03-15 16:25] mkosowsk commented on #609
@mbeacom should we tweak CloudFront settings?

[2018-03-15 16:37] owocki opened #628 "What environments should we have? How should we use them?"
Right now

* production
* staging
* local

Maybe in the future

* production
* staging
* uat

[2018-03-15 18:51] olafghanizadeh commented on #608
@thelostone-mc Almost all the graphics on the current page is possible to display as SVG instead. I started on that some time back, but never finished.

[2018-03-15 19:07] mbeacom commented on #608
It might be ideal to implement ongoing image compression via a Django package, post processor, custom script to handle image compression as a pre-deployment step versus compressing the images and committing them back to the repo.  This will provide us with a scalable solution versus a manual action step anytime an image changes.
There are multiple django and python packages that can achieve this.

[2018-03-15 19:11] thelostone-mc commented on #608
@mbeacom Image Compression == Yay but SVG + Compression == Double YAY

[2018-03-15 19:17] mbeacom commented on #609
One problem I see moving forward are the static assets we reference directly in css.  A lot of our fonts and some `png` files are directly specified.  The max-age for those assets is only `60` versus `315360000` for all hashed assets.  I could see it making sense to modify font caching for sure.
Assets with a low `max-age` from gitcoin.co index page:

[code]

[2018-03-15 19:36] cassidypignatello commented on #608
Thanks @mkosowsk! I build a lot of rich media ads at my day job, so having to optimize image file size without reducing quality is something I deal with constantly. The main technique I used here was actually putting all the images into tinypng.com and letting that handle the compression for me. I also have some Photoshop techniques that I can use, but didn't have to do that here since I've found

[2018-03-15 19:38] olafghanizadeh commented on #429
I'm still working on this, but had a lot of trouble with the docker container...

[2018-03-15 20:02] mkosowsk commented on #429
@olafghanizadeh were you able to resolve your Docker issues or are they ongoing? What was the problem? 🤔

[2018-03-15 20:17] mkosowsk commented on #608
@cassidypignatello Awesome!

@mbeacom For the purposes of this issue and bounty, I think adding the pre-deployment step to compress is outside of scope and wouldn't want to feature creep it in for the sake of paying out bounty to @cassidypignatello

I think it could make sense to merge @cassidypignatello's changes in once PR is approved as it should deliver real value very soon to Gitcoin. We coul

[2018-03-15 20:36] mbeacom commented on #608
@mkosowsk If that's the case, you might have been able to just use the assets that are pregenerated for you via the Google pagespeed results:  https://developers.google.com/speed/pagespeed/insights/optimizeContents?url=https%3A%2F%2Fgitcoin.co%2F&strategy=desktop

@cassidypignatello What are you using to compress the images?

But I'm fine with that...  Ultimately, I rather maintain a directory of

[2018-03-15 20:44] olafghanizadeh commented on #608
@mbeacom @mkosowsk @cassidypignatello
My suggestion is to do like this, implement imagemin (https://www.npmjs.com/package/imagemin-webpack-plugin) as a part of the asset build step. This plugin can compress png, jpg, svg (using SVGO algo). I feel like it would be beneficial to move most of the frontend asset processing into webpack.

[2018-03-15 20:44] olafghanizadeh commented on #608
A lot of the icons used on Gitcoin is also very small in filesize, so ideally we would make use of SVG sprites to lower the amount of HTTP requests.

[2018-03-15 21:00] thelostone-mc commented on #601
I just realized when i'm working on multiple bounties, I'm struggling to get a consolidated view of what I'm yet to submit / what I've submitted and stuff

Can we zero in on the decision asap ?

- checkbox / radio button
- filters : created by me / work I'm interested in / work started by me / work submitted by me

The `work started by me` is super important IMO. I realized today as I was browsing

[2018-03-15 22:00] owocki commented on #447
@gsvitak would you mind putting up a WIP PR today?  i have some cycles tomorrow and was hoping to get this across the finish line

[2018-03-15 22:05] owocki commented on #601
This makes sense to me.

I defer to you and @PixelantDesign as to whether we add `work I'm interested in / work started by me / work submitted by me`, but my 002 wei is that if we make `work started by me` inclusive of the remaining categories we should be fine.

Agree with @PixelantDesign

[2018-03-15 22:11] owocki commented on #565
This makes sense to me

[2018-03-15 22:29] mkosowsk commented on #608
@mbeacom When I hit that link I get this error message:

Looks like he's using TinyPNG :D

So for deliverables for this issue @cassidypignatello would create an output dir that he would populate with his compressed images? Then a bit further on down the line we could use imagemin as part of the asset build step that would output compressed images to this same folder?

Of course if Cassidy is comfo

[2018-03-15 22:35] owocki commented on #450
ah okay.. this makes sense to me that gitcoin would pay the gas then.. i think we'll just need to make sure we don't get sybil attacked (i.e. someone doesnt go around creating 100s of domains just so we have to pay for the gas)

[2018-03-15 22:48] owocki commented on #406
https://github.com/gitcoinco/web/pull/589/

[2018-03-15 22:50] owocki commented on #406
shipping ^^

per
[code]

the only legacy bounties that aren't recalled yet are :

[code]

[2018-03-15 22:56] #406 closed

[2018-03-16 05:06] scottydelta commented on #450
@owocki One way is to budget/limit the ether for sub-domain registration every week. Once this ether runs out, users need to wait for the subsequent week and then try again. It can be on first come first basis and github profiles with zero activity can be barred from using this feature(a msg can be shown to contact admins via github issues/slack channel if they really want a sub-domain).

[2018-03-16 05:50] thelostone-mc commented on #608
![creep](https://cdn-images-1.medium.com/max/1600/0*CIFEK0FxxIKqSuC7.gif)

[2018-03-16 11:07] thelostone-mc commented on #601
Phew that took longer than I expected :P It's all done now

[2018-03-16 13:18] michelgotta commented on #594
@owocki To clarify this topic: "Design only" or code/implementation, too?

[2018-03-16 13:24] mbeacom commented on #608
@mkosowsk I agree regarding feature creep, but I don't think they should be exclusive.  You can run a script over the directory and automatically generate the compressed assets.

If my URL doesn't work, you can look at your pagespeed insights report, scroll to the bottom, and it's the last link.

[2018-03-16 14:52] cassidypignatello commented on #608
@mkosowsk @mbeacom I'm comfortable with trying to hook up imagemin. If we're going to include it in this issue then I'll hold off on uploading the before and after image pairs since it sounds like it would make more sense to just start again from scratch and recompress everything via the script. I'll get started on that unless there are any other concerns!

[2018-03-16 14:54] mkosowsk commented on #608
Sounds good to me!

[2018-03-16 15:27] owocki commented on #594
just design

although if you submit a version that's coded too i'm happy to tip for that, since it would remove the need for a follow up bounty on the coded design

[2018-03-16 15:28] owocki commented on #450
good thinking!  i think the approach i'd use is to only allow one subdomain request per user per week.

[2018-03-16 16:12] #601 closed

[2018-03-16 16:32] owocki opened #631 "As a new user, I want coding exercises, so I can learn web3."
# Description

[(spec discussion)](https://github.com/gitcoinco/skunkworks/issues/56#issuecomment-373646345)

Gitcoin is a project that's in the vanguard of web3, and as such, we get a lot of new users who are just learning blockchain development.

One common question is "I'm just learning blockchain development. Where should I start?"
 While we have typed up some documentation on this, https://gi

[2018-03-16 17:09] PixelantDesign opened #632 "Update Gitcoin Weekly Newsletter"
Update Design

[2018-03-16 17:10] mkosowsk commented on #631
@owocki hmm... the tiny gears in my head are turning, I wonder if Gitcoin core has been talking to Cryptozombies about a collaboration? 🤔

The Blockstreet team which was a winner at ETHDenver also could be a nice conversation, I chatted a bit with some of their team members if you'd like an intro 👍

[2018-03-16 17:19] PixelantDesign opened #633 "How Does This Work?"
*not ready to be worked on*
As a new user, I want to know what's the fastest way to get started in Gitcoin.

[2018-03-16 17:37] owocki commented on #631
remind me what Blockstreet does?

[2018-03-16 18:06] mkosowsk commented on #631
It's similar to Cryptozombies as a way to learn Solidity but it

0. Runs User-submitted code against unit tests as opposed to just doing a git diff of User-submitted code vs. an accepted solution
1. Gave the user a real deployed dapp at the end of the tutorial to play around with

I haven't messed around with Cryptozombies Lesson #5 so unsure what that team has been doing, but Blockstreet seemed p

[2018-03-16 19:01] #144 closed

[2018-03-16 21:06] e-n-l commented on #633
Ideally, I think we'd want to game-ify the experience, ala CryptoZombies.io... but for an MVP, having a "get started with GitCoin" repo / module including things like tutorials, contribution guidelines, toolchains (linters etc.) and pre-contribution agreements might be a good place to start.

Repo-owners could then fork that project to customize their own contribution kits, lowering friction for t

[2018-03-16 22:52] e-n-l opened #636 "GitCoin Profile Data Loss"
##### Description

My GitCoin profile ([e-n-l](https://gitcoin.co/profile/e-n-l) and / or [razordaze](https://gitcoin.co/profile/razordaze)) has lost all record of GitCoin related transactions, apparently at some point after

a) changing my username on GitHub from @razordaze to @e-n-l, and / or
b) a [Colony issue](https://gitcoin.co/issue/JoinColony/colonyNetwork/174) was started, [completed / acc

[2018-03-17 02:01] michelgotta commented on #594
@owocki I'll give it a shot, design first and then I have to check if my python skills if I am able to code this. My first ideas:

- width of the image should be 888px (web), or even smaller for use outside of Github README.md's or on mobile
- there should be a way to have a better font rendering
- clear separate information areas: Gitcoin branding (Header, Powered by, Push open source forward), r

[2018-03-17 02:03] e-n-l commented on #636
Hrm, the razordaze profile seems to be showing all the right info again, and the Colony issue has been changed to "Done" from cancelled.

Mysterious!

[2018-03-17 02:07] e-n-l opened #637 "Expired Status == Open Status?"
##### Description
I noticed that [this issue](https://gitcoin.co/issue/codesponsor/web/10?gc2) is showing up in the [Issue Explorer](https://gitcoin.co/explorer?q=Dockerize) when the Open status filter is on, but it's actually expired:

![image](https://user-images.githubusercontent.com/487308/37550598-2a499438-294d-11e8-826f-bec4c98c2b5f.png)

[2018-03-17 06:11] thelostone-mc commented on #637
Not sure why this is happening -.-

Duplicate one : https://gitcoin.co/issue/codesponsor/web/10?gc2
Expired one : https://gitcoin.co/issue/codesponsor/web/10

![screenshot_20180317-113709](https://user-images.githubusercontent.com/5358146/37552292-1e6776e0-29d8-11e8-96fc-e2ff1e272ec8.png)

[2018-03-17 06:12] thelostone-mc commented on #637
Could it be because the bounty was republished for a higher amount ?

[2018-03-17 07:04] vikaskyadav commented on #594
@owocki @michelgotta  I am not a python guy. But if you feel like any collaboration from my side, let me know. I will try to use my JS skills.

[2018-03-17 09:08] michelgotta commented on #594
@owocki I added my first redesign iteration to README.md on a branch on my git repo to get a feeling how it will look inside the web context. What do you think:
Check: https://github.com/michelgotta/web/blob/michelgotta/embed-widget-redesign/README.md

I will try to implement it in python. I think it's not that complex and I can reuse / refactor the existing code.

[2018-03-17 09:24] nitinrgupta commented on #594
I feel embeddable widgets would be much better than an image.

[2018-03-17 11:18] mkosowsk commented on #633
Makes a lot of sense to me! One note, I learn best from specific examples so think it could be nice to include specific examples of real contributions made to Gitcoin linked in the tutorial... always good to learn from the real thing 👍

[2018-03-17 12:03] mkosowsk commented on #430
HAS IT GONE ROGUE!??!

[2018-03-17 12:05] michelgotta commented on #594
@nitinrgupta I think generated images are a very bulletproof and common way to implement these widgets but I think we're open for any idea to make this widget better. What are you're ideas on this topic?

[2018-03-17 17:33] e-n-l commented on #637
Interesting... the [duplicate](https://gitcoin.co/issue/codesponsor/web/10?gc2) still shows as expired, at least for me:
![image](https://user-images.githubusercontent.com/487308/37558270-873e2984-29ce-11e8-96d5-5a3d6b83faea.png)

I'm using FireFox 59.0 at the moment.

[2018-03-17 17:34] e-n-l commented on #637
Interesting... the [duplicate](https://gitcoin.co/issue/codesponsor/web/10?gc2) still shows as expired, at least for me:
![image](https://user-images.githubusercontent.com/487308/37558270-873e2984-29ce-11e8-96d5-5a3d6b83faea.png)

I'm using FireFox 59.0.1 at the moment.

[2018-03-17 17:37] e-n-l commented on #633
@mkosowsk definitely! That might be a signal to listen for in the entrance / exit funnel for bounties, so we can continue to identify good examples.

[2018-03-17 17:40] e-n-l commented on #631
Somewhat parallel discussion in https://github.com/gitcoinco/web/issues/633

[2018-03-17 17:59] e-n-l commented on #627
I love this idea.

At some point, I think I'd really want an option for more granularity, that would allow for the following:

0) minutes as atomic unit
1) selected as [ number field ] [ unit select ]
2) maybe break time expected down per 'skill', 'tool' or field of expertise involved

Examples:
  - '4 days' = 4 days x 8 hrs x 60 min
  - '3 weeks' = 3 weeks x 5 days x 8 hrs x 60 min

This level of

[2018-03-18 02:36] vs77bb opened #640 "Update Gitcoin Community Section (Wordpress Blog)"
## Task
This is an evolution of #584...

To grow the Gitcoin community more effectively, we'd like a vibrant Gitcoin Community section. This
would be broken down into two parts, at least for an MVP.

1. Gitcoin Newsletters (use [weekinethereum.com](http://www.weekinethereum.com/) as an example)
2. Gitcoin Videos (Livestreams, Community Calls, Weekly Core Meetings)

## Description
We've begun an MV

[2018-03-18 02:37] vs77bb commented on #584
Closed for #640. cc @cmac2454 @owocki

[2018-03-18 02:37] #584 closed

[2018-03-18 02:59] PixelantDesign commented on #631
Blockstreet app is amazing. They presented to us at ETH Denver! Would be great to partner somehow.

[2018-03-18 03:29] mkosowsk commented on #506
First pass on ideas-list:

![ideas-list](https://user-images.githubusercontent.com/7970539/37562288-e5ec46b6-2a3a-11e8-9e5c-98d642639d67.png)

Some thoughts to follow tomorrow morning, my brain is leaking out my ears at the moment so I need to take a breather 😂

[2018-03-18 08:56] thelostone-mc commented on #506
@mkosowsk Do you have a PR open ?
I could pull it in and help with the review ^_^

[2018-03-18 08:59] thelostone-mc commented on #637
@mbeacom any idea why this might be happening  ?

[2018-03-18 09:17] thelostone-mc commented on #538
@mbeacom would it make sense to integrate the maekdown language into our input fields ?
That way everything is ported without any trouble!

A quick google might give us a few good markdown parsers like [remarkable](https://github.com/jonschlinkert/remarkable)

What do you think @Korridzy ?

[2018-03-18 12:10] mkosowsk commented on #506
@thelostone-mc Sure, I always appreciate your help! 👍🏻👍🏻👍🏻 I will have a WIP PR open within the next 16 hours... want to spend a bit more time on it today :)

Some things I'd like to cover in that time in order of priority:

0. Disqus integration for the ideas/new page and possibly for the ideas/list page... I did the front-end for ideas/list without Disqus and it looks like that may have been a m

[2018-03-18 12:36] thelostone-mc commented on #506
Haha looks like you've got it all planned out ! Sounds good to me ^_^

[2018-03-18 12:44] zoek1 commented on #596
Hi @owocki can you review the PR #641, please. Sorry for delay, but i had exams the last week.

[2018-03-18 13:25] zoek1 commented on #623
@owocki the description is some confused to me, could you detail ir more?

[2018-03-18 16:13] owocki commented on #640
LGTM @vs77bb -- once @PixelantDesign responds we can perhaps bounty it

[2018-03-18 18:49] mkosowsk commented on #640
@vs77bb I've discussed the Livestream with friends and a lot of them won't be able to make it but would be interested in getting a synopsis of the Livestream after the fact with a quick write-up. Think that could either be just the Google doc Agenda with a few additions written up, and could deliver a lot of value to the community!

Would that be part of this bounty or is it out of scope?

[2018-03-18 18:52] mkosowsk commented on #631
Great! Will ping them now 👍

[2018-03-18 21:17] owocki opened #642 "Investigate Translation of App to Other Langugages"
https://docs.djangoproject.com/en/dev/internals/contributing/localizing/

[2018-03-18 21:17] owocki opened #643 "Translate the webapp to other languages"
* [ ] Russian
* [ ] Japanese
* [ ] Chinese
* [ ] Hindi
* [ ] Translate to Dutch

Blocked by https://github.com/gitcoinco/web/issues/642

[2018-03-19 00:28] michelgotta commented on #594
PR redesign and implementation: https://github.com/gitcoinco/web/pull/644

[2018-03-19 01:03] owocki commented on #594
AFAIK you cannot do javascript widgets on github readmes

OMG I 😍 😍 😍 this :
![gitcoin-embed-widget-redesign-fixed](https://user-images.githubusercontent.com/513929/37573568-f2a9f804-2ade-11e8-814c-223ca9b8efc0.png)

I think it provides a lot of great information! I wonder if it blends into the readme style well enough though?

cc @PixelantDesign for her comments and @coderberry too since he's don

[2018-03-19 01:41] owocki opened #646 "Faucet giving 500 when submissino"
From a user on slack: HOw to get faucets , it is showing internal server error when submitting form using /faucet link

From the logs
[code]

[2018-03-19 01:42] owocki commented on #646
from the console logs

[code]

[2018-03-19 01:42] owocki commented on #646
@mbeacom it seems like when the env settings got carried over that this setting did not correctly make the transfer....  how can we be sure that theres no other settings that didn't transfer?

[2018-03-19 01:48] owocki commented on #646
i just edited https://gitlab.com/Owocki/gitcoin_server/blob/master/assets/prod.env but it seems that the deploy.bash script does not work in actually updating the live environment?  did you copy/paste the prod.env file into `/home/ubuntu/gitcoin/coin/app/app/.env` ?

[2018-03-19 01:51] owocki commented on #646
actually.. i want to reopen this until were sure no other keys were lost in xfr

[2018-03-19 01:57] michelgotta commented on #594
@owocki Here are some examples of the code generated "widgets/images",   https://github.com/gitcoinco/web/pull/644. The font rendering from PIL is not the best, but I tried to get the best out of it with some tricks.

![embed1](https://user-images.githubusercontent.com/743823/37574371-9fdc9522-2b20-11e8-8363-02b2b06add30.png)

![embed2](https://user-images.githubusercontent.com/743823/37574373-a4f

[2018-03-19 01:58] mbeacom commented on #646
@owocki I'll go through the original `settings` and `local_settings`.

[2018-03-19 02:11] mbeacom commented on #646
@owocki I checked all entries from our original env_settings.py files against their new `.env` counterparts.  No other missing keys that I can see.

[2018-03-19 02:16] owocki commented on #447
any update? im hoping to ship this soon, so i can set aside a few hours to implement the DB model.. if i dont hear back in another day or two ill do taht

[2018-03-19 06:23] KennethAshley commented on #380
![explorer](https://user-images.githubusercontent.com/1138619/37580898-75d2c7aa-2b1c-11e8-8370-d3b607214d19.png)

@owocki @PixelantDesign not sure im on the right path but i mocked up the explorer page.

[2018-03-19 11:15] mkosowsk commented on #646
👍🏻@mbeacom what's best practices to prevent this going forward? Have a script that does the xfr or is that overkill?

[2018-03-19 11:22] mkosowsk commented on #643
Recommend adding Korean, "The Language of the Future"

[2018-03-19 13:09] cmac2454 commented on #565
[Becoming a Mentor](https://drive.google.com/file/d/1kLDMAXSurht3T9YAIRp3ym1CWrmBemGA/view?usp=sharing)

[New Mentor Match Email](https://drive.google.com/file/d/1W1kGQDcWDtc2aheultfS_s-uhpGnPJGP/view?usp=sharing)

[2018-03-19 13:49] mbeacom commented on #637
The dockerize bounty is indeed a recreated bounty.  The original was cancelled. @e-n-l Thanks for reporting this.  The bounties are technically two unique bounties.  Something odd occurred when @coderberry created the first bounty, so he had to cancel and recreate it.

[2018-03-19 13:53] mbeacom commented on #640
Are there any plans to ultimately port this over to the main web application or are we sticking with Wordpress?

[2018-03-19 14:00] mbeacom opened #649 "KeyError: 'token'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/535/](https://rollbar.com/mbeacom/gitcoin/items/535/)

[code]

[2018-03-19 14:54] owocki commented on #640
i know there are ongoing conversations about a static content generator..  might be worth folding them into that.  personally i dont really care for migrating wordpress to something else..  its easy to keep the content updated, and anyone we hire to do content will know it.  if you keep it updated and disable XML-RPC to reduce security surface area... it does the job fine.

we def need to be bette

[2018-03-19 14:58] sethmcleod commented on #430
I should be able to knock this out today or tomorrow. Was hoping to get to it last week but I've been battling a fever since Thursday and these past few days have been pretty rough.

[2018-03-19 15:04] mkosowsk commented on #430
@sethmcleod feel better!!! 👍

[2018-03-19 15:08] mkosowsk commented on #640
@owocki If @vs77bb has the Livestream Agenda Google doc created for the Agenda, I can take notes for that in real time a la a court reporter.

We can then share this doc with the parties that demo'd their stuff to make any comments/corrections to the notes (would aim to do this same day) and then push that out on the following Monday.

[2018-03-19 15:09] owocki commented on #633
this is a good insight.. i wonder if we should have a list of recently completed bounties on the landing page or in gitcoin.co/onboard

[2018-03-19 15:15] mbeacom commented on #640
@owocki

Yeah, I can see how something like Hugo would make sense in this case. My main concern is adding another service to maintain outside of the standard application.  If we're taking the time to create a Wordpress template, maybe we should consider a unified static generation template that we can reuse or extend with an SSG, so it's not a matter of updating and maintaining two templates (pote

[2018-03-19 15:26] owocki commented on #594
this looks 💯 times better than the current widget!

[2018-03-19 15:27] owocki commented on #506
excited for the PR -- looks like this is really coming together

[2018-03-19 15:29] mkosowsk commented on #506
@owocki WIP PR is here if you've got some cycles :D

https://github.com/gitcoinco/web/pull/647

[2018-03-19 15:35] owocki commented on #596
thanks for the bump. just commented!

[2018-03-19 15:37] owocki commented on #623
@zoek1 - sure; the basic idea behind this issue is to take all of the functionality that is in dashboard/router.py and move it to a more standard direction for django-request-framework handling ( mentioned `django-filter. DjangoFilterBackend` and the `OrderingFilter` classes as starting points)...

@mbeacom anything to add here?

[2018-03-19 15:41] owocki commented on #380
i think this looks _amazing_!

[2018-03-19 15:45] owocki commented on #646
thx!

[2018-03-19 15:45] owocki commented on #646
@mkosowsk it was a one time migration.. so not sure we need to make sure it doesnt happen moving forward

[2018-03-19 15:45] #646 closed

[2018-03-19 15:50] owocki commented on #430
@sethmcleod feel better!

[2018-03-19 15:55] owocki commented on #640
one other consideration to add about wordpress: it makes it very simple to turn gitcoin.co/community into a video podcast..  i submitted our podcast to apple on friday night so ill be curious to see if that gets accepted as is

[2018-03-19 16:03] owocki commented on #565
those both look pretty good to me!

we may have to adjust to use our form-styles a little more consistently and maybe add an image / title / subtitle up top, but otherwise looks good.

It might be neat to surface which skills you and the match have in common.. but otherwise this looks good.

[2018-03-19 16:06] KennethAshley commented on #380
@owocki good stuff. also coding up the BE and FE as well. Should have something soon

[2018-03-19 16:16] owocki opened #650 "Emails with [DEBUG] header in prod"
http://bits.owocki.com/1n0k0M040P0j/Screen%20Shot%202018-03-19%20at%2010.14.33%20AM.png

per https://github.com/gitcoinco/web/blob/master/app/marketing/mails.py#L49-L50 this should not happen unless in dev.

i wonder if it's related to https://github.com/gitcoinco/web/pull/359 @mbeacom ?  although when i do the following in prod i dont see that DEBUG flag is on

[code]

[2018-03-19 16:29] mbeacom commented on #650
@owocki Did these originate from `stage.gitcoin.co`? That'd be the only reason I could think of for these going out like that.  `DEBUG` is `True` on staging. 🤔

This doesn't solve the mystery, but maybe we should check `settings.ENV` for notification related handling alternations?

[2018-03-19 16:41] owocki commented on #650
i wonder if this has to do with how gmail collapses threads (esp considering i tested this on my own inbox).. when i click 'show original' , it shows the subject as 'New Faucet Request' without the DEBUG

[2018-03-19 16:54] michelgotta commented on #594
@owocki Thanks!

[2018-03-19 16:56] #649 closed

[2018-03-19 17:05] #382 closed

[2018-03-19 17:06] #467 closed

[2018-03-19 17:09] #485 closed

[2018-03-19 17:12] #303 closed

[2018-03-19 17:12] #287 closed

[2018-03-19 17:12] #307 closed

[2018-03-19 17:12] #318 closed

[2018-03-19 17:12] #339 closed

[2018-03-19 17:12] #306 closed

[2018-03-19 17:12] #349 closed

[2018-03-19 17:12] #352 closed

[2018-03-19 17:12] #385 closed

[2018-03-19 17:12] #376 closed

[2018-03-19 17:12] #388 closed

[2018-03-19 17:12] #383 closed

[2018-03-19 17:12] #389 closed

[2018-03-19 17:12] #390 closed

[2018-03-19 17:44] owocki opened #651 "Where are our users located geographically?"
per @vs77bb convo today

[2018-03-19 17:45] mkosowsk commented on #651
@vs77bb As everyone knows and despite outrageous claims to the contrary, I am a proud resident of NYC 👍

[2018-03-19 18:18] mbeacom commented on #651
https://docs.djangoproject.com/en/1.11/ref/contrib/gis/geoip2/

[2018-03-19 19:08] #600 closed

[2018-03-19 19:11] #650 closed

[2018-03-19 19:17] owocki commented on #643
added korean

[2018-03-19 19:17] owocki commented on #640
podcast got accepted => https://gitcoin.co/podcast

[2018-03-19 19:19] owocki commented on #640
its probably worth having a larger convo about whether we want to move to microservices eventually or be a monolith forever.  in the former case its cheap to maintain another service, in the latter its a pain in the butt

my hope was that we could be pretty minimalistic with changes to the current template at https://archive.gitcoin.co (or choose another template that's pre-baked that's close enou

[2018-03-19 19:21] owocki commented on #637
just went in and set the old bounty as `current_bounty=False` so hopefully thatll stop it from showing up twice in the future...

not sure if we need a fix it twice here or not. if not, ok to close this issue?

[2018-03-19 19:21] owocki commented on #636
this is def something we need to handle in the future:

[2018-03-19 19:23] owocki commented on #633
might be worth adding a visual like this to the tool so people know the bounty flow

<img width="613" alt="screen shot 2018-03-18 at 7 05 13 pm" src="https://user-images.githubusercontent.com/513929/37617426-bf30cf8a-2b78-11e8-857e-057e6375735b.png">

[2018-03-19 19:24] owocki opened #652 "confusing first user experience for bounties"
in the FTUX its hard to understand all the steps associated with getting paid.  it might be worth letting the user know the flow of the issues when they are onboarding

<img width="613" alt="screen shot 2018-03-18 at 7 05 13 pm" src="https://user-images.githubusercontent.com/513929/37617458-cdce4eb4-2b78-11e8-888e-6c5e353cbb63.png">

[2018-03-19 19:25] owocki commented on #563
@olafghanizadeh are you still working on this?

[2018-03-19 19:25] owocki commented on #632
related => https://github.com/gitcoinco/web/issues/563

[2018-03-19 19:27] owocki commented on #631
@mkosowsk there isnt a liscense file in their repo.  they should add one so we can know what the terms of forking their project is :)

id also be curious to see whether they plan to continue maintaining blockstreet in the future

[2018-03-19 19:31] owocki opened #653 "loading page is busted"
http://bits.owocki.com/0c0K0k2d110u/Screen%20Shot%202018-03-19%20at%201.31.01%20PM.png

[2018-03-19 19:38] #653 closed

[2018-03-19 19:39] owocki opened #654 "test 123"
##### Description

##### Possible Implementation

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-03-19 19:39] owocki commented on #654
@gitcoinbot sup

[2018-03-19 19:42] owocki commented on #654
@gitcoinbot sup

[2018-03-19 19:43] eswarasai commented on #631
@owocki -- Sure. I'd be interested in taking this up

[2018-03-19 19:43] owocki commented on #654
@gitcoinbot sup

[2018-03-19 19:45] owocki commented on #654
@gitcoinbot sup

[2018-03-19 19:45] owocki commented on #654
@gitcoinbot sup

[2018-03-19 19:46] owocki commented on #654
@gitcoinbot sup dawg

[2018-03-19 19:47] owocki commented on #654
@gitcoinbot help

[2018-03-19 19:47] owocki commented on #654
@gitcoinbot help

[2018-03-19 19:49] mbeacom commented on #654
![58967e8c0803320bf17c2fb7](https://user-images.githubusercontent.com/7315957/37618605-212a1b4c-2b8d-11e8-8295-63797dbfe412.png)

[2018-03-19 19:50] owocki commented on #654
@gitcoinbot hi

[2018-03-19 19:52] owocki commented on #654
@gitcoinbot hi

[2018-03-19 19:52] owocki commented on #654
@gitcoinbot help

[2018-03-19 19:53] cmac2454 commented on #565
[Skills surfaced on email](https://drive.google.com/open?id=1Cht6YyZ8iXqmsenNYnMgEszISj9jbmpg)

Working on fixing mentor page to be consistent with form-styles

[2018-03-19 19:55] owocki commented on #646
[code]

0e3dfefb49b9f11e9c6eaa6e52de6316518a45c7

[2018-03-19 19:56] owocki commented on #654
@gitcoinbot help

[2018-03-19 19:56] #654 closed

[2018-03-19 19:56] owocki commented on #654
https://github.com/gitcoinco/web/issues/646#issuecomment-374349029

[2018-03-19 20:01] #233 closed

[2018-03-19 20:04] owocki opened #655 "As a user, I want a "My Work' module so I can see what work is active / done for me on gitcoin"
As a user, I want a "My Work' module so I can see what work is active / done for me on gitcoin

Should include:

* Status
* Amount
* Next Step (if possible)
* Ability for me to set / load comments.

[2018-03-19 20:04] owocki commented on #655
cc @thelostone-mc  @eswarasai @e-n-l and @PixelantDesign  -- i believe you all were involved int his convo on slack !

[2018-03-19 20:05] owocki commented on #655
cc @thelostone-mc  @eswarasai @e-n-l and @PixelantDesign  -- i believe you all were involved int his convo on slack !

[2018-03-19 20:05] owocki commented on #655
possible dupe with https://github.com/gitcoinco/web/issues/588

[2018-03-19 20:10] owocki commented on #552
Marking this as "TODO when there is a viable mobile wallet launched and gaining traction in the space"

[2018-03-19 20:11] owocki commented on #550
@cd10012 nice!  excited to see that

[2018-03-19 20:12] owocki opened #656 "Design: Profile Refresh"
As a user I'd like my profile to be representative of my status in Gitcoin.

Profile Refresh
Current gitcoin profiles ( https://gitcoin.co/profile/owocki )

## Current Implementation
* some stats i just made up when i was coding the page
* a very rudimentary design
* some responsive design issues
* aren't as purdy as they could be
* doesnt really talk about my core skils
* is not edit-able
* what

[2018-03-19 20:12] owocki commented on #550
possibly related to https://github.com/gitcoinco/web/issues/656

[2018-03-19 20:16] owocki commented on #537
This will need to be added to the `sync_web3` management command

[2018-03-19 20:19] owocki commented on #533
@mbeacom i actually think this is one we'll want to prioritize soon bc it leads to a lot of edge cases to index bounties git hub url.  what do you think if we were to move the indexing of gitcoin bounties from

[code]
to
[code]

?

[2018-03-19 20:20] owocki commented on #529
this would be a nice improvement of https://gitcoin.co/onboard

[2018-03-19 20:20] owocki commented on #529
i'd add that maybe a short overview video (say, recorded by me) might do teh trick

[2018-03-19 20:21] owocki commented on #516
https://gitcoin.co/help/dev is a starting point here

[2018-03-19 20:21] owocki commented on #517
https://gitcoin.co/help/repo is a starting point here

[2018-03-19 20:22] owocki commented on #510
hey @vikaskyadav do you still have an issue here?  we put in a fix on friday

[2018-03-19 20:22] #504 closed

[2018-03-19 20:23] owocki commented on #501
seems much better in the new explorer https://gitcoin.co/explorer?q=bounties%20from

[2018-03-19 20:23] #501 closed

[2018-03-19 20:33] owocki commented on #495
ended up doing this

[2018-03-19 20:36] #495 closed

[2018-03-19 20:37] owocki commented on #478
should we close this down in favor of https://github.com/gitcoinco/web/issues/567 or https://github.com/gitcoinco/web/issues/463 ?

or maybe the two issues augment each other instead of replace each other.. i could see us doing both

[2018-03-19 20:38] owocki commented on #477
@g33klord are you still working on this?  im happy to throw a little more ETH in since the market has been upser bear recently

[2018-03-19 20:39] owocki commented on #445
@GrahamMcBain still interested in this?

[2018-03-19 20:40] owocki commented on #450
was telling someone about this feature over the weekend.. we are really exciited for it!

[2018-03-19 20:41] owocki commented on #432
i believe this has now been shipped, no?

[2018-03-19 20:43] owocki commented on #420
its too bad we lost steam on this one.. i know this was a high priority a few weeks ago.. but maybe we didnt align on a spec in order to actually solve it.  i'd happily fund a series of bounties associated with each of the suggestions in the google doc if someone wants to take a moment and spec those up

[2018-03-19 20:44] #336 closed

[2018-03-19 20:45] #305 closed

[2018-03-19 20:45] #297 closed

[2018-03-19 20:45] #295 closed

[2018-03-19 20:45] #294 closed

[2018-03-19 20:45] #293 closed

[2018-03-19 20:45] #292 closed

[2018-03-19 20:45] owocki commented on #268
done!

[2018-03-19 20:45] #268 closed

[2018-03-19 20:45] owocki commented on #264
done!

[2018-03-19 20:45] #264 closed

[2018-03-19 20:48] owocki commented on #259
just updated the spec here and bountying it

[2018-03-19 20:49] #262 closed

[2018-03-19 20:50] owocki commented on #262
i think this is mostly done..

[2018-03-19 20:50] #250 closed

[2018-03-19 20:50] #251 closed

[2018-03-19 20:50] #232 closed

[2018-03-19 20:50] #225 closed

[2018-03-19 20:50] owocki commented on #225
closing this as weve launched a new issue explorer that makes it clearer

[2018-03-19 20:51] owocki commented on #227
this now exists!

[2018-03-19 20:51] #227 closed

[2018-03-19 20:52] #214 closed

[2018-03-19 20:52] #201 closed

[2018-03-19 20:54] #381 closed

[2018-03-19 20:54] #360 closed

[2018-03-19 20:57] owocki commented on #343
very excited to see this done @eswarasai -- i think we resolved any technical concerns over slack, right?

[2018-03-19 20:57] #342 closed

[2018-03-19 20:58] owocki commented on #372
dupe with https://github.com/gitcoinco/web/issues/447

[2018-03-19 20:58] #372 closed

[2018-03-19 20:58] #341 closed

[2018-03-19 20:59] #393 closed

[2018-03-19 21:00] owocki commented on #275
not applicable anymore with stdbounteis

[2018-03-19 21:00] #275 closed

[2018-03-19 21:00] #286 closed

[2018-03-19 21:00] #289 closed

[2018-03-19 21:00] #290 closed

[2018-03-19 21:00] #291 closed

[2018-03-19 21:01] #179 closed

[2018-03-19 21:02] eswarasai commented on #343
@owocki -- Yep. Currently working on getting this done along with #412

[2018-03-19 21:02] KennethAshley commented on #432
@owocki this is a two parter. #553 has been merged. And i have to fix #571 and get its approval.

[2018-03-19 21:31] cmac2454 commented on #565
[New mentorship community join page](https://drive.google.com/open?id=1oZG27rmBg7ytzXhoX2MeC3KLqwNwYNXn)

[2018-03-19 21:49] msuess opened #658 "Mojibake on Bounty Details Page when submitter name includes non-Latin characters"
##### Description
On the bounty details page, under the 'submissions' section, the encoding/display of the submitter name is messed up if the name contains non-Latin characters:

<img width="630" alt="screen shot 2018-03-19 at 15 36 45" src="https://user-images.githubusercontent.com/337886/37623957-1f098ec0-2b8c-11e8-8dcd-b720fcd911dc.png">

It should look like this: Marco Süß

Output of `psql -l`

[2018-03-19 21:58] pelsasser commented on #259
hey guys - not that this isn't awesome, but I hope this isn't only on my behalf.  We just recently made the decision to switch to discord due to the ability to moderate things better after some horror stories around public facing slack teams.

[2018-03-19 22:14] owocki commented on #506
commenting on PR now

[2018-03-19 23:01] owocki opened #659 "As a new user, I want to add recently processed bounties to the landing page, so I know this thing is for real"
Inspired by https://github.com/gitcoinco/web/issues/633#issuecomment-373938494

We should have a a module that showed some recently compelted bounties on the landing page.. The module could/should also have a link to the issue explorer in it.

[2018-03-19 23:02] owocki commented on #633
one other thought: we could have a short 3 minute video that talks about how to get started ...

[2018-03-20 00:07] mkosowsk commented on #633
Might also be interesting to have the flow always up on the web app and show changes to where you are as you progress through it 🤔 could be too cluttery tho

[2018-03-20 00:10] mkosowsk commented on #659
A big 👍 to this idea... always nice to show what off what the community is accomplishing 😍

[2018-03-20 00:26] mkosowsk commented on #420
@owocki not sure if you want to keep this to Gitcoin Core, but I'd be happy to break this out in tickets per the Google Doc over the next couple days. Only issue is I need permission on the Doc to do so 👍

[2018-03-20 00:36] mkosowsk commented on #656
Some quick thoughts:

0. ETH/Fiat buttons should follow consistency from redesigned Explorer
1. Text overflow issue in details, probably shouldn't be too difficult to fix
2. Recommend following general styling from the Explorer: lead with the Logo of the project on the far left. Font also might be slightly different?
3. Might be interesting to include dates for various actions
4. Could be interest

[2018-03-20 00:38] mkosowsk commented on #654
@mbeacom wow, Gitcoinbot looking pretty desperate here... think we should stage an intervention? 😂

[2018-03-20 00:42] mkosowsk commented on #636
Hat tip to @e-n-l for taking Gitcoin through its paces!!! 👍

[2018-03-20 00:45] #518 closed

[2018-03-20 01:01] PixelantDesign commented on #403
@owocki
Not sure if you've seen this problem come up again with other funders and I know my response is way late here but...I think it would be unfair to ask a developer to start work and then see if a better developer comes along to lock in the best one.

I think what could help here are:
- a well defined task from a funder perspective
- more accurate measure of developer levels (beginner, interm

[2018-03-20 01:02] PixelantDesign opened #660 "Feedback mechanism funder + contributor for each project"
Feedback mechanism so that funders and contributors can comment on the experience they've had working together.

[2018-03-20 01:03] #414 closed

[2018-03-20 01:04] mkosowsk commented on #643
🇰🇷 🙏🏻  🇰🇷

[2018-03-20 01:11] #416 closed

[2018-03-20 01:14] PixelantDesign commented on #611
great idea!

[2018-03-20 01:32] PixelantDesign commented on #565
Looking good @cmac2454!

Have you considered using a drop down for years of experience and hours a week to commit to mentoring? That way user have a number or ranges to work with, it'll be easier to complete and we won't  get wildly different answers for the numbers.

I might move the last question to it's own line "Are you available to mentor now?"

My only other comment would be to double check

[2018-03-20 01:53] mkosowsk commented on #403
I agree with @PixelantDesign's points and think Gitcoin should tread relatively lightly here... don't think the community wants to go down the Spec work path that plagues so many other platforms.

An additional idea could be to have an optional step in the flow after "Open" but before "Work Started" with something like "Interest Expressed". When the first dev expresses interest in a given issue, i

[2018-03-20 02:19] vs77bb commented on #540
Not that this isn't a good idea to have locally... but resources do exist elsewhere.

- https://angel.co/talent-hacks/how-to-get-a-job-at-a-crypto-startup
- Cryptocurrency Startup Jobs - AngelList
- https://crypto.jobs/
- http://www.workincrypto.com/

[2018-03-20 02:53] vs77bb commented on #421
Hi @thelostone-mc would you be interested in tackling this, given you have coded up the relevant CSS? If not - no worries 🙂

[2018-03-20 02:55] vs77bb commented on #408
Bump @owocki think this one needs to be killed

[2018-03-20 02:58] vs77bb commented on #197
Hi @leonj3813 are you working this one right now? I think this is a great task that can help us improve the product experience a ton 🙂

[2018-03-20 03:05] vs77bb commented on #410
Here are some initial tooltip descriptions...

- **Open**: Bounty is funded and available for a new developer to come tackle
- **Work Started**: At least one developer is working on this bounty, right now
- **Work Submitted**: Code has been submitted for this bounty. Pending acceptance from the repo-maintainer
- **Work Done**: The funder has accepted the bounty submission. The staked funds have be

[2018-03-20 03:07] vs77bb commented on #410
Related... by calling it 'Cancelled' instead of 'Killed' we risk some potential confusion with Standard Bounties (where it is referenced as 'Killed')... but 'Cancelled' is clearly better from a UX persepctive

[2018-03-20 03:11] vs77bb commented on #410
@PixelantDesign Can you define the five 'button scenarios' here and what tooltip copy you're expecting? I understand directionally where you're headed but want to be sure I understand!

[2018-03-20 03:18] vs77bb commented on #607
@niallgcm Bump!

[2018-03-20 03:23] leonj3813 commented on #197
Hey @vs77bb I'm working on adding this. I'm setting up my local environment and then I'll add to the refreshBounties uri to get the new information from the HTTPS API.

[2018-03-20 04:09] mbeacom commented on #410
@vs77bb Here's a copy of the latest tooltip merged in #585

<img width="409" alt="screenshot 2018-03-20 00 06 56" src="https://user-images.githubusercontent.com/7315957/37635600-e67de0b4-2bd2-11e8-9e50-cfc486250db2.png">

I think we might be able to close this.  @PixelantDesign ?

[2018-03-20 04:12] mbeacom commented on #533
I'm good with this!

[2018-03-20 04:15] mbeacom commented on #478
I think it might be best to move forward on all three.
As for this issue, limiting a user to three active "started" bounties should be a fairly simple addition.

[2018-03-20 04:19] mbeacom commented on #477
@g33klord If not, no sweat!

If it's simpler, maybe we could implement Celery first on our end first. Feel free to let us know what works best for you!

[2018-03-20 05:12] owocki commented on #463
started a WIP PR over at https://github.com/gitcoinco/web/pull/665

[2018-03-20 05:14] owocki opened #666 "issue funder should be able to stop work"
# what

an issue funder should be able to stop work for any of the parties who've started work on their bounty

i've started a WIP PR at https://github.com/gitcoinco/web/pull/665 to handle this. but have not finished it yet.

this is a bounty to finish up that PR.

## todos

* [x] data layer / logic for adding buttons to frontend
* [ ] style frontend buttons
* [ ] connect frontend buttons to backe

[2018-03-20 05:15] owocki commented on #463
closing this issue in favor of the WIP PR

[2018-03-20 05:15] #463 closed

[2018-03-20 05:48] PixelantDesign commented on #410
@vs77bb

<img width="535" alt="screen shot 2018-03-20 at 1 44 41 am" src="https://user-images.githubusercontent.com/238235/37637921-b4da4dd2-2be0-11e8-9ccc-d4dd8d5923aa.png">

<img width="671" alt="screen shot 2018-03-20 at 1 45 08 am" src="https://user-images.githubusercontent.com/238235/37637927-be87260c-2be0-11e8-8310-f8e92d93824b.png">

<img width="640" alt="screen shot 2018-03-20 at 1 45 16 a

[2018-03-20 05:50] PixelantDesign commented on #410
@mbeacom @vs77bb I've already scrubbed the flyout descriptions.

[2018-03-20 12:39] cmac2454 commented on #565
@PixelantDesign

I did! I wasn't sure how granular or general we wanted to be, so I'll spin up a version with drop downs.

Will do and will do.

[2018-03-20 13:03] cmac2454 commented on #565
[Updated designs](https://drive.google.com/open?id=1h6zRH5hQyY48eeOn9zGhY02T45Frx28-)

[Dropdown example](https://drive.google.com/open?id=1AvwhF7fWpnj3wnAHHu_GVmcWEGInRpsK)

[2018-03-20 14:12] owocki commented on #540
endgame: one day gitcoin will be a one stop shop for anyone looking to BUIDL a career in blockchain software.  that means core things we do well (community, bounties, tips, grants, and more) but also commodified services (like job boards, references to bounties in other bounty projects)

[2018-03-20 14:14] PixelantDesign commented on #478
Agree let move forward on all 3. We will need messaging on why a user is limited to 3 and what they can do if they want to work on something else.

[2018-03-20 14:21] owocki commented on #478
I started a PR for 2 of the 3 last night ( https://github.com/gitcoinco/web/pull/663 and https://github.com/gitcoinco/web/issues/463 ).. I will throw a bounty on the third.  @PixelantDesign ill leave it to you to bring the copy for messaging, that work?

[2018-03-20 14:22] owocki commented on #567
@vs77bb what should gitcoinbot say?

[2018-03-20 14:44] owocki commented on #660
this is a good idea

[2018-03-20 14:47] michelgotta commented on #594
@PixelantDesign I just have seen that Muli is the new CI font, is that correct?. I'll provide an update for this widget with the new font.

[2018-03-20 16:10] owocki opened #669 "As a user, I want to tweet about the faucet, so I can tell others about it."
# What

On the faucet page, do not allow the user to submit the faucet form until they have tweeted about the faucet.

Similar UX to https://faucet.rinkeby.io

[2018-03-20 16:18] vikaskyadav commented on #510
I can't see it. Where does that popover comes?

[2018-03-20 16:41] mbeacom commented on #510
@vikaskyadav Go to:  https://gitcoin.co/explorer and scroll down towards the bottom of the page.
<img width="1084" alt="screenshot 2018-03-20 12 40 28" src="https://user-images.githubusercontent.com/7315957/37668888-e3836e2e-2c3b-11e8-8e4a-bf84e723527d.png">

[2018-03-20 16:49] vikaskyadav commented on #510
@mbeacom I can't see anything bro. I checked while logged in and also without being loggedin.

[2018-03-20 16:50] niallgcm commented on #607
@vs77bb I'll be looking into this issue tonight after I get off of work. Thanks for the welcoming, and sorry for the late reply!

[2018-03-20 16:59] mbeacom commented on #510
@vikaskyadav Interesting... 😅 I checked on Firefox Developer Edition `60.0b5 (64-bit)` and Firefox Quantum `59.0.1 (64-bit)` - Both are rendering...  This was testing on macos high sierra `10.13.3` though.  I'll load up an ubuntu instance with a wm and see if it occurs.

[2018-03-20 18:27] GaretWebster opened #670 "Scope of task"
1) How do I identify if someone is a python user or not? While I realize this is probably out of the scope of this task, if we will never have the ability to tell if someone is a python user then this task will provide no benefit.
2) This seems to me like it should be more of a general improvement to the current landing page than a completely different landing page that has to do with a specific t

[2018-03-20 18:43] owocki commented on #670
is this related to https://github.com/gitcoinco/web/issues/620 ?

[2018-03-20 18:44] GaretWebster commented on #670
Yes, sorry ill move it there.

[2018-03-20 18:45] GaretWebster commented on #620
I was interested in this bounty but I had some questions first.

1) How do I identify if someone is a python user or not? While I realize this is probably out of the scope of this task, if we will never have the ability to tell if someone is a python user then this task will provide no benefit.
2) This seems to me like it should be more of a general improvement to the current landing page than a c

[2018-03-20 19:29] #670 closed

[2018-03-20 19:32] owocki commented on #620
You can assume that'll be handled upstream, as in, the user will be sent to a custom landing page a la `https://gitcoin.co/landing/<keyword>` where `keyword == python`

agree, thats why the issue desc says "you may work off of the current landing page at https://gitcoin.co/"

agree

my personal perspective is that the mission is meant to be broad, wheras the specific use case "Solve this open sour

[2018-03-20 20:08] owocki commented on #380
feel free to open a WIP PR for the grants page.. we love to be able to comment early on!

[2018-03-20 20:21] owocki commented on #408
i could kill this but id really much prefer to pay it out to @leonprou

[2018-03-20 20:30] owocki commented on #420
from looking at the doc, i think one would need the context of some of our internal conversations to correctly bounty it.  thanks for the offer tho

[2018-03-20 20:37] owocki commented on #403
i agree.

[2018-03-20 22:01] vs77bb opened #671 "[DESIGN] Gitcoin Requests"
# What
As a developer, I want the best the open source work in web3 on Gitcoin so that I can contribute to great projects.

## Gitcoin Requests Page
- Incentivize Gitcoin developers to look around open source repo's themselves for potential Gitcoin issues and report these back to Gitcoin (by either dropping the link at gitcoin.co/requests or tagging @gitcoinbot on the issue directly along with how