[2019-02-05 18:42] frankchen07 opened #3685 "As an internal Gitcoin team member, what are the highest impact front-end fixes we can implement to increase page speed load times and reduce Search Console Errors?"
### User Story

As an internal Gitcoin team member, what are the highest impact front-end fixes we can implement to increase page speed load times and reduce Search Console Errors?

### Why Is this Needed

1. Decreasing page loading times results in a better experience.
2. Having less errors results in a better experience, and better SEO.

### Description

This ticket, as of 2019-02-12, is geared

[2019-02-05 19:45] PixelantDesign opened #3686 "Review Wagtail Blog Template"
We have started migrating medium content on to the Gitcoin.co site but the current design was not created to support an actual blog.

### Find Wagtail Blog Template & Install

- [ ] Work with Ryan Shea to implement a wagtail template that we can pay for and customize to fit our needs
- [ ] Get it installed on Gitcoin.co/Blog
- [ ] Review with core team and Dean

[2019-02-05 19:59] ceresstation commented on #680
Hey @octavioamu we don't have to prioritize this ticket for the coming sprint as we won't be able to announce the integration at Aracon, we should aim to do this by end of March though but if you have other items you think are more important I think we can put them ahead.

[2019-02-05 21:47] octavioamu commented on #680
@ceresstation Just to know, why won't be able to announce the integration at Aracon?
Anyway I believe as you is very important to handle All wallets or as many as we can. Not sure if you was able to check in the channel but this is the current progress so far
https://share.vidyard.com/watch/PjEbzuatUY7R941EpCULq8

[2019-02-05 22:18] octavioamu opened #3688 "Guide into web3"
Design a page to explain in a beauty and easy way to users how to get started with web3 in gitcoin.
Use this issue as guide of contents https://github.com/gitcoinco/gitcoinco/issues/4 in a simple way for users experiencing their first time in a Dapp.

Focus in primary informations (start fast)  but also give the user the option of obtain more informations about web3 world (etherscan, why blockchai

[2019-02-06 03:39] abitrolly opened #3691 "Optimize dynamic avatar service"
### Who

Dynamic avatar service.

Is unreliable.

1. gives 503 errors
2. returns full size images instead of downscaled icons
3. not monitored

Error rate would look unixporn on gitcoin.co pages. Service could be a fork of shields.io backend.

### What

https://gitcoin.co/profile/gitcoinco

![image](https://user-images.githubusercontent.com/8781107/52319109-003ab400-29d9-11e9-885f-c35359e25a53.png

[2019-02-06 12:37] danlipert opened #3693 "Moai 🗿 Avatar Item doesn't render correctly"
**Describe the bug**
The new Moai avatar item doesn't render correctly when saved, although it displays correctly in the avatar builder

**To Reproduce**
Add the Moai item and save your avatar

**Expected behavior**
The saved avatar should match the preview in the avatar builder

**Screenshots**
![screen shot 2019-02-06 at 9 33 25 pm](https://user-images.githubusercontent.com/869266/52341890-361e7

[2019-02-06 12:49] danlipert opened #3694 "As a bounty hunter, I want cooperative bounties to show in my completed bounties history, so that I can be more attractive to funders"
### User Story

As a bounty hunter, I want cooperative bounties to show in my completed bounties history, so that I can be more attractive to funders

### Why Is this Needed

Currently, cooperative bounties are paid out such that one of the bounty hunters gets the "official" completion registered in their completed bounties, and the other bounty hunters receive payment in the form of a tip. While

[2019-02-06 13:53] owocki opened #3695 "(test issue) as a user, i want to foo the bar, so i can have success in business and in life."
THIS IS A TEST ISSUE! You may start work on it, just for fun, but don't expect to actually work on it!

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to foo the bar, so i can have success in business and in life.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, wh

[2019-02-06 14:09] PixelantDesign opened #3696 "SUBTASK #3449 Design What to Do Next - Private Repo"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started with D

[2019-02-06 14:12] PixelantDesign opened #3697 "Subtask #3449 - Set Up Interviews - Private Repo"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started with D

[2019-02-06 15:16] owocki commented on #3663
@ceresstation we need a product specification, not just a paste of something Vitalik said.   things like: where does it live on the site, what does it look like, how is it calculated mathematically etc cc @PixelantDesign

This already exists at https://gitcoin.co/grants/profile

[2019-02-06 19:28] kuhnchris commented on #3693
*sigh* yes that avatar builder is... a pain in the butt. I am currently overloaded with work so I cannot work on avatar revision. Basically there is a new endpoint already (/avatar/view) that can be colored via HEX (not predeteremined) and uses the same system as the "final avatar", instead of having 2 versions, one for the avatar and one for the builder.

Assign this to me please via github, I'll

[2019-02-06 19:40] kuhnchris commented on #3694
actually I think we need to revise this in concept. Currently this system is based on trust. The user "gets the bounty refunded" and has to pay "the other transfers". That works while people are trustworthy, but a malicious user can abuse this system by simply paying one but not the other ones. that sucks. your problem is basically a side-effect of the 2nd part of the transfer that's based on trus

[2019-02-06 19:44] kuhnchris commented on #3695
any particular reason why you not create a separate repository for that?

[2019-02-06 19:48] kuhnchris commented on #3691
well, that comes from the fact that we actually have a @ratelimit in place for avatars, d'oh.
actually-actually those avatars should be generated once and then be served from S3, but I suppose something is fucked once again. @danlipert can we create a tech-debt ticket to check all the S3 assets that are currently in use by gitcoin and/or take a look at it?
I think @owocki had a ticket open that th

[2019-02-06 19:51] kuhnchris commented on #3688
So... maybe a video? or a gif? or a webm animation?
That may also tie in to the ShapeShift/FIAT integration, as this would make the flow easier for new-comers.
Basically something like this? http://ethdocs.org/en/latest/introduction/web3.html

[2019-02-06 20:02] PixelantDesign commented on #3289
yes! it was a screenshot @danlipert

[2019-02-06 20:15] PixelantDesign commented on #3660
Very cool! Like it @uivlis! You may need to run the graphic through the checker link I provided.

[2019-02-06 20:21] uivlis commented on #3660
@PixelantDesign I did it.

[2019-02-06 20:52] PixelantDesign opened #3699 "As a funder of a bounty, I'd love to see an at a glance view of contributor stats so I can quickly decide who to approve for my bounty."
### BUILD FRONT END

### As a funder of a bounty, I'd love to see an at a glance view of contributor stats so I can quickly decide who to approve for my bounty.

### Why is this needed?
There isn't a quick way to see this information right now. As a funder, I have to click on each individual contributor to go review their profile pages.

### Definition of Done

- [ ] Use Muli font
- [ ] Use the co

[2019-02-06 21:01] octavioamu commented on #3699
An idea to don't overload the page loading with that data would be fetch the user data from server on mouse over

[2019-02-06 21:02] kuhnchris commented on #3699
yeah, pop-over, make it reusable, nice idea, I like it. Do we not have something similar already for bounties in the issue explorer itself?

[2019-02-06 21:11] octavioamu commented on #3699
@kuhnchris we just have a popover and currently in tech debt work to change and use bootstrap instead of jquery-ui.

[2019-02-06 21:12] kuhnchris commented on #3699
Those? https://getbootstrap.com/docs/4.2/components/popovers/
They are very easily implementable ;-)

Also, if we'd switch to bootstrap components, should we also include the "Toasts" Components for the new Notifications?

https://getbootstrap.com/docs/4.2/components/popovers/
https://getbootstrap.com/docs/4.2/components/toasts/

[2019-02-06 21:19] octavioamu commented on #3699
@kuhnchris Yes but for the toast we need to update our bootstrap version to the newest release and don't really have a lot of value, maybe for others features we create.
But what is really interesting in that last release is the use of shadow dom for tooltips and negative margins.
Anyway we are going to update bootstrap soon for sure.

[2019-02-06 21:21] octavioamu commented on #3699
@kuhnchris are you interested in this one?

[2019-02-06 21:21] kuhnchris commented on #3699
👍
Anyways, this needs to be split into two parts:
```A frontend part for the design / implementation of the HTML snippet and popover```
and
```A backend endpoint that provides the data for the snippet. Cleanest would be JSON and use Javascript + DOM to insert the values```

[2019-02-06 21:22] kuhnchris commented on #3699
I would have interest but I'm far too cramped with stuff right now, so if someone got resources or wants to bounty it go ahead. (wouldn't be fair to keep blocking all this stuff)

[2019-02-06 21:23] octavioamu commented on #3699
Got it! Thanks for the sincerity

[2019-02-06 21:39] abitrolly commented on #3691
Gitcoin should have a doc like this - https://github.com/badges/shields/blob/master/doc/production-hosting.md - explaining how various parts are connected and how to deploy them.

[2019-02-06 21:58] oogetyboogety commented on #3685
Probably using prefetched queries like the api update

#3662
prefetch related non-pending interests, activites, and their related active profile avatar urls for api speedup
Opened by oogetyboogety 5 days ago

[2019-02-06 23:06] oogetyboogety commented on #2204
@PixelantDesign Good point, fixed this now. Somehow this wasn't in my notifications. Sorry about that.
![screenshot from 2019-02-06 18-05-26](https://user-images.githubusercontent.com/3319254/52379898-d36ab900-2a39-11e9-9f72-0adc53314ee7.png)

[2019-02-07 11:13] thelostone-mc commented on #3073
@frankchen07 should we bump this up ?

[2019-02-07 11:58] writeprovidence commented on #3619
still working on this, will soon be done for review.

[2019-02-07 13:20] Trututu commented on #3685
**Ideally**

We can have almost ideal performance and cleaner architecture by using JAM stack instead of server side page generation. I like to use Gatsby.js as role model when it comes to speed, [Gatsby.js](http://gatsbyjs.org/) DOMContentLoading time can be as low as 30ms, [gitcoin.co](https://gitcoin.co/) DOMContentLoading time is more than 1.5, [djangoproject.com](https://www.djangoproject.com

[2019-02-07 13:51] #3581 closed

[2019-02-07 17:05] captnseagraves commented on #3073
@frankchen07 @thelostone-mc Agreed to bump this

[2019-02-07 17:07] captnseagraves commented on #3073
Happy to take it on

[2019-02-07 22:01] bmann commented on #3530
Yes, +1 to this. I would write it another way -- how can I, as a grant owner, give contributors an address where one time grants or direct grants that don't go through the Gitcoin front end appear?

Right now -- I can give people the multisig wallet address where the funds are flowing to, but then it doesn't show on the front end.

I want to use Gitcoin Grants as my turnkey "fund this project" fro

[2019-02-07 22:17] bmann opened #3702 "As a Grant Creator, I want to see additional info around Recipient Wallet Address in Gitcoin grants"
### User Story

As a Grant Creator, I want to see additional info around Recipient Wallet Address in Gitcoin grants

### Why Is this Needed

In creating Gitcoin Grants, the connected MetaMask address gets auto-filled into Recipient Wallet Address.

As a Gitcoin Grant creator, but representative of a larger team collecting larger amounts of funds, I want to direct funds to a multisig wallet.

### D

[2019-02-08 00:01] frankchen07 commented on #3073
@captnseagraves - I'll move it to the blue board sprint backlog, but I'm trying to not overtask us. If you can, estimate the task, and we can appropriately move it into the sprint if you start finishing up alot of your current stuff.

[2019-02-08 00:23] frankchen07 commented on #3610
@owocki did you get around to bounty-ing this? if not, I can help do it for you, just wanted to make sure there's enough to go off of on the ticket

[2019-02-08 00:26] owocki commented on #3610
i actually coded it last deep work day :) https://github.com/gitcoinco/web/pull/3640

[2019-02-08 03:09] owocki commented on #3691
try now https://gitcoin.co/profile/gitcoinco -- i just tweaked the rate limit

i agree we should explain the production host better.  both to the community and to the rest of the team :)

[2019-02-08 03:32] owocki commented on #3665
this happened to  https://gitcoin.co/_administrationgrants/grant/47/change/ also

inspect the payload back from web3 when checking for the tx result.  if there is a replacement tx, then recursively inspect that payload for that tx result

[2019-02-08 03:34] owocki commented on #3665
for my future self: here is how to query for these grants

[code]

[2019-02-08 04:51] Nnooo commented on #3493
Hey @owocki and @pixelantdesign do you have anymore feedback for me?

[2019-02-08 10:09] uivlis commented on #3660
@PixelantDesign I made the designs in Figma. Is it ok to submit as .fig? Or, maybe, SVG? It seems I can't successfully convert the figma file into AI.

[2019-02-08 14:18] abitrolly commented on #3691
`shields.io` is in public domain and can be copied as a template.

https://gitcoin.co/profile/gitcoinco loads slow - it needs caching or offload to CDN.

[2019-02-08 14:19] michalmikolajczyk opened #3704 "Stop Work not showing after work submitted"
**Describe the bug**
It was not possible to "Stop Work" on a worker, who submitted work in the form of a PR, but later stopped responding.

I did not see the "Stop Work" button anywhere, after the PR was submitted. Neither on the bounty page nor in Github Issue comment. It did not show up, when PR was closed without merging.

The Worker could "Stop Work" on his side though.

The bug can cause a bo

[2019-02-08 16:57] #3427 closed

[2019-02-08 17:28] willsputra commented on #3696
(draft! still brainstorming)

What to do next:
1. You'll receive an email every time a contributor applies to your bounty. Each application should come with the contributor's details and signed NDA. You can also view the applications on the Issue Details page.
(Note: contributors will not have access to your repo unless you approve them)
2. Approve Worker to assign them to your bounty and automati

[2019-02-08 20:52] owocki commented on #3342
interesting thread on how to save $$$ on your AWS bill => https://threadreaderapp.com/thread/1091041507342086144.html

[2019-02-08 20:57] owocki opened #3711 "as an engineer, i'd like to move our infrastructure off kubernetes, because there's no one internally who has the desire/skills to manage it, and there is risk to that part of our infrastructre being unmanaged"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as an engineer, i'd like to move our infrastructure off kubernetes, because there's no one internally who has the desire/skills to manage it, and there is risk to that part of our infrastructre being unmanaged

### Why Is this Needed

IPFS.gitcoin.co went down yesterday, and since there hadn't been a knoweldge transf

[2019-02-08 21:18] owocki commented on #3695
good call next time i will

[2019-02-08 21:18] #3695 closed

[2019-02-09 11:13] kuhnchris commented on #3665
As a quick workaround: create a mail template that checks for that daily/hourly and send you a mail if a contract_address=0x0 grant is created?

[2019-02-09 11:29] kuhnchris commented on #3711
Well, it depends on what you guys use the kubenets for.
You could use a docker swarm, especially if you have multiple server.
It's kind of a religion question, I guess. Mark really loved helm-charts and kubernetes, but I think noone in the team currently has the knowledge using that, correct?

It also depends on what 'servers' you use, are those full boxes or just k8-nodes, etc.
if they are normal

[2019-02-09 23:27] owocki commented on #3711
right

[2019-02-09 23:29] kuhnchris commented on #3711
Well, as I said, we CAN rewrite it to docker swarm, but it would also need to change the productive servers.
Currently I have *no* clue how the current prod environment is setup. As far as I know, at least k8, correct?

[2019-02-09 23:35] owocki commented on #3487
@writeprovidence i like it, esp the flowers.  the butterflys wings could maybe use a little more color tho :)

i'm going to close this bounty out!  if i owe you any DAI anyone, please @ me or DM me and ill get you paid out.

[2019-02-09 23:36] owocki commented on #3487
also, please make sure all creatives are PRed to https://github.com/gitcoinco/creative/ when asking for payout!

[2019-02-09 23:41] owocki commented on #3222
closing this out on gitcoin.  its been really successful :)

if i still owe anyone some coins please @ me and let me know.  (sorry, been disorgnaized while fundraising this month)

[2019-02-09 23:42] owocki opened #3712 "DESIGN - gitcoin bot creatives -- February / March 2019 Edition"
<img width="543" alt="screen shot 2018-12-14 at 10 19 39 pm" src="https://user-images.githubusercontent.com/513929/50039348-5fd69d80-ffee-11e8-97c0-e97d55f182ec.png">

:obiwan: and :heart_gitcoin: are two of our most popular artworks.  itd be cool to create other thematic stuff, which like these two are inspired by geek culture, to use throughout our messaging.

- darth vader
-storm trooper
- supe

[2019-02-09 23:42] #3222 closed

[2019-02-09 23:43] owocki commented on #3712
continuation of https://github.com/gitcoinco/web/issues/3222

[2019-02-09 23:45] #3487 closed

[2019-02-09 23:46] owocki commented on #3619
@writeprovidence let us know!  looking forward to this

[2019-02-09 23:50] owocki commented on #3195
@emiwatanabe422 how much do i owe ya?

everyone else, i am closing this out! will re-open a new one for spring soon

[2019-02-09 23:50] owocki commented on #3195
anyone else if i owe you, let me know

[2019-02-09 23:51] #3195 closed

[2019-02-09 23:51] owocki opened #3713 "New Avatar Assets -- Spring 2019"
### User Story

As a user, I want to new avatar assets to show off and express myself digitally.

### Description

*Type*:  New implementation

### Definition of Done

- [ ] Create an .svg asset and place it in `app/assets/v2/images/avatar/<category>`
- [ ] Add the SVG asset as a `.txt` Django template in `app/avatar/templates/<category>/<item|index>.txt` with variable fill.
- [ ] Add your asset t

[2019-02-09 23:54] owocki opened #3714 "Gitcoin avatar contest -- February 2019"
Gitcoin avatar contest -- February 2019

This is just a fun contest to see what people can do with the [Gitcoin avatar builder](https://gitcoin.co/onboard/profile/?steps=avatar).

Here are some of the avatars I built with the avatar builder !

<img width="498" alt="screen shot 2019-02-09 at 4 53 19 pm" src="https://user-images.githubusercontent.com/513929/52527767-399a4a80-2c8b-11e9-82ec-3862bd18e

[2019-02-10 07:07] deeayeen commented on #3714
![avatar](https://user-images.githubusercontent.com/35680780/52530787-30ed5700-2d13-11e9-9ddf-0d080ea65a94.png)

Awesome contest idea! Here's my avatar

[2019-02-10 15:02] danlipert opened #3715 "Clicking "Submit" multiple times quickly while applying for a bounty will make multiple entries appear in the activity list"
**Describe the bug**
Clicking the Submit button quickly when submitting an action plan for a bounty results in multiple entries in the activity list.

**To Reproduce**
Quickly click submit when applying for a bounty

**Expected behavior**
It shouldn't be possible to apply for the same bounty multiple times.

**Screenshots**
![screen shot 2019-02-10 at 11 58 09 pm](https://user-images.githubusercon

[2019-02-10 20:14] Nnooo commented on #3493
Still waiting for feedback

[2019-02-11 00:01] writeprovidence commented on #3487
@owocki will add more colors to the wing as requested before i send a PR

[2019-02-11 00:54] xiaods commented on #1461
hi team, it seems resolved. please close it asap.

[2019-02-11 02:59] emiwatanabe422 commented on #3195
@owocki
How about 70 DAI?

[2019-02-11 03:03] emiwatanabe422 commented on #3487
Hey @owocki. Let me know if I need to do anything else. Here is the PR for my images. https://github.com/gitcoinco/creative/pull/35
I wasn't able to add the PR to my submit work since I already did submit work before creating the PR.

I think it probably comes out to about 255 DAI? Thanks!

[2019-02-11 03:10] owocki commented on #3714
@deeayeen nice indoor sunglasses :)

[2019-02-11 03:18] owocki commented on #3493
Sorry!  Been underwater with traveling.

The landing page LGTM.  My only two pieces of feedback.
1. Line width on this area ( http://bits.owocki.com/21ec208dff9a/Screen%20Shot%202019-02-10%20at%208.16.56%20PM.png ) seems inconsistent with the rest of the page.
2. There's no design for the Conversion Module Modal.  Given that this is what the user sees when the lead is captured, it might be worth p

[2019-02-11 03:23] owocki commented on #3712
@virtual-face hi do you have aaportfolio i can checkout?

[2019-02-11 03:36] fcrooks commented on #3714
![screen shot 2019-02-10 at 7 30 21 pm](https://user-images.githubusercontent.com/37456380/52545241-c7009c00-2d6a-11e9-9a5a-3f165dffd52d.png)

Couldn't find a pair of glasses like mine so my avatar is wearing contacts...

[2019-02-11 03:53] owocki commented on #3712
@nive18 there are reference images in the OP.  do you have a portfolio i can check out?

[2019-02-11 03:55] nive18 commented on #3712
Yes I will send my portfolio on wednesday

On Mon, 11 Feb 2019, 09:23 Kevin Owocki <notifications@github.com wrote:

[2019-02-11 05:59] #1461 closed

[2019-02-11 10:43] ChiralCarbon commented on #3714
![chiralcarbon](https://user-images.githubusercontent.com/22919581/52558275-e43f7400-2e17-11e9-93fc-1df3554090cb.png)
I found myself

[2019-02-11 11:38] emiwatanabe422 commented on #3660
@PixelantDesign Okay, here's a first run thru. Let me know what you think.

![image](https://user-images.githubusercontent.com/46271233/52560814-e0721880-2e3c-11e9-8638-75e528e8b5b1.png)

![image](https://user-images.githubusercontent.com/46271233/52560837-ec5dda80-2e3c-11e9-9e2c-5364b9fb4a61.png)

![image](https://user-images.githubusercontent.com/46271233/52560860-fb448d00-2e3c-11e9-8f63-377f59b

[2019-02-11 14:12] thelostone-mc commented on #3593
Closing this out as the PR has been merged in for the frontend for the page 🙌

[2019-02-11 14:16] j0ker1234 commented on #3713
@owocki is this a traditional issue or cooperative?

[2019-02-11 14:17] #3593 closed

[2019-02-11 15:26] thelostone-mc commented on #3544
@usmanmuhd could we have the PR up for this / need help from my side ?

[2019-02-11 15:28] #3614 closed

[2019-02-11 15:29] #1179 closed

[2019-02-11 15:41] octavioamu opened #3716 "Performance improvements"
Our site need some improvements in loading time, I will start in the home page,  creating footer scripts for the marketing pages to load only what is used there and splitting js files as needed

[2019-02-11 15:42] #3668 closed

[2019-02-11 15:42] #3580 closed

[2019-02-11 15:50] writeprovidence commented on #3487
Hello @owocki I just sent a PR to https://github.com/gitcoinco/creative/  waiting for payout

[2019-02-11 16:03] writeprovidence commented on #3487
@owocki Thanks for the Tip

[2019-02-11 16:10] owocki commented on #3716
My 002 wei is that we should profile the pages to see whats actually causing the slowness.. (i.e. how much time is spent waiting for the HTML to be served?  how much is images being downloaded, css/scripts, etc?)

@frankchen07 @octavioamu checkout [this chart from GA](http://bits.owocki.com/92edac4b59c5/Screen%20Shot%202019-02-11%20at%209.09.26%20AM.png) of page load times.. it seems the page load

[2019-02-11 16:11] owocki commented on #3512
x -post with https://github.com/gitcoinco/web/issues/3716#issuecomment-462386196

My 002 wei is that we should profile the pages to see whats actually causing the slowness.. (i.e. how much time is spent waiting for the HTML to be served?  how much is images being downloaded, css/scripts, etc?)

@frankchen07 @octavioamu checkout [this chart from GA](http://bits.owocki.com/92edac4b59c5/Screen%20Shot

[2019-02-11 16:11] octavioamu commented on #3716
I had generated some reports here https://googlechrome.github.io/lighthouse/viewer/?gist=8b87924ca329da493f3404c55c71f04f

[2019-02-11 16:56] owocki commented on #3713
@j0ker1234 i will accept as many submissions as are worthy enough of being on the site.

[2019-02-11 18:34] frankchen07 commented on #3716
Awesome. There's a quick sync tomorrow with the engineers to see what else we can bounty out to the public / prioritized items we can bring into the Gitcoin team.

[2019-02-11 19:05] #3285 closed

[2019-02-11 19:48] mehul0698 commented on #3713
@owocki I have added a hairstyle. #3719

[2019-02-11 20:19] krisc commented on #3714
![gitcoin_avatar](https://user-images.githubusercontent.com/1495483/52590843-3b811c80-2df7-11e9-9de5-2623a0da97cd.png)
hi, it's me :)

[2019-02-11 20:29] mehul0698 commented on #3713
@owocki I have added gas mask. #3722

[2019-02-11 21:03] PixelantDesign commented on #3660
Cool @emiwatanabe422 !
We've never had a robot snake before but it's super cool!
Could we put JS in the Robot Cup?
These look good to me, have you run the graphics through the filter link?

[2019-02-11 21:04] PixelantDesign commented on #3660
@uivlis SVG should be fine.
Could you run the images through the filter link I included above?

Thanks!

[2019-02-11 22:21] mehul0698 commented on #3713
@owocki I have added a surgical mask. #3723

[2019-02-12 00:06] octavioamu commented on #3014
@PierrickGT how is going? Do you still interested in this one?

[2019-02-12 00:52] owocki commented on #2754
@rtken still wanna work on this?

[2019-02-12 01:09] willsputra commented on #3696
@PixelantDesign maybe we could explain this in the bounty funded email? I wonder if we need a separate page...

![private bounty success](https://user-images.githubusercontent.com/19514207/52604422-c0c30a80-2ea5-11e9-98ca-574e7d6df6cf.png)

[2019-02-12 06:13] Jofen commented on #3714
![jofen](https://user-images.githubusercontent.com/6431119/52615481-41541d80-2e4a-11e9-8001-c2140036fb2a.png)

[2019-02-12 07:52] emiwatanabe422 commented on #3660
@PixelantDesign thanks for the feedback! I also fixed the font so that it's in Futura.
The images pass the facebook text rule from your link.

Should I put the Ai file in a specific place in the repo?

[2019-02-12 15:32] nanspro commented on #3195
@owocki how about 0.7ETH for 4 girly hairstyles :smile:
My PR got merged earlier but had some bugs so i created another PR which fixes it.

[2019-02-12 16:40] owocki commented on #3195
@nanspro sup ! i like the new github avatar :) sure, will do

[2019-02-12 17:04] willsputra opened #3729 "As a contributor, I don't want 'applying for work' to be counted towards my Issue Limit"
### User Story

As a contributor, I don't want 'applying for work' to be counted towards my Issue Limit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently, applying for work (or expressing interest) on a Permissioned ('Approval Required') bou

[2019-02-12 18:26] kuhnchris commented on #1855
@vs77bb @frankchen07 @owocki I think we should take over this PR, merge master in and then review it. Any objections?

[2019-02-12 18:42] owocki commented on #3712
@anaev looking forward to working with you!

[2019-02-12 18:54] owocki commented on #1855
the question to me is who has thte bandwidth to carry it over the finish line.

[2019-02-12 19:05] kuhnchris commented on #1855
Want me to finish this? Since I handed off feedback...

[2019-02-12 19:09] FirefighterBlu3 commented on #3628
I would still like to get a copy of the python function call profiling results. Would @oogetyboogety or @kuhnchris please share them with me?

[2019-02-12 19:09] j0ker1234 commented on #3713
@owocki I have added a mask.

[2019-02-12 19:10] kuhnchris commented on #3628
sure, depend on from what, the API call? hit me up on Slack (@kuhnchris) and I'll give you access to the test system I used.

[2019-02-12 21:40] kvndlgs commented on #3714
![kvndlgs](https://user-images.githubusercontent.com/5797425/52669765-f76c4580-2ee4-11e9-999e-604f9e43ca4f.png)

[2019-02-12 22:57] owocki commented on #3713
looks good!  will payout when merged

[2019-02-12 23:30] frankchen07 commented on #3685
Thanks for the suggestions all!

The Gitcoin internal team has decided that there are fundamental tech debt items that we need to clean up and work into our sprints before these automated front-end optimizations and fixes can do the most good. We'll be keeping this ticket open to track the progress of these fixes.

[2019-02-12 23:36] owocki commented on #3653
another one https://gitcoin.co//_administrationgrants/subscription/199/change/

[2019-02-12 23:50] owocki commented on #3653
these ones too
https://gitcoin.co//_administrationgrants/subscription/202/change/
https://gitcoin.co//_administrationgrants/subscription/203/change/

[2019-02-13 00:09] PixelantDesign commented on #3696
Hmm good first stab.

I like the visual direction.

I was thinking more along the lines of... with the simple flow, we’ll need to on the last screen remind the funder to allow permissions for that contributor on github outside of gitcoin. And other similar ideas.

@octaviomau

[2019-02-13 00:13] Nnooo commented on #3493
Ok @owocki and @PixelantDesign I have added a conversion module now too. Regarding the line thickness as this is a wireframe/mockup it that something you want me to spend time fixing when it is going to be done when you create assets later? Let me know.

Ok so details:
1) Have the site randomly choose a colour palette on arrival so that it is vibrant and eye catching (see above mockups)
2) When th

[2019-02-13 00:23] owocki commented on #3628
@oogetyboogety i just responded on the PR.

btw, how many bounties are in the profile you submitted at https://github.com/gitcoinco/web/issues/3628#issuecomment-459912756 ? i cannot repro those results

[2019-02-13 01:22] owocki commented on #3653
figured this out https://gitcoincore.slack.com/archives/CF8MHH8GH/p1550020234012300

[2019-02-13 01:22] #3653 closed

[2019-02-13 01:32] crisgarner commented on #3714
I named him "The Spam Pirate"

![crisgarner](https://user-images.githubusercontent.com/578688/52680079-da437100-2efc-11e9-9a83-75db2ce22bc9.png)

[2019-02-13 01:37] crisgarner commented on #3714
I named him "The Spam Pirate"
![crisgarner](https://user-images.githubusercontent.com/578688/52680293-8a18de80-2efd-11e9-9ce0-7c4a233c9ee1.png)

Might be a bug, but when I created looked a little different

[2019-02-13 05:20] eherrador commented on #3714
![captura de pantalla 2019-02-12 a la s 23 19 55](https://user-images.githubusercontent.com/1879642/52688607-c27be500-2f1c-11e9-8cd7-0deb4c1746c1.png)

[2019-02-13 09:56] writeprovidence commented on #3619
will soon be ready

[2019-02-13 10:45] danlipert opened #3736 "Grant subscription creation costs slightly more than the amount shown to pay for metatx"
### Outstanding Questions

@frankchen07 to set up a discussion with austin + dan + aditya + owocki related to security on this issue. Who is funding the subminer?

### User Story

As a grant subscriber, I want to pay the exact amount I'm contributing (continuation of temporary fix for issue #3653)

### Why Is this Needed

The metatx relayer requires a small amount of additional tokens to relay the

[2019-02-13 12:49] danlipert commented on #3685
@frankchen07 Looks like the gtmetrix report linked above is expired :( Also, I don't have access to the google search console report. That being said, I think the "First Contentful Paint" as well as the "Time to Interactive" are great metrics to track, since they are both commonly used in the industry as benchmarks, as well as very focused on the customer's experience using the site.

[2019-02-13 14:54] mehul0698 commented on #3713
@owocki I have added a Funny mask. #3737

[2019-02-13 15:33] sauravtom commented on #3714
![sauravtom](https://user-images.githubusercontent.com/1805870/52723000-adb85380-2fe7-11e9-9452-59d8c1ff6f3b.png)

[2019-02-13 15:35] willsputra commented on #3696
Included more explanation on how the funder has to invite the contributor on GitHub

Bounty Success Email
![private bounty success](https://user-images.githubusercontent.com/19514207/52722951-9711fc80-2fe7-11e9-97d9-6b2ff7012e40.png)

Another place where it'd be good to remind the funder is when they Approve Worker. Once they click Approve Worker inside Issue Details, we could do a modal:
![approv

[2019-02-13 16:43] mehul0698 commented on #3713
@owocki I have added a pair of earrings. #3739

[2019-02-13 16:59] captnseagraves opened #3740 "Grants - 'isSubscriptionActive' is misused in the subminer debug_info"
**Describe the bug**
Currently, the subminer error_reason message will say that a subscription is 'not_active', meaning that the subscription has been "cancelled". However, this function is meant to display whether a subscription has been PAID or not. If a subscription is not active, it really means it is not current.

**Expected behavior**
We should remove the `is_active check from the subminer `

[2019-02-13 17:16] PixelantDesign commented on #3660
@emiwatanabe422 please attach final files here and click submit work! Thanks!

[2019-02-13 17:17] owocki opened #3741 "bug - avatar not updating"
we just got this bug report:

[code]

i'm not sure how to flush the avatar.  this is my attempt:
[code]

[2019-02-13 17:17] owocki commented on #3741
@kziemianek whats the easiest way to handel this?

[2019-02-13 17:18] PixelantDesign commented on #3660
Thanks @uivlis please submit work!

[2019-02-13 17:28] PixelantDesign commented on #3493
@thelostone-mc @octavioamu @willsputra what do you think?

[2019-02-13 17:43] krisc commented on #3714
Oh yeah, I experienced a similar thing. For me, on the gitcoin website, my thumbnail doesn't have my glasses rendered so it looks like I'm wearing sunglasses. @owocki Does it look like that for anyone else?

[2019-02-13 17:51] PixelantDesign commented on #3657
@jefreesujit Are you still interested in working on this?

[2019-02-13 18:23] kuhnchris commented on #3741
AFAIK gitcoin avatars don't refetch for organisations right now. This needs to be done manually right now. try flushing them directly from admin interface. We should honestly add a button for that...

[2019-02-13 18:27] kuhnchris commented on #3729
well, that only would shift the responsibility to the bounty creator, instead of the guy expressing interest.

If the guy who wants to apply gets the message he can't since he has more than 3, then only that guy is disappointed. But what happens if someone is despiratly looking for someone working on their bounty, just to see someone apply, hitting "approve" and then get the info "that guy current

[2019-02-13 18:28] kuhnchris commented on #3736
alternative: instead of having to pay that fee (which essentially it is), you could ask for 1 DAI or 0.5 DAI when the user funds his first grant, so we have enough 'spare dai' to push those metatx?

[2019-02-13 18:35] owocki commented on #3741
i actually dont even know what to do in the admin / terminal.  do i just delete the avatar object?

[2019-02-13 18:40] kuhnchris commented on #3741
Try app.utils.sync_profile()

[2019-02-13 23:54] owocki commented on #3487
[cryptospring-zine-final-consensys-a5-single-pages.pdf](https://github.com/gitcoinco/web/files/2862696/cryptospring-zine-final-consensys-a5-single-pages.pdf)
ur artwork made the ethdenver zine!

[2019-02-14 00:29] owocki commented on #3741
[code]

that worked!  rthanks @kuhnchris

[2019-02-14 00:57] thelostone-mc commented on #3390
Eveyones

[2019-02-14 00:57] #3390 closed

[2019-02-14 00:59] octavioamu commented on #3390
I still need to see what happened with the email I didn't received :/

[2019-02-14 01:00] thelostone-mc commented on #3390
Oh damn I thought that was sorted out  ! Ping IT and they should be able to take care of it 🙌

[2019-02-14 01:10] thelostone-mc commented on #3544
@usmanmuhd could we get a WIP PR opened up today ? I would like this in by this week

[2019-02-14 01:15] usmanmuhd commented on #3544
Yeah sure. Today evening it'll be done.

[2019-02-14 01:22] thelostone-mc commented on #3657
I believe we can close this out as the new homepage would remove `Why Gitcoin` Tab -> creating the space needed. This could be put across a stop gap fix but yeah

[2019-02-14 02:59] sauravtom commented on #3714
![sauravtom-avatar2](https://user-images.githubusercontent.com/1805870/52759628-8db87c80-3047-11e9-9d9d-f70ff244e213.png)

[2019-02-14 03:45] owocki commented on #3493
i'm getting close to 'accept' state.  i do think the line thickness is still a problem, but we can solve this by simply importing the svgs on gitcoin.co/mission

[2019-02-14 03:47] Nnooo commented on #3493
I am happy to make changes to line thickness but they would only be in these wireframes is that going to be helpful from a dev standpoint? If so then I should definitely change them, if not then it’s purely cosmetic at this stage?

Either way let me know :)

[2019-02-14 03:50] Nnooo commented on #3493
Also note I just grabbed the vector assets which are in your marketing files so it is likely this line thickness issue stems from there and will re-occur in future uses of them.

[2019-02-14 03:57] andresberejnoi commented on #3714
This is my first avatar. I finally have one now.

![first_avatar](https://user-images.githubusercontent.com/17301409/52761727-9460d880-2fe2-11e9-8f6d-459468382196.png)

[2019-02-14 04:22] owocki commented on #3370
just gave @danlipert stage access 4 the testing! and @kuhnchris i just commented on the PR too

[2019-02-14 04:56] #3570 closed

[2019-02-14 06:01] FermiGBM commented on #3714
Here is my submission:

![gitcoin_avatar_fermigbm](https://user-images.githubusercontent.com/13285288/52766057-ca847380-3047-11e9-84e5-5fe6e01976f5.JPG)

[2019-02-14 06:24] Loveprit-Singh commented on #3714
![screenshot at 2019-02-14 11-51-12](https://user-images.githubusercontent.com/38504305/52767062-4635ee80-304f-11e9-8fb0-d6d7ff494987.png
its my work

[2019-02-14 06:30] Loveprit-Singh commented on #3714
<blockquote class="imgur-embed-pub" lang="en" data-id="a/Nubqy6h"><a href="//imgur.com/Nubqy6h"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

its my work

[2019-02-14 06:31] Loveprit-Singh commented on #3714
![screenshot at 2019-02-14 11-51-12](https://user-images.githubusercontent.com/38504305/52767327-2bb04500-3050-11e9-97d8-2ca287984f25.png)

here is  my submission

[2019-02-14 07:38] thelostone-mc commented on #3688
@octavioamu -> could we evaluate if this can fit into an existing page as opposed to spawning new pages for everything

[2019-02-14 08:14] #3684 closed

[2019-02-14 14:41] PixelantDesign opened #3745 "Test Issue"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-02-14 14:41] #3745 closed

[2019-02-14 16:50] Jefreesujit commented on #3657
@PixelantDesign Hey, Yeah i m interested, i would like to touchbase on this with you, regarding implementation. Probably will try to work on this weekend.

[2019-02-14 16:55] abitrolly opened #3747 "Wrong result for started issues"
**Describe the bug**

`My stared bounties` showed wrong issue.

![image](https://user-images.githubusercontent.com/8781107/52802754-9c2b8600-3091-11e9-97c0-a7d5ec485a6d.png)

I applied for https://gitcoin.co/issue/ethereumjs/rustbn.js/25/2091 but the work is not approved.

![image](https://user-images.githubusercontent.com/8781107/52802888-dd239a80-3091-11e9-8c2b-19a7e611aa91.png)

The issue that

[2019-02-14 17:26] writeprovidence commented on #3619
@owocki Pls take a look at this wireframe, if like the direction, then i will proceed to design the mockup proper

[2019-02-14 17:28] writeprovidence commented on #3619
![landing page-02](https://user-images.githubusercontent.com/31359701/52805201-f7ec1400-307d-11e9-92c2-fd3fd71e9f34.png)

[2019-02-14 17:57] friedger opened #3748 "Funder postal address on invoice"
### User Story

As a funder, I want to add the invoice into my companies accounting system so that the funding can be registered as expense. The invoice needs to contain my companies address.

### Why Is this Needed

The postal address needs to be on the invoice in order to be accepted by tax authorities

### Description

*Type*: Feature

### Current Behavior
Funder's eth address, github account a

[2019-02-14 18:44] PixelantDesign opened #3749 "Contributor Landing Page Updates"
### User Story

As a marketer, I'd like to have the ability to customize certain sections fo the contributor landing page so that it is more robust and has enough info to engage/entice that audience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: C

[2019-02-14 18:48] PixelantDesign opened #3750 "Design -Press Page to Gitcoin.co"
### User Story

As a prospect, I'd like to be able to see in a central location all the press that Gitcion has.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We currently have a press bar on the home page with links.
If we had a page on the site i

[2019-02-14 18:54] PixelantDesign opened #3751 "Add Checkbox to FunderPages for opt in to Trigger Drip Campaign"
### User Story

As a marketer, I'd like the ability to add a checkbox to funder pages to opt in to trigger a campaign.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
we need a checkbox to know whether the person would want info based on being a fun

[2019-02-14 19:13] PixelantDesign opened #3752 "Design CLR Match Visual"
### User Story

As Gitcoin we'd like to have a central place to tell the story of the CLR Match program on Gitcoin.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We dont have one

### Description

### Definition of Done

- [ ] Design CLR Match Gra

[2019-02-14 19:14] PixelantDesign commented on #3752
<img width="570" alt="screenshot 2019-02-15 00 36 59" src="https://user-images.githubusercontent.com/238235/52811319-ca45a180-3062-11e9-9b42-eaa0929ed137.png">
[CLR Matching.sketch.zip](https://github.com/gitcoinco/web/files/2866480/CLR.Matching.sketch.zip)
![blog](https://user-images.githubusercontent.com/238235/52811339-d893bd80-3062-11e9-9970-8915fbb193e6.jpg)

[2019-02-14 19:15] #3752 closed

[2019-02-14 19:19] PixelantDesign commented on #3748
Thanks for the feature request @friedger!

[2019-02-14 20:00] PixelantDesign opened #3753 "Make it Clear When Bounty is Cancelled Crowdfunding Turns Into a Tip"
**Describe the problem**
Funder cancelled a bounty. When Eth is returned. Crowdfunding turns into a Tip.

**To Reproduce**
Create a Bounty and add crowdfunding. Cancel the bounty and see that a claim tip menu item shows up in your profile.

**Expected behavior**
User is noted that any Crowdfunded amount is returned via Tip and that they'll need to go to a drop down menu to claim it.

**Issue**
htt

[2019-02-14 20:17] PixelantDesign opened #3754 "Reminder for Funders to Pay Contributors Prior to PR Merge"
## As a contributor I'd like to be paid before or soon after my work is completed.

## Description

Remind Funders where appropriate to pay contributor prior to merging a PR.
Perhaps at the end of Bounty Creation or Payout Screen.

## Issue
https://github.com/balance-io/balance-website/issues/113

## Definition of Done

- [ ] Add this info on funder form and on payout.

[2019-02-14 20:30] PixelantDesign opened #3755 "Testing fund an issue"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-02-14 20:41] PixelantDesign commented on #1995
Is this ready to pay out? @danlipert @SaptakS @thelostone-mc ?

[2019-02-14 20:42] #1023 closed

[2019-02-14 21:28] mbeharry commented on #3750
Here is the format I was thinking of....

<Press Page Template>
H1: Press & Media Coverage

H2: Recent Press
Interview with Kevin Owocki at Software Engineering Daily: https://softwareengineeringdaily.com/2018/04/03/gitcoin-open-source-bounties-with-kevin-owocki/

H2: Press Releases
<link to any press releases we did>

H2: Social Mentions
<embed or link to tweets from Vitalik>

H2: Recent Videos
<

[2019-02-14 22:11] anorakthagreat commented on #3714
![pablo](https://user-images.githubusercontent.com/33412340/52820991-c3bb2800-306a-11e9-85df-3ed74611e799.png)

[2019-02-15 03:55] Loveprit-Singh commented on #3714
Awsome

On Fri, 15 Feb 2019, 3:41 am anorakthagreat, <notifications@github.com>
wrote:

[2019-02-15 05:49] owocki commented on #3753
@PixelantDesign when @saurfang logs in, they will see a claim tip link in the top right to get the returned crowdfund amount

[2019-02-15 06:15] saurfang commented on #3753
Ooooh! I never noticed that. It's in my profile dropdown. Nice. I recovered all the funding. Thanks for the quick turnaround.

[2019-02-15 07:18] emiwatanabe422 commented on #3660
@PixelantDesign
Here it is, let me know if you want me to change anything!
[GitcoinAds.zip](https://github.com/gitcoinco/web/files/2868155/GitcoinAds.zip)

[2019-02-15 08:28] mehul0698 commented on #3713
@owocki @thelostone-mc can some the assets that I have made can be monetised as they have great detail in them like the gas mask, funny mask and the earrings.

[2019-02-15 12:30] joshmorel opened #3756 "Gitcoin.co/how/contributor "good for" duplicated or does't make sense"
**Describe the bug**

"Good for" is the same for "Traditional Project" and "Contest Project". I'm pretty sure the description fits with the "Contest Project" not the "Traditional Project".

Side note: inclusion of "creative," in list on its own doesn't quite read right. Perhaps just get rid of it "Sourcing ideas, searching for the best ways to solve a problem, bug hunt."

**To Reproduce**
https://

[2019-02-15 12:49] #2802 closed

[2019-02-15 13:55] #3755 closed

[2019-02-15 14:53] PixelantDesign opened #3757 "Editing Issue - Display Most Recent Featured Bounty First"
## As a funder opting in to featured bounty when my issue has been previously listed, I expect my newly featured bounty to show up first in the carousel.

## Current Implementation
Shows last in the carousel.

## Definition of Done
- [ ] Update it so that the featured bounty shows first in the carousel.
- [ ] Review with core team member.

[2019-02-15 15:54] PixelantDesign commented on #3753
Thanks @owocki!

Glad you recovered the funds @saurfang. Yes! I've updated this ticket to make it more clear what happens to the funds. We will also need to document this somewhere.

[2019-02-15 16:03] PixelantDesign opened #3759 "UX Capture Star Ratings for Previously Completed Bounties"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on previous bounties that they've collaborated on so that we can understand their experience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Does not exi

[2019-02-15 18:03] octavioamu commented on #3014
@usmanmuhd are you still interested in this one?

[2019-02-15 19:36] PixelantDesign opened #3760 "Gitcoin Press Page"
### User Story

As Gitcoin, we'd like to improve our SEO by adding a press page to our site.

### Description

- Ensure you create a new route `/press` with dashboard which this page resides
- Leverage bootstrap classes + existing and avoid redefining css
- Ensure code it indented + design is responsive (Attach screen recording. MUST MATCH DESIGN)
- Ensure your code is DRY ( store the list of pres

[2019-02-15 20:10] vinny2020 commented on #1617
Agree that this really important. I am also a Java dev and scrolling though post after post of javascript jobs is not a good experience

[2019-02-15 20:54] aesthytik commented on #3714
![aesthytik](https://user-images.githubusercontent.com/26917061/52883690-d8dea680-3191-11e9-9fc5-a934c50fffd6.png)
here is my avatar. hope you all like it :)

[2019-02-16 02:32] mwojnoski commented on #3714
[Screen Shot 2019-02-15 at 7.30.31 PM.pdf](https://github.com/gitcoinco/web/files/2871530/Screen.Shot.2019-02-15.at.7.30.31.PM.pdf)

[2019-02-16 02:33] mwojnoski commented on #3714
![image](https://user-images.githubusercontent.com/36573253/52893351-92208a80-3158-11e9-8d2c-73796209f8f9.png)

[2019-02-16 08:30] rdren0 commented on #3714
<img width="253" alt="screen shot 2019-02-16 at 1 29 30 am" src="https://user-images.githubusercontent.com/39016273/52896828-5dc5c200-318a-11e9-9fde-6dbe8344ad30.png">

[2019-02-16 12:00] yash412 commented on #3713
@owocki heey, I've made all the SVGs, and set up the docker with Authentications. Where can I find information about where to place the files and how to test them?

[2019-02-16 14:46] michaelgreen06 commented on #3714
1st ever post on github. Thanks Gitcoin for helping me get started!
![msg_avatar_1](https://user-images.githubusercontent.com/30195098/52901288-dd6d8400-31be-11e9-845f-0579beca96ea.png)

[2019-02-16 21:39] deeayeen commented on #3714
Thanks! Right back at ya  ;)

[2019-02-17 13:07] pascalvanhecke opened #3762 "Failed cancelSubscription still listed as "canceled subscription""
**Describe the bug**

A grant page (example https://gitcoin.co/grants/48/uniswap ) has a list of canceled subscriptions.  This  list is not accurate in two ways:

- failed cancellations still listed as actual cancellations
- cancel txs that were overridden with a higher gas cost still listed as actual cancellations

<img width="490" alt="uniswap gitcoin 2019-02-17 14-04-39" src="https://user-image

[2019-02-17 13:22] pascalvanhecke opened #3763 "Active subscription not listed under "active subscriptions""
<img width="475" alt="uniswap gitcoin 2019-02-17 14-15-36" src="https://user-images.githubusercontent.com/290665/52913473-e80f4280-32be-11e9-8ae8-41b75e992e1a.png">

**Describe the bug**

user pascalvanhecke has active subscription (as indicated by interface in screenshot) but subscription is not listed as active.  Also: the subscription has not been charged after 2 days.

**Expected behavior**
Su

[2019-02-17 17:31] frankchen07 commented on #3685
Reupdated the link. @owocki - can dan get access to the google search console?

First contentful paint and time to interactive - looks like we need premium access to gtmetrix, will have to get at these another way - thanks for the heads up on these

[2019-02-17 20:50] lazaridiscom opened #3765 "void"

[2019-02-18 07:24] thelostone-mc commented on #3544
@usmanmuhd still waiting on the PR 😓

[2019-02-18 08:24] privatebear commented on #3714
![9fe19ed7-064c-44c2-a909-ba1586c81976](https://user-images.githubusercontent.com/47406957/52937267-a2737800-3399-11e9-9d1f-8993d7028f24.png)

It’s always Christmas for me.

[2019-02-18 10:18] danlipert commented on #3665
This issue will be fixed by this PR: https://github.com/gitcoinco/web/pull/3735 which tracks the re-issuance of grant contract creation transactions correctly.

[2019-02-18 14:04] PixelantDesign commented on #3765
Thanks for the suggestion @lazaridiscom!

[2019-02-18 14:31] PixelantDesign opened #3767 "Some Links in Profile Work and Some Don't"
<img width="554" alt="screen shot 2019-02-18 at 9 26 04 am" src="https://user-images.githubusercontent.com/238235/52957364-80f59a80-335f-11e9-9349-d63d407ae632.png">

![image 30](https://user-images.githubusercontent.com/238235/52957580-fe210f80-335f-11e9-8862-4d9a13b444f5.png)

### As a user of Gitcoin I expect all links on the profile to take me to the relevant places so that I can dive deeper i

[2019-02-18 14:35] PixelantDesign commented on #3763
Thanks for the report @pascalvanhecke! We'll get this prioritized asap!
cc @frankchen07

[2019-02-18 14:37] PixelantDesign commented on #3762
Thanks for the report @pascalvanhecke!
cc @frankchen07

[2019-02-18 14:39] PixelantDesign commented on #3756
Thanks for the report @joshmorel !

[2019-02-18 14:59] willsputra opened #3768 "Input field in Send Tip feature should not be colored red"
**Describe the bug**
Input field and primary color in Send Tip feature is red, which is not consistent with the rest of the site and is normally associated with an error.

<img width="509" alt="screenshot 2019-02-18 at 10 56 49 pm" src="https://user-images.githubusercontent.com/19514207/52959200-9b1b9100-33d0-11e9-9949-a58d10446840.png">

**To Reproduce**
https://gitcoin.co/tip
click Send Ether

*

[2019-02-18 15:04] willsputra opened #3769 "DESIGN - Fix style consistency across pages"
### User Story
As a user of Gitcoin I want the site to look consistent so its easier for me to recognize things.

### Current Behavior
There are issues of style consistency that can be improved:
• Consistency of button colors, size, behaviour, and positioning.
• Different styles are used on different pages and in different blocks. This creates an extra cognitive load on the user, because they have

[2019-02-18 15:11] willsputra opened #3770 "DESIGN - Clearer separation of information display"
### User Story
As different types of users (new vs experienced), I want to see clearer separation between information.

### Current Behavior
Currently, marketing information is interspersed with features, this will distract experienced users.

Generally, in order to drive the best possible UX experience we strive to separate new users from experienced users and separate features that are frequentl

[2019-02-18 15:17] willsputra opened #3771 "DESIGN - Make the illustrations on the Mission page more impactful"
### User Story
https://gitcoin.co/mission
As a user, I want the understand Gitcoin's mission clearly through good use of illustrations.

### Current Behavior
Informational blocks are low impact per unit of space occupied.

The sizing of images and illustrations does not correspond well to the size of text. This will likely cause the user to skip the sections altogether and to mistrust the cognitiv

[2019-02-18 15:20] PierrickGT commented on #3014
Hi @octavioamu,
I'm still interested in this one, I just need some help to retrieve the kudos data.
I'm in vacation for one more week so I'll be able to finish this task next week.

[2019-02-18 15:22] willsputra opened #3772 "DESIGN - Better visual distinction between /how/funder and /how/contributor"
### User Story
https://gitcoin.co/how/funder
https://gitcoin.co/how/contributor

As a user, I want clearer visual distinction between different concepts being explained on "How it Works" pages

### Current Behavior
"How it Works - Contributor" and "How it Works - Funder" currently look the same.  the flows for different roles of users are represented without much distinction which makes the explan

[2019-02-18 15:29] thelostone-mc commented on #3765
@lazaridiscom so we've got tags/labels which a funder creates an issue.
They aren't super effective in terms of search.

Not sure if adding an extra type to the bounty would make it more sense

- both co-exist
- to replace labels with type
- use labels ( which hasn't been very effective )

[2019-02-18 16:19] oogetyboogety commented on #3628
@owocki I just responded to your response! Please take a look at your earliest convenience.
That profile that I posted was for the first 25 rinkeby bounties at offset 25. I tested further with many more mainnet bounties now.

[2019-02-18 16:49] lazaridiscom commented on #3765
@PixelantDesign ,@thelostone-mc , nice to see that you stayed with gitcoin!

I like to give you 2 examples for "Management/Directing/Architectural" Work (I still struggle to find a summarizing term for those "high experience/maturity, usually non-coding" tasks).

(note: some folks has an allergy with the term "Management")

### Example A

At the goerli project, I saw an ongoing (since months) work

[2019-02-18 20:04] PixelantDesign commented on #3771
@vs77bb we should update this based the last team exercise results around mission.

[2019-02-18 20:06] PixelantDesign commented on #3770
@thelostone-mc we have removed the Why Gitcoin when users are authenticated, correct?
I still think How it works is relevant.

[2019-02-18 20:07] PixelantDesign commented on #3768
@thelostone-mc @SaptakS @octavioamu does this make sense as part of form clean up?

[2019-02-18 20:55] lazaridiscom commented on #3765
## Alternative:

Another quite effortless way to implement could be:

Pick

## Type
* Bug
* Feature
* Security

If the above is not used much, change it to something like:

## Type
* UI-Design
* Graphics-Design
* Coding
* Management
* etc

And move this at the top of the UI, even before "Experience Level". Default would be "Coding" i guess (both, for Funders and Workers).

[2019-02-18 21:25] frankchen07 opened #3774 "Gitcoin.co Homepage URLs"
### Outstanding Questions

* seo format
* internal links
* repetitive links
* @frankchen07 to set up strategy meeting to decide definitively what we want to do

### User Story

Gitcoin.co homepage URLs

### Why Is this Needed

This is the new URL layout that is SEO and non-redundant friendly. Sub-task of https://github.com/gitcoinco/web/issues/3545

### Current Behavior

With our new homepage, we'

[2019-02-18 23:22] writeprovidence commented on #3619
work in progress

[2019-02-19 04:06] qu4ku commented on #3714
![screenshot 2019-02-19 at 05 05 46](https://user-images.githubusercontent.com/5319632/52989520-16e30100-3404-11e9-9ff2-8aabb7feabd5.png)

[2019-02-19 04:14] thelostone-mc commented on #3765
This I like 🙌

As per the type -> looks like we didn't add the other filters cause we've got those options when funder creates a bounty -.-

![untitled](https://user-images.githubusercontent.com/5358146/52989700-a13e5b80-342a-11e9-9f75-d2a7c5699e75.gif)

Thanks for pointing this out man

Would make sense to add Management. (feel free to suggest more relevant addidions to the list )

On two minds o

[2019-02-19 07:22] abitrolly opened #3776 "Search errors out with locked Metamask"
Got an error while trying to open the page with my bounties.

https://gitcoin.co/explorer?bounty_filter=startedByMe&network=mainnet&order_by=-web3_created

![image](https://user-images.githubusercontent.com/8781107/52996959-25471200-3430-11e9-81f4-f38c064150b6.png)

Desktop.

[2019-02-19 09:33] friedger opened #3777 "Use Historical Exchange Rate on Invoice"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want to see the exchange rate of ETH (or so) to USD at the date of the invoice, not at the date of printing/viewing the invoice so that I can put the invoice into my financial books.

### Why Is this Needed
Currently, it is unclear which exchange rate for cryptocurrrency to fiat is used.

### Descripti

[2019-02-19 12:24] Nnooo commented on #3493
Hi there @owocki what’s happening with this bounty? It’s a long time not to get paid...

[2019-02-19 14:01] j0ker1234 commented on #3713
@owocki @thelostone-mc I have updated the pr #3733 and created a new pr #3778 in which I have added 6 new accessories.

[2019-02-19 15:40] octavioamu opened #3782 "As a Gitcoin operator, the way we are counting bounty limits is inaccurate."
### User Story

As a Gitcoin operator, the way we are counting bounty limits is inaccurate.

### Description

Right now, we are limiting number of applications to work to 3 but we're not actually limiting the number of bounties a contributor is actually working on. The idea is to limit the number of bounties a contributor is actively working on and not limit the interest / applications to work.

W

[2019-02-19 16:27] lazaridiscom commented on #3765
"Consulting & Management" could do it (a bit long).

Or "Consulting" can be used, as "Management" in context of limited-time bounties are anyways about "Consulting".

The list is already quite large, and includes even sub-types (`Bug` and `Code-Review` are sub-types of the type `Code`), so possibly it would be better here to remove some of those.

here a very compact category group:

* Graphic Des

[2019-02-19 17:07] danlipert commented on #3685
@frankchen07 @owocki I have access to the google search console, but its saying gitcoin.co is unverified and wants me to add a meta tag to the site or upload this random file, etc. etc. Wasn't this already done? Did we have it verified at some point previously?

[2019-02-19 18:44] thelostone-mc commented on #3776
I'm not able to reproduce this.
I tried as a logged in + logged out user and it seemed to work fine.

<img width="1440" alt="screen shot 2019-02-20 at 12 12 21 am" src="https://user-images.githubusercontent.com/5358146/53039133-709b0800-34a4-11e9-940d-a15a270db81f.png">

[2019-02-19 18:56] #3524 closed

[2019-02-19 19:09] #3776 closed

[2019-02-19 19:14] thelostone-mc commented on #1464
Currently tracked at https://github.com/gitcoinco/web/pull/3709

[2019-02-19 19:17] thelostone-mc commented on #520
Closing it out cause it doesn't look like we are going ahead with this . 😓

[2019-02-19 19:17] #520 closed

[2019-02-19 19:59] #1995 closed

[2019-02-19 20:17] onbjerg commented on #1528
Is this open or is it already being worked on? :)

[2019-02-19 20:58] vinny2020 opened #3783 "Unable to see bounties when running locally"
**Describe the bug**
[comment]: #  When I clone the project and follow the setup instructions I am able to run the web app in docker but no bounties appear, it's always 0 bounties.

**To Reproduce**
[comment]: # Follow the steps here:
https://docs.gitcoin.co/mk_setup/
and using the command:
docker-compose exec web python3 app/manage.py sync_geth rinkeby 402 99999999999
 in order to sync bounty dat

[2019-02-19 22:58] j0ker1234 commented on #3713
@owocki I have created 7 accessories out of witch atleast 4 or 5 of them are really exotic. The PR has been merged. Please make the payout.

[2019-02-19 23:00] owocki commented on #3714
just paid out everyone who submitted work.  closing this issue for now.   ping me if i haven't paid you yet!

[2019-02-19 23:00] #3714 closed

[2019-02-19 23:03] owocki commented on #3713
@yash412 there are example PRs in the description of this post

@mehul0698 there is no ability to monetize and share with you right now... but im hoping to enable that soon!

[2019-02-19 23:03] owocki commented on #3713
@mehul0698 how much do i owe you

[2019-02-19 23:04] owocki commented on #3713
@j0ker1234 your work is awesome :) let me know how much i owe you by your interpretation of the payout amounts i commited to in the OP

[2019-02-19 23:07] rdren0 commented on #3714
@owocki I dont think I was paid for this one

[2019-02-19 23:08] j0ker1234 commented on #3713
@owocki 135 to 140 dollars.

[2019-02-19 23:08] andresberejnoi commented on #3714
me neither.

On Tue, Feb 19, 2019 at 6:07 PM Rachael Drennan <notifications@github.com>
wrote:

[2019-02-19 23:09] mehul0698 commented on #3713
@owocki I am still working on some designs and have previous merge conflicts to resolve. Will let you know once I'm done.

[2019-02-19 23:13] j0ker1234 commented on #3713
@owocki Thank you.

[2019-02-19 23:23] qu4ku commented on #3714
@owocki just added metamask account to my profile.

[2019-02-19 23:28] owocki commented on #3493
i will pay out the issue now.  please post the sketch / source files.  thanks

[2019-02-19 23:29] owocki commented on #3493
hmm.. can you submit work @Nnooo so i can pay it out?

[2019-02-19 23:39] owocki commented on #3685
hmm i dont see that warning (though theres a lot of tabs, i dont know which one i should be looking at to know if i see the same thing as you)

[2019-02-19 23:47] owocki commented on #3619
@writeprovidence was there a design attached to this thread?  i dont see it anymore, but its in my email

[2019-02-19 23:51] owocki commented on #3767
e19c9bd7fe9371b88a2e52c4d15bcd345f0289b4 fixes this; will be deployed next deployment

[2019-02-20 00:48] owocki opened #3784 "As a grants funder, I want to have an aggregate grant I can contribute to, so I can support all OSS."
### User Story
As a grants funder, I want to have an aggregate grant I can contribute to, so I can support all OSS.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

Because I get decision fatigue when I go to gitcoin.co/grants deciding what OSS to support.

### Description

This is a request from @pipermerriam at ETHDenver.  He wants to contribute XYZ DAI

[2019-02-20 01:16] fcrooks commented on #3714
@owocki I also didn't get paid.

[2019-02-20 02:14] writeprovidence commented on #3619
@owocki Yes a design was attached, moving it to figma

[2019-02-20 02:20] writeprovidence commented on #3619
@owocki it was just the wire-frame i wanted you to see, but i have started the design proper in Figma

[2019-02-20 02:26] writeprovidence commented on #3619
@owocki i will be sending you the link to view

[2019-02-20 03:56] Anish-Agnihotri commented on #3768
^ I'll submit a PR for this if this is not a part of the form clean up.

[2019-02-20 04:19] emiwatanabe422 commented on #3660
Hey @PixelantDesign, any fixes to be made?

[2019-02-20 13:59] octavioamu opened #3786 "Removed jquery-ui from /explorer new popovers and tooltips"

[2019-02-20 14:23] octavioamu opened #3787 "totally remove jquery-ui"
Change all modals, tooltips to use bootstrap and remove jquery-ui

[2019-02-20 14:33] PixelantDesign opened #3789 "Subtask #3449 Build Front End What to Do Next Modal"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started with D

[2019-02-20 14:38] PixelantDesign opened #3790 "Subtask #3449 Build What To Do Next Email"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a repo maintainer, i want to be able to fund an issue from a private repo, so i can have contributors work on private stuff

### Why Is this Needed

Even though there is a macro trend towards OSS, there is much more closed sourced software out there than open source software still.

Like how Netflix started with D

[2019-02-20 15:02] PixelantDesign opened #3791 "SUBTASK #2510 Build Front End Verified Contributor Profile Update"
#2510

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who has either funded an issue on Gitcoin or completed several bounties successfully, i'd like a 'verified' image on my profile, so ppl know i'm legit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-02-20 15:07] PixelantDesign opened #3792 "Subtask #2510 Build Verified Contributor Email"
#2510

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who has either funded an issue on Gitcoin or completed several bounties successfully, i'd like a 'verified' image on my profile, so ppl know i'm legit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-02-20 15:11] PixelantDesign opened #3793 "Subtask #2510 Build Front End Verified - Explanation Page"
#2510

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who has either funded an issue on Gitcoin or completed several bounties successfully, i'd like a 'verified' image on my profile, so ppl know i'm legit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-02-20 15:57] willsputra commented on #3789
![whats next modal](https://user-images.githubusercontent.com/19514207/53104889-24ff6180-356b-11e9-8654-b70316af85bc.jpg)

Sketch file: https://github.com/gitcoinco/creative/pull/37/commits/b6c4fafe15e096bbd2e7d1d44590fd71c0bfb8a9

[2019-02-20 16:06] StevenJNPearce opened #3794 "Can't start work on reserved issue."
**Describe the bug**
Can't start work on reserved issue; no button to start work is shown.

**To Reproduce**
Have someone make a new issue reserved for a user.

**Expected behavior**
Should see a "Start work" or "Express interest" button.

**Screenshots**
https://i.imgur.com/dwjM60A.png

- OS: any
- Browser: all

[2019-02-20 16:31] willsputra commented on #3791
draft
![profile](https://user-images.githubusercontent.com/19514207/53107475-0e0f3e00-3570-11e9-8254-8c51abed2ad9.jpg)

[2019-02-20 16:44] willsputra commented on #3792
![verified badge email copy](https://user-images.githubusercontent.com/19514207/53108326-cbe6fc00-3571-11e9-8ea5-9271d941cc44.png)

[2019-02-20 17:36] willsputra commented on #3793
![verified badge page](https://user-images.githubusercontent.com/19514207/53111931-07d18f80-3579-11e9-879c-5ee43a03c74b.jpg)

[2019-02-20 18:43] abitrolly commented on #3776
Have you tried adding some pending bounties to your setup? Because I do
have some.

[2019-02-20 20:18] owocki commented on #3794
https://gitcoin.co/issue/MyBitFoundation/MYDAX/1/2439

[2019-02-20 21:01] StevenJNPearce commented on #3794
For this specific issue where I encountered this bug we worked around it by having the funder edit the issue details to remove the reservation.

[2019-02-20 21:07] ghost opened #3796 "Revise the Reminder Process"
The term "warning" was already revised to "reminder" (https://github.com/gitcoinco/web/issues/2758), which was a positive step.

There is still a problem:

* The frequency of the reminders is too high (example: https://github.com/NethermindEth/nethermind/issues/334 )

One may say "but founders can snooze".

Yes, they can, but practice shows that they don't do this always, and that gitcoin does not

[2019-02-21 01:55] #2542 closed

[2019-02-21 07:14] Nnooo commented on #3493
Sure

[2019-02-21 09:48] #3472 closed

[2019-02-21 09:52] thelostone-mc commented on #3770
Yes but that code hasn't been deployed it but @octavioamu + @owocki had legit concerns about it

[2019-02-21 09:55] thelostone-mc commented on #3771
@willsputra I had thrown in some code to clean up the mission page a lil
Not sure if it helps but this is how it looks right now. It's still meh but a lil cleaner

![screencapture-localhost-8000-mission-2019-02-21-15_23_54](https://user-images.githubusercontent.com/5358146/53159893-ced30280-35ec-11e9-9555-b5c7e085576a.png)

[2019-02-21 10:18] writeprovidence commented on #3619
@owocki a link to the landing page. pls take a look https://www.figma.com/proto/VzFu3OOOV1BSCryo265nZ2pA/gitcoin?node-id=36%3A3&scaling=min-zoom

[2019-02-21 10:31] Nnooo commented on #3493
[OneButtonWelcome.zip](https://github.com/gitcoinco/web/files/2888854/OneButtonWelcome.zip)
Here you go! @owocki

[2019-02-21 12:44] mehul0698 commented on #3713
@owocki @thelostone-mc I have created a pr #3798 with all the designs. Please review it once.

[2019-02-21 12:47] mehul0698 commented on #3713
@owocki I have created 5 accessories, 1 hairstyle and 1 mouth out of which atleast 4 or 5 of them are really exotic (extra). Please merge the PR and make the payout.

[2019-02-21 13:01] yash412 commented on #3713
@owocki I have created an PR #3797 with all the designs, please review it, thank you!

[2019-02-21 14:09] willsputra commented on #3771
@thelostone-mc looks better! :)

[2019-02-21 14:17] willsputra commented on #2510
first version
![verified](https://user-images.githubusercontent.com/19514207/53175207-74569800-3626-11e9-8445-1937c35f7420.jpg)

[2019-02-21 15:04] octavioamu opened #3799 "Fire email "new tip alert" even if you already have an ETH address in profile"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

I don't know I received some DAI in a tip if I already have an ETH address in my profile
Related #3753
**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

Fire email "new tip alert" even if you al

[2019-02-21 15:04] willsputra opened #3800 "Cancel Bounty Form says "stopped work" instead of "cancelled the bounty""
**Describe the bug**
When a funder cancels a bounty, the "Reason" section inside the Cancel Bounty form says "Please let us know why you stopped work"
![cancelbounty](https://user-images.githubusercontent.com/19514207/53178488-e7fba380-362c-11e9-9183-1d26aaf197fd.jpg)

**To Reproduce**
Cancel the bounty you've funded

**Expected behavior**
It should say
"Please let us know why you cancelled the bo

[2019-02-21 15:06] writeprovidence commented on #3619
after view the landing page, just click on the landing page, its will take you to the description page.

[2019-02-21 15:07] writeprovidence commented on #3619
Thanks, waiting for your reply

[2019-02-21 15:14] yash412 commented on #3713
@owocki I have the PR #3797 with 2 designs, please review the complete PR, thank you!

I made a total of 10 accessories , of which the Devil Horns/Angels Halo I consider to be exotic.

[2019-02-21 15:30] owocki opened #3801 "As a user, I want to be able to send a kudos anywhere (not just ETH address or Github) so I can spread the Kudos love everywhere"
### User Story
As a user, I want to be able to send a kudos anywhere (not just ETH address or Github) so I can spread the Kudos love everywhere

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*

[2019-02-21 15:42] willsputra commented on #3753
first place to inform the funder would probably be the Cancel Bounty form. what do you think? @PixelantDesign

![cancel bounty crowdfund tip](https://user-images.githubusercontent.com/19514207/53181243-2c3d7280-3632-11e9-85ed-8be3960cdc3a.jpg)

[2019-02-21 15:50] owocki opened #3802 "As a user, I want a more clear explanation of how data is stored, so I don't get surprised that my email address is out there."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want a more clear explanation of how data is stored, so I don't get surprised that my email address is out there.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Su

[2019-02-21 15:52] owocki opened #3803 "As a user, I want to have private bounties, so I don't expose my contact information to the internet."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to have private bounties, so I don't expose my contact information to the internet.
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

see convo from co

[2019-02-21 17:04] PixelantDesign commented on #3660
nope looks good! Thanks @emiwatanabe422

[2019-02-21 17:41] willsputra commented on #3790
![private bounty success email](https://user-images.githubusercontent.com/19514207/53189617-ea68f800-3642-11e9-8daa-4b34a95c954f.jpg)

[2019-02-21 17:51] owocki commented on #3493
thanks @Nnooo !! @PixelantDesign can you pls issue payment? https://gitcoin.co/issue/gitcoinco/web/3493/2181

[2019-02-21 17:58] owocki commented on #3399
note to self: checkout how kickstarter does this when desingning this feature.

i think having tiers of contributors, like [this](https://www.kickstarter.com/projects/occipital/structure-sensor-capture-the-world-in-3d) might be interesting
<img width="397" alt="screen shot 2019-02-21 at 10 57 31 am" src="https://user-images.githubusercontent.com/513929/53190760-82c19700-35c7-11e9-848c-0fbc0e0d1a5c

[2019-02-21 18:15] pipermerriam commented on #3784
Or some subset that you or some other decider deems worthy.

[2019-02-21 20:41] werzedef commented on #3783
I second this, here is a screenshot of what I see:

[2019-02-21 21:22] PixelantDesign opened #3806 "Document All Features of Gitcoin"
### As a contributor/funder I'd like a place to reference all of the features that exist on Gitcoin.

**This Bounty is for Part 1**

### Definition of Done

**Part 1**

- [ ] Document all features as outlined in [google doc](https://docs.google.com/document/d/1PNJt1-nZTZlcxiZlcVyW5aJJbMuEf20wfQVREGBHsMo/edit?usp=sharing)
- [ ] Review and make recommendations where the current content fits in https

[2019-02-21 21:51] PixelantDesign commented on #3777
Agreed! Thanks for opening this ticket!

[2019-02-21 23:07] owocki commented on #3713
@mehul0698 ETH in yo' inbox

[2019-02-21 23:14] owocki commented on #3801
hi @iamonuwa looking forward to working with u again

I'm looking for three tabs, for three different sending mechanisms, to allow hte user to toggle between them

[2019-02-21 23:20] owocki commented on #3619
thanks @writeprovidence  -- i think this looks directionally right.   any interest in building it?

@PixelantDesign any feedback before i payout?

[2019-02-21 23:43] iamonuwa commented on #3801
:thinking_face:

Alright. three different sending mechanisms you mean, share through github, eth or copy paste link?

Do you have an inspiration of what you want? I would love to get this done immediately.

[2019-02-22 00:40] owocki commented on #3801
no i dont. i think its small enough that it doesnt need to go through design.  you can use the tabs css thats on `/settings` if you need CSS

[2019-02-22 00:42] owocki opened #3808 "suggestion from a user"
I also wanted to make a recommendation for the Gitcoin platform that I think could be useful. Maybe there could be a system for freelancers to give a final "ok" to a transaction just to check that the details are correct.

I think it would prevent some mistakes from inexperienced people like me. For example, I was one of the last people who submited a wallpaper for the wallpaper issue a couple wee

[2019-02-22 02:02] #3768 closed

[2019-02-22 02:08] andresberejnoi commented on #3195
I noticed that there are very specific sizes for the avatar assets. Is there any standard template to work over, or do we need to make sure we stay within the appropriate sizes? Also, how can I set the canvas in GIMP at the specific artboard size (899.21px by 1415.66px) that is indicated on the avatar asset guide?

[2019-02-22 03:02] owocki opened #3809 "errors upon trying to deploy"
[code]

AND

[code]
AND

[code]

[2019-02-22 03:49] owocki commented on #3714
i hacked together a quick script that visualizes the diversity in our community

![animated](https://user-images.githubusercontent.com/513929/53218615-0c01b980-361a-11e9-9cc7-021ffabef09d.gif)

[2019-02-22 04:16] michaelgreen06 commented on #3714
Fun!

On Thu, Feb 21, 2019 at 8:49 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-02-22 09:58] thelostone-mc commented on #3657
Any update on this @PixelantDesign / @Jefreesujit

[2019-02-22 11:22] writeprovidence commented on #3619
@owocki i think @iamonuwa can build. he is good and fast too.

[2019-02-22 13:41] danlipert commented on #3370
@owocki @kuhnchris I got this running on my staging instance (seagraves.stage.gitcoin.co) and deployed a grant successfully. I will give this a more thorough test towards the end of this sprint but so far so good 👍

[2019-02-22 14:09] yash412 commented on #3713
@owocki can I submit better renditions of existing items if huge improvements can be made?
Some of them are not aligned or designed with uniformity which gives it a non professional looks.
Or more superhero/girly items?

You can see my work on #3797!

[2019-02-22 15:06] owocki commented on #3712
just approved a bunch of you; looking fwd to working together;

here's some of the schwag we did for ETHDenver recently!
<img width="598" alt="screen shot 2019-02-22 at 8 05 27 am" src="https://user-images.githubusercontent.com/513929/53250932-b3add480-3678-11e9-8c71-db5ff6d0f16d.png">

[2019-02-22 15:11] owocki commented on #3713
@yash412 your work is dope and i <3 it.  want to list off a few things you want to fix so i can get a sense of what you want to fix?  one item i know we need to fix is that `Mask-head` does not orient correctly on the saved avatars, thats something @kuhnchris and i were looking at, but i can't find the ticket for it

[2019-02-22 15:11] owocki commented on #3809
@danlipert is there any fix it twice for this, or does the stopgap work suffiicently?

[2019-02-22 15:52] owocki opened #3811 "As an avatar builder user, I want a shuffle button, so I can just pick a random avatar without thinking."
---
name: Feature request
about: Suggest an idea for this project

---

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an avatar builder user, I want a shuffle button, so I can just pick a random avatar without thinking.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you w

[2019-02-22 15:52] owocki commented on #3811
@kziemianek any interest in this?

[2019-02-22 16:15] mehul0698 commented on #3713
@owocki due to the way the avatars are modelled I was not able to make any clothing options as very less portion of the clothes are visible every thing turned out to be a simple shirt.

[2019-02-22 16:23] yash412 commented on #3713
@owocki, the following the ones I can improve drastically:
1 ) Pirates Eye, looks too primitive
2 ) The Dollar Chain? Overlaps with the Hoodie outfit.
3 ) All the superhero masks

I apologise to any creators if I have offended you but this is from a purely objective perspective.

[2019-02-22 16:26] owocki opened #3812 "bug - grant deploy does not correctly pass txhash to backend, causing blank screen upon grant creation"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
bug - grant deploy does not correctly pass txhash to backend, causing blank screen upon grant creation

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
we dont know the repro steps, but this happened to a user on windows 10

![image 16](https://user-images.githubusercontent.com/513929/53255832-b

[2019-02-22 16:32] owocki commented on #3713
@mehul0698 thanks, i dont think its an option to change the body size at this time though.  could you just make clothing that is 'above the fold' so to speak?

@yash412 i'm more excited about doing new avatar items than i am redoing the old ones, but if you want to try another pass at the pirate eye that sounds good to me.  in the meantime, it'd be good to add some more original items too!

[2019-02-22 16:35] #3583 closed

[2019-02-22 16:38] #3518 closed

[2019-02-22 16:39] #3586 closed

[2019-02-22 16:39] #3626 closed

[2019-02-22 16:40] #3517 closed

[2019-02-22 16:51] #2546 closed

[2019-02-22 17:11] aesthytik opened #3815 "The view on github button looks messed up!"
![write a comprehensive readme that describes the widgetbot platform widgetbot io funded issue detail gitcoin gitcoin](https://user-images.githubusercontent.com/26917061/53258296-4c346b00-36f2-11e9-91cd-27998adc0a6b.png)

**Describe the bug**
The View on github btn is not flexed

**To Reproduce**
It just visit the bounty page. If comments are more, it will distort

**Expected behavior**
It should

[2019-02-22 17:24] deeayeen commented on #3699
Awesome feature implementation! +1!

If no one else is interested I'll be happy to do this.

[2019-02-22 17:28] PixelantDesign commented on #3699
@deeayeen I have other front-end work if you're interested!

[2019-02-22 17:28] deeayeen commented on #3699
@PixelantDesign Always!

[2019-02-22 18:18] thelostone-mc commented on #3783
`docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999` should fix it. Updated the docs too ! Thanks ^_^

[2019-02-22 18:23] #3783 closed

[2019-02-22 18:29] owocki commented on #3811
@santteeget lets just build the shuffle functionality for now, and worry about those constraints in a v2 PR if needed

[2019-02-22 21:10] thelostone-mc commented on #3815
It has been addressed and the [PR changes](https://github.com/gitcoinco/web/pull/3821) have been thrown in!
Will be fixed once we deploy the greatest and latest.

Thanks for the report man @aesthytik  ^_^

[2019-02-22 21:10] #3815 closed

[2019-02-22 22:28] 65black commented on #3699
This looks interesting. Is @deeayeen still taking this? If not, I'm more than happy to jump on it.

[2019-02-22 22:43] octavioamu commented on #3699
now the issue explorer is using bootstrap popover, so can be used as a guide of how to use it for this feature.

[2019-02-22 23:29] PixelantDesign opened #3824 "Clean Up and Surface Leaderboard In the Top Nav"
### User Story

As a Funder I'd like to easily see who the most active/best contributors are on the Gitcoin Platform.

As a Contributor I'd like to see who the best contributors are on the Gitcoin Platform.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summ

[2019-02-22 23:39] PixelantDesign commented on #3493
@Nnooo please submit work!

[2019-02-22 23:44] Nnooo commented on #3493
Ok will do!

[2019-02-23 01:20] Nnooo commented on #3493
@PixelantDesign done, let me know if you need anything else!

[2019-02-23 09:00] uivlis commented on #3712
![mario-gitcoin-bot](https://user-images.githubusercontent.com/7414543/53284238-0e6b2d00-375a-11e9-8fc6-dd6fc3c06b7d.png)

[2019-02-23 09:13] gwpl commented on #2169
Many users prefer GitLab to GitCoin for variety reasons.

To me it's also question of the spirit of space : decentralisation.
Providing support to one then one platform is good for many reasons.

Please do provide:

* support for GitLab projects or separate version of gitcoin for gitlab?

Please consider providing until it's implemented:

* documentation how to use GitCoin for GitLab users, ok ins

[2019-02-23 09:31] knocte commented on #2169
I just put about 40USD as a bounty for this. @gwpl you're welcome to vote with your wallet to this issue now, let's make this happen! (you can add extra funds to an existing bounty, last time I looked gitcoin already supported this crowdfunding-mode model)

[2019-02-23 10:13] iamonuwa commented on #2169
This is nice, but what do you think of adding login with GitLab as well?

[2019-02-23 10:16] knocte commented on #2169
Fine by me of course, but maybe can be considered a separate issue (that you're welcome to file separately). Bounties should stay as small as possible in scope so that a bounty-hunter can have a clear goal.

[2019-02-23 11:04] yash412 commented on #3713
@owocki , please check my PR #3825 and review, I have made the changes to the Eye Patch and added some more items!

[2019-02-23 12:12] Virtual-Face commented on #3712
I made a poll request: https://github.com/gitcoinco/creative/pull/42
How should I submit it here?

[2019-02-23 12:47] yash412 commented on #3713
@owocki @thelostone-mc made the necessary changes and put up a new PR ( #3827 ) , please review!

[2019-02-23 13:02] thelostone-mc commented on #3789
@octavioamu would make sense to get the link the button in the modal -> to the settings page of the repo so that the funder can simply invite user directly

[2019-02-23 13:05] octavioamu commented on #3789
Yes is where it should go

[2019-02-23 13:39] xiaods commented on #2169
please review the work and list todo-list to clean the workround.

[2019-02-23 14:08] thelostone-mc commented on #3767
@owocki Ah that doesn't fix it up! The handle is not wrapped within a `<a>` tag.
#3828 fixes that

[2019-02-23 14:16] xiaods commented on #826
i suggest add another option, if the bounty fee have been send finished, it should be auto close bounty or add a tip on issue explorer list on gitcoin. i found i surf the gitcoin issue list, this close bounty is very annoy

[2019-02-23 14:51] Loveprit-Singh commented on #3713
i create new suit in clothes #3814 [](https://imgur.com/a/OpFdcyE) `<blockquote class="imgur-embed-pub" lang="en" data-id="a/OpFdcyE"><a href="//imgur.com/OpFdcyE"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>`

[2019-02-23 14:52] Loveprit-Singh commented on #3713
create new suit in clothes #3814
![shirt-45654](https://user-images.githubusercontent.com/38504305/53287958-bd365a00-37a8-11e9-91e1-2d6377d3b744.png)

[2019-02-23 15:08] #2071 closed

[2019-02-23 15:18] Loveprit-Singh commented on #3713
i create a new suit in clothing  #3829
![shirt-45654](https://user-images.githubusercontent.com/38504305/53288262-66cb1a80-37ac-11e9-9fd4-375a98692f71.png)

[2019-02-23 17:46] Anish-Agnihotri commented on #3802
Sounds like this could be resolved with some change in copy, potentially a tool-tip, and the medium article to better inform individuals of how their data is being stored?

The copy of the checkbox could change to:
`
I understand that this information is being submitted as plain text to a public, immutable blockchain. No one, including Gitcoin Core, will be able to take my funds or change this inf

[2019-02-23 18:52] Anish-Agnihotri commented on #3753
@willsputra That looks incredible actually. If you've got the SVG of the image (the purple image to the right side), or a sketch/xd/design file, I'd be happy to add it in right now to the cancellation form.

[2019-02-23 19:11] Anish-Agnihotri commented on #3793
Have the sketch file for the graphics? I'll add this in right now.

[2019-02-23 20:49] owocki commented on #3712
@Virtual-Face no need to submit here. ill pay u via tip when complete

[2019-02-23 21:44] owocki commented on #619
2ee097fe48a76397a5a003ea21ae442a09f28fcf

[2019-02-23 21:44] #619 closed

[2019-02-23 21:51] dvdptr commented on #3699
@PixelantDesign
Hi, is this bounty for the design of the popover or the implementation of attached file? I'm a designer and interested in this one, if it's about the visual design. thanks!

[2019-02-24 05:07] anshumanv opened #3832 "[UI] - Comments count box is breaking at instances"
**Describe the bug**
The GitHub comments count button is breaking at instances.

**To Reproduce**
https://gitcoin.co/issue/Giveth/giveth-dapp/342/2419

**Expected behavior**
It should stay aligned.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/53295347-3bcdde80-381f-11e9-8282-ca912a5dc1b9.png)

**Desktop (please complete the following information):**

- OS: MacOS Moj

[2019-02-24 08:12] iamonuwa commented on #3699
@gitcoinbot, work in progress. Will send in a PR before tomorrow

[2019-02-24 10:41] knocte commented on #2169
Sorry, what?

[2019-02-24 13:48] iamonuwa commented on #3801
@owocki am having issues loading kudos locally. Am using this command `docker-compose exec web bash -c 'cd app && python manage.py sync_kudos rinkeby filter --start earliest'
`. At the moment, it has not added any kudos to my local machine.

[2019-02-24 20:47] bhaveshAn opened #3833 "Improve Installation docs"
**Describe the bug**
Currently, Installation doc improvements required. like f string are supported by Py3.7 hence making virtualenv of py3.7 only and not general python3 etc.
**To Reproduce**

Checkout : https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY.md

**Expected behavior**

Specify py3.7 in virtualenv steps
**Screenshots**

**Desktop (please complete the following informatio

[2019-02-24 22:31] xiaods commented on #2169
@knocte i suggest list a checklist to help what need implement. e.g.
<img width="824" alt="2019-02-25 6 29 52" src="https://user-images.githubusercontent.com/37678/53306340-ec42ed80-38c6-11e9-9905-6dd9b2912fb1.png">

[2019-02-25 03:01] knocte commented on #2169
Sorry but I only see 1 item in that checklist:
* [] Make gitcoin support gitlab.

I don't see how this can be more simple really :)

I'm guessing, though, that a developer might understand this better if what I explain here is, instead of a checklist that needs to be done, an "acceptance test" that I would perform to check if the work covers the full picture. So, I would do this to test this work:

[2019-02-25 08:30] yash412 commented on #3713
Hey @owocki , can you please review my PR #3827!

[2019-02-25 09:45] dylanjw commented on #2250
I have submitted a fix for this in #3058 @frankchen07 @owocki

[2019-02-25 10:01] abitrolly commented on #2488
Double posting again

https://github.com/harmony-one/harmony/issues/390#issuecomment-466670257
https://github.com/harmony-one/harmony/issues/390#issuecomment-466670265

[2019-02-25 10:01] abitrolly commented on #2488
![image](https://user-images.githubusercontent.com/8781107/53329620-83c33300-38fd-11e9-88d0-1e92aac7abe9.png)

[2019-02-25 11:52] #3786 closed

[2019-02-25 11:53] thelostone-mc commented on #3832
@anshumanv thanks for the report ^_^

This has been fixed over at https://github.com/gitcoinco/web/pull/3821.
will be resolved once deploy these changes :)

[2019-02-25 11:53] #3832 closed

[2019-02-25 12:26] yash412 commented on #3713
@owocki & @thelostone-mc , my merge request has be approved, I made 9 accessories of which I consider 2 to be exotic.

So you owe me anywhere from 135 to 145 dollars. Thanks!

[2019-02-25 13:04] mehul0698 commented on #3713
@owocki @thelostone-mc I have made some clothing designs. Should I make a pr?

[2019-02-25 14:12] Virtual-Face commented on #3712
@owocki I've added to more bots.

[2019-02-25 14:21] #3767 closed

[2019-02-25 15:02] willsputra commented on #3793
@Anish-Agnihotri here's the Sketch file! :)
https://github.com/gitcoinco/creative/pull/43/commits/4d1245f1d809ea0a9b82c5b8835e262900675bae

[2019-02-25 15:08] willsputra commented on #3753
@Anish-Agnihotri here ya go!
https://github.com/gitcoinco/creative/commit/db5616fcae243104cf0c6e43171a048a4fe40ef9

[2019-02-25 15:57] Anish-Agnihotri commented on #3793
Will knock this out tonight.

[2019-02-25 15:57] Anish-Agnihotri commented on #3753
Will knock this out tonight.

[2019-02-25 16:47] danlipert commented on #3809
@owocki I have a WIP PR to make this look a bit nicer, plus work for prod and local deploys, with or without sentry: https://github.com/gitcoinco/web/pull/3837 I just want to do some final testing and then it should be good to go

[2019-02-25 17:08] owocki commented on #3713
@yash412 just sent u a tip

[2019-02-25 17:13] ceresstation opened #3838 "Unable to add github users who are not signed up to gitcoin as grant team members"
**Describe the bug**

It's currently only possible to add Gitcoin users to Gitcoin Grant teams

**To Reproduce**

Try adding an arbitrary Github profile to a grant team.

**Expected behavior**

Any github user should be able to join a Gitcoin Grant team as in many cases one team member is responsible for setting up the grant while others may have little to no interaction with Gitcoin.

[2019-02-25 17:17] ceresstation opened #3839 "Text formatting options for Gitcoin Grants pages"
### User Story

As a funder I would like to be able to add spacing, bolding, and otherwise be able to format text on my Gitcoin Grant page.

### Why Is this Needed

Currently text on Gitcoin Grant pages must be kept to a minimum to avoid creating an unreadable block. Adding spacing and bolding options would make it possible to add more robust descriptions to a given grant.

### Definition of Done

[2019-02-25 17:17] owocki commented on #3838
system was not designed to have non-gitcoin users as team memeberes. i think we need to take a deeper look at the DB schema here.

can we safely assume that all team members are at least *github* users?

[2019-02-25 17:18] owocki commented on #3839
i vote we use markdown here.  what do you think @danlipert @thelostone-mc @SaptakS @PixelantDesign  ?

[2019-02-25 17:19] owocki commented on #3493
@Nnooo @PixelantDesign is sick today :( but will respond when shes back.  thx for your patience

[2019-02-25 17:19] willsputra commented on #3777
Hi @friedger, thanks for opening the ticket! Would something like this work? 🙂

![gitcoin invoice](https://user-images.githubusercontent.com/19514207/53355651-71c8ab00-3964-11e9-89c6-6309ec84da61.jpg)

[2019-02-25 17:20] willsputra commented on #3748
@friedger Would this work? 🙂
![gitcoin invoice](https://user-images.githubusercontent.com/19514207/53355757-af2d3880-3964-11e9-865a-e58752e06abc.jpg)

[2019-02-25 17:21] ceresstation opened #3840 "Unable to change grant owner (Gitcoin Grants)"
**Describe the bug**

Currently when attempting to change the owner of a given Gitcoin Grant, the change will be made, but upon saving the page will reload and the owner will switch back to the previous one.

**To Reproduce**

Create a grant, attempt to switch the owner, save the changes.

**Expected behavior**

Gitcoin grant ownership changes persist.

[2019-02-25 17:22] danlipert commented on #3839
Definitely markdown, we can re-use code and keep the input experience unified across the site.

[2019-02-25 17:22] willsputra commented on #3748
We can prompt for postal address on the Funder Form (https://gitcoin.co/funding/new)
![artboard](https://user-images.githubusercontent.com/19514207/53355847-f287a700-3964-11e9-908c-d706555197b4.jpg)

[2019-02-25 17:23] ceresstation commented on #3838
Yes we can definitely assume Github users, the challenge is that often only one person from the team will actually handle the process via Gitcoin and the others wouldn't have any reason to create an account. It's not that big a deal for teams with 1-2 people but for teams with 4+ people the coordination cost of getting everyone to sign up can be high.

[2019-02-25 17:41] owocki commented on #3801
what does the stdout / logs show when you run the sync_kudos command?

have you added the env entries from https://github.com/gitcoinco/web/blob/master/docs/KUDOS.md ?

[2019-02-25 17:44] owocki commented on #3811
@santteegt how goes?

[2019-02-25 17:51] nasehim7 commented on #3712
Can a PNG be submitted for this?

[2019-02-25 18:05] frankchen07 opened #3842 "DESIGN - As a network operator, I want to properly communicate charging a % fee on a funder for funding a bounty."
### User Story

DESIGN - As a network operator, I want to properly communicate charging a % fee on a funder for funding a bounty.

### Why Is this Needed

As we roll out revenue tests and charging funders a percentage fee for posting bounties, the messaging and story arc behind this change is very important and should be carefully worded.

This ticket is a placeholder to figure out the content, de

[2019-02-25 18:33] owocki commented on #3712
@nasehim7 SVG pls!  PNG is good for previews

[2019-02-25 18:50] friedger commented on #3748
That looks good! Hopefully the postal address is stored in my users preferences :-)

[2019-02-25 19:02] mehul0698 commented on #3713
@owocki @thelostone-mc I have added 5 clothing styles in the pr #3843. Please review it once.

[2019-02-25 19:23] yash412 commented on #3713
@owocki thanks man!

[2019-02-25 20:02] frankchen07 opened #3844 "[Epic] - Ease of Use on Gitcoin"
### User Story

This ticket is to track UX changes on Gitcoin that improve the usability and UX.

### Why Is this Needed

Improving usability and UX improves the overall customer experience.

### Description

1. Fix up design ready static marketing pages:

- [ ] results
- [ ] mission
- [ ] values
- [ ] team
- [ ] faq

2. Setting up intuitive URLs:

- [ ] keeping a single page for funders and contr

[2019-02-25 20:23] frankchen07 opened #3845 "Update Funder Dashboard"
### User Story

The funder dashboard is a bit out of date. Let's update it.

### Why Is this Needed

We have received funder feedback on having a defined location where they can surface the work and issues they've currently funded and are working on.

### Description

Previous PRs: https://github.com/gitcoinco/web/pull/1351 migrated to https://github.com/gitcoinco/web/pull/2239
Previous ticket: ht

[2019-02-25 21:58] Anish-Agnihotri commented on #3753
^ Just pushed out the changes!

[2019-02-26 00:06] owocki commented on #2250
Thanks PR looks good!  Once its merged tag me and ill pay out

[2019-02-26 05:01] santteegt commented on #3811
Hi @owocki,

I Just finished digging into the code. I realized that avatar features are statically defined under `avatar/utils.js` which makes it easy to distinguish between free and paid items, while feature colour options are within `assets/v2/js/avatar_builder.js`. With that in mind, I'm going to develop this randomize avatar builder on the client side, under the avatar_builder js file. I expec

[2019-02-26 08:55] iamonuwa commented on #3801
Yes, I've added the env entries.

For the logs,
[code]

[2019-02-26 10:41] danlipert commented on #3812
I tested this on my windows 10 machine and wasn't able to replicate - but I did notice that if you reject the initial transaction and then try it again, this transaction never gets picked up by the page's JS and so the grant is never finalized with the contract address.

[2019-02-26 10:52] kziemianek commented on #3811
@owocki yes but... had old email for notifications, I was thinking about this button for a long time. If you have any questions/need help hit me up.

[2019-02-26 12:48] #3651 closed

[2019-02-26 13:31] PixelantDesign opened #3848 "Discussion : Star Ratings V2"
### Discussion

What should we include in Star Ratings V2?

Here are some ideas on questions...

**NOTE: Depending on how we frame these as statements or questions we'll have to reformat the answers.**

**Funder Form**
How was your overall experience with X?
What could have been improved?
- Was the job completed to your satisfaction?
- Was the contributor communicative? Responsive to changes/reque

[2019-02-26 15:31] #3800 closed

[2019-02-26 16:23] #3833 closed

[2019-02-26 16:26] PixelantDesign opened #3849 "Private Repo V1 Scrub"
Alisa's QA

UX Clean Up
- [ ] Github Repo Type - Change text to Select a Repo Type
- [ ]  Put Public/ Private Option Side by Side to save space?
- [ ]  Copy change: Important Notes on Private Repo Bounties
- [ ]  Gitcoin will Not have access to your private repo (Bold Not)
- [ ]  Prior to a contributor starting work, you’ll need to approve and provide repository access to each contributor.
- [ ] A

[2019-02-26 17:55] Anish-Agnihotri commented on #3793
@willsputra

Finished the page, see PR above for additional information.

Just need the copy for the FAQ accordion, and the link to the typeform now for a merge.

[2019-02-26 18:36] owocki opened #3850 "As a grant user, I want to see the matching partners on the landing page, so I can be proud of the matching I'm receiving"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
Feature
### Current Behavior
[comment]: # (Descr

[2019-02-26 19:01] owocki commented on #3316
@e18r looking fwd to working with you!

[2019-02-26 19:25] e18r commented on #3316
Thank you @owocki, any idea how to solve the issue I'm encountering?

[2019-02-26 19:30] owocki commented on #3316
@e18r those are rinkeby tokens.  you can add a new token to the list by adding a new `economy.Token`, or you can switch to mainnet or another network.

note that if you add new tokens that `retail.views.tokens` is cached so you ll have to bust that cache to make them show up.

[2019-02-26 20:03] PixelantDesign commented on #3850
Could we reuse the carousel that Octavio built for Featured Bounties/Kudos here?

[2019-02-26 20:31] owocki commented on #3811
@kziemianek no worries i understand.

@santteegt also checkout `avatar/utils.py` !

button positioning looks fine

[2019-02-26 20:37] owocki commented on #3850
@PixelantDesign whats the github username of the person i should reserve this bounty for?

[2019-02-26 22:00] PixelantDesign commented on #3850
@rafalkowalski please comment if you are interested in this ticket!
cc: @SaptakS

[2019-02-26 22:05] octavioamu commented on #3789
@SaptakS I need some help with this because `?mutate_worker_action=approve&worker={worker}'` is not an ajax endpoint so I don't have a success state to prompt the modal. I see 2 ways to solve this:

1_ Change that function to work with ajax calls and return json (that will need some changes in BE and a few in FE) most correct solution but more work also
2_ Add some kind of element as "message" may

[2019-02-26 22:30] SaptakS commented on #3789
@octavioamu check the message.tags in the javascript file and if it is "success" then it means that the approval worked.

[2019-02-26 22:49] PixelantDesign commented on #3493
Just paid. Thanks @Nnooo!

[2019-02-27 01:12] frankchen07 opened #3851 "Gitcoin.co Homepage URLs w/ new branding"
### User Story

Gitcoin.co Homepage URLs w/ new branding.

### Why Is this Needed

Fix it twice (sorta) with homepage and new branding.

### Description

From the first iteration (https://github.com/gitcoinco/web/issues/3774) we release the new homepages under `/bounties` and then we fix the URLs using our new branding schema as well as SEO / architectural friendly / non-repetitive URLs.

### Curr

[2019-02-27 01:24] kingjacob commented on #3041
@ej-sanmartin how's this going?

[2019-02-27 06:38] santteegt commented on #3811
Hi @owocki,

This is how a random avatar is being generated without considering constraints between items.

![avatars](https://user-images.githubusercontent.com/926341/53469931-d56adb00-3a2d-11e9-948a-7a86858fd96f.gif)

I didn't make a PR yet because there's still a little issue I'm having with certain accessory items that I need to review. In case you have any observations let me know so I can in

[2019-02-27 07:21] rafalkowalski commented on #3850
I will work on it.

[2019-02-27 07:25] rafalkowalski commented on #3850
@owocki I think that the tabs are missing in the design.

[2019-02-27 08:26] writeprovidence commented on #3619
@owocki am i getting paid anytime soon?

[2019-02-27 14:50] owocki opened #3852 "as a funder, i would like bounties to only go to a specific orgnaization, so i can scope bounties only internal to my company"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i would like bounties to only go to a specific orgnaization, so i can scope bounties only internal to my company

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-02-27 15:21] owocki commented on #3619
@writeprovidence pls submit work on gitcoin :)

[2019-02-27 15:24] owocki commented on #3811
Hey @santteegt wow you made quick work!  Cool. :) I'm very excited to see this.

Can you submit a PR?  cc @danlipert @thelostone-mc , we will comment on what you did once we see the code in the PR!

Btw, did you have any luck building a backend shuffler in python?  One experiment we want to run is assigning every new user who signs up to Gitcoin a random avatar, and we'll need to do that in python

[2019-02-27 15:24] PixelantDesign commented on #3811
very cool @santteegt !

[2019-02-27 15:25] owocki commented on #3850
ahh yes.  @willsputra can we add those real quick?  if not, maybe we can just use the tab design from the `/settings` page or in the profile page per your comment

[2019-02-27 15:30] eswarasai opened #3853 "Issue with claim tip button in email notification"
**Describe the bug**
`Claim tip` button in the email notification doesn't take the user to the claim tip page. Instead it redirects to `gitcoin.co`. Had to claim the tip from user profile menu.

**Expected behavior**
Should be able to claim tip directly from the email notification

[2019-02-27 15:59] willsputra commented on #3850
@rafalkowalski @owocki I think we can use the tab design from the profile! the blue one on activity history

![matching grants partners](https://user-images.githubusercontent.com/19514207/53503675-7d92a980-3aeb-11e9-8fe2-f552b7fbcf17.jpg)

[2019-02-27 16:27] #3657 closed

[2019-02-27 17:11] PixelantDesign commented on #3753
Thank you this looks great! Could we review @octavioamu @SaptakS ?

[2019-02-27 17:16] PixelantDesign commented on #3793
Could we remove FAQ?

[2019-02-27 17:16] PixelantDesign commented on #3793
What questions were you thinking would go in there @willsputra ?

[2019-02-27 17:19] Anish-Agnihotri commented on #3793
Sure, I can go ahead and remove the FAQ if there is no need for that.

[2019-02-27 17:29] willsputra commented on #3535
@owocki another suggestion for categories

![grants categories](https://user-images.githubusercontent.com/19514207/53510142-4080e400-3af8-11e9-97f2-62291d326e23.jpg)

[2019-02-27 17:36] willsputra commented on #3793
@PixelantDesign things like:
1. What is a verified contributor?
2. How do I get verified?
3. What are the requirements to get verified?
4. What happens after I request verification?
5. What are the perks of being a verified contributor?

... or other questions that might appear in the future.

I guess most of these are explained in the page already, so we can hide it for now. We can put it back if

[2019-02-27 17:46] owocki commented on #3535
melikes but what does @ceresstation @vs77bb think

[2019-02-27 18:47] PixelantDesign commented on #3753
Is there anyway to reword that text in the drop down menu to not call it a tip? @Anish-Agnihotri @willsputra

[2019-02-27 19:16] Anish-Agnihotri commented on #3753
I have the sketch file from @willsputra so I should be able to do it. What do you want it to say?

[2019-02-27 19:20] Anish-Agnihotri commented on #3793
Honestly, I think some of those questions have value. Especially, `What happens after I request verification?` or `What are the perks of being a verified contributor?`

Might be potential to still have a FAQ section but simply shorten it a bit?

[2019-02-27 19:24] PixelantDesign commented on #3850
great!

[2019-02-27 19:39] PixelantDesign commented on #3753
For Refunds to crowdfunding, in the profile menu,  could you change the language of Claim Tip to Claim Refund?
I think in general it's weird that it goes into the profile menu....it should go to the notifications so users know that they have a refund to claim. What do you think?

[2019-02-27 21:13] owocki commented on #3801
@danlipert @thelostone-mc did we ever figure out the kudos rinkeby syncing issues?

seems that dan isnt the only one who's having problems

[2019-02-27 21:16] PixelantDesign commented on #3842
<img width="1017" alt="screen shot 2019-02-27 at 4 11 23 pm" src="https://user-images.githubusercontent.com/238235/53523514-04736200-3aab-11e9-9e97-634f204013d9.png">

[2019-02-27 21:19] PixelantDesign commented on #3842
<img width="925" alt="screen shot 2019-02-27 at 4 17 45 pm" src="https://user-images.githubusercontent.com/238235/53523668-692ebc80-3aab-11e9-85f6-17512e117377.png">

[2019-02-27 21:26] PixelantDesign commented on #3842
<img width="918" alt="screen shot 2019-02-27 at 4 24 27 pm" src="https://user-images.githubusercontent.com/238235/53524031-65e80080-3aac-11e9-855a-642ac0495cfa.png">

[2019-02-27 21:30] PixelantDesign commented on #3853
Thanks for the report @eswarasai! Want to help us fix this one?

[2019-02-27 21:30] octavioamu commented on #3842
I just think the 10% have to be just from the bounty value not the featured bounty.
bounty 2eth
fee 0,2 eth
featured bountu .05 eth

[2019-02-27 21:39] #3686 closed

[2019-02-27 21:40] PixelantDesign commented on #3842
yes agree, bounty value of 2eth

[2019-02-27 21:46] tomo93 commented on #3714
![tomo93](https://user-images.githubusercontent.com/11611857/53525220-8d0cf500-3ae1-11e9-8f22-453b367886f8.png)

[2019-02-27 21:57] frankchen07 commented on #3842
I'd just change "We cover" to "This covers", it makes more sense to me.

I like the overall design, and how it starts with "no surprises", and it's after the gas limit. However, let's say the example above, they put in 2.50 ETH in the form, does this mean they have to go back up and change 2.50 to 2.55, or does the "payment due" at the bottom of the design automatically add it and take care of it?

[2019-02-27 22:13] StevenJNPearce commented on #3794
The issue persists. There is another issues reserved for me which I can't "start work" on. https://gitcoin.co/issue/MyBitFoundation/MyBit.website/76/2491

[2019-02-27 22:34] writeprovidence commented on #3619
[Design landing page.zip](https://github.com/gitcoinco/web/files/2912590/Design.landing.page.zip)

[2019-02-27 22:36] writeprovidence commented on #3619
@owocki i just submitted and i also sent in the Zip svg version, thanks waiting for payout.

[2019-02-27 23:56] santteegt commented on #3811
Hi @owocki,

Just created the PR for you to review it.

I didn't try building the process in the backend, but I can take a shot on that as well if you wish. Basically it should store the newly created avatar after logging in for the first time?

[2019-02-28 00:05] owocki commented on #3811
will take a look!

yes pls!

[2019-02-28 00:13] owocki commented on #3794
what do you experience if you try to start work on it?

[2019-02-28 02:36] knocte commented on #2169
@svipal: if you try to migrate every github occurrence that you find in the codebase, you might never finish, I mean, it could be a job that takes too long because there may be a lot of github-related features. What I proposed in #issuecomment-466855718 though, is that you take the simplest functionality, and make that work. Change your OS' hosts file to make the domain github.com point to garbage

[2019-02-28 03:46] santteegt commented on #3811
Quick question, where's the callback function that is executed after a (new) user login?

[2019-02-28 04:05] Anish-Agnihotri commented on #3753
Yeah, I think it is a bit weird that the notification goes to the profile menu instead of the notifications menu.

Just to clarify, do you want me to change the text of the image on the cancel bounty page to 'Claim Refund' and the text copy to 'Claim Refund', or do you want me to literally change the profile menu dropdown to read Claim Refund when killing a bounty?

[2019-02-28 08:55] svipal commented on #2169
I'm not trying to blindly migrate every github occurence, don't worry.
That's what I meant by  "there's a need to separate the github auth stuff from the github issue stuff".
I only want to deal with github issues for now, and not touch the auth unless it's needed. (it's needed at one point during the github issue validation process, that's why I was talking about oauth and the API token)
I agree

[2019-02-28 10:52] deeayeen commented on #3824
### Old Leaderboard
![](https://i.imgur.com/DJsWUie.png)

### Progress
![](https://i.imgur.com/LA6q96p.jpg)

### Goal
![](https://user-images.githubusercontent.com/238235/53276947-7aed1a00-36cf-11e9-9237-fdf4ece87da6.png)

 ### Done
 * [x]  Review gitcoin.co/leaderboard
 * [x]  Clean up the front end as shown in the design (_need to add table headers, change body to card, add winner icon, nav acti

[2019-02-28 11:39] StevenJNPearce commented on #3794
The button to start work is not shown; the bounty appears as if it was reserved for another user or not in the open state.

[2019-02-28 12:09] svipal commented on #2169
Been doing some more digging.

- There's also web/app/dashboard/models.py where every issue is assumed to be a github one , need to weave gitlab into that.
- Need to change create_new_bounty function  in app/dashboard/helpers.py:issue_details so that it calls the gitlab eq to get_gh_issue_details if the issue is a gitlab one.

I'm planning on short term to just make it work following the above acc

[2019-02-28 15:14] owocki commented on #3811
context.py:line 61.  Where the visit is recorded

[2019-02-28 16:52] bhaveshAn commented on #743
@owocki Since, this hasn't been assigned to anyone. I would like to work on this. Can you tell exactly what should be mentioned in this static page.

[2019-02-28 16:53] ceresstation opened #3867 "User cannot cancel duplicate Gitcoin Grant"
**Describe the bug**

In some instances users are not able to cancel their grants, awaiting more information on Browser / OS and further reproduction criteria.

**To Reproduce**

N/A

**Expected behavior**

Cancel button triggers usual flow for cancelling a grant.

[2019-02-28 17:06] PixelantDesign commented on #3824
ohhh exciting! cc @thelostone-mc ^

[2019-02-28 17:22] owocki opened #3868 "as a funder, i want more advanced reservation functionality, so i can choose who i want to work with"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want more advanced reservation functionality, so i can choose who i want to work with

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[2019-02-28 21:03] deeayeen opened #3869 "Profile showing 19 "Currently Working" bounties, can't apply for new bounties"
**Describe the bug**
 "Currently Working" tab showing 19 duplicates of the same bounty.

**To Reproduce**
Go to [my profile](https://gitcoin.co/profile/deeayeen)

**Expected behavior**
Go to "Currently Working" tab, you should see 19 duplicates of the "Transcript For Call 13" bounty

**Screenshots**
![](https://i.imgur.com/TTR3CpS.png)

**Browser:**

Google Chrome

# This has happened multiple tim

[2019-02-28 21:09] PixelantDesign commented on #3869
Thanks for the report @deeayeen we're looking into this now!

[2019-03-01 01:20] Razorblade16 commented on #3763
Another step would be getting Docker installed for testing.

[2019-03-01 01:34] writeprovidence commented on #3660
![facebook ads1](https://user-images.githubusercontent.com/31359701/53610258-2d3a4b00-3bc2-11e9-8afc-867c96a1c502.png)

[2019-03-01 01:35] writeprovidence commented on #3660
![facebook ads2](https://user-images.githubusercontent.com/31359701/53610276-388d7680-3bc2-11e9-8702-bf899f2e9dc4.png)

[2019-03-01 01:37] writeprovidence commented on #3660
@PixelantDesign pls take a look

[2019-03-01 01:43] Razorblade16 commented on #3763
Docker installed.

[2019-03-01 01:45] writeprovidence commented on #3660
@PixelantDesign the images have all passed the Facebook checker test

[2019-03-01 04:42] thelostone-mc commented on #3869
Paritally would be fixed by https://github.com/gitcoinco/web/issues/3715
That would clean up the All activity tab + The activity on the bounty detail

Currently working Activity. checking it out

[2019-03-01 04:54] thelostone-mc commented on #3824
@deeayeen Could you
- apply for start work
- make sure it's responsive
- also how are you getting the languages for the user ? me curious / is that hardcoded for now ?

[2019-03-01 08:18] deeayeen commented on #3824
@thelostone-mc
Hey Aditya,
* I can't apply to start work due to the issue described [here](https://github.com/gitcoinco/web/issues/3869).
* I am working on making everything perfectly responsive.
* The languages are currently hardcoded as a placeholder, but I assume they can be pulled from the "TECH_KEYWORDS" field in the LeaderboardRank section of the database. The issue is that this field is not

[2019-03-01 13:23] deeayeen commented on #3869
Can't submit work on the task either.

![](https://i.imgur.com/I4jLERq.png)

[2019-03-01 16:02] wanseob commented on #3794
I tried to reproduce that issue, but it presents buttons correctly. Would you please check this video?
https://drive.google.com/file/d/1F4cGvQcBQwrmQLrphJ-IE7MDPTKq4aj_/view?usp=sharing

There might exist three possible situations that:
1. It is already resolved. My current commit hash is [`8345e0`](https://github.com/gitcoinco/web/commit/8345e05dddbed1c4cd2fbc37c362f53d645c54d0)
2. The funder des

[2019-03-01 20:29] StevenJNPearce commented on #3794
@wanseob I have a hunch it could be related to case-sensitivity. You can see in my screenshot above it shows as reserved for "stevenjnpearce", however my github username is "StevenJNPearce". I received the emails telling me about the reserved issue as expected.

[2019-03-01 20:58] #3590 closed

[2019-03-01 21:05] PixelantDesign opened #3872 "Subtask of #3450 Build Front End Sharing with Kudos"
#3450

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin user, I want to get paid to invite my friends to work on Gitcoin, so that I can get paid for referring people to bounties. Gitcoin pays $5 for each referral made.

### Why Is this Needed
This is needed to get more well-qualified hunters to the platform for issues which aren't being solved.

[comme

[2019-03-01 21:11] PixelantDesign opened #3873 "UX Capture Star Ratings in Advanced Payout"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on bounties that need to be paid using advanced pay so that we can understand their experience with tasks that require multiple contributors to complete.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-03-01 21:15] #3697 closed

[2019-03-02 00:14] vinny2020 commented on #3783
I still get the same 0 bounties  after running ```docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999```

[2019-03-02 00:16] vinny2020 commented on #3783
looks like it might be a docker/redis issue:
[code]

[2019-03-02 01:53] Razorblade16 commented on #3763
![0301192046](https://user-images.githubusercontent.com/16426923/53675429-1ba97f80-3c64-11e9-8346-2301bd2eada4.jpg)

[2019-03-02 01:55] Razorblade16 commented on #3763
https://user-images.githubusercontent.com/16426923/53675429-1ba97f80-3c64-11e9-8346-2301bd2eada4.jpg

[2019-03-02 01:56] Razorblade16 commented on #3763
![new project](https://user-images.githubusercontent.com/16426923/53675472-8955ab80-3c64-11e9-89aa-04833a80d93f.png)

[2019-03-02 09:40] svipal commented on #2169
Progress :
Gitlab issues are correctly synced on the new bounty page.
Try out my fork to see it in action.
You will need to set a personal access token for your gitlab account, then add it in the .env at GITLAB_API_TOKEN to make it work.
Will work on both public issues and your personal private issues.
Next step :
immediately : understand why it's hanging when I press the fund new issue button~
ne

[2019-03-02 10:07] svipal commented on #2169
@knocte Expect a working build in 2 weeks.
I know I can do it, but to be honest; I think the scale's off. It's a project of such importance to Gitcoin that it's not to be done by a lone dev on a $40 bounty.  Not really because of the work but because of the conventions : I have already , and will have to rename a lot of functions in a lot of parts of the project , add env variables, add conditions

[2019-03-02 11:14] wanseob commented on #3794
Thanks @StevenJNPearce, okay I'll take a loot at it. It'll be really thankful that if you check that the funder assigned you correctly.

[2019-03-03 06:04] santteegt commented on #3811
Hi @owocki,

I just updated the PR with the implementation to generate a random avatar for new users in the backend. However, I'm facing an issue with the order that different SVG avatar items are being set (i.e. long hairstyles are overlapping the head). Not sure if JSON data stored in `avatar_custom_avatar` needs to be ordered in a certain way. Could you test my implementation and see what could

[2019-03-03 14:49] srikarmv commented on #3806
Thanks for letting me access the doc. I can complete documenting all the features listed by 2 to 2.5 weeks from now. In case I'm approved for the work I will submit sample/draft documentation containing few of the topics mentioned in the doc, specifically Welcome to Gitcoin, How it Works, Issue Explorer by 3 days from the date of approval, based on which my work can be judged and it can be decided

[2019-03-03 15:53] owocki commented on #3811
Not in a place where I can test right now.. but here is the JSON from a long haired avatar that renders correctly.  Maybe that can help you figure out the order?

[code]

here's another one
[code]

[2019-03-03 15:58] owocki commented on #3121
yo @kuhnchris there is some upcoming 3box <> gitcoin integration announcements coming up (mostly related to kudos), and we were hoping we could announce the 3box integration then too!  is the PR ready for review?  if not, can we get it to a reviewable state?  if the answer is no, thats fine... we can kick this back to the community :)  appreciate your hard work on this, as always 🙏

cc @michaelsen

[2019-03-03 16:35] kuhnchris commented on #3121
well, for a "quick" getting-ready solution we can change the existing logic to include the now-generated avatars to ipfs aswell.
That's basically the only road-blocker for this thing.
If I get a OK for this I will implement that IPFS upload (and a matching management command to migrate the exiting). No idea what kind of impact that'd have on our ipfs node, we'd need to check it out.

[2019-03-03 16:38] owocki commented on #2169
I'd be happy to add some ETH to the pot..   How much do you think is warranted?  Also, I'd love to know how you're abstracting the app from just Github..

[2019-03-03 16:41] owocki commented on #3121
that route makes sense to me.  would we replace the current storage to IPFS, or just duplicate it such that its stored in both locations?

[2019-03-03 16:43] kuhnchris commented on #3121
which path you prefer? to keep the current system working i'd store it on both, and if we got some time  later on we can switch over from S3/server to IPFS.

[2019-03-03 16:44] owocki commented on #3121
i agree

[2019-03-03 16:45] kuhnchris commented on #3121
ok then i'll prepare a PR to add the storage to IPFS. keeping you posted.

[2019-03-03 17:24] wanseob commented on #3715
@danlipert How do you think about adding a `unique_together` option into the Meta class of the "Interest" model??

https://docs.djangoproject.com/en/2.1/ref/models/options/#unique-together

[2019-03-03 19:22] svipal commented on #2169
@owocki you can look at the commits on my fork to see what I've been doing to fetch the issue.
https://github.com/svipal/web/
basically import the gitlab API python bindings and do the same steps or so.
Right now it's very dirty but you can see the idea.
Concerning the ETH, I think about 200$ worth ? Since it's a collab bounty it would be nice to get multiple people working on this =)
@iamonuwa su

[2019-03-03 19:59] hatgit commented on #3869
The code I added at the end of the first sentence in the above Gitcoin bot comment didn't render, here it is: ```<div id="currently_working" class="col-12 activities" count="55">```

[2019-03-03 20:27] hatgit commented on #3869
It looks like GET requests continue to be fetched at a rate of about 2 per second and this continues in the background unabated, even when tested in Incognito mode with all plugins disabled:
```Fetch finished loading: GET "https://gitcoin.co/profile/deeayeen?p=2&a=all".```
from the above mentioned file/line: ```raven.js:1543 ```

<img width="704" alt="screen shot 2019-03-03 at 3 11 38 pm" src="htt

[2019-03-03 21:43] santteegt commented on #3811
Using the last example you gave me, I'm getting this avatar (I removed the `Wallpaper` property as it overlapped everything):

![avatar_santteegt](https://user-images.githubusercontent.com/926341/53702262-1454b400-3dd3-11e9-8c2e-59b1b9c7b902.png)

Not sure what is going on, if you generate the same avatar from the frontend, JSON data are similarly ordered but doesn't get this overlapping issue

[2019-03-04 06:50] satyamakgec commented on #3544
@gitcoinbot yes I am working on the issue.

[2019-03-04 09:20] 65black commented on #3699
@PixelantDesign Since there is no backend implementation to handle fetching of user data yet, how do you propose we get the data for the popover? Would dummy data be acceptable?

[2019-03-04 10:05] wanseob commented on #3794
Sent PR #3874

As @StevenJNPearce mentioned, it was related to the case-sensitivity.

[2019-03-04 12:22] SaptakS commented on #3386
This issue needs a lot of refactoring over various different html, js and py files. Here is a detailed document of the various ways we have the modal implemented and how we should go about refactoring:

*jQuery Modals*
Current:
- Many modals are currently written in jQuery as HTML string.
- The HTML string is then appended to the body or some other div and then we initiate the `.modal()` function

[2019-03-04 14:16] kziemianek commented on #3811
@santteegt seems like old bug from days where avatars were created only thorugh avatar builder, I noticed it occours also when avatar is created from admin panel. I can take a look at it and drop fix in separate PR.

[2019-03-04 15:16] willsputra commented on #3749
draft. yellow boxes = placeholders for illustrations.
![contributor landing page](https://user-images.githubusercontent.com/19514207/53742418-8ad8db00-3ed3-11e9-95ff-0cba020446f5.jpg)

[2019-03-04 15:17] kziemianek commented on #3869
There is a function invoked every 300ms on profile page `window.setTimeout(updateView, 300)` and HTTP call returns code 204 with no content so nothing is added to page. There is also weird check so if nothing is added to document the condition might not be satsified (`ignoreScrollOffset` is undefined). https://github.com/gitcoinco/web/blob/0c1a832ef55b2dd932f397cdea24f9f68bbd094c/app/assets/v2/js/

[2019-03-04 15:35] mbeharry commented on #3749
I am loving it.  Just made a quick update to Dean's doc.  Want to make the major sub-titles H2 or H3:

<h2>Available Python Freelance Programming Jobs - Click One to Start Contributing!
(List of open bounties)

<h2>Recent Activity on Our Python Programming Issues
(list of activities) but make them smaller

<h2>How It Works - Python Contributors / Coders Seeking Jobs
(keep the same format)

[2019-03-04 16:10] hatgit commented on #3869
@kziemianek thanks for the feedback here! Do you think a new error message should be created to rate limit the empty requests? @owocki  I wonder why this only affected @deeayeen profile (he mentioned multiple clicks around time of submission - perhaps that was enough to introduce the bug and cause it to persist). I would imagine somewhere in this Fetch function:

<img width="761" alt="fetch" src="

[2019-03-04 16:40] kziemianek commented on #3869
@hatgit I think that  `204` http code can be handled in such a way that `fetchInProgress` will be set to `false`.

[2019-03-04 16:57] PixelantDesign opened #3875 "Weekly Notification Recap - Funder & Contributor"
### Who

### What

### Why

[2019-03-04 16:57] PixelantDesign opened #3876 "Expand List of Notifications"
### As Gitcoin, we'd like our users to receive notifications for actions they should take.

We have a currently have a baseline set of notifications. We'd like to expand on this.

Current List

*List of notifications*
new_tip
worker_applied
worker_approved
worker_rejected
start_work
work_submitted
work_done
stop_work
new_crowdfund
new_kudos

# Definition of Done

- [ ] Add the following notificati

[2019-03-04 17:23] deanramadan commented on #3749
Looks great! In addition to what Marc wrote, the only thing I'd change is the Open Python Bounties button, change to "Browse Python Bounties", and I'd get rid of the How it Works so the Browse Python Bounties is the only CTA button

[2019-03-04 17:26] willsputra commented on #3749
@mbeharry @deanramadan updated! added the illustrations too
cc @PixelantDesign

![contributor landing page](https://user-images.githubusercontent.com/19514207/53750733-8f0df400-3ee5-11e9-94ae-cc0c616468ac.jpg)

[2019-03-04 17:27] deanramadan commented on #3749
Love it!

[2019-03-04 17:41] kziemianek commented on #3869
@hatgit i don't think we should bother user with an error message, and yes - introducing local per tab variable seems to be the simplest solution.

[2019-03-04 18:57] PixelantDesign commented on #3824
@thelostone-mc @SaptakS @octavioamu any ideas here?

[2019-03-04 19:00] kziemianek commented on #3869
Seems like there is also missing support for query param `a` with value `currently_working`.

https://github.com/gitcoinco/web/blob/8b7a79114bc2b5bd682d99334a47b9ff5fe18651/app/dashboard/views.py#L1275-L1277

There is no activity type with code` currently_working`. For this code query should be like this :
https://github.com/gitcoinco/web/blob/8b7a79114bc2b5bd682d99334a47b9ff5fe18651/app/dashboard

[2019-03-04 22:25] mbeharry commented on #3749
Hi All,

I added a final batch of tags to the doc.

First are the meta tags which should change depending on the bounty type:
Title Tags: Freelance <Python> Development Jobs & Bug Bounties. Complete Remotely & Get Paid in Crypto - Gitcoin
Meta Description Tags: Open bug bounties & software development jobs in <Python> for remote workers. Get paid in Crypto immediately. Make money while building ou

[2019-03-04 22:27] mbeharry commented on #3749
<"Python"> should be replaced for the other similar pages.

[2019-03-05 02:04] owocki commented on #3794
let me know when merged and will payout :)

[2019-03-05 02:04] owocki commented on #3794
thank you ! 🙏

[2019-03-05 03:15] owocki commented on #3811
@kziemianek hmmm.. any idea what the root cause is?

one workaround we could do is define a dict that orders from back to front which layers go first.  i'm not super familiar with the code to know if this already exists..

[2019-03-05 03:23] santteegt commented on #3811
I tried to sort the `dict` in that way but then I realized that didn't solve the issue due to the hairstyle component defines subcomponents back & front, e.g. with current data schema it isn't possible to order back_hairstyle->head->front_hairstyle

[2019-03-05 05:21] dylanjw opened #3877 "Bug when sending tip with default token (eth). tokenAddressToDetails for "0x0" token address returns null."
**Describe the bug**
The issue occurs when sending a tip without clicking the token drop-down and selecting Eth, but instead just letting Eth be the default selection option.  In this case, the token address is "0x0" instead of "0x0000000000000000000000000000000000000000".  The js function `tokenAddressToDetails` returns `null` when the address is `0x0`.  Javascript console:

[code]

**To Reproduc

[2019-03-05 14:07] prastut commented on #3824
I see @deeayeen has made quite a lot of progress. Are you finishing up @deeayeen or is the issue still up for grabs?

[2019-03-05 14:16] prastut commented on #2169
@svipal @owocki I am ready to contribute if it the work increases and requires 2 people. I also agree the scale is off.

[2019-03-05 14:18] PixelantDesign opened #3879 "Build Front-End Capture Previous Star Ratings"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on previous bounties that they've collaborated on so that we can understand their experience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Does not exi

[2019-03-05 14:20] PixelantDesign opened #3880 "Build Backend Capture Previous Star Ratings"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on previous bounties that they've collaborated on so that we can understand their experience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Does not exi

[2019-03-05 14:21] PixelantDesign commented on #3749
Looks great @willsputra ! Thanks for the input @deanramadan and @mbeharry !

[2019-03-05 14:24] PixelantDesign opened #3881 "Build Front-End Contributor Landing Page Updates"
### User Story

As a marketer, I'd like to have the ability to customize certain sections fo the contributor landing page so that it is more robust and has enough info to engage/entice that audience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: C

[2019-03-05 14:44] willsputra commented on #3753
@Anish-Agnihotri cc @PixelantDesign

It would be great if we could change the profile menu to read Claim Refund too, although that might cause some confusion if people are also using the menu to actually claim a tip...

I wonder if it's possible to separate claim tip and claim refund functionalities? 🧐

[2019-03-05 14:57] willsputra commented on #3759
once you rate a bounty, we’ll display a thank you modal and disappear.
![star rating](https://user-images.githubusercontent.com/19514207/53813057-b624fe00-3f97-11e9-89b9-4dd338c4d29c.jpg)

[2019-03-05 15:00] willsputra commented on #3879
![star rating](https://user-images.githubusercontent.com/19514207/53814341-6bf14c00-3f9a-11e9-9efe-b10926856398.jpg)

[2019-03-05 15:32] PixelantDesign opened #3882 "UX Inviting Users to Gitcoin Via Settings"
Alisa to flesh out this ticket

### Who

### What

### Why

[2019-03-05 15:34] willsputra commented on #3880
![star rating 1](https://user-images.githubusercontent.com/19514207/53816814-3d29a480-3f9f-11e9-8546-0bb9b403d9a7.jpg)

[2019-03-05 15:51] PixelantDesign commented on #3880
8

[2019-03-05 15:57] PixelantDesign commented on #3881
3

[2019-03-05 16:47] onlineth opened #3883 "Creating a bounty without being logged in"
**Describe the bug**
[comment]: # Creating a bounty without being logged in

**To Reproduce**
[comment]: # So long as MM is active, any user can create a bounty without being logged into the website

**Expected behavior**
[comment]: # User should be asked to login first

[2019-03-05 16:50] onlineth commented on #3883
![](https://i.imgur.com/O5ZnJcB.png)

![](https://i.imgur.com/G2Cu1MG.png)

![](https://i.imgur.com/jnNj5yZ.png)

[2019-03-05 17:17] PixelantDesign commented on #3842
They shouldn't have to back to the top to make any changes.

[2019-03-05 17:25] PixelantDesign commented on #3842
<img width="900" alt="screen shot 2019-03-05 at 12 23 12 pm" src="https://user-images.githubusercontent.com/238235/53824331-b4c8e680-3f41-11e9-99fd-132b347bd074.png">

Updated text attached.

I also shrunk the size of the gas area and the fonts in that section as well as updated Hiring header.
cc: @thelostone-mc has the sketch file already.

[2019-03-05 17:33] kziemianek commented on #3811
Definitely the `CustomAvatar#create_from_config` method should ensure that components are properly ordered so resulting SVG has properly stacked layers and for example, background component should be the first one.

[2019-03-05 17:46] kziemianek commented on #3811
@santteegt I think that `HairLong` and `HairShort` are mutually exclusive.

[2019-03-05 17:52] owocki opened #3884 "As a user, I want to be able to update my profile avatar from my profile, so I remember that I can customize my avatar when I "look into the mirror" (look at my profile)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to update my profile avatar from my profile, so I remember that I can customize my avatar when I "look into the mirror" (look at my profile)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would li

[2019-03-05 18:15] #3476 closed

[2019-03-05 18:28] #3794 closed

[2019-03-05 18:28] thelostone-mc commented on #3794
@owocki we good for payout ^_^

[2019-03-05 18:30] PixelantDesign opened #3886 "UX - Prompt to Capture Star Ratings (Email or Modal)"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on bounties that need to be paid using advanced pay so that we can understand their experience with tasks that require multiple contributors to complete.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-03-05 18:43] frankchen07 opened #3887 "Sentry upgrades - review and deployment"
### User Story

Sentry broke a couple weeks ago, @danlipert has made changes and this ticket is a placeholder to ensure that timely review and testing happens so he can push it out.

### Why Is this Needed

Sentry helps us catch errors.

### Current Behavior

Sentry fixes that need review and attention.

### Expected Behavior

Completed Sentry fixes.

### Definition of Done

- [ ] review & test
-

[2019-03-05 18:55] frankchen07 opened #3888 "As a Gitcoin admin, I want to put content migration to bed to help SEO (backend work)"
### User Story

As a Gitcoin admin, I want to put content migration to bed to help SEO (backend work)

### Why Is this Needed

Moving our content off Medium onto gitcoin.co will improve SEO.

### Description

1. set up wordpress (templates & SEO plugins), wordpress recommended per Marc Beharry, best for SEO and easiest for marketing team.
2. set up wordpress server, pick a template, set up templat

[2019-03-05 19:46] owocki opened #3889 "CSS issue on hover on profile"
![screen recording 2019-03-05 at 12 45 pm](https://user-images.githubusercontent.com/513929/53832946-ad570c80-3f44-11e9-8e8a-8fa57b8986be.gif)

[2019-03-05 20:21] frankchen07 opened #3890 "As a one-time grants contributor, I'm sad to see my one-time donation landing in the "inactive subscriptions" section."
### User Story

As a one-time grants contributor, I'm sad to see my one-time donation landing in the "inactive subscriptions" section.

### Why Is this Needed

It's not entirely clear what happens to my one-time donation. (It is a contribution, and it does happen, but to the user, there's no confirmation or indication that it did, and furthermore, it's confusing that it ends up in the "inactive su

[2019-03-05 20:22] frankchen07 commented on #3890
My vote is for the solution that gives the one-time donator confirmation that something happened after they contributed, while remaining clear that they're not a subscription.

A note that they're a "contributor" even after a one-time donation would be nice, thus, my vote goes for the solution:

[2019-03-05 20:41] frankchen07 opened #3891 "BUIDL - As a Gitcoin operator, I want to properly communicate charging a % fee on a funder for funding a bounty."
### User Story

BUIDL - As a Gitcoin operator, I want to properly communicate charging a % fee on a funder for funding a bounty.

### Why Is this Needed

As we roll out revenue tests and charging funders a percentage fee for posting bounties, the messaging and story arc behind this change is very important. This ticket is the build out of that.

### Description

@thelostone-mc should have the sket

[2019-03-05 23:26] owocki opened #3895 "Bug - User reports that when using Firefox, Gitcoin refreshes infinitely.a"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
how much effort do you see this proto-spoke direction taking? what end game are you thinking? % equity in the startups?

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
(asking contributor for repro steps now)

**Expected behavior**
[comment]: # (A clear and concise description of what you expec

[2019-03-06 00:27] owocki opened #3896 "bug - contrab is malformatted"
when trying to install crontab on prod

[code]

[2019-03-06 00:28] owocki commented on #3896
cc @danlipert so he knows to watch for this next time!

fixed in https://github.com/gitcoinco/web/issues/3896

[2019-03-06 03:50] owocki commented on #2169
I checked out https://github.com/svipal/web/ , specifically [this diff](https://github.com/gitcoinco/web/compare/master...svipal:master#diff-43678b358dcc82029231a46ced0eb590R115)

I'm excited about this direction, but i think we should provide a cleaner layer of abstraction in the code.

Instead of `get_issue_details` implementing an if/else statement for github/gitlab, i think there should be sep

[2019-03-06 05:35] b-mueller opened #3897 "Cannot fund an issue in DAI even though DAI has been pre-approved"
**Describe the bug**
The UI doesn't let me select DAI as form of payment even though I approved it a while ago & have successfully issued DAI bounties before.

I tried logging in and out and clearing the browser cache data which didn't fix the issue.

<img width="1324" alt="screen shot 2019-03-06 at 12 28 20" src="https://user-images.githubusercontent.com/5194767/53858210-e5755280-400b-11e9-99ef-e

[2019-03-06 07:06] lazaridiscom opened #3898 "void"

[2019-03-06 10:55] pandyamarut opened #3899 "404 Error after opening the "Open Source opportunities" page."
https://gitcoin.co/contributor
This URL Shows 404 error Most of the times

[2019-03-06 12:02] svipal commented on #2169
@owocki
I'm indeed working on it still. I agree - it's dirty - as I said on the long term there should be a clean repo agnostic layer before the function calls. I was just quickly making it work there  =)
Progress :
I'm working on a gitlab gitcoinbot. I'd like to talk to someone that worked on the GH gitcoinbot about the details.

According to what I've seen : The only problem with gitlab bot inte

[2019-03-06 12:36] svipal commented on #2169
Note: I'm talking about the gitlab.com server.
If one is hosting his own gitlab server then it's very possible to write a gitcoin service that would do that.

[2019-03-06 13:21] danlipert commented on #3896
Thanks @owocki will keep an eye out for this in the future 👍

[2019-03-06 13:26] danlipert commented on #3887
Just to add some context, sentry is currently working but the setup and configuration is a bit wonky - I've got a PR here to fix that I'll finish up and test: https://github.com/gitcoinco/web/pull/3837

[2019-03-06 13:32] danlipert commented on #3715
@wanseob nice! probably a good solution, thanks for the tip!

[2019-03-06 13:50] danlipert commented on #3801
@iamonuwa use the opensea sync method, that works for me
`docker-compose exec web bash -c 'cd app && python manage.py sync_kudos rinkeby opensea --start 1'`

[2019-03-06 13:57] Anish-Agnihotri commented on #3753
Sure, I can take a look and see if there is a way to separate the functionalities, although I'm not positive that it's possible.

If it is though, I'll throw it in. Otherwise, I'll change the SVG text, unless, you have any additional ideas?

[2019-03-06 14:32] santteegt commented on #3811
I'll use that to reorder avatar components after random generation

[2019-03-06 14:50] willsputra commented on #3753
@Anish-Agnihotri if it's not possible to separate the functionalities, we can keep the SVG text "Claim Tip" since we won't have a "Claim Refund" button yet 🙂

[2019-03-06 15:26] santteegt commented on #3811
I updated the PR. Seems that by changing the [handle_avatar_payload](https://github.com/gitcoinco/web/pull/3862/files#diff-9da4443d35f64563776bbd5236052e81) function to consider the order of avatar components solved the issue. Let me know if everything is ok :)

[2019-03-06 15:39] PixelantDesign opened #3900 "EPIC Build New Hackathon Experience"
Reference
https://github.com/gitcoinco/web/pull/2267

### User Story

As a funder I'd like to be able to create hackathons on Gitcoin.

As a hackathon participant I'd like to be able to see all of the prizes that are available on Gitcoin.

As a remote contributor I'd like to not see hackathon issues in the issue explorer since I cannot participate on these issues.

### Description

### Current Beh

[2019-03-06 16:03] PixelantDesign opened #3901 "Build Front End Hackathon Experience"
Reference
https://github.com/gitcoinco/web/pull/2267

### User Story

As a funder I'd like to be able to create hackathons on Gitcoin.

As a hackathon participant I'd like to be able to see all of the prizes that are available on Gitcoin.

As a remote contributor I'd like to not see hackathon issues in the issue explorer since I cannot participate on these issues.

### Description

### Current Beh

[2019-03-06 16:04] PixelantDesign opened #3902 "Build Backend Hackathon Experience"
Reference
https://github.com/gitcoinco/web/pull/2267

### User Story

As a funder I'd like to be able to create hackathons on Gitcoin.

As a hackathon participant I'd like to be able to see all of the prizes that are available on Gitcoin.

As a remote contributor I'd like to not see hackathon issues in the issue explorer since I cannot participate on these issues.

### Description

### Current Beh

[2019-03-06 16:47] PixelantDesign opened #3903 "Build Hackathon Landing Page"
Content coming from @alexvotofuture

Build a landing page with the following content for Ethereal Hackathon.

<h1> ETHEREAL VIRTUAL BOUNTYTHON </h1>
<h3>Powered by Gitcoin</h3>
<h2 b> April 1-30th </h2>

<p>Join Gitcoin for a pre-Ethereal NY virtual hackathon this April!

Hackathon challenges will be posted as bounties, with the best hacks receiving prizes in ETH & ERC-20 tokens. Main track winner

[2019-03-06 16:49] PixelantDesign opened #3904 "Design Hackathon Landing Page"
Design a landing page with the following content for Ethereal Hackathon.

<h1> ETHEREAL VIRTUAL BOUNTYTHON </h1>
<h3>Powered by Gitcoin</h3>
<h2 b> April 1-30th </h2>

<p>Join Gitcoin for a pre-Ethereal NY virtual hackathon this April!

Hackathon challenges will be posted as bounties, with the best hacks receiving prizes in ETH & ERC-20 tokens. Main track winners will receive free tickets to Ether

[2019-03-06 17:13] willsputra commented on #2964
need technical guidance... is it possible to pay out a percentage (<100%) of the bounty+crowdfund amount AND not close the bounty? so the bounty could still stay open until 100% of the bounty+crowdfund amount is paid out.

![artboard copy 3](https://user-images.githubusercontent.com/19514207/53899654-a54aba00-4075-11e9-903c-627373d32fcf.jpg)

[2019-03-06 18:22] iamonuwa commented on #3801
I had to stop work on this because I had a pending task that was ready to submit.https://gitcoin.co/issue/gitcoinco/web/3699/2453. Am going to continue with this once am done if its still available

[2019-03-06 19:06] owocki commented on #3884
fixed in https://github.com/gitcoinco/web/pull/3905

[2019-03-06 19:06] #3884 closed

[2019-03-06 19:11] owocki opened #3907 "CODE - As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'.

### Why Is this Needed

Further allowing users to customize their profile and MAKE IT LOOK GOOD will allow them to think of their gitcoin profile as their web3 job hunting identity, further increasi

[2019-03-06 19:13] owocki commented on #3811
awesome :) pls submit work on gitcoin so that i can pay u

[2019-03-06 22:53] janus commented on #3895
Desktop (please complete the following information):

    OS: Ubuntu 18.04
    Browser  Fire Fox
    Browser Version 65.0(64 bit)

Just noticed that it starts off refreshing continuously once I connect to Met
aMask.

[2019-03-06 23:16] owocki commented on #2964
yes if the checkbox that reads "pay using bounty funds" is not checked

On Wed, Mar 6, 2019 at 10:13 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter

[2019-03-06 23:16] frankchen07 opened #3909 "BUIDL - As a Gitcoin operator, I want to create a dispute resolution faucet to facilitate funder fee refunds."
### User Story

BUIDL - As a Gitcoin operator, I want to create a dispute resolution faucet to facilitate funder fee refunds.

### Why Is this Needed

Context: https://gist.github.com/thelostone-mc/dd89b2824f1c5243fd256a902bb2b29b#gistcomment-2855545

This is the place where funders can get the fee refunded. for posting a bounty (once the % fee is implemented)

### Description

1. The funder fee i

[2019-03-06 23:22] frankchen07 opened #3910 "DESIGN - Design a "nice bot" svg that is situated in the top left corner asking the user to check the Metamask popup when double transactions are necessary."
### User Story

DESIGN - Design a "nice bot" svg that is situated in the top left corner asking the user to check the metamask popup when double transactions are necessary.

### Why Is this Needed

Context: https://gist.github.com/thelostone-mc/dd89b2824f1c5243fd256a902bb2b29b#gistcomment-2855545

For certain Metamask transactions (Grants, and also the contract % fee), two transactions will be nec

[2019-03-07 00:39] owocki commented on #3897
yes looks like you have DAI enabled for this address per

[code]
yet I dont seem to be able to reproeduce this. The UI will only send the orange message if there is an error returning from web3 or if the `result.toNumber() == 0`.  to help me repro, can you confirm that metamask is unlocked, that you're "connected" to Gitcoin, and that you're on the mainnet?  any other repro ideas @b-mueller

[2019-03-07 00:39] owocki commented on #3899
where is this URL linked?

https://gitcoin.co/how/contributor is the correct link

[2019-03-07 03:15] owocki commented on #3910
does what @willsputra did on https://gitcoincore.slack.com/archives/CCZFZDT9V/p1551894024002400 count?

[2019-03-07 03:21] owocki opened #3912 "DESIGN - As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to update my profile header, to further customize my profile 'when I look in the mirror'.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2019-03-07 03:47] owocki opened #3913 "As a matching partner, I want to be able to apply to become a matching partner right on gitcoin.co/grants, so that I can get credit and the process is automated"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a matching partner, I want to be able to apply to become a matching partner right on gitcoin.co/grants, so that I can get credit and the process is automated

### Why Is this Needed

So that we can recruit more match partners in an automated way.

[comment]: # (Describe the problem and why this task is needed. Pro

[2019-03-07 03:47] owocki commented on #3913
@rafalkowalski your work on https://github.com/gitcoinco/web/pull/3870 is really good.  any interest in working on this too?

[2019-03-07 03:58] owocki commented on #3370
t minus ~3 weeks until legacy key support is withdrawn.  ( https://blog.infura.io/infura-dashboard-update-9f02d0643eb3 ) .. lets just make sure we keep our fingers on the pulse of this one

[2019-03-07 06:56] rafalkowalski commented on #3913
Thanks. I can work on its

[2019-03-07 08:55] pandyamarut commented on #3899
![screenshot from 2019-03-07 14-22-04](https://user-images.githubusercontent.com/28846178/53944176-d1515400-40e4-11e9-8d40-2c64a9464354.png)

[2019-03-07 08:59] pandyamarut commented on #3899
@owocki  Just Got an error while Going through it , Else it's your choice.
Thank you!

[2019-03-07 09:19] kziemianek commented on #3869
@hatgit are You going to PR a fix , otherwise i can take care of it.

[2019-03-07 12:17] #3889 closed

[2019-03-07 12:28] #3736 closed

[2019-03-07 13:41] emiwatanabe422 commented on #3760
For Review

![press-page](https://user-images.githubusercontent.com/46271233/53960653-2e232d80-412a-11e9-97b0-a9f3253be16e.jpg)

[2019-03-07 14:28] #3811 closed

[2019-03-07 14:58] PixelantDesign commented on #3903
@alexvotofuture how will users get to this landing page?

[2019-03-07 15:56] alexvotofuture commented on #3903
@PixelantDesign We are going to have sponsors, media, etc. link to the landing page. It will also be posted on CodeFund. Through April we could have a banner on the main Gitcoin page somewhere saying the hackathon is live, leading to the landing page as well.

[2019-03-07 15:58] alexvotofuture commented on #3903
The main purpose for this is to provide information on the hackathon so people know how/when to join, drive developer signups ahead of the hackathon, and to feature prize bounty sponsors to drive sponsor interest.

[2019-03-07 16:38] owocki commented on #3913
@rafalkowalski ill post a bounty and reserve it for you.  whats a paid ETH - price?

[2019-03-07 16:52] owocki commented on #3899
@pandyamarut thanks for the screenshot, and sorry for being overly dense -- where is that screenshot from?

[2019-03-07 17:43] willsputra opened #3917 "DESIGN - As a hackathon project member, I want to get funding for my project on Gitcoin Grants"
### User Story

As a hackathon project member, I want to get funding for my project on Gitcoin Grants.

### Why Is this Needed

There are lots of great projects sprouting from hackathons, and one way they could get funding to continue doing their project is through Gitcoin Grants.

How do we get hackathon teams excited about Gitcoin Grants? and how could Gitcoin help them get discovered by people

[2019-03-07 18:22] pandyamarut commented on #3899
![screenshot from 2019-03-07 14-22-04](https://user-images.githubusercontent.com/28846178/53979439-dc7fa080-4133-11e9-90aa-e6c8f7e25994.png)
@owocki

[2019-03-07 18:39] pandyamarut commented on #3899
![screenshot from 2019-03-07 14-22-04 1](https://user-images.githubusercontent.com/28846178/53980453-6597d700-4136-11e9-8333-85e575a0da33.png)

@owocki Please Check it.

[2019-03-07 18:41] PixelantDesign opened #3920 "PR Review Hackathon Experience Front End"
This is an Example

Review Hackathon Experience Front-End
**<Insert PR Link Here>**

[2019-03-07 18:57] rafalkowalski commented on #3913
I'm not sure but i think it will last more time than the previous one. I thought about 2 ETH amount.

[2019-03-07 19:04] frankchen07 opened #3922 "PR Review: Contract Fee"
Please review Dan & Aditya's contract fee work: https://github.com/gitcoinco/web/issues/3557

[2019-03-07 19:04] frankchen07 opened #3923 "PR Review: % Fee Funder Page"
Please review Aditya's % fee funder page work: https://github.com/gitcoinco/web/issues/3891

[2019-03-07 19:04] frankchen07 opened #3924 "PR Review: Faucet Dispute Cancellation Page"
Please review Aditya's faucet dispute page work: https://github.com/gitcoinco/web/issues/3909

[2019-03-07 19:04] frankchen07 opened #3925 "PR Review: Kubes Migration"
Please review Dan's Kubes Migration work: https://github.com/gitcoinco/web/issues/3711

[2019-03-07 19:05] mbeylin opened #3926 "Need to generate Gitcoin URLs based on bounty IDs"
As a Bounty Network, I would like to link to Gitcoin bounties so that they may be fulfilled by Gitcoin. The existing URL format we have is `https://gitcoin.co/issue/fulfill?sb_id=BOUNTYID` however that gives users a 403.

[2019-03-07 19:12] PixelantDesign opened #3927 "PR Review Capture Previous Star Ratings"
PR Review
Capture Previous Star Ratings

[2019-03-07 20:00] rafalkowalski commented on #3913
@owocki @SaptakS Do we have any mockups which show how the design should look? I mean for example where i should put the button to create new matching partner.

[2019-03-07 20:24] owocki commented on #3913
you can just use the button that already exists on the site http://bits.owocki.com/5ce7d6169bf2/Screen%20Shot%202019-03-07%20at%201.23.15%20PM.png

pls put it under "A special thanks to the following partners who have offered to match contributions to Gitcoin Grants. (Read Announcement Here)"

[2019-03-07 20:24] owocki commented on #3913
posting bounty now, reserved for you @rafalkowalski

[2019-03-07 22:37] owocki opened #3930 "example issue title"
example issue description

[2019-03-07 23:31] frankchen07 commented on #3763
@Razorblade16 - sounds good, looking forward to seeing your work!

[2019-03-07 23:32] frankchen07 commented on #3762
@damianlarrosa let me know if there's any additional information you need to get started on this issue!

[2019-03-08 03:15] owocki commented on #3925
@frankchen07 how do i review?

[2019-03-08 03:16] owocki commented on #3925
oh wait herp derp; this is just a ticket so that we remember to put star points on PR review

[2019-03-08 04:31] #3930 closed

[2019-03-08 04:32] #2778 closed

[2019-03-08 04:33] #2867 closed

[2019-03-08 04:48] #3619 closed

[2019-03-08 04:48] owocki opened #3931 "DESIGN - As a job hunter, I want to have a Gitcoin /jobs page, so I can see what kind of jobs Gitcoin's network has to offer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
DESIGN - As a job hunter, I want to have a Gitcoin /jobs page, so I can see what kind of jobs Gitcoin's network has to offer.

### Why Is this Needed

Right now our jobs page is fug.

Also, people come to us with an expectation that if they simply apply, that we're going to find time for them to have a half hour call

[2019-03-08 04:48] owocki commented on #3931
@emiwatanabe422 any interest in picking this up?

[2019-03-08 05:07] owocki opened #3932 "As a user, I want the Gitcoin activity feed to tie everything together for me on the platform, because there are a lot of disparate products / bounties, etc, and time-series data makes sense."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want the Gitcoin activity feed to tie everything together for me on the platform, because there are a lot of disparate products / bounties, etc, and time-series data makes sense.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current st

[2019-03-08 05:08] owocki commented on #3932
@vs77bb  @PixelantDesign i wrote this up to brainstorm ways that we could "tie all the products together".  not totally convinced of it's merit, and its def not a new priority, but figured it's worth sharing with you nonetheless.  feedback welcome

[2019-03-08 14:10] owocki commented on #3912
@maxstalker nice to meet you.  do you have a portfolio i can check out?

[2019-03-08 14:10] owocki commented on #3912
Yes

[2019-03-08 15:26] CPSTL commented on #3806
@gitcoinbot I am still working on this and speaking with the team about an update.

[2019-03-08 17:36] owocki commented on #3806
sorry, we still need to tune gitcoinbot. it shouldnt comment if youve commented in the last several days

[2019-03-08 17:42] b-mueller commented on #3897
Yeah, everything else works including funding with ETH. I can PM you my account credentials if you want to reproduce it?

[2019-03-08 17:42] b-mueller commented on #3897
Oops, I forgot that that would mean giving you my private key 😂

[2019-03-08 17:47] b-mueller commented on #3897
I tried doing it from scratch in a different browser but same result. I don't see any errors in the JavaScript console.

[2019-03-08 18:11] owocki opened #3935 "As a funder, I want permission / reserved for UI on bounty new to be changed, so I can have a clean UX"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I want permission / reserved for UI on bounty new to be changed, so I can have a clean UX

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
why is ‘permissi

[2019-03-08 18:25] frankchen07 opened #3936 "As a Gitcoin user, I want to be able to remake my account at a later point if I delete it so that I can not lose the ability to use a given GitHub account on Gitcoin."
**Describe the bug**

As a Gitcoin user, I want to be able to remake my account at a later point if I delete it so that I can not lose the ability to use a given GitHub account on Gitcoin.

So I reviewed the code to try and understand and could see for the GDPR delete function it doesn’t delete the profile entirely, only sets it inactive and does not set It as active again when recreating. This se

[2019-03-08 18:48] owocki commented on #3897
hmm... so it seems that the consistent repro issue is the account.  let me think on how to repro this and whether any other stuff could help reproduce...

[2019-03-08 19:03] PixelantDesign opened #3937 "Build Notification Email"
### As a user of Gitcoin I'd like to know when I have notifications in Gitcoin that I need to act upon.

### This task requires front-end and back-end knowledge.

### Turnaround Time 10 Days, please only apply if you can complete this within the time frame specified.

### Definition of Done
- [ ] Use current Gitcoin email template
- [ ] The name of the person should be **dynamic** based on who it'

[2019-03-08 20:27] PixelantDesign commented on #3777
Would something like this work @friedger ?
![53355651-71c8ab00-3964-11e9-89c6-6309ec84da61](https://user-images.githubusercontent.com/238235/54053898-b7804180-41b6-11e9-8eac-6f51fab0a8be.png)

[2019-03-08 20:29] friedger commented on #3777
Looks good!

[2019-03-09 00:07] hatgit commented on #3869
Sure, go for it! I wasn't 100% sure what was needed. Is the fix adding: ```currently_working = Bounty.objects.current().filter(interested__profile=profile).filter(interested__status='okay') \``` after line 1275(https://github.com/gitcoinco/web/blob/8b7a79114bc2b5bd682d99334a47b9ff5fe18651/app/dashboard/views.py#L1275-L1276)?

[2019-03-09 05:01] MaxStalker commented on #3912
@owocki Sure thing! You can find some stuff here https://www.deviantart.com/krigh/gallery/ and here https://dribbble.com/MaxStalker :)

[2019-03-09 11:14] emiwatanabe422 commented on #3931
@owocki I'd rather do this or the ERC 1789 landing page first and see how it goes. Is this one more pressing?

[2019-03-09 14:41] owocki opened #3943 "As a system admin, I would like the cron server to not run out of disk space, so it doesnt go down."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a system admin, I would like the cron server to not run out of disk space, so it doesnt go down.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[

[2019-03-10 15:50] octavioamu commented on #3883
This is by design, not really a bug. The owner of that not-logged user is the owner of the eth address (you need have metamask in that account to be able to interact as owner with that bounty)

Also if you fund a bounty and you are logged the system will detect you are the owner but need to switch to the correct metamask (and authorise) account to be able to interact with it, you will get the inte

[2019-03-10 19:36] onlineth commented on #3883
Okay, I was told in Slack by someone who I believe was on the project said that you must be logged in to post an issue.

[2019-03-10 19:36] #3883 closed

[2019-03-10 19:43] octavioamu commented on #3883
@onlineth yes is the best, but you prefer you can create a bounty without github account.

[2019-03-10 21:29] rafalkowalski commented on #3913
@owocki I've tried to create a transaction using sendTransaction method. You can check it here: https://github.com/gitcoinco/web/pull/3945

Unfortunately I don't know how can i show a popup with filled address in metamask. Only label of number is updated in metamask.
![image](https://user-images.githubusercontent.com/2479753/54091681-27dbbe00-4383-11e9-8536-ef4834e34cdc.png)

Do you have an idea h

[2019-03-10 21:42] owocki commented on #3912
everyone who has applied for this task has a really nice portfolio.  i'm going to approve all 3 of you to start work on ONE of these:

[2019-03-10 21:44] owocki commented on #3913
the 'to' address of the transactionparams should be prefilled into metamask.

If you click on Metamask it will show the transaction confirmation popup

[2019-03-10 22:05] owocki commented on #3931
@emiwatanabe422 the ERC 1789 landing page is higher priority

happy to hold this for you though.  what kind of timeline are we talking about?

[2019-03-10 22:56] owocki opened #3946 "Multiple types of Gitcoin Grants"
Similar to how Gitcoin Bounties supports competitive, contest, and traditional bounties, there are likely different schemes of Gitcoin Grant that we could allow to optimize for different funding types.

- One Time Contribution (currently supported)
- Recurring Contribution (currently supported)
- Recurring Contribution w CLR Match (currently supported)
- Kickstarter (funds only withdrawn if goal i

[2019-03-10 22:56] owocki commented on #3946
@vs77bb @ceresstation we've talked a bit about this before!

[2019-03-10 23:14] owocki opened #3947 "As a user, I want to be able to wear my Kudos in the avatar builder, so I can show off all I've accomplished."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to wear my Kudos, so I can show off all I've accomplished.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Users need to be able to show o

[2019-03-11 00:30] jacobcreech opened #3948 "As a Contributer, I want all of my completed bounties to show up on my profile"
**Bug Description**
As a contributor, I would like all of my completed bounties to show up on my Gitcoin profile. Currently, my Gitcoin profile does not show completed bounties correctly. I have some completed bounties showing up as `Unknown type` instead of completed and do not show up on my completed bounties tab.

**Steps To Reproduce**
Go to my [profile](https://gitcoin.co/profile/jacobcreech)

[2019-03-11 09:09] charlie4biz commented on #3912
@owocki any particular format save the banner image?

[2019-03-11 12:17] svipal commented on #2169
Progress :
Good news - the changes I made are compatible with the new gitcoin version with easy auto merge.
Bad news - It is gonna be tough. It's impossible to make gitcoin 100% gitlab compatible on the issue side without also implementing oauth for gitlab,
One exemple of things where it required atm :
the current gitcoin bounty url format is
https://gitcoin.co/issue/user/repo/issue
By default it'

[2019-03-11 15:19] dvdptr commented on #3912
@owocki I'd like to go with a minimalistic version, making use of brand colors that are shown as a gradient. first, I played around with some overlapping gradients, but this gone way too wild. that's why I'm going with this minimalistic approach, that I really like. pls let me know what you think.
in case you agree, I'm going to submit a PR. thanks!
<img width="955" alt="gradient02-preview" src="h

[2019-03-11 16:19] frankchen07 commented on #3910
@owocki - yes it does look like what we're looking for.

Ideally, I'd like this up this sprint, but that's contingent on hooking everything up. Generally looks like good progress though.

[2019-03-11 17:16] lucasvo opened #3950 "Gitcoin & Bounties Network show different amounts of funding"
Gitcoin's funding amount I believe is incorrect. For the following bounty:
* https://gitcoin.co/issue/centrifuge/go-centrifuge/438/2235
* https://explorer.bounties.network/bounty/2235

I believe what happened is that when creating the bounty initially due to a chrome bug I signed the transaction and created two bounties for the same issue. I later cancelled the bounty so Gitcoin might show the fun

[2019-03-11 18:04] owocki commented on #3912
@charlie4biz png pls!

@dvdptr that looks good to me.  @PixelantDesign what do you think?

[2019-03-11 19:27] PixelantDesign opened #3952 "Clicking on Gitcoin logo in the products nav should take user to Gitcoin.co/bounties/funder"
**Describe the bug**
Clicking on Gitcoin logo in the products nav should take user to Gitcoin.co/bounties

**To Reproduce**
Go to Gitcoin.co click on the very top Gitcoin logo in the black products nav bar.

**Expected behavior**
Should take user to https://gitcoin.co/bounties/funder

**Current Behavior**
Reloads the Gitcoin.co homepage.

**Desktop (please complete the following information):**

-

[2019-03-11 20:59] charlie4biz commented on #3912
![image-sample-3](https://user-images.githubusercontent.com/10086785/54157522-c120d800-4448-11e9-967c-701405799699.png)
![banner-sample-3](https://user-images.githubusercontent.com/10086785/54157540-ca11a980-4448-11e9-8add-276b1703e0e4.png)
What do you think? @owocki @PixelantDesign

[2019-03-11 21:01] charlie4biz commented on #3912
![image-sample-1](https://user-images.githubusercontent.com/10086785/54157686-1ceb6100-4449-11e9-8c36-412597bfc8a9.png)
![banner-sample-1](https://user-images.githubusercontent.com/10086785/54157699-25439c00-4449-11e9-9914-7d386996a0ba.png)
Just a couple of simple design not to be too distracting. @owocki

[2019-03-11 21:48] charlie4biz commented on #3912
![image-sample-4](https://user-images.githubusercontent.com/10086785/54160299-73f43480-444f-11e9-8689-ef15a301536a.png)
![image-sample-4-2](https://user-images.githubusercontent.com/10086785/54160300-748ccb00-444f-11e9-804e-08b16b08d8ef.png)
![banner-sample-4](https://user-images.githubusercontent.com/10086785/54160302-748ccb00-444f-11e9-9291-c5263223a37e.png)
What do you think about this final on

[2019-03-11 22:07] rafalkowalski commented on #3913
@owocki Thanks, How can user pass a value of eth?

[2019-03-11 22:09] owocki commented on #3912
i really like the blue one and the top pink one is good too

[2019-03-11 22:16] owocki commented on #3913
I guess you could just do an `prompt()` in javascript

[2019-03-12 01:22] charlie4biz commented on #3912
![image-sample-6](https://user-images.githubusercontent.com/10086785/54168120-533ad780-446d-11e9-8518-9558287f8962.png)
![banner-sample-5](https://user-images.githubusercontent.com/10086785/54168121-53d36e00-446d-11e9-9d0f-7c75085a76e6.png)
![banner-sample-6](https://user-images.githubusercontent.com/10086785/54168122-53d36e00-446d-11e9-9a30-689384e7ea31.png)
Which of these other two banners make

[2019-03-12 01:42] owocki commented on #3912
i like this one https://user-images.githubusercontent.com/10086785/54168121-53d36e00-446d-11e9-9d0f-7c75085a76e6.png !

[2019-03-12 07:13] charlie4biz commented on #3912
@owocki ok. You've picked 3 out of all the ones I have sent in. should I discard the others? If there are no corrections, can I PR the ones you picked?

[2019-03-12 11:37] vikrant1697 commented on #3713
@owocki Hey, I have added 3 girly and 2 men hairstyles [#3953](https://github.com/gitcoinco/web/pull/3953). Please review it once.

[2019-03-12 12:49] francopetra commented on #3935
Hi @PixelantDesign and @owocki!
Have been moving forward with the UI part in [this branch](https://github.com/francopetra/web/tree/reserved-for
), changing the form behavior and some buttons.
I created two users and the workflow works (Funder selects user, and when the user requests access, s/he can start work).

<img width="937" alt="Screen Shot 2019-03-12 at 9 12 57 AM" src="https://user-images.

[2019-03-12 15:24] owocki commented on #3935
this looks like really solid progress!

for all copy youre waiting on, just stub some copy in, or put some lorem ipsum in there, and we'll modify in code review if needed.

I think it should remain reserved, what do you think @PixelantDesign ?

[2019-03-12 15:41] owocki commented on #3713
they look good :) once its merged ill pay out

[2019-03-12 15:44] PixelantDesign opened #3954 "EPIC - Profile Completion"
### Scenarios

As Gitcoin we'd like to be able to capture and display the most accurate information about the users of our platform.

As a contributor, I'd like Gitcoin to understand the full picture of who I am as a developer.

As a funder, I'd like to have a place to understand who I would potentially be hiring for my bounty.

### Stories Summary

- Define elements that make up a profile. What d

[2019-03-12 15:51] owocki commented on #3912
yes pls PR the ones I picked :)

the only change needed (and this is my fault, sorry) is that it now looks like the profile picture is going to be on the left hand side.  we should just make sure they look okay in this format:

<img width="690" alt="Screen Shot 2019-03-12 at 9 50 11 AM" src="https://user-images.githubusercontent.com/513929/54214668-45587700-44ac-11e9-80c6-89c217767a8f.png">

i upd

[2019-03-12 15:59] PixelantDesign commented on #3950
Thanks for the repot @lucasvo! We will take a look.

[2019-03-12 16:24] owocki commented on #3954
for profile completion, we should decide what we want to ask for. i think this is my list

connect with github
everything in onboarding - 40%
avatar - 40%
do your first bounty - 20%
what else??

we will also need a design for the profile completion module.  something like this:
![LinkedIn-Profile-Strength](https://user-images.githubusercontent.com/513929/54217343-109aee80-44b1-11e9-8312-add872d50f

[2019-03-12 16:28] owocki commented on #3954
I think that 'profile completion' is maybe the wrong way to view this epic.  Instead, the meter should be framed as measuring how far along each user is in one of the two journeys:

1. As a coder, I want funding.
2. As a funder, I want coders.

In that vein, all of our products solve one of these two use cases so Ibelieve that we could/should have an area where we cross-sell our products to each o

[2019-03-12 16:48] willsputra commented on #3873
What do you think? @PixelantDesign @octavioamu @SaptakS
![Star Ratings Advanced Payout](https://user-images.githubusercontent.com/19514207/54219044-aa05e700-4529-11e9-8d16-d6275ba4f90c.jpg)

[2019-03-12 16:56] willsputra opened #3955 "DESIGN - Clean up profile menu"
### User Story

As a user, I want a clearer profile menu. Currently it looks like this:

<img width="293" alt="Screen Shot 2019-03-08 at 11 40 25 AM" src="https://user-images.githubusercontent.com/19514207/54219415-6eb7e800-452a-11e9-8827-7773144d4dbc.png">

### Why Is this Needed

Having too many options without proper groupings is confusing and makes it harder for users to find what they want.

[2019-03-12 17:01] owocki opened #3956 "DESIGN - As a funder, I want to be able to discover coders, so I can find the right person for my task/job/engagement."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
DESIGN - As a funder, I want to be able to discover coders, so I can find the right person for my task/job/engagement.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2019-03-12 17:02] owocki commented on #3956
cc @PixelantDesign @ceresstation for feedback

[2019-03-12 17:05] owocki opened #3957 "DESIGN - As a funder, I want to be matched to coders, so I can find the right person for my task/job/engagement"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
DESIGN - As a funder, I want to be matched to coders, so I can find the right person for my task/job/engagement

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
right n

[2019-03-12 17:05] owocki commented on #3957
x-post with https://github.com/gitcoinco/web/issues/3956

[2019-03-12 18:50] PixelantDesign commented on #3904
![Ethereal  Hackathon_DRAFT](https://user-images.githubusercontent.com/238235/54227166-c1b38000-44d5-11e9-8306-c6921bfd1024.png)

Per discussion
- Add Microsoft logo up top
- Remove Organizing partners section
- find a page to link to Bounty list page from this page
- Add microsoft, Consensys labs to footer

Am I missing anything @alexvotofuture ?

[2019-03-12 18:56] charlie4biz commented on #3912
@owocki alright. Done the required adjustment and submitted 4 header banners you picked. Submitted the two pick colored banner design.

[2019-03-12 19:21] Naggertooth commented on #3937
Still have enougth time for your task

[2019-03-12 19:22] PixelantDesign commented on #3904
Updated

Need microsoft logo

![Ethereal  Hackathon_DRAFT2](https://user-images.githubusercontent.com/238235/54229418-98e1b980-44da-11e9-9586-22ab49b1fbd5.png)

[2019-03-12 19:39] PixelantDesign opened #3958 "Build Ethereal Hackathon Landing Page"
### Description

Build Ethereal hackathon landing page.

**URGENT 5-7 day turnaround task.**

### Definition of Done

- [ ] Build the landing page.
- [ ] Put this page in this directory: Gitcion.co/hackathon/ethhack2019
- [ ] This page should be responsive.
- [ ] Review with @PixelantDesign @alexvotofuture @octavioamu

We will hook the buttons up to the appropriate links ourselves.

**Assets**

[E

[2019-03-12 19:51] samgos commented on #3958
I'm interested in this task, I would like to be approved and the time frame will be met, I can execute rwd using react and css.

[2019-03-12 21:57] MaxStalker commented on #3912
@owocki, please take a look at my try. I was trying to stay within brand guidelines and established style, possible theme adjustments and animations. Let me know what you think.
![cannon-yellow-pink](https://user-images.githubusercontent.com/3136647/54238797-7d060400-452a-11e9-9041-87d73ccd77c4.png)
![cannon-blue-yellow](https://user-images.githubusercontent.com/3136647/54238798-7d060400-452a-11e9

[2019-03-12 23:29] owocki commented on #3912
I like a lot!  @PixelantDesign what do you think?

[2019-03-12 23:38] MaxStalker commented on #3912
...and another one @owocki
![burst-blue](https://user-images.githubusercontent.com/3136647/54243236-b9406100-4538-11e9-956a-d7a6626b0e08.png)
![burst-pink](https://user-images.githubusercontent.com/3136647/54243234-b9406100-4538-11e9-9168-bc8ba1c75f73.png)
![burst-yellow](https://user-images.githubusercontent.com/3136647/54243235-b9406100-4538-11e9-9b74-fc89ded77fce.png)

and previews:
![example-b

[2019-03-13 00:30] MaxStalker commented on #3912
And some more exploration :)
![network-blue](https://user-images.githubusercontent.com/3136647/54245013-328f8200-4540-11e9-8340-02230d727a5a.png)
![network-pink](https://user-images.githubusercontent.com/3136647/54245014-328f8200-4540-11e9-9975-4e895e4f510d.png)
![network-yellow](https://user-images.githubusercontent.com/3136647/54245015-328f8200-4540-11e9-84c0-7a9cc42f9003.png)

...with previews:

[2019-03-13 00:31] MaxStalker commented on #3912
Looking forward to your input, @owocki

[2019-03-13 04:12] knocte commented on #2169
@owocki how can we move this forward? can any technical fellow from your team chime in wrt the url issues that @svipal described above? And when it comes to funding, maybe mentioning this gitcoin issue in twitter might increase pledgers? Thx

[2019-03-13 06:57] thelostone-mc commented on #3909
A few clarifications :
- Can requests be submitted only on cancellation ?
- Should we force users to redirect on cancel bounty / leave a button on cancelled bounty page making it optional?
- Should the button also be on the bounty details page ?

^ If so could we get mocksups for it ?

[2019-03-13 14:24] owocki commented on #2169
it'd be helpful to get a WIP PR up so we can see whats been done so far and how.

I dont see why we couldnt do this.

I'm fairly certainly we could keep this bounty url format and not have any namespace collisions.  But even if we didnt dashboard/models.py:bounty.url() is the only place we'd need to change (in addition to urls.py)

Respect.  Yes it's a big task!

[2019-03-13 15:57] owocki commented on #3912
@MaxStalker WOW 😍 , I think these are very cool + very on brand.  Let me check with @PixelantDesign @willsputra and the other designers.

[2019-03-13 16:13] cryptonautica commented on #3912
Couple of examples using brand assets/colours.
![Header1](https://user-images.githubusercontent.com/47461733/54295132-c0a45080-45b2-11e9-88b5-1a14cfc6ef63.png)
![Header2](https://user-images.githubusercontent.com/47461733/54295133-c0a45080-45b2-11e9-87c3-8b46e9d45ba2.png)
![Header3](https://user-images.githubusercontent.com/47461733/54295134-c0a45080-45b2-11e9-8cfd-9d1b83bbfa31.png)
![Header1-prev

[2019-03-13 16:18] PixelantDesign commented on #3912
Love them all!

[2019-03-13 16:30] owocki commented on #3912
Yes I'm thrilled with how this bounty is coming out!

Everyone who has done work for this, can you please submit your work as pull request to [this folder on the creative repo](https://github.com/gitcoinco/creative/tree/master/Brand/Wallpaper).  Please submit a (1) svg of the artwork and (2) also a png of the artwork.

From there I can start paying people out.

[2019-03-13 16:56] willsputra commented on #3912
Wow these are great! 🎉

[2019-03-13 16:56] iamonuwa commented on #3699
@gitcoinbot work is in progress. I need help to load the organizations as it only returns the org name from backend

[2019-03-13 17:04] #2204 closed

[2019-03-13 20:12] PixelantDesign commented on #3910
Can we try something a little more explicit?

<img width="615" alt="Screen Shot 2019-03-13 at 4 10 13 PM" src="https://user-images.githubusercontent.com/238235/54311351-ca29ba80-45aa-11e9-84e5-adab086be27f.png">
[Web3 CalloutAM.zip](https://github.com/gitcoinco/web/files/2963471/Web3.CalloutAM.zip)

[2019-03-13 20:30] owocki commented on #3712
just updated the list of bots requested in the ticket desc.  pls check it before you start work on a new bot!

[2019-03-13 21:53] PixelantDesign opened #3963 "Change Dropdown to User Search for Verified in Admin"
As a Gitcoin Core team member, I'd like to be able to search for users when verifying vs. growing through a dropdown.

#Definition of Done

- [ ] Change the dropdown to a search

<img width="870" alt="Screen Shot 2019-03-13 at 5 48 52 PM" src="https://user-images.githubusercontent.com/238235/54317197-e5032b80-45b8-11e9-9ab9-38dba826201b.png">

[2019-03-13 21:58] PixelantDesign opened #3964 "BUILD Update Basic Payout to include tooltip and pop modal on Star Ratings"
As a funder/contributor I'd like to be able to provide details in the star ratings.

#Definition of Done

- [ ] Implement ability to pop modal to complete details within star ratings
- [ ] Tooltip should show when user hovers over each star
- [ ] This module should work the same everywhere

#Tech Specs
- Update the component from advanced pay
- Change backend to accept.

#Data Tracking
- No change

[2019-03-13 22:57] ceresstation opened #3966 "Demystifying Recipient and Owner / Admin Addresses [Gitcoin Grants]"
Some users have expressed confusion as to what each respective address represents. Describing these in the grant creation process using an information icon could be a helpful way to resolve this.

[2019-03-14 12:45] francopetra commented on #3935
Thanks @owocki! (btw the project is amazing!), I will finish during the weekend.
What do you think about the notifications? Is there anything else I can do from the front end? (Already sending "permission_type = reserved", which can help trigger the notif to the user from the backend.

[2019-03-14 13:59] owocki commented on #3935
i suppose someone should get a 'a bounty has been reserved for you' notification right?  but that was not part of the original scope.  @PixelantDesign what do you think?

[2019-03-14 14:17] owocki opened #3968 "bug - 450 DAI bounty creation failed"
From a community contributor:

Hi,

I am trying to create a cooperative permisionless bounty with 450 DAI several types today with different gas settings but they all failed. See for example: https://etherscan.io/tx/0x15dfc52f320f1be2f6dcb9dd1e2b47bbada2cbddfd4eb8b47d92fa90a443e7ea

Only my initial ETH transaction for the Gitcoin "featuring" offering worked:

https://etherscan.io/tx/0x936a99d9d8d7

[2019-03-14 14:18] owocki commented on #3968
[code]
returns `1.79999999999999999999999999999999456912e+54` which should be enough to send the 450 DAI to standard bountites

[2019-03-14 14:22] owocki commented on #3968
args to the tx [see here](https://etherscan.io/tx/0x15dfc52f320f1be2f6dcb9dd1e2b47bbada2cbddfd4eb8b47d92fa90a443e7ea) all look correct, the user has enough tokens to do this, and there hasn't been any changes to new_bounty.js recently that would affect this (ref: https://github.com/gitcoinco/web/commits/master/app/assets/v2/js/pages/new_bounty.js)

i'm somewhat stumped on first pass.

@mbeylin got

[2019-03-14 14:28] owocki commented on #3968
i was able to fund a bounty with DAI on this bounty (how meta! lol) so DAI bounty funding is globally broken.. hmm 🤔

[2019-03-14 14:32] owocki commented on #3966
Owner / Admin Addresses - This is the address that "owns" the grant on chain and can make changes to the grant or cancel it.

Recipient - This is the address that the funds will go to whenever the subscription activates.

[2019-03-14 14:32] owocki commented on #3966
@PixelantDesign i'd happily add a bounty for someone to create an info tooltip with the above info if that works for you and @ceresstation

[2019-03-14 15:00] willsputra commented on #3886
Email and modal. Thoughts? @PixelantDesign @SaptakS @octavioamu
![Funds Paid Email](https://user-images.githubusercontent.com/19514207/54367130-d5650f00-46ac-11e9-9da6-9dac1326226b.jpg)
![Star Rating Modal](https://user-images.githubusercontent.com/19514207/54367135-d72ed280-46ac-11e9-8878-b7b373790f22.png)

[2019-03-14 15:09] owocki commented on #3903
is this replaced by https://github.com/gitcoinco/web/issues/3958 ?

[2019-03-14 16:27] frankchen07 commented on #3910
@PixelantDesign I like the wording better on the second (lower) design. It's more succinct. The sentence on the first one (upper) is not a complete sentence, so it didn't make sense to me.

I'd add two things, a comma after "network" and Ethereum should be capitalized.

[2019-03-14 16:45] frankchen07 commented on #3891
Adding Aditya's work preview here - this is when the bounty is funded in ETH:

![Untitled](https://user-images.githubusercontent.com/7516920/54375001-74eab900-463d-11e9-9972-d39e8ed7d95d.gif)

Successful creation:

<img width="1164" alt="Screen Shot 2019-03-09 at 11 58 09 PM" src="https://user-images.githubusercontent.com/7516920/54375052-8cc23d00-463d-11e9-94c7-ddc895eb8253.png">

When the user r

[2019-03-14 17:48] deeayeen commented on #3958
### Description
 Build Ethereal hackathon landing page.

### Progress
![](https://i.imgur.com/wVc1MK5.gif)

 **URGENT 5-7 day turnaround task.**
**DELIVERY BY SATURDAY, MARCH 16**

 ### Definition of Done
 * [ ]  Build the landing page.
 * [ ]  Put this page in this directory: Gitcion.co/hackathon/ethhack2019
 * [ ]  This page should be responsive.
 * [ ]  Review with @PixelantDesign @alexvotofutu

[2019-03-14 18:34] frankchen07 commented on #3909
I think requests can be submitted freely as well, and there are two situations that I can see where that's appropriate. This means that the refund page should be accessible on the issue details page as well as on the redirect after cancellation.

1. After cancelling, the funder accidentally closes the fee refund page. They can still access it through the issue details page.

2. The funder would li

[2019-03-14 19:59] frankchen07 opened #3969 "DESIGN - As a funder who submitted a refund request, I want email confirmation that my refund request is being processed, and confirmation of the action on the Gitcoin admin side."
### User Story

DESIGN - As a funder who submitted a refund request, I want email confirmation that my refund request is being processed, and confirmation of the action on the Gitcoin admin side.

### Why Is this Needed

When a funder funds a bounty and pays a fee, they are eligible for a fee refund if they cancel their bounty. The funder should receive confirmation after submitting a refund reque

[2019-03-14 20:32] PixelantDesign commented on #3910
Sounds good. I'm fine with either...

[2019-03-14 20:56] mbeylin commented on #3968
@owocki did something change? I'm seeing an allowance of 0 right now for that user transacting with stdb, and everything else about the bounty looks right (I tried issuing an identical bounty with a different payout, and it didn't throw).

[2019-03-14 20:58] mbeylin commented on #3968
In your code snippet you set `from` to be the address of the user, and then re-set it to be your own coinbase, which likely had that high allowance. Something tells me this user didn't have such an allowance, which would have caused this txn to fail.

[2019-03-14 23:05] owocki commented on #3968
ahh shoot thanks bey

[2019-03-15 07:06] b-mueller commented on #3897
Maybe some mismatch between what's in the DB and on the blockchain? Just guessing...

Anyway, it still doesn't work :(

[2019-03-15 07:37] Skyge commented on #3968
So, this problem has been solved?

[2019-03-15 10:42] Kisgus commented on #3968
Yes issue fixed, managed to deploy the issue now after re-adding DAI to Ethereum address

https://github.com/openbot-tech/core/issues/19

One remaining issue: I initially also send this tx to contribute 12$ to have the issue "featured"

https://etherscan.io/tx/0x936a99d9d8d7671e139f5eb706b5f012c52691293036ca0f965fd23334f87475

Any thing I should do to make that happen?

[2019-03-15 11:15] thelostone-mc commented on #3969
The email number 2 can also be triggered when the admin accepts / rejects a request IMO but defer to product 🙌

[2019-03-15 12:35] dvdptr commented on #3912
this is my PR for two gradient versions of the header – simple and nice ones :)
https://github.com/gitcoinco/creative/pull/59

[2019-03-15 13:44] PixelantDesign opened #3973 "Data Tracking for Star Ratings 1.1"
**User Story**
As a Gitcoin team we'd like to understand the data from the star ratings feature.

**Definition of Done**
- [ ] Provide recommendations on how to set up the tracking to engineering team.
- [ ] Confirm that recommendations provided are implemented and in place.
- [ ] Set up/modify meta base dashboard to support new data.

[2019-03-15 15:14] dvdptr commented on #3912
thanks a lot @owocki
is the bounty still open for further submissions or do you close after paying? I'd be interested to design some more, let me know what you think.

[2019-03-15 15:22] charlie4biz commented on #3912
Hi @owocki already done my PR 3 days ago which has been merge. Above https://github.com/gitcoinco/web/issues/3912#issuecomment-472137606

[2019-03-15 15:29] owocki commented on #3912
thx just tipped everyone who has a merged PR.  if you all submit your images as a PR i can pay you out!

[2019-03-15 15:44] dvdptr commented on #3912
@owocki
do you agree that I keep on working and submit another graphic or do you want to close the bounty soon? thanks

[2019-03-15 16:11] owocki commented on #3907
@iamonuwa how goes?

[2019-03-15 16:11] owocki commented on #3912
I'm going to close the bounty for now, as I think we have enough headers to get started

once https://github.com/gitcoinco/web/issues/3907 is implemented i will likely open up a 2nd bounty for more submissions

thank you to everyone for your hard work!

[2019-03-15 16:27] iamonuwa commented on #3907
@owocki awesome, work is in progress at the moment. CC: @gitcoinbot WIP

[2019-03-15 16:34] owocki commented on #3968
gitcoin core is working to make the bounty featured.  thanks for your patience!

[2019-03-15 16:59] willsputra opened #3975 "bug - Leaderboard is empty"
https://gitcoin.co/leaderboard

Leaderboard is empty...
<img width="1004" alt="Screenshot 2019-03-16 00 57 44" src="https://user-images.githubusercontent.com/19514207/54448377-8a1f2f00-4786-11e9-9b1f-cf6103803f68.png">

and so nothing's shown on Slack Gitcoinbot too.
<img width="619" alt="Screenshot 2019-03-16 00 58 42" src="https://user-images.githubusercontent.com/19514207/54448421-ad49de80-4786

[2019-03-15 17:16] owocki opened #3976 "idea - help unblock bounties adoption by creating documentation to onboard"
what if every repo that joins there is a small bounty to get to know the repo - and the task is to create a snapshot that other contributors can reference...like a quick takes on this repo, how to get around, etc.

from https://gitcoincore.slack.com/archives/GB0LNLBCP/p1552670083035100

[2019-03-15 17:21] owocki commented on #3975
re-running the mgmt command now

On Fri, Mar 15, 2019 at 10:59 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, face

[2019-03-15 20:50] PixelantDesign opened #3978 "Work Submitted Not Displaying"
https://gitcoin.co/issue/gitcoinco/web/3958/2596

<img width="1031" alt="Screen Shot 2019-03-15 at 4 48 11 PM" src="https://user-images.githubusercontent.com/238235/54461267-7d78e780-4742-11e9-9f82-f4d29d5f1b70.png">

**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

**Expected behavior**
[comme