[2020-09-30 20:30] GriffGreen commented on #7458
I was trying to take out the DAI grants in this cart in a brave browser:

If you delete 1 or 2 of them the front end looks fine... I think, but delete the third and then the grant still just sits there.

And even if i just delete 1 of them, and then try to share the cart... the cart wont load... it keeps loading forever.

https://gitcoin.co/grants/cart/bulk-add/1127;2000;316,899;1000;316,539;1000;

[2020-09-30 20:50] knocte commented on #5997
I did that the first time it happened.

Great, how about a template message such as "this issue is quite old, can you try to reproduce the problem again?" ? just, as the very least. I mean, it's pretty standard. You don't want to deter people from filing bugs I imagine.

[2020-09-30 21:12] octavioamu commented on #7458
wow that is a lot of grants, probably is the same problem, something on the function to delete grants is not working properly.

[2020-09-30 21:36] makoto opened #7572 "Cannot donate $PAN through zksync"
**Describe the bug**

Cannot donate $PAN through zksync

**To Reproduce**

- Add https://gitcoin.co/grants/1139/metacartel-builder-awards-panvala-league to the cart
- Donate 150 (or 100 if some of the PAN has to be used to pay the gas)
- Follow 3 steps in the wizard (sign in, approve, confirm)

**Expected behavior**

- After going through the 3 steps, I expect my donation to get confirmed and dona

[2020-09-30 22:46] owocki commented on #7572
hey @mds1 know whats going on here?

[2020-09-30 22:56] owocki commented on #5997
i agree proactive communication would be better. @thelostone-mc next time u close a batch of old issues is that a possibility?

[2020-10-01 00:42] mds1 commented on #7458
Fix ready in https://github.com/gitcoinco/web/pull/7573!

@GriffGreen If you haven't cleared your cart, the page will now load and the buggy cart entries will default to 0.001 ETH, and all your comments will be saved

[2020-10-01 01:34] mds1 commented on #7572
Hey @makoto! Posting the screenshot you shared on Twitter here for convenience.

![image](https://user-images.githubusercontent.com/17163988/94755325-0e290f80-0349-11eb-8aad-2b59d41bf4fa.png)

That modal is the "Complete Checkout" modal, indicating that you never actually finished checkout for your DAI contributions that you did the other day. This can be confirmed by looking at your Gitcoin zkSyn

[2020-10-01 01:40] aliatiia opened #7574 "Already checked out (zksync) days ago but the cart re-appears"
**Describe the bug**

I contributed to multiple projects days ago and checked out thru zkSync. Today the cart re-appears.

The cart does not include individual projects I contributed to after the zkSync check-out.  Those project were normal checkout.

**To Reproduce**

Check my cart (?)

**Expected behavior**

The contribution should have already been committed (as I assumed it did, it showed me '

[2020-10-01 01:48] owocki commented on #7408
i got asked why the brightid verification hadn't run yet for a user

[code]
the answer was

[code]

we should run it as soon as the user verifies i think, or at least 1x a day

[2020-10-01 06:47] knocte commented on #7363
Does the closing of this issue mean that a new gitcoin version (that includes @merwane's PR) has been deployed?

[2020-10-01 07:04] merwane commented on #7363
@knocte yep, the PR has been merged to master and included in stable and got deployed yesterday. Although you need admin logs to push a BTC bounty as of now.

[2020-10-01 07:24] knocte commented on #7363
I guess you mean admin login?
Great! can you please ping us here when normal users can? I want to try it out asap.

[2020-10-01 07:39] merwane commented on #7363
Yes exactly @knocte, sorry for the typo. Idk when the gitcoin team will open the feature to the public, but you can always give it a shot locally.

[2020-10-01 12:55] willsputra commented on #7553
right now devs are getting:
• email when tribe is joining a hackathon https://github.com/gitcoinco/web/pull/7146

from feedback:
• email when tribe is posting a bounty

[2020-10-01 13:22] octavioamu commented on #7458
@GriffGreen @RockmanR @zkeducation fix was deployed, just tested and is working fine!!! Sorry for the inconvenience.

[2020-10-01 13:35] adetunjee opened #7577 "Illegible Text on Bouties Page"
**Describe the bug**
On the [About Bounties](https://gitcoin.co/bounties/funder) page, the text seems to blend in with the background making the text extremely hard to read

**To Reproduce**
Navigate to https://gitcoin.co/bounties/funder and scroll down to case studies

**Expected behavior**
For the text to be clear and readable.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-10-01 13:43] aliatiia commented on #7574
UPDATE: the cart disappeared now.

[2020-10-01 13:59] benoxmo opened #7578 "The Cart is inacessible when clicked on"
**Describe the bug**
I have selected a bunch of grantees. I want to adjust the amounts and then pay. I click on the top left cart icon of my session. The cart starts to load with a text "fetching cart data" but that's it. The cart will never be displayed (and therefore paid)

**To Reproduce**
Once you have selected your grantees, you click on the cart icon to check & pay. But once clicked on the i

[2020-10-01 14:00] owocki opened #7579 "user directory v1.1 feedback"
continued from https://github.com/gitcoinco/web/issues/7334

HIGH PRIORITY
- [x] can we add copy/paste-able links to the directory?  for example, i serach for foo=bar and foo1=bar1 and i get gitcoin.co/user_directory?foo=bar&foo1=bar1 in the URL bar. when someone loads that search they'll be taken to that page
- [x] this list should be de-duped https://bits.owocki.com/8LurQKWp
- [ ] this list shou

[2020-10-01 14:06] owocki commented on #7408
add analytics to collections. view counts, add to cart counts, etc. displpay them publicly

[2020-10-01 14:07] owocki commented on #7408
Trends feedback

[code]

[code]

spammy dupe grants https://bits.owocki.com/p9uwxmXL

HTML spaghetti shows up on gitcoinlouis grant https://bits.owocki.com/qGuvpL7v

"accidentally clicking a grant instead of opening a new tab and then having to scroll back down" is annoying

[2020-10-01 14:09] #7578 closed

[2020-10-01 14:15] owocki commented on #7408
https://bits.owocki.com/o0umpzwn
https://bits.owocki.com/KouwD2o4
https://bits.owocki.com/9ZuB2nZO

hey @apbendi @mds1  one potential showstopper; from a user

[code]

do you know why the comments input in the cart were given to the wrong grants?  is there maybe some sort of 'off by one' error somewhere?

[2020-10-01 14:27] josjo80 opened #7580 "Problem with zkSync at checkout"
**Describe the bug**
I had an issue with using zkSync at checkout.  I got to the final confirmation button and submitted the transaction but it seems like it never went through.  I believe that I sped up the second transaction via Metamask so I'm not sure if that caused a problem.

**To Reproduce**
I got to the zkSync checkout, submitted the first transaction successfully, but the second transacti

[2020-10-01 14:44] mds1 commented on #7408
Hey @tvanepps! Did you remove any grants from your cart? I'm guessing that may be the cause, and for some reason the comments didn't shift accordingly. It's possible this is fixed now after #7573, but I'll need to look into this to confirm

[2020-10-01 15:16] hegedis-andor commented on #7580
I think it is a duplicate:
[https://github.com/gitcoinco/web/issues/7479](#7479)

[2020-10-01 17:06] melvinalvarez commented on #7568
the edge of `#sponsor_sidebar` `<li>` items get cut off on 1440 x 900px screens (screenshot attached below)

<img width="1440" alt="Screenshot 2020-10-02 at 12 47 57 AM" src="https://user-images.githubusercontent.com/6550846/94840086-76abe580-044a-11eb-97bd-1ab674497c76.png">

`.ml-4, .mx-4 {
    margin-left: 1rem!important;
}` might be pushing `<li>` items past edge of screen

[2020-10-01 20:44] nopslip commented on #6561
I got 500 Error today when trying to change my email. I tried a second time and then got a message that the email is already in use. However, when I refresh or reload the page it still shows my old email.

[2020-10-01 22:35] jdorfman commented on #7568
The add to calendar links have the right date.

![image](https://user-images.githubusercontent.com/398230/94870149-ada6da80-03fb-11eb-8895-8766a9b25298.png)

[2020-10-01 23:03] ceresstation opened #7585 "QR code checkout runs into errors / successful txs don't show in the interface"
https://gitcoin.co/benhylau donated to two grants on Android using Coinomi but the tx won't go through even though WalletConnect is connected, zkSync just keeps loading and gives the error below.

The two grants funded were:

- https://gitcoin.co/grants/107/secure-scuttlebutt-ethereum-fusion
- https://gitcoin.co/grants/270/decentralized-science

Relevant tx: https://etherscan.io/tx/0x6a8cc2b9ca805

[2020-10-01 23:32] benhylau commented on #7585
Just to clarify, that error above led me to not even able to make a Tx at all. Other times it is a different error, something like `web3 unknown`, etc. As long as I first check out my grants, then try to click Standard and WalletConnect from Coinomi, it'll hang for a long time even after I approve on my phone, then give me one of these errors. I think zkSync just hangs. So I was never able to make

[2020-10-02 00:32] mds1 commented on #7585
Thanks for all the details @benhylau! I'll have to look into this one.

For this grants round, we'll manually add your contributions to DB to ensure the matching for them counts

[2020-10-02 00:34] mds1 commented on #7580
Hi @josjo80, transactions that are sped up are not currently picked up, so we have to update this manually. If you provide me with both transaction hashes I can get this resolved for you! If you don't want to share it publicly feel free to message me on Twitter @msolomon44, or Telegram @msolomon4

[2020-10-02 02:09] melvinalvarez commented on #7568
On Grants page, the collapse/expand button for some of listed categories are not displayed inline on 1440 x 900 px screens

<img width="248" alt="Screenshot 2020-10-02 at 9 57 41 AM" src="https://user-images.githubusercontent.com/6550846/94880997-31fa6b80-0497-11eb-9f74-908cd919737a.png">

[2020-10-02 06:09] #7577 closed

[2020-10-02 09:01] vporton opened #7588 "Contradictory information in a hackathon"
In the screenshot
![Screenshot from 2020-10-02 12-00-40](https://user-images.githubusercontent.com/2900574/94906339-fbc4e800-04a6-11eb-8798-7602cb946ab2.png)
you see that there is 1 prize but the prizes list is empty.

[2020-10-02 09:11] makoto commented on #7572
Hi, @mds1 thanks for the follow up.

`you never actually finished checkout for your DAI contributions `

@owocki you may have separate bug as I received  "Thank you for supporting ***" emails for all the project I donated.

`5, 1, 1, 5, 1, 1, 1, and 5 DAI` Does the order matter? I can get the list of all the project based on the confirmation email but I don't think they arrived in that order.

[2020-10-02 09:13] makoto commented on #7572
it also shows on the list of grants I contributed (though in other page it says "pending") at https://gitcoin.co/makoto/grants.

<img width="941" alt="Screenshot 2020-10-02 at 10 12 33" src="https://user-images.githubusercontent.com/2630/94907312-e09eac00-0497-11eb-89f6-399f4b6a4a94.png">

[2020-10-02 09:30] makoto commented on #7572
Ok, managed to make it work. https://etherscan.io/tx/0x1fe1f4c5c013a87f2be60db70f5c95ba39cb809d7ffe1d1f0c9d876360680126

One extra feedback.

I suggest it shows "Approve" button only if it needs to approve. I already paid for "Approve" transaction when I did initial try so I endedup paying for "approve" twice.

https://etherscan.io/tx/0x1b5f41b6829a18e085a74074dc0ff6d43e01faaeee3391eb05a00eb005f29

[2020-10-02 10:27] Solexplorer opened #7591 "Contribution made with zksync not reflecting in the UI"
**Describe the bug**

 https://gitcoin.co/neozaru has contributed to 27 grants but its contributions are not showing up in the UI, this is the [cart](https://gitcoin.co/grants/cart/bulk-add/1175;1;283,237;1;283,143;1;283,461;5;283,938;10;283,142;1;283,500;1;283,821;1;283,184;1;283,1069;1;283,711;1;283,1110;1;283,296;1;283,1268;1;283,351;1;283,149;1;283,199;1;283,961;1;283,886;1;283,795;1;283,413;1

[2020-10-02 12:42] thelostone-mc opened #7592 "v1 Grants CrossChain + Refactor"
## Description

#### Core

- ✅ Creating a grant choosing ETH / ZCash
- ✅ Ability to create CLR rounds specific to ZCash grants
- ✅ Dedicated CLR page (in live already + might need tweaks cc @willsputra )
- Ensure when grant is added to cart
   -  ✅ ETH accepting grants has ETH + ERC20
   - ✅ ZEC accepting grants has ZEC
   - (this should be generic so that adding new chains will require new change

[2020-10-02 13:09] mds1 commented on #7572
Glad it's worked out!

Yea this can be misleading, since those emails are sent optimistically before everything goes through. It probably would be better to send those later in the process

Looks like you figured out that the grant order in your cart does not matter

There should only be approval txs when necessary. It seems in this case the original approval was for the regular L1 BulkCheckout co

[2020-10-02 13:12] mds1 commented on #7408
Send emails later in the checkout process. They are sent immediately, which is confusing for zkSync checkout because the user thinks they can leave the page after they receive those emails, but in reality they must wait until everything is complete

[2020-10-02 13:37] mds1 commented on #7591
Hey @neozaru, thanks for all the details. This happens occasionally so we'll manually get your contributions added to the database so they show up + get matched

[2020-10-02 13:48] willsputra opened #7594 "Town square layout broken on mobile"
**Describe the bug**

Town square layout broken on mobile

**To Reproduce**

Open town square on mobile

**Expected behavior**

Text are aligned properly

**Screenshots**

iPhone 8
![gitcoin co_(iPhone 6_7_8)](https://user-images.githubusercontent.com/19514207/94930410-ef697b00-04f8-11eb-91cc-b19cdaaf8099.png)

[2020-10-02 13:58] owocki commented on #7408
automate the cart_reminder emails in the final few hours/days of the round

sent_cart_reminder

[2020-10-02 14:00] owocki commented on #7408
TODO: in the txn validator, do stuff related to long running pending txns - we should notify users of these + have them do something

[2020-10-02 14:10] cryptoouf-blog commented on #7408
Loved it. You are doing an amazing job.

I really liked the use zkSync  for donation, it's easy and quick.
 But i didn't really understand how it works. You just have to sign 3 times. But can you also add a pop up window or something to show what are the fees for the transaction. Maybe it's only me, but at the end i was a bit lost regarding what i payed ...

[2020-10-02 14:42] owocki commented on #7408
emails should no longer say things like "1 time" as the product no longer supports multiple contributions / subscriptoins https://bits.owocki.com/qGuvymkK

[2020-10-02 15:00] owocki commented on #7408
on transactions page, add pagination https://bits.owocki.com/ApuLnpbp
and csv export

[2020-10-02 15:11] JackLeahy22 opened #7596 "Invalid Gas Amount in Checkout - Can't Checkout"
### Who - Jack Leahy

### What - I cannot figure out how to checkout it Gitcoin. I am trying, but just haven't been able to figure it out. This is my third round of grants being unable to do so.

### Why - I keep receiving invalid gas amount error.

[2020-10-02 15:25] tjayrush commented on #7408
I'd like to see an alternative to the 'infinite scroll'. Infinite scroll makes it very difficult to consume the whole grants database in one shot. In fact, the only thing infinite about the scroll is how long it takes to see the data.

May I suggest a paginated table with configurable columns and robust sorting and filtering? It's pretty easy to add if you're a React app (are you? not sure?). This

[2020-10-02 16:56] #7596 closed

[2020-10-02 17:10] owocki commented on #7408
@frankchen07 suggests a 'similarity index' for helping catch collusion

[2020-10-02 17:12] octavioamu commented on #7408
"People who contributed to this grant also contributed to > "

[2020-10-02 17:19] owocki commented on #7408
* put a clear path to the matching grants when live on the homepage. Harder to find than it should be

* better descriptions of the applicants on the page. Give them more direction on how to write. “your ask in 140 characters”

* delegate money to someone to make grants for me.

* Donate without creating account

* got a prompt in metamask saying gas would cost .74 eth. Went and approved and it wa

[2020-10-02 17:24] cryptoouf-blog commented on #7408
There is this tool, that is amazing (they had a grant) , you can donate directly on twitter, and if i'm not wrong you don't need an account on github (maybe double check that)
https://mask.io/

[2020-10-02 17:46] PixelantDesign commented on #7588
Good catch @vporton Thanks!

[2020-10-02 17:49] PixelantDesign commented on #7568
@zoek1 are you able to fix @jdorfman feedback? see above

[2020-10-02 19:53] owocki opened #7598 "javascript error upon send tip"
<img width="944" alt="Screen Shot 2020-10-02 at 1 52 55 PM" src="https://user-images.githubusercontent.com/513929/94964189-a09af180-04b6-11eb-87f0-81e61ca00b2a.png">

gitcoin.co/tip

send tip
get this js error

[2020-10-02 20:03] owocki commented on #7598
heres a stopgap 134e9e3a012ac773380c83b232992336e9ef037b that at least makes it so the page doesnt break; would love someone to figure out the root cause

[2020-10-03 00:26] gravenp opened #7602 "Unable to Verify Grant - Twitter"
### Who
@gravenp, https://gitcoin.co/grants/1403/the-geo-web
### What
Unable to verify grant with Twitter account via the provided method
### Why
Receive an error: "Sorry, we couldn't get the last tweet from @https://twitter.com/thegeoweb"
Tweet: https://twitter.com/thegeoweb/status/1312187005594292224?s=20

[2020-10-03 18:23] 78carla commented on #7495
Hi,
any update for this? My transaction on gitcoin is still pending.

Regards,

[2020-10-03 23:53] vporton opened #7603 "Are closed-source bounties allowed?"
https://gitcoin.co/about should _clearly_ and _unambiguously_ say whether bounties for closed-source projects are allowed on GitCoin.

[2020-10-04 00:04] vporton commented on #7603
It should be also said at https://gitcoin.co/bounty/new page.

[2020-10-04 11:49] #7499 closed

[2020-10-04 14:58] excerebrose opened #7604 "Transactions stuck in pending verification if replaced manually"
**Description**
If on a payout, due to some reason, the initial transaction is replaced by a newer one (say gas fees were too low, and they increased the gas price), the transaction gets stuck at pending verification forever. I am sure this behaviour is replicated in tips as well

**To Reproduce**
Make a payout, replace the transaction manually

**Expected behavior**
Should automatically pick the

[2020-10-04 15:06] thelostone-mc commented on #7602
Done!

[2020-10-04 15:06] #7602 closed

[2020-10-04 15:09] #7562 closed

[2020-10-04 16:21] carlaj-de commented on #7591
Hello! Sorry for jumping on this feed. I am also having a similar issue but I have been unable to submit a log.

I have tried to donate to a grant but they haven’t received the donation. It’s gone through on the etherscan.

Is it possible for someone to follow up my transaction? Thank you!

[2020-10-04 17:38] mds1 commented on #7591
Hi @carlaj-de, can you please share your transaction hash so I can look into this? If you don't want to share it publicly feel free to message me on Twitter @msolomon44, or Telegram @msolomon4

[2020-10-04 18:07] owocki opened #7606 "Kevin's User Directory v2 / north star ticket"
Hey all,

IMHO user directory is a huge strategic win for us if we can get it right. This ticket is designed to articulate the why/what/how behind that. - I figured I'd spend a moment articulating my view on where the user directory could go and why it's so important to invest resources there.

This ticket is meant to be a north star for the user directory work, an ultimate destination of where it

[2020-10-04 22:05] bocster opened #7607 "Bundling Kudos"
### User Story

[comment]: # (As a user, I want to bundle kudos purchases so that I can collect them all.

### Why Is this Needed

[comment]: # (it is needed because gas fees are so high that it is limiting the amount that contributors contribute as the gas fee's price out altruistic notions. By being able to bundle kudos purchases/
*Summary*:

### Description

*Type*:feature

### Current Behavior

[2020-10-05 03:16] owocki commented on #7607
interesting idea; this is also a way we've talked about managing this https://github.com/gitcoinco/web/issues/7369

[2020-10-05 04:10] owocki commented on #7495
hey i dont see 0x635b22b8a888f6e26702aeabf617a5b8f02e7e6a773625a2c5f68af28e3c46ec in the database; is that a dropped/replaced tx id? EDIT - found it - 0x2e05164cb5b6ab1b8d840ab0f26fe90defb5c9913f8ea4cce37d14f922604049 and marked it as successful

[2020-10-05 05:13] thelostone-mc commented on #7604
Could you share the bounty where this happened & when the payout was done ?
We did roll out an integration with blocknative to be able to pick up replaced transaction as etherscan did not support it yet

cc @owocki

[2020-10-05 07:00] excerebrose commented on #7604
https://gitcoin.co/issue/sesame-seed/Unifi-Quests/4/100023721

https://gitcoin.co/issue/hCaptcha/hmt-escrow/224/100023567

And even a paid out one:

https://gitcoin.co/issue/polkadot-js/apps/3549/100023572

On Mon, 5 Oct 2020, 10:43 am Aditya Anand M C, <notifications@github.com>
wrote:

[2020-10-05 07:44] zashton opened #7608 "Kudos claim trx failed"
**Describe the bug**
After claiming Kudos via the redeem form token is not credited and trx has failed

**To Reproduce**
Claim Kudos via the redeem form

**Expected behavior**
expect token to be transferred and credited

**Screenshots**
https://etherscan.io/tx/0xb0594923cdb34f73746a5d856ef1fa0b252484805c2c38965b137cc8a3be6b39

**Desktop (please complete the following information):**

- OS: Windows

[2020-10-05 08:06] #7357 closed

[2020-10-05 08:06] thelostone-mc commented on #7357
resolved + code fix deployed

[2020-10-05 08:45] lebahye opened #7609 "Kudos disappear"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Chrome
- Browser Version: Version 85.0.4183.121 (Official Build) (64-bit)

Thanks,

[2020-10-05 09:17] #7427 closed

[2020-10-05 09:21] JAlexandraH opened #7610 "Rare Birds QF Hackathon GitXChange"

[2020-10-05 09:23] #7610 closed

[2020-10-05 09:54] thelostone-mc commented on #7592
https://github.com/gitcoinco/web/pull/7487

[2020-10-05 10:34] 4-1-3-X opened #7611 "Unsure if donation counted towards matching"
I'm unsure whether this donation was included towards matching: https://gitcoin.co/townsquare?tab=activity:383123

I say this because I noticed the Grant's DAI amount go up then go back down again. So I checked etherscan and the donation transaction was accidentally submitted twice (the second one failed because of USDC approval)

Successful txn: https://etherscan.io/tx/0xd3c696109c30e46833c8fc354

[2020-10-05 10:49] thelostone-mc commented on #7432
Closing this out ! Do reopen if this is still an issue

[2020-10-05 10:49] #7432 closed

[2020-10-05 10:50] #7343 closed

[2020-10-05 10:50] thelostone-mc commented on #7338
This is taken care in the new flow !
On the older flow -> cancelling a bounty does return the funds to the address

[2020-10-05 10:50] #7338 closed

[2020-10-05 10:51] thelostone-mc commented on #7331
Will reopen if this occurs again

[2020-10-05 10:51] #7331 closed

[2020-10-05 10:52] thelostone-mc commented on #7297
This can be found on gitcoin.co/grants/clr/<clr-round>

[2020-10-05 10:52] #7297 closed

[2020-10-05 10:52] thelostone-mc commented on #7258
This is live!

[2020-10-05 10:52] #7258 closed

[2020-10-05 10:52] #7327 closed

[2020-10-05 10:56] #5260 closed

[2020-10-05 10:57] #5230 closed

[2020-10-05 10:57] #6035 closed

[2020-10-05 10:58] thelostone-mc commented on #6021
we've shifted to supporting only rinkeby as the testnet

[2020-10-05 10:58] #6021 closed

[2020-10-05 13:15] willsputra commented on #7550
@sanchaymittal figma file here. note I've updated the Winner badges:
https://www.figma.com/file/9jouLUCmEqY4B6Hnhoji26/Gitcoin-Tribes-2020?node-id=4%3A2

[2020-10-05 13:49] willsputra commented on #7548
• Add Kudos tab
• Same logic as old orgs page

@sanchaymittal

![kudos](https://user-images.githubusercontent.com/19514207/95087692-972eb500-0754-11eb-99e0-f9bd042d4ade.jpg)

[2020-10-05 14:52] owocki commented on #7609
please fill out details; i dont know how to resolve your issue with existing info

[2020-10-05 14:59] #6695 closed

[2020-10-05 15:02] owocki commented on #7611
yes it counted!  the reason it went back down is once the round meets saturation (100% matching rounds allocated), donations basically become a zero sum game wherein contributions to other grants incrase the match amounts of their own grants + thereby reduce the matching amounts of other grants.

[2020-10-05 17:21] frankchen07 commented on #7606
Everything makes sense to me here. The way you have it outlined here, the UD is a major product, and its use hinges around the actual "search", instead of us abstracting it away. That was probably the primary use case difference and why I had a different opinion about it.

My hesitation from before was mainly that our value proposition should take care of all the matching necessary for the sponsor

[2020-10-05 17:33] owocki commented on #7606
pasting what i said to alisa this AM on DMs about 'not swallowing the elephant' by trying to to have it work 'automatically' at first, instead just getting it to a level that we can use it interanlly first, then iterating towards external usage.

[code]

[2020-10-05 19:51] 4-1-3-X commented on #7611
Ah yes, I understand that but it was the Non-matching number that went down so I thought maybe the failed transaction screwed something up.

Thanks for the help Owocki!

[2020-10-06 06:05] thelostone-mc opened #7613 "sidecart: purge / rewrite"
#### Sidecart

- Decide whether we need to retire side cart / keep it as is
- If we keep it ->
   - rewrite it in vue
   - ensure only grant_id + amount + token is present in local storage
- If we remove it ->
  - what is the alternative piece we build out to notify users when an item is added to cart

[2020-10-06 06:12] thelostone-mc opened #7614 "backend : recording contributions + populating backend"
#### Description

- [x] Build API which can accept 1-n contributions
- Ensure activity is posted + mail is sent out after the transaction has been found + succeeded on the chain
  - [x] zcash / other chains
  - [ ] ETH
-  [x] Add tenant field to Subscription model
-  [x] Add checkout field to Contribution model
- [x] provide single endpoint which given grant Id returns all the information needed t

[2020-10-06 06:16] thelostone-mc opened #7615 "sidecart: DB / localstorage"
#### Description

- Right now when items are added to sidecart, all the details are saved to localStorage
- There is an API in place http://localhost:8000/grants/v1/api/grants?pks=821,820 which let's you fetch all grant details so as you wouldn't have to rely on local storage
- This still leaves the question of deciding where to store grant id, amount, token. This could either be
  - in localstora

[2020-10-06 06:17] thelostone-mc opened #7616 "sms/brightID refactor"
#### Description

- Pull SMS verification into it’s own component
- Pull BrightID aspect into it’s own component
- Review + Merge all other trust verification integrations

At this point SMS verification flow has it's own place during the checkout process
while BrightID has everything setup in profile trust bonus tab

Ideally we'd want to shift all verification means into the trust bonus tab of th

[2020-10-06 06:21] thelostone-mc opened #7617 "refactor: cart.js/ checkout"
#### Description

- Build out new checkout experience from scratch
- Ensure Zcash is modular and more chains can be added to this with minimal tweaks
- Once the base foundation is laid out -> port over the ETH flow  (refactor later)
- Ensure all the chain related files are present in a folder `/cart`
  - `index.js` -> all common logic
  - `zcash.js` -> specific to zcash
  - `eth.js` -> specific to

[2020-10-06 06:27] thelostone-mc opened #7618 "feedback : revisit dedicated CLR page and list changes which need to be done"
##### Description

@willsputra to review https://gitcoin.co/grants/clr/matic and see what changes need to be added or if it good as it is

[2020-10-06 06:33] thelostone-mc opened #7619 "tech-debt: merge Subscription + Contribution into 1"
#### Description

- Review Current model Subscription / Contribution
- List out fields which are no longer relevant
- Remove those and migrate the rest into 1 table

[2020-10-06 13:01] owocki commented on #7613
I’d love @willsputra s take on this

On Tue, Oct 6, 2020 at 12:06 AM Aditya Anand M C <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-06 15:07] yacare555 commented on #7444
Thank you  @owocki , I'll close it.

[2020-10-06 15:07] #7444 closed

[2020-10-06 16:57] krrisis opened #7624 "Remove email addresses from public pages"
### Who
Could you please remove mail addresses from bounties? You can see my personal mail address if you scroll eg to the very bottom of [this github bounty](https://gitcoin.co/issue/aragon/aragon-monthly/284/1850)
I assume they're also still visible by google & other scrapers in other inactive bounties but can't seem to browse to these.

Mentioned this before in the townsquare (where someone res

[2020-10-06 17:03] aamustapha commented on #7570
@octavioamu @willsputra I think a UI Design would be needed for this.

[2020-10-06 17:05] krrisis opened #7625 "Have to cancel bounty several times ànd stays visible as active"
### Who

Canceled [this github bounty](https://gitcoin.co/issue/aragon/aragon-monthly/284/1850) today, although I could swear having done this before.
After scrolling back in my activity, I see I indeed did this before, [namely 5 months ago, as you can see here.](https://gitcoin.co/townsquare?tab=activity:270068)
So after doing this again today ([successfully it seems this time](https://etherscan.

[2020-10-06 17:15] krrisis opened #7626 "Tip claiming is acting up"
**Describe the bug**

I had a notification that I had 60 ANT to claim which did not work, after changing metamasks accounts a few times it did suddenly show me a confirmation screen (although no transaction to sign). The notification said that the tip was sent to me with the following tx hash: 0xe60734a47863de86fedf8f96daa935a09ceb0fec3eea3d5ae31fc6e6d254f9f6
Looking up this tx hash [returns nothi

[2020-10-06 17:18] PixelantDesign commented on #7317
hey guys how is this one going?

[2020-10-06 17:24] aamustapha commented on #7355
@octavioamu What do you think?

[2020-10-06 17:35] krrisis commented on #7624
FYI, just as a reference (as I still had it open :) ), [this is the pastebin](https://pastebin.com/WdxfKBEL) that's been leaked with my mail address in it that I found. This scrape alone has about 200+ mail addresses in it, all seem to come from gitcoin a.o. @vs77bb's gmail address & @owocki's gitcoin address are in here. Will prob edit this comment later - or you can do so, to not get even more g

[2020-10-06 17:40] PixelantDesign opened #7627 "Tribe showing Inaccurate Amount Spent"
**Describe the bug**
Tribe is showing inaccurate amount spent

**To Reproduce**
Go to any tribe, or Arweave Tribehttps://gitcoin.co/arweaveteam/bounties for https://gitcoin.co/nebulouslabs
Look at this area
<img width="516" alt="Screen Shot 2020-10-06 at 1 19 26 PM" src="https://user-images.githubusercontent.com/238235/95237921-cc7be700-07d6-11eb-9dc7-2697d8f4ffdb.png">

<img width="541" alt="Scre

[2020-10-06 17:41] owocki commented on #7624
Kris; this is why we have a "It's okay to show this information publicly on Gitcoin" toggle checkbox upon bounty creation.

https://bits.owocki.com/Blu1NoNd

[2020-10-06 17:44] PixelantDesign opened #7628 "Tribe People Tab Showing Wrong People"
**Describe the bug**
People Tab in Tribe Showing Wrong People
It's displaying some of our core team members first - that likely did not participate in their hackathons.

**To Reproduce**
Go to a Tribe like Sia https://gitcoin.co/nebulouslabs/people
Click Tribe Hackers
This is what is shown
<img width="1861" alt="Screen Shot 2020-10-06 at 1 42 51 PM" src="https://user-images.githubusercontent.com/2

[2020-10-06 17:57] krrisis commented on #7624
@owocki Yeah, I vaguely remember that (been a while) and I assumed that only referred to making the funding organization & github user name public, didn't think people ever want their mail addresses publicly available and crawl-able on sites...

In any case, is there any way for me to take this down?

Fun fact, the above link to your site triggered bitdefender on windows & blocked the link for phi

[2020-10-06 20:04] krrisis commented on #7625
edit: I see it disappeared as an active one now, will still leave this issue here & let you close it, because it is strange that I had to cancel it twice (as you can trace above), maybe a bug worth looking into.

[2020-10-06 21:32] mds1 commented on #7408
- UI can still be more clear about zkSync tx fees
- Improve zkSync fee estimates based on whether recipient has used zkSync (currently we assume all transfers are transfers to new addresses, since that is more costly, but this is a very conservative assumption)

[2020-10-06 23:49] connoroday commented on #7579
I get a lot of duplicate entries for tags, seems like they're case sensitive but also there are repeats with the same cases:
<img width="249" alt="Screen Shot 2020-10-06 at 4 47 58 PM" src="https://user-images.githubusercontent.com/7794646/95271865-d6601300-07f3-11eb-921a-73476acfdbfc.png">

[2020-10-07 01:24] benhylau commented on #7585
I don't think the manual ingestion worked. Doesn't show on the profile UI https://gitcoin.co/benhylau

[2020-10-07 04:38] sanchaymittal commented on #7550
@willsputra Should I place the grant-tag at right-hand side of the project card?

[2020-10-07 05:55] samajammin commented on #7566
@mds1 i just received an email Scott incomplete checkout: ![image](https://user-images.githubusercontent.com/8097623/95292700-d88f9500-0826-11eb-8298-758969273cee.png)

Are you certain all of my contributions have gone through? If so there may be errors around your email alert logic. Thanks.

[2020-10-07 09:40] claberus opened #7632 "Verify Grant Issue"
Hi,

I verified my OpenEthereum grant:

https://gitcoin.co/grants/1415/openethereum-ex-parity-client

https://twitter.com/OpenEthereumOrg/status/1313755100767281153

but it still shows not verified.

Thanks!

[2020-10-07 09:57] thelostone-mc commented on #7317
fixed it via 4ad725e6327a76018267ebbd1125ce6d3ec54ecf
cc @aamustapha

[2020-10-07 09:59] #7317 closed

[2020-10-07 10:02] #7598 closed

[2020-10-07 12:52] mds1 commented on #7566
Thanks for flagging! Since in your case we resolved this by changing contribution amounts, the backend was looking for a different amount than the amount actually sent, which is why you got the email. We'll resolve that manually

[2020-10-07 13:06] PixelantDesign commented on #7180
From Manasi at Sia:

"We don't want to restrict a developer to a single idea - if they have multiple ideas they want to build we want to encourage that - the more the better"

[2020-10-07 13:23] willsputra commented on #7613
so the main benefits of having a sidecart are:
• making it clear to the user that something has been successfully added to their cart
• having an easy, obvious access to the cart (without the need to scroll all the way up)

proposal: have a super compact overlay that shows "X Grants are in your cart." with "View Cart" button. X should be updated whenever someone adds a grant to cart.

thoughts @th

[2020-10-07 14:19] peterVG opened #7635 "Verify Grant Issue - Twitter verification not responding"
### Who

https://gitcoin.co/grants/1416/pygate
https://gitcoin.co/grants/1417/deplatformr

### What
Verify Grant Ownership via Twitter is not responding. Clicking on the "Send Verification Tweet" is not generating a verification tweet. There are no notifications appearing in the linked Twitter account. Have tried it from both Firefox and Chrome.

<img width="468" alt="Screen Shot 2020-10-07 at 7 1

[2020-10-07 14:57] adrastee opened #7636 "Dashboard not updated after payment"
### Who
Me trying to donate to a [community](https://gitcoin.co/grants/1274/banklessfr), via DAI transaction.

### What
I clicked on 'Add to cart" on the community page, then choosed a number of DAI I wanna send to the [community](https://gitcoin.co/grants/1274/banklessfr)
Now, 5 days after, the fund does not appear in my gitcoin.co dashboard, nor in the community dashbaord / hall of fame.
DAI tra

[2020-10-07 19:34] owocki commented on #7408
https://www.youtube.com/watch?v=mUZOHZFZqGM

we could perhaps add collabland integration

[2020-10-08 10:10] sanchaymittal commented on #7628
@PixelantDesign With tribes light, we are ordering the users in people tab based on their contributor's rank.

- Do we want to sort the users based on their participation in tribes hackathon?
- Sort by Winner: Are we considering the user's winning status in tribes hackathon or all-around number of hackathons won by user.
- There are hackathons with multiple sponsors, Do we want to sort based on th

[2020-10-08 11:05] willsputra commented on #7550
@sanchaymittal yes please!

[2020-10-08 11:08] sanchaymittal commented on #7569
@PixelantDesign Pr is merged for this issue.

[2020-10-08 14:13] agnelvishal opened #7642 "Unable to submit work for a bounty"
**Steps to reproduce**
1. Go to [https://gitcoin.co/issue/fulfill?pk=23623&network=mainnet#](https://gitcoin.co/issue/fulfill?pk=23623&network=mainnet#)
2. Enter details and click submit work.

**Issue**
I get the following error in browser console when submit button is clicked
[code]
The Error occurs in Firefox as well as Brave Browser.
I am shown the loading icon for a long time and the work doe

[2020-10-08 14:43] octavioamu commented on #7642
is this the bounty? https://gitcoin.co/issue/unstoppabledomains/decentralized-websites/42/100023623

[2020-10-08 15:06] thelostone-mc commented on #7635
@peterVG there are 2 ways to go about this

- either create a twitter account for the grant and add that into grants and verify
- update the grant twitter to your personal twitter id and tweet + verify from it

![image](https://user-images.githubusercontent.com/5358146/95477418-f20b1b00-09a5-11eb-97d9-c6c499959f56.png)

[2020-10-08 15:08] thelostone-mc commented on #7632
Looks like it did get verified
![image](https://user-images.githubusercontent.com/5358146/95477691-3d252e00-09a6-11eb-8b48-81b28577e7d8.png)

[2020-10-08 15:08] #7632 closed

[2020-10-08 15:11] thelostone-mc commented on #7625
@krrisis Hmm not able to reproduce this but we've moved onto a much more smoother experience in the bounty flow.
So the next time a bounty created -> it would be a seamless experience

[2020-10-08 15:11] #7625 closed

[2020-10-08 15:14] thelostone-mc commented on #7626
Just to reiterate

- you finally received the funds into the wallet you had originally posted
- you never signed a metamask transaction
-  the notification disappeared at the end of it

One place where this could happens if you were on diff networks (mainnet and rinkeby) and that caused something to mess up

[2020-10-08 17:28] owocki commented on #7642
FYI here is what sentry shows https://bits.owocki.com/DOu9QY9b

On Thu, Oct 8, 2020 at 8:43 AM Octavio Amuchástegui <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-08 17:48] krrisis commented on #7626
@thelostone-mc

1/ no unfortunately I didn't receive the 60 ANT, if you verify that mentioned transaction address or just my address directly (kris.eth) you'll see I did not receive this. I did receive 30 ANT yesterday, but that's from another transaction, namely closing [this bounty on gitcoin](https://gitcoin.co/issue/aragon/aragon-monthly/284/1850)
2/ correct, never signed a metamask transactio

[2020-10-08 18:01] owocki commented on #7585
hey @mds1 i still get this exception when trying to ingest them

[code]

wiuth this input

[code]

[2020-10-08 18:03] mds1 commented on #7585
@owocki Replace the `to_address` with the checksum address! 0x7d655c57f71464B6f83811C55D84009Cd9f5221C

[2020-10-08 18:10] agnelvishal commented on #7642
Yes! That is the bounty.

[2020-10-08 19:16] vporton opened #7643 "Hierarchical structure of grants"
### User Story

As a grant owner and a volunteer scientist, I want to make GitCoin grants hierarchical for more funding for foundational projects.

### Why Is this Needed

It is well known that science issues can't be settled by public voting. For example, science funding could not be distributed by a referendum or even by a parliament well. I have a mathematical project that is alone probably is

[2020-10-08 19:55] octavioamu commented on #7642
@chibie @aamustapha  can you any of you guys take a look?

[2020-10-08 21:01] owocki commented on #7585
it worked!

ok backddating that contribution + re-running the clr calcs befoe payout :)

[2020-10-08 21:28] owocki commented on #7626
just reset the tip redemption status; can you try again https://gitcoin.co/tip/receive/v3/QmdtivK25vRA8vZNBmM5bUHFgJZrqqPVSwCmbEqWAKtC7n/0xdd6f823cbbb76575c0b95bc7d31e499bf078fa280265392f0a19216283c5f48f/mainnet

[2020-10-09 00:27] cb362271 opened #7644 "Verify Grant Issue"
### github.co/grants/cb362271

### "Unable to find verification tweet"

### I am not sure why. You can manually check it at https://twitter.com/Legisledger

[2020-10-09 04:45] benhylau commented on #7585
Confirming that both Tx's show on my personal timeline:

<img width="1107" alt="Screen Shot 2020-10-09 at 12 43 05 AM" src="https://user-images.githubusercontent.com/2261308/95544222-80909400-09c8-11eb-8f1e-651030732873.png">

Thanks for being on top of this :D

[2020-10-09 08:22] chibie commented on #7642
@octavioamu i'll jump on this now

[2020-10-09 08:30] MoMoney123 opened #7647 "Verify Grant Issue"
### Who

### What

### Why

[2020-10-09 08:34] MoMoney123 opened #7649 "Verify Grant Issue"
will you verify my grant to fund my black owned music label ?

[2020-10-09 10:57] chibie commented on #7642
@agnelvishal have you been able to submit work now?

[2020-10-09 12:03] agnelvishal commented on #7642
No. Same error.

[2020-10-09 12:42] mds1 commented on #7585
Awesome, thanks for your patience @benhylau!

[2020-10-09 12:42] #7585 closed

[2020-10-09 13:34] owocki commented on #7649
any grant can be verified. pls follow the flow on the web ux

[2020-10-09 13:34] #7649 closed

[2020-10-09 13:39] owocki commented on #7644
github.co/grants/cb362271 is not a gitcoi grant

[2020-10-09 13:48] krrisis commented on #7626
Okay, yes, so it's there again, what I'm getting is the following screens:

1/ seeing the tip here:

![image](https://user-images.githubusercontent.com/6533925/95589640-4c0eed80-0a45-11eb-8034-1a9bf4d6aaa3.png)

2/ filling out address, checking boxes

![image](https://user-images.githubusercontent.com/6533925/95589735-706aca00-0a45-11eb-9b96-6245d76bbb3b.png)

3/ hitting confirmation button

![ima

[2020-10-09 13:52] owocki commented on #7626
hmmm. is there any error in your javascript console when you click claim?

On Fri, Oct 9, 2020 at 7:49 AM krrisis <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-09 14:06] owocki commented on #7408
v: It's actually not clear to me that adding collections to cart is a behaviot worth encouraging

[2020-10-09 14:35] krrisis commented on #7626
yup got this one

![image](https://user-images.githubusercontent.com/6533925/95595611-a52e4f80-0a4c-11eb-8f35-7326ef8ff9eb.png)

Refreshed, tried again, this time I again get the screen that the transaction went through (screenshot below) but I see the same error in the console.

HOWEVER, this time the mentioned tx hash does exist: https://etherscan.io/tx/0xc22e930b38d05b476d5c556113ee66d138b29369

[2020-10-09 15:00] krrisis commented on #7626
(Will leave the two other tip claims open for now in case you want me to try anything else)

[2020-10-09 20:45] agnelvishal commented on #7642
The sentry log shows that get() returned 2 bounties. I did work on another bounty from the same sponsor 4 months ago. That bounty link is https://gitcoin.co/issue/unstoppabledomains/decentralized-websites/37/4215

[2020-10-10 03:04] cb362271 commented on #7644
So does this mean it cannot be verified?

On Fri, Oct 9, 2020, 9:39 AM Kevin Owocki <notifications@github.com> wrote:

[2020-10-10 13:51] BeetBoy commented on #5326
Hey please add more hairstyles for minority groups 🙏  like locs, braids, cool urban styles 😎

[2020-10-11 13:05] kautir opened #7650 "Failded funding"
I funded a project 11 days ago. Now I noticed my funding transaction was failed. Here is the project that I funded:

https://gitcoin.co/grants/1376/swash-your-data-your-income?tab=transactions

Why the transaction is failed?
![image](https://user-images.githubusercontent.com/72108515/95679431-a5128900-0bdf-11eb-9ba6-2c89ca19ba98.png)

[2020-10-11 17:42] vporton opened #7651 "Verify Grant Issue"
### Who
I, Victor Porton, a regular gitcoiner.

### What
https://gitcoin.co/grants/1425/carbon-flow

### Why
I am the author of https://github.com/vporton/carbon-flow/tree/stable

[2020-10-12 10:34] thelostone-mc commented on #7651
![image](https://user-images.githubusercontent.com/5358146/95736881-74e0ee00-0ca4-11eb-9c7a-c5d971dc0832.png)

Could you add the twitter account and the twitter verification flow should get you verified 🙌

[2020-10-12 10:34] thelostone-mc commented on #7647
Closing this out !
Do reopen with more details like the grant / tweet link

[2020-10-12 10:34] #7647 closed

[2020-10-12 10:37] thelostone-mc commented on #7644
You haven't provided a valid link to the grant !
Closing this out -> do reopen with more details like grant link + tweet which was sent out

[2020-10-12 10:37] #7644 closed

[2020-10-12 11:30] thelostone-mc commented on #7613
I do like this a lot better cause it removed that huge cart from the side !
@octavioamu was keen on keeping it (which makes for zcash given the time to to roll out is short)

I'd vote bringin this in as a part of round 8 scope

[2020-10-12 13:28] willsputra commented on #7553
Feature:
Weekly email to display new bounties or hackathon prizes for the tribes a user follows.

Subject:
Gitcoin Tribes: New bounties & prizes from the tribes you follow!

Design:
![email tribe sponsor is participating in hackathon - prizes](https://user-images.githubusercontent.com/19514207/95751807-b3d96880-0cd1-11eb-81d8-703de2e214f8.jpg)

[2020-10-12 13:29] owocki commented on #7626
@krrisis whats that txid?  0xc22...   looks to me from the UI like it was successfully claimed; those network erorrs have nothing todo w the functioanlity of the page

[2020-10-12 13:31] sanchaymittal opened #7658 "Tribes Explorer showing non-tribe"
**Describe the bug**

Tribe explorer shows non-tribe or github org which are not a tribe under explorer. This affects the ranking order greatly. It can be observed under explorer where the third rank tribe is actually not a tribe and haven't created a single bounty yet.

**To Reproduce**

https://gitcoin.co/tribes/explore

**Expected behavior**

Only the Organisation which is tribe should be shown

[2020-10-12 13:39] owocki commented on #7553
instead of adding new emails; would we consider adding new components to
the daily/weekly emails?  i can see a major advantage to sending less
emails, but having daily/weekly ones that are actually read..

On Mon, Oct 12, 2020 at 7:28 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has

[2020-10-12 13:52] sanchaymittal opened #7659 "Townsquare Improvement TIP-1"
**Describe the bug**

[ ] Townsquare shows Hackathon suggestion on both lefthand and righthand sidebar.
![Screenshot 2020-10-12 at 7 12 52 PM](https://user-images.githubusercontent.com/31698676/95754065-217c9900-0cc0-11eb-82bd-c0cfa50079ce.png)

**To Reproduce**

Visit: https://gitcoin.co/townsquare

**Expected behavior**

- Should be shown only at the right-hand side.
![Screenshot 2020-10-13 at 7

[2020-10-12 14:02] vporton opened #7661 "GitCoin Calendar is empty"
https://gitcoin.co/livestream became an empty calendar!

I don't know now when events happen.

[2020-10-12 14:07] krrisis commented on #7626
linked it in the previous comment, was indeed successful: https://etherscan.io/tx/0xc22e930b38d05b476d5c556113ee66d138b29369a6a81717e5bbac59f298b473

[2020-10-12 14:20] owocki commented on #7650
@mds1 the db says "zkSync with L1 deposit. Found deposit but no transfer. User likely closed page before transfers were sent and should revisit cart to complete checkout. User may not be aware so send them email reminders" - i just manulaly marked it as successfsul

[2020-10-12 15:21] owocki commented on #7626
for the last two tips; i just reset them + sent more gas money to them (txn should clear in the next 5 min); try redeeming now pls

[2020-10-12 15:27] mds1 commented on #7650
Hey @kautir, can you visit http://gitcoin.co/grants/zksync-recovery and follow the steps on that page? That will ensure that your contribution made it to the grant owner even though it was marked as failed. Thanks!

[2020-10-12 15:28] mul1sh opened #7662 "Update server side deployment steps in docs"
**Describe the bug**
Right the gitcoin [docs](https://docs.gitcoin.co/) are very detailed and exhaustive when it comes to explaining the gitcoin dApp locally and this is awesome 😃👌. However they are lacking the same clarity on how to deploy the dApp on the server side i.e. in Amazon EC2 or Digital Ocean which is not ideal.

An update on the docs giving another detailed explanation on how to do thi

[2020-10-12 16:10] willsputra commented on #7553
@owocki yep makes sense! discussed this too with @PixelantDesign and @sanchaymittal . I'll take a look at our existing daily/weekly mints and see where this might fit in!

[2020-10-12 16:18] willsputra opened #7664 "As a tribe owner, I want to see top devs on the People tab in my tribe page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a tribe owner, I want to see top devs on the People tab in my tribe page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently the People tab in a tribe page is

[2020-10-12 16:37] owocki commented on #7553
https://gitcoin.co/_administration/email/ should be handy for that!

On Mon, Oct 12, 2020 at 10:10 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-12 18:07] owocki commented on #7408
KYC feedback https://twitter.com/gitcoin/status/1313838085633835009

[2020-10-12 18:08] owocki commented on #7408
Grants
- Directly say thank you to public goods funders
- public goods justice league art bounty .. fighting moloch

[2020-10-12 18:43] octavioamu commented on #7642
@agnelvishal I just deployed a fix please try again and let me know if something goes wrong.

[2020-10-12 18:58] agnelvishal commented on #7642
Yup. I was able to submit it.

[2020-10-12 18:58] #7642 closed

[2020-10-12 19:32] kautir commented on #7650
It get stuck on step 2
![image](https://user-images.githubusercontent.com/72108515/95783538-ea69b000-0cde-11eb-9795-23e89fadc08a.png)

[2020-10-12 19:41] mds1 commented on #7650
Turns out there's now a bug due to a recent zksync update. Let me get a fix in and I'll update this issue to let you know once it's deployed!

[2020-10-12 20:38] owocki opened #7665 "As a user being onboarded, I want the daily emails to be optimized around "where im at in onboarding" so they are maximially valuable in my getting value out of Gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user being onboarded, I want the daily emails to be optimized around "where im at in onboarding" so they are maximially valuable in my getting value out of Gitcoin

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would lik

[2020-10-12 20:39] owocki commented on #7665
@frankchen07 @jdorfman @octavioamu feedback pls.  @androolloyd

[2020-10-12 21:34] frankchen07 commented on #7665
Two main email upgrades would help here:

1. include profile completion widget in the daily email if the user hasn't completed it
2. depending on what products they selected, include "next" actionable steps. So we program statements A, B, C, D, and E for each product respectively (and also if they onboarded an organization), and then include them in a product welcome email that helps them onboard

[2020-10-12 22:52] jdorfman commented on #7665
@owocki we still have these opened

#7186
#7183

[2020-10-13 03:57] PixelantDesign opened #7666 "Tribe Discoverability in Grants"
### Discussion

### **Why**
- When a hackathon/grants customer does not currently have a running Gitcoin Grant round, there isn't an easy way to manage/discover all of the grant projects associated with the organization.
- The current implementation of a CLR round like Matic is not scalable, requires a lot of dev time to spin up.
- We believe that successful hackathon projects > successful grants

[2020-10-13 04:19] owocki commented on #7665
hopefully this helps us grok our email revamp too https://gitcoin.co/_administration/email/

[2020-10-13 04:44] PixelantDesign commented on #7355
Updated based on our discussion @thelostone-mc , am I missing anything?

[2020-10-13 10:15] thesachinmittal opened #7668 "Gitcoin community on Circle"
### Gitcoin community on Circle

I think gitcoin should serve as a place where 45k+ developer community of web3 can engage in technical chats irrespective of hackathons.
- If they have any defi/Security etc related doubt, they should come to Gitcoin.
- If they have a coding doubt, they should come to Gitcoin.
- If they are beginners, they should come to Gitcoin.

**_How it fits in currently, (In t

[2020-10-13 10:28] thesachinmittal commented on #7666
I loved the design, especially using collections @PixelantDesign

Few ideas of my own,

1. Just created an issue to address my [views on engagement and information management](https://github.com/gitcoinco/web/issues/7668) for Gitcoin community as a whole, and the tribes.

2. What is the most useful structure for Org(s) - Is it **community voting**? for eg. _Matic CLR._
    - Then we should have an

[2020-10-13 11:43] thelostone-mc commented on #7666
I'm not very clear on why we'd want to have a tie up btwn Grants and Tribe and a self service CLR.

- Having a custom grant create page doesn't seem to give us a benefit apart from the artwork. There is a likely scenario where a grant want to be part of multiple tribes. I'd learn towards having a new field instead of categories which simply allows the grant creator to tag multiple tribes
This woul

[2020-10-13 13:40] willsputra commented on #7553
@owocki super helpful. thanks!

[2020-10-13 14:35] willsputra opened #7671 "As a hackathon project buidler, I want to know that I can convert my project to grant"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hackathon project buidler, I want to know that I can convert my project to grant

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We're going to have the convert t

[2020-10-13 14:35] willsputra commented on #7671
cc @PixelantDesign

[2020-10-13 15:47] frankchen07 commented on #7355
1. Do we have customer feedback as to how they would use this page? Is the they in this case, sponsors specifically? What has Scott actually heard from customers?

2. If they do use it, how would they use it in relation to how it's filtered? What would they like it filtered on? Otherwise it's just one big smattering post of past and present hackathon projects.

3. Do we showcase a larger featured

[2020-10-13 15:56] frankchen07 commented on #7666
Just a note that right now we're not yet looking to scale this. Manually, it takes about 15 min - 30 min to create a specific CLR round.

This is quite heavy for the first build. My recommendation is getting the organization's repo right on the Grants creation page if we want to be able to filter on a technology. This means you would add the project URL / Github, and also the technology's Github /

[2020-10-13 16:23] vporton opened #7673 "Make possible to join two grants into one"
Sometimes two goals happen to be solved by the same project.

So, please make possible to join two grants into one grant with their contributions being summed.

[2020-10-13 17:39] PixelantDesign commented on #7671
cool! should we outline the steps accompanied with 3 small images?

Step 1  click _Convert to Grant_
Step 2  complete details about your grant
Step 3  click submit and once approved, you'll have a Gitcoin Grant

also, maybe we start with a responsive view of the email?

@sebastiantf are you interested in working on this one?

[2020-10-13 17:48] sebastiantf commented on #7671
@PixelantDesign I shall pick this up.

[2020-10-13 18:27] owocki commented on #7666
i'd challenge this, the dev setup is fairly easy after the refactoring that aditya made.  seems that where we fall down is on marketing these grants rounds (apollo and matic both had very little marketing success once we had put in the dev effort to set them up)

i wonder if we could integrate withs omething like stackshare (justin dorfman used to work there, and i know the founder) as a way of in

[2020-10-13 18:28] Taron0777 opened #7674 "https://gitcoin.co/funding/new"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-10-13 21:45] mds1 commented on #7650
Ok just deployed an update, give this another try and let me know how it goes!

[2020-10-13 22:26] maurycyp opened #7675 "Verify Grant Issue"
### Who

### What
Hello, I'm unable to verify the Twitter for my grant (Kchannels - https://www.kchannels.io/ )

https://gitcoin.co/grants/1429/kchannels

There are no instructions (or no button?) to send out a tweet, so I'm not sure what to do at Step 2.

`Step 2: Click to send the verification tweet from the grant account (@kchannelsio)`

So when I click on "Verify", I get an error because no tw

[2020-10-14 05:31] sebastiantf commented on #7671
@willsputra Can you please share the header image and that screenshot image being used in the email content?

[2020-10-14 08:44] kautir commented on #7650
The issue is still there.

[2020-10-14 11:38] vporton opened #7677 ""Feature bounty" doesn't work"
The button "Feature bounty" leads to a page like https://gitcoin.co/bounty/change/23926 and not to a "feature bounty" dialog.

[2020-10-14 12:44] willsputra commented on #7671
@sebastiantf we can keep the existing header!

screenshot:
![screenshot](https://user-images.githubusercontent.com/19514207/95990366-fe87eb80-0e5d-11eb-8f82-29563df8c3dc.jpg)

[2020-10-14 12:45] sebastiantf commented on #7671
Thanks @willsputra

[2020-10-14 13:17] sebastiantf commented on #7671
@PixelantDesign @willsputra Is this fine?

![wip2_convert_project_grant](https://user-images.githubusercontent.com/36922376/95994266-b6f96380-0e4d-11eb-9b03-1d1253e6f089.jpg)

[2020-10-14 13:44] #7569 closed

[2020-10-14 13:47] mds1 commented on #7650
Do you mind sending me your address and the transaction hash of the original transaction you made on September 29? That will help me debug this. If you don't want to share publicly you can DM me on Telegram @msolomon4 or Twitter @msolomon44

Also, can you open the browser console (keyboard shortcut Command+Option+J on Mac or Control+Shift+J on Windows/Linux) and send me a screenshot of the output

[2020-10-14 14:16] owocki commented on #7565
i cant seem to reproduce this.    @tkendal you were using metamask browser or metamask extension with chrome?

regardless i can ingest your tx using hte handy ingest script that @mds1 gave us

[2020-10-14 17:17] #5670 closed

[2020-10-14 17:18] #5437 closed

[2020-10-14 18:44] owocki opened #7679 "arkane network support"
its already in https://github.com/Web3Modal/web3modal; just need to turn it on

[2020-10-14 19:09] PixelantDesign opened #7680 "Hackathon Sponsor Submission View opens dead chat"
**Describe the bug**
Hackathon Submission View opens dead chat.

**To Reproduce**
Go to any sponsor submission view
click chat icon
See this screen
<img width="307" alt="Screen Shot 2020-10-14 at 3 07 22 PM" src="https://user-images.githubusercontent.com/238235/96034068-febcc280-0e2e-11eb-8b70-a71208f4b66a.png">

**Expected behavior**
Chat opens|

**Desktop (please complete the following informati

[2020-10-14 19:19] PixelantDesign opened #7681 "Show Recent People I've Tipped"
### User Story

As an operator of Gitcoin, I'd like to quickly be able to access the people I've recently tipped so that I don't have to search and verify the person I've tipped, saving time and concerns about sending funds to the wrong person.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to h

[2020-10-14 19:24] PixelantDesign commented on #7677
Where did you click "Feature bounty"?

[2020-10-14 19:25] octavioamu commented on #5437
work done > bounty is done > completed not more submission needed
contributor stop work >  new contributor can apply
bounty owner stop contributor work >  new contributor can apply

[2020-10-14 19:58] vporton commented on #7677
At Funder tab in https://gitcoin.co/dashboard

[2020-10-14 20:14] owocki commented on #7565
ok just ran it and the txns are ingested now

@matt can you update the inputs so that it uses '=' instead of ':' to
define the vars?  and so the script automatically converts addresses to
web3 checksum address?  alternatively this could just be an admin tool that
we run in the admin so anyone can ingest these txns.  at least until we
figure out the root cause.

On Wed, Oct 14, 2020 at 9:37 AM Matt

[2020-10-14 20:24] owocki commented on #7681
great idea!

On Wed, Oct 14, 2020 at 1:19 PM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-14 20:35] kautir commented on #7650
Here is the transaction [link](https://etherscan.io/tx/0x45583f5253ad77cb5e85e0cce8f900105b7a49578a1bd8b46bcd62bacb798b7c) on Etherscan.

And here is the whole console log when it stuck:
[console.log](https://github.com/gitcoinco/web/files/5380735/console.log)

[2020-10-14 21:01] tkendal commented on #7565
Thx for digging through the weeds on this. It was Chrome + MetaMask app on iOS mobile.

Handy injest scripts...now you’re talking my love language ;)

________________________________
From: Kevin Owocki <notifications@github.com>
Sent: Wednesday, October 14, 2020 8:16 AM
To: gitcoinco/web
Cc: Taylor Kendal; Mention
Subject: Re: [gitcoinco/web] Mobile Rd7 Grant contribution did not populate on Gitc

[2020-10-14 21:44] mds1 commented on #7565
@owocki Ah whoops, yea I copied the inputs from an old version which left some colons. I can get that checksum update done tomorrow, should be quick

[2020-10-15 05:37] thesachinmittal commented on #7180
This looks perfect. On the same line of thoughts,

1. That's why we should have an open bounty for every sponsor - every hackathon and brand the prize pot to the developers.
2. Developers need to be informed about the particular sponsor (Through an Overview section) cc: @willsputra

_If any sponsor make any announcement for developer outreach,
They will send link to gitcoin tribe page saying, lear

[2020-10-15 08:18] thelostone-mc commented on #7180
lgtm 👍

[2020-10-15 12:44] willsputra commented on #7671
Looks good to me! @PixelantDesign what do you think?

[2020-10-15 13:50] PixelantDesign commented on #7666
Thanks for the comments all!

**Grant Management**
There is still the issue of When a customer is not running a CLR round. Where is the best place for them to go to see/manage their grants. From Muskan at Matic is using the CLR page to manage all of the open grants. All of the categorization is in her head right now, she is the source of truth... in terms of where these projects are this is how th

[2020-10-15 14:13] mds1 commented on #7650
Hm so just to sanity check, make sure your wallet is connected and on the mainnet before trying any of the below.

From the console logs it seems to have just silently failed without any error message. But it did get stuck at the part where the fix was implemented, so perhaps your browser was caching the old code. Can you try doing a hard refresh once you're on the zksync-recovery page then trying

[2020-10-15 14:18] vporton opened #7683 "Hackathons end too early, secure them with funds"
I understand why hackathons last a limited time: The organizers often cannot secure additional funds to pay for extra projects after the end of a hackathon.

I propose to create a shared "insurance" funds of GitCoin projects and sponsors to insure organizers for projects delayed after the end of a hackathon or recurring hackathons.

[2020-10-15 14:28] PixelantDesign opened #7684 "Projects are not showing in Tribe"
**Describe the bug**
Projects are not showing up in Tribe

**To Reproduce**
Go to Arweave Page
Click Project

**Expected behavior**
See project tab in Arweave Tribe

**Screenshots**
<img width="1756" alt="Screen Shot 2020-10-15 at 10 25 39 AM" src="https://user-images.githubusercontent.com/238235/96143402-0fbe1000-0ed1-11eb-8e3a-bad442900e5d.png">

**Desktop (please complete the following informat

[2020-10-15 14:53] PixelantDesign commented on #7110
@merwane

[2020-10-15 14:56] PixelantDesign commented on #7666
@merwane is picking this up! https://github.com/gitcoinco/web/issues/7110

[2020-10-15 15:07] PixelantDesign commented on #7180
**Thought from @zoek1 in the figma**

We have two flows, one for normal bounty and the second for hackathon bounty. In hackathon bounties theres an option to select the project that correspond to the submission.

1. I think 'Add Project'  button should pop up the create project modal.
2. Auto select the created project

--------------

Since there are two flows...should we allow this for bounties

[2020-10-15 15:30] phantohm commented on #6229
Im having the same issue. Can anyone mark my account as trusted so I can claim my Kudos?

Thanks

[2020-10-15 17:17] owocki commented on #6229
done

On Thu, Oct 15, 2020 at 9:31 AM phantohm <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-15 18:11] phantohm commented on #6229
Thank you!

Sent from Yahoo Mail on Android

  On Thu., 15 Oct. 2020 at 1:17 p.m., Kevin Owocki<notifications@github.com> wrote:

done

On Thu, Oct 15, 2020 at 9:31 AM phantohm <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gi

[2020-10-15 19:15] kautir commented on #7650
I try hard refresh on chrome but it didn't work. Then tried on Firefox, the issue is still there.
I see this item in my cart:
![image](https://user-images.githubusercontent.com/72108515/96175391-b3420b80-0f37-11eb-91b8-8a8bdc0f4d0f.png)
When I try checking out it, I get this error:
![image](https://user-images.githubusercontent.com/72108515/96175539-e8e6f480-0f37-11eb-9e0e-47f936c986cd.png)
It see

[2020-10-15 19:39] mds1 commented on #7650
Ah, awesome, the item is still in your cart!

Try reducing the value to 0.78 ETH exactly, that way there's enough of a balance between your wallet and the fees. Now, if you use the "Complete Checkout" modal (that is popping up for you, right?) and follow the steps it should complete the contribution using the funds you have on zkSync here: https://zkscan.io/explorer/accounts/0xfa99bc3cfe7fd5d04e60

[2020-10-15 22:04] kautir commented on #7650
I completed the checkout and errors disappeared. Now transactions fail due to "Not enough balance" and I can't edit the transaction value. [This ](https://zkscan.io/explorer/accounts/0xfa99bc3cfe7fd5d04e60ee58387cdb74af58965e) is the link for transactions.

[2020-10-16 01:12] epsil0nzero commented on #6229
Dear @owocki.
Would you please mark my account as trusted too.
Thanks

[2020-10-16 01:13] mds1 commented on #7650
Ok, we are making progress! Apologies for all this hassle!

So that successful transfer looks like it was from the zksync-recovery page, because it transferred your full balance from your "[Gitcoin zkSync account](https://github.com/gitcoinco/web/blob/master/docs/GRANTS.md)" to your regular zkSync account. The rest of the transfers failed since your account had no balance left.

So, if you login t

[2020-10-16 07:10] gokulsan opened #7687 "Issue with Gitcoin Grant Application Submission Form"
**Describe the bug**

Unable to submit the Gitcoin Grant Submission Form

**To Reproduce**

Issue is in the following form submission
https://gitcoin.co/grants/matic/new

**Expected behavior**

Expected to proceed to the submission page

**Screenshots**

[(https://drive.google.com/file/d/1kuxUR3rbdkel2pgwtC8LX28sP2QUQvcN/view?usp=sharing)]

![Gitcoin_GrantApplicationForm_Issue_2020Oct](https://use

[2020-10-16 08:57] thesachinmittal opened #7688 "Feature Grant/telegram"
### I want to reach out the owner of a grant quickly, via telegram.

 (As a community manager, I want to ping grant owners for general reachouts.)

### Description

Asking grant creator for telegram id, which should be visible on grant page later. So, reaching out to grant creator is easy.
*Type*:

[2020-10-16 11:56] kautir commented on #7650
It seems everything is okay now. Thank you so much for helping 👍

[2020-10-16 12:26] danlipert commented on #7110
I'm wondering if the ideal first step here is to have a wireframe or rough idea of the user behavior before we start implementing the backend and data modeling aspects of this ticket. Most of the backend and data model is probably already there essentially, so if we can reuse what we have that would be great.

As a rough first step, would we say the need here is: "For a user in a Gitcoin org, they

[2020-10-16 12:45] PixelantDesign opened #7689 "Chat Presence Indicator Out of Sync"
**Describe the bug**
Chat Presence Indicator is out of Sync
In the nav bar it shows me as offline, but in the chat flyout I'm online.

**To Reproduce**
Checkout chat - maybe this is just me? see screenshot

**Expected behavior**
Show online in both places

**Screenshots**
<img width="1662" alt="Screen Shot 2020-10-16 at 8 43 21 AM" src="https://user-images.githubusercontent.com/238235/96259688-f6c

[2020-10-16 12:53] thesachinmittal opened #7690 "Clone/ Fork the Project"
### User Story

As a user, I want to clone a project created by another user.

### Why Is this Needed

Avoid reinventing the wheel, and letting devs with ideas to experiment freely by cloning/forking projects they want to work further on.

### Inspiration

![image](https://user-images.githubusercontent.com/22838732/96260312-809e1e80-0fdc-11eb-95ae-1d8f7103e623.png)

### Benefits
It increases engag

[2020-10-16 12:55] thelostone-mc commented on #7110
I'd lean towards setting up CRUD around a new table organizations
This does set us back a little in terms of feature but helps us build out a stable foundation

- I'd say we first build out the ability to create org + add folks to them
- Then building the UI for this
- Write scripts to shift data from profile tribes to the new table
Build functionality around it

The end state being
You have multi

[2020-10-16 12:56] PixelantDesign commented on #7690
Cool idea! It would be nice to have a GIVE BACK button - to share some winnings/tip for allowing to use the idea!

[2020-10-16 12:59] PixelantDesign commented on #7110
I put together the original ticket with @octavioamu and we thought getting the backend set up was first step. But I'm open.

[2020-10-16 13:42] thelostone-mc commented on #7684
This seems to working in live

[2020-10-16 14:38] owocki commented on #6229
done

On Thu, Oct 15, 2020 at 7:12 PM epsil0nzero <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-16 15:05] octavioamu opened #7691 "fullfilment address validation on polkadot bounties"
**Describe the bug**

There is not validator for the contributor address on the submission form confusing users who are submitting their eth addresses.
**To Reproduce**

submit work on a polkadot chain bounty > no validation about the wallet address

**Expected behavior**

Validate the address based on a chain and avoid wrong submissions.
**Screenshots**

**Desktop (please complete the following i

[2020-10-16 16:24] impe83 opened #7692 "Cannot donate on Gitcoin"
**Describe the bug**

A week ago I tried to do a donation on gitcoin but when I confirm the 3rd transaction, it keeps on pending? https://zkscan.io/explorer/accounts/0x93B0cCF2090F970b086f2320D15B09308005596d
grant:
https://gitcoin.co/grants/63/radicalxchange-foundation-is-a-501c3-nonprofit-or

I already made 3 tentative but it just won't proceed. Im using trust wallet and zksync (I already asked

[2020-10-16 16:54] thelostone-mc commented on #7687
Could you try and let us know if there are any errors in console ?

[2020-10-16 17:58] owocki commented on #7408
people reach out to me at the start of the round to ask how they can maximize their grant, and we dont have a "how to promtoe your grant" guide to give them. as a result, people who have played the game the longest + have insider knowledge rise to the top.

[2020-10-16 19:29] octavioamu opened #7694 "projects tab on hackathons on tribes take a lot to load"
**Describe the bug**

projects tab on hackathons on tribes take a lot to load

**To Reproduce**

go to https://gitcoin.co/hackathon/polkadot/projects/
**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional c

[2020-10-16 19:36] NukeManDan opened #7695 "Subit work error for non integer hours worked. ".5""
**Describe the bug**
On submitting work I get a very non-intuitive error: "Unable to fulfill bounty. Please try again later" as a popup when all fields are completed.

I stumbled around trying to figure the issue out, and only **after looking in the console did I find a hint**:
`error: bounty fulfilment failed with status: 400 and message: error: missing hoursWorked`

I tried again with "1" for ho

[2020-10-16 22:44] thanhtam999 opened #7696 "Ok"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [x] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-10-17 12:05] PixelantDesign opened #7697 "Update Blog Nav"
### Update blog nav

- add link to hackathon
ordering: Hackathons, Bounties, Grants, Kernel, Kudos
- remove codefund - dead link
- remove codefund from products dropdown
- remove codefund banner at bottom of the page.

<img width="385" alt="Screen Shot 2020-10-17 at 7 59 51 AM" src="https://user-images.githubusercontent.com/238235/96336672-6cdfd000-104f-11eb-8dad-e4a8a3142220.png">

<img width="95

[2020-10-17 14:08] mds1 commented on #7650
No problem, glad we got it worked out!

[2020-10-17 14:08] #7650 closed

[2020-10-17 20:21] rpruizc commented on #7695
I believe it's not about a leading zero, but a non-integer number. In my case, I got the same error while using '2.5'

[2020-10-18 12:23] PixelantDesign opened #7698 "As a Gitcoin Grantee I want to let donors and potential donors know that I'm looking for mentorship so I can get guidance on my project."
### User Story
As a Gitcoin Grantee I want to let donors and potential donors know that I'm looking for mentorship so I can get guidance on my project.

### Why Is this Needed

- As Gitcoin, we want to provide the tools so that Grant projects have the best chance of succeeding.
- Currently  there isn't a way to communicate this right now , making it hard to know which grant projects are looking fo

[2020-10-18 12:30] PixelantDesign opened #7699 "As a Gitcoin Grantee I want to be able to chat with the donors of my Grant to communicate with them."
### User Story
As a Gitcoin Grantee I want to be able to chat with the donors of my Grant to communicate with them.

### Why Is this Needed

- As Gitcoin, we want to provide the tools so that Grant projects have the best chance of succeeding.
- Currently  there isn't a way to quickly dm a grant donor.
- Feedback from grantees - ex: checking to see if a grant funder would want a token, otherwise no

[2020-10-18 19:34] hurek opened #7700 "Add tBTC ERC20 token to the drop-down list when selecting a token for a grant"
As a member of the Keep Network community, I want to ask you to add a tBTC token to the drop-down list of tokens that the grant accepts, so that Keep community members could create and contribute to grants using the tBTC token.

*Summary*:

I represent the interests of the Keep Network community here and we are happy that we already can launch grants with the ability to raise funds in KEEP tokens.

[2020-10-19 02:32] owocki opened #7701 "Deploy the Kudos contract to xdai for me (so I can migrate kudos to XDAI)"
So that I deploy unblock https://github.com/gitcoinco/web/issues/7369 , i would like for someone to deployd [Kudos.sol](https://github.com/gitcoinco/Kudos721Contract/blob/master/contracts/Kudos.sol) to [XDAI](https://forum.poa.network/t/xdai-chain-resources/1769) for me.

I tried to do this tonight but I got lost in NPM install hell, and then later in openzeppelin history hell :P   The repo is pre

[2020-10-19 04:04] adamgall commented on #7701
Completed: https://github.com/gitcoinco/Kudos721Contract/pull/9

[2020-10-19 14:05] #7674 closed

[2020-10-19 14:06] danlipert commented on #7673
@vporton would this be where the same project has two different grants, or two grants are solving the same issue? Because we definitely want to support multiple people working on the same thing - reopen if I'm misunderstanding

[2020-10-19 14:06] #7673 closed

[2020-10-19 14:08] #7481 closed

[2020-10-19 14:13] sebastiantf commented on #7671
@PixelantDesign PR up at #7703

[2020-10-19 15:25] owocki commented on #7408
partnership with yearn/one click portal thing

[2020-10-19 15:34] owocki commented on #7408
grant detail page needs cleanup

[2020-10-19 15:45] octavioamu commented on #7180
Hey guys I think there are some confusions,
the client ask "we want multiple submissions" and what was designed is multiple links on a submission. That will not solve the request, contributors will need to have all the prs ready when doing the submission, with that the contributions still not able to add new submission another day, or even edit original.
the design Is missing the relation with pro

[2020-10-19 16:07] owocki commented on #7700
can you submit it to gitcoin.co/submittoken

On Sun, Oct 18, 2020 at 1:34 PM hurek <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-19 16:14] octavioamu commented on #7690
we had some problems on the past on users copying others submissions on hackathons and submitting as their own ideas, I wouldn't encourage that, the main idea of a project is to be original on the proposal.

[2020-10-19 16:51] owocki commented on #7701
well the good news is that the task is done!  the bad news is that people started work before being approved; and @samhatem @adamgall both did the task (in addition to someone else on twitter who commented).

thank you so much for working on this!  i think ill pay you both out something.  can you submit work on the gitcoin bounty (or just request via gitcoin.co/requestmoney) and ill payout?

[2020-10-19 16:57] PixelantDesign commented on #7355
yep customers and developers, they like the page, the categories, and the trending information specifically but we took it out for V1.

[2020-10-19 16:57] adamgall commented on #7701
@owocki i've submitted work via the gitcoin bounty.

note that i was first to apply, first to deploy, and first to open a PR

[2020-10-19 16:59] ceresstation commented on #7355
I would say that we can even, for a first pass, avoid letting people search the page and just list 10-20 top projects we think are really cool statically. I'd also advocate for making each card slightly bigger and have fewer per row, we really just want to show what the most interesting things are that hackers have built.

[2020-10-19 17:00] ceresstation commented on #7355
I would also advocate for *not* mixing grants with hackathon projects, as these are very different products with different users. Maybe at one point they'll overlap more but I think the audience is distinct.

[2020-10-19 17:01] PixelantDesign commented on #7355
its not a mix. it denotes grants associated.

[2020-10-19 17:02] PixelantDesign commented on #7355
This is a possibility that @thelostone-mc and I have discussed.

[2020-10-19 17:19] hurek commented on #7700
Thank you, I already left a request there. How long to wait for a response?

[2020-10-19 17:34] vs77bb commented on #7666
Agree with this comment from Aditya from a design perspective.

I agree, maybe no ask / accept. In the Matic version we did it manually.

Generally I'm quite bullish on these user stories to create really high stickiness on our platform both for grant owners and grant creators.

[2020-10-19 17:55] octavioamu commented on #7695
Thanks for the report, should be fixed now, let me know if not.

[2020-10-19 18:02] dekanbro commented on #7701
@owocki
https://blockscout.com/poa/xdai/address/0x610aF0c5f2c39eb13964ca5Def6f13325Ab371F1/contracts

from:
https://twitter.com/DekanBro/status/1318116876514414592?s=20

[2020-10-20 00:28] PixelantDesign opened #7706 "Export submission view to a spreadsheet"
### User Story

As a hackathon sponsor, I'd like to be able to share the details of the hackathon submissions with my internal team so that we can decide on the winners and track payout.

As a hackathon operator, we need a way to allow customers to download a spreadsheet of the submissions view so that they can share it with their internal team.

### Why Is this Needed

- The V1 of submissions vie

[2020-10-20 00:57] PixelantDesign opened #7707 "Self Service Hacks Stories"
### User Story

As a Gitcoin Hackathon customer, I'd like to be able to do basic set up and management myself because the platform should be easy to figure out.

As a Hackathon operator, we need a way to allow customers to manage their own hackathons from start to finish with limited interaction from hack ops in order to scale.

### Why Is this Needed

- Parts of the customer flow have been design

[2020-10-20 00:58] PixelantDesign commented on #7141
closing since onboard handles this

[2020-10-20 00:58] #7141 closed

[2020-10-20 00:59] #7143 closed

[2020-10-20 01:07] #5484 closed

[2020-10-20 01:20] #6095 closed

[2020-10-20 01:21] #4882 closed

[2020-10-20 01:22] #6315 closed

[2020-10-20 02:02] owocki commented on #7408
https://twitter.com/lefterisjp/status/1318320082980921351?s=21 distributed curation idea

[2020-10-20 06:05] PixelantDesign commented on #7180
Hey @octavioamu

@connoroday /@zoek1  and I debated about this....
one way we discussed was require that the developer create multiple projects.
For example, click start work, fill out the project details. Then allow the person to Add another project in that flow, or display Add another project on issue details.

We thought users might not want to fill out details 3 times, but I could see going th

[2020-10-20 06:12] lucadgtrip opened #7708 "Persona: Contributor (Toggle ): click on "Toggle" does not work"
**Describe the bug**
When clicking on "Toggle" on "Persona: Contributor (Toggle )" in ContributorRank, the link does not change the state from Contributor to Funder

**To Reproduce**
1) Go to https://gitcoin.co/[YOURPROFILE]
2) Click on "(Toggle)
3) Click on "I'm a Funder"

**Expected behavior**
I expect the Persona to change from Contributor to Funder.

**Screenshots**

![Screenshot 2020-10-20 at

[2020-10-20 06:27] connoroday commented on #7180
@octavioamu that was what I was worried about initially - my response to @PixelantDesign's first mockup was:
"Only question would be, if someone submits one project, then later wants to go and add a second project, can they do it?"

I think the answer is no. We can make it abundantly clear that devs have to submit all their projects at once and to wait until they are all done, but naturally people

[2020-10-20 07:33] connoroday commented on #7706
"5-10 customers have asked Connor for an expired spreadsheet."
I think you mean exported :)

Overall, it looks great! I think the main steps here are:
1. Organizing the standard submissions metabase query such that we remove unnecessary fields (Start boolean, profile ID) and sensitive fields (Emails, payout addresses), possibly remove projects not submitted as well
2. Filter data by sponsor organi

[2020-10-20 07:57] NukeManDan commented on #7695
worked for a different submission - thanks @octavioamu 🙇🏼

[2020-10-20 07:57] #7695 closed

[2020-10-20 09:54] thesachinmittal commented on #7707
Shouldn't we set up a user guide or something? We can host this on Circle which will be much easier to manage. And we can simplify the onboarding using Airtable forms.

[2020-10-20 11:32] thesachinmittal commented on #7690
@octavioamu this feature will be only applicable to **Showcase Projects.**

For projects in WIP, we will not encourage this.

[2020-10-20 12:04] thesachinmittal opened #7709 "Developer Onboarding for a sponsor (Adding Overview + discord widget)"
### Why Is this Needed

Even if I visit on sponsor page, there's not enough information about the sponsor so that developer can get onboarded.

### I have put up an eg of ETC Labs, here #7569

### Overview (cc @willsputra)

![overview](https://user-images.githubusercontent.com/22838732/96583494-6fb21d80-12fa-11eb-8ffe-c63303c54dd3.jpg)

### Discord Widget
![image](https://user-images.githubusercon

[2020-10-20 12:18] phantohm opened #7710 "Kudos disappearing from Profile"
**Describe the bug**
Earned Kudos are disappearing from profile and not showing up in Metamask. I have 29 earned Kudos, only 14 are showing in profile, none showing in MetaMask Wallet.

**Expected behavior**
I should be seeing 29 Kudos

**Screenshots**Screenshots attached
<img width="1244" alt="2020-10-20_08-16-32" src="https://user-images.githubusercontent.com/72711505/96584702-9f3a3900-12ac-11eb

[2020-10-20 13:13] thelostone-mc opened #7714 "grants - rounds 8 scope (aditya)"
#### Feature

- Cleanup sidebar. Grant Types != Grant CLR.
- Show active CLRs on landing page and have them redirect to /grants/clr/<clr-name>  ?
- Re-write grant detail page in vue and remove inline edit and replace with modal (same code as grants/new)
- Update CLR to include trust verification scores

#### Nice to have

- Ability to have collection specific to a GrantCLR
- ~Ability to prefill fi

[2020-10-20 14:02] owocki commented on #7714
this might be good timing if we redesign the grants page this round too @willsputra @PixelantDesign !

[2020-10-20 14:57] octavioamu opened #7715 "zcash fixes"
- cart
  - ethereum tab
    - - [x] show the right total
    - - [x] check the ethereum checkout
    - - [x] on payout remove only ethereum grants
  - zcash tab
    - - [x] disable button when is done
    - - [x] ui small fixes based on states
    - - [x] Populate right tokens
    - - [x] clr matchings tokens and value
- index
  - - [x] populate the right tokens on side cart
  - - [x] show the rig

[2020-10-20 16:02] biuxmaster opened #7717 "CODE - new vision page"
### User Story

CODE the new vision page design

### Why Is this Needed

Vision page is outdated

*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
Old vision page

### Expected Behavior
Here is the Figma file:
https://www.figma.com/file/DrOZ9mUPJxoJDQgWun5mtH/Vision-Page

### Definition of Done
[comment]: # (Any other information that would be

[2020-10-20 16:38] mds1 commented on #7715
- [ ] Successful Ethereum checkout clears Zcash grants also

[2020-10-20 17:08] PixelantDesign commented on #7714
New design is on the list. Will share on the call tomorrow.

[2020-10-20 17:48] owocki commented on #7710
gitcoin.co/phantohm is the profile right?

i think this has to do with our shifting kudos over to xdai. 6a768ccef5042778a973cd4c7acd0f6de3d77ceb should fix it; will be deployed soon

[2020-10-20 18:20] owocki commented on #7717
thanks @biuxmaster ; @developerfred any interest in this?

[2020-10-20 18:22] owocki commented on #7701
thx; @dekanbro  can you give me your payment address?  feel free to submit via gitcoin.co/requestmoney or on the bounty.  i see @samhatem @adamgall 's submission on the bounty already!

[2020-10-20 19:28] phantohm commented on #7710
Yes thats my profile.

On Tuesday, October 20, 2020, 01:49:19 p.m. EDT, Kevin Owocki <notifications@github.com> wrote:

gitcoin.co/phantohm is the profile right?

i think this has to do with our shifting kudos over to xdai. 6a768cc should fix it; will be deployed soon

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-20 19:52] #7281 closed

[2020-10-20 19:55] owocki commented on #7710
dont worry they are not lost - we are still rolling out the xdai kudos
transactions. itll likely take another day or two.

On Tue, Oct 20, 2020 at 1:30 PM phantohm <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/resu

[2020-10-20 19:57] phantohm commented on #7710
Thank you. 

On Tuesday, October 20, 2020, 03:55:33 p.m. EDT, Kevin Owocki <notifications@github.com> wrote:

dont worry they are not lost - we are still rolling out the xdai kudos
transactions. itll likely take another day or two.

On Tue, Oct 20, 2020 at 1:30 PM phantohm <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

git

[2020-10-20 20:06] owocki opened #7720 "chat consolidation product work"
1. remove gitcoin chat from the site, and in general
2. retire the gitcoin community slack
3. go all in on discord again + have yalor spearhead it.
4. retire telegram chat
5. bring back the ‘enter your discord handle when you start work/signup’ featture

[2020-10-20 20:11] owocki commented on #7665
we should also fold in some of these ideas https://blog.palabra.io/great-onboarding-plain-text

[2020-10-21 01:17] disruptionjoe opened #7721 "As a User I would like the main townsquare to format properly on a split screen display for windows 10"
**Describe the bug**
The main townsquare displays poorly when not on a full screen desk top. Specifically when split screen like the attached screen shot

**To Reproduce**
Check on display smaller than desktop, perhaps tablets do this as well.

**Expected behavior**
Log onto the main site. The stuff that is normally on the left shows up, then you must scroll to find the normal feeds.

**Screenshot

[2020-10-21 06:05] Solexplorer opened #7722 "Received an email saying that I received the kudos but I can't see it in the kudos tab"
**Describe the bug**

So I received the email about the kudos having been successfully minted to the xdai network but when going in my kudos tab, I don't see it. I see that @travelingtechguy experienced the same issue

This is the mail that I've received:

**To Reproduce**

I don't know how to reproduce it as the mail was generated from the backend

**Expected behavior**

If I receive an email say

[2020-10-21 07:25] thesachinmittal commented on #7709
#### Onboarding of developer for a particular sponsor (Tribe page - Adding Overview + discord widget + onboarding bounties)

Even if I visit on sponsor page, there's not enough information about the sponsor so that developer can get onboarded.

### I have put up an eg of ETC Labs, here #7569

### Overview (cc @willsputra) but the same overview in circle.

![overview](https://user-images.githubuser

[2020-10-21 07:29] thesachinmittal commented on #7720
This is awesome, related ticket on Types of interaction in Gitcoin: https://github.com/gitcoinco/web/issues/7709
cc: @disruptionjoe

[2020-10-21 07:31] AmySeidman opened #7723 "Verify Grant Issue"
### Who
AmySeidman

### What
trying to verify BFLO grant but can't

### Why
I don't know - your system isn't recognizing my tweat

[2020-10-21 07:32] thesachinmittal commented on #7570
This is awesome @willsputra , i have created an umbrella ticket on, [types of interaction at Gitcoin.](https://github.com/gitcoinco/web/issues/7709)

[2020-10-21 07:41] thesachinmittal opened #7724 "Update request in circle"
### Feature req 1: Integrate space instead of whole circle

#### Current behaviour

Circle can be activated after going into admin, but it activate the whole circle instead of activating a particular space related to the page.

User story - For ETC Labs hackathon, if i activate circle. It looks like this.

![image](https://user-images.githubusercontent.com/22838732/96688051-52368f80-139e-11eb-98e3

[2020-10-21 12:29] PixelantDesign opened #7726 "Grant Detail Clean Up"
### User Story

As a grant donor, I'd like a page that is easy to understand so that I can see the information I need to make decisions on whether I should fund a grant

As a grantee, I'd like a page that is clean/tidy so that I can build trust with the community and properly represent my project.

As an operator of Gitcoin Grants, I'd like a cleaned up grant detail page for consistency as it buil

[2020-10-21 13:20] #7618 closed

[2020-10-21 13:53] antisaa opened #7728 "Stop button is present after submitting work"
**Describe the bug**

I am seeing Stop work button after I successfully submitted work.

**Desktop (please complete the following information):**

- OS: Ubuntu 18.04
- Browser: Google Chrome
- Browser Version: 79

[2020-10-21 14:20] owocki commented on #7722
Thx; Working through these issue.  When the tx status updater is run itll
show up.  Need to make that happen immediately when the script runs.

On Wed, Oct 21, 2020 at 12:06 AM Solexplorer <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results

[2020-10-21 14:20] disruptionjoe opened #7729 "As a USER, I would like to see the PRIZE TOTAL for any event when I click on "Prizes" in a hackathon event."
**Describe the bug**
When I click on the prizes tab for a specific hackathon, it does not show me the total prizes available at the top. I don't want to add it up myself!

**Screenshots**
![screenshot 112](https://user-images.githubusercontent.com/35829692/96733023-9c0f7d80-137e-11eb-88f0-7b7bb4183586.png)

**Desktop (please complete the following information):**

- OS: windows 10
- Browser: chrom

[2020-10-21 14:24] owocki commented on #7408
https://github.com/gitcoinco/web/issues/7726

[2020-10-21 14:24] krrisis commented on #7626
they both seem to be there but pending, prob bcs gas prices went up, apologies for not having done it immediately, was travelling

https://etherscan.io/tx/0xae8edb068b03e3f9940bd6afc12a30f1fddbb7f89c5d956549c41695dd980feb

[2020-10-21 14:26] chibie opened #7730 "Binance chain integration (bounties/hackathons)"
### Why Is this Needed

*Summary*:
This integration is to allow users on the platform use the BNB token for
* Bounties
* Hackathons

### Description

*Type*: Feature

### Current Behavior
No existing implementation. Existing chains are BTC, ETH, ETC, Celo, Filecoin, Zilliqa, and Polkadot

### Expected Behavior
**Bounties**
* Funder will be able to fund all types of bounties (traditional, cooperati

[2020-10-21 14:59] thelostone-mc commented on #7730
- Check with Scott if we need to charge fee on bounty creation

[2020-10-21 15:08] cristiam86 opened #7731 "Where is my DAI contribution to a Grant?"
Hello!
I contributed 1 DAI to this grant: https://gitcoin.co/grants/1454/wrapped-filecoin-wfil but I can't see my contrib. Does it need to include the fee?
Here is the tx: https://etherscan.io/tx/0x6f644aacee12e72e7a550ca886ae51834f1773d4aec7a8d4e324ff7a7e2c9cdd

[2020-10-21 15:14] owocki opened #7732 "Vitalik vision for round 8"
Some quick ideas on what we could do for round 8:

*Have two major categories, "tech" and "community". ( # 7745 )
* Within "tech", have any subdivisions be just a UI layer, so it's all just one big lump of things. That is, from an economic standpoint the subdivisions are collections, from a UI standpoint the subdivisions are categories, if that makes sense.
* Within community, have a hard split: 1

[2020-10-21 15:14] owocki commented on #7732
per call today; further work needed to massage this into an actual product spec

[2020-10-21 15:21] owocki commented on #7714
TODO @thelostone-mc - break up into individual cards + put on grants round 8 project https://github.com/gitcoinco/web/projects/52

[2020-10-21 15:43] alexvotofuture opened #7733 "Verify Grant Issue"
### Who

### What
Clicked the Twitter verification button, nothing happened. Clicked "verify" button below as well, no response.

My Twitter account is @AVotoFuture

### Why

[2020-10-21 18:26] owocki commented on #7731
did you contribute on-site? or just directly to the addr?  what
browser/web3 wallet did you use?

On Wed, Oct 21, 2020 at 9:08 AM Cristiam Da Silva <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-21 18:35] owocki commented on #7733
wuts the grant link?

On Wed, Oct 21, 2020 at 9:43 AM Alessandro Voto <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-21 18:35] owocki commented on #7733
also hi alex!!!!

On Wed, Oct 21, 2020 at 12:35 PM Kevin Owocki <kevin@gitcoin.co> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-21 18:47] cristiam86 commented on #7731
I added the grant to the cart and then I checked out through chrome browser with metamask

[2020-10-21 19:03] alexvotofuture commented on #7733
Heyo!!!

Here's the link:
https://gitcoin.co/grants/1462/dcompute

[2020-10-21 21:32] BitAsh opened #7736 "Submission editting options to fix wrong address for rewards"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

After submitting my work, there is no way to edit the submissions. As I user I want to be able to edit them, so that I can fix some mistakes like wrong reward address.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would lik

[2020-10-21 22:38] developerfred commented on #7717
I am interested in this issue, thank you @owocki

[2020-10-21 23:50] octavioamu commented on #7717
Nice I like it, just some feedback:

- we use Muli font face not mulish so please be attached to the site fonts as we don't want to increase the bundle size + branding.
- for readability please try another font color with better contrast
![image](https://user-images.githubusercontent.com/1358093/96801583-4f5b8f00-13de-11eb-8812-0c0a820afec1.png)
- the menu button on mobile is this and the nav is a

[2020-10-22 04:56] zdzoz commented on #6229
@owocki I'm having the same issue. Can you please mark my account as trusted too?

[2020-10-22 09:40] chibie commented on #7730
@thelostone-mc for the record, scott said we won't charge any fee on bounty creation

[2020-10-22 13:10] biuxmaster commented on #7717
@octavioamu  Hey, thanks for the feedback.   I already made the updates.

 In relation to the font "Muli", I knew it that you guys use this font on the website. The problem is that in Figma they changed the font name "Muli" to "Mulish".

You can also check here: https://spectrum.chat/figma/general/muli-font-will-not-select~029fc373-02eb-4481-b555-fdd5f42d1c53

[2020-10-22 15:19] octavioamu commented on #7717
ohhh cool didn't know about it.Thanks for sharing

[2020-10-22 15:21] nandit123 opened #7739 "Verify Grant Issue"
### Who

### What
I am unable to verify the grant for twitter account, i am stuck on step 2 (Click to send the verification tweet from the grant account (nanditmehra) . There is no button to click.
Grant link - https://gitcoin.co/grants/1419/byte-box
### Why

[2020-10-22 15:33] PixelantDesign commented on #7733
Hi Alex!

[2020-10-22 16:40] owocki opened #7740 "Cross-pollination between grants/hackathons - how do we stack the events on top of each other?"
Cross-pollination between grants/hackathons - how do we stack the events on top of each other?

[2020-10-22 16:41] owocki commented on #7740
@connoroday @ceresstation any asks for @willsputra @PixelantDesign @danlipert @thelostone-mc & co as we run our first stacked event? we are starting design for round 8 now!

[2020-10-22 16:53] owocki opened #7741 "ZEC contribution feedback"
looking at this page rn and typing this up: https://bits.owocki.com/7Ku8Q510

how can i be sure my contribution went through?

from a UX standpoint; do we want to do any of the normal things we did in the EF round?
1. clear cart, show user the viral modal to encourage them to share
2. ~increment/update match amount~
3. ~i didnt get a confirmation email (and it looks like the grant owner didnt eith

[2020-10-22 16:58] owocki commented on #7741
ETH checkout regresssions after ZEC deploy.

<img width="1836" alt="Screen Shot 2020-10-22 at 10 56 36 AM" src="https://user-images.githubusercontent.com/513929/96905137-4bb71f00-1455-11eb-87d5-08d44a7d0049.png">
 'apply to all' button no longer works

standard checkout no longer works
<img width="1890" alt="Screen Shot 2020-10-22 at 10 57 24 AM" src="https://user-images.githubusercontent.com/5139

[2020-10-22 17:19] owocki commented on #7741
ok i restarted my browser and i can checkout again with standard checkout (the apply to all button no longer works still tho)

[2020-10-22 17:20] owocki commented on #7739
@zoek1 there are a handful of twitter verification issues on the issue board. could you look into them pls?

@nandit123 could you give a screencap?  are there any errors in your console?

[2020-10-22 17:21] owocki commented on #7733
@zoek1 antother twitter verification complaint;

@alexvotofuture any errors in your console?

i just verified your grant viat he admin

[2020-10-22 17:45] owocki commented on #6229
sure; done!

On Wed, Oct 21, 2020 at 10:56 PM zdzoz <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-22 18:15] #7715 closed

[2020-10-22 19:48] Diegoelias94 commented on #6229
@owocki Well, damn glad I found this thread then! I'm having the exact same issue and didn't want my excitement to stop so soon! if you could gimme a hand with the trusted account thing, i'd be super thankful! Also, this all looks INCREDIBLE.

[2020-10-22 20:18] owocki commented on #6229
try now diego

[2020-10-22 20:31] Diegoelias94 commented on #6229
Absolute madlad! Cheers!

[2020-10-23 00:15] alexvotofuture commented on #7733
Didn't check my console for errors before (should make that a habit), and now that it's verified the Twitter button's gone so can't try again. But it's verified! Thanks y'all :D

[2020-10-23 00:15] #7733 closed

[2020-10-23 00:27] AmySeidman opened #7742 "Verify Grant Issue"
### Who
https://gitcoin.co/grants/1459/bflo-proof-of-reputation?tab=contributors

### What
can't verify grant many times. I have tried to post more than 3 times, but alas it won't verify.

### Why
please help verify as per Gitcoin's requirement.

Thanks!

### Who

### What

### Why

[2020-10-23 03:25] zoek1 commented on #7733
No problem, i'll reproduce in my local and push the fix 👍

[2020-10-23 08:47] thelostone-mc commented on #7741
They aren't ! I've checked it in local a few time so I'm confident it in working but defer to @danlipert / @octavioamu

[2020-10-23 08:48] thelostone-mc commented on #7742
Could you update your twitter link from http://twitter.com/BFLOtech to BFLOtech

[2020-10-23 08:48] #7614 closed

[2020-10-23 08:48] #7617 closed

[2020-10-23 08:48] #7613 closed

[2020-10-23 08:48] #7615 closed

[2020-10-23 08:51] thelostone-mc opened #7743 "change the way the optional tip works."
#### Description

Redo the contribute to Gitcoin Grant Tip as per the design shown in
https://www.figma.com/file/GUnBaAsN9k6XQi5RNHnxyK/Grants-R8?node-id=142%3A204

- Should be enabled only for ETH flows
- let the default be set to
   - 5 %
   - Include this contribution to CLR match
- when user doesn't select "include this contribution to CLR match", ensure `match` in `Contribution` model is set

[2020-10-23 08:54] thelostone-mc opened #7744 "chore: Fix (or majorly triage) the issue where the system doesnt know about a contribution + we have to manually ingest them."
#### Description

**Part1**
As the title states, figure out root cause and fix up missing contributions so as to avoid manual adding them in db

@mds1

**Part2**

See if UI/UX improves needed now that for bulks checkout we move user to zksync site

sample app which does it:
https://zksync.curve.fi/

[2020-10-23 08:59] thelostone-mc opened #7745 "vitalk: 2 CLR rounds : tech + community"
#### Description

- Add flag to disable GrantTypes via admin
- Debate on how we grant from other types into the major two ones
- Do we preserve the remaining types / purge them

@owocki how are we to collect the info that which country a community grant is from

Option. 1 -> send email and then we map to right CLR type.
Option 2 -> add new field in DB for grant and create CLR for those

[2020-10-23 09:04] thelostone-mc opened #7746 "feat: auto-fill grant/new form"
#### Description

- prefill grant type and grant subtype via URL as shown below http://gitcoin.co/grants/new?category=matic&subcategory=test&clr=matic
 - - category -> what populates the category field
- - subcategory -> what populates the subcategory field (this can be an array)
- - chain (selects which chain to prefill -> ETH / Zcash)

---
For showing a custom logo on grant creation form
- Add a

[2020-10-23 09:18] thelostone-mc opened #7747 "chore: move grant creation mail to celery"
#### Description

ensure email is sent via celery on grant creation so that grant creation is a quicker flow

[2020-10-23 09:20] thelostone-mc opened #7748 "chore: send mail only when contribution is successful"
#### Description

ensure successful contribution mail is sent to user only after the contribution has cleared in DB

This has been done for zcash!

Discuss with  @mds1 + @owocki before building

[2020-10-23 09:23] thelostone-mc opened #7749 "feat: redo grant landing page"
#### Description

When you switch from one category to another on the left sidebar ->
If you are on tech category tab and switch to matic category -> the banner + grants should update without a page reload

The grants already are AJAX calls so the data is already present.
Just need to ensure the banners on the top also update as a user switches

This means you would have to fetch all the banners u

[2020-10-23 09:27] thelostone-mc opened #7750 "ui: redo collection UI"
#### Description

Redo collections card UI as per design from @PixelantDesign on the landing page

- [x] Add Design
- [x] Redo UI

![image](https://user-images.githubusercontent.com/5358146/98840549-f0cd8200-246c-11eb-8ed2-3bd6876df264.png)

[2020-10-23 09:30] thelostone-mc opened #7751 "chore: update payout_type in Contribution"
#### Description

- ~prefill contributions with payout_type field added to Contribution model~
- ensure new contributions have the payout_type set

[2020-10-23 09:40] thelostone-mc opened #7752 "refactor cart.js"
#### Description

Evaluate and add more refactor if needed into cart.js

I believe @octavioamu might be able to shed some light on the fixes which could be done

[2020-10-23 09:43] thelostone-mc opened #7753 "document: how to maxmize (blog/wiki)"
#### Description

people reach out to me at the start of the round to ask how they can maximize their grant, and we dont have a "how to promtoe your grant" guide to give them. as a result, people who have played the game the longest + have insider knowledge rise to the top.

#### Steps

- Prepare document
- Preferably add it to a blog
- Design an email with a blog link to when Grant is created mai

[2020-10-23 11:44] octavioamu commented on #7752
@mds1 is already on it. He is creating a component for the zksync .

[2020-10-23 12:44] octavioamu commented on #7588
@vporton can you give us steps to reproduce?
entering on https://gitcoin.co/hackathon/arweave-owf/? seems is showing the bounty without problem for me
![image](https://user-images.githubusercontent.com/1358093/97005078-4e2c7e00-1514-11eb-9f94-326ed4c7bd34.png)
Also if you have any console error will be helpful

[2020-10-23 12:50] octavioamu commented on #7588
I see your print probably is older than the issue date right? Because there is a rule on the hackathon prize that hide the prizes if the hackathon didn't start yet. That will explain the situation.

[2020-10-23 14:29] #7696 closed

[2020-10-23 14:55] thesachinmittal opened #7754 "[KERNEL] Product & Graphics req"
### Product

What we wanna build? -
![kernel_product design](https://user-images.githubusercontent.com/22838732/97018393-b909a380-156c-11eb-9f0f-e1700e0ccc1a.jpg)

**Tools** - Webflow/Bubble, Airtable, Zapier, Circle & other no-code tools for CMS and integrations.

Why these tools - We drew inspiration from kernel genesis block, beondeck, makerpad. Essentially its about data and workflows. Other m

[2020-10-23 15:13] willsputra commented on #7743
current:
![gitcoin co_grants_cart_ (1)](https://user-images.githubusercontent.com/19514207/97021214-20335200-1585-11eb-9850-ec9996783aaa.png)

[2020-10-23 15:15] willsputra commented on #7749
to include in spec: what happens when there's no active CLR round?

[2020-10-23 15:17] PixelantDesign commented on #7180
**Revised Designs**

**Once hacker has started work, Add Another Project button appears.**
<img width="1248" alt="Screen Shot 2020-10-23 at 11 04 38 AM" src="https://user-images.githubusercontent.com/238235/97021294-a8334080-1520-11eb-8d44-6d21926088a4.png">

**Update Applicants section and call it Projects**
This section will display the work plan and mini project cards with team members
If you h

[2020-10-23 17:08] owocki commented on #7742
hey @zoek1 we should make the verifier smart enough to strip the URL stuff
from the link

On Fri, Oct 23, 2020 at 2:48 AM Aditya Anand M C <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-23 17:23] owocki commented on #7745
kewl; any info i can gather here to facilitate discussion next week?

[2020-10-23 17:24] owocki commented on #7748
kewl i see you assigned me on this one.  let me know what you need from me!

[2020-10-23 17:58] mds1 opened #7755 "Consolidate emails so that user who checks out gets only 1 email not n emails for n contributions."
@apbendi will tackle this one

[2020-10-23 18:05] wildmolasses commented on #7726
Can you assign this to me? :)

[2020-10-23 18:06] mds1 commented on #7748
@apbendi can help out here if needed

[2020-10-23 18:15] mds1 opened #7756 "Investigate and fix comments showing up on the wrong grants"
https://github.com/gitcoinco/web/issues/7408#issuecomment-702165963

[2020-10-23 20:39] owocki commented on #7701
first off; i am sorry for the slow payment everyone.   i was trying to find a way to get BTC for gitcoin corporate account, and did not succeed.  it's a long story that involves trying to create a corporate account at coinbase.  is it okay if i send TBTC?  i am going to send out some TBTC tips now.

[2020-10-24 00:10] AmySeidman commented on #7742
Sorry where do you want me to update? Gitcoin profile?

On Fri, Oct 23, 2020 at 1:48 AM Aditya Anand M C <notifications@github.com>
wrote:

--

_____________________________
"You are today where your thoughts have brought you; you will be tomorrow
where your thoughts take you."
                            - James Allen
Amy Seidman
415-387-0274 ~ land line
415-939-0555 ~ air

COMPANY
www.Creative-E

[2020-10-24 10:17] nandit123 commented on #7739
Hi  I am able to do it on chrome, had problem on firefox as a script wasnt loading there

[2020-10-24 10:17] #7739 closed

[2020-10-24 19:58] Solexplorer opened #7757 "How can we notify participants about hackathon results?"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
There should be a way to notify participants about the results of the hackathon. Right now we have a weak system, we don't send any emails telling participants the results and I haven't seen anyone sending email to hackathon winners and afaik they need to get in touch with the sponsors to know the results.

This is not

[2020-10-24 22:28] #5827 closed

[2020-10-24 22:28] #5888 closed

[2020-10-24 22:31] #7107 closed

[2020-10-26 08:32] porobov opened #7759 "Cannot register for a Matic grant. The submit button leads to a "Grant failed to save" error."
**Describe the bug**
I'm trying to register for a Matic grant. After I press "Register your DApp" button I get an alert asking to triple check the provided ethereum adders. After clicking OK nothing happens. **Console shows a "Grant failed to save" error.**

**To Reproduce**
1. Go to https://gitcoin.co/grants/matic/new
2. Fill all the fields
3. Press "Register your DApp" button
4. Press OK in the

[2020-10-26 13:08] willsputra commented on #7709
@thesachinmittal this is great! some questions on integrating Circle:

1. Would Circle just replace the Overview tab, or the whole tribe page (members and all)?
2. How might we resolve the issues we have with Circles (e.g. two notifications, two sets of members...)

Love the Discord widget and onboarding bounties idea!

[2020-10-26 13:49] foxreymann commented on #7759
My team faces the same issue. I could paste exactly the same screenshot.

Error we get from POST HTTP call is:

`{"status": 400, "message": "error: eth_payout_address/zcash_payout_address is a mandatory parameter"}`

[2020-10-26 14:07] PixelantDesign opened #7761 "Allow Organizations to Set Hackathon Start and End Date"
### User Story

As a Gitcoin Hackathon customer, I'd like to be able to set my own start and end date for a hackathon.

### Why Is this Needed

Sponsors should be able to do this in order for our platform to become self service.

### Description

To move towards a self service model, we will create the hackathon but allow sponsors to select start and end dates of the hackathon.

### Current Behavi

[2020-10-26 14:10] danlipert commented on #7759
@porobov @foxreymann Thanks for the bug report, I've just released a fix for the issue so please try again and let me know if you encounter the same or any other issues. Thanks!

[2020-10-26 14:15] PixelantDesign opened #7762 "Allow organizations to do in app promotion of a hackathon to developers"
### User Story

As a Gitcoin Hackathon customer, How do organizations announce/promote the start of their hackathons?

### Why Is this Needed

Our customers have mentioned competitors allow emailing of hackers in app (since we do not want to share emails). In order to maintain competitive edge, this is something we should consider.

### Description
Create a way for customers to be able to send in

[2020-10-26 14:21] PixelantDesign opened #7763 "Allow Customers to Set up Events"
### User Story

As a Hackathon Customer, I'd like to be able to set up and manage events/office hours related to my prizes.

As a Gitcoin Hacakthon operator, I'd like to free up some of Connor's time so that he can focus on other areas of the hackathon.

### Why Is this Needed

To move towards a self service model, we'd like to allow a way for customers to do this.

*Summary*:

Create a way for cu

[2020-10-26 14:38] foxreymann commented on #7759
@danlipert works now. thank you!

[2020-10-26 14:51] st3sac5 commented on #6229
@owocki I have just got the same error message. What should the new users do to be verified?

[2020-10-26 15:39] owocki commented on #6229
@st3sac5 just marked u as verified

On Mon, Oct 26, 2020 at 8:52 AM st3sac5 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-26 15:40] porobov commented on #7759
@danlipert yep, works for me as well.

[2020-10-26 16:09] mds1 commented on #7752
As part of the zkSync refactor, instead of just cleaning up the code and moving it into it's own component, I think we should additionally update our architecture to use zkSync's new [batch transfer](https://zksync.io/dev/accounts.html#batched-transfers-in-the-zksync) feature. Using this instead of our "Gitcoin zkSync account" has a lot of benefits:

- Out code/architecture will be _significantly_

[2020-10-26 17:39] owocki opened #7764 "Funder Address doesnt validate to actually be on the network its on on the bounty form."
Funder Address doesnt validate to actually be on the network its on on the bounty form.

1. Go to https://gitcoin.co/new
1. click BTC
1. scroll down to funder address
1. enter non BTC address
1. click submit

the form will validate, but it shouldnt.    we should be checking this field with a diff regex on a per-chain basis.

<img width="1095" alt="Screen Shot 2020-10-26 at 11 38 09 AM" src="https:

[2020-10-26 17:39] owocki commented on #7764
hey @octavioamu is there a shared library with regex validators of addresses on a per-chain basis somewhere?

cc @merwane

[2020-10-26 17:42] merwane commented on #7764
[oogway](https://oogway.6com.com) does it and is already in dependencies, will do this weekend :)

[2020-10-26 18:12] octavioamu commented on #7764
We discussed this with @merwane and got into the conclusion need to validate on both sides front and backend. He want to work on this validation

[2020-10-26 18:53] PixelantDesign commented on #7180
Updated

Show one submit work with tooltip
<img width="1241" alt="Screen Shot 2020-10-26 at 2 51 06 PM" src="https://user-images.githubusercontent.com/238235/97215572-ff444a00-179a-11eb-94ea-827eeba1a958.png">
Show one stop work with tooltip
<img width="1263" alt="Screen Shot 2020-10-26 at 2 50 55 PM" src="https://user-images.githubusercontent.com/238235/97215510-eb004d00-179a-11eb-9e19-bb33cc40a4

[2020-10-26 18:56] owocki commented on #7741
[code]

[2020-10-26 18:58] octavioamu commented on #7180
Looking good now make more sense @PixelantDesign
To avoid anyone confusions can you create a build ticket with the definitive design / rules on how it works?
Once that I can give it a check to see if any technical part is missing and add it if needed.
Sounds good to you?

[2020-10-26 19:03] owocki commented on #7741
https://bits.owocki.com/ApuLeGmG

'apply to all' messes up the ZEC grants contributions so that they turn to ETH / a random number

[2020-10-26 19:03] octavioamu commented on #7180
Also not sure if should be related to this issue or not, do we want to add a new field to prizes need projects or not?
In that way avoid asking for projects when are prizes with no projects. I don't think any update on design if we want to go that way (just a field on the form or we can even choose that on the admin for the prizes we don't want to generate projects)
example of what I mean https://

[2020-10-26 19:29] jdorfman opened #7765 "[Draft] The Weekly Mint Template Updates and Fixes"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin marketer, I want to update The Weekly Mint template so that we can continue its success in terms of opens and clicks.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2020-10-26 20:27] owocki opened #7766 "show video calls at the top of the town square"
the idea that came up on office hours would be to show video calls at the top of the feed + maybe host a few more community events right on the townsquare (maybe its a good idea to cross-post the airmeet/zoom sessions were do there too)

[2020-10-26 22:37] frankchen07 opened #7767 "AngelHack product feedback"
### homepage

- [ ] improve product positioning on the gitcoin homepage, why should a developer join gitcoin? not just what it is
- [ ] "Web3.0" is confusing and not clear to someone who isn't familiar with the space

### mission statement

- [ ] under "we believe": what's a fat protocol? not sure about the technical jargon here, what specific ways for ICOs?
- [ ] under "we interact": "we don't kn

[2020-10-26 22:46] frankchen07 commented on #7180
can we review what the data structure will look like for this? I just want to make sure it doesn't break the queries I have currently up that are tracking our metrics.

i think what will happen is it'll just be multiple project IDs associated with one particular bounty, I just need to make sure I don't subsequently rank them out in some deduplication process.

[2020-10-26 22:49] frankchen07 commented on #7408
instead of infinite scroll, a better system for looking at a smaller subset of grants. similar to collections, maybe just surfacing collections in a more ecommerce sort of way

[2020-10-27 01:13] jdorfman opened #7769 "The Weekly Mint > New Headers"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

See #7765

### Current Behavior
[comment]: # (Describe what actually happened.)

Right now the headers are all green. @PixelantDesign wanted them to use our style guide.

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

They should look like: https://www.dropbox.com/sh/73cj8xbz7w723zp/AACr

[2020-10-27 01:35] jdorfman opened #7770 "The Weekly Mint > Blockchain Jobs"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a reader of The Weekly Mint, I want to see what jobs are available in the blockchain ecosystem.

See: #7765 #7769

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: T

[2020-10-27 01:44] jdorfman opened #7771 "The Weekly Mint > Product Updates"
### User Story
### Why Is this Needed

See #7765

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
This section will accept HTML only (not JSON). It will show under "Gitcoin Updates". If there is no update the header will not show.

### Definition of Done
[comment]: # (Any other information tha

[2020-10-27 02:01] PixelantDesign commented on #7180
To avoid anyone confusions can you create a build ticket with the definitive design / rules on how it works?
Once that I can give it a check to see if any technical part is missing and add it if needed.
Sounds good to you?

Yes, I will create new ticket @octavioamu

[2020-10-27 02:08] PixelantDesign commented on #7180
@frankchen07 multiple project IDs associated **per person** with one particular bounty.

[2020-10-27 02:40] PixelantDesign opened #7772 "BUILD - Submit n Number of Projects Per Person per Prize"
### User Story

As a sponsor of a Gitcoin Hackathon, I'd like to maximize the number of ideas that I'm able to receive from a hacakthon participant.

### Why Is this Needed

**Customer Request**

"We don't want to restrict a developer to a single idea - if they have multiple ideas they want to build we want to encourage that - the more the better"  --Manasi at Nebulous Labs/Sia:

As a hackathon pa

[2020-10-27 03:16] PixelantDesign commented on #7180
Moving this convo to the build ticket https://github.com/gitcoinco/web/issues/7772 cc @zoek1

[2020-10-27 03:19] #7180 closed

[2020-10-27 03:21] PixelantDesign commented on #7772
Should we set a max number of projects per prize to maintain quality? I'm not sure how hackers would have time to submit more than 10 projects per hackathon. What do you guys think @octavioamu @frankchen07 ?

[2020-10-27 04:38] #6624 closed

[2020-10-27 12:11] thelostone-mc commented on #7726
A few things to keep track of :

- rewrite page in vue
- remove inline-edit and shift to modal
- ensure cancel grant works as expected
- update as per new design layout

[2020-10-27 12:17] danlipert commented on #7706
@connoroday really good context here, appreciate that. Is there a list of the fields that are essential to have for this export? That way we can be sure to limit any sensitive data being exported.  Also, who should be able to run this export? Just Gitcoin staff members?

I'm not sure about the excel requirement, that will add a decent amount of complexity to this ticket. Can we start with CSV? Tha

[2020-10-27 12:18] danlipert commented on #7761
Seems fine to me - wherever this lives will probably be the new start of a "hackathon configuration" page thats user-facing, so we should plan for this design to be extendable from this feature forward rather than jam this control on the hackathon page.

[2020-10-27 12:19] danlipert commented on #7762
Yup good idea in general. I think we can stick with plain text for now where we provide a generic template with sponsor/hackathon logo and header, and the hackathon org can put whatever they want for the email Subject and Body Text

[2020-10-27 12:22] danlipert commented on #7763
This ticket implies that we will connect with the event service we are currently using? I can't remember the name of the service but I remember looking at the API for an integration like this several weeks back.

[2020-10-27 12:26] danlipert commented on #7110
Posting here for posterity from a DM w/ @PixelantDesign :

"So I took another look at this ticket and the comments, I think we can go either way on this, but its likely something we’ll need to kind of circle around on via a few iterations to get it right because there isn’t really a solid spec yet in terms of what the users can do and how they do it. We can probably come up with a cruddy UI that a

[2020-10-27 12:28] danlipert commented on #7772
This looks pretty complex but the spec looks solid as well! Will need a lot of solid testing and documentation of that testing before it gets merged, lets make sure to show off how each part of the spec is reflected in the PR/demo video.

[2020-10-27 13:11] PixelantDesign commented on #7707
P0 - How do organization set a start/end date of their hackathon and details?
P0 - How do organizations announce/promote the start of their hackathons?
(Email communication throughout the event.)
P0 - How do organizations set up events/office hours?

Per conversation with @danlipert we are able to move forward on the above tickets without organization setup. cc @thelostone-mc @octavioamu

[2020-10-27 13:11] danlipert commented on #7707
Let me know why this is a bad idea @thelostone-mc @octavioamu seems fine to me

[2020-10-27 14:22] willsputra commented on #7746
subcategory -> what populates the subcategory field (this can be an array)

1. Would users be able to override this? Might be confusing if we're displaying a specific Grant CLR logo/header at the top and then let users change the defaults.
2. Would chain info be prefilled too?

[2020-10-27 14:34] PixelantDesign commented on #7772
Should this be delivered in multiple prs?

[2020-10-27 16:13] owocki commented on #7720
@connoroday @Solexplorer @disruptionjoe @vs77bb @ceresstation any feedback?

[2020-10-27 19:09] vporton opened #7774 "Applied to single bounty two times"
Clicked Next button two times quickly, got applied two times. Should not allow apply second time.

![Screenshot from 2020-10-27 21-08-20](https://user-images.githubusercontent.com/2900574/97349842-a3f88180-1898-11eb-8886-81fd94244f6b.png)

[2020-10-27 21:44] owocki commented on #6229
anyone reading this on a go forward basis; i just made a change that will allow you to proceed by verifying your gitcion profile on twitter/brightid 7925d5bcfef25f998bb4451c3bdac6a9c8b516d8

[2020-10-28 10:56] #7391 closed

[2020-10-28 12:51] krrisis commented on #7626
Just to let you know that both tips went through, will let you close the issue, in case something still needs checking. Thx for the support!!

[2020-10-28 15:11] thelostone-mc commented on #7753
@owocki we will be using blog as opposed to pdf cause it's easier to add in updates

[2020-10-28 16:05] thelostone-mc opened #7780 "Vitalik: Change the Default action on collections from 'add to cart' to 'view colletion'"
### Description

- Change button to view collection
- After viewing collection -> you can add it in (this exists)

[2020-10-28 16:11] thelostone-mc opened #7781 "grants: avoid reloading page when switching btwn categories"
#### Description

When you switch from one category to another on the left sidebar ->
If you are on tech category tab and switch to matic category -> the banner + grants should update without a page reload

The grants already are AJAX calls so the data is already present.
Just need to ensure the banners on the top also update as a user switches

This means you would have to fetch all the banners u

[2020-10-28 16:18] owocki commented on #7753
![jb268vM](https://user-images.githubusercontent.com/513929/97464769-f07aa600-1906-11eb-80d1-53175a273dcd.gif)

[2020-10-28 17:50] eshon opened #7783 "Checkout transaction is Pending forever"
**Describe the bug**

When checking out with either Standard Checkout or zkSync, Approve DAI transaction stays Pending forever.

With Standard Checkout I could cancel and try again, with zkSync, there is no cancel option available and it is still stuck (it's been 24 hours).

Is it safe to attempt another Checkout and assume the last zkSync one will never happen?

Attempting to increase gas in Meta

[2020-10-28 20:04] elm87an commented on #6229
Having trouble with prizes won for completing quest.  I need my account to be marked as trusted?   I'm assuming that's one of the problems.  The status of mine are "dropped" or invalid tx.  Many not even showing up.

[2020-10-28 21:47] owocki commented on #6229
@elm87an what txid?

On Wed, Oct 28, 2020 at 2:04 PM elm87an <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-10-28 22:47] owocki opened #7784 "Add the ability to fund a collection completely self service (this means allowing a Grant to be in multiple matching pools at once)."
Add the ability to fund a collection completely self service (this means allowing a Grant to be in multiple matching pools at once).

expected results
1. update https://gitcoin.co/grants/matching-partners/new to accept a *collection* as an option to fund (not just category)
2. upon form submission, prompt the user to send funds to 0xde21F729137C5Af1b01d73aF1dC21eFfa2B8a0d6 in a modal.
3. user may

[2020-10-28 22:47] owocki opened #7785 "video intros"
- Add the ability to do video intros
- upload a video intro to your grant.

This should be added to both
- Grant Creation Flow
- Grant Edit form

---

a youtube video embed is fine.

[2020-10-29 08:53] thelostone-mc opened #7786 "Add the ability for a grant to have multiple payout chains supported (ETH + ZEC + any other chain)"
If this is the case -> for the data model
we would want to shift the prediction curve to it's own table I.

cc @danlipert

[2020-10-29 08:53] #7714 closed

[2020-10-29 09:03] thelostone-mc commented on #7785
cc @octavioamu + @PixelantDesign who said having a video link might me cleaner as opposed to doing the whole video upload ! I agree with them on this

[2020-10-29 09:04] thelostone-mc commented on #7756
Funded 6 grants and the comments seem to have gone out right ! Not able to reproduce this @mds1

[2020-10-29 10:43] levalleux-ludo opened #7788 "Grants edition - Unable to change the field 'github repo link' when editing the Grant's info"
**Describe the bug**

I've created a Grant (for Matic Build'n Earn program).
After creation I've noticed the field 'github repo' is set to 'undefined'.
Then I was trying to change it and set the correct link to my GH repo, but when clicking 'Edit Info' button, I can't still modify this field

**To Reproduce**

Create a GRANT
Then, click 'Edit Info' and try to change github repo (should be set b de

[2020-10-29 10:51] foxreymann commented on #7788
I've exactly the game issue. It is OS/browser/project independent.

[2020-10-29 14:07] owocki commented on #7743
+ add an easy way to allow the user to say "this tip should be included in matching" that defaults to false

this allows people to contribute to contribute to the matching via gitcoin tip.

[2020-10-29 14:23] owocki commented on #7785
ya we dont wnat to handle video uploading/hosting. lets just use youtube

[2020-10-29 15:47] vporton opened #7789 "My collection is not shown at https://gitcoin.co/grants/collections"
My collection "Science" is not shown at https://gitcoin.co/grants/collections?

[2020-10-29 15:50] vporton opened #7790 "Looks like I can fund my own grant"
![Screenshot from 2020-10-29 17-50-21](https://user-images.githubusercontent.com/2900574/97598108-3de23a80-1a0f-11eb-84de-af6b95737e6d.png)

[2020-10-29 16:20] vporton commented on #7789
Afterwards I clicked "Share collection" (by the way, need help to explain what "Share collection" means) and this collection disappeared completely, even from My Collections.

[2020-10-29 16:46] vporton opened #7791 "Paid store of free products"
It is useful to supplement grants with a store of products where anyone can set his own price like [this page](https://leanpub.com/socialcrypto).

But unlike LeanPUB our prices should always start from zero.

Rationale: People would be more motivated to pay for what they "purchase" (even if offered free option) than for abstract public goods.

An item for sale should be optionally belonging to a g

[2020-10-29 16:56] octavioamu commented on #7720
do we need dms there or we want to try dms on discord? IMO I prefere to centralize everything in one place.

[2020-10-29 17:45] PixelantDesign commented on #7762
Thanks @danlipert! Is there an open source in app messaging plugin we should try to use? Or should we try to build this in on User Directory @owocki ?

[2020-10-29 18:20] owocki opened #7792 "a/b test of the sorting method on the main page. even pk users = weighted shuffle (which maxes the weight at $5000), odd pk users; = random shuffle (not weighted). we'll then report the data to blockscience to see how thisi changes the rich get richer."
MZ - suggestoin - a/b test of the weighting mechanism; weighted_shuffle vs inverse weighted_shuffle

i can do this - @owocki

[2020-10-30 10:55] danlipert opened #7793 "As a tribe owner, I want to be able to add another tribe owner to my tribe, so I can control access to my organization’s presence on Gitcoin."
### User Story

“As a tribe owner, I want to be able to add another tribe owner to my tribe, so I can control access to my organization’s presence on Gitcoin.”

### Why Is this Needed

Currently, we define an org/tribe’s user admins via the organization’s admins within Github. This data works well if the organization is public, but there are edge cases where an organization's membership on Github

[2020-10-30 11:23] alxcnwy opened #7794 "Editing existing image on project results in broken image"
**Describe the bug**
Editing existing project icon image results in broken image

**To Reproduce**
Edit image on a project

**Expected behavior**
Image should become the new image.

**Desktop (please complete the following information):**

- OS: macOS 10.15.7
- Browser: Chrome
- Browser Version: 86.0.4240.111

[2020-10-30 13:37] willsputra commented on #7616
we should also put a banner somewhere on the checkout flow, explaining people can get bonus matching and link to trust bonus tab

[2020-10-30 14:10] danlipert opened #7795 "ZCash grants subcategories on grants index page show count of ZCash + ETH grants combined"
**Describe the bug**
If you open the dropdown for ZCash grants, the counts on the subcategory are including all grants from the subcategory, not just the ZCash grants

**To Reproduce**
Have multiple ETH and ZCash grants, in the same subcategory, and look at the counts in the dropdown.

**Expected behavior**
The counts in the ZCash dropdown should show ZCash counts only, same for ETH

**Screenshots

[2020-10-30 14:19] owocki opened #7796 "zcash grant contributions dont show activity feed items, or on the transaction view"
reproduction steps
1. add grant to cart https://gitcoin.co/grants/1486/zcashzeal?tab=transactions
2. do the checkout + get the 'grant contributions recorded' message https://bits.owocki.com/p9uwBlB9

what i observe vs what i should observe:
1. transaction says it failed on trasnsactions tab https://bits.owocki.com/Blu1qJvp
2. grant card still says 0 contributors worth 0 USD https://bits.owocki.com

[2020-10-30 14:21] owocki commented on #7796
looks like the txn did succeed on the block explorer https://explorer.zcha.in/transactions/85bb9c41f77cbea06091606fd99c7a8d9cf7db69e3599a7cc38dd4a7b923014b

[2020-10-30 14:40] thelostone-mc commented on #7796
Looks like it updated! 🙌
The transaction was probably in pending state when you created the issue and got picked up cron a short while later

[2020-10-31 21:11] aerokossa opened #7798 "Formatic Wallet Issue"
Hello there. I believe when I first signed up it had me sign up with Formatic Wallet and for some reason now when I try it wont connect but it will connect my metamask. I think I had some other Kudo NFTs on my Formatic. Is there anyways I could move everything over to just the one MEtamask since FOrmatic is giving me issues. I also noticed that I must have put in a wrong letter for my email. It se

[2020-11-01 15:50] merwane commented on #7764
https://github.com/gitcoinco/web/pull/7799

[2020-11-02 02:56] #5822 closed

[2020-11-02 13:11] aamustapha commented on #7355
What are the criteria for "Cool"?

[2020-11-02 13:19] thelostone-mc opened #7802 ""accidentally clicking a grant instead of opening a new tab and then having to scroll back down" is annoying. add pagination + get rid of infinite scroll on grants index."
Quick Fix

- open in new tab

Bigger Fix
- will be having a quickview of the grant
This will be built out as a part of the Detail page rewrite

[2020-11-02 13:22] thelostone-mc commented on #7748
I think we would not want to this cause we wanted to revert this behavior in zcash
based on the conversation on slack with @owocki

Will bring this up on call and we can close it out after that

[2020-11-02 13:23] Xosten opened #7803 "Kudos not sent to the requested adress after completing quests"
**Describe the bug**
I completed Pitch your ethereum killer VC-Bro and Polkadot 101 quests but I didn't receive the kudos on the address I gave. Instead, it was sent to another address, which is unknown to me. Here are the Txn hashs:
https://etherscan.io/tx/0x670cc1d3b6b497b234c04111b140021d17ae521291bc71aa9467b63e70238b7f (Polkadot 101)
https://etherscan.io/tx/0x33f3668a101f594909effbad8e881ac152

[2020-11-02 13:37] owocki commented on #7748
IMO a optimistic UX is better than a pessimistic one; but something in the middle that manages the state from `cart -> pending -> success/fail` would be even better. can jam on the weekly checkin if you want

[2020-11-02 13:37] gdixon opened #7804 "Kudos are going missing..."
**Describe the bug**

Kudos received (https://gitcoin.co/$user after clicking Kudos under the activity section) and Kudos displayed on https://gitcoin.co/$user/kudos do not match.

**To Reproduce**

1. Compare: https://gitcoin.co/gdixon -> after clicking kudos under the activity section
2. To: https://gitcoin.co/gdixon/kudos

 - At least two of my Kudos have gone missing! (this is one that doesn't

[2020-11-02 14:10] owocki opened #7808 "generalized block explorer URL"
id like to have a python helper function that `tx_id_to_block_explorer_link(tx_id, chain)` will return a link to the block explorer for ANY chain, tx_id combo its given

needs to support
eth mainnet
rinkeby
each of these chains:
<img width="1139" alt="Screen Shot 2020-11-02 at 7 09 58 AM" src="https://user-images.githubusercontent.com/513929/97877446-710c1e80-1cda-11eb-9b8b-45a50ed11a9a.png">

[2020-11-02 16:31] willsputra commented on #7743
thoughts?
![grants](https://user-images.githubusercontent.com/19514207/97893086-ce9c7b80-1d6b-11eb-8d3c-44587f21357b.jpg)

[2020-11-02 16:32] owocki commented on #7743
looks good to me.  does the 'preferences' section need a heading tho, to frame it?

[2020-11-02 16:46] thelostone-mc commented on #7746
I think we can update them based on the selection!
Defer to you on this though

Updated this as well

[2020-11-02 17:02] androolloyd commented on #7579
when chosing multiple keywords, we're currently subject to only OR matches, a good method of selecting AND's into the query set is a must.

[2020-11-02 17:05] gaieges opened #7809 "Replaced transaction not reflected on bounty page"
### Who
Me

### What
Needed to increase the gas price for my bounty payout transaction.  Transaction was replaced and successful, but bounty still says "Pending verification" on the old transaction (similar to issue [here](https://github.com/gitcoinco/gitcoinco/issues/63))

Issue in question: https://gitcoin.co/issue/hCaptcha/hcaptcha-wordpress-plugin/44/100024017

### Why
Unknown

[2020-11-02 17:14] kubi11 opened #7810 "gg"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-11-02 17:57] PixelantDesign commented on #7355
@aamustapha I think we'd have to go by this as previously discussed with @thelostone-mc and defined in the story:

_Display all hackathon winners sort by when the project was created on Gitcoin so latest projects display at the top_

[2020-11-02 20:49] owocki commented on #7809
just marked it as processed + manually put the new txid in there

[2020-11-02 20:50] #7809 closed

[2020-11-02 21:00] owocki commented on #7804
pls check now; i just updated the DB to properly reflect the state

On Mon, Nov 2, 2020 at 6:37 AM Graham Dixon <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-02 21:12] owocki commented on #7803
mind emailing me the address you want them minted to? i dont think your
address was saved in the DB.

On Mon, Nov 2, 2020 at 6:23 AM Xosten <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-02 21:15] owocki commented on #7803
(sorry my email is kevin@gitcoin.co - pls include a link to this github
when u email so i know what youre referencing )

On Mon, Nov 2, 2020 at 2:12 PM Kevin Owocki <kevin@gitcoin.co> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-02 21:20] gdixon commented on #7804
Brilliant, they're displaying correctly now, thank you!

[2020-11-02 21:22] gaieges commented on #7809
Thanks @owocki .. in the future if this happens what should I do?  Seems like an actual bug, no?

[2020-11-02 21:36] swing1c opened #7811 "Quest completed, Txn Hash not found on Etherscan"
**Describe the bug**
I completed Polkadot 101 quests but when I click on the Txn hash it says to me "Sorry, We are unable to locate this TxnHas".
https://etherscan.io/tx/0x0e1c7a7bb524072615e1a63c43bf01c6fe4a03289e924aa67ca9559f62e3de45

**To Reproduce**
- Complete the quest on a desktop
- Connect with Metamask and fill address field
- Tick the checkboxes
- Confirm the inputs

**Expected behaviour

[2020-11-02 21:37] vporton opened #7812 "Add more graphs to https://gitcoin.co/results"
At https://gitcoin.co/results please also present the graphs of (by time):

- funders number to coders number ratio

- hourly rate of developers

- (less important) moving average bounty amount in both ETH and USD

[2020-11-02 21:46] Xosten commented on #7803
Just emailed you ;)

[2020-11-02 22:02] vporton opened #7813 "Empty page instead of a grants collection"
At https://gitcoin.co/grants/collections I click to "Science" by `vporton` and get empty page:
![Screenshot from 2020-11-03 00-00-08](https://user-images.githubusercontent.com/2900574/97923999-a448bf00-1d67-11eb-93e7-8c59235771f3.png)

[2020-11-02 22:22] #7804 closed

[2020-11-02 22:53] vporton opened #7814 "A way to clear the shopping card"
I incidentally added several hundreds grants to my shopping cart.

Now I have no known way to clear the cart except of removing them one-by-one.

[2020-11-02 23:02] owocki commented on #7814
https://gitcoin.co/grants/cart has a clear cart button

On Mon, Nov 2, 2020 at 3:53 PM Victor Porton <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-02 23:07] owocki commented on #7809
Pls post another issue (or comment her) if it happens again

On Mon, Nov 2, 2020 at 2:22 PM Evin Callahan <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-02 23:27] gaieges commented on #7809
Will do.  Do y'all have this on the roadmap?

[2020-11-03 00:45] PixelantDesign commented on #7793
Is this a pre-req to self service hacks? Per our convo last week, it didn't seem like a blocker.

[2020-11-03 01:08] PixelantDesign opened #7815 "504 Error on Organizations Tab"
**Describe the bug**
Clicking Sync Organizations returns an error.

**To Reproduce**
Manage Settings > Organizations
Click Sync Organizations

**Expected behavior**
Take me to Github to see the settings

**Screenshots**

<img width="1057" alt="Screen Shot 2020-11-02 at 8 00 20 PM" src="https://user-images.githubusercontent.com/238235/97935614-1b219000-1d47-11eb-951b-73a554979cd5.png">

<img width=

[2020-11-03 01:20] PixelantDesign opened #7816 "Tell Us About You Bugs"
**Describe the bug**

**User Feedback per Scott Moore**

 "..when I just made a Gitcoin account, it was a really frustrating experience. A "tell us about yourself" popup kept coming up, but wouldn't let me click the "next" button even after I'd filled out all the details. When it popped up the seventh time or so, I entered some random info and clicked "next," and then it worked. But now I'm stuck

[2020-11-03 01:32] PixelantDesign commented on #7720
6. update sponsor dashboard chat icon to dm the person who started work instead of the whole group.

<img width="396" alt="Screen Shot 2020-11-02 at 8 27 09 PM" src="https://user-images.githubusercontent.com/238235/97936725-730dc600-1d4a-11eb-9dd8-a60cc22dfeda.png">

[2020-11-03 01:38] PixelantDesign commented on #7720
@danlipert are we able to turn #5 back on or do we need a design?

[2020-11-03 06:02] #7810 closed

[2020-11-03 09:50] danlipert commented on #7720
I don't think we need a design @PixelantDesign

[2020-11-03 09:52] danlipert commented on #7793
Not a pre-requisite, but I'm sure there will be at least one customer who will run into trouble trying to do self-service and unable to add the right folks on Gitcoin because of how their Github is set up

[2020-11-03 12:45] willsputra commented on #7743
ah yea that's a good idea! something like this?
![cart](https://user-images.githubusercontent.com/19514207/97986946-74f08b80-1e15-11eb-97f4-febd7a5ed385.jpg)

[2020-11-03 13:48] owocki commented on #7743
LGTM

On Tue, Nov 3, 2020 at 5:45 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-03 14:57] danlipert commented on #7762
Nah we'll just create the form ourselves I think.

[2020-11-03 17:11] owocki opened #7817 "As a new user, I find the new onboarding model extremely annoying, and I would like for it to show up every visit, not every pageload."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a new user, I find the new onboarding model extremely annoying, and I would like for it to show up every visit, not every pageload.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2020-11-03 21:42] aamustapha commented on #7746
Cool

[2020-11-03 22:15] aamustapha commented on #7746
- [ ] Allow autofill input fields
- [ ] Allow autofill radio
- [ ] Allow autofill select
- [ ] Allow autofill select multiple
- [ ] Allow autofill image

[2020-11-04 09:22] aamustapha commented on #7746
@thelostone-mc can you please explain this a little better?

[2020-11-04 14:16] tarzan18 commented on #6229
Having same problem.
"our github profile is too new, so you cannot receive kudos. Please verifiy your profile on BrightID and/or Twitter to proceed.
"

[2020-11-04 16:33] #7780 closed

[2020-11-04 16:35] owocki commented on #6229
@tarzan18 can you pls verify your account on brightid or twitter.

On Wed, Nov 4, 2020 at 7:16 AM tarzan18 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-04 16:38] tarzan18 commented on #6229
Thanks i have just verified myself

[2020-11-04 16:38] thelostone-mc commented on #7785
Use quill and enable video addition

[2020-11-04 16:42] thelostone-mc commented on #7745
discuss if we should allow grants to shift regions !
This would need adding a new field to the model in Grant and CRUD can be done via create / edit flow

[2020-11-04 16:45] thelostone-mc commented on #7748
Closing this out as we are happy with what we have

[2020-11-04 16:45] #7748 closed

[2020-11-04 16:47] PixelantDesign commented on #7749
https://www.figma.com/file/GUnBaAsN9k6XQi5RNHnxyK/Grants-R8?node-id=10%3A12

[2020-11-04 16:48] thelostone-mc commented on #7749
that would be empty (we wouldn't show anything)

[2020-11-04 16:50] thelostone-mc commented on #7750
https://www.figma.com/file/GUnBaAsN9k6XQi5RNHnxyK/Grants-R8?node-id=10%3A12

[2020-11-04 16:55] #7756 closed

[2020-11-04 16:55] owocki commented on #7745
Vitalik comment on this

@owocki | Gitcoin, [Oct 20, 2020 at 7:52:17 AM]:
thanks; im into this.  i wonder how we can get good engagement from the
regional groups, and keep out the frauds.
maybe im overindexing on the need to verify that a local group actually is
a local group.. but it does seem like somehitng we should have a plan to
verify/check

Vitalik Buterin, [Oct 20, 2020 at 7:54:58 AM]:
Eh,

[2020-11-04 16:58] thelostone-mc opened #7821 "add trust bonus code PR"

[2020-11-04 16:59] thelostone-mc opened #7822 "Try to make it more egalitarian at the top by changing the shuffling algorithm so that once a project gets over $5000 matching, from a shuffling PoV it's treated as though it has just $5000 matching"

[2020-11-04 17:18] owocki commented on #7822
vitalik spec

shuffling algorithm from the POV of some user gives 2x higher score if project is in the same category as the user; doesnt do that if theyre in the oposite .

then measure what magnitude of effect we have in affecting views for a grant

[2020-11-04 19:20] aamustapha commented on #7781
Hey @octavioamu Have you started working on this?

[2020-11-05 05:27] thelostone-mc commented on #7688
Q for product :
- would grant creators be alright with this data being shown publically?
- grant creators already add in their twitter handles -> wouldn't that suffice?
- additionally, we do have gitcoin chat/discord

I'm trying to understand the need for us to
- create a new data field in the DB
- adding an extra field for the grant owner while creating a grant

[2020-11-05 10:47] thesachinmittal commented on #7688
Answers to @thelostone-mc

* would grant creators be alright with this data being shown publicly?
- We can keep it optional

* grant creators already add in their twitter handles -> wouldn't that suffice?
- people generally dont use twitter DMs

* additionally, we do have gitcoin chat/discord
- people dont use gitcoin DM, how can I contact through discord?

### Need for doing it?

* Request from M

[2020-11-05 11:10] thelostone-mc commented on #7616
Google: https://github.com/gitcoinco/web/pull/7631
Idena: https://github.com/gitcoinco/web/pull/7646
POAP: https://github.com/gitcoinco/web/pull/7682

@apbendi

[2020-11-05 12:55] thelostone-mc opened #7826 "ui: grants landing sidenavbar"
#### Description

- Redo left navbar as shown in the design
- Do not build the orgs section (it's not ready)
- Ensure the pot amount is shown on the CLR round. Eg:  Matic (80k)
- Clicking on the CLR round link should direct you to /clr/<round-num> (same as clicking the banner)

![Matching Logos](https://user-images.githubusercontent.com/238235/98140772-d3f4e580-1e93-11eb-8afa-c0e54ead12e8.png)

ht

[2020-11-05 12:57] thelostone-mc opened #7827 "ui: grants landing banner for CLR round"
#### Description

-  Add banner for active CLR rounds as shown in figma
- Clicking on the banner should redirect you to `grants/clr/<round-num>`
- Ensure it's hidden when there are no active rounds
- The banner should be visible only on gitcoin.co/grants (aka grants landing page)
- Upload the banner in GrantCLR banner property
- Use the image field in GrantCLR table to populate this

![image](http

[2020-11-05 13:09] willsputra commented on #7743
figma file ("Grants Checkout - Optional Tip" page):
https://www.figma.com/file/GUnBaAsN9k6XQi5RNHnxyK/Grants-R8?node-id=142%3A204

[2020-11-05 13:18] willsputra commented on #7616
@thelostone-mc @apbendi

thoughts? this will also replace the "Verify my number" link we have at the top of the cart

![verify](https://user-images.githubusercontent.com/19514207/98245714-4f49ba80-1fac-11eb-8cbc-20d42a8400b3.jpg)

[2020-11-05 13:45] thelostone-mc commented on #7749
Closing this out and moving it to #7781

[2020-11-05 13:45] #7749 closed

[2020-11-05 14:02] thelostone-mc commented on #7688
I'd say sync up and figure out if we need that.
I still think having this exposed to isn't smart cause folks might get spammed.
I'd lean towards collecting this info and then sending it out to sponsor on need to need basis

[2020-11-05 14:46] nglglhtr commented on #7817
Wondering if work has already been started on this? Considering taking this as a test to go through a developer's experience of contributing to Gitcoin

[2020-11-05 16:00] owocki commented on #7817
@octavioamu made it sound like it was  apretty small change; idk if hes started on it tho

[2020-11-05 16:15] thelostone-mc commented on #7746
I think we cleared this up on the call but will drop it here as well!

- [ ] Add a image field to Grant Type which an admin can set image via django admin
- [ ] When the grant create page loads, fetch all the GrantType Banners along with it
- [ ] If a grant type is auto filled/ user selects the grant type  which has a GrantType banner -> switch the default image on the form. If it doesn't -> show

[2020-11-05 16:43] owocki opened #7828 "As a Gitcoin User, I want to upload all my data in Ceramic, so that I can participate in Ceramic ecosystem + take my Gitcoin profile with me."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
As a Gitcoin User, I want to upload all my data

[2020-11-05 16:46] owocki commented on #7828
@ceresstation  @dazuck @oed @danlipert @thelostone-mc @PixelantDesign we are doing a ceramic partnership soon; so might be worth syncing on what this looks like soon.

[2020-11-05 16:52] aamustapha commented on #7746
All these are already implemented.

[2020-11-05 17:31] michaelsena commented on #7828
@owocki from a design perspective it would be interesting to explore new vectors of adoption beyond just an option buried in their settings. I think this (along with no real explanation of the benefits) was perhaps why adoption was so low on the 3Box integration. Perhaps we could prompt users at some point with a modal that explains gitcoin's mission and gives them the option to do it right then a

[2020-11-05 17:37] tathagata-raha commented on #5298
I completed four quests and redeemed the kudos to my portis wallet. Bt the money doesnt seem to appear in my wallet.

[2020-11-05 17:55] michaelsena commented on #7828
From an implementation perspective, I think this feature would use the `idx-web` library from [IDX](https://idx.xyz) for creating/connecting to identities, defining gitcoin schemas, storing gitcoin identity metadata (profiles, etc) directly in Ceramic documents. In IDX you could also create mappings to Textile ThreadsDBs for storing other "heavier" gitcoin user data such as history, and all sorts

[2020-11-05 18:03] owocki commented on #5298
Kudos are not money.

On Thu, Nov 5, 2020 at 10:37 AM Tathagata Raha <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-05 18:12] tathagata-raha commented on #5298
Then what is the role of wallets while redeeming kudos? After I finish a quest, I am required to redeem my Kudos to my wallet.

[2020-11-05 18:13] BCpowerup commented on #5298
the coin gets linked to that account in your wallet.

[2020-11-05 18:14] BCpowerup commented on #5298
this is a NFT that you are getting into that account, proves you did it.

[2020-11-05 20:24] Xosten commented on #7811
@owocki This user seems to have the same issue as me ?

[2020-11-05 22:39] yasiryagi opened #7829 "Cannot edit submission"
### Any user

### Submission

### Make life easier

[2020-11-06 03:23] octavioamu commented on #7817
I didn't yet. I'm ok if you want to take it.

[2020-11-06 06:55] zoek1 commented on #7772
ETA October 16 2020

[2020-11-06 06:58] zoek1 commented on #7355
ETA November 11, 2020

[2020-11-06 06:59] zoek1 commented on #7681
ETA November 12, 2020

[2020-11-06 07:00] sebastiantf commented on #7681
@zoek1 I had started working on this as asked by @PixelantDesign. I'm almost finished

[2020-11-06 07:00] zoek1 commented on #7706
ETA 13 November, 2020

[2020-11-06 07:04] zoek1 commented on #7681
Me too @sebastiantf since this task was assigned to me. 😅

[2020-11-06 07:08] zoek1 commented on #7666
ETA November 16, 2020

[2020-11-06 07:08] sebastiantf commented on #7681
![ezgif com-gif-maker](https://user-images.githubusercontent.com/36922376/98336425-ece4ce80-202c-11eb-923a-1d8d8173ebe4.gif)

https://www.loom.com/share/bdd437d9ea5245df9005173b90f0e9ab

[2020-11-06 07:15] zoek1 commented on #7681
Can you submit the WIP PR, so it's linked here please? @sebastiantf

[2020-11-06 07:16] sebastiantf commented on #7681
yeah sure. in a minute

[2020-11-06 08:16] sebastiantf commented on #7681
@PixelantDesign @zoek1 I have a PR up at #7830

[2020-11-06 14:23] willsputra opened #7831 "As a developer, I want to understand more about Gitcoin from the landing page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I want to understand more about Gitcoin from the landing page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

- The homepage explains what Gitcoin is,

[2020-11-06 14:26] willsputra opened #7832 "As a developer, I want to understand more about Gitcoin's mission from the Mission page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I want to understand more about Gitcoin's mission from the Mission page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
![image](https://user-images.gi

[2020-11-06 14:28] willsputra opened #7833 "Town square - on the "Gitcoin Profile" section, remove checkmarks until people have done them"
Town square - on the "Gitcoin Profile" section, remove checkmarks until people have done them.

Feedback: "It’s helpful to have a list like this, but the checkmarks initially made me think I had done them."

![image](https://user-images.githubusercontent.com/19514207/98377060-4d9cf700-207f-11eb-90d6-18416828b889.png)

[2020-11-06 14:30] willsputra opened #7834 "As a hacker, I want an easy way to distinguish between different hackathons"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hacker, I want an easy way to distinguish between different hackathons

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
![image](https://user-images.githubusercont

[2020-11-06 14:32] willsputra opened #7835 "As a newly-onboarded developer, I want to know what I should be looking for on the town square"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a newly-onboarded developer, I want to know what I should be looking for on the town square

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Feedback from dev who is

[2020-11-06 14:34] willsputra opened #7836 "As a hacker, I want an example of what to build for a hackathon prize"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hacker, I want an example of what to build for a hackathon prize

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
On hackathon prize page:
Not totally clear on wha

[2020-11-06 14:36] willsputra opened #7837 "As a hacker, I want the hackathon guide/onboarding to be specific to the hackathon"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hacker, I want the hackathon guide/onboarding to be specific to the hackathon

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
![image](https://user-images.githubu

[2020-11-06 14:37] willsputra opened #7838 "As a hacker, I want an intuitive flow to start and submit my project"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hacker, I want an intuitive flow to start and submit my project

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
On prize detail page:
There was confusion when she

[2020-11-06 14:41] willsputra opened #7839 "As a developer new to crypto, I want in-platform tutorials and learning resources to get me started"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer new to crypto, I want in-platform tutorials and learning resources to get me started

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[

[2020-11-06 14:42] willsputra opened #7840 "As a developer new to crypto, I want tasks or bounties that are familiar to devs to get started on"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer new to crypto, I want tasks or bounties that are familiar to devs to get started on

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
If they worked with

[2020-11-06 15:26] dazuck commented on #7828
Hey all - per discussion dropping some links and info, particularly on IDX, which will be the basis for the new integration.

**Materials**
- intro post: https://medium.com/3box/idx-a-devkit-for-open-identity-48edc88e8e85
- IDX site and docs: https://idx.xyz
- identity index data structure: https://github.com/ceramicnetwork/CIP/blob/master/CIPs/CIP-11/CIP-11.md
- if you want to read up on ceramic

[2020-11-06 18:10] PixelantDesign commented on #7816
https://github.com/gitcoinco/web/issues/7817

[2020-11-07 09:02] vporton opened #7841 "Cannot change issue funding"
I remarketed my canceled issue.

Now when trying to increase funding:

https://gitcoin.co/bounty/change/23779

I will create a new issue and new bounty as a workaround. This one will be canceled again.

[2020-11-07 09:05] vporton opened #7842 "Cannot cancel bounty"
https://gitcoin.co/issue/cancel?pk=23779&network=mainnet

[2020-11-07 20:23] Mitchellpkt opened #7845 "Grant campaign page not loading, perhaps related to description length"
I posted a [GitCoin grant](https://gitcoin.co/grants/1513/zcash-observatory-netsec-dashboard-api-and-researc), and received a notice (see below) out of band that the page was not loading correctly in Brave (displaying rather than rendering the code.

<img width="531" alt="image" src="https://user-images.githubusercontent.com/21246742/98450638-69de7980-20fb-11eb-9358-e40ff0d69dc7.png">

I could not

[2020-11-08 11:56] Sarahwadek opened #7846 "Verify Grant Issue"
### Who

### What

### Why

[2020-11-09 12:33] aamustapha commented on #7743
Is `Gitcoin grants development fund`  === `Gitcoin maintaner grant` ?

[2020-11-09 12:53] thelostone-mc commented on #7743
It's this grant
https://gitcoin.co/grants/86/gitcoin-sustainability-fund
You'll see it on the cart page
https://gitcoin.co/grants/cart?

[2020-11-09 14:07] nglglhtr commented on #7817
@octavioamu my idea is to use the `window.sessionStorage` in onboarding modal display

[2020-11-09 15:00] octavioamu commented on #7817
@nglglhtr was fixed on friday here is the commit 393984c

[2020-11-09 16:44] #7817 closed

[2020-11-09 17:48] owocki commented on #7817
tyty @octavioamu

[2020-11-09 17:54] owocki opened #7848 "https://gitcoin.co/api/v0.1/grants/ returning a 502"
https://gitcoin.co/api/v0.1/grants/ returning a 502 (presumably due to page size)

[2020-11-09 17:58] Vladkuz100 opened #7849 "Cannot fill "Project Team members" field"
**Describe the bug**
When trying to create new grant for application on https://gitcoin.co/grants/matic/new is is impossible to add links to team github accounts in "Project Team members" field. The result is always "Results not found" despite of all the accounts are active and real.

**To Reproduce**
Add one of the accounts to the form "Project Team members" on the "https://gitcoin.co/grants/mati

[2020-11-09 18:46] jhanlew opened #7850 "My kudos are transferred but still have not received it to my wallet"
I'm using the metamask wallet. I'm searching for the eth guru kudos. I was notified by the Gitcoin bot that 4 of them have already been transferred.

[2020-11-09 19:32] owocki commented on #7849
try using the team member's username (not the url)

[2020-11-09 19:33] owocki commented on #7849
(note the user must be a gitcoin user, and i dont think the user you  listed was)

[2020-11-09 20:11] BTCAlchemist opened #7851 "Change Bounty Details Not Working"
**Describe the bug**

On the Change Bounty Details page, after editing bounty details and successfully submitting the update, the bounty does not reflect the changes.

**To Reproduce**

On the bounty page (https://gitcoin.co/issue/Meme-of-the-Day/meme-of-the-day-filecoin/19/100024038), I click Bounty Options, then Update Details.
I changed permissions from "Approval Required" to "Permissionless,"

[2020-11-09 21:15] owocki commented on #7850
hi; i've just re-issued your eth guru  kudos.  https://etherscan.io/tx/0xb68256fb0d1066d7c29063ca1412eee5b5fccd7760b6216a23278fbd2dcb877b

[2020-11-09 21:38] jhanlew commented on #7850
I only received two of them

[2020-11-10 07:06] thelostone-mc opened #7853 "feat: grant routing policy"
#### Description

Right now we've got 3 ways of grouping grants
- Collections
- GrantType
- GrantCLR

All these use the same code to render the view
There is however a need for customization like
- banner_image
- background_image

which would be shared across GrantType / Grant CLR / Grant Collections.
For banners,

GrantCLR -> you can set an image via admin
GrantType -> You would harcode this in v

[2020-11-10 07:56] #7821 closed

[2020-11-10 07:58] #7746 closed

[2020-11-10 12:29] #7681 closed

[2020-11-10 12:36] thelostone-mc commented on #7688
@thesachinmittal ^

Also question for you over here
https://github.com/gitcoinco/web/pull/7820#discussion_r520528510

If you can help us clarify on this -> we can rework the PR and get it in.
Will keep it open until then 🙌

[2020-11-10 16:41] thelostone-mc opened #7854 "move estimate clr to celery task"
#### Description

speed up grant clr calcs - if we want to speed up the calcs, i could see offloading the `estimate_clr`jobs to the celery queues tho.   that’d be an elegant way to paralellize them

- update mgmt command estimate.clr to invoke predict_clr as a celery task
- when you haven multiple CLR rounds -> all-round calculations should be offloaded to celery task

note:
In prod -> we can crea

[2020-11-10 20:00] PixelantDesign opened #7856 "Update hack onboarding chat link - point to discord"
**Describe the bug**
Current hack onboard link takes user to Gitcoin Chat

**To Reproduce**
Go to onboarding page and click on this link

<img width="1026" alt="Screen Shot 2020-11-10 at 2 54 23 PM" src="https://user-images.githubusercontent.com/238235/98727040-50406a80-2365-11eb-8ef2-a6368a737f53.png">

**Expected behavior**
Link to Gitcoin Discord

**Additional context**
Part of short term onboa

[2020-11-10 20:51] ceresstation commented on #7720
@danlipert @thelostone-mc do you think we can remove Telegram from the footer by EOW?

[2020-11-10 20:56] PixelantDesign commented on #7720
https://github.com/gitcoinco/web/issues/7856

[2020-11-10 21:10] apbendi commented on #7755
@corydickson is going to take a pass at this issue. I've brought him up to speed on the context and the task at hand!

[2020-11-11 03:15] PixelantDesign commented on #7681
yay

[2020-11-11 03:31] PixelantDesign commented on #7772
looking good!

[2020-11-11 04:05] PixelantDesign opened #7858 "Fix alignment of logo box in prize explorer"
Please fix Logo box on prize explorer and move date under hackathon time frame.

### Current

![image (26)](https://user-images.githubusercontent.com/238235/98764090-109b7200-23a9-11eb-8ba0-ee027e93ca13.png)

### Change To
![image (27)](https://user-images.githubusercontent.com/238235/98764114-1bee9d80-23a9-11eb-9a34-dd16711c8d8b.png)

[2020-11-11 09:37] #7784 closed

[2020-11-11 12:50] jppade opened #7860 "Bounty platform fee paid, but bounty does not appear"
I have an issue I need help with. I wanted to put up another bounty on my profile. The page crashed after I paid the platform fee (which I apparently did twice for the same bounty). Here are the txn hashes:

0xefa408db15b7df5702a722faaa7dee24d5a1bbe38326fbf02682c80e07e6ec5b
0x4b871066124109fe5f3470a55ba94cec8b3cb75f61e503acdecb00cddb1162d0

However, the bounty does not appear on my dashboard. When

[2020-11-11 13:26] #7747 closed

[2020-11-11 14:55] vporton opened #7861 "Cannot update Project GitHub URL"
https://gitcoin.co/grants/1531/zon-directory

"Project GitHub URL" is `undefined` and I can't change it (even after pressing `Edit Info`).

[2020-11-11 16:22] WeiLi512 opened #7862 "Verify with SMS feature not working"
**Describe the bug**

**To Reproduce**

- Go to /trust page
- Click to verify with SMS
- Then it shows the "Verify your phone number" dialog to send a verification code.
- I used a Chinese number to verify my phone number, it responded 500 status code

**Expected behavior**

I expect that it works with the Chinese phone number.

**Screenshots**

![image](https://user-images.githubusercontent.com/5

[2020-11-11 16:22] thelostone-mc commented on #7745
update:

- tech remains for infra / dapp
- number of regional rounds might shrink (TBD)

[2020-11-11 16:57] PixelantDesign commented on #7753
https://docs.google.com/document/d/1II6IaPYL0RcP5Ilq2nd2A41r3_hnH297B3MkO2VXiok/edit?usp=sharing

[2020-11-11 17:27] owocki commented on #7848
81fa3969a1b0ca7ecce1c31c0ed41aa51f46822c  - `https://gitcoin.co/api/v0.1/grants/?limit=X` can be used to reduce the query load.

[2020-11-11 17:38] elm87an commented on #6229
Tried to verify using Twitter.  Dont have enough followers.

[2020-11-11 17:41] disruptionjoe opened #7863 "Marketing Need - Add subdomain access for landing pages"
As a marketer, I would like to use the signup.gitcoin.co subdomain for landing pages.

#1 - Mailchimp has a landing page feature, but it is very novice. For the type of marketing we need to do, we will need a more robust product. I use unbounce.com.

Signing up on unbounce gave me these instructions:

[https://share.getcloudapp.com/12ur2xek]

Log in to your domain provider for gitcoin.co and navig

[2020-11-11 17:49] elm87an opened #7864 "Kudos earnings not received."
I have a list of Kudos that show up as my earnings in my account settings.  I haven't  received any of them though.

[2020-11-11 18:12] owocki commented on #7862
ah yes, i think that twilio has been responding with 60220 - Messages to
China require use case vetting
<https://links.twiliocdn.com/ls/click?upn=3kZIcBV84MSbPEonqfrF6dGb3PJ6jbldw7J3yS57HqfY6d-2FbSVobsKuxGOn0RHHcpY-2BE2-2B3PRKOIaP31rJC2ptYQOa25abEukIg109zviIPZ9ZV9hHg5IwwdNRyW4F75G8Oj_GqFZoznRSqli4YcCfBWqmyXrHz0HEBLxzkzfxaXdzyzn0iIxBpYahMY-2B458Niivu4eB3OOfqboSscwL8n-2BcoKBTow1LKm0pIn-2BLLQBeSyFeDt

[2020-11-11 18:24] owocki commented on #7863
just created this via AWS Route 53

[2020-11-11 18:29] dazuck commented on #7828
@ceresstation @danlipert @thelostone-mc @PixelantDesign @owocki should we regroup on this Friday or early next week to make sure we have a clear spec ahead of the hackathon?

[2020-11-12 00:18] miguelmota opened #7865 "zkSync checkout stuck on "Preparing transfer 0 of 2""
**Describe the bug**

Checking out with zkSync gets stuck on Step 3 "Confirm donation transaction". It says " Preparing transfer 0 of 2" and shows " Processing" spinner indefinitely.

![Screenshot from 2020-11-11 16-11-49](https://user-images.githubusercontent.com/168240/98878870-e7c2bd80-2438-11eb-9040-739fe6f58bd1.png)

**To Reproduce**

1. login
2. connect Authereum wallet
3. checkout with zkSy

[2020-11-12 06:42] Bluzelle-Team opened #7866 "Bounty cancelled but fund was not returned to my wallet"
Hi, I have cancelled this bounty today. But I did not receive the refund of my tokens that I put in at the start.

https://gitcoin.co/issue/bluzelle/swarm-of-duty/4/4192

My wallet: 0x763738695aAffF2C6f493F27eE419b48Ba28C02D

[2020-11-12 07:15] thelostone-mc opened #7867 "grant creation: ensure twitter input starts with @ and is not an actual link"
#### Description

- In grants/new, add client JS validation to ensure twitter handles start with `@` and is not the user link
- Round 7 lot of folks using the adding twitter link and weren't able to verify their grant.  This causes a lot of support requests being created which can be avoided

We wanna allow:
`@gitcoin` and disallow
`https://twitter.com/gitcoin`

If `@` is not present -> frontend s

[2020-11-12 13:35] miguelmota commented on #7865
zksync signature error after clicking "Sign in to zkSync directly"

![Screenshot from 2020-11-12 05-30-26](https://user-images.githubusercontent.com/168240/98946530-da451c00-24a8-11eb-9ae5-7c0bdc4de464.png)

[2020-11-12 13:36] miguelmota commented on #7865
Possibly related to https://github.com/matter-labs/zksync/issues/254

[2020-11-12 14:27] owocki commented on #7865
@mds1 any ideas?

[2020-11-12 14:29] developerfred commented on #7864
Hi @elm87an  We're using the xDai network for the kudos you can see your wallet o n blockscout.com

[2020-11-12 14:29] owocki commented on #7866
We typically do not send a refund for a bounty that was advertised for several months and/or had several applicants.

[2020-11-12 14:45] Bluzelle-Team commented on #7866
@owocki thanks for your reply. We were not aware of this. Could we make an exception or can we revert back to active bounty again? There were no submissions for work which is why we could not reward anyone. We have also updated the job scope and post it as a new bounty here:  https://gitcoin.co/issue/bluzelle/swarm-of-duty/13/100024058. If we can get the refund we will transfer it to the new bount

[2020-11-12 15:09] owocki commented on #7866
sure what is the TXID you want a refund for ?

On Thu, Nov 12, 2020 at 7:45 AM Bluzelle <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-12 18:27] frankchen07 opened #7868 "Gitcoin Testing Issue"
### User Story

test

### Why Is this Needed

test

### Description

test

[2020-11-13 00:17] frankchen07 commented on #7753
dope, commented. HMU if you need any copy surrounding how QF works, or if you need a proofreader

[2020-11-13 02:09] mds1 commented on #7865
Hey @miguelmota! Based on the error shown and the issue you linked, I'd guess that is the correct cause. Once Matter Labs resolves that issue, you should be able to visit https://gitcoin.co/grants/cart and follow the "Complete zkSync Checkout" prompt shown

[2020-11-13 10:21] hellomalaysia opened #7871 "Bug Rpt"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-11-13 10:22] hellomalaysia opened #7872 "TIp"
### Who

### What

### Why

[2020-11-13 10:23] hellomalaysia opened #7873 "TIP AND PAYMENT"
### Discussion

[comment]: # (What conversation would you like to facilitate?)

[2020-11-13 10:24] hellomalaysia opened #7874 "I HAVE HACK BIGGER DECENTRALISE BEFORE THIS BUT CAN GET PAID"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [x] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-11-13 10:42] hellomalaysia opened #7875 "Bug Rpt"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser: duck browser
- Browser Version:

**Smartphone (please complete the following information):**

- Device: android
- OS:
- Browser:
- Version: Android 9

**Additional context**

[2020-11-13 10:57] danlipert commented on #7720
@ceresstation removed here: https://github.com/gitcoinco/web/commit/d4c72d6eb45840a67b037d8bc22f5f74819b9c57 will go out in next deploy

[2020-11-13 12:58] danlipert commented on #7845
Yes thanks for the report @Mitchellpkt appreciate all of the info. @thelostone-mc @octavioamu @owocki its interesting because there is an image in the grant description still but it is loading fine.  It loads fine in both Chrome and Brave now. I'm wondering if there must be some kind of byte limit rather than binary image/no image as the original description here had multiple images

[2020-11-13 15:36] vporton opened #7878 "https://gitcoin.co/grants/matic seems to show a wrong information"
https://gitcoin.co/grants/matic seems to show a wrong information: the sum of all Estimated CLR Matches is clearly much below $15000.

[2020-11-13 16:53] eshon commented on #7783
@sanchaymittal - This turned out to be a bug with using Ledger HW + MetaMask.

[2020-11-13 16:53] #7783 closed

[2020-11-13 22:02] owocki commented on #7408
interesting sybil technique https://twitter.com/financedotvote/status/1327361133695672320

[2020-11-14 01:55] octavioamu commented on #7845
Thanks, we are redesigning this page I will test with long content also to be sure is not a problem anymore .

[2020-11-15 01:21] skywinder opened #7879 "github-bot repetitive messages"
**Describe the bug**
bot repetitive messages

**To Reproduce**

Have a look at the issue: https://github.com/matter-labs/web3swift/issues/117#issuecomment-718859267

**Expected behavior**

Single comments instead of manydups.

[2020-11-16 09:21] resgar opened #7881 "Kudos are not transferred to Metamask wallet"
I have 33 kudos in my profile
https://gitcoin.co/resgar

The wallet to which I have connected my account is a Metamask with this address:
`0x711b7cE435D612f2Aaa7fADC82CDfF60e6FA7E7a`

I Received emails a few weeks ago stating that "... Kudos had been minted". However I still, can not see any of them in my wallet. I changed my wallet from Mainnet to xDai network, it didn't work either.

[2020-11-16 14:22] seichris opened #7883 "changed grant description and lost category tags"
**Describe the bug**

**The problem**

https://gitcoin.co/grants/1464/kontextapp-social-bookmarking-on-filecoin had category tags `liftoff`, `apollo` & `community`.
Then, I changed the grant description.
And after changing, only the `liftoff` tag stayed.

**Before this**
A week ago, Sachin manually changed the category for this grant, as gitcoin admin. This may be relevant?!

**To Reproduce**
---

[2020-11-16 14:27] owocki opened #7884 "500 error when deleting a profile (whether via command line or admin or via /settings/account/ )"
to reproduce, hit the admin + delete the profile, use `settings/account` or use the code below

[code]

[code]

[2020-11-16 14:45] owocki commented on #7884
can be fixed with settings fix prob https://github.com/Suor/django-cacheops

or by updating the version number of django cacheops

[2020-11-16 15:28] owocki commented on #7881
Where are you viewing your kudos?  To my knowledge metamask cannot natively
view NFTs, only connect to websites which can view the NFTs.

On Mon, Nov 16, 2020 at 2:21 AM Sajad Rastegar <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <ht

[2020-11-16 15:54] resgar commented on #7881
I tried both Metamask and Trust Wallet. I imported my Metamask private keys to Trust Wallet to see if they shown up as collectibles there. But again, nothing was there.

[2020-11-16 16:13] developerfred commented on #7884
<img width="1241" alt="Screen Shot 2020-11-16 at 16 12 58" src="https://user-images.githubusercontent.com/57037080/99278204-a9f1da80-2826-11eb-83f1-4a131aea9b8e.png">

`172.18.0.1 - - [16/Nov/2020 16:12:32] "POST /_administrationauth/user/22/delete/ HTTP/1.1" 302 -`

[2020-11-16 16:47] owocki commented on #7881
Can you add the kudos xdai contract address to your trust wallet + see if
that helps?  It might not know about it.

0x74e596525C63393f42C76987b6A66F4e52733efa

On Mon, Nov 16, 2020 at 8:54 AM Sajad Rastegar <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software

[2020-11-16 17:41] owocki opened #7886 "As a user, I want to be able to redeem my grants payout in a non-custodial way, so I can manage requirements."
As a user, I want to be able to redeem my grants payout in a non-custodial way, so I can avoid custody requirements.

The goal of this ticket is to evolve the Gitcoin Grants Trust Architecture to be non-custodial (no hot wallet)

![Eg1YhCFU8AEbBE- copy](https://user-images.githubusercontent.com/513929/99288153-6bddc200-27f8-11eb-850b-a800dca5d312.png)

![Eg1Zf6ZU0AIbXG3](https://user-images.github

[2020-11-16 19:11] resgar commented on #7881
In trust wallet there is no way to add custom ERC-721 token, but I tested it with MyEtherWallet, and added the contract address of the kudos to it. again, nothing is displayed.

[2020-11-16 20:24] owocki commented on #7881
What function did you use in MEW?

On Mon, Nov 16, 2020 at 12:11 PM Sajad Rastegar <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-16 21:13] resgar commented on #7881
NFT Manager -> Add Custom NFT

[2020-11-16 21:23] owocki opened #7888 "Upala anti-sybil integration"
specced at https://github.com/upala-digital-identity/upala/issues/3

[2020-11-16 22:08] elm87an commented on #7881
I have kudos that haven't landed in my wallet for a few weeks now.

https://gitcoin.co/elm87an

[2020-11-17 02:30] adnfx2 commented on #7881
I got months with this issue, I **rarely** get truly credited with kudos after an attempt to claim a kudos from either a quest or a weekly free kudos. I usually check my ownership of a kudos through etherscan or blockscout (for xdai). Another point is that if I check my gitcoin profile and look for those failed claim kudos, they will appear for a while, and after a few days they're gone. It may be

[2020-11-17 03:00] elm87an commented on #7881
I'm experiencing the same as adnfx2

[2020-11-17 05:59] thesachinmittal commented on #7688
I still think having this exposed to isn't smart cause folks might get spammed.
I'd lean towards collecting this info and then sending it out to sponsor on need to need basis

Totally, Can we discuss this in the next product sync @PixelantDesign ?

[2020-11-17 06:06] thelostone-mc commented on #7616
Yup! LGTM

[2020-11-17 07:18] PrivacyBob1 opened #7892 "1 to many transactions don't count"
a

[2020-11-17 07:19] #7892 closed

[2020-11-17 07:21] SexDrugsAndZcash opened #7893 "1 to many donations don't work"
Hello
i noticed that when i try to donate from 1 ZEC wallet to MANY
for example if i want to donate to 5 projects in 1 transaction instead of 5 transactions 1 by 1
then my contributions are invalid
for example here https://gitcoin.co/grants/1484/fast-sync-for-zecwallet-android-and-ios?tab=transactions
20/11/07  sexdrugsandzcash Failed
however i sent the ZEC to their wallet
as you see many transact

[2020-11-17 16:02] owocki commented on #7881
hey all, sorry for the continued issues.  the good news is we have all the
info in the DB + can re-issue these.

On Mon, Nov 16, 2020 at 8:00 PM elm87an <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-17 18:39] developerfred commented on #7861
We need to investigate this model @Solexplorer

[2020-11-17 20:29] resgar commented on #7881
That's all right. This is good news, thank you!

[2020-11-17 21:12] elm87an commented on #7881
Very good news!  Thank you so much!

[2020-11-17 23:12] owocki commented on #7755
@apbendi @thelostone-mc @corydickson r u all aware of this one? https://github.com/gitcoinco/web/pull/7567

[2020-11-18 08:07] #7608 closed

[2020-11-18 08:38] thesachinmittal opened #7895 "Introducing KB2 fellows - Graphic Design"
For KERNEL,

We want to introduce fellows who are joining the KERNEL Block 2 via Twitter. And we need a graphic for that, which features individual fellows.

In particular, a GIF will be amazing. Here's the reference,

https://twitter.com/beondeck/status/1328646897284775936?s=20

Please make the GIF, keeping in mind the KERNEL Branding guide.

cc: @vs77bb @PixelantDesign

Would love your feedback

[2020-11-18 08:41] #7895 closed

[2020-11-18 09:51] danlipert commented on #7893
Hey @SexDrugsAndZcash thanks for filing the issue. What wallet are you using to issue the 1 to many transaction? We're going to be adding multi-output transaction support in the QR code encoding in the future so will be good for us to understand your use case and how we can best support it. Thanks again!

[2020-11-18 09:56] danlipert commented on #7893
@SexDrugsAndZcash did you mean to contribute twice to the Fast Sync for Zecwallet grant for 0.033 ZEC? I see you have 2 transactions to that same grant, one successful, one failed. Let me know and I can remove the duplicate or if you have the transaction ID for the 2nd contribution I can add it manually and it should sync and show up as successful.

[2020-11-18 11:28] SexDrugsAndZcash commented on #7893
Hey @SexDrugsAndZcash thanks for filing the issue. What wallet are you using to issue the 1 to many transaction? We're going to be adding multi-output transaction support in the QR code encoding in the future so will be good for us to understand your use case and how we can best support it. Thanks again!

** i used ZecWallet on Windows , you can "add recipients on your transaction**

@SexDrugsAndZ

[2020-11-18 15:21] chibie opened #7897 "update of grants info should be optimistic + no reload"
### Description

While updating grants info in detail page, the newly updated info only reflects on page reload which isn't optimistic and usually takes some seconds on slower internet speeds.

problem demo here => [https://www.loom.com/share/dfb001c16bb44aac92bcf2914c71b672](https://www.loom.com/share/dfb001c16bb44aac92bcf2914c71b672)

### Expected behaviour

* Updated info should show a success

[2020-11-18 15:36] chibie commented on #7897
based on convo with @octavioamu, grants details is being ported to vue.js here #7894 and the edit flow will be totally different.

[2020-11-18 15:36] #7897 closed

[2020-11-18 15:44] mds1 commented on #7752
This is mostly done, just need to add a few UX things and delete some unneeded code in `cart.js`.

Question: At what point do we want to save Contribution info to database? Here's my thinking of a flow, which would also resolve #7744. Let me know your thoughts:
1. Immediately before checkout starts, save off a JSON store blob with all the cart data
2. Saving contributions based on checkout method:

[2020-11-18 17:18] corydickson commented on #7755
I was not 😬 maybe we can converge on some changes. Since this other PR has styling changes, we may just want to make sure the celery task that processes the grant is successful before kicking off the email job.

[2020-11-18 17:46] developerfred commented on #7828
assigne me @owocki

[2020-11-18 18:03] owocki commented on #6458
just made a change so that its clear to users they should change email on github 5265bdb6a70ea22c42ffa9bb12f70864d4897e27

[2020-11-18 18:03] owocki commented on #6491
just made a change so that its clear to users they should change email on github 5265bdb6a70ea22c42ffa9bb12f70864d4897e27

[2020-11-18 18:05] #7172 closed

[2020-11-18 18:36] owocki commented on #6561
5265bdb6a70ea22c42ffa9bb12f70864d4897e27  will make it  a bit more clear on the UI how to do  this

[2020-11-18 19:35] developerfred opened #7901 "Cache problem to check the number of issues for a user."
**Describe the bug**

When I express an interest in a bounty I get the screen that says that I can only do 6 tasks simultaneously, and currently I have 3 tasks and a task that I already sent continues to appear as in progress

<img width="1280" alt="Screen Shot 2020-11-18 at 19 31 50" src="https://user-images.githubusercontent.com/57037080/99578643-04309e00-29d5-11eb-826e-bab22e2e5707.png">

**To

[2020-11-18 20:11] owocki commented on #7901
just raised your limit to 10 issues; we should prob figure out why you
perceive 4 active issues + the system perceives 10 tho

On Wed, Nov 18, 2020 at 12:35 PM codingsh <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co

[2020-11-18 21:28] apbendi commented on #7752
Questions on this @mds1— for options `2.i` and, especially, `2.ii`, what happens if the user closes their browser before the contributions complete?

For option `2.iii`, how do we currently handle transaction failures? I believe we account for them later, but I forget how. Nothing we're changing here would impact that process, would it?

[2020-11-18 22:36] frankchen07 commented on #7408
^ oh that is interesting. we can do a NFTs already, and then we can link to the GC token when released?

[2020-11-19 00:06] mds1 commented on #7752
1. There's an L1 deposit, and the user closes the whole browser before that completes: Their cart will still be populated, they'll have funds in zkSync, and they can just re-visit the cart and checkout again, but of course skip the L1 deposit this time. The standard "don't forget to checkout your cart" emails work here.

2. The user closes the window after the L2 checkout completes but before Gitc

[2020-11-19 01:35] CaptainGinyu opened #7902 "Missing badges"
**Describe the bug**
I am missing the following badges:
https://gitcoin.co/kudos/25943/the_weekly_mint_issue_8_blockchain_news_overload
https://gitcoin.co/kudos/20210/gitcoin_planet
https://gitcoin.co/kudos/25872/the_weekly_mint_issue_7_retro_arcade

**To Reproduce**
Not sure if this is reproduceable.

**Expected behavior**
I expected to receive the badges in my MetaMask wallet

**Screenshots**
![

[2020-11-19 06:43] thelostone-mc commented on #7752
- So when you check out starts , it means when user clicks on L1 / zksync checkout button -> we fire API which would create subscription + contribution object (with state as pending)
- Once process is complete -> another API call would fire with the txn hash to update those contributions
- Like @apbendi asked -> if you close the browsers before second API call frires ,the subscription / contributi

[2020-11-19 06:59] thelostone-mc opened #7903 "admin: add cache burst command to GrantCLR"
Allow admins to bust the GrantCLR cache (so they have confidence in the admin is working)

Have an button within
https://gitcoin.co/_administrationgrants/grantclr/
which runs

[code]

which is defined in create_page_cache
code link: https://github.com/gitcoinco/web/blob/master/app/perftools/management/commands/create_page_cache.py#L387-L390

reason for doing this :
when admin changes certain data

[2020-11-19 07:00] thelostone-mc opened #7904 "feat: add region support !"
#### Description

- Add region to create / edit form
- Ensure data is saved in backend

Regions
 - North America
- Oceania
- Latin America
- Europe
- Africa
- Middle East
- India
- East Asia
- Southeast Asia