[2018-01-10 15:23] owocki commented on #226
https://github.com/MetaMask/metamask-extension/issues/2920

[2018-01-10 15:33] owocki commented on #225
this is a fair point.  thanks..

[2018-01-10 15:34] owocki commented on #128
we should make it easier to run management commands in docker.. @mbeacom might know whats standard here :)

[2018-01-10 15:47] owocki opened #227 "Issue Explorer Usability tweak"
On issue explorer, if there are no results show a button that can 'clear' all the filters so that a user can see results

[2018-01-10 16:01] owocki commented on #213
This is fair.. Thanks for creating another issue to track this

[2018-01-10 16:48] owocki opened #228 "As a gitcoin founder, I want to send a demo funded issue, so I can demo the product to the mesh."
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra nunc id diam egestas, at ornare nisl lacinia. Etiam ligula purus, auctor eget semper vel, ultrices nec nibh. In bibendum gravida gravida. Fusce quis lobortis ex, et vehicula tortor. Curabitur finibus sollicitudin sem, nec interdum purus dictum in. Sed laoreet turpis eget velit efficitur, ut egestas sapien imperdiet. Vivamus ve

[2018-01-10 17:25] #228 closed

[2018-01-10 17:25] owocki opened #229 "As a gitcoin founder, I want to send a demo funded issue, so I can demo the product to the mesh."
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra nunc id diam egestas, at ornare nisl lacinia. Etiam ligula purus, auctor eget semper vel, ultrices nec nibh. In bibendum gravida gravida. Fusce quis lobortis ex, et vehicula tortor. Curabitur finibus sollicitudin sem, nec interdum purus dictum in. Sed laoreet turpis eget velit efficitur, ut egestas sapien imperdiet. Vivamus ve

[2018-01-10 18:57] thelostone-mc commented on #174
@vs77bb nice to meet you too ! :)
owocki had a few comment which once addressed will be ready for shipment \m/

[2018-01-10 21:43] #229 closed

[2018-01-11 00:07] owocki commented on #198
@olafghanizadeh you still working on the design for this?

i nkow you were DMing me about working on something else.. maybe most fair to release this claim if youre not into it anymore?

[2018-01-11 01:59] owocki opened #230 "as a site administrator, i want to reward those at the top of the leaderboard, so we can show our appreciation"
some ideas:

At end of month
- Digital 'Medals' for top 10 earners
- Email to them on first on month
- Roundup email giving them cred for being at the top!?
- historical leaderboards... so they can be at the top forever for that month

[2018-01-11 02:13] mkosowsk commented on #230
I really like this, gives these top earners a sense of pride of accomplishment and also gets the word out... people will look at these leaderboards and say, "Wow, these developers earned this much in a month?!" 👍🏻

[2018-01-11 02:15] owocki commented on #230
what you think @vs77bb @mbeylin ?

[2018-01-11 02:16] mbeylin commented on #230
I like all of the above, along with first pick at new swag

[2018-01-11 02:21] mkosowsk commented on #230
One quick thought, might be good for this to be opt-in (i.e. ask the top earners if they are cool with being on the leaderboards before putting leaderboards out). Some people are particular about their privacy 👍🏻

[2018-01-11 03:32] thelostone-mc commented on #230
The wall of the fame :')
Mt vote is for all of them :D

[2018-01-11 10:17] olafghanizadeh commented on #227
There is already a clear filters button in there, but a bit hard to see. Would be cool to work with @pixelantdesign on making the issue explorer more user-friendly :)

[2018-01-11 10:53] olafghanizadeh commented on #198
Yeah. I I'm still working on it. I just got a little carried away with the other project.

[2018-01-11 15:06] owocki commented on #198
got it; so you still want this bounty? (no pressure, im just tryiing to figure out if we should bring someone else on)

[2018-01-11 15:07] owocki commented on #227
yeah... maybe putting it on the 'no results found' page would be a good UX move.. http://bits.owocki.com/0w3f0A1S0p1F/Screen%20Shot%202018-01-11%20at%208.07.08%20AM.png

but yes, broadly defer to @pixelantdesign on this :)

[2018-01-11 15:53] owocki opened #231 "new 404/500 error page"
current page: https://gitcoin.co/404

inspiriation https://twitter.com/owocki/status/951476161996967941

[2018-01-12 15:28] karsiwek opened #232 "improvement - filtering bounties for repository"
right now chrome extension has to filter bounties for particular repository on client side, which is fine for now, but it won't be efficient in a future.

api allows us to get some bounties by supplying query with: github_url but i have to know the full url.
for instance:

https://gitcoin.co/api/v0.1/bounties/?order_by=web3_created&network=mainnet&github_url=https://github.com/MyEtherWallet/MyEthe

[2018-01-12 15:37] owocki commented on #232
i think this is a good idea

[2018-01-12 16:46] owocki commented on #152
@romanjesus still interested in this?

[2018-01-12 16:49] romanjesus commented on #152
definitely, I'll have a pr soon with what we discussed over slack 👍

[2018-01-12 19:51] owocki commented on #209
gitcoin.co/gas

[2018-01-12 19:51] #209 closed

[2018-01-12 20:28] owocki commented on #214
this could also detect your profile from your github login (which @mbeacom has helpefully coded up!) instead of just from metamask

[2018-01-12 20:28] owocki commented on #197
cc @vs77bb in case this would help you in your weekly pruning of bounties in any way...

[2018-01-12 20:29] owocki commented on #192
related https://github.com/gitcoinco/web/issues/230

[2018-01-12 20:29] owocki commented on #194
this is a good idea

[2018-01-12 20:30] owocki commented on #230
i asked everyone on the leaderboard if they wanted some schwag... hopefully most of them respond ::)

[2018-01-12 20:31] owocki commented on #191
yes pls.. i could also bounty it if not

[2018-01-12 20:31] owocki commented on #191
related to https://github.com/gitcoinco/web/pull/156

[2018-01-12 20:33] owocki commented on #181
closing this since the design is closed..

anxiously awaiting the coding of it!

[2018-01-12 20:33] #181 closed

[2018-01-12 20:36] #174 closed

[2018-01-12 20:45] owocki opened #233 "ERC20 batch tip send"
please fork the `tip` and `/tip/receive` functionality such that

1. it's possible to autogenerate (and batch send) 1200 different ERC20 tips (without a ton of metamask confirmations popping up)
2. the receive addresses for each of these tips is stored in a .txt document

MUST be completed by the end of january.

[2018-01-12 20:47] owocki commented on #141
github integration https://github.com/gitcoinco/web/pull/156

[2018-01-12 20:48] #65 closed

[2018-01-12 20:49] owocki commented on #30
moved to https://github.com/gitcoinco/skunkworks/issues/46

[2018-01-12 20:49] #30 closed

[2018-01-12 20:50] #50 closed

[2018-01-12 21:58] KamesCG commented on #233
Interesting - I will take a look at code and see how fast I can generate a PR.

This one is fun :)

[2018-01-13 00:00] owocki opened #234 "identity on the platform is kind of a mess"
right now identity lives on

* metamask
* github
* slack
* email
* website

itd be great if we could unify these in some meaningful way such that we could track where a user spends most of there time and when/where they drop off

[2018-01-13 00:12] owocki commented on #233
@KamesCG this is going to be used to give out https://github.com/owocki/coloradocoin at the ethdenver.com hackathon... itll be used by hundreds of end users in a month or so... so would be cool to have your name on that :)

[2018-01-13 02:14] KamesCG commented on #233
The deadline make sense - posting claim now.

I'll let you know if I have any questions.

[2018-01-14 14:11] olafghanizadeh commented on #198
Sorry, yeah I will. Running a little behind schedule here, but will definitely submit a mockup today

[2018-01-15 04:13] owocki commented on #198
looking forward :)

[2018-01-15 18:17] owocki opened #237 "workaround poloniex captcha"
per https://github.com/gitcoinco/web/pull/158#issuecomment-357731863 :

`./manage.py gas_prices` command won't populate data now because the URL -- https://poloniex.com/public?command=returnTicker is now using Google Captcha which cannot be bypassed programatically I guess.

[2018-01-15 18:18] owocki commented on #237
[code]

quite curious that this runs locally for me though..

[2018-01-15 18:18] owocki commented on #237
@eswarasai what do you see when you run the mgmt command?

[2018-01-15 18:26] mbeacom commented on #128
@step21 @owocki
You can execute management command via something like:

`docker-compose exec web python manage.py collectstatic`

The above example is broken down like so:
`docker-compose <action> <stack_service/container_name> <command>`

So you're telling docker-compose to `execute` the command: `python manage.py collectstatic` against the `web` service container.

So, for this particular situat

[2018-01-15 18:33] eswarasai commented on #237
@owocki -- I've done some little research on the Poloniex Captcha issue. There's a security layer added which doesn't allow Public API calls if the Request IP Address falls out of some specific range/region. That could be the reason why it is working in US and not in India.

If I try to open the page -- https://poloniex.com/public?command=returnTicker in a browser, it shows me Captcha which wouldn

[2018-01-15 19:26] eswarasai commented on #237
I don't have a VPN account. It'd be great if you can share the dump of local DB with me. Thanks.

[2018-01-15 19:40] owocki commented on #237
@eswarasai sending it to u on slack now

[2018-01-15 20:13] owocki opened #238 "Push Open Source Forward => Grow Open Source"
Per https://github.com/gitcoinco/gitcoinco/issues/21#issuecomment-357326214 , we are going to tweak the 'mission' copy to be 'Grow Open Soure'.

This issue is to change the web repo copy/imagery on the frontend to reflect the same.  there are logos for 'grow open source' in this repo => https://github.com/gitcoinco/creative

[2018-01-15 20:25] owocki opened #239 "slack remarketing"
# what

if someone hasn't responded to their slack invite (or has been gone for > 1 month), send them an email to ask them for feedback about why they're not interested any more..

secondarily.. ask them if they'll come back and see our recent progress

# why

recapture momentum from people who joined the community and then left.  there are about 2k slack invites out there... but only 100 who are

[2018-01-15 20:26] owocki commented on #239
curious to try this out sometime in the next few months... cc @mbeacom and @vs77bb in case there's feedback on the idea

[2018-01-15 20:41] owocki commented on #198
hey @olafghanizadeh hows that mockup coming

[2018-01-15 21:06] thelostone-mc commented on #239
I might be a little absent minded here , so feel free to educate me :D

What's the reason behind marketing the slack channel ? To me the gitcoin channel is a where people interested and invested behind the gitcoin misson automatically check in to converse.

If someone isn't interested , that's probably why they left. Sending out an email to them might just end up in their trash mail. Also do folks

[2018-01-15 21:08] owocki commented on #239
yep, thats why we'd solicit their feedback.  to figure out what we can improve.

i agree, but there are things we can do to make it look like a reply-to-able email.  i.e. not make it look super marketing newsletter-ey

[2018-01-15 22:11] thelostone-mc commented on #239
Fingers crossed if we can pull this off , it would be pretty sweet :D
I've worked on a few of these but I've never managed to hit the sweet spot

[2018-01-15 23:23] connorwarnock opened #241 "Improvement proposal - fix test suite and add linting"
New to the project, so still getting up to speed on the codebase.  But I really like what I see so far!

Some quick improvements I propose:
- Fix the master test failures so we can have a green CI/CD flow
- Add linting with pylint.  Strictly following PEP 8 might be overkill, but even some general structure will keep us all on the same page :)

[2018-01-16 12:31] olafghanizadeh commented on #198
Okay, running a little behind here. Having some issues with getting this drawn down. But okay, please give me input on desired changes!

##The Pitches Page
![gitcoinpitch](https://user-images.githubusercontent.com/25170177/34989029-10c9279a-faa8-11e7-9a0e-4f8d3655ffd9.png)
Here it would show the most recent, most upvoted, featured (selectable by admin) pitches. I think this would be a good approac

[2018-01-16 16:10] owocki commented on #198
@pixelantdesign might have some comments on this.

I'm okay with `ideas/new` being in a modal or on a new page.  Up to you.

Excited to see more progress on this soon!

[2018-01-16 18:48] thelostone-mc commented on #198
I vote it on being on the same page! -> Is it worth the extra click ?
Also would only top ideas be displayed or will there also be a list below it to showcase the lesser popular ideas or newly added questions ? (with the voting system like stackoverflow )

[2018-01-16 19:50] connorwarnock commented on #232
@karsiwek I can tackle this.  I think [a] looks like a good way forward

[2018-01-16 19:58] owocki commented on #232
@connorwarnock great! looking forward to having you work on this.   will look out for a PR.  how much of a tip do you think is fair?

[2018-01-16 20:01] connorwarnock commented on #232
@owocki This seems like a pretty small task, will let you decide an appropriate amount :)

[2018-01-16 23:25] owocki opened #245 "standardbounties: integrate metamask gas estimates module"
http://bits.owocki.com/2I0g0o1T0O1C/Screen%20Shot%202018-01-16%20at%204.25.01%20PM.png

[2018-01-16 23:26] owocki opened #246 "standardbounties: tx throws but the frontend thinks it succeeded anyway"
https://github.com/gitcoinco/web/pull/140#issuecomment-357752233

[2018-01-16 23:26] owocki opened #247 "standardbounties: gas limit set too high"
i get a 'gas limit set dangerously high' message when i try to fulfill a bounty..

http://bits.owocki.com/3A2t0R3j3m3D/Screen%20Shot%202018-01-15%20at%2010.52.57%20AM.png

i think we need to apply an .estimateGas() to the submission code on line 119 in fulfill_bounty.js

and probably for all other web3 interactions too..

[2018-01-16 23:36] owocki opened #248 "standardbounties: estimateGas()"
https://github.com/gitcoinco/web/pull/140#discussion_r161582730

[2018-01-16 23:38] owocki opened #249 "standardbounties: figure out how to massage expressed interest PR in"
we will need to figure out how to massage the 'express interest' functionality into this PR.. is it better if we create one integration branch and merge them all together? im thinking itd be nice if we can all be committing to the same branch and very quickly turning around any and all issues

[2018-01-16 23:39] owocki commented on #249
hey @mbeacom i dont see the express interest code on the integration branch.. has it been merged in?

[2018-01-16 23:39] owocki opened #250 "standardbounties: if you try to fulfill a bounty that doesnt exist it spins forever"
on https://stage.gitcoin.co/funding/fulfill

if i try to fulfill a bounty that does not exist (ex: https://github.com/gitcoinco/web/pull/140/files ) ... it just spins forever.. we should handle this and present the user with an error

[2018-01-16 23:39] owocki opened #251 "standard bounties: multiple bounties per issue URL"
how do we want to handle multiple bounties per github issue URL?

right now, via the current stdbounties UI... someone can submit mulitiple bounties on the same GH URL. this is confusing because while standardbounties supports it.. the gitcoin UI does not..

maybe we add a validation step if someone tries to enter a currently active bounty into funding/new, we tell them they can't (or solicit them

[2018-01-16 23:39] owocki opened #252 "standardbounties: migration plan"
whats is the most viable migration plan for the current gitcoin bounties over to stdbounties?

i think we

close down all the current bounties manually via the UI.
deploy standard bounties.
reopen them on standard bounties on the new UI.
@mbeacom @jasonrhaas any thoughts on the above?

[2018-01-16 23:41] owocki opened #253 "standardbounties: where do we store info that's not in the bounty detail spec?"
should we be storing information that's missing from the database (like the githubusername, expereience level required... etc) in this JSON blob? its got to go somewhere..

 https://github.com/gitcoinco/web/pull/140#discussion_r160816196

[2018-01-16 23:43] mbeacom commented on #249
@owocki Yes, it has.
<img width="723" alt="screenshot 2018-01-16 18 41 19" src="https://user-images.githubusercontent.com/7315957/35017888-01678c5c-faed-11e7-8866-201557d0599a.png">
https://github.com/gitcoinco/web/pull/240/commits/2228278f3c0b3a3f62b70ea5e36f9ce17aab5ebf

Just making the requested changes.

[2018-01-17 00:04] jasonrhaas commented on #252
That's probably the safest way to do it.  Make "clean" entries in the database that link out to the Standard Bounties contract, and have the proper associated `standard_bounty_id` in the database.

[2018-01-17 01:42] vs77bb commented on #233
@KamesCG @owocki Pumped about this one 😄

[2018-01-17 01:44] vs77bb commented on #221
@nitinrgupta I see now that you've made the claim... excited to see what you come up with here 🙂

[2018-01-17 02:05] vs77bb commented on #206
@owocki this is still showing up as 'Claimed' on Gitcoin... should be fulfilled?

[2018-01-17 02:08] vs77bb commented on #184
@owocki Did you get to this? An exciting feature worth a small content piece, whenever ready - IMHO :)

[2018-01-17 02:11] vs77bb commented on #181
@owocki Not sure this paid out? Might be missing something...

[2018-01-17 04:40] connorwarnock commented on #232
@owocki For this PR, I'd like to add tests to verify my changes, both unit tests and request tests.  What are your thoughts on following the Django REST framework setup: http://www.django-rest-framework.org/api-guide/testing/?

[2018-01-17 05:54] nitinrgupta commented on #221
@vs77bb On it :)

[2018-01-17 15:35] owocki commented on #232
seems pretty standard (which i like).  @mbeacom what do you think

[2018-01-17 15:50] mbeacom commented on #252
That will probably make the most sense. 💯

[2018-01-17 15:58] mbeacom commented on #232
@owocki @connorwarnock Absolutely! As far as DRF tests are concerned, that's the way to go.

[2018-01-17 17:15] jasonrhaas commented on #250
![image](https://user-images.githubusercontent.com/7018237/35056505-ab2a4538-fb77-11e7-80b1-c51f501aacc6.png)

[2018-01-17 17:15] jasonrhaas commented on #250
So now if the REST API returns nothing from the database it will pop up that error and Unload the button.

[2018-01-17 17:19] jasonrhaas commented on #246
For reference

also, this tx 'throw()'ed and the frontend thought that it succeeded and updated the bounty anyway.

https://rinkeby.etherscan.io/tx/0x1a546bd7296113658b91d5b3badeb98cb11487fe9891eab3726a4c873117bb12

[2018-01-17 17:23] jasonrhaas commented on #246
Right, I need to put the switch back in there to wait until the TX is confirmed before doing anything, fixing it.

Does bring up a broader point (not for this issue) about how we want to handle the "data in two places thing".  Bounties Network only uses the Blockchain as their database, we are using Postgres and the blockchain and IPFS.  There are certainly tradeoffs using either approach.  If we

[2018-01-17 17:25] owocki opened #254 "www.gitcoin.co doesnt work"
fyi, https://gitcoin.co works, but https://www.gitcoin.co and http://www.gitcoin.co aren’t resolving

[2018-01-17 17:30] jasonrhaas commented on #251
Right now once an issue is in the fulfilled state in Gitcoin, it doesn't allow people to add another fulfillment via the bounty details page.  I believe this can be manually overridden by going to the /fulfill page directly.

![image](https://user-images.githubusercontent.com/7018237/35057126-999092e4-fb79-11e7-95c4-06341da37094.png)

Currently it adds the latest bounty to the stack on the Blockch

[2018-01-17 17:34] jasonrhaas commented on #253
That data is all being stored in the database.  We can store it in IPFS as well but I'm always hesitant to store data redundantly in two places, it will inevitably get out of sync at some point, and then need to figure out which dataset to use.  I mentioned this in another issue but at some point a decision needs to be made whether we want to use IPFS/blockchain or Postgres as our source of truth.

[2018-01-17 17:41] jasonrhaas commented on #247
I took our that part based letting MetaMask handle all that.  So the idea behind the `estimateGas()` call is that it will do a better job at estimating the gas than MetaMask?  Yea it would be nice if users didn't have to deal with worrying about all the gas stuff.

[2018-01-17 17:44] jasonrhaas commented on #253
Another solution is to store the "truth" data all in IPFS, and the database is dumb to everything.  Then the application would need to pull down the JSON blob to get the issue details for example.

[2018-01-17 18:22] owocki commented on #253
i think that treating IPFS as the source of truth makes sense to me... and then teh database is a dumb proxy.  onboard with that approach

[2018-01-17 18:23] owocki commented on #247
I'm not sure what this means

Yes

[2018-01-17 18:25] owocki commented on #251
i wasn't talking about multiple fulfillments per bounty... i was talking about multiple *bounties* per github issue.

might be easier to just chat about this on the phone?

[2018-01-17 18:26] owocki commented on #246
+1 on this ... this is a good resolution

[2018-01-17 18:27] owocki commented on #250
mind linking the commit for this?

[2018-01-17 18:34] #32 closed

[2018-01-17 18:45] owocki commented on #206
looks fulfilled to me... am i looking at the right issue? https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/206

[2018-01-17 18:48] owocki commented on #181
closed it since it was an accidental dupe

[2018-01-17 18:48] owocki commented on #184
yes i am waiting on  @usulix to turnaround my comments on the PR

[2018-01-17 18:54] vs77bb commented on #206
<img width="1258" alt="screen shot 2018-01-17 at 12 54 06 pm" src="https://user-images.githubusercontent.com/23297747/35061020-91cd622e-fb85-11e7-8089-a5f5a8bd47a9.png">

[2018-01-17 18:56] vs77bb commented on #206
Hmm funny, looks like it just moved to 'Fulfilled'. Seeing it there now as of this minute (two minutes ago was that screenshot 🙂

[2018-01-17 19:07] jasonrhaas commented on #250
https://github.com/gitcoinco/web/pull/240/commits/27d4a0917a40ad18d21b8eaae8db3f3208aceb89

[2018-01-17 19:09] jasonrhaas commented on #251
Ah yes, I read that wrong.  Correct, should be a check in there to kick back if the github issue already exists.  That should be an easy fix.

[2018-01-17 21:38] jasonrhaas commented on #251
Ok so now before kicking off the process it checks that database to see if that issue is already in there.  If it is, it pops up a banner.  We can probably do more in the future but I believe this is feature parity for the moment.

![image](https://user-images.githubusercontent.com/7018237/35068339-5dbf08ea-fb9c-11e7-9000-79c7ca209767.png)

[2018-01-17 21:42] jasonrhaas commented on #251
https://github.com/gitcoinco/web/pull/240/commits/a2cf8c5d194ee902caf4f3702e4915f238cb8ce0

[2018-01-17 21:51] jasonrhaas commented on #253
ok this one is going to be a bit more of a change.  Currently I'm setting the database tables in python to match up with what is send to web3, but not really using IPFS for much.

I think the consensys here is that we should be only writing to IPFS directly, and have the database sync off of that.

This is going to require probably a new python method or two.  I was thinking this might be the righ

[2018-01-17 22:09] #248 closed

[2018-01-17 22:28] owocki commented on #247
@mbeylin if we don't call `.estimateGas()` then how will we know if the tx we're about to submit to the network is gonna `throw()`?

[2018-01-17 22:52] mbeylin commented on #247
In the Bounties Network, the front-end doesn't currently check for this (does Gitcoin?)

In the UI I disable the ability to make actions I know will cause throwing (i.e. checking if the metamask provided account[0] is the same as the bounty issuer, to ensure it doesn't let them fulfill).

In this way the UI proactively prevents it, instead of letting them try and then failing when they hit the but

[2018-01-17 23:19] connorwarnock commented on #232
Awesome, I'll have it turned around shortly

[2018-01-18 00:27] thelostone-mc commented on #254
pinged you on slack cause of the hosting service questions I had! ^_^

[2018-01-18 09:15] olafghanizadeh commented on #181
Wait, so who got paid for this bounty then?

[2018-01-18 14:27] mbeacom commented on #254
@owocki Whoever tackles this will need access to AWS. We'll need to update the ACM certificate, CF, and r53 accordingly.

[2018-01-18 16:38] owocki commented on #254
i just added an A entry for `www`... not sure if the SSL cert will resolve correctly... but its a start at least

[2018-01-18 16:59] mbeacom commented on #254
@owocki You can pass `gitcoin.co` and `*.gitcoin.co` to the ACM cert request.

[2018-01-18 17:21] owocki commented on #181
hmm.. i mustve been confused when i said that.  looks like i still owe you a payout on https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/181 is that right @olafghanizadeh ?

[2018-01-18 17:52] mbeacom commented on #254
This is fixed.

Steps taken:

- Add route53 entry for www.gitcoin.co pointing to CF distribution. (via Kevin)
- Add ACM SNI certificate for:  `gitcoin.co` and `*.gitcoin.co`
- Add `www.gitcoin.co` to Additional CNAMEs on CloudFront distribution.
- Update certificate used by CF distribution to use the newly created certificate.

[2018-01-18 17:52] #254 closed

[2018-01-18 21:23] olafghanizadeh commented on #181
I didn't receive anything for this bounty, that is correct :)

[2018-01-18 22:59] owocki commented on #181
submit submitted acceptance of the bounty

[2018-01-19 05:25] connorwarnock commented on #148
@owocki I can tackle this

[2018-01-19 15:48] owocki commented on #221
@nitinrgupta would love to check out your portfolio in the meantime!

[2018-01-19 15:48] owocki commented on #198
@olafghanizadeh do you think you can turn this around in the next couple days?

[2018-01-19 15:59] owocki commented on #148
👍

[2018-01-19 16:51] owocki commented on #245
086d179a1c4bc3eafe3d378df99a49b41e412007

[2018-01-19 16:51] #245 closed

[2018-01-19 17:28] owocki opened #256 "standardbounties: regression test the twitter notifications, github comments, and emails"
what the title says

[2018-01-19 17:29] owocki opened #257 "standardbounties: test ERC20 tokens"
wat the title says.  test them through the funnel

[2018-01-19 17:32] owocki commented on #247
i think the fix here is to copy what beylin did:  catch it upstream to the 'fulfill' button click

[2018-01-20 05:48] cd10012 commented on #238
Hi, trying to tackle this but I might be blind and can't seem to find these images in the repo:
![image](https://user-images.githubusercontent.com/7246942/35180244-85388862-fd7a-11e7-96c5-cad61608b69c.png)

![image](https://user-images.githubusercontent.com/7246942/35180247-9ac96d68-fd7a-11e7-87d1-652b52ae1bc8.png)

Also is there a particular style document I should follow?

[2018-01-20 14:17] pelsasser opened #259 "Add slack bot integration"
##### Description
It would be nice to be able to have a slack integration that would notify our team when bounties have been posted to one of our repositories.

# What

* An area in my settings where I can specify a slack API key (or key pair)
* an area in the settings where I can define what repos I want slack updates on
* An area in my settings where I can define what channel I want slack update

[2018-01-20 17:36] amites commented on #182
given a db snapshot to work from I'd be happy to knock out something -- can post some regex to scrape basic data out manually before sharing

thinking a django generated json fixture with a given # of entries for each major db table in place

[2018-01-20 18:37] nitinrgupta commented on #221
@owocki My portfolio is all scattered right now. I'm in the works of putting everything together on my personal website (www.nitinrgupta.com). Will DM you on slack something in the meantime 😛

[2018-01-20 18:42] nitinrgupta commented on #221
Oh. BTW, here's my first take on the bounty index page.
I'd suggest us to use the same design for `/explorer` page since it's more or less the same.

![bounty explorer](https://user-images.githubusercontent.com/4952395/35186753-4f0a599e-fe3f-11e7-9331-10bf1aded45a.png)

[2018-01-20 19:04] vs77bb commented on #221
@nitinrgupta Love the look here! Categories is a nice touch

[2018-01-20 19:46] thelostone-mc commented on #238
@owocki ^

[2018-01-20 20:48] olafghanizadeh commented on #198
I will try. Does anyone have any feedback other than what is already posted?

[2018-01-20 22:29] mkosowsk commented on #198
I'm a numbers guy so I think it would make sense to have numbers next to Most Upvoted and Most Comments. Something like

Most Upvoted (1.1K)

and

Most Comments (239)

Downside is that if people want to game the system you are giving them targets they need to hit to achieve that (which is why Reddit fuzzes their vote counts, they may have recently changed this tho?). Upside shows how active the co

[2018-01-20 22:30] mkosowsk commented on #221
Another big 👍 to categories, really reduces a lot of friction for people hopping in!

[2018-01-20 22:40] mkosowsk commented on #259
Interesting! Want to post some quick thoughts on this altho I won't have time to tackle the issue. And truth be told, this functionality may already exist! But I don't know if it does

Changes to bounties are posted to the notif-gitcoin channel on the Gitcoin slack

https://gitcoincommunity.slack.com/messages/C8DCUQU91/convo/C7A4F4UHK-1516388972.000266/

An example message:

<img width="851" alt="

[2018-01-20 22:53] pelsasser commented on #259
@mkosowsk - a way to get those same notifications into our team's slack is exactly what I am after.  Not urgent or needed ASAP, but I think a cool enhancement in general that would probably provide utility for a lot of teams.

[2018-01-20 22:56] mkosowsk commented on #259
Cool, that makes sense to me. Want to ping @owocki or @vs77bb, does this already exist?

If not, I may fund it myself with something like .05 ether come Tuesday... seems like some cool functionality 👍

[2018-01-21 05:50] nitinrgupta commented on #221
Yup!

[2018-01-21 06:19] nitinrgupta commented on #221
Here's the bounty details page.

![bounty explorer - detail](https://user-images.githubusercontent.com/4952395/35191458-13089746-fea1-11e7-9948-ee1bbf797c7f.png)

[2018-01-22 14:37] owocki commented on #221
these look very good..

i dont know how i feel about losing the leftmost navbar.  now the 'web3 enabled' module feels a little orphaned to me.   anyone have an idea of what to do with that?

also, im curious to see how this would scale down to tablet / mobile resolution.. i think we could probably hack it when coding it up..  but always good to plan ahead too.

[2018-01-22 14:56] owocki commented on #259
this does not exist already yet..

i think we need some way for github repo admins to be able to auth to github (to prove they own a repo) and save a SLACK API key (and preferred channel for their slack) in the system...

from there, we can have slackbot post each time there is an issue update

[2018-01-22 15:00] owocki opened #260 "game mechanics for project wheatgrass"
need to type this up...

[2018-01-22 15:03] owocki commented on #238
@cd10012 those creative assets are at https://github.com/gitcoinco/creative/tree/master/freelancers/tshirt

the closest thing we have right now is https://github.com/gitcoinco/creative/tree/master/AFJ/Gitcoin-Brand_Assets

[2018-01-22 15:05] owocki commented on #198
if you want more feedback, feel free to ask in slack and cc me.  i will follow on and amplify your message

[2018-01-22 15:42] owocki opened #261 "Coloradocoin receive page (due Feb 1)"
# What

We will be distributing 1200 of these

![32136966-d2ec7722-bbd4-11e7-9d3b-028e589157d2](https://user-images.githubusercontent.com/513929/35228759-bcbf10b4-ff4e-11e7-93f4-9cf6358a3538.jpg)

at ETHDenver.com next month.

On the back of them is a QR code which will lead to a link that'll allow them to redeem their physical coin for 1 COLO..  We are building the redemption page!

# Functional

[2018-01-22 16:49] mbeacom opened #262 "Static handling and cache invalidation"
##### Description
Gitcoin currently uses CDN invalidation for asset changes.
We might want to consider switching static handling over to use the S3 or Whitenoise static storage backends for serving static with the `ManifestFilesMixin` to automatically hash static files.

##### Possible Implementation

- Decide on static serving strategy (S3, Whitenoise, or something like nginx)
- Create a custom s

[2018-01-22 18:10] mkosowsk commented on #259
Great! Think it's worth adding funding to the issue now or should we wait for a bit more of the groundwork to be built up?

[2018-01-22 18:13] nitinrgupta commented on #221
@owocki The 'web3 enabled' is meant to be a sticky element lying on top of everything.

But I was thinking showing that won't be necessary since the index and details page will be redirecting to that specific bounty page lying outside `gitcoin` or to the `/explorer` details page and I feel it serves no purpose showing over here. Let me know if I'm wrong.

Also, I'm open to any other suggestions/id

[2018-01-22 19:54] owocki commented on #259
@mbeacom and i are working on getting github integration built in this month.. after that i think this would be worth bounty-ing

[2018-01-22 19:56] mkosowsk commented on #259
Cool, will keep my eyes peeled for that 👍

[2018-01-22 21:37] owocki commented on #247
i think we can close this now.. metamask seems to now include some copy about this when the tx is likely to fail http://bits.owocki.com/0y0P3e0U3R1h/Screen%20Shot%202018-01-22%20at%202.36.53%20PM.png

[2018-01-22 21:37] #247 closed

[2018-01-22 22:24] owocki commented on #257
2e3c1f1d88f7ea90aad8836ee555edf805aaba22

[2018-01-22 22:24] #257 closed

[2018-01-22 22:25] owocki commented on #246
@jasonrhaas are you doing this? if not, i may take a stab tonight

[2018-01-22 22:27] owocki commented on #256
i will test this now

[2018-01-22 22:55] #256 closed

[2018-01-22 23:07] jasonrhaas commented on #246
@owocki This is fixed.  Everything is going through the blockchain first, and then syncing to the database.

[2018-01-22 23:08] jasonrhaas commented on #253
This is fixed, pending the finalization of the IPFS schema.

https://github.com/ConsenSys/StandardBounties/issues/21

[2018-01-22 23:27] #246 closed

[2018-01-22 23:31] owocki commented on #252
shit, i just realized this isnt totally plausible because there is customer's money tied into the gitcoin smart contract (which i wont have access to migrate)..

we *could* maintain two different versions of the frontend and serve them from the same server.. but that gets hairy quick.. i also think we've changed the backend enough that it wouldnt really even be plausible.

i suppose one possible r

[2018-01-23 00:50] owocki commented on #253
just bumped @mbeylin on updating the docs.. not sure if that blocks this though

[2018-01-23 01:21] jasonrhaas commented on #253
I suppose it does block this issue.  Its working with the current format that is in there, should be trivial to change to using the new schema.

[2018-01-23 01:56] jasonrhaas commented on #252
The joys of maintaining software in production 👍.  That is a good point, the bounties that you didn't fund you won't be able to just close out and move to the new contract.  It seems we have to support the legacy contracts until they are complete or expired.

So the plan then moves to having all _new_ issues go through the new system, and leave the legacy system up until those bounties are done.

[2018-01-23 03:05] jasonrhaas opened #263 "standardbounties: Check web3 vs. database to see if bounty exists"
Currently, if a user tries to Kill/Fulfill/Accept an issue that does not exist, the code queries the API to see if that issue URL exists.  If it doesn't, it will pop up a red error banner to the user.

While this works, it might be more thourough to also check the blockchain if the bounty exists.   In theory, the database should always be syncing with web3 on any changes, so this shouldn't be an i

[2018-01-23 04:49] thelostone-mc commented on #252
My thoughts :
reading through -> @jasonrhaas idea seems to be the simplest way to go.
( given there are ~50 bounties in open / claimed state )
Very minimal chance things going wrong with the bounties which are still open!

[2018-01-23 05:02] thelostone-mc commented on #221
@nitinrgupta @owocki
This was one of the earlier [designs](https://github.com/gitcoinco/web/issues/133#issuecomment-352750331) by @algae12 .
See if this helps

[2018-01-23 14:30] owocki opened #264 "StandardBounties: The ability to ingest Bounties.Network Bounties"
Write a mgmt command that can ingest bounties.network bounties.

[2018-01-23 14:36] owocki commented on #252
I'm onboard with most of the ideas above, but for this one:

We will have a flag in the DB that tells us which bounties are legacy gitcoin bounties and which are stdbounties.  We could just automatically direct the user to the correct system.

[2018-01-23 14:54] owocki opened #265 "standardbounties: support new IPFS schema"
https://github.com/ConsenSys/StandardBounties/issues/21

[2018-01-23 16:25] jasonrhaas commented on #252
But that means that both sites would be sharing a common database right?  Or are you thinking that we migrate the existing database to the new one (including legacy data), and support that in the new version (in terms of issue explorer).  But when the user clicks that issue, it redirects to the legacy site when the user views the Bounty Details? -- Along with all of the old action buttons tied to

[2018-01-23 16:38] vs77bb commented on #261
Hi @eswarasai, mind providing an update here? Apologies if I'm out of the loop 🙂  cc @owocki

[2018-01-23 16:41] vs77bb commented on #233
Hi @KamesCG mind providing an update here?

[2018-01-23 17:11] mbeacom opened #266 "gh int: Add github logout method"
##### Description
We need to provide a mechanism for users to revoke their github token and logout.

##### Possible Implementation
Add related logic, view, url entry, and update templates accordingly.

[2018-01-23 17:12] #266 closed

[2018-01-23 17:16] KamesCG commented on #233
Yes, I'm actually wrapping up other projects and starting on this today :)

I know the deadline nears!

[2018-01-23 17:53] gasolin opened #267 "create the tip badge tool for user to embed the tip badge into their project"
As a User I want to embed a badge into my project so user could donate me some cryptocurrency via click the badge.

##### Description

Create a page to help user embed tip badge into their github project.

##### Possible Implementation

The possible outputs are

[![](https://img.shields.io/badge/⚡️-Tip_Me-brightgreen.svg)](https://gitcoin.co/tip?username=gasolin)

[![](https://img.shields.io/badge

[2018-01-23 19:00] eswarasai commented on #261
@owocki @vs77bb -- I haven't started development on this yet. Still planning around the code changes to be done. I think Kevin had nicely mentioned all the Frontend & Backend tasks breakdown for this. So I'd say we already have a plan in place.

And also @thelostone-mc might work alongside with me to get this done at the earliest possible.
Aditya, please do add if I'm missing anything here or any

[2018-01-23 19:46] owocki opened #268 "standardbounties: automatically cross-process bounties posted to bounties.network to gitcoin"
acceptance criteria:  automatically cross-process bounties posted to bounties.network to gitcoin

[2018-01-23 19:57] owocki commented on #267
@coderberry what do you think of this?

[2018-01-23 21:52] vs77bb commented on #233
@KamesCG Appreciate the update 🙂

[2018-01-23 21:53] vs77bb commented on #261
@eswarasai Sounds good! Thanks for the update 👍

[2018-01-23 22:27] owocki commented on #252
This is what I was thinking..

I donno if the two sites need to share a database... I think its gonna be a lot of work having 3 different frontends, backends, and DB's all being interoperable.. Maybe worth a call to discuss?

[2018-01-23 22:44] owocki commented on #35
ive been thinking a lot about how we transition web2 users to web3. we get the questions “what is web3? what is ethereum and why do i need it?” a lot.

as a means of explaining some of these concepts in a way that doens’nt feel/read like documentation, :gitcoin: commissioned a short video to cover this subject.

here is a *rough draft* of the video. what does everyone think?
https://youtu.be/HJPmm

[2018-01-23 23:34] jasonrhaas commented on #265
This has been implemented.

[2018-01-24 00:07] #265 closed

[2018-01-24 00:55] gasolin commented on #267
It might work like https://docs.travis-ci.com/user/status-images/

For MVP we can putting a single badge, like:

# Get cryptocurrency donation by 2 steps!

You can easily get a variety of cryptocurrencies donation in you open source project by embedding a Gitcoin Tip badge into your project.

## Steps

  1. Enter your github user name here to generate the badge
[Input filed] (with variable `userna

[2018-01-24 15:02] owocki commented on #206
just put in a root cause fix.. https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/206

[2018-01-24 15:18] jasonrhaas commented on #252
@owocki @mbeacom we can brainstorm on this today and do a call.  Will set it up in Slack.

[2018-01-24 15:18] owocki commented on #267
this is a really good idea.. i think we just need to build the `username` (and maybe `amount`) fields into the /tip flow

[2018-01-24 15:19] owocki commented on #267
and then figure out how to market it

[2018-01-24 16:14] owocki commented on #252
per my call with @mbeacom @jasonrhaas

migration plan:

1. move (copy) all the old gitcoin smart contract reference functionality to a namespaced legacy portion of the codebase. (includes html, js, python code)
2. test the hell out of both smart contract interfaces end to end.
3. (in a month or so) we will delete all the old legacy functionality

[2018-01-24 20:03] owocki opened #270 "This is a test issue for purposes of a demo during Rocky Mountain Blockchain"
# What

https://www.meetup.com/rmbchain/events/246499999/

# Bounty

Bounty Acceptance Criteria:
* Be from Colorado
* Claim the issue on Gitcoin.co

# Tip
Be the first person to comment on this thread and Ill send you a tip

[2018-01-24 21:39] mkosowsk commented on #270
안녕하세요!

[2018-01-25 01:06] thelostone-mc opened #273 "css : Media queries to fix up the landing page"
##### Description

- Media-Queries needed to prettify the landing page  (the photo is says it all )

<img width="1440" alt="screen shot 2018-01-24 at 5 03 36 pm" src="https://user-images.githubusercontent.com/5358146/35365292-a79b118e-0128-11e8-95b5-4bda8d5d9c47.png">

##### Environment

* **Browser**: Chrome
* **Version**: NA
* **Subsystem**: NA

[2018-01-25 03:18] Zerofoxx commented on #270
I'm here at DU. Awesome talk!

[2018-01-25 03:55] vs77bb commented on #270
Be from Colorado 🙄

[2018-01-25 04:58] tommycox commented on #270
Thanks @owocki for the super informative presentation on Gitcoin tonight. As a fellow open source developer and evangelist, I'm looking forward to utilizing Gitcoin to shift more of my paid work to open source projects.

[2018-01-25 08:38] thelostone-mc commented on #263
@jasonrhaas

went through `kill_bounty.js`
I'm guessing the code would sort of look like this as everything else is available
[code]
A lil confused here though, under what scenario would the bounty not exist on the blockhain but on our backend API ? (or is it just a safety precaution )

[2018-01-25 09:51] MarcioPorto commented on #273
@thelostone-mc I can tackle this if you're not working on it.

[2018-01-25 15:52] owocki commented on #270
@Zerofoxx i couldnt find your email to send you the private key.  DM me on the gitcoin slack?  or email me at kevin@gitcoin.co

[2018-01-25 17:16] owocki commented on #184
per @usulix message on slack.. he is super busy at work and needs some help getting this across the finish line..  i need to confirm with him, but i think yall should split the ETH.  anyone want?  @ethikz @thelostone-mc ?

[2018-01-25 17:37] owocki opened #275 "flow to reject a claim and payout to someone else is kind of cumbersome"
see this comment and the one above it https://github.com/ethereum/eth-abi/issues/14#issuecomment-360541620

[2018-01-25 21:07] thelostone-mc commented on #273
@MarcioPorto Sure go ahead!! ^_^

[2018-01-25 23:11] owocki commented on #221
https://twitter.com/coderberry/status/956635581731057664

[2018-01-25 23:50] benjamincburns opened #276 "When attempting to sign up for gitcoin slack I get a CSRF Failure"
##### Description
Per the title, when I go to https://gitcoin.co/slack and enter my email address to sign up, I'm met with an error page telling me that there's been a CSRF failure.

It does seem that the invite goes through, however.

[2018-01-25 23:54] ethikz commented on #184
I've added his repo as a remote and cloned it.  Just trying to catch up on what's going.  If @thelostone-mc gets to it before me then awesome, if not I'll let you know once I go through everything.

[2018-01-26 00:13] owocki commented on #276
thanks for the bug report.. looking into this now

[2018-01-26 00:35] owocki commented on #276
Weird, I get an 'already_invited' error for whatever input I give.. http://bits.owocki.com/3s3f282X3u0Q/Screen%20Shot%202018-01-25%20at%205.35.10%20PM.png

I think maybe something changed with cloudfront that is causing this issue.

[2018-01-26 01:18] usulix commented on #184
@ethikz thanks. and any questions, I can probably field a couple. as far as I recall... it is basically just in need of
1. change out the page markup for the ones provided on the other ticket https://github.com/gitcoinco/web/issues/173#issuecomment-354969169
2. run the github user check through github login instead (and maybe create a user profile in gitcoin)
3. tack on an email to the requester w

[2018-01-26 01:30] benjamincburns commented on #276
Yeah, that error was what I saw just before the email popped up, but that was the third try with the same email, so I figured maybe one of the attempts went through

[2018-01-26 01:32] thelostone-mc commented on #184
@ethikz this one is yours!
I'm helping out with the redeem/coin page and catching up on reading up solidity + crypto-economics!
Ping me if you hit a roadblock, I'll help out. I can put some time aside to help out  ^_^

[2018-01-26 01:39] D3RPZ1LLA commented on #38
Is this issue still outstanding?

[2018-01-26 01:40] thelostone-mc commented on #184
@ethikz this one is yours!
I'm helping out with the redeem/coin page and catching up on reading up solidity + crypto-economics!
Ping me if you hit a roadblock, I'll help out. I can put some time aside to help out  ^_^

[2018-01-26 01:50] ethikz commented on #184
@usulix awesome!  thanks for letting me know and saving me some more reading time lol.  Hopefully, I won't have too many if any questions but I'll be sure to reach out if I do!

@thelostone-mc haha ok.  I'll spend some time on it this weekend but will be traveling to multiple destinations for a bit so won't be able to really work on anything then.

[2018-01-26 02:48] ethikz commented on #184
@usulix so the page `/faucet` needs to match the mockups at https://github.com/gitcoinco/web/issues/173#issuecomment-354969169

Am I understanding that correctly?

[2018-01-26 05:46] abitrolly commented on #214
What information does Metamask store/provide for current website? Is it only ETH address?

[2018-01-26 10:16] step21 commented on #201
I took a look/almost finished it... I think. But when replacing this in the js files and extracting orga/user, repo and issue number  - right now I just followed/copied the existing patterns so there is one api url/github request for each. Or is this info already saved somewhere that I missed?

[2018-01-26 13:11] step21 commented on #201
New branch here https://github.com/step21/web/tree/url-change

[2018-01-26 15:42] owocki commented on #201
not that im aware of.. but you could parse it in the python view and then pass it down in the template (as opposed to having to re-parse it in the JS file)

[2018-01-26 15:49] owocki commented on #198
@olafghanizadeh can you let us know if you are still serious about turning this around please?

[2018-01-26 15:50] owocki commented on #222
@pixelantdesign this might be a good first issue to start on

[2018-01-26 17:39] owocki opened #278 "The first LIVE StandardBounties Bounty on Gitcoin"
If you're seeing this, it means that Gitcoin <> Bounties.network are integrated!

# To fulfill this bounty

Affirm your excitement that Gitcoin and standard bounties are now integrated with a gif.

Best gif gets paid out!

[2018-01-26 18:08] bradford-hamilton commented on #278
![giphy](https://user-images.githubusercontent.com/15638147/35453951-397ea7bc-0289-11e8-9ac3-157403445793.gif)

[2018-01-26 19:01] D3RPZ1LLA commented on #278
![shiny_money](https://user-images.githubusercontent.com/2433292/35455810-28a3b7ee-0288-11e8-9cef-15bfe43eb485.gif)

[2018-01-26 19:08] D3RPZ1LLA commented on #151
@owocki Looks like something has been merged.
Is this issue resolved? Please clarify

[2018-01-26 19:17] Alexintosh commented on #278
**The first time I saw the GitCoin website.**
![](https://media.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif)

[2018-01-26 19:23] owocki opened #279 "standardbounties cleanup: why aren't 500 error emails to ADMINs working"
not seeing rollbar emails for this.

[2018-01-26 19:23] owocki opened #280 "why are all the 404s 500ing"
gitcoin.co/sdfdsdsf

[2018-01-26 19:26] owocki opened #281 "stanardbounties cleanup: tune rate limiter"
Nginx make rate limiter a little less stringent now that our cache hit rate has decreased

[2018-01-26 19:27] jasonrhaas commented on #278
https://giphy.com/gifs/samuel-l-jackson-jurassic-park-hold-onto-your-butts-OCu7zWojqFA1W

[2018-01-26 19:28] owocki opened #282 "standardbounties cleanup: Github claim work comment/interest comment updating seems to fail"
Github claim work comment/interest comment updating seems to fail

[2018-01-26 19:30] perfectmak commented on #278
![giphy](https://user-images.githubusercontent.com/3120013/35457022-b10f9c98-02d7-11e8-9f76-bf92c90aaf6f.gif)

[2018-01-26 19:36] owocki commented on #268
@mbeacom @jasonrhaas either of you want to take this on next?  i feel like it's an important piece of scope that we missed in v1

[2018-01-26 19:46] owocki commented on #151
yes it has.. thanks for the bump

[2018-01-26 19:46] #151 closed

[2018-01-26 19:47] cryptomental commented on #278
![](https://media.giphy.com/media/dchERAZ73GvOE/giphy.gif)

[2018-01-26 19:53] polyzen commented on #278
![Russian hacker](https://i.imgur.com/NHMNi9I.gif)

[2018-01-26 20:03] mbeylin commented on #268
The low hanging fruit implementation of this would be allowing the Gitcoin app to support fulfillments which are submitted on the Bounties Network, and allow bounty creators to accept them. This means that non-code bounties can have deliverables which aren't given on a github repo, but through other formats (files, links).

[2018-01-26 20:29] jasonrhaas commented on #268
The question I have is:  Do we want all the bounties posted on bounties.network to show up in Gitcoin?  Or should there be some kind of Gitcoin Tag on the bounties.network post that shows it as a Gitcoin task?  We can use the `meta.schema` field that we set up in IPFS for that.

[2018-01-26 20:38] jasonrhaas commented on #253
I think this one can be closed.

[2018-01-26 20:46] usulix commented on #184
Yes, there are comps at https://github.com/gitcoinco/web/files/1599926/Gitcoin_Faucet.2.zip attached to that ticket

[2018-01-26 20:53] mbeacom opened #283 "Test issue from Rollbar"
Test

[2018-01-26 20:53] #283 closed

[2018-01-26 20:54] owocki opened #284 "standardbounties cleanup: state issues"
Potential bug in the current deployed code.  Has to do with the legacy issues.  The issues that are currently in the “fulfilled” state, should really be in the “accepted” state.  And the issues that are currently in the “claimed” state, should be in the “fulfilled” state. (edited)
Also, currently there is no way to filter on “claimed” because that is not a valid state in the new version.

thanks @

[2018-01-26 20:57] #253 closed

[2018-01-26 20:58] owocki commented on #268
maybe initially we just filter through and process ones that adhere to the gitcoin schema...

it it could be built such that it was extensible to other schemas.. thatd be 🌮

[2018-01-26 21:00] jasonrhaas commented on #284
I think this can be fixed by simply updating the `def status()` function in the models.py

[2018-01-26 21:01] jasonrhaas commented on #284
Although might need a database update also to get it to update the `idx_status` column.

[2018-01-26 21:02] mbeylin commented on #268
To add, when bounties are created on BN we let users select one of several categories, and the 2 related to gitcoin are `code` and `bugs`. These are also the only bounties on BN which will ask users to input a github url (stored as adheres to the schema). My advice would be to support bounties which include either the `code` or `bugs` keyword, with a github URL which matches Gitcoin's platform (i.

[2018-01-26 21:10] owocki commented on #35
this is a ncie little example of an education tool done well https://www.upfolio.com/ultimate-ethereum-guide

[2018-01-26 21:11] jasonrhaas commented on #268
So when a new bounty is created on BN, what will the meta data be?  Will the `platform` still be `bountiesNetwork` or will it be Gitcoin?  In other words, when Gitcoin is looking for bounties, should it look for the keywords as you say?  Or just the `meta.platform`?  If we do the latter than it is on BN to determine that issue applies to Gitcoin.

[code]

In terms of implementation, I suppose we w

[2018-01-26 21:20] mbeylin commented on #268
currently when bounties are created, the meta is:
[code]
Otherwise your described plan of attack seems very on-point to me.

[2018-01-26 21:23] alexdovzhanyn commented on #278
https://imgur.com/gallery/iVHfwLc

[2018-01-26 21:23] alexdovzhanyn commented on #278
![ivhfwlc](https://user-images.githubusercontent.com/9296866/35461295-4805449a-02b5-11e8-9433-42561858f013.gif)

[2018-01-26 21:27] ethikz commented on #184
The comps are different than the pages so I wanted to make sure before I started making all the UI changes lol.

Thanks!

[2018-01-26 21:43] jasonrhaas commented on #268
I'm envisioning this being a small python service, that "scrapes" web3 for new transactions, and grabs data from IPFS.  If it applies to Gitcoin, it would call the `sync_web3` endpoint to create the new issue.

Viable approaches might be:
- Micro service running python (python web3 and ipfs)
- Add method to `helpers.py` directly that does this (all in python), and run a cron job that checks web3 o

[2018-01-26 21:44] owocki commented on #128
this is unblocked now that standardbounties is out the door!

[2018-01-26 21:45] owocki commented on #268
we could maybe be combined with https://github.com/gitcoinco/web/issues/128  -- two birds, one stone!

[2018-01-26 21:46] owocki commented on #268
i could see this as a management command too.. there's already the bones of this in the `sync_geth.py` management command

[2018-01-26 21:46] thelostone-mc commented on #263
^ @mbeacom / @owocki on the off chance @jasonrhaas is held up

[2018-01-26 21:48] owocki commented on #284
this.. plus a grep of the entire codebase to see where the status' we are going to deprecate are referenced too

[2018-01-26 22:01] jasonrhaas commented on #263
@thelostone-mc The database should always be sync'ed up with the blockchain.  It might be possible for it to get out of sync if the contract was altered somewhere outside of gitcoin.  Also, when #128 is implemented I think that should also help to make sure the DB and the blockchain are always in sync.

[2018-01-26 22:23] mbeacom opened #286 "Uncaught TypeError: Cannot read property 'accounts' of undefined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/43/](https://rollbar.com/mbeacom/gitcoin/items/43/)

[code]

[2018-01-26 22:23] mbeacom opened #287 "Uncaught TypeError: Cannot read property 'coinbase' of undefined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/42/](https://rollbar.com/mbeacom/gitcoin/items/42/)

[code]

[2018-01-26 22:52] scboffspring commented on #278
![](https://www.zupimages.net/up/17/04/41ro.gif)

[2018-01-26 22:53] owocki opened #288 "Organizational Identity"
Per @razordaze idea on the livestream ... we should build in some sort of organization identity into the platform.

i.e. the ability to manage/ share work and manage issues with others in your github organization. (as well as manage your organization-wide gitcoin profiel)

[2018-01-26 23:21] D3RPZ1LLA commented on #230
My 2 cents:
Award 'medals' / 'schwag' based on meeting a threshold of contributions measured by ETH earned or something. This will motivate contributors to meet that threshold of contributions instead of just outdoing others. You can scale or tier threshold rewards too if you want.

[2018-01-26 23:45] owocki commented on #263
If a user closes their browser window on the pending confirmation page, it will get out of sync.  This is an especially pervasive issue in times of network slowness.

[2018-01-26 23:46] owocki commented on #268
yep... or i think web3py also has a persistent listening command we could just have as a persistent background job.

[2018-01-26 23:50] owocki commented on #115
i got another report of this tonight from the round up email we sent today

[2018-01-27 00:06] lzjluzijie commented on #278
![70_avatar_big](https://user-images.githubusercontent.com/7992620/35465720-cc5c0852-0349-11e8-8a64-896af6465f60.jpg)

[2018-01-27 03:34] step21 commented on #128
I will check if I can commit sth today

[2018-01-27 10:06] step21 commented on #128
So... should this be combined with those two referenced issues or can it be split up somehow?

[2018-01-27 10:14] mbeacom opened #289 "Uncaught ReferenceError: nextSlide is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/69/](https://rollbar.com/mbeacom/gitcoin/items/69/)

[code]

[2018-01-27 10:14] mbeacom opened #290 "Uncaught ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/27/](https://rollbar.com/mbeacom/gitcoin/items/27/)

[code]

[2018-01-27 10:14] mbeacom opened #291 "Uncaught ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/24/](https://rollbar.com/mbeacom/gitcoin/items/24/)

[code]

[2018-01-27 10:23] mbeacom opened #292 "Uncaught ReferenceError: nextSlide is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/69/](https://rollbar.com/mbeacom/gitcoin/items/69/)

[code]

[2018-01-27 10:25] mbeacom opened #293 "ReferenceError: Can't find variable: nextSlide"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/17/](https://rollbar.com/mbeacom/gitcoin/items/17/)

[code]

[2018-01-27 12:21] mbeacom opened #294 "Uncaught ReferenceError: nextSlide is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/69/](https://rollbar.com/mbeacom/gitcoin/items/69/)

[code]

[2018-01-27 14:12] XzenTorXz commented on #278
![](https://i.imgur.com/bw03iri.gif)

[2018-01-27 14:55] mbeacom opened #295 "ReferenceError: Can't find variable: nextSlide"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/17/](https://rollbar.com/mbeacom/gitcoin/items/17/)

[code]

[2018-01-27 15:53] TimVanMourik commented on #278
![bountiesbffs](https://user-images.githubusercontent.com/6152205/35473561-8758e480-0382-11e8-8e39-22aab0a42c4f.gif)

[2018-01-27 17:41] mbeacom opened #296 "ReferenceError: Can't find variable: web3"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/37/](https://rollbar.com/mbeacom/gitcoin/items/37/)

[code]

[2018-01-27 17:50] mbeacom opened #297 "(unknown): Script error."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/31/](https://rollbar.com/mbeacom/gitcoin/items/31/)

[code]

[2018-01-27 18:45] mbeacom opened #298 "ReferenceError: Can't find variable: web3"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/40/](https://rollbar.com/mbeacom/gitcoin/items/40/)

[code]

[2018-01-27 20:03] mbeacom opened #299 "ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/34/](https://rollbar.com/mbeacom/gitcoin/items/34/)

[code]

[2018-01-27 21:55] Elaniobro commented on #278
![](https://media.giphy.com/media/nXxOjZrbnbRxS/giphy.gif)

[2018-01-27 22:46] mbeacom opened #300 "(unknown): Syntax error"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/19/](https://rollbar.com/mbeacom/gitcoin/items/19/)

[code]

[2018-01-28 06:20] puradox commented on #278
![very impressed](https://media.giphy.com/media/xeXEpUVvAxCV2/giphy.gif)

[2018-01-28 07:07] mbeacom opened #302 "Uncaught SyntaxError: Unexpected token *"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/70/](https://rollbar.com/mbeacom/gitcoin/items/70/)

[code]

[2018-01-28 12:22] mbeacom opened #303 "Uncaught ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/35/](https://rollbar.com/mbeacom/gitcoin/items/35/)

[code]

[2018-01-28 12:56] KamesCG commented on #278
Damn... I was going to try and come up with something funny, but I think @TimVanMourik pretty much stole the show.

[2018-01-28 14:14] mbeacom opened #304 "Uncaught ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/27/](https://rollbar.com/mbeacom/gitcoin/items/27/)

[code]

[2018-01-28 17:21] mbeacom opened #305 "Uncaught ReferenceError: nextSlide is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/69/](https://rollbar.com/mbeacom/gitcoin/items/69/)

[code]

[2018-01-28 17:51] tosho commented on #278
http://i.memeful.com/media/post/kRp6O2w_700wa_0.gif

[2018-01-28 18:25] juansolana commented on #278
`<iframe src="https://giphy.com/embed/9QeSVgwB6i5Ik" width="480" height="335" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/9QeSVgwB6i5Ik">via GIPHY</a></p>`

[2018-01-29 01:58] thelostone-mc commented on #302
[L139](https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/pages/dashboard.js#L131) is ` worth_eth = (worth_eth / 10 ** 18).toFixed(2);`
I don't see an unexpected token here O.o

[2018-01-29 09:57] TimVanMourik commented on #278
Uhm, I understand the bounty's fullfilled by @juansolana at the time he hadn't posted anything. So I gotta wonder if the gif straight after is the winner 🥇 , or that there's a human or technical error at play. Or better, that we're still gonna get a really funny joke :)
@owocki?

[2018-01-29 10:08] Alexintosh commented on #278
The Github username is not shown on [Gitcoin issue page](https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/278).

[2018-01-29 10:31] TimVanMourik commented on #278
True. But the fullfiler's email address is pretty much identical to the user name mentioned above.

[2018-01-29 11:45] Alexintosh commented on #278
Sure, but I'd consider that a bug in the Gitcoin issue page.

[2018-01-29 13:45] viktorlarsson commented on #278
![giphy](https://user-images.githubusercontent.com/722315/35513369-11e0a31e-0503-11e8-95f3-0a8112fea544.gif)

[2018-01-29 14:23] mbeacom opened #306 "Error: Syntax error, unrecognized expression: select[name=deonomination"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/46/](https://rollbar.com/mbeacom/gitcoin/items/46/)

[code]

[2018-01-29 14:52] owocki commented on #278
fulfiller didn't submit a github username ¯\_(ツ)_/¯

[2018-01-29 14:54] mbeacom opened #307 "Error: Web3ProviderEngine does not support synchronous requests."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/104/](https://rollbar.com/mbeacom/gitcoin/items/104/)

[code]

[2018-01-29 15:08] owocki commented on #198
Talked to Olaf on slack.  Sounds like work has piled up for him and he's gonna let this go (for now).

[2018-01-29 15:36] owocki opened #308 "standardbounties cleanup: multiple fulfillments"
https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/278

some rando submitted a fulfillment for this bounty — in the legacy gitcoin version of the world, iu'd just 'reject' the fulfillemnt, but that doesnt seem to be an available function for standardbounties

on standardbounties, fulfillments is n:1 with bounties.. so we we'll need to build this capability into the UI.

[2018-01-29 15:53] owocki opened #309 "Error on DB restore"
Using the restore database script:

[code]

[2018-01-29 15:54] owocki commented on #309
if i just remove this line (the one with `asp2insp` in it)... it works

[2018-01-29 15:55] mbeacom commented on #309
@owocki Is this while running `restore_backup.bash` ?

[2018-01-29 15:55] owocki commented on #309
off of the AWS backups

[2018-01-29 16:06] mbeacom commented on #309
Eh. We're running 10.1 in the docker stack 😁 - We should try to get everything on the same version for parity.

The above issue shouldn't have to do with the version difference, though.  We could implement a function on PSQL and call it to validate the json, if not, `to_json` it or default to null or something?

[2018-01-29 16:10] owocki commented on #309
tried deleting that row.. now getting an error:

[code]

[2018-01-29 16:11] owocki commented on #309
i suspect that the JSON data in the DB dump is just too long and that is somehow choking the restore script...

[2018-01-29 16:14] owocki commented on #309
ah you know what.. i think this is the issue:

from the output logs:

[code]

We need monitoring on these servers to warn of things like this!

[2018-01-29 16:20] owocki opened #310 "monitoring for when server runs out of disk space"
see https://github.com/gitcoinco/web/issues/309#issuecomment-361297106

[2018-01-29 16:20] owocki commented on #309
1c8e47b3006e115c70eafad031f396c3c15f0e54 is a workaround here

see also https://github.com/gitcoinco/web/issues/310

[2018-01-29 16:20] #309 closed

[2018-01-29 16:24] #304 closed

[2018-01-29 16:26] mbeacom commented on #282
Resolved.

Example:
<img width="782" alt="screenshot 2018-01-29 11 25 24" src="https://user-images.githubusercontent.com/7315957/35521219-2f6b8910-04e7-11e8-9a7f-b11b992913c7.png">
https://github.com/btcsuite/btcd/issues/1089

[2018-01-29 16:26] #282 closed

[2018-01-29 16:26] #299 closed

[2018-01-29 16:26] #298 closed

[2018-01-29 16:27] #296 closed

[2018-01-29 16:30] owocki opened #311 "TxRelay idea"
Have you seen the the "TxRelay" smart contract docs by uPort? It's a way to provide unfunded wallets with the ability to sign transactions and send them to a smart contract using a "RelayEntity" to add gas to the transaction in transit - great concept for allowing people to interact with GitCoin smart contract, who don't have ether yet.

https://github.com/uport-project/uport-identity/blob/develop

[2018-01-29 16:31] owocki commented on #305
i tried putting in a fix for this

            };

i wonder what i did wrong

[2018-01-29 16:32] mbeacom commented on #311
💯 This would be handy!

[2018-01-29 16:36] owocki commented on #300
im not quite clear on where the error is occuring.... line 33 in the file is not an anonymous function

[2018-01-29 16:36] owocki commented on #297
closing this because i dont know what to do with it....

[2018-01-29 17:04] #231 closed

[2018-01-29 17:23] mbeacom opened #312 "Profile should make use of the django user framework"
##### Description
Currently, we're using `Profile` for all things user-specific.  We should conform to Django standard user auth by making use of the `User` framework.

##### Possible Implementation
We should consider one of the following:
- OneToOne from `Profile` to `User`
- Making `Profile` extend `User`/`AbstractUser` or add a relation to it.

[2018-01-29 18:14] #280 closed

[2018-01-29 18:17] #249 closed

[2018-01-29 18:17] #252 closed

[2018-01-29 18:17] owocki commented on #312
could maybe be folded into https://github.com/gitcoinco/web/issues/234 also

[2018-01-29 18:30] owocki commented on #308
update: @jasonrhaas gonna start on this tonight with with the goal of 1: supporting multiple fulfillments, 2: not using the fulfilled state, so that even if fulfilled people can submit to it

[2018-01-29 18:41] owocki commented on #278
Congrats @TimVanMourik !

btw what tool did you use to make that gif?

[2018-01-29 18:42] #278 closed

[2018-01-29 18:45] mbeacom commented on #305
This issue seems to only occur for Chrome 55 running on Windows.

[2018-01-29 19:00] owocki opened #313 "make django sessions (and github login) last for 24 hours"
# what

make the session and the github login associate with it... last for more than 24 hours

[2018-01-29 19:01] owocki commented on #305
yes and in a very narrow set of IPs... googling some of them... it looks like the top two or three are coming from nigeria...

i wonder if theres a cloudfront CDN cache invalidation issue for that part of the world..

[2018-01-29 20:23] owocki opened #315 "standardbounties: integrate more of the standardbounties functionality"
per https://github.com/ConsenSys/StandardBounties/

# When in draft

as issuer:

* changeBountyDeadline() [ONLY ISSUER]
* changeBountyData() [ONLY ISSUER]
* changeBountyFulfillmentAmount() [ONLY ISSUER]
* changeBountyArbiter() [ONLY ISSUER]
* extendDeadline() [ONLY ISSUER]
* transferIssuer() [ONLY ISSUER]
* increasePayout() [ONLY ISSUER]

as anyone:
* contribute() [ANYONE]

# When in active status

[2018-01-29 20:40] TimVanMourik commented on #278
Good ol' frame by frame Photoshop animation. I can send you the file if you like!

BTW, I did not receive a Gitcoin tip email, sorry... Could you please resend it? I just relaxed my GitHub email preferences, so it's shouldn't happen again.

[2018-01-29 20:43] mbeacom commented on #276
Resolved in #314

[2018-01-29 20:43] #276 closed

[2018-01-29 21:26] owocki commented on #315
note: some of these (fulfillBounty) have already been implemented

[2018-01-29 21:41] KamesCG commented on #311
It's quite clever, even though it relies on a "central" authority to "transport" the transactions.

Any receiving smart contract is required to rewrite smart contract function parameters to include a "sender" parameter. You also have to designate the contract to only receive communication via the "relay" entity via a modifier, which is not ideal, but.... it is what it is.

But as far as I can tell

[2018-01-29 21:53] owocki opened #316 "new bounty status'"
# What

Updates the states of the gitcoin system  to reflect the states that @vs77bb put togethter:

https://docs.google.com/document/d/1TDrTtfBwetGqL5-41u5a_4-1ttz6r0wA5qa0NZhDOuA/edit

Basically this boils down to
* Changes `dead` to `cancelled`
* Changes `claimed` => `fulfilled`.
* Introduces a new 'claimed' state that matches the UI and the off-chain claim work button

[2018-01-29 22:02] owocki commented on #316
notes from the pow wow we just had:

[code]

[2018-01-29 22:29] danfinlay opened #317 "Issue summaries lose formatting like new lines"
For example, check out this wall of text:
https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/3127&slack=1

Also, the markdown links aren't respected. I'd recommend some markdown renderer for that.

[2018-01-29 23:09] mbeacom opened #318 "Uncaught TypeError: Cannot read property 'accounts' of undefined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/43/](https://rollbar.com/mbeacom/gitcoin/items/43/)

[code]

[2018-01-29 23:26] owocki commented on #316
made these changes

[code]

and then regression tested both flows.. both worked

gonna move these ones into a v2 pr
[code]

[2018-01-29 23:49] owocki opened #320 "addd logo to metamask contract metadata repo"
from dan finlay of metamask team:

add your logo & contract info to this repo, we’ll be able to show your logo in the metamask tx history & confirmation screen: https://github.com/MetaMask/eth-contract-metadata

[2018-01-29 23:49] owocki commented on #320
@thelostone-mc, want this?

[2018-01-30 01:28] owocki commented on #278
just resent...

cc @mbeacom -- well need to figure out why the tip emails are not going out at a higher rate after the github merge that we did

[2018-01-30 01:32] owocki opened #321 "tip emails not going out"
example tip that didnt go out: https://github.com/gitcoinco/web/issues/278#issuecomment-361445997

upon further inspection, it looks like the `send_tip_2` view is pulling the SENDER's access key, and primary email, and sending the tips to that => https://github.com/gitcoinco/web/blob/master/app/dashboard/views.py#L255-L268  shouldnt it be pulling the receipient's email instead?

TODOs
1. shouldn't

[2018-01-30 01:32] owocki commented on #321
cc @mbeacom

[2018-01-30 01:53] owocki opened #322 "in activity_report management command, add a `from_address` and `to_address` field"
# what

in activity_report management command, add a `from_address` and `to_address` field.  both should be ETH addresses

[2018-01-30 04:40] vs77bb commented on #208
@owocki should this one be closed out?

[2018-01-30 06:25] thelostone-mc commented on #322
would these be two new commands or a single command ? or would it be updating an existing command to include these two fields ?

[2018-01-30 09:40] TimVanMourik commented on #321
This may not be relevant, but I have to mention that I changed my Github email preferences from very restrictive at the time of tipping to very mild at the time of resending the tip.

[2018-01-30 10:04] mbeacom opened #324 "(unknown): uncaught exception: not supported"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/31/](https://rollbar.com/mbeacom/gitcoin/items/31/)

[code]

[2018-01-30 14:20] mbeacom commented on #278
@owocki Adjusting this now.

[2018-01-30 15:34] owocki commented on #322
very likely the latter; also: i dont think we store that data anywhere.. we'd have to either (1) start storing it during the tip creation/redemption flows, or (2) go out to `web3py` using the `txids` to get the to/from adderesses later.

[2018-01-30 16:41] razordaze commented on #317
@owocki I'd like to take a crack at this. I noticed a similar issue with [another bounty](https://gitcoin.co/legacy/funding/details?url=https://github.com/facebook/react/issues/9999).

[2018-01-30 16:44] #321 closed

[2018-01-30 20:22] owocki opened #329 "re-think the server architectecture"
# problem

right now, were just running gitcoin on one server.. we may want to break it out into multiple servers in order to manage the scale a little more

#  my ideas

* we may want to specout an architecture plan that breaks out the db server and the app / api servers
* and also thinks a little more granularly about the sizing of servers
* monitoring infrastructure

# @mbeacom ideas

* We can

[2018-01-30 21:20] owocki commented on #317
go4it! :)

[2018-01-30 21:32] mbeacom commented on #329
## Initial thoughts

- Move PSQL to RDS
  - Schedule automatic DB backups in RDS
- Add IAM role for ecs instances to remove need for AWS key/secret in code or agent configs
- Add cloudwatch log streams to be used by the new instances
- Spin up an ECS cluster running at least 1-2 ec2 instances
  - Create a standard AMI with packer.io (hashicorp) with a base setup
  - Handle additional provisioning

[2018-01-30 21:39] owocki commented on #208
i dont think so.. i'd really like to see someone tackle this..

[2018-01-30 22:27] mbeacom opened #332 "TypeError: an integer is required (got type NoneType)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/93/](https://rollbar.com/mbeacom/gitcoin/items/93/)

[code]

[2018-01-30 22:41] owocki opened #334 "as a user, i want to be able to process two bounties in multiple tabs so i can be efficient."
right now if i process a bounty in two different tabs, then the following local state gets overriden

[code]

as a workaround for this... i think itd be prudent to enable multiple bounties to be processed at once.  maybe you could map an issueurl to a data hash, and still store in localstorage

[2018-01-30 23:38] owocki commented on #279
i think were getting these are rollbar now...

[2018-01-30 23:38] owocki commented on #279
@mbeacom any objection if we close this?

[2018-01-30 23:46] mbeacom commented on #279
@owocki Not at all.

[2018-01-30 23:49] #279 closed

[2018-01-31 00:13] mbeacom opened #336 "Uncaught ReferenceError: web3 is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/24/](https://rollbar.com/mbeacom/gitcoin/items/24/)

[code]

[2018-01-31 00:32] #322 closed

[2018-01-31 01:29] mbeacom opened #338 "SyntaxError: expected expression, got '*'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/75/](https://rollbar.com/mbeacom/gitcoin/items/75/)

[code]

[2018-01-31 07:58] thinkmassive commented on #208
What do you have in mind to fulfill the design bounty? Are you looking for a wireframe for each product detail page plus the index page? Copy & annotations?

[2018-01-31 08:13] mbeacom opened #339 "SyntaxError: expected expression, got '*'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/74/](https://rollbar.com/mbeacom/gitcoin/items/74/)

[code]

[2018-01-31 10:19] mbeacom opened #340 "Uncaught Error: Web3ProviderEngine does not support synchronous requests."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/99/](https://rollbar.com/mbeacom/gitcoin/items/99/)

[code]

[2018-01-31 14:44] ethikz commented on #184
@usulix Did you run into an issue when running docker?

[code]

I fixed that by adding `()` around it but now there is another error

[code]
=

[2018-01-31 15:19] PixelantDesign opened #341 "Test Issue"
##### Description

##### Possible Implementation

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-01-31 15:28] owocki opened #342 "Cannot read property '2' of null when submitting bounty"
got this from rollbar for https://github.com/codesponsor/codesponsor/issues/39#issuecomment-361775263 :

[code]

[2018-01-31 16:07] PixelantDesign commented on #173
Let's use this color green for legibility reasons #00B969

[2018-01-31 17:01] mbeacom opened #343 "As a user, I want to sort and filter the bounty list by technical stack / keywords"
As a user, I want to sort and filter the bounty list by technical stack / keywords.

##### Description
Per https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1517417702000337
A user should be able to filter and sort bounties by technical stack and relevant keywords (python, go, javascript, etc).
##### Possible Implementation
Add sort and filtering options by keywords populated from Github.

Ch

[2018-01-31 17:28] owocki commented on #208
@thinkmassive

i'm looking for a wireframe + product detail page for *one* product.. lets start with 'bounties' perhaps

[2018-01-31 17:29] razordaze commented on #198
It seems like this is the sort of thing a Trello board was born to do.

That's the solution that I'd want to look into; make a [Trello development board](1qMySK2hKFLW@Maq@HWEFAk4t*v@a8Z8qwJmRDuih5vLFXN$nc*cB@Ms), and either integrate it seamlessly into the page, (hard) just link to it (easy), or do the latter while developing the former.

[2018-01-31 17:33] owocki commented on #343
note: you can do this via the search field up top... but it may make sense to make it into a formal filter field on the left

[2018-01-31 17:37] vs77bb commented on #233
Howdy @KamesCG what's happenin my man? cc @owocki

[2018-01-31 17:39] vs77bb commented on #221
@owocki Where are we with this one?

[2018-01-31 17:40] owocki commented on #182
related: https://github.com/gitcoinco/web/pull/236#issuecomment-362011140

[2018-01-31 17:44] owocki commented on #221
sorry i let this drop.. im very happy with the draft @nitinrgupta submitted.. @pixelantdesign what do you think

[2018-01-31 17:45] owocki commented on #267
moreso than actually creating this badge... i think is getting the community to adopt it and start using it in their readmes.. probably worth doing a little thinking about that soon...

cc @pixelantdesign

[2018-01-31 17:54] owocki opened #344 "As a community member, I want to understand Slack Free Plan Limit so I know that the community can keep growing."
http://www.businessinsider.com/slack-free-unlimited-plan-has-limits-2015-6
https://davechen.net/2017/01/slack-user-limit/

We may have to stop growing the slack community when we get to 8500 users... At least thats what word on the street is..

TODOS:
* Decide our strategy for dealing with this.. Do we want to continue investing in slack?  Move somewhere elsee?  Delete inactive users?

[2018-01-31 18:03] owocki commented on #332
this is high priority... if this function is failing it means that gitcoin is not sycning with web3 (either on new bounties, submitted bounties, kill bounties, or acceptance)

@mbeacom any chance you could take a look/

[2018-01-31 18:11] mbeacom commented on #332
@owocki Checking this out now.

[2018-01-31 20:18] coderberry opened #346 "New funded issue form does not automatically add the URL from the querystring"
<img width="1544" alt="sharing_frame_window" src="https://user-images.githubusercontent.com/12481/35645512-48f1aba0-0689-11e8-8e42-04466d0f305e.png">

##### Description
When I go to the new funding form, it does not pre-populate the issue URL with what's in the query string.

##### Possible Implementation
Likely a missing assignment in the view.py

##### Environment
Mac / Chrome

[2018-01-31 20:30] mbeacom commented on #346
Which action item directed you to: `https://gitcoin.co/funding/new/?url=https://github.com/codesponsor/codesponsor/issues/59` ?

We are checking for the GET param: `source` on that view.  So, `https://gitcoin.co/funding/new/?source=https://github.com/codesponsor/codesponsor/issues/59` should work to pre-populate this.

Once I know where we're directing to this view with `url` versus `source`, I'll

[2018-01-31 20:31] thelostone-mc opened #347 "html: setting max-width to 500px casues weird display"
Firefox:

<img width="1440" alt="screen shot 2018-01-31 at 12 24 24 pm" src="https://user-images.githubusercontent.com/5358146/35645751-bd00e7e8-0681-11e8-8207-a95de107760b.png">

Chrome:

<img width="1440" alt="screen shot 2018-01-31 at 12 27 11 pm" src="https://user-images.githubusercontent.com/5358146/35645964-8f828fa0-0682-11e8-976f-46f211deb161.png">

##### Description

##### Possible Impleme

[2018-01-31 20:34] coderberry commented on #346
My expected experience is if the URL contains ?url=___ISSUE_URL__, I should not need to type in the issue URL in the form below.

[2018-01-31 20:42] #346 closed

[2018-01-31 21:27] mbeacom opened #349 "Uncaught SyntaxError: Identifier 'slides' has already been declared"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/134/](https://rollbar.com/mbeacom/gitcoin/items/134/)

[code]

[2018-01-31 21:27] mbeacom opened #350 "RangeError: Maximum call stack size exceeded"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/140/](https://rollbar.com/mbeacom/gitcoin/items/140/)

[code]

[2018-01-31 21:32] #347 closed

[2018-01-31 21:43] mbeacom opened #351 "RangeError: Maximum call stack size exceeded"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/139/](https://rollbar.com/mbeacom/gitcoin/items/139/)

[code]

[2018-01-31 21:43] mbeacom opened #352 "Uncaught SyntaxError: Identifier 'slides' has already been declared"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/145/](https://rollbar.com/mbeacom/gitcoin/items/145/)

[code]

[2018-01-31 23:11] #350 closed

[2018-01-31 23:11] #351 closed

[2018-01-31 23:12] owocki commented on #343
gonna bounty this.. if you are the hunter, please do the bounty in two steps:

1. propose a few ux options
2. code it up and submit as a PR

[2018-01-31 23:17] #334 closed

[2018-01-31 23:30] #317 closed

[2018-01-31 23:38] owocki commented on #317
@danfinlay just put in a fix => https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/3127&slack=1

@razordaze sorry, i was just fixing another issue and stumbled across this one in dev mode, not remembering youd said youd wanted to work on it.. want to pick another small issue on the issue board and tackle one of those instead?  up to you which one

[2018-01-31 23:39] owocki commented on #288
Need to do customer development before continuing on with this..

[2018-01-31 23:39] #281 closed

[2018-01-31 23:40] #270 closed

[2018-01-31 23:42] owocki opened #353 "Increase Code Coverage by 4%"
This bounty will be paid out to anyone who meaningfully increases the code coverage of the repository by 4%.

Criteria:
* You must increase the code coverage (as measured by codecov) of this repo by 4%.
* You must put (show) some thought into success / failure criteria for each method tested.
* Please coordinate with other bounty hunters who are working on this bounty so you don't overlap work.

[2018-01-31 23:45] #226 closed

[2018-01-31 23:45] #206 closed

[2018-01-31 23:48] danfinlay commented on #317
Amazing the OSS collaboration that gitcoin makes possible.

[2018-01-31 23:49] #110 closed

[2018-01-31 23:49] #68 closed

[2018-01-31 23:51] owocki commented on #61
i feel like this work helps solve this... https://gitcoincommunity.slack.com/archives/C55FER6T1/p1517341954000234

[2018-01-31 23:51] #61 closed

[2018-01-31 23:52] owocki opened #354 "as a website mantainer, i want a javascript widget that can show off my bounties, so i can lead more of my community to gitcoin"
what : a javascript widget (or image) that let me show off the bounties on my repos

please reuse the design from https://github.com/gitcoinco/web/pull/644/ , but implement it in javascript to be responsive instead of as an embedded image

![37573585-266c9b1a-2adf-11e8-8484-50aced6a8bae](https://user-images.githubusercontent.com/513929/37621801-a8ee6d10-2b85-11e8-9c9f-b5f28ab071ea.png)

[2018-02-01 00:05] owocki opened #355 "Profile Page needs to be sized up if it's smaller than it should be"
https://gitcoin.co/profile/tarekskr

# Success Criteria

* This users profile  should be scaled up to fit the entire picture.
* There should not be a regression in any of the other profile pictures on the leaderboard (https://gitcoin.co/leaderboard)

[2018-02-01 00:54] KennethAshley commented on #355
@owocki Take a look at [this picture](https://gitcoin.co/funding/avatar?repo=https://github.com/tarekskr&v=3). It seems as though the image is the correct size. It just has a lot of white space.

[2018-02-01 01:15] KennethAshley commented on #343
@mbeacom @owocki not sure who to talk to about this issue. I looked into getting popular keywords from Github and other sources. Issue with that is those keywords might not match with the keywords from the bounties. Another option would be to query the boundaries and get the top keywords then display them on the left and in the sort bar. What do you guys think?

[2018-02-01 01:24] thelostone-mc commented on #355
Same thing [here](https://gitcoin.co/funding/avatar?repo=https://github.com/pelsasser&v=3)

[2018-02-01 01:42] thelostone-mc commented on #302
@mbeacom Is this still there? It's been changed to `Math.pow`

[2018-02-01 02:09] poffdeluxe commented on #355
Gonna give this a shot, I think!

It just appears that avatars that are smaller than the 215x215 avatar thumbnails get put on a whitespace canvas instead of being scaled up to the 215x215 size.

I'm taking a look at using PIL.ImageOps.fit as a replacement or together with PIL.Image.thumbnail

Seems promising so far!

[2018-02-01 03:16] PixelantDesign commented on #221
Hi @nitinrgupta

Looking good! My questions are...
- How does a user get to this page? Where does this page live?
- Bounties looks like a header on the first screen and doubles as navigation on the second screen...are there any hover or click states to make it clear that this is navigation?
- I like the coin icons (Bitcoin, Eth, what is the recommendation for displaying other coin types?)
- Would

[2018-02-01 03:51] usulix commented on #184
It worked for me last time I ran it... No errors or oddities. I will check again this weekend and let you know if I get different results.

Sent from my iPhone

[2018-02-01 04:59] D3RPZ1LLA commented on #349
Can't view the stack trace
![screen shot 2018-01-31 at 8 58 49 pm](https://user-images.githubusercontent.com/2433292/35661825-961de8a4-06c9-11e8-85ec-7e3bf6d2e475.png)

[2018-02-01 10:21] ethikz commented on #184
@usulix Are you on Gitcoin slack?

[2018-02-01 13:04] poffdeluxe opened #357 "Submitting work throws a "Math is not a function""
##### Description
Was submitting work for an issue and when I hit the "Submit Work" button, it enters a loading state but never finishes. In dev tools, I see:
<img width="574" alt="developer_tools_-_https___gitcoin_co_funding_fulfill_source_https___github_com_gitcoinco_web_issues_355" src="https://user-images.githubusercontent.com/766596/35679554-281688e4-071d-11e8-84bc-21b3ee505788.png">

##### P

[2018-02-01 15:17] #357 closed

[2018-02-01 16:09] owocki commented on #355
@poffdeluxe submit your work and i will payout?

[2018-02-01 16:10] poffdeluxe commented on #355
@owocki 👍  just waiting for the transaction to go through rn :)

[2018-02-01 16:12] usulix commented on #184
Occasionally...

Sent from my iPhone

[2018-02-01 17:56] tansaku commented on #165
@owocki any pointers as to where in the codebase changes would be required to implement this?  My guess is here: https://github.com/gitcoinco/web/blob/master/app/dashboard/notifications.py#L219

[2018-02-01 17:59] mbeacom opened #360 "TypeError: an integer is required (got type NoneType)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/152/](https://rollbar.com/mbeacom/gitcoin/items/152/)

[code]

[2018-02-01 18:00] mbeacom opened #361 "AttributeError: 'NoneType' object has no attribute 'get'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/160/](https://rollbar.com/mbeacom/gitcoin/items/160/)

[code]

[2018-02-01 18:15] mbeacom opened #362 "(unknown): Uncaught this network is not supported in bounty_address() for gitcoin"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/79/](https://rollbar.com/mbeacom/gitcoin/items/79/)

[code]

[2018-02-01 18:22] tyleryasaka commented on #353
@owocki This'll be my first time working with this repo, and using codecov for that matter. I've got plenty of experience writing tests so I expect I can figure it out, but I'll post an update if I get stuck on anything.

[2018-02-01 18:28] owocki commented on #268
im gonna start on https://github.com/gitcoinco/web/issues/128 tomorrow

[2018-02-01 18:28] owocki commented on #128
im going to start on this tomorrow

[2018-02-01 18:43] razordaze commented on #317
@owocki FWIW, I had a similar solution figured out... but didn't setup the dev environment beforehand to test it. I ran into some bugs getting the docker up in Win10, which I got sorted. I haven't checked to see if there's a bounty on it yet though.

[2018-02-01 19:00] owocki commented on #343
There is a `Keywords` table you could pull them from

[2018-02-01 19:10] owocki commented on #165
@tansaku you could use the `convert_amount()` function in `economy/utils`

[2018-02-01 19:20] KennethAshley commented on #343
@owocki this?
![image](https://user-images.githubusercontent.com/1138619/35698422-fc30b194-075a-11e8-9d61-271c8082790f.png)

[2018-02-01 19:24] owocki commented on #343
i meant the `Keywords` table in the gitcoin database.. where is that screenshot form?

[2018-02-01 19:25] mkosowsk commented on #343
HTML and CSS as languages!? Clutching my pearls over here 😂

[2018-02-01 19:50] owocki commented on #261
@eswarasai how goes it

[2018-02-01 20:08] razordaze commented on #288
Can you elaborate?

[2018-02-01 21:29] KennethAshley commented on #343
@owocki oh. if you preform a search on github it will list out popular languages.

[2018-02-01 21:54] razordaze commented on #344
You may want to look into migrating to [Discord](https://www.reddit.com/r/discordapp/comments/4ymh13/discord_user_limit/). It was designed more for pleasure than business, but AFAIK it's a better option to free Slack in every way.

I'd not really noticed [Gitter](https://gitter.zendesk.com/hc/en-us/articles/201311981-How-much-does-it-cost-) before reading that BI article. Seems like if it was wort

[2018-02-02 00:02] bhenze commented on #165
Seems straight forward. I can start digging into it now.

[2018-02-02 01:57] ethikz commented on #184
Oh ok, didn't find your username.  So for sake of going back and forth can you just message me when you get on.

[2018-02-02 02:06] bhenze commented on #165
I have everything except for the email. I was thinking about exposing a member in the Bounty object to return the USDT value of ETH. Does this sound reasonable?

[2018-02-02 07:08] abitrolly opened #366 "Wrong issue title in gitcoin.co"
##### Description

Issue title at https://gitcoin.co/funding/details?url=https://github.com/googlecodelabs/codelab-components/issues/46 matches previously funded issue, but not the https://github.com/googlecodelabs/codelab-components/issues/46

![image](https://user-images.githubusercontent.com/8781107/35720984-1ab6799a-0801-11e8-91a4-27979a3f89c8.png)

##### Possible Implementation

Either `gitco

[2018-02-02 10:24] bhenze commented on #165
Having a bit of a learning curve setting things up. I am having difficulties setting up the database and am unable to test my changes. Do you happen to have an easy way I can test my updates?

[2018-02-02 10:32] vs77bb commented on #208
@owocki For reference, I've looked at this issue multiple times and just now realized you're looking to fund a *detail page* for existing tools.

My sense was always that you were looking to fund design bounties for *new tool ideas*.

Now, my guess is you'd like both to happen, ideally. May be worth breaking out into two separate bounties.

[2018-02-02 15:32] eswarasai commented on #261
@owocki -- I should be able to wrap things up within next 24 hours :)

[2018-02-02 15:40] mbeacom opened #367 "Travis builds failing"
##### Description
The Travis CI builds are currently failing due to pip dependency conflicts.  This needs resolved in order to fix the automated testing builds.

##### Possible Implementation
Modify current dependency management to use Pipenv to possibly resolve conflicts?

##### Additional Information

Pipenv graph shows conflicts in version pinning coming from `web3.py`.

`populous` has a depend

[2018-02-02 16:58] owocki commented on #165
docker is pretty easy way to go.. if you post in slack and tag myself or @mbeacom if you have any issues.. that could work.

if the changes are small enough, you could maybe test them via the command line.

this exists already.  its called `value_in_usdt`

[2018-02-02 17:04] owocki commented on #366
https://beta.bounties.network/bounty/v1/23

The title information is what was on IPFS, and it looks to me that this is what the was specified as the title when submitted at https://gitcoin.co/funding/new

Note: on that form, there is an `.blur()` action that updates the title when you enter in a new issue URL.. @abitrolly do you recall when you submitted this issue if you saw this update in the fo

[2018-02-02 17:19] mbeacom opened #368 "Error: MetaMask detected another web3. MetaMask will not work reliably with another web3 extension. This usually happens if you have two MetaMasks installed, or MetaMask and another web3 extension. Please remove one and try again."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/39/](https://rollbar.com/mbeacom/gitcoin/items/39/)

[code]

[2018-02-02 17:41] step21 opened #369 "deonomination should be denomination in the codebase, right?"
I could fix it if you want it fixed :)

[2018-02-02 17:49] bhenze commented on #165
@owocki I was able to get docker to work and am able to test the page itself but having problems getting data to stick. I tried setting up a local database but to no avail. The changes are fairly small and can test some through the command line.

Also,

value_in_usdt exists but eth_value_in_usdt for 1 ether does not exist. This is more or less what I was trying to test on the bounty details page a

[2018-02-02 19:16] pelsasser opened #370 "Bounty creation transaction link points to rinkeby etherscan address."
##### Description

After submitting bounty, the etherscan address link provided points to the rinkeby network.

https://rinkeby.etherscan.io/tx/0x23bc3731982b802cdf408fd72468c0c98a2a143eb69eb2b1f3fd730f702a5c8b

mainnet transaction here

https://etherscan.io/tx/0x23bc3731982b802cdf408fd72468c0c98a2a143eb69eb2b1f3fd730f702a5c8b

##### Environment

* **Browser**: Chrome
* **Version**:
* **Subsystem*

[2018-02-02 19:33] mbeacom commented on #367
This is resolved via the changes associated with: https://github.com/ethereum/eth-abi/issues/25

[2018-02-02 19:33] #367 closed

[2018-02-02 19:36] mbeacom commented on #353
@tyleryasaka Thanks for picking this up!  Feel free to let me know if you have any questions.  Just a note, we're using `pytest` on Travis.

Looking forward to seeing coverage go up!

[2018-02-02 19:42] mbeacom commented on #165
@bhenze The `docker-compose` stack provisions a postgresql instance for you.  You can view the data in your database by browsing to:  `http://localhost:8081` which is running `pgweb`.  Or you can access via psql cli with:  `psql -h localhost -U postgres` - If you don't have `psql`, you can install it on mac via `brew install postgresql`

[2018-02-02 20:35] bhenze commented on #165
@mbeacom thanks for you help! I am new to psql so I have been messing with it a bit. Ended up going down quite the rabbit hole but I am back on track now. My test environment is up and running.

[2018-02-02 21:32] owocki commented on #221
hey @nitinrgupta see above.. really excited to see this moving forward soon

[2018-02-02 21:35] owocki opened #372 "(CODE) as a user, i want to see bounties from other platforms, so i can work on bounties outside of the gitcoin ecosysstem"
##### Description
I would love to see the designs from https://github.com/gitcoinco/web/issues/221 coded up.

##### Bounty

Please
* Code up the frontend design of the 'external bounty index page'
* Code up the frontend design of the 'external bounty detail page'
* Both pages must be responsive
* Please put dummy data in the `views.py` file for now.. I will be building the backend later this month

[2018-02-02 21:53] owocki commented on #369
go for it :)

[2018-02-03 05:13] KennethAshley commented on #221
@nitinrgupta @owocki Current work. Should be complete tomorrow.

Things to note:
- WEB3 element is fixed and moves with scroll
- I don't have exact icons

![screencapture-localhost-8000-dummy-1517634630945](https://user-images.githubusercontent.com/1138619/35763281-c0372a98-0876-11e8-836d-4d6e4cfb67cf.png)

[2018-02-03 06:22] tyleryasaka commented on #353
@mbeacom Thanks! I do have one question. I think you guys might have a [team yaml](https://docs.codecov.io/docs/codecov-yaml#section-team-yamll) set up for codecov, because when I run it I get a much different number - and I don't see any codecov configurations in the repo. Is there a way I could view the team yaml so I can know what percentage I'm at? 😃

[2018-02-03 14:03] #338 closed

[2018-02-03 17:40] mbeacom opened #376 "(unknown): Syntax error"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/142/](https://rollbar.com/mbeacom/gitcoin/items/142/)

[code]

[2018-02-04 18:30] owocki opened #380 "As a developer, I want grants available to sponsor my ongoing work in open source."
# Why

There are some great projects in the ecosystem, that already have a spec and someone excited about working on them... But just need a little bit of financial support.

# What

* `/grants` -- a landing page that describes the grant initiative
* `/grants/explorer` - an index of all of the grants
* `/grants/new` the ability to create a new grant

# Attributes of a Grant

* `Title`
* `Descripti

[2018-02-04 23:42] tyleryasaka commented on #353
@owocki @mbeacom I have an [open PR](https://github.com/gitcoinco/web/pull/375) that increases the code coverage by 4.72%.

https://github.com/gitcoinco/web/pull/375

[2018-02-05 20:12] #353 closed

[2018-02-05 22:06] mbeacom opened #381 "Error: Access is denied."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/63/](https://rollbar.com/mbeacom/gitcoin/items/63/)

[code]

[2018-02-06 09:42] mbeacom opened #382 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/47/](https://rollbar.com/mbeacom/gitcoin/items/47/)

[code]

[2018-02-06 15:34] mbeacom opened #383 "(unknown): ':' is required."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/187/](https://rollbar.com/mbeacom/gitcoin/items/187/)

[code]

[2018-02-06 15:40] mkosowsk commented on #383
무엇이 필요해요? 🤔

[2018-02-06 15:48] mbeacom commented on #383
This was automatically generated...  I'm uncertain why it spit out this title. 🤔 Thanks for keeping me on my toes! 😁

[2018-02-06 15:50] mkosowsk commented on #383
It's Korean, literally translated to 'Go is required'. Possibly talking about Golang?

[2018-02-06 16:00] mbeacom commented on #383
@mkosowsk Google translate let me down on the translation.  It came out as:  `is required` - Not sure what's happening here. I'll take a look and report back.

[2018-02-06 16:04] mkosowsk commented on #383
👍🏻 Good luck!

Don't think the sentence makes sense grammatically, probably why it tripped Google up. I knew living in Korea would pay off someday 😂 화이팅!

[2018-02-07 08:40] abitrolly commented on #366
@owocki I don't remember the form contents at that time, so I can't say if I would notice. Maybe I indeed pasted the wrong URL first, because I was sending tip for that other issue.

Could the reason be that there were multiple windows open and one of them overwritten IPFS content?

[2018-02-07 09:39] owocki opened #384 "This is a test issue for purposes of a demo during Consensys Mesh Retreat"
# What

https://consensysretreat2018.sched.com

# Bounty

Bounty Acceptance Criteria:
* Post a gif
* Be cool.
* Claim the issue on Gitcoin.co

# Tip
Be the first person to comment on this thread and Ill send you a tip

[2018-02-07 13:48] mbeacom opened #385 "(unknown): 구문 오류"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/188/](https://rollbar.com/mbeacom/gitcoin/items/188/)

[code]

[2018-02-07 14:04] mkosowsk commented on #385
This Korean is easy, that's a syntax error 👍🏻

[2018-02-07 15:44] mbeacom opened #386 "MultipleObjectsReturned: get() returned more than one Profile -- it returned 2!"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/201/](https://rollbar.com/mbeacom/gitcoin/items/201/)

[code]

[2018-02-07 22:25] mbeacom opened #388 "Uncaught TypeError: Cannot read property 'accounts' of undefined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/155/](https://rollbar.com/mbeacom/gitcoin/items/155/)

[code]

[2018-02-07 22:48] mbeacom opened #389 "Uncaught TypeError: Cannot read property 'coinbase' of undefined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/166/](https://rollbar.com/mbeacom/gitcoin/items/166/)

[code]

[2018-02-08 14:21] lazaridiscom commented on #208
I like your enthusiasm, and I've claimed this one (to have a balance for code-level work). Will give you some results in a few days, subjecting this "mini-startup-incubator".

I have a personal interest in the bounty-system, as I think that it can help me a lot, with different things. And I believe that the bounty-system, as is, needs some rework/reviesioning.

And thus, I will design (not much vi

[2018-02-09 21:27] mbeacom opened #390 "Uncaught ReferenceError: getParam is not defined"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/135/](https://rollbar.com/mbeacom/gitcoin/items/135/)

[code]

[2018-02-09 21:27] mbeacom opened #391 "(unknown): Syntax error"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/172/](https://rollbar.com/mbeacom/gitcoin/items/172/)

[code]

[2018-02-10 13:36] lazaridiscom commented on #208
@owocki , this here is my result. It is possibly not what you have expected/requested. Instead of following the dictated process, I try here to "ring your bell" so that you adjust the overall process/sequence of reaching the goals.

And be aware that the fact "no one claims the bounty" can mean two things:

* The bounty is set to low (for the effort)
* The bounty affects a difficult or confusing i

[2018-02-10 16:15] lazaridiscom commented on #344
@owocki , personally, I do not like slack. It annoys me with "upgrade to search" kind of messages, and i generally do not like communication tools which are proprietary.

I suggest to simply make an evaluation of possible communication tools. "Back to the Roots" could do it, too.

[2018-02-10 18:44] #386 closed

[2018-02-12 00:42] mbeacom commented on #343
@KennethAshley Are you still interested? Anything I can answer regarding this bounty?

[2018-02-12 00:46] mbeacom commented on #349
The trace on Rollbar isn't anything more than what's provided in the issue body for the moment.

Note: I'm going to disable automatic frontend GH issues until source maps are generated and uploaded.

[2018-02-12 00:47] mbeacom commented on #355
Closed via #356

[2018-02-12 00:47] #355 closed

[2018-02-12 02:10] mbeacom commented on #361
Temporarily resolved in: https://github.com/gitcoinco/web/commit/f9751f692f41dda8e21bd76226da9d65ffee843f

[2018-02-12 02:10] #361 closed

[2018-02-12 15:26] KennethAshley commented on #343
@mbeacom Yea still interested. Been quite busy but im gonna take this soon. If anyone takes this before me i'll understand!

[2018-02-12 17:08] owocki opened #393 "Standardbounties expiration date treated differently than Gitcoin expiration date"
reference: https://github.com/ConsenSys/StandardBounties/issues/25

in the old gitcoin smart contracts, users could submit after a bounty was submitted.

in standard bounties, this is not so.  either

1) standardbounties upstream needs to change
- or -
2) the UI needs to be much more clear that expiration dates are firm.  this could mean
- commenting back on the issue to let ppl know it's going to

[2018-02-12 19:10] #391 closed

[2018-02-12 19:50] owocki commented on #208
@lazaridiscom thanks for the thoughtful note.  i dont think its really what i was looking for for the scoped bounty, but we always welcome feedback about the UX, brand architecture across multiple tools, and customer journey.  cc @pixelantdesign in case any of this is on her roadmap

[2018-02-12 19:51] owocki opened #394 ""Are you still working on this?""
from @lazaridiscom over at  https://github.com/gitcoinco/gitcoinco/issues/28 :

During work on trufflesuite/truffle-core/issues/87, gitconi.co send me twice an automated message,

one on day 3 and one on day 6:

[code]

This means that the system has not detected my comments in the issues, assuming my absence.

This would be a bug in the system.

[2018-02-12 20:07] owocki commented on #394
looking into this now

[2018-02-12 20:17] #394 closed

[2018-02-12 21:53] lazaridiscom commented on #208
@owocki , please do me a tiny favor: review what I wrote tomorrow again, and assess it in combination with the other issues, especially gitcoinco/gitcoinco/issues/26 (I used the quite hard word "unacceptable" intentionally).

See, i could have simply provided you what you asked for...

... to get the bounty.

But this would not make any sense, as there are other things that need to be fixed first.

[2018-02-12 22:48] jasonrhaas commented on #370
Is this one still an issue?

[2018-02-12 22:48] owocki opened #397 "feb integration branch - remove references to `Bounty.fulfiller_`"
# what

remove references to `Bounty.fulfiller_` as this is now 1:n instead of 1:1

[2018-02-12 22:51] owocki commented on #380
accidently triggered the 'payout' github comment / email on my local.  please ignore

[2018-02-12 22:52] owocki commented on #208
accidently triggered the 'payout' github comment / email on my local. please ignore

[2018-02-12 22:54] jasonrhaas commented on #344
I believe Slack will only change you for users that are Active.  On another Slack team I am on, they give credits for users that are inactive.  I think Slack is great for inter-team work and communication.  As far as a community center, something like Gitter or Discord may be more cost effective.

[2018-02-12 22:55] jasonrhaas opened #398 "Make Process Bounty page more user friendly"
Replace "Submission Id" with either a drop down selection, or integrate into metamask.

[2018-02-12 22:56] jasonrhaas opened #399 "HTML/CSS Touch ups on Bounty Details Page"
Tweak the details page a bit so that the columns and headers line up nicely and its easier to read.

[2018-02-12 22:57] jasonrhaas opened #400 "Fix dashboard/notifications.py"
This part was not updated when moving over to the Standard Bounties multiple fulfillments.

[2018-02-12 22:58] jasonrhaas opened #401 "Fix lingering bounty_fulfiller (claimee) references"
Fix lingering admin or other files affected by the multiple fulfillment change. There are some places that reference bounty_fulfiller information assuming only one "claimee" or fulfiller".

[2018-02-12 23:01] jasonrhaas opened #402 "Use BountyFulfillment for all fulfiller_ references"
Modify all instances of fulfiller_ specific references to use BountyFulfillment vs Bounty.

[2018-02-12 23:03] owocki commented on #399
might be able to fold this in with https://github.com/gitcoinco/web/pull/323

[2018-02-12 23:19] jasonrhaas commented on #399
@owocki ah yes I think I can probably merge those changes in with the new stuff for multiple fulfillments if you are happy with the design.  Looks like an improvement.

[2018-02-12 23:23] owocki commented on #184
@vs77bb this might be a good one to promote via twitter to get folks to jump on it

@ethikz you still want it?

[2018-02-12 23:45] owocki opened #403 "User feedback: claiming of issues"
From a user

# Ideas

1. Maybe allow the submitter to select one of those who has started work to be the 'blessed' one(s) to carry out the bounty.
2. If the submitter does not 'bless' any particular submitter, then anyone may work on the issue.

[2018-02-12 23:45] owocki commented on #403
cc @pixelantdesign @mbeylin in case ya'll have opinions on this

[2018-02-13 00:06] owocki commented on #399
i... dont love the design on that issue but maybe im marred by staring at the old one too much.  maybe @pixelantdesign will have more developed thoughts than i do :P

[2018-02-13 02:35] lazaridiscom commented on #208
all fine

[2018-02-13 03:25] tra38 commented on #239
Hi Kevin, I'm interested in working on this bounty starting this Wednesday, but I have to think of some good email copy that solicits feedback first.

[2018-02-13 03:36] amites commented on #165
so what's going on with this one?

I see the MR has fresh comments

[2018-02-13 03:38] thelostone-mc commented on #208
@lazaridiscom

When you say too much information.. What do you mean? Cause in my head, I see you've got told their description and usage statistics. In my head like you suggested the statistics could be made more meaningful. But the content seems alright to me

And a bit more context on the graphic design being over loaded ?

The ossbreed umbrella (Rather than gitcoin being the umbrella itself)  a

[2018-02-13 04:17] vs77bb commented on #198
@owocki thoughts on @razordaze approach for an MVP? I think this could make sense (do the latter while developing the former)

[2018-02-13 04:24] vs77bb commented on #380
@Pixelant anyone who you think might be intereseted? @thelostone-mc perhaps?

[2018-02-13 04:39] bhenze commented on #165
Sorry, if you are asking for specifics. I am trying to figure out what the preferred format for the message should be:

[code]

[2018-02-13 04:59] lazaridiscom commented on #208
I show you a counter-example. This here, has no info-overload/overdesign:

http://www.ti.com/product/LM73605/description

You can suck the information in, for hours, without any major distraction or indirection. If this site would be designed like gitcoin, you would not be able to read for long.

You will say now: "totally different domain". The please, look at this here:

https://bounties.network

[2018-02-13 05:00] iliketobuildstuff commented on #380
Let me know if this is along the lines of what is being asked and I can do the other two screens:

![grant details copy 6](https://user-images.githubusercontent.com/36324163/36134144-b0567cb4-1037-11e8-9b1d-23bb78035ac6.png)

[2018-02-13 05:50] thelostone-mc commented on #208
http://www.ti.com/product/LM73605/description -> IMHO does need a lot of content as against gitcoin but yeah I get your point of not having too many stuff in the same basket ! Makes sense

Thanks for explaining that out ^_^

[2018-02-13 06:13] nitinrgupta commented on #221
Hi @PixelantDesign

Firstly, sorry for the delayed reply. I was away for a couple of weeks traveling.

My responses are inline.

- How does a user get to this page? Where does this page live?
**@owocki could take a call. My suggestion would be having a link in the navbar.**
- Bounties looks like a header on the first screen and doubles as navigation on the second screen...are there any hover or cl

[2018-02-13 14:12] mbeacom commented on #128
@vs77bb This has been folded into https://github.com/gitcoinco/web/pull/379 - We have a tentative rollout set for tomorrow.

[2018-02-13 14:18] thelostone-mc opened #404 "discuss: redefine Sharing Bounties"
<img width="775" alt="screen shot 2018-02-12 at 12 01 44 pm" src="https://user-images.githubusercontent.com/5358146/36154134-7fe1df00-10f6-11e8-84a3-8dbc6438c04d.png">

##### Description

So i helped out with an issue -> and eswarasai wanted to tip me for helping out with work
It’s seems to be a cumbersome experience.

Would it make sense to allow the system to split the bounties during issuance p

[2018-02-13 14:43] owocki commented on #404
thanks for the issue log.  this is something that should be on the roadmap !

[2018-02-13 15:59] jasonrhaas commented on #399
ok well lets keep the new design discussion in that PR, this issue is just to fix a coupe allignment things.  That one seems like more of a slight re-design.  Will get this taken care of and close out this issue.

[2018-02-13 16:56] vs77bb commented on #184
Done - https://twitter.com/GetGitcoin/status/963456837524828160

[2018-02-13 17:16] #397 closed

[2018-02-13 17:16] #402 closed

[2018-02-13 17:17] #400 closed

[2018-02-13 18:08] owocki commented on #399
ok cool

[2018-02-13 18:11] owocki opened #405 "As a core team member, i want to Track deploys & releases for faster debugging"
implement deploy tracking on rollbar => https://rollbar.com/docs/deploy-tracking/

[2018-02-13 18:14] owocki opened #406 "Reminder to remove the legacy/* application once those bounties are done"
Now that standardbounties are deployed, we should be able to remove all of the legacy gitcoin smart contracts from the system.

[2018-02-13 18:18] owocki commented on #380
@iliketobuildstuff a solid first pass!

a few things
* could we maybe make the pie chart a little smaller?
* could we add a 'contribute' button to the page?
* could we add a status field, which could be either Draft, Funding, or Funded ?

[2018-02-13 18:18] owocki commented on #380
@pixelantdesign curious what you think of this

[2018-02-13 18:29] owocki commented on #239
Im happy to write the copy for you.  Don't feel like you need to be the one writing the copy :)

[2018-02-13 18:39] owocki commented on #198
i kind of feel like we've already tested / validated the idea over at https://github.com/gitcoinco/skunkworks/issues/ so i don't see much earned value in going the trello route.

[2018-02-13 19:01] PixelantDesign commented on #222
test

[2018-02-13 19:21] owocki commented on #184
i moved this over to a new place => https://github.com/gitcoinco/web/pull/407/

once that scope is completed, i will pay out both bounties

[2018-02-13 19:21] #184 closed

[2018-02-13 19:37] owocki commented on #221
very excited for this 😍

[2018-02-13 19:54] owocki commented on #353
sorry for the radio silence.. i was traveling.. paying out now

[2018-02-13 19:54] owocki opened #408 "Increase Code Coverage by 5%"
This bounty will be paid out to anyone who meaningfully increases the code coverage of the repository by 5%.

Criteria:
* You must increase the code coverage (as measured by codecov) of this repo by 5%.
* You must put (show) some thought into success / failure criteria for each method tested.
* Please coordinate with other bounty hunters who are working on this bounty so you don't overlap work.

[2018-02-13 19:56] #401 closed

[2018-02-13 20:12] tyleryasaka commented on #353
@owocki Did you see the PR that was already merged? https://github.com/gitcoinco/web/pull/375

[2018-02-13 20:17] owocki commented on #353
yea... paying out for that now

[2018-02-13 21:13] owocki commented on #178
per @PixelantDesign convo today; we'd both like to evolve this forward soon

[2018-02-13 21:51] #398 closed

[2018-02-13 22:40] mbeacom opened #409 "TypeError: an integer is required (got type NoneType)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/152/](https://rollbar.com/mbeacom/gitcoin/items/152/)

[code]

[2018-02-14 00:16] lazaridiscom commented on #208
@vs77bb wrote far above:

yes, I thought the same when reading through this here. Now realized:

That all this affects the **existent**  toolbox entries.

[2018-02-14 00:24] lazaridiscom commented on #208
@owocki , you were unhappy with my 1st result... well. 2nd result follows:

I think I've found the way to solve several problems, and give you at the same time a wireframe/text for a new (and missing) tool:

[Gitcoin da Book.pdf](https://github.com/gitcoinco/web/files/1722202/Gitcoin.da.Book.pdf)

[2018-02-14 02:58] PixelantDesign opened #410 "Clear and concise tooltips"
As a user, I'd like to see clear and concise tooltips so that I can understand exactly what each button does.
* Content scrub across the app
* Potential design to unify tooltips

# Description
Review tooltips on Explorer view > Issue and across the app.
Make the tooltip copy more concise.

# Definition of Done
- Update copy

# Reviewers
Review with @PixelantDesign

[2018-02-14 03:11] PixelantDesign opened #411 "Show left rail radio filters when appropriate"
As a user I'd like to see left rail radio filters when applicable, so that I can understand how the navigation effects the content of a page.

# Description
Remove left rail filters from the following pages:
Tools
View Profile
Fund Issue

# Definition of Done
Left rail removed from above pages.
Build is reviewed with a Gitcoin Core team member @PixelandDesign

[2018-02-14 03:30] PixelantDesign opened #412 "Functioning Search Field"
As a user I want to see a functioning search field that is connected to the left rail filters so that I can search more effectively.

*Part 2 of 2 Part Task* Related to #503

# Description
- Build new search field
- Add ability to clear search
- Connect left rail filter with search field
- Move top filters to left rail
- Add new collapse/expand component
- Improve hint text legibility
- shorten he

[2018-02-14 03:34] PixelantDesign opened #413 "Clear Distinction Between Web 3 States"
*This is a test! Not ready to be worked on*

As a user I want a clear distinction between Web3 States, so that I have a clear sense when I'm connected, disconnected, and locked.

Related to #503 and #412

# Description
Implement distinct states to Web 3 graphic

# Assumptions
No functionality change

# Definition of Done
All states are implemented

# Reviewers
@owocki @vs77bb

[2018-02-14 03:37] PixelantDesign opened #414 "Consistent H1 treatment"
As a user, I want consistent H1 treatment, so that I know where I am on the site and it is clear if it's actionable or not actionable.

* Confusion comes from Mainnet blue header.
* Part of this task is reviewing headers across the app.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 03:45] PixelantDesign opened #415 "Show consistent top navigation across the app"
As a user I'd like to see consistent navigation across the top, so that I have consistent context on where I am on the site

[2018-02-14 03:47] PixelantDesign opened #416 "Consistent button styles across the app"
*Not Ready to Be Worked On*

As a user I want to see consistent button styles across the app so that I know what to expect when I interact with this UI element

[2018-02-14 03:48] PixelantDesign opened #417 "Consistent messaging across the app"
*Not Ready to Be Worked On*

As a user I'd like to see consistent messaging across the app, so that I have a baseline understanding of terminology.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 03:51] PixelantDesign opened #418 "Clear no results page"
*Not Ready to Be Worked On*

As a user I want a no results page that doesn't have any results but has other suggestions.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 03:52] PixelantDesign opened #419 "Show actions only relevant to my scenario"
As a user, I would like to see actions only relevant to my scenario so that I can easily make decisions and have less information to process.

Navigation is mixed in with bounty related actions. Only show actions relevant to use case. Hide other actions that are not actionable.

[2018-02-14 03:54] PixelantDesign opened #420 "To see only open issues"
As a user I'd like to see only open issues that have nobody currently working them, so that I can clearly see the work that is available to me.

# Description
Make interim improvements on how to make it clear for users that work is available.

https://docs.google.com/document/d/184kZSHsB2enyUlzxKFEb8yUSr7o4g8eg1xPpUs11hSU/edit?usp=sharing

# Definition of Done
Design is created and revision is imp

[2018-02-14 03:55] PixelantDesign opened #421 "Consistent display of ETH and USD across app"
As a user I'd like to see consistent display of ETH and USD across app so that I understand each time I see it, and does not appear actionable.

# Description
Make display of ETH and USD consistent across the app. It is currently in a pill style which appears clickable with hover states, but has no action associated.

# Definition of Done
- All display of ETH and USD are visually consistent on pag

[2018-02-14 03:59] PixelantDesign opened #422 "I want to see the progress of my newly created bounty tickets"
As a user I want to see the progress of my newly created bounty ticketsI know where things stand (pending, accepted, etc).

[2018-02-14 04:00] PixelantDesign opened #423 "See what my last actions were when I logged in (as bounty funder)."
*Not Ready to Be Worked On*

As a bounty fulfiller, I want to see what my last actions were when I logged in so that I know where I left off in the app.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 04:01] thelostone-mc commented on #411
@PixelantDesign Which means it would turn up on only the explorer page -> which makes sense
In place what do we add there ?
Cause removing the left container entirely on the other pages would make it look odd

[2018-02-14 04:02] PixelantDesign opened #424 "An easy way to read the list of funded issues on my profile page"
*Not Ready to Be Worked On*

As a user I want an easy way to read the list of funded issues on my profile page. so that I can read the list in my profile page.

[2018-02-14 04:07] PixelantDesign opened #425 "Clear understanding whether something is an error or informational"
As a user I want clear understanding whether something is an error or informational, so that I am not confused by information that is required.

Join slack community page.

# Description
Update form style on slack community page.

# Assumptions
Match other forms, remove yellow error style

# Definition of Done
This form looks and behaves like the rest of the forms on the gitcoin site.

# Reviewers

[2018-02-14 04:08] PixelantDesign opened #426 "Consistent fonts across the app"
*Not Ready to Be Worked On*

As a user I want to see consistent fonts across the app so that I can build trust with the Gitcoin brand.

* Unify across the website.
* Show mockup in various instances.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 04:12] PixelantDesign opened #427 "Clear distinction between content that is clickable and not"
*Not Ready to Be Worked On*

As a user I want I want clear distinction between content that is clickable and not on the FAQ page.

Currently text does not appear clickable. Copy area needs visual cleanup and alignment. Possibly content clean up.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 04:41] jasonrhaas commented on #399
ok so this one is complete with the exception that we need to fix a bug that is occurring on the bounty fulfillment.  Currently the API/Database is not updating the `bountyfulfillment` table properly which a fulfillment gets accepted.  I have some code in there that displays which fulfillment was accepted, but it won't work unless the database is updated.  Opening a new Issue for this bug.

[2018-02-14 04:43] jasonrhaas opened #428 "dashboard_bountyfulfillment is not being updated properly"
Currently the API/Database is not updating the bountyfulfillment table properly which a fulfillment gets accepted.  I have some code in there that displays which fulfillment was accepted, but it won't work unless the database is updated.

[2018-02-14 05:05] PixelantDesign opened #429 "clear steps on the bounty creation process."
As a bounty funder, I want clear steps on the bounty creation process so that I can easily create bounties

[2018-02-14 05:06] PixelantDesign opened #430 "Unify Modal Designs"
As a user I want a consistent modal across the Gitcoin app, so that I have consistent understanding and expectations on how to interact with them.

# Description
Standardize all modals/lightboxes.
Standardize how we communicate that information is being processed. Leverage Tips lightbox background but use new UI style defined in the attached.

# Definition of Done
- All modals and waiting states a

[2018-02-14 05:08] PixelantDesign opened #431 "Relevant information needed to understand gas price"
*not ready to be worked on*
As a user I want relevant information needed to understand gas price, so that I can make a decision on what gas price to use.

# Description
Create cohesive experience to determine gas price.

# Assumptions
Leverage new metamask components

# Definition of Done
New experience is designed and built to allow for all in formation in context to the experience.

# Reviewers

[2018-02-14 05:10] PixelantDesign opened #432 "Clear Connection Between Notification and Error States"
As a user, I want consistent and clear notification on areas I need to fix so that I know exactly where to correct my errors.

# Description
Connect top notification bars with appropriate error handling on forms across the site.

# Assumptions
Apply to all forms on the Gitcoin site

# Definition of Done
1. Update notification styles
2. Update notification bars to include icons.
3. Show error/fix s

[2018-02-14 05:11] PixelantDesign opened #433 "Create Consistent Form Styles"
As a user, I want to see legible and consistent form styles across the app so that I know where to input information, get things done, and build trust with the Gitcoin brand

# Description
Unify form styles

# Assumptions
Apply to all forms on the Gitcoin site

# Definition of Done
All forms are using the same form design pattern

# Reviewers
@PixelantDesign

[2018-02-14 05:12] PixelantDesign opened #434 "Update White Paper Page Select List"
*Not Ready to Be Worked On*

I want to know if something is a select list so that I can properly use the component.

# Description

# Assumptions

# Definition of Done

# Reviewers

[2018-02-14 05:15] PixelantDesign opened #435 "Use Gitcoin Brand Template on Terms Page"
As a user I want to know that the terms and conditions is real so that I can trust the Gitcoin site.

# Description
Update this page with Gitcoin brand template.
https://gitcoin.co/legal/terms

# Definition of Done
- [ ] Use Muli font
- [ ] Follow front-end design guidelines for styling the page
- [ ] Keep this very simple and legible
- [ ] This page must be responsive
- [ ] There should be no lan

[2018-02-14 05:17] PixelantDesign opened #436 "Align Current State of the Issue Explorer"
*Not Ready to Be Worked On*

As a user I want an aligned current state of the issue in issue explorer so that I have a clear understanding of the status or state I'm in.

# Description
Make radio buttons and header reflect the current state that user has selected to see.

# Definition of Done
Issue above is fixed.

# Reviewers
@pixelanDesign

<img width="1681" alt="screen shot 2018-02-21 at 4 23 0

[2018-02-14 05:18] PixelantDesign opened #437 "Create Gitcoin UI Kit"
As a Gitcoin commnity participant, I want design assets that I can use when working on a task, so that I can design consistent with the brand and work efficiently.

# Description
Define ui elements for Gitcoin ( typography, color, buttons, forms, links,  lists, etc)

# Assumptions
Use existing brand but update to meet current ux/ui needs.

# Definition of Done
A sketch file is created and posted i

[2018-02-14 05:20] PixelantDesign opened #438 "Clear and concise series of Gitcoin emails"
As a user I want a clear and concise series of emails so that I understand what is happening when I receive communications.

# Description
Review Gitcoin emails and scrub copy.

# Assumptions
Email template update is being done in another task.

# Definition of Done
Propose new or revised copy to each email.

# Reviewers
@PixelantDesign  @vs77bb

[2018-02-14 05:22] PixelantDesign opened #439 "Consistent tone and voice to communicate with me"
As a user I want a consistent tone and voice to communicate with me,so that I can build trust with Gitcoin.

# Description
Create high level voice guide for Gitcoin.
Web Elements
Emails/Marketing

Example: https://styleguide.mailchimp.com/web-elements/

# Assumptions
Must be in line with brand attributes.
https://gitcoin.co/mission

# Definition of Done
Voice guidelines created in pdf or google do

[2018-02-14 05:24] PixelantDesign opened #440 "A New Front End Framework"
*For Discussion*

As a user I want a fast, modern, functional and consistent UI experience across the Gitcoin App

# Description
- Tech approach to a new front end frame work

# Definition of Done
- Hold meetings with outcomes
- Align on tech approach for the front end & document

# Reviewers
@owocki  @PixelantDesign @mbeacom

[2018-02-14 05:25] PixelantDesign opened #441 "Build Onboarding Flow - MVP"
As a user, I want to be guided through the onboarding of Gitcoin so that I can understand the value of Gitcoin and know how to quickly get started.

# Description
Build an MVP of the onboarding flow from rough designs (attached below).
This is step 1 of a 3 Step experiment.
We will build this flow, user test, and make adjustments to results and finalize designs in the last step.

# Technical Guida

[2018-02-14 08:02] D3RPZ1LLA commented on #343
I'll take this one.

[2018-02-14 13:39] lazaridiscom commented on #201
May I suggest:

github: gh -> https://gitcoin.co/gh/trufflesuite/truffle#343

bitbucket: bb ->

gitlab: gl

-

https://gitcoin.co/funds/gh/trufflesuite/truffle#343

https://gitcoin.co/bounty/gh/trufflesuite/truffle#343

https://gitcoin.co/issue/gh/trufflesuite/truffle#343

[2018-02-14 14:36] owocki commented on #201
@lazaridiscom i like that URL structure :)

@step21 are you still actively working on this?  happy to have someone else take a look at it if you've gotten pulled in another direction

[2018-02-14 14:38] owocki opened #442 "As a user, I want to add an 'apply' step to the bounty process, so I can accept the best applicants"
This would probably be between open and work started
![screen shot 2018-02-14 at 7 38 37 am](https://user-images.githubusercontent.com/513929/36209840-189358a6-115a-11e8-831e-a97b8a722c9b.png)

[2018-02-14 14:50] lazaridiscom commented on #201
Yeah, because: open-source is not only github.

[2018-02-14 14:57] lazaridiscom commented on #442
"Code has been completed" => "work has been completed" (more general, e.g. design bounties, brain-storming bounties, etc.).

I personally do not like the "apply" step. It should be clarified what the goals of gitcoin are:

- Serving open-source / open-work
- Serving the funders

See, in "wild-west" no rules: bring in, get bounty. Results count, results rule.

[2018-02-14 15:02] lazaridiscom commented on #442
Going to the other extreme:

 **Mecha-Bounty**: A bounty which follows a mechanic process:

Funders:
- no quests, no talk
- provide concise task, concise test-cases
- set bounty

Hunters:
- no questions, no talk
- just provide the result, so the test-cases pass
=> get your bounty

[2018-02-14 16:20] #428 closed

[2018-02-14 16:26] mbeacom opened #443 "Split dashboard app into multiple Django apps"
# Split Dashboard App

## Specifications

### Steps

- [ ] Add new django apps (`docker-compose exec web app/manage.py startapp <app_name>`)
- [ ] Move classes and methods to the relevant app
- [ ] Update references to methods/classes throughout the project
- [ ] Add `urls.py` for each new app
- [ ] Import and `include()` the new `urls.py` in `app/urls.py`
- [ ] Migrate relevant Django models and

[2018-02-14 16:51] #399 closed

[2018-02-14 16:51] owocki commented on #443
i just worry about that file getting too big.. not sure if thats a legit concern though

[2018-02-14 17:20] owocki opened #444 "as a developer, i want stage server to always have a fresh prod backup on it, so i can stage latest data"
requirements:
- stage server should download / restore backup from prod on it nightly

[2018-02-14 17:47] owocki opened #445 "better bounds checking in kill/submit/accept bounty"
# what

right now, we don't do a great job of bounds checking in the follow places :

## surface area:
1. kill bounty
2. submit bounty
3. accept bounty

if you fail to meet the boundary conditions , youll see a nasty metamask module that shows you using up too much gas : http://bits.owocki.com/0h1R3J3r1j1w

# current functionality

upon form submission on these pages, metamask will show this modul

[2018-02-14 18:09] owocki commented on #128
this is done! 🎉

[2018-02-14 18:09] #128 closed

[2018-02-14 19:03] jasonrhaas commented on #308
This has been merged in 🚀

[2018-02-14 19:03] #308 closed

[2018-02-14 19:04] iliketobuildstuff commented on #380
Any more feedback?  I can  continue once that comes in.

[2018-02-14 19:38] owocki commented on #380
pinging pixelant now

[2018-02-14 20:23] owocki opened #446 "bust the cloudfront cache when an issue updates"
https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/372

i just accepted this issue, and when the submission went through, the frontend wasnt marked as 'done' at first .  i had to wait at least 90 seconds and the refresh.

possible fixes
1. bust the cloudfront cache when an issue updates
2. just use a different API route, with diff cloudfront caching settings, when immed

[2018-02-14 20:31] owocki opened #447 "BACKEND -- Gitcoin External Bounties tool"
# What

 a `/tool` that would index bounties from across the web (even if they arent on gitcoin) and provide the community with the oppy to work for bitcoin bounties... or bounties where there isn't ETH staked.. etc

# Project status

* [X] Designs created
* [X] Frontend Coded
* [ ] Backend Work (thats the issue youre looking at)
* [ ] QA / Regression Testing
* [ ] Launch

# Checklist

## housekee

[2018-02-14 20:33] owocki commented on #447
cc @KennethAshley who is the person who coded the frontend!
and @nitinrgupta who did the designs

[2018-02-14 20:48] #446 closed

[2018-02-14 21:01] owocki commented on #439
might be worth putting some more info about what tone / voice we want to use for this to actually be bounty-able :)

[2018-02-14 21:02] PixelantDesign commented on #380
Great start @iliketobuildstuff!

- Take a look at the font sizes and weights and color on this page https://gitcoin.co/tools for left rail nav, header, and body copy.
- If you need additional assets like fonts, they can be found here https://github.com/gitcoinco/creative.
- For link color, please use #3e00ff.

When you have a minute please click the start work button on this page https://gitcoin.c

[2018-02-14 21:21] owocki opened #448 "As a site admin, I want a Gitcoin Drip Marketing Campaign that explains our vision (and how to use Gitcoin) over time, so we can enable our users to be successful."
# day by day marketing campaign

1. welcome to gitcoin, heres everything you need to know
2. here are some case studies of how gitcoin's been used in the past / here are the open bounties on the platform
3. why open source is important /  here's our vision of the world in 10 years

if people haven't engaged in several weeks
1. send them an email asking them to come back to slack

endgame:
1. help

[2018-02-14 21:22] owocki commented on #448
@PixelantDesign @vs77bb what do we think of the overall idea of having a drip marketing campaign to explain the what/why/how to new users?

[2018-02-14 22:41] owocki commented on #366
we've designed the submission logic to be pretty decoupled from tab to tab, so i dont think thats it.

i think what i'd like to do here is make it so that all of the fields (especially the ones in the 'advanced' section of gitcoin.co/funding/new ) are visible by default... that way theres no chance that they get glossed over upon submission.  it makes the form a little longer, but when youre putti

[2018-02-14 22:51] owocki opened #450 "gitcoin ENS subdomains"
# What

Enable anyone to create their own ENS subdomain by asserting that they own a github username.

For example, using this product, I should be able to claim owocki.gitcoin.ETH ( <username>.<gitcoinTLD>.ETH)

# Bounty

* Create a prototype of this application
   * Desired use case:
       1. Oauth to github to show that you own a username, then get redirected back to gitcoin
       2. on gitco

[2018-02-14 22:56] vs77bb commented on #445
Hi @KennethAshley are you planning on tackling this one? Excited to see where it goes! CC @owocki

[2018-02-14 22:57] KennethAshley commented on #445
@vs77bb Yea! Looking at this now!

[2018-02-14 23:08] vs77bb commented on #198
Hi @sethmcleod how's working going here? cc @owocki

[2018-02-14 23:10] vs77bb commented on #433
@mbeacom @PixelantDesign @owocki Gitcoin Bot went off here... assuming this is still open?

[2018-02-14 23:12] owocki commented on #433
this one was just us testing after the deploy

@mbeacom which of your submissions is your consensys/gitcoin wallet?  iill pay out to that one and you can just use it for work related things

[2018-02-14 23:13] sethmcleod commented on #198
Here is a design for the form (I'll also mock a modal version).

Went with a simple input field design. I'm willing to mock input states like hover or error; currently you can just see the focus state (blue outline). I'm assuming the title and description fields will have some character count limit so I included that.

Let me know if you'd like to see anything else here. Feedback is welcome!

![id

[2018-02-14 23:18] vs77bb commented on #233
@KamesCG We're coming for you!!! cc @owocki might be time to send this one back out to the crowd :)

[2018-02-14 23:23] owocki opened #451 "as a user, i want to be clear which bounty fields are going to be public, so i can manage my privacy"
on the submit/fulfill bounty page, make it clear that all of the data on the page is going to be public on the blockchain... so people don't think that their data won't be leaked

[2018-02-15 00:20] vs77bb commented on #152
@romanjesus @owocki Did this one need pay out?

[2018-02-15 00:31] sethmcleod commented on #198
Here is a concept for the list view along with a version of the form page as a modal. I won't be able to get to the second page (idea view) until tomorrow, but feedback is welcome for everything so far!

![idea-list](https://user-images.githubusercontent.com/7340187/36235288-9c111d7c-11bd-11e8-8fd7-54da195e218e.png)

![idea-modal](https://user-images.githubusercontent.com/7340187/36235290-9f7dc2da

[2018-02-15 00:36] #284 closed

[2018-02-15 00:40] owocki opened #453 "status not populating correctly on legacy issues"
see https://github.com/gitcoinco/skunkworks/issues/22#issuecomment-365792172

[2018-02-15 01:52] KennethAshley commented on #445
Had to stop working on this for a bit. Having some issues with my computer.

[2018-02-15 02:51] D3RPZ1LLA commented on #343
Here is my purposed UX design:
==
@mbeacom @owocki

Let me know what you guys think. I meant a bit beyond what a $45 bounty is worth but the page needed it. I'll be using this to compliment my Front End Engineer application to your company and others.

* All existing UI elements are still there but are restyled
* Adds a new multi-select field for types of "tech stack"
  * Colors are based on the c

[2018-02-15 04:22] abitrolly commented on #366
I don't see how can we resolve this until the issue repeats itself.

[2018-02-15 04:22] #366 closed

[2018-02-15 11:23] KamesCG commented on #233
I know... I know.

I have most the code ready. Just need to cleanup/test. Going to try and push something during a layover to Denver tonight or if the airplanes have some plugs, I'll code on the plane thing.

[2018-02-15 12:16] mkosowsk commented on #233
@KamesCG if your schedule is too busy to complete this one, don't worry about sending it back...

I know a guy who would be the perfect fit for it, his name is @KamesCloneG 👍 super stand-up guy 😂

[2018-02-15 13:17] vs77bb commented on #233
😂 😂 😂

[2018-02-15 14:38] owocki opened #454 "As a user, I only want to receive 1 match email per day, so I dont unsubscribe"
# the problem

![screen shot 2018-02-15 at 7 37 13 am](https://user-images.githubusercontent.com/513929/36261967-55f11bd8-1223-11e8-94af-7bf407a62234.png)

too many issues posted to the platform, not enough room in my inbox!

# the solution

* refactor the code that sends this email to be kicked off once daily, via a crontab, instead of triggered when a new issue is created
* add checks to make su

[2018-02-15 14:41] mkosowsk commented on #454
Counterpoint, I like to drink from the firehose and have a lot of emails...

I think I'm in the minority but would appreciate to still have this option!

[2018-02-15 14:42] owocki commented on #454
@mkosowsk maybe its worth making this configurable in ones email settings?

[2018-02-15 14:48] mkosowsk commented on #454
@owocki is the idea that one email would have multiple issues collected over a 24 hour time frame (if applicable)?

If that's the case, I'd be happy with that!

[2018-02-15 14:56] owocki commented on #343
hey @PixelantDesign curious what you think of the above ^^

[2018-02-15 14:58] owocki commented on #343
one thing i think we might want to consider doing is consolidating the filters (on the left hand side) into the search bar (up top).. not in the original scope though now that i look above it.

@D3RPZ1LLA what did you use to build this?  is there a JS library you had in mind? or was it all done in a design tool?

[2018-02-15 15:12] lazaridiscom opened #455 "void"

[2018-02-15 15:19] owocki commented on #454
that would be hot!  a rollup email with all of the funded work available thats a match for me would be 💯

[2018-02-15 15:37] owocki commented on #455
this is a *great* suggestion, thanks @lazaridiscom.

proposed direction: the 'warning' email should scrape all attached
* pull requests
* issue threads
* anything else (?) for comments

in this line of code => https://github.com/gitcoinco/web/blob/master/app/marketing/management/commands/expiration_start_work.py#L54-L81

and only send the warning based upon the timings in those blocks of code

[2018-02-15 15:58] lazaridiscom commented on #455
ah, i see that you point to code, very nice.

=> for the instructions to funders, something like this:

"
In order to increase both, the chances that your issue will be claimed, and that it will be solved quicker, provide things like:

* Clear instructions on how to setup a dev-environment (this is anyway needed in every project)
* A pointer to the relevant code modules or file
* Concise instructi

[2018-02-15 18:07] PixelantDesign commented on #448
@owocki Love it! Here is a great article that lays out sort of a formula on various campaigns types.  https://medium.com/@myxys/how-to-design-lead-nurturing-lead-scoring-and-drip-email-campaigns-9961024f6605.

[2018-02-15 18:17] PixelantDesign commented on #410
@vs77bb

[2018-02-15 18:38] owocki commented on #448
@vs77bb you field a lot of questions from newcomers to the platform.  any topics you feel like should be in the drip marketing campaign?

[2018-02-15 18:46] vs77bb commented on #234
@owocki Does this need to be in to-do? Not sure it's spec'ed enough for us to prioritize over some other quick wins

[2018-02-15 18:49] mkosowsk commented on #448
I have a topic that seems to come up when talking with new people about GitCoin!

"Why blockchain for the project?"

My answer is that blockchain removes a lot of intermediaries (per Lubin 😂) and simplifies the process compared to traditional methods. This makes it faster, cheaper, more secure, and easier to resolve conflicts (built into the contract!).

I had a friend counter with, "I can send yo

[2018-02-15 18:49] owocki commented on #234
i had hoped that by prioritizing it, @mbeacom and i could brainstorm some ways to fix it. to your point, it needs better specification

[2018-02-15 18:52] owocki commented on #448
here is my answer to the above question : https://github.com/gitcoinco/gitcoinco/issues/13

i think as a community we need to get better at articulating the end-user value to fat protocols and to blockchain.  right now i can articulate from a economic theory perspective why blockchain is better, but the average consumer doesn't give two shits about that

[2018-02-15 19:16] mkosowsk commented on #448
I like your answer 👍🏻

I want to chew on it and see if anything comes out that is a nice one or two sentence answer that the average consumer will give a shit about... a slogan that is snappy but still has truth to it. Nothing comes to mind at the moment 🤔

[2018-02-15 19:19] mbeacom commented on #234
@owocki 👍 I think we could migrate `Profile` to inherit `User` or relate to it.  That'll give us all of the benefits of the standard django user.

[2018-02-15 19:24] thelostone-mc commented on #411
For anyone who swings by here  : helping @PixelantDesign with this   ^_^

[2018-02-15 19:41] owocki commented on #448
i've got it:

ok, i was kidding.  i kid because i <3 to heckle bitcoin maximalists :)

[2018-02-15 19:53] mkosowsk commented on #448
😂🤣😂🤣

[2018-02-15 20:38] D3RPZ1LLA commented on #343
@owocki I built those images using GIMP, an open source version of PhotoShop.
I don't have a JS library in mind.
I can build it from scratch.

[2018-02-15 20:53] #261 closed

[2018-02-15 20:57] owocki commented on #261
just paid this out.. thanks @eswarasai ! https://etherscan.io/tx/0x312017647c37242b6b66b143ab9de63da6bb23816086120aa216ddfe9cef8915

[2018-02-15 22:59] JakeStoeffler commented on #455
Seems simple enough to add a check for issue references. I'll give it a shot!

[2018-02-15 23:17] owocki opened #456 "As an administrator, i want a batch funding tool, so i can fund issues more efficiently"
maybe we just need to have a CVS input, for github issue, amount of ETH, etc... and then you can fund multiple bounties at once

[2018-02-16 01:48] iliketobuildstuff commented on #380
Weird, I thought I had already clicked on start work even before I posted.

Is this how we want all forms to look? https://gitcoin.co/email/settings/

I couldn't find the fonts on the page but it looks like Futura and OpenSans  depending on the page?

[2018-02-16 02:37] scottydelta commented on #165
If we use [shields.io](https://shields.io/), we can show live price as well value in realtime.

eg: ![Bounty](https://img.shields.io/badge/dynamic/json.svg?uri=https://0358344f.ngrok.io/loadEthValue.json?amt=0.04&query=$.value&label=ETH&prefix=$&colorB=4d4d4d&colorA=4d4d4d&style=flat-square&logo=data:image/svg%2bxml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjUwMCA1MDA

[2018-02-16 07:40] JakeStoeffler commented on #455
@lazaridiscom @owocki Check out the [GitHub timeline API](https://developer.github.com/v3/issues/timeline/). The cross-reference issue comments @lazaridiscom was referring to are just one type of activity we can detect (event type `cross-reference`). In my commit above I propose a couple of other event types as well.  Curious what your thoughts are.  I have a bit more testing to do and then I'll s

[2018-02-16 07:45] lazaridiscom commented on #455
Seems you're lucky, this looks like a "catch-all":

[2018-02-16 07:49] JakeStoeffler commented on #455
@lazaridiscom Indeed, I don't think we want to count _every_ timeline event type as valid activity though. Do you agree with the ones I put in the code?

[2018-02-16 07:54] lazaridiscom commented on #455
(as a general rule: either copy&past, or directly point to information)

` activity_event_types = ['commented', 'cross-referenced', 'merged', 'referenced', 'review_requested']`

looks fine.

[2018-02-16 09:17] thelostone-mc commented on #410
Just throwing our random tooltip designs which I came across.. just to get the ball rolling

I know these are heavy but it has to be resuited for gitcoin but just laying it out there :)

- https://dribbble.com/shots/3852186-Popover-Explorations
- https://dribbble.com/shots/3778557-Seating-plan-Tooltips (This is one i like )

[2018-02-16 09:20] thelostone-mc commented on #261
@eswarasai treat \m/

[2018-02-16 10:28] scottydelta commented on #450
So what I am thinking is, I can add this as a tool under 'Tools in Beta'. On click, redirect to an html page which gets github username if logged in(otherwise redirected to github sign-in) and then use that username to let users create their subdomain ENS address. What will the sub domain form look like?

Also here at the [ENS docs](http://docs.ens.domains/en/latest/userguide.html?highlight=subdom

[2018-02-16 18:16] lazaridiscom commented on #455
@JakeStoeffler , I think I somewhere saw that @owocki is currently at some event, so expect some delays in processing your stuff.

And be aware that there is a "tip" label on issues, the process there is reversed: you do work, then @owocki tips:

https://github.com/gitcoinco/web/issues?q=is%3Aopen+is%3Aissue+label%3Awill-tip-for-turnaround

Possibly this is something you like.

[2018-02-16 20:38] lazaridiscom opened #460 "void"

[2018-02-16 22:24] gsvitak commented on #454
@mkosowsk have you already started work on this feature?

[2018-02-16 23:36] mkosowsk commented on #454
@gsvitak I have not started work on this, it's all yours!

[2018-02-18 01:56] lazaridiscom commented on #439
I picked this, easy stuff. (btw: If you specify what tone / voice you want, then you could write this document yourself, nearly same effort).

[2018-02-18 03:44] lazaridiscom commented on #460
good example: GridPlus/cryptobridge-contracts/issues/1

[2018-02-18 04:03] lazaridiscom opened #462 "[CRITICAL] Bounty resets after Submitting Work"
### Description

https://gitcoin.co/legacy/funding/details?url=https://github.com/ethereum/web3.py/issues/549

ethereum/web3.py/issues/549

I started work on this a week ago, and around half an hour ago I pushed "Submit Work".

The screen came back with the bounty being open and new ("21 minutes ago" ).

The transaction (looked up @ etherscan) says "Contract execution completed"

## Technical

* l

[2018-02-18 06:33] lazaridiscom commented on #165
@owocki , you should do the opposite: remove the $ value, instead of bombarding the users with even more information (which is repeated, again and again and again...). I can't express how much I am annoyed by those messages.

[2018-02-18 10:03] zheli commented on #462
Similar issue here: https://gitcoin.co/funding/details?url=https://github.com/ethereum/web3.py/issues/577

[2018-02-18 13:36] thelostone-mc commented on #460
@mbeacom @PixelantDesign thoughts?
I agree with @lazaridiscom on stripping the content to a one liner!

[2018-02-18 17:33] sethmcleod commented on #198
Hey team. I'm sure you're all still busy with ETHDenver but I'd love some feedback on what's done so far whenever there is chance. Cheers!

[2018-02-18 18:03] thelostone-mc commented on #198
@sethmcleod big fan of the modal design, It's clean and neat ❤️

In the list ideas page -> something seems off in the color ->  (the purple maybe or it could be just me)
We'd need an upvote idea added in too!!
stackoverflow / medium (might be an overkill with the clap ) / reddit.

Roping in the big gun /cc: @PixelantDesign

[2018-02-18 18:09] tra38 commented on #460
I find the $/USD figure useful for "tourist" users (like me) who is more used to measuring the value of a service using the USD currency -- and if you were to remove the automatic conversion, then I would need to do a manual conversion of ETH to USD. That being said, having a static figure may not be entirely useful, due to the fluctuating value of ETH/USD. The idea of using shields.io to display

[2018-02-18 18:47] lazaridiscom commented on #165
from @tra38 within https://github.com/gitcoinco/web/issues/460#issuecomment-366534977

ETH is a bit more "non-monetary", and seeing only ether trains the brain to see Ether as it is: as the main asset. But this goes into "Brain-Tricky Marketing Stuff" category.

As a problem-solver (role: developer, analyst, director): I don't want to see $ figures within repositories, again and again and again, a

[2018-02-18 18:49] lazaridiscom commented on #460
@tra38 , this issue is more or less about "one liner". I understand your position on the $ value thing, more in the relevant issue (copied your message there): https://github.com/gitcoinco/web/issues/460#issuecomment-366534977

[2018-02-18 18:57] lazaridiscom commented on #462
Update: I was able to "Start Work" again, but "Submit Work" results in:

`This issue is no longer active. Please leave a comment here if you need help.`

[2018-02-18 20:12] mbeylin opened #463 "Need to be able to stop work bounties as the funder"
##### Description
Either the issuer of the bounty, or the people who have submitted their intention to complete it, should be able to un-claim the bounty so it goes back to the open stage, for new people to know to start work.

[2018-02-18 20:25] lazaridiscom commented on #439
first draf tready. You'll have the result within 24h.

[2018-02-18 20:48] owocki commented on #462
Thanks for the report.  We are debugging at ETHDenver now.  / @mbeacom

[2018-02-18 20:54] mbeacom commented on #463
@mbeylin Users that have `Started` work on a bounty can currently `Stop Work` on a bounty, but we don't provide the funder with any mechanism to remove interested parties. 👍 This makes sense!

[2018-02-18 21:28] scottydelta commented on #165
I agree to @tra38's point aswell. People who don't deal in ETH have no idea how big or small a bounty is when only given in terms of ETH. Showing the $ value might be something which will attract more users to take up the tasks for the bounties.

[2018-02-18 21:29] sethmcleod commented on #198
Thank you for the feedback!

The pink arrows in the bottom right corner represent upvotes (and would be a button) and the speech bubble icon below it represents comments. Do you think it's too subtle?

I went with an open source icon set called [Vicons](https://dribbble.com/shots/1663443-60-Vicons-Free-Icon-Set) to match the outline theme most of the graphics have.

[2018-02-18 21:47] mbeacom commented on #462
@lazaridiscom Do you happen to have the tx for your submission?

[2018-02-18 21:48] lazaridiscom commented on #462
you mean this here?:

https://etherscan.io/tx/0x052094c971244fff9df186b13c12aa81e7c8b8e644934923619682dd0fbd1bde

[2018-02-18 22:18] lazaridiscom commented on #462
Nice coincidence!

[2018-02-18 22:25] lazaridiscom commented on #165
Ok folks, I understand you perfectly, and one part of me wants this info, too. @scottydelta 's suggested shields.io seems the way to go. It is perfectly valid for use within gitcoin.co itself.

As for Github:

There are people  give a **piece of rice** about your gitcoin system,. Realize that you're neither the center of the world, nor the center of github.

You **must** realize that you **spam**

[2018-02-18 22:42] scottydelta commented on #165
I like @lazaridiscom's suggestion here at issue #460, we can finally just have:

This issue now has a funding of ![Bounty](https://img.shields.io/badge/dynamic/json.svg?uri=https://0358344f.ngrok.io/loadEthValue.json?amt=0.04&query=$.value&label=ETH&colorB=4d4d4d&colorA=4d4d4d&style=flat-square&logo=data:image/svg%2bxml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjUwMCA

[2018-02-18 23:28] lazaridiscom commented on #165
Ha!!! The bot doesn't give up without a fight!

[2018-02-18 23:36] lazaridiscom opened #464 "void"

[2018-02-18 23:45] lazaridiscom commented on #464
(I can provide more info and some starting-requirements, if this one gets a "go" )

[2018-02-19 04:55] scottydelta commented on #464
How about this, when an issue is funded, a banner can be inserted at the starting of the issue and later, the banner is modified based on the progress of the issue. This way funding related info is always at the start of the issue. do you have any other approach in mind @lazaridiscom?

[2018-02-19 05:46] thelostone-mc commented on #198
@sethmcleod that reminded me of a warning sign ! I meant to ask what that was :P
I fell victim to the Law of defaults, I just assumed the upvote would be on the left ! My bad

Even if we did change the color -> I think it might be to subtle, the icon reminded me of the [traffic sign](https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Singapore_Road_Signs_-_Warning_Sign_-_2-way_traffic_strai

[2018-02-19 05:55] lazaridiscom commented on #464
Actually that's what I described above. Here again in form of a bullet-list, easier to digest:

Those would be the initial set of requirements, but there are some more to come.

[2018-02-19 07:25] lazaridiscom commented on #439
Please note that this is not a pixel-perfect ready document.  It's a 0.1 draft at best, and it is what is needed most, taking in account what I've seen till now, from Gitcoin & Co.!

So, @owocki was of course right about this "might be worth putting some more info about what tone / voice we want to use". Requirements are needed - but those are usually given from the top-level of an organization (s

[2018-02-19 08:46] thelostone-mc commented on #439
Ah did not see things this way!
TBH honest this is the first time -> reading a communication guide. It's def got points which makes sense!
I'm assuming that this tone would be have to be adapted by the gitcoin family across platforms ( not just reviews / PR / slack ) ?

[2018-02-19 09:25] lazaridiscom commented on #439
Yes, would say it should be used everywhere. Although, different platforms (as you say) require sometimes different strictness and professionalism. And a "casual" channel e.g. on slacks means you can talk... more casual - without crossing lines, as the public reads too.

@PixelantDesign mentioned the following example: https://styleguide.mailchimp.com/web-elements/, which has different docs for di

[2018-02-19 09:55] nitinrgupta commented on #221
@owocki anything required from my side on this issue?

[2018-02-19 14:47] sethmcleod commented on #198
With that in mind here is a version that uses a heart instead of an up arrow. I think it fits a lot better, especially if we stick with that brand color.

I should have a concept for the second page (idea view) up today.

![image](https://user-images.githubusercontent.com/7340187/36383315-c828c23a-1559-11e8-9176-fef08698dde1.png)

[2018-02-19 16:42] sethmcleod commented on #440
I'd love to help out with this one! See my work on the [ideas page](https://github.com/gitcoinco/web/issues/198#issuecomment-365790730)

[2018-02-19 16:50] sethmcleod commented on #433
@mbeacom Are you owning this? I did some work on form styles for my [idea page](https://github.com/gitcoinco/web/issues/198#issuecomment-365776499) submission, and I figured I would share those here in case it gets approval. More than willing to convert these to HTML/CSS if needed.

![image](https://user-images.githubusercontent.com/7340187/36388734-df123948-156a-11e8-8481-e7fb6c6cbb78.png)

[2018-02-19 16:51] thelostone-mc commented on #198
Yup this is a definite improvement !! The color makes sense with the change in icon

[2018-02-19 17:13] mbeacom commented on #433
@sethmcleod Thank you for reaching out! We will be reissuing a bounty for this issue (we were using the original bounty attached to this issue to test something we merged). @PixelantDesign What do you think about Seth's proposal?

[2018-02-19 18:34] mbeacom opened #465 "As a local env user, I want to be alerted about unsupported networks appropriately"
##### Description
Our current checks for supported vs unsupported web3 networks informs the local development environment user that they are connected to an unsupported network while using `mainnet`, but tells them to use `mainnet or rinkeby`.

##### Possible Implementation
Modify both `shared.js` starting on `L498` and `legacy/shared.js` starting on `L475` to display appropriate alternatives for

[2018-02-19 19:45] tardisdriver commented on #343
@owocki

Like this? Because this is definitely what I'd do. Easy enough to code up frontside, but I just used GIMP to quickly throw a visual together.

<img width="138" alt="gitcoinco" src="https://user-images.githubusercontent.com/24574431/36394668-f6871d40-157a-11e8-9568-fdcd53b82a19.png">

[2018-02-19 20:25] lazaridiscom commented on #433
@PixelantDesign , you wrote: "**Bitcoin** brand"

[2018-02-19 20:43] bhenze commented on #165
So what is the plan for this issue then? Do we want to update the story to reflect the proper verboseness?

[2018-02-19 20:50] lazaridiscom commented on #165
@bhenze , as long as nothing explodes and things are reversible: just go on! (this is a general rule, i've no authority in this project, final decisions are @owocki )

[2018-02-19 21:20] bhenze commented on #165
Sounds good! thanks for the input.

[2018-02-19 21:34] mbeacom commented on #165
@bhenze @lazaridiscom Glad to have you both here and actively engaged!
If you're ever uncertain about whether or not to proceed with working on something, feel free to reach out to us / request evaluation of your proposed idea. We'd be more than happy to work through it with you.  When in doubt, feel free to reach out.
We encourage community feedback and contributions!

For this particular issue,

[2018-02-19 22:19] vs77bb commented on #464
@lazaridiscom @scottydelta @mbeacom @owocki This is a good idea which I think fits our current focus to clean up the UI. There have some nuance to account for when building a solution.

We’ve been having issues where issues are moved from “Open” to either “Started Work” / “Submitted Work”, only to then stall out and more or less become “Open” again.

However, we haven’t been able to think of a sys

[2018-02-19 22:28] sethmcleod commented on #198
Here is a concept for the view page:

![idea-view](https://user-images.githubusercontent.com/7340187/36399534-42a843ce-159a-11e8-9797-9e0468abaf7d.png)

[2018-02-19 22:36] bhenze commented on #165
@mbeacom happy to help where I can! And yeah, that sounds great.

[2018-02-19 22:38] lazaridiscom commented on #464
@vs77bb , You should start the implementation, independently of the other issues you mentioned (note that I do not want to claim this task.). I'm out here now, as I started some other tasks.

[2018-02-20 00:48] KennethAshley commented on #463
@mbeacom My guess is the funder would be able to choose from a list of users that started working on the bounty and "un-start" them?

[2018-02-20 04:53] lazaridiscom commented on #198
@sethmcleod , the corrected design looks very nice. Discqus looks like amateur work below your design.

[2018-02-20 10:35] lazaridiscom commented on #463
Zero Barrier "Start Work", just to provide Zero Barrier "Sneeze Off"?

You are on the best way to produce  a **totally ordinary** money-centric platform.

[2018-02-20 14:15] vs77bb commented on #463
@mbeacom @KennethAshley Yes. There should also be functionality to return the bounty to an 'Open' state, if the funder ends up.

@lazaridiscom I can see where you're coming from, but don't think the current state of the platform reflects your concerns. Funders (who are generally OSS developers / repo maintainers themselves) are implicitly incentivized to treat anyone working on their projects well

[2018-02-20 14:18] sethmcleod commented on #198
You're too kind @lazaridiscom, thank you!

I've attempted to submit this work but I keep running into the `This issue is no longer active.` error, even when I try different gas limits and prices.

[2018-02-20 14:32] lazaridiscom commented on #198
There were discussions to cut the gitcoinbot's messages to one line. I guess the bot went mad, and started resetting the bounties. Have a little bit patience, until the kind folks of gitcoins shot-circuits the rebel.

[2018-02-20 14:40] lazaridiscom commented on #463
`Apply` button could do the job. And switching into the role of a Funder, of course I would like to have a `Fire` button. But we humans tend to abuse those buttons...

[2018-02-20 17:08] PixelantDesign commented on #222
*Example*
Name: Alisa March
Role: Product Design Lead
Favorite Food: Apple Cider Doughnuts
Favorite Gitcoin Feature: Tips beause it's a great way to show appreciation for your fellow community member's work!

[2018-02-20 17:24] mbeacom commented on #222
Name:  Mark Beacom
Gitcoin Slack: mbeacom
Role:  Lead Engineer
Favorite Food:  Dolsot Bibimbap
Favorite Gitcoin Feature:  Start/Stop Work - Allowing bounty hunters to convey interest in a particular bounty empowers seekers to inform the funder of their interest in working on the bounty, while mitigating duplicate work by fellow seekers.  Ultimately, this could become a mechanism for collaboration

[2018-02-20 17:37] coderberry commented on #222
Name: Eric Berry
Gitcoin Slack: coderberry
Role: OSS Funding
Favorite Food: Pastel de nata
Favorite Gitcoin Feature: Chrome/Firefox integration via the extension

[2018-02-20 20:57] vs77bb opened #466 "Issues in 'Work Started' should be 'Open'"
See example: https://github.com/gitcoinco/web/issues/38

See issue #420

[2018-02-20 21:00] #466 closed

[2018-02-20 21:09] vs77bb commented on #420
Truly ***Open Issues*** currently in ***Work Started***

Example in 'Work Started': Gitcoin Security Bounties [#38]

### Recommendation
After a 48 hour period, if there is no comment on the Github thread from the developer, return the issue to an 'Open' status on Gitcoin.

[2018-02-20 22:52] lazaridiscom commented on #462
The "[CRITICAL]" label ensures that everyone keeps this issue on their radar (I lost it, and I've no idea what "Legacy" means). Note that I (the user) have priority in the issue-tracker (especially when it affects such a critical bug).

@owocki , this one is "chief's work". It can reflect very(!) negative on the reputation of Gitcoin. You can't just keep silence for 2 days when such a issue happen

[2018-02-20 22:54] mbeacom commented on #462
@lazaridiscom `Legacy` refers to bounties using the old processing logic and legacy gitcoin contract.

[2018-02-20 22:57] lazaridiscom commented on #462
@mbeacom (yeah, as a developer i understand this. Here I am in the user-role, so I can give you  some 'real live feedback' to act. Once gitcoin grows, more users will be in my 'role'. Let me know if I an do anything to help you spot/fix this)

[2018-02-21 00:01] lazaridiscom commented on #460
Seriously, do something.

"Work has been started on the 0.7 ETH (642.53 USD) funding by:

    @lazaridiscom

Please work together and coordinate delivery of the issue scope. Gitcoin doesn't know enough about everyones skillsets / free time to say who should work on what, but we trust that the community is smart and well-intentioned enough to work together. As a general rule; if you start work firs

[2018-02-21 00:40] mbeacom opened #467 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/227/](https://rollbar.com/mbeacom/gitcoin/items/227/)

[code]

[2018-02-21 01:09] ckhatri commented on #465
Hey @mbeacom is this what you wanted?

<img width="214" alt="screen shot 2018-02-20 at 7 08 34 pm" src="https://user-images.githubusercontent.com/8815182/36457809-8498a6e8-1671-11e8-8765-bead5e8180b1.png">

[2018-02-21 05:51] lazaridiscom opened #469 "Provide a Draft Design for the Bounty Overview Page"
### Intro

This is a tiny **reserved** funded task, which addresses the designer ( @sethmcleod ) of this here https://github.com/gitcoinco/web/issues/198#issuecomment-366714269. So he has "claim priority". Should he not wish to claim, then this task is open for all.

### Task

The task is to create a draft remake of the "Issue Explorer" (https://gitcoin.co/explorer), with the following requirement

[2018-02-21 08:17] thelostone-mc commented on #463
@vs77bb @mbeacom
Did gitcoin bot just totally ignore my start work request and republish the bounty  😂
I'm a lil hurt to be honest :P

It happened when the title gets changed , the bot posted it just after @PixelantDesign renamed the issue. Might need to look into that

[2018-02-21 08:34] zheli commented on #462
@lazaridiscom I got my bounty on Monday so I can't try now :)

[2018-02-21 09:42] lazaridiscom commented on #198
@sethmcleod , take a look at this please: #469

[2018-02-21 11:43] lazaridiscom opened #470 "Place Bounties in a Project Tab"

[2018-02-21 14:11] mbeacom opened #471 "DoesNotExist: BountyFulfillment matching query does not exist."
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/268/](https://rollbar.com/mbeacom/gitcoin/items/268/)

[code]

[2018-02-21 14:12] #471 closed

[2018-02-21 14:54] mbeacom commented on #465
@ckhatri Yes.  If possible, it should display `rinkeby` and custom rpc for local development.

[2018-02-21 15:59] sethmcleod commented on #469
I'd love to take this one on @lazaridiscom but I may not have availability until this weekend (Friday is a deadline for one of my projects). I'll accept the issue as soon as I have some free time; if someone else beats me to it that's cool too :)

[2018-02-21 17:23] sethmcleod commented on #469
Here is a concept for the issues list. A few things to note:

- The Web3 status area and controls (searching and sorting) have been moved onto one line.
- The left nav filters are hidden by default and only show up when the *Show filters* button is clicked (when that happens the filter section would slide in from the left and the main content area would shrink a bit in width) in order to reduce vi

[2018-02-21 17:40] owocki commented on #165
looks like gitcoin bot is going haywire.  sorry everyone.  planning on triaging today / tomorrow

[2018-02-21 17:40] scottydelta commented on #450
@owocki I had started working on this issue on gitcoin but now its like I never started work according to gitcoin, possible bug?

[2018-02-21 17:54] owocki commented on #462
@lazaridiscom appreciate the issue filing here !  i am still working through my ETHDenver backlog, this is high on my triage list though

[2018-02-21 18:02] vs77bb commented on #463
@owocki Gitcoin Bot running wild over here!

@thelostone-mc Sorry about this, appreciate your good humor 😂please work this as if it is yours while we get the issue resolved 👍

[2018-02-21 18:03] thelostone-mc commented on #469
@sethmcleod big fan of the design  \m/
/cc @PixelantDesign this is pretty sweet !! I know you've got stuff planned for the pages but I vote we consider this layout too. ^_^

[2018-02-21 18:07] ckhatri commented on #465
Great! @mbeacom I've gone ahead and done a PR. #472

[2018-02-21 19:20] vs77bb commented on #462
@lazaridiscom: @mbeacom pushed some frontend fixes that has triaged this issue. You should see your submission listed below. It's difficult to test this as it's from our legacy smart contracts (before integrating Standard Bounties), but he pushed a fix to a callback which hopefully will clean this up going forward. We'll continue to monitor closely and test a few other legacy issues as we can.

Le

[2018-02-21 20:23] vs77bb commented on #465
🙌 Good work on the first bounty, @ckhatri!

[2018-02-21 20:46] vs77bb commented on #469
Very cool, @sethmcleod! Wonder if we can do anything with the white space on the left (or otherwise show the filters (perhaps below *Open Mainnet Funded Issues*).

Looping in @owocki as well. Curious what @PixelantDesign thinks 🙂🤔

Without boiling the ocean, this mockup reminds me of a thought about a 'Pinned Post' type feature for the Issue Explorer - perhaps highlighting issues from great repo,

[2018-02-21 20:51] sethmcleod commented on #469
I like the idea @vs77bb, I had something similar in mind for the ideas board. These featured issues could have a different outline color and perhaps even a _Featured_ label. Check [this](https://github.com/gitcoinco/web/issues/198#issuecomment-365790730) out for context.

[2018-02-21 20:55] vs77bb commented on #450
@scottydelta @owocki This is a known bug on our side, we're working through this right now.

@iamonuwa please defer to @scottydelta on this one for now. Apologize for the confusion here.

[2018-02-21 20:57] vs77bb commented on #447
@gsvitak Are you planning on running with this one?

@owocki @mbeacom This is an example where a Gitcoin Bot poke in would make sense 👍

[2018-02-21 20:59] gsvitak commented on #447
@vs77bb yes currently in progress.

[2018-02-21 21:04] vs77bb commented on #198
cc @owocki @mbeacom Can we get @sethmcleod's submission for this one manually added? While we sort out our friend @gitcoinbot 💪... 🙂

[2018-02-21 21:16] vs77bb commented on #447
Great!

On Wed, Feb 21, 2018 at 2:59 PM, Greg Svitak <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-02-21 21:17] vs77bb commented on #469
Very nice, I see now. Cool to know we can progress that direction quickly
if we so choose :)

On Wed, Feb 21, 2018 at 2:51 PM, Seth Mcleod <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-02-21 21:28] mbeacom commented on #465
@ckhatri Please `Submit Work` on the bounty and I will pay it out.

Thanks again!

[2018-02-21 21:47] ckhatri commented on #465
@mbeacom I've submitted! I put a gas price of 1 since that's what it suggested. Probably will take a while.

Thanks to y'all for creating this community!

[2018-02-21 21:51] owocki opened #474 "Integration branch triage issues"
- [ ] theres an issue with submission emails going out / github comments still seem to go out.
- [x] gitcoinbot makes a ton of comments on existing issues... when it shouldnt ( https://github.com/gitcoinco/web/pull/407#issuecomment-366764160 )
- [x]  re-enable sync_geth
- [x]  interest comment id > many to many transfers not working when a bounty is updated (@mbeacom working on a fix before his fl

[2018-02-21 21:54] owocki commented on #474
@mbeacom @jasonrhaas

[2018-02-21 23:48] owocki commented on #474
bug report from @eswarasai
 https://gitcoincommunity.slack.com/archives/G9A2ZDDD3/p1519063662000239

[2018-02-21 23:58] owocki commented on #198
i really like the concept for the view page and the index page above it...  very colorful and clean. @PixelantDesign curious if you have any thoughts here?

[2018-02-22 00:21] owocki commented on #474
more gitcoinbot issues => https://github.com/gitcoinco/web/issues/463#issuecomment-367415406
https://github.com/MetaMask/metamask-extension/issues/3127#issuecomment-367205284

[2018-02-22 00:29] owocki commented on #450
sorry about the erroneous gitcoinbot issues.. i am triaging as we speak.. expect an update soon

[2018-02-22 01:22] PixelantDesign opened #475 "Add Notes Field When Funding an Issue"
*Not Ready to Be Worked On*

As a repo owner, I'd like the ability to add notes for referencing taxes later.

# Description
Add ability to input notes when funding an issue.

# Definition of Done
Notes field is added

# Reviewers
@pixelanDesign

[2018-02-22 01:35] lazaridiscom commented on #462
It shows my submission now, and a "Accept Submission" button (curreclty disabled for me). So it seems fine.

[2018-02-22 02:59] gsvitak commented on #447
@owocki @mbeacom for the new database fields do you have schema information for source_project and amount_denomination? For example, is source project linked to another model?

[2018-02-22 03:07] lazaridiscom opened #476 "Provide "Discuss" to keep Bounty Assignment Discussion out of Issues"
Issues are sometimes overloaded with gitcoincobot messages and messages of the gitcoin-team.

In order to avoid github users going mad (https://github.com/MetaMask/metamask-extension/issues/3249#issuecomment-367470641), bounty-assignment talk should be relayed to gitcoin.

This could be easily achieved by adding e.g. Discuss (e.g. during extension of this task #469 )

[2018-02-22 03:16] owocki commented on #476
this is an interesting idea to put on the roadmap @PixelantDesign

[2018-02-22 03:18] owocki commented on #447
source_project = varchar (255), can be one of status open bounty, fund request token, aragon nest, etc..

amount_denomination = varchar(255) - can be any of the tokens contract addresses in tokens.py file

[2018-02-22 03:45] owocki opened #477 "new_bounty marketing emails need to be moved to a background job"
related commit: dd9f45ed1d4866caea6eef46a0e1051369c991ae

the new_bounty functionality doesnt scale because there are typically a bunch of matches generated in this loop => https://github.com/gitcoinco/web/blob/master/app/dashboard/notifications.py#L416-L427

please move this code into a background job.  two ways we could go:
1. invest in a true event driven procescesing system (like celery, or a

[2018-02-22 04:14] owocki commented on #469
this is super interesting to see -- would love to see @PixelantDesign looped in

[2018-02-22 04:26] owocki commented on #450
just put in a fix for the gitcoinbot craziness.  gonna monitor for the next few hours to make sure we're all good.

[2018-02-22 04:26] owocki commented on #463
just put in a fix for the gitcoinbot craziness.  gonna monitor for the next few hours to make sure we're all good.

[2018-02-22 04:29] owocki commented on #462
thanks for handling this @mbeacom and the bug report @lazaridiscom

[2018-02-22 04:30] owocki opened #478 "People shouldn't be able to start work on more than 3 issues at a time"
Right now, there is a pattern of people being greedy with 'starting work' on many issues at a time, but not truly working on them.  We could consider having an upper limit on the number of issues one can have actively claimed at one time.

[2018-02-22 04:55] owocki commented on #474
i wrote some helper scripts to migrate the interests from the old bounties to the new ones http://bits.owocki.com/3G110S3X3e0t/Archive%202018-02-21%20at%209.55.20%20PM.zip

[2018-02-22 05:00] owocki commented on #454
hi from gitcoin.co here ==> was just debugging an issue with gitcoinbot leaving too many comments about work starting.. i put in a fix and we should be okay now.

[2018-02-22 05:01] owocki commented on #380
hi from gitcoin.co here ==> was just debugging an issue with gitcoinbot leaving too many comments about work starting.. i put in a fix and we should be okay now.

[2018-02-22 05:11] owocki commented on #474
i cannot seem to reproduce this

[2018-02-22 05:26] owocki commented on #222
Name: Kevin Owocki
Gitcoin Slack: owocki
Role: All teh things
Favorite Food: Avocado Toast
Favorite Gitcoin Feature: The Community

[2018-02-22 05:28] owocki commented on #463
looking okay now.. thanks for your patience folks

[2018-02-22 05:29] gsvitak commented on #447
I am a little confused about how to populate the database and would like a little more explanation behind the design.

Originally, I was thinking that I had to use the github API to pull down the issues and their details from
https://github.com/JGcarv/ethereum-bounty-hunters/issues. I was thinking the data would be somewhere in the github issue itself.

However after looking at the data in the iss

[2018-02-22 05:33] lazaridiscom commented on #462
@owocki ah! Thats how tips work! Thanks!

(sidenote: got the tip notification email twice)

[2018-02-22 05:39] owocki commented on #115
another report of getting the email twice https://github.com/gitcoinco/web/issues/462#issuecomment-367572420

[2018-02-22 05:39] owocki commented on #462
word; were tracking that over at https://github.com/gitcoinco/web/issues/115

[2018-02-22 05:40] owocki commented on #462
let me bounty that now actually

[2018-02-22 05:51] lazaridiscom commented on #462
well, github starts non-sense now, too: " owocki commented 2 hours from now "

[2018-02-22 05:53] owocki commented on #462
hehe; gitcoin isnt the only git-network with a bug here there ;)

[2018-02-22 05:58] lazaridiscom opened #479 "Provide Draft Design for the Bounty Detail Page"
### Intro

This is a tiny **reserved** funded task, which addresses the designer ( @sethmcleod ). Its a follow-up to #469. Should he not wish to claim within 3 days, then this task is open for all.

### Task

Provide a draft design for the bounty detail-page, based on the #469 draft.

#### Requirements:

* place "Discuss"
* Visual only (ok, two or three comment sentences allowed)
* Invest not more

[2018-02-22 05:58] owocki commented on #447
its a little late tonight and ive had a beer with dinner, so i can't go into a whole big comment abou tthe system design... but i did have a quick suggestion.

the `sync_geth` command is meant to scrape web3 and import the bounties that exist on the blockchain into the postgres db.  could you try that?  details below 👇

https://github.com/gitcoinco/web#optional-import-bounty-data-from-web3-to-your

[2018-02-22 06:01] owocki commented on #463
sorry about this @thelostone-mc  -- my bad

[2018-02-22 06:10] owocki commented on #198
@sethmcleod want to submit your work over at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/198 ?

[2018-02-22 06:14] lazaridiscom commented on #469
@sethmcleod , me curious! one more draft, if you want: #479

[2018-02-22 06:19] lazaridiscom commented on #462
Yep! (seems they calculate the time in relation to my pc-clock, which is for some reason -2 hours...)

[2018-02-22 06:22] owocki commented on #464
i'm purdy excited about this!

[2018-02-22 10:28] lazaridiscom commented on #479
@owocki , take a look here, it fired twice.

[2018-02-22 13:33] sethmcleod commented on #198
I'd love too @owocki but I keep getting this error, no matter what gwei I try:

![image](https://user-images.githubusercontent.com/7340187/36541178-103a3254-17ab-11e8-9b77-b8c39d6ff8c9.png)

[2018-02-22 13:36] lazaridiscom commented on #198
@owocki , looks like my legacy-bug you fixed yesterday.

[2018-02-22 13:39] sethmcleod commented on #479
Sure thing, I'll put something together as soon as I can. Most likely by tomorrow but definitely before EoD Saturday.

[2018-02-22 14:35] PixelantDesign commented on #343
@owocki @mbeacom

I would love to see us move the left rail filters to this paradigm- See attached. Would need to work through what the design actually looks like given that the current implementation are radio buttons which allow for selection of single item vs ability to check all from different sections.

<img width="723" alt="screen shot 2018-02-21 at 11 10 22 am" src="https://user-images.gith

[2018-02-22 14:46] iamonuwa commented on #450
@vs77bb noted

[2018-02-22 14:58] mkosowsk commented on #343
Looks great!

When design is fleshed out, I'd be interested in grabbing this one... looks like a big value add!

[2018-02-22 15:30] PixelantDesign commented on #198
@sethmcleod
looking great!

- Do the green and orange tags function as buttons as well?
- What font are you using for body copy?
- Would it be possible to put the favorite and comment side by side (base align with submitter).

Feel free to hit me up on slack if you have any questions.
Thanks!

cc: @owocki

[2018-02-22 15:55] sethmcleod commented on #198
@PixelantDesign

- Yes I was thinking those would be buttons that filter the results based on the selected tag, assuming that functionality is already available.
- [Source Sans Pro](https://fonts.google.com/specimen/Source+Sans+Pro)
- Definitely! I tried that and I believe it looks best with the favorite on the right.
- By that do you mean fully rounded corners on all buttons?

![image](https://us

[2018-02-22 16:45] thelostone-mc commented on #198
IMHO the non-pill version looks better ! 😅

[2018-02-22 16:47] thelostone-mc commented on #343
@mkosowsk FTW \m/

[2018-02-22 17:05] vs77bb commented on #411
@thelostone-mc: This one is yours (first dibs) :)

[2018-02-22 17:14] vs77bb commented on #420
@owocki Does this one make sense to you? We think it's high priority...

[2018-02-22 17:37] KamesCG commented on #421
Will work on this weekend.

[2018-02-22 17:53] PixelantDesign commented on #433
@mbeacom @sethmcleod  I like it!

[2018-02-22 18:09] mkosowsk commented on #343
@thelostone-mc missed you in Denver dude, hope we meet irl sooner rather than later... let me know next time you're in NYC!

[2018-02-22 18:48] owocki commented on #474
a bunch more re-submissions of funded issues happened this morning at 6am....

Slack API Tester APP [6:03 AM]
new_funded_issue worth 0.02 ETH: Privide Draft Design for the Bounty Detail Page

https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/479&slack=1

Slack API Tester APP [8:02 AM]
new_funded_issue worth 0.08 ETH: get Faucet Page across the finish line

https://gitc

[2018-02-22 19:10] owocki commented on #474
12c88376b8b0948d645839f432183441a8ddaca8 should fix the issue with https://github.com/gitcoinco/web/pull/407#issuecomment-367708132

[2018-02-22 19:13] owocki commented on #165
just put in a fix ( https://github.com/gitcoinco/web/commit/12c88376b8b0948d645839f432183441a8ddaca8 ) .  deleting the erroneous comment right now

[2018-02-22 19:31] owocki opened #480 "'new work' comments appear twice on github issue from gitcoincobot"
https://gitcoin.co/funding/details?url=https://github.com/Distense/distense-ui/issues/197&slack=1

this bounty was submitted at about the time that `sync_geth` runs.. i think that both the web-centric process and the cronjob (sync_geth), tripped over each other..

todo - put a semaphor on insertion of bounties.  each standard bounty id / network combo should have its own semaphor.

[2018-02-22 20:43] owocki commented on #480
looks like the tx was submitted twice?

from https://github.com/Distense/distense-ui/issues/197 that thread:

[2018-02-22 20:48] owocki commented on #474
current issues im tracking now

- old_bounties in `sync_geth` management command returning None and creating a new bounty when thats just not true
- interested m2m not getting transferred over
https://github.com/Distense/distense-ui/issues/197

[2018-02-22 21:12] scottydelta commented on #450
@owocki re-tagging you to the [comment](https://github.com/gitcoinco/web/issues/450#issuecomment-366198436) in case you missed it.

[2018-02-22 21:50] mbeacom opened #481 "Http404"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/283/](https://rollbar.com/mbeacom/gitcoin/items/283/)

[code]

[2018-02-22 21:52] D3RPZ1LLA commented on #343
@PixelantDesign
That's a great improvement for the left rail.
What do you think of my design for the top search?

[2018-02-22 23:36] lazaridiscom commented on #165
@owocki , i think if you delete the comments from the bot-account, then this "owocki deleted a comment from gitcoinbot 2 hours ago" will not appear.

[2018-02-22 23:47] kibagateaux commented on #408
Sorry I was playing with the UI on your website, didn't know it automatically signed me up as participating. Please disregard 😁

[2018-02-22 23:53] lazaridiscom commented on #479
@sethmcleod , you can claim the task ("Start Work")

@owocki , i'm under fire!!! - But hey, look my sentence above... "Claim Task" or "Claim Issue" should possibly be on the button in the UI. Just a thought.

[2018-02-23 00:17] mbeacom opened #482 "Exception: attempting to create a new bounty when is_greater_than_x_days_old = True"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/293/](https://rollbar.com/mbeacom/gitcoin/items/293/)

[code]

[2018-02-23 00:19] mbeacom opened #483 "AttributeError: 'NoneType' object has no attribute 'pk'"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/294/](https://rollbar.com/mbeacom/gitcoin/items/294/)

[code]

[2018-02-23 12:20] mbeacom opened #485 "Exception: attempting to create a new bounty when is_greater_than_x_days_old = True"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/293/](https://rollbar.com/mbeacom/gitcoin/items/293/)

[code]

[2018-02-23 13:50] lazaridiscom commented on #439
@PixelantDesign , @vs77bb , @owocki - send something in, see: https://github.com/gitcoinco/web/issues/439#issuecomment-366607355

[2018-02-23 14:16] thelostone-mc commented on #411
@PixelantDesign looked into this, it's pretty straightforward :)

**/toolbox**
![screenshot-2018-2-23 gitcoin toolbox](https://user-images.githubusercontent.com/5358146/36597467-38cf7966-18cf-11e8-8ac8-6a4115e7f95b.png)

**/profile**

I'm changing the styling just a tad bit on the profile page to make it look better (barely noticeable )
but for that this https://github.com/gitcoinco/web/pull/323 n

[2018-02-23 14:59] gsvitak commented on #447
@owocki Thanks.. have been looking at the link provided in the last comment.

I am sorry I am not completely following. Would have 5-10 minutes to do a slack chat or a zoom call to review? I am available most of the day today or anytime this weekend.

G

[2018-02-23 15:26] owocki commented on #480
https://etherscan.io/tx/0xa6ece7525a155bc1664f90cd36720137f466cf559c6837205c769ea0d06afa33
https://etherscan.io/tx/0xff0643f7a5417bb178f907645f73c8c9341844df86b67d4138efd357a6da7365

speaking with @JohnAllen it looks like there were actually two tx's for the same github url

[2018-02-23 15:31] leonprou commented on #408
Interesting project. I want to try this bounty, but need some help.

I cloned the project and got it running with `docker`. I ran tests with:

` docker-compose exec web pytest `

But received an error message

As I understand `eth-abi` dependancies conflicts with projects dependencies.  But updating `eth-utils` to 1.0.0b2 I've got another error with `web3.py` I think.

I did something wrong?

[2018-02-23 15:54] lazaridiscom commented on #208
@owocki , I insist that this was an in-topic & good result! You should not be totally fixated on an bounty-description, especially when its a bit unclear. Results count. Read through this issue, and see the suggested new Tool: a book (which I think you should really start to write).

@thelostone-mc , @vs77bb , @PixelantDesign - I like to call-in a "trial". You 3 vote if my contributions within thi

[2018-02-23 17:14] JohnAllen commented on #480
I may have done it twice --  I assumed it was my fault and not a bug, so I'm not 100% sure either way.  Is mine the only one that happened twice?

[2018-02-23 17:18] JohnAllen commented on #480
My two task creation txs were submitted/created 3 minutes apart if that helps at all.

[2018-02-23 17:39] thelostone-mc commented on #208
IMHO it sort of deviates from what @owocki had expected which was (quoting @vs77bb )

My sense was always that you were looking to fund design bounties for new tool ideas.
Now, my guess is you'd like both to happen, ideally. May be worth breaking out into two separate bounties.

You said that the entire idea has re-thought which IMO goes beyond this issue and doesn't essentially solve what @owocki

[2018-02-23 17:43] thelostone-mc commented on #411
@PixelantDesign can we still keep the metamask status for `/funding' page as it's relevant.
I'd like to know My metamask status and which network i'm connected to while I'm on this page

If you have thoughts on pushing that up to the navbar or something else, I can add this along with that

/cc: @owocki @mbeacom

[2018-02-23 17:58] caseykey commented on #411
Unsubscribe

-------- Original Message --------
On Feb 23, 2018, 10:43 AM, Aditya Anand M C wrote:

[2018-02-23 18:45] jasonrhaas opened #488 "Version conflict when running tests"
##### Description
There is a version conflict when trying to run `pytest` in the `web` docker container.  This should be fixable by updating the appropriate requirements files.

[code]

##### Possible Implementation
Update requirements files to avoid version conflicts.

##### Environment
The docker.

[2018-02-23 19:09] Shrugs commented on #54
![image](https://user-images.githubusercontent.com/1535001/36611952-fbf990ca-1889-11e8-91aa-15978e6bae4f.png)

it happens again!

[2018-02-23 19:12] #488 closed

[2018-02-23 22:22] jasonrhaas commented on #474
Trying to track down those two issues above.  Where can I find the error message for the `sync_geth` error?  I'm looking through the production logs trying to find it.  Also looking for the error on the second issue.  Maybe there isn't an error message?  Just trying to duplicate the problem to find a fix.

[2018-02-23 22:32] jasonrhaas opened #490 "BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types ['bool', 'address', 'string']"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/271/](https://rollbar.com/mbeacom/gitcoin/items/271/)

[code]

[2018-02-23 22:34] jasonrhaas commented on #474
Created an issue for `New Error: 271 BadFunctionCallOutput: Could not decode contract function call getFulfillment return data b'' for output_types`.

I think its a red herring but will keep an eye out for it in rollbar.

https://github.com/ethereum/web3.py/issues/185

[2018-02-23 22:39] owocki opened #491 "Price fluctuates on the explorer stats page"
<img width="1344" alt="screen shot 2018-02-23 at 3 38 13 pm" src="https://user-images.githubusercontent.com/513929/36620318-ae21223e-18af-11e8-8a73-a421a45b941c.png">

The stats on this (the USD amounts) should not fluctuate.  It should lock in at the time in which the issue was submitted to the blockchain.

[2018-02-23 23:31] thelostone-mc commented on #54
@shrugs we have an PR open for that which will get merged over the weekend !! ^_^

https://github.com/gitcoinco/web/pull/323

[2018-02-23 23:39] D3RPZ1LLA commented on #343
Sure, I have the same @ on slack. Which channel do you want to talk in?

[2018-02-24 00:38] lazaridiscom commented on #208
Hey, you've overseen the 2nd result: I actually suggested/-drafted a (new) Tool (based on "design bounty" section at the end of the original post) , which is missing: a book, for folks which prefers to read everything in one chunk)

P.S.: You're welcome. "Breaking down stuff" gives the ability to express oneself clearer (e.g. the next time)

[2018-02-24 02:10] lazaridiscom commented on #460
@owocki

[2018-02-24 13:06] thelostone-mc commented on #463
@mbeacom A few doubts

Looking at this -> the flow would be:
[code]
Does that sound right ?

Digging into the code in `kill_bounty.js` -> towards I see

`bounty.killBounty(bountyId, {gasPrice:web3.toHex($("#gasPrice").val()) * Math.pow( 10, 9 )}, final_callback);`

Upon invoking the `killBounty()`-> then  there is a `final_callback` -> redirects us back to the page upon successfully killing the bo

[2018-02-24 13:09] thelostone-mc commented on #343
@D3RPZ1LLA you could either DM @PixelantDesign or converse in #design channel
I've added you to it ^_^

@mkosowsk Yeah my flight back to India was just a week before ETHDenver!
Next time I'm in US ( probably later this year ) -> Denver + NY are on the list !

[2018-02-24 14:36] sethmcleod commented on #198
Hey @owocki I'm still getting the legacy-bug error when attempting to submit this bounty.

[2018-02-24 14:48] lazaridiscom commented on #198
@mbeacom legacy bug.

[2018-02-24 16:19] mkosowsk commented on #343
@thelostone-mc awesome!

it's always great when people visit the greatest city in the world, nyc.

i'm a very proud resident (despite some outrageous claims being made by @vs77bb 🙄)

[2018-02-24 16:28] mkosowsk commented on #491
Great idea!

Whoever thought of this one is really on top of their game

[2018-02-24 16:57] lazaridiscom commented on #460
# Wake up! There is none...

[2018-02-24 17:00] sethmcleod commented on #198
Also, @PixelantDesign here are the updated designs based on the conversations we had:

![idea-modal](https://user-images.githubusercontent.com/7340187/36632886-36a49014-195a-11e8-857c-1d05c7a69063.png)

![idea-list](https://user-images.githubusercontent.com/7340187/36632883-3255e5f8-195a-11e8-8300-b66427fd2d09.png)

![idea-view](https://user-images.githubusercontent.com/7340187/36632889-41740d76-1

[2018-02-24 17:02] #470 closed

[2018-02-24 17:08] lazaridiscom commented on #476
Follow-up #479 (will contain Disquss)

[2018-02-24 17:08] #476 closed

[2018-02-24 22:08] mbeacom opened #492 "Http404 raising frequently on profile view"
View details in Rollbar: [https://rollbar.com/mbeacom/gitcoin/items/283/](https://rollbar.com/mbeacom/gitcoin/items/283/)

[code]

[2018-02-24 22:36] NukeManDan commented on #320
On it. Would you want the logo here: https://github.com/gitcoinco/gitcoinco/blob/master/img/helmet.png

And what is the contract address that would be best to reference?

[2018-02-25 01:52] PixelantDesign commented on #411
@thelostone-mc Removal of left rail filters looks great!

Let's keep everything else as is for now an open new tickets for additional improvements. I have a new design for the metamask status if you'd like to help me implement :)

[2018-02-25 02:14] #439 closed

[2018-02-25 02:58] sethmcleod commented on #433
Awesome,  I'll submit something for this soon.