[2020-03-18 13:06] hamzaghz commented on #6190
@dadahaha2020 we had a problem on this page, if u clicked ''edit'' it will show this..  there's an issue about this.

![image](https://user-images.githubusercontent.com/60444350/76963405-40c96880-6921-11ea-8d44-e9378554f3c9.png)

here 's the link for gitcoin grant :  https://gitcoin.co/wiki/get-started-grants/

[2020-03-18 13:54] dadahaha2020 commented on #6190
got that. Sorry I forgot about the error. Was just trying to sort things out. Will do the necessary edits to my Pages. Thanks you :-)

[2020-03-18 14:19] Solexplorer commented on #6169
@federicosan Since you were already approved, you are good to go.

See here: https://github.com/gitcoinco/web/issues/6169#issuecomment-599798756

[2020-03-18 14:29] owocki commented on #6169
@federicosan read my comment above

@JollyRogerz looks great, pls proceed

[2020-03-18 14:30] owocki commented on #6169
@JollyRogerz got an svg i can checkout?

[2020-03-18 15:27] brad-decker commented on #6223
Thanks for the info @owocki and @octavioamu -- If that's the case I think @molecula451 should have dibs on the bounty. Is there a way to create a bounty on gitcoin that is private/pre-allocated to a person?

[2020-03-18 16:11] JollyRogerz commented on #6169
@owocki  yes I do, I'll send it through gitccoin chat

[2020-03-18 16:39] Blockchayne commented on #6190
https://gitcoin.co/wiki/get_started/how-use-avatar-builder/

Just published this article to the wiki.
Submitted the work transaction as well. That should be confirmed soon.

Thank you.

[2020-03-18 17:26] biuxmaster commented on #6169
@owocki  Hi, I was working on this bounty and I thought I had submitted, but then I saw I wasn't today. Are you going to open new submissions again?

[2020-03-18 17:26] owocki commented on #6190
hey guys about the edit timeout, its logged at https://github.com/django-wiki/django-wiki/issues/1031 and @mul53 is working on it

im still working on reviewing submissions. heads down on some gitcoin grants stuff now.. hoping to get it all reviewed by EOW tho.  thanks for the hard work everyone!

[2020-03-18 17:34] owocki commented on #6223
im going to approve molecula. sorry for the confusion here everyone.

yes and in hindsight i should have used it!

[2020-03-18 17:34] owocki commented on #6223
@molecula451 any interest in extending your dark mode PR to the rest of the site?  i could see that being a great 'collaborative' bounty for everyone on this thread to jam on together.

[2020-03-18 17:40] owocki commented on #6169
go ahead and submit buix. per above message i'll still pay anyone who
submits, just not allowing any new start works

On Wed, Mar 18, 2020 at 11:26 AM biuxmaster <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/result

[2020-03-18 17:54] biuxmaster commented on #6169
my problem is that I made a draft before I apply to the bounty, but then I saw that you close the submissions.  Let me know if I can still work on.

![Captura de ecrã 2020-03-18, às 17 54 01](https://user-images.githubusercontent.com/49821444/76991425-7aaa6700-6941-11ea-81f9-aa880f32e861.png)

[2020-03-18 17:55] owocki commented on #6191
thx for the update

‪On Tue, Mar 17, 2020 at 11:09 PM ‫Walid Mujahid وليد مجاهد‬‎ <
notifications@github.com> wrote:‬

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-18 17:56] owocki commented on #6194
thx for the update

i dont have any specs here. what do u think? what are the tradeoffs?

On Tue, Mar 17, 2020 at 10:45 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-18 18:12] owocki commented on #6139
looks good pls submit!|

On Wed, Mar 18, 2020 at 6:34 AM Merit-Tech <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-18 18:12] Nanshulot commented on #6139
Sorry for that. You can find @owocki my kudos here.

https://github.com/gitcoinco/creative/pull/197

[2020-03-18 18:13] owocki commented on #6169
looks great! pls proceed + submit when ready

On Wed, Mar 18, 2020 at 11:55 AM biuxmaster <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-18 18:13] owocki commented on #6139
looks good - pls submit to gitcoin.co/kudos/new too!

On Wed, Mar 18, 2020 at 12:12 PM Nans.hulot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-18 18:15] Sirlupinwatson1 opened #6252 "Avatar Images Are Not Showing Up Properly"
### Issue report about Avatar Images and symbols or letters interference.

**Describe the bug**
Custom Avatar modeling is showing a square written inside  _Image Not Found_

**To Reproduce**

Update your Avatar with **Terminator Bot** with accessories :

- [Background](https://gitcoin.co/avatar/view3d?mode=preview&ids=bg_2&theme=terminator)
- [Beard](https://gitcoin.co/avatar/view3d?mode=preview&i

[2020-03-18 18:18] Sirlupinwatson1 commented on #6233
Thank you !!!
![loading_v2](https://user-images.githubusercontent.com/55941045/76993502-50e24780-6923-11ea-8de1-7c5d9172c9c1.gif)

[2020-03-18 18:27] dadahaha2020 commented on #6190
Updating my works :

[2020-03-18 18:30] dadahaha2020 commented on #6190
Update on my works/ entries :
1st Page - https://gitcoin.co/wiki/get_started/ - **Already Paid**
2nd Page - https://gitcoin.co/wiki/for_employer/
3rd Page - https://gitcoin.co/wiki/get_started/get-started-codefund/#
4th Page - https://gitcoin.co/wiki/town_square/
5th Page - https://gitcoin.co/wiki/what_mini_clr/

Will add more if I make other subjects.

[2020-03-18 18:46] ekram-syed opened #6253 "Quest round 4 leadboard not updating or refreshing"
**Describe the bug**

Gitcoin quest leadboard for round 4 not updating with new points for last 48 hours or so. during the time I beat more than 7 new quests. but points not changed accordingly. According to my knowledge, it should reflect updates after a certain interval in a day. In my https://gitcoin.co/quests user's points tag, its showing 320 points. if I subtract round 3 points from it, it s

[2020-03-18 20:45] Nanshulot commented on #6139
I Did. Thank you @owocki

[2020-03-18 22:40] federicosan commented on #6169
I need to know if there Is a fixed set of types, or if I can make new types for the avatar parts. Because I have some types that are not part of the example.

[2020-03-18 23:47] owocki opened #6254 "$7k for Personal Tokens on Gitcoin $LEET"
i want to launch a personal token called $LEET and I have $7k in budget for someone or a team to build personal tokens into gitcoin. If anyone wants to bid on it by proposing a project plan then please submit your project plan to this thread. I’ll tip the best project plan by March 30th 1 ETH.

Primary use case for this feature: gitcoiners can Issue, market, and manage their personal tokens on git

[2020-03-19 00:23] kamescg commented on #6254
Just to confirm you are asking for someone to create a proposal for a novel use for a personal token?

Not just emulate the $PEW token offered by Ameen?

[2020-03-19 00:23] lychees commented on #6254
I am working on this for last few months. Currently my own personal token is issuing [on Rinkeby testnet](https://rinkeby.etherscan.io/token/0x280Be10b609F95f70E82c0D7151543f59102f47D).

And today it has 187 holders and can be trading via uniswap protocol by using a fake cny-stable erc20 token on testnet. Most transacation was trigger by a [telegram bot](https://github.com/Matataki-io/Matataki-Tel

[2020-03-19 00:36] owocki commented on #6254
no, i dont intend to reinvent this wheel. only integrate doing this in one click on gitcoin. Primary use case for this feature: gitcoiners can Issue, market, and manage their personal tokens on gitcoin.

[2020-03-19 00:37] owocki commented on #6254
@lychees this is very exciting to hear!  are you interested in working together? is just project open source?

[2020-03-19 00:47] lychees commented on #6254
Yes. The [telegram bot](https://github.com/Matataki-io/Matataki-Telegram-Bot) was open source since last month. And [the contract and backend](https://github.com/Matataki-io/TokenCircle-Bot-Backend) was open source since last week.

[2020-03-19 01:06] kamescg commented on #6254
Should have clarified. I didn't mean re-invent the wheel from a "token construction" point of view and enable people to easily deploy a personal token - which is cool.

Seems like a lot of ways you could present the "issue, market and manage" narrative around personal tokens though?

I meant novel in the sense of **selling X hours** or a **N retweets** but it sounds like you just want a  "Personal

[2020-03-19 01:21] theCydonian commented on #6194
I figured out the image thing. Turns out I was just using the wrong folder. Now I am pretty much done functionality wise. Some of the styles are still rough and I'm having some bugs. Also, I need to copy some code over to the profile page.

@owocki if you want to see my WIP townsquare, I am hosting it on http://8265dd47.ngrok.io

[2020-03-19 01:24] owocki commented on #6254
yeah i think this is where gitcoin can provide value.  we have a native audience who you could buy or sell personal tokens from

i think in the sense of providing intelligent defaults well have options to make tokens that sell X hours or a N retweets.  but hopefully we can make it extensible enough such that we can enable many more imaginative use cases!

[2020-03-19 01:33] owocki commented on #6194
Tunnel 8265dd47.ngrok.io not found :/

feel free to post a video tho

On Wed, Mar 18, 2020 at 7:22 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 01:34] owocki commented on #6169
you can make any type you want as long as its in the type_number format for
it's name

On Wed, Mar 18, 2020 at 4:41 PM federicosan <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 01:40] theCydonian commented on #6194
Sorry @owocki I closed my laptop. It should work now

Sent from my iPhone

[2020-03-19 04:36] molecula451 commented on #6223
@owocki It's time for poll. What do you think. Let's ask the community on townsquare? Dark mode only townsquare or whole site?

[2020-03-19 04:52] theCydonian commented on #6194
@owocki I'm going to sleep soon, so the server won't be up, but here is a video showing all test cases. I polished it up and fixed bugs. Let me know if you still want me to change anything.

https://www.dropbox.com/s/ywolc1vuzyrfsku/Screen%20Recording%202020-03-18%20at%2021.43.10.mov?dl=0

[2020-03-19 05:47] molecula451 commented on #6116
Working it, relax @gitcoinbot

[2020-03-19 06:21] ekram-syed commented on #6116
Awesome @molecula451, much awesome that @gitcoinbot reacted, good luck and have fun

[2020-03-19 06:22] ekram-syed commented on #6116
I'll be your tester @molecula451, feel free to ping me

[2020-03-19 13:15] walidmujahid commented on #6191
**Late initial demo video - 2020-03-19:** https://youtu.be/UwHUZ0ndk30

Uses jQeryUI Autocomplete

I need to:

- fix styling and add user avatars to the listed items
- fix key events so pressing `ENTER` does not post the status update

[2020-03-19 13:23] maystro4 commented on #6139
@owocki I Just made those kudos.  pls if it is ready to submit or there is something to change tell me. hope you like them
![image](https://user-images.githubusercontent.com/40209869/77071821-f6adb900-69ec-11ea-8302-0344062e1ab9.png)

[2020-03-19 13:25] hamzaghz commented on #6253
Yeah, I beat a lot of quests these days (at least 10) and I am strangely in the same #Rank with the same points!!

[2020-03-19 14:23] owocki commented on #6223
go for it

On Wed, Mar 18, 2020 at 10:36 PM Paul <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 14:26] owocki commented on #6194
wow looks amazing! is it ready to submit yet??

[2020-03-19 14:26] owocki commented on #6194
whats is the peformance profile of loading those buttosn? hopefully it doesnt download all of the 500KB images to render those lol

[2020-03-19 14:40] theCydonian commented on #6194
The icons are small (17 KB each), so downloading is not too bad. Is there any way I should still try to improve performance?

[2020-03-19 14:41] owocki commented on #6253
b9c0de7a12de19b3ad378795df5c19037d95cd78 fixes this . updating the leaderboard now

[2020-03-19 14:42] owocki commented on #6193
@zoek1 how goes

[2020-03-19 14:45] owocki commented on #6194
wow very cool!

On Thu, Mar 19, 2020 at 8:41 AM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 14:46] theCydonian commented on #6194
Also, one thing I might want to add before submission is loading the list of images from the API. My code is already set up to do so, but when I implemented with fetch, it partially broke. Right now it works, but the image list is stored in an array in status.js.

[2020-03-19 14:48] owocki commented on #6194
@theCydonian can you submit a PR? i will checkout the code and let u know once i inspec it?

[2020-03-19 14:53] owocki commented on #6194
no worries lets checkout the PR and go from there

On Thu, Mar 19, 2020 at 8:46 AM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 14:55] theCydonian commented on #6194
@owocki I'll submit one in an hour or two

[2020-03-19 14:58] owocki commented on #6191
looks promising .... CCing @octavioamu bc of the jquery UI dependency tho

‪On Thu, Mar 19, 2020 at 7:15 AM ‫Walid Mujahid وليد مجاهد‬‎ <
notifications@github.com> wrote:‬

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 15:06] octavioamu commented on #6194
Looking really nice!! waiting to see that PR <3

[2020-03-19 16:32] owocki commented on #6139
they look great! pls submit!

On Thu, Mar 19, 2020 at 7:24 AM maystro4 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 16:56] frankchen07 commented on #6208
@willsputra - ah yes you're right. Is it possible to get the design up for the daily too? we can hop on a call and reuse assets from the weekly.

[2020-03-19 17:29] 7ada commented on #6253
Right, yesterday I was here  https://share.getcloudapp.com/Qwu78EWD

and now it's updated  https://share.getcloudapp.com/xQugRmzD

Thank you @owocki

[2020-03-19 18:51] theCydonian commented on #6194
It looks like there is a new button on the live website. Do you want me to reposition my buttons now?

![Screen Shot 2020-03-19 at 11 50 20](https://user-images.githubusercontent.com/31706764/77103559-d1628000-69d7-11ea-84dc-85ac697a478d.png)

[2020-03-19 19:00] theCydonian commented on #6194
Also it seems like whoever changed this caused the textbox to be resizable, which can make some of the elements fail to fit.

[2020-03-19 20:00] ekram-syed commented on #6253
Yes, it seems working perfectly. I already test it. plan to check it another round before closing this issue.

[2020-03-19 20:22] #6253 closed

[2020-03-19 20:22] owocki commented on #6194
yeah pls move your button to now conflict with the other buttons

On Thu, Mar 19, 2020 at 1:00 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-19 20:38] cartosys commented on #6254
We've seen this kind of activity on Cryptoraves with the personalized tokens we launch on Twitter. And more so of the inverse, i.e. some users will offer their tokens to others for follows/hearts/retweets of their own posts. Other fun examples:

- use my tokens as discounts for stuff i make

- Redeem tokens at the next conference I see you at for "beer and beef jerky" (one of our favorites).

- us

[2020-03-19 20:47] theCydonian commented on #6194
Will do

Sent from my iPhone

[2020-03-19 21:39] owocki commented on #6139
just piad out everyone who had an open PR... if i missed you pls @ me with a link to your submission and ill check it out next few days

[2020-03-19 21:50] owocki commented on #6190
just paid everyone who i can find who submitted, and tried to do it as fairly as possible.  left the bounty open. what new articles should be written???

[2020-03-19 22:18] vporton commented on #6254
For the below I will assume that the token is ERC-20 named TKN.

We should have several kinds of personal tokens:

1. regular (the owner can mint as much as he wishes). The minting page should be similar to [this my software](https://rinkeby.aragon.org/#/testrewardcourt4/0x1cf4df5ac50ef5b799e18a31bef5b3b2540cb6d6/tab/3) (but we can do it without Aragon).

2. backed by Ether (to mint a personal tok

[2020-03-19 22:45] ccashwell commented on #6254
Hey @owocki here's a quick pitch for a tipping model.

- Add a "Create Your Personal Token" button to the user dashboard which initiates deployment by user of a zero-decimal ERC20 which uses a "Pick Your Price" / donation / tipping model. That is, anyone viewing your profile can buy some $OWOCKI just to support you.
  - Other possible future options include:
    - Fixed-price token - user can set

[2020-03-19 22:46] owocki commented on #6169
pls continue submitting people. im paying ppl on a rolling basis

[2020-03-19 23:58] jschiarizzi commented on #6095
Sometimes getting weird errors trying to load everything after making changes in django. I'm not touching townhall so why is this breaking things
<img width="718" alt="Screen Shot 2020-03-19 at 7 53 22 PM" src="https://user-images.githubusercontent.com/9449596/77125350-ed881080-6a1b-11ea-8efc-e234f28d1e81.png">

[2020-03-20 00:00] theCydonian commented on #6194
Turns out pulling from the live gitcoin website screwed a lot of things up, but I now have it fixed. I'll submit a pull request shortly after some more testing

[2020-03-20 00:33] theCydonian commented on #6194
I added to the PR

[2020-03-20 01:42] theCydonian commented on #6169
@owocki do you need anything made that is not already being worked on?

Sent from my iPhone

[2020-03-20 03:20] zoek1 commented on #6193
Almost done @owocki, just need to implement the send the mail and will be finished, i hope in a couple of hours it will be finished

[2020-03-20 04:46] owocki commented on #6224
@zoek1 can u deliver this? new grants round is monday.

[2020-03-20 05:38] zoek1 commented on #6224
Sure, no problem :+1:

[2020-03-20 07:03] #6136 closed

[2020-03-20 07:06] #5612 closed

[2020-03-20 07:06] #5456 closed

[2020-03-20 10:57] kencode7 commented on #6190
what if I'm not tipped?

[2020-03-20 11:03] biuxmaster commented on #6139
@owocki  I didn't receive any payment yet. Here is my PR https://github.com/gitcoinco/creative/pull/193

btw I have a question. Is there any chance of receive the payment of those kudos ? #5465 (comment)

[2020-03-20 11:45] azizyano commented on #6139
what do you think about this @owocki
![image](https://user-images.githubusercontent.com/32180132/77160825-7d739c00-6aa8-11ea-982d-3bed16577185.png)
![image](https://user-images.githubusercontent.com/32180132/77160857-90866c00-6aa8-11ea-9b30-4679c73f7f31.png)

[2020-03-20 11:53] azizyano commented on #6169
sorry for being late @owocki, I finished my robot plz look if need any adjustment
[visible.zip](https://github.com/gitcoinco/web/files/4359329/visible.zip)

[2020-03-20 14:52] dadahaha2020 commented on #6190
@owocki Just made another page entry  as a user manual / reference where all of the wiki pages are covered and linked to.

https://gitcoin.co/wiki/gitcoin_user_guide/

[2020-03-20 16:48] hamzaghz commented on #6190
here is my submission. it's fixed
https://github.com/gitcoinco/web/issues/6190#issuecomment-598894631

[2020-03-20 17:39] frankchen07 opened #6265 "[WORKSHOP] - Mini-CLR Referral Program"
### User Story

Mini-CLR Referral Program

### Why Is this Needed

As we've seen the rise of Gitcoin Grants and the CLR mechanism that we've worked on with Vitalik, we've seen the uses cases for Gitcoin Grants (Rounds 1-4) and also the mini CLR mechanism on the Townsquare. My recommendation is to base our Gitcoin's referral program on mini-CLR.

### Description

If you refer a friend, you get an i

[2020-03-20 18:10] owocki commented on #6095
what branch are you based off of? i dont see that code in master

On Thu, Mar 19, 2020 at 5:58 PM Joseph Schiarizzi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-20 18:10] owocki commented on #6194
thx

On Thu, Mar 19, 2020 at 6:33 PM theCydonian <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-20 18:42] owocki commented on #6169
it works! https://bits.owocki.com/xQugEXze

will go out in next deploy then i can pay out. anything to put in your bio
aziz!??!

On Fri, Mar 20, 2020 at 5:53 AM Aziz Yano <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.

[2020-03-20 19:24] jschiarizzi commented on #6095
I cloned master for https://github.com/jschiarizzi/web

[2020-03-20 22:25] owocki commented on #6224
@zoek1 pls submit and ill pay u out.. i have another  PR which ill emerge this into (not master)

[2020-03-21 04:10] sizzthehedgehog opened #6266 "Kudos Quest: Brave"
![brave on rinkeby](https://user-images.githubusercontent.com/59723587/77219053-42b64600-6b32-11ea-8aff-25b88acd9c45.PNG)

**Describe the bug**
Kudos reward is on rinkeby and not on mainnet

**To Reproduce**
Complete quest and once you try to claim the reward it fails.

**Expected behavior**
Kudos reward has to be claimed on mainnet

**Screenshots**
see attached

**Desktop (please complete the fol

[2020-03-21 09:51] dadahaha2020 opened #6267 "Grants Not ready to accept funding"
Hi. Created a grant and encountered the following issues :

1. First created a fund but contract creation got pending for number of hours because of gas issue. Tried to create a new one but txn also got stuck because previous one had smaller nonce. Then, tried to increase the gas of the first txn and contract created successfully. However, it showed 2 grants had been created. :
      - https://git

[2020-03-21 14:31] Solexplorer opened #6269 "Put a temporary ban for users who had their post reported in the Townsquare"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a moderator when a user gets reported for spamming or posting bad content in the townsquare he should not be able to post and comment in the townsquare for 2 weeks or even more time

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, wh

[2020-03-21 18:56] vporton opened #6270 "Please add "random shuffle" to GitCoin grants explorer"
Please add "random shuffle" to GitCoin grants explorer. Some grants are lost without any payments deep in the stream. This is unjust.

[2020-03-21 19:47] vporton opened #6271 "Add also "Reversed weighted shuffle" sort option to grants"
Add also "Reversed weighted shuffle" sort option to grants.

The user should be able to see least funded grants, if he wishes.

This improves both grantee experience (as he or she can choose more orders) and justice, as least funded grants would be able to take attention.

[2020-03-21 20:44] vporton commented on #6270
"Random shuffle" should be the default, it is the only effective way to improve the uniformity of distribution of the money, to eliminate under-financed projects to fall behind unnoticed in the vicious circle: unnoticed -> not financed -> unnoticed.

You should not behave like a commercial crowdfunding site.

[2020-03-21 20:45] vporton commented on #6270
For random shuffle implementation, we probably need to keep open a Web Socket connection.

[2020-03-21 20:46] vporton commented on #6270
To reduce CPU load on calculating and storing random shuffles, it may be necessary to show the same random shuffle for several users (but not the same for all, as that would break the purpose to show different shuffles to different users).

[2020-03-21 21:23] vince0656 commented on #5456
@owocki please can you also ensure the tip of 0.6 ETH is paid out as per the the agreement in #5615

Thanks

[2020-03-22 04:05] sizzthehedgehog opened #6273 "ProgPow quest and Ethe kudos can not be claimed"
**Describe the bug**
Beat the quest and clicked on claim prize. No transaction on blockchain. Never received the Kudos.

**To Reproduce**
Clear quest, try to claim the kudos.

**Expected behavior**
claiming should work.

**Screenshots**

**Desktop (please complete the following information):**

- OS: Win pro
- Browser: Chrome
- Browser Version: latest

Resources:
That is the kudos I should have re

[2020-03-22 08:31] wizzfile opened #6274 "Bug report"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-03-22 11:32] dadahaha2020 opened #6275 "Community Management Proposal"
### User Story

With the creation of Community Code of Conducts Wiki (https://gitcoin.co/wiki/code_conduct) that aims to guide users on how to use the platform it is only proper to have plans on the implementation process.

This proposal also relates to open issue about violators : **_Put a temporary ban for users who had their post reported in the Townsquare #6269_**

### Why Is this Needed

Impl

[2020-03-22 13:53] Solexplorer commented on #6274
@wizzfile What bug did you encounter?

[2020-03-22 14:00] Solexplorer commented on #6265
Hmm, how do we prevent Sybil attacks? We check for account age just like we do with Grants?

[2020-03-22 14:13] Solexplorer commented on #6252
Hmm.. looks like the T-shirt has an issue here, thanks for reporting :)

[2020-03-22 15:20] Sirlupinwatson1 commented on #6252
The hair also looks like :)

[2020-03-22 18:04] giovannidisiena commented on #6254
Just to reiterate on here as well as Gitcoin - I've had a look through the thread and while I am only just getting into Web3 etc I would be more than willing to help implement this in any way I can. Good knowledge of Python, HTML and some Javascript so feel free to delegate (with a little support)!

[2020-03-22 19:30] developerfred commented on #6208
hey @willsputra do you have this file on figma?

[2020-03-22 20:01] biuxmaster commented on #6169
@owocki  Hi, I finished my robot, I hope it's good. Let me know if I need to change or add something

[wall-e.zip](https://github.com/gitcoinco/web/files/4366246/wall-e.zip)

[2020-03-23 03:01] walidmujahid commented on #6191
Yes, I am still working on this @gitcoinbot

[2020-03-23 03:35] atommicios opened #6277 "atomic.ios1@gmail.com"
Support system

[2020-03-23 03:42] rhosadah opened #6278 "high security and very fast transactions"
I am happy to see this project, with simple features but has high security and very fast transactions

[2020-03-23 05:59] Calvinoea commented on #6236
Hello. Please find within this message the link to the article: https://docs.google.com/document/d/1Al_M446W0MM6l87Hc3VTEzBigmkN56lfE_sQwDCdrck/edit?usp=sharing . Would you like me to make further changes or reviews? Should I make the article available through another document sharing platform (instead of Google docs)?

[2020-03-23 09:57] EtherDotBlue opened #6279 "Need to pay out on a closed bounty with funds still in it"
https://gitcoin.co/issue/EtherDotBlue/MythX/2/4122

I was trying to allow more than one person to get paid for this bounty using the Advanced pay out, but after I paid out the first one it closed the bounty and I can't pay the second person.  There should still be 2 ETH int here as well.

Thanks!

[2020-03-23 10:32] Kisgus opened #6280 "Cannot cancel Gitcoin grant"
I'm trying to kill the contract for this grant https://gitcoin.co/grants/521/end-to-end-blockchain-ubi-with-10000-kenians-in-ne

When I click the cancel grant nothing happens on Mac / Chromebrowser with Metamask installed

![Screen Shot 2020-03-23 at 11 25 56 AM](https://user-images.githubusercontent.com/18598519/77307675-f9b0ee00-6cf9-11ea-9e79-ea27f4d6b0c8.png)

[2020-03-23 11:10] zoek1 commented on #6193
hey @owocki good news, today you have the complete PR for this. :muscle:

[2020-03-23 14:03] dadahaha2020 commented on #6190
Added new wiki page :
- https://gitcoin.co/wiki/gitcoin_non_developers/

Added new links
- https://gitcoin.co/wiki/gitcoin_user_guide/

[2020-03-23 14:23] LefterisJP opened #6281 "Problems with emailing grant funders"
**Describe the bug**
Moving here from a [Twitter discussion](https://twitter.com/auryn_macmillan/status/1242076515036213255).

There are two issues:

1. Even though a user has had funders in the past the button seems to always show (0). And apparently it works and sends an email to all past funders despite the UI showing 0.
2. It's not clear how it works.

I first tried to write a message and inst

[2020-03-23 14:38] writeprovidence commented on #6169
@owocki i just finished working on chappie, please take a look
[chappie.zip](https://github.com/gitcoinco/web/files/4370005/chappie.zip) waiting for your feedback

[2020-03-23 14:49] Solexplorer commented on #6277
Why did you post this email address here?

[2020-03-23 15:16] Jeff-Emmett opened #6282 "Gitcoin Grants Feature Request: Bundling Grants for Even Distribution of Funds"
Hey team, feature request from Michael Zargham, if you're looking for further grants functionality:

Wouldn't it would be cool to make gitcoin 'bundles'? Essentially indexes of grants so i could just put say 1000 DAI in a bundle and have it automatically get allocated evenly across say a half dozen grants. I think this would be killer.

[2020-03-23 15:27] writeprovidence commented on #6169
![chappie-01](https://user-images.githubusercontent.com/31359701/77333007-19a8d780-6d23-11ea-8c92-312ce7899d6c.png)

[2020-03-23 15:30] owocki commented on #6282
i like the idea, but i think it really matters who curates a bundle

[2020-03-23 15:36] Jeff-Emmett commented on #6282
For sure...could be an additional layer to grant curation, with groups (like a curator of the TokenEngineering community, eg) creating bundles to expediate grants to the whole ecosystem, then promoting that bundle rather than a dozen individual grants.

[2020-03-23 15:46] #6277 closed

[2020-03-23 16:00] owocki commented on #6193
thanks - can you post a demo video of it for the reviewrs so i can market
it internally.

On Mon, Mar 23, 2020 at 5:11 AM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-23 16:03] owocki commented on #6280
hmm i cant rperoduce on my grants.

do u have a web3 compatible wallet?  are you on the  mainnet in it?    can you show  me a screenshot of your chrome console after u hit the button?

[2020-03-23 16:09] owocki commented on #6279
https://etherscan.io/tx/0x09443e5ed0613c5b3bd468633a7dd005620311f99958c4cea7da09b392296ee4#statechange

looks like the 3 ETH was returned to your address when you used advanced payout. (i think you  had the 'pay using bounty funds' checked )

you can use gitcoin.co/tip to tip the remaining users you want to pay

[2020-03-23 16:43] owocki commented on #6273
what was your prize redemption link?

the kudos minter ran out of gas recently so i wonder if thats what happened
here

On Sat, Mar 21, 2020 at 10:05 PM sizzthehedgehog <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co

[2020-03-23 16:46] owocki commented on #6275
I love this idea!

On Sun, Mar 22, 2020 at 5:32 AM Darwin Newton <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-23 16:48] dadahaha2020 commented on #6275
I'd be the first to apply! 😅

[2020-03-23 16:53] fzeoli opened #6283 "bug: Grant page rolls back after a few minutes of updating it"
I updated this page https://gitcoin.co/grants/99/buidler-2

changing url, description and title. Everything looks good, and then after a few minutes the page is back to its previous version. Tried again, and the exact same thing happened.

Chrome on Mac

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
-

[2020-03-23 16:55] owocki commented on #6283
thanks ! well look into it

[2020-03-23 16:56] owocki commented on #6283
i observed this on prod too.  it rolls back after a minute or two. i wonder if some background job is causing it to refresh...

[2020-03-23 17:06] owocki commented on #6283
i think maybe the estimate_clr script is running in the background + causing the grant to revert to its old info

[2020-03-23 17:18] owocki commented on #6095
hmm can you pull the latest? i dont see that code in master anymore
https://github.com/gitcoinco/web/blob/master/app/townsquare/views.py#L230-L236

On Fri, Mar 20, 2020 at 1:25 PM Joseph Schiarizzi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
ou

[2020-03-23 17:26] owocki commented on #6283
@fzeoli try now

[2020-03-23 17:50] LefterisJP opened #6284 "Grant info page seems to revert to forget contributions"
**Describe the bug**
It seems that somehow the contributions that were made to the Rotki grant, along with the CLR estimations disappeared.

**To Reproduce**

Check the grant page: https://gitcoin.co/grants/149/rotki

**Expected behavior**

See the contributions that the grant has had so far in this round.

[2020-03-23 18:11] maystro4 commented on #6169
I like "chappie" the  movie so I tried to do my best to make this robot so @owocki  plz take a look and i am waiting for your feedback if there is something to change
[chappi 001.zip](https://github.com/gitcoinco/web/files/4371160/chappi.001.zip)

[2020-03-23 18:14] maystro4 commented on #6169
![image](https://user-images.githubusercontent.com/40209869/77348868-7c599d80-6d3a-11ea-8df5-0a2799ec5310.png)

[2020-03-23 18:51] fzeoli commented on #6283
seems to be working now, thanks.

On Mon, Mar 23, 2020 at 2:26 PM Kevin Owocki <notifications@github.com>
wrote:

[2020-03-23 18:56] #6283 closed

[2020-03-23 18:59] owocki commented on #6267
https://gitcoin.co/grants/507/support-for-freelance-community-management-and-con has been updated to include the contract address and can now accept funding

[2020-03-23 19:00] dadahaha2020 commented on #6267
Thank you 😄

[2020-03-23 20:07] naszam commented on #6190
What about to Title the wiki, "Awesome Gitcoin" like the Awesome MakerDao?

[2020-03-23 20:08] dadahaha2020 opened #6285 "Infographics for the Wiki Topics"
### User Story
While the wiki pages are shaping up and explains stuff about the platform,  other users are not really into reading stuffs.

### Why Is this Needed
There is a challenge in conveying the context / ideas found in the wiki pages to some users. Having a short explainer to summarize all that is written in the page will re-enforce learning, idea retention, and understanding.

### Descript

[2020-03-23 20:19] #6267 closed

[2020-03-23 20:20] dadahaha2020 commented on #6235
@molecula451 Hey mate. How's the article shaping up?

[2020-03-23 21:18] owocki commented on #6284
were looking into the CLR calcs.  do you have a tx ID of the contributions that disappeared?

[2020-03-23 21:23] LefterisJP commented on #6284
Hmm noo ... I am sorry. Should have taken a screenshot. It went from:

Estimated: 6 DAI Funded: 4140 or something..
to
Estimated: 0 DAI Funded: 4114 .. or something

So it had somehow lost the count of quite a few contributions, also contributions in between the 2 grant rounds.

Now it has a different number. So maybe now it's fine? I can't say for sure since I can't see how much is from this roun

[2020-03-24 00:07] sizzthehedgehog commented on #6273
Haven't saved the redemption link as it looked ok but never appeared on the blockchain. Just solved it again but there is no link anymore:
"Sorry but the coupon for a free kudos has been used already. Contact the person who sent you the coupon link, or you can still purchase one on this page."
Any idea?

[2020-03-24 01:28] vargaspeniel commented on #6190
Hello there, @owocki.

I have updated or added content to the following wiki pages:

1. [I'm an OSS project, how do I use gitcoin?](https://gitcoin.co/wiki/for_oss/): **Tip Received for bounty work before this update**
Added new content and updated the page formatting for better readability and consistency.
2. [FAQ](https://gitcoin.co/wiki/wiki_faq/): Updated both the contents and page formatting

[2020-03-24 02:24] PixelantDesign commented on #6211
hey @walidmujahid how's it going on this?

[2020-03-24 04:02] Sirlupinwatson1 commented on #6269
Hi @Solexplorer , i think 2 weeks its a bit rough no ?

You could also set up just a bot that mute user for certain words or timewise word count subject to be muted and would need to be manually unmuted. ( Just like a Discord channel )

It could save you lot of time and it could protect against trolls loll.

[2020-03-24 04:31] calchulus opened #6287 "overlapping buttons and negative voting format"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/16035653/77388486-3c8ec680-6dcb-11ea-9120-1c4475f624df.png)

**Desktop (please complete the following information):**

- Device: macbook
- OS: mac
- Browser: chrome
- Version:

**Additional context**

[2020-03-24 07:34] EtherDotBlue commented on #6279
Got the answer from @owocki - thanks!

[2020-03-24 07:36] nextkuro opened #6288 "tks for all"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [x] Help out with issues
- [x] Review pull requests
- [x] Blog about Gitcoin
- [x] Give talks
- [x] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitco

[2020-03-24 08:44] inspireme6 commented on #4943
Hopefully this guide gets approved and proves useful for somebody having problems to run it locally or any other reason.

[2020-03-24 09:52] #6210 closed

[2020-03-24 09:59] PixelantDesign commented on #6147
@walidmujahid are you still working on this issue?

[2020-03-24 14:24] owocki opened #6292 "Gitcoin Grants Funding doesnt work on Brave"
From a user:

I fought with metamask and brave for two hours yesterday and couldn't fund a grant. Brave browser bug found... But I feel like an idiot :/

[2020-03-24 14:25] owocki commented on #6292
I remember that there was an issue with Gitcoin Grants in Round 4 where we couldnt get it to work when users have both Brave and Metamask, and we ended up putting a clunky message for ALL users letting them know that Brave and Metamask didnt work together.  That was a pretty suboptimal move for UX IMHO.

[2020-03-24 14:48] owocki commented on #6292
The issue was fully with brave. The signup process wasn't completed, so it wouldn't let me log in / pair with metamask. FUN TIMES. Sorry.

[2020-03-24 16:47] owocki commented on #6273
heres a new link for ya https://gitcoin.co/kudos/redeem/sizzzzzz

On Mon, Mar 23, 2020 at 6:07 PM sizzthehedgehog <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-24 16:47] owocki commented on #6288
<3

On Tue, Mar 24, 2020 at 1:36 AM nextkuro <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-24 18:05] octavioamu opened #6293 "general popover"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user I want popovers on usernames as twitter.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
People want to understand who are they talking too without need to

[2020-03-24 19:53] scottrepreneur opened #6296 "Only approve Dai once for grants"
### User Story

As a user, I want to only approve Dai one time for all grants.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Approving Dai on every grant is a cumbersome user experience. After Dai has been approved, proceed directly with the grant

[2020-03-24 20:16] owocki commented on #6296
this is what i view as the tradeoff here https://twitter.com/owocki/status/1242496137950425088

[2020-03-25 00:21] scottrepreneur commented on #6296
I do appreciate the security first mindset with allowances, @owocki . If I know I'm going to submit to more than one grant in a _session_ then I'd like to give allowance for the specific amount at one time instead of paying unnecessary gas and waiting unnecessary transaction times.

Maybe this isn't the flow for general users then, and only something that can be adjusted in user settings for more

[2020-03-25 01:22] sizzthehedgehog commented on #6273
Thank you!

Am Di., 24. März 2020 um 17:47 Uhr schrieb Kevin Owocki <
notifications@github.com>:

[2020-03-25 01:24] federicosan commented on #6169
@owocki The avatar I am working on is big, with many bodies, eyes, ears, heads, I've been working for more than 10 days on this. I would like to know if it is better to submit now and then keep improving it.

Also, I read that the SVG needed to have only 2 sublayers, so I needed to destroy all the useful groups I had where an armed group has many subgroups like shoulder, hand (these were subgroups

[2020-03-25 01:55] owocki commented on #6169
sorry guys . underwater on gitcoin grants

@federicosan want to send me what you have now and we can branstorm best course of action from there?   if you have multiple bodies/eyes/ears maybe we can break them into multiple SVGs (i dont have the cycles to rewrite the avatar builder to accomodate this rn)

@maystro4 looks promising

@writeprovidence i love it! will integrate once this grants crazine

[2020-03-25 01:56] owocki commented on #6169
@buixmaster your wall-e avatar is cute! DOM looks good too.l will integrate it soon + payout.

[2020-03-25 05:53] walidmujahid commented on #6211
@PixelantDesign I have opened a WIP PR for this: https://github.com/gitcoinco/web/issues/6211

Currently I have only added the mini-nav section for 'current, upcoming, finished' hackathons. I still need to rework the hackathon list section a bit for it to work.

[2020-03-25 10:31] walidmujahid commented on #6147
@PixelantDesign This is still on my task list, but I have yet to start work on it. II want to say I can get to this within the next couple of days this week, but if @developerfred is available and still interested in this, I will step away from this one.

[2020-03-25 12:53] PixelantDesign opened #6298 "Townsquare feed should recognize links"
### What
Townsquare feed should recognize links - make link clickable

### Why
not clickable

<img width="814" alt="Screen Shot 2020-03-25 at 8 51 18 AM" src="https://user-images.githubusercontent.com/238235/77538325-eaef4600-6e75-11ea-8c8d-f6842c031bf6.png">

[2020-03-25 14:04] writeprovidence commented on #6169
@owocki okay

[2020-03-25 14:24] JollyRogerz commented on #6169
Hello @owocki is everything okay with my submission (Megaman SVG)  ?

[2020-03-25 14:35] walidmujahid commented on #6191
@octavioamu Has let me know, https://github.com/gitcoinco/web/pull/6232#issuecomment-602998392, that attempts are being made to remove jQueryUI from the codebase.  I will update soon with ann alternative solution.

[2020-03-25 14:42] owocki commented on #6169
@JollyRogerz link me to the submission?  im planning on taking another pass here by EOW

[2020-03-25 15:36] dadahaha2020 opened #6299 "Mini CLR not reflecting correct total tips received"
**Describe the bug**
Noticed that the total amount of tips I received since #4 MINI CLR started has been reduced. Per notifications received, I received a total of $14.24 in tips from 5 contributors. But current dashboard info only shows $8.82 from 5 contributors.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 8
-

[2020-03-25 17:03] owocki commented on #6299
thanks. i wonder if some of the txns didnt clear and thats why they are not included

[2020-03-25 17:09] dadahaha2020 commented on #6299
I just noticed when for few days I got around $8 in tips. Then new tips came which reduced the number instead of adding to the existing amount.

[2020-03-25 17:31] JollyRogerz commented on #6169
@owocki  I submited it as a pull request like you said to

[2020-03-25 20:19] federicosan opened #6300 "Quest: The Journey to Solidity Kudos redirects to incorrect page on beating quest"
**Describe the bug**

when playing Quest: The Journey to Solidity from a MacBook pro using chrome, and when finally beating the quest. After clicking the claim kudos button, instead of being redirected to success page, it redirects to https://gitcoin.co/kudos/12188/future_city where this alert  appears

![alert](https://user-images.githubusercontent.com/5906694/77580997-aeded400-6ebb-11ea-959c-af3

[2020-03-25 21:13] owocki commented on #6300
thanks for reporting! can you pass along the redemption link from the quest so i can checkout whats going on? it should look like this => gitcoin.co/kudos/rededem/______________

[2020-03-25 21:59] Blockchayne commented on #6190
https://gitcoin.co/wiki/wiki_mission-statement

I submitted this page the other day. The mission statement.

Not sure if I was supposed to transfer this page over to the wiki or not. I went ahead and completed it anyways. There’s a few others that could be transferred but I wanted to wait for some clarification before proceeding further.

For example the ‘vision’ page has also yet to be transferre

[2020-03-26 02:10] petitechoco commented on #6169
![gitcoin_avatar-08](https://user-images.githubusercontent.com/51243481/77603002-abe6f080-6f5a-11ea-9aed-8c02c183715e.png)
I have uploaded a sketch and submitted it as a pull request

[2020-03-26 05:05] jschiarizzi commented on #6095
Okay so this doesnt work yet, @zoek1 would you help me finish it?

Some good helpful things:
- using https://github.com/gitcoinco/web/pull/6301/files as an example to of making a new profile tab
- Adding the new tab activation in tab.html in web/app/dashboard/templates/profiles
- Adding new follow tab template in for tab_follow in web/app/dashboard/templates/profiles

Some work still on
- use view

[2020-03-26 10:12] PixelantDesign commented on #6095
Thanks for the update @jschiarizzi! @zoek1 are you able to help get this to the finish line?

[2020-03-26 10:15] federicosan commented on #6300
Sorry for the delay,  here it is

https://gitcoin.co/kudos/redeem/60479917693107310731?tweet_url=https://gitcoin.co/quests/170/the-journey-to-solidity?cb=ref:276f&tweet=I%20just%20won%20a%20Future%20City%20Kudos%20by%20beating%20the%20%27The%20Journey%20to%20Solidity%20Quest%27%20on%20@gitcoin%20quests.

[2020-03-26 10:43] PixelantDesign commented on #6298
@sebastiantf ^ looking forward to seeing a pr!

[2020-03-26 11:10] PixelantDesign commented on #6237
Would be cool to have a quick welcome to the hackathon video on the hackathon landing page to talk about what the hackathon is about.

Other places to integrate:
- top of townsquare so anyone registered could stream out as they are working or if they wanted to broadcast something to other hackers/judges.
- automatically created persistent video link on each hackathon project that is created and ma

[2020-03-26 11:29] sebastiantf commented on #6298
Yes @PixelantDesign . I'm working on it.

[2020-03-26 13:01] #6140 closed

[2020-03-26 13:12] owocki commented on #6237
hackathon landing page to talk about what the hackathon is about.

This is a great idea.

On Thu, Mar 26, 2020 at 5:11 AM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-26 13:31] jschiarizzi commented on #6095
DM-ing on gitcoin chat with @zoek1 now

[2020-03-26 13:48] PixelantDesign commented on #6147
@developerfred, interested?

[2020-03-26 13:49] PixelantDesign commented on #6211
Thanks for the update @walidmujahid :)

[2020-03-26 15:10] ubermana commented on #6139
Hello, is this still open to work on?

[2020-03-26 16:23] pcowgill opened #6306 "An emoji in a post to Gitcoin Grants page shows up in the wrong spot"
An emoji in a post to a Gitcoin Grants page on the Activity tab shows up in the wrong spot.

See how the `tada` emoji in the image below appears in the project name rather than in the post when I try to insert it in the post.

![Screenshot 2020-03-26 11 20 23](https://user-images.githubusercontent.com/2731712/77670321-0892dd00-6f54-11ea-8421-f21bfa24fcd5.png)

[2020-03-26 16:50] owocki commented on #6139
no more new 'start work's pls!

On Thu, Mar 26, 2020 at 9:10 AM MannaS <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-26 17:04] pcowgill opened #6307 "Support markdown formatting in Gitcoin Grants posts in the Activity tab"
It would be great if markdown formatting were supported in Gitcoin Grants posts in the Activity tab. Right now, it ends up looking odd if you try to use multiple newlines and hyperlinks in a post.

![Screenshot 2020-03-26 12 03 04](https://user-images.githubusercontent.com/2731712/77674628-e1d7a500-6f59-11ea-8200-728e0f3d8aa6.png)

[2020-03-26 17:08] LefterisJP commented on #5800
@owocki this issue is still open since the last round and is actually rather critical imo. Setting a gas price and the second transaction having a different price is not good.

I also experience this every time I donate.

[2020-03-26 17:11] LefterisJP opened #6308 "Allow setting gas price with arbitrary decimal precision"
**Describe the bug**
I can't set the gas price I want via the gitcoin UI since it seems to only accept 1 decimal point of precision for Gwei.

**To Reproduce**
Try to set the gas price to 1.0001 Gwei

**Expected behavior**
Not get any error and have the gas price forwarded to metamask. If you manually edit the gas price in metamask it works.

**Screenshots**
![2020-03-26-152448_875x292_scrot](http

[2020-03-26 17:44] owocki commented on #6307
bountying this.

success criteria: markdown accepted + no new JS injection or security holes !!

[2020-03-26 17:49] owocki commented on #5800
i've got a fix staged. will commit it soon

[2020-03-26 17:59] owocki commented on #5800
fca7c8cdc363e4b3670e9b22222f164d8b72bca4 fixes this

[2020-03-26 18:44] PixelantDesign commented on #6121
@zoek1 bumping this one^

[2020-03-26 19:23] #6217 closed

[2020-03-26 20:30] federicosan opened #6310 "CPU usage 200%+ High heat on WEB docker build on Mac"
- [x ] I have tried with the latest version of my channel (Stable or Edge)
  - [x ] I have uploaded Diagnostics
  - Diagnostics ID: 58211D3E-4E1B-4CED-BC26-666B2D315EA2/20200326195749

### Expected behavior
No heat, reasonable CPU usage.
### Actual behavior
Heat so high, docker needs to be shut down to prevent the device hazard
### Information

  - macOS Version:
	macOS  Mojave 10.14.6 (18G3020)

[2020-03-26 21:00] owocki commented on #6310
hmmm interesting.. im on an 8 core macbook, and the docker container builds ok for me.   is your laptop in a well ventilated place?  im pretty sure theres no fire hazard running at full cpu for most well maintained machienes

i wonder what would happen if you only ran web_web and web_db

[2020-03-26 21:21] federicosan commented on #6310
It seems mac and docker have some issues, I first posted to docker's repo and there many many issues and very similar regarding this. My mac has only 4 cores, those are the specs. I already tried setting debug to false. I don't know what else to do, CPU usage goes to 300, with an average +200 and it heats as it is launching to mars.

[2020-03-26 21:24] krrisis opened #6311 "Calculator for grant matching"
### User Story

As a donor, I would love to see if it makes more sense for me to give eg 2-3 dai than 1 dai at a given time to a grant. So the box that shows the matching would be even more useful if I could input various amounts and see what the estimated matching is.

### Why Is this Needed

This will motivate me to donate more

### Description

Feature request

### Current Behavior
I can only s

[2020-03-26 21:26] loganbek commented on #6310
Can second have had issues with mac and docker before. Ill try to build
when im back at my desktop. Hopefully we can get to the bottom of this.

On Thu, Mar 26, 2020 at 2:21 PM federicosan <notifications@github.com>
wrote:

--
Logan Bek
LinkedIn <http://www.linkedin.com/in/loganbek>
Github <https://github.com/loganbek>
Come work for the open internet w/ Gitcoin
<https://gitcoin.co/townsquare/?cb=r

[2020-03-26 21:27] krrisis commented on #6311
closing this issue because I see I get that calculation when actually donating 😂

[2020-03-26 21:27] #6311 closed

[2020-03-26 22:07] federicosan commented on #6310
### Expected behavior

Changing resources from **4 cores** to **2 cores** and setting **disk image size** to only **8 GB**.
makes CPU usage stay between 40% and 220%, with a >100% CPU most of the time but at least not near 300%. Will try lowering resource to only 1 core and see what happens.

[2020-03-27 01:49] federicosan commented on #6310
### More updates

Setting cores to 1, takes CPU usage to 30% - 40% this is still high but it makes it usable and the mac is not heating as it was to explode.

I think this all should be added as a troubleshooting tip to the installation guide, what do you think?

[2020-03-27 03:07] sizzthehedgehog opened #6312 "Force kudos quest designer to mark multiple options questions"
Making a long story short: Please implement a logic check for kudos quest designer forcing them to mark that multiple options have to be selected.

Some quests are simply bad designed and this should be in place for all quests!

[2020-03-27 06:59] sebastiantf commented on #6298
@PixelantDesign I am not able to reproduce the issue rn. It seems the posts on Townsquare do recognize links and are clickable.

Can you please elaborate on the issue about when and how it happens?

[2020-03-27 07:10] sebastiantf commented on #3420
Has there been any follow up on this issue? I can't seem to log in to Gitcoin using Metamask Mobile. I get the error after trying to Log In via GitHub.

[2020-03-27 08:30] molecula451 commented on #6298
it looks like this is a post that were made to a grant wall.

[2020-03-27 08:34] sebastiantf commented on #6298
@molecula451 You mean the Activity tab on Grants page? But there too links are being recognized and clickable

[2020-03-27 10:27] #4148 closed

[2020-03-27 11:58] ekram-syed opened #6314 "User profile page getting a JS Error, $(...).autogrow is not a function"
**Describe the bug**

When you load anyone's profile page including your own, you'll see a JS error in the console.  Probably for that you not able to post anything on a users wall. The post button not working.

raven.js:449 Uncaught TypeError: $(...).autogrow is not a function
    at HTMLDocument.<anonymous> (status.bdadcc8e8abc.js:246)
    at l (jquery.a09e13ee94d5.js:2)
    at c (jquery.a09e13e

[2020-03-27 12:06] PixelantDesign commented on #6312
Thanks for the report @sizzthehedgehog could you provide a reference?

[2020-03-27 14:25] owocki commented on #3420
the latest is on this thread, were waiting for the contributor there https://github.com/MetaMask/metamask-mobile/issues/1273

[2020-03-27 14:27] owocki commented on #6310
yeah thats a good idea

On Thu, Mar 26, 2020 at 7:50 PM federicosan <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-27 15:19] cervoneluca opened #6315 "Docker container does not fill Profiles Table"
**Describe the bug**
I'm creating a fresh build starting by the web repository and following the guide https://docs.gitcoin.co/mk_setup/

After having created the superuser, I can login to the admin dashboard.

However, when I try to impersonate a user, the system goes down and displays the error in the following screenshoot.

<img width="1673" alt="Schermata 2020-03-26 alle 22 49 19" src="https:/

[2020-03-27 15:41] willsputra commented on #6208
hey @developerfred are you building the weekly email or daily email?

[2020-03-27 15:55] molecula451 commented on #6298
@walidmujahid

[2020-03-27 15:59] mul1sh commented on #3420
Still on it, sorry it requires alot of testing with different RN versions to make sure its sorted but i'm confident i'll wrap it up over the weekend.

[2020-03-27 16:25] walidmujahid commented on #6298
I have been the link issue as resolved. I am not sure who fixed it or what commit did so, but links do work now for the `wall_post` activities.

I am not working on this issue, but if this issue still has problems, I am just going to copy and paste a reply I posted the other day in TownSquare that seems relevant **Edited to reflect the lines seen a few days ago**:

From: https://gitcoin.co/townsqu

[2020-03-27 16:30] Calvinoea commented on #6236
Hello. I submitted the article 4 days ago. Please find within this message the link to the Wiki article: https://gitcoin.co/wiki/for_etc/ . Would you like me to make further changes or reviews? Should I make the article available through another document sharing platform as well?

[2020-03-27 16:46] owocki commented on #6314
we need to proabably put
    {% include 'shared/activity_scripts.html' %}

on the profile page.

[2020-03-27 17:08] owocki commented on #6300
looks like this redemption link has already been used to redeem a kudos. heres the on chain tx for that redemption http://etherscan.io/tx/0xa5c8ab64c1ee3199abfd3af7b540e7f13e055c5b7326d884038df2177a0eda3d

it was issued about 2 days ago

[2020-03-27 17:13] owocki commented on #6300
i think that what happeneed is this
1. you beat the ethereum-vc-bro quest
2. you got the kudos for that
3. you beat journey to solidity and were issued the same kudos for beating that as you would have been for the vc-bro quest - the system didnt realize it was for a different qeust

ill put in a fix right now so that when we dedupe the coupons across-quests

95ef5feda88b317624cca4cd32f01bf2ed6b2d

[2020-03-27 17:13] #6300 closed

[2020-03-27 18:10] owocki opened #6318 "Server Side Grants Transaction Validator"
# Validator 1

I would like a python script written that I can pass in a list of transactions, token amounts, and token names, and it can return a 1 or a 0 for each txn to tell me if those tokens were transfered as part of that txn

Note that Gitcoin has a tool that does this already, but we're having some problems with false negatives and with replaced transactions. So I'm interested in seeing ho

[2020-03-27 18:19] pcowgill opened #6319 "Marketing DAO shows up in tech type rather than media type on Gitcoin Grants"

[2020-03-27 19:05] owocki commented on #6318
@developerfred can u get a PR togehter by sunday u think?

[2020-03-27 19:09] developerfred commented on #6318
I believe so, I have already structured a mind map for this quest, I will focus on scalability and agility.

[2020-03-27 19:37] owocki commented on #6169
@maystro4 could you add a few more permutations to your svg pls? thanks!

[2020-03-27 19:37] owocki commented on #6169
ok guys i paid everyone i could find valid submission for and they are live at https://gitcoin.co/onboard/profile/?steps=avatar#section-title

anything i got wrong or any questions let me know.

[2020-03-27 19:39] Roundtree-Larry commented on #6169
@owocki i still didn't receive reward of robocon plz can check

[2020-03-27 19:52] owocki commented on #6190
submit work on gitcoin

[2020-03-27 19:54] owocki commented on #6190
@Blockchayne i think lets hold off for a bit on transfering more pages over

[2020-03-27 19:57] owocki commented on #6190
just paid out everyone who i could find.. @ me back if you didnt get a payout and you were expecting one.  pls include a link to your submission

[2020-03-27 20:00] owocki commented on #6139
i think i've paid everyone out here. if not pls open a PR with your kudos at https://github.com/gitcoinco/creative/ and tag me.  i can pay out there

[2020-03-27 20:02] dadahaha2020 commented on #6190
@owocki i think you missed my submissions above 😉

[2020-03-27 20:07] dadahaha2020 commented on #6190
Thank you mate!

[2020-03-27 20:39] Merit-Tech commented on #6190
@owocki I submitted my work, this is the link to the PR https://gitcoin.co/wiki/hackathons_gitcoin/  I am yet to receive payment.

[2020-03-27 20:48] owocki commented on #6169
@Roundtree-Larry did you create an avatar? which one? i thought you created a kudos,, mind responding to my gitcoin chat about which ones are still outstanding.

[2020-03-27 20:50] Roundtree-Larry commented on #6169
@owocki can plz see my submission https://github.com/gitcoinco/web/issues/6169#issuecomment-598467211

[2020-03-27 20:54] Michael-Alio opened #6320 "I'd like to revisit daily/weekly/monthly actions"
### User Story

Sometimes, I want to view what actions are available at the Town Square (daily/weekly/monthly). If I visit the page once, the link from the Town Square becomes unavailable.

### Why Is this Needed

I don't always feel like completing the action immediately, but I also don't want to decline it. I'd like to come back to the action later, but can't because the link is disabled until a

[2020-03-27 20:56] writeprovidence commented on #6190
@owocki  a link to my PR https://gitcoin.co/wiki/gitcoin_chatroom/ waiting to be paid on this.

[2020-03-27 20:57] owocki commented on #6169
derp my bad. when i iorigianlly clicked it i didnt realize it was to a specific comment. tipping now

[2020-03-27 21:01] ekram-syed commented on #6314
This issue is fixed, no JS error and can post on user's wall as well.

[2020-03-27 21:01] #6314 closed

[2020-03-27 21:06] Merit-Tech commented on #6190
@owocki thanks for the tip.

[2020-03-27 21:22] azizyano commented on #6139
hello @owock, thanks for your work, I just want to inform you that I sent to you my Kidos in GitHub https://github.com/gitcoinco/web/issues/6139#issuecomment-601659173 I will submit them if you like.

[2020-03-27 21:24] owocki commented on #6320
this is a great idea. i wonder if we could put up a heatmap like exists on
gitcoin.co/owocki in the profile section

On Fri, Mar 27, 2020 at 2:54 PM Michael-Alio <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/result

[2020-03-27 21:34] owocki opened #6321 "VIDEO CREATION - Make a creative 15 seconds Gitcoin promo video for twitter"
Hello Gitcoiniverse

This is a task to make a short promo video for Gitcoin

Inspiration: This metacartel video https://twitter.com/meta_cartel/status/1240012433982455808

Spec: You must submit in the next 2 weeks.
- Audio and Video
- I will pay out 1 ETH to the top 5 submission and 5 ETH to the top submission. i will award honorable mentions at my own budget / discretion.
- put your gitcoin.co pr

[2020-03-27 21:37] owocki commented on #6139
yes pls submit!

On Fri, Mar 27, 2020 at 3:22 PM Aziz Yano <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-27 21:56] LefterisJP opened #6322 "Your grant has been created with . Switch to take action on your grant."
**Describe the bug**
First of all some background. I did some donations from my main machine which is logged in Gitcoin in brave with metamask

Then I opened up my laptop to join a call and during the call I also logged in to gitcoin from the brave browser of the laptop. The laptop has no metamask though.

Then after some time closed the laptop and went back to the desktop machine and when I loade

[2020-03-27 22:56] azizyano commented on #6139
done @owocki .

[2020-03-27 23:21] walidmujahid commented on #6005
This issue has been resolved in d2a680febf1960e1564785d4a0a08789e5f5d668

[2020-03-27 23:49] walidmujahid commented on #6010
Merged recent upstream changes and tested locally. The feature works as expected.

Still waiting for further review. Hopefully this issue can be closed soon.

[2020-03-28 00:13] ResourceHog opened #6323 "White screen when accessing gitcoin chat."
**Describe the bug**

Attempting to open gitcoin chat will bring me to the following webpage shows a white screen instead of a chat app

**To Reproduce**

1. Use chrome or brave browser
2. open web chat

**Expected behavior**

Should show some chat app.

**Screenshots**

![image](https://user-images.githubusercontent.com/3767092/77809698-1593f700-704e-11ea-8743-17120d998118.png)

**Desktop (please

[2020-03-28 01:02] Ianfinn1994 opened #6324 "Finished the quest and provided the correct address and did not receive the Kudos."
I had finished "Fintech and Blockchain" and had provided the Proper Ethereum address, yet did not receive the Turing Talker Kudos.  Was a bit disappointing since Alan Turing was one of the reasons i began to learn Programming and Genetic Algorithm basics to begin with.

[2020-03-28 01:04] vargaspeniel commented on #6190
@owocki, Thank you for the tip.

I have completely finished working with the following two new wiki pages:
5. [Displaying Kudos in MetaMask](https://gitcoin.co/wiki/get_started/kudos_in_metamask/)
6. [Exchanging ETH to Other Ethereum Based Tokens](https://gitcoin.co/wiki/get_started/exchanging_eth/)

Don't know if the work done on these two pages was also included on the most recently received tip

[2020-03-28 01:10] scottrepreneur opened #6325 "Additional email settings for Grants confirmation and Gitcoin support"
### User Story

As a user, I would like to be able to turn off "Grant submission confirmation" emails and "Thank you for Supporting Gitcoin" emails.

### Why Is this Needed

*Summary*: It's blowing up my inbox and I'd like to opt out of all emails.

### Description

*Type*: Feature

### Current Behavior

Currently the emails are sent and there is no way to disable them.

### Expected Behavior

All

[2020-03-28 01:24] erib3 commented on #6318
can we get a better example of input, output files for this task?

[2020-03-28 02:22] molecula451 opened #6326 "Start Work description filtering on form activity"
**Describe the bug**

![post](https://user-images.githubusercontent.com/41552663/77812676-44739280-7079-11ea-8aaa-3e411c02ff3f.png)

![post1](https://user-images.githubusercontent.com/41552663/77812684-4ccbcd80-7079-11ea-939a-cf2675d0998f.png)

**To Reproduce**

Start work, leave and go to profile or townsqure, "brief work" description it's filtering on form post activity

**Expected behavior**

*

[2020-03-28 02:33] molecula451 commented on #6326
@l-kh it's you

[2020-03-28 11:42] erib3 commented on #6318
What's the amount_minus_gitcoin_fee for?

[2020-03-28 14:21] owocki commented on #6321
woah great to see so many people started on this. have you all watched the inspiration video? any questions about the spec let me know?!?

[2020-03-28 14:33] owocki commented on #6319
just moved it thx for headsup

[2020-03-28 14:33] #6319 closed

[2020-03-28 14:34] owocki commented on #6318
@developerfred mind submitting a WIP PR? im keen to track the progress here..

@erib3 if the gitcoin fee was charged, then the amount on chain will be amount_minus_gitcoin_fee not amount, so its provided just to make vlaidation of amounts easier for whomever is wrtiing the validator

[2020-03-28 15:29] kevinknielsen opened #6328 "Grant Contribution didn't post on Web"
**Description**
Contributed a bit to fund the Our Network grant but for some reason, the activity post for the contribution was deleted even though the Ethereum transaction was confirmed.

**Expected behavior**
Was expecting the transaction to post on the grantee's page:
(https://gitcoin.co/grants/565/our-network-community-driven-analytics?tab=transactions)

**Screenshots**
![Screen Shot 2020-03-2

[2020-03-28 16:36] dadahaha2020 commented on #6235
Is this still open? I'd be glad to take on the task.

[2020-03-28 18:51] federicosan commented on #6169
@owocki I will try to at least send you how it looks and then submit a PR, I've been a little sick sorry for the delay.

[2020-03-28 19:19] wizzfile opened #6330 "issue"
### Who

### What

### Why

[2020-03-28 19:19] wizzfile commented on #6330
1

[2020-03-28 22:57] erib3 commented on #6318
@owocki so if the token_address is 0x0000 then we are checking eth amounts? Also to handle replaced transactions is it just find transaction with same nonce?

[2020-03-29 00:56] #6274 closed

[2020-03-29 03:28] jschiarizzi commented on #6095
Saturday update, zoek1 and I worked on this for a bit today.

current progress is:
<img width="1224" alt="Screen Shot 2020-03-28 at 11 26 42 PM" src="https://user-images.githubusercontent.com/9449596/77839542-ad2b3f80-714b-11ea-87bd-5728ac0d57a3.png">

Just missing a few small beautification things, and the send message button. all the functionality is done. Needs maybe another hour I hope, tomorr

[2020-03-29 15:22] walidmujahid commented on #6191
A plugin or library would have handled all the nessecary keys out of the box, but since I basically long off schedule for this, I will just hack in the up down arrows. I am not quite sure why the bootstrap classes will not work this properly. I am not sure if it is because of how the menu is generated or if it is the the event listened for on `input` for the textarea. I did try the data-toggles an

[2020-03-29 21:37] coopahtroopanew commented on #6254
Raid Guild rises to conquer this bounty! MetaCartel runs strong on personal token questing and summons @jschiarizzi @proofoftom @sydneylai @auryn-macmillan and me as the official Raid Party. Full proposal here: https://hackmd.io/@coopahtroopa/ryYqHYA8I

[2020-03-29 22:29] developerfred commented on #6328
fix the optional view bigFloat  (+1e-18 DAI optional tip to Gitcoin)
<img width="727" alt="Screen Shot 2020-03-29 at 19 25 20" src="https://user-images.githubusercontent.com/57037080/77862617-1b770d00-71f3-11ea-8ca5-23f3cf2de624.png">

[2020-03-29 22:30] developerfred commented on #6328
hey @kevinknielsen, Do you sign other grants? had the same result?

[2020-03-29 23:05] proofoftom commented on #6254
Separate and unrelated to the proposal that Cooper just posted above, I wanted to post this for fun - as a thought experiment: [Bonded Personal Tokens w/ Dividends](https://hackmd.io/@JlokDB--SqCXlJ1VlUi7rA/bonded-personal-tokens-w-dividends)

[2020-03-30 00:04] lychees commented on #6254
Hi, just draft a design doc, feel free to give me some feedback. ;)

TL;DR:
- In order to use personal token in Gitcoin, users need either stake their mainnet erc20 token into a gateway contract, or customize a new personal token in Gitcoin personal token generator page.
- In order to give their personal token a price and make it tradeable, user should stake a part of their token into a liquidity

[2020-03-30 00:27] developerfred commented on #6323
tries to disable the Brave shield.
<img width="401" alt="Screen Shot 2020-03-29 at 21 24 18" src="https://user-images.githubusercontent.com/57037080/77865312-035bb980-7204-11ea-80dc-497d894ae1e8.png">

[2020-03-30 01:03] developerfred commented on #6323
Possible solution change the Chat to ipfs-chat
https://ipfs-chat.herokuapp.com/
- https://github.com/orbitdb/orbit

[2020-03-30 02:47] owocki commented on #6139
hmmm for some reason i cant get your kudos to mind. they are too big and
offcenter and the kudos conversion tools choke on them. i wonder if it has
do with the way the viewbox was constructed.

On Fri, Mar 27, 2020 at 4:56 PM Aziz Yano <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3

[2020-03-30 02:47] owocki commented on #6325
did you try clicking 'dont send me grant emails' in https://gitcoin.co/settings/email/  ?

[2020-03-30 02:52] owocki commented on #6318
shoot. yeah youre right. either that or use the blockscout API to handle it.  if i generate you another export with from adresses in it, can you update your script to handle them?

[2020-03-30 03:17] inspireme6 commented on #6318
@owocki there are cases like this one:

where eth was transferred instead of DAI, this kind of tx should be put as failed or success?

[2020-03-30 03:50] erib3 commented on #6318
@owocki I could update my code, also I don't see how we could use blockscout API for this

[2020-03-30 05:32] inspireme6 commented on #6318
I just noticed the token transactions are Approval methods not the real transfer.

e.g this tx approves 1000 DAI to be spended but only 6.9 was actually transferred, this could be misleading i think.

[2020-03-30 11:22] cervoneluca commented on #6315
any news about this issue?

[2020-03-30 13:20] owocki commented on #6315
youre welcome to create profile fixtures yourself, or bounty it if you want someone else to do it.  one workaround is to hook up the users youre trying to impersonate to another user in your DB.

[2020-03-30 13:24] owocki commented on #6318
definitely failed, but with a comment explaining why.

someone told me the blockscout API can give you the replacement tx_id.

if i provide a combo of txid1 and txid2, of which one must be the transfer of the actual tokens, would that work?  there are cases in which we receive 2 txns from the frontend but only the second will transfer funds.

[2020-03-30 13:36] biuxmaster commented on #6139
@owocki Please can you check my comment? I didn't receive yet
https://github.com/gitcoinco/web/issues/6139#issuecomment-601643307

[2020-03-30 13:58] owocki commented on #6139
@biuxmaster just paid u on ur PR

[2020-03-30 14:00] biuxmaster commented on #6139
@owocki  Thanks, I hope you have a nice week !!

[2020-03-30 14:04] Pascaltallarida opened #6333 "Funds are not matched with every donations in our Grant"
Hello :)

**Describe the bug**
For 2 days now, whenever someone pledges Dai to our grant, it is most of the time not matched with the CLR funds. We have received probably 10-15 donations which had 0 impact on the CLR matching, while sometimes, some had.

**To Reproduce**
Donate to [https://gitcoin.co/grants/600/synthereum-synthetic-assets-with-liquidity-pools-t ](https://gitcoin.co/grants/600/synt

[2020-03-30 14:20] owocki commented on #6318
here is some new input data that includes txid1 and txid2, but also the from address (so we can find dropped and replaced txns) https://gist.github.com/owocki/a298bad096288754d55d61e87b385eac

[2020-03-30 14:23] mds1 opened #6334 "Unclear "Match Distribution" Email"
Yesterday I received an email with the subject line "Match Distribution of $7.29 for @mds1".

The email body was as follows:
![image](https://user-images.githubusercontent.com/17163988/77922639-23b46400-7256-11ea-9ece-68ef4808d5aa.png)

There are a few specific things that are unclear here:

1. What did I receive this for? I don't see this anywhere in the email, and I did not have a corresponding

[2020-03-30 14:53] owocki commented on #6322
@LefterisJP this is for https://gitcoin.co/grants/149/rotki/fund right?

[2020-03-30 14:56] LefterisJP commented on #6322
Yes indeed it is! Happens quite often if I log in metamask but I see nothing in the console.

[2020-03-30 14:58] molecula451 commented on #6322
When was this grant created? This is weird, the error message was fixed months ago and it outputs the wallet you used to created the grant

![looks](https://user-images.githubusercontent.com/41552663/77927459-3ee29c00-7275-11ea-9168-6cef8b648048.png)

[2020-03-30 15:04] azizyano commented on #6139
hello @owocki. I fixed my Kudos, I think they will be fine now, try them, please.

[2020-03-30 15:06] LefterisJP commented on #6322
Should have been created right after devcon in Osaka.

[2020-03-30 15:12] molecula451 commented on #6322
I see...the error wasn't fixed by that time. But this was able to replicate this way: When you were connected to the metamask to the main wallet you used for Gitcoin and create a grant. The grant were created using the second wallet on your MetaMask account so you gotta figure out the wallet you used

[2020-03-30 15:19] owocki commented on #6322
looks like the grant owner address in the DB is falsy.. let me update it to be the correct address and that should fix the issue.

[2020-03-30 15:21] owocki commented on #6322
ok done

[2020-03-30 15:30] LefterisJP commented on #6322
All right. So now I just logged in metamask when looking at the grant and got the error again, but this time with an actual address, which is the currently logged in metamask address.

I have two addresses in metamask, but this is the one I am currently logged in with. It's my public address.

![2020-03-30-172817_1040x30_scrot](https://user-images.githubusercontent.com/1658405/77931082-014d3580-72

[2020-03-30 15:34] dadahaha2020 opened #6335 "[ADD] Gitcoin Community Circles (GCC)"
### User Story

Currently we only have Tribes for Organizations while individual interactions are all done thru the TownSquare making the section more crowded than it should be.

### Why Is this Needed
It will be more organized and nice if users can have a Group (Circle) where they can share their common interests. Unlike tribes that is focus on org's functionalities and goals, Gitcoin Community C

[2020-03-30 15:37] #6299 closed

[2020-03-30 15:57] cervoneluca commented on #6315
Thanks @owocki . The fact is that the profiles' table is completely empty when I create the docker. I'm trying to create a new profile by scratch, but I'm not sure what the various field should contain. Anyway, I'll try to figure out this!

[2020-03-30 16:38] dmihal opened #6336 "Posting links that include an @ symbol are rendered incorrectly"
**Describe the bug**
Posting links in the townsquare that include an "@" symbol causes the link to render incorrectly.

**Expected behavior**
Render a normal link.

**Screenshots**
![image](https://user-images.githubusercontent.com/1661138/77938068-955ad500-728b-11ea-9ca5-6b862f0e805f.png)

[2020-03-30 16:46] zoek1 commented on #6018
hey, @alexvotofuture I already started to implement this, just waiting for your comments but i think it's better reach you by gitcoin chat. I'll be posting here key points.

[2020-03-30 16:59] developerfred commented on #6336
hey @dmihal its regex problem, I will fixed this!

[2020-03-30 17:11] owocki commented on #6315
if you login with github (there are docs on the doc site about how to set
this up) it will auto populate  aprofile for you

On Mon, Mar 30, 2020 at 9:57 AM Luca Cervone <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co

[2020-03-30 17:15] cervoneluca commented on #6315
Oh ... great! I didn't know that! Is it documented here https://docs.gitcoin.co/mk_setup/ ? Let me know. Perhaps, I can update that documentation to add info on how to create profiles!

[2020-03-30 17:16] owocki commented on #6333
we are filtering out new github accounts that have been created only to contribute to grants.  a disproportionately large majority of your contributions have been from new github accounts, which looks like a sybil attack to the CLR system.

[2020-03-30 17:19] owocki commented on #6334
heres the payout txn
https://etherscan.io/tx/0xeb85add30fe7e3f1b5bd3a08b5a6565716bf735fc56417b79eb3cbbca705e798

i think the first payment failed and thats why you got a really janky
looking email

On Mon, Mar 30, 2020 at 8:23 AM Matt <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.

[2020-03-30 17:26] cervoneluca commented on #6315
Anyway, if I try to login with github, it doesn't work 😓. Look at the following screenshot:

<img width="1672" alt="Schermata 2020-03-30 alle 19 23 58" src="https://user-images.githubusercontent.com/3637606/77942681-437e7300-72bc-11ea-9d04-0e5fced109b3.png">

[2020-03-30 17:27] owocki commented on #6139
hmm is this one of the resubmissions?  it still looks very large to me

On Mon, Mar 30, 2020 at 9:04 AM Aziz Yano <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-30 17:29] owocki commented on #6315
https://docs.gitcoin.co/mk_envvars/#github-authentication is the github
auth information.

from your screenshot (in the URL client='') it looks like you haven't
properly set/loaded your env variables

On Mon, Mar 30, 2020 at 11:26 AM Luca Cervone <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has genera

[2020-03-30 17:30] owocki commented on #6322
is your metamask unlocked?  i wonder if theres just a simple case
sensitivity issue thats causing this problem..

On Mon, Mar 30, 2020 at 9:30 AM Lefteris Karapetsas <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/r

[2020-03-30 17:39] owocki commented on #6254
il be reviewing proposals this week. can yall get them in by weds!??

[2020-03-30 17:42] owocki commented on #6328
do you see any errors in console?

i'm also on chrome + i seem to be able to fund this grant ok.. so not sure how to reproduce this

[2020-03-30 17:47] dadahaha2020 opened #6337 "Easy Asset Swap Function or Link for Grant Contribution"
### User Story
Contributors to Grants has to be ready with the assets needed / are accepted.
### Why Is this Needed
It is time saving to have a function or link to easy swap of assets within the Contribute to Grant's Page.

### Description

-  **Option 1**
    - Add a swap button that links to list of easy swap platforms

-  **Options 2**
    - Create Gitcoin's own asset swapping mechanism

[comme

[2020-03-30 17:54] Pascaltallarida commented on #6333
Hey Kevin,

OK I understand better now; was this measures done after this round started? the issue came up only few days ago.

As for the Sybil attack, our community is coming from outside the crypto world and we try to introduce them to it, to defi, and so is the case for gitcoin. No one from our community knew about it, nor they had a github account, si they had to create one. I thought it was n

[2020-03-30 18:02] scottrepreneur commented on #6325
I was reading these settings as opting into emails. I guess they're the inverse as I had unchecked all attempting to disable all emails. Can't read evidently.

[2020-03-30 18:02] #6325 closed

[2020-03-30 18:26] owocki opened #6338 "The BIG Gitcoin Grants CLR Round 5 Product Feedback Thread!"
Welcome to the BIG Gitcoin Grants CLR Round 5 Product Feedback Thread!

Grants is one of our core products, but as we've been focused on [hackathons](http://hackathons.gitcoin.co)  too it's the one we haven't had much time to spend devving on as much recently.

The next big effort to improove grants will be CLR round 6 (probably in Q3 sometime).

This is a thread where you can catalogue product fe

[2020-03-30 18:26] owocki commented on #6338
round 3 feedback https://github.com/gitcoinco/web/issues/5282

[2020-03-30 18:52] LefterisJP commented on #6322
It's unlocked. And in metamask I see the first b is capitalized due to the checksum. Perhaps you should either all lowercase it, or better yet compared the checksummed addresses? I don't know if you use web3.py in django but you got the `to_checksum_address()` there for that: https://github.com/ethereum/eth-utils/blob/master/eth_utils/__init__.py#L22

[2020-03-30 19:17] Coinwalletfriend commented on #6338
**Love Round 6?**
YES: Extremely important, I believe that the platform needs more digital presence so that Round 6 ... 10 ... 25 ... 50 ... 250 ... 500 can reach more projects in the world. I have noticed the platform's fortified growth, but it still needs a more powerful digital presence.

**Found a bug?**
YES: Two bugs, The platform is unstable on Firefox 74.0 (64-bit) being operated on Windows

[2020-03-30 19:20] owocki commented on #6338
which feed doesnt update?

[2020-03-30 19:27] Coinwalletfriend commented on #6338
The Town Square that doesn't appear sometimes, but this is only happening in Firefox, in Chrome the performance is excellent.

[2020-03-30 19:31] owocki commented on #6338
thanks - it seems to work in my local firefox install (but im on mac not
windows) i dont suppose ur running a popup blocker or anything are you?

On Mon, Mar 30, 2020 at 1:27 PM Coin Wallet Friend <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our

[2020-03-30 19:34] Coinwalletfriend commented on #6338
There are no extensions, not even the firefox blocker, and the only antivirus I use is Lavasoft free, but I believe it does not interfere.

[2020-03-30 19:43] #6322 closed

[2020-03-30 20:19] mds1 commented on #6334
That payout transaction seems to correspond with the other payout email I got this morning, which was for $7.10 and looks identical to image above.

Maybe that one from this morning is actually the successful payout, i.e. it's the same payment as the other email, and the dollar value difference is due to Dai exchange rates?

Either way, I think the email from the successful one is still confusing—

[2020-03-30 22:48] poapxyz opened #6341 "Pledge to grant wasn't picked up by backend"
Hey there.
I couple days ago I've done several (four to be exact) donations using the Gitcoin Grants website. No apparent issues. Later on I was check-in my profile and I saw that one of the donations hasn't been picked up by Gitcoin. Not sure how it happened but the TX id is there to check that I was correctly crafted, as it's seen here:
https://etherscan.io/tx/0xf3713cdb7dd0e49e155839463df6945c7

[2020-03-30 23:35] ThomasFoolery opened #6342 "MetaMask Android Login"
**Describe the bug:**

Unable to log in with GitCoin from MetaMask app on Android.  Receive Error 500 "even the bots aren't sure what happened".  Also seeing drop down error message:  Session value state missing.

**To Reproduce:**

Open MetaMask app for Android
Navigate to Gitcoin (enter address or under Explore -> Earn Crypto)
From menu, select Log in

[2020-03-31 05:07] molecula451 opened #6343 "Email Preferences are not persistent"
**Describe the bug**

![record-01043631032020](https://user-images.githubusercontent.com/41552663/77989062-d8e52b80-72eb-11ea-97b4-b7bb9e2036e4.gif)

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version

[2020-03-31 06:57] cervoneluca commented on #6315
Eventually I made it work! 🥳thanks @owocki ... Now I can return to work on the new quests mechanics

[2020-03-31 08:16] GodRACE1 commented on #6321
Good day Mr Owocki.
This is my submission:
Gitcoin in 15 seconds
https://youtu.be/Y2ycq5hbMrU

[2020-03-31 13:02] owocki commented on #6343
You have to press Save button at bottom

On Mon, Mar 30, 2020 at 11:07 PM Paul <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-31 13:04] owocki commented on #6341
What browser are you using? do you recall if you signed both transactions
for each contribution? We’ll need some help reproducing this to know what
happpened.

On Mon, Mar 30, 2020 at 4:49 PM poapxyz <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see

[2020-03-31 13:14] poapxyz commented on #6341
Environment: Chrome with Metamask on Mac OS.
I cant tell remember exactly if I signed the two txs but I don't remember anything out of the usual in the process, and I made successful donations both immediately before and after the failed one on the same setup.

[2020-03-31 13:32] owocki commented on #6342
we are waiting on the upstream fix here https://github.com/MetaMask/metamask-mobile/issues/1273

[2020-03-31 13:48] owocki commented on #6333
The measure was deployed 3/27, after it became clear that there were new massive numbers of github accounts being created to fund this (and a few other) grants.

You can absolutely ask your community to support you of course!

I can see from our backend that many of these accounts are created by the same person(s).

I agree it's not fair to the legitimate people from the community who intended to

[2020-03-31 14:04] owocki commented on #6333
note that i am in no way making any accusations that the sybil attacks have been centrally organized, only that were definitely seeing signs of falsified github accounts over here.

[2020-03-31 14:08] Pascaltallarida commented on #6333
Thanks for the answer.

We have now asked our community to do not participate as we don't know the detail of this new policy: we still have people who wants to participate though, what should we do with them? What is considered as a new account? Also some of these accounts have also donated to other grants, does that mean their contribution did not match the CLR funds?

On the fact someone created

[2020-03-31 14:11] Pascaltallarida commented on #6333
Yes I know you are not making accusations :) no worry on that, it is totally normal to punish abusive behaviour and it is totally normal to even think we orchestrated a Sybil attack.

[2020-03-31 14:18] Pascaltallarida commented on #6333
(Twitter link > https://twitter.com/pscltllrd/status/1243556414766878726?s=20) (it is in french though :))

[2020-03-31 14:22] #6343 closed

[2020-03-31 14:44] frankchen07 commented on #6087
@zoek1 - hi Miguel - where are we on this embedded onboarding ticket?

[2020-03-31 16:27] frankchen07 commented on #6011
hey @developerfred, I was mistaken in that we needed to give you a design for you to have something modify the HTML with. We've updated this ticket with a design that @willsputra, just wanted to see if you could update the HTML with the design that is posted in the ticket.

Under the definition of done, we also want to pull recent townsquare comments and a link to a user's notifications, which I'm

[2020-03-31 16:36] sebastiantf commented on #6298
Yes @gitcoinbot.
@PixelantDesign Can you please clarify whether this issue still exists?

[2020-03-31 16:47] Solexplorer commented on #5694
Looks like this was solved

[2020-03-31 16:47] #5694 closed

[2020-03-31 17:05] maystro4 commented on #6169
hi, @owocki I add more permutations as you said and  plus some modifications; sorry for being late,
. I hope you like it
[chappie 007.zip](https://github.com/gitcoinco/web/files/4410481/chappie.007.zip)

[2020-03-31 17:45] 7ada opened #6344 "I'd like to know how to connect my wallet to the mainnet"
Hello Gitcoiner!

My metamask is connected to the mainnet https://share.getcloudapp.com/z8uXjw9O but strangely when I tried to fund a grant or submit a work the bar shows an error (meatmask is locked) https://share.getcloudapp.com/YEuA2vYB

 I want to find a way to connect my wallet

 the mainnet is selected and metamask is opened but I still cannot tip, fund or submit

 I tried to connect my meta

[2020-03-31 18:14] Pascaltallarida commented on #6333
Hey Kevin, we started asking in our community to see if anyone has cheated. Turns out sometimes two person sharing the same IP (specifically, husband and wife, who are both in our community) but also few people are using the same VPN provider.

We keep digging but this might explain the same IP address.

For a Sybil attack the best would also be to link wallet addresses between them (10 fake accou

[2020-03-31 18:28] crisgarner commented on #6338
I found a bug on my [Community Gitcoin Grant,](https://gitcoin.co/grants/231/buidl-honduras?tab=description) not sure what did trigger it, I received a donation which is not showing on the frontend, I actually got notified of the bug by the donor. Here is the transaction

https://etherscan.io/tx/0xf3713cdb7dd0e49e155839463df6945c7f1d3ea6523648bd9d3cdd90144e88cb

[2020-03-31 18:46] owocki commented on #6344
can you unlock metamask?  if you go into settings > connected do you see gitcoin.co in that list? https://bits.owocki.com/2NuBOyXJ

[2020-03-31 18:47] owocki commented on #6338
@crisgarner i dont see that contribution in our DB either. can you tag the donor here so we can hear any reproduction steps?

[2020-03-31 18:56] marsrobertson opened #6345 "Make the 🛑🛑🛑NUCLEAR 🛑🛑🛑🛑button smaller"
I just wanted to cancel edit and it freaked me out.

![image](https://user-images.githubusercontent.com/44369284/78064422-a38f1b00-7389-11ea-9009-42eb6471fbbc.png)

[2020-03-31 18:57] molecula451 commented on #6344
he fixed the issue already and contributed, guess it's safe to close

[2020-03-31 18:59] owocki commented on #6345
great point

On Tue, Mar 31, 2020 at 12:56 PM Mars Robertson <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-03-31 20:20] crisgarner commented on #6338
Sure, I think was from @poapxyz account

[2020-03-31 22:44] #6342 closed

[2020-04-01 05:26] inspireme6 commented on #6318
Let me know if #6349 is kind of a good approach or definitely no.

[2020-04-01 07:04] zoek1 commented on #6087
Only i need to work on the UI, the lógic is already implemented. Sorry I've been postponing this task, but this is my priority this week :pray:

[2020-04-01 09:02] PetarKirov commented on #6333
@owocki Could you add a KYC procedure as an alternative to the GitHub requirement? I believe this would solve the issue both on your side and on ours.

[2020-04-01 15:15] owocki commented on #6139
hey all; if theres anyone i forgot to pay for their submission please @ me on the PR for your kudos. thanks so much :)

[2020-04-01 15:31] owocki commented on #6333
yeah thats something were strongly looking into next round

On Wed, Apr 1, 2020 at 3:02 AM Petar Kirov <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-01 15:31] owocki commented on #6338
https://github.com/gitcoinco/web/issues/6333#issuecomment-607127776

RE KYC

[2020-04-01 15:42] owocki commented on #6318
@inspireme6 thanks for doing that, but @developerfred is working on the bounty so i def have to continue on the track with him.  just an FYI RE: the bounty funds. maybe if we fold some of your approach in i can pay ya both out since the result will be better!

[2020-04-01 15:46] Pascaltallarida commented on #6333
Hi @owocki, and for our case?

* can you give us the number and account name of the one you suspect having created fake account
* can you retroactively match the funds of the donators using new github account until you have told us that there are new policy > we can ask most of them to prove their uniqueness by any mean you want.
* how can we ask our community to contribute to this particular gran

[2020-04-01 15:50] owocki opened #6350 "Mission page redesign"
gitcoin.co/mission

could probably use a newer treatment - it still looks kind of old 2018 era gitcoin style

maybe some of the new artwork that guist has done could be good here

![1500x500](https://user-images.githubusercontent.com/513929/78158183-26ea5400-73fe-11ea-9902-7491e1afc9e9.jpg)

[2020-04-01 16:21] owocki commented on #6254
reviewing proposals in the next few hours. if i owe you a comment, hoping to get back by EOD.  if ur putting finishing touches on your proposal, then pls comment in the next hour or two!

[2020-04-01 17:25] inspireme6 commented on #6318
@owocki that sounds okay to me! I wish there was a better way to tackle the issue with the dropped/replaced tx. I still had fun :)

[2020-04-01 18:37] biuxmaster commented on #6321
@owocki  Hi, I made a quick draft, pls tell me what you think?

https://drive.google.com/file/d/14tgWaPuzGOXukFVIKfmBNaq9FENLAPuJ/view

[2020-04-01 19:13] owocki commented on #6321
@GodRACE1 thanks for your submission. i think it'd be stronger if the white background didnt appera with the gitcoin logo. infact u might use the white on black logo for this video.

@biuxmaster this is super kewl, my favorite one yet!  can you download some avatars and throw them in there, around the time where it says 'gitcoin is community'?  i think the diversity of showing many avatars at once

[2020-04-01 20:16] owocki commented on #6169
thanks @maystro4 i just commited it up via d527be5f3c656a6ae8e94ab149a625d181c8dbd0 ; anything i should put in your bio for this avatar?

[2020-04-01 20:58] owocki commented on #6193
hey @zoek1 hows it going? can you link the PR and demo video here pls?

btw - we have a small request from @connoroday and the bizops team here at gitcoin. would it be possible to extend the 'request payment' object and form to include a "blockchain network name" and "address on that blockchain network" field so that our sponsors can pay on BCH/BTC/SIA etc

[2020-04-01 21:51] owocki commented on #6318
old ticket => https://github.com/gitcoinco/web/issues/5762

[2020-04-01 21:55] zoek1 commented on #6193
Sure @owocki no problem, I'm wondering if the tips view already supports blockchain network name?

**PR**: https://github.com/gitcoinco/web/pull/6220
**Demo**: https://www.dropbox.com/s/3jmejmc052hyjfy/2020-03-24%2011-56-28.flv?dl=0

[2020-04-01 22:09] azizyano commented on #6139
hello, @owocki I made a new Kudos because I think there is a problem of the last kudos that I submit
if you like them plz, inform me to submit them.
thanks
[Desktop.zip](https://github.com/gitcoinco/web/files/4417906/Desktop.zip)

[2020-04-01 23:44] owocki commented on #6193
it doesnt, youd have to add a field for that

On Wed, Apr 1, 2020 at 3:56 PM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-01 23:45] owocki commented on #6139
i think i was able to mitigate it on the server side :) can you submit the
kudos via the gitcoin.co/kudos/new form? i can mint them soon thereafter

On Wed, Apr 1, 2020 at 4:10 PM Aziz Yano <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our result

[2020-04-02 01:48] KayZou001 commented on #6139
hello, i'm new here in Getcoin, i would like to create my own Kudos, will you accept my Kudos if i created them? thank you.

[2020-04-02 02:06] walidmujahid opened #6353 "sync_geth not working for bounties - local docker - rinkeby"
When trying to sync with bounties using:

`docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999`

I am receving `requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://rinkeby.infura.io/`. Thinking it might be the infura ID may have expired, I supplied a custom override forINFURA_V3_PROJECT_ID, but I received the same error.

Trying:

`docker-compose

[2020-04-02 02:41] walidmujahid commented on #6353
Possibly related is the seemingly unending loop of 400 Errors from `/sync/web3/ ` when 'Transaction Processing' after submitting a bounty from localhost docker.

[2020-04-02 04:08] walidmujahid commented on #6353
Going through the bug posts on Infura's community forum, I am beginning to suspect this is could be a problem with web3.;py or a combined problem between web3.py and any recent changes with the Infura API. Or at least, it would seem the HTTP API and web3.py. I will look into this more in the morning.

[2020-04-02 04:10] walidmujahid commented on #6353
Going through the bug posts on Infura's community forum, I think the problem may lay somewehre between the HTTP API and web3.py. I will look into this more in the morning.

[2020-04-02 10:14] biuxmaster commented on #6321
@owocki  thanks for the feedback. I think that's a good idea, I'll update that now

[2020-04-02 13:26] willsputra opened #6354 "Townsquare: Highlight Feed Items"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to see important things happening on gitcoin-verse more clearly on the feed (new bounties, new grant, new hackathon, new project, new kudos)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happe

[2020-04-02 13:27] willsputra commented on #6354
@PixelantDesign @KennethAshley

[2020-04-02 14:06] owocki commented on #6333
any update on open sourcing your codebase?  as it stands i still have to resolve the original grant flag from last week.

[2020-04-02 14:15] owocki commented on #6354
oooh purdy

On Thu, Apr 2, 2020 at 7:27 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-02 14:16] Pascaltallarida commented on #6333
We open-sourced it already :) published it on Tweeter + on the gitcoin page + send a msg to everyone.

https://gitlab.com/jarvis-network/smart-contracts/synthereum/SynFiat

[2020-04-02 14:18] owocki commented on #6139
sure submit at gitcoin.co/kudos/new

On Wed, Apr 1, 2020 at 7:48 PM KayZou <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-02 14:26] owocki commented on #6333
thanks; is the web frontend open source too?

On Thu, Apr 2, 2020 at 8:16 AM Pascal Tallarida <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-02 14:30] Pascaltallarida commented on #6333
It is but i see it is in a other branch, I will request this to be fixed ASAP.

[2020-04-02 14:40] owocki commented on #6353
i think that you gotta add an infura project ID a la the following to your env file

[code]

this probably needs to be updated in the docs too, as this is a new requirement that infura is enforcing

[2020-04-02 14:59] walidmujahid commented on #6353
@owocki Testing it now.

[2020-04-02 16:44] walidmujahid commented on #6353
@owocki I have tried overriding the `WEB3_HTTP_PROVIDER` env variable, however the result is the same. I am not sure doing this is necessary either as the dashboard.utils functions already have this format.

I did supply a custom overrride for `INFURA_V3_PROJECT_ID` for both the default ID as well as a personal Infura ID I set up to test this, however, the errors remain.

[2020-04-02 17:21] owocki commented on #6353
well the errors in your issue desc still point to `https://rinkeby.infura.io/` not `https://rinkeby.infura.io/PROJECT_ID` so i think that the ENV variable is not being recognized probably. sometimes u have to restart the container to get them recognized, or its possible that however you're instanstiating web3py isnt actually looking at the project ID.

[2020-04-02 17:29] developerfred commented on #6354
this will be a great feature, today we are thinking about how to make tribes more intuitive on mobile.
![DAD6A448-0445-41CC-964B-8F5AAAE4019D](https://user-images.githubusercontent.com/57037080/78279694-d82cdf00-750f-11ea-850c-463de2c81249.png)

[2020-04-02 17:33] walidmujahid commented on #6353
@owocki Indeed this does seem to be the case. I just thought that the default in `app/app/settings.py:741:INFURA_V3_PROJECT_ID = env('INFURA_V3_PROJECT_ID', default='1e0a90928efe4bb78bb1eeceb8aacc27')` had been taking care of that.

It is the same as in the current master. I have not touched the instantiation. Though, could it be possible that web3py v4 is the reason? I suppose I could try upgradi

[2020-04-02 17:41] walidmujahid commented on #6353
The problem may have been my use of an old .env file. I am updating it to the most recent and will see if that resolves the problem, though, there is nothing different for the INFURA variables between the version I had used and the newest versions.

I will update this thread soon.

[2020-04-02 18:04] owocki commented on #6354
i think making those modules default closed instead of default open might
work well for first time mobile useres

On Thu, Apr 2, 2020 at 11:29 AM codingsh <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $3.5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-02 18:23] vporton opened #6356 "When I try to donate my voucher to a grant, MetaMask asks me to transfer my real money"
**Describe the bug**
When I try to donate my $5 voucher to a grant, MetaMask asks me to transfer my real money instead of donating my voucher.

**To Reproduce**
Select a grant and try to donate it the voucher. Press Reject button in MetaMask to be sure you don't transfer your real ETH money.

[2020-04-02 18:41] walidmujahid commented on #6353
Okay. So updating to the most recent local .env worked. I suspect, though I did not confirm, that the problem with the original file was the lack of the `ETHERSCAN_API_KEY` variable.

In any case, thank you for the time you put into suggesting possible solutions @owocki

This has been resolved.

[2020-04-02 18:44] vporton commented on #6110
You should match all donations, not only future ones but also all past ones.

[2020-04-02 18:56] #6353 closed

[2020-04-02 19:03] developerfred opened #6357 "Upgrade Web3.py"
### User Story

https://web3py.readthedocs.io/en/stable/v5_migration.html#migrating-v4-to-v5

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature o

[2020-04-02 19:14] owocki commented on #6356
i cant reproduce this. can you tell me what browser youre using, what grant youre funding, etc?

[2020-04-02 19:53] vporton commented on #6356
Browser: Firefox for Linux.
Grant: https://gitcoin.co/grants/31/grantops

I switch to "$5 Voucher Funding" tab and try to donate. Hm, maybe I didn't switch to this tab dues to confusing tab colors?

[2020-04-02 19:53] #6356 closed

[2020-04-02 19:54] biuxmaster commented on #6321
@owocki  Hi, here is the video with the update. Tell me if I need to change something more.

https://drive.google.com/file/d/17R3e0SHIQ7Y1VUNoKHviIfSSuWPnzWkZ/view

[2020-04-02 20:12] jschiarizzi commented on #6095
As per Alisa's guidance, just blue follow buttons when you dont follow the user.
<img width="945" alt="Screen Shot 2020-04-02 at 4 11 45 PM" src="https://user-images.githubusercontent.com/9449596/78297032-bece6780-74fc-11ea-8021-da28bd7451d0.png">

[2020-04-02 22:11] GodRACE1 commented on #6321
Hello @owocki here is the update.
I'll be glad to adjust if required.

https://drive.google.com/file/d/1-AOV9anlA5JuiCnRXozMALzbfVJ7K9o_/view

[2020-04-03 00:07] frankchen07 opened #6360 "Hackathon Project Page: Design Update"
### User Story

Hackathon Project Page: Design Update

### Why Is this Needed

This is a visual refresh and update of our Gitcoin Hackathon Project Page. It presents projects in a card manner, but also adds the Tribes as well as the available workshops that are participating in the current hackathon.

### Current Behavior

![current_project_page](https://user-images.githubusercontent.com/7516920/7

[2020-04-03 00:07] frankchen07 opened #6361 "Hackathon Explorer Tabbed View: Prizes Tab"
### User Story

Hackathon Explorer Tabbed View: Prizes Tab

### Why Is this Needed

The Hackathon Explorer tab view centralizes the hackathon experience so that hackers aren't flying across the entirety of gitcoin.co when they need assets from different locations. The tabs will be organized so all primary and secondary hack materials are just a click away.

### Current Behavior

No tabs on the Git

[2020-04-03 00:07] frankchen07 opened #6362 "Hackathon Project Flow: Project creation upon start work"
### User Story

Hackathon Project Flow: Project creation upon start work

### Why Is this Needed

As it currently stands, it's not consistent to have some work instances to have a project card, and others to not, based on whether or not the contributor decides to open a project. This makes tracking submission difficult, and when an instance of started work doesn't have a project card, those intere

[2020-04-03 00:08] frankchen07 opened #6363 "Hackathon Explorer Tabbed View: Projects Tab"
### User Story

Hackathon Explorer Tabbed View: Projects Tab

### Why Is this Needed

The Hackathon Explorer tab view centralizes the hackathon experience so that hackers aren't flying across the entirety of gitcoin.co when they need assets from different locations. The tabs will be organized so all primary and secondary hack materials are just a click away.

There are also several new features to

[2020-04-03 00:10] frankchen07 opened #6364 "Hackathon Explorer Tabbed View: Participant Tab"
### User Story

Hackathon Explorer Tabbed View: Participant Tab

### Why Is this Needed

The Hackathon Explorer tab view centralizes the hackathon experience so that hackers aren't flying across the entirety of gitcoin.co when they need assets from different locations. The tabs will be organized so all primary and secondary hack materials are just a click away.

Specifically, the participants tab

[2020-04-03 00:13] frankchen07 opened #6365 "Hackathon Explorer Tabbed View: Townsquare Tab"
### User Story

Hackathon Explorer Tabbed View: Townsquare Tab

### Why Is this Needed

The Hackathon Explorer tab view centralizes the hackathon experience so that hackers aren't flying across the entirety of gitcoin.co when they need assets from different locations. The tabs will be organized so all primary and secondary hack materials are just a click away.

We've seen the effects of the Townsq

[2020-04-03 00:44] zoek1 commented on #6361
Merged  https://github.com/gitcoinco/web/pull/6347

[2020-04-03 00:45] zoek1 commented on #6363
Merged https://github.com/gitcoinco/web/pull/6347

[2020-04-03 00:49] zoek1 commented on #6362
Partial Implemented: https://github.com/gitcoinco/web/pull/6348

[2020-04-03 01:54] elliottjobmann opened #6367 "CLR distribution not received"
Received a notice about the mini CLR distribution but didn't get Dai. Gave it some time in case the distro was time-released but nada. ;)
https://gitcoin.co/townsquare?tab=activity:195487

[2020-04-03 05:49] PetarKirov commented on #6333
@owocki Did you check repo? The front-end is inside the [`client/`](https://gitlab.com/jarvis-network/smart-contracts/synthereum/SynFiat/-/tree/master/client) folder.

[2020-04-03 08:04] williamchong007 opened #6369 "Cannot remove/edit projects in profile profolio tab"
**Describe the bug**
I made a typo when adding works to my profolio, and I wanted to remove/edit it, which seems impossible

**To Reproduce**
1. Go to your profile, profolio tab e.g. https://gitcoin.co/williamchong007/portfolio
2. Add a new project and make a typo
3. Stuck with that typo project forever

**Expected behavior**
Some kind of edit or remove function should be implemented?

**Screensho

[2020-04-03 08:05] williamchong007 commented on #6344
I am also encountering random bugs that shows such warning when user's metamask is already unlocked, or limited the token of choice only to ETH but not DAI.
in many cases a few refresh would fix it, but it is very confusing when we are trying to promote new comers to help fund our grant.

[2020-04-03 08:30] williamchong007 commented on #6053
![image](https://user-images.githubusercontent.com/6198816/78340275-62d11500-75c8-11ea-9aaf-ea5c18c39b70.png)
Is this issue fixed yet? Currently I am getting HTTP ERROR 500 after signing with metamask

[2020-04-03 14:12] owocki commented on #6369
just removed the second one from your profile using the admin.
i agree that we should have the ability to delete portfolio items. maybe i can bounty that portion of the ticket? should be pretty simple to implement..

[2020-04-03 14:41] owocki commented on #6333
great, glad its open source. i think that as a credibly neutral observer we can say conclusively that this is a public good now, and resolve the grant flagging.

i've been pondering the requests above, alongside gitcoin's constraint that we must be [credibly neutral](https://nakamoto.com/credible-neutrality/) and i'm trying to figure out what the credibly neutral principle behind your asks is.  on

[2020-04-03 14:54] owocki commented on #6344
can you guys help me get reproduction steps here? if i can figure out how to reproduce the issue i can definitely solve it

[2020-04-03 14:55] marsrobertson opened #6371 "Grant owner should be the address that created the contact"
1️⃣I had a wrong account selected in Metamask.
![image](https://user-images.githubusercontent.com/44369284/78373843-04edfe80-75c3-11ea-8513-ce1203a3c1a0.png)

2️⃣I changed the account and put the correct recipient:
![image](https://user-images.githubusercontent.com/44369284/78373294-5649be00-75c2-11ea-9e1b-deb84c5594a5.png)

For some reason, the owner of the grant is the wrong address 1️⃣

TX: htt

[2020-04-03 14:59] marsrobertson commented on #6106
I was thinking about it.

https://gitcoin.co/marsrobertson/grants - I am currently the creator of 3 live grants.

Simply because I'm active and I prefer doing, rather than talking about doing!

Of course "don't trust verify" so one is multisig, one is Aragon DAO.

There is plenty on-chain data, I'd love to see more information about the people.

Here example from Kickstarter:
![image](https://user

[2020-04-03 15:02] owocki commented on #6367
looks like the payout tx failed (0x8d02d4dc5a295c1ba344f5980324a0a6447ade0573af9037ea822dc264cefe2b ). let me mark it to retry during next week's payouts.

[2020-04-03 15:18] marsrobertson commented on #6371
Logged in from another account to verify that everything works:

![image](https://user-images.githubusercontent.com/44369284/78376743-a9257480-75c6-11ea-8ae3-2370976cac87.png)

OUCH ! ! !

I'll follow up via Slack and email

[2020-04-03 15:18] elliottjobmann commented on #6367
Thank you!

[2020-04-03 15:20] molecula451 commented on #6344
The issue is with Brave and using MetaMask at the same time. When in Gitcoin or problably another Web3 app 'Brave' expects you to 'Unlock' their native wallet. People still not realize that having MetaMask and Brave it's conflictive. You gotta let know this somehow until Brave development put some update in fixing this back end stuff

[2020-04-03 15:22] molecula451 commented on #6344
Short: MetaMask + Brave = conflictive. Brave wants you to use their native wallet.

[2020-04-03 15:32] Pascaltallarida commented on #6333
Hey Kevin,

thanks for resolving the flag. Did the glad had any effect on our grant or the way the anti-sybil attack worked?

Also can you tell us precisely what are the rules: I am asking because I saw another project (arboreum) which a lot of new github account and it does not seem to be affected by this policy. Most of them have waited one or two days before to create a gitcoin account and cont

[2020-04-03 15:45] owocki commented on #6371
Hey Mars try now. I just updated the grant with the contract address from
the transaction and it should work now.

On Fri, Apr 3, 2020 at 9:18 AM Mars Robertson <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results

[2020-04-03 15:46] owocki commented on #6344
ah nice, heres the outstanding issue for this https://github.com/gitcoinco/web/issues/6292

[2020-04-03 16:32] walidmujahid commented on #6191
Yes @gitcoinbot

[2020-04-03 16:42] Tedko opened #6372 "Need a better UX for number display"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

<img width="474" alt="Screen Shot 2020-04-04 at 00 41 15" src="https://user-images.githubusercontent.com/6687437/78384616-10feae00-760d-11ea-9006-fea516972a09.png">

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like t

[2020-04-03 17:08] #6371 closed

[2020-04-03 17:25] owocki commented on #6338
@marsrobinson had a great idea: when creating a grant, I think it should be possible to know the address upfront? https://ethereum.stackexchange.com/questions/17927/how-to-deploy-smart-contract-in-predefined-contract-address-in-private-ethereum

[2020-04-03 18:07] frankchen07 opened #6373 "Organization Townsquare: Home"
### User Story

Organization Townsquare: Home

As an oss funder/hackathon sponsor I'd like to know all of the tools available to my organization to power my open source organization.

As a contributor I'd like to quickly get a sense of everything that is going on with an oss organization and quickly be able to understand, interact, collaborate, and contribute to the organization.

### Why Is this

[2020-04-03 18:09] frankchen07 opened #6374 "Organization Townsquare Tabs"
### User Story

Organization Townsquare Tabs

As an oss funder/hackathon sponsor I'd like to know all of the tools available to my organization to power my open source organization.

As a contributor I'd like to quickly get a sense of everything that is going on with an oss organization and quickly be able to understand, interact, collaborate, and contribute to the organization.

### Why Is this N

[2020-04-03 18:38] frankchen07 opened #6375 "Tribes Video Marketing"
### User Story

Tribes Video Marketing

### Why Is this Needed

As we release our branded Tribes experience, we'll need some video marketing to help tie all of our products together.

### Description

1. hackathons: https://docs.google.com/document/d/115nzR69blUSGZ57MFAGrotw1h_wCjvr66CYfui9iEM8/edit
2. townsquare/social: https://docs.google.com/document/d/1B4a6iF6WSUsqlcccvIp6ssWuruVd_bkFWOc1STE-3

[2020-04-03 20:14] KayZou001 commented on #6139
hey, thanks for letting me submit my drawings, I have made two categories of Kudos, please let me know if I have to change something.
[kudos.zip](https://github.com/gitcoinco/web/files/4429727/kudos.zip)

[basic-kudos.zip](https://github.com/gitcoinco/web/files/4429718/basic-kudos.zip)

[2020-04-03 20:15] marsrobertson commented on #3649
Interesting:

* https://court.kleros.io/cases/169
* https://court.kleros.io/cases/170

Low tech but good enough for now.

Need some attention and publicity though.

Kleros protocol works if there is a bunch of internet trolls extracting "free money" from the appeal system.

Otherwise, it is possible that 3 guys are chosen, 2 didn't vote, 1 single juror makes the ultimate decision.

[2020-04-03 21:52] owocki commented on #6254
hey guys; didnt get to the bottom of proposal review. going to try again this afternoon/tomrrow. thanks again for your patience.

[2020-04-03 22:40] sydneylai commented on #6254
Hey Kevin! Just in case you didn't see this in your Telegram, here is the
SOW

On Fri, Apr 3, 2020 at 5:53 PM Kevin Owocki <notifications@github.com>
wrote:

--
Sydney Lai
laisydney@gmail.com
LinkedIn <http://linkedin.com/in/sydneylai> | @sydneyLai
<http://twitter.com/sydneylai>

[2020-04-04 13:07] husainkhati commented on #6321
@owocki Github PR Link sir please tell me what is this i want to submit my work but i dont know how to submit the video please help

[2020-04-04 14:19] LefterisJP opened #6377 "Grant email to funders should also include the admin"
### User Story

Every time a grant admin uses the email to funders feature it should also send an email to himself.

### Why Is this Needed

Every time I used the email to funders feature I was not sure if I posted a normal update or if an email was also sent. I actualy dmed people in Twitter to see if it worked.

A great way to alleviate such concerns would be to also email the sender/grant admin

[2020-04-04 14:48] DaWe35 commented on #6321
@owocki Is it allowed to use copyrighted content in the videos?

[2020-04-04 15:03] 7ada commented on #6321
hello, I've seen all submissions really good. i hope that my submission get accepted

https://share.getcloudapp.com/4gumd5jo

[2020-04-04 18:00] poapxyz opened #6378 "Donation never leaves pending state, tx confirmed in the blockchain"
I received a donation and it confirmed on the blockchain but the Gitcoin interface always shows it in pending state. I'm attaching a screenshot of it.

On Etherscan it can be seen that the transaction was apparently dropped and rebroadcasted with a higher gas price and same nonce:
https://etherscan.io/tx/0xa321e00d338e2d99f0c018e3ee872923e2d9068fd5dfbc45aa9a09c0e09267b2

![image](https://user-imag

[2020-04-04 18:37] scco commented on #6321
hi there, so i produced a custom jingle – taken very literally from owocki's original briefing. i had a co-producer for the audio from a professional singer – not sure if i can drop her name ( have to ask her first ), but of cause i would share the reward with her - as she have no income from concerts cause of the ongoing corona apocalypse.

good luck / stay healthy – to all the other contributors

[2020-04-05 01:22] #4778 closed

[2020-04-05 02:16] developerfred opened #6379 "components loading transition on towersquare"
![8F585CFA-8D5D-4499-87A9-6E0743F53DC3](https://user-images.githubusercontent.com/57037080/78465284-93f63600-76eb-11ea-9681-30d777fdfcb4.png)

we need a smooth transition to load the components in bachgroud without showing data in advance with this in the image

[2020-04-05 06:51] LefterisJP commented on #6378
This is the same issue we also saw in the last round I suppose right @owocki ?
Issue is still open: https://github.com/gitcoinco/web/issues/5741

I also saw it happen to Rotki's grant yesterday.
Transaction hash: https://etherscan.io/tx/0xde8d74c3b7c6dbcf2fb82aa62398a1b6320020715709b1a39c6002d45b4e89aa
![2020-04-05-085128_759x80_scrot](https://user-images.githubusercontent.com/1658405/78468709-a89

[2020-04-05 10:24] Tedko opened #6380 "Gitcoin display DAI as 戴 in some cases."
**Describe the bug**
e.g.

![16911586081702_ pic_hd](https://user-images.githubusercontent.com/6687437/78472354-964ba500-776a-11ea-9132-a6e5885e700b.jpg)
https://gitcoin.co/grants/498/mask-test-kit-mutual-aid-fund?tab=transactions

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (p

[2020-04-05 10:40] Tedko commented on #6380
See here: https://etherscan.io/address/0x7CBba07e31Dc7b12bB69a1209C5B11A8aC50acf5#tokentxns

[2020-04-05 10:40] Tedko commented on #6380
This also affect CLR match unfortunately

[2020-04-05 15:53] hamzaghz commented on #6321
hi @owocki  I posted my 15s video as PR. here you are https://github.com/gitcoinco/web/pull/6376/commits/caa11adfc180d7d2fe2b361786edc06bb6ba04b3

[2020-04-05 17:59] Tedko commented on #6380
How to reproduce:

<img width="549" alt="Screen Shot 2020-04-06 at 01 58 40" src="https://user-images.githubusercontent.com/6687437/78506138-3117a400-77aa-11ea-8572-b7a935f3ced5.png">

[code]
Chrome did the auto translate with its official extension - that might be the reason

[2020-04-05 18:24] jschiarizzi commented on #6095
The PR has all the features, but travis has a build error, unrelated to anything we touched.
<img width="907" alt="Screen Shot 2020-04-05 at 2 04 10 PM" src="https://user-images.githubusercontent.com/9449596/78506653-09442400-7749-11ea-871f-ab4a198167e9.png">
Can we still merge it? it look inherited

[2020-04-05 21:36] giovannidisiena commented on #6321
Hey @owocki, I seem to be having trouble with unlocking MetaMask so can't submit work through Gitcoin but posted my attempt here https://youtu.be/xryOLZJjqbc on YouTube and also https://twitter.com/Gio_Di_Siena/status/1246913859723702272?s=20 on Twitter. Hope you like it!

[2020-04-06 00:50] PixelantDesign commented on #6361
Awesome!!!!

[2020-04-06 01:36] vporton commented on #6166
Note that it should also reward all _past_ issues and comments, not only future ones.

[2020-04-06 02:47] husainkhati commented on #6321
HEY @owocki
This is my submission:
https://drive.google.com/file/d/1gwGbY0pksAUKE07BokIewCvcCnQM9Ko2/view

[2020-04-06 08:15] mul1sh opened #6381 "Unable to Submit Work"
**Describe the bug**
When I try to submit work, I get the error message `Could not get bounty details.` on clicking the  `Submit Work` Button.

On inspecting the console I saw the following error
[code]

**To Reproduce**
Try to submit work for any bounty/issue it will fail with the above error.

**Expected behavior**
I should be able to easily `Submit Work` as usual.

**Screenshots**
<img width="1

[2020-04-06 09:38] walidmujahid commented on #6211
Update for Hackathon Project Page - Demo of Current Progress 2020-04-06 05:26: https://youtu.be/wKL6WvQ3Sbs

Summary:

The hackathon list has been refactored so that it could be navigated via the new navigation bar on page.

A new section that lists tribes who have posted prizes for all ongoing/current hackathons.

A new header that has a "featured hackathon" section that features a single hackath

[2020-04-06 10:15] Pascaltallarida commented on #6333
Hi Kevin, any feedback on that?

[2020-04-06 11:38] danlipert commented on #6381
@mul1sh thanks for the report - should now be fixed 👍

[2020-04-06 11:53] mul1sh commented on #6381
@danlipert awesome thanks.

[2020-04-06 11:53] #6381 closed

[2020-04-06 13:23] willsputra commented on #6338
cool things i'd be personally interested in...
• how might we encourage grant owners to post updates about their project on the activity feed/town square? as a grant funder, i'd like to know if there's any cool updates from the projects...
• an easy way to convert a hackathon project into a grant (i think @octavioamu had some idea on this?)
• closer integration with High Priests (https://highpries

[2020-04-06 13:50] youssefs0102 commented on #6169
this is the submition of he power rangers avatar
[power  rangers.zip](https://github.com/gitcoinco/web/files/4438735/power.rangers.zip)

[2020-04-06 14:07] owocki commented on #6254
sorry this keeps sliding. its nera the top of my list. shooting for early this week

[2020-04-06 14:11] owocki opened #6383 "does the matching estimate show DAI amount based off wrong token amount?"
from a user:

when ETH is sent, then matching CLR DAI increase thinks the amount was DAI - at least in the web frontend... you should check this if there are more contribs in ETH :) would be a pity to leave matching fund on the table if this is a gitcoin bug (see attached screenshot)

![unnamed](https://user-images.githubusercontent.com/513929/78567584-2414a800-77de-11ea-9fc2-daeb5659e183.png)

[2020-04-06 14:24] owocki commented on #6321
great submissions so far everyone! i will be tweeting these + asking the
community which is their favorite this week.

if anyone still wants to get their submission in pls comment soon!

On Sun, Apr 5, 2020 at 8:47 PM husainkhati <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm f

[2020-04-06 14:26] molecula451 commented on #6321
This is my submission https://www.youtube.com/watch?v=oT2_TWy5bMI

[2020-04-06 15:10] owocki commented on #6338
i got a request on twitter today to do a better job of managing the taxonomy of grants categories/subcategories. sounds like the current approach of just letting users tag their grants isnt working

[2020-04-06 15:16] poapxyz commented on #6338
In the case of POAP we only used the "Community" category as we didn't find anything like "Identity" or "Collectibles/NFT".

[2020-04-06 15:31] owocki commented on #6333
the logic simply doesnt in include any contributions made by anyone who created their github account after the round started. here is the code that does it https://github.com/gitcoinco/web/blob/master/app/grants/clr.py#L356-L360

it'll affect your grant the same as others. let me know what contributions to other grants you think are being treated differently.

[2020-04-06 15:36] Pascaltallarida commented on #6333
I was asking more about the feedback regarding rolling back the new rule for all the grants (that contributions of new github account are matched).

For the grant, I don't say there are differences but we saw the grant of arboreum going very fast with a lot of new github account so we were wondering what is "a new account", is 1, 2 3 days old? It is just an impression, we did not dig into it but w

[2020-04-06 15:48] owocki opened #6384 "Cannot Run server - django.core.exceptions.ImproperlyConfigured: Module "django_redis.client" does not define a "DefaultClienta" class"
when running the web_web_1 container on the most recent `master`, this is what i get

[code]

[2020-04-06 15:51] frankchen07 commented on #6375
update: nate hopkins will be moving on all 4 audio scripts 2020-04-06

[2020-04-06 15:55] owocki commented on #6384
i fat fingered my REDIS_URL path in my ENV and that was the root casue ..

[code]

[2020-04-06 15:56] #6384 closed

[2020-04-06 16:04] Nanshulot commented on #6321
Hi, I want to submit my video as well. Thank you @owocki
[video promo gitcoin.zip](https://github.com/gitcoinco/web/files/4439488/video.promo.gitcoin.zip)

[2020-04-06 16:19] sebastiantf commented on #6298
Yes @gitcoinbot

@PixelantDesign Can you please verify whether this issue still exist?

[2020-04-06 16:34] abitrolly commented on #6235
As a subscriber to this issue waiting to read the wiki article I am pretty annoyed by the bot.

[2020-04-06 16:35] owocki commented on #6235
ill snooze the bot

On Mon, Apr 6, 2020 at 10:34 AM Anatoli Babenia <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-06 16:38] dadahaha2020 commented on #6235
I left a comment last time if the offer is still open. I can do a write up just in case.

[2020-04-06 16:42] abitrolly commented on #6235
@owocki maybe a bot interface could include some timeline field to let @molecula451 report how it is going, or ETA time. Or maybe it could track some WIP PR for process reports.

[2020-04-06 16:44] molecula451 commented on #6235
Why you guys are in a hurry? I'm burnt. I will submit this asap

[2020-04-06 16:45] wizzfile opened #6385 "grow"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Support us on [Gitcoin Grants](https://gitcoin.co/grants/86/gitcoin-sustainability-fund)
- [x] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog abou

[2020-04-06 16:45] owocki commented on #6169
looks good except one of the bodies has a bunch of transparency issues
https://bits.owocki.com/YEuA7KPm

On Mon, Apr 6, 2020 at 7:51 AM youssefs0102 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-06 16:47] dadahaha2020 commented on #6235
It's the bot notification sending email everytime. Take some rest first buddy. 😉 And I'm looking forward to reading your piece. 😁

[2020-04-06 17:03] owocki commented on #6321
@molecula451 that video is private and i cant access it

[2020-04-06 17:03] owocki commented on #6321
thanks @giovannidisiena  can you post a link to the raw video too

[2020-04-06 17:11] molecula451 commented on #6321
Done, watch it and enjoy the tenor

[2020-04-06 17:13] owocki commented on #6139
Kay those are very cool! wanna submit them at gitcoin.co/kudos/new pls?

On Fri, Apr 3, 2020 at 2:14 PM KayZou <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-06 17:15] owocki commented on #6338
from @mzargam
[code]
https://hackmd.io/@OCPoXLLVQvyCK3HvlpBEXg/SkY7VvQnV?type=view

[2020-04-06 17:21] owocki commented on #6378
hey guys, i just went in and manually updated the transactions for each of these grants that failed to track bc they were dropped and replaced

at the end of the round, i was planning on going through all the contributions with https://github.com/gitcoinco/web/pull/6331 (which can find the dropped/replaced txns) and automatically correcting them.  which will be the final fix for https://github.com

[2020-04-06 17:22] mzargham commented on #6338
you should consider, maintaining a more advanced estimator of the CLR funds which includes a projection (even its not amazingly accurate) of the total distribution of base donations, this in turn would allow you to correct for the constraint (eg the total funds allocated to CLR matching). In the first half of a CLR campaign the matching numbers grow quickly and funders and fundees alike get excite

[2020-04-06 17:33] owocki commented on #6321
thanks!

[2020-04-06 18:07] DaWe35 commented on #6321
Hey, here is my submission, have fun!
https://youtu.be/sGMJHRsAIHw
https://siasky.net/AABkqN3af73QLva13Zhhy558060uBzl3wHN5jvaNG2Nvow
[Gitcoin video DaWe.zip](https://github.com/gitcoinco/web/files/4440047/Gitcoin.video.DaWe.zip)

(@owocki Gitcoin [shows](https://user-images.githubusercontent.com/10603822/78590455-27da1600-7842-11ea-8088-ca0315f02559.png) me that I have 21 days, but you asked to su

[2020-04-06 18:10] owocki commented on #6321
oh sorry i should probably respect the deadline on the bounty here. my bad.  the bounty is the source of truth!

[2020-04-06 18:16] DaWe35 commented on #6321
No problem, I just saw something similar on the Skynet hackathon: it finished on Mar 16, but GitCoin [shows](https://gitcoin.co/issue/NebulousLabs/Skynet-Hive/1/4058) that it was closed on Mar 27.

[2020-04-06 18:20] owocki commented on #6321
just tweeted out a batch of videos to see which ones are the crowd favorite. will tweet another batch later this week

[2020-04-06 18:26] Tedko commented on #6380
I can reproduce with other funny or spam token name as well :) :(

[2020-04-06 18:41] youssefs0102 commented on #6169
hello! owocki
i fixed the body issues and here is the new one
[power  rangers.zip](https://github.com/gitcoinco/web/files/4440209/power.rangers.zip)

[2020-04-06 18:52] owocki commented on #6169
looks great! anything i should add to your bio once this goes live?!

On Mon, Apr 6, 2020 at 12:41 PM youssefs0102 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-06 18:54] owocki commented on #3649
would it help if i gave those disputes some publicity / channeled some of the debate there? the reason we chose twitter for this round was that its simple and has wide distribution

[2020-04-06 19:09] youssefs0102 commented on #6169
Thanks, hmm not necessary haha

[2020-04-06 19:10] Coinwalletfriend commented on #6321
https://youtu.be/FOPpeY611vc

[2020-04-06 19:23] marsrobertson commented on #3649
Posting to Twiter is great!

I happened to find it because I have a personal dispute: https://resolve.kleros.io/interact/172

Just saying the Kleros protocol works best when there is plenty of guys scrutinizing the decision, appealing to get "free money". On the other hand, a party in a dispute can fund the appeal themselves. More eyeballs mean more scrutiny.  There is a dedicated https://t.me/kle

[2020-04-06 20:53] owocki commented on #6338
@vs77bb seems to think we should rename media to community round

[2020-04-06 20:56] federicosan commented on #6169
@owocki Hi Owocki! please review my PR, some things I was not sure of, some types may have a variation number that is just blank, this is because some combinations need that to be blank: for example, there are some bots that have a face in the body so the head need to be blank. I was using a very old Adobe Suite for this and the SVG export seems to transform transparencies and blurs into embed ima

[2020-04-06 23:02] skrjifen commented on #6321
Hello, this is my work https://twitter.com/Skrjifen/status/1247296520212197376

Anything else is required, please let me know. This is my first work out here.  Thank you.

[2020-04-07 02:53] owocki opened #6389 "missing token transfers on gitcoin grant"
https://gitcoin.co/grants/152/ethereum-for-farsi-speaking-population?tab=description

from our chat trasncript:

[code]

[2020-04-07 03:10] aj07 opened #6391 "categaries section not working properly"
Hello,

While editing the grants page there is category section. There, If I want to edit and put 3 things eg. Notes., education , blogs.  Then it disappears.

IMO, there fields for taking input isn't working properly. Also, I saw even I put the category as Education, then I can't see my grant application on education vertical .

eg.. for https://gitcoin.co/grants/456/buidlin  There I have updated

[2020-04-07 08:28] iamonuwa commented on #6307
PR will be available today

[2020-04-07 11:04] krrisis commented on #6338
Okay, this thread makes things easy, thanks, bcs forgot to screenshot everytime.
Things I still see that can be optimized:

- Most of the time it is impossible to click the 'claim nft', when you click 'redeem' nothing happens, and page autoreloads back to the grant you just donated to. (can redeem the nft then thru my notifications)
- if you leave a comment when funding a grant, that comment is st

[2020-04-07 12:34] PixelantDesign commented on #6373
https://github.com/gitcoinco/web/pull/6382

[2020-04-07 12:46] PixelantDesign opened #6392 "Hackathon Explorer - Learn Tab"
### User Story

Organization Townsquare: Home

As a funder/hackathon sponsor I'd like to make it easy for contributors to find the information necessary to successfully make submissions to my hackathon bounty.

As a contributor I'd like to quickly be able to find resources needed to get started to particiipate in a hackathon.

### Why Is this Needed

No centralized resource for a specific hackatho

[2020-04-07 12:48] PixelantDesign opened #6393 "Tribes Onboarding"
### User Story

Tribes Onboarding (Near Term)

As a new developer to Gitcoin, I'd like to know what the options are on what Gitcoin can do for me.

### Why Is this Needed

The current onboarding was created for just one product (bounties).
No unified onboarding that explains all of what Gitcoin has to offer.

### Description

Decide an approach to improving the onboarding near term.

- [ ] Update

[2020-04-07 14:08] giovannidisiena commented on #6321
Of course:
[gitcoin_promo_giovannidisiena.mov.zip](https://github.com/gitcoinco/web/files/4444938/Gitcoin.Promo.ex.mov.zip)

[2020-04-07 19:25] owocki commented on #6338
someone did a nice design audit for us here :) https://www.loom.com/share/f3d043d0bf7a4a8ea2996f01e8d89283?utm_medium=gif

[2020-04-07 22:28] molecula451 commented on #6235
Owocki wiki shows 502 Bad Gateway when trying to show images. Isn't it allowed?

[2020-04-07 22:35] KayZou001 commented on #6321
Hi @owocki , this is my video, thanks.

https://youtu.be/9Os4Raq3fAI

[2020-04-07 23:27] owocki opened #6395 "token provinenace API"
I would like some python functions that I can pass in an ethereum mainnet account and a erc20-style contract address, and it can tell me where the tokens came from.

ie.
- if account minted the token, then it returns `0x0`
- if account received the tokens from `0xabc` it returns `0xabc`
- if account received the tokens from `0xabc` and `0xabc2` it returns [`0xabc`, `0xabc2`]

[2020-04-07 23:28] owocki commented on #6395
hoping to turn this around in the next 24 hours due to it being necessary to use for our grants validators :)

[2020-04-08 02:52] zoek1 commented on #6364
These feature was implemented here: https://github.com/gitcoinco/web/pull/6396

[2020-04-08 12:13] #6367 closed

[2020-04-08 13:40] azizyano commented on #6321
hello @owocki this is my video. I hope you like it.
 plz, tell me if it needs some modification
https://drive.google.com/file/d/1nX0Ea-AGH6uJJ7TtPTPUxeMd2fgbZdtc/view?usp=sharing

[2020-04-08 13:53] owocki commented on #6395
thanks @uivlis - using alethio's API is an interesting idea

[2020-04-08 14:07] owocki commented on #6395
and @dylanjw 's work is great too.

for anyone who started work but hasn't made a submission yet.. pls get your submission in . im going to close this bounty for new 'start work's since the existing soluutions are so strong!

[2020-04-08 14:58] owocki commented on #6235
i wonder if thats related to the existing issue with wiki timeouts https://github.com/django-wiki/django-wiki/issues/1031

[2020-04-08 14:58] theCydonian commented on #6169
@owocki here is the svg of the pixel art bot avatar. Let me know if there are any issues with the file or you want anything added.

It is in this folder as PixelBot.svg
https://www.dropbox.com/sh/slgul0yxb5dr912/AACclgLrryG3rqpTHQlwpm3Qa?dl=0

[2020-04-08 15:27] Merit-Tech commented on #6321
Hello @owocki  this is my work
https://drive.google.com/drive/u/0/folders/1zEKEaSE0CXe7L8FpzS6cAcdMVUHzxYnc

[2020-04-08 15:43] octavioamu commented on #6194
Reopening this Issue since we reverted the PR  #6255

[2020-04-08 15:47] owocki commented on #6169
yayyy! its perfect!

heres what it looks like when integrated. https://bits.owocki.com/WnuGRNDj

anything i should put in ur bio about you / or in the image description?

On Wed, Apr 8, 2020 at 8:59 AM theCydonian <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source S

[2020-04-08 15:51] owocki commented on #6321
thx everyone for the recent submissions!

i just set the expiration date on this bounty to sunday. can yall pls get your final submissions in by then so i can payout early next week?

[2020-04-08 17:32] KayZou001 commented on #6139
Hi @owocki , i've submitted my Kudos, thanks

[2020-04-08 17:47] owocki commented on #6169
@federicosan can they have a combination that is not blank? link me your PR?

[2020-04-08 17:55] owocki commented on #6169
new avatars are up at https://gitcoin.co/onboard/profile?steps=avatar and i paid everyone outstanding i coudl find. yay!

[2020-04-08 17:55] #6169 closed

[2020-04-08 18:44] Bild96 commented on #5436
Most of the quest intro, and questions are in top of tab navigator or selections for the right answer. That's because of high graphic element and animation. It's looks awesome I agree with you, but in my opinion if it's without sound and high element of animation it will be more easy and smooth, especially for the phone browser, it will take less time to load the page and fast response.
( I believ

[2020-04-08 19:34] owocki opened #6406 "clr estimate in grants is off when u first load the "fund grant" page"
From Aleksandar Zahariev

https://gitcoin.co/grants/271/jelly-swap-cross-chain-atomic-swap-protocol

Last question, I just want to check that I am understanding it correctly.
I observed today that a 0.007 eth donation gave a lot more grant match than if the amount was slightly increased to 0.01 eth on the same campaign. Is that the principle of the quadratic voting or it could be an issue on the f

[2020-04-08 20:17] KayZou001 commented on #6139
Hi @owocki , thanks for the tip, I've just seen the avatar bounty.  can i make my own AVATAR as well? thanks.

[2020-04-08 20:22] owocki commented on #6139
I dont have any more budget for avatars this quarter .. sorry :(

On Wed, Apr 8, 2020 at 2:18 PM KayZou <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-08 20:50] petitechoco commented on #6169
@owocki I didn’t get paid for my robots. Can I ask why?

[2020-04-08 21:27] owocki commented on #6254
@proofoftom bonding curve personal tokens is quite an intersting concept :) thanks for passing along.  i wonder if theres any evidence of demand for those

[2020-04-08 21:41] owocki commented on #6254
ok finally went through the proposals. thanks everyone for your patience - i’ve been more heads down on gitcoin grants than i ever thought i would be. not an excuse, just an explanation

- @ccashwell
- i wonder if 0 decimal erc20s are a good idea... i wonder if they will break any clients anywhere.
- whats your skillset? designer/developer? got a portfolio i can checkout?

@vporton 
- interesting,

[2020-04-08 22:12] owocki commented on #6169
@petitechoco mind pointing me at your submission? i probably just missed it . sorry about that!

[2020-04-08 22:15] petitechoco commented on #6169
@owocki this was the one and I didn’t have any changes because there wasn’t any requests. You just said wait for the PR to open?

[2020-04-08 22:24] owocki commented on #6169
@petitechoco i think it looks great visually! i just need to get a SVG in the format specified in the OP so i can load it into the avatar builder. can payout after that

[2020-04-08 22:31] writeprovidence commented on #6321
@owocki i just finished working on the gitcoin promo video for twitter, pls take a look, waiting for your feedback.

[2020-04-08 22:31] writeprovidence commented on #6321
https://drive.google.com/drive/folders/1iPhc_7WvcJCt98GuM3yZZjfaHHeQ3A6l

[2020-04-08 22:33] owocki commented on #6321
just requested access

On Wed, Apr 8, 2020 at 4:31 PM Emmanuel Jacobson <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-08 22:33] petitechoco commented on #6169
https://github.com/petitechoco/creative/blob/bender/Product/Avatar/Head/head_06.svg
I uploaded it here

[2020-04-08 22:35] petitechoco commented on #6169
https://github.com/petitechoco/creative/tree/bender/Product/Avatar
I uploaded it here 2 weeks ago. Did I upload it in the wrong place?

[2020-04-08 22:37] writeprovidence commented on #6321
@owocki Sorry A link to view https://drive.google.com/open?id=1_zx92o-MKRm3iMgn63TpRIEj6d_Q24U0

[2020-04-08 22:40] owocki commented on #6169
@petitechoco that place is fine, but I need all of the parts of the avatar combined into one SVG and organized according to the specification in the OP.  feel free to download the sample files in the OP to see what i mean (specifically the naming convention, DOM structure, and the size of the avatar SVG are things to look out for)

[2020-04-08 23:14] petitechoco commented on #6169
@owocki My apologies. I thought I uploaded it in the right form. I reuploaded it on https://github.com/petitechoco/creative/tree/bender/Product/Avatar/Bender
Can you check the avatar_bender.svg file and see if I did it right this time? I did see the examples but I'm not sure if I understood the OP well.  Thank you and sorry again.

[2020-04-08 23:41] owocki commented on #6389
@shayanb

it looks to me like the 50 SAI contribution on oct 30 2019 ; the approve went through 0xd1173386984098ce62fc07fd71ee0c36251ce526e962edb69726fed3cedb353f but not the actual transfer https://etherscan.io/tx/0x8d63e72e566d7a6e4250c986bc4dd8f9e4bbfe6eadd6c2872b87be4b93fb680f

i think our backend is assuming that the transfer worked because its got the txid of the approve().

checked out the

[2020-04-09 00:00] shayanb commented on #6389
@owocki thanks for checking on it.

So in order to fix those it seems that the transfer transaction should be sent from gitcoin grant contract (given that the balance still is available), right?
Would the patch do that or would it just clear those failed contributions from the app?

[2020-04-09 00:48] lychees commented on #6254
The link is broken.

[2020-04-09 02:05] zoek1 commented on #5470
hey @owocki, do you need this working? I have some bandwidth this weekend :D

[2020-04-09 02:19] zoek1 commented on #4834
I was thinking about this, It would be great if the user can custom its profile like slack does, with a palette to change the look. Also, the user could share its theme and apply the profile theme of other users to its profile, instead of limiting the user to a set of themes. @owocki

[2020-04-09 03:05] uivlis commented on #6254
@owocki - let me better explain the proposal. The idea is that when a gitcoiner finishes a bounty, the reward is split between the gitcoiner's initial investors (the ones who brought his token - including himself). That way, investors have a clear incentive to invest in gitcoiners (as opposed to using tokens to lock down someone's time, which presents trust issues and is not verifiable) and gitcoi

[2020-04-09 05:16] proofoftom commented on #6254
@uivlis Very cool! I see a lot of overlap here: https://github.com/gitcoinco/web/issues/6254#issuecomment-605715996

[2020-04-09 08:20] writeprovidence commented on #6321
@owocki access granted, waiting for your feedback

[2020-04-09 11:23] molecula451 commented on #6235
Yes, definitely it is. And I am able to reproduce it on the live site. Will look at it locally

[2020-04-09 13:32] cartosys commented on #6254
Woops. You can go to the following page and click the Leaderboard link at the top: https://cryptoraves.space/

I was on the fence, but I've been thinking on where this goes and I do want to build this thing now!

[2020-04-09 13:43] LefterisJP opened #6412 "Weird behaviour on grant's category"
**Describe the bug**
Our grant (Rotki: https://gitcoin.co/grants/149/rotki?tab=description) should have "DeFi" as its category. Some times when loading the page "DeFi" is indeed shown. But then after some time it seems to switch to "Community"

**To Reproduce**
It seems to happen when I edit the grant. Even if I edit the grant to DeFi after some time the category will revert back to community

**E

[2020-04-09 13:54] owocki commented on #5470
@zoek1 go for it :)

[2020-04-09 14:03] owocki commented on #4834
i think tahats a great idea

On Wed, Apr 8, 2020 at 8:19 PM Miguel Angel Gordián <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-09 18:36] Bild96 opened #6413 "user name not list it ( rank ) at gitcoin.co/quest"
#My name not showing at Rank list with  212 points (**Bild96**) gitcoin.co/quest

*Desktop :
- OS: Linux - Ubuntu 19.10
- Browser: Brave
- Browser Version: 1.15

*Smartphone:
- Device: Iphone X
- OS: IOS
- Browser: MetaMask ( Safari )
- Version: 13.3.1
![quest1](https://user-images.githubusercontent.com/52472445/78928868-ab457280-7aa1-11ea-9583-7ece4acca678.jpg)
![quest2](https://user-images.githu

[2020-04-09 18:42] kamal13afin commented on #6321
Hello, here's my attempt, hope u like it.

https://drive.google.com/file/d/1VWM51anx7E4gRhaMWtsOW2iTI-yOkV85/view?usp=sharing

[2020-04-09 20:22] walidmujahid commented on #6191
Yes @gitcoinbot

Sorry everyone for the delay on this. I know it should have been ready weeks ago.

[2020-04-10 01:36] apbendi commented on #6254
👋 What's up Kevin, hope you're staying safe man!

I think virtually all of it can be automated via a smart contract via calls to the `UniswapExchangeFactory`. Likewise, the tokens themselves can be deployed programmatically as well. UI can literally be a "push button" type thing

Relatively simple. Minting tokens and interacting with the Uniswap contracts as mentioned above.

From a safety perspec

[2020-04-10 09:58] blahkheart commented on #6321
Hey there, I've concluded my video. Check it out below.

https://drive.google.com/file/d/1CDtItldIkpZNNijCivfdNtsasOGR94-P/view?usp=sharing

[2020-04-10 13:24] auryn-macmillan opened #6415 "Confirm before emailing all contributors in Gitcoin grants campaigns"
### User Story

[comment]: As someone running a Gitcoin Grant campaign, I want a confirmation step when I submit a post that will be emailed to all of my contributors, so I don't spam them with incomplete/improperly formatted emails if I accidentally hit [ENTER] while typing an update.

### Why Is this Needed

[comment]: # Currently, it is really easy to accidentally post a message if you try to c

[2020-04-10 13:26] owocki commented on #6415
this is a good idea

On Fri, Apr 10, 2020 at 7:24 AM Auryn Macmillan <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-10 15:36] LefterisJP commented on #6412
Actually it's even worse than I thought. Here is a gif, showing me trying to edit, to select DeFi but Community appearing instead

![Peek 2020-04-10 17-34](https://user-images.githubusercontent.com/1658405/79002935-cff92300-7b51-11ea-9181-f51cb5354841.gif)

[2020-04-10 15:48] ouiam-dot commented on #6321
Hello @owocki, here is the video I made.
https://drive.google.com/file/d/17crJnmi3rVD7jG0r3cPRRIOeRWD4PrrX/view?usp=sharing

[2020-04-10 16:06] youssefs0102 commented on #6321
Hello @owocki, here is my submission for the video
https://drive.google.com/file/d/1bkzwSPLom7x2sMokbWAuUUXglRix7W3w/view
Thanks

[2020-04-10 18:47] JaredChilders commented on #6321
Hey @owocki, this is my submission for the bounty. I submitted it on Gitcoin yesterday but forgot to post here in this thread. I hope you enjoy it! If there is anything else you need please let me know. I can send you the project files and/or the video in a different format.
https://drive.google.com/file/d/1JDqSOr1cCt50AsDxp2DjTo8ZjbRrlE5n/view?usp=sharing

[2020-04-10 19:08] octavioamu opened #6416 "Extend widget to support static users profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an user I want gitcoin widget to also support profile.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
As seen here https://docs.gitcoin.co/mk_widg

[2020-04-10 20:04] L-KH commented on #6321
Hey @owocki, Here is my submission, even 15sec is too small. so I try to make it fast. Hope it is good. https://drive.google.com/file/d/1rZYEBoaa3SmnpmQtn3JJwD-OlgWiPev1/view?usp=sharing

[2020-04-11 03:00] DISC30 opened #6418 "Tipped 5% not 1e-18 ETH"
I tipped 5% not 1e-18 ETH: https://github.com/gitcoinco/gitcoinco/issues/79#issue-595162983

[2020-04-11 06:45] adrianhacker-pdx commented on #6389
@owocki I noticed a similar issue on my grant, there's a donation for which no funds actually appeared:  https://gitcoin.co/grants/487/mkrdaiinfo-community-ran-hub-to-promote-learning-a  should I open another issue, or is this one sufficient?

[2020-04-11 14:06] kvndlgs commented on #6321
@owocki here's my entry.
https://www.dropbox.com/s/c539idipess7vtm/gitcoin.mp4?dl=0

[2020-04-11 14:21] kvndlgs commented on #6321
@owocki Here's my take.

https://www.dropbox.com/s/5yioabj7xobxbvq/gitcoin-vid.mp4?dl=0

[2020-04-11 14:25] KushMd commented on #6321
hello @owocki .
https://drive.google.com/open?id=1nCbexa3-AT0oxn-aaiQd6JGyUDezd7JU

[2020-04-11 18:40] zen2see opened #6420 "Created a quest last night, don't see any record of it anywhere."
**Describe the bug**
Created a quest last night, edited the quest, never received link to play test it. Can find any record of it now (almost 12 hours later).

**To Reproduce**
Will try to create a different quest to see if the same occurs.

**Expected behavior**
Last time I create a quest I received a link to play and test it. All I saw was blue banner stating that it was submitted.

**Screenshot

[2020-04-11 19:21] alirezapaslar opened #6421 "Cannot Unlock MetaMask to fund issues"
**Describe the bug**

I want to create some bounties by funding some issues. So I click on products menu and select "fund an issue" and open that page.  there's a notification on top that reads "metamask locked". There's also a red ribbon that says "please unlock metamask". all this happens while I have already installed metamask and gitcoin.co in the list of its connection. This happens on my chr

[2020-04-11 20:08] pengiundev commented on #6321
Hey @owocki, here's my take https://drive.google.com/open?id=1fiZ-M2wwWWtxGhVk6Rot70S039ASD8De

[2020-04-11 23:04] developerfred commented on #6421
@alirezapaslar can you get the information from the console with the inspect element command?

[2020-04-11 23:07] developerfred commented on #6298
this issue is still open, today I saw some links with this problem.

[2020-04-11 23:39] kvndlgs commented on #6321
@owocki I submitted my video, but it got stuck on the transaction page a little longer than usual. It doesn't seem to have updated here either

[2020-04-11 23:49] psudoanon commented on #6321
Hey @owocki, here's my submission https://drive.google.com/file/d/1NrgDgFgY0zG3XSna19UnPL2QbCfju8mz/view?usp=sharing

I ran into a similar transaction issue as @kvndlgs so I'm hoping that resolves itself soon enough

[2020-04-12 04:27] sebastiantf commented on #6298
@developerfred Thanks for notifying.

Will you be able to share a link to that post you saw as not working. Or maybe a screenshot? I am not able to reproduce this issue. All links I saw on the Grants activity wall are recognized and clickable.

[2020-04-12 15:50] Akara52 commented on #6321
Hey @owocki, here's my submission
[promomusic gitcoin.zip](https://github.com/gitcoinco/web/files/4466603/promomusic.gitcoin.zip)

[2020-04-12 18:25] owocki commented on #6254
hey all - sorry for the radio silence.will be making a decisoin on this by tuesday of this week.

[2020-04-12 18:26] owocki commented on #6321
thanks yall.

anyone still working on a submission? im hoping to pay these out soon but dont want to miss any submissions.

maybe we can set a submission deadline of mid this week?

[2020-04-12 20:06] owocki commented on #6420
just approved it. so its live now

On Sat, Apr 11, 2020 at 12:40 PM zen2see <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-12 20:07] owocki commented on #6421
if you add it in your metamask settings > connections does that help?

On Sat, Apr 11, 2020 at 5:05 PM codingsh <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-13 01:51] developerfred commented on #6298
@sebastiantf I accessed the pull request branch and used the Trust Wallet browser, I'm going to record a screemshoot

[2020-04-13 01:54] developerfred commented on #6298
@sebastiantf https://gitcoin.co/townsquare?tab=activity:226222

![B2A9F80C-1438-47E4-B433-C99BA332A69D](https://user-images.githubusercontent.com/57037080/79085870-068d9400-7d32-11ea-9813-87f753f64412.png)

[2020-04-13 01:54] sebastiantf commented on #6298
@developerfred What do you mean the `pull request branch`?

[2020-04-13 01:55] developerfred commented on #6298
Sorry, pull request is about another issue

[2020-04-13 02:08] sebastiantf commented on #6298
Thanks for sharing the screenshot and link @developerfred. I could reproduce the issue in Chrome too.

But I do think this has something to do with how the user has typed in / entered the url in this case which looks a bit unconventional.

Still the link is being identified and preview is being shown.

But the link is not clickable in the post. It must have something to do with how links are ident

[2020-04-13 05:45] thelostone-mc commented on #6421
@alirezapaslar could you

- do a hard refresh
- switch to rinkeby and back to mainnet
- do what @owocki asked

If all 3 of those fail -> any info from console like what @developerfred stated would help

[2020-04-13 06:29] okkrass commented on #6321
Hey @owocki, here is my submission
https://drive.google.com/file/d/1JYojCqWaW4PH4365Zu-s6LKmMAxBA5fz/view

[2020-04-13 10:44] kvndlgs commented on #6321
@owocki I've submitted my work already, but I'd go with this one if it's not too late.

https://www.dropbox.com/s/sezytn9un6beyf5/gtco.mp4?dl=0

[2020-04-13 11:08] owocki opened #6424 "as a suggested tribes user, i want to be able to X out suggested tribes so i dont have to see them again"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a suggested tribes user, i want to be able to X out suggested tribes so i dont have to see them again

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
to allow peoip

[2020-04-13 11:13] owocki commented on #6179
we've released a feature that allows us to ignore these sybil tips...

[2020-04-13 11:47] owocki commented on #6424
@iamonuwa could u get a PR in for this in the next few days? dont want this to be one of the ones that drags on forever..

[2020-04-13 11:48] iamonuwa commented on #6424
PR will be ready today. Already completed the other Prs

[2020-04-13 13:33] Oscarquintana commented on #6321
here is my submission @owocki
https://www.dropbox.com/s/034orvla9ndhzw4/gitcoinpro.mp4?dl=0

[2020-04-13 16:38] proofoftom commented on #6254
@owocki there's some well executed demand/opportunity for bonded personal tokens here: https://twitter.com/meTokens/status/1249733587479363588?s=19

[2020-04-13 17:16] inspireme6 commented on #6318
Thanks @owocki @developerfred

[2020-04-13 19:22] vporton opened #6428 "Extend mini CLR also to GitCoin chat"

[2020-04-13 19:27] vporton opened #6429 "The popup at the screenshot is not disappearing"
**Describe the bug**

The popup at the screenshot is not disappearing no matter how I move the mouse.

**To Reproduce**

It happened after I posted.

**Expected behavior**

Should disappear when moving the mouse.

**Screenshots**

![Screenshot from 2020-04-13 22-23-39](https://user-images.githubusercontent.com/2900574/79152815-8ae52300-7dd5-11ea-9358-a810e8f6f55b.png)

**Desktop (please complete t

[2020-04-13 19:39] owocki commented on #6429
@octavioamu this is the issue i was telilngu about

@vporton thx for the github isseue!

[2020-04-13 19:48] octavioamu commented on #6429
Thanks guys I will look what is happening

[2020-04-13 19:50] owocki commented on #6169
yay it work!  https://bits.owocki.com/JrubAR66

will deploy soon. anything i should put in your bio on the site next to the
avatar?

On Wed, Apr 8, 2020 at 5:14 PM Chris Chang <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://git

[2020-04-13 19:57] petitechoco commented on #6169
@owocki 😅thanks for the assistance! Can you please out my portfolio website address & my twitter? www.petitechoco.com & @pttchoco. Thank you!

[2020-04-13 20:43] oussema commented on #6179
great work !

[2020-04-13 21:16] #6179 closed

[2020-04-13 21:25] developerfred opened #6430 "Submit button don't working on edge browser"
I can't hit the submit my hackthon form information button
<img width="882" alt="Screen Shot 2020-04-13 at 18 24 14" src="https://user-images.githubusercontent.com/57037080/79162646-07670a00-7db4-11ea-9c9a-b03e898ead83.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

Microsoft Edge - 80.0

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Brows

[2020-04-13 23:47] CBobRobison commented on #6254
Hey! Thanks for the meTokens shoutout, @proofoftom!

We just went public today. Otherwise, we would have submitted an application during the formal process.

Here's a really nice summary by @coopahtroopanew describing how the meTokens primitive is a new and more robust kind of personal token (we call it 'Synthetic Labor'): https://defirate.com/metokens/

tl;dr:
- meTokens are issued by a bonding c

[2020-04-14 02:28] zen2see commented on #6420
Thank you.

On Sun, Apr 12, 2020, 4:07 PM Kevin Owocki <notifications@github.com> wrote:

[2020-04-14 11:32] willsputra opened #6432 "As a user, I want a more intuitive sidebars on the town square"
### User Story

As a user, I want a more intuitive sidebars on the town square so I can navigate and do various actions on the town square better

### Current Behavior
[comment]: # (Describe what actually happened.)
![gitcoin co_](https://user-images.githubusercontent.com/19514207/79219587-2386ac00-7e85-11ea-8572-66788b0d999f.png)
1. LEFT: Section titles and content ("FEEDS" and "Connect, Grants..

[2020-04-14 19:09] frankchen07 commented on #6011
hey @developerfred - just wanted to check in on this, to see if we can update the current PR with the updated design.

also, I'm going to start a bounty for the weekly email design: https://github.com/gitcoinco/web/issues/6208 - are you going to be working on that too or should we release that to the public?

Lemme know!

[2020-04-14 19:15] frankchen07 commented on #6208
@iamonuwa bountied this. If you want to pick it up, please do. If you don't have the bandwidth, no worries someone else will pick it up

[2020-04-14 19:16] sebastiantf commented on #6208
@frankchen07 Can I do this?

[2020-04-14 19:16] frankchen07 commented on #6208
@sebastiantf - sure it's a permissionless bounty, so if you want to start work, submit a work plan, feel free!

[2020-04-14 19:30] Ianfinn1994 opened #6434 "I had taken a kudos quiz and didn't receive the Kudos."
I had completed the Turing Talking challenge ( Refer to https://gitcoin.co/ianfinn1994/quests) and i really haven't received half of the cool Kudos.   ( 0x3848ce8D9C1287Fd0419334e5f98c0514fcc7221 )

[2020-04-14 20:05] iamonuwa commented on #6208
I already have a PR for this.

[2020-04-14 20:29] owocki commented on #6432
Id love to see the sidebars be default closed as opposed to default open -
so they dont look so cluttered / overwhelming when u first come to the
site..

On Tue, Apr 14, 2020 at 5:32 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see

[2020-04-14 20:45] frankchen07 commented on #6208
@iamonuwa - is this for the design or updating the html with the design

@sebastiantf - please hold up on your work, iamonuwa has responded.

[2020-04-14 20:46] sebastiantf commented on #6208
Okay @frankchen07

[2020-04-14 23:16] sebastiantf commented on #6208
@frankchen07 I've been able to achieve the following. It wouldn't take much time to do the rest.

![wip](https://user-images.githubusercontent.com/36922376/79282881-e564a900-7ed3-11ea-87a6-fdea2e08ea92.png)

[2020-04-15 03:41] ronaldstoner opened #6435 "Formatting error on about.html for non-populated handle"
**Describe the bug**
When viewing personalities on the _Company...About_ page, entries without a handle (Joe Lubin for example), do not include the "(" symbol due to the way about.html checks and renders content based on population of this field. This can be seen on the `{%  if handle %}` check located at https://github.com/gitcoinco/web/blob/ecc29c37050adb36d49746f37b6a5ccbfeee6b43/app/retail/tem

[2020-04-15 05:41] onlinecovid opened #6437 "Avatar- could I upload my pic as my avatar?"
### Who

### What

### Why

[2020-04-15 05:42] onlinecovid commented on #6437
I didn't find the avatar i like so i want to use my image.
![Screen Shot 2020-04-13 at 1 11 01 PM](https://user-images.githubusercontent.com/63646996/79302407-24c5d200-7ea1-11ea-9a41-6d209526745d.png)

[2020-04-15 11:28] sebastiantf commented on #6208
I have successfully implemented the new layout as shown below.

I shall create a PR as soon as possible.

![final2](https://user-images.githubusercontent.com/36922376/79331933-94879b80-7f39-11ea-8ca3-036acd3b3099.jpg)

[2020-04-15 12:39] iamonuwa commented on #6208
@frankchen07 for the new design. @willsputra and @PixelantDesign did

[2020-04-15 12:54] willsputra commented on #6432
Maybe like Facebook we can show a few and have a "See More" button so it's not too cluttered
![Screenshot 2020-04-15 20 53 32](https://user-images.githubusercontent.com/19514207/79339261-34a1ec80-7f5b-11ea-9f9f-4590bbf0e297.png)

[2020-04-15 13:19] sifaw23 commented on #6321
Hello;
I already submitted my work yet i'm not sure if you received the link of the promo video.
here is the link: https://drive.google.com/open?id=1Ad19jVuTRL-YYtQ7_nrI4kdHu79vhjb4
User name: Sifaw23
Thank you!

[2020-04-15 13:20] sifaw23 commented on #6321
Hello;
I already submitted my work yet i'm not sure if you received the link of the promo video.
here is the link: https://drive.google.com/open?id=1Ad19jVuTRL-YYtQ7_nrI4kdHu79vhjb4
User name: Sifaw23
Thank you!

[2020-04-15 13:50] sebastiantf commented on #6208
@frankchen07 @willsputra Please look into my PR. It produces the new email template shown in my previous comment.

[2020-04-15 14:39] molecula451 commented on #6321
Yes owocki end up this....

[2020-04-15 14:58] owocki commented on #6437
this is a good idea. right now the only option to do this is to up load it
to your github then go to your gitcoin profile account settings and click
'use my github avatar'

On Tue, Apr 14, 2020 at 11:42 PM onlinecovid <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Sour

[2020-04-15 16:00] #5909 closed

[2020-04-15 16:00] #5954 closed

[2020-04-15 16:55] owocki commented on #6338
lots of discussion on
negative funding on twitter and reddit today

https://twitter.com/YalorMewn/status/1250466663167922179
https://www.reddit.com/r/ethfinance/comments/g1maq3/daily_general_discussion_april_15_2020/fngrneq?utm_source=share&utm_medium=web2x

[2020-04-15 17:20] walidmujahid commented on #6191
YEs

[2020-04-15 18:13] PixelantDesign commented on #6432
It would be great to see hackathons prioritized at the top of the feed.

[2020-04-15 18:35] frankchen07 commented on #6011
@developerfred - I'll remove you from this bounty and re-open to the public. I know you've done some work on this, so at the end I still may tip you for your efforts but I'll wait until the bounty is closed.

[2020-04-15 18:36] frankchen07 commented on #6208
@iamonuwa - got it. I'm mixing up the bounties with the same ticket, so I'll confer with @willsputra to ensure that you get paid out for the design help.

@sebastiantf - thanks for the taking the initiative to upgrade the html. appreciate it alot!

would you by any chance be interested in doing the same for https://github.com/gitcoinco/web/issues/6011? If yes, I'll re-open it and assign you. There

[2020-04-15 18:46] sebastiantf commented on #6208
Yeah sure @frankchen07. I could get on with #6011.

Please do reopen that bounty and assign it to me.

[2020-04-15 19:27] owocki commented on #6254
hey all,

it was a hard decision, and im sorry i was not quicker to be more decisive here.. but i've decided to go with RAID Guild on this one!  i think their proposal is super exhaustive, and they have a diversification of skillsets on their team that is hard to beat.

i have a few more bounties this size coming in hte next few days, in particular i need some help on gitcoin grants.  if you want

[2020-04-15 19:32] PixelantDesign opened #6442 "Add My Projects to Projects Tab"
### User Story

As a hackathon contributor I'd like to see my project displayed at the top of the projects page so I know what projects I've started or I'm apart of in the hackathon I'm registered in.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2020-04-15 19:33] frankchen07 commented on #6208
@sebastiantf - ok, the bounty should be open again. I reserved it under your GH handle but it doesn't seem to show. Let me know if you have difficulties starting work on it.

[2020-04-15 19:41] PixelantDesign opened #6443 "Participants Experiments"
### User Story

As a hackathon participant I'd like to know who is registered for the hackathon and know is interested in teaming up or hacking solo.

### Why Is this Needed
We want hackers to have a great experience, building great stuff and finding people to collaborate with!

### Description

Feature

### Current Behavior
Current participants tab has very limited information

### Expected Behav

[2020-04-15 19:42] sebastiantf commented on #6208
@frankchen07 I have started work on #6011 on Gitcoin.

I too couldn't find it in the Gitcoin Issue Explorer. I could only find it when I added the `Reserved for me` filter.

That may need some looking into.

[2020-04-15 19:55] PixelantDesign opened #6444 "Combine Start Work & Project Creation Forms"
### User Story

As a contributor I'd like a seamless form to let the sponsor know my plan for the prize bounty.

### Why Is this Needed

We want to make it simple for hackers to start working!

1. It helps our operations team absolutely track all projects and participants on projects
2. It facilitates more accurate recording between start work and number of projects

### Description

Combine the t

[2020-04-15 20:02] PixelantDesign opened #6445 "Hackathon About Tab"
### User Story

As a contributor I'd like to have one place to reference for materials related to the hackathon.
Links to workshops, repo guides, getting started guides etc.

### Why Is this Needed

Consolidation

### Description
Create a place to house learning materials and getting started guides making it easily editable by a Gitcoin core team member.

### Current Behavior
Just Getting started

[2020-04-15 20:59] frankchen07 commented on #6010
@walidmujahid is this PR ready for review? it's been open for a while and I just wanna make sure it gets pushed out soon!

[2020-04-15 21:51] hamzaghz opened #6447 "i've noticed that the Quests page freezes a lot and in different browsers"
**Describe the bug**
The quests page freezes frequently and in many browsers

**To Reproduce**
try to switch the page of quests between beginner/intermediate/hard and expert
**Expected behavior**
The page should be responsive and you can navigate easily through it
**Screenshots**

![1](https://user-images.githubusercontent.com/60444350/79392398-dc6ee880-7f62-11ea-9632-90dcaa280741.png)
![2](https:

[2020-04-15 22:17] owocki commented on #6321
hey guys.. people keep submitting videos. im going to close this bounty to new work starts, and aim to make a final call by Friday.  this is your FINAL FINAL ask to get submission in !

[2020-04-15 22:21] owocki opened #6448 "add current and canceled subscriptions to grants profile view"
per https://twitter.com/msolomon44/status/1249150137278115840?s=21 we'd like to see the current and canceled subscriptions that a user has enabled on the grants profile page  tab ( https://gitcoin.co/owocki/grants )

pls put them above the grants created list and reuse the existing styles

for the grants.subscriptoin object:
canceled subscriptions = error flag = True
active subscriptoins active fl

[2020-04-15 22:49] owocki commented on #6389
no, i think this issue is sufficient. which txs are you worried about adrian?

so that contract never actually holds any funds, its just used to manage splitting of funds (for the splitter contract) and subscriptions (in the case of recurring contributions).  unfortunately the only way to get those funds transfered is to contact the contributor and ask them to send them... and given that the contr

[2020-04-15 22:54] owocki commented on #6447
ive love to get more info on reproduction steps. i dont have this issue on mybrowser FWIW

Version 80.0.3987.163 (Official Build) (64-bit)
Automatically update Chrome for all users Learn more

[2020-04-16 01:03] ceresstation commented on #6443
Looks good! One thing to note, some people usually already "have a team" or "need a team". We should potentially split people accordingly and let people who "have a team" provide a blurb about their idea if they'd like.

It'd also be good, to potentially refine categories to some extent like "hackathon expertise: front end, back end, design". Our tags do a good job there already, so maybe it's jus

[2020-04-16 03:20] walidmujahid commented on #6010
@frankchen07 It has been for a while. After making requested changes, @danlipert and @thelostone-mc  had recnetly, a few days ago, given their thumbs up. It has been sitting in the review board since then. Recent upstream changes will require me to refresh the migrations -which I intended to do earlier today, but will do soon-, but other than that, it is ready merge.

[2020-04-16 05:18] sebastiantf commented on #6011
@frankchen07 I would like some clarifications about my specific tasks in this bounty.

1. Do I only have to update the html markup to match the design (using some dummy data)?

2. Do I also have to add code that fetches other data from the backend?

[2020-04-16 09:23] abitrolly commented on #5923
The behaviour is not repeatable anymore, and refactoring is another issue. Therefore I am closing it. Thanks everyone for participating in resolving it.

[2020-04-16 09:23] #5923 closed

[2020-04-16 12:04] PixelantDesign opened #6450 "Pin Post Feature"
### User Story

As an operator of Gitcon I'd like the ability to share with the community messages that are important.

As a sponsor of a hackathon or tribe owner, I'd like to be able to interact with devs following my tribe.

### Description
Build a feature similar to twitter's pinned post on to Gitcoin townsquare.
This is a _front-end & backend task._
**7 Day Turnaround. Only serious developers

[2020-04-16 15:46] sebastiantf commented on #6011
@frankchen07 Where can I get the new header image show in the new design?

[2020-04-16 15:58] sebastiantf commented on #6011
@frankchen07 @willsputra Should `New Daily Action` be still included in the new layout, because I couldn't spot it in the redesign

[2020-04-16 16:14] hamzaghz commented on #6447
it's ok now, no more freezes. thank you ;)

[2020-04-16 16:19] sebastiantf commented on #6298
Yea @gitcoinbot

[2020-04-16 16:25] sebastiantf commented on #6208
@frankchen07 @willsputra I haven't changed the font in the new PR. Looking at the new redesign you've posted, the font seems different from what I'm seeing.

Should I change the font? If yes, can you specify what font you've used in the redesign.

[2020-04-16 16:49] frankchen07 commented on #6011
@sebastiantf - thanks for being patient, and taking the initiative to ask clarifying QQs!

1. & 2. Ideally we want to add the html code and the code that fetches from the backend (some of it already might be done I think), for the relevant portions of the design.

@willsputra - can you provide Sebastian the header image?

I believe we removed the daily action because Will and I discussed that if p

[2020-04-16 17:01] sebastiantf commented on #6011
Thanks for the clarifications @frankchen07. Much appreciated.

And, if 1. & 2. are included in the scope of this bounty, then, if I may, I would propose that the bounty reward may not be on par with the tasks involved and would suggest a raise 😬😬. This is only a humble opinion and I know I haven't completed the tasks yet. Only sharing thoughts 😌

[2020-04-16 17:04] frankchen07 commented on #6011
Duly noted and a completely reasonable ask.

What would be a fair increase? Something on par with the other weekly email task?

[2020-04-16 17:08] willsputra commented on #6011
@sebastiantf thanks for working on this! here's the figma file. hope this is useful for the assets 🙂
https://www.figma.com/file/POtQ6NTWxHUsFftNqAZe9M/Gitcoin-Daily-Email?node-id=1%3A2

[2020-04-16 17:24] sebastiantf commented on #6011
Thanks for the acknowledgment @frankchen07 😃

Yes, I think something on par with the other weekly email task would be great. Although, IMHO, I would say an additional 10USD would make it better 😬. But that's up to you guys. Take a look at my work when I complete and submit it, and you guys can decide then. I'll be happy with anything you offer.

@willsputra - Thanks for sharing the figma. I got th

[2020-04-16 18:40] octavioamu commented on #6429
Should be fixed now

[2020-04-16 18:54] frankchen07 commented on #6011
Cool - updated the amount to 65 USD for completing the task ($38 + $27 additional). Looking forward to getting this email up!

[2020-04-16 19:00] sebastiantf commented on #6011
Great. Thanks @frankchen07. Appreciate it.

[2020-04-16 19:04] iamonuwa commented on #6424
So far, I've added the array field to each user to hold the ignored list. UI does its work fine now. Working on making sure ignored tribe doesn't show up again. Should have a PR tonight or latest tomorrow afternoon

[2020-04-16 20:26] owocki commented on #6448
@vporton  you were first to apply. go for it!

[2020-04-16 20:28] owocki commented on #6429
seems to be working for me now. excited to extend this to new places on the
site now that thats taken care of!

On Thu, Apr 16, 2020 at 12:41 PM Octavio Amuchástegui <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/r

[2020-04-16 20:29] owocki commented on #6450
note that special care will need to be taken to make sure this doesnt mess
up the 'new activity' long poller in activity.js

On Thu, Apr 16, 2020 at 1:25 PM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin

[2020-04-16 20:30] owocki commented on #6011
this is 🔥 🔥 🔥

is there a WIP PR i can checkout @sebastiantf ??!

[2020-04-16 20:32] sebastiantf commented on #6011
Sorry @owocki. Not yet. But there will be within the next few hours

[2020-04-16 21:02] molecula451 commented on #6429
The popup is working good as of now.

[2020-04-17 00:25] developerfred commented on #6450
Wow, I thought I'd suggest this issue, it's a really great feature.

[2020-04-17 01:35] zoek1 commented on #6424
@iamonuwa do you need I take this? I already implemented the backend part but I want to know your status to continue or stop  :smiley_cat:

[2020-04-17 04:39] frankchen07 commented on #6208
I'll defer to @willsputra on the font styling.

[2020-04-17 04:49] frankchen07 commented on #6010
thanks for the update - our engineers are busy, so they'll get to it eventually :)

[2020-04-17 06:56] sebastiantf commented on #6208
It's alright @frankchen07 @willsputra. I got it from the figma. No worries.

[2020-04-17 12:10] sebastiantf commented on #6011
@frankchen07

This PR actually gives a method to get multiple trending quests. But looking at the new design, there is only one quest of the day. And multiple quests need not be listed; only one quest (first trending quest) is to be displayed. Am I correct? May I proceed with this inference?

[2020-04-17 12:18] fabtho opened #6458 "Change of Email not possible"
**Describe the bug**

I want to change the email-adress https://gitcoin.co/settings/email/. This is not working. Error massage indicate that there is the same email in the database somewhere. (See screenshot) But I don't have a second account.

**Workaround**

I just delete the whole account on gitcoin and reconnect from github. This worked (As I did not have any data on gitcoin yet)

**To Reprodu

[2020-04-17 14:18] sebastiantf commented on #6011
WIP Screenshot:

![daily_wip1](https://user-images.githubusercontent.com/36922376/79578693-2f23de00-80e4-11ea-97f5-960fbdf08284.jpg)

[2020-04-17 15:05] willsputra opened #6461 "As a user, I want to see a cleaner Quests page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to see a cleaner Quests page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
A cleaner Quests page and cards would hopefully encourage users more to

[2020-04-17 15:54] owocki commented on #6011
kewl, hit me back when there is a PR for review available.

On Fri, Apr 17, 2020 at 8:18 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-17 16:02] sebastiantf commented on #6011
Of course @owocki.

[2020-04-17 16:29] developerfred commented on #6442
assigne me on this issue

[2020-04-17 17:38] frankchen07 opened #6463 "Gitcoin Grants R6 UX Improvements"
### User Story

Andrei Ponivesc gratefully provided us a video of his Gitcoin Grants UX experience and what improvements could be made.

### Why Is this Needed

We want the end experience for our user

### Description

Ux improvements on the grants experience.

Summary:

- When there is a countdown - the color of the coundown is hard to see. Update color to Gitcoin green.
<img width="1041" alt="Sc

[2020-04-17 17:54] sebastiantf commented on #6011
@frankchen07 How should I implement the upcoming events section? Shall I leave it as HTML to be edited manually?

[2020-04-17 20:24] owocki opened #6465 "Gitcoin Grants Data Entry Task"
https://docs.google.com/spreadsheets/d/1ngxSgJAZDyrokiUcgAQLPRqhR4wbBLjPHSyHBOigwaA/edit#gid=1132452000

This is a data entry task for Gitcoin Grants.  I would like to have github repo URLs each each Gitcoin Grant ingested into this spreadsheet.

There are 600 rows to ingest.  If no github repo exists for a project just put "N/A" in that row.

Please DO NOT start work on this unless you have been

[2020-04-17 20:28] sebastiantf commented on #6465
Thanks, @owocki for the approval. I shall complete it ASAP.

[2020-04-17 20:35] sebastiantf commented on #6465
@owocki Shall I work on a copy of the spreadsheet and update the original once I've completed the work?

[2020-04-17 20:56] frankchen07 commented on #6011
I think for now we can keep it in the html. It'll require us to manually update every few weeks but it's iterative. This will ensure that we keep moving forward on getting this email out!

[2020-04-17 21:08] sebastiantf commented on #6011
@frankchen07 I have created two methods that fetch the latest grant and hackathon based on their creation date. You can review them when I create the PR and let me know what you think.

[2020-04-17 21:38] owocki commented on #6465
you can work on that spreadsheet. i have the version history saved if
anything goes awry

On Fri, Apr 17, 2020 at 2:36 PM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-17 21:52] sebastiantf commented on #6011
@frankchen07 Has there been any work done or in progress to 1. fetch recent Townsquare posts, 2. fetch link to the user's notifications?

The issue #5943 and it's solving PR #6045 seems to provide a notification when someone mentions or likes you. I don't think it directly solves 1. or 2.

Just asking to know whether there has been any other work than #5943.

[2020-04-18 01:08] zoek1 commented on #6450
@developerfred to be fair, please wait until @PixelantDesign accept someone to start the bounty. The description of the bounty specifies that:

[2020-04-18 01:30] zoek1 commented on #6450
Although there's work already implemented by @developerfred, to be fair with the developers that already applied, don't take such work into consideration to approve one developer due to not respect the policy  **Approval Required**.  IMHO

what do you think @PixelantDesign?

[2020-04-18 02:12] developerfred commented on #6450
@zoek1 sorry, i don't see any problems in who is approved to use my code.  And that I like to solve problems.  Like chatting with a @PixelantDesign  in the chat, she had this task to be delivered within 7 days.  I found a great challenge

[2020-04-18 02:14] developerfred commented on #6444
@PixelantDesign I can work on this feature?

[2020-04-18 11:11] sebastiantf commented on #6011
WIP Screenshot:

![daily_wip3](https://user-images.githubusercontent.com/36922376/79636146-41a92080-8193-11ea-9158-570ade0f4f14.jpg)

[2020-04-18 16:10] owocki commented on #6321
hey all, i was blown away by the response here. i was expected maybe 3 or 4 submissions, but ended up with over 20.

note: if you left a github comment here or submitted work on gitcoin, then i saw your work and considered it during judging. if you sent it via another channel there is a chance i did not see it!

keep in mind that this choice is inherently subjective.  i considered a lot of factors

[2020-04-18 16:10] #6321 closed

[2020-04-18 16:18] husainkhati commented on #6321
@owocki we will get any rewards?

[2020-04-18 16:46] Solexplorer opened #6469 "Cannot submit project for a hackathon"
**Describe the bug**

When I start work for a hackathon bounty, I'd like to fill the project modal but the submit button doesn't appear if I scroll down. The only way to submit the project would be to use TAB and go to the submit button:
![Screen Recording 2020-04-18 at 06 41 39 65 PM](https://user-images.githubusercontent.com/50027175/79643727-9c974380-81a4-11ea-9593-135467dd1478.gif)

**To Repro

[2020-04-18 16:46] owocki commented on #6321
Happy to send out some more honorable mention tips this week, particularly
where effort was put into creating original content.

On Sat, Apr 18, 2020 at 10:18 AM husainkhati <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitco

[2020-04-18 16:49] molecula451 commented on #6321
Great work owocki. Honestly. The only thing left was the I did not see all the submissions posted on YouTube. Maybe who knows. The decisions could have been a lot tighter. Guess, overall good. It was fun

[2020-04-18 16:51] owocki commented on #6321
Fair feedback - thank you

On Sat, Apr 18, 2020 at 10:49 AM Paul <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-18 17:36] sifaw23 commented on #6465
I can't find Button to Apply?

[2020-04-18 21:35] developerfred opened #6470 "Bug: Render image link on TowerSquare"
https://gitcoin.co/townsquare?tab=activity:235419

![55937E03-CF96-412C-BADF-2BCD89414D99](https://user-images.githubusercontent.com/57037080/79671754-be082780-81c4-11ea-9d49-21c6fb0ab821.png)

[2020-04-19 01:45] hamzaghz commented on #6321
Hi @owocki , you did not mention my name so i thought you missed my submission. here you are the link https://github.com/gitcoinco/web/blob/caa11adfc180d7d2fe2b361786edc06bb6ba04b3/Gitcoin-promo.mp4

Thank you :)

[2020-04-19 02:43] molecula451 commented on #6321
Owocki missed a lot of things here... The winner video (congratulations) were not 15 seconds at all, so that point was not taken in count at all

The metrics were stated by Twitter stats (hearts), (pretty understood it can't be a personal one)

And a lot of submissions were not tweeted out (this could have been told)

The bounty was fun. Anyway, but it looks like those submissions that were not tw

[2020-04-19 04:08] abitrolly commented on #5923
Unsubscribed because of the bot. Please tag me explicitly if needed.

[2020-04-19 04:36] molecula451 commented on #6321
Owocki missed a lot of things. The winning submission (contragulations) were not **15 seconds** at all. So that point was not taking in count at all. I'm following that the bounty is the source of the truth owocki said

Some submissions were tweeted out and some not. So it looks like most of the submissions were not participating at all (this could have been told) or maybe those that posted the vi

[2020-04-19 13:19] developerfred commented on #6469
https://github.com/gitcoinco/web/issues/6430

[2020-04-19 13:21] developerfred commented on #6469
to send I inspect the element pick up or send button and put on top of my project name.

[2020-04-19 20:09] sebastiantf commented on #6011
@frankchen07 I have created a PR at #6471 that will be updated once #6438 is merged.

[2020-04-20 01:26] owocki commented on #6465
its taken by @sebastiantf - how goes sebastian?

[2020-04-20 01:29] owocki commented on #6321
yeah fair point. i should have said "estimated 15 seconds"

youre right i didnt twee them all out. did share several of them with the gitcoin team and they decided which should be finalists to be tweeted out.

[2020-04-20 01:30] owocki commented on #6321
@hamzaghz thanks for your submission! sorry i did not explicitly mention you. i did in fact review your submission tho.

im thinkikng about dropping a little more ETH here next week. need to find an efficient way to issue txns in bulk here.