[2019-06-11 16:04] ceresstation commented on #4186
@Skyge The issue is that the BNB price conversion we're using is BNB/USDT which is low in liquidity and therefore inaccurate. We should be using a pair like BNB/ETH and converting that value to USD so that we get a true market price.

[2019-06-11 16:08] ceresstation commented on #4189
@skyge

For me all I need to do is

1) Click on `Fund Issue`
2) Insert my GitHub URL
3) Choose some amount of money (in DAI, which is the default value for me)
4) Scroll to the bottom of the page to find something denominated in ETH instead

https://gyazo.com/bad199f095f37cced670c66cddd462ce

[2019-06-11 16:37] ceresstation opened #4618 "Metamask requests fee payment when funds aren't available"
**Describe the bug**

If a user doesn't have enough funds in their account to pay for the bounty, the user is still prompted to pay the fee associated with posting.

https://gyazo.com/80f9acc058a4348aca9eea296664a597

**Expected behavior**

If a user does not have enough funds in their account Metamask should not prompt the user and they should instead be asked only to refill their account, to avo

[2019-06-11 18:58] PixelantDesign commented on #4596
Per Dean Ramadan " we increased email signup rate 15% by adding popups".

[2019-06-11 19:50] ceresstation opened #4619 "Gitcoin Applicant Auto-Filtering System"
### Why Is this Needed

As a funder I'd like to have the option to auto-decline applicants if they don't meet certain criteria.

### Description

We should consider tiers of approval that funders can define in their profile settings. For example, I may not want to accept anyone whose proposal is less than 10 characters, who has never completed a bounty on the platform, or whose stated skills don't

[2019-06-11 19:55] owocki commented on #3907
@iamonuwa can you commit to getting this done in the next week or so?  anywhere you are blocked?

[2019-06-11 19:58] owocki opened #4620 "as a poweruser, i want to cache my profile info so that it loads in < 0.1S"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a poweruser, i want to cache my profile info so that it loads in < 0.1S

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
kevin ( https://gitcoin.co/profile/owocki )

[2019-06-11 20:21] owocki commented on #4620
@davidkaufman i'm hoping to use a persistent data store for this (memcached is for non persistent memory store right?)

either way we need to build the method that creates a serialized data object

is it easy to add an infrastructure piece around memcached? i dont know if thats a committment we want to make at this time

[2019-06-11 21:18] frankchen07 commented on #3763
closing this out until the bug resurfaces again

[2019-06-11 21:18] #3763 closed

[2019-06-11 21:19] owocki commented on #4153
we should perhaps take another pass at this with more of a lense on what funders WANT out of a dashboard (and contributors, for their dashboards..).  ..

# funders
have we showed these to any funders?  what do the yorke rhodes of the world want out of the dashboard?  what do we want new funders to see?  existing funders?

# contributors
what contributors on the platform can we show this to?  what

[2019-06-11 21:23] frankchen07 commented on #4564
hey kuhnchris, thanks for the comment, these tickets were opened as a trail of ideas for a funder retention epic. We're investigating and prioritizing which ones would have the highest impact in the EPIC ticket linked above.

[2019-06-11 21:24] frankchen07 commented on #4565
yes this is a consideration to make when we send testimonials - currently slated in the roadmap, but has less impact than some of the other items on our map.

[2019-06-11 21:37] frankchen07 commented on #4562
great comments from both of you. I think the next step of action is the figure out the varying groups of funder expectations

so far, we've heard:

most is a combination of turning around issues via quality work at a not too crazy price point
some are job market (which can be an enhanced or opportunistic version of the first one above)
less is finding a long-term worker

we have some funder interv

[2019-06-11 21:45] iamonuwa commented on #3907
Yeah, am hoping to finish it this week. Got stuck on the upload path. I'll
reach out to you tomorrow. Sorry for the delay.

On Tue, 11 Jun 2019, 20:55 Kevin Owocki, <notifications@github.com> wrote:

[2019-06-11 21:55] frankchen07 commented on #4186
I think the problem is that binance fellowship grants funded $5k ($5000 DAI, since it's 1:1 to the US dollar) in BNB tokens but it displays 2625 DAI (which should be $5000 under total funded).

We're thinking that the BNB conversion to US dollar / DAI is incorrect.

Here's the page: https://gitcoin.co/grants/87/kitsune-wallet

[2019-06-11 22:39] Skyge commented on #4189
![image](https://user-images.githubusercontent.com/27282380/59311465-2dc3a100-8cdc-11e9-9c19-69fb2a8d20d7.png)

Yeah, we do almost the same steps, except my default currency is ETH, so this is the key point of this problem.

[2019-06-11 22:44] Skyge commented on #4186
OK, this page has been changed and now I find that question, thanks for prompt.

[2019-06-12 02:39] renaynay opened #4621 "ability to update github username"
I updated my github username and i'd like for the option to update my github username in the app as well -- otherwise, gitcoin is linked to my old username which results in a 404

[2019-06-12 06:53] kuhnchris commented on #4620
@owocki well, memcached is non-persistant. Basically it caches the page and/or results for a certain amount of time before it checks and have it reload.
This is fine for "normal" users, but for power users where the activity changes very quickly it's... not perfect.

Django topic related to cache/memcached:
https://docs.djangoproject.com/en/2.2/topics/cache/

Throwing up a memcached instance is ra

[2019-06-12 06:55] kuhnchris commented on #4564
Hi there @frankchen07 - no problem, @PixelantDesign asked me to take a look around those, so I'm just throwing in random ideas that may give a bit of insight about how easy/hard it would be to implement some of the ideas. ;-)

[2019-06-12 07:56] PixelantDesign commented on #4621
Thanks for the report @renaynay!

[2019-06-12 08:19] kuhnchris commented on #4619
2 approaches to that:
- during bounty creation create the possibility to restrict to qualifications --> creates a amazon MTurk Esque issue where you need to do 200 tasks before you can apply for something
- auto-reject may do the same, just time delayed.
- have a button "Reject applicants based on..." and then select certain criteria (time applied, length of description, avg. rating, ...) --> more

[2019-06-12 09:08] danlipert commented on #4308
@willsputra Dope! looks very nice!

[2019-06-12 09:11] danlipert commented on #4603
Yeah I agree its confusing @miguelmota - I think this can just be a frontend change, just invert the checkboxes' boolean in the display and change the wording @kuhnchris

[2019-06-12 09:12] danlipert commented on #4606
@kuhnchris Correct - what we want is a tool that will allow us to easily say "send this email 36 hours from now"

[2019-06-12 09:42] kuhnchris commented on #4603
@danlipert afaik it's in the config table, check _administration please.

[2019-06-12 12:46] danlipert opened #4622 "As a Gitcoin administrator, I want to move our infrastructure to modern instances, so we can save money and have increased performance."
### User Story

As a Gitcoin administrator, I want to move our infrastructure to modern instances, so we can save money and have increased performance.

As a ConsenSys infrastructure admin, I want our spokes to use modern instances, so we can save money and have increased performance.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of th

[2019-06-12 12:50] danlipert opened #4623 "As a Gitcoin administrator, I want to use the newest version of IPFS, so we don't end up on a split/forked network unable to post data to the network"
### User Story

As a Gitcoin administrator, I want to use the newest version of IPFS, so we don't end up on a split/forked network unable to post data to the network

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: The IPFS network is undergoing an u

[2019-06-12 12:55] danlipert opened #4624 "As a Gitcoin bizdev, I want to have a technical report and level-of-effort analysis on cross-chain integration, so I can better plan for future partnerships"
### User Story

As a Gitcoin bizdev, I want to have a technical report and level-of-effort analysis on cross-chain integration, so I can better plan for future partnerships.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: In discussing the potential

[2019-06-12 13:16] owocki commented on #4620
i could live with a few different caching solutions.  maybe we can kick the can on that part of the convo to a second bounty, and just focus on the serialization of the data array for now..

@davidkaufman that sound okay to you?  perhaps this could be a multi bounty engagement if it goes well!

[2019-06-12 13:33] owocki commented on #4622
how much will we save and how much time will this take us?  the numbers matter quite a bit here given that dev time is more constrained than $$$ at this time
 :)

[2019-06-12 14:24] danlipert commented on #4622
@owocki They are about 10% cheaper baseline, and use more modern CPUs. In addition, ConsenSys is paying for reserved instances here, which I think are 30-40% cheaper. Should take about 8 points, less if there are no issues but I bake in some points to fix anything unexpected.

[2019-06-12 14:25] #4497 closed

[2019-06-12 14:38] #4608 closed

[2019-06-12 14:44] #4508 closed

[2019-06-12 15:58] owocki commented on #4621
thanks.  whats your old github username?  we can merge it on the backend

[2019-06-12 16:18] renaynay commented on #4621
I already deleted my old account and recreated it, but it should definitely be a feature that lets you sync usernames

[2019-06-12 16:27] pawanjay176 opened #4626 "Cannot submit work"
**Describe the bug**
Submitting work gives me the following error after a while
[code]

**To Reproduce**
Fill the details in the submit work page and click on Submit work button. For bounty https://gitcoin.co/issue/poanetwork/hbbft/309/2727

**Expected behavior**
Work should get submitted for approval to funder.

**Screenshots**
![image](https://user-images.githubusercontent.com/9890508/59369479-2

[2019-06-12 16:31] owocki commented on #4626
can you please fill out the info in the bug report template? https://github.com/gitcoinco/web/issues/new?template=bug_report.md

[2019-06-12 16:37] #4343 closed

[2019-06-12 17:19] davidkaufman commented on #4620
We've used memcached to cache the results of certain DRF response data that was slow or expensive to query from the backend db, or very frequently accessed, for a site that required these certain API responses to be very fast and highly available, and to avoid outages to the homepage of the website and certain critical startup views in a mobile app, even during short outages such as restarts and u

[2019-06-12 17:21] pawanjay176 commented on #4626
@owocki updated the info

[2019-06-12 17:32] davidkaufman commented on #4620
All that said, in my initial testing, the page "feels like" it loads very quickly for me.  Yes, scrolling to the bottom, repeatedly, to load all the activity, and the avatar images of each item, resutls in a huge page that takes a very long time to load (esp. including user page-downs) so, to me this bug needs a specific way of measuring what we're optimizing for, because my first guess is that it

[2019-06-12 17:37] pawanjay176 commented on #4626
Its similar to the issue in #4558 . I'm using metamask without ledger though.
Tried with Brave and Chrome on Ubuntu and Mac. Still metamask doesn't open.

[2019-06-12 19:05] owocki opened #4630 "data - how do we classify different sets of funders?"
how do we classify different peresons of funders?  once we understand subtypes of funders we'll be able to do a better job of activating them:

axis 1 - technology
[code]

axis 2 - activity level
[code]

[2019-06-12 19:50] owocki opened #4631 "as a funder/coder, i want gitcoin to know which mode i am in, so that it can create an experiment that is targeted to me"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder/coder, i want gitcoin to know which mode i am in, so that it can create an experiment that is targeted to me

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*

[2019-06-12 22:05] owocki commented on #4626
Thanks pawan.  Is there any error info in the chrome console ?

[2019-06-12 22:30] owocki commented on #3981
thanks

On Sun, Jun 9, 2019 at 3:27 PM Arsen A. Gutsal <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook.

[2019-06-12 23:46] octavioamu commented on #4595
From slack:
To make the blog changes first I need to proper configure wordpress, right now urls are failing and using the admin you get continuously redirected to gitcoin site

[2019-06-13 04:36] pawanjay176 commented on #4626
It worked now. Was able to submit. Didn't do anything different!

[2019-06-13 08:12] phraktle commented on #4189
The form seems to remember selections from a previous session. When the previous bounty was in a token, the dropdown defaults to that, however the total at the bottom indicates ETH. If change the denomination dropdown, the bottom total is refreshed correctly.

[2019-06-13 09:47] owocki opened #4634 "a couple small bugs (and one big one) with gitcoin grant contribution"
https://gitcoin.co/grants/113/gitcoin-moderation-tools/fund (latest chrome)

1. 🔵 the preview amount is wrong http://bits.owocki.com/c6d3da293076/Screen%20Recording%202019-06-13%20at%2005.43%20AM.gif
2. 🔵 my selection for gas speed in the UI only registers for one of the two transactions (not both transactions)
3. 🔴 if i do a one-time contribution, it does not actually create a `grants.model.contr

[2019-06-13 09:51] owocki commented on #4634
note that how it worked before for one time contributions was that we'd just call `transfer()` straight away in the frontend and directly transfer the tokens from person A to person B.  not sure if that's how it works now.

this is the condition that USED TO be hit if the grant contribution was a one time contribution => https://github.com/gitcoinco/web/blob/stable/app/grants/views.py#L522-L527 .

[2019-06-13 10:07] PixelantDesign opened #4635 "Marketing Team Getting Word Press Errors When Trying to Post to the Blog"
**Describe the bug**
Dean is unable to post to the blog.

**To Reproduce**
Go to our Wordpress blog and try to post something.

**Expected behavior**
Be able to post to the blog

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Additional context**

Word Press Errors -
Why are there two slashes?  https://gitcoin.co//wp-admin/widgets.php

[2019-06-13 11:03] PixelantDesign commented on #4153
We have a lot of feedback from the community slack from contributors. We started capturing feedback from Katie/labs funder last week, and will continue getting feedback from funders this next sprint.

[2019-06-13 12:02] owocki commented on #4620
which page did you test?  my profile on gitcoin loads in 7 seconds :)

[code]

@davidkaufman i'm blown away by the thoughtfulness and attention to detail in your response.  hoping to work with you on this!  approving you now :)

[2019-06-13 13:05] willsputra commented on #4496
updated with Summary
![Payout](https://user-images.githubusercontent.com/19514207/59434879-9878f780-8e16-11e9-9d66-089f7bf3da06.png)

[2019-06-13 14:59] willsputra commented on #4153
latest iteration of funder dashboard
![Bounties-Funder Copy 3](https://user-images.githubusercontent.com/19514207/59443638-843cf680-8e26-11e9-9a4f-5424efdcc83d.jpg)

[2019-06-13 15:48] owocki commented on #4153
whats with the whitespace on the right?  seems like 'complete your profile' is just missing now + the whitespace looks weird.  why not extend the main module to be the full width of the screen if we consciously removed all of the items in the right side...

why is there an expired bounty under 'active bounties'?

is there another rev of the contirbutor module?

[2019-06-13 17:47] davidkaufman commented on #4620
Thanks!

So you're talking about time-to-first-byte, not total page weight.  And you're right!  Mine loads much faster:
[code]

I'll get started on the serializing the slow db query results!

[2019-06-13 19:16] owocki commented on #4496
Heads up - changing the design around on this page isn't going to change the technical architecture of how the payouts work

[2019-06-13 19:48] owocki commented on #4382
yes

[2019-06-13 19:48] #4382 closed

[2019-06-13 20:13] kuhnchris opened #4640 "[Grants] Failed Contributions are counted into Total"
**Describe the bug**
Failed contribution is counted towards Total.

**To Reproduce**
???

**Expected behavior**
1 DAI

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/59464308-5d7fbf80-8e28-11e9-99ea-e1b495847755.png)

[2019-06-13 20:15] owocki commented on #4465
@willsputra looks great!

@iamonuwa i just approved u

[2019-06-13 20:17] owocki commented on #4620
cool cool FYI i started working on an architeture that could support this at https://github.com/gitcoinco/web/pull/4316

[2019-06-13 20:21] owocki commented on #4640
i think if we mark a grant contrb as failed, we just need to call `grant.save()` on the obj in order to update the 'total funded' amount

[2019-06-13 20:58] iamonuwa commented on #4465
@owocki sweet! I see two designs, which one do I build out?

[2019-06-13 21:20] iamonuwa commented on #4553
@PixelantDesign can you add additional context on this?

[2019-06-13 21:46] kuhnchris commented on #4618
again, the only "real way" to get around this and all the other issues is to have a proxy contract...

[2019-06-13 22:46] owocki commented on #4465
this one pls https://user-images.githubusercontent.com/19514207/59124872-03e04680-898b-11e9-8016-6e367372750f.jpg

[2019-06-14 02:04] willsputra commented on #4465
@iamonuwa thanks for helping out with this! :) sketch file:
https://github.com/gitcoinco/creative/blob/2d7808d6834351efce2d76a1b94e65a41f93e9a6/Product/Surgical%20Unsubscribe/Surgical%20Unsubscribe.sketch

[2019-06-14 03:13] davidkaufman commented on #4544
Hi @PixelantDesign

Yes I certainly would, thanks!

-dave

[2019-06-14 06:50] iamonuwa commented on #4465
Thank

On Fri, 14 Jun 2019, 03:04 William S. Goi, <notifications@github.com> wrote:

[2019-06-14 10:27] PixelantDesign commented on #4178
@mul1sh are you still working on this task?

[2019-06-14 10:49] #4635 closed

[2019-06-14 10:53] PixelantDesign commented on #4378
Dashboard should solve this cc @willsputra

[2019-06-14 13:12] PixelantDesign opened #4641 "Weekly Email Leaderboard Needs Formatting"
**Describe the bug**
Weekly Email Leaderboard Needs Formatting

**To Reproduce**
See the weekly email

**Expected behavior**

- Clean formatting for legibility
- Left align copy in each column
- Bold headers
- Top align headers & content
- Review with @PixelantDesign

**Screenshots**

<img width="928" alt="Screen Shot 2019-06-14 at 9 08 42 AM" src="https://user-images.githubusercontent.com/238235/

[2019-06-14 13:19] mul1sh commented on #4178
@PixelantDesign yep i am, i had some issues deploying the docker image which slowed be down considerably but i sorted that this week, so please a PR by Monday.

[2019-06-14 14:32] #4485 closed

[2019-06-14 14:32] #4196 closed

[2019-06-14 16:55] willsputra commented on #4564
@kuhnchris thanks for the suggestion! that's the one that shows up when you open the Fund Issue form the first time, right?

@frankchen07 what do you envision the content should be? maybe it could be a combination of important data points from https://gitcoin.co/results (like turnover time, value transfer, how many funders we've helped etc.) + a quickstart guide?

[2019-06-14 17:41] rafalkowalski commented on #4590
@gitcoinbot I'm working on it. I'm waiting for a review

[2019-06-15 20:03] kuhnchris commented on #4599
@PixelantDesign please let me know how to proceed.

[2019-06-16 03:35] cmditch commented on #4158
👍

[2019-06-17 07:35] rafalkowalski commented on #4544
@gitcoinbot I'm working on this issue. I'm waiting for the review in #4613

[2019-06-17 10:09] Skyge commented on #4189
@phraktle Oh, I see, thanks for your help. Yeah, it seems like due to previous session. I will fix it ASAP.

[2019-06-17 12:09] kuhnchris commented on #4153
On the right i think there were ideas to put "hot topics" like stuff that needs intermediate action - aside from that looks good to me already. I just hope the data model can handle all of this... else we'd need to add some views.

[2019-06-17 12:11] kuhnchris commented on #4496
Aye, the standard bounty does not work like the proposed solution. You'd be required to write a cover/proxy contract for that, not sure if that's in the current scope...
Aside from that i'd transpose the Payee Section(s), scrollbar and scrollable left<->right instead of up/down, as it uses up far too much vertical space.

[2019-06-17 13:58] davidkaufman commented on #4620
Having a hard time recreating the performance issue locally, of course, since I only have sample bounty data.  How do I point my dev environment at mainnet (and, preferably, in a read-only fashion :-))?

[2019-06-17 13:59] davidkaufman commented on #4620
Also, loading the rinkby data is very slow, and i'm seeing a lot of these errors:
[code]
Did I not setup IPFS right?

[2019-06-17 14:12] kuhnchris commented on #4620
You probabbly need to grab a Infura Key for IPFS.

[2019-06-17 16:19] iamonuwa commented on #4465
Wow, already up to 3 days? @gitcoinbot work in progress. Will send in a PR

[2019-06-17 17:22] owocki opened #4648 "bounty/new - it doesnt pull down the desc when you paste the URL in there"
**Describe the bug**

 it doesnt pull down the desc when you paste the URL in top of form

**To Reproduce**

paste url in gitcoin.co/new

**Expected behavior**

the summary of the issue should pull down without pushing 'sync with github'

if you go to https://gitcoin.co/bounty/new?source?=[url], it should pull the github info from [url] upon pageload

**Additional context**

this is the issue that

[2019-06-17 18:27] owocki commented on #4620
checkout the docs at https://github.com/gitcoinco/web/tree/master/docs

esp https://docs.gitcoin.co/mk_setup/
and the `IPFS_*` environment variables

as for reproducing the issue locally.. you don't really need to have THAT MUCH of a performance differeential to make it work.  if you can save 0.3s locally and it expands to 9s on the main site because you cache the entire profile dict, then thats f

[2019-06-17 19:11] frankchen07 opened #4649 "As a Gitcoin operator, a "squeeze page" may drastically simplify the onboarding experience."
### User Story

As a Gitcoin operator, a "squeeze page" may drastically simplify the onboarding experience.

### Why Is this Needed

This is an idea for activation strategy.

### Description

Instead of bombarding a new user with the entire Gitcoin product suite, we:

1. do not provide access without signup
2. new signup page has no nav bars, no hyperlinks
3. instead has a clear value proposition

[2019-06-17 19:37] alexvotofuture commented on #4496
@owocki the motivation for this design was two-fold: 1) Consolidate forms to simplify payout choices for the user in the short term, and 2) Set up a front-end in anticipation of architectural shifts that would allow payout to multiple parties from escrow and eliminate tips as a payout method over the medium/long-term. We understood the architecture would have to shift, but given the legal, auditin

[2019-06-17 19:51] alexvotofuture commented on #4496
@willsputra: Wonder if we could use visual elements to reflect numerical information so that it takes up less space and is easier to understand.

- Gas selection could be a slider (slow<->fast)
- "Remaining funds in escrow" and "total payout" could be consolidated and made into some kind of gradient bar showing proposed payout vs funds remaining
-- Could populate a visual percentage total as you t

[2019-06-18 02:59] owocki opened #4650 "we should pilot Vitaliks new anti collusion algorithm in q3"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
using Gitcoin Grants Round 3 we should pilot Vitaliks new anti collusion algorithm in q3

The overhead of another round plus this slight change in operating norms is worth it.

This will inject us into the governance convo in a new way + create some value in the anti collusion research in CLR

[2019-06-18 12:55] #4189 closed

[2019-06-18 13:23] thelostone-mc commented on #4596
update:  @octavioamu updated the blog template (which is super clean)

This appears on every blog page + main blog landing page
<img width="1680" alt="Screenshot 2019-06-18 at 5 22 53 PM" src="https://user-images.githubusercontent.com/5358146/59686368-2f202c80-91fa-11e9-9c91-e4167b2c555d.png">

[2019-06-18 13:33] #4503 closed

[2019-06-18 14:17] michaelsena opened #4651 "Export Gitcoin history to 3Box"
### DESCRIPTION
As a Gitcoin user, I would like to export my Gitcoin activity and work history to 3Box, so it can be used on other sites, apps, and platforms - effectively creating a modern, decentralized work resume. Would be cool to use this info for a decentralized linkedin, Bounties Network, or any other work-based or professional platforms.

### IMPLEMENTATION
I'm thinking of a button somewhe

[2019-06-18 15:47] willsputra commented on #4496
@alexvotofuture Thanks for the great feedback! 🙂

Agreed.

Considered this but for bounties with different tokens, it would be hard to show the multiple tokens on a single gradient bar (e.g. what if I want to give 50% of the total ETH and 30% DAI?)

Love these. Will put incorporate them into the design!

[2019-06-18 16:18] rafalkowalski commented on #4398
@gitcoinbot Yes, I'm working on it. I'm waiting for the review in #4602

[2019-06-18 16:55] willsputra commented on #4153
Another rev on the funder dashboard:

Collapsed
![Dropdown-Collapse](https://user-images.githubusercontent.com/19514207/59703499-2f352200-9224-11e9-9e60-23013a737c96.jpg)

Loading (maybe we could use the same loading animation from the Issue Explorer?)
![Dropdown-Loading](https://user-images.githubusercontent.com/19514207/59703529-3d833e00-9224-11e9-81d0-771e6ac149d5.jpg)

Revealed
![Dropdown-Reve

[2019-06-18 17:02] willsputra commented on #4480
something like this?
![bounty settings](https://user-images.githubusercontent.com/19514207/59704053-74a61f00-9225-11e9-8c11-93a84df2021d.png)

[2019-06-18 17:08] willsputra commented on #4570
maybe we could combine them with this page?
![devguide](https://user-images.githubusercontent.com/19514207/59704424-4aa12c80-9226-11e9-84a9-0e64f884af37.jpg)

[2019-06-18 17:35] acolytec3 commented on #4292
@gitcoinbot, I did, see PR #4601.

[2019-06-18 21:32] octavioamu commented on #4615
There is already a select to select the order and that keeps saved in the localstorage to remember the user choice.

[2019-06-19 01:15] #2784 closed

[2019-06-19 05:26] PixelantDesign opened #4652 "Funder Drip Campaign - Calendar Year - Get Ready for Various Eth Conferences"
### What
Funder Drip Campaign - Calendar Year - Get Ready for Various Eth Conferences

### What
Message and re-engage with Funders to bounty work to help them prepare for big Eth conferences throughout the year.

### Why
Because projects want to make a good impression at conferences/events in the space

[2019-06-19 14:48] willsputra commented on #4153
Some points from funder feedback:
• Funders should land on dashboard everytime after login
• Sort by actions needed, and recent below that
• Expired belongs in inactive session
• Reminder that no applicants or increase funds on a bounty would be helpful

[2019-06-19 16:04] frankchen07 opened #4654 "As a Gitcoin operator, I want to create a hackathon issue explorer page for the upcoming hackathons"
### User Story

As a Gitcoin operator, I want to create a hackathon issue explorer page for the upcoming hackathons

### Why Is this Needed

We'll be placing hackathon bounties on a dedicated explorer. Eventually, this explorer will be self-serve and easily created by non-engineering members of the Gitcoin team.

### Description

The hackathon explorer will mirror the current explorer in terms of

[2019-06-19 16:07] frankchen07 opened #4655 "As a Gitcoin operator, I want to generalize the hackathon issue explorer to be self-serve."
### User Story

As a Gitcoin operator, I want to generalize the hackathon issue explorer to be self-serve.

### Why Is this Needed

Extension of https://github.com/gitcoinco/web/issues/4654 to be self-serve.

### Description

This cuts down the engineering cycles for us to spin up hackathons, and instead allows non-engineering members to quickly spin up issues explorers for upcoming hackathons.

#

[2019-06-19 16:10] PixelantDesign opened #4656 "As a Funder, I'd like to easily continue the relationship with my bounty hunter on the Gitcoin platform."
### User Story
As a Funder, I'd like to easily continue the relationship with my bounty hunter on the Gitcoin platform.

### What

- Funder feedback - "I'd like to continue working with the contributor on a grant" but the platform is currently clunky.

- What are some ways we can foster this in our app?

### Why
- We want to help build on good relationships
- We want to make revenue
- We want to r

[2019-06-19 16:14] PixelantDesign commented on #4649
hmm what is the flow?

[2019-06-19 16:50] frankchen07 commented on #4564
closing this ticket and combining it with https://github.com/gitcoinco/web/issues/4212 - @willsputra will answer your question there

[2019-06-19 16:50] #4564 closed

[2019-06-19 16:54] frankchen07 commented on #4562
update: I believe @willsputra is investigating this!

[2019-06-19 19:17] ceresstation commented on #4148
I would add to this that it might be nice to frontload bounty payments via the subscription model, allowing someone to pay for up to `$x` of bounties in DAI without having to sign a MetaMask transaction at all. Instead, we'd store the funds provided in an account we control and 'pay them out' to the bounty when the user desires. This may be a high LOE initiative versus the expected benefit though.

[2019-06-19 19:20] ceresstation commented on #4308
@willsputra this is great!

[2019-06-19 19:21] ceresstation commented on #4044
@PixelantDesign using this issue rather than making a new one for the idea of bounty referrals

[2019-06-19 19:29] ceresstation commented on #4153
Have we considered also allowing users to view bounty hunters they've favourited on their dashboard cc @PixelantDesign?

If I come across an issue with no active applicants it might be nice for me to look through contributors I like and invite them. This could also be done via the bounty page.

[2019-06-20 08:47] #4267 closed

[2019-06-20 09:31] kuhnchris opened #4661 "As a developer or funder, I would not like to have my emails exposed to the world via Gitcoin"
**Describe the bug**
After the recent mailblast actually revealed the mail address of at least 500 contributors against each others (by using the To: field)...
![image](https://user-images.githubusercontent.com/761911/59837988-79b2bd80-934e-11e9-8056-778ed9a5623e.png)
... we do not want to do this.
Some people hide their email addresses on purpose, some people do not want to be in a global mail li

[2019-06-20 13:23] willsputra commented on #4570
@owocki @PixelantDesign something like this?
![Funder Guide](https://user-images.githubusercontent.com/19514207/59852557-3e89ac00-9399-11e9-8461-e79a813d3513.jpg)

[2019-06-20 13:25] #4615 closed

[2019-06-20 13:25] #4617 closed

[2019-06-20 16:14] austintgriffith opened #4663 "Burner Wallet Gitcoin Grant progress bar"
The “progress bar” for the Burner Wallet Gitcoin Grant doesn’t make sense to me.
https://gitcoin.co/grants/20/burner-wallet

![image](https://user-images.githubusercontent.com/2653167/59864508-29366280-9344-11e9-9fab-6a42aac28727.png)

Is it full? Is it empty? Is it broken?

[2019-06-20 17:21] kuhnchris commented on #4663
I guess it's full due to the total funded... was that already a couple of months ago?

[2019-06-20 18:31] frankchen07 opened #4665 "As a Gitcoin User, I'd like Gitcoin to know what my role is (funder/contributor)."
### User Story

As a Gitcoin User, I'd like Gitcoin to know what my role is (funder/contributor).

### Why Is this Needed

Right now, we are not logging new users as contributors or funders, and we can't tailor the flow based on a user's role.

### Description

We want to build this for the primary use case of funders and contributors.

1. if a new user clicks "log in" in the top right hand corner

[2019-06-20 18:41] frankchen07 commented on #4565
combining this ticket with https://github.com/gitcoinco/web/issues/4212

[2019-06-20 18:41] #4565 closed

[2019-06-20 20:10] kuhnchris commented on #4663
Here we got the solution: apparently it's 116.2% fulfilled.
![grafik](https://user-images.githubusercontent.com/761911/59878221-09388a80-93a8-11e9-9f64-790ab989fc5f.png)
it's taking the total funded amount (6974) and divides that by the goal amount (6000).
No CLR or the monthly recurring taking into account.

[2019-06-20 21:21] mul1sh commented on #4178
@owocki @PixelantDesign  so sorry for the long delay on this but i'll stop working on it. The delay is because i've been unable to successfully deploy the gitcoin web app in docker, i'm always getting space errors even though I have adequate space on my end. Anyway hopefully someone picks it up or if its still open once i sort my docker issues i'll pick it up once again.

[2019-06-21 03:16] willsputra commented on #4593
the related ticket: https://github.com/gitcoinco/web/issues/3232

I think there's already a PR on that ticket.

[2019-06-21 03:37] davidkaufman commented on #4562
The sentiment is fair: in business, programmers sign contracts.  Stakeholders have legal remedies available to them if a member of the tech team violates their confidentiality or non-compete clauses.  Their fear is soothed by lawers and law.  But here, on the internet, internationally far-flung developers, hiding behind bright avatars, paid in that slippery cryptocurrency stuff... what's NOT to fe

[2019-06-21 11:00] #4623 closed

[2019-06-21 14:04] octavioamu commented on #4397
I believe the favorite option should be with the others options in the dropdown
![image](https://user-images.githubusercontent.com/1358093/59928071-4a668400-9414-11e9-82d9-51ae45d3c91d.png)

[2019-06-21 17:21] davidkaufman commented on #4620
I am! Sorry for the delay.  Life, you know... busy with the day job :-)
I do plan to tackle unblocking that IPFS  issue this weekend!

Also, I understand that, in theory, a local improvement of 0.3s might translate to a 9s improvement on prod but, in practice that will only work if we are right in our assumptions about the underlying cause of the performance problem.  Without a full dump of the pr

[2019-06-21 17:32] kuhnchris commented on #4599
@PixelantDesign @vs77bb want me to unwork and leave it up to someone else?

[2019-06-21 20:02] vs77bb commented on #4570
Can we add some language about 'Good First Issues' or 'Help Wanted' issues on Github usually being good bounty candidates?

[2019-06-22 02:49] oddballbutler opened #4669 "'manage.py migrate' fails locally"
I'm having problems running migrations locally on docker after pulling latest from Master

Here's the command output:
[code]
I have tried removing all the docker images and containers and starting over, but still no dice.

[2019-06-22 08:16] thelostone-mc commented on #4669
hmm could we try it once again with `docker-compose -v`  followed by `docker-compose up`
I just tested it against `master` and it works fine

[2019-06-22 08:25] thelostone-mc commented on #4590
@rafalkowalski it's merged!
@mkosowsk * drumroll *

we are good for payout ^_^

[2019-06-22 08:25] #4590 closed

[2019-06-22 09:39] PixelantDesign opened #4670 "As a Gitcoin Core, I'd like to understand how funders would perceive/ find value in requiring X number of Github contributions in order to apply to work for an issue on Gitcoin."
### User Story

As a Gitcoin Core, I'd like to understand how funders would perceive/ find value in requiring X number of Github contributions in order to apply for an issue on Gitcoin.

### Why Is this Needed

- Right now, anyone can apply for a task, requiring time for funder to do more homework to understand if a contributor is the right fit.
- Suss out contributors that have not contributed to

[2019-06-22 10:41] kuhnchris commented on #4670
Mmmh it may be a good idea to check if we could approach some regular funders directly, like Bloom's Derik or other poeple who post bounties on a regular basis.

Idea for the proceeding:
- get an basic idea (rating based, star based, 'work'-based, ...) to implement
- implement very rough prototype
- ask people to use it (maybe via a mailblast to funders) and give feedback - maybe give some goodie

[2019-06-22 14:13] #3632 closed

[2019-06-22 14:26] #1876 closed

[2019-06-22 14:33] #3070 closed

[2019-06-22 14:41] #1727 closed

[2019-06-23 01:02] oddballbutler commented on #4669
@thelostone-mc
[code]

[2019-06-23 08:07] thelostone-mc commented on #4669
^my bad `docker-compose down -v` + `docker-compose up`

[2019-06-23 18:59] #4596 closed

[2019-06-23 18:59] #4595 closed

[2019-06-23 23:53] oddballbutler commented on #4669
@thelostone-mc That did the trick! Thanks!

[2019-06-23 23:53] #4669 closed

[2019-06-24 02:18] owocki commented on #4159
i see this was posted as a bounty for the hackathon.  @thelostone-mc @danlipert just maknig sure you guys are CCed on engineering architecture input before anyone starts work!

[2019-06-24 02:50] owocki commented on #4663
looks like it divides the total funding amount by the monthly goal.  it should probably only use the monthly recurring for the percetnage.  i can update the code now if thats what we think is correct @austintgriffith @pixelantdesign

[2019-06-24 07:58] kuhnchris commented on #4663
I think we may need 2 bars - a "total bar" which gets updated per month ((monthly recurring * months running)/total) and a monthly bar (monthly curr / monthly goal).

[2019-06-24 12:11] e18r commented on #4267
@owocki @danlipert @thelostone-mc Please don't forget to mark the issue as "done" on Gitcoin. Thanks.

[2019-06-24 15:48] PixelantDesign commented on #4586
@alexvotofuture could you sync up with @frankchen07 on how you're approaching this?

[2019-06-24 15:52] PixelantDesign commented on #4570
This seems like a different ticket. @octavioamu this was similar to your idea.

[2019-06-24 16:20] acolytec3 commented on #4292
@danlipert Why is the bot spamming this thread? Do I need to submit work on the issue on gitcoin to get it to shut up?  I still need to clean up some of the fixtures and probably add a few more bounties before I think it's really done.

[2019-06-24 16:24] owocki commented on #4570
i think its a good start.  i'll probably want to edit some of hte copy once it's coded up.

one question i have is.. how often do we show this to funders?  many will click past it without reading it.

also.. maybe we should have a spot for a 90 second youtube video here to increase chances of success.  some people will want to watch something instead of read something.  i can record the video.

[2019-06-24 16:29] owocki commented on #4661
@vs77bb can you confirm that you guys will use the BCC field from now on?

[2019-06-24 16:32] owocki commented on #4292
it will follow up every few days when it doesnt see action on the github issue or PR.  can set it to snooze if it's annoying.

[2019-06-24 16:40] acolytec3 commented on #4292
No, it's fine.  I just thought I had missed a step somewhere.  I am really
hoping to get the PR finished up in the next few days.  Off-line life just
keeps getting in the way.

On Mon, Jun 24, 2019, 12:32 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-06-24 16:49] e18r commented on #4267
Thank you. Until next time.

[2019-06-24 17:23] ceresstation commented on #3381
@owocki what does the architecture look like here for this year?

[2019-06-24 17:49] owocki commented on #3381
same as last year, unless we prioritize something different https://github.com/gitcoinco/web/issues/3381#issuecomment-458730399

[2019-06-24 19:02] PixelantDesign opened #4674 "As a funder on the Gitcoin platform, I'd like a central place to check-in to see how my bounties are doing, and know the actions I need to take next."
### User Story

As a funder on the Gitcoin platform, I'd like a central place to check-in to see how my bounties are doing, and know the actions I need to take next.

### Why Is this Needed

No Dashboard APIs in Gitcoin

### Description

_This task is to set up the backend only._

- Set up the dashboard api
- Set up a per-bounty api that gives the applicant details shown In mockup
- Pull in Contri

[2019-06-24 19:20] alexvotofuture opened #4675 "Beyond Blockchain: Link to prize explorer on landing page"
### User Story

As a user I want a button on the Beyond Blockchain landing page that links to the prize explorer so I can see the prizes and start getting involved.

### Description
*Type*: Feature

### Current Behavior
No button

### Expected Behavior
Clickable graphic button that leads to the prize explorer, with button text "View Prizes" as before on the Ethereal Hackathon.

### Definition of D

[2019-06-24 20:39] PixelantDesign opened #4676 "Set up Zen Desk Integration on Funder Form"
### Set up Zen Desk Integration autopopup help in funder form

### Why
No Zen Desk Integration

[2019-06-24 20:45] owocki commented on #4663
im going to remove the bar altogether until someone has the cycles to pick this up. 4eef558431aef2e8b0d1ac7af248f2e441befdb4

i agree that the 2 bar direction could be a fit.

[2019-06-24 21:32] thelostone-mc commented on #4675
Fixed over at https://github.com/gitcoinco/web/pull/4677

[2019-06-24 21:32] #4675 closed

[2019-06-24 22:08] owocki commented on #4620
shoot, i'd love to be able to enable you to do this with a prod dump.. but i just can't take the user data risk here.  i dont have a good mapping of where the PII / private info is in the database unfortunately.  writing a sanitization script is probably another can of worms :/

[2019-06-24 22:31] frankchen07 opened #4679 "As a Gitcoin funder, I have no agency in determining the quality of the contributor that decides to hop onto my issue, I'm essentially relying on Gitcoin to hopefully provide me a great contributor."
### User Story

As a Gitcoin funder, I have no agency in determining the quality of the contributor that decides to hop onto my issue, I'm essentially relying on Gitcoin to hopefully provide me a great contributor.

### Why Is this Needed

This ticket is drawing attention to disrupting the one-sideness of the Gitcoin-funder relationship. How can Gitcoin better equip the funder with skillz and tool

[2019-06-24 22:54] kuhnchris commented on #4663
Well, a bar isn't that big of a problem, but rather the rules:
Is the CLR already in the total funded? Do we need to add it extra? Do we need to spit it on monthly payments? Or do we simply add 2 bars ála:
Bar 1: After "goal" as previously, calculated as: This Monthly Recurring divided by this month's goal.
Bar 2: After CLR (if avail), Total Funded + CLR devided by Monthly Goal * months(today-gran

[2019-06-24 23:55] frankchen07 commented on #4573
so from a data perspective, my concern is that every time a funder updates the bounty, we lose out on information on what happened before, since the model "updates" and overwrites the previous action.

if a bounty is done, we won't have information on what/when it was submitted/started, etc

[2019-06-25 04:25] PixelantDesign opened #4680 "As a Gitcoin operator we should let funders know on the frontend that when using advanced payout, those funds will be returned to sender."
**Describe the bug**
As a Gitcoin operator we should let funders know on the frontend that when using advanced payout, those funds will be returned to sender.

See PR https://github.com/gitcoinco/web/pull/4673

**Expected behavior**
Notify users of the behavior

crowdfunded amount will be returned to respective funders if the original funder uses the advanced payout

**Definition of Done**
- [ ] I

[2019-06-25 05:10] PixelantDesign opened #4681 "As a funder, I'd like to be notified via email of relevant actions to take on Gitcoin so that I have successful bounty experience."
### User Story

As Gitcoin operators, we'd like to think through an email experience that leads to the funder dashboard.

As a funder, I'd like to be notified of relevant actions so that I have successful bounty experience.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-06-25 07:33] kuhnchris commented on #4573
Hence my example with simple-history, to keep the history of the bounty at least persistent on the system, also for possible intrudor check or manipulation checks, if those are required by legal (since we are handling finance)

[2019-06-25 08:14] logeekal commented on #4521
Hey guys,

First time contributor, correct me if i am wrong anywhere. I am starting to look into this.

Cheers.

[2019-06-25 08:49] thelostone-mc commented on #4680
^crowdfunded amount will be returned to respective funders if the original funder uses the advanced payout

[2019-06-25 14:29] willsputra commented on #4665
@PixelantDesign something like this?
![Contributor Funder Prompt](https://user-images.githubusercontent.com/19514207/60107015-59d92a80-9790-11e9-89c9-32ea7821f963.jpg)

[2019-06-25 14:37] lrettig commented on #4362
Ping here - would it be possible to get access to this data? Thanks!

[2019-06-25 14:52] owocki commented on #4362
thx for the dump!

heres the output of the following query
[code]
http://bits.owocki.com/f5cbf7bb26e6/foo.csv

[2019-06-25 14:58] owocki commented on #4674
latest design => https://consensys.invisionapp.com/share/NYSOGHX2D8R#/screens/370588236_Funder_Dashboard_Spec

[2019-06-25 15:04] #4413 closed

[2019-06-25 15:12] lrettig commented on #4362
Thanks - what's the mapping of fields to columns here? I can't work it out
from the raw data.

On Tue, 25 Jun 2019 at 16:54, Kevin Owocki <notifications@github.com> wrote:

[2019-06-25 15:51] wschwab commented on #4362
I don't think this is the right data. For instance, there's no True/False column for success, nothing that resembles a tx hash, either, and no token symbol. Can you check this again please?

[2019-06-25 17:38] owocki commented on #4362
sorry guys, uploaded the wrong file.  this is the correct data: http://bits.owocki.com/19800a5b618e/Untitled.csv

columns are:
[code]

[2019-06-25 17:43] owocki commented on #4676
interesting... we should perhaps deprecate `gitcoin.co/help` and migrate the content over to zendesk at some point, to make it more findable

[2019-06-25 18:01] frankchen07 opened #4686 "As a Gitcoin operator, once we know the designation of our users, this data needs to be relayed to mailchimp"
### User Story

As a Gitcoin operator, once we know the designation of our users, this data needs to be relayed to mailchimp.

### Why Is this Needed

As described on this ticket: https://github.com/gitcoinco/web/issues/4665 we'll be collecting designations of our users upon log-in if they currently have not been identified.

Dan's previous work on importing designations for data SQL queries also

[2019-06-25 18:59] Solexplorer opened #4687 "I see that I have completed the bounty but I can't find anything in my address"
**Describe the bug**

I've submitted a work for a bounty( [Arweave](https://gitcoin.co/issue/ArweaveTeam/Bounties/1/3152), I see in my profile that I've completed the bounty but I didn't receive the tip in my Account.
![image](https://user-images.githubusercontent.com/50027175/60125188-92c2d080-978b-11e9-9f74-e2b5005577ab.png)
Another weird thing is that the Gitcoin Bot didn't add my name [here](h

[2019-06-25 19:06] owocki commented on #4687
hmmm looks to me that you've submitted work, but haven't been paid yet.

@danlipert @octavioamu @thelostone-mc looking at the code, i think we need to edit the stats up top to only show `accepted=True` fulfillments

[2019-06-25 19:16] Solexplorer commented on #4687
Perfect @owocki.

Thanks!

[2019-06-25 19:16] #4687 closed

[2019-06-25 19:35] rafalkowalski commented on #4544
@gitcoinbot I'm still waiting for the review

[2019-06-26 00:34] debragail commented on #4521
This is an ongoing issue.  I'd be happy to test.  Basically tag for x[started] shows cancelled and work done bugs.  perhaps therein lies the issue?

[2019-06-26 04:18] logeekal commented on #4521
Thanks for inputs. It helps since i am trying to understand the stack. I may have some update next week.

I will let you know.

[2019-06-26 07:58] kuhnchris commented on #4676
OK, could you (@owocki ) and @PixelantDesign please sit together for an hour and discuss this? We already did exactly that. Please align each other with the current direction regarding this. Thanks.

[2019-06-26 08:09] kuhnchris opened #4691 "If a grant gets a contribution, you get two mails"
**Describe the bug**
When someone contributes to your grant you get 2 mails

**To Reproduce**
Get contributed at

**Expected behavior**
One mail

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/60162793-832ea080-97fa-11e9-8acc-2c5919bbcf13.png)

[2019-06-26 09:13] evexoio opened #4692 "search filter returning false results"
**Describe the bug**
Searching for issues with "open" as status using the search filter returns results with expired as status as well.

**To Reproduce**
`goto` https://gitcoin.co/explorer?network=mainnet&idx_status=open&keywords=rails&order_by=web3_created
1st result was of "expired" status.

**Expected behavior**
Only issues that has not yet expired should be returned as results.

**Screenshots*

[2019-06-26 12:56] owocki commented on #4692
Expired issues can still be open. That’s why this performs like this.  You
can still work on issues after expiration

On Wed, Jun 26, 2019 at 3:13 AM 42424242 <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photogr

[2019-06-26 16:23] owocki commented on #4676
thanks.. great to know it's in flight :)

[2019-06-26 16:35] owocki commented on #4159
@vs77bb i see that you made this part of the BB hackathon.  do we have any further advice for hackathon participants?  i think that having a dev team up with a designer might be super powerful for this.

[2019-06-26 16:41] usmanmuhd commented on #4159
The flow I was thinking of is:
1. Every user has an hourly rate.
2. They apply to work on a bounty.
3. Any negotiations happen between the funder and hunter.
4. Funder allocates a block of hours.
5. Work done.
6. Advanced payout.

If work is not done after 4.:
If the hours are exceeding the expectations then we have a negotiation window between the funder and hunter.
If there is no progress then k

[2019-06-26 17:32] octavioamu opened #4695 "Bounty request if nothing is found"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a contributor using the explorer if nothing is found the "nothing found" message should have a link to https://gitcoin.co/requests
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happe

[2019-06-26 19:31] logeekal commented on #4521
I need one clarification here.

You are talking about the results that come up on the default search that happens when someone opens https://gitcoin.co/explorer?network=mainnet&order_by=-web3_created
for the first time. Because if specially filter on a particular status, it is all working fine. ( see Screenshot below )

![image](https://user-images.githubusercontent.com/7485038/60208810-d7776600-9

[2019-06-26 20:13] rafalkowalski commented on #4695
@octavioamu I can work on this issue

[2019-06-27 00:51] evexoio commented on #4692
@owocki I see, thanks for clarification :)

[2019-06-27 01:14] owocki commented on #4692
i think that its not super clear in the UI.  probably something we can do to make it more clear !

[2019-06-27 02:26] thelostone-mc commented on #4692
@owocki @PixelantDesign / @frankchen07
I'd reckon we evaluate keeping bounties open indefinitely.
We pass the max value for the expiry date.

I believe it adds an extra layer of friction.

Perks:
- No bounties stuck in an expired state (aka which are open but can't be worked upon)
- If funder truly wants their bounty to be expired -> they'd want to cancel the bounty.
- If needed -> we could change

[2019-06-27 03:09] thelostone-mc commented on #4159
@usmanmuhd

- would the negotiations happen on gitcoin /outside?
-  funder allocated block of hours ? the time to be spent on the task is usually filled during bounty creation. At what point would this happen?  Also if additional funds are needed -> how would that be added to the bounty ? (via tip / crowdfund? )

[2019-06-27 03:16] usmanmuhd commented on #4159
We can have a basic chat feature which will allow them to negotiate on gitcoin.

Funder has an expected time and the hunter might have another expected time. Sometimes the hunter thinks that the task needs more time and he can ask the funder for that. Funder decides as deemed fit. This can change at a later stage if both are in agreement.

I hadn't thought about the crowdfund option, but now you h

[2019-06-27 07:05] dvdplm opened #4701 "Reward redemption stuck – Gas price of 1 wei"
I redeemed a tip on the website and the transaction is stuck. The gasprice for the tx is set to 1 Wei which is very low.

The tx on etherscan: https://etherscan.io/tx/0xbdf60e85414898666ec7227a9f4acd42121140c9b2cb967ece9381a7b156df9c

The issue on gitcoin.co: https://gitcoin.co/issue/paritytech/parity-ethereum/10085/2542

The original issue on github: https://github.com/paritytech/parity-ethereum/

[2019-06-27 11:22] PixelantDesign commented on #4674
[See the Latest design ](https://consensys.invisionapp.com/share/NYSOGHX2D8R#/371051245_Dashboard_-1-)

[2019-06-27 12:04] logeekal commented on #4521
@PixelantDesign/ @thelostone-mc / @frankchen07

Any thoughts on above. I just read in bug #4692 that expired bounties are open for work as well.

So i need input on experts like you on how it should be. by default search happens on **any** status.

From UX perspective, we should exclude only Cancelled from the list, right?

Also, what was the rational for keeping Status and Radio not checkbox? I a

[2019-06-27 13:04] PixelantDesign commented on #4153
Good idea! @ceresstation we could put it in as a concept to test.

[2019-06-27 13:13] PixelantDesign opened #4703 "As a funder on the Gitcoin platform, I'd like a no data state to so that I understand the value of the dashboard even though I haven't funded any bounties."
### User Story

As a funder on the Gitcoin platform, I'd like a no data state to so that I understand the value of funding an issue/gitcoin even though I haven't funded any bounties.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Introduce funders

[2019-06-27 15:46] owocki commented on #4701
@dvdplm it will definitely clear once gas prices come back down.

if there is urgency around getting this DAI to you soon,  i can take a look at how we can re-issue the transaction claiming tx with a the same nonce but a higher gas price.

[2019-06-27 16:04] #4500 closed

[2019-06-27 16:04] #4624 closed

[2019-06-27 16:15] dvdplm commented on #4701
There is no rush so let's wait a few days more and see. I was mostly worried about the tx getting stuck indefinitely.

[2019-06-27 17:38] owocki commented on #4483
@thedatadesigner the /creative repo ( https://github.com/gitcoinco/creative/tree/master/Marketing/Art/Robots/robot_kudos/gitcoIn_bots ) has all the bots that have been done before.  why dont you come up with a list of 2-3 bots you want to do and ill 👍 them before you start?

[2019-06-27 17:51] owocki commented on #4701
dont be :) we can submit a 2nd tx if it ever was !

On Thu, Jun 27, 2019 at 10:15 AM David <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owo

[2019-06-28 05:07] octavioamu opened #4706 "Favorites REST API (just Backend)"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to be able to favorite bounties, kudos, users and grants to follow what interest me
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Today is hard to tr

[2019-06-28 05:21] usmanmuhd commented on #4706
@octavioamu I'm interested in this one.

[2019-06-28 05:37] octavioamu opened #4707 "Organisations directory"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to have separated tabs in user directory to be able to see just organisations.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
**NEED DESIGN FIRST**
D

[2019-06-28 11:58] #4599 closed

[2019-06-28 12:50] danlipert opened #4709 "Old grants migration did not run"
**Describe the bug**
During the most recent deploy, a migration for PR https://github.com/gitcoinco/web/pull/4317 threw exceptions because the profile model contained fields that were not yet migrated. This is because the migrations access the profile objects directly, and so when the code tries to run, it sees the database schema does not match the expected model and fails.

**To Reproduce**
Run

[2019-06-28 13:14] #2764 closed

[2019-06-28 13:57] octavioamu commented on #4397
Related to #4706 a ticket to do the backend

[2019-06-28 16:16] owocki commented on #4620
@davidkaufman what do you think here?

[2019-06-28 16:22] owocki opened #4710 "gitcoin grant contribution fails"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-06-28 16:55] owocki commented on #4709
https://gist.github.com/owocki/4dbc1d2aee2e91c497aca4e398b0bdef

@danlipert hows this look?  i just took the mgmt command and made it into something we can paste into `./manage.py shell`.

[2019-06-28 17:21] kuhnchris commented on #4709
How about we squash the migrations again, so we would not need to do this? every step additionally to the one-step process would cause issues for devs and testers...

[2019-06-28 17:34] frankchen07 commented on #4562
great read @davidkaufman - with some modifications, this would be a fun blog post!

reputation is definitely a strong consideration - doing bounties being the primary example of on-chain social proof (you did work, it's forever on the chain, and you got payment from it). Other things like star ratings, comments, and average stats can be obtained off-chain, but certainly in the future if and when i

[2019-06-28 18:17] kuhnchris commented on #4710
Uhhh I GUESS this is a side effect occouring in /activities aswell:
![grafik](https://user-images.githubusercontent.com/761911/60362633-bda66200-99e1-11e9-8db6-1665992ae8ed.png)

[2019-06-28 18:20] kuhnchris opened #4711 "Grants Display not optimized for mobile"
I use the term "optimized" pretty loosely, so take a look:
![grafik](https://user-images.githubusercontent.com/761911/60362807-242b8000-99e2-11e9-82e6-55ced30438a4.png)

[2019-06-28 18:28] owocki commented on #4710
the dash (or negative) on the /activites?

[2019-06-28 19:43] octavioamu opened #4712 "Popover profile failing"
**Describe the bug**

Popover profile in this bounty is failing for rafalkowalski because `total_earned.toFixed` since total_earned is not a Number
https://gitcoin.co/issue/gitcoinco/web/4695/3192
![image](https://user-images.githubusercontent.com/1358093/60367104-c2f4b400-99c3-11e9-9a09-a5d3520d7650.png)

**To Reproduce**

Go to https://gitcoin.co/issue/gitcoinco/web/4695/3192 open console and ho

[2019-06-28 20:07] octavioamu opened #4714 "'Currently working' showing wrong data in profiles"
**Describe the bug**

"currently working" is not showing the right data, is showing bounties people applied to work but wasn't approved yet.
![image](https://user-images.githubusercontent.com/1358093/60368001-1962f200-99c6-11e9-83ab-8226107216f1.png)

**To Reproduce**

Go to https://gitcoin.co/profile/davidkaufman
click "currently working" tab and you will see 2 times "Bounty Request If Nothing Is

[2019-06-28 21:40] davidkaufman commented on #4714
FYI: This bug also affected me today when I tried to apply to work on an issue.  After pressing the "Express Interest" button on a new bounty, it gave me the error "Sorry. You can only WORK ON 3 bounties at a time" but, while I had expressed interest in 3 bounties, i have only been *approved* to work on one.  So I had to go into one of the others I had expressed interest in, and press the "Stop Wo

[2019-06-28 21:49] rafalkowalski opened #4715 "Add missing tokens in bounty explorer"
### User Story
As a hunter I would like to see all missing tokens in bounty explorer.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
To be consistent with current profile behaviour
![image](https://user-images.githubusercontent.com/2479753/60373308

[2019-06-28 22:27] octavioamu commented on #4715
There use to be showed in the explorer with a small dropdown 🤔
cc: @PixelantDesign

[2019-06-29 09:22] kuhnchris commented on #4710
yes + broken action item on the right + the weird conversion rate of -1 DAI = 1 USD

[2019-06-29 12:30] #4712 closed

[2019-06-29 15:39] octavioamu commented on #4706
@iamonuwa @man-jain I had approved @usmanmuhd since we already discussed the implementation in slack and he is working on it since yesterday.
Thanks for your interest, I will try to bounty another stuff the next days.

[2019-06-29 15:48] Man-Jain commented on #4706
@octavioamu No problem :smile:

[2019-06-29 19:38] Man-Jain commented on #4714
Hey, I am trying to solve this issue so I tried reproducing it in my local gitcoin deployment. But there it is working as intended and I am not able to reproduce it. Is there anything else going on in the backend which is making this error.

[2019-06-29 22:05] kuhnchris opened #4718 "Kudos API unavailable"
**Describe the bug**
API for Kudos is not working

**To Reproduce**
Check: https://gitcoin.co/api/v0.1/kudos/

**Expected behavior**
Working API

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/60389890-ca52b500-9aca-11e9-8282-8f0e352f1ca1.png)

[2019-06-30 07:00] frankchen07 commented on #4692
agree that it's not entirely clear that expired issues can't be worked on

two solutions exist in my head

1. my feeling is that simpler is better - open indefinitely is a solution that fits that criteria. If the funder decides they don't need it anymore, it's their responsibility to cancel it.

2. funders set an expiry date, after that expiry date the issue will be "expired" and removed from the

[2019-06-30 17:02] danlipert commented on #4710
@owocki - what address were you using to make the contribution? Also, you say that it asked you to do two `approve` transactions - not one `approve` and then the splitter contract call? Can you paste the txids of the transactions from your metamask?

[2019-07-01 01:53] thelostone-mc commented on #4692
@frankchen07 Ah the second one makes sense but the only issue is that the fund will be in limbo (aka with the contract :P

but going either way -> would create less confusion for the bounty hunter as this pops up every now and then and creates an issue as the funder has to extend the expiration  (which causes more friction for the bounty hunter )

If we could get the folks to weigh on this -> we c

[2019-07-01 08:07] #4626 closed

[2019-07-01 14:09] PixelantDesign opened #4722 "Invite Gitcoiner Improvements - User Directory"
### What

<img width="1778" alt="Screen Shot 2019-07-01 at 9 50 42 AM" src="https://user-images.githubusercontent.com/238235/60442988-3b3bbf00-9be8-11e9-9051-98b4ac28a9cc.png">

<img width="1778" alt="Screen Shot 2019-07-01 at 9 50 20 AM" src="https://user-images.githubusercontent.com/238235/60442982-38d96500-9be8-11e9-8164-2ebd224ac673.png">

### Next Iteration

On this screen - it'd be great to

[2019-07-01 14:45] danlipert commented on #4709
Nice! Thanks for this!

[2019-07-01 15:33] frankchen07 opened #4724 "As a Gitcoin operator, I'd like to know how the new and legacy grant experiments are going"
### User Story

As a Gitcoin operator, I'd like to know how the new and legacy grant experiments are going

### Why Is this Needed

Get data to figure out how the grant experiments are doing

### Description

vital information necessary:

[code]

on legacy and new grant donations

### Current Behavior

no data in our db on how it's performing

### Expected Behavior

run analyses on aggregate grant

[2019-07-01 15:49] PixelantDesign commented on #4511
Dependent upon #4665

[2019-07-01 16:31] owocki commented on #4714
@davidkaufman i just updated your max number of concurrent issues to 6 instead of 3.

@Man-Jain to reproduce it, try setting an 'approval required' bounty and applying to it.  you need to have a bounty where the pending=1

[2019-07-01 17:05] willsputra commented on #4665
@octavioamu @PixelantDesign sketch file
https://github.com/willsputra/creative/blob/97080a24c0cb927c5ee009b3fb33498504582e15/Product/Contributor%20Funder%20Role%20Prompt/Contributor%20Funder%20Role%20Prompt.sketch

[2019-07-01 17:28] frankchen07 commented on #4679
repeat ideas on the product sheet, closing

[2019-07-01 17:28] #4679 closed

[2019-07-01 19:43] owocki commented on #4620
@davidkaufman i'm going to remove you from the task.  feel free to re-start-work if you change your mind.

[2019-07-01 19:46] owocki commented on #4710
from addr: 0x00De4B13153673BCAE2616b67bf822500d325Fc3 ,

txids: https://etherscan.io/tx/0xc2902e551722c6a3e090d85f5cc14653adf8f1633d2df5ad297f54531db1e697
https://etherscan.io/tx/0x98e2083c991c3d0fe5e2fc3ade5492bbeb4726c4971f0668b705efc38f4328f7

hmmm.. i can't recall if metamask said both were `approve` or if one said "contract interaction" and i just through it was an approve.d  i guess youre sa

[2019-07-01 19:51] owocki commented on #4709
ok cool so i can run those commands now @danlipert ?

@kuhnchris we could just disable this migration for local environments..

[2019-07-02 12:11] danlipert commented on #4709
@owocki go for it and let me know how it goes - if you don't have time I can run it, just let me know. @kuhnchris The migration is now disabled in master

[2019-07-02 12:13] danlipert commented on #4710
Yup the splitter an `approve` call first and then the splitter contract is called which uses 2x `transferFrom` calls.

[2019-07-02 14:24] owocki commented on #4709
go for it! i tested on my local and it looked ok. 🤞

[2019-07-02 17:00] rafalkowalski opened #4730 "Wrong COD value displays in bounty explorer"
**Describe the bug**
The value of COD in bounties explorer is unreadable for user

**To Reproduce**
I've fetched data using below command:
```docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999 in local environment```

**Expected behavior**
The float value should be visible instead of 1e-14

**Screenshots**
![image](https://user-images.githubusercontent.com/2479753/6053

[2019-07-02 20:23] jacob-eliosoff opened #4731 "My recurring grant is in a weird uncancellable state"
The grant is for Austin Griffith, https://gitcoin.co/grants/122/austin-griffith-ethereum-rampd, for 100 DAI per month under my name, jacob-eliosoff.  I had trouble setting it up, accidentally created two, tried to cancel one, had further trouble, and now one is listed as inactive and the other (https://etherscan.io/tx/0x0c479ae6b11c38787db5b95cc47b2d30718d1d17207e49cabe35c28b34d05e02) is active bu

[2019-07-03 06:30] PumpkingWok commented on #2195
HI there ! Any news on it ? My leaderboard position is still wrong.
Apart from this, in my profile i can not see my github organizations. Do i need to import it in some way ? Thanks in advance !!

[2019-07-03 09:55] danlipert commented on #4709
Great - will roll it out today!

[2019-07-03 12:59] #4504 closed

[2019-07-03 13:05] #4398 closed

[2019-07-03 13:08] owocki commented on #2195
can you open up another ticket about your expectations about github organizations..?

note that the leaderboard only tracks work done in the last quarter.

[2019-07-03 14:42] MaxStalker commented on #4714
Have exactly the same issue here:
![gitcoin-currently-working](https://user-images.githubusercontent.com/3136647/60600964-e0f25800-9db9-11e9-9dff-7444c325db74.jpg)

To reporduce - go to my profile page: https://gitcoin.co/profile/maxstalker

[2019-07-03 14:50] PumpkingWok commented on #2195
Hi @owocki ,

Thank you very much for the reply, I did not know that the leaderboard keeps track only from last quarter. perfect, so my position should be correct.
I'm going to open a new issue regard the github organizations, thanks again.

[2019-07-03 16:01] #3751 closed

[2019-07-03 16:01] #4190 closed

[2019-07-03 16:02] #4208 closed

[2019-07-03 16:02] #4270 closed

[2019-07-03 16:05] PixelantDesign commented on #4731
Thanks for the report @jacob-eliosoff! Looking into this.

[2019-07-03 16:31] willsputra commented on #4570
@PixelantDesign @octavioamu @owocki  shorter version
![Funder Guide](https://user-images.githubusercontent.com/19514207/60608856-9d641200-9dea-11e9-8c62-33ea0bdd7b65.jpg)

[2019-07-03 17:34] owocki commented on #4731
looks like the active subs isnt billing because this tx ( https://etherscan.io/tx/0x0c479ae6b11c38787db5b95cc47b2d30718d1d17207e49cabe35c28b34d05e02 ) was dropped and replaced.  we dont have automatic handling of this situation yet in the codebase... so i went in and told the sytsem that tx 0x6695db1a720f4c1a99fe520dca52f503547b6f7cde746ca9d4e1ce18ce72da6e (the replacement tx) had mined.  it will

[2019-07-03 19:47] owocki commented on #4433
i put a fix in for this a couple weeks ago :)

[2019-07-03 19:47] #4433 closed

[2019-07-04 03:29] SBhojani opened #4733 "Ability to subscribe to issues"
### User Story

As a bounty hunter, I want to be notified (via email) when an issue's status (like availability) changes so that I can timely respond to such events like apply to an issue that just got abandoned by the last hunter it was assigned to.

### Why Is this Needed

As an example, I am currently interested in working on https://gitcoin.co/issue/gitcoinco/web/4706/3193 but it is currently

[2019-07-04 11:55] danlipert commented on #4724
@frankchen07 When you say "grant donations" - are you talking about the optional donations (5%, 10%, etc.) that are being sent to us? Or is this additional information for the main grant subscriptions?

[2019-07-04 14:40] thelostone-mc opened #4740 "update : django version 2.2.3"
##### Description

We've got a vulnerability report over at https://github.com/gitcoinco/web/network/alert/requirements/base.txt/django/open

- [x] upgrade django to 2.2.3
- [x] ensure app still works as expected

[2019-07-05 14:27] PixelantDesign commented on #4733
Hi @SBhojani thanks for the request!

[2019-07-05 14:35] #3022 closed

[2019-07-05 14:37] PixelantDesign opened #4744 "Allow Ability to Resurface Bounties to the Top When Expiration Date is Extended"
### User Story

As a Gitcoin Admin, I'd like the ability for issues I've re-marketed to surface to the top of the issue explorer as a newly opened issue.

As a Contributor, I'd like to see re-marketed issues at the top of the issue explorer so I'll know that it is open and available to be worked on.

### What
When an issue is remarketed, it should surface to the top of the issue explorer and show

[2019-07-05 14:41] PixelantDesign opened #4745 "Allow Ability to Resurface Bounties to the Top When Bounty has been Abandoned"
### Who

### User Story

As a Funder, I'd like the ability for issues I've re-marketed to surface to the top of the issue explorer as a newly opened issue.

As a Contributor, I'd like to see re-marketed issues at the top of the issue explorer so I'll know that it is open and available to be worked on.

### What
When an issue is remarketed, it should surface to the top of the issue explorer and sho

[2019-07-05 15:02] PixelantDesign commented on #4730
@rafalkowalski this is a won't fix according to Dan since COD is a test token. Thanks for the report though!

[2019-07-05 15:02] #4730 closed

[2019-07-05 15:30] willsputra commented on #4703
Thoughts?
![Dashboard-No Data](https://user-images.githubusercontent.com/19514207/60732503-6457a900-9f74-11e9-9b4a-72359c31fb9a.jpg)

[2019-07-05 17:16] Benefx opened #4746 "Gitcoin Issue funding timeout"
Hello,

I recently began the process of funding an issue on Gitcoin. For whatever reason the initial transaction (10%) did not have any gas so never completed, holding back the transaction of 1.5ETH funding the issue.

By the time I realised this, the message on the Gitcoin page saying effectively 'Transaction in process - you can close this page' disappeared, however, I had toped up the gas on th

[2019-07-05 17:30] owocki commented on #4746
got a txid i can checkout?

i wonder if this is related to https://github.com/MetaMask/metamask-extension/issues/6772

[2019-07-05 17:55] Benefx commented on #4746
I feel like it could be - MM has generally been playing up for me today.

Here's the transaction for the 10% fee amount: https://etherscan.io/tx/0xbaea31a12eb409c98f98780dacbdc954b829c5c413b91dd31f2cff0d4adc591f

And here's the failed transaction for the funding amount: https://etherscan.io/tx/0x9590b351ec337f8ef5e3185d86cc94c4ca4dfb3d0e50d4b13c4477053f457732 (I went on to cancel this: https://eth

[2019-07-05 21:11] #2301 closed

[2019-07-07 15:21] kuhnchris opened #4748 ""Send kudos" complains about wrong network when coming from details"
**Describe the bug**
"Send Kudos" tells me I'm on the wrong net, despite being on the correct net.
Error disappears if you reload page

**To Reproduce**
Go to https://gitcoin.co/kudos/4027/summer_beach_bot
Click Send Kudos
Click on the Kudos
Click on Send Kudos

**Expected behavior**
No error

**Screenshots**
![aaaaaah](https://user-images.githubusercontent.com/761911/60770504-93d4f580-a0db-11e9-9

[2019-07-08 04:21] frankchen07 commented on #4724
@danlipert

thanks for the clarifying question. I'm talking about the optional donations sent to us for both the new grants created (first solution), and the legacy grants (second add on solution)

[2019-07-08 11:04] Benefx commented on #4746
Hey @owocki - wondering if there was any update on this?

[2019-07-08 11:34] Benefx commented on #4746
I've created the bounty from the beginning again as we had to get it out but I am wondering if/how I can go about either utilising or getting a refund on the 0.15 ETH I paid? Thanks!

[2019-07-08 15:12] danlipert commented on #4442
Fixed! ipfs.gitcoin.co now works 👍

[2019-07-08 15:12] #4442 closed

[2019-07-08 16:33] owocki commented on #4746
@Benefx heres a refudn tx => 0xf54c157cfd41cb4ac15485de4ebfe14a9511de3db06a45a9db88fc001d0dd295

thanks for your patience

[2019-07-08 16:44] Benefx commented on #4746
Awesome and no problem - thanks a lot for your help

[2019-07-08 16:46] owocki commented on #4748
hmm i dont seem to be able to reproduce.  if i had to hazard a guess, i think its probably
1. metamask is locked
OR
2. theres some sort of race condition in the code.

[2019-07-08 16:47] owocki commented on #4483
closing this bounty out.  i will re-open a Autumn version of this bounty soon, (and may open up an extra special one this week too)

[2019-07-08 16:47] #4483 closed

[2019-07-08 16:47] owocki commented on #4483
i think ive paid everyone out but if not pls bump your message to me :)

[2019-07-08 16:49] #4746 closed

[2019-07-08 18:23] kuhnchris commented on #4748
Metamask is and was unlocked.
I thought i may be connected to clicking "Send Kudos" before the price value (0.02 ETH) has loaded, but was proven wrong.
I can keep reproducing it when I come from Send (without an ID), to a kudos, to send kudos, back to the kudos, back to send kudos.

[2019-07-08 18:31] frankchen07 opened #4753 "15-20% hackathon triage and help placeholder"
### User Story

15-20% hackathon triage and help placeholder

### Why Is this Needed

hackathon support

### Description

as we're going through hackathon season, we'll need time and effort for bugs, triage, and requests that come up

[2019-07-08 18:32] PixelantDesign opened #4754 "Build Dashboard Front-End"
### User Story

As a funder on the Gitcoin platform, I'd like a central place to check-in to see how my bounties are doing, and know the actions I need to take next.

### Why Is this Needed

No Dashboard in Gitcoin

### Description

_This task is to set up the front end of backend work created on sprint 13._

- Use information from per-bounty api that to show applicant details shown In mockup
- Di

[2019-07-08 18:40] frankchen07 opened #4755 "As a Gitcoin operator, how do we direct funders to the funder dashboard?"
### User Story

As a Gitcoin operator, how do we direct funders to the funder dashboard?

### Why Is this Needed

We need to take inventory of our current emails and possibly design a new email experience that guides funders to the modules and features of the funder dashboard. This basically is designing an email that introduces the funder to the various features and how to use them on the new fun

[2019-07-08 20:22] frankchen07 opened #4756 "WORKSHOP - As a Gitcoin funder, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tied to a specific funder's account."
### User Story

WORKSHOP - As a Gitcoin funder, colleagues from my organization cannot easily manage and payout bounties within the same organization, as payout and funder actions are tied to a specific funder's account.

### Why Is this Needed

We've heard and received multiple pieces of funder feedback requesting an organizations / multi-signature functionality in order to overcome the single-sp

[2019-07-09 04:12] PixelantDesign opened #4757 "As a Funder I'd like to have an easy hackathon fund issue form so that I can quickly fund my bounty."
### User Story

 As a Funder I'd like to have an easy hackathon fund issue form so that I can quickly fund my bounty.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Only range of dates by week, month, year are allowed now.

### Description

[commen

[2019-07-09 13:37] PixelantDesign opened #4758 "Add H1 to Issue Explorer for SEO"
### User Story
As a Gitcoin operator, I want to add an H1 to Issue Explorer for SEO, so that our site can rank high when users search these terms in order to bring in more traffic (contributors and funders).

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-07-09 13:59] PixelantDesign commented on #4745
Reserved for @rafalkowalski

[2019-07-09 14:00] PixelantDesign commented on #4744
Reserved for @rafalkowalski

[2019-07-09 14:27] PixelantDesign commented on #4165
<img width="467" alt="Screen Shot 2019-07-09 at 10 24 46 AM" src="https://user-images.githubusercontent.com/238235/60896326-25f01180-a234-11e9-85f5-a69af995961c.png">

<img width="881" alt="Screen Shot 2019-07-08 at 9 38 12 PM" src="https://user-images.githubusercontent.com/238235/60896314-1ec90380-a234-11e9-98cf-e43a12581ff2.png">

[2019-07-09 15:16] willsputra commented on #4754
![Dashboard-Expanded](https://user-images.githubusercontent.com/19514207/60900893-2d94d200-a297-11e9-9ed3-b889b5a7b919.jpg)

[2019-07-09 15:48] PixelantDesign commented on #4165
**Near Term Fix**

1. Message that you cant use crowdfunding on advanced payout (issue details).
2. Message in advanced payout that funds will be returned to the sender.

**Long Term Fix**
1. Re-Architect

[2019-07-09 15:53] PixelantDesign commented on #4756
V1 - Set up user management - pilot test
V2 - Org management, team member

[2019-07-09 16:38] willsputra commented on #4754
Sketch file:
https://github.com/gitcoinco/creative/blob/c3eef82d6dbfae4acc5372c33daf194d881901d9/Product/Dashboard/Funder%20Dashboard.sketch

[2019-07-09 19:14] davidkaufman commented on #4620
Glad I could help! :-)

[2019-07-09 20:54] frankchen07 opened #4764 "as a gitcoin hackathon sponsor, I want editable issue explorer header and logos"
### User Story

as a gitcoin hackathon sponsor, I want editable issue explorer header and logos

### Why Is this Needed

sponsor needs / requirements

### Description

This is feedback for functionality on the issue explorer necessary for hackathons and future scaling of hackathons.

### Current Behavior

non-editable issue explorer header and logos

### Expected Behavior

editable and extensible

[2019-07-09 20:55] njmurarka opened #4765 "Trying to fund with ERC20 token but failing"
I am having trouble funding a new bounty with BLZ token. This token was approved in the last 24 hrs by the administrators as it was not listed as an available ERC20 token before. Now, it does appear as an option.

I also went through the step of "approving" this token on my own account on GitCoin, so that I can use it to fund a bounty. I assume this is necessary. It cost me some gas to do so -- no

[2019-07-09 21:02] frankchen07 opened #4766 "as a gitcoin funder, I want enhanced user management options for my bounties - ensure no issues for users with same address in database"
### User Story

as a gitcoin funder, I want enhanced user management options for my bounties - ensure no issues for users with same address in database

### Why Is this Needed

as requested through multiple funder interviews and requests

### Description

parent ticket: https://github.com/gitcoinco/web/issues/4756

current implementation steps: ensure no issues for users with same address in datab

[2019-07-09 21:02] frankchen07 opened #4767 "as a gitcoin funder, I want enhanced user management options for my bounties - educate and frame to user on how to set up metamask to have same private key"
### User Story

as a gitcoin funder, I want enhanced user management options for my bounties - educate and frame to user on how to set up metamask to have same private key

### Why Is this Needed

users need to be in tune with how to setup an account that helps themselves and their workflow. let's set them up for success

### Description

parent ticket: https://github.com/gitcoinco/web/issues/4756

[2019-07-09 21:08] kuhnchris commented on #4765
Hi there.

This is weird, the TX that fails is the standard bounty contract - which is weird by itself.
Additionally I tried to check the metadata of your bounty...
![grafik](https://user-images.githubusercontent.com/761911/60923065-684e3880-a29e-11e9-88d4-05e511b1de08.png)
But I cannot access the IPFS link. I'm pinging the higherups, there may be something going on.

I'll try to keep you posted o

[2019-07-09 21:08] frankchen07 opened #4768 "as a gitcoin operator, let's metabase box upgrade so metabase runs well"
### User Story

as a gitcoin operator, let's metabase box upgrade so metabase runs well

### Why Is this Needed

runtimes, load times, making sure our company metrics don't drown

### Description

"as for the CPUs and RAM - I’m reading https://github.com/metabase/metabase/issues/2754 two instances really isn’t that necessary / is kinda overkill, and if you’re writing queries that big, maybe your q

[2019-07-09 21:18] kuhnchris commented on #4758
Could be added here as an invisible H1:
https://github.com/gitcoinco/web/blob/bc68c7a70c13e62289c845e8bfe6546760c5f7dd/app/dashboard/templates/dashboard/index.html#L31

[2019-07-09 21:25] njmurarka commented on #4765
I was helped quite quickly by Kevin. I had "approved" the token with a different address. I had not realized that token approvals are not on a per-GitCoin account basis but on a per-ETH address basis.

[2019-07-09 21:26] kuhnchris commented on #4765
Ah, OK. Can I assume this one is fixed then? If yes, please close it, thanks. :-)

[2019-07-09 21:34] njmurarka commented on #4765
For sure. Done!

[2019-07-09 21:34] #4765 closed

[2019-07-10 01:06] owocki opened #4769 "as a funder, i want more optionality around ownership of IP for the output of a bounty, so i can be nimble WRT to IP ownership."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want more optionality around ownership of IP for the output of a bounty, so i can be nimble WRT to IP ownership.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*S

[2019-07-10 16:03] willsputra commented on #4680
Should we put it here too? @PixelantDesign @thelostone-mc

![payout](https://user-images.githubusercontent.com/19514207/60984958-ca727080-a366-11e9-971d-2f15ba9c96d7.jpg)

[2019-07-10 16:05] alexvotofuture opened #4771 "As a hackathon sponsor/organizer I want "express interest" work plans to appear on the Issue Detail page."
### User Story
As a hackathon sponsor/organizer I want "express interest" work plans to appear on the Issue Detail page.

### Why Is this Needed
Hackathon sponsors and organizers both want to keep track of people/teams working on a given prize during the hackathon. Having an at-a-glance view of which people are working on a prize is helpful to take action when engagement is low or high.

Currently

[2019-07-10 16:43] PixelantDesign opened #4772 "As a Gitcoin operator we'd like to upgrade our Amazon databases to the new version to prevent security issues"
### User Story
As a Gitcoin operator we'd like to upgrade our Amazon databases to the new version to prevent  security issues

### What
Upgrade our databases to the new version.

### Definition of Done

- [ ] Upgrade Amazon databases
- [ ] Review with engineers

[2019-07-10 17:23] danlipert commented on #4758
@kuhnchris it can't be invisible or else google will give us an SEO penalty

[2019-07-10 18:25] owocki commented on #4680
@alexvotofuture ^^

[2019-07-10 21:06] kuhnchris commented on #4772
no idea which kind of database you guys use, but are you not using a cluster? If you do, just temporarily boot up another old cluster instance, take one down, upgrade it, bring it up, and repeat that until you upgraded all of them, no?

[2019-07-10 21:08] kuhnchris commented on #4758
really? well, the problem is that the H1 doesn't really integrate 'that' well, especially if it should be on top of the page aswell...

[2019-07-11 01:41] alexvotofuture commented on #4680
This looks great. Will help a lot to reduce confusion on the process and help set expectations. @willsputra I think it's useful to put it there as well if there are crowdfunded funds available.

[2019-07-11 02:29] usmanmuhd commented on #4159
Submission for hackathon: #4747

**Note:** Needs a bit more of review and detailing before it is ready for merging.

[2019-07-11 14:05] PixelantDesign commented on #4771
![IssueDetails (1)](https://user-images.githubusercontent.com/238235/61057468-63cf7000-a3c3-11e9-8f6a-0be6e0c3c159.jpg)

[2019-07-11 14:20] owocki opened #4776 "when one-time grant contributions fail, the system doesn't realize it anymore"
**Describe the bug**

when one-time grant contributions fail, the system doesn't realize it anymore

**To Reproduce**

From customer report:
```Hi Scott, the 1st transaction of 5k DAI to the Africa Blockchain Developer Program was failed so I did a 2nd transaction. I checked it in etherscan and only 5k sent successfully but the website says 10k DAI has been funded. I don't know how to fix it.```

[2019-07-11 14:48] willsputra commented on #4570
Latest funder guide
![funderguide](https://user-images.githubusercontent.com/19514207/61060946-8f834200-a425-11e9-8c63-8a60d5a4f718.jpg)

[2019-07-11 15:18] kuhnchris commented on #4570
Can we change the first part too? it looks too much like the "regular" one, so I fear people will just scroll past it / click it away

[2019-07-11 15:24] kuhnchris opened #4777 "Profile shows collected bounties amount allthou it wasn't collected"
**Describe the bug**
Reported by grimgor on Discord:
He was part of the previous hackathon, didn't win a price, but the profile shows that the amount of price money was collected. (he didn't get it)
This is wrong.

**To Reproduce**
Complete a contest-type bounty and do not get the full payout.

**Expected behavior**
Correct corresponding amount of paid bounty

**Screenshots**
![screenshot](https:/

[2019-07-11 15:34] Orami opened #4778 "Avatar alternative"
### I really like the decentraland Avatars i want to like to have a list of providers added so that user get to select their own avatar

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
So users can have a sense of ownership and proper representation in their usage of eth account.

[comment]: # (Describe the problem and why this task is needed. Provide desc

[2019-07-11 16:06] owocki commented on #4778
thanks for the feedback.. in the meantime, if you update your github picture your gitcoin profile will update too

[2019-07-11 16:12] PixelantDesign commented on #4680
@willsputra

Thanks for the mockup @willsputra the white on yellow is a little hard to read. Could we try a different color?

I think it should also be displayed on the actual advanced payout form - IF there are crowdfunds associated with that bounty.

cc: @octavioamu

[2019-07-11 21:25] Man-Jain opened #4779 "Duplicate activity data shown in bounty page"
**Describe the bug**
Repeated data is shown in activity section of the bounty page. For eg:- if I have applied to work then it appears twice.

**To Reproduce**
Apply to any bounty.

**Expected behavior**
The activity should appear only once.

**Screenshots**
![Screenshot_2019-07-12 Export Printer to JSON crytic Funded Issue Detail Gitcoin](https://user-images.githubusercontent.com/12700384/6108636

[2019-07-11 21:43] octavioamu opened #4780 "Invite to work to a bounty in bounty detail"
**Describe the bug**

the endpoint will fail when the bounty is dupe.
https://github.com/gitcoinco/web/blob/master/app/dashboard/views.py#L1146
query shouldn't by by issue url.
**To Reproduce**

https://gitcoin.co/issue/crytic/crytic-compile/2/3220
https://gitcoin.co/issue/crytic/crytic-compile/2/3220
are the same issue url so trying to invite someone will fail
**Expected behavior**

invite to a d

[2019-07-11 22:41] ceresstation commented on #4745
That sounds great, @pixelantdesign let me know if you have any concerns here and if you're able to answer some of Vince's outstanding questions. In the interim, @vince0656 you're good to go!

[2019-07-11 23:23] owocki commented on #4620
[code]

getting closer.. going to close this for now; thanks everyone !

[2019-07-11 23:23] #4620 closed

[2019-07-12 01:49] edsonayllon opened #4782 "The route "gitcoin.co/profile/?" embeds another profile page within activities"
**Describe the bug**

Embeds profile page within activities inside profile page, only on route /profile/?. See screenshot below.

**To Reproduce**

- Login to Gitcoin.
- Visit gitcoin.co/profile/?

Or.

- Recieve Kudos, be redirected to gitcoin.co/profile/?.

**Expected behavior**

1. Upon receiving kudos, be redirected to /profile, not /profile/?
2. /profile/? shows the same functionality as /pro

[2019-07-12 03:20] owocki commented on #4782
hmm for some reason i can't reproduce.

anyone got a link that reproduces the issue no matter where you're logged in from?

[2019-07-12 05:35] alexvotofuture opened #4783 ""undefined" in activity feed hover on hackathon prizes"
**Describe the bug**
"undefined" showing on activity feed hovers for all hackathon prize bounty pages.

**To Reproduce**

**Screenshots**
<img width="1077" alt="Screen Shot 2019-07-11 at 10 32 16 PM" src="https://user-images.githubusercontent.com/8337893/61104618-e2f88e80-a42b-11e9-995b-06b696e5264e.png">

[2019-07-12 11:53] danlipert opened #4784 "As a gitcoin admin, I'd like the mailchimp syncing to be refactored, so the load on the database is lowered and the site runs faster"
### User Story

As a gitcoin admin, I'd like the mailchimp syncing to be refactored, so the load on the database is lowered and the site runs faster

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:While the `sync_mail` management command runs, it slo

[2019-07-12 13:25] PixelantDesign commented on #4745
Looking forward to seeing what you come up with @vikrant1697. The only change we need to make on our side is that we'd like this bounty turned around within 2 weeks. Let me know if there are any issues with this!

cc @ceresstation

[2019-07-12 13:45] PixelantDesign commented on #4779
Thanks for the report!

[2019-07-12 13:54] owocki commented on #4777
i think that just filtering on accepted=True on line 2607 in dashboard.models.py will do the trick here..

[2019-07-12 14:00] #4654 closed

[2019-07-12 14:01] #4655 closed

[2019-07-12 14:02] owocki commented on #4784
specifically i think that the `pull_to_db()` section is slow.  it'll do

20k db reads (for profile)
5k dbreads for matches
20k for the mailchimp list
1.5k for tips
5k for bounties
100 for whitepaper access requests

PLUS all of the above x2 for all the calls to `get_or_save_email_subscriber()`

[2019-07-12 14:03] owocki commented on #4784
two recommendations for how to make this job more efficient @danlipert :

1. consolidate the DB reads down to one per object type.  a la instead of

[code]

do a
[code]

2. limit the reads in `pull_to_db()` to only objects created in the last `n` hours, where `n` = the number of hours since the job last ran

[2019-07-12 14:10] danlipert commented on #4784
Those look good - I think #1 will give a small improvement  just grabbing one column instead of the whole row. #2 is good in general for sure - I think it'd also be good to have finer grained scheduling on these by splitting out the different steps as described in the issue. I wonder how we can avoid having a "magic number" for the n hours in both python code and in the crontab config - having the

[2019-07-12 14:14] owocki commented on #4784
whats a "magic number"?

[2019-07-12 14:37] danlipert commented on #4779
I wasn't able to replicate this, and seems to happen intermittently (doesn't affect all users or happen all the time)

[2019-07-12 14:56] danlipert commented on #4784
@owocki https://en.wikipedia.org/wiki/Magic_number_(programming) - in this case there was a value of 2 hours that needed to be set in two different places for the sync to work properly, instead of using a environment variable or something similar that each file would import from.

[2019-07-12 15:10] vince0656 commented on #4745
@PixelantDesign I will try my best and let you know as early as possible if that's not going to be achievable. Currently setting up my local dev environment by first ensuring I can run the site through docker.

[2019-07-12 15:23] lrettig opened #4786 ""Edit info" button on Grant page isn't working"
**Describe the bug**

When I click "Edit info" on my created grant page, nothing happens:

![image](https://user-images.githubusercontent.com/3316532/61139500-68655880-a497-11e9-9aec-7a9453fca8be.png)

**To Reproduce**

Log in. Click "Edit info" on grant page.

**Expected behavior**

That I can edit info.

**Screenshots**
<!-- If applicable, add screenshots to help explain your problem.)

**Deskto

[2019-07-12 16:20] Abhimanyu121 commented on #4779
I think it is issue-specific, like it is there on the issue he applied for but not on other issues.
![image](https://user-images.githubusercontent.com/16034874/61142969-a93c8c00-a4ee-11e9-9668-aa1c925027b9.png)

[2019-07-12 16:37] willsputra commented on #4680
@PixelantDesign how about red? is it too strong?
![payout choice](https://user-images.githubusercontent.com/19514207/61143934-c3319b00-a4fd-11e9-8525-6ed60b0b95e3.jpg)
![payout page](https://user-images.githubusercontent.com/19514207/61143938-c4fb5e80-a4fd-11e9-9023-ef4223ea2134.jpg)

[2019-07-12 17:16] owocki commented on #4779
perhaps we could add a post-save trigger on the activity.save() that checks for dupes and destroys itself if a dupe is found...  and be done with it

[2019-07-12 21:51] owocki commented on #4786
well get this fixed.  meantime @lrettig let me know what you want it to say and ill update the DB manually

[2019-07-12 21:51] owocki commented on #4786
well get this fixed.  meantime @lrettig let me know what you want it to say and ill update the DB manually

[2019-07-13 13:00] PierrickGT commented on #4786
I can't apply to work on this issue anymore but I've reproduced the error in local development and the issue seems to be due to the tabs.

The `Edit info` button works when I'm on the `Description` tab but not on the others.

[2019-07-13 14:59] PierrickGT commented on #4786
Here is a PR to fix the problem: https://github.com/gitcoinco/web/pull/4793

[2019-07-13 15:11] edsonayllon commented on #4782
I ran into the issue following this link https://gitcoin.co/kudos/redeem/beyondblockchain

[2019-07-13 20:59] maiquangminh opened #4794 "a80d0a27-d910-4c8d-aebd-1741dcc072bb"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-07-13 20:59] #4794 closed

[2019-07-13 22:07] owocki opened #4795 "'applicants' on the /explorer field should default to "ANY""
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
'applicants' on the /explorer field should default to "ANY"
because the explorer UX should be from the more general down to more narrow, and shouldnt make assumptions about what users are coming for.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the cu

[2019-07-13 22:08] owocki commented on #4795
any strong disagreements here?

[2019-07-15 00:49] owocki commented on #4786
thanks, lets get it QAed early this week :)

[2019-07-15 11:41] owocki commented on #4209
Looking forward to working with you!

On Mon, Jul 15, 2019 at 1:00 AM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>,

[2019-07-15 11:46] PierrickGT commented on #4786
Great!
I've fixed the lint errors and tried to fix the tests by using the following command `make fix # npm run eslint:fix; docker-compose exec web isort -rc --atomic .;` but without any success.
Could someone explain me how I can fix those and make the coverage pass on Codecov?

[2019-07-15 14:17] owocki opened #4796 "css issue on mobile for /mission"
tree and header should be aligned in a way that doenst look borked :)

![2019-07-13 12 35 46](https://user-images.githubusercontent.com/513929/61222950-f4b28e00-a6d8-11e9-97fe-4c235369e3f5.png)

[2019-07-15 15:47] #4796 closed

[2019-07-15 16:24] owocki opened #4797 "https://hackathons.gitcoin.co/ cleanup"
* dates are wrong, and the ‘explorer’ link is broke for ‘grow ethereum’ on the hackathons list
* also we should have a link to the wrap up post for each past hackathon
* put a link to the ethereum hackathon up there too

[2019-07-15 16:49] owocki commented on #4782
4b9c79cedb656f20272f0fa684e26fe257b97cf8

[2019-07-15 16:59] owocki commented on #4784
PR is in at https://github.com/gitcoinco/web/pull/4798

[2019-07-15 19:08] owocki commented on #3912
does anyone who submitted images above have vectorized versions of the artwork?

[2019-07-15 19:45] MaxStalker commented on #3912
@owocki mine were all vector based :)

[2019-07-15 21:05] vince0656 commented on #4745
I am definitely still working on this. One of the things I'd like to clarify is what style of drop down you'd like for the 'Edit Issue' button. One style is like the sorting drop down on the issue explorer:
![image](https://user-images.githubusercontent.com/15893673/61248756-a5f20c00-a74b-11e9-9ecd-5e5701290321.png)

Would you like this style or was there another style you guys had in mind? Please

[2019-07-15 22:47] ryan-shea commented on #4661
fixes were implemented here, we are now using a new mail platform that obfuscates email addresses.

[2019-07-16 12:30] samgos commented on #4209
Making progress, managed to allow connection via opera and metamask by passing a temporary web3 CDN to the index base.html file and utilising `window.web3.currentProvider` and then since `web3.eth.coinbase` seems to be depreciated I've made a temporary assignment by calling the new method in `web3.eth.getCoinbase`. I notice that `truncate-hash.js` executes before `metamask-approval.js` which attem

[2019-07-16 13:40] kuhnchris opened #4801 "Missing Hackathon at /hackathon-list/"
**Describe the bug**
After returning from the mailchimp sign up we return to /hackathon-list/ which is missing the hackathon you just registered to.

![grafik](https://user-images.githubusercontent.com/761911/61299231-fc108f00-a7df-11e9-88bf-29d27746579c.png)

[2019-07-16 15:29] #4758 closed

[2019-07-16 17:02] owocki commented on #4209
what version of web3 did you use?  note the current site uses 0.20.7 --- so that might be why the coinbase issue occured.

metamask currently detects the network id from `getNetwork()` in shared.js  -- im not sure how you toggle between networks in opera...

[2019-07-16 17:24] samgos commented on #4209
`[7/16 12:00] Getting bounty 95994326`

I halted the syncing operation for main-net, it was completely messing up my laptop as speculated. So I can't test this until the geth client has synced... looks like have to resort to a VM of some sorts because I can't afford to allocate my resources on my own computer, as I need work fluidly.

Using web3 `1.0.0-beta.34`, I'll stick to rinkeby this time aro

[2019-07-16 19:04] owocki commented on #4209
maybe you could use infura instead of waiting for your geth client to sync?

On Tue, Jul 16, 2019 at 11:24 AM Samuel JJ Gosling <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me o

[2019-07-16 20:23] samgos commented on #4209
Already there, assigned via `setProvider` had to push changes to the `BN.toNumber` functionality with web3 and actually created a small function to allow conversion of raw return values for operations like `web3.eth.getBalance`. I've decided to reverse my steps and instead of hardcoding the web3 version upgrade it, as I said.

I've updated [web3.py](https://pypi.org/project/web3/) to 4.9.2 within

[2019-07-17 01:07] samgos commented on #4209
I'm back, got the accounts connected up and functioning, I can fund a bounty via metamask on chrome successfully but face an error on Opera:

```Error: Returned error: The method eth_sendTransaction does not exist/is not available```

Which correlates to that infra based providers only accept raw transactions, so I've hit a bit of a boundary. I know `ethereumjs-tx` is in the repo and there's a `si

[2019-07-17 04:14] #4618 closed

[2019-07-17 07:54] nanspro opened #4803 "Profile showing 2468 RDN tokens earned which i haven't"
**Describe the bug**
My profile https://gitcoin.co/profile/nanspro shows 2468 RDN earned which infact i haven't. I guess it is related to this bounty on gitcoin https://github.com/raiden-network/hackathons/issues/3 which was approved to @cpurta but it shows the prize money earned on my profile too.

**Expected behavior**
My profile should not show 2468 RDN earned and users should only see the amou

[2019-07-17 13:09] kuhnchris commented on #4209
do you use the integrated opera proxy (for 'increasing load times')? - maybe that's the reason why he doesn't want to connect?
Also, maybe, as a cross over test, try to set firefox/chrome to the opera user agent string and see if infura refuses it, of it it's metamask / javascript within the opera browser.
also, to get the ethereum-accounts.js into the js/send.js one I'd suggest that you include i

[2019-07-17 13:46] PixelantDesign commented on #4795
When we added this feature, we were prioritizing allowing people to find open/available work that had zero applicants.

cc @vs77bb

[2019-07-17 14:00] #4780 closed

[2019-07-17 14:16] #4186 closed

[2019-07-17 14:23] #4648 closed

[2019-07-17 15:03] PixelantDesign opened #4804 "As a funder with Dai in my wallet, I should be prompted - in a more prominent way - to turn on DAI or other currency when I select this option in the funder form."
### User Story

As a funder with Dai in my wallet, I should be prompted - in a more prominent way- to turn on DAI or other currency when I select this option in the funder form.

### Why Is this Needed

Need a prompt that is more visibile/prominent for on turning on DAI/any other currency that isn't activated.
10% fee is processed but bounty does not go through.

### Description

the problem is wh

[2019-07-17 15:18] owocki commented on #4804
this isnt true.  this exists already, just people ignore it.  heres a screencap => http://bits.owocki.com/666340017e8e/Image%202019-07-17%20at%209.18.11%20AM.png

[2019-07-17 15:22] #3907 closed

[2019-07-17 15:37] owocki opened #4806 "as a funder, i want the abililty to issue 1099s for the work i've had done on the platform, because tax compliance"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want the abililty to issue 1099s for the work i've had done on the platform, becasue tax compliance.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
* t

[2019-07-17 15:37] owocki commented on #3381
this ticket actually has a spec on it; any feedback? https://github.com/gitcoinco/web/issues/4806

[2019-07-17 15:38] owocki commented on #4806
@PixelantDesign i wrote this up after yesterday when we saw that legal/compliance was important for the funder we were interviewing.  any feedback?

cc @ceresstation who has asked me for this in the past too.

im thinking ill bounty this so it doesnt have to affect the core devs.

[2019-07-17 15:57] owocki opened #4807 "as a user, i want to be able to post an update to my profile, so that i can express myself on my gitcoin profile."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to be able to post an update to my profile, so that i can express myself on my gitcoin profile.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
allow

[2019-07-17 16:07] willsputra commented on #4570
@PixelantDesign sketch file
https://github.com/gitcoinco/creative/blob/ae99c583a32b8b072fe2e6425fab85f8fa504379/Product/Funder%20Guide/Funder%20Guide.sketch

[2019-07-17 16:07] willsputra commented on #4703
@PixelantDesign Sketch file:
https://github.com/gitcoinco/creative/blob/3eddfc78c2c2c2cae40ae8df01dee42a533c88f3/Product/Dashboard/No%20Data%20State/Dashboard%20-%20No%20Data%20State.sketch

[2019-07-17 16:09] willsputra commented on #4703
latest:
![Dashboard-No Data](https://user-images.githubusercontent.com/19514207/61391857-38331500-a8f0-11e9-946a-accff9e36d75.jpg)

[2019-07-17 18:16] octavioamu commented on #4795
@PixelantDesign since this was deployed a lot of people complained I personally got confused a few times. In this thread I also give a suggestion
of what we can do to solve the problem in a better way  https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1562956971286600?thread_ts=1562885707.277700&cid=C8E45J5D0
"But I believe the solution will be order 0 applicants first instead of filtering ou

[2019-07-17 18:22] owocki commented on #4795
we already have a 'sort by' on the explorer though, that could be complicated quick..

why not just default to 'any' and if anyone needs to "people to find open/available work that had zero applicants." they can just change the default?

[2019-07-17 20:04] owocki commented on #4807
@iamonuwa any interest in this one?

[2019-07-18 09:55] kuhnchris commented on #4806
well, I offered to work on it - you need to watch out a little bit here, especially since we're tipping our toes into legal jinx here...

[2019-07-18 13:22] owocki commented on #4722
sorry @iamonuwa this wasn't actually ready to start yet

[2019-07-18 13:36] danlipert opened #4814 "Too many alerts show at once"
**Describe the bug**
When multiple alerts occur, they stack on the screen making it difficult to use

**To Reproduce**
Generate a lot of alerts (like reviewing contributors, etc.)

**Expected behavior**
Only a few alerts should show, or alerts should disappear after some time? Open to suggestions.

**Screenshots**
https://gyazo.com/8ca0ac8c150b9d2b41d5889251740ce5

[2019-07-18 13:38] owocki commented on #4814
from slack:

[code]

[2019-07-18 13:39] iamonuwa commented on #4722
+1. Almost done with the status task

[2019-07-18 13:40] kuhnchris commented on #4814
Mmmh usually you'd simply overlay them and then have the user click them off one after the other, I think. Still a stupid design, but better than having 20 lines on top, or just the latest (or any random) message.

[2019-07-18 14:55] ririen opened #4816 "To remove, sorry"

[2019-07-18 15:22] ririen opened #4817 "Abuse of the system of sending invitations"
_I sent a report with this bug some time ago to the email address founders@gitcoin.co and I got bounty for it but it still has not been fixed so I put the issue._

**Describe the bug**

The content and url of issue invitations are generated on the API side instead of the server, which allows for misuse of the mailing system and deliberate misleading of users for the purpose of attack.

Due to the

[2019-07-18 17:05] willsputra commented on #4771
if no contributor is working on the bounty:
![activitylist](https://user-images.githubusercontent.com/19514207/61477177-400eba00-a9c1-11e9-8619-f4110fe4aacb.jpg)

[2019-07-18 17:05] willsputra commented on #4570
shorter with activity
![funderguide](https://user-images.githubusercontent.com/19514207/61477222-53ba2080-a9c1-11e9-9cfd-1ddbdb9cc3eb.jpg)

[2019-07-18 17:22] owocki opened #4821 "update gitcoin.co/about#team to include connor/joseph/alex"
update gitcoin.co/about#team to include connor o'day and joseph chen and alex voto

[2019-07-18 17:27] owocki commented on #4821
@alexvotofuture and connor and alex, can you comment with the following info: whats your 'favorite gitcoin feature' and 'favorite food'?

[2019-07-18 17:32] connoroday commented on #4821
Feature: Avatars and swag
Food: Filet mignon

[2019-07-18 17:47] PixelantDesign commented on #4771
@willsputra where is the work submitted view?

[2019-07-18 17:53] PixelantDesign opened #4822 "As a hackathon organizer, I want to easily see that work has been submitted for me to review."
# User Story
As a hackathon organizer, I want to easily see that work has been submitted for me to review on the issue details page.

# Why Is this Needed
Hackathon sponsors and organizers both want a quick view of people who are submitting work.

# Assumptions

1. We are assuming that this is a need from many hackathon funders, and that they will use the issue details page to see the overview of

[2019-07-18 17:58] PixelantDesign opened #4823 "[Wordpress] As a Gitcoin Participant/Potential Funder I'd like to be able to see the projects from past Hackathons."
### User Story

As a Gitcoin Participant/Potential Funder I'd like to be able to see the projects from past Hackathons.

### Why

We want funders to see the kind of great work on the platform.
We want participants to see the great projects they could work on and get paid!

Potential Idea: Set up a wordpress template to make this easy for BD to spin up.

### Definition of Done

- [ ] Come up with a

[2019-07-18 21:55] vince0656 commented on #4745
Hi there,

Just letting you know that I’m still working on this issue and I’m currently looking at the back-end side of things making modifications to the Bounty model etc

Thanks,
Vincent

[2019-07-18 21:58] octavioamu commented on #4706
how is going @usmanmuhd ?

[2019-07-18 21:59] octavioamu commented on #4695
@rafalkowalski how is going?

[2019-07-19 03:39] qx133 commented on #4701
having the same issue with https://etherscan.io/tx/0x1b4e8aca37f478557a3418ffb61ab03b8be165c464eba5ad9630ce73481826c4

1 wei gasprice is very very low, why not just use >1 gwei?

[2019-07-19 11:22] acolytec3 opened #4828 "Reserved issues included in weekly roundup email"
**Describe the bug**
Reserved bounty was included in "top open issues" in Weekly Roundup email sent on 7/19.

**To Reproduce**
Check weekly roundup email sent on 7/19/19.

**Expected behavior**
Only open issues that anyone can work should be included in top open issues section of email.

**Screenshots**
![reserved bounty in roundup](https://user-images.githubusercontent.com/17355484/61531598-49197

[2019-07-19 12:17] usmanmuhd commented on #4706
On it. Will push the complete PR tonight.

[2019-07-19 13:21] ririen opened #4829 "The system of profile customization by changing the profile background banner allows the use of any url"
**Describe the bug**

The system of profile customization by changing the profile background banner allows the use of any url.

Demo: https://gitcoin.co/profile/ririen

**Security**

I checked it for threats and there are none. Displaying this image is based on styles and background-image not on tags. In new browsers, you can not use styles to enter the attacking code. If it was based on the img t

[2019-07-19 13:51] ririen commented on #4469
@owocki @danlipert any new info about this? :)

[2019-07-19 13:55] owocki commented on #4829
feature, or bug ? 🤔

@iamonuwa wanna evolve the feature forward to FORMALLY support the upload of any image in the profile header update modal?  this way no one has to use the browser tools to do it

[2019-07-19 14:01] iamonuwa commented on #4829
Hell yeah! ✊💯

[2019-07-19 14:26] ririen commented on #4829
Thanks for tip and kudos. Funny thing, with this bug in theory you can possible steal crsf token and other things from source code. I was recently at hacking lectures where they talked about it. And here is one of the articles on this topic: https://www.mike-gualtieri.com/posts/stealing-data-with-css-attack-and-defense

[2019-07-19 17:24] owocki commented on #4829
@iamonuwa how much ETH is fair for this?

[2019-07-19 19:51] iamonuwa commented on #4829
Please specify the deliverables for this. With that we can estimate

[2019-07-19 19:53] samgos commented on #4209
Not following you just using Opera on its default settings.  Chrome works fine, it's definitely injecting a provider into the Opera Web3 instance that causes the rejection.

[2019-07-19 20:08] owocki commented on #4829
expected behaviour:
- user can upload their own photos to s3, and then use that as their profile header
- photos are inspected to make sure they are in fact photos, and not a virus
- users can no longer input unsanitized input on photo header selection modal.

[2019-07-20 02:10] owocki commented on #4469
we haven't treated it as priority, because access to the victim's computer / browser is required.

[2019-07-20 11:30] #4511 closed

[2019-07-20 14:09] #4782 closed

[2019-07-20 14:23] owocki opened #4832 "as a company owner who uses gitcoin, i'd like a presence for my usage of gitcoin, so i can (many reasons). i'm willing to pay!"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a company owner who uses gitcoin, i'd like a presence for my usage of gitcoin, so i can (many reasons).  i'm willing to pay!

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*S

[2019-07-20 14:23] owocki commented on #4832
@0xzak did i get close to the spec at all? what would u add?

[2019-07-20 14:36] owocki commented on #4832
assuming we use profiles as the basis for this... i started playing with what org editing would look like here => https://github.com/gitcoinco/web/pull/4833

[2019-07-20 16:05] owocki opened #4834 "As a user, I want to be able to customizing my profile 'theme', so I can further represent my brand to the community."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to customizing my profile 'theme', so I can further represent my brand to the community.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2019-07-20 16:06] owocki commented on #4834
@iamonuwa u want?

[2019-07-20 19:25] iamonuwa commented on #4834
Yeah, sure. Am interested in this

[2019-07-21 14:39] Skyge commented on #4691
Yeah, I am doing on this issue, I am trying to find out why this comes.

[2019-07-21 17:33] owocki commented on #4832
what this could look like, per https://github.com/gitcoinco/web/issues/4576 :

![58880537-b5247980-870a-11e9-887e-b8659edd7a6c](https://user-images.githubusercontent.com/513929/61594636-55dfd300-abab-11e9-980f-a29417a2e77f.jpg)

[2019-07-21 17:34] owocki commented on #4576
@willsputra is the plan for this design to subsume the existing user profile ( https://gitcoin.co/profile/owocki https://gitcoin.co/profile/metamask etc) or just orgs?

im thinking that profiles are newly important for us, as it helps people build their professional reputation.. allowing gitcoin profile customizations == people building their identity on top of gitcoin ==  staked identity =  moat

[2019-07-22 12:40] PierrickGT commented on #4559
@kuhnchris I've tried to reproduce this bug in local but without any success. For each bounties completed I did only have one unrated bounty card.

![image](https://user-images.githubusercontent.com/2401738/61632904-42f1ff00-ac8e-11e9-91e7-c374d1033d8f.png)

I think the problem lies in the data, cause in production we have the same kind of problem in the `All activity` tab.

![image](https://user-

[2019-07-22 13:16] thelostone-mc opened #4839 "purge: grant change ownership feature"
#### Description

[code]

### Definition of Done
- [ ] Remove code to change ownership
- [ ] Remove emails associated with this feature

[2019-07-22 13:39] #4772 closed

[2019-07-22 13:40] #4622 closed

[2019-07-22 13:40] #4616 closed

[2019-07-22 13:40] #4674 closed

[2019-07-22 13:40] #4507 closed

[2019-07-22 13:40] #4506 closed

[2019-07-22 14:12] danlipert opened #4840 "As a gitcoin contributor, I want login with github functionality in cypress, so I can write more complex tests"
### User Story

As a gitcoin contributor, I want login with github functionality in cypress, so I can write more complex tests.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently, there are very basic Cypress tests set up in the repo. More co

[2019-07-22 14:55] danlipert commented on #4814
I really like the toasts! And @kuhnchris 's suggestion as well

[2019-07-22 20:35] kuhnchris commented on #4559
Thanks for trying @PierrickGT - guess we will have to try to find some irregularities in the database then.

[2019-07-22 20:39] kuhnchris commented on #4814
Yeah - toasts seem a good way to go - but wouldn't that also result into a torrent of toasts popping up?

[2019-07-22 21:25] PierrickGT commented on #4559
Nice! I should have been more persistent to complete this bounty haha.

[2019-07-23 02:31] PixelantDesign opened #4843 "As a funder I'd like to be able to co manage bounties and - payment - of a bounty with my team members."
### User Story

As a funder, I'd like to be able to co manage **payment** of a bounty with my team members.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happen)
*Summary*: Market validated customer need. Currently there is no ability to co manage the payout of bo

[2019-07-23 02:43] PixelantDesign opened #4844 "As a Funder of a Hackathon, I'd like to be able set a specific end date when I fund an issue."
### User Story

As a Funder of a Hackathon, I'd like to be able set a specific end date when I fund an issue.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Only range of dates by week, month, year are allowed now.

### Description

[comment]: # (F

[2019-07-23 02:50] PixelantDesign commented on #4570
[Funder Guide.sketch.zip](https://github.com/gitcoinco/web/files/3419975/Funder.Guide.sketch.zip)

[2019-07-23 02:54] PixelantDesign opened #4845 "Build - Update Funder Guide - as a funder, i want expectations set for bounty funding so i have reasonable expectations for what the bounty product can do"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder,  i want expectations set for bounty funding so i have reasonable expectations for what the bounty product can do

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-07-23 02:54] PixelantDesign commented on #4845
@willsputra could you update copy with the following?

start small
- focus on verifiable tasks
- focus on small tasks
- keep a tight iteration loop with a dev.
- use our exemplars

recommended tasks to start with:
- performance bounties
- security bounties
- design ideation bounties
- testing bounties

[2019-07-23 03:21] PixelantDesign opened #4846 "Add Email Capture to Main Gitcoin.co landing page"
### User Story
As Gitcoin core, we'd like to Add Email Capture on bounties landing page to main landing page

### What

- [x] Build the funder/contributor email capture and add it to the landing page below the before & after graphic.
- [x] Make sure the inputs are properly hooked up to mailchimp

<img width="1644" alt="Screen Shot 2019-07-22 at 11 23 02 PM" src="https://user-images.githubuserconte

[2019-07-23 10:12] kuhnchris commented on #4559
Well, we will see if this "fixes" it. If those entries exist with multiple PKs then Kevin's fix will be moot. but I vote for attempting to try it and see if it fixes it. :-)

[2019-07-23 11:04] vince0656 commented on #4745
Hi there,

Another update to say that I'm still working on this and may have a working solution. However, I will have to thoroughly test this to be confident.

Thanks,
Vincent

[2019-07-23 12:13] PixelantDesign commented on #4804
@owocki couldn't see the screenshot. Seems like people are missing it, so we'll take a look how  to prompt in a more visible way.

[2019-07-23 13:33] PixelantDesign opened #4848 "As a Gitcoin Operator, We want to explore/research opening up Issue explorer for Google"
### User Story

As a Gitcoin Operator, We want to explore/research opening up Issue explorer for Google so that we can increase traffic to our site.

Currently there is a Lot of javascript blocking the view.

### What

- [ ] Research ways to open up the issue explorer vs Bounties network way (maybe varnish) or rendering metadata
- [ ] Provide recommendations (low, medium, high effort and tradeoffs

[2019-07-23 13:39] PixelantDesign opened #4849 "As a Gitcoin Operator, we'd like to have the hackathon wordpress hosted on the main Gitcoin.co domain for better SEO."
### User Story
As a Gitcoin Operator, we'd like to have the hackathon wordpress hosted on the main Gitcoin.co domain for better SEO.

### What
Subdomains are treated as brand new websites to google.
Requires server config to be altered - Dan
We need to use specific urls for each hackathon avoid overlaps/seo confusion

### Definition of Done

- [ ] Need to set up Nginx Configuration to route/ hacka

[2019-07-23 14:31] willsputra commented on #4576
@owocki originally thought of this only for orgs. hopefully makes it easier to differentiate between user profiles and orgs at a glance too. still early WIP tho so will probably iterate this further with @PixelantDesign

[2019-07-23 15:36] owocki commented on #4845
this page is awesome.. i 'd also be happy to record a video or two that walks people through this (on the assumption that video is more engaging than text!)

[2019-07-23 15:36] owocki commented on #4804
screenshot:
<img width="959" alt="Image 2019-07-17 at 9 18 11 AM" src="https://user-images.githubusercontent.com/513929/61725648-032a2680-ad25-11e9-968a-5987e32ae993.png">

[2019-07-23 15:37] owocki commented on #4804
i think a blocking modal will do the trick likely

[2019-07-23 15:38] owocki commented on #4559
its not that the entries exist with multiple PKs, its that the JOIN creates multiple rows for the same PK

[2019-07-23 16:24] PixelantDesign opened #4850 "Team Management - Milestone I - Use Github repo level permissions to determine which other users can take action."
### User Story

As a funder I'd like to be able to manage permissions with my team members.

### What

Milestone I

- The Gitcoin platform syncs repo data from Github related to collaborators and team members, mirroring their permissions model. TBD: what level of access will allow users to be added as "Issuers", who have full control, and "Approvers", who can accept submissions and issue payout.

[2019-07-23 16:26] PixelantDesign opened #4851 "Team Management - Front end changes - to allow collaborators to see the buttons"
### User Story
Front end changes - to allow collaborators to see the buttons

### What
- Display so you look like you're the owner of the bounty
- Backend - widen the permissions

### Why

[2019-07-23 16:36] PixelantDesign opened #4852 "Team Payout - Explore Contract Changes to support team payout"
### User Story
As a Funder of Gitcoin, I'd like to be able to manage payment of a bounty with my team members.

### What

- [ ] Investigate the contract changes that need to be made.
- [ ]  Spec changes in preparation for implementation the following sprint.

### Why
No ability to do this now.
It is a highly requested feature.

[2019-07-23 16:50] PixelantDesign opened #4853 "As a bounty funder of a hackathon I'd like for the entire Gitcoin contributor community to see the bounties i've funded for the hackathon."
### User Story
As a bounty funder of a hackathon I'd like for the entire Gitcoin contributor community to see the bounties i've funded for the hackathon.

### Why
Currently, the hackathon explorer is separate from the normal hackathon explorer.
This limits contributor traffic and applications.

### Definition of Done

- [ ] Open up hackathon explorer to regular explorer by displaying hackathon iss

[2019-07-23 16:53] danlipert commented on #4848
Largely, this involves making the site's content more visible to Google - for reference, we can check the google search console. @octavioamu has already done some good research on this 🙌

[2019-07-23 18:05] zscole commented on #4832
hello! (0xzak is my twitter)

yeah, everything you shared is on point.

just to clarify, what i would find ideal is a dedicated page that i can edit to match the branding and design of my website. i'd like to add a tab to our company website that says BOUNTIES. when a user clicks on it, it leads them to the gitcoin page. this allows us to provide a more unified user experience when directing traff

[2019-07-23 18:24] #4816 closed

[2019-07-23 20:27] kuhnchris commented on #4559
then we can try it

[2019-07-23 22:08] octavioamu opened #4856 "Create sitemap index + sitemap for each section"
**Describe the bug**

Actually the sitemap is all together and bigger than it should, making harder to be indexed.
https://docs.djangoproject.com/en/2.2/ref/contrib/sitemaps/#creating-a-sitemap-index

**To Reproduce**

go to https://gitcoin.co/sitemap.xml

**Expected behavior**

Having and sitemap index as explained https://docs.djangoproject.com/en/2.2/ref/contrib/sitemaps/#creating-a-sitemap-ind

[2019-07-24 03:36] octavioamu commented on #4848
After some research I think the blocker is the rules inside a robots.txt in cloudfront https://s.gitcoin.co/robots.txt

[2019-07-24 05:16] ghbjklhv1 opened #4857 "[Question] Free Software?"
**Question**: Is Gitcoin as a **whole** fully [free/libre](https://www.wikipedia.org/wiki/Free_software) software?

[2019-07-24 06:07] Sm00g15 opened #4858 "Only show open bounties on Explorer as default"
### User Story

[comment]: # As a user I want to only see open Bounties as default.

### Why Is this Needed

[comment]: #

*Summary*: This is needed b/c the Explorer gets clogged w/ bounties that aren't available to be worked on

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # Bounties explorer gets clogged with Bounties that aren't

[2019-07-24 09:56] danlipert commented on #4828
@ryan-shea @vs77bb something to look out for here - we have to make sure not to have reserved bounties in the weekly roundup.

Thanks @acolytec3 !

[2019-07-24 09:58] danlipert commented on #4817
@ririen thanks for resurfacing this!

[2019-07-24 10:02] #4709 closed

[2019-07-24 10:02] acolytec3 commented on #4828
Cool, my work here is done.  Thanks all!

[2019-07-24 10:02] #4828 closed

[2019-07-24 11:15] #4559 closed

[2019-07-24 11:19] thelostone-mc commented on #4850
**Pros**
- Time to market

**Cons**
- Adding + removing members would happen via GitHub (pain-point)
- Tight coupling means adding new features like sub-groups hard
 ( if you wanted to have only 2 folks out of the whole team to handle things)
^ Same for any new feature we might wanna build on top of this

[2019-07-24 13:55] #4846 closed

[2019-07-24 16:45] willsputra commented on #4755
Mapping our existing emails to a typical funder lifecycle:

1. Successfully signed up
_✉️Drip_

2. Funded an issue
_✉️Drip / (is there a 'bounty successfully funded' email?)_

3. Got applicants on an issue
_✉️
https://github.com/gitcoinco/web/blob/master/app/retail/templates/emails/start_work_new_applicant.html
https://github.com/gitcoinco/web/blob/master/app/retail/templates/emails/start_work_app

[2019-07-24 16:56] willsputra commented on #4755
One approach could be:
1. Having an intro email as @frankchen07 mentioned (_"Introducing our new dashboard! Here's how it looks like and what you can do..."_). For existing funders, this could be sent as a one-off email. For new funders, this could be sent after they funded their first issue.
2. At the same time, we could update the CTAs of the various emails above to 'View on Dashboard'

[2019-07-24 18:56] #4703 closed

[2019-07-24 19:19] octavioamu commented on #4848
Updates on this task.
Now the robots.txt are correct, scripts are not being blocked.

But there is a bigger problem, googlebot uses chrome 41 to render pages, with that there is no support for ECMAScript 2015 (ES6). What that means?
Means there are things in javascript we have done that googlebot can't understand. (arrow functions, let, const ...)
### What are the options?
1. Use babel and setup a

[2019-07-24 19:25] PixelantDesign commented on #4848
What are the trade-offs of each option?
What is the level of effort (estimate) of each option?

[2019-07-24 19:26] PixelantDesign commented on #4858
Thanks for the report!

[2019-07-24 19:26] octavioamu commented on #4848
The trade offs are in each point, about the estimation I believe is something we need to discuss with the eng team

[2019-07-24 19:28] PixelantDesign commented on #4858
@Sm00g15 have you tried using the filters on the left? See screenshot below:

<img width="256" alt="Screen Shot 2019-07-24 at 3 28 01 PM" src="https://user-images.githubusercontent.com/238235/61822526-b54a1700-ae27-11e9-9ad5-94e4dc205d0d.png">

[2019-07-24 19:36] PixelantDesign commented on #4680
Hmm the red is sort of alarming....can we use the orange? @willsputra

[2019-07-24 19:39] octavioamu commented on #4858
The default is "open" bounties but if you changed the filter it get saved into your local storage and persist on reload. If that the case you can just go down the filter and press reset.

[2019-07-24 19:50] alexvotofuture commented on #4680
“Respective Funders” is weird wording. Maybe just “returned to funders’ ETH addresses”, and then let them know that they’ll then get Metamask prompts to send after that?

[2019-07-24 19:58] #4165 closed

[2019-07-24 20:58] frankchen07 opened #4863 "As a Gitcoin operator, there a couple FTUX fixes that need patching up."
### User Story

As a Gitcoin operator, there a couple FTUX fixes that need patching up.

### Why Is this Needed

Follow up on FTUX flows

### Description

1. the funder or contributor? image is broken

![Screen Shot 2019-07-24 at 11 57 17](https://user-images.githubusercontent.com/7516920/61828090-c5a7c500-ae1a-11e9-9574-5969f3802caa.png)

2. save button in settings for the funder/contributor desi

[2019-07-25 02:03] octavioamu commented on #4804
I think in this tickets are 2 things, one is people trying to use a token not approved and other is people without funds in the wallet just paying out the fees and the getting the message of "out of coins"

So both issues where solved in [Gitcoin v.1.22.0](https://github.com/gitcoinco/web/releases/tag/20190718master-2) we got any error after that?

- token warnings https://github.com/gitcoinco/web

[2019-07-25 02:28] octavioamu commented on #4863
1. fixed here #4865
2. is following the same pattern of the others settings tabs, all looks pretty similar
3. Couldn't reproduce https://embed.vidyard.com/share/CYKJMRFCx64E3caRb2GjJk?
4. Didn't get the idea, can you mock up with prints or something like that Frank?

[2019-07-25 06:13] vince0656 commented on #4745
Hi there,

An update to say that I am confident in my back-end solution but need to write the appropriate unit test(s) for it and then wrap it up by re-ordering the buttons and ensuring the new remarket button is only enabled when the aforementioned conditions are met.

Thanks,
Vincent

[2019-07-25 06:31] thelostone-mc commented on #4858
Thanks for reporting the issue @Sm00g15
Like @octavioamu stated if you haven't selected filters -> it will default to open bounties on the mainnet.

You can either
- Clear the `localStorage` of the browser
- Add the right filters to update the localStorage + results

Link to show it shows open bounties  : https://embed.vidyard.com/share/xZ9EdgV2qESjbM8dQWT4r7?

[2019-07-25 06:31] #4858 closed

[2019-07-25 07:43] Sm00g15 commented on #4858
Awesome that's great thank you @octavioamu and @thelostone-mc

[2019-07-25 08:32] ririen opened #4867 "Job Status tab bugs bugs"
**Describe the bug**

A little honestly saying these bugs made me laugh, act quite specifically. It is about bugs related to the "Job Status" tab and its updating. They have quite an interesting logic of action.

- Bug 1. After exceeding the number 999 in "Compensation expectation (monthly / USD)" the error "undefined" is displayed and the information about the work does not save. It means that en

[2019-07-25 08:41] PierrickGT commented on #4559
@kuhnchris @owocki since I've helped debug this issue, do I qualify for the bounty reward?

[2019-07-25 08:48] ririen opened #4868 "Logic bug related to display of job profile"
**Describe the bug**

For a moment I was wondering whether to report this bug privately to the founders or put it here. However, due to the fact that it is not critical, I decided to create this issue.

I based this issue at some point in writing this: https://github.com/gitcoinco/web/issues/38

After unchecking "It's okay to show this information publicly in Gitcoin." in the "Job Status" tab, my

[2019-07-25 09:37] ririen commented on #4829
@owocki After few hours of pentesting and checking source code yesterday and today I think It can be escalated to very critical. For security reason I send you private message on slack.

[2019-07-25 09:56] iamonuwa commented on #4829
300? 🙈

[2019-07-25 10:01] thelostone-mc opened #4870 "feat: show sync github issue button to bounty owner"
#### Description

When funder [creates an issue](http://gitcoin.co/new), we sync the issue with GitHub to populate details. Once an issue has been created successfully, we've got a [cron](https://github.com/gitcoinco/web/blob/master/scripts/crontab#L79) which pulls data and syncs every 24 hours to ensure all updates made to GitHub issue are synced

#### Issue

Many a time, after creating an issue

[2019-07-25 12:26] owocki commented on #4829
bb4d24a1f563c42dc6796c2a0481f1cbef17647a fixes the injection attack

[2019-07-25 12:36] owocki commented on #4559
we typically give out rewards to those who have completed the bounty.. but i'd be happy to leave a tip for you here.

[2019-07-25 12:43] PierrickGT commented on #4559
Thank you Kevin!

[2019-07-25 13:31] danlipert opened #4871 "As a Gitcoin admin, I'd like our wordpress instances to be hardened, so that we don't get hacked"
### Who
As a Gitcoin admin, I'd like our wordpress instances to be hardened, so that we don't get hacked.

### What
Time should be spent (3-5 points) on hardening our wordpress installs - installing security plugins, disabling non-essential and vulnerable/exploitable features, etc.

### Why
Now that we run two wordpress instances as part of our site, we should make sure they are hardened against i

[2019-07-25 14:26] qx133 commented on #4701
@owocki would you be able to resend with >1gwei fee so that it can confirm? Would really appreciate it, thanks.

[2019-07-25 15:17] owocki commented on #4701
right now the system redeems the tip with the highest possible gas price given the amount of ETH in the proxy account.  we'll need to get some more ETH sent to that account, then i can reset the tip redemption status in the DB so you can resubmit the tx.

[2019-07-25 15:22] owocki commented on #38
although the gitcoin bounty for this is closed, i am now closing this github issue so there is no confusion about it being open any longer.

[2019-07-25 15:22] #38 closed

[2019-07-25 15:31] owocki commented on #4772
is this done?  i seem to still be able to connect to the old database at the old address ...

[2019-07-25 15:31] owocki commented on #4772
maybe the address just didnt change?

[2019-07-25 15:46] thelostone-mc commented on #4772
^ @danlipert

[2019-07-25 15:58] owocki commented on #4852
you can just use the arbiter address of the existing standardbounties v1 to allow someone else (one person) to manage the payout.

[2019-07-25 15:59] owocki commented on #4852
unless we want to re-architect the entire system to allow the use a different smart contract (and in that case, we should probably look at standard bounties v2 instead of v1)

[2019-07-25 16:52] owocki commented on #4744
@rafalkowalski i'm removing you from the bounty

[2019-07-25 16:59] owocki commented on #4832
thanks @zscole -- does that mean that you'll want something in the nav that points back to whiteblock's website?

did you want this hosted at gitcoin.whiteblock.io or whiteblock.gitcoin.co or http://gitcoin.co/profile/whiteblock ? or either is ok?

[2019-07-25 17:18] danlipert commented on #4772
@owocki The new database is up 👍 same info as the previous one

[2019-07-25 17:25] owocki commented on #4772
oh nice i didnt know you could keep the same RDS instance.  awesome

[2019-07-25 17:45] danlipert commented on #4852
Unfortunately we'll want more than one person, but thanks for the tip on the arbiter. Maybe there is a way to to have a separate contract set as the arbiter that multiple addresses can access... 🤔

[2019-07-25 19:28] qx133 commented on #4701
hmm the account has 0.000100099999999999 eth = 100099.999999999 gwei so max fee can be  1.911691685 gwei (100099.999999999/52362), 52362 is the gas limit

[2019-07-25 19:30] owocki commented on #4576
thanks.  ill CC you on my profile work go forward

[2019-07-25 22:54] octavioamu opened #4873 "results/language urls not working"
**Describe the bug**

result by language url are not working https://gitcoin.co/results/javascript , also reported in search console as not found (programming_languages) and 500 (programming_languages_full)  both present in our sitemap.xml

**To Reproduce**

 https://gitcoin.co/results/javascript
**Expected behavior**

open the page
**Screenshots**
<!-- If applicable, add screenshots to help expla

[2019-07-26 01:03] Skyge commented on #4691
Yeah, I am trying to add a test token, so I can make a contribution with it.

[2019-07-26 04:15] thelostone-mc commented on #4870
@acolytec3 nope just for that specific bounty ! Every bounty would be an overhead that may mess things up !

[2019-07-26 06:55] thelostone-mc commented on #4691
[code]

^ hope that helps

[2019-07-26 15:18] vince0656 commented on #4745
Hi there,

Button is now only enabled under the right conditions. Just working through re-ordering, tests and of course slack integration

Thanks,
Vincent

[2019-07-26 15:42] ririen commented on #4112
Oh, I wonder what you found @l-kh

[2019-07-26 15:48] L-KH commented on #4112
Hello, After using WhatWeb - checks for X-XSS Protection Header.
I get that there is a medium severity vulnerability "X-XSS Protection is not Present"
it's as definition As the target is lacking this header, older browsers will be prone to Reflected XSS attacks: this is img about running website in IE old version. https://i.imgur.com/RbSzPDn.png
and as  Modern browsers does not face any issues wit

[2019-07-26 19:15] owocki commented on #4112
sorry, i'm slow or not getting it.   whats the exploit path for the above?

[2019-07-26 20:01] octavioamu commented on #4695
@rafalkowalski are you going to continue working on this? if so, can you submit a WIP PR ?

[2019-07-26 20:09] ririen commented on #4112
@owocki None. I would say that it is rather an information note. It does not matter if this header exists or not if you can not do XSS.

This is simply information that if someone puts XSS on the platform, if this header exists, old browsers such as Internet Explorer will not execute it.

But it does not matter, because if someone discovers XSS, it will not be targeted at Internet Explorer users a

[2019-07-26 22:11] vince0656 commented on #4745
As you can see, a pull request has been opened above as the work has been completed. Here are some screenshots from the work:
<img width="683" alt="Screenshot 2019-07-24 at 21 38 55" src="https://user-images.githubusercontent.com/15893673/61983863-e8440480-aff9-11e9-850c-b234a2f19e8f.png">
<img width="584" alt="Screenshot 2019-07-24 at 21 36 51" src="https://user-images.githubusercontent.com/15893

[2019-07-27 19:29] acolytec3 commented on #4870
@thelostone-mc Sorry but I'm going to pull out of this one.  I can't get my local environment working for some reason and I've been banging my head on it for a while.  Will let someone else take a shot at this one in the meanwhile.

[2019-07-27 21:44] Adamits commented on #4867
Hi @ririen

I could not reproduce Bug 1. Had you added any other data to fields not displayed in the screenshot, that could be causing the issue? I am looking into bugs 2 and 3.

Adam

[2019-07-28 06:41] #4740 closed

[2019-07-28 06:41] #4768 closed

[2019-07-28 06:42] #4764 closed

[2019-07-28 07:05] #4724 closed

[2019-07-28 07:21] thelostone-mc commented on #4680
^ Putting this on blocked cause I'm not sure if the color + text will be changing !

[2019-07-28 07:27] thelostone-mc commented on #4845
moving this to blocked until I get the sketch with the latest updates !

[2019-07-28 15:01] thelostone-mc commented on #4745
@PixelantDesign Do review the PR submitted ^_^

[2019-07-29 01:22] Skyge commented on #4691
@thelostone-mc How about this prompt: `No SendGrid API Key set. Not attempting to send email`

[2019-07-29 01:53] owocki commented on #4691
i dont mean to be rude, but is that error not self explanatory?

[here are the docs to solve this](https://github.com/gitcoinco/web/blob/master/docs/ENVIRONMENT_VARIABLES.md#sendgrid)

[2019-07-29 02:05] Skyge commented on #4691
Oh, I see, I should apply for a api key from: `SendGrid`.

[2019-07-29 02:33] owocki commented on #4845
@willsputra can you attach the sketch pls?

[2019-07-29 02:47] owocki commented on #4834
@iamonuwa how goes

[2019-07-29 02:51] Skyge commented on #4691
Ask more, and I will know more.

[2019-07-29 08:13] iamonuwa commented on #4834
Work in progress. Expect PR before Thursday

[2019-07-29 08:52] thelostone-mc commented on #4870
Sure thing ! Thanks for the update mate ^_^

[2019-07-29 09:38] ririen commented on #4867
@adamits I have checked several browsers. It turns out that only in some of them the BUG 1 occurs.

- Firefox Developer Edition – BUG
- Firefox Normal – BUG
- Chromium – BUG
- Brave Dev Channel – Work
- Google Chrome – Work
- Opera Developer – Work

What the problem then? From what I noticed, the mentioned browsers that have a bug change the numbers above one thousand to those with a space or othe

[2019-07-29 09:46] ririen commented on #4829
Patch looks good, I wait to deploy in production and deeper tests.

[2019-07-29 11:19] kuhnchris commented on #4871
from my experienes with wordpress (and wordpress 'pentesting') i'd like to tell you the only thing you can surely and safely protect your wordpress instances - is to have the instance running in a VPn or non-internet connected entity, make changes, and generate static pages with that...
or have a good update strategy in place.

Since this is too much for a "start solution" I can only suggest what

[2019-07-29 13:32] Adamits commented on #4867
@ririen Thanks a lot for looking into that. I will look into fixing this one when I have a chance. It looks like in chrome there is some feature that forces the value entered into the field to conform to a specification, so I think the best solution is to look into making it compatible with other browsers.

[2019-07-29 13:52] willsputra commented on #4845
@thelostone-mc sketch file
https://github.com/gitcoinco/creative/blob/6a1ddd0f576f6a17ca505d3f98ca89f36d3d8690/Product/Funder%20Guide/Funder%20Guide.sketch

sorry for the delay!

[2019-07-29 13:58] willsputra commented on #4680
@PixelantDesign is this alright?
![crowdfund](https://user-images.githubusercontent.com/19514207/62054223-20468400-b254-11e9-8ace-6666796bb158.jpg)

[2019-07-29 17:08] danlipert commented on #4871
@kuhnchris appreciate your writeup here - @owocki this is why I want to spend a decent amount of time on this

[2019-07-29 18:46] PixelantDesign opened #4882 "As a Gitcoin Funder I'd like to see increased applications from contributors so that I'll know that my bounty is gaining interest and will have a good outcome."
# User Story
As a Gitcoin Funder I'd like to see increased applications from contributors so that I'll know that my bounty is gaining interest and will have a good outcome at the end of the hackathon.

# Why
Funder Feedback: I don’t have enough (quality) inbound applications on my issues

# Assumptions

Human - Based on funder research, seeing increase applications is a step that occurs before the

[2019-07-29 18:49] PixelantDesign opened #4883 "Ux - As a Funder of a Hackathon, I'd like to be able set a specific end date when I fund an issue."
# User Story

As a Funder of a Hackathon, I'd like to be able set a specific end date when I fund an issue.
Ux Story: https://github.com/gitcoinco/web/issues/4844

# Why
Need this for more accurate bounty start/end time

# Description

bulk of the effort is setting a date that is 'never' or far away

# Assumptions
Human - Funders want to set end time, some funders may not care, may want a default

[2019-07-29 18:53] PixelantDesign opened #4885 "Hackathon - As a funder of a Gitcoin Bounty, I'd like more insight into a plan on how a contributor will address my hackathon issue."
### User Story
As a funder of a Gitcoin Bounty, I'd like more insight into a plan on how a contributor will address my hackathon issue.

### What

- Approval is not required
-  Include Workplan for Contest Bounties
- Consider how it effects the rest of the system

### Why

[2019-07-29 18:56] PixelantDesign opened #4886 "As Gitcoin, we'd like to build a secure shared payment method so that funders are able to payout bounties as a team."
# User Story
As Gitcoin, we'd like to build a secure shared payment method so that funders are able to payout bounties as a team.

# Why
- Overwhelming number of funders requesting this feature.
- Make funder workflow easier
- We can package and sell in a subscription

# Assumptions
Human - Teams will be more than two people.
Business - If we build this funders will improve our platform experience

[2019-07-29 18:57] PixelantDesign opened #4887 "As Gitcoin Core we'd like to take our learnings about the Dashboard from user testing and make updates based on research."
# User Story
As Gitcoin Core we'd like to take our learnings about the Dashboard from user testing and make updates based on research.

# Why
We want to ensure the funder dashboard will be useful.

# Assumptions

1. We are assuming that funders will use the dashboard, and we have the appropriate tracking to understand their behavior.

2. We are assuming that a streamlined dashboard experience will

[2019-07-29 19:00] PixelantDesign opened #4888 "As a Funder, I'd like Gitcoin to tell me who I should choose for my bounties and surface appropriate information so that I can decide for myself"
# User Story
As a Funder,  I'd like Gitcoin to tell me who I should choose for my bounties or surface appropriate information so that I can decide for myself

# Why
It’s too hard for me to invite quality applicants to my bounties because I don’t know who are good people to work on my bounties

# Assumptions

1. We are assuming that funders actually want to look for and select their contributors.

[2019-07-29 22:59] frankchen07 opened #4889 "As a Gitcoin operator, when the funder dashboard is released, I would like to understand how it is performing."
### User Story

As a Gitcoin operator, when the funder dashboard is released, I would like to understand how it is performing.

### Why Is this Needed

Data tracking on the dashboard is necessary in order to piece together proxy measurements as to how the funder dashboard is being used.

### Assumptions

Human - We are assuming that funders will use the dashboard frequently for its intended use.

[2019-07-30 01:45] owocki commented on #4834
ty

[2019-07-30 02:15] Adamits commented on #4867
Could not reproduce yet on my mac (will try linux), but note that in safari I get the following error when I navigate to the job status page immediately when I navigate to it (it should have the Compensation field already populated):

<img width="1413" alt="Screen Shot 2019-07-29 at 10 14 55 PM" src="https://user-images.githubusercontent.com/5308618/62095399-57199b80-b24e-11e9-82dd-e61894d0af1e.pn

[2019-07-30 02:21] Adamits commented on #4867
Ah - this is not browser specific, but rather because this javascript autoupdated the value to 'NaN', which saved.

I guess there are two issues here related to BUG 1:
1. there should be some back-end validation so that a string cannot be saved to `Profile.job_salary`, 2. this front-end feature needs to work cross-browser

[2019-07-30 02:24] owocki opened #4890 "as an admin who doesnt code, i want the top banner to be editable via admin, so i can edit it in the admin."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as an admin who doesnt code, i want the top banner to be editable via admin, so i can edit it in the admin.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

so that no

[2019-07-30 02:28] owocki opened #4891 "as a follower of @gitcoin, i want new bounties that are posted to @gitcoinfeed to be RTed so i can see them"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a follower of @gitcoin, i want new bounties that are posted to @gitcoinfeed to be RTed so i can see them

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
so i can se

[2019-07-30 02:35] owocki opened #4892 "as a user who is from an underrepresented group or special group, i would like to have a bounty explorer / bounty pool just for me, so i can work on bounties with those who are within my group"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who is from an underrepresented group or special group, i would like to have a bounty explorer / bounty pool just for me, so i can work on bounties with those who are within my group

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current s

[2019-07-30 04:39] thelostone-mc opened #4893 "bug: django-admin permission updates"
#### Description

Permission updates for django users aren’t saving as shown [HERE](http://bits.owocki.com/aa22f630d539/Screen%20Recording%202019-07-24%20at%2006.26%20PM.gif)

Boot the app locally and navigate to the user model via django-admin (http://localhost:8000/_administrationauth/user/)
Select a user and try assigning multiple permissions to them and save.
Upon save -> the permissions don't

[2019-07-30 08:22] vrde opened #4895 "Cannot edit milestone"
**Describe the bug**
I'm the admin of a grant and I cannot edit a milestone.

**To Reproduce**
Go on the _Grant Milestones_ page as the grant admin. No edit button there.

**Expected behavior**
I expect to see an edit button that I can click to edit my milestone.

**Desktop (please complete the following information):**

- OS: GNU/Linux
- Browser: Firefox
- Browser Version: 68

**Additional contex

[2019-07-30 11:11] danlipert commented on #4895
@PixelantDesign @frankchen07 this originated from a message in the community-help slack

[2019-07-30 11:16] PixelantDesign opened #4896 "UX & BUILD - As a Gitcoin funder I'd like to be tastefully routed to the dashboard after a login event via a "new dashboard" dynamic modal."
# User Story
UX - As a Gitcoin funder I'd like to be tastefully routed to the dashboard after a login event via a "new dashboard" dynamic modal.

# Why
Funder Feedback Example:
" I'd be happy for that to be my landing page after I log in.
That's what I need most."

# Assumptions
Human - Funders want to go to the dashboard when they come to Gitcoin
Business - We assume that redirecting them at ever

[2019-07-30 11:24] #4885 closed

[2019-07-30 13:05] PierrickGT commented on #4870
I've completed the bounty from this issue, here is the PR: https://github.com/gitcoinco/web/pull/4899
I will submit my work once my PR is reviewed.

[2019-07-30 14:20] owocki opened #4900 "as a coder, i want a way to get paid by recruiters to see my resume, since data is labour"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a coder, i want a way to get paid by recruiters to see my resume, since data is labour
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

right now linkedin sells $99/

[2019-07-30 14:24] owocki opened #4901 "persona is wrong"
looks like [my profile](https://gitcoin.co/_administrationdashboard/profile/3221/change/?_changelist_filters=q%3Dowocki) is set as a hunter, and that's def wrong.  i'm a stronger funder than i am a hunter

per this comment ( https://github.com/gitcoinco/web/pull/4727#issuecomment-516389160 ) we should look at why the cronjob is setting it to be wrong

[2019-07-30 14:26] ligi opened #4902 "showing 3 choices - but actually it is just one"
one choice can be removed in this case

![image](https://user-images.githubusercontent.com/111600/62137751-c0e58400-b2e6-11e9-8980-e8e10c3cfcff.png)

[2019-07-30 14:27] ligi opened #4903 "asks me to switch to mainnet - but I am already there"
![image](https://user-images.githubusercontent.com/111600/62137834-e96d7e00-b2e6-11e9-95cf-a3e53be743d0.png)

[2019-07-30 14:40] ligi opened #4904 "Mail tells me my grant contribution is successful but tx is still pending"
I got this mail:

![Selection_183](https://user-images.githubusercontent.com/111600/62138871-b0cea400-b2e8-11e9-88e7-c052dbd7a6ef.png)

but my tx is still pending

[2019-07-30 15:28] owocki commented on #4901
whats with this SQL?  (a) why long SQL?  (b) it says i'm a hunter and not a funder :(

[code]

[2019-07-30 16:27] owocki commented on #4901
https://github.com/gitcoinco/web/pull/4905

[2019-07-30 17:06] acolytec3 commented on #4870
Not trying to be nitpicky here but who is approved to work on this bounty?　The bot says I was approved and I'd already started my PR (which is mostly done) when I noticed the other one submitted by @PierrickGT that's already been approved by @danlipert and @octavioamu.

[2019-07-30 17:32] PixelantDesign opened #4906 "Fund Issue Page Constantly Auto Refreshes While Trying to Fund Issue"
## Funding Bounty Feedback from Nate (Codefund)

### Fund issue page is auto refreshing

Steps to reproduce this behavior

1. Use the Firefox browser
1. Create a bounty
1. Wait for intermediate page to load where we wait for everything to record on the blockchain - _this page auto refreshes_
1. Navigate away to another page - _the refresh behavior will continue on other pages (I tried several) for

[2019-07-30 18:11] PierrickGT commented on #4870
Hi,
Looking at your previous message, I thought you stopped working on this issue and that's why I've decided to open a PR.
Sorry for the misunderstanding.

[2019-07-30 18:17] acolytec3 commented on #4870
@PierrickGT - not a big deal, just want direction from the core devs before I do anything else.  It's been a fruitful learning exercise for me if nothing else.

@thelostone-mc, @danlipert, @octavioamu, who gets this one?

[2019-07-30 18:50] owocki opened #4907 "As a coder, I want to see if an open bounty is a hott 🔥bounty so I know if I have to act fast."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a coder, I want to see if an open bounty is a hott 🔥bounty so I know if I have to act fast.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
To create a sense of urg

[2019-07-30 22:51] owocki opened #4908 "As a user, I want profile v2 so that I can make my gitcoin profile into my professional identity."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.) As a user, I want profile v2 so that I can make my gitcoin profile into my professional identity.
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

My gut theory is that

[2019-07-30 23:23] alexvotofuture commented on #4823
@octavioamu and I just met about this to discuss the approach.

We will be creating a Wordpress site that pulls project/team info from an input source (source TBD), then adds this content to a square content block, alongside other project/team content blocks in a single page. Bonus points if these squares can be edited later by users themselves.

There are two ideas for the input source. The first

[2019-07-31 01:26] BrentAllsop commented on #4362
I’ve been looking into this hoping to figure things out.
I’ve spent some time today looking into the info contained above.

Before I spend too much time on this, I wanted to give an update of what I am seeing so far.
I might not understand things and may be going down an unnecessary rat hole.
So, I wanted to check with all of you to see if you had any more info that might help, maybe keeping me fr

[2019-07-31 02:28] edsonayllon opened #4909 "ETH Contribution Amount Not Showing"
**Description**

A past contribution is listed, but the ETH rewarded is not.

**To Reproduce**

Go to https://gitcoin.co/profile/edsonayllon

**Expected behavior**

ETH receive from https://gitcoin.co/issue/ArweaveTeam/Bounties/1/3152 should be listed.

**Screenshots**

<img width="1247" alt="Screen Shot 2019-07-30 at 10 24 40 PM" src="https://user-images.githubusercontent.com/34966228/62179054-20

[2019-07-31 02:40] BrentAllsop commented on #4362
@owocki, could you explain the stuff I'm seeing in bold?

[2019-07-31 04:04] octavioamu commented on #4823
Project logo if exist

[2019-07-31 05:26] thelostone-mc commented on #4870
@acolytec3 So here's what happened

@PierrickGT reached out to me after you let me know you had [env issues](https://github.com/gitcoinco/web/issues/4870#issuecomment-515707909) ( thanks for that 🙌 )
He told me how he was gonna tackle and this was the bit of conversation where I approved him

[code]

I'm not sure why the approve wasn't reflected.
I apologize for the confusion.
I should have clicke

[2019-07-31 05:59] vince0656 commented on #4745
@PixelantDesign have you had a chance to look at the PR?

[2019-07-31 08:36] acolytec3 commented on #4870
Yeah, not a big deal. I did hit the stop work button and then reapplied and got a notification from the system saying I was approved again which is why I started. I'll close my PR.

That said, y'all should look at that pull-github job again. I was looking at it as a model for my PR and It didn't look like it touched the issue title or description fields at all.

[2019-07-31 09:48] owocki opened #4910 "tooltips dont show on bounty details page"
**Describe the bug**

tooltips dont show on bounty details page

**To Reproduce**

gitcoin.co/issue/gitcoinco/skunkworks/89/2631
hover

**Expected behavior**

these three elements should have tooltips:

![Screen Recording 2019-07-31 at 03 48 AM](https://user-images.githubusercontent.com/513929/62202199-12712b80-b346-11e9-95b8-38f8608e35b1.gif)

**Desktop (please complete the following information)

[2019-07-31 11:13] PixelantDesign commented on #4904
Hi @ligi Thanks for the report. Could you link us to your grant? Thanks!

[2019-07-31 11:13] PixelantDesign commented on #4903
Thanks @ligi Could you share your system and browser information?

[2019-07-31 11:14] PixelantDesign commented on #4902
Thanks for the report!

[2019-07-31 11:21] PixelantDesign commented on #4895
Hi @vrde Thanks for reporting/requesting this.

In addition to MIlestones. Are there other things that you expect to be able to edit if we had an edit button?

[2019-07-31 12:00] danlipert commented on #4901
@owocki So the SQL code is from a query that @frankchen07 developed on Metabase - I imported it as SQL into our codebase so that its easy to update if Frank wants to change how the classification works. I'm fine however we calculate it so I'll defer to Frank on whether this is how we want to proceed

[2019-07-31 12:26] vrde commented on #4895
I'm quite new to the service, but everything I post should be editable. Since we are talking about grants, updates, and milestones, to maximize transparency there should be an *edit history*, like GitHub (and other services) does, e.g.:

![image](https://user-images.githubusercontent.com/134680/62211578-314fdc00-b39f-11e9-90e1-e71efd0538bf.png)

[2019-07-31 12:52] danlipert opened #4913 "Generic card_desc being used for the hackathons"
**Describe the bug**
The hackathon event card_desc is the default gitcoin one

**Expected behavior**
Allow for a custom card_desc to be set via the hackathon event admin page

[2019-07-31 13:02] ligi commented on #4904
It's not my grant - It's a grant I wanted to support: https://gitcoin.co/grants/127/planet-a

[2019-07-31 13:04] ligi commented on #4903
Brave Version 0.63.48 Chromium: 74.0.3729.108 (Official Build) (64-bit) on Ubuntu 18.04.2 LTS

[2019-07-31 13:23] danlipert commented on #4909
Looks like the issue stems from here: https://github.com/gitcoinco/web/blame/master/app/dashboard/models.py#L2698 `bounty` should be `bounties` I think unless I'm missing something @owocki PR is here: https://github.com/gitcoinco/web/pull/4915

[2019-07-31 13:34] PixelantDesign opened #4916 "Issue with the formating on issue details page -GNOSIS BOUNTIES"
**Describe the bug**

 Issue with the formating on issue details page.

On Github it looks fine but the Gitcoin Bounty mixed up Code and normal text in the bounty description.

**To Reproduce**
Review the descriptions on these bounties

Bounty1: https://gitcoin.co/issue/gnosis/mock-contract/14/3304
Bounty2: https://gitcoin.co/issue/gnosis/mock-contract/15/3305

**Expected behavior**
Text should no

[2019-07-31 13:45] #4771 closed

[2019-07-31 14:08] #4754 closed

[2019-07-31 14:22] thelostone-mc commented on #4786
@owocki we are good for payout ^_^

[2019-07-31 15:07] owocki commented on #4909
hmm it says `bounties` unless im mistaken.  let me look at the old commit history; if i messsed it up i want to know so i dont do it again.

[2019-07-31 15:29] owocki commented on #4362
thanks brent.  confirming this is on my TODO list, but i have a few things ahead of it (and meetings,  ugh).  let me see if i can knock this out by end of w1 August.

[2019-07-31 15:29] thelostone-mc commented on #4786
Repening it out as we the text get's rendered as JSON instead of the text

https://cdn.discordapp.com/attachments/583672622877769852/606145659908915232/Screen_Shot_2019-08-01_at_12.25.45_AM.png

[2019-07-31 15:31] owocki commented on #4823
the new profile i specced yesterday ( https://github.com/gitcoinco/web/issues/4908 ) contains info about past hackathons.  so if we continue with that, then that'd be complimentary

[2019-07-31 15:36] owocki commented on #4901
got it; i think its just a tradeoff of simplicity of maintainability vs keeping parity with metabase.  would be curious to hear what frank thinks here.

for someone like me who has done many 1 bounty as a contributor and 500 as a funder, i think that whatever solution we land on should be able to manage that.

[2019-07-31 16:27] danlipert commented on #4909
@owocki yup I fixed it in my PR https://github.com/gitcoinco/web/pull/4915/files

[2019-07-31 16:46] BrentAllsop commented on #4362
I’m assuming the grants.contribution and grants.subscription tables are tables in the gitcoin db.  Perhaps you could tell me more about these tables, in particular the “amount_per_period” values.  Could this represent more than the amount in the corresponding transaction id in the same column?  (i.e. more than one txid “per period”?) If so, what other txids might be involved?

[2019-07-31 17:39] PixelantDesign commented on #4806
Questions from @PumpkingWok who is interested in this bounty @owocki

1) in which /settings section do i have to include the field to set a location ?
2) does the command to generate the csv (once a year) has to develop outside the gitcoin platform code, right ?
3) can i exploit the gitcoin python client to retrieve infos from setting ?
4) do i have to develop a new API command to retrieve it or i

[2019-07-31 17:43] PixelantDesign commented on #4354
@kuhnchris how come you arent able to test?

[2019-07-31 17:44] owocki commented on #4806
1. creating a new `settings/tax` seems the most clean to me
2. no, you can do it as a management command, and schedule it in the `crontab` file
3. which gitcoin python client?
4. just use the django ORM.  no new API needed IMHO
5. yes, there is precedent for management commands generating emails.  just copy a `send_*` function from marketing/mails.py and a `render_*` function from retail/emails.py

[2019-07-31 18:00] willsputra commented on #4755
@frankchen07 @PixelantDesign we could do this for the intro email. thoughts?
![funder dashboard intro](https://user-images.githubusercontent.com/19514207/62235671-ff229680-b3ff-11e9-81b7-5acadf6caf4e.jpg)

[2019-07-31 18:15] owocki commented on #4755
design looks good.  i think we might want to make it clear that its a v0.1 in the email though, and highly encourage feedback on it via github (not slack, slack will become too unwieldy IMHO).  feedback is great, asyncronous feedback is even greater!

[2019-07-31 18:23] owocki opened #4927 "bug - the invoice button doesn't show that i paid for featured bounty"
**Describe the bug**

bug - the invoice button doesn't show that i paid for featured bounty

**To Reproduce**

buy featured bounty
go to invoice on the bounty
no featured bonty line item

**Expected behavior**

buy featured bounty
go to invoice on the bounty
THERE IS a featured bonty line item

[2019-07-31 18:27] GregTheGreek commented on #4927
Reference bounty: https://gitcoin.co/issue/ethereum/EIPs/2221/3296

[2019-07-31 18:29] edsonayllon commented on #4909
Great, it's showing correctly. I'll close this issue.

[2019-07-31 19:13] PumpkingWok commented on #4806
Hi there,
Thanks a lot for the reply @owocki , I could start on it from tomorrow if it is still free.
Hi @kuhnchris have you started to develop something regard it ? I can leave it to you without problems !! Let me know.

[2019-07-31 21:45] kuberlog opened #4929 "Bounty has been rewarded but is not displayed as closed in the gitcoin explorer."
https://gitcoin.co/issue/centrifuge/precise-proofs/88/3225

has a discrepancy with

https://github.com/centrifuge/precise-proofs/issues/88

[2019-08-01 03:20] bakaoh commented on #4910
@owocki i fixed it to show tooltips in gitcoin.co/issue/gitcoinco/skunkworks/89/2631
But there're other bugs that i need more info to fix, please view detail at my pull request

[2019-08-01 03:26] octavioamu commented on #4823
I'm making some tests here, for now Im more focused on the flow (how people input data, what data is showed) than the visual https://hackathons.gitcoin.co/grow-ethereum/results/ . Also if you click "submit your project" you can see the flow of how hunters add / edit their data.

[2019-08-01 05:14] kuhnchris commented on #4806
@PumpkingWok haven't worked on it yet - if you got spare time to fill - go ahead. :-)

[2019-08-01 05:17] kuhnchris commented on #4354
@PixelantDesign because I was not able to build the platform since I had troubles with my PC back in may. The PR is already closed and stale so this one can be closed as well, since octavio's PR is already merged since june.

[2019-08-01 06:54] edsonayllon opened #4934 "Kudos Redemption Causes 500 Error"
**Description**

Redemption of earlygrowers kudos results in 500 error page.

**To Reproduce**

1. Go to redeem  earlygrowers kudos.
2. Select option to save permanent address as direct payment, along with other checkmarks.
3. Submit for redemption

**Expected behavior**

See confirmation message upon receiving Kudos.

**Screenshots**

![image](https://user-images.githubusercontent.com/34966228/62

[2019-08-01 10:06] kuhnchris opened #4935 "Hackathon - what does "0" mean here?"
**Describe the bug**
What's meant by "0" here? Usually it shows the required Skill Level, Days since opened, etc. but here it shows "0"

**To Reproduce**
Go to the grow-ethereum hackathon explorer

**Expected behavior**
Similar description to above
![grafik](https://user-images.githubusercontent.com/761911/62284842-b943ed80-b454-11e9-94bb-a3ccfe7aa014.png)

[2019-08-01 10:09] kuhnchris commented on #4929
Hi there,

this happens if there are multiple bounties opened for the same issue.
The "standard_bounty id" for the correct one is 3226

https://gitcoin.co/issue/centrifuge/precise-proofs/88/3226

It seems two bounties were opened, since the first link goes to /3225, as mentioned by you, and the 2nd goes to /3226 (the one that finished).
Maybe ping lucasvo over at that repository that he should can

[2019-08-01 12:56] owocki commented on #4934
What URL are you going to to redeem this kudos ?

On Thu, Aug 1, 2019 at 12:54 AM Edson Ayllon <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com

[2019-08-01 13:02] kuhnchris commented on #29
@owocki I guess we can close this as Tips are already implemented?

[2019-08-01 13:03] kuhnchris commented on #35
I guess this is the UX-Onboarding (FTUX, First Time UX) that's already implemented?

[2019-08-01 13:06] #138 closed

[2019-08-01 13:08] kuhnchris commented on #148
Was this before we got that "Transaction successful" screen?

[2019-08-01 13:09] kuhnchris commented on #154
I guess that was mitigated by the "notifications" implementation, correct?

[2019-08-01 13:09] #154 closed

[2019-08-01 13:13] kuhnchris commented on #176
I think we already finish this... I'll close it for now, please reopen if we still have gas issues.

[2019-08-01 13:13] #176 closed

[2019-08-01 13:15] kuhnchris commented on #192
assuming this is the implemented leaderboard - closing.

[2019-08-01 13:15] #192 closed

[2019-08-01 13:16] kuhnchris commented on #193
did anything happen with that idea?

[2019-08-01 13:17] kuhnchris commented on #194
I assume this was before the rehaul of the UX, correct? I assume since the connected PR is merged that we can close this issue.

[2019-08-01 13:17] #194 closed

[2019-08-01 13:21] kuhnchris commented on #234
Do we still miss this data or do we already have something in place for this?

[2019-08-01 13:22] kuhnchris commented on #237
Anyone knows if those restrictions are still in place?

[2019-08-01 13:39] owocki opened #4937 "bug - cookielaw popup not showing up"
**Describe the bug**

bug - cookielaw modal not showing up

**To Reproduce**

go to site incognito
no cookielaw popup

**Expected behavior**

go to site incognito
cookielaw popup

[2019-08-01 13:39] #241 closed

[2019-08-01 13:50] owocki commented on #4910
thanks, i can submit a PR for this (that adds the CSS, but also adds titles for the other elements)

[2019-08-01 13:56] kuhnchris commented on #530
Is this still something that's being focused on?

[2019-08-01 13:58] kuhnchris commented on #526
I guess this topic is not relevant anymore as we did many changes regarding the explorer - so I'm closing this. If the problem persists, please open a new issue.

[2019-08-01 13:58] #526 closed

[2019-08-01 13:59] #521 closed

[2019-08-01 13:59] kuhnchris commented on #512
@owocki are you still using this for analysis?

[2019-08-01 14:10] #510 closed

[2019-08-01 14:10] #490 closed

[2019-08-01 14:10] #482 closed

[2019-08-01 14:11] #465 closed

[2019-08-01 14:15] kuhnchris commented on #445
did this ever get payed out @owocki ? seems like the explorer shows this as a rinkeby bounty now.

[2019-08-01 14:17] #443 closed

[2019-08-01 14:18] #404 closed

[2019-08-01 14:19] PierrickGT commented on #4559
Hi @owocki,
Are you still planning on tipping me for this issue?
I would understand if you don’t, for the reason you’ve mentioned, just want to know where you stand. 🙂

[2019-08-01 14:21] kuhnchris commented on #329
that already happened, no? @danlipert

[2019-08-01 14:22] kuhnchris commented on #315
Is that already implemented as part of the standardbounties overhaul?

[2019-08-01 14:25] kuhnchris commented on #310
@danlipert is there any monitoring for this in place?

[2019-08-01 14:26] kuhnchris commented on #288
@owocki @PixelantDesign I suppose this is the "original" github org ticket.

[2019-08-01 14:29] kuhnchris commented on #537
Is this still relevant? also throwing in txids is pointless as it can be replaced by the user. (e.a. gas up)

[2019-08-01 14:34] kuhnchris commented on #557
Hey there! Since there is no information in here: was there any information how this is going to continue, or did this simply disappear?

[2019-08-01 14:38] kuhnchris commented on #658
@danlipert do we still have problems with umlauts and other special characters or is that fixed already? (asking you since I guess it's connected to the database locale)

[2019-08-01 14:39] #651 closed

[2019-08-01 14:40] #640 closed

[2019-08-01 14:44] #636 closed

[2019-08-01 14:46] kuhnchris commented on #631
Hey there, did this ever go somewhere? :-)

[2019-08-01 14:47] #623 closed

[2019-08-01 14:48] #615 closed

[2019-08-01 14:50] kuhnchris commented on #614
@thelostone-mc do you know if this is still the case?

[2019-08-01 14:51] #609 closed

[2019-08-01 14:51] #604 closed

[2019-08-01 14:52] #603 closed

[2019-08-01 14:54] kuhnchris commented on #602
to this day we still use the github url + std_bounty_id in the url...
![image](https://user-images.githubusercontent.com/761911/62303771-03d96000-b47d-11e9-8ffd-c34b03250338.png)

[2019-08-01 14:57] #592 closed

[2019-08-01 15:02] kuhnchris commented on #572
Did something come out of this?

[2019-08-01 15:14] kuhnchris commented on #560
Was this ever realized on the repo itself?

[2019-08-01 15:17] #659 closed

[2019-08-01 15:18] frankchen07 commented on #4901
so the code is long because I'm taking into account alot of potential actions.

1. funder designation - last time you did a funder action or funded a bounty (separate dbs)
2. contributor designation - last time you did a contributor action or completed a bounty (also separate dbs)

according to the SQL code the staff members got excluded from the query so I can add you back in, but ideally you'd s

[2019-08-01 15:20] kuhnchris commented on #680
@octavioamu did this ever make it to prod?

[2019-08-01 15:22] kuhnchris commented on #692
@frankchen07 @vs77bb did this get superseeded or is this still relevant?

[2019-08-01 15:23] kuhnchris commented on #694
so this is the original 1099 ticket... good to know we're postponing it successfully since over a year already lol

[2019-08-01 15:24] #694 closed

[2019-08-01 15:24] frankchen07 commented on #692
@kuhnchris - I'd say this is lower priority right now

[2019-08-01 15:24] #701 closed

[2019-08-01 15:25] #704 closed

[2019-08-01 15:25] octavioamu commented on #680
not sure this original ticket has a merged PR my video is about using opera wallet

[2019-08-01 15:25] Dan-Nolan commented on #631
Woah throwback issue, I forgot about this convo! 😉

Actually Gitcoin has helped bounty a number of different issues for ChainShot! I'm excited they're all in the final stages of development. Once they're all complete I feel as though there will be a pretty extensive open-source curriculum for learning Ethereum!

Specifically on the web3.js, @jenil04 is finishing up on a cool new tutorial that I'm

[2019-08-01 15:25] kuhnchris commented on #692
OK, i'm throwing it into the backlog priority for now then. Thanks. :-)

[2019-08-01 15:27] kuhnchris commented on #715
is that html5 game idea still floating around? (hint: hackathon)

[2019-08-01 15:29] kuhnchris commented on #680
guess i'll have to throw the question back to you then @owocki . :-( (sorry)

[2019-08-01 15:30] #726 closed

[2019-08-01 15:31] #727 closed

[2019-08-01 15:31] kuhnchris commented on #730
@owocki do you know if this is still the case? anyone got an iphone to test/help us out here?

[2019-08-01 15:33] kuhnchris commented on #732
@thelostone-mc did you ever come around to do the prototype?

[2019-08-01 15:33] #742 closed

[2019-08-01 15:33] PixelantDesign commented on #4863
Frank to set up flows in hot jar!

[2019-08-01 15:33] #4863 closed

[2019-08-01 15:34] kuhnchris commented on #743
@danlipert since this seems to (also) be a topic regarding fail-over, infrastructure, etc. - is this still something that does happen? or do we upgrade instances one after another so this is basically moot?

Thanks!

[2019-08-01 15:34] #754 closed

[2019-08-01 15:36] octavioamu commented on #680
but what do you want to know?

[2019-08-01 15:38] #760 closed

[2019-08-01 15:41] kuhnchris commented on #631
hah I loved playing with ChainShot ages ago when it was still in Alpha or Beta, really really liked what you are doing. guess talks about cross-promotion didn't progress any further heh. ;-)
Anyways, looking forward to more of your content. @owocki i'll let you decide how we continue on this.

[2019-08-01 15:42] kuhnchris commented on #680
I just wanted to know if:
a.) this issue is still being relevant
b.) there are still hardcoded references to metamask and
c.) if this was superseeded by your aforementioned PR.

Thanks!

[2019-08-01 15:43] kuhnchris commented on #767
This was (probabbly) already implemented in the wake of the Funder Feedback Form. Closing this one (let me know if I got that wrong)

[2019-08-01 15:43] #767 closed

[2019-08-01 15:43] #770 closed

[2019-08-01 15:44] #796 closed

[2019-08-01 15:46] #1589 closed

[2019-08-01 15:46] #1673 closed

[2019-08-01 15:46] #819 closed

[2019-08-01 15:46] #869 closed

[2019-08-01 15:46] #909 closed

[2019-08-01 15:46] #1075 closed

[2019-08-01 15:46] #1117 closed

[2019-08-01 15:46] #1180 closed

[2019-08-01 15:46] #1534 closed

[2019-08-01 15:46] #1552 closed

[2019-08-01 15:46] #1553 closed

[2019-08-01 15:47] kuhnchris commented on #793
I assumed this evolved into the ambassador program. closing.

[2019-08-01 15:47] #793 closed

[2019-08-01 15:48] #797 closed

[2019-08-01 15:49] #798 closed

[2019-08-01 15:49] #799 closed

[2019-08-01 15:51] kuhnchris commented on #815
Did we ever implement that @thelostone-mc  ?

[2019-08-01 15:51] #826 closed

[2019-08-01 15:51] #830 closed

[2019-08-01 15:53] kuhnchris commented on #831
@owocki you played around but never commit this, no? :-)

[2019-08-01 15:55] kuhnchris commented on #834
was it that easy?

[2019-08-01 15:57] octavioamu commented on #680
answering from my side
a) I believe making gitcoin open to other wallets more than metamask is very relevant.
b) yes the metamask code is not modularised that why I just added support to opera just to tips in my pr.
c) My approach is kind of more general to use add web3js and use it, with that adding support to opera, wallets browsers etc. Not sure about "trust wallet" specific.

One of the things

[2019-08-01 15:58] #865 closed

[2019-08-01 16:04] #875 closed

[2019-08-01 16:05] kuhnchris commented on #894
I guess this resulted into the platform fee?

[2019-08-01 16:05] #894 closed

[2019-08-01 17:13] willsputra commented on #4680
did a color & copy update with @PixelantDesign . thoughts @alexvotofuture ?
![crowdfund1](https://user-images.githubusercontent.com/19514207/62313172-ac5de300-b4c2-11e9-82d4-0f1451e0b291.jpg)
![crowdfund2](https://user-images.githubusercontent.com/19514207/62313173-ad8f1000-b4c2-11e9-8279-b8fe1eebcea6.png)

[2019-08-01 17:20] willsputra commented on #4755
updated the funder email with feedback from @PixelantDesign

![funder email](https://user-images.githubusercontent.com/19514207/62313586-b16f6200-b4c3-11e9-8c2a-e12460d39b22.jpg)

[2019-08-01 17:35] owocki commented on #4362
yes

that number should only include successful tx's

Yes ! here it is - i added tab with etherscan data and one with gitcoin data too.
https://docs.google.com/spreadsheets/d/17G8c9Z6PLN-7aMGdS4_JD78oHAvLdfCp1vM8_tlSJL8/edit#gid=1480236244

There seems to be more rows from etherscan than with gitcoin though -- is this account used for something else too?

[2019-08-01 17:35] owocki commented on #4362
it should only be one tx per period

[2019-08-01 17:50] #4937 closed

[2019-08-01 17:54] octavioamu commented on #4814
@thelostone-mc @danlipert @kuhnchris remember we already have toasts we just don't use it https://getbootstrap.com/docs/4.3/components/toasts/

[2019-08-01 18:10] danlipert opened #4940 "As a Gitcoin administrator, I'd like to record the consent information when people agree to our cookies, to comply with various regulations"
### User Story

As a Gitcoin administrator, I'd like to record the consent information when people agree to our cookies, to comply with various regulations

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Our legal team has advised us that we need to

[2019-08-01 18:12] danlipert opened #4941 "As a gitcoin user, I'd like to have information about third-party integrations, so I know if my anonymized data is being used for analytics"
### User Story

As a gitcoin user, I'd like to have information about third-party integrations, so I know if my anonymized data is being used for analytics

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: For legal purposes, we should change our cook

[2019-08-01 18:39] octavioamu commented on #4940
how we can track identity of cookies if people is not logged? Is not the idea of that cookies like google analytics not being related to de identity of the users?

[2019-08-01 20:12] edsonayllon commented on #4934
URL: https://gitcoin.co/kudos/redeem/earlygrowers

It seems the Kudos transaction failed also, but it is showing completed on that URL.

<img width="669" alt="Screen Shot 2019-08-01 at 4 11 25 PM" src="https://user-images.githubusercontent.com/34966228/62324269-210b3000-b477-11e9-8ee7-edb81849b508.png">

<img width="907" alt="Screen Shot 2019-08-01 at 4 11 34 PM" src="https://user-images.githubuse

[2019-08-01 20:30] hamidous commented on #4112
i found one bug  XSS in the website type info -Light spider results: 1 dynamic URLs of total 50 URLs crawled - Method: GET

[2019-08-01 21:57] owocki commented on #4934
just put in a fix 60412e0fb802238fd5a3b865f9576e8eed7e0307 try now

[2019-08-01 23:24] edsonayllon commented on #4934
The original transaction failed, so the token never reached my Ethereum account, and it won't allow me to resubmit the transaction.

[2019-08-02 00:00] owocki commented on #4934
I reset all the transactions you redeemed today. Should allow you to
resubmit since I did that.

On Thu, Aug 1, 2019 at 5:24 PM Edson Ayllon <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

[2019-08-02 00:01] owocki commented on #4934
Looks like you submitted this issue late yesterday or early today.. I’ll
have to make sure I got the one from your submission then when I’m not AFK

On Thu, Aug 1, 2019 at 6:00 PM Kevin Owocki <kevin@gitcoin.co> wrote:

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photos

[2019-08-02 08:39] danlipert commented on #4852
Posted writeup in slack

[2019-08-02 08:39] #4852 closed

[2019-08-02 09:12] danlipert commented on #4940
@octavioamu IP address is acceptable for identity

[2019-08-02 09:15] danlipert commented on #743
Yeah IMO its moot - the way we do deploys right now there shouldn't ever be a moment where the load balancer is completely dead

[2019-08-02 09:16] #743 closed

[2019-08-02 09:23] danlipert commented on #628
I'll just add to this we need to resurrect our staging box - the static files for it were hosted on k8s so that configuration needs to be fixed

[2019-08-02 09:24] danlipert commented on #557
This would be nice, but we've got too many other priorities right now

[2019-08-02 09:25] danlipert commented on #310
@kuhnchris yup - we have monitoring in place for system metrics like disk space, IO, CPU, memory, etc.

[2019-08-02 09:25] #310 closed

[2019-08-02 09:26] #313 closed

[2019-08-02 09:26] #329 closed

[2019-08-02 09:28] danlipert commented on #444
This would be nice - maybe we can organize an epic/project board for staging resurrection and improvements? what do you think @kuhnchris would you be interested in organizing it?

[2019-08-02 10:18] kuhnchris commented on #444
@danlipert sure, interested yes - it only makes sense for "big" changes tho, or for test cycles (e.a. either on demand or during the test cycles before deployment) - anything particular you need me to think this through?

[2019-08-02 10:29] PixelantDesign opened #4942 "As Gitcoin Core, we'd like to increase developer flow into bounties and hackathons so that funders have a higher success rate on their bounties since they'll receive more contributor applications on a bounty --by leveraging CodeFund Ads."
# User Story
As Gitcoin Core, we'd like to increase developer flow into bounties and hackathons so that funders have a higher success rate on their bounties since they'll receive more contributor applications on a bounty.

# Why Is this Needed
- Increase developer flow into Gitcoin Bounties
- Grow the Gitcoin Community
- Dogfood other products within our product suite. CodeFund will be able to sel

[2019-08-02 11:15] owocki commented on #4942
I think we need to think through the economics of this.  Are we subsidizing it with our 10% fee?  Are CodeFund publishers just going to do this for free as a ride-along when there is no sold inventory?  Are Gitcoin customers going to pay extra for it?

[2019-08-02 11:25] owocki commented on #444
if we do this, we need to harden the stage servers to prevent prod data leaks.  (put the web interface behind a password is probably the first step)

[2019-08-02 11:30] owocki commented on #310
i wrote 'monitoring' in the ticket title, but i think what we might really need is alerting when a threshold is reached (cron server is above 85% disk utilization)..

[2019-08-02 13:57] PumpkingWok commented on #4806
Hi @owocki,
I'm going to start it this afternoon.
Thanks in advance.

[2019-08-02 14:34] owocki commented on #4806
great

On Fri, Aug 2, 2019 at 7:57 AM andrea zuccarini <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook.

[2019-08-02 14:35] owocki commented on #4910
@bakaoh wanna submit work and i will pay out?

[2019-08-02 14:40] owocki opened #4943 "Gitcoin documentation Update Bounty"
This is a bounty that is designed to help the core team make sure the documentation at https://github.com/gitcoinco/web/tree/master/docs is up to date.

How it works:
1. Find somewhere where the documentation is lacking or incorrect.
2. Click 'start work' and let me know where it is / why.
3. Submit a PR that updates the documentation according to your work plan from step 2.  If it is accepted, I

[2019-08-02 14:40] owocki commented on #4943
@androolloyd you are the team member to most recently went through the setup process.  Got any areas of the documentation that we should put on a wishlist?

[2019-08-02 14:50] owocki opened #4944 "DESIGN - As a prospective user, investor, or community member of Gitcoin, I would like /results to have even MORE info about Gitcoin's usage, so I can more accurately get a sense of the community, and therefore make a decision about whether Gitcoin is worth my time or not."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a prospective user, investor, or community member of Gitcoin, I would like /results to have even MORE info about Gitcoin's usage, so I can more accurately get a sense of the community, and therefore make a decision about whether Gitcoin is worth my time or not.

### Why Is this Needed

[comment]: # (Describe the p

[2019-08-02 15:47] willsputra commented on #4755
contributor dashboard email
![contributor dashboard](https://user-images.githubusercontent.com/19514207/62382280-d2958880-b57f-11e9-8d51-9cef6eee2664.jpg)

[2019-08-02 16:02] vince0656 commented on #4744
Hi @PixelantDesign,

I'm making good progress on this but I'm also waiting for #4876 to be merged into master so that I can open a PR as this work builds on top of the work done for #4745.

I do have a question about this work. What happens if someone has already re-marketed their issue twice (the limit of how many times you can re-market)? I'm assuming that when you extend the issue expiration, y

[2019-08-02 16:36] owocki commented on #4934
hey @vs77bb  https://gitcoin.co/_administrationkudos/bulktransfercoupon/20450/ is invalidly configured.  it points to a kudos token thats generation 2.  only gen 1s can be cloned.  you need to update it to point to the gen 1 kudos.

[2019-08-02 16:55] danlipert commented on #4755
This looks amazing! Are the UI elements screenshots from the site or are they from your designs? What's left for us to add so the site and the email sync up perfectly?

[2019-08-02 18:56] kuhnchris commented on #444
yes, either that - or use a system like Guacamole for remote access, or require a VPN (openVPN + docker is so easily set up, it's a crime)

[2019-08-02 19:53] edsonayllon commented on #4934
@vs77bb somehow resent the Kudos. The token is showing in my wallet now. Let me know if/when I'm good to close this issue @owocki.

[2019-08-02 21:15] edsonayllon commented on #4909
It seems this issue returned. On receiving a second payment, the first payment was removed from ETH contribution balance. The ETH missing is from the bounty listed in the bug description.

<img width="1243" alt="Screen Shot 2019-08-02 at 5 13 55 PM" src="https://user-images.githubusercontent.com/34966228/62399223-0bfed180-b549-11e9-8c66-d3866dcb10eb.png">

[2019-08-02 21:16] edsonayllon commented on #4909
Actually, nevermind, let me close this issue. This is a different bug.

[2019-08-02 21:16] #4909 closed

[2019-08-03 16:52] owocki opened #4946 "bug - emails don't render the 'above the fold' section in outlook"
see this screenshot:
![photo (49)](https://user-images.githubusercontent.com/513929/62414727-62fdb880-b5d4-11e9-929e-575bb31274cb.jpg)

reported by @caleteeter

[2019-08-03 23:20] BrentAllsop commented on #4362
Oh, thanks for sending this google sheet, that really helps.
In that you indicated the 13,548 DAI I was trying to track down, above, was from the CLR (Who is CLR?) matching.  So that explains why a was falling down that rat hole trying to figure out what it was.

@owocki aked:

If you are talking about the [0x68085e7f88e90fa9247489c83fab30b177ebccb3](https://etherscan.io/tokentxns?a=0x68085e7f88e9

[2019-08-04 00:45] BrentAllsop commented on #4362
I just noticed that is about a 3% discrepancy.  Maybe this is a getcoin fee?

[2019-08-04 14:11] thelostone-mc commented on #4844
might need @octavioamu to also weigh in on this

[2019-08-04 14:12] thelostone-mc commented on #4845
@willsputra thanks mate ^_^

[2019-08-04 16:54] owocki commented on #4944
@rash0 i just updated the review section of the bounty desc.  i dont see any design stuff on github.com/rash0 -- do you havea design portfolio?

[2019-08-04 17:07] owocki commented on #4362
no, no gitcoin fee

[2019-08-05 04:14] rash0 commented on #4944
@owocki  unfortunately, currently i have only one project on github that i designed, if you need someone with more projects, then im not a good fit

[2019-08-05 04:21] owocki commented on #4706
@usmanmuhd do u still want to do this?  were waiting on your PR

[2019-08-05 04:23] usmanmuhd commented on #4706
Yup, on it. Have DMed Octavio regarding the same.

[2019-08-05 11:47] PixelantDesign commented on #3544
@rafalkowalski could you provide an update on this?

[2019-08-05 11:48] PixelantDesign commented on #4397
@octavioamu do we need teh backend completed first?

[2019-08-05 11:49] PixelantDesign commented on #4397
If we put it in the drop down, it's very hidden @octavioamu, I prefer @willsputra propolsal

[2019-08-05 11:52] PixelantDesign commented on #3876
@adamgambrell looking forward to seeing a PR! Please let us know if you have any questions!