[2019-09-20 17:20] vince0656 commented on #3876
Hello @gitcoinbot I was only notified 1h ago (see issue details page) about getting approval for this work. I will start it shortly :)

[2019-09-20 18:08] owocki opened #5231 "profile not found 500 error"
https://sentry.io/organizations/gitcoin/issues/983264195/?project=1398424&query=is%3Aunresolved

Profile.DoesNotExist/api/v0.1/social_contribution_email
error
Profile matching query does not exist.

[2019-09-20 18:29] sebastiantf opened #5232 "Feature request: Faucet request status in dashboard"
### User Story

As a Gitcoin user, I want to be able to see the status of my faucet request in my dashboard for better clarity.

### Description
Currently there is no option or method of checking the status of my faucet request. There isn't even an option to check whether I've already submitted a request. The option is to submit a request again and only then would I be told that the same wallet ha

[2019-09-21 04:31] danlipert commented on #5230
The desktop client is Polymail - https://polymail.io/

[2019-09-21 08:09] owocki commented on #5230
I put in a fix for this this afternoon. It’s on the stable branch; latest
commit.

On Fri, Sep 20, 2019 at 10:31 PM Dan Lipert <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on

[2019-09-21 08:41] ririen commented on #5162
First of all, there are also a few technical issues to consider when implementing this.

Many mailboxes use aliases, for example gmail considers dotted and non-dotted email addresses as the same. There are also several other flavors in which Google has a strange policy.

- john.smith@gmail.com
- jo.hn.sm.ith@gmail.com
- j.o.h.n.s.m.i.t.h@gmail.com

- john.smith@googlemail.com
- john.smith+gitcoin1

[2019-09-21 12:49] sypha999 commented on #5151
my laptop crashed but i was able to redo a prototype attached in PDF format. Can I go ahead and submit by midweek?
[bot project 1.pdf](https://github.com/gitcoinco/web/files/3638697/bot.project.1.pdf)

[2019-09-21 12:49] sypha999 commented on #5151
@owocki

[2019-09-22 19:40] frankchen07 commented on #5038
@frankchen07 - the scope of this ticket (where this information is stored) affects how the rest of the ticket (aside from discord is coded up), discord PR is currently stored in the profile

perhaps the information we want should be developed with team formation, which may end up a a separate data model from interest.

frank to make sure that the principle (value that's guiding our behavior) is a

[2019-09-22 21:48] vince0656 commented on #4695
@gitcoinbot I’ve implemented the button on the explorer. Just working on pulling the email from the org attached to an issue. Thanks

[2019-09-23 05:54] gonchs opened #5235 "Funding failed half-way through. Funds stuck / lost?"
I was trying to fund this issue:

https://github.com/stablecoinswap/meta/issues/1 - https://imgur.com/a/6OOINNK

The first two transactions were sent:

- https://etherscan.io/tx/0xb00400340ad0d7462d44ad0f0508d7baba733b792c09b7f994f40be9ec919231
- https://etherscan.io/tx/0x6d745bf73a7d4607e157db74941606a13437b0916e7c0e7d66b510ad3f53af27

And the third one failed.

Now the issue is still not funded

[2019-09-23 13:27] #4817 closed

[2019-09-23 15:34] owocki commented on #5151
hey @sypha999 we'll be opening up a new bounty for gitcoin bot art soon!

[2019-09-23 15:45] owocki commented on #4976
excite for this!  can we find time to do the infra work for it in prod this sprint @danlipert @frankchen07

[2019-09-23 17:29] kuhnchris opened #5236 "Dashboard titles do not wrap"
**Describe the bug**
Descriptions are not wrapped properly.

**To Reproduce**
Check /dashboard

**Expected behavior**
Proper wrapping

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/65448156-73921880-de38-11e9-9024-0389ed603d0e.png)

**Desktop (please complete the following information):**

- OS: Windows
- Browser: Firefox
- Browser Version: Latest Stable

[2019-09-23 17:39] kuhnchris commented on #5232
seems to easy enough to implement. Anyone may want to try that?

[2019-09-23 17:41] kuhnchris commented on #5217
did we migrate off medium completly or do we want to have an additional section "Gitcoin Blog" before "Gitcoin on Medium"?

[2019-09-23 17:42] kuhnchris commented on #5218
Is it already finalized what it does entail as "product"? as in, pricing, offering, etc.?
If so, we can add it fairly easy. Give me the wording and an icon and I'll throw it on

[2019-09-23 17:45] kuhnchris commented on #5204
Maybe he means up here?
![grafik](https://user-images.githubusercontent.com/761911/65449168-b0f7a580-de3a-11e9-8014-4a7fc3c935f8.png)

[2019-09-23 19:00] frankchen07 opened #5237 "As a hackathon admin, how can I get mailing list signups before and during a hackathon event?"
### User Story

As a hackathon admin, how can I get mailing list signups before and during a hackathon event?

### Why is this needed?

We currently cannot distinguish contributor logins as those who are interested/have intent in an ongoing hackathon, unless they perform a work action (participate). Completely capturing mailing list signups:

1. captures interest before a hackathon starts
2. allow

[2019-09-23 19:27] frankchen07 opened #5238 "As a hackathon participant, 0.001 ETH on all of our prizes is inaccurate and misleading"
### User Story

As a hackathon participant, 0.001 ETH on all of our prizes is inaccurate and misleading

### Problem

Previously, the 0.001 ETH display on all of our hackathon prizes was because the sponsor didn't necessary have the actual funds, the incorrect currency was being used, or Gitcoin  didn't support the correct currency at the time. As we tighten up our hackathon experience, it doesn't

[2019-09-23 19:31] kuhnchris commented on #5238
wouldn't 2.) shoot ourselves in the foot if by the time the hackathon finishes and the funds are not in we try to resolve a contract with the wrong amount of money that isn't in there?
3.) would be a general nice thing to have, as mentioned previously, but would need to be usable only with caution.

I think the main solution to this would simply be that the sponsors either directly fund themselves

[2019-09-23 19:57] frankchen07 commented on #5221
There's a design update on this one. Will ping @willsputra to help out on this one, and then we'll post the sketch file.

[2019-09-23 20:25] kuhnchris opened #5239 "New Github Profile Feedback / catch-all issue"
**Describe the bug**
Add bugs/errors/... from the new profile page in here

**Additional data**
Please provide screenshots and browser/OS info!

[2019-09-23 20:26] kuhnchris commented on #5239
Numbers are too small
![grafik](https://user-images.githubusercontent.com/761911/65459945-31290580-de51-11e9-9555-bb98ced3434f.png)

[2019-09-23 20:27] kuhnchris commented on #5239
I see myself listed in "Spent", the Y-axis has no description, Earning seems to include broken profiles.
![grafik](https://user-images.githubusercontent.com/761911/65459954-371ee680-de51-11e9-82c2-81c0299320b2.png)

[2019-09-23 20:28] kuhnchris commented on #5239
Is the missing space between Rank and "Contributor" or "Funder" on purpose?
![grafik](https://user-images.githubusercontent.com/761911/65460055-62a1d100-de51-11e9-8b55-e81d7c377ea7.png)

[2019-09-23 21:29] owocki commented on #5238
maybe we could have a `bounty.prize_override` which can be displayed on the bounty explorer and details page in place of the normal stdbounties funded amounts...

[2019-09-23 22:08] kuhnchris commented on #5238
still, wouldn't that cause a race condition as the person can only be payed as much as the stdcontract has been funded with?
If finance is quick enough i see no problem, I just fear that we will get ourselves into (very) hot water if we artificially 'display or promise' prices that will only later be in full effect with the possible outcome that someone may back off or the funding run short or the

[2019-09-23 22:29] jschiarizzi commented on #5235
@kuhnchris i dont think this is a Grants issue. Looks like funding a bounty issue

[2019-09-23 22:56] owocki commented on #5235
unfortunately theres not a wayto initiate the third tx again. i can refund the fees and you can resubmit the whole thing.. does that work?

this assumes the third one is not salvageable .. can you resubmit it with metamask at a higher gas price (this is what metamasks UI calls 'speed up')

[2019-09-24 00:17] frankchen07 opened #5241 "Remove "join a github team" from the hackathon onboarding page"
### User Story

Remove "join a github team" from the hackathon onboarding page

### Why Is this Needed

Alex & Vivek are doing team formation through Discord for Devcon

### Description

<img width="1142" alt="Screen Shot 2019-09-23 at 17 14 31" src="https://user-images.githubusercontent.com/7516920/65471875-c7dfcd00-de25-11e9-8d07-3ece52574b25.png">

### Current Behavior
join a github team is cur

[2019-09-24 01:44] gonchs commented on #5235
A refund would work. And then I'll resubmit it again. Third transaction is not pending, it wasn't sent.

[2019-09-24 02:16] frankchen07 commented on #5057
# DRAFT 2019-09-23

<p>Hello from the Gitcoin team! Here’s what the core team and our community have been busy working on in the last few weeks.</p>

<p>Among the most recent releases are a new and enhanced CLR matching view for Gitcoin Grants, a new start work form that captures Discord usernames, and a nifty view on the contributor dashboard for new bounty matches! There are also two releases th

[2019-09-24 04:36] edsonayllon commented on #5109
@owocki I did a pull request pushing a fix. https://github.com/gitcoinco/web/pull/5243

However, this issue has been resolved with the new profile released recently. I'm good to close this issue.

[2019-09-24 04:38] Sm00g15 opened #5244 "Gitcoin Quadratic Funding UI bug"
**Describe the bug**
Quadratic funding grant cards have overlapping text

**To Reproduce**
go to https://gitcoin.co/grants/ and look inside the grant cards

**Expected behavior**
non-overlapping text

**Screenshots**
<img width="945" alt="Screen Shot 2019-09-24 at 4 36 20 PM" src="https://user-images.githubusercontent.com/14209806/65481507-bb24ad00-dee9-11e9-90d7-b0dbdb6b723c.png">

**Desktop (ple

[2019-09-24 05:19] frankchen07 commented on #5238
I'll reiterate that the problems we're solving for are two-fold.

1. we want the correct amount displayed
2. ideally the correct amount should be locked in the contract, this enables payout to go smoothly.

@vs77bb / @alexvotofuture - for most of the payout issues, was it confusion about the advanced payout tips system or was it because the amounts were not correct, and therefore they had to pay o

[2019-09-24 05:24] frankchen07 commented on #5204
I think Octavio meant it's already in the dropdown, but not the top nav bar yet (since it is becoming a core product / already a core product)

Either way, it's lower priority right now!

[2019-09-24 11:07] danlipert opened #5245 "Stored XSS"
Placeholder for stored XSS issue

[2019-09-24 13:25] willsputra commented on #5221
@frankchen07 updated design.

changes:
• removed step 3 (create/find teams on github)
• edited the copy of step 2 (join discord):
"Chat with other hackers, ask sponsors and the Gitcoin team questions, find or create a team, and communicate real-time on the Gitcoin Events Discord."

will upload the Sketch file if everything's fine!

![hackathonhowto](https://user-images.githubusercontent.com/195142

[2019-09-24 13:38] octavioamu commented on #5221
@willsputra upload the file so I can start working then if there is something to change I can make the needed changes

[2019-09-24 16:31] ceresstation opened #5246 "Changing issue details to 'permissionless' does not auto-approve pending applicants"
**Describe the bug**

When updating an issue to be permissionless rather than permissioned users who are already in a pending state waiting to be approved must still be manually approved.

**To Reproduce**

Create a traditional + approval required issue, wait for people to apply, and then change both categories in issue details.

**Expected behavior**

Any user in a pending state is automatically

[2019-09-24 16:52] owocki opened #5247 "update clr match amounts on grants cards to new design"
![grants_index](https://user-images.githubusercontent.com/513929/65532646-708b3c80-deb9-11e9-8141-097900434354.png)

[2019-09-24 17:17] owocki commented on #5109
kewl ill pay out

[2019-09-24 17:17] owocki commented on #5109
oh wait theres no bo8unty on this ? derp..

can tip u per this

[2019-09-24 18:56] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-09-24 19:07] octavioamu commented on #4695
How is going @vince0656 ?

[2019-09-24 19:12] vince0656 commented on #4695
Good thanks @octavioamu! Currently working on the back-end as we speak, adjusting the Django form to use the new info and bringing it all together. Shouldn't be much longer. Will keep you updated

[2019-09-24 19:20] edsonayllon commented on #5109
@owocki Great. My address is `edsonayllon.eth`. Also, my Gitcoin profile is also my current Github username, @edsonayllon.

[2019-09-24 19:50] octavioamu commented on #4695
Cool submit a wip pr as soon as you can so we can follow up

[2019-09-24 20:43] vince0656 commented on #4695
Ok will do @octavioamu. The definition of done states 'simple email template will be provided for this task'. Do you have this or have I missed it? I know that I need to link to https://gitcoin.co/bounty/new?invite=USERID&source=ISSUEURL

[2019-09-24 20:50] vince0656 commented on #4695
Also, can you confirm where the user id comes from? The profile model??

[2019-09-24 21:31] vince0656 commented on #4695
@octavioamu draft PR raised as promised. Awaiting your comments in relation to the above questions

[2019-09-25 01:42] octavioamu commented on #5238
As a easiest solution if the value is 0.001 then the button will show "see prizes"

[2019-09-25 04:47] gonchs commented on #5235
Any estimate on when will the refund be sent? Please send it to the original sender address: `0x053b7f29bc6d95182f0e54efc86549938878647e`

[2019-09-25 05:04] ghost opened #5253 "Increase payout transaction reverted"
Tried to increase the payout for https://gitcoin.co/issue/austintgriffith/burner-wallet/234/3499.

One tx passed:

https://etherscan.io/tx/0xb186685f8f211f27f2b2c3b8c8c4060a023d8fb795f58dd592d08af2afe3f658

the second one was reverted:

https://etherscan.io/tx/0x41c8eed63cadc9f082e9dcd4791ebe5a18358188b6b4ab3ae369ac69b910a6c8

resulting in a loss for me of $0.1 (value of the confirmed transaction)

[2019-09-25 05:59] #5238 closed

[2019-09-25 07:04] #5221 closed

[2019-09-25 11:06] kuhnchris commented on #5239
"Spent" shows wrong transactions, i never did... 39 "spend" transactions, especially not the same action 5-9 times:
![grafik](https://user-images.githubusercontent.com/761911/65595538-50c94680-df95-11e9-8ce8-21b47f022756.png)

[2019-09-25 14:42] SCBuergel opened #5259 "As a funder of a bounty I cannot see my bounties"
As a funder of a bounty I cannot see my bounties. I navigate to https://gitcoin.co/dashboard/ and click on `Funder` and I see
`OPEN BOUNTIES 0`, `IN PROGRESS 0`, `BOUNTY SUBMISSIONS 0`, `EXPIRED BOUNTIES 0`
despite the fact that I have one ongoing bounty, various completed bounties.

My username is SCBuergel, I tried from various browsers with the same outcome.

[2019-09-25 14:48] SCBuergel opened #5260 "As a funder of a bounty I cannot pay out the bounty, button disabled and no info"
I was funding the following bounty which has been successfully completed by the bounty hunter:
https://gitcoin.co/issue/hoprnet/hopr-website/8/3463
Now I click on `Pay out` and get to the page `Let's Get This Bounty Paid Out` which has two buttons: `BASIC` and `ADVANCED` - unfortunately the first button is disabled so that I cannot pay out the bounty. The other button works.

[2019-09-25 14:48] owocki commented on #5235
sorry; was heads down yday building https://github.com/gitcoinco/web/pull/5257

just sent the refunds

https://etherscan.io/tx/0x844be0d76c69463a95f8da5bbde4c29790885d5e2cbf09e49a3c39f2c2807035
https://etherscan.io/tx/0xc19b8b80dc1f0d624270385f925743a0a4b67d28e21e505d537f36da930e346f

[2019-09-25 15:16] owocki commented on #5260
there are no submissions. thats why u can't do a basic payout.

@thelostone-mc @willsputra looks like we may not making that clear to uses on the basic vs advanced payout page

[2019-09-25 15:17] owocki commented on #5253
can send  a refund if u want... i think at current gas prices itll cost more in gas than the value to send it tho :/

[2019-09-25 15:28] octavioamu commented on #5238
"see prize" is a stop gap for now.
The cases I have seen:
- Needs to overwrite the value (microsoft)
- Coins not supported by the platform
- Bounties with more than 1 prize inside (1st 2nd 3rd prizes)
- Prize is not only tokens/coin had other benefits
cc @vs77bb @alexvotofuture @ceresstation

[2019-09-25 15:35] ririen commented on #5053
Another report submitted on: engineering@gitcoin.co

ping @danlipert

[2019-09-25 17:21] gonchs commented on #5253
No need, I just wanted to report it.

[2019-09-25 17:39] androolloyd opened #5261 "Tip Claim Gas Price Reissue/Refactor"
### Who
Underpriced Tip Claim Transactions - abstract to Platform Transactions
### What

Tip claims prices have no reasonable floor set on the `gasPrice` of the claim transaction.

The function that calculates it queries data from the database and takes an average.

There have been cases where the resultant `gasPrice` is 1 WEI. #4701

Today's gas market is pretty volatile, usage is on the rise, tr

[2019-09-25 20:24] octavioamu commented on #5237
Idea 1 now is not possible since the new designed onboard doesn't have login button.
I think the idea of having to check why are you on gitcoin, as part of funder / contributor, also "are you here for hackathon, bounties, grants?

[2019-09-25 20:34] octavioamu commented on #5203
@frankchen07 seems the design ticked had some movement and some data had changed on production, maybe this will need some work from @willsputra until get ready to be coded.

[2019-09-25 20:51] vince0656 commented on #4695
@octavioamu I've made some assumptions to the questions above and have finished the work now pending review (video demo attached). I'll move the PR to ready for review

[2019-09-25 21:25] frankchen07 commented on #5237
@alexvotofuture to input your thoughts on this

[2019-09-25 21:28] frankchen07 commented on #5203
I believe @owocki already coded this up.

what specifically changed here?

[2019-09-25 21:39] octavioamu commented on #5203
@frankchen07 Yes with "some data had changed" I mean Kevin did some changes and added groups of new informations on that page http://gitcoin.co/profile/gitcoinco And now the design doesn't satisfy the new data loaded on that page.

[2019-09-25 23:23] octavioamu commented on #4695
I don't but we can reuse the template for bounties is just the header with logo and footer

[2019-09-25 23:24] octavioamu commented on #4695
Tested locally and left some comments on the PR, looking very nice

[2019-09-25 23:44] frankchen07 commented on #5238
what was the reason for overwriting the value re: microsoft?

is it difficult to spin up a placeholder token so we can add it and display it by placeholder token? similar to ocean protocol? I think we asked harmony to do this too

what makes sense here is what most marketing tactics follow: we would just list 1st as the amount and have the details in the bounty details (like win the lottery, only

[2019-09-26 06:43] alexvotofuture commented on #5237
This ticket captures the problem well, thanks for putting this together, @frankchen07 and @octavioamu.

I don't think a questionnaire on a user's profile is going to fit our needs for this. Too many ways for people to not fill that out (they may already be signed in, may already have a Gitcoin profile and not feel the need to answer, may rush through and make up answers to get into the hackathon q

[2019-09-26 10:51] #5247 closed

[2019-09-26 10:54] thelostone-mc commented on #5244
Thanks @Sm00g15 for the report !
We rolled out the fix after we saw it on twitter

<img width="389" alt="Screenshot 2019-09-26 at 4 22 47 PM" src="https://user-images.githubusercontent.com/5358146/65683047-f229c880-e079-11e9-9436-3e870499dc14.png">

This is how it looks right now in live !

Closing this out ^_^

[2019-09-26 10:54] #5244 closed

[2019-09-26 11:07] thelostone-mc commented on #5195
@SCBuergel this got fixed up in another PR and is already live
tested it out locally
https://share.vidyard.com/watch/xctw4odQjYkpsRZDmnn54Q?

[2019-09-26 14:13] #5241 closed

[2019-09-26 14:19] owocki commented on #5203
i made a good faith effort at getting the data added to the org profile on my ticket (live exaple: https://gitcoin.co/profile/gitcoinco/people ) but the prod stuff still doesnt have wills design applied

[2019-09-26 15:25] thelostone-mc commented on #5223
<img width="310" alt="Screenshot 2019-09-26 at 8 54 59 PM" src="https://user-images.githubusercontent.com/5358146/65702016-ec46de00-e09f-11e9-818d-d540349c392b.png">

made it a lil cleaner like in the landing page

[2019-09-26 17:24] owocki commented on #5208
hey @mul1sh -- @vs77bb and @alexvotofuture have another discord API task we could use your help with... any interest?

[2019-09-26 18:36] sebastiantf opened #5271 "Extra height for header in 'New funded issues' email on mobile"
**Describe the bug**
The email template for 'New Funded Issues' email shows an extra margin on header in mobile displays.

In [template.html](https://github.com/gitcoinco/web/blob/1e1238c24d9dbdabcc16975e30a379c1710f9a75/app/retail/templates/emails/template.html), the `#header` `div` has a css with `height:300px` which causes the header to have an extra height on mobile displays. This looks a litt

[2019-09-26 18:51] frankchen07 commented on #5203
update: @willsputra to take a look to see what portions of his designs have been implemented or not, given new metrics

[2019-09-26 19:54] mul1sh commented on #5208
@owocki sure, what do you need done?

[2019-09-26 20:01] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-09-26 20:04] owocki commented on #5208
@alexvotofuture has the deets

[2019-09-26 20:57] owocki commented on #5271
thanks; what browser size is that?
  and what portion of it (in px) is the gitcoin email?

[2019-09-26 20:59] owocki commented on #5271
do u have any more recent emails? the ones we shipped a week ago had `height: 300px` but we've recently changed that to `max-height: 300px` as of monday of this week

[2019-09-26 22:17] frankchen07 opened #5273 "As a hackathon participant, I'd like the prize bounty end date ("time left") to match the actual state of affairs."
### User Story

As a hackathon participant, I'd like the prize bounty end date ("time left") to match the actual state of affairs.

### Problem

From the contributor perspective:

The bounty end date on the Gitcoin issue details "time left: 1 month" doesn't match with what we have in the issue details description "All bounty submissions must be received no later than 11:59 PM EDT on October 4th, 2

[2019-09-26 22:54] frankchen07 commented on #5237
I slightly changed the ticket to ensure that we're capturing the correct problem.

I'm going to encourage that we focus more on problem oriented statements, rather than outright suggestions.

This is the true problem that we're trying to solve. I agree with this.

I believe this is already true, they can't start or submit without logging in.

this is then registration on top of logging in in order

[2019-09-26 23:19] frankchen07 opened #5274 "As a hackathon funder, when my prize bounty reaches the deadline, how can I be assured that no more submissions are allowed after the deadline, and that payout can begin?"
### User Story

As a hackathon funder, when my prize bounty reaches the deadline, how can I be assured that no more submissions are allowed after the deadline, and that payout can begin?

### Why Is this Needed

When you're a sponsor for a hackathon and you're opening issues, it makes sense that the issues you open follows the end date of a hackathon.

A deadline means if you didn't submit your pr

[2019-09-26 23:38] alexvotofuture commented on #5273
Critical (but n00b-level) question to determine if we need to do anything with this: Can a funder pay out a bounty using advanced payout _after_ a bounty has passed its expiration date?

[2019-09-26 23:41] alexvotofuture commented on #5273
Rationale is this: We want to cut off "submit work" instances after the bounty expiration date, but we still want to allow the funder to pay out the winning submission days afterward, once they've had time to review the submissions and select a winner.

[2019-09-26 23:54] alexvotofuture commented on #5274
Critical (but n00b-level) question to determine if we need to do anything with this: Can a funder pay out a bounty using advanced payout after a bounty has passed its expiration date?

Rationale is this: We want to cut off "submit work" instances after the bounty expiration date, but we still want to allow the funder to pay out a contributor for the winning submission days afterward, once they've

[2019-09-26 23:57] alexvotofuture commented on #5273
With granular date selection (which has already been implemented) this should be as easy as selecting the correct submission deadline date (assuming we always end the hackathon at just before midnight, otherwise we'll need a time selector as well).

See this other ticket for the issue with selecting a submission deadline/expiration date (Tl;Dr need to make sure funders can still use advanced payou

[2019-09-27 07:47] sebastiantf commented on #5271
I was using Chrome on Android.

The most recent mail I received was 6 days ago on Saturday 21 Sept. I haven't received any more recent emails

[2019-09-27 16:10] owocki commented on #5271
should be better now; see todays email http://bits.owocki.com/9b60607c17c3/Screen%20Shot%202019-09-27%20at%2010.10.21%20AM.png

[2019-09-27 17:41] mul1sh commented on #5209
@gitcoinbot almost done, just testing the script one last time in telegram :)

[2019-09-27 17:43] sebastiantf commented on #5271
The new email looks good on the Gmail app.
I haven't checked the responsive look on Chrome Desktop. Should be fine, I guess. Will update after checking.

But another design flaw I found is while accessing Gmail in mobile mode via the actual mobile browser.

![Screenshot_20190927-231130_Chrome](https://user-images.githubusercontent.com/36922376/65790006-356c6000-e17c-11e9-9070-87e99225baa9.jpg)

Th

[2019-09-27 19:59] owocki opened #5279 "gmail gives phishing warning with weekly roundup email"
![screen_shot_2019-09-27_at_3 57 52_pm](https://user-images.githubusercontent.com/513929/65798506-0976bd80-e12f-11e9-8164-782b385fd938.png)

[2019-09-28 17:02] ryanchristo opened #5280 "Invalid and inconsistent profile information"
**Describe the bug**

Some information on my profile seems to be invalid or inconsistent:

1. In the activity section, there is an item that says I tipped myself 2.4116314454939634 DAI for a total value of 500 USD. (1) I received a 500 DAI tip (2) I received the tip from `joincolony`. After looking at the profile page for `joincolony`, I noticed that all tips are showing up as tips from each user

[2019-09-29 14:03] mul1sh commented on #5208
@alexvotofuture any word on this 🙂

[2019-09-29 20:34] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-09-29 22:42] alexvotofuture opened #5281 "As a hackathon hacker I want team channels created for me in Discord automatically"
### User Story
As a hackathon hacker I want to have a Discord team channel created for me automatically when I "Start Work" on a prize.

### Why Is this Needed
Hackathon participants often need a real-time communication channel for coordinating with potential and active teammates, and need a place to ask sponsors project-specific details.

The Gitcoin team currently uses Discord to provide these c

[2019-09-29 22:43] alexvotofuture commented on #5281
cc @owocki @kuhnchris @octavioamu @frankchen07 @mul1sh for input on how to approach this

[2019-09-29 22:44] alexvotofuture commented on #5208
Hey @mul1sh, created a ticket for this here: https://github.com/gitcoinco/web/issues/5281

[2019-09-30 01:51] owocki commented on #5280
thanks; looking into it

On Sat, Sep 28, 2019 at 11:02 AM Ryan Christoffersen <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebo

[2019-09-30 12:49] mul1sh commented on #5209
@gitcoinbot submitting in less than 4 hours, fixing 1 final bug in the script :)

[2019-09-30 15:55] #5236 closed

[2019-09-30 18:25] owocki opened #5282 "The BIG Gitcoin Grants CLR Round 3 Product Feedback Thread!"
Welcome to the BIG Gitcoin Grants CLR Round 3 Product Feedback Thread!

Grants is one of our core products, but as we've been focused on [hackathons](http://hackathons.gitcoin.co) it's the one we haven't had much time to spend devving on as much recently.

The next big effort to improove grants will be CLR round 4 (probably in Q4 sometime).

This is a thread where you can catalogue product feedbac

[2019-09-30 18:25] owocki commented on #5282
grants idx page is slow; needs some cacching/optimizationn b4 round 4

[2019-09-30 18:26] owocki commented on #5282
i think dominant assurance contracts would be cool https://github.com/gitcoinco/web/issues/4158

[2019-09-30 18:34] prestonvanloon commented on #969
:+1: I want this!

[2019-09-30 18:35] nanexcool commented on #5282
I loved it! My main gripe is: I want to donate to 5 projects, need to do 10 txs. How about approving once and giving out from that allowance?

[2019-09-30 18:46] kobuta23 commented on #5282
Some projects have complained about difficulty listing onto the platform. Using an on-chain listing process (ex. Kleros TCR) instead of a manual whitelisting would be cool

Some clear rules about what is defined as collusion/wrongdoing would be nice! I understand identifying collusion is hard enough as it is. Defining it clearly would be a good first step IMO

Also, not everyone has a GitHub accou

[2019-09-30 19:02] nanexcool commented on #5282
One other thing! It would be great if you could verify this contract on Etherscan

https://etherscan.io/address/0xdf869fad6db91f437b59f1edefab319493d4c4ce#code

I decompiled and it's pretty simple, but would still be good for adding trust. This is the one to donate an ERC20 one, not the recurring contracts. Although from what I saw, in the case of recurring payments, each project has its own contr

[2019-09-30 19:05] owocki commented on #5271
bountying now; hopefully someone can figure out the responsive design issues on email. there are so many email clients!

[2019-09-30 19:40] sebastiantf commented on #5271
I myself have applied for the work. I shall look into the problem and fix it.

[2019-09-30 20:02] octavioamu commented on #5259
Are you able to see https://gitcoin.co/issue/hoprnet/hopr-website/13/3500  on "in progress"?
That one should be there, regard to the completed bounties are not showed in the dashboard we provide a link on the bottom to see the "Done" ones https://gitcoin.co/explorer?bounty_filter=createdByMe&network=mainnet&order_by=-web3_created

[2019-09-30 23:13] alexvotofuture opened #5283 "As a potential hackathon hacker I want a way to navigate to hackathons from the Gitcoin homepage"
### User Story

As a potential hackathon hacker I want a way to navigate to all hackathons from the Gitcoin homepage.

### Why Is this Needed

There is currently no way to navigate to [past hackathons Gitcoin has hosted](https://hackathons.gitcoin.co) from the Gitcoin homepage, and only one way to see the current hackathon: a banner at the top that must be manually updated.

As Gitcoin moves towar

[2019-09-30 23:28] owocki commented on #5282
need to reduce approve() collisoins for contributions that happen right after each other

ex https://etherscan.io/tx/0x055503218c735e7b88f5c013c21cadde45e7314071de68c066dcbb6c3afce7a2

[2019-10-01 00:02] octavioamu commented on #5130
@willsputra can you post the sketch file?

[2019-10-01 01:55] owocki commented on #5283
@willsputra could maybe help here

[2019-10-01 03:01] willsputra commented on #5130
@octavioamu sketch file:
https://github.com/gitcoinco/creative/blob/master/Product/Shared%20Management/Shared%20Management%20-%20Milestone%20I%20and%20II.sketch

[2019-10-01 03:11] sebastiantf commented on #5271
Waiting for code review.

How can I generate a sample email using the updated CSS styles?

[2019-10-01 10:27] danlipert commented on #5274
We can set the end date of the bounty to the hackathon's end date when they select the hackathon from the create bounty form to simplify the UX - is there a case where we would want to allow the funder to set it to something different than the hackathon end date?

[2019-10-01 10:50] owocki commented on #5274
the original gitcoin system set the gitcoin bounty expiration date as the stdbounties expiration date and we got lots of complaints from funders who were annoyed they couldnt pay out after expiration date..

not saying this ticket is invalid; just adding a data point.

[2019-10-01 10:58] LefterisJP commented on #5282
I may have stumbled across a bug so perhaps a different issue should be in order.

1. I don't like giving the option to any extension like metamask to have access to all sites so I had it configured to need permission given by me. I had given it permission before browsing the grants page.

2. I tried to fund my first grant, but clicking the "Fund" button was doing nothing. After 2-3 clicks I reali

[2019-10-01 11:06] owocki commented on #5271
https://github.com/gitcoinco/web/blob/master/docs/ENVIRONMENT_VARIABLES.md#sendgrid
then call this method
https://github.com/gitcoinco/web/blob/master/app/marketing/mails.py#L634

[2019-10-01 12:25] sebastiantf commented on #5271
Thanks @owocki. I shall try this and post a screenshot if possible asap.

[2019-10-01 14:25] willsputra commented on #5203
@frankchen07 @octavioamu  did some small tweaks to the tabs based on the current deployed version. let me know your thoughts!

1. 'Active Bounties' sounds ambiguous (do bounties that are on 'Work Started' fall here?). Maybe 'Open Bounties' is clearer for contributors who want to look for open bounties in an org.

![Orgs-OpenBounties](https://user-images.githubusercontent.com/19514207/65970852-d370

[2019-10-01 15:54] frankchen07 commented on #5274
problem is inability to payout if there are no submissions - post expiration date, you can still submit a PR but you can't "submit work"

@thelostone-mc to confirm pre & post expiration date ability to submit / payout

is this ticket necessary given the current marketing on bounties?

[2019-10-01 17:37] sebastiantf commented on #5271
@owocki, Do I have to build the entire project locally by following the Setup Environment instructions in the documentation to test this?

[2019-10-01 18:12] octavioamu commented on #4695
@vince0656 submit work so I can payout. Good work!!

[2019-10-01 18:39] vince0656 commented on #4695
@octavioamu did you mean submitted?😀Thanks man! Please don’t forget the tip

[2019-10-01 18:41] octavioamu commented on #4695
did you submitted already? https://gitcoin.co/issue/gitcoinco/web/4695/3192 I don't see it
![image](https://user-images.githubusercontent.com/1358093/65990405-e49d8580-e461-11e9-86d5-4efa76edf27f.png)

[2019-10-01 18:50] vince0656 commented on #4695
My bad! Let me fix that

[2019-10-01 19:22] frankchen07 commented on #5203
@willsputra

1. is there a design for the activity tab? or do we want to keep the activity as an element under the top square (below the company info and above the tabs) and not let it have it's own tab?

2. does the "update header photo" and "update" on the logo show up all the time, or only when it's hovered over?

3. The follow button seems quite large, and perhaps in a little bit of an awkward

[2019-10-01 19:59] vince0656 commented on #4695
@octavioamu Fixed

[2019-10-01 20:06] octavioamu commented on #4695
Done @vince0656

[2019-10-01 20:17] owocki commented on #5271
you have to get the docker container setup; you probably dont need every
env var tho

On Tue, Oct 1, 2019 at 12:37 PM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find

[2019-10-01 20:29] sebastiantf commented on #5271
I was able to generate an email, but the images are not showing up

[2019-10-01 21:16] sebastiantf commented on #5271
I figure that the issue is particular to when accessing Gmail webmail through mobile.

[2019-10-01 21:22] owocki commented on #5271
u could poin tsettings.BASE_URL to gitcoin.co instead of your localhost to
work around this..

On Tue, Oct 1, 2019 at 4:16 PM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

[2019-10-02 00:25] alexvotofuture opened #5288 "As a hackathon administrator I want easy access to hackathon metrics and data"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-10-02 04:20] sebastiantf commented on #5271
Ok @owocki. I shall try that.

[2019-10-02 06:14] frankchen07 commented on #5273
this has been implemented, and the granular date selection exists

[2019-10-02 06:14] #5273 closed

[2019-10-02 06:16] frankchen07 commented on #5274
closed - the current functionality solves the problem - keeping the possible actions flexible for a funder, regardless of expiration date

[2019-10-02 06:16] #5274 closed

[2019-10-02 11:30] sergejmueller opened #5289 "Leaderboard link broken on profile pages"
**Describe the bug**
A profile page has a link to the leaderboard (below `OrganizationRank`). Clicking on the link ends on a 404 page: https://gitcoin.co/leaderboard/%5B%5D

**To Reproduce**
* https://gitcoin.co/profile/polkadot-js
* Click the link _View_ on the line `#44 On Leaderboard`

**Expected behavior**
The Leaderboard page.

[2019-10-02 12:56] #4181 closed

[2019-10-02 13:00] #4695 closed

[2019-10-02 13:08] thelostone-mc commented on #5231
Hasn't occurred in the past 10 days! will reopen if it pops up again

[2019-10-02 13:08] #5231 closed

[2019-10-02 13:08] #5195 closed

[2019-10-02 13:35] #5223 closed

[2019-10-02 13:41] mul1sh commented on #5281
@alexvotofuture awesome thanks for this , i'm fixing a tough bug for the other discord bot issue, but i'll definitely be done with it tomorrow. So if this is bountied up I can get it done by Friday without further delays, thanks.

[2019-10-02 13:41] mul1sh commented on #5208
@alexvotofuture thanks 🙂

[2019-10-02 14:47] willsputra commented on #5203
@frankchen07 thanks for the feedback!

1. The current deployed design of the Activity tab looks fine for now, so I think we can keep that. It probably should still have its own tab since the activity list is super long.

2. I think it should show up all the time if you're the owner of the page, since the actual photos would be less important for you than knowing that you can change it (it's also g

[2019-10-02 15:07] #4807 closed

[2019-10-02 15:11] thelostone-mc commented on #2363
Yo @mbeacom so closing this out as
- the UI already handles this as of now to show
- we are migrating to v2 std bounties which has multipayout built in

[2019-10-02 15:11] #2363 closed

[2019-10-02 15:15] thelostone-mc commented on #5260
Solution: On the payout page -> right now we show 2 options
Basic + Advanced Payout
The former is disabled with the message stating it has no submissions

A neater solution would be : hide the basic payout section itself
and leave a message below the advanced payout stating basic payout will be available once contributior make a submission

To see what we are talking about Flow:

- Create bounty `

[2019-10-02 15:19] thelostone-mc commented on #5289
This has been resolved with the latest deploy ! Could you double check ?

[2019-10-02 15:20] thelostone-mc opened #5291 "chore: fix css for profile/active"
#### Description

- Navigate to https://gitcoin.co/profile/gitcoinco/active

The list looks like this at the moment

<img width="1145" alt="Screenshot 2019-10-02 at 8 47 37 PM" src="https://user-images.githubusercontent.com/5358146/66057348-2dcf0180-e556-11e9-8f15-930d4407a599.png">

Reuse the css from https://gitcoin.co/explorer to make it look neater

<img width="1387" alt="Screenshot 2019-10-02

[2019-10-02 15:23] thelostone-mc opened #5292 "chore: hide kudos badges on mobile"
#### Description

Navigate to gitcoin.co/profile/thelostone-mc on mobile view
You'll notice the kudos badges are overflowing.

Ensure they are hidden on mobile so that the profile seems cleaner

<img width="382" alt="Screenshot 2019-10-02 at 8 52 07 PM" src="https://user-images.githubusercontent.com/5358146/66057641-b057c100-e556-11e9-851e-27196c0a4220.png">

[2019-10-02 15:29] mbeacom commented on #2363
@thelostone-mc No complaints here. 😄

[2019-10-02 15:30] #5075 closed

[2019-10-02 15:32] thelostone-mc commented on #4950
This has now been fixed ^_^

[2019-10-02 15:32] #4950 closed

[2019-10-02 15:32] #4946 closed

[2019-10-02 15:32] #4913 closed

[2019-10-02 15:34] thelostone-mc commented on #4895
Steps in locally to reproduce this :

- ensure you have all permission via django admin
- create a grant
- navigate to created grant and add milestone
- once added cannot be removed / edited. This is a needed feature

[2019-10-02 15:49] sergejmueller commented on #5289
Not fixed.
[code]

[2019-10-02 16:11] Ian-Yy commented on #5291
Hi @thelostone-mc , can I give it a try on this issue?

[2019-10-02 18:40] Solexplorer opened #5296 "I see double entries in the hackaton page when selecting "Consensys""
**Describe the bug**

I navigated to the [hackaton](https://gitcoin.co/hackathon/road-to-devcon/) page and when I selected "Consensys", I see double entries for the Open Finance bounty.
**To Reproduce**

Go to the Hackaton page provided above for Road To Devcon and filter for Consensys.
**Expected behavior**

Only one bounty shown and not duplicates.
**Screenshots**

![image](https://user-images.g

[2019-10-02 19:25] kuhnchris commented on #5281
@mul1sh you're making your own bot, or do you just create the interface for getting an signal when the start work occoured? thanks

[2019-10-03 01:16] owocki opened #5298 "the big 'gitcoin quests' feedback thread."
## Other Quests Threads

- Round 1 Winners Congrats Thread https://github.com/gitcoinco/web/issues/5337
- Round 2 Winnerse https://github.com/gitcoinco/web/issues/5435
- Decnetralized Quest Roadmap https://github.com/gitcoinco/web/issues/5436
- Feedback thread https://github.com/gitcoinco/web/issues/5298
- Request Topic Thread https://github.com/gitcoinco/web/issues/5334
- Create Topic Thread/Boun

[2019-10-03 05:18] sebastiantf commented on #5271
Applying `width:100%` can solve the issue on Gmail mobile webmail. But it looks bad on the Gmail web app.

Gmail mobile webmail has poor support for media queries:
[https://www.campaignmonitor.com/css/email-client/gmail-mobile-webmail/](https://www.campaignmonitor.com/css/email-client/gmail-mobile-webmail/)

So applying styles for the `#logo` img for mobile displays is not having effects

[2019-10-03 06:33] mul1sh commented on #5209
Just a bit still testing :(

[2019-10-03 06:45] mul1sh commented on #5281
@kuhnchris i'll create a bot that will do the above, its much easier to implement it this way. But i'll also add instructions for the gitcoin team on how to deploy the bot to discord so as to achieve the above.

[2019-10-03 07:15] vince0656 commented on #3544
@PixelantDesign @thelostone-mc @octavioamu Sorry to bug but any idea as to when this will be paid out? PR merged into master is: #5066

Thanks in advance

[2019-10-03 07:19] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-03 08:50] kuhnchris commented on #5281
It's no problem, i'm just asking the other way around, since we do have a bot already (no problem about a 2nd one tho), the question is how you implement the call to the "outside" from the Start Work button. Do you hardcode a URL to a webserver running paralell to the bot? Do you connect the bot to the database of gitcoin? using some signals?

Let me know, since this is security technically releva

[2019-10-03 11:51] mul1sh commented on #5281
@kuhnchris great questions, 😃

1. No i'll not hardcode a URL to a webserver
2. No the bot will not connect to the gitcoin database

Essentially what will happen is, if the issue is a gitcoin hackathon issue and the user already has saved  their discord username details and they click start work, then the discord bot will be called with the details of the issue and the user and then from there be a

[2019-10-03 13:09] kuhnchris commented on #5281
I... honestly do not care, that's @alexvotofuture 's call which bot(s) to use.

The essential is clear, but the point why this PR/Issue exists is, that I current do not see myself how the communication should work without hardcoding the start-work right now. If you got it to work, please let me know, i'll check the PR, eager to learn with what method you come up. :-)

Thanks!

[2019-10-03 19:01] sebastiantf commented on #5271
I have been able to produce the following results. Hope this solves the issue.

GMail Web App:

![solved1gmail](https://user-images.githubusercontent.com/36922376/66155829-1cf9bb00-e63e-11e9-99cb-e1d0db811371.png)

GMail Mobile Webmail:

![photo4952191219384035379](https://user-images.githubusercontent.com/36922376/66155835-1f5c1500-e63e-11e9-960c-cc16f94bf67c.jpg)

[2019-10-03 20:04] owocki commented on #5271
awesome!!

On Fri, Oct 4, 2019 at 4:01 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook

[2019-10-03 20:11] owocki commented on #3544
looks like @PixelantDesign owns this; and she just went out on maternity leave!

i can pay you out of my funds if you want ... then when @PixelantDesign gets back we can cancel the bounty

[2019-10-03 20:19] vince0656 commented on #3544
@owocki yes please. Could you pay me and then cancel the bounty when @PixelantDesign is back. Thanks

[2019-10-04 04:50] sebastiantf commented on #5271
Does this qualify as a solution?

Shall I close the previous PR, commit this change and submit my work on Gitcoin?

[2019-10-04 18:32] #5034 closed

[2019-10-04 18:56] frankchen07 commented on #5203
1. sounds good
2. sounds good
3. sounds good
5. ah I mixed up that small detail re: contributor and org leaderboard.

[2019-10-04 18:58] frankchen07 commented on #5281
I believe @kuhnchris is working on this? (I'll let him chime in here)

I'll add another constraint - there seems to be a 50 chat room limit that we'll have to bypass somewhere as well.

[2019-10-04 20:02] emilianobonassi opened #5300 "Funding tx failed but displayed in the grant"
**Describe the bug**
I've tried to fund this grant https://gitcoin.co/grants/141/metamoneymarket?tab=activity but only the last one had success, in the first ones I've set the wrong amount only the approve tx was successful.

**To Reproduce**
Fund any project without having the amount you have, you just need ETH to pay gas for the approve tx.

**Expected behavior**
Fund successful should not be di

[2019-10-04 20:05] emilianobonassi commented on #5300
Tested with a more big one

<img width="1385" alt="Screenshot 2019-10-04 at 22 04 21" src="https://user-images.githubusercontent.com/8052911/66236540-08c3c580-e6f3-11e9-99fb-0f75a7312a29.png">

[2019-10-04 21:26] owocki commented on #5282
people keep contacting my on twitter asking why their typeform grant submissions were not accepted and why they never heard back. we need a better way of managing the typeform queue next time .

cc @ceresstation

[2019-10-04 21:33] thelostone-mc commented on #5291
@Ian-Yy go for it mate ^_^

[2019-10-04 21:39] #5271 closed

[2019-10-05 00:01] thelostone-mc commented on #5289
Fixed ! Deploying

[2019-10-05 00:12] #5289 closed

[2019-10-05 04:45] edsonayllon commented on #5109
Closing due to new profiles

[2019-10-05 04:45] #5109 closed

[2019-10-05 14:33] mul1sh commented on #5208
Wrapping up this one now.

[2019-10-05 20:35] kuhnchris commented on #5281
@frankchen07 as noted above @mul1sh seems to be working on it, so I'll let him finish for now. The 50 rooms limit shouldn't matter that much - but we can always split the categories - or allow the bot to create new categories if the ones we use are being filled up - e.a. if there are 40 channels in the category we create a new category and switch to that one (giving us about 10 rooms time incase t

[2019-10-06 15:59] mul1sh commented on #5209
@gitcoinbot wheeww!! finally will be submitting tomorrow :)

[2019-10-06 18:25] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-07 16:31] willsputra commented on #5204
had a few ideas. curious what people think! 🙂
![hackathon](https://user-images.githubusercontent.com/19514207/66330387-dfa96c00-e962-11e9-9f1e-a60d2ebe9a0c.png)
![mobile](https://user-images.githubusercontent.com/19514207/66330376-d91af480-e962-11e9-96fc-b07a941f0809.png)

[2019-10-07 17:08] sebastiantf commented on #5271
Yes I'm still working on it. I haven't been able to commit the new change that actually solves the issue and create a new PR. I shall do that asap.

[2019-10-07 17:57] frankchen07 opened #5304 "As a Gitcoin contributor, the stats on my profile are not correct."
### User Story

As a Gitcoin contributor, the stats on my profile hover-over in issue details is inconsistent and/or inaccurate

### Why Is this Needed

bug

### Description

https://gitcoin.co/issue/AdExNetwork/adex-dapp/114/3279 for michaelcohen shows a different success rate than one he sent to me (below, 8000% vs 80% in the link above):

<img width="489" alt="Screen_Shot_2019-10-04_at_2 36 10_

[2019-10-07 19:22] kuhnchris commented on #5204
I like the lightblub one.

[2019-10-08 00:42] robin-thomas opened #5305 "Dashboard page doesnt detect bounties as completed or expired"
**Describe the bug**
The Gitcoin dashboard page (https://gitcoin.co/dashboard/) shows bounties as `In Progress` even though they had been submitted already.

**To Reproduce**
* Start work on a bounty
* Submit the work on the bounty
* Go to https://gitcoin.co/dashboard/
* That bounty will be shown as "In Progress" in the dashboard.

**Expected behavior**
Submitted or expired bounties should be upda

[2019-10-08 10:47] kuhnchris commented on #5300
Hey there - thanks for reporting - we keep having issues with "failed" and "replaced TXIDs. As soon as I know more we'll keep you posted. Thanks.

[2019-10-08 10:49] kuhnchris commented on #5298
Getting logged on into the UX of quests your pop overs for news is hidden (white on white)
![image](https://user-images.githubusercontent.com/761911/66389998-f9ca6500-e9c9-11e9-9952-70df357d879d.png)
![image](https://user-images.githubusercontent.com/761911/66390013-ff27af80-e9c9-11e9-98b2-a6f2aca700c4.png)

[2019-10-08 10:50] kuhnchris commented on #5298
My name is definitly not too long for this:
![image](https://user-images.githubusercontent.com/761911/66390076-28e0d680-e9ca-11e9-96fa-a60738196fab.png)

[2019-10-08 10:51] kuhnchris commented on #5298
During "Pitch your eth killer" I'm stuck on the page for "Quest Rules"
![image](https://user-images.githubusercontent.com/761911/66390124-4a41c280-e9ca-11e9-9ea5-f2a94ee88673.png)

[2019-10-08 10:52] kuhnchris commented on #5298
Same with the others, seems to be MIDIjs is missing?
![image](https://user-images.githubusercontent.com/761911/66390232-8a08aa00-e9ca-11e9-8503-1c84a259e762.png)

[2019-10-08 11:02] kuhnchris commented on #5298
the midijs.net certificate went dead today, that's why.
![image](https://user-images.githubusercontent.com/761911/66390838-d1dc0100-e9cb-11e9-9ef6-bd92501b1d75.png)

[2019-10-08 12:05] mul1sh commented on #5208
Doing some final testing here..

[2019-10-08 14:25] Solexplorer opened #5307 "Gitcoin API throws error 500 on bounties/<bountyId>/ endpoint"
**Describe the bug**

When trying to get data using a bounty id, it returns error 500:
![immagine](https://user-images.githubusercontent.com/50027175/66403955-d1e9fa00-e9e7-11e9-8be3-05d83ccb34fe.png)

**To Reproduce**

Use the gitcoin endpoint: https://gitcoin.co/api/v0.1/bounties/3538 where 3538 is the last bounty as of the time of writing, I have tried with other bounties but the result is stil

[2019-10-08 16:27] willsputra commented on #5239
**Improvements**

It should be explained clearly what the grids meant.
![1](https://user-images.githubusercontent.com/19514207/66413814-b7854000-ea2a-11e9-9019-18a5132f697f.jpg)

Add "Status" and "Quests".
![2](https://user-images.githubusercontent.com/19514207/66413860-d4217800-ea2a-11e9-96d1-bd0a70feb688.jpg)

It seems like the "Share" button on Status is disabled until the text reached a certai

[2019-10-08 16:33] willsputra commented on #5239
"Reliability" tooltip should show up next to "Reliability", not "Avg Hourly Rate".
![5](https://user-images.githubusercontent.com/19514207/66414591-50688b00-ea2c-11e9-95a9-5e550bcdb716.jpg)

[2019-10-08 16:59] alexvotofuture opened #5308 "As a hackathon sponsor I want performance metrics for my prizes"
### User Story

As a hackathon sponsor I want performance metrics for my prizes so that I can intervene if prizes are under-performing during the hackathon and validate my sponsorship investment after the hackathon.

### Why Is this Needed

There is no easy way to provide metrics to sponsors and administrators to help them understand the "health" of a hackathon prize and decide what can be done to

[2019-10-08 17:00] alexvotofuture commented on #5308
@frankchen07 Let me know if these queries are all possible given the current data structure. I can help prioritize which queries are most important so we can begin coding them up if they don't already exist.

[2019-10-08 17:12] alexvotofuture commented on #5308
From Zach @ Labs: Determining the effect of prize funds on participation, as well as participation by time of year would be helpful.

[2019-10-08 17:12] #5288 closed

[2019-10-08 18:00] tedyoung commented on #1617
FYI, I've had to turn off notifications, etc., because I keep getting notified of JavaScript bounties, which, as a Java developer, I'm not interested in.

[2019-10-08 21:37] frankchen07 commented on #5308
@alexvotofuture thanks ill be working on this tomorrow during deep work, and I'll take a pre-look today. Thanks for putting together the ticket.

[2019-10-08 22:43] speedyFixer commented on #4314
Hi @owocki , It was a while since I attempt to generate kudos from resolve this issue, the last attempt I couldn't get It, I will try again the next week, I'm able to fix the problem (I have a lot experience with Django and Python), but I haven't the luck generating the kudos data for testing.

This is just for keep you posted about this issue.

[2019-10-09 11:23] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-09 15:26] mul1sh commented on #5209
@gitcoinbot finally submitting today :)

[2019-10-09 15:29] willsputra commented on #5283
I think this is captured here too https://github.com/gitcoinco/web/issues/5204

[2019-10-09 20:24] kuhnchris commented on #5298
midijs.net folks renewed their certificate! We're green here!

More bugs:
During the FOSS - White on White reads like shite.
![grafik](https://user-images.githubusercontent.com/761911/66517449-769d3200-eae3-11e9-93e6-435278572eb6.png)
Give the text some outline (black or so)

[2019-10-09 20:27] kuhnchris commented on #5298
Is... battle-bottoshi using Secret of Mana Battle music? Or some other (S)NES game? Sounding very similar to me...

[2019-10-09 20:27] kuhnchris commented on #5298
Double slash in tweet:  https://gitcoin.co//quests/5/battle-bottoshi

[2019-10-09 20:30] kuhnchris commented on #5298
By clicking on that link you can re-solve the quest as many times as you like - you cannot redeem the kudos again tho.
![grafik](https://user-images.githubusercontent.com/761911/66517971-66d21d80-eae4-11e9-9940-95a97590504a.png)

[2019-10-09 20:38] kuhnchris commented on #5298
Use a loading screen - half of the time the music kicks in if i'm on the 2nd or 3rd question.

[2019-10-09 23:26] frankchen07 commented on #5189
duplicate ticket

[2019-10-09 23:26] #5189 closed

[2019-10-10 10:09] think-in-universe commented on #5115
@owocki any comments or suggestions? will Gitcoin support non-ERC20 token some time?

[2019-10-10 12:23] willsputra commented on #5188
we can put it in the orgs profile
![hackathonreport](https://user-images.githubusercontent.com/19514207/66568338-d1926000-eb9b-11e9-8278-2e85d1cf1a3d.jpg)

[2019-10-10 23:31] alexvotofuture opened #5311 "As a Gitcoin admin, email communications to hackathon sponsors and hackers is a manual, operationally laborious process"
### User Story

As a Gitcoin hackathon administrator I want to send out automated emails to hackers and sponsors so that I can reduce operational labor and ensure timely communication of key info.

### Why Is this Needed
*Summary*:
Gitcoin hackathon administrators send emails to hackers and sponsors at various points during the hackathon to share administrative updates, provide tips on how to use

[2019-10-11 07:03] vince0656 commented on #3544
@owocki any update on the payout? Thanks in advance

[2019-10-11 09:53] owocki commented on #5298
just put in a few fixes for the above

[2019-10-11 11:33] owocki commented on #5298
everett feedback
https://docs.google.com/presentation/u/1/d/1BIS9fKMu9j_Wvu2cGRX0hzh49_Gzmdplbzu5d8ykEMQ/edit#slide=id.g61f8dcc9c8_0_91

[2019-10-11 13:34] owocki commented on #5115
we are working on cross-chain support

On Thu, Oct 10, 2019 at 7:09 PM think-in-universe <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owock

[2019-10-11 13:36] owocki commented on #5188
awesome.. curious what @alexvotofuture thinks about this

[2019-10-11 13:52] think-in-universe commented on #5115
that's great. thanks.  @owocki

[2019-10-11 15:41] mul1sh commented on #5208
@gitcoinbot still testing..

[2019-10-11 16:51] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-11 16:57] KevinSmall commented on #5298
The first quest "pitch to a VC" I found it hard to understand what was going on. I think I got that I was supposed to be pitching an Ethereum Killer (EOS) to a VC, but the questions were not really questions (was that the VC asking me questions?). It just looked like lots of statements that looked to be quite random.

The second quest seems to be much clearer, it is structured as proper questions

[2019-10-12 00:48] notadamking opened #5313 "Error while submitting payment"
I encountered an error while submitting payment for an issue, which caused the payment to fail. This happened after submitting the first of two payments. The first payment still went through. How do I go about getting this 0.55 ETH back?

https://www.blockchain.com/eth/tx/0x75fdf2c1936d616613650d519004764ef8031f62dff36b41a2497e380b00a6bc

[2019-10-12 05:50] ligi commented on #5298
0.5 mins is not really how you say this. Should state 30 seconds ..-)

![image](https://user-images.githubusercontent.com/111600/66695692-a294ff00-ecff-11e9-87a9-f349d7c02110.png)

[2019-10-12 06:02] ligi commented on #5298
Also I was in the cooldown period because IMHO the expected answers are wrong multiple times. Starting with the first question.
![image](https://user-images.githubusercontent.com/111600/66695776-58f8e400-ed00-11e9-8bf5-8f5aee39634d.png)

expected is (1) (3) (4) - but where does https://en.wikipedia.org/wiki/The_Open_Source_Definition state (3) and (4) ?

and here:

![image](https://user-images.git

[2019-10-12 07:54] owocki commented on #5313
what error did you see?  looks like both tx's went through to me, and that your bounty was posted https://gitcoin.co/issue/notadamking/tensortrade/30/3546

[2019-10-12 11:50] acolytec3 opened #5314 "Bounty Invite email is broken"
**Describe the bug**
Bounty invite email seems to have 2 bugs
1) Email says I have no payout address but clicking on "set payout address" link takes me to my profile where a payout address is clearly defined.  I do not see this issue on the Gitcoin weekly email.
2) Bounty link opens 404.  I've been invited to several bounties over the past several months and it always opens to a gitcoin 404

**To

[2019-10-12 15:01] notadamking commented on #5313
The bounty was posted because I reposted it again with new ETH.

Here are the two NEW transactions I had to make to post the bounty:
https://www.blockchain.com/eth/tx/0xe6fc9ca18f336a61d487a2c94b97e2bb9f6b24cb72059cd0120e553a2ad17ac4
https://www.blockchain.com/eth/tx/0x4215335bed5b9684e66648b0cb461d91065cab229a2fc36900cdc086b7029028

Here is my meta-mask history:
<img width="359" alt="Screen Shot

[2019-10-12 15:08] mul1sh commented on #5209
@gitcoinbot finally submitting tomorrow, is what I meant 😄

[2019-10-13 03:35] sagarchoudhary96 opened #5315 "Link Broken when trying to go back from bounty page."
**Describe the bug**
When i try to go back from the bounty page to the dashboard by pressing the back button in the browser, it throws an error.

**To Reproduce**
open https://gitcoin.co/dashboard/, click any bounty. once opened click the back button of the browser.

**Expected behavior**
It should redirect to the dashboard but it's throwing an error for now.

**Screenshots**
![Oct-13-2019 09-00-1

[2019-10-14 01:40] owocki commented on #5313
just sent you a refund.. here is the txid 0x89794c4ddbaba63f1b27110f93656ab76fb7f1d84c8cc0a71634d406bef24043

would still love to know which error you encountered in the UI that left you stranded.

[2019-10-14 01:44] notadamking commented on #5313
@owocki Thank you. This is my first time using Gitcoin, I apologize for the confusion.

Here is what happened:

1. I entered a price of 0.50 ETH for the bounty.
2. When I reached the payment portion, the total displayed as 0.55 ETH.
3. When MetaMask opened, the payment showed a total of 0.05 ETH.
4. Upon seeing the seemingly incorrect total of 0.05, I adjusted it to 0.55 and pressed complete.
5. A

[2019-10-14 01:44] #5313 closed

[2019-10-14 08:30] owocki commented on #5313
ah thanks this is helpful!

[2019-10-14 09:24] rachelhamlin opened #5317 "As a bounty funder - web3 not recognized, cannot pay bounties"
As a user, I want Gitcoin to recognize MetaMask so that I can pay out my bounties.

It appears that Gitcoin is not recognizing web3/MetaMask. I've tried with MetaMask on two desktop browsers and in Status. On all 3 browsers tested, I receive the `Web3 locked. Please unlock Metamask` error.

**Expected behavior**
Gitcoin recognizes web3 & allows me to fund and pay out bounties.

**Screenshots**

Br

[2019-10-14 09:55] owocki commented on #5280
sorry for slow response.. devcon got me backed up

c4cbf614a5e1d1f5b86dbd11fe831d613c137c9d will help with earnings

[2019-10-14 10:01] owocki commented on #5280
ok the fix is in for (2).

after my post-devcon catchup, i need to look into the activity feed issues for 1/3.  i wrote a script to backfill some activity items from before we had that feature.. and looks like it behaved incorrectly.. need to figure out how to isolate those activity feed items and fix them.  in the meantime i hid the obviously broken one where you tipped yourself.

[2019-10-14 11:36] mul1sh commented on #5208
@gitcoinbot coming in hot with this issues today 😄

[2019-10-14 13:44] vs77bb opened #5318 "Invite Builder To Join My Gitcoin Tribe"
### User Story

As a funder, I want to offer hunters who I've done great work with the ability to continue work on projects with me, either on open-ended grants or bounties.

As a hunter, I want opportunities to express interest in future projects with funders / to suggest projects which could be follow on work.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is neede

[2019-10-14 13:54] vs77bb opened #5319 "MVP - Hackathon Funder Feedback"
### User Story

As a funder, I want to get rigorous feedback on how it is to build using my tech stack from Gitcoin builders.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Hackathon sponsors want developers to build using their tools. Currently, t

[2019-10-14 18:40] owocki commented on #3544
sorry; devcon broke me inbox! paying out now

[2019-10-14 18:42] owocki commented on #3544
@PixelantDesign when ur back from leave; pls cancel the bounty (do not payout; i already paid!)

[2019-10-14 20:31] owocki commented on #5308
this seems related to what @willsputra did design wise on https://github.com/gitcoinco/web/issues/5188#issuecomment-540547031

[2019-10-14 21:29] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-15 11:42] Webmoss commented on #5298
Completed all 6 quests but there is one Kudos for 2 quests, is this correct, I'm missing the Narwhal Bot?
![Snip20191015_12](https://user-images.githubusercontent.com/1542821/66828494-707adb80-ef51-11e9-9264-feb29373fcf2.png)

Besides that, a fun experience and a great job @owocki

[2019-10-15 14:42] mul1sh commented on #5209
@gitcoinbot just a bit...

[2019-10-15 15:08] willsputra commented on #5203
updated based on the feedback above
![Orgs-Leaderboard](https://user-images.githubusercontent.com/19514207/66844275-a09d9b00-efa0-11e9-811d-0193be66fd1b.jpg)

[2019-10-15 16:23] owocki commented on #5271
thanks! if u see any open issues you want to do tag me on them and maybe
ill add a bounty

On Tue, Oct 15, 2019 at 8:59 AM Sebastian T F <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or

[2019-10-15 16:45] sebastiantf commented on #5271
Great! Of course I will. Would really love to improve this great platform.

[2019-10-15 18:08] ashish10677 commented on #5246
Is this issue open? I would like to take up this issue

[2019-10-15 18:09] ashish10677 commented on #5232
I would love to try it. Can you assign it to me?

[2019-10-16 05:38] frankchen07 opened #5321 "As a hackathon sponsor, payout to multiple winners & users is a confusing & nerve-racking experience."
### User Story

As a hackathon sponsor, payout to multiple winners & users is a confusing & nerve-racking experience.

### Why Is this Needed

Payout is the ultimate conclusion to a hackathon experience, which allows sponsors to payout to multiple or a single winner, globally. This is a powerful feature, and of course, people want assurance and peace of mind when it comes to paying out large amoun

[2019-10-16 06:10] frankchen07 opened #5322 "As a hackathon sponsor, I don't have a place to see live, ongoing projects, which makes me think the hackathon is not as active."
### User Story

As a hackathon sponsor, I don't have a place to see live, ongoing projects, which makes me think the hackathon is not as active.

### Why Is this Needed

While sponsors can catch up on their issues via Github, having a central location where they can see the ideas and workplans of their own projects and other projects brings forth a feeling of energy about the hackathon.

### Descr

[2019-10-16 08:52] owocki opened #5323 "As a user of Gitcoin, the top nav on hackathons.gitcoin.co doesn't match the top nav on gitcoin.co, which is an inconsistent experience"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user of gitcoin, i want the top nav to be updated on hackathons.gitcoin.co to match gitcoin.co top nav so i have a consistent experience

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-10-16 08:56] owocki commented on #5322
idea mentioned on the call: embed gitcoin.co/actvity (but only hackathon activity) in the site

[2019-10-16 08:57] owocki commented on #5321
ill be curious to see if v1 of team payout solves this.. at 100k ft the story makes sense, but that should be validated at 10k feet once the code is ready..

[2019-10-16 15:44] owocki commented on #4806
@PumpkingWok hows this going?  the end of year approaches!

[2019-10-16 15:52] PumpkingWok commented on #4806
Hi @owocki,
How is doing ? How was Devcon ?
I'm so sorry for this period that i could not work on it, I was super busy unfortunately.

Finally i have started a new job position this week and i will be able to come back to it. The next Sunday i will implement the part of code to create a pdf for 1099s and i will write to you here sunday/monday.
Thanks !!

[2019-10-16 19:25] markusw opened #5325 "Old name in profile after changing github username"
I updated my username on github but I'm not able to change it for my gitcoin profile.
Old username: `syq3`
new username: `markusw`

[2019-10-16 20:26] owocki opened #5326 "the big 'i want more avatar parts' thread"
want more accessories / features in the new gitcoin avatar builder ( https://gitcoin.co/onboard/profile/?steps=avatar )? post here:

[2019-10-16 20:28] owocki commented on #5326
maybe more [ports of 2d avatar items](https://github.com/gitcoinco/web/issues/1550)

[2019-10-16 23:05] owocki commented on #5325
https://gitcoin.co/profile/markusw

[2019-10-16 23:12] zoek1 commented on #4121
hi @owocki, i'm free and ready to work on this, could i work on this? I expected finish this task this weekend.

[2019-10-17 14:06] mul1sh commented on #5208
@gitcoinbot finishing in less than 5 hours :)

[2019-10-17 14:44] owocki commented on #5326
from eric: bald head; beards

[2019-10-17 15:01] coderberry commented on #5326
Glasses of all different sorts 👓would be awesome!

[2019-10-17 19:10] frankchen07 opened #5327 "BUILD - bounty interest model milestone I - build out basic data model"
## User Story

BUILD - bounty interest model milestone I - build out basic data model.

### Why Is this Needed

This milestone sets up the foundation for the new bounty model, which is critical for solving a multitude of UX/UI problems that have cropped up.

### Description

This milestone will focus on building out the basic data model for the new bounty model. This includes adding additional fie

[2019-10-17 19:14] frankchen07 opened #5328 "BUILD - bounty interest model milestone II - implement all events in the state machine"
### User Story

BUILD - bounty interest model milestone II - implement all events in the state machine

### Why Is this Needed

Building on top of milestone I, the new bounty data model has existing events, when combined with the internal state of the bounty, will determine the ultimate state that the bounty has.

### Description

A new event model will be added on top of existing states, called B

[2019-10-17 19:18] frankchen07 opened #5329 "BUILD - bounty interest model milestone III - run new bounty interest model in parallel with current bounty interest model"
### User Story

BUILD - bounty interest model milestone III - run new bounty interest model in parallel with current bounty interest model

### Why Is this Needed

We'll be running the old data bounty model and the new one in parallel and batch migrating it over in case anything goes awry. Once the new one is up and running, we can choose to deprecate the old bounty model.

### Description

To int

[2019-10-17 21:39] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-17 22:12] octavioamu commented on #5237
Closing, now last bugs are fixed

[2019-10-17 22:12] #5237 closed

[2019-10-18 02:00] HenriqueFadoni commented on #5291
Can I get this issue? If it still open assign to me!

[2019-10-18 14:49] mul1sh commented on #5209
@gitcoinbot ok doing my final testing for this 😃

[2019-10-18 17:38] ashline commented on #5326
tshirts with logos maybe?

[2019-10-18 18:09] sharmi commented on #5133
Hi,
To implement an effective SEO strategy, We will need to do an initial research. For example, we would need to map out the target audience and the keywords to rank for.

Once we identify the weak links and the opportunities we devise a plan of action for maximum effect.

Following the plan, we will have an output document  of what approach is the best to achieve the SEO goal.  This research is

[2019-10-18 18:55] owocki commented on #5133
@marc-at-consensys could you link the keyword list pls

[2019-10-18 19:59] owocki opened #5334 "Gitcoin Quests Topic Request Thread"
- Feedback thread https://github.com/gitcoinco/web/issues/5298
- Request Thread

Post your request list below

[2019-10-18 20:00] owocki commented on #5334
DID 
IPFS
Digitized assets, feactional ownership 
Zero knowledge proof
Augur
Gnosis
moloch
gitcoin grants
skale
DPOS Chains
Proof of Stake
Proof of Work
Prvaciy Coins

[2019-10-18 20:03] owocki commented on #5334
BEGINNER:
- leaderless money systems
- censorship resistence
- the vision to rid the world of intermediaries
- Bitcoin 101
- Ethereum/DeFi 101
INTERMEDIATE:
- programmable money 101
- tools to build on ethereum
- composability
- developer growth (lean on the electric capital stats here)
ADVANCED
- Scalability Trilmena
- Layer 1 vs Layer 2
- Data as a Liability not Asset
- Defi 101
- OpenZeppelin

[2019-10-18 23:30] DistributedDoge commented on #5334
EASY:
- Types of wallets (paper, hardware, software)
- Recovering your wallet (dry-run your backup, BIP39)
- Cryptocurrency vs Token

MEDIUM:
- Plasma (_Working on it!_)
- Standards (ERC20,  ERC721, ERC1337?)
- Code is Law (Ricardian contracts)
- EIPs (Procedures, How to submit)
- ETH 2.0
- Oracles (Chainlink?)
- Testnets (Popular ones and Görli)

HARD:
- Merkle trees and the Blockchain
- EVM
- Be

[2019-10-19 01:51] owocki opened #5337 "Gitcoin Quests Round 1 Winners"
## Other Quests Threads

- Round 1 Winners Congrats Thread https://github.com/gitcoinco/web/issues/5337
- Round 2 Winnerse https://github.com/gitcoinco/web/issues/5435
- Feedback thread https://github.com/gitcoinco/web/issues/5298
- Request Topic Thread https://github.com/gitcoinco/web/issues/5334
- Create Topic Thread/Bounty - https://github.com/gitcoinco/web/issues/5338
- Create Game Mechanic Th

[2019-10-19 01:52] owocki commented on #5337
@solexplorer @distributeddoge @elma-landro

congrats!  u guys win.. http://bits.owocki.com/1e43c4f167d8/Screen%20Shot%202019-10-18%20at%207.51.54%20PM.png

honorable mention @janmoomoo @anoopev @naszam

two questions:
1. where should i send your hardware wallet?
2. any feedback? https://github.com/gitcoinco/web/issues/5298

[2019-10-19 01:57] owocki opened #5338 "Create a Gitcoin Quest"
## Other Quests Threads

- Round 1 Winners Congrats Thread https://github.com/gitcoinco/web/issues/5337
- Round 2 Winnerse https://github.com/gitcoinco/web/issues/5435
- Decnetralized Quest Roadmap https://github.com/gitcoinco/web/issues/5436
- Feedback thread https://github.com/gitcoinco/web/issues/5298
- Request Topic Thread https://github.com/gitcoinco/web/issues/5334
- Create Topic Thread/Boun

[2019-10-19 01:58] owocki opened #5339 "New Gitcoin Quest Game Mechanic"
The objective of this ticket is to create a Gitcoin Quest Game Mechanic

[2019-10-19 02:37] owocki commented on #5334
DID
IPFS
Digitized assets, feactional ownership
Zero knowledge proof

[2019-10-19 03:52] DistributedDoge commented on #5338
https://gitcoin.co/quests/9/interdict-the-ipfs-invader

There we go!

[2019-10-19 04:51] Solexplorer commented on #5337
I loved to play gitcoin quests and here is my feedback about it:

Fight for Open Source Sustainability <-- This one was difficult to complete, I think it should be moved to either intermediate or advanced section, just for the record, it took me 10 attempts to finish it 😂
-When I don't beat the quest, I would like to exit by just pressing enter:
![image](https://user-images.githubusercontent.com/5

[2019-10-19 06:11] owocki commented on #5298
just put in a few fixes for the above

[2019-10-19 07:10] LefterisJP opened #5340 "Grant Creation has not worked"
**Describe the bug**
Hey guys. I have created/applied for a Gitcoin Grant concerning [Rotki](https://github.com/rotkehlchenio/rotkehlchen/) before Devcon 5. I was told by Gitcoin people both in Twitter and in Devcon that the Grant is approved but I don't see it in "My Grants" or in the available Grants at all.

**To Reproduce**
I don't know if this is reproducible. I could try to apply again but t

[2019-10-19 10:53] Oraxle opened #5341 "Unable to submit faucet request"
Whenever I try to file a faucet request it comes back saying "Something went wrong submitting your request "

Regards

[2019-10-20 08:40] thelostone-mc commented on #5341
Seems to be working fine !
Could you provide more context + screenshot of what you did ?

<img width="611" alt="Screenshot 2019-10-20 at 3 39 30 AM" src="https://user-images.githubusercontent.com/5358146/67156982-3e6bcf80-f2eb-11e9-8bff-edb90e4c97c8.png">

[2019-10-20 10:46] sudeepb02 commented on #5298
I created a new quest here, pending approval - https://gitcoin.co/quests/13/journey-to-eth-20
After creating this new quest, I completed the [Pitch your Ethereum Killer to the VC-Bro](https://gitcoin.co/quests/2/pitch-your-ethereum-killer-to-the-vc-bro) quest.
However, in the redeem kudos page, I saw the message which I created for my quest

The kudos transaction also failed with an error [here](h

[2019-10-20 14:08] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-20 15:44] mul1sh commented on #5208
@gitcoinbot actually still on it :(

[2019-10-20 19:26] IfeanyiEkperi commented on #5145
Can I submit a design to the repo, is it still open for entries?

[2019-10-21 01:25] owocki commented on #5339
@blockchainunchained sounds interesting!  pls try to find a way to make it educational in some way :) looking forward to seeing what u come up with :)

@ryan-foo sounds cool! looking forward to seeing what u come up with!

hit me up with any questions

[2019-10-21 01:41] owocki commented on #5341
@Oraxle please fill out the issue in the bug report template https://github.com/gitcoinco/web/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-10-21 02:16] owocki commented on #5145
@IfeanyiEkperi this one is closed now!

[2019-10-21 02:21] owocki commented on #5298
thanks for letting me know @sudeepb02 ; i just put in a fix for this (by making the kudos reward a new kudos; we were out of evil genius bots!)

[2019-10-21 02:44] owocki commented on #5334
Andreas Antapalousus talks

[2019-10-21 02:53] owocki commented on #5338
just approved a few quests; will pay out this week too

everyones quests were really good ; if anyone wants to create a 2nd or 3rd quest of a new topci pls be my guest.  will pay out multiple times

[2019-10-21 02:54] owocki commented on #5337
thanks for the feedback!

[2019-10-21 07:17] ryan-foo commented on #5334
Consensus algorithms and how they work! (Big Aha moment)
Public vs private permissioned blockchains, use cases for each

[2019-10-21 07:36] kuhnchris commented on #5325
Did it work? If yes, please close the ticket. Thanks!

[2019-10-21 07:39] kuhnchris commented on #5317
Could you do me a favor and try it in Chrome?
Opera has some own wallet implementation, not sure if that may interfere, same goes for Brave.

[2019-10-21 07:40] kuhnchris commented on #5315
This sounds like rate-limiting. @danlipert could you check?

Thanks

[2019-10-21 09:06] StatusSceptre commented on #5317
@kuhnchris I think that's exactly what it is. I'm now on Chrome using our Gitcoin gh account, and it works. I'd just set up a wallet in Brave when this issue first occurred.

[2019-10-21 09:07] merwane commented on #5339
Does it have to be written on the Gitcoin/web codebase with a PR or can I just make it separate?

I thought of a game where users can stack Satoshis/Gwei as they stack squares on _"Stack by Ketchapp"_, but by answering questions. They can later exchange them with Kudos. This can educate people about the way we can stack small units of cryptocurrency to eventually exchange them.

Another idea would

[2019-10-21 11:36] DistributedDoge commented on #5298
As I mentioned in the email, scoring logic seems to be less than perfect, I have noticed the following entry in my feed after beating a quest:

This looks level 2 referral reward that could be possible thanks to following the referral scheme in this order:
@DistributedDoge => @solexplorer => @DistributedDoge

I think having an (unintentional) referral loop (I referred @sol, @sol referred me) betwe

[2019-10-21 12:06] danlipert commented on #5315
I can't reproduce - can you @kuhnchris ?

[2019-10-21 13:09] owocki commented on #5307
[code]

i took a look this morning + couldnt figure how how to fix it without breaking the offset/limit functionality of the API..
might have to plumb the internals of DRF

is this API route advertised somewhere? its not one that the app uses to my knowledge

[2019-10-21 13:14] Solexplorer commented on #5307
Hey Kevin,

I found it in the [Gitcoin API documentation](https://docs.gitcoin.co/mk_rest_api/):
![immagine](https://user-images.githubusercontent.com/50027175/67208232-6a836f80-f415-11e9-8d67-535cf211c04c.png)

I was trying to get bounty info given an ID

[2019-10-21 15:21] owocki commented on #5209
thx; can we run this on the gitcoin events discord?  hit me back when the PR gets merged and the stickers are on discord!

[2019-10-21 15:24] mul1sh commented on #5209
@owocki yep we can 🙂, fixing 1 last issue in the script and then it will run for both discord and telegram

[2019-10-21 15:36] owocki commented on #5307
got it; pls use https://gitcoin.co/api/v0.1/bounties/?pk=3538 in the meantime as a workaround

[2019-10-21 15:38] owocki commented on #5298
thanks @DistributedDoge ; maybe the fix should be :
- allow people to remove their referrer
- dont follow circular referral paths

[2019-10-21 15:49] owocki commented on #5339
i think each of the ideas is cool; go with whatever ur passionate about and think would create a great UX

yes its gotta be on gitcoin; otherwise theres no way to get the distribution from our platform or to tap kudos...

[2019-10-21 15:51] owocki commented on #4806
@PumpkingWok thanks for the update; keep me posted. the end of the year approaches and we are counting on you for this so we can deliver this functionality at end of year.

[2019-10-21 16:03] owocki commented on #5338
just sent tips to everyone whos submitted work on gitcoin..

[2019-10-21 16:07] merwane commented on #5338
Cool! Thanks 👍
I'm actively working on the quest I proposed on the other grant.

[2019-10-21 16:12] #5325 closed

[2019-10-21 16:18] owocki commented on #5334
- gitcoin onboarding/feature request list
- gitcoin labs stuff /burner wallet
- scaling: sidechains; plasma

[2019-10-21 16:25] owocki commented on #5334
Thomas Hay has some content on medium he sent us we can use
accept new quest submit form
holy shit moments https://docs.google.com/document/d/1AKIgwqDfS6yRQYBFV6ck5sXSEQ8oiR8fWT32lqWljcU/edit#
adam magic moments https://docs.google.com/document/d/1Z6mDYMQQDocPXs8fZTnoucimaTQ9968BUgXFLTED2E4/edit#heading=h.lmwy8b8savlj
kauri content https://consensys.slack.com/archives/G0KJ1PH33/p1569329208444200
a

[2019-10-21 16:34] owocki opened #5346 "as a user who wants to tip another user; i want to go to https://gitcoin.co/tip?username=FOO so I can easily tip that user"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who wants to tip another user; i want to go to https://gitcoin.co/tip?username=FOO so I can easily tip that user

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summar

[2019-10-21 16:45] owocki commented on #5317
WIP for this : https://github.com/gitcoinco/web/issues/4209

[2019-10-21 16:46] owocki commented on #4209
just removed the contributor on this since we haven't heard anything for a few months; this bounty is open again!

[2019-10-21 16:51] frankchen07 opened #5347 "As a hackathon sponsor, the administrative actions on the issue details page aren't completely clear."
### User Story

As a hackathon sponsor, the administrative actions on the issue details page aren't completely clear.

### Why Is this Needed

Zach from Consensys Labs found the information hierarchy on the  administrative section of Gitcoin Issue details on the hackathon bounty a bit confusing.

### Description

1. Under funder actions, the red "cancel bounty" button shows first and stands out, t

[2019-10-21 16:56] ososco commented on #5338
Thanks, I've created a second quest for beginner level about "Wallets types":
https://gitcoin.co/quests/16/one-wallet-to-rule-them-all

[2019-10-21 17:26] owocki commented on #5209
shoot.. i didnt know about this.. what would you recommed?  i could provision some more ETH to come up with a manual matching dict if u want

[2019-10-21 17:30] mul1sh commented on #5209
@owocki  sorry,  just also [realized it now](https://core.telegram.org/bots/api#addstickertoset) :( . And yes  I would definitely recommend coming up with a matching dictionary for the bots to the apple emoji's atleast for telegram because discord doesn't have any such limitations.

[2019-10-21 17:38] mul1sh commented on #5281
@kuhnchris sorry for the delay, been a bit busy on my end. But i've resumed working on this issue and will get it done by Wednesday, so thats it available for use before the next hackathon.

Maybe you could also bounty it up @alexvotofuture @frankchen07 @kuhnchris  for some bit of motivation 😃

[2019-10-21 17:39] owocki commented on #5209
do u want to do that? happy to throw in some extra ETH

On Mon, Oct 21, 2019 at 11:30 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twit

[2019-10-21 17:41] owocki commented on #5133
heres a version of that sheet with public perms
https://docs.google.com/spreadsheets/d/1cuYHxQscD60-Yhy1mTlQ2JYRqrbU8XN-64Id8LErJ6A/edit#gid=0

On Mon, Oct 21, 2019 at 10:37 AM marc-at-consensys <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shoo

[2019-10-21 17:42] owocki commented on #5259
@thelostone-mc you can see their current active bounties on their profile... https://gitcoin.co/profile/statussceptre

[2019-10-21 18:14] kuhnchris commented on #5315
big 'ol nope from my side. @sagarchoudhary96 can you reproduce it?

[2019-10-21 18:23] frankchen07 commented on #5281
@mul1sh - just bountied and reserved for you for 3 days. looking forward to it: https://gitcoin.co/issue/gitcoinco/web/5281/3572

[2019-10-21 18:38] mul1sh commented on #5281
@frankchen07 wooh thanks, a draft PR is coming up in a bit 😄

[2019-10-21 18:42] Solexplorer commented on #5337
Hey @owocki ,
I can't explain myself how I did lose 15 points 😂
![image](https://user-images.githubusercontent.com/50027175/67233289-36bf3e80-f443-11e9-828a-a34df3de0334.png)

[2019-10-21 18:54] owocki opened #5348 "sitemap.xml is slow right now..."
sitemap.xml is slow right now... find a way to cache it

[2019-10-21 18:57] connortest1 commented on #5298
Issue with negative points for referrals:
<img width="537" alt="Screen Shot 2019-10-21 at 2 45 12 PM" src="https://user-images.githubusercontent.com/56660787/67234399-11b2d780-f413-11e9-9e5c-57ff77d88af4.png">

[2019-10-21 19:03] owocki commented on #5348
c1aa1c99841348e08efe7a3ad41161726367c57a
a2392aa29af99c2d583cc59b332c84b4d96c82e8

[2019-10-21 19:03] #5348 closed

[2019-10-21 19:05] owocki commented on #5298
thx; just put in a fix for this!

[2019-10-21 19:06] owocki commented on #5337
just put in a fix for this :P

On Mon, Oct 21, 2019 at 12:42 PM Solexplorer <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook

[2019-10-21 19:06] owocki commented on #5340
do you have a txid for the grant you created? do you recall the title @LefterisJP ?

[2019-10-21 19:26] LefterisJP commented on #5340
The title included "Rotki" but not sure exactly what it was. It was quite some time ago. How can I see a txid?

[2019-10-21 19:54] HarveyDonlio commented on #5346
UPDATE: After going through the tipping workflow, I better understand your requirements. I think adding the parameter to the URL is probably best suited (https://gitcoin.co/tip?username=FOO).

[2019-10-21 20:08] owocki commented on #4121
@zoek1 this ones no longer a priority.. thx tho!

[2019-10-21 20:37] owocki commented on #5340
txid is usually in your browser wallet (metamask)...

[2019-10-21 21:08] ososco commented on #5298
When you try to create new quest, in "New Quest Application" form, it is not possible to remove questions after adding them, you will always get alert box with message: **"you cannot have 0 questsions"**, even if you already have other questions added.

*Also please note the typo in the error message "questsions".

![Capture](https://user-images.githubusercontent.com/23085140/67243045-6e3be400-f45

[2019-10-21 21:11] owocki commented on #5298
thx will put a fix in for that

On Mon, Oct 21, 2019 at 3:08 PM Osama Abbas <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook

[2019-10-21 21:44] LefterisJP commented on #5340
Aha so an on-chain transaction happens even for a grant creation? I was under the impression that it first got approved by you guys.

That's strange. I recall no transaction being sent from metamask when I applied for the grant.

Perhaps at this point it's best if I try again from scratch.

[2019-10-21 21:57] LefterisJP commented on #5340
Strange ... this time it seems to have worked fine: https://gitcoin.co/grants/149/rotki

It could have had something to do with me using Brave with shields up back then. That could have somehow messed with metamask and made me see no pop-up and assume you guys check the grants manually.

[2019-10-21 21:59] #5340 closed

[2019-10-21 23:19] merwane commented on #5339
I am running Gitcoin locally using Docker, and when I try to access `http://localhost:8000/quests/` the following error pops up:

`AttributeError: 'NoneType' object has no attribute 'data'`

Any idea on how to solve this?

[2019-10-21 23:29] blockchainunchained commented on #5339
Import the database dump from above or create a super user and make the models from the Django Admin page (usually localhost:8000/admin but they might have changed it).

[2019-10-21 23:34] frankchen07 commented on #5215
closed in favor of breaking out this ticket:

workplan v2
foundation UX/UI changes on hackathon issue details
pending team formation plan

[2019-10-21 23:34] #5215 closed

[2019-10-21 23:34] frankchen07 commented on #4586
closed, tracking elsewhere

[2019-10-21 23:34] #4586 closed

[2019-10-22 01:10] ryan-foo commented on #5334
We can't access any of these documents or files, would you be able to open them up to the public? Same for ConsenSys slack, you might have to put it on this issues page instead

[2019-10-22 02:21] owocki commented on #5339
@merwane can you post a stack trace?

admin is at http://localhost:8000/_administration @blockchainunchained

[2019-10-22 02:23] owocki commented on #5334
the slack thread isnt important

On Mon, Oct 21, 2019 at 7:10 PM Ryan Foo <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<h

[2019-10-22 05:41] Solexplorer opened #5350 "When clicking a referred user on Gitcoin quests, it redirects to a wrong path"
**Describe the bug**

When you try to click on a profile of a referred user it redirects to gitcoin.co/quests/<Profile_name> instead of https://gitcoin.co/profile/<Profile_Name> thus you get a 404 error

**To Reproduce**

Click on a referred user on the gitcoin quests page and see the wrong path specified:
![image](https://user-images.githubusercontent.com/50027175/67261082-4d937e80-f49f-11e9-95ee

[2019-10-22 14:25] owocki opened #5352 "as a user; i want to chat other users, so i can have a direct line with anyone on the site"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user; i want to chat other users, so i can have a direct line with anyone on the site

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]:

[2019-10-22 17:09] owocki commented on #5350
6112048462966cbe2679943cfd8357c792c4a0b8

[2019-10-22 18:16] owocki commented on #5339
@merwane try commenting out the `get_leaderboard()` call or handling the exception there..

[2019-10-22 18:50] merwane commented on #5339
I did, but I didn't want to break the normal workflow. Is it ok to keep it for testing later?

[2019-10-22 19:23] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-10-22 19:52] owocki commented on #5339
yes no problem;  i just made a commit that'll fix the problem for you.. and when thats merged into master we'll be all good without commenting it out

[2019-10-22 21:01] #5291 closed

[2019-10-22 21:51] alexvotofuture commented on #5283
@frankchen07 I think this one has been implemented, and should be good to close.

[2019-10-22 21:52] merwane commented on #5339
Thanks for the help!

[2019-10-22 21:53] alexvotofuture commented on #5323
We've been aiming to reduce the need for the hackathons.gitcoin domain, eventually moving everything to the hackathon product (currently the "prize explorer") on the gitcoin.co domain. If we succeed in doing this we can delete the hackathons.gitcoin domain and won't need to match nav bars.

[2019-10-22 21:55] alexvotofuture commented on #5204
@frankchen07 I think this one has been implemented, and should be good to close.

[2019-10-23 01:06] alexvotofuture commented on #5322
This also affects onboarding for new hackers. When they join a hackathon they often ask how to get involved in a team. Having projects all visible in one place, with contact info to get in touch with the team lead can help people jump in and get involved more quickly, which I hope will help lead to more submissions and participation from registrants.

[2019-10-23 01:24] alexvotofuture commented on #5322
In addition to helping sponsors see all projects underway this view additionally provides a way for hackers to find each other to form teams and collaborate during the hackathon.

The view can also showcase final submissions, as the "results page" currently does, and can feature winning submissions.

Some related tickets:
- #5038 (start/submit work form, with additional info on a project, ideally

[2019-10-23 06:16] Solexplorer opened #5355 "In the Hackaton section, there isn't the link to Road To Devcon"
**Describe the bug**

It's a small issue, in the Hackaton section of gitcoin in the dropdown, there isn't the last Hackaton which is Road To Devcon:
![image](https://user-images.githubusercontent.com/50027175/67363274-4c308780-f56d-11e9-9630-a4562ec05c64.png)

**To Reproduce**

Go to https://hackathons.gitcoin.co/ and hover your mouse over "Hackatons"

**Expected behavior**

**Screenshots**

**Des

[2019-10-23 09:03] danlipert opened #5356 "Faster-than-monthly grant subscription can not have their "Gitcoin tip" set to zero."
**Describe the bug**
Faster-than-monthly grant subscription can not have their "Gitcoin tip" set to zero. They require a minimum tip to Gitcoin to pay for the metatxns.

**To Reproduce**
Create a subscription that bills faster than monthly, and set the tip for Gitcoin to zero.

**Expected behavior**
A "zero" percent Gitcoin tip should at least cover the metatx cost to prevent a denial of service/w

[2019-10-23 12:23] Robbiesmo commented on #5334
https://gitcoin.co/quests/?cb=ref:10747

[2019-10-23 14:11] #5130 closed

[2019-10-23 14:11] #5160 closed

[2019-10-23 14:12] #4150 closed

[2019-10-23 14:22] naszam commented on #5338
I've just created a new Quest on Smart Contracts!
https://gitcoin.co/quests/20/smart-contract-wiz

[2019-10-23 14:45] naszam commented on #5334
What about the following:

Smart Contracts
https://gitcoin.co/quests/21/smart-contract-wiz

AZTEC protocol ?

[2019-10-23 15:13] mul1sh commented on #5208
Finally done, finishing this in less than 3 hours :)

[2019-10-23 15:20] merwane commented on #5339
You asked for over-communication so here you go:
I am working on integrating the Hangman game as a quest and for now, it is still very basic and not even linked to the database, the interface is still awful, etc.

https://github.com/merwane/web

Also, here are two screenshots:
https://drive.google.com/file/d/1X62FNuyae0EZWq4AQ9cB9hkbKG_cAUd9/view?usp=sharing

https://drive.google.com/file/d/1SfnaO

[2019-10-23 16:49] naszam commented on #5338
I've just created a new Quest on "AZTEC protocol":
https://gitcoin.co/quests/22/aztec-protocol-god

[2019-10-23 20:29] owocki commented on #5334
holochain

[2019-10-23 21:24] Gungz commented on #5338
I've created a quest on "Ethereum Development Tools":
https://gitcoin.co/quests/25/development-tools-on-ethereum

[2019-10-23 22:09] naszam commented on #5298
The Twitter link that pops up when you win a Quest has an extra slash in the URL that doesn't allow to show the link on Twitter.
Example:
Bad URL -> https://gitcoin.co//quests/14/merkle-patricia-trees-and-the-blockchain
                                              ^
Good URL -> https://gitcoin.co/quests/14/merkle-patricia-trees-and-the-blockchain

[2019-10-23 23:02] naszam commented on #5298
@owocki I'm trying to redeem the kudos from the quest MolochDAO 101 but pops up an error asking me to try again soon

[2019-10-24 00:41] alexvotofuture commented on #5208
@mul1sh awesome! Where can we try it out?

[2019-10-24 05:04] Solexplorer opened #5370 "The logo in the Hackathon page is "Bounties" instead of "Hackathons""
**Describe the bug**

The logo in the Hackathon page is "Bounties" instead of "Hackathons"

**To Reproduce**

If you go [here](https://gitcoin.co/hackathon/onboard/web3-world/):

![image](https://user-images.githubusercontent.com/50027175/67454945-4ea5e680-f62c-11e9-9b37-64012871b290.png)

Kudos, Grants and Quests all have respectively their design
Like this:
![image](https://user-images.githubuse

[2019-10-24 05:09] Sirlupinwatson1 commented on #5334
Side Play :

Be able to do challenge with other users and generate or resolve a operation to contribute

[2019-10-24 08:02] Solexplorer opened #5371 "Tried to run locally the web repo with docker and had an issue with port bindings"
**Describe the bug**

I tried to install the web repo locally with docker but had some errors with the port bindings saying the port was already allocated:
`Error starting
userland proxy: Bind for 0.0.0.0:5432 failed: port is already allocated`

Had to use a quick fix explained [here](https://github.com/docker/compose/issues/4950#issuecomment-398879461)

**To Reproduce**

Run the web repo in a new

[2019-10-24 13:20] Solexplorer opened #5372 "As a gitcoin user I would like to save the state of gitcoin quests"
**Describe the bug**

RIght now when I create a quest and for accident close the tab, the changes get lost

**To Reproduce**

Create a new quests, insert some data and close the tab

**Expected behavior**

To either alert me that I am closing the tab or saving the changes so I can continue working on it afterwards

**Screenshots**

**Desktop (please complete the following information):**

- OS:
-

[2019-10-24 13:28] owocki commented on #5372
i think that saving data upon entry to localstorage should probably be the fix here..

[2019-10-24 13:58] owocki commented on #5298
@naszam - fixed the twitter url thing..  im having a hard time reproducing the kudos redeem thing.. any tips on reproducing?? can u open up a seperate ticket for it if so...?

[2019-10-24 13:58] owocki opened #5373 "bug - gitcoinbot comments not appearing as of 10/24"
bug - gitcoinbot comments not appearing as of 10/24

we think it might have something to do with the github perms issue we witnessed yesterday..

[2019-10-24 14:23] naszam commented on #5298
Thanks for the twitter thing! @owocki
Regarding the kudos redeem thing, I've tried to play again but every time I got the same message "Could not redeem your kudos. Please try again soon."
Also, I've tried to reboot and reconnect MetaMask to Gitcoin, even specifying another address.
Every time I got the same error. I will try to open an issue.

[2019-10-24 14:26] naszam opened #5375 "Error Trying to Redeem MolochDAO 101 Kuods"
### Who
MolochDAO 101
### What
Redeem Kudos
### Why
Getting the following Error:
"Could not redeem your kudos. Please try again soon."

[2019-10-24 14:31] naszam commented on #5375
I've tried to reboot the computer and reconnect MetaMask to Gitcoin but I get the same error.
Also, I've tried a different address and got the same error.

[2019-10-24 14:32] naszam commented on #5298
I've just created a new issue -> #5375

[2019-10-24 14:43] naszam commented on #5298
Also, I'm struggling a bit with two quests, the Come to Consensus and Meditation on Moloch.
I was wondering if maybe is due to an internal error, like not specified the YES/NOT button during the creation process.
In particular, I've tried lots of permutations for the following question on Come to Consensus:
In the context of Ethereum and consensus algorithm, What is Casper? Choose the correct answ

[2019-10-24 14:59] ososco commented on #5298
Hi, regarding "Come to Consensus" quest, I also believe there's a problem with that question about Casper, i tried many times with multi answers, but none of the answers combinations worked.

[2019-10-24 15:24] #5292 closed

[2019-10-24 15:41] owocki commented on #5373
fixed by re-scoping github perms

[2019-10-24 15:41] #5373 closed

[2019-10-24 15:42] owocki commented on #5375
from sentry: {'code': -32000, 'message': 'insufficient funds for gas * price + value'}

[2019-10-24 15:43] owocki commented on #5375
just replenished that account + it should work now..

[2019-10-24 15:50] owocki commented on #5339
i used to love hangman back in the day!

gfx are basic but we can have a designer take a pass later if thats not your skillset...

trying to brainstorm ways we can make it more educational for web3 users... instead of just a crapshoot to who can spell/remember words:
- maybe we could add some educational value to the game by providing a hint of what the word is... so that the user has to think of

[2019-10-24 16:06] naszam commented on #5375
It worked, Thanks! @owocki

[2019-10-24 16:28] owocki commented on #5298
@ososco @naszam i just fixed the meditation on moloch and the come to consensus -- thanks for flagging that..

Im going to add validation to the 'new quest' form where it tells you if your quest contains a dead end..

[2019-10-24 18:10] frankchen07 commented on #5203
I like the changes. The leader board makes it clear, and the follow button makes more sense here.

Anyone else have any additional comments before we upgrade the build?

[2019-10-24 18:25] naszam commented on #5298
Just an update on the Twitter thing.
I've checked and seems that there is a redundancy of gitcoin URLs.
Something like the following:
https://gitcoin.co/https://gitcoin.co/quests/28/cellarius-universe-guide

[2019-10-24 19:18] owocki commented on #5298
78774322b9ae217079b229a407b8260edc5a4928 should help with that

[2019-10-24 19:45] Solexplorer opened #5377 "When a Gitcoin quest has been created, the link provided is wrong"
**Describe the bug**

The link provided in the top bar is wrong:
![image](https://user-images.githubusercontent.com/50027175/67519442-2a3b2000-f6a7-11e9-9318-fbfd22489f3a.png)
It has an additional 'https://gitcoin.co'.

**To Reproduce**

Create a gitcoin quest and look at the top bar

**Expected behavior**

Return me a correct link like this(https://gitcoin.co/quests/29/fear-the-openzeppelin-secur

[2019-10-24 20:07] Solexplorer opened #5379 "Gitcoin Quests - Improvements, enhancements and corrections"
**Describe the bug**

1) When I create a quest, don't allow negative numbers to be inputed, doing this prevents the user  from receiving negative points( this has happened to me 😂 ) or not having enough time:
![image](https://user-images.githubusercontent.com/50027175/67520361-fb25ae00-f6a8-11e9-971c-06ca205edad1.png)
2) When creating a new question, the question above gets copied with its answers

[2019-10-24 20:08] Solexplorer commented on #5379
Please, if you don't understand something that I wrote, I will be available to explain 😄

[2019-10-24 20:22] owocki commented on #5377
6f5b2d8859e4071421d67578e06499c68943e4b6

[2019-10-24 20:23] Solexplorer commented on #5338
Created a quest regarding OpenZeppelin:
https://gitcoin.co/https://gitcoin.co/quests/29/fear-the-openzeppelin-security

[2019-10-24 20:44] naszam commented on #5338
@Soloexplorer
It seems that the third question has a bug.
I'll try it again but I'm not sure

[2019-10-24 20:49] naszam commented on #5298
Also still not working for me on the quest Come to Consensus.
Probably its just me, I don't know!?

[2019-10-24 22:59] owocki opened #5380 "as a user who just logged in and got hit with 4 modals, im feeling very overwhelmed"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who just logged in and got hit with 4 modals, im feeling very overwhelmed

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
bug

### Current Behavior
[comment]: # (Describe what actually happened.)
1. go incognito
2. login
3. this is what you see
![Screen Recording 2019-10-24 at 04 58 P

[2019-10-24 23:05] #5377 closed

[2019-10-24 23:37] frankchen07 commented on #5380
Here are my thoughts:

1. Hackathons: I think this is fine, it's quite un-intrusive, and it's a nice reminder that it's going on
2. How can we make this page better for you: From Hotjar, we can turn it off. I haven't really seen feedback come in from there.
3. Privacy policy modal: Is it possible to just have that text in the Privacy Policy itself? They can click there if they want.
4. Cookies dis

[2019-10-24 23:55] merwane commented on #5339
Yep, I'm already trying to implement hints when the user makes too many errors. Also, I've been thinking of a dynamic timer which can be increased when the user makes a good guess and decreased if not.

[2019-10-24 23:55] merwane commented on #5339
Also sorry for the delay, I'm quite busy these days and I'm doing my best to work on this bounty by night (CEST)

[2019-10-25 00:13] willsputra commented on #5380
Agreed.

I wonder if we can put this only on pages where a user might experience difficulties, for example: explorer, issue details, advanced payout... So this acts sort of like an 'emergency button' if a user needs help.

Agreed. If it's really important, maybe we can put the tl;dr on the Cookies Disclaimer footer too.

Agreed.

I think this is the current behavior. cc @octavioamu

[2019-10-25 01:19] owocki commented on #5339
excited for the progress @merwane !

@ryan-foo @blockchainunchained how goes?

[2019-10-25 02:52] Sm00g15 commented on #5338
@owocki
Gitcoin.co/quests/new leads to this error page:

<img width="821" alt="Screen Shot 2019-10-25 at 3 51 31 PM" src="https://user-images.githubusercontent.com/14209806/67539671-64580080-f73f-11e9-8c15-72830e99448e.png">

[2019-10-25 03:04] owocki opened #5381 "twitter cards dont validate"
twitter cards dont validate

[2019-10-25 03:04] owocki commented on #5381
just fixed

[2019-10-25 03:04] #5381 closed

[2019-10-25 03:30] owocki opened #5382 "reminder - grants round 4 auto payout script"
reminder - grants round 4 auto payout script

script that accepts in a list of grant ids, eth addresses, and DAI amounts then

1. pays those users their DAI
2. records the payouts in the DB
3. emails ppl the txids

[2019-10-25 03:31] owocki commented on #5338
hmm are you logged in ? http://bits.owocki.com/982698eb89cd/Screen%20Shot%202019-10-24%20at%209.31.22%20PM.png

[2019-10-25 03:40] Sm00g15 commented on #5338
seems like I'm in some weird in-between state:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/14209806/67541625-1eeb0180-f746-11e9-8ec3-12848e7187f1.gif)

[2019-10-25 04:09] VexyCats commented on #5338
I've just created a new quest!

NFTs vs. You

https://gitcoin.co/quests/33/enter-the-world-of-nfts-nonfungiblity-vs-you

[2019-10-25 05:03] Solexplorer commented on #5338
@naszam What was the issue ?

[2019-10-25 07:38] dangeross opened #5384 "Start Work fades screen but does nothing"
When looking at an issue and wanting to start work, pressing the Start Work button does nothing. It only fades the view like a modal should open. An error is returned in the DevTools console (see screenshot)

**To reproduce** (tested on Desktop Brave & Chrome):
- Go to: https://gitcoin.co/issue/rsksmart/rskj/1043/3576
- Press 'Start Work'

![Screenshot_2019-10-25_at_09_36_20](https://user-images.g

[2019-10-25 07:43] TripleSpeeder opened #5385 "Can't login with github account"
**Describe the bug**
I always log in to gitcoin with my Github account via OAUTH. Since sometime yesterday any attempt to log in ends in the Error 500 page of gitcoin.

**To Reproduce**
1. Make sure to be logged out
2. Click login button
3. Error 500 page is rendered

Attempt to workaround:
1. On my github profile i revoked all gitcoin access rights.
2. Click Login on gitcoin.co
3. Approve request

[2019-10-25 08:27] TripleSpeeder commented on #5385
I asked in slack #community-general channel, at at least one user was seeing the exact same issue there.

[2019-10-25 11:11] Solexplorer commented on #5385
I confirm the issue from my part, tried to login from incognito mode and received error 500

[2019-10-25 13:44] octavioamu commented on #5385
Thanks for reporting. Yesterday we changed to full access as needed for a new feature we are working on.
Since there was people complaining we decided to remove private repos from scope. Login out and login in should solve the problem. Can you confirm if now is solved or still with problems? Also what is your profile on gitcoin?
Thanks

[2019-10-25 13:53] octavioamu commented on #5385
Also if you keep getting problems try to revoke the app https://github.com/settings/connections/applications/ec7a189f64779a235aa6 on gh side, logout to gitcoin and login again.

[2019-10-25 13:57] micksabox commented on #5339
Was thinking about a game to work on at ETHWaterloo but noticed this comment and answer.

I didn't go through the whole spec, but I'm assuming the game could be built in a separate repo and hosted separately and then a "Gitcoin plugin" could be created used to link to it (iframe or other) from within a Gitcoin quest. It's probably going to have to be a react app. Please advise if I'm off base here

[2019-10-25 14:01] TripleSpeeder commented on #5385
Unfortunately it is not working. I revoked all permissions for gitcoin and tried to login again. On github everything is looking good, the required permissions are created again. But on gitcoin i still end up at the Error 500 page.
This is my profile on gitcoin: https://gitcoin.co/profile/triplespeeder

[2019-10-25 14:02] merwane commented on #5339
I agree with @micksabox as React or other JS frameworks are best suited than JQuery for making dynamic interactive games. I would say the biggest downside is actually the ease of development. It would be cooler and much faster to develop it separately and find a way to "link" it with Gitcoin.

[2019-10-25 14:11] micksabox commented on #5339
My understanding is that in order to qualify for the ETH and tap the kudos then there needs to be a PR made in this repository. My question is more for the tech and deployment of the game, if it can be done elsewhere and then a Gitcoin Quest compatible-version could be made after the fact.

[2019-10-25 14:13] merwane commented on #5339
Creating a subdomain for quests can be an option too, with a whole different, more dynamic architecture. What do you think?

[2019-10-25 14:27] octavioamu commented on #5385
@PumpkingWok are you also having it? I see some sentry errors

[2019-10-25 15:04] octavioamu commented on #5385
Can you guys retry now?

[2019-10-25 15:10] PumpkingWok commented on #5385
Hi @octavioamu,
I have just tried and it works now for me, thanks a lot !!!

[2019-10-25 15:11] octavioamu commented on #5385
Yay, sorry was my mistake.

[2019-10-25 15:18] naszam commented on #5338
@Solexplorer  What issue?

[2019-10-25 15:21] naszam commented on #5338
@owocki I'm working on a series of quests from beginner to advanced on IPFS.
The following is the first quest on "IPFS Newbie" (Beginner):
https://gitcoin.co/quests/34/ipfs-newbie

[2019-10-25 15:30] octavioamu commented on #5385
we are going to invalidate sessions so probably will need to login again. Please let me know if someone have issues.

[2019-10-25 15:34] owocki commented on #5338
@Sm00g15 -- @octavioamu is on the case!  https://github.com/gitcoinco/web/issues/5385#issuecomment-546401030

@VexyCats @naszam will reivew yours soon. thanks so much for submitting!

[2019-10-25 15:42] owocki commented on #5384
https://sentry.io/organizations/gitcoin/issues/1281337579/?project=1398424&query=is%3Aunresolved+modal&statsPeriod=14d&utc=true

[code]

[2019-10-25 15:43] octavioamu commented on #5338
Login should be fixed now. Let me know if there still some issue.

[2019-10-25 15:43] owocki commented on #5384
cc @octavioamu looks like this is ur code https://github.com/gitcoinco/web/blame/master/app/dashboard/views.py#L231

[2019-10-25 15:47] octavioamu commented on #5384
Checking

[2019-10-25 15:48] owocki commented on #5298
@naszam are you still experiencing the twitter issue? i put a fix in for it y'day

[2019-10-25 15:53] octavioamu commented on #5384
yes we changed the model recently profile.hackathons isn't valid anymore, making a hotfix right now

[2019-10-25 16:00] octavioamu commented on #5384
@dangeross @owocki should be fixed now. Please @dangeross confirm if now is working.
Thanks for the report!

[2019-10-25 16:08] naszam commented on #5338
I've just created the second quest on the IPFS series on "IPFS Magician":
https://gitcoin.co/quests/35/ipfs-magician

[2019-10-25 16:28] dangeross commented on #5384
Looking good. Works for me now

[2019-10-25 16:28] #5384 closed

[2019-10-25 16:33] kuhnchris commented on #5379
Yo @Solexplorer i took the freedom and renamed the title a bit. Would you mind cross-referencing that in the big gitcoin quest ticket? I think that's what Kevin is mostly looking at. thanks!

[2019-10-25 16:36] kuhnchris commented on #5371
sounds like you are running something on that port. Since you did not state what OS you use I cannot help you with finding that out.
On UNIX you should be able to check ```netstat -nap``` and on windows probabbly ```netstat -ano```.
From there you should be able to see what program is blocking that port. You can simply remove the exposure of any other port than the www port for internal uses witho

[2019-10-25 16:37] kuhnchris opened #5387 "XSS protection causes tags in issue explorer to be inproperly escaped"
**Describe the bug**
C#, C++ and anything else with "special characters" is getting stripped.

**To Reproduce**
dashboard->bounties->load more bounties->redirection to explorer

**Expected behavior**
C# and C++ being honored

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/67588489-88730c00-f756-11e9-8d4c-a095b35f34e3.png)

![grafik](https://user-images.githubusercontent

[2019-10-25 17:09] frankchen07 commented on #5322
Thanks for the additional detail. I just wanted to jump in and make sure that we're solving for the minimal viable solution to one specific problem. While having members of the hackathon get started faster is a good thing, for this round, I'd like to focus us on making sure that the problem we're solving is on the sponsor side first.

Octavio had some very good questions:

1. Where would this page

[2019-10-25 17:42] naszam commented on #5338
I've just completed the creation of the series on IPFS!
The third quest is on "IPFS Guru" (Advanced):
https://gitcoin.co/quests/37/ipfs-guru

[2019-10-25 17:55] Solexplorer commented on #5337
[Series of enhancement for Gitcoin Quests](https://github.com/gitcoinco/web/issues/5379)

[2019-10-25 17:56] Solexplorer commented on #5379
@kuhnchris Oh, just done it, thanks for your input!

[2019-10-25 17:57] Solexplorer commented on #5298
[Series of improvement for Gitcoin quests](https://github.com/gitcoinco/web/issues/5379)

[2019-10-25 18:01] naszam commented on #5298
@owocki Now Everything Works Smoothly! Thanks!

[2019-10-25 18:20] naszam commented on #5298
@owocki Still stuck on the "Come to Consensus" Quest at question 4 but probably it's just me..

[2019-10-25 18:29] owocki commented on #5298
@naszam  hint: there are two correct answers for come to consensus question 4

[2019-10-25 18:49] naszam commented on #5298
@owocki Oh! That's so kind of you :)
I've just beated the Quest on Come to Consensus!!!
The only thing is that there is no Twitter button unfortunately..

[2019-10-25 18:52] owocki commented on #5298
at the end of the quest?  or when u claim the kudos?

[2019-10-25 18:52] naszam commented on #5298
When you claim the Kudos

[2019-10-25 19:00] naszam commented on #5298
Btw, I managed to twitt anyway :)

[2019-10-25 19:07] Solexplorer commented on #5371
I was sure it wasn't my fault, booted up a new machine and the issue wasn't there anymore looks like I messed something with ports

[2019-10-25 19:07] #5371 closed

[2019-10-25 19:46] TripleSpeeder commented on #5385
Can confirm login is working again! Thanks for the quick fix :+1:

[2019-10-25 19:48] octavioamu commented on #5385
Yay, feel free to reopen if you get any related issue.

[2019-10-25 19:48] #5385 closed

[2019-10-25 21:38] owocki commented on #5298
weird; the twitter button shows for me; https://twitter.com/owocki/status/1187845669320445954

maybe its an ad blocker thing?

[2019-10-25 23:27] #5283 closed

[2019-10-25 23:27] #5204 closed

[2019-10-26 00:45] naszam opened #5389 "Can't Redeem Kudos "Ether Gun Kudos""
### Who
Ether Gun Kudos
### What
Can't Redeem cause an error message pops up
"Could not redeem your kudos. Please try again soon"
### Why

[2019-10-26 00:47] naszam commented on #5298
I've just created a new issue #5389

[2019-10-26 00:49] naszam commented on #5298
Also Gitcoin Quest 101 is not working, probably due to a bug on the first question.
Tried selecting the correct answer and also multiple answers.

[2019-10-26 01:04] naszam commented on #5298
issue #5389

[2019-10-26 01:04] #5389 closed

[2019-10-26 02:29] knocte opened #5390 "Trying a DAI payout ended up making the issue canceled"
Sorry I don't want to use slack.

**Describe the bug**
When trying to click on Payout, I was redirected to a page where I had to choose between Basic and Advanced payout, but I couldn't click on "Basic", it was disabled somehow. So then I tried to click on "Advanced", indicated to pay just one developer (the only one that was marked as approved), and then I clicked "Pay", MetaMask popped up to sig

[2019-10-26 04:42] owocki commented on #5380
agree with having hotjar turned off.. does anyone have the login to do so?  or should we just remove the JS?

i've been considering adding a "HALP" button to the top navbar that takes users to https://github.com/gitcoinco/web/issues/new/choose

im in favor of this too.

@fronk @octavioamu @danlipert should i put this into an upcoming sprint or bounty it?

[2019-10-26 07:29] Solexplorer opened #5392 "Gitcoin user is not able to see his profile"
**Describe the bug**

A gitcoin user has noticed that he's not able to access his profile: https://gitcoin.co/profile/nionis.
He is not able to access his profile even using:  https://gitcoin.co/nionis.
I know he is registered to Gitcoin because if I go to referred users I can see him:
![image](https://user-images.githubusercontent.com/50027175/67615963-f78e4600-f7d2-11e9-80ff-4daade00f2a1.png)

*

[2019-10-26 08:13] nionis commented on #5392
thank you @Solexplorer for opening this issue, at the moment both urls work even when I clear cache

[2019-10-26 09:07] Solexplorer commented on #5392
@nionis maybe you wanted to say they don't work? 😉

[2019-10-26 09:12] nionis commented on #5392
@Solexplorer works for me, it might be an issue occurring on some people some times. In my experience this looks like an issue with the server cluster, maybe some of the servers are failing.

[2019-10-26 09:14] Solexplorer commented on #5392
Strange... It doesn't work on my end even if I clear the cache

[2019-10-26 09:38] nionis commented on #5392
I had "Hide my profile altogether" toggled on!
sorry @Solexplorer haha

[2019-10-26 12:15] Solexplorer commented on #5392
@nionis Np!
Since the issue was not gitcoin's fault but the user's fault, I'm going to close this issue.
@owocki What do you think about having a top bar saying that the profile is private ?

[2019-10-26 12:15] #5392 closed

[2019-10-26 15:25] thelostone-mc commented on #5380
@owocki / @willsputra / @frankchen07 turned off the hotstar

<img width="1405" alt="Screenshot 2019-10-26 at 10 25 09 AM" src="https://user-images.githubusercontent.com/5358146/67621985-f234f980-f7da-11e9-8736-50810aca640d.png">

[2019-10-26 15:36] mul1sh commented on #5208
@alexvotofuture  yep sure, pushing this by latest this time tomorrow and sorry for long delay on this. Its because just when I think i've fixed all the bugs another one crops up, still working on it though.

[2019-10-26 16:18] owocki commented on #5339
Nice; Ill be there most likely.. Lets jam there!

Feel free to use React, even if it's added to this repository.

You should read the spec.  I wrote it as thoughtfully as possible so that we could have an informed discussion, and even created an example 'game' that shows players how to interact with the Gitcoin interfaces of the repo.

If people feel strongly about creating seperate apps that are

[2019-10-26 16:26] merwane commented on #5339
Great! I'll start working on it using [Nuxt.js](https://nuxtjs.org). I can probably deliver a working concept tonight or tomorrow morning. I'll gradually start by creating the quest then we'll implement Kudos etc

[2019-10-26 19:56] Solexplorer opened #5397 "Moloch 101 has a questions with the same answers"
**Describe the bug**

MOLOCH 101 Quest has a question with 2 equal answers:
![image](https://user-images.githubusercontent.com/50027175/67625217-761ece00-f83b-11e9-926d-108e1f6df4a7.png)

**To Reproduce**

Play the MOLOCH 101 quest

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please complete th

[2019-10-27 06:56] Solexplorer opened #5398 "A bounty has open status even if the bounty was paid"
**Describe the bug**

Check this [bounty](https://gitcoin.co/issue/ethereum/solidity/1802/474), it was created a year ago and the work was submitted and done but it still shows up open somehow.

**To Reproduce**

Go to the link and look at the status of the bounty

**Expected behavior**

Bounty should have status: "Work Done"

**Screenshots**

**Desktop (please complete the following information):

[2019-10-27 07:43] Solexplorer commented on #4184
@thelostone-mc I tried to replicate this issue but it seems that it has been already solved

[2019-10-27 08:39] Solexplorer commented on #5346
Hmm nice bounty

[2019-10-27 09:39] abitrolly opened #5399 "gitcoin.co requests dangerous permissions from GitHub"
**Describe the bug**
`gitcoin.co` want write access to all public repos just for the login.

![image](https://user-images.githubusercontent.com/8781107/67632597-80ca7900-f8b6-11e9-8c88-8f0778821a96.png)

**To Reproduce**
1. Go https://gitcoin.co/requests
2. Press
![image](https://user-images.githubusercontent.com/8781107/67632607-ab1c3680-f8b6-11e9-878a-463c92f97733.png)

**Expected behavior**

Re

[2019-10-27 09:44] Solexplorer opened #5400 "I am not able to find the file "token_dynamics""
**Describe the bug**

I am running locally the web repo but it seems that it doesn't find a [file called "token_dynamics"](https://github.com/gitcoinco/web/blob/9e3940a03b2530b6ccf5211468dcddc3519afc8d/app/dashboard/templates/onepager/send2.html#L28): `<script src="/dynamic/js/tokens_dynamic.js"></script>`

The error is happening in every page that requests that file an example is: `/tip/send/2`

[2019-10-27 12:00] Solexplorer opened #5401 "Build your avatar in profile redirect to wrong url"
**Describe the bug**

When I click to build your avatar in the profile section, it redirects to `https://gitcoin.co/onboard/contributor?csrfmiddlewaretoken=<TOKEN>&steps=avatar` , the correct one should be `https://gitcoin.co/onboard/contributor/?csrfmiddlewaretoken=<TOKEN>&steps=avatar`

**To Reproduce**

Go to the profile section and click "build your avatar"

**Expected behavior**

To let me bu

[2019-10-27 14:07] HarveyDonlio commented on #5346
Hi just an update on my progress. I’ve built support for optionally preloading the tip recipients details from the url parameter “username”. This will work both when rendering the tip/send and tip/send/2 views. I’m currently working on developing safeguards that only users which exist can be preloaded and otherwise show a 404 error. I’m on holiday for 2 days so unfortunately I won’t have any more

[2019-10-27 14:34] naszam commented on #5334
@owocki How can I add the other quests I have created to the Project "Create a Gitcoin Quest"?

[2019-10-27 18:02] Solexplorer opened #5403 "Gitcoin bot posts reminders incorrectly"
**Describe the bug**

The gitcoin bot is posting incorrect reminders in this [bounty](https://github.com/kauri-io/Content/issues/85)

**To Reproduce**

Go to the [bounty](https://github.com/kauri-io/Content/issues/85) and look at the wrong posts

**Expected behavior**

Only one reminder instead of 4 reminders

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Brows

[2019-10-27 18:29] Solexplorer opened #5404 "Dashboard has wrong data related to my profile"
**Describe the bug**

I have already submitted work to this bounty but in the dashboard I see that I still have a bounty in progress and I am able to submit work again(tested it and let me submit work again):
![image](https://user-images.githubusercontent.com/50027175/67639431-c5bed180-f8ef-11e9-9cba-1f5a0773dbc5.png)
While in the bounty page I see this:
![image](https://user-images.githubusercont

[2019-10-27 18:43] calumtomeny commented on #5298
I was able the redeem Kudos for quests I completed earlier today but I have completed four quests in a row and I can't claim Kudos for any of them - I am getting two error messages at the top of the screen when I click "Redeem Kudos":

![image](https://user-images.githubusercontent.com/939917/67639565-4cbc7b80-f8e9-11e9-91b4-12ed5b27b177.png)

[2019-10-27 18:51] calumtomeny commented on #5375
I have had this issue today.

[2019-10-28 00:25] Sirlupinwatson1 commented on #5379
Clone, fork, run it in powershell, test, make all test, debug, config.

[2019-10-28 01:40] androolloyd opened #5405 "Invalid application state preventing users from modifying Job Status"
### Who
Users without 3d avatars and users who enter the Job Status update flow through Profile -> Resume -> edit this info
### What
The user is pushed into the view without the correct context applied, if the user has not setup a 3d avatar, the user can get errors in their console regarding avatar options, furthermore, the view for editing the resume/job status section is not configured to actual

[2019-10-28 01:42] owocki commented on #5405
good find!

[2019-10-28 01:59] owocki commented on #5298
@calumtomeny thanks for letting me know! just refilled the kudos account.   quests took off more than i expected so have to up my refill schedule :P

[2019-10-28 01:59] owocki commented on #5375
just refilled the kudos account. quests took off more than i expected so have to up my refill schedule :P

[2019-10-28 03:34] owocki commented on #5403
it sends 4 reminders (1 per user) .. i agree that could be consolidated into 1 reminder for four users.. but only if each user has gone idle at the same time (or near the same time)

[2019-10-28 03:36] owocki commented on #5334
@naszam im sorry i dont understand the question.

[2019-10-28 03:37] owocki commented on #5398
its status has been overriden to 'open' by @vs77bb

[2019-10-28 03:38] owocki commented on #5399
we just put a fix in for this..

[2019-10-28 03:40] owocki commented on #5400
do you have this line in your URLs.py https://github.com/gitcoinco/web/blob/master/app/app/urls.py#L317

[2019-10-28 03:44] owocki commented on #5339
kewl kewl

[2019-10-28 03:46] owocki commented on #5390
if theres no submissions you cant use basic payout

this info modal on the page details the what/why this happened http://bits.owocki.com/206288e60b2b/Screen%20Shot%202019-10-27%20at%209.46.12%20PM.png

[2019-10-28 03:48] owocki commented on #5392
thats a great idea! we could keep it super simple :)  any interest in throwing up a PR? i can tip ya some ETH

[2019-10-28 05:07] knocte commented on #5390
I see. Well, there should be a better UX for this case, the submission happened offline between the worker and the funder(me).

Is there a way I can reinstate the bounty on this issue (without paying gitcoin's fee twice), so that I can try a Payout again?

[2019-10-28 06:02] Solexplorer commented on #5403
I don't get it, the bot is reminding 2 users for 2 times at the same moment:
![image](https://user-images.githubusercontent.com/50027175/67655395-ba4fc280-f950-11e9-9659-7388c73eb2f8.png)

![image](https://user-images.githubusercontent.com/50027175/67655408-c3d92a80-f950-11e9-9d2c-70ec293cc341.png)

[2019-10-28 06:03] Solexplorer commented on #5398
oopsie

[2019-10-28 06:03] #5398 closed

[2019-10-28 06:07] Solexplorer commented on #5400
I am actually having issues with the local web repo, can anyone tell me if it's having issues with the web repo running locally with docker ?

[2019-10-28 06:26] naszam commented on #5334
I was wondering if after sending a work on gitcoin bounties is it possible to add other quests that I've created as well

[2019-10-28 06:35] Solexplorer commented on #5401
Update, it only happens here:
![image](https://user-images.githubusercontent.com/50027175/67656917-6eebe300-f955-11e9-8a40-3af9756fec7d.png)

[2019-10-28 08:02] agnelvishal commented on #5298
I have tried selecting all the answers in the quest https://gitcoin.co/quests/40/gitcoin-quests-101 but I keep failing. The winning percentage is also 0.

[2019-10-28 09:00] Solexplorer opened #5406 "As a new gitcoin funder, I would like a way to buy ETH/DAI directly from Gitcoin so I don't need to understand how to buy them"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
I was thinking that if there was a way to buy ETH/DAI directly from Gitcoin maybe with a partnership with coindirect or simplex, it would be easier for a funder to post a new bounty, this would help attract more WEB2 companies.

## User Story
I am a guy who wants to create a bounty to solve some issues regarding my proj

[2019-10-28 09:08] Solexplorer commented on #5392
A [user](https://gitcoin.co/ashleyoyt) has expressed his interest in issuing a PR.
I wasn't able as I keep having issues with the local web repo 😢

[2019-10-28 09:18] AshleyOyt commented on #5392
Hey guys, I started working on this. Thanks!

[2019-10-28 09:35] abitrolly commented on #5399
Can not see it. https://github.com/gitcoinco/web/commits/master

[2019-10-28 09:37] abitrolly commented on #5399
It still asks for full permissions.

[2019-10-28 10:07] AshleyOyt commented on #5392
hey @owocki , this is what I designed. Any feedback you have would be much appreciated 😃
![Gitcion](https://user-images.githubusercontent.com/40966461/67669585-e122ee80-f97a-11e9-8408-c79de4c28c0b.png)

[2019-10-28 10:25] Solexplorer commented on #5392
@AshleyOyt Looks good to me, does it replicate to every page or just the homepage ?

[2019-10-28 10:46] AshleyOyt commented on #5392
@Solexplorer I didnt implement it yet, I was trying out some designs in the browser to make sure my design fits with the theme of the page. I plan to implement it in a way where it replicates to every page, that way the user doesnt forget that their profile is hidden.

[2019-10-28 12:46] mul1sh opened #5407 "User's Github Token Is Publicly Visible After Login"
**Describe the bug**
Like the title says, after login into gitcoin, a users `github oauth token` is appended as a variable in a script tag as follows
[code]
This makes it very easy for malicious browser extensions, add-ons or scripts running in the background to parse the page after login, get this token and use to get private user data i.e. emails, repo information e.t.c

**To Reproduce**
1. Simp

[2019-10-28 13:49] mul1sh commented on #5281
@frankchen07 @alexvotofuture Sorry for the delay in this, I've realised the flow required to make this happen is a bit complex because of the following,

1. We'll need to create a discord bot and then manually authorise it to run on the `Gitcoin Events` discord server with the necessary `create guild channel` permissions.
2. When a funder creates an hackathon bounty,  they should add a short stub

[2019-10-28 13:59] willsputra commented on #5347
The current issue details is crowded with buttons, I wonder if we could put less-often-used bounty settings stuff under a 'Bounty Settings' dropdown.

and as a funder, I probably won't need the 'Contribute' button since I can edit the bounty details directly.

![issuedetailsadmin](https://user-images.githubusercontent.com/19514207/67684210-b4e48d80-f9cd-11e9-87e5-2e37db8a6f25.jpg)

[2019-10-28 14:42] willsputra commented on #5347
The current message ("Ready to Pay? Set your MetaMask to this address!") seems pretty clear. Maybe we could move it nearer to the admin buttons to make it more obvious.

![issuedetailsadmin](https://user-images.githubusercontent.com/19514207/67687968-11e34200-f9d4-11e9-9dfb-a9aa91de9410.jpg)

[2019-10-28 14:56] danlipert commented on #5387
@frankchen07 we should get this in the next sprint

[2019-10-28 16:49] frankchen07 opened #5408 "As a Gitcoin user, Gitcoin suddenly needs write access to repos, which is intrusive - having opt-in screens when the scope of access is requested is more transparent."
### User Story

As a Gitcoin user, Gitcoin suddenly needs write access to repos, which is intrusive - having opt-in screens when the scope of access is requested is more transparent.

### Why Is this Needed

We respect the privacy and permissions for our users. It should be read-access only to public repositories.

### Description

The first version of this feature had an opt-in feature, but was r

[2019-10-28 17:45] owocki commented on #4806
u still wanna do this @PumpkingWok ? no worries if not.. i just want to make sure th eball doesnt get dropped! EOY approaches..

[2019-10-28 18:22] octavioamu commented on #5408
New scopes
![image](https://user-images.githubusercontent.com/1358093/67705937-b47cd000-f996-11e9-85d2-4b9530edac76.png)

[2019-10-28 18:24] PumpkingWok commented on #4806
Hi @owocki,
yes sure, if for you it is ok.
At the end of this week i will be able to work on it for three days and i can complete it without problems. I wrote to you this afternoon on slack, also asking info regard quests.
Thanks in advance.

[2019-10-28 18:50] calumtomeny commented on #5375
Thanks @owocki - I wasn't sure if there was a way of redeeming kudos from previously completed quests so I just did them again.

[2019-10-28 20:16] calumtomeny commented on #5334
MakerDAO CDP mechanics.

[2019-10-28 20:22] owocki commented on #5334
@naszam unfortunately theres not a good way to do an 'edit quest'.. do u have the docker repo setup? i could send u an export of the quests in the DB and you could edit locally..

[2019-10-28 20:24] owocki commented on #5375
@calumtomeny this reminds me; i should put a button with the rewards URL on the quests that have already been successfully completed...

this weekend i dreamed up a 'quests overview' page which is where people can see info about the quest: attempts over time; the creator's other quests... and a comment form where people can review the quest.   maybe i can add it there..

[2019-10-28 20:30] Gungz commented on #5338
@owocki, will you review mine as well ?

[2019-10-28 20:34] owocki commented on #5338
@Gungz urs is live!

paying everyone out now

[2019-10-28 20:38] owocki commented on #5338
just paid out everyone on this list!

<img width="345" alt="Screen Shot 2019-10-28 at 2 36 48 PM" src="https://user-images.githubusercontent.com/513929/67715944-6fee3600-f990-11e9-95e7-c190ee8c699b.png">

i *think* i got everyone!  if not; lmk...

also happy to pay out more so keep the quests coming!

[2019-10-28 20:41] naszam commented on #5334
@owocki I was referring to the 'submit work' button, I haven't included the quests i have created after the one I've submitted. Anyway, a way to edit the quests would be helpful too!

[2019-10-28 20:42] owocki commented on #5334
kewl; yea the local clone is the only way right now unfortunately

[2019-10-28 20:43] owocki commented on #5399
@octavioamu put a fix in for this this morning..

[2019-10-28 20:50] naszam commented on #5334
Ah! Ok. I don't have a docker repo setup.. I'll google how to when I got a sec.
The quests that I've sent should be ok. Probably in the future we can add few more details, fix bugs, typos, ..

[2019-10-28 21:15] octavioamu commented on #5399
https://github.com/gitcoinco/web/commit/6e7690e28785332989ea5fbeb607f525dd8ba475

[2019-10-28 22:11] kuhnchris commented on #5281
uh... al you need is a http part of the bot running in the same script as the bot (for example discord.py + flask) - whenever a new bounty is created with hackathon flag set then we send it to the http-part of the bot and this then creates a new channel (guild->createChannel) and a new role.

The createChannel and role part is already done in this repo:
https://github.com/kuhnchris/discord-event-b

[2019-10-28 23:23] frankchen07 commented on #5057
# DRAFT 2019-10-28

<p>Hello from the Gitcoin team! Here’s what the core team and our community have been busy working on in the last few weeks.</p>

<p>We're going to rattle off the biggest changes machine gun style, and then we'll be talking a little more in depth about them!</p>

<ol type="1">
    <li>Gitcoin Grants CLR Round 3</li>
    <li>Gitcoin Quests</li>
    <li>Gitcoin Profiles v2 & New

[2019-10-28 23:35] ririen commented on #5407
I wonder how to treat it. Information about the token is visible only to a given user in the source of the page only when he logs in.

The attacker would therefore need to have physical access to the victim or the user's computer would have to be infected and have dangerous "viruses".

And if something like this happens, it doesn't matter if the token is displayed here or not. Then just entering G

[2019-10-28 23:46] MarkOSullivan94 commented on #5326
With November quickly approaching how about a range of moustaches?

[2019-10-29 00:04] calumtomeny commented on #5298
When trying to create a quest I am getting: "An unexpected error has occured". There is a typo with "Occured" but I was more concerned with why my quest wouldn't post.

[2019-10-29 00:13] zoek1 commented on #5379
hey @owocki i can't click the submit work button but here is a PR ready to review that cover all points

[2019-10-29 02:08] mul1sh commented on #5407
@ririen hmmm..this is not only a threat if the attacker has physical access to the user's computer but also  browser extensions/ add-ons/themes can all read this token, because they run in the background by default and can access the current page easily.

And yes of course XSS or even simple phishing via iframes would allow an attacker to gain access to the token once the user has logged in.

[2019-10-29 02:14] mul1sh commented on #5281
@kuhnchris Sorry I don't get you, creating the channel is not the issue, the issue getting the access tokens for both the hackathon funder and the gitcoin/discord user inorder to add them to the group dm.

Without these tokens, then the bot can auto-create these channels but it won't be able to add the respective user's.

[2019-10-29 02:21] DistributedDoge commented on #5298
Likewise, when trying to create a Quest I am hitting "An unexpected error has occured" which is very annoying, because Quest interface is **super clunky** to work with and it really sucks to have finally copy-pasted no less than 20 strings (5 questions * 4 answers) to hit an error at the end.

In my opinion it would be pretty cool, if quests had e.g. a specific JSON schema and I could submit a que

[2019-10-29 03:41] owocki commented on #5298
just put a fix in for this

[2019-10-29 03:51] owocki commented on #5298
sorry about this.. this is totally my fault.. a deploy i pushed earlier today went bad.  its fixed now.

i hear you man...

this exists .. but only on the backend...

here is the schema.. https://gist.github.com/owocki/695cc6a929f6db2827a7f3202583b74a if you want to start using it and just submit the link as one of the questions.. ill see it when i 'approve' the quest and paste it into the backend

[2019-10-29 03:52] owocki commented on #5298
@calumtomeny @DistributedDoge can you try again to submit your quest? hopefully  u still have ur old browser windows up!

[2019-10-29 04:03] owocki commented on #5379
why cant you click the submit work button? will check it out..

[2019-10-29 04:29] owocki commented on #5298
just made two changes i could use everyones feedback on

quests index page now tells you what quests are NEW (last 48h) AND the page lists your attempted but unbeaten + your beaten quests for easy indexing of where u want to try again
<img width="526" alt="Screen Shot 2019-10-28 at 10 27 23 PM" src="https://user-images.githubusercontent.com/513929/67737840-39390f80-f9d2-11e9-8fc0-50a2887070d2.png"

[2019-10-29 04:43] owocki commented on #5326
heads up @mladenpetronijevic  -- some user requests coming in!

[2019-10-29 04:44] owocki commented on #5390
there is not; but i can send you a refund..  remind me your tx id?  i can issue refund from there..

[2019-10-29 04:47] owocki commented on #5400
can you post a stack trace of http://localhost:8000/dynamic/js/tokens_dynamic.js pls @Solexplorer ??

[2019-10-29 04:48] owocki commented on #5401
try now? seems to be working

[2019-10-29 05:39] knocte commented on #5390
Not sure which tx you mean. Anyway I think the last transactions of my MetaMask wallet are all related to this bounty: https://etherscan.io/address/0xeab801021a22c62c4c08471dd518c27b24039d8b

After that I can re-post a bounty on top of the cancelled issue?

[2019-10-29 06:10] abitrolly commented on #5399
Why gitcoin.co needs to know about my repos for login?

Is it possible to request additional permissions only when required?

[2019-10-29 06:18] octavioamu commented on #5399
Shouldn't ask you anymore for those permissions

[2019-10-29 06:21] Solexplorer commented on #5401
Yup it's working now :)

[2019-10-29 06:21] #5401 closed

[2019-10-29 07:06] abitrolly commented on #5399
Is it possible to request those permission on the sharing management page where they are actual?

[2019-10-29 07:58] calumtomeny commented on #5338
Thank @owocki - submitting quests works again, here is mine: https://gitcoin.co/quests/44/tomorrow-maker-dais

[2019-10-29 13:25] tbenr commented on #5334
Guys I submitted a "Status Principles" quest but i think I set answer timeouts too short. and need to do some edit. No way to change submitted quests?

[2019-10-29 13:29] DistributedDoge commented on #5338
Thanks for fixing submissions, here is my second quest: https://gitcoin.co/quests/46/leap-onto-plasma-with-leapdao-mainnet

Some of the Questions are too long, so they don't render well. If we had edit functionality I could fix it myself.

[2019-10-29 14:11] ririen commented on #5407
It is not possible to use iframe with a gitcoin domain outside. There is no threat in this matter. There is adequate security for this on the entire platform.

You miss a very important perspective. Each page/platform with users MUST contain in its source the user's private data after logging in, it is necessary for its operation.

It doesn't matter if it's Facebook, Google or Gitcoin, each after

[2019-10-29 14:22] VexyCats commented on #5338
Wow thanks @owocki ! Didn't know there was 0.1 for making a quest! I just wanted to hep educate about NFTs.

Would you like another quest made on the topic ?

[2019-10-29 15:11] naszam commented on #5338
I've just created a Quest on 'Smart Contract Best Practices' (Advanced):
https://gitcoin.co/quests/50/smart-contract-best-practices

With a particular focus on Solidity

[2019-10-29 15:31] naszam opened #5417 "Gitcoin User Profile Green-Spectrum Pixel Grid Update Error"
### Who
Gitcoin Profile Green-Spectrum Pixel Grid
### What
Doesn't update colours following activities.
### Why
Pixels stay gray despite activities being shown in the notification box when selected.

[2019-10-29 16:08] frankchen07 commented on #5281
Seems there's a little bit of misunderstanding here? I have a couple of questions, perhaps it'll clear things up:

1. What is this "stub" from the funder and where does it go?

2. This stub is used to create the room, along with access tokens from both the sponsor and the user, so the room is created + the two users. It sounds like Kuhn Chris is saying that the createChannel and role part is alrea

[2019-10-29 16:49] straumer commented on #5379
Not directly yet, setting up my dev environment etc. as I'm new to the project. But seems like there's a solution already. Am I blocking @zoek1 maybe? That's how it works right? That I would have to stop working on it for others to submit work.

[2019-10-29 16:57] owocki commented on #5417
got a screenshot?!

[2019-10-29 16:57] straumer commented on #5379
Also, seems like there are no fixtures for the quests, giving errors in the dev environment. Are people creating them manually now to be able to work on things?

[2019-10-29 17:00] kuhnchris commented on #5281
@mul1sh sorry about my confusion but:
- why do you need an access token?
the only thing you need to know is the discord user, which we store on the database already (User or Profile) - which would be enough (user#xxxx) to add them to the role, if they are in the discord server already. alternatively: you can create an invite link to that channel and give it to that person.
Also, which group DM?

Y

[2019-10-29 17:09] frankchen07 commented on #5352
![chat](https://user-images.githubusercontent.com/7516920/67791173-3cfd7e00-fa34-11e9-9020-1dc47c3994eb.jpg)

uploaded an old chat sketch by @willsputra

[2019-10-29 18:07] sharmi commented on #5133
Hi I was waiting for access to "GitCoin SEO Plan" document which was protected.

I have been granted access today. Will go through it and get back to you.

[2019-10-29 18:11] kuhnchris commented on #5379
probabbly - I haven't checked out the environment lately, but you can go to /_administration/ and find quests there and add one there. Could you also throw up the error you are receiving? thanks.

[2019-10-29 18:49] kdm5126 opened #5418 "Unable to click submit -metacartel quest mobile UI"
![4926FA59-D5A7-49C2-A2F3-3CCF08894BE4](https://user-images.githubusercontent.com/27504011/67798980-eb1c1e80-fa5a-11e9-9cb6-562c53800b39.jpeg)

Cannot click “submit” for selected choice.

- Device: iphone
- OS: 13.1.3
- Browser:
- Version: 7s

**Additional context**

[2019-10-29 18:50] straumer commented on #5379
@kuhnchris, I tried the PR branch that @zoek1 mentioned above and it fixes those errors. Just Zero division and no attribute errors due to no Quests/QuestAttributes etc. existing in the database.

That PR branch fixes nr. 1 on this issue (negative inputs), but the rest is unfinished. But I'm slightly confused right now about how traditional bounties work exactly. I can use zoek's branch in the res

[2019-10-29 18:52] owocki commented on #5418
oh my; thats much worse than when i last tested :P

bountying this now!  scope: a cleanup of mobile/tablet css on quests so that one can play on an iPhone/iPad/android device

[2019-10-29 18:56] frankchen07 commented on #5347
like the condensed view - only feedback here is making sure that "bounty settings" conveys it well vs "bounty options" or "more options"

easy move for the admin address could work as a useful stopgap. what's your opinion on disallowing the button to go anywhere until the address is set, or does that complicate the technical complexity?

[2019-10-29 19:12] owocki commented on #5339
sweet! is it hosted anywhere we can checkout without cloning/hosting ourselves?

[2019-10-29 19:39] owocki commented on #5339
this is way cool :) good work!

a few notes:
- looks like i can still guess after game over...
- should 'hint' button goaway after i hit it?
- would be nice to hit a keyboard key in order to guess..
- responsive design works nicely
- i wonder how this would look with a nicely designed ETH background.. https://github.com/gitcoinco/web/tree/master/app/assets/v2/images/quests/backs
- whats the securi

[2019-10-29 19:44] poojaranjan commented on #4362
I agree with @lrettig initial statement. There is some mismatch in numbers.

I took a dump of [ECH multisig](https://etherscan.io/tokentxns?a=0x68085e7f88e90fa9247489c83fab30b177ebccb3&ps=100&p=2) account (Date Oct 29, 2019) and matched with transactions available on [Gitcoin page](https://gitcoin.co/grants/82/official-progpow-technical-audit-funding). Converted value of ERC tokens in DAI and USD

[2019-10-29 19:50] frankchen07 commented on #5322
The current implementation (in progress is similar to https://hackathons.gitcoin.co/grow-ethereum/results/)

This will be a different data model, but can easily connect to the bounty model and profiles model.

The results page will be on a different data model, but it will be serviceable in admin. v1 will include the results page, and admin serviceability so we can populate the page as the hackath

[2019-10-29 20:00] owocki commented on #5334
@tbenr no way to do so right now (though id be open to someone building it!). just let me know the new timeouts and ill do it on the backend!

[2019-10-29 20:02] owocki commented on #5323
i am concerned that this course of action will lead to the engineering team being a blocker for simple content/copy updates.. self reliance is one of our stated values ( gitcoin.co/mission ) after all.. is there a plan to avoid that?

to be clear; im not veto-ing or anything... just wondering if this was a consideration made..

[2019-10-29 20:04] owocki commented on #4362
can i have access to the spreadsheet?

what does the difference look like if you use the conversion rates that the gitcoin system uses ? which i noted in this doc... https://github.com/gitcoinco/web/issues/4362#issuecomment-530377981

note: we sync our price data from etherdelta/poloniex

[2019-10-29 20:06] octavioamu commented on #5339
Really nice! I notice even if I won the counter keeps going until I get "game over"

[2019-10-29 20:07] merwane commented on #5339
Thanks!

I'll work on updating the issues you mentioned such as the guessing possibility after the game over, the hint button disappearing after usage, the background, keyboard hotkeys, etc.

Concerning the security model, knowing that the words will be stored in a database, they shouldn't appear on page inspection after the quest is deployed for production with a proper DB.

[2019-10-29 20:13] poojaranjan commented on #4362
Attached.
[ProgPOW funds.xlsx](https://github.com/gitcoinco/web/files/3785605/ProgPOW.funds.xlsx)

That may be a probable reason for the difference.

[2019-10-29 20:21] owocki commented on #5390
heres your refund! https://etherscan.io/tx/0x3df938e49b65127edfd3e6f277c06c4664f4011d8f8ef34199dad9ef0c4c99a9

i'd recommend creating a new github issue with a clean comment history... its a small pain to copy it over.. but it can save time down the line

[2019-10-29 20:26] owocki commented on #5339
Thanks everyone for your feedback!

if you could comment out a ' config' area of your app where the various things that will need to integrate into gitcoin go, that'd be super helpful.

working list of items:
- Title
- Description
- Reading Material Title/URL
- Enemy Kudos & Reward Kudos (each have a name + artwork)
- Reward Points Value (usually 1)
- Multiple Choice Q&A list
- Reward URL

if you

[2019-10-29 20:33] tbenr commented on #5334
@owocki would be funny to implement 🤔ok I'll contact you with required modification, btw there is also a duplication because another Status ambassador submitted a quest on the same topic!

[2019-10-29 20:56] frankchen07 opened #5419 "DESIGN - Tribes v1 Features Mockup Placeholder"
### User Story

DESIGN - Tribes v1 Features Mockup Placeholder

### Why Is this Needed

Testing materials for future builds of Gitcoin Tribes

### Description

the positioning document: https://docs.google.com/spreadsheets/d/1GfzqZVGCe_E4DjMkRhI7zeDGhrQZ-g3fv5Eav0UBZmc/edit#gid=1605520830

will & vivek’s mural: https://app.mural.co/t/consensys3989/m/consensys3989/1567103265603/d757e7a11f109fd8954d

[2019-10-29 20:58] merwane commented on #5339
I just fixed the following things you asked for:

- The hint buttons disappear after being used.
- You can't guess after game-over.
- The timer stops after winning/losing.
- The "Hint:" word only shows after the user clicks the Hint button.
- Letter guessed are now bigger.
- Added one of your fancy ETH backgrounds, which definitely looks nicer! :)

I'll set a keyboard listener as soon as possible

[2019-10-29 21:01] owocki commented on #5334
kewl; send me the dupe links and which one you want to remove and ill take care of it!

[2019-10-29 21:09] frankchen07 opened #5420 "As a Gitcoin hacker, when I start or submit work, I can have my work submissions broadcasted on the results page"
### User Story

As a Gitcoin hacker, when I start or submit work, I can have my work submissions broadcasted on the results page.

### Why Is this Needed

This original problem that this was solving for is having a central location where we can see the started and submitted projects during an active hackathon. This leads to a single page that sponsors can visit to see progress, and a place were co

[2019-10-29 21:31] androolloyd commented on #4976
On the celery server, I setup a systemd service as per `https://docs.celeryproject.org/en/latest/userguide/daemonizing.html#init-script-celeryd`

[2019-10-29 23:14] BrentAllsop commented on #4362
Kevin, just FYI, I sent Pooja a copy of this spreadsheet, I think originated from you.
Which has the conversion values gitcoin used?
I'm guessing if Pooja uses these numbers it will match?
https://docs.google.com/spreadsheets/d/1LG_5h3aR7mfnueoTH-7VUVQtm1bvO1r7ZH9anavpG1A/edit?usp=sharing

[2019-10-29 23:34] Iwannawin commented on #5326
What about fades and braids?

[2019-10-30 01:23] owocki commented on #5338
@martinlsanchez done!

@naszam  your quest is live! awesome..
@VexyCats yes pls!
@DistributedDoge your quest is awesome.. thank you!
@calumtomeny just tested; good stuff

[2019-10-30 01:38] merwane commented on #5339
I was just trying the keyboard listener implementation but I felt like the difficulty decreased a lot and the timer didn't make sense anymore because of the speed of typing on a keyboard.

I think we should randomize the order of the letters to add more "peps" to the quest. What do you think?

Also, what do you think of the previous corrections?

[2019-10-30 02:10] poojaranjan commented on #4362
Revisited the sheet and figured an error. Now total fund is only 5DAI off. Unsure, but that could be because, I used coinmarketcap rates and Gitcoin uses etherdelta/poloniex.

![Screen Shot 2019-10-29 at 10 04 57 PM](https://user-images.githubusercontent.com/29681685/67823204-8a133b80-fa98-11e9-97fa-89e9f6f40747.png)

Updated sheet attached
[ProgPOW funds2.xlsx](https://github.com/gitcoinco/web/fi

[2019-10-30 07:04] tbenr commented on #5334
@owocki you can delete mine https://gitcoin.co/quests/45/status-principles . The other one has been published an it's by far better than mine. Thanks!

[2019-10-30 08:00] mul1sh commented on #5407
@ririen  ok thanks for clarifying, closing this one now.

[2019-10-30 08:00] #5407 closed

[2019-10-30 10:35] StatusSceptre commented on #5317
Re Status - our desktop browser is only chat right now @owocki. Our mobile betas should allow you to test, so if you want/need to [download](https://status.im/get/) for iOS let me know and I can ensure you're our testflight list.

[2019-10-30 12:04] DistributedDoge commented on #5298
I know there are different visual variants of Quests, while I like most of them, this particular one seems rather hard to read. Moreover it is quite hard to see which answers you have selected as "highlight" is pretty subtle [red-ish vs slightly more red-ish]:

![is_it_supposed_to_look_like_that](https://user-images.githubusercontent.com/49067954/67856633-47437900-fb15-11e9-93d2-baeccb688ec9.png)

[2019-10-30 12:35] danlipert opened #5423 "[DROP DEAD DATE: NOV 25th] As a user, I want to use the upgraded Multi Collateral Dai token and contracts, so I can continue to use a stablecoin on the Gitcoin platform."
### User Story

As a user, I want to use the upgraded Multi Collateral Dai token and contracts, so I can continue to use a stablecoin on the Gitcoin platform.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: The DAI contract is being upgraded and we

[2019-10-30 15:18] sharmi opened #5424 "Technical SEO - Remove 404 errors caused by profile pages/"
**Describe the bug**
Accessing "https://gitcoin.co/profile/<username>" results in 404 errors.

Too many 404 errors affect Site Authority.

**Expected behavior**
Urls that need authentication, like the one above, should be blocked in robots.txt

[2019-10-30 18:50] frankchen07 opened #5425 "As a Gitcoin grant contributor, I want better, more accurate live calculations, because it makes me feel like I'm contributing something worthwhile"
### User Story

As a Gitcoin grant contributor, I want better, more accurate live calculations, because it makes me feel like I'm contributing something worthwhile.

### Why Is this Needed

We want to improve on post v1 live calculations implementation.

### Description

Better leverage curves calculation with the new Vitalik formulas and feedback.

### Current Behavior

current work: https://gith

[2019-10-30 18:58] frankchen07 opened #5426 "Github permissions rollback"
### User Story

Github permissions rollback

### Description

hotfix to rollback github permissions

[2019-10-30 18:58] #5426 closed

[2019-10-30 19:17] owocki commented on #5298
i'd love some feedback on this PR from everyone https://github.com/gitcoinco/web/pull/5427

[2019-10-30 19:18] owocki commented on #5298
@santteegt mind logging a seperate ticket and well take a look?

[2019-10-30 19:18] owocki commented on #5298
@DistributedDoge @Solexplorer @calumtomeny etc ^^

[2019-10-30 19:18] owocki commented on #5298
@santteegt mind logging a seperate ticket and well take a look?

[2019-10-30 19:19] owocki commented on #5334
i'd love some feedback on this PR from everyone https://github.com/gitcoinco/web/pull/5427 - which monetizes Gitcoin Quests with Codefund Ethical Ads (and proposes a rev share)

[2019-10-30 19:19] owocki commented on #5338
i'd love some feedback on this PR from everyone https://github.com/gitcoinco/web/pull/5427 - which monetizes Gitcoin Quests with Codefund Ethical Ads (and proposes a rev share)

[2019-10-30 19:19] owocki commented on #5339
i'd love some feedback on this PR from everyone https://github.com/gitcoinco/web/pull/5427 - which monetizes Gitcoin Quests with Codefund Ethical Ads (and proposes a rev share)

[2019-10-30 19:23] straumer commented on #5379
No I was wrong. zoek1's branch fulfills nr. 1, 2 and 3 of this issue. Although, the questions/answer fields that are added have a red error outline. Would be nice if there'd be no error outline at first.

Gonna see about nr. 4 and this initial red outline.

[2019-10-30 19:23] owocki commented on #5339
@merwane new feedback:
- background sizing is off! feel free to copy the quests.css file from the gitcoin repo if you want to know a good background sizing!  http://bits.owocki.com/68c6ab277f5e/Screen%20Shot%202019-10-30%20at%201.19.55%20PM.png
- with the new backgroudns.. the text doesnt seem 'framed'... would it be possible to add a foreground div that has partially opaque/partially transparent

[2019-10-30 20:53] santteegt opened #5429 "Gitcoin Quest Kudos images not rendering"
Hi,

Seems that some kudos illustrations cannot be rendered (broken URL?) both in my [Gitcoin profile](https://gitcoin.co/santteegt/kudos) and within [OpenSea](https://opensea.io/accounts/0x224aba5d489675a7bd3ce07786fada466b46fa0f). If you take a look at the latter link, the ones that cannot be rendered in OpenSea aren't being shown in my profile

[2019-10-30 20:55] owocki commented on #5429
which ones ? they seem to be loading to me

[2019-10-30 21:45] santteegt commented on #5429
No 6035 for example, is a kudos I've earned on the `Welcome to Web 3` quest

![image](https://user-images.githubusercontent.com/926341/67901041-c5af1380-fb33-11e9-8804-0199dfde49e1.png)

[2019-10-30 22:21] owocki commented on #5317
this should correct the issue across all non metamask web3 browsers https://github.com/gitcoinco/web/pull/5432

[2019-10-30 22:28] zoek1 commented on #5379
I'm not sure, i clicked to 'stop work' button to see if applying again solves the problem but the button to start work disappears.

@owocki

[2019-10-30 22:50] zoek1 commented on #5346
Same here @owocki, i can't submit my work. :anguished:

![Gitcoin Quests - Improvements, enhancements and corrections _ gitcoinco Funded Issue Detail _ Gitcoin _ Gitcoin](https://user-images.githubusercontent.com/660973/67904876-56d2ba00-fb35-11e9-8670-956f5b714eb1.png)

[2019-10-30 22:57] frankchen07 opened #5434 "As a Gitcoin operator, having complete admin_org_override_names in our DB would give much more granular sponsor statistics"
### User Story

As a Gitcoin operator, having complete admin_org_override_names in our DB would give much more granular sponsor statistics.

### Why Is this Needed

1. for complete reporting for sponsors (this was manually done with Consensys Labs reporting)

2. `admin_override_org_name` is sometimes filled out, sometimes not, for different sponsors. This means for sponsor prizes, sometimes it's n

[2019-10-30 23:13] naszam commented on #5338
@owocki Sounds interesting!

[2019-10-30 23:15] straumer commented on #5379
My submit work button works. I'm ready to submit, but I just need ETH first. xD

[2019-10-31 01:49] axic commented on #5338
Submitted https://gitcoin.co/quests/54/junior-eip-technician. Any feedback is welcome on tweaking it :wink:

[2019-10-31 01:53] owocki opened #5435 "Gitcoin Quests Round 2 Winners"
## Other Quests Threads

- Round 1 Winners Congrats Thread https://github.com/gitcoinco/web/issues/5337
- Round 2 Winnerse https://github.com/gitcoinco/web/issues/5435
- Feedback thread https://github.com/gitcoinco/web/issues/5298
- Request Topic Thread https://github.com/gitcoinco/web/issues/5334
- Create Topic Thread/Bounty - https://github.com/gitcoinco/web/issues/5338
- Create Game Mechanic Th

[2019-10-31 01:54] owocki commented on #5337
round 2 winners https://github.com/gitcoinco/web/issues/5435

[2019-10-31 01:54] #5337 closed

[2019-10-31 01:54] owocki commented on #5379
submit a faucet req pls! gitcoin.co/faucet

[2019-10-31 01:59] owocki commented on #5334
SustainOSS Quest
ethmagicians quest
Radicle Quest
application alliance quest
web3 business models Quest
https://youtu.be/Pl8OlkkwRpc
How the blockchain will change..
Vitalik post quest

[2019-10-31 02:04] straumer commented on #5379
I already did. :)

[2019-10-31 02:06] axic commented on #5338
I think I've found an irregularity: the above quest is not enabled yet and as such the kudos cannot be redeemed after beating it. That it, unless clicking on "Redeem prize" when attempting to beat it again after successfully beating it. Basically anyone can claim any kudos they want by submitting a quest.

[2019-10-31 02:16] owocki opened #5436 "Community-Curated Quests Product Roadmap"
# Stories in the One million devs epic

Check the below tickets to view Gitcoin's one million dev iniatitives

- Epic spec https://github.com/gitcoinco/web/issues/5541
- Gitcoin Quests Roadmap https://github.com/gitcoinco/web/issues/5436
- Gitcoin Pitches https://github.com/gitcoinco/web/issues/5543
- Decentralized Sense Making Thread to share Hypothesis & Observationss - https://github.com/gitcoi

[2019-10-31 02:18] owocki commented on #5436
quest edit form

[2019-10-31 02:18] owocki commented on #5436
Featured Quests

[2019-10-31 02:18] owocki commented on #5436
Quests as a monetization tool https://github.com/gitcoinco/web/pull/5427

[2019-10-31 02:20] owocki commented on #5436
After quest is over.. give feedback on the quest / opportunity to complain that it’s unfair if wrong.

[2019-10-31 02:20] owocki commented on #5436
 quests cheat code if and when you do something we like.. like fund a grant

[2019-10-31 02:20] owocki commented on #5436
quest detail page
- Plays over time stats
- Winners List
- Reviews/feedback
- Creator Profile

[2019-10-31 02:21] owocki commented on #5436
quests sorting mechanism: sort by popularity
or by "track"
next quest by track

[2019-10-31 02:22] owocki commented on #5436
integration API between Quests and ForeignQuests / proof of concept

[2019-10-31 02:22] owocki commented on #5436
health bar

[2019-10-31 02:22] owocki commented on #5436
ability to tell a user what the right answer was after they get it wrong (health bar)

[2019-10-31 02:22] owocki commented on #5436
erc20 tokens rewards (not just kudos)

[2019-10-31 02:24] owocki commented on #5436
ability to change scenes / background upon entering a quest

[2019-10-31 02:24] owocki commented on #5436
ability to choose the default scene on quest creation

[2019-10-31 02:24] owocki commented on #5436
another scheme could be eliminating answers after they got it wrong

[2019-10-31 02:25] owocki commented on #5436
recdord right/wrong answers on backend per quest attempt so you can see where people get it wrong

[2019-10-31 06:40] elenadimitrova commented on #5338
@axic the second question on EIP types I am certain all options are correct but the quest fails me like 3 times already :) Tell me you made a mistake? Either that or I'm a total idiot

[2019-10-31 06:55] elenadimitrova commented on #5338
Also to whoever created the welcome to web3 quest https://gitcoin.co/quests/52/welcome-to-web-3 the time to answer the questions is not sufficient to even read them. @owocki can you please apply some more rigorous checking of the quest proposals, I have the feeling you are just blindly approving them all.. Appreciating all the efforts that have gone into this though. Gamifying the learning process

[2019-10-31 10:03] axic commented on #5338
@elenadimitrova I think it is correct. The trick is that (confusingly) there are types and categories... see EIP-1. Maybe I should remove that question as it may be a blocker :)

[2019-10-31 10:06] elenadimitrova commented on #5338
@axic I did try that separation as well before and didn't work, Standards Track and Meta are reported incorrect 🤷‍♀

[2019-10-31 11:42] axic commented on #5338
Types: Standards, Meta, Informational
Categories: Core, Networking, Interface, ERC

Used types and categories as that is the correct wording in EIP-1. Perhaps those first two questions are a bit of an overkill. (And it is confusing enough anyway)

Let me know about the rest :wink:

[2019-10-31 11:57] merwane commented on #5339
Thanks for the feedback!
I just updated the quest with the improvement proposals.

Also, I darkened the background image manually so that the text displays better.

Again, you can check on the same URL: https://hangmanquest.netlify.com/

[2019-10-31 12:17] elenadimitrova commented on #5338
@axic sorry but I still don't understand the answer to the question: "WHICH OF THE FOLLOWING ARE EIP TYPES? (SELECT ALL THAT APPLY)" where the options are:

1) Standards Track
2) Networking
3) Meta
4) Core

Isn't it correct the answers to be 1) and 3)?

[2019-10-31 12:18] axic commented on #5338
There are 5 options there and 1, 3, 5 must be selected. Isn't it showing 5 options for you? It was showing 5 for me.

[2019-10-31 12:22] elenadimitrova commented on #5338
Not clear there's another option on there :( I'm on a 13'' MacBook Pro. @owocki maybe can be added to the list of improvements for the quest UI?

<img width="1275" alt="Screen Shot 2019-10-31 at 14 21 34" src="https://user-images.githubusercontent.com/703848/67946350-dae67980-fbe9-11e9-9042-f7024362a092.png">

[2019-10-31 12:25] axic commented on #5338
Ah that explains it then! I'm using an external screen with quite a big screen real estate and it shows up there.

[2019-10-31 12:52] elenadimitrova commented on #5338
@axic I think let's leave the questions on types. It's important to understand these when working with EIPs but the difference is perhaps too subtle between types and categories. I still think a more specific question like "What are valid categories of Standards Track EIP?" or "What EIP type does ERC category belong to?" will be more meaningful and require some deeper thinking. It can replace the

[2019-10-31 13:21] owocki commented on #5338
7f00840390371af9d0e2db45c4d7b94de33d932c fixes this

would someone mind throwing up a ticket for the responsiveness issues + ill fund it.

[2019-10-31 13:57] mul1sh commented on #5208
still rebasing my commits, just a bit...

[2019-10-31 14:03] Simona-Pop commented on #5326
Ginger hair + glasses + better clothes :D

[2019-10-31 14:14] MladenPetronijevic commented on #5326
thanks for the feedback everyone! i'll make sure to start working on new assets next week

[2019-10-31 16:24] owocki commented on #5429
hmmm ok; i dont see any kudos that arent rendering on your gitcoin profile  (the 'web3 advocate one which you note you won for beating 'welcome to web3', for example is rendering fine' http://bits.owocki.com/6ac9fdb69422/Screen%20Shot%202019-10-31%20at%2010.23.29%20AM.png ) - will have to have a chat with the open sea guys and see whats up on their end..

[2019-10-31 17:36] owocki opened #5437 "multiple people reporting that they can't submit work after starting work"
**Describe the bug**

multiple people reporting that they can't submit work after starting work

**To Reproduce**

unknown

reported on https://github.com/gitcoinco/web/issues/5346 and https://github.com/gitcoinco/web/issues/5379#issuecomment-548139389

**Expected behavior**

you can submit work when you have started work

**Screenshots**

![67904876-56d2ba00-fb35-11e9-8670-956f5b714eb1](https://u

[2019-10-31 17:36] owocki commented on #5346
created a new ticket here https://github.com/gitcoinco/web/issues/5437

[2019-10-31 17:42] owocki commented on #5437
@zoek1 can you fill out the browser info and other info that would help people figure out how to reproduce?

[2019-10-31 17:44] owocki commented on #5334
just submit work again

[2019-10-31 18:01] octavioamu commented on #5346
@zoek1 is a traditional bounty just one person is able to work at a time, so to you be able to start working, nobody can be approved yet.
The same with #5379
Just to explain the flow of traditional bounties
Until someone get approved, many can apply to work, when someone gets approved nobody else can apply,
If the one approved click stop to work, it get back to the normal flow > many can apply unt

[2019-10-31 18:02] octavioamu commented on #5437
Both bounties are traditional so the flow is as created, people can apply to work until one get approved, that one is the only one can submit work and in the time someone is approved nobody else can "apply to work"

[2019-10-31 18:30] naszam commented on #5334
@owocki I can't find the  'submit work' button, the only shown is the following:
Send Payment Reminder

[2019-10-31 18:35] ososco commented on #5334
@naszam If you are trying to submit another quest to the bounty, you can go to dashboard (https://gitcoin.co/dashboard), the option to submit work again is available there.

[2019-10-31 19:16] frankchen07 opened #5438 "As a Gitcoin operator, when I bulk invite, the invitees get the email several times"
**Describe the bug**

As a Gitcoin operator, when I bulk invite, the invitees get the email several times

**To Reproduce**

1. bulk invite to a bounty
2. check email
3.
![Screen Shot 2019-10-31 at 10 00 58](https://user-images.githubusercontent.com/7516920/67978797-1d9f5600-fbd8-11e9-82b3-bfcd487e124b.png)

**Expected behavior**

email should only appear once

[2019-10-31 19:41] Gungz commented on #5338
@owocki, I have created another quest (https://gitcoin.co/quests/55/impact-of-blockchain-to-money-and-business) based on this topic :
https://youtu.be/Pl8OlkkwRpc
How the blockchain will change..

Will also submit via gitcoin.

[2019-10-31 19:49] ososco commented on #5338
New quest on "Fellowship of the Ethereum Magicians" (Beginner):
https://gitcoin.co/quests/56/the-fellowship-of-the-ethereum-magicians

note: I noticed a typo in first answer for first question "Peroson" after quest was submitted.

[2019-10-31 20:41] owocki commented on #5338
just approved ur quests - thanks!

On Thu, Oct 31, 2019 at 1:49 PM Osama Abbas <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebo

[2019-10-31 21:17] owocki commented on #5338
just added the ability to select an arena when making a quest...anyone wanna take it for a spin?

<img width="953" alt="Screen Shot 2019-10-31 at 3 10 03 PM" src="https://user-images.githubusercontent.com/513929/67986418-95797a80-fbf0-11e9-88e8-8db4febe216e.png">

[2019-10-31 21:19] merwane commented on #5339
Do you think I can submit?
I want to start working on the NuCypher bounty which I find really cool but for a reason, Gitcoin prevents me from starting work. It says I can't have more than three active bounties, even if this is the only active bounty I'm in.

[2019-10-31 21:53] owocki opened #5439 "active bounty count is wrong"
I want to start working on the NuCypher bounty which I find really cool but for a reason, Gitcoin prevents me from starting work. It says I can't have more than three active bounties, even if this is the only active bounty I'm in.

from @merwane on https://github.com/gitcoinco/web/issues/5339#issuecomment-548573223

[2019-10-31 21:58] owocki commented on #5339
@merwane just increased your active issue count.. can you try on the nucpher bounty now??

so.. i still dont seem to be able to guess with my keyboard.. is that still forthcoming?
we will also need for the gitcoin quests app and your quiz to be able to talk to each other.. is there a way that
- i can hand off a visitor to your app and request a specific quest.. like the web3 or ethereum one?  this

[2019-10-31 22:30] naszam commented on #5298
@owocki  I've noticed that there is a bit of redundancy among the kudos I've created, most of them have the "Blockchain The World Kudos". Also, there are two 'Wizard Bot Kudos'. Would be possible to have a unique Kudos per Quest?

[2019-10-31 22:55] Sirlupinwatson1 commented on #5339
For the people who didn't see it on Gitcoin here is my idea :
Imagine Zelda a link to the past on the SNES , i am sure 95% here will remember the map and when into a single squire zone like in the Small village, this could looks like to be the background of the idea i have .  Copy Pasted from Gitcoin

Work Plan: Hi, i have a good idea for a nice quest style and new mechanics style. I am not skille

[2019-10-31 23:22] zoek1 commented on #5437
@octavioamu I see, what are the recommended way to submit work on this types of bounties if the work is done? As I understand I just need to wait the approved user clicks the stop work button and then submit the mine but that could be time consumed, right?

[2019-10-31 23:23] merwane commented on #5339
@owocki Thanks for increasing my active issue count! I will apply for the bounty later as I don't really have an idea now.
Also, I didn't integrate any mechanism to create hangman quests as of now, it's just hardcoded and I use a basic local config to simulate that for now.
Is there any Gitcoin API I can make calls to when the user wins/loses or should I just make a redirection to gitcoin.co?

@Si

[2019-10-31 23:43] Sirlupinwatson1 commented on #5339
@merwane  No work done so far, but just an idea when i seen the bounties, i have so much idea that come like instantly for any kind of project.  Yes it is tricky a bit, but don't you think it still worth it , like we in 2019, it could be a very nice game and at the same time promotion like for Gitcoin . I mean people will talk about it ; He did you see the zelda like game on Gitcoin hahahaha. Well

[2019-10-31 23:45] Sirlupinwatson1 commented on #5339
And yes, @merwane  , the quest bounties is for a new mechanics quest so, i did think about it, and i see the end product already, i can visualize it in my mind lolllll. Not everyone have imagination but me,

[2019-10-31 23:48] merwane commented on #5339
Cool, you can try implementing it in the most simple way then update it gradually!
As I can see you're from Montréal, bonne chance pour la suite! :)

[2019-11-01 00:16] Sirlupinwatson1 commented on #5339
Thanks my friend, merci beaucoup ! Yes. been at EA Games Studio this week, 3 days on Video game there testing.  Pretty funny

[2019-11-01 01:33] zoek1 commented on #5346
@octavioamu thanks, i understand and sorry for the inconvenience @owocki and @HarveyDonlio. i'll just wait. :sweat_smile:

[2019-11-01 01:53] owocki commented on #5298
@naszam it is; the problem is that the kudos thats minted as part of the reward needs to be owned by gitcoin (0x6239FF1040E412491557a7a02b2CBcC5aE85dc8F) otherwise itll cost us an arm and a leg for everyone who mints a kudos (wins a quest)

[2019-11-01 01:54] owocki commented on #5298
if you select a kudos owned by us then that'll get accepted for sure..  still need to build in filters to the new quest form

[2019-11-01 01:54] owocki commented on #5436
if you select a kudos owned by us then that'll get accepted for sure..  still need to build in filters to the new quest form

[2019-11-01 01:57] owocki commented on #5339
cool idea @Sirlupinwatson1

I need to code it up! on my todo list

[2019-11-01 01:58] merwane commented on #5339
I can give a hand on that, I'm pretty good when it comes to RESTful APIs and Python haha :)

[2019-11-01 02:01] Sirlupinwatson1 commented on #5339
@owocki  @merwane  wow that is cool. I mean , really ?  Its not my project but a project for the community here i suppose. My idea are free, as well the time i am here, I learn so and i am happy to be able to contribute, to me its the futur gitcoin and all of this. Like i said i dont have much time in these days because the other world is calling me and my twins, but i will try my best to contribu

[2019-11-01 02:05] owocki commented on #5339
@merwane what do you think of just building the APIs that i desribe on https://github.com/gitcoinco/web/issues/5339#issuecomment-548607115 on this repo?  happy to tip ya ofc ..  and itll be a good way to eat ur own dogfood!

@Sirlupinwatson1 definitely man :)  i loved zelda back in the day.. wish i had enough time to code video games all the time and make something of that caliber.  maybe as a dec

[2019-11-01 02:09] merwane commented on #5339
@owocki Haha yeah, sure! I'd love to give it a try! Drop me an email at contact@merwane.me to discuss the details of the API :)

[2019-11-01 02:58] Sirlupinwatson1 commented on #5339
I will put time on this , that week-end, saturday or sunday . And if you have any recommandation i will follow them. Please tell me as much as you can so i can be better , i know its not a learning lab, but just to share information for personal interest

[2019-11-01 03:05] Sirlupinwatson1 commented on #5339
I just send you a tip @merwane  , its a very but very low amount since i got only 1.37 us in the acount, i cant reach my other wallet with bit more than 1.5 ethereum in it, i got the adress but need to seek how i will do this lol. just to encourage you, need more human like you that is doing something for the world

[2019-11-01 10:15] merwane commented on #5339
Thanks :)

[2019-11-01 10:25] naszam commented on #5298
Oh! I see. I didn't notice that.
Ok, I'll check next time to avoid that

[2019-11-01 14:02] owocki commented on #5298
9267f84273cd8fbcb81aa58604f57af05f9b0825 will filter automatically so we dont have these issues in future :)

shouldnt be up to poster to have to look!

[2019-11-01 16:42] owocki commented on #5436
https://twitter.com/owocki/status/1187554174059171842

make quests easier ??  or  easier to browse by diffiuclty

[2019-11-01 18:26] owocki commented on #5436
deep quests: like coinbase earn one where you can open a CDP and earn 20 DAI

[2019-11-01 18:53] santteegt commented on #5298
Idea: partnering with EthHub or Week in Ethereum to create quests on blog posts listed on their weekly newsletter?

Context: I've always tried to find a way to engage and keep up with all things being done within the Ethereum space, and Gitcoin quests seem to be a fun, gamified and addictive way to achieve this

[2019-11-01 18:57] owocki commented on #5298
cc @econoar @evanvanness @weekinethereum in case theres any interest on their side...

[2019-11-01 22:11] EvanVanNess commented on #5298
I'd love it if people made one, but I'd be surprised if it ever made sense
for me.

On Fri, Nov 1, 2019 at 1:57 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-11-01 22:38] owocki commented on #5436
@ososco @distributeddoge i just coded up 'edit quest'... go to the site to play with it!! if you go to gitcoin.co/quests => 'created' => 'edit quest' thats how u edit ur quests

[2019-11-01 22:39] owocki commented on #5334
hey all; i just coded up 'edit quest'... go to the site to play with it!! if you go to gitcoin.co/quests => 'created' => 'edit quest' thats how u edit ur quests

[2019-11-01 22:39] owocki commented on #5338
hey all; i just coded up 'edit quest'... go to the site to play with it!! if you go to gitcoin.co/quests => 'created' => 'edit quest' thats how u edit ur quests

[2019-11-01 22:48] owocki commented on #5298
@EvanVanNess if its okay with you... maybe ill make one for you next article you're shipping..  just to see if people play it

[2019-11-01 22:48] owocki commented on #5298
hey all; i just shipped the ability to edit your quest.. i know that was a hotly demanded feature.. so enjoy!

[2019-11-01 22:50] econoar commented on #5298
We'd be interested in it. Just let us know how we can help.

[2019-11-01 23:06] EvanVanNess commented on #5298
please do!

On Fri, Nov 1, 2019 at 5:48 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-11-02 03:31] Sirlupinwatson1 commented on #5334
@owocki  that is great, i will be working on it tonight or tomorrow probably.

Good job, cheer

[2019-11-02 15:44] notadamking opened #5443 "Gitcoin issue stuck on re-load"
https://gitcoin.co/issue/notadamking/tensortrade/41/3554

I payed out the bounty for the issue, and now the issue won't stop loading/refreshing.

[2019-11-02 15:44] SCBuergel commented on #5259
Bump. This is a major issue that makes the usage of Gitcoin severely annoying for bounty funders. I need to scroll through my mailbox and notifications in order to keep track of what bounties are currently ongoing.

[2019-11-02 21:39] owocki commented on #5443
i cant reproduce.. can you please fill out the bug issue template? https://github.com/gitcoinco/web/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-11-02 22:11] vince0656 commented on #3876
Hi there,

I'm still working on this

Thanks,
Vincent

[2019-11-03 10:34] PumpkingWok commented on #4806
Hi @owocki ,
I'm working on the issue, i'm following a guide to populate fillable pdf. Have you an example to what fields needs to be fill, some sort of fac-simile with fake data ? using the forms that i posted in a comment above.Thanks

[2019-11-03 11:14] Sirlupinwatson1 commented on #5339
Hello guys, or ladys, hope you guys having a great week-end, We had lot of winds here in quebec montreal, and where i had my house ( ex-wife living there still ) she did not had electricity, so i have my kids until tonight since friday and i can't work much. 2 twins so i need to take care of them. i am by my own now in my appartement, but i need to move in less than a week,.... so i will not disea

[2019-11-03 15:43] mul1sh commented on #5208
@gitcoinbot almost done

[2019-11-03 18:06] HarveyDonlio commented on #5346
Sorry I should have removed myself from this as I haven’t had the time to finish the work. Apologies for the inconvenience to everyone!

[2019-11-03 21:39] grassfedfarmboi commented on #5326
More lady options that don't look weird, esp. face shapes

[2019-11-03 23:54] owocki commented on #5436
share ownership with other gitcoin members

[2019-11-04 01:54] androolloyd commented on #5352
chat on gitcoin update.
- [x] Embedding webapp
    - [x] build oauth provider on mattermost for gitcoin
    - [x] Removed same origin, removed content security policy, need to update these and do a proper install so they share the same origin
    - [x] build oauth on gitcoin
Deploy
- [ ] kubernetes/ecs/some way to do high availability, what scale before comfort is there, lots of moving parts that'

[2019-11-04 02:49] androolloyd commented on #5352
Github application is trivial to setup and is pretty robust.

[2019-11-04 02:53] androolloyd commented on #5352
slack has invite codes, we'll want to leverage a mattermost python library and query user existance and adjust their flow accordingly, https://github.com/Vaelor/python-mattermost-driver is pretty all encompassing by the looks of thing, mattermost has a robust api.

[2019-11-04 13:50] owocki commented on #4806
yes thats right!

[2019-11-04 13:58] PumpkingWok commented on #4806
Hi @owocki ,
So i will fill and create Copy 1, Copy B, Copy 2 and Copy C. Do they need to the same datas, right ? It changes only the recipient. Have you a copy of that filled with fake data ? In this way i can understand properly what i need to fill for complete the entire document.Thanks

[2019-11-04 15:05] androolloyd commented on #5352
<img width="963" alt="Screen Shot 2019-11-04 at 11 04 49 AM" src="https://user-images.githubusercontent.com/1237259/68131183-f6f06080-fef2-11e9-993e-3e475325e192.png">

[2019-11-04 15:06] androolloyd commented on #5352
![Screen Shot 2019-11-04 at 11 05 54 AM](https://user-images.githubusercontent.com/1237259/68131245-17b8b600-fef3-11e9-946b-6c9c3c956e31.png)

[2019-11-04 15:17] #5387 closed

[2019-11-04 16:20] #5045 closed

[2019-11-04 16:21] thelostone-mc commented on #4009
Built + Deployed

[2019-11-04 16:21] #4009 closed

[2019-11-04 16:21] thelostone-mc commented on #4753
Closing this out

[2019-11-04 16:21] #4753 closed

[2019-11-04 16:23] #2425 closed

[2019-11-04 16:24] owocki commented on #4806
yes; the same data for each Copy... unfortunately no i dont have a copy with fake data no.

[2019-11-04 16:26] owocki commented on #4806
you'll need to fill out the
payers name/address
the recipients name/address
3 - other income
18 - state income

[2019-11-04 17:16] owocki commented on #5298
@Solexplorer yeah the quests game allows it; i just need to code it into the new quest page (or someone else should)  can you request it to https://github.com/gitcoinco/web/issues/5436

[2019-11-04 17:20] Solexplorer commented on #5436
Have the possibility to add multiple reading materials

[2019-11-04 17:20] Solexplorer commented on #5298
Sure!

[2019-11-04 17:25] owocki commented on #5259
let me bump this internally

[2019-11-04 17:31] owocki commented on #5259
@SCBuergel try now

[2019-11-04 17:35] androolloyd commented on #5352
https://github.com/gitcoinco/mattermost-server/pull/1

[2019-11-04 17:40] octavioamu opened #5446 "Solve a specific quest to be able to apply on a bounty"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hunter I want to be able to pick one or more quests a contributor need to solve first to be able to apply to work on my bounty. So I can be more sure people know about what Im asking for.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current s

[2019-11-04 18:15] frankchen07 commented on #5446
love this idea, talked about it previously with ivo too

[2019-11-04 18:36] owocki commented on #5298
@santteegt the new week in ethereum is up!  https://weekinethereumnews.com/

wanna take a stab at creating a quest for it?

[2019-11-04 18:57] SCBuergel commented on #5259
Wow that was super fast from bump to fix! Thanks this seems to fix it for me, wonderful!

![Screenshot_20191104-105541](https://user-images.githubusercontent.com/11379673/68148911-c4923380-fef1-11e9-9375-b976c928e807.png)

[2019-11-04 19:44] santteegt commented on #5298
@owocki Sure! I'll create one tonight!

[2019-11-05 00:45] octavioamu commented on #5259
Sorry I wasn't able to reproduce the first time and got stuck.
@SCBuergel happy to know how dashboard work for you and how we can do it better.
@StatusSceptre curious to know if now is working for you.

[2019-11-05 02:45] thelostone-mc commented on #5443
@notadamking looks like the transaction took a bit of time to go through which is why the loading screen probably was persistent 🤔
The reloading is ugly. Need to figure out a nicer way to handle it

[2019-11-05 03:03] thelostone-mc commented on #5399
^ @abitrolly so that was a mistake at our end ! We were building out organisation mgmt into gitcoin and added the extra permissions which weren't really needed !

Like @octavioamu stated -> we removed those after realizing it was not needed!
Sorry about that ^_^

[2019-11-05 03:46] octavioamu commented on #5424
Hi!!
/profile is only for logged users if you are not logged you will redirected to another page.
Are you getting 404 when logged ?

[2019-11-05 03:47] octavioamu commented on #4218
This was done time ago

[2019-11-05 03:47] #4218 closed

[2019-11-05 04:09] Sirlupinwatson1 commented on #5339
Hello guys, just to Say HELLO ! we still alive, i will have less trouble than i expected where i am and i will be able to keep working by tomorrow, so i will hop on here and develop as much i can.

I need to figure couple of issue i have on other projects but i keep going.

Cheer !

[2019-11-05 04:17] Sirlupinwatson1 commented on #4941
@octavioamu  I think so also, i think that the goal of our mission here no ?

[2019-11-05 12:05] Solexplorer opened #5448 "Bug in the amount of DAI contributed to a project"
**Describe the bug**

So I decided to test a grant contribution with the minimum amount allowed(0.001 DAI/daily) but the confirmation email of the grant contribution is wrong about the contribution amount.

See the screenshot below.

**To Reproduce**

Contribute to a random grant with 0.001 DAI

**Expected behavior**

To show me the correct amount in the email.

**Screenshots**

![immagine](https:

[2019-11-05 13:14] owocki commented on #5339
@merwane do u have the app running? i just PRed up your game as a quest! https://github.com/gitcoinco/web/pull/5449

[2019-11-05 13:16] merwane commented on #5339
Cool!

What app? I have the static game running on the same url if you’re talking about that.

Merwane

[2019-11-05 13:17] merwane commented on #5339
Here it is: https://hangmanquest.netlify.com/

[2019-11-05 13:41] owocki commented on #5339
the gitcoin app https://github.com/gitcoinco/web

[2019-11-05 13:46] owocki commented on #5298
@santteegt i just approved it (i tried playing it.. its quite hard :) ) - we should tweet it out today and test peoples knowledge of week in ethereum

https://gitcoin.co/quests/61/week-in-etherland-nov-3rd-2019

[2019-11-05 13:48] merwane commented on #5339
Yeah I have the image on Docker, I tested it a few days ago to understand how the DB schema works on quests

[2019-11-05 14:40] owocki commented on #5339
can u dev on the docker container, so we dont have to continually merge the apps?

[2019-11-05 14:53] merwane commented on #5339
Probably, but I would be very limited in time since I spend most of my time outside with a low-spec 2015 Macbook Air which doesn't have enough resources to run the containers while staying smooth etc

[2019-11-05 17:34] frankchen07 opened #5451 "Sitewide Email Verification Milestone I - As a Gitcoin operator, when a user updates or changes their email, I want a system to make sure they verify their email, and Gitcoin has to verify consent."
### User Story

Sitewide Email Verification Milestone I - As a Gitcoin operator, when a user updates or changes their email, I want a system to make sure they verify their email, and Gitcoin has to verify consent.

### Why Is this Needed

If a user changes their email, we need verification that they are adding an email address they own for security purposes.

Gitcoin will also have to re-gain cons

[2019-11-05 17:42] thelostone-mc commented on #5448
Thanks for that !
^ Fix is ready over at https://github.com/gitcoinco/web/pull/5452

[2019-11-05 18:11] santteegt commented on #5298
@owocki nice! :) I tested my quest but something is wrong with question No 2. The 3rd answer is the correct one but if you pick that one during the game you loose

[2019-11-05 19:14] owocki commented on #5298
@santteegt you helped me find a bug with escaped str's in answers!  fixed at 6d21db916e10f9d9e169f23a3c70411b70f40ee5 ; deploying now.. if u try again in 1 min itll work!

[2019-11-05 19:59] santteegt commented on #5298
@owocki cool! It is working now!. When claiming the prize I've got the following message `cannot redeem prize for a quest that's not live yet! returning you to quests homepage`. Maybe you just need to publish it again

[2019-11-05 20:15] owocki commented on #5298
@santteegt just made it live again :)

[2019-11-05 20:36] frankchen07 commented on #5281
@mul1sh - do you have a response to @kuhnchris?

@kuhnchris

When a funder creates an hackathon bounty, they should add a short stub for the bounty i.e. bounty-xxx so that this stub can be used later to create the DM channel. They should also manually authorise the gitcoin discord bot to get their access token so that its used for creating group DM's later.

The bot auto-creates a discord group dm

[2019-11-05 23:06] molecula451 commented on #5451
Excellent. I am facing this issue right now. It doesn't matter how many times I update the e-mail on Gitcoin. It always keeps showing the old "Github" e-mail. Plus. Imo, it needs to be change in every site of the app. Including "Work done" section where it provides user payable address and e-mail information

[2019-11-05 23:09] molecula451 commented on #5404
I can confirm this is happening. I facing this same issue right now. I have work submitted and it still shows I have submitted not any work

[2019-11-06 00:27] alexvotofuture opened #5455 "New Kudos token won't sync"
**Describe the bug**
Kudos token won't sync after being successfully minted.

Used owocki's self-serve kudos request page. Checked boxes for "approved"/"processed" in admin. Then clicked "mint kudos". Confirmed successfully minted on Etherscan. Then hit "sync kudos" button and received a 500 error page. Kudos won't show up in marketplace or admin.

**To Reproduce**
Try hitting "sync kudos" in admi

[2019-11-06 00:47] naszam commented on #5298
I just beat your quest @santteegt, very intresting one! Good job!  :+1:

[2019-11-06 00:49] ceresstation opened #5456 "Category tagging on Gitcoin Grants"
### User Story

As a grantee I'd like to be able to determine which category my grant shows up in on the main explorer.

### Why Is this Needed

As we start thinking about a community / media round it would be helpful for us to move from using the categories we've outlined at the top of the page to giving users control over which categories they prefer to be part of. We can always sanity check the