[2017-09-24 19:02] owocki opened #1 "HTTP API Documentation"
Document
* all of the fields coming back from the API
* what params can be used to filter / sort through the api.

Submit a PR back to the repo when complete.

[2017-09-24 22:40] owocki opened #2 "Web3 bountydetails interface documentation"
Document
* all of the fields coming back from this function
* what params can be used to filter / sort through the api.

Submit a PR editing the readme back to the repo when complete.

[2017-09-25 11:10] owocki opened #3 "list of erc20 coins should be more elegant"
http://bits.owocki.com/2n1B3R0U422W/Image%202017-09-25%20at%205.09.12%20AM.png

requirements:
- design a method for working with the erc20 coins that is more elegant than this
- if a list is presented, they must be in alphabetical order
- it'd be greaet to detect which coins a user actually has
- mileestone 1: propose design.  milestone 2: submit PR

[2017-09-25 12:15] owocki opened #4 "draft a blog post about tim-berners lee"
draft a blog post about tim-berners lee

requirements
* must be a post for medium.com
* must contain all original content (no copy & paste)
* post about how tim-berners lee came up with the idea for the World Wide Web
* post about how tim-berners lee decided on open protocols
* at least 1000 words

[2017-09-26 01:57] owocki opened #5 "clawback expired bounty interface"
Requirements:
- When a bounty is Expired, it can be clawed back by the submitter. (this is already in the smart contract, just needs built in the UI)
- Built a web frontend that allows user (only accepter) to do this
- Follow the UI pattern set forth in the bounty details page.

[2017-09-26 12:55] owocki commented on #1
https://github.com/gitcoinco/web/pull/6

[2017-09-26 12:55] #1 closed

[2017-09-26 19:16] movprojects commented on #4
i think you are doing a dis service to your own idea by posting extremely low paying tasks. why start something great when people will associate it slave wages exploitation?

[2017-09-26 22:11] owocki commented on #4
@movprojects thanks for the feedback.  you make a good point, the tasks should be pegged at a market rate to incentivize potential bounty claimers to take the tasks seriously.

[2017-09-27 08:55] owocki opened #7 "bounty details page should have a 'back' button on it"
requirements
* bounty details page should have a 'back' button on it
* button should be hidden if user did not come from the search results page.

[2017-09-27 13:44] johnotu commented on #2
I want to claim this.

[2017-09-27 21:21] owocki opened #8 "saving search UI is broken on iphone 7"
http://bits.owocki.com/2009032S1g1u/Image%202017-09-27%20at%203.20.47%20PM.png

[2017-09-27 21:25] owocki commented on #2
@johnotu great!  want to submit the form at https://gitcoin.co/bounty/claim?source=https://github.com/gitcoinco/web/issues/2 ?

[2017-09-30 03:52] gasolin commented on #3
Here's the prototype UI that replace the dropdown

* when user click the `select another Token` link, show a list of tokens
* user click one of token, the list of tokens is gone and show the selected token and the `select another Token` link

https://jsfiddle.net/gasolin/n4s1qwhu/

@owocki  how do you think?

[2017-09-30 13:14] owocki commented on #3
first, hi 👋 -- thanks for taking an interest in this bounty!

i think that it works at a small scale, and i appreciate the prototype, but with i'm worried aobut what it'd look like with 100+ supported tokens ( see https://gitcoin.co/static/v2/js/tokens.js to see all of the supported tokens ).  i wonder if an auto complete interface or a searchable "<select>" box might be better patterns to adopt..

[2017-09-30 13:15] owocki commented on #3
also, sorry -- i guess i didnt make the 100+ thing clear in the original requirements list.  i guess thats why its good that there's 'milestones' in here.

[2017-09-30 15:11] mbeylin commented on #3
It seems like this could easily be accomplished with the `react-select` module, or a ui element which replicates it. The basic idea being that the dropdown has a maximum length, and searching with a query helps to refine the list.

http://jedwatson.github.io/react-select/

[2017-09-30 15:58] owocki commented on #3
i like the UI of react-select but im not crazy about adding all of these dependancies to the page http://bits.owocki.com/1l1g002M3b0T/Screen%20Shot%202017-09-30%20at%209.58.08%20AM.png

[2017-10-01 15:00] owocki opened #12 "Demonstrate tipping via a video"
what the title says 👆

[2017-10-01 15:12] gasolin commented on #3
If we want jquery only, select2 seems a good fit https://select2.org/getting-started/basic-usage

[2017-10-01 15:26] owocki commented on #12
Success! https://www.youtube.com/watch?v=yq4A1wRaHL4

[2017-10-01 21:04] owocki commented on #3
just generally want a dropdown that scales for large lists... but yeah, a dropdown with search sounds great :)

that looks good to me.  want to submit a PR and a claim for this bounty?  i'm happy to send a [Gitcoin Tip](https://gitcoin.co/tip) in addition to the bounty since the requirements / investigation took a little longer than expected.

[2017-10-02 07:52] bransbury opened #14 "Tip page link 404s"
Linking to `index.html` which isn't working. Will submit a quick PR...

![gitcoin-404](https://user-images.githubusercontent.com/8886969/31068210-ec57d99e-a74e-11e7-8df7-80c95d9823c7.gif)

[2017-10-02 09:20] owocki commented on #14
good catch !

[2017-10-02 09:28] owocki opened #16 "Tips: 7 second delay when clicking on 'send tip' on the mainnet."
* Investigate why theres a 7 second delay when clicking on 'send tip' or 'receive tip' on the mainnet.
* Propose a fix, if possible.
* If a root fix is not possible, at least make the UI a little more elegant (such that the user knows they actually clicked the button).

[2017-10-02 09:39] owocki opened #17 "Design a more aesthetically pleasing bounty detail page"
![screencapture-gitcoin-co-bounty-details-1506936992200](https://user-images.githubusercontent.com/513929/31071865-ead369c0-a722-11e7-937a-861bca189d00.png)

The bounty detail page could need some TLC on it.  Design another bounty detail page that is
1. more aesthetically pleasing
2. lets me (as a user) know at a glance what i need to know about a bounty, but also lets me look for more detailed in

[2017-10-02 09:41] owocki commented on #5
i'd love to see this tackled sometime soon!

[2017-10-02 09:49] #3 closed

[2017-10-02 09:53] #12 closed

[2017-10-02 09:55] owocki opened #18 "The big 'feedback on the project' post."
Dev?  I want to hear your feedback.  Anything goes (technical, strategic, conceptual) as long as I don't judge you to be trolling.  Post it here.

[2017-10-02 10:12] owocki opened #19 "Ops: Create cloudfront invalidation programmatically upon deploy in deploy.bash."
- Create cloudfront invalidation programmatically upon deploy in deploy.bash.
- Please assume whoever is running the repo has a cloudfront distribution, and the ability to generate an IAM key (or equivilent) with only the perms to invalidate the cloudfront distro.

Any questions, lmk.

[2017-10-02 10:18] #14 closed

[2017-10-02 10:57] owocki opened #20 "In the admin, create a view that shows bounties and tips over time"
Requirements:
* admin view that shows bounties and tips over time
* Don't rely on any externally hosted saas APIS (chartly, etc)
* Graphs must be aesthetically pleasing.
* allow rollup by day, week, month
* view must be admin-only
* please give me a heads up if you're going to add dependancies.  less weighty the better
* in my head, these charts look like a line graph, but if you think something e

[2017-10-02 11:10] owocki opened #21 "Pricing Engine"
Right now, as a hypothetical user, I'm just making up values for the tips / bounties I give out, which is fine for when this project is a novelty, but doesn't scale as the project 'grows up'.  What factors should go into deciding how much to price a bounty?

Some thoughts from my side:

For a feature or bug bounty:
* Value of the submission to the repo, it's users, the ecosystem.
* Skills involved

[2017-10-02 11:13] owocki commented on #21
@mbeylin what do you think?

@bransbury @gamwe6 @pipermerriam @gasolin @mateodelnorte @anglinb you have each received tips or bounties on the system; i'd love to hear your feedback if you have 2 minutes to type something quick up.  thanks 🙏

[2017-10-02 11:13] owocki commented on #4
hey @movprojects thank you for the pattern interupt above.  i've created a thread for the pricing engine discussion.  any interest in chiming in? https://github.com/gitcoinco/web/issues/21

[2017-10-02 11:17] owocki opened #22 "issue funding best practices"
Right now, the system supports bug, feature, and security bounties.  Any issue that you need done is a good candidate for a bounty, provided that:

* It’s open today.
* The repo README clearly enumerates how a new developer should get set up to contribute.
* The task is well defined.
* The end-state of the task is well defined.
* The pricing of the task reflects (market rate * complexity) of the t

[2017-10-02 11:28] owocki opened #23 "Reputation (and Risk Management) Engine"
Right now, as a hypothetical submitter, I don't really know who the counter-party is for a bounty, so I take the risk that they're a total jerk and take my code but don't pay out the bounty.

What can we do to manage this risk?  Some ideas from my side:
* Reputation system:  Optionally link to your github identity, ability to browse the past bounties an address has generated.
* Extensible way to p

[2017-10-02 11:30] owocki opened #24 "Onboarding web2 users to web3."
I think that as evangelists of the ethereum and web3 ecosystem, we may be living in an echo chamber in some ways.  If you've lived & breathed blockchain for months, it can be easy to forget that the average internet user (even the average github user), doesnt have Ether, metamask installed, or even know why they can care.

What is the most efficient and impactful way you've found for telling peopl

[2017-10-02 13:23] bransbury commented on #21
I think it would be cool to have two options (maybe as two tabs):

1. Enter amount (functionality as is) - provides ultimate flexibility
2. Calculate/recommend an amount - this could involve selecting a value (1->5 or 1->10 scale) for some of the above (i.e. impact of change, skill level required to deliver, effort/time to complete) and a calculated amount could be returned. These values could als

[2017-10-02 13:30] bransbury commented on #22
What about when multiple people submit PRs/solutions?
Does there need to be something around deadlines for completion for issues that are time-sensitive? Having deadlines would also allow multiple solutions to be provided and one to be chosen. All valid solutions that meet the criteria would earn a small bounty, with the one chosen collecting the main bounty. Issues could be closed early if a user

[2017-10-02 13:47] mateodelnorte commented on #21
I'll go by different steps of the process:

Received tip:

On mobile, the giant gitcoin banner makes all the other content illegible. You can probably just put a small logo image up top. Also the colors of the logo have a lot of dissonance with the rest of the design. Dark blue and purple backing vs crisp text on white. Consider just the text logo.

Justify text. Put more space between paragraphs.

[2017-10-02 13:47] gkrizek opened #25 "Make Language filter UI clearer in Bounties"
I'm digging what I see on gitcoin.co!   One request would be to add a filter for language into the bounties. I would love to work on bounties for Python and Javascript, but I don't know anything about Ruby or Go so I don't even care about those. Would be sweet to just wipe those out.

Thanks!

[2017-10-02 13:55] mateodelnorte commented on #21
Accepting tip:

Super easy. UI looks simple and well done, with one exception: I wasn't able to snag a screenshot of it in time, but there is a spinner above some text saying "Loading..." while the txn is waiting to be verified. When it's done it says: "SUCCESS 🚀!" and "Status: Processed". I don't think you're actually "Loading", here. I think you're waiting for the transaction to process. There's

[2017-10-02 14:02] mateodelnorte commented on #21
Tip value: 0.08 ETH (~$25) seems like a pretty generous tip for the size of my project. Happy to have it. ;)

[2017-10-02 15:26] anglinb commented on #21
As someone submitting a bounty it would be awesome to have some feel for what to charge. I think it could be cool to leverage the already open nature of the work being done. For example, if you went through the steps, maybe we could show the submitter some fulfilled bounties at around the same price with similar tags.

[2017-10-02 15:49] mbeylin commented on #21
My idea for a bounty pricing engine consisted of:
Presenting users with a set of various sliders which will have an effect on the price, those sliders being:
- deadline: I need it done in X days
- difficulty/ skill level required
- effort/time required

[2017-10-02 16:53] owocki commented on #25
does the search bar up top suffice for this functionality?

<img width="1088" alt="image 2017-10-02 at 10 53 08 am" src="https://user-images.githubusercontent.com/513929/31089031-e8b147c4-a75f-11e7-8b5b-a85736cf45eb.png">

[2017-10-02 16:55] owocki commented on #22
yeah, this is not something currently accounted for.  @mbeylin what do you think?

that's what the 'expiration' field is meant to be.  could plasubily call it deadlines though, im not married to it.

[2017-10-02 16:55] taurean commented on #17
@owocki Are you looking for static mocks or for the design to be implemented as well?

[2017-10-02 16:58] gkrizek commented on #25
@owocki  I guess it does. If I search for languages it does filter.

I just can't really tell if it's accurate or what I want. When I open an issue, I guess I would expect a `language` field under the *ISSUE FUND INFO* header.

I'm sure just using the search bar would work. It's just not intuitive is what I'm getting at. I wouldn't really know if that works or not and even then, the results don't

[2017-10-02 16:59] owocki commented on #17
just mocks (although once this design bounty is accepted, ill likely post another one asking to get it coded)

[2017-10-02 17:00] owocki commented on #25
👍 good thoughts.  i may get more organized later this week and fund this issue.

[2017-10-02 17:02] mbeylin commented on #22
@owocki in the context of the standard bounties, each PR that's submitted is identical to submitting another fulfillment for the tasks. These can also be updated by the fulfiller as long as the fulfillment hasn't yet been accepted or paid (since then it becomes the property of the bounty issuer).

The standard bounties contract has a deadline for the bounty, after which new fulfillments can't be s

[2017-10-02 17:09] mateodelnorte commented on #21
My recommendation would be to base the feature off the simplest possible
trustworthy algorithm first. Then, build internal analytics for all sorts
of data points in order to surface what a better algorithm will be in the
long-run. Your data points are going to be so low here, that it may have
wild, un-trustworthy swings. You're better collecting for internal use so
you can have quicker iterations

[2017-10-02 17:12] jwaggs commented on #21
I agree, determining how to get the bounty system to scale is going to be the biggest hurdle for gitcoin in my opinion. I agree with your comments on what things should be considered to determine the value of the bounty, however, actually grabbing the metrics to be used is going to be a difficult process. Figuring out how to quantify the difficulty isn't going to be easy without human input. And i

[2017-10-02 17:15] mbeylin commented on #21
@jwaggs I agree strongly with your vision. Based on the current implementation of the standard bounties, we allow for the payout amount to be increased even when the bounty is `Active`, so long as it has the sufficient balance to do so.

I believe a combo of pre-bidding on draft-stage bounties, with this slow increase in bounty payout amounts will be very fruitful, however only if the time require

[2017-10-02 19:13] gasolin commented on #21
similar to @mbeylin 's idea, we can put `BOUNTY DETAILS` in main submit form (instead of hiding it in the `advance` field). then show the suggested minimum price based on different combination of `experience level`/`project length`/`Bounty Type`.

The price could be adjusted manually or automatically by analyze. And warning(this price is lower than average, it might take longer to get issue solved

[2017-10-03 16:25] gamwe6 commented on #21
Trial and error or A/B testing. But that's not the simplest solution.
As few data as now, it will be difficult to automate this completely without human intervention.
I would split "Value of the submission" into two sub factors. "The comments" and "the reactions" (👍 👎 😄 🎉 😕 ❤️).

[2017-10-03 16:29] owocki opened #26 "bootstrap a pricing engine by setting the scales manually"
we could code up a little javascript interface where you slide a few things back and forth and it tells you what a fair bounty is

maybe on top of that, make it so that you enter a issue URL and we suggest values based upon NLP or the languages involved or wahtever

[2017-10-03 16:30] owocki commented on #21
an idea for first iteration of the engine => https://github.com/gitcoinco/web/issues/26

[2017-10-03 16:32] owocki commented on #23
this is what my designer put together for me for this:

<img width="658" alt="slack-imgs" src="https://user-images.githubusercontent.com/513929/31136618-18e7f9d0-a826-11e7-8fe0-c5fddd435d3b.png">

but its just a rough rough rough first stab

ive been thinking that the closest parallel for me is the interface that airbnb provides to show reviews / stars of what working with someone is like

[2017-10-03 16:32] owocki commented on #23
someone smart said this to me today:

at high liquidity, this is true and it's the endgame we may want to strive for!

[2017-10-03 16:33] gamwe6 commented on #21
To add to what @bransbury said, maybe not two tabs but suggest a price as Airbnb do.

[2017-10-03 16:35] owocki commented on #24
this discussion is worth a link

https://www.reddit.com/r/linux/comments/73dv1j/fund_open_source_software_with_these_5_platforms/

Some feedback I got on it from someone way smarter than me :

[code]

[2017-10-03 16:37] owocki opened #27 "Pilot Partnerships"
Know a repo that is interested in pushing their repo forward with Gitcoin's toolset?  Email founders@gitcoin.co or comment below.

[2017-10-03 16:39] owocki opened #28 "Job Matching Engine"
A job matching engine should be able to take

* an ethereum address (or github profile)

and spit out a series of recommended funded issues for them to turn around, in order by relevance.

[2017-10-03 16:41] gamwe6 commented on #26
Did you decide which sliders to use?

[2017-10-03 17:04] owocki commented on #26
i think issue type, complexity, scope, deadline (how quick you need it?) and reputation are the obvious places to start.  anyone strongly disagree?

[2017-10-03 19:25] gamwe6 commented on #26
A quick bare draft with just level, time and type. For time, maybe use input text instead. https://codepen.io/anon/pen/NaaZPZ

[2017-10-03 20:17] owocki commented on #26
@mbeylin what do you think of this?

[2017-10-04 09:46] owocki opened #29 "enhancement: ability to add an baked in 'tip' to a bounty"
ability to add an baked in 'tip' to a bounty acceptance.   as a way to show appreciation for especially good work.

[2017-10-04 09:49] owocki opened #30 "Mentors"
Idea that came out of Ethereum Denver meetup last night:
* It'd be interesting to assign a mentor/mentee relationship to a bounty.  Basically, if developer decides to make a go to a bounty, they can ask another project member with more experience to mentor them on details where they'd add value, in exchange for some amount of the final payout.

[2017-10-05 00:15] jwaggs commented on #21
Instead of going with the current status quo of crypto coin generation, lets develop a pricing engine that can reliably enforce a predetermined growth rate for the coin while creating acceptable bounties. This would turn GitCoin’s bounties for open source work into what is effectively its own flavor of mining for the coin.

This system would need to be rolled out in phases as the community grows o

[2017-10-05 02:36] owocki commented on #21
great idea!   thats sort of what https://github.com/gitcoinco/web/issues/26 is meant to do.

My thought is that the pricing engine would simply suggest the lowest price for which a bounty would actually get turned around.  Market forces will dictate if the bounty is actually turned around.

I think the system is fairly resistent to abuse in that if someone submits a bounty that's underpriced, mark

[2017-10-05 10:21] kvndlgs commented on #17
Here's my try.
https://imgur.com/52nz3b6

[2017-10-05 16:19] owocki commented on #17
thanks for having a go at this.

[2017-10-05 18:11] kvndlgs commented on #17
glad you like it, thks

[2017-10-05 22:06] gasolin commented on #21
FYR I saw kickico do an interesting way to mine their coin: After ico, they only mine new coin when new ICO is founded on their site. When people participate, the issuer and the participents will get certain % of KICKCOIN back to their wallet.

I'd like to get some gitcoin as a bonus when I complete a bounty or tip/issue a bounty.

[2017-10-06 15:09] taurean commented on #17
Are you looking for more pitches @owocki?

[2017-10-06 16:55] owocki commented on #16
@DocJava hi! howd you find the project?!? what do you think so far?

mainnet is a web3 (ethereum) network.  as opposed to testnets.

you can switch between the mainnet and testnet with [metamas](https://metamask.io/)

[2017-10-06 17:01] owocki commented on #17
yes @taurean -- i like what @kvndlgs did but i dont think its what i'll go with for the live site.

i'm looking for more of a 'first principle' redesign of the page with "what does a person want to see / learn about when they hear about a bounty?" as a starting point, instead of the current bounty detail page as a starting point.

also, the posted bounty of 0.04 is probably too low given the new s

[2017-10-06 17:03] owocki commented on #17
here is a data point: for user profiles, this is the latest design we are using: http://bits.owocki.com/3p321Y2e3J2p/Screen%20Shot%202017-10-06%20at%2011.01.54%20AM.png

whatever is turned around should be at least this hgih fidelity i think.

[2017-10-06 17:10] taurean commented on #17
understandable. I can take a crack at it, the bounty is fine for what this is, I imagine in the future you might want to refresh or revise the whole site in one shot anyway. Is it alright with you if I introduce another typeface in addition to Futura for legibility? Maybe Roboto or Open Sans.

[2017-10-06 17:25] owocki commented on #17
defer to your judgement, you're the designer :)

[2017-10-06 18:47] taurean commented on #17
@owocki

![bounty details](https://user-images.githubusercontent.com/450613/31293348-c2764c88-aa8b-11e7-9416-07c0f72aafd1.png)

You can view the Figma link here (includes state for status, buttons, and expire length): https://www.figma.com/file/MP6mJ9NpeViN4CeJ2daog0UU/Bounty-Details-Page

Let me know if you have any issues accessing layers and whatnot.

Icons:

- [Back Chevron](https://material.i

[2017-10-06 21:56] owocki commented on #17
@taurean thanks.  do you have metamask and some ETH?  are you able to submit the existing bounty at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/17 ?

[2017-10-06 22:42] DocJava commented on #16
@owocki Sorry, bit of confusion here. I was browsing on gitcoinbot. Doing a search for projects that seemed interesting. I cam across this entry here. I see that you're requesting help solving an issue with a button taking too long, but I am not even sure where that project is?

Currently we are talking in the gitcoinbot project, but where is the mainnet project that you are referring to? Sorry, s

[2017-10-06 22:59] owocki commented on #16
To reproduce the issue.

[code]

[2017-10-06 23:47] taurean commented on #17
@owocki I had some issues setting up metamask, (the checkout to buy an initial order of ETH to establish an account wasn't working). Can I give a different ETH address?

[2017-10-07 15:01] owocki commented on #17
this reminds me, i need to put together a solid education section to onboard users who are used to web3 into the web3 ecosystem (what is metamask, why do i need it, why do i need eth?  why does transacting cost gas, etc)

let me just accept the bounty myself and send you a tip for the work.  the tip flow allows you to put in a new ETH address (and also lets the sender pay the gas costs for the ent

[2017-10-07 16:15] taurean commented on #17
Ah, awesome thanks. Is there anything you need from me to do that?

[2017-10-07 23:46] owocki commented on #17
nope, ill process it when im by a computer next (probably tomo)

[2017-10-08 16:55] owocki commented on #17
@taurean just deployed a first pass at this.  still a few rough edges to clean up, but i'm onit this evening / early this week

[2017-10-10 14:23] owocki opened #31 "Mock up an Organization Overview page"
Organization == Github Organization (so: https://github.com/Metamask or https://github.com/gitcoinco or https://github.com/ethereum )
Mock up a organization overview page that represents that org presence on the project:
- show avatars of the contributors to that repo
- shows the open, fulfilled, & expired funded issues for that repo.
- allows for branding of that repo (probably this means the bra

[2017-10-11 17:31] taurean commented on #31
I'll grab this, should have an update in a few hours.

[2017-10-11 22:57] taurean commented on #31
couple questions:
- Is branding auto populated from a GitHub organization page or user-configurable?
- How do users access organization overview pages?
- are the repo contributors the members of that organization or users on bitcoin that have previously completed bounties for this organization?
- Will there be any info in addition to repo name that will be included in the list of org repos?

[2017-10-11 23:34] owocki commented on #31
auto populated

there will likely be a list of organizations somewhere on the issue explorer or in a new organization explorer.

members of that organization, although i think it'd be cool to highlight the ones that have used funded issues

just the info that you see here => http://bits.owocki.com/2U2X2W0P0Z0z/Image%202017-10-11%20at%205.34.45%20PM.png

link, short description, avatar, name, etc.

[2017-10-13 01:15] owocki commented on #21
two sided auction where people can bid / ask on issues.

[2017-10-13 01:25] jwaggs commented on #21
@gasolin I like the perspective that brings to the table. Not only focusing the mining on getting people in on the open source work - but also using it to incentivize the adoption and use of the coin itself makes a lot of sense to me.

And I think a bid / ask solution makes a lot of sense here @owocki

[2017-10-13 12:40] owocki opened #32 "waiting room entertainment while tx mines"
idea from @cmditch :

“
I was thinking of some web3 UX ideas regarding the screen where you wait for the tx to be mined…

waiting room entertainment”, some kind of interesting read - an article, a quote, a tweet - or some interesting video
"

[2017-10-13 21:55] owocki commented on #32
cc @cmditch

[2017-10-13 22:13] owocki opened #33 "docker container for running locally"
i need to make a docker container so its easy for ppl to get setup locally…

right now its just a insane 12 step process

[2017-10-16 17:29] owocki commented on #17
🚢 d!

[2017-10-16 17:29] #17 closed

[2017-10-18 03:17] adhikasp commented on #16
@owocki Is this issue still valid? I can't reproduce the issue, clicking the "send tip" button takes < 1 sec change it to reload state and after 2-3 sec the metamask window shown up.

[2017-10-18 13:48] owocki commented on #16
@adhikasp hi 👋 - i dont seem to be able to repro either (very small tip above, just for trying and also for testing).  hmm..

maybe this was a function of network conditions or something to do with my chrome intance at the time?

[2017-10-19 18:15] chunkzer commented on #33
I claimed this issue a couple of days ago, probably going to get around it in a day or two at the latest. If it's any later than that and this hasn't been resolved please feel free to tackle this issue without worrying about duplicated efforts.  :  )

[2017-10-19 20:33] owocki opened #34 "Bot / Github integration Revamp"
1. Repo level permissions that allows repo owners to enable/disable functionality per user.
2. a repo owner cofigure bot to have the bot comment on every single new issue, soliciting funded issues.
3. every time an issue is funded from that repo, the comment is updated with current funding amounts.
4. ability to fund an issue straight away through the bot, just to a github user

[2017-10-20 09:35] frozeman commented on #34
Ok so here are my thoughts on how this should work:

Repo owners perspective:
1. You add the gitcoin bot to your repo, like travis.
2. Ideally he does a simple GitHub connect, and gitcoin just creates an ID for a GitHub username. He then should be able to set the donation gitcoin gets per issuer tip jar resolution (default 0.5%?)
3. This will now automatically create - as first comment on every ne

[2017-10-22 10:40] owocki opened #35 "Design: Education Portal"
Education portal which is largely scoped to take the user from Web2 thinking => Web3 thinking. Basically takes a user on a tour that concisely answers the following questions:

VISION
* What is web3?  Why is web3 better than web2?
* Whats wrong with web2?  Hint: data breaches, not owning your identity, intermediaries mean that there's high fees, censorship.
* What is the future of knowledge work?

[2017-10-22 10:44] owocki commented on #35
@mbeylin are there any questions I missed here?

@pipermerriam, you've been an advocate of blockchains for years.  if you could build an education portal designed to educate about why web3 is powerful, what would you do? what would you add to the above portal?

[2017-10-23 11:34] phal0r opened #36 "Error when accessing with Mist 0.9.2"
When authorizing gitcoin.co with Mist I get the following errors:

[code]

[code]

Gitcoin wants to access the eth object in web3, but it is undefined. This is due to the way web3 is provided. Mist offers a basic web3 object with the currentProvider set to Ethereum Provider.

According to the Ethereum wiki (https://github.com/ethereum/wiki/wiki/JavaScript-API) this is the recommended way to init w

[2017-10-23 15:43] pipermerriam commented on #35
Are you proposing this as a new section to the web3.py documentation?

[2017-10-23 15:57] owocki commented on #35
i think theres probably some shared attributes of this effort that should be useful for many web3 projects, but i was envisioning this education portal to be more consumer-oriented (as opposed to developer-oriented).

[2017-10-23 16:08] pipermerriam commented on #35
So a sort of greenfield project focused on *documentation* but not necessarily technical or centered around any specific tooling?

I've been of the somewhat *strong* opinion that consumers don't matter and should not need to be educated on these topics.  Crypto/Blockchain won't succeed because it's *better* as measured by the standard metrics that we in this community like to measure such things b

[2017-10-23 16:49] owocki commented on #35
Perhaps it depends upon how you define consumer.

The primary user of Gitcoin is a contributor to a web3 repo.
Secondarily, the target user of Gitcoin is a contributor to OSS in general.

Maybe we could define the above users as _prosumers_.  They are not working on core infrastructure, but they are technical and have more knowledge of privacy, decentralization, blockchain, than the average Americ

[2017-10-23 20:49] phal0r commented on #23
If thought about the reputation systems and want to contribute my loosely coupled thoughts. I tried to structure it, as good as I could :)

for establishing trust to people helping you solving issues, implementing features or discussing technologies and ideas
one would want to get an impression of their abilities and skills. That means a kind of reputation system must be established

let's start w

[2017-10-23 21:18] owocki commented on #36
i mostly use chrome / metamask.  i need to add geth to the regression testing list.

[2017-10-24 08:26] mooreds commented on #19
Do you have the AWS CLI available as well?

[2017-10-24 15:47] owocki commented on #19
yes, i think that one will be available (or can be installed).  what AWS CLI do you recommend?

[2017-10-24 17:34] pipermerriam commented on #35
FYI: I'm now in crunch-mode for devcon so I don't know how much time I'll have for specing this stuff out until after the conference.

[2017-10-24 17:44] owocki commented on #35
npnp, appreciate the thoughtful input thus far.  see you in cancun!

[2017-10-24 18:19] mooreds commented on #19
I think the standard one will work fine: https://aws.amazon.com/cli/

[2017-10-24 18:50] owocki commented on #19
[code]

shoudl take care of it

[2017-10-24 18:50] #19 closed

[2017-10-24 19:32] mooreds commented on #19
Oh man, I was going to get some eth from this :)

Yup, that looks good to me.

[2017-10-24 20:41] owocki commented on #19
just sent ya a small tip for testing the platform and also for pointing me at the aws cli

[2017-10-28 17:26] owocki commented on #33
https://github.com/gitcoinco/web/commit/e3d198881cde7377e9699f632032b7bae8372ead handles this

instructions on how to setup the docker-ized repo are at https://github.com/gitcoinco/web#with-docker

[2017-10-28 17:26] #33 closed

[2017-10-28 17:27] owocki commented on #33
cc @cmditch in case ur still interested in working on this

[2017-10-28 17:49] owocki opened #37 "Submit a funded issue (or send a tip) and provide feedback on the UX."
Requirements:
* Submit a funded issue, or a tip to the platform.
* Write _thoughtful_ feedback on what you thought of the process, where you got confused.  What should be changed about the process?
* Ill payout this bounty to no more than 4 people.

[2017-10-28 21:10] chunkzer commented on #37
I've added a funded issue to a gem I use at work: https://github.com/adore/daylight/issues/17
Here are my thoughts on the process:

In the "Fund Issue" form things are all pretty great except I'd like to see an ETH to USD conversion  in the amount row. I'll get to see it anyways when metamask fires up but I think it would help anyway.

I don't see much of a reason for the advanced options dropdown

[2017-10-30 08:57] phal0r commented on #30
I like the idea and I would suggest the same for the other site - the funder should be able to look for a developer implementing the bugfix/feature and to look for another (senior) developer to review the implementation.

[2017-10-30 20:43] owocki commented on #37
This is a great idea!

What do you think the default should be?

[2017-10-30 20:49] owocki opened #38 "Gitcoin Security Bounties"
The scope of this bounty is for bugs in the Gitcoin software, whose severity is judged by the OWASP model:

![owasp-chart-1024x410](https://user-images.githubusercontent.com/513929/32194887-42f708f4-bd81-11e7-9e46-68f9c5744bf5.png)
.

Payouts will be as follows:

* Critical: 4 ETH
* High: 1.5 ETH
* Medium: 0.5 ETH
* Low: 0.2 ETH
* Note: At discretion of Gitcoin team.

Payouts will be made to the f

[2017-10-30 23:02] TimVanMourik commented on #37
I've been wanting to get started with GitCoin, so this is the full account from a complete GitCoin beginner:

-From the newsletter, I’m redirected to the GitCoin website. However, it gives a loading screen.
-I open the same page in Chrome and it clearly says that I need to install MetaMask. A clear error message, where Safari only gives a loading screen.
@suggestion: Make the 'install MetaMask' er

[2017-10-31 06:12] subramanianv opened #40 "Issues should be displayed in decreasing order of value"
The explorer interface should sort the value by descending. Right now the issue with the least value is displayed at the top

[2017-10-31 09:26] TimVanMourik commented on #37
And one more minor thing. The issue asks for a "GITHUB USERNAME:" The placeholder includes an 2-sign (@you), so I filled in '@TimVanMourik'. But now the (my issue)[https://gitcoin.co/funding/details?url=https://github.com/TimVanMourik/Porcupine/issues/18] lists my GitHub profile with a double-@.
@suggestion: automatically trim the @ if the user provides one in the profile.

[2017-10-31 10:15] owocki commented on #40
Try clicking sort by value twice. It toggles defending and ascending value
when you click it.

On Tue, Oct 31, 2017 at 12:12 AM Subramanian Venkatesan <
notifications@github.com> wrote:

--
- sent from an intelligent telephone

[2017-10-31 13:15] owocki commented on #40
0b19e3966a934c5b090acdf2e46575cfa1f4d000 defaults to descending value first

[2017-10-31 13:15] #40 closed

[2017-10-31 21:35] owocki commented on #37
gonna reject this claim and instead send you a tip.  thanks for the feedback!

[2017-11-03 11:31] omnidan commented on #37
some things I noticed with...

the UI/X in general:

- everything in caps makes it hard to parse the interface. I know this is a style decision, but it really makes it hard to see the structure in the UI. consider only using caps for headings, not everything.
- consider using formatting (like bold) to highlight certain information

the tipping UI/X:

- why is "ETH" even a dropdown if you can only

[2017-11-03 11:37] omnidan commented on #37
regarding the default expiration, maybe make it a month and always show the field (even in the tipping screen)? that way it would be clear that it expires at all, and when it expires by default (it wasn't clear until I pressed "advanced" in the tipping UI). if the user isn't okay with the default, they can always change it as long as it's visible!

[2017-11-03 21:01] nbanmp commented on #37
The "I HAVE READ, UNDERSTAND, AND AGREE TO, THE TERMS OF SERVICE" checkbox is slightly confusing. I was wondering where to view the Terms of Service, and only after waving my mouse around for a bit did I realize that "TERMS OF SERVICE" was a hyperlink. Perhaps it should be underlined by default.

Hovering over the drop-down menu results in an unhelpful popup: https://i.imgur.com/bM5vOaf.png

I fun

[2017-11-03 21:58] nbanmp commented on #38
Is there a better way to report security issues than posting here? I figured out a way to fund an issue and make it appear that you are someone else: see the ropsten issue with `<script...` on https://gitcoin.co/profile/gitcoinco. This might lead to the ability to approve a claim for someone else and it warrants further testing.

[2017-11-04 01:19] owocki commented on #38
Please email me: founders@gitcoin.co

On Fri, Nov 3, 2017 at 4:58 PM Nathan <notifications@github.com> wrote:

--
- sent from an intelligent telephone

[2017-11-06 23:42] #4 closed

[2017-11-06 23:43] #20 closed

[2017-11-06 23:43] #31 closed

[2017-11-07 02:10] owocki opened #42 "Post funded issue to Craigslist"
Write a management command that
* Can post a bounty to craigslist
* Correctly advertises the title, description, and amount in USDT of the job.
* Has a call to action to send user to gitcoin.co funded issue page in order to process said funded issue.

[2017-11-07 03:28] subramanianv commented on #42
Hi @owocki I would like to give this task a try. In notifications.py I am going to add the function that post the bounty to craigslist ?

[2017-11-07 03:30] owocki commented on #42
Yep makes sense to me

On Mon, Nov 6, 2017 at 8:28 PM Subramanian Venkatesan <
notifications@github.com> wrote:

--
- sent from an intelligent telephone

[2017-11-07 05:22] subramanianv commented on #42
It seems that an accountID is required for bulk posting.
To get an account ID you need to have paid account.
I am not sure how to get one or use a test account.

https://www.craigslist.org/about/help/paid_posting_account

Any pointers on this ?

[2017-11-07 11:37] owocki commented on #42
I will call today and ask about this.  If we cannot get access to the paid posting interface, we might have to do a web scraper.

[2017-11-07 16:17] owocki commented on #42
Left them a voicemail.  We'll see if I hear back later today

[2017-11-07 19:39] TimVanMourik opened #43 "Send a notification (github, browser, or otherwise) instead of email for tips/bounties."
At the moment, when  a bounty is awarded an email is sent out to the claimer. Depending on the GitHub email settings, however, this email never arrives.
#TODO: Find out which settings are the culprits
#TODO: Allow a GitHub user to list his/her awarded claims, for when the email never arrived

[2017-11-07 21:21] owocki commented on #43
thanks, i was also thinking of programming the tip emailer to comb through past commits and send the email to the email in the commit history for that user.  right now the system naively assumes it can access the github user email.

[2017-11-07 22:26] TimVanMourik commented on #43
It would be great if it created a GitHub notification additional to or instead of the email. But I presume that requires the installation of a GitHub add-on from the user, or something alike? If it were possible, it could circumvent messy combing-for-email solutions :)
And related, is the link in the email (+MetaMask) at the moment the only thing you need for claiming? I.e. if I hack into your ema

[2017-11-08 01:50] owocki commented on #43
i'm not aware of any API create notification functionality on github

[2017-11-08 17:32] owocki commented on #42
Just spoke to a very nice lady in their billing department.  Looks like there is a $6k/mo minimum.  I'm going to remove the requirement to use the paid API.  I think this'll need to be done with scraping.

[2017-11-08 17:32] owocki commented on #42
@subramanianv you still interested in this task?

[2017-11-08 17:41] rajatkapoor commented on #42
I am interested to do this via scraping if @subramanianv is not
I can try with requests maintaining session and cookies or else go with a headless selenium approach

[2017-11-08 18:07] subramanianv commented on #42
@owocki I will closely watch this task. @rajatkapoor can work on this if he is interested.

[2017-11-08 18:08] owocki commented on #42
@rajatkapoor go for it.  if you decide not to do the task, please let us know so someone else can claim it

[2017-11-08 18:24] rajatkapoor commented on #42
On it 👍

[2017-11-11 00:56] owocki commented on #38
https://github.com/gitcoinco/smart_contracts/issues/5

[2017-11-11 20:29] cheneveld opened #46 "Bounty Detail: Clear text email vulnerable to spammers?"
FUNDER INFO: contains plain text email.

Is there some magic going on to prevent spammers or no?

[2017-11-13 00:03] owocki commented on #46
not presently.

[2017-11-14 15:57] #42 closed

[2017-11-14 15:58] owocki commented on #42
@rajatkapoor pls submit a claim at https://gitcoin.co/funding/claim?source=https://github.com/gitcoinco/web/issues/42

[2017-11-16 22:59] owocki commented on #37
@omnidan @nbanmp sorry for the radio silence.  been heads down on a few other things. i  think i still owe you your payouts for this (great) feedback, right?

[2017-11-17 12:55] owocki opened #50 "Browser Extension Revamp"
* Ability to browse funded issues (and amounts) on an issue board
* Fund an issue right on github issue page
* View funded issue states (and amounts)  on github issues page
* Visual style that matches github
* ability to input what keywords you want to filter on, and only display those issues in the dropdown.
* The notifications are kind of obnoxious.  Don't show notifications for all issues assoc

[2017-11-17 13:10] TimVanMourik opened #51 "Wrong issue info"
I posted three bounties a week ago, and I'd swear I set the expiration time at one week. This is (weakly) confirmed by the auto-complete when I now click on 'Fund Issue', but have no further proof of me entering this correctly. But when I go to the [issue page](https://gitcoin.co/funding/details?url=https://github.com/TimVanMourik/ForkPPM/issues/2), it says: "EXPIRES: IN 3 MONTHS". Also, I now not

[2017-11-17 21:42] owocki commented on #37
tips paid out.  enjoy, folks!

closing this feedback bounty for now.

[2017-11-17 21:44] owocki commented on #37
@omnidan @nbanmp let me know if you dont get emails about your tips.  been having a few issues with some ppl not getting their emails due to some restrictions in the github api

[2017-11-17 22:12] nbanmp commented on #37
@owocki I don't see any emails.

[2017-11-17 22:15] nbanmp commented on #37
Just got it.

[2017-11-17 22:17] nbanmp commented on #37
I got it.

[2017-11-20 22:58] owocki commented on #51
tim and spoke over the phone about this.  its related to https://medium.com/gitcoin/critical-security-vulnerability-patched-2017-11-10-9472db340692 and has since been resolved.  closing this issue now

[2017-11-20 22:58] #51 closed

[2017-11-20 23:03] owocki commented on #50
current chrome extension repo => https://github.com/gitcoinco/chrome_ext

[2017-11-21 04:43] rajatkapoor commented on #50
Is there anyone working on this?

[2017-11-21 08:41] owocki commented on #50
To my knowledge no one has claimed it

On Mon, Nov 20, 2017 at 9:43 PM Rajat Kapoor <notifications@github.com>
wrote:

--
- sent from an intelligent telephone

[2017-11-21 19:38] jclancy93 commented on #50
I was planning to take a swing at this over the weekend and wanted to clarify a few things first.

1) Shoud the chrome extension should be injecting additional html/css into a GH issue board page?

2) Should there be a button on each issue which on click generates a tx where you can lock up the eth for the bounty?

Thanks, this is a really cool project and I'm excited to contribute!

[2017-11-21 23:40] owocki commented on #50
1. yes i think so
2. either that, or the button takes you to gitcoin.co where you can go through that flow.

[2017-11-21 23:41] owocki commented on #50
heads up @jclancy93 , i think @rajatkapoor already claimed the issue.  please coordinate so that no one wastes work!

[2017-11-21 23:42] owocki commented on #50
err.. i may be mistaken.  maybe @rajatkapoor was going to work on the standardbounties integration instead

[2017-11-22 18:38] owocki commented on #31
![pasted image at 2017_10_27 12_19 pm](https://user-images.githubusercontent.com/513929/33144248-9a6c05da-cf79-11e7-9395-9ae19f7279a7.png)
the outcome of this process, for posterity

[2017-11-23 02:40] isaacserafino commented on #50
It looks like @jclancy93 is already working on this, but it looks like he didn't claim the bounty yet?

[2017-11-23 03:14] jclancy93 commented on #50
@isaacserafino it should be claimed now, sorry about the confusion.

[2017-11-23 15:01] owocki commented on #50
@jclancy93 looking forward to working with you. @isaacserafino hit me up on slack, we can find some more bounties for you to work on, even if nothing is listed now!

[2017-11-27 22:17] owocki opened #52 "Design a testimonials module on the landing page"
# requirements

* assume 3-4 testimonials, each with a quote, name, image
* assume 1-2 sentence testimonial
* design needs to work for both desktop and tablet.

some sample testimonials:
- we've had 2 bounties fulfilled and we're hooked
- I feel it is so awesome to have the opportunity through Gitcoin to do what I love and get paid for it, and to have reasonable freedom about the way I work, that

[2017-11-27 23:25] taurean commented on #52
Attached two examples, one with a long quote and the other with a short quote. I can provide states for the toggles as well. May need to discuss how to animate the transitions properly.

![long quote](https://user-images.githubusercontent.com/450613/33294748-e1df6fae-d386-11e7-862f-1933bcba41bb.png)
![short quote](https://user-images.githubusercontent.com/450613/33294749-e1fcbfb4-d386-11e7-910a-3c

[2017-11-28 23:56] owocki commented on #52
thanks @taurean -- this looks good!

a few questions / comments:
- is there a way we can put a lighter color behind the quote itself?
- what is the aspect ratio of image you posted?  might be good to standardize on a square image.
- do you think these testimonials should auto-scroll? at what interval?  should we put more than one testimonial on the page at one time?
- is it worth having a heading

[2017-11-28 23:57] owocki commented on #50
i left this intalled on my chrome and i ahve to say: its really really nice and an improvement over the last extension!

[2017-11-29 17:47] taurean commented on #52
• Yeah, thats no problem
• the image is 160x240. We can certainly make it a standardized ratio but Ideally I would want to keep it in a portrait orientation rather than a square or circle (although I don't feel particularly strong about this)
• thats a fair point and I imagine we should. Maybe 3-5sec? I would prioritize one testimonial at a time, especially if they are transitioning from one to th

[2017-11-29 17:53] taurean commented on #52
@owocki Attached a preview with a white background instead. Looks like the images were already a 3:4 ratio so that worked out nicely. I also rounded the corners more for the photo, aligns a bit better with the illustrations I think.

![long quote](https://user-images.githubusercontent.com/450613/33390556-2437c92c-d4eb-11e7-8ca3-688cdb0887b0.png)

[2017-11-29 18:25] owocki commented on #52
sorry i think we miscommunicated on this opint

by

i just meant slightly lighter color, and just behind the quote itself (not the entire module).   i like the dark color behind the entire module.

on second thought, i agree with this.  portraits are ++

[2017-11-29 18:56] owocki commented on #52
btw @taurean i pushed some docker updates the other day.. not sure if you want to take a pass at the HTML again.

[2017-11-29 19:00] mbeylin commented on #52
That most recent mockup (white background) looks beautiful in my opinion. Really highlights the individual and their comment, above anything else.

[2017-11-29 19:24] owocki opened #53 "auto-estimate USD amount on gitcoin.co/tip"
A little while ago i [wrote some code](https://github.com/gitcoinco/web/commit/96c3613907d67f01104c37039fc292c6f8f63811) that would estimate the USD amount of a new bounty as the user filled out the form.

here is an example of what it looks like

![screen recording 2017-11-29 at 12 21 pm](https://user-images.githubusercontent.com/513929/33394650-41a2b9a8-d500-11e7-9883-6de55428c239.gif)

The scop

[2017-11-29 19:40] owocki commented on #52
ok mark convinced me.  could we still visually distinguish the quote text in some way, though?

[2017-11-29 19:46] Shrugs opened #54 "The corners or #upper_left and .bounty don't line up"
![image](https://user-images.githubusercontent.com/1535001/33395419-1d393a9e-d54e-11e7-9d8d-df8cc583cb24.png)

`#upper_left` has a min-height of 140px and the `.bounty_def` element adjacent to it has a height of 136px.

A quick solution, at least on the latest chrome, is to give `.bounty_def` a height of 140px. A more expressive solution is most likely to either share some sass variables or use fl

[2017-11-29 19:52] owocki commented on #54
ill bounty 0.02 for a stopgap fix (described above), and will tip on top of that based upon a root cause fix.

[2017-11-29 20:00] taurean commented on #52
Sure thing. Here are a few options on how we can do it.
![options](https://user-images.githubusercontent.com/450613/33396273-e09b5960-d4fc-11e7-887b-8cfa63473502.png)

[2017-11-29 20:03] mbeylin commented on #52
#2 is my favourite for following visual conventions for quotes

[2017-11-29 20:21] owocki commented on #52
i also really like no 2.

lets go with that.    can you give me all the assets i need to make this happen (circles, squiggley lines, fonts, etc) and ill code it up?  unless you want to code it up :P

[2017-11-29 20:44] owocki commented on #54
thanks @Kielek for the stopgap fix.  saving the remainder of the bounty for someone who fixes the root caus!

[2017-11-29 21:14] mbeacom commented on #53
WIP

[2017-11-29 21:31] taurean commented on #52
@owocki I can get the layout set up with html/css in a codepen if you want. Still couldn't get it to build locally and I'd take a bit to get the slideshow + animations going well anyway.

[2017-11-29 21:52] owocki commented on #52
probably just easier for me to code it up.  thanks though.  wanna just deliver me the creative assets i requested in my most recently coment instead?

[2017-11-29 21:53] taurean commented on #52
Will do

On Nov 29, 2017, 1:52 PM -0800, Kevin Owocki <notifications@github.com>, wrote:

[2017-11-29 23:43] mbeacom opened #56 "Decrease Docker image size"
The `web` docker image is currently `998 MB` running x3 for `migration`, `web`, and `shell (?)`.

If `python:2.7-slim` is used with a modified Dockerfile, that can be reduced by about half.

Additionally, `ADD` is used throughout the Dockerfile, while it lives in the repository.
We can `COPY` the requirement text files to align with https://docs.docker.com/engine/userguide/eng-image/dockerfile_bes

[2017-11-29 23:46] mbeacom opened #57 "Add persistent volume for PostgreSQL data"
Currently, the postgresql data lives as long as the underlying container.

We can preserve the data via a persistent volume.

[2017-11-29 23:52] mbeacom opened #58 "Modify docker-compose.yml to reduce running/exited services / persistent volume"
The current docker-compose.yml defines `shell` and `migration` service containers.
I am uncertain what function the `shell` container provides (if you wish to access the shell of the running web container, you can `docker exec -it` against it).

Currently, the postgresql data lives as long as the underlying container.
We can preserve the data via a persistent volume.

Additionally, the migration s

[2017-11-29 23:58] #57 closed

[2017-11-30 00:17] taurean commented on #52
@owocki Attached are the design elements in a few different sizes/formats since I'm not sure how you want to implement it. I would advise making the L/R arrow controls buttons for accessibility. I didn't include the typeface as it should be the same one already used on the website. Lastly, I didn't include the blue/purple bar to the left of the block quote as this should be achieved with `border-l

[2017-11-30 17:08] EntityAdam opened #61 "Bounty Life-cycle"
Purpose of this issue: Define guidelines and the process of expressing intent, completing work, and claiming bounties.

Intent: Allow operators to express intent, communicate progress with the issuer and other potential bounty hunters as well as allow the issuer to provide acceptance criteria

1. Interest
    - Interested, save this for later (bookmark equivalent)
    - Interested (Discovery, or "

[2017-11-30 17:52] EntityAdam commented on #61
Yeah absolutely. If the "express interest" button adds a list of users to the bounty itself, you can couple the above future functionality to the the users instead of the bounties. Which would provide more isolation and ease development and maintenance.

[2017-11-30 21:50] monokh commented on #54
@owocki Having a look at the current structure, I don't think its preferable to make a flex layout that contains the network section and call to action. This is because it doesn't appear on all pages so would need different structure for others - seems like it could get messy :slightly_smiling_face:
To keep things simple, i would vote for sass but it isn't built into the project yet. Is that somet

[2017-12-01 01:23] owocki commented on #61
@EntityAdam @mbeylin thoughts on https://github.com/gitcoinco/web/pull/62 as a stopgap?

[2017-12-01 01:31] owocki opened #63 "Code Testimonials into Landing page"
Scope of this task:  Take the designs from https://github.com/gitcoinco/web/issues/52#issuecomment-348040899 and code them into the gitcoin.co landing page.

* requirements: must be responsive (work at tablet, mobile, desktop reso)
* left / right buttons shoudl work with an animate
* 3-5sec auto transition to the testimonial to the right.
* you can stub in the testimonials listed [here](https://gi

[2017-12-01 04:04] tra38 commented on #63
Hey @owocki, I can work on this project tomorrow. Let me know if that will be okay.

[2017-12-01 06:43] owocki commented on #63
@tra38 glad to have you. sure, please give it a shot

[2017-12-01 18:38] owocki opened #64 "bug: roadmap items move when hover over them"
see example video https://drive.google.com/file/d/1BIgecYaJa9juzsaVGmYeLS1SD3XJghAK/view

[2017-12-01 21:24] owocki commented on #50
heads up, im seeing a JS error from the extension => http://bits.owocki.com/3X2H3t1B1d11/Screen%20Shot%202017-12-01%20at%202.24.29%20PM.png

[2017-12-01 22:34] #56 closed

[2017-12-01 22:34] #58 closed

[2017-12-01 23:24] adityaanandmc commented on #63
@owocki & @tra38  are the number of testimonials fixed (a limit of ~4) ? or is it going to be an endless supply ?
(If it's the former maybe consider writing up the whole bit in CSS ^_^ )
Latter, well you have tons of options for that

[2017-12-02 03:31] tra38 commented on #63
@adityaanandmc I am going to aim towards writing the most of it in CSS and then have some HTML boilerplate for each testimonial (the boilerplate itself being generated, of course). That way, if @owocki does indeed want an endless supply, we're ready.

[2017-12-02 04:05] owocki commented on #63
whoops.

yes itd be good to scale the number of testimonials up and down dependant upon business conditions.

@tra38 @adityaanandmc fwiw - idk what templating stuff you've used in the past, but this is how we're generating client side JS right now.

[2017-12-02 07:05] owocki commented on #53
@mbeacom how goes it

[2017-12-02 07:45] thelostone-mc opened #65 "core : contributing.md guideline + linter"
Folks have different editor setting based on personal preference & since gitcoin looks promising  maybe we should consider having a style guide to ensure everyone follows a particular design style
Example:
- Lotta trailing whitespace -> me editing one line results in a lot of changes
- restrict tabspace to 4 (there is a mixture of 2 and 4 though the latter is more prominent )
the list goes on and

[2017-12-02 07:53] thelostone-mc opened #66 "css: mailing list breathing space"
The mailing list as of now, looks kinda out of place. Things looks really cramped up here.
It's in a few other places, but  just to give you an idea what I'm talking about:

<img width="940" alt="screen shot 2017-12-02 at 1 16 39 pm" src="https://user-images.githubusercontent.com/5358146/33513196-cd057390-d763-11e7-8ce8-f7619b0215c0.png">

I figured maybe we could consider giving it some breathing

[2017-12-02 14:34] sc0Vu commented on #64
Just fix this:)

[2017-12-02 16:30] owocki commented on #64
thanks @sc0Vu

[2017-12-02 16:37] owocki commented on #65
i was talking to someone on slack the other day who suggested this too.  idea must be in the 'ether' right now so to speak!

im game to

- try to get rid of trailing whitespace
- restrict tabspace to 4

beyond that, should we adopt the pep8 standard?  what are all the cool kids doing these days?

[2017-12-02 16:45] owocki opened #68 "move to python3, django 2.0"
https://docs.djangoproject.com/en/2.0/releases/2.0/

[2017-12-02 19:33] adityaanandmc commented on #65
few folks in my circle ( not sure if we could label ourselves cool just yet ) use google python style guide but `pep8` still stands tall.
It's recommended by folks at [django](https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/). We could always update it suit our needs like maybe avoid breaking lines at 79 chars to make code look less clunkier!

For CSS/SCSS th

[2017-12-03 01:14] mbeacom commented on #53
@owocki Should have it in tomorrow.  Sorry for the delay! Got caught up with some contract work that I couldn't pass up!

[2017-12-03 04:25] owocki commented on #53
👍

[2017-12-03 04:42] sc0Vu commented on #68
@owocki, I can work on this.

[2017-12-03 04:44] owocki commented on #68
@sc0Vu how complex do u think it is

[2017-12-03 05:14] speizerj commented on #68
Hey all - I really love what Gitcoin is doing and I'd like to help as well - I think porting to python 3 is a sizable undertaking but definitely worth it.

I have the project running locally using the Docker image, and was able to convert said docker image to 3.6 and Django 2.0. The app runs successfully though I didn't test out too many pages to check for library issues.

I'm happy to work throug

[2017-12-03 05:55] owocki commented on #68
awesome!  want to PR the main repo with your work so far?  from there you and @sc0Vu can divide/conquer (up to you guys)

[2017-12-03 06:36] speizerj commented on #68
absolutely, just created pr #70

@sc0Vu what do you think the best approach is for dividing the work? I can get the repo to a point where the local server is running without issue, and then we can divide from there? hard to debug otherwise

[2017-12-03 07:07] sc0Vu commented on #68
@speizerj the docker file looks good and I think it hard to divide the work, maybe you can do this by your own :)
Please tell me if there is anything I can help!

[2017-12-03 16:16] owocki commented on #54
isnt sass a way of structuring css files?  maybe im slow this sunday am, im not making the connection between the css file flavor and the page layout

[2017-12-03 16:35] monokh commented on #54
@owocki Correct :slightly_smiling_face: This issue essentially stemmed from having 2 different values for the height that broke the layout. I believe the suggestion Shrugs was making by `share some sass variables` was to have the height of the network section and call to action be a sass variable = 300px. This way there is no chance for them to fall out of line in the future in addition to other e

[2017-12-03 16:41] owocki commented on #54
thanks for walking me through this.  it all makes sense now :)

in an effort to [not scar on the first cut](https://m.signalvnoise.com/dont-scar-on-the-first-cut-e9afd256afdf) i'm going to say lets not make the move to sass just yet.  i'll keep this in the back of my mind though as we progress forward.

[2017-12-03 16:45] owocki commented on #68
thx for working it out amonst yourselves.  @sc0Vu if you want to check https://gitcoin.co/explorer for another issue you think might be a fix, now is a good time!  hit me up on slack if you can't find one

[2017-12-03 18:17] Kielek commented on #38
From email communication to @owocki, just for historical purposes
"go to the https://gitcoin.co/explorer#

and put in search field <script>alert("Hello!!");</script> then press the search the script will be executed.

When you refresh the page or open the page again in the same browser (can be another session) the script will be executed once more time. To prevent it you have to clear your local s

[2017-12-03 18:24] Zolmeister commented on #38
Note that script-injection by @Kielek is neither XSS nor vulnerability.
It is impossible to execute as an attack (and would require a click-jack copy-paste attack, which is negated by the `X-Frame-Options` header present on gitcoin.co).

[2017-12-03 19:04] mbeacom commented on #68
If you need any help with this, feel free to ping me. I recently migrated a few of my own internal projects from 2.7|1.11 -> 3.6|2.0.

[2017-12-03 19:07] speizerj commented on #68
Thanks Mark, much appreciated. Working on it today - if I run into any
snags I'll reach out.

On Sun, Dec 3, 2017 at 11:04 AM, Mark Beacom <notifications@github.com>
wrote:

[2017-12-03 19:21] gamwe6 commented on #65
When I saw this issue I thought "but there is already a CONTRIBUTING.md file", but when I checked the repo ... nothing ... I forgot to push it XD. If you want to do it @thelostone-mc go ahead!

[2017-12-03 19:58] thelostone-mc commented on #65
I'll get to it, if @owocki hasn't already have one ready ^_^

[2017-12-04 04:43] owocki commented on #53
remiting bounty now!  tahnks @mbeacom

[2017-12-04 04:43] #53 closed

[2017-12-04 04:44] owocki opened #73 "support ERC20 token conversion rates on tips/bounties funding"
A little while ago i [wrote some code](https://github.com/gitcoinco/web/commit/96c3613907d67f01104c37039fc292c6f8f63811) that would estimate the USD amount of a new bounty as the user filled out the form.

here is an example of what it looks like

![screen recording 2017-11-29 at 12 21 pm](https://user-images.githubusercontent.com/513929/33394650-41a2b9a8-d500-11e7-9883-6de55428c239.gif)

The scop

[2017-12-04 05:11] owocki commented on #65
go for it @thelostone-mc !

btw, send me a message on slack pls.  have a quick question for you

[2017-12-04 05:33] #66 closed

[2017-12-04 05:36] owocki opened #75 "In tip flow, sometimes we are not able to get the email address of the user from github"
In tip flow, sometimes we are not able to get the email address of the user from github.

This is a big problem, becaseu the tip is delivered privately to the email address.   It means we get a lot of support requests asking to resend the tip email.

I propose that we fix this issue by alerting the user who has

1. gone to https://gitcoin.co/tip
2. continued to tip send page.
3. sent tip to a user

[2017-12-04 05:47] owocki opened #76 "Overhaul leaderboards page design"
https://gitcoin.co/leaderboard/all_all

Milestone 1:
* Submit a design overhaul of the page.

Milestone 2:
* One design revision

Milestone 3:
* Code design into HTML/CSS and submit a PR back to the repo.

Bounty paid out 1/2 when design is finalized, and 1/2 when PR submitted back to repo.

[2017-12-04 06:04] mbeacom commented on #75
WIP

[2017-12-04 11:56] domalak commented on #76
OK I claimed this issue :stuck_out_tongue:
Made some design tweaks to make it look better:
![screenshot from 2017-12-04 17-32-28](https://user-images.githubusercontent.com/3232885/33551606-1f8f45b4-d91c-11e7-9e9d-49f85889cb4f.png)

And I added a light round border on pics. Also I suggest to add a placeholder when picture is not found like on this picture:
![screenshot from 2017-12-04 17-51-28](htt

[2017-12-04 12:05] rajatkapoor commented on #73
On it

[2017-12-04 15:26] owocki commented on #76
hey @domalak great to have you here.

while i appreciate your contribution nonetheless, i was looking for a little more fundamental design overhaul of the page.  any interest in that?

updating issue desc now

[2017-12-04 15:34] domalak commented on #76
Thanks! But unfortunately I am not a designer and results will not be more
creative than previous ones.

On Dec 4, 2017 21:26, "Kevin Owocki" <notifications@github.com> wrote:

[2017-12-04 16:25] owocki commented on #76
ah shoot, my bad for the miscommunication.

[2017-12-04 16:34] domalak commented on #76
no problem. sorry man. how is proper to start working on issue? maybe first start commenting here on github and then claim it?

[2017-12-04 16:42] owocki commented on #76
yep, that works!

[2017-12-04 18:16] owocki commented on #73
great @rajatkapoor !

[2017-12-04 18:17] owocki commented on #63
spoke to tarik on slack.  hes done a good job putting together the dom, but we could use a little CSS/aesthetic push over the edge to get this the finish line.

anyone want?

[2017-12-04 18:23] #54 closed

[2017-12-04 18:42] owocki commented on #50
hey @jclancy93 are you on the gitcoin slack at all?  if you join, i have a quick question for you.

[2017-12-04 19:13] owocki commented on #73
heres an example => https://gitcoin.co/sync/get_amount?amount=100&denomination=GRID

some places to start in coddebase:

https://github.com/gitcoinco/web/blob/master/app/dashboard/helpers.py#L39-L57

https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/shared.js#L243-L280

[2017-12-04 19:25] rajatkapoor opened #77 "Email heading messed up on mobile resolutions"
The email heading stating "New Funded Issue Alert" is messed up on mobile resolutions
![screenshot_20171205-005226](https://user-images.githubusercontent.com/1975189/33571702-e282610c-d956-11e7-905b-fae04c072010.jpg)

[2017-12-04 19:37] jasonrhaas opened #78 "Database files not compatible with Postgres 10.x"
The docker-compose.yml file specifies the latest version of Postgres.  However, currently the database files are not compatible with  the latest Postgres.  I get this error message when running Postgres 10.1:

[code]

A quick fix is to update the docker-compose.yml file to use version 9 of Postgres.

[code]

A better option is to update the database files so they work with Postgres 10.x.

[2017-12-04 19:51] ethikz commented on #63
#79

Here is a PR for a simple and quick implementation of a static content slider.

[2017-12-04 21:17] Elaniobro commented on #76
I got some design chops, what exactly are you looking for?

[2017-12-04 21:52] ernaneluis commented on #76
here is my version :D

![leaderboard](https://user-images.githubusercontent.com/1398769/33578146-c02880e8-d945-11e7-8209-1d9e7c0c3be8.jpg)

[2017-12-04 22:37] owocki commented on #76
oh man i LOVE LOVE this @ernaneluis -- thanks for the contribution :) do you want to code it?  or does someone else on the thread want to?

[2017-12-04 22:37] owocki commented on #76
sry @Elaniobro just saw this

[2017-12-04 23:26] ernaneluis opened #81 "Missleading button "Accept/reject claim" for non founder of the issue"
After claim to a issue and later check the issue page. The website shows a button "accept/reject" issue. However, is not the owner of the issue. Besides, if you click the button, it shows tabs for creating a issue, which is meant for the founder of the issue to accept or reject the claim.

<img width="803" alt="screen shot 2017-12-04 at 21 06 21" src="https://user-images.githubusercontent.com/1398

[2017-12-04 23:46] owocki commented on #81
more generally, i feel strongly that the funded issue detail page should only present to users actions that are enabled for them specifically

[2017-12-04 23:50] ernaneluis opened #82 "Problem on claimming a issue"
I'm trying to claim a issue and Metamask is not broadcasting the transaction.
Besides the transaction to claim is costing almost $2, quite high I think thought.

<img width="337" alt="screen shot 2017-12-05 at 00 26 53" src="https://user-images.githubusercontent.com/1398769/33582531-fb5904f2-d955-11e7-901d-035f74f0bd27.png">

<img width="330" alt="screen shot 2017-12-05 at 00 32 01" src="https://u

[2017-12-05 00:01] owocki commented on #82
thanks @ernaneluis -- ethereum network is bogged down today (we all think its due to cryptokitties but idk)...

nonetheless, this issue shouldnt be happening.  let me see if i can repro it while gas prices are still high

[2017-12-05 00:01] owocki commented on #82
btw wwhich issue are you trying to claim

[2017-12-05 00:03] ernaneluis commented on #82
@owocki the one from leaderbord

[2017-12-05 00:05] ernaneluis commented on #81
Yes I agree with you.

[2017-12-05 00:07] owocki commented on #76
@ernaneluis you want https://github.com/gitcoinco/web/blob/master/app/retail/templates/leaderboard.html

[2017-12-05 01:26] Elaniobro commented on #76
Man, missed out on this! Good luck @ernaneluis.

[2017-12-05 03:07] mbeacom commented on #78
This isn't so much an issue with running gitcoin web on PostgreSQL 10.x, but that your data volume was generated using PostgreSQL 9.x.  For development environments, you can simply delete the data volume and start with the 10.x image.
In the event this is occurring on the production deployment, you would follow the typical postgresql 9.x to 10.x upgrade steps.

[2017-12-05 07:34] mbeacom opened #86 "Some models don't handle plurals correctly in admin"
It appears that some of the models require their `verbose_name_plural` to be set to display correctly in the admin.

[2017-12-05 13:15] owocki commented on #82
out of curiousity, does it work if you try 11 gwei as the gas price?

[2017-12-05 13:32] thelostone-mc commented on #54
@owocki A thought -> what are the cons shifting to sass at an earlier stage

Reason I ask
moving to scss/sass
- makes css more maintainable, gives structure to it.
  The css I had written up for the testimonial would have been neater if I had sass IMHO
- cross compatibility across browsers ( not supported -> fallback logic )

Ignoring all that, the later this is pushed , the more effort would have

[2017-12-05 13:36] owocki commented on #54
that's true; it would be.

i am convinced this is a good idea, i am just not as convinced it is a good idea relative to all the other things that are going on.  each takes up a tiny bit of cognitive load, and it all adds up.  i think this will get better once the team grows (esp when we have a someone focusing full time on frontend)

hindsight being 20/20, i wish i had designed `main.css` to be le

[2017-12-05 13:38] thelostone-mc commented on #54
Haha fair enough ^_^

[2017-12-05 13:39] owocki commented on #76
@ernaneluis this one is all you.  i know youre trying to submit a claim but the ethereum network is overloading right now.   putting this comment here to help you informally stake your 'claim' until you formally do so later today

[2017-12-05 13:40] #86 closed

[2017-12-05 13:48] thelostone-mc commented on #76
@ernaneluis love the design 🎉
When you code it down -> could you play around with font-size of the bounty and name too see if it looks better smaller ? (I'm pretty sure you've gotten all of this figured out but yeah ^_^ )

[2017-12-05 13:59] owocki commented on #54
this might be a pattern we can start following in the future which will allow you @thelostone-mc to experiment with stuff like this

[2017-12-05 14:04] ernaneluis commented on #82
metamask problem is still happening
https://github.com/MetaMask/metamask-extension/issues/2661

Several issues were created. The cryptoKitties are clogging their nodes.

[2017-12-05 14:05] ernaneluis commented on #76
@owocki thanks for that. I will try to code later today.

[2017-12-05 15:56] jasonrhaas commented on #78
Yup, my bad.  This isn't really an issue.  Closing.

[2017-12-05 15:56] #78 closed

[2017-12-05 18:29] mbeacom opened #89 "Increase backend test coverage"
# Backend Testing and Coverage
- Travis and Codecov integrations are now live.
- Testing coverage for the backend code is currently at:  [![codecov](https://codecov.io/gh/gitcoinco/web/branch/master/graph/badge.svg)](https://codecov.io/gh/gitcoinco/web)

If you're interested in contributing to the initiative to increase our percentage, you should familiarize yourself with `django` and `pytest` tes

[2017-12-05 18:33] owocki opened #90 "Testing Strategy"
Right now there are no tests on gitcoinco/web.

Obviously this is a problem.  This issue is created as a stub for the testing strategy.

[2017-12-05 18:33] owocki commented on #90
closing as dupe with https://github.com/gitcoinco/web/issues/89

[2017-12-05 18:33] #90 closed

[2017-12-05 18:34] owocki commented on #89
this is enough of an organizational priority i am happy to throw some bounty money at it once we have specced it

[2017-12-05 19:59] Elaniobro commented on #76
For extra credit see if you can draw the medals🥇 in `.css` to increase performance and reduce `https` requests.  Here is a [code pen](https://codepen.io/Mobilpadde/pen/jakfi) to get you started

[2017-12-06 01:55] abitrolly opened #92 "Find funded issues by specific address"
I miss clickable link to find all issues funded from specific ETH address.

Like from https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13 I want to see all other issues funded from that address.

[2017-12-06 03:47] owocki commented on #92
hey @abitrolly you can use the search functionality to do this https://gitcoin.co/explorer?q=0X63B7608B7F47DE1C0D1F94F85FFCB260FBCB4890

[2017-12-06 05:15] abitrolly commented on #92
Yea, I tried to enter my GitHub nickname and email, and it didn't work. I guess making a link should be easy now. But there might be two - one for search and one for Etherscan. )

[2017-12-06 09:02] mbeacom opened #94 "Old Etherdelta API 50x frequently"
The `get_prices` management command used to fetch conversion rates encounters `50x` status codes quite frequently.  This seems to be a common issue with their old `https://api.etherdelta.com/returnTicker` endpoint.

[2017-12-06 09:14] thelostone-mc commented on #89
travis \m/
@mbeacom if you need help in setting this up, I'm here. (Never done it before, so expect annoying pings if you agree to this )

[2017-12-06 16:30] #94 closed

[2017-12-06 17:55] owocki opened #96 "expire email should be targeted to personas"
http://bits.owocki.com/2l1M2k233g17/Screen%20Shot%202017-12-06%20at%2010.54.04%20AM.png

this user got an email as if he was the submitter, but he is actually the claimee

[2017-12-07 00:54] jclancy93 commented on #50
@owocki btw im not able to replicate that js issue that you mentioned. I don't think its coming from gitcoin extension though. The line trace of the error you highlights is content_scripts.js:12, but gitcoin doesn't have a content_scripts.js file

[2017-12-07 01:43] owocki commented on #50
@jclancy93 ah you are right! my bad

[2017-12-07 02:04] owocki commented on #50
@jclancy93 im really excited about what has been done so far.  looking forward to having the extension finished up!

[2017-12-07 03:01] owocki opened #98 "GitHub oauth in new funding flow"
Requirements

1. github oauth working
2. I would like to see this on the 'username' field on`/funding/new` page and the `funding/claim` page, such that when a user claims a username is theirs, its actually backed up by github.

[2017-12-07 03:02] owocki commented on #98
https://github.com/gitcoinco/web/pull/62 <= another github oauth issue.

@mbeacom if you want, i can fold the scope of one of these into another or visa versa.. and just bounty the whole thing for you.

[2017-12-07 03:08] owocki commented on #82
looks like your claim went through!  will accept it once we merge the PR

[2017-12-07 03:46] tra38 commented on #46
[Here's a guide](https://www.projecthoneypot.org/how_to_avoid_spambots.php) to help protect emails from being harvested by spammers. I don't know how old the guide is though, so maybe spammers might be able to defeat most of the techniques listed.

[2017-12-07 03:56] #77 closed

[2017-12-07 03:56] owocki commented on #77
should fix this 013fdd6b8927ae3db317b9264f57bc6e3af6359a

[2017-12-07 10:10] ernaneluis commented on #82
I tried using another RPC node. The infura is till a problem. The gas is now 61 gwei 👎

[2017-12-07 19:05] Elaniobro commented on #63
I'll gladly take on the css. Still available?

[2017-12-07 21:46] #52 closed

[2017-12-07 22:07] owocki commented on #63
my mistake on the miscommunication here.  the issue is not still availabele.

bc the ETH network has been so backed up, i haven't gotten the oppy to claim the issue to take it off the open issues

[2017-12-08 21:21] ethikz opened #100 "bug: roadmap items shift to adjust for content on hover"
#64

Some blocks still shift and it shifts when content fits, see:
https://drive.google.com/open?id=1Oaj7HIMb9gt4PPbd6x0w06njsiicXf2v

[2017-12-08 21:27] ethikz commented on #65
I'll implement a linter and fix all lint issues for scss.  After that I'll add in eslint

[2017-12-08 21:36] thelostone-mc commented on #65
@ethikz I've sort of added a css linter. Could you take of the JS lint bit ?

[2017-12-08 21:37] ethikz commented on #65
@thelostone-mc haha just updated my comment to make that change 😄

[2017-12-08 21:45] thelostone-mc commented on #65
@ethikz Yup def comparing ^_^
PS:  are we planning on using ESlint or something else ?

[2017-12-08 21:54] ethikz commented on #65
Yes I was planning on it.  This way the community is up to date(ish).  Unless you have a reason it might not be a good idea?

I was thinking we could go ahead and start using SCSS and es6

[2017-12-08 22:27] thelostone-mc commented on #65
Nope I'm all for it !! :D

[2017-12-08 22:31] ethikz commented on #65
Also I've uploaded the config I've used in multiple projects.

https://github.com/ethikz/guidelines

[2017-12-09 00:07] owocki opened #101 "Transaction Underpriced when you try to receive a tip"
When someone is going through the tip receive flow, they are not able to submit their receive transaction because the ethereum mainnet gas profile has changed so much.

They get the following error in theri console:

[code]

This is caused by the network conditions of the ethereum mainnet (and the popularity of cryptokitties).

# Proposed Fix

* Send some extra ETH to each ephemeral address associ

[2017-12-09 00:09] owocki commented on #101
im about to head to dinner so i wonder be able to tackle etonight… but if you are affected rest assured your funds are safe and ill get the tip to you.

[2017-12-09 00:13] owocki commented on #101
letting ppl know that this is a known issue on the receive flow rn

<img width="723" alt="screen shot 2017-12-08 at 5 12 17 pm" src="https://user-images.githubusercontent.com/513929/33790151-03e9c40c-dc3b-11e7-815d-bff6eb9bbc24.png">

[2017-12-09 00:13] owocki commented on #101
kudos @ethikz for the report

[2017-12-09 07:24] thelostone-mc opened #103 "mail: tip amount rounded off to 2 decimals showing cause incorrect amount on mail"
The tip amount is rounded off to two decimal places in the mail template when a tip is rewarded to a user.

I was a given a tip of **0.075**

_The email : (rounded off tip -> was a tad bit bummed out  )_

<img width="1151" alt="screen shot 2017-12-09 at 2 51 01 am" src="https://user-images.githubusercontent.com/5358146/33793482-a86c6676-dcde-11e7-9316-f96f1df07898.png">

_The redeem page shows the

[2017-12-10 14:48] cheneveld opened #105 "/slack page content view does not fill page width on mobile"
iPhone 5s Simulator: https://screencast.com/t/ryfWqaZSH

iPhone 8+ Simulator: https://screencast.com/t/o7TGfVgldb9

Smells like the robo image needs to be hidden and the content columns needs 12 cols

[2017-12-10 15:27] rajatkapoor commented on #73
Also, I see that this is already present on the new funding flow, that is why I left it off as it is.
Please have a look whenever you get time and confirm 👍

[2017-12-11 02:46] ethikz commented on #65
@thelostone-mc How are you implementing the linter?  Node/npm? Gulp? Grunt?

Trying to figure out what I should do to implement the eslint if I'm going to use webpack or what.

[2017-12-11 03:04] thelostone-mc commented on #65
@ethikz I was thinking node + gulp if that's alright! You've got something else in mind ?
I'm a little new to docker, so just getting my head around everything

[2017-12-11 14:57] owocki commented on #50
@jclancy93 let me know if i can unblock you on anything

[2017-12-11 15:24] jclancy93 commented on #50
@owocki Started work on the notifications/keywords stuff last night. Don't have anything blocking right now but will let you know if that changes.

[2017-12-11 15:37] owocki commented on #101
i am working on a fix now @ethikz @thelostone-mc @tra38

[2017-12-11 16:00] owocki commented on #101
9f277343f6027de90937589f2c87eabe5593eded should be the root cause fix on a go-forward basis.  let me go through and make sure each of you can redeem your tips @ethikz @thelostone-mc @tra38

[2017-12-11 16:08] owocki commented on #101
@ethikz @thelostone-mc @tra38

ok yall,

i've put in a fix.  what this fix does is selects a dynamic gas price, when the tip is created.  and puts enough gas in the contract such that the receipient can avoid a `transaction underpriced` issue.

here's how to redeem your tips:

1. go to the link that is in your tip email that you received
2. append `&gasPrice=10` to the end of the link and go to th

[2017-12-11 16:28] owocki commented on #73
@rajatkapoor the estimations only work for ETH on the funding flow and don't work for ERC20 tokens.

the last comment i see on https://github.com/gitcoinco/web/pull/84 is you saying "will make the requested changes" but i dont see any more commits on the PR.  am i missing them?

[2017-12-11 16:36] #105 closed

[2017-12-11 16:36] owocki commented on #105
30a1ef1dee739302639a6a6b08f59e3986af361d should fix this.  thanks for the report!

[2017-12-11 16:44] #103 closed

[2017-12-11 16:45] owocki commented on #103
thanks again aditya :)

[2017-12-11 20:21] ethikz commented on #65
@thelostone-mc Well I wasn't going to add to docker just yet.  I was thinking since Webpack can handle the linting I would just do npm scripts so we don't have the dependency of gulp and other packages it needs.  I'm open though, whichever is easiest.

[2017-12-11 21:21] thelostone-mc commented on #65
@ethikz let's do that then ^_^

[2017-12-11 21:28] thelostone-mc commented on #63
@owocki Can we go ahead and close this ?

[2017-12-11 21:55] owocki commented on #63
yes.  thanks!

[2017-12-11 21:55] #63 closed

[2017-12-11 23:27] ethikz commented on #65
Sounds good

[2017-12-11 23:36] owocki commented on #75
👍

[2017-12-11 23:36] owocki commented on #75
👍  looking forward to see what you come up with here

[2017-12-12 00:28] owocki commented on #82
@ernaneluis fwiw it seems network conditions have calmed down a bit.

[2017-12-12 05:01] owocki commented on #81
posting a bounty for this. requirements
* no button shall appear under the 'funding amount: xxx ETH yyy USD' area unless it is actoinable be the user
* includes but this is not an exhaustive list:
* clawback funds
* accept/reject
* claim issue
etc

this is where the buttons are generated on the JS https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/pages/bounty_details.js#L317-L376

[2017-12-12 21:09] thelostone-mc commented on #76
@owocki Issue valid ? The PR has been merged

[2017-12-12 21:26] #76 closed

[2017-12-12 21:54] #64 closed

[2017-12-12 22:02] #96 closed

[2017-12-12 22:03] tra38 commented on #81
I would like to take this bounty once it gets posted live, @owocki.

[2017-12-12 22:15] tra38 commented on #73
I'm willing to be on the waitlist for this project. If @rajatkapoor cannot finish this, I'm willing to take it over from where he stopped.

[2017-12-12 22:25] #101 closed

[2017-12-12 22:26] owocki commented on #82
lmk if still having issues

[2017-12-12 22:26] #82 closed

[2017-12-12 22:27] owocki commented on #46
1d353ae5df039bd5269f114b2a0632fc0d1143e2 and e968a25fcf85a14d201dcac2ec7a17d15a4ed5b7 should move us in the right direction

[2017-12-12 22:29] #7 closed

[2017-12-12 22:29] #5 closed

[2017-12-12 22:32] owocki commented on #81
@tra38 am waiting for this issue to be turned around https://github.com/MetaMask/metamask-extension/issues/2736 -- the service relies upon metamask/infura, so i can't reliably post a bounty until thats fixed.

you can go ahead and get started @tra38 -- i will just tip you directly when its done.  how does `0.05 ETH` sound?  can you submit a PR back to the repo in some reasonable amount of time, sa

[2017-12-12 22:33] owocki commented on #89
do we still need this live now that codecov/ travis are integrated?  might be a good oppy to change issue title to 'increase test coverage'

[2017-12-12 22:34] owocki commented on #92
@abitrolly  is https://gitcoin.co/profile/abitrolly what you were looking for per chance?

[2017-12-12 22:37] owocki commented on #25
@gkrizek i just added an autocomplmete for languages on gitcoin.co/explorer -- does that help at all?

[2017-12-12 22:37] #16 closed

[2017-12-12 22:38] mbeacom commented on #65
👍 If you need any assistance with the docker part, let me know! Realistically, we should consider adding a pre-commit hook for linting (and isort/flake8).  I've intentionally avoided pep8ing the backend code for the moment.

[2017-12-12 22:39] owocki commented on #43
https://developer.github.com/v3/activity/notifications/

[2017-12-12 22:45] rajatkapoor commented on #73
I will push in the changes very soon. Sorry for the delay

[2017-12-12 23:03] merryt commented on #21
Bringing up an old topic. Does the pricing engine allow two bounty posters to one issue?

Use case:
I really think x is important but the bounty for it is so low that it will never get finished/worked on.

[2017-12-12 23:06] mbeylin commented on #21
@merryt Gitcoin is currently working towards integration with StandardBounties, which already has the functionality for 3rd party contributors to add funds to the bounty

[2017-12-12 23:07] owocki commented on #25
word; im closing this issue now.. .but if anyone has ideas for a better language UI, i'm all 👂 s

[2017-12-12 23:26] tra38 commented on #81
```0.05 ETH``` sounds good to me. I'll submit a PR soon.

[2017-12-13 03:26] tra38 commented on #24
As a non-Ether evangelist (and thus a person who hasn't lived and breathed the blockchain for even 2 weeks), I might be able to chip in my two Zimbabwean dollars into why I am participating in the Gitcoin ecosystem.

If Gitcoin was presented as a cryptocurrency startup, I don't think I would have bothered looking any further. Instead, Gitcoin was presented as '*Freelancer* for Open Source' and the

[2017-12-13 06:37] thelostone-mc opened #107 "css: resize images to fit within the timeline container"
**Where:** Landing page timeline section

**Changes:**
- resize image for different sizes
- add a margin to give some breathing space (`margin: 10px 0`)
   between the image and the content

**Issue snapshot:**
<img width="1440" alt="screen shot 2017-12-13 at 11 38 37 am" src="https://user-images.githubusercontent.com/5358146/33924824-aeb5df4a-dffd-11e7-9fdc-ec89b2d90902.png">

<img width="1440" a

[2017-12-13 11:28] algae12 commented on #107
Add this to the `timeline.css` file:
[code]
That should do the trick.

[2017-12-13 11:44] thelostone-mc commented on #107
@algae12 I was hoping for it be picked up by someone new ^_^

[2017-12-13 12:24] algae12 commented on #107
I'd be glad to - PR shot.
Expect to see more of me in the coming days :)

[2017-12-13 14:39] ethikz commented on #65
Yea I think that is a good idea although I think having the linting also on the build steps would be helpful or giving the people the ability to run them before hand so they don't have to keep committing fixes to code and can do it in one go.

[2017-12-13 14:45] thelostone-mc commented on #65
@mbeacom I'll DM you with a bunch a questions ^_^

[2017-12-13 14:49] thelostone-mc commented on #107
@algae12 In that case drop by [slack](https://gitcoin.co/slack) and say hi 😄

[2017-12-13 14:52] owocki commented on #107
derp i thought i tested for this but i guess not

welcome @algae12 !

[2017-12-13 14:53] #107 closed

[2017-12-13 15:29] thelostone-mc commented on #100
@alx this would a good starting point ( if @ethikz hasn't gotten to it already ) :)

[2017-12-13 16:01] Elaniobro commented on #65
I would strongly recommend [stylelint.io](https://stylelint.io) which supports css rules for:
* Sass
* Less
* Bem

To allow everyone to use their own editors, I would also strongly encourage you toinclude the .`editorconfig` here is an example of one I use at work:
[code]

[2017-12-13 16:20] owocki opened #110 "twitter posts about new funded issues do not unfurl correctly"
what a new funded issue is posted, the system tweets about it.  they should unfurl like this

http://bits.owocki.com/1Q0g0y2P2K22/Screen%20Shot%202017-12-13%20at%209.19.51%20AM.png

but instead look like this

http://bits.owocki.com/1y1Y2u0U1D3C/Screen%20Shot%202017-12-13%20at%209.19.01%20AM.png

i think it either has to do with
* tinyurl
* some race condition with the bounty being posted and not

[2017-12-13 16:21] owocki commented on #110
hmm this one just unfurled correctly

https://twitter.com/GetGitcoin/status/940979551038881792

i think this is a race condition of some sort because of the inconsistent results

[2017-12-13 16:34] thelostone-mc commented on #65
@Elaniobro stylelint was my choice too ^_^
+1 for the `.editorconfig`

[2017-12-13 16:36] owocki commented on #24
hehe

good feedback here @tra38 . thanks for typing it up!

[2017-12-13 16:37] owocki commented on #35
convo here is related i think https://github.com/gitcoinco/web/issues/24#issuecomment-351271312

[2017-12-13 16:37] owocki commented on #24
convo here is related i think https://github.com/gitcoinco/web/issues/35

[2017-12-13 16:41] owocki commented on #24
@vsingh1993 some of this might make good content for you if/when you join the team

[2017-12-13 16:41] owocki commented on #35
@vsingh1993 some of above make good project for you if/when you join the team

[2017-12-13 20:04] ethikz commented on #100
I haven't gotten to this already. It is still available

[2017-12-13 22:27] owocki commented on #73
🎉 shipped.  thanks @rajatkapoor

[2017-12-13 22:27] #73 closed

[2017-12-14 15:40] #100 closed

[2017-12-14 16:00] owocki opened #114 "Transaction Underpriced Issue"
a community member got a "transaction underpriced" error yesterday too inside metamask when trying to submit a new bounty, tried again today and didn't get this error

the ecosystem is trying to adapt (myself included) to the changes in transaction volume and gas prices

https://etherscan.io/chart/tx

we can clearly do a better job of providing up to date default gas values

[2017-12-14 16:06] alx commented on #114
Here is a metamask screenshot. The error happened yesterday, I had no issue by submitting the same issue (with the same parameters) today.

![2017-12-14-170243_1366x768_scrot](https://user-images.githubusercontent.com/373/34001744-13aed020-e0f1-11e7-8091-232f32717be8.png)

[2017-12-14 19:26] owocki opened #115 "users reported receiving each email twice"
from one of our team members

not sure why I receive every notification twice, my email is xxx@xxx.com, maybe I've registered twice somewhere, could you have a look ?

[2017-12-14 20:57] miguel550 commented on #115
Let me take a look

[2017-12-14 22:12] owocki commented on #115
interesting ... this happened to me just now http://bits.owocki.com/0D1h3g0R2Z46/Screen%20Shot%202017-12-14%20at%203.12.04%20PM.png

[2017-12-14 22:30] owocki opened #117 "AnonymousUser"
per chat with @ethikz about https://github.com/MyEtherWallet/MyEtherWallet/issues/558

[code]

The *anonymoususer* part is what I’m referring to (edited)

owocki
[3:19 PM]
hmm

[3:19]
this is… a new issue

[3:21]
`AnonymousUserethikz` is the github user in the database… and on the blockchain.. hmm

[3:21]
so that means something in new_bounty.js must be wrong

[3:21]
if you go to gitcoin.co/fundin

[2017-12-14 22:56] ethikz commented on #117
So after looking more into it and adding some breakpoints on the scripts what I've seen is that:

It must have not cleared out the input when I submitted it and just not noticed it.  So it must have appended my username to **AnonymousUser**.  The information is pulled from localstorage so if someone wants to test make sure to clear the cookies just for the page and see if it loads up **AnonymousUs

[2017-12-14 23:09] owocki commented on #35
from https://github.com/gitcoinco/gitcoinco/issues/4

# Whoa! This is a lot of steps.

Yes, we are aware that the blockchain infrastructure is not yet mainstream.  Part of the fun of navigating this new ecosystem is learning the new tools.  We understand that it may be frustrating at first, but take a step back and enjoy the process!  Trust us when we say that the tools are powerful and that the l

[2017-12-14 23:09] owocki commented on #35
feedback on the above?

[2017-12-14 23:12] mbeacom opened #118 "Specify validation error for email validation checks"
##### Description
Every location that validates email addresses currently is caught by a bare exception.

##### Possible Implementation
Replace the base `except` with `ValidationError`

[2017-12-14 23:12] mbeacom opened #119 "Python comment linting and semicolon/unused import removal"
##### Description
There are quite a few comments without spacing that adhere to pep8 and a few location statements ending in semicolons.  Additionally, there are a few unused imports throughout the backend code.

##### Possible Implementation
Adjust comments, remove semicolons, and remove unused imports.

[2017-12-14 23:12] mbeacom opened #120 "Error in sync_profile"
##### Description
The sync_profile management command has an error due to a missing import.

##### Possible Implementation
Import the `Profile` model.

[2017-12-14 23:18] mbeacom opened #121 "Add missing migrations"
##### Description
I noticed there are some missing migrations (my fault) for non-critical changes that don't alter querying experience, simply annotating plural name metadata on a few models.

##### Possible Implementation
Add missing migrations.

[2017-12-14 23:33] alx commented on #115
Here is an example tonight.

![2017-12-15-003254_1366x768_scrot](https://user-images.githubusercontent.com/373/34019510-9f7e8260-e12f-11e7-8cca-24c26830aa72.png)

[2017-12-14 23:45] mbeacom opened #123 "Pytest version conflict with ethereum package"
##### Description
There is a version conflict with `pytest`, resulting in a false fail on Travis.

##### Possible Implementation
Pin `pytest` to < 3.3.0

[2017-12-14 23:51] #123 closed

[2017-12-14 23:58] owocki opened #125 "remove uppercase text from text description"
https://twitter.com/srl295/status/941362186982535168

[2017-12-15 00:22] #118 closed

[2017-12-15 00:22] #119 closed

[2017-12-15 00:22] #120 closed

[2017-12-15 00:22] #121 closed

[2017-12-15 00:56] owocki commented on #115
the messageids in the headers are not the same.. so its not the esame email with multiple CC receipients.

my hunch is that this has something to do with some sort of race condition in the JS layer posting the web3/blockchain information about state changes to the backend.  this happens as the issue goes from

* just created
* created => claimed
* claimed = > accepted
* claimed => rejected (back t

[2017-12-15 02:02] vs77bb commented on #35
Very good! In the initial thread, there was a good thought shared about
making sure to educate on both sides of the aisle (i.e. in what ways,
today, is web2 still functionally better than web3?).

This however, is a fantastic starting point of resources for a short blog
post explainer.

On Thu, Dec 14, 2017 at 5:09 PM, Kevin Owocki <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
L

[2017-12-15 03:02] owocki commented on #35
i think ease of use is the main thing.
also, credit cards / banks are still way easier to use than blockchain.

anything else?

[2017-12-15 03:06] owocki commented on #117
bingo! http://bits.owocki.com/3g053l3W3h1v/Screen%20Shot%202017-12-14%20at%208.05.56%20PM.png

good sleuthing @ethikz

[2017-12-15 03:09] #117 closed

[2017-12-15 03:16] vs77bb commented on #35
-Finality of payments: no recourse if you make mistakes with your crypto
-Slightly slower transaction processing? More variable fees... although
they’re still usually less than before.

Another huge web3 plus: immediate identity when you land on a web3 landing
page (getting on Cryptokitties and not having to sign in to your account -
assuming also true for Gitcoin)?  Kinda goes w permisionless.

O

[2017-12-15 06:10] miguel550 commented on #115
I found something similar in another repo https://github.com/sendgrid/sendgrid-php/issues/557#issuecomment-341868080.

[2017-12-15 08:16] thelostone-mc commented on #125
Calling dibs on this ! I'll try and prettify it a bit

[2017-12-15 08:25] thelostone-mc commented on #65
@Elaniobro @ethikz : I was planning on using [stylelint-config-standard](https://github.com/stylelint/stylelint-config-standard) out of the box.

I've gotten a lot of good feedback from this. Figured we could use this and change it along the way if needed

[2017-12-15 12:08] algae12 opened #126 "Some of the buttons are glitchy and unpolished."
## Problematic buttons:

- **All buttons containing the `raise` class.**
The issue with these buttons is a glitch occurring when hovering over the edge of a button. To avoid this I suggest we use a contrast change instead of a raise animation on hover.

![old_hero](https://user-images.githubusercontent.com/8436248/34040539-eb48b338-e19c-11e7-9329-34aef5fde07d.gif)

- **Carousel buttons.**
The caro

[2017-12-15 15:57] owocki opened #128 "As a user, I'd like to be able to close my browser window after I submit a web3 tx, so I can do other things without canceling."
014429d8ce15a484e59e3ad7760be5475e455cb0

# the issue

Once a user submits a new bounty / claim bounty / accept bounty, their browser is what polls web3 for the tx to be mined.  When the tx is mined, their browser receives the updated info from the blockchain, and submits it to the server.

this is a problem because if the user closers browser window, or if they lose web3 connectivity, the backend

[2017-12-15 17:16] #126 closed

[2017-12-15 17:29] owocki commented on #125
https://github.com/gitcoinco/web/pull/116

[2017-12-15 21:39] owocki opened #130 "scaling the claiming of bounties as the community grows"
Problems with claiming bounties right now:

* some people don't have metamask / web3, and need to get set up
* sometimes people start working before they claim.
* if there are many people making a claim, there is no way for a bounty submitter to choose who they want to work with,
* It seems like someone, `in theory` could go around and claim ALL the issues and take their sweet time in completing t

[2017-12-15 21:40] owocki commented on #130
shamelessly stolen ideas from @ernaneluis and jack on slack

[2017-12-15 21:40] owocki commented on #130
see also https://github.com/gitcoinco/web/pull/62

[2017-12-16 00:25] ethikz commented on #117
Oh ok I was going to fix it lol.

Thanks @owocki

[2017-12-17 01:58] #81 closed

[2017-12-17 16:04] owocki commented on #43
👋 @ian-cawood

[2017-12-17 16:12] owocki opened #131 "Double @ sign in github bot comments"
example: https://github.com/gitcoinco/web/issues/43#issuecomment-352247638

[2017-12-17 16:12] #131 closed

[2017-12-17 18:05] monokh commented on #130
There might be a few ideas to "borrow" from [Burnable Payments](http://toastycoin.com/) and [OpenBounty](https://openbounty.status.im/).

1. I don't think staking ETH will necessarily increase the barrier to entry. But it would increase the barrier for new users who want to take on a large piece of work on the get go. When Gitcoin does have a scaling problem, I would hope that there would be a lar

[2017-12-17 21:10] wingleung commented on #128
Where can I find the partially implemented `sync_get` command?

[2017-12-18 03:03] owocki opened #132 "Feedback from a user: ability to manage keyword prerferences."
Presently, user can set preference for emails via "manage email settings" link from the emails.
This links will take you to `https://gitcoin.co/email/settings/<token>`.
where tokens are auto-ganerated.

Proposal :
Provide a functionality so user can login to the `gitcoin` using their github credentials and access that section.

[2017-12-18 05:18] owocki commented on #128
@wingleung https://github.com/gitcoinco/web/blob/master/app/dashboard/management/commands/sync_geth.py

[2017-12-18 05:30] owocki commented on #130
to be clear, the Gitcoin team is only involved when the Gitcoin team (presently, just me) is the submitter of the bounty.

this seems very similar to me to the Status Open Bounty mechanism, wherein the submitter of the bounty chooses the claim to pay out.

one thing i dislike about this mechanism is that it requires [spec work](https://www.nospec.com/) on behalf of the coder.  i believe the networ

[2017-12-18 05:34] owocki commented on #130
discussion on the spec work stuff => https://github.com/gitcoinco/gitcoinco/issues/9

[2017-12-18 06:02] ian-cawood commented on #43
Hi @owocki and @TimVanMourik. I've been looking through the notifications api and there doesn't seem to be a create notification. I'll look through it in more detail and see if I can find another solution.

[2017-12-18 06:04] owocki commented on #43
great.. im happy to get creative here.  maybe we can tag a github user on a github issue instead?

the problem is then providing them a link which allows them to claim the bounty.  perhaps when @mbeacom 's work to integrate github /oauth into the system is done, we can have them present the 'secret link' once they ahve authenticated with github.

[2017-12-18 07:20] owocki opened #133 "Design: Gitcoin Toolbox"
right now the featureset of gitcoin is competitive with other bounty projects…

but in the future, gitcoin could maybe be a toolbox… a one stop shop that sells rocket fuel for open source software repos.

I would like one of the designers in the community to come up with a design for a module tentatively entitled 'toolbox'.

Summary:  Tips and bounties are only the first couple products that are t

[2017-12-18 08:09] thelostone-mc commented on #133
Still a little unclear on what qualifies as a tool ! Could you elaborate a bit ?

Also are you saying Different roles -> different tools ? Would all the tools be readily available to every user ?

why would we  want to provide an option to activate / deactivate tools like tips. A lil confused here

[2017-12-18 09:26] ian-cawood commented on #43
We can assign someone to an issue with [the github api](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue). Will you please explain what you would like to happen after that. As far as I understand this is what should happen when a user has claimed a bounty? So for instance after I claimed this bounty successfully it should be clear that the issue is mine regardless of ema

[2017-12-18 09:47] thelostone-mc commented on #43
@ian-cawood  What if it's just a general tip ? A few days ago, I got a tip for helping out generally (It is a corner case, can be ignored)

So tell me if I get this right ?
1. Notify via issue or user
2. redirected to gitcoin where they get secret link after authenticated
3. Let the claim. (nothing new here )

Is that the flow ?

Thoughts on having a `rewards` tab on gitcoin and shoot out a notifi

[2017-12-18 10:28] algae12 commented on #133
_Yay!_ Some design work on the repo 😄
I'd be happy to work on this issue and will be able to provide mockups by this Wednesday.

[2017-12-18 12:17] algae12 opened #135 "Epic CSS Cleanup"
The CSS of gitcoin.co is messy and a hassle to edit.
Here are a few changes we can to implement in order to make it more maintainable. 🔧

These proposed changes are epic in their scale and should take a good while to write up. But after these are implemented, style revisions on the site should be both clear to understand and a breeze to implement.

## Clear and modular stylesheet hierarchy 📦
I sug

[2017-12-18 12:36] thelostone-mc commented on #135
I'm all in for this ! This is something which has been in a lot of folks mind.
IMO we should use scss / sass if we are gonna make this move.  Makes code easier to maintain.

Moving away from bootstrap for the interface is a good move but we'll have to find an alternative to a equivalent grid system. ( I wanna say we should use the built in grid system, but I'm not too sure about browser support )

[2017-12-18 12:47] ian-cawood commented on #43
If it's just a general tip my idea does fall flat. I'm not too sure about the flow quite yet. But that sounds good as far as flow goes @owocki. A rewards tab would be nice to see a list of all bounties received. Thanks so much for the input @thelostone-mc.

[2017-12-18 12:53] thelostone-mc commented on #43
If you need a extra pair of hands to help. ! DM ^_^
( once we get everything clarified )

[2017-12-18 13:03] algae12 commented on #135
@thelostone-mc Wasn't sure if I should include moving to a CSS preprocessor as part of the cleanup, but if other people are for it, I'm for it as well :)

The built in CSS grid system did yet reach the level of browser support where I think it's safe to work with. I suggest we use [Skeleton](http://getskeleton.com/) as an alternative to bootstrap since it's tiny and very easy to extend from.

[2017-12-18 13:11] thelostone-mc commented on #135
Let's move to a css preprocessor. Might as well rewrite it at one shot rather can creating resp epics ! As the library grows, moving to a preprocessor = more hard work

Will check out skeleton ^_^

[2017-12-18 14:51] owocki commented on #133
@algae12 great!

We'll be launching more tools (for example, an hourly compensation tool) as the project evolves.  This page will serve as an index of all of those tools.  Sorry I can't be more specific (many of the tools aren't ready to be discussed publicly yet).

Yes, all tools will be readily available to every user.   I just think that the 'different roles' thing is an easy taxonomy to classi

[2017-12-18 15:10] algae12 commented on #133
@owocki All clear captain 👍

[2017-12-18 15:12] owocki commented on #135
while i'm excited directionally about cleaning up the CSS, i tend to prefer a more incremental approach to refactoring.

in my experience, setting off on a monumental refactor of the entire aesthetic portion of the site can be such a daunting thing, involving gumption traps like merge conflicts, regressions all over the place, no direct customer impact, and can lead to burnout.    let's not boil t

[2017-12-18 15:21] owocki commented on #43
This is a good idea!  Note that the gitcoinbot won't have permissions to do assignees on some github repos though.

Yep.  I think the problem we're trying to solve here (or at least my intent in writing this ticket)... is that a user needs to be able to receive the private key of their transaction in order to claim the tip.   Normally, this is done over email.   But with Github API, we sometimes c

[2017-12-18 15:45] owocki opened #136 "Tip Receive UX Flow Feedback"
It would be a little better if there was a step / button to confirm the details before the payment is released

[2017-12-18 15:50] sc0Vu commented on #128
@owocki Maybe it's better to run sync_geth as daemon on serverside?

[2017-12-18 16:18] thelostone-mc commented on #133
Alright that provides a certain amount of clarity ^_^

[2017-12-18 16:43] owocki opened #137 "design: ios gitcoin.co landing page"
# What

We will be launching the Gitcoin iOS app soon.

In order to facilitate this launch, I would like to design a very simple web interface to show off the app and all it can do.

The site should drive the user to the main CTA of the page, which is to download the app from the iTunes app store.

# About the iOS App

The Gitcoin iOS experience allows you to browse funded work in OSS from anywher

[2017-12-18 16:59] algae12 commented on #135
@owocki Agreed. I will try and break the CSS revamp into **much smaller** PRs in the future. Bit by bit we will turn gitcoin.co into a well maintained design marvel :clinking_glasses:

[2017-12-18 17:05] owocki commented on #135
😇 you're an angel!

i dont have enough design knowledge to know exactly what the roadmap is.. but i can help solve the incentivization problem by funding whatever roadmap you both come up with with some tips / bounties.  i want ppl to make things better (a) because it makes the community better and (b) because its profitable for everyone.    keep me in the loop!

[2017-12-18 17:06] thelostone-mc commented on #135
@algae12 looks like we've got some work to do ^_^

[2017-12-18 18:01] ernaneluis commented on #101
@owocki I believe still not working properly.
I've followed all the steps above even using the hard reload still got an error but this time different from the one you post it.

<img width="442" alt="screen shot 2017-12-18 at 18 59 03" src="https://user-images.githubusercontent.com/1398769/34120353-9f338988-e425-11e7-8721-6106e986ca1c.png">

[2017-12-18 18:13] ernaneluis commented on #101
I fixed by not using `gasPrice=10` but `gasPrice=2`. I made several attempts on the `gasPrice` until finding the number that works.

[2017-12-18 18:38] owocki opened #138 "handle edge case where gas prices change"
see

https://github.com/gitcoinco/gitcoinco/issues/10#issuecomment-352518902
https://github.com/gitcoinco/web/issues/101#issuecomment-352507359

we need to handle hte edge case when gas prices change

[2017-12-18 18:41] owocki opened #139 "Design: Mission, values, vision, how we interact"
The task here is to design a module on the landing page that shows our Mission, values, vision in a concise way.

Some examples from https://github.com/gitcoinco/web/pull/129

![34054530-ac926b84-e188-11e7-944d-cdd92be4d66e](https://user-images.githubusercontent.com/513929/34122060-6c2dba64-e3e8-11e7-9ba3-6ef3904febbb.png)

![34070801-51f8c346-e23a-11e7-831e-4fff7c7bf91b](https://user-images.githu

[2017-12-18 19:22] owocki commented on #125
there is some convo in channel about the typeface too http://bits.owocki.com/2d2E1M0J1904/Screen%20Shot%202017-12-18%20at%2012.22.46%20PM.png

[2017-12-18 21:10] owocki opened #141 "Allow users to view their tips / bounties on the web."
Blocked by github integration.

[2017-12-18 21:29] owocki commented on #128
sure.  im open to that... we could put it into `supervisorctl` but first we need to get it working

[2017-12-18 21:47] mbeacom opened #142 "Travis builds failing on cytoolz"
##### Description
Travis builds are currently failing from what appears to be a dependency version conflict with `cytoolz`.

##### Possible Implementation
It appears pinning the version of cytoolz to `0.8.2` should resolve the issue.

[2017-12-18 22:26] #142 closed

[2017-12-18 22:36] amites commented on #68
How's this effort going? Been working on similar tasks for other projects of recent and happy to contribute

[2017-12-18 22:49] speizerj commented on #68
@amites check out #70

we're just waiting on testing all the flows but i think it's very close

[2017-12-18 23:21] Elaniobro commented on #137
Are you looking for a design? Or the coding of said design?

[2017-12-18 23:49] owocki commented on #137
a design

[2017-12-18 23:49] owocki commented on #137
i will do a new bounty for coding of said design

[2017-12-19 00:28] monokh commented on #130
Ah sorry, I misunderstood how gitcoin works. I think the difference then is that on OpenBounty, the creator of the task/bug deals with accepting the issue as valid instead of who funds it.

I don't mean to endorse spec work, but rather to show the flexibility. Although, I would say that whether spec work is desirable or not doesn't have to be something Gitcoin endorses. Project maintainers and fun

[2017-12-19 01:54] mbeacom opened #144 "Environment variable based settings"
##### Description
It might be helpful for us to switch to environment variable based settings for the Django app.

##### Possible Implementation
Implement `django-environ` and switch from `local_settings.py` to using `environ`, default envvars, and a base env var file.

[2017-12-19 01:56] mbeacom opened #145 "Pin python package versions?"
##### Description
We might want to pin all of our python module versions to avoid explosions in Travis (or live/staging/local for that matter) like #142.

##### Possible Implementation
Pin existing packages in `requirements.txt`, `requirements-dev.txt`, and `requirements-dev.txt`.

[2017-12-19 04:29] ian-cawood commented on #43
@owocki  Thanks for the information. I'm guessing this is blocked until the github integration is done. Should I wait for that to be done?

[2017-12-19 04:59] mbeacom commented on #43
Just a note. I don't believe you'll be able to assign non-contributors/members of a repository to an issue.

[2017-12-19 09:48] algae12 commented on #137
@owocki I'm gonna try and take on another design issue upon myself, expecting the design to be ready by this Sunday.

[2017-12-19 13:33] algae12 commented on #133
## Toolbox Design V1.0
Here it is, I hope you like it 😁
Let me know about any design changes you might have in mind 🖊

![toolbox](https://user-images.githubusercontent.com/8436248/34158389-e5d94d20-e4cd-11e7-9567-5fd4f64bf03f.png)

## Notes
As you see, I switched to using the **Open Sans** typeface, as discussed on the slack channel.

What stands out more then the new font is the new surrounding d

[2017-12-19 15:47] owocki commented on #133
this is very cool.  thanks @algae12

[2017-12-19 15:47] owocki commented on #133
lets do 24 hours of feedback and see what ppl think

[2017-12-19 16:05] thelostone-mc commented on #133
@algae12  this is nice !! Big fans of the cards.
My two cents
- what if we were to center align the content + title within a card  (or shift toggle button to the right or left )
- have you used open sans for both heading and body ? ( I've often been advised to pair it up with Lora or Libre Baskerville and the end result is usually better thanks to the contrast )
- the toggle button looks a lot bit

[2017-12-19 16:39] owocki commented on #50
@jclancy93 im gonna pay this out.  c an you look over your claim info and make sure it's the right ETH address etc?  i know its been a few weeks, and it's a lot of $$$ so wanted to be  double super sure

[2017-12-19 16:44] owocki opened #148 "Bounty Detail page should show the txid of where the $$ went"
it would be nice if the screen confirms the recipient of the bounty.. and possible also the txid

[2017-12-19 17:21] abitrolly commented on #92
Yea. There are two proposals.
1. First, it would help to provide a link to profile instead of email on issue page https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13
2. I still would like to see issues funded from specific address

[2017-12-19 21:02] owocki opened #149 "repo maintainers control panel"
just got off a call with a well respected maintainer in the space.

open source is such a broad space to be playing in, there are many fiefdoms, islands of best practices and working norms, that gitcoin needs to support.

we will need to eventually provide a control panel that has configurable options allowing gitcoin to serve this broad community.

some things this control panel will need to mana

[2017-12-19 21:03] owocki commented on #149
cc @pipermerriam in case there are any granular options he'd like to see configured for working norms in his repositories

cc @beylin @mbeacom in case there are any other configuration options they'd like to see manageable

[2017-12-19 22:31] algae12 commented on #133
@owocki Sounds good to me.

@thelostone-mc Glad you like it 😄
Thanks for the feedback! I'll try and tackle some of the issues you have raised:

My reasons for the card alignment decisions on the card are simple:

- **The description** is text heavy and therefore should be left aligned for ease of reading (centered text is a pain to read).
- **The toggle button** should be the center piece of the c

[2017-12-19 23:56] owocki commented on #32
yes still looking to do it

@cmditch may have other ideas... but i think that quotes about open source software or freelancing would be cool.

i'm all for a pre-screened list of interesting quotes (maybe stored in django, or just in the code base is fine to start...).

[2017-12-20 00:34] owocki commented on #137
![jb268vm](https://user-images.githubusercontent.com/513929/34185498-e3784be8-e4e2-11e7-8e2f-86c64a38a706.gif)

[2017-12-20 03:07] mkosowsk opened #150 "In Issue Explorer, Double Quotes (") are Displayed instead of Correct Single Quotes (')"
##### Description
In https://gitcoin.co/explorer?q= we observe the following behavior:

<img width="1474" alt="explorer" src="https://user-images.githubusercontent.com/7970539/34189083-c4bd26ea-e507-11e7-9fe0-389da2e45200.png">

Observe the " character in DON"T as opposed to the expected behavior of ' as in DON'T

We also see this when drilling down into a particular issue:

<img width="1481" alt=

[2017-12-20 07:49] ian-cawood commented on #110
@owocki Can I take a look at this?

[2017-12-20 10:39] owocki commented on #110
be my guest :)

[2017-12-20 10:50] owocki opened #151 "typography cleanup after PR 116"
from https://github.com/gitcoinco/web/pull/116

# 1

https://gitcoin.co/tip

for consistency.. might be worth doing the same thing for the tips flow...

# 2

http://bits.owocki.com/3N2V1400343O/Screen%20Shot%202017-12-20%20at%203.49.00%20AM.png

one other small cleanup thing: we should probably have consistent capitalization on the bounty detail page

[2017-12-20 11:09] bumi commented on #151
## 1
The /tip application is `yge` in the code? (https://github.com/gitcoinco/web/tree/7680fc5425ae3524981b4ca912640d7af13c705c/app/dashboard/templates/yge) - correct? sorry, I am just figuring out what goes where :)
there was a global style, I will update that and make a PR.

## 2
what is inconsistent?  (I'm blind)

[2017-12-20 11:18] owocki commented on #151
1. yep.  its a fork of https://github.com/youvegoteth/youvegoteth.github.io/
2. status: activated is lower case vs Experience Level: Intermediate (among maybe other things too)

[2017-12-20 13:38] #125 closed

[2017-12-20 13:44] owocki opened #152 "Bot / Github integration Revamp MVP"
# What

The ability to post a bounty, claim a bounty, or approve a bounty, directly from github

# Scope

For each of the above actions, the user could enter into any github issue

`@gitcoinbot bounty 1.1 ETH`
`@gitcoinbot approve`
`@gitcoinbot claim`
`@gitcoinbot tip <username>`

and receive a link back to gitcoin.co, which when they click on it, they get with forms autofilled.  they can submit t

[2017-12-20 13:53] tra38 commented on #32
Cool! I'll start work on this project, and will see if I can incorporate any of @cmditch's suggestions.

[2017-12-20 16:49] owocki commented on #152
cc @kumavis @markbeylin @danfinlay let me know what you think of this :) going to bounty it today

[2017-12-20 17:35] Elaniobro commented on #152
Very cool. What did you build the Proof of Concept in? (language)

[2017-12-20 17:47] chunkzer commented on #152
That's pretty cool. I'll give this one a shot.

[2017-12-20 17:47] danfinlay commented on #152
Those look like a great inaugural set of commands!

One thought: Since having the bot tip on your behalf requires it holding a balance in your name, and some users might prefer to use their own wallet, for a more edge-secured metamask-style, what about a flow like this:

- User types `@gitcoinbot tip @owocki 0.1 ether`
- Bot hearts the comment
- Bot replies `To complete the tip, please visit this

[2017-12-20 18:44] owocki opened #153 "explore the idea of a gas faucet"
per @jasonrhaas

more ideas here:

https://twitter.com/owocki/status/943465549740179456

[2017-12-20 18:46] owocki opened #154 "browser notifications for tips/boutnies"
from slack https://gitcoincommunity.slack.com/archives/C7A4F4UHK/p1513794930000156

Hello All. I have a suggestion related to the notifications when a bounty is added. We can send browser notifications alongside email notifications for new bounties to the Users who have subscribed. Let me know your thoughts around this. Thanks.

[2017-12-20 18:46] owocki commented on #43
another idea: https://github.com/gitcoinco/web/issues/154

[2017-12-20 21:14] owocki commented on #153
https://github.com/gitcoinco/skunkworks/issues/10

[2017-12-20 21:39] tra38 commented on #43
Message I sent to @owocki (and @owocki asked me to propose this to this thread for comments).

[2017-12-21 00:10] owocki commented on #152
Just Python -- Github has a nice requestful API too

Strongly agree with this.  For legal reasons, gitcoin will not hold any funds on behalf of a user

[2017-12-21 00:51] ethikz commented on #135
This is something that I thought would actually happen as we go with the implementation of guidelines and such.

Also I agree with @owocki

[2017-12-21 01:03] owocki opened #157 "Csv export management command to spit out activity report"
# Requirements

i would like to create a management command that emails a CSV file to `settings. CONTACT_EMAIL` ..

the email subject should be `Gitcoin Activity report from YYYY/MM/DD to YYYY/MM/DD`

This management command should take a `start_date` and a `end_date` in `YYYY/MM/DD` format.

# CSV Spec

This CSV file should have the following columns

- Type (tip or bounty)
- Created Datetime
- L

[2017-12-21 02:01] owocki commented on #43
@ian-cawood still interested in this issue? i see youre the claimee at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/43

[2017-12-21 03:34] sc0Vu commented on #157
It's cool, and I got few questions about this:
Does this command run by bounty users or serve admin?
Should we need to use date time picker?

[2017-12-21 03:50] thelostone-mc commented on #133
- the all centered card still looks better to me but let's see what the others say
- I think I like your original idea that best ^_^ sans for both! Baskerville doesn't look great here.

Looks awesome ^_^
Ki

[2017-12-21 04:46] owocki commented on #157
its a management command, not a website.. its run by server admin

[2017-12-21 07:57] ian-cawood commented on #43
Yeah I'm still interested. If you'd like someone else with more experience with the code base to tackle it I would understand.

[2017-12-21 13:29] romanjesus commented on #152
Hey @owocki, I just claimed this issue via gitcoin.co there is no repository for this project so I should make one from scratch, correct?

[2017-12-21 15:06] bumi commented on #151
ok, thanks. will check it out during the weekend.

[2017-12-21 18:31] eswarasai commented on #139
Issue Claimed!

[2017-12-21 21:51] owocki commented on #21
feedback above on higher priced / higher risk tasks

[2017-12-21 22:07] etheria-io opened #159 "Tx out-of-gas causes infinite refresh loop"
please close, wrong gh acct

[2017-12-21 22:12] #159 closed

[2017-12-21 22:13] ghost opened #160 "Running Tx out of gas will cause the bounty to infinitely refresh and never claim"
##### Description
Attempting to claim a Gitcoin bounty in which the transaction gas limit is truncated will use up the Tx gas, fail to claim the bounty, and then cause an infinite refresh loop in the browser in which there is no obvious error to the user as to what happened. There is no way to claim the bounty thereafter. Visiting the attempted claimed bounty will just cause the same refresh issue

[2017-12-21 22:26] owocki commented on #160
thanks for the bug report!

hmm.. this line should catch the error.  wonder why its not working https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/pages/bounty_details.js#L219-L227

[2017-12-21 22:47] 10a7 commented on #160
`result[0]` is an object, not a number.

![Screenshot of Firefox debugger](https://i.imgur.com/HOcFnJZ.png)

[2017-12-22 00:33] owocki commented on #139
@eswarasai looking fwd to seeing what u come up with

[2017-12-22 00:36] owocki commented on #152
i had envisioned making this just another management command in the web repo..

but i guess theres no reason to go the monolith route..  sure, go ahead and make a new repo

[2017-12-22 00:42] owocki commented on #43
i dont particularly mind if you dont have exp with the codebase... i'd just ask that if you don't plan on building soon, then you release it so that someone else can take it.

[2017-12-22 01:11] mbeacom commented on #43
I will note... with the addition of GH integration, I am pulling the primary email (whether the user sets their email as private or not) and using that as the notification email address.  Also, for tips, all valid emails are snagged from their `/user/emails` and attached to the tip for notification.  Previously, this was happening via the GH events email lookup, but as long as the user auths with

[2017-12-22 02:53] tra38 commented on #21
What I think could work is a two-tiered system:
1) Short-term gigs, like what we currently have
2) Developer sponsorships, like [this proposal for Bountysource](https://github.com/bountysource/core/issues/1151)...for longer-term projects like etherum/web3.py. Instead of paying per gig, you're paying per month.

There are benefits for supporting both tiers. Sometimes, you may just have a minor issu

[2017-12-22 04:58] bharaththiruveedula commented on #150
@mkosowsk can I work on this issue?

[2017-12-22 18:03] #150 closed

[2017-12-22 18:48] owocki commented on #160
@10a7 happy to lend u some gas.  msg me on slack with a link to me saying this and also ur ETH address

[2017-12-22 20:40] mbeacom opened #163 "Travis builds failing - ethereum dependency changes"
##### Description
The python ethereum dependencies have changed again and broken the travis builds...

##### Possible Implementation
Pin `cytoolz` to `0.9.0`.  Longterm, we should consider switching to pipenv or something similar to avoid breaking builds against travis OR merge #146 to pin all versions, so we can manually upgrade them as necessary (or implement an upgrade bot).

[2017-12-22 20:47] #163 closed

[2017-12-23 00:33] owocki opened #165 "show conv rate rate at time of posting"
# What

In github notifications Instead of
[code]
we should say something like
[code]

# Requirements

* support eth/usd
* support any other ratio that has a conversion rate in the backend

# Places to update:

- tip / github marketing
- bounty / github marketing
- bounty / slack marketing
- bounty / twitter marketing
- bounty/email marketing
- bounty details page

[2017-12-23 07:49] stellarmagnet commented on #154
I would add some requirement to this, to allow the user to limit notifications to only the repos that they have starred via github, or only one notification per day? This would be very important as gitcoin becomes more active.

[2017-12-23 08:25] stellarmagnet commented on #153
with the ux enhancement of "expressing interest" for an issue, can't you make that off-chain interaction? then the bounty issuer will select the best person to begin the bounty from the list of people who have expressed interest. This way msg.sender is the issuer, hence you assume the bounty issuer will have gas, right?

what i'm trying to say is: does the claimant have to be msg.sender, or can yo

[2017-12-23 15:16] owocki commented on #133
@algae12 paying this out now.  thanks!

[2017-12-23 15:18] owocki opened #168 "Code HTML: Toolbox Page"
# Requirements

* Take the design from https://github.com/gitcoinco/web/issues/133 and code it into the html.
* Coded design must work at desktop, mobile, tablet dimensions.
* javascript must turn buttons on/off
* subscribe module must work ( see mailchimp.html for current working exampleE)

[2017-12-23 15:19] owocki commented on #168
@algae12 did i miss anything?

[2017-12-23 15:36] thelostone-mc commented on #168
Calling dibs ^_^

[2017-12-23 15:39] algae12 commented on #168
@owocki Looks good to me 😄

[2017-12-23 15:53] algae12 commented on #133
@owocki Thanks 👍
Always happy to work with you :)

[2017-12-23 15:56] algae12 commented on #168
To whoever is going to take it upon themselves to code this section, feel free to PM me anytime (on GitHub or Slack) about related design decisions, interactivity or just general life wisdom.

[2017-12-23 16:01] thelostone-mc opened #169 "claim: gas limit is set over limit"
##### Description

While claiming an issue, gitcoin sets the gas limit to value higher than the upper limit.
![limit](https://user-images.githubusercontent.com/5358146/34320824-bd005664-e7b6-11e7-94c3-ff93fc3af0e9.gif)

##### Environment

* **Browser**: firefox and chrome

[2017-12-24 09:59] gasolin opened #170 "add `/addon/` as firefox addon redirection"
##### Description
add `/addon/` and `/firefox` url to redirect to firefox addon download page `https://addons.mozilla.org/en-US/firefox/addon/gitcoin/`, andd add `/chrome` as alias of `/extension/`

##### Possible Implementation
update url.py & retail/views.py to add the redirection

[2017-12-24 15:15] owocki commented on #152
heres my old code

https://gist.github.com/owocki/26d4cb0ab7db5b3a5e340220bdb4c12f

this site is where you get an API key for github https://developer.github.com/v3/

here is where most of the github api centric code lives https://github.com/gitcoinco/web/blob/master/app/app/github.py

[2017-12-26 01:00] step21 commented on #130
@monokh how does staking eth not increase barrier to entry?

Like @owocki said, they are much more involved in case they create a bounty.
Also, instead of adding an oracle, maybe it could just be so that the bounty creator clicks 'pay out' (which I think is how it works now?) and then possibly, if there are disputes and that is within scope for gitcoin, someone else can 'arbitrate'.?

Re work/valu

[2017-12-26 06:10] ian-cawood commented on #43
@mbeacom thanks for the input I'm looking through the stuff you suggested now. @owocki  I'm still keen to do it. Looking at it in depth tomorrow and will probably have some questions that I'll ask on slack.

[2017-12-26 10:20] monokh commented on #130
@step21 The reason I say staking won't increase the barrier to entry is that anyone using gitcoin, already needs to own ether to claim an issue and at that point, 5% of the bounty amount (which for smaller issues would be under 0.01 ETH) is not going to make a difference for someone that honestly intends to work on it. The % of staked ether could be adjusted as needed. Either way, I think this, or

[2017-12-26 17:27] owocki commented on #168
hey @thelostone-mc -- thanks for throwing some code at this.. but @eswarasai is the one who claimed the issue.. (see the message right above your message "calling dibs")

[2017-12-26 18:03] thelostone-mc commented on #168
Ah I had tried claiming it but couldn't cause of https://github.com/gitcoinco/web/issues/169
(I'd pinged you offline about this over the weekend )

I had some free time, so figured while that issue would be resolved, I'd code it down parallelly

I'm guessing @eswarasai went ahead and managed to claim it after that as the issue wasn't claimed during that whole confusion.

I goofed up, should have c

[2017-12-26 21:19] algae12 commented on #137
Okay, here it is, hope you like :)
## Design:
![gitcoin mobile v1](https://user-images.githubusercontent.com/8436248/34364755-910c2c58-ea91-11e7-89bd-2100e56496c6.png)

## Assets:
![play button](https://user-images.githubusercontent.com/8436248/34364783-d6d6ecf0-ea91-11e7-9ad7-39c68a9ed55d.png)
![get it color](https://user-images.githubusercontent.com/8436248/34364787-e1901702-ea91-11e7-8fec-a68fc

[2017-12-26 21:31] thelostone-mc commented on #137
@algae12 the green to purple transition. It's wow !!
Would you happen to have the color transition schemes ?

Also when you drew up the design for this , did you intentionally change the navbar ?
It's different from https://github.com/gitcoinco/web/issues/133

[2017-12-26 23:32] owocki commented on #168
From @eswarasai on slack

Thanks you both for working together and being nice about it :)

I'm all for this.  Ill reject his claim and you can reclaim it now.

[2017-12-26 23:33] owocki commented on #168
just rejected the claim.  looking at the root cause issue now

[2017-12-26 23:35] owocki commented on #169
invesitgation notes:

https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/168 was the issue being claimed

gas value set was 10399964

[2017-12-26 23:36] owocki commented on #169
interestingly, when i try to claim the issue the gas value that pops up for me is `171462`, which is roughly 1% of the gas value you were recommended @thelostone-mc

[2017-12-27 00:11] thelostone-mc commented on #168
@owocki claimed!
@eswarasai thanks a ton! 😄

[2017-12-27 00:13] owocki opened #173 "Design: Faucet page"
Very often, I get people who want to claim an issue on Gitcoin but can't because they don't have ETH.  Either there are no exchanges in their area, or they dont have the mone yto spend on gas.

Pursuant to making ethereum and Gitcoin accessible to everyone as broadly as possible, I would like to design a page entitled 'faucet' in which a user can go to the page and submit an application to receive

[2017-12-27 00:26] thelostone-mc commented on #169
@owocki Just an hypothesis

What if there was a race condition situation where @eswarasai claimed it a few seconds before I claimed it before his was accepted.
I left the `calling dibs ^_^` message a few seconds after I tried claiming and it failed due to the hight gas value being set.

If you notice, both relatively happened around the same time:

- gitcoin bot posted a msg @ `7:34AM`
- my commen

[2017-12-27 00:30] owocki commented on #169
woah, this is a really interesting thought..  youre right, they are close enough in time to possibly generate this type of condition.  i need to test this and handle the edge case if possible

[2017-12-27 00:44] owocki commented on #137
I think this is a different issue, right?

In general, I think the navbar should usually stay consistent across the site... I know the current one is not perfect though!

[2017-12-27 00:44] owocki commented on #137
I really <3 the design.  Can't wait to see what others think!

[2017-12-27 00:49] owocki commented on #137
one thing thats missing from this design is a footer.. mihgt be worth it just to take the current footer and make it a little cleaner (black on white instead of white on dark).

[2017-12-27 00:49] owocki opened #174 "Code iOS landing page"
# requirements

take this design: https://github.com/gitcoinco/web/issues/137#issuecomment-354014268 and code it into a landing page that lives on `gitcoin.co/ios`.

fine grain detail requirements:
* must be responsive -- work in mobile, tablet, desktop views
* link links in nav / footer

# assets

assets: posted on above link ^%
video: https://youtu.be/F9e_0xF620w
app store link: https://gitcoin.

[2017-12-27 01:05] Elaniobro commented on #174
Giddy up! Ready to work on this. Please let me know if there are any additional requirements not listed in #174 `init()` comment

[2017-12-27 01:06] owocki commented on #174
no requirements as of now.  we may want to make sure the design is finalized before laying a ton of CSS down. @algae12

[2017-12-27 01:07] thelostone-mc commented on #174
Haha I was waiting to see when @Elaniobro would finally be able to claim an issue ^_^
Finally  \m/

[2017-12-27 01:10] owocki commented on #130
just added a few more comments to the issue spec to capture what i've observed last couple days

[2017-12-27 01:11] thelostone-mc commented on #137
well I just wanted to make sure whoever claimed this, didn't put in effort to make this navbar and
finally go back to the original one. So if we have a specific design in mind, it ca updated throughout the site

Agreed 👍

[2017-12-27 01:16] Elaniobro commented on #174
@owocki sounds good to me, I'll wait for both you and @algae12 to confirm the design via comment here.

I would like to know the following:

- Hex values for colors used in design, don't want to rely on a color picker
- Breakpoints
- Mobile Requirement support (Is there a browser/device matrix?)
- .... (possibly more questions to come)

Thanks!

[2017-12-27 01:16] owocki opened #175 "small module design: waiting room quote"
scope of this task is to submit a nice, on-brand design for the waiting room quote on gitcoin.co (see this comment: https://github.com/gitcoinco/web/pull/158#issuecomment-353760228 )

[2017-12-27 01:22] owocki commented on #43
i like this path.  although its still a little broken if we can't even notify the user (maybe this is solved by your comment `lso, for tips, all valid emails are snagged from their /user/emails and attached to the tip for notification.` above?)

hows the distribution of OneSignal?  i.e. if we send a notification to it what are the odds of it getting to a user?

[2017-12-27 01:24] thelostone-mc commented on #174
@Elaniobro You could use the [bootstrap breakpoint](https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints) as a reference. They seem to have gotten the dimensions right

[2017-12-27 01:29] Elaniobro commented on #174
Will do.

Is there currently a framework in place? `Bootstrap` like you mentioned, and or one for the css? `less` || `sass`?

[2017-12-27 01:32] thelostone-mc commented on #174
@Elaniobro yet to add `sass` | `less` support , will do it post merge of https://github.com/gitcoinco/web/issues/65 . Without it, maintaining css is getting messier.

[2017-12-27 01:37] owocki commented on #65
once the holidays are over, we should bump this back and close it down!

[2017-12-27 02:06] owocki commented on #153
https://github.com/gitcoinco/web/issues/173

[2017-12-27 02:07] owocki commented on #153
this is a good idea.

i like this idea.. once we move over to https://github.com/ConsenSys/StandardBounties/ this will definitely be possible

[2017-12-27 02:12] mauri2015 commented on #173
Are you looking for someone to design the form as well as develop the functionality?

[2017-12-27 02:51] Elaniobro commented on #174
Hmm... should we wait for #65 to be merged then? Not only would it make it _easier_ to code, it will also save the step of having to retrofit it to fit into the new paradigm.

Also, I plan to use [BEM methodology](https://en.bem.info/methodology/), objections?

[2017-12-27 04:13] mbeacom commented on #43
@owocki The notifications are similar to what you've seen elsewhere for browsers.  It would require the user to opt-in to the browser based notifications in order to receive them.
However, `OneSignal` could be used for the mobile application push notifications as well and allow us to keep it in one place.

As far as the emails, at least for tips, all valid email addresses found registered to the u

[2017-12-27 09:39] #170 closed

[2017-12-27 13:05] thelostone-mc commented on #174
@Elaniobro `BEM` looks neat. 👍 from my side
and the commit just got merged, feel free to add the pre-processor to the webpack config to add scss pre-processor. It might take me a day or two to get to it

[2017-12-27 14:50] owocki commented on #130
another good comment via the slack channel:

[2017-12-27 14:59] owocki commented on #175
style guide https://www.dropbox.com/s/93wxuoeysaamsch/Gitcoin_Brand.pdf?dl=0

[2017-12-27 14:59] owocki commented on #173
style guide https://www.dropbox.com/s/93wxuoeysaamsch/Gitcoin_Brand.pdf?dl=0

[2017-12-27 14:59] owocki commented on #173
just design for now @mauri2015 .. will bounty the fucntionality later

[2017-12-27 15:58] owocki commented on #174
this is merged now. https://github.com/gitcoinco/web/pull/147

does that unblock you?

[2017-12-27 16:07] Elaniobro commented on #174
@owocki, yes it does. I'll work on this in the coming day(s).
@thelostone-mc, I would say `webpack` alone should suffice. I don't see the need to put it in both `gulp` & `webpack`, unless you are deprecating `gulp` and want to place it in both as some fallback?

[2017-12-27 16:11] PixelantDesign commented on #137
I may not have all of the context for this landing page...

Looks nice and clean! I do agree with comments above around navigation structure being new. Stylistically the iconography and type also seem to be an evolution from the brand.

The current design tells me **how to** but might be missing on **what it is**...all of this depends on what we think the use case is for a user that is coming to d

[2017-12-27 16:34] PixelantDesign commented on #139
Hi All! I believe I claimed this? If not, sorry for the confusion!

Here are a few revised designs of the val prop page. My preference is probably #1 or #2 since I think the mission is the star and there is hierarchy between the information.

V1
![gitcoin_valprop](https://user-images.githubusercontent.com/238235/34286691-3e458986-e6b0-11e7-821f-15773a763511.png)

V2
![gitcoin_valprop2](https://use

[2017-12-27 16:53] PixelantDesign commented on #173
Claimed!

[2017-12-27 16:59] owocki commented on #139
#1 seems like the direction i'd want to go.

i think we may want to code this into it's own page, instead of the landing page...

[2017-12-27 17:17] thelostone-mc commented on #139
@owocki This probably deserves it's own page! 👍
Any reason why we have a lot of green here ? It makes it stand our from the rest of the design which has white background !

[2017-12-27 17:28] monokh commented on #169
To do the gas estimation, Metamask does a dry run of the contract method. I've seen that when the contract method causes an error, the gas estimation will be broken like this. Maybe this is intentional - so that you don't submit a transaction that would fail anyway. My guess is that in this case, the issue was already claimed and sending another transaction with the same parameters would error in

[2017-12-27 17:37] owocki commented on #169
5e55d46c165db1685e0fc985d3fabab91e6d1e88

perhaps this will help?!

[2017-12-27 18:09] thelostone-mc commented on #169
@monokh makes sense
@owocki That oughta work! Closing this issue !!

[2017-12-27 18:09] #169 closed

[2017-12-27 18:09] algae12 commented on #137
@thelostone-mc Really glad you dig that gradient as much as I do 😄
Here's the transition scheme:
`linear-gradient(-228deg, #8E2ABE 0%, #37EA9C 100%)`

Regarding the nav bar - It is intentional. I wanted to make the mobile landing page stand out a bit from the other sections of the site, so I changed the **styling** (not structure) of the navbar to fit in with the page style. It's still the same na

[2017-12-27 18:12] thelostone-mc commented on #137
@algae12 Ah makes sense ^_^
@Elaniobro you would probably need [this](https://github.com/gitcoinco/web/issues/137#issuecomment-354152821) to finish up the styling :D

[2017-12-27 18:12] thelostone-mc commented on #174
@Elaniobro webpack it is ^_^

[2017-12-27 18:12] owocki opened #176 "find a workaround for slow metamask/infura issues upstream"
https://twitter.com/metamask_io/status/951630806941749254

this happens on gitcoin all the time... (or.. all the time when infura is down it does)

we should find a workaround in which we just hardcode in the gas values... or we use our own geth node to run the estimategas

[2017-12-27 18:13] algae12 commented on #137
@owocki I'm glad you like it!
Updated the design a tiny bit and added a footer.
Also, forgot to include the **sketch files** before I went off to bed yesterday, added them to the comment as well 😃

[2017-12-27 18:20] algae12 commented on #137
@PixelantDesign The requirements state it should be -

And that does make sense if you take into the account the fact the user will enter this page already equipped with the knowledge of what Gitcoin is (he read that in the **main landing page**). What he doesn't yet know is how to use the mobile app Gitcoin provides, and that app is **really simple,** so much that we were able to sum it up in 3 e

[2017-12-27 18:22] PixelantDesign commented on #139
Agree @owocki and @thelostone-mc. The original mockup @owocki posted was mocked up on the homepage, I wasn't sure if there was intention to replace that content.

Revised below.
![gitcoin](https://user-images.githubusercontent.com/238235/34389650-e3ae6da0-eb08-11e7-9e1b-1373ce6d7a7b.png)

Where will "Read About Our Mission" take a user?

[2017-12-27 21:51] owocki commented on #139
link can go here, for now https://medium.com/gitcoin/pushing-open-source-forward-for-the-web3-generation-26a5726902ea

[2017-12-27 21:51] owocki commented on #139
the thinking has evolved over time and now this is gonna be it's own page!

[2017-12-27 21:52] owocki commented on #139
paying out the bounty now.  i think we can call this done.

[2017-12-27 21:52] #139 closed

[2017-12-27 21:56] owocki opened #177 "code: `/mission` page"
# Requirements

* new page, at `/mission`
* link this new page in the footer
* code the page to look like the design (linked below in ref section)
* mobile, tablet, and desktop views must all look good.
* 'read about our mission' should link to https://medium.com/gitcoin/pushing-open-source-forward-for-the-web3-generation-26a5726902ea

# Bounty

Please only claim this bounty if you can turnaround

[2017-12-27 22:00] owocki commented on #174
closing the design issue now.  i think we can call it 'final'

[2017-12-27 22:01] owocki commented on #137
closing this now. i think we can treat the design or close-to-final for MVP. https://github.com/gitcoinco/web/issues/174 @Elaniobro its all you!

[2017-12-27 22:01] #137 closed

[2017-12-27 22:10] owocki commented on #157
@mbeacom do you still want this one?  no pressure eitehr way, but it might be worth releasing it back into the wild for someone else to tackle (cc @sc0Vu ) if its not on ur frontburner

[2017-12-27 22:12] owocki commented on #75
same comment here.. we should release this so someone else can take it if its not gonna happen soon.

edit: is this related to the broader github / profile refactor?

[2017-12-27 22:16] owocki commented on #43
@ian-cawood @mbeacom @tra38 @TimVanMourik @thelostone-mc  after thinking through this, i think i'd opt for the browser notification angle.

this, in addition to the @gitcoinbot commenting on the threads that have been bountied, and https://github.com/gitcoinco/web/issues/75, i think solves many of the notification issues for us.

i move that we close down this bounty, and remit a new ticket (with

[2017-12-27 22:21] #37 closed

[2017-12-27 22:26] TimVanMourik commented on #43
Haven’t followed the latest details of the thread, but sounds good!

[2017-12-27 22:48] mbeacom commented on #75
@owocki The changes in the GH integration PR should address this issue.  The requested changes to that PR will be in shortly.

[2017-12-27 22:50] mbeacom commented on #157
@owocki I can release it back. I have a base that I started on for this in a stash that I can provide as well.

[2017-12-27 22:51] owocki commented on #157
cool!

[2017-12-27 22:56] owocki opened #178 "mission / values page v2"
https://github.com/gitcoinco/web/issues/139#issuecomment-354139391

some good feedback, for next time or v2

[2017-12-27 22:57] owocki commented on #178
cc @pixelantdesign on this

 in hindsight, i may have overly constrained the project by presenting it as 'hey, i have all these crazy illustrations.. lets make them into something'.  next time when we design something together ill just list what i want to accomplish and let great designers like yourself and @algae12 come up with the design.

[2017-12-27 22:59] owocki opened #179 "bug: need auto refresh on gitcoin submission pending page"
# repro steps

1. submit a change (claim, new bounty) to the blockchain.
2. wait on issue page
3. transaction will confirm, but page will not auto refresh.

screenshot: http://bits.owocki.com/3g01182g000Q/Screen%20Shot%202017-12-27%20at%203.58.18%20PM.png

google chrome, latest version, on a mac

[2017-12-27 23:00] owocki commented on #178
cc @qnou, thanks for the above thoughts

[2017-12-28 05:27] PixelantDesign commented on #173
@owocki Please clarify...

How does a user get to the faucet page? Where do you imagine the button/link living?

A user can only submit for ETH through github oauth correct? It's not either github OR using the form fields listed?

So the experience would be:
Click Sign In with Github > Authorize Gitcoin > Confirm Github Password > See page with the form fields listed above? User completes the form

[2017-12-28 07:35] choochootrain commented on #157
@owocki i can take this on. @mbeacom could you share the stash you started? if not i'll start without it and PR what i have

[2017-12-28 09:38] choochootrain commented on #157
i went ahead and PR'd what i have :man_shrugging:
* some of the csv fields don't make sense or are ambiguous for tips - please advise on what you want here
* i don't have any test data to play with so if you could get me a fixture or a small amount of sample data i can do some more extensive testing

[2017-12-28 15:24] owocki commented on #173
For now, we won't link it anywhere.  it'll just be used to give to people who complain they can't use the system because they have no ETH on slack.  if it's successful and it's not abused, we could scale it up and link it somewhere!

yes.

Yes!

[2017-12-28 15:38] owocki opened #181 "design: waiting room quote while page is waiting for web3 updates"
Over at https://github.com/gitcoinco/web/pull/158 we are putting some code together to provide a quote to a user while they wait for their ethereum transaction to sync.

here is the design the developer has come up with:

<img width="1278" alt="34401982-68e965c8-eb64-11e7-8dbf-b9ffa1c49a5b" src="https://user-images.githubusercontent.com/513929/34415163-60bf129e-ebaa-11e7-9322-97d394e33b4b.png">

i

[2017-12-28 15:48] owocki commented on #157
@choochootrain -- just use your best judgement for now.  ill evolve later if needed

ok, sure.  does a postgres dump work?  mind DMing me on slack and ill hook up an export of the bounties/tips tables (minus any confidential info) for you

[2017-12-28 15:50] PixelantDesign commented on #173
@owocki Thank you! Here is a first pass...

ASSUMPTIONS:

* Use standard Github Oauth flow
* Use standard Github button to build trust.
* Gitcoin does not have a faucet illustration.

<img width="1133" alt="screen shot 2017-12-28 at 10 45 17 am" src="https://user-images.githubusercontent.com/238235/34415429-af48a864-ebbc-11e7-9d8b-4f5d5d28ece3.png">

[2017-12-28 15:50] owocki opened #182 "As a developer, i want fixture data so i can develop on real-looking data"
idea spurred per https://github.com/gitcoinco/web/issues/157#issuecomment-354308790

it'd be nice if there was a way to give community devs data that was 'prod-like'... but scrubbed of any PII info (emails, keys, etc).

# implementation ideas

* postgres backups - right now the backup command `backup.bash` takes a full prod backup nightly.  perhaps we could augment it to remove all PII and post a

[2017-12-28 15:50] owocki commented on #182
@mbeacom curious your thoughts on this

[2017-12-28 15:58] owocki commented on #173
Thanks.  I think it looks good.

Two points:
1. One thought is that step 2 and 3 will be hosted on github.com, not gitcoin.co... so we wont control the branding or host the form. (see comment below)
2. Can we have a success/info/error message in this design?  Maybe that's something that should be site-wide..

Here is what step 2/3 will look like for the user https://buildkiteassets.com/assets/docs

[2017-12-28 16:16] owocki commented on #177
@thelostone-mc i dont think we should put this on hold due to https://github.com/gitcoinco/web/issues/178.  #178 was just meant to be a note to remember to circle back for a v2.

[2017-12-28 16:18] PixelantDesign commented on #173
@owocki I looked at this example and thought it was something that could be done.
<img width="837" alt="screen shot 2017-12-28 at 12 07 04 am" src="https://user-images.githubusercontent.com/238235/34416268-b4f783e4-ebc0-11e7-9b68-7ba04dc695d0.png">

Sure! Will look at errors.

[2017-12-28 17:25] thelostone-mc commented on #177
Ah I'll give out a go later tonight! Not claiming it as I'm not certain if I can commit to it 1 day dealing but if progress is made, thou shall claim it

[2017-12-28 17:33] mbeacom commented on #182
@owocki Maybe we should consider using Django fixture data?
We can achieve this by building out initial data from a dump as described in the references below and redacting sensitive information.  We should only need a small sample for each model, but that should give developers using the local environment what they need.  Additionally, this will allow us to load the fixtures for future test cases.

[2017-12-28 18:19] PixelantDesign commented on #173
@owocki Revised below!

<img width="1135" alt="screen shot 2017-12-28 at 1 16 19 pm" src="https://user-images.githubusercontent.com/238235/34419390-9e169e1a-ebd1-11e7-9ac7-5f7cca68c068.png">

<img width="455" alt="screen shot 2017-12-28 at 1 17 39 pm" src="https://user-images.githubusercontent.com/238235/34419395-a996b054-ebd1-11e7-82de-9f8a314699b7.png">

[2017-12-28 18:19] usulix commented on #181
@owocki .. I mentioned this in the slack channel, but thought I would add here as well.. Looks like a great starter issue... I should have results in just a bit.
G

[2017-12-28 18:22] mauri2015 commented on #173
@PixelantDesign do you mind if I give you some feedback as well?

[2017-12-28 18:29] olafghanizadeh commented on #181
Is coding it a part of the issue too?

[2017-12-28 18:54] mauri2015 commented on #173
Error Screen: The red for the error message seems a little too bright to me, specially since the call to action button is bright pink.

Reques Received Screen: Maybe you can change the current icon to a checkmark or any other success icon. I feel like it can visually reinforce that the request has been received. You can probably add a success icon somewhere on the gas pump icon.

Looks great BTW!

[2017-12-28 19:04] PixelantDesign commented on #173
great feedback! Thanks @mauri2015!

[2017-12-28 19:17] thelostone-mc commented on #181
@olafghanizadeh This is a design issue. Once a design accepted -> there will an issue created to code it down ^_^

[2017-12-28 19:20] usulix commented on #181
@thelostone-mc,
oic.
I guess that explains why the quote is not showing in my branch. But, I am setup locally and have generated html to edit. Altering markup now.

[2017-12-28 19:46] PixelantDesign commented on #173
@owocki @mauri2015 Revised attached!

<img width="1122" alt="screen shot 2017-12-28 at 2 44 26 pm" src="https://user-images.githubusercontent.com/238235/34421535-dab3844e-ebdd-11e7-8ada-a8813e17df8a.png">

<img width="446" alt="screen shot 2017-12-28 at 2 44 18 pm" src="https://user-images.githubusercontent.com/238235/34421537-dec996e0-ebdd-11e7-9d91-d4952347f5df.png">

[2017-12-28 19:59] eswarasai commented on #139
@PixelantDesign -- Can you please share the PSD/Sketch file of the finalized version of Mission page mockup here? Thanks.

[2017-12-28 20:09] usulix commented on #181
While working on this, I discovered that it looks like the alert does not push the #bounty_detail down in mobile view, but instead displays over it.

![image](https://user-images.githubusercontent.com/4955172/34422071-633dc7ba-ebd0-11e7-9824-c197a73c115f.png)

Any guidance on what should be done for mobile view for displaying on the page ?

[2017-12-28 20:29] olafghanizadeh commented on #181
Hello guys. My first claimed issue.

Here is my first iteration on this:
[Imgur](https://i.imgur.com/n1sL5w2.png)

[2017-12-28 20:35] olafghanizadeh commented on #135
How about using Bootstrap + UnCSS? Bootstrap is big, and it has a lot overrides, but it also helps immensely with responsiveness across devices. There are other more lightweight frameworks though.

I think a build tool like webpack or gulp should be implemented as well to optimise assets on build.

[2017-12-28 20:41] PixelantDesign commented on #175
@owocki  Claimed!

[2017-12-28 20:43] olafghanizadeh opened #183 "Frontend optimisation"
GitCoin Frontend is in need of a cleanup and optimisation of frontend assets. Currently all images are in raster graphics, which does not scale well and is less performant than vector graphics (SVG). This depends a little on the complexity of the graphics, but most of the assets on the current website would be better in SVG. Currently 78% of the page size on the front page are images, it is actual

[2017-12-28 20:57] owocki commented on #173
i prefer the simpler of the two (the first one).  agree if we can update the buttons to be a consistent color that'd be preferable

[2017-12-28 21:02] owocki opened #184 "Code Faucet Page"
# Spec

Very often, I get people who want to claim an issue on Gitcoin but can't because they don't have ETH.  Either there are no exchanges in their area, or they dont have the mone yto spend on gas.

Pursuant to making ethereum and Gitcoin accessible to everyone as broadly as possible, I would like to design a page entitled 'faucet' in which a user can go to the page and submit an application to

[2017-12-28 21:05] owocki commented on #184
note: you may wish to rely on the github integration coded here https://github.com/gitcoinco/web/pull/156

[2017-12-28 21:07] owocki opened #185 "performance: get page size of landing page down"
<img width="1042" alt="screen_shot_2017-12-28_at_18 22 34" src="https://user-images.githubusercontent.com/513929/34423335-787f2c6a-ebd8-11e7-8ede-a11be398dc96.png">

[2017-12-28 21:19] olafghanizadeh commented on #185
Both #135 and my other issue #183 is related to this.

[2017-12-28 22:00] owocki commented on #182
thats a good idea.

[2017-12-28 22:01] owocki commented on #182
2a51f3215ed9e4bfca4872dfad9253b4baa659ff might hold us over for now

[2017-12-28 22:05] owocki commented on #181
@pixelantdesign or @algae12 curious what you think of this ^^

[2017-12-28 22:11] thelostone-mc commented on #181
@usulix I think this issue was claimed by @olafghanizadeh ! You guys probably need to sync up on who's getting this done !

[2017-12-28 22:35] owocki commented on #175
derp, i am disorganized and posted two bounties for this.  happy to pay both claimees, as it was me who accidently posted twice

https://github.com/gitcoinco/web/issues/181
https://github.com/gitcoinco/web/issues/175

[2017-12-28 22:35] owocki commented on #181
derp, i am disorganized and posted two bounties for this.  happy to pay both claimees, as it was me who accidently posted twice

https://github.com/gitcoinco/web/issues/181
https://github.com/gitcoinco/web/issues/175

[2017-12-28 22:36] owocki commented on #177
@thelostone-mc looks like @eswarasai claimed this

[2017-12-29 00:46] thelostone-mc commented on #177
Haha yeah ! deleted my comment after seeing that ^_^
 @eswarasai good luck 👍  ^_^

[2017-12-29 03:27] PixelantDesign commented on #173
@owocki Revised attached!

<img width="1119" alt="screen shot 2017-12-28 at 9 49 30 pm" src="https://user-images.githubusercontent.com/238235/34428783-1be32ce0-ec1e-11e7-8343-57af0b3ea357.png">

<img width="673" alt="screen shot 2017-12-28 at 10 22 28 pm" src="https://user-images.githubusercontent.com/238235/34428794-458befaa-ec1e-11e7-8ac8-1cdad7eac5c9.png">

[2017-12-29 07:50] eth-button opened #188 "Disabled localStorage breaks Issue Explorer"
When viewing Gitcoin in a browser with localstorage disabled (or, where `window.localStorage` is undefined) will cause the application to fail to load.

##### Description
If `localStorage` is not an object (or access is denied to items in localStorage), an uncaught exception is thrown on [line 21 of `v2/js/pages/dashboard.js`](https://github.com/gitcoinco/web/blob/master/app/assets/v2/js/pages/das

[2017-12-29 13:23] olafghanizadeh commented on #183
Suggestions to what should be done:

* Implement webpack (or other similar build tool)
 * install and compile bootstrap, animate.css and other CSS/JS dependencies with npm
*Optimise PNG/JPG/SVG assets in the build process (can be implemented with webpack)
*Utilize bootstrap variables and classes instead of overriding with custom css.

[2017-12-29 15:05] PixelantDesign commented on #175
@owocki No worries, we can work together on the other ticket.

[2017-12-29 15:16] PixelantDesign commented on #181
@olafghanizadeh

Good start! I like the treatment on the quote itself and use of the branded loader icon. I think there is an opportunity to make this a full screen experience since we want the user to stay on the page and remove distractions. I recommend:

- hiding/removing the left gray panel where the user can select Status filters (could be a distraction for someone to click around and leave t

[2017-12-29 15:22] owocki opened #190 "design: signal to tell user that unclaimed issues may already be in progress"
# requirements

add some kind of UI element to indicate that an unclaimed issue has comments on it that do not belong to the original poster / gitcoinbot

# why

bunches of items in gitcoin that are "unclaimed" but have active work on them, discouraging to have to spend so much time digging around

# bounty

design for signalling this information in the bounty explorer, and on the bounty details p

[2017-12-29 15:33] owocki opened #191 "link profile in nav somewhere"
https://gitcoin.co/profile/pixelantdesign

no one can find these profile pages anywhere!  they shoudl be linked somewhere

maybe once https://github.com/gitcoinco/web/pull/156 is merged..

[2017-12-29 15:35] owocki opened #192 "denote contributions to the community publicly with a creative asset"
i have a half-baked (at this point) idea… that eventually we can create scarce rewards for certain milestones… like being at the top of the leaderboard at end of month.. or fulilling your first issue.. etc

rewards == non-fungible token denoting your accomplishment, free schwag sent to you, etc.

tracking it here... in case anyone else has ideas

[2017-12-29 15:39] owocki opened #193 "interaction / distribution of funds between different levels of interest on an issue."
credit to @thelostone-mc for this idea:

# implementation

this is maybe something that could be built upon @mbeacom’s work at https://github.com/gitcoinco/web/pull/156

[2017-12-29 19:19] usulix commented on #181
@thelostone-mc
cc @owocki, @olafghanizadeh
I pseudo claimed the issue (on the comments and in the slack channel) but had no ether in my wallet to push the message from Gitcoin. I like @olafghanizadeh 's general layout and typography, but I do think the clip-path colored div balances a little better with shared/bounty_def.html -- the sign up cta which should show at the top of div id="bounty_detail

[2017-12-29 19:29] owocki commented on #181
this seems like a good path to me, but its ultimately up to @olafghanizadeh

@usulix im happy to send you some ETH so you can claim directly on the site next time (just DM me on slack).  meantime, if @olafghanizadeh do'esnt want to share the design bounty, i'm happy to bounty your coding of it.

[2017-12-29 19:32] usulix commented on #184
@owocki
- I have web setup on my local from working on #181
- I have the new route and page added - currently adding it to dashboard... but I could see how it might be better suited to retail... lmk, please, if you want it there instead
- I will add form fields per the new model
- I was planning to check that attached wallet balance is 0 (but maybe that should check for almost 0 instead ?)
- I wil

[2017-12-29 20:02] owocki commented on #184
yes pls

yes

you can use the default django admin view for the list..  copying some of the patteresn from `tdi/admin.py#WhitepaperAccessRequest` might be good too

[2017-12-29 20:23] usulix commented on #184
@owocki
sounds great. will do.
re: "I have the new route and page added - currently adding it to dashboard... but I could see how it might be better suited to retail... lmk, please, if you want it there instead"
I am finding myself in need of slightly different errors for

[code]
ie. for that error... "Thank you for your interest in receiving a faucet distribution, but you have more ether currentl

[2017-12-29 20:33] owocki commented on #184
yes that sounds right. you shouldnt need any of the `shared/` partials for this view

[2017-12-29 20:47] olafghanizadeh commented on #181
I'm happy to work with @usulix on this. It's okay for me him to claim the coding of the finalised design if he I get this part. :)

@usulix
You did a good job on implementing the code, but it is usually better to finalise the design before you start the code, as designing in an app is a lot quicker than rearranging code.
Secondly, I'm not sure if I agree with your assessment of the clip path desig

[2017-12-29 20:52] olafghanizadeh commented on #191
I think we should make a module at the bottom of each claimed issue that displays the claimers profile with emphasis on the gitcoin.co profile. Ideally we should route clicks through gitcoin.co before sending them to GitHub.

I can try to come up with a mock-up of what I'm thinking of

[2017-12-29 20:55] olafghanizadeh opened #194 "Create baseof.html-template"
I've been examining the codebase a bit and there seems to quite a bit of repetitive code in places. I suggest creating a baseof.html-template, similar to gohugo.io theming, if anyone is familiar with it:

Here is an example:
https://github.com/indigotree/atlas/blob/master/layouts/_default/baseof.html

[2017-12-29 21:07] usulix commented on #181
@olafghanizadeh . That sounds like a good plan. Feel welcomed to use any of my html/css for the description of the design or anything you want to use from it. I will be ready to code it up once final look and feel are approved. Bounty wise, this one is all yours. :-)
G

[2017-12-29 21:56] owocki commented on #191
could probably start with just linking this here to gitcoin instead of github http://bits.owocki.com/082w3I1G230i/Screen%20Shot%202017-12-29%20at%202.56.32%20PM.png

[2017-12-30 00:03] usulix commented on #184
@owocki - I see comments in the model... should that be an optional field on the form for users to put in something like "I am going to claim issue #184" ?... or is it for admin notes at some point ?

[2017-12-30 00:37] owocki commented on #184
It’s for the former

On Fri, Dec 29, 2017 at 5:03 PM usulix <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.face

[2017-12-30 04:40] PixelantDesign commented on #190
claimed

[2017-12-30 04:51] PixelantDesign commented on #181
It is a good suggestion to make it full-screen, but then I think I would alter the notification message placement a little.
Okay, what happens if the user leaves the page?

@olafghanizadeh
According to the current message, the information won't sync properly on the blockchain if users leave the page.

What if you tried expanding the blue notification area down to fill the page and putting the quot

[2017-12-30 07:41] PixelantDesign commented on #190
@owocki

![issues list](https://user-images.githubusercontent.com/238235/34452242-0d8f3e54-ed09-11e7-966d-d873b0f3b3bf.png)

![issue detail](https://user-images.githubusercontent.com/238235/34452289-d47ae4b4-ed09-11e7-96f2-88815044fe43.png)

![behavior](https://user-images.githubusercontent.com/238235/34452323-db876bbe-ed0a-11e7-88f8-957dc00d36e0.png)

[2017-12-30 08:01] PixelantDesign commented on #173
@owocki any other updates to this ticket?

[2017-12-30 11:44] olafghanizadeh commented on #181
Yeah, it is a good idea to make this loading screen into a fullscreen experience. Does the loading time depend on the amount of gas used?

The blue colour used in the mockup and my first example is not a part of the official palette, so it has to be changed.

[2017-12-30 20:48] amites commented on #190
@PixelantDesign

Your screenshots are for a different issue

https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/190

[2017-12-30 21:38] PixelantDesign commented on #190
@amites
I proposed adding a comment icon along with a count to denote the number of additional comments on the open tasks (since all tickets in that view are unclaimed).

This is what the requirements state:
Add some kind of UI element to indicate that an unclaimed issue has comments on it that do not belong to the original poster / gitcoinbot.

I'm open to your ideas though! Thanks!

[2017-12-30 22:57] KamesCG commented on #183
I am happy to contribute to this.

Unless @olafghanizadeh you want to setup the Webpack build process?

[2017-12-30 23:21] amites commented on #190
seems I wasn't looking to close

I like it

on the details page I'd put the icon closer to (or in?) the "view on github" button to show they're related

nice work 👍

[2017-12-30 23:23] thelostone-mc commented on #183
There is already an open PR with webpack integration, so you guys might wanna double check before starting

[2017-12-31 01:01] olafghanizadeh commented on #183
Yeah. I saw now. So might be worth waiting for that to be merged before taking on this. :)

[2017-12-31 18:28] owocki commented on #190
looks good!

i wonder how much this solves the original motivation though...

i suppose that one could assume that if there's a ton of comments already on the github PR, then the issue is likely either (1) already claimed implicitly or (2) there is a lot of questions about the spec

[2017-12-31 19:03] owocki opened #196 "Toolbox page: launch it"
https://github.com/gitcoinco/web/pull/172#issuecomment-354618148

1. Update the copy
2. Link the nav
3. Figure out what to do about the on/off switch

[2017-12-31 19:05] owocki commented on #191
4db158518ffed9068d401956b68a9adf27ae682e is a start

[2017-12-31 20:13] owocki commented on #168
@algae12 @thelostone-mc https://gitcoin.co/tools

thanks. im over the moon about this :)

[2017-12-31 20:17] owocki commented on #174
looking forward to having this page live so we can link it from gitcoin.co/toolbox instead of the silly google form we have there now !

[2017-12-31 20:52] owocki opened #197 "stale bounties filter"
put a radio button on the gitcoin.co/explorer sidebar that filters out any bounties that have had action on them in the last X days.  these bounties are *stale* in that whomever has claimed them is not doing active work

X = 5 for intiial MVP

[2017-12-31 20:52] #196 closed

[2017-12-31 20:53] owocki commented on #152
@romanjesus hows it going?

[2017-12-31 20:53] owocki commented on #153
https://github.com/gitcoinco/web/issues/173

[2017-12-31 20:54] #153 closed

[2017-12-31 20:54] owocki commented on #173
nope.  paying out now

[2017-12-31 20:54] #173 closed

[2017-12-31 20:56] owocki commented on #177
@eswarasai happy new year!  let me know when to expect a PR for this

[2017-12-31 21:11] eswarasai commented on #177
Hello @owocki, happy new year to you too :)
I'm currently working through the changes and will be able to commit them within 24 hours. Thanks.

[2018-01-01 01:59] owocki opened #198 "design- /pitch page - where people can pitch project ideas"
# Why

Because there's good ideas out there, and the community needs to know about them.

Because there's *bad* ideas out there, and the community needs to help the pitcher evolve them.

#  What

## First page

Page that lives at `ideas/new`.  Page has a web form
* Email
* Name
* Github username
* Summarize your idea (short text input)
* Tell us more (long markdown input)
* What are you looking fo

[2018-01-01 06:09] owocki opened #200 "once the ios app is launched, track the ios_app_users in stats"
[code]

 in `pull_stats.py`

[2018-01-01 12:49] olafghanizadeh commented on #181
Okay, @PixelantDesign. Here is a mockup with a fullscreen loading screen. I'm still kind of leaning towards the previous mockup, but let's work on this.

![gitcoinfullscreen](https://user-images.githubusercontent.com/25170177/34467741-574313c0-eee1-11e7-8c18-14f9124bdcd0.png)

Also, @owocki the time you have to wait for the update from web3.js depends on the gas spent?

[2018-01-01 12:54] olafghanizadeh commented on #198
How do you reckon that people should respond to pitches? Comment system?

[2018-01-01 16:57] EmanuelKuhn commented on #179
I didn't manage to reproduce this issue on the latest version of google chrome for mac on the ropsten test network.

Steps I took:
1. Submit a new bounty on the ropsten test network.
2. Wait on the issue page.
3. The page did auto refresh when the transaction confirmed.

Observation:
- The issue might only arise when not using the ropsten test network,
- or maybe it has already been fixed

[2018-01-01 18:05] PixelantDesign commented on #181
@olafghanizadeh looks good! What happens after this process is complete? Where are you thinking the user would be taken?

[2018-01-01 18:41] owocki commented on #181
Depends upon gas spent and current network conditions.

I like the design... Itd be cool to have a picture of the quote author (idk if that is possible @tra38 )...

and it'd be cool to have the ability to scroll to 'next' and previous quotes too.

[2018-01-01 18:49] owocki commented on #198
I had just envisioned an 'upvote' system... But I think comments could make sense too.

[2018-01-01 19:25] amites commented on #190
I don't this is a final solution to the core issue, but it's a huge step in that direction

the process to "claim" a bounty is good but still pretty high friction, suspect the final solution is gonna involve some kinda smart parsing of comments & looking for PR's which all seems beyond the scope of this improvement

part of the original idea was to have the counter skip entries left by gitcoin and

[2018-01-01 19:46] usulix commented on #181
Just my two cents... but if we do a full screen loader... which I think makes sense considering the use case... then I think it should just be a modal overlay which would close automatically once the response came back from w3... we might also need a timeout or way to close in case of the transaction never finalizing for some reason. In either case, it would just close and reveal the bounty_detail

[2018-01-01 23:02] usulix commented on #184
@owocki ,
Hi and Happy New Year.
I wanted to give you an update on this.
I have everything done except funding the request from the admin panel. I just realized that the contrib.admin uses much more of a request->page->request->page method than something that will allow easier interactions with w3.

I will need to take a look at the client side setup and add that to the template in admin. I have o

[2018-01-01 23:41] Elaniobro commented on #137
@algae12 is there a tablet/phone view of this design? Also, looking for a way to view the `.sketch` file(s) you uploaded to the issue above. Do you know of a good way to do so?

[2018-01-01 23:52] romanjesus commented on #152
@owocki good! Thanks for the documentation, I went through it and got a webhook set up with a sample app. I should have something to push up tomorrow. I didn't realize the deadline was coming up so soon, but hoping to have the mvp tomorrow night.

[2018-01-02 02:18] owocki commented on #137
https://zeplin.io is quite good for viewing sketch files

[2018-01-02 02:19] owocki commented on #137
defer to @algae12 on mobile view.. i think well likely be able to get by by writing some quick media queries though

[2018-01-02 02:29] owocki commented on #184
thanks for the update..

i wonder if we could get around this with some simple javascript.. just something simple that submits the tx to web3 and submits the HTML form after it has.

[2018-01-02 02:58] tra38 commented on #181
The only information we're storing about each quote is the quote text (a string) and the author name (another string), and then we combine the two string together to create a final quote. It's *possible* that we could write some HTML within one of the two strings that would display an avatar...

[code]

...but it's probably better to instead add another field (a string representing the avatar imag

[2018-01-02 03:14] owocki commented on #190
last call for feedback. ill accept this bounty tomorrow if none comes up :)

[2018-01-02 03:14] owocki commented on #190
@amites those are all good thoughts.. and better articulated than my comment above.  thanks!

[2018-01-02 03:56] PixelantDesign commented on #190
Thanks for the comments all.

In general it seems like there are two issues here...
1. We want to know that an unclaimed issue has additional comments not from the ticket creator/gitcoinbot (because the assumption is that it means there is a claimed comment on the task?).
2. We also want to know which unclaimed issue has active work on it (that may not necessarily have another ticket to associate

[2018-01-02 04:01] PixelantDesign commented on #181
Is there anyway to make the quote automatically rotate after a time period?

[2018-01-02 05:26] tra38 commented on #181
Already done in #158. In ```bounty_details.js```:

[code]

So every 30 seconds, I call ```waitingRoomEntertainment()``` to get a random quote that we display to the user. It is possible, although very unlikely, that we can randomly pick the same quote that we already showed to the user. Most of the time though, users will see a different quote than they saw before.

[2018-01-02 09:57] olafghanizadeh commented on #198
I think comments would be good to make more counstructive feedback than just upvotes.

Maybe Isso can be easily implemented with current stack?
https://github.com/posativ/isso

[2018-01-02 10:16] olafghanizadeh commented on #181
@PixelantDesign
I think the user should be taken back to the issue/claim page, but with an indication that the transaction/claim is successful.

However, I'm having second thoughts about it being full-screen. Here is my reasoning:
1. People are already quite accustomed to "waiting" when they see a loading icon
2. Google penalises pages that use intrusive modals (I'm not sure to which extent it app

[2018-01-02 15:51] PixelantDesign commented on #181
@olafghanizadeh

I think that makes sense - taking the user to a success state.

From an implentation perspective I don’t think it necessarily needs to be a modal, my point was mainly that we should remove any distractions that could entice users to click around/ move away from the current screen since it might interfere with the information syncing to the blockchain.

[2018-01-02 16:10] owocki commented on #198
definitely.

[2018-01-02 16:18] owocki commented on #157
@choochootrain should i be testing this now?

btw, mind claiming the issue at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/web/issues/157 so i can payout once merged?

[2018-01-02 16:32] owocki commented on #198
looking fwd to seeing this this week :)

[2018-01-02 16:36] owocki commented on #190
This sounds right to me.  @PixelantDesign mind posting any design assets to this thread (probably just the one image)... and i will bounty someone to code it!

[2018-01-02 16:38] owocki commented on #177
@eswarasai let me know!

[2018-01-02 16:38] owocki commented on #175
ok i will reject the claim and pay it out to myself.  thanks!

[2018-01-02 16:41] #168 closed

[2018-01-02 16:42] owocki commented on #152
okie dokie... id rather have something that's good / maintainable than something thats rushed... @romanjesus want to say that we'll aim for delivery mid to late this week?

[2018-01-02 16:45] romanjesus commented on #152
That's totally fair, I'm ok with that @owocki 👍

[2018-01-02 16:50] owocki opened #201 "funded issue links are long and clunky"
https://gitcoin.co/funding/details?url=https://github.com/trufflesuite/truffle/issues/343

this could easily be collapsed to

[code]

# requirements
- make it so that the above link format works
- maintain backwards comipatibility
- update all external facing links for bounties to go to the new link format

[2018-01-02 21:27] eswarasai commented on #201
@owocki -- Possible solution for this issue:

1) New URL route for Bounty -- Create a new method which will be similar to the existing `bounty_details` in dashboard. Just a slight modification to the way we fetch the GitHub URL from the request. We just need to replace by `https://github.com` in the request path
2) Maintain backwards compatibility -- The existing `bounty_details` request will simp

[2018-01-02 23:02] owocki commented on #201
good thoughts :)

[2018-01-02 23:24] #190 closed

[2018-01-02 23:28] owocki opened #206 "code: signal to tell user that unclaimed issues may already be in progress"
https://github.com/gitcoinco/web/issues/190#issuecomment-354700131

# requirements

* code up the frontend from this PR
* update the `Bounty` model to have the new 'no_comments' field in it
* update `Bounty.fetch_issue_description()` to be entitled `Bounty.fetch_github_latest`, and to update the new 'no_comments' field in it (in addition to the issue desc)

to submit this issue, pls post a screens

[2018-01-03 03:33] owocki opened #208 "where we go beyond bounties -- building a data-driven experiment machine"
# where we are now

right now gitcoin arguably has two main features: tips and bounties and two main actors: repo maintainers and developers.

# where we want to go

i view the _future_ of gitcoin as having many many tools that support open source software developers.

(and many actors that particpate and benefit in ways that scale relative to their participation)

# how we get there

as a means o

[2018-01-03 03:57] Elaniobro commented on #208
![](https://media.giphy.com/media/RgAl2ESJFnIQ0/giphy.gif)

[2018-01-03 05:54] ethikz commented on #206
I partially have this done, albeit statically right now I'll have to tie in the actual comments and dynamically code it.  I used the current chat bubble *messages* that we have in icons folder but can use something different.  Also, this is a rough implementation.  I haven't done any measuring of spacing.

[Mobile](https://www.dropbox.com/s/yoiqwyi1eurkr0d/dashboard-mobile.png?dl=0)
[Tablet](https

[2018-01-03 07:35] choochootrain commented on #157
@owocki sorry, yeah its ready to test! uploads a link with a 30 day expiration to access the csv. i'll rebase against master as well.

[2018-01-03 07:41] choochootrain commented on #157
^ also attempting to claim that issue gives me a `This issue is no longer active. Please leave a comment here if you need help.` message. looks like the bounty still hasn't expired so not sure what the deal is. i can create a new issue for this if you want, since the linked issue  (https://github.com/gitcoinco/web/issues/169) seems unrelated.

[2018-01-03 09:21] PixelantDesign commented on #190
Icon attached!

![comment](https://user-images.githubusercontent.com/238235/34514889-890934fe-f03d-11e7-82c1-076edf06526a.png)

[2018-01-03 09:32] PixelantDesign commented on #173
Source Files can be found here...
[Gitcoin_Faucet 2.zip](https://github.com/gitcoinco/web/files/1599926/Gitcoin_Faucet.2.zip)

[2018-01-03 12:53] olafghanizadeh commented on #181
I'm thinking there is no need to reinvent the wheel on this and make it too. I suggest my first design and then use JS to deactivate the buttons when this dialog is happening.

[2018-01-03 15:21] PixelantDesign commented on #181
Makes sense. FWIW, I do like the background treatment on the new design.

[2018-01-03 15:27] olafghanizadeh commented on #181
It is possible to implement this as well, it shouldn't be very hard with.

[2018-01-03 16:18] PixelantDesign commented on #181
Great!

[2018-01-03 16:37] #175 closed

[2018-01-03 16:48] ayamane commented on #208
FYI, the toolbox link is not working.  Appears to be missing the ".co"

[2018-01-03 17:14] owocki commented on #208
thanks @ayamane  -- updated

[2018-01-03 17:16] owocki commented on #206
looks like good progress.. want to claim the issue on gitcoin so no one else does?

[2018-01-03 17:21] owocki commented on #157
@Mitch_Kosowski im gonna reject your claim.  nothing person... its just that @choochootrain has already done a ton of work here :)

[2018-01-03 17:28] mkosowsk commented on #157
Whoa, that's really weird. I swear I didn't claim this issue! 😳😳😳

So no worries about rejecting my claim as I don't think I did and if I did I didn't mean to!

The only way you can claim an issue is via gitcoin.co or directly on GitHub, right? I'm really not sure how I inadvertently claimed this 🤔

[2018-01-03 17:29] #157 closed

[2018-01-03 17:41] owocki opened #209 "dataviz of gas costs vs confirmation time"
https://twitter.com/GetGitcoin/status/948609509139791874

[2018-01-03 18:31] thelostone-mc commented on #206
@ethikz Claim it!!
Else I might just claim it to prove @owocki s point just for the heck of it  😆

PS: I'll help with the reviewing

[2018-01-03 19:39] amites commented on #206
👍 was gonna tackle this one but happy to see the community is strong enough that there's competition to get tasks completed

[2018-01-03 21:52] owocki commented on #209
http://bl.ocks.org/bobmonteverde/2070123

[2018-01-03 22:49] owocki commented on #157
hmm... weird..   the claim came from https://etherscan.io/address/0xdbcc1bfaacf822071b011c5e7d842617b23d27c1 -- is that you @mkosowsk

yes, you can only claim via gitcoin.co... although we are working on integrating a github bot

[2018-01-04 02:24] mkosowsk commented on #157
Yep, that's me but I don't have a Sent in my MetaMask from 9 hours ago which I believe I would have if I sent the claim in?

<img width="363" alt="screen shot 2018-01-03 at 9 21 06 pm" src="https://user-images.githubusercontent.com/7970539/34547844-108326ae-f0cc-11e7-9510-f7c09ac45fe6.png">

I think this may be a bug as I'm 99.99% sure I didn't send this claim in (unless I entered a fugue state!).

[2018-01-04 04:35] owocki commented on #157
@mkosowsk looks liek the claim was from 4 days ago.. https://etherscan.io/tx/0xe0d03a261a5851b3154399adeaf54c0a9f0b50fbc812559178122c3976b584a6

the gitcoin app just didnt process the tx until 9 (now 11) hours ago

[2018-01-04 04:39] mkosowsk commented on #157
I see, thanks. That refreshes my memory, I did try to claim this a few days back but didn't see it go through... assumed I did something wrong when submitting the claim👍🏻

For my knowledge going forward, when a claim is submitted the Gitcoin app will process the tx generally pretty quickly or is there a bit of time built into this? Thanks!

[2018-01-04 04:40] owocki commented on #157
it depends upon the gas price you set and also upon the network conditions at the time

here is an issue im coding up to make it clearer when the tx will confirm https://github.com/gitcoinco/web/pull/205

[2018-01-04 04:43] mkosowsk commented on #157
Ah that makes sense, think I set gas price too damn low so it probably took a while

Thanks for heads up on that ticket, looks like interesting stuff! Will walk through it to get some good understand when I get some free time 👍🏻👍🏻👍🏻

[2018-01-04 09:34] olafghanizadeh commented on #181
So, what can we do to close this issue?

[2018-01-04 10:53] abitrolly opened #213 "Search by nickname doesn't work"
##### Description
When I start entering my nickname to search box, gitcoin.co correctly proposes autocompletion, then it generates link https://gitcoin.co/explorer?q=abitrolly, but there are no issue visible funded by me. As a funder I'd like to be able to quickly see issues that I support.

##### Possible Implementation
Right now it is " Open Funded Issues w. keyword abitrolly (0 worth 0.00 USD,

[2018-01-04 10:56] abitrolly opened #214 "Detect profile from Metamask/Github"
##### Description
Is it possible to detect my nickname/profile from Metamask?

##### Possible Implementation
https://gitcoin.co/profile would redirect to https://gitcoin.co/profile/abitrolly and main interface would show my name somewhere in the headers or even in Web3 test box,

##### Environment

* **Browser**:
* **Version**:
* **Subsystem**:

[2018-01-04 13:40] owocki commented on #157
@choochootrain the rejection went through overnight.  want to claim the issue now!?

[2018-01-04 14:22] ethikz commented on #206
Someone can claim it; it's okay.  I might not be able to work on the whole thing right this minute but figured I could contribute and help someone out if the person can take it across the finish line.

[2018-01-04 15:39] owocki commented on #206
cc @amites @thelostone-mc

[2018-01-04 17:39] step21 commented on #128
Is someone working on this? Just curious, as I think I am not that familiar with the codebase to decide which way to handle this.

[2018-01-04 22:46] mbeacom opened #216 "Docker-based PostgreSQL port inaccessible locally"
##### Description
The current `docker-compose.yml` setup doesn't expose the psql port for local inspection, which seems to cause difficulty or confusion for new developers.

Ref: https://gitcoincommunity.slack.com/archives/C8E45J5D0/p1515104528000353

##### Possible Implementation
- Add psql port forwarding to `docker-compose.yml`

##### Environment
Docker stack

[2018-01-05 03:00] choochootrain commented on #157
claiming with a low gas price, lets see if it goes through before i accidentally close the tab :)

[2018-01-05 03:25] owocki commented on #157
even if u do close the tab, let me know and i can still process the tx on the backend

[2018-01-05 21:15] abitrolly commented on #128
Nobody claimed it, so feel free to do it. My question are - how state is stored and what is stored?

Is there something like this stored on server?

    change requested -> transaction pending -> transaction completed
                                            -> transaction cancelled

So that when you reload the page, the state is shown on issue page?

[2018-01-05 22:55] ethikz commented on #206
@amites If you want what I already have let me know and I can push it up for you

[2018-01-05 23:36] amites commented on #206
@ethikz I'd appreciate it -- taking this one a bit ambitiously and tackling the API updates along with the front-end (seemed simpler than building a mock API to have functional front-end code)

[2018-01-06 19:12] step21 commented on #128
You can look at /app/dashboard/models.py for example to get an idea of the database layout.
There is a model BountySyncRequest that gets then manually or otherwise processed as far as I can say.

[2018-01-06 20:42] abitrolly opened #220 "Error executing transaction"
##### Description
I tried to fund issue with this transaction - https://etherscan.io/tx/0x09cae8ee3bc8da2f543e5990444d3ef9e02c5b5a9c4b523176d1999d8c276563 I didn't close the window, but left the tab for like half an hour. As you may see, the transaction got mined, but interface contained this error message about executing transaction.

So, the transaction is there, but web interface has no data. M

[2018-01-08 18:20] #188 closed

[2018-01-08 20:14] step21 commented on #128
One question I have about this - I am probably missing something, but what about this is not working right?
As I understand it, sync_get and the corresponding parts like process_bounty_changes should work, but there would need to bet a method/part in new_bounty.js, process_bounty.js, claim_bounty.js (or maybe at least claim_bounty) that adds a BountySyncRequest, which will then be picked up by fro

[2018-01-08 20:18] owocki commented on #128
i believe that sync_get exits out with an exception right now.

also @jhaas is working on standardbounties integration.. we should hold off until that is merged in  https://github.com/gitcoinco/web/pull/140

[2018-01-08 20:21] step21 commented on #128
ok. then I will in the meantime try running without docker, cause running those managing commands in docker was a pain

[2018-01-08 21:44] owocki commented on #206
@amites backend on #219 looks good!  @ethikz you want to merge in your work too!?

looking forward to getting this out

[2018-01-08 22:26] owocki opened #221 "design: index of bounties from other bounty projects"
# What

 a `/tool` that would index bounties from across the web (even if they arent on gitcoin) and provide the community with the oppy to work for bitcoin bounties... or bounties where there isn't ETH staked.. etc

# pages wanted

1. external bounty index page (please do not just copy or fork /explorer -- this should be a new page)
2. external bounty detail page
* both pages should include an av

[2018-01-09 00:38] owocki commented on #213
i see a few funded issues when i search for you...

![screen shot 2018-01-08 at 5 37 53 pm](https://user-images.githubusercontent.com/513929/34699458-ae20513a-f49a-11e7-84b0-7b9036484bf4.png)

is it possible that the filters on the left hand side need to be adjusted?  pls make sure that all of them say 'Any'.

looks like you're filtering only Open funded issues

[2018-01-09 00:38] owocki commented on #213
@abitrolly

[2018-01-09 01:49] #216 closed

[2018-01-09 03:47] tra38 commented on #181
Bumping this issue. Curious to know if @owocki agrees with the final accepted design that @PixelantDesign and @olafghanizadeh has came up with.

[2018-01-09 14:42] ethikz commented on #206
@owocki yes the javascript should be good to merge in

[2018-01-09 15:41] owocki commented on #206
sorry im disorganized... is there a PR for that? i dont see it on #219

[2018-01-09 17:39] ethikz commented on #206
@owocki sorry I was referencing another  PR

[2018-01-09 17:56] owocki opened #222 "As a team member, I'd like to be on the /about page, so I can show off that I'm part of the team."
# bounty

As a team member, I'd like to be on the /about page, so I can show off that I'm part of the team.

I would also like for *top community members* to be shown off on this page. We can safely assume that anyone at the [top of the leaderboard](http://gitcoin.co/leaderboard) is a top community member

# definition of done - 1 - design

* please submit a proposed design (doesnt have to be too

[2018-01-09 18:02] olafghanizadeh commented on #181
So this is I envision it looking:

![desktop hd](https://user-images.githubusercontent.com/25170177/34735404-7a27f6aa-f556-11e7-82f0-d303a72b7947.png)

However, all the assets doesn't convert correctly, but the background should be the common animation powered by rain.js

[2018-01-09 18:26] vs77bb commented on #152
Hey @romanjesus recently joined the Gitcoin squad alongside @owocki and checking in here. How goes it?

[2018-01-09 18:28] vs77bb commented on #184
Howdy @usulix, I joined @owocki at Gitcoin and am checking in here... how goes it?

[2018-01-09 18:29] owocki opened #223 "foo the bar"
test 123

[2018-01-09 18:45] #223 closed

[2018-01-09 18:45] owocki opened #224 "test 123"

[2018-01-09 18:56] romanjesus commented on #152
Hey @vs77bb, congratulations! And it's going well, I reached out to @owocki via the gitcoin slack to talk about the bounty. We're deciding on increasing the scope as a result of some github api constraints I came across.

[2018-01-09 18:58] thelostone-mc commented on #224
Github integration testing ? :D

[2018-01-09 18:59] owocki commented on #184
i think i need to review @usulix 's PR :)

[2018-01-09 19:01] owocki commented on #181
thanks for the bump.

👍  on the design. i think it looks great.  can't wait to see it coded and live on the app :)

[2018-01-09 19:02] owocki commented on #32
hey @tra38 -- any interest in working off the design that @pixelant came up with ?

https://github.com/gitcoinco/web/issues/181#issuecomment-356364885

[2018-01-09 19:02] owocki commented on #181
here is the tracker for coding this :) https://github.com/gitcoinco/web/issues/32

cc @tra38

[2018-01-09 19:56] tra38 commented on #32
Sure, I have some interest. I'll come back to this ASAP and start the CSS work. :+1:

[2018-01-09 22:37] owocki commented on #224
@thelostone-mc doing a demo for the consensys mesh :)

[2018-01-09 22:37] #224 closed

[2018-01-09 22:57] vs77bb commented on #174
Hi @owocki @Elaniobro @thelostone-mc where do we stand here? I'm new to the Gitcoin squad, nice to meet you both :)

[2018-01-09 22:58] #133 closed

[2018-01-09 23:06] vs77bb commented on #75
@mbeacom @owocki Checking in, where are we with this one? You guys may have figured it out offline.

[2018-01-10 01:12] owocki commented on #214
its a good idea... id be into this

[2018-01-10 01:16] owocki commented on #220
sorry about that @abitrolly -- i just went in and processed it manually..

root cause fix for this is at https://github.com/gitcoinco/web/issues/128

[2018-01-10 01:16] #220 closed

[2018-01-10 01:16] #213 closed

[2018-01-10 03:53] Elaniobro commented on #174
Hey there @vs77bb, I believe we are complete. Waiting on peer review in #207.

Looking forward to seeing this work up on the website :)

[2018-01-10 06:29] abitrolly commented on #213
![image](https://user-images.githubusercontent.com/8781107/34726383-e5cccf44-f564-11e7-9e94-43c14d134da8.png)

Changed status to Any and they all appeared.

Maybe make "Open" word in search results a dropdown box with selection? Or make those selections also filter labels right under the search box?

[2018-01-10 06:32] abitrolly commented on #213
Sort filter is misleading. It grabs attention instead of left nav bar.

[2018-01-10 08:40] abitrolly commented on #220
No need to be sorry. We need to close #128. :)

[2018-01-10 09:02] abitrolly opened #225 "Treat claimed issues as open"
I have usability concern about the output of https://gitcoin.co/explorer?q=abitrolly, page. To me, claimed issues are still open. If the claimee was not awarded, it is not complete.

[2018-01-10 15:23] owocki opened #226 "sometimes web3 buttons on the gitcoin interface take 60s to respond"
this is an issue with metamask and infura im pretty sure...