[2020-08-24 15:22] walidmujahid commented on #7133
This looks like an interesting thing to work on. I am not very familiar with the proposed algorithm/Vitalik's conversation, so is there a potential link to read up on or listen to? And also, might there be dummy data available for local use to save some time?

@PixelantDesign I am slightly conflicted between options. I like both for different reasons. The first option I like because the custom and

[2020-08-24 18:28] hellomalaysia opened #7278 "pls file a help support request on the gitcoin github . thanks"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-08-24 19:54] owocki opened #7279 "https://gitcoin.co/grants/new should denote which fields are necessary vs optional."
https://gitcoin.co/grants/new should denote which fields are necessary vs optional.

can just put an asterikx next to required ones

[2020-08-25 01:00] CryptonightCanada opened #7280 "Kudos Clone Error"
I got a couple kudos showing on my profile however I don't have a transaction reflecting it on my account that i could find. Here's the link that Gitcoin is providing (x2) but these transactions on etherscan are hundreds of days old
https://stage.gitcoin.co/kudos/0x4077aE95EeC529D924571d00e81ECdE104601AE8/58
{link copied from my profiles Kudos section}

[2020-08-25 03:55] zoek1 commented on #6622
PR for this ticket https://github.com/gitcoinco/web/pull/7169

[2020-08-25 04:23] zoek1 opened #7281 "As a sponsor I can select multiple winners in the submission view"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
The current behavior in the submission limit sponsors to select only one winner, this is a limited option to prizes who

[2020-08-25 10:12] Solexplorer opened #7283 "Remove/Change the link that redirects to gitcoin.co/chat in the profile photo"
**Describe the bug**

In the profile photo there is the indicator that says if you're online/away, it's redirecting to gitcoin.co/chat which throws error 500
![image](https://user-images.githubusercontent.com/50027175/91160978-6295fb00-e6ca-11ea-9ba3-1956fb732cfd.png)

**To Reproduce**

Click on the indicator that you'll find in the profile photo

**Expected behavior**

either opens chat or doesn'

[2020-08-25 12:16] octaviaan commented on #7172
Hey, fellow designer here.
I have some feedback.
1. I think the Queen is missing
2. I wouldn't use the eth logo for Diamonds, this makes it look like Diamonds is more special than the rest, which is not. You could either integrate the Ethereum logo in some different way on J Q K maybe also A cards or make each of the suites special in their way. For example, if Diamonds has a blank negative space

[2020-08-25 13:19] owocki commented on #7280
since the ETH network gas prices have been  high, we haven't been broadcasting the txns to the ethereum network, unless the user pays for the gas of them. this is bc we were spending $500/day on broadcasting txns before we made this change, which was unsustainable.  the idea is to broadcast them if/when the eth gas prices go lower again.

i think this could probably be made more clear on the produ

[2020-08-25 14:21] androolloyd commented on #7257
Looks like its got to do with the poll for active status, this might be removable now that users connect to the chat via a websocket when authenticated.

[2020-08-25 14:27] androolloyd commented on #7257
#7283 reported as well

[2020-08-25 16:38] owocki commented on #7172
thanks @octaviaan ; agree with your feedback (i had not considered the ETH logo note on the diamonds, i could go either way on this -- what do u think @L-KH ?)

[2020-08-25 17:15] L-KH commented on #7172
@octaviaan

Its just didn't appear in my screenshot. you can find it if you check the zip file.

sorry, I am not sure if I understand well what you mean. here what I understand => I have to change the ETH to the original diamond symbol! Yeah sure I can do it, I just think that ETH logo will be a good idea, to make the cards more oriented to Ethereum.

in the screenshot, I didn't respect cards orde

[2020-08-25 23:12] akru opened #7287 "Add XRT token into web/app/economy/fixtures/tokens.json"
### User Story

I want to fund issues by [XRT](https://etherscan.io/token/0x7de91b204c1c737bcee6f000aaa6569cf7061cb7) token:
* https://www.coingecko.com/en/coins/robonomics-network
* https://etherscan.io/token/0x7de91b204c1c737bcee6f000aaa6569cf7061cb7
* https://robonomics.network
* https://twitter.com/AIRA_Robonomics

### Why Is this Needed

The team wants to fund GitHub issues by XRT but can't f

[2020-08-26 08:22] thelostone-mc commented on #7287
Fill out https://gitcoin.co/submittoken and submit it !
And it'll be approved after review and added

[2020-08-26 08:23] thelostone-mc commented on #7243
@developerfred any update on this?

[2020-08-26 08:32] developerfred commented on #7243
I checked and the error occurs because the opera has a new feature to block cookies and JavaScript for greater user security.  I'll need to find a way around this for the cart script to work

[2020-08-26 08:58] akru commented on #7287
@thelostone-mc got it, thank you

[2020-08-26 08:58] #7287 closed

[2020-08-26 09:10] developerfred commented on #7243
![image](https://user-images.githubusercontent.com/57037080/91284668-97ee2780-e762-11ea-9da5-3ea7c6d1a854.jpeg)

need to investigate why gitcoin does not recognize the opera wallet

[2020-08-26 09:58] octaviaan commented on #7172
![suite-05](https://user-images.githubusercontent.com/30837511/91289963-b02e6880-e79b-11ea-85cf-76aae72ff714.jpg)
This is a quick mockup I did. What I mean is that A and C are consistent but B is not. Version B (your version) makes the Diamond look more special compared to the rest.

[2020-08-26 10:31] L-KH commented on #7172
@octaviaan ,THanks I got it now. and yeah I agree, I just have no idea for others that's why I just let it as B.
What do you think @owocki , the C plan looks good to you? or just let is as A ?

[2020-08-26 21:13] owocki commented on #7242
@sebastiantf how goes?

[2020-08-26 21:21] owocki opened #7291 "Release 1.65.0 QA"
- [x] hackathon-list page; if there are no sponsors pls dont show a broken 'sponsored by' https://bits.owocki.com/eDuB5dNq

- [x] why do grants show ‘monthly recurring’ ? we dont even have a monthly recurring option anymore
also it says “round” without a round number.
it should say “all time funding” if thats what were showing

- [ ] can we add a 50% opacity background here? rn it looks super brok

[2020-08-26 22:29] L-KH commented on #7172
Here is the B version:

and here is the C version:
[GitcoinCards2.zip](https://github.com/gitcoinco/web/files/5132998/GitcoinCards2.zip)
plz let me know for any modification needed.
THanks

[2020-08-27 00:08] owocki commented on #7172
i really like Plan C :)

[2020-08-27 00:09] owocki commented on #7172
@octaviaan which of the card backs do u like?

![b22](https://user-images.githubusercontent.com/513929/91368832-4deb5d00-e7c7-11ea-91bb-7c759744fa68.png)
![b21](https://user-images.githubusercontent.com/513929/91368834-4f1c8a00-e7c7-11ea-9d3e-703db597c657.png)
![b12](https://user-images.githubusercontent.com/513929/91368836-504db700-e7c7-11ea-8c26-470c2c179a8e.png)
![b11](https://user-images.githu

[2020-08-27 00:10] owocki commented on #7172
hey @L-KH do you have a printerstudio.com account i can use? id like to not have to reupload all the designs when i order the cards!

[2020-08-27 09:43] thelostone-mc commented on #7291
it should say “all time funding” if thats what were showing

This is a remnant of what it was even before !
Makes sense to remove it -> thanks for the catch

Well only if it's been part of a round in the admin -> will it show a value
Once we activate matic round -> it would look  like
![image](https://user-images.githubusercontent.com/5358146/91424682-be51b700-e877-11ea-8603-f1b3227e8bbb.png)

^ I

[2020-08-27 10:50] L-KH commented on #7172
i will create account and add cards there. let now choose back of card first.
+ I am confused when I tired to add cards. in my country we have(13*4"heart,club,.." + 4"joker") = 56cards , we can buy them in two box (box of red(heart+daimond + 2red joker) =28,box of black(club,spide + 2black joker)=28).
so in printerstudio we will need to create two box of 28 (13 + 2jok). but they only have 36 plan

[2020-08-27 13:28] #7070 closed

[2020-08-27 13:40] L-KH commented on #7172
Here is how it look like with the first back (sorry for bad quality)
![Preview - Google Chrome 2020-08-27 12-15-14_3](https://user-images.githubusercontent.com/12660772/91446983-0d93e980-e870-11ea-87b0-7852b1a674fa.gif)

[2020-08-27 13:43] Anoof commented on #7261
Found a similar issue while submitting bounty as well. The hours worked field allows decimal input, but on submission the bounty doesn't get accepted. Console error says hours worked is missing, and there is no prompt to the user saying decimal values are not allowed.

[2020-08-27 15:45] owocki commented on #7172
looks good !

dont worry about the card box if printstudio doesnt allow it

can you send me the printstudio account login to kevin@gitcoin.co pls?

[2020-08-27 16:41] L-KH commented on #7172
@owocki done. pls let me know if there any other modifications needed

[2020-08-27 17:16] thesachinmittal opened #7296 "[CRM] Making the Data Accessible & allowing Gitcoin Team to Interact with it."
### Discussion

This idea came out of the discussion during the hack standup!

**TLDR**; As the Ops team, we need to read-write CRM / Devflow!

I don't have any profound solutions atm, but I think we can use the CRM tool // Airtable for this?

@vs77bb @owocki @ceresstation @frankchen07  @connoroday @jdorfman Would love your thoughts here.

[2020-08-27 17:29] owocki commented on #7296
isnt the plan to ship @androolloyd ' s user directory, with CSV output, and then you can export the CSV into any CRM tool u want?

[2020-08-27 18:40] PixelantDesign opened #7297 "[ BUILD ] Sponsored Grant Page"
### User Story
As a Gitcoin Grants ecosystem partner, I would like to have a QF page dedicated to my organization so that it's easy to find all of the grants in my sponsored round.

### Why Is this Needed

Experience was not designed to account for this.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
Doesn't exist

### Expected Behavior
Create

[2020-08-27 18:42] connoroday opened #7298 "Dropped and replaced payout transactions remain shown as “pending” on bounty page"
**Describe the bug**

When paying out a bounty, if the transaction gets stuck has to be resubmitted with a higher gas price, it will be stuck shown as “pending” on the Gitcoin bounty page

**To Reproduce**

Pay out with very low few, then increase fee

**Expected behavior**

Once a dropped and replaced transaction goes through, Gitcoin should reflect a successful payout

**Screenshots**

See:
http

[2020-08-27 19:55] frankchen07 commented on #7224
closing this ticket:

currently testing solutions:

1. circle
2. simplified chat channels

[2020-08-27 19:55] #7224 closed

[2020-08-27 22:13] developerfred commented on #7243
@thelostone-mc I found some problems, opera blocks google tag manager and has 12 issues of samesite-cookies alert
https://web.dev/samesite-cookies-explained/?utm_source=devtools

<img width="913" alt="Screen Shot 2020-08-27 at 19 10 47" src="https://user-images.githubusercontent.com/57037080/91500165-501dec00-e899-11ea-8be2-6e8457f66de3.png">
<img width="1041" alt="Screen Shot 2020-08-27 at 19 11

[2020-08-28 00:32] thelostone-mc commented on #7298
Code handles this situation !
The cron job hadn't run yet which is why it hadn't reflected.
Closing this out

[2020-08-28 03:12] owocki commented on #7298
we should maybe expose a button that syncs bounties, from the blockchain, to the DB, in the admin for our CS team :)

[2020-08-28 03:15] owocki commented on #7297
this is pretty 1337

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Thu, Aug 27, 2020 at 12:40 PM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

__________________________

[2020-08-28 07:45] CryptonightCanada commented on #7280
Thanks for the scope on the Kudo's situation Kevin..  I totally understand. We all must keep pushing daily to bring down gas prices.. I hope my transaction fee's are not set too low and holding back the rest of the blockchain (ran outta gas and not even enough to cancel a transaction right now so i have a few txns in limbo that will probably turn my wallets to ghost accounts if i don't get some et

[2020-08-28 16:27] obernardovieira commented on #7107
I have the same problem. And I don't find any support email.

[2020-08-28 20:19] owocki opened #7300 "TOS Scope"
Pls see https://docs.google.com/document/d/1OYbfRXU3fDETpAOAJqmqJejl1TNHv6APMBAr0IRtJ44/edit

[2020-08-29 06:48] octaviaan commented on #7172
Plain color back I think are better. In the other's there's too much gradient with too many colors, There is a chance that it might not look that good. Usually for looks but also print quality it's best to have gradients made of closely related colors. The second color should be to the left or right of the first color in the color spectrum.

[2020-08-29 08:58] pk27734 commented on #5326
How do I remove the Hero schwag on a Lego character? It seems to default to the red spacesuit.

[2020-08-30 17:10] molecula451 commented on #7270
PRing #7301

[2020-08-30 17:50] molecula451 commented on #7300
requested access

[2020-08-30 17:53] L-KH commented on #7172
I hope the printer will print in good quality. we will try and see if the quality is not good we will make some modification

[2020-08-31 00:51] molecula451 commented on #7243
@owocki I am able to reproduce this locally & on desktop. I can't see on that screenshot whether you have web3 wallet connected or not
![grants-bug](https://user-images.githubusercontent.com/41552663/91673130-97f27c80-eb00-11ea-93b4-5892204ef2c0.gif)

@developerfred screenshot shows that has not web3 wallet connected and couldn't load the view & It looks like @thelostone-mc is indeed on the web3 c

[2020-08-31 02:38] molecula451 commented on #7279
done in #7301

[2020-08-31 05:48] octaviaan commented on #7172
I've noticed something. The gitcoin.co text should be inside the safe area aka the red dashed line.
![template-01](https://user-images.githubusercontent.com/30837511/91686704-aa9f9c80-eb66-11ea-90fa-4bf1402ed15f.jpg)

[2020-08-31 05:53] molecula451 commented on #7186
<code>44 Bounties, Quests, Actions & more  ⚡️</code>

[2020-08-31 06:29] molecula451 commented on #7261
I think the input it's fine to work only with intengers.

Can't reproduce what @Anoof says as the input is already invalidating any decimal value

![input](https://user-images.githubusercontent.com/41552663/91689259-b7ee6400-eb31-11ea-809d-f3d33b519149.gif)

[2020-08-31 07:18] Anoof commented on #7261
I was referring to the bounty submission form, where this validation is not present. I think this same validation needs to be there as well.

![bounty-float-bug](https://user-images.githubusercontent.com/8438198/91693013-029acb00-eb88-11ea-8fe7-978873a5c1b1.png)

[2020-08-31 08:33] L-KH commented on #7172
I think the safe area line (red) is for where the front symbols will be. here is the preview :
![image](https://user-images.githubusercontent.com/12660772/91699838-cc9c1d80-eb6c-11ea-8b2c-1b8a7575fa1c.png)

[2020-08-31 15:35] octaviaan commented on #7172
Yes but on the back, gitcoin.co text is outside the safe area

[2020-08-31 15:51] #7291 closed

[2020-08-31 18:04] DanDevel opened #7306 "Payments dropped or doesn't exists."
### DanDevel

### Never received any payment.

### Payments hashes appears dropped or doens't exists on etherscan.io

[2020-08-31 18:05] walidmujahid commented on #7133
@owocki I would be interested in taking this on, however, I will need to familiarise myself with how QF is implemented in Gitcoin -an area which I have yet to touch/look at in detail. As well as it would seem that further discussion on the algorithm design is needed for Vitalik's suggestion. Has the mentioned conversation between Alisas and Vitalik happened?

[2020-08-31 18:06] walidmujahid commented on #7133
@owocki I would be interested in taking this on, however, I will need to familiarise myself with how QF is implemented in Gitcoin -an area which I have yet to touch/look at in detail. As well as it would seem that further discussion on the algorithm design is needed for Vitalik's suggestion. Has the mentioned conversation between Alisas and Vitalik happened?

Also, I am not sure if this can be acc

[2020-08-31 20:19] owocki commented on #7306
can you leave more info, like who paid you, what for, whats the txid, etc?

[2020-08-31 21:27] owocki commented on #7133
@walidmujahid we never got a response from vlitalik, so we are deprioritizing this for now.

[2020-08-31 21:43] owocki commented on #7186
i like that. simple

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Sun, Aug 30, 2020 at 11:53 PM Paul <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

______________________________

[2020-08-31 21:44] owocki commented on #7242
@sebastiantf pls let me know by tomorrow morning if you're not going to take this forward

[2020-08-31 21:51] jdorfman opened #7308 "Add UTM's to hypercharge mode for bounties"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a Hackathon Marketer at Gitcoin, I want to see how the new "hypercharge mode for bounties" (#7150) is performing so I can determine how effective it is without guessing.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you woul

[2020-08-31 22:35] DanDevel commented on #7306
2 appears dropped, 2 doesnt exists, and 2 pending . view on etherscan.io
 thanks.

id date From From Location To To Location Type Value In USD url txid
token_name token_value

277742 2020-08-29T13:00:00 gitcoinbot the blockchain dandevel
<class 'kudos.models.KudosTransfer'> 6.38
0x49cfdde27409f30b71f3d179f4ec76c4dee67f01b7e4a467debd257571a192a1 ETH 0.02
https://gitcoin.co/kudos/619/top_four_leader

[2020-08-31 22:55] frankchen07 commented on #7185
post interview notes: https://gist.github.com/frankchen07/e516dc8fc7a8e867eba3b30fe320814b

[2020-08-31 22:56] frankchen07 commented on #7185
final prototype build underway: https://www.figma.com/proto/S7yxF6zdY4BQLi90twugH4/onboarding?node-id=318%3A5284&viewport=1472%2C-1793%2C0.8214154243469238&scaling=min-zoom

[2020-08-31 23:05] walidmujahid commented on #7133
Understood.

[2020-09-01 04:48] sebastiantf commented on #7242
@owocki I had already DMed you on Gitcoin Chat about not being able to attend to this because I'm preoccupied. I'm sorry but I have to drop this. I'm sorry for the inconvenience.

[2020-09-01 09:59] thelostone-mc opened #7310 "bug: tribe sorting"
#### Description

https://github.com/gitcoinco/web/pull/7171 introduced sorting of participants by their rank but this doesn't work as it attempts to sort within a paginated result.

Ideally, the sort has to be done on the backend and all the frontend changes added needs to be removed.

There is a revert PR if this cannot be addressed
https://github.com/gitcoinco/web/pull/7295

[2020-09-01 10:18] #7270 closed

[2020-09-01 10:45] danlipert opened #7311 ""Circle Townsquares" posts dont show up in homepage post filter"
**Describe the bug**
There is a filter on the home page townsquare that is no longer applicable to hackathons with circle integration:

![Screen Shot 2020-09-01 at 7 41 30 PM](https://user-images.githubusercontent.com/869266/91840377-92756d80-ec8b-11ea-9838-259b1427d0c2.png)

**To Reproduce**
Enable circle for a hackathon

**Expected behavior**
Not sure what we want to do here @PixelantDesign @san

[2020-09-01 12:37] sanchaymittal commented on #7311
@danlipert Right, the convos happening for apollo hackathon will break but it won't give any errors.
For solutions, I can put the screenshots of the previous conversation in the circle and let people know of it. Something like: New Apollo New Townsquare. and describing them the changes.
CC: @PixelantDesign

[2020-09-01 13:45] walidmujahid commented on #7127
Should there be a temporary button on existing grants to allow those who want to create a loopring account for their grant?

[2020-09-01 14:02] SilentCicero commented on #7127
Yep, I’ll email you.

On Tue, Sep 1, 2020 at 9:45 AM Walid Mujahid وليد مجاهد <
notifications@github.com> wrote:

[2020-09-02 10:39] #6803 closed

[2020-09-02 11:10] thelostone-mc commented on #7311
same was highlighted before we had to deploy the PR
https://github.com/gitcoinco/web/pull/7262#pullrequestreview-475383732

It's just a matter of adding an if check to avoid it as opposed to leaving it there.

@PixelantDesign / @sanchaymittal

[2020-09-02 13:23] PixelantDesign opened #7317 "[Bug] Tribes Project Page Displaying Incorrect Results"
**Describe the bug**
Tribes/Orgs Project Page Displaying Incorrect Results

**To Reproduce**

1. Visit this Tribe page https://gitcoin.co/tellor-io/projects
2. See the projects that are displaying (showing projects associated for other tribes)

**Expected behavior**
Only display projects associated with that tribe. In this example Tellor.

**Screenshots**
<img width="1411" alt="Screen Shot 2020-09

[2020-09-02 13:28] PixelantDesign opened #7318 "[Bug ] Tribes Project Page Loads Slowly"
**Describe the bug**
Tribes project page loads slowly.

**To Reproduce**

1. Visit this page https://gitcoin.co/tellor-io
2. Click on Projects - see the page loading

**Expected behavior**
Projects load quickly

**Screenshots**
<img width="1969" alt="Screen Shot 2020-09-02 at 9 25 32 AM" src="https://user-images.githubusercontent.com/238235/91989445-8b3b7780-ecfe-11ea-925b-69d40842b7df.png">

**De

[2020-09-02 15:34] danlipert commented on #7317
To fix this, I believe we need to filter down to only include projects that are for bounties created by an org as well as projects for hackathons that are sponsored for an org. So something like `Projects.objects.filter(bounty__bounty_owner_github_username=tribe_name)` and `Projects.objects.filter(bounty__event__sponsors__in=tribe)`.. maybe there are some other cases where we include as well, and

[2020-09-02 15:38] danlipert commented on #7318
there are a couple of approaches here, and we can probably do all of them to eke out every bit of performance, but the big wins are a) ensuring the query feeding this data is only ORM query, with prefetching all related objects, etc. and/or caching this data and invalidating the cache when a project is saved to the database using a post save hook

[2020-09-02 16:18] owocki commented on #7126
@zoek1 @mds1 are either of u going to be able to get to this?  if not ill probably have to pull someone else in.

[2020-09-02 17:05] zoek1 commented on #7126
I have locked time until friday, i'm able to tackle this until the weekend 😅

[2020-09-02 17:09] mds1 commented on #7131
Hey @zoek1, just saw you were able to tackle #7126, so figured I'd check if you could handle this one as well. I think this should be an easy one for you. The emails are sent when sending a POST request to the `/grants/bulk-fund` route, which happens in the `postToDatabase` function of `cart.js

[2020-09-02 17:09] DeFiDude opened #7319 "[bug] My team member got removed"
**Describe the bug**
I edited grant description, then my team member who was listed as my team member is now no longer listed as my team member, I cannot add him back.

**To Reproduce**
Create a grant with an extra team member listed. Realize you made a mistake in the description, edit it, save it, team member gone.

**Expected behavior**
Team member does not disappear unless he quits.

**Screensh

[2020-09-02 17:09] mds1 commented on #7131
Hey @PixelantDesign, just wanted to follow up on Kevin's comment to see if there's a design for this?

[2020-09-02 18:49] owocki commented on #7126
amazing; thx @zoek1

[2020-09-02 18:55] owocki commented on #7319
who was the team member?

On Wed, Sep 2, 2020 at 11:09 AM DeFiDude <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-02 18:56] DeFiDude commented on #7319
Mysticryuujin

[2020-09-02 18:56] owocki commented on #7131
design for this https://github.com/gitcoinco/web/issues/6822 should work

[2020-09-02 20:39] MysticRyuujin commented on #7319
:wave:

[2020-09-02 22:40] xBruceTheGoose opened #7323 "Profile Issues"
**IBroken Profile*

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Same problem in every browser I attempt. currently using Opera GX
- Browser Version:

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-09-03 15:04] thelostone-mc commented on #7297
https://gitcoincore.slack.com/archives/CBDTKB59A/p1598942803008300?thread_ts=1598369665.019400&cid=CBDTKB59A

we do a round of 15k but we update the banner text to say there is additional 35k but that will not be part of CLR round
@Pixelant / @vivek could you update the ticket with the latest graphic to ensure we know what is to be done
---

design to show all active / past CLR at any given point

[2020-09-03 17:53] yacare555 opened #7327 "I can't apply to new bounties"
**Describe the bug**
Hi guys, I completed this bounty a month ago the owner changed it to Done and I got paid for it as well but it keeps appearing as active and

It prevents me to apply to new bounties because of the limit of active bounties.

bounty: https://gitcoin.co/issue/vue-polkadot/apps/82/4509

Thanks!

**To Reproduce**
Go https://gitcoin.co/issue/vue-polkadot/apps/82/4509.

**Expected be

[2020-09-03 18:14] PixelantDesign commented on #7310
@sanchaymittal could you take a look at this?

[2020-09-03 18:44] owocki commented on #7323
please provide more details; "broken profile" doesnt help our team figure out what your issue is.

[2020-09-03 18:44] #7323 closed

[2020-09-03 21:15] nightwolf3 commented on #7242
Hello
I applied for the task and can get it done in around 4 days tops, I forgot to mention that in my comment sorry

[2020-09-04 00:38] molecula451 commented on #7186
PRing #7329

[2020-09-04 08:12] vporton opened #7331 "Cannot fund a bounty, a JavaScript error!"
Trying to fund a bounty:

[code]

[2020-09-04 14:10] Deepcryptodive commented on #7319
I have the same issue at https://gitcoin.co/grants/1112/goodghosting-a-defi-savings-game

The additional team members got removed after editing the post.
@miohtama @RachBLondon @viraj124

Would be great if this could be fixed :)

Thanks!

[2020-09-04 14:40] walidmujahid commented on #7242
Understood.

[2020-09-04 15:08] thelostone-mc commented on #7327
This is on the bounty flow !
While we look into this , I've increased the number of bounties you can work on to unblock you

Thanks for the report

[2020-09-04 18:35] owocki opened #7334 "user directory v1 feedback"
post via comments below

[2020-09-04 18:39] owocki commented on #7334
* [ ] grants opened filter doesnt work https://bits.owocki.com/kpubegn9
* [ ] date filters dont work https://bits.owocki.com/P8ubwB1Q
* [ ] boolean filters dont seem to work https://bits.owocki.com/DOuxJpry

[2020-09-04 20:17] walidmujahid commented on #7242
@owocki A few more questions:

Where should Statistics, Add Value, and Search Values link to?
Should I just add `disabled` to the Vote button on Empathy for visual and cursor?

Just to be sure, I must ask. By 'unfurl down', do you mean that it should visually be ordered with Collaboration, Empathy, and Stress Reducers at the beginning, but the rest would 'wrap' a row or more below that?

[2020-09-07 10:48] artob commented on #6011
For some reason, this still shows up as an open bounty at https://gitcoin.co/issue/gitcoinco/web/6011/4054

<img width="467" alt="Screen Shot 2020-09-07 at 13 47 39" src="https://user-images.githubusercontent.com/4963/92379853-ced41e00-f110-11ea-99f6-e664192ffda3.png">

[2020-09-07 12:26] aamustapha commented on #7331
Please provide full details to recreating this.

[2020-09-07 13:03] vporton commented on #7331
I already don't remember full details.

Whether it works depends on the price I enter. I entered a price in dollars and it didn't work. I changed the price a little and it worked.

[2020-09-07 18:03] owocki opened #7337 "cant load anything in app due to redis issue"
this is on latest stable

[code]

[2020-09-07 18:15] owocki commented on #7337
Owocki ok fixed with a docker volume rm web_redis; the reason it was happeneing was that i had upgraded my redis to 5.0 a little while ago for testinga  new PR

12:14 PM
and the new redis 4.0 DB couldnt load the 5.0 DB (edited)

[2020-09-07 18:18] #7337 closed

[2020-09-07 21:07] vporton opened #7338 "Should send money back when canceling a bounty"
**Describe the bug**
I canceled a bounty that I funded.

I was told nothing about that my money could be sent back to me.

**To Reproduce**
Create a bounty and cancel it.

**Expected behavior**
Should offer to send the money back to the funder.

**Desktop (please complete the following information):**

- OS: Ubuntu
- Browser: Brave
- Browser Version:

[2020-09-08 07:08] PixelantDesign commented on #7297
Per  our conversation Thursday for Grants R7 we will:

- Add text link in the top banner calling out the Matic round and amount.
- Add Matic header, no change to left rail or IA

[2020-09-08 07:13] PixelantDesign opened #7339 "[DESIGN] Sponsored Grant's Round Experience"
### User Story
As a Gitcoin Grants ecosystem partner, I would like to have a QF page dedicated to my organization so that it's easy to find all of the grants in my sponsored round.

### Why Is this Needed

Experience was not designed to account for this.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
Doesn't exist

### Expected Behavior
Create

[2020-09-08 08:00] #6622 closed

[2020-09-08 08:01] PixelantDesign commented on #7148
what about this @vporton https://github.com/gitcoinco/web/issues/6695?

[2020-09-08 08:02] #7137 closed

[2020-09-08 08:18] PixelantDesign opened #7340 "Hackathon Projects V2"
### User Story

As a hackathon participant on Gitcoin, I'd like a projects page that accurately represents my hackathon project.
As a sponsor of a Gitcoin hackathon, I'd like to know all of the necessary information so that I can properly judge a Hackathon project.
As a developer on Gitcoin, I'd like to know everything that was involved in developing this hackathon project.

### Why Is this Needed

[2020-09-08 08:28] PixelantDesign commented on #7098
Per discussion last week with @danlipert and @octavioamu on tech approach, we will route users from the single project page and take them to the grant page to create a new grant repopulating the fields with project info. From there users will create the grant. The grant will then exist like a normal grant on Gitcoin Grants product.

[2020-09-08 08:29] walidmujahid commented on #7242
An update:

Incomplete demo/video of progress: https://youtu.be/lFJTCs-lsw8

Draft pr opened: https://github.com/gitcoinco/web/pull/7341

I will do my best to complete this by today, however, I may need more time, I will give another update again around 20:00 EST today.

@thelostone-mc perhaps you might have an answer for where the buttons should link to?

[2020-09-08 08:58] PixelantDesign opened #7342 "Quick access/quick pay to developers I frequently work with"
### User Story

As a funder/sponsor using Gitcoin, I'd like Gitcoin to know who I work with often so that I don't have to rely on search to quickly send tips or pay the people I work with regularly.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: So

[2020-09-08 09:00] PixelantDesign opened #7343 "[Bug] Grants Description CSS Issue"
**Describe the bug**
CSS appearing in description

**To Reproduce**
https://gitcoin.co/grants/465/gitcoin-developer-grant-zoek1

**Expected behavior**
No css code junk

**Screenshots**
<img width="1609" alt="Screen Shot 2020-09-08 at 4 58 53 AM" src="https://user-images.githubusercontent.com/238235/92455775-1948af80-f190-11ea-9ffe-7c0b4631cde7.png">

**Desktop (please complete the following inform

[2020-09-08 10:11] vporton commented on #7148
@PixelantDesign Yes, that what I want.

[2020-09-08 10:11] #7148 closed

[2020-09-08 14:23] owocki commented on #7319
@zoek1 any chance u can reproduce + fix the root cause + i can re-add the above team members to the above grants?  divide and conquer FTW

[2020-09-08 17:04] PixelantDesign commented on #7125
@apbendi here is the banner to get users to increase trust bonus.

https://www.figma.com/file/GLvOGLbovtU8scAnIHochM/Grants-Round-7?node-id=1%3A2

<img width="1488" alt="Screen Shot 2020-09-08 at 12 59 49 PM" src="https://user-images.githubusercontent.com/238235/92506673-cbee3180-f1d3-11ea-9233-7e7a91266301.png">

[2020-09-08 17:29] owocki commented on #7242
wow; demo looks amazing / promising!

Just disable them and add a tooltip title that says "Coming Soon"

[2020-09-08 17:47] owocki opened #7344 "BUG "Switch your wallet" view showing on bounty even tho i am logged in / unlocked in metamask as the funder"
https://gitcoin.co/issue/gitcoinco/web/3869/2525

Chrome latest / metamask
There is some sort of race condition bc sometimes this module shows up even when i am logged in as the funder
https://bits.owocki.com/E0unORbQ

We should make it so that the user can click "I am the funder" and get to the funder only links OR it detects when the user is the funder consistently

[2020-09-08 18:27] owocki commented on #6011
@frankchen07 maybe wanna close it?

[2020-09-08 20:22] walidmujahid commented on #7242
Understood.

[2020-09-08 21:45] lorelei1 opened #7345 "Subcategory switches when you publish a grant"
**Describe the bug**

I created a grant and selected "community" as the subcategory, then when I published it showed "security" as the subcategory. Created it again and this time it published as "Defi" being the subcategory 😅 Also tried to cancel the first grant but the cancel button doesn't work

**To Reproduce**

Just create a grant, category tech, subcategory community.

**Expected behavior**

[2020-09-08 21:49] GriffGreen commented on #7345
Please use https://gitcoin.co/grants/1128/commons-stack-community-fund-panvala-league-2 and delete the 1127 one

We are linking to the 1128 one everywhere.

[2020-09-08 22:00] owocki commented on #7345
@thelostone-mc this seems like a bug with the new category models?  cc @zoek1 in case he wants to take a look

[2020-09-08 22:14] owocki commented on #7126
@zoek1 hows it going?

[2020-09-08 22:25] owocki commented on #7242
just pulled down the PR.  top half LGTM; can you code the 2nd half of the page @walidmujahid

[2020-09-08 23:00] frankchen07 commented on #7125
what kind of estimate should we provide with the +x% amount? I was thinking of running some scenarios tomorrow to see the effects on average, but it really depends on 3-4 variables. It'll be a bit difficult to control.

I was thinking the average of differences of all clr rewards by grants between all unverified and all verified by brightID, which would give us the biggest differences

[2020-09-08 23:09] walidmujahid commented on #7242
I am working on the rest of page at the moment. What is LGTM?

[2020-09-08 23:10] walidmujahid commented on #7242
@owocki The whole page isn't fully complete. What is LGTM?

[2020-09-08 23:21] nightwolf3 commented on #7242
It means Looks good to me bro. Good job so far btw!

[2020-09-09 00:13] walidmujahid commented on #7242
I hoped to have a good update by now (~20:00 EST), however, things had come up and it now seems I will be working into the night. I hope to have a better update soon, though.

[2020-09-09 00:13] GriffGreen commented on #7345
There are 2 issues here... we also couldn't cancel the grant probably related to #7223

[2020-09-09 01:59] owocki commented on #7125
depends on the computational complexity of providing the estimate on the fly. i think maybe just +25% if we want to keep it simple.

did we ever build the code to pass through the trustscorebonus on the contribution object/profile objects?  we could re-use that code path if so

[2020-09-09 02:00] owocki commented on #7242
ok no worries; send us an update tomo am

[2020-09-09 10:02] zoek1 commented on #7126
I finished filtering grants, i'll work on this today. The Twitter account that will be verified is the user or the org?

[2020-09-09 10:09] zoek1 commented on #7345
I'll be able to tackle this until friday

[2020-09-09 10:12] zoek1 commented on #7319
Sure, i can work on this until friday

[2020-09-09 12:29] walidmujahid commented on #7242
@owocki

PR opened for review: https://github.com/gitcoinco/web/pull/7341

New demo video - whole page: https://youtu.be/ym2WfDp70A4

[2020-09-09 16:35] alexander-morris commented on #7345
We are experiencing this issue as well with our grant here: https://gitcoin.co/grants/1116/weteachblockchain-free-decentralized-education-2

We clicked 'Education' for the subcategory, but ended up with 'Reddit'

[2020-09-09 16:36] alexander-morris commented on #7223
We are experiencing the same issue here. I created this, but can't seem to cancel it. https://gitcoin.co/grants/1116/weteachblockchain-free-decentralized-education

[2020-09-09 17:58] frankchen07 commented on #7334
- [ ] csv export only exports the first page, not the entire search query
- [ ] labeling when you add a filter is a little weird (exact hacks came up as start, end date)
- [ ] ability to do multiple filters in one search isn't possible

[2020-09-09 21:56] owocki commented on #7223
@zoek1 think you can fit this one in before round 7 starts?

[2020-09-09 22:13] owocki commented on #7130
@zoek1 are you taking this one still? u are assigned.  if not pls lmk so i can reassign it

[2020-09-09 22:59] owocki commented on #7126
@zoek1 we just need to verify that the twitter account added to the grant is owned by the owner of the grant.  so you could make them tweet "I own grant XYZ on Gitcoin" then use the twitter API to verify that the tweet was sent from the right account

[2020-09-10 02:41] owocki commented on #7223
e4b36f7b7bdc657bfc2f2b339371d67b0f245873 fixes the root cause

[2020-09-10 03:07] walidmujahid opened #7347 "localhost errors"
My local build seems to be erroring out. When trying to load in the borwser I recieve a `This page isn’t working localhost didn’t send any data. ERR_EMPTY_RESPONSE`

After looking through the logs, I think, but am uncertain, that it might be the new elasticsearch feature - possible bug introduced in #7204, #7307, or another.

Logs:

[code]

I ran grep for anything related to elasticsearch, I came

[2020-09-10 03:08] walidmujahid commented on #7347
@androolloyd

[2020-09-10 15:49] owocki commented on #7347
@walidmujahid are there any bugs coming from the web_web container?  you should be able to run the web container with out connecting to elasticserach

[2020-09-10 16:12] owocki opened #7351 "grants cart issue"
Chrome Latest

im seeing an issue where i cant scroll down on the carts view in chrome, using round-7-integration branch.  here is a screenshot https://bits.owocki.com/p9uGyXyo

it seems to hapen on the cart when there is enough grants in cart to scroll with

[2020-09-10 16:26] androolloyd commented on #7347
I'll have a look @walidmujahid the library we are using, `django-haystack`, supports elastic search 2, and 5, the live deployment uses the same engine as in the settings.

What do you have as the HAYSTACK_ELASTIC_SEARCH_URL in your env? ? try setting it the to `elasticsearch:9200`

[2020-09-10 18:05] molecula451 commented on #7308
@jdorfman working on it, mind snoozing the bot ?

[2020-09-10 19:02] thelostone-mc opened #7352 "round7 bus"
#### Fixed

- fixed decimal point and added , separator to values
- fixed up logic to show right info when clr is active / not , when grant is part of clr or not , grant is eligible for clr or not
- fixed grant title overflowing to multiple lines
- fix up card view for grants
- show contribution button only if user has logged in
- fix up banner overflowing search field
- update icons for My Contri

[2020-09-11 04:37] walidmujahid commented on #7347
@owocki I was not fully aware about this option, but I have gone ahead an did this. You are right :-)

@androolloyd Well, I had not set it at all. I went ahead and set it it to `elasticsearch:9200` in the env file, however, it did not work. Furthermore, it seem that the elasticsearch container is causing the containers to hang/wait/not run fully causing the error in localhost:8000. However, by sto

[2020-09-11 04:39] walidmujahid commented on #7347
@owocki I did not fully think that through, but I have gone ahead an did this. You are right :-)

@androolloyd Well, I had not set it at all. I went ahead and set it it to `elasticsearch:9200` in the env file, however, it did not work. Furthermore, it seems that the elasticsearch container is causing the other containers to hang/wait/not run fully causing the error in localhost:8000. However, by s

[2020-09-11 12:04] PixelantDesign opened #7355 "Discover Great Projects on Gitcoin"
### User Story

As a developer/sponsor I'd like a way to discover great projects that are results of hackathons  on Gitcoin.

### Why Is this Needed

We have a ton of amazing projects that have come out of various hacks, but we don't have a single page for people to see these success stories (per Scott).

- We want to showcase all of the amazing projects
- Community engagement
- Great for Bd conve

[2020-09-11 12:10] PixelantDesign commented on #7355
**Potential Approaches**

- A dedicated page to showcase projects with a filter by hackathon projects, grants projects, or projects associated grants.
- Display on gitcoin.co/results and re-use the hackathon project page.. just have a ‘best’ flag that we set to true for anyone we want to show up on /results

[2020-09-11 15:48] ceresstation opened #7357 "Invoice totals not displaying correctly"
**Describe the bug**

Currently on invoices with multiple payouts the total displayed only includes one payout. Example here: https://gyazo.com/a45661af2565f81e5b2c350e5d80a7ee

**To Reproduce**

Create a bounty and hence invoice with more than one line item and review the total at the bottom of the PDF.

**Expected behavior**

Some $x times N should be $x*N.

[2020-09-11 15:57] octavioamu commented on #7352
seems now is fixed
![image](https://user-images.githubusercontent.com/1358093/92947365-4914e300-f42e-11ea-8028-09cf1dcda6d8.png)

[2020-09-11 15:59] octavioamu commented on #7352
Seems worked fine for me

[2020-09-11 16:32] scco opened #7358 "GitHub Profile Image Update > Old Profile Image GitCoinCo"

[2020-09-11 17:51] GriffGreen commented on #7223
YAY!

[2020-09-11 19:55] L-KH commented on #6338
I fell like I am from the future here.
I am here from the daily action to have a free Kudos :) , and wanna get it while its 🔥
https://gitcoin.co/action/341/have-a-free-kudos

[2020-09-12 01:04] GriffGreen commented on #7223
<img width="483" alt="Screen Shot 2020-09-12 at 1 41 20 AM" src="https://user-images.githubusercontent.com/14945613/92983587-97fd5f80-f4a4-11ea-8f0f-51de21d61150.png">

[2020-09-13 12:11] vporton opened #7361 "Need exact dates of payments"
For bookeeping purposes, I need _exact_ dates for each payment I send/receive through GitCoin!!

There is no UI for that now.

[2020-09-13 18:13] GriffGreen commented on #7223
Also... can we just make the cancel stuff happen on the front end so we don't have to pay gas to cancel the grant :-D

[2020-09-13 18:28] willyogo opened #7362 "Implement grant cancellation off chain"
### As a grant creator, I want to be able to cancel grants without paying an arm and a leg for gas.

### Why this is needed:
I just tried to cancel a grant and the estimated gas fee was .393 ETH ($141.35 at current prices)! This is using metamask's estimate of 3,000,000 gas limit, so in practice the transaction should cost less, but nonetheless gas prices could continue to rise and become even mor

[2020-09-13 19:05] jamespfarrell commented on #7362
Yeah that's a real waste of money that could be put to good use...

[2020-09-13 21:15] owocki commented on #7362
i have a PR out that fixes this; going out Tuesday!

[2020-09-13 21:21] alexander-morris commented on #7223
Sorry for all the trouble guys. If I just fund the wallet I created the grant with, can I pay the gas to cancel it myself?

[2020-09-13 21:25] owocki opened #7363 "As a user of BTC, I would like to Integrate BTC and/or the Lightning Network into Gitcoin Bounties; so that i can pay bounties in HARD MONEY 💰🧗‍♀️"
<img src=https://user-images.githubusercontent.com/513929/93029115-0ee64580-f5d6-11ea-9b1a-e1927d4c6d0e.png width=200 height=200> <img src=https://user-images.githubusercontent.com/513929/93029119-1ad20780-f5d6-11ea-86e4-5dfed5d8c967.png width=250 height=250>

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of BTC, I would like to Integrate BTC and/or th

[2020-09-13 21:34] owocki opened #7364 "gitcoin.co/new?url=X no longer works"
**Describe the bug**

gitcoin.co/new?url=X no longer works

when u go to gitcoin.co/new?url=X ,X should be filled into the URL bar for the bounty input; and the github issue metadata should load.

**To Reproduce**

go to gitcoin.co/new?url=X

**Expected behavior**

upon page load ,X should be filled into the URL bar for the bounty input; and the github issue metadata should load.

**Screenshots**

[2020-09-13 21:52] owocki opened #7365 "DESIGN - gitcoin.co/new loading indicator"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of gitcoin.co/new, when I submit the form, the system doesnt immediately respond to let me know it's "thinking".  Bc of this, I am left to wonder whether something broke or whats up?   It makes me trust the system less.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed.

[2020-09-13 21:54] owocki opened #7366 "change bounty form does not present correct bounty amount as a prefill"
https://gitcoin.co/issue/gitcoinco/web/7363/100023697

when i go to edit this issue, a very small number gets prefilled into the bounty details page https://bits.owocki.com/2NuyZjgE

It should prefill with the bounty amount (currently 30 ETH)

[2020-09-14 01:47] owocki commented on #7345
@zoek1 any luck

[2020-09-14 01:49] owocki commented on #7319
wooo thanks @zoek1 !  can you make the team members editable on the grant desc? does your PR do that?

[2020-09-14 01:50] owocki commented on #7223
were deploying a change tomorrow that ll make it so u dont have to submit a txn to cancel the grant. pls hang tight

[2020-09-14 01:51] owocki commented on #7168
deployed at https://gitcoin.co/grants/matching-partners/new

[2020-09-14 01:53] owocki commented on #7165
@zoek1 does ur PR only show grants ur the owner of, or team members too?

[2020-09-14 01:54] #7166 closed

[2020-09-14 01:54] owocki commented on #7131
@zoek1 any chance u can take this one?

[2020-09-14 01:58] #7128 closed

[2020-09-14 02:51] thelostone-mc commented on #7345
I wasn't able to reproduce this locally but it does seem to happen in live
I've updated the grant subcategory @alexander-morris  + @lorelei1 to unblock you

[2020-09-14 02:58] thelostone-mc commented on #7319
@DeFiDude We've got a fix which works locally and this should roll out today !

[2020-09-14 03:03] thelostone-mc commented on #7222
![image](https://user-images.githubusercontent.com/5358146/93039346-e3f70280-f664-11ea-8a70-da6aa176ed13.png)

[2020-09-14 04:12] zoek1 commented on #7319
Yep, ir world for team members

[2020-09-14 04:34] owocki opened #7369 "Option to Migrate Kudos Contract to xDAI from Mainnet"
We recently stopped issuing kudo txns from our minter because the gas prices were too high.

The scope of this feature is to migrate Kudos Contract to xDAI from Mainnet to xdai, which has lower gas prices.

We could then mint kudos on xdai, and send them for very cheap.

Scope:
- In the kudos send flow, the user can select to send on xdai or mainnet
- In the bulk kudos redeem flow, the user will g

[2020-09-14 04:40] owocki commented on #7361
https://gitcoin.co/settings/account

can u export ur earnings ?

[2020-09-14 04:42] owocki commented on #7362
sorry was just testing.

PR that fixes this goes out tomorrow

[2020-09-14 04:54] Kennydoneit commented on #5334
A quest with a journey on how to share crypto with newbie ( people seem to put DEFi into the 2 hard basket)

[2020-09-14 05:04] Kennydoneit opened #7370 "GiTFi. Is. DEFi."
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2020-09-14 08:52] zoek1 commented on #7165
Yep, i added the rules for both right here https://github.com/gitcoinco/web/blob/f2a71d8e9931c981e9a2c9e750c9bf8f917c334d/app/grants/views.py#L376

[2020-09-14 08:52] zoek1 commented on #7168
Thanks for the help!

[2020-09-14 10:07] zoek1 commented on #7131
Sure, lets do it!

[2020-09-14 11:41] owocki commented on #7131
@zoek1 i just added a stopgap commit to stop sending 2 emails in 436a1f81c4254ba540ed88bb88fea410e321c5c5 ; if u could put the new email in thatd be 💯

[2020-09-14 13:39] lucadgtrip commented on #7222
same problem.
It links to https://twitter.com/https://twitter.com/tripscommunity
and there seem to be no way to fix it.
Edit My Info shows an empty field, when I add tripscommunity, it doesn't change it.

![Screenshot 2020-09-14 at 16 37 13](https://user-images.githubusercontent.com/34341206/93092992-d6fc0280-f6a8-11ea-8dcc-3cad4b9eb51a.png)

[2020-09-14 14:25] vporton commented on #7361
Yes I can. But it is unnoticeable in the UI and presents no GUI to view. These are misfeatures.

[2020-09-14 15:07] androolloyd commented on #7334
- will debug alongside other currently invalid search strings.

- needs a date analyzer setup for elastic search as well as a front end component for picking date/time

- like the above the analyzer doesn't seem to detect these correctly, more debugging required,

- its doable, but requires hooking into the internal store of the innerSearch.js library, with the param values, can be done, just a ma

[2020-09-14 15:24] willyogo commented on #7362
amazing, thank you sir! I owe you a beer! 😄

[2020-09-14 15:37] owocki opened #7372 "Gitcoin Grants Deploy Checklist"
deploy actions (monday)
- [x] setup brightid calendar entries => https://docs.google.com/document/d/1wzPrlYu6K4R_lOcpYetU_52u4yrcozzBFVrEWjschnw/edit?usp=sharing
- [x] review zoek pr / get that working
- [x] setup image headers on grants pages
- [ ] publish 'its deployed if u want to test; heres how to submit bugs' tweet

testing
- [ ] test L1 checkout
- [ ] test zksync checkout (you have a balanc

[2020-09-14 15:43] adamstallard commented on #7372
**Question:**
Can the list items have end times?

**Comment:**
Both airmeet and zoom links have "add to calendar" options for several calendar types, so we can link directly to their registration pages. Discord doesn't, but it's also "always open."

[2020-09-14 16:24] vporton opened #7373 "I need recurring bounties"
I want to pay some sum to person(s) every week (or not every week, if I am unable to pay in a given week) for doing recurring work.

Please add such a feature to Gitcoin.

While there is no such special feature, how can I do this with Gitcoin now? I am afraid that if I post a bounty every week, this would be like spam. What to do?

[2020-09-14 16:36] owocki commented on #7319
https://gitcoin.co/grants/191/brightid-universal-proof-of-uniqueness

need to re add adam stallard  and alirezapaslar to the grant

[2020-09-14 16:51] GriffGreen commented on #7345
Not sure what happened here... but somehow 1128 got canceled and 1127 is now our live grant... :-(

" More work?"

![more work?](https://user-images.githubusercontent.com/14945613/93114708-3400b400-f6bb-11ea-9fa5-496131e5f0af.gif)

[2020-09-14 18:16] vporton opened #7375 "Document gitcoinco/web branches"
Please document all the most important (e.g. `master`, etc.) branches of `gitcoinco/web` in either `README.md` (I'd say preferred) or in https://docs.gitcoin.co/mk_setup/

Sometimes running GitCoin while developing is a hassle because I don't know how to choose the branch to run.

[2020-09-14 18:56] owocki commented on #7319
27379baf1e9049e0bf9fa5438975434ed1f1fc79

just added a script to re-add team members that have been mistakenly removed, and updated all the grants who people reported here to fix their data integrity issues.

if any other grants are missing team members, pls give me the grant url + the list of team members by gitcion usernames + we can re-add those too

[2020-09-14 19:23] #7223 closed

[2020-09-14 22:55] lu-calm opened #7379 "Unable to verify twitter account"
Tried to verify my account going through the process and tweeting the required info ([https://twitter.com/lu_calm/status/1305639938717749248](https://twitter.com/lu_calm/status/1305639938717749248))

But it didn't seem to work

[2020-09-14 23:14] chloethedev opened #7380 "Not sure how to verify my grant?"
I am having an issue verifying my grant: https://gitcoin.co/grants/902/the-marma-j-foundation. I tweeted the given statement, but I am not getting any indication I have done it correctly, and it still seems unverified.

[2020-09-14 23:19] JTraversa opened #7381 "Grant Verification"
Looking for a hand with my grant verification. much appreciated as always!

Grant: https://gitcoin.co/grants/1103/the-defihedge-protocol

Twitter Post: https://twitter.com/TraversaJulian/status/1305636668729417728

[2020-09-14 23:25] owocki commented on #7380
@chloethedev u have to click 'verify' on the modal after the tweet is out so it can go fetch the tweet.

@zoek1 maybe we could clean up the UI here/make it more claer?

[2020-09-14 23:27] owocki commented on #7381
whats the issue u r having ?  maybe @zoek1 can help?

[2020-09-14 23:28] owocki opened #7382 "kevins grants deploy day QA"
showstoppers
- [x] cant checkout with zksync due to CORS issue (dmed matt about this)

major issues
- [x] default number when i add to cart is 0 DAI https://bits.owocki.com/6quel2AX - it should default to 5 DAI
- [x] each grant card says "last clr match round" instead of 'clr match round 7' or 'infra match round'
- [x] theres no way to browse by infra tech vs app tech in the UI - how do i know whi

[2020-09-14 23:41] chloethedev commented on #7380
When I clicked the verify button it gave me a red status text saying to not remove the inform " I verify that I own XYZ Grant” I had to leave the house so I left that open but it's been open for about 20 minutes so far.

[2020-09-14 23:41] chloethedev commented on #7380
@owocki by the way, thank you very much for the quick response.

[2020-09-14 23:43] JTraversa commented on #7381
When clicking "verify" i get the message,

" Don't remove the intent "I am verifying my ownership of The DefiHedge Protocol on Gitcoin Grants at https://gitcoin.co/grants/1103/the-defihedge-protocol." "

Am I missing something and there is there another step?

[2020-09-15 00:04] zawadilabs opened #7385 "Grant Verification"
We did not include our twitter handle when posting the grant. How do we get verified? I cannot find an option to add the twitter account.

[2020-09-15 01:45] Mitchellpkt opened #7386 "Repace double @@ on twitter URLs"
The text box prompt for creating a grant suggests an `@` in the handle, see below:

<img width="628" alt="image" src="https://user-images.githubusercontent.com/21246742/93155043-64981c00-f6c2-11ea-9d9e-e4543deb49ca.png">

I submitted in this format `@InsightObservatory`, and posted the [verification tweet](https://twitter.com/InsightObserva1/status/1305682826096832512). Unfortunately, the Verify b

[2020-09-15 01:53] Mitchellpkt commented on #7386
Actually, I'm not sure what's going on... I nuked the first grant, and made a second one, being very careful to leave off the `@` suffix during registration. But I am encountering the same verification failure.

[2020-09-15 01:55] Mitchellpkt commented on #7386
Here is the grant: https://gitcoin.co/grants/1164/observatory-netsec-dashboard-api-and-research-da-2

And the post: https://twitter.com/InsightObserva1/status/1305685763179208704

[2020-09-15 02:13] willsputra commented on #7382
- grants cart not loading (stuck at "Fetching cart data"), also saw this 404 for brightid, could it be the reason?
![Screenshot 2020-09-15 at 10 10 29 AM](https://user-images.githubusercontent.com/19514207/93156997-e2e4d480-f73b-11ea-8d48-9a7b6dd1f3b6.png)
![Screenshot 2020-09-15 at 10 10 33 AM](https://user-images.githubusercontent.com/19514207/93156999-e4ae9800-f73b-11ea-82b2-7829810c1e38.png)

[2020-09-15 02:29] willsputra opened #7387 "Tooltip doesn't show up on hover of Verified logo on Grants cards"
**Describe the bug**

Tooltip doesn't show up on hover of Verified logo on Grants cards.

On Grid view, tooltip blinks and doesn't show up properly on hover.
On List view, the tooltip doesn't show up at all on hover.
https://share.vidyard.com/watch/KjXpFRa8F1DBxR4NyYxSaQ?

**To Reproduce**

Go to https://gitcoin.co/grants and hover on the blue checkmark on Grants card

**Expected behavior**

Toolt

[2020-09-15 02:39] willsputra commented on #7387
On Grants details page, the tooltip doesn't appear long enough for me to click "Learn more"
https://share.vidyard.com/watch/zcuk1hyA6ouhVNHZkGcgAm?

[2020-09-15 04:30] lucadgtrip opened #7388 "Can't edit Twitter link"
In the Twittter field I inserted https://twitter.com/tripscommunity instead of tripscommunity.
Now it links to https://twitter.com/https://twitter.com/tripscommunity
and there seem to be no way to fix it.
Edit My Info shows an empty field, when I add tripscommunity, it doesn't change it.

I can't verify my Twitter account as a result.

![gitcoin twitter bug](https://user-images.githubusercontent.c

[2020-09-15 05:24] lu-calm opened #7389 "Unable to add twitter account post grant creation to then verify"
I am having issues with the twitter verification process.

I have realised it might be because I didn't submit a twitter account when I first submitted the grant proposal.

I am unable to see the location for a twitter account to be added when I click the edit button.

Gitcoin Grant Page - [https://gitcoin.co/grants/1119/eth-ter-i-die?tab=contributors](https://gitcoin.co/grants/1119/eth-ter-i-die?

[2020-09-15 05:53] willyogo commented on #7362
Just tested in prod and can confirm this is working great now :) thanks again and good luck with round 7!

[2020-09-15 05:53] #7362 closed

[2020-09-15 07:04] ErikBjare opened #7390 "Verifying Twitter fails"
So, a few things:

 1. I don't see a Twitter account listed? (and no way to set it)
 2. Trying to verify the Twitter account we have (@ActivityWatchIt) fails.
 3. The account is empty (see attached image).

The grant: https://gitcoin.co/grants/383/activitywatch-open-source-automated-time-tracker

The tweet: https://twitter.com/ActivityWatchIt/status/1305764224510169089

![image](https://user-image

[2020-09-15 07:57] Calvinoea opened #7391 "Dropdown arrows in categories section overlap to next line"
**Describe the bug**

Hello. I noticed the categories section on the sidebar has some drop-down arrows that are overlapping where the text is longer in length.

**To Reproduce**

When the [grants page](https://gitcoin.co/grants/) is visited

**Expected behavior**

Dropdown arrows in the categories section to stay on the side of text.

**Screenshots**

![Screenshot 2020-09-15 at 08 49 37](https://u

[2020-09-15 08:31] coolcryptomaniac opened #7392 "Verify my grant"
Kindly verify my grant

Already tweeted with twitter id @cryptocyclops but it's not working.

[2020-09-15 08:52] thelostone-mc opened #7393 "issues"
heres my list of things im tracking
showstoppers
- [ ] cant checkout with zksync due to CORS issue (dmed matt about this)

major issues
- [ ] default number when i add to cart is 0 DAI https://bits.owocki.com/6quel2AX - it should default to 5 DAI
- [ ] each grant card says "last clr match round" instead of 'clr match round 7' or 'infra match round'
- [ ] theres no way to browse by infra tech vs ap

[2020-09-15 09:09] thelostone-mc commented on #7386
It looks like your handle is incorrect !
It should be `InsightObserva1`

[2020-09-15 09:09] #7393 closed

[2020-09-15 10:04] hernandezema opened #7394 "Grant Verification Issue"
Can you kindly verify me

I already tweeted with twitter id @digiwills_io but it's not working.

[2020-09-15 10:16] tarun1475 opened #7395 "Not able to edit my twitter handle at Gitcoin Grant"
Hey Team,

I have created a gitcoin grant and entered the twitter handle incorrectly by mistake.
How can i edit that as it is showing cannot verifying your twitter account.

https://gitcoin.co/grants/1099/parcel

Thanks

[2020-09-15 10:29] thelostone-mc commented on #7395
https://github.com/gitcoinco/web/pull/7384 will be rolled out in a few hours!

[2020-09-15 10:30] thelostone-mc commented on #7394
https://github.com/gitcoinco/web/pull/7384 should allow you edit twitter field !
Could you also share your grant link so that we can verify ?

[2020-09-15 10:30] thelostone-mc commented on #7392
@coolcryptomaniac could you share the grant link + twitter link ?

[2020-09-15 10:56] nicc938 commented on #6860
Hello

[2020-09-15 11:24] octavioamu commented on #7394
@hernandezema I don't see your verification tweet on your twitter account https://twitter.com/digiwills_io
You should tweet from that account and press the verify button.

[2020-09-15 11:41] jrmr92 opened #7396 "Cannot Verify BCComparison Twitter profile for grant"
![image](https://user-images.githubusercontent.com/37453027/93206084-2568da00-f759-11ea-81c4-0d46965219a4.png)

[2020-09-15 12:44] lucadgtrip commented on #7388
never mind, I launched a new grant and cancelled this one

[2020-09-15 12:55] mds1 commented on #7382
@willsputra Were there any other errors in the console when you saw that?

[2020-09-15 13:04] willsputra commented on #7382
@mds1 saw this one too. Brave V1.13.86 btw.
<img width="534" alt="Screenshot 2020-09-15 at 9 03 32 PM" src="https://user-images.githubusercontent.com/19514207/93213873-00935780-f797-11ea-8d81-8a7bc77ffa93.png">

[2020-09-15 13:07] willsputra commented on #7382
@mds1 I just tried it again. this happens when my Metamask is locked. after I unlock Metamask and refresh the page, it works!

[2020-09-15 13:08] mds1 commented on #7382
From your screenshot, it looks like the cause of the issue is that you don't have a wallet connected, which makes sense because the error message says `Cannot read property eth of undefined`. It should prompt you to connect a wallet on page load though

[2020-09-15 13:13] willsputra commented on #7382
hmm I didn't seem to get any prompt, just stuck at fetching cart
https://share.vidyard.com/watch/Y92SB1MvUZ3Z6CY3KfiTDt?

[2020-09-15 13:19] mds1 commented on #7382
Hey @octavioamu, any idea why the wallet connection prompt isn't showing up? `needWalletConnection()` is called in `cart.js` so that should display the prompt

[2020-09-15 13:48] coolcryptomaniac commented on #7392
Grant link - https://gitcoin.co/grants/362/cryptomaniac-crypto-blog-with-media-and-entertain

Tweet link - https://twitter.com/cryptocyclops/status/1305782470948712448?s=20

[2020-09-15 13:53] owocki commented on #7392
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:53] owocki commented on #7394
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:54] owocki commented on #7395
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:54] owocki commented on #7396
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:54] owocki commented on #7390
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:54] owocki commented on #7389
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 13:54] owocki commented on #7388
@zoek1 can u help here? seems a lot of ppl are having issues verifying their grant.

[2020-09-15 14:20] willsputra opened #7397 "Grants/zkSync checkout: what happens if deposit tx fails?"
**Describe the bug**

When my deposit tx (Step 3) failed (https://etherscan.io/tx/0x6858b7f3ae7e497c7401aba9b469e67c7b47bae90d249d77a77fa305dbb5ded3), the modal still says Processing although "View transaction" still brings you to the failed tx.

The "X of 10 confirmation" still continues but I was stuck at the "Waiting for deposit to be confirmed with zkSync". My DAI didn't seem to get transferre

[2020-09-15 14:50] owocki commented on #7382
verification call dates should be in local times https://bits.owocki.com/6quelnGv

[2020-09-15 15:12] cranders1 opened #7398 "Twitter verification failure"
Error:
Don't remove the intent "I am verifying my ownership of Pandemic Pods &amp; Distance Learning on Gitcoin Grants at https://gitcoin.co/grants/1198/pandemic-pods-distance-learning."

Verification tweet
https://twitter.com/AmwFund/status/1305886270611009536?s=20

[2020-09-15 15:13] DeFiDude opened #7399 "can't verify my twitter for my grant"
![image](https://user-images.githubusercontent.com/59237470/93229279-090a7480-f73c-11ea-98e6-82ef61b94329.png)

grant is for archivenode.io

[2020-09-15 15:15] willsputra opened #7400 "Grants: As a grant donor, I would like to know why some grants are "Not Eligible for CLR""
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a grant donor, I would like to know why some grants are "Not Eligible for CLR"

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Some grants on https://gitcoin.co/gra

[2020-09-15 15:16] DeFiDude commented on #7399
Here's the tweet: https://twitter.com/ArchiveNode/status/1305886982120366080

and the grant: https://gitcoin.co/grants/1101/archivenodeio-the-public-access-ethereum-archive-n

[2020-09-15 15:17] #7319 closed

[2020-09-15 15:36] WestCoastWalker opened #7401 "Verify and Remove Old Grant"
I have shared my Twitter comment, but the UI is not allowing me to "verify".

Also, I have two grants created. I am trying to delete the one that uses the moneygames_info Twitter handle. However, everytime I delete it, it does not get removed. Please remove the moneygames_info grant, but leave the moneygames.info grant.

Thanks!

[2020-09-15 15:42] thelostone-mc commented on #7395
This has been rolled out ! You should be able to edit it

[2020-09-15 15:42] #7395 closed

[2020-09-15 15:43] willsputra commented on #7401
Hi @WestCoastWalker , was there any error that you encountered when you tried to "Verify"? cc @zoek1

[2020-09-15 15:43] thelostone-mc commented on #7388
This has been rolled out ! You should be able to edit the twitter link

[2020-09-15 15:43] #7388 closed

[2020-09-15 15:44] thelostone-mc commented on #7386
@Mitchellpkt you should be able to edit the twitter link as well! we just rolled this out

[2020-09-15 15:46] willsputra commented on #7385
@zawadilabs Hi! You can go to your Grants page and click "Edit Info" to add your twitter handle. Let me know if you're still facing any problems :)

[2020-09-15 15:49] willsputra commented on #7399
@DeFiDude could you try this:
1. Go to your Grants page
2. Click "Edit Info"
3. Remove the "@" from your twitter handle
4. Verify again?

Thank you! Let us know if you're still facing any problems :)

[2020-09-15 15:50] willsputra commented on #7398
@cranders1 could you try this:
1. Go to your Grants page
2. Click "Edit Info"
3. Remove the "@" from your twitter handle
4. Verify again?

Thank you! Let us know if you're still facing any problems :)

[2020-09-15 15:52] DeFiDude commented on #7399
Just tried it again doing that and it didn't work @willsputra

I also tried removing the tweet and redoing the entire process to no avail with the @ removed

[2020-09-15 15:53] Mitchellpkt commented on #7386
Oops, closing because PEBCAK :- P

[2020-09-15 15:53] #7386 closed

[2020-09-15 15:59] willsputra commented on #7399
@DeFiDude gotcha. we're investigating now, will update you soon!

[2020-09-15 16:03] willsputra commented on #7379
@lu-calm could you send us the link to your grant? thank you! :)

[2020-09-15 16:12] willsputra commented on #7380
@chloethedev looks like there's no twitter account associated to your grant when you created it, so the verification didn't work. we're working on a fix so you can add a twitter account when you edit your grant - will keep you posted! :)

[2020-09-15 16:13] willsputra commented on #7390
@ErikBjare  looks like there's no twitter account associated to your grant when you created it, so the verification didn't work. we're working on a fix so you can add a twitter account when you edit your grant - will keep you posted! :)

[2020-09-15 16:13] willsputra commented on #7381
@JTraversa   looks like there's no twitter account associated to your grant when you created it, so the verification didn't work. we're working on a fix so you can add a twitter account when you edit your grant - will keep you posted! :)

[2020-09-15 16:14] willsputra commented on #7392
@coolcryptomaniac looks like there's no twitter account associated to your grant when you created it, so the verification didn't work. we're working on a fix so you can add a twitter account when you edit your grant - will keep you posted! :)

[2020-09-15 16:15] willsputra commented on #7394
@hernandezema could you share your grant url? thanks! :)

[2020-09-15 16:15] willsputra commented on #7396
@jrmr92 could you share your grant link here? thanks! :)

[2020-09-15 16:20] jrmr92 commented on #7396
Hi William,

Thanks for getting back so quickly.

Here's the link:
https://gitcoin.co/grants/1173/blockchain-comparisoncom-1-support-to-help-you-gro

William S. Goi <notifications@github.com> schrieb am Di., 15. Sep. 2020,
18:16:

[2020-09-15 16:28] willsputra commented on #7389
@lu-calm we're working on a fix! :)

[2020-09-15 16:30] JTraversa commented on #7381
Woopsies, makes sense hah apologies for the spam!

[2020-09-15 16:30] #7381 closed

[2020-09-15 16:39] sembrestels opened #7403 "CORS issue with zkSync API prevents giving money"
**Describe the bug**

On the grants cart page, when donating to a grant and clicking on Checkout with zkSync, I get the following error in the console:

![Screenshot from 2020-09-15 18-24-24](https://user-images.githubusercontent.com/931684/93237681-b99a6780-f780-11ea-810b-bee23af0d494.png)

**To Reproduce**

Add a grant in the cart, go to https://gitcoin.co/grants/cart and click on `Checkout with

[2020-09-15 16:40] thelostone-mc commented on #7400
Oh that was a request for vivek like ensure grants like personal grant / kernel don't get listed !
I don't think it's applicable for public grants in general

[2020-09-15 16:46] chloethedev commented on #7380
@willsputra Thank you for the update. Just trying to make sure I am doing everything correctly. Thanks for all the great work you all do!

[2020-09-15 16:48] Jeff-Emmett opened #7404 "Can't verify grant as no project twitter account was specified"
Hello there,

I'd like to verify the following grant: https://gitcoin.co/grants/1141/conviction-voting-cadcad-model-feature-improvement

But I'm not able to as a "project twitter account" was not specified in the grant creation process, and I am not able to add one after the fact.

Plz help!  Thank you kindly =)

Jeff

[2020-09-15 16:54] willsputra opened #7406 "Grants/BrightID Event timezones"
It's not clear which timezone the BrightID events are in. We should show the timezone or better, show it in the user's timezone.
<img width="492" alt="Screenshot 2020-09-16 at 12 53 18 AM" src="https://user-images.githubusercontent.com/19514207/93240726-11ec5c00-f7b7-11ea-84ca-3c0ea567c27b.png">

[2020-09-15 16:55] willsputra commented on #7404
@Jeff-Emmett we're working on a fix! :) you should be able to add your twitter account once the fix is live. will keep you posted!

[2020-09-15 16:55] WestCoastWalker commented on #7401
Yes, nothing happened. It was like the verify button was dead or disabled.

Sent from my iPhone

[2020-09-15 16:57] willsputra commented on #7401
@WestCoastWalker I see... could you share your grant link here? will take a look. thanks!

[2020-09-15 16:58] shadow00 commented on #7363
I know what Bitcoin is the largest (by market cap) crypto out there, but personally I would rather not take payments in BTC due to the high risk of getting tainted coins, either by negligence or malice on a funder's side.
Without a mechanism to block any funding coming from [potentially] shady resources, this exposes the bounty recipient to a big vulnerability, as they would not be to send their h

[2020-09-15 17:10] wighawag opened #7407 "twitter verification for buidler-deploy grant"
Hey I saw warning message telling the twitter account associated with grant was not verified
So I tried to verify via twitter but then after posting the following message : https://twitter.com/wighawag/status/1305912672857337857 and clicking "verify" it tell me that I do not have a twitter account associated with my account
So not sure what to do if anything
Thanks

[2020-09-15 17:15] willsputra commented on #7407
@wighawag could you share your grant link here? will take a look. thanks!

[2020-09-15 17:49] owocki commented on #7397
@mds1

[2020-09-15 17:52] owocki commented on #7399
just verified this grant manually since defidude is a known entity

[2020-09-15 17:55] WestCoastWalker commented on #7401
Thanks!

https://gitcoin.co/grants/1067/moneygamesinfo-2

Sent from my iPhone

[2020-09-15 17:57] owocki commented on #7382
it shouldnt show 'last CLR round' when no round is active' https://bits.owocki.com/6quegKwE

[2020-09-15 18:42] mul1sh commented on #7363
@shadow00 Hmmm, I think the myth of tainted coins has been [debunked](https://news.bitcoin.com/theres-no-such-thing-as-tainted-bitcoins/) but should this ever be an issue, we can easily sort this by having funders send funds through a custom mixer or btc wallets connected to the TOR network which will completely obfuscate any traceability in the "tainted" coins.

Also BTC by nature of it being a c

[2020-09-15 19:25] owocki opened #7408 "The BIG Grants Round 7 Feedback Thread"
Welcome to the BIG Gitcoin Grants CLR Round 7 Product Feedback Thread!

Grants is one of our core products alongside [Gitcoin Hackathons](https://gitcoin.co/hackathon-list). We improve grants on an iterative cycle around Gitcoin Grants rounds.

The next big effort to improve grants will be CLR round 8 (Dec 2020)

This is a thread where you can catalogue product feedback for us to work on for the n

[2020-09-15 19:26] owocki commented on #6860
round 7 ticket https://github.com/gitcoinco/web/issues/7408

[2020-09-15 19:26] #6860 closed

[2020-09-15 19:28] realChainLife opened #7409 "Grant verification failed"
Just created a new grant for our #Kernel project [Porium](https://github.com/porium), tried using a listed [personal twitter account](https://twitter.com/realChainLife) to verify [the grant](https://gitcoin.co/grants/1209/porium) by sending out a [tweet](https://twitter.com/realChainLife/status/1305947126103502853) but so far verification has failed.

Kindly help me troubleshoot this.

[2020-09-15 19:44] aliatiia opened #7410 "How do I add a twitter handle for a grant?"
<img width="496" alt="Screen Shot 2020-09-15 at 3 43 19 PM" src="https://user-images.githubusercontent.com/42751398/93257097-5bfb2080-f76a-11ea-8796-329c919b3b2d.png">

[2020-09-15 19:47] owocki commented on #7403
working on this with the zksync team

[2020-09-15 19:47] owocki commented on #7410
@zoek1 working on a PR

[2020-09-15 19:51] aliatiia commented on #7410
Thanks @owocki meanwhile could you guys manually tie up this grant to this twitter handle `aliatiia_`? Or should I just delete and start a new grant?

[2020-09-15 19:55] owocki commented on #7410
done

[2020-09-15 20:08] coolcryptomaniac commented on #7392
Ok np, there was no option back then to add twitter account when I created the grant. Still this time very great changes has been made I am liking the design and over all feel , will try to give suggestions after few days ☺️👍

[2020-09-15 20:12] aliatiia commented on #7410
The [tweet is live](https://twitter.com/aliatiia_/status/1305959408342634496?s=20) but I don't think the system is picking it up

<img width="1275" alt="git" src="https://user-images.githubusercontent.com/42751398/93259645-26583680-f76e-11ea-9d41-f13a76fdc25d.png">

[2020-09-15 20:20] owocki commented on #7410
hmmm @zoek1 any idea?

[2020-09-15 20:35] aliatiia opened #7411 "Whitelist links to yEarn forum"
### User Story

URLs of https://gov.yearn.finance/ in the `Activity` section of the grant become clickable, just like those to e.g. github.com or ethresear.ch

### Why Is this Needed

The yEarn goverance forum is currently serving as a research hub as well. For convenience of funders, links to this forum should be clickable.

### Description

*Type*: feature

### Current Behavior

Links are plain

[2020-09-15 20:55] BobTheBuidler opened #7413 "Gitcoin wants me to verify Twitter account but won't let me add Twitter account to my grant"
Gitcoin wants me to verify my Twitter but I am unable to add a Twitter account to my existing grant.
I specified my Twitter account during the grant creation process but did not specify a twitter account for the project as one does not exist.
Unsure how to proceed, am I just missing something obvious here?

[2020-09-15 21:04] wighawag commented on #7407
The link is in the tweet :)  https://gitcoin.co/grants/972/buidler-deploy
Thanks!

[2020-09-15 21:07] zoek1 commented on #7392
Hi @coolcryptomaniac, thanks for your patience. The option to add/edit the twitter account was added, can you add your twitter account to your grant and repeat the verification process. Let me know if it works for you! :smiley:

[2020-09-15 21:08] zoek1 commented on #7390
Hi @ErikBjare, thanks for your patience. The option to add/edit the twitter account was added, can you add your twitter account to your grant and repeat the verification process. Let me know if it works for you! :smiley:

[2020-09-15 21:10] zoek1 commented on #7389
Hi @lu-calm, thanks for your patience. The option to add/edit the twitter account was added, can you add your twitter account to your grant and repeat the verification process. Let me know if it works for you! :smiley:

[2020-09-15 21:16] zoek1 commented on #7396
Hi @jrmr92, thanks for your patience. It seems twitter short the name of your grant due twitter detect it as a URL. Now it should be fixed, could you repeat the verification process and let us know if it works?

[2020-09-15 21:18] zoek1 commented on #7399
It seems twitter short the "ArchiveNode.io" fragment of your grant due twitter detect it as a URL. Now it should be fixed.

[2020-09-15 21:20] zoek1 commented on #7401
Hi @WestCoastWalker, thanks for your patience. It seems twitter short the name of your grant due twitter detect it as a URL. Now it should be fixed, could you repeat the verification process?

[2020-09-15 21:22] zoek1 commented on #7404
@Jeff-Emmett the option to add your twitter account is now available for your grant. Let us know if it works!

[2020-09-15 21:26] zoek1 commented on #7407
It seems you don't have a twitter account in your grant. Can you added and repeat the verification process? Let us know if it works for you!

[2020-09-15 21:30] zoek1 commented on #7409
It seems you don't have a twitter account in your grant. Can you add your twitter account clicking in the edit info button? after that save your changes and repeat the verification process. Let us know if it works for you!

[2020-09-15 21:31] cranders1 commented on #7398
Thnx @willsputra
Updated the Twitter user name to AmwFund w/o the @. Still failing.
Error:
Unable to verify tweet from AmwFund. Is the twitter post live? Was it sent from AmwFund?
 Tweet
https://twitter.com/AmwFund/status/1305980553313677312?s=20
Much thanks.

[2020-09-15 21:36] wighawag commented on #7407
Hi @zoek1 as mentioned in my tweet replies, I have no idea how to do it
the reason I started the process was that I got a warning on the website telling me to verify my twitter account. which is weird if never associated it

[2020-09-15 21:50] owocki commented on #7398
@zoek1 is it maaybe a casing issue?  im noticing the fialiures all have upper case letters in them

[2020-09-15 21:50] owocki commented on #7413
@zoek1 can u help

[2020-09-15 21:51] ErikBjare commented on #7390
Wow, you guys work fast! Works perfectly, thanks.

[2020-09-15 21:51] #7390 closed

[2020-09-15 21:52] zoek1 commented on #7410
Sure, it seems twitter escape the characters `& -> &amp;`. It should be fixed in https://github.com/gitcoinco/web/pull/7414

![image](https://user-images.githubusercontent.com/660973/93268339-a08aba00-f772-11ea-87c5-1c51769c0efd.png)

[2020-09-15 21:59] zoek1 commented on #7413
Hi @BobTheBuidler, the option to add the twitter account for your grant is now enabled.  Click on the "Edit info" button, add the twitter account for your grant and save the changes. After that you'll be able to verify your grant. Let us know if it works!

[2020-09-15 22:03] zoek1 commented on #7398
No @owocki, twitter escape the characters, in this case '&' in "Pandemic Pods & Distance Learning". This should be fixed in https://github.com/gitcoinco/web/pull/7414

[2020-09-15 22:05] jrmr92 commented on #7396
Fantastic, it worked. Thanks for the magic 😄

Miguel Angel Gordián <notifications@github.com> schrieb am Di., 15. Sep.
2020, 23:17:

[2020-09-15 22:09] cranders1 commented on #7398
thnx @owocki and @zoek1
happy to change '&' to 'and' as nec
gotta run. will check back tonight for guidance.
cheers.

[2020-09-15 22:10] zoek1 commented on #7407
Ok, here is a video about how to verify your gitcoin grant.
https://www.loom.com/share/651db889ec8e4f21817843b808aae8f7

[2020-09-15 22:10] #7396 closed

[2020-09-15 22:25] BobTheBuidler commented on #7413
Wow, that was quick! Thanks for the help

[2020-09-15 22:25] #7413 closed

[2020-09-15 22:47] ceresstation opened #7415 "ZKsync transactions not showing in interface"
**Describe the bug**

I donated 10 DAI to Chainsafe a little while back but I'm noticing that my ZKSync tx, although it's showing up in the [summary](https://gyazo.com/3bec1aa24f1140864a71e7777c4da7d9), isn't showing up in the transactions tab [here](https://gyazo.com/e0141f091e2c274bf028ca8d7ab65392). It's worth noting as you can see in the first link that it also shows up twice, but that's less

[2020-09-15 23:10] peekavr commented on #7408
My grant doesn't currently reflect any matching. Wondering if there's something I forgot to do. Thanks for all your work!

[2020-09-15 23:15] BobTheBuidler opened #7416 "Any way to upload Profile Pics instead of using Avatar?"
#7171 # Discussion

[comment]: # I'm trying to spruce up my new profile a bit and noticed my lack of an avatar makes me stand out (in a bad way)

I would like to upload the same image that I use for my github account but it seems that I'm only allowed to choose from the avatars or build my own. Is this not possible to do on Gitcoin?

Thanks for your time,
Bob The Buidler

[2020-09-16 00:42] amadeobrands opened #7418 "Verify Grant Issue"
### Who
![image](https://user-images.githubusercontent.com/6133031/93278913-e99f3600-f793-11ea-99ec-9a9110ecc2a9.png)

### What

### Why

[2020-09-16 00:43] #7418 closed

[2020-09-16 01:09] anubhavgirdhar opened #7419 "Verified twitter but states unverified for granters and unable to see matching CLR numbers"
**Describe the bug**
We verified our twitter account but granters are seeing the need for us to verify the ownership of the twitter account.
Moreover, Grants have not been matched yet on the grants page.

**To Reproduce**
Link to our grant : https://gitcoin.co/grants/1099/parcel

**Screenshots**
![photo6271725285770635917](https://user-images.githubusercontent.com/54765143/93280131-812d7480-f7e6-1

[2020-09-16 01:54] mrarashel opened #7420 "Verify Grant Issue"
### Who
Rahimuddin Alrashel
### What
Twitter Verification failed
### Why
Sorry, we couldn't get the last tweet from @https://twitter.com/btc258

[2020-09-16 02:15] owocki commented on #7415
hmmm it shouldnt take a few hours to show up . should show up within a minute or two

@ceresstation what browser were you using? i wonder if this is related to the zksync intermittent 503 issues we were seeing today

[2020-09-16 02:40] owocki commented on #7415
i think i just found the issue. processing your txn; youll receive an email for it

[2020-09-16 02:43] mds1 opened #7421 "zkSync fixes"
Batching these into one issue since they are related and will all be fixed in the same PR. Strike throughs indicate they are resolved in another PR

1. ~~On some checkouts, the final zkSync transfer (the donation to Gitcoin) fails. This happens because insufficient balance remains.~~ Resolved in https://github.com/gitcoinco/web/issues/7421

2. ~~POST request to save data is not sent until after al

[2020-09-16 02:58] thelostone-mc commented on #7419
@anubhavgirdhar looks like the grant has bene verified
![image](https://user-images.githubusercontent.com/5358146/93287080-42071f80-f7f6-11ea-88e2-f22d0946481e.png)

Also it doesn't show a match as the transaction hasn't been validated by our validator ! Once that gets picked up -> the amount should be reflected

[2020-09-16 03:01] thelostone-mc commented on #7420
![image](https://user-images.githubusercontent.com/5358146/93287375-fc972200-f7f6-11ea-9889-47902f8bd3cb.png)
It's been verified now ^_^ thanks for the report

[2020-09-16 03:01] #7420 closed

[2020-09-16 03:03] thelostone-mc commented on #7410
@aliatiia the fix has been deployed ! could you try once again ?

[2020-09-16 03:04] thelostone-mc commented on #7398
@cranders1  the fix has been deployed ! could you try once again ?

[2020-09-16 03:05] thelostone-mc commented on #7400
Looks like we've updated the text to state -> not part of a particular round instead of not eligible !

[2020-09-16 03:05] #7400 closed

[2020-09-16 03:09] thelostone-mc commented on #7382
@owocki cause two of those are Grant Type -> change and the community one has been marked in DB as not eligible for CLR

[2020-09-16 03:10] codyborn commented on #7408
My donation transaction succeeded but the confirmation wasn't successful.
https://etherscan.io/tx/0xfbe9692ce13c00dd63a13b0dd880a38bf788f1b08439e14ac4a892bf4bbf6570
<img width="392" alt="image" src="https://user-images.githubusercontent.com/11261382/93287892-83b0af80-f78f-11ea-8e58-1567edc80189.png">

[2020-09-16 03:18] thelostone-mc commented on #7406
![image](https://user-images.githubusercontent.com/5358146/93288383-5a2c6e00-f7f9-11ea-9226-fa0c105b6882.png)

Pushed into stable + will deploy later

[2020-09-16 03:18] #7406 closed

[2020-09-16 03:19] thelostone-mc commented on #7401
@WestCoastWalker I'd also recommend canceling the other grants as well so that you get max clr match possible

[2020-09-16 03:23] aj07 opened #7422 "Verify Grant Issue"
Hello,

BuidlIn has tweeted about the verification process but on gitcoin that is still in pending state.
https://twitter.com/buidlin/status/1306070390817452033
Is there any manual operation required for twitter verification ?

[2020-09-16 04:15] willsputra commented on #7422
@aj07 hi! it seems like you have the full link "https://twitter.com/buidlin" on your twitter field in grants page. could you edit it to just "buidlin" and try verifying again? let me know if you still face any issue. thanks :)

[2020-09-16 04:38] thelostone-mc commented on #7379
You'd have to verify from the twitter link of the Grant!
In your case -> both were supposed to be the same
It has been verified now :D

@lu-calm will make a note to update the UI to let folks know to use thier personal twitter account if they don't have a dedicated one for their grant

[2020-09-16 04:38] #7379 closed

[2020-09-16 04:39] thelostone-mc commented on #7422
@aj07 I've gona ahead and done it for you ! The grant is now verified
Thanks @willsputra  ^_^

[2020-09-16 04:39] #7422 closed

[2020-09-16 04:44] thelostone-mc commented on #7410
Closing and the grant has is twitter verified :) Have a good CLR round ^_^

[2020-09-16 04:44] #7410 closed

[2020-09-16 04:47] thelostone-mc commented on #7409
I've changed the twitter handle to your account @realChainLife and your grant is now verified :)

[2020-09-16 04:47] #7409 closed

[2020-09-16 04:48] thelostone-mc commented on #7407
Looks like this grant is now verified ! closing this out

[2020-09-16 04:48] #7407 closed

[2020-09-16 04:49] thelostone-mc commented on #7404
@Jeff-Emmett Could you tweet from your own account and get the grant verified ?

[2020-09-16 04:50] #7399 closed

[2020-09-16 04:53] thelostone-mc commented on #7380
@chloethedev could you point us to the tweet as well you make from your account ?

[2020-09-16 04:54] thelostone-mc commented on #7392
Closing as grant is now verified

[2020-09-16 04:54] #7392 closed

[2020-09-16 04:57] #7398 closed

[2020-09-16 05:07] realChainLife commented on #7409
Thank you @thelostone-mc

[2020-09-16 05:51] Jeff-Emmett commented on #7404
Changed and verified! Thanks for your help!

Jeff

On Tue., Sep. 15, 2020, 21:49 Aditya Anand M C, <notifications@github.com>
wrote:

[2020-09-16 07:20] willsputra opened #7424 "As a grants contributor, I want to showcase my contributions on social media"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a grants contributor, I want to showcase my contributions on social media

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We've seen in past rounds people were post

[2020-09-16 10:21] artob commented on #7050
@CrystalPony Did you ever receive your tip? I'm in the same situation, though my transaction has only been stuck for 2 days as yet.

[2020-09-16 10:24] CrystalPony commented on #7050
@artob Yes, I posted in Townsquare in gitcoin chat and someone contacted me and helped me.

[2020-09-16 11:08] chloethedev commented on #7380
@thelostone-mc the link to is is here: https://twitter.com/Chloethedev/status/1305644788331483138?s=19

[2020-09-16 11:10] artob commented on #7050
@CrystalPony OK, glad to hear :+1: I shall endeavor to reach someone.

[2020-09-16 11:15] Unlimiter opened #7426 "Navigation bar in certain pages expanding vertically when hovering over "Town Square" because of bottom border expansion."
**Describe the bug**
See the issue title.
I've only witnessed this at [the hackathon list page](https://gitcoin.co/hackathon-list/) which has a different navigation bar design than the rest of the site.

**To Reproduce**
Go to https://gitcoin.co/hackathon-list/ and hover over "Town Square" on the navigation bar at the top.

**Expected behavior**
The navigation bar's size should stay the same when

[2020-09-16 11:37] JAlexandraH opened #7427 "Verify Grant Issue"
### Who Jo-Ann Hamilton

### What Gitcoin Grants

### Why Unable to Verify Twitter Account

[2020-09-16 12:04] #7050 closed

[2020-09-16 12:16] cranders1 commented on #7398
cheers @thelostone-mc

[2020-09-16 12:42] shadow00 commented on #7363
@mul1sh What you linked is not a debunking of any kind, just an opinion piece (as indicated by the Op-Ed Disclaimer at the bottom). The fact that you ideologically disagree with the issue, or refuse to acknowledge it for whatever reason, does not make it disappear: if a contributor receives a donation from an address associated with eg. a sale on a DNM, their account will still be flagged and froz

[2020-09-16 13:06] owocki commented on #7421
...; looks like theres a handful of txns that failed validation the last few hours

many of them hav ethe validator comment ‘zkSync only’ in them, and when i look up those txns on zkscan they actually succeeded

0x5b4E39e6649A9c0aFd39F068F7076f0ea3125e8a is an example

i think itd be useful for debugging if the validator left more precise commetns like “zksync, to address did not match” or “zksync

[2020-09-16 13:27] zoek1 commented on #7130
what happens when the user click on the share button? When ther user paste the collection url in his browser
1. The collection will have a collection detail view or
2. It will be displayed lonely in the grants view

At this moment we don't have a details page for collection in the mockups
@owocki

[2020-09-16 13:39] willsputra commented on #7130
@zoek1 the collection url for now could just be the grant cart url with all the grants in the collection (example: https://gitcoin.co/grants/cart/bulk-add/238;2;283,500;2;283,567;2;283,149;2;283,191;2;283,:willsputra).

we could do the collection detail view in future iterations :)

[2020-09-16 13:41] owocki commented on #7050
sigh; we need to move the tips architecture to L2 :P

@artob whats your tip link ? I can probably unlock it for u

[2020-09-16 13:42] owocki commented on #7130
i think taking the user to the cart is a big presumptious + we should take them to the grant explorer with the collection filled in.   they can then click 'add all to cart' if they want

[2020-09-16 13:43] willsputra commented on #7130
ah yea good point! this would be better

[2020-09-16 13:49] owocki commented on #7408
@mds1 i think u are working on a similar issue at https://github.com/gitcoinco/web/issues/7421 right

[2020-09-16 14:10] thelostone-mc commented on #7427
@JAlexandraH more info needed!
Why were you unable to verify
The tweet link
The grant you own link

[2020-09-16 14:11] thelostone-mc commented on #7419
Closing as the values are now updated
![image](https://user-images.githubusercontent.com/5358146/93349075-a6f16280-f854-11ea-9720-5f5a950874bc.png)

[2020-09-16 14:11] #7419 closed

[2020-09-16 14:12] mds1 commented on #7408
@codyborn Don't worry, all of your zkSync transactions were also successful! There's a simple bug that causes this at the end that we need to fix, but no action is needed by you 🙂

[2020-09-16 14:13] thelostone-mc commented on #7380
@chloethedev grant is now verified :)
Have a good CLR round <3

Closing this out now

[2020-09-16 14:13] #7380 closed

[2020-09-16 14:13] #7404 closed

[2020-09-16 14:15] thelostone-mc commented on #7389
Closing this out as the grant has now been verified

[2020-09-16 14:15] #7389 closed

[2020-09-16 14:35] willsputra opened #7430 "Grants/Cart zkSync checkout error when gitcoin dev fund contribution is set to 0%"
**Describe the bug**

Grants/Cart Error when gitcoin dev fund contribution is set to 0%
![gitcoin co_grants_cart_](https://user-images.githubusercontent.com/19514207/93351771-aebd0100-f86c-11ea-8f7f-2a72a8ee45c2.png)

**To Reproduce**

1. Go to Grants cart
2. Set Gitcoin dev fund contribution to 0%
3. Checkout with zkSync
4. "Something went wrong with fee amount" error appears

**Expected behavior

[2020-09-16 14:35] willsputra commented on #7430
Seems to only happen with zkSync checkout. Standard checkout with 0% contrib is fine.

[2020-09-16 14:38] willsputra commented on #7430
tracked on #7421

[2020-09-16 14:38] #7430 closed

[2020-09-16 14:47] DaWe35 opened #7431 "Verify Grant Issue"
### Who
https://twitter.com/CoolHDstudio
Verify post: https://twitter.com/CoolHDstudio/status/1306242632943833088
### What
https://gitcoin.co/grants/1156/skylive-decentralized-live-streams-videos
### Why
Verify button does not work :( Thank you!

[2020-09-16 14:55] wmpea opened #7432 "Re: Verified w/ Tweet but Gitcoin Not Showing"
### Who

I'm William Peaster, creator of the grant for the DeFi Arts Intelligencer.

### What

I've verified my grant on Twitter with a tweet, but my Gitcoin dashboard is still saying it's unverified and to contact support.

### Why

I'm interested in how to proceed. Thanks kindly for your help and consideration!

[2020-09-16 15:16] willsputra opened #7433 "Grants/BrightID - As a user, I want to understand exactly when the BrightID events are"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to understand exactly when the BrightID events are.
cc @thelostone-mc

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
The trust bonus BrightID modal

[2020-09-16 17:01] thecrypt0hunter opened #7435 "Verify Grant Issue"
### Who
thecrypt0hunter
https://gitcoin.co/grants/1172/the-blockcore-fund

### What
Unable to verify the Grant using Twitter
https://twitter.com/blockcoredev/status/1306276117217767428

### Why
Error: `Sorry, we couldn't get the last tweet from @https://twitter.com/blockcoredev`

[2020-09-16 17:05] thecrypt0hunter commented on #7435
I resolved this myself

[2020-09-16 17:05] #7435 closed

[2020-09-16 17:17] TrustlessState0x opened #7436 "Failed transaction status; it actually seemed to have worked."
Hello!

I donated 200 DAI to the following grant:

https://gitcoin.co/grants/1225/teach-kids-about-ethereum-with-virtual-reality

Here's the transaction:

https://etherscan.io/tx/0x63128b6ca632a0f440981d6419b0500c4e70d90cbbed2c7f0fbd978817c2117f

The grant shows 0 transactions, but when I click on the transaction, it shows 3
![image](https://user-images.githubusercontent.com/30753490/93370414-a4b3

[2020-09-16 17:31] mds1 commented on #7421
Lots of fixes ready for review in https://github.com/gitcoinco/web/issues/7421

Next up is tx validator issue @owocki mentioned

[2020-09-16 17:33] vporton opened #7437 ""Looking for team members" for grants"
Should add "looking for team members" feature to Grants.

[2020-09-16 17:37] vporton opened #7438 "Verify Grant Issue"
I can't verify my grant https://gitcoin.co/grants/177/crypto-reward-courts :

I sent a Tweet indeed: https://twitter.com/victorporton/status/1306285330182672385

[2020-09-16 17:40] niran commented on #7408
One of our donors is saying that a bug won't let them donate. "Invalid json rpc response." They tried on a few different browsers, but had the same problem. Does this sound familiar?

[2020-09-16 17:42] Daft-Wullie opened #7439 "Verify Grant Issue"
### Who
daft-wullie
### What
unable to successfully complete Verify Grant Ownership with Twitter procedure
### Why
i get a ```Sorry, we couldn't get the last tweet from @https://twitter.com/DaftWullie3``` error

![gitcoinverification](https://user-images.githubusercontent.com/37898858/93372771-aa84e980-f854-11ea-9ca1-aa666cf22d86.JPG)

[2020-09-16 17:53] Daft-Wullie commented on #7439
i was entering the full url for the twitter account,prefixing it with https://,switching to only the username worked.closing

[2020-09-16 17:53] #7439 closed

[2020-09-16 17:58] aliatiia opened #7440 "changing to custom avatar PNG doesn't persist"
**Describe the bug**
Changing the avatar to a custom png doesn't persist

**To Reproduce**

- Go to while on https://gitcoin.co/[username]
- Click "Update" inside the avata circle left of screen
- Click "My avatar" tab
- Choose a PNG
- The avatar changes in the top-right corner, and a green confirmation banner appears.
- Click "Profile" to go back to the profile page
- The avatar is gone, and it's

[2020-09-16 18:23] ceresstation commented on #7415
Awesome @owocki looks like they're showing up now but we're getting duplicates:

https://gyazo.com/391d2e1209bb9b76c06cfb7f381e8896

LMK if this is being tracked elsewhere / if I should create a separate issue.

[2020-09-16 18:35] mds1 commented on #7421
Just saw this on gitcoin.co: `Error: fractional component exceeds decimals (fault="underflow", operation="parseFixed", code=NUMERIC_FAULT, version=bignumber/5.0.7)`

[2020-09-16 18:36] mds1 commented on #7408
Hey @niran!

One reason may be that the zkSync servers were down at that time. Have they tried again since? If it's still providing issues, can you/they provide more details about what was in their cart (mainly the list of tokens used), when exactly this happened, and any relevant tx hashes? If they're technically savvy, you can also dig into the "Network" tab in the browser console, find the spec

[2020-09-16 18:49] vs77bb opened #7441 "Small Grants Bugs"
'Community' project (see the bottom left) but says 'Dapp Tech' matching. Not sure if we're seeing this across other grants?

[Link here](https://gitcoin.co/grants/855/kernel-panvala-league).

![image](https://user-images.githubusercontent.com/23297747/93379366-57df0980-f823-11ea-9b05-b28168c3e6f2.png)

[2020-09-16 19:11] AnneConnelly opened #7442 "Donation not registering in match"
**Describe the bug**
Our grant received a 15DAI donation yesterday, sept 15 at approximtely 1pm EST. It is not showing in the matching box, which still stands at zero.

**To Reproduce**
Go to: https://gitcoin.co/grants/211/trust-graphic-novel
view donation made and zero in the matching box.

**Expected behavior**
The donation would have shown up in the matching box

**Screenshots**

**Desktop (ple

[2020-09-16 19:27] yacare555 opened #7444 "I can't claim for a tip"
**Describe the bug**
Hi guys, a few days ago I received a tip and I can't claim for it, this is the email I received:

"Nice work @ 0x5a919ed0e22e6902accaaa27b4fdf0acd92ba210! To redeem your tip, login to Gitcoin at https://gitcoin.co/explorer and select 'Claim Tip' from dropdown menu in the top right, or check your email for a link to the tip redemption page."

But there is no option to "Claim Ti

[2020-09-16 19:35] artob commented on #7050
@owocki Thanks for looking. The link "tip received" link is https://gitcoin.co/townsquare?tab=activity:357898 and the ETH transaction is https://etherscan.io/address/0x6fb2773c2f4a924cb13c6d053f963df8ce5a2c65

[2020-09-16 20:27] owocki commented on #7444
looks like that tip was sent to @jppade
 - is that your account?

[2020-09-16 20:29] owocki commented on #7442
@frankchen07 @thelostone-mc any idea on this one? i see the cleared txn in the db but its not applied to matching, perhaps we need at least 2 donations to generate a matching amount?

[2020-09-16 20:31] owocki commented on #7050
ah shoot yeah that txn has been pending for "2 days 6 hrs ago";  looks like it was spent with 0.00000004 Ether (40 Gwei) - we might have to contact the issuer and have them re-issue

[2020-09-16 20:37] owocki opened #7445 "kevins grants feedback"
- https://bits.owocki.com/RBuOQdW1 - why does the 'verify my nubmer' show up here + the trust tab?  we should just defer all verification stuffv to the trust tab
- would it be easy or hard to have the cart estimates update itself every few hours? https://twitter.com/owocki/status/1306318254395109376

[2020-09-16 20:41] owocki commented on #7445
- when i first create a grant, its not put in any active CLR rounds upon creation, leading to emails likst this https://bits.owocki.com/p9uGqKyG

[2020-09-16 20:44] owocki commented on #7415
here is fine; @mds1 any idea why the grant donations are being duplicated?

[2020-09-16 20:52] owocki commented on #7438
vporton != victorporton

[2020-09-16 20:54] owocki commented on #7436
1b73bc49c03e0fd55efe20226dae8c46fd107777 will fix this; gonna deploy in a sec

[2020-09-16 20:57] owocki commented on #7432
@zoek1 any idea here?  @wmpea can u link your tweet and grant pls?

[2020-09-16 20:57] owocki commented on #7432
@wmpea did you click 'verify grant' in the modal?

[2020-09-16 20:58] mds1 commented on #7415
@ceresstation Do the duplicates happen with L1 checkouts too?

@octavioamu @thelostone-mc Any idea why this might be happening? I'm not sure which portion of the codebase handles/triggers this so would have to spend some time looking around

[2020-09-16 21:00] frankchen07 commented on #7442
@owocki yes I believe that's right. If it's just one donation, it won't be paired with anything.

[2020-09-16 21:18] owocki commented on #7431
i think the issue is you have  https://twitter.com/CoolHDstudio listed as your twitter not @CoolHDstudio ; @zoek1 can we make the system smart enough to handle links instead of just usernames

[2020-09-16 21:21] vporton commented on #7438
In my opinion, it makes no any sense to require Twitter handle to be string-equal to GitHub handle. They have two independent of each other registration systems and therefore comparison for equality makes no sense.

[2020-09-16 21:22] DaWe35 commented on #7431
Ahh thanks, verification passed!

[2020-09-16 22:36] GriffGreen commented on #7223
FUCKING HEROES! Thank you :-D

[2020-09-16 23:01] alexander-morris commented on #7223
It works! Thanks guys :)

On Wed, Sep 16, 2020 at 5:36 PM Griff Green <notifications@github.com>
wrote:

[2020-09-16 23:42] yacare555 commented on #7444
Hi @owocki, that's the account I've worked for, my gitcoin account is @yacare555.

A bit more of info:
- The ETH address that appears in the email is the mine one.
- In the gitcoin activity of @jppade appears the tip sent to my ETH address but the small profile picture in the bottom is not mine.
<img width="1074" alt="Screenshot" src="https://user-images.githubusercontent.com/67239493/93402428-183

[2020-09-16 23:50] icinsight opened #7447 "Verify Grant Issue"
### Please change my Twitter handle from @BlockTImeWorld1 to @SwapMatic

### The Twitter handle is changed now to @SwapMatic

Only after that I can verify it. @BlockTimeWorld1 handle does not exist any longer.

[2020-09-16 23:55] owocki commented on #7438
your twitter handle input on the grant has to equal your actual twitter handle

https://bits.owocki.com/Z4uk0or5
https://bits.owocki.com/04uq4A5E

[2020-09-17 00:14] vporton commented on #7438
Oh sorry, I just mistyped the handle.

[2020-09-17 00:14] #7438 closed

[2020-09-17 01:22] lpfloyd opened #7448 "BrightID verification not working"
**Describe the bug**
BrightID verification on Gitcoin seems to not work.
Unfortunately, it just says **Failed to load BrightID Status**` after authenticating BrightID on the app.

**To Reproduce**
Download BrightID.
Sign up.
Scan QR code on Gitcoin.
Wait for verification on BrightID.
Successful verification.
Gitcoin doesn't seem to know that it successful.

**Expected behavior**

Gitcoin Trust Bon

[2020-09-17 01:48] owocki commented on #7448
@apbendi @adamstallard any idea about this one

[2020-09-17 02:16] sanchaymittal commented on #7357
Not reproducible in local testing env, it is not fetching data for local.
IMO, code looks correct, it might be a data issue.

Here, Line 1424 is taking care of the total amount.
![Screenshot 2020-09-16 at 6 07 51 PM](https://user-images.githubusercontent.com/31698676/93411880-b5259a00-f8b9-11ea-8eb9-38d4a339b807.png)

[2020-09-17 02:43] lucadgtrip opened #7449 "Got donations but total in Grant Page shows zero"
**Describe the bug**
Two donations were made but are not reflected in the grant page.
We see them in the comments below

![Screenshot 2020-09-17 at 05 35 57](https://user-images.githubusercontent.com/34341206/93413479-0af14680-f8a8-11ea-9d3f-39bb65871b85.png)

in https://etherscan.io/address/0x2C5FF0Be38115Fe6E37ACce8e94F86186c3D73dF
and
https://zkscan.io/explorer/accounts/0x2C5FF0Be38115Fe6E37ACc

[2020-09-17 03:06] apbendi commented on #7448
hey @lpfloyd, we'll look into it! In your BrightID app, does it say "verified" under your name on the main screen. Also, is this the GitHub account you use for Gitcoin, I assume? Thanks!

[2020-09-17 03:44] #7436 closed

[2020-09-17 03:54] thelostone-mc commented on #7261
@aamustapha would you be able add that logic to the bounty submission as well ?

[2020-09-17 04:17] #7163 closed

[2020-09-17 05:13] thelostone-mc commented on #7447
Grant Link and you should be able to do it yourself as this feature was introduced 2 days ago

[2020-09-17 05:15] thelostone-mc commented on #7445
^ this get's picked up when the clr estimate runs !
We could invoke that section of the code at grant creation as well 🤔

[2020-09-17 06:20] aamustapha commented on #7261
Sure

On Thu, Sep 17, 2020, 4:54 AM Aditya Anand M C <notifications@github.com>
wrote:

[2020-09-17 07:44] artob commented on #7050
@owocki Do you need any action from my side, or you are handling it?

[2020-09-17 09:51] whalelephant opened #7451 "Work submitted successful transaction on Ethereum but not on web portal"
**Describe the bug**
Hi, I have submitted transaction to submit work for a bounty but is not showing up as work submitted.

bounty: https://gitcoin.co/issue/scs/substraTEE-worker/70/4274

transaction: https://etherscan.io/tx/0x60c5ac1cb2e94850f089a1f1c48641fbb7cfbaf067a081587e2cc9a02c225736

**Expected behavior**
Update status of bounty

**Screenshots**

**Desktop (please complete the following in

[2020-09-17 13:59] apbendi commented on #7448
@lpfloyd the issue should be resolved now, if you navigate back to the Trust Bonus tab in your profile it should show you as connected 👍

[2020-09-17 14:00] owocki commented on #7445
would it be easy or hard to have the cart estimates update itself every few hours?

https://twitter.com/owocki/status/1306318254395109376

[2020-09-17 14:10] owocki commented on #7445
unpkg causing issues

[2020-09-17 14:11] owocki commented on #7445
duplicate contribution/subscription objects

[2020-09-17 15:47] owocki commented on #7449
i seem to be able to udpate the numbers manully here

[code]

which will solve the OP; but we need to find the root cause for whyt he queues arent running

[2020-09-17 16:50] ceresstation opened #7452 "Issues with new mission page on mobile"
**Describe the bug**

Certain words / phrases / buttons aren't aligned properly on the mobile version of gitcoin.co/mission?mission on Android (OnePlus)

[2020-09-17 16:58] lucadgtrip commented on #7449
getting closer, I see 1 out of 2 donations and no match at the moment

![Screenshot 2020-09-17 at 19 55 55](https://user-images.githubusercontent.com/34341206/93502926-13856380-f920-11ea-9a8b-b9162b225618.png)

[2020-09-17 16:58] niran commented on #7408
Still working on getting more information about the last issue, but here's a separate one: the cart screen silently fails to load if I haven't connected MetaMask yet.

![image](https://user-images.githubusercontent.com/106437/93502972-16ab3000-f8dd-11ea-8979-4a7e6f03b66c.png)

[2020-09-17 17:00] mds1 commented on #7408
@niran Ah yes that one is a known issue! In the meantime just make sure MetaMask is unlocked/connected for now to work around that

[2020-09-17 17:17] ceresstation opened #7454 "Admin grants categories don't match interface categories"
**Describe the bug**

Grants such as https://gitcoin.co/grants/798/a-hitchhikers-guide-to-token-engineering appear to be listed as "dapp tech" grants. However, when [viewing the grant in admin](https://gyazo.com/78a04a00181f6e12df4da041ac9f3e5f) it clearly shows as "media".

Is it possible that there are now hardcoded values for categories that can't be overridden / changed by users or admins?

[2020-09-17 17:53] knocte commented on #7363
Sure, there's no technical reason, but there's a funding reason. This issue is about BTC support, and it has been funded. Go create your XMR-support github issue and fund it, and stop trolling here or posting off-topic content.

[2020-09-17 18:26] owocki commented on #7454
we should probably add a ‘bust cache’ button to admin, or a psave hook that updates the active cateogry

@thelostone-mc when an admin updates the category; is there any code in place that will change which active_clr_rounds they are in ? i dont see any such code rn

[2020-09-17 18:27] icinsight commented on #7447
Ok, I will try again. I tried it earlier but could not change the handle
myself.

Teemu

On Thu, 17 Sep 2020 at 02:13, Aditya Anand M C <notifications@github.com>
wrote:

--
-
=========================
Teemu Lehtonen

[2020-09-17 18:29] icinsight commented on #7447
Nope, can't edit that field:
![image](https://user-images.githubusercontent.com/39129866/93512344-909de200-f8fa-11ea-85da-c288b7879a2e.png)

[2020-09-17 18:46] owocki commented on #7452
i dont have an android device, so idk what the issue is.  a screenshot might help.

also please dont assign development work to me.  if youre looking for a dev, try asking the engineers or use bounties?

[2020-09-17 18:56] owocki commented on #7050
you can either wait for the gas fees to come down so the txn clears or you need to contact the issuer and let them know they need to speed up the txn.   sounds like u want to do the latter

@arweave-sophie would you mind resubmitting the tx ? thanks!

[2020-09-17 21:17] zkeducation opened #7458 "Cart keeps loading forever"
**Describe the bug**
<The cart loading icons keep cycling forever, everything else is working as normal.-->

**To Reproduce**

**Screenshots**
<
![Screen Shot 2020-09-17 at 2 16 08 PM](https://user-images.githubusercontent.com/57240194/93529215-65ae9080-f8f0-11ea-8cfe-6a19d0a5ae8b.png)
-->

**Desktop :**

- OS: Mac OS 10.14.5
- Browser: Brave
- Browser Version:0.63.55

[2020-09-17 21:36] skyminert opened #7459 "Verify Grant Issue"
### Who
Verify twitter
### What
https://twitter.com/Dxdao_/status/1306707860198436865
### Why
The verify widget is not working

[2020-09-17 22:12] owocki commented on #7459
hey @skyminert can you give us more details on what youre seeing from the failure?  the bug report template has fields like "browser" and "screenshot" and "reproduction steps" that usually help us figure out the 🐛
thanks!

[2020-09-17 22:14] owocki commented on #7458
heya @zkeducation do you see any errors in your console?  @mds1 mind trying to reproduce this?

[2020-09-17 22:19] mds1 commented on #7458
Hey @zkeducation! Right now this can happen if (1) you don't have a wallet connected, or (2) if you're using MetaMask but it's locked. We're deploying a fix for both of those today.

If those aren't the cause in your case, like @owocki said any additional details you can provide to help reproduce it would be helpful!

[2020-09-17 22:24] zkeducation opened #7460 "I cancelled my zksync tx and now it wont prompt it again"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: Mac Mojave 10.14.5
- Browser: Brave
- Browser Version: 0.63.55

**Smartphone (please complete the following information):**

- Device:
- OS:
- Browser:
- Version:

**Additional context**

[2020-09-17 22:36] WestCoastWalker commented on #7401
Thanks, I was able to verify!

Aditya, I am not able to cancel the first grant I made moneygames.info (had
wrong twitter).... I want to keep the moneygamesinfo one but cant delete
the other one.

Thanks!

On Tue, Sep 15, 2020 at 8:20 PM Aditya Anand M C <notifications@github.com>
wrote:

[2020-09-18 03:16] lucadgtrip commented on #7449
Also, what does Pending mean?
![Screenshot 2020-09-18 at 06 14 48](https://user-images.githubusercontent.com/34341206/93551409-7570b800-f976-11ea-9c1c-2eb5b570a1b7.png)

[2020-09-18 06:09] penandlim opened #7461 "Sped up the zkSync transaction and the new one is not registered by gitcoin"
**Describe the bug**
After approving the deposit, I sent out zkSync donation [transaction.](https://etherscan.io/tx/0x14f4d6320df49195ebbf07e4e99df4b5d7d4f5b877e858db48364fc06876e773)
Due to high gas prices, [I sped up the transaction which resulted in a second one](https://etherscan.io/tx/0xb7bf081d958cb75d0a26653b6a494e97b8b5fbcac74dcae7528462ff8a80c4de)

However gitcoin thinks my transaction di

[2020-09-18 07:08] Daft-Wullie opened #7462 "grant contribution amount not updating"
**Describe the bug**
My grant is not showing updated figures both in terms of contributors and amount donated in the grant card.
The transaction tab shows 2 transactions/contributors and while one is marked as pending/failed the donor confirmed to me it was succesdfull on chain and provided me the following etherscan link
https://etherscan.io/tx/0x88d6169687b6d7be4d8e821975afedd789175cd8539753ea81

[2020-09-18 13:30] owocki commented on #7445
https://gitcoin.co/grants/1224/yfistats-protocol-dashboard?tab=description

https://gitcoin.co/grants/1224/yfistats-protocol-dashboard?tab=description

hey guys this grant has an ENS name as its address

can we make the grant new form turn ENS names into eth addresses pls?

ill add to a ticket

[2020-09-18 14:02] willsputra commented on #7431
awesome! closing this :)

[2020-09-18 14:02] #7431 closed

[2020-09-18 15:04] owocki commented on #7462
looks like the validator incorrectly marked it as failed (we got an invalid response from the alethio api). i just marked it as success + am re-running the job to update the amount

[2020-09-18 16:25] owocki commented on #7445
some feedback from EPNS and @androolloyd @mds1
[code]

[2020-09-18 17:02] #7448 closed

[2020-09-18 17:02] thelostone-mc commented on #7441
This was a data issue! fixed that up 🙌

[2020-09-18 17:02] #7441 closed

[2020-09-18 17:58] mds1 commented on #7445
Hey @androolloyd, aside from contributions not showing up on the grants page, can you provide any details about what else went wrong during checkout? Both of those Etherscan txs were successful (but I'm guessing they were done manually through zkSync like you said?), and from taking a quick look at the zkScan account it seems the transfers went through as well

[2020-09-18 18:08] MysticRyuujin opened #7469 "Insufficient DAI balance to complete checkout"
I have 72.622 DAI in my MetaMask wallet / L1 account

I'm donating 70 DAI in total

I click "Checkout with zkSync"

I click "Sign In"

I click "Approve"

I receive big red banner that says "Insufficient DAI balance to complete checkout"

[2020-09-18 18:10] owocki commented on #7461
@mds1 any thots on this one?

[2020-09-18 18:24] owocki commented on #7469
thansk @MysticRyuujin can u send us your addr?  what browser/wallet u using?
.
cc @mds1

[2020-09-18 18:25] MysticRyuujin commented on #7469
`0x61d21716c9af33d522A98ec82bEFE3588f6a76fF`

Linux / Brave / MetaMask

[2020-09-18 20:41] cranders1 opened #7470 "zkSync fail"
Trying to bulk grant checkout with PAN via zkSync but keep getting errors.
PAN token not accepted
Same error even for ETH & DAI - not accepted.
I have zkSync layer 2 loaded with ETH & PAN
user: cranders1
wallet: 0x6FB8479a3bBB7a4Ed8395Af47916D9A51B7BA038
Help much appreciated. Cheers.

[2020-09-18 21:12] octavioamu commented on #7459
@skyminert  can you retry to verify? we put some fixes yesterday for long urls on the verification, seems that was the problem.

[2020-09-18 21:17] octavioamu commented on #7447
please click the blue button first "edit info" so you can edit the grant info

[2020-09-18 21:20] octavioamu commented on #7416
Go to https://gitcoin.co/settings/account and press "Use GitHub Avatar" should fix your issue.

[2020-09-18 21:25] octavioamu commented on #7427
if your grant is https://gitcoin.co/grants/1105/rare-birds please click edit your grant and change the twitter from  `https://twitter.com/RareBirdsHQ_` to just `RareBirdsHQ_` and try verify again.

[2020-09-18 21:27] octavioamu commented on #7432
@wmpea I didn't find your verification tweet on https://twitter.com/WPeaster can you try again?

[2020-09-18 21:28] owocki commented on #7459
just manually verified in db

[2020-09-18 21:30] octavioamu commented on #7385
@zawadilabs you should be able to add your twitter username now

[2020-09-18 21:42] cranders1 commented on #7470
Success. Not sure if it was your magic fingers or just crap on my end.
thnx

[2020-09-18 22:28] mds1 commented on #7461
I will investigate and get a fix in!

[2020-09-18 22:52] icinsight commented on #7447
It worked now. Thanks!

[2020-09-18 22:52] #7447 closed

[2020-09-18 23:25] mds1 commented on #7469
Hey @MysticRyuujin, this is the expected behavior.

The zkSync fees are additive (e.g. if you're donating 70 DAI you'll need to provide 70 DAI + X DAI for zkSync fees). We estimate the conservatively to ensure that you don't run out of funds on L2 when doing all the transfers.

I believe right now each DAI transfer on zkSync is (on average) between 0.10 DAI to 0.70 DAI (the latter being for an add

[2020-09-18 23:41] MysticRyuujin commented on #7469
...uhh... then maybe you should have some sort of fee estimation provided in the UX and some sort of useful message or indication of such requirement / fees. No? I mean...where on this page does it mention these fees?

Not here:
![image](https://user-images.githubusercontent.com/8877131/93653357-29f1f480-f9de-11ea-937b-17a6305904b4.png)

Not here:
![image](https://user-images.githubusercontent.com

[2020-09-18 23:51] mds1 commented on #7469
Yep, good point! If you already have funds in zkSync, the signature prompt in step 3 will show the fee amount denominated in DAI. But in the scenario where you have an L1 deposit for step 3 (like in your case), you're correct that the fee estimate is missing and should be shown to the user.

Hey @PixelantDesign and @willsputra — let me know where/how you think we should display this fee and I can

[2020-09-19 00:36] mds1 commented on #7470
Glad you got it working! A fix for this should be deployed soon in https://github.com/gitcoinco/web/pull/7473

In case you experience this again you can workaround it by refreshing the page after you connect your wallet

[2020-09-19 00:39] mds1 commented on #7460
Hey! If you can provide some more details to help us figure out the issue that would be great! Some specifics that would help:
- Any L1 or L2 addresses / transaction hashes (you can DM me on Twitter @msolomon44 if you don't want to post it here)
- What exactly do you mean by "cancelling" it? I'm guessing you closed the page at some point? Or maybe you just closed the modal?
- Did you already have

[2020-09-19 02:39] owocki commented on #7445
hey @mds1 - @BitcoinLouie checked out with a 35 dai cart by depositing 100 DAI into zksync on brave/metamask, but it didnt recognize the DAI deposit.

[2020-09-19 02:59] Bitcoinlouie commented on #7445
Thanks Kevin!
I'll share the full experience here.

UserName: BitcoinLouie <https://gitcoin.co/bitcoinlouie>
Browser: Brave (shields disabled)
Wallet: Metamask w/ ledger
Balance: 100 DAI

Cart was 35 DAI + 0.1 ETH. The ETH was an accident because one of the users
didn't accept DAI.
1st error - unable to approve ETH token spend. (no big deal)
I decided to send 100 DAI to my https://wallet.zksync.io

[2020-09-19 04:42] Bitcoinlouie commented on #7445
Correction: Account linked to Metamask /no ledger. Ledger is 2nd wallet I
use to fund.

Ok, donation round 2: Error is shown at 11/36 transactions, red bar up top
(I closed), Window has been open for 40 minutes. 1 email confirmation of 1
donation was successful, although 47.55 DAI tx completed. <
https://etherscan.io/tx/0x95797e9e446a915caa4f07fcf8882cac9f068e03ca3d424f95bd2eed87566770

[image: im

[2020-09-19 06:23] ggabriel8 opened #7475 "Community Matching"
Hello,

I just launched my first grant. I am very excited. I noticed that community match doesn't seem to enabled on my grant. How can I fix this?

Thanks,

Gabriel

[2020-09-19 06:43] willsputra commented on #7397
@mds1 an update on this one:

I don't think I've ever resolved this tx. When I go back to cart, I got the "Complete zkSync Checkout" modal but stuck at "Step 3: Confirm Donation Transaction"

![Screenshot 2020-09-19 at 2 41 34 PM](https://user-images.githubusercontent.com/19514207/93660916-421d4e80-fa86-11ea-90e6-d448f4b3c0d9.png)

"View transactions" doesn't show me any transfer transaction. Trie

[2020-09-19 06:54] willsputra commented on #7469
@mds1 yep! we can put it on a small font under Step 3 inside the modal.

I was thinking we should also put it on the Summary section in the cart (something along the lines of "If this is your first time using zkSync, make sure you have $X (contribution) + $Y (estimated zkSync fees).) What do you think?

[2020-09-19 07:44] JAlexandraH commented on #7427
Thank you

On Sat, Sep 19, 2020 at 5:25 AM Octavio Amuchástegui <
notifications@github.com> wrote:

[2020-09-19 08:03] lpfloyd commented on #7448
Thanks guys! Awesome stuff.

[2020-09-19 12:44] YalorMewn opened #7476 "Trouble with verification"
Won't verify our grant https://twitter.com/Meta_Cartel/status/1307298104782315520 using Twitter https://gitcoin.co/grants/1139/metacartel-builder-awards-panvala-league

**Console data**

`7[Intervention] Slow network is detected. See <URL> for more details. Fallback font will be used while loading: <URL>
inpage.js:1 MetaMask: MetaMask will soon stop reloading pages on network change.
For more info

[2020-09-19 12:58] owocki commented on #7445
just got this erorr when checking out. https://bits.owocki.com/xQuLy6P2

i think its because my metamask wasnt logged in when the page loaded. IMHO we should default to mainnet currency list, or fix this when the user does log into metamask @mds1

[2020-09-19 13:32] owocki commented on #7408
suggestion to split community rounds by region

https://bits.owocki.com/eDuBGR95

[2020-09-19 14:17] owocki commented on #7408
What about a social recommender à la 'enter your friends gitcoin handle' or 'look up your friends in this list of everyone who funded grants'?
https://twitter.com/chriscyber2000/status/1307321605094285315

[2020-09-19 14:56] sselecaf opened #7477 "Contribute not working even though transaction has already been sent"
**Describe the bug**
I try to grant 7 projects and checkout with zkSync. Unfortunatelly the last step - Confirm donation transaction is keep showing "Processing", even though my tx has already sent successfully.
I also cannot see any grant activities on my profile: https://gitcoin.co/sselecaf

**To Reproduce**
I am not sure whether this can be reproduce...

**Expected behavior**
The contribute occ

[2020-09-19 14:59] owocki commented on #7476
@YalorMewn what browser r u on? where exactly in the flow does it fail?

i just manually verified your ownership for now

[2020-09-19 15:42] owocki commented on #7445
dropped/replaced txns not working

...we have a task to implement blockscout txid tracking; but hasnt been done yet

sorry blocknative; jinx

[2020-09-19 16:00] mds1 commented on #7445
@Bitcoinlouie Thanks for all the details! I have a few follow up questions just to make sure I'm understanding what went wrong so I can fix bugs.

Spending ETH does not require an approval transaction, so just want to check what exactly you mean here?

shows Metamask has low balance.

How long was it between this error and the time you deposited into zkSync? It takes about 2-3 minutes for your dep

[2020-09-19 16:02] mds1 commented on #7469
@willsputra My only pushback about also putting it in the summary section is that then you're showing unnecessary information to users who are doing the standard L1 checkout. Open to being convinced though 🙂

[2020-09-19 20:47] mds1 commented on #7397
Thanks for the reminder! I fixed the underlying cause here but forgot to handle the failed transaction case. I will take a look at this on Monday, sorry for the delay!

[2020-09-19 21:41] skyminert commented on #7459
Thanks very much All!
Keep up the great work.

On Fri, Sep 18, 2020 at 2:28 PM Kevin Owocki <notifications@github.com>
wrote:

--
Schuyler "Sky" Minert
LinkedIn profile <https://www.linkedin.com/in/schuylerminert/>

[2020-09-19 23:30] smartass111 opened #7478 "eth payment & zkSync checkout - lost funds when using metamask switched to BSC network"
steps:
1. configure metamask to use BSC chain ( https://medium.com/@spartanprotocol/connecting-metamask-to-bsc-mainnet-23e434bc670f ), switch metamask to this chain, have some native balance in your wallet (BNB)
2. go to checkout, choose eth donation
3. choose zkSync checkout
4. step1 Sign in to zkSync via Gitcoin - no errors
5. step2 ERC20 token approvals - no errors
6. step3 Confirm donation tra

[2020-09-20 08:58] hegedis-andor opened #7479 "zkSynyc checkout does not recognise when transaction gets dropped/canceled."
**Describe the bug**

I wanted to checkout with zkSync, funding multiple projects but later i recognised the advenced option which enable to deposit to zkSync. So i decided to cancel the ongoing transaction. Now when i want to check out again it recognises the dropped transaction and cannot create a new one.

**To Reproduce**

1. Put something into the cart.
2. Go to checkout
3. Choose checkout wi

[2020-09-20 11:21] davis-ramsey opened #7480 "Adding matching categories to my grant"
Hello,

I just created https://gitcoin.co/grants/1296/poolsvision but doesn't look like it got assigned any categories for matching. When I go to edit I can't add any it seems.

I think Community, Devex, Education, Usability would be appropriate categories but open to feedback.

Thank you!

[2020-09-20 13:39] will-louis1111 opened #7481 "gitcoin faucet request issues"
### Who: Me

### What: I have a problem making a request to the gitcoin faucet.

### Why: I have a problem making a request to the gitcoin faucet.

[2020-09-20 19:04] singularityhacker opened #7482 "Gas fee taken but failed to fund"
**Describe the bug**
I tried to fund a bounty but the funding failed while the gas fee was still taken.

**To Reproduce**
I lowered the bounty fee and tried to fund it gain and it did it again. Took two gas fees and no bounty fund.

**Expected behavior**
I would have expected it to charge me the bounty amount in addition to gas fee.

**Screenshots**
It showed a banner at the top that said it faile

[2020-09-20 19:27] KiChjang opened #7483 "Bounty fulfillment transaction complete, but Gitcoin does not recognize"
**Describe the bug**
After submitting the bounty for https://gitcoin.co/issue/hyperledger-labs/solang/158/4338, Gitcoin still does not show the bounty as being submitted.

**To Reproduce**

**Expected behavior**

Bounty page should show that work was submitted

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Browser:
- Browser Version:

**Smartphone (please compl

[2020-09-20 22:22] singularityhacker commented on #7482
The gitcoin bounty creation page (still open): https://i.imgur.com/RCF4Hxl.png

What MetaMask opens when I hit fund issue: https://i.imgur.com/uIPMUO8.png

[2020-09-21 01:24] owocki commented on #7483
did you perchance speed up this txn?  weve had some issues recently with
re-issued txns

On Sun, Sep 20, 2020 at 1:27 PM Keith Yeung <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-21 01:32] owocki commented on #7480
looks like its in matching now.

we def should make it show that immediately upon creation of the grant @gitcoinco/engineers

[2020-09-21 01:45] owocki commented on #7475
grant link?

[2020-09-21 06:46] thelostone-mc commented on #7480
@davis-ramsey updated the categories to Community, Devex, Education, Usability
@owocki grants will be mapped to active clr on creation via commit f680b2c61a678e9c0a188323e5b5208ac8930085

[2020-09-21 06:46] #7480 closed

[2020-09-21 06:51] thelostone-mc commented on #7475
@ggabriel8 it's matched to it !
https://gitcoin.co/grants/1264/talking-crypto-with-gabriel

It usually takes a a while to get mapped to the right CLR round!
Just pushed in a fix to make an instant https://github.com/gitcoinco/web/commit/f680b2c61a678e9c0a188323e5b5208ac8930085

Have a happy CLR round ^_^

[2020-09-21 06:51] #7475 closed

[2020-09-21 06:53] #7459 closed

[2020-09-21 06:53] thelostone-mc commented on #7385
Closing this now ! Do reopen if you continue to face the issue

[2020-09-21 06:53] #7385 closed

[2020-09-21 06:55] KiChjang commented on #7483
@owocki No, but I recall that the transaction failed on the first time for some reason, and I retried it.

[2020-09-21 08:33] KiChjang commented on #7483
Looks like the issue's been resolved, thanks!

[2020-09-21 08:33] #7483 closed

[2020-09-21 08:47] nicc938 commented on #6860
I don't really know much about it, to put it simply, starting with zero, I'm not making excuses for what I did, but I am trying to study it.

[2020-09-21 10:09] willsputra commented on #7469
@mds1 hmm true that! yea i guess for now putting it in the modal should be enough

[2020-09-21 10:27] willsputra commented on #7397
no prob at all. thanks! :)

[2020-09-21 10:36] willsputra commented on #7479
Seems like a similar case with https://github.com/gitcoinco/web/issues/7397. We're on it!

[2020-09-21 13:02] mds1 commented on #7479
Hey @hegedis-andor, can you provide the address you donated with and the transaction hash that you cancelled and we can resolve this for you?

If you don't want to share it publicly feel free to message me on Twitter @msolomon44, or Telegram @msolomon4

[2020-09-21 13:07] mds1 commented on #7477
Hey @sselecaf, do you mind sharing the transaction hash from step 3 so I can look into what happened? If you don't want to share it publicly feel free to message me on Twitter @msolomon44, or Telegram @msolomon4

Also, if you can open the browser's console there should be some zkSync info written there. Can you send a screenshot of the last ones it shows when stuck?

[2020-09-21 13:56] cvonkleist opened #7488 "It seems possible to send a kudos for free"
**Describe the bug**

When sending a kudos, it is possible to set the value of the transfer to 0, yet the kudos still gets sent. Is it the case that the kudos system is just in testing right now? I was able to send myself two kudos, each apparently with a price of 0.001Ξ, for free (except for gas).

Maybe I'm just misunderstanding what is supposed to happen when sending a kudos.

**To Reproduce**

[2020-09-21 14:17] mds1 commented on #7477
Hey @thelostone-mc / @octavioamu — worked with @sselecaf offline to get this resolved so we can close this one!

[2020-09-21 14:24] sselecaf commented on #7477
Thanks Matt!

[2020-09-21 14:41] mds1 commented on #7461
Hey @penandlim, you should be able to visit the cart page now at https://gitcoin.co/grants/cart to complete checkout!

[2020-09-21 15:32] #7421 closed

[2020-09-21 17:25] owocki commented on #7488
thanks; you are correct that the system thinks the kudos is sent.  we have a txn validator that will check if the txn succeeded + later remove the kudos from the users profile. its an optimistic system; i bet we could improve it by making it more cautious tho

[2020-09-21 22:26] chartreuse-man opened #7491 "unreadable text in the **funder** page"
**Describe the bug**
Unreadable text on the **funder** page

**To Reproduce**
follow to the link https://gitcoin.co/bounties/funder

**Screenshots**
![image](https://user-images.githubusercontent.com/71655469/93827511-119a0800-fc72-11ea-8540-da9448e7d82f.png)
![image](https://user-images.githubusercontent.com/71655469/93827944-01365d00-fc73-11ea-884f-e8f79bbc03b5.png)

**Desktop (please complete t

[2020-09-22 00:46] frankchen07 opened #7492 "As a Gitcoin developer, the centralizing point of engagement on our platform is not 100% clear. Having the ability to anchor a user to a live, active project they're working on focuses their efforts on utilizing the tools Gitcoin has to offer towards something they care about."
### User Story

As a Gitcoin developer, the centralizing point of engagement on our platform is not 100% clear. Having the ability to anchor a user to a live, active project they're working on focuses their efforts on utilizing the tools Gitcoin has to offer towards something they care about.

### Why Is this Needed

A longer writeup on market networks and the centralizing point of engagement here

[2020-09-22 02:44] Bitcoinlouie commented on #7445
Hi @mds1, ok let me try my best to recall the issue.

What I remember is a 2nd approval required but tbh I've forgotten now.

I had DAI in zksync wallet for 2 hours with no luck. BUT recently it worked perfectly fine so maybe an early bug.

Gotcha, now I make sure to have enough DAI, no problem.

Unable to replicate this error. All donations were successful regardless.

Thanks for your support!

[2020-09-22 04:42] penandlim commented on #7461
Thanks @mds1! I was able to confirm the transaction and it looks like it went through successfully! Thanks for the quick fix :)

[2020-09-22 04:42] #7461 closed

[2020-09-22 07:11] amsos opened #7494 "Grant says it will accept all tokens but once in cart only allows Eth"
**Describe the bug**

Grant reads that it should accept all tokens but when I go to specify the amount to donate it only gives me options in Eth.

**To Reproduce**

1.  Go to https://gitcoin.co/grants/484/depo-dao-decentralized-politics-dao
2.  Add to cart
3.  Choose the token type

**Expected behavior**

Allows you to choose a token other than Eth

**Screenshots**

![Screen Shot 2020-09-21 at 5 1

[2020-09-22 11:46] 78carla opened #7495 "Transaction state pending"
### Who
Transaction list

### What
Hi, my transaction in the transaction list in Gitcoin (ref. project Open Reviews: A Web2 to Web 3 Replication Protocol) remains in pending state (made on September 20th).

The transaction in etherscan (transaction hash is 0x635b22b8a888f6e26702aeabf617a5b8f02e7e6a773625a2c5f68af28e3c46ec is "success".

![Image Pasted at 2020-9-22 10-24](https://user-images.github

[2020-09-22 12:18] #7451 closed

[2020-09-22 12:51] exetrorx opened #7496 "Verify Grant Issue"
### Who egetrorx

### What I would love to change ethereum address for grant but i dont know how

### Why i dont know what key i used

[2020-09-22 14:41] mds1 opened #7497 "Send email to remind users to complete checkout if they exit during zkSync checkout"
During zkSync checkout, you have to wait on the page for a few minutes to complete checkout. Some users close the page before this process is complete, and when this happens their contributions are not sent to grant owners. To complete checkout, all they need to do is visit the `/grants/cart` page, and they'll see a prompt to complete checkout.

The set of users can be identified by looking for co

[2020-09-22 15:00] mds1 commented on #7494
Hey @thelostone-mc, it seems the cause here is that this grants has a value of `""` for it's `grant_token_symbol`. Can you update this to say `Any Token` it should resolve the issue

[2020-09-22 15:41] hegedis-andor commented on #7479
I do not think the tx would be needed to solve this issue on your end.

[2020-09-22 15:45] mds1 commented on #7479
@hegedis-andor There is a PR that should resolve this once it's merged and deployed. Until then we would need the transaction hash so we can fix it manually for your specific case.

The PR is here if you'd like to follow the status: https://github.com/gitcoinco/web/pull/7489

[2020-09-22 15:53] jppade commented on #7444
Hi @owocki .
I did not receive 100USD, but I sent them through gitcoin tip send, as can be seen on etherscan:
https://etherscan.io/tx/0x1472613a437f5763f0c03c080274c647f5f42cbd5b0681cc3c4d48aed24ccc33
I don't see how I could reclaim that tip.
Any help appreciated.

[2020-09-22 16:46] octavioamu commented on #7496
can you explain a litter more about the verification issue?
https://gitcoin.co/grants/954/cryptocrownet seems the verification twitter wasn't tweeted on https://twitter.com/cryptocrow_net

[2020-09-22 16:49] exetrorx commented on #7496
I can verify easy I just need reset password for twitter..I want change grant eth address because I didn't remember key for this one,I would love to use fortmatic

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Octavio Amuchástegui <notifications@github.com>
Sent: Tuesday, September 22, 2020 11:46:55 PM
To: gitcoinco/web <web@noreply.github.com>
Cc: exetrorx

[2020-09-22 17:07] #6338 closed

[2020-09-22 17:08] owocki commented on #7408
Did a few gitcoin grant contributions: https://twitter.com/ksaitor/status/1308225557406990338
Some unsolicited feedback, if I may :)
The link and the page that's generated and shared on twitter can be improved imho.
I thought that the linked page (https://gitcoin.co/grants/cart/bulk-add/329;5;283,821;5;283,238;5;283,40;5;283,:ksaitor) would show some sort of page with user's contributions, but ins

[2020-09-22 17:18] owocki commented on #7496
what is your grant address? whats the desired eth address?

[2020-09-22 17:21] owocki commented on #7444
@jppade click 'redeem tip' in the top right of the nav; or go to https://gitcoin.co/tip/receive/v3/QmW4i61QxSwufgAKSqkAwSR588HAYcPuNzVHT5mv8PC27p/0x1472613a437f5763f0c03c080274c647f5f42cbd5b0681cc3c4d48aed24ccc33/mainnet to claim it

[2020-09-22 17:40] MysticRyuujin commented on #7495
We also have a number of (pending) transactions under our funding page, some of them are failed too. It really throws off our numbers when 1 of those (pending) transactions for 3,000 DAI failed. The user re-submit and now we show almost 2x the donations we've actually received.

https://gitcoin.co/grants/1101/archivenodeio-the-public-access-ethereum-archive-?tab=transactions

[2020-09-22 17:45] jppade commented on #7444
@owocki Worked. Thanks!

[2020-09-22 18:17] thesachinmittal opened #7498 "Gitcoin tour button (onboarding screen)"
### Gitcoin tour button (onboarding screen)

### Why Is this Needed

We have a lot of new devs, but (start work/new devs) is pretty low. Hence, doing an airmeet session of 1 hour with 30 people where I can give a rundown of gitcoin + share some stories.

@PixelantDesign @frankchen07 @jdorfman

[2020-09-22 18:31] octavioamu commented on #7496
actually can you please verify the grant first?
Then we can change the address to the one you chose.

[2020-09-22 19:12] owocki opened #7499 "Write a cron job to ingest Gitcoin Community events calendar into the marketing.models.upcomingdate model"
the objective of this ticket is to ingest [this iCal link](https://calendar.google.com/calendar/ical/7rq7ga2oubv3tk93hk67agdv88%40group.calendar.google.com/public/basic.ics) into the `marketing.models.UpcomingDate` model.

requirements
1. python management command
2. scheduled daily in crontab file
3. will update/create events in `marketing.models.UpcomingDate` object

thats it!

pls only apply if

[2020-09-22 19:58] 78carla commented on #7495
For your reference, my pending transaction is in this project:
https://gitcoin.co/grants/1166/open-reviews-a-web2-to-web-3-replication-protoco-2

[2020-09-22 20:28] artob commented on #7050
@owocki I contacted @arweave-sophie and there's nothing she can do from her end. From their end the transaction has been confirmed: https://etherscan.io/tx/0x64cb6a21766d16a1d6121ae328c28bb84362f20ffe2c8e61ea2c8fc078f443db

[2020-09-22 20:32] owocki commented on #7050
oh shoot; sorry i thought that the txn arweave sophie sent was the pending one, but instead its ur redemption txn.

ok i just reset your tip redemption link ( https://gitcoin.co/tip/receive/v3/QmU3ejuB9cpDwyzxQ4vhzMGSW3RMvi48GLcAZbPXaaxNAj/0x64cb6a21766d16a1d6121ae328c28bb84362f20ffe2c8e61ea2c8fc078f443db/mainnet ) and added more gas to the proxy account. try now!

[2020-09-22 21:04] artob commented on #7050
@owocki Thanks a bunch, that cleared the bounty payment! All sorted now.

[2020-09-23 01:17] alexwaumann opened #7500 "Donation amount on Gitcoin does not agree with the donation amount on Etherscan"
**Describe the bug**

Gitcoin web interface is showing an incorrect donation amount. I donated 0.015 ETH but the web interface says I donated 9 ETH and the gitcoinbot lists me as a "Top Contributor by Amount" as a result (shown in first screenshot).

As far as I can tell, it shows the incorrect amount everywhere on the website including, but not limited to:
- Products -> Grants -> My Contributions

[2020-09-23 09:41] nickfarrow opened #7503 "Sped up bounty payment transactions are not verified by sync_pending_fulfillments cronjob"
**Describe the bug**
 I paid out a [bounty](https://gitcoin.co/issue/nickfarrow/niceBit/2/100023720#) but had to speed up the [transaction](https://etherscan.io/tx/0xdbee52619ce6a02d0289ddf71bfc1158c8310843944cab4cad09a4dcb4ed72ee). The replacement tx has confirmed, but it is still waiting for verification on the bounty page.

**To Reproduce**
Pay a bounty with a low gas price, then replace the tr

[2020-09-23 09:58] jo-tud opened #7504 "zkSync checkout not working"
**Describe the bug**
When trying to check out a basket with over 40 contributions using zkSync I get a spinner that never disappears. After a while an error message is shown.

**To Reproduce**
Check out a basket with zkSync (I reproduced it in chrome and firefox)

**Expected behavior**
checkout works.

**Screenshots**
![image](https://user-images.githubusercontent.com/1543640/93997734-03dca380-fd9

[2020-09-23 11:27] PixelantDesign opened #7507 "Add Video to Projects - Customer Request - NEAR"
### Who
As a sponsor of a Gitcoin hackathon, I'd like to be able to see demo videos along with a project submission so that I can  understand how the project works and what has been built.

### Why
Customer request to allow devs to display video link on project page
### Definition of Done

- Add video field to submission view
- Add field to project form
- Show video demo in the project page

### D

[2020-09-23 12:56] mds1 commented on #7504
Hey @jo-tud, zkSync has been having some server issues and is working on a fix. I'd recommend trying again in a few hours and hopefully it's resolved by then

[2020-09-23 13:17] jo-tud opened #7508 "Incorrect "Insufficient DAI balance to complete checkout" Error"
**Describe the bug**
When using zkSync checkout the UI incorrectly shows the error "Insufficient DAI balance to complete checkout".

**To Reproduce**
Put stuff in cart. Pledge DAI. Use zkSync to check out. Complete step 1.
My DAI balance is about 1 DAI higher than what is needed. But the process fails with the above error message.

I'm using an Argent wallet connected through WalletConnect.

**Exp

[2020-09-23 13:18] jo-tud commented on #7504
Okay, thanks. Now it's on and off, sometimes working, sometimes not.

[2020-09-23 13:25] mds1 commented on #7508
Hi again @jo-tud 🙂

This is the expected behavior, but it's currently not clear in the UI
- PR https://github.com/gitcoinco/web/pull/7489 is a fix for this waiting to be deployed
- Issue https://github.com/gitcoinco/web/issues/7469 has more details, as does [this page](https://github.com/gitcoinco/web/blob/master/docs/GRANTS.md)
- [This comment](https://github.com/gitcoinco/web/issues/7469#issueco

[2020-09-23 13:36] mds1 commented on #7508
If you don't want to wait for it you can roughly estimate the total amount as `amount in cart + 0.80 * (number of items in cart + 3)`

Basically the 0.80 DAI value is the current the worst-case fee per transfer (typically this is ~0.10 DAI). We multiply by number of zkSync transfers (and add 3 to account for Gitcoin's tip if you had that checked, then 2 additional transfers required by the archite

[2020-09-23 13:49] leafs4life opened #7509 "zkCheckout Issues"
**Describe the bug**
Tried zkSync Checkout on Sept. 19th, and although the payment window estimated that it would take 2-4 minutes, after 40+minutes, it was still pending. So, I went into MetaMask and "sped it up", which then "dropped and replaced" that tx.

Interestingly, inside the zkCheckout window, it never showed as confirmed/paid, however, when I check my Gitcoin account history, it does sho

[2020-09-23 13:50] owocki commented on #7503
https://github.com/gitcoinco/web/pull/7490 should help here!

[2020-09-23 14:16] #7503 closed

[2020-09-23 15:17] owocki commented on #7408
video intros https://twitter.com/Anne_Connelly/status/1308780464136749066

[2020-09-23 15:26] mds1 commented on #7509
Hi @leafs4life, sorry for the struggles!

So as you may have guessed, what happened is that you never actually finished the checkout from your dropped/replaced transaction. This is because the backend function that typically manages dropped/replaced transactions is down and we need to fix it. Gitcoin optimistically assumes things will succeed, which is why you thought everything was complete.

Can

[2020-09-23 15:56] owocki commented on #7408
https://twitter.com/owocki/status/1308787414727499776

[2020-09-23 16:47] owocki opened #7512 "make grant collections unfurl image into the grant collectoin on-sit eimage"
http://localhost:8000/grants/collections?collection_id=1

the twitter unfurl image for this page should be an collage of the first 4 grants' images in the cart.

<img width="584" alt="Screen Shot 2020-09-23 at 10 46 18 AM" src="https://user-images.githubusercontent.com/513929/94043388-17830c80-fd8a-11ea-806f-f9f169f12739.png">

on-site it already looks good:

<img width="307" alt="Screen Shot 2020

[2020-09-23 17:07] mds1 commented on #7508
Going to close this one, but feel free to re-open if you still have issues insufficient balance issues!

[2020-09-23 17:07] #7508 closed

[2020-09-23 17:09] mds1 commented on #7504
#7511 adds a message to inform the user of this problem, so closing this issue

[2020-09-23 17:09] #7504 closed

[2020-09-23 17:10] owocki opened #7513 "collections v1.1"
- [ ] PIL image for grant collections https://github.com/gitcoinco/web/issues/7512
- [ ] I’m thinking that a widget for collections would be great so social media influencers could embed it in their sites
- [ ] add ability to edit grant collections desc/title
- [ ] add ability to add "team members" to your collection; other ppl who can add/remove from collection

[2020-09-23 17:12] #7470 closed

[2020-09-23 17:13] mds1 commented on #7469
#7489 has been deployed, which shows the fees on the modal during checkout

[2020-09-23 17:13] #7469 closed

[2020-09-23 17:14] owocki commented on #7513
- [ ] ability to fund matching rounds for your collection :)

[2020-09-23 17:14] mds1 commented on #7397
Resolved by #7489

[2020-09-23 17:14] #7397 closed

[2020-09-23 17:17] #7477 closed

[2020-09-23 17:31] thelostone-mc commented on #7513
- [ ] having a counter to show how many people have clicked the add a collection
Gives us a means of sorting by popularity
300 users -> had added sybil collection to their cart

[2020-09-23 17:46] exetrorx commented on #7496
done
________________________________
From: Octavio Amuchástegui <notifications@github.com>
Sent: Tuesday, September 22, 2020 11:31 AM
To: gitcoinco/web <web@noreply.github.com>
Cc: exetrorx <sinisapaler@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [gitcoinco/web] Verify Grant Issue (#7496)

actually can you please verify the grant first?
Then we can change the address to the one

[2020-09-23 18:08] owocki opened #7515 "grant contribution not showing up"
@trustlessstate0x contributed via 0x63128b6ca632a0f440981d6419b0500c4e70d90cbbed2c7f0fbd978817c2117f to https://gitcoin.co/grants/1225/teach-kids-about-ethereum-with-virtual-reality?tab=transactions but its not showing up!  can we figure out why?

[2020-09-23 18:10] owocki commented on #7515
oh wait derp it IS in the transaction history lol https://bits.owocki.com/E0urGKzN

i didnt realize u were trustlessstate0x

[2020-09-23 18:20] #7515 closed

[2020-09-23 18:28] owocki commented on #7499
just approved @hhio618

[2020-09-23 18:34] owocki opened #7516 "worker applicants dont show up on new style bounties"
https://github.com/gitcoinco/web/issues/7512

current behaviour:
- worker applies, no gitcoin bot post letting the github thread know

expected behaviour:
- worker applies, no gitcoin bot post letting the github thread know

[2020-09-23 18:34] owocki opened #7517 "worker applicants not showing up on github"
https://github.com/gitcoinco/web/issues/7512

current behaviour:
- worker applies, no gitcoin bot post letting the github thread know

expected behaviour:
- worker applies, no gitcoin bot post letting the github thread know

[2020-09-23 18:35] owocki opened #7518 "bug: when editing bounty, the bounty amount prefills with an amount htat is not the amount i posted bounty in"
https://gitcoin.co/bounty/change/23762

<img width="1198" alt="Screen Shot 2020-09-23 at 12 34 51 PM" src="https://user-images.githubusercontent.com/513929/94054735-3c32b080-fd99-11ea-9ec2-8bb3171ae8a9.png">
<img width="1127" alt="Screen Shot 2020-09-23 at 12 34 45 PM" src="https://user-images.githubusercontent.com/513929/94054740-3d63dd80-fd99-11ea-8868-9596ea01dea9.png">

expected result vs curr

[2020-09-23 19:22] #7308 closed

[2020-09-23 21:32] frankchen07 commented on #7498
Can you fill in additional details on this ticket?

From the slack conversation, I believe we were aligned that right now, we don't need to have product/engineering intervention to actually add any buttons.

In order to successfully measure the success of this initiative, we need to collect github handles (gitcoin handles) so that we can identify by profile ID who has joined our platform. This is

[2020-09-23 22:37] merwane commented on #7363
Got my PR reviewed and merged to the master branch today for integrating BTC bounties.
https://github.com/gitcoinco/web/pull/7455

[2020-09-23 22:56] amsos commented on #7494
Hey team - wanted to check on the status of this.

[2020-09-24 00:17] santteegt commented on #7408
UI needs to improve the gas fees estimate when using zkSync. I used 63+66 gWei as gas cost (approval + Confirm) and I ended up spending > $4 in tx fees instead of ~ $1.615 estimated. Now I ended up in doubt of what would be cheaper given the total amount of grants donations using a single token (DAI), doing an L2 vs L1

![image](https://user-images.githubusercontent.com/926341/94086195-db729a80-fd

[2020-09-24 02:53] octavioamu commented on #7494
Seems also there is another error about the clr, but if you remove your grant for the cart and add it again now the problem with tokens should be gone.
We are working on a fix for "Not Eligible for CLR" that happens when you add the grant from the grant details page. if you do it from the grant list then works ok.

[2020-09-24 03:45] PixelantDesign opened #7521 "Tribe Management Tab Busted"
**Describe the bug**
Text editor area for tribe management is not displaying/working

**To Reproduce**

- Go to this tribe https://gitcoin.co/celo-org/manage
- Click Manage Tab
- See missing input area to enter in  information

**Expected behavior**

Text Editor should be there

**Screenshots**

<img width="1668" alt="Screen Shot 2020-09-23 at 11 42 14 PM" src="https://user-images.githubuserconten

[2020-09-24 05:08] PixelantDesign commented on #7334
Loads very fast!

- [ ] Could we import the current  user directory's existing css?
- [ ] Use no data styling from existing user directory
- [ ] Getting a  404 when I click to see the profile details
- [ ] It was unexpected that I clicked **export button** and the csv file downloaded but didn't tell me where the file was downloaded to. Maybe ok  since it's an internal tool for right now.
- [ ] Sea

[2020-09-24 05:11] thelostone-mc commented on #7521
53dd86a0c0f26cc2087e03796ebea297a6a88cb2

[2020-09-24 05:11] #7521 closed

[2020-09-24 06:30] amsos commented on #7494
Awesome! I just checked and it does now show the ability to donate in all tokens!  Much thanks.

I'm not 100% sure I'm following the second one.  Is it just a UI issue or is it how it's tagged on the backend as well.

[2020-09-24 11:28] leafs4life commented on #7509
Hi Matt,

Thanks for the quick response.

I can't seem to get back to the original tx hash, but I can get to the
replaced (and successful) tx hash
here: 0x2bb2dcb0b7d84e78ba6ba59499648524651a1264fd4c59efc79bf4e4f69a8b05

Also, just now, I clicked on zkCheckout, just to see what would happen, and
I got a new error message: "Cannot read property 'status' of null"

[image: Screen Shot 2020-09-24 at 8

[2020-09-24 12:49] owocki commented on #7445
still getting a lot of questoins like this one: https://bits.owocki.com/wbuPor7Q

it'd be great if the cart match amounts could refresh when the user goes to cart.  @mds1 @thelostone-mc pls sir

[2020-09-24 12:57] willsputra opened #7526 "As a grants user, I don't want to accidentally add hundreds of grants from "Add all to cart" button"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a grants user, I don't want to accidentally add hundreds of grants from "Add All to Cart" button

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
![gitcoin co_grants

[2020-09-24 13:03] mds1 commented on #7509
I just updated things on the backend so if you go back to the cart page, you should be able to complete checkout successfully now!

I can't see the images you sent. Perhaps because you replied via email they don't show up on GitHub?

To clarify the fees:
1. Since I just updated the backend, your MetaMask tx is complete and the fees were already paid in the tx hash you provided. So you won't need a

[2020-09-24 13:15] mds1 commented on #7408
Hey @santteegt, thanks for the feedback. Agreed it's a bit confusing. Getting a very accurate cost estimate can be tricky, so we're always working on better ways to estimate and display the fees.

To clarify how fees work, there's two sets of fees:
- The fees paid from your regular web3 wallet to deposit funds into zkSync. This is what you see when you confirm the transaction on the final step for

[2020-09-24 13:33] owocki commented on #7408
fernando mentioned that he wants the abilityt o upload a phooto; not make an avatar.

[2020-09-24 13:38] willsputra opened #7527 "Grants/Collections - Smaller cards for collections in "All Categories" filter"
@octavioamu @zoek1

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to distinguish between collections and grants in "All Categories" page

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2020-09-24 13:39] willsputra commented on #7527
Figma file, under "Grants Collections v1.1":
https://www.figma.com/file/GLvOGLbovtU8scAnIHochM/Grants-Round-7?node-id=316%3A34

[2020-09-24 13:49] owocki commented on #7527
i like this! especially for mobile

On Thu, Sep 24, 2020 at 7:40 AM William S. Goi <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-24 14:48] owocki commented on #7445
grant page looks like crooked teeth. design bounty to fix?

[2020-09-24 17:23] owocki commented on #7334
scotts feedback https://bits.owocki.com/jkuDdmQz

[2020-09-24 17:25] ceresstation commented on #7513
- [ ] ability to add grants to a collection via the main grants page vs. only upon checkout

[2020-09-24 18:32] octavioamu commented on #7494
now everything is fixed :)

[2020-09-24 18:32] #7494 closed

[2020-09-24 18:39] octavioamu commented on #7426
good catch seems some css styles are wrong
cc @zoek1 @androolloyd as seems related to the vue-hackathon styles introduced to style the nav tabs.

[2020-09-24 19:00] Ro5s opened #7529 "Verify Grant Issue"
### Who

Moloch Mystics: https://gitcoin.co/grants/1328/moloch-mystics-2

### What

Lingering verify request. Verification tweet: https://twitter.com/MolochMystics/status/1309152180868386818?s=20

### Why

Let the good times roll.

[2020-09-24 19:06] sesameseed-org opened #7530 "Verify Grant Issue"
### Who    https://twitter.com/unifiprotocol

### What   will not verify the grant twitter ownership

### Why.... i have no idea. https://twitter.com/unifiprotocol/status/1309206439517237248

[2020-09-24 19:09] zoek1 commented on #7530
Hi @sesameseed-org could you add the grant url to verify what is happening?

[2020-09-24 19:46] frankchen07 commented on #6695
@connoroday - when someone adds an event to their calendar, what shows up in our add event account (wrt numbers & tracking)

[2020-09-24 20:02] mds1 commented on #7497
Let's send emails to the user only one time, and before sending we should make sure their transaction has been mined first

[2020-09-24 20:21] sesameseed-org commented on #7530
https://gitcoin.co/grants/1302/unifi-multi-chain-transaction-explorer

[2020-09-24 20:32] owocki commented on #7408
default token amount https://twitter.com/thegrifft/status/1309223712223232003

[2020-09-24 20:52] RockmanR commented on #7458
Hi @mds1 ,

I'm facing the same issue here. Regarding:
1. my wallet is connected
2. I tried both, metamask add-on extension and the Wallet Connect (with MetaMask mobile)
but still face the issue.

Here are screenshots from the console as suggested by @owocki

<img width="1305" alt="Screen Shot 2020-09-25 at 12 46 40 AM" src="https://user-images.githubusercontent.com/34535049/94198833-f248e800-fec8

[2020-09-24 21:02] mds1 commented on #7458
@RockmanR Hmm, that's odd. I'll have to figure out how to reproduce this. You could try clearing the cart and re-adding them from the grants page. I believe there was a very recent upgrade to how cart items were handled so I'd guess this would fix it. It's possible you already had items in your cart, then the changes were deployed, putting things in a weird state

[2020-09-24 21:10] RockmanR commented on #7458
Maybe what you said is true. Probably it started when I clicked on Banteg's shared cart in twitter (https://twitter.com/bantg/status/1307707668409319426?s=20). I saw the list once, then the issue started the moment I added stuff to it (maybe). I'll try to clear it out and and add the projects again :(

[2020-09-24 21:12] mds1 commented on #7458
I just tried adding Banteg's items to my cart and it seemed to have worked, so that's good. Also as a sanity check make sure MetaMask is unlocked and on mainnet!

[2020-09-24 21:14] mds1 commented on #7458
One more thought — you could also try a hard refresh of the browser to make sure nothing is being cached since we just pushed that update

[2020-09-24 21:23] zoek1 commented on #7530
Please remove 'https://twitter.com/' from the twitter field and try again. We've working on a fix to support twitter urls too. 🙂

[2020-09-24 21:44] octavioamu commented on #7458
Can you click on share cart and paste the link here?

[2020-09-24 21:45] octavioamu commented on #7458
also are all the grants on your cart to dai? or is one with a diff token?

[2020-09-24 22:09] RockmanR commented on #7458
Ok, I think I know how to reproduce the issue.
1. Go to the below cart link
2. delete one item
3. refresh the screen
4. (fetching cart data issue)

https://gitcoin.co/grants/cart/bulk-add/888;10;283,200;10;283,1122;10;283,170;10;283,1093;10;283,223;10;283,224;10;283,308;10;283,24;10;283,25;10;283,13;10;283,1127;10;283,1211;10;283,275;10;283,17;0.02639541574883473;3,149;10;283,:banteg

[2020-09-24 22:10] RockmanR commented on #7458
They are in Dai and Eth. as you will see from the link

[2020-09-24 23:34] azf20 opened #7531 "Verify Grant Issue: Nifty Ink"
### Who
https://gitcoin.co/grants/1162/nifty-ink

### What
We still have the warning about not having verified twitter ownership, but we tweeted here: https://twitter.com/NiftyInk/status/1305881939614879744
Let me know if I did something wrong there.

[2020-09-25 00:42] NukeManDan opened #7533 "I can add my own grant to my cart - create a collection w/ your grant included"
**Describe the bug**
I have added my own account to my cart, to create a collection to promote more than just my grant to my community:
https://gitcoin.co/grants/collections?collection_id=28

I used to see an error when I tried to add my grant, there seems to be no issue now...

![image](https://user-images.githubusercontent.com/35669742/94213964-1c7cb480-fe8d-11ea-8d3a-ea894ccb1f46.png)

Then all

[2020-09-25 02:32] DeFiDude commented on #7533
Hey - just want to chime in here, I just realized this myself and actually tested it out - it does indeed work, however it does not show me as a contributor, nor does it show on the recent transactions.

@owocki - sorry for any trouble this may have caused but I donated 5 DAI to my own grant, can you nullify the matching for that specific donation (if it matched it, I wasn't paying attention to th

[2020-09-25 10:33] thelostone-mc commented on #7529
Verified ^_^

[2020-09-25 10:33] #7529 closed

[2020-09-25 10:34] thelostone-mc commented on #7530
Closing as grant is verified ^_^

[2020-09-25 10:34] #7530 closed

[2020-09-25 10:35] thelostone-mc commented on #7531
@azf20 It's verified ^_^

[2020-09-25 10:35] #7531 closed

[2020-09-25 10:36] thelostone-mc commented on #7496
Closing as grant is verified

[2020-09-25 10:36] #7496 closed

[2020-09-25 10:37] #3105 closed

[2020-09-25 10:37] #3207 closed

[2020-09-25 10:38] #4212 closed

[2020-09-25 10:38] #4264 closed

[2020-09-25 10:38] #4362 closed

[2020-09-25 10:38] #4452 closed

[2020-09-25 10:39] #4756 closed

[2020-09-25 10:39] #4766 closed

[2020-09-25 10:39] #4767 closed

[2020-09-25 10:39] #4769 closed

[2020-09-25 10:39] #4777 closed

[2020-09-25 10:39] #4779 closed

[2020-09-25 10:39] #4832 closed

[2020-09-25 10:39] #4856 closed

[2020-09-25 10:39] #4890 closed

[2020-09-25 10:39] #4891 closed

[2020-09-25 10:39] #4908 closed

[2020-09-25 10:39] #4927 closed

[2020-09-25 10:39] #4929 closed

[2020-09-25 10:39] #4940 closed

[2020-09-25 10:39] #4941 closed

[2020-09-25 10:40] #5102 closed

[2020-09-25 10:41] #5111 closed

[2020-09-25 10:41] #5115 closed

[2020-09-25 10:41] #5119 closed

[2020-09-25 10:41] #5121 closed

[2020-09-25 10:41] #5125 closed

[2020-09-25 10:41] #5133 closed

[2020-09-25 10:41] #5140 closed

[2020-09-25 10:41] #5142 closed

[2020-09-25 10:41] #5143 closed

[2020-09-25 10:41] #5145 closed

[2020-09-25 10:41] #5148 closed

[2020-09-25 10:41] #5151 closed

[2020-09-25 10:41] #5154 closed

[2020-09-25 10:41] #5193 closed

[2020-09-25 10:41] #5194 closed

[2020-09-25 10:41] #5203 closed

[2020-09-25 10:41] #5208 closed

[2020-09-25 10:42] #7239 closed

[2020-09-25 10:42] #7242 closed

[2020-09-25 10:42] #7243 closed

[2020-09-25 10:46] #7250 closed

[2020-09-25 10:46] #7261 closed

[2020-09-25 10:46] #7310 closed

[2020-09-25 10:46] #7311 closed

[2020-09-25 10:46] #7318 closed

[2020-09-25 10:48] #5319 closed

[2020-09-25 10:48] #5327 closed

[2020-09-25 10:48] #5328 closed

[2020-09-25 10:48] #5390 closed

[2020-09-25 10:48] #5404 closed

[2020-09-25 10:48] #5405 closed

[2020-09-25 11:49] azf20 commented on #7531
Thanks so much!

On Fri, 25 Sep 2020, 11:35 Aditya Anand M C, <notifications@github.com>
wrote:

[2020-09-25 13:40] owocki commented on #7533
yeah we re -added the abilityto add your own grant to cart so that ppl  could create collections with their own grants.

the clr match wont be granted for those contributions tho.

[2020-09-25 16:56] owocki commented on #7445
Total CLR Match Amount  on checkout, for grants i'm a member of, should not show up with a match

[2020-09-25 17:18] owocki commented on #7445
@mds1 can we make this change pls?

[2020-09-25 17:40] PixelantDesign opened #7538 "Get updates on a grant I've contributed to"
### User Story

As a funder of a grant, when there are changes or updates to a grant,  I'd like to receive updates on the grant project.

### Description

Create an email that goes out to grant funders of changes to a project on grants I've previously funded.

### Current Behavior
[comment]: # (Describe what actually happened.)
No update

### Expected Behavior
[comment]: # (Describe what you expec

[2020-09-25 17:41] PixelantDesign commented on #7527
Like this too! What do you think about making the grants squares since most logos are square @willsputra ?

[2020-09-25 19:38] owocki commented on #7538
doesnt the 'email funders' functionality already sort of handle this tho?

[2020-09-25 21:25] NukeManDan commented on #7533
Got ya. what I suspected - I was gonna post an issue suggesting that before I noticed I could do it already!

Would be good to block the user from funding their own grant, matched or otherwise to save dat gas (like @DeFiDude ran into) 🙏🏼

[2020-09-25 22:45] frankchen07 commented on #7334
also @androolloyd, if you can, checking off the boxes here helps us determine what to look at again for feedback :)

[2020-09-26 02:14] Tedko commented on #6679
is this fixed by gitcoin already?

[2020-09-26 05:25] ibexboy opened #7540 "Error trying to submit donations using MS Edge browser (with MM)"
![gitcoin bug 26 Sept 2020](https://user-images.githubusercontent.com/48472815/94330925-02e08780-ffc9-11ea-8a61-f7750de3cba2.jpg)

**Describe the bug**

Using MS Edge latest version of browser, I get the attached errors. I cannot submit a donation using the ZK or standard options. Have tried several times and cannot connect to MM/ Web3.
**To Reproduce**

go to cart and click on pay with ZK or stan

[2020-09-26 14:52] GWintery opened #7541 "ZkSync Checkout Issue for Refreshed Page"
**Describe the bug**

On step 3 while **waiting to confirm** deposit to L2, when the page is hard refreshed, the checkout page does not recognize the current transaction that was still pending.

Currently my current transaction is already deposited to the L2 (as seen in the ZkSync block explorer), however I do not see those funds being moved after the deposit (which I thought should be moved to th

[2020-09-26 17:35] JTraversa opened #7542 "Grant Categorization Issue?"
I created a grant ~3 weeks ago: https://gitcoin.co/grants/1103/the-defihedge-protocol

I just noticed today that I am unable to actually find it when searching through the grant round.

That said I just tried creating a new grant: https://gitcoin.co/grants/1354/the-defihedge-protocol-2

The second shows up, not sure what I did differently, perhaps categorized it wrong initially? Regardless thought

[2020-09-27 03:42] YalorMewn commented on #7476
Apologies for the delay, was using Chrome. Copy and pasted the Tweet, fail happened when I clicked `verify` button. Red error message popped on screen, tried refreshing multiple times with no avail. Thanks for the manual verification though

[2020-09-27 22:50] Otherbright opened #7543 "Removing a duplicated grant"
Hi,

### What
Can you remove this ended grant: https://gitcoin.co/grants/1275/banklessfr?

### Why
I created two identical grants after receiving some error messages (I didn't screenshot it, I should have :( )

Thank you very much,

Jon

[2020-09-28 05:04] thelostone-mc commented on #7543
Done!

[2020-09-28 05:04] #7543 closed

[2020-09-28 08:47] exetrorx commented on #7496
how i can change address?
________________________________
From: Aditya Anand M C <notifications@github.com>
Sent: Friday, September 25, 2020 3:37 AM
To: gitcoinco/web <web@noreply.github.com>
Cc: exetrorx <sinisapaler@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [gitcoinco/web] Verify Grant Issue (#7496)

Closing as grant is verified

—
You are receiving this because you authored

[2020-09-28 11:36] thelostone-mc commented on #7527
@willsputra what are you thoughts on redoing the card for collections irrespective of where it is features
If you click on a collection -> you notice
https://gitcoin.co/grants/collections?collection_id=1#

that a lot of space is wasted!
Would it be possible to add the description + share+ add to cart button for the collection in this shrunken view and keep it the same view ?

[2020-09-28 12:13] mds1 commented on #7541
Hey @GWintery, you're right that it should have recognized your deposit after the refresh. The expected behavior is that once you re-visit the cart page you should see a prompt asking you to complete checkout, and once the L1 deposit transaction is complete it will initiate the zkSync transfers.

Can you send me the L1 deposit transaction hash so I can see what went wrong here and get this resolve

[2020-09-28 12:37] mds1 commented on #7445
@owocki I'll get a PR in for this today

[2020-09-28 12:48] PixelantDesign commented on #7258
@zoek1 are you still working on this?

[2020-09-28 12:57] PixelantDesign commented on #7317
@thelostone-mc was this fixed? I'm checkin' out Aarweave and their page still displays other sponsors projects. https://gitcoin.co/arweaveteam/projects

[2020-09-28 13:23] mds1 commented on #7540
Hey @ibexboy, can you provide more info on what you mean when you say you "cannot connect to MM/ Web3"? In the header, does it show you are connected to mainnet like this?

![image](https://user-images.githubusercontent.com/17163988/94437642-e40dfc80-0152-11eb-8029-7e2cf6087240.png)

cc @octavioamu — I haven't tried to reproduce this yet, but based on the error messages it seems related to the web

[2020-09-28 13:37] ibexboy commented on #7540
Hi,

I did finally get it to work after restarting the browser. Sorry, I meant when i choose ‘connect using Web3/ Metamask). In the end the option worked and I was able to send funds.

Maybe just a fluke – not sure.

In any case thanks for the reponse!

Alex

From: Matt<mailto:notifications@github.com>
Sent: 28 September 2020 15:24
To: gitcoinco/web<mailto:web@noreply.github.com>
Cc: Alex<mailto:i

[2020-09-28 13:38] PixelantDesign opened #7546 "Evaluate features & Integrate Circle into Paying Tribes"
### User Story

As  an organization owner who is interested in cultivating an open source community on Gitcoin, I'd like to have basic community functionality to interact with my community.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Descri

[2020-09-28 13:40] mds1 commented on #7540
Awesome, glad to hear you got it working!

@octavioamu — I'll leave this open for now in case you want to investigate/try to reproduce

[2020-09-28 13:41] PixelantDesign opened #7547 "[DESIGN] Standard Orgs > Tribes"
### User Story

As  an Organization owner with a standard organization profile, I should be prompted to upgrade to Tribes
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

- Make an incentive to upgrade people to regular tribes.
- Com

[2020-09-28 13:44] PixelantDesign opened #7548 "[DESIGN] Add Kudos Tab to Tribes Experience"
### User Story

As a hackathon sponsor with Tribes, I should have the ability to manage my Kudos on my org.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

- Need Kudos in the Tribe Experience
- And have no data state
- Reuse as mu

[2020-09-28 13:47] PixelantDesign opened #7549 "[DESIGN] Add Github Activity to Tribes"
### User Story

As an organization owner with a current org profile, I'd like to be able to see my GitHub activity.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

Decide whether sponsors career about GitHub activity
Determine if t

[2020-09-28 13:57] PixelantDesign opened #7550 "[DESIGN+BUILD] Tribe Projects Section - Surface Great Projects"
### User Story

As  a  sponsor of a Gitcoin Hackathon/Tribe customer, I'd like a way to showcase great projects on my tribe.

### Why Is this Needed

Could be more clear.

### Description

- Find ways to surface great projects
- Display winners at the top of thee projects or add filter ability
- Update information on the cards
- Consider default states

### Current Behavior
[comment]: # (Describe

[2020-09-28 14:00] PixelantDesign opened #7551 "[DESIGN] Import Follow/Following from Orgs >Tribes"
### User Story

As a sponsor of a hackathon /gitcoin  tribe customer, I'd like to be able to see people following my org, or people the org is following.

### Why Is this Needed

We  dont have followers/follwing  in tribes
Doesn’t show who the organization is following

### Description

Import Follow/Following from Orgs >Tribes
Decide if this is important
Design
Implement

### Current Behavior
[co

[2020-09-28 14:01] PixelantDesign opened #7552 "[DESIGN+BUILD] Turn off Tribe tab in current orgs"
### User Story

As an org owner, an not having sponsored a hackathon, I should not have the tribe tab on my orgs page.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: The "Tribe" tab in normal orgs page (example: https://gitcoin.co/cryptorado-commun

[2020-09-28 14:07] PixelantDesign opened #7553 "[DESIGN] Following a Tribe, What do I get?"
### User Story

As a developer following an organization,  what should I get?

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

When  you follow a tribe, what do you get?
Some Research
Design
Build

### Current Behavior
[comment]: #

[2020-09-28 15:22] BCpowerup commented on #5298
Am I missing something? the first quest is Broken or I'm out of my league here....?

[2020-09-28 16:25] aamustapha commented on #7317
@PixelantDesign I'll take a look at this right away.

[2020-09-28 16:29] mds1 commented on #7541
Worked with @GWintery to get this resolved so checkout is now completed

[2020-09-28 16:29] #7541 closed

[2020-09-28 16:32] jacob-eliosoff opened #7554 "How do I get our grant (USM) added to the current CLR round?"
When I search for our USM grant (https://gitcoin.co/grants/?keyword=usm) it's listed as "not in an active CLR round"...  Or are we too late?  No prob if so, just checking!  Thanks a bunch.

[2020-09-28 18:11] owocki commented on #7554
it shows as being in a CLR round to me

On Mon, Sep 28, 2020 at 10:32 AM Jacob Eliosoff <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-28 18:11] jacob-eliosoff commented on #7554
Dunno if one of you did something but this is now correctly listed as "DApp Tech CLR match round".  Thanks!

[2020-09-28 18:11] #7554 closed

[2020-09-28 23:08] GriffGreen commented on #7458
having the same issue... Its tragic too cause i made a bunch of comments in all the grants :-(
<img width="1253" alt="Screen Shot 2020-09-29 at 1 05 13 AM" src="https://user-images.githubusercontent.com/14945613/94494777-4a952800-01f0-11eb-8eba-eef64fa5730e.png">

<img width="537" alt="Screen Shot 2020-09-29 at 1 06 45 AM" src="https://user-images.githubusercontent.com/14945613/94494784-4e28af00-0

[2020-09-28 23:32] PixelantDesign commented on #7497
Subject: Complete Grant Contribution Checkout

Title: Contribute to the Projects You Care About!

Hey Name,

Looks like your transaction didn’t go through, 59 complete the checkout, please visit click < grants/cart link>to complete checkout.

[2020-09-28 23:58] GriffGreen commented on #7458
It definitely is happening when you delete grants from a preloaded cart

[2020-09-29 00:20] owocki commented on #7408
https://twitter.com/stellarmagnet/status/1310711507660025862

suggestions from yalda + niran

[code]

[2020-09-29 03:31] willsputra commented on #7527
Tried it out, but it would cut off the logos that are not square (or make it super small)

Hmm once we add those it will be similar to the current view tho, but with smaller images which would make the proportion kinda off...

[2020-09-29 07:45] dmihal opened #7556 "Don't require re-approving ZKSync approval each time"
**Describe the bug**
I need to re-approve each time I try to check out with ZKSync

**To Reproduce**
Check out with ZK Sync. Approve token allowance. Refresh page before completing step 3. When checking out again, the user will need to re-approve.

**Expected behavior**
The site should check the current token allowance and skip step 2 if already approved.

Note: I was able to work around the issue

[2020-09-29 09:42] seichris opened #7557 "Verify Grant Issue"
Set up a grant 10 minutes ago. Trying to verify. Getting an error: `Sorry, we couldn't get the last tweet from @https://twitter.com/chriscyber2000`

### Who
https://twitter.com/chriscyber2000/status/1310875501888708608

### What
https://gitcoin.co/grants/1382/ipfs-social-bookmarking

### Why
May be because I sent two tweets with the grant link?
May be because I need to wait a bit?

[2020-09-29 10:36] louisdm31 opened #7558 "zkSync payment issue"
Hello everybody,

Yesterday, I tried to make a contribution to Turbo-Geth on gitcoin.
The gitcoin system supposedly failed to proceed my transaction, despite my zkSync account was successfully debited.
Here is the exact path I followed :
- logged in, added a 0.01 ETH contribution to cart, then tried to pay with zkSync.
- I managed to complete the first two steps. I encountered some hurdle though.

[2020-09-29 10:51] willsputra commented on #7551
@PixelantDesign are "Followers" = "Tribe Members"?

[2020-09-29 11:48] willsputra commented on #7550
@PixelantDesign what do you think of simplifying the cards design? since we're removing a lot of stuff from the cards (View Bounty, Sponsored by, Looking for Team Members...)

![projects](https://user-images.githubusercontent.com/19514207/94554255-664e0c00-028c-11eb-80cf-fdba6dd3238e.jpg)

In the future we can add the Likes & Comments features too, when we're building the project discoverability f

[2020-09-29 12:18] PixelantDesign opened #7559 "People Tab Filter - Tribe Hackers Not Loading"
**Describe the bug**
People Tab Taking Longer than 1 Minute to Load

**To Reproduce**
1) Go to Arweave Tribe https://gitcoin.co/arweaveteam/people
2) Filter by Tribe Hackers

**Expected behavior**
Page loads quickly

**Screenshots**
<img width="2034" alt="Screen Shot 2020-09-29 at 8 18 10 AM" src="https://user-images.githubusercontent.com/238235/94557298-61597000-022c-11eb-8983-5170fa1c0353.png">

[2020-09-29 12:40] iamonuwa opened #7560 "As a user, I would love to copy the link to my verify tweet to for verification"
### Who

### What
As a user, I would love to copy the link to my verify tweet to for verification

### Why
Instead of either deleting tweets since twitter will fail if you attempt to tweet it again

[2020-09-29 13:16] willsputra commented on #7497
@PixelantDesign @zoek1 here's the design:
![zksync](https://user-images.githubusercontent.com/19514207/94563228-fabe6b80-0298-11eb-8f79-8bc384616c86.jpg)

[2020-09-29 13:32] thelostone-mc commented on #7317
synced up with @aamustapha ! we'll have a fix ready by Thursday

[2020-09-29 14:04] owocki commented on #7408
https://twitter.com/impe83/status/1310806063139094531?s=21

what can we do about scam grants?

[2020-09-29 14:04] Criptodiana opened #7562 "Verify Grant Issue"
### Who
My gitcoin grant account

### What
Already sent the tweet for verification from my account and it's not working

### Why
I don't know. Help!

[2020-09-29 14:05] thelostone-mc commented on #7557
It's verified now ^_^

[2020-09-29 14:05] #7557 closed

[2020-09-29 14:06] thelostone-mc commented on #7562
Could you share the
Grant Link
Tweet Link

@Criptodiana

[2020-09-29 14:14] willsputra commented on #7546
@thesachinmittal

[2020-09-29 14:32] Criptodiana commented on #7562
Of course. Here https://gitcoin.co/grants/1332/the-blockcode

[2020-09-29 14:56] PixelantDesign commented on #7497
Could we add zksync branding similar to in the grants experience so that users make the connection? Are we able to show where it failed @mds1 and give details on what happened?

[2020-09-29 14:59] Kryp0rd commented on #7558
I am having the same issue but with windows.

[2020-09-29 15:01] mds1 commented on #7497
These emails are all sent for failure at the same point—after the "deposit into zkSync" transaction is completed, but before the actual contribution transfers are sent on zkSync.

Feel free to add some branding or update the copy! We do need to get this deployed pretty quickly though since the grants round is coming to an end soon, so probably good to keep it fairly simple for now. cc @zoek1

[2020-09-29 15:12] Criptodiana commented on #7562
What seems to be the issue?

[2020-09-29 15:13] willsputra commented on #7497
something like this?
![contribution success email](https://user-images.githubusercontent.com/19514207/94577567-53960000-02a9-11eb-8a5e-5b91d6e01e6d.jpg)

[2020-09-29 15:32] owocki commented on #7558
@mds1

[2020-09-29 15:33] owocki commented on #7557
but do we know the root cause!|?

[2020-09-29 15:36] owocki commented on #7562
can you pls share the tweet link?  what browser are you on + where does it fail?

[2020-09-29 15:39] Criptodiana commented on #7562
Of course, here is the tweet: https://twitter.com/TheBlockCode/status/1309511868793458688?s=20
 I'm in Google Chrome. The failure is that after the tweet and pushing the Verification button, my account remains unverified.

[2020-09-29 16:21] mds1 commented on #7556
This is by design since the zkSync contract is upgradeable. So for security we intentionally don't approve MAX_UINT and only approve what you need + some margin. You can override the amount manually using MetaMask (and maybe other wallets) on the approval screen if you want.

This is what we currently do—if you already have sufficient allowance, clicking Approve will just change to "Not required"

[2020-09-29 16:23] mds1 commented on #7556
Worth noting that we do it this way instead of showing "Not required" earlier because of the ability to deposit more funds in the "Advanced settings" section. If you change the amount there, your approval amounts change, so the Approve button also acts to lock-in the additional deposit amounts

[2020-09-29 18:08] Criptodiana commented on #7562
Hello?

[2020-09-29 19:19] owocki commented on #7562
@Criptodiana please allow 24 hours for a response.

[2020-09-29 20:06] tkendal opened #7565 "Mobile Rd7 Grant contribution did not populate on Gitcoin"
**Describe the bug**
Contributed to two Rd7 grants (Cryptorado and RadicalxChange) in single ETH transaction from iOS (iPhone 7) using Chrome browser. Tx shows [on chain here](https://etherscan.io/tx/0xa469860ca498f1c29e1fdf45b30254cb21c2a4f3f4885652bcbe5ea8cb902b1a), but never landed on Gitcoin side.

**To Reproduce**
1. Add multiple grant contribution to cart and add custom comment
2. Checkout w

[2020-09-29 20:20] aamustapha commented on #6499
I got this same error when setting up on Ubuntu 20.04, but going through the installation guide again and seeing this section

I ran ```docker-compose up --build``` again and it worked.

[2020-09-29 20:34] NukeManDan commented on #7565
I received the funds for the cryptorado grant - [tx here](https://etherscan.io/address/0x1591b9056822c273252fcea32963223650db18e1#internaltx), but it's not showing on the [grant page](https://gitcoin.co/grants/220/cryptorado)

[2020-09-29 21:24] owocki commented on #7562
grant is now verified

[2020-09-29 23:29] owocki commented on #7408
showcase share images https://bits.owocki.com/P8uyjEOO

[2020-09-29 23:29] owocki commented on #7408
also: Hey this would be cool to have, a template to thank funders and tweet them, any idea on how we can hack it?
https://twitter.com/coinosis/status/1311077836690780161

[2020-09-29 23:30] samajammin opened #7566 "zkSync checkout issue"
Hey folks! Having some trouble paying out my Gitcoin Grants donations.

**Describe the bug**

First attempt (9/26):
- Tried checking out via zkSync. I left my computer while waiting for the transaction to process. It may have gone to sleep. Came back to this console error:
[code]

Second attempt (9/29):
- Went back to my cart. Your application alerted me "You started checking out with zkSync but n

[2020-09-30 03:24] PixelantDesign commented on #7497
Looks good. Maybe the  Subject line is : Unsuccessful Grant Checkout. Should we change the colors of the lines:
If I didn't read the email. I would think things are fine. Nothing I should be aware e of or act on.

[2020-09-30 10:29] PixelantDesign opened #7568 "Deploy 9/30 QA Ticket"
# Hackathons

### Events Tab

deployed, working fine.

### Participants Tab

- waiting on a deploy
### Projects V2

- waiting on deploy to test @zoek1

# Tribes

### Tribes Email to Followers

- waiting on fix from @sebastiantf

### Convert to Grant

- [ ] - add link from grant project back to hackathon project, [display hackathon project  name](https://www.figma.com/file/xyjOr7GkRv6M1BF4muPoWI/Gi

[2020-09-30 10:54] PixelantDesign opened #7569 "EXPERIMENT: Integrate Circle into ETC Labs Hack"
### EXPERIMENT: Integrate  Circle into ETC Labs Hack

### Why
As Gitcoin we'd like to know if integrating  circle will encourage idea formation and collaboration/communication between hackers.

### What

- [x] Integrate circle into ETC labs Hack
- [x] Turn off Circle notifications (since it doesn't sync with ours)

### Additional Comments

- all of the information stays in the circle, doesnt sync

[2020-09-30 11:21] PixelantDesign commented on #7550
yes! I like simplifying the cards, this also follows the new project view designs.
We should see existing winner  badge though, or update it everywhere so it's consistent. Check Projects V2 ticket.

[2020-09-30 11:22] PixelantDesign commented on #7550
@sanchaymittal is there anything we can do to remove the right rail on the projects view? It takes up a whole column  where we could be showing projects. Maybe we need another ticket to refactor right rail @willsputra

[2020-09-30 11:22] PixelantDesign commented on #7550
Let's hide filters by default, and sort by winners at the top?

[2020-09-30 12:04] sanchaymittal commented on #7550
We can remove the right sidebar, but we need to put the filters somewhere.

[2020-09-30 13:19] owocki commented on #7408
https://twitter.com/defi_latam/status/1311102408605532162?s=12

if you update a grant activity; it should set the idle to 0

[2020-09-30 13:29] owocki commented on #7566
thanks @samajammin for the detailed issue report :)

@mds1 can u take a look? iirc we've had issues in brave in the past, metamask/their native web3 walllet dont play nice togetehr

[2020-09-30 13:31] owocki commented on #7497
hey; heads up theres only 2 days left in the round. so if were gonna send
this, we should do it carefully but probably do it today/tomo!

On Tue, Sep 29, 2020 at 9:24 PM Pixelant <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gi

[2020-09-30 13:56] owocki commented on #7408
feedback thread on twitter https://twitter.com/owocki/status/1311295170034319362

[2020-09-30 14:02] owocki commented on #6813
https://github.com/sourcecred/sourcecred/pull/2166#issuecomment-685146604

[2020-09-30 14:16] owocki commented on #7497
@zoek1 can this get coded today? if not, we should probably punt until next round

[2020-09-30 14:18] willsputra commented on #7408
The only thing I was confused by is that there were 3 buttons. I did the first one and the 2nd one then said I didn't have to do it (I think the 2nd step was approve ERC20s?). After I did that at the top it said "Please don't close this window, estimated wait is 2 - 4 minutes)", so I left it. I came back a half hour later and it was in the same state. That's when I realized there was the 3rd step

[2020-09-30 14:29] knocte commented on #5997
@owocki hey can you teach your team some github manners? closing an issue without reason is not normal.

And this person has done this already more than once.

[2020-09-30 14:42] #7363 closed

[2020-09-30 14:43] owocki commented on #6813
spec is here https://github.com/gitcoinco/web/issues/6813 and here https://github.com/gitcoinco/web/issues/6690

[2020-09-30 15:47] owocki commented on #7408
https://twitter.com/letsgobankless/status/1311329721473523714

show total clr match on checkout (and in emails)

[2020-09-30 16:11] willsputra opened #7570 "As a developer, when I visit a tribe page, I want to see the resources that I need for building my project."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, when I visit a tribe page, I want to see the resources that I need for building my project.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: When I visi

[2020-09-30 16:13] willsputra commented on #7570
@thesachinmittal @sanchaymittal I created this ticket based on our discussion on tribes the other day. let's continue brainstorming here! 🙂

[2020-09-30 16:34] mds1 commented on #7566
Like @owocki said, thank you for all the details! Made it much easier to figure out what went wrong here.

For Brave, make sure that in settings > Extensions, if you want to use MetaMask, that it looks like this:

<img src="https://user-images.githubusercontent.com/17163988/94709540-a5b34180-02fa-11eb-9c17-9d6cb07803f3.png" width=800px />

However, looking at your transactions on [zkScan](https://

[2020-09-30 16:36] mds1 commented on #7565
Hey @thelostone-mc / @octavioamu — can you look into this one?

[2020-09-30 16:37] klinko88 opened #7571 "zkSync Checkout issue"
Went through checkout using zkSync. Did all 3 steps, but cannot determine if the funding completed. Doesn't appear so in my account, and grants are still in my cart; however, the ether has been paid from my wallet to the zkSync contract.. so not sure if another step is needed or what.

[2020-09-30 16:39] owocki commented on #5997
hes closing old issues out; thats why it was closed.

speaking of github manners, your message is quite aggressive.  you could instead ask "hey why was this issue closed?" maybe.

[2020-09-30 16:42] owocki commented on #5997
(fwiw - i just tested on brave, and i can fund an issue on the latest release - let us know if you cannot; thanks!)

screenshot of the denominations rendering in brave: https://bits.owocki.com/7Ku8gO4z

[2020-09-30 16:43] owocki commented on #7571
pls let us know your web3 wallet/browser combo, and if you see any errors in your javascript console.  i understand this is annoying to have to provide, but itll help us debug the root cause.

[2020-09-30 16:46] klinko88 commented on #7571
MetaMask on iPhone. This was a few days ago, just following up on it now.
Didn't see any errors at the time.

Address: 0xA13376fD5Ed015A3304d4574887ffBfc54b6b568
tx hash: 0x44ee332494196394ba53f8b2d80a93cc6b9511eb24eeac45ca3d3c3fe9f65b31
https://etherscan.io/tx/0x44ee332494196394ba53f8b2d80a93cc6b9511eb24eeac45ca3d3c3fe9f65b31

Don't judge the $EMN purchases on this address haha.

Thank you

On We

[2020-09-30 16:49] mds1 commented on #7558
Hey @louisdm31—I'm not 100% certain of this without additional information, but I believe the transaction that you see is actually an intermediary transaction we use to improve UX, and not the actual donation to Turbo-Geth

We should be able to complete your checkout with the following steps:
1. If the grant is still in your cart, great! If not, re-add it and for the same amount
2. Let me know onc

[2020-09-30 16:52] mds1 commented on #7458
Hey @GriffGreen sorry for the late response here. And sorry that all your comments are lost 😕

Can you elaborate a bit on the cause you found and how to reproduce this?

[2020-09-30 16:55] louisdm31 commented on #7558
Hi @mds1 , thanks for your answer. I've just re-added my contributions to the cart.

[2020-09-30 16:58] mds1 commented on #7558
Awesome, thanks. Now visit the cart page again and let me know if things work as expected!

[2020-09-30 16:59] octavioamu commented on #7458
I replicated the steps without luck the first time, but a second time gave me the error, I wonder if depends the grant you delete.

[2020-09-30 17:02] louisdm31 commented on #7558
Problem solved. Thanks a lot !

[2020-09-30 17:04] mds1 commented on #7558
No problem!

[2020-09-30 17:19] octavioamu commented on #7458
@mds1 seems the problem is with the exchange calculation , as still trying to fetch data for something that doesn't exist
![image](https://user-images.githubusercontent.com/1358093/94716963-0a37c600-0326-11eb-9940-458b26dca2ca.png)

**TO REPRODUCE THIS ERROR**
Go to https://gitcoin.co/grants/cart/bulk-add/888;10;283,200;10;283,1122;10;283,170;10;283,1093;10;283,223;10;283,224;10;283,308;10;283,24;

[2020-09-30 17:24] mds1 commented on #7571
Hey @klinko88, just updated this for you on the backend. Try revisiting the cart and you should get a prompt to complete checkout. Just walk through all 3 of those steps and things should be complete after!

[2020-09-30 17:29] klinko88 commented on #7571
Thank you - looks like that worked.

[2020-09-30 17:29] #7571 closed

[2020-09-30 17:33] octavioamu commented on #7458
Ok @GriffGreen @RockmanR  @zkeducation   I have a quick dirty snipped if you not cleared your cart and want to recover the data. this code will just remove the last one you had on your cart.

Open console, paste this and hit enter:
[code]
Reload window.

[2020-09-30 17:51] samajammin commented on #7566
Thanks @mds1! Went with option 1. I believe I'm all set here - could you please confirm my remaining contributions went through? If so, I think we can call this a success & close the issue.

[2020-09-30 17:55] mds1 commented on #7566
Confirmed the contributions went through so you are all set!

[2020-09-30 17:55] #7566 closed

[2020-09-30 20:25] GriffGreen commented on #7533
I am very very happy about this feature. thx gitcoin!