[2019-03-15 21:14] mehul0698 commented on #3713
@owocki @thelostone-mc I have added 6 accessories and 2 clothing options. Please review the pr and let me know if any changes are required. #3971

[2019-03-15 22:07] Kisgus commented on #3968
All good, thanks for support 24/7 @owocki, nothing but outstanding !

[2019-03-15 22:12] owocki opened #3979 "bug - roundup email is a mess in MSFT outlook"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
roundup email is a mess in MSFT outlook

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
send roundup email with `./manage.py roundup --live`
open it in outlook

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
alignment looks like what it look

[2019-03-16 01:26] rafalkowalski commented on #3913
You can check implementation here https://github.com/gitcoinco/web/pull/3945

[2019-03-16 08:53] svipal commented on #2169
Here is a tentative recap of some gitcoin architecture points where gitlab pathways are needed :

- Issue fetch : done in WIP - changes are described in the latest commit and in this thread.
- Bot :
	- command bot : easily done because API supports webhooks , but caveats due to GL diffs
	- issue status report : haven't looked at this yet.
- user profiles and Oauth. Meaning also, matching gitlab en

[2019-03-16 23:08] zoek1 commented on #3801
Hey @owocki, i'm free could i take this?

[2019-03-17 14:53] rafalkowalski commented on #3978
@PixelantDesign Currently we can see two contributors who submited work.

[2019-03-18 02:28] owocki commented on #3979
sweet looking fwd to working with you @Anish-Agnihotri

[2019-03-18 02:31] owocki commented on #3801
@iamonuwa u still want this?  if not, looks like @zoek1 can take it.  up to u guys.  im happy as long as it getz done!

[2019-03-18 04:38] owocki opened #3981 "user cannot register ENS name with Opera"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

user cannot register ENS name on Samsung S9 with opera

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
use samsung s9 with opera
sign into gitcoin
go to gitcoin.co/ens

blank screen of death!
<img width="289" alt="Screen Shot 2019-03-17 at 10 36 55 PM" src="https://user-images.githubuserconten

[2019-03-18 04:40] owocki commented on #3981
Note that this happened on a Samsung S9 but I think it might also happen on the desktop version of Opera too.

[2019-03-18 07:28] Skyge commented on #3981
Yeah, maybe there is also something wrong with the desktop version.

[2019-03-18 11:57] owocki opened #3982 "Register Gitcoin with TryEthereum.today"
The Scope of this task is to PR Gitcoin into TryEthereum.today as per the instructions on https://twitter.com/kermankohli/status/1107486142343987200?s=12

You can use gitcoin.co/presskit or https://github.com/gitcoinco/creative to get the assets needed to make said PR.

[2019-03-18 15:31] owocki opened #3984 "Settings Bug - "<User: super-oleg>" needs to have a value for field "id" before this many-to-many relationship can be used."
"<User: super-oleg>" needs to have a value for field "id" before this many-to-many relationship can be used.

[code]

[2019-03-18 15:47] emiwatanabe422 commented on #3931
@owocki I think I could get started on this next week.

[2019-03-18 15:57] owocki commented on #3931
cool lets do it

[2019-03-18 16:04] thelostone-mc commented on #3891
@fronk would the gist suffice ?

[2019-03-18 16:18] rafalkowalski commented on #3984
@owocki i can work on it

[2019-03-18 16:40] owocki commented on #3984
great!

[2019-03-18 17:40] rafalkowalski commented on #3984
@owocki Could you book this issue for me?

[2019-03-18 17:41] PixelantDesign opened #3985 "Codefund Design Help"
Design Scrub Codefund Wordpress Template.

- [ ] Make it on brand
- [ ] Make icons match topics
- [ ] Review with Eric

[2019-03-18 17:42] PixelantDesign opened #3986 "Codefund - Frontend Wordpress Help"
TBD

[2019-03-18 17:46] PixelantDesign opened #3987 "UX - Suggesting Verified Contributor profiles for review, or contributors you've worked with in the past"
UX - Suggesting Verified Contributor profiles for review, or contributors you've worked with in the past

### User Story

As a funder, when I'm completing the funder form, I'd like Gitcoin to recommend to me workers for my Bounty. These could be verified contributors or contributors I've worked with in the past.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is neede

[2019-03-18 17:51] PixelantDesign opened #3988 "Data - User Engagement Analysis - As Gitcoin, we'd like to understand our users behavior and come up with ideas on how to engage with them."
Data - Pull Github handles - people that signed up and haven’t done anything. Who has a lot of open source contributions.
Cross reference current bounties on platform with current skillets on platform.

[2019-03-18 17:53] owocki opened #3989 "Kudos Img Previews are broken for Animated Kudos"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
Kudos Img Previews are broken for Animated Kudos

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

Checkout https://gitcoin.co/kudos/2115/ethereal-gameboy
Then go to https://gitcoin.co/dynamic/kudos/2115/ethereal-gameboy

**Expected behavior**
[comment]: # (A clear and concise description of wha

[2019-03-18 17:58] PixelantDesign opened #3990 "Backend - Fix Matching Logic"
### Problem/User Story
Currently bounty email matching and skills matching in onboard are using different logic.

Backend Fix matching (near term)
There is a discrepancy on how we match between email and onboarding tags. Make these two appoaches match.
Make it more accurate, what can we do that is low lift?

### Definition of Done

- [ ] Investigate why these are different.
- [ ] Implement a solut

[2019-03-18 17:59] owocki opened #3991 "bug - unclosed div on profile 404 page bug"
When you trying hitting an invalid profile URL ->  the UI screen breaks.
Identity the missing and ensure valid profile + hidden profile page render as expected

<img width="709" alt="Screen Shot 2019-03-18 at 11 57 24 AM" src="https://user-images.githubusercontent.com/513929/54552149-08d9bf00-4975-11e9-865f-12b4d589846a.png">

the footer should go across the entire bottom of the screen.  like it d

[2019-03-18 18:29] agwisniewska commented on #3991
Can I check it ?

[2019-03-18 18:30] pbteja1998 commented on #3982
@owocki
https://github.com/kermankohli/try-ethereum/pull/5

[2019-03-18 18:38] thelostone-mc commented on #3991
@agwisniewska Yup go ahead! Check out how to run locally via Docker section and raise a PR  ^_^

[2019-03-18 19:06] frankchen07 opened #3993 "As a Gitcoin funder, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tied to a specific funder's account."
### User Story

As a Gitcoin funder, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tied to a specific funder's account.

### Why Is this Needed

For Gitcoin Bounties, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tie

[2019-03-18 20:50] frankchen07 opened #3996 "As a Gitcoin advocate, I want to be able to pitch Gitcoin."
### User Story

As a Gitcoin advocate, I want to be able to pitch Gitcoin.

### Why Is this Needed

Pitching Gitcoin to family and friends requires an understanding of its backstory, the history and standing of the open source industry, and how GItcoin fits in with it's mission of "growing open source."

### Description

https://gitcoin.co/presskit is lacking in materials that explain Gitcoin.

1.

[2019-03-18 20:56] emiwatanabe422 opened #3997 "Bounty activity feed doesn't specify who is receiving tip, worker approved, and work done"
In a bounty's activity feed, the events "tip sent", "worker approved" and "work done" only show the user(funder) sending the tip and accepting the worker. We should be able to see which worker is receiving the events.

Here it shows the funder sending a tip and paying out a worker, it does not show which worker received payment.
https://gitcoin.co/issue/gitcoinco/web/3714/2294
![image](https://use

[2019-03-18 21:45] owocki opened #3999 "bug - conversion rate on bounty email is wrong"
conversion rate on this bounty email is wrong

http://bits.owocki.com/dc69b750161a/Gitcoin%20Core%20Mail%20-%20You've%20successfully%20funded%20a%20bounty!.pdf

25 DAI == $25

[2019-03-18 21:52] owocki commented on #3999
this is the bounty https://gitcoin.co/issue/gitcoinco/web/3982/2624

[2019-03-18 21:53] owocki commented on #3984
sorry what does "book this issue" mean

[2019-03-18 21:55] rafalkowalski commented on #3984
At the top you can set assignment person.

[2019-03-18 22:58] owocki commented on #3984
hmm for some reason i can't seem to assign you http://bits.owocki.com/72434598f879/Screen%20Shot%202019-03-18%20at%204.57.54%20PM.png

[2019-03-18 23:00] rafalkowalski commented on #3984
Ah ok, I thought that everyone could be assigned to an issue. Probably it's releated that I'm not a member of organization.

[2019-03-19 04:15] thelostone-mc commented on #3991
@agwisniewska we got a PR in for this! Would you be open to throwing in a fix for https://github.com/gitcoinco/web/issues/3715 ?

[2019-03-19 04:15] #3991 closed

[2019-03-19 04:16] thelostone-mc commented on #3984
@rafalkowalski yeah issues can be assigned only to members of the repo!
Go ahead and work on it ! It's yours for the taking ^_^

[2019-03-19 06:43] thelostone-mc commented on #3997
cc @PixelantDesign @willsputra @frankchen07

[2019-03-19 09:41] thelostone-mc commented on #3975
Closing it out ^_^

[2019-03-19 09:41] #3975 closed

[2019-03-19 12:31] PixelantDesign opened #4000 "UX - As a Funder I'd like to be able to co-manage my bounties with my team members."
### User Story

As a funder I'd like to be able to co manage a bounty with my team members.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Market validated customer need. Currently there is no ability to share/co manage bounties at this time.

###

[2019-03-19 12:43] PixelantDesign opened #4001 "Build - Star Ratings in Advanced Payout"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on bounties that need to be paid using advanced pay so that we can understand their experience with tasks that require multiple contributors to complete.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-03-19 12:47] PixelantDesign opened #4002 "Build - Backend Prompt to Capture Previous Star Ratings"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on bounties that need to be paid using advanced pay so that we can understand their experience with tasks that require multiple contributors to complete.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-03-19 13:56] owocki commented on #3999
happened again. http://bits.owocki.com/0a422e7adcb2/Screen%20Shot%202019-03-19%20at%207.55.40%20AM.png

the email is showing the CONVERSION rate, not the price of the bounty

[2019-03-19 13:56] owocki commented on #3999
this is a 1 line change i think.  i will bounty it, and hopefully someone who is NEW to the communtiyi / codebase will fix it

[2019-03-19 13:59] ceresstation commented on #3966
That sounds great, per our conversation we should also add a line in red letters stating that the recipient address cannot be changed and should be chosen carefully.

[2019-03-19 14:17] willsputra commented on #3873
Updated with latest modal
![Advanced Payout](https://user-images.githubusercontent.com/19514207/54612882-bc85a080-4a94-11e9-92f7-0a9a56bd73e1.jpg)

[2019-03-19 14:24] willsputra commented on #3886
Updated with clearer CTA

![Star Rating Modal](https://user-images.githubusercontent.com/19514207/54613446-acba8c00-4a95-11e9-8543-9c4659c81252.jpg)
![Star Rating in Funds Paid Email](https://user-images.githubusercontent.com/19514207/54613450-ad532280-4a95-11e9-95a9-4804d556ae4a.jpg)

[2019-03-19 14:33] willsputra commented on #4002
Email:
![54613450-ad532280-4a95-11e9-95a9-4804d556ae4a](https://user-images.githubusercontent.com/19514207/54614226-053e5900-4a97-11e9-8ac2-8789be4969a5.jpg)

Modal:
![54613446-acba8c00-4a95-11e9-8543-9c4659c81252](https://user-images.githubusercontent.com/19514207/54614243-0a9ba380-4a97-11e9-8517-c5150868a04e.jpg)

[2019-03-19 14:34] willsputra commented on #4001
Star Ratings in Advanced Payout
![54612882-bc85a080-4a94-11e9-92f7-0a9a56bd73e1](https://user-images.githubusercontent.com/19514207/54614306-256e1800-4a97-11e9-9a95-8089fac201f7.jpg)

[2019-03-19 14:35] willsputra commented on #3964
Star Ratings on Basic Payout:
![Star Ratings on Basic Payout](https://user-images.githubusercontent.com/19514207/54614403-4e8ea880-4a97-11e9-87c5-1a463e6e6ddb.jpg)

[2019-03-19 16:19] #3999 closed

[2019-03-19 18:47] pbteja1998 commented on #3982
@owocki

[2019-03-19 18:59] owocki opened #4004 "Your Funded Bounty Is Fulfilled email issues"
padding on this email could use a little love

<img width="1287" alt="Screen Shot 2019-03-19 at 12 57 53 PM" src="https://user-images.githubusercontent.com/513929/54633923-bcf74a80-4a46-11e9-85fe-762ca33e0fbe.png">

and the ‘view work’ button just takes me to `gitcoin.co`

[2019-03-19 21:00] frankchen07 opened #4006 "As a Gitcoin engineer, I can save alot of time by setting up automated regression testing and continuous deployment"
### User Story

As a Gitcoin engineer, I can save alot of time by setting up automated regression testing and continuous deployment.

### Why Is this Needed

An investment of 5-8 story points now to get CD and automated regression testing implemented will save us tens of story points per sprint down the line.

### Description

Implementing automated regression (virtual server that helps to quickly

[2019-03-19 21:20] frankchen07 opened #4007 "As a Gitcoin team member, what are sustainable business models for Gitcoin Grants?"
### User Story

As a Gitcoin team member, what are sustainable business models for Gitcoin Grants?

### Why Is this Needed

Seeing as we are about open source sustainability, part of helping the community fund itself is us still being around to help. That requires revenue. How can we figure out a sustainable and ethical business model for Gitcoin Grants that serves the community and helps cover ou

[2019-03-19 21:26] frankchen07 opened #4008 "As a potential contributor to Gitcoin Grants, I will be more willing to make a new recurring contribution if it is socially accessible and recommended to me by my peers."
### User Story

As a potential contributor to Gitcoin Grants, I will be more willing to make a new recurring contribution if it is socially accessible and recommended to me by my peers.

### Why Is this Needed

As we reach adoption with Gitcoin Grants, we want to ensure that there is enough positive marketing around Gitcoin Grants to ensure that the contributors who are potentials are turned into

[2019-03-19 21:29] rafalkowalski commented on #3984
@thelostone-mc  I'm not able to reproduce above bug in test environment ;/

[2019-03-19 21:34] frankchen07 opened #4009 "As a funder, if I decide to increase the bounty amount, the % fee should still apply"
### User Story

Gitcoin Bounties % fee, if a funder decides to increase the bounty amount, the % fee still applies

### Why Is this Needed

If the % fee only applies to when a funder first opens a bounty, then a potential way to sidestep the flat rate fee would be to post a infinitesimally small $ bounty and then change the bounty amount post-funding in order to avoid the fee.

### Description

We

[2019-03-19 22:40] owocki commented on #3981
@gutsal-arsen i think this might have to do with web3js not being injected into the page

[2019-03-19 22:43] owocki commented on #3623
new icons look great @maxstalker! if you send the SVGs ill implment them

[2019-03-19 23:18] rafalkowalski commented on #4004
You can check changes here: https://github.com/gitcoinco/web/pull/4010

[2019-03-20 03:33] gutsal-arsen commented on #3981
@owocki actually there was a problem initializing Raven library, which I have seems fixed. I can't reproduce that issue currently, so would do that way: I'll create the PR now with fixed Raven init (it's needed anyways), hopefully it will fix web3js load. If not, I'll keep digging.

[2019-03-20 08:38] gutsal-arsen commented on #3981
@owocki could you gimme exact Opera version number you used on S9?

[2019-03-20 13:18] danlipert opened #4013 "Bounty description Markdown formatting does not exactly match Github's"
**Describe the bug**
The markdown formatter we use to display markdown in bounty detail pages has some issues in replicating github formatting

**To Reproduce**
See: https://gitcoin.co/issue/ssbc/patchwork/952/2636
https://github.com/ssbc/patchwork/issues/952

**Expected behavior**
The markdown on gitcoin should match github's formatting (or at least not look buggy)

**Screenshots**
![Screen Shot

[2019-03-20 14:20] octavioamu opened #4014 "Suggest keywords instead of autocomplete In the fund issue"
### Background

Having keywords that are too generic or inaccurate may be problematic in a couple of ways:

1. It makes it harder for contributors to search for issues matching their skills on the Issue Explorer.

2. Mismatch of skills between the contributors and the bounty requirements, which could result in bounty abandonment or expectation mismatch.

### Current Behavior

When funding an issue

[2019-03-20 14:23] owocki commented on #3981
i dont have it but @yorkerhodes3 does!

[2019-03-20 14:36] PixelantDesign commented on #4009
Is this a design task or build?

[2019-03-20 15:49] owocki opened #4016 "bug - gitcoin throws an error when I click to send a notifier"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
I just got a bug report from a user "gitcoin throws an error when I click to send a notifier"

When I asked the contributor to clarify they said "I've clicked it on this page; https://gitcoin.co/issue/status-im/status-components/5/2608 the button name is "Send Payment Reminder", so when will I receive the bount

[2019-03-20 16:44] MaxStalker commented on #3623
Sorry, couldn't bring results page live on localhost to provide this update in form of a proper PR.
Attached you can download icons in zip archive.
[results-page-icons.zip](https://github.com/gitcoinco/web/files/2989217/results-page-icons.zip)

I also suggest to strip out color and make it closer to this mockup
![results-stats-proposal](https://user-images.githubusercontent.com/3136647/54702673-5f

[2019-03-20 16:44] PixelantDesign commented on #3969
[Refund Email.zip](https://github.com/gitcoinco/web/files/2989222/Refund.Email.zip)

![Refund Email](https://user-images.githubusercontent.com/238235/54702767-e4fdb100-4b0d-11e9-95f3-236a9f60527d.jpg)

[2019-03-20 18:13] frankchen07 commented on #3969
https://github.com/gitcoinco/web/pull/3961#issuecomment-474965633

[2019-03-20 18:20] frankchen07 commented on #4009
design first, then build, but may de-prioritize for now as it's an edge case that people will game the system.

https://github.com/gitcoinco/web/pull/3961#issuecomment-474965633

[2019-03-20 18:55] PixelantDesign opened #4018 "Build Front End - Prompt to Capture Previous Star Ratings Email & Modal"
### User Story

As Gitcoin, we'd like funder's and contributors to be able to provide feedback on bounties that need to be paid using advanced pay so that we can understand their experience with tasks that require multiple contributors to complete.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-03-20 18:58] octavioamu opened #4019 "Gitcoin Users Directory"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to have a page to search and filter users so is easy to understand what people to work with or hire.

### Why Is this Important

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*

[2019-03-20 19:00] PixelantDesign commented on #3903
Done!

[2019-03-20 19:00] #3903 closed

[2019-03-20 19:00] octavioamu opened #4020 "As Gitcoin, we'd like our platform to stay up so we'll need to make some updates to support Infura changes."
### User Story
As Gitcoin, we'd like our platform to stay running so we'll need to update it to comply with new Infura changes.

### What
Need to update the infura endpoints until 27th

### Why
Because is going to change/break the Gitcoin platform.

### Definition of Done

- [ ] Development support for Dan on Infura Updates

[2019-03-20 19:00] #3900 closed

[2019-03-20 19:01] #3382 closed

[2019-03-20 19:36] #2510 closed

[2019-03-20 20:04] owocki commented on #3969
pedantic copy point; but should we start to normalize how we talk about the core team.  I've been using Gitcoin Core == the core team; Gitcoin == the network & OSS software that powers it.

so in this case I recommend

[2019-03-20 20:44] emiwatanabe422 opened #4021 "Simplify Bounty Activity Feed"
Make the Activity Feed on the Bounty page more clear

On this particular bounty, the activity feed is getting unnecessarily long. It's not visually clear what's going on.
https://gitcoin.co/issue/gitcoinco/kudosbadges/156/2295
![image](https://user-images.githubusercontent.com/46271233/54717666-f77be880-4b15-11e9-959d-945a3c1f34e5.png)

[2019-03-20 20:44] emiwatanabe422 commented on #4021
@PixelantDesign

[2019-03-20 20:46] emiwatanabe422 commented on #4021
![image](https://user-images.githubusercontent.com/46271233/54717897-7a9d3e80-4b16-11e9-82b0-15ae5025a085.png)

[2019-03-20 21:23] owocki commented on #3623
just made the changes on my local => http://bits.owocki.com/2ef7d67624ea/Screen%20Shot%202019-03-20%20at%203.22.04%20PM.png

had to guess on font sizes / font

@MaxStalker you are really talented; i hope to work with you again!  how much do i owe you for this task, and do you see any other obivious things we should change from here?

[2019-03-20 21:44] frankchen07 opened #4022 "WORKSHOP - As a Gitcoin funder, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tied to a specific funder's account."
### User Story

WORKSHOP - As a Gitcoin funder, users from the same organization who open bounties find it difficult to manage bounties within the team, as payout and funder actions are tied to a specific funder's account.

### Why Is this Needed

This ticket is specifically to workshop shared management front-end user experience.

UX ticket here: https://github.com/gitcoinco/web/issues/4000

Mult

[2019-03-20 21:58] MaxStalker commented on #3623
@owocki you can use this sandbox to reference CSS:
https://codesandbox.io/s/q7v9ypp5lj

As for payment, I've spent around 8 hours to bring you this. Pay whatever you feel this worth ;)

[2019-03-21 02:14] knocte commented on #2169
For the sake of collaboration (so that potential contributors can jump in and continue the work), I would say yes.

[2019-03-21 04:50] Skyge commented on #3956
I would like to work on this issue.

[2019-03-21 06:13] thelostone-mc commented on #4009
@frankchen07 design is already done ! The code is more or less wrapped up :P

[2019-03-21 06:36] gutsal-arsen commented on #3956
@owocki are you going to look inside existing `gitcoin` users only or probably invite any among 38M github users found via `https://api.github.com/users`? Seems information that github API provides might be somehow used by ML to identify guys who might be interested.

[2019-03-21 09:48] thelostone-mc commented on #4008
@frankchen07 crypto twitter bot ?
You mean you want our gitcoin handle to publish tweets tagging potential grant contributors ?

[2019-03-21 11:41] thelostone-mc commented on #4022
I'm assuming
- for any payments would this heavily rely whether we update the contract or use something like gnosis wallet
- for non wallet interactions (aka funder actions) can be done indenpendent on which path we take

[2019-03-21 12:54] #3881 closed

[2019-03-21 12:55] #3887 closed

[2019-03-21 13:23] owocki commented on #3713
hey all its [holi in india](https://www.google.com/search?q=holi+india&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjH2biSqpPhAhWJneAKHSVvDYIQ_AUIDigB&biw=1440&bih=636) -- id love to see some holi assets on the avatar builder!

[2019-03-21 13:38] danlipert commented on #4006
@frankchen07 Here's the breakdown of this task as I see it, and I think each step should be done over multiple weeks so that we can see the effect of each effort on our deployments and overall workflow:

### Automated End-to-End Regression Testing

1. A general end-to-end testing framework should be set up, with at least one extremely basic test case.
2. Additional test cases should be added to co

[2019-03-21 14:10] PixelantDesign commented on #3969
yep we could do that

[2019-03-21 14:27] rafalkowalski commented on #4004
@PixelantDesign It's already resolved. Could you close it?

[2019-03-21 15:20] rafalkowalski commented on #3876
@PixelantDesign I could work on it.

[2019-03-21 17:51] frankchen07 opened #4028 "As a Gitcoin engineer, I can save alot of time by setting up an automated regression testing framework."
### User Story

As a Gitcoin engineer, I can save alot of time by setting up an automated regression testing framework.

### Why Is this Needed

An investment of 5-8 story points now to get CD and automated regression testing implemented will save us tens of story points per sprint down the line.

### Description

The scope of this ticket is limited to setting up the automated testing framework.

[2019-03-21 17:51] frankchen07 opened #4029 "As a Gitcoin engineer, I can save alot of time by adding test cases to the automated regression testing framework."
### User Story

As a Gitcoin engineer, I can save alot of time by adding test cases to the automated regression testing framework.

### Why Is this Needed

The more test cases we have, the faster we can test new features. This way, we can release faster and save more story points in the future.

### Description

The scope of this ticket is limited to adding test cases to the automated testing fram

[2019-03-21 17:52] frankchen07 opened #4030 "As a Gitcoin engineer, I wanted to integrate Travis CI with our automated testing framework."
### User Story

As a Gitcoin engineer, I wanted to integrate Travis CI with our automated testing framework.

### Why Is this Needed

Dependent on completion of:

1. https://github.com/gitcoinco/web/issues/4028
2. https://github.com/gitcoinco/web/issues/4029

At this point, end-to-end testing has significant value and should be integrating into our processes at the individual level (i.e. using the

[2019-03-21 17:52] frankchen07 opened #4031 "As a Gitcoin engineer, having continuous deployments set up will allow us to more easily and quickly deploy new changes."
### User Story

As a Gitcoin engineer, having continuous deployments set up will allow us to more easily and quickly deploy new changes.

### Why Is this Needed

Continuous deployments will be a streamlined process to ensure easy and more deploys.

### Description

The scope of this ticket is limited to setting up a Jenkins (or similar) box for "one-click" deploys. The deployment scripts, keys, et

[2019-03-21 17:52] frankchen07 opened #4032 "As a Gitcoin engineer, I want to fully integrate continuous deployment with automated testing."
### User Story

As a Gitcoin engineer, I want to fully integrate continuous deployment with automated testing.

### Description

Dependent on completion of:

1. https://github.com/gitcoinco/web/issues/4030
2. https://github.com/gitcoinco/web/issues/4031

Full continuous deployment should be set up once the process seems smooth with solid post-deploy testing in place (vis-a-vis the automated end-to

[2019-03-21 18:20] owocki commented on #3806
@CPSTL thoughts here?  should i close down the task?

[2019-03-21 18:32] owocki commented on #3712
closing this bounty now.  if i still owe you, or your work is in progress, will pay you in next couple days.

will open up another one in april.  if i dont remind me :)

[2019-03-21 18:42] nasehim7 commented on #3712
@owocki Sure Kevin :)

[2019-03-21 18:57] owocki commented on #3956
only gitcoin users to start; but it'd be great to be able to discover ppl outside of gitcoin eventually

[2019-03-21 19:46] CPSTL commented on #3806
@owocki Presenting it to @PixelantDesign in the next two days.

[2019-03-21 20:36] frankchen07 commented on #3762
hi @damianlarrosa, any progress here? if not, I will remove you from this bounty and release back to the public. If you decide you want to try again, feel free to start work again.

[2019-03-21 20:37] frankchen07 commented on #3763
@hi @MatthewPChapdelaine , any progress here? if not, I will remove you from this bounty and release back to the public. If you decide you want to try again, feel free to start work again.

[2019-03-21 21:54] emiwatanabe422 commented on #4021
[ActivityFeed.pdf](https://github.com/gitcoinco/web/files/2994103/ActivityFeed.pdf)

[2019-03-21 22:02] MaxStalker commented on #3623
@owocki if you "struggle" to get the number - I would say that full 250 DAI would make me real happy, but it should also correlate with your vision and how much you wanted to drop on this issue, since it wasn't discussed upfront.

[2019-03-22 06:24] gutsal-arsen commented on #3956
@owocki I'm assured that Availability is somehow missing. If contributor is already working on 2-3 issues his profile should be hidden form the results. Another question do we really need `Geographic location`? `Current Timezone` sounds more reasonable.

[2019-03-22 10:39] #4004 closed

[2019-03-22 10:51] #3370 closed

[2019-03-22 15:55] ceresstation commented on #4008
Hey @thelostone-mc we're thinking of what an integration with this bot might look like, mainly: https://twitter.com/SendCrypto

If each recipient had a Twitter identity, then people could donate with something like "@SendCrypto @GetGitcoin LeapDAO $5"?

[2019-03-23 01:01] alexvotofuture opened #4035 "Filter Hackathon Prize Issues by Sponsor/Funder"
### User Story

As a hackathon participant I want to filter prize issues by sponsor/funder.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Hackers want to see all issues posted by companies they are interested in. Sponsors want to be sure that thei

[2019-03-23 09:14] thelostone-mc commented on #3557
Closing this out and we ended up going with another metamask popup
as discussed [here](https://gist.github.com/thelostone-mc/dd89b2824f1c5243fd256a902bb2b29b)

[2019-03-23 09:14] #3557 closed

[2019-03-23 09:16] thelostone-mc commented on #3923
who would be doing this btw?  @danlipert / green squad ?

[2019-03-23 10:16] thelostone-mc commented on #3984
@owocki I'm not able to reproduce this locally ! mind sharing the steps ?

[2019-03-23 11:40] thelostone-mc commented on #2195
Seems this has been resolved 🙌

[2019-03-23 11:41] PumpkingWok commented on #2195
Hi @thelostone-mc,
Yes, it has been resolved, thank you very much.

[2019-03-23 11:45] #3896 closed

[2019-03-23 11:49] thelostone-mc commented on #3869
@kziemianek / @hatgit  do tag the PR to this issue if either of you decide to open it up

[2019-03-23 14:54] #3014 closed

[2019-03-23 15:47] frankchen07 commented on #3923
I would say green squad since @danlipert and @thelostone-mc - you guys were the ones who were working on it.

@PixelantDesign

[2019-03-23 18:39] lazaridiscom commented on #3956
related https://github.com/gitcoinco/web/issues/3765

Some funders are looking to hire.

[2019-03-23 22:57] frankchen07 commented on #4008
to be specific, I believe the "recipient" means the person who opened the Gitcoin Grant. This makes it easy to notify folks with a link to go and donate to the Gitcoin Grant.

Depending on the level of integration, I see it happening like (grant A is opened by contributor B). I tweet "@SendCrypto @contributorB [[the project they're working on]] $10

@ceresstation can you put us in touch with Mike

[2019-03-24 04:46] francopetra commented on #3935
Hey @owocki  and @PixelantDesign just pushed the code for review. Was waiting for @PixelantDesign, but I also think it wasn't in the initial issue's scope, but it would be good for the contributor's workflow.
I think the issue is pretty much solved. Let me know what you think!

[2019-03-24 15:05] xiaods commented on #3956
Current Timezone sounds more reasonable looks a promise suggest.

[2019-03-25 13:41] owocki commented on #3956
I'd prefer to keep Geographic location intact. As someone who's recruiting engineers in NYC, i might want someone local.  If we do timezones, then you might get someone included in Peru when you search by timezone.

[2019-03-25 14:24] owocki commented on #3490
note for when we get time for this: should probably have something about the "golden rule" on this page too.  thats prettymuch the rule that governs almost all interactions on the network

[2019-03-25 15:52] frankchen07 opened #4038 "Set up Codefund frontend framework and ensure the README.md is updated"
### User Story

Set up Codefund frontend framework and ensure the README.md is updated.

### Why Is this Needed

Gitcoin helps Codefund.

### Description

There are frontend items that Codefund needs help on.

### Current Behavior

Not enough help.

### Expected Behavior

More help. Updated README.md.

### Definition of Done
- [ ] ensure that README.md instructions are updated on https://github.co

[2019-03-25 16:30] owocki opened #4039 "As a user, I want Gitcoin Grants to have Dominance Assurance Contracts project types, so I can provide a better shot at my projects getting funded."
https://en.wikipedia.org/wiki/Assurance_contract#Dominant_assurance_contracts

TODO: Flesh this out as it moves towards beineg on a backlog

[2019-03-25 17:15] frankchen07 commented on #3763
@MatthewPChapdelaine - I'm going to remove you from this bounty since you've been non-responsive. If you come back and the bounty is still open, feel free to reach out and communicate on any progress.

[2019-03-25 17:16] frankchen07 commented on #3762
@damianlarrosa I'm removing you from this bounty because you've been non-responsive. If the bounty is still open later and you decide to work on the bounty, please try and post more frequent updates!

[2019-03-25 18:41] owocki commented on #3913
Just tested this.  A few notes:

- [If a user puts in invalid input, its not handled - it creates a JS error](http://bits.owocki.com/0da770919871/Screen%20Shot%202019-03-25%20at%202.39.49%20PM.png)
- [If user puts in valid input, an error is still generated](http://bits.owocki.com/c0f51bf91977/Screen%20Shot%202019-03-25%20at%202.40.41%20PM.png)

[2019-03-25 19:33] owocki commented on #3522
possible  cerebro architecture
ETL app
Data warehouse app
 - search results object
- search object
- Search match object

[2019-03-25 19:41] owocki opened #4041 "as a user, i want a twitter bot to tweet when i contribute to a gitcoin grant, so i can get credit for it"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a twitter bot to tweet when i contribute to a gitcoin grant, so i can get credit for it

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Descript

[2019-03-26 03:56] kwikiel commented on #3956
Is there an official gitcoin API? Those filters seems trivial to implement given that endpoint containing data is provided

[2019-03-26 04:22] CPSTL commented on #3806
Part 1 of the Issue was presented to @PixelantDesign to review

[2019-03-26 08:37] thelostone-mc commented on #4041
would this be an immediate thing / weekly thing ?
Former might make it feel spammy but an easier lift

[2019-03-26 12:12] thelostone-mc commented on #4022
I've documted what's in my head over [here](https://gist.github.com/thelostone-mc/494fd6ffc3395de6185f96a766d4c1ee) ^_^

[2019-03-26 13:27] owocki opened #4044 "as a user, i want to share a bounty with a friend and get some ETH when they complete it."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want to share a bounty with a friend and get some ETH when they complete it.

### Why Is this Needed
to increase the viral coefficient on gitcoin.
because users know their friends skillsets

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you

[2019-03-26 13:28] owocki commented on #4044
@vs77bb this is an idea from the r/s meeting last night

[2019-03-26 15:32] owocki commented on #3713
Closing down the bounty as it's been open for several months and had several successful submissions.  Will be opening up another new bounty soon

[2019-03-26 15:34] owocki opened #4045 "as a use, i want to tell the system that the bounty was completed successfully when canceling the bounty, and there's no option for that now."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

as a use, i want to tell the system that the bounty was completed successfully when canceling the bounty, and there's no option for that now.

### Why Is this Needed
when canceling the bounty, and there's no option for that now.

[comment]: # (Describe the problem and why this task is needed. Provide description of

[2019-03-26 19:11] owocki commented on #3931
hey @emiwatanabe422 did you still want to work on this?  given that we've been stalled on the EFI stuff.. was wondering if we could get started here.

[2019-03-26 19:39] emiwatanabe422 commented on #3931
@owocki Yes! started yesterday. Did a quick mock up of the layout.
Should I add more text/explanations or is this sufficient?
Are there existing job postings you want me to put in?
Did you want a separate page that goes into detail about the job postings?

![image](https://user-images.githubusercontent.com/46271233/55028122-2dace280-4fc4-11e9-8ed7-307459242395.png)

[2019-03-26 19:42] CPSTL commented on #3806
The team is reviewing the work and will be suggesting some revisions.

[2019-03-26 20:35] frankchen07 opened #4047 "As a funder, if I decide to increase the bounty amount, it should be explicit that the % fee is taken off the incremental increased amount."
### User Story

As a funder, if I decide to increase the bounty amount, it should be explicit that the % fee is taken off the incremental increased amount.

### Why Is this Needed

Transparency with the % fee all the way.

### Description

We can reuse designs from the funder form.

### Current Behavior

No explicit messaging.

### Expected Behavior

Explicit messaging notifying the funder who inc

[2019-03-26 22:21] rafalkowalski commented on #3913
@owocki Thanks, I will fix it.

[2019-03-27 06:04] #2171 closed

[2019-03-27 06:57] #2282 closed

[2019-03-27 06:57] #2283 closed

[2019-03-27 11:17] SaptakS opened #4048 "Bounties not storing all the keywords"
**Describe the bug**
I am not sure at what point this changed, but the bounties don't store all the keywords that are selected while creating a new bounty. Instead it is storing only the last keyword.

This is because of the way the javascript is implemented which creates a request with only the last keyword.
[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**
[com

[2019-03-27 14:22] octavioamu opened #4049 "Keywords dictionary"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to have a list of keywords to match with bounties, jobs, users to be able to have better search.

### Why Is this Needed
[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Right

[2019-03-27 15:53] #3891 closed

[2019-03-27 15:53] #3910 closed

[2019-03-27 15:53] #3909 closed

[2019-03-27 18:24] jschiarizzi opened #4052 "Bounty didnt show up on Gitcoin.co, nor did gitcoinbot post, after transaction is confirmed"
**Describe the bug**
[comment]: No bounty shows up in gitcoin website nor posts from gitcoinbot on the issue.

I made it in Storj tokens (which i have successfully used in bounties before) and also payed ~.08 ETH to have the bounty promoted.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
I made a bounty:
https://github.com/jschiarizzi/storj-ipfs-gateway/issues/9
https://etherscan

[2019-03-27 18:47] owocki commented on #4052
@jschiarizzi are you sure that https://etherscan.io/tx/0xa5f11f4d68382ea88c42e3e2b14df78956d6105b3d2a2c2c0164ce653e61ebb7 is the correct tx?  I dont see any [input data](http://bits.owocki.com/f65049ef77ad/Image%202019-03-27%20at%2012.45.55%20PM.png) on it.  Perhaps this was a tx that you used to feature a bounty?

I dont see any transactions for `issueandactivatebounty` on [your tx history](https

[2019-03-27 18:51] jschiarizzi commented on #4052
It needs multiple transactions to feature it?

yes there isnt any input data, I didnt notice that. Perhaps there _should_ be?

It looks like the trx to bounties network contract failed at the same time https://etherscan.io/tx/0x0ccf14f5663420fc0c95f8663d11e7f9538dcd77a6596541632ca5e26248dfc8

[2019-03-27 18:54] owocki commented on #4052
yeah, you should get two metamask popups.  were gonna probably add a little orange dialogue ([preview](http://bits.owocki.com/b8b34e97432b/Image%202019-03-27%20at%2012.53.30%20PM.png)) soon since sometimes metamask popups don't reliably show up

the weird thing is that tx is an 'increasepayout' tx, not an `issueandactivatebounty` transaction http://bits.owocki.com/e1273d13a686/Image%202019-03-27%2

[2019-03-27 20:07] #3958 closed

[2019-03-27 20:08] #3904 closed

[2019-03-27 20:20] jschiarizzi commented on #4052
Hmmm maybe I was doing too many things at once and made a mistake. I submitted the bounty again and its live https://gitcoin.co/issue/jschiarizzi/storj-ipfs-gateway/9/2684

However, I'm not seeing it in the featured bar in the issue explorer. I'm going to leave this issue open for now, and see if it maybe it takes a while to sync that.

[2019-03-27 23:29] #3765 closed

[2019-03-28 00:20] #3898 closed

[2019-03-28 06:26] alexvotofuture opened #4056 "Logos on Hackathon Issue Explorer"
### User Story

As a sponsor I want my logo on the hackathon issue explorer to get brand exposure and encourage hackers to see my company's prize bounties.

### Why Is this Needed

*Summary*: Companies sponsor so that they can drive traffic to their prize bounties and repositories. These logos are part of the sponsorship package, and need to be prominently displayed on the page where hackers will

[2019-03-28 07:43] #3990 closed

[2019-03-28 07:43] #4048 closed

[2019-03-28 11:57] #3923 closed

[2019-03-28 11:57] #3711 closed

[2019-03-28 11:57] #3969 closed

[2019-03-28 11:57] #3920 closed

[2019-03-28 11:57] #3774 closed

[2019-03-28 11:57] #3842 closed

[2019-03-28 11:58] #3665 closed

[2019-03-28 11:58] #3545 closed

[2019-03-28 11:58] #959 closed

[2019-03-28 11:58] #3516 closed

[2019-03-28 11:58] #3469 closed

[2019-03-28 12:06] thelostone-mc commented on #4052
Ah we'll be rolling out the popup when there are multiple txn confirmations popup just to ensure the user doesn't end up missing it.

And sweet -> your issue now turns up on the featured bar in the explorer

<img width="773" alt="Screen Shot 2019-03-28 at 5 34 49 PM" src="https://user-images.githubusercontent.com/5358146/55156473-0438b600-5180-11e9-9c64-19a7fd56bbea.png">

Closing this out ^_^

[2019-03-28 12:06] #4052 closed

[2019-03-28 13:08] SaptakS opened #4057 "Profile not saved for a bounty"
**Describe the bug**
The profile for the bounty owner isn't being saved for a particular bounty, even though it is present in the model. Only the github handle and email name is being saved.
[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

**Expected behavior**
There can be three options:
Option 1: Save the profile

[2019-03-28 14:01] SaptakS opened #4059 "Calculation of star ratings"
### Why Is this Needed
Right now we are saving all the feedbacks from contributor and funder but we need a logic to calculate the average rating for a profile.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
To write a util function to calculate average st

[2019-03-28 14:14] owocki opened #4060 "as an engineer, i want sentry cleaned up so that only major actual issues show up in gitcoin-sentry, so i dont become numb to sentry"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as an engineer, i want sentry cleaned up so that only major actual issues show up in gitcoin-sentry, so i dont become numb to sentry

### Why Is this Needed
so i dont become numb to sentry

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to

[2019-03-28 14:51] jschiarizzi commented on #4052
Perfect, thank you @thelostone-mc

[2019-03-28 16:06] debragail opened #4061 "Deprecated bounties still live in profile"
debragail
git@27c1ub.com

2 dead bounties need removed.

[2019-03-28 17:10] frankchen07 opened #4062 "As a grant owner on Gitcoin grants, the total funding (green bar) looks to be inaccurate, as well as the monthly recurring funding."
**Describe the bug**

As a grant owner on Gitcoin grants, the total funding (green bar) looks to be inaccurate, as well as the monthly recurring funding.

**To Reproduce**

Example:

Burner wallet currently has $3045 DAI for the month of March out of $3k, however, data pulls from our DB show only $414.

[code]

Similarly, for the monthly recurring, it seems it should also be $414.

[code]
This fil

[2019-03-28 18:22] owocki opened #4064 "As a Gitcoin user, my grant contributions will go through a splitter contract, so I only have to submit one transaction to Metamask."
### User Story

As a Gitcoin user, my grant contributions will go through a splitter contract, so I only have to submit one transaction to Metamask.

### Why Is this Needed

A splitter contract will allow us to experiment collecting a % fee and help us cut down on the number of Metamask transactions. When successful on Grants, this long-term investment can be incorporated into Bounties and possibl

[2019-03-28 18:26] owocki commented on #4061
which of the bounties are "dead"?

@debragail i just raised your start work limit so you can start work on a few more bounties while we figure this out

[2019-03-29 02:09] iamonuwa commented on #3907
@gitcoinbot work in progress

[2019-03-29 07:47] danlipert opened #4066 "As a funder, I want to be able to allow hunters with a specified minimum star rating to express interest in my bounties, so I can work with high quality developers"
### User Story

As a funder, I want to be able to allow hunters with a specified minimum star rating to express interest in my bounties, so I can work with high quality developers

### Why Is this Needed

Currently, funders express frustration that bounties they fund sometimes go unfinished or are not completed well. With our new star ratings feature we can gather feedback on the quality of develo

[2019-03-29 15:15] owocki commented on #4066
i think this is somewhat attached to https://github.com/gitcoinco/web/issues/4019 -- basically how can we take contributor search and specify the criteria for users we want to work with on our bounties

[2019-03-29 15:16] frankchen07 opened #4067 "As a network operator, let's help Codefund build an article page."
### User Story

As a network operator, let's help Codefund build an article page.

### Why Is this Needed

Codefund needs help. They also need an article page.

### Description

![Codefund Article Page](https://user-images.githubusercontent.com/7516920/55242606-d2b10080-51fa-11e9-93ba-21fe4c5032d0.png)

### Current Behavior

No article page.

### Expected Behavior

Article page.

### Definition of

[2019-03-29 15:16] PixelantDesign opened #4068 "As a funder I'd like to ensure my private repo issues to not be featured publicly."
As a funder I'd like to ensure my private repo issues to not be featured publicly.

# Definition of Done
- On the fund issue form, hide featured bounty field when funding an issue from a private repo.

[2019-03-29 15:20] frankchen07 opened #4069 "As a network operator, let's help Codefund build their blog page."
### User Story

As a network operator, let's help Codefund build their blog page.

### Why Is this Needed

Codefund needs help. They also need a blog page.

### Description

![Codefund Blog](https://user-images.githubusercontent.com/7516920/55242868-566aed00-51fb-11e9-964c-1461534b7d0f.png)

### Current Behavior

No blog page.

### Expected Behavior

A Codefund blog page

### Definition of Done
-

[2019-03-29 15:23] frankchen07 opened #4070 "As a network operator, let's help Codefund build their landing page."
### User Story

As a network operator, let's help Codefund build their landing page.

### Why Is this Needed

Codefund needs help. They also need a landing page.

### Description

![Codefund Landing](https://user-images.githubusercontent.com/7516920/55243106-cd07ea80-51fb-11e9-88d2-06de2d1e2d05.png)

### Current Behavior

No landing page.

### Expected Behavior

A Codefund landing page.

### Defin

[2019-03-29 15:46] octavioamu opened #4071 "Kudos suggestions not working"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
Kudos suggestion request is getting an error in payout (I think was 503)  and not getting any suggestion

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
Use basic Payout in a bounty

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
Suggest kud

[2019-03-29 15:59] owocki opened #4072 "kevins release feedback / QA - 1.9.0"
release feedback follows for 1.9.0 - https://github.com/gitcoinco/web/releases/tag/20190329stable

it'd be good to provide a sample NDA here http://bits.owocki.com/558fa46ca76c/Image%202019-03-29%20at%208.47.21%20AM.png

especially if the field is going to be required and block the posting of the bounty

what if we could meter the fee on a per user basis.  so basically if we get someone who compla

[2019-03-29 16:54] PixelantDesign opened #4075 "Build - Add Logos to Hackathon Landing Page"
### User Story

As a hackathon participant I want see logos of sponsors/funders.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Hackers want to see who is sponsoring the prizes. Sponsors want to be sure that their logos can be found if people look

[2019-03-29 16:58] PixelantDesign commented on #4066
I like the idea. My concern is it excludes new users who may be qualified but have not built up their star ratings.

cc: @frankchen07

[2019-03-29 17:12] owocki commented on #4071
hmmm seems to be working 4 me http://bits.owocki.com/c1513414bb5d/Image%202019-03-29%20at%2011.12.39%20AM.png

[2019-03-29 17:17] owocki commented on #3931
@emiwatanabe422 no need for a seperate page with job descs on it.

i think the layout is a good start!  I'd maybe put some of the "built by and for coders" and " try before you buy" stuff side by side to reduce the length of the page.  other than that i think we're good to begin the design process here.

[2019-03-29 18:20] octavioamu commented on #4071
Thanks. I will try to reproduce again to see what are the bug conditions.

[2019-03-29 18:23] octavioamu opened #4076 "Activity with nda link in non private repos"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
![image](https://user-images.githubusercontent.com/1358093/55254408-884d7500-5236-11e9-920b-38c4c8214b08.png)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
go to https://gitcoin.co/issue/gitcoinco/web/3014/2171 and scroll to the activity feed.

**Expected behavior**
[comment]: # (A clear and

[2019-03-29 21:04] PierrickGT commented on #4071
Working for me too after trying to reproduce the bug.

<img width="555" alt="Capture d’écran 2019-03-29 à 22 03 50" src="https://user-images.githubusercontent.com/2401738/55262594-8f907500-526e-11e9-8b16-725a88c1cbff.png">

[2019-03-29 22:14] octavioamu commented on #4071
maybe is the condition when nothing is found, the one I saw it was CSS keyword, I will recheck and edit the ticket or close it.

[2019-03-29 22:18] owocki opened #4077 "as a server admin, i want to integrate fail2ban into our nginx config; so i can block clients that are promiscious"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a server admin, i want to integrate fail2ban into our nginx config; so i can block clients that are promiscious

### Why Is this Needed
clients can be promiscious

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-03-29 23:30] owocki commented on #4077
note: i installed fail2ban; need to figure out how to block clients who make too many requests tho

[2019-03-29 23:31] owocki commented on #4077
`sudo service fail2ban start` to run

check this doc https://www.digitalocean.com/community/tutorials/how-fail2ban-works-to-protect-services-on-a-linux-server

[2019-03-30 10:16] PierrickGT commented on #4071
Yes cause a 503 error is when the server can't be reached so maybe that's what happened.

[2019-03-30 16:21] CPSTL commented on #3806
Working with the team to finalize the work.

[2019-03-31 06:19] danlipert commented on #3993
@frankchen07 Here's the summary of my research and my recommendations regarding multi-sig: https://gist.github.com/danlipert/7c976627c42e877678b0d3a447b547ab

Let me know your thoughts on my recommendations - and lets keep the discussion here on this issue so I get alerted to your comments :)

[2019-04-01 00:07] owocki commented on #4077
we could also use WAF https://www.cloudflare.com/waf/

[2019-04-01 00:28] emiwatanabe422 commented on #3931
@owocki
https://github.com/gitcoinco/web/pull/4079

[2019-04-01 11:53] thelostone-mc commented on #4072
needs to be adding in via admin cc @octavioamu

Yup @willsputra would you up for jamming on this ?

hmm might be an overkill but we can give it a shot

Yupp cc @octavioamu we should throw in a simple check

[2019-04-01 13:16] owocki opened #4081 "quarterly stats email cleanup thread"
see below

[2019-04-01 13:16] owocki commented on #4081
<img width="676" alt="Image 2019-04-01 at 7 16 22 AM" src="https://user-images.githubusercontent.com/513929/55330363-16e80f00-544e-11e9-8647-f148ff742e03.png">

[2019-04-01 14:02] PixelantDesign opened #4082 "Contributor Notification /Email for newly bountied issues on Repo's you've worked with before."
As a contributor I'd like to be notified of newly bountied issues on Repo's I've worked with before.

It's likely that there will be little to no set up time for the contributor since they've already worked with this Repo.

## Definition of Done
- Add a notification for this
- Build an email to send to the contributor
- Review with Gitcoin core team

[2019-04-01 14:18] PixelantDesign commented on #3925
@frankchen07 do we still need this ticket?

[2019-04-01 14:19] #3922 closed

[2019-04-01 14:44] #3937 closed

[2019-04-01 15:05] #4038 closed

[2019-04-01 15:10] owocki opened #4083 "profiles are slow"
https://gitcoin.co/profile/ethereum - 5s
https://gitcoin.co/profile/owocki - 20s

we'll need to find a way to keep these up to date without calculating all the info on demand..

[2019-04-01 15:48] #3713 closed

[2019-04-01 15:50] owocki commented on #4072
submitted a POC for this one at https://github.com/gitcoinco/web/pull/4074

the only one i feel really really strongly we should handle now is this one ^^

[2019-04-01 16:08] owocki opened #4084 "visual bug - Kudos NFTs need a little tune up to render well in opera"
![unnamed-1](https://user-images.githubusercontent.com/513929/55342456-15c2dc00-5466-11e9-94a3-6764e250ee90.jpg)
![unnamed](https://user-images.githubusercontent.com/513929/55342457-15c2dc00-5466-11e9-9be5-7a205f743a29.jpg)

[2019-04-01 16:25] frankchen07 opened #4085 "As a Gitcoin user, my avatar is showing up as random in certain areas of the Gitcoin site."
**Describe the bug**
As a Gitcoin user, my avatar is showing up as random in certain areas of the Gitcoin site.

**To Reproduce**

Scott Moore [12:24]
Correct yeah
Go to the explorer and scroll you'll see like 20 that pop up that way

Scott Moore [21:30]
I feel like it’s probably not a huge deal but at the same time it kind of violates the consent of the user (I’m not sure how many users actually

[2019-04-01 16:27] owocki commented on #4085
right now the site still creates a purple (is that whats meant as 'random'?) avatar for new signups.  i thought we only agreed not to backfill random avatars?

[2019-04-01 16:28] octavioamu commented on #4072
yes about the nda Is something I commented in the squad meetings but was decided to test it like that for now
cc @PixelantDesign

[2019-04-01 17:29] willsputra commented on #4072
@thelostone-mc shortening the bounty form? yess planning to do it soon anyways

[2019-04-01 18:00] thelostone-mc commented on #4069
@frankchen07 / @coderberry Does this & https://github.com/gitcoinco/web/issues/4067 have to be custom built or are we integrating with wordpress ?

[2019-04-01 18:02] thelostone-mc commented on #4070
@coderberry / @hopsoft I assume this would be in `code_fund_ads` repo ?

cc @frankchen07

[2019-04-01 19:24] #3927 closed

[2019-04-01 19:24] #3888 closed

[2019-04-01 20:05] owocki opened #4087 "as a user, i want a matching system, so that i can quickly tag projects that i'm interested in working with -- and increase engagement with great projects"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a matching system, so that i can quickly tag projects that i'm interested in working with

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
we don't ha

[2019-04-01 20:06] owocki commented on #4087
@vs77bb this is that matching product i was talking about this weekend.

@PixelantDesign @frankchen07 @ceresstation I think that this ticket could solve the funder LTV problem, and thereby, increase platform scale + revenue.

[2019-04-01 20:10] owocki opened #4088 "Integrate Twitter into the Airdrop receipt link."
·       Winners of the Contest will be announced on the Partner Site.  Partner will ensure that the Partner Site has built-in Sybil resistance/bot prevention measures to prevent unauthorized entries into the Contest.  Dapper will have the sole right to select Contest winners, along with any marketing materials that accompany the Contest.

[2019-04-01 20:14] owocki opened #4089 "content"
·       Partner will post on Twitter (4x), Facebook (2x), Reddit (1x), Blog (1x), and Newsletter (1x) about the parties’ collaboration over the course of the Conference, at mutually agreed upon times.  Dapper will post on Twitter, Facebook, and Instagram about the parties’ collaboration over the course of the Conference, at mutually agreed upon times.

[2019-04-01 20:48] owocki opened #4090 "As a user, I want Gitcoin Grants to have different project types, so I can provide a better shot at my projects getting funded"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want Gitcoin Grants to have different project types, so I can provide a better shot at my projects getting funded

### Why Is this Needed

Right now, Gitcoin Grants is a decentralized Patreon.  As such, it works really well for projects that are already off the ground / have enough funding.

We could cap

[2019-04-01 20:48] owocki commented on #4039
https://github.com/gitcoinco/web/issues/4090 replaces this ticket

[2019-04-01 20:48] #4039 closed

[2019-04-01 20:49] owocki commented on #4090
@vs77bb @ceresstation i'd be curious for your feedback here.  since we were at RadXChange / know people from RadX.

[2019-04-01 21:44] #3535 closed

[2019-04-01 21:46] owocki opened #4091 "DESIGN - as a grants funder, i want to tweet that i just funded a grant, so i can shill how altruistic i am and shill gitcoin grants"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants funder, i want to tweet that i just funded a grant, so i can shill how altruistic i am and shill gitcoin grants

### Why Is this Needed
virality, so ppl can show off gitcoin grants contributions

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what

[2019-04-01 21:46] owocki commented on #4091
@pixelantdesign any feedback on this?

@emiwatanabe422 any interest in taking this one on?

[2019-04-01 22:18] frankchen07 commented on #3925
@danlipert - I believe this was already pushed, is there further review necessary? If not I can close.

[2019-04-01 23:37] octavioamu commented on #3956
Excellent work @MaxStalker

[2019-04-02 00:07] emiwatanabe422 commented on #4091
@owocki Yes!

[2019-04-02 02:38] ceresstation commented on #4090
I do think these are interesting but I personally don't think these are priority items. To me the highest priority items are finding ways to increase vitality / encourage people to share their grants more actively / give grantees more tools to interact with grantors. These suggestions have been echoed by Boris and others in the community and I can work on building them into more concrete features.

[2019-04-02 05:26] ceresstation commented on #4085
I do worry about creating random avatars that users haven't necessarily agreed to especially since it will be how all of their bounties show to potential hunters.

[2019-04-02 08:16] danlipert commented on #3925
@frankchen07 Still need to switchover to the new IPFS node in production which I want to do this week, then we've got the process of tearing down the old infrastructure which should be a new ticket 👍 so I'm fine with taking it down

[2019-04-02 09:09] SaptakS opened #4093 "Open S3 Bucket"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
We have an open s3 bucket allowing users to read and crawl through our static files.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

**Screenshots**
[comment]: # (If applicable, add screenshot

[2019-04-02 09:42] #4059 closed

[2019-04-02 12:03] PixelantDesign opened #4095 "As Gitcoin, we'd like to be able to stay afloat by charging for features that funders are currently using."
### User Story
As Gitcoin, we'd like to be able to stay afloat by charging for features that funders are currently using like reserved bounties.

### Definition of Done

- Add payment requirement for an already commonly used feature - reserved bounties
- If possible combine the many metamask popups into one would be ideal.

### Why

- We need to push on revenue

[2019-04-02 12:06] SaptakS commented on #4095
The approach I think that is feasible right now is making two metamask popups:
1. Funding for the bounty which is a transaction to the smart contract's ethAddress
2. Sum of all the payments (Featured Bounty, Platform Fee, Reserved bounty, etc.) into a single transaction which is a transaction to gitcoin's ethAddress. We can store the information about what all payments this transaction contains in

[2019-04-02 12:22] danlipert commented on #4095
Agree with @SaptakS 's point above, all non-contract transactions should be combined into one. @owocki suggested we can use a splitter contract as well which we can investigate further, although I'm not sure how it interacts with the bounties contract

[2019-04-02 12:40] SaptakS opened #4096 "As a contributor or funder, I want to be able to request to get verified."
### User Story
As a contributor or funder, I want to be able to request to get verified. This can be a paid feature where the contributor/funder pays a certain amount to review their profile for verification.
[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed
1. Funders want to work with developers they can trust are genuine contributor.
2. Contributors want

[2019-04-02 13:04] coderberry commented on #4070
@thelostone-mc no, it’s for our Wordpress site

[2019-04-02 13:23] owocki commented on #4085
defer to @PixelantDesign on this one

[2019-04-02 13:25] owocki commented on #4090
@ceresstation got any tickets for this goal we should be prioritizing?  suggestions are good, but tickets we can prioritize are even better!  this is one i wrote yesterday https://github.com/gitcoinco/web/issues/4091

[2019-04-02 14:20] PixelantDesign commented on #4091
Great idea! I wonder if we could reuse what we built for inviting Gitcoiners.

cc @SaptakS @octavioamu ?

[2019-04-02 16:08] thelostone-mc commented on #4095
This would probably have to be taken care before getting into that https://github.com/gitcoinco/web/issues/3544

[2019-04-02 17:04] willsputra commented on #3987
![Recommend Contributor (1)](https://user-images.githubusercontent.com/19514207/55421691-06e24380-55a4-11e9-93f2-6352a506e855.jpg)

[2019-04-02 17:05] willsputra commented on #4035
first draft
![hackathon](https://user-images.githubusercontent.com/19514207/55421724-18c3e680-55a4-11e9-8926-c5046f0eb47f.jpg)

[2019-04-02 17:57] frankchen07 opened #4097 "As a Gitcoin operator, better understand Codefund's codebase and integrate the table library."
### User Story

As a Gitcoin operator, better understand Codefund's codebase and integrate the table library.

### Why Is this Needed

This ticket is a placeholder for a several points of time during the sprint to cover some front-end work for Codefund.

### Description

Nate and Eric's guidance will be critical in determining next steps.

### Current Behavior

Codefund is hot and needs help.

###

[2019-04-02 20:36] frankchen07 opened #4099 "[WORKSHOP] - As a Gitcoin user, my grant contributions will go through a splitter contract and I will be charged a fee, which will be properly communicated to me."
### User Story

[WORKSHOP] - As a Gitcoin user, my grant contributions will go through a splitter contract and I will be charged a fee, which will be properly communicated to me.

### Why Is this Needed

Once the splitter contract (https://github.com/gitcoinco/web/issues/4064) is implemented, we will have to communicate the Grants fee on the front-end when a contributor is making a contribution.

[2019-04-02 20:41] frankchen07 commented on #4000
@PixelantDesign - would this help with your ticket writing on shared management for sprint 7? Moved back to Green board but let me know if that's incorrect.

[2019-04-02 22:10] owocki opened #4100 "As a user, I'd like the TOS updated to reflect the latest revenue functionality, so I know the terms that govern them."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I'd like the TOS updated to reflect the latest revenue functionality, so I know the terms that govern them.

### Why Is this Needed
self explanatory
[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2019-04-02 23:04] #3925 closed

[2019-04-03 13:29] PixelantDesign opened #4101 "Update Pricing Section on Gitcoin.co/Funder with correct platform pricing"
### As a funder on the Gitcoin platform, I'd like to see accurate pricing reflected on the pricing section.

https://gitcoin.co/bounties/funder

### Current
<img width="1208" alt="Screen Shot 2019-04-03 at 9 25 10 AM" src="https://user-images.githubusercontent.com/238235/55482582-d7a6f300-55f2-11e9-9460-76ce8247551b.png">

### Definition of Done

- Update pricing here since we've rolled out the 10

[2019-04-03 14:57] #3791 closed

[2019-04-03 14:58] PixelantDesign commented on #4091
@emiwatanabe422 checkout how we handle social sharing on an issue details page.

[2019-04-03 15:02] #3678 closed

[2019-04-03 15:20] PixelantDesign opened #4102 "As a Gitcoin visitor, I want an easy way to get to Bounties product via the top nav."
### As a Gitcoin visitor, I want an easy way to get to Bounties product via the top nav.

Currently when you click on the Gitcoin logo, it refreshes and the user stays on the homepage.

<img width="1009" alt="Screen Shot 2019-04-03 at 11 16 47 AM" src="https://user-images.githubusercontent.com/238235/55490961-a46c6000-5602-11e9-9290-b8f54e0c79f6.png">

Expected behavior - take user to bounties pag

[2019-04-03 15:28] PixelantDesign opened #4103 "Build - Invite to work on a bounty email"
### As a user being invited to work on a bounty, I'd like to see a Gitcoin branded email so that I know that I can trust this email.

**Current**
<img width="1077" alt="Screen Shot 2019-04-02 at 1 55 04 PM" src="https://user-images.githubusercontent.com/238235/55491494-8fdc9780-5603-11e9-839e-d881b1b36f65.png">

**Expected**
![Email](https://user-images.githubusercontent.com/238235/55491685-f23598

[2019-04-03 15:52] owocki commented on #4103
seems like a good a/b test candidate!  the reason we did plaintext emails is they look less marketing-ey

[2019-04-03 16:01] PixelantDesign commented on #4035
**Front End**
- Place logos on top
- Fetch Organization to build filter
- Send request when filter is clicked
- Logos will be manually added in the html page
- Check to hide top nav items: how it works, issue explorer, fund issue

**Estimate: 5**

[2019-04-03 16:04] PixelantDesign commented on #4075
Front end
- add logos on landing. (need all images by x date)
- add platinum and gold labels

**Estimate: 1**

[2019-04-03 16:20] owocki opened #4104 "As a funder, I can game the Gitcoin 10% fee by posting a bounty thats for 0.01 ETH + agree off-site with the bounty hunter to pay them more, so why would i pay the fee?"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I can game the Gitcoin 10% fee by posting a bounty thats for 0.01 ETH + agree off-site with the bounty hunter to pay them more, so why would i pay the fee?

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would lik

[2019-04-03 16:20] owocki commented on #4104
@vs77bb @PixelantDesign any feedback on this?  this is feedback i got on twitter this am

[2019-04-03 16:24] PixelantDesign commented on #3987
**Front End**
- Implement new design
- Implement select behavior
- Implement on click actions
- Implement modal data
- request data for select

**Estimate** 8

**Back End**
- send first 5 data for contributors
- find all recommended contributors and send them on click
- send all other contributors
- add new field in backend
- fire an email after fund issue is successful.

**Estimate**  8

[2019-04-03 16:32] PixelantDesign commented on #3792
@octavioamu Change More info to view profile

[2019-04-03 16:37] PixelantDesign commented on #4103
Will to provide a design without the kudos.....decide I we need that section at the bottom with a bunch of logos

[2019-04-03 17:38] frankchen07 opened #4105 "As a Gitcoin user, my grant contributions will go through a splitter contract, so I need to write & test a splitter contract that handles ETH and ERC-20 tokens."
### User Story

As a Gitcoin user, my grant contributions will go through a splitter contract, so I need to write & test a splitter contract that handles ETH and ERC-20 tokens.

### Why Is this Needed

Sub-task of https://github.com/gitcoinco/web/issues/4064

A splitter contract will allow us to experiment collecting a % fee and help us cut down on the number of Metamask transactions. When success

[2019-04-03 17:39] frankchen07 opened #4106 "As a Gitcoin user, my grant contributions will go through a splitter contract which needs to be integrated with one-time donations (frontend only, no subminer)."
### User Story

BUIDL - As a Gitcoin user, my grant contributions will go through a splitter contract and I will be charged a fee.

### Why Is this Needed

Once the splitter contract (https://github.com/gitcoinco/web/issues/4064) is implemented, we will have to communicate the Grants fee on the front-end when a contributor is making a contribution.

Sub-task of https://github.com/gitcoinco/web/iss

[2019-04-03 17:39] frankchen07 opened #4107 "As a Gitcoin user, my grant contributions will go through a splitter contract which needs to be integrated with recurring donations (adds backend and subminer code)."
### User Story

As a Gitcoin user, my grant contributions will go through a splitter contract which needs to be integrated with recurring donations (adds backend and subminer code).

### Why Is this Needed

Sub-task of https://github.com/gitcoinco/web/issues/4064. This is part of getting the splitter contract to do what we want it to do.

### Description

When a contributor makes a grant contribut

[2019-04-03 17:39] frankchen07 opened #4108 "As a Gitcoin operator, I wrote a nifty splitter contract, which is OSS, so let's make a repo and have some official documentation."
### User Story

As a Gitcoin operator, I wrote a nifty splitter contract, which is OSS, so let's make a repo and have some official documentation.

### Why Is this Needed

Sub-task of https://github.com/gitcoinco/web/issues/4064.

### Description

Add documentation and make the splitter contract its own repo so others can contribute to it.

### Current Behavior

No OSS repo or documentation for th

[2019-04-03 17:39] frankchen07 opened #4109 "As a Gitcoin operator, I wrote a nifty splitter contract, and I'd like to share the workings with the world."
### User Story

As a Gitcoin operator, I wrote a nifty splitter contract, and I'd like to share the workings with the world.

### Why Is this Needed

Sub-task of https://github.com/gitcoinco/web/issues/4064. This is a blog post to highlight the hard work that the Gitcoin team has done to make the splitter contract a reality

### Description

Blog post describing:

1. why a splitter contract
2. wha

[2019-04-03 18:15] willsputra commented on #4102
svg files:
https://drive.google.com/drive/folders/1pExohyyzEF9Ijp_GdHlOjAUWEpd4F9JJ

[2019-04-03 18:36] frankchen07 opened #4110 "As a bounty funder, if my bounty is expired, I can't payout."
### User Story

As a bounty funder, if my bounty is expired, I can't payout.

### Why Is this Needed

Add a notification to the funder that if their bounty is expired, they can't payout. They must ensure that the bounty is not expired before taking further action.

### Description

@thelostone-mc - is this a modal or email? can you add description to your idealized solution?

### Current Behavior

[2019-04-03 18:42] owocki opened #4111 "As a kudos airdrop user, i want to be able to login with twitter instead of github, so I dont have to craete a github account"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a kudos airdrop user, i want to be able to login with twitter instead of github, so I dont have to craete a github account

### Why Is this Needed
Our ethereal partner requested it.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to hap

[2019-04-03 18:45] owocki opened #4112 "Find XSS vulnerabilities across the site."
This is a bounty to find  XSS vulnerabilities across the site. ( https://www.owasp.org/index.php/Cross-site_Scripting_(XSS) )

I will payout 0.5 ETH per person for vulernabilities on the live site found!  Scope is https://gitcoin.co

[2019-04-03 21:30] lychees commented on #4111
I am planing to solve this issue in the following order:
- [ ] Add twitter_connect() function in https://github.com/gitcoinco/web/blob/master/app/git/utils.py#L47.

- [ ] Modified the front end page to display 'login with twitter' button.
(Where is this page? I cannot find them inside https://github.com/gitcoinco/web/tree/master/app/kudos/templates)

- [ ] Call [maybe_market_to_twitter()](https://

[2019-04-03 22:45] emiwatanabe422 commented on #4091
@owocki How do we want to store the click count? In the database?  If so, should it be a separate model from `Grants`? Do you use something else for marketing data? Google analytics?

[2019-04-03 22:53] owocki commented on #4091
just a google analytic event should be fine IMHO

[2019-04-03 23:07] frankchen07 commented on #3988
In a nutshell, the Github API is not sufficient to be pulling large amounts of data from, and it exceeds the ability on my local machine.

Looking at GH Archive and Big Query options, but they seem to only have data that is not up to date (2012 and before).

[2019-04-04 12:11] #4028 closed

[2019-04-04 12:13] #4100 closed

[2019-04-04 12:28] #4014 closed

[2019-04-04 12:54] SaptakS commented on #4018
Solved in #4092

[2019-04-04 12:54] #4018 closed

[2019-04-04 12:55] SaptakS commented on #4002
Solved in #4092

[2019-04-04 12:55] #4002 closed

[2019-04-04 14:26] PixelantDesign opened #4117 "Build - Filter Hackathon Prize"
### User Story

As a hackathon participant I want to filter prize issues by sponsor/funder.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Hackers want to see all issues posted by companies they are interested in. Sponsors want to be sure that thei

[2019-04-04 14:30] willsputra commented on #4035
adjusted the size of the icons

![ethereal](https://user-images.githubusercontent.com/19514207/55563823-d247c680-5720-11e9-8f84-ca8ed1bf7bcd.jpg)

[2019-04-04 14:33] willsputra commented on #3987
updated the wording on the header
![recommendcontributor](https://user-images.githubusercontent.com/19514207/55564010-34083080-5721-11e9-9327-136db32e3292.jpg)

[2019-04-04 14:35] PixelantDesign opened #4118 "Build - Front End Suggest Verified Contributor on Funder Form"
Build- Suggesting Verified Contributor profiles for review, or contributors you've worked with in the past

### User Story

As a funder, when I'm completing the funder form, I'd like Gitcoin to recommend to me workers for my Bounty. These could be verified contributors or contributors I've worked with in the past.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is nee

[2019-04-04 14:38] willsputra commented on #4075
![hackathonlandingpage](https://user-images.githubusercontent.com/19514207/55564367-f35ce700-5721-11e9-940f-bffbc279db73.jpg)

[2019-04-04 14:38] PixelantDesign opened #4119 "Build - Backend Suggest Contributor on Funder Form"
Build- Suggesting Verified Contributor profiles for review, or contributors you've worked with in the past

### User Story

As a funder, when I'm completing the funder form, I'd like Gitcoin to recommend to me workers for my Bounty. These could be verified contributors or contributors I've worked with in the past.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is nee

[2019-04-04 14:54] PixelantDesign opened #4120 "UX - Improve User Discoverability"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder I want to have an easy way to search and filter users so it's easy to find the best workers for my task.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done

- [ ] Ux an experience that takes into consideration the broader goal of discoverability and take

[2019-04-04 16:46] PixelantDesign commented on #4035
@willsputra could you also add to the build ticket?

[2019-04-04 17:25] octavioamu commented on #2743
Solved

[2019-04-04 17:25] #2743 closed

[2019-04-04 17:43] owocki opened #4121 "As a member of the Consensys Finance team, I want a monthly revenue_report, so I can track Gitcoin's revenue."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a member of the Consensys Finance team, I want a monthly revenue_report, so I can track Gitcoin's revenue.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
So consen

[2019-04-04 17:46] owocki opened #4122 "As a Gitcoin team member, I want kudos purchases tracked, so I can book that revenue in the database."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin team member, I want kudos purchases tracked, so I can book that revenue in the database.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
So we can track t

[2019-04-04 21:04] octavioamu opened #4124 "kudos without usd value"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
kudos are without usd value
Looks like the endpoint is not working https://gitcoin.co/sync/get_amount?amount=0.022&denomination=ETH

![image](https://user-images.githubusercontent.com/1358093/55588391-03fe6480-5704-11e9-8729-054c880214ad.png)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
Go t

[2019-04-04 21:07] PixelantDesign commented on #2964
@owocki

We could add another checkbox that activates the crowdfunding to be allocated.
We really won't know when the payout is finalized. It'll be up to the person who funded to original bounty to decide.

[2019-04-04 21:28] octavioamu opened #4125 "Weird profile behavior making profile inception"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
https://gitcoin.co/profile/#mykudos
![image](https://user-images.githubusercontent.com/1358093/55589413-88ea7d80-5706-11e9-9f18-9a230ba3a9d9.png)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
go to https://gitcoin.co/profile/#mykudos and scroll

**Expected behavior**
[comment]: # (A clear and

[2019-04-04 21:34] octavioamu commented on #4125
looks to me like any hashtag in the navbar will make this happend, maybe the fetch https://gitcoin.co/profile/#blabla use the navbar to fetch new data and as get cropped with a hash is fetching the url of the profile as a response

[2019-04-04 22:45] owocki commented on #2964
This is a good idea!

[2019-04-05 06:52] SaptakS commented on #3879
Done in #3967

[2019-04-05 06:52] #3879 closed

[2019-04-05 06:52] SaptakS commented on #4001
Done in #3967

[2019-04-05 06:52] #4001 closed

[2019-04-05 06:53] SaptakS commented on #3880
Done in #3967

[2019-04-05 06:53] #3880 closed

[2019-04-05 06:53] SaptakS commented on #3964
Done in #3967

[2019-04-05 06:53] #3964 closed

[2019-04-05 06:56] #3873 closed

[2019-04-05 06:57] SaptakS commented on #3901
Done in #3942

[2019-04-05 06:57] #3901 closed

[2019-04-05 06:57] SaptakS commented on #3902
Done in #3942

[2019-04-05 06:57] #3902 closed

[2019-04-05 07:00] SaptakS commented on #3963
Done in #3965

[2019-04-05 07:00] #3963 closed

[2019-04-05 07:01] #3886 closed

[2019-04-05 07:02] SaptakS commented on #3872
Done in https://github.com/gitcoinco/web/pull/3906

[2019-04-05 07:02] #3872 closed

[2019-04-05 07:15] SaptakS commented on #3789
Done in https://github.com/gitcoinco/web/pull/3728

[2019-04-05 07:15] #3789 closed

[2019-04-05 07:15] SaptakS commented on #3790
Done in https://github.com/gitcoinco/web/pull/3728

[2019-04-05 07:15] #3790 closed

[2019-04-05 07:15] #3759 closed

[2019-04-05 07:15] SaptakS commented on #3676
Done in https://github.com/gitcoinco/web/pull/3728

[2019-04-05 07:15] #3676 closed

[2019-04-05 07:15] SaptakS commented on #3675
Done in https://github.com/gitcoinco/web/pull/3728

[2019-04-05 07:15] #3675 closed

[2019-04-05 07:16] #3696 closed

[2019-04-05 07:17] #3578 closed

[2019-04-05 09:19] #4125 closed

[2019-04-05 13:09] gutsal-arsen commented on #4112
@owocki Going to use `xsser` form Kali Linux distro. Sounds OK?

[2019-04-05 15:55] #4102 closed

[2019-04-05 18:32] frankchen07 opened #4132 "Add Hosting Advice to Gitcoin's "what people are saying" section"
### User Story

We recently did a interview piece with Hosting Advice about Gitcoin. They've released a great article about us, and we want to ensure their logo and article are up on the homepage.

### Why Is this Needed

Media and marketing relationships for both sides!

### Current Behavior

Hosting Advice is currently not up on the homepage.

### Expected Behavior

Add Hosting Advice's logo and

[2019-04-05 21:14] CPSTL commented on #3806
Submission is in final review by the Gitcoin Core team.

[2019-04-05 23:22] #4101 closed

[2019-04-06 04:17] gutsal-arsen commented on #3981
@owocki For sure it's some javascript init issue. web3 was not loaded on my local Linux Opera v60.0.3255.8 until I fixed Raven init. Now seems good (however I can't reproduce *black screen of death*). Could somebody please try merging PR #4015 and see if fixed.

Unfortunately neither BrowserStack nor Sauselabs seems support mobile Opera any longer, so I can't try  using them.

[2019-04-06 08:04] chase1745 commented on #2259
Hopefully this is still open, submitted a quick PR

[2019-04-06 08:38] tbenr opened #4134 "Kudos redeemed via tweeter - owned on UI - no TX on blockchain"
**Describe the bug**
I redeemed "https://gitcoin.co/kudos/2244/ethereal_ethereum" via tweeter
on gitcoin web i see that my [profile](https://gitcoin.co/profile/tbenr) owns the kudos
associated TX is unknown in etherscan: https://etherscan.io/tx/0xe5c89f900a3f0145e4537fed8a981888169868ae960d3b12b53c184d5f7a8592

there is at least another profile which has this misalignment:
https://gitcoin.co/profi

[2019-04-06 15:28] #4031 closed

[2019-04-06 15:29] #3993 closed

[2019-04-06 15:29] #3380 closed

[2019-04-06 19:01] nanspro commented on #3876
@PixelantDesign is this bounty available?

[2019-04-07 22:49] owocki opened #4135 "As a user, I want to use a splitter contract on advanced payout, so I can only sign one metamask tx instead of 34."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to use a splitter contract on advanced payout, so I can only sign one metamask tx instead of 34.

### Why Is this Needed
self explanatoryly better ux
[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actu

[2019-04-08 02:20] owocki commented on #3561
@vs77bb can we pls close this one?

[2019-04-08 02:22] owocki commented on #4112
no idea.  worth a shot tho!  pls just dont DDOS the site on me :)

yes i usually pay within a day or two of an accepted submission.  almost always within a week

[2019-04-08 04:10] owocki commented on #4111
@lychees sounds good to me

[2019-04-08 13:34] ceresstation commented on #3839
@PixelantDesign can we prioritize this one? It's relatively low lift right?

[2019-04-08 13:35] ceresstation commented on #4091
Duplicate of https://github.com/gitcoinco/web/issues/3634?

[2019-04-08 13:52] willsputra opened #4138 "DESIGN - Pattern Library - Button"
### User Story

As a designer/developer on Gitcoin, I want to have a standardised component so UI is consistent across usage.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Standardised component is needed so UI is consistent across usage, and it's

[2019-04-08 13:52] willsputra opened #4139 "DESIGN - Pattern Library - Form"
### User Story

As a designer/developer on Gitcoin, I want to have a standardised component so UI is consistent across usage.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Standardised component is needed so UI is consistent across usage, and it's

[2019-04-08 13:53] willsputra opened #4140 "DESIGN - Pattern Library - Cards"
### User Story

As a designer/developer on Gitcoin, I want to have a standardised component so UI is consistent across usage.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Standardised component is needed so UI is consistent across usage, and it's

[2019-04-08 14:02] willsputra commented on #4120
for reference

Max's design
https://github.com/gitcoinco/web/issues/3956#issuecomment-478737507

[2019-04-08 15:19] owocki opened #4141 "bug - cannot contribute to a gitcoin grant via ledger (proxied through metamask)"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
bug - cannot contribute to a gitcoin grant via ledger (proxied through metamask)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
1. go to gitcoin.co/grants
2. try to contribute to a grant (with a subscription of 6 months) with a ledger, which is proxied through metamask
3. the system will not r

[2019-04-08 15:19] owocki commented on #4141
cc @mariapaulafn who ran into this this week

[2019-04-08 17:07] frankchen07 opened #4144 "As a Gitcoin user, I shouldn't see NDA signage options on a public repo."
**Describe the bug**
As a Gitcoin user, I shouldn't see NDA signage options on a public repo.

**To Reproduce**
https://gitcoin.co/issue/prysmaticlabs/prysm/2025/2672

**Expected behavior**
This should not show up for a public repo.

**Screenshots**
![Screen Shot 2019-04-08 at 10 06 51](https://user-images.githubusercontent.com/7516920/55742991-0dc6e700-59e6-11e9-9e0a-6e0d5825fbdc.png)

[2019-04-08 18:39] #3848 closed

[2019-04-08 18:40] #3565 closed

[2019-04-08 20:54] #4124 closed

[2019-04-08 20:56] owocki opened #4148 "as a funder, i want to pay a subscription instead of a 10% fee, so i can be rewarded for coming back"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want to pay a subscription instead of a 10% fee, so i can be rewarded for coming back

### Why Is this Needed
see #product-feedback channel

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

[2019-04-08 20:57] owocki commented on #4104
tghis should help https://github.com/gitcoinco/web/issues/4148

[2019-04-08 20:58] #4091 closed

[2019-04-08 20:58] #4020 closed

[2019-04-08 21:49] owocki opened #4149 "as a data driven product manager, i want to do an a/b test of our conversion funnel, so we can decrease CPA and increase LTV & also build the muscle of a/b testing internally"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a data driven product manager, i want to do an a/b test of our conversion funnel, so we can decrease CPA and increase LTV & also build the muscle of a/b testing internally

### Why Is this Needed
increase conversion rate, thus revenue
[comment]: # (Describe the problem and why this task is needed. Provide descript

[2019-04-08 21:50] #3375 closed

[2019-04-08 21:52] #2355 closed

[2019-04-08 21:54] santteegt commented on #4122
Hi @owocki,

What do you think is the best option for you to get all trxs sent to the specified address: 1) Through an API such as Etherscan or Blockscout, or 2) iterating through blocks and transactions using a web3 provider connected to an Infura node. The first option is faster.

[2019-04-08 21:59] owocki commented on #4122
is there any cost to the aforementioned APIs?

[2019-04-08 22:08] owocki commented on #4087
@PixelantDesign maybe @emiwatanabe422 would be interested in working with us on this?

[2019-04-08 22:30] santteegt commented on #4122
I've checked the Etherscan API and it mentions:

***Support both GET/POST requests and a rate limit of 5 requests/sec and return the latest 10000 max.***: we only need two requests per hour to retrieve both ETH and token transactions under a bounded set of blocks.

***To use the API service please create a FREE API-Key Token from within the ClientPortal->MyApiKey area which you can then use with a

[2019-04-08 22:42] owocki commented on #4122
ok; etherscan sounds like the right place to me.

[2019-04-08 23:06] owocki opened #4150 "As a Gitcoin administrator, I would like any ERC20 tokens in my FEE_ADDRESS converted to ETH so I don't have to manage a complex tax situation"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin administrator, I would like any ERC20 tokens in my FEE_ADDRESS converted to ETH so I don't have to manage a complex tax situation

### Why Is this Needed
because john chard advised us taxes can be a pain in the arse.

[comment]: # (Describe the problem and why this task is needed. Provide description of

[2019-04-08 23:31] owocki commented on #4085
15d360e20bb01f614f04d5fd24b6628f0347fbac fixes this

[2019-04-08 23:31] #4085 closed

[2019-04-08 23:31] owocki commented on #4085
i can delete all the other purple / procedurally generated avatars if you all want

[2019-04-09 00:39] anukul commented on #1528
Update: the PR should be in by end of day today.

[2019-04-09 01:42] aashutoshrathi opened #4152 "Add Flag to Leaderboard"
### What

The current leaderboard just has country names with their respective bounties count.
We can make it more user-friendly by adding a flag of the country ahead of their name.

![image](https://user-images.githubusercontent.com/21199234/55767457-a3ba4a80-5a96-11e9-8a29-7b1da9e1e30e.png)

### Why

It will be convenient for the user to search for the country and will give better UX.

[2019-04-09 01:44] anukul commented on #1528
Need some help, posted on #community-help on slack

[2019-04-09 02:00] #4144 closed

[2019-04-09 02:09] owocki opened #4153 "As a user, I want gitcoin.co/dashboard to exist, so I can have a homebase for all my Gitcoin activities, so I can know how to take actions on Gitcoin, with limited time / attention."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/dashboard to exist, so I can have a homebase for all my Gitcoin activities.

## hypothesis

If __users have an "at a glance" way of watching their
items of interest on gitcoin then they will be more engaged / have higher retention bc there is higher ROI of viewing things at 100k ft .

###

[2019-04-09 02:12] owocki opened #4154 "As a user, I want the bounties nav decoupled from the broader Gitcoin nav, because Gitcoin != bounties."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want the bounties nav decoupled from the broader Gitcoin nav, because Gitcoin != bounties.

### Why Is this Needed
Gitcoin != bounties

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summa

[2019-04-09 02:13] owocki opened #4155 "As a user, I want gitcoin.co/inbox so I can have my communication with other network members happen on Gitcoin."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want gitcoin.co/inbox so I can have my communication with other network members happen on Gitcoin.

### Why Is this Needed
Communication between members happens off site now.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to

[2019-04-09 02:19] owocki opened #4156 "EPIC - Gitcoin retention & activation"
Here are a set of stories I specced (or am tracking) that I believe would help us with

activation of new users
https://github.com/gitcoinco/web/issues/4563 - gitcoin requests + quickfund first time funding
https://github.com/gitcoinco/web/issues/4564 - funder page visit, product shill email
https://github.com/gitcoinco/web/issues/4570 - expectation setting
https://github.com/gitcoinco/web/issues/

[2019-04-09 02:38] gutsal-arsen commented on #3968
@owocki still actual or should be closed among with Gitcoin bounty?

[2019-04-09 02:43] owocki opened #4157 "As a developer, I want a place to ask coding help questions to senior developers and have them quickly answered."
### User Story
As a developer, I want a place to ask coding help questions to senior developers and have them quickly answered

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

As eng

[2019-04-09 02:50] owocki opened #4158 "As a user, I want Gitcoin Grants to have different project types, so I can provide a better shot at my projects getting funded"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want Gitcoin Grants to have different project types, so I can provide a better shot at my projects getting funded

### Why Is this Needed

Right now, Gitcoin Grants is a decentralized Patreon.  As such, it works really well for projects that are already off the ground / have enough funding.

We could cap

[2019-04-09 02:51] owocki opened #4159 "Beyond Blockchain: Hourly Rate Contracts On Gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a bounty hunter, I would like to express an hourly wage which I'd like to be paid for my work on Gitcoin.

### Why Is this Needed
To give hunters the ability to express their hourly rate expectations up front and get paid against that hourly wage, instead of a bounty amount.

[comment]: # (Describe the problem and

[2019-04-09 03:05] octavioamu commented on #4019
Some related images from #3956
![image](https://user-images.githubusercontent.com/3136647/55357944-e7c9b000-54d6-11e9-831a-ea2ee8ecb181.jpg)

![image](https://user-images.githubusercontent.com/3136647/55357946-e8624680-54d6-11e9-871b-d8c3c7eb6ce6.jpg)

[2019-04-09 04:39] vs77bb commented on #4159
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a bounty hunter, I would like to express an hourly wage which I'd like to be paid for my work on Gitcoin.

### Why Is this Needed
To give hunters the ability to express their hourly rate expectations up front and get paid against that hourly wage, instead of a bounty amount.

[comment]: # (Describe the problem and

[2019-04-09 08:46] PixelantDesign commented on #4154
We have in the works - swapping the logo this sprint.

[2019-04-09 10:40] thelostone-mc commented on #4159
Just a few concerns [here](https://docs.google.com/document/d/16kjzesXftND_k_TtrOubv7lWLezY1SfSyKOrF0-Mj9g/edit?disco=AAAACwoG-AQ)

##### Pros

- This would add more pressure for the funder to put more thought before bountying
- The contributor would be forced to evaluate themselves

^ Both of the above would ensure better matching

##### Cons

- How do we handle if hunter ends up spending more ti

[2019-04-09 10:41] #4132 closed

[2019-04-09 10:42] thelostone-mc commented on #4132
@frankchen07 we are good for payout ^_^

[2019-04-09 14:12] PixelantDesign opened #4162 "UX/Workshop - Funder & Contributor Loop Building"
**If** we make it easy for contributors to learn about new bounties from previous funders they’ve worked with, **then** platform value will increase **because** they’re likely to come back and complete more (and maybe bigger) issues.

What are some ways we can build loops for Funders and Contributors to engage?
Make it easy to find work and be recommended work.

### Definition of Done

- Workshop

[2019-04-09 15:12] aahutsal opened #4163 "[View signed NDA] opens file save dialog with wrong file name generated"
**Wrong file name**
[FileName]: # (File name generated contains *false,false,false.html*.)

**To Reproduce**
[1]: # (On any bounty with NDA requested click [View Signed NDA] button)
[2]: # (See ;))

**Expected behavior**
Correctly generated file name

**Screenshots**
![image](https://user-images.githubusercontent.com/1643117/55812256-528c7400-5af3-11e9-9780-0d97806e5bce.png)

**Desktop (please com

[2019-04-09 17:04] octavioamu commented on #4163
Thanks @gutsal-arsen can you post the bounty link?

[2019-04-09 17:07] gutsal-arsen commented on #4163
@octavioamu [sure](https://gitcoin.co/issue/Giveth/giveth-dapp/740/2765)

[2019-04-09 17:10] octavioamu commented on #4163
I believe this will be fixed with #4151 deployment, should happen in a couple of days

[2019-04-09 17:11] gutsal-arsen commented on #4163
@octavioamu how to proceed with current bounty? seems it will stuck for couple of days for everyone.

[2019-04-09 17:22] octavioamu commented on #4163
With https://gitcoin.co/issue/Giveth/giveth-dapp/740/2765 ? this bug is not interfering with this, looks like the funder  just didn't approve nobody yet.

[2019-04-09 17:58] danlipert commented on #4083
@owocki @frankchen07 @PixelantDesign @vs77bb
I would separate caching solutions into 3 tiers:

1) Installing an html-based cache like Varnish - this is probably not feasible without refactoring the page significantly because of its dynamic content so a non-starter
2) Installing a module like Cache Machine [https://cache-machine.readthedocs.io/en/latest/](https://cache-machine.readthedocs.io/en/lat

[2019-04-09 18:59] owocki commented on #4083
fwiw, this is how the results page and contributor landing pages are cached now

https://github.com/gitcoinco/web/blob/master/app/perftools/management/commands/create_page_cache.py
https://github.com/gitcoinco/web/blob/master/app/perftools/models.py

i think it fits into (3) that @danlipert said below

[2019-04-09 19:47] owocki opened #4164 "this is an example bounty title"
this is an example bounty description

[2019-04-09 20:29] PixelantDesign opened #4165 "As a user who is paying out via advanced payout, I want the system to be clear how crowdfund contributions are handled in advanced payout"
### As a user who is paying out via advanced payout, I want the system to be clear how crowdfund contributions are handled in advanced payout

### What
It's unclear right now. We don't tell users what we do with crowdfunding.
The system currently follows the % of bounty payment.

### Definition of Done

- Update advanced payout to make it clear how we handle crowdfunding
- on the right reorder and

[2019-04-09 21:21] emiwatanabe422 commented on #4087
@owocki, Yes! will be starting on this this week. Thanks!

[2019-04-10 02:26] gutsal-arsen commented on #4163
@octavioamu well, shouldn't we sign and NDA? If so, should we download it?

[2019-04-10 05:12] ceresstation commented on #2370
@owocki any updates on this one?

[2019-04-10 10:57] MaxStalker commented on #3623
@owocki can you take a look at my PR for results page?
https://github.com/gitcoinco/web/pull/4167

[2019-04-10 13:29] danlipert commented on #4148
@owocki @PixelantDesign @frankchen07 @vs77bb The PR here: https://github.com/gitcoinco/web/pull/3878 , combined with Aditya's frontend PR provides a minimal UI for users to pay for a monthly subscription. Please check my notes in that PR for next steps to launch this feature as well as the shortcomings and additional design and coding work to make this feature more usuable. Beyond that, it would b

[2019-04-10 15:15] owocki commented on #2370
Pr still needs review;  I'd suggest getting with product / engineering to set aside time to cleanout the PR backlog (includign this one)

[2019-04-10 15:20] owocki commented on #3623
thanks for doing this!  left a comment

[2019-04-10 17:04] #4110 closed

[2019-04-10 17:26] #4164 closed

[2019-04-10 17:26] owocki commented on #3968
yes

[2019-04-10 17:26] #3968 closed

[2019-04-10 17:29] #4068 closed

[2019-04-10 17:36] thelostone-mc commented on #4163
Ah @gutsal-arsen you are right ! The NDA file seems to be corrupted.
The team is looking into it. Will ping you with an update! Thanks for raising this :)

Parallely we'll ping the bounty owner and give them a heads up too

[2019-04-10 17:44] octavioamu commented on #4163
No, there is not nda, that is just for private repos

[2019-04-10 17:59] frankchen07 opened #4169 "As a Gitcoin Grants user, I don't have clarity on how the donation bars and total work."
### User Story

As a Gitcoin Grants user, I don't have clarity on how the donation bars and total work.

### Why Is this Needed

The donation bars have been a confusing item for many users. To give a little bit of scope, below are all the current tickets that are open in regards to this issue.

https://github.com/gitcoinco/web/issues/3314
https://github.com/gitcoinco/web/issues/3890
https://github

[2019-04-10 18:35] thelostone-mc commented on #4163
Fix is over at https://github.com/gitcoinco/web/pull/4151 which is merged in !

Sorry about the confusion.
I assumed this was a private repo bounty

[2019-04-10 18:59] rafalkowalski commented on #3913
@owocki Could you verify if it's already fixed?
I've added validation in https://github.com/gitcoinco/web/commit/317576e7dab5cef5a8f9ce4fb47ea39b44dd4871

[2019-04-10 19:08] owocki commented on #3913
left some comments on the PR

[2019-04-10 20:38] #1464 closed

[2019-04-10 20:44] owocki commented on #4153
binance dashboard for inspiration http://bits.owocki.com/5391bea66892/Image%202019-04-10%20at%202.43.58%20PM.png

[2019-04-11 00:19] emiwatanabe422 commented on #4087
@owocki What is the definition of project here? There are organizations and accounts. Looks like organizations are close to projects, except when it's something big like the EF, people would be expressing interest in the EF as a whole, not specific "projects" within EF. Also, Grants and Kudos are linked to accounts, not organizations. I'm guessing this tagging is going to lead to a way for user's

[2019-04-11 08:50] gutsal-arsen commented on #4112
0.5 ETH per person or 0.5 ETH per XSS found, @owocki ?

[2019-04-11 10:06] knocte opened #4171 "Trying to cancel an expired bounty results in error "No active funded issue found at this address. Are you sure this is an active funded issue?""
This 2.3 ETH bounty has expired:

https://gitcoin.co/issue/diginex/geewallet/15/1676

(Even though it's still shows up as "OPEN ISSUE", somehow.)

As you can see there are some submissions. One of them was fake probably because it didn't include any link to any PR. Other work submitted had incomplete work. Other worker started and stopped work without submitting anything IIRC.

Now if I try to can

[2019-04-11 10:32] gichiba commented on #3897
Hey! I am getting the same issue! I've tried emptying my cache and hard re-loading, to no avail.

If this is a 'manually un-stick' sort of situation I can also provide more details, otherwise will keep watching this space for a fix!

I also am not getting any browser errors, and am able to successfully unlock DAI with the same account on the token page.

[2019-04-11 10:59] danlipert commented on #4099
Here's the new repo for the splitter contract: https://github.com/gitcoinco/Splitter

[2019-04-11 12:49] PixelantDesign opened #4172 "Contributor landing pages urls are broken"
### Problem
Contributor Landing Page URLS broken

### Definition of Done
Old versions need to be redirected to new versions (google still finding old ones)   https://gitcoin.co/contributor/python/ ----takes user to 404

Marc needs links to all the versions
And the Meta Data for those new contributor pages needs updating according to this doc

[2019-04-11 12:54] PixelantDesign opened #4173 "Increase Traffic to New Gitcoin Blog"
### Problem
We want to increase traffic to our Gitcoin Blog

### Definiton of Done
- Add Connonical tags

[2019-04-11 13:00] PixelantDesign opened #4174 "Update Gitcoin.co Homepage Title"
Update Gitcoin.co Homepage Title

**Current**
<img width="550" alt="Screen Shot 2019-04-10 at 9 43 32 AM" src="https://user-images.githubusercontent.com/238235/55959019-eff0c080-5c37-11e9-8bbd-46392290bd09.png">

**Recommended**

Title: Open Source Dev Tools, Bug Bounties & Community Resources

Sub Copy: Gitcoin lets you get paid for working on open source software. Build new skills, make new rela

[2019-04-11 13:05] PixelantDesign opened #4175 "Post New Gitcoin Blog Article"
Post New Blog Article: Gitcoin vs. HackerOne

### Definition of Done

- @vs77bb final review
- Publish this blog
- Publish a piece on medium (teaser to full article).
- Refer to google doc Gitcoin vs. HackerOne

[2019-04-11 13:08] PixelantDesign opened #4176 "Update All Copy on Gitcoin.co Homepage"
Update All Copy on Gitcoin Homepage

### Definition of Done

- Updated all copy recommended by Marc Beharry
- Review with Marketing Core team
- Refer to this document for[ final copy](https://docs.google.com/document/d/1EAjRYbJt7J26oQcBGhyXRSMouA6h4m8zWeOFfFj252s/edit)

[2019-04-11 14:13] thelostone-mc commented on #4174
<img width="1367" alt="Screen Shot 2019-04-11 at 7 43 00 PM" src="https://user-images.githubusercontent.com/5358146/55964258-0af01e80-5c92-11e9-8f20-619f857e614e.png">

[2019-04-11 15:11] #4174 closed

[2019-04-11 15:27] vs77bb opened #4178 "Update Invoice Form For 10% Fee"
Invoice form needs to be updated for 10% fee -- currently does not account for the 10% which goes to Gitcoin.

[2019-04-11 15:58] thelostone-mc commented on #4172
Has been addressed !

[2019-04-11 15:58] #4172 closed

[2019-04-11 16:19] PixelantDesign opened #4179 "Funder Reengagement Email - Post Hackathon"
### Ideas

1. specific and personal is the way to go

2. is it possible to automate sending an email with both the funder and contributors that collaborated cc'ed? We can do this by bounty actions on particular issues that were up. I'm envisioning an easy way for a funder or contributor to immediately hit "reply", and start communication again

3. another idea is to re-engage with the funder and g

[2019-04-11 16:20] PixelantDesign opened #4180 "Contributor - Reengagement Email Post Hackathon"
### Ideas

see https://github.com/gitcoinco/web/issues/4179

### Who

1. email to contributor (potentially cc funders they worked with)
2. details of the engagement (msft hackathon, bounties completed / actions, star ratings to see if the relationship was good)
3. specific project detail feedback perhaps from contributors on how the funding / hackathon bounty quality was? This might be high overhe

[2019-04-11 16:55] #4117 closed

[2019-04-11 16:55] owocki commented on #4178
@vs77bb one more item to the spec: we need to make sure this only applies for bounties that have actually had the fee applied ( bounties with a web3_created_date after this article was published ) https://medium.com/gitcoin/a-gitcoin-platform-fee-905a0507961f

[2019-04-11 16:56] owocki commented on #4178
@vs77bb one more item to the spec: we need to make sure this only applies for bounties that have actually had the fee applied ( bounties with a web3_created_date after this article was published ) https://medium.com/gitcoin/a-gitcoin-platform-fee-905a0507961f

[2019-04-11 16:56] owocki opened #4181 "rounding issue on the new bounty page"
http://bits.owocki.com/8535b307b32f/Image%202019-04-11%20at%2010.56.35%20AM.png

[2019-04-11 16:57] owocki commented on #4181
fix this rounding issue.  maybe round to 3 decimal places

[2019-04-11 17:43] pandyamarut commented on #4181
@owocki Please assign.

[2019-04-11 17:57] owocki commented on #4181
@pandyamarut i cant assign u since ur not on the repo. but feel free to start work! anyone else seeing this, pls check with @pandyamarut before u start

[2019-04-11 19:07] marc-at-consensys commented on #4172
Also, just found references to the old broken links in the xml sitemap (https://gitcoin.co/sitemap.xml) . Can we update that file within the same ticket?
https://gitcoin.co/contributor/
https://gitcoin.co/contributor/design
https://gitcoin.co/contributor/html
https://gitcoin.co/contributor/rust
https://gitcoin.co/contributor/ruby
https://gitcoin.co/contributor/javascript
https://gitcoin.co/contrib

[2019-04-11 20:26] thelostone-mc commented on #4172
@marc-at-consensys Ah it's already been pushed live ^_^
All those redirect successfully

[2019-04-11 20:34] PixelantDesign commented on #4171
thanks for the report!

[2019-04-11 20:48] thelostone-mc commented on #4181
@pandyamarut / @owocki I'd recommend round them to 4 decimal places using `.toFixed(4)` as that's what we are rounding off the other amounts !
Ensure this change gets added to both `increase_bounty.js` & `new_bounty.js`

Do attach screenshot of the change and we'll get it in ^_^

[2019-04-11 20:58] thelostone-mc commented on #4171
@knocte Ah so we just tweaked the UI a bit an hour ago.

<img width="970" alt="Screen Shot 2019-04-12 at 2 23 22 AM" src="https://user-images.githubusercontent.com/5358146/55992435-2d9e2980-5cca-11e9-99a5-bb7437ed69dd.png">

The reason why you can't cancel :

- Bounty expiration is stored on the blockchain, when you try canceling an expired bounty, the check kicks in and prevents bounty creator fr

[2019-04-11 22:45] owocki commented on #4171
this bounty was marked as 'open' because someone set the override status to 'open'

http://bits.owocki.com/e5d6246a8b5a/Image%202019-04-11%20at%204.44.22%20PM.png

i just removed the override status and its back to 'canceled' now

[2019-04-11 22:46] cmditch opened #4184 "bug - incorrect wording in grant "thank you" email"
Upon making a **one time, non reoccurring grant**, I received two emails. The "Your Gitcoin Grants contribution was successful!" email worded the grant amount correctly, but the "Thank you for supporting Grants on Gitcoin!" email did not, as it said my one time grant would happen every 30 days. See below:

-------

**"Success" email**
![image](https://user-images.githubusercontent.com/15849320/559

[2019-04-11 22:46] owocki commented on #4171
@knocte can you confirm you got your ETH back when it was canceled?  looks like the bounty has been canceled and the ETH was returend to you at https://etherscan.io/tx/0x1f98c2c82fe2f6c8282f012e116a01377da8318d19c4825413754b9da721dd8d

[2019-04-11 23:31] #4076 closed

[2019-04-12 00:31] ceresstation opened #4186 "Incorrect Token Price Conversion"
**Describe the bug**

Teck funded $5k in BNB but it displays 2625 DAI: https://gitcoin.co/grants/87/kitsune-wallet

**To Reproduce**

Try funding any grant in BNB.

The root cause for this (and its going to keep happening) is that CryptoCompare lists the BNB => USDT conversion rate as $9 not $19.

**Expected behavior**

A similar price to the one found on Coinmarketcap should be used for BNB and o

[2019-04-12 00:36] ceresstation opened #4187 "Final payments failing on certain grants due to calculation error"
**Describe the bug**

The final payments of some grants are failing. In the case of the fuzz testing grant this transaction

https://etherscan.io/tx/0xaa537d05123810aefd53168448f8f40adc26b8d7d7b5c82ed1b97f2f4ded8fdd

leads to this contract

https://etherscan.io/address/0x8eb628b4dc7c9048f748f27a0ea8b643f2be383e

and we can see the last 'executeSubscription' call was reverted

https://etherscan.io/

[2019-04-12 02:10] owocki commented on #4111
@lychees @kumo-xyz hows it goin?

[2019-04-12 02:10] owocki commented on #4111
@Kumo-YZX

[2019-04-12 04:39] lychees commented on #4111
We are making our WIP pr(https://github.com/gitcoinco/web/pull/4170), but currently it is failed on some test cases, I am trying to figure it out. Thanks.

[2019-04-12 04:45] owocki commented on #4187
https://github.com/gitcoinco/web/commit/112a9a6972a60225e217512547b3749694c6c567

[2019-04-12 04:46] owocki commented on #4186
the root cause for this (and its going to keep happening) is that cryptocompare lists the BNB => USDT conversion rate as $9 not $19.

[2019-04-12 05:16] owocki commented on #4112
i specced it as per person?  contact me if you have several XSS vulns.  if they are critical via OWASP i can do more

[2019-04-12 05:20] owocki commented on #3897
@gichiba ireset your DAI `approve()` on settings/tokens  -- can you try approve()ing again from that page again?

[2019-04-12 05:23] owocki commented on #4087
i was using 'project' interchangably with 'organization'.  so bounties on this repo would be for gitcoinco

yes unlesss someone attaches a github issue URL to it!  then you can derive the project from it.

yes, when that project posts a new bounty they will get a notification

[2019-04-12 05:27] owocki commented on #4150
sounds fine pls start.  i'd like the mgmt command to be on this repo, not a
new python project tho

On Wed, Apr 10, 2019 at 10:35 PM Gitcoin.co Bot <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki

[2019-04-12 05:40] gichiba commented on #3897
Alright! My issue is funded and all is well. Thanks @owocki !

[2019-04-12 06:53] thelostone-mc commented on #3897
Closing this out as this is taken care of ^_^

[2019-04-12 06:53] #3897 closed

[2019-04-12 06:58] pandyamarut commented on #4181
@thelostone-mc  got it. :+1:

[2019-04-12 09:37] pandyamarut commented on #4181
@thelostone-mc ERROR: for redis  Cannot start service redis: driver failed programming external connectivity on endpoint web_redis_1 (8ee787512e5a28ff3cf4b6d8fd9d0e420963e7927d63b1edcb04a2cdba6bf437): Error starting userland proxy: listen tcp 0.0.0.0:6379: bind: address already in use
ERROR: Encountered errors while bringing up the project.
^^^ I repeatedly tried killing the process but still it t

[2019-04-12 14:21] PixelantDesign commented on #4103
@SaptakS please post screenshots of both version so that we can review. Thanks!

[2019-04-12 14:30] danlipert opened #4189 "Bounty creation total sometime shows ETH instead of token"
**Describe the bug**
When creating a bounty, the total displayed at the bottom that shows the bounty funding plus the fee sometimes shows ETH instead of the token selected.

**To Reproduce**
I could not replicate, but seems to happen in brave browser

**Expected behavior**
Total should only show selected token (plus any ETH addons)

**Desktop (please complete the following information):**

Reporte

[2019-04-12 15:09] PixelantDesign opened #4190 "Segment Email List (Funders & Contributors)"
**User Story**
As a Gitcoin team we'd like to segment our population between funders and contributors.

*Why*
We'd like to be able to send target marketing messages based on your role.

**Definition of Done**
- [ ] Decide Data approach on segmenting email list @frankchen07
- [ ] Segment the list based on data approach (engineering)
       Create two email lists

- [ ] Provide the list to Dean

[2019-04-12 15:16] MaxStalker opened #4191 "Design - Empty State for kudos on profile page"
**Describe the bug**
SVG images inside empty kudos state have incorrect text alignment and incorrect font. Besides it doesn't allow option for translation.

**To Reproduce**
You can check profile page of any user who haven't sent or received kudos (let's say https://gitcoin.co/profile/maxstalker )

**Expected behavior**
Text inside hex containers is center aligned, font face "Muli" or sans-serif a

[2019-04-12 17:07] #2250 closed

[2019-04-12 17:32] StevenJNPearce commented on #4159
Would it be possible to pre-fill this value based on the 'hours worked' value put into the submit work form for bounties already completed?
Being asked my hourly rate I might say e.g. $100, but it would help me to know what is the actual rate I've been working for on Gitcoin in the past.

[2019-04-12 17:35] thelostone-mc commented on #4181
Hmm I've not this seen this !
I'm assuming you've double checked nothing is running on that right ?

Could you purge the containers & run `docker-compose down --build`
cc @SaptakS have you seen this ?

[2019-04-12 17:50] owocki opened #4195 "as a marketer who wants to re-enage gitcoin's contributor userbase, send them a generalized gitcoin bounty if they haven't done a bounty in 2 months."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a marketer who wants to re-enage gitcoin's contributor userbase, send them a generalized gitcoin bounty if they haven't done a bounty in 2 months.

### Why Is this Needed

See below graph, there is a growing userbase of churned users on the site:

<img width="804" alt="2d38cc7a46cd08c14b2e3a9abea6c735 _screen_shot

[2019-04-12 17:59] PixelantDesign opened #4196 "As Gitcoin, we want to direct organic traffic to our blog instead of medium."
### User Story

As Gitcoin we'd like to take all of articles on medium and summarize them down to 2-3 paragraphs.

### Why Is this Needed

In order to grow our organic traffic, we want to link these articles to the Gitcoin blog.

### Description

*Type*: Enhancement

### Current Behavior
Full Articles Posted

### Expected Behavior
Each article should be shortened and summarized in 2-3 paragraphs w

[2019-04-12 18:43] pandyamarut commented on #4181
@thelostone-mc Yes I checked multiple times.

[2019-04-12 18:59] marc-at-consensys commented on #4196
Note, we also have to link back to the full article on the internal Gitcoin blog from the articles on medium we are cutting.

[2019-04-12 20:06] kuhnchris opened #4197 ""Share" Link Broken"
**Describe the bug**
The link that is being shared with the "Share" function is invalid.

**To Reproduce**
Go to a bounty, for example:
https://gitcoin.co/issue/gitcoinco/skunkworks/97/2807
Click the "Share" button:
![grafik](https://user-images.githubusercontent.com/761911/56063265-1a916500-5d6f-11e9-8284-909c183c2bf9.png)
Check out the weird link:
![grafik](https://user-images.githubusercontent.

[2019-04-13 00:30] emiwatanabe422 commented on #4087
@owocki @PixelantDesign
Some quick layouts for My Matches

![image](https://user-images.githubusercontent.com/46271233/56072119-890efc80-5d48-11e9-82b2-05f45835cd3a.png)

![image](https://user-images.githubusercontent.com/46271233/56072128-9c21cc80-5d48-11e9-860a-56d05d97833d.png)

[2019-04-13 04:44] usmanmuhd commented on #3080
@owocki I am interested in working on this as a part of Ethreal hackathon. I will come up with a more detailed spec as the way I understand it.
PS: I am looking for a team mate.

[2019-04-13 04:50] dylanjw commented on #2250
@owocki #3058 was merged.  Thanks!

[2019-04-13 08:02] Skyge commented on #4189
I have tested some times in brave browser, but it seems everything is in order, and it is also fine in chrome browser
This is in brave browser:
![image](https://user-images.githubusercontent.com/27282380/56076423-67bf1680-5e03-11e9-9e4b-04d11514e498.png)

This is in chrome browser:
![image](https://user-images.githubusercontent.com/27282380/56076538-08fa9c80-5e05-11e9-8415-41426633b60c.png)

Maybe

[2019-04-13 16:04] #3824 closed

[2019-04-13 16:15] Skyge commented on #4197
Obviously this is a problem caused by redirection address, but as for the reasons, it may be related with the type of bounty.

[2019-04-13 17:29] SaptakS commented on #4197
You are supposed to get that "weird" link because it is an invitation link. As of why it takes it where it takes it, need to check.

[2019-04-13 22:05] 6ug commented on #4112
Oh! I just saw this message. Okay, I will send you report at kevin@gitcoin.co.

[2019-04-13 22:30] 6ug commented on #4112
@owocki  just found one and sent report to your email. Looking ahead for another. :)

[2019-04-13 22:45] 6ug commented on #4112
@owocki  sent another one! :100:

[2019-04-13 23:17] 6ug commented on #4112
@owocki  sent third one. :100:

@owocki I also wanted to explore transaction area but we need ether for that and I don't have any. Could you please give me some test ether so I can try 3-4 transactions at least. Amount doesn't matter 0.02-0.02 like also will work. You can send that to 0x565EAAD5fDC9d88365bF36a337A2310Ca06775d2

[2019-04-14 01:57] usmanmuhd commented on #3801
I did not get the exact way to handle the transfer without knowing the address before hand. Could you please explain or point me to the logic which handles air dropping kudos?

[2019-04-14 04:46] owocki commented on #3801
check `kudos.models.BulkTransferCoupon` and https://github.com/gitcoinco/web/blob/master/app/kudos/views.py#L601

[2019-04-14 04:47] owocki commented on #4112
@6ug will check them out

you can test in rinkeby with rinkeby eth, just use https://faucet.rinkeby.io/ to get some

[2019-04-14 06:59] gutsal-arsen commented on #1033
@owocki @vs77bb  is it still actual?

[2019-04-14 08:59] pbteja1998 commented on #3080
@usmanmuhd I want to work on this too. So, shall we team up?

[2019-04-14 10:35] 6ug commented on #4112
Sent three more, @owocki  thanks for rinkeby's idea :)
Did not found anything in transaction but I'm still trying.

[2019-04-14 13:47] kuhnchris commented on #4197
I kind of got a lead on this: it's really picky about having to add a space and where not. So maybe there is a rouge blank space somewhere. Also, it seems to sometimes adds a " #refferer" and sometimes not. It's really weird. It's also connected to the dashboard/utils.py

[2019-04-14 14:49] usmanmuhd commented on #3080
Yeah sure.

[2019-04-14 15:00] pbteja1998 commented on #3080
Ok. I will message u on slack.

[2019-04-14 15:15] owocki opened #4199 "bug - filteres not available on mobile /explorer and hackathon explorer"
![unknown](https://user-images.githubusercontent.com/513929/56095026-d8af0e80-5e95-11e9-9fdd-bd9c43efddeb.png)
![unknown-1](https://user-images.githubusercontent.com/513929/56095027-d947a500-5e95-11e9-8f76-90d03379c461.png)

see above ^^

they should be avail

[2019-04-15 01:50] owocki opened #4202 "bug - advanced payout only sends the first tip on `stable` branch"
Movie: http://bits.owocki.com/3a54ffb97fbf/Screen%20Recording%202019-04-14%20at%2007.48%20PM.mov

[2019-04-15 02:06] owocki commented on #4202
bb55e978a0087f4724539903edb1a5836fc35a7b

[2019-04-15 02:06] #4202 closed

[2019-04-15 03:03] owocki commented on #3080
awesome.. hit me up on slack/discord/here as you all get things together

[2019-04-15 03:19] Skyge commented on #4189
I have searched in the code, we can find these details at the `new_bounty.js`
[code]
so it seems like, if you make a change at `Denomination`, it will make the same change at `Total`.

[2019-04-15 03:32] owocki commented on #4148
what if we call this subscription plan "Gitcoin Promote", after [Twitter Promote](https://business.twitter.com/en/solutions/twitter-promote-mode.html) -- concisely describes the value of having a gitcoin subscription -- promotion to devs

[2019-04-15 04:01] ceresstation commented on #4085
@owocki I would prefer this if possible @PixelantDesign let me know your thoughts

[2019-04-15 04:02] ceresstation commented on #4085
As an example, consider if the ethereal hackathon sponsors all had random avatars instead.

[2019-04-15 05:11] Skyge commented on #4197
I am not sure yet, but I think `refferer` is a keyword in some measure.
[code]
in
[code]

[2019-04-15 07:07] knocte opened #4203 "Can't add more keywords/tags after issue has been funded with a bounty"
**Describe the bug**
Can't add more keywords/tags after issue has been funded with a bounty

**To Reproduce**
1. Create a github issue.
2. Create a bounty associated to the issue above, with some keywords/tags.
3. After ETH has been confirmed in the blockchain (bounty successfully published), navigate to the issue on gitcoin website, as the funder, and click to edit the details of the issue.

**Ex

[2019-04-15 11:41] pandyamarut commented on #4181
@SaptakS @thelostone-mc Can you help me encounter this error?

[2019-04-15 13:59] danlipert commented on #4189
@Skyge We've gotten a few users seeing this issue, although I haven't been able to reproduce, which is why its so challenging.

[2019-04-15 14:01] danlipert commented on #4148
@owocki Interesting, I had not seen this Twitter feature before but I like it - could bundle some promotional features in as well? (roundup placement, bounty alert placement, etc.?)

[2019-04-15 14:07] owocki commented on #4148
yes i think we could / should.  its super useful for not having to pick/manage individual tweets (bounties) to promote, it just amplifies them all  curious what @PixelantDesign thinks

i've been testing it on my twitter account just to understand it better and maybe amplify our presence.  here's what their dashboard looks like =>
![image](https://user-images.githubusercontent.com/513929/56139090-6

[2019-04-15 15:53] MaxStalker opened #4204 "Design - Video preview blocks on Home page"
**Describe the bug**
Text inside video preview blocks is using serif font and not center aligned. Also gap between blocks is too big.

**To Reproduce**
Go to https://gitcoin.co scroll down to "Realign open source incentives" block

**Expected behavior**
Text should be in sans-serif Muli font and center aligned. Or this block should be redesigned.

**Screenshots**
![current-video-blocks](https://us

[2019-04-15 21:09] frankchen07 opened #4207 "BUIDL - As a Gitcoin user, my grant contributions will go through a splitter contract and I will be charged a fee."
### User Story

BUIDL - As a Gitcoin user, my grant contributions will go through a splitter contract and I will be charged a fee.

### Why Is this Needed

Once the splitter contract (https://github.com/gitcoinco/web/issues/4064) is implemented, we will have to communicate the Grants fee on the front-end when a contributor is making a contribution.

### Description

**The design looks like this:**

[2019-04-16 00:16] Skyge commented on #4189
OK, I will test more later.

[2019-04-16 00:40] emiwatanabe422 commented on #4087
@owocki How can I create an Organization for my test server? Does it need to be linked to a GitHub Organization?

[2019-04-16 02:23] Skyge commented on #4189
I am not sure, but there is a case would show ETH in the `Total` even though you select a token.
![image](https://user-images.githubusercontent.com/27282380/56177504-7ab72e00-6031-11e9-878f-d7a791258d1a.png)
![image](https://user-images.githubusercontent.com/27282380/56177510-80ad0f00-6031-11e9-94ab-6ff955615953.png)

[2019-04-16 02:40] owocki commented on #4087
I was just going to auto generate them form bounties and grants on the
system by parsing the GitHub urls

On Mon, Apr 15, 2019 at 6:40 PM emiwatanabe422 <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.o

[2019-04-16 05:27] zillerium commented on #4159
This could work by the community accepting code changes and the time used. Hence a project  is proposed at say 1000 hours at 50 dollars per hour. Then we have a bidding process to select the final developer, or people develop in parallel and the accepted solution gets the hourly rates. The acceptance is a community decision based on a forum viewing the changes. This is all global and hence India/C

[2019-04-16 05:35] Skyge commented on #4197
I find that this kind of bounty is not generated by `Fund Issue`, so it will not show at `https://gitcoin.co/explorer`, so how can I make such kind of bounty?

[2019-04-16 10:37] PixelantDesign commented on #4204
Thanks @MaxStalker, want to help us fix this?

[2019-04-16 10:40] PixelantDesign commented on #4191
Thanks @MaxStalker want to help us fix?

[2019-04-16 11:13] MaxStalker commented on #4204
@PixelantDesign I already did. Just need someone to review my PR ^__^
https://github.com/gitcoinco/web/pull/4205

[2019-04-16 11:14] MaxStalker commented on #4191
@PixelantDesign this one is covered in my PR:
https://github.com/gitcoinco/web/pull/4192

[2019-04-16 13:21] PixelantDesign opened #4208 "BUILD - For SEO Add a links to Gitcoin.co landing page footer"
User Story
As Gitcoin we'd like to improve our SEO so that we can grow organically.

Definition of Done
- Work with @willsputra on a solution
- Add a links to Gitcoin.co landing page footer
- Must work in responsive view
- Please post a staging link or screenshot once development is complete.
- Tag @willsputra or @PixelantDesign for review.

https://docs.google.com/spreadsheets/d/1JklC0fG6U8gF0Nbh

[2019-04-16 13:58] willsputra commented on #4120
draft
https://sketch.cloud/s/ww0Kl/PGVK1b8/play

[2019-04-16 15:07] Skyge commented on #4189
Maybe the devil is in the details.

[2019-04-16 15:36] #4204 closed

[2019-04-16 16:28] owocki opened #4209 "support opera web3 across the site"
# what

support opera native web3 across the site (not opera + metamask extension)

# what is in scope?

- anything that block opera working with gitcoin (in bounties, grants, kudos products)
- ticket must be completed without any regressions to existing metamask support

# additional notes

i think this is whats blocking supporting opera web3 across the site:

opera injects web3js 1.0, whereas mo

[2019-04-16 17:01] Anish-Agnihotri commented on #3979
Hey apologies, getting back on this and knocking it out.

[2019-04-16 17:41] emiwatanabe422 commented on #4087
@owocki Should I have a new model, Organizations, as opposed to running a query on Profiles? I noticed there is an is_org field in Profiles.

[2019-04-16 21:28] kuhnchris commented on #4197
Ah, that may be because it is a special "hackathon" issue. For that we may need support from @owocki or whomever implemented that special case.

[2019-04-16 21:31] kuhnchris commented on #4209
According to this: https://web3js.readthedocs.io/en/1.0/ 1.0 isn't even stable yet, so upgrade to 1.0 seems to be dangerous. Preferably we could inject 0.2.x, do you know how metamask reacts if we simply "always" include 0.2.x (parallel to the metamask one)?
Alternatively: we check for the user-agent (in django, via headers), and 'overwrite' the web3js object by over-riding/loading it.

[2019-04-17 00:25] acolytec3 commented on #4150
I have started on this with a rough script that completes step 1 and then the first half of 2.  Been struggling with getting the uniswap trading functions to work right on Rinkeby but hope to make some forward progress later this week.  I'll try to get a PR started by Thursday or Friday to get some feedback and make sure I'm on the right track.

[2019-04-17 03:00] Skyge commented on #4203
Is there a necessary to show issue detail the same time?

[2019-04-17 03:07] knocte commented on #4203
I don't understand your question, what do you mean?

[2019-04-17 03:44] Skyge commented on #4203
Emmm, you know, when we fill in the `Fund Issue` then it will show keywords/tags, so do you want to edit keywords/tags alone?

[2019-04-17 08:27] knocte commented on #4203
"alone"? Not 100% sure what you mean here so I'll explain what happened to me, maybe you understand this way: I funded this issue recently (https://gitcoin.co/issue/psantosl/p2pcopy/4/2817), and after doing it, I realised I forgot to include the tag "C#" (only added "linux" and "webrtc"), but it seems that the UI doesn't let me change it now. I want to add that keyword to make it attractive to C#

[2019-04-17 10:50] danlipert commented on #4107
After investigating the grants contracts and the subminer, I've come up with the following solution:

- MetaTX gasPrice to 10% of grant payment (total when paying will show 110%, but same amount of transactions. essentially already done, was recently disabled because the amount we were charging (literally 0.01%, probably a bug it was set so low) was confusing people since a 10 DAI subscription cos

[2019-04-17 11:45] frankchen07 opened #4212 "As a Gitcoin operator, an email followup to funders and contributors we haven't seen in a while could increase re-engagement."
### User Story

As a Gitcoin operator, an email followup to funders and contributors we haven't seen in a while could increase re-engagement.

### Why Is this Needed

if we can detect a session visit and identify an email, having a friendly, well worded funder product followup as a gentle reminder on how to extract the most value out of gitcoin would be useful.

Possible virality and re-engagement

[2019-04-17 12:03] danlipert commented on #4189
@Skyge I was on a call with a bounty funder yesterday and saw via screen sharing this bug occur - the funder said this happens for them consistently 100% of the time, and they were using Chrome on Windows 10

[2019-04-17 12:45] Skyge commented on #4189
Happening on `Chrome` on Windows 10? You're saying that this is happening on brave browser, so I always test on  brave browser.

[2019-04-17 12:50] danlipert commented on #4189
@Skyge Yes, the initial report was for Brave, but I received another report yesterday of the same issue and they were using Chrome on Windows 10.

[2019-04-17 12:51] Skyge commented on #4189
OK, I got it.

[2019-04-17 12:59] #4075 closed

[2019-04-17 13:34] frankchen07 commented on #4207
Closed as duplicate of https://github.com/gitcoinco/web/issues/4106

[2019-04-17 13:34] #4207 closed

[2019-04-17 14:04] frankchen07 opened #4213 "Sprint 8 MSFT Hackathon Placeholder"
Sprint points allocated for hackathon support.

[2019-04-17 14:10] willsputra commented on #4120
flow:
![Discoverability-Invite](https://user-images.githubusercontent.com/19514207/56294347-6ff9b780-615d-11e9-868b-1ab849e7c6f4.jpg)

if the user has no issue funded:
![no issues](https://user-images.githubusercontent.com/19514207/56294381-80aa2d80-615d-11e9-9b1d-caed9e9341ea.jpg)

if the user is not logged in:
![not logged in](https://user-images.githubusercontent.com/19514207/56294399-87d13b80-

[2019-04-17 14:20] PixelantDesign commented on #4120
- Remove second progressive step
- add link to list view
- remove invite buttons for users that have 0 issues funded
- if user is not logged in, we hide the button

[2019-04-17 14:22] PixelantDesign opened #4214 "Build Front End- User Discoverability - Invite Flow"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder I want to have an easy way to search and filter users so it's easy to find the best workers for my task.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done

**Front End**  8
- [ ] Update Cards to match Will's design, add invite button, with all condition

[2019-04-17 14:58] thelostone-mc commented on #4181
Hmm I'm not able to reproduce this 😓
@danlipert / @owocki

[2019-04-17 15:59] PixelantDesign opened #4216 "Build Back End - User Discoverability Tool"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Funder I want to have an easy way to search and filter users so it's easy to find the best workers for my task.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done

**Front End**  8
- [ ] Update Cards to match Will's design, add invite button, with all condition

[2019-04-17 16:02] PixelantDesign opened #4217 "Ethereal Hackathon Support - Green Squad"
Ethereal Hackathon Support

[2019-04-17 16:12] PixelantDesign opened #4218 "Design - SEO Links in Footer"
User Story
As Gitcoin we'd like to improve our SEO so that we can grow organically.

Definition of Done
- Work with @octavioamu  on a solution
- Design how links would display on Gitcoin.co landing page footer
- Must work in responsive view
- Please post a mockup for @octavioamu once design is complete
- Tag @octavioamu and @PixelantDesign for review.

https://docs.google.com/spreadsheets/d/1JklC0

[2019-04-17 16:21] PixelantDesign opened #4220 "Build Backend - Filters - User Discoverability Tool"
As a funder I'd like the ability to filter by various criteria so that I can find the right contributors to work on my bounty.

**# Definition of Done**

Build Filters:

- [x] Skills make it drop down select box (work with users or skills)
- [x] Bounties Completed - range
- [x] Leaderboard Rank  - range
- [ ] Get code reviewed prior to PR Merge

* Please refer to mockup or work with @willsputra

h

[2019-04-17 17:13] willsputra commented on #4120
latest flow based on discussion.
• truncate names if they're too long
• skillset tags can be in two rows
• if there's no real name, use their username

![Discoverability-Invite](https://user-images.githubusercontent.com/19514207/56307308-21591700-6177-11e9-83ab-4df71bcb6bed.jpg)

[2019-04-17 17:15] willsputra commented on #4220
filters
![Discoverability-InviteFilter](https://user-images.githubusercontent.com/19514207/56307419-62512b80-6177-11e9-960b-25a03dacf26f.jpg)

[2019-04-17 17:44] PixelantDesign opened #4223 "UX - Quickfund vs. Normal Fund Bounty Form"
# User Story
As a funder, I'd like to be able to fund an issue without completing the lengthy form fields.

As a contributor, I'd like to see a description of a project so that I have enough information to work from to complete this bounty.

**Goal**: Quickfund an issue, thereby increasing conversion rate 	PR: https://github.com/gitcoinco/web/pull/2387

**Problem to Solve:**
Going to thh form > su

[2019-04-17 17:49] PixelantDesign opened #4224 "UX Email to funders when an issue hasn’t been fulfilled within 24 hrs"
# User Story
As a funder, I'd like to be notified if my bounty hasn't been picked up by a contributor after the 24 hour period.

As a contributor, I'd like the funder to know that I've applied for the bounty so that I can start on an issue within 24 hours.

# Why is this important?
We want to get work through the platform.
We want to avoid issues becoming stale.

# Definition of Done
- [ ] UX Emai

[2019-04-17 17:59] PixelantDesign opened #4225 "UX Prompt Funder to Work with Contributor Again"
# User Story

As a funder I'd like to be asked to work with a contributor again.

As a contributor I'd like to be notified if a funder has other issues I can work on, on his repo.

# Why is this important?
We want to build a loop where funders engage with contributors to increase funding of bounties/platform revenue.

# Definition of Done
- [ ] Brainstorm with the core team
- [ ] Propose ways and

[2019-04-17 18:21] PixelantDesign opened #4226 "UX - Display Star Ratings on Profile"
# User Story
As a funder on the Gitcoin platform, I'd like to see how contributors have been rated by other funders.

As a contributor on the Gitcoin platform, I'd like to see how funders have been rated by other contributors.

# Definition of Done
- [ ] Design placement for star ratings on the user profile page
- [ ] Consider how to display the detailed ratings
- [ ] Share with contributors and f

[2019-04-17 20:08] PixelantDesign commented on #4099
NOTE: The Thank you bubble appears once user has clicked on a % to contribute. If they click off of a preselected button or clears the input then the bubble is hidden.

**NO DATA**

<img width="660" alt="Screen Shot 2019-04-17 at 4 01 25 PM" src="https://user-images.githubusercontent.com/238235/56317402-a8cc6900-612a-11e9-8585-ae66bf0b0fdb.png">

**CUSTOM AMOUNT**
<img width="734" alt="Screen Shot

[2019-04-17 20:34] ceresstation commented on #4186
Is there a better price feed we can use? Can we convert the ETH / BNB price to a USD value separately?

[2019-04-17 20:45] #3973 closed

[2019-04-17 20:46] PixelantDesign commented on #4119
<img width="1680" alt="Screen Shot 2019-04-16 at 11 00 44 PM" src="https://user-images.githubusercontent.com/238235/56319654-4b3b1b00-6130-11e9-81d4-9600a07d3cc6.png">

<img width="1680" alt="Screen Shot 2019-04-16 at 11 01 24 PM" src="https://user-images.githubusercontent.com/238235/56319661-4d9d7500-6130-11e9-842a-80627b4785a3.png">

[2019-04-17 20:46] #4119 closed

[2019-04-17 20:47] #4103 closed

[2019-04-17 20:47] #4118 closed

[2019-04-17 20:47] #4120 closed

[2019-04-17 21:02] owocki commented on #4189
[code]

from the reporter

[2019-04-17 21:15] owocki commented on #3913
master branch is *still* broken.  did you test?

here is the POST to `/grants/matching-partners`

[code]

[2019-04-18 00:47] tmlee commented on #4186
May i suggest considering our API at https://www.coingecko.com/en/api

You have the choice of using our aggregated price index or select from a pool of exchanges if you would like control.

For instance https://api.coingecko.com/api/v3/coins/binancecoin, returns our aggregated price, or the tickers key will give you a list of top tickers

It is possible to also query by token contract address for

[2019-04-18 06:28] frankchen07 commented on #4190
seems like I already did it for Dean

https://metabase.gitcoin.co/question/272

active bounty hunter (did a bounty in the last 90 days)
not active bounty hunter (started work at some point, but didn’t complete a bounty in the past 90 days

funders (those who have funded bounties)

users (those who have done nothing except give us their email)

[2019-04-18 09:38] owocki opened #4228 "bounty invoice should show the fees paid"
bounty invoice should show the fees paid

[2019-04-18 10:42] gutsal-arsen commented on #3981
@owocki how long it would take to review/merge my changes into codebase and closing the bounty?

[2019-04-18 12:51] danlipert commented on #4107
Here's the small update to the frontend that we'll need as well: https://github.com/gitcoinco/web/pull/4231/files

[2019-04-18 13:39] frankchen07 opened #4232 "[WORKSHOP] - New UX for subscriptions & dynamic fees"
### User Story

New UX for subscriptions & dynamic fees.

### Why Is this Needed

v0.1 of subscriptions is not enough - we need to iron out the user experience between subscriptions and a custom bounty fee.

Currently, there are three extensions/enhancements on the % bounty fee:

1. coupon code (https://github.com/gitcoinco/web/pull/4237)

2. binary subscription fees (https://github.com/gitcoinco/

[2019-04-18 17:03] willsputra commented on #4218
thoughts? @octavioamu @PixelantDesign

![SEO Footer](https://user-images.githubusercontent.com/19514207/56378196-e15d6700-623e-11e9-9cc0-ff353c763477.jpg)

[2019-04-19 02:15] Skyge commented on #4189
I really have tested by using Chrome on Windows 10.
![image](https://user-images.githubusercontent.com/27282380/56401080-c106ca00-6289-11e9-9b04-9f85a0fd3273.png)
![image](https://user-images.githubusercontent.com/27282380/56401105-e0055c00-6289-11e9-8e8e-6cb856f60174.png)
So I want to confirm again, are our steps these:
 - Login `https://gitcoin.co/` and then click `Fund an issue` to create a bou

[2019-04-19 11:59] kwikiel opened #4236 "Existential questions - Gitcoin bussiness logic works as intended?"
### Why

1. What's the point of depositing money to escrow account if I can cancel the bounty on a whim ( even after bounty hunter provided solution? )

Example in Fiverr: If I cancel the bounty I should be required to provide detailed explanation why and system should ask If I want to still continue but maybe with different bounty hunter or something.

2. How to prevent people from circumventing

[2019-04-19 14:29] thelostone-mc commented on #4108
Closed out in https://github.com/gitcoinco/Splitter/pull/2

[2019-04-19 14:29] #4108 closed

[2019-04-19 14:46] thelostone-mc commented on #4189
checked it out in chrome on windows !
I couldn't reproduce it either 😓

[2019-04-19 19:41] KirkBallou commented on #3080
@owocki I tried submitting through Gitcoin but it says 'no active bounty'
Here is the dApp: https://kirkballou.github.io/reactongit/

[2019-04-20 01:43] lychees commented on #4111
We have added the "Login with Twitter" icon to the nav bar. Once clicked, The program will apply for a login token and redirect the user to Twitter login page. After logining and authorizing by the user, the page will be directed to GitCoin again.
The login icon:
![image](https://user-images.githubusercontent.com/2507027/56449760-8caa1100-6350-11e9-9872-13f6bcdae6af.png)
The Authorize page:
![imag

[2019-04-20 01:45] lychees commented on #4111
The login and authorization flow is tested, it works well. But we have no idea how to combine the module with GitCoin's account management system? And If the user is using GitHub and Twitter at the same time, we need to handle him as one account, or two? That is the problem we are facing.

[2019-04-20 10:28] usmanmuhd commented on #3801
Stopping work on this so that I can concentrate on Ethreal hackathon.

[2019-04-20 23:45] Kumo-YZX commented on #4111
I am trying to pr but the test failed with some error, where is not the code I edited. Can someone please help me?
![image](https://user-images.githubusercontent.com/16816538/56463554-5ed4d300-6409-11e9-94f1-9e7aaf9cdb9d.png)

[2019-04-22 10:15] Kumo-YZX commented on #4111
@owocki   Hello! We are trying to solve the issue. Now the Twitter OAuth module is added correctly, as well as some profile setting modules based on Twitter (e.g. set avatar using Twitter account's avatar, set email with Twitter account's email). But we still have a problem: If a person has both GitHub and Twitter account and wants to use GitCoin, do we need to handle this situation with two accou

[2019-04-22 13:11] owocki commented on #4111
looks like some import issue with master involved in importing dashboard.  maybe try re-basing upon the latest master?

@Kumo-YZX lets just make it so that you can have two seperate accounts (one github / one twitter).  pls just make it so that the twitter accounts username are prefixed with `twitter_` so there are no username collisions

[2019-04-22 15:20] Kumo-YZX commented on #4111
Thank for your reply! I will continue to work on.

[2019-04-22 16:56] willsputra commented on #4120
Sketch file
https://github.com/gitcoinco/creative/blob/b39eddf942cfefd66b45a70d46d4092900e42d4f/Product/User%20Explorer/UserExplorer-InviteNoFilter.sketch

[2019-04-22 16:57] willsputra commented on #4214
added the sketch file here https://github.com/gitcoinco/web/issues/4120

[2019-04-22 18:05] PixelantDesign opened #4245 "Ethereal Hackathon Support"
Refer to this doc for more context: https://docs.google.com/document/d/15xJSjaxDy0zzfD5y53XdmBNJ5R7JpViAo54AZiP2prs/edit

##  *P0**

- [x] **Problem**
When you open a bounty, then click “Return to Explorer”, it doesn’t take you back to the Hackathon Explorer (takes you to the general issue explorer instead).
**Solution**
Return to Explorer change to Go to back to hackathon explorer

- [x] **Proble

[2019-04-22 19:17] #4199 closed

[2019-04-22 20:46] ceresstation opened #4248 "Feature Request: Option to Disable Gitcoin Bot on Bounties"
### User Story

As a funder I don't necessarily want the Gitcoin bot showing up on my repo. Instead, I would prefer to choose whether it shows up.

### Why Is this Needed

Some maintainers have expressed that the bot posting in their repos is intrusive. Since we still want to work with these maintainers we should think about how we can build a flow that works for them, and allowing them to enable

[2019-04-22 21:57] owocki opened #4249 "bug - grant contribution email does not match expectaions"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
I selected the option "One time", and now I receive an email with the description of the project in an unreadable way btw and a message that reads:
"You have agreed to give 200.0000 DAI every 30 days".

https://twitter.com/mattaereal/status/1118993928559255552?s=12

**To Reproduce**
[comment]: # (Steps to repro

[2019-04-22 22:09] frankchen07 commented on #3763
@speedyfixer - sounds good! The issue includes fixing the bug.

[2019-04-22 22:22] owocki commented on #4190
we should preload this data into the database so each user is explicitly tagged as a coder or funder.. then allow users to switch back and forth in their settings (and/or in their emails)

[2019-04-23 06:40] thelostone-mc commented on #4248
Seems do-able !
Would be worth revisiting shrinking the form as opposed to make the form even longer!
It's getting to a point where filling out a form is becoming cumbersome

cc @willsputra / @frankchen07

[2019-04-23 13:53] #3699 closed

[2019-04-23 14:35] PixelantDesign opened #4251 "Funder Email Summary - Workers Applied"
### User Story
As a Funder on the Gitcoin platform I'd like a condensed email that encapsulates the contributors who have applied for my bounty.

### What
Email to funders summary of who has applied - combined vs 1 at a time…..
Show leaderboard rank
Cumulative email

### Defintion of Done
- [ ] Design an email with these 3 conditions
- 1st contributor
- You now have two contributors
- You now have

[2019-04-23 14:37] willsputra opened #4252 "SEO - BUILD - Add blog link in Gitcoin footer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:37] willsputra opened #4253 "SEO - DESIGN - Primary navigation for Blog"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:38] willsputra opened #4254 "SEO - DESIGN - Blog specific navigation on gitcoin.co/blog"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:38] willsputra opened #4255 "SEO - DESIGN - Main header image for gitcoin.co/blog"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:39] willsputra opened #4256 "SEO - DESIGN - H1 title for main blog home page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:39] willsputra opened #4257 "SEO - DESIGN - Header image on blog article"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:40] willsputra opened #4258 "SEO - Update categories on each blog post"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:41] willsputra opened #4259 "SEO - DESIGN - Stock photo for blog article"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2019-04-23 14:57] kuhnchris commented on #4259
No idea if you guys got a ishoterstock, bigstockphoto, depositphoto, dreamstime or some other services' account.

With a bit more info we can pick some options

[2019-04-23 14:57] kuhnchris commented on #4252
In the sitemap or just in the footer?

[2019-04-23 14:59] kuhnchris commented on #4251
Define "show leaderboard rank" and "summary of who has applied" - you mean as in user "punch cards" as in how many bounties they solved v.s. applied and stuff like that, or do you simply mean "summarize what gitcoinbot is already posting on the github"?

[2019-04-23 15:00] kuhnchris commented on #4249
Do you happen to have the database entry for that (and could share it)? Just to make sure the data isn't accidently saved wrongly as 30 days, for example.

[2019-04-23 15:02] kuhnchris commented on #4232
Are there any mock-ups of how a complete experience should look like? Or do you simply want ideas of how to do a experience like that?

[2019-04-23 15:21] PixelantDesign commented on #4099
Summary at the end should contain fee summary
Gitcoin bot broken heart and custom message

[2019-04-23 15:55] speedyFixer commented on #3763
@frankchen07 Perfect! @gitcoinbot as I wrote, I going to start tomorrow.

[2019-04-23 15:58] kuhnchris opened #4260 "Error upon creating grant"
**Describe the bug**
![grafik](https://user-images.githubusercontent.com/761911/56596659-3dced680-65f1-11e9-9a16-71acae8121b6.png)

**To Reproduce**
- Create grant

**Expected behavior**
- No error

**Screenshots**
see above

**Desktop (please complete the following information):**
- Win10
- Firefox latest stable

[2019-04-23 16:01] kuhnchris opened #4261 "My grant is not my grant?"
**Describe the bug**
Grant-owner's image isn't my image

**To Reproduce**
Create a grant

**Expected behavior**
I own my grant (or at least am my own team member)

**Screenshots**
![grafik](https://user-images.githubusercontent.com/761911/56596939-c188c300-65f1-11e9-84a6-6c4c15b24874.png)

**Desktop (please complete the following information):**
- Win10
- Firefox Latest stable

[2019-04-23 16:10] danlipert commented on #4245
"DAI amounts in prize explorer revert to true amount in smart contract once work is applied for/started (any kind of user activity) despite being changed in admin
Once user activity/submitted work, the Dai amount went back to the initial Dai amount."

Regarding this issue, it won't be a quick fix to make sure that we can set a bounty to not resync it's value from the blockchain. Also, it may cause

[2019-04-23 21:25] rafalkowalski commented on #3913
@owocki I will verify it and fix it.

[2019-04-23 22:40] frankchen07 commented on #4106
@thelostone-mc designs finalized here: https://github.com/gitcoinco/web/issues/4099#issuecomment-484241638

[2019-04-24 11:10] danlipert opened #4263 "As a Gitcoin admin, I want the system to use Per-user Github API keys, so that additional Github integrations can be made without increasing Github API throttling"
### User Story

As a Gitcoin admin, I want the system to use Per-user Github API keys, so that additional Github integrations can be made without increasing Github API throttling.

### Why Is this Needed

Right now, there are parts of the app that do not use per-user API keys. When site traffic is high, this API key gets throttled by Github, causing various problems. Moving to per-user API keys wh

[2019-04-24 11:11] danlipert commented on #4263
@PixelantDesign this is what we were discussing yesterday regarding additional github integrations

[2019-04-24 11:53] #3316 closed

[2019-04-24 14:26] frankchen07 commented on #4232
@kuhnchris - no complete mock-ups yet.

I think my plan is to get up some flowcharts on what that flow / functionality we'd like, and then show it here / internal team to get thoughts and refinement on the UX and flow, then pull in Alisa for some designs.

Stay tuned!

[2019-04-24 14:27] frankchen07 opened #4264 "As a Gitcoin Grant contributor, I would like to have an invoice for my contribution."
### User Story

As a Gitcoin Grant contributor, I would like to have an invoice for my contribution

### Why Is this Needed

When one contributes to a Gitcoin Grant, it would be nice to have an official invoice for the amount that they contributed, when they contributed, and who / what / the address that they contributed to.

Requested from web3 foundation.

### Description

1. Provide invoice tem

[2019-04-24 14:32] frankchen07 opened #4265 "As a Gitcoin user, the delineation between funder and coder is not entirely clear, both to the user and to the Gitcoin team in the backend."
### User Story

As a Gitcoin user, the delineation between funder and coder/developer is not entirely clear, both to the user and to the Gitcoin team in the backend.

### Why Is this Needed

This makes it easier to determine who has signed up as a funder or a contributor.

### Description

A possible solution is preloading funder/contributor data into the database or immediately determining status

[2019-04-24 14:56] #2845 closed

[2019-04-24 14:56] mbeacom commented on #2845
@thelostone-mc care to re-open this and update ? Closing.

[2019-04-24 15:46] thelostone-mc opened #4267 "Display grant history on profiles before #3859"
##### Description

Grant Activity now shows up on the user's profile for newly created grants + subscriptions.
This was introduced in https://github.com/gitcoinco/web/pull/3859

However the activity before this PR went live also needs to be captured and displayed on the profile (which does not do at the moment)

cc @e18r , @gitcoinco/engineer

[2019-04-24 16:53] thelostone-mc commented on #2845
Yup! will update it as a new issue
Thanks @mbeacom ^_^

[2019-04-24 17:32] owocki commented on #4249
its just a subscription object where num_tx_approved = 1

[2019-04-24 17:41] GuistF opened #4269 "Can't with updating work status"
I started a work yesterday and I'm having some problems:
- Doubled my work request;
- I was not  on the github issue
After completing the job, I tried to update my status and did not find the "Work Submitted" options.
The only option  to update my work status is  "start work"  button. Access by chrome browser, I have tried with brave but happens the  same problem.

Issue Page : https://gitcoin.co/

[2019-04-24 17:57] owocki commented on #3981
its usually pretty quick once you're able to show you've solved the issue.  the last comments i see on the PR are from myself and octavio with other suggestions

[2019-04-24 18:15] owocki commented on #4209
this should work.  if i find time to do any coding this week i will code this up

[2019-04-24 19:28] owocki commented on #4087
@emiwatanabe422 I dont see any reason to make a new model

(sorry for the slow response, my ba)

[2019-04-24 19:28] speedyFixer commented on #3763
@frankchen07 @gitcoinbot right now working on this!

Updated Plan status:

- [x] Prepare a local environment for debugging
- [ ] **Reading the repository** _Working in this item_
- [ ] Localization of subscription related code
- [ ] Load grant data in local test environment
- [ ] Describe a group of steps for reproduce the bug
- [ ] Fix the bug
- [ ] Test the solution

[2019-04-24 19:46] PixelantDesign opened #4270 "Design Contributor Drip Campaign Emails"
### As Gitcoin, we'd like to create an email series to engage with contributors.

### Definition of Done

- [ ] Design drip email series using content from document
- [ ] Emails must be responsive
- [ ] Review with Gitcoin marketing team
- [ ] Provide final source files

Google Doc
https://docs.google.com/document/d/1eO2aWj1RhbjKzOfBQWVQxyQ_0jamTRkr7jjoFVjEIdU/edit?usp=sharing

[2019-04-24 21:40] kuhnchris opened #4271 "[Kudos] Kudos Contract not verified"
**Describe the bug**
The code for Kudos isn't verified on Etherscan, making it hard for non-devs to interact with the Kudos Contract

**To Reproduce**
https://etherscan.io/address/0x2aea4add166ebf38b63d09a75de1a7b94aa24163#code

**Expected behavior**
Interactability with the contract without generating a ABI

[2019-04-24 22:10] owocki commented on #4271
anyone can submit the verified source code at https://etherscan.io/verifyContract

code lives at https://github.com/gitcoinco/Kudos721Contract

i tried for 3 minutes, but couldnt figure out how to manage all the imports

[2019-04-24 22:11] kuhnchris commented on #4271
I tried for days. Downloading it, compiling it, even integrating openZeppelin and finding out which version it is, to no avail. The one I tried to upload keeps complaining that it's different to the github version. Hence my quesion.

[2019-04-24 22:16] owocki commented on #4271
hmmm which compiler version did you use

On Wed, Apr 24, 2019 at 4:11 PM KuhnChris <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, fa

[2019-04-24 22:23] owocki opened #4272 "as a grants creator, i want to be able to record funding from other places so ppl can use gitcoin grants as the one single source of truth for how a project is funded"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants creator, i want to be able to record funding from other places so ppl can use gitcoin grants as the one single source of truth for how a project is funded

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2019-04-24 22:24] owocki commented on #4272
thx @bmann for the idea in berlin!

[2019-04-24 22:25] owocki commented on #4267
@e18r any interest in this one?

[2019-04-24 22:47] owocki opened #4274 "as a kudos holer, i want the kudos artwork to show the sequence number shown on the kudos art, so i can show off how i got the first kudos of a limited edition set"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a kudos holer, i want the kudos artwork to show the sequence number shown on the kudos art, so i can show off how i got the first kudos of a limited edition set

### Why Is this Needed
for bragging rights

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, wha

[2019-04-24 22:58] owocki commented on #4249
1457a090f3511ccd026367971929d1c4bccd51d3

[2019-04-24 23:15] bmann commented on #4272
Manual Record is good — logging “direct” transactions to the target address would be good, too.

[2019-04-24 23:16] owocki opened #4275 "DESIGN - add a section to the /results page that says "my bounty wasnt turned around, why""
### Who
/results page

### What
add a section to the /results page that says "my bounty wasnt turned around, why".  put it below this ( http://bits.owocki.com/82e4bf395206/Image%202019-04-24%20at%205.17.03%20PM.png ) section

### Why
why don’t some tasks get turned around?  the results page should breakdown why the '87%' number is only after start work.  the reason is that
- your task might be und

[2019-04-25 06:18] thelostone-mc commented on #4260
Did you change your metamask address during the grant creation process ?

[2019-04-25 06:22] kuhnchris commented on #4260
yes, once to transfer funds.

[2019-04-25 06:23] thelostone-mc commented on #4260
hmm 🤔 i have a feeling things got messed up there ! will have to check it

[2019-04-25 06:25] kuhnchris commented on #4260
I wonder, since last time I tried the whole process broke, so I was rather confident that it worked this time, hmm...
I can still interact with it and change the grant and everything, it's just the message above appearing.

[2019-04-25 09:26] thelostone-mc commented on #4275
Note: PR for this to be merged only after https://github.com/gitcoinco/web/pull/4167 gets in

[2019-04-25 11:19] kuhnchris commented on #4275
but... it is?
![grafik](https://user-images.githubusercontent.com/761911/56732160-be5e1600-675c-11e9-93b5-39db8dd72c6a.png)

[2019-04-25 11:21] kuhnchris commented on #4274
well, that's certainly a problem to implement, as the number would have to be included into the SVG... do you have any alternative ideas where to put the number(s)? else we may need to dynamically generate the SVG Kudos with the number inside (and create the Kudos templates with #####/##### templates to fill later)

[2019-04-25 11:27] kuhnchris commented on #4272
well, do we need some kind of verification-mechanism? e.a. do we need to check against the blockchain that the tx (or money amount entered) is to the grant?
Else, if people donate to the GRANT CONTRACT we could do automatic logging, if they just do tx to wallets it's just white noise.

Alternatively: add a "+" button in the Grant administration and a section called "External (non-verifiable) Fundi

[2019-04-25 11:28] kuhnchris commented on #4271
I think I tried 4 or 5 different compiler versions, can't remember which one, I followed some StackOverflow post to determine which version it COULD be.

[2019-04-25 11:30] kuhnchris commented on #4248
what about possibilities to store "templates"? e.a. you fill out the form once and then can use the data of your previous form to fill out the new one?

Aside from that, for the core of this issue: this would simply work by setting the gitcoinbot snooze to 999 days, and deal with it, right?

[2019-04-25 11:39] kuhnchris commented on #4264
Is there any "standard invoice template" that is legally checked available?
Or shall we reuse the 'default' invoice template for bounty payment?

[2019-04-25 12:22] PixelantDesign opened #4280 "Flyout Bug - Project icons overflowing out of card"
### Issue

https://gitcoin.co/issue/fortmatic/edcon2019-hackathon/1/2760

- Icons running beyond flyout (see screenshot)

### Browser
Google Chrome Version 73.0.3683.103
Mac Mojave

### Screencap
<img width="1018" alt="Screen Shot 2019-04-25 at 8 20 09 AM" src="https://user-images.githubusercontent.com/238235/56735308-1a13a980-6733-11e9-9f37-2edb7aa071f6.png">

[2019-04-25 12:53] kuhnchris commented on #4280
ok, that overflow bug is easily fixable, i'm more worried about the "undefined"
![grafik](https://user-images.githubusercontent.com/761911/56736740-3599a700-6769-11e9-9293-1dc31c40adf1.png)

Overflow: hidden; fixes this issue. But, I rather ask, what's with the "," in the middle?
![grafik](https://user-images.githubusercontent.com/761911/56737037-d38d7180-6769-11e9-8a95-d2c681ddb279.png)

[2019-04-25 12:57] MaxStalker opened #4281 "DESIGN - Wrong position of label inside activity list"
**Describe the bug**
"Work submitted" label is left aligned.

**To Reproduce**
You can check this issue for example:
https://gitcoin.co/issue/Azure-Samples/bc-community-samples/7/2836

**Expected behavior**
All labels in status columns should be center aligned

**Screenshots**
![work-submitted-offset](https://user-images.githubusercontent.com/3136647/56737264-b90bc600-6772-11e9-8246-23e33a8cfa08.j

[2019-04-25 13:00] MaxStalker commented on #4281
Should be easy to fix if you add "d-flex" class to a parent of that specific label:
[code]

[2019-04-25 13:04] thelostone-mc commented on #4280
Also, specialty should be hidden when no data is available

<img width="588" alt="Screenshot 2019-04-25 at 6 31 38 PM" src="https://user-images.githubusercontent.com/5358146/56737583-63daaf00-6788-11e9-924b-f876e8958162.png">

@iamonuwa would you be able to get around to fixing all the 3 mentioned above as this was introduced in https://github.com/gitcoinco/web/pull/3915

cc @octavioamu

[2019-04-25 13:05] kuhnchris commented on #4280
also the spacing between Gitcoin Contributor and the stats is weird. + Contributor also overflows.
If @iamonuwa is on it i won't touch it, else let me know and I'll send a PR in.

[2019-04-25 13:07] iamonuwa commented on #4280
Sure

[2019-04-25 13:14] thelostone-mc commented on #4280
PS: @iamonuwa cleanest thing would probably be to limit the number of orgs (maybe 4) and replace the rest with the count of the remaining number of orgs

Kinda like what do we in profile
<img width="512" alt="Screenshot 2019-04-25 at 6 42 48 PM" src="https://user-images.githubusercontent.com/5358146/56738347-0cd5d980-678a-11e9-9ea0-96d3342f93de.png">

ignore the hover part cause hover inside in ov

[2019-04-25 13:23] PixelantDesign opened #4282 "Explore Updates to Issue Details"
### User Story
As Gitcoin we'd like a cleaned up issue details page so that the most important parts are easier to navigate based on your role.

### Problems to Solve
- [ ] Surface the most important information at the top of the issue details
- [ ] Make it clear who has applied for work?
- [ ] Make it clear who has been approved for work
- [ ] Simplify activity feed, but show relevant information

[2019-04-25 13:41] MaxStalker commented on #4282
I would be glad to help you you with it :)

[2019-04-25 14:39] PixelantDesign commented on #4232
@frankchen07
Is this for people who don't want to pay the 10% fee only?
Or is subscription an option  only for people who don't want to pay this fee?

**Use cases that need ux:**
Sign up for subscription
Subscription management
Cancelling subscription

Outstanding questions:
What other features are we including in the subscription packages?

[2019-04-25 15:20] frankchen07 commented on #4264
@kuhnchris - good questions. Checking with the internal team about an invoice template. If there isn't then repurposing an existing template and adding standard invoice requirements most likely be sufficient

[2019-04-25 16:15] Kumo-YZX commented on #4111
I add a PR. Maybe you can review it?

[2019-04-25 16:22] owocki commented on #4111
will check it out by EOW!

[2019-04-25 16:22] owocki commented on #4111
will check it out by EOW!

On Thu, Apr 25, 2019 at 10:15 AM Kumo Lam <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http:/

[2019-04-25 16:24] owocki commented on #4264
lets just use the existing invoice page / template

[2019-04-25 16:27] owocki commented on #4274
i was going to go down the 'dynamically generate the SVG kudos' route

[2019-04-25 16:47] #4249 closed

[2019-04-25 19:26] thelostone-mc commented on #4275
lol that got in after I posted that comment -> so yup it's up for grabs

[2019-04-25 20:39] speedyFixer commented on #3763
Status Update:

I found some times `num_tx_approved` is missing in POST request and the default value assigned to It is an int: https://github.com/gitcoinco/web/blob/9ea8fbeaf0f545d210f3362d35239cbc2244552b/app/grants/views.py#L427

Therefore, in the following condition the result will be False: https://github.com/gitcoinco/web/blob/9ea8fbeaf0f545d210f3362d35239cbc2244552b/app/grants/views.py#L434

[2019-04-25 20:44] speedyFixer commented on #3762
Updated Plan status:

- [x] is this issue related to #3763 ?
- [ ] **Describe a group of steps for reproduce the bug** _Working in this item_
- [ ] Fix the bug
- [ ] Test the solution

[2019-04-25 20:46] owocki commented on #3763
hmm that post should not happen without `num_tx_approved` in the POST..

[2019-04-25 20:56] speedyFixer commented on #3762
Issues aren't related, seems just a query bug.

With `Q(error=True)` in the query:

https://github.com/gitcoinco/web/blob/9ea8fbeaf0f545d210f3362d35239cbc2244552b/app/grants/views.py#L134

The result is:

![test_1](https://user-images.githubusercontent.com/46165430/56766912-2cf89f00-6770-11e9-9eb2-726131bac27e.png)
Without `Q(error=True)` in the query:

![test_2](https://user-images.githubusercont

[2019-04-25 21:02] speedyFixer commented on #3763
Yes I'm aware of that, I'm looking deeper for the cause of missing `num_tx_approved` or check if I found another reason.

[2019-04-25 21:09] speedyFixer commented on #3762
On the other hand, I saw that We are using error for identify a one time contribution:

https://github.com/gitcoinco/web/blob/9ea8fbeaf0f545d210f3362d35239cbc2244552b/app/grants/views.py#L436

@owocki How do you filter One Time Contribution vs a Failed subscription?

**Failed Subscription:**
Active = False
Error = True

**One Time contribution:**
Active = False
Error = True

**Active Subscription:

[2019-04-25 21:13] speedyFixer commented on #3763
@owocki Are there more reports of users experiment this issue?

[2019-04-25 21:29] owocki commented on #3762
failed will have .failed = True

one time contribution will have subscription.num_tx_approved = 1

failed contributions will have transaction.success=success

[2019-04-25 21:31] kuhnchris commented on #4275
If it's up for grabs: How do we evaulate the reason for rejection? Do we have a new field on the Bounty Object for that, or is part of this PR/Request to also implement a feedback system for that?

Thanks

[2019-04-25 21:40] owocki commented on #4275
for now, id just like to have some qualitative storytelling about why bounties are not turned around in the design. for the purposes of designing this, you can assume the numbers will be provided for you.

i will pull the numbers for you guys.

[2019-04-25 21:41] kuhnchris commented on #4275
OK, so for now just plain hardcoded, that's fine.
Anything fancy like staked bars or pie charts for that?

[2019-04-25 21:49] owocki commented on #4275
thats up to the designer :)

[2019-04-25 21:50] kuhnchris opened #4287 "Add custom flag (or view) for 'hackathon'/event related bounties"
### User Story
As a user browsing the issue explorer, I get frustrated when navigating the list, finding a bounty nobody seems to want to make, checking it out, only to find out it's for some event you have to be physical present at or already passed. :-(

### Why Is this Needed
See above, frustration, confusion, cluttering

### Description
See above, category or classification within the issue ex

[2019-04-25 23:42] owocki commented on #4087
@emiwatanabe422 btw i really like the designs you put on here :) curious what @PixelantDesign thinks tho

[2019-04-26 00:18] e18r commented on #4267
@owocki yes, tomorrow will do some research and give you a price

[2019-04-26 01:18] owocki commented on #4236
1. i think the 'stake' shows youre serious about pursuing the bounty.  to your point, you can cancel the bounty.. but you've not only staked your financial value but you've also kind of staked your reputation.  reputation follows you.
2. we have a few tickets written up to deal with this.  i agree its a problem.
3. this is a problem right now.  i like the idea of splitting between bounty hunter an

[2019-04-26 01:47] owocki commented on #4111
left some comments :)

[2019-04-26 12:39] danlipert commented on #4245
Just added a PR to hide the low DAI values: https://github.com/gitcoinco/web/pull/4290 @alexvotofuture @PixelantDesign

[2019-04-26 15:24] danlipert opened #4292 "As a Gitcoin contributor, I want better and updated data fixtures, so that QAing my changes and getting started is easier."
### User Story

As a Gitcoin contributor, I want better and updated data fixtures, so that QAing my changes and getting started is easier.

### Why Is this Needed

There are currently some fixtures which help bootstrap the process of creating test data when running Gitcoin locally. These fixtures are automatically added when you run Gitcoin via docker, and include things like creating users and ad

[2019-04-26 15:34] danlipert commented on #182
Bounty ticket here -> https://github.com/gitcoinco/web/issues/4292

[2019-04-26 15:34] #182 closed

[2019-04-26 16:07] jmrocco commented on #3164
Hello @owocki,

I was sent 5 kudos today and none of them show up on my profile!

https://etherscan.io/address/0xdd23401dcab425f0a435eb7a86c77c5e8513bead#tokentxnsErc721

https://gitcoin.co/profile/jmrocco

[2019-04-26 16:20] owocki commented on #3164
Hey Juliette, Did you send them while logged into Gitcoin on production?  I
dont see any Kudo Transfers initiatied from gitcoin.co by @jmrocco in our
database..

On Fri, Apr 26, 2019 at 10:07 AM Juliette Rocco <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

o

[2019-04-26 16:23] willsputra commented on #4225
@PixelantDesign

Basic Payout:
![Work with Contributor Again](https://user-images.githubusercontent.com/19514207/56821997-fc9d2780-6879-11e9-9274-29ecdcc42de8.jpg)

Advanced Payout:
![Work with Contributor Again (Advanced)](https://user-images.githubusercontent.com/19514207/56822079-35d59780-687a-11e9-9ff0-446c2289e711.jpg)

[2019-04-26 17:04] jmrocco commented on #3164
Hi @owocki

I didn't send them, someone else sent them to me. If you see on the Etherscan link I sent above, 5 were sent to me, but then if you look on my profile they don't show up.

[2019-04-26 17:05] ceresstation commented on #4186
Hey @owocki any thoughts on the above? Could this be bounties?

[2019-04-26 17:12] owocki commented on #4186
i dont see any reason why we couldnt bounty it.  coingecko could be a good tool to use

[2019-04-26 17:17] owocki commented on #3164
here you go @jmrocco ! https://gitcoin.co/profile/jmrocco

[2019-04-26 17:19] jmrocco commented on #3164
@owocki Thank you so much!

[2019-04-26 21:01] alexvotofuture opened #4296 "Eliminate Kudos sending fee (beyond gas) for owners"
**Describe the bug**
When a Kudos token is originally minted and delivered to an owner, and that owner uses the web UI for sending Kudos, it treats the owner as a general Kudos shopper, imposing the standard fee for sending the Kudos (instead of just charging gas, since that owner should already have all of the tokens in their ETH wallet).

There is apparently an automatic refund upon sending that

[2019-04-27 00:42] gutsal-arsen commented on #4292
@owocki  I'd take that if I could ;)
my [this](https://gitcoin.co/issue/gitcoinco/browser-extension/69/2808) and [that](https://gitcoin.co/issue/gitcoinco/web/3981/2623) are still under review

[2019-04-27 02:55] e18r commented on #4267
I'll make a data migration to create Activity objects based on existing Grant and Subscription objects prior to the deployment date of PR #3859. Most info will be accurate, except for multiple grant updates (only the last update can be recovered, whether it's an update or a kill). Price is 1.5 ETH

[2019-04-27 13:04] #4213 closed

[2019-04-27 19:55] emiwatanabe422 commented on #4087
@owocki I put a working demo on #4298.  Im having trouble getting real organization profile data to for testing. When I create a bounty on my dev machine, the resulting bounty is a broken link, and the organization profile is not added to the database.

[2019-04-28 17:19] Kumo-YZX commented on #4111
@danlipert Maybe you can review the code on [](https://github.com/gitcoinco/web/pull/4279)? Thank you!

[2019-04-28 17:20] Kumo-YZX commented on #4111
@danlipert Maybe you can review the code on #4279 ? Thank you!

[2019-04-29 00:08] owocki commented on #4292
@gutsal-arsen  -- hey @danlipert did this bounty not me!

[2019-04-29 13:50] danlipert opened #4300 "As an enterprise director of open source, I want a turnkey solution so I can amplify my organization's open source efforts"
### User Story

As an enterprise director of open source, I want a turnkey solution, so I can amplify my organization's open source efforts

### Why Is this Needed

Currently, its very difficult for larger organizations to adopt Gitcoin, as there are no organization management features, nor intra-organization functionality

### Description

*Type*: Feature (EPIC)

### Current Behavior
Right now, o

[2019-04-29 14:15] PixelantDesign opened #4301 "As a gitcoiner I’d like to have a badge /something to display on my site to show that I’m an active Gitcoiner"
## User Story
As a gitcoiner I’d like to have a badge /something to display on my site to show that I’m an active Gitcoiner

## Why
Sometimes the things you work on are private or not captured and the github squares are not representative of your work.

## What
Take the basic user stats and display in some sort of badge.
Allow ability to generate/display on medium and other sites to show a proven

[2019-04-29 14:24] PixelantDesign opened #4303 "As a Gitcoin core team we'd like users to come back /keep Kudos top of mind"
## User Story
As a Gitcoin core team we'd like more visibility on Kudos and get users to come back /keep Kudos top of mind.

## Why
Sometimes the things you work on are private or not captured and the github squares are not representative of your work.

## What
Building off of the idea of air dropping that Kevin just created a PR for…https://github.com/gitcoinco/web/pull/4295

Idea 1: What if we c

[2019-04-29 14:29] PixelantDesign opened #4304 "Use Kudos Sets to help source talent"
## User Story
As a funder/recruiter looking for talent, I'd like a quick glance to understand what the Kudos in a person's profile equates to.

## Why
Sometimes it's hard to parse through all the Kudos on a user's profile.

## What
Idea 2: What if we create collectable sets of Kudos
that equal different certification on the Gitcoin platform? We make it easy for people finding workers to understand

[2019-04-29 15:11] owocki commented on #4304
i love this idea!

[2019-04-29 16:35] owocki commented on #4087
you can use this method

[code]

to sync any profile from github, organization or not!

[2019-04-29 16:45] owocki commented on #4267
@e18r sounds good to me.  1.5 ETH is fine

[2019-04-29 16:47] e18r commented on #4267
@owocki Great, so how should we proceed? Are you going to create a ticket in Gitcoin, or should we do this informally?

[2019-04-29 17:02] owocki commented on #4267
@e18r i can create a bounty if you want.  i'm happy to just 🤝 agreement on the 1.5 ETH in exchange for the migration / management command too.

[2019-04-29 17:12] e18r commented on #4267
Let's create the bounty, please. That way it counts towards my reputation.

Management command? What do you mean?

[2019-04-29 17:22] owocki commented on #4267
google `django management command`.

creating a bounty now

[2019-04-29 18:10] PixelantDesign opened #4305 "Build Front End - Filter - User Discoverability Tool"
As a funder I'd like the ability to filter by various criteria so that I can find the right contributors to work on my bounty.

**Definition of Done**

Build Front End of Filters:

- [ ] Front display to Bounties Completed - range
- [ ] Front end display to Leaderboard Rank  - range
- [ ] Get code reviewed prior to PR Merge

Do This later
- [ ] Front end display to Skills make it drop down select

[2019-04-29 19:36] PixelantDesign opened #4306 "Consolidated Contributor Applications Email"
### User Story

As a Funder, I'd like to consolidated emails after the first email has been sent to me after I've been notified of a funder application on my bounty.

### Definition of Done
Email summary to funders summary of who has applied - combined vs 1 at a time…..

Show leaderboard rank

- 1st contributor
- You now have two contributors
- You now have three contributors

Stop sending emails

[2019-04-29 20:14] e18r commented on #4267
@owocki @thelostone-mc how can I import grant data to test with? Is this command what I want?

    docker-compose exec web python3 app/manage.py sync_geth rinkeby -20 99999999999

[2019-04-29 20:17] owocki commented on #4267
hmmm.. that only will import bounties test data unfortunately.

i know that the engineers @danlipert etc are working on providing fixtures.  for now the best way is to probably create a grant on your local using rinkeby and go to the admin / update the grant.created_on date to be before the deploy date

[2019-04-29 21:42] owocki commented on #4300
this is a good idea!  cc @alexvotofuture  @ceresstation to comment on how much customer demand there is for these features

[2019-04-29 22:15] owocki opened #4308 "As a bounty hunter, i want the opportunity to tell the system when bounties are not relevant to me, so I dont tune out the new bounty emails"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a bounty hunter, i want the opportunity to tell the system when bounties are not relevant to me, so I dont tune out the new bounty emails

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2019-04-29 22:16] owocki commented on #4308
@danlipert @thelostone-mc @PixelantDesign i wrote this after our planning session today.

[2019-04-29 22:21] owocki opened #4309 "As a user who isn't always sure how to use Gitcoin or who has found a bug, I want a super prominent "HELP" button available."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user who isn't always sure how to use Gitcoin or who has found a bug, I want a super prominent "HELP" button available.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Sum

[2019-04-29 22:22] owocki opened #4310 "Migrate the help center at gitcoin.co/help to wordpress."
This is a task to track the cleanup and migration of the help center at gitcoin.co/help to wordpress.

# Stuff to migrate
- gitcoin.co/help
- Repo maintainer guide
- Developer guide
- Case Studies doc
- Tutorials
- FAQ
- help articles here https://github.com/gitcoinco/gitcoinco/issues?q=is%3Aissue+is%3Aopen+label%3Ahelp

[2019-04-29 22:51] ceresstation commented on #4309
I think this would be super helpful, I don't think I've heard of anyone using the help button perhaps largely because it's so hidden. Is the content on the help page up to date by the way?

[2019-04-29 23:06] owocki commented on #4248
https://github.com/gitcoinco/web/pull/4312 does this in a barebones way

[2019-04-29 23:23] owocki opened #4313 "As a user browsing https://gitcoin.co/labs , I want to see all of the priced services that Gitcoin Labs offers, so I can know how to get the most out of Labs."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user browsing https://gitcoin.co/labs , I want to see all of the priced services that Gitcoin Labs offers, so I can know how to get the most out of Labs.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happe

[2019-04-29 23:28] #3197 closed

[2019-04-29 23:32] owocki opened #4314 "Root Fix -- Kudos does not appear in profile"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
Kudos does not appear in profile when you fill out an airdrop link ( gitcoin.co/kudos/redeem/_secret_code_

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
0. Create an airdrop link in admin > bulk redemption code
1. Open up two browser windows and take both of them to the bulk redemption code's

[2019-04-29 23:35] owocki opened #4315 "bug - 'fund issue' button on gitcoin.co/new is always greyed out"
**Describe the bug**

bug - 'fund issue' button on gitcoin.co/new is always greyed out on submit

**To Reproduce**

1. go to gitcoin.co/new
2. fill out the form
3. the 'fund issue' button stays greyed out.

**Expected behavior**

3. the fund issue button should not be greyed out as soon as validation passes

**Screenshots**

http://bits.owocki.com/cac7582eba71/Image%202019-04-29%20at%205.33.45%20P

[2019-04-30 00:24] owocki commented on #4083
here's a starting point for this https://github.com/gitcoinco/web/pull/4316

[2019-04-30 09:47] kuhnchris opened #4318 "(bounty) if the reserved person applies for the bounty, it's free to grab for everyone"
**Describe the bug**
After trying to take a look at https://github.com/b-mueller/sabre/issues/52 it was resevered for someone 1 or 2 days ago.
He applied for the bounty just now, and as he did I was able to "Express interest" e.a. grab the bounty.

**To Reproduce**
Not sure, neet to reproduce myself first, but I guess: Create bounty with reservation, have the reserved person apply, have someone el

[2019-04-30 09:57] kuhnchris commented on #4318
Follow-up: this may has something to do with the reservation being dropped after 3 days.

[2019-04-30 12:11] PixelantDesign opened #4321 "Marketing - Update Links on Contributor Landing Pages"
Add the links to contributor pages in this paragraph "There are open issues in our Issues Explorer for all Python, JavaScript, Rust, Go, Solidity, Node.js, and many more developers. "

https://gitcoin.co/bounties/contributor/

[2019-04-30 12:16] PixelantDesign opened #4322 "Add User Directory to Top Nav"
Collaborative Task
UX & Build Surface User Directory in Top Nav

[2019-04-30 12:26] kuhnchris commented on #4310
You sure you want to migrate to wordpress?
Seems like a huge overhead for dev docs.
I can actually suggest https://www.dokuwiki.org/dokuwiki which uses Markdown mostly, but if you want we can do a wordpress migration. (except this ticket is just for yourself to check off things)

[2019-04-30 12:39] kuhnchris commented on #4321
You mean links to the filtered search results?

[2019-04-30 12:41] kuhnchris commented on #4322
So... basically a reskinned Leaderboard without restrictions and a sorting by A-Z?

[2019-04-30 12:42] kuhnchris commented on #4313
Will the Typeform be provided to us or is creating those part of the task?

[2019-04-30 12:44] kuhnchris commented on #4305
Any ways for the user to signalify that he wants to receive mails like that in his settings?
Else I see people abusing it...
Else I'm up for it. Shall this be a extra menu point for funders or something separate alltogether in it's own menu?

[2019-04-30 12:45] kuhnchris commented on #4303
Maybe integrate Kudos into some other apps or things so they gain secondary values? Like card games or other ETH/ERC related collectables?
Also, maybe making interacting with them easier, so people can trade them, show them, evalute them, etc.

[2019-04-30 12:47] kuhnchris commented on #4301
So basically extending the "profile" into it's own application where we can add loads of other references?

[2019-04-30 12:49] kuhnchris commented on #4292
Also this kind of depends on what @danlipert wants - the test system usually is bound to the Rinkeby test net. What we could do is that we use the already delivered geth localnet, deploy our contracts there and sync couple of older "live" bounties there and pack it up.
Or do you just want to have the django dataset/migrations prefilled?

[2019-04-30 12:50] kuhnchris commented on #4306
Well, how do you want to consolidate this?
- Time-wise? (as in, sent every hour)
- Topic-wise? (just all approval requireds, all new contriubtion, ...)
- User-wise? (User X applied for a b c, User Y applied for d a c)

[2019-04-30 12:58] PixelantDesign opened #4323 "User Directory QA Ticket"
- [ ] We need a no results found on user directory search -
@octavioamu Is there any text we can include now?
"You searched xyz, No Results were found." Alisa to write ticket for full design.
- [ ] can we find a permanent home for show filters (so it doesn't jump)? @willsputra what do you think?
- [ ] Why does no results button show hwen this happens? i clicked it an my filter left rail all dissap

[2019-04-30 14:12] owocki commented on #4154
by 'neutral ground' i meant that pages that are gitcoin-wide like 'products' ‘mission’ and ‘about’ should be on gitcoin logo / nav territory, not "bounties" territory.  i actually just made this change last night on master.

[2019-04-30 14:13] #4154 closed

[2019-04-30 14:22] owocki commented on #4323
- wonky CSS on wider monitors (seems like the filters should be smaller relative to the user directory) http://bits.owocki.com/b5dbfa3b52de/Image%202019-04-30%20at%208.18.44%20AM.png
- everyone has 0 star ratings.  is that correct?
- show filters should be come 'hide filters' when its clicked and visa versa.
- there isn't a 'no results found' page. its just blank
- no results for anything 5+ bount

[2019-04-30 14:30] owocki commented on #4323
- can we have a 'loading' indicator when fetching from the API?  just in case the API gets slow in some circumstances...

[2019-04-30 14:38] owocki commented on #4323
- how do i get the 'invite useres to bounty' modal?  i dont see it at all ([except in the screenshot @PixelantDesign opsted here](http://bits.owocki.com/cd7efa71ce6d/Image%202019-04-30%20at%208.37.58%20AM.png))

[2019-04-30 14:56] thelostone-mc commented on #4106
Only frontend -> https://github.com/gitcoinco/web/pull/4324

#### TODO:

- wire in subminer
- double check that the right values are picked up while invoking the subminer
- integrating subminer would happen in the same PR when blue squad takes that up

cc @danlipert

[2019-04-30 14:56] #4106 closed

[2019-04-30 15:45] frankchen07 opened #4326 "As a Gitcoin operator, wire up the Grants fee frontend to the backend."
### User Story

As a Gitcoin operator, wire up the Grants fee frontend to the backend.

### Why Is this Needed

Revenue experiment, frontend needs to be wired to the backend for this to work.

### Description

finished relayer fee + security (recurring): https://github.com/gitcoinco/web/issues/4107 (needs @frankchen07 input)
finished splitter contract (one-time): https://github.com/gitcoinco/web/i