[2018-09-27 08:13] ArwaLokhandwala commented on #2247
Can I work on this Bug if no one else is currently working on it?

[2018-09-27 08:35] PixelantDesign commented on #2158
looking good!

[2018-09-27 09:00] PixelantDesign commented on #2272
@thelostone-mc

So currently *work started* consists of *contributors who want to work on an issue* and *contributors who have actually started work*.

The thinking is that if we broke out *Express Interest* from actual *work started* then it would be *clearer* where work has actually started because interested contributors will know what they can apply to work on.

For issues that don’t need appr

[2018-09-27 09:07] PixelantDesign commented on #2269
100% yes, lets tackle when we update the nav next week.

[2018-09-27 09:11] PixelantDesign commented on #1770
@saptaks was this part of tge recent profile work?

[2018-09-27 09:12] PixelantDesign commented on #1770
@chiptus we have some other work if you’re interested!

[2018-09-27 09:15] SaptakS commented on #1770
@PixelantDesign Yes. This is already handled [here](https://github.com/gitcoinco/web/pull/2237)

[2018-09-27 09:16] PixelantDesign commented on #1770
thanks! closing!

[2018-09-27 09:16] #1770 closed

[2018-09-27 09:19] #1884 closed

[2018-09-27 09:19] #1883 closed

[2018-09-27 09:20] #1875 closed

[2018-09-27 09:21] #1882 closed

[2018-09-27 09:28] #1431 closed

[2018-09-27 09:31] #1871 closed

[2018-09-27 09:32] #1858 closed

[2018-09-27 09:33] #1373 closed

[2018-09-27 09:34] #1621 closed

[2018-09-27 09:37] PixelantDesign commented on #2042
@willsputra any ideas here?

[2018-09-27 09:41] #1624 closed

[2018-09-27 09:41] #1142 closed

[2018-09-27 09:41] #1109 closed

[2018-09-27 09:44] #778 closed

[2018-09-27 09:45] #682 closed

[2018-09-27 10:21] willsputra commented on #2042
pop up sounds good! I like how CryptoKitties does it 🤩

<img width="764" alt="screenshot 2018-09-27 18 13 53" src="https://user-images.githubusercontent.com/19514207/46139754-f7dfa900-c281-11e8-8005-fa610daa5739.png">

[2018-09-27 14:50] willsputra commented on #2042
Ours could look like this:

![metamaskpopup](https://user-images.githubusercontent.com/19514207/46154430-b7932180-c2a7-11e8-8e73-817e06643098.jpg)

[2018-09-27 17:19] #1177 closed

[2018-09-27 17:59] #1976 closed

[2018-09-27 22:09] captnseagraves opened #2285 "Implement Frontend - "Thank you for supporting 'grant x' email"
### User Story

As a Grant Supporter, I want to receive an email when I begin funding a grant so that I know my transaction went through and where to find more information.

### Why Is this Needed

The "Thank you for supporting "grant X" email is needed to that users can be sure that their subscription transaction went through, they can confirm the amount they're are giving and on what time interv

[2018-09-27 22:10] #2082 closed

[2018-09-27 22:19] captnseagraves opened #2286 "Implement Frontend - "New Supporter" Email"
### User Story

As a Grant Creator, I want to know when a user has begun support of my project so that I know when more money is being contributed.

### Why Is this Needed

The "New Supporter" email is needed because grant creators need to know when they have more money coming and so can plan for their plan.

### Description

*Type*: Feature

### Definition of Done

- [ ] Email uses the template.h

[2018-09-27 22:19] #2083 closed

[2018-09-27 22:28] captnseagraves opened #2287 "Implement Frontend - "Support Ended" Email"
### User Story

As a Grant Supporter, I want to have confirmation that my subscription has been canceled so that I can live peacefully knowing I'm not getting charged for something I no longer want to pay for.

### Why Is this Needed

The "Support Ended" Email is needed so the grant supporters have confirmation that their subscription has been canceled.

### Description

*Type*: Feature

### Defin

[2018-09-27 22:28] #2085 closed

[2018-09-27 22:32] captnseagraves opened #2288 "Implement Frontend - "New Grant" Email"
**IF YOU CANNOT COMPLETE THIS BOUNTY BY EOD 9/31 PLEASE DO NOT START WORK ON THIS BOUNTY!**

THIS BOUNTY HAS BEEN RESERVED FOR @excalliburbd

### User Story

As a Grant Creator, I want to know that my grant has been created so that I can share out the links and attract supporters.

### Why Is this Needed

The "New Grant" Email is needed to that grant creator can have confirmation that their grant

[2018-09-27 22:33] #2084 closed

[2018-09-27 22:35] captnseagraves opened #2289 "Implement Frontend - "Update Notification" Email"
**IF YOU CANNOT COMPLETE THIS BOUNTY BY EOD 9/31 PLEASE DO NOT START WORK ON THIS BOUNTY!**

### User Story

As a Grant Supporter, I want to know when updates for grants I support are posted so I can stay up to date with what is happening and feel good about how my money is being spent.

### Why Is this Needed

The "Update Notification" Email is needed because grants supporters should know when th

[2018-09-27 22:36] #2088 closed

[2018-09-27 22:39] captnseagraves opened #2290 "Implement Frontend - "Grant Cancellation" Email"
### User Story

As a Grant Creator, I want to have confirmation that I have ended my grant so that I know there will be no more monetary transactions and nothing more expected of me from the community.

### Why Is this Needed

The "Grant Ended" Email is needed because a grant creator needs to know that their project has officially stopped seeking funding from the community and does not have an obl

[2018-09-27 22:41] captnseagraves commented on #2089
Will the circle easily be changed to red though css or is this a static asset?

[2018-09-27 22:44] captnseagraves commented on #2090
Should we make the circle in this one read? I believe we already have an asset that is red?

[2018-09-27 22:48] captnseagraves opened #2291 "Implement Frontend - "Subscription Terminated" Email"
### User Story

As a Grant Supporter, I want to know when a grant creator has ended a grant and that my subscription payments have been canceled so that I am aware that the project is no longer seeking funding from the community and I will no longer be charged.

### Why Is this Needed

The "Subscription Terminated" Email is needed so that grant supporters know when their subscriptions have been te

[2018-09-27 22:49] #1926 closed

[2018-09-27 22:50] captnseagraves commented on #2205
@PixelantDesign @Justpixel  Has there been any movement on this? Is one of you able/willing to complete this work?

[2018-09-27 22:51] captnseagraves commented on #2206
@PixelantDesign @justpixel Has there been any movement on this? Is one of you able/willing to complete this work?

[2018-09-27 22:52] captnseagraves commented on #2024
There are some finer details that this page needs but will be broken out into smaller issues. Closing.

[2018-09-27 22:52] #2024 closed

[2018-09-27 22:52] captnseagraves commented on #2020
There are some finer details that this page needs but will be broken out into smaller issues. Closing.

[2018-09-27 22:53] captnseagraves commented on #2023
There are some finer details that this page needs but will be broken out into smaller issues. Closing.

[2018-09-27 22:53] #2023 closed

[2018-09-27 22:53] #2020 closed, assigned to mbeacom, captnseagraves

[2018-09-27 22:54] #1908 closed

[2018-09-27 22:56] #1905 closed

[2018-09-27 22:56] #1910 closed

[2018-09-27 22:57] #1890 closed

[2018-09-27 23:02] captnseagraves commented on #1889
@octavioamu @eswarasai  We probably dont need a new design for this, but should add pagination in implementation. Also, the "Browse Grants" button should be a "Create Grant" button. I think you brought this up in the last team call octavio. I what you were asking now!

[2018-09-27 23:05] captnseagraves commented on #1960
@eswara I believe you have the implementatoin of this page assigned. Instead of a "Withdraw Funds" button, can we have a "Transaction Summary" page?

[2018-09-27 23:05] #1960 closed

[2018-09-28 03:25] montanaflynn opened #2292 "Worker status on issue page shows as Worker Applied even after accepted"
**Describe the bug**
I applied for an issue, got an accepted email but on the issue page it still shows "Worker Applied" under the "All Activity" section.

**To Reproduce**
Log in, apply for an issue, wait until your accepted, view the issue page.

**Expected behavior**
The activity to change or a new activity item to show up as Worker Approved.

**Screenshots**
<img width="1205" alt="screen shot

[2018-09-28 09:00] PumpkingWok commented on #1964
Hi @owocki,
Metamask just released a new version, adding back `ethereum` object.
I'm back to this issue, thanks.

[2018-09-28 11:57] thelostone-mc commented on #2273
@Anish-Agnihotri Just hide the

- email
- gitcoin profile

[2018-09-28 13:34] PixelantDesign commented on #2242
Updated per discussions with team
<img width="872" alt="screen shot 2018-09-28 at 9 32 36 am" src="https://user-images.githubusercontent.com/238235/46211519-b68ede00-c301-11e8-8502-fe2b29203591.png">

[2018-09-28 13:59] PixelantDesign opened #2294 "Advanced Pay Fix - Default to Bountied Amount for Payment, Add Guidance on Overage"
### User Story

As a funder I'd like the advanced pay feature to be more intuitive and provide guidance on where funds are coming from.

### Description

Update the build so that:
- All funds come from the bountied amount.
- When overage is detected, an alert message notifies the user of the difference and where the funds will be paid from. This is not meant to be an error, but more of a warning.

[2018-09-28 15:49] willsputra commented on #2277
Worker Approved then.

![worker applied](https://user-images.githubusercontent.com/19514207/46219082-f9d86380-c378-11e8-98c0-213d7b51b721.jpg)

Sketch file here: https://drive.google.com/open?id=1p5xO52ZbE44wjZD7VOkW2Ibh-B1Uo16B

@PixelantDesign should I design the rejected workers email as well?

[2018-09-28 16:30] PixelantDesign opened #2297 "Design a Refer a Friend Experience for Gitcoin"
**Not Ready to Be Worked On**

### User Story

As a user of Gitcoin, I'd like to be able to tell others about Gitcoin and invite them to join a great open source developer community through social media.

### Why Is this Needed

We'd like to grow the number of contributors on the Gitcoin platform.

### Description

Design an online virality experience to grow the Gitcoin community.

Ideas:
**Refer

[2018-09-28 17:14] captnseagraves commented on #2287
@excalliburbd I have discussed with another user about doing this work, this why I have rejected your claim. Perhaps we can work together in the future!

[2018-09-28 17:34] PixelantDesign commented on #2277
@willsputra Sure! That would be awesome!
Email template should be on the creative repo!

[2018-09-28 17:37] PixelantDesign commented on #627
Cool thanks for the feedback @frankchen07 ! Closing this issue then!

[2018-09-28 17:37] #627 closed

[2018-09-28 17:41] PixelantDesign commented on #2090
Yes makes sense! @justpixel

[2018-09-28 17:47] mbeacom commented on #2269
I would say so...  Realistically, we should have `1` base template with *all* minimal reqs that are used on all pages and extend it everywhere (or at least extend it in other templates meant to be extended for use with other common deps) except email templates xD

[2018-09-28 17:48] PixelantDesign commented on #2042
That's cool @willsputra I like this direction.
Could we add an X to close in the upper right?

I also like how crypto kitty does the kitty wallpaper on their browser background in the dialog...could we do something fun like that?

[2018-09-28 17:51] excalliburbd commented on #2287
@captnseagraves that's unfortunate but I totally understand. Loving Gitcoin hope I can contribute soon.

[2018-09-28 17:52] PixelantDesign commented on #2277
@vs77bb let's make a new ticket for the Build Bounty?

[2018-09-28 17:54] #2242 closed

[2018-09-28 19:03] aashutoshrathi opened #2299 "Adding Gitcoin bot to your repo link broken"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
README link at https://github.com/gitcoinco/web#adding-gitcoinbot-to-your-repo doesn't work

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Documentation is an importa

[2018-09-28 21:29] PixelantDesign commented on #2299
Thanks for reporting this @aashutoshrathi! Are you interested in helping us fix it? Happy to tip for helping!

[2018-09-28 21:51] captnseagraves commented on #2288
@excalliburbd The team discussed and are opening the email bounties to other devs. I am reserving this one for you since you got booted from the other one earlier today.

[2018-09-28 22:14] captnseagraves opened #2300 "Posted Bounty did not import test from Github"
**Describe the bug**
Posted Bounty did not import test from Github

**To Reproduce**
Post another bounty?

**Expected behavior**
Github should import text from github issue into the bounty page

**Screenshots**
<img width="924" alt="screen shot 2018-09-28 at 3 59 15 pm" src="https://user-images.githubusercontent.com/22862292/46235819-5156df00-c339-11e8-9d9e-660d22b84507.png">

**Desktop (please co

[2018-09-28 22:15] limonte opened #2301 "Rounding of prices is working in different ways for "Bounties in progress" and "Started X bounties" sections"
Bounty: https://gitcoin.co/issue/gitcoinco/web/2287/1290 (bounty price `0.175 ETH`)

![image](https://user-images.githubusercontent.com/6059356/46235821-c3084a80-c384-11e8-8c3d-0896634b5c71.png)

**Expected behavior**
I don't think that rounding prices is a good idea, the bounty price is `0.175 ETH` so it would be perfect to have exactly the same instead of highlighted rounded prices on the screen

[2018-09-29 01:56] excalliburbd commented on #2288
@captnseagraves that's awesome. Thanks.

[2018-09-29 03:36] Anish-Agnihotri commented on #2273
Sure, that sounds good. I'll make a PR and include those changes sometime tomorrow morning.

[2018-09-29 04:13] aashutoshrathi commented on #2299
Sure @PixelantDesign

[2018-09-29 14:27] mbeacom opened #2305 "get_amount endpoint raising 404"
**Describe the bug**

The `/sync/get_amount` endpoint is currently raising a 404 on the new funder form page.

**To Reproduce**
Visit https://gitcoin.co/new

**Expected behavior**

`/sync/get_amount` should be returning a 200 with the appropriate amount.

[2018-09-29 16:19] willsputra commented on #2042
Here's the latest popup design! @thelostone-mc @PixelantDesign
![metamaskpopup](https://user-images.githubusercontent.com/19514207/46248020-46d63b80-c446-11e8-98b4-aab9f33c5711.jpg)

Sketch file: https://drive.google.com/open?id=1XZltilrWk5iI1rZ3RFc2coTzXYx9UAkI

[2018-09-29 18:29] #2305 closed

[2018-09-29 18:52] oogetyboogety commented on #2204
@vs77bb Almost complete, should be wrapped up tonight, the only thing left to do is to write a migration script for `BountyFulfulfillment` model which fills a new field I added to the model that represents whether there is a closed status on the bounty's issue. It then fills a new field I added to the model that represents whether there is a pull request with a merged status for the issue.

[2018-09-29 18:59] oogetyboogety commented on #2204
making myself a note to add them to `/app/dashboard/helpers.py` as well

[2018-09-29 19:11] oogetyboogety commented on #2204
@vs77bb Should be wrapped up tonight

[2018-09-29 23:49] john-light opened #2307 ""stop work" button has the same copy on the popup box as the "start work" button"
**Describe the bug**
The "stop work" button has the same copy on the popup box as the "start work" button.

**To Reproduce**
Start a task. Then hover over the "stop work" button.

**Expected behavior**
Different copy that matches the "stop work" behavior.

**Screenshots**

![gitcoin-stopwork](https://user-images.githubusercontent.com/9424721/46251438-7c0f6900-c407-11e8-821f-f8918c324628.png)

[2018-09-30 00:53] Anish-Agnihotri commented on #2285
This page has been completed [here](https://github.com/Anish-Agnihotri/Gitcoin-Emails/blob/master/Templates/thank_you_for_supporting.html). I've temporarily staged the files in another repository till I can make one PR containing the complete changes for multiple emails.

It follows all the requirements, and is 100% responsive. Here is an image of the live HTML:

![Image](https://i.imgur.com/KdVI1

[2018-09-30 00:55] Anish-Agnihotri commented on #2286
This page has been completed [here](https://github.com/Anish-Agnihotri/Gitcoin-Emails/blob/master/Templates/new_supporter.html). I've temporarily staged the files in another repository till I can make one PR containing the complete changes for multiple emails.

It follows all the requirements, and is 100% responsive. Here is an image of the live HTML:

![Image](https://i.imgur.com/sbLMGSa.png)

Al

[2018-09-30 00:56] john-light opened #2308 ""submit work" button is greyed out"
**Describe the bug**
I am attempting to submit work to claim a bounty and the button is greyed out and doesn't do anything when I click it.

**To Reproduce**
Start work on an issue. Then try to submit work to claim the bounty. Notice the "submit work" button is greyed out.

Additional detail about this case: I also funded the bounty in question. I do have MetaMask unlocked and loaded with enough e

[2018-09-30 03:44] unclebean commented on #2212
Hi just pick up this task & there is the plan to implement this feature:

* base.js - add one function to read related params from URI and then store in cookie
* dashboard/models.py - **post_login()/post_logout()** - read **utm_medum**, **utm_source**, **utm_campaign** from cookie and store in DB.

only one drawback which is we have to maintain 3 constant values in py & js.

Please let me know whe

[2018-09-30 17:59] Anish-Agnihotri commented on #2287
Just finished up this page [here](https://github.com/Anish-Agnihotri/Gitcoin-Emails/blob/master/Templates/support_cancellation.html). I'll be staging all my completed emails and pushing in one PR soon.

Here is the live html example:
![Image](https://i.imgur.com/45FWof1.png)

Thanks, Anish.

[2018-09-30 18:16] Anish-Agnihotri commented on #2291
This has been completed [here](https://github.com/Anish-Agnihotri/Gitcoin-Emails/blob/master/Templates/subscription_terminated.html). As mentioned previously, a single PR will be staged including all necessary files.

Example image of Live HTML:
![Image](https://i.imgur.com/acDdhZk.png)

Thanks, Anish.

[2018-09-30 18:16] excalliburbd commented on #2288
@captnseagraves submitted a pull request that I hope is a modest attempt at this
Not sure if I should press "submit work" over at the bounty page or wait for reviews
Please let me know if I missed something

[2018-09-30 20:08] #2010 closed

[2018-09-30 20:11] thelostone-mc commented on #2125
@usmanmuhd still having trouble with docker?

[2018-09-30 20:16] thelostone-mc commented on #2042
Yo @willsputra  :D

UX question to you and @PixelantDesign  :

- Which all pages do we show this &  upon what interaction does this modal appear ?
- This means we'd end up retiring the metamask alert (orange strip) on the submit / create bounty page. Am I right @PixelantDesign

<img width="1440" alt="screen shot 2018-10-01 at 1 44 59 am" src="https://user-images.githubusercontent.com/5358146/46262

[2018-09-30 20:55] thelostone-mc commented on #1663
@owocki we are good to payout @marnibrewster for #2262

[2018-10-01 00:55] usmanmuhd commented on #2125
@thelostone-mc It is resolved. I am figuring out ways to know in the back end, the ways to differentiate between a basic payout and advanced payout.

[2018-10-01 04:05] oogetyboogety commented on #2204
@vs77bb Working on review of Part I with team. Will start on review of Part II with team tomorrow.

[2018-10-01 04:57] oogetyboogety commented on #2204
@vs77bb Working on review of Part I with team. Will start on review of Part II with team tomorrow.

[2018-10-01 09:04] pinkiebell commented on #2164
@gitcoinbot 👏

[2018-10-01 09:49] thelostone-mc commented on #2308
Hey @john-light so looks like you are the funder of the bounty.
We don't allow the funder to submit work -> Ideally we should disable `Start Work` for the funder too to prevent them for starting work funded on their own bounty

If you wanna get back the funds of your bounty -> you'll have to cancel the bounty

[2018-10-01 14:19] #2308 closed

[2018-10-01 16:33] PixelantDesign commented on #2215
@thelostone-mc @mbeacom ^

[2018-10-01 16:34] PixelantDesign commented on #2215
@usmanmuhd this ticket is just to add the tooltip.

[2018-10-01 17:30] captnseagraves opened #2316 ""Worker Approved" firing everytime I visit a Gitcoin Bounty Page"
**Describe the bug**
"Worker Approved"  is firing everytime I visit a Gitcoin Bounty Page.

https://gitcoin.co/issue/gitcoinco/web/2287/1290?mutate_worker_action=approve&worker=limonte
https://gitcoin.co/issue/gitcoinco/web/2286/1289?mutate_worker_action=approve&worker=Anish-Agnihotri

**To Reproduce**
Visit this url: https://gitcoin.co/issue/gitcoinco/web/2286/1289?mutate_worker_action=approve&wo

[2018-10-01 17:50] owocki commented on #2316
Looks like the URL you are going to is the worker approve URL.  https://gitcoin.co/issue/gitcoinco/web/2286/1289 is the bounty URL

My only worry about making it so that it doesnt show the approval message every time the user goes to the approve URL, is that sometimes users click that URL after approval has alrdy happened, and their reaction is "why isnt it doing anything now? is it broken?"

[2018-10-01 18:17] owocki opened #2317 "bug - gitcoinbot did not comment on this issue when bounty was opened"
bug - gitcoinbot did not comment on this issue when bounty was opened

https://gitcoin.co/issue/ethereum/EIPs/1442/1267

[2018-10-01 23:07] pmaojo commented on #2158
Finally, while my mockup represented a disabled field, I wanted to edit the less code possible and its working all the same with the new math operations. https://github.com/gitcoinco/web/pull/2224

[2018-10-02 00:12] owocki opened #2320 "improve the efficicacy of the 'new bountys that match your skillset' emails"
its interesting that while we have 10k email subscribers, we only send 3k ‘new bountie s that match your skillset’ emails

if we could close that gap, and send that daily email more often, we could perhaps capture much more engagement / retention

i havent written up a script to figure out why theres only 3k sent.. but im assuming its because we dont know the keywords that most of the users are in

[2018-10-02 00:14] owocki commented on #2320
[code]

just what i thought!

[2018-10-02 00:19] owocki commented on #2320
i wonder if we could approximate the right keywords by pulling them from github

[code]

[2018-10-02 00:33] PixelantDesign commented on #2320
I wonder if it would be too much to receive a daily email.

or send a link to just the one screen in the ftux to capture their skills and interest.

I also like this approach if we can get this info from Github.

[2018-10-02 01:01] PixelantDesign commented on #1528
Great! Looking forward to seeing the PR @Anish-Agnihotri!

[2018-10-02 01:20] owocki commented on #2320
1c29525a08965a5e839f39d3dc55d8390605fb52 should help with this.. ill make a note to check on the data later in the week

[2018-10-02 02:40] owocki commented on #2271
yes this sounds good!

just commented on that PR

[2018-10-02 02:50] owocki commented on #1964
great!

[2018-10-02 03:08] Anish-Agnihotri commented on #2150
Is this a reproduce-able issue? Seems to be working for me in `production` and on the current `master` branch. If it is, I'd be glad to take a look at it, but I can't seem to invoke the problem on my end.

[2018-10-02 04:57] thelostone-mc commented on #2215
@usmanmuhd The tooltip + address can be left to me as discussed offline  :)
I've got a PR open for it at https://github.com/gitcoinco/web/pull/2296

[2018-10-02 06:30] frankchen07 commented on #2320
Do we also want to make the distinct between emails that are potentially funders and emails that are potential contributors? I guess if all they've done is signed up, then they could go either way too.

[2018-10-02 08:40] evgeniuz commented on #2150
Was able to reproduce issue and found it's probable cause: it's because only background color is updated in `localStorage` where avatar builder takes colors from. Apart from skin tone issue also affects hair and clothing color. Will fix it shortly and submit PR.

[2018-10-02 11:16] evgeniuz commented on #2150
The issue was that parsing colour from avatar element path was splitting with `'.'` and that was breaking on production, as domain also contains dots (as opposed to `localhost`). Fixed this by taking split part from other end.

[2018-10-02 13:06] usmanmuhd commented on #2215
@PixelantDesign Will be sending in a PR by tomorrow (out of town currently, sorry for inconvenience).
@thelostone-mc Sure, thanks!

[2018-10-02 13:12] pmaojo commented on #2158
@frankchen07 @vs77bb  ➡️ #2224

I am trying to submit work but transactions seem to get lost. I configured more gas than recommended but still not working, nothing on etherscan.

[2018-10-02 13:42] usmanmuhd commented on #2215
@thelostone-mc @PixelantDesign I can't get the advanced payout option itself.
![gitcoin-err](https://user-images.githubusercontent.com/26684281/46352311-19bc9f80-c677-11e8-8d5d-f9effa7b31bf.png)

[2018-10-02 14:05] chiptus commented on #194
anyone working on it? I started creating something, seems like a big issue, but will have a try

[2018-10-02 15:47] owocki opened #2323 "don't send new_bounties_email to funders"
don't send new_bounties_email to funders -- what the title says :)

funders == anyone who has funded more bounties than they've worked on.
unknowns -- havent done either

[2018-10-02 15:52] frankchen07 commented on #2158
@pmaojo - what gas price did you use?

[2018-10-02 16:06] captnseagraves commented on #2288
Awesome! Thanks @excalliburbd! I have accepted the pull request. Can you press the submit work button on Gitcoin.co? I cannot payout the bounty until you've done so.

[2018-10-02 16:37] oogetyboogety commented on #1528
Hey @Anish-Agnihotri,
Just let me know if you have any questions on this. I'm available on the Gitcoin slack. I had trouble finding the time to finish this bounty once I started what I thought would be the correct implementation. So check out the PR I made and the review comments from the team and let me know what you think. I've been working other bounties, sorry @PixelantDesign for the issues wi

[2018-10-02 16:55] captnseagraves opened #2324 "Desktop Miner integration"
### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We need a miner to listen for metatx and to submit them onchain when appropriate time comes

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Work with Austin Griffith to import his

[2018-10-02 17:06] eswarasai commented on #2026
@captnseagraves -- So as per the design here -- https://github.com/gitcoinco/web/issues/1960#issuecomment-413856482, there are 4 tabs for the Updates section which are categorised. Can you let me know the Backend Model for this so that I can implement the same on the Frontend to display the data accordingly.

Also, there's pagination for the Updates section. Should we implement infinite scroll her

[2018-10-02 17:21] captnseagraves opened #2325 "Design "User Transaction History" View"
### User Story

As a Grants User, I want to be able to view my transaction history so I know when I have contributed to what grants

### Why Is this Needed
The User Transaction History view is needed so that users can see when they have spent money and track their contributions.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any

[2018-10-02 17:26] captnseagraves opened #2327 "Design "Admin Transaction History" View"
### User Story

As a Grants Admin, I want to be able to view my grant's transaction history so I know when I have received contributions and from whom.

### Why Is this Needed
The Admin Transaction History view is needed so that a grant admin can see when they have received contributions and from whom.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition o

[2018-10-02 17:46] captnseagraves opened #2328 "Integrate Email templates with data"
### User Story

As a Grants User I want all my email to be populated with relevant information so that I know what is happening with grants that I support or that I am an administrator of.

### Definition of Done
 - [ ] All emails are populated with relevant information via grants/views.py

### Additional Information

- Current emails are populated via "def" in dashboard/views.py, which then calls

[2018-10-02 17:46] captnseagraves commented on #2328
Assigning @Anish-agnihotri

[2018-10-02 17:55] mbeacom opened #2329 "Start work rejected emails have bad URI"
**Describe the bug**

The `start_work_rejected.html` email template has a bad URL reference:
`<a class="button" href="https://gitcon.co/explorer">{% trans "Issue Explorer" %}</a>`

This is a primary example of why we should be using `{% url "some_path" %}` everywhere.

**To Reproduce**
Check any `start work rejected` email and/or check the `start_work_rejected.html` email template.

**Expected beh

[2018-10-02 18:38] #2329 closed

[2018-10-02 19:12] pmaojo commented on #2158
Last time about $2

[2018-10-02 19:30] excalliburbd commented on #2288
@captnseagraves it looks like I'll need some Eth to cover the gas price. Sent a faucet request. I'll submit once I get enough Eth!

[2018-10-02 19:40] owocki commented on #2325
@PixelantDesign @justpixel could we get a quick rev on the transaction history view on the grants project?  looks like we missed this initially, and providing a transaction history for the grant is a pretty important functionality to have.

[2018-10-02 19:42] owocki commented on #2325
i think this one is the most important of the transaction history tickets that seagraves just created..

[2018-10-02 19:48] evgeniuz commented on #2150
@pmaojo, the issue is already fixed in https://github.com/gitcoinco/web/pull/2321.

[2018-10-02 20:03] pmaojo commented on #2150
thanks @evgeniuz

[2018-10-02 20:42] owocki commented on #2150
thanks for the fix @evgeniuz  -- @pmaojo sorry for the bounty miscommunity.. i didnt realize that @evgeniuz was already on it.

[2018-10-02 21:15] vs77bb commented on #2158
@pmaojo You'll have to make sure your **first** transaction gets through... that might be holding up all other tx's you're trying to make. Can you increase the gas price on the oldest transaction you have?

[2018-10-02 21:55] marciogurka commented on #2289
Hey @captnseagraves or @PixelantDesign, can anyone confirm if this remains as an open issue?? I just received a notification in gitcoin about it, but it has the _cancelled_ status right now...

[2018-10-02 22:33] #2150 closed

[2018-10-03 03:23] owocki opened #2332 "as a user who has lost my tip, i want a deeplinked, public, tip page so i can find my tip"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user who has lost my tip, i want a deeplinked, public, tip page so i can find my tip

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
users don't always know where

[2018-10-03 03:54] owocki commented on #2150
@evgeniuz its working ... thanks! can you submit work so i can payout

[2018-10-03 04:01] owocki commented on #1550
plus one!

[2018-10-03 04:02] owocki commented on #1550
some ideas:
- burning man inspired outfits
- robes
- space sci fi inspired stuff like [this](https://i.pinimg.com/236x/28/0d/53/280d5361074b7c47a61618fb2ca78e84--mace-windu-star-wars-jedi.jpg)

[2018-10-03 04:02] owocki commented on #1663
anyone else wanna contribute a few more :)

[2018-10-03 04:07] #1663 closed

[2018-10-03 04:10] owocki opened #2333 "New Avatar Assets -- October 2018 Edition"
### User Story

As a user, I want to new avatar assets to show off and express myself digitally.

### Description

*Type*:  New implementation

### Definition of Done

- [ ] Create an .svg asset and place it in `app/assets/v2/images/avatar/<category>`
- [ ] Add the SVG asset as a `.txt` Django template in `app/avatar/templates/<category>/<item|index>.txt` with variable fill.
- [ ] Add your asset t

[2018-10-03 07:18] #2164 closed

[2018-10-03 11:38] pmaojo commented on #2158
@vs77bb seems like one was sent https://etherscan.io/tx/0x961ae6f7b0d62e49883a6c7a3289a9ff15c457595d6c055cc40c81e7eadd0ec1

[2018-10-03 11:39] #2077 closed

[2018-10-03 11:49] PixelantDesign commented on #2325
Yep will do

[2018-10-03 12:57] justpixel commented on #2325
![transcation history](https://user-images.githubusercontent.com/7627020/46411666-108a0c00-c725-11e8-9b7f-5fd5d1a24b8c.png)

[2018-10-03 13:49] PixelantDesign commented on #2244
Please see comment on https://github.com/mbeacom/gitcoin-erc721/issues/134

[2018-10-03 13:50] PixelantDesign commented on #2112
See comment on https://github.com/mbeacom/gitcoin-erc721/issues/134

[2018-10-03 15:32] jasonrhaas opened #2335 "Local testing with IPFS does not work from browser"
**Describe the bug**
We have a local version of IPFS in a docker container for local testing.  If works fine from the `web` docker container if you set the .env file to these values:

[code]

With these settings, the `web` container can access the `ipfs` container just fine.  However, when trying to access IPFS from the localhost browser, it does not work.  There are a couple problems:

- Javascri

[2018-10-03 18:20] mbeacom commented on #2335
@jasonrhaas Can you just set `IPFS_HOST` to `localhost` ?

[2018-10-03 18:27] mbeacom commented on #2335
@jasonrhaas Whenever you get a minute, feel free to check out #2336

[2018-10-03 18:35] mbeacom commented on #1840
Resolved in https://github.com/gitcoinco/web/pull/2237

[2018-10-03 18:35] #1840 closed

[2018-10-03 18:40] willsputra commented on #2050
Here's a draft for notifications:

![notifications](https://user-images.githubusercontent.com/19514207/46431461-7656b200-c77e-11e8-86f2-18bd85c90af6.gif)

higher-res jpg:

![notifications](https://user-images.githubusercontent.com/19514207/46431484-879fbe80-c77e-11e8-8431-36c611c4bde5.jpg)

thoughts? 🙂

[2018-10-03 18:40] ajayns commented on #1663
Is this closed now? I've had a couple ideas but didn't exactly get the time to work on them :/

[2018-10-03 18:48] owocki commented on #1663
@ajayns i'm still happy to pay them out.  just closing the issue here and opening a new one at https://github.com/gitcoinco/web/issues/2333 for cleanliness (note the updated pricing though!  we are prioritizing clothing)

[2018-10-03 18:48] owocki commented on #2333
@writeprovidence hey again!  lets see what u got

[2018-10-03 18:51] PixelantDesign commented on #2050
Very exciting @willsputra!

If I've read a notification and acted upon it, my instinct is, it should not show in the list of 5 (in the drop down). Cleans it up so that only the newest show. Thoughts?

Adding the list of potential notifications we discussed:

**For Funders**

- You have workers to approve on this issue.
- Your bounty hunters haven't responded on this issue in a few days.
- Remove t

[2018-10-03 19:20] jasonrhaas opened #2339 "Upgrade web3 python package to latest version"
### User Story

As I user and developer, I would like to take advantage of the latest feature of the python web3 library.

### Why Is this Needed

Currently we are on `web3==4.0.0b10`.  The latest version introduces a lot of bug fixes and some features like Event Filters that could be very useful to us in new projects.

Latest version is here -- https://github.com/ethereum/web3.py/releases/tag/v4.

[2018-10-03 20:41] #2213 closed

[2018-10-03 21:13] owocki opened #2340 "usability problem on the new profile - its hard to read the activities"
https://gitcoin.co/profile/iamonuwa

it's very hard to read the action in these activity entries

<img width="901" alt="screen shot 2018-10-03 at 3 12 54 pm" src="https://user-images.githubusercontent.com/513929/46439841-d3bb1680-c71e-11e8-85cd-63c3d449131f.png">

i think the 'action' taken should be much more prominent on each of these entries

[2018-10-03 21:13] owocki commented on #2340
cc @PixelantDesign

[2018-10-03 21:14] owocki opened #2341 "new profile -- 'None' on tips received view"
screenshot: http://bits.owocki.com/a49e84588973/Screen%20Shot%202018-10-03%20at%203.13.59%20PM.png
https://gitcoin.co/profile/iamonuwa

this should be handled more gracefully

[2018-10-03 21:29] mbeacom opened #2342 "Upgrade to django 2.1.2"
Django<=2.1.1 security exploit - Need to upgrade to 2.1.2.
https://nvd.nist.gov/vuln/detail/CVE-2018-16984

[2018-10-03 21:29] #2342 closed

[2018-10-03 21:54] owocki commented on #2325
@justpixel this looks good but matches the old profile... i wonder if we should adhere to the new profile design ( gitcoin.co/profile/owocki )

[2018-10-03 22:21] owocki commented on #194
no one is working on it no.  still think its a good idea, but we've got a few branches in progress so i worry about the merge conflicts

[2018-10-03 22:39] owocki commented on #2212
@unclebean this usually happens when its a user that's been added via the admin.

youll need to do a third party integration with github ( https://docs.gitcoin.co/mk_third_party_integrations/ ) and login via github to create a profile

[2018-10-04 01:42] owocki commented on #2324
cc @austingriffith

[2018-10-04 04:41] gianni-dalerta commented on #2333
![jack-o-lantern-gianni](https://user-images.githubusercontent.com/770459/46453084-7ef2bc80-c76d-11e8-8640-36340ca14f3a.jpg)

Here is the idea. I believe i have everything set to go, but dont want to hit that commit button, gonna get a buddy to look over my shoulder tomorrow.

[2018-10-04 10:58] pmaojo commented on #2158
I found that Metamask extension Chrome is not working for me, but Firefox does.

[2018-10-04 13:09] PixelantDesign commented on #2340
Agree! This mirrors the explorer right now. We will need to determine if the display should mirror each other for the profile use case and the explorer use case.

[2018-10-04 13:51] vs77bb commented on #1855
Q&A with @saketbairoliya2 on Slack copied here for posterity.

From Saket:

In `dashboard.bounty_details` what are we supposed to show/hide for a bounty created from Bounty Request? I'm keeping top part(ref image attached), what about Description, Contributors, All Activity, Funder? Should we hide them all or show a message for empty entries keeping headers as it is?

Further on click of Fund issu

[2018-10-04 14:01] PixelantDesign opened #2347 "Profile Enhancement - Bounties in Progress"
Per feedback from @PumpkingWok

<img width="411" alt="screen shot 2018-10-04 at 10 01 45 am" src="https://user-images.githubusercontent.com/238235/46479205-8f7e5380-c7bc-11e8-8ab6-cb18fce4340e.png">

### **User Story**
As a user viewing another user's profile, I'd like to be able to see another users bounties in progress.

As me (contributor or funder), I would like to be able to see my current bo

[2018-10-04 14:03] PixelantDesign commented on #2347
@willsputra

[2018-10-04 15:13] willsputra commented on #2050
@PixelantDesign makes sense! what happens if you have so many unread messages though? maybe we could put a scrollbar to prevent it from becoming too tall?

![screenshot 2018-10-04 23 11 26](https://user-images.githubusercontent.com/19514207/46483722-e15dc280-c82a-11e8-9744-7bae662136ad.png)

[2018-10-04 15:54] frankchen07 commented on #2158
^ @pmaojo - hm that's interesting about the Metamask extension.

Can you provide a video of the new front-end changes, and your interactions with them? You can use Quicktime to capture your desktop. If you're unable to do this, then screenshots are okay, but ideally a video would be helpful :)

This will help us see:

1. The new layout.
2. What happens when we first enter in a USD amount, and what

[2018-10-04 15:54] captnseagraves commented on #2021
@eswara Checking in on this. If you have any progress can you submit a WIP PR?

[2018-10-04 16:09] willsputra commented on #2050
@PixelantDesign @owocki draft for mobile. thoughts?

![home_mobile](https://user-images.githubusercontent.com/19514207/46487325-4f59b800-c832-11e8-9769-70a1c70de009.jpg)

![notifications_mobile](https://user-images.githubusercontent.com/19514207/46487326-4f59b800-c832-11e8-8397-b9547b1a7e76.jpg)

[2018-10-04 16:50] owocki commented on #2026
per the call today... @eswarasai is going to be able to work on this weekend.  cc @thelostone-mc who is also working on grants details

[2018-10-04 16:54] owocki opened #2350 "grants -- put up a 'this is in alpha, dont put a lot of $$$ in it yet' warning"
grants -- put up a 'this is in alpha, dont put a lot of $$$ in it yet' warning on the grants contributor page

[2018-10-04 16:54] owocki commented on #2350
per @captnseagraves suggestion in the call today

[2018-10-04 17:13] captnseagraves opened #2351 "Implement "Approve" Page Frontend"
### User Story

As a Grants Supporter, I want to be able to "approve" a limit of erc20 tokens that the contracts can move so I can control the flow of token to my subscription.

### Why Is this Needed

The Approve view is needed so that a grant supporter can turn on or off the flow of tokens to a grant.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition

[2018-10-04 17:31] PixelantDesign opened #2352 "Advanced Payout - Default Names for Users Working On the Project"
### User Story

As a funder, I want Gitcoin to be smart and know who I should pay out when I use the advance pay feature.
To know more about check [here](https://gitcoin.co/how/funder#payment)

##### Steps :

-  locally set up the app
- Login as funder `/new` and create a new [co-op bounty](https://gitcoin.co/how/funder#project-types)
- Login as contributor  -> navigate to bounty -> Click on `star

[2018-10-04 18:06] PixelantDesign opened #2353 "Basic Payout - Break Out Notification from Payout Button"
### User Story

As a contributor, I want notifications to be clear at the end of the action button.

### Why Is this Needed

Notifications messages are embeded in the action button.

### Description

This task is to break out the notification from the payout button.

### Definition of Done

- [ ] Remove the line about the button being disabled and put this information in a notification. See curren

[2018-10-04 18:16] PixelantDesign opened #2354 "Basic Payout - Implement Display of User Icon and Address"
### User Story

As a funder, I'd like to see a recognizable icon and wallet address of the contributor that I'm making a payment to.

### Definition of Done

- [ ] Review how advanced payout handles displaying a user icon and wallet address.
- [ ] Implement just the display of the user's icon and wallet address. In the basic payout instance we will not need the typedown functionality.

### Reviewe

[2018-10-04 18:21] PixelantDesign commented on #2219
@thelostone-mc could you outline what is left to do on this ticket or open a new ticket so that we can bounty the remainder?

[2018-10-04 18:21] PixelantDesign commented on #2240
This looks good to me @thelostone-mc lets merge!

[2018-10-04 18:29] PixelantDesign commented on #2247
Sure @ArwaLokhandwala please propose something!

[2018-10-04 19:32] pmaojo commented on #2158
@frankchen07 of course. I'll record that video

[2018-10-04 21:29] owocki opened #2355 "DESIGN - as a funder, i want a grant quickstart page, so i know how to make my grant successsful"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want a grant quickstart page, so i know how to make my grant successsful

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Grant evaluation process is up

[2018-10-04 21:36] owocki commented on #1991
@aerophile hows it going?  is this still an active thing for you.. no worries if not; we can always cancel the bounty

[2018-10-04 23:47] jschiarizzi commented on #2261
@wonderwomancode do you have any update?

[2018-10-05 04:07] excalliburbd commented on #2288
@captnseagraves any updates?

[2018-10-05 05:05] oogetyboogety commented on #2204
@thelostone-mc @SaptakS @owocki - actually let's use the latest pull request for this one

[2018-10-05 05:05] oogetyboogety commented on #2204
will post videos tomorrow

[2018-10-05 05:34] thelostone-mc commented on #2280
@excalliburbd Awesome ! You'll probably just have to add `g-font-muli` to the page rendered with the muli font ^_^

[2018-10-05 06:01] PixelantDesign commented on #2042
Hmmm...I'm not sure if belongs in a modal....from what you mentioned @thelostone-mc users at Eth India didn't know that they needed to unlock metamask. Maybe we show this screen and the orange banner together. Until users unlock it....thoughts? Can we see what this looks like @willsputra ?

[2018-10-05 06:16] excalliburbd commented on #2280
@thelostone-mc Adding that to the body tag seems to fix it. I noticed the same issue in the /missions page too. I'll up a PR

[2018-10-05 08:28] aerophile commented on #1991
@owocki Yes definitely active, just a bit behind. Will get back with the update

[2018-10-05 11:01] #2215 closed

[2018-10-05 11:01] thelostone-mc commented on #2215
@owocki we are good for payout :)

[2018-10-05 13:29] octavioamu commented on #2223
Closing as this was added

[2018-10-05 13:33] octavioamu commented on #2019
I unassigned myself from this one, I believe is a good start point maybe @thelostone-mc want to take it.
Also I think who take this one should do the index pagination too, mostly the same request without the owner id I believe

[2018-10-05 13:40] octavioamu commented on #2025
Pagination needed, related to #1889

[2018-10-05 13:41] #2223 closed

[2018-10-05 14:40] willsputra commented on #2347
@PixelantDesign @owocki  some proposed changes:
1. Add Bounties In Progress tab
2. We could borrow the 'Work Started', 'Work Submitted' etc. tags from the Funder Dashboard so that the activity entries are clearer (this would solve #2340 )
3. Shouldn’t the pictures show the repo logos, not the funder avatars?

![profile](https://user-images.githubusercontent.com/19514207/46541664-37943980-c8ef-11e8

[2018-10-05 16:19] Anish-Agnihotri commented on #1528
@oogetyboogety

Thanks a bunch! I'll take a look over the PR that you made and be sure to ask any questions if I have them.

@PixelantDesign

Working on #2294 as a priority right now, and will jump over to this once that has been completed.

[2018-10-05 18:20] writeprovidence commented on #2333
![Uploading avatar-01.png…]()
Hello @owocki pls check this out

[2018-10-05 18:27] owocki commented on #2333
@writeprovidence looks like the upload didnt work.

@gianni-dalerta thanks for letting us know.. we're upgrading web3py and should have a fix in for the double-submissions shortly after that

[2018-10-05 19:17] PixelantDesign opened #2362 "Update Tips with Updated Auto Complete"
### User Story

Take what @thelostone-mc did on #2240 and implement it into the tips flow.

### Why Is this Needed

We want funders to understand where their bounty funds are going.

Display associated wallet address:
<img width="242" alt="screen shot 2018-10-05 at 3 16 03 pm" src="https://user-images.githubusercontent.com/238235/46555540-a94d9280-c8b1-11e8-896a-baf941da18ce.png">

Display secure

[2018-10-05 19:22] mbeacom opened #2363 "Don't report bounty killed activity for bulk payouts"
### User Story

As a funder, I want to distribute funds with bulk payout without `killed_bounty` (Canceled Bounty)  activity appearing in my activity feed.

### Why Is this Needed

If a funder uses the bulk payout option to distribute funds, we initiate a bounty cancellation against the standard bounties contract to allow original funds to be released for refund to the funder.  We need to intellig

[2018-10-05 21:01] owocki opened #2366 "i'd like the 'where is my eth going' modal to show up on gitcoin.co/tips"
i'd like the 'where is my eth going' modal to show up on gitcoin.co/tips

where it is now:

<img width="1894" alt="screen shot 2018-10-05 at 1 59 26 pm" src="https://user-images.githubusercontent.com/513929/46560047-2293b800-c8a7-11e8-96bf-35460fc8ea89.png">

where it should be added:

<img width="753" alt="screen shot 2018-10-05 at 2 00 03 pm" src="https://user-images.githubusercontent.com/513929

[2018-10-05 21:03] owocki commented on #2366
@usmanmuhd any interest in this

[2018-10-05 21:04] owocki opened #2367 "bug - padding on /explorer and bounty"
was the padding on these pages changed intentionally?

<img width="666" alt="screen shot 2018-10-05 at 1 57 39 pm" src="https://user-images.githubusercontent.com/513929/46560166-92a23e00-c8a7-11e8-8129-820470103564.png">
<img width="1905" alt="screen shot 2018-10-05 at 1 57 58 pm" src="https://user-images.githubusercontent.com/513929/46560167-933ad480-c8a7-11e8-8db2-8e6f1625e009.png">

looked much

[2018-10-05 21:08] owocki commented on #2367
https://github.com/gitcoinco/web/commit/14bda0d9b166dab73b75920826e02b340c6eec1e#diff-dd9b7cab0b87148c241a07260636478dL42

[2018-10-05 21:19] owocki commented on #2347
@willsputra @PixelantDesign this LGTM... can i bounty it?

[2018-10-05 21:59] #2147 closed

[2018-10-05 22:39] owocki commented on #2320
this is a good idea.. we can add many tags to each email

[2018-10-05 22:50] owocki commented on #2333
@writeprovidence neato -- can you submit a PR and link it here pls?

[2018-10-05 23:39] writeprovidence commented on #2333
@owocki ok i will do that, just wanted you to take a view at it here before send a PR.

[2018-10-06 00:46] usmanmuhd commented on #2366
Sure, i'll be doing this.

[2018-10-06 04:59] aashutoshrathi commented on #2147
@mbeacom bounty?

[2018-10-06 08:06] willsputra commented on #2042
@PixelantDesign showing both the orange banner and modal would look like this

![metamask](https://user-images.githubusercontent.com/19514207/46569033-b1750300-c981-11e8-9836-2ddecab2d947.jpg)

[2018-10-06 14:13] PixelantDesign commented on #2347
@willsputra looks good!

@owocki makes sense to bounty maybe in a clean ticket...pending feedback from @thelostone-mc @mbeacom -- Any technical guidance to provide here since the project status has been implemented on the funder form but that functionality hasn't been merged?

[2018-10-06 21:59] owocki opened #2369 "migrate gitcoin from web3js 0.2 to 1.0"
the objective of this ticket its to migrate gitcoin from web3js 0.2 to 1.0

i've started a base branch at https://github.com/gitcoinco/web/commit/13bc312dd50b587197932bb7bc8c053b974d68f1 which you can use.

success criteria:
* repo is upgraded to web3js 1.0
* all references to web3.eth.coinbase updated
* BOUNTIES: a funder can post a new bounty
* BOUNTIES: user can fulfill a bounty
* BOUNTIES: fun

[2018-10-06 22:00] #2369 closed

[2018-10-06 22:01] owocki opened #2370 "migrate gitcoin from web3js 0.2 to 1.0"
the objective of this ticket its to migrate gitcoin from web3js 0.2 to 1.0

i've started a base branch at https://github.com/gitcoinco/web/commit/13bc312dd50b587197932bb7bc8c053b974d68f1 which you can use.

success criteria:
* repo is upgraded to web3js 1.0
* all references to web3.eth.coinbase updated
* BOUNTIES: a funder can post a new bounty
* BOUNTIES: user can fulfill a bounty
* BOUNTIES: fun

[2018-10-07 13:07] chiptus commented on #194
I'll start.
What do you think about separating it to PR based on modules? I can start with folders that are less worked on. I started the work on on `app/dashboard/templates/bounty` so I'll finish that. Each module will have its own `baseof.html` template. than the parent module can have a `baseof` template that all other modules will extend.

Does that sound good?

[2018-10-07 14:33] #2280 closed

[2018-10-07 16:15] frankchen07 commented on #2280
@excalliburbd - thanks for picking up this issue! :) I hadn't even set up a bounty for it yet, so I've sent you a Gitcoin tip for your work!

Also thanks to @thelostone-mc for doing code reviews and covering the engineering gap :)

[2018-10-07 16:58] thelostone-mc commented on #2219
What's left to do is simply integrating when the email should be triggered ^_^

[2018-10-07 16:59] thelostone-mc commented on #2240
Closing this out as it has been merged at https://github.com/gitcoinco/web/pull/2296

[2018-10-07 16:59] #2240 closed

[2018-10-07 17:05] thelostone-mc commented on #2362
Ah I ended up throwing it after talking with @owocki  😓  Did not know we had this out for hacktoberfest

https://github.com/gitcoinco/web/pull/2372

[2018-10-07 17:11] thelostone-mc commented on #2347
@PixelantDesign @willsputra  that looks good to me ^_^ 👍

[2018-10-08 02:58] owocki commented on #2333
@writeprovidence it looks good.. i just want to make sure we get it merged soon since its only a few weeks to haloween

[2018-10-08 03:58] owocki opened #2375 "Profile Enhancements"
Please add the following changes to the gitcoin profiles

1. Add Bounties In Progress tab
2. We could borrow the 'Work Started', 'Work Submitted' etc. tags from the Funder Dashboard so that the activity entries are clearer (this would solve #2340 )
3. the pictures should show the repo logos, not the funder avatars

![profile](https://user-images.githubusercontent.com/19514207/46541664-37943980-c8e

[2018-10-08 03:58] owocki commented on #2347
https://github.com/gitcoinco/web/issues/2375

[2018-10-08 03:58] #2347 closed

[2018-10-08 04:01] owocki commented on #2362
i'm so so so happy with this.. thanks for the design / coding to both of you

[2018-10-08 06:56] ibrahim45 commented on #2273
@thelostone-mc Shall I work on this?

[2018-10-08 10:45] thelostone-mc commented on #194
@chiptus Yeah I'd be okay with that ! 👍
Smal PRs -> easier to review and less buggy

[2018-10-08 14:44] #2366 closed

[2018-10-08 15:02] #2362 closed

[2018-10-08 15:37] owocki opened #2379 "Fix performance problems with assemble_leaderboards"
Previous discussion here: https://github.com/gitcoinco/web/pull/2091/files#r212628357

After [this PR](https://github.com/gitcoinco/web/pull/2268) went in, the performance of `./manage.py assemble_leaderboards` went way down.  This is because of the new `tip_to_location()` functionality.

In order to fix this, I believe we will need to refactor the way locations are tracked and stored in the DB.

[2018-10-08 17:18] davidkaufman commented on #1156
Well this bug struck again in a particularly awful way this week, this time in the form of the email blast that went out on 10/4 to all of us wannabe Gitcoin contributors with the lightning-bolted subject line:

  ⚡️ 7 New Open Funded Issues worth $12088.23 matching your profile

Sadly, the bulk of that admirable and exciting ten-grand-plus funding total was completely bogus, wrt to the words “New

[2018-10-08 17:31] owocki commented on #2333
@gianni-dalerta @Dgilliams yay thanks!

[2018-10-08 17:35] owocki opened #2380 "bug - advanced payout"
:red_circle: advanced payout does not work anymore

http://bits.owocki.com/198b84bc1be6/Screen%20Shot%202018-10-08%20at%2011.34.33%20AM.png

- the payout preview does not show the transaction previews
- it errors out as if theres no transactions to payout, even though there are

did we really not test this before shipping it?

[2018-10-08 17:38] owocki commented on #2333
word i just paid out

[2018-10-08 17:58] #440 closed

[2018-10-08 17:58] owocki opened #2381 "new profile is slow -- optimize the new profile"
[code]

the above prettymuch says it all :)

this ticket is to optimize the loading of the profile.  success criteria: it should not take more than 0.5s to load this page.

some ideas:
- for users with lots of activity, cache activity feed items and warm them up via `./manage.py warm_cache`
- paginate the activity feed
- performance profile the view and figure out something else

[2018-10-08 17:59] #528 closed

[2018-10-08 17:59] PixelantDesign commented on #502
@thelostone-mc closing this one!

[2018-10-08 17:59] #502 closed

[2018-10-08 17:59] #426 closed

[2018-10-08 18:00] #507 closed

[2018-10-08 18:00] #499 closed

[2018-10-08 18:20] Cygnusfear opened #2382 "Activity timeline visible at a glance for bounty hunters"
### User Story

As a bounty hunter, I want the activity timeline to be on the search page and the fold of the issue page to see at a glance if I can contribute to the issue.

### Why Is this Needed

The Activity timeline is the most accurate representation of information available on an issue. It has somehow been placed at the bottom of the page. Other details on the fold issue do not clearly desc

[2018-10-08 18:32] owocki commented on #2382
thanks for the idea and especially for the mockup!

[2018-10-08 18:41] Cygnusfear commented on #2382
Thanks! Appreciate it, if you put out a bounty I might even consider building it myself 😉

[2018-10-08 18:43] owocki commented on #2382
i want to see what @PixelantDesign thinks first but its a possiblity :)

[2018-10-08 19:56] ajayns commented on #2333
Hey there! Been busy, but I found this work to be super fun so back and hopefully would be contributing some assets :)

Any ideas on things you guys would like in the builder? Currently, I've got ideas for a Mohawk hairstyle (for the rebels) and also a helmet accessory (for motorcycle enthusiasts)

[2018-10-08 20:01] PixelantDesign commented on #2037
@thelostone-mc could you review please?

[2018-10-08 21:18] owocki commented on #2333
@ajayns i love both ideas!  there are a few more over at https://github.com/gitcoinco/web/issues/1550 too

[2018-10-08 21:43] Anish-Agnihotri commented on #2273
Hey @ibrahim45,

I've been busy working with some other high priority issues here and there so haven't gotten a chance to jump onto this. If you'd like, feel free to take over :).

Anish

[2018-10-08 22:21] #2380 closed

[2018-10-09 02:37] owocki opened #2388 "as a user, i want a 'sync this bounty' button, because sometimes i suspect gitcoin is not in sync with blockchain"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want a 'sync this bounty' button, because sometimes i suspect gitcoin is not in sync with blockchain

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
we ge

[2018-10-09 02:38] owocki commented on #2388
@PixelantDesign feedback on this?

[2018-10-09 06:05] GatteJyoti commented on #2273
@ibrahim45 are you solve this issue or shall i work on this?

[2018-10-09 06:47] ibrahim45 commented on #2273
Thank you

On Tue, Oct 9, 2018 at 11:35 AM GatteJyoti <notifications@github.com> wrote:

--
Regards,
Ibrahim.k

[2018-10-09 07:02] sunilveera commented on #2354
Can i work on this issue

[2018-10-09 08:07] ajayns commented on #1550
Any examples to illustrate what exactly you mean by 'burning man inspired outfits'?

[2018-10-09 08:32] ajayns commented on #2333
A couple of ideas explored on the Mohawk! Let me know what you like :)

![screenshot from 2018-10-09 14-00-30](https://user-images.githubusercontent.com/20743219/46656551-f2f8ee80-cbcb-11e8-8e0e-1b9dcad12cef.png)
![screenshot from 2018-10-09 14-00-40](https://user-images.githubusercontent.com/20743219/46656552-f2f8ee80-cbcb-11e8-80a9-b2dbd1eb19bc.png)

[2018-10-09 09:38] ajayns commented on #2333
![screenshot from 2018-10-09 15-07-58](https://user-images.githubusercontent.com/20743219/46660667-27bd7380-cbd5-11e8-9f43-ec197de7e89d.png)

Another idea that came to me as I worked on the suit, how about a bit of hacker vibes here!

[2018-10-09 10:10] ajayns commented on #2333
Okay that took the last of my free time, here's the cowboy hat you were asking for: (maybe I could work on the color better though)

![screenshot from 2018-10-09 15-39-37](https://user-images.githubusercontent.com/20743219/46662665-a6b4ab00-cbd9-11e8-8b1a-929b7d6d7957.png)

[2018-10-09 11:03] PixelantDesign opened #2390 "Experiment Ways to Highlight Features on the Issue Explorer"
### User Story

As a funder with a new bounty, I'd like a way to callout the issue that I've just posted so I can turn the project around using the best talent on Gitcoin.

Funders expect some interest on their github pages within the first 12-24 hrs and tasks to be picked up soon after that.

### Definition of Done

- [ ] Mockup 3 different ways to solve for the above.
- [ ] Create a high level f

[2018-10-09 13:48] PixelantDesign commented on #2050
@mbeacom @thelostone-mc @SaptakS will one of you guys review and provide any tech guidance before we bounty this?

[2018-10-09 13:56] PixelantDesign commented on #2354
Sure @sunilveera
cc: @thelostone-mc to provide technical guidance.

[2018-10-09 14:15] NullFlex commented on #2381
Let me know if this isn't finished soon / you run into errors, I can do this.

[2018-10-09 14:29] PixelantDesign commented on #2388
Makes sense! My question is, if a user clicks, how fast will this happen, do we need to message that it might take a bit?

[2018-10-09 14:35] willsputra commented on #2069
@ceresstation @PixelantDesign @thelostone-mc here's a draft! thoughts? :)

![pricing](https://user-images.githubusercontent.com/19514207/46676579-6b36d280-cc13-11e8-90a7-39dbd0fb5a3e.jpg)

[2018-10-09 14:36] owocki opened #2394 "as a user, i want gitcoin to run sync_listener on their own RPC node, so they don't have to rely on infura, and bounties sync immediately"
as a user, i want gitcoin to run sync_listener on their own RPC node, so they don't have to rely on infura, and bounties sync immediately

how bounties sync:

- in theory, immediately, as long as infura doesnt break
- we do a pass on the last 200 bounties every hour
- we do a pass on ALL bounties once a day

‘fix it twice’ for the ‘wheres my bounty?’ question is here => https://github.com/gitcoinc

[2018-10-09 14:36] owocki commented on #2388
@PixelantDesign it should be within 1 - 4 seconds, but sometimes more if infura is acting up.  we should have a loading indicator while the request is happening.

fix it twice for infura thing => https://github.com/gitcoinco/web/issues/2394

[2018-10-09 14:37] mbeacom commented on #2394
It's probably worth evaluating the TCO of this move to running our own nodes.

[2018-10-09 15:50] owocki commented on #2370
@usmanmuhd are you working on this?  any updates?

[2018-10-09 17:19] captnseagraves commented on #2026
1. @eswarasai there is not currently a model for the milestones or updates. @mbeacom I know you said you are working on models, would it be best if you handled this, or should I?

2. I think moving toward consistency is a good thing, but also know that the team discussed using pagination on the grants/index page. I see how infinite scroll might work better here though. @PixelantDesign do you have

[2018-10-09 17:44] willsputra commented on #2247
@mbeacom @PixelantDesign here's what I propose:

We could inform that the user has not participated in any bounty, while also directing whoever visits the profile page somewhere so they don't get lost/stuck.

I think some of the reasons people visit the profile page are:
- a contributor visits his/her own profile page to check on his/her progress and achievements
- a funder visits someone’s profil

[2018-10-09 20:57] owocki commented on #1550
@ajayns

for women:
http://conversationsabouther.net/wp-content/uploads/2017/09/20-marekmusil-burningman_faces.jpg
http://bits.owocki.com/3c1512c442e3/Screen%20Shot%202018-10-09%20at%202.56.28%20PM.png
https://i.pinimg.com/originals/97/64/5a/97645a94084c71751045ba5fb2f37f20.jpg

for men:
http://bits.owocki.com/d9e8e1da3eca/Screen%20Shot%202018-10-09%20at%202.56.49%20PM.png
http://bits.owocki.com/d

[2018-10-09 20:59] owocki commented on #2333
@ajayns i like the 2nd mohawk... and the guy faukes maask and the suit and the hat!.

want to PR them up!!?

here are some exxamples PRs
https://github.com/gitcoinco/web/pull/2400
https://github.com/gitcoinco/web/pull/2401

[2018-10-09 21:13] owocki commented on #2050
i feel like it's fairly straight forward.. it should just be a new app named 'inbox' with one model `Notification` that has the following fields

- pk
- created_on
- to_user_id
- from_user_id
- CTA_URL
- CTA_Text
- message_html
- is_read (bool)

we will likely also want an easy helper function that can be used to create new `Notification`s

[2018-10-09 22:40] owocki opened #2402 "frontend onhover animation for grants logo"
as a user who appreciates attention to detail, i want to have the same experience of the gitcoin logo lighting up, when i visit grants and hover over the logo.

main site:

![screen recording 2018-10-09 at 04 35 pm](https://user-images.githubusercontent.com/513929/46702726-783ace00-cbe1-11e8-9c2e-f3ff09c0d6b6.gif)

grants assets: http://bits.owocki.com/7ff08c3c4cb5/Grants-white.gif
http://bits.owo

[2018-10-09 22:41] owocki commented on #2402
this one should be easy i hoep

[2018-10-10 02:11] willsputra commented on #2069
tagging @owocki too. lemme know if you have any feedback :)

[2018-10-10 03:05] PixelantDesign opened #2403 "Explore UX Bounty Syncing with the Blockchain"
When funding an issue, sometimes the bounty doesn't properly sync on the blockchain but the etherscan transactions goes through.

There are a number of possible ideas floating around:

1) [Add a sync with blockchain button.](https://github.com/gitcoinco/web/issues/2403)
2) On page load - auto sync for the user, and display a message to set expectation that the page is resending with the blockchain

[2018-10-10 03:40] PixelantDesign opened #2404 "Build Front-End of Notifications for Gitcoin"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently we email community members on things they need to act upon but there isn't a central place on Gitcoin that us

[2018-10-10 03:42] PixelantDesign commented on #2219
@thelostone-mc could you write up the tech specs so  I can bounty?

[2018-10-10 03:52] PixelantDesign commented on #2050
Closing this one and moving to a clean ticket #2404

[2018-10-10 03:52] #2050 closed

[2018-10-10 06:40] frankchen07 commented on #2212
@unclebean - I've snoozed Gitcoin bot for you and pinged a reviewer to take a look at your PR.

[2018-10-10 07:01] ajayns commented on #2333
Haha you like them all? I'm glad! :)
I'll try to get this done as soon as possible and let you know. Also, thanks for the reference PRs @owocki

[2018-10-10 07:13] ajayns commented on #2333
Also, mind if I wrap all of them up into one PR? It'd ease the review work for you guys as well.

[2018-10-10 07:56] timborden commented on #2026
@captnseagraves - I'm focusing on the implementation. Having said that, I've not seen designs for that flow, so have done some work in that area as well. I'm hoping that they're be some design feedback on the PR I've put up, so that the Milestones flow matches the flow in the rest of the application.

[2018-10-10 09:57] anshumanv opened #2406 "UI: Unaligned buttons on bounty page"
**Describe the bug**
The buttons don't seem to be aligned horizontally, I'm not sure if this is intentional, please close this ticket in case it is.

**To Reproduce**
Visit - https://gitcoin.co/issue/aragon/aragon-cli/135/1266

**Expected behavior**
Buttons to be aligned horizontally

**Screenshots**
![gc_buttons](https://user-images.githubusercontent.com/21009455/46728549-b4813380-cca0-11e8-8cf0-

[2018-10-10 09:58] anshumanv commented on #2406
cc @owocki @vs77bb @PixelantDesign

[2018-10-10 10:30] chiptus commented on #194
Can anyone review this, just to say if it's the correct direction, so I can continue?

[2018-10-10 11:09] writeprovidence commented on #2333
![avatar-01](https://user-images.githubusercontent.com/31359701/46732358-c650df80-cc7c-11e8-8b16-1cb79aca7d92.png)
![avatar-02](https://user-images.githubusercontent.com/31359701/46732362-c6e97600-cc7c-11e8-837c-c7d455271ee3.png)
![avatar-05](https://user-images.githubusercontent.com/31359701/46732366-c7820c80-cc7c-11e8-86fc-d56f1700e272.png)
hello@owocki a couple of female ideas, what do you thin

[2018-10-10 12:58] PixelantDesign opened #2407 "Increasing Funding Not Working"
**P2 - Medium**
A feature of Gitcoin fails to follow expected behavior. The issue is not high magnitude.
Timeline to fix: 5-7 days

**Describe the bug**
Tried to crowdfund this issue:
https://gitcoin.co/issue/gitcoinco/web/2404/1415

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

1. Try to crowdfund/contribute to any issue.
2. Select Fund this Bounty
3. Try to fund - does not wor

[2018-10-10 13:07] PixelantDesign opened #2408 "Bug Priority Guide"
## **Gitcoin Bug Priority Guide**

**P0 - Critical**
This issue puts funds at risk for either a) Gitcoin funders or b) Gitcoin developers.
Timeline to fix: 24-48 hours

**P1 - High**
A feature of Gitcoin fails to follow expected behavior. The issue creates panic around a core feature on the Gitcoin platform.
Timeline to fix: 2-3 days

**P2 - Medium**
A feature of Gitcoin fails to follow expected b

[2018-10-10 13:11] PixelantDesign commented on #2269
cc: @octavioamu

[2018-10-10 13:59] mbeacom commented on #2408
Can we reevaluate the 24-48 hours for critical bugs? I'm not sure I would place much confidence in such a slow SLA for something that could potentially cause severe risk to users. 🤔

[2018-10-10 14:46] mbeacom commented on #2394
I don't think this would be a problem. We were running our own for a while, but ultimately turned it off and reverted back to Infura because we no longer saw a need for it (ENS related).  I still have our geth k8s charts and configuration files, so I could have one up relatively quickly...  I think we'd see a major performance boost with respect to sync times.

That said, we'd want to run more tha

[2018-10-10 15:12] willsputra commented on #2404
Sketch file here:
https://drive.google.com/open?id=1WaxEDtWnkX54F0T0SVSFgwx1czdFAgOd

[2018-10-10 15:55] willsputra commented on #2403
In addition to 'Sync with blockchain' button, I wonder if a 'Last sync: [timestamp]' text would help? At least the user knows that it wasn't syncing instantly.

[2018-10-10 16:09] Anish-Agnihotri commented on #2402
I'll PR this within the next hour or so.

[2018-10-10 16:18] PixelantDesign commented on #2408
Yes, open to suggestions @mbeacom (feel free to update) but also want to be realistic on the time it might take to fix and issue and properly QA.

[2018-10-10 16:28] owocki commented on #2407
are you getting any JS errors?

[2018-10-10 16:28] owocki commented on #2402
new art assets => http://bits.owocki.com/3cff00f3e2c5/Archive%202018-10-10%20at%2010.27.17%20AM.zip

[2018-10-10 16:34] owocki commented on #2407
<img width="1405" alt="screen shot 2018-10-10 at 11 26 02 am" src="https://user-images.githubusercontent.com/513929/46751523-12e5ec00-cc78-11e8-85c2-36b9a50e29fc.png">

[2018-10-10 16:38] owocki commented on #2407
@vs77bb a9c8d62a32623cb46e28f94ccccc5b9073233326 fixes this.. try now (er... in 3 minutes when the deploy is done)

[2018-10-10 16:43] PixelantDesign commented on #2404
Thanks @willsputra!

@Anish-Agnihotri to answer your question, this is a front-end ticket....pleae stub out dummy data as a placeholder to where we'd link up the BE dynamic template vars.
cc: @mbeacom

@usmanmuhd thanks for your interest! I have another ticket for you if you're interested!

[2018-10-10 16:55] owocki commented on #2333
@ajayns sounds good!

@writeprovidence those look cool!  i wonder which of those elements will fit stylistically into the avatar builder.  @PixelantDesign what do you think?  do we need to 'gitcoin avatar style-ize' them a bit?

[2018-10-10 16:57] usmanmuhd opened #2410 "Improper design of tooltip hover in tip"
The placement of tooltip hover on https://gitcoin.co/tip/send/2 is not proper.

![screenshot from 2018-10-10 22-23-04](https://user-images.githubusercontent.com/26684281/46752701-879e4200-ccdb-11e8-968a-effb5c380312.png)

- OS: Ubuntu 18.04
- Browser Chrome

cc: @thelostone-mc @owocki @PixelantDesign

[2018-10-10 17:40] Anish-Agnihotri commented on #2402
Might be missing something, but there doesn't seem to be a grants-white.svg included in those assets. Do you want me to just use the grants-black.gif as the default (non-hover) image instead?

[2018-10-10 17:58] PixelantDesign commented on #2410
Good point! Are you able to help us fix that @usmanmuhd ?

[2018-10-10 18:11] Anish-Agnihotri commented on #2402
Quick and dirty way to do this can be done via:

[code]

Where you essentially just make another if statement for the grants page, and hide the primary logo on the same page.

Should have a cleaner variant by EOD.

[2018-10-10 18:31] vs77bb commented on #2407
@owocki it worked! I did get a funny 2nd tx confirmation which a) had the 12500000 DAI thing (i know that's a 🦊 bug) but also b) defaulted to asking me for a $15 gas fee.

I manually reduced the gas to ~$1.72 fee, and it still went through... which makes me think the default was artificially really high.

[2018-10-10 18:34] #2407 closed

[2018-10-10 20:04] #2340 closed

[2018-10-10 20:44] aerophile commented on #1991
Updating on this friday. Almost done with the Graph and flyouts.

[2018-10-10 21:52] vs77bb commented on #2171
#2120 causing the above double commenting, FYI (@PixelantDesign)

[2018-10-10 21:54] vs77bb commented on #2406
@PixelantDesign @thelostone-mc Is this the intention?

[2018-10-10 22:05] vs77bb commented on #2186
@PixelantDesign Where did this one leave off? Are we bountying?

[2018-10-10 22:06] vs77bb commented on #2186
I know we have #2256 as well, wonder if we can re-use from there at all

[2018-10-10 22:07] vs77bb commented on #2050
👍

[2018-10-10 22:07] vs77bb commented on #1855
@saketbairoliya2 How is this going? Let us know when this is ready for review 👍

[2018-10-10 22:08] vs77bb commented on #1528
👍 glad to see you here, @Anish-Agnihotri!

[2018-10-10 22:10] vs77bb commented on #2204
@oogetyboogety Would love to see the videos whenever ready! Do you have an updated ETA? Travel gets crazy after Friday, so would appreciate something by then if possible 🙂

[2018-10-10 22:13] vs77bb commented on #2158
Hi @pmaojo any update on the video? Keen to see this move forward 🙂

[2018-10-10 22:43] Anish-Agnihotri commented on #1528
Thanks! Glad to be able to help @vs77bb!

Knocking out all open bounties and issues I'm on right at the moment, and this is first on the todo. I'll be pushing a WIP PR within the next day or so.

[2018-10-10 22:43] Dgilliams commented on #2333
Working on more hair options today.
Thoughts on a category/layer for neck shapes? If they overlay the clothing, they can change the neck line.

![mohawk_invert-01-01](https://user-images.githubusercontent.com/5957019/46770074-d4b1f200-cca2-11e8-9bae-7b72c6987a2a.png)
![mohawk-01](https://user-images.githubusercontent.com/5957019/46770075-d4b1f200-cca2-11e8-90f3-680940fde5ad.png)
![woman_long_hair-

[2018-10-10 22:54] owocki commented on #2333
i really like all of these hair styles.  especially the first mohawk

not completely sure the neck thing is worth it at this point...

@Dgilliams can you attach some svgs and/or PR them up so we can see what this all looks like in the avatar builder?

[2018-10-10 22:56] owocki commented on #2402
`grants-white.svg` logo should already be in the codebase on the grants branch i believe.

[2018-10-10 23:08] Anish-Agnihotri commented on #2402
I might be looking in the wrong place but I don't see a `grants-white.svg` in `app/assets/v2/images` on the `grants` branch (live link [here](https://github.com/gitcoinco/web/tree/grants/app/assets/v2/images)).

[2018-10-10 23:09] owocki commented on #2069
this looks good to me... the only thing is that 'managed' sort of assumes its > 10k since its to the right of 'pro'..

so in my mind, it still anchors the pricing mechanics > $10k..

what do you think @ceresstation ?  you submitted the original ticket

[2018-10-10 23:17] owocki commented on #2402
it might be named something else... @PixelantDesign @captnseagraves do you know or do you have a copy?

[2018-10-10 23:43] Dgilliams commented on #2333
thanks! and yep not a problem. is there a folder to upload test svgs? I want to make sure they work before having to export all the different color assets.

Has anyone made a script or know a shortcut for exporting the multiple color assets in one shot?

[2018-10-11 00:04] evgeniuz commented on #2284
I've made PR for this issue, but it might be that no requiring login was intended behavior, is this really needs to be changed?

[2018-10-11 00:54] oogetyboogety commented on #2204
@vs77bb ah yes I'll post those by tomorrow, I was struggling to get screen recorder working in Wayland so i'll start it in X and record from there

[2018-10-11 01:08] usmanmuhd commented on #2410
Will be sending in a PR soon.

[2018-10-11 01:34] Anish-Agnihotri commented on #2283
I'll be making some Sketch mockups first thing in the morning. I'm thinking of adding a CTA section to the landing page right above the existing iOS app CTA. That way, it's right at the end of the scroll section.

As always, let me know if you have any ideas, questions, or concerns and I'll try my best to reply immediately.

Thanks,

Anish

[2018-10-11 04:18] mbeacom commented on #2284
@frankchen07 This was originally intended.  We have a CTA on the funding form that requires the user to login before submitting the form.

<img width="847" alt="screenshot 2018-10-11 00 17 01" src="https://user-images.githubusercontent.com/7315957/46780497-09e23280-cceb-11e8-91a1-cb3505b0256b.png">

I can't quite remember why this was the case, but I know it was specifically implemented this way p

[2018-10-11 06:30] frankchen07 commented on #2283
hey @Anish-Agnihotri - thanks for picking up this issue!

I like the sound of path number 2 (it aligns with the way I was thinking about it). Looking forward to seeing some Sketch mockups and riffing off what you come up with!

cc @PixelantDesign

[2018-10-11 06:31] frankchen07 commented on #2282
@Anish-Agnihotri - thanks for picking up this issue! I accidentally posted it as a "approval needed" bounty (just changed it), but approved you nonetheless.

Looking forward to seeing what you come up with! cc @PixelantDesign

[2018-10-11 09:31] pmaojo commented on #2158
@frankchen07 @vs77bb I found an issue while recording the video , It looks as if there is a service to take the ethereum price that is not working when I run the docker image. I will fix it this weekend

[2018-10-11 09:32] #2410 closed

[2018-10-11 11:13] PixelantDesign commented on #2410
Thank you @usmanmuhd !

[2018-10-11 11:18] #2367 closed

[2018-10-11 11:29] PixelantDesign commented on #2206
Checking with @justpixel, will see if @willsputra has bandwidth as well.

[2018-10-11 11:38] #2406 closed

[2018-10-11 12:13] thelostone-mc commented on #2219
@PixelantDesign As discussed offline ! What's left is wiring up when the email is triggered.
That bit can be bountied out but my PR would have be merged in for that !

[2018-10-11 12:36] thelostone-mc commented on #2228
can we close this out ?

[2018-10-11 15:01] vs77bb commented on #2069
Should we replace Pro (and the associated anchoring) with some copy regarding bug bounties?

[2018-10-11 15:07] mbeacom opened #2417 "ValueError: The 'github_svg' attribute has no file associated with it."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1208/

[code]

[2018-10-11 15:08] #2417 closed

[2018-10-11 15:17] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.5](https://github.com/gitcoinco/web/releases/tag/v20180416.0.5)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-11 15:34] captnseagraves commented on #2402
I do not know where that .svg file lives :(

[2018-10-11 15:41] willsputra commented on #2206
On it. :)

@PixelantDesign @owocki @captnseagraves here's a draft! lemme know if you have any feedback.

![grant transaction email](https://user-images.githubusercontent.com/19514207/46816228-192ab400-cdaf-11e8-96e1-d4b495673470.jpg)

[2018-10-11 15:41] owocki commented on #2333
Checkout https://github.com/gitcoinco/web/pull/2400 for an example of how to add an asset to the local repository.    You can copy the directory in that PR :)

I have not, but it should be easy to do ... Just open up the asset in a text editor and change the hex color of the shirt!    this is what those entries look like

```path fill="#25E899"```

[2018-10-11 15:44] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.6](https://github.com/gitcoinco/web/releases/tag/v20180416.0.6)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-11 15:46] owocki commented on #2206
i think this looks really good.. 👍 from me!  cc @PixelantDesign @captnseagraves in case any change requests

[2018-10-11 15:49] PixelantDesign commented on #2206
Looks good to me, I've reviewed! Thanks for the quick turn around @willsputra !

[2018-10-11 15:55] PixelantDesign commented on #2333
@writeprovidence I agree could we try to match your ideas closer to the 'gitcoin avatar style-ize' them a bit? My suggestion would be to use the foundations that we've already created and modify them to fit your needs.

[2018-10-11 15:55] owocki commented on #2206
@captnseagraves do we need a "Code transaction summary email" task?  Can we link this design in there?

[2018-10-11 15:59] PixelantDesign commented on #2333
https://user-images.githubusercontent.com/5957019/46770108-f8753800-cca2-11e8-921d-2132b0e6c493.png
Could we check the stroke thickness of the hat ^? @ Dgilliams

https://user-images.githubusercontent.com/5957019/46770079-d4b1f200-cca2-11e8-80d2-10ee1ff6eb5b.png
^ His hair needs a stroke.

cc: @willsputra what do you think of these?

[2018-10-11 15:59] Anish-Agnihotri commented on #2402
Ah shoot.

If @PixelantDesign doesn't have the source file for it, worst-case scenario - I'm sure I could make an SVG out of the first frame of the GIF.

[2018-10-11 16:02] owocki commented on #2219
@PixelantDesign @thelostone-mc we could perhaps bounty it as an add-on to your branch, instead of waiting until the branch is merged to bounty it.. would that work?

[2018-10-11 16:04] owocki commented on #2228
[confirmed fixed](http://bits.owocki.com/62264035ff06/Screen%20Shot%202018-10-11%20at%2010.04.44%20AM.png)

wow, and this looks good too!

[2018-10-11 16:04] #2228 closed

[2018-10-11 16:06] mbeacom commented on #2408
@PixelantDesign Definitely understandable.  I think it might be worth a discussion among the core team to establish SLO/SLAs around this.

[2018-10-11 16:08] captnseagraves commented on #2206
@owocki What do you mean by a code transaction summary? As in, showing work thats been paid for via Gitcoin, or simply code that has been added to the project?

[2018-10-11 16:08] captnseagraves commented on #2206
Also, LGTM!

[2018-10-11 16:09] writeprovidence commented on #2333
![avatarpro-01](https://user-images.githubusercontent.com/31359701/46817848-bbc74080-cd77-11e8-939e-94a785d2feea.png)

![avatarpro-03](https://user-images.githubusercontent.com/31359701/46817853-bd910400-cd77-11e8-937b-b98f4b5a421a.png)
Hello@owocki, how about these

[2018-10-11 16:11] writeprovidence commented on #2333
![avatarpro-02](https://user-images.githubusercontent.com/31359701/46818219-9129b780-cd78-11e8-9410-15d02b5f119d.png)

[2018-10-11 16:18] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.7](https://github.com/gitcoinco/web/releases/tag/v20180416.0.7)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-11 16:20] writeprovidence commented on #2333
![avatar_pro-01](https://user-images.githubusercontent.com/31359701/46818583-87ed1a80-cd79-11e8-8ae3-69c4a7d366d2.png)
![avatar_pro-02](https://user-images.githubusercontent.com/31359701/46818585-8885b100-cd79-11e8-9555-e226721740b2.png)
![avatar_pro-03](https://user-images.githubusercontent.com/31359701/46818588-891e4780-cd79-11e8-9abc-5b232096eecb.png)
Hello@owocki, how about these?

[2018-10-11 16:31] writeprovidence commented on #2333
![avatarpro-01](https://user-images.githubusercontent.com/31359701/46819324-583f1200-cd7b-11e8-81c4-09e8b360a644.png)
![avatarpro-02](https://user-images.githubusercontent.com/31359701/46819326-583f1200-cd7b-11e8-84d6-b246bff27279.png)
Hello@owocki, how about these once?

[2018-10-11 16:33] writeprovidence commented on #2333
![avatarpro-01](https://user-images.githubusercontent.com/31359701/46819430-9805f980-cd7b-11e8-8968-1516a2e2e61c.png)
![avatarpro-02](https://user-images.githubusercontent.com/31359701/46819436-9ccaad80-cd7b-11e8-9c26-2ef7d8c3da68.png)

[2018-10-11 16:34] writeprovidence commented on #2333
![avatarpro-03](https://user-images.githubusercontent.com/31359701/46819517-d7cce100-cd7b-11e8-83ec-bf2a7d0a415b.png)
Hello@owocki how about these once?

[2018-10-11 16:43] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.8](https://github.com/gitcoinco/web/releases/tag/v20180416.0.8)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-11 17:13] owocki opened #2419 "auto-email to anyone who’s done a funded request in the past from vivek.singh"
anyone who has successfully done a gitcoin request in the past should be auto - emailed from vivek.singh@consensys.net email every 2 months with the following copy:

We should be careful to make sure we don't email someone more than **once every 2 months** (i.e. if they make 3 Gitcoin Requests in August, they should still only get one email in October)

[code]

pls copy https://github.com/gitcoinc

[2018-10-11 17:13] owocki commented on #2419
cc @vs77bb

[2018-10-11 17:15] owocki opened #2420 "remarket bounty button"
i would like to add a remarket bounty button to the bounty issue details page, visible only to a bounty funder.

when it is clicked, a user will be provided with a modal which will offer them the opportunity to pay 0.1 ETH to remarket their bounty to 11k users on our email list, but only the users on that email list that have opted in to a specific skillset.

[2018-10-11 17:17] owocki commented on #2420
or maybe pay us 0.001 ETH per person we can market it to.

[2018-10-11 17:18] owocki opened #2421 "if a funder posts a bounty that has had no activity within 2 days, they should be emailed"
if a funder posts a bounty that has had no activity within 2 days, they should be emailed to give them tips on how to get their bounty some action.

https://medium.com/gitcoin/increasing-action-on-your-gitcoin-bounty-61bb278f6f54

[2018-10-11 17:19] owocki opened #2422 "epic -- recruiter moderators who can do PR review and Issue explorer checkins"
this requires further spec, and will likely be several subtasks to it.

[2018-10-11 17:19] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.9](https://github.com/gitcoinco/web/releases/tag/v20180416.0.9)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-11 17:48] owocki commented on #2333
i like them in the abstract.. well need to see how they look on the avatar builder.. maybe it'd be worth taking some of those items and adding them as a layer on top of an existing avatar?

i'm attaching the avatar style guide here: http://bits.owocki.com/9a25c298e3d9/gitcoin-avatarconstructionguide_082218.pdf

[2018-10-11 21:15] Dgilliams commented on #2333
I may have gotten distracted... haha. I'll push those other assets soon! I'm also making an adobe illustrator file that has some tools from the guidelines in it.

![illustratorexample](https://user-images.githubusercontent.com/5957019/46834342-089f1d00-cd60-11e8-8161-e29daca825c7.PNG)

![me-01](https://user-images.githubusercontent.com/5957019/46834290-db526f00-cd5f-11e8-9b40-31998d7b7171.png)

![

[2018-10-11 21:59] #1889 closed

[2018-10-11 22:01] #2090 closed

[2018-10-11 22:04] captnseagraves commented on #2089
Going to write a ticket for an input box in "Grant Admin" view so grant creators can give a reason for canceling their grant.  Also, going to close this issue.

[2018-10-11 22:04] #2089 closed

[2018-10-11 22:30] #2288 closed

[2018-10-11 22:31] #2285 closed

[2018-10-11 22:31] #2286 closed

[2018-10-11 22:34] #2287 closed

[2018-10-11 22:34] #2291 closed

[2018-10-11 22:34] #2290 closed

[2018-10-11 22:37] captnseagraves commented on #2244
@owocki @PixelantDesign I know theres been some movement on this for both Kudos and Grants. Could you either provide an update here or point me to the appropriate issue? I would like to write an implementation ticket for this as well.

[2018-10-11 22:39] captnseagraves commented on #2026
@eswara I know it's only been a couple days since we checked in, but was wondering if you have an expected timeline for this view? There is some web3 functionality I would like to work on that depends on this view. Thank you!

[2018-10-11 22:56] captnseagraves commented on #2289
Hey @marciogurka, sorry about the delay in this response. A contributor had claimed the issue, but then dropped it. Since I was getting good, timely contributions from Anish we decided to send the remaining email issues her way and cancel the bounties. Not sure why the system auto-selected you for the bounty and emailed you 🤷‍♂️ .  Thank you for reaching out! Hopefully you can pick up another boun

[2018-10-11 22:57] captnseagraves commented on #2289
Issue part of email PR by Anish. Closing issue.

[2018-10-11 22:57] #2289 closed

[2018-10-11 23:01] captnseagraves commented on #2019
@thelostone-mc @SaptakS Hey guys, do one of you have the bandwidth to take on this view? It is meant to provide a single point for a user to find grants they are involved with, instead of needing to search through all grants.

[2018-10-11 23:10] captnseagraves commented on #2324
@mbeacom I think we should prioritize this issue. It will unblock work for @owocki on `sync-geth` stuff, and the web3 integration/test stuff for me.

[2018-10-11 23:11] captnseagraves commented on #2325
@justpixel @PixelantDesign @owocki Any movement on this? Is it ready to move to an implementation ticket?

[2018-10-11 23:13] captnseagraves commented on #2328
@Anish-Agnihotri Any update on this or estimated timeline? Thanks!

[2018-10-11 23:15] captnseagraves commented on #2350
@owocki how should this be displayed? An alert is jarring enough to make people look at it. Also, should we have it on the "New Grant" view, so grant creators aren't expecting a ton of money in the beginning?

[2018-10-11 23:15] captnseagraves commented on #2351
Closing. This has been added to the "Fund Grant" view.

[2018-10-11 23:15] #2351 closed

[2018-10-11 23:22] captnseagraves opened #2424 "Sync-geth functionality for grants"
### Description

We need to sync data from the blockchain to make sure our db is correct. Currently, we are storing information in the db upon receiving a tx receipt. This will change to a system using IPFS, more similar to bounties, in v2. More importantly, we definitely need to know when the desktop miner successfully submits transactions on behalf of users, so we can provide a transaction histo

[2018-10-11 23:48] owocki commented on #2244
@captnseagraves this is 90% implemented over at https://github.com/mbeacom/gitcoin-erc721/issues/134

[2018-10-11 23:49] owocki commented on #2206
i mean code up the design above.  is there a coding ticket for it?

[2018-10-11 23:57] owocki commented on #2350
i think you'd be fine just using the same styles as the `<span id="network"></span>` on bounty/details.html  -- just some light red coloring.

[2018-10-11 23:59] Anish-Agnihotri commented on #2328
Hey, my apologies for the fallout on this. I'd propose that I can finish this over the next couple of days. To be generous, a deadline of before the 18th?

If that's a bit too long, do let me know and I'll re-prioritize accordingly to match.

[2018-10-12 00:01] owocki commented on #2333
he looks just like you :)   "be the avatar you want to see the in world"

[2018-10-12 02:38] PixelantDesign opened #2425 "Gitcoin Bot Not Showing All Workers That Have Applied"
**P2 - Medium**
A feature of Gitcoin fails to follow expected behavior. The issue is not high magnitude.
Timeline to fix: 5-7 days

**Describe the bug**
Gitcoin Bot Not Showing All Workers That Have Applied

**To Reproduce**
https://gitcoin.co/issue/trailofbits/not-so-smart-contracts/23/1446

<img width="962" alt="screen shot 2018-10-11 at 10 36 45 pm" src="https://user-images.githubusercontent.co

[2018-10-12 02:44] owocki commented on #2402
@Anish-Agnihotri here it is!  https://github.com/gitcoinco/creative/tree/master/Brand/Grants

courtesy of @PixelantDesign ?

[2018-10-12 02:46] oogetyboogety commented on #1803
@mbeacom any luck with this? i'm going to try out pinkibell's commit myself...check out the following articles...the checklist mentions no time to get up and runnning  :stuck_out_tongue:
Current size for me:
web_web                    latest                                          05276be9b716        6 days ago          **2.42GB**
https://github.com/gitcoinco/web/issues/1988
https://medium.com/c0

[2018-10-12 04:29] PixelantDesign commented on #2402
Let's try the icon in the center spinning/rotating, and also spinning the N on grants, similar to the treatments on the Gitcoin logo.

[2018-10-12 04:35] oogetyboogety commented on #2204
@vs77bb
Part II:
[Uploading Screencast from 10-12-2018 12:.zip…]()

[2018-10-12 04:40] PixelantDesign opened #2426 "Display Issue Count and Bounty Values at the Issue Explorer"
Display Issue Count and Bounty Values at the Issue Explorer

[2018-10-12 04:43] PixelantDesign opened #2427 "Display View Count on Issue Details"
As someone checking these issues, I’m curious how many people have viewed this listing (this info would be useful at the top of the issue details) so we can gauge interest

[2018-10-12 04:45] PixelantDesign opened #2428 "Add Visual Separation Between Days on Issue Explorer for Easy Scanning"
add a light visual marker that separates things opened 1 day ago, 2 days ago, 3 days ago for easy scanning or call out when it was last opened a little bit more visually.

[2018-10-12 04:54] PixelantDesign commented on #2206
@willsputra could you attach the file here? Thx!

[2018-10-12 04:56] PixelantDesign commented on #2325
We'll work on this tomorrow, it'll be ready early next week.

[2018-10-12 05:03] PixelantDesign commented on #2282
@thelostone-mc can you take a look at the proposed approach
@Anish-Agnihotri shared above?

[2018-10-12 05:10] PixelantDesign commented on #2283
@frankchen07 We have a task in the design phase here can we try to combine efforts? https://github.com/gitcoinco/Marketing/issues/7.

[2018-10-12 05:30] PixelantDesign commented on #2247
@willsputra could we try the body copy a little larger - maybe the next size up? I am also wondering if we should explore new imagery instead of the robot head? @owocki ?

[2018-10-12 06:05] PixelantDesign commented on #1156
@davidkaufman thanks for the feedback and apologies for the frustration. I just reviewed all of the open issues myself and noticed the pattern of closed GitHub issues showing open repeatedly on the issue explorer. I agree with the thoughts above on a few immediate improvements that we could make.

1. Remove closed Github issues from the daily "X new issues worth $YYYY" email.
2. Remove closed on G

[2018-10-12 06:15] PixelantDesign commented on #2277
@willsputra is there a way to make the email more whimsical? Like an apologetic decline?

The goal is to let users know that they've been declined but also show empathy and suggest a few issues that might be similar or related to their skillset. How can we let contributors down easy and still be encouraging at the same time?

[2018-10-12 12:10] pinkiebell commented on #1803
Just updated my branch, totally forgot about it.
https://github.com/pinkiebell/web/tree/docker

[2018-10-12 13:04] davidkaufman commented on #1156
:thumbsup: @PixelantDesign

Agreed 100%

I had proposed adding a checkbox to the left nav, that was initially checked by default, labeled something like "Open GitHub Issues Only" that would let anyone access them, but looking at it again now, I don't see an obvious place for it, and adding a new collapsable, group of options containing just this one option seems awkward and, more importantly, I ca

[2018-10-12 13:51] pinkiebell opened #2429 "Umbrella Issue for Autumn Sweep"
### What
This issue is here to keep track of all pull requests for the upcoming autumn sweep.
Autumn sweep basically means code cleanup and refactoring, unifying backend & frontend code and templates.

### Why
Winter is coming!

[2018-10-12 14:04] mbeacom commented on #2429
I think it makes sense for us to track these in a project/milestone versus a running list in an issue that'll need constantly updated.

Also, the core team is planning for a lot of refractor and cleanup following devcon (November/December).

[2018-10-12 14:18] pinkiebell commented on #2429
@mbeacom
Nice to know. I planned some refactoring in the coming days/weeks.
Should I wait or coordinate via Slack?

[2018-10-12 15:22] captnseagraves commented on #2206
I will create an implementation ticket.

[2018-10-12 15:30] captnseagraves opened #2431 "Implement "Transaction Summary" Email Frontend"
### User Story

As a Grant Creator, I want a summary of all transactions on days that I receive funding so that I know when I have funds to allocate toward my project.

### Why Is this Needed

The "Transaction Summary" Email is needed so that grant creators know when they receive funding and how much funding they have received. If they have not received funding on a given day, they will not receiv

[2018-10-12 15:31] captnseagraves commented on #2431
@Anish-Agnihotri This is another email issue. Are you interested in taking this one on? Just checking in before looking for someone else.

[2018-10-12 15:55] captnseagraves commented on #2244
@owocki that link is broken. But that is great to hear. Two questions on it.

1. Will the nav provide a clear path to grants from the main landing page of Gticoin?

2. Is there a ticket for implementing the nav across the different apps? Or should I write one up for grants?

[2018-10-12 15:58] Anish-Agnihotri commented on #2431
@captnseagraves For sure, I'd be glad to pick this up!

[2018-10-12 16:16] captnseagraves commented on #2328
@Anish-Agnihotri That should be fine. We are coming into the main crunch time with two weeks left to deliver, so sooner is better, but dont want to put too much pressure on. Whatever works for you is good!

[2018-10-12 16:41] mul1sh commented on #2200
@gitcoinbot PR coming in a bit 😃

[2018-10-12 16:52] willsputra commented on #2206
Sketch file here:
https://drive.google.com/open?id=1qVFZli7ctqsD9qXl8Uyh57jF_4XRgJzw

[2018-10-12 17:09] captnseagraves commented on #2431
@Anish-Agnihotri Fantastic! Thanks!

[2018-10-12 17:19] captnseagraves opened #2434 "Rewrite Copy on grants/index to reflect EIP1337 and hyping Grants"
### User Story

As a user I want to know about EIP1337 and get hyped on Grants so that I create and contribute to OSS project  grants

[2018-10-12 17:24] captnseagraves opened #2435 "Implement search functionality in grants/index"
### User Story

As a grants user I want to be able to search by grant title so that I can easily find grants I am interested.
### Why Is this Needed

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
[ ] Search bar must allow a user to search by Grant Title and raise these results as the top results.

[2018-10-12 17:28] captnseagraves opened #2436 "Sort functionality on grants/index"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to be able to sort by newest, oldest, and most relevant during my searches so that I can more easily find the grants I am looking for.

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

[ ] View should be able to sort grant results by newest, olde

[2018-10-12 17:50] captnseagraves opened #2437 "Banner image on grants/detail should be grant logo"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a grant creator, I want to see my grant logo on my grants detail page so that I can portray my project well and attracts contributors.

[2018-10-12 17:52] mbeacom commented on #2437
I already linked this up.

[2018-10-12 18:19] PixelantDesign commented on #2244
1. Yes
2. I think @octavioamu is building it, and the different products will leverage. @captnseagraves will you circle up with @octavioamu to see the best path to integration?

cc @mbeacom on ideas here.

[2018-10-12 18:43] octavioamu commented on #2244
@captnseagraves  I had made the grants menu together, maybe some urls will need changes (I had used the currents url paths of grants) but all visually part is ready in Kudos. I think you don't have access to that issue.

[2018-10-12 19:08] captnseagraves opened #2438 "Progress bar on grants/detail should be dynamic based on funding received"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a grant supporter, I want the funding progress bar to display the current funds received accurately so I have a visual way to see how well the grant is doing and if I should contribute.

[2018-10-12 19:10] captnseagraves opened #2439 "Team members on grants/detail should correctly display icon and link to profile"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a grant supporter, I want to be able to see the image of who is working on the grant project and be able to click through to their profile so I can use that information to make a good decision on whether to contribute or not.

[2018-10-12 19:20] captnseagraves opened #2440 "Write copy on grants/new about creating grant and setting requirements of Subscription Contract"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a grant creator, I want concise copy that informs me about what I am doing on the page so I have the needed information and right expectations as I create and deploy a grant.

[2018-10-12 19:25] captnseagraves opened #2442 "Token Selector in grants/new should be same size as the rest of the inputs"
Title says it all :)

[2018-10-12 19:35] mbeacom opened #2443 "Create Grant: Check whether or not metamask is enabled"
**Describe the bug**
The create grant page doesn't check whether or not metamask is enabled or available.  If it isn't, the grant is created without deploying a contract.

**To Reproduce**
Disable or log out of metamask -> Create a grant.

**Expected behavior**
Grant creation should **require** metamask is installed, enabled, logged in, and connected to the appropriate network (prod: mainnet, stag

[2018-10-12 19:43] mbeacom commented on #2443
@SaptakS already has a fix for this and is raising a PR.

[2018-10-12 19:46] owocki commented on #1156
interesting idea.. i could see it

[2018-10-12 19:52] captnseagraves opened #2445 "Grants/new needs an additional drop down selector for frequency"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a  grant creator, I want to be able to select the required frequency of my payments, and I want options for whether it is every minute, hour, day, or month.

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

[ ] View should include a drop down selector with th

[2018-10-12 21:09] captnseagraves opened #2446 "V2 - Track how much value is going through Grants and display on grants/index"
As a user, I want to know how popular the Grants Application is so I can have confidence in using it and know how much value has been given to OSS.

Apparently, this functionality has already been built for Bounties and can be modified for Grants.

[2018-10-12 21:17] owocki commented on #2440
it'd help me when writing this copy to know (1) where it will live exactly (2) how long it should be .

[2018-10-12 21:18] owocki commented on #2244
the link isnt broken.. you just dont have perms on that repo.

[2018-10-12 21:19] captnseagraves opened #2447 "Center form in grants/fund view and make token selector same size as other inputs"
### User Story

As a user, I want the page to look nice :) so I have a nice experience.

[2018-10-12 21:36] owocki commented on #2434
can you let me know where on the idex page this will go and about how long it should be?

[2018-10-12 21:43] owocki commented on #2247
i dont mind the robot head.. but i could see the Grow OSS tree fitting here nicely too!

[2018-10-12 21:44] captnseagraves opened #2448 "Progress bar in grants/fund is all sorts of messed up"
replace progress bar with code from another view. Make it dynamic with the current funding received. Split the page with the description in a col-6 and progress bar in another col-6.

[2018-10-12 21:49] captnseagraves opened #2449 "Smooth out fund/approve function so that there is actually a limit for subscriptions."
Current functionality is that there is effectively no limit or unlimited funds for a grant. It is likely a decimal issue.

[2018-10-12 21:55] captnseagraves opened #2450 "Grants/detail page should display "Cancel Subscription" button"
When a user is already a supporter of a grant they should see a "Cancel Subscription" button instead of a "Fund this Project". When this button is pushed it should bring the user to the cancel route.

[2018-10-12 22:11] captnseagraves opened #2451 "Email Action/Integration - Emails should be sent on action performed"
### User Story

As a Grants User, I want to receive the correct emails when I perform certain actions so that I can have confirmation that actions did occur.

### Why Is this Needed
Users need clear communication about when they have performed an action and when that action has successfully made something happen on chain.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Featu

[2018-10-12 22:32] captnseagraves commented on #2434
You a replacing this copy below. And it should be 2-3 sentences.
![screen shot 2018-10-12 at 4 31 05 pm](https://user-images.githubusercontent.com/22862292/46896777-4a9d9100-ce3c-11e8-9393-9a2309d91a6a.png)

[2018-10-12 23:29] captnseagraves commented on #2019
@thelostone-mc @SaptakS This view and "Grants Admin" need to be priorities for the next bit of time. They are the last two view of the application that have not been created yet. This issue should be clear. We had some design work done today. I think it has settled, but I havent gotten a response from @willsputra via slack yet, and it hasnt been posted to the design issue. It would be awesome if w

[2018-10-12 23:34] captnseagraves commented on #2244
@PixelantDesign @octavioamu I just have one comment on the images that Octavio share in the proj-grants channel. Instead of "Active Grants" Could we have a Grants Explorer? or is that too confusing with the bounties explorer? I think it makes a nice consistency with Bounties.

[2018-10-13 00:47] willsputra commented on #2325
@PixelantDesign @captnseagraves here ya go!

![my grants](https://user-images.githubusercontent.com/19514207/46899324-a01d8080-cec4-11e8-8652-b8541d507a11.jpg)

[2018-10-13 05:15] thelostone-mc commented on #2325
I'm assuming the my grants section would be displayed undet the profile section at any given point in time right ?

[2018-10-13 15:51] willsputra commented on #2325
Sketch file here:
https://drive.google.com/open?id=1UpR0jJowiFi2nO_5DTplNdky0BnCjUAk

[2018-10-13 17:02] mbeacom commented on #2339
@rahulpat Are you still working on this?

[2018-10-13 18:09] Dgilliams commented on #2333
I made a powershell script for exporting all the color assets! :)
There was no way I was going to type all those color hexadecimals more than one more time haha.

[Watch it in action!](https://www.youtube.com/watch?v=dfM_2emAa_Y&feature=youtu.be)

https://github.com/Dgilliams/SVG_MultiColor_Exporter

[2018-10-13 19:01] thelostone-mc commented on #2350
@owocki / @captnseagraves  -  which all pages would this pop up in ?
@willsputra got a design in mind?

[2018-10-13 19:05] thelostone-mc commented on #1904
We'll be porting over the waiting state as is from bounty.
How it would work -> Once a grant is created , we display the waiting state until the txn has been confirmed

@SaptakS has got a PR out for this. Only thing left is to handle for `web3js` version `1.0.0`

[2018-10-13 19:09] thelostone-mc commented on #2019
@captnseagraves @willsputra.

Before I make out a base template (just to get the ball rolling)

- The grant card for my grants page and the grants landing page look very different?
Was it done intentionally ? If yes could we ensure both look consistent ?
If not -> which one do I use ?
- Why would we have an edit button within the card ? Where would it do redirect to?
(if i own a grant vs if i cont

[2018-10-13 19:11] vs77bb commented on #2158
Sounds good @pmaojo 👍

[2018-10-13 19:11] vs77bb commented on #2406
Thanks @evgeniuz!

[2018-10-13 19:14] thelostone-mc commented on #2026
@captnseagraves you've been tagging the wrong person. It's @eswarasai :P
Also I've left a few questions for you over at the my grants ticket. I will make a basic template post that :)

[2018-10-13 19:15] vs77bb commented on #2419
Just some slight update to the copy below. Also, I think we should be careful to make sure we don't email someone more than **once every 2 months** (i.e. if they make 3 Gitcoin Requests in August, they should still only get one email in October)

[code]

[2018-10-13 19:16] vs77bb commented on #2419
@owocki Should we bounty this?

[2018-10-13 19:29] vs77bb commented on #2277
@PixelantDesign Did you make a build ticket here or should I for the Activity Feed Tune Up?

I think the Declined E-Mail will be another ticket, but will make a comment here as well since we're discussing. Workers are *declined* some, but are more often simply ignored.

For example, in the above screenshot, Github User 'ysjwd' was not declined, but was 'passively rejected' because the funder chose

[2018-10-13 19:31] vs77bb commented on #2200
@mul1sh Sounds good!

[2018-10-13 19:38] vs77bb opened #2458 "Automatically Hide Closed Github Issues From Explorer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a hunter, I do not want to see 'Open' issues on the Issue Explorer that are actually closed on Github so I can save time finding issues.

### Why Is this Needed
To help clean up the 'Open' section of the Issue Explorer

### Description
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behav

[2018-10-13 19:39] vs77bb commented on #1156
Created a fresh issue for this here -- great feedback + discussion, appreciate your thoughts @ConnorChristie  @davidkaufman! https://github.com/gitcoinco/web/issues/2458

[2018-10-13 20:27] thelostone-mc commented on #1156
Closing this out as we've got another ticket following this up as mentioned ^
( Duplicate tickets end up being chaotic 😅 )

[2018-10-13 20:27] #1156 closed

[2018-10-13 21:48] vs77bb commented on #2204
@oogetyboogety

## Part I Feedback
- Mostly looks good!
- Can we center align the 'Submit' button on the Send Payment Reminder modal?
- Instead of the button saying 'Submit', can it say 'Yes'

## Part 2 Feedback
- I don't think the recording worked properly 🤔only seeing the command line

Thanks for providing, happy to review again ASAP alongside @PixelantDesign!

[2018-10-14 00:53] usmanmuhd commented on #2458
I'll be taking this up!

[2018-10-14 04:24] davidkaufman opened #2460 "Broken typography CSS link in StyleGuide"
## Description of Bug
The link to the ```typography.css```  file on the StyleGuide page of the
Gitcoin Developer Documentation at https://docs.gitcoin.co/mk_styleguide/ leads to a 404 Not Found error

## Steps to Reproduce
1. Visit https://docs.gitcoin.co/mk_styleguide/
2. Click on the link to [typography.css](https://docs.gitcoin.co/app/assets/v2/css/typography.css) (which points to the URL https

[2018-10-14 08:28] ajayns commented on #2333
@Dgilliams This is amazing haha! Good work on the shell script

[2018-10-14 13:07] CPPDevCrypto commented on #2458
Hey i'm taking a look at this.

Thanks.

[2018-10-14 13:42] thelostone-mc commented on #2019
update:  I've followed the new design for the card for grants and it seemed a lot cleaner

[2018-10-14 14:10] davidkaufman commented on #659
I think this would be really great, too.  I would like to stare at the Recently Paid Bounties list :-)

What needs to be defined?
- Where, exactly this would would appear on the dashboard?
- What, exactly it should look like?
- Are there any substantial technical questions to be answered?

Anything I can help with to revive this idea and get it moving along to implementation?

thanks!

-dave

[2018-10-14 14:19] davidkaufman commented on #2458
Hi all  I forked & cloned the gitcoinco/web code last night, noticed a broken link in the StyleGuide while reviewing the Contributing docs and so I created my first Issue #2460, fixed it and submitted my first PR, just to get my feet wet :-)

I did *not* get my local dev environment docker container fully up and running tho -- am working on that today -- but would like to tackle this next, if poss

[2018-10-14 14:35] rahulpat commented on #2339
@mbeacom nope. Will update status.

[2018-10-14 15:28] davidkaufman commented on #1003
There is a more positive way of looking at this problem: think of it as opportunity!  A challenge, even...  While it may very well *seem* to be "too easy" for would-be contributors to start work, we have to remember that coding is the whole point of Git, of GitHub and of Gitcoin itself so IMO *lowering* any perceived barriers to entry for new coders is paramount, and that they are so low -- that s

[2018-10-14 15:43] mul1sh commented on #2184
@PixelantDesign sorry for closing but i've re-opened the PR here again https://github.com/gitcoinco/web/pull/2279

[2018-10-14 16:07] mbeacom commented on #2458
@CPPDevCrypto All you should have to do is automatically filter on `is_issue_closed` from the API.

[2018-10-14 16:16] #2460 closed

[2018-10-14 16:16] mbeacom commented on #2460
Nice catch! Thanks!

[2018-10-14 17:10] owocki opened #2462 "As a closed source funder, I want to post Screening Bounties, so I can still leverage Gitcoin's torrent of interested dev talent."
# Slack Context
[code]

# What

- An option in project type in post bounties that is 'screening bounties'.
- User is given preselected options of different screening bounty types (e.g. FizzBuzz, multi player Tic Tac Toe game, A* search, data analysis, etc)
- Screening bounties must have a job description on them.
- Bounty is posted as a 'contest' type, where many ppl can submit.

[2018-10-14 18:30] Dgilliams commented on #2333
@ajayns thanks man, happy to help

[2018-10-14 19:01] vs77bb opened #2463 "Advanced Payout Needs To Close Issue"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
A bounty paid out via Advanced Payout is not closing the issues into a 'Work Done' state, as it should. It simply records the payouts as a `New Tip`, as opposed to calling it `Work Done`.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
See the following two issues.

https://gitcoin.co/issue/eth

[2018-10-14 19:30] #2273 closed

[2018-10-14 19:38] thelostone-mc commented on #2437
This works only if we ensure they upload a high res image else the page will look pretty shitty. Should we add a placeholder in the create grant form ?

[2018-10-14 19:43] mbeacom commented on #2280
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.21](https://github.com/gitcoinco/web/releases/tag/v20180416.0.21)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-14 19:43] mbeacom commented on #2367
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.21](https://github.com/gitcoinco/web/releases/tag/v20180416.0.21)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-14 19:43] mbeacom commented on #2417
:white_check_mark: the fix for this issue is now deployed to **Staging** in version [20180416.0.21](https://github.com/gitcoinco/web/releases/tag/v20180416.0.21)  and available [here](http://web.jx-staging.ci.gitcoin.co)

[2018-10-14 19:46] thelostone-mc commented on #2448
@captnseagraves do we have design for this ? it might look weird jamming them into one line
cc @willsputra

[2018-10-14 20:07] owocki commented on #2463
i think the solution here is probably to re - add the 'close this bounty' checkbox to this page but to make it like 10x more clear to the user what that checkbox does.

cc @ceresstation who prolly has some thoughts here too

[2018-10-14 20:10] owocki commented on #659
note that we now have [the activity feed](http://bits.owocki.com/5a3b635d5e95/Screen%20Shot%202018-10-14%20at%202.10.29%20PM.png) on the landing page... i wonder if this suffices for the purposes of this ticket, or if we need to have 'recently done' bounties only...

[2018-10-14 20:26] owocki opened #2467 "Spock Ears on Avatar Builder"
This is a task to track the addition of "Spock Ears" to the gitcoin avatar builder.

For instructions on how to add items to the avatar builder, see https://github.com/gitcoinco/web/issues/2333

<img width="537" alt="screen shot 2018-10-14 at 2 26 28 pm" src="https://user-images.githubusercontent.com/513929/46921819-2a491000-cfbd-11e8-8cdb-1c9bfe568875.png">

[2018-10-14 20:49] owocki commented on #2333
@Dgilliams that is so LEET!

1. DM me your address on the gitcoin slack so i can send u schwag.
2. any chance we can get a mac / `/bin/bash` version of that script?

https://github.com/Dgilliams/SVG_MultiColor_Exporter/issues/1

[2018-10-14 21:51] owocki commented on #2350
@thelostone-mc on the 'create a grant' page and on the 'fund a grant' page

RE: design, this doesnt have to look great, so i dont know if we really need to pull in design yet.   pasting my comment from above: `i think you'd be fine just using the same styles as the <span id="network"></span> on bounty/details.html -- just some light red coloring.`

[2018-10-14 21:52] owocki commented on #1904
+1 for anything that refactors `bounty_details.js` to be smaller :)

[2018-10-14 21:53] owocki commented on #2419
@vs77bb sure.. last call for feedback @PixelantDesign @mbeacom

[2018-10-14 21:56] owocki commented on #2434
Copy rough draft:

cc @PixelantDesign @vs77bb for feedback:

[2018-10-14 22:01] owocki commented on #2440
Copy rough draft:

cc @PixelantDesign @vs77bb for feedback:

[2018-10-14 22:36] davidkaufman commented on #659
Well, yeah i guess what I was looking for was payouts.  All its showing right now is Work Submitted, started work, funded issue, Worker Applied, stopped work, Worker Approved and "Warning for Abandonment of Bounty" ...Interesting but y'know what I'm looking for is Show Me The Money heheh.

Also i never noticed this way at the bottom of the home page -- it needs some caching or something because it

[2018-10-14 22:38] davidkaufman commented on #659
speaking of the bottom of the page -- there's an iPhone app?!? awesome!

[2018-10-14 23:04] ghettodev commented on #2463
This flow is pretty confusing. I escrowed 2000 Dai into the bounty, but paying out 666.66 Dai to 3 winners with the Advanced Payout causes it to be drawn it from my local wallet. It looks like using Tips here isn't just a semantics issue, they are handled outside the bounty flow.

In this model I have to cancel the bounty to get the funds returned to me. i.e. I need source double the amount of the

[2018-10-15 00:44] Anish-Agnihotri commented on #2421
I've made 7-8 different emails for grants. If you've got some sort of copy in mind, I'd be glad to make the design and email and push out a PR for this email as well.

I was thinking of something along the lines of "Hey, we noticed your issue {{ issue_name }} hasn't gotten any response. Here are some tips to increasing your exposure or smth:"

And then just put 2 or 3 items of interest.

[2018-10-15 00:47] Anish-Agnihotri commented on #2282
No worries! Thanks for approval @frankchen07.

For ease of access I'll be consolidating conversation into #2283. Since we're targeting an approach that is applicable for both users and funders, I'd like to keep the conversation together instead of split across various issues.

[2018-10-15 00:49] eswarasai commented on #2026
@captnseagraves -- My bad. I've missed this out of so many GitHub notifications. I've already implemented the Admin view which is nothing but posting an update form. I need the Backend to be in place in order to get the Frontend working. I assume @mbeacom is taking care of the `Updates` Model?

Thanks for the tag @thelostone-mc :)

[2018-10-15 01:05] owocki commented on #2421
is the email design for grants similar to email design for bounties?    if so then that would make sense and i'll happily make some copy

[2018-10-15 01:05] Anish-Agnihotri commented on #2421
Correct. Email design for grants follows the same base.html template for the rest of the emails. If you can get me the copy, I'd be glad to whip up a quick live mockup for you to take a look at.

[2018-10-15 01:50] owocki commented on #2424
started on this this weekend; Information I need to know in order to be able to do this:

1. which contract version is deployed to the mainnet?  i dont see it in the [smart contracts repo](https://github.com/gitcoinco/smart_contracts/pull/20).  pegged hash source code pls.  Is it [this](https://github.com/austintgriffith/tokensubscription.com/blob/master/Subscription/Subscription.sol)?  Is `master

[2018-10-15 01:51] ryan-shea commented on #2164
Hey @vs77bb and @PixelantDesign, is this bounty ready to be paid out?

[2018-10-15 01:55] ryan-shea commented on #2054
Hey @akru, hope you're doing well :) Ryan from Gitcoin here. Looks like @DimitriVla submitted a PR for you to review. Let me know if you have any questions ! :)

[2018-10-15 03:43] davidkaufman commented on #2001
@gitcoinbot said:

So then why does it still show up in the Gitcoin explorer as an open bounty?

[2018-10-15 03:48] thelostone-mc commented on #2001
@davidkaufman Ah that's cause someone from the core team ended up pushing it in cause we needed it quick !

@owocki could we cancel the bounty ?

[2018-10-15 04:40] davidkaufman commented on #2458
As i got into this, I realized it only seems to make sense to automatically hide Bounties whose GitHub Bugs are closed when the **Project Status**: "Open" checkbox is checked!

When the user has selected any other Status option (Work Started/Submitted/Done, Expired, Canceled or even "Any") then I think they'd want to also see Bounties whose Bugs had been closed.  To do otherwise would create new u

[2018-10-15 06:11] eswara commented on #2026
Please remove from this mailing list. I am not part of your team

On Mon, Oct 15, 2018 at 6:19 AM Eswara Sai <notifications@github.com> wrote:

[2018-10-15 07:42] akru commented on #2054
Hi @ryan-shea! Unfortunately PR from @DimitriVla is simple link to http://ropsten.faucet.io/ , look above. I don’t known how to review it.

[2018-10-15 10:44] ajayns commented on #2333
Yes a bash version would be amazing for Mac and Linux users!

[2018-10-15 14:14] mkosowsk opened #2469 "Integrate BlockScout"
### User Story

**As a** user of Gitcoin,
**I want to** have [BlockScout ](https://poa.network/blockscout) integrated with Gitcoin
**so that** I have  an open-source alternative to Etherscan to view tx details

### Why Is this Needed

It would be great to have many different alternatives to viewing tx information across the Gitcoin platform so that there is not dependency on one single product.

F

[2018-10-15 14:47] willsputra commented on #2325
@thelostone-mc currently nope! although in the future I think it would be useful to somehow show what I've contributed to on my profile...

[2018-10-15 15:02] willsputra commented on #2069
@owocki @vs77bb

thanks for the feedback! if we're going to replace Pro to 'Contact Us' (therefore eliminating $10k), maybe it makes sense to just have 'Free' and 'Pro'?

[2018-10-15 15:32] willsputra commented on #2204
@PixelantDesign for the graphics, how about our general notifications icon?

![update notification](https://user-images.githubusercontent.com/19514207/46960929-370b5800-d0d2-11e8-8dc5-957467f92ab5.jpg)

[2018-10-15 15:44] captnseagraves opened #2470 "Wire up sort functionality on grants/index"
### User Story

As a user I want to be able to sort by newest, oldest, and most relevant during my searches so that I can more easily find the grants I am looking for.

### Definition of Done

- [ ] View should be able to sort grant results by newest, oldest, and most relevant when the particular option is selected during search.
- [ ] View should reload with new results on click of the `search` b

[2018-10-15 15:44] #2436 closed

[2018-10-15 16:30] willsputra commented on #2247
@PixelantDesign @owocki thanks for the feedback! bigger copy + Grow OSS tree:

![profile no bounty](https://user-images.githubusercontent.com/19514207/46964418-979e9300-d0da-11e8-8064-a86eb2a5bc8a.jpg)

thoughts?

[2018-10-15 16:50] owocki commented on #2247
LGTM

[2018-10-15 16:53] owocki commented on #1964
let me snooze gitcoinbot for a bit.. since we've agreed to come back to this in 10 days time

[2018-10-15 17:00] PumpkingWok commented on #1964
Hi @owocki,
Yes sure, no problem. I did not work in it for some days because Metamask had released a new version again without `ethereum` object. From yesterday the last version  released bring back `ethereum`.I'm going to work in it deeply from tomorrow.
Note: The UI for user Accept/Reject has not been released yet in official version.

[2018-10-15 17:12] captnseagraves commented on #2424
@owocki

1. We have not deployed to mainnet yet.

2. When contract are deployed, regardless of network, the address is stored in `Grant.contract_address`

3. Each `Subscription` is related to the grant in the db and you should be able to querry all subs to a grant. All of the data you need is stored between `Grant` and `Subscription` except for `nonce`, which won't be a hard add if needed. I can g

[2018-10-15 17:15] frankchen07 commented on #2284
I'll be closing this ticket and cancelling the bounty due to it being unnecessary, since accessing the form was originally intended, and isn't a bug (the funder still has to sign in with his/her information before funding a bounty on the form). No need to create unnecessary work.

Thanks @mbeacom for the engineering help.

@evgeniuz - I'll send over a tip for your help in identifying the matter.

[2018-10-15 17:15] #2284 closed

[2018-10-15 17:17] owocki commented on #2026
@eswara sorry for the false tag.  you can 'unwatch' the thread using the 'unwatch' option in the top right

[2018-10-15 17:43] captnseagraves commented on #2424
He has, but none of his contracts relate to any grants in our database. If you can begin working off of just his contracts, we should reach out and see what the addresses are. @austintgriffith

`from = Subscription.contributor_address,
to = Grant.admin_address,
tokenAddress = Subscription.token_address,
tokenAmount = Subscription.amount_per_period,
periodSeconds = *Needs to be implemented for Subs

[2018-10-15 17:45] captnseagraves commented on #2424
Although, on second thought, I dont know that `nonce` will be able to be saved for
 each `Subscription`. That should live in each `Contribution` as it will change each time.

[2018-10-15 17:46] austintgriffith commented on #2424
The mainnet contract is live, public, audited, and completely unused so far :/ https://etherscan.io/address/0x9123a4b90E3a1F468102C08ee78fa2224d88F496

[2018-10-15 17:49] captnseagraves commented on #2424
@austintgriffith I am planning to put a bug bounty on the `Subscription` contract a little later today.  I know it's been audited, but I think a bounty is a _relatively_ cheap action with high upside and in general a good practice. Just FYI!

[2018-10-15 17:58] zevaverbach commented on #1964
@owocki, it seems like @pumpkingwok is still working on this.  Should I
hold off?  Also happy to pair on it, @pumpkingwok.

Zev Averbach
Averbach Transcription
(802) 276-5934
avtranscription.com <http://www.avtranscription.com/>

On Mon, Oct 15, 2018 at 12:53 PM, Kevin Owocki <notifications@github.com>
wrote:

[2018-10-15 18:22] owocki opened #2472 "bug - avatar is out of place on the backend generated svg"
frontend :
<img width="273" alt="screen shot 2018-10-15 at 11 21 45 am" src="https://user-images.githubusercontent.com/513929/46969965-9040a080-d06c-11e8-8a50-28bced4a1be1.png">

backend generated svg:

<img width="526" alt="screen shot 2018-10-15 at 11 21 30 am" src="https://user-images.githubusercontent.com/513929/46969966-9040a080-d06c-11e8-97ad-8fff04fb4141.png">

[2018-10-15 18:36] owocki commented on #2001
[just closed the bounty](https://gitcoin.co/issue/gitcoinco/web/2001/954) -- thanks for the bump!

[2018-10-15 18:38] owocki commented on #2424
thank you @captnseagraves @austintgriffith this is exactly what i need.

@mbeacom when u get a chance,  would love to sync with you on this.. pasting from slack:

[2018-10-15 18:39] owocki commented on #2424
one last question:  @captnseagraves @mbeacom  what branch should i work off of? `grants`?  or is there a sub-branch with the latest & greatest DB model on it?

[2018-10-15 18:45] PumpkingWok commented on #1964
Hi @owocki,
I did not know it, i asked it before start the work.I'm going to leave the work, ok ?

[2018-10-15 18:47] oogetyboogety commented on #2204
@vs77bb Thanks a bunch for the feedback. I'll submit the second review's PR up tonight with both @PixelantDesign and @willsputra's recommendation and by submitting another video of the command line-I think it kept splitting the resultant file into two files for some reason, so I'll reach out if I need assistance on that.

[2018-10-15 19:14] captnseagraves commented on #2424
@owocki If you could create a sub-branch or fork and submit a PR to `grants` that would be ideal. `Master` should have the most up to date model. I will submit the updates soon.

[2018-10-15 19:30] zevaverbach commented on #1964
Sounds good, I'll press on with it on the agreed upon timeline.

Zev Averbach
Averbach Transcription
(802) 276-5934
avtranscription.com <http://www.avtranscription.com/>

On Mon, Oct 15, 2018 at 2:45 PM, andrea zuccarini <notifications@github.com>
wrote:

[2018-10-15 19:38] PumpkingWok commented on #1964
I stopped the work on this issue

[2018-10-15 19:56] captnseagraves commented on #2026
Oops! Sorry @eswarasai! Thanks for catching that @thelostone-mc . Moving forward, @eswarasai can you submit a PR for what you have? The core team can carry this issue forward from here since we are getting into crunch time and trying to move fast. @thelostone-mc @SaptakS can one of you take up this issue once Eswara submits a PR? Thank you all!

[2018-10-15 19:56] Dgilliams commented on #2333
I added a python version for Mac and Linux. lmk how it works for you.

[https://github.com/Dgilliams/SVG_MultiColor_Exporter.git](https://github.com/Dgilliams/SVG_MultiColor_Exporter.git)

[2018-10-15 20:06] captnseagraves commented on #2437
@thelostone-mc Yes, we should have a placeholder. I think the Penguins building rockets is a good image. It should already be the placeholder in the project.

@mbeacom and I also discussed having a border on each side of the image in order to make poor images look better and fit into the window.

[2018-10-15 20:09] captnseagraves commented on #2448
@thelostone-mc I am hoping for what is on grants/details. Expect for description in place of the image. Screen shot below.
![screen shot 2018-10-15 at 2 07 13 pm](https://user-images.githubusercontent.com/22862292/46975444-d3f2d480-d083-11e8-8ee5-1d43d8535c27.png)

[2018-10-15 20:20] owocki commented on #2424
@captnseagraves i thought `master` didnt have any grants stuff in it... am i missing something?

so sounds like I should use the `grants` branch?

[2018-10-15 20:25] owocki opened #2473 "as a user, i would like support for patterned backgrounds in the avatar builder"
as a user, i would like support for patterned backgrounds in the avatar builder

like this one:
![5957019](https://user-images.githubusercontent.com/513929/46976243-c9354100-d07d-11e8-91bf-ad54b9fdba4d.png)

success criteria:
- refactor the current background scheme to support having a `.svg` which contains a pattern as the background

[2018-10-15 20:29] captnseagraves commented on #2440
@owocki An important point to make in this copy is that as users create a grant they are setting requirements on the contract. E.g. By choosing DAI in the token drop down menu you are requiring users to contribute in DAI. If you choose "any" in the drop down users can contribute in any ERC20 token.

Would you like me to take a stab at working this idea into the copy?

[2018-10-15 20:32] owocki commented on #2440
sure!

[2018-10-15 20:35] captnseagraves commented on #2325
@thelostone-mc Right now, "My Grants" will be clicked into via the `Grants` nav bar. @willsputra I agree that eventually, it might make sense to have some information about grants available via the profile page. We've discussed it, but are opting for the nav option for now.

[2018-10-16 09:41] oogetyboogety commented on #2204
@willsputra / @thelostone-mc  Is this one already in Django's static images? i didn't see it at first. If not, I'll just use the graphic you provided through this process:
https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md#contributing-static-assets

[2018-10-16 10:13] oogetyboogety commented on #2204
@vs77bb Interesting that it isn't already centered on yours...I just set the style to explicity centered, I think. Could you double check if the style is being correctly rendered now? It could also be the button is not inheriting certain styles in your browser.
![screenshot from 2018-10-16 06-06-23](https://user-images.githubusercontent.com/3319254/47009467-94230000-d10a-11e8-891f-8a3aaa4a46e5.png

[2018-10-16 13:32] thelostone-mc commented on #2019
@captnseagraves

1. I've stuck to what @willsputra design as that felt a lot cleaner
2. Will drop the `edit` button on the card for now.
    Redirecting to grant-admin only makes sense if I own the grant. Won't make sense if I'm part of the team / contributing to it. Wouldn't that confuse the user in terms of behavior ? Might I suggest introducing two links one to take you to the details page and

[2018-10-16 13:51] thelostone-mc commented on #1904
@captnseagraves yeah we'll add it in there.
@SaptakS would it make sense to spin up a new ticket and handle it all in one ticket ?

[2018-10-16 14:16] thelostone-mc commented on #2021
@captnseagraves what's the state on this  ?
I know the milestones display is handled [here](https://github.com/gitcoinco/web/pull/2395)

Is the rest sort of built out / do we have PR ?

[2018-10-16 14:19] thelostone-mc commented on #2025
Are we doing pagination / infinite scroll here?
I believe the rest of it is taken care of
@captnseagraves

[2018-10-16 14:28] eswarasai commented on #2026
@captnseagraves -- All my changes are in the `web:grants` branch on `gitcoinco` repo. No need of separate PR.

@thelostone-mc -- Yep, the Admin view is in the same view as `detail.html` with just a difference if posting update form

[2018-10-16 14:58] willsputra commented on #2247
@PixelantDesign @owocki should I create a separate 'build' ticket for this?

[2018-10-16 15:17] willsputra commented on #2019
@captnseagraves @thelostone-mc

Thanks for the feedback! 😄

2. `Edit` was added to make it clearer that you can click on that card to edit your grant.
For funders, editing might mean modifying their contribution.
For owners, editing might mean editing their grant, withdrawing fund, etc.
If an owner can also view the grant details from the admin page anyway (since admin page = details page but edit

[2018-10-16 15:44] willsputra commented on #2277
@vs77bb I like the idea! Modified it a bit here:

![application declined](https://user-images.githubusercontent.com/19514207/47029096-460b0c80-d19d-11e8-9e26-b8e793ca3da7.jpg)

[2018-10-16 16:04] jasonrhaas opened #2475 "psycopg2 warning message"
**Describe the bug**

This warning message displays constantly when using the gitcoin application.  I believe we have already implemented the psycopg2-binary but it still show up all the time, especially when running Django Management Commands.

[code]

**To Reproduce**
Run the gitcoin app inside docker.

**Expected behavior**
Would be nice if this message didn't appear.

**Desktop (please complet

[2018-10-16 16:13] mbeacom commented on #2475
This will stop appearing once `psycopg2` is upgraded to `2.8.x`.  We already pin `psycopg2-binary`.

[2018-10-16 16:31] jasonrhaas commented on #2475
Here's what this did on the `pgcli` project:

https://github.com/dbcli/pgcli/pull/894

[2018-10-16 16:35] jasonrhaas commented on #2475
We can put it in the `settings.py` file here:

[code]

🙌

[2018-10-16 16:42] usmanmuhd commented on #2370
Working on this, will push in changes tomorrow.

[2018-10-16 16:45] willsputra commented on #2205
@captnseagraves @PixelantDesign @justpixel

I'll give this a shot. 🙂

![grants subscription transaction](https://user-images.githubusercontent.com/19514207/47032796-d0f00500-d1a5-11e8-9027-12e83f0b2380.jpg)

[2018-10-16 17:33] frankchen07 commented on #2282
@Anish-Agnihotri - good call, and thanks. Let's use https://github.com/gitcoinco/web/issues/2283 as the place for the conversation for these issues.

[2018-10-16 17:34] frankchen07 commented on #2283
@Anish-Agnihotri - yep the Marketing ticket is an example of what I was thinking (it looks like it's for the contributor side), so mocking one up for the funder side sounds good! Have at it! Looking forward to seeing what you come up with.

[2018-10-16 18:02] Dgilliams commented on #2473
hey I know that guy! lol

[2018-10-16 19:42] mbeacom opened #2478 "Profile activity - TypeError: Cannot read property 'lastChild' of null"
Some profiles aren't displaying `Activity` when they should be while throwing this error in console:

[code]

<img width="1676" alt="screenshot 2018-10-16 15 43 44" src="https://user-images.githubusercontent.com/7315957/47042876-4d5cf680-d15a-11e8-9951-d1d0143e1e21.png">

[2018-10-16 19:47] mbeacom opened #2479 "Gas Views - MemoryError"
Stub issue to refactor `gas/utils.py` and `gas/views.py` to avoid `MemoryError` causing bomb out on these views.

[code]

[2018-10-16 20:05] captnseagraves opened #2480 "Gitcoin Grants Smart Contract Bug Bounty"
# Gitcoin Grants - Smart Contract Bug Bounty

Hello bounty hunters,

Gitcoin Grants is a platform to fund your open source work with recurring payments. We've developed Gitcoin Grants so that OSS Developers can crowdsource funding for the awesome work they are already doing and allow companies to provide more significant recurring funding for contributions on their open source repos.

## Task
The

[2018-10-16 20:07] Dgilliams opened #2481 "Request a Bounty Comment box, spontaneously jumping text cursor"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
As I was filling out a comment for a Request a Bounty, I found if needed to make an edit to already typed text that the cursor would jump to the bottom of the text box.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
- Write a detailed comment.
- Decide that what you wrote wasn't good enough
-

[2018-10-16 20:30] thelostone-mc commented on #2353
I've already built out a notification banner which disappears after a few seconds
It;s a part of an Open PR which can be merged after review (probably after grants )

but it would look like [this](https://user-images.githubusercontent.com/5358146/46245707-28ede400-c410-11e8-98dd-dc2fbc8fd733.gif)
Is this what you meant you want it in a notification or do you want the one which @willsputra put up ?

[2018-10-16 21:39] NukeManDan commented on #1991
Excited to see what comes of this @aerophile - something I just stumbled on:
https://www.meetup.com/ConsenSys-Ethereum-Meetup-San-Francisco/events/254627790

EthStats.io will be something to checkout - likely not as individual tacking oriented as what we are after in this issue. :) Cool implementation though!

https://vimeo.com/272871263

[2018-10-17 00:40] Anish-Agnihotri commented on #2283
For sure! I'll mock up something for the funder side within the next 24 hours and post an update.

I'm just wondering though, how would we determine whether to show the user the funder or contributor CTA (since we cannot assume either/or). Would it still just make sense to have a seperate CTA for both altogther at the end of the page?

[2018-10-17 01:19] santteegt opened #2483 "Stop Work button even if request is not sent"
**Describe the bug**
Stop work button appears event if the request to work is not sent

**To Reproduce**
A user with all three working issue slots assigned tries to send a request to start working on a new bounty. An error of "max of 3 issues at once" appear but the Stop Work button is shown.

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
Star

[2018-10-17 03:51] owocki commented on #2333
Yessir def accepting new submissions

On Tue, Oct 16, 2018 at 4:26 PM Jake Rockland <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, f

[2018-10-17 09:44] thelostone-mc commented on #2026
@captnseagraves

- why do we have a button on top the image which says browse grants?  Is that supposed to be there
- I don't see the team-members being displayed on the details page itself. No place to edit that either
If that is the case ->

- do we remove it from the create grant form ?
- do we update the models to not accomodate it ?

me confused 😅

cc @mbeacom

[2018-10-17 14:36] mul1sh commented on #2200
@vs77bb any feedback? thanks 🙂

[2018-10-17 16:40] frankchen07 commented on #2283
@Anish-Agnihotri - sounds great!

I think it makes sense to have a separate CTA for both the funder or contributor funnels on the page (similar to the bright green mockup for the contributor, but another one for the funder). I'd also add the CTA would be best at the top of the page, easily reachable to anyone who is coming to the gitcoin.co site. You make a good point that we don't know who is a f

[2018-10-17 17:19] captnseagraves commented on #1904
@thelostone-mc @SaptakS We can handle it all here. I'm happy to implement today as well, if you haven't begun to move on it.

[2018-10-17 17:53] jakerockland commented on #2333
@owocki Rad, thank you! Also just noticed the new setup on gitcoin.co with "Project Types" and "Permissions" for issues—awesome feature!

[2018-10-17 18:32] saketbairoliya2 commented on #1855
@vs77bb, This should be ready in couple of days. Needed few clarification about the flow after click of "Fund work" on Bounty details page.

Will it be like the flow discussed [here](https://github.com/gitcoinco/web/issues/1033)?

[2018-10-18 00:38] Anish-Agnihotri commented on #2404
Seems like @gitcoinbot is really set on nagging me about this, haha.

I'll be pushing out a WIP PR this weekend. Been done with a fever for the past two days and am in bed, so programming has come down to snail speed. I'll get this knocked out though :).

[2018-10-18 01:08] Anish-Agnihotri commented on #2283
Sure.

To expand on a few ideas (sorry if I'm pushing it with these, just want to decide on the best route before I get to work):

1. One possibility continuing on the bright green mockup CTA would be to have it as a slider instead of the single item it currently is. This way, it could feature both the funder and contributor funnels at the same time (and rotate after ever few seconds). I'll CC @Pi

[2018-10-18 02:37] arealdeadone commented on #2469
Hi, since I am working on this bounty could you please elaborate on _Integrate Blockscout Everywhere_ part. Are there any implementation ideas/inputs that might be helpful to complete this bounty?

[2018-10-18 06:07] usmanmuhd commented on #1179
@thelostone-mc is this open?

[2018-10-18 09:32] pmaojo commented on #2158
Hi. I still have this pending.  I'm having some problems with an important project that keep me too busy

[2018-10-18 13:15] thelostone-mc commented on #1003
@davidkaufman I do agree with what you say but the context here is penalizing a contributor who takes up a task (aka calls dibs) & is not responsive and does not click stop work thus preventing others from taking it up.

We'd expect the contributor to be transparent and click on stop work so that others can take it up and the funder would get their issue resolved.

Again we haven't decided anythin

[2018-10-18 13:20] PixelantDesign commented on #2458
I've edited the definition of done...please let me know if you have any questions!

Is there a reason we should only apply this to bugs and not all closed issues?

can you clarify ^?

ok

I defer to @mbeacom @SaptakS on implementation.

[2018-10-18 13:31] davidkaufman commented on #2458
That's right -- I was using the term Bug to refer to GitHub any GitHub issue...

Great  -- will do it this way... I'm playing with the Github API now to see how to do this (neither is_issue_closed=0  or is_issue_closed=false seems to be doing the trick :-) but don't spoil the fun by telling me!  I'll dig into the API source if necessary... heheh

[2018-10-18 14:09] thelostone-mc commented on #2448
@captnseagraves this should be resolved now right?  :P
the progress bar already works and is already tied to backend as shown [here](https://github.com/gitcoinco/web/blob/grants/app/grants/templates/grants/detail.html#L66)
further improves come via this [PR](https://github.com/gitcoinco/web/pull/2484)

[2018-10-18 15:25] SaptakS commented on #1904
@captnseagraves these page is already implemented and there in the grants page. Can you please check. There is a waiting state page after creation of grants.

[2018-10-18 15:30] captnseagraves commented on #1904
@SaptakS Yes, the waiting state is done for grants/new. Thank you! There are two other points in the application where we send transactions to the blockchain. In the "Fund Grant" view and the "Cancel Subscription" view. These also need a waiting state.

[2018-10-18 15:31] SaptakS commented on #1904
@captnseagraves We can put the same one right? I will put them there too. :)

[2018-10-18 15:31] captnseagraves commented on #1904
@SaptakS Yes! Same one should be good.

[2018-10-18 16:40] owocki opened #2488 "bug - gitcoinbot double posting"
<img width="782" alt="screen shot 2018-10-18 at 9 39 39 am" src="https://user-images.githubusercontent.com/513929/47169984-cc1c7580-d2b9-11e8-9f89-a3a468618847.png">

https://github.com/ConsenSys/smart-contract-best-practices/issues/172#issuecomment-430474467

[2018-10-18 16:40] owocki commented on #2488
probably related to https://github.com/gitcoinco/web/issues/2394

[2018-10-18 16:41] owocki commented on #2488
i wonder if we, as a stopgap, could put some sort of semaphor on top of the `sync_bounty()` so that two threads cant sync_bounties at the same time...

maybe we could use redis to do this!

[2018-10-18 17:06] owocki opened #2489 "bug - mobile view issues on landing page"
![44067988_2002391869804611_6944519486892408832_o](https://user-images.githubusercontent.com/513929/47171392-70ec8200-d2bd-11e8-9bae-914362d5ec2f.jpg)
![44215911_2002390226471442_5839770314002661376_o](https://user-images.githubusercontent.com/513929/47171393-70ec8200-d2bd-11e8-9bad-4dcdde39a8f5.jpg)
![44240881_2002391999804598_6356586391610064896_o](https://user-images.githubusercontent.com/51392

[2018-10-18 17:06] owocki commented on #2489
i am checking with the end users about what device they are using

[2018-10-18 18:01] frankchen07 commented on #2158
@pmaojo - thanks for the updated communication. Appreciate it.

No problem - you'll get to it when you get to it. I'll do a reminder ping in a couple of days if you haven't looped around to it. If you have an estimate on when you'll have some time, do let us know!

[2018-10-18 18:01] suhailvs commented on #2469
May be clone the repo and search for "Etherscan". Here is a file https://github.com/gitcoinco/web/blob/master/app/dashboard/templates/bounty/details.html

[2018-10-18 18:02] owocki commented on #2339
@rahulpat are you working on this? we've been very patient, and you haven't shown anything more than just github comments.  please release the task to someone else if you're not going to do it.

[2018-10-18 18:02] suhailvs commented on #2469
Here is an example blockscout etherium viewer https://blockscout.com/eth/mainnet/address/0x3c2cb7943e7d0e42e55de96983a34a732dbb7816/transactions

[2018-10-18 18:05] frankchen07 commented on #2261
hey @wonderwomancode - are you still working on this? If yes, please do let us know.

If we don't hear from you, we will release this bounty back to the public!

[2018-10-18 19:11] owocki opened #2491 "as a user, i want codefund ads to go up about my bounty if it's not turned around in 2 days, so i get more publiclity about my bounties"
# story
as a user, i want codefund ads to go up about my bounty if it's not turned around in 2 days, so i get more publiclity about my bounties

# what

if a bounty is not turned around within 2 days of being posted, there should be an alert to the gitcoin core slack notifying us that we should consider posting a codefund ad about it

[2018-10-18 19:11] owocki commented on #2491
@coderberry @PixelantDesign @vs77bb hows this look?  anything to "ad" (see what i did there? :P )

[2018-10-18 19:56] owocki commented on #1860
happy to payout when the PR is merged!  i know that Mark & co are busy with a special devcon project this week tho :)

[2018-10-18 19:57] owocki commented on #2381
happy to payout when the PR is merged!  i know that Mark & co are busy with a special devcon project this week tho :)

[2018-10-18 21:02] writeprovidence commented on #2467
yes

[2018-10-18 22:55] frankchen07 commented on #2283
@Anish-Agnihotri - no problem about expanding on the ideas. I love the thoroughness. 😀

Although option 2 would be interesting, I would want the CTA to be immediately visible when landing on the gitcoin.co main page. To me, there are too many steps to have to scroll down and then figure out the funder/contributor slider. Although the slider has a bells and whistles component to it (like option 1),

[2018-10-18 23:10] wandhy79 commented on #2491
#969 Integrate Portis as a web3.js provider

[2018-10-19 00:42] jasonrhaas commented on #2339
I have this working now.  Preliminary tests looks good - bounties are posting as expected.

https://github.com/gitcoinco/web/pull/2492/commits/7f26652d9a25a996cb41c6e3a24641ad5b31ab37
https://github.com/gitcoinco/web/pull/2492/commits/e2323a0e2791130bad76c5dcd9a8f73f33817a36

[2018-10-19 02:02] ajayns commented on #2333
@owocki #2455 has been merged, when can I expect a payout?

[2018-10-19 05:35] frankchen07 opened #2493 "In certain instances, when a user starts a bounty, Gitcoin Bot reports a "cancelled" status for starting work."
**Describe the bug**
As a user who starts a bounty, Gitcoin Bot reports a "cancelled" status for starting work.

**To Reproduce**
Reproduction of the bug can be seen in the Github comments for the examples below:

1. https://github.com/MetaMask/metamask-extension/issues/4771

![screen shot 2018-10-14 at 23 15 56](https://user-images.githubusercontent.com/7516920/47199245-7d0c2a00-d325-11e8-86f6-80

[2018-10-19 07:45] jakerockland commented on #2333
Proposed accessory—to the tune of Halloween and a fun accessory for men and women: bunny ears!

Images of accessory in action:

<img width="1059" alt="screenshot 2018-10-19 01 35 12" src="https://user-images.githubusercontent.com/8602661/47204021-725e8e80-d33f-11e8-881a-2f73da53ec54.png">
<img width="1440" alt="screenshot 2018-10-19 01 36 26" src="https://user-images.githubusercontent.com/8602661/

[2018-10-19 11:45] spiegeleixxl commented on #2473
Hmm, I checked the source real quick, seems to be around app/avatar/utils and  /templates to make this work. So the basic question is: Do you want this to be addable by the user via web interface (e.g. a user upload a .SVG and everything else is rendered above it), or do you simply want to have the possibility to add backgrounds from a selection of defined .svg like for the current elements in the

[2018-10-19 14:41] ceresstation opened #2496 "bug - Unable to approve workers on certain issues"
**P1 - High
A feature of Gitcoin fails to follow expected behavior. The issue creates panic around a core feature on the Gitcoin platform.
Timeline to fix: 2-3 days**

**Description**

I’m not able to approve workers for the following issue:

https://gitcoin.co/issue/ethereum/py-evm/1398/1506

I get the error ```This worker does not exist or is not in a pending state.```

Note that there is a mism

[2018-10-19 14:44] pinkiebell commented on #2174
@Naggertooth
What's your status?

[2018-10-19 15:58] owocki commented on #2333
@jakerockland looks great!!

@ajayns paying out now

[2018-10-19 16:02] owocki commented on #2473
the latter :)

[2018-10-19 16:04] owocki commented on #2339
Thanks @jasonrhaas , I'm going to cancel the bounty

[2018-10-19 16:15] owocki commented on #2472
note to self: try this with the template that Damo posted here => https://github.com/gitcoinco/web/pull/2433#issuecomment-431397454

[2018-10-19 16:22] jasonrhaas commented on #2339
This issue will be fix once PR #2492 is merged in.

[2018-10-19 16:34] owocki commented on #2370
@usmanmuhd any update

[2018-10-19 16:44] usmanmuhd commented on #2370
@owocki I had a few doubts, I guess they are addressed now. Will make the required changes and push in.

[2018-10-19 17:16] pinkiebell commented on #2174
@Naggertooth
Oh, I see. I totally missed that ^>^

[2018-10-19 18:54] jakerockland commented on #2333
Rad, thanks @owocki, submitting work 👍

[2018-10-19 18:57] jakerockland commented on #2333
Re: girly type accessories, would there be interest in me making a hair bow @owocki?

[2018-10-19 18:59] jakerockland commented on #2473
@spiegeleixxl Do you plan on taking this up? Was going to start work but wanted to give you the chance to before I snag it if you planned on taking this on.

[2018-10-19 20:00] owocki commented on #2333
@jakerockland yesssir

[2018-10-19 20:12] jakerockland commented on #2333
@owocki rad, will start work on that one tonight

[2018-10-19 20:16] #2478 closed

[2018-10-19 20:37] owocki commented on #2247
@willsputra yes pls

[2018-10-20 07:52] arealdeadone commented on #2469
So I found some uses of ethersan in the source. I'll go ahead an integrate blockscout there. As of now I still am trying to understand the codebase. If there are any helpful tips, I'm always ears.

Thanks

[2018-10-20 09:06] spiegeleixxl commented on #2473
Hey @jakerockland,
sorry, yeah, I just wanted to clarify before-hand what the user wanted before taking on the task 👍
If I do not manage to get this working I will let you know so you can have a go at it, if that is OK?

Thanks!

[2018-10-20 17:13] jakerockland commented on #2473
Sure thing @KuhnChris, that sounds great! Didn’t wanna steal it from ya. 😊
On Oct 20, 2018, 3:06 AM -0600, KuhnChris <notifications@github.com>, wrote:

[2018-10-20 19:17] PixelantDesign commented on #2247
A fresh front end ticket would be great @willsputra. I can bounty.

[2018-10-20 20:02] #2489 closed

[2018-10-20 22:15] thelostone-mc commented on #2472
@owocki is this still happening / taken care of ?

[2018-10-20 22:29] thelostone-mc commented on #2200
@mul1sh I think we can ignore that for now !
Btw @SaptakS / @captnseagraves would this need an update on grants waiting page if this gets in ?

[2018-10-20 22:35] thelostone-mc commented on #1179
Ah I think @owocki did push out an update on this! 😅
@owocki do we have anything which needs to be done ?

[2018-10-20 22:40] thelostone-mc commented on #2037
Ah sorry ! Got pulled into dev 😅
Checked out the code and it looks alright 👍
will pull it in locally and test it later this week

[2018-10-20 22:54] thelostone-mc commented on #2354
To whoever picks this up you'd have  reuse [select2](https://select2.org) we have for advanced payout. Prepopulate only users who've submitted and enable the funder to serach and filter those

cc @sunilveera

[2018-10-20 23:15] thelostone-mc commented on #2425
@PixelantDesign does this still happen ?

[2018-10-21 12:18] mul1sh commented on #2200
@thelostone-mc  will do 🙂

[2018-10-21 19:45] Anish-Agnihotri commented on #2283
Hey, apologies for the delay in response. Was down with a fever and am just getting caught up.

Thanks for your comments, seems like Option 3 mashed up with the styles from Marketing#7 seems to be the way to go. I'll get a mock of this out within the next few hours and we can go through some iterations.

Once that's complete, I'll begin working on the landing page and pushing out the wip PR.

As f

[2018-10-21 20:07] chiptus commented on #194
Cool, so I will merge develop into my branch and will remove the WIP title.

Feel free to review for releasing to develop.

On Sun, Oct 21, 2018, 01:25 Aditya Anand M C <notifications@github.com>
wrote:

[2018-10-21 20:43] mbeacom opened #2505 "KeyError: 'from_address'"
Catch `KeyError` in tip 3 view.

[code]

[2018-10-21 22:11] pinkiebell commented on #194
@chiptus
As long there are no conflicts, you can just remove the WIP title.
If there are conflicts, just rebase to master 👍

[2018-10-22 10:46] pinkiebell commented on #2425
@thelostone-mc
Another one [https://github.com/trailofbits/slither/issues/24].
I will take a look today 👍

[2018-10-22 10:47] pinkiebell commented on #2425
@thelostone-mc
Another one [https://github.com/trailofbits/slither/issues/24].
I will take a look today 👍

[2018-10-22 11:32] pinkiebell commented on #2425
Seems like we need a task queue to re-schedule such things as we don't handle api errors.
cc @mbeacom

[2018-10-22 14:03] pinkiebell commented on #2125
@vs77bb
As the bounty actually got killed and you instead sent a tip  (That's how it works),
we need another copy for a 'Bounty is Done but we have no fulfillments'.
😅 Ideas?

cc @PixelantDesign

[2018-10-22 15:04] PixelantDesign commented on #2425
Yes! @thelostone-mc this still happens. @vs77bb @ceresstation reported it the other day as well.

[2018-10-22 15:09] pinkiebell commented on #2125
@vs77bb
Thoughts?

Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This Bounty has been completed.__

Additional Tips for this Bounty:
* pinkiebell tipped 0.0100 ETH worth 2.29 USD to pinkiebell.
* pinkiebell tipped 0.0100 ETH worth 2.29 USD to pinkiebell.
* pinkiebell tipped 0.0100 ETH worth 2.29 USD to pinkiebell.
* pinkiebell tipped 0.7000 ETH worth 160.62 USD to pinkiebell.

[2018-10-22 15:20] frankchen07 commented on #2283
No worries about the delay. Thanks for the heads up.

Thanks for being super open with your communication. Looking forward to seeing the mock!

As for the location, right around where the current green banner makes sense. I'm not well versed in design, but there are some tradeoffs to stacked or side-by-side CTAs. Stacked might make the green banner a bit bigger (vertically longer, unless we split

[2018-10-22 15:35] #2429 closed

[2018-10-22 15:50] willsputra opened #2508 "Build - Front End of 'No Bounties' Placeholder on Gitcoin Profile Page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently there is no placeholder to tell that a user has no associated bounties on the Profile page, and the rendering

[2018-10-22 16:06] owocki commented on #1964
heres a new post from metamask about how to do this: https://medium.com/metamask/eip-1102-preparing-your-dapp-5027b2c9ed76

[2018-10-22 16:37] jakerockland commented on #2333
Thanks @owocki 😄 Couple quick questions, is there reason for me to submit work for #2500 as I did for #2494 and also I've never been sent DAI to an Ethereum wallet before, is there a good reading resource somewhere on how to see that in my Metamask setup?

[2018-10-22 16:49] owocki commented on #2333
@jakerockland no need to submit work again as i've paid you with a tip!

checkout https://medium.com/hellogold/adding-tokens-to-metamask-60b2fedd5bd9 to add DAI to metamask... DAI contract addr is 0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359

[2018-10-22 16:56] owocki commented on #2424
@mbeacom mind pointing me to the latest subminer implementation?  just want to make sure i have it handy for coding this in-air on the way to london

[2018-10-22 16:58] owocki opened #2510 "EPIC Verified Image on my profile to prove legitimacy"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user whos done several bounties successfully, i'd like a 'verified' image on my profile, so ppl know i'm legit

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

so

[2018-10-22 16:59] owocki commented on #2510
cc @PixelantDesign who brainstormed this with me in SF :)

[2018-10-22 17:04] jakerockland commented on #2333
Awesome, thank you @owocki 👍

[2018-10-22 19:05] spiegeleixxl commented on #2473
Short update on this task:
I managed to have the new category (visualbackground) show up in the avatar builder, but for some reason I cannot make django understand that I want that new route to provide the SVGs from the TXTs... currently investigating the routes, but it seems like we could need a bit of update. Also, i noticed that the docker-compose image uses a very old debian base (thanks to th

[2018-10-22 19:07] owocki commented on #2473
@mbeacom would know!

[2018-10-22 19:47] owocki commented on #2472
@thelostone-mc yes its still happening.

@Dgilliams was nice enough to post some templates i could use to fix this... but i havent gotten to it.. links below

	https://github.com/gitcoinco/web/pull/2433#issuecomment-431397454
	https://github.com/gitcoinco/web/pull/2433/commits/8f25b6617a200ae59c8cbdfc4c29a95670d4382f#diff-3bbb5f9ab4121afb20e7cf559419b5f6

[2018-10-22 19:54] owocki commented on #1179
email could def use some cleanup.. .i just did a quick hackjob

[2018-10-22 20:04] owocki commented on #2508
@PixelantDesign r u ok if i bounty this?

[2018-10-22 20:39] spiegeleixxl commented on #2473
Apparently I ...found? a limitation somewhere:
![image](https://user-images.githubusercontent.com/761911/47317923-fcae3780-d64a-11e8-87e0-828e2a115d2f.png)

Is it possible that the directory lengths are capped at 13 characters (for... DOS compatibility or something)?
I refactored my code to use "Wallpaper" (which is also a more fitting term than 'visualbackground'), currently recompiling the envir

[2018-10-22 21:17] Anish-Agnihotri commented on #2283
You had exactly the same thought as I did when thinking about the stacked/horizontal CTA's. Since this is a landing page issue, and is probably going to be a focal point of the website, input from @PixelantDesign and @willsputra would certainly be appreciated. I messaged Alisa through Slack as well, and I'll take some design inspiration from there and output the design options.

Looking for an eta

[2018-10-22 21:20] liamzebedee commented on #2480
Found some stuff - but will email and not comment here? Is that what is requested? :)

[2018-10-22 21:28] owocki commented on #2480
@liamzebedee email founders@gitcoin.co ?

[2018-10-22 22:03] 6ug commented on #2480
Where do we need to findout vulnerability? I mean what is in scope? I can start finding in gitcoin.co ? I am bug hunter btw.

[2018-10-22 22:14] captnseagraves commented on #2480
@6ug From above: The task is to find security vulnerabilities in our Subscription smart contract. A security vulnerability is any issue that impacts the well-being of the end-user on the platform. Compensation will not be provided for visual, optmization, or interface issues.

The contract can be found at https://github.com/gitcoinco/grants1337/blob/master/Subscription/Subscription.sol. The depend

[2018-10-22 22:15] captnseagraves commented on #2480
Also, please note: *We may receive many responses before being able to implement changes, because of this payouts will be for bugs that are unknown to us at the time of notification.*

[2018-10-22 22:37] Lokraan commented on #2419
@owocki the solution I was thinking of is storing in a database the time to email the user and everyday to email all users whose email date corresponds to the current date.

[2018-10-22 23:18] owocki commented on #2419
sounds fine to me..

[2018-10-23 07:52] spiegeleixxl commented on #2473
Hi there, another update:

I managed to get my "background" working, seems like I misunderstood the "templates", I thought the SVGs will be auto-generated. Apparently not.
According to the document you have to save the SVGs anyways.
https://d3vv6lp55qjaqc.cloudfront.net/items/353O062M3f0g3w0R191f/gitcoin-avatarconstructionguide_082218.pdf
The only reference to the templates I found was within a "T

[2018-10-23 09:13] spiegeleixxl commented on #743
So basically you want to save the HTML, pull all the css content into the HTML and create a 1-page static page for maintenance purposes - or do you want a "real" static page generator like django-distill? https://www.staticgen.com/django-distill

[2018-10-23 10:00] ceresstation commented on #2463
Hey @owocki @vs77bb any updates that I can provide to some of the funders experiencing this issue?

[2018-10-23 10:15] ceresstation opened #2515 "As a funder, I'd like to be able to view issues on my profile by status (e.g. work submitted)"
### Description

It would be great to be able to see at a glance which issues are ready to have work submitted and to separate out completed bounties from those currently in progress.

### Why Is this Needed

Especially for large funders, for example Embark, it may be confusing to navigate many completed issues when trying to check on only issues that need attention. For similar reasons it might b

[2018-10-23 10:33] kuhnchris opened #2516 "https://gitcoin.co/not_a_token 's most bottom medium.com link 404s"
Hi there.

The link behind "Read more" is broken, it leads to a 404 on Medium.
![image](https://user-images.githubusercontent.com/761911/47354739-c8289300-d6bf-11e8-9af6-9541e792b052.png)

- Chris

[2018-10-23 10:34] spiegeleixxl commented on #2515
Do you want to simply filter it like with the available bounties, or do you want to have predefined tabs to select between the various bounty statuses?

[2018-10-23 10:38] spiegeleixxl commented on #2510
I sadly cannot verify you are Taylor Swift, but what I can do is actually think about this:
* What limits should apply to "verify" a user?
* Are there some requirements before an admin can actually verify a person?
* Can we actually garantee that the verification is correct or just that the person is cozy enough with an (hopefully unbiased) admin?
* Isn't there a way to actually verify identity wi

[2018-10-23 10:43] spiegeleixxl commented on #2508
Hmm basically you guys want to create an additional template placeholder if contibutes <= 0 to show either an additional reusable page template (with the Grow tree) or simply put that styled html right in there. A hard look at the source reveals that this should be https://github.com/gitcoinco/web/blob/d6e81dc4c8cad12df12392f7861ccc12669d1649/app/dashboard/templates/profiles/profile.html#L124 over

[2018-10-23 10:46] spiegeleixxl commented on #2491
*badum dish*
![image](http://www.reactiongifs.com/r/daduntsh.gif)

You want this to be triggered from the web app itself, or do you want to have the slack-bot spider the bounties and alert by itself?

[2018-10-23 11:54] thelostone-mc commented on #2508
@spiegeleixxl yup you've got that right ! Feel free to have a go at it if you are interested ^_^

[2018-10-23 12:20] spiegeleixxl commented on #2508
FYI there is currently a "No data available" here.
![image](https://user-images.githubusercontent.com/761911/47360078-b7334e00-d6ce-11e8-9988-9bbf51e876e8.png)

[2018-10-23 15:02] spiegeleixxl commented on #2462
How about alternatively something like a "verified skill badge"? Kind of like the mTurk thing where people qualify with certain "bounties" to gain skill badges, and hide bounties that require a certain skill badge to work at.
A skill badge could be anything from trust to a specific verified skill (javascript for example), or even a technology itself (django, node, ...). It would only make sense if

[2018-10-23 15:08] willsputra commented on #2508
I've uploaded the three icon svgs here:
https://drive.google.com/open?id=1vGW1cLkuWi7VoOIKtVctcAtixNhzfObA

[2018-10-23 16:36] spiegeleixxl commented on #2508
Nice, you wanted something like this?
![image](https://user-images.githubusercontent.com/761911/47376286-7fd69880-d6f2-11e8-8392-a895f341d017.png)

[2018-10-23 16:58] spiegeleixxl commented on #2508
![image](https://user-images.githubusercontent.com/761911/47377431-8adef800-d6f5-11e8-9290-b1f45e2b7f78.png)

anything else you'd like to have there?

[2018-10-23 17:08] willsputra commented on #2283
@Anish-Agnihotri @frankchen07 Loving the thoughtful discussion ❤️

My thoughts:
CMIIW, but I guess we're trying to put 4 different CTAs into the landing page here:
- direct New Contributors to `/onboard/contributor` (_Get Started with Gitcoin_)
- direct New Funders to `/onboard/funder` (_no button yet_)
- direct Existing Contributors to `/explorer` (_View Available Bounties_)
- direct Existing Fun

[2018-10-23 17:10] thelostone-mc commented on #2508
@spiegeleixxl Ah you've got the layout right but the styling and stuff would have to match what @willsputra has shared :)
The sketch files he provided is what we'd want coded up

[2018-10-23 17:20] willsputra commented on #2508
@spiegeleixxl Great start! Few comments on the styling:
- Could we make the tree and the 3 icons smaller?
- For the three cards, use the same font size as 'Oops! Looks like this user...' and center-aligned
- The three cards don't need to be that tall (currently lots of whitespace between the text and the button)
- Could we style the buttons according to the mockup? (blue bg, white text)
- Maybe we

[2018-10-23 17:31] spiegeleixxl commented on #2508
Hi there @thelostone-mc  and @willsputra !
OK, I actually tried to use the "existing" CSS themes and avoid creating something new, if you say you want to match that mockup (thanks, I was missing that!) 1:1 then I will simply create new CSS rules - makes it easier for me aswell since including the card.css broke the "Founder" / "Contributor" boxes on top of the page...

@willsputra regarding your p

[2018-10-23 18:49] owocki commented on #2463
@ceresstation checkout slack => https://gitcoincore.slack.com/archives/CAW05FUD7/p1540300113000100

[2018-10-23 18:54] owocki commented on #2491
just sending alerts to myself and eric is fine for now!

[2018-10-23 20:08] owocki opened #2520 "soft launch -grants deployment should only be limited to staff upon initial launch"
# what

grants deployment should only be limited to staff upon initial launch

# why

we dont have total confidence in grants when it first launches

# todo list

* on the main grants page, below the fold, if accessed as a staff, will be the actual LIVE grants project.
* on the main grants page, below the fold, if accessed *by anyone else*, should be replaced by some text that says "Grants are com

[2018-10-23 20:08] owocki commented on #2520
cc @captnseagraves @mbeacom

[2018-10-23 20:19] owocki opened #2521 "garbled text on gitcoin.co/new"
garbled text on gitcoin.co/new

chrome, latest, on a mac

![image 8](https://user-images.githubusercontent.com/513929/47388119-98cd5280-d6ce-11e8-9d54-33216a266e33.png)

to repro: clear cookies, go to gitcoin.co/new and login

[2018-10-23 21:16] owocki commented on #2472
for posterity.. here is an artboard that can be used to fix this in the future => http://bits.owocki.com/966d6b977c53/Gitcoin-Artboard%20mk2.sketch

[2018-10-23 21:19] owocki commented on #2472
hmmm nevermind, i thought this would work but it didnt https://c.gitcoin.co/avatars/d62d38e7c4bee5b4df471e7003433297/owocki.svg

[2018-10-23 21:42] thelostone-mc commented on #2283
Just putting it out there from what I've interacted with the new folks over at the community slack channel -> they say the https://gitcoin.co/how/contributor has always been super helpful

Its right there on the nav but often fails to grabs folks attention.

[2018-10-23 21:54] spiegeleixxl commented on #2508
Hey ho @willsputra sorry to double post (again). Attached you have a side-by-side compare between the sketch and my version. Any more wishes? Want to have the border around the buttons gone? smaller font?

Thanks!
-Chris

P.S. I took the freedom of correcting "projaect" to "project". ;-)

[2018-10-23 22:01] thelostone-mc commented on #2508
If i'm not wrong it should work fine if you set [this](https://github.com/gitcoinco/web/blob/master/app/dashboard/models.py#L2240) as an empty array and then update the conditional check in [profile.html ](https://github.com/gitcoinco/web/blob/master/app/dashboard/templates/profiles/profile.html#L123)
 to check `activities|length == 0`  show the template you are working on else whatever is already

[2018-10-23 22:03] spiegeleixxl commented on #2508
Well, technically, yes, and thanks for pointing it out, I saw that spot already.
I'm only hesitating to change it right now because I do not know if this is a work-around for some other bug, I would need to check the surrounding code to see if it would cause any troubles if that activities array is empty.

Thanks

[2018-10-23 22:05] spiegeleixxl commented on #2521
Weird - seems fine here.
Chrome - Mac - Latest Stable
![image](https://user-images.githubusercontent.com/761911/47393689-7e23c980-d720-11e8-9025-1e8f39f01b0d.png)
Can you try injecting the javascript itself from here ( https://github.com/gitcoinco/web/blob/c66cbc99218da191ef4ef0a67f742fe23b983e74/app/assets/v2/js/base.js) and see if this still looks garbled to you?

[2018-10-23 22:50] owocki commented on #2521
@cmditch anything else you can tell us about how to repro?

[2018-10-23 22:59] frankchen07 opened #2523 "As a contributor, I'm having a trouble submitting my work, which ends up creating overhead for the funder, as they need to cancel the bounty and pay a tip. As a funder, I prematurely cancel my bounty after completion, and choose not to complete the Gitcoin stages to the "done" status."
### Discussion

As a contributor, I'm having a trouble submitting my work, which ends up creating overhead for the funder, as they need to cancel the bounty and pay a tip. This also has the negative effect of bounty tracking on the data side, as the status is now marked as "cancelled" when it really should be "done."

Example : https://github.com/jschiarizzi/ost-evnt/issues/2

As a funder, I prema

[2018-10-24 00:02] frankchen07 opened #2524 "As a funder, when I'm on the funder form inputting a token amount to price an issue, the USD amount is automatically populated, however, when changing the USD amount, the token value is not re-populated or populated with an inexact integer."
**Describe the bug**
As a funder, when I'm on the funder form inputting a token amount to price an issue, the USD amount is automatically populated, however, when changing the USD amount, the token value is not re-populated or populated with an inexact integer.

**To Reproduce**

Token value is not re-populated:

1. https://gitcoin.co/funding/new
2. Scroll down to the pricing section.
3. Enter 1 E

[2018-10-24 00:17] #2472 closed

[2018-10-24 00:17] Anish-Agnihotri commented on #2283
@willsputra

Appreciate the feedback! That sounds along the lines of what I was thinking of regarding number of CTA's on landing page. Essentially, what could be done to combine both your thoughts and @frankchen07's thoughts could be something along the lines of:

1. Changing the URL of the _Fund an Issue_ button on the homepage. This seems like a great idea right off the bat. I feel as if most re

[2018-10-24 00:52] owocki commented on #2424
hi from the airport ✈️ !

updates:
- i founder the [subminer implementation](https://github.com/gitcoinco/web/blob/grants-listener/app/grants/management/commands/sub_listener.py).
- initial design pass:

from looking at [the smart contract](https://github.com/gitcoinco/grants1337/blob/master/Subscription/Subscription.sol), i'm just not seeing a lot of information to sync from the blockchain back t

[2018-10-24 01:10] cmditch commented on #2521
Tried to reproduce it by clearing cookies and revoking oauth token in github, but haven't been able to get the modal to pop back up.

Is there something in the database tied to my account that can be flipped, and I'll try at it again.

[2018-10-24 01:49] Anish-Agnihotri commented on #2524
The pricing modal in `dashboard/templates/shared/pricing.html` has an ETH Value that is populated with a value filling the id of `amount`. This `amount` value is calculated by using an estimation on the inputted USD value with the following function:

[code]
It seems that the issue is with the rounding of inputted USD values and then their subsequent conversion to ETH values. I'll take a look at t

[2018-10-24 02:11] Anish-Agnihotri commented on #2493
Hey, just dropping an update. Actually working on fixing this in a revised Gitcoin bot PR altogether at #1528.

[2018-10-24 05:55] jakerockland commented on #2467
@gitcoinbot yeppers, PR @ https://github.com/gitcoinco/web/pull/2525

[2018-10-24 07:00] #2467 closed

[2018-10-24 08:13] usmanmuhd commented on #1179
@thelostone-mc Cool, I'll take this up!

[2018-10-24 15:05] captnseagraves commented on #2424
@owocki seems like you are in the right direction. The data that is given to the constructor is partially saved in creation, but we should be have it all saved. The listening for the ‘executeSubscription’ event is the most crucial piece and should be stored in Contribution. I will try and implement any needed fields on the plane today.

We should also store any events emitted on cancelSubscription

[2018-10-24 17:51] willsputra commented on #2355
@owocki cc @PixelantDesign First draft below! Came up with two possible views: tabs and one page. What do you think?

Let me know too if I should add anything to the copy. Thanks!

**Tabs**

![fund](https://user-images.githubusercontent.com/19514207/47450537-1b056600-d7f8-11e8-9cfe-5500bd63320a.jpg)
![start](https://user-images.githubusercontent.com/19514207/47450541-1b9dfc80-d7f8-11e8-9d1a-f4c9ab

[2018-10-24 19:39] PixelantDesign commented on #2508
@willsputra what do you think?

[2018-10-24 19:54] spiegeleixxl commented on #2508
Depends on what you mean by "responsive view", I took the color from the sketch, but don't nail me down on that, I never used that tool before...
Side by side compare:
![image](https://user-images.githubusercontent.com/761911/47457391-41ff7000-d7d7-11e8-96f0-ff8491b06208.png)
Alternatively you can take a look at it at http://kuhnchris.eu:8000/profile/SpiegelEiXXL-WGJ-Creations (if redis doesn't ki

[2018-10-24 20:31] pinkiebell commented on #1964
I'm ready to take this on - if needed 👍

[2018-10-24 22:33] owocki commented on #2424
https://github.com/gitcoinco/grants1337/blob/master/Subscription/Subscription.sol#L55

@austintgriffith i dont see any events emittted upon `cancelSubscriptoins`.  do we want to add this as an event?

[2018-10-24 22:45] austintgriffith commented on #2424
Yes that's probably a good idea. I'll add that into my contract now.

[2018-10-24 22:50] austintgriffith commented on #2424
https://github.com/EthereumOpenSubscriptions/reference-client/blob/master/Subscription/Subscription.sol#L220

[2018-10-24 22:58] Anish-Agnihotri commented on #2283
@willsputra

For sure :). It would certainly make most sense to do some analysis on whether or not return-funders are using the button, before making a drastic, potentially frustrating change to their flow.

As for your second idea, that sounds like a great idea as well. That would resolve the purpose of a two-column CTA altogether. I think we had thrown that idea around earlier though, so I'll cc

[2018-10-24 23:06] frankchen07 commented on #1461
hey @vision-4, Frank from Gitcoin here - are you still working on this issue?

[2018-10-24 23:57] ryan-shea commented on #2370
@usmanmuhd Ryan from Gitcoin checking in here. Do you have any questions? I didn't see a PR from you 😄 Let me know if you need anything with this issue 🔨

[2018-10-25 00:15] ryan-shea commented on #2125
Hey @pinkiebell, Ryan from Gitcoin. Want to let you know that @vs77bb and the rest of the Gitcoin team have been busy with travel, and will get to look at this soon 😄 If you have any questions, feel free to ping me in Slack! I'm `rshea`. 🔨

[2018-10-25 00:28] ryan-shea commented on #1471
Hey @aman935, Ryan from Gitcoin here. How's the work coming on this one? If you have any questions, feel free to let me know. I am here to help! 😄

[2018-10-25 00:35] ryan-shea commented on #2467
@owocki looks like this one is ready to be paid out! :)

[2018-10-25 00:39] usmanmuhd commented on #2370
@ryan-shea I have a WIP PR open. Had to turn in a few assignments. Hopefully this should be resolved by this weekend.

[2018-10-25 02:02] PixelantDesign commented on #1863
@ceresstation please payout the bounty! :)

[2018-10-25 03:04] maurelian opened #2527 "As a funder, my issue data should be populated in the bounty"
**Describe the bug**

When I paste the issue URL in, no data is pulled from Github.

**To Reproduce**

Paste this into an issue URL: https://github.com/maurelian/Newsletter/issues/1

**Screenshots**
![image](https://user-images.githubusercontent.com/23033765/47473510-e89c3e80-d7e0-11e8-8d60-70db083b6ebf.png)

Image from here:
https://gitcoin.co/issue/maurelian/Newsletter/1/1610

**Desktop (please

[2018-10-25 03:41] aashutoshrathi commented on #1863
I have not received bounty for this :sweat_smile:

[2018-10-25 07:38] spiegeleixxl commented on #2508
Hey there @willsputra - thanks for the quick response - attached you see the changes I made regarding your requests:

Adapted font color:
![image](https://user-images.githubusercontent.com/761911/47483446-93d8e200-d839-11e8-9698-c96d5e4fe29d.png)

Columns when too small:
![image](https://user-images.githubusercontent.com/761911/47483476-a6531b80-d839-11e8-9e6d-af97e91698e0.png)

Thanks!
-Chris

[2018-10-25 11:47] Anish-Agnihotri commented on #2527
Hey there!

This seems to be working for me [(demo](https://streamable.com/fsdil)) if I use the link you specified.

Are you still facing this issue? If so, would you mind sending a screenshot of your console (so that I can see if there are any issues)? Assuming you are in chrome, simply `Right Click + Inspect` and press `Console` to bring that up.

[2018-10-25 12:17] Destiner opened #2528 "Can't start new work even though I only have 2 active tasks"
**Describe the bug**
When I tried to start work, I received the message "You may only work on max of 3 issues at once". However, I have only 2 active tasks.

**To Reproduce**
* Pick any open task that can be started
* Press "start work"
* Write plan & click "submit"

**Expected behavior**
It should allow to start a task.

**Screenshots**
Error message
<img width="1437" alt="screen shot 2018-10-25

[2018-10-25 13:32] usmanmuhd commented on #1964
@owocki I was thinking of having a `Allow Gitcoin to access Metamask` kind of button on the top, in the nav bar. Basically you need to authenticate first. If unauthenticated, the flow should be handled just the way it is done for Metamask locked albeit with a different message. The problem with this approach is that will it persist to the tips page and so on.
PS: I also installed Metamask using th

[2018-10-25 13:39] Destiner commented on #2528
Seems like [this](https://gitcoin.co/issue/ethereum-ts/TypeChain/94/1262) issue may contribute to this behavior. I finished this issue couple days ago, but it still shows as open both on Gitcoin and Github issue page.

<img width="875" alt="screen shot 2018-10-25 at 16 38 16" src="https://user-images.githubusercontent.com/4247901/47504201-6fe6c200-d874-11e8-9d13-a43dea47293e.png">
<img width="798"

[2018-10-25 14:18] PumpkingWok commented on #1964
Hi @usmanmuhd,
Unfortunately if you want test the new UI and the privacy mode you have to install the latest custom build (https://github.com/MetaMask/metamask-extension/pull/4703#issuecomment-430814765), i think that metamask will implement the new features in the next release.

If i understood well there will be three phases:
 1) From November 2 Metamask will set the privacy mode OFF by default,

[2018-10-25 14:35] usmanmuhd commented on #1964
@PumpkingWok I installed the custom build itself. I even enabled the privacy mode. But still I do not get a UI asking for approval. It does work as expected (i.e. does not work without calling ethereum.enable()).

[2018-10-25 14:43] ceresstation commented on #2515
@spiegeleixxl I'm open to either approach personally, though a filter might be more concise, open to feedback!

[2018-10-25 14:43] willsputra commented on #2508
@spiegeleixxl yes! let's add a bit of vertical margins between the cards, and you can go ahead with the PR :)

[2018-10-25 14:48] PumpkingWok commented on #1964
Hi @usmanmuhd, What build have you tried ? cf02009 or 634121d ?
I have had no issue, how did you try it ?
You can use console to test the UI in easy way.

Thanks.

[2018-10-25 15:13] PumpkingWok commented on #1964
Hi,
Perfect, i'm happy that you resolved it.
In any case ask me without problems !!

[2018-10-25 15:25] spiegeleixxl opened #2529 "Pull Request references invalid object"
**Describe the bug**
The link in the PR template (https://github.com/gitcoinco/web/blob/contributing/CONTRIBUTING.md) is invalid. The proper one is linked a bit below: https://github.com/gitcoinco/web/blob/master/docs/CONTRIBUTING.md

**To Reproduce**
Make a PR.

**Expected behavior**
A valid link

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47511561-c820c280-d87a-11e

[2018-10-25 16:08] vs77bb commented on #2164
Good work @pinkiebell 🎉

[2018-10-25 16:25] willsputra opened #2531 "Design a cleaner tagging experience on the Gitcoin funder form"
### Background

The tagging experience on the funder form is not very intuitive. Let's design a new one.

Design discussion below:

[2018-10-25 16:29] vs77bb commented on #2125
@pinkiebell

I'm not sure I understand when this can happen 🤔

[2018-10-25 16:40] vs77bb commented on #1855
Yes @saketbairoliya2; sorry for the late response. That's the right place to look.

[2018-10-25 16:58] pinkiebell commented on #2125
@vs77bb

Well, the advanced payout feature does kill the bounty and will use the tip system to disburse payments.

We just save it as Work Done not Killed.
That means a bounty can be successfully marked as Done without even someone submitted work.

Snippet from Gitcoin.cli (Dead = Killed)
[code]

[2018-10-25 16:59] spiegeleixxl commented on #2473
Cleaned up the workdir, created a new branch, added code for Wallpaper - should be getting generated properly now:
![image](https://user-images.githubusercontent.com/761911/47517270-f789fc00-d887-11e8-9179-70f8e65eb64f.png)

As I asked - any particular wallpaper you want to have added or want just to have the possibility to add Wallpapers to the system?

Thanks
-Chris

[2018-10-25 17:00] frankchen07 commented on #2283
Great discussion!

I would say that the CTAs we're focused on are just the contributor and funder onboarding CTAs (2 CTAs).

I love the design via @thelostone-mc's community feedback, @willsputra, @PixelantDesign  and @Anish-Agnihotri's input. Love how the "get started" buttons leads to the onboarding, and the "learn more" leads to the explanation pages. Covers all our bases.

I'd vote against doi

[2018-10-25 17:38] frankchen07 commented on #2261
hey @wonderwomancode - I've removed you from the bounty since you've been unresponsive. If the bounty is open later and you're able and willing to do it, feel free to start work again!

[2018-10-25 17:43] aashutoshrathi commented on #2261
@frankchen07 I would like to take the issue, can you add more to the description.
Thanks

[2018-10-25 17:48] maurelian commented on #2527
Yes, working now. Thanks! I think there were issues with the GitHub API last night, as links in slack weren't expanding either.

[2018-10-25 17:48] #2527 closed

[2018-10-25 17:53] frankchen07 commented on #2493
@Anish-Agnihotri - thanks for the helpful update! I'll make a quick edit in the description to reflect the linked ticket.

[2018-10-25 18:33] PixelantDesign commented on #2529
Thanks for reporting this @spiegeleixxl!

[2018-10-25 18:37] kuhnchris opened #2532 ""Bounties Funded" shows 0 items despite having more than 0 items."
**Describe the bug**
In the profile page, the tab "Bounties Funded" always shows (0)

**To Reproduce**
Go to https://gitcoin.co/profile/gitcoinco

**Expected behavior**
See the real number in "()".

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47522375-b13b9980-d895-11e8-951b-3c820fec7b63.png)

**Desktop (please complete the following information):**

- OS: Mac OS X Hi

[2018-10-25 19:42] PixelantDesign opened #2534 "Issue Details Activity Stream Bug"
Worker applied, not shown in activity List.
Worker who was approved shows 3 times in the Work Start column.

![image 21](https://user-images.githubusercontent.com/238235/47525831-2e521900-d86c-11e8-9272-841cad092078.png)

<img width="964" alt="screen shot 2018-10-25 at 3 38 20 pm" src="https://user-images.githubusercontent.com/238235/47525789-2003fd00-d86c-11e8-9b19-180951c74927.png">

Also occurs

[2018-10-25 19:45] PixelantDesign opened #2535 "Landing Page Activity Feed - Visual Bug"
Different icons should be used instead of checks.

![image 22](https://user-images.githubusercontent.com/238235/47526187-01eacc80-d86d-11e8-846e-cb81f1957c8f.png)

[2018-10-25 21:45] frankchen07 opened #2536 "There are duplicate issues in the Gitcoin Issue Explorer."
**Describe the bug**
There are duplicate issues in the Gitcoin Issue Explorer.

**To Reproduce**
When this issue was in open status, there were duplicates. However, the issue is now in work started status, and is no longer a duplicate.

**Expected behavior**
There should only be 1 instance of each unique issue in the Issue Explorer, regardless of status.

**Screenshots**
![screen shot 2018-10-22 a

[2018-10-25 22:12] frankchen07 opened #2537 "Issues in the Issue Explorer with duplicate titles should not be allowed."
### User Story

As a contributor, I find it confusing that two issues have the same subject line, but are in different statuses.

### Why Is this Needed

Issues should only be in one status, therefore, issues with exact naming should not be allowed. Currently, there can be issues with the same subject line, different IDs and different statuses - this makes it confusing when a user specifically sea

[2018-10-25 22:31] frankchen07 commented on #2425
added additional examples that I found as well.

[2018-10-25 23:30] frankchen07 opened #2538 "As a contributor, I'd like to see the correct time estimate on a Gitcoin Issue."
### User Story

As a contributor, I'd like to see the correct time estimate on a Gitcoin Issue.

### Why Is this Needed

317 years is not an option that a funder can select in the "expires in" section of the funder form.

### Description
Example: https://gitcoin.co/issue/MetaMask/metamask-extension/3127/1155

On the issue details page:
![screen shot 2018-10-24 at 14 15 58](https://user-images.gith

[2018-10-25 23:35] frankchen07 opened #2539 "On certain Gitcoin Issue Details pages, there are empty activities by funders and contributors under the All Activity section."
**Describe the bug**
On certain Gitcoin Issue Details pages, there are empty activities by funders and contributors under the All Activity section.

**To Reproduce**
Example 1: https://gitcoin.co/issue/novnc/noVNC/944/1047

![screen shot 2018-10-24 at 14 32 15](https://user-images.githubusercontent.com/7516920/47536199-b8ea4680-d873-11e8-9b05-53dbca955696.png)

Example 2: https://gitcoin.co/issue/

[2018-10-25 23:50] frankchen07 opened #2540 "The Gitcoin Issue Details page Github link says "Issue is Closed" even after the Github issue is re-opened, and the Gitcoin status is open."
**Describe the bug**
The Gitcoin Issue Details page Github link says "Issue is Closed" even after the Github issue is re-opened, and the Gitcoin status is open.

**To Reproduce**
Example: https://gitcoin.co/issue/MetaMask/metamask-extension/4074/865

On Gitcoin Issue Details:
![screen shot 2018-10-25 at 16 47 05](https://user-images.githubusercontent.com/7516920/47536590-ca345280-d875-11e8-90fa-c5

[2018-10-26 00:01] frankchen07 opened #2541 "As an admin who is not the funder of an issue, I'd like an easy way of removing abandoned workers."
### User Story
As an admin who is not the funder of an issue, I'd like an easy way of removing abandoned workers.

### Why Is this Needed
The admin controls currently do not incorporate a "remove worker" option if you are not the funder of an issue. For Gitcoin Core folks doing Issue Explorer checkins, it is critical that we can easily remove abandoned workers from issues with ease.

### Current B

[2018-10-26 10:44] kuhnchris opened #2542 "Slack Bot reports (and prolly assumes) Worker applied == WORK STARTED"
**Describe the bug**
Worker applied for issue in issue explorer - Slack Bot reports that work on the bounty has started. Yet, we cannot start on working on the bounty because the owner has to approve the worker first.

**To Reproduce**
Apply for Work on a Issue requiring worker approval

**Expected behavior**
No comment by Slack Bot and/or System OR change of message "WORKER APPLIED" by slack bot

[2018-10-26 10:50] kuhnchris opened #2543 "Slack Bot Name is generic"
**Describe the bug**
Slack Bot is a generic API caller (A02-slack-api-tester / welcome_bot example), and therefore does not have official charm as gitcoin bot.

**To Reproduce**
Login to Slack, join #notif-gitcoin, check messages by "Slack API Tester"

**Expected behavior**
Either register own application or name the bot something else

**Screenshots**
![image](https://user-images.githubuserconten

[2018-10-26 12:17] zevaverbach commented on #1964
@owocki confirming that @usmanmuhd is now working on this, so i wont
proceed with doing so this weekend.

On Wed, Oct 24, 2018 at 10:40 PM Gitcoin.co Bot <notifications@github.com>
wrote:

--
Zev Averbach
Averbach Transcription
(802) 276-5934
avtranscription.com <http://www.avtranscription.com/>

[2018-10-26 14:52] PixelantDesign commented on #2543
@spiegeleixxl I had the same thought but didn't have any great ideas on a name at the time. Do you have any suggestions?

We could also use one of our Gitcoin Robot's names - Reguluar, Prime, Divine....open to suggestsions!

[2018-10-26 15:50] spiegeleixxl commented on #2543
We could go with "Gitcoin" my itself, or "GitcoinBot" or "Gitcoin Update" or "Gitcoin Message" or "Gitcoin Status" or "Gitcoin Interface". Anything with Gitcoin in the name. ;-)

-Chris

[2018-10-26 15:56] spiegeleixxl commented on #2541
So instead of "Interested" you actually want to have the Github Handle/Gitcoin Username, instead of "comment" you want to see the actual comment (instead of the ID) and a button to remove the person? Technically it's a admin function (assumingly a Django Admin Function, as far as I can see). For testing purposes I'd need a way to re-create something like that on testnet/a local test instance,is th

[2018-10-26 17:00] willsputra opened #2544 "As a funder, I'd like to have a weekly recap on how my bounties are doing"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a funder, I'd like to have a weekly recap on how my bounties are doing.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: If a funder has multiple bounties being work

[2018-10-26 17:14] PixelantDesign commented on #2277
Looks great! I'll create a build ticket.

[2018-10-26 17:28] kuhnchris opened #2545 "GitcoinBot shows tips without reference"
**Describe the bug**
GitcoinBot just posts "New tip worth *"

**To Reproduce**
Unknown

**Expected behavior**
A link to the tipped bounty

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47582659-418ce380-d955-11e8-9cd0-00604061afde.png)

[2018-10-26 18:01] willsputra opened #2546 "Explore Design of Surface Open Bounties Via Flyout"
### User Story
As a contributor, I'd like an easy way to see more info on a bounty without going into the Issue Details page.

### Description
One idea we'd like to explore is by using a flyout.

### Definition of Done
- [ ] Mockup ways to solve for the above.
- [ ] Consider how to solve for responsiveness of the page.

[2018-10-26 18:05] willsputra commented on #2546
@PixelantDesign the flyout will provide the skillset tags and also the latest activity. skillset tags could be limited to only show 5.

![issueexplorer](https://user-images.githubusercontent.com/19514207/47584241-4d47cc80-d98c-11e8-8fd5-1a55819d4e5f.png)

[2018-10-26 18:07] willsputra commented on #2390
@PixelantDesign we could have a 'Featured Bounties' section on top. might need to think about the mechanism too: how does a funder get his/her bounty into the 'Featured Bounties' section?

![issueexplorer](https://user-images.githubusercontent.com/19514207/47584372-cb0bd800-d98c-11e8-9414-25ae6d433801.png)

[2018-10-26 18:10] spiegeleixxl commented on #2546
Sounds good, but I assume we need to ensure a maximum result amount, because we need to provide that extra data beforehand? Or do you want to load it on-demand?

[2018-10-26 20:47] PixelantDesign commented on #2510
All great questions @spiegeleixxl

We need to come up with what being _**verified**_ on Gitcoin means.
We know who you are or you've completed x bounties with us, you're a trusted contributor, etc. I think there should definitely be some requirements. We will also need to think about the experience here.

From a ux perspective and to keep it things light, maybe there is a request to be verified bu