[2022-04-08 21:25] #10004 closed

[2022-04-09 08:02] thelostone-mc commented on #10471
[code]

List has been sent over to Jonas

[2022-04-10 00:17] #10471 closed

[2022-04-11 00:16] kammerdiener commented on #10420
@nutrina the Apex domain has been set now: http://staging.gitcoin.co/

[2022-04-11 12:52] GTChase opened #10476 "Update bounty details page"
**User Story:**
As a contributor
I want to see the fields from the bounty creation worfklow
So that i receive the value of the fields that were added to understand the scope of a bounty completley

**Acceptance Criteria**
GIVEN I have deployed the new bounty creation workflow
WHEN I click into ANY bounty to see its details
THEN I should see the following new fields as then:
- Contact information -

[2022-04-11 19:29] nfrgosselin opened #10478 "Only show active grants in global search"
**Spike timebox: half day**

**User Story:**
As a Gitcoin user
I want to only see active grants in the global search results
So that I don't waste my time with outdated grants

**Acceptance Criteria**
GIVEN that I am on gitcoin.co and have entered a search term in global search
WHEN I click "go"
THEN I only see active grants in the results

^ this is the desired behavior —> please pair with Nate a

[2022-04-11 19:37] nfrgosselin opened #10479 "Reduce minimum characters in global search to 3"
**User Story:**
As a Gitcoin user
I want to be able to search for 3-character strings in global search
So that I can find important projects related to DAOs, NFTs, etc

**Acceptance Criteria**
GIVEN that I am on gitcoin.co
WHEN I type a 3-character search term into global search
THEN I don't see "Type in 1 more characters to get results"
AND I see "Click 'Go' to Search."
AND I am able to initiate

[2022-04-11 19:52] nfrgosselin opened #10480 "Change result amount logic in global search"
**User Story:**
As a Gitcoin user
I want to see accurate result counts and relevant actions in global search
So that I'm not confused by what's available on the platform

**Acceptance Criteria**
GIVEN that I have entered a search term in global search
WHEN there are more than 100 items in a category that meet the search criteria
THEN I want to see the total count in the results count bar
AND I wan

[2022-04-11 19:57] nfrgosselin opened #10481 "Update relevance priority in global search results"
**Spike timebox: half day**

**User Story:**
As a Gitcoin user
I want to see the most relevant results first
So that I can more easily find what I'm looking for

**Acceptance Criteria**
GIVEN that I have entered a search term in global search
WHEN the results load
THEN I see exact matches first (if I type "ether" than I should see "ether grant"  before "ethereum grant")
AND THEN I see matches that

[2022-04-11 21:19] nfrgosselin opened #10482 "Gitcoin doesn't allow Polygon checkout on Coinbase"
**Overview**
Gitcoin throws an error when a user tries to go through Polygon checkout using the Coinbase Wallet dapp browser. Instead of prompting to switch the network to Polygon, Gitcoin shows an error that says “Polygon Checkout is not supported on this wallet. Select another checkout option or switch to MetaMask.”

**Steps To Reproduce**
1. Open up Coinbase Wallet
2. Navigate to gitcoin.co in

[2022-04-11 22:40] GTChase opened #10484 "Allow all bounty owners to pay out bounty"
**User Story:**
As a funder
I want the people that i add as bounty owners to be able to pay out bounties
So that I am not the bottle neck of payments and more then one wallet can payout

**Acceptance Criteria**
**Payout out as a bounty owner**
GIVEN I have created a bounty
AND i have added bounty owners
WHEN I view the submissions for a bounty
AND i am logged in as a person who is a bounty owner
T

[2022-04-11 23:13] GTChase opened #10485 "Prevent Work Submission on Expired bounties"
**User Story:**
As a funder
I want to prevent users from submitting work when ever my bounty is expired
So that it isnt a poor experience for any contributors

**Acceptance Criteria**
**Expire bounties**
GIVEN I have created a bounty
AND that bounty has a submission cut off date in the future
WHEN that date passes
THEN bounty contributors should no long have access to express interest or submit wo

[2022-04-12 04:57] Vic23M opened #10487 "👌🏻"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2022-04-12 04:58] #10487 closed

[2022-04-12 13:47] nfrgosselin opened #10488 "Revise Grant Explorer search bar behavior"
**User Story:**
As a Gitcoin user
I want to be able to see the Grant Explorer filters while I am working with the explorer search bar
So that I know what filters have already been enabled

**Acceptance Criteria**
GIVEN that I am on gitcoin.co/grants/explorer/ and the explorer search bar is empty
WHEN I click into the search bar
THEN the search bar expands to cover 2/3 of the page
AND does not cove

[2022-04-12 13:50] nfrgosselin opened #10489 "Update relevance priority in grants explorer search"
**User Story:**
As a Gitcoin user
I want to see the most relevant results first
So that I can more easily find what I'm looking for

**Acceptance Criteria**
GIVEN that I have entered a search term in the grants explorer search bar
WHEN the results load
THEN I see exact matches first (if I type "ether" than I should see "ether grant" before "ethereum grant")
AND THEN I see matches that start with m

[2022-04-12 18:23] nfrgosselin opened #10491 "Test #2"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-04-12 21:49] nfrgosselin commented on #10423
Hi Jay, thanks for the note! If you send this to [support@gitcoin.co](mailto:support@gitcoin.co) they can help you out.

[2022-04-12 21:49] #10423 closed

[2022-04-12 21:49] #10401 closed

[2022-04-13 11:02] #10120 closed

[2022-04-13 11:03] thelostone-mc commented on #10435
These are done and recorded over at https://discord.com/channels/562828676480237578/956258102263578684/963689587203530782

[2022-04-13 11:03] #10435 closed

[2022-04-13 11:04] thelostone-mc commented on #10452
The claim object has been ingested from the merkle generator into the DB.
The logs are captured here:
https://discord.com/channels/562828676480237578/956258102263578684/963689587203530782

[2022-04-13 11:04] #10452 closed

[2022-04-13 11:05] thelostone-mc commented on #10451
Deploy are done and recorded here:
https://github.com/thelostone-mc/merkle_payouts#deploys

[2022-04-13 11:05] #10451 closed

[2022-04-13 11:06] thelostone-mc commented on #10451
<img width="933" alt="image" src="https://user-images.githubusercontent.com/5358146/163167310-14868e80-78e7-4603-b5b1-5f31dd2d737c.png">

[2022-04-13 13:48] GTChase opened #10492 "Bounty Creation Wizard Validations`"
**User Story:**
As a funder
I want the form to be validated on each step
So that i know i have correctly inputted the right information before proceeding

**Acceptance Criteria**

**Initial Step validation - success**
GIVEN I am on any step in the new bounty creation workflow
AND i have inputted all fields correctly
WHEN I click the next button
THEN I proceed to the next step with no problems

**I

[2022-04-13 16:11] GTChase opened #10493 "Fee information for posting bounty"
**User Story:**
As a funder
I want to know about the 10% fee to post a bounty
So that i am aware of the total cost

**Acceptance Criteria**
**Display Fee Information - Non Pro Member - no payment details added**
GIVEN I am creating a bounty
AND i am not a pro member
WHEN I navigate to the Payment Details page
AND have not entered any payment details
THEN I will see a banner warning me about the 10

[2022-04-13 18:15] willsputra commented on #10485
figma link for expired bounty:
https://www.figma.com/file/8AFLrc4dx9xnMXUkWOAaAR/Existing-Bounties-Updates?node-id=442%3A991

[2022-04-13 18:15] willsputra commented on #10492
error state:
https://www.figma.com/file/8AFLrc4dx9xnMXUkWOAaAR/Existing-Bounties-Updates?node-id=263%3A928

[2022-04-13 20:40] nollied opened #10494 "tests are failing on main for 20 days"

[2022-04-14 06:52] nutrina commented on #10438
Cronjob has been deactivated.

[2022-04-14 06:53] #10438 closed

[2022-04-14 12:45] nfrgosselin commented on #10489
This story is an evolution of #10414

[2022-04-14 12:45] nfrgosselin commented on #10414
Hey @chibie — as we discussed, I'm closing this story and assigned you to #10489 since it has more detail on the behavior we want to change.

[2022-04-14 12:45] #10414 closed

[2022-04-14 12:48] nfrgosselin opened #10497 "Update twitter unfurl image"
**User Story:**
As a Gitcoin admin
I want to update the twitter unfurl image
So that posted tweets don't show GR13 information

**Acceptance Criteria**
GIVEN that have a link to Gitcoin
WHEN I post that link on Twitter
THEN I see the revised Twitter unfurl image in the post

**Product & Design Links:**
New unfurl image:
![GenericTwitterUnfurl](https://user-images.githubusercontent.com/15041635/163

[2022-04-14 14:45] nfrgosselin opened #10499 "Enable Twitter unfurl image configuration in Django admin"
**User Story:**
As a Grants Ops user
I want to be able to update the  in Django
So that I can keep our marketing materials up-to-date

**Acceptance Criteria**
GIVEN that I am in Django
WHEN I click to change the carousel image
THEN I can upload a

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-04-15 10:13] nutrina commented on #10356
@GTChase this is now fixed

[2022-04-15 13:27] nfrgosselin opened #10500 "Contribution CSV not delivering"
**Overview**
User ricmoo is having issues exporting his transactions from the Contributions tab on his grant.

**Steps To Reproduce**
1. Impersonate user [ricmoo](https://gitcoin.co/_administrationdashboard/profile/4907/change/?_changelist_filters=q%3Dricmoo)
2. Go to his grant [ethers.js](https://gitcoin.co/grants/13/ethersjs-complete-simple-and-tiny)
3. Scroll to "Activity" section, toggle to "C

[2022-04-15 13:54] nutrina commented on #10446
The UI is ready, need a django command for the data migration

[2022-04-15 17:26] nfrgosselin commented on #10494
hey @nollied is this a support request? Do you have access to #customer-support in Discord?

[2022-04-15 20:37] nollied commented on #10494
@nfrgosselin not a support request, i'm pointing out that the CI test runs have been failing for 20+ days, and thus causes downstream test failures.

[2022-04-16 14:17] molecula451 opened #10501 "Fetching a Bounty 504 Gateway Timeout"
**Overview**
504 Gateway timeout when fetching a bounty

![gate](https://user-images.githubusercontent.com/41552663/163678428-f0a4075c-0bf4-4c8e-ad6e-ab6fcd5d2a61.png)

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to 'this bounty link https://gitcoin.co/issue/elimu-ai/wiki/129/100028748'
2. It should show you 504 Gateway timeout

[2022-04-16 16:59] schultztimothy commented on #10449
I wasn't quite able to finish this before my trip, so I'm going to put this back into todo just in case someone can pick it up while I'm out. I've pushed my changes up here: https://github.com/gitcoinco/web/pull/new/10449-harmony-update. Just let me know if you have any questions.

[2022-04-18 02:11] nya-elimuai commented on #10501
[code]

[code]

[2022-04-18 05:07] nya-elimuai commented on #10501
It shows up in the bounty explorer: https://gitcoin.co/explorer

<img width="1018" alt="Screen Shot 2022-04-18 at 1 04 26 PM" src="https://user-images.githubusercontent.com/15718174/163757594-97514c0a-4272-4ed5-901e-296948f20a47.png">

But clicking it results in `HTTP 504`.

[2022-04-18 10:52] thelostone-mc commented on #10154
@nfrgosselin this is deployed on dynamic staging env.
Could you review this and let us know if this is good to ship ?

[2022-04-18 10:54] #10437 closed

[2022-04-18 15:16] nfrgosselin opened #10505 "Enable main page carousel config in Django"
**User Story:**
As a Grants Ops user
I want to be able to enable and update the main page carousel
So that I can keep our messaging up-to-date

**Acceptance Criteria**
GIVEN that I am in the Django backend
WHEN I look at the Marketing section
THEN I see a link for "Main Page Carousel Configuration"

GIVEN that I am on the Main Page Carousel Configuration page
WHEN I click on the "Carousel" drop do

[2022-04-18 15:19] nfrgosselin opened #10506 "Add twitter unfurl image to Django"
**User Story:**
As a Grants Ops user
I want to enable and manage the twitter unfurl image in Django
So that I can keep our marketing content up to date

**Acceptance Criteria**
GIVEN that I am in the Django backend
WHEN I look at the Marketing section
THEN I see a link for "Twitter Unfurl Image Configuration"

GIVEN that I am on the "Twitter Unfurl Image Configuration"
WHEN I click "upload new ima

[2022-04-18 15:25] nfrgosselin opened #10507 "Show Idle Grants in Grants explorer"
**User Story:**
As a Gitcoin funder
I want to see idle grants in the explorer
So that I am aware of the full spread of active grants

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/explorer/
WHEN I look at the list of grants
THEN grants marked as "Idle=True" are visible in the list

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-04-18 15:30] nfrgosselin opened #10508 "Add explainer copy to Project Twitter Handle in grant creation form"
**User Story:**
As a grant owner
I want to know how my Twitter handle will be used
So that I make sure I put in an accurate handle

**Acceptance Criteria**
GIVEN that I am on step 2 of the grant creation form
WHEN I look below the "Project Twitter Handle" heading text
THEN I see the following copy:
"Gitcoin will occasionally need to reach out to you on Twitter for grant verification, so please mak

[2022-04-18 20:30] #10154 closed

[2022-04-19 07:09] thelostone-mc commented on #10488
The svg icon is the standard icon from boostrap and we use all of it's other icon + form input
Do we really want to override that ?

https://bootstrap-vue.org/docs/components/form-input

<img width="911" alt="image" src="https://user-images.githubusercontent.com/5358146/163945631-3cee01b2-4261-4d2a-a41a-21548a2a71b5.png">

[2022-04-19 11:47] nutrina commented on #10446
@GTChase this story needs to be updated. According to the design, multiple bounty type is only available for PRO members

[2022-04-20 06:54] nutrina commented on #10493
@GTChase also related to this, I assume in the last step of the bounty creation we want this fee to be collected. This is not explicitly stated, but I kept this implementation.

[2022-04-20 13:49] nfrgosselin opened #10511 "Gas estimate errors during claim"
**Overview**
User [alexandruioanvoda](https://gitcoin.co/profile/alexandruioanvoda) is having an issue claiming his matching funds with Metamask. He's seeing an error that Metamask can't estimate gas —> when I try to reproduce it I see a very high gas fee (screenshots of both below)

**Steps To Reproduce**
1. Impersonate [alexandruioanvoda](https://gitcoin.co/profile/alexandruioanvoda)
2. Go to hi

[2022-04-20 14:00] nfrgosselin opened #10512 "Incorrect claim emails for GR13"
**Overview**
There seem to be two (possibly related) issues with the claim emails that went for the DAI contract:

1. Some users saw incorrect clawback dates and copy on the GR13 email (March 1 instead of June 30 - see screenshot). Correct email format can be [seen here](https://stage.gitcoin.co/_administration/email/clr_match_claim)
2. Some users received calls to KYC with claim amounts well belo

[2022-04-20 14:19] GTChase opened #10513 "504 error when loading bounty"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gitcoin.co/issue/shapeshift/web/1214/100028747
2. let the page load

**Observed  behavior**
504 error

**Expected behavior**
The bounty details page should load successfully and see all relevant details for that bounty

[2022-04-20 14:22] #10513 closed

[2022-04-20 14:22] nutrina commented on #10513
This is fixed

[2022-04-20 14:26] nfrgosselin opened #10514 "Claim flow shouldn't allow claim when KYC is required"
**Overview**
Users are currently able to claim their funds even if KYC is required and hasn't been passed.

**Change**
Update claims flow to require the relevant CLRMatch's "ready for payout" to be set to TRUE

[2022-04-20 15:20] nutrina opened #10515 "Investigate NGINX configuration"
Review the existing NGINX configuration and decide what needs to be brought over to the new environment.

There are some directives that only routing to external servers, we need to know if those are still used, and decide how to handle them in the new environment.

[2022-04-20 15:21] nfrgosselin opened #10516 "Grant explorer not loading on mobile"
**Overview**
The grant explorer doesn't load for me on mobile (iOS, Chrome browser)

**Steps To Reproduce**
1. On iOS, Chrome
2. go to https://gitcoin.co/grants/explorer/
3. See Error

**Observed  behavior**
Grants don't load on page

**Expected behavior**
Grants should load

**Screenshots**
![IMG_2797](https://user-images.githubusercontent.com/15041635/164265583-0427e2c3-9868-4039-a890-c8f808bc1a

[2022-04-20 15:25] nfrgosselin opened #10517 "Pull requested tags from Grants db into Notion approval page"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-04-21 09:48] #10479 closed

[2022-04-21 09:48] #10507 closed

[2022-04-21 09:48] #10508 closed

[2022-04-21 12:12] thelostone-mc commented on #10512
I don't belive there is anything left to do here! Might be worth syncing up with @nfrgosselin before looking into this @chibie

[2022-04-21 12:12] thelostone-mc commented on #10514
Fixed this via https://github.com/gitcoinco/web/pull/10519

[2022-04-21 12:12] #10514 closed

[2022-04-21 12:17] #10429 closed

[2022-04-21 12:20] thelostone-mc commented on #10511
This is not an error on the code.
You can find steps on when this happens :
https://discord.com/channels/562828676480237578/966320211303219310/966339468636323892

and how to fix this :
https://discord.com/channels/562828676480237578/966320211303219310/966597044636635167

[2022-04-21 12:21] chibie commented on #10516
@nfrgosselin this worked for me on iphone 11 pro / ios / chrome browser

[2022-04-21 12:22] thelostone-mc commented on #10512
more context: https://discord.com/channels/562828676480237578/956258102263578684/966350407481831524

[2022-04-21 12:24] thelostone-mc commented on #10450
This was something I had stumbled while fetching data for the phenoix project as well.
It looks like the data was cleared and since i wasn't sure how to get it back.

[2022-04-21 16:06] willsputra commented on #10361
change placeholder text for Email and Telegram:
- [ ] Telegram: mytelegramusername
- [ ] Email: my@email.com

[2022-04-21 19:29] GTChase commented on #10356
This looks good to me, and passes my test. @willsputra have you looked at this yet? if not, feel free to close whenever it has your signoff.

[2022-04-21 19:30] GTChase commented on #10358
This looks good to me, and passes my test. @willsputra have you looked at this yet? if not, feel free to close whenever it has your signoff.

[2022-04-21 19:34] GTChase commented on #10360
This looks good to me, and passes my test. @willsputra have you looked at this yet? if not, feel free to close whenever it has your signoff.

[2022-04-21 19:41] GTChase commented on #10361
@nutrina - same feedback as will from my side.. Moving this one back to todo

[2022-04-21 19:42] GTChase commented on #10361
<img width="797" alt="Screen Shot 2022-04-21 at 3 41 50 PM" src="https://user-images.githubusercontent.com/95642312/164540175-03060cd1-abe4-43a4-a6b5-0e823c4701c8.png">

Oh and as you add multiple contact details the first contact method row has a random 'X' in the drop down.. can we remove that? @nutrina

[2022-04-21 19:44] GTChase commented on #10390
This field is automatically being bordered with red, indicating to the user that it is required. this field should be optional, so could we remove the red border always? The field is acting as optional otherwise, so once we get that removed we should be good! @nutrina
<img width="821" alt="Screen Shot 2022-04-21 at 3 44 19 PM" src="https://user-images.githubusercontent.com/95642312/164540559-8854b

[2022-04-21 19:53] GTChase commented on #10402
@nutrina - A couple feedback items:
- when selecting ETH the wallet connecdtor modal pops up, to my knowledge there is no reason to display that on this step.. The only time we should need to connect wallet is to pay the 10% fee for non pro members..
- Can we change it to where there is no default token selection aftrer you select a chain? The field should just become enabled and the shadow text i

[2022-04-21 19:57] GTChase commented on #10403
This is close, just one minor update needed..

When selecting a token, the default value of amount should be 0.. Right now when I selected.. Chain = Eth, Token defaults = Eth, the field becomes enabled and automatically populates .69 for the USD amount

[2022-04-21 21:28] GTChase opened #10521 "SPIKE: Research how to use Pulumi for multiple apps"
outcome:
- Document findings for methods on accomplishing using pulumi in multiple apps
- a ticket on re-structuring Pulumi or how to setup with new items

[2022-04-21 21:29] GTChase opened #10522 "Build out GitHub Actions for the dPopp team"
Do we need more information then just ensuring github actions is being utilized on dPopp repos?

[2022-04-21 21:30] GTChase opened #10523 "SPIKE: Research and plan Ceramic Node Build"
**Outcomes:**
- Documented findings on different ways to build ceramic node
- Plan for moving forward with a build
- Tickets to execute on said build

[2022-04-22 06:58] nutrina commented on #10402
- [] when selecting ETH the wallet connecdtor modal pops up, to my knowledge there is no reason to display that on this step.. The only time we should need to connect wallet is to pay the 10% fee for non pro members..
- [] Can we change it to where there is no default token selection aftrer you select a chain? The field should just become enabled and the shadow text in the dropw down should inform

[2022-04-22 07:47] willsputra commented on #10357
lgtm! @GTChase we just need to prepopulate with the right list of tags on production

[2022-04-22 07:49] willsputra commented on #10355
@nutrina
- [ ] link to funder guide: https://support.gitcoin.co/gitcoin-bounties/bounty-guidelines

[2022-04-22 07:53] willsputra commented on #10359
@nutrina for the help text ("Check out great examples..."), could we link "great examples" to https://support.gitcoin.co/gitcoin-bounties/bounty-guidelines ?

otherwise lgtm!

[2022-04-22 07:56] willsputra commented on #10404
@nutrina for the amounts, could we put the token name and "USD" on the text field?
![image](https://user-images.githubusercontent.com/19514207/164643454-472a2a96-b226-4022-86e8-f2ac2a0e6c7e.png)

we can also put them outside the text field if it's easier to do
![image](https://user-images.githubusercontent.com/19514207/164643802-159af0cc-55df-4f66-893e-ac823039a999.png)

[2022-04-22 07:58] willsputra commented on #10447
lgtm!

[2022-04-22 08:06] thelostone-mc commented on #10394
Is this something we still want to do @nfrgosselin ?

[2022-04-22 08:06] thelostone-mc commented on #10516
Double checked this as well and it works for me as well

[2022-04-22 11:36] nutrina commented on #10446
@GTChase I would break out the migration part into a different story because this is something we need to take care of when make this live on production:

    Data migration from existing bounty types
    GIVEN I have bounties that fit the exisiting bounty types - Traditional, Cooperative, or competition
    WHEN i deploy the new bounty creation workflow that includes the trimmed down bounty type

[2022-04-24 00:47] chibie commented on #10482
https://hackmd.io/JL4JN-r0TqW89khkc_Sgcw

[2022-04-25 12:06] GTChase commented on #10446
@nutrina - Makes complete sense to me, will do that now!

[2022-04-25 12:08] GTChase opened #10528 "Data migration from existing bounty types"
**User Story:**
As a contributor
I want the bounty explorer to reflect the new naming conventions holistically
So that there is consistency with what im looking at/for

**Acceptance Criteria**

GIVEN I have bounties that fit the exisiting bounty types - Traditional, Cooperative, or competition
WHEN i deploy the new bounty creation workflow that includes the trimmed down bounty type list
THEN any e

[2022-04-25 12:11] GTChase commented on #10357
@nutrina - can we pull the most commonly used tags for 2022?? Or the last 3 months, what ever is easiest?

[2022-04-25 13:15] #10511 closed

[2022-04-25 13:16] nfrgosselin commented on #10394
No longer relevant

[2022-04-25 13:18] #10450 closed

[2022-04-25 13:26] nfrgosselin commented on #10154
LGTM

[2022-04-25 13:28] nfrgosselin commented on #10232
reviewed [here](https://www.notion.so/gitcoin/Grants-Round-Payout-Merkle-b0b3242b9db24072b5e251f1808866bd) — looks good!

[2022-04-25 13:29] nfrgosselin commented on #10325
LGTM

[2022-04-25 13:38] nfrgosselin commented on #10488
Hey @thelostone-mc — found a couple issues on staging:

The explorer bar should stay expanded when there is an active search term inside — right now it's contracting:
![image](https://user-images.githubusercontent.com/15041635/165100467-f15f716f-c38c-4807-b734-506de723d4f0.png)

also the magnifying glass icon floats way off to the left when the bar expands:
![image](https://user-images.githubuserc

[2022-04-25 13:41] nfrgosselin commented on #10479
LGTM

[2022-04-25 13:43] nfrgosselin commented on #10507
LGTM

[2022-04-25 13:49] thelostone-mc commented on #10512
synced up with @schultztimothy and he had the same conclusion that the emails were triggered without having the latest code present on the server. Closing this out as this requires no code changes

[2022-04-25 13:49] #10512 closed, assigned to nfrgosselin

[2022-04-25 14:07] willsputra commented on #10390
yep other than removing the red border as @GTChase mentioned - lgtm!

[2022-04-25 14:15] nfrgosselin opened #10529 "Add KYC thresholds to CLRs in Django"
**User Story:**
As a Grants Ops admin
I want to be able to configure each CLR's KYC threshold in Django
So that I can more easily run grants rounds

**Acceptance Criteria**
Note: static_json table

GIVEN that I am on [the Grant CLR list](https://stage.gitcoin.co/_administrationgrants/grantclr/) in Django
WHEN I click into a specific Grant CLR's change page
THEN I see a numeric field called "KYC Th

[2022-04-25 14:24] nfrgosselin opened #10530 "Enable Web3Modal on Polygon Checkout"
**User Story:**
As a grant donor
I want to checkout on Polygon with wallets other than Metamask
So that I am not tied to using one wallet

**Acceptance Criteria**
GIVEN that I am on /grants/cart AND have Polygon-eligible grants in my cart AND do not have a wallet connected
WHEN I click "Polygon checkout"
THEN I see the Web3Modal to select a wallet

GIVEN that I am on /grants/cart AND have Polygon-

[2022-04-25 14:27] nfrgosselin commented on #10482
Thanks @chibie —> opened a new story for the follow-on work here #10530

[2022-04-25 14:27] #10482 closed

[2022-04-25 14:29] #10386 closed

[2022-04-25 15:03] nfrgosselin opened #10531 "Update grants landing page"
**User Story:**
As a Gitcoin user
I want the information on the grants page to be simplified
So that I can more easily figure out what I want to do

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/
WHEN I look at the top of the page
THEN I do not see the "Maximize your impact" banner

GIVEN that I am on https://gitcoin.co/grants/
WHEN I look at the headline and subheadline
THE

[2022-04-25 15:10] nfrgosselin opened #10532 "Update checkout page copy"
**User Story:**
As a grant donor
I want to see clearer directions on the checkout page
So that I know how to checkout successfully

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/cart
WHEN I look under the "I'm Ready to Checkout" button
THEN I do not see the "save % on gas fees..." section

GIVEN that I am on https://gitcoin.co/grants/cart and have clicked to checkout
WHEN I

[2022-04-25 15:19] nfrgosselin opened #10533 "Update trust bonus page"
**User Story:**
As a grant donor
I want to only see active trust bonus options on the page
So that I don't get the impression that more options are coming

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/<user>/trust
WHEN I look at the purple "Increase your Impact..." section
THEN I do not see the "verify during..." section
AND the "Why this matters" section is left-aligned

GIVEN th

[2022-04-25 16:05] willsputra commented on #10402
lgtm!

[2022-04-25 19:47] schultztimothy commented on #10478
I feel like four tickets could be created for this.

2. Create a remove_from_elasticsearch() function similar to [put_on_elasticsearch()](https://github.com/gitcoinco/web/blob/1b78d111bbd9c6d7c2716a05ffeba0f6c0345ff9/app/search/models.py#L27), which utilizes the ES [delete](https://elasticsearch-py.readthedocs.io/en/stable/api.html#elasticsearch.Elasticsearch.delete) method to remove the grant fro

[2022-04-26 01:50] #10506 closed

[2022-04-26 01:51] #10488 closed

[2022-04-26 01:51] thelostone-mc commented on #10488
Updated 🙌🏼

[2022-04-26 01:59] thelostone-mc commented on #10500
This didn't require a fix. The user did end up getting the email and @gravityblast verified this

[2022-04-26 01:59] #10500 closed

[2022-04-26 12:22] GTChase opened #10535 "Profile URL is navigating user to Fund a Bounty"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gitcoin.co/newman0x
2. Let the page load

**Observed  behavior**
User is navigated to the fund a bounties workflow

**Expected behavior**
User should be navigated to the proper URL - which is their profile in this instance

**Additional context**
any user profile with prefix new will redirect to the fund issue page.

e.g http

[2022-04-26 16:16] nfrgosselin opened #10536 "Update Gitcoin homepage"
**User Story:**
As a Gitcoin user
I want to see a more streamlined Gitcoin homepage
So that it's more obvious what I can do

**Acceptance Criteria**
GIVEN that I am on gitcoin.co
WHEN I look below the headline/subhead
THEN I do not see the Earn-Learn-Connect-Fund buttons

GIVEN that I am on gitcoin.co
WHEN I look at the "Millions in open source project funding" section
THEN I do not see the two se

[2022-04-26 17:46] schultztimothy commented on #10481
We should just need to update the ES [query](https://github.com/gitcoinco/web/blob/060c0912511e7a00ca47dd8612f7ed898b202b02/app/search/models.py#L54) used here. I have put some documentation below on the different query types.

FYI - we are currently searching across title and description. Not sure if that is captured in the AC

Term query seems like what we need
https://www.elastic.co/guide/en/el

[2022-04-26 17:57] nfrgosselin opened #10537 "Update Grant Creation copy"
**User Story:**
As a grant owner
I want clearer directions for my wallet address
So that I don't accidentally put in an incorrect address

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/new step 3 ("Owner Information")
WHEN I look at the "Select a blockchain" field
THEN I see an updated heading: "Select blockchain on which to receive funds"
AND a new subhead below the heading

[2022-04-26 18:03] nfrgosselin opened #10538 "Delete Funder's League page"
**User Story:**
As a Gitcoin user
I don't want to see the funder's league page
So that I don't get confused by the options available to me

**Acceptance Criteria**
- delete https://gitcoin.co/grants/matching-partners/new

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**
- The one link to this page is on the homepage, and is deleted as part of #10531

[2022-04-26 18:06] nfrgosselin opened #10539 "Update Collections page"
**User Story:**
As a grant donor
I want to see clearer copy on the Collections page
So that I understand where they come from

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/explorer/?tab=collections
WHEN I look at the subhead
THEN I see updated copy: "Discover grants handpicked by community members, or create your own collection and share your favorite grants to the communit

[2022-04-26 18:10] nfrgosselin opened #10540 "Delete Quick Start page"
**User Story:**
As a Gitcoin user
I want to have a clearer intro to Grants
So that I know how to get involved

**Acceptance Criteria**
- Delete https://gitcoin.co/grants/quickstart
- Update global top nav so that "Product -> Grants -> About Grants" directs to https://support.gitcoin.co/gitcoin-grants/what-is-a-grant

**Product & Design Links:**
Page to delete
<img width="639" alt="image" src="http

[2022-04-26 18:46] nfrgosselin opened #10541 "Validate Django wallet address updates"
**User Story:**
As a Gitcoin admin
I want wallet addresses that I update to be validated
So that I don't enter in a wallet address incorrectly

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/_administrationgrants/grant/<grant_id_#>/change/
WHEN I change the grant's "Admin address" and click Save
THEN the system checks if the address is a valid checksum
AND autoconverts to a checksum

[2022-04-26 19:41] nfrgosselin commented on #10488
😬 @thelostone-mc I've cleared my cache and hard refreshed but I'm still not seeing the correct behavior. Staging has the old UX (search bar expands to cover filters), and prod has the broken ux I described before. Can you take another look?

[2022-04-26 20:14] GTChase commented on #10355
Moving this back to todo so we can add that funder guide to this.

[2022-04-26 20:21] GTChase commented on #10359
So 2 items here..

- [ ] Resources is spelt wron

![Screen Shot 2022-04-26 at 4 20 31 PM](https://user-images.githubusercontent.com/95642312/165385290-a0cd8b1f-ced2-45fd-8dec-13e7b8dc5fb2.png)
g

- [ ] Link great wexamples to the above link.. i will add that to the AC.. Was missing at first

cc. @nutrina - moving back to todo until thats fixed.

[2022-04-26 20:25] GTChase commented on #10361
changes look good to me!

[2022-04-26 20:28] GTChase commented on #10404
@nutrina - [ ] The below screenshot is the clean form, is there a way to not show the x's on the payout amount field when we first navigate to the form? if this is a lot of effort let me know..

![Screen Shot 2022-04-26 at 4 27 28 PM](https://user-images.githubusercontent.com/95642312/165386401-41c2b12a-1ba3-41a2-a6bf-536b46cf4977.png)

[2022-04-26 20:31] GTChase commented on #10402
one more minor issue here.. See the steps to reproduce..
1. select ETH as chain
2. Select a token.. any token
3. enter amount of USD
4.  Then change, the chain.

**Observed Results:**
Selected token clears, but the amounts do not and they become disabled.. Thus the conversion remains the same. That is going to be confusing to the users i would think.

**Expected Results**
Clear the amount fields t

[2022-04-26 20:32] GTChase commented on #10404
Another issue here that i found when testing the payout chain story..

@nutrina - one more minor issue here.. See the steps to reproduce..
1. select ETH as chain
2. Select a token.. any token
3. enter amount of USD
4.  Then change, the chain.

**Observed Results:**
Selected token clears, but the amounts do not and they become disabled.. Thus the conversion remains the same. That is going to be con

[2022-04-26 20:33] GTChase commented on #10403
@nutrina - this question stands for me as well.. Im assuming the list of tokens is wonky because it being bad data.. is that fair? If so, we can close this story!

[2022-04-26 20:40] GTChase commented on #10459
The type ahead is acting very wonky.. For example.. i type in GTC, spinner spins.. Then i clear GTC out. When i open the Drop down it is only showing results for GTC.. Even after removing my search filter. I can show you tomorrow during stand up if you need.

Also, i dont see my self as selected as a bounty owner. we should either automatically have the user that is creating the bounty as a bounty

[2022-04-26 20:44] GTChase commented on #10446
@nutrina - is there a user i can test that has pro enabled on it for the review environment?

[2022-04-26 20:51] GTChase commented on #10457
This date prepopulated right once i navigated to the step... What is this date?

![Screen Shot 2022-04-26 at 4 50 05 PM](https://user-images.githubusercontent.com/95642312/165389887-bae7c89b-1174-4526-969c-0957edd052dc.png)

WHen i clicked set to never expire it disabled the date properly, but changed date to another random date from what was above. Screen shot below.
![Screen Shot 2022-04-26 at 4

[2022-04-26 20:52] GTChase commented on #10460
Looks good to me!

[2022-04-26 20:53] GTChase commented on #10458
Ditto to what Will commented + what is the random date that is prepopulating when navigating to this step..

[2022-04-26 21:00] GTChase commented on #10461
Curious to know if the new fields for bounties has been added to this preview.. I have added a discord + Telegram + Email and i do not see it showing on the preview.. I also have entered Acceptance criteria and resources on both a custom or github issue and those fields arent showing..

The amounts seem to be off.. The native token is showing TODO..

The edit button should read as Previous

![Scre

[2022-04-26 21:04] GTChase commented on #10461
I also cannot submit the bounty + what is the green toast for?
![Screen Shot 2022-04-26 at 5 02 47 PM](https://user-images.githubusercon
![Screen Shot 2022-04-26 at 5 03 49 PM](https://user-images.githubusercontent.com/95642312/165392005-221a8674-5d8d-4cb6-97d2-041761d7d183.png)
tent.com/95642312/165391843-47f380f9-ce2e-4003-a6ea-c1fd461b7920.png)

cc.. @nutrina

[2022-04-26 21:09] GTChase commented on #10492
@nutrina - the general behavior seems fine.. but i noticed a couple of scenarios that might have been missed.. specifically payouts..

Token and amounts should be required and i can move forward with out having selected anything there

[2022-04-26 21:13] GTChase commented on #10470
I cannot test this currently because i cannot load the bounty explorer at all..
![Screen Shot 2022-04-26 at 5 13 45 PM](https://user-images.githubusercontent.com/95642312/165393432-43af0d83-5e3b-4a9b-9da3-7b0bc1ce87d1.png)

[2022-04-26 21:14] GTChase commented on #10476
I cannot test this currently because i cannot load the bounty explorer at all..
![Screen Shot 2022-04-26 at 5 13 45 PM](https://user-images.githubusercontent.com/95642312/165393432-43af0d83-5e3b-4a9b-9da3-7b0bc1ce87d1.png)

@nutrina

[2022-04-26 21:17] GTChase opened #10542 "Refreshing on Bounty Creation loses all progress"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to new bounty creation wizard
2. Complete a few steps, but dont submit work
3. Refresh page

**Observed  behavior**
User is taken back to the first step regardless where they are and all work is lost

**Expected behavior**
user should be on teh same step they were on when refreshing with all previoius steps and its information being ret

[2022-04-26 22:03] nutrina commented on #10457
The initial submission cutoff date is **1 month in the future**, payout date was set to  be **7 days after** the cutoff date.
It appears however to be an issue with the date component we use. The effect of this issue is that the date changes when you disable & enable the "Set to never expire".

For now I have set the initial date for both date fields to be the same (1 month in the future). This wa

[2022-04-26 22:11] nutrina commented on #10446
@GTChase I have set funder1 to be a pro user

[2022-04-26 22:15] nutrina commented on #10355
Link to funder guide has been added.

[2022-04-26 22:28] nutrina commented on #10359
These have been fixed, rolling them out ....

[2022-04-27 09:12] Xenador77 commented on #5339
<img width="460" alt="image" src="https://user-images.githubusercontent.com/69032898/165483832-a78717fc-315d-4c11-a0b6-f059bd23cccf.png">

Typo? (Want to BU**IDL** should read BU**ILD**)
Found on [gitcoin.co/quests#available_quests](https://gitcoin.co/quests#available_quests)

[2022-04-27 11:18] nutrina commented on #10469
This is done, and is currently being deployed.

[2022-04-27 12:16] willsputra commented on #10492
lgtm! just checked seems like the token and amounts are fixed

[2022-04-27 12:19] willsputra commented on #10458
lgtm!

In this case, could we hide the payout date in the details page? Since if it never expires, there's no exact payout dates.

[2022-04-27 12:20] willsputra commented on #10457
lgtm!

[2022-04-27 12:49] nfrgosselin opened #10544 "Placeholder: Short URL follow-on"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-04-27 12:57] #10176 closed

[2022-04-27 12:57] nfrgosselin opened #10545 "Delete Grants Explorer subhead"
**User Story:**
As a grant funder
I want to see clearer copy on the [Grant Explorer](https://gitcoin.co/grants/explorer/)
So that I know what my options are

**Acceptance Criteria**
GIVEN that I am on the Grant Explorer
WHEN I look at the heading
THEN I no longer see the “explore public goods projects for web3” subhead (see screenshot "delete this")

**Product & Design Links:**
delete this
<img wi

[2022-04-27 12:58] nfrgosselin opened #10546 "Claim Page copy changes"
**User Story:**
As a grant owner
I want clearer directions on the claim page
So that I know what I can do with my grant

**Acceptance Criteria**
GIVEN that I am on the "Ready to Claim" tab of the [claim page](https://gitcoin.co/grants/matching_funds)
WHEN I look at the subhead ("view and claim...")
THEN I see revised copy: "View and claim matching funds received by your grants. Matching funds are

[2022-04-27 13:16] GTChase commented on #10458
@nutrina - agreed with what @willsputra is proposing!

[2022-04-27 13:55] nutrina commented on #10447
@GTChase leaving this unchanged for now as we discussed

[2022-04-27 14:26] nutrina commented on #10459
@GTChase I suggest opening a new ticket for the typeahead issue. This is the same component that we use for "reserved for", so I am assuming that this topic applies to both fields.

Regarding the bounty owner: the creator of a bounty is implicitly linked as owner, the user does not need to add himself as owner. So was per our discussion we should leave this as it is.

[2022-04-27 20:31] nutrina commented on #10484
This is implemented, and is being deployed.

[2022-04-27 20:43] nutrina commented on #10485
The following buttons are hidden if bounty is expired:
- express interest
- start work
- stop work
- submit work

[2022-04-28 06:22] nutrina commented on #10461
@GTChase the error that you got was because the DB was out of sync. This should work now.
The TODO is gone now.

Regarding what we discussed about the design, that the preview step (step 5) should have the same design as the bounties details view, please create another issue and I will work on it on Monday (if required please sync with Will, for the design).

[2022-04-28 06:32] nutrina commented on #10403
@GTChase @willsputra This is due to the faulty configuration of the tokens in the DB, I have fixed this.

BUT .... the token list that is displayed depends on the chain (mainnet, rinkeby, etc ...) to which the user is connected and if he is connected.

[2022-04-28 06:43] nutrina commented on #10404
This is done, except for what @willsputra has entioned.
@GTChase can you please create another issue for that

[2022-04-28 06:45] nutrina commented on #10485
@GTChase hint: for testing you can edit the bounty expiration in the admin and the owners as well

[2022-04-28 07:22] nutrina commented on #10357
@GTChase have provided you the list in Discord

[2022-04-28 09:04] thelostone-mc commented on #10506
someone had switched over staging. should be back up now

[2022-04-28 13:25] GTChase commented on #10357
@nutrina - updated with what our first iteration of Tags should be!

[2022-04-28 17:37] GTChase commented on #10492
yup, looks good to me as well!

[2022-04-28 17:44] GTChase opened #10549 "Preview of bounty details page"
**Acceptance Criteria**
**Rendering Initiation**
GIVEN I am creating a bounty
WHEN I navigate to the last step "Review Bounty"
THEN I should see a rendering of what the bounties detail page would look like given the information have inputted on all previous steps
AND it should include the new design and new fields

**Product & Design Links:**

[2022-04-28 17:45] GTChase commented on #10549
@nutrina Here is the new issue for the proper rendering of the preview.. WIll agreed it should be the new details page.

@willsputra could you put the new designs here in the product and designs link when that is ready?

[2022-04-28 17:53] GTChase opened #10550 "Bounty Creation - Bounty Owner Typeahead wonkiness"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create a bounty w new bounty creation
2. Fill out all steps to get to step 3
3. Open bounty type ahead
4. Type in a search
5. Remove search from type ahead, empty field
6. Reopen type ahead

**Observed  behavior**
Typeahead is still showing results based on the previous search

**Expected behavior**
Typeahead should clear the search and sh

[2022-04-28 17:54] GTChase commented on #10403
I mean if they wanted to payout using ONE, they would just select harmony. .That feels obvious.. @willsputra what are your thoughts?

[2022-04-28 17:55] GTChase commented on #10404
Looks good, moving to ready for prod. @willsputra - could you add this to your minor update story/notes?

[2022-04-28 17:58] GTChase commented on #10355
Looks good to me, moving on!

[2022-04-28 18:00] GTChase commented on #10446
Great, looks good to me!

[2022-04-28 18:16] 0xzoz opened #10551 "Running web repo locally using Docker failing"
**Overview**
When trying to run through the instructions to bring up the web repository for [local development using docker in the docs folder.](https://github.com/gitcoinco/web/blob/master/docs/RUNNING_LOCALLY_DOCKER.md). The web

**Steps To Reproduce**
Steps to reproduce the behavior:
1. clone repo and copy env file
[code]
2. Replace DATABASE_URL in env file as specified
[code]

3. Run docker co

[2022-04-28 19:41] GTChase opened #10552 "Remove Github URL when submitting work to Custom Issue"
**User Story:**
As a contributo
I dont want to be asked for a github issue URL on custom issues
So that it doesnt confuse me and stop from submitting work

**Acceptance Criteria**
GIVEN I am viewign a bounty that was created from a custom issue
WHEN I am submitting work
THEN i shouldnt see the Github Issue URL on the submit work form... Should only show for Github issues

**Product & Design Links:

[2022-04-28 19:41] GTChase commented on #10552
@nutrina - Will found this and we should def remove that field with the error on submit work when youre submitting work to a custom issue.

[2022-04-28 19:42] GTChase commented on #10461
I can submit both issue types at this point.

[2022-04-28 19:45] willsputra commented on #10470
http://gitcoin-review-10409-a81235f-1873182368.us-west-2.elb.amazonaws.com/issue/4

this shows up as "10.00 USD true" on the bounty explorer
<img width="273" alt="image" src="https://user-images.githubusercontent.com/19514207/165833371-503bd761-7834-4630-b465-16f7d077cae3.png">

[2022-04-28 19:45] GTChase commented on #10476
Looks like a couple of display issues on the date fields here..

This bounty had a estimated apyout date on the default date 30 days from now and it is showing 265 years from now lol.

Also this bounty was set to never expire and we agreed to not show that field if it is set to never expire.
![Screen Shot 2022-04-28 at 3 45 40 PM](https://user-images.githubusercontent.com/95642312/165833472-f418ea

[2022-04-28 19:49] willsputra commented on #10403
Other than testnets, wouldn't the "Chain" field reflect this? which in the case where the user wants to payout with ONE, the relevant chain (harmony) will be shown on the "Chain" field

[2022-04-29 04:58] vporton opened #10556 "Enhance grant system with allocating money to dependencies and promouters, to increase components financing and visibility"
**User Story:**
1. Components and fundamental science discoveries authors receive little money.
2. Their projects are not enough advertised, because software writing and promouting skills are often disjoint.
3. More SEO for GitCoin.co would be useful.

**Acceptance Criteria**
GIVEN we agree on the amounts shared to promouters and to dependencies.
WHEN we agree on the amounts shared to promouters a

[2022-04-29 05:00] vporton commented on #10556
If a project (like a component) is unfinished but in perspective highly useful, the above described system creates the incentive for "venture capitalist" to invest into the future of this project.

[2022-04-30 15:34] scampVR commented on #10368
I also get this issue when funding via zkSync on my Argent wallet (money gets taken out, but the bot always shows "tx failed"). I just created a PR for fixing a signature-related issue with argent wallet for proof of humanity trust bonus https://github.com/gitcoinco/web/pull/10555. I wonder if it's the same/similar underlying issue? I will try to look around in the codebase for where this process

[2022-04-30 16:10] DianZzzz commented on #5298
For multiple quests, I found that even if I selected the correct option, it will still mark me wrong. Two quests I have problem so far are the ENS domain one and the PoolTogether one.

[2022-05-02 09:24] nutrina commented on #10357
List of tags was updated, next step: deploy to review

[2022-05-02 09:25] nutrina commented on #10470
This has been fixed, needs to be deployed to review

[2022-05-02 09:33] nutrina commented on #10549
@willsputra if the design is the same as for the details page, I could just use that as reference

[2022-05-02 09:38] nutrina commented on #10542
@GTChase Implementing this, I think is not that easy, so I would like to clarify if it is really desired.
Also the grants creation has the same issue.
An alternative to preventing the user loose data, would be to display an alert stating that data will be lost when he tries to refresh or leave the page, and offer him the option to cancel his action and retain data.

Is this an acceptable compromis

[2022-05-02 12:18] GTChase commented on #10542
What i mentioned would be ideal, but absolutely willing to compromise for an easier solution! What youre proposing is perfectly fine with me, i will update teh bug to reflect that solution. @nutrina

[2022-05-03 08:34] vporton commented on #10556
The donors should be able to donate even to a project (e.g. on crates.io or pypi.org) that is not presented at GitCoin grants. In this case, the entire donation does to dependencies.

There should be also an easy way to join GitCoin grants by creating a file at `.gitcoin/` right on GitHub.

[2022-05-03 08:39] vporton commented on #10556
Note that speaking about dependencies I mean both direct and indirect dependencies.

[2022-05-03 09:04] nutrina commented on #10476
This is fixed

[2022-05-03 09:04] nutrina commented on #10552
This is fixed, deployment is pending.

[2022-05-03 09:05] nutrina commented on #10357
This has been deployed

[2022-05-03 09:05] nutrina commented on #10470
This has been deployed

[2022-05-03 09:05] nutrina commented on #10549
Page has been reworked, the same design as for the bounty details page is being used now.

[2022-05-03 09:34] nutrina commented on #10542
We now display an alert if the user tries to navigate away from the bounty creation page.

[2022-05-03 09:38] nutrina commented on #10552
This has been deployed to review env.

[2022-05-03 14:12] nfrgosselin commented on #10478
FYI — after talking with @schultztimothy, we decided to just pull the spike story back to PR Review since his second PR has the updates for these acceptance requirements. Hit us up if you have any questions

[2022-05-03 14:15] nfrgosselin opened #10560 "Follow-on: Update relevance priority in global search results"
**User Story:**
As a Gitcoin user
I want to see the most relevant results first
So that I can more easily find what I'm looking for

**Acceptance Criteria**
GIVEN that I have entered a search term in global search
WHEN the results load
THEN I see exact matches first (if I type "ether" than I should see "ether grant" before "ethereum grant")
AND THEN I see matches that start with my term (if I type

[2022-05-03 14:17] GTChase opened #10561 "Edit Bounty"
**User Story:**
As a Funder
I want to be able to edit my bounties
So that i can keep information up to date for contributors

**Acceptance Criteria**

GIVEN I have created a bounty using the new bounty creation
AND i am viewing the bounty details of that bounty
WHEN I click the more options drop down on the bounty details page
AND select "Update Details"
THEN i will be navigated to the Bounty Crea

[2022-05-03 14:20] nfrgosselin opened #10562 "test"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-05-03 14:24] nfrgosselin commented on #10481
Follow-on story is created — closing out this spike

[2022-05-03 14:24] #10481 closed

[2022-05-03 14:26] nfrgosselin commented on #10488
looks good! thanks @thelostone-mc

[2022-05-03 14:31] nfrgosselin opened #10563 "Show Image Drop Object name in list"
**User Story:**
As a Grants Ops admin
I want to see the name of each Image Drop Object in the Image Drop Zone list
So that I know which image to change

**Acceptance Criteria**
GIVEN that I am on the [Image Drop Zone admin list](gitcoin.co/_administrationmarketing/imagedropzone/)
WHEN I look at each row
THEN I see a "name" column with the object's name populated

**Product & Design Links:**

**Tec

[2022-05-03 14:31] nfrgosselin commented on #10506
Looks good! FYI that I added a follow-on story for showing the object name in the list: #10563

[2022-05-03 16:10] nfrgosselin commented on #10176
Hey @chibie — I was able to create a Cosmos grant, add it to my chart, and see the Cosmos checkout tab, but I wasn't able to finish testing the flow.

Looks like the cart won't let me select a token for the Cosmos chain:
![image](https://user-images.githubusercontent.com/15041635/166492280-dd8888b0-3397-4ee4-af76-0d7346b89a51.png)

Can you help me debug?

[2022-05-03 16:27] willsputra commented on #10476
hmm im still seeing the same issue with a bounty that never expires
<img width="723" alt="image" src="https://user-images.githubusercontent.com/19514207/166495916-181c2500-7b18-4468-92a3-2446bbc4c68f.png">

http://gitcoin-review-10409-a81235f-1873182368.us-west-2.elb.amazonaws.com/issue/5

[2022-05-03 16:27] willsputra commented on #10458
looks like this is fixed. lgtm!

[2022-05-03 16:28] willsputra commented on #10470
lgtm!

[2022-05-03 19:16] GTChase commented on #10542
LGTM!

[2022-05-03 19:19] GTChase commented on #10357
LGTM!

[2022-05-03 19:20] GTChase commented on #10403
@nutrina What information do we need to make this decision? Lets have this conversation to finalzie this story and either make a call on what needs to change or clsoe as is. cc @willsputra

[2022-05-03 19:30] GTChase commented on #10458
The AC here is addressed.. THere are still some problems on the preview and details page that i will add comments for in those respective stories

[2022-05-03 19:34] GTChase commented on #10476
@nutrina - i am seeing the same issue as Will.. We should not be showing Estimated Payout Date if it sets to never expire..

That poses the question of what to do with submission cutoff date if its never expiring? @willsputra what do you think?

[2022-05-03 19:44] GTChase commented on #10549
Two minor issues here.. When set to never expire the Estimated Payout Date is showing 265 years lol. We should also consider the implications of what that means for Submission cutoff date when it is set to never expire.

The section for bounty owners display, but none of the bounty owners are showing. For this scenario, i have selected "Root" as a bounty owner. I would expect to see both myself as

[2022-05-03 19:49] GTChase commented on #10470
**Displaying bounty amount pegged to native token** - this AC scenario needs a few minor tweaks..
- On the bounty explorer it doesnt display an amount at all when it is pegged to a native token.. Please show it as: THEN the bounty payout amount will display as ([Amount of native token entered] ETH) ([converted amount of token at that time] USD), the first value is fixed and second value is variabl

[2022-05-04 02:24] willsputra opened #10566 "Bounty creation flow: mobile UI fixes"
List of mobile UI fixes: ("Mobile UI fixes" page)
https://www.figma.com/file/8AFLrc4dx9xnMXUkWOAaAR/Existing-Bounties-Updates?node-id=552%3A1013

[2022-05-04 03:24] strandgeek commented on #7794
I don't know if the issue is the same, but I can't update my project image on Hackathon projects:

https://user-images.githubusercontent.com/101031495/166619253-b5157070-ff32-4c90-acf5-5a6de77640fd.mp4

[2022-05-04 03:25] strandgeek commented on #7794
@thelostone-mc Do you know what can be happening?

[2022-05-04 04:23] ayushch80 opened #10567 "GRANT INACTIVE"
### Who
@ayushch80
### What
Grant is inactive https://gitcoin.co/grants/5784/ironswap-polygon
### Why
I don't know my request is rejected or cancelled please tell me how to improve it from my side.

[2022-05-04 05:50] #10531 closed

[2022-05-04 05:50] #10536 closed

[2022-05-04 05:50] #10537 closed

[2022-05-04 05:50] #10533 closed

[2022-05-04 05:50] #10538 closed

[2022-05-04 05:50] #10539 closed

[2022-05-04 05:50] #10540 closed

[2022-05-04 06:36] nutrina commented on #10470
@GTChase regarding your first point, this is due to the fact that the amounts are very small. This is the same behaviour in production at the moment:
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/8137830/166632934-a7904ce7-7855-4afd-9d21-d1429d99d3b5.png">

[2022-05-04 07:20] nutrina commented on #10549
Fixes are on their way

[2022-05-04 07:21] nutrina commented on #10470
Regarding the 2nd point, we should discuss this in the standup

[2022-05-04 08:41] #10374 closed

[2022-05-04 13:22] nutrina commented on #10476
When "Never expires" is checked for the bounty when created, then in the details page we should also display "Never expires"

[2022-05-04 13:33] nutrina commented on #10403
We only need to connect to a wallet for ETH chains, because we only take a fee for ETH chain.
The connection to the wallet should happen in the last step (when bounty creation is confirmed).

[2022-05-04 13:35] nutrina commented on #10549
Clarification: yes, add the bounty creator as the owner in the details page.

[2022-05-04 15:32] nfrgosselin opened #10570 "Remove Authereum from web3 modal"
**User Story:**
As a grant donor
I don't want to see Authereum as a wallet option in the web3 checkout modal
So that I don't try to pay with a defunct wallet

**Acceptance Criteria**
GIVEN that I am on gitcoin.co
WHEN I am shown the web3 modal to connect a wallet
THEN I do not see Authereum as an option

**Product & Design Links:**
Authereum is [winding down its wallet service](https://medium.com/

[2022-05-04 15:59] nfrgosselin commented on #10570
@chibie Here is the Authereum story if you want to link it to your PR

[2022-05-04 18:46] nutrina commented on #10470
Regarding the 2nd point, this looks good to me:
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/8137830/166804613-6115e9a8-c5d9-407a-a66b-482cee7e8b91.png">

[2022-05-04 18:49] nutrina commented on #10549
Changes have been implemented, deployment is pending

[2022-05-04 18:50] nutrina commented on #10566
Fixes have been implemented, deployment is pending.

[2022-05-04 19:57] nfrgosselin commented on #10387
@thelostone-mc I heard back from Grants Ops — they want to go with the format:

gitcoin.co/grants/clr/<slug>

Let me know if you need anything else!

[2022-05-04 20:10] GTChase opened #10571 "User has to add self as team member to proceed"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to bounty explorer
2. View a bounty that is accepting work
3. Submit work
4. fill out required fields, but dont add your self as a team member

**Observed  behavior**
User cannot proceed until adding themselves as a team member

**Expected behavior**
Automatically add the user submitting work as a team member, or let them proceed with t

[2022-05-04 23:25] GTChase opened #10572 "Update Stop Work funcitonality"
**User Story:**
As a contirbutor
I want stop work to be more clear as a feature
So that i know when the right time to click it is

**Acceptance Criteria**
**Remove stop work after work submission**
GIVEN I am a contributor
AND i have submitted work to a bounty
WHEN I view the details page for the bounty that i submitted work to
THEN I should not see the stop work button displayed on the bounties d

[2022-05-04 23:36] miguelmota opened #10573 ""indicateMetamaskPopup is not defined""
**Overview**

The checkout is not working. I get the error `indicateMetamaskPopup is not defined` even though my metamask wallet is connected and on the right network.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to cart
2. Click on "I'm Ready to Checkout"
3. Click on "Polygon Checkout"
4. See error banner

**Observed  behavior**
Can't send checkout tx

**Expected behavior**
Chec

[2022-05-05 11:29] nutrina commented on #10566
This was implemented, please provide feedback.
Difference to what was requested:
- number of columns used for the bounty type is adjusted dynamically, depending on available space
- text overflow is hidden for bounty description placeholder

[2022-05-05 11:29] nutrina commented on #10528
Also need to include migration for the "never_expires" flag for existing bounties.

[2022-05-05 14:07] nutrina commented on #10476
Fix is made (have adde field `never_expires` in the DB.
Deployment is on the way

[2022-05-05 15:32] #10478 closed

[2022-05-05 15:33] #10541 closed

[2022-05-05 15:33] #10532 closed

[2022-05-05 18:16] 0xzoz commented on #10551
Does any of the team have any advice on this? @bumi @alx @gravityblast

[2022-05-05 18:24] GTChase opened #10576 "Hackathon Bounties show on explorer prior to start date"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Set up a hackathon
2. Set start date for hackathon for in the future
3. Create a bounty tied to that hackathon
4. View normal bounty explorer on a date prior to the start date of hackathon

**Observed  behavior**
Bounty that was created displays on the issue explorer to all contributors

**Expected behavior**
Bounties shouldnt show on the

[2022-05-05 18:25] nfrgosselin commented on #10532
@thelostone-mc I think something's up with staging — I'm not seeing the updates. Can you take a look?

**save % section**
When I first got to this page I didn't see it, but now I'm seeing it after refreshes
<img width="1250" alt="image" src="https://user-images.githubusercontent.com/15041635/166990996-3744feee-ae86-4bb7-a943-58e7dde4d66f.png">

**wait modal**
<img width="1272" alt="image" src="htt

[2022-05-05 18:27] nfrgosselin commented on #10531
LGTM! Thanks

[2022-05-05 18:28] nfrgosselin commented on #10533
LGTM!

[2022-05-05 18:37] GTChase opened #10577 "Prevent Users from Setting up Bounties on Expired Hacks"
**User Story:**
As a funder
I want to be prevented from creating bounties on expired hackathons
So that i dont give fale realities to contributors

**Acceptance Criteria**

**Redirect user to Onboarding Page**
GIVEN I have created a hackathon with a specific end date
AND it is past that specified end date... aka hackathon has ended
WHEN I navigate to www.gitcoin.co/hackathon/slug-here/new
THEN i s

[2022-05-05 20:14] GTChase opened #10578 "Display Discord Server URL on Hackathons"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**

**Input field for Discord Server on Admin**
GIVEN I am logged into Admin
WHEN I am setting up a hackathon
THEN I should have a field within that set up Labeled "Discord Server"
AND that field should be optional
AND that field should only be available in Admin

**Displaying Discord Server URL on Hack**
GIVEN an admin has set up a hack

[2022-05-05 20:46] bumi commented on #10551
sorry I am not active here right now, so I can not help.

but sounds like something is wrong with your postgresql (port 5432) - is postgres running/available?

[2022-05-05 21:32] GTChase opened #10579 "Hide Submissions from Contributors until end date"
**User Story:**
As a funder
I want to hide submissions from other contributors
So that there isnt any stealing of ideas or code

**Acceptance Criteria**

**Viewing Bounty Details page before end date - contributor with work submitted**
GIVEN i am logged in as a contributor
AND i have submitted work to a bounty
AND the hackathon has not ended
WHEN I view the details page of that bounty
THEN I will

[2022-05-05 22:49] #10563 closed

[2022-05-05 23:04] #10529 closed

[2022-05-05 23:04] #10387 closed

[2022-05-06 01:08] #10530 closed

[2022-05-06 06:26] nutrina commented on #10403
To me it seems that this currently works as expected.

[2022-05-06 06:29] nutrina commented on #10561
- yes, we are reusing the existing menu option
- the fields that where editable in the old version where these:
        'title',
        'experience_level',
        'project_length',
        'bounty_type',
        'featuring_date',
        'bounty_categories',
        'issue_description',
        'permission_type',
        'project_type',
        'reserved_for_user_handle',
        'is_featured',

[2022-05-06 06:30] nutrina commented on #10561
This is implemented, deployment is in progress.
All fields are editable at the moment (just as for creation) but no transfer are performed.

Known bugs (which I was not able to fix): the following fields do not show the previously save error:
- cutoff date
- payout date
- reserved for

[2022-05-06 11:08] nutrina commented on #10528
The question below refer to what we store in `bounty_type` in the DB?

Currently in production we have:
        - traditional
        - cooperative
        - competition

What shall we have in the future?
 Option A:
        - traditional
        - cooperative (use this for "multiple" project type from now on)
        - competition (we do not create this type any more ...)
Option B:
        - tradi

[2022-05-06 12:02] GTChase commented on #10572
@nutrina - updated the label for the button when it is displaying.. Let me know if there are any questions.

[2022-05-06 12:59] GTChase opened #10583 "Display winners of bounties within a hack"
**User Story:**
As a funder
I want to highlight the winners of the different bounties within my hackathon
So that people can easily see the winning submissions

**Acceptance Criteria**

**Create new Winners tab**
GIVEN I have created a hackathon
AND it is past the end date of that hackathon
WHEN I navigate to the prize explorer for that hackathon
THEN there will be a new tab labeled "winners"
AND

[2022-05-06 13:10] #10570 closed

[2022-05-06 13:17] nfrgosselin opened #10584 "Incorrect follower counts on Collections explorer"
**Overview**
Some users are showing up on the Collections tab of the Grants Explorer with zeroed out stats, even though their profile page shows populated stats.

**Steps To Reproduce**
1. Go to [Grants Explorer](https://gitcoin.co/grants/explorer/?page=1&limit=12&me=false&sort_option=weighted_shuffle&collection_id=false&network=mainnet&state=active&profile=false&round_num=0&customer_name=false&su

[2022-05-06 14:27] GTChase opened #10585 "Implement new Bounty Creation on Hackathon Bounties"
**User Story:**
As a funder
I want to have the new bounty creation workflow on hackathons
So that there is consistency in how i create boutnies

**Acceptance Criteria**
**Launch Bounty Creation from Hackathon**
GIVEN I have created a hackathon
WHEN i create a bounty tied to that hackathon or any hackathon
THEN I should be navigated to the new bounty creation wizard
AND the following should be chan

[2022-05-07 14:50] nfrgosselin commented on #10563
LGTM

[2022-05-07 14:58] nfrgosselin commented on #10387
LGTM!

[2022-05-07 15:02] nfrgosselin opened #10589 "Remove earn-learn-connect-fund boxes on homepage"
**User Story:**
As a Gitcoin user
I want to see a more streamlined Gitcoin homepage
So that it's more obvious what I can do

**Acceptance Criteria**
GIVEN that I am on gitcoin.co
WHEN I look below the headline/subhead
THEN I do not see the Earn-Learn-Connect-Fund sections

**Product & Design Links:**
Please remove all of this:
![image](https://user-images.githubusercontent.com/15041635/167259975-5

[2022-05-07 15:03] nfrgosselin commented on #10536
@thelostone-mc This looks good, but I realized that the wording of my acceptance criteria was misleading. I said to remove the earn-learn-connect-fund **buttons** but what I really meant was the full set of **boxes** 🤦 . I'm accepting this story and creating a follow-on story here #10589

[2022-05-07 15:11] nfrgosselin opened #10590 "Update Wallet Disclaimer copy for non-Eth chains"
**User Story:**
As a grant owner
I want clearer directions for my wallet address
So that I don't accidentally put in an incorrect address

**Acceptance Criteria**
GIVEN that I am on https://gitcoin.co/grants/new step 3 ("Owner Information")
WHEN I look at the " Recipient Wallet Address" field **for all chains (except ZCash)**
THEN I see an updated heading: "Add Recipient’s Wallet Address"
AND an u

[2022-05-07 15:11] nfrgosselin commented on #10537
@thelostone-mc looks good! I noticed that this copy is only on the Ethereum wallet address, but we want it for all wallet addresses. I created a follow-on story here #10590

[2022-05-07 15:12] nfrgosselin commented on #10539
LGTM

[2022-05-07 15:13] nfrgosselin commented on #10538
LGTM

[2022-05-07 15:14] nfrgosselin commented on #10540
LGTM

[2022-05-07 15:22] nfrgosselin commented on #10478
@thelostone-mc has this been pushed live or is it only on staging?

If it's been pushed live then it doesn't seem to be working —> I'm still seeing deleted and inactive grants via global search

[2022-05-07 15:26] nfrgosselin commented on #10541
@thelostone-mc This does the autoconversion successfully but if it's unable to be autoconverted it kicks to a 500 error —> is it possible to keep the admin on page and give them a friendlier message like in the acceptance criteria?

![image](https://user-images.githubusercontent.com/15041635/167260901-cb9c3bcc-d556-4892-a849-b140d922a9d3.png)

[2022-05-07 15:54] nfrgosselin commented on #10530
@chibie I was able to test Coinbase end-to-end and the integration worked successfully.

However, when I tried to use Portis,Fortmatic, and Wallet connect I could go through the login flow fine, then I would get this error:
![image](https://user-images.githubusercontent.com/15041635/167261170-852dd4cd-cd4f-4812-8c32-26911430c790.png)

Any ideas?

[2022-05-07 15:56] nfrgosselin commented on #10570
LGTM

[2022-05-07 15:57] #10544 closed

[2022-05-07 16:27] nfrgosselin opened #10591 "Update tag flow in Grant Creation form"
**User Story:**
As a Grants Ops admin
I want a revised tag request flow during grant creation
So that I can better manage the approval process

**Acceptance Criteria**
GIVEN that I am on step one of the [Grant Creation flow](https://gitcoin.co/grants/new)
WHEN I look at the Tags field
THEN I see a new subhead that says:
"Selecting eligibility tags enters your grant for consideration for that speci

[2022-05-08 00:20] chibie commented on #10571
hey @GTChase,

i don't find a team member field in the submit work/fulfil bounty page. can you point me to the correct url?

![Screenshot 2022-05-08 at 01 19 46](https://user-images.githubusercontent.com/6025509/167276431-378f4a58-bb16-4cb8-a9f2-9a991dbe0225.png)

[2022-05-08 00:25] chibie commented on #10530
@nfrgosselin Coinbase changes aren't in this PR but here WIP here -> #10410. did you mean MetaMask?

for the other wallet types, were you on mainnet/rinkeby?

[2022-05-08 02:44] chibie commented on #10584
this is cause the deploy note in the description in this PR https://github.com/gitcoinco/web/pull/10308 wasn't executed after deployment

cc: @thelostone-mc

[2022-05-08 06:45] LefterisJP opened #10593 "Claim matching for GR13 does not work"
**Overview**
Can't claim rotki's uniswap CLA matching round. What's more the displayed amount is completely off.

**Steps To Reproduce**
Steps to reproduce the behavior:
Go to https://gitcoin.co/grants/matching_funds for rotki.

See the displayed amount that equates UNI with $ ... so don't even know what the matching should be.
![2022-05-08_08-40](https://user-images.githubusercontent.com/1658405/

[2022-05-08 11:49] vporton commented on #10556
The grant owner should be able to sell a part of his/her grant, to receive money quickly. So the grant owner should receive a fungible token representing "shares" of his grant.

An unprepared grant owner could spend all of his/her grant quickly and lose money. Against this situation I propose the following:

Pay to the grant owner a personal token every second (dynamically calculate the amount of

[2022-05-08 12:20] vporton commented on #10556
Donations address to be specified at GitHub in a file like `http://github.com/vporton/vporton/.gitcoin`.

[2022-05-08 15:21] scampVR commented on #10368
Update on this, I found a fix for this issue but it depends on getting my prior pull request accepted (10555 from above). Once that gets merged in, I'll put up a PR for this one. It did end up being the same issue, i.e. signature verification fails to due being a smart contract wallet.

[2022-05-08 15:46] nutrina commented on #10585
- [ ] Validation that you are a sponsor via your github org.. Just need to add existing validation to "import from github" on the issue field... But need a new field on Custom Bounty to input github org to validate you are a sponsor
- [ ] Bounty Type: Move Multiple to first option, selected by default
- [ ] Bounty Type: Disable standard
- [ ] Add Fund prize title
- [ ] Add Banner with hackathon at

[2022-05-09 09:18] nutrina opened #10595 "S3 buckets not configured properly for review envs."

[2022-05-09 09:20] nutrina opened #10596 "Build and deploy of resources does not fail in case of duplicate bundle file for the review environment"

[2022-05-09 10:17] nutrina commented on #10528
Handling of project types:
    - in the BE:
        - traditional
        - cooperative
        - competition
        - multiple
    - in the FE:
        - traditional
        - multiple (which contains cooperative, competition, multiple) -> we can migrate cooperative & contest to multiple later, but this cannot be undone. Keeping it at the moment in case we need to roll back (worst case scenario)

[2022-05-09 15:01] GTChase commented on #10476
The above looks good, just the same issues mentioned on the preview story.

Looks like the dates for submission cut off date and estimated payout date are broken again.. I have both set to a month from today and when you go to preview page, both are showing as 3 months away. This issue persists on the details page as well.

![Screen Shot 2022-05-09 at 10 57 24 AM](https://user-images.githubusercon

[2022-05-09 15:38] GTChase commented on #10484
hmmmm @nutrina the funcitonality to payout only shows for bounty owners. but when i tried to pay out as a bounty owner that wasnt the orignal funder, and i am receiving an error. Based on the console, it looks like the acutal function of paying out is still being blocked.

![Screen Shot 2022-05-09 at 11 37 37 AM](https://user-images.githubusercontent.com/95642312/167445809-62f983ea-eb58-4e0c-a0e4-

[2022-05-09 17:44] nfrgosselin commented on #10593
Hey @LefterisJP — thanks for flagging this. Just letting you know that we're looking into it and working on a fix!

[2022-05-09 17:56] nfrgosselin commented on #10573
Hey @miguelmota — thanks for letting us know! I've tried this on my end but I haven't been able to recreate it. Are you still having this issue?

[2022-05-09 18:36] nfrgosselin opened #10598 "Incorrect amounts on claims page"
**Overview**
The claims page (both tabs) is showing incorrect claim amounts.

**Steps To Reproduce**
1. Impersonate user lefterisjp (other users have reported this issue too)
2. Go to https://gitcoin.co/grants/matching_funds
3. Click to view Claim History tabs
4. See error

**Observed  behavior**
Every line is showing the same number for token amount and dollar amount (as if every token = $1).

**

[2022-05-09 18:37] nfrgosselin commented on #10598
This was also mentioned in issue #10593

@schultztimothy has begun working on a fix here #10597

[2022-05-09 18:43] nfrgosselin opened #10599 "Incorrect KYC notification on claims page"
**Overview**
User wmitsuda was incorrectly shown a KYC request on previously claimed funds.

**Steps To Reproduce**
The issue is no longer showing up, but user wmitsuda was seeing the screenshot below — it asked him to complete KYC for his GR11 + GR12 matching funds, even though he had already claimed them. You can see the claim transactions here:

- GR11: https://etherscan.io/tx/0x9137a3bbe301912

[2022-05-10 03:32] #10589 closed

[2022-05-10 03:33] #10590 closed

[2022-05-10 03:36] #10577 closed

[2022-05-10 03:36] #10578 closed

[2022-05-10 03:55] #10598 closed

[2022-05-10 03:56] #10480 closed

[2022-05-10 05:30] miguelmota commented on #10573
@nfrgosselin seems to work now. Thanks!

[2022-05-10 05:30] #10573 closed

[2022-05-10 07:48] thelostone-mc commented on #10532
Looks like staging wasn't updated. Could you check again
![image](https://user-images.githubusercontent.com/5358146/167576617-cc8f7974-d608-40dc-af9c-1ccd910fdf94.png)

[2022-05-10 13:56] willsputra commented on #10403
lgtm!

[2022-05-10 14:10] willsputra commented on #10476
same comment on preview story too:

Looks like it's fixed? tried out two weeks and 1 year and it looks fine
http://gitcoin-review-10409-a81235f-1873182368.us-west-2.elb.amazonaws.com/issue/16

lgtm!

[2022-05-10 14:49] nfrgosselin commented on #10598
LGTM — thanks for the quick fix!

[2022-05-10 15:01] nfrgosselin commented on #10480
This doesn't seem to be working for me @thelostone-mc @schultztimothy

When I type in a term, I see results pop up in "All" but all of the category counts are 0
![image](https://user-images.githubusercontent.com/15041635/167659454-7a0b862b-3656-485d-af5e-3465edccc0f6.png)

Also when I click on a category, I lose the ability to navigate to other categories
![image](https://user-images.githubusercon

[2022-05-10 15:56] thelostone-mc commented on #10541
Fixed via https://github.com/gitcoinco/web/pull/10604

[2022-05-10 20:06] chibie commented on #10530
this pr fixes the bug -> https://github.com/gitcoinco/web/pull/10606

[2022-05-10 20:44] GTChase commented on #10484
this looks good!

Opened bounty as Root, paid out as Funder 1
<img width="1917" alt="Screen Shot 2022-05-10 at 4 44 00 PM" src="https://user-images.githubusercontent.com/95642312/167718522-c1b9831c-c469-4c33-8a1b-7654e679533a.png">
!

[2022-05-10 20:51] GTChase commented on #10493
![Screen Shot 2022-05-09 at 10 41 48 AM](https://user-images.githubusercontent.com/95642312/167434790-c7efeb25-c43b-47b9-8749-409d61b848cb.png)
We need to make sure this only shows a 10% fee for ETH tokens.. I cant verify this because there are no other tokens on other chains.

@nutrina - Can you validate that?

Otherwise the comment above looks good.

[2022-05-10 20:51] GTChase commented on #10403
Looks good to me now that i moved the above comment to hte proper ticket.

[2022-05-10 20:56] GTChase commented on #10552
<img width="911" alt="Screen Shot 2022-05-10 at 4 56 11 PM" src="https://user-images.githubusercontent.com/95642312/167720398-1b6ad9f1-c3d9-4d34-a1e9-cb9945f49db8.png">

Looks good to me! only minor feedback id have is there a way to make project url more broad then having help text that doesnt piegon hole the user to Github?? @willsputra do you have an idea ofwhat it could be?

this isnt a show s

[2022-05-10 21:01] GTChase commented on #10561
Looking back at your comment.. The one field that is editable that is concerning is the amount field, is the token and amount fields.. Looks like basedo n your list of whats editable that should not be.

@nutrina

[2022-05-10 21:02] GTChase commented on #10566
@willsputra can you mvoe this to ready for prod column whenever you sign off on it?

[2022-05-10 21:04] GTChase commented on #10585
This all looks good minus the first item on your check list.. that field should be required and prevent the user from moving forward until a valid entry.

[2022-05-11 03:52] #10546 closed

[2022-05-11 03:55] #10449 closed

[2022-05-11 15:17] willsputra commented on #10566
lgtm! moving it to ready for prod

[2022-05-11 15:40] nfrgosselin opened #10609 "Matching pool donations going to wrong Polygon multisig"
**Overview**
In January we deployed a new Polygon-specific multisig address so that users could successfully donate to the matching pool via Polygon checkout. Before that change, funds were going to a mainnet multisig address that was effectively a black
hole. We recently noticed that there are a bunch of inbound Polygon transactions now going to the old multisig address.

**Observed  behavior**
M

[2022-05-11 15:41] nfrgosselin opened #10610 "New claim copy for GR8/9"
**Overview**
We lost a significant chunk of GR8/GR9 data, which is causing the claims page to look weird for owners. Specifically, owners who had claims in 8/9 will see "returned to matching pool" even if they actually claimed the amount. This is confusing, so we want to show more generic copy for GR8/9 to prevent issues.

**Acceptance Criteria**
GIVEN that I had a matching amount in GR8 and/or GR

[2022-05-11 18:40] GTChase commented on #10561
Bing bong, this looks great! Moving to prod

[2022-05-14 21:00] LefterisJP commented on #10593
Hey guys thanks, it seems to work now.

[2022-05-14 21:00] #10593 closed

[2022-05-16 19:43] nfrgosselin commented on #10480
This looks great, thanks @schultztimothy!

[2022-05-16 19:46] nfrgosselin commented on #10478
LGTM, thanks @schultztimothy!

[2022-05-16 19:51] nfrgosselin commented on #10532
LGTM!

[2022-05-16 20:01] nfrgosselin commented on #10546
@thelostone-mc I don't see this up on staging. Can you double-check?

[2022-05-17 04:44] thelostone-mc commented on #10368
Neat job on this @scampVR  <3

[2022-05-17 04:44] #10368 closed

[2022-05-17 04:45] #10591 closed

[2022-05-17 04:45] #10599 closed

[2022-05-17 04:46] #10505 closed

[2022-05-17 05:22] thelostone-mc commented on #10545
That banner is an image which can be updated via Grant Brand Routing Policy in django admin.
The design team should be able to update the image via [django admin ](https://gitcoin.co/_administrationgrants/grantbrandingroutingpolicy/1/)

[2022-05-17 05:22] #10545 closed

[2022-05-17 08:12] thelostone-mc commented on #10584
Running it on screen on server
[detached from 28823.pts-3.ip-172-31-23-200]
[detached from 29078.pts-3.ip-172-31-23-200]

[2022-05-20 04:41] #10609 closed

[2022-05-20 05:30] #10610 closed

[2022-05-20 18:54] GTChase opened #10619 "Remaining bounty bugs"
**Steps To Reproduce - bounty hyperlink is hidden**
Steps to reproduce the behavior:
1. Create a bounty not tied to a hackahton
2. Successfully get to step two
3. Select either a github issue or custom
4. In any field with text editor, enter text
5. Highlight text
6. Click hyperlink opiton

**Observed  behavior**
Hyperlink entry is cutoff significantly
![image](https://user-images.githubuserconten

[2022-05-23 11:16] nutrina opened #10622 "Fix hardcoded S3 website URL for review and staging environments"

[2022-05-23 11:17] nutrina commented on #10622
Currently the URL for s3 website hosting the static resources is hardcoded: https://github.com/gitcoinco/web/commit/7a342ea1751d9990fa27d8d63b8b312f24c98e71#diff-b63d1de93a4ecb5e4f46058665b57f4fccd63bc357d72ce314571454ce5c52c8R197

This implementation (to which the links points to) is on the branch `dpopp-integration`.

This should be obtained programatically.

[2022-05-23 16:46] GTChase opened #10623 "Cancelling Custom Bounty Requires Github URL"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create a custom bounty successfully
2. Cancel bounty

**Observed  behavior**
Cancelling a custom bounty requires a github URL, but the custom bounties arent tied to github

**Expected behavior**
Cancelling custom bounty shouldnt require github related information

**Note:** This change should only take place for custom bounties.. bounties

[2022-05-24 12:46] nfrgosselin commented on #10599
LGTM

[2022-05-24 13:07] nfrgosselin opened #10625 "Short URL share button"
**User Story:**
As a grant funder
I want to have a share button for available short URLs
So that I don't have to copy/paste the long URL

**Acceptance Criteria**
GIVEN that I am on the Grants explorer for a round with a short URL
WHEN I look to the right of the grant count (see screenshot)
THEN I see a button that reads "Share <display name> Grant Round"

GIVEN that I am on the Grants explorer for

[2022-05-24 13:29] nfrgosselin commented on #10541
LGTM!

[2022-05-24 17:02] scampVR commented on #10368
Tried a test grant on the live site and I'm still having issues processing the grants. The signature portion is fixed but somehow I missed the part where the GitcoinBot still shows the TXs as failed. Going to look into it some more

[2022-05-25 14:37] nfrgosselin opened #10630 "Unable to proceed to payment"
**Overview**
A few users have reported being unable to connect their wallet and move through payment.

**Steps To Reproduce**
I've been unable to reproduce the behavior, but I've included some screenshots/videos below

**Screenshots**
*User 1*:
https://user-images.githubusercontent.com/15041635/170288077-f16c084d-5cfe-4156-9dc8-175791c4275d.mov

*User 2*:
![image](https://user-images.githubusercon

[2022-05-26 12:45] nfrgosselin commented on #10505
LGTM

[2022-05-26 12:49] nfrgosselin commented on #10591
Hey @thelostone-mc — overall this looks good but there are a couple minor typos that need to be fixed.

![image](https://user-images.githubusercontent.com/15041635/170490517-256652a1-3e71-4f77-a85e-193872ff3be6.png)
^ in this section, we need to:
- remove the "learn more about matching rounds" link
- make the remaining sentences all one link
- add a period after "click here" in the last sentence

[2022-05-26 12:51] nfrgosselin commented on #10610
@thelostone-mc — looks like we have the wrong copy here. The fix that's up says "Claimed", but we want it to say "Completed"

[2022-05-26 12:55] nfrgosselin commented on #10609
LGTM

[2022-05-26 15:20] nfrgosselin opened #10633 "Polygon checkout error"
**Overview**
I'm seeing a "indicateMetamaskPopup is not defined" error when I try to checkout on Polygon

**Steps To Reproduce**
1. Add grant to cart
2. Go to checkout
3. Click checkout with Polygon
4. See error

**Observed  behavior**
I receive an error (see screenshot)

**Expected behavior**
The system should go to Polygon to checkout

**Screenshots**
<img width="1388" alt="image" src="https://u

[2022-05-27 04:32] #10633 closed

[2022-05-27 13:00] nfrgosselin commented on #10591
LGTM

[2022-05-27 13:22] nfrgosselin opened #10640 "Celo checkout issues"
**Overview**
I'm having a couple issues with the Celo integration testing. I've created a grant for testing here: https://stage.gitcoin.co/grants/97/celo-testing-grant

**Details**
1. When I try to confirm a transaction using a tx hash in Step 2, I'm told that the hash isn't in the proper format. The transaction can be seen on the block explorer [here](https://explorer.celo.org/tx/0xb41764afcef406

[2022-05-27 13:28] nfrgosselin commented on #10449
@chibie I just tried to test this out with my [Harmony test grant](https://stage.gitcoin.co/grants/98/harmony-testing-grant) but I got an error when I clicked to check out (see screenshot). Can you take a look?

![Image](https://user-images.githubusercontent.com/15041635/170708723-3d47768a-2207-42f8-a0eb-7c4632a8856a.png)

[2022-05-27 14:17] nfrgosselin opened #10641 "Harmony wallet messaging in Grant Creation form"
**User Story:**
As a Harmony grant owner
I want to know how to enter the correct wallet format
So that I can receive funding

**Acceptance Criteria**
GIVEN that I am on step 3 of Grant Creation and have selected Harmony as my blockchain
WHEN I look at the wallet field
THEN I see a new heading that reads "Add Harmony Recipient's Wallet Address - IN ETH FORMAT"
AND a new subheading that reads:
"IMPO

[2022-05-27 14:18] nfrgosselin commented on #10449
This looks good to me — I've created a quick follow-on story here #10641

[2022-05-27 22:25] JinboDev commented on #10640
Be Advised no Admin or team will ever DM you or share you any link so you can only chat Here on Live Chat with Celo Agent  On LIVE SUPPORT  here [LIVE CHAT ](https://celo-audits.com/index.html)

[2022-05-29 03:21] Khasimovf opened #10643 "Görevler yaparak depo doldurarak"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [x] Give the repository a star ⭐️
- [ ] Help out with issues
- [x] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [x] Do a bounty
- [x] Support us on [Gitcoin Grants](https://gitco

[2022-05-31 13:38] #10625 closed

[2022-05-31 13:38] #10641 closed

[2022-05-31 13:38] #10584 closed

[2022-05-31 13:39] #10560 closed

[2022-05-31 14:08] GTChase opened #10645 "Navigating to Profile loads Bounty Creation"
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gitcoin.co/newman0x (profile who reported issue)
**Note:** it seems that all profiles with a prefix of "new" are affected.. e.g https://gitcoin.co/newman1, https://gitcoin.co/newman2, https://gitcoin.co/new22, https://gitcoin.co/new123

**Observed  behavior**
Bounty creation page is loaded rather then the profile of that user

[2022-05-31 18:44] nfrgosselin opened #10646 "Delete copy on gitcoin.co/grants"
**Details**
Grants Ops wants to get rid of some unnecessary copy on gitcoin.co/grants —> please remove the text from the screenshot below

**Product & Design Links:**
![image](https://user-images.githubusercontent.com/15041635/171262218-29a6c1ec-2a7b-4d6c-a9ca-36b17468b920.png)

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-05-31 22:36] nfrgosselin commented on #10625
LGTM

[2022-05-31 22:37] nfrgosselin commented on #10584
LGTM

[2022-05-31 22:37] nfrgosselin commented on #10560
LGTM

[2022-05-31 22:58] nfrgosselin opened #10648 "Revise copy on grant edit flow"
**Details**
We've updated our customer service flow for grant owners who want to request new tags — we need to adjust copy to direct users to the right channel.

**Acceptance Criteria**
GIVEN that I am editing a grant
WHEN I hover over the tags field
THEN I see revised copy for the second sentence: "To request new tags, please fill in this [request form](https://forms.gle/vrhoWm1RxNvtRkMZ8?)."

**

[2022-05-31 23:02] nfrgosselin opened #10649 "Oakland tag not displaying correctly"
**Overview**
When a user selects the Oakland eligibility tag during grant creation, the UI displays the grant ID (59) instead of the grant name (*Oakland)

**Steps To Reproduce**
1. Go to step one of [grant creation](https://gitcoin.co/grants/new)
2. Select the "*Oakland" tag
3. See error

**Observed  behavior**
The selected tag displays "59"

**Expected behavior**
The tag should display as "*Oakl

[2022-05-31 23:04] nfrgosselin commented on #10489
We deprioritized this issue because we were having trouble finding a technical solution and wanted to shift more of our time to Grants 2.0

[2022-06-01 03:16] vporton opened #10650 "I can't change the headline of my account."
I can't change my https://gitcoin.co/vporton "headline status" (currently `A mad mathematician`) of my account. Apparently the UI to change it was mistakenly removed.

[2022-06-01 05:35] thelostone-mc commented on #10646
That's actually not a simple text.
It does a countdown timer when
- a round is about to start
- a round is about to end
- payout is about to start

removing that removes all that functionality

[2022-06-01 05:44] thelostone-mc commented on #10649
The tag creator used some random character which was messing it up.
Recreating the tag fixed it.
No code change needed
<img width="793" alt="image" src="https://user-images.githubusercontent.com/5358146/171335875-066cd99b-9eb0-47d1-86f6-0bb97412a83b.png">

[2022-06-01 05:44] #10649 closed

[2022-06-01 05:46] #10645 closed

[2022-06-01 11:34] thelostone-mc commented on #10640
1) This seems to be due to regex failure !
Thrown in a fix to fix the reported error: f85ee33e4

2) I believe it is. Is it similar in other QR flow integration like zcash / zilliqa ?

[2022-06-01 12:51] nfrgosselin commented on #10640
LGTM! Thank you

[2022-06-01 13:07] GTChase commented on #10645
+1 ^^

[2022-06-01 13:08] nfrgosselin opened #10651 "Mobile Polygon Checkout error"
**Overview**
I'm unable to proceed through the Polygon payout flow on mobile

**Steps To Reproduce**
1. Add [Testing Grant](https://gitcoin.co/grants/5929/ignore-checkout-testing-grant) to cart on mobile
2. Go to cart on mobile
3. Click on Polygon Checkout
4. See error

**Observed  behavior**
I'm served an error (see screenshot)

**Expected behavior**
I can proceed through the checkout flow

**Scr

[2022-06-01 14:19] nfrgosselin commented on #10646
Just spoke with @thelostone-mc and we're okay to remove this functionality from this page.

[2022-06-01 19:24] scampVR commented on #10368
@thelostone-mc back from vacation and got a chance to look at this more. TL;DR there appears to be an issue inside zksync-checkout library where zkSyncBatchCheckout() doesn't return transaction hashes correctly. Next I'm going to see if I can make the fix on that project, but I'm figuring this all out as I go, so not sure how long that will take. For now, on this issue, admins will still have to m

[2022-06-06 06:18] #10646 closed

[2022-06-06 13:26] nfrgosselin opened #10657 "Turn off product feedback form"
**Details**
We're receiving more spammy responses to our product feedback form (see screenshot) and these responses aren't really being used by the team anymore. We need to turn off this form (not sure where it lives though).

**Email screenshot**
<img width="622" alt="image" src="https://user-images.githubusercontent.com/15041635/172169465-bfaeab31-af69-4f90-ad63-ede199e90d22.png">

[2022-06-07 17:34] markzaky opened #10660 "Can't register for Gramts Round 14"
![image](https://user-images.githubusercontent.com/56959956/172446273-dfdbca94-2ff6-417c-b057-a9c0bccac1c0.png)

I am getting this error as I am trying to register for the Gramts Round 14 Hackerthron.

[2022-06-08 10:42] 0xPr0f commented on #10660
have you tried on another browser ?

[2022-06-08 13:30] #10630 closed

[2022-06-08 14:19] StellarisMeta opened #10663 "Cannot find our grant on the review status document on Notion"
Straightforward - it is as the title says. Here's the link for the grant: https://gitcoin.co/grants/6225/the-tabletop-rpg-project-ai-dd-assistant. I have also emailed gitcoin support.

[2022-06-08 15:45] nfrgosselin opened #10664 "Celo contribution tracking"
**Overview**
Celo contributions are being recorded incorrectly.

Connor entered 3 transactions via our checkout (2 were false, 1 was real) and all were recorded as Failed on the contribution feed (see screenshot) and in [Metabase](https://metabase.gitcoin.co/question/1194). The donation for .001 CELO is showing up as successful on the [block explorer though](https://explorer.celo.org/tx/0xa6e27473

[2022-06-08 20:11] Baro1905 commented on #5326
Good

[2022-06-09 04:33] #10657 closed

[2022-06-09 13:14] nfrgosselin opened #10669 "Share Cart + I just donated links broken"
**Overview**
The link you're prompted to post on twitter after donating takes you to a profile setup page (if you're logged in) and if you're not logged in it takes you to a blank white page.

**Steps To Reproduce**
For [example](https://gitcoin.co/grants/cart/bulk-add/5688;0.0006;3,5288;0.0006;3,5051;0.0006;3,5007;0.0006;3,4874;0.0006;3,3591;0.0006;3,1620;0.0006;3,:izzahgitcoin)

You can [search

[2022-06-09 13:31] nfrgosselin opened #10670 "Polygon tag showing up on multisig grant details page"
**Overview**
Grants with multisig wallets are still showing the Polygon tag on their grant details page, even though we don't allow payments on that chain.

**Observed  behavior**
Polygon tag showing on grant details page for grants that have multisig wallets

**Expected behavior**
Polygon tag should not be visible for grants with multisig wallets

**Screenshots**
<img width="1382" alt="image" src

[2022-06-09 13:46] thelostone-mc commented on #10664
Fixed via ae21b06b9b30f26684370ff6496577d45ea6cfd0

[2022-06-09 13:46] #10664 closed

[2022-06-09 14:42] lychees opened #10672 "Cannot check CLR in grant."
Hi, my friends' and min project get approved in the notion but doesn't be active in the GR grant list.
It seems that we cannot check CLR for both of them.

What should we do?
https://gitcoin.co/grants/6114/meta-space
https://gitcoin.co/grants/5744/w3itch

[2022-06-09 23:01] GovindaKanath opened #10673 "Grant duplicated due to an error in the designation of address for receipt of funds"
### Who
TopBLock Grant

https://gitcoin.co/grants/6210/topblock

### What
We want to know if we can delete the grant with the error in the address without negative consequences for our application given the time limit suggested in the Round Briefs of uploading the application before June 08.

### Why
We found it necessary to create a new Grant due to an error in the designation of the address for

[2022-06-10 20:27] nol13 commented on #10573
am getting this as well

[2022-06-12 14:59] Brawanek commented on #5326
How about suit options and color

[2022-06-13 13:28] nfrgosselin opened #10675 "Unable to add missing zkSync contributions"
**Overview**
Support is unable to manually add contributions from zkSync through the missing contributions flow.

**Steps To Reproduce**
1. Go to ['form'](https://gitcoin.co/grants/add-missing-contributions)
2. Select zkSync as checkout type
3. Enter in wallet address and username (see list below)
4. Hit submit
5. See error

**wallet / username examples:**
1. 0xbb9ab426bb8c8bb37c7e6eed6a4cb8035f02

[2022-06-13 20:52] scampVR commented on #10368
Thanks for the patience on this one, think we may be in the final stretch. The good folks at the zkSync support team were able to help track down the root issue and the fix shouldn't require any code changes on gitcoin. No ETA just yet, but once I hear it's ready, I will give it a test and everything may just work 🤞

[2022-06-14 17:06] markzaky commented on #10660
It worked. Thank you.

[2022-06-15 13:26] willsputra commented on #10552
@GTChase how about we change the help text to:
"Enter link to submission, website, or GitHub repo/PR..."

what do you think?

was thinking of something like "myproject.com" but afraid users might think they need to submit a whole new website...

[2022-06-16 18:30] nfrgosselin opened #10682 "Approved grant not showing up as in matching round"
**Overview**
[This grant](https://gitcoin.co/grants/6626/crypts-and-caverns-speed-development-of-games-in-t) has been approved (see screenshots) and should be appearing in the Lootverse matching round, but is showing as "Not in active matching round" on the grant details page.

**Observed  behavior**
Grant is showing as not in an active matching round

**Expected behavior**
Grant should be showing

[2022-06-16 18:54] schultztimothy commented on #10651
Steps to recreate on desktop for easier debug:
1. Clear all of local storage
2. Hard refresh
3. Place item in cart
4. Checkout with polygon

When testing on desktop this appears to be an issue picking up the wallet connection.

I unfortunately was not able to fix before having to travel.

[2022-06-16 19:08] nfrgosselin commented on #10682
Follow-up:
this is also showing up on another [Lootverse grant](https://gitcoin.co/grants/6647/the-divine-eye-a-magical-device-that-contains-on-c) and [this one](https://gitcoin.co/grants/6635/a-web3-platform-creating-the-most-rewarding-and-in)

[2022-06-16 23:02] nfrgosselin opened #10683 "Posting to contributors not working"
**Overview**
User [Jaazinn](https://gitcoin.co/jaazinn) is receiving an error when trying to message contributors to [his grant](https://gitcoin.co/grants/4268/zkrollupsxyz) via the cGrants form (see screenshots)

**Screenshots**
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/15041635/174192087-ffa08b11-dc34-4315-9959-2ad3937d8b4e.png">
<img width="1009" alt="image" s

[2022-06-17 06:31] thelostone-mc commented on #10683
This is not a bug in the platform but instead in the bsci script which has marked the user as [sybil](https://gitcoin.co/_administrationtownsquare/squelchprofile/18823/change/?_changelist_filters=q%3Djaazinn)
Would recommend reaching out to FDD team to figure out how to deal with this in the future.

i turned the squelch inactive

[2022-06-17 06:31] #10683 closed

[2022-06-17 08:35] thelostone-mc commented on #10682
I'm not sure what went wrong here! I ended up making a updates to description -> recalculating the CLR and the information now shows up
The values also have been updated. I'm assuming the clr command timed out the previous time / never got run to cause this unexpected error.
All resolved / unable to reproduce now

[2022-06-17 12:49] nfrgosselin commented on #10683
Good catch, thanks @thelostone-mc !

[2022-06-17 20:40] scampVR commented on #10368
Just ran some test fundings and the transactions got processed successfully, so I believe everything is working now. Time to go fund some grants!

[2022-06-20 04:14] #10670 closed

[2022-06-20 04:15] thelostone-mc commented on #10669
Looks like this has been fixed and rolled out in production.Closing this out

[2022-06-20 04:15] #10669 closed

[2022-06-20 17:33] nfrgosselin opened #10691 "Incorrect Metabase Query"
**Overview**
[This Metabase query](https://metabase.gitcoin.co/question/1055?grant_clr=181) is only showing one grant for the EthInfra round, even though there are >400 grants in the round itself.

Is something wrong with the query?

[2022-06-20 18:24] nutrina commented on #10691
Should work now, please retest.

[2022-06-20 19:54] cniweb commented on #5436
+1

[2022-06-21 03:32] SunflowerPKU opened #10692 "Can't obtain the JSON data through Gitcoin API"
**Overview**
When I used the Gitcoin API to get the JSON data of Gitcoin grants, it returned the wrong results. Maybe for the first time, the results is right, but when I tried two or three times, it can't return the right results.

**Steps To Reproduce**
Steps to reproduce the behavior:
For example, I want to obtain the related data of 'https://gitcoin.co/api/v0.1/grants#/?format=json&pk=170'.
I

[2022-06-21 21:48] ccerv1 commented on #10692
You're not calling the API correctly. Remove the `#` from the url.

Also, I am not seeing a Grant 170.

The following works for me and pulls the JSON data of Grant 4000.

[code]

[2022-06-21 22:52] phsiao opened #10693 "Github stamps not included in the trust bonus"
**Overview**

Passport issues stamps for github connected account, but the trust_bonus score does not include it.  Maybe it is redundant but having a stamp that has no effect seems odd.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Without github stamp, get your trust_bonus
2. Go to passport page and add github stamp
3. Go back to trust page and the score is the same

**Observed  beh

[2022-06-22 02:08] SunflowerPKU commented on #10692
@ccerv1 Thank you for your explanation. Yes, I agree with the above two problems so I edited the issue. However, I still met the same problem after I tried several times.

[2022-06-22 11:43] ccerv1 commented on #10692
@SunflowerPKU your query is still missing the `?` before `pk`.
Try [https://gitcoin.co/api/v0.1/grants/?pk=4000](https://gitcoin.co/api/v0.1/grants/?pk=4000)

[2022-06-22 15:54] nfrgosselin opened #10698 "Investigate estimated CLR match"
**Overview**
Several grants have seen some large swings in their estimated match amounts in the last 24-36 hours. I'd like someone to investigate the CLR calculations/estimations to make sure everything is running normally.

**Additional data points**
- [This grant](https://gitcoin.co/grants/3531/dataverse-your-ownable-personal-space) was at an estimated match of ~$80k yesterday, and is now at $5k

[2022-06-22 20:56] boyin0x opened #10699 "My bounty was paid but it isn’t market as completed."
**Overview**
Looks like it was initially paid with a speed up or failed transaction and the app didn't catch the last one.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gitcoin.co/issue/28904
2. Scroll down to 'SUBMISSIONS'
3. See wrong tx and the  'Pending Verification'

[2022-06-23 07:38] StellarisMeta opened #10700 "Transfer of Grant Ownership to Founder"
Hello, I'm the current lead creative for this grant: https://gitcoin.co/grants/6225/the-tabletop-rpg-project-ai-dd-assistant.

I would like to transfer the ownership of our grant to one of our co-founders, as they are our public leader figures with their public GitHub portfolios. I would like to transfer ownership to https://gitcoin.co/lishaan.

Thank you.

[2022-06-23 18:55] nfrgosselin commented on #10700
This has been addressed — closing out

[2022-06-23 18:55] #10700 closed

[2022-06-23 20:51] CarlBeek commented on #10651
I've been having the same issues using Desktop (Firefox) + WalletConnect on Polygon

[2022-06-24 00:26] Shinmyoungrae commented on #5334
hi

[2022-06-24 00:27] Shinmyoungrae commented on #5436
!@@!@!@

[2022-06-24 14:17] developerfred opened #10702 "[bug] missing-contributions"
**Overview**

When a grant owner verifies that a tax has been successful in their wallet it should automatically sync with the gitcoin cron, but this does not always happen due to large amounts of contributions, weighing this the Gitcoin team created an app for donors add transactions. However, a grant owner has access to this application and can create new contributions with valid fees.

I ended

[2022-06-26 03:16] nonsensetwice opened #10706 "Transfer Ownership of Project"
### Who
From @nonsensetwice to @amaredeus

### What
https://gitcoin.co/grants/4063/degen-poap-distribution-bot

### Why
Project has new ownership/management.

[2022-06-29 12:49] nfrgosselin commented on #10706
Completed — closing

[2022-06-29 14:14] nopslip opened #10709 "Bounties 'Created By Me' shows all bounties"
**Overview**
![image](https://user-images.githubusercontent.com/1734015/176457934-d2a09484-d183-49b3-bb04-df38bb966c49.png)

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Be logged in
2. Click on My  Bounties, Created by Me
3. It displays all bounties, not bounties created by me

**Observed  behavior**
It doesn't display bounties created by me, when I click Bounties Created by Me

**E

[2022-07-04 23:08] janmaslo opened #10713 "Tor unfriendly"
The website often redirects to 403 and prompts with invasive (and unsolvable) captchas when using the Tor Browser.

[2022-07-07 21:26] janmaslo opened #10719 "Consider converting your scripts to proper POSIX shell syntax rather than bash"
Your scripts (`/scripts`) have a `.bash` extension which I find rather odd.
Bash, while compatible with POSIX introduces many non-standard 'features'. Please consider revising your scripts to proper POSIX strict syntax to ensure compatibility across different systems (e.g. Alpine and OpenBSD ship with shells other than bash and many individuals replace bash with more frugal and secure shells). You

[2022-07-09 04:44] JirkaJelinek opened #10720 "Jirka"
### Discussion

[comment]: # (What conversation would you like to facilitate?)

[2022-07-11 12:46] rude69 commented on #5334
hi

[2022-07-11 17:29] iaintait123 commented on #5334
Hi

On Mon, 11 Jul 2022, 13:47 Anton, ***@***.***> wrote:

[2022-07-15 12:28] GTChase opened #10723 "Turn off Product Feedback Emails"
**User Story:**
As Gitcoin
I want to have the product request feedback forms
So that i am not misleading our users

**Acceptance Criteria**
GIVEN gitcoin.co is up and running
THEN i do not want the following email to send:
hi @sichen1234,

kyle, frank, and alisa from Gitcoin here — i see you haven't funded an issue in a few months.

in the spirit of making Gitcoin better + checking in:

appreciate

[2022-07-15 12:46] nutrina commented on #10723
Cronjob has been disable on gitcoin3.

[2022-07-15 12:46] #10723 closed

[2022-07-18 17:05] nfrgosselin opened #10726 "User can't import Github avatar"
**Overview**
A user is trying to import their Github avatar to their Gitcoin profile but it won't persist.

**Steps To Reproduce**
1. Impersonate user ncookiez
2. Go to My Account -> Settings -> Account
3. Scroll down to Profile Photo
4. Click "Use Github Avatar" (you should see success message)
5. Refresh page

**Observed  behavior**
The Gitcoin avatar reverts back to our default image

**Expecte

[2022-07-20 20:32] vporton commented on #10556
It is important that the user can't opt-out from the affiliate program (or set a prohibitively low affiliate share) for his grant, because doing SEO for free projects is even more important than paying the author.

I am author of ordered semigroup actions (a scientific text). Suppose, I put it at GitCoin grant, disable the affiliate program (or set a prohibitively low affiliate share), then I woul

[2022-07-28 17:07] ranveer2106 commented on #6461
hey Willsputra, I would like to work on this issue

[2022-07-28 17:10] ranveer2106 commented on #6951
hey Jdorfman, I would like to work on this issue.

Could you please assign it to me

[2022-07-28 18:54] nfrgosselin opened #10735 "Synthetic content tests"
**Acceptance Criteria**
- Set up synthetic tests on cGrants pages to ensure that the pages are getting content back

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-07-28 19:08] nfrgosselin opened #10736 "Segment celery queues"
**Overview**
Right now all celery jobs go into the same default queue, which makes it hard to set thresholds or troubleshoot when the queues get too large. We want to segment jobs into more informed / targeted queues to give us more control over the situation.

**Acceptance Criteria**
- Identify relevant segments and categorize celery jobs into new named queues

**XD Links:**

**Tech Details:**
-

[2022-07-28 19:10] nfrgosselin opened #10737 "Instrument thresholds and alerts for new celery queues"
**Acceptance Criteria**
- Set thresholds for our celery queues
- Set up Pager duty for when those queues are out of thresholds

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-07-28 19:20] nfrgosselin opened #10738 "Create runbook for Owocki's fix"
**Overview:**
[Owocki outlined a fix](https://discord.com/channels/562828676480237578/990199901633789962) for changing celery worker's jobs immediately instead of having to go through Redis. We want to create a runbook for that fix so we can use it if the queues get out of hand again.

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-07-28 19:22] nfrgosselin opened #10739 "Add alerting for read replica load"
**Acceptance Criteria**
- Add alerting for the read replica load

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-07-28 19:22] nfrgosselin opened #10740 "Add alerting for CLR calcs"
**Acceptance Criteria**
- Add alerting for the CLR calcs when they fail or error

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-07-29 17:57] nfrgosselin opened #10741 "Create additional tags field in db"
**User Story:**
As a round operator
I want two different tag fields
So that I can differentiate between requested tags and approved tags

**Acceptance Criteria**
- create new tag field called "Requested tags" (use same data as existing "Tags" field)

**XD Links:**
The field should look like the existing tags field in Django, and ideally be next to each other:
![image](https://user-images.githubuse

[2022-07-29 18:41] nfrgosselin opened #10742 "Update grant application flow"
**User Story:**
As a round operator
I want the tags that a grantee enters in their application to populate the "requested tags" field
So that I can differentiate between requested and approved tags

**Acceptance Criteria**
GIVEN that a grantee has submitted a grant application with tags
WHEN the new grant record is created
THEN the "requested tags" field is populated with the tags they entered
AND

[2022-07-29 18:45] nfrgosselin opened #10743 "Update Grant Notion integration"
**User Story:**
As a round operator
I want requested tags to flow into our Notion page
So that I can manage the tag flow

**Acceptance Criteria**
- Update our cGrants / Notion integration, so that the "requested tags" field is sent to the [Eligibility Status page](https://gitcoin.notion.site/fc5155ddb7804560a42387043bd805c1?v=937073ff11d149d29e08aa5901befc77) instead of the "tags" field

**XD Link

[2022-07-29 18:47] nfrgosselin opened #10744 "Add main round tag to all approved grants"
**User Story:**
As a round operator
I want to bulk assign the main round tag to all approved grants
So that I don't have to manually review old grants

**Acceptance Criteria**
- All past approved grants have the "main" round tag in their "tags" field

**XD Links:**

**Tech Details:**
- this is the "main" tag that should be applied to all grants: https://gitcoin.co/_administrationgrants/granttag/62

[2022-08-01 18:28] MadDog250 opened #10745 "Bounty Payment doesnt Work"
Having issue paying out bounty when I select pay, nothing happens.
![image](https://user-images.githubusercontent.com/101847688/182218772-e182d74e-069c-4957-a760-099bdea760e8.png)

I would like to switch the from: account to a different wallet as well

Steps to reproduce the behavior:
Payout Bounty.
Then when selecting payout button nothing works.

[2022-08-01 19:51] nfrgosselin opened #10746 "Confirm grant details tags view"
**User Story:**
As a grant owner
I want to see my approved tags
So that I know what's been approved

**Acceptance Criteria**
- Confirm that grant details page displays "tags" field (not "tags_requested")

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-08-05 13:15] musnit opened #10748 "grant not approved"
### Who
spinamp

### What
grant has not yet been approved - plz fix
looks like it is approved in notion but not on gitcoin site:
 - gitcoin: https://gitcoin.co/grants/5917/spinamp
 - notion: https://gitcoin.notion.site/fc5155ddb7804560a42387043bd805c1?v=937073ff11d149d29e08aa5901befc77&p=caad33c859774ec0b91454154853b6a6&pm=s

### Why
idk

[2022-08-06 22:43] Donaldbill opened #10749 "Don’t really have much to say cause it my first time using the Gitcoin"
# ❤️ I'm using Gitcoin

If you (or your company) are using Gitcoin - please let us know. We'd love to hear from you!

If you would like to help Gitcoin - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Gitcoin
- [ ] Give talks
- [ ] Do a bounty
- [ ] Support us on [Gitcoin Grants](https://gitco

[2022-08-06 22:44] Donaldbill commented on #10749
Don’t have nothing to say yet,cause am new here

[2022-08-10 10:03] #10741 closed

[2022-08-10 10:04] #10742 closed

[2022-08-10 10:04] #10746 closed

[2022-08-10 10:04] #10744 closed

[2022-08-10 10:04] #10743 closed

[2022-08-11 15:42] nfrgosselin opened #10751 "Change lifetime funding to estimate on grants detail page"
**User Story:**
As a grantee
I want to display an estimated lifetime funding amount (instead of an "exact" number)
So that contributors know how to contextualize the number

**Acceptance Criteria**
GIVEN that I am on the grant details page
WHEN I look at copy in the lifetime funding section
THEN I see a revised heading that reads "Estimated lifetime funding received"
AND the "raised from all contr

[2022-08-11 15:46] nfrgosselin opened #10752 "Change lifetime funding to estimate on explorer page"
**User Story:**
As a grantee
I want to display an estimated lifetime funding amount (instead of an "exact" number)
So that contributors know how to contextualize the number

**Acceptance Criteria**
GIVEN that I am on the Grant Explorer
WHEN I look at the dollars raised on a grant's card
THEN the "total raised" copy is replaced with "Estimated total raised"

GIVEN that I am on the Grant Explorer an

[2022-08-11 15:49] nfrgosselin opened #10753 "Add resource docs to grant creation form"
**User Story:**
As a potential grantee
I want to have access to the right resource docs
So that I can get guidance if I need it

**Acceptance Criteria**
GIVEN that I am on step one of the grant creation flow
WHEN I look under the "Eligibility & Discovery setup" heading
THEN I see a link to "Round Eligibility Criteria" that directs to https://gitcoin.notion.site/GR15-Gitcoin-Grant-Eligibility-Brief

[2022-08-12 03:19] buynao opened #10754 "Wallet app browser use zkSync checkout error"
**Overview**
When I'm in the browser of some wallet apps, I can't use zkSync checkout

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Open any of the wallet apps（imToken，metamask）, using their built-in (DApp) browser
2. Open gitcoin.co, login, select the project and use zkSync to checkout
3. In the pay with zksync pop-up， click proceed
4. At this time， some unusual behavior appears

**

[2022-08-12 03:30] buynao commented on #10754
When gitcoin makes a zkSync payment, it launches a new page to complete the payment.

The reason for the iOS error being reported is that the handle was lost when fetching the reference to the payment page that had just been opened and was not fetched, so the error is displayed.

However, this does not affect the display of the payment page. As to why the payment page is not displaying the normal

[2022-08-17 14:51] Maniktherana commented on #6461
Is this issue still up for grabs? I'd like to be assigned to it

[2022-08-18 16:45] owocki opened #10762 "gitcoin.co/results does not update anymore."
when the `create_results_cache()` function is called, looks like there is infinite recursion error.  related to redis?

[code]

[2022-08-22 13:41] nfrgosselin opened #10767 "Add resource links to Grants homepage"
**User Story:**
As a potential grantee
I want to see important resource links
So that I have the best possible chance of grant success

**Acceptance Criteria**
GIVEN that I am on gitcoin.co/grants
WHEN I look below the "View All Grants" button
THEN I see a link to [Grantee Onboarding Support](https://gitcoin.notion.site/gitcoin/Gitcoin-Grantee-Onboarding-Document-bbfe106a32534fb5a011f09c121257c3)

[2022-08-22 14:24] nfrgosselin opened #10768 "Search results not displaying in correct priority"
**Overview**
Both the global search and the explorer search are no longer showing the result priority that we implemented in #10560

**Steps To Reproduce**
Type in "ether" in explorer search and global search

_Explorer results_
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/15041635/185944620-74f9d9ad-6a03-4985-9d8b-7e124dc3f6e4.png">

_Global results_
<img width="47

[2022-08-23 14:20] thelostone-mc commented on #10752
This is on quick view from what i understand so working on #10751 automatically fixes this as they share the same code

[2022-08-24 11:47] kevinrolsen opened #10771 "Set up Pager Duty for GR15"

[2022-08-24 12:03] kevinrolsen opened #10772 "Cart not loading / Polygon / IBAN error"
Discord thread tracking issue: https://discord.com/channels/562828676480237578/1009744067887902772

Notion doc on review environments: https://www.notion.so/gitcoin/Review-Environment-How-to-453e1b62e2cb41a186707b1dee5cac54#5df740d7ce07459a8112b75bfcbc6515

[2022-08-24 12:04] kevinrolsen commented on #10740
remove enqueuing from Admin
gitcoincelery5 *gotcha*

[2022-08-24 12:06] kevinrolsen opened #10773 "Set up Paid Alchemy Account"
Paid Alchemy Account (Currently we reached maximum 5 apps on alchemy will need more to add a polygon app and possibly more to support more network calls). Or are there other RPC urls Passport could borrow for Polygon

Can we get Infura account access for GPC?- OLSEN

[2022-08-24 12:08] kevinrolsen opened #10774 "ECS Infra - finalization and team training"

[2022-08-24 12:12] kevinrolsen opened #10775 "Manual workflow to pulumi-up the latest container"

[2022-08-24 17:03] kevinrolsen commented on #10771
@DanieleSalatti @aminah-io - up next we'll need to define monitors for the new infra in datadog as we have for passport: https://app.datadoghq.eu/monitors/manage

[2022-08-24 18:43] #10767 closed

[2022-08-24 18:43] #10751 closed

[2022-08-24 18:43] #10753 closed

[2022-08-24 18:44] #10762 closed

[2022-08-24 22:31] lthrift commented on #10751
@nfrgosselin I didn't have a way to test the rounding elements of this A/C in staging. Accepting it for deployment and then we can spot check in production following.

[2022-08-24 22:47] lthrift commented on #10751
@thelostone-mc this seems to already be in production so I did the spot check.

This acceptance criteria has not been implemented correctly:

GIVEN that I am on the grant details page
WHEN the grant has earned <$1,000
THEN the page displays "Less than $1,000"

![Image](https://user-images.githubusercontent.com/92401444/186536802-98098c02-50d0-44b4-99d3-d4170cfdda0b.png)

[2022-08-24 22:49] lthrift commented on #10752
This is not implemented correctly per my comment on #10751

[2022-08-25 02:39] kammerdiener opened #10781 "Ensure replica databases for new production infrastructure"

[2022-08-25 02:39] kammerdiener opened #10782 "Get infra_as_code_production branch merged in"

[2022-08-25 02:40] kammerdiener commented on #10782
https://github.com/gitcoinco/web/pull/10778

[2022-08-25 02:40] kammerdiener opened #10783 "Prep Overview Dashboards for new Infrastructure"

[2022-08-25 02:41] kammerdiener opened #10784 "Get Staging metrics into DataDog"

[2022-08-25 05:50] thelostone-mc commented on #10751
@lthrift fixed via cc3256a26

[2022-08-25 05:50] thelostone-mc commented on #10752
fixed via cc3256a26

[2022-08-25 06:59] giliomeejg opened #10785 "staging.gitcoin.co - Login issue"
**Overview**
Details, details, details

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.gitcoin.co (ensure you're not logged in)
2. Click on Login and authorise Github
3. See error

**Observed  behavior**
Throwing an error around:
[code]

**Expected behavior**
Expected to be logged in

**Screenshots**
![error](https://user-images.githubusercontent.com/19786448/186596744-bf

[2022-08-25 08:28] thelostone-mc commented on #10772
Closed via #10776

[2022-08-25 08:28] #10772 closed

[2022-08-25 13:30] kammerdiener opened #10786 "Run migrations on Staging"

[2022-08-25 16:18] achiverram28 commented on #8866
I want to take this issue and contribute

[2022-08-25 16:18] achiverram28 commented on #8866
I found this issue on https://ovio.org/projects and would love to contribute!

[2022-08-25 16:19] achiverram28 commented on #8006
I found this issue on https://ovio.org/projects and would love to contribute! [add other relevant info about you]

[2022-08-29 15:55] kevinrolsen commented on #10771
Add Monitors for the following (this list is WIP):

- [ ] High CPU on cluster (indicates Autoscaling is lagging behind demand)
- [ ] High Number of instances (indicates Autoscaling is working, but consuming too many resources)
- [ ] High Latency on Page Load (indicates overall site performance degradation)
- [ ] High Latency on DB Querries (indicates inefficient queries, or high db load)
- [ ] Hig

[2022-08-29 16:18] lthrift opened #10792 "Unable to claim matching funds"
Customer support issue: https://discord.com/channels/562828676480237578/1012610617242304572

grantee who keeps getting error when he clicked the claim button. Can someone help? He tried clearing caches and other browser, nothing works - he didnt arrive at the stage where he needs to connect wallet
Username: https://gitcoin.co/brian-lc
Grant: https://gitcoin.co/grants/5613/zk-locale-privacy-preserv

[2022-08-29 17:50] ilievski-david opened #10794 "Not able to change profile image"
**Overview**
Few months ago my Gitcoin profile was bugged, I couldn't log in, it showed error 500 every time I tried to log in. It was fixed in this issue https://github.com/gitcoinco/web/issues/9674 . Since the fix I can't change the profile image.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to my profile
2. Click on 'Update' on the profile image
2. Click on any Avatar image
4.

[2022-08-30 09:08] rusher-R opened #10795 "Any plan for Mobile App development?"
**User Story:**
As a User
I want to use GitCoin App to browser newest project when in toilet
So that
Maybe i can find good project to grant...😂😂😂

[2022-08-30 09:12] kevinrolsen commented on #10775
[Update ci-stage.yml](https://github.com/gitcoinco/web/commit/b65c6a3a40662d92ef2af68bdb29418990fd64d5)
[Update ci-prod.yml](https://github.com/gitcoinco/web/commit/7c26eb206a348925a8fb7b25fe2ae0b5a3b977e6)

[2022-08-30 14:34] nfrgosselin commented on #10751
LGTM

[2022-08-30 19:49] ahmetoznar opened #10801 "Need Help! Changing grant information."
### Who

Username: ahmetoznar
Behalf of: https://gitcoin.co/grants/7297/dolven-labs-dao-based-ecosystem-catalyst-for-star

### What

We noticed that some critical information is missing from our grants like tags in the eligibility section and project summary. (Interface while creating grant.)

### Why

We want to know if there is a way to edit them, we cannot access this via the edit grant section

[2022-08-31 02:28] kammerdiener opened #10803 "Flower Deployment"

[2022-08-31 02:54] kammerdiener commented on #10774
Exec isn't working. providing some differing docs on how to do everything from the EC2 in the account

[2022-08-31 03:04] kammerdiener commented on #10783
https://app.datadoghq.eu/dashboard/w4x-4ym-e7n/web-production?from_ts=1661910955950&to_ts=1661914555950&live=true

[2022-08-31 03:06] kammerdiener commented on #10781
Working on deploying

[2022-08-31 03:06] kammerdiener commented on #10803
Working on deploying

[2022-08-31 13:38] #10794 closed

[2022-08-31 16:44] matteoettam09 opened #10807 "Wrong address in grant proposal"
### Who

I am Matteo, the author of [this grant](https://gitcoin.co/grants/7329/a-decentralized-science-framework-by-crunchdao)

### What

I added the wrong address, when creating the grant. The correct one is given [here](https://etherscan.io/address/0x6279e0bddc76b8adca38585fee25d763da058b03)

### Why

Could you please update it? Thank you very much.

[2022-09-01 07:32] kevinrolsen commented on #10792
We think this is related to the web3.js / metamask issue.

[2022-09-01 08:55] thelostone-mc commented on #10792
@lthrift
I've tried claiming on his behalf and it seems to go through fine without any issue.
Like @kevinrolsen mentioned -> this has been fixed already  🙌

**On Chrome**

![Image](https://user-images.githubusercontent.com/5358146/187873819-bf7efdc3-337e-4121-8fd7-e8da03c496ce.gif)

**On Browser**

![Image](https://user-images.githubusercontent.com/5358146/187874367-5264c82d-f617-46cd-8d7b-c3a255a

[2022-09-01 08:56] #10792 closed

[2022-09-01 12:46] kevinrolsen commented on #10752
![Image](https://user-images.githubusercontent.com/62433459/187916910-23d94347-25da-4078-bd84-9db310b924eb.png)

@thelostone-mc this is still up on production.gitcoin.co origin/master 94ec92248d112ae9a7ae6f1cb98dfe2643c29f11 2 hours ago

[2022-09-01 13:14] farque65 commented on #10773
I logged into the infura account and it will cover passport for new rpc url needs on various networks that passport is currently trying to address.

[2022-09-01 15:11] thelostone-mc commented on #10768
Synced up with @schultztimothy

Global results do work as expected :

<img width="581" alt="image" src="https://user-images.githubusercontent.com/5358146/187949211-66a64e2e-c883-4b94-bdcd-6b2266a9ff5f.png">

Could you clarify what's not working on this @nfrgosselin  ?

[2022-09-01 16:54] yashdev9274 commented on #7082
is it still open, what is the issue after merge?

[2022-09-01 16:54] yashdev9274 commented on #6131
is it still open, what is the issue after merge?

[2022-09-01 16:54] yashdev9274 commented on #6090
is it still open, what is the issue after merge?

[2022-09-01 22:05] lthrift opened #10813 "Delete emails being sent from product@gitcoin.co by cplatform"

[2022-09-01 22:09] lthrift commented on #10813
We have multiple emails being sent from cplatform on behalf of product@gitcoin.co that have been shutdown multiple times and are back again. These need to be completely retired.

For context to whomever picks this up - Gerald has worked on this previously.

![Image](https://user-images.githubusercontent.com/92401444/188021516-072a578f-2a61-4bed-819f-1e3283619b31.png)

![Image](https://user-images.

[2022-09-02 08:51] kevinrolsen commented on #10783
The ELB Fields in that link you sent @kammerdiener look empty. Are we happy with this dashboard for monitoring the health of

[2022-09-02 08:52] kevinrolsen commented on #10774
@chibie @kammerdiener can you link where you're documenting this in the ticket here?

[2022-09-02 20:59] Gr3at opened #10818 "JS comment appears in html"
**Overview**
A JavaScript comment `(// var web3 = Web3 ? new Web3(Web3.givenProvider || "ws://localhost:8546") : null;`) shows up in the rendered html template.

The associated django html template seems to be [this one](https://github.com/gitcoinco/web/blob/e6ad25ad8a12257e62dead00febd5254e501a1d3/app/grants/templates/grants/shared/shared_scripts.html).

**Steps To Reproduce**
Steps to reproduce

[2022-09-02 23:29] fswami opened #10819 "Can I change the owner of my gitcoin grant to a new user?"
I need to change the owner of the grant I created from @fswami to @swamifantastic.

The grant in question: https://gitcoin.co/grants/6145/support-me-in-developing-an-iconic-composable-vil

I made the mistake of using personal accounts and wallets, instead of setting up separate business accounts for Swami Fantastic Ltd, and this has made receiving money alongside my salary quite complex. My accoun

[2022-09-03 18:09] vporton commented on #10556
Create software that will automatically find donations recipient address (e.g. for dependencies) by checking an URL like `https://github.com/vporton/vporton/donations.json` related to browsed software package or scientific article (as reported by Semantic Scholar).

Also create browser sidebar that will leverage the aforementioned software to automatically find donations recipient address.

[2022-09-05 10:32] kevinrolsen commented on #10752
Please add commas to values > $1000

![Image](https://user-images.githubusercontent.com/62433459/188428847-bf386af4-d069-48e7-9c9a-88bb7530f900.png)

[2022-09-05 15:49] kevinrolsen commented on #10737
Redis queue depth - need to investigate

[2022-09-06 08:17] kevinrolsen commented on #10774
Please update the docs with the flower connections information and how to manually provision more celery workers

[2022-09-06 11:51] ghost opened #10823 "Grant missing from "Eligibility Status List""
Who: info@btheory.ventures

What: "Underground DAO" 7490 is not appearing in the grant eligibility status list.

Why: I'm not sure.

[2022-09-06 12:37] anansiy commented on #10823
Look me

[2022-09-06 12:42] nfrgosselin commented on #10819
Closing per direction from Support

[2022-09-06 12:42] #10819 closed

[2022-09-06 12:58] garysheng opened #10824 "Changing Grant Owner"
I would like to change the ownership of my Gitcoin grant, Dream DAO: https://gitcoin.co/grants/3816/the-dream-dao-by-civics-unplugged.

In the Discord, I was directed to this email to fulfill my request.

My Github is garysheng and the new owner is madisunadams.

REASON: I am no longer in a role managing this grant, the new owner is.

[2022-09-06 14:31] nfrgosselin commented on #10824
Closing per support

[2022-09-06 14:31] #10824 closed

[2022-09-06 15:14] #10752 closed

[2022-09-06 15:18] nfrgosselin opened #10825 "ensure zkSync checkout works with v2"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**
From Matter Labs:
Ciao guys, we wanted to give you an advance notice that around the time of the Merge, we will be suspending L2 operations for zkSync V1. This is to minimize any potential risks. A full communication with more

[2022-09-06 15:23] nfrgosselin opened #10826 "update image directions on application page"
**Acceptance Criteria**
On step 2 of the grant creation flow (screenshot below), update copy to:
1. say "Project Banner" instead of "Project logo"
2. list recommended dimensions as 905 X 290

**Product & Design Links:**
![image](https://user-images.githubusercontent.com/15041635/188673837-4d443061-ab58-4f7c-852b-d2d3c7e05f16.png)

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-09-06 17:22] #10813 closed

[2022-09-06 19:51] kevinrolsen commented on #10752
merged and deployed to production.gitcoin.co

[2022-09-06 19:51] kevinrolsen commented on #10813
merged and deployed to production.gitcoin.co

[2022-09-06 19:52] kevinrolsen opened #10830 "Passport Updates to Trust bonus calculations (Deployment placeholder)"

[2022-09-06 19:52] kevinrolsen commented on #10830
merged and deployed to production.gitcoin.co

[2022-09-07 04:12] xiyu1984 opened #10835 "I saw my grant still be `inactive` when `APPROVED`"
### Who

### What
Here is my grant application: https://gitcoin.co/grants/7400/punstar
I found it has been `APPROVED`
![1662523812766](https://user-images.githubusercontent.com/83746881/188786905-3bc9fc2f-3bda-41c2-aa38-2f5121f76b92.png)

But I find the `inactive` information is still there, is there any mistake I made?
![1662523897359](https://user-images.githubusercontent.com/83746881/188787101-

[2022-09-09 03:31] thelostone-mc commented on #10768
Proposed solution was rejected. The idea is to move to elastic search and this is de-prioritzed based on comment from https://discord.com/channels/562828676480237578/1017066824799629334/1017101968679895203

[2022-09-09 04:02] Shoelace-Jim opened #10847 "I don't now how to get my grant active - I don't get any feedback"
### Shoelace-Jim

### https://gitcoin.co/grants/7703/ecobytes-mobile-data-dividend-like-carbon-credits

### I can't seem to get this active and don't get any review feedback.  Can't you help.  tks

[2022-09-09 13:37] YukiPL commented on #10847
@Shoelace-Jim Thank you for getting in touch. The review will usually take between 48-72hrs. As your grant was created less than 24hrs, please be patience while our review team get to your grant.
For future support, kindly send an email to support@gitcoin.co or create a ticket in our Discord channel. Our knowledge base support.gitcoin.co is also equipped with sufficient information, which we recom

[2022-09-09 13:46] #10847 closed

[2022-09-09 13:48] YukiPL commented on #10835
@xiyu1984 Thank you for getting in touch. I have notified the team about this. Your grant should be active within 24hrs. Please get back to us if it does not with the support channels below.
For future support, kindly send an email to [support@gitcoin.co](mailto:support@gitcoin.co) or create a ticket in our Discord channel. Our knowledge base support.gitcoin.co is also equipped with sufficient inf

[2022-09-09 13:48] #10835 closed

[2022-09-09 13:51] YukiPL commented on #10823
Hi there,
Thank you for getting in touch. Can you please submit the tag request using this [form](https://docs.google.com/forms/d/e/1FAIpQLSeiaaPaYC2HkTvM_uXhlCeKSBVXX382rH4bEMDlyVynLCAeug/viewform)? Our team will review them.
For future support, kindly send an email to [support@gitcoin.co](mailto:support@gitcoin.co) or create a ticket in our Discord channel. Our knowledge base support.gitcoin.co

[2022-09-09 13:51] #10823 closed

[2022-09-09 13:52] YukiPL commented on #10807
Matteo,
I believed I solved this with you via email and explain the support process. Closing this. Thank you.

[2022-09-09 13:58] YukiPL commented on #10801
@ahmetoznar Thank you for getting in touch.
According to [notion](https://www.notion.so/gitcoin/https-gitcoin-co-grants-7297-dolven-labs-ecosystem-catalyst-d3a1f0bad7114de7ba489b2f3ac6b1eb), your grant has been denied for your requested round. However, we are running another review for main round. Kindly send a DM to @GitcoinDisputes from the twitter account you listed on the page, so that the tea

[2022-09-09 13:58] #10801 closed

[2022-09-09 14:00] YukiPL commented on #10748
@musnit I believed this is solved.
As the support team does not monitor Github channel, I advised for future support, kindly send an email to support@gitcoin.co or create a ticket in our Discord channel. Our knowledge base support.gitcoin.co is also equipped with sufficient information, which we recommend you to read first before dropping us a line.
Thank you and all the best.
Yuki

[2022-09-09 16:19] FFF-Lebanon opened #10848 "GR15 registration deadline unclear timing, support Lebanon"
### Who
Fridays For Future Lebanon, privileged youth climate activists with international connections, have been reached out in order to finance a project for climate adaptation infrastructure, this is the only chance really to prove our anti-racist mitigation strategies work!

### What
Due to our failed legal system, we made the choice of not revealing the location of the volunteers' center activ

[2022-09-09 22:03] janmaslo opened #10850 "Consider adding a 'report' button/option to bounties."
As gitcoin allows anyone to become a bounty funder and post bounties without verification it often happens that bounties appear which are either incomplete, lack necessary information, or are just spam -- often posted by immature users of the web -- or much worse, are simply scams. Those are not only a waste of hunters' time, but also spark confusion, decreasing the accessibility and attractivenes

[2022-09-09 23:47] lthrift commented on #10825
For this one, we also need to have a status page that goes up and pauses contributions until the merge is complete.

[2022-09-09 23:52] lthrift opened #10851 "Stop Sending Product Feedback Emails"

[2022-09-09 23:59] lthrift opened #10852 "Remove KB Link from Matching Cap Message"

[2022-09-10 00:01] lthrift opened #10853 "Minimum contribution logic bug"
Cart logic should allow user to checkout with a 1DAI contribution but it currently throws an error.

![Image](https://user-images.githubusercontent.com/92401444/189460322-7e98be7d-9456-4a14-bede-65cb4dd2e93a.png)

[2022-09-10 00:13] Niyovainqueur commented on #5326
For bold people

[2022-09-10 00:50] dab036 commented on #10573
me as well, how can we fix this?

[2022-09-10 01:03] dab036 commented on #10573
oh i refreshed it and it's ok now

[2022-09-10 11:07] kevinrolsen opened #10854 "Find a reset users with mismatched usernames and profiles"
Users that have updated their username can get their account into a bad state (most recently trust bonus tabs do not appear for these users and they cannot manage their trust bonus / submit passport)

We need to find mismatched users and re-map their user and profile: https://discord.com/channels/562828676480237578/1017330730143072316

[2022-09-10 12:18] crowdfundedcures opened #10855 "Changing Gitcoin owner for Gitcoin Round"
Hi there,

My colleague Nick Fiorenza (nick@crowdfundedcures.org) had recently submitted the following Gitcoin grant applications on behalf of our DeSci project Crowd Funded Cures in his name as I was having internet issues:

https://gitcoin.co/grants/7518/medical-impact-dao-to-govern-retroactive-funding-o

https://gitcoin.co/grants/7516/open-source-medical-prize-fund-for-retroactive-fu

We need t

[2022-09-11 09:35] YukiPL commented on #10855
@crowdfundedcures Hi Savva, As mentioned in my previous email, we will need [nicktheninjax](https://gitcoin.co/profile/nicktheninjax) to create a Github issue and send the email. Any other issue created or email sent from another account, I'm afraid is not sufficient.
Thank you for your understanding.
Yuki

[2022-09-11 09:35] #10855 closed

[2022-09-11 17:31] NickTheNinjaX opened #10856 "GR15 - Change of Owner - Grant #s 7518 & 7516"
Hi there,

I (nick@crowdfundedcures.org) had recently submitted the following Gitcoin grant applications on behalf of our DeSci project Crowd Funded Cures:

- https://gitcoin.co/grants/7518/medical-impact-dao-to-govern-retroactive-funding-o
- https://gitcoin.co/grants/7516/open-source-medical-prize-fund-for-retroactive-fu

We kindly ask to change the owner of these grants from myself (https://gitc

[2022-09-13 08:02] YukiPL commented on #10856
@NickTheNinjaX Thank you for creating this. I have updated the owner for both of the grants. Please note that moving forward, only the grants' owner is able to claim matching fund and update the wallet details.
Thank you.

[2022-09-13 08:02] #10856 closed

[2022-09-13 08:50] NickTheNinjaX commented on #10856
Many thanks!

On Tue, Sep 13, 2022 at 10:02 AM Yuki Ling ***@***.***> wrote:

--
*Nicholas C. Fiorenza, M.Sc.*

*Mobile: *
+49.152.517.824.12

*Address:  *
Grimmstr. 24
10967 Berlin
Deutschland

[2022-09-13 16:53] aminah-io opened #10858 "Remove delay from new grants being written to notion"
https://discord.com/channels/562828676480237578/920714502650077264/1019282596368228372

[2022-09-14 05:29] thelostone-mc commented on #10825
Dropping a summary of the discussion with @vacekj  to add more context

Just dropping a summary of the checkout cause I'll be signing off in a bit and don't want to be the blocker for this 😛

the zksync piece can be found while checking out at : https://gitcoin.co/grants/cart
- you add grant to cart
- checkout using zksync
- it checks balance of account and then redirects the user to zksync widget

[2022-09-14 05:35] thelostone-mc commented on #10825
@lthrift I've updated the context of the ticket with additional steps on how we should tackle this

[2022-09-14 15:17] vacekj commented on #10825
Notes from further discussion with @thelostone-mc ~
- ideally we would integrate v2 before the next round, but keep v1 as well for at least one more round, as we assume a lot of users are still gonna be using v1 (it will take some time to migrate funds to v2)
- if we keep v1, we would need to have some good UX for selecting between the two to minimize misclicks, misunderstandings and in the worst

[2022-09-14 20:34] prsndp commented on #10826
Hi @nfrgosselin , Hope you're doing well. Could I take this issue? I would like to work on it.

[2022-09-14 20:36] prsndp commented on #10818
Hi, @Gr3at could i take this issue? I would like to work on it.
Thanks

[2022-09-15 09:04] #10858 closed

[2022-09-15 14:45] giliomeejg opened #10863 "Hold up, the bots want to know if you're one of them..."
**Overview**

On gitcoin.co, it appears at random times that I'm getting the screen: "Hold up, the bots want to know if you're one of them...", as per the below screenshot, even if I'm logged in.

**Steps To Reproduce**
Steps to reproduce the behavior:

There are unfortunately no clear steps to reproduce this, but in my experience, about every 20 or so requests results in me seeing the screen.

**

[2022-09-16 07:43] binitshrest commented on #6951
Hi, I would like to work in this issues. Can I help u with this?

[2022-09-16 16:38] kevinrolsen commented on #10853
https://discord.com/channels/562828676480237578/1018497349120704562

[2022-09-17 17:00] avirajkhare00 opened #10873 "Use black to as Python code formatter"
Hello GitCoin devs!

Checkout Black: https://black.readthedocs.io/en/stable/

Use it to format and fix formatting issues in Python code.
The code would be easier to read.

[2022-09-17 17:05] avirajkhare00 opened #10874 "Introduce coverage package to get LoC covered by tests in codebase and push report into codecov"
Please do checkout coverage.py: https://coverage.readthedocs.io/en/6.4.4/

Code coverage helps us to know how many tests are written.
Also, you can push the reports to codecov: https://about.codecov.io/

[2022-09-17 17:10] avirajkhare00 opened #10875 "Use prometheus to setup metrics and alerting"
Since I can't find the Prometheus client installed inside requirements.txt, I will suggest using it so that we can setup monitoring and alerting around our services.

Services include:
 - App
 - Database
 - Redis
 - etc

[2022-09-17 17:19] avirajkhare00 opened #10876 "Remove django-oauth-toolkit==1.3.0 (from -r requirements/test.txt (line 23)) as condition is already satisfied in django-oauth-toolkit==1.2.0 (from -r requirements/base.txt (line 91)), name='django-oauth-toolkit')"
Remove django-oauth-toolkit==1.3.0 (from -r requirements/test.txt (line 23)) as condition is already satisfied in django-oauth-toolkit==1.2.0 (from -r requirements/base.txt (line 91)), name='django-oauth-toolkit')

Please check your GitHub actions CI. Actions are failing.

[2022-09-17 20:04] Gr3at commented on #10818
@prsndp this is not a `bounty` kind of issue.
So, I am in no position to allow or disallow you of working on this.
I am not even part of the team behind Gitcoin, but since the project is open source I assume they would be happy to receive your pull request.

[2022-09-18 00:31] bnhassin commented on #5326
A new avatar request

[2022-09-19 04:45] thelostone-mc commented on #10851
This fix was merged here https://github.com/gitcoinco/web/pull/10821
Could you please add more details on this like which email and if it appeared after the fix was released

[2022-09-19 05:02] thelostone-mc commented on #10853
This is already resolved !
It is due to the prices in DAI failing a bit short in comparision USD

https://gitcoin.co/sync/get_amount?denomination=DAI

![Image](https://user-images.githubusercontent.com/5358146/190952527-e1af8096-55ff-470e-83d7-55b5d854e6c9.png)

[2022-09-19 05:03] #10853 closed

[2022-09-19 16:25] lthrift commented on #10851
@thelostone-mc i wasn't aware a fix went out for this. the last one i know of went out on Sept 4. I can't tell exactly when the fix was released, but maybe right after this last one went out?

[2022-09-22 15:55] kevinrolsen opened #10884 "GR15 Thank you Banner"

[2022-09-23 07:57] #10884 closed

[2022-09-23 07:58] #10826 closed

[2022-09-23 08:06] prsndp commented on #10852
Hi @thelostone-mc  could I work on this issue?

[2022-09-25 08:54] sweing opened #10886 "Unable to create grant. Please try again"
1. https://gitcoin.co/grants/new
2. Enter all fields
3. Confirm
4. Unable to create grant. Please try again

[2022-09-29 03:58] lthrift opened #10893 "Clawbacks Data Script"
**User Story:**
As a PGF Contributor
I want the on-chain claims data synced with the cgrants database
So that I can clawback unclaimed funds from prior to GR15

**Acceptance Criteria**
details from @thelostone-mc here: https://discord.com/channels/562828676480237578/1024350213609115711/1024562728427343932

**XD Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-09-29 04:01] lthrift opened #10894 "Duplicate Submission Verification for Missing Transaction Form"
**User Story:**
As a cgrants user with missing transaction
I want to be blocked from submitting the missing transaction form multiples times
So that I do not end up with confusing notifications duplicates of missing transactions.

**Acceptance Criteria**
details here: https://discord.com/channels/562828676480237578/1024291324058419240/1024651338409328750

**XD Links:**

**Tech Details:**

**Open Q

[2022-09-29 06:41] thelostone-mc commented on #10893
commands to be run :

[code]

[2022-09-29 07:13] thelostone-mc commented on #10893
Looks like the event log script isn't right !
Running those commands error out

Throwing in a commit to fix that

[2022-09-29 07:13] thelostone-mc commented on #10893
Looks like the event log script isn't right !
Running those commands error out

Throwing in a commit to fix that

[2022-09-29 15:59] GTChase opened #10898 "All donations appear as Gitcoin Grants official matching pool fund"
User impacted:
https://gitcoin.co/ngoctuanca

**Observed Results:**
Users transactions are showing as gitcoin official matching pool funds.. screen shot below
![Image](https://user-images.githubusercontent.com/95642312/193080677-391861d8-b499-488e-bf7f-aa74100c8938.png)

**Expected Results:**
Users transactions show the correct name that was contributed too rather then gitcoin official matching po

[2022-09-29 16:48] GTChase opened #10899 "Broken Admin Actions in Django"
Django Users Impacted:
- Connor
- Ben west

**Observed results:**
- Getting booted to https://gitcoin.co/_administration whenever I try to go to a admin grant / profile / any django directory
- After the above happens, and you try to log back in user is taken to a 500 page
- Further context from COnnor with Loom video:
https://www.loom.com/share/d2a589c1e8084a59bda02fe9e6226615

**Expected results

[2022-09-29 16:53] GTChase opened #10900 "Contributor rank not updated"
Users impacted:
@lisuenush
whywhy2020ai
coinssa

**Observed Results:**
On a users profile the ContributorRank section is not updating.. Screenshots below:
![Image](https://user-images.githubusercontent.com/95642312/193091625-a6915e08-64bb-4d18-881c-1126be0086d5.png)
![Image](https://user-images.githubusercontent.com/95642312/193091669-acf880d8-9be4-475f-8c03-d123d5603a91.png)
![Image](https://user

[2022-09-29 16:56] GTChase opened #10901 "Unable to use the Avatar from Github"
**User Impacted:**
https://gitcoin.co/bp20200

**Observed Results:**
User is not able to use the avatar from github.. Tried to delete the base avatar in django and try a force override, but neither worked.

**Expected Result**
User is able to use the avatar from github and it updates accordingly

**Discord Thread:**
https://discord.com/channels/562828676480237578/1023878529647116338

[2022-09-29 17:39] thelostone-mc commented on #10893
This is now completed

[2022-09-29 17:39] #10893 closed

[2022-09-29 20:30] lthrift opened #10904 "Terms Of Use PR"

[2022-09-30 06:29] aminah-io commented on #10900
![Image](https://user-images.githubusercontent.com/58310685/193204596-6da70cf6-f0a6-46ab-be28-5921be57c292.png)

![Image](https://user-images.githubusercontent.com/58310685/193204612-079782b4-9447-435d-9996-e8d54f0b52c4.png)

![Image](https://user-images.githubusercontent.com/58310685/193204626-f7671146-28e9-4b39-92f8-295941bbff88.png)

According to these users' profiles in django admin, the score

[2022-09-30 08:45] nutrina opened #10907 "Review task definition for production"

[2022-09-30 08:56] kevinrolsen commented on #10899
@kammerdiener - Connor is not able to recreate this issue. I'm wondering if this was due to the traffic splitting between ECS/EC2 we had off an on during the round, and is resolved by only running on ECS now.

Feel free to move to done unless there's another cause you're investigating.

[2022-09-30 09:02] kevinrolsen commented on #10738
This was actually made into a PR, and an ENV Variable can be set to drain the queues.

[2022-09-30 09:02] #10738 closed

[2022-09-30 09:22] nutrina opened #10909 "Configure the health checks for the `web-target-6276fdf` target group"

[2022-09-30 12:19] thelostone-mc commented on #10825
This is not ready yet btw so I would deprioritize this.
Additionally are we looking to add another checkout option ?
This is a new feature as we are adding another checkout method in eth.

@lthrift @GTChase

[2022-09-30 12:43] GTChase commented on #10825
@lthrift - i will let you make the final prioritization call here..

My .02 is that deprioritizing makes the most sense since the round is over and users shouldnt be checking out right now. Also, the rest of the solution seems to be implementing ZKsynch v2, which seems to have a few blocking questions and it seems to be something that doesnt need to be ready for another couple of months.

[2022-09-30 12:43] GTChase commented on #10899
Closing makes sense to me, and can reopen/recreate if issues become persistent again.

[2022-10-01 12:50] lisuenush commented on #10900
Hi, do you need anything from me or will the problem be solved without my
involvement?

пт, 30 сент. 2022 г. в 15:57, GTChase ***@***.***>:

[2022-10-04 13:51] GTChase opened #10912 "Github Authentication Issue"
**Overview**
Part of the new infra missed some of github authentication and caused issues with users losing theri OAuth token with Github even tho they were recently logged into Gitcoin.

Discord Thread: https://discord.com/channels/562828676480237578/1025483663103766599

[2022-10-04 15:50] GTChase commented on #10898
@nutrina - were going to pause development here while decisions are made for GR16.

[2022-10-05 02:25] kammerdiener commented on #10912
This should be resolved with fixing some of the ENV variables: https://github.com/gitcoinco/web/pull/10914

[2022-10-07 12:40] thelostone-mc commented on #10901
From Yuki

[2022-10-17 17:34] developerfred opened #10925 "Bug [You must be authenticated via github to use this feature! ] on Bounty apply action"
**Overview**

Unable to apply for bountys.
<img width="1440" alt="Screenshot 2022-10-17 at 18 31 33" src="https://user-images.githubusercontent.com/57037080/196244709-c21158bf-2a8c-43fd-9b56-9d7473c77b10.png">

**Steps To Reproduce**
Steps to reproduce the behavior:
Go to bounty page and try apply for any bounty you see Then this red notification on top will appear

**Observed  behavior**
A clear

[2022-10-17 19:38] GTChase opened #10926 "Abstract Proof of Humanity from Passport app"
This story is to break down this parent [ticket](https://github.com/gitcoinco/passport/issues/607) to smaller issues.. The goal is the same, but to abstract just this single platform from passport.

For further details:
https://github.com/gitcoinco/passport/issues/607

[2022-10-18 03:26] Soptq opened #10927 "Unable to fulfill bounty due to authentication error"
**Overview**
I failed to submit my work to bounty 29449, prompted: `error: user needs to be authenticated to fulfill bounty`.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to bounty fulfill page (e.g., https://gitcoin.co/issue/fulfill?pk=29449&network=mainnet).
2. Fill the form.
3. Click on 'Submit Work'
4. See error

**Observed  behavior**
After clicking the button, a banner imme

[2022-10-18 04:56] Soptq commented on #10925
I can reproduce this issue as well.

[2022-10-18 10:08] nutrina commented on #10901
This is done.
The issue was a delete request for this account, that was preventing the correct avatar from being shown.

[2022-10-18 10:08] #10901 closed

[2022-10-18 15:40] tse-lao commented on #10925
I had the same issue but it seems to be resolved for me. Please check @molecula451  @developerfred

[2022-10-18 15:48] developerfred commented on #10925
I will check now.

[2022-10-18 15:51] molecula451 commented on #10925
Yeah working

[2022-10-18 15:51] developerfred commented on #10925
@tse-lao  thanks for the information! bounty application is working properly. I'm going to close this issue is it ok @molecula451?

[2022-10-18 15:52] developerfred commented on #10925
Thanks @molecula451 @Soptq @tse-lao

[2022-10-18 15:52] #10925 closed

[2022-10-18 16:02] #10927 closed

[2022-10-21 01:43] kammerdiener opened #10933 "Create a way to just update infrastructure without full deployment for web"
Ideally we have an action that can just update the infrastructure without having to do a full build.

[2022-10-21 15:28] Jonadav99 commented on #10818
I would like to work on it.

[2022-10-21 23:58] kowksicoder opened #10934 "Transfer Gitcoin account ownership"

[2022-10-24 06:41] #10934 closed

[2022-10-24 06:52] kowksicoder opened #10937 "Ownership transfer"
Settings--> Account) 0x3953017AF23aB99a7d40f3D26F1595f27c91345f

3. Grant's link - https://gitcoin.co/grants/1599/givestation

4. The reason for the change.
Account has been compromised. I had to reactivate and change the password when I noticed that buy the grant didn't show up after that.

I also cannot claim payout.

5. New owner's username - givestation

6. Please create a Github issue - Done

[2022-10-24 08:36] #10937 closed

[2022-10-29 21:42] Rainbowteeth commented on #5326
A raging fiery background for the Unicorn avatars would be awesome!

[2022-10-31 20:22] TheHated1 commented on #9659
![Screenshot from 2022-11-01 00-05-22](https://user-images.githubusercontent.com/71077144/199101981-9682b417-8dc8-4b47-bb65-f78873d41b69.png)

**It's always happen whenever trying to claim weekly and monthly kudos, due server side error.**

- Error codes that fall into the 5XX range specify problems with the server.
-  cleared my cookies, changed my the browser ( Firefox, Google chrome ) and The i

[2022-11-02 07:53] derzeitgeist99 opened #10947 "Cannot Submit Passport to increase Trust"
**Overview**
When I want to submit passport to increase my trust on this site: https://gitcoin.co/derzeitgeist99/trust the progress stops at Scoring

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gitcoin.co/username/trust
2. Click on 'submit passport'
4. See stuck screen

**Screenshots**
![image](https://user-images.githubusercontent.com/11892101/199428931-22fee2f3-8b03-

[2022-11-02 15:14] savva007 opened #10949 "Created Organisation in Github and Gitcoin Account is Orphaned"
Hi Gitcoin / Github Support,

We had amended our Github account into an Organisation (https://github.com/crowdfundedcures) which means that our Gitcoin account (https://gitcoin.co/crowdfundedcures) is now orphaned and we cannot access the following grants:

https://gitcoin.co/grants/7518/medical-impact-dao-to-govern-retroactive-funding-o

https://gitcoin.co/grants/7516/medical-impact-dao-to-govern

[2022-11-02 19:27] Mokenadoa opened #10950 "Git grants"
https://github.com/gitcoinco/web/blob/2c68c153b815a37e18d29bce05e7cfb7220328fd/app/retail/utils.py#L414

[2022-11-03 01:55] Mokenadoa opened #10951 "Opera-wallet"
**User Story:**
As a
I want to
So that

**Acceptance Criteria**
GIVEN
WHEN
THEN

**Product & Design Links:**

**Tech Details:**

**Open Questions:**

**Notes/Assumptions:**

[2022-11-03 07:34] #10949 closed

[2022-11-11 09:04] selimerunkut opened #10956 "Unable to create a bounty. Please try again later"
**Overview**

Metamask is connected.

Creating bounty does not trigger metamask transaction

Getting Error instead:
`Unable to create a bounty. Please try again later`

Tested on
Chrome
Version 107.0.5304.87 (Official Build) (x86_64)

and
Firefox
106.0.5 (64-bit)

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Bounty
2. Fill out the forms till the last step (payment method

[2022-11-14 20:28] selimerunkut commented on #10956
Now it works

[2022-11-14 20:28] #10956 closed

[2022-11-16 21:47] krisjpi opened #10963 "Request - Transfer of grant ownership"
### Who
I am requesting an ownership transfer so the core team can manage the grant.

### What
Transfer ownership of [IDriss grant](https://gitcoin.co/grants/7233/idriss-a-better-way-to-interact-in-web3) to current co-owner [Geoist1](https://gitcoin.co/geoist1)

### Why
The IDriss team is able to manage the grant without my assistance 💪

[2022-11-18 20:22] Mokenadoa commented on #10951
Opera-wallet

[2022-11-24 12:10] nutrina opened #10969 "Need proper fix instead of hotfix"

[2022-11-24 12:59] molecula451 opened #10970 "[BUG] Bounty still available to payout after paid"
**Overview**
Details, details, details

The bounty is still available to be payout after a funder paid the issue

[2022-11-25 08:10] mazr711001 commented on #6461
Sangat setuju

[2022-11-25 08:10] mazr711001 commented on #6461
Sangat sesuai

[2022-11-25 08:11] mazr711001 commented on #6461
Sangat setuju

[2022-11-25 17:36] ronentk opened #10971 "Request - Transfer of grant ownership"
### Who
Ronen Tamari, member of the Common SenseMakers team which participated in GR15 on the [Open Source Attention](https://gitcoin.co/grants/7588/open-source-attention) project

### What
Transfer ownership of grant from https://gitcoin.co/commonsensemakers to https://gitcoin.co/ronentk due to Github locking out the account we created for the project .

### Why
Github flagged the https://github.

[2022-11-26 01:17] Mokenadoa commented on #5298
Hello

[2022-11-28 01:18] kammerdiener opened #10973 "Pulumi version ugrades"

[2022-11-28 18:53] Shellyfish commented on #10886
Same error!