[2018-10-26 20:53] PixelantDesign commented on #2515
@willsputra @frankchen07 what do yall think?

[2018-10-26 23:52] jakerockland commented on #2467
@owocki actually ignore above comment, got it worked out, and just submitted work

[2018-10-27 06:58] PixelantDesign commented on #2426
looks nice! Where do you think is a good place for this on the issue explorer?

cc @willsputra

[2018-10-27 10:45] PixelantDesign commented on #2283
I agree with @willsputra.

My thinking is that it’s unlikely that if a funder has funded an issue before they will use one of the lower fund issue buttons on the lamding page. All of those areas are targeted towards new funders.

@frankchen07
If existing funders have previously connected, they don’t go through the ftux again. They’d be taken to funder form.

I also wouldn’t keep a confusing experi

[2018-10-27 11:17] PixelantDesign commented on #2508
Awesome!

[2018-10-27 14:10] captnseagraves commented on #2480
Response to Timur Badretdinov:

1. Timestamp dependence, especially at line 242. Can be crucial for subscriptions with a short period. I'm noting this because we can use nextValidTimestamp[subscriptionHash] instead of block.timestamp as a remedy.

- This may be an issue for subscriptions on Mainnet with periods of an hour or less. I am sure there are use cases that would want this sort term functi

[2018-10-27 15:10] owocki opened #2547 "the big 'clean this up after launch' ticket"
deprecated for https://github.com/mbeacom/gitcoin-erc721/issues/206

[2018-10-27 15:11] captnseagraves commented on #2480
Responding to @liamzebedee :

1. Exploit mechanism: proxy contracts.

Since a contract’s address is based on the deployed ABI of the contract, but not the contract’s storage, an attack vector I’ve decided to exploit is creating a contract which adheres to the ERC20 interface but whose functionality can be changed to the Subscription contract’s direct disadvantage.

The Subscription contract uses t

[2018-10-27 15:11] #2547 closed

[2018-10-27 15:43] Anish-Agnihotri commented on #2426
I'd be open to input since I'm not exactly the best at UX, but I believe there could be some place where you integrate this directly into the new Issue Explorer layout possibly?

[2018-10-27 15:48] Anish-Agnihotri commented on #2283
@PixelantDesign

Specifically for the Fund Issue buttons, in the case that they are repetitive, we could change it so that when a user is authenticated the `Fund an Issue` button is hidden. This way, the `Fund Issue` button in the header would be the way to go.

@frankchen07

Thanks for the great feedback! Leads me to believe that we're against the idea of changing the URL of Fund an Issue due to

[2018-10-27 16:10] pinkiebell commented on #2354
I'm also ready to pick this up.  Just leave me a Yay or Nay here 👍

[2018-10-27 17:53] mbeacom opened #2549 "Kudos sync script - TypeError: '<' not supported between instances of 'str' and 'int'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1593/

[code]

[2018-10-27 18:58] mbeacom opened #2550 "KUDOS: C++ Scientist path busted - FileNotFoundError: [Errno 2] No such file or directory: '/home/ubuntu/gitcoin/coin/app/assets/v2/images/kudos/c%2B%2..."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1596/

[code]

[2018-10-27 18:58] mbeacom commented on #2550
@jasonrhaas

[2018-10-27 23:06] liamzebedee commented on #2480
Hey @captnseagraves - not sure where the communication faltered - but on the Slack channel we discussed the re-entrancy attack. I agreed that it wasn't re-entrant, however there was still a vulnerability in terms of how signature validation did not fail when it should. Otherwise, thank you for the payout. I'll hit you up on Slack :)

[2018-10-28 10:17] #2529 closed

[2018-10-28 11:36] mbeacom opened #2552 "NameError: name 'from_username' is not defined"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1612/

[code]

[2018-10-28 11:37] #2552 closed

[2018-10-28 12:43] mbeacom opened #2553 "HTTPError: 429 Client Error: Too Many Requests for url: https://api.opensea.io/api/v1/events/?asset_contract..."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1598/

[code]

[2018-10-28 13:02] thelostone-mc commented on #2354
@pinkiebell go for it

[2018-10-28 13:15] mbeacom opened #2554 "KUDOS: SyntaxError: Unexpected token } in JSON at position 19"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/1617/

[code]

[2018-10-28 13:40] mbeacom commented on #2473
@spiegeleixxl  We should be able to reference new patterns/wallpapers similarly to the color palette for solid color backgrounds, but referencing the appropriate filename in the same manner as other av assets in the builder.

[2018-10-28 13:42] spiegeleixxl commented on #2473
@mbeacom so, basically, have X variations for the colors based on the hex color in the name, as currently with the other color-able avatar items, correct?

[2018-10-28 13:48] spiegeleixxl opened #2555 ""Work commit" eth transaction displayed as "Unknown Function""
**Describe the bug**
Whenever a work is commited (or a issue is funded) you interact with the blockchain with a "unknown function".

**To Reproduce**
Commit work

**Expected behavior**
"Work commit"

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47616654-2985a300-dac0-11e8-84b1-5e7c112a9ac7.png)

**Desktop (please complete the following information):**

- OS: Mac OS X
-

[2018-10-28 14:03] #2555 closed

[2018-10-28 14:03] mbeacom commented on #2555
Upstream metamask issue with the new UI.  Closing.

[2018-10-28 14:55] #2549 closed

[2018-10-28 22:48] mbeacom opened #2556 "Kudos - FieldError: Cannot resolve keyword 'sent_from_address' into field. Choices are: artist, background_color, clo..."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1624/

[code]

[2018-10-28 23:45] #2556 closed

[2018-10-29 00:04] mbeacom opened #2557 "ConnectionClosed: WebSocket connection is closed: code = 1006 (connection closed abnormally [internal]), no reason"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1631/

[code]

[2018-10-29 14:50] willsputra commented on #2544
@spiegeleixxl we have a funder dashboard in the works (https://github.com/gitcoinco/web/pull/2504) so funders could see how their bounties are doing on the site.

I think this one's more for funders who don't check Gitcoin's homepage that often so an email would be great. :)

[2018-10-29 14:57] spiegeleixxl commented on #2544
Thanks for the info.

How you want to handle that? (cronjob, daily task, etc.)
Shall it be able for users to "unsubscribe" from the mails?
Or do you simply want the template for the mail itself and take care of the rest?

Thanks,
Chris

[2018-10-29 15:52] willsputra commented on #2531
@kuhnchris Thanks for your feedback! Yeah having a predefined set would be great. I was thinking of something like this. What do you think? cc @PixelantDesign
![fund issue keyword](https://user-images.githubusercontent.com/19514207/47662201-73ac7880-dbd5-11e8-8feb-f498169bfefb.jpg)

[2018-10-29 16:18] willsputra opened #2558 "KUDOS: Send Kudos stuck when MetaMask is locked"
**Describe the bug**
If MetaMask is locked, clicking Send on 'Send Kudos' page will get you stuck.

Video: https://drive.google.com/file/d/14AcEfICPDZ2ZfVEPF5DQDVmySiKU3KW_/view

**To Reproduce**
• Choose a Kudos from Kudos Marketplace
• Click Send Kudos
• Enter recipient name
• Click Send when MetaMask is locked

**Expected behavior**
There should be a prompt asking me to unlock MetaMask, so I do

[2018-10-29 17:03] owocki commented on #1964
@zevaverbach thanks for the update.. @usmanmuhd can you throw up and ngrok or stage server where we can test your code?

[2018-10-29 19:10] frankchen07 commented on #2272
I actually didn't know that "work started" simply meant "express interest" (according to @mbeacom ), so that's good to know. It also makes sense for the admin controls since the `interested` field is populated when work has been started.

I think work started should be exactly what the meaning is == they've started work. This means they've opened a PR, or have code changes committed, etc.

For iss

[2018-10-29 19:12] frankchen07 commented on #2355
Frank likes the tabs too. :)

[2018-10-29 19:13] mbeacom opened #2560 "RelatedObjectDoesNotExist: User has no profile."
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1651/

[code]

[2018-10-29 19:14] #2560 closed

[2018-10-29 19:15] owocki opened #2561 "test 123"
test 123

[2018-10-29 19:51] frankchen07 commented on #2510
Great discussion overall, and some good ideas thrown around here.

Verification can occur at a bunch of levels. For Gitcoin, verification can check that the user

1. is real.
2. is not an asshole.
3. does good work.

"Is real" is fairly straightforward - we want to make sure that the user isn't just a bot. To my knowledge, no bot has passed the Turing test, finished Gitcoin bounties, submitted PRs

[2018-10-29 20:02] kuhnchris commented on #2510
Good ideas in general, but right now I think we are thinking about it from a different angle than the user and bounty owners. "verification" in this perspective is an additional burden that the user has to do and that the bounty owner needs to look at. To say it increases work on both sides of the working isle.
What I personally think that would encourage people is the typical "reward" system. (th

[2018-10-29 20:04] frankchen07 commented on #2515
@PixelantDesign - doesn't the funder dashboard take care of this?

https://github.com/gitcoinco/web/pull/2504 & https://www.youtube.com/watch?v=3KU4wfqlJvA

[2018-10-29 20:07] frankchen07 commented on #2426
haha this is cute - and easy pickings in a marketing sense.

[2018-10-29 20:26] jschiarizzi commented on #2561
and Do-Re-Mi

[2018-10-29 20:42] frankchen07 commented on #2375
hey @pandyamarut, are you still working on this issue?

[2018-10-29 22:01] mbeacom opened #2562 "Kudos: IndexError: list index out of range"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1655/

[code]

[2018-10-29 23:17] kuhnchris commented on #2558
So you should actually get a redirect to https://github.com/gitcoinco/web/blob/879fa61e35e5d6f6fe2c85d20d4252e21b99be1e/app/dashboard/templates/shared/no_metamask_error.html before being able to go the checkout page IMHO.

Kind of like here:
https://github.com/gitcoinco/web/blob/e349ace59b22c9f8d4917d0acf6066468e273021/app/assets/v2/js/shared.js#L696

Correct?

[2018-10-30 00:40] usmanmuhd commented on #1964
@owocki will set it up today.

[2018-10-30 02:19] willsputra commented on #2558
@kuhnchris yea I think so.
@thelostone-mc thoughts? :)

[2018-10-30 06:48] pinkiebell commented on #2539
#2013

[2018-10-30 06:50] pinkiebell commented on #2537
I agree with 2., in case this still happens; I would encourage grouping of issues with the same github issue url.

[2018-10-30 09:13] cryptomental opened #2568 "REST API returns open issues only with 'is_open=True' arg"
**Describe the bug**

**To Reproduce**
As discussed on Slack

Hi together, has anyone here experience with the gitcoin API? According to the docu, the call for "is_open" should filter the results: https://docs.gitcoin.co/mk_rest_api/
However, when I do an example search with this call, it does not filter for that field. Is that a bug or am I doing something wrong in my request?
https://gitcoin.co/

[2018-10-30 09:13] cryptomental commented on #2568
Fix in progress...

[2018-10-30 12:37] #2558 closed

[2018-10-30 12:43] #2562 closed

[2018-10-30 12:46] pmaojo commented on #2158
I will not able to continue so I leave this bounty to others that can respond more efficiently. I was hired for a full-time job and won't have time.

I hope my work on this is worth to anyone that wants to go for it.

[2018-10-30 14:40] mbeacom opened #2572 "Kudos: No lstrip on @ - error in record_kudos_email_activity: profile with github name @bogdan-dumitru not found"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1672/

[code]

[2018-10-30 14:41] #2572 closed

[2018-10-30 15:57] jasonrhaas commented on #2553
Bummer... that API key should more than support the number of requests that we are sending to it.  According to Alex they increased the limit to 60/second.

It could be maybe its not accepting the API key.  Maybe doing the request with DEBUG turned up would help.  Here is the API reference.

https://docs.opensea.io/reference#getting-assets

[2018-10-30 15:58] jasonrhaas commented on #2550
So encoding the URL does work in some environments, but not others.  In some cases with Django or the DOM tries to be "smart" and encode it back to `++`, which breaks it.  The best solution is to just not use `++` in the filename.  Which I think you have already implemented or are in the process of.

[2018-10-30 15:59] jasonrhaas commented on #2554
@mbeacom Can you give me and @octavioamu access to sentry so we can take a look at the issue references?

[2018-10-30 16:01] frankchen07 opened #2573 "Duplicate Kudos in the marketplace (Always Shipping)"
**Describe the bug**
Duplicate Kudos in the marketplace.

<img width="563" alt="screen shot 2018-10-30 at 08 41 32" src="https://user-images.githubusercontent.com/7516920/47731837-2efafe80-dc22-11e8-99b6-b1a67c7177f1.png">

**To Reproduce**
Kudos page, scroll down.

**Expected behavior**
Only distinct Kudos should exist.

[2018-10-30 16:16] frankchen07 commented on #2158
hey @pmaojo - thanks for jumping on the issue, and submitting work. I've tipped you for the work that you've already submitted, and hopefully someone can jump on, take the branch, and make a video / any other enhancements to get this issue closed out. Feel free to comment on any relevant details you think might help someone pick it up!

Current work in progress: https://github.com/gitcoinco/web/pu

[2018-10-30 16:18] jasonrhaas commented on #2557
With `web3`py, you can choose a HTTP connection or a websocket connection.  I had chosen a websocket connection because I had to to use filters.  But filters proved to be very unreliable so I switched to just using the Open Sea API.  We can update the code to use the HTTP connection for the Open Sea Sync, by setting `sockets=False` when instantiating `KudosContract`.

https://github.com/gitcoinco/

[2018-10-30 16:35] octavioamu commented on #2554
I will take a look on this one

[2018-10-30 16:35] jasonrhaas commented on #2573
This happened due to the `mint_all_kudos.py` code.  There is code in there to handle retries for when the mint fails.  Unfortunately sometimes `web3` comes back with an error, so the code will retry, but the first mint goes through anyway.

https://github.com/gitcoinco/web/blob/master/app/kudos/management/commands/mint_all_kudos.py#L158-L175

I added some code in my branch below that doesn't retry

[2018-10-30 16:36] frankchen07 commented on #1179
hey @usmanmuhd - it looks like you stopped work, are you still working on this?

[2018-10-30 16:41] frankchen07 commented on #2508
@PixelantDesign - it looks like people are applying to start work, but work has already been started by @kuhnchris and is on the way to being completed.

[2018-10-30 16:42] usmanmuhd commented on #1179
@frankchen07 I am interested in doing this, but I have 2 other issues of high priority currently going on. Will take this up once I complete those 2.

[2018-10-30 17:32] willsputra commented on #2515
@PixelantDesign I agree with @frankchen07 . The Notifications and the All Bounties section on the funder dashboard should take care of this.

Screenshot from the funder dashboard video:

<img width="1021" alt="screenshot 2018-10-31 01 31 20" src="https://user-images.githubusercontent.com/19514207/47737830-c86ef280-dcac-11e8-9e09-b806f833b32d.png">

[2018-10-30 17:45] willsputra commented on #2426
One place I could think of is here... thoughts?

![displaycount](https://user-images.githubusercontent.com/19514207/47738419-0f111c80-dcae-11e8-8a16-26d324e1f70c.png)

@PixelantDesign if the purpose of this is to entice contributors, maybe we could also add more enticing stats like: X projects hiring, contributors are usually paid within X days, etc... just an idea.

[2018-10-30 17:54] willsputra commented on #2510
I kinda like @frankchen07's idea on incorporating this into Kudos, like special kinds of Kudos that you could only get if you've passed certain requirements.

We could possibly weave in @kuhnchris' idea here too:
You completed a bounty? Kudos. You got a positive rating/feedback on your work? Kudos. Verify your mail address? Kudos.

[2018-10-30 19:57] mbeacom opened #2577 "ValueError: invalid literal for int() with base 10: '3D57'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1684/

[code]

[2018-10-30 19:59] #2577 closed

[2018-10-30 21:49] kuhnchris opened #2578 "Sending Kudos to yourself"
**Describe the bug**
Right now you can send yourself Kudos

**To Reproduce**
Send yourself Kudos

**Expected behavior**
Not being able to send yourself Kudos

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47752848-e715bf00-dc95-11e8-9c0e-43870484021c.png)

**Desktop (please complete the following information):**

- OS: Mac OS X HIgh Sierra
- Browser Chrome
- Browser Ver

[2018-10-30 21:51] kuhnchris opened #2579 "Missing post-synchronisation for issue founders"
**Describe the bug**
Apparently some funders of issues aren't properly connected to their profiles.

**To Reproduce**
Not sure, can't reproduce on purpose

**Expected behavior**
Have the issue funder's name displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47752968-52f82780-dc96-11e8-9e4f-383c9a46b5b5.png)

**Desktop (please complete the following information):**

[2018-10-30 21:53] kuhnchris commented on #2579
For reference: The affected bounty is this one:
https://gitcoin.co/issue/gitcoinco/web/2508/1650

[2018-10-30 22:07] kuhnchris opened #2580 "Profiles (temporary) broken"
**Describe the bug**
Cannot open profile

**To Reproduce**
Go to your own profile

**Expected behavior**
See your own profile

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47753636-8b990080-dc98-11e8-8e6e-50eb023f2930.png)

**Desktop (please complete the following information):**

- OS: Mac OS X
- Browser Chrome
- Browser Version Latest Stable

[2018-10-30 22:12] PixelantDesign commented on #2579
Thanks for the report @kuhnchris!

[2018-10-30 22:12] PixelantDesign commented on #2580
Thanks for the report @kuhnchris!

[2018-10-30 22:12] PixelantDesign commented on #2578
Thanks for catching this @kuhnchris!

[2018-10-30 22:35] kuhnchris opened #2581 "No possibility to update avatar on organization page"
**Describe the bug**
I cannot update my image / avatar on my own organization's page.

**To Reproduce**
Have a github org, have a issue via organization, view profile on gitcoin.io, change organization's github avatar, search on gitcoin.io for a way to update avatar...

**Expected behavior**
Have a "refresh" button, or some refresh event from GitHub to refresh the avatar. (or in the Settings, when

[2018-10-30 22:40] kuhnchris opened #2582 "Changing your github username causes all sorts of issues"
**Describe the bug**
Cannot accept kudos, accessing "Settings" -> "Account" breaks either the system or your browser (too many redirects), old profile 500s, new profile 404s, name doesn't update on the top right bar, cannot change "github username" in Settings. - Maybe connected to #2580

**To Reproduce**
Change your username on github (with all connected implications), try to use gitcoin.io

**Ex

[2018-10-30 22:48] kuhnchris commented on #2375
Any news on this issue?

[2018-10-30 22:51] kuhnchris commented on #2339
#2492 is now merged, anything to do from your side or shall we update this?

Thanks!

[2018-10-30 23:05] jasonrhaas commented on #2339
We ended up having to pin to `web3==4.5.0`, which isn't the latest version, but its an upgrade from the web34 beta version.  We are good to close this.

[2018-10-30 23:05] #2339 closed

[2018-10-30 23:18] Anish-Agnihotri commented on #2426
@willsputra

You just took my idea to a whole new level! That looks incredible.

I could certainly see this being a great way to do it, especially with its intrusive nature (being close-able).

[2018-10-31 00:06] frankchen07 opened #2583 "As a contributor, I'd like a reminder to not start work until approved, otherwise clashes and unnecessary work may proceed."
### User Story

As a contributor, I'd like a reminder to not start work until approved, otherwise clashes and unnecessary work may proceed.

### Why Is this Needed

Some workers begin work without approval, which causes headache down the line when others begin work as well.

### Current Behavior

Workers apply to start work, and that's it.

### Expected Behavior

Workers apply to start work, and G

[2018-10-31 00:10] frankchen07 opened #2584 "As a contributor, I don't want to see TEST issues on mainnet."
### User Story

As a contributor, I don't want to see test issues on mainnet.

### Why Is this Needed

These issues should be on Rinkeby, not mainnet.

### Current Behavior

Funders can test issues on mainnet, causing potential noise for contributors looking for work on the explorer.

### Expected Behavior

Test issues should only exist on Rinkeby.

### Definition of Done

Discuss what methods the

[2018-10-31 07:31] thelostone-mc commented on #2580
It's working now ^_^

<img width="1440" alt="screen shot 2018-10-31 at 1 00 42 pm" src="https://user-images.githubusercontent.com/5358146/47772578-1a476500-dd0d-11e8-9d77-a3cd23d9b1d6.png">

[2018-10-31 07:31] #2580 closed

[2018-10-31 07:35] thelostone-mc commented on #2584
It would be messy weeding these out from the mainnet  🤔
We could prompt funders to create an issue on rinkeby as opposed to mainnet on the `/new` page

[2018-10-31 07:38] thelostone-mc commented on #2583
We could leave update a generic update at https://github.com/sigp/lighthouse/issues/52#issuecomment-431418514
If we were to remind every individual -> it mightend up feeling spammny 😓

[2018-10-31 08:59] kuhnchris commented on #2580
Uh oh, sorry but no @thelostone-mc:

![image](https://user-images.githubusercontent.com/761911/47776882-b49aaf00-dcf3-11e8-95ec-bfa89f327f60.png)

[2018-10-31 09:02] kuhnchris commented on #2584
How about we provide a 2nd server (like sandbox.gitcoin.co) giving the people the possiblity to test? Right now testing around in gitcoin is a bit of a pain, either you set up a local environment or try to hide your bounties...

[2018-10-31 09:09] kuhnchris commented on #2583
Maybe add it to "Start Work" like this?
![image](https://user-images.githubusercontent.com/761911/47777397-f24c0780-dcf4-11e8-9330-1682b1f3184f.png)
It also depends on the type if it's Permissionless or Approval Required...

[2018-10-31 09:09] kuhnchris commented on #2583
Also there's already an info:
![image](https://user-images.githubusercontent.com/761911/47777478-1b6c9800-dcf5-11e8-9535-f25e8db01b16.png)

[2018-10-31 10:20] #2561 closed

[2018-10-31 10:29] owocki opened #2585 "make lazy load kudos csrf work again"
4dd7af9509a98c2cc0f84e91fc6f140cfc9aacf3 reverts csrf protection for lazy loading of kudos

the scope of this task is to reintroduce csrf protection, and to take out the csrf_exempt tag i just added

[2018-10-31 10:57] kuhnchris commented on #2580
ayyyyy that fixes it, great, thanks! :-)

[2018-10-31 11:05] kuhnchris commented on #2585
See https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet for best practice.

[2018-10-31 11:51] owocki opened #2586 "bug - kudos tx ran out of gas"
https://etherscan.io/tx/0x063b85c9e070e57ede8cfdd8f92cd8841c59d0ef0d6fecd8d58c64227ddc9228
kudos to username: TimDaub
original report: https://twitter.com/TimDaub/status/1057353311655993344

success criteria:
1. identify and fix the root cause of this issue.
2. communicate with user to let them know its fixed and to try again (you might have to send them more gas)

[2018-10-31 13:22] owocki opened #2587 "as a user, i want kudos to show who sent it to me visually, so i can get an accurate view of the value of a kudos"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a user, i want kudos to show who sent it to me visually, so i can get an accurate view of the value of a kudos

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
you h

[2018-10-31 13:36] owocki opened #2588 "bug - num clones is not updating"
https://gitcoin.co/kudos/176/infinite_energy

i sent this to gonacalo last night, but it's not showing up at all as a cloned kudos, nor is his profile showing up on the page as a 'people who have this kudos'

[2018-10-31 13:36] octavioamu commented on #2586
Not sure what happens but also the data of his kudo is messy
https://gitcoin.co/profile/TimDaub
![image](https://user-images.githubusercontent.com/1358093/47791580-c763b280-dcf8-11e8-942c-0143dc77c97b.png)

[2018-10-31 14:03] kuhnchris commented on #2586
I think that the gas calc is messed up to begin with, not just kudos.
my default gas was 2 on kudos, but I barely get anything verified with 2 anymore. 2.5wei seems to be the minimum right now. The calculator may simply be screwed.

[2018-10-31 14:24] octavioamu commented on #2586
#2570

[2018-10-31 14:34] mbeacom opened #2589 "Kudos: TypeError: can only concatenate str (not "int") to str"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1666/

[code]

[2018-10-31 14:39] #2589 closed

[2018-10-31 14:41] mbeacom commented on #2550
Yeah - This has already been updated: https://github.com/gitcoinco/web/commit/69b37c244101d5a5bad142dfd36a397540dd2805

[2018-10-31 14:41] #2550 closed

[2018-10-31 14:51] octavioamu opened #2590 "Duplicated data in kudos profile"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

Duplicated data in kudos profile, maybe related to the sync command duplicating data.

https://gitcoin.co/profile/TimDaub

![image](https://user-images.githubusercontent.com/1358093/47796216-a3a56a00-dd02-11e8-9f13-147bcec1aae2.png)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)

**Expected b

[2018-10-31 15:12] nanspro commented on #2261
@frankchen07  i am still a bit confused.
So are you saying there should be a "filter:order" near that dropdown and we can choose that filter to be descending or ascending, if that's the case then during ascending what would happen to top 3 images, there is no point in putting three lowest earners in "WINNER POSITIONS"  at the top.
I can do one thing, add a filter: bounties/money near dropdown that

[2018-10-31 15:40] willsputra commented on #2531
Took cues from GitHub repo topics :p

<img width="1008" alt="screenshot 2018-10-31 23 37 38" src="https://user-images.githubusercontent.com/19514207/47799809-fa905b00-dd65-11e8-9bd4-74007a818486.png">

I guess the user should be free to use whatever he chooses, although I wonder if the new tag should be added to the list of our predefined set 🤔

[2018-10-31 15:40] jasonrhaas commented on #2578
We discussed this a little bit in Slack.  We decided that we don't want (and maybe can't prevent) people from sending Kudos to themselves.  However, we can categorize them differently in the profile for reputation purposes.  Maybe adding a tab called "My Collected Kudos", or something like that.  Alternatively we could highlight the Kudos that were sent to the user at the top of the profile, drivi

[2018-10-31 15:42] jasonrhaas commented on #2590
If there are duplicated Kudos in the Profile, that could be a sync issue, or a database filtering issue.  If there are duplicated comment in the Kudos itself, that is probably a template issue.

[2018-10-31 15:48] willsputra commented on #2590
not sure if this is related, but I also got duplicated Kudos on the Profile, inside the 'Sent Kudos' tab. One is correct (with the recipient username, address, date), while the other one just shows the Kudos title.

<img width="658" alt="screenshot 2018-10-31 23 45 10" src="https://user-images.githubusercontent.com/19514207/47800498-5d362680-dd67-11e8-88bd-a457493de440.png">
<img width="621" alt="

[2018-10-31 16:04] kuhnchris commented on #2578
How about a split between "Bought Kudos" and "Received Kudos" ? (And a tab "All my Kudos")

[2018-10-31 16:20] kuhnchris commented on #2590
Encountering the same issue right now. 1 Kudos shows data, the other 3 none.

[2018-10-31 17:22] jasonrhaas commented on #2590
Copying my note from Slack:

The only Kudos that are valid to show in the profile have `num_clones_allowed == 0`.  If that number is not 0, its means its a “Gen0” or “Clonable” token, and not a “clone”. (edited)
For convenience, we can add an `@property` method to the model, called `is_clone()` that checks for the above.  And only ones with `is_clone() == True` should show up in the profile.

[2018-10-31 18:23] mbeacom opened #2591 "Remove all lingering tip related schtuff from kudos"
There are still some lingering tip related views, templates, methods, and what not following previous cleanup commits that need removed from the kudos app

We should remove all of the duplicate/unused code and ensure it doesn't break anything.

[2018-10-31 18:52] frankchen07 opened #2592 "Duplicated Kudos badges in the Profile section"
**Describe the bug**
This is different from https://github.com/gitcoinco/web/issues/2590. There seems to be duplicates of the Kudos I've sent to members of the Gitcoin team. When hovering over, one instance has details, and in another, none.

For the "Out of this World Programmer" Kudos I sent to Mark, the duplicate instance with details is completely missing.

**To Reproduce**
1. Send a kudos to

[2018-10-31 18:59] octavioamu opened #2593 "Mainnet: Some Kudos missing, some have incorrect external_url fields"
_From @jasonrhaas on October 27, 2018 16:54_

If you at the Kudos Tokens on Open Sea:  https://opensea.io/assets/kudostokenv2

You'll notice we are missing 5 of the Kudos from kudos.yaml, and also there are some Kudos with the incorrect `external_url` in the links.

The `external_url` has to be created before the Kudos is created, so I had to "guess" at what it was going to be by using `getLatestI

[2018-10-31 19:01] octavioamu opened #2594 "if you send a kudos, it should query web3py sync for that kudos immediately."
_From @owocki on October 27, 2018 15:12_

if you send a kudos, it should query web3py sync for that kudos immediately instead of waiting for the `--catchup` crontab to run.

_Copied from original issue: gitcoinco/gitcoin-erc721#207_

[2018-10-31 19:01] octavioamu commented on #2594
_From @jasonrhaas on October 27, 2018 15:20_

The issue is that we never really know when the token will get mined.  Could be a minute, could be 10 minutes.  Would need to have something polling in background constantly checking web3.  We could spin up this task in a thread, but then if we send 100 kudos, we now have 100 thread workers going on the server.

Event Filters is specifically meant for

[2018-10-31 19:01] octavioamu commented on #2594
_From @owocki on October 27, 2018 15:25_

if we have a txid, we can fire the sync after the txid confirms

[2018-10-31 19:01] octavioamu commented on #2594
_From @jasonrhaas on October 27, 2018 15:29_

Need to know the txid, and the tokenid for the sync.  And we won't know what the tokenid is until _after_ the mint, by calling `getLatestId()`.  The txid alone is not sufficient for a sync.  We need to associate the tokenid with the txid, because thats how we tie the `kudos_transfer` and kudos_token` tables together.  The `kudos_transfer` table has all

[2018-10-31 19:01] octavioamu commented on #2594
_From @owocki on October 27, 2018 16:23_

i'm hopeful that we'll have enough of the information in the frontend that we can pass to the backend to maek this work

[2018-10-31 19:01] octavioamu opened #2595 "the big 'clean this up after launch' ticket"
_From @owocki on October 27, 2018 15:11_

the big 'clean this up after launch' ticket

- [ ] remove copied stuff from tip/views to kudos/views
- [ ] remove copied JS stuff from tips in kudos send and kudos receive
- [ ] for any specific kudos asset it should point to a hashed asset [slack thread](https://gitcoincore.slack.com/archives/CAXCZR8K0/p1540653344060200)
- [ ] rebase issues [mbeacom knows

[2018-10-31 19:02] octavioamu opened #2596 "integrate old kudos contracts into web3js"
_From @owocki on October 26, 2018 16:11_

Owocki [5:50 PM]
[code]

[2018-10-31 19:07] octavioamu opened #2597 "add support for non-default mint to_address in kudos.yaml kudos init script"
_From @owocki on October 25, 2018 20:16_

https://github.com/mbeacom/kudos-badges/commit/695a1395de8bc968cd783b224da74430b92ada30

we should add support for minting to non-default addresses in the kudos mint all script

_Copied from original issue: gitcoinco/gitcoin-erc721#204_

[2018-10-31 19:08] octavioamu opened #2598 "as a user, i want to be able to send 100 kudos at a time, because marketing."
_From @owocki on October 28, 2018 23:51_

as a user, i want to be able to send 100 kudos at a time, because marketing.

example: send a devcon kudos at the end of my devcon preso

what:
- a page, based upon the current receive page, called bulk_receive that accepts a receive web3 address,
and transfers the specified kudos to it
- since we cannot do this securely in the current architecture of rece

[2018-10-31 19:10] octavioamu opened #2599 "Add contract address and network to Kudos details page"
_From @jasonrhaas on October 23, 2018 15:2_

Related to https://github.com/mbeacom/gitcoin-erc721/issues/200

We need to be able to clearly identify from the UI which contract and network the Kudos belongs to.  Otherwise it will get very confusing once we have multiple contracts and generations of kudos deployed.

_Copied from original issue: gitcoinco/gitcoin-erc721#201_

[2018-10-31 19:11] octavioamu opened #2600 "More powerful Kudos search"
_From @jasonrhaas on October 23, 2018 14:16_

Now that we have the ability to support multiple kudos contracts and networks at once in the database, we should have a more powerful search functionality to be able to filter.

We should be able to filter Kudos by Network and Contract address at the minimum.

_Copied from original issue: gitcoinco/gitcoin-erc721#200_

[2018-10-31 19:11] octavioamu opened #2601 "add a little shine to the 'you have a kudos' image"
_From @owocki on October 22, 2018 20:31_

inspiration:

<img width="921" alt="screen shot 2018-10-22 at 2 09 29 pm" src="https://user-images.githubusercontent.com/513929/47317541-1594f980-d607-11e8-8a6d-2aa96835dc0e.png">

_Copied from original issue: gitcoinco/gitcoin-erc721#199_

[2018-10-31 19:12] octavioamu opened #2602 "Add Kudos generation to badge"
_From @jasonrhaas on October 22, 2018 18:56_

Now that we have the ability to support Kudos on multiple contracts, we should make it clear to the user which contract the Kudos is on.  Old Kudos will be tradable and transferable but not mintable or clonable.

Somewhere, maybe in the database, there will be a mapping like this:

Gen 1 = contract_address_1
Gen 2 = contract_address_2
Gen 3 = contract_

[2018-10-31 19:12] octavioamu opened #2603 "error messages in send kudos"
_From @octavioamu on October 17, 2018 18:2_

When a Kudos already was cloned and there are not cloned left the button "send kudos" is disabled but If I get (in some way)  to the link of that kudos  /send/?name=infrastructure_ninja no error message is throw if I try to send it, just a console error  : Requested exceeds the number of clones allowed.

_Copied from original issue: gitcoinco/gitcoin-er

[2018-10-31 19:12] octavioamu commented on #2603
_From @owocki on October 18, 2018 22:29_

repro steps?

[2018-10-31 19:12] octavioamu commented on #2603
@owocki I had explained a little better the issue

[2018-10-31 19:12] octavioamu commented on #2603
_From @owocki on October 22, 2018 23:31_

thanks for that.. i think we might want to wrap the error in a `try / catch` so we can at least tell the user there was an error

[2018-10-31 19:13] octavioamu opened #2604 "Add an Open Sea badge to Gitcoin"
_From @jasonrhaas on October 17, 2018 14:9_

Would be nice to put an Open Sea Badges somewhere to show that Kudos are available on the Open Sea marketplace.

https://docs.opensea.io/docs/badges

_Copied from original issue: gitcoinco/gitcoin-erc721#186_

[2018-10-31 19:15] octavioamu opened #2605 "the big production deploy ticket"
_From @owocki on October 15, 2018 2:27_

1. mint all tokens in kudos.yaml that aren't in kudos_mainnet.yaml to 0x56c72cda0b04fc39a25d0b6a64fa258fad46d664 mainnet contract. MAKE SURE THE tokenURI info is correct first!!
2. set the tokenURI's of all the kudos_status.yaml tokens to point to gitcoin.co instead of kudosdemo.gitcoin.co [reference slack convo](https://gitcoincore.slack.com/archives/CAXCZ

[2018-10-31 19:15] octavioamu commented on #2605
_From @owocki on October 15, 2018 2:28_

@mbeacom @jasonrhaas this reminds me, we should get the `kudos-v1` build passing and also get code review going

[2018-10-31 19:15] octavioamu commented on #2605
_From @jasonrhaas on October 15, 2018 3:47_

So just realized that the `_setTokenURI` function is an internal method.  Bummer.  So there is no way to modify the existing tokens on that address.  Would need to make a contract update to allow this functionality to be exposed.  In the mean time I just minted some new tokens so that Status can demo with them.

For the "real" production deploy we will

[2018-10-31 19:15] octavioamu commented on #2605
_From @owocki on October 15, 2018 12:4_

This is problematic because we need to thread in the 'contract address' everywhere in the send/receive flow for Kudos...  Is that a heavy lift @jasonrhaas ?

[2018-10-31 19:15] octavioamu commented on #2605
_From @jasonrhaas on October 15, 2018 14:1_

Oh I just meant doing another contract deploy to a different address on mainnet.

[2018-10-31 19:15] octavioamu commented on #2605
_From @owocki on October 15, 2018 16:56_

yes i know what you meant.. the tricky part of this is getting the app to talk to multiple mainnet contracts

[2018-10-31 19:16] octavioamu opened #2606 "Add ability to send a Kudos using only Eth address"
_From @jasonrhaas on October 14, 2018 23:50_

https://github.com/mbeacom/gitcoin-erc721/issues/172#issuecomment-429448305

We would like to have a UI that allows this rather than relying on a management command.

_Copied from original issue: gitcoinco/gitcoin-erc721#181_

[2018-10-31 19:16] octavioamu commented on #2606
_From @owocki on October 15, 2018 23:53_

https://github.com/mbeacom/kudos/pull/45

addresses this

[2018-10-31 19:16] mbeacom opened #2607 "Adjust deploy script to check whether or not current instance is job node"
Before updating crontab, running migrations, collectstatic, and what not, we need to verify the deploy.bash script is being executed on the appropriate instance.

[2018-10-31 19:16] octavioamu opened #2608 "each kudos should generate a unique graph of its propogation through the gitcoin network and display prominently on the kudos page"
_From @owocki on October 14, 2018 21:33_

we could re-use the 'ethos of ethereal code for this.  [this is what it looks like](https://twitter.com/EthosEthereal/status/994987894128324609)

this is a v2 item (not for MVP)

_Copied from original issue: gitcoinco/gitcoin-erc721#180_

[2018-10-31 19:17] octavioamu opened #2609 "Add Artist Bio on Kudos Homepage"
_From @PixelantDesign on October 11, 2018 17:16_

## Add Artist Bio on Kudos Homepage

- [ ] Update Artist Bio with the following Information:

Octavian Todiruț
ConsenSys Product Designer @ Cellarius

I am a long time graphic designer, art director and product designer. A fancy way of saying "I am moving the mouse or pencil around, playing with shapes and colors." I like getting lost in everything

[2018-10-31 19:17] octavioamu commented on #2609
_From @owocki on October 11, 2018 17:51_

@PixelantDesign i wonder if we should be speccing out an artist explorer / profiles for kudos?  typically an artists story is a huge part of the purchase or art.

more near term, i wonder if Mladen wants to have his bio up on the site too.. since he did a lot of these!

[2018-10-31 19:17] octavioamu commented on #2609
_From @PixelantDesign on October 12, 2018 5:14_

I agree we should have an artist section. Maybe for v1.5/v2?
Yes! We should feature all of the artists eventually.

[2018-10-31 19:17] octavioamu commented on #2609
_From @owocki on October 12, 2018 21:40_

agree its a v1.5 thing

[2018-10-31 19:18] octavioamu opened #2610 "hide badges when num clones === max clones"
_From @owocki on October 11, 2018 14:53_

from slack:

[code]

deliverable is a proposal for how this works + a design

_Copied from original issue: gitcoinco/gitcoin-erc721#175_

[2018-10-31 19:18] octavioamu opened #2611 "QA demo site with status browser"
_From @owocki on October 10, 2018 23:11_

mobile: https://chat.status.im/#/room/!TSECabqXwnmkYVTfdX:status.im/$15391237399673aewOP:status.im

desktop: https://status-im.github.io/nightly/

_Copied from original issue: gitcoinco/gitcoin-erc721#174_

[2018-10-31 19:18] octavioamu commented on #2611
_From @owocki on October 10, 2018 23:15_

I can't seem to click this button in the mobile browser for some reason

![2018-10-10 17 14 19](https://user-images.githubusercontent.com/513929/46771284-17c69200-ccb0-11e8-9fd2-d79282009095.png)

and downloading status desktop just does not work

<img width="402" alt="screen shot 2018-10-10 at 11 56 47 am" src="https://user-images.githubusercontent.com/51

[2018-10-31 19:18] octavioamu commented on #2611
_From @owocki on October 10, 2018 23:16_

@mbeacom can you add @StatusSceptre and @andytudhope to this repo and this thread pls?

[2018-10-31 19:18] octavioamu commented on #2611
_From @owocki on October 11, 2018 15:18_

@mbeacom can u add @rachelhamlin and @jeluard  too?

[2018-10-31 19:18] octavioamu opened #2612 "kevin QA 2018-10-10"
_From @owocki on October 10, 2018 16:17_

# overall

- site should tell me if i'm on a network that is not supported
- new nav is not up

# landing page

- can we copy the 'send kudos now' button and put it below the 'erc 721' section? the bottom of the page needs a CTA
- can we get a link to 'open kudos' under the erc721 section?  copy: "Want to integrate this ERC 721 into your Dapp? click here -

[2018-10-31 19:19] kuhnchris commented on #2609
Maybe if you click on the Kudos Badge (right now it just jumps and sparkles) it could actually turn around and give some information about the Badge Creator?

[2018-10-31 19:21] #2607 closed

[2018-10-31 19:23] octavioamu opened #2614 "FAQ Section"
_From @owocki on October 10, 2018 15:40_

I would like to see a FAQ Section on the site so I can answer questions before they come up.

Questions I can anticipate:

- Is Kudos a Gitcoin only project?
- Can I transfer my kudos to another user?
- Where does the money I pay for my kudos go?

_Copied from original issue: gitcoinco/gitcoin-erc721#168_

[2018-10-31 19:24] octavioamu opened #2615 "frontend onhover animation for kudos logo"
_From @owocki on October 9, 2018 22:40_

as a user who appreciates attention to detail, i want to have the same experience of the gitcoin logo lighting up, when i visit kudos and hover over the logo.

main site:

![screen recording 2018-10-09 at 04 35 pm](https://user-images.githubusercontent.com/513929/46702726-783ace00-cbe1-11e8-9c2e-f3ff09c0d6b6.gif)

kudos assets: http://bits.owocki.com/3cff00

[2018-10-31 19:25] octavioamu opened #2616 "as a user, i would like to be able to send kudos via *slack*, because that's where my coworkers are"
_From @owocki on October 8, 2018 4:12_

as a user, i would like to be able to send kudos via *slack*, because that's where my coworkers are

_Copied from original issue: gitcoinco/gitcoin-erc721#158_

[2018-10-31 19:26] octavioamu opened #2617 "as a user, i would like to be able to send kudos via twitter, because thats where cyptotwitter people are and it'd be good for marketing"
_From @owocki on October 8, 2018 4:12_

as a user, i would like to be able to send kudos via twitter, because thats where cyptotwitter people are and it'd be good for marketing

_Copied from original issue: gitcoinco/gitcoin-erc721#157_

[2018-10-31 19:26] octavioamu opened #2618 "We need an activity feed on the kudos landing page"
_From @owocki on October 5, 2018 21:47_

We need an activity feed on the kudos landing page, so that we can see that its actually being used

_Copied from original issue: gitcoinco/gitcoin-erc721#156_

[2018-10-31 19:26] octavioamu opened #2619 "We need an activity feed item for Kudos being sent."
_From @owocki on October 5, 2018 21:18_

https://gitcoin.co/activity is the Activity Feed, and its driven by `dashboard.models.Activity`

We need to have new activity feed entries created by Kudos when a Kudos is sent. The activity feed should show the name of the sender, sendee, name of kudos, and the Kudos image itself.

see https://github.com/gitcoinco/web/blob/master/app/dashboard/tip_views.py

[2018-10-31 19:27] octavioamu opened #2620 "Proposal - Stop syncing blockchain to the database"
_From @jasonrhaas on October 3, 2018 12:23_

With the help of the open sea api + web3, we should be able to stop syncing using the `kudos_token` table in the database and only rely on the blockchain data for Kudos.

### Advantages:

- No data duplication
- No danger of the database getting "out of sync"
- More efficient, no need to constantly write to the database for blockchain syncs

### Possibl

[2018-10-31 19:27] octavioamu opened #2621 "kudos v2 - kudos can imbue special powers for their owners"
_From @owocki on October 3, 2018 3:41_

some ideas to test:

- we charge people for bounties, but if they own a kudos with a 'free bounties' effect, they don't get charged anymore.
- a kudos that grants special attributes to someone's avatar in the avatar builder
- a 'gitcoin verified' kudos that shows off that we've vetted a funder, on their profile

_Copied from original issue: gitcoinco/gitcoin

[2018-10-31 19:27] octavioamu opened #2622 "as a user, i want a page that celebrates my kudos receipt which i can deeplink to, so i can show it off"
_From @owocki on October 3, 2018 3:16_

here is what the design could look like:

![kudo-transfer-page](https://user-images.githubusercontent.com/513929/46388225-37decb80-c688-11e8-97c4-d969ca4a3833.gif)

reasons why this needs to exist:
- this thing looks like a 'certificiate of achievement'.  its something ill want to show off.
- we need a way of deeplinking to a kudos transfer, so that showing

[2018-10-31 19:28] octavioamu opened #2623 "if a kudos is transfered away, it sould grey out on the profile (instead of being removed)"
_From @owocki on October 2, 2018 0:1_

ref: https://gitcoincore.slack.com/archives/CAXCZR8K0/p1538437626000100

if a kudos is transfered away, it sould grey out on the profile (instead of being removed)

the data trail that they received the kudos at all is what matters for reputation.

this also allows resale-ability of kudos

_Copied from original issue: gitcoinco/gitcoin-erc721#131_

[2018-10-31 19:28] octavioamu commented on #2623
_From @jasonrhaas on October 2, 2018 1:14_

I think what this means is that the `kudos_token.owner_address` should never change.  Maybe it just gets a flag that says `inactive`?  I will have to think about this one a bit more to come up with a good back-end solution.

From the front-end side I imagine everything will be the same except will need to check for a `inactve` flag and grey the Kudos out

[2018-10-31 19:28] octavioamu commented on #2623
_From @owocki on October 2, 2018 1:32_

+1 vote for the `inactive` flag.. even better if we know the tx_id where it was transfered away, and we could just filter on `send_txid` being null

[2018-10-31 19:28] octavioamu commented on #2623
visual changes are finished, I just need to know how I know if was moved away so I can add the class to the element

[2018-10-31 19:28] octavioamu opened #2624 "Add ability for users to transfer already existing Kudos clones"
_From @jasonrhaas on September 26, 2018 18:18_

New use case:  We may want to give existing Gitcoin users already pre-minted Kudos clones that they can give out to the people working on their projects.

So this is a different flow than the regular "Send Kudos from Marketplace", since we (Gitcoin) are paying for the cost of the Kudos clone.

One possible scenario:
- Gitcoin "pre clones" a bunch of

[2018-10-31 19:28] octavioamu commented on #2624
_From @PixelantDesign on September 26, 2018 19:58_

This is what discussed yesterday on the call:

![kudosmarketing1](https://user-images.githubusercontent.com/238235/46105829-0f952f80-c1a5-11e8-8a00-2bf1bb58553f.png)

[2018-10-31 19:28] octavioamu commented on #2624
_From @jasonrhaas on September 26, 2018 20:2_

Notes from Slack and possibly better way to implement this:

Pixelant [1:58 PM]
why do we have to pay for their gas?
to transfer once they want to use
I was talking with Joseph the other day about this...his suggestion was

mint the NFT, have it sitting in our wallet until preselected people can claim them (repo maintainers we like), and then when the

[2018-10-31 19:28] octavioamu commented on #2624
_From @jasonrhaas on October 2, 2018 1:17_

So this is pretty easy to do on Open Sea.

https://rinkeby.opensea.io/assets/0x3c147acf80b01d08dcb05038a7d9537adc12b39d/101/transfer

Can we just rely on Open Sea for handling the asset transfers?  We just need to make sure we are keeping the data trail in Gitcoin.  Related to https://github.com/mbeacom/gitcoin-erc721/issues/131

[2018-10-31 19:28] octavioamu commented on #2624
_From @PixelantDesign on October 8, 2018 20:20_

@owocki for feedback

[2018-10-31 19:28] octavioamu commented on #2624
_From @owocki on October 8, 2018 21:14_

@PixelantDesign i'm presuming this isnt going into the devcon launch, so we don't need to do feedback on this now.. am i mistaken?

[2018-10-31 19:28] octavioamu commented on #2624
_From @PixelantDesign on October 12, 2018 6:21_

agree, perhaps v1.1 since it'll encourage sending.

[2018-10-31 19:29] octavioamu opened #2625 "If a Kudos has no clones available, redirect away from send page"
_From @jasonrhaas on September 25, 2018 0:3_

Even if the Kudos is greyed out in the marketplace, in theory a user could be send a link like http://localhost:8000/kudos/send/?name=javascript_master_scriber and not realize that there are no clones left for that kudos.

Need to add a check on this page to see if there are clones remaining.  If not, show an error page and redirect them to the marketp

[2018-10-31 19:29] octavioamu commented on #2625
_From @jasonrhaas on September 25, 2018 0:18_

Adding @octavioamu also because it looks like we might need a new page for this.

[2018-10-31 19:29] octavioamu opened #2626 "W&D View Avatar and Kudos Via Profile"
_From @PixelantDesign on March 16, 2018 16:31_

![profile with kudos](https://user-images.githubusercontent.com/238235/42524823-977a4e1a-843f-11e8-8772-1e9251eda241.png)

_Copied from original issue: gitcoinco/gitcoin-erc721#11_

[2018-10-31 19:29] octavioamu opened #2627 "kudos QA & feedback 2018/09/24"
_From @owocki on September 24, 2018 16:53_

# general
1. all kudos pages should be added to `StaticViewSitemap` in `sitemaps.py` so that search engines know about them - #117
2. I can't login, i get a `requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://api.github.com/user?access_token=37ce359b9f1e7bb0500cc9647b6dc985cd2bd9e5` -#126

# Marketplace
1. [Kudos search still nee

[2018-10-31 19:29] octavioamu commented on #2627
_From @owocki on September 24, 2018 16:54_

continuation of https://github.com/mbeacom/gitcoin-erc721/issues/66

[2018-10-31 19:29] octavioamu commented on #2627
_From @jasonrhaas on September 25, 2018 0:13_

@owocki I linked each item to its corresponding Github ticket.  Me and @octavioamu will attempt to prioritize the tickets, and put them in order in the Backlog and To Do columns.  I'm going to try to use the "To Do" as the tickets "for this week", and order the Backlog in order of importance (highest priority is at the top).  Feel free to re-adjust th

[2018-10-31 19:29] octavioamu commented on #2627
_From @jasonrhaas on October 2, 2018 16:24_

Most of these are either already merged in, or fixed, pending PR review and merge 🎊 .  More details can be found in the individual tickets.

[2018-10-31 19:29] octavioamu opened #2628 "marketing - kudos trophies"
_From @owocki on September 24, 2018 16:3_

wanted to tell you guys that i’m working with john palmer (solidcoin guy) on possibly taking Kudos and making them into trophies which could be awards at various hackathons in the space

heres a very silly mockup of what they could look like (without the artwork) featured

http://bits.owocki.com/d0a80aad235c/Screen%20Shot%202018-09-14%20at%201.38.39%20PM.

[2018-10-31 19:29] octavioamu opened #2629 "marketing - bounty emails should shill grants and kudos"
_From @owocki on September 24, 2018 16:2_

This is the current bounty submission email:

![screencapture-gitcoin-co-_administration-email-new_work_submission-2018-09-24-10_01_29](https://user-images.githubusercontent.com/513929/45963646-d2804000-bfe0-11e8-9a29-4bd579c3e67f.png)

This is the current funds paid email:

![screencapture-gitcoin-co-_administration-email-new_bounty_acceptance-2018-09-24

[2018-10-31 19:29] octavioamu commented on #2629
_From @owocki on September 24, 2018 16:2_

@PixelantDesign do we have any design assets we could use out of the box to do this?

[2018-10-31 19:30] octavioamu commented on #2629
_From @PixelantDesign on October 9, 2018 14:22_

Yes we can reuse assets from the Landing page. - I'll work on this next.

[2018-10-31 19:30] octavioamu commented on #2629
_From @owocki on October 11, 2018 14:49_

@PixelantDesign what do you think about leveraging the assets from the 'kudos marketing email' here? https://github.com/mbeacom/kudos/pull/41

[2018-10-31 19:30] octavioamu opened #2630 "Figure out what kind of data to track for Kudos"
Currently, we have a Gitcoin Kudos Dashboard and several funnels in HotJar for Kudos:

Gitcoin Kudos Dashboard:

Kudos Transaction
Top Users
Top Kudos
Adoption rate (WIP)
Engagement rate (WIP)

HotJar Funnels:

Kudos Send: Kudos Marketplace -> Kudos Detail -> Kudos Send -> Kudos Marketplace (send success)
Kudos Window Shopping: (Kudos Marketplace -> Kudos Detail -> Kudos Marketplace) x 2
Kudos Win

[2018-10-31 19:30] octavioamu commented on #2630
_From @jasonrhaas on September 21, 2018 19:30_

Whats Track on Kudos?

[2018-10-31 19:30] octavioamu commented on #2630
_From @owocki on September 21, 2018 22:58_

??

i think @PixelantDesign means data to track from an analytics perspective

@PixelantDesign personally i think the marketing funnels are

kudos landing page > browse kudos > send kudos
presented with inline send > sends kudos
receive kudos > claims kudos

[2018-10-31 19:30] octavioamu opened #2631 "Create a Contract Icon for Kudos"
_From @PixelantDesign on September 21, 2018 15:22_

As a user I'd like to see an Icon that I recognize so that I know this contract is trusted when I see the Gitcoin/Kudos logo.

Needs to work at the following sizes:

28x28, 13x13
PNG Format

_Copied from original issue: gitcoinco/gitcoin-erc721#103_

[2018-10-31 19:30] octavioamu commented on #2631
_From @owocki on September 24, 2018 17:55_

maybe we can use a hex-sticker with the gitcoin helmet in the middle?

[2018-10-31 19:30] octavioamu opened #2632 "Manage Kudos from an Admin page"
_From @jasonrhaas on September 20, 2018 19:51_

Currently all of the Gen0 Kudos are minted via a Django Management command on the backend.  It reads from a YAML file and automatically mints all the Kudos.

However, we probably want the ability (as an Admin) to mint our own Kudos from the Front end as well.  This would involve filling out all the appropriate information on the form, and uploading a

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on September 24, 2018 23:59_

Note that for users, we are going to direct them to create a Github Ticket for now.  And then we will get it in the system and minted.

Also need to disabled the /mint page so that regular users don't get confused.  Can make it `@admin_only` maybe.

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on October 2, 2018 16:28_

This _would_ be really handy for the Gitcoin Core team to have.  Would need a front-end interface and form to validate the Kudos mint information (num clones, metadata, etc).  Debating whether we need it for MVP or not.

The main use case is allowing non technical people on the team to add new Gen0 Kudos without needing an engineer to run a management c

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on October 15, 2018 14:8_

Additionally, we need an Admin page to manage the existing Kudos.  Updating prices, fees, metadata, or burning existing tokens.  Right now I'm doing this via Django Mgmt Commands and its pretty inconvenient.

[2018-10-31 19:31] octavioamu commented on #2632
@jasonrhaas please explain the task I'm not sure how we want this, also Admin areas / options are not front end, I think are generated from django backend.
We can just make /mint only accessible for admins

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on October 15, 2018 14:34_

I meant the UI to manage all of this.  Not necessarily a "Django Admin" thing, but a UI to manage our Kudos.

[2018-10-31 19:31] octavioamu commented on #2632
so we want to use /mint to that right?

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on October 15, 2018 14:52_

Not just mint but think of it as a content management system for all kudos.

On Mon, Oct 15, 2018 at 10:43 AM Octavio Amuchástegui <
notifications@github.com> wrote:

--
<https://linkedin.com/in/jasonrhaas>

[2018-10-31 19:31] octavioamu commented on #2632
But that shouldn't be done in the django admin? Worst the effort of design and do all the front and logic of that for an administration view?
We need a better spec on this to understand what exact that management system needs
Also calling @PixelantDesign to discuss about it.

[2018-10-31 19:31] octavioamu commented on #2632
_From @jasonrhaas on October 15, 2018 15:57_

I’ll spec it out more this is just a placeholder right now

On Mon, Oct 15, 2018 at 10:54 AM Octavio Amuchástegui <
notifications@github.com> wrote:

--
<https://linkedin.com/in/jasonrhaas>

[2018-10-31 19:31] octavioamu opened #2633 "if someone has more than one of the same kudos, it should 'stack' on the profile to save space"
_From @owocki on September 20, 2018 18:15_

like how uber does it
![image_from_ios](https://user-images.githubusercontent.com/513929/45838375-d2293180-bcce-11e8-8b7f-8732e5c40e02.png)

_Copied from original issue: gitcoinco/gitcoin-erc721#91_

[2018-10-31 19:31] octavioamu commented on #2633
_From @jasonrhaas on September 20, 2018 20:0_

@octavioamu How hard do you think this one is?  I've already had a scenario where this would super nice to have.

![image](https://user-images.githubusercontent.com/7018237/45843698-e3316d00-bce5-11e8-9421-60801d055e2b.png)

[2018-10-31 19:31] octavioamu commented on #2633
Technically is a fun thing to do. But I had commented in slack the problem is about the public comments, in the example comments are separated, here we need to be able to read comments behind each kudos, so we can group kudos images but not the comments. We need an UX solution for that.

[2018-10-31 19:31] octavioamu commented on #2633
another problem of grouping is we need to change also the pagination behavior to group it together and not in diff pages.

[2018-10-31 19:31] octavioamu commented on #2633
@owocki @PixelantDesign is this v1 ?

[2018-10-31 19:31] octavioamu commented on #2633
_From @jasonrhaas on September 29, 2018 16:44_

The good news is that since its purely a front-end effect, its an easy change to make in the future without affecting any core functionality.

Might have to do something fancy like a flyout or modal, because there might be information that the user wants to see on each Kudos, like the comments for example.

[2018-10-31 19:31] octavioamu commented on #2633
_From @owocki on October 1, 2018 23:51_

i dont feel super strongly about it being v1.  if its an easy lift (less than an hour or two), and we have time..  then its fine to include it

[2018-10-31 19:32] octavioamu opened #2634 "Create Kudos Module for Gitcoin.co Landing Page"
_From @PixelantDesign on September 11, 2018 19:12_

Create an area to promote Gitcion.co on the Kudos landing page.

_Copied from original issue: gitcoinco/gitcoin-erc721#82_

[2018-10-31 19:32] octavioamu opened #2635 "Integrate Kudos Into Bounties - V1"
_From @PixelantDesign on September 11, 2018 12:28_

**Integration Points**
- Profile drop down below Send Tips --"Send Kudos"
- Single Payout Screen below tips

**Proposal**
- Implement typedown to find Kudos as seen in the flow below.
- Implement alert to notify users that there will be 3 separate transactions if tip and kudos are also included in bounty payout.

![integrate kudos](https://user-i

[2018-10-31 19:32] octavioamu commented on #2635
This is great @PixelantDesign should be able to send more than one kudos maybe?

[2018-10-31 19:32] octavioamu commented on #2635
_From @owocki on September 11, 2018 18:42_

looks good to me!  i'd add that it might be helpful to see a preview of the kudos badge in the 'type down' area before you select it.

also that you might want to detach your kudos (so maybe it's worth adding an (X)  next to the kudos on 'return search' and 'display alert'

[2018-10-31 19:32] octavioamu commented on #2635
_From @PixelantDesign on September 11, 2018 18:56_

yes very true on the ^ @owocki . I'll clean up the design and repost this. @jasonrhaas anything from your end?

@octavioamu yes sending more than one kudos would be cool for v2.

[2018-10-31 19:32] octavioamu commented on #2635
Use as base the component we are using select2
https://select2.org/data-sources/ajax

![image](https://user-images.githubusercontent.com/1358093/45382210-f190d200-b5dd-11e8-8fac-6293d84cba80.png)

So we can do things like the autocomplete users. and the search input shouldn't disappears when something is found.

[2018-10-31 19:32] octavioamu commented on #2635
_From @jasonrhaas on September 11, 2018 19:17_

We might need to display more info about the Kudos to help the user make a decision about if they want to send it.

For example, might want to also show rarity and how many kudos are still available for cloning.  As far as the "Clones Available" limitation, that would have to be a check on the backend before sending to make sure that we are able to s

[2018-10-31 19:32] octavioamu commented on #2635
@jasonrhaas Maybe just show the clonables ones in that search box

[2018-10-31 19:32] octavioamu commented on #2635
_From @jasonrhaas on September 11, 2018 19:52_

@octavioamu Yea that can be a backend query, just exclude the ones where `num_clones_available == 0`

[2018-10-31 19:32] octavioamu commented on #2635
_From @jasonrhaas on September 25, 2018 0:35_

Bringing over Kevin's comments from the duplicate ticket:

[code]

[2018-10-31 19:32] octavioamu commented on #2635
I want to bring this here to discussion to have an idea about the best approach.

Right now we have the need to make the kudos into bounties, so payout forms will have the option to add kudos to the payment.

I was discussing this with @thelostone-mc  and he told me that in product side there are 2 tasks related to payout https://github.com/gitcoinco/web/issues/2240 and https://github.com/gitcoinc

[2018-10-31 19:32] octavioamu commented on #2635
WIP PR needed for this task https://github.com/gitcoinco/web/pull/2296

[2018-10-31 19:32] octavioamu commented on #2635
_From @owocki on October 1, 2018 19:14_

i dont understand what the technical dependancies are between https://github.com/gitcoinco/web/issues/2240 , https://github.com/gitcoinco/web/issues/2294 , and this task... but my instinct says that, given the tight timeline to get to a MVP of kudos, that they should be decoupled .

my hope had been that we could have a relatively independent kudos_inline_s

[2018-10-31 19:32] octavioamu commented on #2635
_From @owocki on October 1, 2018 19:15_

note: i'd also be more than happy to just integrate kudos_inline_send with basic payout / tips if that reduces the complexity of having gto integrate it with advanced payout (which... to your point, is in flux right now)

[2018-10-31 19:32] octavioamu commented on #2635
That feature is very integrated with the whole payment, the changes are messing up with the choice of the person being pay, the total price so Kudos will mess with all that things too. So the point is going to be rework but anyway I will do it in the best way possible to avoid big rework.
My principal point is not avoid doing it now, just make sure everyone knows is not going to be just a merge wo

[2018-10-31 19:32] octavioamu commented on #2635
_From @owocki on October 1, 2018 19:57_

i'm happy to handle the merge work.. i really just need the module spliced and the basic JS select functionality working.

[2018-10-31 19:32] octavioamu commented on #2635
Bounties are not working on Kudos project because of this https://github.com/gitcoinco/web/issues/2339 until then this task is blocked :(

[2018-10-31 19:32] octavioamu opened #2636 "Integrate email templates"
_From @jasonrhaas on September 9, 2018 16:22_

- [x] KUDOS MARKETING - TO ALL
- [ ] KUDOS SENT EMAIL
- [ ] KUDOS ACCEPTED EMAIL
- [x] KUDOS RECEIVED EMAIL
- [x] KUDOS MINTED EMAIL - SURPRISE APPROACH

**KUDOS MARKETING - TO ALL**
![kudos marketing 1](https://user-images.githubusercontent.com/238235/44910983-2a35cf00-acf3-11e8-9096-8f1dc162e9fd.png)

**KUDOS SENT EMAIL**
![kudos sent](https://user-

[2018-10-31 19:32] octavioamu commented on #2636
_From @jasonrhaas on September 24, 2018 23:57_

Is there an issue you are using to track the email work @octavioamu?  This ticket is just a placeholder for getting the email templates working.

[2018-10-31 19:32] octavioamu commented on #2636
Depends on #120

[2018-10-31 19:32] octavioamu commented on #2636
@jasonrhaas what do you think about the logic of these?
I think
KUDOS SENT EMAIL
KUDOS ACCEPTED EMAIL
KUDOS RECEIVED EMAIL
should be the same template with if statements is just text changes nothing more

[2018-10-31 19:32] octavioamu commented on #2636
_From @jasonrhaas on October 11, 2018 14:55_

@octavioamu Still need The "Your Kudos Has Been Sent!" and "Your Kudos Has been Accepted" emails.  I updated the checklist above.

[2018-10-31 19:33] octavioamu opened #2637 "Integrate with OpenSea Marketplace"
_From @owocki on September 4, 2018 21:51_

https://docs.opensea.io/docs

Integrate with OpenSea Marketplace so that users can list / buy / sell Kudos on OpenSea

_Copied from original issue: gitcoinco/gitcoin-erc721#72_

[2018-10-31 19:33] octavioamu opened #2638 "Kevin's Kudos QA -- August 2018"
_From @owocki on August 29, 2018 18:23_

http://209.97.155.182/kudos/
- [x] this page 404s, it could redirect to kudos/about

http://209.97.155.182/kudos/about/
- [x] we need copy filled in on this page
- [x] recent kudos needs to be filled in from the backend
- [x] this page could perhaps use a little design revision.  seems pretty text heavy.  cc @Pixelant

http://209.97.155.182/kudos/mint
- [ ]

[2018-10-31 19:33] octavioamu commented on #2638
@jasonrhaas had already done some of them also.

[2018-10-31 19:33] octavioamu commented on #2638
_From @jasonrhaas on September 20, 2018 19:49_

Issues have been created for the outstanding items in this checklist.

With the exception of the /mint functionality.  I think that users minting their own Kudos is a V.next feature, but we might want to have the functionality as Admins to mint Kudos tokens from the front-end.

Currently the minting process reads from a YAML file and mints everything

[2018-10-31 19:33] octavioamu commented on #2638
_From @jasonrhaas on September 20, 2018 19:52_

Created a ticket to handle the "Admin front-end" minting capability.  https://github.com/mbeacom/gitcoin-erc721/issues/96

[2018-10-31 19:34] octavioamu opened #2639 "Joe's Feedback"
_From @PixelantDesign on August 14, 2018 13:23_

**Joe Idea on NFTs**

- Interest in seeing NFT's of people (Kevin, celebrities)
- Axie Infinity
- Maybe you can clone the NFTs ??
- Battles and more things with NFTs

_Copied from original issue: gitcoinco/gitcoin-erc721#61_

[2018-10-31 19:34] octavioamu commented on #2639
Sorry my ignorance what is the meaning of "NFT" Google give me more than 22 meanings lol

[2018-10-31 19:34] octavioamu commented on #2639
_From @owocki on August 15, 2018 21:12_

non fungible token

[2018-10-31 19:34] octavioamu commented on #2639
Thanks @owocki

[2018-10-31 19:34] octavioamu opened #2640 "Refactor Tips to include Kudos support"
_From @jasonrhaas on July 16, 2018 18:3_

Sending/receiving Kudos is pretty similar to sending Tips.  We should try to re-use the Tips code for Kudos where it makes sense.

Also, keep track of this PR as it affects the current Tips code -- https://github.com/gitcoinco/web/pull/1737

_Copied from original issue: gitcoinco/gitcoin-erc721#56_

[2018-10-31 19:34] octavioamu commented on #2640
_From @owocki on September 21, 2018 22:55_

this is not done

[2018-10-31 19:34] octavioamu opened #2641 "Design Mint Kudos"
_From @PixelantDesign on July 10, 2018 17:1_

<img width="576" alt="screen shot 2018-07-10 at 1 01 04 pm" src="https://user-images.githubusercontent.com/238235/42525519-59bbab8a-8441-11e8-8567-cdc38e1a853b.png">

User should also see confirmation message.

_Copied from original issue: gitcoinco/gitcoin-erc721#53_

[2018-10-31 19:35] octavioamu opened #2642 "Show Gitcoin "loading" gif when token is still being sync'ed to the blockchain"
_From @jasonrhaas on June 20, 2018 0:37_

Right now there is no feedback to users if we are waiting on the blockchain.

Should be able to re-use code from the Gitcoin App for this.

UPDATE:
Right now this will just be a confirmation page on any new Kudos clone, telling the user that the Kudos will be available on the Blockchain and Gitcoin Profile after a few minutes.

_Copied from original issue:

[2018-10-31 19:35] octavioamu commented on #2642
_From @jasonrhaas on July 13, 2018 19:41_

Deferring this one until to the Gitcoin Application integration.

[2018-10-31 19:35] octavioamu commented on #2642
_From @jasonrhaas on September 20, 2018 20:11_

We might need to just add some notes to the confirmation page telling them that will be will have wait a few minutes for the transaction to mine.  After it is mined, it will show up in their profile.

[2018-10-31 19:35] octavioamu commented on #2642
_From @owocki on September 20, 2018 23:23_

if we copy the tips integration, this is already done https://github.com/gitcoinco/web/blob/master/app/dashboard/tip_views.py#L132-L133

[2018-10-31 19:35] octavioamu opened #2643 "partnerships/sponsored badges"
_From @owocki on June 19, 2018 20:19_

from @PixelantDesign

_Copied from original issue: gitcoinco/gitcoin-erc721#40_

[2018-10-31 19:36] octavioamu opened #2644 "As an admin, I want to to staff the 'mint new tokens' flow with talented illustrators, so we can mint new tokens."
_From @owocki on June 4, 2018 16:3_

As an admin, I want to to staff the 'mint new tokens' flow with talented illustrators, so we can mint new tokens.

We will need an illustrator within our price point(s) that can work fastly to turn around new illustrations for our community.

They need to be

* respoinsive
* good
* within our price range

_Copied from original issue: gitcoinco/gitcoin-erc721#38

[2018-10-31 19:36] octavioamu commented on #2644
_From @owocki on June 4, 2018 16:3_

reached out to Mladen Petronijevic

[2018-10-31 19:36] octavioamu commented on #2644
_From @PixelantDesign on June 5, 2018 2:45_

Great!

[2018-10-31 19:36] octavioamu commented on #2644
_From @owocki on June 12, 2018 21:0_

I just had a call with Mladen Petronijevic

He's available July -> September, but accepted into art camp from July 5th until month and a half.  He is really into gaming / movies and 3d art and that is his long term career direction.

He wants to work with us, I set the expectation that it would probably be mid July before the project launched.  We could maybe

[2018-10-31 19:36] octavioamu opened #2645 "STRATEGY Pricing mechanics"
_From @owocki on May 29, 2018 21:24_

open questions:
- who determins the pricing of minting new tokens?
- can users select their own token price?  or do we force them into specific pricing schemes in the marketplace?
- does the rarity influence the price or the other way around
- what is the tradeoff between rarity and num_clones ?

_Copied from original issue: gitcoinco/gitcoin-erc721#35_

[2018-10-31 19:36] octavioamu commented on #2645
_From @bsparango on June 18, 2018 17:12_

For marketplaces such as SuperRare, RareBits, OpenSea...etc , cost of minting a token is just the gas price.

In terms of rarity, each of these platforms (especially the art platforms) are super conscious of clones and it is currently centrally managed, to keep out copies, with the idea being it will grow into a Token Curated Registry (autonomous managemen

[2018-10-31 19:36] octavioamu commented on #2645
_From @jasonrhaas on September 20, 2018 19:14_

Currently we are setting the price for all of the "pre-minted" Kudos.  In terms of setting the prices for user minted Kudos, and how it is affected by rarity - that is still something we need discuss.

[2018-10-31 19:36] octavioamu commented on #2645
_From @owocki on September 20, 2018 22:35_

should we just have ranges @PixelantDesign  ?

[code]

[2018-10-31 19:36] octavioamu commented on #2645
_From @jasonrhaas on September 21, 2018 1:14_

Also there is the `rarity` score to think about.  I think that if we are setting the number of clones, we probably don't need to set the rarity score.

We should be able to come up with a rarity score based on the num_cloned_in_wild, and normalized it between 0 and 1.

[2018-10-31 19:36] octavioamu commented on #2645
_From @owocki on October 9, 2018 22:16_

in addition to making it easy to change the price.. i wonder if we should make it easy to change the rarity (but only to make them *more rare*)

[2018-10-31 19:36] octavioamu opened #2646 "DEV FRONT END Approach to ERC-721 Project"
_From @PixelantDesign on May 29, 2018 19:49_

As a user, I would like to see a consistent front-end experience to this project.
As a core team member - I would like to be able to easily build using predefined styles for this project.

Define front end approach so that this could be an example of how the core Gitcoin product adopts in terms of implementation.

Definition of Done
Predefined layouts,

[2018-10-31 19:36] octavioamu commented on #2646
_From @PixelantDesign on May 29, 2018 19:54_

@owocki @mbeacom @jasonrhaas @SaptakS

[2018-10-31 19:36] octavioamu commented on #2646
_From @owocki on May 29, 2018 21:58_

what are the deliverables here?

just a set of predefined css styles for buttons, divs, modules.. etc?

[2018-10-31 19:36] octavioamu commented on #2646
_From @PixelantDesign on May 30, 2018 13:58_

Yep! Exactly that!

[2018-10-31 19:36] octavioamu commented on #2646
_From @SaptakS on May 30, 2018 15:36_

I think if we can make a scss/sass preprocessor based modular approach in the way many frameworks like bootstrap, etc. are written, it really helps in documenting and also the contributors to develop upon.

For example, any button related style remains in a file `_buttons.sass` and then all those get imported and compiled as necessary into different css files

[2018-10-31 19:36] octavioamu commented on #2646
_From @jasonrhaas on September 20, 2018 19:12_

Maybe @octavioamu can update this ticket and close if complete?

[2018-10-31 19:36] octavioamu commented on #2646
Well not sure if this will be a closable isse, today we got a meet to discuss what are the front end approach we are going to take for all the products and we are going to be testing some ideas, methodologies and each week touch base to discuss it.
So is a team WIP

[2018-10-31 19:37] octavioamu opened #2647 "STRATEGY Working Theory of V1 Reputation System"
_From @PixelantDesign on May 29, 2018 18:9_

As a core team, we should have a shared understanding of the initial attributes that make up the V1 of our reputation system.

Examples:

- number of days it takes to complete a task
- responsiveness to comment/feedback
- number of projects completed on gitcoin Platform
- number of tips received/sent

_Copied from original issue: gitcoinco/gitcoin-erc72

[2018-10-31 19:37] octavioamu commented on #2647
_From @PixelantDesign on May 29, 2018 19:54_

@owocki @mbeacom @jasonrhaas @SaptakS

[2018-10-31 19:37] octavioamu commented on #2647
_From @owocki on May 29, 2018 23:9_

current profile is probably a good starting place

things i'd add
- reviews from past bounty funders/workers
- number of times the user has abandoned their work
- communiactiveness -- how often do they actually comment on the work they're doing

[2018-10-31 19:37] octavioamu opened #2648 "STRATEGY POV on the Role of 721 + Gitcoin Reputation"
_From @PixelantDesign on May 29, 2018 12:48_

As core team members, we would like to have shared understanding on v1 of core principles on how the erc-721 works with reputation.

Questions to answer:

1) What is the role of 721?
Unique Identity art asset - transportable, market Gitcoin, revenue for Gitcoin

2) What is the role of reputation?
- Track good/bad folks work habits
- Does good reputatio

[2018-10-31 19:37] octavioamu commented on #2648
_From @PixelantDesign on May 29, 2018 19:54_

@owocki @mbeacom @jasonrhaas @SaptakS

[2018-10-31 19:37] octavioamu commented on #2648
_From @owocki on May 29, 2018 21:35_

to me, it's a celebration of being in the trenches with someone and shipping some badass product.  its an appreciation of my team member

agree with everything you said

having a hard time getting at what you're asking here.  maybe each token send is an 'attestion'?

I like this

I think that your receiving the token is what is the attestation that you have a

[2018-10-31 19:37] octavioamu commented on #2648
_From @bsparango on June 18, 2018 17:7_

Is there a way to separate 'purchased' Kudos from 'earned' Kudos? I was thinking that purchased Kudos could be things that describe your personality (i.e. gamer, sports fan...etc) and the earned ones are Gitcoin/Github specific (i.e. jolly juggler of tasks, Java Master..etc)

Like this idea, but minting should be capped so to not dilute the sentiment of rec

[2018-10-31 19:38] octavioamu opened #2649 "Team Alignment on Taxonomy"
_From @PixelantDesign on May 29, 2018 3:5_

As a core team, we should understand and use the same terms as it relates to the erc-721 project.

Minted
Token
Avatar

Define any commonly used terms for this project

_Copied from original issue: gitcoinco/gitcoin-erc721#28_

[2018-10-31 19:38] octavioamu commented on #2649
_From @owocki on May 29, 2018 21:25_

token = kudos.  lets start calling them kudos since thats what they are gonna be called
minted -- creation of new kudos from thin air
avatar -- from the avatar flow

[2018-10-31 19:38] octavioamu commented on #2649
_From @owocki on May 29, 2018 21:26_

lets deprecate 'artifact' and 'token' and start calling them kudos

other terms:
send
receive

[2018-10-31 19:38] octavioamu commented on #2649
_From @owocki on May 29, 2018 21:30_

what do we like more.  commissioned or minted?

[2018-10-31 19:39] octavioamu opened #2650 "v2 - Reputation/Game Mechanics"
_From @owocki on May 22, 2018 15:12_

(not ready to be worked on yet)

Do the artifacts bestow any ‘powers’ on the users?
How do 721 tokens fall into Gitcoin's reputation system?
Making it a playable game eventually could be very cool, but the shape of this would have to evolve.
How do we want to provide [variable rewards to contributors](https://github.com/gitcoinco/web/issues/230#issuecomment-36

[2018-10-31 19:39] octavioamu opened #2651 "As a user, I want to 'equip' my artifact on my avatar, so I can show it off in my avatar."
_From @owocki on May 22, 2018 15:8_

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to 'equip' my artifact on my avatar, so I can show it off in my avatar.

### How it Works

In this view of the world, artifacts have two visual assets associated with them.

* badge -- shown on their profile
* equipped_asset -- shown on their avatar and in their

[2018-10-31 19:39] octavioamu commented on #2651
_From @thelostone-mc on May 29, 2018 12:22_

You mean this would change the avatar rather than simply appending the badge to the avatar ?

[2018-10-31 19:39] octavioamu commented on #2651
_From @owocki on May 29, 2018 21:29_

yes change.  but not *just* change... make it BADASS

[2018-10-31 19:39] octavioamu opened #2652 "As a user, I want to list my artifact in the marketplace so I can make $$$ from it."
_From @owocki on May 22, 2018 15:3_

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to list my artifact in the marketplace so I can make $$$ from it.

### How it Works

As a user, I want to list my artifact in the marketplace so I can make $$$ from it.

In this view of the world, which is an augmentation of #21, each `TokenCreationRequests` has

[2018-10-31 19:39] octavioamu commented on #2652
_From @PixelantDesign on May 29, 2018 2:57_

Is this an artifact I commissioned or an artifact that I earned?

[2018-10-31 19:39] octavioamu commented on #2652
_From @owocki on May 29, 2018 4:26_

could be either.. maybe for now we start with the just hte former?

[2018-10-31 19:40] octavioamu commented on #2652
_From @PixelantDesign on May 29, 2018 12:49_

My instinct is commissioned.

I also stubbed in [this ticket ](https://github.com/mbeacom/gitcoin-erc721/issues/29)which I think is related.

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on May 29, 2018 21:30_

what do we like more.  commissioned or minted?

[2018-10-31 19:40] octavioamu commented on #2652
_From @PixelantDesign on June 12, 2018 16:37_

minted works.

I don't think users should be able to sell artifacts that they've earned. It would be like selling your reputation.

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on June 13, 2018 21:23_

i agree. so maybe we just allow people to just sell clones of artifacts they have minted

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on June 13, 2018 21:24_

this is interesting.. so if you mint a token then you are a distributor of Kudos (which can be highly profitable)

if you receive a Kudos, then there is no profit motive.  maybe we should allow those users to send those tokens to others though, kind of like a pay it forward thing?

[2018-10-31 19:40] octavioamu commented on #2652
_From @PixelantDesign on June 14, 2018 20:24_

I think allowing people to sell clones of it - I'm not sure about, but regardless of how many times something is given, it should trace back to the original person who earned it. What do you all think?

[2018-10-31 19:40] octavioamu commented on #2652
_From @mbeylin on June 14, 2018 20:29_

Just to add my 2 wei here, I think that if people who receive a given kudos want to send it to a peer, they should be required to buy it (the same as anyone else) rather than have some free ability to do so.

I also don't think minters should have too much control over this otherwise you'll end up in a weird situation where people are "claiming" popular kudo

[2018-10-31 19:40] octavioamu commented on #2652
_From @PixelantDesign on June 15, 2018 5:2_

I like the above, it is important.

@mbeylin can you elaborate on the control part? What abilities should minters be restricted to?

[2018-10-31 19:40] octavioamu commented on #2652
_From @mbeylin on June 15, 2018 13:56_

Basically I think that minters should be able to commission whichever kudos they want, but they should not have control over the price of re-minting their kudos, or similarly the quantity of their new kudos which should be minted.

I think early on you guys should have all kudos sell for the same price, and see what happens. Supply should also be un-capped t

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on June 15, 2018 16:12_

i'm of two minds on this.  on one hand, if you're an 'infrastructure ninja' youre likely to know other infra ninjas
on the other hand, i can see why making them buy another token to send could be powerful.  it depends on if the long terrm value of this project is for reputation or if its people buying/selling tokens

[2018-10-31 19:40] octavioamu commented on #2652
_From @jasonrhaas on September 27, 2018 15:16_

As we approach the V1 deadline, I'm thinking into the future a bit.  As we know, once the Kudos.sol contract is deployed to mainnet and it goes live, there's no going back from there.  So I'm going through these tickets again and trying to make sure we have the flexibility to implement all the features we want in the future.

This one is interesting.

[2018-10-31 19:40] octavioamu commented on #2652
_From @jasonrhaas on October 2, 2018 16:50_

I think comment above is important to discuss as well, regarding the cost structure.  Also need to think about how we want this will work in the marketplace.  Once a user has their own kudos token, there is now a 3rd party market for it.  Why pay say .5 ETH for it in the Gitcoin marketplace when someone is auctioning it off on Open Sea for .1 ETH?

[2018-10-31 19:40] octavioamu commented on #2652
_From @jasonrhaas on October 2, 2018 16:51_

cc @owocki @PixelantDesign @octavioamu Also this one I think is important to discuss and figure out before launch.  Somewhat related to #136 in terms of contract planning.

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on October 4, 2018 1:52_

ticket for this is here: https://github.com/mbeacom/gitcoin-erc721/issues/149

I like this.  Here is a ticket https://github.com/mbeacom/gitcoin-erc721/issues/152

I may want a Gen 0 Kudos, and those aren't available via Gitcoin Marketplace (yet)

It'll be interesting to see if anyone does arbitrage the Kudos on Open Sea.. We're so far away from this, that I

[2018-10-31 19:40] octavioamu commented on #2652
_From @owocki on October 4, 2018 1:53_

I think that #149 and #152 are probs the only two things worth doing b4 launch.  I commented on the upgradeability smart contract

[2018-10-31 19:40] octavioamu opened #2653 "Kevin's ERC721 Tickets"
_From @owocki on May 22, 2018 14:34_

<img width="769" alt="screen shot 2018-05-22 at 8 18 27 am" src="https://user-images.githubusercontent.com/513929/40368619-75d7cc3c-5d99-11e8-9c74-328e7c67e9fc.png">

# v1

https://github.com/mbeacom/gitcoin-erc721/issues/18 - get artifact
https://github.com/mbeacom/gitcoin-erc721/issues/17 - send token
https://github.com/mbeacom/gitcoin-erc721/issues/19 - rec

[2018-10-31 19:40] octavioamu commented on #2653
_From @jasonrhaas on June 19, 2018 22:35_

Breakdown between v1, v1.1, and v2 can now be seen in the Milestones https://github.com/mbeacom/gitcoin-erc721/milestones.

Also tracking progress in the Kudos project.
https://github.com/mbeacom/gitcoin-erc721/projects/1

[2018-10-31 19:44] mbeacom opened #2654 "Remove range retry for minting kudos"
When executing `mint_all_kudos` we shouldn't retry using `for __ in range(1, 4)`
Adjust the output to elaborate on the failure and remove the retry based on range.

[2018-10-31 19:47] mbeacom commented on #2591
@frankchen07 This isn't a `backend` specific issue. 😅

[2018-10-31 19:50] mbeacom opened #2655 "Don't assume a profile will exist without catching with try/except"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1719/

[code]

[2018-10-31 20:43] mbeacom opened #2658 "Update kudos send tests to validate authenticated and unauthenticated users"
Update `kudos/tests/test_views.py` to test authenticated and unauthenticated users (specifically `kudos/send/`)

[2018-10-31 20:55] #2554 closed

[2018-10-31 21:21] #2655 closed

[2018-10-31 21:30] jasonrhaas commented on #2586
Do we know if this is a Kudos Direct Send or Kudos Indirect Send?  Ie, if the Kudos needed to be "received".  The link on etherscan.io says the transaction is from https://etherscan.io/address/0xa5a3835689008041296d2cd3f94c307e05f82630

Looking at the transactions, it looks like it is probably the proxy account, which means Indirect Send.  Hard to be sure  without looking at the database directly

[2018-10-31 21:54] jasonrhaas commented on #2586
OK so I added a 10% ETH buffer for the proxy account to add some extra gas money for when the Kudos actually gets minted on the receiving end.

Before buffer:
<img width="359" alt="screen shot 2018-10-31 at 4 47 48 pm" src="https://user-images.githubusercontent.com/7018237/47820993-2b07d300-dd2d-11e8-8e78-d574089427b0.png">

After adding a 10% buffer:
<img width="358" alt="screen shot 2018-10-31 a

[2018-11-01 01:19] octavioamu opened #2660 "hash1 only generates on reload"
**Describe the bug**

hash1 is generated for send the transaction, but if something gets wrong with metamask (example, you are without eth and decide to send eth from other account and comes back without reloading) you will have two transactions in database with the same reference_hash_for_receipient and you can receive the kudos because you get "You must wait until the senders transaction confirm

[2018-11-01 11:32] jeluard commented on #2611
Can you detail a bit more the issue? What exactly can’t be clicked and what should happen then?

[2018-11-01 11:59] owocki commented on #2586
https://github.com/gitcoinco/web/pull/2656

[2018-11-01 11:59] #2586 closed

[2018-11-01 12:30] #2654 closed

[2018-11-01 12:56] mbeacom opened #2663 "Track status on KudosTransfer objects"
`KudosTransfer` should carry a `status` field or something similar acting as an indicator of `Token` status onchain.

Prompted by:

[code]

[2018-11-01 13:02] owocki commented on #2586
sent a test transaction on the new system, with plenty of gas 🎉

[2018-11-01 13:39] owocki commented on #2586
https://etherscan.io/tx/0xd8da62d1b0b6b3bf40dd7cc3c6c271336a8e9c313f72ac91b6819da87214aeb4

[2018-11-01 13:51] mbeacom commented on #2578
User is now alerted with a warning message when sending a Kudos to their own handle via: https://github.com/gitcoinco/web/commit/83f4516e563b938e610482cd4beaee3555bf0546 from @owocki - Closing this for now as this is not a bug, but intended behavior.  We can raise a new issue to track possibly including a sort for self-awarded kudos.

[2018-11-01 13:51] #2578 closed

[2018-11-01 14:58] owocki opened #2664 "put Kudos in activity report"
put Kudos rows in the activity report management command, such that the activity report shows the value transfers associtaed with Kudos.

[2018-11-01 14:59] owocki commented on #2598
@mbeacom @octavioamu can you post your WIP code pls? i want to hack on it on the plane ride back from devcon

[2018-11-01 15:31] octavioamu commented on #2598
@owocki here is a very very start #2665

[2018-11-01 16:30] willsputra commented on #2404
Hey @Anish-Agnihotri , are you still working on this?

[2018-11-01 16:43] octavioamu opened #2666 "Share my kudos"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user with kudos I want to share the kudos link in my network with a nice thumb so people can go and read about it.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2018-11-01 16:58] octavioamu commented on #2590
fixed by #2662

[2018-11-01 16:58] #2590 closed

[2018-11-01 17:07] octavioamu opened #2667 "Kudos Breeding?"
### Discussion

[comment]: # (What conversation would you like to facilitate?)
Should be nice to kudos generate new kudos like cryptokitties, for example if I have 3 kudos related to backend I can won a "backend star" or something like that. Or maybe when I receive repeated kudos I get a kudos to reaffirm that people say I'm good in that skill

[2018-11-01 17:11] willsputra opened #2668 "Design - Find out why a contributor stopped work, or why a funder cancelled a bounty"
It would be great if we could encourage contributors/funders to provide a reason why they stopped work/cancelled a bounty, so that we could find ways to solve the problems and improve.

One idea is to have a simple prompt that pops up whenever a contributor clicks on 'Stop Work' or whenever a funder cancels a bounty.

Contributor stopping work:
![extra large- desktops - 12 col](https://user-images

[2018-11-01 17:21] frankchen07 commented on #2591
😓

[2018-11-01 17:45] frankchen07 commented on #2579
Ah, beat me to it. 😄 good catch!

[2018-11-01 17:45] jasonrhaas commented on #2592
I think this one can be closed with the latest code in master.  There are no duplicates, but there are still problems with the profile.

[2018-11-01 17:52] frankchen07 commented on #2584
Agree that it would be messy - it might have to be a manual process, but definitely low priority right now.

[2018-11-01 17:54] frankchen07 commented on #2583
^ hm looks like it doesn't stop them from doing so, but I guess if they try and complain, it's a point on the funder's side that he/she DID sign off on the process.

[2018-11-01 18:13] frankchen07 commented on #2261
Yes - this is the original intent of the sorting, to be able to view the largest/smallest number of bounties or amount earned, for each of the dropdown items.

Why would it not be present for Top Keywords or Top Kudos? It seems like it is still sortable by amount and txn count.

[2018-11-01 18:33] frankchen07 commented on #2375
hey @pandyamarut, I'm going to remove you from this issue and open it up to others. If you come back and want to work on it and it's still open, feel free to pick up on it!

@kuhnchris - if you'd like to pick up the issue, feel free!

[2018-11-01 20:08] frankchen07 opened #2669 "Month over month stats on gitcoin.co/results don't add up to total platform value"
**Describe the bug**

1. The month over month stats on gitcoin.co/results don't add up to the total platform value.
2. There are negative bar values for the months of May, July, and September (all 2018).
3. 2018 May is mislabeled as 2018 June.

**To Reproduce**
See gitcoin.co/results

**Expected behavior**

![screen shot 2018-10-31 at 14 39 12](https://user-images.githubusercontent.com/7516920/478

[2018-11-01 20:11] jakerockland commented on #2467
@owocki lil ping on this one

[2018-11-01 22:29] kuhnchris commented on #2375
@frankchen07 thanks, seems like someone else already snacked it ;-) But I'm currently limited to 3 bounties and all 3 are currently in use (but in a wait state), so I couldn't have started it anyways ;-)
@nanspro please keep us informed about the status.

[2018-11-01 22:43] Anish-Agnihotri commented on #2404
@willsputra Hey, apologies for going completely MIA on this issue. Certainly not good at all. It's 11/01. Give me till 11/03 and I'll get this knocked out and pushed on it's way.

Thanks again.

[2018-11-01 22:44] Anish-Agnihotri commented on #2283
@gitcoinbot

Sorry gitcoinbot. Yes I am still working on this task. Just waiting for some feedback but we're all busy and running around. Let's hope we can finish this within the next few - right bot?

🥂 Cya next time bot!

[2018-11-01 22:54] kuhnchris opened #2670 "Wonky layout in the "x new funded issues" mails"
**Describe the bug**
Layout between the "funder" and the text is all over the place.

**To Reproduce**
Receive e-mail, read e-mail

**Expected behavior**
A clear line between "owner"/"tasker"/"requester" and text

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47884535-71465a80-de31-11e8-995a-5176092151f7.png)

**Desktop (please complete the following information):**

-

[2018-11-02 12:26] mbeacom opened #2671 "GH Notifications - AttributeError: 'NoneType' object has no attribute 'startswith'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1743/

[code]

[2018-11-02 12:27] #2671 closed, assigned to mbeacom

[2018-11-02 12:28] mbeacom opened #2672 "Kudos: OpenSea API throttling/outages resulting in failure to sync off platform"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1697/

[code]

[2018-11-02 13:39] owocki commented on #2669
Thanks for bug report!  We should do some data sleuthing here.

FWIW, the 'total platform' value is all of the open, started, completed, submitted work, summed over time.

This is expected, if there is negative open work for a month (ie. at the end of month X there is 10k in open work, and at the end of the month there is 7k open work, then the net for that month is -3k.

[2018-11-02 13:41] owocki commented on #2663
https://github.com/gitcoinco/web/pull/2673

[2018-11-02 16:04] octavioamu commented on #2611
Ohh this comes from and older repo, actually was solved and was a general mobile bug not only status.

[2018-11-02 16:04] #2611 closed

[2018-11-02 19:26] thelostone-mc commented on #2467
Hey @jakerockland , @owocki is at devcon and probably won't get this until next week 😅
but we'll make sure the payout is triggered once he gets back :)

Apologies on the delay

[2018-11-02 20:40] jakerockland commented on #2467
Ah haha that makes sense, no worries 😅

[2018-11-02 21:54] owocki commented on #1964
@usmanmuhd thanks.. checking it out now

[2018-11-02 22:01] owocki commented on #1964
hmmm im having a hard time testing because my chromium isnt playing nice with the new test repo..

@thelostone-mc or @SaptakS are you able to test?

[2018-11-02 23:04] owocki commented on #2467
i <3 my new spock ears.. tahnk you!

[2018-11-03 01:30] Anish-Agnihotri commented on #2635
Hey, I'm the developer behind #2294. Apologies, didn't notice that you had referenced it until today. Hope I am not late.

If you have any concerns, questions, ideas - feel free to let me know and let's have a chat :)!

[2018-11-03 02:36] octavioamu commented on #2635
Hey @Anish-Agnihotri thanks to report, don't worry this issue was imported from the old private kudos  repo, is already done I will close it.
Thanks for your attention.

[2018-11-03 02:36] #2635 closed

[2018-11-03 03:15] octavioamu commented on #2538
Great @Anish-Agnihotri Im fixing this one in the bounty detail and explorer
Bounty detail:
![image](https://user-images.githubusercontent.com/1358093/47947541-2e51b900-defd-11e8-897e-e0abd30a25cd.png)

Explorer
![image](https://user-images.githubusercontent.com/1358093/47947557-85578e00-defd-11e8-8bd8-1fa851c25b1e.png)

[2018-11-03 04:06] octavioamu commented on #2540
@frankchen07 we have another similar examples?
this issue seems to me have also biggest issue ConnorChristie deliver the job, get paid but was retired by abandon
![image](https://user-images.githubusercontent.com/1358093/47947896-83dd9400-df04-11e8-890a-f946f04b3c2b.png)

![image](https://user-images.githubusercontent.com/1358093/47947906-9657cd80-df04-11e8-96b1-0dbcd03c8064.png)

In general seems

[2018-11-03 04:12] octavioamu commented on #2539
@mbeacom looks like that PR is waiting your review

[2018-11-03 04:47] octavioamu commented on #2521
The problem was in https://gitcoin.co/bounty/quickstart not /new  the problem is hard to reproduce because the redirect for quickstart (as part of the onboard) and the css messing was .quickstart .modal
Pushing the fix

[2018-11-03 05:03] jakerockland commented on #2467
Amazing, thank you @owocki 😄

[2018-11-03 05:14] mbeacom opened #2678 "Leaderboard test failing"
**Describe the bug**
Pytest is failing in `TestAssembleLeaderboards` on the test: `test_bounty_index_terms`

[code]

[2018-11-03 10:29] #2521 closed

[2018-11-03 12:19] willsputra opened #2680 "Design - Improvements for Welcome to Gitcoin page (the first time users open the Issue Explorer)"
Currently, the first time users open the Issue Explorer, they are greeted with this Welcome to Gitcoin page, showing how it works, tips & tricks, and three recommended bounties.

![artboard](https://user-images.githubusercontent.com/19514207/47952046-4a5c6580-dfa4-11e8-992f-2192b6f88685.jpg)

A couple of problems:
1. The top CTA is not that obvious
2. Users might think that there are only three is

[2018-11-03 15:41] Anish-Agnihotri commented on #2538
Looks good! Thanks @octavioamu!

[2018-11-03 16:33] kuhnchris commented on #2473
@mbeacom / @owocki : so do we want to integrate the "auto color create" svg tool that was proposed in one of the other issues? we could actually implement that in the creation workflow to automatically generate them from template(s). What do you guys think?

-Chris

[2018-11-03 16:59] owocki commented on #2370
why?

[2018-11-03 20:36] kuhnchris opened #2681 "GitcoinBot reports expired bounties"
**Describe the bug**
Gitcoin Bot tries to promote expired bounties

**To Reproduce**
Wait for Gitcoin Bot to promote an expired bounty

**Expected behavior**
Gitcoin Bot shows active and "new" bounties (<= 1 month active)

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47957110-90b7c180-dfb0-11e8-99c4-2a5abb6b57ac.png)

[2018-11-03 22:59] frankchen07 commented on #2668
I believe there's an automatic email that's send to funders who cancel bounties, and the responses are sent to @owocki - but I might be recalling incorrectly.

[2018-11-03 23:56] kuhnchris opened #2682 "Onboarding: Bounties are not being loaded due to javascript error (local dev)"
**Describe the bug**
The loading of bounties is broken for the dashboard during on-boarding.
NOTE: This is most likely since there are a.) not many bounties on local systems and b.) most likely only observable on new installs and/or local dev docker composes.

**To Reproduce**
Go to /onboard/contributor and follow the steps for on-boarding

**Expected behavior**
Bounties being loaded

**Screenshot

[2018-11-03 23:57] kuhnchris commented on #2682
FYI: The function is defined a little bit further down, so this is basically a race condition, since the callback triggers before the definition. Solution is to move the definition up.

[2018-11-04 00:07] kuhnchris commented on #2680
Hey ya @willsputra !
This is a little bit problematic. Right now this is just an included page within explorer, so the changes at the top are OK - but the ones at the bottom are rather problematic. We would need to create a "own" page for the "View more Bounties" + more information and redirect everything there. Or are you trying to go to another page I'm not aware of? I'm coming from "/onboard/co

[2018-11-04 09:30] owocki commented on #2333
closing this since october is over... ping me if i owe you a payout :)

[2018-11-04 09:31] owocki commented on #2473
mind linking me to this discussion?

[2018-11-04 09:39] owocki opened #2684 "New Avatar Assets -- November 2018 Edition"
### User Story

As a user, I want to new avatar assets to show off and express myself digitally.

### Description

*Type*:  New implementation

### Definition of Done

- [ ] Create an .svg asset and place it in `app/assets/v2/images/avatar/<category>`
- [ ] Add the SVG asset as a `.txt` Django template in `app/avatar/templates/<category>/<item|index>.txt` with variable fill.
- [ ] Add your asset t

[2018-11-04 09:39] owocki commented on #1550
Some asks:

* items that celebrate Thanksgiving here in the US (Pilgram / Native American items)
* items that celebrate the holidays here in the US (Channukah / Christmas themed items)

[2018-11-04 09:40] owocki commented on #2333
November thread is up!

Is there anythign I missed on the spec.  @Dgilliams should i link some of the assets you created?  perhaps its worth creating something in the docs that details how to create/test a new avatar item.. i'd def tip some DAI for that.

[2018-11-04 10:42] kuhnchris commented on #2259
This still open @mbeacom ?

[2018-11-04 10:45] kuhnchris commented on #1727
@PixelantDesign @thelostone-mc Any news on this? Also this one should be in "In Progress" on the board.

[2018-11-04 11:20] owocki commented on #2473
this makes sense to me... but im unsure of the complexity

[2018-11-04 13:12] Dgilliams commented on #2333
@owocki up to you! Feel free to link any of it. I could make a video tutorial on the end to end asset creation and testing?

[2018-11-04 14:39] mbeacom commented on #2605
Live! :tada:

[2018-11-04 14:39] #2605 closed

[2018-11-04 14:47] mbeacom opened #2687 "Categories for Kudos"
### User Story

As a user, I want Kudos to be broken down into optional categories, so I have an idea about it's relevance.
As a developer, I want kudos to have a categories relation, so I can associate some grouping and reputation with kudos, potentially triggering level up or achievement based kudos.

### Why Is this Needed

*Summary*: If we categorize kudos into buckets, we can ultimately give

[2018-11-04 16:13] kuhnchris commented on #2473
i am spiegeleixxl, just renamed myself a while ago. the pr was wrongly added, i didnt create one yet as to finish those questions. complexity wouldnt be high only needs to be integrated in a process or job. cc @mbeacom

[2018-11-04 16:14] jschiarizzi commented on #2261
Hey @nanspro sorry, I'm behind on my issues. Don't worry about kudos and stuff, that's outside the scope of this.  I just want an option so the person at the top of the list is the person who has completed the most number of bounties.

[2018-11-05 03:45] jakerockland commented on #2684
@owocki am I eligible to make more accessories this one?

[2018-11-05 07:45] kuhnchris opened #2690 "Github / GitcoinBot repeats URL to gitcoin.co"
**Describe the bug**
GitCoinBot seems to report a link to the discussion page on gitcoin.co (it... really isn't a discussion page thou) multiple times.

**To Reproduce**
Have more than 1 persion request work

**Expected behavior**
1 Link to Gitcoin.co's Issue Page

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/47984469-fe5e0d80-e0d6-11e8-8728-0c6750f55cd3.png)

[2018-11-05 08:48] thelostone-mc commented on #2333
@Dgilliams that would be super neatt

[2018-11-05 08:48] thelostone-mc commented on #2684
@jakerockland of course :) have at it

[2018-11-05 08:56] thelostone-mc commented on #1727
@nemaniarjun Ah yes we updated it to tabs so we would need this to be updated 😅
Sorry about that.
I'd be alright with this being worked up cause the profile page should be stable for a while now

cc @mbeacom

[2018-11-05 12:45] usmanmuhd commented on #1964
@thelostone-mc I am not sure on how to add the logo. Will take a look at it.
Regarding the first issue:
I was thinking of making the user have an explicit button click to show the approval dialog. There seems to be a `window.ethereum._metamask.isApproved()` method, but this always returns false in my case. Could you please check this on your system?
If this is implemented properly, then the flow w

[2018-11-05 13:18] thelostone-mc commented on #1964
@usmanmuhd it looks like that works !
For now -> we could add the button to `settings/account` (as I'm can't seemt to find a better place for it )

Could you write up a button which does that for now ?
As simple as If `window.ethereum._metamask.isApproved()` is true -> metamask is enabled
else text  "Allow Gitcoin to use Metamask" and a button.

Would you be able to wrap that up ?

<img width="144

[2018-11-05 14:35] pinkiebell commented on #1964
@thelostone-mc @willsputra
Injecting a button into `no_metamask_error.html` should do it?

[2018-11-05 15:08] usmanmuhd commented on #1964
@pinkiebell just allowing a click on the banner might do right?

[2018-11-05 15:12] pinkiebell commented on #1964
@usmanmuhd
An additional button with something like `Unlock MetaMask` should do it.
That way we also don't have to reason about the MetaMask permission,
we just fire `window.ethereum.enable()`.

[2018-11-05 15:13] willsputra commented on #2680
Hey @kuhnchris thanks for looking into this! :)

Nope, that's the page I was talking about, coming from "/onboard/contributor".

So when that ftux "Welcome to Gitcoin" page appears, we're currently hiding the search or filters and also limiting the results to 3?

[2018-11-05 15:48] usmanmuhd commented on #1964
From my discussion with @thelostone-mc offline, adding a banner that says "please allow gitcoin to access metamask" might just do. It should be clickable and will call `window.etheruem.enable` on click.
cc: @willsputra @pinkiebell

[2018-11-05 15:48] thelostone-mc commented on #1964
@usmanmuhd I took thier latest build `4.17`

@pinkiebell  @usmanmuhd A click on the banner seems a lil misleading to me
Also within`no_metamask_error` -> we'd have to add a conditional check to distinguish between when metamask is not enabled and when we need permission. (might make sense to throw in a new banner itself ? )

@willsputra no it does not redirect but TBH we don't need access to web3

[2018-11-05 15:54] usmanmuhd commented on #1964
I guess we should have a new check for the case where we need the user to allow gitcoin to access metamask.

We might just redirect it to the settings/account and have a button there to enable. But to me that seems like an overkill.

[2018-11-05 15:56] adamskrodzki opened #2692 "Ability to edit tags after issue creation"
### User Story

As owner I wanto to be able to edit tags in bounty on gitcoin.co so i can fix my mistake during bounty creation

### Why Is this Needed

It is very easy to make mistake or forget some tags and therefore make bounty hard to find in search

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:FEATURE

### Current Behavior

There is no option to edit tags in once creat

[2018-11-05 16:19] willsputra commented on #1964
@thelostone-mc hmm regarding the red bar on issue explorer, yea maybe we don't need to do anything if we don't need web3 access on that page (maybe we don't even need the red bar? 😛but that's a whole other discussion for some other time...).

@usmanmuhd As @pinkiebell mentioned, I think putting a button on the banner is clearer rather than clicking on the banner itself.

Additionally, the verb on

[2018-11-05 16:36] owocki commented on #2684
@jakerockland yes!

[2018-11-05 16:37] pinkiebell commented on #1964
@willsputra
That is nice. But we still need to think about the verb.
The private interface what MetaMask exposes will eventually be pruned and I also discourage the use of it.
That means we don't know if MetaMask is only locked or we don't have permission or both 😄 .
If we have permission and MetaMask is only locked, then calling `window.ethereum.enable()` is a no-op.

That's how privacy works 😄

[2018-11-05 16:42] willsputra commented on #2692
I guess we could put it under 'Edit Issue Details'

![edit1](https://user-images.githubusercontent.com/19514207/48012233-89351b80-e15c-11e8-8f9c-978574f4487f.png)
![edit2](https://user-images.githubusercontent.com/19514207/48012386-d618f200-e15c-11e8-94e7-827ca2521a2b.png)

What do you think? @adamskrodzki @PixelantDesign

somewhat related: https://github.com/gitcoinco/web/issues/2531

[2018-11-05 17:28] kuhnchris commented on #2684
@jakerockland go ahead and work on it, I just fetched a random SVG from the internet. ;-)
If you can design one, be my guest! :-)

[2018-11-05 17:29] jakerockland commented on #2684
Rad thanks @kuhnchris , @owocki will have a couple Holiday-themed accessories coming your way tonight!

[2018-11-05 17:37] kuhnchris opened #2693 "Auto-generate categories & colored variants of SVGs"
### User Story

As a developer and artist, I want to free myself from the burden to edit utils.py and the javascript files whenever a new category and/or avatar item is added to the list, so that I can actually do some proper work, instead of wasting my time in the avatar builder-builder.

### Why Is this Needed

Currently loads of files need to be edited/found if we add a new category or item and

[2018-11-05 17:39] kuhnchris commented on #2473
actually @owocki I dissected that topic and threw in a new issue for this: #2693
It makes more sense to split this up instead of balling everything together.
I will provide the changes requested by @thelostone-mc in the PR, and maybe we can get #2693 rolling, if you want.

-Chris

[2018-11-05 17:41] kuhnchris opened #2694 "Profile has an identity crisis"
**Describe the bug**
My profile pretends to be someone else

**To Reproduce**
Be me

**Expected behavior**
Be myself

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48015860-638f1e80-e12a-11e8-9e8c-45f89eb27b1d.png)

**Desktop (please complete the following information):**

- OS: Mac OS X
- Browser Chrome
- Browser Version Latest Stable

cc @owocki

[2018-11-05 17:54] owocki commented on #2607
``------------------------
(gitcoin-37) ubuntu@ip-172-31-1-57:~/gitcoin/coin$ echo $JOBS_NODE
(gitcoin-37) ubuntu@ip-172-31-1-57:~/gitcoin/coin$
[code]

[2018-11-05 17:59] owocki commented on #2480
i will pay this out as soon as i get november's ETH from consensys finance

[2018-11-05 18:25] owocki opened #2695 "Investigate using sherlock for semaphors"
per https://github.com/gitcoinco/web/pull/2674 , investigate the use of https://github.com/vaidik/sherlock as a long term semaphor solution

[2018-11-05 19:37] #2508 closed

[2018-11-05 19:40] owocki commented on #2508
@PixelantDesign wanna pay out?

[2018-11-05 19:47] kuhnchris commented on #2419
So, @Lokraan is working on this, or is it up for grabs?

[2018-11-05 19:56] Lokraan commented on #2419
@kuhnchris I am not currently working on it

[2018-11-05 21:34] owocki commented on #2668
there is an email sent when someone cancels a bounty, but not when someone stops work

[2018-11-05 22:01] owocki opened #2699 "ENS feedback - make it more clear what ENS does"
Yesterday at Devcon's ENS session they promoted

https://gitcoin.co/ens/

Where you can link your github name (e.g., REDACTED) to an ethereum address

e.g.,

REDACTED.gitcoin.eth is now resolving to
0xREDACTED

It might be my stupidity, but there should be a warning that

"hey, your github name XXX will now be linked to this metamask address YYY,
so people can easily know how much ETH you have and

[2018-11-05 22:32] kuhnchris commented on #2699
That... kind of depends. If people are stupid enough to tatoo the name of their crush onto their butt they also cannot blame the tatoo artist if things do not turn out the way one expected them to turn out...
You could put up a extra warning window before confirming ála:
"WARNING! This will INDEFINITLY link this name (your name here) to this address (your address here). This may be a privacy conce

[2018-11-05 23:56] owocki commented on #2355
I like the tabs!  @PixelantDesign @willsputra any objections if we bounty the frontend coding of this?

[2018-11-06 00:09] owocki opened #2701 "homepage glitch on ipad -- scrolljacking makes scrolling on ipad feel unnatural"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)
scrolljacking makes scrolling on ipad feel unnatural

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
get an ipad and go to gitcoin.co, try to scroll on it

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)
scroll is natural

[2018-11-06 01:15] usmanmuhd commented on #1964
@pinkiebell From what I understand, currently we have an option to know if metamask is locked or we do not have permission, but it is not something that is absolutely necessary. We can just show a banner that says, "Allow access or Unlock wallet to continue" (can be better worded).

[2018-11-06 03:50] jakerockland commented on #2684
PR for Hanukkah hat ^ 🙌 😅

[2018-11-06 05:17] pinkiebell commented on #1964
Let's assume the user already approved permission but are now logged out of MetaMask, then we still can show that 'Connect MetaMask' button and if ethereum.enable() resolves with an empty `[]` - means the user already granted permission but is not logged into MetaMask.
If that's the case; we can display an additional copy with `Please login into MetaMask` or something like that.

[2018-11-06 06:43] usmanmuhd commented on #1964
@pinkiebell You cannot run `ethereum.enable()` without logging in. So that case does not arise. It's either logged in and granted permission or not.

[2018-11-06 06:58] pinkiebell commented on #1964
@usmanmuhd
I'm sure it does work. It will also automatically open the MetaMask window if the user did not granted permission.

[2018-11-06 08:01] thelostone-mc commented on #1964
Can't we just have another banner if user hasn't enabled metamask ? Or reuse the same banner but show the button only if the user hasn't given permission ?

[2018-11-06 08:12] thelostone-mc commented on #2701
Haha @SaptakS do you have an ipad ? :P

[2018-11-06 08:34] usmanmuhd commented on #1964
@thelostone-mc I will get a poc by today evening. We can discuss and make changes over it. Hope that is fine?

[2018-11-06 11:21] PixelantDesign commented on #1964
Hi @usmanmuhd sounds good. Let us know if you have any questions!

cc: @thelostone-mc

[2018-11-06 11:30] PixelantDesign commented on #2355
We can certainly bounty @owocki, but curious if @thelostone-mc could pick this up since he's working on grants?

[2018-11-06 11:45] PixelantDesign commented on #2649
Commissioned makes sense for new kudos.

[2018-11-06 11:47] PixelantDesign commented on #2692
Thanks for opening this @adamskrodzki! That works @willsputra!

What do you think @frankchen07 ?

[2018-11-06 13:43] PixelantDesign opened #2706 "Kudos - Add Proper Function Name for Metamask Display"
### User Story

As a user I want to see that my Kudos transactions in metamasks are not **unknown functions**.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently sucessful Kudos transactions in Metamask show as **Unknown Function** - which g

[2018-11-06 13:53] PixelantDesign opened #2707 "Kudos - Display Image Associated to Owner Address"
### User Story

As someone looking at Kudos, it's hard to tell who the address belongs to.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Feedback from Andres (Kauri). It was hard to tell if a Kudos was minted by Kauri or minted by a Gitcoin team m

[2018-11-06 14:26] PixelantDesign opened #2708 "Kudos - Stretched Email Image"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
View Kudos Received email in Gmail browser

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

Expect to see an image that is proportioned.

**Desktop (please complete the following information):*

[2018-11-06 14:42] PixelantDesign commented on #2694
Weird! So we're pulling someone else image @kuhnchris ?

[2018-11-06 15:10] owocki commented on #2694
looks like it's an old avatar

[2018-11-06 15:13] mbeacom commented on #2694
I'll check this out and shoot out a fix shortly.

Thanks for reporting @kuhnchris

[2018-11-06 15:19] PixelantDesign commented on #2531
@frankchen07 @owocki @mbeacom what do you think of the above?

[2018-11-06 16:43] ceresstation opened #2709 "Issue status not updating on profile page"
**Describe the bug**

In some cases the status of a given issue is different on the profile versus issue page.

*Profile Page*: https://gyazo.com/2bf0bb7c856b80d66b7c786961d878d0

*Issue Page*: https://gyazo.com/5584b7ae5ae2ad108cb23cc87e93f4e5

**Expected behavior**

The status should be the same :p

[2018-11-06 17:39] octavioamu opened #2711 "Abandonment activities with empty price tags"
**Describe the bug**
[comment]: # (A clear and concise description of what the bug is.)

https://gitcoin.co/activity some of the activities are without price.
We should omit price/denomination for these abandonment activities.

**To Reproduce**
[comment]: # (Steps to reproduce the behavior)
https://gitcoin.co/activity

**Expected behavior**
[comment]: # (A clear and concise description of what you

[2018-11-06 17:51] kuhnchris commented on #2694
yeah, seems like an old or a different avatar. Thanks for looking at it @mbeacom

[2018-11-06 18:04] kuhnchris commented on #2708
https://github.com/gitcoinco/web/blob/931aea7218cefa2938604c0e34032776ab703595/app/retail/templates/emails/new_kudos.html#L127 here should be the culpit!
But... is there a way to try this out via command line to actually send the mail?
cc @mbeacom because he's knows da wey.

[2018-11-06 18:08] kuhnchris commented on #2707
not 100% sure on this one: you want to see if this one is a new one or a regifted one, or you generally want to see the owner address avatar (if on file)?

[2018-11-06 18:10] kuhnchris commented on #2706
Hi there. I tried to Verify the code in Etherscan, but sadly, the version I came up with doesn't relate to the currently deployed Kudos contract. Basically the same contract that was deployed needs to be verified on Etherscan. Then you could actually go ahead and do it. Also, we would need to register the function at a certain contract. See answer on this discussion:
https://ethereum.stackexchange

[2018-11-06 18:14] owocki opened #2712 "redesign the 'you have a kudos' email to be more flashy"
redesign the 'you have a kudos' email

here is an inspiration email

<img width="921" alt="slack-imgs" src="https://user-images.githubusercontent.com/513929/48084452-012f3000-e1b5-11e8-9870-ed7fd03916ac.png">

here is the existing kudos email

![screencapture-gitcoin-co-_administration-email-new_kudos-2018-11-06-11_13_50](https://user-images.githubusercontent.com/513929/48084485-160bc380-e1b5-11e8

[2018-11-06 18:18] owocki opened #2713 "as a kudos admin, i want a marketing funnel, so i can see where the users are falling off the funnel"
as a kudos admin, i want a marketing funnel, so i can see where the users are falling off the funnel of sending kudos

[2018-11-06 18:19] kuhnchris opened #2714 "GitCoinBot reports 0 day inactivity"
**Describe the bug**
GitCoinBot reports inactivity for 0 day inactivity.

**To Reproduce**
Be unlucky.

**Expected behavior**
Not being reported

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48084757-d9fa5200-e1f8-11e8-89ba-e465beddefa3.png)

[2018-11-06 18:20] kuhnchris commented on #2713
Depends on what you exactly you want to analyze.
Do you want to analyse where they dropped off from the purchasing process?
You want to track if they click "Send" and then back out at MetaMask?
Want to track page views?

-Chris

[2018-11-06 18:29] kuhnchris commented on #2711
Awww, not filling out the template properly? :-(

https://github.com/gitcoinco/web/blob/3a9514f48ec3d6dbbe1d46a659dfd5f613be0680/app/retail/templates/shared/activity.html#L65

Here is the pain point to fix. basically the div tag token should be capsulated and not displayed when there is no data for it.

[2018-11-06 18:31] kuhnchris commented on #2709
Wait, that's intended, isn't it?
The profile page shows your *activity*, which is, work submitted. The *issue page* shows the status of the *issue*. What may be missing is that it doesn't show that you received payout for that bounty.

[2018-11-06 18:37] octavioamu commented on #2619
Done in  #2576

[2018-11-06 18:37] #2619 closed

[2018-11-06 18:40] PixelantDesign commented on #2712
@kuhnchris
I like the idea of sending one in return. Right now we just direct the user to **learn more** on the kudos landing page

[2018-11-06 18:41] frankchen07 commented on #2713
Keeping it simple for now, we're looking at dropoff in the Kudos send flow (e.g % of sessions that are making it through the Kudos send flow, and what stage people drop off at) - this will give us a better idea of where the friction points are.

[2018-11-06 18:44] owocki commented on #2531
looks really good

[2018-11-06 18:45] #2615 closed

[2018-11-06 18:45] #2614 closed

[2018-11-06 18:47] nanspro commented on #2261
Will submit a PR today only

[2018-11-06 18:48] #2602 closed

[2018-11-06 18:52] octavioamu commented on #2592
This one is fixed

[2018-11-06 18:52] #2592 closed

[2018-11-06 18:56] owocki commented on #2370
I'm not sure how we're going to do this given we don't have a JS build pipeline for Gitcoin.

[2018-11-06 19:36] maurelian opened #2715 "Issue in contract code prevents payouts"
**Describe the bug**

The payout transaction will fail and use up all the gas.

**To Reproduce**

1. Have possession of my private key. (I verified that I'm using the right account.
2. Go here: https://gitcoin.co/issue/accept?pk=6828&network=mainnet
3. Click accept

See metamask warning below.

**Expected behavior**

I can simply accept the transaction and make the payout.

**Screenshots**

![imag

[2018-11-06 19:45] maurelian opened #2716 "Let me interact with bots instead of visiting your website."
### User Story

As a bounty creator, I want to minimize the number of places I need to go to create and payout a bounty.

### Why Is this Needed

The beauty of smart contracts is that you can interact with them with just a wallet.  Creating an issue, then going through your website's flow is not smooth.

### Expected Behavior

I would like to be able to either:
1. Describe an issue to @gitcoinbot

[2018-11-06 19:46] maurelian commented on #2716
Rough example:

![image](https://user-images.githubusercontent.com/23033765/48089508-ac021700-e1d2-11e8-90a1-294361d7f50b.png)

[2018-11-06 19:59] owocki commented on #2694
looks to me like https://gitcoin.co/dynamic/avatar/owocki/ is returning the first avatar i ever made...

in the top right, my avatar points directly to S3 => https://c.gitcoin.co/avatars/7f3038d3cea9c3e9b09350ad97442fe3/owocki.svg

@mbeacom is there an easy fix for this?

[2018-11-06 20:18] kuhnchris commented on #2713
Well, shouldn't that already be possible, purely from a log's perpesctive? @mbeacom cc

[2018-11-06 20:20] octavioamu commented on #2711
Not really, abandonment doesn't have value so is getting into the else
[code]
But also doesn't have any value so is just showing the `-`

[2018-11-06 20:23] kuhnchris commented on #2711
Still doesn't change the fact that "- " (because all the values are empty) and USD (below) will be displayed.

[2018-11-06 20:35] kuhnchris commented on #2711
I agree, we should not show the tags. We could show the "action" color-coded (like red for Abandonded, Green of completed, accepted, submitted, and gray for applied or funded) instead of the bounty value. Especially since the bounty value can change it doesn't make that much sense to put it in there anyways, IMHO.

![image](https://user-images.githubusercontent.com/761911/48092038-d7552800-e20b-11

[2018-11-06 21:22] PixelantDesign opened #2717 "Design Update Current Mission Page to Include Additional Products"
### User Story

As a new visitor to the Gitcoin site I'd like to learn more about the products that support the current mission.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

We have a top nav that suggest how we grow open source, but no place th

[2018-11-06 22:43] FrederikBolding commented on #2469
@mkosowsk I'm interested in learning the codebase and could fix this issue while I'm at it if the current dev doesn't have time 😄

[2018-11-06 22:56] frankchen07 opened #2718 "Build - Tidy up the Gitcoin Issue Explorer search and filter functions and move them to the left hand sidebar."
### User Story

As a contributor who regularly uses the Gitcoin Issue Explorer, I would like a neater, less intrusive search and filter function for the explorer.

### Current Implementation & Reasoning for Change

1. Currently, the filter options crowd the left hand sidebar of the Issue Explorer. Given our heatmap data of clicks, certain filters are seldomly used, as compared to "project status"

[2018-11-06 23:18] frankchen07 opened #2719 "Build - New design and flyover for Gitcoin Issue Explorer entries"
### User Story

As a contributor, when exploring issues on the Issue Explorer, I'd like a more complete view as to which issues are ready to be worked on, what the latest activity update is for an issue, and a preview of the issue details directly in the Explorer, without needing to click on the issue itself.

### Current Implementation & Reasoning for Change

The Gitcoin team has received feedbac

[2018-11-06 23:37] frankchen07 opened #2720 "Build featured bounties section on the Gitcoin Issue Explorer"
### User Story

As a funder on the Gitcoin platform, I would like the option of "promoting" one of my funded issues so that it appears in a banner on the top of the Gitcoin Issue Explorer, for a price.

As a contributor of Gitcoin, I would like to see a featured area so that I know which bounties are top priority for funders/projects. I can know that this bounty will be followed carefully by repo

[2018-11-06 23:47] frankchen07 opened #2721 "As a Gitcoin admin, I'd like have better data on the job preferences of those who are joining Gitcoin"
### User Story

As a Gitcoin admin, I'd like have better data on the job preferences of those who are joining Gitcoin.

### Why Is this Needed

As we explore monetization strategies, Gitcoin may be invaluable for providing qualified candidates to job postings (outside of the Issue Explorer). In order for this to be successful, we need a more complete understanding (objective and subjective) of the

[2018-11-07 02:47] octavioamu commented on #2651
@owocki @PixelantDesign "equipped_asset -- shown on their avatar and in their avatar builder." sounds really nice to have.

[2018-11-07 06:43] kuhnchris commented on #2721
In theory we can actually gather a bit of user-related data (watch out for european folks with their DSVGO/european data protection laws) based on the following subjects:
- Received Kudos (if in any relevance to their tasks)
- Visited (interest), Applied (bigger interest), Started (same), Submitted (potential) and Finished (interest; if finished by current profile - potential) Bounties
- Gitcoin a

[2018-11-07 06:46] kuhnchris commented on #2720
Well, do we want to really prominently stick them out?

Alternatively we could just blend them into the "regular" issue explorer and just give them a gray, silver or "gold" backing, depending on what package they book.

[2018-11-07 06:49] kuhnchris commented on #2719
This... kind of depends on the data model a little bit.  I know we can fetch these datapoints from the database itself, but the question is how performance will impact the user experience if we have to join those data up.
@mbeacom any suggestion how to prevent this to be a performance disaster?
Aside from that, seems like a straight forward task.
But, just to be sure: you want the filters to be go

[2018-11-07 07:41] thelostone-mc commented on #2651
@octavioamu YAY

[2018-11-07 07:43] #2473 closed

[2018-11-07 08:14] thelostone-mc commented on #1964
@usmanmuhd sure thing! leave a ping when it's good for review ^_^

[2018-11-07 12:31] PixelantDesign commented on #2715
Thanks for the report @maurelian !

[2018-11-07 12:34] PixelantDesign commented on #2714
Thanks for the report @kuhnchris !

[2018-11-07 12:39] PixelantDesign commented on #2718
Looking at it again, the only thing I'm wondering is, should the status be below the search... @frankchen07 @thelostone-mc @willsputra

[2018-11-07 12:49] owocki commented on #2715
the bounty expired 10 days ago, thats why OP can't pay it out => https://explorer.bounties.network/bounty/1610

[2018-11-07 13:04] thelostone-mc commented on #2718
@PixelantDesign I am leaning towards it but I'm not sure how many users would use it more often than project type and experience.
Ideally, the explorer is a place where folks come to solve bounties so 90% of the time it would with the open filter \m/

[2018-11-07 14:53] mkosowsk commented on #2469
@vs77bb I would like to stop work for @arealdeadone but can't seem to find it on the Gitcoin page. Any help here? Thanks!

[2018-11-07 14:54] willsputra commented on #2718
@thelostone-mc Here's the sketch file
https://drive.google.com/open?id=1lf1JOGyI_IKqgjT5a-8mCzQjQXUEHaQd

Do let me know if I missed anything :p

[2018-11-07 15:11] arealdeadone commented on #2469
Hi I'm sorry that there was no update from my side but the time period was
of 12 months so I was taking my time to complete it. If it is so urgent
then I will submit a pr soon, if I still can.

On Wed, Nov 7, 2018, 8:23 PM mkosowsk <notifications@github.com wrote:

[2018-11-07 15:37] #2636 closed

[2018-11-07 16:16] mkosowsk commented on #2469
Hi @arealdeadone, please do submit a PR when you can :)

[2018-11-07 16:17] arealdeadone commented on #2469
Thanks I will soon

On Wed, Nov 7, 2018, 9:46 PM mkosowsk <notifications@github.com wrote:

[2018-11-07 16:35] octavioamu commented on #2269
yes at least the same nav for send tips and kudos

[2018-11-07 16:38] octavioamu commented on #2269
The thing is, send tips needs to be cleaned, is not even using bootstrap as the others part of the sites (the kudos send is using it)  So to start using the same nave we should clean it first, because for example bootstrap will be style too the inputs and buttons there

[2018-11-07 18:01] owocki opened #2726 "bug - comments in kudos email is off-center"
<img width="1658" alt="screen shot 2018-11-07 at 11 00 50 am" src="https://user-images.githubusercontent.com/513929/48150627-7285e600-e27c-11e8-914c-0721b1ea2b03.png">

[2018-11-07 18:21] PixelantDesign commented on #2718
Looks like users are clicking on experience level and project type more, so lets leave as is!

[2018-11-07 18:50] owocki commented on #2715
hey @maurelian -- did you open this bounty on gitcoin, via the standard bounty command line funder, or via bounties network?  gitcoin handles expiration dates slightly differently than the bounties network, so knowing this piece of info will help us debug

[2018-11-07 18:52] maurelian commented on #2715
I had no idea that was possible from the gitcoin UI.
The only action I had available (without a runtime error) was to
- cancel the bounty,
- then reactivate it,
- then accept the original bounty hunter

And then it seems that the actual payout was completed in that last step, or maybe I misunderstood what it was.

I wish it had been easier. :) Dapp UX is hard.

[2018-11-07 18:52] #2715 closed

[2018-11-07 19:46] maurelian commented on #2715
I opened it on gitcoin.

On Wed, Nov 7, 2018 at 1:50 PM Kevin Owocki <notifications@github.com>
wrote:

--
*John M*
*49 Bogart St, Suite 22, Brooklyn NY 11206*
*Web <https://consensys.net/> | Twitter
<https://twitter.com/ConsenSys> | Facebook
<https://www.facebook.com/consensussystems> | Linkedin
<https://www.linkedin.com/company/consensus-systems-consensys-> | Newsletter
<http://consensys.us11.li

[2018-11-07 19:47] owocki commented on #2715
Thanks for the feedback.. We're workin' on it

[2018-11-07 19:50] PixelantDesign commented on #2726
maybe just center, but not spend too much time since we're redesigning this email? @octavioamu ?

[2018-11-07 19:52] octavioamu commented on #2726
sure I will be fix that here https://github.com/gitcoinco/web/pull/2723

[2018-11-07 20:00] owocki commented on #2726
+1 to both comments

[2018-11-07 20:17] PixelantDesign commented on #2668
I think it's a great idea and will help us understand why work is stopped/abandoned.

[2018-11-07 20:42] PixelantDesign commented on #2390
@willsputra we'll also need to show placement on the funder form on where a funder would opt in to this feature as well as display how much it might cost.

[2018-11-07 20:58] thelostone-mc commented on #2438
@captnseagraves Isn't this already done ? If so , can we close it out ?

[2018-11-07 20:58] #2708 closed

[2018-11-07 22:01] #2626 closed

[2018-11-07 22:08] PixelantDesign commented on #2624
An alternate idea (maybe simpler) could be sending the email with pre selected Kudos, and once clicked directing the user to a tab where we show the 5 kudos we've granted them.

Thoughts @owocki @octavioamu ?

[2018-11-07 22:20] PixelantDesign commented on #2707
Just showing the associated avatar to the owner address @kuhnchris

[2018-11-07 22:32] owocki commented on #2694
looks to me like the PNG is not being updated when there is a new avatar saved

http://bits.owocki.com/b5115070f021/Screen%20Shot%202018-11-07%20at%203.31.25%20PM.png

[2018-11-07 22:35] owocki commented on #2694
[code]

i think its related to this line https://github.com/gitcoinco/web/blob/master/app/avatar/models.py#L81-L88

[2018-11-07 22:45] owocki opened #2730 "as a org user, i want gitcoinbot to label issues on my repo, so that it can keep things organized"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a org user, i want gitcoinbot to label issues on my repo, so that it can keep things organized

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

when you run a lot o

[2018-11-07 22:47] owocki opened #2731 "as a grants user, i want the ability to follow a user, and automatically subscribe to the grants they subscribe to"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a grants user, i want the ability to follow a user, and automatically subscribe to the grants they subscribe to

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

its

[2018-11-07 22:54] owocki commented on #2424
per convo yesterday on the call, @mbeacom is gonna build this into the subminer

[2018-11-07 23:02] owocki commented on #2355
@willsputra can u post the sketch file pls?

[2018-11-07 23:04] owocki opened #2732 "CODE - as a funder, i want a grant quickstart page, so i know how to make my grant successsful"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a funder, i want a grant quickstart page, so i know how to make my grant successsful

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Grant evaluation process is up

[2018-11-07 23:05] frankchen07 commented on #2692
Yes, I think having the ability to edit the skillset keywords is important, especially since that is a form of marketing to the contributor.

Great catch, and I like using the copy from the existing funder form keywords field.

[2018-11-07 23:06] kuhnchris commented on #2694
I think that the entire avatar system is a bit bugged and bothersome right now (to maintain and seems to have a couple of bugs). Is there a reason why some avatars are on S3 and some dynamically generated? The easiest would be to generate the avatar directly on the fly without storing the file inbetween (it's basically just a couple of SVG layers anyways...), that would also solve a couple of cach

[2018-11-07 23:09] owocki commented on #2404
i'm very excited about this... @Anish-Agnihotri let us know what you need from us!

[2018-11-07 23:11] frankchen07 commented on #2538
Looks great! Thanks for taking a look at this @Anish-Agnihotri and @octavioamu!

[2018-11-07 23:22] owocki commented on #252
hmmm it appears i tipped you on teh wrong issue jake :P

[2018-11-07 23:25] owocki opened #2733 "as a gas user, i want a heat map of when is the best time to deploy a contract day over day"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
as a gas user, i want a heat map of when is the best time to deploy a contract day over day

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
because when i am going to

[2018-11-07 23:39] frankchen07 commented on #2540
^ I believe it's also a bug bounty. The funder has requested to leave the issue open to ensure that the changes aren't going to break in the future.

Perhaps the project type should have been something like a cooperative or contest type, not traditional, which allows it to remain open and the funder can tip or use advanced payout.

[2018-11-07 23:39] kuhnchris commented on #2732
![image](https://user-images.githubusercontent.com/761911/48168234-c6311780-e2ee-11e8-82d1-be029f56160c.png)
There, fixed.

[2018-11-07 23:44] jakerockland commented on #252
ah haha this is indeed a different issue 😅 I did see your comment on the other one though
On Nov 7, 2018, 4:22 PM -0700, Kevin Owocki <notifications@github.com>, wrote:

[2018-11-07 23:45] owocki commented on #1964
@usmanmuhd hows this going?  we are keep to 🚢 since the new metamask is live already ..

[2018-11-07 23:47] kuhnchris commented on #2733
@mbeacom could you throw a recent data set around to play with? may makes a bit more sense to dev with real data.
And @owocki what do you want to graph? Date over Time matched by "lowest" gas cost? (low = min(selected period), high = max(selected period))low being green to high being red.
Mouse-over for the avg. price? And does it need to be D3 or can we use another lightweight engine too? (Do we

[2018-11-08 00:04] kuhnchris commented on #2730
Well, either prompt the repo owner, or provide some functionality for bounty owners in the bounty itself, like "synchronize bounty", "tag github issue", "clean up gitcoin bot messages", etc.
You could integrate those buttons in the top bar, kind of like administrative functions, for example like this:
![image](https://user-images.githubusercontent.com/761911/48169045-ee6e4580-e2f1-11e8-99e4-90be37

[2018-11-08 00:08] usmanmuhd commented on #1964
@owocki we are good to go except for `web3.currentProvider`. Could you please address my queries in the PR #2548

[2018-11-08 00:20] owocki commented on #1964
sorry which queries specifically?

wahts the `web3.currentProvider` issue and the faucet issue?

just left some QA comments

[2018-11-08 00:38] usmanmuhd commented on #1964
@owocki This [one](https://github.com/gitcoinco/web/pull/2548#discussion_r231468149).

[2018-11-08 03:10] Anish-Agnihotri commented on #2404
For sure :). My apologies for continued delay due to Diwali today. I'm attempting to pull notifications now and seeing how it is done in the back-end for the New Bounty emails for some reference.

Looking to get a WIP PR, and this knocked out asap.

[2018-11-08 03:12] Anish-Agnihotri commented on #2283
@frankchen07 @PixelantDesign

Hey guys!

Just wondering if the above comment regarding revised CTA's is good to go, so that I can begin working on this PR. As always, do let me know if you have any comments, questions, concerns/feedback, etc!

Thanks,

Anish

[2018-11-08 03:37] #2631 closed

[2018-11-08 03:38] #2646 closed

[2018-11-08 04:40] ryan-shea commented on #2370
Hey @owocki, snoozed the bot on this one. Are you going to open up the bounty to other hunters as well?

[2018-11-08 04:47] usmanmuhd commented on #2370
Do you mean for testing the patches?

[2018-11-08 05:15] ryan-shea commented on #1471
Hey @aman935, haven't heard from you for a couple of weeks -- will be opening this one to the rest of the community.

[2018-11-08 08:13] thelostone-mc commented on #2402
@Anish-Agnihotri are you still on this ?

[2018-11-08 09:54] thelostone-mc commented on #2355
@owocki yes. Too late I've called dibs :P

[2018-11-08 12:31] PixelantDesign commented on #2680
I like the suggested improvement @willsputra. The header makes it clear that it's recommended. We did keep it short intentionally so that after the user sees 3 possible issues, they could see more on the issue explorer.

[2018-11-08 12:36] #2641 closed

[2018-11-08 13:10] Anish-Agnihotri commented on #2402
Hey, sorry, didn’t complete this since I was working on other issues. It should only take 10-15 minutes so I’ll push today.

[2018-11-08 14:16] #1807 closed

[2018-11-08 14:31] #2678 closed

[2018-11-08 14:37] willsputra commented on #2355
@thelostone-mc sketch file!
https://github.com/gitcoinco/creative/blob/91383e7b9c5eb853338a3bfdd8088e135d2ba698/00_Submissions/Grants%20Quickstart/Grants%20Quickstart.sketch

[2018-11-08 14:52] owocki commented on #2694
https://github.com/gitcoinco/web/pull/2734/files should fix this

[2018-11-08 15:15] PixelantDesign opened #2735 "Kudos - Ux to include Kudos at Payout is not enticing"
Kudos - Ux to include Kudos at Payout is not enticing

Consider ways to make it more visual surface suggestions based on kudos tags?

**Current**
<img width="603" alt="screen shot 2018-11-08 at 10 14 17 am" src="https://user-images.githubusercontent.com/238235/48207670-20f25f80-e33f-11e8-8b58-9dc6512a6d69.png">

<img width="549" alt="screen shot 2018-11-08 at 10 14 26 am" src="https://user-images.

[2018-11-08 15:16] mbeacom opened #2736 "Fix failing tests associated with Profile unique handle"
[code]

[2018-11-08 16:00] kuhnchris commented on #2694
Will check when I return home, thanks!

[2018-11-08 16:01] kuhnchris commented on #2508
Thanks @PixelantDesign

[2018-11-08 16:03] kuhnchris commented on #2736
Hmm, you sure you work on a proper new base/deployment?

Sounds like you did not clean up the test database or dropped off during testing?

[2018-11-08 16:04] kuhnchris commented on #2735
Only for Basic Payout, or Advanced aswell?

[2018-11-08 16:30] captnseagraves commented on #2021
@thelostone-mc Currently, we need the "Cancel This Grant" button to appear when in admin view. we also need to make the activity/update section dynamic, which I think @mark has on his todo list?

[2018-11-08 16:33] owocki commented on #2370
I think that @usmanmuhd is still working on this right?

Oh I had thought that not all browseres support async/await -- so we needed to have a npm build pipeline.. Perhaps I was wrong

[2018-11-08 16:39] owocki commented on #2733
Yes that sounds right.

That sounds great.  A tooltip would be really helpful for zooming in on the data.  Avg price is a good starting point.

Doesnt need to be D3, no.

[2018-11-08 16:49] usmanmuhd commented on #2370
Yeah, it's called ES6. I guess almost everyone supports it except IE :stuck_out_tongue:.

[2018-11-08 16:52] owocki commented on #2370
one thing we talked about doing on the internal team call today @SaptakS @mbeacom @thelostone-mc was just not supporting very old IE browsers..

[2018-11-08 16:56] PixelantDesign commented on #2735
@kuhnchris yes, we haven't integrated it into advanced payout yet. It gets a little tricky when you're sending payment to multiple people.

[2018-11-08 17:02] owocki commented on #1964
i just responded.. im not sure why this was blocked on me, i dont have any special answers you couldnt find yourself.

[2018-11-08 17:09] owocki commented on #2355
ok i wil cancel the bounty and assign you over at https://github.com/gitcoinco/web/issues/2732

[2018-11-08 17:10] owocki commented on #2732
@samthomson thanks for your interest, but we've decided to cancel this bounty.

[2018-11-08 17:12] captnseagraves commented on #2019
@SaptakS @thelostone-mc can we add some copy for when a user does not have any subscription? Something like, "It looks like you are not supporting any grants yet. You can check out all of the projects seeking funding here (link to index page)"

[2018-11-08 17:13] usmanmuhd commented on #1964
@owocki I guess it was specifically for the changes in `window.ethereum` that were introduced. There is not much documentation regarding that change.

[2018-11-08 17:35] captnseagraves opened #2737 "Add "Back To Grant Button" on add/edit milestones view"
We need add a "Back To Grant" to the add/edit milestones view so that users can navigate back to the main grant/detail page.
![screen shot 2018-11-08 at 9 31 58 am](https://user-images.githubusercontent.com/22862292/48216432-ee963180-e341-11e8-9389-6919a3f1c1e0.png)

[2018-11-08 17:39] #2438 closed

[2018-11-08 17:41] captnseagraves commented on #2434
I think we should remove the references to "Dev" grants

[2018-11-08 18:20] ceresstation opened #2738 "Hardcoding values for tokens not yet listed but with guaranteed / explicitly defined future prices"
### Description

In some cases projects want to hardcode a value for their token on Gitcoin that they've already explicitly promised to investors or other network participants.

### Current Behavior

We provide no value for tokens that have not launched on mainnet.

### Expected Behavior

Tokens where an explicit agreement regarding price has been made like PROCN should have a fixed value beside t

[2018-11-08 18:46] thelostone-mc commented on #2579
So what probably happened is that the options below were checked by default causing the name to be rendered `Anonymous`

<img width="805" alt="screen shot 2018-11-09 at 12 11 16 am" src="https://user-images.githubusercontent.com/5358146/48219977-0ad2b680-e3b4-11e8-9c41-0330e109d71e.png">

For Activities we track user action which doesn't taken into account if the funder has selected hide options.

[2018-11-08 18:51] owocki opened #2739 "bug - infinite refresh on pending transaction"
I got this bug report this morning:

To: kevin@gitcoin.co

Hi Kevin,I figured I would send you a bug report. I just submitted a bounty and got a weird bug. I got taken to the transaction processing page and it was fine up until the transaction confirmed on the the Ethereum network at which point the page got a stuck in a refresh loop. Here's the link https://gitcoin.co/funding/details?url=https://

[2018-11-08 19:52] octavioamu commented on #2735
what should be the parameter to relationate the kudos? I mean how I decide what kudos are related to that bounty?

[2018-11-08 19:59] PixelantDesign commented on #2735
If we could surface based on tags from the bounty, that would be great.

[2018-11-08 21:01] kuhnchris commented on #2579
![image](https://user-images.githubusercontent.com/761911/48227107-baeaf400-e3a1-11e8-9ed7-3e5dd0a3faf0.png)
That seems redundant at best. if any of those values is not "Anonymous" then it wouldn't make sense to hide 'any' of em...

[2018-11-08 21:03] kuhnchris commented on #2735
@PixelantDesign should we make a own board? Because this would ALSO relate to the tags topic. We got a couple of things that tie those together now, may makes sense to collect them together.

[2018-11-08 21:08] PixelantDesign commented on #2633
<img width="605" alt="screen shot 2018-11-08 at 3 56 54 pm" src="https://user-images.githubusercontent.com/238235/48227536-988cb280-e370-11e8-96e5-f8bae814db9e.png">

[2018-11-08 21:09] PixelantDesign commented on #2587
<img width="605" alt="screen shot 2018-11-08 at 3 56 54 pm" src="https://user-images.githubusercontent.com/238235/48227574-ae01dc80-e370-11e8-9541-d097c96256ec.png">

[2018-11-08 21:15] ceresstation opened #2740 "Recommending kudos on payout based on bounty description / completion time / other properties"
### User Story

As a funder I'd like to have relevant Kudos recommended to me paying out a bounty (e.g. Python Kudos for a Python bounty, fast worker Kudos if [time to completion] / [bounty duration] < [1/2]

### Why Is this Needed

This hopefully helps funders better understand the value of sending Kudos and what kinds of Kudos are available.

### Current Behavior

The example Kudos categories ar

[2018-11-08 21:39] frankchen07 commented on #2544
I think a simple weekly recap email works. We can start there once the funder dashboard is up.

Perhaps for issues that the funder gets pinged on, we can include a link to their dashboard so they can easily access it even if they're looking at an email for a specific issue.

[2018-11-08 21:53] frankchen07 opened #2741 "As a contributor on the new Issue Explorer, I'd like to be able to filter issues by the number of applicants."
### User Story

As a contributor on the new Issue Explorer, I'd like to be able to filter issues by the number of applicants.

Dependent on completion of: https://github.com/gitcoinco/web/issues/2719

### Why Is this Needed

As a contributor, I want to be able to search for issues that I can claim first dibs on.

### Current Behavior

Currently there isn't a way to filter on the number of applican

[2018-11-08 22:42] owocki commented on #2434
makes sense to me. updated

[2018-11-08 22:48] owocki commented on #2633
these look really good!

[2018-11-09 00:56] octavioamu commented on #2587
Updated with some others elements
![image](https://user-images.githubusercontent.com/1358093/48236455-65b2e080-e3a9-11e8-859c-72fb8f7a6ab8.png)

[2018-11-09 09:33] thelostone-mc commented on #2019
@captnseagraves you mean like a placeholder ?
I could throw in the robot prime logo and below that stating

unless @willsputra has something for this 🤔

[2018-11-09 10:16] kuhnchris commented on #2544
So, to sum it up (and so I can start working on it):
- Weekly email
- Should contain the activities on Bounties that the user funded
- Contain a link to each bounty
- "warn" them if work has been submitted but not yet been checked/payed/comment ?

Any special design wishes, else I'll just try to throw the data in as it comes.
cc @PixelantDesign if you want to make a mock-up. ;-)

[2018-11-09 11:05] thelostone-mc commented on #2718
Had some weird issues with the history search bit.
Clicking on the history should ideally add the filters but that doesn't seem to be happening
It also sort of seems broken in live

@frankchen07 @PixelantDesign  Do I hide it for now? If we are not gonna keep it -> I'd rather just delete the code than sit and fix it

This is the current state of the this task

![untitled](https://user-images.github

[2018-11-09 11:22] thelostone-mc commented on #2579
So we always display the github username in the activities stream but on the footer we display the name of the funder which in this case @PixelantDesign has chosed to hide which is why that is anonymous.

The most sensible thing at this point in my head is
- Show the github username as opposed to the name of the funder in the funder info.
- Or do a check to see if funder doesn't want his name to b

[2018-11-09 11:31] thelostone-mc commented on #2534
@PixelantDesign Can I get an example of this?
The link you posted seems to be alright 🤔

[2018-11-09 11:36] thelostone-mc commented on #2718
@owocki

[2018-11-09 12:02] PixelantDesign opened #2743 "Issues with Gitcoin Reauthorization"
**Problem**

**User locked out of Gitcoin account and unable to reauthorize Gitcoin.**

https://gitcoin.co/profile/anukul

**Expected behavior**
[comment]: # (A clear and concise description of what you expected to happen.)

Be able to reauthorize without loops.

**Screenshots**
<img width="646" alt="screen shot 2018-11-09 at 7 01 18 am" src="https://user-images.githubusercontent.com/238235/482615

[2018-11-09 13:12] troggy opened #2745 "Contribution sent directly to the contract is not caught up"
**Describe the bug**
We at LeapDAO use MultiSig wallet (by Gnosis) and would like to fund bounties directly from that wallet. As a test, I've sent a small`contribute` transaction from the multisig. Transaction went through just fine, but the contribution did not appear on Gitcoin UI. Is it just slow sync or something might be wrong?

Transaction: https://etherscan.io/tx/0x227fea7fa83b4911813c64ca1

[2018-11-09 14:44] willsputra commented on #2375
heya @nanspro how's it going?

[2018-11-09 14:57] willsputra commented on #2019
@thelostone-mc @captnseagraves Maybe we could use a layout similar to https://github.com/gitcoinco/web/issues/2508. What do you think?
![grants no subscriptions](https://user-images.githubusercontent.com/19514207/48269483-a4609d80-e472-11e8-9d9d-2f8bbbe13817.jpg)

[2018-11-09 16:35] captnseagraves commented on #2019
@willsputra Yes, that is great! @thelostone-mc is this something you have the bandwidth to implement in the next few days? If you're crunched for time we can go with the robot prime logo and copy above for the time being.

[2018-11-09 17:29] owocki commented on #2718
search history seems to work on live to me..

http://bits.owocki.com/656b75bcb926/Screen%20Recording%202018-11-09%20at%2010.28%20AM.gif

@thelostone-mc mind posting repro steps for what you think is broken on live?  btw, what branch is that on (your screencast)?

[2018-11-09 17:50] owocki opened #2746 "bug - wallpapers aren't placed correctly in saved image"
see this screencast:

![screen recording 2018-11-09 at 10 49 am](https://user-images.githubusercontent.com/513929/48279244-3766ec80-e40d-11e8-8075-0c2eb8e95100.gif)

acceptance criteria:
- fix this bug

[2018-11-09 17:50] owocki commented on #2746
@Dgilliams @kuhnchris any interest in this one? if not, ill bounty it

[2018-11-09 18:00] frankchen07 commented on #2718
@thelostone-mc - commented in the Slack channel as well, but it seems multiple Gitcoin Core members are a bit confused by the history tagging.

I'll recommend that we hide the history tabs as we migrate to the left hand side for now, and bring that feature back when we have other prioritized items finished (mainly Gitcoin Bot, project workflow stuff, and surfacing open issues, and a bunch of other

[2018-11-09 18:06] thelostone-mc commented on #2019
@captnseagraves consider it done :)

[2018-11-09 18:09] thelostone-mc commented on #2718
@owocki
https://github.com/gitcoinco/web/pull/2744
branch : explorer

In live :
![untitled](https://user-images.githubusercontent.com/5358146/48280103-a168ab80-e478-11e8-9479-b15987d56043.gif)

@frankchen07 Alrighty will hide it for now ^_^

[2018-11-09 18:38] frankchen07 commented on #2579
I like your thought that the default should be showing the Github username - let's implement that.

As for checking to see if the funder wants his/her full name shown, I want to open another ticket and place it to the greater team on removing the anonymity function on the funder form completely, since it's not truly anonymous. It's also adds another concerning decision point for the funder to make

[2018-11-09 19:08] frankchen07 opened #2748 "Remove the "full name" entry and the option to hide it on the Gitcoin funder form."
### User Story

As a funder in the open source community, true anonymity is not really possible. When funding an issue, I want as few decision points as possible from start to successfully funding an issue.

On an Issue Details page, "Anonymous" is shown under the Funder section, but if the funder interacts on the Github issue, they eventually have their information exposed in the all activity sec

[2018-11-09 19:12] captnseagraves opened #2749 "Grants "How it works""
Add a "How It Works" drop down in the Grants Nav like in Bounties. It should have options for Grants Creators and Funders.

We also need to implement showing a user the quickstart guide whenever it is their first time visiting grants/new or grants/X/fund, as is done in bounties.

[2018-11-09 22:35] kuhnchris opened #2752 "As a community user, I want to know what topics were discussed in the weekly zoom meetings, so that I become a valuable member of the community"
### User Story

As a community user, I want to know what topics were discussed in the weekly zoom meetings, so that I become a valuable member of the community. Right now staff has to update the zoom meetings and other materials on the community repository http://gitcoin.co/community manually.
This task is to change that.

### Why Is this Needed

Reduce manual labor work for gitcoin members.

###

[2018-11-09 22:36] owocki opened #2753 "grants QA from kevin owocki - 20181109"
https://grants.gitcoin.co/grants/new

- these three fields ( http://bits.owocki.com/df61f9caf495/Screen%20Shot%202018-11-09%20at%203.29.32%20PM.png ) are confusing to me.  what is the difference between the 3 of them?
- Admin Wallet Address should prefill web3.eth.coinbase
- Frequency of payments field -> why is the inger input so wide?
- integrity error upon insert:

[code]

https://grants.gitcoi

[2018-11-09 22:40] FrederikBolding commented on #2733
@owocki Here's an initial implementation (that generates some test data + hasn't been cleaned up nicely yet). https://github.com/FrederikBolding/web/commit/8ae6b4fe6f950b3faebd2ae591f500d069bea84d

I just want to make sure it functions as intended, as I was unsure about how and what data you wanted to show.

I've had to port some of the d3 in the snippet you included as I saw you were using d3 v4

[2018-11-09 22:44] owocki commented on #2749
cc @PixelantDesign to decide if/when its a priority

[2018-11-09 22:51] owocki commented on #2733
@FrederikBolding im mobile right now and can't pull down the code.. mind sending me a screenshot or an ngrok link where i can play with it?

[2018-11-09 22:58] Dgilliams opened #2754 "Bug - Avatar builder inconsistencies"
The avatar builder is experiencing some "quirks" where layers are rearranged/not displayed.

**To Reproduce**
- Enter the avatar builder and add a hairstyle
![incorrectlayering_ineditor](https://user-images.githubusercontent.com/5957019/48292398-08617280-e42f-11e8-8b7e-e15388bcdbb3.PNG)

- save avatar, go to home page, avatar changes worked.

- returned to the avatar builder and the hair style was

[2018-11-09 23:03] FrederikBolding commented on #2733
@owocki - Here's a ngrok version live atm: http://b8e579d4.ngrok.io/gas/heatmap

[2018-11-09 23:06] owocki commented on #2733
[screenshot](http://bits.owocki.com/e0550520516a/Screen%20Shot%202018-11-09%20at%204.05.47%20PM.png)

this looks great.. the only thing i can think of to add is a hover tooltip that shows the attributes (avg gas price, etc) of each cell

wanna PR it up?  im thrilled at how far its come along :)

[2018-11-09 23:08] FrederikBolding commented on #2733
@owocki It should show the timestamp and gas price on hover already - I'm just not entirely sure that it's showing the data quite as you want - but a code review for the PR should solve all doubts?

[2018-11-09 23:28] nanspro commented on #2375
Facing some issues with testing but i'll submit a PR soon

[2018-11-09 23:29] captnseagraves commented on #2753
1. The first field is the total amount of funds sought for the grant. The second, I thought would be useful to display for users to judge how much to give on a monthly basis, but recognizing now that it is confusing and probably scope creep. The third field is a product of the smart contract. You can  require a specific amount for each subscription. E.g. Netflix requires you to pay $9.99 a month.

[2018-11-10 00:18] Anish-Agnihotri commented on #2748
I'll PR this tonight.

Simple issue involving removal of invoke to `shared/name.html` and changing `bounty_owner_name` to default to `githubUsername`.

[2018-11-10 00:47] owocki commented on #1964
just tested this.. works really good!

[2018-11-10 00:50] #1964 closed

[2018-11-10 01:44] owocki commented on #2753
thanks for prompt response..

i wish there was threading within a github issue?

1. maybe worth putting this info into a tooltip so an end user will understand it?
2. i think it should prefill.  if users want to change it, ( ie if team wants to have their funds sent to a multi-sig? ) they can always overwrite it
3. maybe 50% 50% with the select field
4. i simply submitted the form.

5. ok.
6. i ca

[2018-11-10 02:44] Anish-Agnihotri commented on #2748
Completed and pushed out in above PR. Feel free to let me know if you'd like me to remove some of the now redundant code related to the `bounty_owner_name` variable.

[2018-11-10 02:54] #2733 closed

[2018-11-10 02:55] owocki commented on #2733
wanna submit the bounty @FrederikBolding so i can pay u out?

[2018-11-10 09:08] thelostone-mc commented on #2749
https://github.com/gitcoinco/web/pull/2747 takes care of that when user visits `grants/new`  and `grants/profile/xxx` (when they have no grant activity )

Is how it works the same as the quickstart / different view all together?
If it's the former I can just throw it in there
@owocki

[2018-11-10 17:25] christianbundy opened #2758 "Rename "warning" to "reminder""
Sorry, none of the issue templates looked right for this issue, but I wanted to recommend changing the text on the gitcoinbot warning to replace "warning" with "reminder". I'm not sure whether the :warning: :warning: :warning: vibes are necessary, but if they *aren't* then I think the message would sound friendlier as:

[2018-11-10 19:18] thelostone-mc commented on #2579
@kuhnchris 7 @frankchen07 we've got a fix out over at https://github.com/gitcoinco/web/pull/2759 ^_^

[2018-11-10 19:20] thelostone-mc commented on #2748
@Anish-Agnihotri left a few feedback comments!

[2018-11-10 20:12] ceresstation commented on #2261
Hey @nanspro are you able to submit a PR by end of day Monday? Unfortunately otherwise we'll have to take you off the issue.

[2018-11-10 22:06] kuhnchris commented on #2579
Great, thanks for the hard work! :-)

[2018-11-10 23:11] FrederikBolding commented on #2733
@owocki Will do very soon - Apparently I didn't have enough ETH on the account I had access to right now and had to try getting some from the faucet.

Btw, you might want to remove the debug code here: https://github.com/gitcoinco/web/blob/ea059fb9f35176f90326db94b806602197cc075e/app/retail/templates/gas_heatmap.html#L28

[2018-11-11 15:37] Ricky-N opened #2761 "Local GitHub integration triggers rate limiting"
**Describe the bug**
Local development for GitHub integration on master causes errors regarding "too many redirects" and rate limiting from GitHub-side during regular usage. From the network panel, it seems to spam too excessive numbers of login attempts, even following login. Initial login and app approval was spotty but seems possible. After initial login, visiting the "Avatar Builder" triggers

[2018-11-11 16:06] mkosowsk commented on #2037
Hi @PixelantDesign and @thelostone-mc is there still a merge freeze? Getting this merged in would be super helpful for paying out ETHPrize bounties :)

[2018-11-11 17:54] santteegt opened #2763 "Null address when trying to pull account address from Metamask"
**Describe the bug**

I'm getting a `null` value when trying to pull my ETH account address form Metamask.

**To Reproduce**

This happens in the `Manage Settings/Account` option as well as in the `Add Account` button in the Kudos section within my profile

**Expected behavior**

Metamask active account address should be placed.

**Desktop:**

- OS: macOS High Sierra 10.13.6
- Browser: Google Chro

[2018-11-11 20:43] FrederikBolding commented on #2733
There it is @owocki 😄

[2018-11-11 21:01] kuhnchris opened #2764 "Canceling "started" bounties shows wrong error message"
**Describe the bug**
When a started bounty needs to be cancelled, the wrong error message appears.
This issue is in here:
https://github.com/gitcoinco/web/blob/a52adc187cee91df3ffd6a80d743d13de760ce8e/app/assets/v2/js/pages/kill_bounty.js#L68
Basically we need a split between "is_open" and "is_started".

**To Reproduce**
Fund issue, have someone start it, try to cancel it

**Expected behavior**
Er

[2018-11-11 21:01] FrederikBolding commented on #2469
@mkosowsk Let me know if it doesn't get done, I'll be able to do it as soon as possible 😄

[2018-11-11 23:14] mkosowsk commented on #2469
@arealdeadone do you think you will be able to submit a PR in the next couple weeks? If not, I think it may make sense to throw this one to the crowd :)

My apologies on putting a 12-month deadline on this bounty, I think it 1-month would have been more appropriate. Will do so going forward 👍

[2018-11-12 09:16] kuhnchris commented on #2545
Hmm there seem to be different WAYS of showing tips?
![image](https://user-images.githubusercontent.com/761911/48337728-0d5b3780-e664-11e8-931f-46d82253e068.png)

[2018-11-12 09:41] holgerd77 commented on #2730
Just had the same idea (just thinking about how to properly label Gitcoin - or generally bounty - issues on the [ethereumjs](https://github.com/ethereumjs/) org) and thought if I would find an associated issue here (found it 😄), so I would be very much in support for this!

I would also find it optimal, if Gitcoin bot would just (eventually with one opt-in on bounty creation) do the labelling itse

[2018-11-12 11:32] nanspro commented on #2375
Hey @willsputra @owocki I am getting failed test cases but these test cases were failing even before the change I made. What do I do about it?

[2018-11-12 11:43] thelostone-mc commented on #2758
@frankchen07 I like this 👍
What do you think ?

[2018-11-12 14:07] PixelantDesign commented on #2712
![received kudos](https://user-images.githubusercontent.com/238235/48352312-6e7e0d80-e65a-11e8-8d82-f04abbd21a03.png)

[2018-11-12 14:21] kuhnchris commented on #2712
That looks more awesome!
Actually we should also include something like "Return the favor to <username who sent kudos> by sending him one too!", but aside from that, we looks good to me. @owocki any suggestions?

[2018-11-12 14:21] PixelantDesign opened #2765 "Kudos Marketing - Encourage Sending Experience"
### Discussion

In order to encourage sending of Kudos we've discussed selecting active funders to send a handful of Kudos to in order to get them to try it out.

Here are a few ways we can do this. Note that in both options, we're providing free Kudos but asking senders to cover the gas cost.

**Option 1**
Adding the free kudos to the top of the marketplace section, and directing email to the mar

[2018-11-12 14:21] kuhnchris commented on #2375
do not worry about the failed cases, they are known already. As long as your change is basically fine, the PR should be good.

[2018-11-12 14:43] PixelantDesign commented on #2764
Thanks for creating this ticket @kuhnchris !

[2018-11-12 14:51] PixelantDesign commented on #2763
Thanks for reporting this @santteegt !

[2018-11-12 14:53] PixelantDesign commented on #2761
Thanks for reporting this @Ricky-N !

[2018-11-12 14:55] PixelantDesign commented on #2758
Thanks for the suggestion @christianbundy!
I think this is a great idea. More friendly for sure.

[2018-11-12 15:07] #2579 closed

[2018-11-12 15:12] owocki commented on #2763
this is a metamask thing, its been fixed and will be in the next build https://github.com/MetaMask/metamask-extension/issues/5716

[2018-11-12 15:42] thelostone-mc commented on #2025
Yup I'll add that in ! Pinged @willsputra if he needed to be done in a neater manner.
Once I get that , I'll add it 👍

[2018-11-12 15:46] #2758 closed

[2018-11-12 16:00] #2748 closed

[2018-11-12 16:12] christianbundy commented on #2758
Thanks all! That was quick.

[2018-11-12 16:17] #2538 closed

[2018-11-12 16:54] octavioamu commented on #2765
I wonder, should be interesting to have this free kudos inside bounty creation / payout?

[2018-11-12 17:05] PixelantDesign commented on #2765
If we could build a smart system that is a nice to have.

[2018-11-12 17:08] captnseagraves commented on #2749
@thelostone-mc I believe so, yes, it will work the same as the quickstart. The difference is that the quick start will only fire on the first visit, where as the placeholder should show regardless of how many times they have visited and always show if there are no grants or subscriptions.

[2018-11-12 17:10] nanspro commented on #2375
![screenshot from 2018-11-12 17-18-55](https://user-images.githubusercontent.com/24641089/48363362-bd17c000-e6cb-11e8-8ecb-da8bec0741ab.png)

[x] Added Bounties in Progress tab.
[x] Activity Entities are more clear.
[x] Picture showing repo logo.

[2018-11-12 17:11] nanspro commented on #2375
Didn't know how to test it more properly locally so i basically created a funder and a demo user and then checked these details.

[2018-11-12 17:17] austintgriffith opened #2770 "Unfurl to movie is nice, but I want them clicking into the issues"
**Describe the bug**
When I post a link to twitter or chat because I want people to click in and veiw a set of issues like this:
https://gitcoin.co/explorer?network=mainnet&keywords=burner-wallet&order_by=-web3_created
(All burner wallet issues)
It unfurls a movie. Totally cool for introducing Gitcoin, but the happy path is the person actually clicking in and looking at the issues. The movie ends

[2018-11-12 17:39] kuhnchris commented on #2712
Yeah that makes sense.

[2018-11-12 17:43] kuhnchris commented on #2770
So basically you want to have the proper "twitter-card meta tags" set for the page, correct?
see https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup

[2018-11-12 17:44] kuhnchris opened #2771 "For some reason "Work done" can occur multiple times."
**Describe the bug**
"Work done" is reported multiple times, despite only being submitted once.

**To Reproduce**
unknown

**Expected behavior**
1 Work done for 1 Work Commited

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48365365-ff7cd500-e6aa-11e8-968c-675834af8ff9.png)

[2018-11-12 17:45] owocki commented on #2764
ahh shoot, yeah [this looks wrong](http://bits.owocki.com/2c9c9de6105f/Screen%20Shot%202018-11-12%20at%2010.44.43%20AM.png)

[2018-11-12 17:46] kuhnchris opened #2772 "Update "What to Know" section (Auto-Approve)"
### Why Is this Needed
![image](https://user-images.githubusercontent.com/761911/48365446-44087080-e6ab-11e8-9fde-2d9d7a88e345.png)

*KuhnChris [9 hours ago]*
does the system really currently do that..?
*mbeacom [4 hours ago]*
By default, yes.  We recently merged a PR that allows the funder to disable this outright, though.
*owocki [3 minutes ago]*
hmm should we update the copy here?  @Pixelant [G

[2018-11-12 17:53] PixelantDesign commented on #2772
Thanks @kuhnchris !

[2018-11-12 17:56] kuhnchris commented on #2764
We even anaylzed the structure we received - it's definitly because is_open is not true anymore. Result does not contain a "is_started", we would need to add that to the python and then additionally check against that in that block, so the proper error is shown.

[2018-11-12 18:11] kuhnchris opened #2773 "DESIGN - As a potential worker, I would like to know the reason why I was rejected for a bounty, so I can improve myself"
### User Story
As a potential worker, I would like to know the reason why I was rejected for a bounty, so I can improve myself

### Why Is this Needed
*Summary*: I want to know why I was rejected

### Description
*Type*: Feature

### Current Behavior
- Worker was canceled without any information

### Expected Behavior
- Receive reason for rejection

### Definition of Done
- User has to enter reaso

[2018-11-12 18:15] PixelantDesign commented on #2773
Good point @kuhnchris.
Curious what you would have expected to see in addition to the rejected notification (short canned answer that a funder could select from or a detailed explanation)?

[2018-11-12 19:17] mbeacom opened #2774 "Google API client error"
[code]

[2018-11-12 19:46] kuhnchris commented on #2772
Hey there @PixelantDesign
Quick check on the source:

[code]
Should the same copy apply to the other texts aswell? (emails->start work new applicant, issue_details)

Thanks!

[2018-11-12 19:53] owocki commented on #2404
@Anish-Agnihotri how goez it

[2018-11-12 20:05] kuhnchris opened #2777 "OCD - the text within the "Kudos" block is not centered"
**Describe the bug**
Text is off-center

**To Reproduce**
look at the text

**Expected behavior**
text being in the center of the hexagons

**Screenshots**
![image](https://user-images.githubusercontent.com/761911/48372385-b767ad80-e6be-11e8-80c1-5525f7917921.png)

[2018-11-12 20:46] owocki commented on #2684
i really like the middle one

[2018-11-12 20:51] owocki commented on #2712
this looks good to me.  i agree with @thelostone-mc we could use a section for the comments that the sender attached to the kudos

[2018-11-12 20:51] owocki commented on #2712
does anyone wanna code it up or should we bounty the coding?

[2018-11-12 20:59] jakerockland commented on #2684
Gitcoin Pajamas are very rad.

[2018-11-12 21:37] kuhnchris commented on #2712
If I get the mock-up files I can get to it.

[2018-11-12 21:54] owocki commented on #2587
these look good to me.  can we get them coded up?

[2018-11-12 21:59] owocki commented on #2749
what @captnseagraves said makes sense to me

whats the idea behind having a seperate profile for `grants/` .. why not just fold the grants profile into the regular profile?  maybe add a tab next to 'all activity' and 'bounties completed' that is for grants...

[2018-11-12 21:59] owocki commented on #2749
ref: a broken grants profile :) https://grants.gitcoin.co/grants/profile/mbeacom

[2018-11-12 22:02] owocki commented on #2730
i think the problem is that gitcoinbot needs write permissions in order to label issues on the repo

from [github docs](https://help.github.com/articles/creating-a-label/):

gitcoinbot wont have write access on 99.999% of github projects..

[2018-11-12 22:03] kuhnchris commented on #2730
But wouldn't that be solved if we actually have gitcoinbot be permissioned when someone opens a new bounty with a link to a issue? basically they hit send, pay the fee/commision, ask for gitcoinbot permission and bam, good to go.
The only issue would be if the person is not permitted to label the issues themselves. Then, OK, that would cause an issue.

[2018-11-12 22:33] octavioamu commented on #2587
good point forgot to link the PR

[2018-11-12 23:59] owocki commented on #2684
lets PR it up!!

[2018-11-13 00:05] owocki opened #2778 "DESIGN - As a Gitcoin founder, I want storytelling about how all the products fit together, so I can articule how Bounties and CodeFund and Kudos and Grants and Research Fit together."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Gitcoin founder, I want storytelling about how all the products fit together.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

From our RAC panel feedback doc:

#

[2018-11-13 00:09] owocki opened #2779 "DESIGN - As a user, I want to be able to upload Kudos instead of add them to the YAML file / codebase, so Kudos are easier to deploy. As a Gitcoin founder, I want there to be an easy way for new artists to contribute to the platform to enable more liquidity and therefore revenue."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to upload Kudos instead of add them to the YAML file / codebase, so Kudos are easier to deploy.

As  a Gitcoin founder, I want there to be an easy way for new artists to contribute to the platform to enable more liquidity and therefore revenue.

### Why Is this Needed

[comment]: # (Descr

[2018-11-13 00:17] owocki opened #2780 "DESIGN - As a junior developer, I want a place to ask coding help questions to senior developers and have them quickly answered."
### User Story
As a junior developer, I want a place to ask coding help questions to senior developers and have them quickly answered

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2018-11-13 00:23] owocki opened #2781 "DESIGN - As a user, I want to be able to upload an avatar asset, so I don't have to spend time/effort downloading docker, testing them, PRing them, and waiting for deployment. As a Gitcoin Founder, I want to enable a revenue opportunity for Gitcoin to sell premium avatar items."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to upload an avatar asset, so I don't have to spend time/effort downloading docker, testing them, PRing them, and waiting for deployment.

 As a Gitcoin Founder, I want to enable a revenue opportunity for Gitcoin to sell premium avatar items.

### Why Is this Needed

[comment]: # (Describ

[2018-11-13 01:22] owocki commented on #962
first step => https://github.com/gitcoinco/web/issues/2781

[2018-11-13 01:26] bobjiang commented on #1843
I am review and update the Chinese version ( Simplified Chinese ).

and by the way, it is similar between Simplified Chinese and Traditional Chinese. and for those who understood Traditional Chinese, they could understand Simplified Chinese as well.

[2018-11-13 01:27] owocki opened #2782 "CODE JOB BOARD - As a user, I want a Blockchain Job Board so I can find professional work in the space . As a Gitcoin Founder, I want a job board for revenue."
As a Gitcoin Founder, I want a job board for revenue.

As a user, I want a Blockchain Job Board so I can find professional work in the space .
# What

Gitcoin should host a Blockchain Job Board which allows anyone to post a blockchain job for free.

Three pages

1. Index of Jobs
2. Job Detail Page
3. Post Job

# Attributes of Jobs

`Job` Database object, ideally in a new `job` django app

* Title,

[2018-11-13 01:27] owocki commented on #958
closing this in favor of https://github.com/gitcoinco/web/issues/2782

[2018-11-13 01:27] #958 closed

[2018-11-13 01:35] owocki opened #2783 "Explore More Virtual Goods Ideas"
https://medium.com/@alonbonder/virtual-goods-the-next-big-gold-rush-8b85d893c3b8

[2018-11-13 01:35] owocki opened #2784 "Explore More Subscriptions Ideas"

[2018-11-13 02:13] owocki opened #2785 "Add revenue Ideas from FEMMagicians"
https://github.com/FEMBusinessModelsRing/web3_revenue_primitives/

[2018-11-13 02:26] owocki opened #2786 "Managed Bounties"
2) Managed Bounties
You give us a list of issues you can’t get to OR we find them on your repo
We manage the bounties from posting, to assessing the bounty hunter, to completion
We could have a tiered model. More bounties needed to complete = more fee paid
We can rope in testimonials into the package
“After a certain amount of time we’d like you to be featured in a testimonial piece where we can w

[2018-11-13 02:26] owocki opened #2787 "Whitelabel Recruiters"
We take a 10% fee of first year salary for any employee who is hired following a successful relationship on Gitcoin

[2018-11-13 02:26] owocki opened #2788 "3) Hackathons Bounties / Bug Bounties"
We organize all the prizes for hackathons in a place where sponsors / others can be highlighted / payouts can be confirmed via the Gitcoin system
Bug bounties: We create bug bounty pages and are paid a % of each bug solved by a Gitcoin bounty hunter who was solicited through the bug bounty project?

[2018-11-13 02:27] owocki opened #2789 "Different Tokenization Options"
- Minting NFT’s
- TCR’s: Provide premium features, organize issue explorer
- Curved Bonding
- Use Gitcoin tokens to post bounties (i.e. you get 20 tokens a month representing the number of bounties you can post — this is your ‘gas’ to use the system)

[2018-11-13 03:34] owocki commented on #2718
hmm its the damnest thing.. i just cannot repro that..

maybe we should disable it and place a bounty on someone rewriting it to be a little bit more object orieted?

[2018-11-13 04:45] owocki commented on #2765
I'm a big fan of option 1.

[2018-11-13 04:46] owocki commented on #2765
Option 2: I think that profile is an awkward place for the free kudos.  Are they 'my kudos' ?  if not, then why are they on my profile. I think a funder dashboard is a better place for the option 2 kudos than the profile

[2018-11-13 04:55] owocki commented on #2763
fixed upstream!

[2018-11-13 04:55] #2763 closed

[2018-11-13 04:56] owocki commented on #2606
https://github.com/gitcoinco/web/pull/2685

[2018-11-13 05:18] owocki commented on #2606
https://github.com/gitcoinco/web/pull/2791

[2018-11-13 05:42] #2587 closed

[2018-11-13 05:43] thelostone-mc commented on #2712
@PixelantDesign mind sharing the sketch to my man @kuhnchris  ^_^

[2018-11-13 05:46] thelostone-mc commented on #2684
@owocki  we need to get those jammies made :P

[2018-11-13 07:21] kuhnchris commented on #2781
See https://github.com/gitcoinco/web/issues/2693

[2018-11-13 08:44] thelostone-mc commented on #2749
coolio I'll add it to the navbar and it will be accesible at `/how/grants/` ^_^

lol cause we hardcoded it 😂
will fix it up

makes sense to me

[2018-11-13 08:55] thelostone-mc commented on #2772
I think it should be left on `details` cause that's essentially this 🤔
which I believe we allow at the moment

<img width="895" alt="screen shot 2018-11-13 at 2 24 40 pm" src="https://user-images.githubusercontent.com/5358146/48401766-f09c2e00-e74f-11e8-9258-1dfb0200dc38.png">

[2018-11-13 10:14] thelostone-mc commented on #2782
Should we revisit the design mock-ups whenever we decide to prioritize it?

[2018-11-13 11:43] kuhnchris opened #2793 "Consolidated chat"
### User Story
As a active community member, I'd like to see all chats (gitter, slack, discord?) on a single system, so that I can help with questions and be available at the places it matters the most.

### Why Is this Needed
Currently there is no definitive line on where is the main communication channel (slack or gitter).

### Description
Feature

### Current Behavior
Separate clients/installs/

[2018-11-13 12:47] PixelantDesign opened #2794 "Gitcoin Activity should state which worker has been approved"
https://gitcoin.co/issue/GnosisEcosystemFund/Gnosis-Bounties-/2/1625

<img width="951" alt="screen shot 2018-11-13 at 7 44 18 am" src="https://user-images.githubusercontent.com/238235/48414224-1ad1f980-e718-11e8-94d3-8038ae4504e1.png">

[2018-11-13 13:03] PixelantDesign opened #2795 "Worker should not be able to submit work without clicking start work"
See this issue.
https://gitcoin.co/issue/spacemeshos/app/4/1388

## Definition of Done

- [ ] If worker submits work without clicking start work, display an error that asks them to click start work.

<img width="541" alt="screen shot 2018-11-13 at 7 54 23 am" src="https://user-images.githubusercontent.com/238235/48415176-a3519980-e71a-11e8-9c2f-97622bb09b1d.png">

[2018-11-13 14:10] PixelantDesign opened #2796 "Revenue - Referral Ideas"
Invite friends to complete bounties, and you get a small % of their completed bounty or some kind of fixed rate.

[2018-11-13 14:11] PixelantDesign opened #2797 "Revenue - Membership Ideas"
Pay for a small membership to Gitcoin and get first dibs to newly funded bounties, prior to these bounties being released to the broader community.

[2018-11-13 14:35] PixelantDesign commented on #2749
@captnseagraves could you define the content and we can put it into a design cycle? Thanks!

[2018-11-13 15:10] PixelantDesign opened #2798 "Grants QA"
**Landing page**
- Need a placeholder image for grants without an image. 
- Landing page needs some love

**Create Grant**
- remove light yellow background on URL
-  Description Field - make double the height - taller by default 
-  Whats the difference between - monthly/ required subscription amount in eth
-  Need calculation checks in place for total and monthly 
- Add length check on wallet add

[2018-11-13 15:16] owocki commented on #2795
https://github.com/gitcoinco/web/pull/2799

[2018-11-13 15:42] thelostone-mc commented on #2749
@owocki @captnseagraves so are we folding thy my grants to gitcoin profile ?

[2018-11-13 16:08] willsputra commented on #2025
@thelostone-mc thoughts? took cues from Kudos Marketplace for the bottom part (the search field, card style...)

![grants index](https://user-images.githubusercontent.com/19514207/48426152-27e6fb00-e7a1-11e8-9bc7-ffd4602093d3.png)

[2018-11-13 16:13] willsputra commented on #2403
@PixelantDesign @owocki thoughts?

![2a](https://user-images.githubusercontent.com/19514207/48426556-fe7a9f00-e7a1-11e8-8cea-88ebaf3a96d2.png)
![2b](https://user-images.githubusercontent.com/19514207/48426557-fe7a9f00-e7a1-11e8-8078-23f3aa3f52ed.png)

Another alternative is also to show the last sync timestamp.

![1a](https://user-images.githubusercontent.com/19514207/48426621-1d793100-e7a2-11e8-8

[2018-11-13 16:19] #2772 closed

[2018-11-13 16:23] #2375 closed

[2018-11-13 16:30] captnseagraves commented on #2749
Pixelant and I have had some discussions about this in the past. it makes sense to folds 'Grants' into the profile, but we had decided not to for v1. what is imagined is a nav bar with "How it Works" (which brings you to the quick start), "Active Grants" (which brings you to index.html), and "Your Grants" (brings you to what is now the "my grants" view).

[2018-11-13 16:33] captnseagraves commented on #2749
@owocki There was never an intetntion to have a grants/profile page. I think that name came through as Octavio created the foundation and named the route "profile". It should be "grants/yourGrants/captnseagraves"  or similar

[2018-11-13 16:53] mbeacom opened #2800 "AttributeError: 'User' object has no attribute 'active'"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1976/

[code]

[2018-11-13 16:54] #2800 closed

[2018-11-13 16:55] mbeacom commented on #2800
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1977/

[2018-11-13 17:15] kuhnchris opened #2802 "Metamask connection message is too vage"
**Describe the bug**
User does not really feel the need to use the "connect to metamask" to connect MetaMask to Gitcoin.

**To Reproduce**
Be unconnected from gitcoin, try to access gitcoin

**Expected behavior**
User understands he has to press the icon to connect MetaMask

**Additional context**
Mulili [18:01]
ohh wait, its now displaying mainnet bounties and i can see the submit page too :smile

[2018-11-13 18:25] owocki opened #2803 "20181113 -- Grants QA on Weekly Grants Team Call"
holistically:
- [x] black tophat does not show up across the site, and also the nav is the bounties nav
- [x] we should have a link to quickstart in the top nav

grants detail page:
- [x] on grants view, what to do about update posting?

fund a grant view:
- [x] on funding view, create view, cancel view, add eip 1102 support
- [x] new default image
- [x] remove ETH as an option for this (and maybe

[2018-11-13 18:39] kuhnchris opened #2804 "Split GitcoinBot Messages into separate Channels"
### User Story
As a slack user, I do not want to be pested by all the "activity warning", but also do not want to mute #notif-gitcoin because of new issues that are being created.

### Why Is this Needed
Because I only have so many hours in the day to check slack

### Description
Feature

### Current Behavior
Everything gitcoinbot related in #notif-gitcoin

### Expected Behavior
Split bounty notif

[2018-11-13 19:11] mbeacom opened #2805 "error in record_tip_activity: profile with github name PaddyMc not found"
https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/1983/

[code]

[2018-11-13 19:14] shailysangwan commented on #2754
This is taking longer than I had expected.
I find difficult to understand how different layers are organized (and the concept of parent layers / optional layers), so I'm dropping it for now.

[2018-11-13 19:16] kuhnchris commented on #2754
@Dgilliams we are discussing if we gonna rewrite the avatar builder, so you may hold onto that bounty for a bit ,mkay? cc @owocki

[2018-11-13 19:19] Dgilliams commented on #2754
@KuhnChris All good with me. If we were to rewrite it I'd like to suggest a
color wheel instead of the current color selection pattern as a
consideration.

On Tue, Nov 13, 2018, 2:16 PM KuhnChris <notifications@github.com wrote:

[2018-11-13 19:24] kuhnchris commented on #2754
Yeah, in my vision we can freely select any possible color with the new avatar system, but owocki and mbeacom would need to give their stamp of approval first

[2018-11-13 19:30] owocki commented on #2754
color wheel is a good idea.

i'd love to know what else you want to refactor / rewrite @kuhnchris @Dgilliams ..

@mbeacom wrote the original avatar builder.. and probably has some ideas about this

[2018-11-13 19:31] #2805 closed

[2018-11-13 19:34] thelostone-mc commented on #2037
Nah we've lifted off the merge freeze ^_^

[2018-11-13 19:46] thelostone-mc commented on #2403
I like the second alternative

[2018-11-13 21:02] kuhnchris commented on #2754
Basically have groups within the category (so you can see what you can combine, especially in accessories), each item colorable individually (by using variables in the SVG+XML, so we can actually manipulate them easily, kind of how the template system works now) (imagine blue mustache with green hair), use a single system for both, the preview and the "final" image (instead of having a processing

[2018-11-13 21:42] captnseagraves commented on #2798
Add tooltip for "Token Approval Limit" - Token Approval Limit - The maximum number of tokens a user approves another party to transfer from their account. Since Gitcoin Grants uses subscriptions, a small transaction is performed each time period, and with each transaction the approval limit is lowered by that amount. This way, you know your subscription won't run on forever. Unless you want it to

[2018-11-13 23:22] frankchen07 opened #2808 "As an admin, I want to be notified if a funder funds a bounty with an extremely low price because setting reasonable and fair hourly rates is one of many ways that OSS is sustained."
### User Story

As an admin, I want to be notified if a funder funds a bounty with an extremely low price because setting reasonable and fair hourly rates is one of many ways that OSS is sustained.

### Why Is this Needed

OSS sustainability is only possible if we pay developers a fair price for the value they put forth. Certain prices (e.g < $1) for any type of task is considered lowballing the d

[2018-11-14 00:05] kuhnchris commented on #2516
@owocki  may I propose a link to https://github.com/FEMBusinessModelsRing/web3_revenue_primitives since it lists business models, or you want to keep it separate?

[2018-11-14 03:22] usmanmuhd opened #2812 "Page shows no update after unlocking metamask"
When I open gitcoin with my metamask locked it shows `Unlock metamask` banner. After logging in to metamask, still the page does not update until I explicitly refresh.

![screencast from wednesday 14 november 2018 08_45_04 ist](https://user-images.githubusercontent.com/26684281/48458022-9c925780-e7ea-11e8-9b0d-47b5052b0e53.gif)

[2018-11-14 03:31] usmanmuhd opened #2813 "ReferenceError: is_metamask_approved is not defined"
**Describe the bug**
Once in a while ```Reference error is_metamask_approved is not defined in console.log```. It does not show any network in the gitcoin page also.

**To Reproduce**
Run into some bad luck

![screencast from wednesday 14 november 2018 08_54_19 ist](https://user-images.githubusercontent.com/26684281/48458249-846f0800-e7eb-11e8-83d4-624637855254.gif)

**Desktop:**

- OS: Ubuntu 18.

[2018-11-14 03:36] usmanmuhd commented on #2802
Actually in this case the user has not explicitly enabled the privacy mode, thereby it justifies the fact that he does not know about eip 1102.
The more appropriate bug would be to not need the user to connect to metamask unless the user has enabled privacy mode.

[2018-11-14 03:52] ceresstation opened #2814 "Contributor unable to submit work"
**Describe the bug**

A contributor who has been approved to start work in the issue below isn't able to submit their work for review.

https://gitcoin.co/issue/ethereum/py_ecc/11/1531

**To Reproduce**

Currently unclear. Will update as more information is available.

[2018-11-14 05:03] oogetyboogety commented on #2204
@PixelantDesign I should have this completed based on the additional review comments this week!

[2018-11-14 05:19] owocki commented on #2814
5791d5ffc8b33ecf6632344544872f623100a6dd

[2018-11-14 06:32] owocki commented on #2693
is it better to create all these scripts / steps in the build process, or should we just serve these assets out of the DB instead of the filesystem? https://github.com/gitcoinco/web/issues/2781

[2018-11-14 06:40] adamskrodzki opened #2815 "got an error. please try again, or contact support@gitcoin.co"
**Describe the bug**
I see followin error:
got an error. please try again, or contact support@gitcoin.co

when I access link
https://gitcoin.co/issue/PwayGames/PWay.Contracts/1/1678

with new version of metamask

**To Reproduce**
1) Insstall latest metamask
1) login to metamask and set on mainNet
2) enter https://gitcoin.co/issue/PwayGames/PWay.Contracts/1/1678

**Expected behavior**
Web3 properly

[2018-11-14 08:12] kuhnchris commented on #2693
Preferably from the filesystem, just caching it in redis for a while and invalidate it with a crontab to regenerate it to get "new" assets (so we wouldn't even need to restart to get new assets).

[2018-11-14 09:46] kuhnchris commented on #2814
This alone sadly does not solve it. Side-note: 831 is also f'ed. (no toLowerCase)

[2018-11-14 11:36] PixelantDesign opened #2816 "Gitcoin Nominations - November Edition"
![gitcoinnom](https://user-images.githubusercontent.com/238235/48480469-8da2a980-e7d8-11e8-9eb6-2cc129db061a.png)

### Who’s making the most impact on your OSS or Web3 project? Do you know someone that solved a problem in a creative way, built something interesting, or truly deserves a thanks? Nominate open source contributors to receive a limited edition and unique [Kudos](https://gitcoin.co/kudo

[2018-11-14 12:13] kuhnchris commented on #2808
Additionally I may also want to point, that we could include a "The average hourly rate on the platform currently is 0.XXX ETH per hour" when creating a bounty, and alert the user if his price (per estimated h) is lower than the 'platform average'. (just as an idea)

[2018-11-14 12:52] usmanmuhd commented on #2802
@kuhnchris we might just add a link to the metamask page explaining eip 1102 or a tooltip might also work. I prefer using the same **connect to metamask** as the metamask team has used it in their blog and numerous other places.

[2018-11-14 13:17] PixelantDesign opened #2817 "Skills Match Setting & Email - Update Keyword Description"
### User Story

As a user I'm unclear why Gitcoin recommends issues to me that do not match my skillsets.

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

In the email we should make this a little more clear that we match on the des

[2018-11-14 14:53] kuhnchris opened #2818 "Investigate anime.js for animated SVG (avatar; mail)"
### User Story
As a user I want to have fancy stuff.

### Why Is this Needed
Because I'm a user and I like fancy stuff.

### Description
Analyze a use for anime js
Doc: http://animejs.com/documentation/#svgAttributes
Example: Kudos Hexagons blend in, flashy stars in the Kudos mails, etc.

### Current Behavior
Moderatly fancy

### Expected Behavior
Super fancy

### Definition of Done
- [ ] Being su

[2018-11-14 14:56] kuhnchris commented on #2817
We could add why the bounty was selected, like "You get this bounty because of the following matching words: 'javascript'" and maybe a highlight.
Additionally, we could make this more clear by telling the user "Based on your tags and settings we found the following bounties that may also match your profile:" combined with the above info and "If you want to change this setting, please head over to